Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/Resources/CreacionClienteTarjetaCredito/xsd/creacionClienteTarjetaCreditoTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoTypes"
	xmlns:cct="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoTypes">
	
	<!-- stringMinLength1Type -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- customerInfo -->
    <xs:complexType name="customerInfo">
    	<xs:sequence>
    		<xs:element name="IDENTIFICATION_TYPE" type="xs:string"/>
    		<xs:element name="IDENTIFICATION_NUMBER" type="xs:string"/>
    		<xs:element name="CUSTOMER_TYPE" type="xs:string"/>
    		<xs:element name="COUNTRY_ID" type="xs:string"/>
    		<xs:element name="ECONOMIC_ACTIVITY_ID" type="xs:string"/>
    		<xs:element name="TYPE_OF_PERSON" type="xs:string"/>
    		<xs:element name="NAMES" type="xs:string"/>
    		<xs:element name="FIRST_SURNAME" type="xs:string"/>
    		<xs:element name="SECOND_SURNAME" type="xs:string"/>
    		<xs:element name="MARRIED_LAST_NAME" type="xs:string" minOccurs="0"/>
    		<xs:element name="GENDER" type="xs:string"/>
    		<xs:element name="DATE_OF_BIRTH" type="xs:date" minOccurs="0"/>
    		<xs:element name="MARITAL_STATUS" type="xs:string" minOccurs="0"/>
    		<xs:element name="SPOUSE_NAME" type="xs:string" minOccurs="0"/>
    		<xs:element name="CODE_OCUPACION" type="xs:string" minOccurs="0"/>
    		<xs:element name="EDUCATION_LEVEL" type="xs:string" minOccurs="0"/>
    		<xs:element name="CHILDREN_NUMBERS" type="xs:string" minOccurs="0"/>
    		<xs:element name="PLACE_OF_BIRTH" type="xs:string" minOccurs="0"/>
    		<xs:element name="PROFESSION_CODE" type="xs:string" minOccurs="0"/>
    		<xs:element name="SEGMENT_CODE" type="xs:string" minOccurs="0"/>
    		<xs:element name="IS_WORK" type="xs:string"/>
    		<xs:element name="COMPANY_TYPE" type="xs:string" minOccurs="0"/>
    		<xs:element name="CLIENT_RISK" type="xs:string" minOccurs="0"/>
    		<xs:element name="EXPIRATION_DATE" type="xs:date" minOccurs="0"/>
    		<xs:element name="IS_EMPLOYEE" type="xs:string" minOccurs="0"/>
    		<xs:element name="PEPS" type="xs:string" minOccurs="0"/>
    		<xs:element name="NIT_NUMBER" type="xs:string" minOccurs="0"/>
    		<xs:element name="CPE_TYPE" type="xs:string" minOccurs="0"/>
    		<xs:element name="CUSTOMER_CPE" type="xs:string" minOccurs="0"/>
    		<xs:element name="CPE_INSTITUTION" type="xs:string" minOccurs="0"/>
    		<xs:element name="CPE_PRODUCT_SERVICE" type="xs:string" minOccurs="0"/>
    		<xs:element name="CPE_PRODUCT_SERVICE_CATEGORY" type="xs:string" minOccurs="0"/>
    		<xs:element name="CPE_PRODUCT_ASOC" type="xs:string" minOccurs="0"/>
    		<xs:element name="CPE_OTHER_PRODUCTS" type="xs:string" minOccurs="0"/>
    		<xs:element name="CPE_GUATECOMPRAS_STATUS" type="xs:string" minOccurs="0"/>
    		<xs:element name="PEP_HERITAGE" type="xs:string" minOccurs="0"/>
    		<xs:element name="PEP_OWN_BUSINESS" type="xs:string" minOccurs="0"/>
    		<xs:element name="PEP_OTHERS" type="xs:string" minOccurs="0"/>
    		<xs:element name="PEP_BANK_LENDING" type="xs:string" minOccurs="0"/>
    		<xs:element name="PEP_CURRENT_WORK" type="xs:string" minOccurs="0"/>
    		<xs:element name="PEP_OLD_WORK" type="xs:string" minOccurs="0"/>
    		<xs:element name="PEP_RELATIONSHIP_TYPE" type="xs:string" minOccurs="0"/>
    		<xs:element name="PEP_NAME" type="xs:string" minOccurs="0"/>
    		<xs:element name="PEP_WORK" type="xs:string" minOccurs="0"/>
    		<xs:element name="PEP_POSITION" type="xs:string" minOccurs="0"/>
    		<xs:element name="PORE_CLIENT" type="xs:string" minOccurs="0"/>
    		<xs:element name="PORES_ACTIVITY" type="xs:string" minOccurs="0"/>
    		<xs:element name="EXPIRATION_ID" type="xs:string"/>
		<xs:element name="FREQUENT_FLYEER" type="xs:string" minOccurs="0"/>
    		<xs:element name="FLYER_TYPE" type="xs:string" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <!-- customerAddress -->
    <xs:complexType name="customerAddress">
    	<xs:sequence>
    		<xs:element name="ADDRESS_CODE" type="xs:string" minOccurs="0"/>
    		<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0"/>
    		<xs:element name="DEPARMENT_CODE" type="xs:string" minOccurs="0"/>
    		<xs:element name="MUNICIPALITY_CODE" type="xs:string" minOccurs="0"/>
    		<xs:element name="NOMENCLATURE" type="xs:string" minOccurs="0"/>
    		<xs:element name="ZONE" type="xs:string" minOccurs="0"/>
    		<xs:element name="PHONES" type="xs:string" minOccurs="0"/>
    		<xs:element name="FAX" type="xs:string" minOccurs="0"/>    	
    		<xs:element name="ADDRESS_TYPE_CODE" type="xs:string"/>
    		<xs:element name="SECTOR_CODE" type="xs:string" minOccurs="0"/>
    		<xs:element name="COLONY" type="xs:string" minOccurs="0"/>
    		<xs:element name="POSTAL_CODE" type="xs:string" minOccurs="0"/>
    		<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
    		<xs:element name="PHONE_MOBILE" type="xs:string" minOccurs="0"/>
    		<xs:element name="HOUSE_NUMBER" type="xs:string" minOccurs="0"/>
    		<xs:element name="REFERENCE" type="xs:string" minOccurs="0"/>
    		<xs:element name="EXT" type="xs:string" minOccurs="0"/>
    		<xs:element name="MUNICIPALITY_OF_ISSUE_DOCUMENT" type="xs:string" minOccurs="0"/>
    		<xs:element name="DEPARMENT_OF_ISSUE_DOCUMENT" type="xs:string" minOccurs="0"/>
    		<xs:element name="NIT_TYPE" type="xs:string" minOccurs="0"/>
    		<xs:element name="OTHER_NATIONALITY" type="xs:string" minOccurs="0"/>
    		<xs:element name="IS_RESIDENT_EEUU" type="xs:string" minOccurs="0"/>
    		<xs:element name="IMMIGRATION" type="xs:string" minOccurs="0"/>
    		<xs:element name="INMMIGRATION_STATUS" type="xs:string" minOccurs="0"/>
    		<xs:element name="EEUU_PHONE" type="xs:string" minOccurs="0"/>
    		<xs:element name="INCOME_CURRENCY" type="xs:string" minOccurs="0"/>
    		<xs:element name="INCOME_RANGE" type="xs:string" minOccurs="0"/>
    		<xs:element name="EXPENSE_CURRENCY" type="xs:string" minOccurs="0"/>
    		<xs:element name="EXPENSE_RANGE" type="xs:string" minOccurs="0"/>
    		<xs:element name="RATE_RISK" type="xs:string" minOccurs="0"/>
    		<xs:element name="ECONOMIC_SECTOR" type="xs:string" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="customerAddresses">
    	<xs:sequence>
    		<xs:element name="CUSTOMER_ADDRESS" type="cct:customerAddress" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
        
    <!-- customerTypeOfEmployment -->
    <xs:complexType name="customerTypeOfEmployment">
    	<xs:sequence>
    		<xs:element name="EMPLOYMENT_SEQUENCE" type="xs:string" minOccurs="0"/>
    		<xs:element name="POSITION" type="xs:string" minOccurs="0"/>
    		<xs:element name="COMPANY_NAME" type="xs:string" minOccurs="0"/>
    		<xs:element name="ENTRY_DATE" type="xs:date" minOccurs="0"/>
    		<xs:element name="SALARY_RANGE_CODE" type="xs:string" minOccurs="0"/>
    		<xs:element name="COMPANY_TYPE_EMPLOYMENT" type="xs:string" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
        
    <xs:complexType name="customerTypeOfEmployments">
    	<xs:sequence>
    		<xs:element name="CUSTOMER_TYPE_OF_EMPLOYMENT" type="cct:customerTypeOfEmployment" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
 
  
    <!-- customerPersonalReferences -->
    <xs:complexType name="customerPersonalReference">
    	<xs:sequence>
    		<xs:element name="PERSONAL_REFERENCE_CODE" type="xs:string"/>
    		<xs:element name="NAME" type="xs:string" minOccurs="0"/>
    		<xs:element name="REFE_TYPE" type="xs:string" minOccurs="0"/>
    		<xs:element name="PHONE" type="xs:string"/>
    		<xs:element name="FIRST_SURNAME" type="xs:string" minOccurs="0"/>
    		<xs:element name="SECOND_SURNAME" type="xs:string" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="customerPersonalReferences">
    	<xs:sequence>
    		<xs:element name="CUSTOMER_PERSONAL_REFERENCE" type="cct:customerPersonalReference" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>

    <!-- customerInstCEP -->
    <xs:complexType name="customerInstCEP">
    	<xs:sequence>
    		<xs:element name="INSTITUTION_NAME" type="xs:string"/>
    		<xs:element name="TYPE_OF_GOOD_INSTITUTION" type="xs:string"/>
    		<xs:element name="CATEGORY_CODE" type="xs:string"/>
    	</xs:sequence>
    </xs:complexType>
    
    <!-- customerCEP -->
    <xs:complexType name="customerCEP">
    	<xs:sequence>
    		<xs:element name="ASSOCIATED_PRODUCT" type="xs:string" minOccurs="0"/>
    		<xs:element name="OTHER_PRODUCTS" type="xs:string" minOccurs="0"/>
    		<xs:element name="STATUS_GUATECOMPRAS" type="xs:string" minOccurs="0"/>
    		<xs:element name="NATIONALITY_CEP" type="xs:string" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <!-- customerPore -->
    <xs:complexType name="customerPore">
    	<xs:sequence>
    		<xs:element name="ACTIVITY_CODE" type="xs:string" minOccurs="0"/>
    		<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
    		<xs:element name="COMPANY_TYPE_PORE" type="xs:string" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <!-- customerPEP -->
    <xs:complexType name="customerPEP">
    	<xs:sequence>
    		<xs:element name="RELATIONSHIP_CODE" type="xs:string" minOccurs="0"/>
    		<xs:element name="NAME" type="xs:string" minOccurs="0"/>
    		<xs:element name="COMPANY" type="xs:string" minOccurs="0"/>
    		<xs:element name="POSITION" type="xs:string" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <!-- chanelCodeType -->	
	<xs:complexType name="channel">
		<xs:sequence>
			<xs:element name="CHANNEL_CODE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="channelCodeType">
    	<xs:sequence>
    		<xs:element name="CHANNEL" type="cct:channel" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
	
	 <!-- addressWorkInfo -->
	<xs:complexType name="addressItem">
		<xs:sequence>
			<xs:element name="ADDRESS" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="addressWorkInfo">
		<xs:sequence>
			<xs:element name="ADDRESS_ITEM" type="cct:addressItem" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
	<xs:element name="creacionClienteTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:integer"/>
				<xs:element name="MAKER_INDICATOR" type="xs:integer" minOccurs="0"/>
				<xs:element name="DOUBLE_CURRENCY_INDICATOR" type="xs:integer" minOccurs="0"/>
				<xs:element name="VIP_CLIENT_INDICATOR" type="xs:integer" minOccurs="0"/>
				<xs:element name="RESIDENCE_TYPE" type="xs:integer" minOccurs="0"/>
				<xs:element name="EMPLOYMENT_YEARS" type="xs:string" minOccurs="0"/>
				<xs:element name="EMPLOYMENT_MONTHS" type="xs:string" minOccurs="0"/>
				<xs:element name="STATE" type="xs:string" minOccurs="0"/>
				<xs:element name="DRIVERS_LICENCE" type="xs:string" minOccurs="0"/>
				<xs:element name="INCOMES" type="xs:string" minOccurs="0"/>
				<xs:element name="OTHERS_INCOMES" type="xs:string" minOccurs="0"/>
				<xs:element name="ISSUE_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="COUNTRY_OF_ISSUE_PASSAPORT" type="xs:string" minOccurs="0"/>
				<xs:element name="COUNTRY_OF_ISSUE_DOCUMENT" type="xs:string" minOccurs="0"/>
				<xs:element name="DOCUMENT_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="DOCUMENT_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="ADDRESS_WORK_INFO" type="cct:addressWorkInfo" form="qualified" minOccurs="0"/>
				<xs:element name="RELATIVE_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="LIST_OF_CHANNELS" type="cct:channelCodeType" form="qualified" minOccurs="0"/>	
				<xs:element name="CUSTOMER_INFO" type="cct:customerInfo" form="qualified"/>
				<xs:element name="CUSTOMER_ADDRESSES" type="cct:customerAddresses" form="qualified"/>
				<xs:element name="CUSTOMER_TYPE_OF_EMPLOYMENTS" type="cct:customerTypeOfEmployments" form="qualified"/>
				<xs:element name="CUSTOMER_PERSONAL_REFERENCES" type="cct:customerPersonalReferences" form="qualified"/>
				<xs:element name="CUSTOMER_INST_CEP" type="cct:customerInstCEP" form="qualified"/>
				<xs:element name="CUSTOMER_CEP" type="cct:customerCEP" form="qualified"/>
				<xs:element name="CUSTOMER_PORE" type="cct:customerPore" form="qualified"/>	
				<xs:element name="CUSTOMER_PEP" type="cct:customerPEP" form="qualified"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="creacionClienteTarjetaCreditoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>