Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ValidacionToken/xsd/validacionTokenTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ValidacionTokenTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/ValidacionTokenTypes">
	
	<xs:element name="ValidacionToken">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="USERNAME" type="xs:string"  minOccurs="1" nillable="false"/>
            <xs:element name="TOKEN" type="xs:string"  minOccurs="1"/>
          </xs:sequence>
        </xs:complexType> 
      </xs:element>
      
      <xs:element name="ValidacionTokenResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SERIAL_NUMBER" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
</xs:schema>