Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABK/consultaFacturasCliente/xsd/consultaFacturasCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaFacturasCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaFacturasCliente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOCLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROCONTRATO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGODEUDOR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_PAGADA" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_PAGOPARCIAL" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_PENDIENTE" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_ANULADA" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_ERROR" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_ELIMINADA" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_PRE_ALTA" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_PRE_ELIMINADA" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_PRE_ANULADA" type="decimal" db:index="12" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PD_FECHAINICIO" type="dateTime" db:index="13" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PD_FECHAFIN" type="dateTime" db:index="14" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PV_TICKETOSB" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_REGISTROINICIAL" type="decimal" db:index="16" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CANTIDADREGISTROS" type="decimal" db:index="17" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_NUMEROCONTRATO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_REGISTROINICIAL" type="decimal" db:index="16" db:type="NUMBER" minOccurs="0" nillable="true"/>            
            <element name="PN_CANTIDADREGISTROS" type="decimal" db:index="17" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_TOTALREGISTROS" type="decimal" db:index="18" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PT_NOTRAN" type="db:TNUMBER" db:index="19" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGOMONEDA" type="db:TVARCHAR3" db:index="20" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGODOC" type="db:TNUMBER" db:index="21" db:type="Array" minOccurs="0" nillable="true"/>            
            <element name="PT_CODIGODEUDOR" type="db:TVARCHAR15" db:index="22" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOMBREDEUDOR" type="db:TVARCHAR50" db:index="23" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NUMDOC" type="db:TNUMBER" db:index="24" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_FECHAEMISION" type="db:TDATE" db:index="25" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_FECHAVENC" type="db:TDATE" db:index="26" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_FECHAPAGO" type="db:TDATE" db:index="27" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONTO" type="db:T_MONTO" db:index="28" db:type="Array" minOccurs="0" nillable="true"/>            
            <element name="PT_MORA" type="db:T_MONTO" db:index="29" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOREFERENCIA" type="db:TVARCHAR50" db:index="30" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DESCRIPCION" type="db:TVARCHAR100" db:index="31" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SITUACION" type="db:TNUMBER" db:index="32" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SITUACIONDESC" type="db:TVARCHAR100" db:index="33" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONTODEBITO" type="db:TNUMBER" db:index="34" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONTOCREDITO" type="db:TNUMBER" db:index="35" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TASADEBITO" type="db:TNUMBER" db:index="36" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TASACREDITO" type="db:TNUMBER" db:index="37" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONEDADEBITO" type="db:TVARCHAR3" db:index="38" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONEDACREDITO" type="db:TVARCHAR3" db:index="39" db:type="Array" minOccurs="0" nillable="true"/>            
            <element name="PT_FECHAHORA" type="db:TDATE" db:index="40" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_AGENCIAORIGEN" type="db:TNUMBER" db:index="41" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOMBREAGENCIAORIGEN" type="db:TVARCHAR50" db:index="42" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="43" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="44" db:type="VARCHAR2" minOccurs="0" nillable="true"/>                        
         </sequence>
      </complexType>
   </element>
   <complexType name="TVARCHAR100">
      <sequence>
         <element name="ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TDATE">
      <sequence>
         <element name="ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR3">
      <sequence>
         <element name="ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_MONTO">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TNUMBER">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR50">
      <sequence>
         <element name="ITEM" type="db:string50" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR15">
      <sequence>
         <element name="ITEM" type="db:string15" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>