Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/SJS/pagosMasivosInterno/xsd/sjPagosMasivosInterno.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjPagosMasivosInterno" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjPagosMasivosInterno">
	
	<xs:element name="sjPagosMasivosInterno">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME_HEADER" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="PASSWORD_HEADER" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="GLOBAL_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
    			<xs:element name="CUSTOMER_ID" minOccurs="1" maxOccurs="1">
			    	<xs:simpleType>
			    		<xs:restriction base="xs:string">
			    			<xs:minLength value="1"/>
			    		</xs:restriction>
			    	</xs:simpleType>
			    </xs:element>
			    <xs:element name="USERNAME" minOccurs="1" maxOccurs="1">
			    	<xs:simpleType>
			    		<xs:restriction base="xs:string">
			    			<xs:minLength value="1"/>
			    		</xs:restriction>
			    	</xs:simpleType>
			    </xs:element>  
				<xs:element name="BATCHES" type="cons:batchesType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		
	
		<!--BATCHES TYPES-->
 <xs:complexType name="batchesType">
 	<xs:sequence>  
   		<xs:element name="BATCH" type="cons:batchType" minOccurs="1" maxOccurs="unbounded"/>
 	</xs:sequence>   
 </xs:complexType>
 
  <!--BATCH TYPES-->
 <xs:complexType name="batchType">
 	<xs:sequence>
 		<xs:element name="CUSTOMER_BATCH_ID" minOccurs="1" maxOccurs="1">
 			<xs:simpleType>
 				<xs:restriction base="xs:string">
 					<xs:minLength value="1"/>
 				</xs:restriction>
 			</xs:simpleType>
 		</xs:element>
 		<xs:element name="TYPE" type="xs:integer" minOccurs="1" maxOccurs="1"/>
 		<xs:element name="APPLICATION_DATE" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
 		<xs:element name="DATA_STRUCTURE">
 			<xs:complexType>
 				<xs:sequence>
 					<xs:element name="VALIDATIONS" minOccurs="1" maxOccurs="1">
 						<xs:complexType>
 							<xs:sequence>
 								<xs:element name="DEBIT_ACCT_BALANCE" type="cons:yesNoType" minOccurs="1" maxOccurs="1"/>
 								<xs:element name="DEBIT_ACCT_STATUS" type="cons:yesNoType" minOccurs="1" maxOccurs="1"/>
 								<xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:integer" minOccurs="1" maxOccurs="1"/>
 								<xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
 							</xs:sequence>
 						</xs:complexType>
 					</xs:element>
 					<xs:element name="FIELDS" minOccurs="1" maxOccurs="1">
 						<xs:complexType>
 							<xs:sequence>
 								<xs:element name="FIELD" type="cons:multivalueType" minOccurs="1" maxOccurs="unbounded"/>
 							</xs:sequence>
 						</xs:complexType>
 					</xs:element>
 					 <xs:element name="DELIMITER" minOccurs="1" maxOccurs="1">
			 			<xs:simpleType>
			 				<xs:restriction base="xs:string">
			 					<xs:minLength value="1"/>
			 				</xs:restriction>
			 			</xs:simpleType>
			 		</xs:element>
 				</xs:sequence>
 			</xs:complexType>
 		</xs:element>
 		<xs:element name="TRANSACTIONS" minOccurs="1" maxOccurs="1">
 			<xs:complexType>
 				<xs:sequence>
 					<xs:element name="TRANSACTION" type="cons:multivalueType" minOccurs="1" maxOccurs="unbounded"/>
 				</xs:sequence>
 			</xs:complexType>
 		</xs:element>
 	</xs:sequence>
 </xs:complexType>
 
 <!-- YESNO TYPE -->
 <xs:simpleType name="yesNoType">
 	<xs:restriction base="xs:string">
		<xs:enumeration value="YES"/>
 		<xs:enumeration value="NO"/>
 	</xs:restriction>
 </xs:simpleType>
 
  <!-- MULTIVALUE TYPE -->
 <xs:complexType name="multivalueType">
	<xs:simpleContent>
		<xs:extension base="xs:string" />
	</xs:simpleContent>
 </xs:complexType>

	<xs:element name="sjPagosMasivosInternoResponse">
		<xs:complexType>
	   		<xs:sequence>
	    		<xs:element name="GLOBAL_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
    			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="BATCHES" type ="cons:batchesResponseType" minOccurs="0" maxOccurs="1"/>
	   		</xs:sequence>
  		</xs:complexType>
	</xs:element>
	
	 <!-- BATCHESRESPONSE TYPE -->
 <xs:complexType name="batchesResponseType">
 	<xs:sequence>
 		<xs:element name="BATCH" type="cons:batchResponseType" minOccurs="0" maxOccurs="unbounded"/>
 	</xs:sequence>
 </xs:complexType>
 
 <!-- BATCHRESPONSE TYPE -->
 <xs:complexType name="batchResponseType">
 	<xs:sequence>
 		<xs:element name="ID_POSITION" type="xs:integer" minOccurs="0" maxOccurs="1"/>
 		<xs:element name="BANK_BATCH_ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
 		<xs:element name="CUSTOMER_BATCH_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
 		<xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
 		<xs:element name="ERROR_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
 		<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
 	</xs:sequence>
 </xs:complexType>

</xs:schema>