Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ActualizacionDatosCliente/xsd/actualizacionDatosCliente.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaDatosClienteTypes"
	xmlns:act="http://www.ficohsa.com.hn/middleware.services/actualizaDatosClienteTypes">

<xs:element name="actualizaDatosCliente">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="CUSTOMER_ID"     type="xs:string" />
			<xs:element name="CUSTOMER_FIELDS" type="act:FieldList" minOccurs="0" />
            <xs:element name="CUSTOMER_BLOCKS" type="act:BlockList" minOccurs="0" />
	    </xs:sequence>
     </xs:complexType>
	</xs:element>

  <!--############################### -->
	<!--TYPE: FIELD-->
	<!--############################### -->
     <xs:complexType name="FieldList">
		<xs:sequence>
			<xs:element name="FIELD" type="act:Field" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Field">
		<xs:sequence>
				<xs:element name="ID"   type="xs:string" minOccurs="0" />
				<xs:element name="VALUE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

    
  <!--############################### -->
	<!--TYPE: BLOCK-->
	<!--############################### -->
     <xs:complexType name="BlockList">
		<xs:sequence>
			<xs:element name="BLOCK" type="act:Block" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Block">
		<xs:sequence>
				<xs:element name="TYPE"   type="xs:string" minOccurs="0" />
				<xs:element name="ITEMS"   type="act:ItemList" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

      <!--############################### -->
	<!--TYPE: ITEM-->
	<!--############################### -->
     <xs:complexType name="ItemList">
		<xs:sequence>
			<xs:element name="ITEM" type="act:Item" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Item">
		<xs:sequence>
				<xs:element name="ID"   type="xs:string" minOccurs="0" />
				<xs:element name="INDEX_ID" type="xs:string" minOccurs="0" />
				<xs:element name="FIELDS" type="act:FieldList" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
   
   
   

<xs:element name="actualizaDatosClienteResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="ADDRESS_INFO" type="act:addressListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<!--ADDRESS INFORMATION TYPES-->
<!--#########################--> 
 <xs:complexType name="addressListType">
  <xs:sequence>
   <xs:element name="ADDRESS_ITEM" type="act:addressType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 
<xs:complexType name="addressType">
	<xs:sequence>
		<xs:element name="ADDRESS_TYPE" type="xs:string"  minOccurs="0"/>		
		<xs:element name="ADDRESS_LINE_1" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_LINE_2" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_LINE_3" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_LINE_4" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_LINE_5" type="xs:string" minOccurs="0"/>
		<xs:element name="IS_MAIN_ADDRESS" type="xs:string" minOccurs="0"/>  
	</xs:sequence>
</xs:complexType>	
	
	

</xs:schema>