Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/NotificaEstadoChequeVirtual/xsd/notificaEstadoChequeVirtualTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/notificaEstadoChequeVirtualTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/notificaEstadoChequeVirtualTypes">
	
<!-- StringType -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType>  
	
	<xs:element name="notificaEstadoChequeVirtualResponse">	
		<xs:complexType>
			<xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	

	<xs:element name="notificaEstadoChequeVirtual">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="ID_RECORD_REF" type="cons:stringMinLength1"/>
			<xs:element name="USER_CODE" type="cons:stringMinLength1"/>
			<xs:element name="CHEQUE_NO" type="cons:stringMinLength1"/>
			<xs:element name="CURRENCY" type="cons:stringMinLength1"/>
			<xs:element name="AMOUNT" type="cons:stringMinLength1"/>
			<xs:element name="DATE_TIME" type="cons:stringMinLength1"/>
			<xs:element name="ISSUING_BANK" type="cons:stringMinLength1"/>
			<xs:element name="STATUS" type="cons:status"/>
			<xs:element name="MESSAGE" type="cons:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		
</xs:schema>