Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SJS/consultaRecaudoMultiplePA/xsd/sjConsultaRecaudoMultipleTypesPA.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaRecaudoMultipleTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaRecaudoMultipleTypes">

	<xs:element name="consultaRecaudoMultiple">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="AGREEMENTS" type="cons:agreementsTypes" minOccurs="1" maxOccurs="1"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="agreementsTypes">
		<xs:sequence>
			<xs:element name="AGREEMENT" type="cons:agreementType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="agreementType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DEBTORS" type="cons:debtorsType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="debtorsType">
		<xs:sequence>
			<xs:element name="DEBTOR" type="cons:debtorType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="debtorType">
		<xs:sequence>
			<xs:element name="TRACE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CODE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BILL_INFO" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
						<xs:element name="DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
						<xs:element name="RETURN_TYPE" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ONE"/>
									<xs:enumeration value="ALL"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
            <xs:element name="EXTENDED_COLLECTION" minOccurs="0" maxOccurs="1">
            	<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
            </xs:element>
            <xs:element name="ADDITIONAL_INFO" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DATA" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:element name="consultaRecaudoMultipleResponse">
		<xs:complexType >
			<xs:sequence>
				<xs:element name="AGREEMENTS" type="cons:agreementsResponseType" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="agreementsResponseType">
		<xs:sequence>
			<xs:element name="AGREEMENT" type="cons:agreementResponseType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="agreementResponseType">
		<xs:sequence>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ID" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DEBTORS" type="cons:debtorsResponseType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="debtorsResponseType">
		<xs:sequence>
			<xs:element name="DEBTOR" type="cons:debtorResponseType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="debtorResponseType">
		<xs:sequence>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRACE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CODE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BILLS" type="cons:billsResponseType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DEALSLIP" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="billsResponseType">
		<xs:sequence>
			<xs:element name="BILL" type="cons:billResponseType" minOccurs="0" maxOccurs="unbounded"/>				
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="billResponseType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ISSUE_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DUE_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BALANCE" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CURRENCY" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="AMOUNT" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
						<xs:element name="LATE_FEE" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
						<xs:element name="TOTAL" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>