Fuentes/ficohsacore-gtcard-16dd1ac59182/SBGT_Card/SBGT_Card_CustomizeCreditCardPin/Schemas/CustomizeCreditCardPin.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/guatemala/card" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/guatemala/card" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
<xsd:import schemaLocation="../../SBGT_Card_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>  
  <xsd:element name="customizeCreditCardPin">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="CardNumber" type="xsd:string"/>
        <xsd:element name="Pin" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="customizeCreditCardPinResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>