Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaSaldoTCBatch/wsdl/consultaSaldoTCBatchPS.wsdl

<wsdl:definitions name="consultaSaldoTCBatchPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSaldoTCBatchPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaSaldoTCBatchPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:alt="http://www.ficohsa.com.hn/middleware.services/alertasProductosTypes" xmlns:tns="http://www.bea.com/wli/sb/stages/transform/config">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/alertasProductosTypes" schemaLocation="../../AlertasProductos/xsd/alertasProductosTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestHeader">
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="responseHeader">
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
     
    <wsdl:message name="consultaSaldoTCBatchRequest">
        <wsdl:part element="alt:consultaSaldoTCBatch" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="consultaSaldoTCBatchResponse">
        <wsdl:part element="alt:consultaSaldoTCBatchResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:portType name="consultaSaldoTCBatchPS">
        <wsdl:operation name="consultaSaldoTCBatch" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaSaldoTCBatchRequest"/>
            <wsdl:output message="fic:consultaSaldoTCBatchResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="consultaSaldoTCBatchPSSOAP" type="fic:consultaSaldoTCBatchPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultaSaldoTCBatch">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/alertasProductosPS/consultaSaldoTCBatch"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="consultaSaldoTCBatchPS">
        <wsdl:port binding="fic:consultaSaldoTCBatchPSSOAP" name="consultaSaldoTCBatchPSSOAP">
           <soap:address location="https://172.23.13.19:8004/Middleware/SalesAndService/CrossChannel/AlertasProductos"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>