Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/PagosMasivosBilleteraPuente/wsdl/pagosMasivosBilleteraPuentePS.wsdl

<wsdl:definitions name="pagosMasivosBilleteraPuentePS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPuentePS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPuentePS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:pagbil="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPuenteTypes">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPuenteTypes" schemaLocation="../xsd/pagosMasivosBilleteraPuenteTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
     
    <wsdl:message name="generaTokenBilleteraRequest">
        <wsdl:part element="pagbil:generaTokenBilletera" name="parameters"/>
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="generaTokenBilleteraResponse">
        <wsdl:part element="pagbil:generaTokenBilleteraResponse" name="result"/>
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
    
    <wsdl:message name="validaLoteBilleteraRequest">
        <wsdl:part element="pagbil:validaLoteBilletera" name="parameters"/>
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="validaLoteBilleteraResponse">
        <wsdl:part element="pagbil:validaLoteBilleteraResponse" name="result"/>
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
    
    <wsdl:message name="cargaLoteBilleteraRequest">
        <wsdl:part element="pagbil:cargaLoteBilletera" name="parameters"/>
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="cargaLoteBilleteraResponse">
        <wsdl:part element="pagbil:cargaLoteBilleteraResponse" name="result"/>
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
    
    <wsdl:message name="consultaEstadoLoteBilleteraRequest">
        <wsdl:part element="pagbil:consultaEstadoLoteBilletera" name="parameters"/>
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="consultaEstadoLoteBilleteraResponse">
        <wsdl:part element="pagbil:consultaEstadoLoteBilleteraResponse" name="result"/>
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
    
    <wsdl:message name="consultaDetalleLoteBilleteraRequest">
        <wsdl:part element="pagbil:consultaDetalleLoteBilletera" name="parameters"/>
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="consultaDetalleLoteBilleteraResponse">
        <wsdl:part element="pagbil:consultaDetalleLoteBilleteraResponse" name="result"/>
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
    
    <wsdl:portType name="pagosMasivosBilleteraPuentePS">
        <wsdl:operation name="generaTokenBilletera" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:generaTokenBilleteraRequest"/>
            <wsdl:output message="fic:generaTokenBilleteraResponse"/>
        </wsdl:operation>
        <wsdl:operation name="validaLoteBilletera" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:validaLoteBilleteraRequest"/>
            <wsdl:output message="fic:validaLoteBilleteraResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cargaLoteBilletera" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:cargaLoteBilleteraRequest"/>
            <wsdl:output message="fic:cargaLoteBilleteraResponse"/>
        </wsdl:operation>
        <wsdl:operation name="consultaEstadoLoteBilletera" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaEstadoLoteBilleteraRequest"/>
            <wsdl:output message="fic:consultaEstadoLoteBilleteraResponse"/>
        </wsdl:operation>
        <wsdl:operation name="consultaDetalleLoteBilletera" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaDetalleLoteBilleteraRequest"/>
            <wsdl:output message="fic:consultaDetalleLoteBilleteraResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="pagosMasivosBilleteraPuentePSSOAP" type="fic:pagosMasivosBilleteraPuentePS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="generaTokenBilletera">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPuentePS/generaTokenBilletera"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:generaTokenBilleteraRequest" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:generaTokenBilleteraResponse" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validaLoteBilletera">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPuentePS/validaLoteBilletera"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:validaLoteBilleteraRequest" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:validaLoteBilleteraResponse" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cargaLoteBilletera">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPuentePS/cargaLoteBilletera"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:cargaLoteBilleteraRequest" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:cargaLoteBilleteraResponse" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaEstadoLoteBilletera">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPuentePS/consultaEstadoLoteBilletera"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:consultaEstadoLoteBilleteraRequest" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:consultaEstadoLoteBilleteraResponse" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaDetalleLoteBilletera">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPuentePS/consultaDetalleLoteBilletera"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:consultaDetalleLoteBilleteraRequest" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:consultaDetalleLoteBilleteraResponse" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="pagosMasivosBilleteraPuentePS">
        <wsdl:port binding="fic:pagosMasivosBilleteraPuentePSSOAP" name="pagosMasivosBilleteraPuentePSSOAP">
           <soap:address location="https://172.23.13.19:8004/Middleware/OperationsAndExecution/Payments/pagosMasivosBilleteraPuente"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>