Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/MercadoLibre/wsdl/services.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_454961782.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_161558775.xsd"/>
</xsd:schema>
</types>
<message name="ActualizaLimiteVentaCliente_Validate">
<part name="parameters" element="tns:ActualizaLimiteVentaCliente_Validate"/>
</message>
<message name="ActualizaLimiteVentaCliente_ValidateResponse">
<part name="parameters" element="tns:ActualizaLimiteVentaCliente_ValidateResponse"/>
</message>
<message name="ActualizaLimiteVentaCliente">
<part name="parameters" element="tns:ActualizaLimiteVentaCliente"/>
</message>
<message name="ActualizaLimiteVentaClienteResponse">
<part name="parameters" element="tns:ActualizaLimiteVentaClienteResponse"/>
</message>
<message name="ActualizaDisponibleMonedaFCY">
<part name="parameters" element="tns:ActualizaDisponibleMonedaFCY"/>
</message>
<message name="ActualizaDisponibleMonedaFCYResponse">
<part name="parameters" element="tns:ActualizaDisponibleMonedaFCYResponse"/>
</message>
<message name="consultamontodisponiblevtadolar">
<part name="parameters" element="tns:consultamontodisponiblevtadolar"/>
</message>
<message name="consultamontodisponiblevtadolarResponse">
<part name="parameters" element="tns:consultamontodisponiblevtadolarResponse"/>
</message>
<message name="ActualizaDisponibleMonedaFCY_Validate">
<part name="parameters" element="tns:ActualizaDisponibleMonedaFCY_Validate"/>
</message>
<message name="ActualizaDisponibleMonedaFCY_ValidateResponse">
<part name="parameters" element="tns:ActualizaDisponibleMonedaFCY_ValidateResponse"/>
</message>
<message name="ConsultaDeTransaccionesTotales">
<part name="parameters" element="tns:ConsultaDeTransaccionesTotales"/>
</message>
<message name="ConsultaDeTransaccionesTotalesResponse">
<part name="parameters" element="tns:ConsultaDeTransaccionesTotalesResponse"/>
</message>
<message name="ConsultaDisponibleCompraCliente">
<part name="parameters" element="tns:ConsultaDisponibleCompraCliente"/>
</message>
<message name="ConsultaDisponibleCompraClienteResponse">
<part name="parameters" element="tns:ConsultaDisponibleCompraClienteResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="ActualizaLimiteVentaCliente_Validate">
<input message="tns:ActualizaLimiteVentaCliente_Validate"/>
<output message="tns:ActualizaLimiteVentaCliente_ValidateResponse"/>
</operation>
<operation name="ActualizaLimiteVentaCliente">
<input message="tns:ActualizaLimiteVentaCliente"/>
<output message="tns:ActualizaLimiteVentaClienteResponse"/>
</operation>
<operation name="ActualizaDisponibleMonedaFCY">
<input message="tns:ActualizaDisponibleMonedaFCY"/>
<output message="tns:ActualizaDisponibleMonedaFCYResponse"/>
</operation>
<operation name="consultamontodisponiblevtadolar">
<input message="tns:consultamontodisponiblevtadolar"/>
<output message="tns:consultamontodisponiblevtadolarResponse"/>
</operation>
<operation name="ActualizaDisponibleMonedaFCY_Validate">
<input message="tns:ActualizaDisponibleMonedaFCY_Validate"/>
<output message="tns:ActualizaDisponibleMonedaFCY_ValidateResponse"/>
</operation>
<operation name="ConsultaDeTransaccionesTotales">
<input message="tns:ConsultaDeTransaccionesTotales"/>
<output message="tns:ConsultaDeTransaccionesTotalesResponse"/>
</operation>
<operation name="ConsultaDisponibleCompraCliente">
<input message="tns:ConsultaDisponibleCompraCliente"/>
<output message="tns:ConsultaDisponibleCompraClienteResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ActualizaLimiteVentaCliente_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizaLimiteVentaCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizaDisponibleMonedaFCY">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultamontodisponiblevtadolar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizaDisponibleMonedaFCY_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaDeTransaccionesTotales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaDisponibleCompraCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcMercadoLibre/services"/>
</port>
</service>
</definitions>