Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/CatalogosInfoPrestamo/wsdl/catalogosInfoPrestamoPS.wsdl

<wsdl:definitions name="catalogosInfoPrestamoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoPS/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cipt="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoTypes" schemaLocation="../xsd/catalogosInfoPrestamoTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="consultaCaracteristicasProducto">
		<wsdl:part element="cipt:consultaCaracteristicasProducto" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaCaracteristicasProductoResponse">
		<wsdl:part element="cipt:consultaCaracteristicasProductoResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="consultaTiposRevisionesTasa">
		<wsdl:part element="cipt:consultaTiposRevisionesTasa" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaTiposRevisionesTasaResponse">
		<wsdl:part element="cipt:consultaTiposRevisionesTasaResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="consultaTiposPrestamos">
		<wsdl:part element="cipt:consultaTiposPrestamos" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaTiposPrestamosResponse">
		<wsdl:part element="cipt:consultaTiposPrestamosResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="consultaGruposTasa">
		<wsdl:part element="cipt:consultaGruposTasa" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaGruposTasaResponse">
		<wsdl:part element="cipt:consultaGruposTasaResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:portType name="catalogosInfoPrestamoPS">
	
		<wsdl:operation name="consultaCaracteristicasProducto" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:consultaCaracteristicasProducto"/>
			<wsdl:output message="tns:consultaCaracteristicasProductoResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaTiposRevisionesTasa" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:consultaTiposRevisionesTasa"/>
			<wsdl:output message="tns:consultaTiposRevisionesTasaResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaTiposPrestamos" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:consultaTiposPrestamos"/>
			<wsdl:output message="tns:consultaTiposPrestamosResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaGruposTasa" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:consultaGruposTasa"/>
			<wsdl:output message="tns:consultaGruposTasaResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="catalogosInfoPrestamoPSSOAP" type="tns:catalogosInfoPrestamoPS">
	
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="consultaCaracteristicasProducto">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoPS/consultaCaracteristicasProducto"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:consultaCaracteristicasProducto" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:consultaCaracteristicasProductoResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="consultaTiposRevisionesTasa">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoPS/consultaTiposRevisionesTasa"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:consultaTiposRevisionesTasa" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:consultaTiposRevisionesTasaResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		
		<wsdl:operation name="consultaTiposPrestamos">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoPS/consultaTiposPrestamos"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:consultaTiposPrestamos" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:consultaTiposPrestamosResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="consultaGruposTasa">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaGrupostasaPS/consultaGrupostasa"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:consultaGruposTasa" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:consultaGruposTasaResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="catalogosInfoPrestamoPS">
		<wsdl:port binding="tns:catalogosInfoPrestamoPSSOAP" name="catalogosInfoPrestamoPSSOAP">
	  		<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/CustomerLoans/catalogosInfoPrestamo"/>
	   	</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>