Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SACE/WS-QUICKDEPOSIT.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="registrarChequePropioVirtual">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodigoRuta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoCheque" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CuentaCheque" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Moneda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Monto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdRefRegistroT24" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CuentaDestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ValorConfianzaA2ia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ImgAnversa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ImgReversa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarChequePropioVirtualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrarChequePropioVirtualResult" type="tns:CallResponseChequeVirtual" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CallResponseChequeVirtual">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="errId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="errCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="registrarChequeOtroBcoVirtual">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodigoRuta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoCheque" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CuentaCheque" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Moneda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Monto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdRefRegistroT24" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CuentaDestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ValorConfianzaA2ia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ImgAnversa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ImgReversa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarChequeOtroBcoVirtualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrarChequeOtroBcoVirtualResult" type="tns:CallResponseChequeVirtual" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallResponseChequeVirtual" nillable="true" type="tns:CallResponseChequeVirtual" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="registrarChequePropioVirtualSoapIn">
    <wsdl:part name="parameters" element="tns:registrarChequePropioVirtual" />
  </wsdl:message>
  <wsdl:message name="registrarChequePropioVirtualSoapOut">
    <wsdl:part name="parameters" element="tns:registrarChequePropioVirtualResponse" />
  </wsdl:message>
  <wsdl:message name="registrarChequeOtroBcoVirtualSoapIn">
    <wsdl:part name="parameters" element="tns:registrarChequeOtroBcoVirtual" />
  </wsdl:message>
  <wsdl:message name="registrarChequeOtroBcoVirtualSoapOut">
    <wsdl:part name="parameters" element="tns:registrarChequeOtroBcoVirtualResponse" />
  </wsdl:message>
  <wsdl:message name="registrarChequePropioVirtualHttpGetIn">
    <wsdl:part name="CodigoRuta" type="s:string" />
    <wsdl:part name="NoCheque" type="s:string" />
    <wsdl:part name="CuentaCheque" type="s:string" />
    <wsdl:part name="Moneda" type="s:string" />
    <wsdl:part name="Monto" type="s:string" />
    <wsdl:part name="IdRefRegistroT24" type="s:string" />
    <wsdl:part name="CuentaDestino" type="s:string" />
    <wsdl:part name="ValorConfianzaA2ia" type="s:string" />
    <wsdl:part name="ImgAnversa" type="s:string" />
    <wsdl:part name="ImgReversa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="registrarChequePropioVirtualHttpGetOut">
    <wsdl:part name="Body" element="tns:CallResponseChequeVirtual" />
  </wsdl:message>
  <wsdl:message name="registrarChequeOtroBcoVirtualHttpGetIn">
    <wsdl:part name="CodigoRuta" type="s:string" />
    <wsdl:part name="NoCheque" type="s:string" />
    <wsdl:part name="CuentaCheque" type="s:string" />
    <wsdl:part name="Moneda" type="s:string" />
    <wsdl:part name="Monto" type="s:string" />
    <wsdl:part name="IdRefRegistroT24" type="s:string" />
    <wsdl:part name="CuentaDestino" type="s:string" />
    <wsdl:part name="ValorConfianzaA2ia" type="s:string" />
    <wsdl:part name="ImgAnversa" type="s:string" />
    <wsdl:part name="ImgReversa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="registrarChequeOtroBcoVirtualHttpGetOut">
    <wsdl:part name="Body" element="tns:CallResponseChequeVirtual" />
  </wsdl:message>
  <wsdl:message name="registrarChequePropioVirtualHttpPostIn">
    <wsdl:part name="CodigoRuta" type="s:string" />
    <wsdl:part name="NoCheque" type="s:string" />
    <wsdl:part name="CuentaCheque" type="s:string" />
    <wsdl:part name="Moneda" type="s:string" />
    <wsdl:part name="Monto" type="s:string" />
    <wsdl:part name="IdRefRegistroT24" type="s:string" />
    <wsdl:part name="CuentaDestino" type="s:string" />
    <wsdl:part name="ValorConfianzaA2ia" type="s:string" />
    <wsdl:part name="ImgAnversa" type="s:string" />
    <wsdl:part name="ImgReversa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="registrarChequePropioVirtualHttpPostOut">
    <wsdl:part name="Body" element="tns:CallResponseChequeVirtual" />
  </wsdl:message>
  <wsdl:message name="registrarChequeOtroBcoVirtualHttpPostIn">
    <wsdl:part name="CodigoRuta" type="s:string" />
    <wsdl:part name="NoCheque" type="s:string" />
    <wsdl:part name="CuentaCheque" type="s:string" />
    <wsdl:part name="Moneda" type="s:string" />
    <wsdl:part name="Monto" type="s:string" />
    <wsdl:part name="IdRefRegistroT24" type="s:string" />
    <wsdl:part name="CuentaDestino" type="s:string" />
    <wsdl:part name="ValorConfianzaA2ia" type="s:string" />
    <wsdl:part name="ImgAnversa" type="s:string" />
    <wsdl:part name="ImgReversa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="registrarChequeOtroBcoVirtualHttpPostOut">
    <wsdl:part name="Body" element="tns:CallResponseChequeVirtual" />
  </wsdl:message>
  <wsdl:portType name="WSQUICKDEPOSITSoap">
    <wsdl:operation name="registrarChequePropioVirtual">
      <wsdl:input message="tns:registrarChequePropioVirtualSoapIn" />
      <wsdl:output message="tns:registrarChequePropioVirtualSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarChequeOtroBcoVirtual">
      <wsdl:input message="tns:registrarChequeOtroBcoVirtualSoapIn" />
      <wsdl:output message="tns:registrarChequeOtroBcoVirtualSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSQUICKDEPOSITHttpGet">
    <wsdl:operation name="registrarChequePropioVirtual">
      <wsdl:input message="tns:registrarChequePropioVirtualHttpGetIn" />
      <wsdl:output message="tns:registrarChequePropioVirtualHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarChequeOtroBcoVirtual">
      <wsdl:input message="tns:registrarChequeOtroBcoVirtualHttpGetIn" />
      <wsdl:output message="tns:registrarChequeOtroBcoVirtualHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSQUICKDEPOSITHttpPost">
    <wsdl:operation name="registrarChequePropioVirtual">
      <wsdl:input message="tns:registrarChequePropioVirtualHttpPostIn" />
      <wsdl:output message="tns:registrarChequePropioVirtualHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarChequeOtroBcoVirtual">
      <wsdl:input message="tns:registrarChequeOtroBcoVirtualHttpPostIn" />
      <wsdl:output message="tns:registrarChequeOtroBcoVirtualHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSQUICKDEPOSITSoap" type="tns:WSQUICKDEPOSITSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarChequePropioVirtual">
      <soap:operation soapAction="http://tempuri.org/registrarChequePropioVirtual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarChequeOtroBcoVirtual">
      <soap:operation soapAction="http://tempuri.org/registrarChequeOtroBcoVirtual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSQUICKDEPOSITSoap12" type="tns:WSQUICKDEPOSITSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarChequePropioVirtual">
      <soap12:operation soapAction="http://tempuri.org/registrarChequePropioVirtual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarChequeOtroBcoVirtual">
      <soap12:operation soapAction="http://tempuri.org/registrarChequeOtroBcoVirtual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSQUICKDEPOSITHttpGet" type="tns:WSQUICKDEPOSITHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="registrarChequePropioVirtual">
      <http:operation location="/registrarChequePropioVirtual" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarChequeOtroBcoVirtual">
      <http:operation location="/registrarChequeOtroBcoVirtual" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSQUICKDEPOSITHttpPost" type="tns:WSQUICKDEPOSITHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="registrarChequePropioVirtual">
      <http:operation location="/registrarChequePropioVirtual" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarChequeOtroBcoVirtual">
      <http:operation location="/registrarChequeOtroBcoVirtual" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSQUICKDEPOSIT">
    <wsdl:port name="WSQUICKDEPOSITSoap" binding="tns:WSQUICKDEPOSITSoap">
      <soap:address location="http://172.23.12.17:8020/sace-ws/WS-QUICKDEPOSIT.asmx" />
    </wsdl:port>
    <wsdl:port name="WSQUICKDEPOSITSoap12" binding="tns:WSQUICKDEPOSITSoap12">
      <soap12:address location="http://172.23.12.17:8020/sace-ws/WS-QUICKDEPOSIT.asmx" />
    </wsdl:port>
    <wsdl:port name="WSQUICKDEPOSITHttpGet" binding="tns:WSQUICKDEPOSITHttpGet">
      <http:address location="http://172.23.12.17:8020/sace-ws/WS-QUICKDEPOSIT.asmx" />
    </wsdl:port>
    <wsdl:port name="WSQUICKDEPOSITHttpPost" binding="tns:WSQUICKDEPOSITHttpPost">
      <http:address location="http://172.23.12.17:8020/sace-ws/WS-QUICKDEPOSIT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>