Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKPA/consultaChequesReserva/xsd/consultaChequesReserva_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaChequesReserva" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaChequesReserva" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="ACCOUNT_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="ACCOUNT_NAME" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TOTAL_CLEARING_AMOUNT" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="BANK_NAME" type="db:TOPLEVEL_TVARCHAR20" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CHEQUE_NUMBER" type="db:TOPLEVEL_TVARCHAR20" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="AMOUNT" type="db:TOPLEVEL_TVARCHAR20" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CHEQUE_STATUS" type="db:TOPLEVEL_TVARCHAR20" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="RELEASE_DATE" type="db:TOPLEVEL_TVARCHAR20" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CLEARING_DATE" type="db:TOPLEVEL_TVARCHAR20" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CLEARING_DAYS" type="db:TOPLEVEL_TVARCHAR20" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CLEARING_REMAINING_DAYS" type="db:TOPLEVEL_TVARCHAR20" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TOPLEVEL_TVARCHAR20">
      <sequence>
         <element name="BANK_NAME_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
</schema>