Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/Resources/ConsultaMovimientosRecientesTC/xsd/consultaMovimientosRecientesTCTypes.xsd

<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCTypes">
	
	<xs:simpleType name = "stringMinLength">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="consultaMovimientosRecientesTC">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="tns:stringMinLength"/>
				<xs:element name="ORG" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaMovimientosRecientesTCReponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OWNER_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="CREDIT_LIMIT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="CREDIT_LIMIT_CCY" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PREVIOUS_BALANCE_LCY" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PREVIOUS_BALANCE_FCY" type="xs:decimal" minOccurs="0"/>
				<xs:element name="MOVIMIENTOS_RECIENTES" type="tns:movimientosRecientesType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="movimientosRecientesType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="DETALLE_MOVIMIENTOS" type="tns:detalleMovimientosType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="detalleMovimientosType">
		<xs:sequence>			
			<xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="AUTH_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="ORG" type="xs:integer" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="ORIGINAL_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="ORIGINAL_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE_OF_TRANSACTION" type="xs:string" minOccurs="0"/>
			<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTION_CODE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="POSTING_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="MERCHANT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CATEGORY_CODE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="PLAN_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="SEQUENCE" type="xs:string" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>