Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaTasaCambioPersonalizada/xsd/consultaTasaCambioPersonalizadaTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTasaCambioPersonalizadaTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaTasaCambioPersonalizadaTypes"
	elementFormDefault="qualified">
	
	<simpleType name="RATE_TYPE_RESTRICTION">
		<restriction base="string">
			<enumeration value="INSTITUTIONAL" />
			<enumeration value="IMPROVED" />
			<enumeration value="NEGOTIATED" />
		</restriction>
	</simpleType>
	
	<!-- StringType -->
	<simpleType name="stringMinLength1">
		<restriction base="string">
			<minLength value="1" />
		</restriction>
	</simpleType>
	
	
	<element name="consultaTasaCambioPersonalizada">
		<complexType>
			<sequence>
				<element name="RATE_INFORMATION">
					<complexType>
						<sequence>
							<element name="SOURCE_CURRENCY" type="tns:stringMinLength1"/>
							<element name="TARGET_CURRENCY" type="string" minOccurs="0"/>
							<element name="AUTHORIZATION_TICKET" type="string" minOccurs="0"/>
							<element name="RATE_TYPE" type="tns:RATE_TYPE_RESTRICTION"/>
						</sequence>
					</complexType>
				</element>
				<element name="TRANSACTION_INFORMATION">
					<complexType>
						<sequence>
							<element name="AMOUNT" type="decimal" minOccurs="0"/>
							<element name="CHANNEL" type="tns:stringMinLength1"/>
							<element name="TRANSACTION_TYPE" type="string" minOccurs="0"/>
						</sequence>
					</complexType>
				</element>
				<element name="CUSTOMER">
					<complexType>
						<sequence>
							<element name="TARGET_CUSTOMER" type="string" minOccurs="0"/>
							<element name="SOURCE_CUSTOMER" type="string" minOccurs="0"/>
						</sequence>
					</complexType>
				</element>
				<element name="ACCOUNT">
					<complexType>
						<sequence>
							<element name="CREDIT_ACCOUNT" type="string" minOccurs="0"/>
							<element name="DEBIT_ACCOUNT" type="string" minOccurs="0"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	
	
	<element name="consultaTasaCambioPersonalizadaResponse">
		<complexType>
			<sequence>
				<element name="BUY_RATE" type="decimal" minOccurs="0"/>
				<element name="SELL_RATE" type="decimal" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
</schema>