Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CREDITFORCEPA/GestionAccesosUsuarios/xsd/XMLSchema_-1347686820.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection">
	<xs:import schemaLocation="XMLSchema_-1853245445.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
	<xs:complexType name="StatusResult">
		<xs:sequence>
			<xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Status" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="StatusResult" nillable="true" type="tns:StatusResult"/>
	<xs:complexType name="UserRequest">
		<xs:complexContent mixed="false">
			<xs:extension base="tns:SecurityManagerBase">
				<xs:sequence>
					<xs:element minOccurs="0" name="User" nillable="true" type="tns:UserSecurityManager"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UserRequest" nillable="true" type="tns:UserRequest"/>
	<xs:complexType name="SecurityManagerBase">
		<xs:sequence>
			<xs:element minOccurs="0" name="Token" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="User_Name" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SecurityManagerBase" nillable="true" type="tns:SecurityManagerBase"/>
	<xs:complexType name="UserSecurityManager">
		<xs:sequence>
			<xs:element minOccurs="0" name="Additional_Data" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<xs:element minOccurs="0" name="Application_User" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Full_Name" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Module" nillable="true" type="tns:ArrayOfModule"/>
			<xs:element minOccurs="0" name="Password" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Role" nillable="true" type="tns:ArrayOfRole"/>
			<xs:element minOccurs="0" name="Security_Provider" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Security_Provider_Id" type="xs:long"/>
			<xs:element minOccurs="0" name="Status" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UserSecurityManager" nillable="true" type="tns:UserSecurityManager"/>
	<xs:complexType name="ArrayOfModule">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Module" nillable="true" type="tns:Module"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfModule" nillable="true" type="tns:ArrayOfModule"/>
	<xs:complexType name="Module">
		<xs:sequence>
			<xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Module_Id" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Module" nillable="true" type="tns:Module"/>
	<xs:complexType name="ArrayOfRole">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole"/>
	<xs:complexType name="Role">
		<xs:sequence>
			<xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Module_Id" type="xs:long"/>
			<xs:element minOccurs="0" name="Role_Id" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Role" nillable="true" type="tns:Role"/>
	<xs:complexType name="UserResponse">
		<xs:sequence>
			<xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfError"/>
			<xs:element minOccurs="0" name="Status" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UserResponse" nillable="true" type="tns:UserResponse"/>
	<xs:complexType name="ArrayOfError">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfError" nillable="true" type="tns:ArrayOfError"/>
	<xs:complexType name="Error">
		<xs:sequence>
			<xs:element minOccurs="0" name="CodError" type="xs:int"/>
			<xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Error" nillable="true" type="tns:Error"/>
	<xs:complexType name="GetUserRequest">
		<xs:complexContent mixed="false">
			<xs:extension base="tns:SecurityManagerBase">
				<xs:sequence>
					<xs:element minOccurs="0" name="Application_User" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetUserRequest" nillable="true" type="tns:GetUserRequest"/>
	<xs:complexType name="GetUserResponse">
		<xs:complexContent mixed="false">
			<xs:extension base="tns:UserResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="User" nillable="true" type="tns:UserSecurityManager"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetUserResponse" nillable="true" type="tns:GetUserResponse"/>
	<xs:complexType name="UpdateStatusRequest">
		<xs:complexContent mixed="false">
			<xs:extension base="tns:SecurityManagerBase">
				<xs:sequence>
					<xs:element minOccurs="0" name="Application_User" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Status" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UpdateStatusRequest" nillable="true" type="tns:UpdateStatusRequest"/>
	<xs:complexType name="UpdateStatusResponse">
		<xs:complexContent mixed="false">
			<xs:extension base="tns:UserResponse">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UpdateStatusResponse" nillable="true" type="tns:UpdateStatusResponse"/>
</xs:schema>