Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/BusinessServices/RetiroDeCuenta/xsd/XMLSchema_-1155299438.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/retiroDeCuenta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ret="http://www.ficohsa.com.hn/middleware.services/retiroDeCuenta">
		
	<xs:complexType name="retiroDeCuentaResponseType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBIT_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBIT_AMOUNT" type="xs:string" minOccurs="0"/>			
			<xs:element name="WITHDRAWAL_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="WITHDRAWAL_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="retiroDeCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="WITHDRAWAL_CURRENCY">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="WITHDRAWAL_AMOUNT">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="retiroDeCuentaResponse" type="ret:retiroDeCuentaResponseType"/>
	
</xs:schema>