Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/RegistraBitacoraTransaccion/xsd/RegistraBitacoraTransaccionTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/registroBitacoraTransaccionTypes"
	xmlns:reg="http://www.ficohsa.com.hn/middleware.services/registroBitacoraTransaccionTypes">
	
	<xs:complexType name="registroBitacoraTransaccionResponse">
		<xs:sequence>
		    <xs:element name="ERROR_CODE" type="xs:string" minOccurs="1" />
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" />		
	    </xs:sequence> 
	</xs:complexType>
	
	<xs:element name="registroBitacoraTransaccion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UUID" type="xs:string" minOccurs="1"/>
				<xs:element name="TRANSACTION_TYPE" type="xs:decimal" minOccurs="1"/>
	            <xs:element name="ERROR_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
	            <xs:element name="USER" type="xs:string" minOccurs="0"/>
	            <xs:element name="DATE_TIME" type="xs:dateTime" minOccurs="0"/>
	            <xs:element name="XML_REQUEST" type="xs:string" minOccurs="0"/>
	            <xs:element name="XML_RESPONSE" type="xs:string" minOccurs="0"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="registroBitacoraTransaccionResponse" type="reg:registroBitacoraTransaccionResponse" />
	
</xs:schema>