Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SJS/consultaTipoTarjeta/xsd/sjConsultaTipoTarjeta.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaTipoTarjeta" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaTipoTarjeta" elementFormDefault="qualified" >
	
	<xs:element name="sjConsultaTipoTarjeta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PASSWORD" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BIN_NUMBER" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:pattern value="[1-9][0-9][0-9][0-9][0-9][0-9]"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		

	<xs:element name="sjConsultaTipoTarjetaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="BIN_NUMBER" type="xs:integer" minOccurs="0" maxOccurs="1"/>
				<xs:element name="BIN_DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CARD_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>