Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/Resources/Debitos/xsd/DebitosTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/DebitosTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/DebitosTypes">
	
	<xs:include schemaLocation="../../ArtefactosGenerales/xsd/KeyValuePair.xsd"/>

	<xs:element name="Debitos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USER_NAME" type="xs:string"/>
				<xs:element name="PASSWORD" type="xs:string"/>
				<xs:element name="SOURCE_ACCOUNT" type="xs:string"/>
				<xs:element name="SOURCE_ACCOUNT_CURRENCY" type="xs:string"/>
				<xs:element name="AMOUNT" type="xs:string"/>
				<xs:element name="DESTINATION_ACCOUNT" type="xs:string"/>
				<xs:element name="PAID_PRODUCT_ID" type="xs:string"/>
				<xs:element name="INTERFACE_REFERENCE_NUMBER" type="xs:string"/>
				<xs:element name="REGIONAL_DETAILS" type="tns:RegionalDetails" minOccurs="0" maxOccurs="1"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="DebitosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CREDIT_CARD_NUMBER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>