Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaDetallesCuenta_v2/xsd/XMLSchema_-1766917185.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultasType" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultasType">

	<xs:element name="consultaDetallesCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaDetallesCuentaResponse" type="cons:consultaDetallesCuentaResponseType"/>

	<xs:complexType name="consultaDetallesCuentaResponseType">
		<xs:sequence>
			<xs:element name="consultaDetallesCuentaResponseType" type="cons:consultaDetallesCuentaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaDetallesCuentaResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaDetallesCuentaResponseRecordType" type="cons:consultaDetallesCuentaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaDetallesCuentaResponseArrayType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			<xs:element name="CUSTOMER_ID" type="xs:string"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string"/>
			<xs:element name="CATEGORY" type="xs:string"/>
			<xs:element name="CURRENCY" type="xs:string"/>
			<xs:element name="LIMIT_REF" type="xs:string"/>
			<xs:element name="RESTRICTIONS" type="xs:string"/>
			<xs:element name="ALT_ACCOUNT" type="xs:string"/>
			<xs:element name="OPENING_DATE" type="xs:string"/>
			<xs:element name="OPERATION_TYPE" type="xs:string"/>
			<xs:element name="ACCOUNT_OFFICER" type="xs:string"/>
			<xs:element name="BRANCH_CODE" type="xs:string"/>
			<xs:element name="LEGAL_ID" type="xs:string"/>
			<xs:element name="REQUIRED_SIGNATURES" type="xs:string"/>
			<xs:element name="SIGNATURE_DESC" type="xs:string"/>
			<xs:element name="INACTIVE_MARKER" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>