Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/solicitudChequeras/registroImpresionChequePropio/registroImpresionChequeTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/registroImpresionChequeTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/registroImpresionChequeTypes">


	<xs:complexType name="registroImpresionChequeResponseType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="CHEQUEBOOK_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="FIRST_CHEQUE_NO" type="xs:string" minOccurs="0" />
			<xs:element name="LAST_CHEQUE_NO" type="xs:string" minOccurs="0" />
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="registroImpresionCheque">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
				<xs:element name="LAST_CHEQUE_NO" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="registroImpresionChequeResponse" type="cons:registroImpresionChequeResponseType" />

</xs:schema>