Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CTS/clientesCredito/wsdl/COBISCorp.eCOBIS.SrvAplCobisClientesCredito.Service.wsdl

<wsdl:definitions name="SrvAplCobisClientesCredito" targetNamespace="http://impl.service.srvaplcobisclientescredito.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.srvaplcobisclientescredito.ecobis.cobiscorp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:S1="http://impl.service.srvaplcobisclientescredito.ecobis.cobiscorp/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.srvaplcobisclientescredito.ecobis.cobiscorp/"><xsd:import namespace="http://service.srvaplcobisclientescredito.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsjOpConsultaBuroCreditoRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaBuroCreditoRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpCreacionClienteRespuesta">
    <wsdl:part name="parameters" element="tns:opCreacionClienteRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaBuroCreditoSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaBuroCreditoSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpCreacionClienteSolicitud">
    <wsdl:part name="parameters" element="tns:opCreacionClienteSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SrvAplCobisClientesCredito">
    <wsdl:operation name="OpConsultaBuroCredito">
      <wsdl:input message="S1:MsjOpConsultaBuroCreditoSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpConsultaBuroCreditoRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpCreacionCliente">
      <wsdl:input message="S1:MsjOpCreacionClienteSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpCreacionClienteRespuesta">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvAplCobisClientesCreditoBindingSOAP12" type="S1:SrvAplCobisClientesCredito">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpConsultaBuroCredito">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpCreacionCliente">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvAplCobisClientesCreditoService">
    <wsdl:port name="SrvAplCobisClientesCreditoBindingSOAP12" binding="S1:SrvAplCobisClientesCreditoBindingSOAP12">
      <soap12:address location="http://10.235.53.145:9080/GerenciaClientesCredito/SrvAplCobisClientesCreditoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>