Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/TransferenciaInternacional/xsd/transferenciaInternacionalType.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/transferenciaInternacionalType"
	xmlns:trans="http://www.ficohsa.com.hn/middleware.services/transferenciaInternacionalType">

	<xs:complexType name="transferenciaInternacionalRequest">
		<xs:sequence>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
			<xs:element name="DEBIT_CURRENCY" type="xs:string"/>
			<xs:element name="TRANSFER_AMOUNT" type="xs:string"/>
			<xs:element name="DESTINATION_COUNTRY" type="xs:string"/>
			<xs:element name="DESTINATION_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="INTERMEDIARY_BANK_CODE" type="xs:string" />
			<xs:element name="INTERMEDIARY_BANK_CODE_TYPE" type="xs:string" />
			<xs:element name="INTERMEDIARY_BANK_INSTRUCTIONS" type="xs:string" />
			<xs:element name="BENEF_BANK_CODE" type="xs:string"/>
			<xs:element name="BENEF_BANK_CODE_TYPE" type="xs:string"/>
			<xs:element name="BENEF_BANK_INT_ACCOUNT" type="xs:string"/>
			<xs:element name="BENEF_BANK_NAME" type="xs:string"/>
			<xs:element name="BENEF_BANK_ADDRESS" type="xs:string" />
			<xs:element name="BENEF_BANK_CITY" type="xs:string" />
			<xs:element name="BENEF_BANK_STATE" type="xs:string" />
			<xs:element name="BENEF_BANK_POSTAL_CODE" type="xs:string"/>
			<xs:element name="BENEF_BANK_COUNTRY" type="xs:string"/>
			<xs:element name="BENEFICIARY_NAME" type="xs:string"/>
			<xs:element name="BENEFICIARY_ACCOUNT" type="xs:string"/>
			<xs:element name="BENEFICIARY_ADDRESS" type="xs:string" />
			<xs:element name="BENEFICIARY_CITY" type="xs:string" />
			<xs:element name="BENEFICIARY_STATE" type="xs:string" />	
			<xs:element name="BENEFICIARY_POSTAL_CODE" type="xs:string" />
			<xs:element name="BENEFICIARY_COUNTRY" type="xs:string" />
			<xs:element name="BENEFICIARY_INFO" type="xs:string" />
			<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" />
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="CHANNEL" type="xs:string" minOccurs="0"/>							
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="transferenciaInternacionalResponse">
		<xs:sequence>
			<xs:element name="ORDERING_CUSTOMER" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="transferenciaInternacionalRequest" type="trans:transferenciaInternacionalRequest" />

	<xs:element name="transferenciaInternacionalResponse" type="trans:transferenciaInternacionalResponse" />

</xs:schema>