Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/NotificaEstadoTransaccion/xsd/notificaEstadoTransaccionTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/notificaEstadoTransaccionTypes" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/notificaEstadoTransaccionTypes">

    <element name="notificaEstadoTransaccion">
    	<complexType>
    		<sequence>
    			<element name="CUSTOMER_ID" type="string"></element>
    			<element name="MOBILE_NUMBER" type="string"></element>
    			<element name="MESSAGE" type="string"></element>
    			<element name="MESSAGE_TYPE" type="string"></element>
    			<element name="SERVICE" type="string"></element>
				<element name="MESSAGE_SOURCE">
					<complexType>
						<sequence>
							<element name="COMPANY" type="string"/>
							<element name="DEPT_CODE" type="string"/>
							<element name="APPLICATION" type="string" minOccurs="0"/>
						</sequence>
					</complexType>
				</element>
				<element name="ERROR_CODE" type="string" minOccurs="0"/>  			
    		</sequence>
    	</complexType>
    </element>

    <element name="notificaEstadoTransaccionResponse"/>
    
</schema>