Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/EnviaMensajesIcBanking/xsd/enviaMensajesIcBankingTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/enviaMensajesIcBankingTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/enviaMensajesIcBankingTypes">
	
<!-- StringType -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="channel">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>  
	
	<xs:element name="enviaMensajesIcBankingResponse">	
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VALUE" type="xs:integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	

	<xs:element name="enviaMensajesIcBanking">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TITLE" type="cons:stringMinLength1"/>
				<xs:element name="BODY" type="cons:stringMinLength1"/>
				<xs:element name="CHANNEL" type="cons:channel"/>
				<xs:element name="IB_USER" type="cons:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		
</xs:schema>