Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OIC/notificacionFraude/wsdl/notificacionFraude.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:shrq0="http://xmlns.oracle.com/types/NotificacionFraude_Cloud/1642620677384/InboundSOAPRequestDocument" xmlns:shrs0="http://xmlns.oracle.com/types/NotificacionFraude_Cloud/1642620677384/InboundSOAPResponseDocument" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WsBotsRRSS/rest/AlertasFraudes/notificaTransaccion/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="notificaTransaccion" targetNamespace="http://WsBotsRRSS/rest/AlertasFraudes/notificaTransaccion/">
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wss_http_token_or_jwt_token_service_policy">
    <wsp:ExactlyOne>
      <wsp:All/>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <osp:HttpToken xmlns:osp="http://schemas.oracle.com/ws/2012/01/wssecuritypolicy">
                  <wsp:Policy>
                    <osp:HttpJwtAuthentication/>
                  </wsp:Policy>
                </osp:HttpToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://WsBotsRRSS/rest/AlertasFraudes/notificaTransaccion/">
      <xsd:element name="notificaTransaccion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="authentication" type="tns:authenticationType"/>
            <xsd:element name="customer_id" type="xsd:string"/>
            <xsd:element name="legal_id" type="xsd:string"/>
            <xsd:element name="full_name" type="xsd:string"/>
            <xsd:element name="phone_number" type="xsd:string"/>
            <xsd:element name="card_details" type="tns:card_detailsType"/>
            <xsd:element name="transactionDetails" type="tns:transactionDetailsType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="notificaTransaccionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="authenticationType">
        <xsd:sequence>
          <xsd:element name="business_id" type="xsd:string"/>
          <xsd:element name="network_id" type="xsd:string"/>
          <xsd:element name="username" type="xsd:string"/>
          <xsd:element name="password" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="card_detailsType">
        <xsd:sequence>
          <xsd:element name="card_number" type="xsd:string"/>
          <xsd:element name="account_number" type="xsd:string"/>
          <xsd:element name="card_holder_name" type="xsd:string"/>
          <xsd:element name="logo" type="xsd:string"/>
          <xsd:element name="country_origin_card" type="xsd:string"/>
          <xsd:element name="current_balance" type="xsd:string"/>
          <xsd:element name="card_status" type="xsd:string"/>
          <xsd:element name="card_type" type="xsd:string"/>
          <xsd:element name="product_type" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="transactionDetailsType">
        <xsd:sequence>
          <xsd:element name="code" type="xsd:string"/>
          <xsd:element name="date" type="xsd:string"/>
          <xsd:element name="source_country" type="xsd:string"/>
          <xsd:element name="merchant_name" type="xsd:string"/>
          <xsd:element name="alert_result_code" type="xsd:string"/>
          <xsd:element name="auth_result_code" type="xsd:string"/>
          <xsd:element name="plastic_presence" type="xsd:string"/>
          <xsd:element name="billing_amount" type="xsd:string"/>
          <xsd:element name="billing_currency" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/types/NotificacionFraude_Cloud/1642620677384/InboundSOAPRequestDocument" xmlns:ns0="http://WsBotsRRSS/rest/AlertasFraudes/notificaTransaccion/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/NotificacionFraude_Cloud/1642620677384/InboundSOAPRequestDocument">
      <xs:import namespace="http://WsBotsRRSS/rest/AlertasFraudes/notificaTransaccion/"/>
      <xs:element name="InboundSOAPRequestDocument" type="InboundSOAPRequestDocumentType"/>
      <xs:complexType name="InboundSOAPRequestDocumentType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Headers" type="HeadersType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Body" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="HTTPHeaders" type="HTTPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HTTPHeadersType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element xmlns:ns1="http://WsBotsRRSS/rest/AlertasFraudes/notificaTransaccion/" ref="ns1:notificaTransaccion"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/types/NotificacionFraude_Cloud/1642620677384/InboundSOAPResponseDocument" xmlns:ns0="http://WsBotsRRSS/rest/AlertasFraudes/notificaTransaccion/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/NotificacionFraude_Cloud/1642620677384/InboundSOAPResponseDocument">
      <xs:import namespace="http://WsBotsRRSS/rest/AlertasFraudes/notificaTransaccion/"/>
      <xs:element name="InboundSOAPResponseDocument" type="InboundSOAPResponseDocumentType"/>
      <xs:complexType name="InboundSOAPResponseDocumentType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Headers" type="HeadersType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Body" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="HTTPHeaders" type="HTTPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HTTPHeadersType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element xmlns:ns1="http://WsBotsRRSS/rest/AlertasFraudes/notificaTransaccion/" ref="ns1:notificaTransaccionResponse"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tracking_property" type="TrackingPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="insight_property" type="InsightPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="notificaTransaccionRequest">
    <wsdl:part name="parameters" element="tns:notificaTransaccion"/>
  </wsdl:message>
  <wsdl:message name="notificaTransaccionResponse">
    <wsdl:part name="parameters" element="tns:notificaTransaccionResponse"/>
  </wsdl:message>
  <wsdl:portType name="notificaTransaccion_NotificacionFraude_Cloud_REQUEST">
    <wsdl:operation name="notificaTransaccion">
      <wsdl:input message="tns:notificaTransaccionRequest"/>
      <wsdl:output message="tns:notificaTransaccionResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="notificaTransaccion_NotificacionFraude_Cloud_REQUEST_binding" type="tns:notificaTransaccion_NotificacionFraude_Cloud_REQUEST">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wss_http_token_or_jwt_token_service_policy" wsdl:required="false"/>
    <wsdl:operation name="notificaTransaccion">
      <soap:operation soapAction="http://WsBotsRRSS/rest/AlertasFraudes/notificaTransaccion/notificaTransaccion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="notificaTransaccion">
    <wsdl:port name="notificaTransaccion_NotificacionFraude_Cloud_REQUEST_pt" binding="tns:notificaTransaccion_NotificacionFraude_Cloud_REQUEST_binding">
      <soap:address location="https://OICDEV-ficocloud.integration.ocp.oraclecloud.com:443/ic/ws/integration/v1/flows/soap/NOTIFICACIONFRAUDE/1.0/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>