Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/DEI/listaDeGuiaPago/xsd/ListaDeGuiaPago_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ListaDeGuiaPago" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ListaDeGuiaPago" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_RTN" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROCONTRATO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_RTN" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROCONTRATO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_RESULTADO" type="db:T_GETGUIAPAGOLISTA_RESULT" db:index="3" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="T_GETGUIAPAGOLISTA_ITEMS">
      <sequence>
         <element name="GUIAPAGO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHAGENERACION" type="db:string8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHAVENCIMIENTO" type="db:string8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NRODOCUMENTO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NRODOCUMENTODESC" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PERIODO" type="db:string6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALORTOTAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_GETGUIAPAGOLISTA_ITEMS_ARRAY">
      <sequence>
         <element name="ITEM" type="db:T_GETGUIAPAGOLISTA_ITEMS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_GETGUIAPAGOLISTA_RESULT">
      <sequence>
         <element name="ITEMSCANT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="IDERROR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ITEMS" type="db:T_GETGUIAPAGOLISTA_ITEMS_ARRAY" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string8">
      <restriction base="string">
         <maxLength value="8"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string6">
      <restriction base="string">
         <maxLength value="6"/>
      </restriction>
   </simpleType>
</schema>