Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/SolicitaActualizacionDatosCliente/xsd/solicitaActualizacionDatosClienteTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/solicitaActualizacionDatosClienteTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/solicitaActualizacionDatosClienteTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: solicitaActualizacionDatosCliente -->
    <!--############################################-->
    
<xs:element name="solicitaActualizacionDatosCliente">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="CUSTOMER_ID"     type="xs:string" />
			<xs:element name="CUSTOMER_FIELDS" type="tns:FieldList" minOccurs="0" />
            <xs:element name="CUSTOMER_BLOCKS" type="tns:BlockList" minOccurs="0" />
	    </xs:sequence>
     </xs:complexType>
	</xs:element>

  <!--############################### -->
	<!--TYPE: FIELD-->
	<!--############################### -->
     <xs:complexType name="FieldList">
		<xs:sequence>
			<xs:element name="FIELD" type="tns:Field" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Field">
		<xs:sequence>
				<xs:element name="ID"   type="xs:string" minOccurs="0" />
				<xs:element name="VALUE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

    
  <!--############################### -->
	<!--TYPE: BLOCK-->
	<!--############################### -->
     <xs:complexType name="BlockList">
		<xs:sequence>
			<xs:element name="BLOCK" type="tns:Block" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Block">
		<xs:sequence>
				<xs:element name="TYPE"   type="xs:string" minOccurs="0" />
				<xs:element name="ITEMS"   type="tns:ItemList" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

      <!--############################### -->
	<!--TYPE: ITEM-->
	<!--############################### -->
     <xs:complexType name="ItemList">
		<xs:sequence>
			<xs:element name="ITEM" type="tns:Item" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Item">
		<xs:sequence>
				<xs:element name="ID"   type="xs:string" minOccurs="0" />
				<xs:element name="INDEX_ID" type="xs:string" minOccurs="0" />
				<xs:element name="FIELDS" type="tns:FieldList" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
   
   
   

<xs:element name="solicitaActualizacionDatosClienteResponse"/>


    
</xs:schema>