Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/OSB/PagoPrestamo_v2/xsd/XMLSchema_-98383305.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoPrestamoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cred="http://www.ficohsa.com.hn/middleware.services/pagoPrestamoTypes">
	
	<xs:complexType name="pagoPrestamoResponseType">
		<xs:sequence>
	        <xs:element name="DATE_TIME" type="xs:string"/>
			<xs:element name="LOAN_NUMBER" type="xs:string"/>
			<xs:element name="DUE_ID" type="xs:string"/>
			<xs:element name="PAYMENT_AMOUNT" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="pagoPrestamo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOAN_NUMBER" type="xs:string"/>
				<xs:element name="PAYMENT_AMOUNT" type="xs:string"/>
				<xs:element name="PAYMENT_TYPE" type="xs:string"/>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="BANK_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoPrestamoResponse" type="cred:pagoPrestamoResponseType"/>
	
	
</xs:schema>