Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CREDITFORCEPA/GestionAccesosUsuarios/xsd/XMLSchema_-336569570.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.creditforce.com/SOA" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.creditforce.com/SOA">
	<xs:import schemaLocation="XMLSchema_-1347686820.xsd" namespace="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
	<xs:element name="Status">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="StatusResult" nillable="true" type="q1:StatusResult" xmlns:q1="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateUser">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="userReq" nillable="true" type="q2:UserRequest" xmlns:q2="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateUserResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="CreateUserResult" nillable="true" type="q3:UserResponse" xmlns:q3="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateUser">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="userReq" nillable="true" type="q4:UserRequest" xmlns:q4="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateUserResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="UpdateUserResult" nillable="true" type="q5:UserResponse" xmlns:q5="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetUser">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="userReq" nillable="true" type="q6:GetUserRequest" xmlns:q6="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetUserResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetUserResult" nillable="true" type="q7:GetUserResponse" xmlns:q7="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="userReq" nillable="true" type="q8:UpdateStatusRequest" xmlns:q8="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="UpdateStatusResult" nillable="true" type="q9:UpdateStatusResponse" xmlns:q9="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>