Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaEstadoCuentaTC_v2/xsd/XMLSchema_426727275.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaEstadoCuentaTCTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaEstadoCuentaTCTypes">

	<xs:complexType name="consultaEstadoCuentaTCResponseArrayRecordType">
		<xs:sequence>
			<xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0"/>
	        <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
	        <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
	        <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
	        <xs:element name="TYPE_OF_TRANSACTION" type="xs:string" minOccurs="0"/>
	        <xs:element name="ORIGINAL_AMOUNT" type="xs:string" minOccurs="0"/>
	        <xs:element name="ORIGINAL_CURRENCY" type="xs:string" minOccurs="0"/>
	        <xs:element name="OPERATION_CODE" type="xs:string" minOccurs="0" />
	        <xs:element name="MOVEMENT_GROUP" type="xs:string" minOccurs="0" />
		 </xs:sequence> 
	</xs:complexType>

	<xs:complexType name="consultaEstadoCuentaTCResponseArrayType">
		<xs:sequence>
			<xs:element name="consultaEstadoCuentaTCDetalleTarjeta" type="cons:consultaEstadoCuentaTCResponseArrayRecordType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>

	<xs:complexType name="consultaEstadoCuentaTCResponseRecordType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="consultaEstadoCuentaTCRegistroTarjetasAdicionales" type="cons:consultaEstadoCuentaTCResponseArrayType" form="qualified" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaEstadoCuentaTCResponseType">
		<xs:sequence>
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="MAIN_CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CUTOFF_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PAYMENT_LIMIT_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="CREDIT_LIMIT" type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="CREDIT_LIMIT_CCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="POINTS_AVAILABLE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LCY_PREVIOUS_BALANCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LCY_PERIOD_BALANCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LCY_TOTAL_PAYMENT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LCY_MIN_PAYMENT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FCY_PREVIOUS_BALANCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FCY_PERIOD_BALANCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FCY_TOTAL_PAYMENT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FCY_MIN_PAYMENT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="consultaEstadoCuentaTCTarjetasAdicionales" type="cons:consultaEstadoCuentaTCResponseRecordType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	

	<xs:element name="consultaEstadoCuentaTC">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CARD_NUMBER" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaEstadoCuentaTCResponse" type="cons:consultaEstadoCuentaTCResponseType"/>

</xs:schema>