Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaChequesCompensacion/wsdl/consultaChequesCompensacionPS.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaChequesCompensacionPS/"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		name="consultaChequesCompensacionPS"
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaChequesCompensacionPS/"
		xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType"
		xmlns:ccc="http://www.ficohsa.com.hn/middleware.services/consultaChequesCompensacionTypes">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" 
				schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaChequesCompensacionTypes"
				schemaLocation="../xsd/consultaChequesCompensacionTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="consultaChequeDetalle">
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
    	<wsdl:part element="ccc:consultaChequeDetalle" name="parameters"/>
  	</wsdl:message>
  	<wsdl:message name="consultaChequeDetalleResponse">
    	<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
    	<wsdl:part element="ccc:consultaChequeDetalleResponse" name="result"/>
  	</wsdl:message>
  	<wsdl:message name="consultaChequeTotal">
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
    	<wsdl:part element="ccc:consultaChequeTotal" name="parameters"/>
  	</wsdl:message>
  	<wsdl:message name="consultaChequeTotalResponse">
    	<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
    	<wsdl:part element="ccc:consultaChequeTotalResponse" name="result"/>
  	</wsdl:message>
  	<wsdl:message name="consultaDocumento">
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
    	<wsdl:part element="ccc:consultaDocumento" name="parameters"/>
  	</wsdl:message>
  	<wsdl:message name="consultaDocumentoResponse">
    	<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
    	<wsdl:part element="ccc:consultaDocumentoResponse" name="result"/>
  	</wsdl:message>
  	<wsdl:portType name="consultaChequesCompensacionPS">
    	<wsdl:operation name="consultaChequeDetalle">
      		<wsdl:input message="fic:consultaChequeDetalle"/>
      		<wsdl:output message="fic:consultaChequeDetalleResponse"/>
    	</wsdl:operation>
    	<wsdl:operation name="consultaChequeTotal">
    		<wsdl:input message="fic:consultaChequeTotal"/>
    		<wsdl:output message="fic:consultaChequeTotalResponse"/>
    	</wsdl:operation>
    	<wsdl:operation name="consultaDocumento">
    		<wsdl:input message="fic:consultaDocumento"/>
    		<wsdl:output message="fic:consultaDocumentoResponse"/>
    	</wsdl:operation>
  	</wsdl:portType>
  	<wsdl:binding name="consultaChequesCompensacionPSSOAP" type="fic:consultaChequesCompensacionPS">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<wsdl:operation name="consultaChequeDetalle">
      		<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaChequesCompensacionPS/consultaChequeDetalle"/>
      			<wsdl:input>
      				<soap:header use="literal" part="RequestHeader" message="fic:consultaChequeDetalle"/>
        			<soap:body use="literal" parts="parameters"/>
      			</wsdl:input>
      			<wsdl:output>
      				<soap:header use="literal" part="ResponseHeader" message="fic:consultaChequeDetalleResponse"/>
        			<soap:body use="literal" parts="result"/>
      			</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="consultaChequeTotal">
      		<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaChequesCompensacionPS/consultaChequeTotal"/>
      			<wsdl:input>
      				<soap:header use="literal" part="RequestHeader" message="fic:consultaChequeTotal"/>
        			<soap:body use="literal" parts="parameters"/>
      			</wsdl:input>
      			<wsdl:output>
      				<soap:header use="literal" part="ResponseHeader" message="fic:consultaChequeTotalResponse"/>
        			<soap:body use="literal" parts="result"/>
      			</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="consultaDocumento">
      		<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaChequesCompensacionPS/consultaDocumento"/>
      			<wsdl:input>
      				<soap:header use="literal" part="RequestHeader" message="fic:consultaDocumento"/>
        			<soap:body use="literal" parts="parameters"/>
      			</wsdl:input>
      			<wsdl:output>
      				<soap:header use="literal" part="ResponseHeader" message="fic:consultaDocumentoResponse"/>
        			<soap:body use="literal" parts="result"/>
      			</wsdl:output>
    	</wsdl:operation>
  	</wsdl:binding>
  	<wsdl:service name="consultaChequesCompensacionPS">
    	<wsdl:port binding="fic:consultaChequesCompensacionPSSOAP" name="consultaChequesCompensacionPSSOAP">
      		<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Payments/ConsultaChequesCompensacion"/>
    	</wsdl:port>
  	</wsdl:service>
</wsdl:definitions>