Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/DigitalizacionTarjetas/wsdl/digitalizacionTarjetasPS.wsdl

<wsdl:definitions name="digitalizacionTarjetasPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasPS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasTypes" schemaLocation="../xsd/digitalizacionTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="obtieneEstadoSistemaRequest">
		<wsdl:part element="tns:obtieneEstadoSistema" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="obtieneEstadoSistemaResponse">
		<wsdl:part element="tns:obtieneEstadoSistemaResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="compruebaElegibilidadRequest">
		<wsdl:part element="tns:compruebaElegibilidad" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="compruebaElegibilidadResponse">
		<wsdl:part element="tns:compruebaElegibilidadResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="notificaDigitalizacionRequest">
		<wsdl:part element="tns:notificaDigitalizacion" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="notificaDigitalizacionResponse">
		<wsdl:part element="tns:notificaDigitalizacionResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="enviaVerificacionOTPRequest">
		<wsdl:part element="tns:enviaVerificacionOTP" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="enviaVerificacionOTPResponse">
		<wsdl:part element="tns:enviaVerificacionOTPResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="notificaCicloVidaTarjetasRequest">
		<wsdl:part element="tns:notificaCicloVidaTarjetas" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="notificaCicloVidaTarjetasResponse">
		<wsdl:part element="tns:notificaCicloVidaTarjetasResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="vinculaDispositivosRequest">
		<wsdl:part element="tns:vinculaDispositivos" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="vinculaDispositivosResponse">
		<wsdl:part element="tns:vinculaDispositivosResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="notificaCambioInformacionTarjetaRequest">
		<wsdl:part element="tns:notificaCambioInformacionTarjeta" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="notificaCambioInformacionTarjetaResponse">
		<wsdl:part element="tns:notificaCambioInformacionTarjetaResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="pushProvisioningNotificationRequest">
		<wsdl:part element="tns:pushProvisioningNotification" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="pushProvisioningNotificationResponse">
		<wsdl:part element="tns:pushProvisioningNotificationResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>	
	
	<!-- Operaciones nuevas PushCard,BulkProvisionStartJob, BulkProvisionStatusJob -->
	
    <wsdl:message name="BulkProvisionStartJobRequest">
        <wsdl:part element="tns:BulkProvisionStartJob" name="parameters"/>
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    <wsdl:message name="BulkProvisionStartJobResponse">
        <wsdl:part element="tns:BulkProvisionStartJobResponse" name="result"/>
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
    
    <wsdl:message name="BulkProvisionStatusJobRequest">
        <wsdl:part element="tns:BulkProvisionStatusJob" name="parameters"/>
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    <wsdl:message name="BulkProvisionStatusJobResponse">
        <wsdl:part element="tns:BulkProvisionStatusJobResponse" name="result"/>
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
	
	<wsdl:portType name="digitalizacionTarjetasPS">
		<wsdl:operation name="obtieneEstadoSistema" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:obtieneEstadoSistemaRequest"/>
			<wsdl:output message="op:obtieneEstadoSistemaResponse"/>
		</wsdl:operation>
		<wsdl:operation name="compruebaElegibilidad" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:compruebaElegibilidadRequest"/>
			<wsdl:output message="op:compruebaElegibilidadResponse"/>
		</wsdl:operation>
		<wsdl:operation name="notificaDigitalizacion" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:notificaDigitalizacionRequest"/>
			<wsdl:output message="op:notificaDigitalizacionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="enviaVerificacionOTP" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:enviaVerificacionOTPRequest"/>
			<wsdl:output message="op:enviaVerificacionOTPResponse"/>
		</wsdl:operation>
		<wsdl:operation name="notificaCicloVidaTarjetas" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:notificaCicloVidaTarjetasRequest"/>
			<wsdl:output message="op:notificaCicloVidaTarjetasResponse"/>
		</wsdl:operation>
		<wsdl:operation name="vinculaDispositivos" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:vinculaDispositivosRequest"/>
			<wsdl:output message="op:vinculaDispositivosResponse"/>
		</wsdl:operation>
		<wsdl:operation name="notificaCambioInformacionTarjeta" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:notificaCambioInformacionTarjetaRequest"/>
			<wsdl:output message="op:notificaCambioInformacionTarjetaResponse"/>
		</wsdl:operation>
		<wsdl:operation name="pushProvisioningNotification" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:pushProvisioningNotificationRequest"/>
			<wsdl:output message="op:pushProvisioningNotificationResponse"/>
		</wsdl:operation>	
		
		<!-- Nuevas operaciones al portType de BulkProvisionStartJob, BulkProvisionStatusJob -->
       
        <wsdl:operation name="BulkProvisionStartJob" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="op:BulkProvisionStartJobRequest"/>
            <wsdl:output message="op:BulkProvisionStartJobResponse"/>
        </wsdl:operation>
        <wsdl:operation name="BulkProvisionStatusJob" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="op:BulkProvisionStatusJobRequest"/>
            <wsdl:output message="op:BulkProvisionStatusJobResponse"/>
        </wsdl:operation>	
	</wsdl:portType>
	
	<wsdl:binding name="digitalizacionTarjetasPSSOAP" type="op:digitalizacionTarjetasPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="obtieneEstadoSistema">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasPS/obtieneEstadoSistema"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:obtieneEstadoSistemaRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:obtieneEstadoSistemaResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="compruebaElegibilidad">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasPS/compruebaElegibilidad"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:compruebaElegibilidadRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:compruebaElegibilidadResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="notificaDigitalizacion">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasPS/notificaDigitalizacion"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:notificaDigitalizacionRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:notificaDigitalizacionResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="enviaVerificacionOTP">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasPS/enviaVerificacionOTP"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:enviaVerificacionOTPRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:enviaVerificacionOTPResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="notificaCicloVidaTarjetas">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasPS/notificaCicloVidaTarjetas"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:notificaCicloVidaTarjetasRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:notificaCicloVidaTarjetasResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="vinculaDispositivos">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasPS/vinculaDispositivos"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:vinculaDispositivosRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:vinculaDispositivosResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="notificaCambioInformacionTarjeta">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasPS/notificaCambioInformacionTarjeta"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:notificaCambioInformacionTarjetaRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:notificaCambioInformacionTarjetaResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="pushProvisioningNotification">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasPS/pushProvisioningNotification"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:pushProvisioningNotificationRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:pushProvisioningNotificationResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<!--  bindings para las nuevas operaciones BulkProvisionStartJob, BulkProvisionStatusJob  -->
        
        <wsdl:operation name="BulkProvisionStartJob">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasPS/bulkProvisionStartJob"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="op:BulkProvisionStartJobRequest" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="op:BulkProvisionStartJobResponse" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="BulkProvisionStatusJob">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasPS/bulkProvisionStatusJob"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="op:BulkProvisionStatusJobRequest" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="op:BulkProvisionStatusJobResponse" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>	
	</wsdl:binding>
	
	<wsdl:service name="digitalizacionTarjetasPS">
	    <wsdl:port binding="op:digitalizacionTarjetasPSSOAP" name="digitalizacionTarjetasPSSOAP">
	      <soap:address location="http://172.23.13.35:8003/Middleware/OperationsAndExecution/CustomerDeposits/digitalizacionTarjetas"/>
	    </wsdl:port>
	</wsdl:service>

</wsdl:definitions>