Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/actualizacionPerfilT24/wsdl/services.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_-986369596.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_-1279772603.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Actualizaciondeperfildecliente_Validate">
<part name="parameters" element="tns:Actualizaciondeperfildecliente_Validate"/>
</message>
<message name="Actualizaciondeperfildecliente_ValidateResponse">
<part name="parameters" element="tns:Actualizaciondeperfildecliente_ValidateResponse"/>
</message>
<message name="Actualizaciondeperfildecliente">
<part name="parameters" element="tns:Actualizaciondeperfildecliente"/>
</message>
<message name="ActualizaciondeperfildeclienteResponse">
<part name="parameters" element="tns:ActualizaciondeperfildeclienteResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Actualizaciondeperfildecliente_Validate">
<input message="tns:Actualizaciondeperfildecliente_Validate"/>
<output message="tns:Actualizaciondeperfildecliente_ValidateResponse"/>
</operation>
<operation name="Actualizaciondeperfildecliente">
<input message="tns:Actualizaciondeperfildecliente"/>
<output message="tns:ActualizaciondeperfildeclienteResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizaciondeperfildecliente_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizaciondeperfildecliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.242.15.32:7007/svcActualizacionPerfilT24/services"/>
</port>
</service>
</definitions>