Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SALESFORCE/ActualizarSistema/wsdl/ActualizaDatosClienteSalesforce.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://soap.sforce.com/schemas/class/AD_Actualizar_Sistemas" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:shrq0="http://xmlns.oracle.com/types/ActualizaDatosCliente_Cloud/1612982698682/InboundSOAPRequestDocument" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/AD_Actualizar_Sistemas" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wss_http_token_or_jwt_token_service_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:ExactlyOne>
      <wsp:All/>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <osp:HttpToken xmlns:osp="http://schemas.oracle.com/ws/2012/01/wssecuritypolicy">
                  <wsp:Policy>
                    <osp:HttpJwtAuthentication/>
                  </wsp:Policy>
                </osp:HttpToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/AD_Actualizar_Sistemas">
      <xsd:element name="AllowFieldTruncationHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SessionHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
          <xsd:length value="18"/>
          <xsd:pattern value="[a-zA-Z0-9]{18}"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="respuesta">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Message" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="successIndicator" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="address">
        <xsd:complexContent>
          <xsd:extension base="tns:location">
            <xsd:sequence>
              <xsd:element name="city" type="xsd:string"/>
              <xsd:element name="country" type="xsd:string"/>
              <xsd:element name="countryCode" type="xsd:string"/>
              <xsd:element name="geocodeAccuracy" type="xsd:string"/>
              <xsd:element name="postalCode" type="xsd:string"/>
              <xsd:element name="state" type="xsd:string"/>
              <xsd:element name="stateCode" type="xsd:string"/>
              <xsd:element name="street" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="location">
        <xsd:sequence>
          <xsd:element name="latitude" type="xsd:double"/>
          <xsd:element name="longitude" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Parametros">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Uuid" nillable="true" type="xsd:string"/>
            <xsd:element name="CustomerId" nillable="true" type="xsd:string"/>
            <xsd:element name="TargetSystem" nillable="true" type="xsd:string"/>
            <xsd:element name="CountryId" nillable="true" type="xsd:string"/>
            <xsd:element name="OperationDate" nillable="true" type="xsd:date"/>
            <xsd:element name="OperationType" nillable="true" type="xsd:int"/>
            <xsd:element name="Request" nillable="true" type="xsd:string"/>
            <xsd:element name="StatusRequest" nillable="true" type="xsd:string"/>
            <xsd:element name="Response" nillable="true" type="xsd:string"/>
            <xsd:element name="StatusResponse" nillable="true" type="xsd:string"/>
            <xsd:element name="FieldsBeforeModify" nillable="true" type="xsd:string"/>
            <xsd:element name="Observations" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ParametrosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:respuesta"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/ActualizaDatosCliente_Cloud/1612982698682/InboundSOAPRequestDocument" xmlns="http://xmlns.oracle.com/types/ActualizaDatosCliente_Cloud/1612982698682/InboundSOAPRequestDocument" xmlns:ns0="http://soap.sforce.com/schemas/class/AD_Actualizar_Sistemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://soap.sforce.com/schemas/class/AD_Actualizar_Sistemas"/>
      <xs:element name="InboundSOAPRequestDocument" type="InboundSOAPRequestDocumentType"/>
      <xs:complexType name="InboundSOAPRequestDocumentType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Headers" type="HeadersType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Body" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="SOAPHeaders" type="SOAPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPHeadersType">
        <xs:sequence>
          <xs:element ref="ns1:SessionHeader" xmlns:ns1="http://soap.sforce.com/schemas/class/AD_Actualizar_Sistemas"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element ref="ns1:Parametros" xmlns:ns1="http://soap.sforce.com/schemas/class/AD_Actualizar_Sistemas"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tracking_property" type="TrackingPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon" xmlns="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="insight_property" type="InsightPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="ParametrosRequest">
    <part name="parameters" element="tns:Parametros"/>
  </message>
  <message name="ParametrosResponse">
    <part name="parameters" element="tns:ParametrosResponse"/>
  </message>
  <message name="Header">
    <part name="SessionHeader" element="tns:SessionHeader"/>
  </message>
  <portType name="AD_Actualizar_SistemasPortType_ActualizaDatosCliente_Cloud_REQUEST">
    <operation name="Parametros">
      <input message="tns:ParametrosRequest"/>
      <output message="tns:ParametrosResponse"/>
    </operation>
  </portType>
  <binding name="AD_Actualizar_SistemasPortType_ActualizaDatosCliente_Cloud_REQUEST_binding" type="tns:AD_Actualizar_SistemasPortType_ActualizaDatosCliente_Cloud_REQUEST">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#wss_http_token_or_jwt_token_service_policy" wsdl:required="false" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    <operation name="Parametros">
      <soap:operation soapAction="Parametros"/>
      <input>
        <soap:header message="tns:Header" part="SessionHeader" use="literal" encodingStyle=""/>
        <soap:body use="literal" parts="parameters"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AD_Actualizar_SistemasPortType_ActualizaDatosCliente_Cloud_REQUEST">
    <port name="AD_Actualizar_SistemasPortType_ActualizaDatosCliente_Cloud_REQUEST_pt" binding="tns:AD_Actualizar_SistemasPortType_ActualizaDatosCliente_Cloud_REQUEST_binding">
      <soap:address location="https://OICDEV-ficocloud.integration.ocp.oraclecloud.com:443/ic/ws/integration/v1/flows/soap/ACTUALIZADATOSCLIENTESALESFORCE/1.0/"/>
    </port>
  </service>
</definitions>