Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RegistraDespignoracionOPI/xsd/registraDespignoracionesOPITypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/reistraDespignoracionOPITypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/reistraDespignoracionOPITypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: registraDatosActualizados -->
    <!--############################################-->
    
    <xs:element name="registraDespignoracionOPI">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
               <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
               <xs:element name="VALUE" type="xs:decimal" minOccurs="0"/>
               <xs:element name="STATE" type="xs:string" minOccurs="0"/>
               <xs:element name="ID_REFERENCE_T24" type="xs:string" minOccurs="0"/>
               <xs:element name="NUM_MODIFICATIONS" type="xs:decimal" minOccurs="0"/>
               <xs:element name="REALESE_DATE" type="xs:dateTime" minOccurs="0"/>
               <xs:element name="CORE_DATE" type="xs:dateTime" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
   
    <xs:element name="registraDespignoracionOPIResponse">

    </xs:element>
 
 

</xs:schema>