Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ColocacionPrestamoATM/xsd/colocacionPrestamoATMTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/colocacionPrestamoATMTypes" 
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/colocacionPrestamoATMTypes">
	
		<xs:element name="colocacionPrestamoATMRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_CARD" type="xs:string" />
				<xs:element name="ATM_ID" type="xs:decimal" />
				<xs:element name="ATM_NAME" type="xs:string" />
				<xs:element name="TRACE_ID" type="xs:decimal" />		
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<!-- respuesta -->
	<xs:element name="colocacionPrestamoATMResponse">
		<xs:complexType>
	   		 <xs:sequence/>
		</xs:complexType>
	</xs:element>
	
</xs:schema>