Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/OSB/consultaActivosCliente_v2/xsd/XMLSchema_-1314415642.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaClientesTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaClientesTypes">

	<xs:complexType name="consultaClientesRecientesResponseRecordType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="MNEMONIC" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_DOC_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="GIVEN_NAMES" type="xs:string" minOccurs="0"/>
			<xs:element name="FAMILY_NAMES" type="xs:string" minOccurs="0"/>
			<xs:element name="NAME_OF_BUSINESS" type="xs:string" minOccurs="0"/>
			<xs:element name="COMMERCIAL_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_HOLDER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="SHORT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_OF_BIRTH" type="xs:string" minOccurs="0"/>
			<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
			<xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
			<xs:element name="RESIDENCE" type="xs:string" minOccurs="0"/>
			<xs:element name="SECTOR" type="xs:string" minOccurs="0"/>
			<xs:element name="SECTOR_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="INDUSTRY" type="xs:string" minOccurs="0"/>
			<xs:element name="INDUSTRY_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="FGN_CCY_GEN_TYP" type="xs:string" minOccurs="0"/>
			<xs:element name="TARGET" type="xs:string" minOccurs="0"/>
			<xs:element name="TARGET_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="MARITAL_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
			<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
			<xs:element name="MOBILE" type="xs:string" minOccurs="0"/>
			<xs:element name="PHONE" type="xs:string" minOccurs="0"/>
			<xs:element name="FAX" type="xs:string" minOccurs="0"/>
			<xs:element name="OCCUPATION" type="xs:string" minOccurs="0"/>
			<xs:element name="EMPLOYMENT_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="EMPLOYERS_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="MARRIED_LAST_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_REP_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_REP_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE_OF_COMPANY" type="xs:string" minOccurs="0"/>
			<xs:element name="PROFESSION" type="xs:string" minOccurs="0"/>
			<xs:element name="NUMBER_OF_DEED" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_REP_HOME_PHONE" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE_OF_PERSON" type="xs:string" minOccurs="0"/>
			<xs:element name="INPUT_USER" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_OFFICER" type="xs:string" minOccurs="0"/>
			<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="NO_OF_DEPENDENTS" type="xs:string" minOccurs="0"/>
			<xs:element name="EDUCATION_LEVEL" type="xs:string" minOccurs="0"/>
			<xs:element name="SPOUSE_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="EMPLOYMENTSTART" type="xs:string" minOccurs="0"/>
			<xs:element name="INCOME_RANGE" type="xs:string" minOccurs="0"/>
			<xs:element name="ADDRESSES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ADDRESS" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ADDRESS_TYPE" type="xs:string" minOccurs="0"/>
									<xs:element name="MAIN_ADDRESS_YES_NO" type="xs:string" minOccurs="0"/>
									<xs:element name="ADDRESS_LINE_1" type="xs:string" minOccurs="0"/>
									<xs:element name="ADDRESS_LINE_2" type="xs:string" minOccurs="0"/>
									<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0"/>
									<xs:element name="STATE_CODE" type="xs:string" minOccurs="0"/>
									<xs:element name="CITY_CODE" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>			
			<xs:element name="consultaClientesRecientesResponseDetailType" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaClientesRecientesResponseDetailRecordType" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SECTORIZATION_TYPE" type="xs:string" minOccurs="0"/>
									<xs:element name="SECTORIZATION_CODE" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaActivosClienteResponseArrayType">
		<xs:sequence>
			<xs:element name="ASSET_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="ASSET_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="ASSET_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="ASSET_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="ASSET_TOTAL_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="ASSET_RESERVE_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="ASSET_LOCKED_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="ASSET_VISA_FLOATING_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="ASSET_AVAILABLE_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="ASSET_SOURCE_BANK" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPasivosClienteResponseArrayType">
		<xs:sequence>
			<xs:element name="LIABILITY_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="LIABILITY_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="LIABILITY_CUST_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LIABILITY_CURRENCY_1" type="xs:string" minOccurs="0"/>
			<xs:element name="LIABILITY_PRINCIPAL_AMT_1" type="xs:string" minOccurs="0"/>
			<xs:element name="LIABILITY_INT_COM_AMT_1" type="xs:string" minOccurs="0"/>
			<xs:element name="LIABILITY_TOTAL_AMT_1" type="xs:string" minOccurs="0"/>
			<xs:element name="LIABILITY_CURRENCY_2" type="xs:string" minOccurs="0"/>
			<xs:element name="LIABILITY_PRINCIPAL_AMT_2" type="xs:string" minOccurs="0"/>
			<xs:element name="LIABILITY_INT_COM_AMT_2" type="xs:string" minOccurs="0"/>
			<xs:element name="LIABILITY_TOTAL_AMT_2" type="xs:string" minOccurs="0"/>
			<xs:element name="LIABILITY_TOTAL_AMT" type="xs:string" minOccurs="0"/>
			<xs:element name="LIABILITY_PAYMENT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="LIABILITY_SOURCE_BANK" type="xs:string" minOccurs="0"/>
					
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaActivosClienteResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaActivosClienteResponseRecordType" type="cons:consultaActivosClienteResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPasivosClienteResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaPasivosClienteResponseRecordType" type="cons:consultaPasivosClienteResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaClienteResponseType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="MNEMONIC" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_DOC_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="GIVEN_NAMES" type="xs:string" minOccurs="0"/>
			<xs:element name="FAMILY_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="NAME_OF_BUSINESS" type="xs:string" minOccurs="0"/>
			<xs:element name="COMMERCIAL_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_HOLDER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="SHORT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_OF_BIRTH" type="xs:string" minOccurs="0"/>
			<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
			<xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
			<xs:element name="RESIDENCE" type="xs:string" minOccurs="0"/>
			<xs:element name="SECTOR" type="xs:string" minOccurs="0"/>
			<xs:element name="SECTOR_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="INDUSTRY" type="xs:string" minOccurs="0"/>
			<xs:element name="INDUSTRY_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="FGN_CCY_GEN_TYP" type="xs:string" minOccurs="0"/>
			<xs:element name="TARGET" type="xs:string" minOccurs="0"/>
			<xs:element name="TARGET_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="MARITAL_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
			<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
			<xs:element name="MOBILE" type="xs:string" minOccurs="0"/>
			<xs:element name="PHONE" type="xs:string" minOccurs="0"/>
			<xs:element name="FAX" type="xs:string" minOccurs="0"/>
			<xs:element name="OCCUPATION" type="xs:string" minOccurs="0"/>
			<xs:element name="EMPLOYMENT_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="EMPLOYERS_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="MARRIED_LAST_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_REP_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_REP_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE_OF_COMPANY" type="xs:string" minOccurs="0"/>
			<xs:element name="PROFESSION" type="xs:string" minOccurs="0"/>
			<xs:element name="NUMBER_OF_DEED" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_REP_HOME_PHONE" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE_OF_PERSON" type="xs:string" minOccurs="0"/>
			<xs:element name="INPUT_USER" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_OFFICER" type="xs:string" minOccurs="0"/>
			<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="NO_OF_DEPENDENTS" type="xs:string" minOccurs="0"/>
			<xs:element name="EDUCATION_LEVEL" type="xs:string" minOccurs="0"/>
			<xs:element name="SPOUSE_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_SINCE" type="xs:string" minOccurs="0"/>
			<xs:element name="ECONOMIC_GROUP_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="ECONOMIC_GROUP_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="ADDRESSES" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ADDRESS" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ADDRESS_TYPE" type="xs:string" minOccurs="0"/>
									<xs:element name="MAIN_ADDRESS_YES_NO" type="xs:string" minOccurs="0"/>
									<xs:element name="ADDRESS_LINE_1" type="xs:string" minOccurs="0"/>
									<xs:element name="ADDRESS_LINE_2" type="xs:string" minOccurs="0"/>
									<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0"/>
									<xs:element name="STATE_CODE" type="xs:string" minOccurs="0"/>
									<xs:element name="CITY_CODE" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="consultaClienteResponseRecordType" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaClienteResponseRecordArrayType" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SECTORIZATION_TYPE" type="xs:string" minOccurs="0"/>
									<xs:element name="SECTORIZATION_CODE" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaActivosClienteResponseType">
		<xs:sequence>
			<xs:element name="consultaActivosClienteAhorrosResponseType" type="cons:consultaActivosClienteResponseRecordType" form="qualified" minOccurs="0"/>
			<xs:element name="consultaActivosClienteCorrienteResponseType" type="cons:consultaActivosClienteResponseRecordType" form="qualified" minOccurs="0"/>
			<xs:element name="consultaActivosClienteDepositosResponseType" type="cons:consultaActivosClienteResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPasivosClienteResponseType">
		<xs:sequence>
			<xs:element name="consultaPasivosClientePrestamosResponseType" type="cons:consultaPasivosClienteResponseRecordType" form="qualified" minOccurs="0"/>
			<xs:element name="consultaPasivosClienteTCreditoResponseType" type="cons:consultaPasivosClienteResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string"/>
				<xs:element name="CUSTOMER_LEGAL_ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaClientesRecientes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FIRST_CUSTOMER_ID" type="xs:string"/>
				<xs:element name="LAST_CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="consultaCuentasCorrienteResponseArrayType">
		<xs:sequence>
			<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTALBALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVEBALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="LIENBALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="BLOCKEDFUNDSPOS" type="xs:string" minOccurs="0"/>
			<xs:element name="BLOCKEDFUNDSATMS" type="xs:string" minOccurs="0"/>
			<xs:element name="AVAILABLEBAL" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaCuentasCorrienteResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaCuentasCorrienteResponseRecordType" type="cons:consultaCuentasCorrienteResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaCuentasCorrienteResponseType">
		<xs:sequence>
			<xs:element name="consultaCuentasCorrienteResponseType" type="cons:consultaCuentasCorrienteResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaCuentasCorriente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="xs:string"/>

			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="consultaCuentasAhorroResponseArrayType">
		<xs:sequence>
			<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTALBALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVEBALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="LIENBALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="BLOCKEDFUNDSPOS" type="xs:string" minOccurs="0"/>
			<xs:element name="BLOCKEDFUNDSATMS" type="xs:string" minOccurs="0"/>
			<xs:element name="AVAILABLEBAL" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaCuentasAhorroResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaCuentasAhorroResponseRecordType" type="cons:consultaCuentasAhorroResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaCuentasAhorroResponseType">
		<xs:sequence>
			<xs:element name="consultaCuentasAhorroResponseType" type="cons:consultaCuentasAhorroResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaCuentasAhorro">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaActivosClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string"/>
				<xs:element name="ASSET_TYPE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaPasivosClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string"/>
				<xs:element name="LIABILITY_TYPE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="consultaClientesRecientesResponseType">
		<xs:sequence>
			<xs:element name="consultaClientesRecientesResponseType" type="cons:consultaClientesRecientesResponseRecordType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaCuentasAhorroResponse" type="cons:consultaCuentasAhorroResponseType"/>
	
	<xs:element name="consultaCuentasCorrienteResponse" type="cons:consultaCuentasCorrienteResponseType"/>
	
	<xs:element name="consultaClienteResponse" type="cons:consultaClienteResponseType"/>
	
	<xs:element name="consultaClientesRecientesResponse" type="cons:consultaClientesRecientesResponseType"/>
	
	<xs:element name="consultaActivosClienteResponse" type="cons:consultaActivosClienteResponseType"/>
	
	<xs:element name="consultaPasivosClienteResponse" type="cons:consultaPasivosClienteResponseType"/>
	
	<xs:element name="consultaReferenciasCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CUSTOMER_LEGAL_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaReferenciasClienteResponse" type="cons:consultaReferenciasClienteResponseType"/>

	<xs:complexType name="consultaReferenciasClienteResponseType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="COMMERCIAL_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="NAME_OF_BUSINESS" type="xs:string" minOccurs="0"/>
			<xs:element name="PERSONAL_REFERENCES" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PERSONAL_REFERENCES_RECORD" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="GIVEN_NAMES" type="xs:string" minOccurs="0" maxOccurs="1"/>
									<xs:element name="FAMILY_NAMES" type="xs:string" minOccurs="0" maxOccurs="1"/>
									<xs:element name="RELATION_WITH_CUSTOMER" type="xs:string" minOccurs="0" maxOccurs="1"/>
									<xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="COMMERCIAL_REFERENCES" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="COMMERCIAL_REFERENCES_RECORD" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BUSINESS_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
									<xs:element name="CONTACT" type="xs:string" minOccurs="0" maxOccurs="1"/>
									<xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaSobregirosClienteResponseArrayType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="OVERDRAFT_BALANCE" type="xs:string" minOccurs="0"/>
		 </xs:sequence> 


	</xs:complexType>
	
	<xs:complexType name="consultaSobregirosClienteResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaSobregirosClienteResponseRecordType" type="cons:consultaSobregirosClienteResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaSobregirosClienteResponseType">
		<xs:sequence>
			<xs:element name="consultaSobregirosClienteResponseType" type="cons:consultaSobregirosClienteResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaSobregirosCliente">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CUSTOMER_ID" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaSobregirosClienteResponse" type="cons:consultaSobregirosClienteResponseType"/>
	
	<xs:element name="consultaSociosCliente">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CUSTOMER_ID" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaSociosClienteResponse" type="cons:consultaSociosClienteResponseType"/>

	<xs:complexType name="consultaSociosClienteResponseType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="COMMERCIAL_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="NAME_OF_BUSINESS" type="xs:string" minOccurs="0"/>
			<xs:element name="NO_OF_SHAREHOLDERS" type="xs:string" minOccurs="0"/>
			<xs:element name="REGISTER_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="SHARE_HOLDERS" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SHARE_HOLDER_RECORD" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SHR_HLD_LEGAL_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
									<xs:element name="SHR_HLD_GIVEN_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
									<xs:element name="SHR_HLD_FAMILY_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
									<xs:element name="SHR_HLD_PARTICIPATION" type="xs:string" minOccurs="0" maxOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
		
	<xs:element name="consultaLimitesCliente">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CUSTOMER_ID" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>		

	<xs:element name="consultaLimitesClienteResponse" type="cons:consultaLimitesClienteResponseType"/>

	<xs:complexType name="consultaLimitesClienteResponseType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LIMIT_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_LIMIT" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_LIMIT_LCY" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_REDU_LIMIT" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_REDU_LIMIT_LCY" type="xs:string" minOccurs="0"/>
			<xs:element name="AVAIL_REDU_LIMIT" type="xs:string" minOccurs="0"/>
			<xs:element name="AVAIL_REDU_LIMIT_LCY" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_NON_REDU_LIMIT" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_NON_REDU_LIMIT_LCY" type="xs:string" minOccurs="0"/>
			<xs:element name="AVAIL_NON_REDU_LIMIT" type="xs:string" minOccurs="0"/>
			<xs:element name="AVAIL_NON_REDU_LIMIT_LCY" type="xs:string" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>	
	
</xs:schema>