Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/DEBITCARD/consultaLotes/xsd/consultaLotes_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaLotes" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaLotes" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PT_BATCH_REFERENCES" type="db:DEBICARD.T_BATCH" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_COUNTRY" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_BATCH_DETAILS" type="db:DEBICARD.T_BATCH_ITEM" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_CODE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_MESSAGE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DEBICARD.BATCH_ITEM">
      <sequence>
         <element name="BATCH_REFERENCE" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BATCH_DATE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BATCH_STATUS" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_DETAILS" type="db:DEBICARD.T_CARD" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="BATCH_BRANCH_CODE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DEBICARD.T_CARD">
      <sequence>
         <element name="CARD_DETAILS_ITEM" type="db:DEBICARD.CARD" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DEBICARD.BATCH_REFERENCES">
      <sequence>
         <element name="V_BATCH_REFERENCES" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DEBICARD.CARD">
      <sequence>
         <element name="BIN" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_NUMBER" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_LIFESPAN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CARD_STATUS" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DEBICARD.T_BATCH">
      <sequence>
         <element name="PT_BATCH_REFERENCES_ITEM" type="db:DEBICARD.BATCH_REFERENCES" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DEBICARD.T_BATCH_ITEM">
      <sequence>
         <element name="PT_BATCH_DETAILS_ITEM" type="db:DEBICARD.BATCH_ITEM" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string80">
      <restriction base="string">
         <maxLength value="80"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>