Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/recaudos/consultaReciboRecaudo/consultaReciboRecaudoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaReciboRecaudoTypes"
	xmlns:com="http://www.ficohsa.com.hn/middleware.services/consultaReciboRecaudoTypes">
	
	<xs:element name="consultaReciboRecaudo">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
	            <xs:element name="SERVICE_ID" type="xs:string" minOccurs="0"/>
	            <xs:element name="PAYMENT_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0"/>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaReciboRecaudoResponse">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
	            <xs:element name="SERVICE_ID" type="xs:string" minOccurs="0"/>
	            <xs:element name="PAYMENT_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTANCE_KEY" type="xs:string" minOccurs="0"/>
	            <xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0"/>
	            <xs:element name="DEALSLIP" type="xs:string" minOccurs="0"/>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>