Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/generalService/wsdl/COBISCorp.eCOBIS.SrvAplCobisGenerales.Service.wsdl

<wsdl:definitions name="SrvAplCobisGenerales" targetNamespace="http://impl.service.srvaplcobisgenerales.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.srvaplcobisgenerales.ecobis.cobiscorp" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:S1="http://impl.service.srvaplcobisgenerales.ecobis.cobiscorp/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.srvaplcobisgenerales.ecobis.cobiscorp/"><xsd:import namespace="http://service.srvaplcobisgenerales.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsjOpConsultaAgenciasSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaAgenciasSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaOficialesRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaOficialesRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpBuscarFechaSistemaRespuesta">
    <wsdl:part name="parameters" element="tns:opBuscarFechaSistemaRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpBuscarPaisesRespuesta">
    <wsdl:part name="parameters" element="tns:opBuscarPaisesRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpBuscarFechaSistemaSolicitud">
    <wsdl:part name="parameters" element="tns:opBuscarFechaSistemaSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaOficialesSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaOficialesSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaAgenciasRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaAgenciasRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpBuscarPaisesSolicitud">
    <wsdl:part name="parameters" element="tns:opBuscarPaisesSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SrvAplCobisGenerales">
    <wsdl:operation name="OpBuscarFechaSistema">
      <wsdl:input message="S1:MsjOpBuscarFechaSistemaSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpBuscarFechaSistemaRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpBuscarPaises">
      <wsdl:input message="S1:MsjOpBuscarPaisesSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpBuscarPaisesRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaAgencias">
      <wsdl:input message="S1:MsjOpConsultaAgenciasSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpConsultaAgenciasRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaOficiales">
      <wsdl:input message="S1:MsjOpConsultaOficialesSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpConsultaOficialesRespuesta">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvAplCobisGeneralesBindingSOAP12" type="S1:SrvAplCobisGenerales">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpBuscarFechaSistema">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpBuscarPaises">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaAgencias">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaOficiales">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvAplCobisGeneralesService">
    <wsdl:port name="SrvAplCobisGeneralesBindingSOAP12" binding="S1:SrvAplCobisGeneralesBindingSOAP12">
      <soap12:address location="http://10.235.53.145:9080/GerenciaDesarrollo/SrvAplCobisGeneralesService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>