Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/PWS/calculaAmortizacionPrestamo/xsd/calculaAmortizacionPrestamo_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/calculaAmortizacionPrestamo" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/calculaAmortizacionPrestamo" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="AMOUNT" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="CURRENCY" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ANNUAL_RATE" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="AMORTIZATION_TYPE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TERM" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="CLEARING_TYPE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="FORMALIZATION_EXPENSE" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="INSURANCE_LIFE_DEBT" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="INSURANCE_UNEMPLOYMENT" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DISBURSEMENT_DATE" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DISBURSEMENT_RATE" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="FIRST_PAYMENT_DATE" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="FORMALIZATION_EXPENSE" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="TOTAL_CAPITAL" type="decimal" db:index="13" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="TOTAL_INTERESTS" type="decimal" db:index="14" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="TOTAL_LIFE_DEBT" type="decimal" db:index="15" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="TOTAL_UNEMPLOYMENT" type="decimal" db:index="16" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="TOTAL_PAYMENT" type="decimal" db:index="17" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="TOTAL_ANNUAL_COST" type="decimal" db:index="18" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="INTERNAL_RATE_RETURN" type="decimal" db:index="19" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="DISBURSEMENT_AMOUNT" type="decimal" db:index="20" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="DISBURSEMENT_FEE" type="decimal" db:index="21" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PRIME_LIFE_DEBT" type="decimal" db:index="22" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PRIME_UNEMPLOYMENT" type="decimal" db:index="23" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="LOAN_PAYMENTS" type="db:PAGOSWS.T_LOAN_PAYMENT_PLAN" db:index="24" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="RETURN_CODE" type="string" db:index="25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="RETURN_MESSAGE" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PAGOSWS.OT_LOAN_PAYMENT">
      <sequence>
         <element name="PAYMENT_ORDER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PAYMENT_DATE" type="db:string8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DAYS_IN_PERIOD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PAYMENT_CAPITAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PAYMENT_INTERESTS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INSURANCE_LIFE_DEBT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INSURANCE_UNEMPLOYMENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PAYMENT_TOTAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRINCIPAL_BALANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.T_LOAN_PAYMENT_PLAN">
      <sequence>
         <element name="LOAN_PAYMENTS_ITEM" type="db:PAGOSWS.OT_LOAN_PAYMENT" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string8">
      <restriction base="string">
         <maxLength value="8"/>
      </restriction>
   </simpleType>
</schema>