Fuentes/ficohsacore-osb-7e5cceccb837/MWHostToHost/v1/Resources/ConsultaReciboH2H/wsdl/consultaReciboH2HPS.wsdl

<wsdl:definitions name="consultaReciboH2HPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaReciboH2HPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaReciboH2HPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:hcob="http://www.ficohsa.com.hn/middleware.services/cobranzasH2HTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../EsquemasGenerales/headerElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/cobranzasH2HTypes" schemaLocation="../../CobranzasH2H/xsd/cobranzasH2HTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="consultaReciboH2HRequest">
		<wsdl:part element="hcob:consultaRecibo" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="consultaReciboH2HResponse">
		<wsdl:part element="hcob:consultaReciboResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="consultaReciboH2HPS">
		<wsdl:operation name="consultaRecibo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaReciboH2HRequest"/>
			<wsdl:output message="fic:consultaReciboH2HResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="consultaReciboH2HPSSOAP" type="fic:consultaReciboH2HPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="consultaRecibo">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaReciboH2HPS/op"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="consultaReciboH2HPS">
		<wsdl:port binding="fic:consultaReciboH2HPSSOAP" name="consultaReciboH2HPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Payments/consultaReciboH2H"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>