Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ActualizacionClienteTarjetaCredito/xsd/actualizacionClienteTarjetaCreditoTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizacionClienteTarjetaCreditoTypes"
	xmlns:cct="http://www.ficohsa.com.hn/middleware.services/actualizacionClienteTarjetaCreditoTypes">
	
	<!-- stringMinLength1Type -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- homeAddressType -->
    <xs:complexType name="homeAddressType">
    	<xs:sequence>
    		<xs:element name="HOME_ADDRESS_LINE_1" type="xs:string" minOccurs="0"/>
    		<xs:element name="HOME_ADDRESS_LINE_2" type="xs:string" minOccurs="0"/>
    		<xs:element name="HOME_ADDRESS_LINE_3" type="xs:string" minOccurs="0"/>
    		<xs:element name="HOME_ADDRESS_LINE_4" type="xs:string" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <!-- workAddressType -->
    <xs:complexType name="workAddressType">
    	<xs:sequence>
    		<xs:element name="WORK_ADDRESS_1" type="xs:string" minOccurs="0"/>
    		<xs:element name="WORK_ADDRESS_2" type="xs:string" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <!-- chanelCodeType -->
    <xs:complexType name="chanelCodeType">
    	<xs:sequence>
    		<xs:element name="CHANEL_CODE_1" type="xs:string" minOccurs="0"/>
    		<xs:element name="CHANEL_CODE_2" type="xs:string" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
	
	<xs:element name="actualizacionClienteTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:integer"/>
				<xs:element name="PRODUCT_TYPE" type="xs:integer"/>
				<xs:element name="PRODUCT_NUMBER" type="cct:stringMinLength1"/>
				<xs:element name="FOREIGN_INDICATOR" type="xs:integer"/>
				<xs:element name="DEMOGRAPHIC_DATA_INDICATOR" type="cct:stringMinLength1" />
				<xs:element name="USER_DATA_INDICATOR" type="xs:integer" />
				<xs:element name="VIP_STATUS" type="cct:stringMinLength1" />
				<xs:element name="CUSTOMER_STATUS" type="cct:stringMinLength1" />
				<xs:element name="PROFESSION" type="xs:string" minOccurs="0"/>
				<xs:element name="MARITAL_STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="TYPE_NAME_1" type="xs:string" minOccurs="0"/>
				<xs:element name="NAME_1" type="xs:string" minOccurs="0"/>
				<xs:element name="TYPE_NAME_2" type="xs:string" minOccurs="0"/>
				<xs:element name="NAME_2" type="xs:string" minOccurs="0"/>
				<xs:element name="TYPE_NAME_3" type="xs:string" minOccurs="0"/>
				<xs:element name="NAME_3" type="xs:string" minOccurs="0"/>
                <xs:element name="COUNTRY_OF_BIRTH" type="xs:string" minOccurs="0"/>
				<xs:element name="HOME_ADDRESS" type="cct:homeAddressType" minOccurs="0"/>
				<xs:element name="CITY" type="xs:string" minOccurs="0"/>
				<xs:element name="STATE" type="xs:string" minOccurs="0"/>
				<xs:element name="ZIP_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="COUNTRY_OF_RESIDENCE" type="xs:string" minOccurs="0"/>
				<xs:element name="RESIDENCE_TYPE" type="xs:integer" minOccurs="0"/>
				<xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
				<xs:element name="EMAIL_LIST" type="xs:string" minOccurs="0"/>
				<xs:element name="CONTACT_INDICATOR" type="xs:string" minOccurs="0"/>
				<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
				<xs:element name="HOME_PHONE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="FAX_PHONE" type="xs:string" minOccurs="0"/>
				<xs:element name="PHONE_INDICATOR" type="xs:string" minOccurs="0"/>
				<xs:element name="MOBILE_PHONE" type="xs:string" minOccurs="0"/>
				<xs:element name="MOBILE_INDICATOR" type="xs:string" minOccurs="0"/>
				<xs:element name="BIRTH_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="LEGAL_ID_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0"/>                
				<xs:element name="DRIVERS_LICENSE" type="xs:string" minOccurs="0"/>		
				<xs:element name="WORKPLACE" type="xs:string" minOccurs="0"/>
				<xs:element name="WORK_ADDRESS" type="cct:workAddressType" minOccurs="0"/>
				<xs:element name="WORK_PHONE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="WORK_EXTENSION" type="xs:string" minOccurs="0"/>
				<xs:element name="WORK_TITLE" type="xs:string" minOccurs="0"/>
				<xs:element name="RELATIVE_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="DEPENDENTS" type="xs:string" minOccurs="0"/>
				<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
				<xs:element name="NAMES" type="xs:string" minOccurs="0"/>
				<xs:element name="LAST_NAMES" type="xs:string" minOccurs="0"/>
				<xs:element name="FIRST_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="SECOND_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="FIRST_SURNAME" type="xs:string" minOccurs="0"/>
				<xs:element name="SECOND_SURNAME" type="xs:string" minOccurs="0"/>
				<xs:element name="CHANEL_CODE" type="cct:chanelCodeType" minOccurs="0"/>				
				<xs:element name="EMPLOYMENT_YEARS" type="xs:string" minOccurs="0"/>
				<xs:element name="EMPLOYMENT_MONTHS" type="xs:string" minOccurs="0"/>
				<xs:element name="PEP_CLIENT" type="xs:string" minOccurs="0"/>  
                <xs:element name="OPERATION_TYPE" type="xs:string" minOccurs="0" />
                <xs:element name="ALTERNATE_CLIENT_EMAIL" type="xs:string" minOccurs="0"/>
                <xs:element name="SALARY_RANGE" type="xs:string" minOccurs="0" />
                <xs:element name="SALARY_RANGE_DESC" type="xs:string" minOccurs="0" />
                <xs:element name="WORK_ECONOMIC_ACTIVITY" type="xs:string" minOccurs="0" />
                <xs:element name="CLIENT_ECONOMIC_ACTIVITY" type="xs:string" minOccurs="0" />
                <xs:element name="EDUCATION_LEVEL" type="xs:string" minOccurs="0"/>
                <xs:element name="CITY_OF_BIRTH" type="xs:string" minOccurs="0" />
                <xs:element name="MONTHLY_INCOME" type="xs:decimal" minOccurs="0" />
                <xs:element name="NATURE_OF_BUSINESS" type="xs:string" minOccurs="0" />
                <xs:element name="ISSUE_DATE_CLIENT_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="EXPIRATION_DATE_CLIENT_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="WORK_MUNICIPALITY" type="xs:string" minOccurs="0" />
                <xs:element name="WORK_ADDRESS_3" type="xs:string" minOccurs="0"/>
                <xs:element name="WORK_STATE" type="xs:string" minOccurs="0"/>
                <xs:element name="WORK_ADDRESS_4" type="xs:string" minOccurs="0"/>
                <xs:element name="PERSONAL_REFERENCE_TYPE1" type="xs:string" minOccurs="0"/>
                <xs:element name="PERSONAL_REFERENCE_NAME1" type="xs:string" minOccurs="0"/>
                <xs:element name="PERSONAL_REFERENCE_PHONE1" type="xs:string" minOccurs="0"/>
                <xs:element name="PERSONAL_REFERENCE_TYPE2" type="xs:string" minOccurs="0"/>
                <xs:element name="PERSONAL_REFERENCE_NAME2" type="xs:string" minOccurs="0"/>
                <xs:element name="PERSONAL_REFERENCE_PHONE2" type="xs:string" minOccurs="0"/>
                <xs:element name="NAMES_SPOUSE" type="xs:string" minOccurs="0"/>
                <xs:element name="SURNAMES_SPOUSE" type="xs:string" minOccurs="0"/>
                <xs:element name="EMAIL_SPOUSE" type="xs:string" minOccurs="0"/>
                <xs:element name="DATE_OF_BIRTH_SPOUSE" type="xs:string" minOccurs="0"/>
                <xs:element name="SPOUSE_ID_TYPE" type="xs:string" minOccurs="0"/>
                <xs:element name="SPOUSE_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="SPOUSE_PHONE" type="xs:string" minOccurs="0"/>
                <xs:element name="HOME_MUNICIPALITY" type="xs:string" minOccurs="0"/>
                <xs:element name="PROFESSION_DESC" type="xs:string" minOccurs="0"/>                
                <xs:element name="HOME_STATE" type="xs:string" minOccurs="0"/>
                <xs:element name="LOGIN_APP" type="xs:string" minOccurs="0"/>
                <xs:element name="USER_NAME" type="xs:string" minOccurs="0"/>
                <xs:element name="ID_CREDIT_REQUEST" type="xs:string" minOccurs="0"/>
                <xs:element name="ID_SALEFORCE_REQUEST" type="xs:string" minOccurs="0"/>
                <xs:element name="SELLER_CODE" type="xs:string" minOccurs="0"/>
                <xs:element name="SUPERVISOR_CODE" type="xs:string" minOccurs="0"/>
                <xs:element name="SF_FLOW" type="xs:string" minOccurs="0"/>
                <xs:element name="CHANNEL" type="xs:string" minOccurs="0"/>
                <xs:element name="OFFICE" type="xs:string" minOccurs="0"/>				
                <xs:element name="OTHER_ANNUAL_INCOME" type="xs:string" minOccurs="0"/>
                <xs:element name="SOURCE_OTHER_INCOME" type="xs:string" minOccurs="0"/>
                <xs:element name="YEARS_OF_RESIDENCE" type="xs:string" minOccurs="0"/>
                <xs:element name="MONTHS_OF_RESIDENCE" type="xs:string" minOccurs="0"/>
                <xs:element name="ALTERNATE_TELEPHONE" type="xs:string" minOccurs="0"/>
                <xs:element name="POSITION_OCCUPATION" type="xs:string" minOccurs="0"/>
                <xs:element name="JOB_CODE" type="xs:string" minOccurs="0"/>
                <xs:element name="SENIORITY_EMPLOYEE_YEARS" type="xs:string" minOccurs="0"/>
                <xs:element name="SENIORITY_EMPLOYEE_MONTHS" type="xs:string" minOccurs="0"/>
                <xs:element name="IS_PEP" type="xs:string" minOccurs="0"/>
                <xs:element name="DEPARTMENT_WORK" type="xs:string" minOccurs="0"/>
                <xs:element name="COUNTRY_WORK" type="xs:string" minOccurs="0"/>
                <xs:element name="ALTERNATE_ADDRESS" type="xs:string" minOccurs="0"/>
                <xs:element name="COMMENTS" type="xs:string" minOccurs="0"/>
				<xs:element name="FREQUENT_FLYEER" type="xs:string" minOccurs="0" />                            
                <xs:element name="FLYER_TYPE" type="xs:string" minOccurs="0" />
                <xs:element name="MAILING_LIST" type="xs:string" minOccurs="0" />
                <xs:element name="OTHERS_INCOMES" type="xs:string" minOccurs="0" />
				<xs:element name="NATIONALITY" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="actualizacionClienteTarjetaCreditoResponse"/>
	
</xs:schema>