Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Transfers/RequestorServices/WADL/TransfersRouter_PS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/keyValueTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:ns0="http://www.ficohsa.com.hn/middleware.services/transferTypes" xmlns="http://wadl.dev.java.net/2009/02" xmlns:trans="http://www.ficohsa.com.hn/middleware.services/transferLocalAccountTypes" xmlns:trare="http://www.ficohsa.com.hn/middleware.services/transactionReversalTypes">
   <doc title="TransfersRouter_PS">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/transferTypes" schemaLocation="../XSD/transferTypes.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/transferLocalAccountTypes" schemaLocation="../XSD/transferLocalAccountTypes.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/transactionReversalTypes" schemaLocation="../XSD/transactionReversalTypes.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/account">
         <method name="POST" soa:wsdlOperation="transfersAccount">
            <request>
               <representation mediaType="application/json" element="cns:transfersAccountRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/transferTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:transfersAccountResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/transferTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/transfers-local-account">
         <method name="POST" soa:wsdlOperation="transfersLocalAccount">
            <request>
               <representation mediaType="application/json" element="cns:transfersLocalAccountRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/transferLocalAccountTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:transfersLocalAccountResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/transferLocalAccountTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/transaction-reversal">
         <method name="POST" soa:wsdlOperation="transactionReversal">
            <request>
               <representation mediaType="application/json" element="cns:transactionReversalRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/transactionReversalTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:transactionReversalResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/transactionReversalTypes"/>
            </response>
         </method>
      </resource>
   </resources>
</application>