Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/GestionesCarteraCrediticia/wsdl/gestionesCarteraCrediticiaPS.wsdl

<wsdl:definitions name="gestionesCarteraCrediticiaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionesCarteraCrediticiaPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/gestionesCarteraCrediticiaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:alt="http://www.ficohsa.com.hn/middleware.services/GestionesCarteraCrediticia" xmlns:tns="http://www.bea.com/wli/sb/stages/transform/config">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/GestionesCarteraCrediticia" schemaLocation="../xsd/gestionesCarteraCrediticiaTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestHeader">
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="responseHeader">
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
     
    <wsdl:message name="ingresaAcuerdoPagoRequest">
        <wsdl:part element="alt:ingresaAcuerdoPagoRequest" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="ingresaAcuerdoPagoResponse">
        <wsdl:part element="alt:ingresaAcuerdoPagoResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:portType name="gestionesCarteraCrediticiaPS">
        <wsdl:operation name="ingresaAcuerdoPago" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:ingresaAcuerdoPagoRequest"/>
            <wsdl:output message="fic:ingresaAcuerdoPagoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="gestionesCarteraCrediticiaPSSOAP" type="fic:gestionesCarteraCrediticiaPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ingresaAcuerdoPago">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesCarteraCrediticiaPS/ingresaAcuerdoPago"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="gestionesCarteraCrediticiaPS">
        <wsdl:port binding="fic:gestionesCarteraCrediticiaPSSOAP" name="gestionesCarteraCrediticiaPSSOAP">
           <soap:address location="https://172.23.13.19:8004/Middleware/CarteraCrediticia/GestionesCarteraCrediticia"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>