Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/RegistroBitacoraConvenio/RegistroBitacoraConvenio.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/registroBitacoraConvenioTypes"
	xmlns:reg="http://www.ficohsa.com.hn/middleware.services/registroBitacoraConvenioTypes">
	
	<xs:complexType name="registroBitacoraConvenioResponse">
		<xs:sequence>
		    <xs:element name="ERROR_CODE" type="xs:string" minOccurs="1" />
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" />		
	    </xs:sequence> 
	</xs:complexType>
	
	<xs:element name="registroBitacoraConvenio">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOG_UUID" type="xs:string" minOccurs="1"/>
				<xs:element name="LOG_TYPE" type="xs:string" minOccurs="1"/>
	            <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
	            <xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="OPERATION_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="USER" type="xs:string" minOccurs="0"/>
	            <xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
	            <xs:element name="SOAP_MESSAGE" type="xs:string" minOccurs="0"/>
	            <xs:element name="REQUEST_LOG_UUID" type="xs:string" minOccurs="0"/>
	            <xs:element name="ERROR_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="registroBitacoraConvenioResponse" type="reg:registroBitacoraConvenioResponse" />
	
</xs:schema>