Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/ventaInventario/wsdl/ventaInventario.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_-1840610020.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_-2134013027.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="VentadeInventarioenefectivo">
<part name="parameters" element="tns:VentadeInventarioenefectivo"/>
</message>
<message name="VentadeInventarioenefectivoResponse">
<part name="parameters" element="tns:VentadeInventarioenefectivoResponse"/>
</message>
<message name="VentadeInventarioenefectivo_Validate">
<part name="parameters" element="tns:VentadeInventarioenefectivo_Validate"/>
</message>
<message name="VentadeInventarioenefectivo_ValidateResponse">
<part name="parameters" element="tns:VentadeInventarioenefectivo_ValidateResponse"/>
</message>
<message name="Ventadeinventarioconcheque">
<part name="parameters" element="tns:Ventadeinventarioconcheque"/>
</message>
<message name="VentadeinventarioconchequeResponse">
<part name="parameters" element="tns:VentadeinventarioconchequeResponse"/>
</message>
<message name="Ventadeinventarioconcheque_Validate">
<part name="parameters" element="tns:Ventadeinventarioconcheque_Validate"/>
</message>
<message name="Ventadeinventarioconcheque_ValidateResponse">
<part name="parameters" element="tns:Ventadeinventarioconcheque_ValidateResponse"/>
</message>
<message name="VentadeinventarioconTC">
<part name="parameters" element="tns:VentadeinventarioconTC"/>
</message>
<message name="VentadeinventarioconTCResponse">
<part name="parameters" element="tns:VentadeinventarioconTCResponse"/>
</message>
<message name="VentadeinventarioconTC_Validate">
<part name="parameters" element="tns:VentadeinventarioconTC_Validate"/>
</message>
<message name="VentadeinventarioconTC_ValidateResponse">
<part name="parameters" element="tns:VentadeinventarioconTC_ValidateResponse"/>
</message>
<message name="Consultadeinventarioenagencia">
<part name="parameters" element="tns:Consultadeinventarioenagencia"/>
</message>
<message name="ConsultadeinventarioenagenciaResponse">
<part name="parameters" element="tns:ConsultadeinventarioenagenciaResponse"/>
</message>
<message name="Consultadetalleinventario">
<part name="parameters" element="tns:Consultadetalleinventario"/>
</message>
<message name="ConsultadetalleinventarioResponse">
<part name="parameters" element="tns:ConsultadetalleinventarioResponse"/>
</message>
<message name="Ventadeinventariocondbcta">
<part name="parameters" element="tns:Ventadeinventariocondbcta"/>
</message>
<message name="VentadeinventariocondbctaResponse">
<part name="parameters" element="tns:VentadeinventariocondbctaResponse"/>
</message>
<message name="Ventadeinventariocondbcta_Validate">
<part name="parameters" element="tns:Ventadeinventariocondbcta_Validate"/>
</message>
<message name="Ventadeinventariocondbcta_ValidateResponse">
<part name="parameters" element="tns:Ventadeinventariocondbcta_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="VentadeInventarioenefectivo">
<input message="tns:VentadeInventarioenefectivo"/>
<output message="tns:VentadeInventarioenefectivoResponse"/>
</operation>
<operation name="VentadeInventarioenefectivo_Validate">
<input message="tns:VentadeInventarioenefectivo_Validate"/>
<output message="tns:VentadeInventarioenefectivo_ValidateResponse"/>
</operation>
<operation name="Ventadeinventarioconcheque">
<input message="tns:Ventadeinventarioconcheque"/>
<output message="tns:VentadeinventarioconchequeResponse"/>
</operation>
<operation name="Ventadeinventarioconcheque_Validate">
<input message="tns:Ventadeinventarioconcheque_Validate"/>
<output message="tns:Ventadeinventarioconcheque_ValidateResponse"/>
</operation>
<operation name="VentadeinventarioconTC">
<input message="tns:VentadeinventarioconTC"/>
<output message="tns:VentadeinventarioconTCResponse"/>
</operation>
<operation name="VentadeinventarioconTC_Validate">
<input message="tns:VentadeinventarioconTC_Validate"/>
<output message="tns:VentadeinventarioconTC_ValidateResponse"/>
</operation>
<operation name="Consultadeinventarioenagencia">
<input message="tns:Consultadeinventarioenagencia"/>
<output message="tns:ConsultadeinventarioenagenciaResponse"/>
</operation>
<operation name="Consultadetalleinventario">
<input message="tns:Consultadetalleinventario"/>
<output message="tns:ConsultadetalleinventarioResponse"/>
</operation>
<operation name="Ventadeinventariocondbcta">
<input message="tns:Ventadeinventariocondbcta"/>
<output message="tns:VentadeinventariocondbctaResponse"/>
</operation>
<operation name="Ventadeinventariocondbcta_Validate">
<input message="tns:Ventadeinventariocondbcta_Validate"/>
<output message="tns:Ventadeinventariocondbcta_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VentadeInventarioenefectivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VentadeInventarioenefectivo_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Ventadeinventarioconcheque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Ventadeinventarioconcheque_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VentadeinventarioconTC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VentadeinventarioconTC_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadeinventarioenagencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadetalleinventario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Ventadeinventariocondbcta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Ventadeinventariocondbcta_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.55:7004/svcVentaInventario/services"/>
</port>
</service>
</definitions>