Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/BusinessServices/MoneyTransferOperations/wsdl/SwitchRemittanceService.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QueryRemittance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pRequest" type="tns:RequestQueryRemittance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestQueryRemittance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RemitCompanyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemittanceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Beneficiary" type="tns:RequestQueryRemittanceBeneficiary" />
          <s:element minOccurs="0" maxOccurs="1" name="NsoInfo" type="tns:RequestNSO_Info" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestQueryRemittanceBeneficiary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TypeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumberID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestNSO_Info">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Trace" type="tns:RequestNSO_InfoTrace" />
          <s:element minOccurs="0" maxOccurs="1" name="Authorization" type="tns:RequestNSO_InfoAuthorization" />
          <s:element minOccurs="0" maxOccurs="1" name="BankNoteBreakdown" type="tns:RequestNSO_InfoBankNote" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalInfo" type="tns:RequestNSO_InfoAdditionalInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="CtrReference" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestNSO_InfoTrace">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TellerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BranchID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChanelCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QueueTicketID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TxnRefNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealslipID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestNSO_InfoAuthorization">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KVPairs" type="tns:RequestNSO_InfoAuthorizationKVPairs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestNSO_InfoAuthorizationKVPairs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="pair" type="tns:ArrayOfRequestNSO_InfoAuthKVPairsPair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRequestNSO_InfoAuthKVPairsPair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RequestNSO_InfoAuthKVPairsPair" nillable="true" type="tns:RequestNSO_InfoAuthKVPairsPair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestNSO_InfoAuthKVPairsPair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestNSO_InfoBankNote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BankNote" type="tns:ArrayOfRequestNSO_InfoBankNoteBankNote" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRequestNSO_InfoBankNoteBankNote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RequestNSO_InfoBankNoteBankNote" nillable="true" type="tns:RequestNSO_InfoBankNoteBankNote" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestNSO_InfoBankNoteBankNote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestNSO_InfoAdditionalInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KVPairs" type="tns:RequestNSO_InfoAdditionalInfoKVPairs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestNSO_InfoAdditionalInfoKVPairs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Pair" type="tns:ArrayOfRequestNSO_InfoAuthKVPairsPair" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryRemittanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResponseQueryRemittance" type="tns:ResponseQueryRemittance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseQueryRemittance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RemitCompanyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemitCompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemittanceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemittanceStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemittanceDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceiverAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ExchangeRate" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderInfo" type="tns:ResponseQueryRemittanceSender" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverInfo" type="tns:ResponseQueryRemittanceBeneficiary" />
          <s:element minOccurs="1" maxOccurs="1" name="TrxRequiresEspecialIVE" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponseQueryRemittanceSender">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OtherName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponseQueryRemittanceBeneficiary">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AbanksCustomerExist" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AbanksCustomerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IdNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OtherName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PaymentRemittance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pRequest" type="tns:RequestPaymentRemittance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestPaymentRemittance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RemitCompanyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemittanceID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AbanksCustomerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Payment" type="tns:RequestPaymentRemittancePayType" />
          <s:element minOccurs="0" maxOccurs="1" name="NsoInfo" type="tns:RequestNSO_Info" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestPaymentRemittancePayType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PayItem" type="tns:ArrayOfRequestPaymentRemittancePayItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRequestPaymentRemittancePayItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RequestPaymentRemittancePayItem" nillable="true" type="tns:RequestPaymentRemittancePayItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestPaymentRemittancePayItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="MoreInfo" type="tns:RequestPaymentRemittanceMoreInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestPaymentRemittanceMoreInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="tns:RequestPaymentRemittanceAccount" />
          <s:element minOccurs="0" maxOccurs="1" name="Check" type="tns:RequestPaymentRemittanceCheck" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditCard" type="tns:RequestPaymentRemittanceCard" />
          <s:element minOccurs="0" maxOccurs="1" name="DebitCard" type="tns:RequestPaymentRemittanceCard" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestPaymentRemittanceAccount">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestPaymentRemittanceCheck">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CheckNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BankCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BankDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestPaymentRemittanceCard">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CardNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VerificationCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="PaymentRemittanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResponsePaymentRemittance" type="tns:ResponsePaymentRemittance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponsePaymentRemittance">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Sequency" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionInfo" type="tns:ResponsePaymentRemittanceTransactionInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponsePaymentRemittanceTransactionInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DealSlip" type="tns:RequestPaymentRemittanceDealSlip" />
          <s:element minOccurs="1" maxOccurs="1" name="TxnRefID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TxnTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TxnDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="DateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BranchID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequiresCTR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealSlipURL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestPaymentRemittanceDealSlip" />
      <s:element name="SendingRemittance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pRequest" type="tns:RequestSendingRemittance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestSendingRemittance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RemittCompanyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderInfo" type="tns:RequestQueryRemittanceBeneficiary" />
          <s:element minOccurs="0" maxOccurs="1" name="BeneficiaryInfo" type="tns:RequestSenderRemittanceBeneficiary" />
          <s:element minOccurs="0" maxOccurs="1" name="Payment" type="tns:RequestPaymentRemittancePayType" />
          <s:element minOccurs="0" maxOccurs="1" name="NsoInfo" type="tns:RequestNSO_Info" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestSenderRemittanceBeneficiary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TypeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumberID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CityCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StateCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendingRemittanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResponseSendingRemittance" type="tns:ResponseSendingRemittance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseSendingRemittance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RemittCompanyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemittCompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemittanceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SendingAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceiverAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ExchangeRate" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="senderInfo" type="tns:ResponseQueryRemittanceBeneficiary" />
          <s:element minOccurs="0" maxOccurs="1" name="BeneficiaryInfo" type="tns:ResponseQueryRemittanceSender" />
          <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReverseRemittance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pRequest" type="tns:RequestReverseRemittance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestReverseRemittance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NsoInfo" type="tns:RequestNSO_Info" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReverseRemittanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResponseReverseRemittance" type="tns:ResponsePaymentRemittance" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryRemittanceSoapIn">
    <wsdl:part name="parameters" element="tns:QueryRemittance" />
  </wsdl:message>
  <wsdl:message name="QueryRemittanceSoapOut">
    <wsdl:part name="parameters" element="tns:QueryRemittanceResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentRemittanceSoapIn">
    <wsdl:part name="parameters" element="tns:PaymentRemittance" />
  </wsdl:message>
  <wsdl:message name="PaymentRemittanceSoapOut">
    <wsdl:part name="parameters" element="tns:PaymentRemittanceResponse" />
  </wsdl:message>
  <wsdl:message name="SendingRemittanceSoapIn">
    <wsdl:part name="parameters" element="tns:SendingRemittance" />
  </wsdl:message>
  <wsdl:message name="SendingRemittanceSoapOut">
    <wsdl:part name="parameters" element="tns:SendingRemittanceResponse" />
  </wsdl:message>
  <wsdl:message name="ReverseRemittanceSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseRemittance" />
  </wsdl:message>
  <wsdl:message name="ReverseRemittanceSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseRemittanceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="QueryRemittance">
      <wsdl:input message="tns:QueryRemittanceSoapIn" />
      <wsdl:output message="tns:QueryRemittanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PaymentRemittance">
      <wsdl:input message="tns:PaymentRemittanceSoapIn" />
      <wsdl:output message="tns:PaymentRemittanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendingRemittance">
      <wsdl:input message="tns:SendingRemittanceSoapIn" />
      <wsdl:output message="tns:SendingRemittanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseRemittance">
      <wsdl:input message="tns:ReverseRemittanceSoapIn" />
      <wsdl:output message="tns:ReverseRemittanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryRemittance">
      <soap:operation soapAction="http://tempuri.org/QueryRemittance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentRemittance">
      <soap:operation soapAction="http://tempuri.org/PaymentRemittance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendingRemittance">
      <soap:operation soapAction="http://tempuri.org/SendingRemittance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseRemittance">
      <soap:operation soapAction="http://tempuri.org/ReverseRemittance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryRemittance">
      <soap12:operation soapAction="http://tempuri.org/QueryRemittance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentRemittance">
      <soap12:operation soapAction="http://tempuri.org/PaymentRemittance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendingRemittance">
      <soap12:operation soapAction="http://tempuri.org/SendingRemittance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseRemittance">
      <soap12:operation soapAction="http://tempuri.org/ReverseRemittance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://172.20.235.3:8080/switchRemesas/switchRemittanceService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://172.20.235.3:8080/switchRemesas/switchRemittanceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
