Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/PagoPrestamoCB/xsd/XMLSchema_-541390746.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoPrestamoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cred="http://www.ficohsa.com.hn/middleware.services/pagoPrestamoTypes">
	
	<xs:complexType name="pagoPrestamoResponseType">
		<xs:sequence>
	        <xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="LOAN_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="DUE_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_SUBTOTAL_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_ADVANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="LOAN_CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST_RATE" type="xs:string" minOccurs="0"/>
			<xs:element name="EFFECTIVE_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="MATURITY_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENT_PRINCIPAL_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="PREVIOUS_PRINCIPAL_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="BILL_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="RTEFORM" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_DETAILS" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DETAIL_RECORD" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LABEL" type="xs:string" minOccurs="0" maxOccurs="1"/>
									<xs:element name="VALUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="pagoPrestamo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOAN_NUMBER" type="xs:string"/>
				<xs:element name="PAYMENT_AMOUNT" type="xs:string"/>
				<xs:element name="PAYMENT_CURRENCY" type="xs:string"/>
				<xs:element name="PAYMENT_TYPE" type="xs:string"/>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="BANK_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" minOccurs="0"/>
				<xs:element name="TRANSACTION_ID_BC" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoPrestamoResponse" type="cred:pagoPrestamoResponseType"/>
	
	
</xs:schema>