Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/emisionChequesGerencia/Resources/ChequeGerencia.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_-1512021034.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-1805424041.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="EmisiondechqdegerenciaTT">
<part name="parameters" element="tns:EmisiondechqdegerenciaTT"/>
</message>
<message name="EmisiondechqdegerenciaTTResponse">
<part name="parameters" element="tns:EmisiondechqdegerenciaTTResponse"/>
</message>
<message name="EmisiondechqdegerenciaTT_Validate">
<part name="parameters" element="tns:EmisiondechqdegerenciaTT_Validate"/>
</message>
<message name="EmisiondechqdegerenciaTT_ValidateResponse">
<part name="parameters" element="tns:EmisiondechqdegerenciaTT_ValidateResponse"/>
</message>
<message name="EmisiondechequedegerenciaFT">
<part name="parameters" element="tns:EmisiondechequedegerenciaFT"/>
</message>
<message name="EmisiondechequedegerenciaFTResponse">
<part name="parameters" element="tns:EmisiondechequedegerenciaFTResponse"/>
</message>
<message name="EmisiondechequedegerenciaFT_Validate">
<part name="parameters" element="tns:EmisiondechequedegerenciaFT_Validate"/>
</message>
<message name="EmisiondechequedegerenciaFT_ValidateResponse">
<part name="parameters" element="tns:EmisiondechequedegerenciaFT_ValidateResponse"/>
</message>
<message name="EmisiondechequedegerenciaFCY">
<part name="parameters" element="tns:EmisiondechequedegerenciaFCY"/>
</message>
<message name="EmisiondechequedegerenciaFCYResponse">
<part name="parameters" element="tns:EmisiondechequedegerenciaFCYResponse"/>
</message>
<message name="EmisiondechequedegerenciaFCY_Validate">
<part name="parameters" element="tns:EmisiondechequedegerenciaFCY_Validate"/>
</message>
<message name="EmisiondechequedegerenciaFCY_ValidateResponse">
<part name="parameters" element="tns:EmisiondechequedegerenciaFCY_ValidateResponse"/>
</message>
<message name="Consultadechequedegerencia">
<part name="parameters" element="tns:Consultadechequedegerencia"/>
</message>
<message name="ConsultadechequedegerenciaResponse">
<part name="parameters" element="tns:ConsultadechequedegerenciaResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="EmisiondechqdegerenciaTT">
<input message="tns:EmisiondechqdegerenciaTT"/>
<output message="tns:EmisiondechqdegerenciaTTResponse"/>
</operation>
<operation name="EmisiondechqdegerenciaTT_Validate">
<input message="tns:EmisiondechqdegerenciaTT_Validate"/>
<output message="tns:EmisiondechqdegerenciaTT_ValidateResponse"/>
</operation>
<operation name="EmisiondechequedegerenciaFT">
<input message="tns:EmisiondechequedegerenciaFT"/>
<output message="tns:EmisiondechequedegerenciaFTResponse"/>
</operation>
<operation name="EmisiondechequedegerenciaFT_Validate">
<input message="tns:EmisiondechequedegerenciaFT_Validate"/>
<output message="tns:EmisiondechequedegerenciaFT_ValidateResponse"/>
</operation>
<operation name="EmisiondechequedegerenciaFCY">
<input message="tns:EmisiondechequedegerenciaFCY"/>
<output message="tns:EmisiondechequedegerenciaFCYResponse"/>
</operation>
<operation name="EmisiondechequedegerenciaFCY_Validate">
<input message="tns:EmisiondechequedegerenciaFCY_Validate"/>
<output message="tns:EmisiondechequedegerenciaFCY_ValidateResponse"/>
</operation>
<operation name="Consultadechequedegerencia">
<input message="tns:Consultadechequedegerencia"/>
<output message="tns:ConsultadechequedegerenciaResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EmisiondechqdegerenciaTT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EmisiondechqdegerenciaTT_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EmisiondechequedegerenciaFT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EmisiondechequedegerenciaFT_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EmisiondechequedegerenciaFCY">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EmisiondechequedegerenciaFCY_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadechequedegerencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwinterbanca:7003/svcChequeGerencia/services"/>
</port>
</service>
</definitions>