Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ACSELX/ActualizarSistema/wsdl/WsDataBanco.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="registraDatosActualizados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PROCESS_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPERATION_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CUSTOMER_DATA" type="tns:ArrayOfCUSTOMERS_DATA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCUSTOMERS_DATA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CUSTOMERS_DATA" nillable="true" type="tns:CUSTOMERS_DATA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CUSTOMERS_DATA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMER_INFO" type="tns:CUSTOMER_INFO" />
          <s:element minOccurs="0" maxOccurs="1" name="IDENTIFICATION_INFO" type="tns:IDENTIFICATION_INFO" />
          <s:element minOccurs="0" maxOccurs="1" name="ADDRESS_INFO" type="tns:ADDRESS_INFO" />
          <s:element minOccurs="0" maxOccurs="1" name="PHONE_INFO" type="tns:PHONE_INFO" />
          <s:element minOccurs="0" maxOccurs="1" name="EMAIL_INFO" type="tns:EMAIL_INFO" />
          <s:element minOccurs="0" maxOccurs="1" name="CONTROL_INFO" type="tns:CONTROL_INFO" />
          <s:element minOccurs="0" maxOccurs="1" name="SYSTEM_INFO" type="tns:SYSTEM_INFO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CUSTOMER_INFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="INFO" type="tns:ArrayOfINFO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfINFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="INFO" nillable="true" type="tns:INFO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="INFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VALUE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IDENTIFICATION_INFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="INFO" type="tns:ArrayOfINFO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ADDRESS_INFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="INFO" type="tns:ArrayOfINFO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PHONE_INFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="INFO" type="tns:ArrayOfINFO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EMAIL_INFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="INFO" type="tns:ArrayOfINFO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CONTROL_INFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="INFO" type="tns:ArrayOfINFO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SYSTEM_INFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="INFO" type="tns:ArrayOfINFO" />
        </s:sequence>
      </s:complexType>
      <s:element name="registraDatosActualizadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registraDatosActualizadosResult" type="tns:clResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="successIndicator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestHeader" type="tns:RequestHeader" />
      <s:complexType name="RequestHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:Authentication" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="tns:Region" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Region">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SourceBank" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationBank" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="actualizaSistemas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PROCESS_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPERATION_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CUSTOMER_DATA" type="tns:ArrayOfCUSTOMERS_DATA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizaSistemasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actualizaSistemasResult" type="tns:clResultactualizaSistemas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clResultactualizaSistemas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="successIndicator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSTOMER_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TARGET_SYSTEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COUNTRY_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OBSERVATION" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="registraDatosActualizadosSoapIn">
    <wsdl:part name="parameters" element="tns:registraDatosActualizados" />
  </wsdl:message>
  <wsdl:message name="registraDatosActualizadosSoapOut">
    <wsdl:part name="parameters" element="tns:registraDatosActualizadosResponse" />
  </wsdl:message>
  <wsdl:message name="registraDatosActualizadosRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="actualizaSistemasSoapIn">
    <wsdl:part name="parameters" element="tns:actualizaSistemas" />
  </wsdl:message>
  <wsdl:message name="actualizaSistemasSoapOut">
    <wsdl:part name="parameters" element="tns:actualizaSistemasResponse" />
  </wsdl:message>
  <wsdl:message name="actualizaSistemasRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:portType name="WSDataBancoSoap">
    <wsdl:operation name="registraDatosActualizados">
      <wsdl:input message="tns:registraDatosActualizadosSoapIn" />
      <wsdl:output message="tns:registraDatosActualizadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizaSistemas">
      <wsdl:input message="tns:actualizaSistemasSoapIn" />
      <wsdl:output message="tns:actualizaSistemasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDataBancoSoap" type="tns:WSDataBancoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registraDatosActualizados">
      <soap:operation soapAction="http://tempuri.org/registraDatosActualizados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:registraDatosActualizadosRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaSistemas">
      <soap:operation soapAction="http://tempuri.org/actualizaSistemas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:actualizaSistemasRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDataBancoSoap12" type="tns:WSDataBancoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registraDatosActualizados">
      <soap12:operation soapAction="http://tempuri.org/registraDatosActualizados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:registraDatosActualizadosRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaSistemas">
      <soap12:operation soapAction="http://tempuri.org/actualizaSistemas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:actualizaSistemasRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDataBanco">
    <wsdl:port name="WSDataBancoSoap" binding="tns:WSDataBancoSoap">
      <soap:address location="http://192.168.50.42/ApiClientesBanco/WsDataBanco.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDataBancoSoap12" binding="tns:WSDataBancoSoap12">
      <soap12:address location="http://192.168.50.42/ApiClientesBanco/WsDataBanco.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>