Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/GetAbanksCollections/GetAbanksCollections_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetAbanksCollections" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetAbanksCollections" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CONTRATOT24" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGODEUDOR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROFACTURA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TASACAMBIO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FECHAVALIDA" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIO" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_AGENCIA" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGODEUDOR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONPLANILLA" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBREDEUDOR" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MORAMASANTIGUA" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CANTIDAD" type="decimal" db:index="12" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CANTIDADVENC" type="decimal" db:index="13" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_EXISTENMAS" type="int" db:index="14" db:type="BINARY_INTEGER" minOccurs="0" nillable="true"/>
            <element name="PT_NUMEROLOTE" type="db:PAGOSWS.TNUMBER" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGODEUDOR" type="db:PAGOSWS.TVARCHAR15" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONEDA" type="db:PAGOSWS.TVARCHAR15" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NUMDOC" type="db:PAGOSWS.TNUMBER" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_FECHAEMISION" type="db:PAGOSWS.TDATE" db:index="19" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_FECHAVENC" type="db:PAGOSWS.TDATE" db:index="20" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONTO" type="db:PAGOSWS.T_MONTO" db:index="21" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MORA" type="db:PAGOSWS.T_MONTO" db:index="22" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TOTAL" type="db:PAGOSWS.T_MONTO" db:index="23" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DESCRIPCION" type="db:PAGOSWS.TVARCHAR100" db:index="24" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_VENCIDA" type="db:PAGOSWS.TVARCHAR1" db:index="25" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PAGOSWS.TVARCHAR100">
      <sequence>
         <element name="PT_DESCRIPCION_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TDATE">
      <sequence>
         <element name="PT_FECHAEMISION_ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TNUMBER">
      <sequence>
         <element name="PT_NUMEROLOTE_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TVARCHAR15">
      <sequence>
         <element name="PT_CODIGODEUDOR_ITEM" type="db:string15" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.T_MONTO">
      <sequence>
         <element name="PT_MONTO_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TVARCHAR1">
      <sequence>
         <element name="PT_VENCIDA_ITEM" type="db:string1" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
</schema>