Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/MTR/consultorLotesCliente/wsdl/customerBatchQuery.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ficohsa.com.hn/schema/pms/customerBatchQuery" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/schema/pms/customerBatchQuery" targetNamespace="http://www.ficohsa.com.hn/schema/pms/customerBatchQuery">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/schema/pms/customerBatchQuery" version="1.0">
    <xs:element name="customerBatchQueryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="countryCode" type="xs:string"/>
                <xs:element name="customerId" type="xs:string"/>
                <xs:element name="beginDate" type="xs:date"/>
                <xs:element name="endDate" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="customerBatchQueryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="status" type="xs:string"/>
                <xs:element minOccurs="0" name="message" type="xs:string"/>
                <xs:element minOccurs="0" name="batches">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="batch">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="bankBatchId" type="xs:long"/>
                                        <xs:element minOccurs="0" name="customerBatchId" type="xs:string"/>
                                        <xs:element minOccurs="0" name="type" type="xs:long"/>
                                        <xs:element minOccurs="0" name="typeDescription" type="xs:string"/>
                                        <xs:element minOccurs="0" name="uploadDate" type="xs:dateTime"/>
                                        <xs:element minOccurs="0" name="applicationDate" type="xs:date"/>
                                        <xs:element minOccurs="0" name="transactionsNumber" type="xs:long"/>
                                        <xs:element minOccurs="0" name="successTransactionsNumber" type="xs:long"/>
                                        <xs:element minOccurs="0" name="errorTransactionsNumber" type="xs:long"/>
                                        <xs:element minOccurs="0" name="totalAmount" type="xs:decimal"/>
                                        <xs:element minOccurs="0" name="errorTotalAmount" type="xs:decimal"/>
                                        <xs:element minOccurs="0" name="status" type="xs:long"/>
                                        <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="customerBatchQueryRequest">
    <wsdl:part element="tns:customerBatchQueryRequest" name="customerBatchQueryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="customerBatchQueryResponse">
    <wsdl:part element="tns:customerBatchQueryResponse" name="customerBatchQueryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerBatchQueryEndpoint">
    <wsdl:operation name="customerBatchQuery">
      <wsdl:input message="tns:customerBatchQueryRequest" name="customerBatchQueryRequest">
    </wsdl:input>
      <wsdl:output message="tns:customerBatchQueryResponse" name="customerBatchQueryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerBatchQueryEndpointSoap11" type="tns:CustomerBatchQueryEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="customerBatchQuery">
      <soap:operation soapAction=""/>
      <wsdl:input name="customerBatchQueryRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="customerBatchQueryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerBatchQueryEndpointService">
    <wsdl:port binding="tns:CustomerBatchQueryEndpointSoap11" name="CustomerBatchQueryEndpointSoap11">
      <soap:address location="http://172.23.12.126:7005/ConsultaLotesClientePMSWS/ws/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>