Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ActualizaProductosCliente/xsd/actualizaProductosClienteTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaProductosClienteTypes"
	xmlns:act="http://www.ficohsa.com.hn/middleware.services/actualizaProductosClienteTypes">

<xs:element name="actualizaProductosCliente">
	<xs:complexType>
	<xs:sequence>
		<xs:element name="CUSTOMER_ID_TYPE">
		<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="CUSTOMER_ID_VALUE">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:element>

	

<xs:element name="actualizaProductosClienteResponse">
</xs:element>

</xs:schema>