Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_UploadBatch/Schemas/UploadBatchTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/massivePayment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mas="https://www.ficohsa.com/regional/massivePayment" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBRG_MassivePayment_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="uploadBatch">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="GlobalId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="CustomerId" type="mas:stringMinLength1" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="UserId" type="mas:stringMinLength1" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Batches" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Ticket" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="CustomerBatchId" type="mas:stringMinLength1" minOccurs="1" maxOccurs="1"/>
              <xsd:element name="Type" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
              <xsd:element name="ConceptBatch" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="ApplicationDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="DataStructure">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ValIdations" minOccurs="1" maxOccurs="1">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="NumberOfTransactions" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                          <xsd:element name="TotalAmount" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Fields" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="Delimiter" type="mas:stringMinLength1" minOccurs="1" maxOccurs="1"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Transactions" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="uploadBatchResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="GlobalId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="CustomerId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Batches" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Ticket" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="CustomerBatchId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="BankBatchId" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="CustomerId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="UploadDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="ApplicationDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="TotalAmount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="NumberOfTransactions" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="TrxStatus" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Id" type="xsd:integer" minOccurs="0"/>
                    <xsd:element name="ErrorMessages" maxOccurs="unbounded" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="Message" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="stringMinLength1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>