Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/IngresaCuentaBeneficio/xsd/ingresaCuentaBeneficioTypes.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" version="1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/ingresaCuentaBeneficioTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/ingresaCuentaBeneficioTypes">



	<!--############################### -->
	<!--OPERACION: ingresaCuentaBeneficio -->
	<!--############################### -->

	
	<xs:complexType name="productType">
		<xs:sequence>
			<xs:element name="ACCOUNT" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="clientType">
		<xs:sequence>
			<xs:element name="LEGAL_ID" type="xs:string" />
			<xs:element name="CUSTOMER_ID" type="xs:string" />
			<xs:element name="FULL_NAME" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="benefitType">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>



	<element name="ingresaCuentaBeneficio">
		<complexType>
			<sequence>
				<xs:element name="PRODUCT" type="tns:productType" minOccurs="0"  />
				<xs:element name="CLIENT" type="tns:clientType" minOccurs="0"  />
				<xs:element name="BENEFIT" type="tns:benefitType" minOccurs="0"  />
				
				<xs:element name="REASON" type="xs:string" minOccurs="0"  />
				<xs:element name="PLAN_TYPE" type="xs:string" minOccurs="0"  />
				<xs:element name="MATTER" type="xs:string" minOccurs="0"  />
				<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"  />
				<xs:element name="MANAGEMENT_TYPE" type="xs:string" minOccurs="0"  />
				
				<xs:element name="ADDITIONAL_INFO" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="INFO" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NAME" type="xs:string" />
										<xs:element name="VALUE" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</sequence>
		</complexType>
	</element>

	<element name="ingresaCuentaBeneficioResponse">

	</element>

</schema>