Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/T24/AnticiposCliente/wsdl/AnticiposCliente.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_-67856313.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_-361259320.xsd"/>
</xsd:schema>
</types>
<message name="Bloqueodeanticiposenctaahorros">
<part name="parameters" element="tns:Bloqueodeanticiposenctaahorros"/>
</message>
<message name="BloqueodeanticiposenctaahorrosResponse">
<part name="parameters" element="tns:BloqueodeanticiposenctaahorrosResponse"/>
</message>
<message name="Bloqueodeanticiposenctaahorros_Validate">
<part name="parameters" element="tns:Bloqueodeanticiposenctaahorros_Validate"/>
</message>
<message name="Bloqueodeanticiposenctaahorros_ValidateResponse">
<part name="parameters" element="tns:Bloqueodeanticiposenctaahorros_ValidateResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Consultaanticiposdisponiblescta">
<part name="parameters" element="tns:Consultaanticiposdisponiblescta"/>
</message>
<message name="ConsultaanticiposdisponiblesctaResponse">
<part name="parameters" element="tns:ConsultaanticiposdisponiblesctaResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="Bloqueodeanticiposenctaahorros">
<input message="tns:Bloqueodeanticiposenctaahorros"/>
<output message="tns:BloqueodeanticiposenctaahorrosResponse"/>
</operation>
<operation name="Bloqueodeanticiposenctaahorros_Validate">
<input message="tns:Bloqueodeanticiposenctaahorros_Validate"/>
<output message="tns:Bloqueodeanticiposenctaahorros_ValidateResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Consultaanticiposdisponiblescta">
<input message="tns:Consultaanticiposdisponiblescta"/>
<output message="tns:ConsultaanticiposdisponiblesctaResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Bloqueodeanticiposenctaahorros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Bloqueodeanticiposenctaahorros_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultaanticiposdisponiblescta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwomnicanal:7020/svcOperacionesAnticipos/services"/>
</port>
</service>
</definitions>