Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CTS/clientesCredito/xsd/clientesCredito_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/clientesCredito" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/clientesCredito" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="i_usuario" type="db:string14" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ssn" type="int" db:index="2" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_reproceso" type="db:string1" db:index="3" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_fechaproceso" type="dateTime" db:index="4" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="i_pais_envia" type="db:string2" db:index="5" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_emisor" type="db:string4" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_solicitud" type="db:string20" db:index="7" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_p_nombre" type="db:string20" db:index="8" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_s_nombre" type="db:string40" db:index="9" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_p_apellido" type="db:string20" db:index="10" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_s_apellido" type="db:string40" db:index="11" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_c_apellido" type="db:string20" db:index="12" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_sexo" type="db:string2" db:index="13" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_fecha_nac" type="dateTime" db:index="14" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="i_estado_civil" type="db:string1" db:index="15" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_pais_nac" type="db:string2" db:index="16" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_pais_res" type="db:string2" db:index="17" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_tipo_doc1" type="db:string4" db:index="18" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_doc1" type="db:string40" db:index="19" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_tipo_doc2" type="db:string4" db:index="20" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_doc2" type="db:string20" db:index="21" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_dir_casa_1" type="db:string40" db:index="22" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_dir_casa_2" type="db:string40" db:index="23" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_dir_casa_3" type="db:string40" db:index="24" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_dir_casa_4" type="db:string40" db:index="25" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_dir_trab_1" type="db:string40" db:index="26" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_dir_trab_2" type="db:string40" db:index="27" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_dir_trab_3" type="db:string40" db:index="28" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_dir_trab_4" type="db:string40" db:index="29" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_codpais_tel_casa" type="int" db:index="30" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_codarea_tel_casa" type="int" db:index="31" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_tel_casa" type="db:string64" db:index="32" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ext_tel_casa" type="int" db:index="33" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_codpais_tel_trab" type="int" db:index="34" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_codarea_tel_trab" type="int" db:index="35" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_tel_trab" type="db:string64" db:index="36" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ext_tel_trab" type="int" db:index="37" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_email" type="db:string50" db:index="38" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_tipo_aplicacion" type="db:string3" db:index="39" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_tipo_aplicante" type="db:string3" db:index="40" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_nombre_corp" type="db:string40" db:index="41" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_localidad_corp" type="db:string3" db:index="42" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_fecha_ini_corp" type="dateTime" db:index="43" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="i_branch" type="db:string5" db:index="44" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_destino_prestamo" type="db:string20" db:index="45" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_flag_seguro" type="db:string1" db:index="46" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_campo_adc_tr" type="db:string3" db:index="47" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_intrs_desem" type="db:string1" db:index="48" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_appid_acis" type="decimal" db:index="49" db:type="NUMERIC" minOccurs="0" nillable="true"/>
            <element name="i_moneda1" type="int" db:index="50" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_prod_logo1" type="int" db:index="51" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_limite_credito1" type="decimal" db:index="52" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_moneda2" type="int" db:index="53" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_prod_logo2" type="int" db:index="54" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_limite_credito2" type="decimal" db:index="55" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_moneda3" type="int" db:index="56" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_prod_logo3" type="int" db:index="57" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_limite_credito3" type="decimal" db:index="58" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_moneda4" type="int" db:index="59" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_prod_logo4" type="int" db:index="60" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_limite_credito4" type="decimal" db:index="61" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_moneda5" type="int" db:index="62" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_prod_logo5" type="int" db:index="63" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_limite_credito5" type="decimal" db:index="64" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_ciudad" type="db:string25" db:index="65" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_eb_nob" type="db:string4" db:index="66" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_forma_pago" type="int" db:index="67" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_cuenta_bco" type="decimal" db:index="68" db:type="NUMERIC" minOccurs="0" nillable="true"/>
            <element name="i_cuota" type="decimal" db:index="69" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_plazo" type="int" db:index="70" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_debito_cuenta" type="int" db:index="71" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_credito_seg_endoso" type="int" db:index="72" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_bal_prod1" type="db:string1" db:index="73" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_prod2" type="db:string1" db:index="74" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_prod3" type="db:string1" db:index="75" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_prod4" type="db:string1" db:index="76" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_prod5" type="db:string1" db:index="77" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_prod6" type="db:string1" db:index="78" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_prod7" type="db:string1" db:index="79" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_prod8" type="db:string1" db:index="80" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_mon1" type="db:string3" db:index="81" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_mon2" type="db:string3" db:index="82" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_mon3" type="db:string3" db:index="83" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_mon4" type="db:string3" db:index="84" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_mon5" type="db:string3" db:index="85" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_mon6" type="db:string3" db:index="86" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_mon7" type="db:string3" db:index="87" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_mon8" type="db:string3" db:index="88" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_tipo1" type="int" db:index="89" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_bal_tipo2" type="int" db:index="90" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_bal_tipo3" type="int" db:index="91" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_bal_tipo4" type="int" db:index="92" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_bal_tipo5" type="int" db:index="93" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_bal_tipo6" type="int" db:index="94" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_bal_tipo7" type="int" db:index="95" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_bal_tipo8" type="int" db:index="96" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_nombre1" type="db:string24" db:index="97" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_nombre2" type="db:string24" db:index="98" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_nombre3" type="db:string24" db:index="99" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_nombre4" type="db:string24" db:index="100" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_nombre5" type="db:string24" db:index="101" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_nombre6" type="db:string24" db:index="102" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_nombre7" type="db:string24" db:index="103" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_nombre8" type="db:string24" db:index="104" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_num1" type="decimal" db:index="105" db:type="NUMERIC" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_num2" type="decimal" db:index="106" db:type="NUMERIC" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_num3" type="decimal" db:index="107" db:type="NUMERIC" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_num4" type="decimal" db:index="108" db:type="NUMERIC" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_num5" type="decimal" db:index="109" db:type="NUMERIC" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_num6" type="decimal" db:index="110" db:type="NUMERIC" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_num7" type="decimal" db:index="111" db:type="NUMERIC" minOccurs="0" nillable="true"/>
            <element name="i_bal_cta_num8" type="decimal" db:index="112" db:type="NUMERIC" minOccurs="0" nillable="true"/>
            <element name="i_nombre_ben1" type="int" db:index="113" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_nombre_ben2" type="int" db:index="114" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_nombre_ben3" type="int" db:index="115" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_cobertura_ben1" type="int" db:index="116" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_cobertura_ben2" type="int" db:index="117" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_cobertura_ben3" type="int" db:index="118" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_capacida_deuda" type="int" db:index="119" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_mis" type="db:string19" db:index="120" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ejecutivo" type="db:string9" db:index="121" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_staff_ind" type="db:string1" db:index="122" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_reason_fa" type="db:string20" db:index="123" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_bal_pmt1" type="decimal" db:index="124" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_bal_pmt2" type="decimal" db:index="125" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_bal_pmt3" type="decimal" db:index="126" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_bal_pmt4" type="decimal" db:index="127" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_bal_pmt5" type="decimal" db:index="128" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_operacion" type="db:string1" db:index="129" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_email_alterno" type="db:string50" db:index="130" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_rango_salario" type="db:string1" db:index="131" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_giro_empresa" type="db:string4" db:index="132" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_dpto_empresa" type="db:string2" db:index="133" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_cte_act_econom" type="db:string4" db:index="134" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_grado_estudio" type="db:string4" db:index="135" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ciudad_nac" type="db:string4" db:index="136" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_sueldo_declarado" type="decimal" db:index="137" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_naturaleza_neg" type="db:string4" db:index="138" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_fecha_emision_id1" type="db:string10" db:index="139" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_fecha_expira_id1" type="db:string10" db:index="140" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_personalReferenceType1" type="db:string3" db:index="141" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_personalReferenceName1" type="db:string80" db:index="142" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_personalReferencePhone1" type="db:string64" db:index="143" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_personalReferenceType2" type="db:string3" db:index="144" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_personalReferenceName2" type="db:string80" db:index="145" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_personalReferencePhone2" type="db:string64" db:index="146" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_spouseNames" type="db:string64" db:index="147" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_spouseSurnames" type="db:string64" db:index="148" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_spouseEmail" type="db:string50" db:index="149" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_spouseDateOfBirth" type="dateTime" db:index="150" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="i_spouseIDType" type="db:string10" db:index="151" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_spouseID" type="db:string20" db:index="152" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_spousePhone" type="db:string64" db:index="153" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_login" type="db:string14" db:index="154" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_userName" type="db:string64" db:index="155" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_idCreditRequest" type="db:string30" db:index="156" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_idSaleForceRequest" type="db:string30" db:index="157" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_sellerCode" type="db:string14" db:index="158" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_supervisorCode" type="db:string14" db:index="159" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_jobMunicipality" type="db:string4" db:index="160" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_homeMunicipality" type="db:string4" db:index="161" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_homeState" type="db:string2" db:index="162" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_professionCode" type="db:string4" db:index="163" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_titleEmployment" type="db:string4" db:index="164" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_mobilePhone" type="db:string64" db:index="165" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_canal" type="db:string30" db:index="166" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_oficina" type="db:string50" db:index="167" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_otros_ing_anual" type="decimal" db:index="168" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_fuente_otros_ing" type="db:string40" db:index="169" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_anios_residencia" type="db:string4" db:index="170" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_meses_residencia" type="db:string4" db:index="171" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_tel_alterno" type="db:string64" db:index="172" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_cargo_ocupacion" type="db:string150" db:index="173" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_cod_cargo" type="db:string4" db:index="174" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_antiguedad_emp_anio" type="db:string4" db:index="175" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_antiguedad_emp_mes" type="db:string4" db:index="176" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_es_pep" type="db:string1" db:index="177" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_departamento_trab" type="db:string4" db:index="178" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_pais_trabajo" type="db:string4" db:index="179" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_dir_alterna" type="db:string40" db:index="180" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_comentarios" type="db:string80" db:index="181" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="RETURN_VALUE" type="int" db:index="0" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_cliente" type="int" db:index="182" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_nomlar" type="db:string60" db:index="183" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="o_num_error" type="int" db:index="184" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_desc_error" type="db:string100" db:index="185" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string14">
      <restriction base="string">
         <maxLength value="14"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string64">
      <restriction base="string">
         <maxLength value="64"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string24">
      <restriction base="string">
         <maxLength value="24"/>
      </restriction>
   </simpleType>
   <simpleType name="string19">
      <restriction base="string">
         <maxLength value="19"/>
      </restriction>
   </simpleType>
   <simpleType name="string9">
      <restriction base="string">
         <maxLength value="9"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string80">
      <restriction base="string">
         <maxLength value="80"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string150">
      <restriction base="string">
         <maxLength value="150"/>
      </restriction>
   </simpleType>
   <simpleType name="string60">
      <restriction base="string">
         <maxLength value="60"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>