Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CTS/clientesCredito/xsd/cobiscorp.ecobis.srvaplcobiscanalesentidades.dto.xsd

<schema elementFormDefault="qualified" targetNamespace="http://dto.srvaplcobiscanalesentidades.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:dto="http://dto.srvaplcobiscanalesentidades.ecobis.cobiscorp" xmlns:dto2="http://dto2.sdf.cts.cobis.cobiscorp.com">
	<import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/>
	<simpleType name="char">
		<restriction base="string">
			<length value="1"/>
		</restriction>
	</simpleType>
	<complexType name="ContextoRespuesta">
		<sequence>
			<element name="identificadorTransaccion" type="string" minOccurs="0"/>
			<element name="fecTransaccion" type="dateTime" minOccurs="1"/>
			<element name="codTipoRespuesta" type="string" minOccurs="0"/>
			<element name="valDescripcionRespuesta" type="string" minOccurs="0"/>
			<element name="ipConsumidor" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ContextoTransaccional">
		<sequence>
			<element name="identificadorTransaccional" type="string" minOccurs="0"/>
			<element name="fecTransaccion" type="dateTime" minOccurs="0"/>
			<element name="codCanalOriginador" type="int" minOccurs="0"/>
			<element name="ipConsumidor" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="DesglosePlazoCuotas">
		<sequence>
			<element name="valMonto" type="decimal" minOccurs="0"/>
			<element name="plazo" type="int" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="OpConsultaBuroCreditoRespuesta">
		<complexContent>
			<extension base="dto2:CTSServiceResponseTO">
				<sequence>
					<element name="contextoRespuesta" type="dto:ContextoRespuesta" minOccurs="1"/>
					<element name="biNroProdAct" type="int" minOccurs="0"/>
					<element name="biMesesCrOld" type="int" minOccurs="0"/>
					<element name="biMesesCrHoy" type="int" minOccurs="0"/>
					<element name="biBloqueoTmp" type="string" minOccurs="0"/>
					<element name="biBloqueoDef" type="string" minOccurs="0"/>
					<element name="biMontoIniHip" type="decimal" minOccurs="0"/>
					<element name="biSaldoCapHip" type="decimal" minOccurs="0"/>
					<element name="biCuotaMesHip" type="decimal" minOccurs="0"/>
					<element name="biDiasMoraHip" type="int" minOccurs="0"/>
					<element name="biMontoIniPer" type="decimal" minOccurs="0"/>
					<element name="biSaldoCapPer" type="decimal" minOccurs="0"/>
					<element name="biCuotaMesPer" type="decimal" minOccurs="0"/>
					<element name="biDiasMoraPer" type="int" minOccurs="0"/>
					<element name="biMontoIniRev" type="decimal" minOccurs="0"/>
					<element name="biSaldoCapRev" type="decimal" minOccurs="0"/>
					<element name="biCuotaMesRev" type="decimal" minOccurs="0"/>
					<element name="biDiasMoraRev" type="int" minOccurs="0"/>
					<element name="biMontoIniTc" type="decimal" minOccurs="0"/>
					<element name="biSaldoCapTc" type="decimal" minOccurs="0"/>
					<element name="biCuotaMesTc" type="decimal" minOccurs="0"/>
					<element name="biDiasMoraTc" type="int" minOccurs="0"/>
					<element name="biMontoIniRef" type="decimal" minOccurs="0"/>
					<element name="biSaldoCapRef" type="decimal" minOccurs="0"/>
					<element name="biCuotaMesRef" type="decimal" minOccurs="0"/>
					<element name="biDiasMoraRef" type="int" minOccurs="0"/>
					<element name="biMesesUltRef" type="int" minOccurs="0"/>
					<element name="biDiasMoraAct" type="int" minOccurs="0"/>
					<element name="biCuotaMes" type="decimal" minOccurs="0"/>
					<element name="biSaldoMora" type="decimal" minOccurs="0"/>
					<element name="biNroMora306M" type="int" minOccurs="0"/>
					<element name="biNroMora606M" type="int" minOccurs="0"/>
					<element name="biNroMora906M" type="int" minOccurs="0"/>
					<element name="biNroMora1206M" type="int" minOccurs="0"/>
					<element name="biNroMora1506M" type="int" minOccurs="0"/>
					<element name="biNroMora1806M" type="int" minOccurs="0"/>
					<element name="biNroMora180Mas6M" type="int" minOccurs="0"/>
					<element name="biNroMora3012M" type="int" minOccurs="0"/>
					<element name="biNroMora6012M" type="int" minOccurs="0"/>
					<element name="biNroMora9012M" type="int" minOccurs="0"/>
					<element name="biNroMora12012M" type="int" minOccurs="0"/>
					<element name="biNroMora15012M" type="int" minOccurs="0"/>
					<element name="biNroMora18012M" type="int" minOccurs="0"/>
					<element name="biNroMora180Mas12M" type="int" minOccurs="0"/>
					<element name="biNroMora30Mas12M" type="int" minOccurs="0"/>
					<element name="biNroMora60Mas12M" type="int" minOccurs="0"/>
					<element name="biNroMora90Mas12M" type="int" minOccurs="0"/>
					<element name="biNroMoraUlt3M" type="int" minOccurs="0"/>
					<element name="biNroCtasCas" type="int" minOccurs="0"/>
					<element name="biBehaviorScorTc" type="int" minOccurs="0"/>
					<element name="biNroRefi" type="int" minOccurs="0"/>
					<element name="biNroRees" type="int" minOccurs="0"/>
					<element name="biSaldoTcCan" type="decimal" minOccurs="0"/>
					<element name="biNroTarCast" type="int" minOccurs="0"/>
					<element name="resulsetConsultaBuroCredito" type="dto:ResulsetConsultaBuroCredito" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OpConsultaBuroCreditoSolicitud">
		<sequence>
			<element name="contextoTransaccional" type="dto:ContextoTransaccional" minOccurs="1"/>
			<element name="id1" type="string" minOccurs="0"/>
			<element name="idType1" type="string" minOccurs="0"/>
			<element name="id2" type="string" minOccurs="0"/>
			<element name="idType2" type="string" minOccurs="0"/>
			<element name="applFirstName" type="string" minOccurs="0"/>
			<element name="applSecondName" type="string" minOccurs="0"/>
			<element name="applDateOfBorn" type="string" minOccurs="0"/>
			<element name="spouseId1" type="string" minOccurs="0"/>
			<element name="spouseIdType1" type="string" minOccurs="0"/>
			<element name="spouseId2" type="string" minOccurs="0"/>
			<element name="spouseIdType2" type="string" minOccurs="0"/>
			<element name="spouseFirstName" type="string" minOccurs="0"/>
			<element name="spouseSecondName" type="string" minOccurs="0"/>
			<element name="spouseDateOfBorn" type="string" minOccurs="0"/>
			<element name="country" type="string" minOccurs="0"/>
			<element name="applicationType" type="string" minOccurs="0"/>
			<element name="applicantType" type="string" minOccurs="0"/>
			<element name="repLegalId1" type="string" minOccurs="0"/>
			<element name="repLegalIdType1" type="string" minOccurs="0"/>
			<element name="repLegalId2" type="string" minOccurs="0"/>
			<element name="repLegalIdType2" type="string" minOccurs="0"/>
			<element name="ente" type="int" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="OpConsultaOfertaDisponibleRespuesta">
		<complexContent>
			<extension base="dto2:CTSServiceResponseTO">
				<sequence>
					<element name="contextoRespuesta" type="dto:ContextoRespuesta" minOccurs="1"/>
					<element name="idCliente" type="string" minOccurs="0"/>
					<element name="numeroCuenta" type="string" minOccurs="0"/>
					<element name="valMontoDisponible" type="decimal" minOccurs="0"/>
					<element name="valMontoCuotaMaxima" type="decimal" minOccurs="0"/>
					<element name="fechaVencimiento" type="dateTime" minOccurs="0"/>
					<element name="estado" type="string" minOccurs="0"/>
					<element name="valTasaInteres" type="double" minOccurs="0"/>
					<element name="desglosePlazoCuotas" type="dto:DesglosePlazoCuotas" nillable="true" maxOccurs="unbounded" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OpConsultaOfertaDisponibleSolicitud">
		<sequence>
			<element name="contextoTransaccional" type="dto:ContextoTransaccional" minOccurs="1"/>
			<element name="region" type="dto:Region" minOccurs="1"/>
			<element name="valorBuscar" type="string" minOccurs="1"/>
			<element name="valorCriterio" type="string" minOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="OpConsultaPuntosRespuesta">
		<complexContent>
			<extension base="dto2:CTSServiceResponseTO">
				<sequence>
					<element name="contextoRespuesta" type="dto:ContextoRespuesta" minOccurs="1"/>
					<element name="org" type="int" minOccurs="0"/>
					<element name="direccion" type="string" minOccurs="0"/>
					<element name="numeroCuenta" type="string" minOccurs="0"/>
					<element name="propietarioCuenta" type="string" minOccurs="0"/>
					<element name="idEsquema" type="string" minOccurs="0"/>
					<element name="nombreEsquema" type="string" minOccurs="0"/>
					<element name="estatus" type="int" minOccurs="0"/>
					<element name="nombreEstatus" type="string" minOccurs="0"/>
					<element name="fechaCambioEstatus" type="dateTime" minOccurs="0"/>
					<element name="operUltMantenimiento" type="string" minOccurs="0"/>
					<element name="fechaUltMantenimiento" type="string" minOccurs="0"/>
					<element name="tipoCliente" type="string" minOccurs="0"/>
					<element name="descTipoCliente" type="string" minOccurs="0"/>
					<element name="desembolsoAuto" type="string" minOccurs="0"/>
					<element name="fechaUltDesembolso" type="dateTime" minOccurs="0"/>
					<element name="cuentaDesembolso" type="string" minOccurs="0"/>
					<element name="codigoBloqueo" type="string" minOccurs="0"/>
					<element name="modoBloqueo" type="string" minOccurs="0"/>
					<element name="modoMora" type="string" minOccurs="0"/>
					<element name="valorPuntos" type="double" minOccurs="0"/>
					<element name="montoPuntos" type="double" minOccurs="0"/>
					<element name="valorDinero" type="double" minOccurs="0"/>
					<element name="ptsGanadosCtd" type="double" minOccurs="0"/>
					<element name="ptsCompradosCtd" type="double" minOccurs="0"/>
					<element name="ptsBonusCtd" type="double" minOccurs="0"/>
					<element name="ptsRedimidosCtd" type="double" minOccurs="0"/>
					<element name="ptsCerradosCtd" type="double" minOccurs="0"/>
					<element name="ptsExpiradosCtd" type="double" minOccurs="0"/>
					<element name="ptsAjustadosInCtd" type="double" minOccurs="0"/>
					<element name="ptsAjustadosOutCtd" type="double" minOccurs="0"/>
					<element name="graciaCtd" type="double" minOccurs="0"/>
					<element name="totalCtd" type="double" minOccurs="0"/>
					<element name="gastoPuntosCtd" type="double" minOccurs="0"/>
					<element name="ptsGanadosLtd" type="double" minOccurs="0"/>
					<element name="ptsCompradosLtd" type="double" minOccurs="0"/>
					<element name="ptsBonusLtd" type="double" minOccurs="0"/>
					<element name="ptsRedimidosLtd" type="double" minOccurs="0"/>
					<element name="ptsCerradosLtd" type="double" minOccurs="0"/>
					<element name="ptsExpiradosLtd" type="double" minOccurs="0"/>
					<element name="ptsAjustadosInLtd" type="double" minOccurs="0"/>
					<element name="ptsAjustadosOutLtd" type="double" minOccurs="0"/>
					<element name="gastoPuntosLtd" type="double" minOccurs="0"/>
					<element name="graciaLtd" type="double" minOccurs="0"/>
					<element name="totalLtd" type="double" minOccurs="0"/>
					<element name="puntosPendientes" type="double" minOccurs="0"/>
					<element name="puntosDisponibles" type="double" minOccurs="0"/>
					<element name="intervaloMensual" type="string" minOccurs="0"/>
					<element name="diaMesStmt" type="string" minOccurs="0"/>
					<element name="ultFechaStmt" type="dateTime" minOccurs="0"/>
					<element name="proxFechaStmt" type="dateTime" minOccurs="0"/>
					<element name="fechaApertura" type="dateTime" minOccurs="0"/>
					<element name="puntosDesembolso" type="double" minOccurs="0"/>
					<element name="valorPtsDesembolso" type="double" minOccurs="0"/>
					<element name="frecuenciaAutoDesembolso" type="string" minOccurs="0"/>
					<element name="diaMesAutoDesembolso" type="string" minOccurs="0"/>
					<element name="desembolsoAutoActivo" type="string" minOccurs="0"/>
					<element name="tiendaDesignada" type="string" minOccurs="0"/>
					<element name="fechaPrimerDesembolso" type="dateTime" minOccurs="0"/>
					<element name="categoriaRecompensas" type="string" minOccurs="0"/>
					<element name="minimoPuntos" type="double" minOccurs="0"/>
					<element name="minimoValorPuntos" type="double" minOccurs="0"/>
					<element name="canalCreacion" type="string" minOccurs="0"/>
					<element name="renunciaCuota" type="string" minOccurs="0"/>
					<element name="ultCambioEstatus" type="dateTime" minOccurs="0"/>
					<element name="montoReembolso" type="double" minOccurs="0"/>
					<element name="puntoMonetario" type="string" minOccurs="0"/>
					<element name="puntoPerItem" type="string" minOccurs="0"/>
					<element name="puntoPorcentaje" type="string" minOccurs="0"/>
					<element name="codigoPais" type="string" minOccurs="0"/>
					<element name="codigoMoneda" type="string" minOccurs="0"/>
					<element name="codigoResv1" type="string" minOccurs="0"/>
					<element name="codigoResv2" type="string" minOccurs="0"/>
					<element name="codigoResv3" type="string" minOccurs="0"/>
					<element name="codigoResv4" type="string" minOccurs="0"/>
					<element name="codigoResv5" type="string" minOccurs="0"/>
					<element name="fechaResv1" type="dateTime" minOccurs="0"/>
					<element name="fechaResv2" type="dateTime" minOccurs="0"/>
					<element name="fechaResv3" type="dateTime" minOccurs="0"/>
					<element name="fechaResv4" type="dateTime" minOccurs="0"/>
					<element name="fechaResv5" type="dateTime" minOccurs="0"/>
					<element name="montoResv1" type="double" minOccurs="0"/>
					<element name="montoResv2" type="double" minOccurs="0"/>
					<element name="montoResv3" type="double" minOccurs="0"/>
					<element name="montoResv4" type="double" minOccurs="0"/>
					<element name="montoResv5" type="double" minOccurs="0"/>
					<element name="retornoServicio" type="string" minOccurs="0"/>
					<element name="numeroOcurrencias" type="string" minOccurs="0"/>
					<element name="resulsetConsultaPuntos" type="dto:ResulsetConsultaPuntos" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OpConsultaPuntosSolicitud">
		<sequence>
			<element name="contextoTransaccional" type="dto:ContextoTransaccional" minOccurs="1"/>
			<element name="contexto" type="string" minOccurs="0"/>
			<element name="nombreSignOn" type="string" minOccurs="0"/>
			<element name="org" type="string" minOccurs="0"/>
			<element name="numeroCuenta" type="string" minOccurs="0"/>
			<element name="esquema" type="string" minOccurs="0"/>
			<element name="codigoResv1" type="string" minOccurs="0"/>
			<element name="codigoResv2" type="string" minOccurs="0"/>
			<element name="codigoResv3" type="string" minOccurs="0"/>
			<element name="codigoResv4" type="string" minOccurs="0"/>
			<element name="codigoResv5" type="string" minOccurs="0"/>
			<element name="fechaResv1" type="int" minOccurs="1"/>
			<element name="fechaResv2" type="int" minOccurs="1"/>
			<element name="fechaResv3" type="int" minOccurs="1"/>
			<element name="fechaResv4" type="int" minOccurs="1"/>
			<element name="fechaResv5" type="int" minOccurs="1"/>
			<element name="montoResv1" type="int" minOccurs="1"/>
			<element name="montoResv2" type="int" minOccurs="0"/>
			<element name="montoResv3" type="int" minOccurs="1"/>
			<element name="montoResv4" type="int" minOccurs="1"/>
			<element name="montoResv5" type="int" minOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="OpCreacionClienteRespuesta">
		<complexContent>
			<extension base="dto2:CTSServiceResponseTO">
				<sequence>
					<element name="contextoRespuesta" type="dto:ContextoRespuesta" minOccurs="1"/>
					<element name="customerId" type="int" minOccurs="0"/>
					<element name="message" type="string" minOccurs="0"/>
					<element name="name" type="string" minOccurs="0"/>
					<element name="errorCode" type="string" minOccurs="0"/>
					<element name="id1Error" type="dto:char" minOccurs="0"/>
					<element name="id1TypeError" type="dto:char" minOccurs="0"/>
					<element name="nameError" type="dto:char" minOccurs="0"/>
					<element name="lastNameError" type="dto:char" minOccurs="0"/>
					<element name="id2Error" type="dto:char" minOccurs="0"/>
					<element name="id2TypeError" type="dto:char" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OpCreacionClienteSolicitud">
		<sequence>
			<element name="contextoTransaccional" type="dto:ContextoTransaccional" minOccurs="1"/>
			<element name="countryCode" type="string" minOccurs="0"/>
			<element name="emisor" type="string" minOccurs="0"/>
			<element name="sourceCode" type="string" minOccurs="0"/>
			<element name="firstName" type="string" minOccurs="0"/>
			<element name="secondName" type="string" minOccurs="0"/>
			<element name="lastName" type="string" minOccurs="0"/>
			<element name="secondLastName" type="string" minOccurs="0"/>
			<element name="marriedName" type="string" minOccurs="0"/>
			<element name="sex" type="string" minOccurs="0"/>
			<element name="bornDate" type="dateTime" minOccurs="0"/>
			<element name="maritalStatus" type="dto:char" minOccurs="0"/>
			<element name="bornCountry" type="string" minOccurs="0"/>
			<element name="nationality" type="string" minOccurs="0"/>
			<element name="idType1" type="string" minOccurs="0"/>
			<element name="id1" type="string" minOccurs="0"/>
			<element name="idType2" type="string" minOccurs="0"/>
			<element name="id2" type="string" minOccurs="0"/>
			<element name="addressResidence1" type="string" minOccurs="0"/>
			<element name="addressResidence2" type="string" minOccurs="0"/>
			<element name="addressResidence3" type="string" minOccurs="0"/>
			<element name="addressResidence4" type="string" minOccurs="0"/>
			<element name="addressEmployment1" type="string" minOccurs="0"/>
			<element name="addressEmployment2" type="string" minOccurs="0"/>
			<element name="homePhoneCountry" type="int" minOccurs="0"/>
			<element name="homePhoneArea" type="int" minOccurs="0"/>
			<element name="homePhoneNumber" type="decimal" minOccurs="0"/>
			<element name="homePhoneExt" type="int" minOccurs="0"/>
			<element name="employmentPhoneCountry" type="int" minOccurs="0"/>
			<element name="employmentPhoneArea" type="int" minOccurs="0"/>
			<element name="employmentPhoneNumber" type="decimal" minOccurs="0"/>
			<element name="employmentPhoneExt" type="int" minOccurs="0"/>
			<element name="eMail" type="string" minOccurs="0"/>
			<element name="applicationType" type="string" minOccurs="0"/>
			<element name="applicantType" type="string" minOccurs="0"/>
			<element name="corpName" type="string" minOccurs="0"/>
			<element name="corpLocation" type="string" minOccurs="0"/>
			<element name="corpStartDate" type="dateTime" minOccurs="0"/>
			<element name="bankBranch" type="string" minOccurs="0"/>
			<element name="loanDestination" type="string" minOccurs="0"/>
			<element name="insuranceFlag" type="string" minOccurs="0"/>
			<element name="verstgy" type="string" minOccurs="0"/>
			<element name="disbursementInstr" type="string" minOccurs="0"/>
			<element name="appid" type="decimal" minOccurs="0"/>
			<element name="prodOrg1" type="int" minOccurs="0"/>
			<element name="prodLogo1" type="int" minOccurs="0"/>
			<element name="creditLimit1" type="double" minOccurs="0"/>
			<element name="prodOrg2" type="int" minOccurs="0"/>
			<element name="prodLogo2" type="int" minOccurs="0"/>
			<element name="creditLimit2" type="double" minOccurs="0"/>
			<element name="prodOrg3" type="int" minOccurs="0"/>
			<element name="prodLogo3" type="int" minOccurs="0"/>
			<element name="creditLimit3" type="double" minOccurs="0"/>
			<element name="prodOrg4" type="int" minOccurs="0"/>
			<element name="prodLogo4" type="int" minOccurs="0"/>
			<element name="creditLimit4" type="double" minOccurs="0"/>
			<element name="prodOrg5" type="int" minOccurs="0"/>
			<element name="prodLogo5" type="int" minOccurs="0"/>
			<element name="creditLimit5" type="double" minOccurs="0"/>
			<element name="resdCity" type="string" minOccurs="0"/>
			<element name="ebNob" type="string" minOccurs="0"/>
			<element name="loanPayment" type="int" minOccurs="0"/>
			<element name="existingAcctNum" type="decimal" minOccurs="0"/>
			<element name="monthlyPayment" type="double" minOccurs="0"/>
			<element name="tenor" type="int" minOccurs="0"/>
			<element name="ddaType" type="int" minOccurs="0"/>
			<element name="creditType" type="int" minOccurs="0"/>
			<element name="balconCtorTyp1" type="string" minOccurs="0"/>
			<element name="balconCtorTyp2" type="string" minOccurs="0"/>
			<element name="balconCtorTyp3" type="string" minOccurs="0"/>
			<element name="balconCtorTyp4" type="string" minOccurs="0"/>
			<element name="balconCtorTyp5" type="string" minOccurs="0"/>
			<element name="balconCtorTyp6" type="string" minOccurs="0"/>
			<element name="balconCtorTyp7" type="string" minOccurs="0"/>
			<element name="balconCtorTyp8" type="string" minOccurs="0"/>
			<element name="balconCurr1" type="string" minOccurs="0"/>
			<element name="balconCurr2" type="string" minOccurs="0"/>
			<element name="balconCurr3" type="string" minOccurs="0"/>
			<element name="balconCurr4" type="string" minOccurs="0"/>
			<element name="balconCurr5" type="string" minOccurs="0"/>
			<element name="balconCurr6" type="string" minOccurs="0"/>
			<element name="balconCurr7" type="string" minOccurs="0"/>
			<element name="balconCurr8" type="string" minOccurs="0"/>
			<element name="bt1AcctSeq1" type="int" minOccurs="0"/>
			<element name="bt1AcctSeq2" type="int" minOccurs="0"/>
			<element name="bt1AcctSeq3" type="int" minOccurs="0"/>
			<element name="bt1AcctSeq4" type="int" minOccurs="0"/>
			<element name="bt1AcctSeq5" type="int" minOccurs="0"/>
			<element name="bt1AcctSeq6" type="int" minOccurs="0"/>
			<element name="bt1AcctSeq7" type="int" minOccurs="0"/>
			<element name="bt1AcctSeq8" type="int" minOccurs="0"/>
			<element name="bt1AcctName1" type="string" minOccurs="0"/>
			<element name="bt1AcctName2" type="string" minOccurs="0"/>
			<element name="bt1AcctName3" type="string" minOccurs="0"/>
			<element name="bt1AcctName4" type="string" minOccurs="0"/>
			<element name="bt1AcctName5" type="string" minOccurs="0"/>
			<element name="bt1AcctName6" type="string" minOccurs="0"/>
			<element name="bt1AcctName7" type="string" minOccurs="0"/>
			<element name="bt1AcctName8" type="string" minOccurs="0"/>
			<element name="bt1AcctNbr1" type="decimal" minOccurs="0"/>
			<element name="bt1AcctNbr2" type="decimal" minOccurs="0"/>
			<element name="bt1AcctNbr3" type="decimal" minOccurs="0"/>
			<element name="bt1AcctNbr4" type="decimal" minOccurs="0"/>
			<element name="bt1AcctNbr5" type="decimal" minOccurs="0"/>
			<element name="bt1AcctNbr6" type="decimal" minOccurs="0"/>
			<element name="bt1AcctNbr7" type="decimal" minOccurs="0"/>
			<element name="bt1AcctNbr8" type="decimal" minOccurs="0"/>
			<element name="ben1" type="int" minOccurs="0"/>
			<element name="ben2" type="int" minOccurs="0"/>
			<element name="ben3" type="int" minOccurs="0"/>
			<element name="amtben1" type="int" minOccurs="0"/>
			<element name="amtben2" type="int" minOccurs="0"/>
			<element name="amtben3" type="int" minOccurs="0"/>
			<element name="mdb" type="int" minOccurs="0"/>
			<element name="ucn" type="string" minOccurs="0"/>
			<element name="agentCode" type="string" minOccurs="0"/>
			<element name="staffInd" type="string" minOccurs="0"/>
			<element name="reasonForAppliyng" type="string" minOccurs="0"/>
			<element name="balconBalPmt1" type="double" minOccurs="0"/>
			<element name="balconBalPmt2" type="double" minOccurs="0"/>
			<element name="balconBalPmt3" type="double" minOccurs="0"/>
			<element name="balconBalPmt4" type="double" minOccurs="0"/>
			<element name="balconBalPmt5" type="double" minOccurs="0"/>
			<element name="reproceso" type="string" minOccurs="0"/>
			<element name="fechaProceso" type="dateTime" minOccurs="0"/>
			<element name="usuario" type="string" minOccurs="0"/>
			<element name="tipoOperacion" type="string" minOccurs="0"/>
			<element name="alternateClientEmail" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="50"/>
					</restriction>
				</simpleType>
			</element>
			<element name="salaryRange" type="string" minOccurs="0"/>
			<element name="employerEconomicActivity" type="string" minOccurs="1"/>
			<element name="employerState" type="string" minOccurs="1"/>
			<element name="clientEconomicActivity" type="string" minOccurs="1"/>
			<element name="educationLevel" type="string" minOccurs="0"/>
			<element name="cityOfBirth" type="string" minOccurs="1"/>
			<element name="monthlyIncome" type="decimal" minOccurs="1"/>
			<element name="natureOfBusiness" type="string" minOccurs="1"/>
			<element name="issueDateClientID" type="string" minOccurs="0"/>
			<element name="expirationDateClientID" type="string" minOccurs="0"/>
			<element name="personalReferenceType1" type="string" minOccurs="1"/>
			<element name="personalReferenceName1" type="string" minOccurs="1"/>
			<element name="personalReferencePhone1" type="decimal" minOccurs="1"/>
			<element name="personalReferenceType2" type="string" minOccurs="0"/>
			<element name="personalReferenceName2" type="string" minOccurs="0"/>
			<element name="personalReferencePhone2" type="decimal" minOccurs="0"/>
			<element name="spouseNames" type="string" minOccurs="0"/>
			<element name="spouseSurnames" type="string" minOccurs="0"/>
			<element name="spouseEmail" type="string" minOccurs="0"/>
			<element name="spouseDateOfBirth" type="dateTime" minOccurs="0"/>
			<element name="spouseIDType" type="string" minOccurs="0"/>
			<element name="spouseID" type="string" minOccurs="0"/>
			<element name="spousePhone" type="decimal" minOccurs="0"/>
			<element name="addressEmployment3" type="string" minOccurs="0"/>
			<element name="addressEmployment4" type="string" minOccurs="0"/>
			<element name="jobMunicipality" type="string" minOccurs="0"/>
			<element name="homeMunicipality" type="string" minOccurs="0"/>
			<element name="homeState" type="string" minOccurs="1"/>
			<element name="professionCode" type="string" minOccurs="1"/>
			<element name="titleEmployment" type="string" minOccurs="0"/>
			<element name="mobilePhone" type="string" minOccurs="0"/>
			<element name="login" type="string" minOccurs="0"/>
			<element name="userName" type="string" minOccurs="0"/>
			<element name="idCreditRequest" type="string" minOccurs="1"/>
			<element name="idSaleForceRequest" type="string" minOccurs="1"/>
			<element name="sellerCode" type="string" minOccurs="0"/>
			<element name="supervisorCode" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="Region">
		<sequence>
			<element name="bancoOrigen" type="string" minOccurs="1"/>
			<element name="bancoDestino" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ResulsetConsultaBuroCredito">
		<complexContent>
			<extension base="dto2:CTSServiceResponseTO">
				<sequence>
					<element name="visaLine" type="decimal" minOccurs="0"/>
					<element name="visaBalance" type="decimal" minOccurs="0"/>
					<element name="visaDelqncy" type="decimal" minOccurs="0"/>
					<element name="visaWriteOff" type="decimal" minOccurs="0"/>
					<element name="visaRiskLevel" type="string" minOccurs="0"/>
					<element name="visaPymntHist6" type="string" minOccurs="0"/>
					<element name="visaPymntHist12" type="string" minOccurs="0"/>
					<element name="visaStatus" type="string" minOccurs="0"/>
					<element name="visaBlkCode" type="string" minOccurs="0"/>
					<element name="visaDpd" type="int" minOccurs="0"/>
					<element name="visaMob" type="int" minOccurs="0"/>
					<element name="visaAvgCaBalLst6" type="decimal" minOccurs="0"/>
					<element name="visaBehaviorScore" type="int" minOccurs="0"/>
					<element name="mstrLine" type="decimal" minOccurs="0"/>
					<element name="mstrBalance" type="decimal" minOccurs="0"/>
					<element name="mstrDelqncy" type="decimal" minOccurs="0"/>
					<element name="mstrWriteOff" type="decimal" minOccurs="0"/>
					<element name="mstrRiskLevel" type="string" minOccurs="0"/>
					<element name="mstrPymntHist6" type="string" minOccurs="0"/>
					<element name="mstrPymntHist12" type="string" minOccurs="0"/>
					<element name="mstrStatus" type="string" minOccurs="0"/>
					<element name="mstrBlkCode" type="string" minOccurs="0"/>
					<element name="mstrDpd" type="int" minOccurs="0"/>
					<element name="mstrMob" type="int" minOccurs="0"/>
					<element name="mstrAvgCaBalLst6" type="decimal" minOccurs="0"/>
					<element name="mstrBehaviorScore" type="int" minOccurs="0"/>
					<element name="mstrNroAct" type="int" minOccurs="0"/>
					<element name="autoLine" type="decimal" minOccurs="0"/>
					<element name="autoBal" type="decimal" minOccurs="0"/>
					<element name="autoDelqncy" type="decimal" minOccurs="0"/>
					<element name="autoWriteOff" type="decimal" minOccurs="0"/>
					<element name="autoPymntHist6" type="string" minOccurs="0"/>
					<element name="autoPymntHist12" type="string" minOccurs="0"/>
					<element name="autoDpd" type="int" minOccurs="0"/>
					<element name="autoMob" type="int" minOccurs="0"/>
					<element name="autoMnthlyPymnt" type="decimal" minOccurs="0"/>
					<element name="mortgLine" type="decimal" minOccurs="0"/>
					<element name="mortgBal" type="decimal" minOccurs="0"/>
					<element name="mortgDelqncy" type="decimal" minOccurs="0"/>
					<element name="mortgWriteOff" type="decimal" minOccurs="0"/>
					<element name="mortgPymntHist6" type="string" minOccurs="0"/>
					<element name="mortgPymntHist12" type="string" minOccurs="0"/>
					<element name="mortgDpd" type="int" minOccurs="0"/>
					<element name="mortgMob" type="int" minOccurs="0"/>
					<element name="mortgMnthlyPymnt" type="decimal" minOccurs="0"/>
					<element name="ilLine" type="decimal" minOccurs="0"/>
					<element name="ilBal" type="decimal" minOccurs="0"/>
					<element name="ilDelqncy" type="decimal" minOccurs="0"/>
					<element name="ilWriteOff" type="decimal" minOccurs="0"/>
					<element name="ilPymntHist6" type="string" minOccurs="0"/>
					<element name="ilPymntHist12" type="string" minOccurs="0"/>
					<element name="ilDpd" type="int" minOccurs="0"/>
					<element name="ilMob" type="int" minOccurs="0"/>
					<element name="ilMnthlyPymnt" type="decimal" minOccurs="0"/>
					<element name="rewrLine" type="decimal" minOccurs="0"/>
					<element name="rewrBal" type="decimal" minOccurs="0"/>
					<element name="rewrDelqncy" type="decimal" minOccurs="0"/>
					<element name="rewrWriteOff" type="decimal" minOccurs="0"/>
					<element name="rewrPymntHist6" type="string" minOccurs="0"/>
					<element name="rewrPymntHist12" type="string" minOccurs="0"/>
					<element name="rewrDpd" type="int" minOccurs="0"/>
					<element name="rewrMob" type="int" minOccurs="0"/>
					<element name="rewrMnthlyPymnt" type="decimal" minOccurs="0"/>
					<element name="ddaBlkCode" type="int" minOccurs="0"/>
					<element name="ddaBdchkLast12" type="int" minOccurs="0"/>
					<element name="ddaOverlimitInt" type="decimal" minOccurs="0"/>
					<element name="ddaOverlimitSign" type="string" minOccurs="0"/>
					<element name="biExtra" type="decimal" minOccurs="0"/>
					<element name="negRef" type="string" minOccurs="0"/>
					<element name="rskCat" type="string" minOccurs="0"/>
					<element name="chkAcct" type="string" minOccurs="0"/>
					<element name="saAcct" type="string" minOccurs="0"/>
					<element name="avgBalChkAcctInt" type="decimal" minOccurs="0"/>
					<element name="avgBalChkAcctSign" type="string" minOccurs="0"/>
					<element name="avgBalSaAcctInt" type="decimal" minOccurs="0"/>
					<element name="avgBalSaAcctSign" type="string" minOccurs="0"/>
					<element name="certOfDepo" type="string" minOccurs="0"/>
					<element name="certOfDepoAmtInt" type="decimal" minOccurs="0"/>
					<element name="certOfDepoAmtSign" type="string" minOccurs="0"/>
					<element name="rejChkOnCaLess1Yr" type="int" minOccurs="0"/>
					<element name="rejChkOnCaMore1Yr" type="int" minOccurs="0"/>
					<element name="overlimit" type="string" minOccurs="0"/>
					<element name="daysOverlimit" type="int" minOccurs="0"/>
					<element name="preRejFlag" type="string" minOccurs="0"/>
					<element name="exliExistInd" type="string" minOccurs="0"/>
					<element name="spseActAcctFlag" type="string" minOccurs="0"/>
					<element name="corpLine" type="decimal" minOccurs="0"/>
					<element name="corpBal" type="decimal" minOccurs="0"/>
					<element name="corpDelqncy" type="decimal" minOccurs="0"/>
					<element name="corpWriteOff" type="decimal" minOccurs="0"/>
					<element name="corpRiskLevel" type="string" minOccurs="0"/>
					<element name="corpCnr" type="decimal" minOccurs="0"/>
					<element name="corpPymntHist6" type="string" minOccurs="0"/>
					<element name="corpPymntHist12" type="string" minOccurs="0"/>
					<element name="corpDpd" type="int" minOccurs="0"/>
					<element name="corpMob" type="int" minOccurs="0"/>
					<element name="corpBlkCode" type="string" minOccurs="0"/>
					<element name="corpStatus" type="string" minOccurs="0"/>
					<element name="corpAddr1" type="string" minOccurs="0"/>
					<element name="corpAddr2" type="string" minOccurs="0"/>
					<element name="corpAddr3" type="string" minOccurs="0"/>
					<element name="corpAddr4" type="string" minOccurs="0"/>
					<element name="corpCompanyType" type="string" minOccurs="0"/>
					<element name="corpGuarntLevel" type="string" minOccurs="0"/>
					<element name="corpCompReptReq" type="string" minOccurs="0"/>
					<element name="corpCrLimit" type="decimal" minOccurs="0"/>
					<element name="ucn" type="int" minOccurs="0"/>
					<element name="tarjeta" type="string" minOccurs="0"/>
					<element name="visaDateWriteOff" type="string" minOccurs="0"/>
					<element name="visaYoungestMob" type="int" minOccurs="0"/>
					<element name="visaOldestMob" type="int" minOccurs="0"/>
					<element name="visaMosSncIncr" type="int" minOccurs="0"/>
					<element name="visaMosSncDecr" type="int" minOccurs="0"/>
					<element name="mstrDateWriteOff" type="string" minOccurs="0"/>
					<element name="mstrYoungestMob" type="int" minOccurs="0"/>
					<element name="mstrOldestMob" type="int" minOccurs="0"/>
					<element name="mstrMosSncIncr" type="int" minOccurs="0"/>
					<element name="mstrMosSncDecr" type="int" minOccurs="0"/>
					<element name="rewrCcLine" type="decimal" minOccurs="0"/>
					<element name="rewrCcBalance" type="decimal" minOccurs="0"/>
					<element name="rewrCcDelqncy" type="decimal" minOccurs="0"/>
					<element name="rewrCcWriteOff" type="decimal" minOccurs="0"/>
					<element name="rewrCcDateWriteOff" type="string" minOccurs="0"/>
					<element name="rewrCcPymntHist6" type="string" minOccurs="0"/>
					<element name="rewrCcPymntHist12" type="int" minOccurs="0"/>
					<element name="rewrCcStatus" type="string" minOccurs="0"/>
					<element name="rewrCcBlkCode" type="string" minOccurs="0"/>
					<element name="rewrCcDpd" type="int" minOccurs="0"/>
					<element name="rewrCcYoungestMob" type="int" minOccurs="0"/>
					<element name="rewrCcOldestMob" type="int" minOccurs="0"/>
					<element name="rewrCcBehaviorScore" type="int" minOccurs="0"/>
					<element name="rewrCcNroAct" type="int" minOccurs="0"/>
					<element name="ilccLine" type="decimal" minOccurs="0"/>
					<element name="ilccBalance" type="decimal" minOccurs="0"/>
					<element name="ilccDelqncy" type="decimal" minOccurs="0"/>
					<element name="ilccWriteOff" type="decimal" minOccurs="0"/>
					<element name="ilccDateWriteOff" type="string" minOccurs="0"/>
					<element name="ilccPymntHist6" type="string" minOccurs="0"/>
					<element name="ilccPymntHist12" type="string" minOccurs="0"/>
					<element name="ilccStatus" type="string" minOccurs="0"/>
					<element name="ilccBlkCode" type="string" minOccurs="0"/>
					<element name="ilccDpd" type="int" minOccurs="0"/>
					<element name="ilccYoungestMob" type="int" minOccurs="0"/>
					<element name="ilccOldestMob" type="int" minOccurs="0"/>
					<element name="ilccBehaviorScore" type="int" minOccurs="0"/>
					<element name="ilccNroAct" type="int" minOccurs="0"/>
					<element name="extraLine" type="decimal" minOccurs="0"/>
					<element name="extraBalance" type="decimal" minOccurs="0"/>
					<element name="extraWriteOff" type="decimal" minOccurs="0"/>
					<element name="extraDateWriteOff" type="string" minOccurs="0"/>
					<element name="extraPymntHist6" type="string" minOccurs="0"/>
					<element name="extraPymntHist12" type="string" minOccurs="0"/>
					<element name="extraDpd" type="int" minOccurs="0"/>
					<element name="extraYoungestMob" type="int" minOccurs="0"/>
					<element name="extraOldestMob" type="int" minOccurs="0"/>
					<element name="extraNroAct" type="int" minOccurs="0"/>
					<element name="autoDateWriteOff" type="string" minOccurs="0"/>
					<element name="autoYoungestMob" type="int" minOccurs="0"/>
					<element name="autoOldestMob" type="int" minOccurs="0"/>
					<element name="autoNroAct" type="int" minOccurs="0"/>
					<element name="mortgDateWriteOff" type="string" minOccurs="0"/>
					<element name="mortgYoungestMob" type="int" minOccurs="0"/>
					<element name="mortgOldestMob" type="int" minOccurs="0"/>
					<element name="mortgNroAct" type="int" minOccurs="0"/>
					<element name="ilDateWriteOff" type="string" minOccurs="0"/>
					<element name="ilYoungestMob" type="int" minOccurs="0"/>
					<element name="ilOldestMob" type="int" minOccurs="0"/>
					<element name="ilNroAct" type="int" minOccurs="0"/>
					<element name="rewrDateWriteOff" type="string" minOccurs="0"/>
					<element name="rewrYoungestMob" type="int" minOccurs="0"/>
					<element name="rewrOldestMob" type="int" minOccurs="0"/>
					<element name="rewrNroAct" type="int" minOccurs="0"/>
					<element name="rcLine" type="decimal" minOccurs="0"/>
					<element name="rcBal" type="decimal" minOccurs="0"/>
					<element name="rcDelqncy" type="decimal" minOccurs="0"/>
					<element name="rcWriteOff" type="decimal" minOccurs="0"/>
					<element name="rcDateWriteOff" type="string" minOccurs="0"/>
					<element name="rcPymntHist6" type="string" minOccurs="0"/>
					<element name="rcPymntHist12" type="string" minOccurs="0"/>
					<element name="rcDpd" type="int" minOccurs="0"/>
					<element name="rcYoungestMob" type="int" minOccurs="0"/>
					<element name="rcOldestMob" type="int" minOccurs="0"/>
					<element name="rcMosSncIncr" type="int" minOccurs="0"/>
					<element name="rcMosSncDecr" type="int" minOccurs="0"/>
					<element name="rcBlkCode" type="int" minOccurs="0"/>
					<element name="rcNoAct" type="int" minOccurs="0"/>
					<element name="odLine" type="int" minOccurs="0"/>
					<element name="odBal" type="decimal" minOccurs="0"/>
					<element name="odDelqncy" type="decimal" minOccurs="0"/>
					<element name="odDpd" type="int" minOccurs="0"/>
					<element name="varextra1" type="string" minOccurs="0"/>
					<element name="varextra2" type="string" minOccurs="0"/>
					<element name="varextra3" type="string" minOccurs="0"/>
					<element name="varextra4" type="string" minOccurs="0"/>
					<element name="varextra5" type="string" minOccurs="0"/>
					<element name="varextra6" type="string" minOccurs="0"/>
					<element name="varextra7" type="string" minOccurs="0"/>
					<element name="varextra8" type="string" minOccurs="0"/>
					<element name="varextra9" type="string" minOccurs="0"/>
					<element name="varextra10" type="string" minOccurs="0"/>
					<element name="varextra11" type="string" minOccurs="0"/>
					<element name="varextra12" type="string" minOccurs="0"/>
					<element name="varextra13" type="string" minOccurs="0"/>
					<element name="varextra14" type="string" minOccurs="0"/>
					<element name="varextra15" type="string" minOccurs="0"/>
					<element name="varextra16" type="string" minOccurs="0"/>
					<element name="varextra17" type="string" minOccurs="0"/>
					<element name="varextra18" type="string" minOccurs="0"/>
					<element name="varextra19" type="string" minOccurs="0"/>
					<element name="varextra20" type="string" minOccurs="0"/>
					<element name="nameLine1" type="string" minOccurs="0"/>
					<element name="amnaAddr1" type="string" minOccurs="0"/>
					<element name="amnaAddr2" type="string" minOccurs="0"/>
					<element name="city" type="string" minOccurs="0"/>
					<element name="state" type="string" minOccurs="0"/>
					<element name="zipCode" type="string" minOccurs="0"/>
					<element name="addr1" type="string" minOccurs="0"/>
					<element name="addr2" type="string" minOccurs="0"/>
					<element name="addr3" type="string" minOccurs="0"/>
					<element name="makerHomePhone" type="string" minOccurs="0"/>
					<element name="makerEmpPhone" type="string" minOccurs="0"/>
					<element name="othPhonePhone" type="string" minOccurs="0"/>
					<element name="mobilPhone" type="string" minOccurs="0"/>
					<element name="phoneRef1" type="string" minOccurs="0"/>
					<element name="phoneRef2" type="string" minOccurs="0"/>
					<element name="occpnCode" type="string" minOccurs="0"/>
					<element name="makerEmployer" type="string" minOccurs="0"/>
					<element name="makerIncome" type="decimal" minOccurs="0"/>
					<element name="longName" type="string" minOccurs="0"/>
					<element name="perRef1" type="string" minOccurs="0"/>
					<element name="perRef2" type="string" minOccurs="0"/>
					<element name="emailId" type="string" minOccurs="0"/>
					<element name="makerTaxId2" type="string" minOccurs="0"/>
					<element name="lenOfEmpYrs" type="int" minOccurs="0"/>
					<element name="lenOfEmpMths" type="int" minOccurs="0"/>
					<element name="ywibFgErr" type="string" minOccurs="0"/>
					<element name="ywibAppidErr" type="string" minOccurs="0"/>
					<element name="ywibApplicationTypeErr" type="string" minOccurs="0"/>
					<element name="ywibApplicantTypeErr" type="string" minOccurs="0"/>
					<element name="ywibApplFnameErr" type="string" minOccurs="0"/>
					<element name="ywibApplMnameErr" type="string" minOccurs="0"/>
					<element name="ywibApplFname3Err" type="string" minOccurs="0"/>
					<element name="ywibApplSnameErr" type="string" minOccurs="0"/>
					<element name="ywibApplSname2Err" type="string" minOccurs="0"/>
					<element name="ywibApplXnameErr" type="string" minOccurs="0"/>
					<element name="ywibApplDobErr" type="string" minOccurs="0"/>
					<element name="ywibApplPobErr" type="string" minOccurs="0"/>
					<element name="ywibApplId1Err" type="string" minOccurs="0"/>
					<element name="ywibApplIdType1Err" type="string" minOccurs="0"/>
					<element name="ywibApplId2Err" type="string" minOccurs="0"/>
					<element name="ywibApplIdType2Err" type="string" minOccurs="0"/>
					<element name="ywibSpouseFnameErr" type="string" minOccurs="0"/>
					<element name="ywibSpouseMnameErr" type="string" minOccurs="0"/>
					<element name="ywibSpouseFname3Err" type="string" minOccurs="0"/>
					<element name="ywibSpouseSnameErr" type="string" minOccurs="0"/>
					<element name="ywibSpouseSname2Err" type="string" minOccurs="0"/>
					<element name="ywibSpouseXnameErr" type="string" minOccurs="0"/>
					<element name="ywibSpouseDobErr" type="string" minOccurs="0"/>
					<element name="ywibSpouseId1Err" type="string" minOccurs="0"/>
					<element name="ywibSpouseIdType1Err" type="string" minOccurs="0"/>
					<element name="ywibSpouseId2Err" type="string" minOccurs="0"/>
					<element name="ywibSpouseIdType2Err" type="string" minOccurs="0"/>
					<element name="ywibCorpCardNbrErr" type="string" minOccurs="0"/>
					<element name="ywibCorpNameErr" type="string" minOccurs="0"/>
					<element name="ywibCorpUcnErr" type="string" minOccurs="0"/>
					<element name="ywibLegalRepFnameErr" type="string" minOccurs="0"/>
					<element name="ywibLegalRepMnameErr" type="string" minOccurs="0"/>
					<element name="ywibLegalRepFname3Err" type="string" minOccurs="0"/>
					<element name="ywibLegalRepSnameErr" type="string" minOccurs="0"/>
					<element name="ywibLegalRepSname2Err" type="string" minOccurs="0"/>
					<element name="ywibLegalRepXnameErr" type="string" minOccurs="0"/>
					<element name="ywibLegalRepUcnErr" type="string" minOccurs="0"/>
					<element name="ywibLegalRepDobErr" type="string" minOccurs="0"/>
					<element name="ywibLegalRepId1Err" type="string" minOccurs="0"/>
					<element name="ywibLegalRepIdType1Err" type="string" minOccurs="0"/>
					<element name="ywibLegalRepId2Err" type="string" minOccurs="0"/>
					<element name="ywibLegalRepIdType2Err" type="string" minOccurs="0"/>
					<element name="ywibEpRespCode" type="int" minOccurs="0"/>
					<element name="ywibErrorMessage" type="string" minOccurs="0"/>
					<element name="tarMthLstCrlChg" type="int" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ResulsetConsultaPuntos">
		<sequence>
			<element name="codigoRetorno" type="string" minOccurs="0"/>
			<element name="descripcionRetorno" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>