Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Services/RequestorServices/WADL/ServicesRouter_PS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns0="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns="http://wadl.dev.java.net/2009/02" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/getCoreCatalogsTypes">
   <doc title="RestService">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getServicesListTypes" schemaLocation="../XSD/getServicesListTypes.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getServicesDetailsTypes" schemaLocation="../XSD/getServicesDetailsTypes.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCoreCatalogsTypes" schemaLocation="../XSD/getCoreCatalogsTypes.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/get-services-details/">
         <method name="POST" soa:wsdlOperation="getServicesDetails">
            <request>
               <representation mediaType="application/json" element="cns:GetServicesDetails" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getServicesDetailsTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:GetServicesDetailsRSP" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getServicesDetailsTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/get-services-list">
         <method name="POST" soa:wsdlOperation="getServicesList">
            <request>
               <representation mediaType="application/json" element="cns:GetServicesList" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getServicesListTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:GetServicesListRSP" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getServicesListTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/get-core-catalogs">
         <method name="POST" soa:wsdlOperation="getCoreCatalogs">
            <request>
               <representation mediaType="application/json" element="cns:getCoreCatalogsRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getCoreCatalogsTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getCoreCatalogsResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getCoreCatalogsTypes"/>
            </response>
         </method>
      </resource>
   </resources>
</application>