Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/GestionesTarjetas_v2/xsd/XMLSchema_-1440179405.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes"
		xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes">
	
	<!-- stringMinLength1Type -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- stringMaxLengthType -->
    <xs:simpleType name="acc_card_LengthType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="19"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- orgIndType -->
    <xs:simpleType name="orgIndType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="BASE"/>
           <xs:enumeration value="ALT"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- blockCodeIndType-->
    <xs:simpleType name="blockCodeIndType">
        <xs:restriction base="xs:integer">
           <xs:enumeration value="0"/>
           <xs:enumeration value="1"/>
           <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- cardActionType -->
    <xs:simpleType name="cardActionType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="NEW_CARD"/>
           <xs:enumeration value="NORMAL_REPLACEMENT"/>
           <xs:enumeration value="EMERGENCY_REPLACEMENT"/>
           <xs:enumeration value="RENOVATION"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- cardHolderType -->
    <xs:simpleType name="cardHolderType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="PRINCIPAL"/>
           <xs:enumeration value="ADDITIONAL"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- yesNoType -->
    <xs:simpleType name="yesNoType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="YES"/>
           <xs:enumeration value="NO"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- processType -->
    <xs:simpleType name="processType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="EMERGENCY"/>
           <xs:enumeration value="NORMAL"/>
        </xs:restriction>
    </xs:simpleType>
	
	<!--############################################--> 
    <!--OPERACION: ACTIVACION DE TARJETA DE CREDITO -->
    <!--############################################-->   
    
    <xs:element name="activacionTC">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="CARD_NUMBER" type="tns:acc_card_LengthType"/>
    			<xs:element name="ORG" type="xs:integer" minOccurs="0"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="activacionTCResponse"/>
    
    <!--#########################################--> 
    <!--OPERACION: BLOQUEO DE TARJETA DE CREDITO -->
    <!--#########################################--> 
    
    <xs:element name="bloqueoTC">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="CARD_NUMBER" type="tns:acc_card_LengthType"/>
    			<xs:element name="ORG" type="xs:integer" minOccurs="0"/>
    			<xs:element name="BLOCK_CODE" type="xs:string" minOccurs="0"/>
    			<xs:element name="BLOCK_REASON" type="xs:integer"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="bloqueoTCResponse"/>
    
    <!--#############################--> 
    <!--OPERACION: BLOQUEO DE CUENTA -->
    <!--#############################-->
    
    <xs:element name="bloqueoCTA">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="ACCOUNT_NUMBER" type="tns:acc_card_LengthType"/>
    			<xs:element name="ORG_IND" type="tns:orgIndType"/>
    			<xs:element name="BLOCK_CODE" type="tns:stringMinLength1"/>
    			<xs:element name="BLOCK_CODE_IND" type="tns:blockCodeIndType"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="bloqueoCTAResponse"/>    
    
    <!--###################################################################--> 
    <!--OPERACION: ACTUALIZACION DE LIMITE DE CUENTA DE TARJETA DE CREDITO -->
    <!--###################################################################-->  
    
    <xs:element name="actualizacionLimiteCTA">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="ACCOUNT_NUMBER" type="tns:acc_card_LengthType"/>
    			<xs:element name="ORG_IND" type="tns:orgIndType"/>
    			<xs:element name="CURRENT_LIMIT" type="xs:integer"/>
    			<xs:element name="NEW_LIMIT" type="xs:integer"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="actualizacionLimiteCTAResponse"/>
    
    <!--#############################################################################--> 
    <!--OPERACION: ACTUALIZACION TEMPORAL DEL LIMITE DE CUENTA DE TARJETA DE CREDITO -->
    <!--#############################################################################-->  
    
    <xs:element name="actualizacionTmpLimiteCTA">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="ACCOUNT_NUMBER" type="tns:acc_card_LengthType"/>
    			<xs:element name="ORG_IND" type="tns:orgIndType"/>
    			<xs:element name="CURRENT_LIMIT" type="xs:integer"/>
    			<xs:element name="NEW_LIMIT" type="xs:integer"/>
    			<xs:element name="LIMIT_EXPIRATION_DATE" type="xs:date"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="actualizacionTmpLimiteCTAResponse"/>
    
    <!--############################################--> 
    <!--OPERACION: SOLICITUD DE TARJETA DE CREDITO -->
    <!--############################################--> 
    
    <xs:element name="solicitudTC">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="ACCOUNT_NUMBER" type="tns:acc_card_LengthType"/>
    			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
    			<xs:element name="ORG" type="xs:integer" minOccurs="0" />
    			<xs:element name="CUSTOMER_ID" type="tns:stringMinLength1" />
    			<xs:element name="CARD_ACTION" type="tns:cardActionType" />
    			<xs:element name="EMBOSSED_NAME" type="tns:stringMinLength1" />
    			<xs:element name="EXPIRATION_DATE" type="tns:stringMinLength1" />
    			<xs:element name="CARD_HOLDER_TYPE" type="tns:cardHolderType" />
    			<xs:element name="GENERATE_PIN" type="tns:yesNoType" />
    			<xs:element name="PROCESS_TYPE" type="tns:processType" />
    			<xs:element name="TYPE_CARD" type="tns:stringMinLength1" />
    			<xs:element name="TYPE_CARD_MAILER" type="tns:stringMinLength1" />
    			<xs:element name="EMBOSSED_NAME_2" type="xs:string" minOccurs="0"/>                
    			<xs:element name="NAME_2" type="xs:string" minOccurs="0"/>                
    			<xs:element name="BLOCK_CODE" type="tns:stringMinLength1" />
    			<xs:element name="PRIORYTI_PASS" type="xs:string" minOccurs="0"/>                
    			<xs:element name="EMBLEM_ID" type="xs:string" minOccurs="0"/>                
    			<xs:element name="CARD_ACTION_REASON_CODE" type="xs:string" minOccurs="0"/>                
    			<xs:element name="SPENDING_LIMIT_INDICATOR" type="xs:string" minOccurs="0"/>                
    			<xs:element name="PERCENTAGE_LIMIT_OF_DAILY_PURCHASE" type="xs:string" minOccurs="0"/>                
    			<xs:element name="PERCENTAGE_MONTHLY_PURCHASE_LIMIT" type="xs:string" minOccurs="0"/>                
    			<xs:element name="ANNUAL_PURCHASE_LIMIT_PERCENTAGE" type="xs:string" minOccurs="0"/>                
    			<xs:element name="DAILY_PURCHASE_LIMIT" type="xs:string" minOccurs="0"/>                
    			<xs:element name="MONTHLY_PURCHASE_LIMIT" type="xs:string" minOccurs="0"/>                
    			<xs:element name="ANNUAL_PURCHASE_LIMIT" type="xs:string" minOccurs="0"/>                
    			<xs:element name="DAILY_WITHDRAWAL_LIMIT_PERCENTAGE" type="xs:string" minOccurs="0"/>                
    			<xs:element name="MONTHLY_WITHDRAWAL_LIMIT_PERCENTAGE" type="xs:string" minOccurs="0"/>                
    			<xs:element name="ANNUAL_RETIREMENT_LIMIT_PERCENTAGE" type="xs:string" minOccurs="0"/>                
    			<xs:element name="DAILY_WITHDRAWAL_LIMIT" type="xs:string" minOccurs="0"/>                
    			<xs:element name="MONTHLY_WITHDRAWAL_LIMIT" type="xs:string" minOccurs="0"/>                
    			<xs:element name="ANNUAL_WITHDRAWAL_LIMIT" type="xs:string" minOccurs="0"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="solicitudTCResponse">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="LCY_ORG" type="xs:decimal" minOccurs="0" />
    			<xs:element name="FCY_ORG" type="xs:decimal" minOccurs="0" />
    			<xs:element name="LOGO" type="xs:decimal" minOccurs="0" />
    			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
    			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
    			<xs:element name="CARD_SEQUENCE" type="xs:decimal" minOccurs="0" />
    			<xs:element name="CHIP_SEQUENCE" type="xs:decimal" minOccurs="0" />
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <!--############################################--> 
    <!--OPERACION: CAMBIO PRODUCTO TC               -->
    <!--############################################-->
    
    <xs:element name="cambioProductoTC">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="LOGO_ID" type="xs:integer"/>
    			<xs:element name="NEW_LOGO_ID" type="xs:integer"/>
    			<xs:element name="ACCOUNT" type="tns:stringMinLength1"/>
    			<xs:element name="CUSTOMER_ID" type="tns:stringMinLength1"/>
    			<xs:element name="PROCEESS_TYPE" type="xs:integer"/>
    			<xs:element name="CREDIT_LIMIT" type="xs:integer"/>
    			<xs:element name="SETTLEMENT_ID" type="tns:stringMinLength1"/>
    			<xs:element name="TRANSACTION_DATE" type="tns:stringMinLength1"/>
    			<xs:element name="CARD_TECHNOLOGY" type="xs:string" minOccurs="0"/>    			
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="cambioProductoTCResponse">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="LOGO_ID" type="xs:integer" minOccurs="0"/>
    			<xs:element name="ACCOUNT" type="xs:string" minOccurs="0"/>
    			<xs:element name="REASON_ACTION" type="xs:string" minOccurs="0"/>
    			<xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0"/>
    			<xs:element name="REASON_REJECTION" type="xs:string" minOccurs="0"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="solicitudPinTC">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="CARD_NUMBER" type="tns:stringMinLength1"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="solicitudPinTCResponse"/>
    
    <xs:element name="gestionTCRoboPerdida">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="CARD_NUMBER" type="tns:stringMinLength1"/>
    			<xs:element name="LOGO" type="tns:stringMinLength1"/>
    			<xs:element name="EFFECTIVE_DATE" type="tns:stringMinLength1"/>
    			<xs:element name="CUSTOMER_ID" type="tns:stringMinLength1"/>
    			<xs:element name="BLOCK_TYPE" type="tns:stringMinLength1"/>
    			<xs:element name="PROCCESS_TYPE" type="tns:stringMinLength1"/>
    			<xs:element name="BLOCK_REASON" type="tns:stringMinLength1"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="gestionTCRoboPerdidaResponse">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
    			<xs:element name="TRANSFER_ACCOUNT" type="xs:string" minOccurs="0"/>
    			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
    			<xs:element name="CURRENT_DATE" type="xs:string" minOccurs="0"/>
    			<xs:element name="BLOCK_TYPE" type="xs:string" minOccurs="0"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="remplazoPlasticoTC">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="CARD_NUMBER" type="tns:stringMinLength1" />
    			<xs:element name="PIN_SUPPRESSION" type="tns:stringMinLength1" />
    			<xs:element name="CHANGE_NAME" type="tns:yesNoType" />
    			<xs:element name="CHANGE_NAME_1" type="xs:string" minOccurs="0"/>
    			<xs:element name="CARD_NAME_1" type="xs:string" minOccurs="0" />
    			<xs:element name="PROCESS_TYPE" type="xs:string" minOccurs="0" />
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
   <xs:element name="remplazoPlasticoTCResponse"/>
    
</xs:schema>