Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaServiciosAfiliados/xsd/ConsultaServiciosAfiliadosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:FicCpa="http://www.ficohsa.com.hn/middleware.services/ConsultaServiciosAfiliadosTypes" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsultaServiciosAfiliadosTypes" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="consultaServiciosAfiliados" type="FicCpa:ConsultaServiciosAfiliadosRequestIM"/>
	<xs:element name="consultaServiciosAfiliadosResponse" type="FicCpa:ConsultaServiciosAfiliadosResponseIM"/>
	<xs:complexType name="ConsultaServiciosAfiliadosRequestIM">
		<xs:sequence>
			<xs:element name="CUSTOMER_INFO" type="FicCpa:CustomerInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerInfoType">
		<xs:sequence>
			<xs:element name="TYPE" type="FicCpa:CustomerTypeEnum"/>
			<xs:element name="VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsultaServiciosAfiliadosResponseIM">
		<xs:sequence>
			<xs:element name="SERVICES"  minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SERVICE" type="FicCpa:ServiceType" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceType">
		<xs:sequence>
			<xs:element name="SITE_ID" type="xs:string"/>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="CONTRACT_ID" type="xs:string"/>
			<xs:element name="DESCRIPTION" type="xs:string"/>
			<xs:element name="CUSTOMER_DESCRIPTION" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CustomerTypeEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="CUSTOMER_ID"/>
			<xs:enumeration value="LEGAL_ID"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>