Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/Resources/ConsultaCalendarioPagoPrestamo/wsdl/consultaCalendarioPagoPrestamoPS.wsdl

<wsdl:definitions name="consultaCalendarioPagoPrestamoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoPS/" xmlns:ccpp="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../../../v2/Resources/esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoTypes" schemaLocation="../xsd/consultaCalendarioPagoPrestamoTypes.xsd"/>
		</xsd:schema>

	</wsdl:types>



	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="consultaCalendarioPagoPrestamoRequest">
		<wsdl:part element="tns:consultaCalendarioPagoPrestamo" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="consultaCalendarioPagoPrestamoResponse">
		<wsdl:part element="tns:consultaCalendarioPagoPrestamoResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="consultaCalendarioPagoPrestamoPS">
		<wsdl:operation name="consultaCalendarioPagoPrestamo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="ccpp:consultaCalendarioPagoPrestamoRequest"/>
			<wsdl:output message="ccpp:consultaCalendarioPagoPrestamoResponse"/>
		</wsdl:operation>
	</wsdl:portType>



	<wsdl:binding name="consultaCalendarioPagoPrestamoPSSOAP" type="ccpp:consultaCalendarioPagoPrestamoPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaCalendarioPagoPrestamo">
			<soap:operation soapAction="http://www.example.org/consultaCalendarioPagoPrestamoPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="ccpp:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="ccpp:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="consultaCalendarioPagoPrestamoPS">
		<wsdl:port binding="ccpp:consultaCalendarioPagoPrestamoPSSOAP" name="consultaCalendarioPagoPrestamoPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/consultaCalendarioPagoPrestamo/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>