Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/SolicitudAperturaCuenta/xsd/solicitudAperturaCuentaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/solicitudAperturaCuentaTypes" xmlns:sol="http://www.ficohsa.com.hn/middleware.services/solicitudAperturaCuentaTypes">

	<xs:simpleType name="processTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BATCH"/>
			<xs:enumeration value="ONLINE"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="operationTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INDISTINCST"/>
			<xs:enumeration value="INDIVIDUAL"/>
			<xs:enumeration value="JOINTLY"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="referredTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OTRO"/>
			<xs:enumeration value="EXTRA"/>
			<xs:enumeration value="REMESA"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="passbookEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NO"/>
			<xs:enumeration value="Y"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="modeOfDepositEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="CHEQUE"/>
			<xs:enumeration value="CREDIT"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="beneficiaryDetailType">
		<xs:sequence>
			<xs:element name="BENEFICIARY_NAME" type="sol:stringMinLength1"/>
			<xs:element name="RELATION" type="xs:decimal"/>
			<xs:element name="DOCUMENT_TYPE" type="sol:stringMinLength1"/>
			<xs:element name="LEGAL_ID" type="sol:stringMinLength1"/>
			<xs:element name="BENEFICIARY_PERCENTAGE" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="accountDetailType">
		<xs:sequence>
			<xs:element name="CUSTOMER_CODE" type="xs:decimal"/>
			<xs:element name="CATEGORY" type="xs:decimal"/>
			<xs:element name="CURRENCY" type="sol:stringMinLength1"/>
			<xs:element name="OPERATION_TYPE" type="sol:operationTypeEnum" minOccurs="0"/>
			<xs:element name="REFERRED_TYPE" type="sol:referredTypeEnum"/>
			<xs:element name="PASSBOOK" type="sol:passbookEnum"/>
			<xs:element name="PASSBOOK_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYROLL_GROUP" type="xs:decimal" minOccurs="0"/>
			<xs:element name="INITIAL_DEPOSIT" type="xs:decimal"/>
			<xs:element name="MODE_OF_DEPOSIT" type="sol:modeOfDepositEnum" minOccurs="0"/>
			<xs:element name="PURPOSE" type="sol:stringMinLength1"/>
			<xs:element name="ORIGEN_OF_FUNDS" type="sol:stringMinLength1"/>
			<xs:element name="MONTHLY_TXN_VOLUME" type="xs:decimal"/>
			<xs:element name="ADDRESS_TYPE">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BENEFICIARY_DETAILS">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BENEFICIARY_DETAIL" type="sol:beneficiaryDetailType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SIGNATORY_DETAILS">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="REGISTERED_SIGNATORY" type="xs:decimal"/>
						<xs:element name="REQUIRED_SIGNATORY" type="xs:decimal"/>
						<xs:element name="SIGNATORY_DESCRIPTION" type="sol:stringMinLength1"/>
						<xs:element name="AUTH_SIGNATORY_DETAIL" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SIGNATORY_ID" type="xs:decimal"/>
									<xs:element name="SIGNATORY_TYPE" type="xs:string"/>
									<xs:element name="JOINT_HOLDER_DETAIL" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="HOLDER_ID" type="xs:decimal"/>
												<xs:element name="HOLDER_RELATION" type="xs:decimal"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="solicitudAperturaCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROCESS_TYPE" type="sol:processTypeEnum"/>
				<xs:element name="INTERFACE_USER" type="sol:stringMinLength1"/>
				<xs:element name="BRANCH_CODE" type="sol:stringMinLength1"/>
				<xs:element name="ACCOUNT_DETAILS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ACCOUNT_DETAIL" type="sol:accountDetailType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="solicitudAperturaCuentaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>