Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/GestionAccesosUsuarios/xsd/gestionAccesosUsuariosTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionAccesosUsuariosTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionAccesosUsuariosTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/kvpType">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/kvpType" schemaLocation="../../esquemas_generales/KeyValuePair.xsd"/>

	<!--############################################ -->
	<!-- OPERATION: consultaAccesoUsuario -->
	<!--############################################ -->

	<xs:complexType name="consultaAccesoUsuarioType">
		<xs:sequence>
			<xs:element name="APPLICATION_USER" type="xs:string"/>
			<xs:element name="BANKING_APPLICATION" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaAccesoUsuario">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="consultaAccesoUsuario" type="tns:consultaAccesoUsuarioType" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaAccesoUsuarioResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="APPLICATION_USER" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--############################################ -->
	<!-- OPERATION: creaAccesoUsuario -->
	<!--############################################ -->

	<xs:complexType name="MODULEType">
		<xs:sequence>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="MODULE_ID" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROLEType">
		<xs:sequence>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="MODULE_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="ROLE_ID" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MODULESType">
		<xs:sequence>
			<xs:element name="MODULE" type="tns:MODULEType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROLESType">
		<xs:sequence>
			<xs:element name="ROLE" type="tns:ROLEType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="creaAccesoUsuarioType">
		<xs:sequence>
			<xs:element name="LEGAL_ID" type="xs:string"/>
			<xs:element name="FIRST_NAME" type="xs:string"/>
			<xs:element name="SECOND_NAME" type="xs:string"/>
			<xs:element name="FIRST_LASTNAME" type="xs:string"/>
			<xs:element name="SECOND_LASTNAME" type="xs:string"/>
			<xs:element name="APPLICATION_USER" type="xs:string"/>
			<xs:element name="EMPLOYEE_CODE" type="xs:string"/>
			<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
			<xs:element name="JOB_TITLE" type="xs:string" minOccurs="0"/>
			<xs:element name="POSITION_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="DEPARTMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="BANKING_APPLICATION" type="xs:string"/>
			<xs:element name="ADDITIONAL_DATA" type="kvp:UnboundKvPair" minOccurs="0"/>
			<xs:element name="MODULES" type="tns:MODULESType" minOccurs="0"/>
			<xs:element name="ROLES" type="tns:ROLESType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="creaAccesoUsuario">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="creaAccesoUsuario" type="tns:creaAccesoUsuarioType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="creaAccesoUsuarioResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="APPLICATION_USER" type="xs:string" minOccurs="0"/>
				<xs:element name="EMPLOYEE_CODE_INT" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--############################################ -->
	<!-- OPERATION: modificaAccesoUsuario -->
	<!--############################################ -->

	<xs:complexType name="modificaAccesoUsuarioType">
		<xs:sequence>
			<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="FIRST_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="SECOND_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="FIRST_LASTNAME" type="xs:string" minOccurs="0"/>
			<xs:element name="SECOND_LASTNAME" type="xs:string" minOccurs="0"/>
			<xs:element name="APPLICATION_USER" type="xs:string"/>
			<xs:element name="EMPLOYEE_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
			<xs:element name="JOB_TITLE" type="xs:string" minOccurs="0"/>
			<xs:element name="POSITION_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="DEPARTMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="BANKING_APPLICATION" type="xs:string"/>
			<xs:element name="ADDITIONAL_DATA" type="kvp:UnboundKvPair" minOccurs="0"/>
			<xs:element name="MODULES" type="tns:MODULESType" minOccurs="0"/>
			<xs:element name="ROLES" type="tns:ROLESType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="modificaAccesoUsuario">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="modificaAccesoUsuario" type="tns:modificaAccesoUsuarioType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="modificaAccesoUsuarioResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="APPLICATION_USER" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--############################################ -->
	<!-- OPERATION: cambiaEstadoAccesoUsuario -->
	<!--############################################ -->

	<xs:complexType name="cambiaEstadoAccesoUsuarioType">
		<xs:sequence>
			<xs:element name="APPLICATION_USER" type="xs:string"/>
			<xs:element name="STATUS" type="xs:string"/>
			<xs:element name="REASON" type="xs:string" minOccurs="0"/>
			<xs:element name="BANKING_APPLICATION" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="cambiaEstadoAccesoUsuario">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cambiaEstadoAccesoUsuario" type="tns:cambiaEstadoAccesoUsuarioType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cambiaEstadoAccesoUsuarioResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="APPLICATION_USER" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>