Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/CashOpenToBuyInquiry/xsd/cashOpenToBuyInquiryTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/cashOpenToBuyInquiryTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/cashOpenToBuyInquiryTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--############################################ -->
	<!-- OPERATION: cashOpenToBuyInquiry -->
	<!--############################################ -->
	<xs:element name="cashOpenToBuyInquiry">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CountryCode" type="xs:string" />
				<xs:element name="OrgNumber" type="xs:int" />
				<xs:element default=" " name="ForeignUse">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value=" " />
							<xs:enumeration value="0" />
							<xs:enumeration value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AccountNumber" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cashOpenToBuyInquiryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OpenToBuy" type="xs:int" />
				<xs:element name="ResponseMessage" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>