Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/eliminarFacturaCobranza/eliminarFacturaCobranzaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/eliminarFacturaCobranzaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/eliminarFacturaCobranzaTypes">
	
	
		<xs:element name="eliminarFacturaCobranza">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="COLLECTION_ID" type="xs:string"/>
	            <xs:element name="BILL_NUMBER" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="eliminarFacturaCobranzaResponse"/>
	
</xs:schema>