Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingGT/RequestorServices/v1.0/GetCustomerLists/WSDL/GetListsPetitionStatus_PS.wsdl

<wsdl:definitions name="GetCustomerAssets_PS" targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" xmlns:tns="http://xmlns.oracle.com/GetCustomerAssets_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/consultaClientes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/consultaPasivosCliente" xmlns:inp3="http://www.ficohsa.com.hn/middleware.services/consultaTDCliente" xmlns:inp4="http://www.ficohsa.com.hn/middleware.services/customerTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.ficohsa.com.hn/middleware.services/consultaClienteOpi" xmlns:inp5="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsRENAP" xmlns:inp6="http://www.ficohsa.com.hn/middleware.services/customerLists">
    <plnk:partnerLinkType name="GetCustomerAssets_PS">
        <plnk:role name="GetCustomerAssets_PSProvider" portType="tns:GetCustomerAssets_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaClientes" schemaLocation="../../../../../MWBanking/Customers/RequestorServices/XSD/getCustomerAssets.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getCustomerAssets_params">
                <complexType>
                    <sequence>
                        <element name="customerId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="AssetType" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaPasivosCliente" schemaLocation="../../../../../MWBanking/Customers/RequestorServices/XSD/getCustomerLiabilities.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getCustomerLiabilities_params">
                <complexType>
                    <sequence>
                        <element name="customerid" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="LiabilityType" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaTDCliente" schemaLocation="../../../../../MWBanking/Customers/RequestorServices/XSD/getCustomerDebitCards.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getDebitCards_params">
                <complexType>
                    <sequence>
                        <element name="customerid" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="CardStatus" type="string"/>
                        <element name="AccountNumber" type="string" minOccurs="0"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypes" schemaLocation="../../../../../MWBanking/Customers/RequestorServices/XSD/customersTypes.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getCustomerDetails_params">
                <complexType>
                    <sequence>
                        <element name="customerId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="QueryType" type="string"/>
                        <element name="SystemType" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaClienteOpi" schemaLocation="../../../../../MWBanking/Customers/RequestorServices/XSD/getCustomerOpi.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getCustomerOpi_params">
                <complexType>
                    <sequence>
                        <element name="LegalId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="QueryType" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsRENAP" schemaLocation="../../../../../MWBanking/Customers/RequestorServices/XSD/getCustomerDetailsRENAP.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getCustomerDetailsRENAP_params">
                <complexType>
                    <sequence>
                        <element name="customerId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="QueryType" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerLists" schemaLocation="../../../../../MWBanking/Customers/RequestorServices/XSD/customersLists.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getListsPetitionStatus_inputMessage">
        <wsdl:part name="request" element="inp6:getListsPetitionStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="getListsPetitionStatus_outputMessage">
        <wsdl:part name="reply" element="inp6:getListsPetitionStatusResponse"/>
    </wsdl:message>
    <wsdl:portType name="GetCustomerAssets_PS_ptt">
        <wsdl:operation name="getListsPetitionStatus">
            <wsdl:input message="tns:getListsPetitionStatus_inputMessage"/>
            <wsdl:output message="tns:getListsPetitionStatus_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetCustomerAssets_PS_ptt-binding" type="tns:GetCustomerAssets_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getListsPetitionStatus">
            <soap:operation soapAction="getListsPetitionStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>