Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OIC/uniqueEmail/xsd/XMLSchema_1636307889.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://xmlns.oracle.com/uniquemail/uniquemail/BPELuniquemail"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/uniquemail/uniquemail/BPELuniquemail">
	<element name="uniquemailRequest">
		<complexType>
			<sequence>
				<element name="GeneralData" type="tns:generalDataType" />
			</sequence>
		</complexType>
	</element>
	<complexType name="generalDataType">
		<sequence>
			<element name="FromName" type="string" />
			<element name="From" type="string" />
			<element name="To" type="tns:toType" />
			<element name="Cc" type="tns:ccType" />
			<element name="Bcc" type="tns:bccType" />
			<element name="Message" type="tns:messageType" />
			<element name="Options" type="tns:optionsType" />
		</sequence>
	</complexType>
	<complexType name="toType">
		<sequence>
			<element name="email" maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="ccType">
		<sequence>
			<element name="email" maxOccurs="unbounded" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="bccType">
		<sequence>
			<element name="email" maxOccurs="unbounded" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="messageType">
		<sequence>
			<element name="Subject" type="string" />
			<element name="Classification" type="string" />
			<element name="BaseOn" type="tns:baseOnType" />
			<element name="Body" type="tns:bodyType" />
			<element name="Attachment" type="tns:attachmentType"
				maxOccurs="unbounded" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="baseOnType">
		<sequence>
			<element name="Id" type="string" />
			<element name="Type" type="string" />
		</sequence>
	</complexType>
	<complexType name="bodyType">
		<sequence>
			<element name="Format" type="string" />
			<element name="Value" type="string" />
			<element name="Variables" type="tns:variablesType" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="variablesType">
		<sequence>
			<element name="Name" type="string" />
			<element name="Value" type="string" />
		</sequence>
	</complexType>
	<complexType name="attachmentType">
		<sequence>
			<element name="FileName" type="string" />
			<element name="Encode" type="string" />
			<element name="Size" type="string" />
			<element name="Value" type="string" />
		</sequence>
	</complexType>
	<complexType name="optionsType">
		<sequence>
			<element name="OpenTracking" type="string" />
			<element name="ClickTracking" type="string" />
			<element name="TextHtmlTracking" type="string" />
			<element name="AutoTextBody" type="string" />
			<element name="Personalization" type="string" />
		</sequence>
	</complexType>
	<element name="uniquemailResponse">
		<complexType>
			<sequence>
				<element name="Data" type="tns:dataType" />
				<element name="Service" type="string" />
				<element name="Version" type="string" />
				<element name="TransactionId" type="string" />
				<element name="Status" type="tns:statusType" />
			</sequence>
		</complexType>
	</element>
	<complexType name="dataType">
		<sequence>
			<element name="Mails" type="tns:mailsType" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="mailsType">
		<sequence>
			<element name="Id" type="string" />
		</sequence>
	</complexType>
	<complexType name="statusType">
		<sequence>
			<element name="Code" type="string" />
			<element name="Value" type="string" />
		</sequence>
	</complexType>
</schema>