Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/CreaCobranzaAutomatica/xsd/creaCobranzaAutomaticaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/creaCobranzaAutomaticaTypes" xmlns:sol="http://www.ficohsa.com.hn/middleware.services/creaCobranzaAutomaticaTypes">

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="creaCobranzaAutomatica">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="sol:stringMinLength1"/>
				<xs:element name="COLLECTION_CONTRACT" type="sol:stringMinLength1"/>
				<xs:element name="USER_ID" type="sol:stringMinLength1"/>
				<xs:element name="BRANCH_CODE" type="sol:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="creaCobranzaAutomaticaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>