Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/detalleMovimientosT24/consultarReciboPagoPtmo/xsd/consultarReciboPagoPtmo_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarReciboPagoPtmo" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarReciboPagoPtmo" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="LOAN_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TRANSACTION_REFERENCE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="LABELS" type="db:ORA_BANK.TOPLEVEL_TVARCHAR40007" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="VALUESS" type="db:ORA_BANK.TOPLEVEL_TVARCHAR40007" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR40007">
      <sequence>
         <element name="LABELS_ITEM" type="db:string4000" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string4000">
      <restriction base="string">
         <maxLength value="4000"/>
      </restriction>
   </simpleType>
</schema>