Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/PMSV/consultaEstadoLote/xsd/consultarEstadoLote_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarEstadoLote" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarEstadoLote" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOCLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_NUMEROLOTE" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PD_FECINGRESO" type="dateTime" db:index="3" db:type="DATE" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOCLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_NUMEROLOTE" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRECLIENTE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_ESTADOLOTE" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_DESCESTADOLOTE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_OPTIMISTA" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PT_CUENTADB" type="db:TVARCHAR30" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONTO" type="db:T_MONTO" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONEDA" type="db:TVARCHAR3" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONEDAPAGOS" type="db:TVARCHAR3" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONTOPAGOS" type="db:T_MONTO" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TASAPAGOS" type="db:T_TASA_INTERES" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_MONTOTOTAL" type="decimal" db:index="14" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_MONTOERROR" type="decimal" db:index="15" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_NROTRANS" type="decimal" db:index="16" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_NROTRANSEXITO" type="decimal" db:index="17" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_NROTRANSERROR" type="decimal" db:index="18" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PD_FECAPLICACION" type="dateTime" db:index="19" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PV_INFORMACIONPROCESO" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TVARCHAR3">
      <sequence>
         <element name="ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_MONTO">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_TASA_INTERES">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR30">
      <sequence>
         <element name="ITEM" type="db:string30" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
</schema>