Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ConsultaAfiliacionCAP/xsd/consultaAfiliacionCAP_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaAfiliacionCAP" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaAfiliacionCAP" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_PAIS" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CUENTA_AP" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PN_ID_CAP" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_ID_CLIENTE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ORIGEN_FONDOS" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CUENTA_DESTINO" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_ORIGEN_FONDOS" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MONTO" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_AFILIACION" type="dateTime" db:index="10" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PN_TIEMPO_AFILIACION" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_FRECUENCIA_DEBITO" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_RENOVACION_AUTOMATICA" type="decimal" db:index="13" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_PRIMER_CREDITO" type="dateTime" db:index="14" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PN_NOTIFICACION_CORREO" type="decimal" db:index="15" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADO" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CANAL_CREACION" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_OFICIAL_CREACION" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_OFICIAL_AUTORIZADOR" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_OFICIAL_MODIFICACION" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_OFICIAL_AUTORIZADOR_MODIFICADOR" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_AGENCIA" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_CAMBIO" type="dateTime" db:index="23" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PN_TRX_PENDIENTES" type="decimal" db:index="24" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_TRX_FALLIDOS" type="decimal" db:index="25" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_TRX_EXITOSOS" type="decimal" db:index="26" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ERROR" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>