Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/BulkProvisionStatusJob/xsd/bulkProvisionStatusJobTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/bulkProvisionStatusJobTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/bulkProvisionStatusJobTypes">

	<!--############################################ -->
	<!--SIMPLE_TYPE -->
	<!--############################################ -->

		<xs:simpleType name="stringMaxLength32">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringMaxLength36">
		<xs:restriction base="xs:string">
			<xs:maxLength value="36" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringMaxLength64">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>



	<!--############################################ -->
	<!--COMPLEX_TYPE -->
	<!--############################################ -->


	
	<xs:complexType name="PROVISIONED_CARD_ID_LIST_TYPE">
		<xs:sequence>
			<xs:element name="CARD_ID" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CARD_DETAILS_TYPE">
		<xs:sequence>
			<xs:element name="CARD_ID" type="xs:string" minOccurs="0" />
			<xs:element name="ERROR_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="ERROR_DESCRIPTION" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ERROR_CARD_ID_LIST_TYPE">
		<xs:sequence>
			<xs:element name="CARD_DETAILS" type="tns:CARD_DETAILS_TYPE" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>


	<!--############################################ -->
	<!--OPERACION: BulkProvisionStatusJob-->
	<!--############################################ -->

	<xs:element name="BulkProvisionStatusJob">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="tns:stringMaxLength32" minOccurs="1" />
				<xs:element name="INSTITUTION_CODE" type="tns:stringMaxLength32" minOccurs="1" />
				<xs:element name="BULK_PUSH_RECEIPT_ID" type="tns:stringMaxLength36" minOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="BulkProvisionStatusJobResponse" >
		<xs:complexType>
				<xs:sequence>
					<xs:element name="REQUEST_ID" type="xs:string" minOccurs="1" />
					<xs:element name="BULK_JOB_STATUS" type="xs:string"  minOccurs="1"/>
					<xs:element name="STARTED_AT" type="xs:string" minOccurs="1" />
					<xs:element name="FINISHED_AT" type="tns:stringMaxLength64" minOccurs="1" />
					<xs:element name="PROVISIONED_CARD_ID_LIST" type="tns:PROVISIONED_CARD_ID_LIST_TYPE" minOccurs="0" />
					<xs:element name="ERROR_CARD_ID_LIST" type="tns:ERROR_CARD_ID_LIST_TYPE" />
				</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>