Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/consultaSituacionFinanciera/xsd/consultaSituacionFinanciera_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaSituacionFinanciera" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaSituacionFinanciera" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_BANCO_ORIGEN" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_NUMERO_IDENTIFICACION" type="db:WL_OSB.TVARCHAR20" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_BANCO_REGION_OUT" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_PRODUCTO_CLI" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_PRODUCTO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGO_MONEDA" type="db:WL_OSB.TVARCHAR3" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SALDO_TOTAL" type="db:WL_OSB.T_MONTO" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ERROR" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCION_ERROR" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="WL_OSB.T_MONTO">
      <sequence>
         <element name="PT_SALDO_TOTAL_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="WL_OSB.TVARCHAR20">
      <sequence>
         <element name="PT_NUMERO_IDENTIFICACION_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="WL_OSB.TVARCHAR3">
      <sequence>
         <element name="PT_CODIGO_MONEDA_ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
</schema>