Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ValidacionTarjetaCredito/xsd/validacionTarjetaCreditoType.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/validacionTarjetaCreditoType"
	xmlns:trans="http://www.ficohsa.com.hn/middleware.services/validacionTarjetaCreditoType">


	<xs:complexType name="validacionTarjetaCredito">
		<xs:sequence>		
			<xs:element name="CREDIT_CARD_NUMBER" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
		</xs:sequence>				
	</xs:complexType>
	<xs:complexType name="validacionTarjetaCreditoResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CREDIT_CARD_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>					
	    	<xs:element name="CUSTOMER_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    	<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>	    	
	    	<xs:element name="CREDIT_CARD_INFORMATION" minOccurs="0" maxOccurs="unbounded">	    							
	    		<xs:complexType>
					<xs:sequence>
						<xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="COD_BLOCK" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="ORG" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="ORG_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="KV_PAIRS" type="trans:KVPairType" minOccurs="0" maxOccurs="1"/>						
					</xs:sequence>
				</xs:complexType>
		    </xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="KVPairType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="PAIR" type="trans:PairType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PairType">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string"/>
			<xs:element name="VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="validacionTarjetaCredito" type="trans:validacionTarjetaCredito" />

	<xs:element name="validacionTarjetaCreditoResponse" type="trans:validacionTarjetaCreditoResponse" />

</xs:schema>