Fuentes/ficohsacore-gtcard-16dd1ac59182/SBGT_Card/SBGT_Card_Commons/Schemas/CardCommonTypesv2.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="https://www.ficohsa.com/regional/common/cardCommonType"
            targetNamespace="https://www.ficohsa.com/regional/common/cardCommonType" >


 <!-- Entrega 6 -->
 
   <xsd:complexType name="CardCurrencyInfoType">
        <xsd:sequence>
            <xsd:element name="OrgInd" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Org" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AnualPurchaseLimit" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AnualWithdrawalLimit" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="MonthlyPurchaseLimit" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="MonthlyWithdrawalLimit" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="DailyPurchaseLimit" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="DailyWithdrawalLimit" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="CardActivationDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="CardStatus" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CardExpirationDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="EmbossedNumber" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BlockCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BlockReason" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BlockDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Product" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PinIndicator" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CurrentPlasticAction" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LastActionPlastic" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DateLastIssuancePlastic" type="xsd:date" minOccurs="0"/>
            <xsd:element name="PrivilegeCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PriorityPass" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LimitIndicatorExpenses" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PercentageLimitDailyPurchase" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="PercentageMonthlyPurchaseLimit" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AnnualPurchaseLimitPercentage" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="DailyWithdrawalLimitPercentage" type="xsd:string" minOccurs="0"/>
            <xsd:element name="MonthlyWithdrawalLimitPercentage" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AnnualRetirementLimitPercentage" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NumWithdrawalsAppliedToday" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="NumWithdrawalsAppliedMonthToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="NumWithdrawalsAppliedYearToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AmountInWithdrawalsAppliedToday" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AmountWithdrawalsAppliedMonthToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AmountWithdrawalsAppliedYearToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="NumDeclinedRetirementsToday" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="NumDeclinedRetirementsMonthToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="NumDeclinedRetirementsYearToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AmountDeclinedRetirementsToday" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AmountDeclinedWithdrawalsMonthToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AmountDeclinedRetirementsYearToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="NumPurchasesAppliedToday" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="NumPurchasesAppliedMonthToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="NumPurchasesAppliedYearToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AmountAppliedPurchasesToday" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AmountAppliedPurchasesMonthToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AmountAppliedPurchasesYearToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="NumPurchasesDeclinedToday" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="NumPurchasesDeclinedMonthToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="NumPurchasesDeclinedYearToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AmountPurchasesDeclinedToday" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AmountPurchasesDeclinedMonthToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AmountPurchasesDeclinedYearToDate" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="CreditCardStatus" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
  

</xsd:schema>