Fuentes/ficohsacore-gtcard-16dd1ac59182/SBGT_Card/SBGT_Card_Commons/Schemas/CardInquiryTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/card" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:act="https://www.ficohsa.com/regional/common/cardCommonType" xmlns:acc="https://www.ficohsa.com/regional/card" xmlns:ctp="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:import schemaLocation="CardCommonTypes.xsd" id="CardCommonTypes" namespace="https://www.ficohsa.com/regional/common/cardCommonType"/>
  <xsd:element name="getCreditCardTransactions">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType"/>
        <xsd:element name="CardNumber" minOccurs="1" type="ctp:string1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCreditCardTransactionsResponse">
  <xsd:complexType>
      <xsd:sequence>
      <xsd:element name="StatusInfo" type="ctp:StatusInfoType"/>
      <xsd:element name="ErrorInfo" minOccurs="0" type="ctp:ErrorInfoType"/>
      <xsd:element name="OwnerName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CardNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CreditLimit" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CreditLimitCcy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PreviousBalanceLcy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PreviousBalanceFcy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AditionalCreditCards" minOccurs="0" type="act:AdditionalCreditCardTransactionsListInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:element name="getCreditCardStatement">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType"/>
        <xsd:element name="CardNumber" minOccurs="1" type="ctp:string1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCreditCardStatementResponse">
  <xsd:complexType>
      <xsd:sequence>
      <xsd:element name="StatusInfo" type="ctp:StatusInfoType"/>
      <xsd:element name="ErrorInfo" type="ctp:ErrorInfoType" minOccurs="0"/>
      <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MainCardNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CutoffDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PaymentLimitDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CreditLimit" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CreditLimitCcy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PointsAvailable" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LcyPreviousBalance" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LcyPeriodBalance" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LcyTotalPayment" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LcyMinPayment" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FcyPreviousBalance" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FcyPeriodBalance" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FcyTotalPayment" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FcyMinPayment" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AdditionalCreditCardStatementDetails" minOccurs="0" type="act:AdditionalCreditCardStatementDetailsInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getHistoricalCreditCardStatement">
  <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType"/>
        <xsd:element name="DepositNumber" minOccurs="1" type="ctp:string1"/>					
        <xsd:element name="Month" minOccurs="0" type="xsd:string"/>					
        <xsd:element name="Year" minOccurs="0" type="xsd:string"/>					
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getHistoricalCreditCardStatementReponse">
  <xsd:complexType>
      <xsd:sequence>
      <xsd:element name="StatusInfo" type="ctp:StatusInfoType"/>
      <xsd:element name="ErrorInfo" minOccurs="0" type="ctp:ErrorInfoType"/>			
      <xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MainCardNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CutOffDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PaymentLimitDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CreditLimit" type="xsd:decimal"/>
      <xsd:element name="CreditLimitCCY" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PointsAvailable" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="LCYPreviousBalance" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="LCYPeriodBalance" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="LCYTotalPayment" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="LCYMinPayment" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="FCYPreviousBalance" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="FCYPeriodBalance" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="FCYTotalPayment" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="FCYMinPayment" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="AditionalCreditCards" maxOccurs="unbounded" minOccurs="0" type="act:AditionalCreditCardsInfoType"/>				
      <xsd:element name="BeginningBalance" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="DebitQuantity" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="DebitAmount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="CreditQuantity" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="CreditAmount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="EndingBalance" type="xsd:decimal" minOccurs="0"/>
       </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
    
   
  
  
  
  
  <!-- Entrega 5 -->
  <!-- Definición del elemento getLockedFundsDetails -->
  <xsd:element name="getLockedFundsDetails">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType"/>
        <xsd:element name="AccountNumber" type="xsd:string"/>
        <!-- Define aquí los elementos opcionales -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
   <xsd:element name="getLockedFundsDetailsReponse">
    <xsd:complexType>
      <xsd:sequence>
      <xsd:element name="StatusInfo" type="ctp:StatusInfoType"/>
      <xsd:element name="ErrorInfo" minOccurs="0" type="ctp:ErrorInfoType"/>	
        <xsd:element name="AccountName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="TotalLockedAmount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="GetLockedFundsDetails" type="act:GetLockedFundsDetailsType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  
  
  <!-- Definición del elemento getLockedFundsDebitCard -->
  <xsd:element name="getLockedFundsDebitCard">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType"/>  
        <xsd:element name="AccountNumber" minOccurs="1" type="ctp:string1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- Definición del elemento getLockedFundsDebitCardResponse -->
  <xsd:element name="getLockedFundsDebitCardResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="ctp:StatusInfoType" minOccurs="1"/>
          <xsd:element name="ErrorInfo" type="ctp:ErrorInfoType" minOccurs="0"/>
        <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AccountName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="TotalVisaLockedAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="BlocksDetails" type="act:BlocksDetails"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  
  
   <!-- Entrega 6 -->
  
  
   <xsd:element name="getFloatingCreditCardTransactions">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType"/>
        <xsd:element name="CardNumber" minOccurs="1" type="ctp:string1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="getFloatingCreditCardTransactionsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatusInfo" type="ctp:StatusInfoType" minOccurs="1"/>
                <xsd:element name="ErrorInfo" type="ctp:ErrorInfoType" minOccurs="0"/>
                <xsd:element name="OwnerName" type="xsd:string" minOccurs="0"/> 
                <xsd:element name="PrincipalCardNumber" type="xsd:string" minOccurs="0"/>
                <xsd:element name="TotalLcyAmount" type="xsd:decimal" minOccurs="0"/>
                <xsd:element name="TotalUsdAmount" type="xsd:decimal" minOccurs="0"/>
                <xsd:element name="CardsDetails" type="act:CardDetails" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType> 
    </xsd:element>
  
  
  
  
  
  <!-- Entrega 7 -->
  
  <xsd:element name="getCreditCardDetails">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType"/>
        <xsd:element name="CardNumber" type="ctp:string1" minOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  
  
  <xsd:element name="getCreditCardDetailsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="ctp:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="ctp:ErrorInfoType"/>
        <xsd:element name="CardNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AccountHolderName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardHolderName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardType" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CustomerId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardHolderLegalId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AccountHolderLegalId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Product" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AfinityGroup" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AccountStatus" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardStatus" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardExpirationDate" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>


 <xsd:element name="getDebitCardsByCustomer">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType"/>
        <xsd:element name="CustomerId" type="ctp:string1" minOccurs="1"/>
        <xsd:element name="CardStatus" type="act:CardStatusType" minOccurs="1"/>
        <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

 <xsd:element name="getDebitCardsByCustomerResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="ctp:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="ctp:ErrorInfoType"/>
        <xsd:element name="CustomerId" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="DebitCardCustomerRecords" type="act:DebitCardCustomerRecordsType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  
   <xsd:element name="getIntraExtraInstallment">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType"/>
        <xsd:element name="SearchValue" type="ctp:string1" minOccurs="1"/>
        <xsd:element name="SearchCriteria" type="ctp:string1" minOccurs="1"/>
        <xsd:element name="Logo" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  
   <xsd:element name="getIntraExtraInstallmentResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="ctp:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="ctp:ErrorInfoType"/>
        <xsd:element name="ProductInfo" type="act:ProductInfoType" maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  
  
  
</xsd:schema>