Fuentes/ficohsacore-osb-7e5cceccb837/MWHostToHost/v1/Resources/ConsultaPaisesH2H/xsd/consultaPaisesH2HTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaPaisesH2HTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaPaisesH2HTypes">
	
	<xs:complexType name = "consultaPaisesResponseArrayType">
		<xs:sequence>
			            <xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0" />
						<xs:element name="COUNTRY_NAME" type="xs:string" minOccurs="0" />
						</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaPaisesResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaPaisesResponseRecordType" type="cons:consultaPaisesResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaPaisesResponseType">
		<xs:sequence>
			<xs:element name="consultaPaisesResponseType" type="cons:consultaPaisesResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaPaisesH2HRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="CUSTOMER_ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaPaisesH2HResponse" type="cons:consultaPaisesResponseType"/>
	
</xs:schema>