Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaDetalleServicio/xsd/ConsultaDetalleServicioTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:FicCpa="http://www.ficohsa.com.hn/middleware.services/ConsultaDetalleServicioTypes" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsultaDetalleServicioTypes" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="consultaDetalleServicio" type="FicCpa:ConsultaDetalleServicioRequestIM"/>
	<xs:element name="consultaDetalleServicioResponse" type="FicCpa:ConsultaDetalleServicioResponseIM"/>
	<xs:complexType name="ConsultaDetalleServicioRequestIM">
		<xs:sequence>
			<xs:element name="SERVICE_ID" type="xs:string"/>
			<xs:element name="CHANNEL" type="FicCpa:ChannelTypeEnum"/>
			<xs:element name="TYPE" type="FicCpa:TypeTypeEnum"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsultaDetalleServicioResponseIM">
		<xs:sequence>
			<xs:element name="SERVICE_INFO" type="FicCpa:ServiceInfoType"  minOccurs="0"/>
			<xs:element name="SERVICE_DETAILS" type="FicCpa:ServiceDetailsType"  minOccurs="0"/>
			<xs:element name="INFO_ADITIONAL_SERVICE" type="FicCpa:InfoAditionalServiceType"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceInfoType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="CONTRACT_ID" type="xs:string"/>
			<xs:element name="TYPE" type="xs:string"/>
			<xs:element name="IS_DATA_CONFIG" type="xs:string"/>
			<xs:element name="DESCRIPTION" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceDetailsType">
		<xs:sequence>
			<xs:element name="SERVICE_FIELDS" type="FicCpa:ServiceFieldsType" minOccurs="0"/>
			<xs:element name="SERVICE_DATA_INPUT_CONFIG" type="FicCpa:ServiceDataInputConfigType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceFieldsType">
		<xs:sequence>
			<xs:element name="SERVICE_FIELD" type="FicCpa:ServiceFieldType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
		<xs:complexType name="ServiceDataInputConfigType">
		<xs:sequence>
			<xs:element name="SERVICE_DATA" type="FicCpa:ServiceDataInputConfigFieldType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceFieldType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string"/>
			<xs:element name="DESCRIPTION" type="xs:string"/>
			<xs:element name="ENABLE_CATALOG" type="xs:string"/>
			<xs:element name="CATALOG_ITEMS" type="FicCpa:CatalogItemsType"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceDataInputConfigFieldType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="0"/>
			<xs:element name="ENABLE_CATALOG" type="xs:string"/>
			<xs:element name="CATALOG_ITEMS" type="FicCpa:CatalogItemsType"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CatalogItemsType">
		<xs:sequence>
			<xs:element name="ITEMS" type="FicCpa:ItemsType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemsType">
		<xs:sequence>
			<xs:element name="DESCRIPTION" type="xs:string"  minOccurs="0"/>
			<xs:element name="VALUE" type="xs:string"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InfoAditionalServiceType">
		<xs:sequence>
			<xs:element name="AVALIABLE_PRODUCTS_PAYMENT" type="FicCpa:AvailableProductsPaymentType"/>
			<xs:element name="ALLOW_PARTIAL_PAYMENT" type="xs:string"/>
			<xs:element name="ENABLE_CROSSING_CURRENCY" type="xs:string"/>
			<xs:element name="AVALIABLE_CURRENCY" type="FicCpa:AvailableCurrencyType"  minOccurs="0"/>
			<xs:element name="TIME_RESTRICTION" type="FicCpa:TimeRestrictionType"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AvailableProductsPaymentType">
		<xs:sequence>
			<xs:element name="AVALIABLE_PRODUCT" type="FicCpa:AvailableProductType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AvailableProductType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:string"  minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AvailableCurrencyType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="FicCpa:CurrencyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurrencyType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:string"  minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimeRestrictionType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"  minOccurs="0"/>
			<xs:element name="NAME" type="xs:string"  minOccurs="0"/>
			<xs:element name="HOURS_DURATION" type="xs:string"  minOccurs="0"/>
			<xs:element name="FREQUENCY" type="FicCpa:FrecuencyType"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FrecuencyType">
		<xs:sequence>
			<xs:element name="HOURS" type="xs:string"  minOccurs="0"/>
			<xs:element name="WEEKLY" type="FicCpa:WeeklyType"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WeeklyType">
		<xs:sequence>
			<xs:element name="DAYS" type="FicCpa:DaysType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DaysType">
		<xs:sequence>
			<xs:element name="DAY" type="xs:string"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ChannelTypeEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="ICB"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeTypeEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="AGREEMENT"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>