Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FPC/getValidProductCustomer12c/xsd/GetValidProductCustomer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/validaProductoClienteTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cpob="http://www.ficohsa.com.hn/middleware.services/validaProductoClienteTypes">
    
    <!-- StringType min1-->
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
    
    <xs:simpleType name="productType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AHO"/>
            <xs:enumeration value="CHQ"/>
            <xs:enumeration value="DEP"/>
            <xs:enumeration value="FPC"/>
            <xs:enumeration value="PTM"/>
            <xs:enumeration value="TRC"/>
            <xs:enumeration value="CTR"/>
        </xs:restriction>
    </xs:simpleType>
    
  <xs:element name="validaProductoCliente">  
    <xs:complexType>
        <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="cpob:stringMinLength1"/>
            <xs:element name="PRODUCT_NUMBER" type="cpob:stringMinLength1"/>
            <xs:element name="PRODUCT_TYPE" type="cpob:productType"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="validaProductoClienteResponse">   
    <xs:complexType>
        <xs:sequence>
            <xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="0"/>
            <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="OPENING_DATE" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>        
            
</xs:schema>