Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/Mastercard/RedemptionService/wsdl/RedemptionService.wsdl

<wsdl:definitions targetNamespace="http://redemption.ws.mcrewards.mastercard.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://redemption.ws.mcrewards.mastercard.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:common="http://common.ws.mcrewards.mastercard.com/">
  <wsdl:import location="../../Common/wsdl/MrsCommon.wsdl" namespace="http://common.ws.mcrewards.mastercard.com/">
    </wsdl:import>
  <wsdl:types>
<s:schema>
      
  <s:import namespace="http://redemption.ws.mcrewards.mastercard.com/" schemaLocation="../xsd/RedemptionService.xsd"/>
    
</s:schema>
  </wsdl:types>
  <wsdl:message name="externalItemRedemptionSoapIn">
    <wsdl:part element="tns:externalItemRedemption" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEligibleCashbackRedemptionAccountsSoapIn">
    <wsdl:part element="tns:getEligibleCashbackRedemptionAccounts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDefaultCashbackRedemptionAccountsSoapIn">
    <wsdl:part element="tns:getDefaultCashbackRedemptionAccount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDefaultCashbackRedemptionAccountsSoapIn">
    <wsdl:part element="tns:setDefaultCashbackRedemptionAccount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="statementOfCreditSoapOut">
    <wsdl:part element="tns:applyStatementOfCreditResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creditTravelRedemptionSoapIn">
    <wsdl:part element="tns:creditTravelRedemption" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="statementOfCreditSoapIn">
    <wsdl:part element="tns:applyStatementOfCredit" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setDefaultCashbackRedemptionAccountsSoapOut">
    <wsdl:part element="tns:setDefaultCashbackRedemptionAccountResult" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doItemRedemptionSoapOut">
    <wsdl:part element="tns:doItemRedemptionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doTravelRedemptionSoapOut">
    <wsdl:part element="tns:travelRedemptionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="externalItemRedemptionSoapOut">
    <wsdl:part element="tns:externalItemRedemptionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creditRedemptionSoapOut">
    <wsdl:part element="tns:creditRedemptionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEligibleCashbackRedemptionAccountsSoapOut">
    <wsdl:part element="tns:EligibleCashbackRedemptionAccounts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creditRedemptionSoapIn">
    <wsdl:part element="tns:creditRedemption" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doItemRedemptionSoapIn">
    <wsdl:part element="tns:doItemRedemption" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doTravelRedemptionSoapIn">
    <wsdl:part element="tns:doTravelRedemption" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDefaultCashbackRedemptionAccountsSoapOut">
    <wsdl:part element="tns:defaultCashbackRedemptionAccount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creditTravelRedemptionSoapOut">
    <wsdl:part element="tns:creditTravelRedemptionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RedemptionService">
    <wsdl:operation name="doItemRedemption">
      <wsdl:input message="tns:doItemRedemptionSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:doItemRedemptionSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="statementOfCredit">
      <wsdl:input message="tns:statementOfCreditSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:statementOfCreditSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="creditTravelRedemption">
      <wsdl:input message="tns:creditTravelRedemptionSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:creditTravelRedemptionSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="creditRedemption">
      <wsdl:input message="tns:creditRedemptionSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:creditRedemptionSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="doTravelRedemption">
      <wsdl:input message="tns:doTravelRedemptionSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:doTravelRedemptionSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEligibleCashbackRedemptionAccounts">
      <wsdl:input message="tns:getEligibleCashbackRedemptionAccountsSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:getEligibleCashbackRedemptionAccountsSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDefaultCashbackRedemptionAccount">
      <wsdl:input message="tns:getDefaultCashbackRedemptionAccountsSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:getDefaultCashbackRedemptionAccountsSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDefaultCashbackRedemptionAccount">
      <wsdl:input message="tns:setDefaultCashbackRedemptionAccountsSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:setDefaultCashbackRedemptionAccountsSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="externalItemRedemption">
      <wsdl:input message="tns:externalItemRedemptionSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:externalItemRedemptionSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RedemptionService" type="tns:RedemptionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="doItemRedemption">
      <soap:operation soapAction="http://redemption.ws.mcrewards.mastercard.com/doItemRedemption" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="statementOfCredit">
      <soap:operation soapAction="http://redemption.ws.mcrewards.mastercard.com/statementOfCredit" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="creditTravelRedemption">
      <soap:operation soapAction="http://redemption.ws.mcrewards.mastercard.com/creditTravelRedemption" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="creditRedemption">
      <soap:operation soapAction="http://redemption.ws.mcrewards.mastercard.com/creditRedemption" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="doTravelRedemption">
      <soap:operation soapAction="http://redemption.ws.mcrewards.mastercard.com/doTravelRedemption" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEligibleCashbackRedemptionAccounts">
      <soap:operation soapAction="http://redemption.ws.mcrewards.mastercard.com/getEligibleCashbackRedemptionAccounts" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDefaultCashbackRedemptionAccount">
      <soap:operation soapAction="http://redemption.ws.mcrewards.mastercard.com/getDefaultCashbackRedemptionAccount" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setDefaultCashbackRedemptionAccount">
      <soap:operation soapAction="http://redemption.ws.mcrewards.mastercard.com/setDefaultCashbackRedemptionAccount" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="externalItemRedemption">
      <soap:operation soapAction="http://redemption.ws.mcrewards.mastercard.com/externalItemRedemption" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RedemptionService">
    <wsdl:port binding="tns:RedemptionService" name="RedemptionService">
      <soap:address location="http://localhost:8081/mastercard-webservices/MRS/RedemptionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>