Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/Login/xsd/loginTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/loginTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/loginTypes">
	
	<xs:element name="loginResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROFILE" type="xs:string" minOccurs="0"/>
				<xs:element name="ROLLCODE" type="xs:string" minOccurs="0"/>
				<xs:element name="ROLLNAME" type="xs:string" minOccurs="0"/>
				<xs:element name="USER_INFORMATION" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NAME" type="xs:string" minOccurs="0" />
							<xs:element name="VALUE" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	

	
	<xs:element name="login">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" type="xs:string"/>
				<xs:element name="PASSWORD" type="xs:string"/>
				<xs:element name="APPLICATION" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>