Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/CambioProductoTC/wsdl/cambioProductoTCPS.wsdl

<wsdl:definitions name="cambioProductoTCPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/cambioProductoTCPS/" xmlns:cam="http://www.ficohsa.com.hn/middleware.services/cambioProductoTCPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" schemaLocation="../../GestionesTarjetas/xsd/gestionesTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="cambioProductoTCRequest">
		<wsdl:part element="tns:cambioProductoTC" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="cambioProductoTCResponse">
		<wsdl:part element="tns:cambioProductoTCResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="cambioProductoTCPS">
		<wsdl:operation name="cambioProductoTC" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="cam:cambioProductoTCRequest"/>
			<wsdl:output message="cam:cambioProductoTCResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="cambioProductoTCPSSOAP" type="cam:cambioProductoTCPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="cambioProductoTC">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/cambioProductoTC"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="cam:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="cam:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="cambioProductoTCPS">
		<wsdl:port binding="cam:cambioProductoTCPSSOAP" name="cambioProductoTCPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/cambioProductoTC/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>