Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaClienteBancarizacion/xsd/consultaClienteBancarizacionTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaClienteBancarizacionTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaClienteBancarizacionTypes">

	
	<xs:element name="consultaClienteBancarizacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LEGAL_ID" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	

	<xs:complexType name="consultaClienteBancarizacionResponseArrayType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string"
				minOccurs="0" />
			<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT_ID" type="xs:string"
				minOccurs="0" />
			<xs:element name="CATEGORY" type="xs:string"
				minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="OPENING_DATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="CURRENT_BALANCE" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaClienteBancarizacionResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaClienteBancarizacionResponseRecordType"
				type="cons:consultaClienteBancarizacionResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaClienteBancarizacionResponseType">
		<xs:sequence>
			<xs:element name="consultaClienteBancarizacionResponseType"
				type="cons:consultaClienteBancarizacionResponseRecordType" form="qualified"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaClienteBancarizacionResponse" type="cons:consultaClienteBancarizacionResponseType"/>

</xs:schema>