Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKGT/PagoRemesaCreditoCuenta/xsd/pagoRemesaCreditoCuentaGT_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pagoRemesaCreditoCuentaGT" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pagoRemesaCreditoCuentaGT" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_MONEDAPAGO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMCTABENEFICIARIO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBREBENEFICIARIO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELBENEFICIARIO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DIRECCIONBENEFICIARIO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBREREMITENTE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TASACAMBIO" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CIUDADORDENANTE" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADOORDENANTE" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PAISORDENANTE" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CLAVE" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FECHAEMISION" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MONTOREFERENCIA" type="decimal" db:index="13" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_REMESADORA" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MONTO" type="decimal" db:index="15" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_FECHATRANSACCION" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SECUENCIA" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>