Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/LoginTelered/xsd/loginTeleredTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
		   targetNamespace="http://www.ficohsa.com.hn/middleware.services/loginTeleredTypes" 
		   xmlns:def="http://www.ficohsa.com.hn/middleware.services/loginTeleredTypes" 
		   elementFormDefault="qualified"> 
    
 	<!--#################################################################-->     
    			<!--OPERACION: LOGIN TELERED -->

	<xs:element name="loginTelered">
        <xs:complexType>
            <xs:sequence>
	 			<xs:element name="FORCE_NEW_SESSION" type="xs:boolean"/>
				<xs:element name="CHANNEL" type="xs:string" minOccurs="0"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
	
	<xs:element name="loginTeleredResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="SESSION_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="CHANNEL" type="xs:string" minOccurs="0"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element> 
</xs:schema>