Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OIC/uniqueEmail/wsdl/uniqueEmail.wsdl

<wsdl:definitions name="BPELuniquemail" targetNamespace="http://xmlns.oracle.com/uniquemail/uniquemail/BPELuniquemail" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://xmlns.oracle.com/uniquemail/uniquemail/BPELuniquemail" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsp:Policy wsu:Id="wss_http_token_or_jwt_token_service_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:ExactlyOne>
      <wsp:All/>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <osp:HttpToken xmlns:osp="http://schemas.oracle.com/ws/2012/01/wssecuritypolicy">
                  <wsp:Policy>
                    <osp:HttpJwtAuthentication/>
                  </wsp:Policy>
                </osp:HttpToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/uniquemail/uniquemail/BPELuniquemail" schemaLocation="../xsd/XMLSchema_1636307889.xsd"/>
    </schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tracking_property" type="TrackingPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon" xmlns="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="insight_property" type="InsightPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="BPELuniquemailRequestMessage">
    <wsdl:part name="payload" element="client:uniquemailRequest"/>
  </wsdl:message>
  <wsdl:message name="BPELuniquemailResponseMessage">
    <wsdl:part name="payload" element="client:uniquemailResponse"/>
  </wsdl:message>
  <wsdl:portType name="BPELuniquemail_uniquemail_trigger_REQUEST">
    <wsdl:operation name="process">
      <wsdl:input message="client:BPELuniquemailRequestMessage"/>
      <wsdl:output message="client:BPELuniquemailResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BPELuniquemail_uniquemail_trigger_REQUEST_binding" type="client:BPELuniquemail_uniquemail_trigger_REQUEST">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#wss_http_token_or_jwt_token_service_policy" wsdl:required="false" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    <wsdl:operation name="process">
      <soap:operation soapAction="http://xmlns.oracle.com/uniquemail/uniquemail/BPELuniquemail/process"/>
      <wsdl:input>
        <soap:body use="literal" parts="payload"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="payload"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BPELuniquemail">
    <wsdl:port name="BPELuniquemail_uniquemail_trigger_REQUEST_pt" binding="client:BPELuniquemail_uniquemail_trigger_REQUEST_binding">
      <soap:address location="https://OICDEV-ficocloud.integration.ocp.oraclecloud.com:443/ic/ws/integration/v1/flows/soap/UNIQUEMAIL/1.0/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>