Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/GeneraEstadoCuenta/xsd/generaEstadoCuentaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/generaEstadoCuentaTypes" 
		xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generaEstadoCuentaTypes" > 
		
	<!-- stringMinLength1Type -->
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- monthType -->
    <xs:simpleType name="monthType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0][1-9]|[1][0-2]"/>
        </xs:restriction>
    </xs:simpleType>
		
	<!-- yearType -->
    <xs:simpleType name="yearType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9][0-9][0-9][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
	<!-- yearType -->
    <xs:simpleType name="initialDate">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>
	<!-- yearType -->
    <xs:simpleType name="finalDate">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>        
    
 <!--#################################################################-->     
    			<!--OPERACION: GENERA ESTADO CUENTA TC -->

	<xs:element name="generaEstadoCuentaTC">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="PRODUCT_TYPE" type="gen:stringMinLength1"/>
				<xs:element name="PRODUCT_VALUE" type="gen:stringMinLength1"/>
	            <xs:element name="MONTH" type="gen:monthType"/>
	            <xs:element name="YEAR" type="gen:yearType"/>
	            <xs:element name="FILE_EXTENSION" type="gen:stringMinLength1"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
	
	<xs:element name="generaEstadoCuentaTCResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="MONTH" type="xs:string" minOccurs="0"/>
	            <xs:element name="YEAR" type="xs:string" minOccurs="0"/>
				<xs:element name="FILE_EXTRACT" type="xs:string" minOccurs="0"/>
				<xs:element name="FILE_EXTENSION" type="xs:string" minOccurs="0"/>
				<xs:element name="FILE_LINK" type="xs:string" minOccurs="0"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element> 
    
 <!--#################################################################-->     
    			<!--OPERACION: GENERA ENCABEZADOTC -->    
	<xs:element name="generaEncabezadoTC">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="PRODUCT_TYPE" type="gen:stringMinLength1"/>
				<xs:element name="PRODUCT_VALUE" type="gen:stringMinLength1"/>
	            <xs:element name="INITIAL_DATE" type="gen:initialDate"/>
	            <xs:element name="FINAL_DATE" type="gen:finalDate"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
	
	<xs:element name="generaEncabezadoTCResponse">
        <xs:complexType>
            <xs:sequence>
            		<xs:element name="DatoObtenerEncabezadosV2RecordType"  maxOccurs="unbounded" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="BALANCE" type="xs:string" minOccurs="0"/>
								<xs:element name="CYCLE" type="xs:string" minOccurs="0"/>
	            				<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
								<xs:element name="CYCLE_DUE" type="xs:string" minOccurs="0"/>
								<xs:element name="CUTOFF_DATE" type="xs:string" minOccurs="0"/>
								<xs:element name="FILE_LINK" type="xs:string" minOccurs="0"/>
	            				<xs:element name="MILES_EARNED" type="xs:string" minOccurs="0"/>
								<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
								<xs:element name="ORG" type="xs:string" minOccurs="0"/>
								<xs:element name="MIN_PAYMENT" type="xs:string" minOccurs="0"/>
	            				<xs:element name="TOTAL_PAYMENT" type="xs:string" minOccurs="0"/>
								<xs:element name="PERIOD" type="xs:string" minOccurs="0"/>
								<xs:element name="POINT_EARNED" type="xs:string" minOccurs="0"/>
								<xs:element name="OVERDUE_AMOUNT" type="xs:string" minOccurs="0"/>
								<xs:element name="TYPE_ORG" type="xs:string" minOccurs="0"/>
								<xs:element name="LOGO" type="xs:string" minOccurs="0"/>
								<xs:element name="LOGO_NAME" type="xs:string" minOccurs="0"/>
								<xs:element name="SHIPPING_TYPE" type="xs:string" minOccurs="0"/>
								<xs:element name="LAST_CUTOFF_TOTAL_PAYMENT" type="xs:string" minOccurs="0"/>
								<xs:element name="PURCHASES_LIMIT" type="xs:string" minOccurs="0"/>
								<xs:element name="MAX_PAYMENT_DATE" type="xs:string" minOccurs="0"/>
								<xs:element name="CREDIT_LIMIT" type="xs:string" minOccurs="0"/>
							</xs:sequence> 
						</xs:complexType>	
					</xs:element>							
            </xs:sequence> 
        </xs:complexType>
    </xs:element>     			
</xs:schema>