Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActualizaEstadoTransferenciaSwift/xsd/actualizaEstadoTransferenciaSwiftTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 		
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoTransferenciaSwiftTypes" 
		xmlns:tns="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoTransferenciaSwiftTypes">

<!-- StringType -->
<xs:simpleType name="stringMinLength1">
   <xs:restriction base="xs:string">
      <xs:minLength value="1" />
   </xs:restriction>
</xs:simpleType>
  
<xs:element name="actualizaEstadoTransferenciaSwift">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="GPI_INDICATOR" type="tns:stringMinLength1"/>
			<xs:element name="PAYMENT_TYPE" type="tns:stringMinLength1"/>
			<xs:element name="UETR" type="tns:stringMinLength1"/>
			<xs:element name="TRANSACTION_ID" type="tns:stringMinLength1"/>
			<xs:element name="RECEIVER_BIC" type="tns:stringMinLength1"/>
			<xs:element name="REMITTER_BIC" type="xs:string" minOccurs="0"/>
			<xs:element name="APPROVAL_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="SETTLEMENT_METHOD" type="xs:string" minOccurs="0"/>
			<xs:element name="FORWARDED_TO_AGENT" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTION_STATUS" type="tns:stringMinLength1"/>
			<xs:element name="RETURN" type="xs:string" minOccurs="0"/>
			<xs:element name="REJECTION_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="INSTRUCTION_IDENTIFICATION" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTION_CURRENCY" type="tns:stringMinLength1"/>
			<xs:element name="TRANSACTION_AMOUNT" type="tns:stringMinLength1"/>
			<xs:element name="TRANSACTION_CHARGES" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TRANSACTION_CHARGE" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AMOUNT" type="xs:string"/>
									<xs:element name="CURRENCY" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CHARGE_BEARER" type="xs:string" minOccurs="0"/>
			<xs:element name="EXCHANGE_RATE_DETAILS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SOURCE_CURRENCY" type="xs:string" minOccurs="0"/>
						<xs:element name="TARGET_CURRENCY" type="xs:string" minOccurs="0"/>
						<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="actualizaEstadoTransferenciaSwiftResponse"/>

</xs:schema>