Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/OIC/originacionesGT/wsdl/originacionesGT.wsdl

<definitions name="RmaDynamicWebService" targetNamespace="http://fico.com/blaze/advisor/rma/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://fico.com/blaze/advisor/rma/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<types>
		<xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://fico.com/blaze/advisor/rma/" version="1.0">
			<xs:element name="Accion" type="tns:accion" />
			<xs:element name="Audit" type="tns:audit" />
			<xs:element name="AuditStep" type="tns:auditStep" />
			<xs:element name="ConsultaTuca" type="tns:consultaTuca" />
			<xs:element name="Exception" type="tns:Exception" />
			<xs:element name="ObligacionesConsolidar" type="tns:obligacionesConsolidar" />
			<xs:element name="Oferta" type="tns:oferta" />
			<xs:element name="Prestamo" type="tns:prestamo" />
			<xs:element name="ReferenciaTuca" type="tns:referenciaTuca" />
			<xs:element name="ReferenciasSirc" type="tns:referenciasSirc" />
			<xs:element name="Resolucion" type="tns:resolucion" />
			<xs:element name="Score" type="tns:score" />
			<xs:element name="Solicitante" type="tns:solicitante" />
			<xs:element name="Tarjeta" type="tns:tarjeta" />
			<xs:element name="VariableCalculada" type="tns:variableCalculada" />
			<xs:element name="processWithDecisionFlow2" type="tns:processWithDecisionFlow2" />
			<xs:element name="processWithDecisionFlow2Response" type="tns:processWithDecisionFlow2Response" />
			<xs:complexType name="processWithDecisionFlow2">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="tns:solicitante" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="solicitante">
				<xs:sequence>
					<xs:element minOccurs="0" name="token" type="xs:string" />
					<xs:element minOccurs="0" name="accion" type="tns:accion" />
					<xs:element minOccurs="0" name="antiguedadExtrafinanciamiento"
						type="xs:int" />
					<xs:element minOccurs="0" name="antiguedadLaboral" type="xs:int" />
					<xs:element minOccurs="0" name="antiguedadPrestamo"
						type="xs:int" />
					<xs:element minOccurs="0" name="antiguedadPrestamoExterno"
						type="xs:int" />
					<xs:element minOccurs="0" name="antiguedadPrestamoFiduciario"
						type="xs:int" />
					<xs:element minOccurs="0" name="antiguedadTarjeta" type="xs:int" />
					<xs:element minOccurs="0" name="antiguedadTarjetaCancelada"
						type="xs:int" />
					<xs:element minOccurs="0" name="audit" type="tns:audit" />
					<xs:element minOccurs="0" name="canalDeVenta" type="xs:string" />
					<xs:element minOccurs="0" name="cargo" type="xs:string" />
					<xs:element minOccurs="0" name="clienteCastigado" type="xs:int" />
					<xs:element minOccurs="0" name="clienteCobroJudicial"
						type="xs:int" />
					<xs:element minOccurs="0" name="clienteCuentaCancelada"
						type="xs:int" />
					<xs:element minOccurs="0" name="clientePignorado" type="xs:int" />
					<xs:element minOccurs="0" name="clienteRPDA" type="xs:int" />
					<xs:element minOccurs="0" name="clienteSaldoRestructurado"
						type="xs:int" />
					<xs:element minOccurs="0" name="clienteUniversitario"
						type="xs:int" />
					<xs:element minOccurs="0" name="clienteVIP" type="xs:string" />
					<xs:element minOccurs="0" name="codigoTipoCliente" type="xs:int" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="consultaTuca" type="tns:consultaTuca" />
					<xs:element minOccurs="0" name="cuotasExternasTotales"
						type="xs:double" />
					<xs:element minOccurs="0" name="cuotasInternasTotales"
						type="xs:double" />
					<xs:element minOccurs="0" name="cuotasPagadasPrestamo"
						type="xs:int" />
					<xs:element minOccurs="0" name="destino" type="xs:string" />
					<xs:element minOccurs="0" name="edad" type="xs:int" />
					<xs:element minOccurs="0" name="exposicionActual" type="xs:double" />
					<xs:element minOccurs="0" name="exposicionGlobal" type="xs:double" />
					<xs:element minOccurs="0" name="fechaActual" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaIncioLaboral" type="xs:string" />
					<xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
					<xs:element minOccurs="0" name="flagColaborador" type="xs:int" />
					<xs:element minOccurs="0" name="genero" type="xs:string" />
					<xs:element minOccurs="0" name="identidad" type="xs:string" />
					<xs:element minOccurs="0" name="ingresoResidual" type="xs:double" />
					<xs:element minOccurs="0" name="ingresosMensuales" type="xs:double" />
					<xs:element minOccurs="0" name="limiteMaximoUSD" type="xs:double" />
					<xs:element minOccurs="0" name="limitesTarjetas" type="xs:double" />
					<xs:element minOccurs="0" name="moraActualExtena" type="xs:int" />
					<xs:element minOccurs="0" name="moraActualInterna" type="xs:int" />
					<xs:element minOccurs="0" name="moraPrestamo" type="xs:int" />
					<xs:element minOccurs="0" name="naturalezaProducto"
						type="xs:string" />
					<xs:element minOccurs="0" name="nit" type="xs:string" />
					<xs:element minOccurs="0" name="nivelEndeudamiento"
						type="xs:double" />
					<xs:element minOccurs="0" name="nivelEndeudamientoExterno"
						type="xs:double" />
					<xs:element minOccurs="0" name="noSolicitud" type="xs:string" />
					<xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="obligacionesConsolidar" type="tns:obligacionesConsolidar" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="oferta"
						type="tns:oferta" />
					<xs:element minOccurs="0" name="otrosIngresos" type="xs:float" />
					<xs:element minOccurs="0" name="poseeConsultasTuca"
						type="xs:string" />
					<xs:element minOccurs="0" name="poseePrestamo" type="xs:string" />
					<xs:element minOccurs="0" name="poseeReferenciaSIRC"
						type="xs:string" />
					<xs:element minOccurs="0" name="poseeReferenciaTUCA"
						type="xs:string" />
					<xs:element minOccurs="0" name="poseeTarjeta" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="prestamo"
						type="tns:prestamo" />
					<xs:element minOccurs="0" name="primerNombre" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="referenciaSirc" type="tns:referenciasSirc" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="referenciaTuca" type="tns:referenciaTuca" />
					<xs:element minOccurs="0" name="referenciasEstadoIncobrables"
						type="xs:int" />
					<xs:element minOccurs="0" name="salarioBruto" type="xs:double" />
					<xs:element minOccurs="0" name="salarioBuro" type="xs:float" />
					<xs:element minOccurs="0" name="salarioDB" type="xs:double" />
					<xs:element minOccurs="0" name="salarioInferido" type="xs:double" />
					<xs:element minOccurs="0" name="salarioNeto" type="xs:float" />
					<xs:element minOccurs="0" name="saldoConsolidacion"
						type="xs:double" />
					<xs:element minOccurs="0" name="score" type="tns:score" />
					<xs:element minOccurs="0" name="scoreBuro" type="xs:int" />
					<xs:element minOccurs="0" name="segundoNombre" type="xs:string" />
					<xs:element minOccurs="0" name="sexo" type="xs:int" />
					<xs:element minOccurs="0" name="target" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="tarjeta"
						type="tns:tarjeta" />
					<xs:element minOccurs="0" name="tiempoResidenciaActual"
						type="xs:int" />
					<xs:element minOccurs="0" name="tiempoResidenciaMeses"
						type="xs:int" />
					<xs:element minOccurs="0" name="tipoCambio" type="xs:float" />
					<xs:element minOccurs="0" name="tipoCliente" type="xs:string" />
					<xs:element minOccurs="0" name="tipoEmpleo" type="xs:string" />
					<xs:element minOccurs="0" name="tipoTrabajo" type="xs:string" />
					<xs:element minOccurs="0" name="tipoVivienda" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="variablesCalculadas" type="tns:variableCalculada" />
					<xs:element minOccurs="0" name="vecesMora120_18m" type="xs:int" />
					<xs:element minOccurs="0" name="vecesMora30_3m" type="xs:int" />
					<xs:element minOccurs="0" name="vecesMora60_6m" type="xs:int" />
					<xs:element minOccurs="0" name="vecesMora90_12m" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="accion">
				<xs:sequence>
					<xs:element minOccurs="0" name="cantidadPrestamosInternos"
						type="xs:int" />
					<xs:element minOccurs="0" name="cantidadReferencias"
						type="xs:int" />
					<xs:element minOccurs="0" name="cantidadVecesMora120En18M"
						type="xs:int" />
					<xs:element minOccurs="0" name="cantidadVecesMora30En3M"
						type="xs:int" />
					<xs:element minOccurs="0" name="cantidadVecesMora60En12M"
						type="xs:int" />
					<xs:element minOccurs="0" name="cantidadVecesMora60En6M"
						type="xs:int" />
					<xs:element minOccurs="0" name="CantidadVecesMora90En12M"
						type="xs:int" />
					<xs:element minOccurs="0" name="creditosDirectosActivos"
						type="xs:int" />
					<xs:element minOccurs="0" name="creditosDirectosCancelados"
						type="xs:int" />
					<xs:element minOccurs="0" name="creditosIndirectosActivos"
						type="xs:int" />
					<xs:element minOccurs="0" name="creditosIndirectosCancelados"
						type="xs:int" />
					<xs:element minOccurs="0" name="cuotasFicohsa" type="xs:int" />
					<xs:element minOccurs="0" name="entidadReferencia" type="xs:string" />
					<xs:element minOccurs="0" name="experienciaCrediticia"
						type="xs:int" />
					<xs:element minOccurs="0" name="exposicionActualLOC"
						type="xs:double" />
					<xs:element minOccurs="0" name="exposicionActualUSD"
						type="xs:double" />
					<xs:element minOccurs="0" name="exposicionGlobal" type="xs:double" />
					<xs:element minOccurs="0" name="fechaAperturaReferencia"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="limiteMaximoTarjetaCredito"
						type="xs:double" />
					<xs:element minOccurs="0" name="limitePromedioTarjetaCredito"
						type="xs:double" />
					<xs:element minOccurs="0" name="moraMaxima" type="xs:int" />
					<xs:element minOccurs="0" name="nivelEndeudamientoActual"
						type="xs:string" />
					<xs:element minOccurs="0" name="nivelEndeudamientoFinal"
						type="xs:string" />
					<xs:element minOccurs="0" name="nivelRiesgoExterno"
						type="xs:string" />
					<xs:element minOccurs="0" name="nivelRiesgoTarjetaCredito"
						type="xs:string" />
					<xs:element minOccurs="0" name="poseeReferencia" type="xs:string" />
					<xs:element minOccurs="0" name="rciFinal" type="xs:string" />
					<xs:element minOccurs="0" name="rciMax" type="xs:string" />
					<xs:element minOccurs="0" name="referenciaSIB" type="xs:string" />
					<xs:element minOccurs="0" name="referenciasCastigo"
						type="xs:int" />
					<xs:element minOccurs="0" name="riesgoTotal" type="xs:double" />
					<xs:element minOccurs="0" name="saldoMora" type="xs:double" />
					<xs:element minOccurs="0" name="saldoReferencia" type="xs:double" />
					<xs:element minOccurs="0" name="scoreTarjetaCredito"
						type="xs:double" />
					<xs:element minOccurs="0" name="segmentoCliente" type="xs:string" />
					<xs:element minOccurs="0" name="segmentoSalarioCliente"
						type="xs:string" />
					<xs:element minOccurs="0" name="sobreGiroTarjetaCredito"
						type="xs:double" />
					<xs:element minOccurs="0" name="subSegmentoCliente"
						type="xs:string" />
					<xs:element minOccurs="0" name="sumatoriaCuotasBuro"
						type="xs:double" />
					<xs:element minOccurs="0" name="sumatoriaCuotasSirc"
						type="xs:double" />
					<xs:element minOccurs="0" name="sumatoriasCuotasTransunion"
						type="xs:double" />
					<xs:element minOccurs="0" name="tipoReferencia" type="xs:string" />
					<xs:element minOccurs="0" name="totalDeudaContingente"
						type="xs:double" />
					<xs:element minOccurs="0" name="totalDeudaDirecta" type="xs:double" />
					<xs:element minOccurs="0" name="totalDeudaIndirecta"
						type="xs:double" />
					<xs:element minOccurs="0" name="totalSaldoExtrafinanciamiento"
						type="xs:double" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="audit">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="auditSteps"
						type="tns:auditStep" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="auditStep">
				<xs:sequence>
					<xs:element minOccurs="0" name="stepMessage" type="xs:string" />
					<xs:element minOccurs="0" name="stepName" type="xs:string" />
					<xs:element minOccurs="0" name="type" type="tns:enumAuditStepType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consultaTuca">
				<xs:sequence>
					<xs:element minOccurs="0" name="days_since_inquiry"
						type="xs:int" />
					<xs:element minOccurs="0" name="entidad" type="xs:string" />
					<xs:element minOccurs="0" name="fechaConsulta" type="xs:dateTime" />
					<xs:element minOccurs="0" name="inquiry" type="xs:int" />
					<xs:element minOccurs="0" name="months_since_inquiry"
						type="xs:int" />
					<xs:element minOccurs="0" name="motivo" type="xs:string" />
					<xs:element minOccurs="0" name="tipoConsulta" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="obligacionesConsolidar">
				<xs:sequence>
					<xs:element minOccurs="0" name="chequeANombreDe" type="xs:string" />
					<xs:element minOccurs="0" name="cuotaConsolidar" type="xs:double" />
					<xs:element minOccurs="0" name="entidad" type="xs:string" />
					<xs:element minOccurs="0" name="moneda" type="xs:string" />
					<xs:element minOccurs="0" name="numeroCuenta" type="xs:string" />
					<xs:element minOccurs="0" name="saldoConsolidar" type="xs:double" />
					<xs:element minOccurs="0" name="tipoProducto" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="oferta">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="arrayResolucion" type="tns:resolucion" />
					<xs:element minOccurs="0" name="codigoProducto" type="xs:string" />
					<xs:element minOccurs="0" name="cuota" type="xs:double" />
					<xs:element minOccurs="0" name="cuotaNDE" type="xs:double" />
					<xs:element minOccurs="0" name="cuotaRCINONP2C" type="xs:double" />
					<xs:element minOccurs="0" name="cuotaRCIP2C" type="xs:double" />
					<xs:element minOccurs="0" name="monto108" type="xs:double" />
					<xs:element minOccurs="0" name="monto12" type="xs:double" />
					<xs:element minOccurs="0" name="monto120" type="xs:double" />
					<xs:element minOccurs="0" name="monto18" type="xs:double" />
					<xs:element minOccurs="0" name="monto24" type="xs:double" />
					<xs:element minOccurs="0" name="monto36" type="xs:double" />
					<xs:element minOccurs="0" name="monto48" type="xs:double" />
					<xs:element minOccurs="0" name="monto60" type="xs:double" />
					<xs:element minOccurs="0" name="monto72" type="xs:double" />
					<xs:element minOccurs="0" name="monto84" type="xs:double" />
					<xs:element minOccurs="0" name="monto96" type="xs:double" />
					<xs:element minOccurs="0" name="montoMEG" type="xs:double" />
					<xs:element minOccurs="0" name="montoMax" type="xs:double" />
					<xs:element minOccurs="0" name="montoNDE" type="xs:double" />
					<xs:element minOccurs="0" name="MontoNONP2C" type="xs:double" />
					<xs:element minOccurs="0" name="montoP2C" type="xs:double" />
					<xs:element minOccurs="0" name="montoRCI" type="xs:double" />
					<xs:element minOccurs="0" name="montoTimesIncome" type="xs:double" />
					<xs:element minOccurs="0" name="ofertaMax" type="xs:double" />
					<xs:element minOccurs="0" name="RCI" type="xs:double" />
					<xs:element minOccurs="0" name="resolucion" type="xs:string" />
					<xs:element minOccurs="0" name="tasa" type="xs:double" />
					<xs:element minOccurs="0" name="timesIncome" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="resolucion">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigoResolucion" type="xs:string" />
					<xs:element minOccurs="0" name="descripcion" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="prestamo">
				<xs:sequence>
					<xs:element minOccurs="0" name="antiguedadPrestamo"
						type="xs:int" />
					<xs:element minOccurs="0" name="antiguedadPrestamoFiduciario"
						type="xs:int" />
					<xs:element minOccurs="0" name="cantidadCuotasPagadas"
						type="xs:int" />
					<xs:element minOccurs="0" name="cargos" type="xs:double" />
					<xs:element minOccurs="0" name="codigoAgencia" type="xs:int" />
					<xs:element minOccurs="0" name="codigoDestino" type="xs:int" />
					<xs:element minOccurs="0" name="codigoSubAplicacion"
						type="xs:int" />
					<xs:element minOccurs="0" name="codigoTipoGarantia"
						type="xs:int" />
					<xs:element minOccurs="0" name="fechaApertura" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaCancelacion" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaPrimerPagoCapital"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaUltimoPago" type="xs:dateTime" />
					<xs:element minOccurs="0" name="identidad" type="xs:string" />
					<xs:element minOccurs="0" name="intereses" type="xs:double" />
					<xs:element minOccurs="0" name="montoInicial" type="xs:double" />
					<xs:element minOccurs="0" name="moraActual" type="xs:int" />
					<xs:element minOccurs="0" name="numeroContrato" type="xs:int" />
					<xs:element minOccurs="0" name="numeroCuotas" type="xs:int" />
					<xs:element minOccurs="0" name="numeroPrestamo" type="xs:int" />
					<xs:element minOccurs="0" name="otrosCargos" type="xs:double" />
					<xs:element minOccurs="0" name="plazo" type="xs:int" />
					<xs:element minOccurs="0" name="prestamoCancelado" type="xs:int" />
					<xs:element minOccurs="0" name="prestamoVigente" type="xs:int" />
					<xs:element minOccurs="0" name="primaMensual" type="xs:int" />
					<xs:element minOccurs="0" name="saldoActual" type="xs:double" />
					<xs:element minOccurs="0" name="seguros" type="xs:double" />
					<xs:element minOccurs="0" name="tasa" type="xs:double" />
					<xs:element minOccurs="0" name="tipoDeudor" type="xs:string" />
					<xs:element minOccurs="0" name="valorCuota" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="referenciasSirc">
				<xs:sequence>
					<xs:element minOccurs="0" name="capitalOriginal" type="xs:double" />
					<xs:element minOccurs="0" name="categoria" type="xs:string" />
					<xs:element minOccurs="0" name="comportamiento" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="comportamientoArray" type="xs:string" />
					<xs:element minOccurs="0" name="entidad" type="xs:string" />
					<xs:element minOccurs="0" name="estadoCredito" type="xs:string" />
					<xs:element minOccurs="0" name="fechaActivo" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaCancelacion" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaConcesion" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
					<xs:element minOccurs="0" name="moneda" type="xs:string" />
					<xs:element minOccurs="0" name="numeroEvaluacionSirc"
						type="xs:string" />
					<xs:element minOccurs="0" name="saldoCapital" type="xs:double" />
					<xs:element minOccurs="0" name="tarjetaFicohsa" type="xs:int" />
					<xs:element minOccurs="0" name="tipoActivo" type="xs:string" />
					<xs:element minOccurs="0" name="tipoDeudor" type="xs:string" />
					<xs:element minOccurs="0" name="tipoGarantia" type="xs:string" />
					<xs:element minOccurs="0" name="tipoReferencia" type="xs:string" />
					<xs:element minOccurs="0" name="vencido" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="referenciaTuca">
				<xs:sequence>
					<xs:element minOccurs="0" name="antiguedad" type="xs:int" />
					<xs:element minOccurs="0" name="antiguedadCancelacion"
						type="xs:int" />
					<xs:element minOccurs="0" name="balance" type="xs:int" />
					<xs:element minOccurs="0" name="calificacion" type="xs:string" />
					<xs:element minOccurs="0" name="codigoObligacion" type="xs:int" />
					<xs:element minOccurs="0" name="comportamiento" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="comportamientoArray" type="xs:string" />
					<xs:element minOccurs="0" name="creditLimit" type="xs:int" />
					<xs:element minOccurs="0" name="cuota" type="xs:double" />
					<xs:element minOccurs="0" name="entidad" type="xs:string" />
					<xs:element minOccurs="0" name="estadoCredito" type="xs:string" />
					<xs:element minOccurs="0" name="estatus" type="xs:string" />
					<xs:element minOccurs="0" name="fechaActualizacion"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaApertura" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
					<xs:element minOccurs="0" name="flagDateNumerica" type="xs:int" />
					<xs:element minOccurs="0" name="idEvaluacion" type="xs:int" />
					<xs:element minOccurs="0" name="largoCadena" type="xs:int" />
					<xs:element minOccurs="0" name="limiteCredito" type="xs:double" />
					<xs:element minOccurs="0" name="moneda" type="xs:string" />
					<xs:element minOccurs="0" name="monthsSinceDateROpened"
						type="xs:int" />
					<xs:element minOccurs="0" name="monthsSinceDateReported"
						type="xs:int" />
					<xs:element minOccurs="0" name="numeroEvaluacionTuca"
						type="xs:string" />
					<xs:element minOccurs="0" name="openTradeLine" type="xs:int" />
					<xs:element minOccurs="0" name="periodoPago" type="xs:string" />
					<xs:element minOccurs="0" name="referenciaCancelada"
						type="xs:int" />
					<xs:element minOccurs="0" name="referenciaVigente" type="xs:int" />
					<xs:element minOccurs="0" name="saldoActual" type="xs:double" />
					<xs:element minOccurs="0" name="saldoMora" type="xs:double" />
					<xs:element minOccurs="0" name="sameAccount" type="xs:int" />
					<xs:element minOccurs="0" name="sectorObligacion" type="xs:string" />
					<xs:element minOccurs="0" name="status30" type="xs:int" />
					<xs:element minOccurs="0" name="status60" type="xs:int" />
					<xs:element minOccurs="0" name="statusBypass" type="xs:int" />
					<xs:element minOccurs="0" name="statusCollection" type="xs:int" />
					<xs:element minOccurs="0" name="statusInactive" type="xs:int" />
					<xs:element minOccurs="0" name="statusUnknownDelinquency"
						type="xs:int" />
					<xs:element minOccurs="0" name="tarjetaFicohsa" type="xs:int" />
					<xs:element minOccurs="0" name="tipoActivo" type="xs:string" />
					<xs:element minOccurs="0" name="tipoGarantia" type="xs:string" />
					<xs:element minOccurs="0" name="tipoObligacion" type="xs:string" />
					<xs:element minOccurs="0" name="tipoReferencia" type="xs:string" />
					<xs:element minOccurs="0" name="tradeLine" type="xs:int" />
					<xs:element minOccurs="0" name="typeNonCredit" type="xs:int" />
					<xs:element minOccurs="0" name="typeRevolving" type="xs:int" />
					<xs:element minOccurs="0" name="typeStudent" type="xs:int" />
					<xs:element minOccurs="0" name="typeTelecommunications"
						type="xs:int" />
					<xs:element minOccurs="0" name="typesInstallment" type="xs:int" />
					<xs:element minOccurs="0" name="ultMovAnio" type="xs:int" />
					<xs:element minOccurs="0" name="ultMovMes" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="score">
				<xs:sequence>
					<xs:element minOccurs="0" name="averageMonthsExclTelcoAndStudent"
						type="xs:int" />
					<xs:element minOccurs="0" name="calificacionRiesgo"
						type="xs:string" />
					<xs:element minOccurs="0" name="estrategiaScore" type="xs:string" />
					<xs:element minOccurs="0" name="netFractionRevolvingBurden"
						type="xs:int" />
					<xs:element minOccurs="0" name="nivelRiesgo" type="xs:string" />
					<xs:element minOccurs="0"
						name="numberInquiries5MonthsExcludingLast7Days" type="xs:int" />
					<xs:element minOccurs="0" name="numberInstallmentTradeLines"
						type="xs:int" />
					<xs:element minOccurs="0" name="numberInstallmentTradeLinesSIRC"
						type="xs:int" />
					<xs:element minOccurs="0" name="numberRevolvingTradeLines"
						type="xs:int" />
					<xs:element minOccurs="0" name="numberRevolvingTradeLinesSIRC"
						type="xs:int" />
					<xs:element minOccurs="0"
						name="numberTradeLines60EverAndOrCollections" type="xs:int" />
					<xs:element minOccurs="0" name="numberTradeLines60EverSIRC"
						type="xs:int" />
					<xs:element minOccurs="0"
						name="percentageTradeLinesNeverDelinquent" type="xs:int" />
					<xs:element minOccurs="0" name="score" type="xs:double" />
					<xs:element minOccurs="0" name="scoreHit" type="xs:int" />
					<xs:element minOccurs="0" name="scoreNoHit" type="xs:int" />
					<xs:element minOccurs="0" name="tipoScore" type="xs:string" />
					<xs:element minOccurs="0" name="var1" type="xs:double" />
					<xs:element minOccurs="0" name="var10" type="xs:double" />
					<xs:element minOccurs="0" name="var11" type="xs:double" />
					<xs:element minOccurs="0" name="var12" type="xs:double" />
					<xs:element minOccurs="0" name="var13" type="xs:double" />
					<xs:element minOccurs="0" name="var14" type="xs:double" />
					<xs:element minOccurs="0" name="var15" type="xs:double" />
					<xs:element minOccurs="0" name="var2" type="xs:double" />
					<xs:element minOccurs="0" name="var3" type="xs:double" />
					<xs:element minOccurs="0" name="var4" type="xs:double" />
					<xs:element minOccurs="0" name="var5" type="xs:double" />
					<xs:element minOccurs="0" name="var6" type="xs:double" />
					<xs:element minOccurs="0" name="var7" type="xs:double" />
					<xs:element minOccurs="0" name="var8" type="xs:double" />
					<xs:element minOccurs="0" name="var9" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tarjeta">
				<xs:sequence>
					<xs:element minOccurs="0" name="antiguedadExtrafinanciamiento"
						type="xs:int" />
					<xs:element minOccurs="0" name="antiguedadTarjeta" type="xs:int" />
					<xs:element minOccurs="0" name="antiguedadTarjetaCancelada"
						type="xs:int" />
					<xs:element minOccurs="0" name="behaviorScore" type="xs:int" />
					<xs:element minOccurs="0" name="calificacionScore" type="xs:string" />
					<xs:element minOccurs="0" name="calificacionScoreCliente"
						type="xs:string" />
					<xs:element minOccurs="0" name="cashDisponible" type="xs:double" />
					<xs:element minOccurs="0" name="codbloqueo1" type="xs:string" />
					<xs:element minOccurs="0" name="codbloqueo2" type="xs:string" />
					<xs:element minOccurs="0" name="cuotasExtraVigentes"
						type="xs:double" />
					<xs:element minOccurs="0" name="estado" type="xs:string" />
					<xs:element minOccurs="0" name="fechaApertura" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaAprobacionExtra"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaAprobacionIntra"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaAprobacionPil"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaBloqueo1" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaBloqueo2" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaCancelacion" type="xs:dateTime" />
					<xs:element minOccurs="0" name="flagCastigo" type="xs:int" />
					<xs:element minOccurs="0" name="grupoAfinidad" type="xs:string" />
					<xs:element minOccurs="0" name="limite" type="xs:double" />
					<xs:element minOccurs="0" name="limitePrevio" type="xs:double" />
					<xs:element minOccurs="0" name="logo" type="xs:int" />
					<xs:element minOccurs="0" name="modeloLiquidacion" type="xs:string" />
					<xs:element minOccurs="0" name="moraActual" type="xs:int" />
					<xs:element minOccurs="0" name="morosidadHistoricaLOC"
						type="xs:string" />
					<xs:element minOccurs="0" name="morosidadHistoricaUSD"
						type="xs:string" />
					<xs:element minOccurs="0" name="numeroCuenta" type="xs:string" />
					<xs:element minOccurs="0" name="saldoActual" type="xs:double" />
					<xs:element minOccurs="0" name="saldoCorte" type="xs:double" />
					<xs:element minOccurs="0" name="saldoExtra" type="xs:double" />
					<xs:element minOccurs="0" name="saldoIntra" type="xs:double" />
					<xs:element minOccurs="0" name="tarjetaVigente" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="variableCalculada">
				<xs:sequence>
					<xs:element minOccurs="0" name="nombre" type="xs:string" />
					<xs:element minOccurs="0" name="valor" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="processWithDecisionFlow2Response">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:solicitante" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Exception">
				<xs:sequence>
					<xs:element minOccurs="0" name="message" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="enumAuditStepType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="INFO" />
					<xs:enumeration value="ERROR" />
					<xs:enumeration value="WARNING" />
				</xs:restriction>
			</xs:simpleType>
		</xsd:schema>
	</types>
	<message name="processWithDecisionFlow2">
		<part name="parameters" element="tns:processWithDecisionFlow2" />
	</message>
	<message name="processWithDecisionFlow2Response">
		<part name="parameters" element="tns:processWithDecisionFlow2Response" />
	</message>
	<message name="Exception">
		<part name="fault" element="tns:Exception" />
	</message>
	<portType name="RmaDynamicWeb_epOriginaciones_REQUEST">
		<operation name="processWithDecisionFlow2">
			<input message="tns:processWithDecisionFlow2"
				wsam:Action="http://fico.com/blaze/advisor/rma/RmaDynamicWeb/processWithDecisionFlow2Request" />
			<output message="tns:processWithDecisionFlow2Response"
				wsam:Action="http://fico.com/blaze/advisor/rma/RmaDynamicWeb/processWithDecisionFlow2Response" />
			<fault name="Exception" message="tns:Exception"
				wsam:Action="http://fico.com/blaze/advisor/rma/RmaDynamicWeb/processWithDecisionFlow2/Fault/Exception" />
		</operation>
	</portType>
	<binding name="RmaDynamicWeb_epOriginaciones_REQUEST_binding"
		type="tns:RmaDynamicWeb_epOriginaciones_REQUEST">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="processWithDecisionFlow2">
			<soap:operation soapAction="processWithDecisionFlow2" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="RmaDynamicWebService">
		<port name="RmaDynamicWeb_epOriginaciones_REQUEST_pt" binding="tns:RmaDynamicWeb_epOriginaciones_REQUEST_binding">
			<soap:address
				location="https://OICDEV-ficocloud.integration.ca-toronto-1.ocp.oraclecloud.com/ic/ws/integration/v1/flows/soap/EPORIGINACIONESG_SOAP/1.0/" />
		</port>
	</service>
</definitions>