Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/v2/BussinessServices/ConsultaCatalogos/xsd/ConsultaCatalogos_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCatalogosTypes" elementFormDefault="qualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaCatalogosTypes">
  <xs:element name="consultaCatalogosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="catalogsList" type="con:catalogListType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="catalogListType">
    <xs:sequence>
      <xs:element name="catalogItem" type="con:catalogType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
  </xs:complexType>
  <xs:complexType name="catalogType">
    <xs:sequence>
      <xs:element name="CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="consultaCatalogos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="REMITTER_ID" type="xs:string" minOccurs="0"/>
        <xs:element name="FILTERS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FILTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>