Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/compensacion/aumentarDiasReserva/aumentarDiasReservaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/aumentarDiasReservaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/aumentarDiasReservaTypes">

	<xs:element name="aumentarDiasReserva">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CLEARING_CENTRE" type="xs:string" />
				<xs:element name="BANK_CODE" type="xs:string" />
				<xs:element name="CHEQUE_NUMBER" type="xs:string" />
				<xs:element name="AMOUNT" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="aumentarDiasReservaResponse"/>
	
</xs:schema>