Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/VisaNet/wsdl/paymentcommerce_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://general_computing.com/paymentgw/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="paymentgw_version">
        <s:complexType/>
      </s:element>
      <s:element name="paymentgw_versionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paymentgw_versionResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string"/>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://general_computing.com/paymentgw/types">
      <s:element name="AuthorizationRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizationRequest" type="s1:Request"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="posEntryMode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="pan" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="expdate" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="track2Data" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="cvv2" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="paymentgwIP" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="shopperIP" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="merchantServerIP" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="merchantUser" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="merchantPasswd" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="terminalId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="merchant" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="messageType" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="auditNumber" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="additionalData" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="response" type="s1:Response"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="auditNumber" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="authorizationNumber" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="responseCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="messageType" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="signature" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="AuthorizationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="s1:Response"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="paymentgw_versionSoapIn">
    <wsdl:part name="parameters" element="tns:paymentgw_version"/>
  </wsdl:message>
  <wsdl:message name="paymentgw_versionSoapOut">
    <wsdl:part name="parameters" element="tns:paymentgw_versionResponse"/>
  </wsdl:message>
  <wsdl:message name="AuthorizationRequestSoapIn">
    <wsdl:part name="authorizationRequest1" element="s1:AuthorizationRequest"/>
  </wsdl:message>
  <wsdl:message name="AuthorizationRequestSoapOut">
    <wsdl:part name="AuthorizationRequestResult" element="s1:AuthorizationResponse"/>
  </wsdl:message>
  <wsdl:message name="paymentgw_versionHttpGetIn"/>
  <wsdl:message name="paymentgw_versionHttpGetOut">
    <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="paymentgw_versionHttpPostIn"/>
  <wsdl:message name="paymentgw_versionHttpPostOut">
    <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="PaymentGWServicesSoap">
    <wsdl:operation name="paymentgw_version">
      <wsdl:input message="tns:paymentgw_versionSoapIn"/>
      <wsdl:output message="tns:paymentgw_versionSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AuthorizationRequest">
      <wsdl:input message="tns:AuthorizationRequestSoapIn"/>
      <wsdl:output message="tns:AuthorizationRequestSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PaymentGWServicesHttpGet">
    <wsdl:operation name="paymentgw_version">
      <wsdl:input message="tns:paymentgw_versionHttpGetIn"/>
      <wsdl:output message="tns:paymentgw_versionHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PaymentGWServicesHttpPost">
    <wsdl:operation name="paymentgw_version">
      <wsdl:input message="tns:paymentgw_versionHttpPostIn"/>
      <wsdl:output message="tns:paymentgw_versionHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentGWServicesSoap" type="tns:PaymentGWServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="paymentgw_version">
      <soap:operation soapAction="http://tempuri.org/paymentgw_version" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizationRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentGWServicesSoap12" type="tns:PaymentGWServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="paymentgw_version">
      <soap12:operation soapAction="http://tempuri.org/paymentgw_version" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizationRequest">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentGWServicesHttpGet" type="tns:PaymentGWServicesHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="paymentgw_version">
      <http:operation location="/paymentgw_version"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentGWServicesHttpPost" type="tns:PaymentGWServicesHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="paymentgw_version">
      <http:operation location="/paymentgw_version"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentGWServices">
    <wsdl:port name="PaymentGWServicesSoap" binding="tns:PaymentGWServicesSoap">
      <soap:address location="https://192.168.125.138/paymentcommerce.asmx"/>
    </wsdl:port>
    <wsdl:port name="PaymentGWServicesSoap12" binding="tns:PaymentGWServicesSoap12">
      <soap12:address location="https://192.168.125.138/paymentcommerce.asmx"/>
    </wsdl:port>
    <wsdl:port name="PaymentGWServicesHttpGet" binding="tns:PaymentGWServicesHttpGet">
      <http:address location="https://192.168.125.138/paymentcommerce.asmx"/>
    </wsdl:port>
    <wsdl:port name="PaymentGWServicesHttpPost" binding="tns:PaymentGWServicesHttpPost">
      <http:address location="https://192.168.125.138/paymentcommerce.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>