Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/VisaNet/wsdl/WSVisaTransaction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QueryNewTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:request"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCardacqMatrizId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTerminalMatrizId" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="QueryNewTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryNewTransactionResult" type="tns:response"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strQueryCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strQueryMessage" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCardacqMatrizId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTerminalMatrizId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strResponseDetail" type="tns:ArrayOfResponseDetail"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResponseDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="responseDetail" nillable="true" type="tns:responseDetail"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="responseDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strCardacqId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTerminalId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCommerceName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strPaymentId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strPaymentReference" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strPaymentDescription" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strPaymentEmail" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strPaymentDateCreate" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strPaymentDateExpiry" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strPaymentProcess" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCardNumber" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCardDateExpiry" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCardName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCycleId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCycleDescription" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCategoryId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCategoryDescription" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTypePaymentId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTypePaymentDescription" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTransactionId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTransactionAuditNumber" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTransactionReferenceNumber" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTransactionResponseCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTransactionDescription" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTransactionAuthorization" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTransactionDate" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTransactionAmount" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCurrencyCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strBatchId" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="QueryCardTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:requestCard"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="requestCard">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCardacqMatrizId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTerminalMatrizId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCardNumber" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strDateIn" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strDateOut" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="QueryCardTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryCardTransactionResult" type="tns:response"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCountNewTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:request"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCountNewTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryCountNewTransactionResult" type="tns:responseCount"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="responseCount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strQueryCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strQueryMessage" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strCardacqMatrizId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strTerminalMatrizId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strQuantityNewTransaction" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strQuantityForBatch" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="strQuantityRequest" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryNewTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:QueryNewTransaction"/>
  </wsdl:message>
  <wsdl:message name="QueryNewTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:QueryNewTransactionResponse"/>
  </wsdl:message>
  <wsdl:message name="QueryCardTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:QueryCardTransaction"/>
  </wsdl:message>
  <wsdl:message name="QueryCardTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:QueryCardTransactionResponse"/>
  </wsdl:message>
  <wsdl:message name="QueryCountNewTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:QueryCountNewTransaction"/>
  </wsdl:message>
  <wsdl:message name="QueryCountNewTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:QueryCountNewTransactionResponse"/>
  </wsdl:message>
  <wsdl:portType name="WSVisaTransactionSoap">
    <wsdl:operation name="QueryNewTransaction">
      <wsdl:input message="tns:QueryNewTransactionSoapIn"/>
      <wsdl:output message="tns:QueryNewTransactionSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="QueryCardTransaction">
      <wsdl:input message="tns:QueryCardTransactionSoapIn"/>
      <wsdl:output message="tns:QueryCardTransactionSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="QueryCountNewTransaction">
      <wsdl:input message="tns:QueryCountNewTransactionSoapIn"/>
      <wsdl:output message="tns:QueryCountNewTransactionSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSVisaTransactionSoap" type="tns:WSVisaTransactionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="QueryNewTransaction">
      <soap:operation soapAction="http://tempuri.org/QueryNewTransaction" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCardTransaction">
      <soap:operation soapAction="http://tempuri.org/QueryCardTransaction" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCountNewTransaction">
      <soap:operation soapAction="http://tempuri.org/QueryCountNewTransaction" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSVisaTransactionSoap12" type="tns:WSVisaTransactionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="QueryNewTransaction">
      <soap12:operation soapAction="http://tempuri.org/QueryNewTransaction" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCardTransaction">
      <soap12:operation soapAction="http://tempuri.org/QueryCardTransaction" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCountNewTransaction">
      <soap12:operation soapAction="http://tempuri.org/QueryCountNewTransaction" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSVisaTransaction">
    <wsdl:port name="WSVisaTransactionSoap" binding="tns:WSVisaTransactionSoap">
      <soap:address location="https://192.168.125.16:9443/WSVisaTransaction.asmx"/>
    </wsdl:port>
    <wsdl:port name="WSVisaTransactionSoap12" binding="tns:WSVisaTransactionSoap12">
      <soap12:address location="https://192.168.125.16:9443/WSVisaTransaction.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>