Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/NotificaTransaccion/xsd/notificaTransaccionTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:rcb="http://www.ficohsa.com.hn/middleware.services/notificaTransaccionTypes"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/notificaTransaccionTypes"
	version="1.0">
	
	<!--############################### -->
	<!--OPERACION: NOTIFICA TRANSACCION -->
	<!--############################### -->
		
	<xs:element name="notificaTransaccion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTION_REFERENCE" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_TYPE_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_ERROR_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="BIN" type="xs:string" minOccurs="0" />
				<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
				<xs:element name="TERMINAL_ID" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_CURRENCY" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_AMOUNT" type="xs:decimal" minOccurs="0" />
				<xs:element name="TRANSACTION_ORIGINAL_AMOUNT" type="xs:decimal" minOccurs="0" />
				<xs:element name="TRANSACTION_ORIGINAL_DATE" type="xs:date" minOccurs="0" />
				<xs:element name="TRANSACTION_SOURCE_COUNTRY" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_SOURCE_CITY" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_MERCHANT" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_MERCHANT_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_STATUS" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_AUTH_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_RSP_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_TRACE" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="notificaTransaccionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NOTIFICATION_REFERENCE" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>