Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Documents/RequestorServices/WADL/DocumentsRouter_PS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:ns0="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedienteTypes" xmlns="http://wadl.dev.java.net/2009/02" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes">
   <doc title="DocumentsRouter_PS">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedienteTypes" schemaLocation="../XSD/digitalizacionExpedienteTypes.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes" schemaLocation="../XSD/ingresaExpedienteTypes.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes" schemaLocation="../XSD/cargarImagenBase64RedisTypes.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/createFile">
         <method name="POST" soa:wsdlOperation="createFile">
            <request>
               <representation mediaType="application/json" element="cns:creaExpedienteRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedienteTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:creaExpedienteResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedienteTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/enterFile">
         <method name="POST" soa:wsdlOperation="enterFile">
            <request>
               <representation mediaType="application/json" element="cns:ingresaExpedienteRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ingresaExpedienteResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/saveFile">
         <method name="POST" soa:wsdlOperation="saveFile">
            <request>
               <representation mediaType="application/json" element="cns:cargarImagenBase64RedisRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:cargarImagenBase64RedisResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes"/>
            </response>
         </method>
      </resource>
   </resources>
</application>