Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ProgramaLealtad_v2/wsdl/ProgramaLealtad_v2.wsdl

<WL5G3N0:definitions name="programaLealtadPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/programaLealtad/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/programaLealtadTypes" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/programaLealtad/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/programaLealtad/" xmlns:pro="http://www.ficohsa.com.hn/middleware.services/programaLealtadTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_-1573302169.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/programaLealtad/" xmlns:pro="http://www.ficohsa.com.hn/middleware.services/programaLealtadTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/programaLealtadTypes" schemaLocation="../xsd/XMLSchema_1167975847.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="consultaPuntosLealtadRequest">
    <WL5G3N0:part element="WL5G3N1:consultaPuntosLealtad" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaPuntosLealtadResponse">
    <WL5G3N0:part element="WL5G3N1:consultaPuntosLealtadResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="redencionPuntosLealtadRequest">
    <WL5G3N0:part element="WL5G3N1:redencionPuntosLealtad" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="redencionPuntosLealtadResponse">
    <WL5G3N0:part element="WL5G3N1:redencionPuntosLealtadResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="reversionPuntosLealtadRequest">
    <WL5G3N0:part element="WL5G3N1:reversionPuntosLealtad" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="reversionPuntosLealtadResponse">
    <WL5G3N0:part element="WL5G3N1:reversionPuntosLealtadResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="programaLealtadPS">
    <WL5G3N0:operation name="consultaPuntosLealtad" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaPuntosLealtadRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaPuntosLealtadResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="redencionPuntosLealtad" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:redencionPuntosLealtadRequest"/>
      <WL5G3N0:output message="WL5G3N3:redencionPuntosLealtadResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="reversionPuntosLealtad" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:reversionPuntosLealtadRequest"/>
      <WL5G3N0:output message="WL5G3N3:reversionPuntosLealtadResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="programaLealtadPSSOAP" type="WL5G3N3:programaLealtadPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="consultaPuntosLealtad">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/programaLealtadPS/programaLealtad"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaPuntosLealtadRequest" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaPuntosLealtadResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="redencionPuntosLealtad">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/programaLealtadPS/programaLealtad"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:redencionPuntosLealtadRequest" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:redencionPuntosLealtadResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="reversionPuntosLealtad">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/programaLealtadPS/programaLealtad"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:reversionPuntosLealtadRequest" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:reversionPuntosLealtadResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="programaLealtadPS">
    <WL5G3N0:port binding="WL5G3N3:programaLealtadPSSOAP" name="programaLealtadPSSOAP">
      <WL5G3N4:address location="http://172.23.13.19:8003/Middleware/SalesAndServices/BrandManagement/ProgramaLealtad"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>