Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/validacionCuenta/Resources/XMLSchema_-1002780568.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://ficohsa.com.hn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ficohsa.com.hn/">

<xs:element name="validarCuenta" type="tns:validarCuenta"/>

<xs:element name="validarCuentaResponse" type="tns:validarCuentaResponse"/>

<xs:complexType name="validarCuenta">
<xs:sequence>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="accountName" type="xs:string" minOccurs="0"/>
<xs:element name="checkCancelled" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarCuentaResponse">
<xs:sequence>
<xs:element name="return" type="tns:cuentaResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cuentaResponse">
<xs:sequence>
<xs:element name="accountName" type="xs:string" minOccurs="0"/>
<xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="accountStatus" type="xs:string" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
<xs:element name="statusIndicator" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>