Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/LoanOperations/wsdl/LoanOperations.wsdl

<wsdl:definitions name="loanOperationsPS"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/loanOperationsPS/"
	xmlns:fic="http://www.ficohsa.com.hn/middleware.services/loanOperationsPS/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType"
	xmlns:lno="http://www.ficohsa.com.hn/middleware.services/loanOperationsTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType"
				schemaLocation="../../General/xsd/Header.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://www.ficohsa.com.hn/middleware.services/loanOperationsTypes"
				schemaLocation="../xsd/LoanOperationsTypes.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="loanQueryRequest">
		<wsdl:part element="lno:loanQuery" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="loanQueryResponse">
		<wsdl:part element="lno:loanQueryResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:message name="loanRepaymentRequest">
		<wsdl:part element="lno:loanRepayment" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="loanRepaymentResponse">
		<wsdl:part element="lno:loanRepaymentResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:portType name="loanOperationsPS">
		<wsdl:operation name="loanQuery"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:loanQueryRequest" />
			<wsdl:output message="fic:loanQueryResponse" />
		</wsdl:operation>
		<wsdl:operation name="loanRepayment"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:loanRepaymentRequest" />
			<wsdl:output message="fic:loanRepaymentResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="loanOperationsPSSOAP" type="fic:loanOperationsPS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="loanQuery">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/loanOperationsPS/loanQuery" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:loanQueryRequest" part="RequestHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:loanQueryResponse" part="ResponseHeader"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="loanRepayment">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/loanOperationsPS/loanRepayment" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:loanRepaymentRequest" part="RequestHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:loanRepaymentResponse" part="ResponseHeader"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="loanOperationsPS">
		<wsdl:port binding="fic:loanOperationsPSSOAP" name="loanOperationsPSSOAP">
			<soap:address location="http://mwteller:8004/mwteller/accounts/loanOperations" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>