Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/SJS/consultaMultiplesProductos/xsd/sjConsultaMultipleProductos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaMultipleProductos" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaMultipleProductos" elementFormDefault="qualified" >
	
	<xs:element name="sjConsultaMultipleProductos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="PASSWORD" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="SOURCE_BANK" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="DESTINATION_BANK" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="PRODUCTS" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PRODUCT" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TYPE" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="AHO"></xs:enumeration>
													<xs:enumeration value="CHQ"></xs:enumeration>
													<xs:enumeration value="DEP"></xs:enumeration>
													<xs:enumeration value="FPC"></xs:enumeration>
													<xs:enumeration value="PTM"></xs:enumeration>
													<xs:enumeration value="TRC"></xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="REGION" type="xs:string" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
		
	<xs:element name="sjConsultaMultipleProductosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ASSETS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ASSET" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1" />
										<xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="RESERVE_BALANCE" type="xs:decimal" minOccurs="0" maxOccurs="1" />
										<xs:element name="LOCKED_BALANCE" type="xs:decimal" minOccurs="0" maxOccurs="1" />
										<xs:element name="VISA_FLOATING_BALANCE" type="xs:decimal" minOccurs="0" maxOccurs="1" />
										<xs:element name="CASH_ADVANCE_LIMIT" type="xs:decimal" minOccurs="0" maxOccurs="1" />
										<xs:element name="CASH_ADVANCE_AVAILABLE" type="xs:decimal" minOccurs="0" maxOccurs="1" />
										<xs:element name="INTEREST_BALANCE" type="xs:decimal" minOccurs="0" maxOccurs="1" />
										<xs:element name="TOTAL_BALANCE" type="xs:decimal" minOccurs="0" maxOccurs="1" />
										<xs:element name="AVAILABLE_BALANCE" type="xs:decimal" minOccurs="0" maxOccurs="1" />
										<xs:element name="OPENING_DATE" type="xs:date" minOccurs="0" maxOccurs="1" />
										<xs:element name="TYPE" type="xs:string" minOccurs="1" maxOccurs="1" />
										<xs:element name="SOURCE_BANK" type="xs:string" minOccurs="1" maxOccurs="1" />
										<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="INTERNATIONAL_ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LIABILITIES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LIABILITY" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1" />
										<xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="BALANCES" minOccurs="0" maxOccurs="1">
								 			<xs:complexType>
								 				<xs:sequence>
								 					<xs:element name="BALANCE" minOccurs="0" maxOccurs="unbounded">
								 						<xs:complexType>
								 							<xs:sequence>
								 								<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
								 								<xs:element name="PRINCIPAL" type="xs:decimal" minOccurs="0"/>
								 								<xs:element name="INT_COMM" type="xs:decimal" minOccurs="0"/>
								 								<xs:element name="TOTAL" type="xs:decimal" minOccurs="0"/>
								 								<xs:element name="WITHDRAWAL_LIMIT" type="xs:decimal" minOccurs="0"/>
								 							</xs:sequence>
								 						</xs:complexType>
								 					</xs:element>
								 				</xs:sequence>
								 			</xs:complexType>
							 			</xs:element>
							 			<xs:element name="NEXT_PAYMENT_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
								 		<xs:element name="TSTANDING_TOTAL" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
								 		<xs:element name="CANCELATION_TOTAL" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
								 		<xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
								 		<xs:element name="TYPE" type="xs:string" minOccurs="1" maxOccurs="1"/>
								 		<xs:element name="OPENING_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
								 		<xs:element name="SOURCE_BANK" type="xs:string" minOccurs="1" maxOccurs="1"/>
								 		<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	

</xs:schema>