Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/pagoRecaudos/Resources/PagoRecaudos.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_34994228.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-258408779.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Autorizacionpagorecaudorefefec">
<part name="parameters" element="tns:Autorizacionpagorecaudorefefec"/>
</message>
<message name="AutorizacionpagorecaudorefefecResponse">
<part name="parameters" element="tns:AutorizacionpagorecaudorefefecResponse"/>
</message>
<message name="Pagoderecaudoreferenciadoefec">
<part name="parameters" element="tns:Pagoderecaudoreferenciadoefec"/>
</message>
<message name="PagoderecaudoreferenciadoefecResponse">
<part name="parameters" element="tns:PagoderecaudoreferenciadoefecResponse"/>
</message>
<message name="Pagoderecaudoreferenciadoefec_Validate">
<part name="parameters" element="tns:Pagoderecaudoreferenciadoefec_Validate"/>
</message>
<message name="Pagoderecaudoreferenciadoefec_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudoreferenciadoefec_ValidateResponse"/>
</message>
<message name="Autorizacionpagorecaudorefdbcta">
<part name="parameters" element="tns:Autorizacionpagorecaudorefdbcta"/>
</message>
<message name="AutorizacionpagorecaudorefdbctaResponse">
<part name="parameters" element="tns:AutorizacionpagorecaudorefdbctaResponse"/>
</message>
<message name="Pagoderecaudolocalylineatc">
<part name="parameters" element="tns:Pagoderecaudolocalylineatc"/>
</message>
<message name="PagoderecaudolocalylineatcResponse">
<part name="parameters" element="tns:PagoderecaudolocalylineatcResponse"/>
</message>
<message name="Pagoderecaudolocalylineatc_Validate">
<part name="parameters" element="tns:Pagoderecaudolocalylineatc_Validate"/>
</message>
<message name="Pagoderecaudolocalylineatc_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudolocalylineatc_ValidateResponse"/>
</message>
<message name="Pagorecaudoreferenciadochqintl">
<part name="parameters" element="tns:Pagorecaudoreferenciadochqintl"/>
</message>
<message name="PagorecaudoreferenciadochqintlResponse">
<part name="parameters" element="tns:PagorecaudoreferenciadochqintlResponse"/>
</message>
<message name="Pagorecaudoreferenciadochqintl_Validate">
<part name="parameters" element="tns:Pagorecaudoreferenciadochqintl_Validate"/>
</message>
<message name="Pagorecaudoreferenciadochqintl_ValidateResponse">
<part name="parameters" element="tns:Pagorecaudoreferenciadochqintl_ValidateResponse"/>
</message>
<message name="EliminacionpagorecaudorefFT">
<part name="parameters" element="tns:EliminacionpagorecaudorefFT"/>
</message>
<message name="EliminacionpagorecaudorefFTResponse">
<part name="parameters" element="tns:EliminacionpagorecaudorefFTResponse"/>
</message>
<message name="Pagoderecaudolocalylineachqob">
<part name="parameters" element="tns:Pagoderecaudolocalylineachqob"/>
</message>
<message name="PagoderecaudolocalylineachqobResponse">
<part name="parameters" element="tns:PagoderecaudolocalylineachqobResponse"/>
</message>
<message name="Pagoderecaudolocalylineachqob_Validate">
<part name="parameters" element="tns:Pagoderecaudolocalylineachqob_Validate"/>
</message>
<message name="Pagoderecaudolocalylineachqob_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudolocalylineachqob_ValidateResponse"/>
</message>
<message name="Pagoderecaudolocalylineaefec">
<part name="parameters" element="tns:Pagoderecaudolocalylineaefec"/>
</message>
<message name="PagoderecaudolocalylineaefecResponse">
<part name="parameters" element="tns:PagoderecaudolocalylineaefecResponse"/>
</message>
<message name="Pagoderecaudolocalylineaefec_Validate">
<part name="parameters" element="tns:Pagoderecaudolocalylineaefec_Validate"/>
</message>
<message name="Pagoderecaudolocalylineaefec_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudolocalylineaefec_ValidateResponse"/>
</message>
<message name="EliminacionpagorecaudorefTT">
<part name="parameters" element="tns:EliminacionpagorecaudorefTT"/>
</message>
<message name="EliminacionpagorecaudorefTTResponse">
<part name="parameters" element="tns:EliminacionpagorecaudorefTTResponse"/>
</message>
<message name="Pagoderecaudoreferenciadotc">
<part name="parameters" element="tns:Pagoderecaudoreferenciadotc"/>
</message>
<message name="PagoderecaudoreferenciadotcResponse">
<part name="parameters" element="tns:PagoderecaudoreferenciadotcResponse"/>
</message>
<message name="Pagoderecaudoreferenciadotc_Validate">
<part name="parameters" element="tns:Pagoderecaudoreferenciadotc_Validate"/>
</message>
<message name="Pagoderecaudoreferenciadotc_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudoreferenciadotc_ValidateResponse"/>
</message>
<message name="Pagoderecaudolocalylineadbcta">
<part name="parameters" element="tns:Pagoderecaudolocalylineadbcta"/>
</message>
<message name="PagoderecaudolocalylineadbctaResponse">
<part name="parameters" element="tns:PagoderecaudolocalylineadbctaResponse"/>
</message>
<message name="Pagoderecaudolocalylineadbcta_Validate">
<part name="parameters" element="tns:Pagoderecaudolocalylineadbcta_Validate"/>
</message>
<message name="Pagoderecaudolocalylineadbcta_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudolocalylineadbcta_ValidateResponse"/>
</message>
<message name="Pagoderecaudolocalylineachqin">
<part name="parameters" element="tns:Pagoderecaudolocalylineachqin"/>
</message>
<message name="PagoderecaudolocalylineachqinResponse">
<part name="parameters" element="tns:PagoderecaudolocalylineachqinResponse"/>
</message>
<message name="Pagoderecaudolocalylineachqin_Validate">
<part name="parameters" element="tns:Pagoderecaudolocalylineachqin_Validate"/>
</message>
<message name="Pagoderecaudolocalylineachqin_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudolocalylineachqin_ValidateResponse"/>
</message>
<message name="Pagorecaudoreferenciadoficochq">
<part name="parameters" element="tns:Pagorecaudoreferenciadoficochq"/>
</message>
<message name="PagorecaudoreferenciadoficochqResponse">
<part name="parameters" element="tns:PagorecaudoreferenciadoficochqResponse"/>
</message>
<message name="Pagorecaudoreferenciadoficochq_Validate">
<part name="parameters" element="tns:Pagorecaudoreferenciadoficochq_Validate"/>
</message>
<message name="Pagorecaudoreferenciadoficochq_ValidateResponse">
<part name="parameters" element="tns:Pagorecaudoreferenciadoficochq_ValidateResponse"/>
</message>
<message name="Autorizacionpagorecaudorefobchq">
<part name="parameters" element="tns:Autorizacionpagorecaudorefobchq"/>
</message>
<message name="AutorizacionpagorecaudorefobchqResponse">
<part name="parameters" element="tns:AutorizacionpagorecaudorefobchqResponse"/>
</message>
<message name="Autorizacionpagorecaudoreffichq">
<part name="parameters" element="tns:Autorizacionpagorecaudoreffichq"/>
</message>
<message name="AutorizacionpagorecaudoreffichqResponse">
<part name="parameters" element="tns:AutorizacionpagorecaudoreffichqResponse"/>
</message>
<message name="Pagoderecaudoreferenciadodbcta">
<part name="parameters" element="tns:Pagoderecaudoreferenciadodbcta"/>
</message>
<message name="PagoderecaudoreferenciadodbctaResponse">
<part name="parameters" element="tns:PagoderecaudoreferenciadodbctaResponse"/>
</message>
<message name="Pagoderecaudoreferenciadodbcta_Validate">
<part name="parameters" element="tns:Pagoderecaudoreferenciadodbcta_Validate"/>
</message>
<message name="Pagoderecaudoreferenciadodbcta_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudoreferenciadodbcta_ValidateResponse"/>
</message>
<message name="Pagorecaudoreferenciadochqotrbco">
<part name="parameters" element="tns:Pagorecaudoreferenciadochqotrbco"/>
</message>
<message name="PagorecaudoreferenciadochqotrbcoResponse">
<part name="parameters" element="tns:PagorecaudoreferenciadochqotrbcoResponse"/>
</message>
<message name="Pagorecaudoreferenciadochqotrbco_Validate">
<part name="parameters" element="tns:Pagorecaudoreferenciadochqotrbco_Validate"/>
</message>
<message name="Pagorecaudoreferenciadochqotrbco_ValidateResponse">
<part name="parameters" element="tns:Pagorecaudoreferenciadochqotrbco_ValidateResponse"/>
</message>
<message name="Pagoderecaudolocalylineachqpr">
<part name="parameters" element="tns:Pagoderecaudolocalylineachqpr"/>
</message>
<message name="PagoderecaudolocalylineachqprResponse">
<part name="parameters" element="tns:PagoderecaudolocalylineachqprResponse"/>
</message>
<message name="Pagoderecaudolocalylineachqpr_Validate">
<part name="parameters" element="tns:Pagoderecaudolocalylineachqpr_Validate"/>
</message>
<message name="Pagoderecaudolocalylineachqpr_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudolocalylineachqpr_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Autorizacionpagorecaudorefefec">
<input message="tns:Autorizacionpagorecaudorefefec"/>
<output message="tns:AutorizacionpagorecaudorefefecResponse"/>
</operation>
<operation name="Pagoderecaudoreferenciadoefec">
<input message="tns:Pagoderecaudoreferenciadoefec"/>
<output message="tns:PagoderecaudoreferenciadoefecResponse"/>
</operation>
<operation name="Pagoderecaudoreferenciadoefec_Validate">
<input message="tns:Pagoderecaudoreferenciadoefec_Validate"/>
<output message="tns:Pagoderecaudoreferenciadoefec_ValidateResponse"/>
</operation>
<operation name="Autorizacionpagorecaudorefdbcta">
<input message="tns:Autorizacionpagorecaudorefdbcta"/>
<output message="tns:AutorizacionpagorecaudorefdbctaResponse"/>
</operation>
<operation name="Pagoderecaudolocalylineatc">
<input message="tns:Pagoderecaudolocalylineatc"/>
<output message="tns:PagoderecaudolocalylineatcResponse"/>
</operation>
<operation name="Pagoderecaudolocalylineatc_Validate">
<input message="tns:Pagoderecaudolocalylineatc_Validate"/>
<output message="tns:Pagoderecaudolocalylineatc_ValidateResponse"/>
</operation>
<operation name="Pagorecaudoreferenciadochqintl">
<input message="tns:Pagorecaudoreferenciadochqintl"/>
<output message="tns:PagorecaudoreferenciadochqintlResponse"/>
</operation>
<operation name="Pagorecaudoreferenciadochqintl_Validate">
<input message="tns:Pagorecaudoreferenciadochqintl_Validate"/>
<output message="tns:Pagorecaudoreferenciadochqintl_ValidateResponse"/>
</operation>
<operation name="EliminacionpagorecaudorefFT">
<input message="tns:EliminacionpagorecaudorefFT"/>
<output message="tns:EliminacionpagorecaudorefFTResponse"/>
</operation>
<operation name="Pagoderecaudolocalylineachqob">
<input message="tns:Pagoderecaudolocalylineachqob"/>
<output message="tns:PagoderecaudolocalylineachqobResponse"/>
</operation>
<operation name="Pagoderecaudolocalylineachqob_Validate">
<input message="tns:Pagoderecaudolocalylineachqob_Validate"/>
<output message="tns:Pagoderecaudolocalylineachqob_ValidateResponse"/>
</operation>
<operation name="Pagoderecaudolocalylineaefec">
<input message="tns:Pagoderecaudolocalylineaefec"/>
<output message="tns:PagoderecaudolocalylineaefecResponse"/>
</operation>
<operation name="Pagoderecaudolocalylineaefec_Validate">
<input message="tns:Pagoderecaudolocalylineaefec_Validate"/>
<output message="tns:Pagoderecaudolocalylineaefec_ValidateResponse"/>
</operation>
<operation name="EliminacionpagorecaudorefTT">
<input message="tns:EliminacionpagorecaudorefTT"/>
<output message="tns:EliminacionpagorecaudorefTTResponse"/>
</operation>
<operation name="Pagoderecaudoreferenciadotc">
<input message="tns:Pagoderecaudoreferenciadotc"/>
<output message="tns:PagoderecaudoreferenciadotcResponse"/>
</operation>
<operation name="Pagoderecaudoreferenciadotc_Validate">
<input message="tns:Pagoderecaudoreferenciadotc_Validate"/>
<output message="tns:Pagoderecaudoreferenciadotc_ValidateResponse"/>
</operation>
<operation name="Pagoderecaudolocalylineadbcta">
<input message="tns:Pagoderecaudolocalylineadbcta"/>
<output message="tns:PagoderecaudolocalylineadbctaResponse"/>
</operation>
<operation name="Pagoderecaudolocalylineadbcta_Validate">
<input message="tns:Pagoderecaudolocalylineadbcta_Validate"/>
<output message="tns:Pagoderecaudolocalylineadbcta_ValidateResponse"/>
</operation>
<operation name="Pagoderecaudolocalylineachqin">
<input message="tns:Pagoderecaudolocalylineachqin"/>
<output message="tns:PagoderecaudolocalylineachqinResponse"/>
</operation>
<operation name="Pagoderecaudolocalylineachqin_Validate">
<input message="tns:Pagoderecaudolocalylineachqin_Validate"/>
<output message="tns:Pagoderecaudolocalylineachqin_ValidateResponse"/>
</operation>
<operation name="Pagorecaudoreferenciadoficochq">
<input message="tns:Pagorecaudoreferenciadoficochq"/>
<output message="tns:PagorecaudoreferenciadoficochqResponse"/>
</operation>
<operation name="Pagorecaudoreferenciadoficochq_Validate">
<input message="tns:Pagorecaudoreferenciadoficochq_Validate"/>
<output message="tns:Pagorecaudoreferenciadoficochq_ValidateResponse"/>
</operation>
<operation name="Autorizacionpagorecaudorefobchq">
<input message="tns:Autorizacionpagorecaudorefobchq"/>
<output message="tns:AutorizacionpagorecaudorefobchqResponse"/>
</operation>
<operation name="Autorizacionpagorecaudoreffichq">
<input message="tns:Autorizacionpagorecaudoreffichq"/>
<output message="tns:AutorizacionpagorecaudoreffichqResponse"/>
</operation>
<operation name="Pagoderecaudoreferenciadodbcta">
<input message="tns:Pagoderecaudoreferenciadodbcta"/>
<output message="tns:PagoderecaudoreferenciadodbctaResponse"/>
</operation>
<operation name="Pagoderecaudoreferenciadodbcta_Validate">
<input message="tns:Pagoderecaudoreferenciadodbcta_Validate"/>
<output message="tns:Pagoderecaudoreferenciadodbcta_ValidateResponse"/>
</operation>
<operation name="Pagorecaudoreferenciadochqotrbco">
<input message="tns:Pagorecaudoreferenciadochqotrbco"/>
<output message="tns:PagorecaudoreferenciadochqotrbcoResponse"/>
</operation>
<operation name="Pagorecaudoreferenciadochqotrbco_Validate">
<input message="tns:Pagorecaudoreferenciadochqotrbco_Validate"/>
<output message="tns:Pagorecaudoreferenciadochqotrbco_ValidateResponse"/>
</operation>
<operation name="Pagoderecaudolocalylineachqpr">
<input message="tns:Pagoderecaudolocalylineachqpr"/>
<output message="tns:PagoderecaudolocalylineachqprResponse"/>
</operation>
<operation name="Pagoderecaudolocalylineachqpr_Validate">
<input message="tns:Pagoderecaudolocalylineachqpr_Validate"/>
<output message="tns:Pagoderecaudolocalylineachqpr_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Autorizacionpagorecaudorefefec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoreferenciadoefec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoreferenciadoefec_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Autorizacionpagorecaudorefdbcta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudolocalylineatc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudolocalylineatc_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudoreferenciadochqintl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudoreferenciadochqintl_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminacionpagorecaudorefFT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudolocalylineachqob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudolocalylineachqob_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudolocalylineaefec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudolocalylineaefec_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminacionpagorecaudorefTT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoreferenciadotc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoreferenciadotc_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudolocalylineadbcta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudolocalylineadbcta_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudolocalylineachqin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudolocalylineachqin_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudoreferenciadoficochq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudoreferenciadoficochq_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Autorizacionpagorecaudorefobchq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Autorizacionpagorecaudoreffichq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoreferenciadodbcta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoreferenciadodbcta_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudoreferenciadochqotrbco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudoreferenciadochqotrbco_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudolocalylineachqpr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudolocalylineachqpr_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwomnidesa:7003/svcPagoRecaudos/services"/>
</port>
</service>
</definitions>