Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/PagoRemesaCB/xsd/pagoRemesaCB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoRemesasCBTypes"
	xmlns:pag="http://www.ficohsa.com.hn/middleware.services/pagoRemesasCBTypes">
	
	<xs:complexType name="pagoRemesasResponseType">
		<xs:sequence>
			<xs:element name="REMITTANCE_INFO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="COMPANY_NAME" type="xs:string" minOccurs="0" />
						<xs:element name="ID" type="xs:string" minOccurs="0" />
						<xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
						<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
						<xs:element name="VALUE_DATE" type="xs:string" minOccurs="0" />
						<xs:element name="ORD_PARTY_NAME" type="xs:string" minOccurs="0" />
						<xs:element name="PRICE" type="xs:string" minOccurs="0" />
						<xs:element name="COUNTRY_OF_ORIGIN" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>			
            <xs:element name="BENEFICIARY_INFO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NAME" type="xs:string" minOccurs="0" />
						<xs:element name="ID" type="xs:string" minOccurs="0" />
						<xs:element name="ADDRESS" type="xs:string" minOccurs="0" />
						<xs:element name="COUNTRY" type="xs:string" minOccurs="0" />
						<xs:element name="CITY" type="xs:string" minOccurs="0" />
						<xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
			<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<!--###TYPE: remittanceBeneficiaryType###-->
	<xs:simpleType name = "remittanceBeneficiaryType">
		<xs:restriction base="xs:string">
		<xs:enumeration value="YES"/>
		<xs:enumeration value="NO"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="pagoRemesas">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="REMITTANCE_ID">
	            	<xs:simpleType>
	            		<xs:restriction base="xs:string">
	            			<xs:minLength value="1"/>
	            		</xs:restriction>
	            	</xs:simpleType>
	            </xs:element>	            	
	            <xs:element name="REMITTER_ID">
	            		<xs:simpleType>
	            		<xs:restriction base="xs:string">
	            			<xs:minLength value="1"/>
	            		</xs:restriction>
	            	</xs:simpleType>
	            </xs:element>
	            <xs:element name="BENEFICIARY_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID">
									<xs:simpleType>
	            						<xs:restriction base="xs:string">
	            						<xs:minLength value="1"/>
	            					</xs:restriction>
	            				</xs:simpleType>
	            			</xs:element>
	            			<xs:element name="ID_ISSUE_DATE" type="xs:string" minOccurs="0" />
							<xs:element name="NAME">
								<xs:simpleType>
	            						<xs:restriction base="xs:string">
	            						<xs:minLength value="1"/>
	            					</xs:restriction>
	            				</xs:simpleType>
	            			</xs:element>
							<xs:element name="ID_TYPE" type="xs:string" minOccurs="1" />
							<xs:element name="ADDRESS_TYPE" type="xs:string" minOccurs="1" />
							<xs:element name="CITY">
							<xs:simpleType>
	            						<xs:restriction base="xs:string">
	            						<xs:minLength value="1"/>
	            					</xs:restriction>
	            				</xs:simpleType>
	            			</xs:element>
							<xs:element name="STATE">
							<xs:simpleType>
	            						<xs:restriction base="xs:string">
	            						<xs:minLength value="1"/>
	            					</xs:restriction>
	            				</xs:simpleType>
	            			</xs:element>
							<xs:element name="COUNTRY" type="xs:string"/>
							<xs:element name="NEIGHBORHOOD" type="xs:string"/>
							<xs:element name="PHONE_TYPE" type="xs:string"/>
							<xs:element name="PHONE_NUMBER">
							<xs:simpleType>
	            						<xs:restriction base="xs:string">
	            						<xs:minLength value="8"/>
	            					</xs:restriction>
	            				</xs:simpleType>
	            			</xs:element>	            			
							<xs:element name="OCCUPATION" type="xs:string" minOccurs="0" />								
							<xs:element name="INCOME_SOURCE" type="xs:string" minOccurs="0" />
							<xs:element name="DATE_OF_BIRTH" type="xs:string" minOccurs="0" />
							<xs:element name="ADDRESS">
							<xs:simpleType>
	            						<xs:restriction base="xs:string">
	            						<xs:minLength value="1"/>
	            					</xs:restriction>
	            				</xs:simpleType>
	            			</xs:element>
							<xs:element name="REMITTANCE_BENEFICIARY">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:enumeration value="YES"/>
							      <xs:enumeration value="NO"/>
							    </xs:restriction>
							  </xs:simpleType>
							 </xs:element>							  
	            			 <xs:element name="THIRDPARTY_INFO" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:string"/>
										<xs:element name="NAME" type="xs:string"/>
										<xs:element name="RELATIONSHIP" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GENDER" type="xs:string" minOccurs="0" />									
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CREDIT_ACCOUNT" type="xs:string" minOccurs="1" />
				<xs:element name="BRANCHCODE" type="xs:string" minOccurs="1" />				
				<xs:element name="TELLERID" type="xs:string" minOccurs="1" />
	            <xs:element name="REFERENCE_NUMBER" type="xs:string"/>
	            <xs:element name="ADDITIONAL_INFO" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="INFO" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NAME" type="xs:string" minOccurs="0" />
										<xs:element name="VALUE" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>				
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoRemesasResponse" type="pag:pagoRemesasResponseType"/>

</xs:schema>