Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/consultaCalendarioPagoPrestamo/Resources/ConsultaCalendarioPagoPrestamo/xsd/ORA_BANK_OSB_K_CONSULTAPLANPAGOPRESTAMO_TOPLEVEL-24OSB_CON_PLAN_PAGO_PR.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_K_CONSULTAPLANPAGOPRESTAMO/TOPLEVEL-24OSB_CON_PLAN_PAGO_PR/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_K_CONSULTAPLANPAGOPRESTAMO/TOPLEVEL-24OSB_CON_PLAN_PAGO_PR/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="LOAN_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="BILL_REFERENCE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR302" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BILL_NUMBER" type="db:ORA_BANK.TOPLEVEL_TVARCHAR302" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BILL_DATE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR302" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DESCRIPTION" type="db:ORA_BANK.TOPLEVEL_TVARCHAR2000" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PRINCIPAL_AMOUNT" type="db:ORA_BANK.TOPLEVEL_TVARCHAR302" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="INTEREST_AMOUNT" type="db:ORA_BANK.TOPLEVEL_TVARCHAR302" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="OVERDUE_AMOUNT" type="db:ORA_BANK.TOPLEVEL_TVARCHAR302" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="OTHER_AMOUNT" type="db:ORA_BANK.TOPLEVEL_TVARCHAR302" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BILL_TOTAL_AMOUNT" type="db:ORA_BANK.TOPLEVEL_TVARCHAR302" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BILL_OUTSTANDING_AMOUNT" type="db:ORA_BANK.TOPLEVEL_TVARCHAR302" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BILL_STATUS" type="db:ORA_BANK.TOPLEVEL_TVARCHAR33" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR302">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR2000">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2000"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR33">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>