Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v4/Resources/AbanksGT/InhabilitacionCuenta/xsd/HeaderElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/autType"
	xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
	
	<xs:complexType name="RequestHeader">
		<xs:sequence>
			<xs:element name="Authentication" type="auth:Authentication" />
			<xs:element name="Region" type="auth:Region" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Authentication">
		<xs:sequence>
			<xs:element name="UserName" type="xs:string" />
			<xs:element name="Password" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Region">
		<xs:sequence>
			<xs:element name="SourceBank" type="xs:string"></xs:element>
			<xs:element name="DestinationBank" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ResponseHeader">
		<xs:sequence>
			<xs:element name="transactionId" type="xs:string" minOccurs="0" />
			<xs:element name="messageId" type="xs:string" minOccurs="0" />
			<xs:element name="successIndicator" type="xs:string" minOccurs="0" />
			<xs:element name="application" type="xs:string" minOccurs="0" />
			<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="valueDate" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
		
	<xs:element name="RequestHeader" nillable="true"
		type="auth:RequestHeader" />
		<xs:element name="ResponseHeader" nillable="false"
		type="auth:ResponseHeader" />
			
</xs:schema>