Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ReimpresionRecibo/xsd/reimpresionReciboTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/reimpresionReciboTypes"
	xmlns:rei="http://www.ficohsa.com.hn/middleware.services/reimpresionReciboTypes">

	<xs:element name="reimpresionRecibo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTION_TYPE"> 
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/> 
				<xs:element name="ALTERNATE_TXN_ID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="reimpresionReciboResponse" type="rei:reimpresionReciboResponseType" />	
	
	<xs:complexType name="reimpresionReciboResponseType">
		<xs:sequence>
			<xs:element name="CONTRACT_ID" type="xs:string"/>
			<xs:element name="DEBTOR_CODE" type="xs:string"/>
			<xs:element name="TRANSACTION_DATE" type="xs:string"/>
			<xs:element name="DEALSLIP" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>	

</xs:schema>