Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/CancelacionCuentaAhorros/CancelacionCuentaAhorros.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/cancelacionCuentaAhorrosTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/cancelacionCuentaAhorrosTypes">
	
	<xs:complexType name="cancelacionCuentaAhorrosResponse">
		<xs:sequence>
			<xs:element name="WITHDRAW_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="TELLER_ID" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="USER_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="RTEFORM" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="cancelacionCuentaAhorros">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
	            <xs:element name="CANCEL_MOTIVE" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cancelacionCuentaAhorrosResponse" type="cons:cancelacionCuentaAhorrosResponse"/>
	
</xs:schema>