Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/GestionAccesosUsuarios/wsdl/gestionAccesosUsuariosPS.wsdl

<wsdl:definitions name="gestionAccesosUsuariosPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionAccesosUsuariosPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:ges="http://www.ficohsa.com.hn/middleware.services/gestionAccesosUsuariosPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionAccesosUsuariosTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionAccesosUsuariosTypes" schemaLocation="../xsd/gestionAccesosUsuariosTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestHeader">
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaAccesoUsuario">
		<wsdl:part element="tns:consultaAccesoUsuario" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaAccesoUsuarioResponse">
		<wsdl:part element="tns:consultaAccesoUsuarioResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="creaAccesoUsuario">
		<wsdl:part element="tns:creaAccesoUsuario" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="creaAccesoUsuarioResponse">
		<wsdl:part element="tns:creaAccesoUsuarioResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="modificaAccesoUsuario">
		<wsdl:part element="tns:modificaAccesoUsuario" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="modificaAccesoUsuarioResponse">
		<wsdl:part element="tns:modificaAccesoUsuarioResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="cambiaEstadoAccesoUsuario">
		<wsdl:part element="tns:cambiaEstadoAccesoUsuario" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="cambiaEstadoAccesoUsuarioResponse">
		<wsdl:part element="tns:cambiaEstadoAccesoUsuarioResponse" name="result"/>
	</wsdl:message>
	<wsdl:portType name="gestionAccesosUsuariosPS">
		<wsdl:operation name="consultaAccesoUsuario" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="ges:consultaAccesoUsuario"/>
			<wsdl:output message="ges:consultaAccesoUsuarioResponse"/>
		</wsdl:operation>
		<wsdl:operation name="creaAccesoUsuario" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="ges:creaAccesoUsuario"/>
			<wsdl:output message="ges:creaAccesoUsuarioResponse"/>
		</wsdl:operation>
		<wsdl:operation name="modificaAccesoUsuario" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="ges:modificaAccesoUsuario"/>
			<wsdl:output message="ges:modificaAccesoUsuarioResponse"/>
		</wsdl:operation>
		<wsdl:operation name="cambiaEstadoAccesoUsuario" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="ges:cambiaEstadoAccesoUsuario"/>
			<wsdl:output message="ges:cambiaEstadoAccesoUsuarioResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="gestionAccesosUsuariosPSSOAP" type="ges:gestionAccesosUsuariosPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaAccesoUsuario">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionAccesosUsuariosPS/consultaAccesoUsuario"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
				<soap:header message="ges:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
				<soap:header message="ges:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="creaAccesoUsuario">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionAccesosUsuariosPS/creaAccesoUsuario"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
				<soap:header message="ges:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
				<soap:header message="ges:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificaAccesoUsuario">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionAccesosUsuariosPS/modificaAccesoUsuario"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
				<soap:header message="ges:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
				<soap:header message="ges:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cambiaEstadoAccesoUsuario">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionAccesosUsuariosPS/cambiaEstadoAccesoUsuario"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
				<soap:header message="ges:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
				<soap:header message="ges:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="gestionAccesosUsuariosPS">
		<wsdl:port binding="ges:gestionAccesosUsuariosPSSOAP" name="gestionAccesosUsuariosPSSOAP">
			<soap:address location="https://172.23.13.19:8004/Middleware/OperationsAndExecution/Users/GestionAccesosUsuarios"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>