Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaInventario/xsd/consultaInventarioTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaInventarioTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaInventarioTypes">

	<xs:element name="consultaInventario">
		<xs:complexType>
			<xs:sequence>
	        	<xs:element name="STOCK_CODE" type="xs:string" minOccurs="0"/>	
	        	<xs:element name="STOCK_SUBCODE" type="xs:string" minOccurs="0"/>
	        	<xs:element name="DISCOUNT_CODE" type="xs:string" minOccurs="0"/>
	        	<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaInventarioResponse" type="cons:consultaInventarioResponseType"/>
	
	<xs:complexType name="consultaInventarioResponseType">
		<xs:sequence>
			<xs:element name="consultaInventarioResponseType" type="cons:consultaInventarioResponseRecordType"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaInventarioResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaInventarioResponseRecordType" type="cons:consultaInventarioResponseRecordArrayType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaInventarioResponseRecordArrayType">
		<xs:sequence>
			<xs:element name="STOCK_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="STOCK_SUBCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="UNIT_PRICE" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
			<xs:element name="AVAILABLE" type="xs:string" minOccurs="0"/>
			<xs:element name="STOCK_DETAILS" type="cons:stockDetails" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="stockDetails">
		<xs:sequence>
			<xs:element name="STOCK_DETAIL" type="cons:stockDetail" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="stockDetail">
		<xs:sequence>
			<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="STOCK_AMOUNT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	
</xs:schema>