Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CNV/registroBitacoraPagoSeguro/xsd/RegistroBitacoraPagoSeguro_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/RegistroBitacoraPagoSeguro" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/RegistroBitacoraPagoSeguro" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_UUID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CUENTA" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_POLIZA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PC_REQUEST" type="string" db:index="4" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="PC_RESPONSE" type="string" db:index="5" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="PV_PRODUCT" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CREDICT_ACCOUNT" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PAYMENT_CURRENCY" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true" block="#all"/>
            <element name="PV_PAYMENT_AMOUNT" type="string" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_STATUS" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CERTIFICATE_NUMB" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_INSTALLMENT_NUMB" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TRANSACTION_ID" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MESSAGE_ERROR" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_ERROR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>