Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/GestionesSolicitudCredito/wsdl/gestionesSolicitudCreditoPS.wsdl

<wsdl:definitions name="gestionesSolicitudCreditoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sol="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoTypes" schemaLocation="../xsd/gestionesSolicitudCreditoTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>


	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="precalificacionCliente">
		<wsdl:part element="tns:precalificacionCliente" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="precalificacionClienteResponse">
		<wsdl:part element="tns:precalificacionClienteResponse" name="result"/>
	</wsdl:message>


	<wsdl:message name="confirmacionPrecalificacionCliente">
		<wsdl:part element="tns:confirmacionPrecalificacionCliente" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="confirmacionPrecalificacionClienteResponse">
		<wsdl:part element="tns:confirmacionPrecalificacionClienteResponse" name="result"/>
	</wsdl:message>


	<wsdl:message name="evaluacionSolicitudTarjetaCredito">
		<wsdl:part element="tns:evaluacionSolicitudTarjetaCredito" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="evaluacionSolicitudTarjetaCreditoResponse">
		<wsdl:part element="tns:evaluacionSolicitudTarjetaCreditoResponse" name="result"/>
	</wsdl:message>
    
    <wsdl:message name="confirmacionSolicitudPrestamoTarjetaCredito">
		<wsdl:part element="tns:confirmacionSolicitudPrestamoTarjetaCredito" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="confirmacionSolicitudPrestamoTarjetaCreditoResponse">
		<wsdl:part element="tns:confirmacionSolicitudPrestamoTarjetaCreditoResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="confirmacionSolicitudTarjetaCredito">
		<wsdl:part element="tns:confirmacionSolicitudTarjetaCredito" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="confirmacionSolicitudTarjetaCreditoResponse">
		<wsdl:part element="tns:confirmacionSolicitudTarjetaCreditoResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="evaluacionSolicitudPrestamoTarjetaCredito">
		<wsdl:part element="tns:evaluacionSolicitudPrestamoTarjetaCredito" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="evaluacionSolicitudPrestamoTarjetaCreditoResponse">
		<wsdl:part element="tns:evaluacionSolicitudPrestamoTarjetaCreditoResponse" name="result"/>
	</wsdl:message>


	<wsdl:message name="actualizacionEstadoSolicitudCredito">
		<wsdl:part element="tns:actualizacionEstadoSolicitudCredito" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="actualizacionEstadoSolicitudCreditoResponse">
		<wsdl:part element="tns:actualizacionEstadoSolicitudCreditoResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="calificacionBlaze">
		<wsdl:part element="tns:calificacionBlaze" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="calificacionBlazeResponse">
		<wsdl:part element="tns:calificacionBlazeResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="resultadoCalificacionBlaze">
		<wsdl:part element="tns:resultadoCalificacionBlaze" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="resultadoCalificacionBlazeResponse">
		<wsdl:part element="tns:resultadoCalificacionBlazeResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="gestionesSolicitudCreditoPS">
		<wsdl:operation name="precalificacionCliente" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="sol:precalificacionCliente"/>
			<wsdl:output message="sol:precalificacionClienteResponse"/>
		</wsdl:operation>

		<wsdl:operation name="confirmacionPrecalificacionCliente" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="sol:confirmacionPrecalificacionCliente"/>
			<wsdl:output message="sol:confirmacionPrecalificacionClienteResponse"/>
		</wsdl:operation>


		<wsdl:operation name="evaluacionSolicitudTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="sol:evaluacionSolicitudTarjetaCredito"/>
			<wsdl:output message="sol:evaluacionSolicitudTarjetaCreditoResponse"/>
		</wsdl:operation>
        
        <wsdl:operation name="confirmacionSolicitudPrestamoTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="sol:confirmacionSolicitudPrestamoTarjetaCredito"/>
			<wsdl:output message="sol:confirmacionSolicitudPrestamoTarjetaCreditoResponse"/>
		</wsdl:operation>

		<wsdl:operation name="confirmacionSolicitudTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="sol:confirmacionSolicitudTarjetaCredito"/>
			<wsdl:output message="sol:confirmacionSolicitudTarjetaCreditoResponse"/>
		</wsdl:operation>

		<wsdl:operation name="evaluacionSolicitudPrestamoTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="sol:evaluacionSolicitudPrestamoTarjetaCredito"/>
			<wsdl:output message="sol:evaluacionSolicitudPrestamoTarjetaCreditoResponse"/>
		</wsdl:operation>

		<wsdl:operation name="actualizacionEstadoSolicitudCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="sol:actualizacionEstadoSolicitudCredito"/>
			<wsdl:output message="sol:actualizacionEstadoSolicitudCreditoResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="calificacionBlaze" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="sol:calificacionBlaze"/>
			<wsdl:output message="sol:calificacionBlazeResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="resultadoCalificacionBlaze" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="sol:resultadoCalificacionBlaze"/>
			<wsdl:output message="sol:resultadoCalificacionBlazeResponse"/>
		</wsdl:operation>

	</wsdl:portType>




	<wsdl:binding name="gestionesSolicitudCreditoPSSOAP" type="sol:gestionesSolicitudCreditoPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="precalificacionCliente">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/precalificacionCliente"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="sol:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>

			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="sol:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="confirmacionPrecalificacionCliente">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/confirmacionPrecalificacionCliente"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="sol:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>

			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="sol:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="evaluacionSolicitudTarjetaCredito">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/evaluacionSolicitudTarjetaCredito"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="sol:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>

			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="sol:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
        
        <wsdl:operation name="confirmacionSolicitudPrestamoTarjetaCredito">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/confirmacionSolicitudPrestamoTarjetaCredito"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="sol:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>

			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="sol:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="confirmacionSolicitudTarjetaCredito">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/confirmacionSolicitudTarjetaCredito"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="sol:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>

			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="sol:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="evaluacionSolicitudPrestamoTarjetaCredito">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/evaluacionSolicitudPrestamoTarjetaCredito"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="sol:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>

			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="sol:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="actualizacionEstadoSolicitudCredito">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/actualizacionEstadoSolicitudCredito"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="sol:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>

			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="sol:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="calificacionBlaze">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/calificacionBlaze"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="sol:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>

			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="sol:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="resultadoCalificacionBlaze">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/resultadoCalificacionBlaze"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="sol:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>

			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="sol:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="gestionesSolicitudCreditoPS">
		<wsdl:port binding="sol:gestionesSolicitudCreditoPSSOAP" name="gestionesSolicitudCreditoPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/GestionesSolicitudCredito/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>