Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ConsultaClientePorNombre/xsd/ConsultaClientePorNombre_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaClientePorNombre" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaClientePorNombre" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_NOMBRE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PAGINAR" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PI_INICIO_PAGINAR" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PI_NUMERO_REGISTROS" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_LISTA_CLIENTE" type="db:PAGOSWS.TABLA_OBJ_CLIENTE" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PAGOSWS.TABLA_OBJ_CLIENTE">
      <sequence>
         <element name="PT_LISTA_CLIENTE_ITEM" type="db:PAGOSWS.LG_OBJ_CLIENTE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.LG_OBJ_CLIENTE">
      <sequence>
         <element name="NOMBRE_COMPLETO" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRIMER_APELLIDO" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGUNDO_APELLIDO" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_CLIENTE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
</schema>