Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/MovilGetPushReceipt/xsd/movilGetPushReceipt_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/movilGetPushReceipt" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/movilGetPushReceipt" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CARDNUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_ENCRYPTEDCARDINFO" type="db:DIGITARCLI.OT_ANDES_ENCRYPTEDPAYLOAD" db:index="2" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_REQUESTID" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURNCODE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERRORDESCRIPTION" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_INSTITUTIONCODE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CARDHOLDERNAME" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PNP" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DIGITARCLI.OT_ANDES_ENCRYPTEDPAYLOAD">
      <sequence>
         <element name="ALGORITHM" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NONCE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="IV" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ENCRYPTEDDATA" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="ASSOCIATEDDATA" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="MACLENGTH" type="int" db:type="INTEGER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
</schema>