Fuentes/ficohsacore-hncard-488b7ad93302/SBHN_Card/SBHN_Card_CustomizeCreditCardPin/Resources/creditCardOperationsServices.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ficohsa.com.hn/schema/creditCardOperationTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/schema/creditCardOperationTypes" targetNamespace="http://www.ficohsa.com.hn/schema/creditCardOperationTypes">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/schema/creditCardOperationTypes" version="1.0">
<xs:element name="setNewPinRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="cardNumber" type="xs:string"/>
<xs:element name="pin" type="xs:string"/>
<xs:element name="cryptographicKeyPinBlock" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="setNewPinResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
<xs:element name="cardNumber" type="xs:string"/>
<xs:element name="pin" type="xs:string"/>
<xs:element name="PinBlock" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="setNewPinRequest">
<wsdl:part element="tns:setNewPinRequest" name="setNewPinRequest"/>
</wsdl:message>
<wsdl:message name="setNewPinResponse">
<wsdl:part element="tns:setNewPinResponse" name="setNewPinResponse"/>
</wsdl:message>
<wsdl:portType name="CreditCardOperationsEndpoint">
<wsdl:operation name="setNewPin">
<wsdl:input message="tns:setNewPinRequest" name="setNewPinRequest"/>
<wsdl:output message="tns:setNewPinResponse" name="setNewPinResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CreditCardOperationsEndpointSoap11" type="tns:CreditCardOperationsEndpoint">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="setNewPin">
<soap:operation soapAction=""/>
<wsdl:input name="setNewPinRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="setNewPinResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CreditCardOperationsEndpointService">
<wsdl:port binding="tns:CreditCardOperationsEndpointSoap11" name="CreditCardOperationsEndpointSoap11">
<soap:address location="http://mwdesatgu.gfficohsa.hn:7003/credit-card-operation-services/ws/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>