Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaExtrafinanciamientoDisponible/xsd/consultaExtrafinanciamientoDisponibleTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaExtrafinanciamientoDisponibleTypes"
	xmlns:dnh="http://www.ficohsa.com.hn/middleware.services/consultaExtrafinanciamientoDisponibleTypes">    
    
    <xs:simpleType name="stringMinLengt1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="searchCriteria">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CARD_NUMBER" />
			<xs:enumeration value="ACC_NUMBER" />
		</xs:restriction>
	</xs:simpleType>

	
	 <xs:complexType name="termbreakdownInformation">
          <xs:sequence>
              <xs:element name="AMOUNT" type="xs:decimal" minOccurs="0" />
              <xs:element name="TERM" type="xs:decimal" minOccurs="0" />
          </xs:sequence>
	</xs:complexType>
    
	<xs:element name="consultaExtrafinanciamientoDisponible">
		<xs:complexType>
			<xs:sequence>							
				<xs:element name="SEARCH_VALUE" type="dnh:string19"/>
				<xs:element name="SEARCH_CRITERIA" minOccurs="0" type="dnh:searchCriteria"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


    <xs:element name="consultaExtrafinanciamientoDisponibleResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="AVAILABLE_AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="FEE_AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="INTEREST_RATE" type="xs:decimal" minOccurs="0"/>
				<xs:element name="DUE_DATE" type="xs:date" minOccurs="0"/>
                <xs:element name="AVAILABLE" type="xs:string" minOccurs="0"/>
                <xs:element name="TERMBREAKDOWN_INFORMATION" type="dnh:termbreakdownInformation" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="NUMBER_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
                <xs:element name="OFFER_TYPE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
   <xs:simpleType name="string19">
      <xs:restriction base="xs:string">
         <xs:maxLength value="19"/>
         <xs:minLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
	
</xs:schema>