Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/GetRemittancesType/getRemittancesType_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/getRemittancesType" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/getRemittancesType" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CLAVE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIO_SERVICIO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_TIPOS_REMESADORAS" type="db:MWSERVICES.T_TIPOS_REMESADORAS" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_SUCCESS_INDICATOR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MESSAGES" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="MWSERVICES.T_TIPOS_REMESADORAS">
      <sequence>
         <element name="PT_TIPOS_REMESADORAS_ITEM" type="db:MWSERVICES.T_TIPO_REMESADORA" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="MWSERVICES.T_TIPO_REMESADORA">
      <sequence>
         <element name="PV_NOMBRE_REMESADORA" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_TIPO_REMESADORA" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PN_ID_CONVENIO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_ID_CONVENIO_T24" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_ABREVIATURA_REMESADORA" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PN_PRIORIDAD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
</schema>
