Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/CancelacionCuenta.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/CancelacionCuenta/XMLSchema_2083638889.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/CancelacionCuenta/XMLSchema_1790235882.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Cancelaciondecuentaparte1">
<part name="parameters" element="tns:Cancelaciondecuentaparte1"/>
</message>
<message name="Cancelaciondecuentaparte1Response">
<part name="parameters" element="tns:Cancelaciondecuentaparte1Response"/>
</message>
<message name="Cancelaciondecuentaparte1_Validate">
<part name="parameters" element="tns:Cancelaciondecuentaparte1_Validate"/>
</message>
<message name="Cancelaciondecuentaparte1_ValidateResponse">
<part name="parameters" element="tns:Cancelaciondecuentaparte1_ValidateResponse"/>
</message>
<message name="Cancelaciondecuentaparte2">
<part name="parameters" element="tns:Cancelaciondecuentaparte2"/>
</message>
<message name="Cancelaciondecuentaparte2Response">
<part name="parameters" element="tns:Cancelaciondecuentaparte2Response"/>
</message>
<message name="Cancelaciondecuentaparte2_Validate">
<part name="parameters" element="tns:Cancelaciondecuentaparte2_Validate"/>
</message>
<message name="Cancelaciondecuentaparte2_ValidateResponse">
<part name="parameters" element="tns:Cancelaciondecuentaparte2_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Cancelaciondecuentaparte1">
<input message="tns:Cancelaciondecuentaparte1"/>
<output message="tns:Cancelaciondecuentaparte1Response"/>
</operation>
<operation name="Cancelaciondecuentaparte1_Validate">
<input message="tns:Cancelaciondecuentaparte1_Validate"/>
<output message="tns:Cancelaciondecuentaparte1_ValidateResponse"/>
</operation>
<operation name="Cancelaciondecuentaparte2">
<input message="tns:Cancelaciondecuentaparte2"/>
<output message="tns:Cancelaciondecuentaparte2Response"/>
</operation>
<operation name="Cancelaciondecuentaparte2_Validate">
<input message="tns:Cancelaciondecuentaparte2_Validate"/>
<output message="tns:Cancelaciondecuentaparte2_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cancelaciondecuentaparte1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cancelaciondecuentaparte1_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cancelaciondecuentaparte2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cancelaciondecuentaparte2_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.54:7003/svcCancelacionCuenta/services"/>
</port>
</service>
</definitions>