Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/CertifCheque.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/CertifCheque/XMLSchema_1487899801.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/CertifCheque/XMLSchema_1194496794.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Consultadechqcertificado">
<part name="parameters" element="tns:Consultadechqcertificado"/>
</message>
<message name="ConsultadechqcertificadoResponse">
<part name="parameters" element="tns:ConsultadechqcertificadoResponse"/>
</message>
<message name="Certificaciondecheques">
<part name="parameters" element="tns:Certificaciondecheques"/>
</message>
<message name="CertificaciondechequesResponse">
<part name="parameters" element="tns:CertificaciondechequesResponse"/>
</message>
<message name="Certificaciondecheques_Validate">
<part name="parameters" element="tns:Certificaciondecheques_Validate"/>
</message>
<message name="Certificaciondecheques_ValidateResponse">
<part name="parameters" element="tns:Certificaciondecheques_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Consultadechqcertificado">
<input message="tns:Consultadechqcertificado"/>
<output message="tns:ConsultadechqcertificadoResponse"/>
</operation>
<operation name="Certificaciondecheques">
<input message="tns:Certificaciondecheques"/>
<output message="tns:CertificaciondechequesResponse"/>
</operation>
<operation name="Certificaciondecheques_Validate">
<input message="tns:Certificaciondecheques_Validate"/>
<output message="tns:Certificaciondecheques_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadechqcertificado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Certificaciondecheques">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Certificaciondecheques_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.250:7003/svcCertifCheque/services"/>
</port>
</service>
</definitions>