Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/ConsultasCliente.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/ConsultasCliente/XMLSchema_1438241299.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/ConsultasCliente/XMLSchema_1144838292.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Consultadesobregirosporcliente">
<part name="parameters" element="tns:Consultadesobregirosporcliente"/>
</message>
<message name="ConsultadesobregirosporclienteResponse">
<part name="parameters" element="tns:ConsultadesobregirosporclienteResponse"/>
</message>
<message name="Consultadesociosporcliente">
<part name="parameters" element="tns:Consultadesociosporcliente"/>
</message>
<message name="ConsultadesociosporclienteResponse">
<part name="parameters" element="tns:ConsultadesociosporclienteResponse"/>
</message>
<message name="Consultadecertifdepporcliente">
<part name="parameters" element="tns:Consultadecertifdepporcliente"/>
</message>
<message name="ConsultadecertifdepporclienteResponse">
<part name="parameters" element="tns:ConsultadecertifdepporclienteResponse"/>
</message>
<message name="Tarjetasdecreditoporcliente">
<part name="parameters" element="tns:Tarjetasdecreditoporcliente"/>
</message>
<message name="TarjetasdecreditoporclienteResponse">
<part name="parameters" element="tns:TarjetasdecreditoporclienteResponse"/>
</message>
<message name="Consultadeprestamosporcliente">
<part name="parameters" element="tns:Consultadeprestamosporcliente"/>
</message>
<message name="ConsultadeprestamosporclienteResponse">
<part name="parameters" element="tns:ConsultadeprestamosporclienteResponse"/>
</message>
<message name="Consultadectasahorroporcliente">
<part name="parameters" element="tns:Consultadectasahorroporcliente"/>
</message>
<message name="ConsultadectasahorroporclienteResponse">
<part name="parameters" element="tns:ConsultadectasahorroporclienteResponse"/>
</message>
<message name="Cuentasdeservicioporcliente">
<part name="parameters" element="tns:Cuentasdeservicioporcliente"/>
</message>
<message name="CuentasdeservicioporclienteResponse">
<part name="parameters" element="tns:CuentasdeservicioporclienteResponse"/>
</message>
<message name="Consultactascorrienteporcliente">
<part name="parameters" element="tns:Consultactascorrienteporcliente"/>
</message>
<message name="ConsultactascorrienteporclienteResponse">
<part name="parameters" element="tns:ConsultactascorrienteporclienteResponse"/>
</message>
<message name="Consultadelimitesporcliente">
<part name="parameters" element="tns:Consultadelimitesporcliente"/>
</message>
<message name="ConsultadelimitesporclienteResponse">
<part name="parameters" element="tns:ConsultadelimitesporclienteResponse"/>
</message>
<message name="Referenciasporcliente">
<part name="parameters" element="tns:Referenciasporcliente"/>
</message>
<message name="ReferenciasporclienteResponse">
<part name="parameters" element="tns:ReferenciasporclienteResponse"/>
</message>
<message name="Consultadecliente">
<part name="parameters" element="tns:Consultadecliente"/>
</message>
<message name="ConsultadeclienteResponse">
<part name="parameters" element="tns:ConsultadeclienteResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Consultadesobregirosporcliente">
<input message="tns:Consultadesobregirosporcliente"/>
<output message="tns:ConsultadesobregirosporclienteResponse"/>
</operation>
<operation name="Consultadesociosporcliente">
<input message="tns:Consultadesociosporcliente"/>
<output message="tns:ConsultadesociosporclienteResponse"/>
</operation>
<operation name="Consultadecertifdepporcliente">
<input message="tns:Consultadecertifdepporcliente"/>
<output message="tns:ConsultadecertifdepporclienteResponse"/>
</operation>
<operation name="Tarjetasdecreditoporcliente">
<input message="tns:Tarjetasdecreditoporcliente"/>
<output message="tns:TarjetasdecreditoporclienteResponse"/>
</operation>
<operation name="Consultadeprestamosporcliente">
<input message="tns:Consultadeprestamosporcliente"/>
<output message="tns:ConsultadeprestamosporclienteResponse"/>
</operation>
<operation name="Consultadectasahorroporcliente">
<input message="tns:Consultadectasahorroporcliente"/>
<output message="tns:ConsultadectasahorroporclienteResponse"/>
</operation>
<operation name="Cuentasdeservicioporcliente">
<input message="tns:Cuentasdeservicioporcliente"/>
<output message="tns:CuentasdeservicioporclienteResponse"/>
</operation>
<operation name="Consultactascorrienteporcliente">
<input message="tns:Consultactascorrienteporcliente"/>
<output message="tns:ConsultactascorrienteporclienteResponse"/>
</operation>
<operation name="Consultadelimitesporcliente">
<input message="tns:Consultadelimitesporcliente"/>
<output message="tns:ConsultadelimitesporclienteResponse"/>
</operation>
<operation name="Referenciasporcliente">
<input message="tns:Referenciasporcliente"/>
<output message="tns:ReferenciasporclienteResponse"/>
</operation>
<operation name="Consultadecliente">
<input message="tns:Consultadecliente"/>
<output message="tns:ConsultadeclienteResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadesobregirosporcliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadesociosporcliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadecertifdepporcliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tarjetasdecreditoporcliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadeprestamosporcliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadectasahorroporcliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cuentasdeservicioporcliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultactascorrienteporcliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadelimitesporcliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Referenciasporcliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadecliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.54:7003/svcConsultasCliente/services"/>
</port>
</service>
</definitions>