Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/ConsultasCuenta.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/ConsultasCuenta/XMLSchema_672394011.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/ConsultasCuenta/XMLSchema_378991004.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Consultadecuentascanceladas">
<part name="parameters" element="tns:Consultadecuentascanceladas"/>
</message>
<message name="ConsultadecuentascanceladasResponse">
<part name="parameters" element="tns:ConsultadecuentascanceladasResponse"/>
</message>
<message name="Consultadesaldodecuenta">
<part name="parameters" element="tns:Consultadesaldodecuenta"/>
</message>
<message name="ConsultadesaldodecuentaResponse">
<part name="parameters" element="tns:ConsultadesaldodecuentaResponse"/>
</message>
<message name="Consultadedetallesdelacuenta">
<part name="parameters" element="tns:Consultadedetallesdelacuenta"/>
</message>
<message name="ConsultadedetallesdelacuentaResponse">
<part name="parameters" element="tns:ConsultadedetallesdelacuentaResponse"/>
</message>
<message name="Consultasaldopromcuenta">
<part name="parameters" element="tns:Consultasaldopromcuenta"/>
</message>
<message name="ConsultasaldopromcuentaResponse">
<part name="parameters" element="tns:ConsultasaldopromcuentaResponse"/>
</message>
<message name="Consultademovimientosdecta">
<part name="parameters" element="tns:Consultademovimientosdecta"/>
</message>
<message name="ConsultademovimientosdectaResponse">
<part name="parameters" element="tns:ConsultademovimientosdectaResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Consultadecuentascanceladas">
<input message="tns:Consultadecuentascanceladas"/>
<output message="tns:ConsultadecuentascanceladasResponse"/>
</operation>
<operation name="Consultadesaldodecuenta">
<input message="tns:Consultadesaldodecuenta"/>
<output message="tns:ConsultadesaldodecuentaResponse"/>
</operation>
<operation name="Consultadedetallesdelacuenta">
<input message="tns:Consultadedetallesdelacuenta"/>
<output message="tns:ConsultadedetallesdelacuentaResponse"/>
</operation>
<operation name="Consultasaldopromcuenta">
<input message="tns:Consultasaldopromcuenta"/>
<output message="tns:ConsultasaldopromcuentaResponse"/>
</operation>
<operation name="Consultademovimientosdecta">
<input message="tns:Consultademovimientosdecta"/>
<output message="tns:ConsultademovimientosdectaResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadecuentascanceladas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadesaldodecuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadedetallesdelacuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultasaldopromcuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultademovimientosdecta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.250:7003/svcConsultasCuenta/services"/>
</port>
</service>
</definitions>