Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/LiquidacionFondosExt.wsdl

<wsdl:definitions targetNamespace="http://www.ficohsa.com.hn/middleware.services/liquidacionFondosExt/" name="liquidacionFondosExtPS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/liquidacionFondosExt/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:liq="http://www.ficohsa.com.hn/middleware.services/liquidacionFondosExtTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsds/General/Autenticacion.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/liquidacionFondosExtTypes" schemaLocation="../xsds/LiquidacionFondosExt/LiquidacionFondosExt.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="consultaFondosExtRequest">
		<wsdl:part element="liq:consultaFondosExt" name="parameters"/>
		<wsdl:part name="AutenticacionRequestHeader" element="auth:AutenticacionRequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaFondosExtResponse">
		<wsdl:part element="liq:consultaFondosExtResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="liquidacionFondosExtRequest">
		<wsdl:part element="liq:liquidacionFondosExt" name="parameters"/>
		<wsdl:part name="AutenticacionRequestHeader" element="auth:AutenticacionRequestHeader"/>
	</wsdl:message>
	<wsdl:message name="liquidacionFondosExtResponse">
		<wsdl:part element="liq:liquidacionFondosExtResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:portType name="liquidacionFondosExtPS">
		<wsdl:operation name="consultaFondosExt" parameterOrder="parameters AutenticacionRequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaFondosExtRequest"/>
			<wsdl:output message="fic:consultaFondosExtResponse"/>
		</wsdl:operation>
		<wsdl:operation name="liquidacionFondosExt" parameterOrder="parameters AutenticacionRequestHeader ResponseHeader">
			<wsdl:input message="fic:liquidacionFondosExtRequest"/>
			<wsdl:output message="fic:liquidacionFondosExtResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="liquidacionFondosExtPSSOAP" type="fic:liquidacionFondosExtPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaFondosExt">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/liquidacionFondosExt/liquidacionFondosExt"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:consultaFondosExtRequest" part="AutenticacionRequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:consultaFondosExtResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="liquidacionFondosExt">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/liquidacionFondosExt/liquidacionFondosExt"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:liquidacionFondosExtRequest" part="AutenticacionRequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:liquidacionFondosExtResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="liquidacionFondosExtPS">
		<wsdl:port binding="fic:liquidacionFondosExtPSSOAP" name="liquidacionFondosExtPSSOAP">
	  		<soap:address location="http://mwcaja1:8003/MiddlewareCaja/liquidacionFondosExt"/>
	   	</wsdl:port>
	</wsdl:service>
</wsdl:definitions>