Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/mapeoErroresProxy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/mapeoErroresProxy/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="mapeoErroresProxy" targetNamespace="http://www.example.org/mapeoErroresProxy/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/mapeoErroresProxy/">
      <xsd:element name="mapeoErrores">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TEXTO_ERROR" type="xsd:string"/>
            <xsd:element name="CODIGO_ERROR" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mapeoErroresResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MENSAJE_MAPEADO" type="xsd:string"/>
            <xsd:element name="CODIGO_ERROR" type="xsd:string"/>
            <xsd:element name="DESCRIPCION_ERROR" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="mapeoErroresRequest">
    <wsdl:part element="tns:mapeoErrores" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mapeoErroresResponse">
    <wsdl:part element="tns:mapeoErroresResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="mapeoErroresProxy">
    <wsdl:operation name="mapeoErrores">
      <wsdl:input message="tns:mapeoErroresRequest"/>
      <wsdl:output message="tns:mapeoErroresResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="mapeoErroresProxySOAP" type="tns:mapeoErroresProxy">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="mapeoErrores">
      <soap:operation soapAction="http://www.example.org/mapeoErroresProxy/mapeoErrores"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="mapeoErroresProxy">
    <wsdl:port binding="tns:mapeoErroresProxySOAP" name="mapeoErroresProxySOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>