Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/MovEfectivo.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/MovEfectivo/XMLSchema_2057389014.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/MovEfectivo/XMLSchema_1763986007.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="VentaMenorDicorp">
<part name="parameters" element="tns:VentaMenorDicorp"/>
</message>
<message name="VentaMenorDicorpResponse">
<part name="parameters" element="tns:VentaMenorDicorpResponse"/>
</message>
<message name="VentaMenorDicorp_Validate">
<part name="parameters" element="tns:VentaMenorDicorp_Validate"/>
</message>
<message name="VentaMenorDicorp_ValidateResponse">
<part name="parameters" element="tns:VentaMenorDicorp_ValidateResponse"/>
</message>
<message name="Movimientoefecdesdeboveda">
<part name="parameters" element="tns:Movimientoefecdesdeboveda"/>
</message>
<message name="MovimientoefecdesdebovedaResponse">
<part name="parameters" element="tns:MovimientoefecdesdebovedaResponse"/>
</message>
<message name="Movimientoefecdesdeboveda_Validate">
<part name="parameters" element="tns:Movimientoefecdesdeboveda_Validate"/>
</message>
<message name="Movimientoefecdesdeboveda_ValidateResponse">
<part name="parameters" element="tns:Movimientoefecdesdeboveda_ValidateResponse"/>
</message>
<message name="Movimientodeefechaciaboveda">
<part name="parameters" element="tns:Movimientodeefechaciaboveda"/>
</message>
<message name="MovimientodeefechaciabovedaResponse">
<part name="parameters" element="tns:MovimientodeefechaciabovedaResponse"/>
</message>
<message name="Movimientodeefechaciaboveda_Validate">
<part name="parameters" element="tns:Movimientodeefechaciaboveda_Validate"/>
</message>
<message name="Movimientodeefechaciaboveda_ValidateResponse">
<part name="parameters" element="tns:Movimientodeefechaciaboveda_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="VentaMenorDicorp">
<input message="tns:VentaMenorDicorp"/>
<output message="tns:VentaMenorDicorpResponse"/>
</operation>
<operation name="VentaMenorDicorp_Validate">
<input message="tns:VentaMenorDicorp_Validate"/>
<output message="tns:VentaMenorDicorp_ValidateResponse"/>
</operation>
<operation name="Movimientoefecdesdeboveda">
<input message="tns:Movimientoefecdesdeboveda"/>
<output message="tns:MovimientoefecdesdebovedaResponse"/>
</operation>
<operation name="Movimientoefecdesdeboveda_Validate">
<input message="tns:Movimientoefecdesdeboveda_Validate"/>
<output message="tns:Movimientoefecdesdeboveda_ValidateResponse"/>
</operation>
<operation name="Movimientodeefechaciaboveda">
<input message="tns:Movimientodeefechaciaboveda"/>
<output message="tns:MovimientodeefechaciabovedaResponse"/>
</operation>
<operation name="Movimientodeefechaciaboveda_Validate">
<input message="tns:Movimientodeefechaciaboveda_Validate"/>
<output message="tns:Movimientodeefechaciaboveda_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VentaMenorDicorp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VentaMenorDicorp_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Movimientoefecdesdeboveda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Movimientoefecdesdeboveda_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Movimientodeefechaciaboveda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Movimientodeefechaciaboveda_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.54:7003/svcMovEfectivo/services"/>
</port>
</service>
</definitions>