Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/PagoRecaudosAmdc.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/PagoRecaudosAmdc/XMLSchema_-1510461281.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/PagoRecaudosAmdc/XMLSchema_-1803864288.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Pagoderecaudoamdcficochq">
<part name="parameters" element="tns:Pagoderecaudoamdcficochq"/>
</message>
<message name="PagoderecaudoamdcficochqResponse">
<part name="parameters" element="tns:PagoderecaudoamdcficochqResponse"/>
</message>
<message name="Pagoderecaudoamdcficochq_Validate">
<part name="parameters" element="tns:Pagoderecaudoamdcficochq_Validate"/>
</message>
<message name="Pagoderecaudoamdcficochq_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudoamdcficochq_ValidateResponse"/>
</message>
<message name="Pagoderecaudoamdctc">
<part name="parameters" element="tns:Pagoderecaudoamdctc"/>
</message>
<message name="PagoderecaudoamdctcResponse">
<part name="parameters" element="tns:PagoderecaudoamdctcResponse"/>
</message>
<message name="Pagoderecaudoamdctc_Validate">
<part name="parameters" element="tns:Pagoderecaudoamdctc_Validate"/>
</message>
<message name="Pagoderecaudoamdctc_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudoamdctc_ValidateResponse"/>
</message>
<message name="Pagoderecaudoamdcefec">
<part name="parameters" element="tns:Pagoderecaudoamdcefec"/>
</message>
<message name="PagoderecaudoamdcefecResponse">
<part name="parameters" element="tns:PagoderecaudoamdcefecResponse"/>
</message>
<message name="Pagoderecaudoamdcefec_Validate">
<part name="parameters" element="tns:Pagoderecaudoamdcefec_Validate"/>
</message>
<message name="Pagoderecaudoamdcefec_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudoamdcefec_ValidateResponse"/>
</message>
<message name="Pagoderecaudoamdcchqintl">
<part name="parameters" element="tns:Pagoderecaudoamdcchqintl"/>
</message>
<message name="PagoderecaudoamdcchqintlResponse">
<part name="parameters" element="tns:PagoderecaudoamdcchqintlResponse"/>
</message>
<message name="Pagoderecaudoamdcchqintl_Validate">
<part name="parameters" element="tns:Pagoderecaudoamdcchqintl_Validate"/>
</message>
<message name="Pagoderecaudoamdcchqintl_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudoamdcchqintl_ValidateResponse"/>
</message>
<message name="Pagoderecaudoamdcchqob">
<part name="parameters" element="tns:Pagoderecaudoamdcchqob"/>
</message>
<message name="PagoderecaudoamdcchqobResponse">
<part name="parameters" element="tns:PagoderecaudoamdcchqobResponse"/>
</message>
<message name="Pagoderecaudoamdcchqob_Validate">
<part name="parameters" element="tns:Pagoderecaudoamdcchqob_Validate"/>
</message>
<message name="Pagoderecaudoamdcchqob_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudoamdcchqob_ValidateResponse"/>
</message>
<message name="Pagoderecaudoamdcdbcta">
<part name="parameters" element="tns:Pagoderecaudoamdcdbcta"/>
</message>
<message name="PagoderecaudoamdcdbctaResponse">
<part name="parameters" element="tns:PagoderecaudoamdcdbctaResponse"/>
</message>
<message name="Pagoderecaudoamdcdbcta_Validate">
<part name="parameters" element="tns:Pagoderecaudoamdcdbcta_Validate"/>
</message>
<message name="Pagoderecaudoamdcdbcta_ValidateResponse">
<part name="parameters" element="tns:Pagoderecaudoamdcdbcta_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Pagoderecaudoamdcficochq">
<input message="tns:Pagoderecaudoamdcficochq"/>
<output message="tns:PagoderecaudoamdcficochqResponse"/>
</operation>
<operation name="Pagoderecaudoamdcficochq_Validate">
<input message="tns:Pagoderecaudoamdcficochq_Validate"/>
<output message="tns:Pagoderecaudoamdcficochq_ValidateResponse"/>
</operation>
<operation name="Pagoderecaudoamdctc">
<input message="tns:Pagoderecaudoamdctc"/>
<output message="tns:PagoderecaudoamdctcResponse"/>
</operation>
<operation name="Pagoderecaudoamdctc_Validate">
<input message="tns:Pagoderecaudoamdctc_Validate"/>
<output message="tns:Pagoderecaudoamdctc_ValidateResponse"/>
</operation>
<operation name="Pagoderecaudoamdcefec">
<input message="tns:Pagoderecaudoamdcefec"/>
<output message="tns:PagoderecaudoamdcefecResponse"/>
</operation>
<operation name="Pagoderecaudoamdcefec_Validate">
<input message="tns:Pagoderecaudoamdcefec_Validate"/>
<output message="tns:Pagoderecaudoamdcefec_ValidateResponse"/>
</operation>
<operation name="Pagoderecaudoamdcchqintl">
<input message="tns:Pagoderecaudoamdcchqintl"/>
<output message="tns:PagoderecaudoamdcchqintlResponse"/>
</operation>
<operation name="Pagoderecaudoamdcchqintl_Validate">
<input message="tns:Pagoderecaudoamdcchqintl_Validate"/>
<output message="tns:Pagoderecaudoamdcchqintl_ValidateResponse"/>
</operation>
<operation name="Pagoderecaudoamdcchqob">
<input message="tns:Pagoderecaudoamdcchqob"/>
<output message="tns:PagoderecaudoamdcchqobResponse"/>
</operation>
<operation name="Pagoderecaudoamdcchqob_Validate">
<input message="tns:Pagoderecaudoamdcchqob_Validate"/>
<output message="tns:Pagoderecaudoamdcchqob_ValidateResponse"/>
</operation>
<operation name="Pagoderecaudoamdcdbcta">
<input message="tns:Pagoderecaudoamdcdbcta"/>
<output message="tns:PagoderecaudoamdcdbctaResponse"/>
</operation>
<operation name="Pagoderecaudoamdcdbcta_Validate">
<input message="tns:Pagoderecaudoamdcdbcta_Validate"/>
<output message="tns:Pagoderecaudoamdcdbcta_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoamdcficochq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoamdcficochq_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoamdctc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoamdctc_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoamdcefec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoamdcefec_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoamdcchqintl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoamdcchqintl_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoamdcchqob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoamdcchqob_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoamdcdbcta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderecaudoamdcdbcta_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.54:7003/svcPagoRecaudosAmdc/services"/>
</port>
</service>
</definitions>