Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/PagoTarjetaCreditoProxyCiti.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ecs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="servicio" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oficina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="terminal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cajero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_transaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numero_cuenta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="moneda" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_cuenta_cheque" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_cheque" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="reversa" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="out_referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="out_autorizacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="out_nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ecsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="out_referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="out_autorizacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="out_nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consulta_cuenta_ECS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cajero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_transaccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_cuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consulta_cuenta_ECSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ecsSoapIn">
    <wsdl:part name="parameters" element="tns:ecs" />
  </wsdl:message>
  <wsdl:message name="ecsSoapOut">
    <wsdl:part name="parameters" element="tns:ecsResponse" />
  </wsdl:message>
  <wsdl:message name="consulta_cuenta_ECSSoapIn">
    <wsdl:part name="parameters" element="tns:consulta_cuenta_ECS" />
  </wsdl:message>
  <wsdl:message name="consulta_cuenta_ECSSoapOut">
    <wsdl:part name="parameters" element="tns:consulta_cuenta_ECSResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCobisECSSoap">
    <wsdl:operation name="ecs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza Transacciones ECS</wsdl:documentation>
      <wsdl:input message="tns:ecsSoapIn" />
      <wsdl:output message="tns:ecsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consulta_cuenta_ECS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta Cuenta - ECS</wsdl:documentation>
      <wsdl:input message="tns:consulta_cuenta_ECSSoapIn" />
      <wsdl:output message="tns:consulta_cuenta_ECSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCobisECSSoap" type="tns:wsCobisECSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ecs">
      <soap:operation soapAction="http://tempuri.org/ecs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consulta_cuenta_ECS">
      <soap:operation soapAction="http://tempuri.org/consulta_cuenta_ECS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCobisECSSoap12" type="tns:wsCobisECSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ecs">
      <soap12:operation soapAction="http://tempuri.org/ecs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consulta_cuenta_ECS">
      <soap12:operation soapAction="http://tempuri.org/consulta_cuenta_ECS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCobisECS">
    <wsdl:port name="wsCobisECSSoap" binding="tns:wsCobisECSSoap">
      <soap:address location="http://10.0.1.56/wsCobisECS.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCobisECSSoap12" binding="tns:wsCobisECSSoap12">
      <soap12:address location="http://10.0.1.56/wsCobisECS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>