Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/PagoTarjetaCreditoCaja_ChqLocal.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/PagoTarjetaCreditoCaja_ChqLocal/XMLSchema_-1957688186.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/PagoTarjetaCreditoCaja_ChqLocal/PagoTarjetaCreditoCaja_ChqLocal.xsd"/>
</xsd:schema>
</types>
<message name="PagodeTCenchqlocalCaja">
<part name="parameters" element="tns:PagodeTCenchqlocalCaja"/>
</message>
<message name="PagodeTCenchqlocalCajaResponse">
<part name="parameters" element="tns:PagodeTCenchqlocalCajaResponse"/>
</message>
<message name="PagodeTCenchqlocalCaja_Validate">
<part name="parameters" element="tns:PagodeTCenchqlocalCaja_Validate"/>
</message>
<message name="PagodeTCenchqlocalCaja_ValidateResponse">
<part name="parameters" element="tns:PagodeTCenchqlocalCaja_ValidateResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="PagodeTCenchqlocalCaja">
<input message="tns:PagodeTCenchqlocalCaja"/>
<output message="tns:PagodeTCenchqlocalCajaResponse"/>
</operation>
<operation name="PagodeTCenchqlocalCaja_Validate">
<input message="tns:PagodeTCenchqlocalCaja_Validate"/>
<output message="tns:PagodeTCenchqlocalCaja_ValidateResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="PagodeTCenchqlocalCaja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagodeTCenchqlocalCaja_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcPagoTarjetaCreditoCaja_ChqLocal/services"/>
</port>
</service>
</definitions>