Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/PagoRecaudosMigracion.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/PagoRecaudosMigracion/XMLSchema_-1285340000.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/PagoRecaudosMigracion/XMLSchema_-1578743007.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Pagorecaudomigraciondbcta">
<part name="parameters" element="tns:Pagorecaudomigraciondbcta"/>
</message>
<message name="PagorecaudomigraciondbctaResponse">
<part name="parameters" element="tns:PagorecaudomigraciondbctaResponse"/>
</message>
<message name="Pagorecaudomigraciondbcta_Validate">
<part name="parameters" element="tns:Pagorecaudomigraciondbcta_Validate"/>
</message>
<message name="Pagorecaudomigraciondbcta_ValidateResponse">
<part name="parameters" element="tns:Pagorecaudomigraciondbcta_ValidateResponse"/>
</message>
<message name="Pagorecaudomigracionefec">
<part name="parameters" element="tns:Pagorecaudomigracionefec"/>
</message>
<message name="PagorecaudomigracionefecResponse">
<part name="parameters" element="tns:PagorecaudomigracionefecResponse"/>
</message>
<message name="Pagorecaudomigracionefec_Validate">
<part name="parameters" element="tns:Pagorecaudomigracionefec_Validate"/>
</message>
<message name="Pagorecaudomigracionefec_ValidateResponse">
<part name="parameters" element="tns:Pagorecaudomigracionefec_ValidateResponse"/>
</message>
<message name="Pagorecaudomigracionficochq">
<part name="parameters" element="tns:Pagorecaudomigracionficochq"/>
</message>
<message name="PagorecaudomigracionficochqResponse">
<part name="parameters" element="tns:PagorecaudomigracionficochqResponse"/>
</message>
<message name="Pagorecaudomigracionficochq_Validate">
<part name="parameters" element="tns:Pagorecaudomigracionficochq_Validate"/>
</message>
<message name="Pagorecaudomigracionficochq_ValidateResponse">
<part name="parameters" element="tns:Pagorecaudomigracionficochq_ValidateResponse"/>
</message>
<message name="Pagorecaudomigracionchqintl">
<part name="parameters" element="tns:Pagorecaudomigracionchqintl"/>
</message>
<message name="PagorecaudomigracionchqintlResponse">
<part name="parameters" element="tns:PagorecaudomigracionchqintlResponse"/>
</message>
<message name="Pagorecaudomigracionchqintl_Validate">
<part name="parameters" element="tns:Pagorecaudomigracionchqintl_Validate"/>
</message>
<message name="Pagorecaudomigracionchqintl_ValidateResponse">
<part name="parameters" element="tns:Pagorecaudomigracionchqintl_ValidateResponse"/>
</message>
<message name="Pagorecaudomigraciontc">
<part name="parameters" element="tns:Pagorecaudomigraciontc"/>
</message>
<message name="PagorecaudomigraciontcResponse">
<part name="parameters" element="tns:PagorecaudomigraciontcResponse"/>
</message>
<message name="Pagorecaudomigraciontc_Validate">
<part name="parameters" element="tns:Pagorecaudomigraciontc_Validate"/>
</message>
<message name="Pagorecaudomigraciontc_ValidateResponse">
<part name="parameters" element="tns:Pagorecaudomigraciontc_ValidateResponse"/>
</message>
<message name="Pagorecaudomigracionchqob">
<part name="parameters" element="tns:Pagorecaudomigracionchqob"/>
</message>
<message name="PagorecaudomigracionchqobResponse">
<part name="parameters" element="tns:PagorecaudomigracionchqobResponse"/>
</message>
<message name="Pagorecaudomigracionchqob_Validate">
<part name="parameters" element="tns:Pagorecaudomigracionchqob_Validate"/>
</message>
<message name="Pagorecaudomigracionchqob_ValidateResponse">
<part name="parameters" element="tns:Pagorecaudomigracionchqob_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Pagorecaudomigraciondbcta">
<input message="tns:Pagorecaudomigraciondbcta"/>
<output message="tns:PagorecaudomigraciondbctaResponse"/>
</operation>
<operation name="Pagorecaudomigraciondbcta_Validate">
<input message="tns:Pagorecaudomigraciondbcta_Validate"/>
<output message="tns:Pagorecaudomigraciondbcta_ValidateResponse"/>
</operation>
<operation name="Pagorecaudomigracionefec">
<input message="tns:Pagorecaudomigracionefec"/>
<output message="tns:PagorecaudomigracionefecResponse"/>
</operation>
<operation name="Pagorecaudomigracionefec_Validate">
<input message="tns:Pagorecaudomigracionefec_Validate"/>
<output message="tns:Pagorecaudomigracionefec_ValidateResponse"/>
</operation>
<operation name="Pagorecaudomigracionficochq">
<input message="tns:Pagorecaudomigracionficochq"/>
<output message="tns:PagorecaudomigracionficochqResponse"/>
</operation>
<operation name="Pagorecaudomigracionficochq_Validate">
<input message="tns:Pagorecaudomigracionficochq_Validate"/>
<output message="tns:Pagorecaudomigracionficochq_ValidateResponse"/>
</operation>
<operation name="Pagorecaudomigracionchqintl">
<input message="tns:Pagorecaudomigracionchqintl"/>
<output message="tns:PagorecaudomigracionchqintlResponse"/>
</operation>
<operation name="Pagorecaudomigracionchqintl_Validate">
<input message="tns:Pagorecaudomigracionchqintl_Validate"/>
<output message="tns:Pagorecaudomigracionchqintl_ValidateResponse"/>
</operation>
<operation name="Pagorecaudomigraciontc">
<input message="tns:Pagorecaudomigraciontc"/>
<output message="tns:PagorecaudomigraciontcResponse"/>
</operation>
<operation name="Pagorecaudomigraciontc_Validate">
<input message="tns:Pagorecaudomigraciontc_Validate"/>
<output message="tns:Pagorecaudomigraciontc_ValidateResponse"/>
</operation>
<operation name="Pagorecaudomigracionchqob">
<input message="tns:Pagorecaudomigracionchqob"/>
<output message="tns:PagorecaudomigracionchqobResponse"/>
</operation>
<operation name="Pagorecaudomigracionchqob_Validate">
<input message="tns:Pagorecaudomigracionchqob_Validate"/>
<output message="tns:Pagorecaudomigracionchqob_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudomigraciondbcta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudomigraciondbcta_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudomigracionefec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudomigracionefec_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudomigracionficochq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudomigracionficochq_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudomigracionchqintl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudomigracionchqintl_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudomigraciontc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudomigraciontc_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudomigracionchqob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagorecaudomigracionchqob_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.54:7003/svcPagoRecaudoMigracion/services"/>
</port>
</service>
</definitions>