Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/RegistroRTE.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/RegistroRTE/XMLSchema_190988677.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/RegistroRTE/XMLSchema_-102414330.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="RegistrodeRTE">
<part name="parameters" element="tns:RegistrodeRTE"/>
</message>
<message name="RegistrodeRTEResponse">
<part name="parameters" element="tns:RegistrodeRTEResponse"/>
</message>
<message name="RegistrodeRTE_Validate">
<part name="parameters" element="tns:RegistrodeRTE_Validate"/>
</message>
<message name="RegistrodeRTE_ValidateResponse">
<part name="parameters" element="tns:RegistrodeRTE_ValidateResponse"/>
</message>
<message name="ConsultadedetalleRTE">
<part name="parameters" element="tns:ConsultadedetalleRTE"/>
</message>
<message name="ConsultadedetalleRTEResponse">
<part name="parameters" element="tns:ConsultadedetalleRTEResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="RegistrodeRTE">
<input message="tns:RegistrodeRTE"/>
<output message="tns:RegistrodeRTEResponse"/>
</operation>
<operation name="RegistrodeRTE_Validate">
<input message="tns:RegistrodeRTE_Validate"/>
<output message="tns:RegistrodeRTE_ValidateResponse"/>
</operation>
<operation name="ConsultadedetalleRTE">
<input message="tns:ConsultadedetalleRTE"/>
<output message="tns:ConsultadedetalleRTEResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrodeRTE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrodeRTE_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultadedetalleRTE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.54:7003/svcRegistroRTE/services"/>
</port>
</service>
</definitions>