Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/Remesas.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/Remesas/XMLSchema_-1562362481.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/Remesas/XMLSchema_-1855765488.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Pagoderemesaconcredacuenta">
<part name="parameters" element="tns:Pagoderemesaconcredacuenta"/>
</message>
<message name="PagoderemesaconcredacuentaResponse">
<part name="parameters" element="tns:PagoderemesaconcredacuentaResponse"/>
</message>
<message name="Pagoderemesaconcredacuenta_Validate">
<part name="parameters" element="tns:Pagoderemesaconcredacuenta_Validate"/>
</message>
<message name="Pagoderemesaconcredacuenta_ValidateResponse">
<part name="parameters" element="tns:Pagoderemesaconcredacuenta_ValidateResponse"/>
</message>
<message name="Pagoderemesas">
<part name="parameters" element="tns:Pagoderemesas"/>
</message>
<message name="PagoderemesasResponse">
<part name="parameters" element="tns:PagoderemesasResponse"/>
</message>
<message name="Pagoderemesas_Validate">
<part name="parameters" element="tns:Pagoderemesas_Validate"/>
</message>
<message name="Pagoderemesas_ValidateResponse">
<part name="parameters" element="tns:Pagoderemesas_ValidateResponse"/>
</message>
<message name="Consultaderemesa">
<part name="parameters" element="tns:Consultaderemesa"/>
</message>
<message name="ConsultaderemesaResponse">
<part name="parameters" element="tns:ConsultaderemesaResponse"/>
</message>
<message name="Envioderemesas">
<part name="parameters" element="tns:Envioderemesas"/>
</message>
<message name="EnvioderemesasResponse">
<part name="parameters" element="tns:EnvioderemesasResponse"/>
</message>
<message name="Envioderemesas_Validate">
<part name="parameters" element="tns:Envioderemesas_Validate"/>
</message>
<message name="Envioderemesas_ValidateResponse">
<part name="parameters" element="tns:Envioderemesas_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Pagoderemesaconcredacuenta">
<input message="tns:Pagoderemesaconcredacuenta"/>
<output message="tns:PagoderemesaconcredacuentaResponse"/>
</operation>
<operation name="Pagoderemesaconcredacuenta_Validate">
<input message="tns:Pagoderemesaconcredacuenta_Validate"/>
<output message="tns:Pagoderemesaconcredacuenta_ValidateResponse"/>
</operation>
<operation name="Pagoderemesas">
<input message="tns:Pagoderemesas"/>
<output message="tns:PagoderemesasResponse"/>
</operation>
<operation name="Pagoderemesas_Validate">
<input message="tns:Pagoderemesas_Validate"/>
<output message="tns:Pagoderemesas_ValidateResponse"/>
</operation>
<operation name="Consultaderemesa">
<input message="tns:Consultaderemesa"/>
<output message="tns:ConsultaderemesaResponse"/>
</operation>
<operation name="Envioderemesas">
<input message="tns:Envioderemesas"/>
<output message="tns:EnvioderemesasResponse"/>
</operation>
<operation name="Envioderemesas_Validate">
<input message="tns:Envioderemesas_Validate"/>
<output message="tns:Envioderemesas_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderemesaconcredacuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderemesaconcredacuenta_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderemesas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagoderemesas_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultaderemesa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Envioderemesas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Envioderemesas_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.54:7003/svcRemesas/services"/>
</port>
</service>
</definitions>