Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/RetirosYPagos.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/RetirosYPagos/XMLSchema_1299781188.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/RetirosYPagos/XMLSchema_1006378181.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Pagodechequesenmonedalocal">
<part name="parameters" element="tns:Pagodechequesenmonedalocal"/>
</message>
<message name="PagodechequesenmonedalocalResponse">
<part name="parameters" element="tns:PagodechequesenmonedalocalResponse"/>
</message>
<message name="Pagodechequesenmonedalocal_Validate">
<part name="parameters" element="tns:Pagodechequesenmonedalocal_Validate"/>
</message>
<message name="Pagodechequesenmonedalocal_ValidateResponse">
<part name="parameters" element="tns:Pagodechequesenmonedalocal_ValidateResponse"/>
</message>
<message name="PagodechequedegerenciaFCY">
<part name="parameters" element="tns:PagodechequedegerenciaFCY"/>
</message>
<message name="PagodechequedegerenciaFCYResponse">
<part name="parameters" element="tns:PagodechequedegerenciaFCYResponse"/>
</message>
<message name="PagodechequedegerenciaFCY_Validate">
<part name="parameters" element="tns:PagodechequedegerenciaFCY_Validate"/>
</message>
<message name="PagodechequedegerenciaFCY_ValidateResponse">
<part name="parameters" element="tns:PagodechequedegerenciaFCY_ValidateResponse"/>
</message>
<message name="Retirodeefecenmonextranjera">
<part name="parameters" element="tns:Retirodeefecenmonextranjera"/>
</message>
<message name="RetirodeefecenmonextranjeraResponse">
<part name="parameters" element="tns:RetirodeefecenmonextranjeraResponse"/>
</message>
<message name="Retirodeefecenmonextranjera_Validate">
<part name="parameters" element="tns:Retirodeefecenmonextranjera_Validate"/>
</message>
<message name="Retirodeefecenmonextranjera_ValidateResponse">
<part name="parameters" element="tns:Retirodeefecenmonextranjera_ValidateResponse"/>
</message>
<message name="Pagodechequecertificado">
<part name="parameters" element="tns:Pagodechequecertificado"/>
</message>
<message name="PagodechequecertificadoResponse">
<part name="parameters" element="tns:PagodechequecertificadoResponse"/>
</message>
<message name="Pagodechequecertificado_Validate">
<part name="parameters" element="tns:Pagodechequecertificado_Validate"/>
</message>
<message name="Pagodechequecertificado_ValidateResponse">
<part name="parameters" element="tns:Pagodechequecertificado_ValidateResponse"/>
</message>
<message name="Pagodechequedegerencia">
<part name="parameters" element="tns:Pagodechequedegerencia"/>
</message>
<message name="PagodechequedegerenciaResponse">
<part name="parameters" element="tns:PagodechequedegerenciaResponse"/>
</message>
<message name="Pagodechequedegerencia_Validate">
<part name="parameters" element="tns:Pagodechequedegerencia_Validate"/>
</message>
<message name="Pagodechequedegerencia_ValidateResponse">
<part name="parameters" element="tns:Pagodechequedegerencia_ValidateResponse"/>
</message>
<message name="Retiroenmonedalocal">
<part name="parameters" element="tns:Retiroenmonedalocal"/>
</message>
<message name="RetiroenmonedalocalResponse">
<part name="parameters" element="tns:RetiroenmonedalocalResponse"/>
</message>
<message name="Retiroenmonedalocal_Validate">
<part name="parameters" element="tns:Retiroenmonedalocal_Validate"/>
</message>
<message name="Retiroenmonedalocal_ValidateResponse">
<part name="parameters" element="tns:Retiroenmonedalocal_ValidateResponse"/>
</message>
<message name="Pagodechequedegobierno">
<part name="parameters" element="tns:Pagodechequedegobierno"/>
</message>
<message name="PagodechequedegobiernoResponse">
<part name="parameters" element="tns:PagodechequedegobiernoResponse"/>
</message>
<message name="Pagodechequedegobierno_Validate">
<part name="parameters" element="tns:Pagodechequedegobierno_Validate"/>
</message>
<message name="Pagodechequedegobierno_ValidateResponse">
<part name="parameters" element="tns:Pagodechequedegobierno_ValidateResponse"/>
</message>
<message name="Pagodechequeenmonedaextran">
<part name="parameters" element="tns:Pagodechequeenmonedaextran"/>
</message>
<message name="PagodechequeenmonedaextranResponse">
<part name="parameters" element="tns:PagodechequeenmonedaextranResponse"/>
</message>
<message name="Pagodechequeenmonedaextran_Validate">
<part name="parameters" element="tns:Pagodechequeenmonedaextran_Validate"/>
</message>
<message name="Pagodechequeenmonedaextran_ValidateResponse">
<part name="parameters" element="tns:Pagodechequeenmonedaextran_ValidateResponse"/>
</message>
<message name="RetiroefectivoMEML">
<part name="parameters" element="tns:RetiroefectivoMEML"/>
</message>
<message name="RetiroefectivoMEMLResponse">
<part name="parameters" element="tns:RetiroefectivoMEMLResponse"/>
</message>
<message name="RetiroefectivoMEML_Validate">
<part name="parameters" element="tns:RetiroefectivoMEML_Validate"/>
</message>
<message name="RetiroefectivoMEML_ValidateResponse">
<part name="parameters" element="tns:RetiroefectivoMEML_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Pagodechequesenmonedalocal">
<input message="tns:Pagodechequesenmonedalocal"/>
<output message="tns:PagodechequesenmonedalocalResponse"/>
</operation>
<operation name="Pagodechequesenmonedalocal_Validate">
<input message="tns:Pagodechequesenmonedalocal_Validate"/>
<output message="tns:Pagodechequesenmonedalocal_ValidateResponse"/>
</operation>
<operation name="PagodechequedegerenciaFCY">
<input message="tns:PagodechequedegerenciaFCY"/>
<output message="tns:PagodechequedegerenciaFCYResponse"/>
</operation>
<operation name="PagodechequedegerenciaFCY_Validate">
<input message="tns:PagodechequedegerenciaFCY_Validate"/>
<output message="tns:PagodechequedegerenciaFCY_ValidateResponse"/>
</operation>
<operation name="Retirodeefecenmonextranjera">
<input message="tns:Retirodeefecenmonextranjera"/>
<output message="tns:RetirodeefecenmonextranjeraResponse"/>
</operation>
<operation name="Retirodeefecenmonextranjera_Validate">
<input message="tns:Retirodeefecenmonextranjera_Validate"/>
<output message="tns:Retirodeefecenmonextranjera_ValidateResponse"/>
</operation>
<operation name="Pagodechequecertificado">
<input message="tns:Pagodechequecertificado"/>
<output message="tns:PagodechequecertificadoResponse"/>
</operation>
<operation name="Pagodechequecertificado_Validate">
<input message="tns:Pagodechequecertificado_Validate"/>
<output message="tns:Pagodechequecertificado_ValidateResponse"/>
</operation>
<operation name="Pagodechequedegerencia">
<input message="tns:Pagodechequedegerencia"/>
<output message="tns:PagodechequedegerenciaResponse"/>
</operation>
<operation name="Pagodechequedegerencia_Validate">
<input message="tns:Pagodechequedegerencia_Validate"/>
<output message="tns:Pagodechequedegerencia_ValidateResponse"/>
</operation>
<operation name="Retiroenmonedalocal">
<input message="tns:Retiroenmonedalocal"/>
<output message="tns:RetiroenmonedalocalResponse"/>
</operation>
<operation name="Retiroenmonedalocal_Validate">
<input message="tns:Retiroenmonedalocal_Validate"/>
<output message="tns:Retiroenmonedalocal_ValidateResponse"/>
</operation>
<operation name="Pagodechequedegobierno">
<input message="tns:Pagodechequedegobierno"/>
<output message="tns:PagodechequedegobiernoResponse"/>
</operation>
<operation name="Pagodechequedegobierno_Validate">
<input message="tns:Pagodechequedegobierno_Validate"/>
<output message="tns:Pagodechequedegobierno_ValidateResponse"/>
</operation>
<operation name="Pagodechequeenmonedaextran">
<input message="tns:Pagodechequeenmonedaextran"/>
<output message="tns:PagodechequeenmonedaextranResponse"/>
</operation>
<operation name="Pagodechequeenmonedaextran_Validate">
<input message="tns:Pagodechequeenmonedaextran_Validate"/>
<output message="tns:Pagodechequeenmonedaextran_ValidateResponse"/>
</operation>
<operation name="RetiroefectivoMEML">
<input message="tns:RetiroefectivoMEML"/>
<output message="tns:RetiroefectivoMEMLResponse"/>
</operation>
<operation name="RetiroefectivoMEML_Validate">
<input message="tns:RetiroefectivoMEML_Validate"/>
<output message="tns:RetiroefectivoMEML_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodechequesenmonedalocal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodechequesenmonedalocal_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagodechequedegerenciaFCY">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagodechequedegerenciaFCY_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Retirodeefecenmonextranjera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Retirodeefecenmonextranjera_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodechequecertificado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodechequecertificado_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodechequedegerencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodechequedegerencia_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Retiroenmonedalocal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Retiroenmonedalocal_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodechequedegobierno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodechequedegobierno_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodechequeenmonedaextran">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodechequeenmonedaextran_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetiroefectivoMEML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetiroefectivoMEML_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.250:7003/svcRetirosYPagos/services"/>
</port>
</service>
</definitions>