Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/ReversaTransaccion2.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/ReversaTransaccion2/XMLSchema_-411196490.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/ReversaTransaccion2/XMLSchema_-704599497.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Reversionfaltosobrcajero">
<part name="parameters" element="tns:Reversionfaltosobrcajero"/>
</message>
<message name="ReversionfaltosobrcajeroResponse">
<part name="parameters" element="tns:ReversionfaltosobrcajeroResponse"/>
</message>
<message name="Reversionfaltosobrcajero_Validate">
<part name="parameters" element="tns:Reversionfaltosobrcajero_Validate"/>
</message>
<message name="Reversionfaltosobrcajero_ValidateResponse">
<part name="parameters" element="tns:Reversionfaltosobrcajero_ValidateResponse"/>
</message>
<message name="ReversionEnvioRemesaIntEfec">
<part name="parameters" element="tns:ReversionEnvioRemesaIntEfec"/>
</message>
<message name="ReversionEnvioRemesaIntEfecResponse">
<part name="parameters" element="tns:ReversionEnvioRemesaIntEfecResponse"/>
</message>
<message name="ReversionEnvioRemesaIntFicoChq">
<part name="parameters" element="tns:ReversionEnvioRemesaIntFicoChq"/>
</message>
<message name="ReversionEnvioRemesaIntFicoChqResponse">
<part name="parameters" element="tns:ReversionEnvioRemesaIntFicoChqResponse"/>
</message>
<message name="ReversionEnvioRemesaIntDbCta">
<part name="parameters" element="tns:ReversionEnvioRemesaIntDbCta"/>
</message>
<message name="ReversionEnvioRemesaIntDbCtaResponse">
<part name="parameters" element="tns:ReversionEnvioRemesaIntDbCtaResponse"/>
</message>
<message name="ReversionPagoRemesaNacional">
<part name="parameters" element="tns:ReversionPagoRemesaNacional"/>
</message>
<message name="ReversionPagoRemesaNacionalResponse">
<part name="parameters" element="tns:ReversionPagoRemesaNacionalResponse"/>
</message>
<message name="ReversionEnvioRemesaIntTC">
<part name="parameters" element="tns:ReversionEnvioRemesaIntTC"/>
</message>
<message name="ReversionEnvioRemesaIntTCResponse">
<part name="parameters" element="tns:ReversionEnvioRemesaIntTCResponse"/>
</message>
<message name="ReversionVtaInventarioTT">
<part name="parameters" element="tns:ReversionVtaInventarioTT"/>
</message>
<message name="ReversionVtaInventarioTTResponse">
<part name="parameters" element="tns:ReversionVtaInventarioTTResponse"/>
</message>
<message name="ReversionporEnvioRemesaNacEfec">
<part name="parameters" element="tns:ReversionporEnvioRemesaNacEfec"/>
</message>
<message name="ReversionporEnvioRemesaNacEfecResponse">
<part name="parameters" element="tns:ReversionporEnvioRemesaNacEfecResponse"/>
</message>
<message name="ReversionPagoCheqsCertificados">
<part name="parameters" element="tns:ReversionPagoCheqsCertificados"/>
</message>
<message name="ReversionPagoCheqsCertificadosResponse">
<part name="parameters" element="tns:ReversionPagoCheqsCertificadosResponse"/>
</message>
<message name="ReversionChequesdeCaja">
<part name="parameters" element="tns:ReversionChequesdeCaja"/>
</message>
<message name="ReversionChequesdeCajaResponse">
<part name="parameters" element="tns:ReversionChequesdeCajaResponse"/>
</message>
<message name="ReversionPagoRemesaInt">
<part name="parameters" element="tns:ReversionPagoRemesaInt"/>
</message>
<message name="ReversionPagoRemesaIntResponse">
<part name="parameters" element="tns:ReversionPagoRemesaIntResponse"/>
</message>
<message name="ReversionVentaCasadeCambio">
<part name="parameters" element="tns:ReversionVentaCasadeCambio"/>
</message>
<message name="ReversionVentaCasadeCambioResponse">
<part name="parameters" element="tns:ReversionVentaCasadeCambioResponse"/>
</message>
<message name="ReversionChequesCertificados">
<part name="parameters" element="tns:ReversionChequesCertificados"/>
</message>
<message name="ReversionChequesCertificadosResponse">
<part name="parameters" element="tns:ReversionChequesCertificadosResponse"/>
</message>
<message name="ReversionPagosChequesdeCaja">
<part name="parameters" element="tns:ReversionPagosChequesdeCaja"/>
</message>
<message name="ReversionPagosChequesdeCajaResponse">
<part name="parameters" element="tns:ReversionPagosChequesdeCajaResponse"/>
</message>
<message name="Reversiondepositocombinado">
<part name="parameters" element="tns:Reversiondepositocombinado"/>
</message>
<message name="ReversiondepositocombinadoResponse">
<part name="parameters" element="tns:ReversiondepositocombinadoResponse"/>
</message>
<message name="Reversiondepositocombinado_Validate">
<part name="parameters" element="tns:Reversiondepositocombinado_Validate"/>
</message>
<message name="Reversiondepositocombinado_ValidateResponse">
<part name="parameters" element="tns:Reversiondepositocombinado_ValidateResponse"/>
</message>
<message name="ReversionVtaInventarioFT">
<part name="parameters" element="tns:ReversionVtaInventarioFT"/>
</message>
<message name="ReversionVtaInventarioFTResponse">
<part name="parameters" element="tns:ReversionVtaInventarioFTResponse"/>
</message>
<message name="ReversionporEnvRemesaNacDbcta">
<part name="parameters" element="tns:ReversionporEnvRemesaNacDbcta"/>
</message>
<message name="ReversionporEnvRemesaNacDbctaResponse">
<part name="parameters" element="tns:ReversionporEnvRemesaNacDbctaResponse"/>
</message>
<message name="ReversionretirosydepositosTT">
<part name="parameters" element="tns:ReversionretirosydepositosTT"/>
</message>
<message name="ReversionretirosydepositosTTResponse">
<part name="parameters" element="tns:ReversionretirosydepositosTTResponse"/>
</message>
<message name="AuthReversionDepositosCombinados">
<part name="parameters" element="tns:AuthReversionDepositosCombinados"/>
</message>
<message name="AuthReversionDepositosCombinadosResponse">
<part name="parameters" element="tns:AuthReversionDepositosCombinadosResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Reversionfaltosobrcajero">
<input message="tns:Reversionfaltosobrcajero"/>
<output message="tns:ReversionfaltosobrcajeroResponse"/>
</operation>
<operation name="Reversionfaltosobrcajero_Validate">
<input message="tns:Reversionfaltosobrcajero_Validate"/>
<output message="tns:Reversionfaltosobrcajero_ValidateResponse"/>
</operation>
<operation name="ReversionEnvioRemesaIntEfec">
<input message="tns:ReversionEnvioRemesaIntEfec"/>
<output message="tns:ReversionEnvioRemesaIntEfecResponse"/>
</operation>
<operation name="ReversionEnvioRemesaIntFicoChq">
<input message="tns:ReversionEnvioRemesaIntFicoChq"/>
<output message="tns:ReversionEnvioRemesaIntFicoChqResponse"/>
</operation>
<operation name="ReversionEnvioRemesaIntDbCta">
<input message="tns:ReversionEnvioRemesaIntDbCta"/>
<output message="tns:ReversionEnvioRemesaIntDbCtaResponse"/>
</operation>
<operation name="ReversionPagoRemesaNacional">
<input message="tns:ReversionPagoRemesaNacional"/>
<output message="tns:ReversionPagoRemesaNacionalResponse"/>
</operation>
<operation name="ReversionEnvioRemesaIntTC">
<input message="tns:ReversionEnvioRemesaIntTC"/>
<output message="tns:ReversionEnvioRemesaIntTCResponse"/>
</operation>
<operation name="ReversionVtaInventarioTT">
<input message="tns:ReversionVtaInventarioTT"/>
<output message="tns:ReversionVtaInventarioTTResponse"/>
</operation>
<operation name="ReversionporEnvioRemesaNacEfec">
<input message="tns:ReversionporEnvioRemesaNacEfec"/>
<output message="tns:ReversionporEnvioRemesaNacEfecResponse"/>
</operation>
<operation name="ReversionPagoCheqsCertificados">
<input message="tns:ReversionPagoCheqsCertificados"/>
<output message="tns:ReversionPagoCheqsCertificadosResponse"/>
</operation>
<operation name="ReversionChequesdeCaja">
<input message="tns:ReversionChequesdeCaja"/>
<output message="tns:ReversionChequesdeCajaResponse"/>
</operation>
<operation name="ReversionPagoRemesaInt">
<input message="tns:ReversionPagoRemesaInt"/>
<output message="tns:ReversionPagoRemesaIntResponse"/>
</operation>
<operation name="ReversionVentaCasadeCambio">
<input message="tns:ReversionVentaCasadeCambio"/>
<output message="tns:ReversionVentaCasadeCambioResponse"/>
</operation>
<operation name="ReversionChequesCertificados">
<input message="tns:ReversionChequesCertificados"/>
<output message="tns:ReversionChequesCertificadosResponse"/>
</operation>
<operation name="ReversionPagosChequesdeCaja">
<input message="tns:ReversionPagosChequesdeCaja"/>
<output message="tns:ReversionPagosChequesdeCajaResponse"/>
</operation>
<operation name="Reversiondepositocombinado">
<input message="tns:Reversiondepositocombinado"/>
<output message="tns:ReversiondepositocombinadoResponse"/>
</operation>
<operation name="Reversiondepositocombinado_Validate">
<input message="tns:Reversiondepositocombinado_Validate"/>
<output message="tns:Reversiondepositocombinado_ValidateResponse"/>
</operation>
<operation name="ReversionVtaInventarioFT">
<input message="tns:ReversionVtaInventarioFT"/>
<output message="tns:ReversionVtaInventarioFTResponse"/>
</operation>
<operation name="ReversionporEnvRemesaNacDbcta">
<input message="tns:ReversionporEnvRemesaNacDbcta"/>
<output message="tns:ReversionporEnvRemesaNacDbctaResponse"/>
</operation>
<operation name="ReversionretirosydepositosTT">
<input message="tns:ReversionretirosydepositosTT"/>
<output message="tns:ReversionretirosydepositosTTResponse"/>
</operation>
<operation name="AuthReversionDepositosCombinados">
<input message="tns:AuthReversionDepositosCombinados"/>
<output message="tns:AuthReversionDepositosCombinadosResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversionfaltosobrcajero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversionfaltosobrcajero_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionEnvioRemesaIntEfec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionEnvioRemesaIntFicoChq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionEnvioRemesaIntDbCta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionPagoRemesaNacional">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionEnvioRemesaIntTC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionVtaInventarioTT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionporEnvioRemesaNacEfec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionPagoCheqsCertificados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionChequesdeCaja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionPagoRemesaInt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionVentaCasadeCambio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionChequesCertificados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionPagosChequesdeCaja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversiondepositocombinado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversiondepositocombinado_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionVtaInventarioFT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionporEnvRemesaNacDbcta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionretirosydepositosTT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthReversionDepositosCombinados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.250:7003/svcReversaTransaccion2/services"/>
</port>
</service>
</definitions>