Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/ReversaTxnRecaudos.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/ReversaTxnRecaudos/XMLSchema_1021501735.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/ReversaTxnRecaudos/XMLSchema_728098728.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Reversionpagorecaudoamdcchqintl">
<part name="parameters" element="tns:Reversionpagorecaudoamdcchqintl"/>
</message>
<message name="ReversionpagorecaudoamdcchqintlResponse">
<part name="parameters" element="tns:ReversionpagorecaudoamdcchqintlResponse"/>
</message>
<message name="Reversionpagorecaudolineachqintl">
<part name="parameters" element="tns:Reversionpagorecaudolineachqintl"/>
</message>
<message name="ReversionpagorecaudolineachqintlResponse">
<part name="parameters" element="tns:ReversionpagorecaudolineachqintlResponse"/>
</message>
<message name="Reversionpagorecaudolineaficochq">
<part name="parameters" element="tns:Reversionpagorecaudolineaficochq"/>
</message>
<message name="ReversionpagorecaudolineaficochqResponse">
<part name="parameters" element="tns:ReversionpagorecaudolineaficochqResponse"/>
</message>
<message name="Reversionpagorecaudoamdcficochq">
<part name="parameters" element="tns:Reversionpagorecaudoamdcficochq"/>
</message>
<message name="ReversionpagorecaudoamdcficochqResponse">
<part name="parameters" element="tns:ReversionpagorecaudoamdcficochqResponse"/>
</message>
<message name="Reversionpagorecaudolineaefec">
<part name="parameters" element="tns:Reversionpagorecaudolineaefec"/>
</message>
<message name="ReversionpagorecaudolineaefecResponse">
<part name="parameters" element="tns:ReversionpagorecaudolineaefecResponse"/>
</message>
<message name="Reversionpagorecaudoamdcdbcta">
<part name="parameters" element="tns:Reversionpagorecaudoamdcdbcta"/>
</message>
<message name="ReversionpagorecaudoamdcdbctaResponse">
<part name="parameters" element="tns:ReversionpagorecaudoamdcdbctaResponse"/>
</message>
<message name="Reversionpagorecaudolineadbcta">
<part name="parameters" element="tns:Reversionpagorecaudolineadbcta"/>
</message>
<message name="ReversionpagorecaudolineadbctaResponse">
<part name="parameters" element="tns:ReversionpagorecaudolineadbctaResponse"/>
</message>
<message name="Reversionpagorecaudoamdcefec">
<part name="parameters" element="tns:Reversionpagorecaudoamdcefec"/>
</message>
<message name="ReversionpagorecaudoamdcefecResponse">
<part name="parameters" element="tns:ReversionpagorecaudoamdcefecResponse"/>
</message>
<message name="Reversionpagorecaudolineaobchq">
<part name="parameters" element="tns:Reversionpagorecaudolineaobchq"/>
</message>
<message name="ReversionpagorecaudolineaobchqResponse">
<part name="parameters" element="tns:ReversionpagorecaudolineaobchqResponse"/>
</message>
<message name="Reversionpagorecaudoamdcobchq">
<part name="parameters" element="tns:Reversionpagorecaudoamdcobchq"/>
</message>
<message name="ReversionpagorecaudoamdcobchqResponse">
<part name="parameters" element="tns:ReversionpagorecaudoamdcobchqResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Reversionpagorecaudoamdcchqintl">
<input message="tns:Reversionpagorecaudoamdcchqintl"/>
<output message="tns:ReversionpagorecaudoamdcchqintlResponse"/>
</operation>
<operation name="Reversionpagorecaudolineachqintl">
<input message="tns:Reversionpagorecaudolineachqintl"/>
<output message="tns:ReversionpagorecaudolineachqintlResponse"/>
</operation>
<operation name="Reversionpagorecaudolineaficochq">
<input message="tns:Reversionpagorecaudolineaficochq"/>
<output message="tns:ReversionpagorecaudolineaficochqResponse"/>
</operation>
<operation name="Reversionpagorecaudoamdcficochq">
<input message="tns:Reversionpagorecaudoamdcficochq"/>
<output message="tns:ReversionpagorecaudoamdcficochqResponse"/>
</operation>
<operation name="Reversionpagorecaudolineaefec">
<input message="tns:Reversionpagorecaudolineaefec"/>
<output message="tns:ReversionpagorecaudolineaefecResponse"/>
</operation>
<operation name="Reversionpagorecaudoamdcdbcta">
<input message="tns:Reversionpagorecaudoamdcdbcta"/>
<output message="tns:ReversionpagorecaudoamdcdbctaResponse"/>
</operation>
<operation name="Reversionpagorecaudolineadbcta">
<input message="tns:Reversionpagorecaudolineadbcta"/>
<output message="tns:ReversionpagorecaudolineadbctaResponse"/>
</operation>
<operation name="Reversionpagorecaudoamdcefec">
<input message="tns:Reversionpagorecaudoamdcefec"/>
<output message="tns:ReversionpagorecaudoamdcefecResponse"/>
</operation>
<operation name="Reversionpagorecaudolineaobchq">
<input message="tns:Reversionpagorecaudolineaobchq"/>
<output message="tns:ReversionpagorecaudolineaobchqResponse"/>
</operation>
<operation name="Reversionpagorecaudoamdcobchq">
<input message="tns:Reversionpagorecaudoamdcobchq"/>
<output message="tns:ReversionpagorecaudoamdcobchqResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversionpagorecaudoamdcchqintl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversionpagorecaudolineachqintl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversionpagorecaudolineaficochq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversionpagorecaudoamdcficochq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversionpagorecaudolineaefec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversionpagorecaudoamdcdbcta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversionpagorecaudolineadbcta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversionpagorecaudoamdcefec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversionpagorecaudolineaobchq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversionpagorecaudoamdcobchq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.54:7003/svcReversaTxnRecaudos/services"/>
</port>
</service>
</definitions>