Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/ReversaTransaccion.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/ReversaTransaccion/XMLSchema_100201480.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/ReversaTransaccion/XMLSchema_-193201527.xsd"/>
		</xsd:schema>
	</types>
	<message name="callOfs">
		<part name="parameters" element="tns:callOfs"/>
	</message>
	<message name="callOfsResponse">
		<part name="parameters" element="tns:callOfsResponse"/>
	</message>
	<message name="Reversionpagorecaudorefefec">
		<part name="parameters" element="tns:Reversionpagorecaudorefefec"/>
	</message>
	<message name="ReversionpagorecaudorefefecResponse">
		<part name="parameters" element="tns:ReversionpagorecaudorefefecResponse"/>
	</message>
	<message name="ReversionretiroTC">
		<part name="parameters" element="tns:ReversionretiroTC"/>
	</message>
	<message name="ReversionretiroTCResponse">
		<part name="parameters" element="tns:ReversionretiroTCResponse"/>
	</message>
	<message name="ReversionretiroTC_Validate">
		<part name="parameters" element="tns:ReversionretiroTC_Validate"/>
	</message>
	<message name="ReversionretiroTC_ValidateResponse">
		<part name="parameters" element="tns:ReversionretiroTC_ValidateResponse"/>
	</message>
	<message name="AutorizareversapagooretiroTC">
		<part name="parameters" element="tns:AutorizareversapagooretiroTC"/>
	</message>
	<message name="AutorizareversapagooretiroTCResponse">
		<part name="parameters" element="tns:AutorizareversapagooretiroTCResponse"/>
	</message>
	<message name="Authrevpagorecaudorefdbcta">
		<part name="parameters" element="tns:Authrevpagorecaudorefdbcta"/>
	</message>
	<message name="AuthrevpagorecaudorefdbctaResponse">
		<part name="parameters" element="tns:AuthrevpagorecaudorefdbctaResponse"/>
	</message>
	<message name="ReversionpagoTC">
		<part name="parameters" element="tns:ReversionpagoTC"/>
	</message>
	<message name="ReversionpagoTCResponse">
		<part name="parameters" element="tns:ReversionpagoTCResponse"/>
	</message>
	<message name="ReversionpagoTC_Validate">
		<part name="parameters" element="tns:ReversionpagoTC_Validate"/>
	</message>
	<message name="ReversionpagoTC_ValidateResponse">
		<part name="parameters" element="tns:ReversionpagoTC_ValidateResponse"/>
	</message>
	<message name="ReversiondetransaccionTT">
		<part name="parameters" element="tns:ReversiondetransaccionTT"/>
	</message>
	<message name="ReversiondetransaccionTTResponse">
		<part name="parameters" element="tns:ReversiondetransaccionTTResponse"/>
	</message>
	<message name="Reversionpagorecaudorefdbcta">
		<part name="parameters" element="tns:Reversionpagorecaudorefdbcta"/>
	</message>
	<message name="ReversionpagorecaudorefdbctaResponse">
		<part name="parameters" element="tns:ReversionpagorecaudorefdbctaResponse"/>
	</message>
	<message name="Reversionpagorecaudorefchqtintl">
		<part name="parameters" element="tns:Reversionpagorecaudorefchqtintl"/>
	</message>
	<message name="ReversionpagorecaudorefchqtintlResponse">
		<part name="parameters" element="tns:ReversionpagorecaudorefchqtintlResponse"/>
	</message>
	<message name="Reversionpagorecaudorefficochq">
		<part name="parameters" element="tns:Reversionpagorecaudorefficochq"/>
	</message>
	<message name="ReversionpagorecaudorefficochqResponse">
		<part name="parameters" element="tns:ReversionpagorecaudorefficochqResponse"/>
	</message>
	<message name="EliminaciondetransaccionFTihld">
		<part name="parameters" element="tns:EliminaciondetransaccionFTihld"/>
	</message>
	<message name="EliminaciondetransaccionFTihldResponse">
		<part name="parameters" element="tns:EliminaciondetransaccionFTihldResponse"/>
	</message>
	<message name="Reversionpagorecaudorefobchq">
		<part name="parameters" element="tns:Reversionpagorecaudorefobchq"/>
	</message>
	<message name="ReversionpagorecaudorefobchqResponse">
		<part name="parameters" element="tns:ReversionpagorecaudorefobchqResponse"/>
	</message>
	<message name="AutorizacionreversionFT">
		<part name="parameters" element="tns:AutorizacionreversionFT"/>
	</message>
	<message name="AutorizacionreversionFTResponse">
		<part name="parameters" element="tns:AutorizacionreversionFTResponse"/>
	</message>
	<message name="ReversiondetransaccionFT">
		<part name="parameters" element="tns:ReversiondetransaccionFT"/>
	</message>
	<message name="ReversiondetransaccionFTResponse">
		<part name="parameters" element="tns:ReversiondetransaccionFTResponse"/>
	</message>
	<message name="AutorizacionreversionTT">
		<part name="parameters" element="tns:AutorizacionreversionTT"/>
	</message>
	<message name="AutorizacionreversionTTResponse">
		<part name="parameters" element="tns:AutorizacionreversionTTResponse"/>
	</message>
	<message name="ReversiondePagodeCheques">
		<part name="parameters" element="tns:ReversiondePagodeCheques"/>
	</message>
	<message name="ReversiondePagodeChequesResponse">
		<part name="parameters" element="tns:ReversiondePagodeChequesResponse"/>
	</message>
	<message name="ReversiondePagodeCheques_Validate">
		<part name="parameters" element="tns:ReversiondePagodeCheques_Validate"/>
	</message>
	<message name="ReversiondePagodeCheques_ValidateResponse">
		<part name="parameters" element="tns:ReversiondePagodeCheques_ValidateResponse"/>
	</message>
	<portType name="T24WebServicesImpl">
		<operation name="callOfs">
			<input message="tns:callOfs"/>
			<output message="tns:callOfsResponse"/>
		</operation>
		<operation name="Reversionpagorecaudorefefec">
			<input message="tns:Reversionpagorecaudorefefec"/>
			<output message="tns:ReversionpagorecaudorefefecResponse"/>
		</operation>
		<operation name="ReversionretiroTC">
			<input message="tns:ReversionretiroTC"/>
			<output message="tns:ReversionretiroTCResponse"/>
		</operation>
		<operation name="ReversionretiroTC_Validate">
			<input message="tns:ReversionretiroTC_Validate"/>
			<output message="tns:ReversionretiroTC_ValidateResponse"/>
		</operation>
		<operation name="AutorizareversapagooretiroTC">
			<input message="tns:AutorizareversapagooretiroTC"/>
			<output message="tns:AutorizareversapagooretiroTCResponse"/>
		</operation>
		<operation name="Authrevpagorecaudorefdbcta">
			<input message="tns:Authrevpagorecaudorefdbcta"/>
			<output message="tns:AuthrevpagorecaudorefdbctaResponse"/>
		</operation>
		<operation name="ReversionpagoTC">
			<input message="tns:ReversionpagoTC"/>
			<output message="tns:ReversionpagoTCResponse"/>
		</operation>
		<operation name="ReversionpagoTC_Validate">
			<input message="tns:ReversionpagoTC_Validate"/>
			<output message="tns:ReversionpagoTC_ValidateResponse"/>
		</operation>
		<operation name="ReversiondetransaccionTT">
			<input message="tns:ReversiondetransaccionTT"/>
			<output message="tns:ReversiondetransaccionTTResponse"/>
		</operation>
		<operation name="Reversionpagorecaudorefdbcta">
			<input message="tns:Reversionpagorecaudorefdbcta"/>
			<output message="tns:ReversionpagorecaudorefdbctaResponse"/>
		</operation>
		<operation name="Reversionpagorecaudorefchqtintl">
			<input message="tns:Reversionpagorecaudorefchqtintl"/>
			<output message="tns:ReversionpagorecaudorefchqtintlResponse"/>
		</operation>
		<operation name="Reversionpagorecaudorefficochq">
			<input message="tns:Reversionpagorecaudorefficochq"/>
			<output message="tns:ReversionpagorecaudorefficochqResponse"/>
		</operation>
		<operation name="EliminaciondetransaccionFTihld">
			<input message="tns:EliminaciondetransaccionFTihld"/>
			<output message="tns:EliminaciondetransaccionFTihldResponse"/>
		</operation>
		<operation name="Reversionpagorecaudorefobchq">
			<input message="tns:Reversionpagorecaudorefobchq"/>
			<output message="tns:ReversionpagorecaudorefobchqResponse"/>
		</operation>
		<operation name="AutorizacionreversionFT">
			<input message="tns:AutorizacionreversionFT"/>
			<output message="tns:AutorizacionreversionFTResponse"/>
		</operation>
		<operation name="ReversiondetransaccionFT">
			<input message="tns:ReversiondetransaccionFT"/>
			<output message="tns:ReversiondetransaccionFTResponse"/>
		</operation>
		<operation name="AutorizacionreversionTT">
			<input message="tns:AutorizacionreversionTT"/>
			<output message="tns:AutorizacionreversionTTResponse"/>
		</operation>
		<operation name="ReversiondePagodeCheques">
			<input message="tns:ReversiondePagodeCheques"/>
			<output message="tns:ReversiondePagodeChequesResponse"/>
		</operation>
		<operation name="ReversiondePagodeCheques_Validate">
			<input message="tns:ReversiondePagodeCheques_Validate"/>
			<output message="tns:ReversiondePagodeCheques_ValidateResponse"/>
		</operation>
	</portType>
	<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="callOfs">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="Reversionpagorecaudorefefec">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ReversionretiroTC">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ReversionretiroTC_Validate">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="AutorizareversapagooretiroTC">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="Authrevpagorecaudorefdbcta">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ReversionpagoTC">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ReversionpagoTC_Validate">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ReversiondetransaccionTT">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="Reversionpagorecaudorefdbcta">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="Reversionpagorecaudorefchqtintl">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="Reversionpagorecaudorefficochq">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="EliminaciondetransaccionFTihld">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="Reversionpagorecaudorefobchq">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="AutorizacionreversionFT">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ReversiondetransaccionFT">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="AutorizacionreversionTT">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ReversiondePagodeCheques">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ReversiondePagodeCheques_Validate">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="T24WebServicesImplService">
		<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
			<soap:address location="http://10.9.104.250:7003/svcReversaTransaccion/services"/>
		</port>
	</service>
</definitions>