Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/services.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/Depositos/XMLSchema_-126873385.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/Depositos/XMLSchema_-420276392.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="DepositodechequedegerenciaFCY">
<part name="parameters" element="tns:DepositodechequedegerenciaFCY"/>
</message>
<message name="DepositodechequedegerenciaFCYResponse">
<part name="parameters" element="tns:DepositodechequedegerenciaFCYResponse"/>
</message>
<message name="DepositodechequedegerenciaFCY_Validate">
<part name="parameters" element="tns:DepositodechequedegerenciaFCY_Validate"/>
</message>
<message name="DepositodechequedegerenciaFCY_ValidateResponse">
<part name="parameters" element="tns:DepositodechequedegerenciaFCY_ValidateResponse"/>
</message>
<message name="Depositocombinado">
<part name="parameters" element="tns:Depositocombinado"/>
</message>
<message name="DepositocombinadoResponse">
<part name="parameters" element="tns:DepositocombinadoResponse"/>
</message>
<message name="Depositocombinado_Validate">
<part name="parameters" element="tns:Depositocombinado_Validate"/>
</message>
<message name="Depositocombinado_ValidateResponse">
<part name="parameters" element="tns:Depositocombinado_ValidateResponse"/>
</message>
<message name="Depositoefecenmonedalocal">
<part name="parameters" element="tns:Depositoefecenmonedalocal"/>
</message>
<message name="DepositoefecenmonedalocalResponse">
<part name="parameters" element="tns:DepositoefecenmonedalocalResponse"/>
</message>
<message name="Depositoefecenmonedalocal_Validate">
<part name="parameters" element="tns:Depositoefecenmonedalocal_Validate"/>
</message>
<message name="Depositoefecenmonedalocal_ValidateResponse">
<part name="parameters" element="tns:Depositoefecenmonedalocal_ValidateResponse"/>
</message>
<message name="Depositodechequedegerencia">
<part name="parameters" element="tns:Depositodechequedegerencia"/>
</message>
<message name="DepositodechequedegerenciaResponse">
<part name="parameters" element="tns:DepositodechequedegerenciaResponse"/>
</message>
<message name="Depositodechequedegerencia_Validate">
<part name="parameters" element="tns:Depositodechequedegerencia_Validate"/>
</message>
<message name="Depositodechequedegerencia_ValidateResponse">
<part name="parameters" element="tns:Depositodechequedegerencia_ValidateResponse"/>
</message>
<message name="Depositoefecenmonedaextranjera">
<part name="parameters" element="tns:Depositoefecenmonedaextranjera"/>
</message>
<message name="DepositoefecenmonedaextranjeraResponse">
<part name="parameters" element="tns:DepositoefecenmonedaextranjeraResponse"/>
</message>
<message name="Depositoefecenmonedaextranjera_Validate">
<part name="parameters" element="tns:Depositoefecenmonedaextranjera_Validate"/>
</message>
<message name="Depositoefecenmonedaextranjera_ValidateResponse">
<part name="parameters" element="tns:Depositoefecenmonedaextranjera_ValidateResponse"/>
</message>
<message name="Depositodechequecertificado">
<part name="parameters" element="tns:Depositodechequecertificado"/>
</message>
<message name="DepositodechequecertificadoResponse">
<part name="parameters" element="tns:DepositodechequecertificadoResponse"/>
</message>
<message name="Depositodechequecertificado_Validate">
<part name="parameters" element="tns:Depositodechequecertificado_Validate"/>
</message>
<message name="Depositodechequecertificado_ValidateResponse">
<part name="parameters" element="tns:Depositodechequecertificado_ValidateResponse"/>
</message>
<message name="DepositoEfectivoMLME">
<part name="parameters" element="tns:DepositoEfectivoMLME"/>
</message>
<message name="DepositoEfectivoMLMEResponse">
<part name="parameters" element="tns:DepositoEfectivoMLMEResponse"/>
</message>
<message name="DepositoEfectivoMLME_Validate">
<part name="parameters" element="tns:DepositoEfectivoMLME_Validate"/>
</message>
<message name="DepositoEfectivoMLME_ValidateResponse">
<part name="parameters" element="tns:DepositoEfectivoMLME_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="DepositodechequedegerenciaFCY">
<input message="tns:DepositodechequedegerenciaFCY"/>
<output message="tns:DepositodechequedegerenciaFCYResponse"/>
</operation>
<operation name="DepositodechequedegerenciaFCY_Validate">
<input message="tns:DepositodechequedegerenciaFCY_Validate"/>
<output message="tns:DepositodechequedegerenciaFCY_ValidateResponse"/>
</operation>
<operation name="Depositocombinado">
<input message="tns:Depositocombinado"/>
<output message="tns:DepositocombinadoResponse"/>
</operation>
<operation name="Depositocombinado_Validate">
<input message="tns:Depositocombinado_Validate"/>
<output message="tns:Depositocombinado_ValidateResponse"/>
</operation>
<operation name="Depositoefecenmonedalocal">
<input message="tns:Depositoefecenmonedalocal"/>
<output message="tns:DepositoefecenmonedalocalResponse"/>
</operation>
<operation name="Depositoefecenmonedalocal_Validate">
<input message="tns:Depositoefecenmonedalocal_Validate"/>
<output message="tns:Depositoefecenmonedalocal_ValidateResponse"/>
</operation>
<operation name="Depositodechequedegerencia">
<input message="tns:Depositodechequedegerencia"/>
<output message="tns:DepositodechequedegerenciaResponse"/>
</operation>
<operation name="Depositodechequedegerencia_Validate">
<input message="tns:Depositodechequedegerencia_Validate"/>
<output message="tns:Depositodechequedegerencia_ValidateResponse"/>
</operation>
<operation name="Depositoefecenmonedaextranjera">
<input message="tns:Depositoefecenmonedaextranjera"/>
<output message="tns:DepositoefecenmonedaextranjeraResponse"/>
</operation>
<operation name="Depositoefecenmonedaextranjera_Validate">
<input message="tns:Depositoefecenmonedaextranjera_Validate"/>
<output message="tns:Depositoefecenmonedaextranjera_ValidateResponse"/>
</operation>
<operation name="Depositodechequecertificado">
<input message="tns:Depositodechequecertificado"/>
<output message="tns:DepositodechequecertificadoResponse"/>
</operation>
<operation name="Depositodechequecertificado_Validate">
<input message="tns:Depositodechequecertificado_Validate"/>
<output message="tns:Depositodechequecertificado_ValidateResponse"/>
</operation>
<operation name="DepositoEfectivoMLME">
<input message="tns:DepositoEfectivoMLME"/>
<output message="tns:DepositoEfectivoMLMEResponse"/>
</operation>
<operation name="DepositoEfectivoMLME_Validate">
<input message="tns:DepositoEfectivoMLME_Validate"/>
<output message="tns:DepositoEfectivoMLME_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DepositodechequedegerenciaFCY">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DepositodechequedegerenciaFCY_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositocombinado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositocombinado_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositoefecenmonedalocal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositoefecenmonedalocal_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositodechequedegerencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositodechequedegerencia_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositoefecenmonedaextranjera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositoefecenmonedaextranjera_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositodechequecertificado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositodechequecertificado_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DepositoEfectivoMLME">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DepositoEfectivoMLME_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.54:7003/svcDepositos/services"/>
</port>
</service>
</definitions>