Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/TarjetaDebito.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/TarjetaDebito/XMLSchema_138144261.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/TarjetaDebito/XMLSchema_-155258746.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Activaciondetarjetadedebito">
<part name="parameters" element="tns:Activaciondetarjetadedebito"/>
</message>
<message name="ActivaciondetarjetadedebitoResponse">
<part name="parameters" element="tns:ActivaciondetarjetadedebitoResponse"/>
</message>
<message name="Activaciondetarjetadedebito_Validate">
<part name="parameters" element="tns:Activaciondetarjetadedebito_Validate"/>
</message>
<message name="Activaciondetarjetadedebito_ValidateResponse">
<part name="parameters" element="tns:Activaciondetarjetadedebito_ValidateResponse"/>
</message>
<message name="ConsultaMaestraTarjetaDebito">
<part name="parameters" element="tns:ConsultaMaestraTarjetaDebito"/>
</message>
<message name="ConsultaMaestraTarjetaDebitoResponse">
<part name="parameters" element="tns:ConsultaMaestraTarjetaDebitoResponse"/>
</message>
<message name="Bloqueodetarjetadedebito">
<part name="parameters" element="tns:Bloqueodetarjetadedebito"/>
</message>
<message name="BloqueodetarjetadedebitoResponse">
<part name="parameters" element="tns:BloqueodetarjetadedebitoResponse"/>
</message>
<message name="Bloqueodetarjetadedebito_Validate">
<part name="parameters" element="tns:Bloqueodetarjetadedebito_Validate"/>
</message>
<message name="Bloqueodetarjetadedebito_ValidateResponse">
<part name="parameters" element="tns:Bloqueodetarjetadedebito_ValidateResponse"/>
</message>
<message name="ConsultadebloqueosporTD">
<part name="parameters" element="tns:ConsultadebloqueosporTD"/>
</message>
<message name="ConsultadebloqueosporTDResponse">
<part name="parameters" element="tns:ConsultadebloqueosporTDResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Activaciondetarjetadedebito">
<input message="tns:Activaciondetarjetadedebito"/>
<output message="tns:ActivaciondetarjetadedebitoResponse"/>
</operation>
<operation name="Activaciondetarjetadedebito_Validate">
<input message="tns:Activaciondetarjetadedebito_Validate"/>
<output message="tns:Activaciondetarjetadedebito_ValidateResponse"/>
</operation>
<operation name="ConsultaMaestraTarjetaDebito">
<input message="tns:ConsultaMaestraTarjetaDebito"/>
<output message="tns:ConsultaMaestraTarjetaDebitoResponse"/>
</operation>
<operation name="Bloqueodetarjetadedebito">
<input message="tns:Bloqueodetarjetadedebito"/>
<output message="tns:BloqueodetarjetadedebitoResponse"/>
</operation>
<operation name="Bloqueodetarjetadedebito_Validate">
<input message="tns:Bloqueodetarjetadedebito_Validate"/>
<output message="tns:Bloqueodetarjetadedebito_ValidateResponse"/>
</operation>
<operation name="ConsultadebloqueosporTD">
<input message="tns:ConsultadebloqueosporTD"/>
<output message="tns:ConsultadebloqueosporTDResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Activaciondetarjetadedebito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Activaciondetarjetadedebito_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaMaestraTarjetaDebito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Bloqueodetarjetadedebito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Bloqueodetarjetadedebito_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultadebloqueosporTD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.54:7003/svcTarjetaDebito/services"/>
</port>
</service>
</definitions>