Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/wsdls/TransaccionesAutobancos.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsds/TransaccionesAutobancos/XMLSchema_1564484675.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsds/TransaccionesAutobancos/XMLSchema_1271081668.xsd"/>
</xsd:schema>
</types>
<message name="PagoTCconFTCajaEfectivo">
<part name="parameters" element="tns:PagoTCconFTCajaEfectivo"/>
</message>
<message name="PagoTCconFTCajaEfectivoResponse">
<part name="parameters" element="tns:PagoTCconFTCajaEfectivoResponse"/>
</message>
<message name="PagoTCconFTCajaChqPropio_Validate">
<part name="parameters" element="tns:PagoTCconFTCajaChqPropio_Validate"/>
</message>
<message name="PagoTCconFTCajaChqPropio_ValidateResponse">
<part name="parameters" element="tns:PagoTCconFTCajaChqPropio_ValidateResponse"/>
</message>
<message name="PagoTCconFTCajaChqLocal">
<part name="parameters" element="tns:PagoTCconFTCajaChqLocal"/>
</message>
<message name="PagoTCconFTCajaChqLocalResponse">
<part name="parameters" element="tns:PagoTCconFTCajaChqLocalResponse"/>
</message>
<message name="PagoTCconFTCajaEfectivo_Validate">
<part name="parameters" element="tns:PagoTCconFTCajaEfectivo_Validate"/>
</message>
<message name="PagoTCconFTCajaEfectivo_ValidateResponse">
<part name="parameters" element="tns:PagoTCconFTCajaEfectivo_ValidateResponse"/>
</message>
<message name="PagoTCconFTCajaChqPropio">
<part name="parameters" element="tns:PagoTCconFTCajaChqPropio"/>
</message>
<message name="PagoTCconFTCajaChqPropioResponse">
<part name="parameters" element="tns:PagoTCconFTCajaChqPropioResponse"/>
</message>
<message name="PagoTCconFTCajaChqLocal_Validate">
<part name="parameters" element="tns:PagoTCconFTCajaChqLocal_Validate"/>
</message>
<message name="PagoTCconFTCajaChqLocal_ValidateResponse">
<part name="parameters" element="tns:PagoTCconFTCajaChqLocal_ValidateResponse"/>
</message>
<message name="PagodeTarjetaCredito">
<part name="parameters" element="tns:PagodeTarjetaCredito"/>
</message>
<message name="PagodeTarjetaCreditoResponse">
<part name="parameters" element="tns:PagodeTarjetaCreditoResponse"/>
</message>
<message name="DepositoChequeGerenciaLCY">
<part name="parameters" element="tns:DepositoChequeGerenciaLCY"/>
</message>
<message name="DepositoChequeGerenciaLCYResponse">
<part name="parameters" element="tns:DepositoChequeGerenciaLCYResponse"/>
</message>
<message name="PagodeTarjetaCredito_Validate">
<part name="parameters" element="tns:PagodeTarjetaCredito_Validate"/>
</message>
<message name="PagodeTarjetaCredito_ValidateResponse">
<part name="parameters" element="tns:PagodeTarjetaCredito_ValidateResponse"/>
</message>
<message name="DepositoChequeGerenciaLCY_Validate">
<part name="parameters" element="tns:DepositoChequeGerenciaLCY_Validate"/>
</message>
<message name="DepositoChequeGerenciaLCY_ValidateResponse">
<part name="parameters" element="tns:DepositoChequeGerenciaLCY_ValidateResponse"/>
</message>
<message name="DepositoChequeGerenciaFCY">
<part name="parameters" element="tns:DepositoChequeGerenciaFCY"/>
</message>
<message name="DepositoChequeGerenciaFCYResponse">
<part name="parameters" element="tns:DepositoChequeGerenciaFCYResponse"/>
</message>
<message name="DepositoChequeGerenciaFCY_Validate">
<part name="parameters" element="tns:DepositoChequeGerenciaFCY_Validate"/>
</message>
<message name="DepositoChequeGerenciaFCY_ValidateResponse">
<part name="parameters" element="tns:DepositoChequeGerenciaFCY_ValidateResponse"/>
</message>
<message name="PagodeChequeFCY">
<part name="parameters" element="tns:PagodeChequeFCY"/>
</message>
<message name="PagodeChequeFCYResponse">
<part name="parameters" element="tns:PagodeChequeFCYResponse"/>
</message>
<message name="PagodeChequeFCY_Validate">
<part name="parameters" element="tns:PagodeChequeFCY_Validate"/>
</message>
<message name="PagodeChequeFCY_ValidateResponse">
<part name="parameters" element="tns:PagodeChequeFCY_ValidateResponse"/>
</message>
<message name="DepositoCombinado">
<part name="parameters" element="tns:DepositoCombinado"/>
</message>
<message name="DepositoCombinadoResponse">
<part name="parameters" element="tns:DepositoCombinadoResponse"/>
</message>
<message name="DepositoCombinado_Validate">
<part name="parameters" element="tns:DepositoCombinado_Validate"/>
</message>
<message name="DepositoCombinado_ValidateResponse">
<part name="parameters" element="tns:DepositoCombinado_ValidateResponse"/>
</message>
<message name="DepositoChequeCertificadoLCY">
<part name="parameters" element="tns:DepositoChequeCertificadoLCY"/>
</message>
<message name="DepositoChequeCertificadoLCYResponse">
<part name="parameters" element="tns:DepositoChequeCertificadoLCYResponse"/>
</message>
<message name="DepositoChequeCertificadoLCY_Validate">
<part name="parameters" element="tns:DepositoChequeCertificadoLCY_Validate"/>
</message>
<message name="DepositoChequeCertificadoLCY_ValidateResponse">
<part name="parameters" element="tns:DepositoChequeCertificadoLCY_ValidateResponse"/>
</message>
<message name="PagodeChequeLCY">
<part name="parameters" element="tns:PagodeChequeLCY"/>
</message>
<message name="PagodeChequeLCYResponse">
<part name="parameters" element="tns:PagodeChequeLCYResponse"/>
</message>
<message name="PagodeChequeLCY_Validate">
<part name="parameters" element="tns:PagodeChequeLCY_Validate"/>
</message>
<message name="PagodeChequeLCY_ValidateResponse">
<part name="parameters" element="tns:PagodeChequeLCY_ValidateResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="PagoTCconFTCajaEfectivo">
<input message="tns:PagoTCconFTCajaEfectivo"/>
<output message="tns:PagoTCconFTCajaEfectivoResponse"/>
</operation>
<operation name="PagoTCconFTCajaChqPropio_Validate">
<input message="tns:PagoTCconFTCajaChqPropio_Validate"/>
<output message="tns:PagoTCconFTCajaChqPropio_ValidateResponse"/>
</operation>
<operation name="PagoTCconFTCajaChqLocal">
<input message="tns:PagoTCconFTCajaChqLocal"/>
<output message="tns:PagoTCconFTCajaChqLocalResponse"/>
</operation>
<operation name="PagoTCconFTCajaEfectivo_Validate">
<input message="tns:PagoTCconFTCajaEfectivo_Validate"/>
<output message="tns:PagoTCconFTCajaEfectivo_ValidateResponse"/>
</operation>
<operation name="PagoTCconFTCajaChqPropio">
<input message="tns:PagoTCconFTCajaChqPropio"/>
<output message="tns:PagoTCconFTCajaChqPropioResponse"/>
</operation>
<operation name="PagoTCconFTCajaChqLocal_Validate">
<input message="tns:PagoTCconFTCajaChqLocal_Validate"/>
<output message="tns:PagoTCconFTCajaChqLocal_ValidateResponse"/>
</operation>
<operation name="PagodeTarjetaCredito">
<input message="tns:PagodeTarjetaCredito"/>
<output message="tns:PagodeTarjetaCreditoResponse"/>
</operation>
<operation name="DepositoChequeGerenciaLCY">
<input message="tns:DepositoChequeGerenciaLCY"/>
<output message="tns:DepositoChequeGerenciaLCYResponse"/>
</operation>
<operation name="PagodeTarjetaCredito_Validate">
<input message="tns:PagodeTarjetaCredito_Validate"/>
<output message="tns:PagodeTarjetaCredito_ValidateResponse"/>
</operation>
<operation name="DepositoChequeGerenciaLCY_Validate">
<input message="tns:DepositoChequeGerenciaLCY_Validate"/>
<output message="tns:DepositoChequeGerenciaLCY_ValidateResponse"/>
</operation>
<operation name="DepositoChequeGerenciaFCY">
<input message="tns:DepositoChequeGerenciaFCY"/>
<output message="tns:DepositoChequeGerenciaFCYResponse"/>
</operation>
<operation name="DepositoChequeGerenciaFCY_Validate">
<input message="tns:DepositoChequeGerenciaFCY_Validate"/>
<output message="tns:DepositoChequeGerenciaFCY_ValidateResponse"/>
</operation>
<operation name="PagodeChequeFCY">
<input message="tns:PagodeChequeFCY"/>
<output message="tns:PagodeChequeFCYResponse"/>
</operation>
<operation name="PagodeChequeFCY_Validate">
<input message="tns:PagodeChequeFCY_Validate"/>
<output message="tns:PagodeChequeFCY_ValidateResponse"/>
</operation>
<operation name="DepositoCombinado">
<input message="tns:DepositoCombinado"/>
<output message="tns:DepositoCombinadoResponse"/>
</operation>
<operation name="DepositoCombinado_Validate">
<input message="tns:DepositoCombinado_Validate"/>
<output message="tns:DepositoCombinado_ValidateResponse"/>
</operation>
<operation name="DepositoChequeCertificadoLCY">
<input message="tns:DepositoChequeCertificadoLCY"/>
<output message="tns:DepositoChequeCertificadoLCYResponse"/>
</operation>
<operation name="DepositoChequeCertificadoLCY_Validate">
<input message="tns:DepositoChequeCertificadoLCY_Validate"/>
<output message="tns:DepositoChequeCertificadoLCY_ValidateResponse"/>
</operation>
<operation name="PagodeChequeLCY">
<input message="tns:PagodeChequeLCY"/>
<output message="tns:PagodeChequeLCYResponse"/>
</operation>
<operation name="PagodeChequeLCY_Validate">
<input message="tns:PagodeChequeLCY_Validate"/>
<output message="tns:PagodeChequeLCY_ValidateResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="PagoTCconFTCajaEfectivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoTCconFTCajaChqPropio_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoTCconFTCajaChqLocal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoTCconFTCajaEfectivo_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoTCconFTCajaChqPropio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoTCconFTCajaChqLocal_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagodeTarjetaCredito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DepositoChequeGerenciaLCY">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagodeTarjetaCredito_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DepositoChequeGerenciaLCY_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DepositoChequeGerenciaFCY">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DepositoChequeGerenciaFCY_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagodeChequeFCY">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagodeChequeFCY_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DepositoCombinado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DepositoCombinado_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DepositoChequeCertificadoLCY">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DepositoChequeCertificadoLCY_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagodeChequeLCY">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagodeChequeLCY_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcTransaccionesAutobancos/services"/>
</port>
</service>
</definitions>