Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/PagoRecaudoMigracion/PagoRecaudoMigracion.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoRecaudoMigracionTypes"
	xmlns:pag="http://www.ficohsa.com.hn/middleware.services/pagoRecaudoMigracionTypes">
	
	<xs:complexType name="pagoRecaudoMigracionResponseType">
		<xs:sequence>
			<xs:element name="ORD_PARTY_ID" type="xs:string" minOccurs="0" />
			<xs:element name="ORD_PARTY_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="APPOINTMENT_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="APPOINTMENT_DATE_TIME" type="xs:string" minOccurs="0" />
			<xs:element name="REQUEST_CITY" type="xs:string" minOccurs="0" />
			<xs:element name="REQUEST_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="PASSPORT_DURATION" type="xs:string" minOccurs="0" />
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />			
			<xs:element name="PAYMENT_INFORMATION">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PAYMENT_METHOD" type="xs:string"/>
						<xs:element name="PAYMENT_CURRENCY" type="xs:string"/>
						<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0" />
						<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
						<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="BANK_CODE" type="xs:string" minOccurs="0" />
						<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BILL_DETAIL" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="pagoRecaudoMigracion">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CONTRACT_ID" type="xs:string"/>
	            <xs:element name="ORD_PARTY_ID" type="xs:string"/>
	            <xs:element name="ORD_PARTY_NAME" type="xs:string"/>
	            <xs:element name="REQUEST_CITY" type="xs:string"/>
	            <xs:element name="REQUEST_TYPE" type="xs:string"/>
	            <xs:element name="PASSPORT_DURATION" type="xs:string"/>
	            <xs:element name="PAYMENT_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PAYMENT_METHOD" type="xs:string"/>
							<xs:element name="PAYMENT_CURRENCY" type="xs:string"/>
							<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0" />
							<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
							<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
							<xs:element name="BANK_CODE" type="xs:string" minOccurs="0" />
							<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" />
							<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>	
	
	<xs:element name="pagoRecaudoMigracionResponse" type="pag:pagoRecaudoMigracionResponseType"/>

</xs:schema>