Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ResultadoCalificacionBlaze/wsdl/resultadoCalificacionBlazePS.wsdl

<wsdl:definitions name="resultadoCalificacionBlazePS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/resultadoCalificacionBlazePS/" xmlns:res="http://www.ficohsa.com.hn/middleware.services/resultadoCalificacionBlazePS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoTypes" schemaLocation="../../GestionesSolicitudCredito/xsd/gestionesSolicitudCreditoTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="resultadoCalificacionBlazeRequest">
		<wsdl:part element="tns:resultadoCalificacionBlaze" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="resultadoCalificacionBlazeResponse">
		<wsdl:part element="tns:resultadoCalificacionBlazeResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="resultadoCalificacionBlazePS">
		<wsdl:operation name="resultadoCalificacionBlaze" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="res:resultadoCalificacionBlazeRequest"/>
			<wsdl:output message="res:resultadoCalificacionBlazeResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="resultadoCalificacionBlazePSSOAP" type="res:resultadoCalificacionBlazePS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="resultadoCalificacionBlaze">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="res:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="res:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="resultadoCalificacionBlazePS">
		<wsdl:port binding="res:resultadoCalificacionBlazePSSOAP" name="resultadoCalificacionBlaze">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/resultadoCalificacionBlaze/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>