Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaEstadoTransaccion/xsd/consultaEstadoTransaccionTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaEstadoTransaccionTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaEstadoTransaccionTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: consultaEstadoTransaccion -->
    <!--############################################-->
    <xs:element name="consultaEstadoTransaccion">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="TICKET" type="xs:string"/>
				<xs:element name="DESTINATION_TYPE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
    <xs:element name="consultaEstadoTransaccionResponse">
    	<xs:complexType>
        	<xs:sequence>								
			</xs:sequence>
		</xs:complexType>
    </xs:element>    
</xs:schema>