Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/BusinessServices/TercerosGT/BitacoraTercero/test/wsdl/test.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ficohsa.com.hn/schema/updateCardDataTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/schema/updateCardDataTypes" targetNamespace="http://www.ficohsa.com.hn/schema/updateCardDataTypes">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/schema/updateCardDataTypes" version="1.0">
            <xs:element name="sendMessageISO8583Request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendMessageISO8583Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="status" type="xs:string"/>
                        <xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
                        <xs:element minOccurs="0" name="messageSwitch" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sendMessageISO8583Request">
        <wsdl:part element="tns:sendMessageISO8583Request" name="sendMessageISO8583Request"/>
    </wsdl:message>
    <wsdl:message name="sendMessageISO8583Response">
        <wsdl:part element="tns:sendMessageISO8583Response" name="sendMessageISO8583Response"/>
    </wsdl:message>
    <wsdl:portType name="updateCardDataEndpoint">
        <wsdl:operation name="sendMessageISO8583">
            <wsdl:input message="tns:sendMessageISO8583Request" name="sendMessageISO8583Request"/>
            <wsdl:output message="tns:sendMessageISO8583Response" name="sendMessageISO8583Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="updateCardDataEndpointSoap11" type="tns:updateCardDataEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendMessageISO8583">
            <soap:operation soapAction=""/>
            <wsdl:input name="sendMessageISO8583Request">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendMessageISO8583Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="updateCardDataEndpointService">
        <wsdl:port binding="tns:updateCardDataEndpointSoap11" name="updateCardDataEndpointSoap11">
            <soap:address location="http://172.23.12.141:7001/actualiza-datos-tarjeta-ws/services/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>