Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RetiroEfectivoCBS/xsd/retiroEfectivoCBTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/retiroEfectivoCBTypes"
	xmlns:ret="http://www.ficohsa.com.hn/middleware.services/retiroEfectivoCBTypes">
		
	<xs:element name="retiroEfectivo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				<xs:element name="CURRENCY" type="xs:string"/>
				<xs:element name="AMOUNT" type="xs:string"/>
				<xs:element name="TOKEN_ID" type="xs:string"/>
				<xs:element name="TRANSACTION_ID_CB" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="retiroEfectivoResponse" type="ret:retiroEfectivoResponseType"/>
	
	<xs:complexType name="retiroEfectivoResponseType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="TOKEN_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="COMMISION_AMOUNT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>