Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/GeneraURL/xsd/generaURLTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/generaURLTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/generaURLTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--############################################ -->
	<!-- OPERATION: generaURL -->
	<!--############################################ -->
	<xs:element name="generaURL">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GENERATION_DETAILS" minOccurs="0"
					type="tns:generationDetailsTypes" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>



	<xs:element name="generaURLResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GENERATION_DETAILS" minOccurs="0"
					type="tns:generationDetailsTypes" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:complexType name="generationDetailsTypes">
		<xs:sequence>
			<xs:element name="GENERATION_ITEM" minOccurs="0"
				type="tns:generationItemTypes" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="generationItemTypes">
		<xs:sequence>
			<xs:element name="URL_ID" type="xs:string" />
			<xs:element name="PROPERTIES" type="tns:propertiesTypes" />
		</xs:sequence>
       </xs:complexType>

		<xs:complexType name="propertiesTypes">
			<xs:sequence>
				<xs:element name="PROPERTY" type="tns:propertyTypes"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>

		<xs:complexType name="propertyTypes">
			<xs:sequence>
				<xs:element name="NAME" type="xs:string" />
				<xs:element name="VALUE" type="xs:string" />
			</xs:sequence>
		</xs:complexType>

</xs:schema>
