Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/deudoresRecaudos/afiliacionDeudores/afiliacionDeudoresTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/afiliacionDeudoresTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/afiliacionDeudoresTypes">
	

		<xs:element name="afiliacionDeudores">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="COLLECTION_CODE" type="xs:string"/>
	            <xs:element name="DEBTOR_CODE" type="xs:string"/>
	            <xs:element name="DEBTOR_NAME" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element> 
	
	<xs:element name="afiliacionDeudoresResponse"/>
	
</xs:schema>