Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/IdentityProtection/xsd/IdentityProtectionTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/IdentityProtectionTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/kvpType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/IdentityProtectionTypes">

	
	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/kvpType" schemaLocation="../../../Resources/esquemas_generales/KeyValuePair.xsd"/>	
	<xs:complexType name="IdentityProtectionRequest">
	<xs:sequence>
	        <xs:element name="OPERATION_NAME" type="xs:string"/>
			<xs:element name="ACTION" type="xs:string"/>
			<xs:element name="KVPAIRS" type="kvp:UnboundKvPair" minOccurs="0" maxOccurs="1"/>			
    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="IdentityProtectionResponse">
		<xs:sequence>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="IdentityProtectionRequest" type="tns:IdentityProtectionRequest"/>

	<xs:element name="IdentityProtectionResponse" type="tns:IdentityProtectionResponse"/>
</xs:schema>