Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/INTFC/transferenciasRegionales/xsd/transferenciasRegionales_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/transferenciasRegionales" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/transferenciasRegionales" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_PAISREMITENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PAISBENEFICIARIO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJEBENEFICIARIO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>                    
            <element name="PV_REFERENCIA" type="string" db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MONTO" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CLIENTEREMITENTE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDACUENTAREMITENTE" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBREREMITENTE" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CUENTAREMITENTE" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CLIENTEBENEFICIARIO" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDACUENTABENEFICIARIO" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            
            <element name="PV_DIRECCIONBENEFICIARIO" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBREBENEFICIARIO" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>    
            <element name="PV_CUENTABENEFICIARIO" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DEBITOCREDITO" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCION" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FINANCIAL_SECTOR_CATEGORY" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FINANCIAL_SECTOR_SUBCATEG" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_UID" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
			<element name="PN_COMISION_REGIONAL" type="decimal" db:index="21" db:type="NUMBER" minOccurs="0" nillable="true"/>         
            <element name="PN_MONTOOUT" type="decimal" db:index="22" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CLIENTEREMITENTEOUT" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDACUENTAREMITENTEOUT" type="string" db:index="24" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CUENTAREMITENTEOUT" type="string" db:index="25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CLIENTEBENEFICIARIOOUT" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDACUENTABENEFICIARIOOUT" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CUENTABENEFICIARIOOUT" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MONTOTRANSACCION" type="decimal" db:index="29" db:type="NUMBER" minOccurs="0" nillable="true"/>            
            <element name="PN_TASACAMBIO" type="decimal" db:index="30" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PD_FECHATRANSACCION" type="dateTime" db:index="31" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PV_IDTRANSACCION" type="string" db:index="32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="33" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="34" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>