Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaUsuariosSistema/xsd/consultaUsuariosSistemaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaUsuariosSistemaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaUsuariosSistemaTypes">
	
	<xs:complexType name = "consultaUsuariosSistemaResponseArrayType">
		<xs:sequence>
			<xs:element name="USER_ID" type="xs:string" minOccurs="0"/>
	        <xs:element name="USER_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="DEPT_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="APPLICATION" type="xs:string" minOccurs="0" />
			<xs:element name="OFFICER_DAO" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="SIGN_ON_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="ADDITIONAL_ITEMS" type="cons:additionalItemsType" minOccurs="0" maxOccurs="1"/>
	   </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="additionalItemsType">
		<xs:sequence>
			<xs:element name="ITEM" type="cons:additionalItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="additionalItemType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="consultaUsuariosSistemaResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaUsuariosSistemaResponseRecordType" type="cons:consultaUsuariosSistemaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaUsuariosSistemaResponseType">
		<xs:sequence>
			<xs:element name="consultaUsuariosSistemaResponseType" type="cons:consultaUsuariosSistemaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaUsuariosSistema">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USER_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="APPLICATION" type="xs:string" minOccurs="0"/>
				<xs:element name="SIGN_ON_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="OFFICER_DAO" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaUsuariosSistemaResponse" type="cons:consultaUsuariosSistemaResponseType"/>
	
</xs:schema>