Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/APC/wsdl/APC.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Score">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TipoIdentificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroIden" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoTrabajo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ScoreResult" type="tns:APCResultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APCResultado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdentCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCliente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoResultado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MontoCreditoSugerido" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="MotivoRechazo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConsultaID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="APCScore" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaReferencias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_request" type="tns:ConsultaReferenciasRequestDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultaReferenciasRequestDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TipoIdentificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroIdentificacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaReferenciasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaReferenciasResult" type="tns:ConsultaReferenciasResponseDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultaReferenciasResponseDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ListaReferencias" type="tns:ArrayOfReferenciasDTO" />
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeError" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReferenciasDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReferenciasDTO" nillable="true" type="tns:ReferenciasDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReferenciasDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TipoReferencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreAsociacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroReferencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionCortaRelacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicioRelacion" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFinRelacion" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LimiteMonto" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroPagos" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionFormaPago" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImportePago" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaUltimoPago" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MontoUltimoPago" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionObservacionCorta" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SaldoActual" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDiasAtraso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Historia" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaActualizacion" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoGrupoECON" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoAsociacion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ScoreSoapIn">
    <wsdl:part name="parameters" element="tns:Score" />
  </wsdl:message>
  <wsdl:message name="ScoreSoapOut">
    <wsdl:part name="parameters" element="tns:ScoreResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaReferenciasSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaReferencias" />
  </wsdl:message>
  <wsdl:message name="ConsultaReferenciasSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaReferenciasResponse" />
  </wsdl:message>
  <wsdl:portType name="APCSoap">
    <wsdl:operation name="Score">
      <wsdl:input message="tns:ScoreSoapIn" />
      <wsdl:output message="tns:ScoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaReferencias">
      <wsdl:input message="tns:ConsultaReferenciasSoapIn" />
      <wsdl:output message="tns:ConsultaReferenciasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APCSoap" type="tns:APCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Score">
      <soap:operation soapAction="http://tempuri.org/Score" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaReferencias">
      <soap:operation soapAction="http://tempuri.org/ConsultaReferencias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APCSoap12" type="tns:APCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Score">
      <soap12:operation soapAction="http://tempuri.org/Score" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaReferencias">
      <soap12:operation soapAction="http://tempuri.org/ConsultaReferencias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APC">
    <wsdl:port name="APCSoap" binding="tns:APCSoap">
      <soap:address location="http://10.235.53.161/APC/APC.asmx" />
    </wsdl:port>
    <wsdl:port name="APCSoap12" binding="tns:APCSoap12">
      <soap12:address location="http://10.235.53.161/APC/APC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>