Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/VerificaOTP/xsd/verificaOTPTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/verificaOTPTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/verificaOTPTypes"
	elementFormDefault="qualified">
	
	<xs:simpleType name="limitedString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>			
			<xs:maxLength value="100" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="statusOptions">
		<xs:restriction base="xs:string">
			<xs:enumeration value="VALID"/>
			<xs:enumeration value="INVALID"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="entityInfoType">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string"/>
			<xs:element name="ID" type="tns:limitedString"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:element name="verificaHOTPRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ENTITY_INFO" type="tns:entityInfoType"/>
				<xs:element name="OTP_VALUE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="verificaHOTPResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="STATUS" type="tns:statusOptions" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>