Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaSubBarrioColonia/xsd/consultaSubBarrioColoniaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSubBarrioColoniaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaSubBarrioColoniaTypes">
	
	<xs:element name="consultaSubBarrioColonia">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SUB_DISTRICT_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="DISTRICT_CODE" type="xs:string"/>
	            <xs:element name="CITY_CODE" type="xs:string"/>
	            <xs:element name="DEPT_CODE" type="xs:string"/>
	            <xs:element name="COUNTRY_CODE" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaSubBarrioColoniaResponse" type="cons:consultaSubBarrioColoniaResponseType"/>

	<xs:complexType name="consultaSubBarrioColoniaResponseType">
		<xs:sequence>
			<xs:element name="consultaSubBarrioColoniaResponseType" type="cons:consultaSubBarrioColoniaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaSubBarrioColoniaResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaSubBarrioColoniaResponseRecordType" type="cons:consultaSubBarrioColoniaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
	</xs:complexType>
	

	<xs:complexType name = "consultaSubBarrioColoniaResponseArrayType">
		<xs:sequence>
			<xs:element name="SUB_DISTRICT_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="SUB_DISTRICT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="DISTRICT_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="CITY_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="DEPT_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>
	
</xs:schema>