Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/TributosDEI/xsd/tributosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tri="http://www.ficohsa.com.hn/middleware.services/tributosTypes"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/tributosTypes">


	<!-- OPERACION: CONSULTA CARGA ARCHIVO DAT -->

	<xs:complexType name="ConsultaCargaArchivoDATResponse">
		<xs:sequence>
			<xs:element name="BANK_BATCH_ID" type="xs:string"
				minOccurs="0" />
			<xs:element name="RTN" type="xs:string" minOccurs="0" />
			<xs:element name="PRESENTATION_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="DECLARATION_ID" type="xs:string"
				minOccurs="0" />
			<xs:element name="PERIOD" type="xs:string" minOccurs="0" />
			<xs:element name="TAX_ID" type="xs:integer" minOccurs="0" />
			<xs:element name="TAX_DESCRIPTION" type="xs:string" minOccurs="0" />
			<xs:element name="CONCEPT_ID" type="xs:integer" minOccurs="0" />
	        <xs:element name="CONCEPT_DESCRIPTION" type="xs:string" minOccurs="0" />
			<xs:element name="TAX_PAYMENT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="PENALTY_FEE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="SURCHARGE_PAYMENT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="TAX_INTEREST" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="TOTAL_PAYMENT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="TOTAL_PRESENTED" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="PAYMENT_DETAILS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PAYMENT_DETAIL" type="tri:PaymentDetailType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>

	</xs:complexType>

	<!--############################### -->
	<!--TYPES: TRIBUTOS -->
	<!-- StringType -->
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<!-- StringType -->
	<xs:simpleType name="stringMaxLength20">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<!-- StringType max30 -->
	<xs:simpleType name="stringMaxLength30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<!-- StringType max20 -->
	<xs:simpleType name="stringMax20Length">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<!-- StringType max80 -->
	<xs:simpleType name="stringMaxLength80">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80" />
		</xs:restriction>
	</xs:simpleType>

	<!--############################### -->
	<!-- YESNO TYPE -->
	<xs:simpleType name="yesNoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YES" />
			<xs:enumeration value="NO" />
		</xs:restriction>
	</xs:simpleType>

	<!--############################### -->
	<!-- PERSON TYPE -->
	<xs:simpleType name="personType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N" />
			<xs:enumeration value="J" />
		</xs:restriction>
	</xs:simpleType>

	<!--############################### -->
	<!-- REQUEST TYPE -->
	<xs:simpleType name="requestType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRESENT" />
			<xs:enumeration value="PAYMENT" />
		</xs:restriction>
	</xs:simpleType>



	<!--############################### -->
	<!--OPERACION: CONSULTA NUMERO DE CONTRATO -->
	<!--############################### -->
	<xs:element name="consultarNroContrato">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RTN" type="tri:stringMaxLength20" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultarNroContratoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RTN" type="xs:string" minOccurs="0" />
				<xs:element name="CONTRACT_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="CONTRACT_STATUS" type="xs:integer"
					minOccurs="0" />
				<xs:element name="CONTRACT_STATUS_DESC" type="xs:string"
					minOccurs="0" />
				<xs:element name="CLIENT_TYPE" type="xs:string"
					minOccurs="0" />
				<xs:element name="TITLE_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="TITLE_ID" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--############################### -->
	<!--OPERACION: ALTA DE CONTRATO -->
	<!--############################### -->
	<xs:element name="altaContrato">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RTN" type="tri:stringMaxLength20" />
				<xs:element name="CONTRACT_NUMBER" type="tri:stringMinLength1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="altaContratoResponse" />


	<!--############################### -->
	<!--OPERACION: OBTENER DATOS DE CONTRATO -->
	<!--############################### -->
	<xs:element name="obtenerDatosContrato">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RTN" type="tri:stringMaxLength20" />
				<xs:element name="CONTRACT_NUMBER" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="obtenerDatosContratoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CONTRACT_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="RTN" type="xs:string" minOccurs="0" />
				<xs:element name="BUSINESS_NAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="LEGAL_REP_ID" type="xs:string"
					minOccurs="0" />
				<xs:element name="EMAIL" type="xs:string" minOccurs="0" />
				<xs:element name="LEGAL_REP_NAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="DEED_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="DEED_DATE" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>



	<!--############################### -->
	<!--OPERACION: ADHESION DE CONTRATO -->
	<!--############################### -->
	<xs:element name="adhesionContratoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TYPE_TAXPAYER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="N" />
							<xs:enumeration value="J" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RTN" type="tri:stringMaxLength20" />
				<xs:element name="EMAIL" type="tri:stringMinLength1" />
				<xs:element name="BUILDING_DATE" type="xs:date"
					minOccurs="0" />
				<xs:element name="BUSINESS_NAME" type="tri:stringMaxLength80"
					minOccurs="0" />
				<xs:element name="LEGAL_REP_ID" type="tri:stringMax20Length"
					minOccurs="0" />
				<xs:element name="LEGAL_REP_NAME" minOccurs="0"
					type="tri:stringMaxLength80" />
				<xs:element name="DEED_NUMBER" type="tri:stringMax20Length"
					minOccurs="0" />
				<xs:element name="DEED_DATE" type="xs:date" minOccurs="0" />
				<xs:element name="DJ_LAST_NUMBER" type="tri:stringMax20Length"
					minOccurs="0" />
				<xs:element name="DJ_LAST_DATE" type="xs:date" minOccurs="0" />
				<xs:element name="BIRTH_DATE" type="xs:date" minOccurs="0" />
				<xs:element name="FIRST_NAME" type="tri:stringMaxLength30"
					minOccurs="0" />
				<xs:element name="MIDDLE_NAME" type="tri:stringMaxLength30"
					minOccurs="0" />
				<xs:element name="FIRST_SURNAME" type="tri:stringMaxLength30"
					minOccurs="0" />
				<xs:element name="SECOND_SURNAME" type="tri:stringMaxLength30"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="adhesionContratoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROCESS_ID" type="xs:string" minOccurs="0" />
				<xs:element name="RTN" type="xs:string" minOccurs="0" />
				<xs:element name="BUSINESS_NAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="LEGAL_REP_ID" type="xs:string"
					minOccurs="0" />
				<xs:element name="EMAIL" type="xs:string" minOccurs="0" />
				<xs:element name="LEGAL_REP_NAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="DEED_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="DEED_DATE" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!--############################### -->
	<!--OPERACION: CONFIRMAR REVERSAR ADHESION -->
	<!--############################### -->
	<xs:element name="confirmarReversarAdhesionContratoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROCESS_ID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="22" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CONFIRM" type="tri:yesNoType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="confirmarReversarAdhesionContratoResponse" />


	<!--############################### -->
	<!--OPERACION: CARGA DE ARCHIVO -->
	<!--############################### -->
	<xs:element name="cargaArchivoDAT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USER_ID" type="tri:stringMinLength1" />
				<xs:element name="RTN" type="tri:stringMaxLength20" />
				<xs:element name="CONTRACT_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="TAX_FILE" type="xs:base64Binary" />
				<xs:element name="CUSTOMER_ID" type="tri:stringMinLength1" />
				<xs:element name="FILE_NAME" type="tri:stringMinLength1" />

			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="cargaArchivoDATResponse" type="tri:ConsultaCargaArchivoDATResponse" />


	<!--############################### -->
	<!--OPERACION: CONSULTA CARGA DE ARCHIVO -->
	<!--############################### -->
	<xs:element name="consultaCargaArchivoDAT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FILE_REQUEST_ID" type="xs:integer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaCargaArchivoDATResponse" type="tri:ConsultaCargaArchivoDATResponse" />



	<xs:complexType name="PaymentDetailType">
		<xs:sequence>
			<xs:element name="TAX_XML" type="xs:integer" />
			<xs:element name="TAX" type="xs:integer" />
			<xs:element name="CONCEPT" type="xs:integer" />
			<xs:element name="SUB_CONCEPT" type="xs:integer" />
			<xs:element name="DESCRIPTION" type="xs:string"/>
			<xs:element name="AMOUNT" type="xs:decimal" />
		</xs:sequence>
	</xs:complexType>
	
	<!--############################### -->
	<!--TIPO: DETALLE DE IMPUESTO -->
	<!--############################### -->
	
	<xs:complexType name="PaymentDetailDETType">
		<xs:sequence>
			<xs:element name="TAX" type="xs:integer" />
			<xs:element name="CONCEPT" type="xs:integer" />
			<xs:element name="SUB_CONCEPT" type="xs:integer" />
			<xs:element name="AMOUNT" type="xs:decimal" />
		</xs:sequence>
	</xs:complexType>
	
	<!--############################### -->
	<!--TIPO: METODO DE PAGO -->
	<!--############################### -->
	<xs:complexType name="paymentInformationType">
		<xs:sequence>
			<xs:element name="PAYMENT_METHOD"  type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--############################### -->
	<!--OPERACION: PAGO DET -->
	<!--############################### -->
	<xs:element name="pagoDET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USER_ID" type="tri:stringMinLength1" />
				<xs:element name="RTN" type="tri:stringMaxLength20" />
				<xs:element name="CUSTOMER_ID" type="tri:stringMinLength1" />
				<xs:element name="BANK_BATCH_ID" type="xs:integer" />
				<xs:element name="CONTRACT_ID" type="tri:stringMinLength1" />
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
				<xs:element name="CURRENCY" type="tri:stringMinLength1" />
				<xs:element name="PERIOD" type="tri:stringMinLength1" />
				<xs:element name="TOTAL_PAYMENT" type="xs:double" />
				<xs:element name="CONTRACT_NUMBER" type="xs:string" minOccurs="0" />
				<xs:element name="JURIDICAL_DECLARATION_ID" type="tri:stringMinLength1" />
				<xs:element name="TAX_PAYMENT_ID" type="xs:double" />
				<xs:element name="TAX_CONCEPT_ID" type="xs:double" />
				<xs:element name="TOTAL_PRESENTED" type="xs:double" />
				<xs:element name="REQUEST_DET_TYPE" type="tri:requestType" />
				<xs:element name="PAYMENT_INFORMATION" type="tri:paymentInformationType"/>
				<xs:element name="PAYMENT_DETAILS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PAYMENT_DETAIL" type="tri:PaymentDetailDETType"
							minOccurs="1" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="pagoDETResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BILL_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="EXTERNAL_REFERENCE" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!--############################### -->
	<!--OPERACION: PAGO ROP -->
	<!--############################### -->
	<xs:element name="pagoROP">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USER_ID" type="tri:stringMinLength1" />
				<xs:element name="CUSTOMER_ID" type="tri:stringMinLength1" />
				<xs:element name="PERSON_TYPE" type="tri:personType" />
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
				<xs:element name="CURRENCY" type="tri:stringMinLength1" />
				<xs:element name="RTN" type="tri:stringMaxLength20" />
				<xs:element name="TAX_CONCEPT_ID" type="xs:integer" />
				<xs:element name="TAX_PAYMENT_ID" type="xs:integer" />
				<xs:element name="MONTH" type="xs:integer" />
				<xs:element name="YEAR" type="xs:integer" />
				<xs:element name="TOTAL_PAYMENT" type="xs:double" />
				<xs:element name="AMOUNT" type="xs:double" />
				<xs:element name="PENALTY_FEE" type="xs:double" />
				<xs:element name="SURCHARGE_PAYMENT" type="xs:double" />
				<xs:element name="INTEREST_PAYMENT" type="xs:double" />
				<xs:element name="PAYMENT_INFORMATION" type="tri:paymentInformationType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="pagoROPResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BILL_NUMBER" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!--############################### -->
	<!--OPERACION: PAGO GOP -->
	<!--############################### -->
	<xs:element name="pagoGOP">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USER_ID" type="tri:stringMinLength1" />
				<xs:element name="CUSTOMER_ID" type="tri:stringMinLength1" />
				<xs:element name="PERSON_TYPE" type="tri:personType" />
				<xs:element name="RTN" type="tri:stringMaxLength20" />
				<xs:element name="GOP_CODE" type="tri:stringMinLength1" />
				<xs:element name="CONTRACT_ID" type="tri:stringMinLength1" />
				<xs:element name="CONTRACT_NUMBER" type="xs:string" minOccurs="0" />
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
				<xs:element name="CURRENCY" type="tri:stringMinLength1" />
				<xs:element name="PERIOD" type="xs:string" minOccurs="0" />
				<xs:element name="TOTAL_PAYMENT" type="xs:decimal" />
				<xs:element name="PAYMENT_INFORMATION" type="tri:paymentInformationType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="pagoGOPResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BILL_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="EXTERNAL_REFERENCE" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!--############################### -->
	<!--OPERACION: CONSULTA RECIBO -->
	<!--############################### -->
	<xs:element name="consultaRecibo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BILL_NUMBER" type="tri:stringMinLength1" />
				<xs:element name="TAX_TYPE" type="xs:string" minOccurs="0" />
				<xs:element name="USER_ID" type="xs:string" minOccurs="0" />
				<xs:element name="CUSTOMER_ID" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaReciboResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BILL_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="TAX_TYPE" type="xs:string" minOccurs="0" />
				<xs:element name="DESCRIPTION" type="xs:string"
					minOccurs="0" />
				<xs:element name="BILL_DETAIL" type="xs:string"
					minOccurs="0" />
				<xs:element name="DEBIT_DATE" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="CREATION_DATE" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="TAXPAYER_NAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="COSTUMER_DEED" type="xs:string"
					minOccurs="0" />
				<xs:element name="RTN" type="xs:string" minOccurs="0" />
				<xs:element name="CUSTOMER_ID" type="xs:string"
					minOccurs="0" />
				<xs:element name="USER_ID" type="xs:string" minOccurs="0" />
				<xs:element name="APP_SEQUENCE" type="xs:string"
					minOccurs="0" />
				<xs:element name="VOUCHER_TYPE" type="xs:integer"
					minOccurs="0" />
				<xs:element name="VOUCHER_TYPE_DESC" type="xs:string"
					minOccurs="0" />
				<xs:element name="T24_REF" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!--############################### -->
	<!--OPERACION: CONSULTA CONTRATO GOP -->
	<!--############################### -->
	<xs:element name="consultaContratoGOP">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RTN" type="tri:stringMaxLength20" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaContratoGOPResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RTN" type="xs:string" minOccurs="0" />
				<xs:element name="CONTRACT_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="CONTRACT_STATUS" type="xs:integer"
					minOccurs="0" />
				<xs:element name="CONTRACT_STATUS_DESC" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--############################### -->
	<!--OPERACION: CONSULTA GUIA DE PAGO -->
	<!--############################### -->
	<xs:element name="consultaGuiaDePago">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RTN" type="tri:stringMaxLength20" />
				<xs:element name="CONTRACT_NUMBER" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaGuiaDePagoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CONTRACT_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="RTN" type="xs:string" minOccurs="0" />
				<xs:element name="BUSINESS_NAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0" />
				<xs:element name="EMAIL" type="xs:string" minOccurs="0" />
				<xs:element name="LEGAL_REP_NAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="PUBLIC_DEED_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="PUBLIC_DEED_DATE" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!--############################### -->
	<!--OPERACION: LISTA DE GUIA DE PAGO -->
	<!--############################### -->
	<xs:element name="listaDeGuiaPago">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RTN" type="tri:stringMaxLength20" />
				<xs:element name="CONTRACT_NUMBER" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="listaDeGuiaPagoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PAYMENT_GUIDES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PAYMENT_GUIDE" type="tri:PaymentGuideTypes"
								minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="PaymentGuideTypes">
		<xs:sequence>
			<xs:element name="PAYMENT_GUIDE_ID" type="xs:string"
				minOccurs="0" />
			<xs:element name="CREATION_DATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="EXPIRATION_DATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="DEED_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="DEED_DESC" type="xs:string" minOccurs="0" />
			<xs:element name="PERIOD" type="xs:string" minOccurs="0" />
			<xs:element name="TOTAL_VALUE" type="xs:decimal"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>


	<!--############################### -->
	<!--OPERACION: VALORES DE GUIA DE PAGO -->
	<!--############################### -->
	<xs:element name="valoresDeGuiaPagoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RTN" type="tri:stringMaxLength20" />
				<xs:element name="CONTRACT_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="PAYMENT_GUIDE" type="tri:stringMinLength1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="valoresDeGuiaPagoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="STATUS" type="xs:string" minOccurs="0" />
				<xs:element name="STATUS_DESC" type="xs:string"
					minOccurs="0" />
				<xs:element name="TAXES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TAX" type="tri:TaxType" minOccurs="0"
								maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="TaxType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:decimal" minOccurs="0" />
			<xs:element name="TAX_DESCRIPTION" type="xs:string"
				minOccurs="0" />
			<xs:element name="TAX_CONCEPT" type="xs:decimal"
				minOccurs="0" />
		    <xs:element name="CONCEPT_DESCRIPTION" type="xs:string"
				minOccurs="0" />
			<xs:element name="TAX_VALUE" type="xs:decimal" minOccurs="0" />
			<xs:element name="TAX_PENALTY" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="TAX_SURCHARGE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="TAX_INTEREST" type="xs:decimal"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

<!--############################### -->
	<!--OPERACION: CONSULTA TIPOS CONCEPTOS -->
	<!--############################### -->
	

	<xs:element name="consultaTiposConceptosRequest">

		<xs:complexType>
			<xs:sequence>
				<xs:element name="TAX_ID" type="xs:string" />
				<xs:element name="CONCEPT_ID" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaTiposConceptosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CONCEPTS" type="tri:conceptsType" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="conceptsType">
		<xs:sequence>
			<xs:element name="CONCEPT" type="tri:conceptType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="conceptType">
		<xs:sequence>
			<xs:element name="ID" type="xs:decimal" maxOccurs="unbounded" />
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--############################### -->
	<!--OPERACION: CONSULTA TIPOS IMPUESTOS -->
	<!--############################### -->

	<xs:element name="consultaTiposImpuestosRequest">

		<xs:complexType>
			<xs:sequence>
				<xs:element name="TAX_ID" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaTiposImpuestosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TYPES_TAXES" type="tri:taxesType" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="taxesType">
		<xs:sequence>
			<xs:element name="TYPE_TAX" type="tri:taxType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="taxType">
		<xs:sequence>
			<xs:element name="ID" type="xs:decimal" maxOccurs="unbounded" />
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<!--############################### -->
	<!--OPERACION: Consulta Razon Social -->
	<!--############################### -->
	

	<xs:element name="consultaRazonSocial">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RTN" type="tri:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaRazonSocialResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BUSINESS_NAME" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>