Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/InscripcionesRNP/wsdl/inscripcionesRNPPS.wsdl

<wsdl:definitions name="inscripcionesRNPPS" 
                  targetNamespace="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPPS/" 
                  xmlns:op="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPPS/" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  xmlns:tns="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPTypes" 
                  xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">

	<wsdl:types>	
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPTypes" schemaLocation="../xsd/inscripcionesRNPTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="consultaCompletaInscripcionRequest">
		<wsdl:part element="tns:consultaCompletaInscripcion" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaCompletaInscripcionResponse">
		<wsdl:part element="tns:consultaCompletaInscripcionResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="inscripcionesRNPPS">
		<wsdl:operation name="consultaCompletaInscripcion" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:consultaCompletaInscripcionRequest"/>
			<wsdl:output message="op:consultaCompletaInscripcionResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="inscripcionesRNPPSSOAP" type="op:inscripcionesRNPPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaCompletaInscripcion">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPPS/inscripcionesRNP"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="inscripcionesRNPPS">
		<wsdl:port binding="op:inscripcionesRNPPSSOAP" name="inscripcionesRNPPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/ReferenceData/BusinessPartner/InscripcionesRNP/"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>