Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/RecaudoEEHKeys/xsd/recaudoEEHKeys_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/TERCEROS/OSB_K_OPER_ASYNC/CV_P_ENVIAR_PARAMETROS/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/TERCEROS/OSB_K_OPER_ASYNC/CV_P_ENVIAR_PARAMETROS/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="Pv_Solicitud" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="Pv_ApiKey" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="Pv_RequestID" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="Pv_Signature" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="Pn_CodigoError" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="Pv_MensajeError" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>