Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Loans/RequestorServices/XSD/getLoanDetails.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamo" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gcl="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamo" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
   <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="getLoanDetailsResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
            <xsd:element name="LoanDetails" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="LoanCustomerName" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CustomerId" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="EffectiveDate" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="MaturityDate" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="LastDisbursementDate" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="InterestRate" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Currency" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PrincipalInitialAmount" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PrincipalDueAmount" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PrincipalOverdueAmount" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="InterestAmount" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="OverdueInterestAmount" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ArrearsInterestAmount" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CommissionAmount" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="TotalDebt" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="NextPaymentId" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="NextPaymentMaturityDate" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="NumberPayments" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PaidPayments" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="OverduePayments" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="NextPaymentPrincipalAmount" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="NextPaymentInterestAmount" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="NextPaymentInsuranceAmount" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="NextPaymentTotalAmount" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="LoanStatus" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ProductCode" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ProductDescription" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="GuaranteeTypeCode" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="GuaranteeDescription" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CreditTypeCode" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CreditTypeDescription" minOccurs="0" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
  <xsd:element name="amortizationScheduleRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="Amount" minOccurs="0" type="xsd:decimal"/>
        <xsd:element name="Currency" minOccurs="0" type="xsd:string"/>
        <xsd:element name="AnnualRate" minOccurs="0" type="xsd:decimal"/>
        <xsd:element name="AmortizationType" minOccurs="0" type="xsd:string"/>
        <xsd:element name="Term" minOccurs="0" type="xsd:integer"/>
        <xsd:element name="ClearingType" minOccurs="0" type="xsd:string"/>
        <xsd:element name="FormalizationExpense" minOccurs="0" type="xsd:decimal"/>
        <xsd:element name="FirstPaymentDate" minOccurs="0" type="xsd:string"/>
        <xsd:element name="InsuranceInfo" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LifeDebt" minOccurs="0" type="xsd:decimal"/>
              <xsd:element name="Unemployment" minOccurs="0" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="DisbursementInfo" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Date" minOccurs="0" type="xsd:string"/>
              <xsd:element name="Rate" minOccurs="0" type="xsd:decimal"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="amortizationScheduleResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
            <xsd:element name="LoanInfo" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="TotalCapital" type="xsd:decimal" minOccurs="0"/>
                     <xsd:element name="TotalInterests" type="xsd:decimal" minOccurs="0"/>
                     <xsd:element name="TotalInsuranceInfo" minOccurs="0">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="LifeDebt" type="xsd:decimal" minOccurs="0"/>
                              <xsd:element name="Unemployment" type="xsd:decimal" minOccurs="0"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="TotalPayment" type="xsd:decimal" minOccurs="0"/>
                     <xsd:element name="TotalAnnualCost" type="xsd:decimal" minOccurs="0"/>
                     <xsd:element name="InternalRateReturn" type="xsd:decimal" minOccurs="0"/>
                     <xsd:element name="FormalizationExpense" type="xsd:decimal" minOccurs="0"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="DisbursementInfo" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Amount" type="xsd:decimal" minOccurs="0"/>
                     <xsd:element name="Fee" type="xsd:decimal" minOccurs="0"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="PrimeInsuranceInfo" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="LifeDebt" type="xsd:decimal" minOccurs="0"/>
                     <xsd:element name="Unemployment" type="xsd:decimal" minOccurs="0"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="PaymentPlan" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Order" type="xsd:integer" minOccurs="0"/>
                     <xsd:element name="Date" type="xsd:string" minOccurs="0"/>
                     <xsd:element name="DaysInPeriod" type="xsd:integer" minOccurs="0"/>
                     <xsd:element name="Capital" type="xsd:decimal" minOccurs="0"/>
                     <xsd:element name="Interests" type="xsd:decimal" minOccurs="0"/>
                     <xsd:element name="InsuranceInfo" minOccurs="0">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="LifeDebt" type="xsd:decimal" minOccurs="0"/>
                              <xsd:element name="Unemployment" type="xsd:decimal" minOccurs="0"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="Total" type="xsd:decimal" minOccurs="0"/>
                     <xsd:element name="PrincipalBalance" type="xsd:decimal" minOccurs="0"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>