Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Loans/RequestorServices/XSD/loansTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/loansTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:loan="http://www.ficohsa.com.hn/middleware.services/loansTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
   <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="createDisbursementLoanRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
        <xsd:element name="CustomerId" type="dtt:string1"/>
        <xsd:element name="LoanNumber" type="dtt:string1"/>
        <xsd:element name="Inputter" type="dtt:string1"/>
        <xsd:element name="ExpensesDetails" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Type" type="dtt:string1"/>
              <xsd:element name="Amount" type="xsd:decimal"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="DisbursementDetails">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AgencyCode" type="dtt:string1"/>
              <xsd:element name="Description" minOccurs="0" type="xsd:string"/>
              <xsd:element name="DisbursementItem" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ProductType" type="dtt:string1"/>
                    <xsd:element name="ProductNumber" type="dtt:string1"/>
                    <xsd:element name="ProductCurrency" type="dtt:string1"/>
                    <xsd:element name="Amount" type="xsd:decimal"/>
                    <xsd:element name="AdditionalData" type="loan:AdditionalDataType" minOccurs="0" maxOccurs="unbounded"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createDisbursementLoanResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
            <xsd:element name="ExpensesDetails" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Type" type="xsd:string" minOccurs="0"/>
                     <xsd:element name="Amount" type="xsd:decimal" minOccurs="0"/>
                     <xsd:element name="TransactionReference" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="DisbursementDetails" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="ProductType" type="xsd:string" minOccurs="0"/>
                     <xsd:element name="ProductNumber" type="xsd:string" minOccurs="0"/>
                     <xsd:element name="ProductCurrency" type="xsd:string" minOccurs="0"/>
                     <xsd:element name="Amoun" type="xsd:decimal" minOccurs="0"/>
                     <xsd:element name="TransactionReference" type="xsd:string" minOccurs="0"/>
                      <xsd:element name="AdditionalData" type="loan:AdditionalDataType" minOccurs="0" maxOccurs="unbounded"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="AdditionalDataType">
      <xsd:sequence>
        <xsd:element name="KeyValue" minOccurs="0" type="xsd:string"/>
        <xsd:element name="Value" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  <xsd:element name="createLoanRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="AgencyCode" type="xsd:integer"/>
        <xsd:element name="ProductCode" type="xsd:decimal"/>
        <xsd:element name="CustomerId" type="xsd:integer"/>
        <xsd:element name="CustomerName" type="dtt:string1"/>
        <xsd:element name="AmortizationType" type="dtt:string1"/>
        <xsd:element name="Rate" type="xsd:decimal"/>
        <xsd:element name="Term" type="xsd:decimal"/>
        <xsd:element name="Amount" type="xsd:decimal"/>
        <xsd:element name="LoanTypeCode" type="dtt:string1"/>
        <xsd:element name="CreditTypeCode" type="dtt:string1"/>
        <xsd:element name="GuaranteeTypeCode" type="dtt:string1"/>
        <xsd:element name="PaymentFrequencyType" minOccurs="0" type="xsd:string"/>
        <xsd:element name="PayrollCode" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ObligationTypeCode" type="dtt:string1"/>
        <xsd:element name="FinancialLineCode" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ApprovalCode" type="dtt:string1"/>
        <xsd:element name="PromoterCode" type="dtt:string1"/>
        <xsd:element name="ExecutiveId" type="dtt:string1"/>
        <xsd:element name="AgencyOriginCode" type="xsd:integer"/>
        <xsd:element name="EconomicActivityCode" type="dtt:string1"/>
        <xsd:element name="InvestmentCode" type="dtt:string1"/>
        <xsd:element name="SubinvestmentCode" type="dtt:string1"/>
        <xsd:element name="LoanDestinationCode" type="xsd:integer"/>
        <xsd:element name="LoanDestinationDetailCode" type="xsd:integer"/>
        <xsd:element name="FundsOrigin" type="xsd:decimal"/>
        <xsd:element name="FundsSuborigin" type="xsd:decimal"/>
        <xsd:element name="MonthlyClearingType" type="dtt:string1"/>
        <xsd:element name="YearlyClearingType" type="dtt:string1"/>
        <xsd:element name="CapitalFrequencyType" type="dtt:string1"/>
        <xsd:element name="InterestFrequencyType" type="dtt:string1"/>
        <xsd:element name="CapitalFrequency" type="dtt:string1"/>
        <xsd:element name="InterestFrequency" type="dtt:string1"/>
        <xsd:element name="FirstPaymentInterestDate" type="xsd:date"/>
        <xsd:element name="FirstPaymentCapitalDate" type="xsd:date"/>
        <xsd:element name="GracePeriod" minOccurs="0" type="xsd:string"/>
        <xsd:element name="RateType" type="dtt:string1"/>
        <xsd:element name="RateClass" type="dtt:string1"/>
        <xsd:element name="PortfolioRateValueCode" type="xsd:decimal"/>
        <xsd:element name="TotalRate" type="xsd:decimal"/>
        <xsd:element name="CalculateArrear" type="dtt:string1"/>
        <xsd:element name="ArrearRateValueCode" type="xsd:decimal"/>
        <xsd:element name="ArrearGraceDays" type="xsd:decimal"/>
        <xsd:element name="GuaranteeHandling" type="dtt:string1"/>
        <xsd:element name="Inputter" type="dtt:string1"/>
        <xsd:element name="DebitProductType" minOccurs="0" type="xsd:string"/>
        <xsd:element name="DebitAccount" minOccurs="0" type="xsd:string"/>
        <xsd:element name="InsuranceInfoList" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="InsurancePolicyNumber" minOccurs="0" type="xsd:string"/>
              <xsd:element name="InsurancePolicyType" minOccurs="0" type="xsd:string"/>
              <xsd:element name="InsuranceCompanyCode" minOccurs="0" type="xsd:string"/>
              <xsd:element name="MonthlyPrime" minOccurs="0" type="xsd:decimal"/>
              <xsd:element name="YearlyPrime" minOccurs="0" type="xsd:decimal"/>
              <xsd:element name="InsuranceEndDate" minOccurs="0" type="xsd:date"/>
              <xsd:element name="InsuranceCoverageAmount" minOccurs="0" type="xsd:decimal"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GuaranteeInfoList" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ProductCode" minOccurs="0" type="xsd:string"/>
              <xsd:element name="TypeCode" minOccurs="0" type="xsd:string"/>
              <xsd:element name="Description" minOccurs="0" type="xsd:string"/>
              <xsd:element name="Amount" minOccurs="0" type="xsd:decimal"/>
              <xsd:element name="AppraisalValue" minOccurs="0" type="xsd:decimal"/>
              <xsd:element name="CreditValue" minOccurs="0" type="xsd:decimal"/>
              <xsd:element name="CoveragePercentage" minOccurs="0" type="xsd:decimal"/>
              <xsd:element name="PrimeAmount" minOccurs="0" type="xsd:decimal"/>
              <xsd:element name="CodebtorsList" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CustomerId" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="GuarantorsList" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CustomerId" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="AdditionalInfoList" minOccurs="0" maxOccurs="unbounded" type="loan:AdditionalDataType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
         <xsd:element name="CategoriaRAS" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DeptCode" minOccurs="0" type="xsd:string"/>
              <xsd:element name="MunicipalityCode" minOccurs="0" type="xsd:string"/>
              <xsd:element name="VillagueCode" minOccurs="0" type="xsd:string"/>
              <xsd:element name="CategoryRAS" minOccurs="0" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createLoanResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
            <xsd:element name="LoanNumber" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LoanContract" type="xsd:string" minOccurs="0"/>
            <xsd:element name="GuaranteeNumber" type="xsd:string" minOccurs="0" default=""/>
            <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="cancelLoanResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
            <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>  
  <xsd:element name="getLoanStatusResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
            <xsd:element name="LoanDetails" type="loan:LoanDetailsType" minOccurs="0"/>
            <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="LoanDetailsType">
       <xsd:sequence>
          <xsd:element name="LoanId" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LoanStatus">
                <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="ACTIVE"/>
                                <xsd:enumeration value="DISBURSMENT"/>
                                <xsd:enumeration value="CREDITED"/>
                  </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
          <xsd:element name="TransactionReference" minOccurs="0" type="xsd:string"/>
       </xsd:sequence>
    </xsd:complexType>
</xsd:schema>