Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/SuscribeNotificacionPush/xsd/SuscribeNotificacionPushTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/SuscribeNotificacionPushTypes" 
        xmlns="http://www.w3.org/2001/XMLSchema" 
        xmlns:snp="http://www.ficohsa.com.hn/middleware.services/SuscribeNotificacionPushTypes">
        
        <xs:element name="SuscribeNotificacionPush">
        	<xs:complexType>
            	<xs:sequence>
                	<xs:element name="COSTUMERS" type="snp:costumer"/>
            	</xs:sequence>
            </xs:complexType>
        </xs:element>
        
   <!--############################### -->
	<!--TYPE: COSTUMER_DETAIL-->
	<!--############################### -->
     <xs:complexType name="costumer">
		<xs:sequence>
			<xs:element name="COSTUMER_DETAIL" type="snp:costumer_detail" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
        <xs:complexType name="costumerResponse">
		<xs:sequence>
			<xs:element name="COSTUMER_DETAIL" type="snp:costumer_detail_response" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
	<xs:complexType name="costumer_detail">
		<xs:sequence>
			        <xs:element name="TYPE" type="xs:string"/>
			        <xs:element name="ID"   type="xs:string"/>
			        <xs:element name="USER_ID" type="xs:string"/>
			        <xs:element name="REGION" type="xs:string"/>
			        <xs:element name="ACTION" type="xs:string"/>
                	<xs:element name="DEVICE_OS_TYPE" type="xs:string" minOccurs="0"/>
                	<xs:element name="DEVICE_OS_VERSION" type="xs:string" minOccurs="0"/>
                	<xs:element name="DEVICE_UUID" type="xs:string" minOccurs="0"/>
                	<xs:element name="DEVICE_APP_VERSION" type="xs:string" minOccurs="0"/>
                	<xs:element name="DEVICE_MODEL" type="xs:string" minOccurs="0"/>
                	<xs:element name="DEVICE_TOKEN" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="costumer_detail_response">
		<xs:sequence>
			        <xs:element name="ID" type="xs:string"/>
			        <xs:element name="MESSAGE_ID"   type="xs:string"/>
			        <xs:element name="SUCCESS_INDICATOR" type="xs:string"/>
			        <xs:element name="ERROR_MESSAGE" type="xs:string"/>
      </xs:sequence>
	</xs:complexType>
        
        
    <xs:element name="SuscribeNotificacionPushResponse">
        	<xs:complexType>
            	<xs:sequence>
                	<xs:element name="COSTUMERS" type="snp:costumerResponse"/>
            	</xs:sequence>
            </xs:complexType>
     </xs:element> 
        
       
</xs:schema>