Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/Mastercard/Common/xsd/CommonResponses.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- $Revision: 92446 $  $Date: 2014-11-18 15:44:12 +0000 (Tue, 18 Nov 2014) $ --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://common.ws.mcrewards.mastercard.com/" version="1.0">

  <xs:complexType name="SuccessResp">
    <xs:sequence>
      <xs:element default="true" minOccurs="1" name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ErrorResp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:string"/>
        <xs:element name="description" type="xs:string"/>
        <xs:element minOccurs="0" name="item" type="xs:string"/>
        <xs:element minOccurs="0" name="type" type="xs:string"/>
        <xs:element minOccurs="0" name="recoverable" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

   <xs:complexType name="ValidationQuestion">
     <xs:sequence>
       <xs:element maxOccurs="1" minOccurs="0" name="question" type="xs:string"/>
       <xs:element maxOccurs="1" minOccurs="0" name="code" type="xs:string"/>
     </xs:sequence>
   </xs:complexType>

  <xs:element name="appID" type="xs:string"/>
  <xs:element name="institutionName" type="xs:string"/>

  <xs:element name="identity">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="appID" type="xs:string"/>
        <xs:element name="institutionName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="emptyElement">
    <xs:sequence/>
  </xs:complexType>

  <xs:simpleType name="BooleanYesNo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="encryptedField">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute default="false" name="encrypted" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>