Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/ClaroMobilePackages/XMLSchema_1732612083.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown.--><xs:schema version="1.0" targetNamespace="http://www.claro.com.hn/esb/ws/packages/" xmlns:tns="http://www.claro.com.hn/esb/ws/packages/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buyPack" type="tns:buyPack"/>
  <xs:element name="buyPackResponse" type="tns:buyPackResponse"/>
  <xs:element name="getListPacks" type="tns:getListPacks"/>
  <xs:element name="getListPacksResponse" type="tns:getListPacksResponse"/>
  <xs:element name="validateOperation" type="tns:validateOperation"/>
  <xs:element name="validateOperationResponse" type="tns:validateOperationResponse"/>
  <xs:complexType name="buyPack">
    <xs:sequence>
      <xs:element name="distId" type="xs:string" minOccurs="0"/>
      <xs:element name="distPass" type="xs:string" minOccurs="0"/>
      <xs:element name="msisdn" type="xs:string" minOccurs="0"/>
      <xs:element name="idPack" type="xs:int"/>
      <xs:element name="transId" type="xs:string" minOccurs="0"/>
      <xs:element name="distCategory" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buyPackResponse">
    <xs:sequence>
      <xs:element name="result" type="tns:responseBuyPack" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseBuyPack">
    <xs:sequence>
      <xs:element name="idTrans" type="xs:string" minOccurs="0"/>
      <xs:element name="newBalance" type="xs:decimal" minOccurs="0"/>
      <xs:element name="oldBalance" type="xs:decimal" minOccurs="0"/>
      <xs:element name="responseCode" type="xs:int"/>
      <xs:element name="value" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getListPacks">
    <xs:sequence>
      <xs:element name="distId" type="xs:string" minOccurs="0"/>
      <xs:element name="distPass" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getListPacksResponse">
    <xs:sequence>
      <xs:element name="Pack" type="tns:packResult" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="packResult">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="typeService" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validateOperation">
    <xs:sequence>
      <xs:element name="distId" type="xs:string" minOccurs="0"/>
      <xs:element name="distPass" type="xs:string" minOccurs="0"/>
      <xs:element name="msisdn" type="xs:string" minOccurs="0"/>
      <xs:element name="idPack" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validateOperationResponse">
    <xs:sequence>
      <xs:element name="result" type="tns:responseValidateOperation" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseValidateOperation">
    <xs:sequence>
      <xs:element name="idPack" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="responseCode" type="xs:int"/>
      <xs:element name="statusSubscriber" type="xs:string" minOccurs="0"/>
      <xs:element name="typeService" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>