Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/RegistraParametrizacion/xsd/registraParametrizacionTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/registraParametrizacionTypes" 
		xmlns:tns="http://www.ficohsa.com.hn/middleware.services/registraParametrizacionTypes">
		
	<!-- Parametros de Entrada -->
    <xs:element name="registraParametrizacion">
    	<xs:complexType>
	    	<xs:sequence>	    		
	    		<xs:element name="OPERATION_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="ID_CEPROBAN" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="PRODUCT_TYPE"  type="tns:PRODUCT_TYPEType" minOccurs="0" maxOccurs="unbounded"/>
	    		<xs:element name="ROUTE"  type="tns:BANK_ROUTEType" minOccurs="0" maxOccurs="unbounded"/>
	    		<xs:element name="BANK_STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="ID_BANK_CEPROBAN" type="xs:string" minOccurs="0" maxOccurs="1"/>						
				<xs:element name="ACCOUNTS" type="tns:ACCOUNTSType" minOccurs="0" maxOccurs="unbounded"/>
	    	</xs:sequence>
	    </xs:complexType>
    </xs:element>
    
    <xs:complexType  name="PRODUCT_TYPEType">
		<xs:sequence>			
			<xs:element name="TYPE"  type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MAX_LENGTH" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MIN_LENGTH" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LEAD_ZERO" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MESSAGE_ERROR" type="xs:string" minOccurs="1" maxOccurs="1"/>
       </xs:sequence>
	</xs:complexType>
    
    <xs:complexType  name="BANK_ROUTEType">
		<xs:sequence>
			<xs:element name="ROUTE_CURRENCY" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ROUTE_NUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>			
       </xs:sequence>
	</xs:complexType>

    <xs:complexType  name="ACCOUNTSType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="INTER_ACCOUNT" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CUSTOMER_ACCOUNT" type="xs:string" minOccurs="1" maxOccurs="1"/>			
       </xs:sequence>
	</xs:complexType>

    
	<!-- Parametros de Salida -->
    <xs:element name="registraParametrizacionResponse">
    	<xs:complexType>
			<xs:sequence>	                      
	       </xs:sequence>
		</xs:complexType>
    </xs:element>
		
</xs:schema>