Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/consultaDireccionPersona/xsd/consultaDireccionPersonaFPC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDireccionPersonaFPC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDireccionPersonaFPC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PC_COD_PERSONA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_DIRECCIONES" type="db:PA.PA_WEB_SERVICE_TAX111958X4X2" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_ERROR" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PC_MENSAJE_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PA.PA_WEB_SERVICE_TYPE_DIRECCION">
      <sequence>
         <element name="COD_DIRECCION" type="db:string8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIP_DIRECCION" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APARTADO_POSTAL" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COD_POSTAL" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DETALLE" type="db:string160" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COD_PAIS" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COD_PROVINCIA" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COD_CANTON" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COD_DISTRITO" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COD_PUEBLO" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DES_DOMICILIO" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DES_EDIFICIO" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DES_PISO" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DES_APTO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ES_DEFAULT" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PA.PA_WEB_SERVICE_TAX111958X4X2">
      <sequence>
         <element name="PT_DIRECCIONES_ITEM" type="db:PA.PA_WEB_SERVICE_TYPE_DIRECCION" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string8">
      <restriction base="string">
         <maxLength value="8"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string160">
      <restriction base="string">
         <maxLength value="160"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
</schema>