Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaTransaccionSwitch/xsd/consultaTransaccionSwitchTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTransaccionSwitchTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaTransaccionSwitchTypes">
	
	<xs:element name="consultaTransaccionSwitch">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TRANSACTION_ID" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
		
	<xs:complexType name="consultaTransaccionSwitchResponse">
		<xs:sequence>
	        <xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0" />
	        <xs:element name="ATM_ID" type="xs:string" minOccurs="0" />
	        <xs:element name="NETWORK_ID" type="xs:string" minOccurs="0" />
	        <xs:element name="ATM_TRACE_NUMBER" type="xs:string" minOccurs="0" />
	        <xs:element name="FULL_TRACE_NUMBER" type="xs:string" minOccurs="0" />
	        <xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0" />
	        <xs:element name="TRANSACTION_TIME" type="xs:string" minOccurs="0" />
	        <xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
	        <xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
	        <xs:element name="AUTHORIZATION" type="xs:string" minOccurs="0" />
	        <xs:element name="MCCCODE" type="xs:string" minOccurs="0" />
	        <xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />
	    </xs:sequence> 
	</xs:complexType>
	
	<xs:element name="consultaTransaccionSwitchResponse" type="cons:consultaTransaccionSwitchResponse" />
	
</xs:schema>