Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/SolicitudTarjetaDebito/xsd/solicitudTarjetaDebitoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/solicitudTarjetaDebitoTypes" xmlns:sol="http://www.ficohsa.com.hn/middleware.services/solicitudTarjetaDebitoTypes">

	<xs:simpleType name="processTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BATCH"/>
			<xs:enumeration value="ONLINE"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="emissinPayType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="solicitudTarjetaDebito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROCESS_TYPE" type="sol:processTypeEnum"/>
				<xs:element name="INTERFACE_USER" type="sol:stringMinLength1"/>
				<xs:element name="USER_BRANCH_CODE" type="sol:stringMinLength1"/>
				<xs:element name="CARD_NUMBER" type="sol:stringMinLength1"/>
				<xs:element name="CUSTOMER_CODE" type="sol:stringMinLength1"/>
				<xs:element name="PRIMARY_ACCOUNT" type="sol:stringMinLength1"/>
				<xs:element name="DELIVERY_BRANCH" type="sol:stringMinLength1"/>
				<xs:element name="EMISSION_PAY" type="sol:emissinPayType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="solicitudTarjetaDebitoResponse">
		<xs:complexType>
			<xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>