Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABKHN/LineasCreditoRTN/xsd/LineasCreditoRTN_db_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/LineasCreditoRTN_db" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/LineasCreditoRTN_db" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_RTN" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_RESULTADO" type="db:ORA_BANK.OSB_T_DATOS_LC" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="GV_MENSAJE_ERROR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_CLIENTE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NOMBRE_CLIENTE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="EXPOSICION" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="ORA_BANK.OSB_RG_DATOS_LC">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_CLIENTE" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EXPO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NUMERO_LINEA_CREDITO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ESTADO_LINEA" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESTINO_CREDITO" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCION_LC" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTO_DISPONIBLE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MONTO_APROBADO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FECHA_DE_VCMTO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CODIGO_GRUPO_EMPRESARIAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DESC_CODIGO_GRUPO_EMPRESARIAL" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_DEUDOR_COMERCIO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.OSB_T_DATOS_LC">
      <sequence>
         <element name="P_RESULTADO_ITEM" type="db:ORA_BANK.OSB_RG_DATOS_LC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string80">
      <restriction base="string">
         <maxLength value="80"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="string240">
      <restriction base="string">
         <maxLength value="240"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
</schema>