Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/DigitalizacionExpediente/xsd/digitalizacionExpedienteTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedienteTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedienteTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: creaExpediente -->
    <!--############################################-->
    <xs:element name="creaExpediente">
        <xs:complexType>
            <xs:sequence>
                  <xs:element name="FILE_TYPE_NAME" type="xs:string"/>
                  <xs:element name="ID" type="xs:string" minOccurs="0"/>
                  <xs:element name="AGENCY_NAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="COMPANY_NAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="STORAGE_NAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="DIRECTORIES" type="xs:string"/>
                  <xs:element name="KEY_INFO" type="tns:itemTypes"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="creaExpedienteResponse"/>
      
    <!--############################################-->
    <!-- OPERATION: actualizaLlavesExpediente -->
    <!--############################################-->
    <xs:element name="actualizaLlavesExpediente">
        <xs:complexType>
            <xs:sequence>
                  <xs:element name="FILE_TYPE_NAME" type="xs:string"/>
                  <xs:element name="CURRENT_KEY_INFO" type="tns:itemTypes"/>
                  <xs:element name="NEW_KEY_INFO" type="tns:itemTypes"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="actualizaLlavesExpedienteResponse">
        <xs:complexType>
            <xs:sequence>
                  <xs:element name="FILE_NUMBER" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--############################################-->
    <!-- OPERATION: consultaExpediente -->
    <!--############################################-->
    <xs:element name="consultaExpediente">
        <xs:complexType>
            <xs:sequence>
                  <xs:element name="FILE_TYPE_NAME" type="xs:string"/>
                  <xs:element name="KEY_INFO" type="tns:itemTypes"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="consultaExpedienteResponse">
        <xs:complexType>
            <xs:sequence>
                  <xs:element name="FILE_NUMBER" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--############################################-->
    <!-- OPERATION: registraDatosExpediente -->
    <!--############################################-->
    <xs:element name="registraDatosExpediente">
        <xs:complexType>
            <xs:sequence>
                  <xs:element name="FIELDS" type="tns:fieldsTypes"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="registraDatosExpedienteResponse"/>
    
        <!-- TYPES -->
    
     <xs:complexType name="itemTypes">
      <xs:sequence>
           <xs:element name="ITEM" type="tns:itemType" maxOccurs="unbounded"/>
       </xs:sequence>
 </xs:complexType>  
    
  <xs:complexType name="itemType">
	<xs:sequence>
		<xs:element name="KEY" type="xs:string"/>
		<xs:element name="VALUE" type="xs:string"/>
	</xs:sequence>
  </xs:complexType>
    
   <xs:complexType name="fieldsTypes">
      <xs:sequence>
           <xs:element name="FIELD" type="tns:fieldType" maxOccurs="unbounded"/>
       </xs:sequence>
 </xs:complexType>  
    
  <xs:complexType name="fieldType">
	<xs:sequence>
		<xs:element name="NAME" type="xs:string"/>
		<xs:element name="VALUE" type="xs:string"/>
	</xs:sequence>
  </xs:complexType>
    
</xs:schema>