Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/Resources/ActualizaGRP/xsd/T24FicoTSPServices2-T24ChangesGRP.xsd

<xsd:schema targetNamespace="http://www.temenos.com/T24/event/T24FicoTSPServices2/T24ChangesGRP" elementFormDefault="qualified" xmlns="http://www.temenos.com/T24/event/T24FicoTSPServices2/T24ChangesGRP" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"><xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="Common-EventCommon.xsd"/><xsd:element name="T24ChangesGRP"><xsd:complexType><xsd:sequence><xsd:element ref="eventCommon" minOccurs="1" maxOccurs="1"/><xsd:element ref="id" minOccurs="0" maxOccurs="1"/><xsd:element ref="payrollGrp" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="eventCommon" type="ns0:EventCommon"/><xsd:element name="id" type="xsd:string"/><xsd:element name="payrollGrp" type="xsd:string"/></xsd:schema>