Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaDisponibleVentaMonedaExtranjera/xsd/consultaDisponibleVentaMonedaExtranjeraTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDisponibleVentaMonedaExtranjeraTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaDisponibleVentaMonedaExtranjeraTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
    <!--############################################-->
    <!-- OPERATION: consultaDisponibleVentaMonedaExtranjera -->
    <!--############################################-->
    <xs:element name="consultaDisponibleVentaMonedaExtranjera">
        <xs:complexType>
           <xs:sequence>
				<xs:element name="CURRENCY" type="tns:stringMinLength1"/>		
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="consultaDisponibleVentaMonedaExtranjeraResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="AMOUNT_AVAILABLE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>