Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ProgramaLealtad/xsd/programaLealtadTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/programaLealtadTypes"
	xmlns:pro="http://www.ficohsa.com.hn/middleware.services/programaLealtadTypes">

	<!-- CONSULTA DE PUNTOS -->
	<xs:element name="consultaPuntosLealtad">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID_TYPE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="CUSTOMER_ID" />
							<xs:enumeration value="LEGAL_ID" />
							<xs:enumeration value="CARD_NUMBER" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMER_ID_VALUE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RETURN_CASH_EQUIVALENT">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="YES" />
							<xs:enumeration value="NO" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CASH_REDEMPTION" type="pro:cashRedemptionType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="PROGRAM_ID" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="1" />
							<xs:enumeration value="2" />
							<xs:enumeration value="" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="cashRedemptionType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string" />
			<xs:element name="MERCHANT_ID" type="xs:string" />
			<xs:element name="MERCHANT_TYPE" type="xs:string" />
			<xs:element name="TERMINAL_ID" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaPuntosLealtadResponse" type="pro:consultaPuntosLealtadResponseType" />

	<xs:complexType name="consultaPuntosLealtadResponseType">
		<xs:sequence>
			<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0" />
			<xs:element name="CUSTOMER_NAME" type="xs:string"
				minOccurs="0" />
			<xs:element name="BALANCE" type="xs:decimal" minOccurs="0" />
			<xs:element name="CASH_EQUIVALENT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="CASH_CURRENCY" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- REDENCION DE PUNTOS -->
	<xs:element name="redencionPuntosLealtad">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID_TYPE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="CUSTOMER_ID" />
							<xs:enumeration value="LEGAL_ID" />
							<xs:enumeration value="CARD_NUMBER" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMER_ID_VALUE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="REDEMPTION_TYPE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="CASH" />
							<xs:enumeration value="POINTS" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="REDEMPTION_AMOUNT" type="xs:decimal" />
				<xs:element name="CASH_REDEMPTION" type="pro:cashRedemptionType" />
				<xs:element name="REDEMPTION_DETAILS" type="pro:redemptionDetailsType" />
				<xs:element name="PROGRAM_ID" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="1" />
							<xs:enumeration value="2" />
							<xs:enumeration value="" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="redemptionDetailsType">
		<xs:sequence>
			<xs:element name="REDEMPTION_METHOD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CASH" />
						<xs:enumeration value="ACCOUNT_CREDIT" />
						<xs:enumeration value="CREDIT_CARD_PAYMENT" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"
				minOccurs="0" />
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="redencionPuntosLealtadResponse" type="pro:redencionPuntosLealtadResponseType" />

	<xs:complexType name="redencionPuntosLealtadResponseType">
		<xs:sequence>
			<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0" />
			<xs:element name="CUSTOMER_NAME" type="xs:string"
				minOccurs="0" />
			<xs:element name="POINTS_REDEEMED" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="REMAINING_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="REDEMPTION_ID" type="xs:long" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- REVERSION DE PUNTOS -->
	<xs:element name="reversionPuntosLealtad">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID_TYPE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="CUSTOMER_ID" />
							<xs:enumeration value="LEGAL_ID" />
							<xs:enumeration value="CARD_NUMBER" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMER_ID_VALUE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CREDIT_DESCRIPTION">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="REDEMPTION_ID" type="xs:long" />
				<xs:element name="USER_ID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PROGRAM_ID" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="1" />
							<xs:enumeration value="2" />
							<xs:enumeration value="" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="reversionPuntosLealtadResponse" type="pro:reversionPuntosLealtadResponseType" />

	<xs:complexType name="reversionPuntosLealtadResponseType">
		<xs:sequence>
			<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0" />
			<xs:element name="CUSTOMER_NAME" type="xs:string"
				minOccurs="0" />
			<xs:element name="POINTS_AVAILABLE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="CREDIT_RESULT" type="pro:creditResultType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="creditResultType">
		<xs:sequence>
			<xs:element name="REDEMPTION_ID" type="xs:long" minOccurs="0" />
			<xs:element name="TOTAL_POINTS_CREDITED" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="CREDIT_REDEMPTION_ID" type="xs:long"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>