Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaFinanciamientosCliente_v2/xsd/XMLSchema_-1383116499.xsd

<schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaFinanciamientosClienteTypes" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaFinanciamientosClienteTypes" xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/kvpType">
	  	
	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/kvpType" schemaLocation="../../../../Resources/esquemas_generales/KeyValuePair.xsd"/>
	
	<simpleType name="productType">
		<restriction base="string">
			<enumeration value="PTM"/>
			<enumeration value="PTC"/>
			<enumeration value="PEX"/>
			<enumeration value="ALL"/>
			<enumeration value="EXT"/>
		</restriction>
	</simpleType>
	
    <simpleType name="searchCriteriaType">
		<restriction base="tns:stringMinLength1">
			<enumeration value="CARD_NUMBER"/>
			<enumeration value="CUSTOMER_ID"/>
			<enumeration value="LAST_DIGITS_CARD_NUMBER"/>
		</restriction>
	</simpleType>
	
	
	<simpleType name="stringMinLength1">
		<restriction base="string">
			<minLength value="1"/>
		</restriction>
	</simpleType>
	
	<element name="consultaFinanciamientosCliente">
		<complexType>
			<sequence>
				<element name="SEARCH_VALUE" type="tns:stringMinLength1"/>
				<element name="SEARCH_CRITERIA" type="tns:searchCriteriaType"/>
				<element name="LOGO" type="integer" minOccurs="0"/>
				<element name="PRODUCT_TYPE" type="tns:productType" minOccurs="0"/>
				<xs:element name="KV_PAIRS" type="kvp:UnboundKvPair" minOccurs="0" maxOccurs="1"/>
			</sequence>
		</complexType>
	</element>
	
	<element name="consultaFinanciamientosClienteResponse">
		<complexType>
			<sequence>
				<element name="consultaFinanciamientosClienteResponseRecordType" type="tns:recordType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	
	<complexType name="recordType">
		<sequence>
			<element name="PRODUCT_TYPE" type="string" minOccurs="0"/>
			<element name="ORG" type="integer" minOccurs="0"/>
			<element name="CURRENCY" type="string" minOccurs="0"/>
			<element name="PLAN_CODE" type="string" minOccurs="0"/>
			<element name="PLAN_SEQUENCE" type="string" minOccurs="0"/>
			<element name="FINANCING_REFERENCE" type="string" minOccurs="0"/>
			<element name="PRODUCT_NUMBER" type="string" minOccurs="0"/>
			<element name="DISBURSEMENT_DATE" type="date" minOccurs="0"/>
			<element name="MATURITY_DATE" type="date" minOccurs="0"/>
			<element name="PRINCIPAL_INICIAL_AMOUNT" type="decimal" minOccurs="0"/>
			<element name="PRINCIPAL_DUE_AMOUNT" type="decimal" minOccurs="0"/>
			<element name="INTEREST_RATE" type="decimal" minOccurs="0"/>
			<element name="INTEREST_AMOUNT" type="decimal" minOccurs="0"/>
			<element name="INSURANCE_AMOUNT" type="decimal" minOccurs="0"/>
			<element name="PENDING_INSURANCE_AMOUNT" type="decimal" minOccurs="0"/>
			<element name="COMMISION_AMOUNT" type="decimal" minOccurs="0"/>
			<element name="PENDING_COMMISION_AMOUNT" type="decimal" minOccurs="0"/>
			<element name="PENALTY_AMOUNT" type="decimal" minOccurs="0"/>
			<element name="MONTHLY_PAYMENT" type="decimal" minOccurs="0"/>
			<element name="INITIAL_LOAN_TERM" type="decimal" minOccurs="0"/>
			<element name="REMAINING_LOAN_TERM" type="decimal" minOccurs="0"/>
			<element name="CURRENT_LOAN_TERM" type="decimal" minOccurs="0"/>
			<element name="TOTAL_DEBT" type="decimal" minOccurs="0"/>
			<element name="MIN_PAYMENT_AMOUNT" type="decimal" minOccurs="0"/>
			<element name="CHARGE_CYCLE_DAY" type="integer" minOccurs="0"/>
			<element name="PENDING_PRINCIPAL_AMOUNT" type="decimal" minOccurs="0"/>
			<element name="CARD_NUMBER" type="string" minOccurs="0"/>
			<element name="LOAN_INDICATOR" type="string" minOccurs="0"/>
			<element name="PLAN_DESCRIPTION" type="string" minOccurs="0"/>
			<element name="INTEREST" type="string" minOccurs="0" />
            <element name="INTEREST_LATE_PAYMENT" type="string" minOccurs="0" />
            <element name="OTHER_CHARGES" type="string" minOccurs="0" />
		</sequence>
	</complexType>
</schema>