Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/direcciones/Resources/Direcciones.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_1416823411.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_1123420404.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Consultadedepartamentos">
<part name="parameters" element="tns:Consultadedepartamentos"/>
</message>
<message name="ConsultadedepartamentosResponse">
<part name="parameters" element="tns:ConsultadedepartamentosResponse"/>
</message>
<message name="Consultademunicipios">
<part name="parameters" element="tns:Consultademunicipios"/>
</message>
<message name="ConsultademunicipiosResponse">
<part name="parameters" element="tns:ConsultademunicipiosResponse"/>
</message>
<message name="Consultadepaises">
<part name="parameters" element="tns:Consultadepaises"/>
</message>
<message name="ConsultadepaisesResponse">
<part name="parameters" element="tns:ConsultadepaisesResponse"/>
</message>
<message name="Consultadecoloniaobarrio">
<part name="parameters" element="tns:Consultadecoloniaobarrio"/>
</message>
<message name="ConsultadecoloniaobarrioResponse">
<part name="parameters" element="tns:ConsultadecoloniaobarrioResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Consultadedepartamentos">
<input message="tns:Consultadedepartamentos"/>
<output message="tns:ConsultadedepartamentosResponse"/>
</operation>
<operation name="Consultademunicipios">
<input message="tns:Consultademunicipios"/>
<output message="tns:ConsultademunicipiosResponse"/>
</operation>
<operation name="Consultadepaises">
<input message="tns:Consultadepaises"/>
<output message="tns:ConsultadepaisesResponse"/>
</operation>
<operation name="Consultadecoloniaobarrio">
<input message="tns:Consultadecoloniaobarrio"/>
<output message="tns:ConsultadecoloniaobarrioResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadedepartamentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultademunicipios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadepaises">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadecoloniaobarrio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.242.104.32:7003/svcDirecciones/services"/>
</port>
</service>
</definitions>