Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/RequestorServices/ProxyServices/v1.0/GetCustomerAssets/XSD/GetCustomerAssetsHN_SJ.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.ficohsa.com.hn/middleware.services/getCustomerAssetsHN_SJ"
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/getCustomerAssetsHN_SJ"
            elementFormDefault="qualified">
        <xsd:element name="getCustomerAssetsHN_SJRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="USERNAME" type="xsd:string" />
				<xsd:element name="PASSWORD" type="xsd:string" />				
				<xsd:element name="CUSTOMER_ID" type="xsd:string" />			
				<xsd:element name="ASSET_TYPE" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
        <xsd:element name="getCustomerAssetsHN_SJResponse">
          <xsd:complexType>
             <xsd:sequence>
                <xsd:element name="Assets" minOccurs="0" maxOccurs="unbounded">
                   <xsd:complexType>
                      <xsd:sequence>
                         <xsd:element name="Type" minOccurs="0" type="xsd:string"/>
                         <xsd:element name="Status" minOccurs="0" type="xsd:string"/>
                         <xsd:element name="AssetDetails" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                               <xsd:sequence>
                                  <xsd:element name="AssetNumber" minOccurs="0" type="xsd:string"/>
                                  <xsd:element name="AssetName" minOccurs="0" type="xsd:string"/>
                                  <xsd:element name="Currency" minOccurs="0" type="xsd:string"/>
                                  <xsd:element name="TotalBalance" minOccurs="0" type="xsd:double"/>
                                  <xsd:element name="ReserveBalance" minOccurs="0" type="xsd:double"/>
                                  <xsd:element name="LockedBalance" minOccurs="0" type="xsd:double"/>
                                  <xsd:element name="FloatingBalance" minOccurs="0" type="xsd:double"/>
                                  <xsd:element name="AvailableBalance" minOccurs="0" type="xsd:double"/>
                                  <xsd:element name="SourceBank" minOccurs="0" type="xsd:string"/>
                                  <xsd:element name="OperationType" minOccurs="0" type="xsd:string"/>
                               </xsd:sequence>
                            </xsd:complexType>
                         </xsd:element>
                      </xsd:sequence>
                   </xsd:complexType>
                </xsd:element>
             </xsd:sequence>
          </xsd:complexType>
       </xsd:element>
</xsd:schema>