Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/RequestorServices/ProxyServices/v1.0/GetCustomerAssets/XSD/sjConsultaActivosCliente.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaActivosCliente" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaActivosCliente" elementFormDefault="qualified" >
	
	<xs:element name="sjConsultaActivosClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" type="xs:string" />
				<xs:element name="PASSWORD" type="xs:string" />				
				<xs:element name="CUSTOMER_ID" type="xs:string" />
                                <xs:element name="LEGAL_ID" type="xs:string" />
                                <xs:element name="ASSET_TYPE" type="xs:string" />
                                <xs:element name="SOURCE_BANK" type="xs:string" />
                                <xs:element name="DESTINATION_BANK" type="xs:string" />
                                <xs:element name="UUID" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>		

	<xs:element name="sjConsultaActivosClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="consultaCuentaAhorrosResponse" type="cons:consultaActivoResponseType" minOccurs="0"></xs:element>
				<xs:element name="consultaCuentaCorrienteResponse" type="cons:consultaActivoResponseType" minOccurs="0"></xs:element>
				<xs:element name="consultaCertifDepositoResponse" type="cons:consultaActivoResponseType" minOccurs="0"></xs:element>
                                <xs:element name="consultaFondoPensionesResponse" type="cons:consultaActivoResponseType" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="consultaActivoResponseType">
		<xs:sequence>
			<xs:element name="successIndicator" type="xs:string" minOccurs="0" />
			<xs:element name="messages" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="consultaActivoResponseRecords" type="cons:consultaActivoResponseRecordsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaActivoResponseRecordsType">
		<xs:sequence>
			<xs:element name="consultaActivoResponseRecord" type="cons:consultaActivoResponseRecordType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaActivoResponseRecordType">
		<xs:sequence>
			<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="TOTALBALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="RESERVEBALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="LIENBALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="BLOCKEDFUNDSPOS" type="xs:string" minOccurs="0" />
			<xs:element name="BLOCKEDFUNDSATM" type="xs:string" minOccurs="0" />
			<xs:element name="AVAILABLEBAL" type="xs:string" minOccurs="0" />
			<xs:element name="PRODUCTTYPE" type="xs:string" minOccurs="0" />
			<xs:element name="STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="OPENINGDATE" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNTCATEGORY" type="xs:string" minOccurs="0" />
                        <xs:element name="CATEGORYDESCRIPTION" type="xs:string" minOccurs="0" />
                        <xs:element name="PAYROLLGROUP" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>