Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/GuardarClienteRTE/GuardarClienteRTE/FLINK_OSB_GUARDAR_CLIENTE_RTE.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_GUARDAR_CLIENTE_RTE/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_GUARDAR_CLIENTE_RTE/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="TIPO_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NUMERO_ID" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NOMBRE_COMPLETO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="FECHA_NACIMIENTO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GENERO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PAIS" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NACIONALIDAD" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DEPARTAMENTO" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MUNICIPIO" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DIRECCION" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TELEFONO_DOMICILIO" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PROFESION" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LUGAR_TRABAJO" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TELEFONO_TRABAJO" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ACTIVIDAD_ECONOMICA" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="RELACION_BENEFICIARIO" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_ERROR" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_ERROR" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>