Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/BusinessServices/SegurosGT/PagoSeguro/wsdl/pagoBancoPS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="consultar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cod_identifica_banco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cod_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cod_agencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cod_busqueda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_busqueda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarResult" type="tns:ArrayOfConsulta_poliza" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfConsulta_poliza">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="consulta_poliza" nillable="true" type="tns:consulta_poliza" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="consulta_poliza">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_aseg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_aseg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="poliza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contratante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="producto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="detalle_cuotas" type="tns:ArrayOfCuotas" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCuotas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="cuotas" nillable="true" type="tns:cuotas" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cuotas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nro_recibo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fec_factura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fec_vencimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="monto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_cuota" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_endoso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_endoso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_seguro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_identidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="concepto" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultar_identidad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cod_identifica_banco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identidad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultar_identidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultar_identidadResult" type="tns:ArrayOfConsulta_cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfConsulta_cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="consulta_cliente" nillable="true" type="tns:consulta_cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="consulta_cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="detalle_poliza" type="tns:ArrayOfDet_poliza" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDet_poliza">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="det_poliza" nillable="true" type="tns:det_poliza" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="det_poliza">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="poliza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contratante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="producto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="datos_poliza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="vigencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Pago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cod_identifica_banco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cod_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cod_agencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nro_recibo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="monto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="monto_pagar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nro_referencias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tasa_cambio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PagoResult" type="tns:ArrayOfRespuesta_pago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRespuesta_pago">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="respuesta_pago" nillable="true" type="tns:respuesta_pago" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="respuesta_pago">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_aseg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_recibo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_confirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_poliza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_poliza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuota" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_identidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fec_vencimiento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Pago_Multiple">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cod_identifica_banco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cod_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cod_agencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nro_recibo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="monto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="monto_pagar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nro_referencias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tasa_cambio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Pago_MultipleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pago_MultipleResult" type="tns:ArrayOfRespuesta_pago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reversion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cod_identifica_banco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cod_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cod_agencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nro_referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nro_confirmacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReversionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReversionResult" type="tns:ArrayOfRespuesta_reversion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRespuesta_reversion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="respuesta_reversion" nillable="true" type="tns:respuesta_reversion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="respuesta_reversion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_aseg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_recibo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_confirmacion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultarSoapIn">
    <wsdl:part name="parameters" element="tns:consultar" />
  </wsdl:message>
  <wsdl:message name="consultarSoapOut">
    <wsdl:part name="parameters" element="tns:consultarResponse" />
  </wsdl:message>
  <wsdl:message name="consultar_identidadSoapIn">
    <wsdl:part name="parameters" element="tns:consultar_identidad" />
  </wsdl:message>
  <wsdl:message name="consultar_identidadSoapOut">
    <wsdl:part name="parameters" element="tns:consultar_identidadResponse" />
  </wsdl:message>
  <wsdl:message name="PagoSoapIn">
    <wsdl:part name="parameters" element="tns:Pago" />
  </wsdl:message>
  <wsdl:message name="PagoSoapOut">
    <wsdl:part name="parameters" element="tns:PagoResponse" />
  </wsdl:message>
  <wsdl:message name="Pago_MultipleSoapIn">
    <wsdl:part name="parameters" element="tns:Pago_Multiple" />
  </wsdl:message>
  <wsdl:message name="Pago_MultipleSoapOut">
    <wsdl:part name="parameters" element="tns:Pago_MultipleResponse" />
  </wsdl:message>
  <wsdl:message name="ReversionSoapIn">
    <wsdl:part name="parameters" element="tns:Reversion" />
  </wsdl:message>
  <wsdl:message name="ReversionSoapOut">
    <wsdl:part name="parameters" element="tns:ReversionResponse" />
  </wsdl:message>
  <wsdl:portType name="PagosBancoSoap">
    <wsdl:operation name="consultar">
      <wsdl:input message="tns:consultarSoapIn" />
      <wsdl:output message="tns:consultarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultar_identidad">
      <wsdl:input message="tns:consultar_identidadSoapIn" />
      <wsdl:output message="tns:consultar_identidadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Pago">
      <wsdl:input message="tns:PagoSoapIn" />
      <wsdl:output message="tns:PagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Pago_Multiple">
      <wsdl:input message="tns:Pago_MultipleSoapIn" />
      <wsdl:output message="tns:Pago_MultipleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reversion">
      <wsdl:input message="tns:ReversionSoapIn" />
      <wsdl:output message="tns:ReversionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PagosBancoSoap" type="tns:PagosBancoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultar">
      <soap:operation soapAction="http://tempuri.org/consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar_identidad">
      <soap:operation soapAction="http://tempuri.org/consultar_identidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pago">
      <soap:operation soapAction="http://tempuri.org/Pago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pago_Multiple">
      <soap:operation soapAction="http://tempuri.org/Pago_Multiple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reversion">
      <soap:operation soapAction="http://tempuri.org/Reversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PagosBancoSoap12" type="tns:PagosBancoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultar">
      <soap12:operation soapAction="http://tempuri.org/consultar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar_identidad">
      <soap12:operation soapAction="http://tempuri.org/consultar_identidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pago">
      <soap12:operation soapAction="http://tempuri.org/Pago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pago_Multiple">
      <soap12:operation soapAction="http://tempuri.org/Pago_Multiple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reversion">
      <soap12:operation soapAction="http://tempuri.org/Reversion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PagosBanco">
    <wsdl:port name="PagosBancoSoap" binding="tns:PagosBancoSoap">
      <soap:address location="http://172.26.6.99/ApiGeneralGT/PagosBanco.asmx" />
    </wsdl:port>
    <wsdl:port name="PagosBancoSoap12" binding="tns:PagosBancoSoap12">
      <soap12:address location="http://172.26.6.99/ApiGeneralGT/PagosBanco.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>