Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Users/RequestorServices/WSDL/GetUser_PS.wsdl

<wsdl:definitions name="GetUser_PS" targetNamespace="http://xmlns.oracle.com/MWBanking/GetUser_PS" xmlns:tns="http://xmlns.oracle.com/MWBanking/GetUser_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/getUser" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/createBankingUser">
    <plnk:partnerLinkType name="GetUser_PS">
        <plnk:role name="GetUser_PSProvider" portType="tns:GetUser_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getUser" schemaLocation="../XSD/getUser.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/MWBanking/GetUser_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getUser_params">
                <complexType>
                    <sequence>
                        <element name="UserId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="QueryType" type="string"/>
                        <element name="ApplicationSearch" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/createBankingUser" schemaLocation="../XSD/createBankingUser.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getUser_inputMessage">
        <wsdl:part name="request" element="tns:getUser_params"/>
    </wsdl:message>
    <wsdl:message name="getUser_outputMessage">
        <wsdl:part name="reply" element="inp1:getUserResponse"/>
    </wsdl:message>
    <wsdl:message name="digitalBanking_inputMessage">
        <wsdl:part name="request" element="inp2:createBankingUserRequest"/>
    </wsdl:message>
    <wsdl:message name="digitalBanking_outputMessage">
        <wsdl:part name="reply" element="inp2:createBankingUserResponse"/>
    </wsdl:message>
    <wsdl:message name="updateUser_inputMessage">
        <wsdl:part name="request" element="inp2:updateBankingUserRequest"/>
    </wsdl:message>
    <wsdl:message name="updateUser_outputMessage">
        <wsdl:part name="reply" element="inp2:upateBankingUserResponse"/>
    </wsdl:message>
    <wsdl:portType name="GetUser_PS_ptt">
        <wsdl:operation name="getUser">
            <wsdl:input message="tns:getUser_inputMessage"/>
            <wsdl:output message="tns:getUser_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="digitalBanking">
            <wsdl:input message="tns:digitalBanking_inputMessage"/>
            <wsdl:output message="tns:digitalBanking_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="updateUser">
            <wsdl:input message="tns:updateUser_inputMessage"/>
            <wsdl:output message="tns:updateUser_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetUser_PS_ptt-binding" type="tns:GetUser_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getUser">
            <soap:operation soapAction="getUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="digitalBanking">
            <soap:operation soapAction="digitalBanking"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateUser">
            <soap:operation soapAction="updateUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>