Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/AnticipoSalario/wsdl/AnticipoSalario.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/AnticipoSalarioTypes01.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/AnticipoSalarioTypes02.xsd"/>
</xsd:schema>
</types>
<message name="ConsultaAnticipoSalario">
<part name="parameters" element="tns:ConsultaAnticipoSalario"/>
</message>
<message name="ConsultaAnticipoSalarioResponse">
<part name="parameters" element="tns:ConsultaAnticipoSalarioResponse"/>
</message>
<message name="AnticipoSalario">
<part name="parameters" element="tns:AnticipoSalario"/>
</message>
<message name="AnticipoSalarioResponse">
<part name="parameters" element="tns:AnticipoSalarioResponse"/>
</message>
<message name="AnticipoSalario_Validate">
<part name="parameters" element="tns:AnticipoSalario_Validate"/>
</message>
<message name="AnticipoSalario_ValidateResponse">
<part name="parameters" element="tns:AnticipoSalario_ValidateResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="ConsultaAnticipoSalario">
<input message="tns:ConsultaAnticipoSalario"/>
<output message="tns:ConsultaAnticipoSalarioResponse"/>
</operation>
<operation name="AnticipoSalario">
<input message="tns:AnticipoSalario"/>
<output message="tns:AnticipoSalarioResponse"/>
</operation>
<operation name="AnticipoSalario_Validate">
<input message="tns:AnticipoSalario_Validate"/>
<output message="tns:AnticipoSalario_ValidateResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConsultaAnticipoSalario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AnticipoSalario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AnticipoSalario_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcAnticipo/services"/>
</port>
</service>
</definitions>