Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/Switch/generaDetalleEmboce/wsdl/debitCardOperationServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ficohsa.com.hn/schema/debitCardOperationTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/schema/debitCardOperationTypes" targetNamespace="http://www.ficohsa.com.hn/schema/debitCardOperationTypes">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/schema/debitCardOperationTypes" version="1.0">
            <xs:complexType name="cardDetailsTypes">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="cardItem" type="tns:cardItemTypes"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cardItemTypes">
                <xs:sequence>
                    <xs:element name="cardNumber" type="xs:string"/>
                    <xs:element name="bin" type="xs:string"/>
                    <xs:element name="nameOnCard" type="xs:string"/>
                    <xs:element name="expirationDate" type="xs:string"/>
                    <xs:element name="serviceCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="cryptographicKeyPinBlock" type="xs:string"/>
                    <xs:element name="instructionDetails" type="tns:instructionDetailsTypes"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="instructionDetailsTypes">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="generateItem" type="tns:generateItemTypes"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="generateItemTypes">
                <xs:sequence>
                    <xs:element minOccurs="0" name="pvki" type="xs:string"/>
                    <xs:element name="cryptographicKey" type="xs:string"/>
                    <xs:element name="generateInstruction" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cardDetailsResponseTypes">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cardItemResponse" type="tns:cardItemResponseTypes"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cardItemResponseTypes">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cardNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="bin" type="xs:string"/>
                    <xs:element minOccurs="0" name="nameOnCard" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="pinBlock" type="xs:string"/>
                    <xs:element minOccurs="0" name="pin" type="xs:string"/>
                    <xs:element minOccurs="0" name="instructionDetails" type="tns:instructionDetailsResponseTypes"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="instructionDetailsResponseTypes">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="generationItem" type="tns:generationItemResponseTypes"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="generationItemResponseTypes">
                <xs:sequence>
                    <xs:element minOccurs="0" name="generatedInstruction" type="xs:string"/>
                    <xs:element minOccurs="0" name="generatedValue" type="xs:string"/>
                    <xs:element minOccurs="0" name="generatedValueStatus" type="xs:string"/>
                    <xs:element minOccurs="0" name="generatedValueMessage" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validPinTypes">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="cardItem" type="tns:validPinItemTypes"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validPinItemTypes">
                <xs:sequence>
                    <xs:element name="pvki" type="xs:string"/>
                    <xs:element name="cardNumber" type="xs:string"/>
                    <xs:element name="pvv" type="xs:string"/>
                    <xs:element name="pinBlock" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validPinResponseTypes">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cardItem" type="tns:validPinItemResponseTypes"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validPinItemResponseTypes">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cardNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="pinStatus" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="generaDetalleEmboceRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cardDetails" type="tns:cardDetailsTypes"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generaDetalleEmboceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="status" type="xs:string"/>
                        <xs:element minOccurs="0" name="message" type="xs:string"/>
                        <xs:element minOccurs="0" name="cardDetailsResponse" type="tns:cardDetailsResponseTypes"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validaPINRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="method" type="xs:string"/>
                        <xs:element name="pinBlockFormat" type="xs:string"/>
                        <xs:element name="cryptographicKeyPinBlock" type="xs:string"/>
                        <xs:element name="cryptographicKeyPVV" type="xs:string"/>
                        <xs:element name="keyIndicator" type="xs:string"/>
                        <xs:element name="cardDetails" type="tns:validPinTypes"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validaPINResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="status" type="xs:string"/>
                        <xs:element minOccurs="0" name="message" type="xs:string"/>
                        <xs:element minOccurs="0" name="cardDetails" type="tns:validPinResponseTypes"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generaPINBLOCKRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cardNumber" type="xs:string"/>
                        <xs:element name="cryptographicKeyPinBlock" type="xs:string"/>
                        <xs:element name="pin" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generaPINBLOCKResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pinblock" type="xs:string"/>
                        <xs:element minOccurs="0" name="responseCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="generaDetalleEmboceRequest">
        <wsdl:part element="tns:generaDetalleEmboceRequest" name="generaDetalleEmboceRequest"/>
    </wsdl:message>
    <wsdl:message name="generaDetalleEmboceResponse">
        <wsdl:part element="tns:generaDetalleEmboceResponse" name="generaDetalleEmboceResponse"/>
    </wsdl:message>
    <wsdl:message name="generaPINBLOCKRequest">
        <wsdl:part element="tns:generaPINBLOCKRequest" name="generaPINBLOCKRequest"/>
    </wsdl:message>
    <wsdl:message name="generaPINBLOCKResponse">
        <wsdl:part element="tns:generaPINBLOCKResponse" name="generaPINBLOCKResponse"/>
    </wsdl:message>
    <wsdl:message name="validaPINRequest">
        <wsdl:part element="tns:validaPINRequest" name="validaPINRequest"/>
    </wsdl:message>
    <wsdl:message name="validaPINResponse">
        <wsdl:part element="tns:validaPINResponse" name="validaPINResponse"/>
    </wsdl:message>
    <wsdl:portType name="DebitCardOperationsEndpoint">
        <wsdl:operation name="generaDetalleEmboce">
            <wsdl:input message="tns:generaDetalleEmboceRequest" name="generaDetalleEmboceRequest"/>
            <wsdl:output message="tns:generaDetalleEmboceResponse" name="generaDetalleEmboceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="generaPINBLOCK">
            <wsdl:input message="tns:generaPINBLOCKRequest" name="generaPINBLOCKRequest"/>
            <wsdl:output message="tns:generaPINBLOCKResponse" name="generaPINBLOCKResponse"/>
        </wsdl:operation>
        <wsdl:operation name="validaPIN">
            <wsdl:input message="tns:validaPINRequest" name="validaPINRequest"/>
            <wsdl:output message="tns:validaPINResponse" name="validaPINResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DebitCardOperationsEndpointSoap11" type="tns:DebitCardOperationsEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="generaDetalleEmboce">
            <soap:operation soapAction=""/>
            <wsdl:input name="generaDetalleEmboceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generaDetalleEmboceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generaPINBLOCK">
            <soap:operation soapAction=""/>
            <wsdl:input name="generaPINBLOCKRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generaPINBLOCKResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validaPIN">
            <soap:operation soapAction=""/>
            <wsdl:input name="validaPINRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="validaPINResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DebitCardOperationsEndpointService">
        <wsdl:port binding="tns:DebitCardOperationsEndpointSoap11" name="DebitCardOperationsEndpointSoap11">
            <soap:address location="http://172.23.13.19:7003/debit-card-operation-services/ws/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>