Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaClientePorNombre/xsd/consultaClientePorNombreTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaClientePorNombreTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaClientePorNombreTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: consultaClientePorNombre -->
    <!--############################################-->
    <xs:element name="consultaClientePorNombre">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="NAME" type="xs:string"/>
					<xs:element name="PAGING_INFO">
					<xs:complexType>
						<xs:sequence>
			                <xs:element name="PAGING" type="xs:string"  minOccurs="0"/>	
			                <xs:element name="INITIAL_RECORD" type="xs:string"  minOccurs="0"/>		
			                <xs:element name="RECORD_COUNT" type="xs:string"  minOccurs="0"/>						
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="consultaClientePorNombreResponse">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="PROFILES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
			               <xs:element name="PROFILE" minOccurs="0" maxOccurs="unbounded" >
								<xs:complexType>
									<xs:sequence>
						                <xs:element name="PROFILE_NUMBER" type="xs:string"  minOccurs="0"/>	
						                <xs:element name="NAME" type="xs:string"  minOccurs="0"/>				
									</xs:sequence>
								</xs:complexType>
							</xs:element>		
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>