Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/Resources/T24AccountMassivesTSP_inbound/xsd/FICOTSPCUENTAS-FICOTSPCUENTAS.xsd

<xsd:schema targetNamespace="http://www.temenos.com/T24/event/FICOTSPCUENTAS/FICOTSPCUENTAS" elementFormDefault="qualified" xmlns="http://www.temenos.com/T24/event/FICOTSPCUENTAS/FICOTSPCUENTAS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"><xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="Common-EventCommon.xsd"/><xsd:element name="FICOTSPCUENTAS"><xsd:complexType><xsd:sequence><xsd:element ref="eventCommon" minOccurs="1" maxOccurs="1"/><xsd:element ref="customer" minOccurs="0" maxOccurs="1"/><xsd:element ref="exonerate" minOccurs="0" maxOccurs="1"/><xsd:element ref="startDate" minOccurs="0" maxOccurs="1"/><xsd:element ref="endDate" minOccurs="0" maxOccurs="1"/><xsd:element ref="payrollGroup" minOccurs="0" maxOccurs="1"/><xsd:element ref="exonerateId" minOccurs="0" maxOccurs="1"/><xsd:element ref="dateTimeList" minOccurs="0" maxOccurs="1"/><xsd:element ref="id" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="eventCommon" type="ns0:EventCommon"/><xsd:element name="customer" type="xsd:string"/><xsd:element name="exonerate" type="xsd:string"/><xsd:element name="startDate" type="xsd:date"/><xsd:element name="endDate" type="xsd:date"/><xsd:element name="payrollGroup" type="xsd:string"/><xsd:element name="exonerateId" type="xsd:string"/><xsd:element name="dateTimeList"><xsd:complexType><xsd:sequence><xsd:element name="dateTime" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:simpleContent><xsd:extension base="xsd:string"><xsd:attribute name="index" type="xsd:integer"/></xsd:extension></xsd:simpleContent></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="id" type="xsd:string"/></xsd:schema>