Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaComisionesCB/xsd/consultaComisionesCBTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaComisionesTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaComisionesTypes">
	
	<xs:complexType name = "consultaComisionesResponseType">
		<xs:sequence>
           	<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="COMMISSION_PERCENT" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaComisiones">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTION_TYPE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="LOCAL"/>
							<xs:enumeration value="INTERNATIONAL"/>
							<xs:enumeration value="REGIONAL"/>
							<xs:enumeration value="ADVANCE_SALARY"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" />
				<xs:element name="SOURCE_CURRENCY" type="xs:string" />
				<xs:element name="DESTINATION_CURRENCY" type="xs:string" minOccurs="0" />
				
				<xs:element name="ADDITIONAL_INFO" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="INFO" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NAME" type="xs:string" minOccurs="0" />
										<xs:element name="VALUE" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaComisionesResponse" type="cons:consultaComisionesResponseType"/>
	
</xs:schema>