Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/WSDL/CreaProductosCliente/v1.0/services.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../../../XSD/CreaProductosCliente/v1.0/XMLSchema_673220461.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../../../XSD/CreaProductosCliente/v1.0/XMLSchema_379817454.xsd"/>
</xsd:schema>
</types>
<message name="CreaciondeCuentasparaDigital">
<part name="parameters" element="tns:CreaciondeCuentasparaDigital"/>
</message>
<message name="CreaciondeCuentasparaDigitalResponse">
<part name="parameters" element="tns:CreaciondeCuentasparaDigitalResponse"/>
</message>
<message name="CreaciondeCuentasparaDigital_Validate">
<part name="parameters" element="tns:CreaciondeCuentasparaDigital_Validate"/>
</message>
<message name="CreaciondeCuentasparaDigital_ValidateResponse">
<part name="parameters" element="tns:CreaciondeCuentasparaDigital_ValidateResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="CreaciondeCuentasparaDigital">
<input message="tns:CreaciondeCuentasparaDigital"/>
<output message="tns:CreaciondeCuentasparaDigitalResponse"/>
</operation>
<operation name="CreaciondeCuentasparaDigital_Validate">
<input message="tns:CreaciondeCuentasparaDigital_Validate"/>
<output message="tns:CreaciondeCuentasparaDigital_ValidateResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CreaciondeCuentasparaDigital">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreaciondeCuentasparaDigital_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcCreateAccount/services"/>
</port>
</service>
</definitions>