Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/MDW/consultarTxnGenericaT24/xsd/consultarTxnGenericaT24_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarTxnGenericaT24" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarTxnGenericaT24" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_IDTRANSACCION" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_BANCOORIGEN" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BANCODESTINO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
         	<element name="PV_RUTASERVICIO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOERROR" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJEERROR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>