Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/convenio/wsdl/COBISCorp.eCOBIS.SrvAplCobisRecaudo.Service_1.wsdl

<wsdl:definitions name="SrvAplCobisRecaudo" targetNamespace="http://impl.service.srvaplcobisrecaudo.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.srvaplcobisrecaudo.ecobis.cobiscorp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:S1="http://impl.service.srvaplcobisrecaudo.ecobis.cobiscorp/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.srvaplcobisrecaudo.ecobis.cobiscorp/">
      <xsd:import namespace="http://service.srvaplcobisrecaudo.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsjConsultaRecaudoSolicitud">
    <wsdl:part name="parameters" element="tns:consultaRecaudoSolicitud"/>
  </wsdl:message>
  <wsdl:message name="MsjConsultaRecaudoRespuesta">
    <wsdl:part name="parameters" element="tns:consultaRecaudoRespuesta"/>
  </wsdl:message>
  <wsdl:message name="MsjPagoRecaudoRespuesta">
    <wsdl:part name="parameters" element="tns:pagoRecaudoRespuesta"/>
  </wsdl:message>
  <wsdl:message name="MsjPagoRecaudoSolicitud">
    <wsdl:part name="parameters" element="tns:pagoRecaudoSolicitud"/>
  </wsdl:message>
  <wsdl:portType name="SrvAplCobisRecaudo">
    <wsdl:operation name="ConsultaRecaudo">
      <wsdl:input message="S1:MsjConsultaRecaudoSolicitud"/>
      <wsdl:output message="S1:MsjConsultaRecaudoRespuesta"/>
    </wsdl:operation>
    <wsdl:operation name="PagoRecaudo">
      <wsdl:input message="S1:MsjPagoRecaudoSolicitud"/>
      <wsdl:output message="S1:MsjPagoRecaudoRespuesta"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvAplCobisRecaudoBindingSOAP12" type="S1:SrvAplCobisRecaudo">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultaRecaudo">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagoRecaudo">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvAplCobisRecaudoService">
    <wsdl:port name="SrvAplCobisRecaudoBindingSOAP12" binding="S1:SrvAplCobisRecaudoBindingSOAP12">
      <soap12:address location="https://10.235.53.149:9443/GerenciaRecaudo/SrvAplCobisRecaudoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>