Fuentes/ficohsacore-hncard-488b7ad93302/SBHN_Card/SBHN_Card_GetCreditCardDetails/Schemas/v1/registraDatosTC_v2_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraDatosTC_v2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraDatosTC_v2" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PT_DATOS_TARJETA" type="db:CLIENTDATA.T_DATOS_TARJETA_CREDITO_V2" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_COUNTRY_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_ERROR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CLIENTDATA.O_DATOS_TARJETA_CREDITO_V2">
      <sequence>
         <element name="CARD_NUMBER" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_HOLDER_NAME" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_HOLDER_NAME" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_TYPE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ID" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_HOLDER_LEGAL_ID" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_HOLDER_LEGAL_ID" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_NUMBER" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRODUCT" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AFINITY_GROUP" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_STATUS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_STATUS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_EXPIRATION_DATE" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="CLIENTDATA.T_DATOS_TARJETA_CREDITO_V2">
      <sequence>
         <element name="PT_DATOS_TARJETA_ITEM" type="db:CLIENTDATA.O_DATOS_TARJETA_CREDITO_V2" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string19">
      <restriction base="string">
         <maxLength value="19"/>
      </restriction>
   </simpleType>
   <simpleType name="string60">
      <restriction base="string">
         <maxLength value="60"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
</schema>