Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/DEBITCARD/actualizarEstadoTD/xsd/actualizarEstadoTD_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/actualizarEstadoTD" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/actualizarEstadoTD" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_EXTERNAL_MESSAGE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_PRODUCT_INDICATOR" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_FIELD_SETTING" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_STATUS_INDICATOR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_INTERFACE_HOST" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_RESPONSE_CODE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGE_TYPE_INDICATOR" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_P1_SECONDARY_BITMAP" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_P2_PRIMARY_ACCOUNT_NUMBER" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_P7_TRANSMISSION_DATETIME" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_P11_SYS_TRACE_AUDITNUMBER" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_P48_ADDITIONAL_DATA" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_P49_TXN_CURRENCY_CODE" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_P60_PRODUCT_INDICATOR_DATA" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_S91_FILE_UPDATE_CODE" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_S101_FILE_NAME" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_S120_APP_FILE_AND_TABLE_INFO" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_S121_APP_FILE_AND_TABLE_INFO" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_S122_APP_FILE_AND_TABLE_INFO" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_S126_APP_FILE_AND_TABLE_INFO" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_SUCCESS_INDICATOR" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_DESC_MESSAGE" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>