Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/IngresaVentaSeguros/xsd/ingresaVentaSegurosTypes.xsd

<xs:schema 
     xmlns:xs="http://www.w3.org/2001/XMLSchema" 
     version="1.0" 
     targetNamespace="http://www.ficohsa.com.hn/middleware.services/ingresaVentaSegurosTypes"
     xmlns:ing="http://www.ficohsa.com.hn/middleware.services/ingresaVentaSegurosTypes">

     <!-- PaymentMethodClassType -->

     <xs:simpleType name="PaymentMethodClassType">
          <xs:restriction base="xs:string">
               <xs:enumeration value="ACCT_DEBIT"/>
               <xs:enumeration value="CREDIT_CARD"/>
          </xs:restriction>
     </xs:simpleType>
     
     <xs:simpleType name="PaymentFrequencyClassType">
          <xs:restriction base="xs:string">
               <xs:enumeration value="MENSUAL"/>
               <xs:enumeration value="TRIMESTRAL"/>
               <xs:enumeration value="ANUAL"/>
          </xs:restriction>
     </xs:simpleType>

     <xs:element name="ingresaVentaSeguros">
          <xs:complexType>
               <xs:sequence>
                    <xs:element name="INSURANCE_PRODUCT_CODE" type="xs:string"/>
                    <xs:element name="INSURANCE_PLAN_CODE" type="xs:string"/>
                    <xs:element name="INSURANCE_POLICY_CODE" type="xs:string"/>
                    <xs:element name="INSURED">
                         <xs:complexType>
                              <xs:sequence>
                                   <xs:element name="CUSTOMER_ID" type="xs:string"/>
                                   <xs:element name="LEGAL_DOCUMENT_NAME" type="xs:string"/>
                                   <xs:element name="LEGAL_ID" type="xs:string"/>
                                   <xs:element name="LEGAL_HOLDER_NAME" type="xs:string"/>
                                   <xs:element name="DATE_OF_BIRTH" type="xs:string"/>
                                   <xs:element name="GENDER" type="xs:string"/>
                                   <xs:element name="MARITAL_STATUS" type="xs:string"/>
                                   <xs:element name="OCCUPATION" type="xs:string"/>
                                   <xs:element name="EMAIL_ADDRESS" type="xs:string"/>
                                   <xs:element name="PHONE_INFO">
                                        <xs:complexType>
                                             <xs:sequence>
                                                  <xs:element name="PHONE_NUMBER_ITEM" minOccurs="1" maxOccurs="2">
                                                       <xs:complexType>
                                                            <xs:sequence>
                                                                 <xs:element name="PHONE_NUMBER" type="xs:string"/>
                                                            </xs:sequence>
                                                       </xs:complexType>
                                                  </xs:element>
                                             </xs:sequence>
                                        </xs:complexType>
                                   </xs:element>
                                   <xs:element name="ADDRESS_INFO">
                                        <xs:complexType>
                                             <xs:sequence>
                                                  <xs:element name="ADDRESS_ITEM" minOccurs="1" maxOccurs="2">
                                                       <xs:complexType>
                                                            <xs:sequence>
                                                                 <xs:element name="ADDRESS_TYPE" type="xs:string"/>
                                                                 <xs:element name="COUNTRY_CODE" type="xs:string"/>
                                                                 <xs:element name="DEPARTMENT_CODE" type="xs:string"/>
                                                                 <xs:element name="MUNICIPALITY_CODE" type="xs:string"/>
                                                                 <xs:element name="ADDRESS_LINE" type="xs:string"/>
                                                            </xs:sequence>
                                                       </xs:complexType>
                                                  </xs:element>
                                             </xs:sequence>
                                        </xs:complexType>
                                   </xs:element>
                                   <xs:element name="WEIGHT" type="xs:string" minOccurs="0"/>
                                   <xs:element name="HEIGHT" type="xs:string" minOccurs="0"/>
                                   <xs:element name="NUMBER_CHILDREN" type="xs:integer" minOccurs="0"/>
                                   <xs:element name="HEALTH_QUESTIONS" minOccurs="0">
                                        <xs:complexType>
                                             <xs:sequence>
                                                  <xs:element name="HEALTH_QUESTION" maxOccurs="unbounded">
                                                       <xs:complexType>
                                                            <xs:sequence>
                                                            	 <xs:element name="ID" type="xs:string"/>
                                                                 <xs:element name="ANSWER" type="xs:string"/>
                                                                 <xs:element name="ADICIONAL_INFO" type="xs:string" minOccurs="0"/>
                                                            </xs:sequence>
                                                       </xs:complexType>
                                                  </xs:element>
                                             </xs:sequence>
                                        </xs:complexType>
                                   </xs:element>
                                   <xs:element name="BENEFICIARIES" minOccurs="0">
                                        <xs:complexType>
                                             <xs:sequence>
                                                  <xs:element name="BENEFICIARY" maxOccurs="unbounded">
                                                       <xs:complexType>
                                                            <xs:sequence>
                                                                 <xs:element name="LEGAL_ID_TYPE" type="xs:string"/>
                                                                 <xs:element name="LEGAL_ID" type="xs:string"/>
                                                                 <xs:element name="NAME" type="xs:string"/>
                                                                 <xs:element name="RELATIONSHIP" type="xs:string"/>
                                                                 <xs:element name="PERCENTAGE" type="xs:string"/>
                                                                 <xs:element name="DATE_OF_BIRTH" type="xs:string"/>
                                                            </xs:sequence>
                                                       </xs:complexType>
                                                  </xs:element>
                                             </xs:sequence>
                                        </xs:complexType>
                                   </xs:element>
                              </xs:sequence>
                         </xs:complexType>
                    </xs:element>
                    <xs:element name="ADDITIONAL_INSUREDS" minOccurs="0">
                         <xs:complexType>
                              <xs:sequence>
                                   <xs:element name="ADDITIONAL_INSURED" maxOccurs="unbounded">
                                        <xs:complexType>
                                             <xs:sequence>
                                                  <xs:element name="LEGAL_ID_TYPE" type="xs:string"/>
                                                  <xs:element name="LEGAL_ID" type="xs:string"/>
                                                  <xs:element name="NAME" type="xs:string"/>
                                                  <xs:element name="RELATIONSHIP" type="xs:string"/>
                                                  <xs:element name="DATE_OF_BIRTH" type="xs:string"/>
                                             </xs:sequence>
                                        </xs:complexType>
                                   </xs:element>
                              </xs:sequence>
                         </xs:complexType>
                    </xs:element>
                    <xs:element name="PAYMENT_INFORMATION">
                         <xs:complexType>
                              <xs:sequence>
                                   <xs:element name="CUSTOMER_ID" type="xs:string"/>
                                   <xs:element name="LEGAL_DOCUMENT_NAME" type="xs:string"/>
                                   <xs:element name="LEGAL_ID" type="xs:string"/>
                                   <xs:element name="LEGAL_HOLDER_NAME" type="xs:string"/>
                                   <xs:element name="DATE_OF_BIRTH" type="xs:string"/>
                                   <xs:element name="GENDER" type="xs:string"/>
                                   <xs:element name="MARITAL_STATUS" type="xs:string"/>
                                   <xs:element name="OCCUPATION" type="xs:string"/>
                                   <xs:element name="EMAIL_ADDRESS" type="xs:string"/>
                                   <xs:element name="PHONE_INFO">
                                        <xs:complexType>
                                             <xs:sequence>
                                                  <xs:element name="PHONE_NUMBER_ITEM" minOccurs="1" maxOccurs="2">
                                                       <xs:complexType>
                                                            <xs:sequence>
                                                                 <xs:element name="PHONE_NUMBER" type="xs:string"/>
                                                            </xs:sequence>
                                                       </xs:complexType>
                                                  </xs:element>
                                             </xs:sequence>
                                        </xs:complexType>
                                   </xs:element>
                                   <xs:element name="ADDRESS_INFO">
                                        <xs:complexType>
                                             <xs:sequence>
                                                  <xs:element name="ADDRESS_ITEM" minOccurs="1" maxOccurs="2">
                                                       <xs:complexType>
                                                            <xs:sequence>
                                                                 <xs:element name="ADDRESS_TYPE" type="xs:string"/>
                                                                 <xs:element name="COUNTRY_CODE" type="xs:string"/>
                                                                 <xs:element name="DEPARTMENT_CODE" type="xs:string"/>
                                                                 <xs:element name="MUNICIPALITY_CODE" type="xs:string"/>
                                                                 <xs:element name="ADDRESS_LINE" type="xs:string"/>
                                                            </xs:sequence>
                                                       </xs:complexType>
                                                  </xs:element>
                                             </xs:sequence>
                                        </xs:complexType>
                                   </xs:element>
                                   <xs:element name="PAYMENT_DETAIL">
                                        <xs:complexType>
                                             <xs:sequence>
                                             	  <xs:element name="PAYMENT_METHOD" type="ing:PaymentMethodClassType"/>
                                             	  <xs:element name="PAYMENT_AMOUNT" type="xs:decimal"/>
                                             	  <xs:element name="PAYMENT_FREQUENCY" type="ing:PaymentFrequencyClassType"/>
                                                  <xs:element name="PAYMENT_CURRENCY" type="xs:string"/>
                                                  <xs:element name="PAYMENT_PRODUCT_NUMBER" type="xs:string"/>
                                                  <xs:element name="PAYMENT_ONLINE" type="xs:string"/>
                                                  <xs:element name="PRODUCT_NUMBER_REF" type="xs:string" minOccurs="0"/>
                                                  <xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
                                             </xs:sequence>
                                        </xs:complexType>
                                   </xs:element>
                              </xs:sequence>
                         </xs:complexType>
                    </xs:element>
                    <xs:element name="CHANNEL_INFORMATION" minOccurs="0">
                         <xs:complexType>
                              <xs:sequence>
                                   <xs:element name="CODE" type="xs:string"/>
                                   <xs:element name="NAME" type="xs:string"/>
                                   <xs:element name="LOCATION" type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                         </xs:complexType>
                    </xs:element>
               </xs:sequence>
          </xs:complexType>
     </xs:element>

     <xs:element name="ingresaVentaSegurosResponse">
          <xs:complexType>
               <xs:sequence>
                    <xs:element name="INSURANCE_POLICY_CODE" type="xs:string" minOccurs="0"/>
                    <xs:element name="CERTIFICATE_NUMBER" type="xs:string" minOccurs="0"/>
                    <xs:element name="CERTIFICATE_SERIE" type="xs:string" minOccurs="0"/>
               </xs:sequence>
          </xs:complexType>
     </xs:element>
</xs:schema>