Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/recargas/Resources/Recargas.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_-1206331633.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-1499734640.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Compraderecargacondbcta">
<part name="parameters" element="tns:Compraderecargacondbcta"/>
</message>
<message name="CompraderecargacondbctaResponse">
<part name="parameters" element="tns:CompraderecargacondbctaResponse"/>
</message>
<message name="Compraderecargacondbcta_Validate">
<part name="parameters" element="tns:Compraderecargacondbcta_Validate"/>
</message>
<message name="Compraderecargacondbcta_ValidateResponse">
<part name="parameters" element="tns:Compraderecargacondbcta_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Compraderecargacondbcta">
<input message="tns:Compraderecargacondbcta"/>
<output message="tns:CompraderecargacondbctaResponse"/>
</operation>
<operation name="Compraderecargacondbcta_Validate">
<input message="tns:Compraderecargacondbcta_Validate"/>
<output message="tns:Compraderecargacondbcta_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Compraderecargacondbcta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Compraderecargacondbcta_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwomnicanal:7003/svcRecargas/services"/>
</port>
</service>
</definitions>