Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/PagoRemesas/PagoRemesas.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoRemesasTypes"
	xmlns:pag="http://www.ficohsa.com.hn/middleware.services/pagoRemesasTypes">
	
	<xs:complexType name="pagoRemesasResponseType">
		<xs:sequence>
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="REMIT_COMPANY_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_ID" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="BENEFICIARY_ID" type="xs:string" minOccurs="0" />
			<xs:element name="ORD_PARTY_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0" />
			<xs:element name="BEN_ADDRESS" type="xs:string" minOccurs="0" />
			<xs:element name="BEN_COUNTRY" type="xs:string" minOccurs="0" />
			<xs:element name="BEN_CITY" type="xs:string" minOccurs="0" />
			<xs:element name="BEN_PHONE_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_PRICE" type="xs:string" minOccurs="0" />
			<xs:element name="DEALSLIP" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="pagoRemesas">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="REMITTANCE_ID" type="xs:string"/>
	            <xs:element name="BENEFICIARY_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BENEF_ID" type="xs:string"/>
							<xs:element name="BENEF_ID_TYPE" type="xs:string"/>
							<xs:element name="BENEF_CITY" type="xs:string"/>
							<xs:element name="BENEF_STATE" type="xs:string"/>
							<xs:element name="BENEF_COUNTRY" type="xs:string"/>
							<xs:element name="BENEF_PHONE_NUMBER" type="xs:string"/>
							<xs:element name="BENEF_DATE_OF_BIRTH" type="xs:string" minOccurs="0" />
							<xs:element name="BENEF_OCCUPATION" type="xs:string" minOccurs="0" />
							<xs:element name="BENEF_ADDRESS" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoRemesasResponse" type="pag:pagoRemesasResponseType"/>

</xs:schema>