Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/consultasCliente/consultaActivosCliente/ConsultaCuentasCliente/xsd/services_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xs:schema version="1.0" targetNamespace="T24WebServicesImpl" xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultaCuentaAhorroxCliente" type="tns:ConsultaCuentaAhorroxCliente"/>
  <xs:element name="ConsultaCuentaAhorroxClienteResponse" type="tns:ConsultaCuentaAhorroxClienteResponse"/>
  <xs:element name="ConsultaCuentaCorrientexCliente" type="tns:ConsultaCuentaCorrientexCliente"/>
  <xs:element name="ConsultaCuentaCorrientexClienteResponse" type="tns:ConsultaCuentaCorrientexClienteResponse"/>
  <xs:element name="callOfs" type="tns:callOfs"/>
  <xs:element name="callOfsResponse" type="tns:callOfsResponse"/>
  <xs:complexType name="WSFICOLINKSAVINGSACCOUNTType">
    <xs:sequence>
      <xs:element name="gWSFICOLINKSAVINGSACCOUNTDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSFICOLINKSAVINGSACCOUNTDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCOUNTTITLE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="TOTALBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="RESERVEBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LIENBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLOCKEDFUNDSPOS" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLOCKEDFUNDSATM" type="xs:string" minOccurs="0"/>
                  <xs:element name="AVAILABLEBAL" type="xs:string" minOccurs="0"/>
                  <xs:element name="OPENINGDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="INACTIVMARKER" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFICOLINKCURRENTACCOUNTType">
    <xs:sequence>
      <xs:element name="gWSFICOLINKCURRENTACCOUNTDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSFICOLINKCURRENTACCOUNTDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="TOTALBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="RESERVEBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LIENBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLOCKEDFUNDSPOS" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLOCKEDFUNDSATM" type="xs:string" minOccurs="0"/>
                  <xs:element name="AVAILABLEBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="OPENINGDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="INACTIVMARKER" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfs">
    <xs:sequence>
      <xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfsResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultaCuentaCorrientexCliente">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSFICOLINKCURRENTACCOUNTType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="webRequestCommon">
    <xs:sequence>
      <xs:element name="userName" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="company" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enquiryInput">
    <xs:sequence>
      <xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enquiryInputCollection">
    <xs:sequence>
      <xs:element name="columnName" type="xs:string" minOccurs="0"/>
      <xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
      <xs:element name="operand" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultaCuentaCorrientexClienteResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSFICOLINKCURRENTACCOUNTType" type="tns:WSFICOLINKCURRENTACCOUNTType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultaCuentaAhorroxCliente">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSFICOLINKSAVINGSACCOUNTType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultaCuentaAhorroxClienteResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSFICOLINKSAVINGSACCOUNTType" type="tns:WSFICOLINKSAVINGSACCOUNTType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="successIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="TWSError"/>
      <xs:enumeration value="T24Error"/>
      <xs:enumeration value="T24Override"/>
      <xs:enumeration value="T24Offline"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>