Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKGT/consultaUsuariosSistema/xsd/consultaUsuariosSistema_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaUsuariosSistema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaUsuariosSistema" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_USUARIO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NOMBRE_INICIO_SESION" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="OFICIAL_DAO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_DEPARTAMENTO" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="APLICACION" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_AGENCIA" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="NOMBRE_AGENCIA" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_USUARIO_OUT" type="db:TVARCHAR15" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="NOMBRE_USUARIO_OUT" type="db:TVARCHAR70" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CODIGO_DEPARTAMENTO_OUT" type="db:TNUMBER" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="APLICACION_OUT" type="db:TVARCHAR100" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="OFICIAL_DAO_OUT" type="db:TVARCHAR15" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CODIGO_AGENCIA_OUT" type="db:TNUMBER" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="NOMBRE_AGENCIA_OUT" type="db:TVARCHAR30" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="NOMBRE_INICIO_SESION_OUT" type="db:TVARCHAR15" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TVARCHAR100">
      <sequence>
         <element name="ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR30">
      <sequence>
         <element name="ITEM" type="db:string30" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TNUMBER">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR70">
      <sequence>
         <element name="ITEM" type="db:string70" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR15">
      <sequence>
         <element name="ITEM" type="db:string15" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string70">
      <restriction base="string">
         <maxLength value="70"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
</schema>