Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaSafewatch/xsd/consultaSafewatchTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSafewatchTypes" 
xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaSafewatchTypes">

    <!--############################################ -->
	<!--OPERACION: SCAN -->
	<!--############################################ -->
	
	<xs:element name="consultaSafewatchRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" type="xs:string" name="FORMAT"/>
	   			<xs:element minOccurs="1" type="xs:string" name="DATA"/>
				<xs:element minOccurs="0" type="xs:string" name="FORMAT_NAME"/>
				<xs:element minOccurs="0" type="xs:string" name="ADDRESS"/>
				<xs:element minOccurs="0" type="xs:string" name="BIC"/>
				<xs:element minOccurs="0" type="xs:string" name="CITY"/>
				<xs:element minOccurs="0" type="xs:string" name="CONTEXT"/>
				<xs:element minOccurs="0" type="xs:string" name="COUNTRY"/>
				<xs:element minOccurs="0" type="xs:string" name="RECORD_ID"/>
				<xs:element minOccurs="0" type="xs:string" name="RECORD_LOCATION"/>
				<xs:element minOccurs="0" type="xs:int" name="CHECK_VESSELS" default="1"/>
				<xs:element minOccurs="0" type="xs:int" name="CHECK_COUNTRY" default="1"/>
				<xs:element minOccurs="0" type="xs:boolean" name="AUTO_CREATE_ALERT" default="true"/>
				<xs:element minOccurs="0" type="xs:boolean" name="POSITIVE_DETECTION" default="false"/>
				<xs:element minOccurs="0" type="xs:boolean" name="FULL_REPORT" default="false"/>
				<xs:element minOccurs="0" type="xs:string" name="RECORD_XPATH"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
	
	<xs:element name="consultaSafewatchResponse">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="SCAN" type="cons:SCAN_TYPES"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>


	<xs:complexType name="BIC_TYPE">
		<xs:sequence>
			<xs:element name="SCANNED" type="xs:string" minOccurs="0"/>
			<xs:element name="ADDRESS" type="xs:string" minOccurs="0"/>
			<xs:element name="CITY" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="POSITION_TYPE">
		<xs:sequence>
			<xs:element name="BEGIN" type="xs:string" minOccurs="0"/>
			<xs:element name="END" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ENTITIES_TYPE">
		<xs:sequence>
			<xs:element name="ENTITY" type="cons:ENTITY_TYPE"  minOccurs="0" maxOccurs="unbounded" nillable="true" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ENTITY_TYPE">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ADDRESS_TYPE">
		<xs:sequence>
			<xs:element name="ADDRESS" type="xs:string" minOccurs="0"/>
			<xs:element name="CITY" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ENTITIES_ADDRESS_TYPE">
		<xs:sequence>
			<xs:element name="ADDRESS" type="cons:ADDRESS_TYPE" minOccurs="0" maxOccurs="unbounded" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="REPORT_TYPE">
		<xs:sequence>
			<xs:element name="STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="DATA" type="xs:string" minOccurs="0"/>
			<xs:element name="MATCH" type="xs:string" minOccurs="0"/>
			
			<xs:element name="BIC" type="cons:BIC_TYPE" minOccurs="0"/>

			<xs:element name="RANK" type="xs:string" />
			<xs:element name="LIST_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LIST_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="ENTITY_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
			<xs:element name="REMARK" type="xs:string" minOccurs="0"/>
			<xs:element name="TITLE" type="xs:string" minOccurs="0"/>

			<xs:element name="POSITION" type="cons:POSITION_TYPE" minOccurs="0"/>

			<xs:element name="FIELD" type="xs:string" minOccurs="0"/>
			<xs:element name="LINE" type="xs:string" minOccurs="0"/>
			<xs:element name="PROGRAM" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_OF_BIRTH" type="xs:string" />
			<xs:element name="PLACE_OF_BIRTH" type="xs:string" minOccurs="0" />
			<xs:element name="EXTERNAL_ID" type="xs:string" minOccurs="0" />
			
			<xs:element name="ENTITIES" type="cons:ENTITIES_TYPE" minOccurs="0" />
			<xs:element name="ENTITIES_ADDRESS" type="cons:ENTITIES_ADDRESS_TYPE" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="REPORTS_TYPE">
		<xs:sequence>
			<xs:element name="REPORT" type="cons:REPORT_TYPE"  minOccurs="0" maxOccurs="unbounded" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SCAN_TYPES">
		<xs:sequence>
			<xs:element name="VIOLATIONS" type="xs:int" minOccurs="0" />
			<xs:element name="ACCEPT" type="xs:int" minOccurs="0"/>
			<xs:element name="EXTERNAL" type="xs:int" minOccurs="0"/>
			<xs:element name="DETECTION_ID" type="xs:int" minOccurs="0"/>
			<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
			<xs:element name="STATUS_CODE" type="xs:string" minOccurs="0"/>
      		<xs:element name="SESSION_ID" type="xs:string" minOccurs="0"/>
      		<xs:element name="USER" type="xs:string" minOccurs="0"/>

			<xs:element name="REPORTS" type="cons:REPORTS_TYPE" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>