Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaTransacciones/ConsultaDetalleCompletoTransaccion/consultaDetalleCompletoTransaccionTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDetalleCompletoTransaccionTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaDetalleCompletoTransaccionTypes">
	
	<xs:element name="consultaDetalleCompletoTransaccion">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TRANSACTION_REFERENCE">
		        	<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
		        	</xs:simpleType>	            
	            </xs:element>
	            <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
		
	<xs:complexType name="consultaDetalleCompletoTransaccionResponse">
		<xs:sequence>
	        <xs:element name="TYPE" type="xs:string" minOccurs="0" />
	        <xs:element name="TRANSACTION_DESCRIPTION" type="xs:string" minOccurs="0" />
	        <xs:element name="CUSTOMER_DESCRIPTION" type="xs:string" minOccurs="0" />
	        <xs:element name="BOOKING_DATE" type="xs:string" minOccurs="0" />
	        <xs:element name="VALUE_DATE" type="xs:string" minOccurs="0" />
	        <xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
	        <xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
	        <xs:element name="DEBIT_AMOUNT" type="xs:string" minOccurs="0" />
	        <xs:element name="DEBIT_CURRENCY" type="xs:string" minOccurs="0" />
	        <xs:element name="CREDIT_ACCOUNT" type="xs:string" minOccurs="0" />
	        <xs:element name="CREDIT_AMOUNT" type="xs:string" minOccurs="0" />
	        <xs:element name="CREDIT_CURRENCY" type="xs:string" minOccurs="0" />
	        <xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
	        <xs:element name="AUTHORIZER" type="xs:string" minOccurs="0" />
	        <xs:element name="DETAILS" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DETAIL_RECORD" minOccurs="0" maxOccurs="unbounded" >
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LABEL" type="xs:string" minOccurs="0" maxOccurs="1" />
									<xs:element name="VALUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXTERNAL_BEN_ACCOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0" />
			<xs:element name="TRANSACTION_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="COMMISSION_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_ID" type="xs:string" minOccurs="0" />
			<xs:element name="COLL_PAY_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="PARENT_REFERENCE" type="xs:string" minOccurs="0" />
			<xs:element name="LOAN_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="EXTERNAL_REMITTER_INFO" type="xs:string" minOccurs="0" />
	    </xs:sequence> 
	</xs:complexType>
	
	<xs:element name="consultaDetalleCompletoTransaccionResponse" type="cons:consultaDetalleCompletoTransaccionResponse" />
	
</xs:schema>