Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/VisionPlusHN/obtenerSerializado/xsd/bfemEECCHistorico_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BF.Tarjetas.bfemEstadosCuentas.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/BF.Tarjetas.bfemEstadosCuentas.DataContracts">
  <xs:complexType name="ObtenerEncabezadosRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumCuenta" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Org" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PeriodoFinal" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PeriodoInicial" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenerEncabezadosRequest" nillable="true" type="tns:ObtenerEncabezadosRequest"/>
  <xs:complexType name="ObtenerEncabezadosResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GeneralResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Encabezados" nillable="true" type="tns:ArrayOfDatoObtenerEncabezados"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerEncabezadosResponse" nillable="true" type="tns:ObtenerEncabezadosResponse"/>
  <xs:complexType name="GeneralResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralResponse" nillable="true" type="tns:GeneralResponse"/>
  <xs:complexType name="ArrayOfDatoObtenerEncabezados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatoObtenerEncabezados" nillable="true" type="tns:DatoObtenerEncabezados"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatoObtenerEncabezados" nillable="true" type="tns:ArrayOfDatoObtenerEncabezados"/>
  <xs:complexType name="DatoObtenerEncabezados">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Ciclo" type="xs:int"/>
      <xs:element minOccurs="0" name="CodMoneda" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CycleDue" type="xs:short"/>
      <xs:element minOccurs="0" name="FechaCorte" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FileLink" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MilesEarned" type="xs:decimal"/>
      <xs:element minOccurs="0" name="NumCuenta" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Org" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PagoMinimo" type="xs:decimal"/>
      <xs:element minOccurs="0" name="PagoTotal" type="xs:decimal"/>
      <xs:element minOccurs="0" name="PdfFile" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Periodo" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PointEarned" type="xs:decimal"/>
      <xs:element minOccurs="0" name="SaldoMora" type="xs:decimal"/>
      <xs:element minOccurs="0" name="TipoOrg" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatoObtenerEncabezados" nillable="true" type="tns:DatoObtenerEncabezados"/>
  <xs:complexType name="ObtenerEncabezadosV2Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PeriodoFinal" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PeriodoInicial" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ProductoNumero" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ProductoTipo" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenerEncabezadosV2Request" nillable="true" type="tns:ObtenerEncabezadosV2Request"/>
  <xs:complexType name="ObtenerEncabezadosV2Response">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GeneralResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Encabezados" nillable="true" type="tns:ArrayOfDatoObtenerEncabezadosV2"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerEncabezadosV2Response" nillable="true" type="tns:ObtenerEncabezadosV2Response"/>
  <xs:complexType name="ArrayOfDatoObtenerEncabezadosV2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatoObtenerEncabezadosV2" nillable="true" type="tns:DatoObtenerEncabezadosV2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatoObtenerEncabezadosV2" nillable="true" type="tns:ArrayOfDatoObtenerEncabezadosV2"/>
  <xs:complexType name="DatoObtenerEncabezadosV2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Ciclo" type="xs:int"/>
      <xs:element minOccurs="0" name="CodMoneda" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CycleDue" type="xs:short"/>
      <xs:element minOccurs="0" name="FechaCorte" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="FileLink" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MilesEarned" type="xs:decimal"/>
      <xs:element minOccurs="0" name="NumCuenta" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Org" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PagoMinimo" type="xs:decimal"/>
      <xs:element minOccurs="0" name="PagoTotal" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Periodo" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PointEarned" type="xs:decimal"/>
      <xs:element minOccurs="0" name="SaldoMora" type="xs:decimal"/>
      <xs:element minOccurs="0" name="TipoOrg" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DescripcionLogo" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TipoEnvio" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatoObtenerEncabezadosV2" nillable="true" type="tns:DatoObtenerEncabezadosV2"/>
  <xs:complexType name="ObtenerSerializadoResquest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Periodo" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ProductoNumero" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ProductoTipo" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenerSerializadoResquest" nillable="true" type="tns:ObtenerSerializadoResquest"/>
  <xs:complexType name="ObtenerSerializadoResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GeneralResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="File" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="NumeroCuenta" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="NumeroTarjeta" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Periodo" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerSerializadoResponse" nillable="true" type="tns:ObtenerSerializadoResponse"/>
</xs:schema>