Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/TransactionReversal/xsd/TransactionReversalTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/transactionReversalTypes"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:txr="http://www.ficohsa.com.hn/middleware.services/transactionReversalTypes"
	xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes"
		schemaLocation="../../General/xsd/GeneralTypes.xsd" />

	<xs:element name="transactionReversal" type="txr:transactionReversalType" />

	<xs:complexType name="transactionReversalType">
		<xs:sequence>
			<xs:element name="TRANSACTION_ID" type="gen:stringMinLength1"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="transactionReversalResponse" type="txr:transactionReversalRspType" />

	<xs:complexType name="transactionReversalRspType">
		<xs:sequence>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>