Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaProductos/xsd/consultaProductosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaProductosTypes"
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaProductosTypes"
            elementFormDefault="qualified"
            version="1.0">

<xs:element name="consultaProductosRequest">
    <xs:complexType/>
</xs:element>

<xs:element name="consultaProductosResponse">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="PRODUCT_LIST" type="con:productListType" />            
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:complexType name="productListType">
 <xs:sequence>
   <xs:element name="PRODUCT_ITEM" type="con:productType" maxOccurs="unbounded"/>
  </xs:sequence>
</xs:complexType>


<xs:complexType name="productType">
    <xs:sequence>
        <xs:element name="COMPANY_CODE">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>
        <xs:element name="PRODUCT_CODE">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>
        <xs:element name="PRODUCT_DESCRIPTION">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>
        <xs:element name="PRODUCT_CURRENCY_CODE">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>            
        <xs:element name="SUB_PRODUCT_LIST" type="con:subProductListType"/>
    </xs:sequence>
</xs:complexType>    

<xs:complexType name="subProductListType">
 <xs:sequence>
   <xs:element name="SUB_PRODUCT_ITEM" type="con:subProductType" maxOccurs="unbounded"/>
  </xs:sequence>
</xs:complexType>


<xs:complexType name="subProductType">
    <xs:sequence>
        <xs:element name="SUB_PRODUCT_CODE">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>
        <xs:element name="SUB_PRODUCT_DESCRIPTION">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>
        <xs:element name="SUB_PRODUCT_CURRENCY_CODE">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>    
    </xs:sequence>        
</xs:complexType>    

</xs:schema>