Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/MovilDigitizationCards/wsdl/movilDigitizationCardsPS.wsdl

<wsdl:definitions name="movilDigitizationCardsPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/movilDigitizationCardsPS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/movilDigitizationCardsPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/movilDigitizationCardsTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/movilDigitizationCardsTypes" schemaLocation="../xsd/movilDigitizationCardsTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="movilGetPushReceiptRequest">
		<wsdl:part element="tns:movilGetPushReceipt" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="movilGetPushReceiptResponse">
		<wsdl:part element="tns:movilGetPushReceiptResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="movilGetCardsInfoRequest">
		<wsdl:part element="tns:movilGetCardsInfo" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="movilGetCardsInfoResponse">
		<wsdl:part element="tns:movilGetCardsInfoResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="movilGetCardsEncryptedRequest">
		<wsdl:part element="tns:movilGetCardsEncrypted" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="movilGetCardsEncryptedResponse">
		<wsdl:part element="tns:movilGetCardsEncryptedResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>	
	
	<wsdl:message name="movilCheckAvailableCardsRequest">
		<wsdl:part element="tns:movilCheckAvailableCards" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="movilCheckAvailableCardsResponse">
		<wsdl:part element="tns:movilCheckAvailableCardsResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>	
	
	<wsdl:message name="movilGetListCardsRequest">
		<wsdl:part element="tns:movilGetListCards" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="movilGetListCardsResponse">
		<wsdl:part element="tns:movilGetListCardsResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>	
	

	

	


	
	<wsdl:portType name="movilDigitizationCardsPS">
		<wsdl:operation name="movilGetPushReceipt" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:movilGetPushReceiptRequest"/>
			<wsdl:output message="op:movilGetPushReceiptResponse"/>
		</wsdl:operation>	
		<wsdl:operation name="movilGetCardsInfo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:movilGetCardsInfoRequest"/>
			<wsdl:output message="op:movilGetCardsInfoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="movilGetCardsEncrypted" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:movilGetCardsEncryptedRequest"/>
			<wsdl:output message="op:movilGetCardsEncryptedResponse"/>
		</wsdl:operation>	
		<wsdl:operation name="movilCheckAvailableCards" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:movilCheckAvailableCardsRequest"/>
			<wsdl:output message="op:movilCheckAvailableCardsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="movilGetListCards" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:movilGetListCardsRequest"/>
			<wsdl:output message="op:movilGetListCardsResponse"/>
		</wsdl:operation>		
	</wsdl:portType>
	
	<wsdl:binding name="movilDigitizationCardsPSSOAP" type="op:movilDigitizationCardsPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="movilGetPushReceipt">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/movilDigitizationCardsPS/movilGetPushReceipt"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:movilGetPushReceiptRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:movilGetPushReceiptResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="movilGetCardsInfo">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/movilDigitizationCardsPS/movilGetCardsInfo"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:movilGetCardsInfoRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:movilGetCardsInfoResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="movilGetCardsEncrypted">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/movilDigitizationCardsPS/movilGetCardsEncrypted"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:movilGetCardsEncryptedRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:movilGetCardsEncryptedResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="movilCheckAvailableCards">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/movilDigitizationCardsPS/movilCheckAvailableCards"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:movilCheckAvailableCardsRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:movilCheckAvailableCardsResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="movilGetListCards">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/movilGetListCardsPS/movilGetListCards"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:movilGetListCardsRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:movilGetListCardsResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
	</wsdl:binding>
	
	<wsdl:service name="movilDigitizationCardsPS">
	    <wsdl:port binding="op:movilDigitizationCardsPSSOAP" name="movilDigitizationCardsPSSOAP">
	      <soap:address location="http://172.23.13.35:8003/Middleware/OperationsAndExecution/CustomerDeposits/movilDigitizationCards"/>
	    </wsdl:port>
	</wsdl:service>

</wsdl:definitions>