Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/generalService/xsd/services.xsd

<schema elementFormDefault="qualified" targetNamespace="http://service.srvaplcobisgenerales.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://dto2.sdf.cts.cobis.cobiscorp.com" xmlns:Q1="http://dto.srvaplcobisentidades.ecobis.cobiscorp">
    <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/><import schemaLocation="cobiscorp.ecobis.srvaplcobisentidades.dto.xsd" namespace="http://dto.srvaplcobisentidades.ecobis.cobiscorp"/><element name="opBuscarFechaSistemaSolicitud" type="Q1:OpBuscarFechaSistemaSolicitud"/><element name="opBuscarFechaSistemaRespuesta" type="Q1:OpBuscarFechaSistemaRespuesta"/><element name="opBuscarPaisesSolicitud" type="Q1:OpBuscarPaisSolicitud"/><element name="opBuscarPaisesRespuesta" type="Q1:OpBuscarPaisRespuesta"/><element name="opConsultaAgenciasSolicitud" type="Q1:OpConsultaAgenciasSolicitud"/><element name="opConsultaAgenciasRespuesta" type="Q1:OpConsultaAgenciasRespuesta"/><element name="opConsultaOficialesSolicitud" type="Q1:OpConsultaOficialesSolicitud"/><element name="opConsultaOficialesRespuesta" type="Q1:OpConsultaOficialesRespuesta"/>
</schema>