Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/Safewatch/xsd/safewatchService_schema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service/">
  <xsd:complexType name="checkAlert">
    <xsd:sequence>
      <xsd:element name="request" type="ns0:alertCheckRequestModel" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="checkAlertAll">
    <xsd:sequence>
      <xsd:element name="request" type="ns0:alertCheckAllRequestModel" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="checkAlertAllResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:alertCheckAllResponseModel" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="checkAlertResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:alertCheckResponseModel" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createAlert">
    <xsd:sequence>
      <xsd:element name="request" type="ns0:alertCreateRequestModel" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createAlertResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:alertCreateResponsetModel" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="scan">
    <xsd:sequence>
      <xsd:element name="request" type="ns0:scanRequestModel" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="scanResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:scanResponseModel" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateAlert">
    <xsd:sequence>
      <xsd:element name="request" type="ns0:alertUpdatelRequestModel" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateAlertResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:alertUpdatelResponsetModel" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="alertCheckRequestModel">
    <xsd:sequence>
      <xsd:element name="sourceBank" type="xsd:string" minOccurs="0"/>
      <xsd:element name="detectionId" type="xsd:int"/>
      <xsd:element name="alertId" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="alertCheckAllRequestModel">
    <xsd:sequence>
      <xsd:element name="sourceBank" type="xsd:string" minOccurs="0"/>
      <xsd:element name="detectionId" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="alertCheckAllResponseModel">
    <xsd:sequence>
      <xsd:element name="general" type="ns0:generalType" minOccurs="0"/>
      <xsd:element name="detectionId" type="xsd:int"/>
      <xsd:element name="globalStatus" type="xsd:string" minOccurs="0"/>
      <xsd:element name="alertCount" type="xsd:int"/>
      <xsd:element name="verifiedAlerts" type="ns0:verifiedAlertsType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="generalType">
    <xsd:sequence>
      <xsd:element name="status" type="xsd:string" minOccurs="0"/>
      <xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
      <xsd:element name="dateTime" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="verifiedAlertsType">
    <xsd:sequence>
      <xsd:element name="alert" type="ns0:verifiedAlertType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="verifiedAlertType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:int"/>
      <xsd:element name="status" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="alertCheckResponseModel">
    <xsd:sequence>
      <xsd:element name="general" type="ns0:generalType" minOccurs="0"/>
      <xsd:element name="alertId" type="xsd:int"/>
      <xsd:element name="status" type="xsd:string" minOccurs="0"/>
      <xsd:element name="assignedTo" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="alertCreateRequestModel">
    <xsd:sequence>
      <xsd:element name="sourceBank" type="xsd:string" minOccurs="0"/>
      <xsd:element name="detectionId" type="xsd:int"/>
      <xsd:element name="position" type="xsd:int"/>
      <xsd:element name="user" type="xsd:string" minOccurs="0"/>
      <xsd:element name="comment" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="alertCreateResponsetModel">
    <xsd:sequence>
      <xsd:element name="general" type="ns0:generalType" minOccurs="0"/>
      <xsd:element name="alertId" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="scanRequestModel">
    <xsd:sequence>
      <xsd:element name="sourceBank" type="xsd:string" minOccurs="0"/>
      <xsd:element name="format" type="xsd:string" minOccurs="0"/>
      <xsd:element name="data" type="xsd:string" minOccurs="0"/>
      <xsd:element name="formatName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="address" type="xsd:string" minOccurs="0"/>
      <xsd:element name="bic" type="xsd:string" minOccurs="0"/>
      <xsd:element name="city" type="xsd:string" minOccurs="0"/>
      <xsd:element name="context" type="xsd:string" minOccurs="0"/>
      <xsd:element name="country" type="xsd:string" minOccurs="0"/>
      <xsd:element name="recordId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="recordLocation" type="xsd:string" minOccurs="0"/>
      <xsd:element name="checkVessels" type="xsd:int"/>
      <xsd:element name="checkCountry" type="xsd:int"/>
      <xsd:element name="autoCreateAlert" type="xsd:boolean"/>
      <xsd:element name="positiveDetection" type="xsd:boolean"/>
      <xsd:element name="fullReport" type="xsd:boolean"/>
      <xsd:element name="recordXPath" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="scanResponseModel">
    <xsd:sequence>
      <xsd:element name="general" type="ns0:generalType" minOccurs="0"/>
      <xsd:element name="scan" type="ns0:scanType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="scanType">
    <xsd:sequence>
      <xsd:element name="violation" type="xsd:int"/>
      <xsd:element name="accept" type="xsd:int"/>
      <xsd:element name="external" type="xsd:int"/>
      <xsd:element name="detectionId" type="xsd:int"/>
      <xsd:element name="gender" type="xsd:string" minOccurs="0"/>
      <xsd:element name="statusCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="sessionId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="user" type="xsd:string" minOccurs="0"/>
      <xsd:element name="reports" type="ns0:reportsType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="reportsType">
    <xsd:sequence>
      <xsd:element name="report" type="ns0:reportType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="reportType">
    <xsd:sequence>
      <xsd:element name="status" type="xsd:string" minOccurs="0"/>
      <xsd:element name="data" type="xsd:string" minOccurs="0"/>
      <xsd:element name="match" type="xsd:string" minOccurs="0"/>
      <xsd:element name="bic" type="ns0:bicType" minOccurs="0"/>
      <xsd:element name="rank" type="xsd:string" minOccurs="0"/>
      <xsd:element name="listName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="listDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="entityId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="category" type="xsd:string" minOccurs="0"/>
      <xsd:element name="remark" type="xsd:string" minOccurs="0"/>
      <xsd:element name="title" type="xsd:string" minOccurs="0"/>
      <xsd:element name="position" type="ns0:positionType" minOccurs="0"/>
      <xsd:element name="field" type="xsd:string" minOccurs="0"/>
      <xsd:element name="line" type="xsd:string" minOccurs="0"/>
      <xsd:element name="program" type="xsd:string" minOccurs="0"/>
      <xsd:element name="dateOfBirth" type="xsd:string" minOccurs="0"/>
      <xsd:element name="placeOfBirth" type="xsd:string" minOccurs="0"/>
      <xsd:element name="externalId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="entities" type="ns0:entitiesType" minOccurs="0"/>
      <xsd:element name="entitiesAddress" type="ns0:entitiesAddressType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="bicType">
    <xsd:sequence>
      <xsd:element name="scanned" type="xsd:string" minOccurs="0"/>
      <xsd:element name="address" type="xsd:string" minOccurs="0"/>
      <xsd:element name="city" type="xsd:string" minOccurs="0"/>
      <xsd:element name="country" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="positionType">
    <xsd:sequence>
      <xsd:element name="begin" type="xsd:string" minOccurs="0"/>
      <xsd:element name="end" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="entitiesType">
    <xsd:sequence>
      <xsd:element name="entity" type="ns0:entityType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="entityType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="type" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="entitiesAddressType">
    <xsd:sequence>
      <xsd:element name="address" type="ns0:addressType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addressType">
    <xsd:sequence>
      <xsd:element name="address" type="xsd:string" minOccurs="0"/>
      <xsd:element name="city" type="xsd:string" minOccurs="0"/>
      <xsd:element name="country" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="alertUpdatelRequestModel">
    <xsd:sequence>
      <xsd:element name="sourceBank" type="xsd:string" minOccurs="0"/>
      <xsd:element name="alertId" type="xsd:int"/>
      <xsd:element name="assignedTo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="comment" type="xsd:string" minOccurs="0"/>
      <xsd:element name="alertStatus" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="alertUpdatelResponsetModel">
    <xsd:sequence>
      <xsd:element name="general" type="ns0:generalType" minOccurs="0"/>
      <xsd:element name="alertId" type="xsd:int"/>
      <xsd:element name="status" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="checkAlert" type="ns0:checkAlert"/>
  <xsd:element name="checkAlertAll" type="ns0:checkAlertAll"/>
  <xsd:element name="checkAlertAllResponse" type="ns0:checkAlertAllResponse"/>
  <xsd:element name="checkAlertResponse" type="ns0:checkAlertResponse"/>
  <xsd:element name="createAlert" type="ns0:createAlert"/>
  <xsd:element name="createAlertResponse" type="ns0:createAlertResponse"/>
  <xsd:element name="scan" type="ns0:scan"/>
  <xsd:element name="scanResponse" type="ns0:scanResponse"/>
  <xsd:element name="updateAlert" type="ns0:updateAlert"/>
  <xsd:element name="updateAlertResponse" type="ns0:updateAlertResponse"/>
</xsd:schema>