Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/WSDL/CrearClienteNormalIntermedio/v1.0/CrearClienteNormalIntermedio.wsdl

<!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.  --><!--  Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.  --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../../../XSD/CrearClienteNormalIntermedio/v1.0/CrearClienteNormalItermedioArray.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../../../XSD/CrearClienteNormalIntermedio/v1.0/CrearClienteNormalIntermedio.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="CreacionClientesparaDynamo">
<part name="parameters" element="tns:CreacionClientesparaDynamo"/>
</message>
<message name="CreacionClientesparaDynamoResponse">
<part name="parameters" element="tns:CreacionClientesparaDynamoResponse"/>
</message>
<message name="CreacionClientesparaDynamo_Validate">
<part name="parameters" element="tns:CreacionClientesparaDynamo_Validate"/>
</message>
<message name="CreacionClientesparaDynamo_ValidateResponse">
<part name="parameters" element="tns:CreacionClientesparaDynamo_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="CreacionClientesparaDynamo">
<input message="tns:CreacionClientesparaDynamo"/>
<output message="tns:CreacionClientesparaDynamoResponse"/>
</operation>
<operation name="CreacionClientesparaDynamo_Validate">
<input message="tns:CreacionClientesparaDynamo_Validate"/>
<output message="tns:CreacionClientesparaDynamo_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreacionClientesparaDynamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreacionClientesparaDynamo_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcCreateCustomer/services"/>
</port>
</service>
</definitions>