Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/BranchCashMgmt/wsdl/BranchCashMgmt.wsdl

<wsdl:definitions 
	name="branchCashMgmtPS"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/branchCashMgmtPS/"
	xmlns:fic="http://www.ficohsa.com.hn/middleware.services/branchCashMgmtPS/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType"
	xmlns:bcm="http://www.ficohsa.com.hn/middleware.services/branchCashMgmtTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType"
				schemaLocation="../../General/xsd/Header.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://www.ficohsa.com.hn/middleware.services/branchCashMgmtTypes"
				schemaLocation="../xsd/BranchCashMgmtTypes.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="cashTransferRequest">
		<wsdl:part element="bcm:cashTransfer" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="cashTransferResponse">
		<wsdl:part element="bcm:cashTransferResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:message name="cashRequest">
		<wsdl:part element="bcm:cashRequest" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="cashRequestResponse">
		<wsdl:part element="bcm:cashRequestResponse"
			name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>
	
	<wsdl:message name="cashReceptionRequest">
		<wsdl:part element="bcm:cashReception" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="cashReceptionResponse">
		<wsdl:part element="bcm:cashReceptionResponse"
			name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:portType name="branchCashMgmtPS">
		<wsdl:operation name="cashTransfer"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:cashTransferRequest" />
			<wsdl:output message="fic:cashTransferResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="cashRequest"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:cashRequest" />
			<wsdl:output message="fic:cashRequestResponse" />
		</wsdl:operation>

		<wsdl:operation name="cashReception"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:cashReceptionRequest" />
			<wsdl:output message="fic:cashReceptionResponse" />
		</wsdl:operation>
		
	</wsdl:portType>

	<wsdl:binding name="branchCashMgmtPSSOAP" type="fic:branchCashMgmtPS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="cashTransfer">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/cashTransferPS/cashTransfer" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:cashTransferRequest"
					part="RequestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:cashTransferResponse"
					part="ResponseHeader" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="cashRequest">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/CashRequestPS/cashRequest" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:cashRequest"
					part="RequestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:cashRequestResponse"
					part="ResponseHeader" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	
		<wsdl:operation name="cashReception">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/CashReceptionPS/cashReception" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:cashReceptionRequest"
					part="RequestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:cashReceptionResponse"
					part="ResponseHeader" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="branchCashMgmtPS">
		<wsdl:port binding="fic:branchCashMgmtPSSOAP" name="branchCashMgmtPSSOAP">
			<soap:address location="http://mwteller:8004/mwteller/branch/branchCashMgmt" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>