Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultaCuentaOCategoria/ConsultaCuentaOCategoria.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCuentaOCategoriaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaCuentaOCategoriaTypes">
	
	<xs:complexType name="consultaCuentaOCategoriaResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaCuentaOCategoria">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaCuentaOCategoriaResponse" type="cons:consultaCuentaOCategoriaResponse"/>
	
</xs:schema>