Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaCargosRecurrentesHistoricos/xsd/consultaCargosRecurrentesHistoricosTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCargosRecurrentesHistoricosTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaCargosRecurrentesHistoricosTypes">

 	<xs:element name="consultaCargosRecurrentesHistoricos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SEARCH_VALUE" type="xs:string" />
				<xs:element name="SEARCH_CRITERIA" type="tns:searchCriteria" />
				<xs:element name="BEGIN_DATE" type="xs:date"/>
				<xs:element name="END_DATE" type="xs:date" />
				<xs:element name="INITIAL_RECORD" type="xs:integer" />
				<xs:element name="RECORD_COUNT" type="xs:integer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaCargosRecurrentesHistoricosResponse">
        <xs:complexType>
			<xs:sequence>
                <xs:element name="RECORDS_TOTAL" type="xs:integer" minOccurs="0"/>
				<xs:element name="MOVEMENT_INFORMATION" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="COMMERCE_NAME" type="xs:string"/>
                            <xs:element name="MOVEMENT_STATUS" type="xs:string" />
                            <xs:element name="TRANSACTION_DATE" type="xs:dateTime" />
                            <xs:element name="TRANSACTION_AMOUNT" type="xs:decimal" />
                            <xs:element name="TRANSACTION_CURRENCY" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
       
    <xs:simpleType name="searchCriteria">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CARD_NUMBER"/>
            <xs:enumeration value="ACC_NUMBER"/>
        </xs:restriction>
    </xs:simpleType>    

</xs:schema>