Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/PMSV/consultaLotesCliente/xsd/consultaLotesCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaLotesCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaLotesCliente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CUSTOMER_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="BEGIN_DATE" type="dateTime" db:index="2" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="END_DATE" type="dateTime" db:index="3" db:type="DATE" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="BANK_BATCH_ID" type="db:TNUMBER" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="UPLOAD_DATE" type="db:TDATE" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CUSTOMER_BATCH_ID" type="db:TVARCHAR40" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="APLICATION_DATE" type="db:TDATE" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="NUMBER_OF_TRANSACTIONS" type="db:TNUMBER" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="NUMBER_OF_TRANSACTION_SUCCESS" type="db:TNUMBER" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="NUMBER_OF_TRANSACTION_ERROR" type="db:TNUMBER" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TOTAL_AMOUNT" type="db:TNUMBER" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TOTAL_AMOUNT_ERROR" type="db:TNUMBER" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="STATUS" type="db:TVARCHAR100" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="STATUS_DESC" type="db:TVARCHAR100" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BATCH_TYPE" type="db:TNUMBER" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TYPE_DESC" type="db:TVARCHAR30" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TVARCHAR100">
      <sequence>
         <element name="ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TDATE">
      <sequence>
         <element name="ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TNUMBER">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR30">
      <sequence>
         <element name="ITEM" type="db:string30" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR40">
      <sequence>
         <element name="ITEM" type="db:string40" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
</schema>