Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/ficocelTransacciones/ProcesaMensajeFicocel/procesaMensajeFicocelTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/procesaMensajeFicocelTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/procesaMensajeFicocelTypes">
	
	
	<xs:element name="procesaMensajeFicocel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MOBILE_NUMBER" type="xs:string"/>
				<xs:element name="KEYWORD" type="xs:string"/>
				<xs:element name="PIN_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="PRODUCT_ALIAS" type="xs:string" minOccurs="0"/>
				<xs:element name="PRIMARY_KEY" type="xs:string" minOccurs="0"/>
				<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="procesaMensajeFicocelResponse" type="cons:procesaMensajeFicocelResponseType"/>
	
	<xs:complexType name="procesaMensajeFicocelResponseType">
		<xs:sequence>
			<xs:element name="SHORT_MESSAGE" type="xs:string" minOccurs="0"/>
			<xs:element name="MOBILE_NUMBER" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>