Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/tarjetaCredito/ReversionPagoTarjetaCredito/reversionPagoTarjetaCreditoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/reversionPagoTarjetaCreditoTypes"
	xmlns:cred="http://www.ficohsa.com.hn/middleware.services/reversionPagoTarjetaCreditoTypes">
	
	<xs:complexType name="reversionPagoTarjetaCreditoResponseType">
		<xs:sequence>
			<xs:element name="CONFIRMATION_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="CONFIRMATION_MESSAGE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="reversionPagoTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CREDIT_CARD_NUMBER" type="xs:string"/>
				<xs:element name="AMOUNT" type="xs:string"/>
				<xs:element name="CURRENCY" type="xs:string" />
				<xs:element name="PAYMENT_TYPE" type="xs:string"/>
				<xs:element name="PAYMENT_CHANNEL " type="xs:string"/>
				<xs:element name="PAYMENT_DATE" type="xs:string"/>
				<xs:element name="PAYMENT_REFERENCE" type="xs:string"/>
				<xs:element name="PAYMENT_CODE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="reversionPagoTarjetaCreditoResponse" type="cred:reversionPagoTarjetaCreditoResponseType"/>
	
</xs:schema>