Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ServiciosEmpresariales/consultaTargetTipoPrestamo/xsd/consultaTargetTipoPrestamo_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaTargetTipoPrestamo" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaTargetTipoPrestamo" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_TARGET" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_TARGET_ID" type="db:DLC.TNUMBER4" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_TARGET_DESC" type="db:DLC.TVARCHAR200" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_LOAN_TYPE_ID" type="db:DLC.TNUMBER3" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_LOAN_TYPE_DESC" type="db:DLC.TVARCHAR200" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DLC.TVARCHAR200">
      <sequence>
         <element name="P_TARGET_DESC_ITEM" type="db:string200" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TNUMBER3">
      <sequence>
         <element name="P_LOAN_TYPE_ID_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TNUMBER4">
      <sequence>
         <element name="P_TARGET_ID_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
</schema>