Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABKPA/transaccionesTCOnline/wsdl/WSDL.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultarTarjetas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noIdentidadCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarTarjetasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarTarjetasResult" type="tns:ConsultaTarjetasResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultaTarjetasResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tarjetas" type="tns:ArrayOfStrucTarjetasConsulta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStrucTarjetasConsulta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StrucTarjetasConsulta" nillable="true" type="tns:StrucTarjetasConsulta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StrucTarjetasConsulta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreTarjetaHabiente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="categoriaTarjeta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estatusTarjeta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="producto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="grupoAfinidad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarTarjetasCredito_v2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parametro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Saldos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarTarjetasCredito_v2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarTarjetasCredito_v2Result" type="tns:ConsultaTarjetasResponse_v2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultaTarjetasResponse_v2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tarjetas" type="tns:ArrayOfStrucTarjetasConsulta_v2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStrucTarjetasConsulta_v2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StrucTarjetasConsulta_v2" nillable="true" type="tns:StrucTarjetasConsulta_v2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StrucTarjetasConsulta_v2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreTarjetaHabiente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="categoriaTarjeta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estatusTarjeta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="producto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="grupoAfinidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PuntosAcumulados" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaUltimoCorte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Saldos" type="tns:ArrayOfArraySaldos_v2" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaMaximaPago" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArraySaldos_v2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArraySaldos_v2" nillable="true" type="tns:ArraySaldos_v2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArraySaldos_v2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Moneda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SaldoActual" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaPago" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LimiteCredito" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DisponibleCompras" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DisponibleRetiros" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SaldoFlotante" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SaldoExtraFinanciamiento" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SaldoVencido" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DisponibleConsumoCuotas" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SaldoConsumoCuotas" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PagoContado" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PagoMinimo" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PagosDia" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarUltimoEC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarUltimoECResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarUltimoECResult" type="tns:ConsultarUltimoECResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultarUltimoECResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreTitular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCreditoTitular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaCorte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="maxFechaPago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="puntosAcumulados" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldos" type="tns:ArrayOfArrayOfStrucSaldosEstado" />
          <s:element minOccurs="0" maxOccurs="1" name="tarjetas" type="tns:ArrayOfArrayOfItemTarjeta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfStrucSaldosEstado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfStrucSaldosEstado" nillable="true" type="tns:ArrayOfStrucSaldosEstado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStrucSaldosEstado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="limiteCredito" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoCorte" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pagoContado" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pagoMinimo" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoAnterior" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalAbonos" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalCargos" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoTotal" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfItemTarjeta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfItemTarjeta" nillable="true" type="tns:ArrayOfItemTarjeta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemTarjeta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreTarjetaHabiente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="movimientos" type="tns:ArrayOfArrayOfItemMovimiento" />
          <s:element minOccurs="0" maxOccurs="1" name="totales" type="tns:ArrayOfArrayOfStrucTotalMovimientos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfItemMovimiento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfItemMovimiento" nillable="true" type="tns:ArrayOfItemMovimiento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemMovimiento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="secuenciaMov" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaTrx" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="horaTrx" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="montoOrgnlTrx" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="monedaOrgnlTrx" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="montoTrx" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="monedaTrx" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoMov" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfStrucTotalMovimientos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfStrucTotalMovimientos" nillable="true" type="tns:ArrayOfStrucTotalMovimientos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStrucTotalMovimientos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="totalMovimientos" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaECHist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noAnio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noMes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaECHistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaECHistResult" type="tns:ConsultarUltimoECResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarMovsRecientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarMovsRecientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarMovsRecientesResult" type="tns:ConsultarMovsRecientesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultarMovsRecientesResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreTitular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCreditoTitular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldos" type="tns:ArrayOfArrayOfStrucSaldosRecientes" />
          <s:element minOccurs="0" maxOccurs="1" name="tarjetas" type="tns:ArrayOfArrayOfItemTarjeta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfStrucSaldosRecientes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfStrucSaldosRecientes" nillable="true" type="tns:ArrayOfStrucSaldosRecientes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStrucSaldosRecientes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="limiteCredito" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoAnterior" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalAbonos" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalCargos" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoTotal" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarIEFinaciamiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarIEFinaciamientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarIEFinaciamientoResult" type="tns:ConsultarIEFinaciamientoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultarIEFinaciamientoResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreTitular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCreditoTitular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tiposFin" type="tns:ArrayOfArrayOfItemTipoF" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfItemTipoF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfItemTipoF" nillable="true" type="tns:ArrayOfItemTipoF" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemTipoF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tipoFinanciamiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoFin" type="tns:ArrayOfArrayOfItemtipoFin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfItemtipoFin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfItemtipoFin" nillable="true" type="tns:ArrayOfItemtipoFin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemtipoFin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="disponibleTipo" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="utilizadoTipo" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="interesesTipo" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoTotalTipo" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoActualTipo" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="instFin" type="tns:ArrayOfItemInstFin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemInstFin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="fechaFinanciamiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="plazoFinanciamiento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tasaFinanciamiento" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="descFinanciamiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estatusFinanciamiento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="utilizadoFinanciamiento" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="interesesFinanciamiento" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoTotalFinanciamiento" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalPagadoFinanciamiento" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pendientePagoFinancimiento" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoActualFinanciamiento" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="instFinItems" type="tns:ArrayOfArrayOfItemCuotas" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfItemCuotas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfItemCuotas" nillable="true" type="tns:ArrayOfItemCuotas" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemCuotas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numeroCuota" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaCuota" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="capitalCuota" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="interesesCuota" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="montoTotalCuota" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarIEFinaciamientoHist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noAnio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noMes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarIEFinaciamientoHistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarIEFinaciamientoHistResult" type="tns:ConsultarIEFinaciamientoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarSaldos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarSaldosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarSaldosResult" type="tns:ConsultaSaldosResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultaSaldosResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreTitular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCreditoTitular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaSaldos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="puntosAcumulados" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaUltimoCorte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="maxFechaPago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigocliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldos" type="tns:ArrayOfArrayOfStrucSaldosConsulta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfStrucSaldosConsulta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfStrucSaldosConsulta" nillable="true" type="tns:ArrayOfStrucSaldosConsulta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStrucSaldosConsulta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="limiteCredito" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="disponibleCompras" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="disponibleRetiros" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="dispExtraFinanciamiento" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoExtraFinanciamiento" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="dispConsumoCuotas" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoConsumoCuotas" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoActual" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoVencido" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoFlotante" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pagoContado" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pagoMinimo" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pagosDia" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="InformacionTarjeta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InformacionTarjetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InformacionTarjetaResult" type="tns:InformacionTarjetaResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InformacionTarjetaResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EstatusConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreTarjetaTitular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreTarjetaHabiente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoTarjeta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoClienteCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentificacionClienteCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentificacionCLienteTarjeta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Producto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GrupoAfinidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoTarjeta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaVencimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Producto_descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GrupoAfinidad_descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InformacionTarjetaACF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InformacionTarjetaACFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InformacionTarjetaACFResult" type="tns:InformacionTarjetaResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Consultarpagos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idReferenciaEnPagoT24" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroDeTarjetaDeCredito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Monto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarpagosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarpagosResult" type="tns:ConsultarPagosResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultarPagosResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EstatusConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstatusDelPago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajesDeConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdReferenciaVasa" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultarAutorsFlotantes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarAutorsFlotantesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarAutorsFlotantesResult" type="tns:consultarAutorsFlotantesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="consultarAutorsFlotantesResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreTitular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCreditoTitular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tarjetas" type="tns:ArrayOfArrayOfItemTarjeta" />
          <s:element minOccurs="0" maxOccurs="1" name="saldosFlotantes" type="tns:ArrayOfArrayOfStrucSaldoFlotante" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfStrucSaldoFlotante">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfStrucSaldoFlotante" nillable="true" type="tns:ArrayOfStrucSaldoFlotante" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStrucSaldoFlotante">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldoFlotanteTotal" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="registrarRetiro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaExpiracion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="montoRetiro" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="monedaRetiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="canalRetiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaRetiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idRefRetiro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarRetiroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrarRetiroResult" type="tns:PagosResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PagosResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="reversarRetiro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaExpiracion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="montoRetiro" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="monedaRetiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="canalRetiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaRetiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idRefRetiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoRetiro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reversarRetiroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reversarRetiroResult" type="tns:PagosResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarConsumo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaExpiracion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="montoConsumo" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="monedaConsumo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DescripcionConsumo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="canalConsumo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaConsumo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idRefConsumo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarConsumoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrarConsumoResult" type="tns:PagosResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reversarConsumo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaExpiracion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="montoConsumo" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="monedaConsumo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="canalConsumo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaConsumo" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="idRefConsumo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoConsumo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reversarConsumoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reversarConsumoResult" type="tns:PagosResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="montoPago" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="monedaPago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="formaPago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="canalPago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaPago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idRefPago" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrarPagoResult" type="tns:PagosResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reversarPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="montoPago" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="monedaPago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="formaPago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="canalPago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaPago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idRefPago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPago" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reversarPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reversarPagoResult" type="tns:PagosResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarTarjetasSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarTarjetas" />
  </wsdl:message>
  <wsdl:message name="ConsultarTarjetasSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarTarjetasResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarTarjetasCredito_v2SoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarTarjetasCredito_v2" />
  </wsdl:message>
  <wsdl:message name="ConsultarTarjetasCredito_v2SoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarTarjetasCredito_v2Response" />
  </wsdl:message>
  <wsdl:message name="ConsultarUltimoECSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarUltimoEC" />
  </wsdl:message>
  <wsdl:message name="ConsultarUltimoECSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarUltimoECResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaECHistSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaECHist" />
  </wsdl:message>
  <wsdl:message name="ConsultaECHistSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaECHistResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarMovsRecientesSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarMovsRecientes" />
  </wsdl:message>
  <wsdl:message name="ConsultarMovsRecientesSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarMovsRecientesResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarIEFinaciamientoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarIEFinaciamiento" />
  </wsdl:message>
  <wsdl:message name="ConsultarIEFinaciamientoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarIEFinaciamientoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarIEFinaciamientoHistSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarIEFinaciamientoHist" />
  </wsdl:message>
  <wsdl:message name="ConsultarIEFinaciamientoHistSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarIEFinaciamientoHistResponse" />
  </wsdl:message>
  <wsdl:message name="consultarSaldosSoapIn">
    <wsdl:part name="parameters" element="tns:consultarSaldos" />
  </wsdl:message>
  <wsdl:message name="consultarSaldosSoapOut">
    <wsdl:part name="parameters" element="tns:consultarSaldosResponse" />
  </wsdl:message>
  <wsdl:message name="InformacionTarjetaSoapIn">
    <wsdl:part name="parameters" element="tns:InformacionTarjeta" />
  </wsdl:message>
  <wsdl:message name="InformacionTarjetaSoapOut">
    <wsdl:part name="parameters" element="tns:InformacionTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="InformacionTarjetaACFSoapIn">
    <wsdl:part name="parameters" element="tns:InformacionTarjetaACF" />
  </wsdl:message>
  <wsdl:message name="InformacionTarjetaACFSoapOut">
    <wsdl:part name="parameters" element="tns:InformacionTarjetaACFResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarpagosSoapIn">
    <wsdl:part name="parameters" element="tns:Consultarpagos" />
  </wsdl:message>
  <wsdl:message name="ConsultarpagosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarpagosResponse" />
  </wsdl:message>
  <wsdl:message name="consultarAutorsFlotantesSoapIn">
    <wsdl:part name="parameters" element="tns:consultarAutorsFlotantes" />
  </wsdl:message>
  <wsdl:message name="consultarAutorsFlotantesSoapOut">
    <wsdl:part name="parameters" element="tns:consultarAutorsFlotantesResponse" />
  </wsdl:message>
  <wsdl:message name="registrarRetiroSoapIn">
    <wsdl:part name="parameters" element="tns:registrarRetiro" />
  </wsdl:message>
  <wsdl:message name="registrarRetiroSoapOut">
    <wsdl:part name="parameters" element="tns:registrarRetiroResponse" />
  </wsdl:message>
  <wsdl:message name="reversarRetiroSoapIn">
    <wsdl:part name="parameters" element="tns:reversarRetiro" />
  </wsdl:message>
  <wsdl:message name="reversarRetiroSoapOut">
    <wsdl:part name="parameters" element="tns:reversarRetiroResponse" />
  </wsdl:message>
  <wsdl:message name="registrarConsumoSoapIn">
    <wsdl:part name="parameters" element="tns:registrarConsumo" />
  </wsdl:message>
  <wsdl:message name="registrarConsumoSoapOut">
    <wsdl:part name="parameters" element="tns:registrarConsumoResponse" />
  </wsdl:message>
  <wsdl:message name="reversarConsumoSoapIn">
    <wsdl:part name="parameters" element="tns:reversarConsumo" />
  </wsdl:message>
  <wsdl:message name="reversarConsumoSoapOut">
    <wsdl:part name="parameters" element="tns:reversarConsumoResponse" />
  </wsdl:message>
  <wsdl:message name="registrarPagoSoapIn">
    <wsdl:part name="parameters" element="tns:registrarPago" />
  </wsdl:message>
  <wsdl:message name="registrarPagoSoapOut">
    <wsdl:part name="parameters" element="tns:registrarPagoResponse" />
  </wsdl:message>
  <wsdl:message name="reversarPagoSoapIn">
    <wsdl:part name="parameters" element="tns:reversarPago" />
  </wsdl:message>
  <wsdl:message name="reversarPagoSoapOut">
    <wsdl:part name="parameters" element="tns:reversarPagoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSDLSoap">
    <wsdl:operation name="ConsultarTarjetas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Tarjetas de Credito</wsdl:documentation>
      <wsdl:input message="tns:ConsultarTarjetasSoapIn" />
      <wsdl:output message="tns:ConsultarTarjetasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTarjetas_v2">
      <wsdl:input name="ConsultarTarjetasCredito_v2" message="tns:ConsultarTarjetasCredito_v2SoapIn" />
      <wsdl:output name="ConsultarTarjetasCredito_v2" message="tns:ConsultarTarjetasCredito_v2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUltimoEC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Estados de Cuenta a la Fecha del Ultimo Corte</wsdl:documentation>
      <wsdl:input message="tns:ConsultarUltimoECSoapIn" />
      <wsdl:output message="tns:ConsultarUltimoECSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaECHist">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Estados de Cuenta Historico</wsdl:documentation>
      <wsdl:input message="tns:ConsultaECHistSoapIn" />
      <wsdl:output message="tns:ConsultaECHistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarMovsRecientes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Movimientos despues de la fecha del ultimo de corte</wsdl:documentation>
      <wsdl:input message="tns:ConsultarMovsRecientesSoapIn" />
      <wsdl:output message="tns:ConsultarMovsRecientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarIEFinaciamiento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar de Consumo en Cuotas y Extra Financiamiento</wsdl:documentation>
      <wsdl:input message="tns:ConsultarIEFinaciamientoSoapIn" />
      <wsdl:output message="tns:ConsultarIEFinaciamientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarIEFinaciamientoHist">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar de Consumo en Cuotas y Extra Financiamiento Historico</wsdl:documentation>
      <wsdl:input message="tns:ConsultarIEFinaciamientoHistSoapIn" />
      <wsdl:output message="tns:ConsultarIEFinaciamientoHistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarSaldos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Saldos</wsdl:documentation>
      <wsdl:input message="tns:consultarSaldosSoapIn" />
      <wsdl:output message="tns:consultarSaldosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InformacionTarjeta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Informacion Tarjeta</wsdl:documentation>
      <wsdl:input message="tns:InformacionTarjetaSoapIn" />
      <wsdl:output message="tns:InformacionTarjetaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InformacionTarjetaACF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Informacion Tarjeta ACF Sistema de Colas SAC</wsdl:documentation>
      <wsdl:input message="tns:InformacionTarjetaACFSoapIn" />
      <wsdl:output message="tns:InformacionTarjetaACFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Consultarpagos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar_pagos</wsdl:documentation>
      <wsdl:input message="tns:ConsultarpagosSoapIn" />
      <wsdl:output message="tns:ConsultarpagosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarAutorsFlotantes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar de Autorizaciones Flotantes</wsdl:documentation>
      <wsdl:input message="tns:consultarAutorsFlotantesSoapIn" />
      <wsdl:output message="tns:consultarAutorsFlotantesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarRetiro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar Retiros</wsdl:documentation>
      <wsdl:input message="tns:registrarRetiroSoapIn" />
      <wsdl:output message="tns:registrarRetiroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reversarRetiro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reversar Retiros</wsdl:documentation>
      <wsdl:input message="tns:reversarRetiroSoapIn" />
      <wsdl:output message="tns:reversarRetiroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarConsumo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar Consumos</wsdl:documentation>
      <wsdl:input message="tns:registrarConsumoSoapIn" />
      <wsdl:output message="tns:registrarConsumoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reversarConsumo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reversar Consumos</wsdl:documentation>
      <wsdl:input message="tns:reversarConsumoSoapIn" />
      <wsdl:output message="tns:reversarConsumoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarPago">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar Pagos</wsdl:documentation>
      <wsdl:input message="tns:registrarPagoSoapIn" />
      <wsdl:output message="tns:registrarPagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reversarPago">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reversar Pagos</wsdl:documentation>
      <wsdl:input message="tns:reversarPagoSoapIn" />
      <wsdl:output message="tns:reversarPagoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDLSoap" type="tns:WSDLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarTarjetas">
      <soap:operation soapAction="http://tempuri.org/ConsultarTarjetas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTarjetas_v2">
      <soap:operation soapAction="http://tempuri.org/ConsultarTarjetasCredito_v2" style="document" />
      <wsdl:input name="ConsultarTarjetasCredito_v2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarTarjetasCredito_v2">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUltimoEC">
      <soap:operation soapAction="http://tempuri.org/ConsultarUltimoEC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaECHist">
      <soap:operation soapAction="http://tempuri.org/ConsultaECHist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMovsRecientes">
      <soap:operation soapAction="http://tempuri.org/ConsultarMovsRecientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarIEFinaciamiento">
      <soap:operation soapAction="http://tempuri.org/ConsultarIEFinaciamiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarIEFinaciamientoHist">
      <soap:operation soapAction="http://tempuri.org/ConsultarIEFinaciamientoHist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarSaldos">
      <soap:operation soapAction="http://tempuri.org/consultarSaldos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformacionTarjeta">
      <soap:operation soapAction="http://tempuri.org/InformacionTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformacionTarjetaACF">
      <soap:operation soapAction="http://tempuri.org/InformacionTarjetaACF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultarpagos">
      <soap:operation soapAction="http://tempuri.org/Consultarpagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarAutorsFlotantes">
      <soap:operation soapAction="http://tempuri.org/consultarAutorsFlotantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarRetiro">
      <soap:operation soapAction="http://tempuri.org/registrarRetiro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reversarRetiro">
      <soap:operation soapAction="http://tempuri.org/reversarRetiro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarConsumo">
      <soap:operation soapAction="http://tempuri.org/registrarConsumo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reversarConsumo">
      <soap:operation soapAction="http://tempuri.org/reversarConsumo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPago">
      <soap:operation soapAction="http://tempuri.org/registrarPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reversarPago">
      <soap:operation soapAction="http://tempuri.org/reversarPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDLSoap12" type="tns:WSDLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarTarjetas">
      <soap12:operation soapAction="http://tempuri.org/ConsultarTarjetas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTarjetas_v2">
      <soap12:operation soapAction="http://tempuri.org/ConsultarTarjetasCredito_v2" style="document" />
      <wsdl:input name="ConsultarTarjetasCredito_v2">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultarTarjetasCredito_v2">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUltimoEC">
      <soap12:operation soapAction="http://tempuri.org/ConsultarUltimoEC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaECHist">
      <soap12:operation soapAction="http://tempuri.org/ConsultaECHist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMovsRecientes">
      <soap12:operation soapAction="http://tempuri.org/ConsultarMovsRecientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarIEFinaciamiento">
      <soap12:operation soapAction="http://tempuri.org/ConsultarIEFinaciamiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarIEFinaciamientoHist">
      <soap12:operation soapAction="http://tempuri.org/ConsultarIEFinaciamientoHist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarSaldos">
      <soap12:operation soapAction="http://tempuri.org/consultarSaldos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformacionTarjeta">
      <soap12:operation soapAction="http://tempuri.org/InformacionTarjeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformacionTarjetaACF">
      <soap12:operation soapAction="http://tempuri.org/InformacionTarjetaACF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultarpagos">
      <soap12:operation soapAction="http://tempuri.org/Consultarpagos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarAutorsFlotantes">
      <soap12:operation soapAction="http://tempuri.org/consultarAutorsFlotantes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarRetiro">
      <soap12:operation soapAction="http://tempuri.org/registrarRetiro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reversarRetiro">
      <soap12:operation soapAction="http://tempuri.org/reversarRetiro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarConsumo">
      <soap12:operation soapAction="http://tempuri.org/registrarConsumo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reversarConsumo">
      <soap12:operation soapAction="http://tempuri.org/reversarConsumo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPago">
      <soap12:operation soapAction="http://tempuri.org/registrarPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reversarPago">
      <soap12:operation soapAction="http://tempuri.org/reversarPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDL">
    <wsdl:port name="WSDLSoap" binding="tns:WSDLSoap">
      <soap:address location="http://172.16.100.15/wsdl/WSDL.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDLSoap12" binding="tns:WSDLSoap12">
      <soap12:address location="http://172.16.100.15/wsdl/WSDL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>