Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_AuthorizeBatch/Schemas/AuthorizeBatchTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/massivePayment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mas="https://www.ficohsa.com/regional/massivePayment" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBRG_MassivePayment_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="authorizeBatch">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="CustomerId" type="mas:stringMinLength1"/>
        <xsd:element name="UserId" type="mas:stringMinLength1"/>
        <xsd:element name="QueryType" type="mas:queryType"/>
        <xsd:element name="QueryValue" type="mas:stringMinLength1"/>
        <xsd:element name="ApplicationDate" type="xsd:dateTime" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="authorizeBatchResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="Ticket" type="xsd:string"/>
        <xsd:element name="CustomerBatchId" type="xsd:string"/>
        <xsd:element name="BankBatchId" type="xsd:integer"/>
        <xsd:element name="CustomerId" type="xsd:string"/>
        <xsd:element name="Status" type="xsd:string"/>
        <xsd:element name="StatusDescription" type="xsd:string"/>
        <xsd:element name="DetailErrors" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AccountNumber" type="xsd:string"/>
              <xsd:element name="BatchAmount" type="xsd:decimal"/>
              <xsd:element name="TaxAmount" type="xsd:decimal"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="stringMinLength1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="queryType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BANK_BATCH_ID"/>
      <xsd:enumeration value="CUSTOMER_BATCH_ID"/>
      <xsd:enumeration value="OPERATION_TYPE"/>
      <xsd:enumeration value="TICKET"/>
      <xsd:enumeration value="TXN_REFERENCE"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>