Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaFICOPEN_v2/xsd/XMLSchema_2058569568.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaFICOPENTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaFICOPENTypes">

	<xs:complexType name="consultaFICOPENResponse">
		<xs:sequence>
			<xs:element name="CUSTOMER_LEGAL_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="CONTRACT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CONTRACT_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="COMPANY" type="xs:string" minOccurs="0"/>
			<xs:element name="START_DATE" type="xs:string" minOccurs="0"/>									
			<xs:element name="consultaFICOPENResponseType" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaFICOPENResponseRecordType" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BALANCE_TYPE" type="xs:string" minOccurs="0"/>
									<xs:element name="PREVIOUS_BALANCE" type="xs:string" minOccurs="0"/>
									<xs:element name="GROSS_CONTRIBUTIONS_AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="INTEREST_AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="WITHDRAWALS_AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="FEE_AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="INSURANCE_AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="CURRENT_BALANCE" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaFICOPEN">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="INVESTMENT_CODE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="START_DATE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="END_DATE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaFICOPENResponse" type="cons:consultaFICOPENResponse"/>
	
</xs:schema>