Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/VisionPlus/consultaSaldosTarjetaCredito/xsd/ConsultaSaldosTarjetaCreditoService_v2_1.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Business.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Business.Entities">
  <xs:import schemaLocation="ConsultaSaldosTarjetaCreditoService_v2_1_2.xsd" namespace="http://schemas.datacontract.org/2004/07/Core.Entities"/>
  <xs:complexType name="ConsultaSaldosTarjetaCreditoIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsultaSaldosTarjetaCreditoRequest" nillable="true" type="tns:ConsultaSaldosTarjetaCreditoRequestDTO"/>
      <xs:element minOccurs="0" name="MensajeEntradaInfo" nillable="true" type="q1:MensajeEntradaDTO" xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Entities"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultaSaldosTarjetaCreditoIn" nillable="true" type="tns:ConsultaSaldosTarjetaCreditoIn"/>
  <xs:complexType name="ConsultaSaldosTarjetaCreditoRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Organizacion" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultaSaldosTarjetaCreditoRequestDTO" nillable="true" type="tns:ConsultaSaldosTarjetaCreditoRequestDTO"/>
  <xs:complexType name="ConsultaSaldosTarjetaCreditoOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsultaSaldosTarjetaCreditoResponse" nillable="true" type="tns:ConsultaSaldosTarjetaCreditoResponseDTO"/>
      <xs:element minOccurs="0" name="MensajeRespuestaInfo" nillable="true" type="q2:MensajeRespuestaDTO" xmlns:q2="http://schemas.datacontract.org/2004/07/Core.Entities"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultaSaldosTarjetaCreditoOut" nillable="true" type="tns:ConsultaSaldosTarjetaCreditoOut"/>
  <xs:complexType name="ConsultaSaldosTarjetaCreditoResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CARD_HOLDER_NAME" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CARD_NUMBER" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CREDIT_LIMIT" type="xs:decimal"/>
      <xs:element minOccurs="0" name="CREDIT_LIMIT_CCY" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ConsultaSaldosTarjetaCreditoRecordDetail" nillable="true" type="tns:ArrayOfConsultaSaldosTarjetaCreditoRecordDetailDTO"/>
      <xs:element minOccurs="0" name="FCY_MIN_PAYMENT" type="xs:decimal"/>
      <xs:element minOccurs="0" name="FCY_TOTAL_PAYMENT" type="xs:decimal"/>
      <xs:element minOccurs="0" name="LAST_CUTOFF_DATE" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="LCY_MIN_PAYMENT" type="xs:decimal"/>
      <xs:element minOccurs="0" name="LCY_TOTAL_PAYMENT" type="xs:decimal"/>
      <xs:element minOccurs="0" name="MAX_PAYMENT_DATE" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="POINTS_EARNED" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultaSaldosTarjetaCreditoResponseDTO" nillable="true" type="tns:ConsultaSaldosTarjetaCreditoResponseDTO"/>
  <xs:complexType name="ArrayOfConsultaSaldosTarjetaCreditoRecordDetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultaSaldosTarjetaCreditoRecordDetailDTO" nillable="true" type="tns:ConsultaSaldosTarjetaCreditoRecordDetailDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultaSaldosTarjetaCreditoRecordDetailDTO" nillable="true" type="tns:ArrayOfConsultaSaldosTarjetaCreditoRecordDetailDTO"/>
  <xs:complexType name="ConsultaSaldosTarjetaCreditoRecordDetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CURRENCY" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CURRENT_BALANCE" type="xs:decimal"/>
      <xs:element minOccurs="0" name="FLOATING_BALANCE" type="xs:decimal"/>
      <xs:element minOccurs="0" name="OVERDUE_BALANCE" type="xs:decimal"/>
      <xs:element minOccurs="0" name="PAYMENTS_TODAY" type="xs:decimal"/>
      <xs:element minOccurs="0" name="PURCHASES_LIMIT" type="xs:decimal"/>
      <xs:element minOccurs="0" name="WITHDRAWAL_LIMIT" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultaSaldosTarjetaCreditoRecordDetailDTO" nillable="true" type="tns:ConsultaSaldosTarjetaCreditoRecordDetailDTO"/>
</xs:schema>