Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/VisionPlus/consultaSaldosTarjetaCredito/xsd/ConsultaSaldosTarjetaCreditoService_v2_1_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Core.Entities">
  <xs:complexType name="MensajeEntradaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MensajeEntradaDTO" nillable="true" type="tns:MensajeEntradaDTO"/>
  <xs:complexType name="MensajeRespuestaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoRespuesta" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MensajeRespuesta" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MensajeRespuestaDTO" nillable="true" type="tns:MensajeRespuestaDTO"/>
</xs:schema>