Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/TransferenciaCuentaTD/xsd/transferenciaCuentaTDTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:rcb="http://www.ficohsa.com.hn/middleware.services/transferenciaCuentaTDTypes"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/transferenciaCuentaTDTypes"
	version="1.0">
	
	<xs:simpleType name="cardnumber">
		<xs:restriction base="xs:string">
			<xs:minLength value="16"/>
			<xs:maxLength value="19"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="currency">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="processingcode">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="terminalreference">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="retrieval_ref_no">
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="transferenciaCuentaTD">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="rcb:cardnumber"/>
				<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="CURRENCY" type="rcb:currency" minOccurs="0"/>
				<xs:element name="PROCESSING_CODE" type="rcb:processingcode" minOccurs="0"/>
				<xs:element name="TERMINAL_REFERENCE" type="rcb:terminalreference" minOccurs="0"/>
				<xs:element name="CHANNEL" type="xs:string" minOccurs="0" />
				<xs:element name="RETRIEVAL_REF_NO" type="rcb:retrieval_ref_no" minOccurs="0"/>
				<xs:element name="ADDITIONAL_DATA" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="transferenciaCuentaTDResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
				<xs:element name="CREDIT_ACCOUNT" type="xs:string" minOccurs="0" />
				<xs:element name="CREDIT_CUSTOMER" type="xs:string" minOccurs="0" />
				<xs:element name="CREDIT_CURRENCY" type="xs:string" minOccurs="0" />
				<xs:element name="CREDIT_AMOUNT" type="xs:string" minOccurs="0" />
				<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0" />
				<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>