Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ASPECT/wsdl/uadIntegration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ficohsa.com.hn/uadIntegration" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/uadIntegration" targetNamespace="http://www.ficohsa.com.hn/uadIntegration">
    <wsdl:types>
        <xs:schema xmlns:uad="http://www.ficohsa.com.hn/uadIntegration" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/uadIntegration" version="1.0">
            <xs:complexType name="interactionData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element minOccurs="0" name="Message" type="xs:string"/>
                    <xs:element minOccurs="0" name="InteractionId" type="xs:long"/>
                    <xs:element minOccurs="0" name="Key" type="xs:string"/>
                    <xs:element minOccurs="0" name="CallID" type="xs:long"/>
                    <xs:element minOccurs="0" name="ServiceID" type="xs:long"/>
                    <xs:element minOccurs="0" name="ServiceName" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserID" type="xs:string"/>
                    <xs:element minOccurs="0" name="StationID" type="xs:long"/>
                    <xs:element minOccurs="0" name="SwitchID" type="xs:string"/>
                    <xs:element minOccurs="0" name="PhoneNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="ANI" type="xs:string"/>
                    <xs:element minOccurs="0" name="DNIS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CallType" type="xs:long"/>
                    <xs:element minOccurs="0" name="CallCategory" type="xs:long"/>
                    <xs:element minOccurs="0" name="CallerID" type="xs:string"/>
                    <xs:element minOccurs="0" name="CallTableRecordNum" type="xs:string"/>
                    <xs:element minOccurs="0" name="FirstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="LastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="IsCallBack" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="CallbackMemo" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined1" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined2" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined3" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined4" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined5" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined6" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined7" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined8" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined9" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined10" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined11" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined12" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined13" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined14" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined15" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined16" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined17" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined18" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined19" type="xs:string"/>
                    <xs:element minOccurs="0" name="UserDefined20" type="xs:string"/>
                    <xs:element minOccurs="0" name="DispositionCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="DateTimeSchedule" type="xs:string"/>
                    <xs:element minOccurs="0" name="PhoneSchedule" type="xs:string"/>
                    <xs:element minOccurs="0" name="MemoSchedule" type="xs:string"/>
                    <xs:element minOccurs="0" name="SameAgentSchedule" type="xs:string"/>
                    <xs:element minOccurs="0" name="SnoozeTimeSchedule" type="xs:string"/>
                    <xs:element minOccurs="0" name="ServiceIdSchedule" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getInteractionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="customeId" type="xs:string"/>
                        <xs:element name="requestData" type="uad:interactionData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInteractionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="responseData" type="uad:interactionData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getInteractionRequest">
        <wsdl:part element="tns:getInteractionRequest" name="getInteractionRequest"/>
    </wsdl:message>
    <wsdl:message name="getInteractionResponse">
        <wsdl:part element="tns:getInteractionResponse" name="getInteractionResponse"/>
    </wsdl:message>
    <wsdl:portType name="UADIntegrationEndpoint">
        <wsdl:operation name="getInteraction">
            <wsdl:input message="tns:getInteractionRequest" name="getInteractionRequest"/>
            <wsdl:output message="tns:getInteractionResponse" name="getInteractionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UADIntegrationEndpointSoap11" type="tns:UADIntegrationEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getInteraction">
            <soap:operation soapAction=""/>
            <wsdl:input name="getInteractionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getInteractionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UADIntegrationEndpointService">
        <wsdl:port binding="tns:UADIntegrationEndpointSoap11" name="UADIntegrationEndpointSoap11">
            <soap:address location="http://mwomnicanal:7030/uad-integration-ws/uadIntegration"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>