Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/DataWarehouse/consultaBurosPrecreditoGT/xsd/consultaBurosPrecreditoGT.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/GetDataBurosPreCreditGT_BS"
            elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes"
            xmlns="http://www.ficohsa.com.hn/middleware.services/GetDataBurosPreCreditGT_BS">

  <xsd:element name="getDataBurosPreCreditGTRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MSGPRE" nillable="true" type="evaluacionRequest"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="evaluacionRequest">
    <xsd:sequence>
      <xsd:element name="HEADER" minOccurs="0" maxOccurs="1" type="headerRequest"/>
      <xsd:element name="BODY" minOccurs="0" maxOccurs="1" type="bodyRequest"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="headerRequest">
    <xsd:sequence>
      <xsd:element name="KEY" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="CODIGO_PROSPECTO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="CODIGO_EMPRESA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="RELACION_PROSPECTO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="TIPO_PERSONA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="CODIGO_PRODUCTO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="USUARIO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="REFERENCIA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="PC" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="IP" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="bodyRequest">
    <xsd:sequence>
      <xsd:element name="NIT" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="PRIMER_NOMBRE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="SEGUNDO_NOMBRE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="PRIMER_APELLIDO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="SEGUNDO_APELLIDO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="PASAPORTE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="PAIS_PASAPORTE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="DPI" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="FECHA_NACIMIENTO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="getDataBurosPreCreditGTResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MSGPRE" nillable="true" type="evaluacionResponse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="evaluacionResponse">
    <xsd:sequence>
      <xsd:element name="HEADER" minOccurs="0" maxOccurs="1" type="headerResponse"/>
      <xsd:element name="BODY" minOccurs="0" maxOccurs="1" type="bodyResponse"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="headerResponse">
    <xsd:sequence>
      <xsd:element name="CODIGO_PROSPECTO" minOccurs="1" maxOccurs="1" type="xsd:int"/>
      <xsd:element name="CODIGO_EMPRESA" minOccurs="1" maxOccurs="1" type="xsd:int"/>
      <xsd:element name="RELACION_PROSPECTO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="TIPO_PERSONA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="USUARIO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="REFERENCIA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="PC" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="IP" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="bodyResponse">
    <xsd:sequence>
      <xsd:element name="ESTADO_CONSULTA" minOccurs="0" maxOccurs="1" type="estadoConsulta"/>
      <xsd:element name="SIRC" minOccurs="0" maxOccurs="1" type="SIRC"/>
      <xsd:element name="TRANSUNION" minOccurs="0" maxOccurs="1" type="TUCA"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="estadoConsulta">
    <xsd:sequence>
      <xsd:element name="CODIGO" minOccurs="1" maxOccurs="1" type="xsd:int"/>
      <xsd:element name="MENSAJE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SIRC">
    <xsd:sequence>
      <xsd:element name="DIRECTOS" minOccurs="0" maxOccurs="1" type="DIRECTOS"/>
      <xsd:element name="INDIRECTOS" minOccurs="0" maxOccurs="1" type="INDIRECTOS"/>
      <xsd:element name="ACTIVOS_CONTRARESERVA" minOccurs="0" maxOccurs="1" type="ACTIVOS_CONTRARESERVA"/>
      <xsd:element name="UNIFICADOS" minOccurs="0" maxOccurs="1" type="UNIFICADOS"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DIRECTOS">
    <xsd:sequence>
      <xsd:element name="DEUDAS_VIGENTES" minOccurs="0" maxOccurs="unbounded" type="deudasVigentes"/>
      <xsd:element name="DEUDAS_CANCELADAS" minOccurs="0" maxOccurs="unbounded" type="deudasCanceladas"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="deudasVigentes">
    <xsd:sequence>
      <xsd:element name="NOM_VINCULO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="ENTIDAD" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="DESC_TIPO_ACTIVO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="DESC_TIPO_GARANTIA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="MONEDA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="CAPITAL_ORIGINAL" minOccurs="1" maxOccurs="1" type="xsd:double"/>
      <xsd:element name="SALDO" minOccurs="1" maxOccurs="1" type="xsd:double"/>
      <xsd:element name="VENCIDO" minOccurs="1" maxOccurs="1" type="xsd:double"/>
      <xsd:element name="FECHA_ACTIVO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="FECHA_CONSESION" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="FECHA_VENCIMIENTO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="FECHA_CANCELACION" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="COMPORTAMIENTO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="CATEGORIA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="deudasCanceladas">
    <xsd:sequence>
      <xsd:element name="ENTIDAD" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="TIPO_ACTIVO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="TIPO_GARANTIA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="MONEDA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="CAPITAL_ORIGINAL" minOccurs="1" maxOccurs="1" type="xsd:double"/>
      <xsd:element name="SALDO" minOccurs="1" maxOccurs="1" type="xsd:double"/>
      <xsd:element name="VENCIDO" minOccurs="1" maxOccurs="1" type="xsd:double"/>
      <xsd:element name="FECHA_ACTIVO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="FECHA_CONSESION" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="FECHA_VENCIMIENTO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="FECHA_CANCELACION" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="COMPORTAMIENTO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="CATEGORIA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="INDIRECTOS">
    <xsd:sequence>
      <xsd:element name="DEUDAS_VIGENTES" minOccurs="0" maxOccurs="unbounded" type="deudasVigentes"/>
      <xsd:element name="DEUDAS_CANCELADAS" minOccurs="0" maxOccurs="unbounded" type="deudasCanceladas"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ACTIVOS_CONTRARESERVA">
    <xsd:sequence>
      <xsd:element name="ACTIVO" minOccurs="0" maxOccurs="unbounded" type="ACTIVO"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ACTIVO">
    <xsd:sequence>
      <xsd:element name="ENTIDAD" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="FECHA_CANCELACION" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="FORMA_CANCELACION" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="CAPITAL_ORIGINAL" minOccurs="1" maxOccurs="1" type="xsd:double"/>
      <xsd:element name="MONTO_SALDO_CAPITAL" minOccurs="1" maxOccurs="1" type="xsd:double"/>
      <xsd:element name="FECHA_SALDO_CAPITAL" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UNIFICADOS">
    <xsd:sequence>
      <xsd:element name="DIRECTOS" minOccurs="0" maxOccurs="1" type="DIRECTOS"/>
      <xsd:element name="INDIRECTOS" minOccurs="0" maxOccurs="1" type="INDIRECTOS"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TUCA">
    <xsd:sequence>
      <xsd:element name="MODELOS_ANALISIS" minOccurs="0" maxOccurs="1" type="modeloAnalisis"/>
      <xsd:element name="INFORMACION_CLIENTE" minOccurs="0" maxOccurs="1" type="informacionCliente"/>
      <xsd:element name="LISTA_CONSULTAS" minOccurs="0" maxOccurs="1" type="listaConsultas"/>
      <xsd:element name="COMPORTAMIENTO_OBLIGACIONES" minOccurs="0" maxOccurs="1" type="comportamientoObligaciones"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="modeloAnalisis">
    <xsd:sequence>
      <xsd:element name="MODELO" minOccurs="0" maxOccurs="1" type="modelo"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="modelo">
    <xsd:sequence>
      <xsd:element name="PRODUCTO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="RESULTADO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="RAZONES" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="informacionCliente">
    <xsd:sequence>
      <xsd:element name="DIRECCIONES" minOccurs="0" maxOccurs="1" type="direcciones"/>
      <xsd:element name="TELEFONOS" minOccurs="0" maxOccurs="1" type="telefonos"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="direcciones">
    <xsd:sequence>
      <xsd:element name="DIRECCION" minOccurs="0" maxOccurs="unbounded" type="direccion"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="direccion">
    <xsd:sequence>
      <xsd:element name="TIPO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="DESC" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="telefonos">
    <xsd:sequence>
      <xsd:element name="TELEFONO" minOccurs="0" maxOccurs="unbounded" type="telefono"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="telefono">
    <xsd:sequence>
      <xsd:element name="TIPO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="TELEFONO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="listaConsultas">
    <xsd:sequence>
      <xsd:element name="CONSULTA" minOccurs="0" maxOccurs="unbounded" type="consulta"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="consulta">
    <xsd:sequence>
      <xsd:element name="TIPO_CONSULTA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="ENTIDAD_CONSULTANTE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="FECHA_CONSULTA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="MOTIVO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="comportamientoObligaciones">
    <xsd:sequence>
      <xsd:element name="OBLIGACION" minOccurs="0" maxOccurs="unbounded" type="obligacion"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="obligacion">
    <xsd:sequence>
      <xsd:element name="ENTIDAD_INFORMANTE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="TIPO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="GARANTIA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="NUMERO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="FECHA_APERTURA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="FECHA_VENCIMIENTO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="FECHA_ACTUALIZACION" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="PERIODO_PAGO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="COMPORTAMIENTO_PAGO" minOccurs="0" maxOccurs="1" type="comportamientoPago"/>
    </xsd:sequence>
    <xsd:attribute name="TIPO" type="xsd:string"/>
    <xsd:attribute name="SECTOR" type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="comportamientoPago">
    <xsd:sequence>
      <xsd:element name="CALIFICACION" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="MONEDA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="ESTADO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="ESTADO_CREDITO" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="LIMITE" minOccurs="1" maxOccurs="1" type="xsd:double"/>
      <xsd:element name="SALDO_ACTUAL" minOccurs="1" maxOccurs="1" type="xsd:double"/>
      <xsd:element name="SALDO_MORA" minOccurs="1" maxOccurs="1" type="xsd:double"/>
      <xsd:element name="CUOTA" minOccurs="1" maxOccurs="1" type="xsd:double"/>
      <xsd:element name="VECTOR_HISTORICO" minOccurs="0" maxOccurs="1" type="vectorHistorico"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="vectorHistorico">
    <xsd:sequence>
      <xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded" type="items"/>
    </xsd:sequence>
    <xsd:attribute name="ANIO" type="xsd:int" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="items">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="ANIO" type="xsd:int" use="required"/>
        <xsd:attribute name="MES" type="xsd:int" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

</xsd:schema>