Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v4/Resources/AbanksGT/InhabilitacionCuenta/xsd/inhabilitacionCuentaTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/inhabilitacionCuentaTypes" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:con="http://www.ficohsa.com.hn/middleware.services/inhabilitacionCuentaTypes">
 <xs:element name="inhabilitacionCuentaRequest">  
    <xs:complexType>
        <xs:sequence>
            <xs:element name="ACCOUNT" type="xs:string"/>
			<xs:element name="TYPE" type="xs:string"/>
			<xs:element name="CURRENCY" type="xs:string"/>
			<xs:element name="OPERATION" type="xs:string"  minOccurs="0"/>
			<xs:element name="UUID" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
  </xs:element>
  
   <xs:element name="inhabilitacionCuentaResponse">   
    <xs:complexType>
        <xs:sequence>
           <xs:element name="responseCode" type="xs:string"/>
	       <xs:element name="responseDescription" type="xs:string"/> 
        </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>