Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKGT/chequeDetalle/xsd/chequeDetalle_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/chequeDetalle" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/chequeDetalle" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_TIPO" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA" type="dateTime" db:index="2" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_AGENCIA" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_MONEDA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_USUARIO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_JORNADA" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PD_FECHA" type="dateTime" db:index="2" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGO_AGENCIA" type="db:PROXYABANKSGT.TNUMBER" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_JORNADA" type="db:PROXYABANKSGT.TNUMBER" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TIPO" type="db:PROXYABANKSGT.TNUMBER" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGO_MONEDA" type="db:PROXYABANKSGT.TVARCHAR3" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGO_BANCO" type="db:PROXYABANKSGT.TNUMBER" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGO_USUARIO" type="db:PROXYABANKSGT.TVARCHAR20" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CUENTA" type="db:PROXYABANKSGT.TVARCHAR20" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NUMERO_CHEQUE" type="db:PROXYABANKSGT.TNUMBER" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONTO" type="db:PROXYABANKSGT.T_MONTO" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MARCA_CAJA" type="db:PROXYABANKSGT.TVARCHAR20" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ESTADO" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ESTADO" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.T_MONTO">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TVARCHAR20">
      <sequence>
         <element name="ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TNUMBER">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TVARCHAR3">
      <sequence>
         <element name="ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
</schema>
