Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/recaudos/listaRecaudos/listaRecaudosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/listaRecaudosTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/listaRecaudosTypes">
	
	<xs:complexType name = "listaRecaudosResponseArrayType">
		<xs:sequence>
			            <xs:element name="COLLECTION_ID" type="xs:string" minOccurs="0" />
			            <xs:element name="COLLECTION_NAME" type="xs:string" minOccurs="0" />
	    </xs:sequence> 
	</xs:complexType>
	
	<xs:complexType name="listaRecaudosResponseRecordType">
			<xs:sequence>
					<xs:element name="listaRecaudosResponseRecordType" type="cons:listaRecaudosResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="listaRecaudosResponseType">
		<xs:sequence>
			<xs:element name="listaRecaudosResponseType" type="cons:listaRecaudosResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="listaRecaudos">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="COLLECTION_ID" type="xs:string" minOccurs="0"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="listaRecaudosResponse" type="cons:listaRecaudosResponseType"/>
	
</xs:schema>