Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/CrearClienteNormalIntermedio/v1.0/CrearClienteNormalIntermedio.xsd

<!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.  -->
<xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">
<xs:element name="CreacionClientesparaDynamo" type="tns:CreacionClientesparaDynamo"/>
<xs:element name="CreacionClientesparaDynamoResponse" type="tns:CreacionClientesparaDynamoResponse"/>
<xs:element name="CreacionClientesparaDynamo_Validate" type="tns:CreacionClientesparaDynamo_Validate"/>
<xs:element name="CreacionClientesparaDynamo_ValidateResponse" type="tns:CreacionClientesparaDynamo_ValidateResponse"/>
<xs:element name="callOfs" type="tns:callOfs"/>
<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>
<xs:complexType name="FICOBULKPRODUCTINPUTDYNWSType">
<xs:sequence>
<xs:element name="PROCESSTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="REFEREDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="PASSBOOK" type="xs:string" minOccurs="0"/>
<xs:element name="PASSBOOKNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYROLLGRP" type="xs:string" minOccurs="0"/>
<xs:element name="INITIALDEPOSIT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPURPOSE" type="xs:string" minOccurs="0"/>
<xs:element name="LRORGOFFUNDS" type="xs:string" minOccurs="0"/>
<xs:element name="LRMONTXVOL" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESSTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="REGISTEREDSIGN" type="xs:string" minOccurs="0"/>
<xs:element name="REQUIREDSIGN" type="xs:string" minOccurs="0"/>
<xs:element name="LRADDDESC" type="xs:string" minOccurs="0"/>
<xs:element name="MODOFDEPOSIT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSREP" type="xs:string" minOccurs="0"/>
<xs:element name="TDCODID" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYACCT" type="xs:string" minOccurs="0"/>
<xs:element name="TOAGENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRREEMISIONTD" type="xs:string" minOccurs="0"/>
<xs:element name="EMBOSSEDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CARDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS81" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LROPRTTYPE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS82" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRSIGNID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS83" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRSIGNTYPE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS84" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="JOINTHOLDER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS85" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="RELATIONCODE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS86" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS87" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBENRELN" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS88" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBENPRG" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS89" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRTINACT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS90" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRNUMACT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS91" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBENIDTYPE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS92" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBENID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="USERID" type="xs:string" minOccurs="0"/>
<xs:element name="PROFILETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALDOCNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISSDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRFECVENCUS" type="xs:string" minOccurs="0"/>
<xs:element name="GIVENNAMES" type="xs:string" minOccurs="0"/>
<xs:element name="FAMILYNAME" type="xs:string" minOccurs="0"/>
<xs:element name="MARRLASTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="DATEOFBIRTH" type="xs:string" minOccurs="0"/>
<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
<xs:element name="MARITALSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="SPOUSENAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRPOSNACMUL" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS142" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRNACMULVAL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="PLACEOFBIRTH" type="xs:string" minOccurs="0"/>
<xs:element name="TOWNCOUNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="OTHEROFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="RESIDENCE" type="xs:string" minOccurs="0"/>
<xs:element name="LRRTN" type="xs:string" minOccurs="0"/>
<xs:element name="LRLEGALISEDID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISEDNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRGIVENNAMES" type="xs:string" minOccurs="0"/>
<xs:element name="LRFAMILYNAMES" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS153" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ADDRESSTYPECUS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="MAINADPHYCOR" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS155" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="COLONYCODE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS156" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="AVENUE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS157" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ADDSTREET" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS158" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="BLOCK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS159" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="HOUSENUMBER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS160" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="REFERENCES" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS161" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="EMAIL1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS162" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRMAINADELEC" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS163" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="SMS1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS164" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="PHONE1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="EXTENSION" type="xs:string" minOccurs="0"/>
<xs:element name="TELEPHONEREFER" type="xs:string" minOccurs="0"/>
<xs:element name="EDUCATIONLEVEL" type="xs:string" minOccurs="0"/>
<xs:element name="LRWORK" type="xs:string" minOccurs="0"/>
<xs:element name="OCCUPATION" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFMERCHNT" type="xs:string" minOccurs="0"/>
<xs:element name="SMENAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRGIRONEGOCIO" type="xs:string" minOccurs="0"/>
<xs:element name="LRFECINSCGIR" type="xs:string" minOccurs="0"/>
<xs:element name="VOLUMEOFSALES" type="xs:string" minOccurs="0"/>
<xs:element name="LRMONVTAFS" type="xs:string" minOccurs="0"/>
<xs:element name="LRANIOVTAFS" type="xs:string" minOccurs="0"/>
<xs:element name="LREQUSDFV" type="xs:string" minOccurs="0"/>
<xs:element name="PROFESIONTRADE" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFCOMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="EMPLOYERSNAME" type="xs:string" minOccurs="0"/>
<xs:element name="EMPLOYMENTSTART" type="xs:string" minOccurs="0"/>
<xs:element name="JOBTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="SRCOFINCOME" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEDEPENDENT" type="xs:string" minOccurs="0"/>
<xs:element name="PROFESSIONDEP" type="xs:string" minOccurs="0"/>
<xs:element name="RELATIONSHIP" type="xs:string" minOccurs="0"/>
<xs:element name="INCOMECCY" type="xs:string" minOccurs="0"/>
<xs:element name="INCOMERANGES" type="xs:string" minOccurs="0"/>
<xs:element name="LRFOTRING" type="xs:string" minOccurs="0"/>
<xs:element name="LRFOTRINGM" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS191" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NAMEPERSREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS192" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="SELSTNMPRRF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS193" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="MRLSTNMPRRF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS194" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TELNOPERREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS195" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="RELWTHPERREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS196" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NAMECOMMREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS197" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="COMMREFCONN" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS198" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TELNOCOMMREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS199" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="PROVIDERNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS200" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="GEOPROVILOC" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="PRDPROVIDES" type="xs:string" minOccurs="0"/>
<xs:element name="PROVIDERTELNO" type="xs:string" minOccurs="0"/>
<xs:element name="CLINETNAME" type="xs:string" minOccurs="0"/>
<xs:element name="GEOCLIENTLOC" type="xs:string" minOccurs="0"/>
<xs:element name="SRVPRODOFFER" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTTELNOS" type="xs:string" minOccurs="0"/>
<xs:element name="LRPRODPASIAB" type="xs:string" minOccurs="0"/>
<xs:element name="LRCIUDAUSA" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAISEFF" type="xs:string" minOccurs="0"/>
<xs:element name="LRPERNAC" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSTIN" type="xs:string" minOccurs="0"/>
<xs:element name="LRLUGNA" type="xs:string" minOccurs="0"/>
<xs:element name="LRNUMIDP" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSAPNFDS" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPNFDPROF" type="xs:string" minOccurs="0"/>
<xs:element name="LRSTATECNTR" type="xs:string" minOccurs="0"/>
<xs:element name="TARGET" type="xs:string" minOccurs="0"/>
<xs:element name="NEIGHBPENDING" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORIZTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORIZCODE" type="xs:string" minOccurs="0"/>
<xs:element name="SECTOR" type="xs:string" minOccurs="0"/>
<xs:element name="FGNCCYGENTYP" type="xs:string" minOccurs="0"/>
<xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
<xs:element name="INDUSTRY" type="xs:string" minOccurs="0"/>
<xs:element name="LRMIGRATECUS" type="xs:string" minOccurs="0"/>
<xs:element name="OFFICIALCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AGENCYCODE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>
<xs:complexType name="FICOBULKPRODUCTType">
<xs:sequence>
<xs:element name="FIELDS1" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS2" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS3" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS4" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS5" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS6" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS7" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS8" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS9" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS10" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS11" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS12" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS13" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS14" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS15" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS16" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS17" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS18" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS19" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS20" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS21" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS22" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS23" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS24" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS25" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS26" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS27" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS28" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS29" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS30" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS31" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS32" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS33" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS34" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS35" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS36" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS37" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS38" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS39" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS40" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS41" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS42" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS43" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS44" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS45" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS46" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS47" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS48" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS49" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS50" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS51" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS52" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS53" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS54" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS55" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS56" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS57" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS58" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS59" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS60" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS61" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS62" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS63" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS64" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS65" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS66" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS67" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS68" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS69" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS70" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS71" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS72" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS73" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS74" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS75" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS76" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS77" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS78" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS79" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS80" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS81" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS81" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS82" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS82" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS83" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS83" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS84" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS84" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS85" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS85" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS86" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS86" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS87" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS87" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS88" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS88" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS89" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS89" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS90" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS90" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS91" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS91" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS92" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS92" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS93" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS93" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS94" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS94" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS95" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS95" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS96" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS96" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS97" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS97" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS98" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS98" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS99" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS99" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS100" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS100" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS101" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS101" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS102" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS102" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS103" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS103" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS104" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS104" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS105" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS105" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS106" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS106" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS107" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS107" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS108" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS108" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS109" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS109" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS110" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS110" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS111" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS111" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS112" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS112" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS113" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS113" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS114" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS114" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS115" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS115" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FIELDS116" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS117" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS118" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS119" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS120" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS121" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS122" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS123" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS124" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS125" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS126" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS127" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS128" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS129" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS130" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS131" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS132" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS133" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS134" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS135" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS136" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS137" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS138" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS139" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS140" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS141" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS142" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS142" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FIELDS143" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS144" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS145" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS146" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS147" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS148" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS149" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS150" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS151" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS152" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS153" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS153" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FIELDS154" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS155" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS155" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS156" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS156" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS157" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS157" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS158" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS158" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS159" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS159" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS160" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS160" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS161" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS161" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS162" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS162" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS163" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS163" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS164" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS164" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FIELDS165" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS166" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS167" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS168" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS169" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS170" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS171" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS172" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS173" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS174" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS175" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS176" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS177" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS178" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS179" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS180" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS181" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS182" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS183" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS184" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS185" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS186" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS187" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS188" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS189" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS190" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS191" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS191" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS192" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS192" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS193" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS193" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS194" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS194" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS195" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS195" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS196" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS196" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS197" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS197" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS198" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS198" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS199" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS199" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS200" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS200" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FIELDS201" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS202" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS203" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS204" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS205" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS206" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS207" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS208" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS209" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS210" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS211" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS212" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS213" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS214" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS215" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS216" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS217" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS218" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS219" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS220" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS221" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS222" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS223" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS224" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS225" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS226" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS227" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS228" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS229" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS230" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS231" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS232" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS233" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS234" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS235" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS236" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS237" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS238" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS239" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS240" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS241" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS242" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS243" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS244" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS245" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS246" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS247" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS248" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS249" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS250" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADO" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="IDTABLE" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>
<xs:complexType name="CreacionClientesparaDynamo">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOBULKPRODUCTINPUTDYNWSType" type="tns:FICOBULKPRODUCTINPUTDYNWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CreacionClientesparaDynamoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOBULKPRODUCTType" type="tns:FICOBULKPRODUCTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CreacionClientesparaDynamo_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOBULKPRODUCTINPUTDYNWSType" type="tns:FICOBULKPRODUCTINPUTDYNWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CreacionClientesparaDynamo_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOBULKPRODUCTType" type="tns:FICOBULKPRODUCTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>