Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SJS/consultaSaldosMultipleProductos/xsd/sjConsultaSaldosMultipleProductos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaSaldosMultipleProductos" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaSaldosMultipleProductos" elementFormDefault="qualified" >
	
	<xs:element name="sjConsultaSaldosMultipleProductos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="PASSWORD" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="TYPE" minOccurs="0"></xs:element>
					<xs:element name="PRODUCTS" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ID" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
		
	<xs:element name="sjConsultaSaldosMultipleProductosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ASSETS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ASSET" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1" />
										<xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="CURRENCY" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="RESERVE_BALANCE" type="xs:decimal" minOccurs="1" maxOccurs="1" />
										<xs:element name="LOCKED_BALANCE" type="xs:decimal" minOccurs="1" maxOccurs="1" />
										<xs:element name="VISA_FLOATING_BALANCE" type="xs:decimal" minOccurs="1" maxOccurs="1" />
										<xs:element name="CASH_ADVANCE_LIMIT" type="xs:decimal" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="CASH_ADVANCE_AVAILABLE" type="xs:decimal" minOccurs="1" maxOccurs="1" />
										<xs:element name="TOTAL_BALANCE" type="xs:decimal" minOccurs="1" maxOccurs="1" />
										<xs:element name="AVAILABLE_BALANCE" type="xs:decimal" minOccurs="1" maxOccurs="1" />
										<xs:element name="OPENING_DATE" type="xs:date" minOccurs="1" maxOccurs="1" />
										<xs:element name="TYPE" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="SOURCE_BANK" type="xs:string" minOccurs="1" maxOccurs="1" />
										<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LIABILITIES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LIABILITY" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1" />
										<xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="1" maxOccurs="1" />
										<xs:element name="BALANCES" minOccurs="1" maxOccurs="1">
								 			<xs:complexType>
								 				<xs:sequence>
								 					<xs:element name="BALANCE" minOccurs="1" maxOccurs="unbounded">
								 						<xs:complexType>
								 							<xs:sequence>
								 								<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
								 								<xs:element name="PRINCIPAL" type="xs:decimal" minOccurs="0"/>
								 								<xs:element name="NT_COMM" type="xs:decimal" minOccurs="0"/>
								 								<xs:element name="TOTAL" type="xs:decimal" minOccurs="0"/>
								 							</xs:sequence>
								 						</xs:complexType>
								 					</xs:element>
								 				</xs:sequence>
								 			</xs:complexType>
							 			</xs:element>
							 			<xs:element name="NEXT_PAYMENT_DATE" type="xs:date" minOccurs="1" maxOccurs="1"/>
								 		<xs:element name="TSTANDING_TOTAL" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
								 		<xs:element name="CANCELLATION_TOTAL" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
								 		<xs:element name="TYPE" type="xs:string" minOccurs="1" maxOccurs="1"/>
								 		<xs:element name="OPENING_DATE" type="xs:date" minOccurs="1" maxOccurs="1"/>
								 		<xs:element name="SOURCE_BANK" type="xs:string" minOccurs="1" maxOccurs="1"/>
								 		<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	

</xs:schema>