Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FX/actualizaTasaReferencia/wsdl/exchangerate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ficohsa.fx.webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ficohsa.fx.webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ficohsa.fx.webservices/">
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ExchangeRateUpdateRequestModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExchangeRateUpdateRequestModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceCurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TargetCurrency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rate" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="tns:ExchangeRateUpdateResponseModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExchangeRateUpdateResponseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceCurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TargetCurrency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rate" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="ExchangeRateSoap">
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExchangeRateSoap" type="tns:ExchangeRateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://ficohsa.fx.webservices/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExchangeRateSoap12" type="tns:ExchangeRateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://ficohsa.fx.webservices/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExchangeRate">
    <wsdl:port name="ExchangeRateSoap" binding="tns:ExchangeRateSoap">
      <soap:address location="https://172.23.12.246/Ficohsa.FX.WebServices/exchangerate.asmx" />
    </wsdl:port>
    <wsdl:port name="ExchangeRateSoap12" binding="tns:ExchangeRateSoap12">
      <soap12:address location="https://172.23.12.246/Ficohsa.FX.WebServices/exchangerate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>