Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/OperacionesTCDesdeOccidente/xsd/OperacionesTCDesdeOccidenteTypes.xsd

<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesTCDesdeOccidenteTypes"
	xmlns:otco="http://www.ficohsa.com.hn/middleware.services/operacionesTCDesdeOccidenteTypes">

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
    <xs:simpleType name="transactionType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="QRY"/>
			<xs:enumeration value="PMT"/>
		</xs:restriction>
	</xs:simpleType>	
	
    <xs:complexType name="operacionesTCDesdeOccidenteResponseType">
		<xs:sequence>
			<xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LCY_PAYMENT" type="xs:string" minOccurs="0"/>
            <xs:element name="PAYMENT_CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="BALANCE_PAYMENT" type="xs:string" minOccurs="0"/>
            <xs:element name="BALANCE_CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
            <xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
            <xs:element name="TRANSACTION_CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBIT_CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBIT_AMOUNT" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="operacionesTCDesdeOccidente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_TYPE" type="xs:string"/>
				<xs:element name="CREDIT_CARD_NUMBER" type="xs:string"/>
				<xs:element name="BALANCE_CURRENCY" type="xs:string"/>
	            <xs:element name="TRANSACTION_CURRENCY" type="xs:string" minOccurs="0"/>
				<xs:element name="PAYMENT_AMOUNT" type="xs:string" />
	            <xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="CHANNEL_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="operacionesTCDesdeOccidenteResponse" type="otco:operacionesTCDesdeOccidenteResponseType" />
	

</xs:schema>