Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/BusinessServices/DepositoChequeGerencia/xsd/XMLSchema_-1638986417.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/depositoChequeGerencia" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/depositoChequeGerencia">

	<xs:complexType name="depositoChequeGerenciaResponseArrayType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0"/>			
	    </xs:sequence>
	</xs:complexType>

	<xs:complexType name="depositoChequeGerenciaResponseRecordType">
		<xs:sequence>
				<xs:element name="depositoChequeGerenciaResponseRecordType" type="cons:depositoChequeGerenciaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>

	<xs:complexType name="depositoChequeGerenciaResponseType">
		<xs:sequence>
			<xs:element name="depositoChequeGerenciaResponseType" type="cons:depositoChequeGerenciaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="depositoChequeGerencia">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEPOSIT_ACCOUNT">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="CHEQUE_NUMBER">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="CURRENCY">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="ISSUING_BANK" type="xs:string" minOccurs="0"/>
				<xs:element name="DEPOSIT_REFERENCE" type="xs:string" minOccurs="0"/>
				<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="depositoChequeGerenciaResponse" type="cons:depositoChequeGerenciaResponseType"/>
	
</xs:schema>