Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/consultaTrabajoPersona/xsd/consultaTrabajoPersonaFPC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaTrabajoPersonaFPC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaTrabajoPersonaFPC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PC_COD_PERSONA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_INFO_LABORAL" type="db:PA.PA_WEB_SERVICE_TX111958X13X2" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_ERROR" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PC_MENSAJE_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PA.PA_WEB_SERVICE_TX111958X13X3">
      <sequence>
         <element name="COD_PATRONAL" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOM_PATRONAL" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIP_INGRESO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MON_DEVENGADO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FEC_INGRESO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="COD_CARGO" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PUESTO" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FEC_SALIDA" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="EMPLEO_ACTUAL" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PA.PA_WEB_SERVICE_TX111958X13X2">
      <sequence>
         <element name="PT_INFO_LABORAL_ITEM" type="db:PA.PA_WEB_SERVICE_TX111958X13X3" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
</schema>