Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/RegistraTransaccionLBTR/xsd/registraTransaccionLBTR_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraTransaccionLBTR" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraTransaccionLBTR" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="GV_TICKET" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_BANCO" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_REFERENCIA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_ADICION" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CORRELATIVO_ARCHIVO" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_SECUENCIA_REGISTRO" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_PERSONA" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_ORDENANTE" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_CUENTA_ORDENANTE" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_IDENTIFICACION_O" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TIPO_CUENTA_ORDENANTE" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_DIRECCION_ORDENANTE" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_NACIMIENTO_ORDENANTE" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_BENEFICIARIO" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_CUENTA_BENEFICIARIO" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_IDENTIFICACION_B" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DIRECCION_BENEFICIARIO" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_CUENTA_BENEFICIARIO" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_MONEDA" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_VALOR_TRANSACCION" type="decimal" db:index="20" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADO" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_ARCHIVO_LBTR" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_HORA" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_CLIENTE" type="decimal" db:index="24" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_DEVOLUCION" type="string" db:index="25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DETALLE_TRANSACCION" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_ORIGEN_CATEGORIA" type="decimal" db:index="27" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="GV_COD_ERROR" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GV_MENSAJE" type="string" db:index="29" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>