Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaTarjetasCreditoPorClienteCB/xsd/consultaTarjetasCreditoPorClienteCBTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<xs:schema 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		version="1.0"
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTarjetasCreditoPorClienteCBTypes" 
		xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaTarjetasCreditoPorClienteCBTypes"
	> 
	
    <!-- customerFilterClassType -->
    <xs:complexType name="customerFilterClassType">
        <xs:sequence>
            <xs:element name="CUSTOMER_ID_TYPE" >
            <xs:simpleType>
			    <xs:restriction base="con:minLength1">
			      <xs:enumeration value="LEGAL_ID"/>
			      <xs:enumeration value="CUSTOMER_ID"/>
			    </xs:restriction>
  		   </xs:simpleType>
		</xs:element>  
        	<xs:element name="CUSTOMER_ID_VALUE" type="xs:string"/>         	 
        </xs:sequence>
    </xs:complexType>
    
    <!-- customerIdTypeClass -->
    <xs:simpleType name="minLength1">
        <xs:restriction base="xs:string">
           <xs:minLength value="1"></xs:minLength>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- creditCardInformationClassType -->
    <xs:complexType name="creditCardInformationClassType">
        <xs:sequence>
            <xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0"/>
            <xs:element name="CARD_TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
            <xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="AFINITY_GROUP" type="xs:string" minOccurs="0"/>
            <xs:element name="ADDITIONAL_INFORMATION" type="con:additionalInformation" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- FilterVariable(Optional)-->
    <xs:complexType name="filterCriterias">
		<xs:sequence>
			<xs:element name="FILTER_CRITERIA" type="con:filterCriteria" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="additionalInformation">
		<xs:sequence>
			<xs:element name="FIELD_INFORMATION" type="con:fieldInformation" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="filterCriteria">
		<xs:sequence>
			<xs:element name="ID_FILTER" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
			<xs:element name="TYPE_FILTER" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
			<xs:element name="VALUE_FILTER" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="fieldInformation">
		<xs:sequence>
			<xs:element name="NAME_FIELD" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
			<xs:element name="VALUE_FIELD" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
    
    	<!--##################################################################-->     
    			<!--OPERACION: CONSULTA TARJETAS CREDITO POR CLIENTE-->
    		
	<xs:element name="consultaTarjetasCreditoPorCliente">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CUSTOMER_FILTER" type="con:customerFilterClassType"/>
				<xs:element name="CREDIT_CARD_STATUS" type="xs:string"/>
				<xs:element name="FILTER_CRITERIAS" type="con:filterCriterias" minOccurs="0" maxOccurs="1" nillable="true"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>
    
    <xs:element name="consultaTarjetasCreditoPorClienteResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CREDIT_CARDS" minOccurs="0">
	                <xs:complexType>
	                    <xs:sequence>
	                        <xs:element name="CREDIT_CARD_INFORMATION" type="con:creditCardInformationClassType" minOccurs="0" maxOccurs="unbounded" />
	                    </xs:sequence>
	                </xs:complexType>
	            </xs:element>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>
</xs:schema>