Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/OnlineInformation/xsd/onlineInformationTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/onlineInformationTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/onlineInformationTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: onlineInformation -->
    <!--############################################-->
    <xs:element name="onlineInformation">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CountryCode" type="xs:string" />
				<xs:element name="OrgNumber" type="xs:int" />
				<xs:element name="AccountNumber" type="xs:string" />
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="onlineInformationResponse">
        <xs:complexType>
          <xs:sequence>
	          <xs:element name="ReasonActionCode" type="xs:int"/>
	          <xs:element name="ActionDescription" type="xs:string"/>
	          <xs:element default="0" name="AvailableCredit" type="xs:decimal"/>
	          <xs:element name="AmountMemoCredit" type="xs:decimal"/>
	          <xs:element name="AccountCurrentBalance" type="xs:decimal"/>
	          <xs:element name="AmountMemoDebit" type="xs:decimal"/>
        </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>