Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons/Resources/SBRG_Logging_Commons/Schemas/Log.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/utilidad/bitacora"
            targetNamespace="https://www.ficohsa.com/regional/utility/logging" elementFormDefault="qualified">
  <xsd:element name="logElement">
    <xsd:annotation>
      <xsd:documentation>Detalle de la bitacora</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Register">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="level" type="xsd:string" />
              <xsd:element name="code" type="xsd:string" />
              <xsd:element name="message" type="xsd:string" />
              <xsd:element name="stacktrace" type="xsd:string" />
              <xsd:element name="domain" type="xsd:string" />
              <xsd:element name="context" type="xsd:string" />
              <xsd:element name="service" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>