Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons/Resources/SBRG_Logging_Commons/Schemas/LoggingRegional.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/utility/logging"
            targetNamespace="https://www.ficohsa.com/regional/utility/logging" elementFormDefault="qualified"
            xmlns:xdb="http://xmlns.oracle.com/xdb">
  <xsd:element name="LoggingInput">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GlobalId" type="xsd:string"/>
        <xsd:element name="service" type="xsd:string"/>
        <xsd:element name="version" type="xsd:string"/>
        <xsd:element name="channel" type="xsd:string"/>
        <xsd:element name="messageType" type="xsd:string"/>
        <xsd:element name="targetSystem" type="xsd:string"/>
        <xsd:element name="endpoint" type="xsd:string"/>
        <xsd:element name="method" type="xsd:string"/>
        <xsd:element name="operation" type="xsd:string"/>
        <xsd:element name="sourceBank" type="xsd:string"/>
        <xsd:element name="destinationBank" type="xsd:string"/>
        <xsd:element name="parameters" type="xsd:string" minOccurs="0"/>
        <xsd:element name="user" type="xsd:string"/>
        <xsd:element name="state" type="xsd:string"/>
        <xsd:element name="codeError" type="xsd:string" minOccurs="0"/>
        <xsd:element name="messageError" type="xsd:string" minOccurs="0"/>
        <xsd:element name="errorFlowName" minOccurs="0" type="xsd:string"/>
        <xsd:element name="errorDetails" xdb:columnProps="detailError" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Timestamp" type="xsd:string"/>
        <xsd:element name="details">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="key" type="xsd:string"/>
              <xsd:element name="value" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="body" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>