Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ValidaLineaCredito/xsd/validaLineaCreditoTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/validaLineaCreditoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/validaLineaCreditoTypes"
	>
	<xs:element name="validaLineaCreditoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="APLICATION_CODE" type="xs:string" />
				<xs:element name="AGENCY_CODE" type="xs:decimal" />
				<xs:element name="SUBAPLICATION_CODE" type="xs:decimal" />
				<xs:element name="LINE_CREDIT_NUMBER" type="xs:decimal" />
				<xs:element name="VERIFICATE_VALUE" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="validaLineaCreditoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DESTINATION_CODE" type="xs:decimal" />
				<xs:element name="LINE_CREDIT_VALUE" type="xs:decimal" />
				<xs:element name="LINE_CREDIT_USED" type="xs:decimal" />
				<xs:element name="LINE_CREDIT_PREASSIGNED" type="xs:decimal" />
				<xs:element name="LINE_CREDIT_ASSIGNED" type="xs:decimal" />
				<xs:element name="LINE_CREDIT_AVAILABLE" type="xs:decimal" />
				<xs:element name="LINE_AVAILABILITY" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>