Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ReversarTransaccionID/xsd/reversarTransaccionIDTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/reversarTransaccionIDTypes"
	xmlns:rti="http://www.ficohsa.com.hn/middleware.services/reversarTransaccionIDTypes">
    
    <xs:simpleType name="TransactionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RETIRO" />
			<xs:enumeration value="PAGO_TC" />
			<xs:enumeration value="PAGO_REMESA" />
			<xs:enumeration value="PAGO_PRESTAMO" />
			<xs:enumeration value="DEPOSITO" />
			<xs:enumeration value="PAGO_RECAUDO" />
			<xs:enumeration value="PAGO_EEH" />
			<xs:enumeration value="CUPON" />
			<xs:enumeration value="CAN_CUPON_HIST" />
			<xs:enumeration value="CASHOUT" />
			<xs:enumeration value="CASHIN" />
			<xs:enumeration value="CASHIN_TC" />
			<xs:enumeration value="TRANSFER_CRED" />
			<xs:enumeration value="MIG_TC" />
			<xs:enumeration value="ADJ_CRTPP" />
			<xs:enumeration value="ADJ_CRBM" />
			<xs:enumeration value="ADJ_DBTPP" />
			<xs:enumeration value="ADJ_TC" />
		</xs:restriction>
	</xs:simpleType>
    
    <xs:element name="reversarTransaccionID">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="TRANSACTION_TYPE" type="rti:TransactionType"/>
			<xs:element name="TRANSACTION_ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="reversarTransaccionIDResponse" type="rti:reversarTransaccionIDResponseType"/>
	
	<xs:complexType name="reversarTransaccionIDResponseType">
		<xs:sequence>
			<xs:element name="T24_REFERENCE" type="xs:string"/>
			<xs:element name="TRANSACTION_ID" type="xs:string"/>
			<xs:element name="REFERENCE_CB" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>