Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/PagoDGI/xsd/pagoDGITypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dgi="http://www.ficohsa.com.hn/middleware.services/pagoDGITypes"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoDGITypes">
    
	<xs:element name="pagoDGIRequest">
	    <xs:complexType>
			<xs:sequence>
				<xs:element name="RUC" type="xs:string"/>
				<xs:element name="BILL_NUMBER" type="xs:string"/>	
				<xs:element name="TOTAL_AMOUNT" type="xs:decimal"/>	
				<xs:element name="PAYMENT_AMOUNT" type="xs:decimal"/>	
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>	
				<xs:element name="TAX_VALUE" type="xs:decimal"/>		
				<xs:element name="EXCH_RATE_FEE" type="xs:decimal"/>	
				<xs:element name="LATE_FEE" type="xs:decimal"/>
				<xs:element name="PENALTY_FEE" type="xs:decimal"/>
				<xs:element name="DUE_DATE" type="xs:date"/>
				<xs:element name="TAX_DESCRIPTION" type="xs:string"/>
				<xs:element name="ACCOUNT_CODE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="pagoDGIResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0" />
				<xs:element name="DUE_DATE" type="xs:date" minOccurs="0" />
				<xs:element name="TAX_VALUE" type="xs:decimal" minOccurs="0" />
				<xs:element name="EXCH_RATE_FEE" type="xs:decimal" minOccurs="0" />
				<xs:element name="LATE_FEE" type="xs:decimal" minOccurs="0" />
				<xs:element name="PENALTY_FEE" type="xs:decimal" minOccurs="0" />
				<xs:element name="BILL_AMOUNT" type="xs:decimal" minOccurs="0" />
				<xs:element name="SIF_CODE" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>