Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/T24/svcRegistraTransaccionTengo/wsdl/svcRegistraTransaccionTengo.wsdl

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/svcRegistraTransaccionTengoAnyTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/scvRegistraTransaccionTengoTypes.xsd"/>
    </xsd:schema>
  </types>
  <message name="PagoTarjetaCreditoTengo">
    <part name="parameters" element="tns:PagoTarjetaCreditoTengo"/>
  </message>
  <message name="PagoTarjetaCreditoTengoResponse">
    <part name="parameters" element="tns:PagoTarjetaCreditoTengoResponse"/>
  </message>
  <message name="PagoTarjetaCreditoTengo_Validate">
    <part name="parameters" element="tns:PagoTarjetaCreditoTengo_Validate"/>
  </message>
  <message name="PagoTarjetaCreditoTengo_ValidateResponse">
    <part name="parameters" element="tns:PagoTarjetaCreditoTengo_ValidateResponse"/>
  </message>
  <message name="RetiroEfectivoTengo">
    <part name="parameters" element="tns:RetiroEfectivoTengo"/>
  </message>
  <message name="RetiroEfectivoTengoResponse">
    <part name="parameters" element="tns:RetiroEfectivoTengoResponse"/>
  </message>
  <message name="RetiroEfectivoTengo_Validate">
    <part name="parameters" element="tns:RetiroEfectivoTengo_Validate"/>
  </message>
  <message name="RetiroEfectivoTengo_ValidateResponse">
    <part name="parameters" element="tns:RetiroEfectivoTengo_ValidateResponse"/>
  </message>
  <message name="PagoRemesasTengo">
    <part name="parameters" element="tns:PagoRemesasTengo"/>
  </message>
  <message name="PagoRemesasTengoResponse">
    <part name="parameters" element="tns:PagoRemesasTengoResponse"/>
  </message>
  <message name="PagoRemesasTengo_Validate">
    <part name="parameters" element="tns:PagoRemesasTengo_Validate"/>
  </message>
  <message name="PagoRemesasTengo_ValidateResponse">
    <part name="parameters" element="tns:PagoRemesasTengo_ValidateResponse"/>
  </message>
  <message name="callOfs">
    <part name="parameters" element="tns:callOfs"/>
  </message>
  <message name="callOfsResponse">
    <part name="parameters" element="tns:callOfsResponse"/>
  </message>
  <portType name="T24WebServicesImpl">
    <operation name="PagoTarjetaCreditoTengo">
      <input message="tns:PagoTarjetaCreditoTengo"/>
      <output message="tns:PagoTarjetaCreditoTengoResponse"/>
    </operation>
    <operation name="PagoTarjetaCreditoTengo_Validate">
      <input message="tns:PagoTarjetaCreditoTengo_Validate"/>
      <output message="tns:PagoTarjetaCreditoTengo_ValidateResponse"/>
    </operation>
    <operation name="RetiroEfectivoTengo">
      <input message="tns:RetiroEfectivoTengo"/>
      <output message="tns:RetiroEfectivoTengoResponse"/>
    </operation>
    <operation name="RetiroEfectivoTengo_Validate">
      <input message="tns:RetiroEfectivoTengo_Validate"/>
      <output message="tns:RetiroEfectivoTengo_ValidateResponse"/>
    </operation>
    <operation name="PagoRemesasTengo">
      <input message="tns:PagoRemesasTengo"/>
      <output message="tns:PagoRemesasTengoResponse"/>
    </operation>
    <operation name="PagoRemesasTengo_Validate">
      <input message="tns:PagoRemesasTengo_Validate"/>
      <output message="tns:PagoRemesasTengo_ValidateResponse"/>
    </operation>
    <operation name="callOfs">
      <input message="tns:callOfs"/>
      <output message="tns:callOfsResponse"/>
    </operation>
  </portType>
  <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="PagoTarjetaCreditoTengo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PagoTarjetaCreditoTengo_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RetiroEfectivoTengo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RetiroEfectivoTengo_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PagoRemesasTengo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PagoRemesasTengo_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="callOfs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="T24WebServicesImplService">
    <port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
      <soap:address location="http://172.23.13.19:7003/svcRegistraTransaccionTengo/services"/>
    </port>
  </service>
</definitions>