Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/TransaccionesAsincronas/DB/RegistrarUUID/xsd/registrarUUID_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registrarUUID" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registrarUUID" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_UUID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_CANAL" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_ESTADO" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_PAIS" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_GENERACION_OSB" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_ERRORCODE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERRORMESSAGE" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
