Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/BusinessServices/AbanksGT/CONSFXEfectivo/xsd/MCCONSFXEfectivo_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MCCONSFXEfectivo" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MCCONSFXEfectivo" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PR_CUSTOMER" type="db:PROXYABANKSGT.R_CUSTOMER" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PR_FOREX_DETAILS" type="db:PROXYABANKSGT.R_FOREX_DETAILS" db:index="2" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PR_NSO_INFO" type="db:PROXYABANKSGT.R_NSO_INFO" db:index="3" db:type="Struct" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PR_CUSTOMER_B" type="db:PROXYABANKSGT.R_CUSTOMER_B" db:index="4" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PN_EXCHANGE_RATE" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_EXCHANGE_CURRENCY" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_LCY_AMOUNT" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_FCY_AMOUNT" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ESTADO" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ESTADO" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.R_CUSTOMER_B">
      <sequence>
         <element name="LEGAL_ID_B" type="db:PROXYABANKSGT.R_LEGAL_ID_B" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="NAME" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_PRODUCT">
      <sequence>
         <element name="TYPE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_BANKNOTE">
      <sequence>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BANKNOTE_VALUE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TOTAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_CUSTOMER">
      <sequence>
         <element name="LEGAL_ID" type="db:PROXYABANKSGT.R_LEGAL_ID" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="PRODUCT" type="db:PROXYABANKSGT.R_PRODUCT" db:type="Struct" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_KV_PAIR">
      <sequence>
         <element name="PAIR" type="db:PROXYABANKSGT.T_PAIR" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_TRACE">
      <sequence>
         <element name="TELLER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BRANCH_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHANNEL_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DATE_TIME" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="QUEUE_TICKET_ID" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TXN_REF_NO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEALSLIP_ID" type="db:string250" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_NSO_INFO">
      <sequence>
         <element name="TRACE" type="db:PROXYABANKSGT.R_TRACE" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="AUTHORIZATION" type="db:PROXYABANKSGT.R_AUTHORIZATION" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="BANKNOTE_BREAKDOWN" type="db:PROXYABANKSGT.R_BANKNOTE_BREAKDOWN" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="ADDITIONAL_INFO" type="db:PROXYABANKSGT.R_ADDITIONAL_INFO" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="CTR_REFERENCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_BANKNOTE_BREAKDOWN">
      <sequence>
         <element name="BANKNOTE" type="db:PROXYABANKSGT.T_BANKNOTE" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_LEGAL_ID">
      <sequence>
         <element name="NAME" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EXPIRATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ISSUER" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_LEGAL_ID_B">
      <sequence>
         <element name="NAME" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_ADDITIONAL_INFO">
      <sequence>
         <element name="KV_PAIRS" type="db:PROXYABANKSGT.T_PAIR" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_PAIR">
      <sequence>
         <element name="KEY" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALUE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_FOREX_DETAILS">
      <sequence>
         <element name="TYPE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_PAIR">
      <sequence>
         <element name="PAIR_ITEM" type="db:PROXYABANKSGT.R_PAIR" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_BANKNOTE">
      <sequence>
         <element name="BANKNOTE_ITEM" type="db:PROXYABANKSGT.R_BANKNOTE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_AUTHORIZATION">
      <sequence>
         <element name="TYPE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="KV_PAIRS" type="db:PROXYABANKSGT.R_KV_PAIR" db:type="Struct" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
</schema>
