Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/prestamo/xsd/services.xsd

<schema elementFormDefault="qualified" targetNamespace="http://service.srvaplcobisprestamo.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://dto2.sdf.cts.cobis.cobiscorp.com" xmlns:Q1="http://dto.srvaplcobisentidades.ecobis.cobiscorp">
    <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/><import schemaLocation="cobiscorp.ecobis.srvaplcobisentidades.dto.xsd" namespace="http://dto.srvaplcobisentidades.ecobis.cobiscorp"/><element name="opConsultaPrestamoSolicitud" type="Q1:OpConsultaPrestamoSolicitud"/><element name="opConsultaPrestamoRespuesta" type="Q1:OpConsultaPrestamoRespuesta"/><element name="opPagarPrestamoSolicitud" type="Q1:OpPagarPrestamoSolicitud"/><element name="opPagarPrestamoRespuesta" type="Q1:OpPagarPrestamoRespuesta"/>
</schema>