Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKHN/consultaAccesoUsuario/xsd/consultaAccesoUsuario_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/PROXYABANKSHN/OSB_K_GIA_USUARIOS_HN/OSB_P_VALIDA_USUARIO_HN/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/PROXYABANKSHN/OSB_K_GIA_USUARIOS_HN/OSB_P_VALIDA_USUARIO_HN/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_USUARIO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_RESULT" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_RESULT" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>