Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/MTR/autorizadorTerceros/wsdl/autorizadorTercerosEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicio.autorizartercerosws.mtrpmsv.cidenet.com.co/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AutorizadorTercerosService" targetNamespace="http://servicio.autorizartercerosws.mtrpmsv.cidenet.com.co/">
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://servicio.autorizartercerosws.mtrpmsv.cidenet.com.co/" targetNamespace="http://servicio.autorizartercerosws.mtrpmsv.cidenet.com.co/">
  <xsd:complexType name="respuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tercero">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="terceros">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tercero" nillable="true" type="ns0:tercero"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="autorizarTerceros">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idCliente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idUsuario" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idBancoOrigen" type="xsd:string"/>
      <xsd:element minOccurs="0" name="terceros" type="ns0:terceros"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="autorizarTercerosResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:respuesta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="autorizarTerceros" type="ns0:autorizarTerceros"/>
  <xsd:element name="autorizarTercerosResponse" type="ns0:autorizarTercerosResponse"/>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="autorizarTerceros">
        <wsdl:part element="tns:autorizarTerceros" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="autorizarTercerosResponse">
        <wsdl:part element="tns:autorizarTercerosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="AutorizadorTerceros">
        <wsdl:operation name="autorizarTerceros">
            <wsdl:input message="tns:autorizarTerceros" name="autorizarTerceros"/>
            <wsdl:output message="tns:autorizarTercerosResponse" name="autorizarTercerosResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AutorizadorTercerosServiceSoapBinding" type="tns:AutorizadorTerceros">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="autorizarTerceros">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="autorizarTerceros">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="autorizarTercerosResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AutorizadorTercerosService">
        <wsdl:port binding="tns:AutorizadorTercerosServiceSoapBinding" name="AutorizadorTercerosPort">
            <soap:address location="https://172.23.14.243:7004/AutorizarTercerosPmsWS/services/autorizadorTercerosEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>