Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/v2/BusinessServices/OperacionesTarjetaDebito_v2/xsd/operacionesTarjetaDebitoTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesTarjetaDebitoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesTarjetaDebitoTypes">


	<!-- statusType -->
	<xs:simpleType name="statusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALL" />
			<xs:enumeration value="ACTIVE" />
			<xs:enumeration value="INACTIVE" />
		</xs:restriction>
	</xs:simpleType>

	<!-- instructionType -->
	<xs:simpleType name="instructionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALL" />
			<xs:enumeration value="PVV" />
			<xs:enumeration value="CVV2" />
			<xs:enumeration value="ICVV" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="greaterThan0">
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="0" />
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>


	<!--######################## -->
	<!--OPERACION: CREA BIN -->
	<!--######################## -->
	<xs:element name="creaBIN">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BIN" type="xs:integer"/>
				<xs:element name="COMPANY" type="xs:string"/>
				<xs:element name="PRODUCT_DESCRIPTION" type="xs:string"/>
				<xs:element name="SERVICE_CODE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="creaBINResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CREATION_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--######################## -->
	<!--OPERACION: CONSULTA BIN -->
	<!--######################## -->

	<xs:element name="consultaBIN">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="COMPANY" type="xs:string"/>
				<xs:element name="STATUS" type="tns:statusType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaBINResponse" type="tns:consultaBINRspType"/>


	<xs:complexType name="consultaBINRspType">
		<xs:sequence>
			<xs:element name="BIN_DETAILS" type="tns:binDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="binDetailsType">
		<xs:sequence>
			<xs:element name="BIN_ITEM" type="tns:binItemType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="binItemType">
		<xs:sequence>
			<xs:element name="BIN" type="xs:integer" minOccurs="0"/>
			<xs:element name="COMPANY" type="xs:string" minOccurs="0"/>
			<xs:element name="PRODUCT_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="CREATION_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!--######################## -->
	<!--OPERACION: CONSULTA DETALLES TARJETAS -->
	<!--######################## -->

	<xs:element name="consultaDetalleTarjetas" type="tns:consultaDetalleTarjetasReqType" />

	<xs:complexType name="consultaDetalleTarjetasReqType">
		<xs:sequence>
			<xs:element name="CARD_NUMBERS" type="tns:cardNumbersType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cardNumbersType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER_ITEM" type="tns:cardNumberItemType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cardNumberItemType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaDetalleTarjetasResponse" type="tns:consultaDetalleTarjetasRspType" />

	<xs:complexType name="consultaDetalleTarjetasRspType">
		<xs:sequence>
			<xs:element name="CARD_DETAILS" type="tns:cardDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cardDetailsType">
		<xs:sequence>
			<xs:element name="CARD_ITEM" type="tns:cardItemType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cardItemType">
		<xs:sequence>
			<xs:element name="BIN" type="xs:integer" minOccurs="0"/>
			<xs:element name="COMPANY" type="xs:string" minOccurs="0"/>
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_LEGAL_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="NAME_ON_CARD" type="xs:string" minOccurs="0"/>
			<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="CREATION_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="BANK_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="EMBOSS_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="PIN_VERIFICATION_VALUE" type="xs:string" minOccurs="0"/>
			<xs:element name="SERVICE_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_DETAILS" type="tns:accountDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="accountDetailsType">
		<xs:sequence>
			<xs:element name="ACCOUNT_ITEM" type="tns:accountItemType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="accountItemType">
		<xs:sequence>
			<xs:element name="ORDER_ACCOUNT" type="xs:integer" minOccurs="0"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!--######################## -->
	<!--OPERACION: GENERA LOTES TARJETAS -->
	<!--######################## -->
	<xs:element name="generaLotesTarjetas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BIN" type="xs:string" />
				<xs:element name="QUANTITY" type="xs:decimal" />
				<xs:element name="CARDS_LIFESPAN" type="tns:greaterThan0" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="generaLotesTarjetasResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BATCH_REFERENCE" type="xs:string" minOccurs="0"/>
				<xs:element name="BATCH_DATE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--######################## -->
	<!--OPERACION: CONSULTA LOTES TARJETAS -->
	<!--######################## -->
	<xs:element name="consultaLotesTarjetas" type="tns:consultaLotesTarjetasType"/>

	<xs:complexType name="consultaLotesTarjetasType">
		<xs:sequence>
			<xs:element name="BATCH_REFERENCES" type="tns:banchReferencesType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="banchReferencesType">
		<xs:sequence>
			<xs:element name="BATCH_REFERENCE_ITEM" type="tns:banchReferenceItemType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="banchReferenceItemType">
		<xs:sequence>
			<xs:element name="BATCH_REFERENCE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaLotesTarjetasResponse" type="tns:consultaLotesTarjetasRspType"/>

	<xs:complexType name="consultaLotesTarjetasRspType">
		<xs:sequence>
			<xs:element name="BATCH_DETAILS" type="tns:batchDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="batchDetailsType">
		<xs:sequence>
			<xs:element name="BATCH_ITEM" type="tns:batchItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="batchItemType">
		<xs:sequence>
			<xs:element name="BATCH_REFERENCE" type="xs:integer" minOccurs="0"/>
			<xs:element name="BATCH_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="BATCH_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="CARD_DETAILS" type="tns:detailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="detailsType">
		<xs:sequence>
			<xs:element name="CARD_ITEM" type="tns:ItemType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ItemType">
		<xs:sequence>
			<xs:element name="BIN" type="xs:integer" minOccurs="0"/>
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CARD_LIFESPAN" type="xs:string" minOccurs="0"/>
			<xs:element name="CARD_STATUS" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!--######################## -->
	<!--OPERACION: GENERA DETALLE EMBOCE -->
	<!--######################## -->

	<xs:element name="generaDetalleEmboce" type="tns:generaDetalleEmboceType"/>

	<xs:complexType name="generaDetalleEmboceType">
		<xs:sequence>
			<xs:element name="CARD_DETAILS" type="tns:cardDetType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cardDetType">
		<xs:sequence>
			<xs:element name="CARD_ITEM" type="tns:cardItem" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cardItem">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string"/>
			<xs:element name="INSTRUCTION_DETAILS" type="tns:instructionDetailsType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="instructionDetailsType">
		<xs:sequence>
			<xs:element name="GENERATION_ITEM" type="tns:generationItemReqType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="generationItemReqType">
		<xs:sequence>
			<xs:element name="GENERATE_INSTRUCTION" type="tns:instructionType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="generaDetalleEmboceResponse" type="tns:generaDetalleEmboceRspType"/>

	<xs:complexType name="generaDetalleEmboceRspType">
		<xs:sequence>
			<xs:element name="CARD_DETAILS" type="tns:cardType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cardType">
		<xs:sequence>
			<xs:element name="CARD_ITEM" type="tns:cardItemGDETypes" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cardItemGDETypes">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="INSTRUCTION_DETAILS" type="tns:instructionDetailsGDEType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="instructionDetailsGDEType">
		<xs:sequence>
			<xs:element name="GENERATION_ITEM" type="tns:generationItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="generationItemType">
		<xs:sequence>
			<xs:element name="GENERATED_INSTRUCTION" type="xs:string" minOccurs="0"/>
			<xs:element name="GENERATED_VALUE" type="xs:string" minOccurs="0"/>
			<xs:element name="GENERATED_VALUE_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="GENERATED_VALUE_MESSAGE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!--######################## -->
	<!--OPERACION: VALIDA PIN -->
	<!--######################## -->

	<xs:element name="validaPIN" type="tns:validaPINType" />

	<xs:complexType name="validaPINType">
		<xs:sequence>
			<xs:element name="CARD_DETAILS" type="tns:cardDetailsVPType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cardDetailsVPType">
		<xs:sequence>
			<xs:element name="CARD_ITEM" type="tns:cardItemVPType" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cardItemVPType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string"/>
			<xs:element name="PIN_VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="validaPINResponse" type="tns:validaPINResponseType" />

	<xs:complexType name="validaPINResponseType">
		<xs:sequence>
			<xs:element name="VALIDATION_DETAILS" type="tns:validationDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="validationDetailsType">
		<xs:sequence>
			<xs:element name="CARD_ITEM" type="tns:cardItemResponseType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cardItemResponseType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="PIN_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="ERROR_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="MESSAGE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>