Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/notificaDivisasDetalle/xsd/XMLSchema_1923180109.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
	<xs:import schemaLocation="XMLSchema_-1432358265.xsd"
		namespace="http://schemas.microsoft.com/Message" />
	<xs:element name="Of_cargar_ingreso_egreso_divisas">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ps_Usuario" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="ps_Password" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="ps_Entidad" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="ps_Entrada" nillable="true"
					type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Of_cargar_ingreso_egreso_divisasResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
					name="Of_cargar_ingreso_egreso_divisasResult" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Of_cargar_ingreso_egreso_divisas_encab">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ps_Usuario" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="ps_Password" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="ps_Entidad" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="ps_Entrada" nillable="true"
					type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Of_cargar_ingreso_egreso_divisas_encabResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
					name="Of_cargar_ingreso_egreso_divisas_encabResult" nillable="true"
					type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ps_Entrada" type="q1:StreamBody"
					xmlns:q1="http://schemas.microsoft.com/Message" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ps_Entidad" nillable="true" type="xs:string" />
	<xs:element name="ps_Password" nillable="true" type="xs:string" />
	<xs:element name="ps_Usuario" nillable="true" type="xs:string" />
	<xs:element name="DataReturn">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="ps_Respuesta" nillable="true" type="xs:string" />
</xs:schema>