Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/MasterData/conRegistraPagoTCRG/xsd/conRegistraPagoTCRG_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/conRegistraPagoTCRG" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/conRegistraPagoTCRG" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="Pais" type="db:string3" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="Org" type="db:string3" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="AgenciaOrigen" type="db:string25" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="MerchantNumber" type="db:string20" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="NumTarjeta" type="db:string19" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="TipoOperacion" type="db:string1" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="TipoMoneda" type="int" db:index="7" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="Organizacion" type="int" db:index="8" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="MonedaTransaccion" type="db:string20" db:index="9" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="TasaCambio" type="db:string20" db:index="10" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="TipoTransaccion" type="int" db:index="11" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="CodigoUsuario" type="db:string20" db:index="12" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="SecuenciaMovimiento" type="db:string20" db:index="13" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="SecuenciaOrigen" type="db:string20" db:index="14" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="ValorEfectivo" type="db:string20" db:index="15" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="ValorCheques" type="db:string20" db:index="16" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="NumDocumento" type="int" db:index="17" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="FechaValida" type="db:string10" db:index="18" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="TipoCheque" type="int" db:index="19" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="BancoOrigen" type="db:string25" db:index="20" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="BancoDestino" type="db:string25" db:index="21" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="DescripcionTXN" type="db:string20" db:index="22" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="Canal" type="db:string20" db:index="23" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="NoAutorizacion" type="db:string20" db:index="24" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="Aplicado" type="db:string20" db:index="25" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="AplicarEnLinea" type="db:string20" db:index="26" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="UUID" type="db:string36" db:index="27" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="CodigoError" type="int" db:index="28" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="MensajeError" type="db:string200" db:index="29" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="Fecha" type="dateTime" db:index="30" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="FechaAdicion" type="db:string10" db:index="31" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string19">
      <restriction base="string">
         <maxLength value="19"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string36">
      <restriction base="string">
         <maxLength value="36"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
</schema>