Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/BusinessServices/ABKPA/consultaCliente/xsd/consultaCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaCliente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CUSTOMER_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LEGAL_ID" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CUSTOMER_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MNEMONIC" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LEGAL_ID" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LEGAL_DOC_NAME" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRES" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDOS" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RAZONSOCIAL" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRECOMERCIAL" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRECENTRALRIESGOS" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRECORTO" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHANACIMIENTO" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_GENERO" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NACIONALIDAD" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RESIDENCIA" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_SECTOR" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONSECTOR" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_INDUSTRIA" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_INDUSTRIA_DESCRIPCION" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPOGENERADOR" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOSEGMENTACION" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONSEGMENTACION" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADOCIVIL" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TIPOCLIENTE" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_STATUSCLIENTE" type="string" db:index="24" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_IDIOMACLIENTE" type="string" db:index="25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_EMAIL" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CELULAR" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONO" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FAX" type="string" db:index="29" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_OCUPACION" type="string" db:index="30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_ESTADOTRABAJO" type="string" db:index="31" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBREEMPLEADOR" type="string" db:index="32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDOCASADA" type="string" db:index="33" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBREREPLEGAL" type="string" db:index="34" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_IDREPLEGAL" type="string" db:index="35" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPOCOMPANIA" type="string" db:index="36" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_PROFESION" type="string" db:index="37" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROACTA" type="string" db:index="38" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELCASAREPLEGAL" type="string" db:index="39" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPOPERSONA" type="string" db:index="40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIOINGRESO" type="string" db:index="41" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FECHA_ULTIMA_MOD" type="string" db:index="42" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_OFICIAL" type="string" db:index="43" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_AGENCIA" type="decimal" db:index="44" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_NUMERO_DEPENDIENTES" type="decimal" db:index="45" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NIVEL_EDUCACION" type="string" db:index="46" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_CONYUGUE" type="string" db:index="47" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FECHAINGRESO" type="string" db:index="48" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_GRUPO_ECO" type="decimal" db:index="49" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_GRUPO_ECO" type="string" db:index="50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_TIPO_DIRECCION" type="db:TOPLEVEL_TNUMBER2" db:index="51" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DIRECCION_PRINCIPAL" type="db:TOPLEVEL_TVARCHAR1" db:index="52" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DIRECCION_COMPLETA" type="db:TOPLEVEL_TVARCHAR256" db:index="53" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_PAIS" type="db:TOPLEVEL_TNUMBER" db:index="54" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DEPARTAMENTO" type="db:TOPLEVEL_TNUMBER" db:index="55" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CIUDAD" type="db:TOPLEVEL_TNUMBER" db:index="56" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TIPO_SECTORIZACION" type="db:TOPLEVEL_TVARCHAR30" db:index="57" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGO_SECTORIZACION" type="db:TOPLEVEL_TVARCHAR30" db:index="58" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DESCRIPCION_SECTORIZACION" type="db:TOPLEVEL_TVARCHAR30" db:index="59" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="61" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TOPLEVEL_TNUMBER">
      <sequence>
         <element name="PT_PAIS_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR1">
      <sequence>
         <element name="PT_DIRECCION_PRINCIPAL_ITEM" type="db:string1" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TNUMBER2">
      <sequence>
         <element name="PT_TIPO_DIRECCION_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR256">
      <sequence>
         <element name="PT_DIRECCION_COMPLETA_ITEM" type="db:string256" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR30">
      <sequence>
         <element name="PT_TIPO_SECTORIZACION_ITEM" type="db:string30" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
</schema>