Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/v2/BusinessServices/consultaPasivosCliente_v2/xsd/consultaPasivosClienteTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaClientesTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaClientesTypes">

	<xs:element name="consultaPasivosClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LIABILITY_TYPE" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaPasivosClienteResponse" type="cons:consultaPasivosClienteResponseType" />

	<xs:complexType name="consultaPasivosClienteResponseType">
		<xs:sequence>
			<xs:element name="consultaPasivosClientePrestamosResponseType"
				type="cons:consultaPasivosClienteResponseRecordType" form="qualified"
				minOccurs="0" />
			<xs:element name="consultaPasivosClienteTCreditoResponseType"
				type="cons:consultaPasivosClienteResponseRecordType" form="qualified"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPasivosClienteResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaPasivosClienteResponseRecordType"
				type="cons:consultaPasivosClienteResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPasivosClienteResponseArrayType">
		<xs:sequence>
			<xs:element name="LIABILITY_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_CUST_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_CURRENCY_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_PRINCIPAL_AMT_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_INT_COM_AMT_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_TOTAL_AMT_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_CURRENCY_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_PRINCIPAL_AMT_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_INT_COM_AMT_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_TOTAL_AMT_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_TOTAL_AMT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_PAYMENT_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_SOURCE_BANK" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_TOTAL_CANCELATION_AMT" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>


</xs:schema>