Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaCancelacionAnticipadaFinanciamiento/xsd/consultaCancelacionAnticipadaFinanciamientoTypes.xsd

<xs:schema 
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCancelacionAnticipadaFinanciamientoTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaCancelacionAnticipadaFinanciamientoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
    <!--############################################-->
    <!-- OPERATION: consultaCancelacionAnticipadaFinanciamiento -->
    <!--############################################-->
    <xs:element name="consultaCancelacionAnticipadaFinanciamiento">
        <xs:complexType>
              <xs:sequence>
           		 	<xs:element name="CREDIT_CARD_ACCOUNT_NUMBER" type="xs:string"/>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="consultaCancelacionAnticipadaFinanciamientoResponse">
        <xs:complexType>
            <xs:sequence>
           		 	<xs:element name="GENERAL_INFO" type="tns:generalInfoType" minOccurs="0"/>
           		 	<xs:element name="FINANCING_DETAILS" type="tns:financingDetailsType" minOccurs="0"/>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="generalInfoType">
		<xs:sequence>
			<xs:element name="TOTAL_EXTRA" type="tns:totalExtraType" minOccurs="0"/>
			<xs:element name="TOTAL_INTRA" type="tns:totalIntraType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	 <xs:complexType name="totalExtraType">
		<xs:sequence>
			<xs:element name="LOCAL_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="FOREIGN_CURRENCY" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	 <xs:complexType name="totalIntraType">
		<xs:sequence>
			<xs:element name="LOCAL_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="FOREIGN_CURRENCY" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	 <xs:complexType name="financingDetailsType">
		<xs:sequence>
			<xs:element name="FINANCING_ITEM" type="tns:financingItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	 <xs:complexType name="financingItemType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="INSTALLMENTS_COUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="INSTALLMENT_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="NEXT_INSTALLMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="PENDING_PRINCIPAL" type="xs:string" minOccurs="0"/>
			<xs:element name="CYCLE" type="xs:string" minOccurs="0"/>
			<xs:element name="CUT" type="xs:string" minOccurs="0"/>
			<xs:element name="PLACEMENT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="CUT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="ANTICIPATED_CANCELLATION_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="RATE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>