Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/SJS/consultaDetalleContratoRecaudos/xsd/sjConsultaDetalleContratoRecaudosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaDetalleContratoRecaudosTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaDetalleContratoRecaudosTypes">
	
	<xs:element name="sjConsultaDetalleContratoRecaudos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" type="xs:string" />
				<xs:element name="PASSWORD" type="xs:string" />
				<xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="sjConsultaDetalleContratoRecaudosResponseArrayType">
		<xs:sequence>
			<xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0" />
			<xs:element name="CONTRACT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" />
			<xs:element name="INFO_EXCHANGE_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="COLLECTION_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="ALLOWED_BRANCHES" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BRANCH_CODE" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PAYMENT_VALUE_CHECK" type="xs:string" minOccurs="0" />
			<xs:element name="PAYMENT_METHODS" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PAYMENT_METHOD" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PAY_OLD_BILL_FIRST" type="xs:string" minOccurs="0" />
			<xs:element name="DUE_DATE_CHECK" type="xs:string" minOccurs="0" />
			<xs:element name="PENALTY_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="MULTI_CCY_CHECK" type="xs:string" minOccurs="0" />			
			<xs:element name="CONTRACT_ACCOUNTS" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CONTRACT_ACCOUNT" minOccurs="0" maxOccurs="unbounded" >
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1" />
									<xs:element name="ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CONTRACT_TYPE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sjConsultaDetalleContratoRecaudosResponseRecordType">
		<xs:sequence>
			<xs:element name="sjConsultaDetalleContratoRecaudosResponseRecordType"
				type="cons:sjConsultaDetalleContratoRecaudosResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sjConsultaDetalleContratoRecaudosResponseType">
		<xs:sequence>
			<xs:element name="RESPONSE_CODE" type="xs:string" minOccurs="1" />
			<xs:element name="RESPONSE_MESSAGE" type="xs:string" minOccurs="0" />
			<xs:element name="sjConsultaDetalleContratoRecaudosResponseType"
				type="cons:sjConsultaDetalleContratoRecaudosResponseRecordType" form="qualified"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="sjConsultaDetalleContratoRecaudosResponse" type="cons:sjConsultaDetalleContratoRecaudosResponseType" />

</xs:schema>