Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Router/Schemas/ApiPagosMasivosGatewayTypes.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosGatewayTypes"
            targetNamespace="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosGatewayTypes"
            >
  <xsd:element name="System">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="sourceBank" type="xsd:string"/>
            <xsd:element name="destinationBank" type="xsd:string"/>
            <xsd:element name="method" type="xsd:string"/>
            <xsd:element name="customerId" type="xsd:string"/>
            <xsd:element name="queryType" type="xsd:string" minOccurs="0"/>
            <xsd:element name="queryValue" type="xsd:string" minOccurs="0"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="SystemResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="successIndicator" type="xsd:string"/>
            <xsd:element name="error">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="code" type="xsd:string"/>
                     <xsd:element name="message" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="system" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>