Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/External/SalesforceHNIngresaGestionExtra/wsdl/SalesforceHNIngresaGestionExtra.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions targetNamespace="http://soap.sforce.com/schemas/class/WS_IngresaGestionExtra" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://soap.sforce.com/schemas/class/WS_IngresaGestionExtra" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/WS_IngresaGestionExtra" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/WS_IngresaGestionExtra" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="AllowFieldTruncationHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CallOptions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="client" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DebuggingHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="categories" type="tns:LogInfo"/>
            <xsd:element name="debugLevel" type="tns:LogType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="LogInfo">
        <xsd:sequence>
          <xsd:element name="category" type="tns:LogCategory"/>
          <xsd:element name="level" type="tns:LogCategoryLevel"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="LogCategory">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Db"/>
          <xsd:enumeration value="Workflow"/>
          <xsd:enumeration value="Validation"/>
          <xsd:enumeration value="Callout"/>
          <xsd:enumeration value="Apex_code"/>
          <xsd:enumeration value="Apex_profiling"/>
          <xsd:enumeration value="Visualforce"/>
          <xsd:enumeration value="System"/>
          <xsd:enumeration value="Wave"/>
          <xsd:enumeration value="Nba"/>
          <xsd:enumeration value="All"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogCategoryLevel">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None"/>
          <xsd:enumeration value="Finest"/>
          <xsd:enumeration value="Finer"/>
          <xsd:enumeration value="Fine"/>
          <xsd:enumeration value="Debug"/>
          <xsd:enumeration value="Info"/>
          <xsd:enumeration value="Warn"/>
          <xsd:enumeration value="Error"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None"/>
          <xsd:enumeration value="Debugonly"/>
          <xsd:enumeration value="Db"/>
          <xsd:enumeration value="Profiling"/>
          <xsd:enumeration value="Callout"/>
          <xsd:enumeration value="Detail"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="DebuggingInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="debugLog" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SessionHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
          <xsd:length value="18"/>
          <xsd:pattern value="[a-zA-Z0-9]{18}"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="objetoBeneficiario">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Beneficiario_fecha_nacimiento" nillable="true" type="xsd:date"/>
          <xsd:element minOccurs="0" name="Beneficiario_Id" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Beneficiario_nombre" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Beneficiario_porcentaje" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="Beneficiario_relacion" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="respuestaExtra">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CodigoError" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="cuotaMensual" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="estadoGestion" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="IdGestion" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="tasaMensual" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="valorDesembolso" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="valorSeguro" nillable="true" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="address">
        <xsd:complexContent>
          <xsd:extension base="tns:location">
            <xsd:sequence>
              <xsd:element name="city" type="xsd:string"/>
              <xsd:element name="country" type="xsd:string"/>
              <xsd:element name="countryCode" type="xsd:string"/>
              <xsd:element name="geocodeAccuracy" type="xsd:string"/>
              <xsd:element name="postalCode" type="xsd:string"/>
              <xsd:element name="state" type="xsd:string"/>
              <xsd:element name="stateCode" type="xsd:string"/>
              <xsd:element name="street" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="location">
        <xsd:sequence>
          <xsd:element name="latitude" type="xsd:double"/>
          <xsd:element name="longitude" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CrearExtra">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Cliente" nillable="true" type="xsd:string"/>
            <xsd:element name="Plazo" nillable="true" type="xsd:int"/>
            <xsd:element name="Monto" nillable="true" type="xsd:decimal"/>
            <xsd:element name="TasaInteres" nillable="true" type="xsd:decimal"/>
            <xsd:element name="Moneda" nillable="true" type="xsd:string"/>
            <xsd:element name="numTarjeta" type="xsd:string" nillable="true"/>
            <xsd:element name="TipoDesembolso" nillable="true" type="xsd:string"/>
            <xsd:element name="CuentaCredito" nillable="true" type="xsd:string"/>
            <xsd:element name="Direccion" nillable="true" type="xsd:string"/>
            <xsd:element name="CorreoElectronico" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Beneficiarios" nillable="true" type="tns:objetoBeneficiario"/>
            <xsd:element name="ComisionDesembolso" nillable="true" type="xsd:decimal"/>
            <xsd:element name="ProductoCuotificar" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CrearExtraResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:respuestaExtra"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="Header">
    <WL5G3N0:part element="WL5G3N1:AllowFieldTruncationHeader" name="AllowFieldTruncationHeader"/>
    <WL5G3N0:part element="WL5G3N1:CallOptions" name="CallOptions"/>
    <WL5G3N0:part element="WL5G3N1:DebuggingHeader" name="DebuggingHeader"/>
    <WL5G3N0:part element="WL5G3N1:DebuggingInfo" name="DebuggingInfo"/>
    <WL5G3N0:part element="WL5G3N1:SessionHeader" name="SessionHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="CrearExtraRequest">
    <WL5G3N0:part element="WL5G3N1:CrearExtra" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="CrearExtraResponse">
    <WL5G3N0:part element="WL5G3N1:CrearExtraResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="WS_IngresaGestionExtraPortType">
    <WL5G3N0:operation name="CrearExtra">
      <WL5G3N0:input message="WL5G3N1:CrearExtraRequest"/>
      <WL5G3N0:output message="WL5G3N1:CrearExtraResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="WS_IngresaGestionExtraBinding" type="WL5G3N1:WS_IngresaGestionExtraPortType">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="CrearExtra">
      <WL5G3N2:operation/>
      <WL5G3N0:input>
        <WL5G3N2:header message="WL5G3N1:Header" part="SessionHeader" use="literal"/>
        <WL5G3N2:header message="WL5G3N1:Header" part="CallOptions" use="literal"/>
        <WL5G3N2:header message="WL5G3N1:Header" part="DebuggingHeader" use="literal"/>
        <WL5G3N2:header message="WL5G3N1:Header" part="AllowFieldTruncationHeader" use="literal"/>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:header message="WL5G3N1:Header" part="DebuggingInfo" use="literal"/>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="WS_IngresaGestionExtraService">
    <WL5G3N0:documentation>
  
   
  
 
</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N1:WS_IngresaGestionExtraBinding" name="WS_IngresaGestionExtra">
      <WL5G3N2:address location="http://JERAZO.CIDENET.LOCAL:7001/Middleware/External/Outgoing/SalesforceHNIngresaGestionExtra"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>