Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ProcesaMensajeGenericoT24/xsd/procesaMensajeGenericoT24Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/procesaMensajeGenericoT24Types"
	xmlns:proc="http://www.ficohsa.com.hn/middleware.services/procesaMensajeGenericoT24Types">

	<xs:element name="procesaMensajeGenericoT24">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTION_ID">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
		        	</xs:simpleType>
		        </xs:element>
				<xs:element name="SESSION_ID">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
		        	</xs:simpleType>
				</xs:element>
				<xs:element name="MESSAGE">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
		        	</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="procesaMensajeGenericoT24Response" type="proc:procesaMensajeGenericoT24ResponseType" />	
	
	<xs:complexType name="procesaMensajeGenericoT24ResponseType">
		<xs:sequence>
			<xs:element name="TRANSACTION_ID" type="xs:string"/>
			<xs:element name="SESSION_ID" type="xs:string"/>
			<xs:element name="MESSAGE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>	
	
</xs:schema>