Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/EnvioCorreoElectronico/wsdl/envioCorreoElectronicoPS.wsdl

<wsdl:definitions name="envioCorreoElectronicoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/envioCorreoElectronicoPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/envioCorreoElectronicoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cet="http://www.ficohsa.com.hn/middleware.services/envioCorreoElectronicoTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/envioCorreoElectronicoTypes" schemaLocation="../xsd/envioCorreoElectronicoTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="envioMensajeUnicoRequest">
		<wsdl:part element="cet:envioMensajeUnico" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="envioMensajeUnicoResponse">
		<wsdl:part element="cet:envioMensajeUnicoResponse" name="result"/>
	</wsdl:message>
	
	 <wsdl:message name="envioCorreoElectronico">
        <wsdl:part element="cet:envioCorreoElectronico" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="envioCorreoElectronicoResponse">
        <wsdl:part element="cet:envioCorreoElectronicoResponse" name="result"/>
    </wsdl:message>

	<wsdl:portType name="envioCorreoElectronicoPS">
		<wsdl:operation name="envioMensajeUnico" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:envioMensajeUnicoRequest"/>
			<wsdl:output message="fic:envioMensajeUnicoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="envioCorreoElectronico" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:envioCorreoElectronico"/>
			<wsdl:output message="fic:envioCorreoElectronicoResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="envioCorreoElectronicoPSSOAP" type="fic:envioCorreoElectronicoPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="envioMensajeUnico">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/envioMensajeUnicoPS/envioMensajeUnico"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="envioCorreoElectronico">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/envioCorreoElectronicoPS/envioCorreoElectronico"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	


	<wsdl:service name="envioCorreoElectronicoPS">
		<wsdl:port binding="fic:envioCorreoElectronicoPSSOAP" name="envioCorreoElectronicoPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Messaging/EnvioCorreoElectronico"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>