Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/T24/AnticiposCliente/xsd/XMLSchema_-361259320.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Bloqueodeanticiposenctaahorros" type="tns:Bloqueodeanticiposenctaahorros"/>

<xs:element name="BloqueodeanticiposenctaahorrosResponse" type="tns:BloqueodeanticiposenctaahorrosResponse"/>

<xs:element name="Bloqueodeanticiposenctaahorros_Validate" type="tns:Bloqueodeanticiposenctaahorros_Validate"/>

<xs:element name="Bloqueodeanticiposenctaahorros_ValidateResponse" type="tns:Bloqueodeanticiposenctaahorros_ValidateResponse"/>

<xs:element name="Consultaanticiposdisponiblescta" type="tns:Consultaanticiposdisponiblescta"/>

<xs:element name="ConsultaanticiposdisponiblesctaResponse" type="tns:ConsultaanticiposdisponiblesctaResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="FICOCAEMPLOYEESETUPSTATUSWSType">
<xs:sequence>
<xs:element name="CaStatus" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOCAEMPLOYEEType">
<xs:sequence>
<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="PAYGRPNUM" type="xs:string" minOccurs="0"/>
<xs:element name="EMPLOYERSID" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CAENABLEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="MAXAVGPAYMONTHS" type="xs:string" minOccurs="0"/>
<xs:element name="AVGNETMSALEMP" type="xs:string" minOccurs="0"/>
<xs:element name="RANGEUPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="gRANGECA" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mRANGECA" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="RANGECA" type="xs:string" minOccurs="0"/>
<xs:element name="RANGEFROM" type="xs:string" minOccurs="0"/>
<xs:element name="RANGETO" type="xs:string" minOccurs="0"/>
<xs:element name="CAPERC" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="NOOFMONCAUSED" type="xs:string" minOccurs="0"/>
<xs:element name="CAAUTHEMP" type="xs:string" minOccurs="0"/>
<xs:element name="CAEMPARREARS" type="xs:string" minOccurs="0"/>
<xs:element name="CASTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="STATUSCHGDT" type="xs:string" minOccurs="0"/>
<xs:element name="PREVCASTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CAUSEDAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CACOMMAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CATOTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="SALTOTVAL" type="xs:string" minOccurs="0"/>
<xs:element name="CALIMITID" type="xs:string" minOccurs="0"/>
<xs:element name="VERSNAME" type="xs:string" minOccurs="0"/>
<xs:element name="DISABLECHK" type="xs:string" minOccurs="0"/>
<xs:element name="CURRRANGE" type="xs:string" minOccurs="0"/>
<xs:element name="CAOPENDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CAGRACENOCHK" type="xs:string" minOccurs="0"/>
<xs:element name="CACOMMAMTOFS" type="xs:string" minOccurs="0"/>
<xs:element name="DATEEMPLSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="MONTOMINAE" type="xs:string" minOccurs="0"/>
<xs:element name="MONTOFIJOCOMMAE" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_7" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="gSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="STMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOECARELIEFWSType">
<xs:sequence>
<xs:element name="ZERONORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gFICOECARELIEFWSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mFICOECARELIEFWSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="CASTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CAUSEDAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CACOMMAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CATOTAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Bloqueodeanticiposenctaahorros_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOCAEMPLOYEESETUPSTATUSWSType" type="tns:FICOCAEMPLOYEESETUPSTATUSWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Bloqueodeanticiposenctaahorros_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOCAEMPLOYEEType" type="tns:FICOCAEMPLOYEEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultaanticiposdisponiblescta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="FICOECARELIEFWSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaanticiposdisponiblesctaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOECARELIEFWSType" type="tns:FICOECARELIEFWSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Bloqueodeanticiposenctaahorros">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOCAEMPLOYEESETUPSTATUSWSType" type="tns:FICOCAEMPLOYEESETUPSTATUSWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BloqueodeanticiposenctaahorrosResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOCAEMPLOYEEType" type="tns:FICOCAEMPLOYEEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>