Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Accounts/RequestorServices/WADL/GetAccountDetail_PS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02" xmlns:ns0="http://www.ficohsa.com.hn/middleware.services/accountsTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:acv="http://www.ficohsa.com.hn/middleware.services/accountValidation" xmlns:amv="http://www.ficohsa.com.hn/middleware.services/accountMovements" xmlns:uat="http://www.ficohsa.com.hn/middleware.services/updateAccountTypes" xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/keyValueTypes">
   <doc title="GetAccountDetail_PS">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getAccountDetails" schemaLocation="../XSD/getAccountDetails.xsd"/>
        </xsd:schema>
      <schema targetNamespace="http://xmlns.oracle.com/MWBanking/GetAccountDetail_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getAccountDetail_params">
                <complexType>
                    <sequence>
                        <element name="accountNumber" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/accountsTypes" schemaLocation="../XSD/accountsTypes.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/accountValidation" schemaLocation="../XSD/accountValidationTypes.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/accountMovements" schemaLocation="../XSD/getAccountMovementsTypes.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/updateAccountTypes" schemaLocation="../XSD/updateAccountTypes.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/{accountNumber}">
         <method name="GET" soa:wsdlOperation="getAccountDetail">
            <request soa:paramElement="pns:getAccountDetail_params" xmlns:pns="http://xmlns.oracle.com/MWBanking/GetAccountDetail_PS">
               <param name="accountNumber" style="template" soa:expression="$msg.request/pns:accountNumber" type="xsd:string"/>
               <param name="SourceBank" style="query" soa:expression="$msg.request/pns:SourceBank" type="xsd:string"/>
               <param name="DestinationBank" style="query" soa:expression="$msg.request/pns:DestinationBank" type="xsd:string"/>
               <param name="Language" style="query" soa:expression="$msg.request/pns:Language" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getAccountDetailsResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getAccountDetails"/>
            </response>
         </method>
      </resource>
      <resource path="/">
         <method name="POST" soa:wsdlOperation="createAccount">
            <request>
               <representation mediaType="application/json" element="cns:createAccountRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/accountsTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:createAccountResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/accountsTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/current/cheque-books">
         <method name="POST" soa:wsdlOperation="chequeBooks">
            <request>
               <representation mediaType="application/json" element="cns:createCheckBooksRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/accountsTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:createCheckBooksResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/accountsTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/account-validation">
         <method name="POST" soa:wsdlOperation="accountValidation">
            <request>
               <representation mediaType="application/json" element="cns:accountValidationRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/accountValidation"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:accountValidationResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/accountValidation"/>
            </response>
         </method>
      </resource>
      <resource path="/account-movements">
         <method name="POST" soa:wsdlOperation="accountMovements">
            <request>
               <representation mediaType="application/json" element="cns:getAccountMovementsRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/accountMovements"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getAccountMovementsResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/accountMovements"/>
            </response>
         </method>
      </resource>
      <resource path="/update-account">
         <method name="POST" soa:wsdlOperation="updateAccount">
            <request>
               <representation mediaType="application/json" element="cns:updateAccountRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/updateAccountTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:updateAccountResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/updateAccountTypes"/>
            </response>
         </method>
      </resource>
   </resources>
</application>