Fuentes/ficohsacore-vortex-7ebad6e8baaa/MWHostToHost/v1/Resources/ConsultaCobranzasH2H/wsdl/consultaCobranzasH2HPS.wsdl

<wsdl:definitions name="consultaCobranzasH2HPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCobranzasH2HPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaCobranzasH2HPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:hcob="http://www.ficohsa.com.hn/middleware.services/cobranzasH2HTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../EsquemasGenerales/headerElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/cobranzasH2HTypes" schemaLocation="../../CobranzasH2H/xsd/cobranzasH2HTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="consultaCobranzasH2HRequest">
		<wsdl:part element="hcob:consultaCobranzas" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="consultaCobranzasH2HResponse">
		<wsdl:part element="hcob:consultaCobranzasResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="consultaCobranzasH2HPS">
		<wsdl:operation name="consulta" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaCobranzasH2HRequest"/>
			<wsdl:output message="fic:consultaCobranzasH2HResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="consultaCobranzasH2HPSSOAP" type="fic:consultaCobranzasH2HPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="consulta">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaCobranzasH2HPS/op"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="consultaCobranzasH2HPS">
		<wsdl:port binding="fic:consultaCobranzasH2HPSSOAP" name="consultaCobranzasH2HPSSOAP">
			<soap:address location="http://mwomnicanal:8003/Middleware/OperationsAndExecution/Payments/consultaCobranzasH2H"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>