Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/AccountOperations/wsdl/AccountOperations.wsdl

<wsdl:definitions name="AccountOperationsPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/AccountOperationsPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/AccountOperationsPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:aco="http://www.ficohsa.com.hn/middleware.services/AccountOperationsTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../General/xsd/Header.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/AccountOperationsTypes" schemaLocation="../xsd/AccountOperationsTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="accountActivationRequest">
		<wsdl:part element="aco:accountActivation" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="accountActivationResponse">
		<wsdl:part element="aco:accountActivationResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="accountClosureRequest">
		<wsdl:part element="aco:accountClosure" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="accountClosureResponse">
		<wsdl:part element="aco:accountClosureResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="accountDepositRequest">
		<wsdl:part element="aco:accountDeposit" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="accountDepositResponse">
		<wsdl:part element="aco:accountDepositResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="accountQueryRequest">
		<wsdl:part element="aco:accountQuery" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="accountQueryResponse">
		<wsdl:part element="aco:accountQueryResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="accountWithdrawalRequest">
		<wsdl:part element="aco:accountWithdrawal" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="accountWithdrawalResponse">
		<wsdl:part element="aco:accountWithdrawalResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:portType name="AccountOperationsPS">
		<wsdl:operation name="accountActivation" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:accountActivationRequest"/>
			<wsdl:output message="fic:accountActivationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="accountClosure" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:accountClosureRequest"/>
			<wsdl:output message="fic:accountClosureResponse"/>
		</wsdl:operation>
		<wsdl:operation name="accountDeposit" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:accountDepositRequest"/>
			<wsdl:output message="fic:accountDepositResponse"/>
		</wsdl:operation>
		<wsdl:operation name="accountQuery" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:accountQueryRequest"/>
			<wsdl:output message="fic:accountQueryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="accountWithdrawal" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:accountWithdrawalRequest"/>
			<wsdl:output message="fic:accountWithdrawalResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AccountOperationsPSSOAP" type="fic:AccountOperationsPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="accountActivation">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/AccountOperationsPS/accountActivation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:accountActivationRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:accountActivationResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="accountClosure">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/AccountOperationsPS/accountClosure"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:accountClosureRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:accountClosureResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="accountDeposit">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/AccountOperationsPS/accountDeposit"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:accountDepositRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:accountDepositResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="accountQuery">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/AccountOperationsPS/accountQuery"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:accountQueryRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:accountQueryResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="accountWithdrawal">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/AccountOperationsPS/accountWithdrawal"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:accountWithdrawalRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:accountWithdrawalResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="AccountOperationsPS">
		<wsdl:port binding="fic:AccountOperationsPSSOAP" name="AccountOperationsPSSOAP">
			<soap:address location="http://mwteller:8004/mwteller/accounts/accountOperations"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>