Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/EliminarFactorCanje/wsdl/eliminarFactorCanjePS.wsdl

<wsdl:definitions name="eliminarFactorCanjePS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/eliminarFactorCanjePS/" xmlns:atc="http://www.ficohsa.com.hn/middleware.services/eliminarFactorCanjePS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasTypes" schemaLocation="../../GestionPuntosTarjetas/xsd/gestionPuntosTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="eliminarFactorCanjeRequest">
		<wsdl:part element="tns:eliminarFactorCanje" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="eliminarFactorCanjeResponse">
		<wsdl:part element="tns:eliminarFactorCanjeResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="eliminarFactorCanjePS">
		<wsdl:operation name="eliminarFactorCanje" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="atc:eliminarFactorCanjeRequest"/>
			<wsdl:output message="atc:eliminarFactorCanjeResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="eliminarFactorCanjePSSOAP" type="atc:eliminarFactorCanjePS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="eliminarFactorCanje">
			<soap:operation soapAction="http://www.example.org/gestionPuntosTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="atc:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="atc:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eliminarFactorCanjePS">
		<wsdl:port binding="atc:eliminarFactorCanjePSSOAP" name="eliminarFactorCanjePSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/eliminarFactorCanje/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>