Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ProcesosGT/conTransaccionesActuales/xsd/conTransaccionesActuales_v2_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/conTransaccionesActuales_v2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/conTransaccionesActuales_v2" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="Pais" type="db:string3" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="Org" type="db:string3" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="NumCuenta" type="db:string19" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="Tipo" type="int" db:index="4" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="CodigoError" type="int" db:index="5" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="MensajeError" type="db:string4000" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="CodigoError" type="int" db:index="5" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="MensajeError" type="db:string4000" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string19">
      <restriction base="string">
         <maxLength value="19"/>
      </restriction>
   </simpleType>
   <simpleType name="string4000">
      <restriction base="string">
         <maxLength value="4000"/>
      </restriction>
   </simpleType>
</schema>
