Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Customers/RequestorServices/WSDL/CustomerRouter_PS.wsdl

<wsdl:definitions name="GetCustomerAssets_PS" targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" xmlns:tns="http://xmlns.oracle.com/GetCustomerAssets_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/consultaClientes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/consultaPasivosCliente" xmlns:inp3="http://www.ficohsa.com.hn/middleware.services/consultaTDCliente" xmlns:inp4="http://www.ficohsa.com.hn/middleware.services/customerTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.ficohsa.com.hn/middleware.services/consultaClienteOpi" xmlns:inp5="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsRENAP" xmlns:inp6="http://www.ficohsa.com.hn/middleware.services/customerLists" xmlns:inp7="http://www.ficohsa.com.hn/middleware.services/customerTypesHN" xmlns:inp8="http://www.ficohsa.com.hn/middleware.services/customerTypesNI" xmlns:gcd="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsTypes" xmlns:ccc="http://www.ficohsa.com.hn/middleware.services/customerTypesCCHN" xmlns:inp9="http://www.ficohsa.com.hn/middleware.services/validaClienteAbanks" xmlns:inp10="http://www.ficohsa.com.hn/middleware.services/updateCustomerTypesNI">
  <plnk:partnerLinkType name="GetCustomerAssets_PS">
    <plnk:role name="GetCustomerAssets_PSProvider" portType="tns:GetCustomerAssets_PS_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypesCCHN" schemaLocation="../XSD/createCustomerCCHN.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsTypes" schemaLocation="../XSD/getCustomerDetailsTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaClientes" schemaLocation="../XSD/getCustomerAssets.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getCustomerAssets_params">
        <complexType>
          <sequence>
            <element name="customerId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="AssetType" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaPasivosCliente" schemaLocation="../XSD/getCustomerLiabilities.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getCustomerLiabilities_params">
        <complexType>
          <sequence>
            <element name="customerid" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="LiabilityType" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaTDCliente" schemaLocation="../XSD/getCustomerDebitCards.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getDebitCards_params">
        <complexType>
          <sequence>
            <element name="customerid" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="CardStatus" type="string"/>
            <element name="AccountNumber" type="string" minOccurs="0"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypes" schemaLocation="../XSD/customersTypes.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getCustomerDetails_params">
        <complexType>
          <sequence>
            <element name="customerId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="QueryType" type="string"/>
            <element name="SystemType" type="string"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaClienteOpi" schemaLocation="../XSD/getCustomerOpi.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getCustomerOpi_params">
        <complexType>
          <sequence>
            <element name="LegalId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="QueryType" type="string"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsRENAP" schemaLocation="../XSD/getCustomerDetailsRENAP.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getCustomerDetailsRENAP_params">
        <complexType>
          <sequence>
            <element name="customerId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="QueryType" type="string"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerLists" schemaLocation="../XSD/customersLists.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypesHN" schemaLocation="../XSD/createCustomerHN.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypesNI" schemaLocation="../XSD/createCustomerNI.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/validaClienteAbanks" schemaLocation="../XSD/validateCustomerAbanks.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="validateCustomerAbanks_params">
        <complexType>
          <sequence>
            <element name="customerId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="Language" type="string"/>
            <element name="IdentificationNumber" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/updateCustomerTypesNI" schemaLocation="../XSD/updateCustomerNI.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCustomerAssets_inputMessage">
    <wsdl:part name="request" element="tns:getCustomerAssets_params"/>
  </wsdl:message>
  <wsdl:message name="getCustomerAssets_outputMessage">
    <wsdl:part name="reply" element="inp1:getCustomerAssetsResponse"/>
  </wsdl:message>
  <wsdl:message name="getCustomerLiabilities_inputMessage">
    <wsdl:part name="request" element="tns:getCustomerLiabilities_params"/>
  </wsdl:message>
  <wsdl:message name="getCustomerLiabilities_outputMessage">
    <wsdl:part name="reply" element="inp2:getCustomerLiabilitiesResponse"/>
  </wsdl:message>
  <wsdl:message name="getDebitCards_inputMessage">
    <wsdl:part name="request" element="tns:getDebitCards_params"/>
  </wsdl:message>
  <wsdl:message name="getDebitCards_outputMessage">
    <wsdl:part name="reply" element="inp3:getCustomerDebitCardsResponse"/>
  </wsdl:message>
  <wsdl:message name="createCustomer_inputMessage">
    <wsdl:part name="request" element="inp4:createCustomerRequest"/>
  </wsdl:message>
  <wsdl:message name="createCustomer_outputMessage">
    <wsdl:part name="reply" element="inp4:createCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="automaticCollections_inputMessage">
    <wsdl:part name="request" element="inp4:automaticCollectionsRequest"/>
  </wsdl:message>
  <wsdl:message name="automaticCollections_outputMessage">
    <wsdl:part name="reply" element="inp4:automaticCollectionsResponse"/>
  </wsdl:message>
  <wsdl:message name="getCustomerDetails_inputMessage">
    <wsdl:part name="request" element="tns:getCustomerDetails_params"/>
  </wsdl:message>
  <wsdl:message name="getCustomerDetails_outputMessage">
    <wsdl:part name="reply" element="gcd:getCustomerDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="updateCustomer_inputMessage">
    <wsdl:part name="request" element="inp4:updateCustomerRequest"/>
  </wsdl:message>
  <wsdl:message name="updateCustomer_outputMessage">
    <wsdl:part name="reply" element="inp4:updateCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="document_inputMessage">
    <wsdl:part name="request" element="inp4:documentRequest"/>
  </wsdl:message>
  <wsdl:message name="document_outputMessage">
    <wsdl:part name="reply" element="inp4:documentResponse"/>
  </wsdl:message>
  <wsdl:message name="unityform_inputMessage">
    <wsdl:part name="request" element="inp4:unityFormRequest"/>
  </wsdl:message>
  <wsdl:message name="unityform_outputMessage">
    <wsdl:part name="reply" element="inp4:unityFormResponse"/>
  </wsdl:message>
  <wsdl:message name="getCustomerOpi_inputMessage">
    <wsdl:part name="request" element="tns:getCustomerOpi_params"/>
  </wsdl:message>
  <wsdl:message name="getCustomerOpi_outputMessage">
    <wsdl:part name="reply" element="gco:getCustomerOpiResponse"/>
  </wsdl:message>
  <wsdl:message name="documentQuery_inputMessage">
    <wsdl:part name="request" element="inp4:documentQueryRequest"/>
  </wsdl:message>
  <wsdl:message name="documentQuery_outputMessage">
    <wsdl:part name="reply" element="inp4:documentQueryResponse"/>
  </wsdl:message>
  <wsdl:message name="documentComposition_inputMessage">
    <wsdl:part name="request" element="inp4:DocumentCompositionReq"/>
  </wsdl:message>
  <wsdl:message name="documentComposition_outputMessage">
    <wsdl:part name="reply" element="inp4:DocumentCompositionRsp"/>
  </wsdl:message>
  <wsdl:message name="getCustomerDetailsRENAP_inputMessage">
    <wsdl:part name="request" element="tns:getCustomerDetailsRENAP_params"/>
  </wsdl:message>
  <wsdl:message name="getCustomerDetailsRENAP_outputMessage">
    <wsdl:part name="reply" element="inp5:getCustomerDetailsRENAPResponse"/>
  </wsdl:message>
  <wsdl:message name="customerListsPetition_inputMessage">
    <wsdl:part name="request" element="inp6:customerListPetitionRequest"/>
  </wsdl:message>
  <wsdl:message name="customerListsPetition_outputMessage">
    <wsdl:part name="reply" element="inp6:customerListPetitionResponse"/>
  </wsdl:message>
  <wsdl:message name="getListsPetitionStatus_inputMessage">
    <wsdl:part name="request" element="inp6:getListsPetitionStatusRequest"/>
  </wsdl:message>
  <wsdl:message name="getListsPetitionStatus_outputMessage">
    <wsdl:part name="reply" element="inp6:getListsPetitionStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="createCustomersCc_inputMessage">
    <wsdl:part name="request" element="ccc:createCustomerRequest"/>
  </wsdl:message>
  <wsdl:message name="createCustomersCc_outputMessage">
    <wsdl:part name="reply" element="ccc:createCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="createCustomersNI_inputMessage">
    <wsdl:part name="request" element="inp8:createCustomerRequest"/>
  </wsdl:message>
  <wsdl:message name="createCustomersNI_outputMessage">
    <wsdl:part name="reply" element="inp8:createCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="createCustomerPl_inputMessage">
    <wsdl:part name="request" element="inp7:createCustomerRequest"/>
  </wsdl:message>
  <wsdl:message name="createCustomerPl_outputMessage">
    <wsdl:part name="reply" element="inp7:createCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="validateCustomerAbanks_inputMessage">
    <wsdl:part name="request" element="tns:validateCustomerAbanks_params"/>
  </wsdl:message>
  <wsdl:message name="validateCustomerAbanks_outputMessage">
    <wsdl:part name="reply" element="inp9:validateCustomerAbanksResponse"/>
  </wsdl:message>
  <wsdl:message name="updateCustomerNI_inputMessage">
    <wsdl:part name="request" element="inp10:updateCustomerRequest"/>
  </wsdl:message>
  <wsdl:message name="updateCustomerNI_outputMessage">
    <wsdl:part name="reply" element="inp10:updateCustomerResponse"/>
  </wsdl:message>
  <wsdl:portType name="GetCustomerAssets_PS_ptt">
    <wsdl:operation name="getCustomerAssets">
      <wsdl:input message="tns:getCustomerAssets_inputMessage"/>
      <wsdl:output message="tns:getCustomerAssets_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getCustomerLiabilities">
      <wsdl:input message="tns:getCustomerLiabilities_inputMessage"/>
      <wsdl:output message="tns:getCustomerLiabilities_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getDebitCards">
      <wsdl:input message="tns:getDebitCards_inputMessage"/>
      <wsdl:output message="tns:getDebitCards_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="createCustomer">
      <wsdl:input message="tns:createCustomer_inputMessage"/>
      <wsdl:output message="tns:createCustomer_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="automaticCollections">
      <wsdl:input message="tns:automaticCollections_inputMessage"/>
      <wsdl:output message="tns:automaticCollections_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getCustomerDetails">
      <wsdl:input message="tns:getCustomerDetails_inputMessage"/>
      <wsdl:output message="tns:getCustomerDetails_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <wsdl:input message="tns:updateCustomer_inputMessage"/>
      <wsdl:output message="tns:updateCustomer_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="document">
      <wsdl:input message="tns:document_inputMessage"/>
      <wsdl:output message="tns:document_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="unityform">
      <wsdl:input message="tns:unityform_inputMessage"/>
      <wsdl:output message="tns:unityform_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getCustomerOpi">
      <wsdl:input message="tns:getCustomerOpi_inputMessage"/>
      <wsdl:output message="tns:getCustomerOpi_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="documentQuery">
      <wsdl:input message="tns:documentQuery_inputMessage"/>
      <wsdl:output message="tns:documentQuery_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="documentComposition">
      <wsdl:input message="tns:documentComposition_inputMessage"/>
      <wsdl:output message="tns:documentComposition_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getCustomerDetailsRENAP">
      <wsdl:input message="tns:getCustomerDetailsRENAP_inputMessage"/>
      <wsdl:output message="tns:getCustomerDetailsRENAP_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="customerListsPetition">
      <wsdl:input message="tns:customerListsPetition_inputMessage"/>
      <wsdl:output message="tns:customerListsPetition_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getListsPetitionStatus">
      <wsdl:input message="tns:getListsPetitionStatus_inputMessage"/>
      <wsdl:output message="tns:getListsPetitionStatus_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="createCustomersCc">
      <wsdl:input message="tns:createCustomersCc_inputMessage"/>
      <wsdl:output message="tns:createCustomersCc_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="createCustomersNI">
      <wsdl:input message="tns:createCustomersNI_inputMessage"/>
      <wsdl:output message="tns:createCustomersNI_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="createCustomerPl">
      <wsdl:input message="tns:createCustomerPl_inputMessage"/>
      <wsdl:output message="tns:createCustomerPl_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="validateCustomerAbanks">
      <wsdl:input message="tns:validateCustomerAbanks_inputMessage"/>
      <wsdl:output message="tns:validateCustomerAbanks_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="updateCustomerNI">
      <wsdl:input message="tns:updateCustomerNI_inputMessage"/>
      <wsdl:output message="tns:updateCustomerNI_outputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetCustomerAssets_PS_ptt-binding" type="tns:GetCustomerAssets_PS_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCustomerAssets">
      <soap:operation soapAction="getCustomerAssets"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerLiabilities">
      <soap:operation soapAction="getCustomerLiabilities"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDebitCards">
      <soap:operation soapAction="getDebitCards"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCustomer">
      <soap:operation soapAction="createCustomer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="automaticCollections">
      <soap:operation soapAction="automaticCollections"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerDetails">
      <soap:operation soapAction="getCustomerDetails"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <soap:operation soapAction="updateCustomer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="document">
      <soap:operation soapAction="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unityform">
      <soap:operation soapAction="unityform"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerOpi">
      <soap:operation soapAction="getCustomerOpi"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="documentQuery">
      <soap:operation soapAction="documentQuery"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="documentComposition">
      <soap:operation soapAction="documentComposition"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerDetailsRENAP">
      <soap:operation soapAction="getCustomerDetailsRENAP"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="customerListsPetition">
      <soap:operation soapAction="customerListsPetition"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListsPetitionStatus">
      <soap:operation soapAction="getListsPetitionStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCustomersCc">
      <soap:operation soapAction="createCustomersCc"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCustomersNI">
      <soap:operation soapAction="createCustomersNI"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCustomerPl">
      <soap:operation soapAction="createCustomerPl"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCustomerAbanks">
      <soap:operation soapAction="validateCustomerAbanks"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCustomerNI">
      <soap:operation soapAction="updateCustomerNI"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>