Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CLIENTDATA/consultaSeguros/xsd/consultaSeguros_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaSeguros" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaSeguros" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_ACCOUNT_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ORG" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_COUNTRY_CODE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_SEGUROS" type="db:CLIENTDATA.T_SEGUROS" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CLIENTDATA.O_SEGUROS">
      <sequence>
         <element name="ORG" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_NUMBER" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRODUCT_COUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INSURANCE_PRODUCTS" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="CLIENTDATA.T_SEGUROS">
      <sequence>
         <element name="PT_SEGUROS_ITEM" type="db:CLIENTDATA.O_SEGUROS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
</schema>