Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/SolicitudTC/wsdl/solicitudTCPS.wsdl

<wsdl:definitions name="solicitudTCPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/solicitudTCPS/" xmlns:stc="http://www.ficohsa.com.hn/middleware.services/solicitudTCPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" schemaLocation="../../GestionesTarjetas/xsd/gestionesTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="solicitudTCRequest">
		<wsdl:part element="tns:solicitudTC" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="solicitudTCResponse">
		<wsdl:part element="tns:solicitudTCResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="solicitudTCPS">
		<wsdl:operation name="solicitudTC" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="stc:solicitudTCRequest"/>
			<wsdl:output message="stc:solicitudTCResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="solicitudTCPSSOAP" type="stc:solicitudTCPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="solicitudTC">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="stc:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="stc:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="solicitudTCPS">
		<wsdl:port binding="stc:solicitudTCPSSOAP" name="solicitudTCPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/SolicitudTC/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>