Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKPA/consultaDetalleSaldosPignorados/xsd/consultaDetalleSaldosPignorados_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalleSaldosPignorados" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalleSaldosPignorados" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="ACCOUNT_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="ACCOUNT_NAME" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TOTAL_LOCKED_AMOUNT" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="START_DATE" type="db:TOPLEVEL_TVARCHAR20" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LIFTING_DATE" type="db:TOPLEVEL_TVARCHAR20" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DESCRIPTION" type="db:TOPLEVEL_T_TIPO" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="AMOUNT" type="db:TOPLEVEL_TVARCHAR20" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TOPLEVEL_T_TIPO">
      <sequence>
         <element name="DESCRIPTION_ITEM" type="db:string250" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR20">
      <sequence>
         <element name="START_DATE_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
</schema>