Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/OperacionesACH/xsd/operacionesACHTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesACHTypes"
	xmlns:pro="http://www.ficohsa.com.hn/middleware.services/operacionesACHTypes">
   <xs:element name="reversarOperacionesACH">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="TICKET" type="xs:string"/>
                                <xs:element name="CODIGO_RECHAZO" type="xs:string"/>
				<xs:element name="MENSAJE_RECHAZO" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>    
    <xs:element name="reversarOperacionesACHResponse">
    	<xs:complexType>
        	<xs:sequence>								
			</xs:sequence>
		</xs:complexType>
    </xs:element> 
       <xs:element name="consultaEstadoTransaccion">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="TICKET" type="xs:string"/>
				<xs:element name="DESTINATION_TYPE" type="xs:string" minOccurs="0"/>
                <xs:element name="TRANSACTION_TYPE" type="xs:string"/>			</xs:sequence>
		</xs:complexType>
    </xs:element>    
    <xs:element name="consultaEstadoTransaccionResponse">
    	<xs:complexType>
        	<xs:sequence>
        		<xs:element name="ID_TRN " type="xs:string" minOccurs="0" />							
			</xs:sequence>
		</xs:complexType>
    </xs:element>    
	<xs:element name="creaTransaccionBancaria">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSFER_TYPE" type="xs:string" />
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" />
				<xs:element name="CREDIT_ACCOUNT" type="xs:string" />
				<xs:element name="CREDIT_ACCOUNT_TYPE" type="xs:string" />
				<xs:element name="TRANSACTION_TYPE" type="xs:string" />
				<xs:element name="CURRENCY" type="xs:string" />
				<xs:element name="TRANSFER_AMOUNT" type="xs:string" />
				<xs:element name="DESCRIPTION" type="xs:string" />
				<xs:element name="BANK_ID" type="xs:string" />
				<xs:element name="TICKET" type="xs:string" />
				<xs:element name="BENEFICIARY_NAME" type="xs:string" />
				<xs:element name="BENEFICIARY_ID" type="xs:string" />
				<xs:element name="GLOBAL_REFERENCE" type="xs:string" />
				<xs:element name="REFERENCE_NUMBER" type="xs:string" />
				<xs:element name="ID_INDIRECT_PARTICIPANT" type="xs:string" />
				<xs:element name="ID_INDIRECT_PARTICIPANT_RECEIVER" type="xs:string" />
                <xs:element name="DEBIT_CREDIT" type="xs:string" />
				<xs:element name="CONTRACT_ID" type="xs:string" />
				<xs:element name="PI_ACH" type="xs:string" />
				<xs:element name="ORIGINATOR_NAME" type="xs:string" />
				<xs:element name="REMITTANCE_ID" type="xs:string" />
				<xs:element name="ID_QR" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="creaTransaccionBancariaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string"
					minOccurs="0" />
				<xs:element name="CREDIT_ACCOUNT" type="xs:string"
					minOccurs="0" />
				<xs:element name="DEBIT_CUSTOMER" type="xs:string"
					minOccurs="0" />
				<xs:element name="CREDIT_CUSTOMER" type="xs:string"
					minOccurs="0" />
				<xs:element name="DEBIT_CURRENCY" type="xs:string"
					minOccurs="0" />
				<xs:element name="CREDIT_CURRENCY" type="xs:string"
					minOccurs="0" />
				<xs:element name="DEBIT_AMOUNT" type="xs:string"
					minOccurs="0" />
				<xs:element name="CREDIT_AMOUNT" type="xs:string"
					minOccurs="0" />
				<xs:element name="COMMISSION_AMOUNT" type="xs:string"
					minOccurs="0" />
				<xs:element name="EXCHANGE_RATE" type="xs:string"
					minOccurs="0" />
				<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_ID" type="xs:string"
					minOccurs="0" />
				<xs:element name="ID_TRN " type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="registraPagoPrestamo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOAN_NUMBER" type="xs:string" />
				<xs:element name="PAYMENT_AMOUNT" type="xs:string" />
				<xs:element name="PAYMENT_TYPE" type="xs:string" minOccurs="0" />
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" minOccurs="0" />
				<xs:element name="USERNAME" type="xs:string" />
				<xs:element name="TICKET" type="xs:string" />
				<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="registraPagoPrestamoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DATE_TIME" type="xs:string" />
				<xs:element name="LOAN_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="DUE_ID" type="xs:string" minOccurs="0" />	
				<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0" />										
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="registraTransaccionLBTR">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BANK_ID" type="xs:string" />
				<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0" />
				<xs:element name="ADDITION_DATE" type="xs:string" />
				<xs:element name="CORRELATIVE_FILE" type="xs:string" />
				<xs:element name="REGISTRATION_SEQUENCE" type="xs:string" />
				<xs:element name="PERSON_KIND" type="xs:string" />
				<xs:element name="ORDERING_NAME" type="xs:string" />
				<xs:element name="ACCOUNT_ORDERING" type="xs:string" />
				<xs:element name="ID_PERSON" type="xs:string" />
				<xs:element name="ACCOUNT_TYPE_ORDERING" type="xs:string" />
				<xs:element name="ORDERING_ADDRES" type="xs:string" />
				<xs:element name="DATE_BIRTH_ORDERING" type="xs:string" />
				<xs:element name="BENEFICIARY_NAME" type="xs:string" />
				<xs:element name="BENEFICIARY_ACCOUNT" type="xs:string" />
				<xs:element name="BENEFICIARY_ID" type="xs:string" />
				<xs:element name="BENEFICIARY_ADDRES" type="xs:string" />
				<xs:element name="TYPE_ACCOUNT_BENEFICIARY" type="xs:string" />
				<xs:element name="CURRENCY_CODE" type="xs:string" />
				<xs:element name="TRANSACTION_VALUE" type="xs:string" />
				<xs:element name="STATE" type="xs:string" />
				<xs:element name="NAME" type="xs:string" />
				<xs:element name="DATE" type="xs:string" />
				<xs:element name="CLIENT_CODE" type="xs:string" />
				<xs:element name="RETURN_DATE" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_DETAILS" type="xs:string" />
				<xs:element name="ORIGIN_CATEGORY" type="xs:string" />
				<xs:element name="TICKET" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="registraTransaccionLBTRResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MESSAGE" type="xs:string" />
				<xs:element name="SUCCESS_INDICATOR" type="xs:string"
					minOccurs="0" />
				<xs:element name="MESSAGEID" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="registraPagoTC">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORIGINATING_AGENCY" type="xs:string" />
				<xs:element name="MERCHANT_NUMBER" type="xs:string" />
				<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" />
				<xs:element name="OPERATION_TYPE" type="xs:string" />
				<xs:element name="BALANCE_CURRENCY" type="xs:string" />
				<xs:element name="ORGANIZATIONS" type="xs:string" />
				<xs:element name="TRANSACTION_CURRENCY" type="xs:string" />
				<xs:element name="EXCHANGE_RATE" type="xs:string" />
				<xs:element name="TRANSACTION_TYPE" type="xs:string" />
				<xs:element name="USER_CODE" type="xs:string" />
				<xs:element name="MOVEMENT_SEQUENCE" type="xs:string" />
				<xs:element name="ORIGIN_SEQUENCE" type="xs:string" />
				<xs:element name="CASH_VALUE" type="xs:string" />
				<xs:element name="CHECKS_VALUE" type="xs:string"  minOccurs="0" />
				<xs:element name="DOCUMENT_NUMBER" type="xs:string" minOccurs="0" />
				<xs:element name="VALID_DATE" type="xs:string" minOccurs="0" />
				<xs:element name="CHECK_TYPE" type="xs:string"  minOccurs="0" />
				<xs:element name="ORIGIN_BANK" type="xs:string" />
				<xs:element name="DESTINATION_BANK" type="xs:string" />
				<xs:element name="TRANSACTION_DESCRIPTION" type="xs:string" />
				<xs:element name="CHANNEL_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="AUTHORIZATION_NUMBER" type="xs:string" />
				<xs:element name="APPLIED" type="xs:string" />
				<xs:element name="APPLIED_ON_LINE" type="xs:string" />
				<xs:element name="TICKET" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="registraPagoTCResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MESSAGE" type="xs:string" />
				<xs:element name="SUCCESS_INDICATOR" type="xs:string"
					minOccurs="0" />
				<xs:element name="MESSAGEID" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	  <xs:element name="registraParametrizacion">
    	<xs:complexType>
	    	<xs:sequence>	    		
	    		<xs:element name="OPERATION_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="ID_CEPROBAN" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="PRODUCT_TYPE"  type="pro:PRODUCT_TYPEType" minOccurs="0" maxOccurs="unbounded"/>
	    		<xs:element name="ROUTE"  type="pro:BANK_ROUTEType" minOccurs="0" maxOccurs="unbounded"/>
	    		<xs:element name="BANK_STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="ID_BANK_CEPROBAN" type="xs:string" minOccurs="0" maxOccurs="1"/>						
				<xs:element name="ACCOUNTS" type="pro:ACCOUNTSType" minOccurs="0" maxOccurs="unbounded"/>
	    	</xs:sequence>
	    </xs:complexType>
    </xs:element>
    
    <xs:complexType  name="PRODUCT_TYPEType">
		<xs:sequence>			
			<xs:element name="TYPE"  type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MAX_LENGTH" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MIN_LENGTH" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LEAD_ZERO" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MESSAGE_ERROR" type="xs:string" minOccurs="1" maxOccurs="1"/>
       </xs:sequence>
	</xs:complexType>
    
    <xs:complexType  name="BANK_ROUTEType">
		<xs:sequence>
			<xs:element name="ROUTE_CURRENCY" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ROUTE_NUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>			
       </xs:sequence>
	</xs:complexType>

    <xs:complexType  name="ACCOUNTSType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="INTER_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CUSTOMER_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>			
       </xs:sequence>
	</xs:complexType>
    <xs:element name="registraParametrizacionResponse">
    	<xs:complexType>
			<xs:sequence>	                      
	       </xs:sequence>
		</xs:complexType>
    </xs:element>
</xs:schema>