Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/AperturaDescuentoDocumento/xsd/aperturaDescuentoDocumento_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/aperturaDescuentoDocumento" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/aperturaDescuentoDocumento">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="GN_CODIGO_EMPRESA" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_CODIGO_AGENCIA" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_CODIGO_SUB_APLICACION" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_CODIGO_CLIENTE" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GD_FECHA_VENCIMIENTO" type="dateTime" db:index="5" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="GN_VALOR_INICIAL" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GV_CODIGO_APLIC_LINEA_CREDITO" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GN_CODIGO_AGENCIA_LC" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_CODIGO_SUBAPLIC_LINEA" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_NUMERO_LINEA_CREDITO" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_TASA_DE_CAMBIO" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_TASA_BASE" type="decimal" db:index="12" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_VALOR_ORIGINAL" type="decimal" db:index="13" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_TASA_TOTAL" type="decimal" db:index="14" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SPREAD_TASA" type="decimal" db:index="15" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GV_RELACION_MATEMATICA_1" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GN_PORCENTAJE_INTERES_MORA" type="decimal" db:index="17" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SPREAD_MORA" type="decimal" db:index="18" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GV_RELACION_MATEMATICA_2" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GN_TASA_BASE_MORA" type="decimal" db:index="20" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GV_DEBITO_AUTOMATICO" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GV_CODIGO_USUARIO" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GN_NUMERO_DOCUMENTO" type="decimal" db:index="23" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_NUMERO_DE_CUOTA" type="decimal" db:index="24" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GD_FECHA_DE_PAGO" type="dateTime" db:index="25" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="GN_VALOR_DOCUMENTO" type="decimal" db:index="26" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_CODIGO_AGENCIA_CUENTA" type="decimal" db:index="27" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GV_APLICACION_CUENTA" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GN_CODIGO_SUBAPLICACION_CUENTA" type="decimal" db:index="29" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_CODIGO_CUENTA" type="decimal" db:index="30" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_TIPO_INVERSION" type="decimal" db:index="31" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_CODIGO_DESTINO" type="decimal" db:index="32" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_NUMERO_GARANTIA" type="decimal" db:index="33" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_CODIGO_DEUDOR" type="decimal" db:index="34" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GV_CATEGORIA_RAS" type="string" db:index="35" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GV_CODIGO_DEPARTAMENTO" type="string" db:index="36" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GV_CODIGO_MUNICIPIO" type="string" db:index="37" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GV_CODIGO_ALDEA" type="string" db:index="38" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GN_NUMERO_NEGOCIACION" type="decimal" db:index="39" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SECUENCIA_MOVIMIENTO" type="decimal" db:index="40" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_GASTO_DESEMBOLSO" type="decimal" db:index="41" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GV_MENSAJE_ERROR" type="string" db:index="42" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="GN_NUMERO_NEGOCIACION" type="decimal" db:index="39" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SECUENCIA_MOVIMIENTO" type="decimal" db:index="40" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_GASTO_DESEMBOLSO" type="decimal" db:index="41" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GV_MENSAJE_ERROR" type="string" db:index="42" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>