Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/Resources/T24AccountMassives_inbound/xsd/T24ACCOUNT-ACCOUNT.xsd

<xsd:schema targetNamespace="http://www.temenos.com/T24/event/T24ACCOUNT/ACCOUNT" elementFormDefault="qualified" xmlns="http://www.temenos.com/T24/event/T24ACCOUNT/ACCOUNT" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon">
	<xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="Common-EventCommon.xsd"/>
	<xsd:element name="ACCOUNT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="eventCommon" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="postingRestrict" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="id" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="workingBalance" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="dateLastCrCust" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="dateLastDrCust" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="dateLastUpdate" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="openingDate" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="accountTitle1" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="accountTitle2" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="accountNo" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="inactivMarker" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="customer" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="customerNo" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="closureDate" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="category" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="auditDateTime" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="currency" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="shortTitle" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="altAcctIdGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="dateTimeList" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="POSTINGNAME" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="eventCommon" type="ns0:EventCommon"/>
	<xsd:element name="postingRestrict" type="xsd:string"/>
	<xsd:element name="id" type="xsd:string"/>
	<xsd:element name="workingBalance" type="xsd:decimal"/>
	<xsd:element name="dateLastCrCust" type="xsd:date"/>
	<xsd:element name="dateLastDrCust" type="xsd:date"/>
	<xsd:element name="dateLastUpdate" type="xsd:date"/>
	<xsd:element name="openingDate" type="xsd:date"/>
	<xsd:element name="accountTitle1" type="xsd:string"/>
	<xsd:element name="accountTitle2" type="xsd:string"/>
	<xsd:element name="accountNo" type="xsd:string"/>
	<xsd:element name="inactivMarker" type="xsd:string"/>
	<xsd:element name="customer" type="xsd:decimal"/>
	<xsd:element name="customerNo" type="xsd:string"/>
	<xsd:element name="closureDate" type="xsd:date"/>
	<xsd:element name="category" type="xsd:string"/>
	<xsd:element name="auditDateTime" type="xsd:string"/>
	<xsd:element name="currency" type="xsd:string"/>
	<xsd:element name="shortTitle" type="xsd:string"/>
	<xsd:element name="altAcctIdGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="altAcctId" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="dateTimeList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="dateTime" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="POSTINGNAME" type="xsd:string"/>
</xsd:schema>