Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_GetBatchStatusCoreBanking/Schemas/GetBatchStatusCoreBankingTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/massivePayment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mas="https://www.ficohsa.com/regional/massivePayment" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBRG_MassivePayment_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="getBatchStatusCoreBanking">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="Ticket" type="xsd:string"/>
        <xsd:element name="FileName" type="xsd:string"/>
        <xsd:element name="FileDirectory" type="xsd:string"/>
        <xsd:element name="ProcessType" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getBatchStatusCoreBankingResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="MassiveStatusDetail" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Status" type="xsd:string" minOccurs="0"/>
              <xsd:element name="TicketRef" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FileName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FileNameOut" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>