Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/FondoPensiones/AfiliaClienteAFP/xsd/afiliaClienteFondoPensionesTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/afiliaClienteFondoPensionesTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/afiliaClienteFondoPensionesTypes">
       
    <xs:simpleType name="stringMaxLength3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
       
       
	<xs:element name="afiliaClienteFondoPensionesRequest">
		<xs:complexType>
			<xs:sequence>
          		<xs:element name="ID" type="xs:string"/> 
				<xs:element name="CURRENCY" type="xs:string"/> 
				<xs:element name="START_DATE" type="xs:string"/> 
				<xs:element name="FREQUENCY" type="xs:string"/> 
				<xs:element name="ACCOUNT" type="xs:string"/> 
				<xs:element name="COLLECTION_DATE" type="xs:string"/> 
				<xs:element name="INDIVIDUAL_AMOUNT" type="xs:string"/> 
				<xs:element name="NUMBER_COLLECTIONS" type="xs:string"/> 
          	</xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="afiliaClienteFondoPensionesResponse">
		<xs:complexType>
			<xs:sequence>
          	</xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>