Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/BranchCashMgmt/xsd/BranchCashMgmtTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/branchCashMgmtTypes"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:bcm="http://www.ficohsa.com.hn/middleware.services/branchCashMgmtTypes"
	xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes"
		schemaLocation="../../General/xsd/GeneralTypes.xsd" />

	<xs:complexType name="cashTransferType">
		<xs:sequence>
			<xs:element name="OTHER_PARTY" type="gen:otherPartyType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cashTransferRspType">
		<xs:sequence>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- cashTransfer -->
	<xs:element name="cashTransfer" type="bcm:cashTransferType" />
	<xs:element name="cashTransferResponse" type="bcm:cashTransferRspType" />

	<!-- cashRequest -->
	<xs:element name="cashRequest" type="bcm:cashTransferType" />
	<xs:element name="cashRequestResponse" type="bcm:cashTransferRspType" />

	<!-- cashReception -->
	<xs:element name="cashReception" type="bcm:cashTransferType" />
	<xs:element name="cashReceptionResponse" type="bcm:cashTransferRspType" />

</xs:schema>