Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/SolicitudFinanciamientoTC/xsd/solicitudFinanciamientoTCTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/solicitudFinanciamientoTCTypes" 
		xmlns:def="http://www.ficohsa.com.hn/middleware.services/solicitudFinanciamientoTCTypes" > 
	
	<!-- calculationTypeClassType -->
    
    <xs:simpleType name="calculationTypeClassType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="CUSTOM"/>
           <xs:enumeration value="GENERIC"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- baseClassType -->
    
     <xs:complexType name="baseClassType">
        <xs:sequence>
        	<xs:choice>
	            <xs:element name="CUSTOMER_ID" type="xs:string"/>
	            <xs:element name="INTEREST_RATE" type="xs:decimal"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    <!-- numberType -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
	<!-- queryTypeClassType -->
	
    <xs:simpleType name="queryTypeClassType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="MONTHLY_PAYMENT"/>
           <xs:enumeration value="TOTAL_AMOUNT"/>
           <xs:enumeration value="NUMBER_OF_PAYMENTS"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- creditLineClassType -->
    
    <xs:simpleType name="creditLineClassType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="INTERNAL"/>
           <xs:enumeration value="EXTERNAL"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- insuranceClassType -->
    
    <xs:simpleType name="insuranceClassType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="FIXED"/>
           <xs:enumeration value="DECREASING"/>
        </xs:restriction>
    </xs:simpleType>
	
	<!-- exactMatchType -->
	
	<xs:simpleType name="exactMatchType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="YES"/>
           <xs:enumeration value="NO"/>
        </xs:restriction>
    </xs:simpleType>

	<!-- chargeBaseType -->
	
    <xs:complexType name="chargeBaseType">
        <xs:sequence>
            <xs:element name="NAME" type="def:nameClassType" />
            <xs:element name="VALUE" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- nameClassType -->
	
	<xs:simpleType name="nameClassType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="DISBURSEMENT"/>
           <xs:enumeration value="INSURANCE"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- baseType -->
    
    <xs:simpleType name="baseType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="CASH"/>
           <xs:enumeration value="CASHIERS_CHECK"/>
           <xs:enumeration value="ACCOUNT_CREDIT"/>
           <xs:enumeration value="ACH"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- expirationDateClassType -->
    
    <xs:simpleType name="expirationDateClassType">
        <xs:restriction base="xs:string">
            <xs:pattern 
            	value="([0][1-9]|[1][0-2])[0-9]{2}">
            </xs:pattern>
        </xs:restriction>
	</xs:simpleType>

    <!-- disbursementInfoClassType -->
    
    <xs:complexType name="disbursementInfoClassType">
        <xs:sequence>
           <xs:element name="TYPE" type="def:baseType"/>
           <xs:element name="KV_PAIRS" minOccurs="0">
	                <xs:complexType>
	                    <xs:sequence>
	                        <xs:element name="PAIR" type="def:pairClassType" maxOccurs="unbounded" />
	                    </xs:sequence>
	                </xs:complexType>
	            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <!-- pairClassType -->
    
    <xs:complexType name="pairClassType">
        <xs:sequence>
           <xs:element name="KEY" type="def:keyClassType"/>
           <xs:element name="VALUE" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- keyClassType -->
    
    <xs:simpleType name="keyClassType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="ADDRESS"/>
           <xs:enumeration value="CREDIT_ACCOUNT"/>
           <xs:enumeration value="DESTINATION_BANK"/>
           <xs:enumeration value="ACCOUNT_TYPE"/>
           <xs:enumeration value="CREDIT_CURRENCY"/>
           <xs:enumeration value="BENEFICIARY_NAME"/>
           <xs:enumeration value="BENEFICIARY_ID"/>
           <xs:enumeration value="TRANSACTION_DESCRIPTION"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- beneficiaryStatusType -->
    
    <xs:complexType name="beneficiaryStatusType">
        <xs:sequence>
            <xs:element name="ID" type="xs:string"/>
            <xs:element name="NAME" type="xs:string"/>
            <xs:element name="RELATIONSHIP" type="xs:string"/>
            <xs:element name="PERCENTAGE" type="def:percentageBaseType"/>
            <xs:element name="DATE_OF_BIRTH" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    
     <!-- percentageBaseType -->
    
    <xs:simpleType name="percentageBaseType">
        <xs:restriction base="xs:decimal">
        	<xs:minInclusive value="1"/>
        	<xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
    
    
    <!-- statusClassType -->
    
    <xs:simpleType name="statusClassType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="APPROVED"/>
           <xs:enumeration value="PENDING"/>
           <xs:enumeration value="REJECTED"/>
        </xs:restriction>
    </xs:simpleType>
    
    
 <!--#################################################################-->     
    			<!--OPERACION: CALCULA FINANCIAMIENTO TC -->

	<xs:element name="calculaFinanciamientoTC">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CALCULATION_TYPE" type="def:calculationTypeClassType"/>
				<xs:element name="BASE" type="def:baseClassType"/> 
				<xs:element name="CURRENCY" type="xs:string"/> 
				<xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="MONTHLY_PAYMENT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="NUMBER_OF_PAYMENTS" type="xs:integer" minOccurs="0"/>
				<xs:element name="QUERY_TYPE" type="def:queryTypeClassType"/> 
				<xs:element name="CREDIT_LINE" type="def:creditLineClassType"/>
				<xs:element name="INSURANCE" type="def:insuranceClassType"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
	
	<xs:element name="calculaFinanciamientoTCResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="EXACT_MATCH" type="def:exactMatchType" minOccurs="0"/>
				<xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="MONTHLY_PAYMENT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="NUMBER_OF_PAYMENTS" type="xs:integer" minOccurs="0"/> 
				<xs:element name="YEARLY_INT_RATE" type="xs:decimal" minOccurs="0"/> 
				<xs:element name="MONTHLY_INT_RATE" type="xs:decimal" minOccurs="0"/>
				<xs:element name="CHARGES" minOccurs="0">
	                <xs:complexType>
	                    <xs:sequence>
	                        <xs:element name="CHARGE" type="def:chargeBaseType" maxOccurs="unbounded"/>
	                    </xs:sequence>
	                </xs:complexType>
	            </xs:element>
            </xs:sequence> 
        </xs:complexType>
    </xs:element> 

	<!--##################################################################-->     
    			<!--OPERACION: SOLICITA FINANCIAMIENTO TC-->
    			
	<xs:element name="solicitaFinanciamientoTC">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string"/>
				<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/> 
				<xs:element name="EXPIRATION_DATE" type="def:expirationDateClassType" minOccurs="0"/> 
				<xs:element name="TOTAL_AMOUNT" type="xs:decimal"/>
				<xs:element name="CURRENCY" type="xs:string"/>
				<xs:element name="NUMBER_OF_PAYMENTS" type="xs:integer"/>
				<xs:element name="DISBURSEMENT_INFO" type="def:disbursementInfoClassType"/>
				<xs:element name="BENEFICIARIES" minOccurs="0">
	                <xs:complexType>
	                    <xs:sequence>
	                        <xs:element name="BENEFICIARY" type="def:beneficiaryStatusType" maxOccurs="unbounded" />
	                    </xs:sequence>
	                </xs:complexType>
	            </xs:element>
	            <xs:element name="EMAIL_ADDRESS" type="xs:string"/>
	            <xs:element name="CREDIT_LINE" type="def:creditLineClassType"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>
    
    <xs:element name="solicitaFinanciamientoTCResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/> 
				<xs:element name="AMOUNT_REQUESTED" type="xs:decimal" minOccurs="0"/>
				<xs:element name="NUMBER_OF_PAYMENTS" type="xs:integer" minOccurs="0"/>
				<xs:element name="MONTHLY_PAYMENT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="MONTHLY_INTEREST_RATE" type="xs:decimal" minOccurs="0"/> 
				<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/> 
				<xs:element name="AVAILABLE_AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="CHARGES" minOccurs="0">
	                <xs:complexType>
	                    <xs:sequence>
	                        <xs:element name="CHARGE" type="def:chargeBaseType" maxOccurs="unbounded" />
	                        <xs:element name="TOTAL" type="xs:decimal"/>
	                    </xs:sequence>
	                </xs:complexType>
	            </xs:element>
	            <xs:element name="STATUS" type="def:statusClassType" minOccurs="0"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>
</xs:schema>