Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaBuroExterno/xsd/consultaBuroExternoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaBuroExternoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaBuroExternoTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:element name="consultaBuroExterno">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="ID_TYPE" type="tns:stringMinLength1"/>
				<xs:element name="ID_VALUE" type="tns:stringMinLength1"/>     
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
		
		<xs:complexType name = "RESULT_LIST">
			<xs:sequence>
	            <xs:element name="TYPE_REFERENCE" type="xs:string" minOccurs="0" />
				<xs:element name="NUMBER_ASOC" type="xs:string" minOccurs="0"/>
				<xs:element name="NUM_REFER" type="xs:string" minOccurs="0"/>  
				<xs:element name="SHORT_DESCRIPTION_RELATION" type="xs:string" minOccurs="0"/>  
				<xs:element name="DATE_RELATION" type="xs:string" minOccurs="0"/>  
				<xs:element name="END_DATE_RELATION" type="xs:string" minOccurs="0"/>  
				<xs:element name="LIMIT_AMOUNT" type="xs:string" minOccurs="0"/> 
				<xs:element name="PAYMENT_NUMBER" type="xs:string" minOccurs="0"/>  
				<xs:element name="DESCRIPTION_PAY_METHOD" type="xs:string" minOccurs="0"/>  
				<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0"/>  
				<xs:element name="LAST_DATE_PAYMENT" type="xs:string" minOccurs="0"/>  
				<xs:element name="LAST_PAY_AMOUNT" type="xs:string" minOccurs="0"/>  
				<xs:element name="SHORT_DESCRIPTION" type="xs:string" minOccurs="0"/>
	            <xs:element name="CURRENT_BALANCE" type="xs:string" minOccurs="0" />
	            <xs:element name="NUMBER_DAYS_DELAYED" type="xs:string" minOccurs="0" />
	            <xs:element name="HISTORICAL" type="xs:string" minOccurs="0" />
	            <xs:element name="UPDATE" type="xs:string" minOccurs="0" />
	            <xs:element name="ECONOMIC_GROUP_CODE" type="xs:string" minOccurs="0" />
	            <xs:element name="TYPE_ASSOCIATION" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>

	<xs:element name="consultaBuroExternoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RESULTS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RESULT" type="tns:RESULT_LIST" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>