Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/CreaRemesa/xsd/creaRemesaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/creaRemesaTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creaRemesaTypes"
	version="1.0">

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="creaRemesa">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REMITTANCE_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="tns:stringMinLength1" />
							<xs:element name="DATE" type="xs:date" />
							<xs:element name="AMOUNT" type="xs:decimal" />
							<xs:element name="CURRENCY" type="tns:stringMinLength1" />
							<xs:element name="EXCHANGE_RATE" type="xs:decimal" />
							<xs:element name="SEQUENCE" type="xs:string" />
							<xs:element name="REF_AMOUNT" type="xs:decimal" />
							<xs:element name="REF_CURRENCY" type="tns:stringMinLength1" />
							<xs:element name="DATE_OF_ISSUE" type="xs:date" />
							<xs:element name="REF_EXCHANGE_RATE" type="xs:decimal" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BENEFICIARY_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="xs:string" minOccurs="0" />
							<xs:element name="NAME" type="tns:stringMinLength1" />
							<xs:element name="ID_TYPE" type="xs:string" minOccurs="0" />
							<xs:element name="CITY" type="xs:string" minOccurs="0" />
							<xs:element name="STATE" type="xs:string" minOccurs="0" />
							<xs:element name="COUNTRY" type="xs:string" minOccurs="0" />
							<xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0" />
							<xs:element name="OCCUPATION" type="xs:string"
								minOccurs="0" />
							<xs:element name="DATE_OF_BIRTH" type="xs:string"
								minOccurs="0" />
							<xs:element name="ADDRESS" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="REMITTER_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="xs:string" minOccurs="0" />
							<xs:element name="NAME" type="xs:string" minOccurs="0" />
							<xs:element name="CITY" type="xs:string" minOccurs="0" />
							<xs:element name="STATE" type="xs:string" minOccurs="0" />
							<xs:element name="COUNTRY" type="xs:string" minOccurs="0" />
							<xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0" />
							<xs:element name="ADDRESS" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="creaRemesaResponse" />
</xs:schema>