Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Customers/RequestorServices/WADL/CustomerRouter_PS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02" xmlns:cus="http://www.ficohsa.com.hn/middleware.services/customerTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:ns0="http://www.ficohsa.com.hn/middleware.services/customerLists" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/customerTypesHN" xmlns:ns2="http://www.ficohsa.com.hn/middleware.services/customerTypesNI" xmlns:ccc="http://www.ficohsa.com.hn/middleware.services/customerTypesCCHN" xmlns:ns3="http://www.ficohsa.com.hn/middleware.services/updateCustomerTypesNI">
  <doc title="GetCustomerAssets_PS">RestService</doc>
  <grammars>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsTypes" schemaLocation="../XSD/getCustomerDetailsTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaClientes" schemaLocation="../XSD/getCustomerAssets.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getCustomerAssets_params">
        <complexType>
          <sequence>
            <element name="customerId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="AssetType" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaPasivosCliente" schemaLocation="../XSD/getCustomerLiabilities.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getCustomerLiabilities_params">
        <complexType>
          <sequence>
            <element name="customerid" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="LiabilityType" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaTDCliente" schemaLocation="../XSD/getCustomerDebitCards.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getDebitCards_params">
        <complexType>
          <sequence>
            <element name="customerid" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="CardStatus" type="string"/>
            <element name="AccountNumber" type="string" minOccurs="0"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypes" schemaLocation="../XSD/customersTypes.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getCustomerDetails_params">
        <complexType>
          <sequence>
            <element name="customerId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="QueryType" type="string"/>
            <element name="SystemType" type="string"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaClienteOpi" schemaLocation="../XSD/getCustomerOpi.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getCustomerOpi_params">
        <complexType>
          <sequence>
            <element name="LegalId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="QueryType" type="string"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsRENAP" schemaLocation="../XSD/getCustomerDetailsRENAP.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getCustomerDetailsRENAP_params">
        <complexType>
          <sequence>
            <element name="customerId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="QueryType" type="string"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerLists" schemaLocation="../XSD/customersLists.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypesHN" schemaLocation="../XSD/createCustomerHN.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypesCCHN" schemaLocation="../XSD/createCustomerCCHN.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypesNI" schemaLocation="../XSD/createCustomerNI.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/validaClienteAbanks" schemaLocation="../XSD/validateCustomerAbanks.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="validateCustomerAbanks_params">
        <complexType>
          <sequence>
            <element name="customerId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="Language" type="string"/>
            <element name="IdentificationNumber" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/updateCustomerTypesNI" schemaLocation="../XSD/updateCustomerNI.xsd"/>
    </xsd:schema>
  </grammars>
  <resources>
    <resource path="/{customerId}/assets">
      <method name="GET" soa:wsdlOperation="getCustomerAssets">
        <request soa:paramElement="pns:getCustomerAssets_params" xmlns:pns="http://xmlns.oracle.com/GetCustomerAssets_PS">
          <param name="customerId" style="template" soa:expression="$msg.request/pns:customerId" type="xsd:string"/>
          <param name="SourceBank" style="query" soa:expression="$msg.request/pns:SourceBank" type="xsd:string"/>
          <param name="DestinationBank" style="query" soa:expression="$msg.request/pns:DestinationBank" type="xsd:string"/>
          <param name="AssetType" style="query" soa:expression="$msg.request/pns:AssetType" type="xsd:string"/>
          <param name="ApplicationId" style="query" soa:expression="$msg.request/pns:ApplicationId" type="xsd:string"/>
          <param name="Language" style="query" soa:expression="$msg.request/pns:Language" type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getCustomerAssetsResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/consultaClientes"/>
        </response>
      </method>
    </resource>
    <resource path="/{customerid}/liabilities">
      <method name="GET" soa:wsdlOperation="getCustomerLiabilities">
        <request soa:paramElement="pns:getCustomerLiabilities_params" xmlns:pns="http://xmlns.oracle.com/GetCustomerAssets_PS">
          <param name="customerid" style="template" soa:expression="$msg.request/pns:customerid" type="xsd:string"/>
          <param name="SourceBank" style="query" soa:expression="$msg.request/pns:SourceBank" type="xsd:string"/>
          <param name="DestinationBank" style="query" soa:expression="$msg.request/pns:DestinationBank" type="xsd:string"/>
          <param name="LiabilityType" style="query" soa:expression="$msg.request/pns:LiabilityType" type="xsd:string"/>
          <param name="ApplicationId" style="query" soa:expression="$msg.request/pns:ApplicationId" type="xsd:string"/>
          <param name="Language" style="query" soa:expression="$msg.request/pns:Language" type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getCustomerLiabilitiesResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/consultaPasivosCliente"/>
        </response>
      </method>
    </resource>
    <resource path="/{customerid}/debit-cards">
      <method name="GET" soa:wsdlOperation="getDebitCards">
        <request soa:paramElement="pns:getDebitCards_params" xmlns:pns="http://xmlns.oracle.com/GetCustomerAssets_PS">
          <param name="customerid" style="template" soa:expression="$msg.request/pns:customerid" type="xsd:string"/>
          <param name="SourceBank" style="query" soa:expression="$msg.request/pns:SourceBank" type="xsd:string"/>
          <param name="DestinationBank" style="query" soa:expression="$msg.request/pns:DestinationBank" type="xsd:string"/>
          <param name="ApplicationId" style="query" soa:expression="$msg.request/pns:ApplicationId" type="xsd:string"/>
          <param name="CardStatus" style="query" soa:expression="$msg.request/pns:CardStatus" type="xsd:string"/>
          <param name="AccountNumber" style="query" soa:expression="$msg.request/pns:AccountNumber" type="xsd:string"/>
          <param name="Language" style="query" soa:expression="$msg.request/pns:Language" type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getCustomerDebitCardsResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/consultaTDCliente"/>
        </response>
      </method>
    </resource>
    <resource path="/{LegalId}/opi">
      <method name="GET" soa:wsdlOperation="getCustomerOpi">
        <request soa:paramElement="pns:getCustomerOpi_params" xmlns:pns="http://xmlns.oracle.com/GetCustomerAssets_PS">
          <param name="LegalId" style="template" soa:expression="$msg.request/pns:LegalId" type="xsd:string"/>
          <param name="SourceBank" style="query" soa:expression="$msg.request/pns:SourceBank" type="xsd:string"/>
          <param name="DestinationBank" style="query" soa:expression="$msg.request/pns:DestinationBank" type="xsd:string"/>
          <param name="ApplicationId" style="query" soa:expression="$msg.request/pns:ApplicationId" type="xsd:string"/>
          <param name="QueryType" style="query" soa:expression="$msg.request/pns:QueryType" type="xsd:string"/>
          <param name="Language" style="query" soa:expression="$msg.request/pns:Language" type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getCustomerOpiResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/consultaClienteOpi"/>
        </response>
      </method>
    </resource>
    <resource path="/">
      <method name="POST" soa:wsdlOperation="createCustomer">
        <request>
          <representation mediaType="application/json" element="cns:createCustomerRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:createCustomerResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/automatic-collections">
      <method name="POST" soa:wsdlOperation="automaticCollections">
        <request>
          <representation mediaType="application/json" element="cns:automaticCollectionsRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:automaticCollectionsResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/{customerId}">
      <method name="GET" soa:wsdlOperation="getCustomerDetails">
        <request soa:paramElement="pns:getCustomerDetails_params" xmlns:pns="http://xmlns.oracle.com/GetCustomerAssets_PS">
          <param name="customerId" style="template" soa:expression="$msg.request/pns:customerId" type="xsd:string"/>
          <param name="SourceBank" style="query" soa:expression="$msg.request/pns:SourceBank" type="xsd:string"/>
          <param name="DestinationBank" style="query" soa:expression="$msg.request/pns:DestinationBank" type="xsd:string"/>
          <param name="ApplicationId" style="query" soa:expression="$msg.request/pns:ApplicationId" type="xsd:string"/>
          <param name="QueryType" style="query" soa:expression="$msg.request/pns:QueryType" type="xsd:string"/>
          <param name="SystemType" style="query" soa:expression="$msg.request/pns:SystemType" type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getCustomerDetailsResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/{customerId}/update-customer">
      <method name="PUT" soa:wsdlOperation="updateCustomer">
        <request>
          <param name="customerId" style="template" soa:expression="$property.customerId" type="xsd:string"/>
          <representation mediaType="application/json" element="cns:updateCustomerRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:updateCustomerResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/Document">
      <method name="POST" soa:wsdlOperation="document">
        <request>
          <representation mediaType="application/json" element="cns:documentRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:documentResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/unity-form">
      <method name="PUT" soa:wsdlOperation="unityform">
        <request>
          <representation mediaType="application/json" element="cns:unityFormRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:unityFormResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/DocumentQuery">
      <method name="POST" soa:wsdlOperation="documentQuery">
        <request>
          <representation mediaType="application/json" element="cns:documentQueryRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:documentQueryResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/DocumentComposition">
      <method name="PUT" soa:wsdlOperation="documentComposition">
        <request>
          <representation mediaType="application/json" element="cns:DocumentCompositionReq" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:DocumentCompositionRsp" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/{customerId}/RENAP">
      <method name="GET" soa:wsdlOperation="getCustomerDetailsRENAP">
        <request soa:paramElement="pns:getCustomerDetailsRENAP_params" xmlns:pns="http://xmlns.oracle.com/GetCustomerAssets_PS">
          <param name="customerId" style="template" soa:expression="$msg.request/pns:customerId" type="xsd:string"/>
          <param name="SourceBank" style="query" soa:expression="$msg.request/pns:SourceBank" type="xsd:string"/>
          <param name="DestinationBank" style="query" soa:expression="$msg.request/pns:DestinationBank" type="xsd:string"/>
          <param name="ApplicationId" style="query" soa:expression="$msg.request/pns:ApplicationId" type="xsd:string"/>
          <param name="QueryType" style="query" soa:expression="$msg.request/pns:QueryType" type="xsd:string"/>
          <param name="Language" style="query" soa:expression="$msg.request/pns:Language" type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getCustomerDetailsRENAPResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsRENAP"/>
        </response>
      </method>
    </resource>
    <resource path="/customerListsPetition">
      <method name="POST" soa:wsdlOperation="customerListsPetition">
        <request>
          <representation mediaType="application/json" element="cns:customerListPetitionRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerLists"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:customerListPetitionResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerLists"/>
        </response>
      </method>
    </resource>
    <resource path="/getListsPetitionStatus">
      <method name="POST" soa:wsdlOperation="getListsPetitionStatus">
        <request>
          <representation mediaType="application/json" element="cns:getListsPetitionStatusRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerLists"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getListsPetitionStatusResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerLists"/>
        </response>
      </method>
    </resource>
    <resource path="/customers_cc">
      <method name="POST" soa:wsdlOperation="createCustomersCc">
        <request>
          <representation mediaType="application/json" element="cns:createCustomerRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypesCCHN"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:createCustomerResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypesCCHN"/>
        </response>
      </method>
    </resource>
    <resource path="/customers_pl">
      <method name="POST" soa:wsdlOperation="createCustomerPl">
        <request>
          <representation mediaType="application/json" element="cns:createCustomerRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypesHN"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:createCustomerResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypesHN"/>
        </response>
      </method>
    </resource>
    <resource path="/customers_ni">
      <method name="POST" soa:wsdlOperation="createCustomersNI">
        <request>
          <representation mediaType="application/json" element="cns:createCustomerRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypesNI"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:createCustomerResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/customerTypesNI"/>
        </response>
      </method>
    </resource>
    <resource path="/{customerId}/validate">
      <method name="GET" soa:wsdlOperation="validateCustomerAbanks">
        <request soa:paramElement="pns:validateCustomerAbanks_params" xmlns:pns="http://xmlns.oracle.com/GetCustomerAssets_PS">
          <param name="customerId" style="template" soa:expression="$msg.request/pns:customerId" type="xsd:string"/>
          <param name="SourceBank" style="query" soa:expression="$msg.request/pns:SourceBank" type="xsd:string"/>
          <param name="DestinationBank" style="query" soa:expression="$msg.request/pns:DestinationBank" type="xsd:string"/>
          <param name="ApplicationId" style="query" soa:expression="$msg.request/pns:ApplicationId" type="xsd:string"/>
          <param name="Language" style="query" soa:expression="$msg.request/pns:Language" type="xsd:string"/>
          <param name="IdentificationNumber" style="query" soa:expression="$msg.request/pns:IdentificationNumber" type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:validateCustomerAbanksResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/validaClienteAbanks"/>
        </response>
      </method>
    </resource>
    <resource path="/{customerId}/update-customerNI">
      <method name="PUT" soa:wsdlOperation="updateCustomerNI">
        <request>
          <param name="customerId" style="template" soa:expression="$property.customerId" type="xsd:string"/>
          <representation mediaType="application/json" element="cns:updateCustomerRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/updateCustomerTypesNI"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:updateCustomerResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/updateCustomerTypesNI"/>
        </response>
      </method>
    </resource>
  </resources>
</application>