Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FPC/listadoInversiones/xsd/listadoInversionesFPC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/listadoInversionesFPC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/listadoInversionesFPC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_COD_PRODUCTO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_COD_SUBPRODUCTO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_COD_TIP_SALDOS" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="T_INVERSIONES" type="db:CA.CA_WEB_SERVICE_TABX94934X6X4" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CODIGO_ERROR" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_ERROR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CA.CA_WEB_SERVICE_TABX94934X6X4">
      <sequence>
         <element name="T_INVERSIONES_ITEM" type="db:CA.CA_WEB_SERVICE_TYPE_INVERSION" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="CA.CA_WEB_SERVICE_TYPE_INVERSION">
      <sequence>
         <element name="COD_INVERSION" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCION" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string80">
      <restriction base="string">
         <maxLength value="80"/>
      </restriction>
   </simpleType>
</schema>