Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/Autenticacion/wsdl/autenticacionInternaPS.wsdl

<wsdl:definitions name="autenticacionInternaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aute="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
 <wsdl:types>
  <xsd:schema>
   <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
  </xsd:schema>
  <xsd:schema>
   <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaTypes" schemaLocation="../xsd/autenticacionInternaTypes.xsd"/>
  </xsd:schema>
 </wsdl:types>

 <wsdl:message name="validacionTokenRequest">
  <wsdl:part element="aute:validacionToken" name="parameters"/>
  <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
 </wsdl:message>
 <wsdl:message name="validacionTokenResponse">
  <wsdl:part element="aute:validacionTokenResponse" name="result"/>
  <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
 </wsdl:message>
 
  <wsdl:message name="validacionBasicaRequest">
  <wsdl:part element="aute:validacionBasica" name="parameters"/>
  <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
 </wsdl:message>
 <wsdl:message name="validacionBasicaResponse">
  <wsdl:part element="aute:validacionBasicaResponse" name="result"/>
  <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
 </wsdl:message>
 
 <wsdl:portType name="autenticacionInternaPS">
  <wsdl:operation name="validacionToken" parameterOrder="parameters RequestHeader ResponseHeader">
   <wsdl:input message="fic:validacionTokenRequest"/>
   <wsdl:output message="fic:validacionTokenResponse"/>
  </wsdl:operation>
  <wsdl:operation name="validacionBasica" parameterOrder="parameters RequestHeader ResponseHeader">
   <wsdl:input message="fic:validacionBasicaRequest"/>
   <wsdl:output message="fic:validacionBasicaResponse"/>
  </wsdl:operation>
 </wsdl:portType>

 <wsdl:binding name="autenticacionInternaPSSOAP" type="fic:autenticacionInternaPS">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="validacionToken">
   <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaPS/autenticacionInterna"/>
   <wsdl:input>
    <soap:body use="literal" parts="parameters"/>
    
    <soap:header message="fic:validacionTokenRequest" part="RequestHeader" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="result"/>
    <soap:header message="fic:validacionTokenResponse" part="ResponseHeader" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="validacionBasica">
   <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaPS/autenticacionInterna"/>
   <wsdl:input>
    <soap:body use="literal" parts="parameters"/>
    
    <soap:header message="fic:validacionBasicaRequest" part="RequestHeader" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="result"/>
    <soap:header message="fic:validacionBasicaResponse" part="ResponseHeader" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>

 <wsdl:service name="autenticacionInternaPS">
  <wsdl:port binding="fic:autenticacionInternaPSSOAP" name="autenticacionInternaPSSOAP">
   <soap:address location="http://mwomnicanal:8003/Middleware/OperationsAndExecution/CustomerDeposits/autenticacionInterna"/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>