Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/Resources/ConsultaCliente/xsd/consultaClientesTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaClientesTypes" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaClientesTypes">
  <xs:element name="consultaClienteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CUSTOMER_ID_TYPE">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CUSTOMER_ID_VALUE">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
        <xs:element name="MNEMONIC" type="xs:string" minOccurs="0"/>
        <xs:element name="IDENTIFICATION_INFO" type="con:legalIdentificationListType" minOccurs="0"/>
        <xs:element name="GIVEN_NAMES" type="xs:string" minOccurs="0"/>
        <xs:element name="FAMILY_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="FULL_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="NAME_OF_BUSINESS" type="xs:string" minOccurs="0"/>
        <xs:element name="COMMERCIAL_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="LEGAL_HOLDER_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="SHORT_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="DATE_OF_BIRTH" type="xs:string" minOccurs="0"/>
        <xs:element name="GENDER" type="xs:string" minOccurs="0"/>
        <xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
        <xs:element name="RESIDENCE" type="xs:string" minOccurs="0"/>
        <xs:element name="SECTOR" type="xs:string" minOccurs="0"/>
        <xs:element name="SECTOR_DESCRIPTION" type="xs:string" minOccurs="0"/>
        <xs:element name="INDUSTRY" type="xs:string" minOccurs="0"/>
        <xs:element name="INDUSTRY_DESCRIPTION" type="xs:string" minOccurs="0"/>
        <xs:element name="FGN_CCY_GEN_TYP" type="xs:string" minOccurs="0"/>
        <xs:element name="TARGET" type="xs:string" minOccurs="0"/>
        <xs:element name="TARGET_DESCRIPTION" type="xs:string" minOccurs="0"/>
        <xs:element name="MARITAL_STATUS" type="xs:string" minOccurs="0"/>
        <xs:element name="CUSTOMER_TYPE" type="xs:string" minOccurs="0"/>
        <xs:element name="CUSTOMER_STATUS" type="xs:string" minOccurs="0"/>
        <xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
        <xs:element name="OCCUPATION" type="xs:string" minOccurs="0"/>
        <xs:element name="EMPLOYMENT_STATUS" type="xs:string" minOccurs="0"/>
        <xs:element name="EMPLOYERS_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="MARRIED_LAST_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="LEGAL_REP_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="LEGAL_REP_ID" type="xs:string" minOccurs="0"/>
        <xs:element name="TYPE_OF_COMPANY" type="xs:string" minOccurs="0"/>
        <xs:element name="PROFESSION" type="xs:string" minOccurs="0"/>
        <xs:element name="NUMBER_OF_DEED" type="xs:string" minOccurs="0"/>
        <xs:element name="LEGAL_REP_HOME_PHONE" type="xs:string" minOccurs="0"/>
        <xs:element name="TYPE_OF_PERSON" type="xs:string" minOccurs="0"/>
        <xs:element name="INPUT_USER" type="xs:string" minOccurs="0"/>
        <xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
        <xs:element name="ACCOUNT_OFFICER" type="xs:string" minOccurs="0"/>
        <xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
        <xs:element name="NO_OF_DEPENDENTS" type="xs:string" minOccurs="0"/>
        <xs:element name="EDUCATION_LEVEL" type="xs:string" minOccurs="0"/>
        <xs:element name="SPOUSE_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="CUSTOMER_SINCE" type="xs:string" minOccurs="0"/>
        <xs:element name="ECONOMIC_GROUP_ID" type="xs:string" minOccurs="0"/>
        <xs:element name="ECONOMIC_GROUP_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="PHONE_INFO" type="con:phoneNumberListType" minOccurs="0"/>
        <xs:element name="ADDRESS_INFO" type="con:addressListType" minOccurs="0"/>
        <xs:element name="EMAIL_INFO" type="con:emailListType" minOccurs="0"/>
        <xs:element name="JOB_INFO" type="con:jobListType" minOccurs="0"/>
        <xs:element name="SECTORIZATION_INFO" type="con:sectorizationListType" minOccurs="0"/>
        <xs:element name="CONSTITUTION_DATE" type="xs:string" minOccurs="0"/>
        <xs:element name="OPERATION_COUNTRY_INFO" type="con:operationCountryListType" minOccurs="0"/>
        <xs:element name="IS_LOCAL_OPERATION" type="xs:string" minOccurs="0"/>
        <xs:element name="OPERATION_DEPARTMENTS_INFO" type="con:operationDepartmentsListType" minOccurs="0"/>
        <xs:element name="RESOURCE_ORIGIN" type="xs:string" minOccurs="0"/>
        <xs:element name="IS_ECONOMIC_GROUP" type="xs:string" minOccurs="0"/>
        <xs:element name="IS_PUBLIC_CHARGE" type="xs:string" minOccurs="0"/>
        <xs:element name="PUBLIC_CHARGE_DESCRIPTION_INFO" type="con:publicChargeDescriptionListType" minOccurs="0"/>
        <xs:element name="PUBLIC_CHARGE_INSTITUTION" type="xs:string" minOccurs="0"/>
        <xs:element name="LEGAL_IDENTIFICATION_EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
        <xs:element name="OTHER_NATIONALITIES_INFO" type="con:otherNationalitiesListType" minOccurs="0"/>
        <xs:element name="DEPENDENCY_ID" type="xs:string" minOccurs="0"/>
        <xs:element name="DEPENDENCY_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="DEPENDENCY_LASTNAME" type="xs:string" minOccurs="0"/>
        <xs:element name="TOTAL_INCOME" type="xs:string" minOccurs="0"/>
        <xs:element name="GIRO_NEGOCIO" type="xs:string" minOccurs="0"/>
        <xs:element name="ECONOMICGROUP" type="xs:string" minOccurs="0"/>
        <xs:element name="LEGAL_ISSUE_DATE" type="xs:string" minOccurs="0"/>
        <xs:element name="RTN" type="xs:string" minOccurs="0"/>
        <xs:element name="PLACE_OF_BIRTH" type="xs:string" minOccurs="0"/>
        <xs:element name="PLACE_OF_BIRTH_DESC" type="xs:string" minOccurs="0"/>
        <xs:element name="TOWN_COUNTRY" type="xs:string" minOccurs="0"/>
        <xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
        <xs:element name="DNFBP" type="xs:string" minOccurs="0"/>
        <xs:element name="DNFBP_PROFESSION" type="xs:string" minOccurs="0"/>
        <xs:element name="DEPENDENT_INFO" type="con:dependentListType" minOccurs="0"/>
        <xs:element name="INCOME_CURRENCY" type="con:incomeCurrencyListType" minOccurs="0"/>
        <xs:element name="OTHERS_INCOME" type="con:othersIncomeListType" minOccurs="0"/>
        <xs:element name="LEGALISED_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="LEGALISED_NAME_DESC" type="xs:string" minOccurs="0"/>
        <xs:element name="PROFESION_TRADE" type="xs:string" minOccurs="0"/>
        <xs:element name="PROFESION_TRADE_DESC" type="xs:string" minOccurs="0"/>
        <xs:element name="REFERENCES_INFO" type="con:referencesInfoListType" minOccurs="0"/>
        <xs:element name="INTERFACE_USER" type="xs:string" minOccurs="0"/>
        <xs:element name="TYPE_MERCHANT" type="xs:string" minOccurs="0"/>
        <xs:element name="SME_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="IS_MERCHANT_COMPANY" type="xs:string" minOccurs="0"/>
        <xs:element name="BELONGS_USA_BOARD" type="xs:string" minOccurs="0"/>
        <xs:element name="DESIGNATED_NON_FINANCIAL_PROFESSION" type="xs:string" minOccurs="0"/>
        <xs:element name="FISCAL_CLOSING_SALES" type="con:fiscalClosingSalesType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="NEW_PRODUCTS_DETAILS" type="con:newProductsDetailsType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="IS_RENEWING_PRODUCT" type="xs:string" minOccurs="0"/>
        <xs:element name="RENEWAL_DETAILS" type="con:renewalDetailsType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="INHERITANCE_DETAILS" type="con:inheritanceDetailsType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="IS_STATE_CONTRACTOR" type="xs:string" minOccurs="0"/>
        <xs:element name="CONTRACT_DETAILS" type="con:contractDetailsType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="IS_NGO_NPO" type="xs:string" minOccurs="0"/>
        <xs:element name="DONATIONS_DETAILS" type="con:donationsDetailsType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="MONTHLY_SALES" type="con:monthlySalesType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="OTHER_INCOME_DETAILS" type="con:otherIncomeDetailsType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="IS_PEP_BY_RELATION" type="xs:string" minOccurs="0"/>
        <xs:element name="PEP_DETAILS" type="con:pepDetailsType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="CLIENT_RISK" type="xs:string" minOccurs="0"/>
        <xs:element name="FAXES_INFO" type="con:faxListType" minOccurs="0"/>
        <xs:element name="RECORD_STATUS" type="xs:string" minOccurs="0"/>
        <xs:element name="COSTUMER_TYPE" type="xs:string" minOccurs="0"/>
        <xs:element name="OWN_BUSINESS_DETAILS" type="con:ownBusinessDetailsType" minOccurs="0"/>
        <xs:element name="COSTUMER_FATCA" type="xs:string" minOccurs="0"/>
        <xs:element name="INCOME_VALUE" type="xs:decimal" minOccurs="0"/>
        <xs:element name="EXPENSES_VALUE" type="xs:decimal" minOccurs="0"/>
        <xs:element name="BUSINESS_RELT_PURPOSE" type="xs:string" minOccurs="0"/>
        <xs:element name="QUALITY_CUSTOMER_BEHAVIOR" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--OTHERS INCOME TYPES-->
  <!--##############################-->
  <xs:complexType name="referencesInfoListType">
    <xs:sequence>
      <xs:element name="REFERENCES_INFO_ITEM" type="con:referencesInfoType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="referencesInfoType">
    <xs:sequence>
      <xs:element name="NAMES" type="xs:string" minOccurs="0"/>
      <xs:element name="LAST_NAMES" type="xs:string" minOccurs="0"/>
      <xs:element name="RELATIONSHIP" type="xs:string" minOccurs="0"/>
      <xs:element name="RELATIONSHIP_DESC" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONE" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OTHERS INCOME TYPES-->
  <!--##############################-->
  <xs:complexType name="othersIncomeListType">
    <xs:sequence>
      <xs:element name="OTHERS_INCOME_ITEM" type="con:othersIncomeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="othersIncomeType">
    <xs:sequence>
      <xs:element name="SOURCES" type="xs:string" minOccurs="0"/>
      <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--INCOME CURRENCY TYPES-->
  <!--##############################-->
  <xs:complexType name="incomeCurrencyListType">
    <xs:sequence>
      <xs:element name="INCOME_CURRENCY_ITEM" type="con:incomeCurrencyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="incomeCurrencyType">
    <xs:sequence>
      <xs:element name="INCOME_CCY" type="xs:string" minOccurs="0"/>
      <xs:element name="INCOME_CCY_DESC" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--DEPENDENT TYPES-->
  <!--##############################-->
  <xs:complexType name="dependentListType">
    <xs:sequence>
      <xs:element name="DEPENDENT_INFO_ITEM" type="con:dependentType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dependentType">
    <xs:sequence>
      <xs:element name="NAME" type="xs:string" minOccurs="0"/>
      <xs:element name="PROFESSION" type="xs:string" minOccurs="0"/>
      <xs:element name="PROFESSION_DESC" type="xs:string" minOccurs="0"/>
      <xs:element name="RELATIONSHIP" type="xs:string" minOccurs="0"/>
      <xs:element name="RELATIONSHIP_DESC" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OTHER NATIONALITIES TYPES-->
  <!--##############################-->
  <xs:complexType name="otherNationalitiesListType">
    <xs:sequence>
      <xs:element name="NATIONALITIES_INFO_ITEM" type="con:otherNationalitiesType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="otherNationalitiesType">
    <xs:sequence>
      <xs:element name="OTHER_NATIONALITY" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--PUBLIC CHARGE DESCRIPTION TYPES-->
  <!--##############################-->
  <xs:complexType name="publicChargeDescriptionListType">
    <xs:sequence>
      <xs:element name="PUBLIC_CHARGE_DESCRIPTION_ITEM" type="con:publicChargeDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="publicChargeDescriptionType">
    <xs:sequence>
      <xs:element name="PUBLIC_CHARGE_DESCRIPTION" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OPERATION DEPARTMENTS INFORMATION TYPES-->
  <!--##############################-->
  <xs:complexType name="operationDepartmentsListType">
    <xs:sequence>
      <xs:element name="OPERATION_DEPARTMENTS_ITEM" type="con:operationDepartmentsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operationDepartmentsType">
    <xs:sequence>
      <xs:element name="OPERATION_DEPARTMENT" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OPERATION COUNTRY INFORMATION TYPES-->
  <!--##############################-->
  <xs:complexType name="operationCountryListType">
    <xs:sequence>
      <xs:element name="OPERATION_COUNTRY_ITEM" type="con:operationCountryType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operationCountryType">
    <xs:sequence>
      <xs:element name="OPERATION_COUNTRY" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--SECTORIZATION INFORMATION TYPES-->
  <!--##############################-->
  <xs:complexType name="sectorizationListType">
    <xs:sequence>
      <xs:element name="SECTORIZATION_ITEM" type="con:sectorizationType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sectorizationType">
    <xs:sequence>
      <xs:element name="SECTORIZATION_TYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="SECTORIZATION_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="SECTORIZATION_DESC" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--PHONE NUMBER INFORMATION TYPES-->
  <!--##############################-->
  <xs:complexType name="phoneNumberListType">
    <xs:sequence>
      <xs:element name="PHONE_NUMBER_ITEM" type="con:phoneNumberType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="phoneNumberType">
    <xs:sequence>
      <xs:element name="PHONE_LOCATION" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONE_TYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONE_AREA_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0"/>
      <xs:element name="IS_DEFAULT" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONE_ORDER" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONE_EXTENSION" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONE_REFERRENCE" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--IDENTIFICATION INFORMATION TYPES-->
  <!--################################-->
  <xs:complexType name="legalIdentificationListType">
    <xs:sequence>
      <xs:element name="LEGAL_IDENTIFICATION_ITEM" type="con:legalIdentificationType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="legalIdentificationType">
    <xs:sequence>
      <!--Field for indicate the name (type) of the legal document-->
      <xs:element name="LEGAL_DOCUMENT_NAME" type="xs:string" minOccurs="0"/>
      <!--Field for indicate number of the legal id document-->
      <xs:element name="LEGAL_ID" type="xs:string"/>
      <!--Field for indicate expiration date of the legal id document-->
      <xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--ADDRESS INFORMATION TYPES-->
  <!--#########################-->
  <xs:complexType name="addressListType">
    <xs:sequence>
      <xs:element name="ADDRESS_ITEM" type="con:addressType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element name="ADDRESS_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="ADDRESS_TYPE" type="xs:string"/>
      <xs:element name="POBOX" type="xs:string" minOccurs="0"/>
      <xs:element name="ZIPCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPARTMENT_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="MUNICIPALITY_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="CITY_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="DISTRICT_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="ADDRESS_LINE_1" type="xs:string" minOccurs="0"/>
      <xs:element name="ADDRESS_LINE_2" type="xs:string" minOccurs="0"/>
      <xs:element name="ADDRESS_LINE_3" type="xs:string" minOccurs="0"/>
      <xs:element name="ADDRESS_LINE_4" type="xs:string" minOccurs="0"/>
      <xs:element name="ADDRESS_LINE_5" type="xs:string" minOccurs="0"/>
      <xs:element name="IS_MAIN_ADDRESS" type="xs:string" minOccurs="0"/>
      <xs:element name="COLONY_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="COLONY_CODE_DESC" type="xs:string" minOccurs="0"/>
      <xs:element name="AVENUE" type="xs:string" minOccurs="0"/>
      <xs:element name="ADDRESS_STREET" type="xs:string" minOccurs="0"/>
      <xs:element name="BLOCK" type="xs:string" minOccurs="0"/>
      <xs:element name="HOUSE_NUMBER" type="xs:string" minOccurs="0"/>
      <xs:element name="ADDRESS_REFERENCES" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPARTMENT_CODE_DESC" type="xs:string" minOccurs="0"/>
      <xs:element name="CITY_CODE_DESC" type="xs:string" minOccurs="0"/>
      <xs:element name="ZONE" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--EMAIL ADDRESS INFORMATION TYPES-->
  <!--###############################-->
  <xs:complexType name="emailListType">
    <xs:sequence>
      <xs:element name="EMAIL_ITEM" type="con:emailType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="emailType">
    <xs:sequence>
      <xs:element name="EMAIL_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="EMAIL_ADDRESS" type="xs:string" minOccurs="0"/>
      <xs:element name="IS_DEFAULT" type="xs:string" minOccurs="0"/>
      <xs:element name="IS_MAIN_EMAIL" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--JOB INFORMATION TYPES-->
  <!--###############################-->
  <xs:complexType name="jobListType">
    <xs:sequence>
      <xs:element name="JOB_ITEM" type="con:jobType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jobType">
    <xs:sequence>
      <xs:element name="EMPLOYER_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="EMPLOYER_NAME" type="xs:string" minOccurs="0"/>
      <xs:element name="JOB_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="JOB_DESCRIPTION" type="xs:string" minOccurs="0"/>
      <xs:element name="INCOME_TYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="SALARY_CURRENCY" type="xs:string" minOccurs="0"/>
      <xs:element name="SALARY_AMOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="START_DATE" type="xs:string" minOccurs="0"/>
      <xs:element name="END_DATE" type="xs:string" minOccurs="0"/>
      <xs:element name="IS_CURRENT_JOB" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OTHERS FISCAL CLOSING SALES TYPES-->
  <!--##############################-->
  <xs:complexType name="fiscalClosingSalesType">
    <xs:sequence>
      <xs:element name="LOCAL_AMOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="YEAR" type="xs:string" minOccurs="0"/>
      <xs:element name="FOREIGN_AMOUNT" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OTHERS NEW PRODUCTS DETAILS TYPES-->
  <!--##############################-->
  <xs:complexType name="newProductsDetailsType">
    <xs:sequence>
      <xs:element name="HAS_NEW_PRODUCTS" type="xs:string" minOccurs="0"/>
      <xs:element name="FUNDS_ORIGIN" type="xs:string" minOccurs="0"/>
      <xs:element name="TYPE_OF_INSTRUMENT" type="xs:string" minOccurs="0"/>
      <xs:element name="COMMENTARY" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OTHERS RENEWAL DETAILS TYPES-->
  <!--##############################-->
  <xs:complexType name="renewalDetailsType">
    <xs:sequence>
      <xs:element name="FUNDS_ORIGIN" type="xs:string" minOccurs="0"/>
      <xs:element name="YEARS_OF_INVESTMENT" type="xs:string" minOccurs="0"/>
      <xs:element name="INVESTMENT_HISTORY" type="xs:string" minOccurs="0"/>
      <xs:element name="COMMENTARY" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OTHERS  INHERITANCE DETAILS TYPES-->
  <!--##############################-->
  <xs:complexType name="inheritanceDetailsType">
    <xs:sequence>
      <xs:element name="RECEIVED_INHERITANCE" type="xs:string" minOccurs="0"/>
      <xs:element name="HERITAGE_ORIGIN" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OTHERS  CONTRACT DETAILS TYPES-->
  <!--##############################-->
  <xs:complexType name="contractDetailsType">
    <xs:sequence>
      <xs:element name="TYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="NAME" type="xs:string" minOccurs="0"/>
      <xs:element name="ADDRESS" type="xs:string" minOccurs="0"/>
      <xs:element name="FUNDS_DESTINATION" type="xs:string" minOccurs="0"/>
      <xs:element name="BENEFICIARIES" type="con:beneficiariesType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OTHERS BENEFICIARIES TYPES-->
  <!--##############################-->
  <xs:complexType name="beneficiariesType">
    <xs:sequence>
      <xs:element name="BENEFICIARY" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OTHERS DONATIONS DETAILS TYPES-->
  <!--##############################-->
  <xs:complexType name="donationsDetailsType">
    <xs:sequence>
      <xs:element name="TYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="NAME" type="xs:string" minOccurs="0"/>
      <xs:element name="ADDRESS" type="xs:string" minOccurs="0"/>
      <xs:element name="LOCAL_AMOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="FREQ_PAYMENTS_RECEIVED" type="xs:string" minOccurs="0"/>
      <xs:element name="AVERAGE_PAYMENT" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OTHERS MONTHLY SALES TYPES-->
  <!--##############################-->
  <xs:complexType name="monthlySalesType">
    <xs:sequence>
      <xs:element name="VOLUME" type="xs:string" minOccurs="0"/>
      <xs:element name="REVENUE" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OTHERS OTHER INCOME DETAILS TYPES-->
  <!--##############################-->
  <xs:complexType name="otherIncomeDetailsType">
    <xs:sequence>
      <xs:element name="INCOME" type="xs:string" minOccurs="0"/>
      <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPARTMENT" type="xs:string" minOccurs="0"/>
      <xs:element name="INCOME_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="INCOME_TYPE_CODE" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OTHERS PEP DETAILS TYPES-->
  <!--##############################-->
  <xs:complexType name="pepDetailsType">
    <xs:sequence>
      <xs:element name="RELATIONS" type="con:relationsType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TYPE_OF_RELATIONSHIP" type="xs:string" minOccurs="0"/>
      <xs:element name="IS_DIRECT" type="xs:string" minOccurs="0"/>
      <xs:element name="IS_INDIRECT" type="xs:string" minOccurs="0"/>
      <xs:element name="IS_RELATED" type="xs:string" minOccurs="0"/>
      <xs:element name="LAST_UPDATE_DATE" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--OTHERS RELATIONS TYPES-->
  <!--##############################-->
  <xs:complexType name="relationsType">
    <xs:sequence>
      <xs:element name="PRODUCT" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--FAX INFORMATION TYPES-->
  <!--###############################-->
  <xs:complexType name="faxListType">
    <xs:sequence>
      <xs:element name="FAX_ITEM" type="con:faxType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="faxType">
    <xs:sequence>
      <xs:element name="FAX_ORDER" type="xs:string" minOccurs="0"/>
      <xs:element name="FAX" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
    <!--OWN BUSINESS DETAILS TYPES-->
  <!--###############################-->
  <xs:complexType name="ownBusinessDetailsType">
    <xs:sequence>
      <xs:element name="BUSINESS_ITEM" type="con:businessItemTypes" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="businessItemTypes">
    <xs:sequence>
      <xs:element name="NAME" type="xs:string" minOccurs="0"/>
      <xs:element name="VALUE" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  
</xs:schema>