Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaComportamientoCuenta/wsdl/consultaComportamientoCuentaPS.wsdl

<wsdl:definitions name="consultaComportamientoCuentaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaPS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
	
  <wsdl:types>
    <xsd:schema>
    	<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaTypes" schemaLocation="../xsd/consultaComportamientoCuentaTypes.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="requestHeader">
	<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
  </wsdl:message>
  
  <wsdl:message name="responseHeader">
	<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
  </wsdl:message>
  
  <wsdl:message name="consultaComportamientoCuentaRequest">
    <wsdl:part element="tns:consultaComportamientoCuenta" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="consultaComportamientoCuentaResponse">
    <wsdl:part element="tns:consultaComportamientoCuentaResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="consultaComportamientoCuentaPS">
    <wsdl:operation name="consultaComportamientoCuenta" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="op:consultaComportamientoCuentaRequest"/>
      <wsdl:output message="op:consultaComportamientoCuentaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="consultaComportamientoCuentaPSSOAP" type="op:consultaComportamientoCuentaPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultaComportamientoCuenta">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      	<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="consultaComportamientoCuentaPS">
    <wsdl:port binding="op:consultaComportamientoCuentaPSSOAP" name="consultaComportamientoCuentaPSSOAP">
      <soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/consultaComportamientoCuenta/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>