Fuentes/ficohsacore-vortex-7ebad6e8baaa/MWHostToHost/v1/BusinessServices/PWS/cargaLoteProductos/xsd/cargaLoteProductos_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/cargaLoteProductos" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/cargaLoteProductos" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOCLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOGRUPOPLANILLA" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_NUMEROCLIENTES" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBREEMPRESA" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DIRECCIONEMPRESA" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CALLEEMPRESA" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BLOQUEEMPRESA" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CASAEMPRESA" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONO_EMPRESA" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_REFERENCIAEMPRESA" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_TIPOIDENTIFICACION" type="db:PAGOSWS.TVARCHAR20" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NUMEROIDENTIFICACION" type="db:PAGOSWS.TVARCHAR13" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_FECHAEMISION" type="db:PAGOSWS.TDATE" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOMBRECLIENTE" type="db:PAGOSWS.TVARCHAR40" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_APELLIDOSCLIENTE" type="db:PAGOSWS.TVARCHAR40" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_FECHANACIMIENTO" type="db:PAGOSWS.TDATE" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_GENERO" type="db:PAGOSWS.TNUMBER" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_ESTADOCIVIL" type="db:PAGOSWS.TVARCHAR20" db:index="19" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DIRECCIONHOGAR" type="db:PAGOSWS.TVARCHAR60" db:index="20" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CELULAR" type="db:PAGOSWS.TVARCHAR11" db:index="21" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TELEFONO" type="db:PAGOSWS.TVARCHAR11" db:index="22" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_REFERENCIATELEFONO" type="db:PAGOSWS.TVARCHAR20" db:index="23" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NIVELEDUCATIVO" type="db:PAGOSWS.TVARCHAR20" db:index="24" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_PROFESION" type="db:PAGOSWS.TNUMBER" db:index="25" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_FECHAINGRESOEMPRESA" type="db:PAGOSWS.TDATE" db:index="26" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CARGO" type="db:PAGOSWS.TNUMBER" db:index="27" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONEDAINGRESO" type="db:PAGOSWS.TVARCHAR3" db:index="28" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONTOINGRESO" type="db:PAGOSWS.TVARCHAR20" db:index="29" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOMBRECONYUGUE" type="db:PAGOSWS.TVARCHAR40" db:index="30" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_APELLIDOSCONYUGUE" type="db:PAGOSWS.TVARCHAR40" db:index="31" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOMBREREFERENCIA" type="db:PAGOSWS.TVARCHAR40" db:index="32" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_APELLIDOSREFERENCIA" type="db:PAGOSWS.TVARCHAR40" db:index="33" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TELEFONOREFERENCIA" type="db:PAGOSWS.TVARCHAR11" db:index="34" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_PARENTESCOREFERENCIA" type="db:PAGOSWS.TNUMBER" db:index="35" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOMBREBENEFICIARIO" type="db:PAGOSWS.TVARCHAR50" db:index="36" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_PARENTESCOBENEFICIARIO" type="db:PAGOSWS.TNUMBER" db:index="37" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOCLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOLOTE" type="string" db:index="38" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOERROR" type="string" db:index="39" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PAGOSWS.TVARCHAR11">
      <sequence>
         <element name="PT_TVARCHAR11_ITEM" type="db:string11" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TVARCHAR50">
      <sequence>
         <element name="PT_TVARCHAR50_ITEM" type="db:string50" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TVARCHAR40">
      <sequence>
         <element name="PT_TVARCHAR40_ITEM" type="db:string40" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TVARCHAR20">
      <sequence>
         <element name="PT_TVARCHAR20_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TDATE">
      <sequence>
         <element name="PT_TDATE_ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TNUMBER">
      <sequence>
         <element name="PT_TNUMBER_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TVARCHAR60">
      <sequence>
         <element name="PT_TVARCHAR60_ITEM" type="db:string60" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TVARCHAR3">
      <sequence>
         <element name="PT_TVARCHAR3_ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TVARCHAR13">
      <sequence>
         <element name="PT_TVARCHAR13_ITEM" type="db:string13" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string60">
      <restriction base="string">
         <maxLength value="60"/>
      </restriction>
   </simpleType>
   <simpleType name="string11">
      <restriction base="string">
         <maxLength value="11"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string13">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
</schema>