Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaSaldoAnticipoCB/xsd/consultaSaldoAnticipoCBTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultasType"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultasType">

	<xs:element name="consultaSaldoAnticipo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	

	<xs:element name="consultaSaldoAnticipoResponse" type="cons:consultaSaldoAnticipoResponse" />

	<xs:complexType name="consultaSaldoAnticipoResponse">
		<xs:sequence>
			<xs:element name="CASH_ADVANCE" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LIMIT_AMOUNT" type="xs:string" minOccurs="0" />
						<xs:element name="USED_AMOUNT" type="xs:string" minOccurs="0" />
						<xs:element name="AVAILABLE_AMOUNT" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>