Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/Cobis/Fiscan/xsd/ConsultaClienteFiscan_db_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaClienteFiscan_db" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaClienteFiscan_db" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="i_pais" type="db:string30" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_canal" type="db:string30" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_user" type="db:string14" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_fecha" type="dateTime" db:index="4" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="i_oficina" type="short" db:index="5" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="t_trn" type="int" db:index="6" db:type="INT" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="RETURN_VALUE" type="int" db:index="0" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_id" type="int" db:index="7" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_num_error" type="int" db:index="8" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_desc_error" type="db:string132" db:index="9" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string14">
      <restriction base="string">
         <maxLength value="14"/>
      </restriction>
   </simpleType>
   <simpleType name="string132">
      <restriction base="string">
         <maxLength value="132"/>
      </restriction>
   </simpleType>
</schema>