Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaProfesion/ConsultaProfesiones/consultaProfesionesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaProfesionesTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaProfesionesTypes">
	
	<xs:complexType name = "consultaProfesionesResponseArrayType">
		<xs:sequence>
			<xs:element name="PROFESSION_ID" type="xs:string" minOccurs="0" />
			<xs:element name="PROFESSION" type="xs:string" minOccurs="0" />
		 </xs:sequence> 


	</xs:complexType>
	
	<xs:complexType name="consultaProfesionesResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaProfesionesResponseRecordType" type="cons:consultaProfesionesResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaProfesionesResponseType">
		<xs:sequence>
			<xs:element name="consultaProfesionesResponseType" type="cons:consultaProfesionesResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaProfesiones">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="PROFESSION_ID" type="xs:string" minOccurs="0"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaProfesionesResponse" type="cons:consultaProfesionesResponseType"/>
	
</xs:schema>