Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ObtenerRemesa/xsd/obtenerRemesaTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/obtenerRemesaTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/obtenerRemesaTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
    <!--############################################-->
    <!-- OPERATION: obtenerRemesa -->
    <!--############################################-->
    
    <xs:element name="obtenerRemesa">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="REMITTANCE_CODE" type="xs:string" minOccurs="1"/>		
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="obtenerRemesaResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFICIARY_NAMES" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFICIARY_SURNAMES" type="xs:string" minOccurs="0"/>
				<xs:element name="DESTINATION_COUNTRY" type="xs:string" minOccurs="0"/>
				<xs:element name="DESTINATION_STATE" type="xs:string" minOccurs="0"/>
				<xs:element name="DESTINATION_CITY" type="xs:string" minOccurs="0"/>
				<xs:element name="REMITTER_NAMES" type="xs:string" minOccurs="0"/>
				<xs:element name="REMITTER_SURNAMES" type="xs:string" minOccurs="0"/>
				<xs:element name="REMITTER_ID_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="REMITTER_ID_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="REMITTER_ADDRESS" type="xs:string" minOccurs="0"/>
				<xs:element name="REMITTER_PHONE" type="xs:string" minOccurs="0"/>
				<xs:element name="EXCHANGE_RATE" type="xs:decimal" minOccurs="0"/>
				<xs:element name="ORIGIN_CURRENCY" type="xs:string" minOccurs="0"/>
				<xs:element name="SHIPPING_AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="CHARGE_APPLIED" type="xs:decimal" minOccurs="0"/>
				<xs:element name="GENERIC1" type="xs:string" minOccurs="0"/>
				<xs:element name="GENERIC2" type="xs:string" minOccurs="0"/>
				
			</xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>