Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/compensacion/simulaPagoChequeCompensacion/simulaPagoChequeCompensacionTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/simulaPagoChequeCompensacionTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/simulaPagoChequeCompensacionTypes">
	
	<xs:complexType name = "simulaPagoChequeCompensacionResponseArrayType">
		<xs:sequence>			           
						<xs:element name="REJECTION_TYPE" type="xs:string" minOccurs="0" />
						<xs:element name="REJECTION_CODE" type="xs:string" minOccurs="0" />
						<xs:element name="REJECTION_MOTIVE" type="xs:string" minOccurs="0" />
						<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
					
					</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="simulaPagoChequeCompensacionResponseRecordType">
			<xs:sequence>
					<xs:element name="simulaPagoChequeCompensacionResponseRecordType" type="cons:simulaPagoChequeCompensacionResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="simulaPagoChequeCompensacionResponseType">
		<xs:sequence>
			<xs:element name="simulaPagoChequeCompensacionResponseType" type="cons:simulaPagoChequeCompensacionResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="simulaPagoChequeCompensacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				<xs:element name="CHEQUE_NUMBER" type="xs:string"/>
				<xs:element name="AMOUNT" type="xs:string"/>
				<xs:element name="CURRENCY" type="xs:string"/>
				<xs:element name="COST_CENTER_CODE" type="xs:string"/>
				<xs:element name="ROUTE_CODE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="simulaPagoChequeCompensacionResponse" type="cons:simulaPagoChequeCompensacionResponseType"/>
	
</xs:schema>