Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/Resources/T24FtActualizaTransaccionACH_inbound/xsd/T24FtActualizaTransaccionACH-T24FtActualizaTransaccionACH.xsd

<xsd:schema targetNamespace="http://www.temenos.com/T24/event/T24FtActualizaTransaccionACH/T24FtActualizaTransaccionACH" elementFormDefault="qualified" xmlns="http://www.temenos.com/T24/event/T24FtActualizaTransaccionACH/T24FtActualizaTransaccionACH" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"><xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="Common-EventCommon.xsd"/><xsd:element name="T24FtActualizaTransaccionACH"><xsd:complexType><xsd:sequence><xsd:element ref="eventCommon" minOccurs="1" maxOccurs="1"/><xsd:element ref="id" minOccurs="0" maxOccurs="1"/><xsd:element ref="customerId" minOccurs="0" maxOccurs="1"/><xsd:element ref="ftTransaction" minOccurs="0" maxOccurs="1"/><xsd:element ref="isLbtr" minOccurs="0" maxOccurs="1"/><xsd:element ref="rejectionCode" minOccurs="0" maxOccurs="1"/><xsd:element ref="rejectionMessaje" minOccurs="0" maxOccurs="1"/><xsd:element ref="status" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="eventCommon" type="ns0:EventCommon"/><xsd:element name="id" type="xsd:string"/><xsd:element name="customerId" type="xsd:string"/><xsd:element name="ftTransaction" type="xsd:string"/><xsd:element name="isLbtr" type="xsd:string"/><xsd:element name="rejectionCode" type="xsd:string"/><xsd:element name="rejectionMessaje" type="xsd:string"/><xsd:element name="status" type="xsd:string"/></xsd:schema>