Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/NotificaDivisas/xsd/notificaDivisasTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/notificaDivisasTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/notificaDivisasTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: notificaDivisas -->
    <!--############################################-->
    <xs:element name="notificaDivisas">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="HEADER" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="HEADER_ROW" type="tns:headerList" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DETAILS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DETAIL" type="tns:detailList" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
    <xs:complexType name = "headerList">
			<xs:sequence>
				<xs:element name="INSTITUTION_CODE" type="xs:string" />
				<xs:element name="DATE" type="xs:string" />
				<xs:element name="BUY_OPERATION_COUNT" type="xs:string" />
				<xs:element name="BUY_OPERATION_AMOUNT" type="xs:string" />
				<xs:element name="OTHER_ACCOUNT_OPERATION_INCOME" type="xs:string" />
				<xs:element name="OTHER_ACCOUNT_AMOUNT_INCOME" type="xs:string" />
				<xs:element name="OWN_INSTITUTION_OPERATION_INCOME" type="xs:string" />
				<xs:element name="OWN_INSTITUTION_AMOUNT_INCOME" type="xs:string" />
				<xs:element name="TOTAL_AMOUNT_INCOME" type="xs:string" />
				<xs:element name="SALE_OPERATION_COUNT" type="xs:string" />
				<xs:element name="SALE_OPERATION_AMOUNT" type="xs:string" />
				<xs:element name="OTHER_ACCOUNT_OPERATION_EXPENSES" type="xs:string" />
				<xs:element name="OTHER_ACCOUNT_AMOUNT_EXPENSES" type="xs:string" />
				<xs:element name="OWN_INSTITUTION_OPERATION_EXPENSES" type="xs:string" />
				<xs:element name="OWN_INSTITUTION_AMOUNT_EXPENSES" type="xs:string"/>
				<xs:element name="TOTAL_AMOUNT_EXPENSES" type="xs:string" />
				<xs:element name="OFFICIAL_NAME" type="xs:string" />
			</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name = "detailList">
			<xs:sequence>
				<xs:element name="DATE" type="xs:string" minOccurs="0" />
				<xs:element name="INSTITUTION_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="DOCUMENT_ID" type="xs:string" minOccurs="0" />
				<xs:element name="FORM_TYPE" type="xs:string" minOccurs="0" />
				<xs:element name="NIT" type="xs:string" minOccurs="0" />
				<xs:element name="NAME" type="xs:string" minOccurs="0" />
				<xs:element name="ADDRESS" type="xs:string" minOccurs="0" />
				<xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0" />
				<xs:element name="EMAIL" type="xs:string" minOccurs="0" />
				<xs:element name="DOCUMENT_TYPE" type="xs:string" minOccurs="0" />
				<xs:element name="DOCUMENT_DESCRIPTION" type="xs:string" minOccurs="0" />
				<xs:element name="CURRENCY_CLASS" type="xs:string" minOccurs="0" />
				<xs:element name="USD_EQUIVALENT" type="xs:string" minOccurs="0" />
				<xs:element name="GTQ_EQUIVALENT" type="xs:string" minOccurs="0" />
				<xs:element name="FOREIGN_CURRENCY_AMOUNT" type="xs:string" minOccurs="0" />
				<xs:element name="SOURCE_COUNTRY" type="xs:string" minOccurs="0" />
				<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0" />
				<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="PAYMENT_METHOD" type="xs:string" minOccurs="0" />
				<xs:element name="PAYMENT_METHOD_DESCRIPTION" type="xs:string" minOccurs="0" />
				<xs:element name="DEPARTMENT" type="xs:string" minOccurs="0" />
				<xs:element name="CITY" type="xs:string" minOccurs="0" />
				<xs:element name="SPID" type="xs:string" minOccurs="0" />
				<xs:element name="BALANCE" type="xs:string" minOccurs="0" />
				<xs:element name="BALANCE_DESCRIPTION" type="xs:string" minOccurs="0" />
				<xs:element name="DESTINATION_COUNTRY" type="xs:string" minOccurs="0" />
				<xs:element name="PRODUCT" type="xs:string" minOccurs="0" />
				<xs:element name="PRODUCT_DESCRIPTION" type="xs:string" minOccurs="0" />
				<xs:element name="CURRENCY_ORIGIN" type="xs:string" minOccurs="0" />
				<xs:element name="REMITTER_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="REMITTER_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="RELATIONSHIP_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="DESTINATION_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="OPERATION_DESCRIPTION" type="xs:string" minOccurs="0" />
				<xs:element name="OPERATION_TYPE" type="xs:string" minOccurs="0" />
			</xs:sequence>
	</xs:complexType>
	
    <xs:element name="notificaDivisasResponse">
         <xs:complexType>
			<xs:sequence>
				<xs:element name="DATE" type="xs:string" minOccurs="0" />
				<xs:element name="ENTITY" type="xs:string" minOccurs="0" />
				<xs:element name="CORRELATIVE" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
    </xs:element>
</xs:schema>
