Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/WSDL/GetCustomerDebitCards/tarjetasDebito.wsdl

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../../XSD/GetCustomerDebitCards/XMLSchema_138144261.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="T24WebServicesImpl" schemaLocation="../../XSD/GetCustomerDebitCards/XMLSchema_-155258746.xsd"/>
    </xsd:schema>
  </types>
  <message name="ConsultaClienteporTarjetaDebito">
    <part name="parameters" element="tns:ConsultaClienteporTarjetaDebito"/>
  </message>
  <message name="ConsultaClienteporTarjetaDebitoResponse">
    <part name="parameters" element="tns:ConsultaClienteporTarjetaDebitoResponse"/>
  </message>
  <message name="AsignacionTarjetaDebitoconReliv_Validate">
    <part name="parameters" element="tns:AsignacionTarjetaDebitoconReliv_Validate"/>
  </message>
  <message name="AsignacionTarjetaDebitoconReliv_ValidateResponse">
    <part name="parameters" element="tns:AsignacionTarjetaDebitoconReliv_ValidateResponse"/>
  </message>
  <message name="ActualizacionEstadoTarjetaDebito">
    <part name="parameters" element="tns:ActualizacionEstadoTarjetaDebito"/>
  </message>
  <message name="ActualizacionEstadoTarjetaDebitoResponse">
    <part name="parameters" element="tns:ActualizacionEstadoTarjetaDebitoResponse"/>
  </message>
  <message name="ActualizacionEstadoTarjetaDebito_Validate">
    <part name="parameters" element="tns:ActualizacionEstadoTarjetaDebito_Validate"/>
  </message>
  <message name="ActualizacionEstadoTarjetaDebito_ValidateResponse">
    <part name="parameters" element="tns:ActualizacionEstadoTarjetaDebito_ValidateResponse"/>
  </message>
  <message name="Activaciondetarjetadedebito">
    <part name="parameters" element="tns:Activaciondetarjetadedebito"/>
  </message>
  <message name="ActivaciondetarjetadedebitoResponse">
    <part name="parameters" element="tns:ActivaciondetarjetadedebitoResponse"/>
  </message>
  <message name="Activaciondetarjetadedebito_Validate">
    <part name="parameters" element="tns:Activaciondetarjetadedebito_Validate"/>
  </message>
  <message name="Activaciondetarjetadedebito_ValidateResponse">
    <part name="parameters" element="tns:Activaciondetarjetadedebito_ValidateResponse"/>
  </message>
  <message name="ConsultaTDNueva">
    <part name="parameters" element="tns:ConsultaTDNueva"/>
  </message>
  <message name="ConsultaTDNuevaResponse">
    <part name="parameters" element="tns:ConsultaTDNuevaResponse"/>
  </message>
  <message name="AsignaciondeTarjetadeDebito">
    <part name="parameters" element="tns:AsignaciondeTarjetadeDebito"/>
  </message>
  <message name="AsignaciondeTarjetadeDebitoResponse">
    <part name="parameters" element="tns:AsignaciondeTarjetadeDebitoResponse"/>
  </message>
  <message name="AsignaciondeTarjetadeDebito_Validate">
    <part name="parameters" element="tns:AsignaciondeTarjetadeDebito_Validate"/>
  </message>
  <message name="AsignaciondeTarjetadeDebito_ValidateResponse">
    <part name="parameters" element="tns:AsignaciondeTarjetadeDebito_ValidateResponse"/>
  </message>
  <message name="CreaciondeTDNueva">
    <part name="parameters" element="tns:CreaciondeTDNueva"/>
  </message>
  <message name="CreaciondeTDNuevaResponse">
    <part name="parameters" element="tns:CreaciondeTDNuevaResponse"/>
  </message>
  <message name="CreaciondeTDNueva_Validate">
    <part name="parameters" element="tns:CreaciondeTDNueva_Validate"/>
  </message>
  <message name="CreaciondeTDNueva_ValidateResponse">
    <part name="parameters" element="tns:CreaciondeTDNueva_ValidateResponse"/>
  </message>
  <message name="SolicituddeTDconRelieve">
    <part name="parameters" element="tns:SolicituddeTDconRelieve"/>
  </message>
  <message name="SolicituddeTDconRelieveResponse">
    <part name="parameters" element="tns:SolicituddeTDconRelieveResponse"/>
  </message>
  <message name="SolicituddeTDconRelieve_Validate">
    <part name="parameters" element="tns:SolicituddeTDconRelieve_Validate"/>
  </message>
  <message name="SolicituddeTDconRelieve_ValidateResponse">
    <part name="parameters" element="tns:SolicituddeTDconRelieve_ValidateResponse"/>
  </message>
  <message name="ConsultarEstadoTarjetaDebito">
    <part name="parameters" element="tns:ConsultarEstadoTarjetaDebito"/>
  </message>
  <message name="ConsultarEstadoTarjetaDebitoResponse">
    <part name="parameters" element="tns:ConsultarEstadoTarjetaDebitoResponse"/>
  </message>
  <message name="ConsultaSecuenciaTDconRelieve">
    <part name="parameters" element="tns:ConsultaSecuenciaTDconRelieve"/>
  </message>
  <message name="ConsultaSecuenciaTDconRelieveResponse">
    <part name="parameters" element="tns:ConsultaSecuenciaTDconRelieveResponse"/>
  </message>
  <message name="AsignacionTarjetaDebitoSec">
    <part name="parameters" element="tns:AsignacionTarjetaDebitoSec"/>
  </message>
  <message name="AsignacionTarjetaDebitoSecResponse">
    <part name="parameters" element="tns:AsignacionTarjetaDebitoSecResponse"/>
  </message>
  <message name="AsignacionTarjetaDebitoSec_Validate">
    <part name="parameters" element="tns:AsignacionTarjetaDebitoSec_Validate"/>
  </message>
  <message name="AsignacionTarjetaDebitoSec_ValidateResponse">
    <part name="parameters" element="tns:AsignacionTarjetaDebitoSec_ValidateResponse"/>
  </message>
  <message name="ConsultaMaestraTarjetaDebito">
    <part name="parameters" element="tns:ConsultaMaestraTarjetaDebito"/>
  </message>
  <message name="ConsultaMaestraTarjetaDebitoResponse">
    <part name="parameters" element="tns:ConsultaMaestraTarjetaDebitoResponse"/>
  </message>
  <message name="Bloqueodetarjetadedebito">
    <part name="parameters" element="tns:Bloqueodetarjetadedebito"/>
  </message>
  <message name="BloqueodetarjetadedebitoResponse">
    <part name="parameters" element="tns:BloqueodetarjetadedebitoResponse"/>
  </message>
  <message name="Bloqueodetarjetadedebito_Validate">
    <part name="parameters" element="tns:Bloqueodetarjetadedebito_Validate"/>
  </message>
  <message name="Bloqueodetarjetadedebito_ValidateResponse">
    <part name="parameters" element="tns:Bloqueodetarjetadedebito_ValidateResponse"/>
  </message>
  <message name="ModificacionTarjetaDebito">
    <part name="parameters" element="tns:ModificacionTarjetaDebito"/>
  </message>
  <message name="ModificacionTarjetaDebitoResponse">
    <part name="parameters" element="tns:ModificacionTarjetaDebitoResponse"/>
  </message>
  <message name="ModificacionTarjetaDebito_Validate">
    <part name="parameters" element="tns:ModificacionTarjetaDebito_Validate"/>
  </message>
  <message name="ModificacionTarjetaDebito_ValidateResponse">
    <part name="parameters" element="tns:ModificacionTarjetaDebito_ValidateResponse"/>
  </message>
  <message name="ActivaciondeTarjetadeDebito">
    <part name="parameters" element="tns:ActivaciondeTarjetadeDebito"/>
  </message>
  <message name="ActivaciondeTarjetadeDebitoResponse">
    <part name="parameters" element="tns:ActivaciondeTarjetadeDebitoResponse"/>
  </message>
  <message name="ActivaciondeTarjetadeDebito_Validate">
    <part name="parameters" element="tns:ActivaciondeTarjetadeDebito_Validate"/>
  </message>
  <message name="ActivaciondeTarjetadeDebito_ValidateResponse">
    <part name="parameters" element="tns:ActivaciondeTarjetadeDebito_ValidateResponse"/>
  </message>
  <message name="ConsultadebloqueosporTD">
    <part name="parameters" element="tns:ConsultadebloqueosporTD"/>
  </message>
  <message name="ConsultadebloqueosporTDResponse">
    <part name="parameters" element="tns:ConsultadebloqueosporTDResponse"/>
  </message>
  <message name="ConsultadebinesTD">
    <part name="parameters" element="tns:ConsultadebinesTD"/>
  </message>
  <message name="ConsultadebinesTDResponse">
    <part name="parameters" element="tns:ConsultadebinesTDResponse"/>
  </message>
  <message name="AsignacionTarjetaDebitoconReliv">
    <part name="parameters" element="tns:AsignacionTarjetaDebitoconReliv"/>
  </message>
  <message name="AsignacionTarjetaDebitoconRelivResponse">
    <part name="parameters" element="tns:AsignacionTarjetaDebitoconRelivResponse"/>
  </message>
  <message name="callOfs">
    <part name="parameters" element="tns:callOfs"/>
  </message>
  <message name="callOfsResponse">
    <part name="parameters" element="tns:callOfsResponse"/>
  </message>
  <portType name="T24WebServicesImpl">
    <operation name="ConsultaClienteporTarjetaDebito">
      <input message="tns:ConsultaClienteporTarjetaDebito"/>
      <output message="tns:ConsultaClienteporTarjetaDebitoResponse"/>
    </operation>
    <operation name="AsignacionTarjetaDebitoconReliv_Validate">
      <input message="tns:AsignacionTarjetaDebitoconReliv_Validate"/>
      <output message="tns:AsignacionTarjetaDebitoconReliv_ValidateResponse"/>
    </operation>
    <operation name="ActualizacionEstadoTarjetaDebito">
      <input message="tns:ActualizacionEstadoTarjetaDebito"/>
      <output message="tns:ActualizacionEstadoTarjetaDebitoResponse"/>
    </operation>
    <operation name="ActualizacionEstadoTarjetaDebito_Validate">
      <input message="tns:ActualizacionEstadoTarjetaDebito_Validate"/>
      <output message="tns:ActualizacionEstadoTarjetaDebito_ValidateResponse"/>
    </operation>
    <operation name="Activaciondetarjetadedebito">
      <input message="tns:Activaciondetarjetadedebito"/>
      <output message="tns:ActivaciondetarjetadedebitoResponse"/>
    </operation>
    <operation name="Activaciondetarjetadedebito_Validate">
      <input message="tns:Activaciondetarjetadedebito_Validate"/>
      <output message="tns:Activaciondetarjetadedebito_ValidateResponse"/>
    </operation>
    <operation name="ConsultaTDNueva">
      <input message="tns:ConsultaTDNueva"/>
      <output message="tns:ConsultaTDNuevaResponse"/>
    </operation>
    <operation name="AsignaciondeTarjetadeDebito">
      <input message="tns:AsignaciondeTarjetadeDebito"/>
      <output message="tns:AsignaciondeTarjetadeDebitoResponse"/>
    </operation>
    <operation name="AsignaciondeTarjetadeDebito_Validate">
      <input message="tns:AsignaciondeTarjetadeDebito_Validate"/>
      <output message="tns:AsignaciondeTarjetadeDebito_ValidateResponse"/>
    </operation>
    <operation name="CreaciondeTDNueva">
      <input message="tns:CreaciondeTDNueva"/>
      <output message="tns:CreaciondeTDNuevaResponse"/>
    </operation>
    <operation name="CreaciondeTDNueva_Validate">
      <input message="tns:CreaciondeTDNueva_Validate"/>
      <output message="tns:CreaciondeTDNueva_ValidateResponse"/>
    </operation>
    <operation name="SolicituddeTDconRelieve">
      <input message="tns:SolicituddeTDconRelieve"/>
      <output message="tns:SolicituddeTDconRelieveResponse"/>
    </operation>
    <operation name="SolicituddeTDconRelieve_Validate">
      <input message="tns:SolicituddeTDconRelieve_Validate"/>
      <output message="tns:SolicituddeTDconRelieve_ValidateResponse"/>
    </operation>
    <operation name="ConsultarEstadoTarjetaDebito">
      <input message="tns:ConsultarEstadoTarjetaDebito"/>
      <output message="tns:ConsultarEstadoTarjetaDebitoResponse"/>
    </operation>
    <operation name="ConsultaSecuenciaTDconRelieve">
      <input message="tns:ConsultaSecuenciaTDconRelieve"/>
      <output message="tns:ConsultaSecuenciaTDconRelieveResponse"/>
    </operation>
    <operation name="AsignacionTarjetaDebitoSec">
      <input message="tns:AsignacionTarjetaDebitoSec"/>
      <output message="tns:AsignacionTarjetaDebitoSecResponse"/>
    </operation>
    <operation name="AsignacionTarjetaDebitoSec_Validate">
      <input message="tns:AsignacionTarjetaDebitoSec_Validate"/>
      <output message="tns:AsignacionTarjetaDebitoSec_ValidateResponse"/>
    </operation>
    <operation name="ConsultaMaestraTarjetaDebito">
      <input message="tns:ConsultaMaestraTarjetaDebito"/>
      <output message="tns:ConsultaMaestraTarjetaDebitoResponse"/>
    </operation>
    <operation name="Bloqueodetarjetadedebito">
      <input message="tns:Bloqueodetarjetadedebito"/>
      <output message="tns:BloqueodetarjetadedebitoResponse"/>
    </operation>
    <operation name="Bloqueodetarjetadedebito_Validate">
      <input message="tns:Bloqueodetarjetadedebito_Validate"/>
      <output message="tns:Bloqueodetarjetadedebito_ValidateResponse"/>
    </operation>
    <operation name="ModificacionTarjetaDebito">
      <input message="tns:ModificacionTarjetaDebito"/>
      <output message="tns:ModificacionTarjetaDebitoResponse"/>
    </operation>
    <operation name="ModificacionTarjetaDebito_Validate">
      <input message="tns:ModificacionTarjetaDebito_Validate"/>
      <output message="tns:ModificacionTarjetaDebito_ValidateResponse"/>
    </operation>
    <operation name="ActivaciondeTarjetadeDebito">
      <input message="tns:ActivaciondeTarjetadeDebito"/>
      <output message="tns:ActivaciondeTarjetadeDebitoResponse"/>
    </operation>
    <operation name="ActivaciondeTarjetadeDebito_Validate">
      <input message="tns:ActivaciondeTarjetadeDebito_Validate"/>
      <output message="tns:ActivaciondeTarjetadeDebito_ValidateResponse"/>
    </operation>
    <operation name="ConsultadebloqueosporTD">
      <input message="tns:ConsultadebloqueosporTD"/>
      <output message="tns:ConsultadebloqueosporTDResponse"/>
    </operation>
    <operation name="ConsultadebinesTD">
      <input message="tns:ConsultadebinesTD"/>
      <output message="tns:ConsultadebinesTDResponse"/>
    </operation>
    <operation name="AsignacionTarjetaDebitoconReliv">
      <input message="tns:AsignacionTarjetaDebitoconReliv"/>
      <output message="tns:AsignacionTarjetaDebitoconRelivResponse"/>
    </operation>
    <operation name="callOfs">
      <input message="tns:callOfs"/>
      <output message="tns:callOfsResponse"/>
    </operation>
  </portType>
  <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="ConsultaClienteporTarjetaDebito">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AsignacionTarjetaDebitoconReliv_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ActualizacionEstadoTarjetaDebito">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ActualizacionEstadoTarjetaDebito_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Activaciondetarjetadedebito">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Activaciondetarjetadedebito_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConsultaTDNueva">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AsignaciondeTarjetadeDebito">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AsignaciondeTarjetadeDebito_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreaciondeTDNueva">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreaciondeTDNueva_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SolicituddeTDconRelieve">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SolicituddeTDconRelieve_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConsultarEstadoTarjetaDebito">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConsultaSecuenciaTDconRelieve">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AsignacionTarjetaDebitoSec">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AsignacionTarjetaDebitoSec_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConsultaMaestraTarjetaDebito">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Bloqueodetarjetadedebito">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Bloqueodetarjetadedebito_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ModificacionTarjetaDebito">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ModificacionTarjetaDebito_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ActivaciondeTarjetadeDebito">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ActivaciondeTarjetadeDebito_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConsultadebloqueosporTD">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConsultadebinesTD">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AsignacionTarjetaDebitoconReliv">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="callOfs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="T24WebServicesImplService">
    <port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
      <soap:address location="http://172.23.13.19:7003/svcTarjetaDebito/T24WebServicesImplService"/>
    </port>
  </service>
</definitions>