Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/procesoImagenesCheques/Resources/XMLSchema_-753785776.xsd

<?xml version='1.0' encoding='UTF-8'?><xs:schema elementFormDefault="unqualified" targetNamespace="http://services.com/" version="1.0" xmlns:tns="http://services.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="consultarImagenesCheques" type="tns:consultarImagenesCheques" />
<xs:element name="consultarImagenesChequesResponse" type="tns:consultarImagenesChequesResponse" />
<xs:element name="registrarImagenesCheques" type="tns:registrarImagenesCheques" />
<xs:element name="registrarImagenesChequesResponse" type="tns:registrarImagenesChequesResponse" />
<xs:complexType name="consultarImagenesCheques">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultaImagenesChequesRequest" type="tns:consultaImagenesChequesRequest" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="consultaImagenesChequesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroCuenta" type="xs:string" />
      <xs:element minOccurs="0" name="numeroCuentaAlterno" type="xs:string" />
      <xs:element minOccurs="0" name="numeroCheque" type="xs:string" />
      <xs:element minOccurs="0" name="referenciaTransaccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:string" />
      <xs:element minOccurs="0" name="cantidad" type="xs:string" />
      <xs:element minOccurs="0" name="posicionInicial" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="consultarImagenesChequesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultaImagenesChequesResponse" type="tns:consultaImagenesChequesResponse" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="consultaImagenesChequesResponse">
    <xs:sequence>
      <xs:element name="resultadoOperacion" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeError" type="xs:string" />
      <xs:element minOccurs="0" name="numeroCuenta" type="xs:string" />
      <xs:element minOccurs="0" name="numeroCuentaAlterno" type="xs:string" />
      <xs:element name="totalChequesEncontrados" type="xs:int" />
      <xs:element name="totalChequesRetornados" type="xs:int" />
      <xs:element name="posicionInicial" type="xs:int" />
      <xs:element name="posicionFinal" type="xs:int" />
      <xs:element minOccurs="0" name="consultaImagenesChequesArrayResponse" type="tns:consultaImagenesChequesArrayResponse" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="consultaImagenesChequesArrayResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="consultaImagenesChequesArrayDetailResponse" nillable="true" type="tns:consultaImagenesChequesArrayDetailResponse" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="consultaImagenesChequesArrayDetailResponse">
    <xs:sequence>
      <xs:element name="resultadoOperacion" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeError" type="xs:string" />
      <xs:element minOccurs="0" name="numeroCheque" type="xs:string" />
      <xs:element minOccurs="0" name="fechaTransaccion" type="xs:string" />
      <xs:element minOccurs="0" name="anversoCheque" type="xs:string" />
      <xs:element minOccurs="0" name="reversoCheque" type="xs:string" />
      <xs:element minOccurs="0" name="formatoImagen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="registrarImagenesCheques">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="registroImagenesChequesRequest" type="tns:registroImagenesChequesRequest" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="registroImagenesChequesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="referenciaTransaccion" type="xs:string" />
      <xs:element minOccurs="0" name="numeroCuenta" type="xs:string" />
      <xs:element minOccurs="0" name="numeroCheque" type="xs:string" />
      <xs:element minOccurs="0" name="fechaTransaccion" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="anversoCheque" type="xs:string" />
      <xs:element minOccurs="0" name="reversoCheque" type="xs:string" />
      <xs:element minOccurs="0" name="formatoImagen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="registrarImagenesChequesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="registroImagenesChequesResponse" type="tns:registroImagenesChequesResponse" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="registroImagenesChequesResponse">
    <xs:sequence>
      <xs:element name="resultadoOperacion" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeError" type="xs:string" />
      <xs:element name="numeroCuenta" type="xs:string" />
      <xs:element name="numeroCheque" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>