Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActualizaDatosCliente/xsd/actualizaDatosCliente.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaDatosClienteTypes/v2"
	xmlns:actd="http://www.ficohsa.com.hn/middleware.services/actualizaDatosClienteTypes/v2">


	<xs:complexType name="actualizaDatosClienteRequest">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string"/>
			<xs:element name="PRIMARY_EMAIL" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="actualizaDatosClienteResponse">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string"/>
			<xs:element name="CUSTOMER_NAME" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="actualizaDatosClienteRequest" type="actd:actualizaDatosClienteRequest" />

	<xs:element name="actualizaDatosClienteResponse" type="actd:actualizaDatosClienteResponse" />

</xs:schema>