Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/BusinessServices/AbanksGT/CreacionCliente/xsd/CreacionCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CreacionCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CreacionCliente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PR_ID_CUSTOMER" type="db:PROXYABANKSGT.R_ID_COSTUMER" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_FIRST_NAME" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MIDDLE_NAME" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LAST_NAME" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LAST_NAME2" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MARRIED_NAME" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DATE_OF_BIRTH" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PR_OCCUPATION" type="db:PROXYABANKSGT.R_OCCUPATION" db:index="8" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PT_PHONES" type="db:PROXYABANKSGT.T_PHONES" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PR_CUSTOMER_TYPE" type="db:PROXYABANKSGT.R_CUSTOMER_TYPE" db:index="10" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PT_ADDRESSES" type="db:PROXYABANKSGT.T_ADDRESSES" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PR_NSO_INFO" type="db:PROXYABANKSGT.R_NSO_INFO" db:index="12" db:type="Struct" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PR_TRANSACTION_INFO" type="db:PROXYABANKSGT.R_TRANSACTION_INFO" db:index="13" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_RESPONSE_CODE" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RESPONSE_MESSAGE" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.R_PHONE">
      <sequence>
         <element name="ID_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PHONE_DESC" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUMBER_" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_DS_RECORD">
      <sequence>
         <element name="DS_RECORD_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_BANKNOTE">
      <sequence>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BANKNOTE_VALUE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TOTAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_ADDRESSESR">
      <sequence>
         <element name="ADDRESS_TYPE" type="db:PROXYABANKSGT.R_ADDRESS_TYPE" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="STATE_ADDRESS" type="db:PROXYABANKSGT.R_STATE_ADDRESS" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="CITY_ADDRESS" type="db:PROXYABANKSGT.R_CITY_ADDRESS" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="REGION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="AVENUE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STREET" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="HOUSE_NUMBER" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REFERENCE" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_KV_PAIR">
      <sequence>
         <element name="PAIR" type="db:PROXYABANKSGT.T_PAIR" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_TRACE">
      <sequence>
         <element name="TELLER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BRANCH_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHANNEL_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DATE_TIME" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="QUEUE_TICKET_ID" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TXN_REF_NO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEALSLIP_ID" type="db:string250" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_NSO_INFO">
      <sequence>
         <element name="TRACE" type="db:PROXYABANKSGT.R_TRACE" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="AUTHORIZATION" type="db:PROXYABANKSGT.R_AUTHORIZATION" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="BANKNOTE_BREAKDOWN" type="db:PROXYABANKSGT.R_BANKNOTE_BREAKDOWN" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="ADDITIONAL_INFO" type="db:PROXYABANKSGT.R_ADDITIONAL_INFO" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="CTR_REFERENCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_BANKNOTE_BREAKDOWN">
      <sequence>
         <element name="BANKNOTE" type="db:PROXYABANKSGT.T_BANKNOTE" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_OCCUPATION">
      <sequence>
         <element name="ID_OCCUPATION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DESCRIPTION_OCC" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_TRANSACTION_INFO">
      <sequence>
         <element name="DEALSLIP" type="db:PROXYABANKSGT.R_DEALSLIP" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="TXN_REF_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TXN_TYPE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TXN_DATE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DATE_TIME" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="USER_TX" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BRANCH_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BRANCH_NAME" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REQUIRES_CTR" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEALSLIP_URL" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_ID_COSTUMER">
      <sequence>
         <element name="ID_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ID" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COUNTRY_ISSUE" type="db:PROXYABANKSGT.R_COUNTRY_ISSUE" db:type="Struct" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_CUSTOMER_TYPE">
      <sequence>
         <element name="ID_TYPE_CUSTOMER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_DESC" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_ADDITIONAL_INFO">
      <sequence>
         <element name="KV_PAIRS" type="db:PROXYABANKSGT.T_PAIR" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_PAIR">
      <sequence>
         <element name="KEY" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALUE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_ADDRESS_TYPE">
      <sequence>
         <element name="ID_ADDRESS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ADDRESS_DESC" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_BANKNOTE">
      <sequence>
         <element name="BANKNOTE_ITEM" type="db:PROXYABANKSGT.R_BANKNOTE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_PAIR">
      <sequence>
         <element name="PAIR_ITEM" type="db:PROXYABANKSGT.R_PAIR" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_COUNTRY_ISSUE">
      <sequence>
         <element name="ID_COUNTRY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NAME" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_DEALSLIP">
      <sequence>
         <element name="DS_RECORD" type="db:PROXYABANKSGT.T_DS_RECORD" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_AUTHORIZATION">
      <sequence>
         <element name="TYPE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="KV_PAIRS" type="db:PROXYABANKSGT.R_KV_PAIR" db:type="Struct" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_STATE_ADDRESS">
      <sequence>
         <element name="ID_STATE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="STATE_DESC" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_CITY_ADDRESS">
      <sequence>
         <element name="ID_CITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CITY_DESC" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_PHONES">
      <sequence>
         <element name="PT_PHONES_ITEM" type="db:PROXYABANKSGT.R_PHONE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_ADDRESSES">
      <sequence>
         <element name="PT_ADDRESSES_ITEM" type="db:PROXYABANKSGT.R_ADDRESSESR" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
</schema>