Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RegistrarDevolucionCobroTSP/xsd/registrarDevolucionCobroTSPTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/registrarDevolucionCobroTSPTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/registrarDevolucionCobroTSPTypes">
	
	<xs:element name="registrarDevolucionCobroTSP">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
            <xs:element name="TRANSACTION_REFERENCE" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType> 
      </xs:element>
      
      <xs:element name="registrarDevolucionCobroTSPResponse" />
</xs:schema>