Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/GenerarIDUnico/xsd/generarIDUnicoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/generarIDUnicoTypes"
	xmlns:cet="http://www.ficohsa.com.hn/middleware.services/generarIDUnicoTypes">

    <xs:element name="generarIDUnico">
		<xs:complexType>
			<xs:sequence></xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="generarIDUnicoResponse" type="cet:generarIDUnicoResponseType"/>
	
	<xs:complexType name="generarIDUnicoResponseType">
		<xs:sequence>
			<xs:element name="UUID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>