Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/TillOperations/xsd/TillOperationsTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/TillOperationsTypes"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tld="http://www.ficohsa.com.hn/middleware.services/TillOperationsTypes"
	xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes"
		schemaLocation="../../General/xsd/GeneralTypes.xsd" />

	<!-- till Difference Report -->
	<xs:element name="tillDifferenceReport" type="tld:tillDifferenceReportType" />

	<xs:simpleType name="reportType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEFICIT" />
			<xs:enumeration value="SURPLUS" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="reportSource">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TILL" />
			<xs:enumeration value="VAULT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="tillDifferenceReportType">
		<xs:sequence>
			<xs:element name="REPORT_TYPE" type="tld:reportType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="REPORT_SOURCE" type="tld:reportSource"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="DATE" type="xs:date" 
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="tillDifferenceReportResponse" type="tld:tillDifferenceReportRspType" />

	<xs:complexType name="tillDifferenceReportRspType">
		<xs:sequence>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- till Operations Query -->
	<xs:element name="tillOperationsQuery" type="tld:tillOperationsQueryType" />

	<xs:complexType name="tillOperationsQueryType">
		<xs:sequence>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="tillOperationsQueryResponse" type="tld:tillOperationsQueryRspType" />

	<xs:complexType name="tillOperationsQueryRspType">
		<xs:sequence>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>