Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/AccountPassbookOperations/xsd/AccountPassbookOperationsTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/accountPassbookOperationsTypes"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:apo="http://www.ficohsa.com.hn/middleware.services/accountPassbookOperationsTypes"
	xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes"
	xmlns:acc="http://www.ficohsa.com.hn/middleware.services/accountTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes"
		schemaLocation="../../General/xsd/GeneralTypes.xsd" />
	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/accountTypes"
		schemaLocation="../../General/xsd/AccountTypes.xsd" />

	<!-- Account PassbookUpdate -->
	<xs:element name="passbookUpdate" type="apo:passbookUpdateType" />

	<xs:complexType name="passbookUpdateType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PASSBOOK" type="acc:passbookType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="passbookUpdateResponse" type="apo:passbookUpdateRspType" />

	<xs:complexType name="passbookUpdateRspType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="NAME" type="xs:string" 
				minOccurs="0" maxOccurs="1" />
			<xs:element name="PENDING_TRANSACTIONS" type="gen:greaterThan0"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="PRINTABLE_RECORDS" type="apo:printableRecordsType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="printableRecordsType">
		<xs:sequence>
			<xs:element name="PRINTABLE_RECORD" type="apo:printableRecordType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="printableRecordType">
		<xs:sequence>
			<xs:element name="ID" type="gen:greaterThan0" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="RECORD" type="gen:stringMinLength1"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!--  passbookReplacement -->
	
	<xs:element name="passbookReplacement" type="apo:accountpassbookReplacementType"/>

	<xs:complexType name="accountpassbookReplacementType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="OLD_PASSBOOK_ID" type="xs:integer"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NEW_PASSBOOK_ID" type="xs:integer"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="passbookReplacementResponse" type="apo:accountpassbookReplacementRspType" />

	<xs:complexType name="accountpassbookReplacementRspType">
		<xs:sequence>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="passbookBalanceConfirmation" type="apo:passbookBalanceConfirmationType" />
	
	<xs:complexType name="passbookBalanceConfirmationType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PASSBOOK" type="acc:passbookType" 
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" 
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="passbookBalanceConfirmationResponse" type="apo:passbookBalanceConfirmationRspType" />
	
	<xs:complexType name="passbookBalanceConfirmationRspType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType" 
				minOccurs="0" maxOccurs="1" />
			<xs:element name="CONFIRMATION_RESULT" type="apo:confirmationResultType" 
				minOccurs="0" maxOccurs="1" />
			<xs:element name="LAST_PASSBOOK_ENTRY" type="apo:lastPassbookEntryType" 
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="confirmationResultType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CORRECT" />
			<xs:enumeration value="INCORRECT" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="lastPassbookEntryType">
		<xs:sequence>
			<xs:element name="DATE" type="xs:string" 
				minOccurs="1" maxOccurs="1" />
			<xs:element name="AMOUNT" type="gen:amountType" 
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NATURE" type="apo:natureType" 
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="natureType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREDIT" />
			<xs:enumeration value="DEBIT" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>