Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaOfertaCreditoConsumo/xsd/consultaOfertaCreditoConsumoTypes.xsd

<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaOfertaCreditoConsumoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaOfertaCreditoConsumoTypes">
	
	
	<xs:complexType name="scoreInfoType">
		<xs:sequence>
			<xs:element name="SCORE_CALCULATION" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="QUALIFICATION" type="xs:string" minOccurs="0"/>
			<xs:element name="RISK_LEVEL" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="internalExtrasType">
		<xs:sequence>
			<xs:element name="EXTRA" type="tns:extraInternalType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="extraInternalType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" default="0" minOccurs="0"/>
			<xs:element name="DATE" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="RATE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INSTALLMENT_COUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_INSTALLMENT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="assetType">
		<xs:sequence>
			<xs:element name="NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CATEGORY" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="CANCELATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="CURRENT_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="END_OF_MONTH_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="AVERAGE_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="liabilitiesType">
		<xs:sequence>
			<xs:element name="CREDIT_CARDS_INFO" type="tns:creditCardsInfoType" minOccurs="0"/>
			<xs:element name="LOANS_INFO" type="tns:loansInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="creditCardsInfoType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD" type="tns:creditCardType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="creditCardType">
		<xs:sequence>
			<xs:element name="ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="BEHAVIOR_SCORE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="QUALIFICATION_SCORE" type="xs:string" minOccurs="0"/>
			<xs:element name="QUALIFICATION_CUSTOMER_SCORE" type="xs:string" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:string" default="0" minOccurs="0"/>
			<xs:element name="AFFINITY_GROUP" type="xs:string" minOccurs="0"/>
			<xs:element name="PRODUCT" type="xs:string" minOccurs="0"/>
			<xs:element name="CLEARING_MODEL" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="CANCELATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="LAST_EXTRA_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="CURRENT_DUE" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="CURRENT_LIMIT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="CURRENT_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="CLOSING_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="EXTRA_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INTRA_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="ACTIVE_EXTRA_INSTALLMENTS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="CASH_DISCOUNT_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="LOCKCODE1" type="xs:string" minOccurs="0"/>
		    <xs:element name="LOCKCODE2" type="xs:string" minOccurs="0"/>
		    <xs:element name="LOGO" type="xs:string" minOccurs="0"/>
		    <xs:element name="AVAILABLE_CASH" type="xs:string" minOccurs="0"/>
		    <xs:element name="LOCK_DATE1" type="xs:string" minOccurs="0"/>
		    <xs:element name="LOCK_DATE2" type="xs:string" minOccurs="0"/>
		    <xs:element name="TRANSACTION_CREDIT_CARD_TYPE" type="tns:creditCardProductTransactionsType" minOccurs="0"/>
		    <xs:element name="PRIOR_LIMIT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="LAST_INTRA_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="LAST_PIL_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
		    <xs:element name="HISTORICAL_ARREAR_LOC" type="xs:string" minOccurs="0"/>
		    <xs:element name="HISTORICAL_ARREAR_USD" type="xs:string" minOccurs="0"/>
		    <xs:element name="CHARGE_OFF_FLAG" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="creditCardProductTransactionsType">
			<xs:sequence>
				<xs:element name="TRANSACTION" type="tns:transactionCreditCardType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		
		<xs:complexType name="transactionCreditCardType">
			<xs:sequence>
				<xs:element name="PERIOD_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="PERIOD_BALANCE" type="xs:string" minOccurs="0"/>
				<xs:element name="AMOUNT_DUE" type="xs:string" minOccurs="0"/>
				<xs:element name="PAYMENTS" type="xs:string" minOccurs="0"/>
				<xs:element name="MERCH_SALES" type="xs:string" minOccurs="0"/>
				<xs:element name="CASH_WITHDRAWAL" type="xs:string" minOccurs="0"/>
				<xs:element name="LIMIT" type="xs:string" minOccurs="0"/>
				<xs:element name="OTHER_TRANSACTIONS" type="xs:string" minOccurs="0"/>
				<xs:element name="INTEREST" type="xs:string" minOccurs="0"/>
				<xs:element name="TOTAL_FEES" type="xs:string" minOccurs="0"/>
				<xs:element name="OTHER_DEBITS" type="xs:string" minOccurs="0"/>
				<xs:element name="CYCLE_DUE" type="xs:string" minOccurs="0"/>
				<xs:element name="CYCLE_TOTAL_BALANCE" type="xs:string" minOccurs="0"/>
				<xs:element name="EXTRA_CASH_INFO" type="tns:extraCashInfoType" minOccurs="0"/>
				<xs:element name="INTRA_CASH_INFO" type="tns:intraCashInfoType" minOccurs="0"/>
				<xs:element name="EXTRA_FEE" type="xs:string" minOccurs="0"/>
				<xs:element name="INTRA_FEE" type="xs:string" minOccurs="0"/>
				<xs:element name="EXTRA_BALANCE" type="xs:string" minOccurs="0"/>
				<xs:element name="INTRA_BALANCE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
		
		<xs:complexType name="extraCashInfoType">
			<xs:sequence>
				<xs:element name="BALANCE" type="xs:string" minOccurs="0"/>
				<xs:element name="INSTALLMENT" type="xs:string" minOccurs="0"/>
				<xs:element name="INTEREST" type="xs:string" minOccurs="0"/>
				<xs:element name="FEE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="intraCashInfoType">
		<xs:sequence>
			<xs:element name="BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST" type="xs:string" minOccurs="0"/>
			<xs:element name="FEE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="loansInfoType">
		<xs:sequence>
			<xs:element name="LOAN" type="tns:loanType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="loanType">
		<xs:sequence>
			<xs:element name="NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="AGENCY_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="SUB_APPLICATION" type="xs:string" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="CANCELATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="INITIAL_AMOUNT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="CURRENT_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PAYMENT_AMOUNT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="RATE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="TERM" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PAYMENT_NUMBER" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FIRST_PAYMENT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="LAST_PAYMENT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="PAID_PAYMENTS" type="xs:string" minOccurs="0"/>
			<xs:element name="CAPITAL_FREQUENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="DESTINATION_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="MONTHLY_PRIME" type="xs:string" minOccurs="0"/>
			<xs:element name="CONTRACT_NUMBER" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="CHARGES" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INTEREST" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INSURANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="OTHER_CHARGES" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="CURRENT_DUE" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="DEBTOR_TYPE" type="xs:string" minOccurs="0"/>	
			<xs:element name="CODE_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="GUARANTEE_TYPE" type="xs:string" minOccurs="0"/>		
			<xs:element name="PRODUCT_TRANSACTIONS" type="tns:productTransactionType" minOccurs="0"/>		
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="productTransactionType">
		<xs:sequence>
			<xs:element name="TRANSACTION" type="tns:transactionProductType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="transactionProductType">
		<xs:sequence>
			<xs:element name="PERIOD_DATE" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="PERIOD_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="CAPITAL_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="DUE_BALANCE" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="CHARGES" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="INSURANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="OTHER_CHARGES" type="xs:string" minOccurs="0"/>
			<xs:element name="CYCLE_DUE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="customerInfoType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="TARGET" type="xs:string"/>
			<xs:element name="DATE_OF_BIRTH" type="xs:date"/>
			<xs:element name="AGE" type="xs:int"/>
			<xs:element name="GENDER" type="xs:string"/>
			<xs:element name="TYPE" type="xs:string"/>
			<xs:element name="TOTAL_SALARY" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="NET_SALARY" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PAYROLL_SALARY" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="CREDIT_MONTHS" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="FLAG_HIT" type="xs:string" minOccurs="0"/>
			<xs:element name="LABOR_YEARS" type="xs:int" default="0" minOccurs="0" />
			<xs:element name="JOB_COMPANY" type="xs:string" minOccurs="0" />
			<xs:element name="JOB_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="JOB_CHARGE" type="xs:string" minOccurs="0" />			
			<xs:element name="JOB_START_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="SOURCE_OF_INCOME" type="xs:string" minOccurs="0" />
			<xs:element name="EXTERNAL_SCORE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="USER_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="SALES_ORIGIN" type="xs:string" minOccurs="0" />
			<xs:element name="FISCAL_ID" type="xs:string" minOccurs="0" />
			<xs:element name="FIRST_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="LAST_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CLIENT_PROFILE" type="xs:string" minOccurs="0" />
			<xs:element name="CAMPAING" type="xs:string" minOccurs="0" />
			<xs:element name="VIP_CLIENT" type="xs:string" minOccurs="0" />
			<xs:element name="HOUSING_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="HOUSING_ANTIQUITY" type="xs:int" minOccurs="0" />
			<xs:element name="REFERENCIA_SIB" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="offersType">
		<xs:sequence>
			<xs:element name="OFFER" type="tns:offerType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="offerType">
		<xs:sequence>
			<xs:element name="PRODUCT_CODE"  type="xs:string" minOccurs="0"/>
			<xs:element name="MAX_AMOUNT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="RATE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="AMOUNT_CALCULATIONS" type="tns:amountCalculationsType" minOccurs="0"/>
			<xs:element name="TIMES_INCOME" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="RESOLUTION" type="tns:resolutionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="amountCalculationsType">
		<xs:sequence>
			<xs:element name="FOR_12_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_18_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_24_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_36_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_48_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_60_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="resolutionType">
		<xs:sequence>
			<xs:element name="CODE"  type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="preApprovedOffersType">
		<xs:sequence>
			<xs:element name="OFFER" type="tns:loadOriginationOfferType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="loadOriginationOfferType">
		<xs:sequence>
            <xs:element name="INFORMATION_DATE" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="DETAILS" type="tns:detailsType" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="RATE" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="TIMES_INCOME" type="xs:int" default="0" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="detailsType">
		<xs:sequence>
			<xs:element name="FOR_12_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_18_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_24_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_36_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_48_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_60_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="resolutionsType">
		<xs:sequence>
			<xs:element name="RESOLUTION_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="RESOLUTION_DESCRIPTION" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
	<xs:complexType name="resolutionOffersType">
		<xs:sequence>
			<xs:element name="OFFER" type="tns:resolutionOfferType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="resolutionOfferType">
		<xs:sequence>
			<xs:element name="PRODUCT_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="RATE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INSTALLMENT_NDE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INSTALLMENT_RCI_NONP2C" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INSTALLMENT_RCI_P2C" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_12_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_18_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_24_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_36_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_48_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_60_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_72_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_84_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_96_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_108_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_120_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_MAX_AMOUNT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="MEG_OFFER" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="MAX_OFFER" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="NDE_OFFER" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="NONP2C_OFFER" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="P2C_OFFER" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="RCI_OFFER" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="TIMESINCOME_OFFER" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="RCI" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="TIMESINCOME" type="xs:int" default="0" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="agreementType">
		<xs:sequence>
			<xs:element name="COMPANY_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="RATE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PAYMENT_METHOD" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="TERM" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
		<xs:complexType name="referencesDetailsType">
		<xs:sequence>
			<xs:element name="QUERIES" type="tns:queriesType" minOccurs="0"/>
			<xs:element name="ACTIVE_REFERENCES" type="tns:activeReferencesType" minOccurs="0"/>
			<xs:element name="HISTORICAL_REFERENCES" type="tns:historicalReferencesType" minOccurs="0"/>
			<xs:element name="REFERENCE_BUREAU_TUCA" type="tns:referencesBureauTucaType" minOccurs="0"/>
			<xs:element name="REFERENCE_BUREAU_SIRC" type="tns:referencesBureauSircType" minOccurs="0"/>
			<xs:element name="FOR_CONSOLIDATE" type="tns:forConsolidatesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="queriesType">
		<xs:sequence>
			<xs:element name="QUERY_ITEM" type="tns:queryItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="queryItemType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="ENTITY" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="MOTIVE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="activeReferencesType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="tns:activeReferenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="forConsolidation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YES"/>
			<xs:enumeration value="NO"/>
		</xs:restriction>
	</xs:simpleType>
    
    <xs:complexType name="activeReferenceType">
		<xs:sequence>
			<xs:element name="QUERY_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDITOR" type="xs:string" minOccurs="0"/>
			<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="OBLIGATION_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="LIMIT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="TERM" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="EXCHANGE_FACTOR" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="MIN_PAYMENT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PAYMENT_DUE" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="PAYMENT_METHOD" type="xs:string" minOccurs="0"/>
            <xs:element name="GUARANTEE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="GUARANTEE_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="ARREAR_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="ARREAR_LEVEL" type="xs:string" minOccurs="0"/>
			<xs:element name="DUE_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="IN_EXECUTION" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PUNISHED" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="PUNISHED_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
            <xs:element name="PERIOD" type="xs:string" minOccurs="0"/>
			<xs:element name="INFORMATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
            <xs:element name="CANCELATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="EXPIRATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="HISTORICAL_ARREAR" type="xs:string" minOccurs="0"/>
            <xs:element name="HISTORICAL_COUNT_LOC" type="xs:string" minOccurs="0"/>
			<xs:element name="HISTORICAL_COUNT_DOL" type="xs:string" minOccurs="0"/>
			<xs:element name="FOR_CONSOLIDATION" type="tns:forConsolidation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="historicalReferencesType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="tns:historicalReferenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
        <xs:complexType name="historicalReferenceType">
		<xs:sequence>
			<xs:element name="QUERY_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDITOR" type="xs:string" minOccurs="0"/>
			<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="OBLIGATION_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="LIMIT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="TERM" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="EXCHANGE_FACTOR" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="MIN_PAYMENT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PAYMENT_DUE" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="PAYMENT_METHOD" type="xs:string" minOccurs="0"/>
            <xs:element name="GUARANTEE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="GUARANTEE_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="ARREAR_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="ARREAR_LEVEL" type="xs:string" minOccurs="0"/>
			<xs:element name="DUE_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="IN_EXECUTION" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PUNISHED" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="PUNISHED_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
            <xs:element name="PERIOD" type="xs:string" minOccurs="0"/>
			<xs:element name="INFORMATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
            <xs:element name="CANCELATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="EXPIRATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="HISTORICAL_ARREAR" type="xs:string" minOccurs="0"/>
            <xs:element name="HISTORICAL_COUNT_LOC" type="xs:string" minOccurs="0"/>
			<xs:element name="HISTORICAL_COUNT_DOL" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="referencesBureauTucaType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="tns:referenceTucaType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="referenceTucaType">
		<xs:sequence>
			<xs:element name="QUERY_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="OBLIGATION_CODE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="OBLIGATION_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="OBLIGATION_SECTOR" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDITOR" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="GUARANTEE_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="CANCELATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="INFORMATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="PAYMENT_METHOD" type="xs:string" minOccurs="0"/>
			<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="LIMIT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="BALANCE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="ARREAR_BALANCE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="LAST_MOVEMENT_MONTH" type="xs:int" minOccurs="0"/>
			<xs:element name="LAST_MOVEMENT_YEAR" type="xs:int" minOccurs="0"/>
			<xs:element name="HISTORICAL_ARREAR" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="referencesBureauSircType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="tns:referenceSircType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
       
    <xs:complexType name="referenceSircType">
		<xs:sequence>
			<xs:element name="QUERY_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDITOR" type="xs:string" minOccurs="0"/>
			<xs:element name="ASSET_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="WARRANTY_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="BALANCE" type="xs:float" minOccurs="0"/>
			<xs:element name="DUE_BALANCE" type="xs:float" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:float" minOccurs="0"/>
			<xs:element name="CONSESSION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="EXPIRATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="CANCELATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="HISTORICAL_ARREAR" type="xs:string" minOccurs="0"/>
			<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBTOR_TYPE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	 
    <xs:complexType name="scoresType">
		<xs:sequence>
			<xs:element name="SCORE" type="tns:scoreType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	 
    <xs:complexType name="scoreType">
		<xs:sequence>
			<xs:element name="VAR1" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR2" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR3" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR4" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR5" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR6" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR7" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR8" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR9" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR10" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR11" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR12" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR13" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR14" type="xs:decimal" minOccurs="0"/>
			<xs:element name="VAR15" type="xs:decimal" minOccurs="0"/>
			<xs:element name="INTERNAL_SCORE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="INTERNAL_RISK_LEVEL" type="xs:string" minOccurs="0"/>
			<xs:element name="SCORE_STRATEGY" type="xs:string" minOccurs="0"/>
			<xs:element name="SCORE_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="INTERNAL_RISK_SEGMENT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	 
    <xs:complexType name="forConsolidatesType">
		<xs:sequence>
			<xs:element name="FOR_CONSOLIDATE" type="tns:forConsolidateType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	 
    <xs:complexType name="forConsolidateType">
		<xs:sequence>
			<xs:element name="REFERENCE_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="REFERENCE_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="REFERENCE_ENTITY" type="xs:string" minOccurs="0"/>
			<xs:element name="CHECK_BENEFECIARY" type="xs:string" minOccurs="0"/>
			<xs:element name="REFERENCE_ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="REFERENCE_LIMIT_AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="REFERENCE_INSTALLMENT_AMOUNT" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaOfertaCreditoConsumoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CASE_ID" type="xs:string"/>
                <xs:element name="PRODUCT_NATURE" type="xs:string"/>
				<xs:element name="CUSTOMER_INFO" type="tns:customerInfoType"/>
				<xs:element name="EXTERNAL_SCORE" type="xs:float" default="0.0" minOccurs="0"/>
				<xs:element name="SCORE_INFO" type="tns:scoreInfoType" minOccurs="0"/>
				<xs:element name="OFFERS" type="tns:offersType" minOccurs="0"/>
				<xs:element name="ASSETS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ASSET" type="tns:assetType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
				</xs:element>
				<xs:element name="LIABILITIES" type="tns:liabilitiesType" minOccurs="0"/>
				<xs:element name="PRE_APPROVED_OFFERS" type="tns:preApprovedOffersType" minOccurs="0"/>
				<xs:element name="INTERNAL_EXTRAS" type="tns:internalExtrasType" minOccurs="0"/>
                <xs:element name="REFERENCES_DETAILS" type="tns:referencesDetailsType" minOccurs="0"/>
				<xs:element name="AGREEMENT" type="tns:agreementType" minOccurs="0"/>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaOfertaCreditoConsumoResponse">
		<xs:complexType>
			<xs:sequence>
                <xs:element name="CASE_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="GENERAL_RCI" type="xs:float" default="0.0" minOccurs="0"/>
                <xs:element name="GENERAL_RCI_MAX" type="xs:float" default="0.0" minOccurs="0"/>
                <xs:element name="GENERAL_CURRENT_NDE" type="xs:float" default="0.0" minOccurs="0"/>
                <xs:element name="GENERAL_FINAL_NDE" type="xs:float" default="0.0" minOccurs="0"/>
                <xs:element name="CREDIT_CARD_SCORE" type="xs:int" default="0" minOccurs="0"/>
                <xs:element name="INTERNAL_SCORE" type="xs:float" default="0.0" minOccurs="0"/>
                <xs:element name="CREDIT_CARD_RISK_LEVEL" type="xs:string" minOccurs="0"/>
                <xs:element name="INTERNAL_RISK_LEVEL" type="xs:string" minOccurs="0"/>
                <xs:element name="EXTERNAL_RISK_LEVEL" type="xs:string" minOccurs="0"/>
                <xs:element name="CUSTOMER_SEGMENT" type="xs:string" minOccurs="0"/>
                <xs:element name="CUSTOMER_SUBSEGMENT" type="xs:string" minOccurs="0"/>
                <xs:element name="CURRENT_EXPOSURE" type="xs:float" default="0.0" minOccurs="0"/>
               	<xs:element name="GLOBAL_EXPOSURE_LOCAL_CCY" type="xs:float" default="0.0" minOccurs="0"/>
               	<xs:element name="GLOBAL_EXPOSURE_FOREIGN_CCY" type="xs:float" default="0.0" minOccurs="0"/>
                <xs:element name="CREDIT_CARD_OVERDRAFT" type="xs:float" default="0.0" minOccurs="0"/>
                <xs:element name="CREDIT_REFERENCES" type="xs:int" default="0" minOccurs="0"/>
                <xs:element name="INTERNAL_LOAN_REFERENCES" type="xs:int" default="0" minOccurs="0"/>
                <xs:element name="REWRITE_REFERENCES" type="xs:int" default="0" minOccurs="0"/>
                <xs:element name="TOTAL_EXTRA" type="xs:int" default="0" minOccurs="0"/>
                <xs:element name="TOTAL_RISK" type="xs:float" default="0.0" minOccurs="0"/>
                <xs:element name="CURRENT_ARREAR" type="xs:int" default="0" minOccurs="0"/>
                <xs:element name="CURRENT_ARREAR_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
                <xs:element name="CREDIT_EXPERIENCE" type="xs:int" default="0" minOccurs="0"/>
                <xs:element name="ARREAR_ON_60DAYS_FOR_6MONTHS" type="xs:int" default="0" minOccurs="0"/>
               	<xs:element name="ARREAR_ON_60DAYS_FOR_12MONTHS" type="xs:int" default="0" minOccurs="0"/>
               	<xs:element name="ARREAR_ON_90DAYS_FOR_12MONTHS" type="xs:int" default="0" minOccurs="0"/>
                <xs:element name="RESOLUTIONS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RESOLUTION" type="tns:resolutionsType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
				</xs:element>
				<xs:element name="RESOLUTION_OFFERS" type="tns:resolutionOffersType" minOccurs="0"/>
				<xs:element name="CREDIT_CARD" type="tns:creditCardType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="DATE" type="xs:string" minOccurs="0"/>
                <xs:element name="SCORE_STRATEGY" type="xs:string" minOccurs="0"/>
                <xs:element name="SCORE_TYPE" type="xs:string" minOccurs="0"/>
                <xs:element name="CUSTOMER_SALARY_SEGMENT" type="xs:string" minOccurs="0"/>
                <xs:element name="ACTIVE_DIRECT_CREDITS" type="xs:string" minOccurs="0"/>
                <xs:element name="CANCELED_DIRECT_CREDITS" type="xs:string" minOccurs="0"/>
                <xs:element name="ACTIVE_INDIRECT_CREDITS" type="xs:string" minOccurs="0"/>
                <xs:element name="CANCELED_INDIRECT_CREDITS" type="xs:string" minOccurs="0"/>
                <xs:element name="ARREAR_ON_30DAYS_FOR_3MONTHS" type="xs:int" default="0" minOccurs="0"/>
                <xs:element name="ARREAR_ON_120DAYS_FOR_18MONTHS" type="xs:int" default="0" minOccurs="0"/>
                <xs:element name="TOTAL_DIRECT_DEBT" type="xs:string" minOccurs="0"/>
                <xs:element name="TOTAL_INDIRECT_DEBT" type="xs:string" minOccurs="0"/>
                <xs:element name="TOTAL_CONTINGENT_DEBT" type="xs:string" minOccurs="0"/>
                <xs:element name="CALCULATED_SALARY" type="xs:string" minOccurs="0"/>
                <xs:element name="DEBT_BURDEN_SALARY" type="xs:string" minOccurs="0"/>
                <xs:element name="BUREAU_INSTALLMENT" type="xs:string" minOccurs="0"/>
                <xs:element name="BUREAU_INSTALLMENT_EXTERNAL" type="xs:string" minOccurs="0"/>
                <xs:element name="TOTAL_BUREAU_INSTALLMENT" type="xs:string" minOccurs="0"/>
                <xs:element name="MAX_LIMIT_CREDIT_CARD" type="xs:string" minOccurs="0"/>
                <xs:element name="AVERAGE_LIMIT_CREDIT_CARD" type="xs:string" minOccurs="0"/>
                <xs:element name="CONSOLIDATE_BALANCE" type="xs:string" minOccurs="0"/>
                <xs:element name="SIB_REFERENCE" type="xs:string" minOccurs="0"/>
                <xs:element name="REFERENCE" type="xs:string" minOccurs="0"/>
                <xs:element name="REFERENCE_TYPE" type="xs:string" minOccurs="0"/>
                <xs:element name="REFERENCE_ENTITY" type="xs:string" minOccurs="0"/>
                <xs:element name="REFERENCE_BALANCE" type="xs:decimal" minOccurs="0"/>
                <xs:element name="REFERENCE_OPENING_DATE" type="xs:date" minOccurs="0"/>
				<xs:element name="SCORE" type="tns:scoresType" minOccurs="0"/>
				<xs:element name="FOR_CONSOLIDATE" type="tns:forConsolidatesType" minOccurs="0"/>
			</xs:sequence>		
		</xs:complexType>
	</xs:element>
</xs:schema>