Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKGT/obtenerSitFinanciera/xsd/obtenerSitFinanciera_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/obtenerSitFinanciera" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/obtenerSitFinanciera" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PT_CODIGO_CLIENTE" type="db:PROXYABANKSGT.TNUMBER" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TIPO_PRODUCTO_CLI" type="db:PROXYABANKSGT.TVARCHAR20" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NUMERO_PRODUCTO" type="db:PROXYABANKSGT.TVARCHAR20" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TIPO_PRODUCTO" type="db:PROXYABANKSGT.TVARCHAR20" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_REGION" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_TIPO_PRODUCTO_CLI_OUT" type="db:PROXYABANKSGT.TVARCHAR20" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TIPO_PRODUCTO_OUT" type="db:PROXYABANKSGT.TVARCHAR20" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGO_MONEDA" type="db:PROXYABANKSGT.TVARCHAR10" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SALDO_DISPONIBLE" type="db:PROXYABANKSGT.T_MONTO" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SALDO_TOTAL" type="db:PROXYABANKSGT.T_MONTO" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_SUCCESS_INDICATOR" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_REGION" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_TIPO_PRODUCTO_CLI_OUT" type="db:PROXYABANKSGT.TVARCHAR20" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TIPO_PRODUCTO_OUT" type="db:PROXYABANKSGT.TVARCHAR20" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGO_MONEDA" type="db:PROXYABANKSGT.TVARCHAR10" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SALDO_DISPONIBLE" type="db:PROXYABANKSGT.T_MONTO" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SALDO_TOTAL" type="db:PROXYABANKSGT.T_MONTO" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_SUCCESS_INDICATOR" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.T_MONTO">
      <sequence>
         <element name="PT_SALDO_DISPONIBLE_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TVARCHAR10">
      <sequence>
         <element name="PT_CODIGO_MONEDA_ITEM" type="db:string10" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TVARCHAR20">
      <sequence>
         <element name="PT_TIPO_PRODUCTO_CLI_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TNUMBER">
      <sequence>
         <element name="PT_CODIGO_CLIENTE_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
</schema>
