Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/OSB/ConsultaChequesReserva_v2/xsd/XMLSchema_-1019552459.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaChequesReservaTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaChequesReservaTypes">

	<xs:complexType name="consultaChequesReservaResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_CLEARING_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="consultaChequesReservaResponseType" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaChequesReservaResponseRecordType" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BANK_NAME" type="xs:string" minOccurs="0"/>
									<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
									<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="CHEQUE_STATUS" type="xs:string" minOccurs="0"/>
									<xs:element name="RELEASE_DATE" type="xs:string" minOccurs="0"/>
									<xs:element name="CLEARING_DATE" type="xs:string" minOccurs="0"/>
									<xs:element name="CLEARING_DAYS" type="xs:string" minOccurs="0"/>
									<xs:element name="CLEARING_REMAINING_DAYS" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaChequesReserva">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaChequesReservaResponse" type="cons:consultaChequesReservaResponse"/>
	
</xs:schema>