Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/notificaDivisasEncabezado/xsd/ws_captura_piib.S_captura_piib_eco.svc.3217.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://tempuri.org/" elementFormDefault="qualified"
	targetNamespace="http://tempuri.org/">
	<xs:import
		schemaLocation="ws_captura_piib.S_captura_piib_eco.svc.9976.xsd"
		namespace="http://schemas.microsoft.com/Message" />
	<xs:element name="Of_cargar_ingreso_egreso_divisas">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ps_Usuario" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="ps_Password" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="ps_Entidad" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="ps_Entrada" nillable="true"
					type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Of_cargar_ingreso_egreso_divisasResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
					name="Of_cargar_ingreso_egreso_divisasResult" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Of_cargar_ingreso_egreso_divisas_encab">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ps_Usuario" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="ps_Password" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="ps_Entidad" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="ps_Entrada" nillable="true"
					type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Of_cargar_ingreso_egreso_divisas_encabResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
					name="Of_cargar_ingreso_egreso_divisas_encabResult" nillable="true"
					type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q1="http://schemas.microsoft.com/Message"
					name="ps_Entrada" type="q1:StreamBody" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ps_Entidad" nillable="true" type="xs:string" />
	<xs:element name="ps_Password" nillable="true" type="xs:string" />
	<xs:element name="ps_Usuario" nillable="true" type="xs:string" />
	<xs:element name="DataReturn">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="ps_Respuesta" nillable="true" type="xs:string" />
</xs:schema>
