Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/tarjetaCredito/SolicitudReposicionPinTarjetaCredito/solicitudReposicionPinTarjetaCreditoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/solicitudReposicionPinTarjetaCreditoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/solicitudReposicionPinTarjetaCreditoTypes">
		
	<xs:complexType name = "solicitudReposicionPinTarjetaCreditoResponse">
		<xs:sequence>
		</xs:sequence> 
	</xs:complexType>
	
	<xs:element name="solicitudReposicionPinTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="USER_ID" type="xs:string"/>
	            <xs:element name="EMAIL_ADDRESS" type="xs:string"/>
	            <xs:element name="CUSTOMER_ID" type="xs:string"/>
	            <xs:element name="INTERFACE_REFERENCE_NO" type="xs:string"/>
	            <xs:element name="CARD_NUMBER" type="xs:string"/>
	            <xs:element name="CUSTOMER_LEGAL_ID" type="xs:string"/>
	            <xs:element name="WITHDRAWAL_BRANCH_CODE" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="solicitudReposicionPinTarjetaCreditoResponse" type="cons:solicitudReposicionPinTarjetaCreditoResponse"/>
	
</xs:schema>