Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/SolicitudFinanciamientoTC/wsdl/solicitudFinanciamientoTCPS.wsdl

<wsdl:definitions name="solicitudFinanciamientoTCPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/solicitudFinanciamientoTCPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/solicitudFinanciamientoTCPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:sol="http://www.ficohsa.com.hn/middleware.services/solicitudFinanciamientoTCTypes">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/solicitudFinanciamientoTCTypes" schemaLocation="../xsd/solicitudFinanciamientoTCTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestHeader">
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="responseHeader">
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
     
    <wsdl:message name="solicitaFinanciamientoRequest">
        <wsdl:part element="sol:solicitaFinanciamientoTC" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="solicitaFinanciamientoResponse">
        <wsdl:part element="sol:solicitaFinanciamientoTCResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:message name="calculaFinanciamientoRequest">
        <wsdl:part element="sol:calculaFinanciamientoTC" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="calculaFinanciamientoResponse">
        <wsdl:part element="sol:calculaFinanciamientoTCResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:portType name="solicitudFinanciamientoTCPS">
        <wsdl:operation name="solicitaFinanciamientoTC" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:solicitaFinanciamientoRequest"/>
            <wsdl:output message="fic:solicitaFinanciamientoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="calculaFinanciamientoTC" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:calculaFinanciamientoRequest"/>
            <wsdl:output message="fic:calculaFinanciamientoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="solicitudFinanciamientoTCPSSOAP" type="fic:solicitudFinanciamientoTCPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="solicitaFinanciamientoTC">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/solicitudFinanciamientoTCPS/solicitaFinanciamiento"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
         <wsdl:operation name="calculaFinanciamientoTC">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/solicitudFinanciamientoTCPS/calculaFinanciamiento"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="solicitudFinanciamientoTCPS">
        <wsdl:port binding="fic:solicitudFinanciamientoTCPSSOAP" name="solicitudFinanciamientoTCPSSOAP">
           <soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Payments/solicitudFinanciamiento"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>