Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/AutenticacionClienteTarjeta/xsd/autenticacionClienteTarjetaTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/autenticacionClienteTarjetaTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/autenticacionClienteTarjetaTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:complexType name="merchantInfoArray">
		<xs:sequence>
			<xs:element name="ACQUIRERID" type="xs:string" minOccurs="0"/>
			<xs:element name="ACQUIRERCOUNTRYCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="MERCHANTID" type="xs:string" minOccurs="0"/>
			<xs:element name="MERCHANTNAME" type="xs:string" minOccurs="0"/>
			<xs:element name="MERCHANTURL" type="xs:string" minOccurs="1" />
			<xs:element name="MERCHANTCATEGORYCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="MERCHANTCOUNTRYCODE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="paymentInfoArray">
		<xs:sequence>
			<xs:element name="CARDNUMBER" type="xs:string" minOccurs="1" />
			<xs:element name="CARDEXPIRYMONTH" type="xs:string" minOccurs="1" />
			<xs:element name="CARDEXPIRYYEAR" type="xs:string"	minOccurs="1" />
			<xs:element name="CARDTYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="CARDHOLDERNAME" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="transactionInfoArray">
		<xs:sequence>
			<xs:element name="TRANSACTIONTIMESTAMP" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTIONAMOUNT" type="xs:decimal" minOccurs="0" default="0"/>
			<xs:element name="TRANSACTIONCURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTIONEXPONENT" type="xs:int" minOccurs="0" default="0"/>
			<xs:element name="TRANSACTIONTYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="MANDATEDREGION" type="xs:string" minOccurs="0"/>
			<xs:element name="CHANNEL" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cardHolderSelectionInfoArray">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string" minOccurs="1"/>
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="credentialsArray">
		<xs:sequence>
			<xs:element name="CREDENTIAL" type="tns:credentialArray" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="credentialArray">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="1"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="1"/>
			<xs:element name="TEXT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="reasonArray">
		<xs:sequence>
			<xs:element name="REASONCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="REASONDESCRIPTION" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="errorArray">
		<xs:sequence>
			<xs:element name="REFERENCENUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="MESSAGE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="whyInfoArray">
		<xs:sequence>
			<xs:element name="LABEL" type="xs:string" minOccurs="0"/>
			<xs:element name="TEXT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="credentialsRequestArray">
		<xs:sequence>
			<xs:element name="CREDENTIAL" type="tns:credentialRequestArray"	maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="credentialRequestArray">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="1" />
			<xs:element name="TYPE" type="xs:string" minOccurs="1" />
			<xs:element name="TEXT" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaTiposCredenciales">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROCESSORID" type="xs:string"	minOccurs="1" />
				<xs:element name="ISSUERID" type="xs:string" minOccurs="1" />
				<xs:element name="TRANSACTIONID" type="xs:string" minOccurs="1" />
				<xs:element name="DSTRANSACTIONID" type="xs:string" minOccurs="0"/>
				<xs:element name="STEPUPREQUESTID" type="xs:string" minOccurs="1" />
				<xs:element name="STEPUPCOUNTER" type="xs:int" minOccurs="1" default="0"/>
				<xs:element name="DEVICELOCALE" type="xs:string" minOccurs="0" />
				<xs:element name="DEVICEUSERAGENT" type="xs:string" minOccurs="0"/>
				<xs:element name="MESSAGEVERSION" type="xs:string" minOccurs="1" />
				<xs:element name="RDXMESSAGEVERSION" type="xs:string" minOccurs="0"/>
				<xs:element name="STEPUPREASON" type="xs:string" minOccurs="0"/>
				<xs:element name="MERCHANTINFO" type="tns:merchantInfoArray" minOccurs="0" />
				<xs:element name="PAYMENTINFO" type="tns:paymentInfoArray" minOccurs="0"/>
				<xs:element name="TRANSACTIONINFO" type="tns:transactionInfoArray" minOccurs="0"/>
				<xs:element name="CARDHOLDERSELECTIONINFO" type="tns:cardHolderSelectionInfoArray" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaTiposCredencialesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROCESSORID" type="xs:string"	minOccurs="0" />
				<xs:element name="ISSUERID" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTIONID" type="xs:string" minOccurs="0" />
				<xs:element name="STEPUPREQUESTID" type="xs:string"	minOccurs="0" />
				<xs:element name="STEPUPTYPE" type="xs:string" minOccurs="0" />
				<xs:element name="LANGUAGE" type="xs:string" minOccurs="0" />
				<xs:element name="STATUS" type="xs:string" minOccurs="0" />
				<xs:element name="RISKINDICATOR" type="xs:string" minOccurs="0" />
				<xs:element name="CREDENTIALS" type="tns:credentialsArray" minOccurs="1" />
				<xs:element name="REASON" type="tns:reasonArray" minOccurs="0" />
				<xs:element name="ERROR" type="tns:errorArray" minOccurs="0" />
				<xs:element name="WHYINFO" type="tns:whyInfoArray" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="envioVerificacionToken">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROCESSORID" type="xs:string"	minOccurs="1" />
				<xs:element name="ISSUERID" type="xs:string" minOccurs="1" />
				<xs:element name="TRANSACTIONID" type="xs:string" minOccurs="1" />
				<xs:element name="DSTRANSACTIONID" type="xs:string" minOccurs="0"/>
				<xs:element name="STEPUPREQUESTID" type="xs:string" minOccurs="1"/>
				<xs:element name="STEPUPTYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="STEPUPCOUNTER" type="xs:int" minOccurs="1" default="0"/>
				<xs:element name="OTPREFERENCECODE" type="xs:string" minOccurs="0"/>
				<xs:element name="VERIFICATIONTOKEN" type="xs:string" minOccurs="0"/>
				<xs:element name="MESSAGEVERSION" type="xs:string" minOccurs="1"/>
				<xs:element name="RDXMESSAGEVERSION" type="xs:string" minOccurs="0"/>
				<xs:element name="CREDENTIALS" type="tns:credentialsRequestArray" minOccurs="1" />
				<xs:element name="MERCHANTINFO" type="tns:merchantInfoArray" minOccurs="0"/>
				<xs:element name="PAYMENTINFO" type="tns:paymentInfoArray" minOccurs="0"/>
				<xs:element name="TRANSACTIONINFO" type="tns:transactionInfoArray" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="envioVerificacionTokenResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROCESSORID" type="xs:string"	minOccurs="1" />
				<xs:element name="ISSUERID" type="xs:string" minOccurs="1" />
				<xs:element name="TRANSACTIONID" type="xs:string" minOccurs="1" />
				<xs:element name="STEPUPREQUESTID" type="xs:string"	minOccurs="1" />
				<xs:element name="LANGUAGE" type="xs:string" minOccurs="0" />
				<xs:element name="STATUS" type="xs:string" minOccurs="1" />
				<xs:element name="RISKINDICATOR" type="xs:string" minOccurs="0" />
				<xs:element name="CREDENTIALS" type="tns:credentialsArray" minOccurs="1" />
				<xs:element name="REASON" type="tns:reasonArray" minOccurs="0" />
				<xs:element name="ERROR" type="tns:errorArray" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>