Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultarTipoReversion/ConsultarTipoReversion.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultarTipoReversionTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultarTipoReversionTypes">
	
	<xs:complexType name="consultarTipoReversionResponseType">
		<xs:sequence>
			<xs:element name="consultarTipoReversionResponseType" type="cons:consultarTipoReversionResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultarTipoReversionResponseRecordType">
		<xs:sequence>
			<xs:element name="consultarTipoReversionResponseRecordType" type="cons:consultarTipoReversionResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultarTipoReversionResponseArrayType">
		<xs:sequence>
			<xs:element name="REVERSAL_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="ADDITIONAL_INFO" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultarTipoReversion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REVERSAL_TYPE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	
	<xs:element name="consultarTipoReversionResponse" type="cons:consultarTipoReversionResponseType"/>
	
</xs:schema>