Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/RegistraPagosMasivos/wsdl/AchTransfer_1.wsdl

<WL5G3N0:definitions targetNamespace="urn:AchSoapRouter_PS" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/achServicesPS" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:WL5G3N3="urn:AchSoapRouter_PS" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:AchSoapRouter_PS/types" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/achServicesPS" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:AchSoapRouter_PS" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:schema xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/achServicesPS" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:AchSoapRouter_PS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/achServicesPS" schemaLocation="../xsd/AchTransfer.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/achServicesPS" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:AchSoapRouter_PS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes" schemaLocation="../xsd/AchTransfer_1.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="doEchoRequest">
    <WL5G3N0:part element="WL5G3N1:DoEchoRequest" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="doEchoResponse">
    <WL5G3N0:part element="WL5G3N1:DoEchoResponse" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getTicketRequest">
    <WL5G3N0:part element="WL5G3N1:GetTicketRequest" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getTicketResponse">
    <WL5G3N0:part element="WL5G3N1:GetTicketResponse" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="sendCreditRequest">
    <WL5G3N0:part element="WL5G3N1:SendCreditRequest" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="sendCreditResponse">
    <WL5G3N0:part element="WL5G3N1:SendCreditResponse" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getTransactionsStatusRequest">
    <WL5G3N0:part element="WL5G3N1:GetTransactionsStatusRequest" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getTransactionsStatusResponse">
    <WL5G3N0:part element="WL5G3N1:GetTransactionsStatusResponse" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getReportTransactionRequest">
    <WL5G3N0:part element="WL5G3N1:GetReportTransactionRequest" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getReportTransactionResponse">
    <WL5G3N0:part element="WL5G3N1:GetReportTransactionResponse" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="AchSoapRouter_PS_ptt">
    <WL5G3N0:operation name="DoEcho">
      <WL5G3N0:input message="WL5G3N3:doEchoRequest"/>
      <WL5G3N0:output message="WL5G3N3:doEchoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="GetTicket">
      <WL5G3N0:input message="WL5G3N3:getTicketRequest"/>
      <WL5G3N0:output message="WL5G3N3:getTicketResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="SendCredit">
      <WL5G3N0:input message="WL5G3N3:sendCreditRequest"/>
      <WL5G3N0:output message="WL5G3N3:sendCreditResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="GetTransactionsStatus">
      <WL5G3N0:input message="WL5G3N3:getTransactionsStatusRequest"/>
      <WL5G3N0:output message="WL5G3N3:getTransactionsStatusResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="GetReportTransaction">
      <WL5G3N0:input message="WL5G3N3:getReportTransactionRequest"/>
      <WL5G3N0:output message="WL5G3N3:getReportTransactionResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="AchSoapRouter_PS_ptt-binding" type="WL5G3N3:AchSoapRouter_PS_ptt">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="DoEcho">
      <WL5G3N4:operation soapAction="urn:AchSoapRouter_PS/DoEcho" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="parameters" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:doEchoRequest" part="RequestHeader" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="parameters" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:doEchoResponse" part="ResponseHeader" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="GetTicket">
      <WL5G3N4:operation soapAction="urn:AchSoapRouter_PS/GetTicket" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="parameters" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:getTicketRequest" part="RequestHeader" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="parameters" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:getTicketResponse" part="ResponseHeader" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="SendCredit">
      <WL5G3N4:operation soapAction="urn:AchSoapRouter_PS/SendCredit" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="parameters" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:sendCreditRequest" part="RequestHeader" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="parameters" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:sendCreditResponse" part="ResponseHeader" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="GetTransactionsStatus">
      <WL5G3N4:operation soapAction="urn:AchSoapRouter_PS/GetTransactionsStatus" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="parameters" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:getTransactionsStatusRequest" part="RequestHeader" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="parameters" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:getTransactionsStatusResponse" part="ResponseHeader" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="GetReportTransaction">
      <WL5G3N4:operation soapAction="urn:AchSoapRouter_PS/GetReportTransaction" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="parameters" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:getReportTransactionRequest" part="RequestHeader" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="parameters" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:getReportTransactionResponse" part="ResponseHeader" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="AchSoapRouter_PS_ptt-bindingQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N3:AchSoapRouter_PS_ptt-binding" name="AchSoapRouter_PS_ptt-bindingQSPort">
      <WL5G3N4:address location="https://10.238.80.121:8004/v1.0/OperationsAndExecution/CustomerDeposits/AchTransfer"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>