Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/VerificaPagoRecaudo/xsd/verificaPagoRecaudoTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/verificaPagoRecaudoTypes"
	xmlns:ver="http://www.ficohsa.com.hn/middleware.services/verificaPagoRecaudoTypes">

	<xs:element name="verificaPagoRecaudo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CONTRACT_ID"> 
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="DEBTOR_CODE"> 
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>				
				<xs:element name="TRANSACTION_DATE"> 
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>				
				<xs:element name="TRANSACTION_ID" type="xs:string"/>
				<xs:element name="DEALSLIP_YES_NO"> 
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:enumeration value="YES"/>
		        			<xs:enumeration value="NO"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="ADDITIONAL_INFO" type="ver:additionalInfo" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="additionalInfo">
		<xs:sequence>
			<xs:element name="ITEM" type="ver:itemDetail" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="itemDetail">
		<xs:sequence>
			<xs:element name="ITEM_NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ITEM_VALUE" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	
	<xs:element name="verificaPagoRecaudoResponse" type="ver:verificaPagoRecaudoResponseType" />	
	
	<xs:complexType name="verificaPagoRecaudoResponseType">
		<xs:sequence>
			<xs:element name="TRANSACTION_ID" type="xs:string"/>
			<xs:element name="CONTRACT_ID" type="xs:string"/>
			<xs:element name="DEBTOR_CODE" type="xs:string"/>
			<xs:element name="TRANSACTION_DATE" type="xs:string"/>
			<xs:element name="CORE_STATUS" type="xs:string"/>
			<xs:element name="AGREEMENTS_STATUS" type="xs:string"/>
			<xs:element name="THIRDPARTY_STATUS" type="xs:string"/>									
			<xs:element name="DEALSLIP" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>	

</xs:schema>