Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_GetBatchStatus/Schemas/GetBatchStatusTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/massivePayment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mas="https://www.ficohsa.com/regional/massivePayment" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBRG_MassivePayment_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="getBatchStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="CustomerId" type="mas:stringMinLength1"/>
        <xsd:element name="QueryType" type="mas:queryType"/>
        <xsd:element name="QueryValue" type="mas:stringMinLength1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getBatchStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="Ticket" type="mas:stringMinLength1" minOccurs="0"/>
        <xsd:element name="CustomerBatchId" type="mas:stringMinLength1" minOccurs="0"/>
        <xsd:element name="BankBatchId" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="CustomerId" type="mas:stringMinLength1" minOccurs="0"/>
        <xsd:element name="CustomerName" type="mas:stringMinLength1" minOccurs="0"/>
        <xsd:element name="Status" type="mas:stringMinLength1" minOccurs="0"/>
        <xsd:element name="StatusDescription" type="mas:stringMinLength1" minOccurs="0"/>
        <xsd:element name="Optimistic" type="xsd:boolean" minOccurs="0"/>
        <xsd:element name="Accounts" type="mas:accountType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="Payments" type="mas:paymentType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="TotalAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="TotalAmountSuccess" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="TotalAmountError" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="NumberOfTransactions" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="NumberOfTransactionsSuccess" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="NumberOfTransactionsError" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="ApplicationDate" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="ProcessInfo" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="stringMinLength1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="accountType">
    <xsd:sequence>
      <xsd:element name="DebitAccount" type="mas:stringMinLength1" minOccurs="0"/>
      <xsd:element name="Amount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="Currency" type="mas:stringMinLength1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="paymentType">
    <xsd:sequence>
      <xsd:element name="Currency" type="mas:stringMinLength1" minOccurs="0"/>
      <xsd:element name="TotalAmount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="ExchangeRate" type="xsd:decimal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="queryType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BANK_BATCH_ID"/>
      <xsd:enumeration value="CUSTOMER_BATCH_ID"/>
      <xsd:enumeration value="OPERATION_TYPE"/>
      <xsd:enumeration value="TICKET"/>
      <xsd:enumeration value="TXN_REFERENCE"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>