Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaCatalogosCB/xsd/consultaCatalogosCBTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"                        
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCatalogosCBTypes"
            xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaCatalogosCBTypes"
            elementFormDefault="qualified"
            version="1.0">

<xs:element name="consultaCatalogosResponse">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="catalogsList"  type="con:catalogListType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:complexType name="catalogListType">
    <xs:sequence>
        <xs:element name="catalogItem" type="con:catalogType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type= "xs:ID"/>
</xs:complexType>
            
<xs:complexType name="catalogType">
    <xs:sequence>
        <xs:element name="CODE" type="xs:string" minOccurs="0"/>
        <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
    </xs:sequence>
</xs:complexType>
<xs:element name="consultaCatalogos">
    <xs:complexType>
		<xs:sequence>
            <xs:element name="REMITTER_ID" type="xs:string" minOccurs="0"/>
            <xs:element name="FILTERS">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FILTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
       </xs:sequence>
	</xs:complexType>
</xs:element>      
</xs:schema>