Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaUsuarioPGA/xsd/consultaUsuariosPGATypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaUsuariosPGATypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaUsuariosPGATypes">
	
	<xs:element name="consultaUsuariosPGAResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROFILE" type="xs:string" minOccurs="0"/>
				<xs:element name="ROLLCODE" type="xs:string" minOccurs="0"/>
				<xs:element name="ROLLNAME" type="xs:string" minOccurs="0"/>
				<xs:element name="AUTHENTICATOR" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaUsuariosPGA">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" type="xs:string"/>
				<xs:element name="APPLICATION" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>