Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultaRecaudoMigracion/ConsultaRecaudoMigracion.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaRecaudoMigracionTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaRecaudoMigracionTypes">
	
	<xs:complexType name="consultaRecaudoMigracionResponse">
		<xs:sequence>
		    <xs:element name="ORD_PARTY_ID" type="xs:string" minOccurs="0" />
			<xs:element name="APPOINTMENT_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="APPOINTMENT_DATE_TIME" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT_FCY" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT_LCY" type="xs:string" minOccurs="0" />
	    </xs:sequence> 
	</xs:complexType>
		
	<xs:element name="consultaRecaudoMigracion">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CONTRACT_ID" type="xs:string" />
	            <xs:element name="ORD_PARTY_ID" type="xs:string" />
	            <xs:element name="ORD_PARTY_NAME" type="xs:string" />
	            <xs:element name="REQUEST_CITY" type="xs:string" />
	            <xs:element name="REQUEST_TYPE" type="xs:string" />
	            <xs:element name="PASSPORT_DURATION" type="xs:string" />
	            <xs:element name="PAYMENT_CURRENCY" type="xs:string" />
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaRecaudoMigracionResponse" type="cons:consultaRecaudoMigracionResponse" />
	
</xs:schema>