Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/T24/svcBilleteraElectronica/xsd/XMLSchema_959556777.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="TransferenciaBilleteraElect" type="tns:TransferenciaBilleteraElect"/>

<xs:element name="TransferenciaBilleteraElectResponse" type="tns:TransferenciaBilleteraElectResponse"/>

<xs:element name="TransferenciaBilleteraElect_Validate" type="tns:TransferenciaBilleteraElect_Validate"/>

<xs:element name="TransferenciaBilleteraElect_ValidateResponse" type="tns:TransferenciaBilleteraElect_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="FUNDSTRANSFERATMBILLECUPONWSType">
<xs:sequence>
<xs:element name="Transaccioncode" type="xs:string" minOccurs="0"/>
<xs:element name="CuentaDebito" type="xs:string" minOccurs="0"/>
<xs:element name="Monedadebito" type="xs:string" minOccurs="0"/>
<xs:element name="Monto" type="xs:string" minOccurs="0"/>
<xs:element name="CuentadeCredito" type="xs:string" minOccurs="0"/>
<xs:element name="MonedadeCredito" type="xs:string" minOccurs="0"/>
<xs:element name="gPAYMENTDETAILS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Referencia" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LREMPNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRVERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENLASNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMFIRNAM" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FUNDSTRANSFERType">
<xs:sequence>
<xs:element name="TRANSACTIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="INDEBITACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYMKTDR" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITVALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="INDEBITVDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITTHEIRREF" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITTHEIRREF" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYMKTCR" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITVALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="TREASURYRATE" type="xs:string" minOccurs="0"/>
<xs:element name="NEGDEALERREFNO" type="xs:string" minOccurs="0"/>
<xs:element name="PROCESSINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="gORDERINGCUST" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ORDERINGCUST" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINORDERINGCUS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INORDERINGCUS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gORDERINGBANK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ORDERINGBANK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINORDERINGBK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INORDERINGBK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gACCTWITHBANK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCTWITHBANK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gACCTWITHBK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCTWITHBK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="BENACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="INBENACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="gBENCUSTOMER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="BENCUSTOMER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINBENCUSTOMER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INBENCUSTOMER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gBENBANK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="BENBANK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINBENBANK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INBENBANK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="gPAYMENTDETAILS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="PAYMENTDETAILS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINPAYDETAILS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPAYDETAILS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="BCBANKSORTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="RECEIVERBANK" type="xs:string" minOccurs="0"/>
<xs:element name="gRECCORRBANK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="RECCORRBANK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINTERMEDBANK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INTERMEDBANK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gININTMEDBANK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ININTMEDBANK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="MAILING" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMETHOD" type="xs:string" minOccurs="0"/>
<xs:element name="BENOURCHARGES" type="xs:string" minOccurs="0"/>
<xs:element name="INBENOURCHARGES" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGESACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGECOMDISPLAY" type="xs:string" minOccurs="0"/>
<xs:element name="COMMISSIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="gCOMMISSIONTYPE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCOMMISSIONTYPE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="COMMISSIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMISSIONAMT" type="xs:string" minOccurs="0"/>
<xs:element name="COMMISSIONFOR" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CHARGECODE" type="xs:string" minOccurs="0"/>
<xs:element name="gCHARGETYPE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHARGETYPE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHARGETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEFOR" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CUSTOMERSPREAD" type="xs:string" minOccurs="0"/>
<xs:element name="BASECURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="PROFITCENTRECUST" type="xs:string" minOccurs="0"/>
<xs:element name="PROFITCENTREDEPT" type="xs:string" minOccurs="0"/>
<xs:element name="RETURNTODEPT" type="xs:string" minOccurs="0"/>
<xs:element name="PRIORITYTXN" type="xs:string" minOccurs="0"/>
<xs:element name="gBKTOBKINFO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="BKTOBKINFO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINBKTOBK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INBKTOBKINFO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="EXPOSUREDATE" type="xs:string" minOccurs="0"/>
<xs:element name="FEDFUNDS" type="xs:string" minOccurs="0"/>
<xs:element name="POSITIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFBATCHITEMS" type="xs:string" minOccurs="0"/>
<xs:element name="gFREETEXTMSGTO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FREETEXTMSGTO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gMESSAGE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="MESSAGE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gTAXTYPE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mTAXTYPE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TAXTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="TAXAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AMOUNTDEBITED" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTCREDITED" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALCHARGEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALTAXAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERRATE" type="xs:string" minOccurs="0"/>
<xs:element name="gINRECCORRBK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INRECCORRBK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="INWARDPAYTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="gINSENDCORRBK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INSENDCORRBK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="TELEXFROMCUST" type="xs:string" minOccurs="0"/>
<xs:element name="DELIVERYINREF" type="xs:string" minOccurs="0"/>
<xs:element name="gDELIVERYOUTREF" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DELIVERYOUTREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CREDITCOMPCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITCOMPCODE" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="DELIVERYMKR" type="xs:string" minOccurs="0"/>
<xs:element name="ORDCUSTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTWITHBKACNO" type="xs:string" minOccurs="0"/>
<xs:element name="LOCAMTDEBITED" type="xs:string" minOccurs="0"/>
<xs:element name="LOCAMTCREDITED" type="xs:string" minOccurs="0"/>
<xs:element name="LOCTOTTAXAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LOCALCHARGEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LOCPOSCHGSAMT" type="xs:string" minOccurs="0"/>
<xs:element name="MKTGEXCHPROFIT" type="xs:string" minOccurs="0"/>
<xs:element name="RATEINPUTMKR" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTGROUPLEVEL" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITCUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="SENDPAYMENTYN" type="xs:string" minOccurs="0"/>
<xs:element name="DRADVICEREQDYN" type="xs:string" minOccurs="0"/>
<xs:element name="CRADVICEREQDYN" type="xs:string" minOccurs="0"/>
<xs:element name="DEALMARKET" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEDCUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="gINREASONOVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INREASONOVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DEALERDESK" type="xs:string" minOccurs="0"/>
<xs:element name="RECALCFWDRATE" type="xs:string" minOccurs="0"/>
<xs:element name="RETURNCHEQUE" type="xs:string" minOccurs="0"/>
<xs:element name="DRAWNACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="gINSTRCTNCODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INSTRCTNCODE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="COLLREMBK" type="xs:string" minOccurs="0"/>
<xs:element name="EXPECTEDRECSID" type="xs:string" minOccurs="0"/>
<xs:element name="TOTRECCOMM" type="xs:string" minOccurs="0"/>
<xs:element name="TOTRECCOMMLCL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTRECCHG" type="xs:string" minOccurs="0"/>
<xs:element name="TOTRECCHGLCL" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="gRELATEDMSG" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mRELATEDMSG" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="RELATEDMSG" type="xs:string" minOccurs="0"/>
<xs:element name="sgTIMEIND" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TIMEIND" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINTIMEIND" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INTIMEIND" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gSENDTOPARTY" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mSENDTOPARTY" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SENDTOPARTY" type="xs:string" minOccurs="0"/>
<xs:element name="sgBKTOBKOUT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="BKTOBKOUT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="MESSAGETYPE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="REVERSALMKR" type="xs:string" minOccurs="0"/>
<xs:element name="RELATEDREF" type="xs:string" minOccurs="0"/>
<xs:element name="gININSTRCODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ININSTRCODE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINPROCESSERR" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPROCESSERR" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINSWIFTMSG" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INSWIFTMSG" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="ACCTWITHBANKACC" type="xs:string" minOccurs="0"/>
<xs:element name="INACCTBANKACC" type="xs:string" minOccurs="0"/>
<xs:element name="RECCORRBANKACC" type="xs:string" minOccurs="0"/>
<xs:element name="INRECCORRACC" type="xs:string" minOccurs="0"/>
<xs:element name="INTERMEDBANKACC" type="xs:string" minOccurs="0"/>
<xs:element name="ININTERMEDACC" type="xs:string" minOccurs="0"/>
<xs:element name="INSTRUCTEDAMT" type="xs:string" minOccurs="0"/>
<xs:element name="gININTERMEDBK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ININTERMEDBK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="INEXCHRATE" type="xs:string" minOccurs="0"/>
<xs:element name="RATEFIXING" type="xs:string" minOccurs="0"/>
<xs:element name="COVERMETHOD" type="xs:string" minOccurs="0"/>
<xs:element name="gIN3RDREIMBBK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="IN3RDREIMBBK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="IN3RDREIMBACC" type="xs:string" minOccurs="0"/>
<xs:element name="MT103TYPE" type="xs:string" minOccurs="0"/>
<xs:element name="EXTENDFORMAT" type="xs:string" minOccurs="0"/>
<xs:element name="gEXTENDINFO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="EXTENDINFO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RATEFIXINGIND" type="xs:string" minOccurs="0"/>
<xs:element name="INWSENDBIC" type="xs:string" minOccurs="0"/>
<xs:element name="gINSENDCHG" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INSENDCHG" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="INRECCHG" type="xs:string" minOccurs="0"/>
<xs:element name="ACCHGREQID" type="xs:string" minOccurs="0"/>
<xs:element name="TOTRECCHGCRCCY" type="xs:string" minOccurs="0"/>
<xs:element name="TOTSNDCHGCRCCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHGADVICEMSG" type="xs:string" minOccurs="0"/>
<xs:element name="EXPECTEDCOVERID" type="xs:string" minOccurs="0"/>
<xs:element name="NETTINGSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHDATE" type="xs:string" minOccurs="0"/>
<xs:element name="BKOPERATIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AMINFLOWRATE" type="xs:string" minOccurs="0"/>
<xs:element name="PARENTTXNID" type="xs:string" minOccurs="0"/>
<xs:element name="ROUNDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="BENEFICIARYID" type="xs:string" minOccurs="0"/>
<xs:element name="gMSGTYPE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mMSGTYPE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="MSGTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="MSGDATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gSIGNATORY" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="SIGNATORY" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="gCARDTXNDETAIL" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CARDTXNDETAIL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINCORDBK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INCORDBK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINCINTMEDBK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INCINTMEDBK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINCACCWITBK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INCACCWITBK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gINCBKTBKIN" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INCBKTBKIN" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="TFSREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEDRAWN" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="gSTMTNOS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="STMTNOS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="USACHENTRY" type="xs:string" minOccurs="0"/>
<xs:element name="USACHRETCODE" type="xs:string" minOccurs="0"/>
<xs:element name="USACHTRACENO" type="xs:string" minOccurs="0"/>
<xs:element name="USACHFWDFT" type="xs:string" minOccurs="0"/>
<xs:element name="USACHADDSEQ" type="xs:string" minOccurs="0"/>
<xs:element name="USACHPMTDET" type="xs:string" minOccurs="0"/>
<xs:element name="USACHCLASS" type="xs:string" minOccurs="0"/>
<xs:element name="USACHTXN" type="xs:string" minOccurs="0"/>
<xs:element name="gSTOCK.CODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mSTOCK.CODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="STOCKCODE" type="xs:string" minOccurs="0"/>
<xs:element name="QUANTITY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DISCITEM" type="xs:string" minOccurs="0"/>
<xs:element name="PARTPAYMENT" type="xs:string" minOccurs="0"/>
<xs:element name="BALREPAYMENT" type="xs:string" minOccurs="0"/>
<xs:element name="gTRANS.REF" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gPEND.STOCK.CODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mPEND.STOCK.CODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PENDSTOCKCODE" type="xs:string" minOccurs="0"/>
<xs:element name="PENDINGAMOUNT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="EXPIRYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRFILEMAPID" type="xs:string" minOccurs="0"/>
<xs:element name="LRMANDATEID" type="xs:string" minOccurs="0"/>
<xs:element name="LRPROCESSDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.INVOICE.NO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.INVOICE.NO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRINVOICENO" type="xs:string" minOccurs="0"/>
<xs:element name="LRINVOICEDT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPENALITYAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPARTIALAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRTOTALAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYYN" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRIDENCODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRTAXYEAR" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.TAX.PAY.NAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRTAXPAYNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRTOTTAXDUE" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.MONTH" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.MONTH" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRMONTH" type="xs:string" minOccurs="0"/>
<xs:element name="LRAMTTOPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRTAXPAY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRAGCLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRCCARDNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPORTVAL" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPORTPLACE" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPORTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPPOINTNO" type="xs:string" minOccurs="0"/>
<xs:element name="ATUNIQUEID" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPPOINTDT" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPPOINTCHG" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPPOINTTIME" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMITTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRORDPARID" type="xs:string" minOccurs="0"/>
<xs:element name="LRORDNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTCNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENID" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRRECMODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRRECDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMITCODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRIDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="LRDATEBIRTH" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.STK.CODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.STK.CODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRSTKCODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRPRODQUANT" type="xs:string" minOccurs="0"/>
<xs:element name="LRUNITPRICE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRMETHODPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRNXTISTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRNXTISTDAT" type="xs:string" minOccurs="0"/>
<xs:element name="LROUTSDAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVECHG" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAVPARAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRARRMENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRDLSLIPPR" type="xs:string" minOccurs="0"/>
<xs:element name="LRPARPAYAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRTTDRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.DISP.FORM" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.DISP.FORM" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRDISPFORM" type="xs:string" minOccurs="0"/>
<xs:element name="LRDISBVALUE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHQISSU" type="xs:string" minOccurs="0"/>
<xs:element name="LRCANCELCR" type="xs:string" minOccurs="0"/>
<xs:element name="LRPYMTCC" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRACCTNO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRSENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LREMPCODE" type="xs:string" minOccurs="0"/>
<xs:element name="LREMPNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRTOTAMTPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYMODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRBALAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRREJRESON" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.BL.BATCH" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.BL.BATCH" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBLBATCH" type="xs:string" minOccurs="0"/>
<xs:element name="LRBATCHAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gLR.BL.REG.NO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.BL.REG.NO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBLREGNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRBILLAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="LRBLSTATUS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRBLCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRNOOFBILLS" type="xs:string" minOccurs="0"/>
<xs:element name="LRTOTBILLAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRBILLLOC" type="xs:string" minOccurs="0"/>
<xs:element name="LRTENTXT" type="xs:string" minOccurs="0"/>
<xs:element name="DAOBRANCH" type="xs:string" minOccurs="0"/>
<xs:element name="LRHALFPYMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESIDENT" type="xs:string" minOccurs="0"/>
<xs:element name="LRTTCRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="LRITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRGROUP" type="xs:string" minOccurs="0"/>
<xs:element name="LRTELVERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRRECALCULATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRBALDUE" type="xs:string" minOccurs="0"/>
<xs:element name="LRIDENTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.NARRATIVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRNARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRPAYNOTES" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMITMSG" type="xs:string" minOccurs="0"/>
<xs:element name="LRAGRCLIENT" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.REMIT.ADD" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRREMITADD" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRREMITMOBILE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCOUNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCITY" type="xs:string" minOccurs="0"/>
<xs:element name="LRMERCHANTTYP" type="xs:string" minOccurs="0"/>
<xs:element name="BIN" type="xs:string" minOccurs="0"/>
<xs:element name="CARDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRBILLINGCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRBIN" type="xs:string" minOccurs="0"/>
<xs:element name="LRBANKCODE" type="xs:string" minOccurs="0"/>
<xs:element name="LROPRNTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRACCTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="LROTHEROFFCER" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRTRSRYRATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRALCANCNFNO" type="xs:string" minOccurs="0"/>
<xs:element name="LREXPIRYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRORIGINITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCYDECNO" type="xs:string" minOccurs="0"/>
<xs:element name="LREXCHRTBR" type="xs:string" minOccurs="0"/>
<xs:element name="LRDAYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LREMAILID" type="xs:string" minOccurs="0"/>
<xs:element name="LRCLIENTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRAUCALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="LRFICOAUCTION" type="xs:string" minOccurs="0"/>
<xs:element name="LRUSDCRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRATEOPTION" type="xs:string" minOccurs="0"/>
<xs:element name="LRAUCRATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="LRUSDAUCAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRBNKAUC" type="xs:string" minOccurs="0"/>
<xs:element name="LRBNKAUCAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRADDAMTOPT" type="xs:string" minOccurs="0"/>
<xs:element name="LRAUCINPREF" type="xs:string" minOccurs="0"/>
<xs:element name="LRVERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ISSUEAGENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAPID" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.FICO.PAY.REF" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRFICOPAYREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCOMNCOLLECT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPISSUEDT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPVALDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRADVAIREF" type="xs:string" minOccurs="0"/>
<xs:element name="LRREJUSDAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSTRATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRSWIFTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="BALAFTTXN" type="xs:string" minOccurs="0"/>
<xs:element name="ATAUTHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="ATMTERMNO" type="xs:string" minOccurs="0"/>
<xs:element name="BINNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENFIRNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENLASNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMFIRNAM" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMLASNAM" type="xs:string" minOccurs="0"/>
<xs:element name="LRSTATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRTYPECLIENT" type="xs:string" minOccurs="0"/>
<xs:element name="TERMINALID" type="xs:string" minOccurs="0"/>
<xs:element name="TRACENO" type="xs:string" minOccurs="0"/>
<xs:element name="CLAIMNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="ATMBICACCT" type="xs:string" minOccurs="0"/>
<xs:element name="CLAIMPROCESSED" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHQNOCONFRM" type="xs:string" minOccurs="0"/>
<xs:element name="LRTELLERID" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.AMT.WORDS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRAMTWORDS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="PANNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPPLTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENPAYACCT" type="xs:string" minOccurs="0"/>
<xs:element name="LRTRACENUM" type="xs:string" minOccurs="0"/>
<xs:element name="LRNARADDEND" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYACHTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRPARTQUANT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSUMEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAXAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDSAGENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRDCARDSEQ" type="xs:string" minOccurs="0"/>
<xs:element name="LRCARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="LRSETTLECOMM" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.FLINK.CNF.NO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRFLINKCNFNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="JMSRESP" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.SEC.BEN.NAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRSECBENNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRFRQCUSTNUM" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.OCCUPATION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LROCCUPATION" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRDATEOFBIR" type="xs:string" minOccurs="0"/>
<xs:element name="LRLEGALISEDID" type="xs:string" minOccurs="0"/>
<xs:element name="SHORTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRNATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="LRGENDER" type="xs:string" minOccurs="0"/>
<xs:element name="LRMARSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="LRDOB" type="xs:string" minOccurs="0"/>
<xs:element name="LRDICORPNO" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFCOMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="LRFICOACHPXD" type="xs:string" minOccurs="0"/>
<xs:element name="SRCOFINCOME" type="xs:string" minOccurs="0"/>
<xs:element name="gPHONE.NUMBER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="PHONENUMBER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gADDRESS.TYPE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mADDRESS.TYPE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ADDRESSTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="MAINADPHYCOR" type="xs:string" minOccurs="0"/>
<xs:element name="COUNTRYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="STATECODE" type="xs:string" minOccurs="0"/>
<xs:element name="CITYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="COLONYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="NEIGHBPENDING" type="xs:string" minOccurs="0"/>
<xs:element name="AVENUE" type="xs:string" minOccurs="0"/>
<xs:element name="ADDSTREET" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCK" type="xs:string" minOccurs="0"/>
<xs:element name="HOUSENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="REFERENCES" type="xs:string" minOccurs="0"/>
<xs:element name="COMPLETEADDRES" type="xs:string" minOccurs="0"/>
<xs:element name="COMPLETADDRESS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gTELEPHONE.REFER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TELEPHONEREFER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRNOMTERCERO" type="xs:string" minOccurs="0"/>
<xs:element name="LRIDUSERFN" type="xs:string" minOccurs="0"/>
<xs:element name="LRNAMEUSERFN" type="xs:string" minOccurs="0"/>
<xs:element name="RELWTHPERREF" type="xs:string" minOccurs="0"/>
<xs:element name="LRTENGOAGEN" type="xs:string" minOccurs="0"/>
<xs:element name="LRTENGOUSE" type="xs:string" minOccurs="0"/>
<xs:element name="LRREFTXN" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONTRACTACH" type="xs:string" minOccurs="0"/>
<xs:element name="LRCORRDIRAML" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TransferenciaBilleteraElect">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FUNDSTRANSFERATMBILLECUPONWSType" type="tns:FUNDSTRANSFERATMBILLECUPONWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TransferenciaBilleteraElectResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FUNDSTRANSFERType" type="tns:FUNDSTRANSFERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TransferenciaBilleteraElect_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FUNDSTRANSFERATMBILLECUPONWSType" type="tns:FUNDSTRANSFERATMBILLECUPONWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TransferenciaBilleteraElect_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FUNDSTRANSFERType" type="tns:FUNDSTRANSFERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>