Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/ConsultarTargetCliente/xsd/GetTargetFromAccountTypes.xsd

<xs:schema version="1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/GetTargetFromAccountTypes"
	xmlns:con="http://www.ficohsa.com.hn/middleware.services/GetTargetFromAccountTypes">
	
	<xs:complexType name="ResponseHeader">
		<xs:sequence>
			<xs:element name="successIndicator" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaTargetCliente">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaTargetClienteResponse">
		<xs:sequence>
			<xs:element name="ConsultarTargetClienteResponseType"
				minOccurs="0" form="qualified">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ConsultarTargetClienteResponseRecordType"
							minOccurs="0" maxOccurs="unbounded" form="qualified">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
									<xs:element name="TARGET_ID" type="xs:string" minOccurs="0" />
									<xs:element name="TARGET_DESCRIPTION" type="xs:string" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>	
		
	<xs:element name="consultaTargetCliente" nillable="true"
		type="con:consultaTargetCliente" />		
		
		
	<xs:element name="consultaTargetClienteResponse" nillable="false"
		type="con:consultaTargetClienteResponse" />
		
	<xs:element name="ResponseHeader" nillable="false"
		type="con:ResponseHeader" />
			
</xs:schema>