Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaProductosLineasCredito/xsd/consultaProductosLineasCreditoTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaProductosLineasCreditoTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaProductosLineasCreditoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: consultaLineasCreditoCliente -->
    <!--############################################-->
    <xs:element name="consultaLineasCreditoCliente">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_QUERY">
		        	<xs:complexType>
		            	<xs:sequence>
			                <xs:element name="TYPE" type="xs:string"/>
			                <xs:element name="VALUE" type="xs:string"/>
		                </xs:sequence>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- response -->
    <xs:element name="consultaLineasCreditoClienteResponse">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="CREDIT_LINES" type="tns:creditLinesArrayType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
    <xs:complexType name = "creditLinesArrayType">
		<xs:sequence>
		  	<xs:element name="CUSTOMER_ID" type="xs:integer" minOccurs="0"/>
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_LINE" type="tns:creditLineArrayType" minOccurs="0" maxOccurs="unbounded"/>	
		</xs:sequence>		
	</xs:complexType>
	
	<xs:complexType name = "creditLineArrayType">
		<xs:sequence>
		  	<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="EXPIRY_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="USED_AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="AVAILABLE_AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:integer" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
		</xs:sequence>		
	</xs:complexType>
    
    <!--############################################-->
    <!-- OPERATION: consultaProductosLineaCreditoMovimientos -->
    <!--############################################-->
    <xs:element name="consultaProductosLineaCreditoMovimientos">
         <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_QUERY">
		        	<xs:complexType>
		            	<xs:sequence>
			                <xs:element name="TYPE" type="xs:string"/>
			                <xs:element name="VALUE" type="xs:string"/>
		                </xs:sequence>
	               	</xs:complexType>
	            </xs:element>
	            <xs:element name="PAGING_INFO" type="tns:paginInfoArrayType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- response -->
    <xs:element name="consultaProductosLineaCreditoMovimientosResponse">
    	 <xs:complexType>
	    	<xs:sequence>
	    		<xs:element name="PRODUCT_LINE" type="tns:productLineArrayType" minOccurs="0" maxOccurs="unbounded"/>
	    		<xs:element name="PAGING_INFO" type="tns:paginInfoResponseArrayType" minOccurs="0" maxOccurs="unbounded"/>
	    	</xs:sequence>
	     </xs:complexType>
    </xs:element>	
    	
    <xs:complexType name ="paginInfoArrayType">
		<xs:sequence>
		  	<xs:element name="PAGING" type="xs:string" minOccurs="0"/>
			<xs:element name="INITIAL_RECORD" type="xs:string" minOccurs="0"/>
			<xs:element name="RECORD_COUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="ORDER" type="xs:string" minOccurs="0"/>
		</xs:sequence>		
	</xs:complexType>	
	
	 <xs:complexType name ="paginInfoResponseArrayType">
		<xs:sequence>
		  	<xs:element name="INITIAL_RECORD" type="xs:string" minOccurs="0"/>
			<xs:element name="RECORDS_RETURNED" type="xs:string" minOccurs="0"/>
			<xs:element name="RECORDS_TOTAL" type="xs:string" minOccurs="0"/>
		</xs:sequence>		
	</xs:complexType>	
	
   	<xs:complexType name ="productLineArrayType">
		<xs:sequence>
		  	<xs:element name="LOAN_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="PRODUCT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="LOAN_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="INITIAL_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENT_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
		</xs:sequence>		
	</xs:complexType>	
</xs:schema>