Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/subasta/transaccionSubasta/transaccionSubastaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/transaccionSubastaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/transaccionSubastaTypes">

	<xs:complexType name="transaccionSubastaResponseType">
		<xs:sequence>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
			<xs:element name="AMOUNT_DEBITED" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="transaccionSubasta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
				<xs:element name="TRANSACTION_AMOUNT" type="xs:string"/>
				<xs:element name="TRANSACTION_TYPE" type="xs:string"/>
				<xs:element name="AUCTION_RATE_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="SUGGESTED_RATE" type="xs:string" minOccurs="0"/>
				<xs:element name="PROCESS_YES_NO" type="xs:string" minOccurs="0"/>
				<xs:element name="ACCOUNT_TRANSFER" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CREDIT_ACCOUNT" type="xs:string" minOccurs="0"/>
							<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
							<xs:element name="TRANSFER_DETAILS" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="INTERNATIONAL_TRANSFER" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DEBIT_CURRENCY" type="xs:string" minOccurs="0"/>
							<xs:element name="DESTINATION_COUNTRY" type="xs:string" minOccurs="0"/>
							<xs:element name="INTERMEDIARY_BANK_CODE" type="xs:string" minOccurs="0"/>
							<xs:element name="INTERMEDIARY_BANK_CODE_TYPE" type="xs:string" minOccurs="0"/>
							<xs:element name="INTERMEDIARY_BANK_INSTRUCTIONS" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEF_BANK_CODE" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEF_BANK_CODE_TYPE" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEF_BANK_INT_ACCOUNT" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEF_BANK_NAME" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEF_BANK_ADDRESS" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEF_BANK_CITY" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEF_BANK_STATE" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEF_BANK_POSTAL_CODE" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEF_BANK_COUNTRY" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEFICIARY_ACCOUNT" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEFICIARY_ADDRESS" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEFICIARY_CITY" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEFICIARY_STATE" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEFICIARY_POSTAL_CODE" type="xs:string" minOccurs="0"/>
							<xs:element name="BENEFICIARY_INFO" type="xs:string" minOccurs="0"/>
							<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CASHIERS_CHEQUE" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0"/>
							<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
							<xs:element name="WITHDRAWAL_BRANCH_ID" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ADDITIONAL_INFO" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DOCUMENTS" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="NUMBER_TRANS" type="xs:string" minOccurs="0"/>
										<xs:element name="DATE_TRANS" type="xs:string" minOccurs="0"/>
										<xs:element name="AMOUNT_TRANSACTION" type="xs:string" minOccurs="0"/>
										<xs:element name="BENEFICIARY_DOCUMENT_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="PAYMENT_PARTIAL" type="xs:string" minOccurs="0"/>
										<xs:element name="AMOUNT_BALANCE" type="xs:string" minOccurs="0"/>
										<xs:element name="DETAIL_PAYMENT" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="transaccionSubastaResponse" type="cons:transaccionSubastaResponseType"/>
	
</xs:schema>