Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/BloqueoFondosCuenta/xsd/bloqueoFondosCuentaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/bloqueoFondosCuentaTypes"
	xmlns:bloq="http://www.ficohsa.com.hn/middleware.services/bloqueoFondosCuentaTypes">
	
	<xs:simpleType name="stringMinLength" >
    	<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- OPERACIÓN BLOQUEO FONDOS CUENTA -->
	
	<xs:element name="bloqueoFondosCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="bloq:stringMinLength"/>
				<xs:element name="BEGIN_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="END_DATE" type="bloq:stringMinLength"/>
				<xs:element name="BLOCK_AMOUNT" type="bloq:stringMinLength"/>
				<xs:element name="DESCRIPTION" type="bloq:stringMinLength"/>
				<xs:element name="DEBIT_CARD_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="LOCK_MOTIVE" type="xs:string" minOccurs="0"/>
				<xs:element name="LOCK_REFERENCE_NO" type="xs:string" minOccurs="0"/>
				<xs:element name="MERCHANT_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_COMPANY" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="bloqueoFondosCuentaResponse" type="bloq:bloqueoFondosCuentaResponseType"/>
	
	<xs:complexType name="bloqueoFondosCuentaResponseType">
		<xs:sequence>
			<xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="LOCKED_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="BEGIN_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="END_DATE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	
</xs:schema>