Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FPC/consultaFondosPensionesCliente/xsd/consultaFondosPensionesClienteFPC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaFondosPensionesClienteFPC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaFondosPensionesClienteFPC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PC_TIP_IDENTIFIC" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PC_NUM_IDENTIFIC" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PC_COD_PERSONA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_INFO_CUENTAS" type="db:FO.TAB_INFO_CUENTAS" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_ERROR" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PC_MENSAJE_ERROR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="FO.TAB_INFO_CUENTAS">
      <sequence>
         <element name="PT_INFO_CUENTAS_ITEM" type="db:FO.TYPE_INFO_CUENTA" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FO.TYPE_INFO_CUENTA">
      <sequence>
         <element name="COD_CUENTA" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COD_MONEDA" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DES_MONEDA" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COD_PRODUCTO" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DES_PRODUCTO" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COD_SUBPRODUCTO" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DES_SUBPRODUCTO" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PC_COD_INVERSION" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
</schema>
