Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/CalificacionBlaze/wsdl/calificacionBlazePS.wsdl

<wsdl:definitions name="calificacionBlazePS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/calificacionBlazePS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/calificacionBlazePS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoTypes">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoTypes" schemaLocation="../../GestionesSolicitudCredito/xsd/gestionesSolicitudCreditoTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="calificacionBlazeRequest">
		<wsdl:part element="tns:calificacionBlaze" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="calificacionBlazeResponse">
		<wsdl:part element="tns:calificacionBlazeResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="calificacionBlazePS">
		<wsdl:operation name="calificacionBlaze" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:calificacionBlazeRequest"/>
			<wsdl:output message="op:calificacionBlazeResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="calificacionBlazePSSOAP" type="op:calificacionBlazePS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="calificacionBlaze">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/calificacionBlazePS/calificacionBlaze"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="calificacionBlazePS">
		<wsdl:port binding="op:calificacionBlazePSSOAP" name="calificacionBlazePSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/calificacionBlaze/"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>