Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingNI/ProviderServices/XSD/UpdateCustomer/UpdateCustomerCobis_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/UpdateCustomerCobis2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/UpdateCustomerCobis2" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="ssn" type="int" db:index="1" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_SourceBank" type="db:string20" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_DestinationBank" type="db:string20" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_GlobalId" type="db:string20" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ApplicationId" type="db:string20" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ApplicationUser" type="db:string20" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_BranchId" type="db:string20" db:index="7" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_TransactionDate" type="db:string20" db:index="8" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Lang" type="db:string20" db:index="9" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Type" type="db:string15" db:index="10" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ProviderName" type="db:string20" db:index="11" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ClosingTax" type="db:string20" db:index="12" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_BusinessName" type="db:string20" db:index="13" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_customerid" type="int" db:index="14" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_FirstName" type="db:string50" db:index="15" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_SecondName" type="db:string50" db:index="16" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_MarriedName" type="db:string50" db:index="17" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ThirdName" type="db:string50" db:index="18" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_FirstLastName" type="db:string50" db:index="19" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_SecondLastName" type="db:string50" db:index="20" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_BirthCountry" type="db:string50" db:index="21" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_BirthDate" type="db:string10" db:index="22" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_BirthPlace" type="db:string50" db:index="23" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Nationality" type="db:string50" db:index="24" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_GenderType" type="db:string50" db:index="25" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_MaritalStatus" type="db:string50" db:index="26" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ProfessionCode" type="db:string50" db:index="27" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ActivityEconomic" type="db:string10" db:index="28" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_EmployeeTurn" type="db:string10" db:index="29" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_IncomeRange" type="db:string50" db:index="30" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Numberdependents" type="db:string10" db:index="31" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_EducationLevel" type="db:string50" db:index="32" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Sourceincome" type="db:string50" db:index="33" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_FatcaResident" type="db:string1" db:index="34" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_FatcaAdress" type="db:string1" db:index="35" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_FatcaPhone" type="db:string1" db:index="36" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_FatcaTransfer" type="db:string1" db:index="37" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_isPep" type="db:string1" db:index="38" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_TotalIncome" type="decimal" db:index="39" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_MyTraVolume" type="db:string50" db:index="40" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_AccountOfficer" type="db:string50" db:index="41" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_SpouseName" type="db:string50" db:index="42" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Residence" type="db:string50" db:index="43" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Language" type="db:string50" db:index="44" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_GivenNames" type="db:string50" db:index="45" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_FamilyNames" type="db:string50" db:index="46" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Sector" type="db:string50" db:index="47" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Industry" type="db:string50" db:index="48" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Target" type="db:string50" db:index="49" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_MultNationality" type="db:string50" db:index="50" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_AddInfo" type="db:string50" db:index="51" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_GovContractor" type="db:string50" db:index="52" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_DocumentName" type="db:string50" db:index="53" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_LegalId" type="db:string50" db:index="54" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_DateOfIssuance" type="db:string10" db:index="55" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_MaturityDate" type="db:string10" db:index="56" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_AlternateLegalId" type="db:string50" db:index="57" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_NameRefer" type="db:string40" db:index="58" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_SurnameRefer" type="db:string40" db:index="59" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_AdressRefer" type="db:string255" db:index="60" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_PhoneWorkRefer" type="db:string12" db:index="61" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_CellularRefer" type="db:string12" db:index="62" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_PhoneHomeRefer" type="db:string12" db:index="63" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_DocumentNameRefer" type="db:string10" db:index="64" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_LegalIDRefer" type="db:string40" db:index="65" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_RelationShipRef" type="db:string10" db:index="66" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_CommentRefer" type="db:string255" db:index="67" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_TypeAdress" type="db:string50" db:index="68" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_IsMainA" type="db:string50" db:index="69" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_AddressLine1" type="db:string50" db:index="70" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Domicile" type="db:string50" db:index="71" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Building" type="db:string50" db:index="72" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Apartment" type="db:string50" db:index="73" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Details" type="db:string50" db:index="74" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Avenue" type="db:string50" db:index="75" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Street" type="db:string50" db:index="76" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Block" type="db:string50" db:index="77" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_HouseNumber" type="db:string50" db:index="78" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_AddressLine2" type="db:string50" db:index="79" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_References" type="db:string50" db:index="80" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_CountryCode" type="db:string5" db:index="81" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_StateCode" type="db:string50" db:index="82" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_CityCode" type="db:string50" db:index="83" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_PoBox" type="db:string50" db:index="84" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ZipCode" type="db:string50" db:index="85" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_DistrictCode" type="db:string50" db:index="86" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Neighborhood" type="db:string50" db:index="87" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_TypePhone" type="db:string50" db:index="88" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Number" type="db:string50" db:index="89" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_AreaCode" type="db:string50" db:index="90" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Extension" type="db:string50" db:index="91" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_IsMainT" type="db:string1" db:index="92" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_Location" type="db:string50" db:index="93" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Reference" type="db:string50" db:index="94" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ZipCodeT" type="db:string50" db:index="95" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Typemail" type="db:string50" db:index="96" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_IsMainE" type="db:string50" db:index="97" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Email" type="db:string50" db:index="98" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_CompanyName" type="db:string50" db:index="99" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_CompanyType" type="db:string50" db:index="100" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_CurrEmployed" type="db:string1" db:index="101" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_JobTitle" type="db:string50" db:index="102" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_IncomeSource" type="db:string50" db:index="103" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_IncomeCurrency" type="db:string50" db:index="104" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Occupation" type="db:string10" db:index="105" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_MerchantType" type="db:string50" db:index="106" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_StartDate" type="db:string50" db:index="107" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_immediateBoss" type="db:string50" db:index="108" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_jobobservation" type="db:string255" db:index="109" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_companySize" type="db:string10" db:index="110" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_EndDate" type="db:string50" db:index="111" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_sitio_web" type="db:string50" db:index="112" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_natu_negocio" type="db:string10" db:index="113" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_other_income" type="db:string50" db:index="114" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_explicar_ingresos" type="db:string255" db:index="115" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_FinancialInstitution" type="db:string10" db:index="116" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_TypeRalationShip" type="db:string10" db:index="117" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_FinancialCurrency" type="db:string3" db:index="118" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_AverageAmount" type="db:string20" db:index="119" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Observations" type="db:string255" db:index="120" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_YearRelationShip" type="db:string4" db:index="121" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="RETURN_VALUE" type="int" db:index="0" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_num_error" type="int" db:index="122" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_desc_error" type="db:string132" db:index="123" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string255">
      <restriction base="string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string132">
      <restriction base="string">
         <maxLength value="132"/>
      </restriction>
   </simpleType>
</schema>