Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/BusinessServices/cuentasPMSV/xsd/account_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/account" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/account" elementFormDefault="qualified">
	<element name="InputParameters">
		<complexType>
			<sequence>
				<element name="PV_COUNTRYCODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_ACCOUNTNUMBER" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_ALTACCOUNT" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_CUSTOMERID" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_CATEGORY" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_CURRENCY" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_ACCOUNTNAME" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_STATUS" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_BLOCKTYPE" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_INACTIVEMARKER" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_AVAILABLEBALANCE" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_OPENINGDATE" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_LASTUPDATEDATE" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_LASTDEBITDATE" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_LASTCREDITDATE" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_CANCELDATE" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_RECORDSTATUS" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_TIMESTAMPSOURCE" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_ERRORCODE" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_ERRORDESCRIPTION" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
			</sequence>
		</complexType>
	</element>
	<element name="OutputParameters">
		<complexType>
			<sequence>
				<element name="PV_ERRORCODE" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
				<element name="PV_ERRORDESCRIPTION" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
			</sequence>
		</complexType>
	</element>
</schema>