Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ReprocesoACHEnviadasCR/xsd/reprocesoACHEnviadasCRTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/reprocesoACHEnviadasCRTypes"
	xmlns:rep="http://www.ficohsa.com.hn/middleware.services/reprocesoACHEnviadasCRTypes">
	
	<!-- OPERACION REPROCESO ACH ENVIADOS CR -->
	<xs:element name="reprocesoACHEnviadasCR">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REPROCESSING_STAGE" type="xs:integer"/>
				<xs:element name="ACH_SEQUENCE" type="xs:integer"/>
				<xs:element name="PXP_ID_TXN_REF" type="xs:string" minOccurs="0"/>
				<xs:element name="PXP_BATCH_REF" type="xs:string" minOccurs="0"/>
				<xs:element name="DESTINATION_BANK" type="xs:integer" minOccurs="0"/>							
				<xs:element name="TRANSIT_ROUTE" type="xs:string" minOccurs="0"/>
				<xs:element name="TRANSACTION_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="ACCOUNT_TYPE" type="xs:string" minOccurs="0"/>			
				<xs:element name="BEN_ACCOUNT" type="xs:string" minOccurs="0"/>									
				<xs:element name="BEN_IDENTIFICATION" type="xs:string" minOccurs="0"/>									
				<xs:element name="BEN_NAME" type="xs:string" minOccurs="0"/>									
				<xs:element name="BEN_CURRENCY" type="xs:string" minOccurs="0"/>									
				<xs:element name="BEN_AMOUNT" type="xs:decimal" minOccurs="0"/>									
				<xs:element name="ORD_ACCOUNT" type="xs:string" minOccurs="0"/>									
				<xs:element name="ORD_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="ORD_IDENTIFICATION" type="xs:string" minOccurs="0"/>
				<xs:element name="ORD_ACCOUNT_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="ORD_ORIGINAL_ACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="ORD_CUSTOMER_DIRECTION" type="xs:string" minOccurs="0"/>
				<xs:element name="TXN_DETAIL" type="xs:string" minOccurs="0"/>									
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" minOccurs="0"/>									
				<xs:element name="IS_LBTR" type="xs:string" minOccurs="0"/>									
				<xs:element name="T24_CUSTOMER_ID" type="xs:string" minOccurs="0"/>									
				<xs:element name="T24_CONTROL_REF" type="xs:string" minOccurs="0"/>									
				<xs:element name="T24_TRANSACTION_REF" type="xs:string" minOccurs="0"/>									
				<xs:element name="STATUS" type="xs:string" minOccurs="0"/>									
				<xs:element name="ERROR_CODE" type="xs:string" minOccurs="0"/>									
				<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>									
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="reprocesoACHEnviadasCRResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACH_SEQUENCE" type="xs:integer" minOccurs="0"/>
				<xs:element name="PXP_ID_TXN_REF" type="xs:string" minOccurs="0"/>
				<xs:element name="PXP_BATCH_REF" type="xs:string" minOccurs="0"/>
				<xs:element name="TRANSIT_ROUTE" type="xs:string" minOccurs="0"/>
				<xs:element name="T24_CUSTOMER_ID" type="xs:string" minOccurs="0"/>					
				<xs:element name="ORD_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="ORD_IDENTIFICATION" type="xs:string" minOccurs="0"/>
				<xs:element name="ORD_CUSTOMER_DIRECTION" type="xs:string" minOccurs="0"/>			
				<xs:element name="ORD_ACCOUNT_TYPE" type="xs:string" minOccurs="0"/>										
				<xs:element name="IS_LBTR" type="xs:string" minOccurs="0"/>
				<xs:element name="T24_CONTROL_REF" type="xs:string" minOccurs="0"/>			
				<xs:element name="T24_TRANSACTION_REF" type="xs:string" minOccurs="0"/>
				<xs:element name="T24_LOCK_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="T24_IS_REPROCESS" type="xs:string" minOccurs="0"/>
				<xs:element name="T24_STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="T24_ID_REJECTION" type="xs:string" minOccurs="0"/>
				<xs:element name="T24_STAGE" type="xs:string" minOccurs="0"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		
</xs:schema>