Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/CloudCode/Schemas/CloudCodeTypes.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"
            xmlns:cct="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"
            targetNamespace="https://www.ficohsa.com/honduras/pension/cloudCodeTypes" elementFormDefault="qualified">
  <xsd:element name="cuentasSaldos">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codigoTipoIdentificacion" type="xsd:string"/>
        <xsd:element name="numeroIdentificacion" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cuentasSaldosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="fecha" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="fechaRentabilidad" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="cuentas" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="cuenta" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="moneda" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="saldoTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="primerNombre" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="segundoNombre" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="primerApellido" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="segundoApellido" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="retirosPost">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="numeroTransaccion" type="xsd:string"/>
        <xsd:element name="moneda" type="xsd:string"/>
        <xsd:element name="monto" type="xsd:string"/>
        <xsd:element name="usuarioPago" type="xsd:string"/>
        <xsd:element name="fechaPago" type="xsd:string"/>
        <xsd:element name="numeroReferencia" type="xsd:string"/>
        <xsd:element name="codigoAgencia" type="xsd:string"/>
        <xsd:element name="nombreAgencia" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="retirosPostResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="clientesFinancieros">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codigoTipoIdentificacion" type="xsd:string"/>
        <xsd:element name="numeroIdentificacion" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="clientesFinancierosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="fecha" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="fechaRentabilidad" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="cuentas" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="cuenta" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="moneda" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="saldoTotal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="nombreCuenta" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="bancoRegion" type="xsd:string" minOccurs="0"/>
              <xsd:element name="tipoProductoCli" type="xsd:string" minOccurs="0"/>
              <xsd:element name="tipoProducto" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cuentasClientesDemograficos">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codigoCuenta" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cuentasClientesDemograficosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string"/>
        <xsd:element name="mensaje" type="xsd:string"/>
        <xsd:element name="datos">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="demograficos">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="cuenta">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="fechaSolicitud" type="xsd:string"/>
                          <xsd:element name="codigoProducto" type="xsd:integer"/>
                          <xsd:element name="nombreProducto" type="xsd:string"/>
                          <xsd:element name="montoAporte" type="xsd:integer"/>
                          <xsd:element name="frecuencia" type="xsd:string"/>
                          <xsd:element name="formaAporte" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="persona">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="tipoIdentificacion" type="xsd:string"/>
                          <xsd:element name="identificacion" type="xsd:integer"/>
                          <xsd:element name="primerNombre" type="xsd:string"/>
                          <xsd:element name="segundoNombre" type="xsd:string"/>
                          <xsd:element name="primerApellido" type="xsd:string"/>
                          <xsd:element name="segundoApellido" type="xsd:string"/>
                          <xsd:element name="fechaNacimiento" type="xsd:string"/>
                          <xsd:element name="fechaVencimiento" type="xsd:string"/>
                          <xsd:element name="correo" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="patrono">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="tipoIdentificacionEmpleador" type="xsd:string"/>
                          <xsd:element name="numeroIdentificacionEmpleador" type="xsd:integer"/>
                          <xsd:element name="razonSocial" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="beneficiarios">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="beneficiarioPrimerNombre" type="xsd:string"/>
                          <xsd:element name="beneficiarioSegundoNombre" type="xsd:string"/>
                          <xsd:element name="beneficiarioPrimerApellido" type="xsd:string"/>
                          <xsd:element name="beneficiarioSegundoApellido" type="xsd:string"/>
                          <xsd:element name="beneficiarioParentesco" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="entesBancos">
    <!--Empty Parameter List-->
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="entesBancosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string"/>
        <xsd:element name="mensaje" type="xsd:string"/>
        <xsd:element name="datos">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="entes" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="codigo" type="xsd:integer"/>
                    <xsd:element name="descripcion" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="clientesLaboralesPeriodos">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tipoIdentificacionAfiliado" type="xsd:string"/>
        <xsd:element name="numeroIdentificacionAfiliado" type="xsd:string"/>
        <xsd:element name="fechaInicio" type="xsd:string"/>
        <xsd:element name="fechaFin" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="clientesLaboralesPeriodosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:boolean" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="laborales" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="codigoCuenta" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="estado" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="fechaSalida" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="numeroPeriodo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tipoIdentificacionPatron" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="nombrePatrono" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RTNPatrono" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tipoIngreso" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="montoPagado" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ocupacion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="puesto" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cuentasMonedas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codigoCuenta" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cuentasMonedasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="cuenta" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="codigoCuenta" type="xsd:integer" minOccurs="0"/>
                    <xsd:element name="codigoMoneda" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="descripcionMoneda" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="persona" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="tipoIdentificacion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="identificacion" type="xsd:integer" minOccurs="0"/>
                    <xsd:element name="primerNombre" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="segundoNombre" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="primerApellido" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="segundoApellido" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="clientesHistoricasLaborales">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codigoCuenta" type="xsd:string"/>
        <xsd:element name="fechaInicio" type="xsd:string"/>
        <xsd:element name="fechaFin" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="clientesHistoricasLaboralesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="laborales" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="infoLaboralHistorica" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="codigoCuenta" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="estadoCuenta" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="fechaInicio" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="fechaFin" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="periodo" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoEmpleador" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="RTNEmpleador" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombreEmpleador" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="tipoIngreso" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="montoAporte" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="monedaSalario" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="montoSalario" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoOcupacion" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="descripcionOcupacion" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoTrabajo" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="descripcionTrabajo" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cuentasFondosPensiones">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codigoCuenta" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cuentasFondosPensionesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="cuenta" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="codigoCuenta" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="codigoCliente" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="nombreCliente" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="codigoLineaProducto" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="nombreProducto" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="codigoProducto" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="fechaApertura" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="montoAsegurado" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ultimaContribucion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="siguienteContribucion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ultimoMontoContribucion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ultimaContribucicionExtra" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="frecuenciaAporte" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="formaAporte" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="montoAporte" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="beneficiarios" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="nombreBeneficiario" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="relacionBeneficiario" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="estadosCuentasHistoricos">
    <xsd:complexType>
      <xsd:sequence maxOccurs="unbounded">
        <xsd:element name="tipoIdentificacion" type="xsd:string"/>
        <xsd:element name="numeroIdentificacion" type="xsd:string"/>
        <xsd:element name="fechaInicio" type="xsd:string"/>
        <xsd:element name="fechaFinal" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="estadosCuentasHistoricosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:boolean" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="estadoCuenta">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="fecha" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="nombreCliente" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="emailCliente" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="numeroCliente" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="rendimientoLempiras" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="rendimientoDolares" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="movimientos" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="moneda" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="cuenta" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="totalPersonal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="totalPatronal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="granTotal" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="transacciones" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="fecha" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="tipoMovimiento" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="descripcionTransaccion" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="movimientoPersonal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="movimientoPatronal" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="movimientoTotal" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cuentasRelacionesPeriodos">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codigoCuenta" type="xsd:string"/>
        <xsd:element name="fechaInicialConsulta" type="xsd:string"/>
        <xsd:element name="fechaFinalConsulta" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cuentasRelacionesPeriodosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="cuenta">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="tipoIdentificacion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="numeroIdentificacionAfiliado" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="nombreCliente" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="codigoCuenta" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="codigoMoneda" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="numeroSolicitudVinculacion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="lineaProducto" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="patrocinador" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="fechaAperturaCuenta" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="saldoTotalActual" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="saldosSubcuenta" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="subcuenta" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="saldoInicial" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="aportes" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="comisiones" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="retiros" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="rendimientos" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="seguros" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="saldoActual" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cuentas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tipoIdentificacion" type="xsd:string"/>
        <xsd:element name="numeroIdentificacion" type="xsd:string"/>
        <xsd:element name="codigoCliente" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cuentasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="cliente" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="tipoIdentificacion" type="xsd:string"/>
                    <xsd:element name="numeroIdentificacion" type="xsd:string"/>
                    <xsd:element name="codigoCliente" type="xsd:string"/>
                    <xsd:element name="cuentas" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="codigoCuenta" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoMoneda" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombreMoneda" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoLineaProducto" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombreLineaProducto" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoProducto" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombreProducto" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="alternativa" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="retirosPut">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="numeroTransaccion" type="xsd:string"/>
        <xsd:element name="cuenta" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="retirosPutResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="retirosGet">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="numeroSolicitud" type="xsd:decimal"/>
        <xsd:element name="numeroIdentificacion" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="retirosGetResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="retiros" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="cuenta" type="xsd:string"/>
                    <xsd:element name="numeroIdentificacion" type="xsd:string"/>
                    <xsd:element name="nombreCliente" type="xsd:string"/>
                    <xsd:element name="formaPago" type="xsd:string"/>
                    <xsd:element name="moneda" type="xsd:string"/>
                    <xsd:element name="monto" type="xsd:decimal"/>
                    <xsd:element name="tipoRetiro" type="xsd:string"/>
                    <xsd:element name="cuentaBancaria" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="clientesLocalizadoresPreferidos">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codigoTipoIdentificacion" type="xsd:string"/>
        <xsd:element name="numeroIdentificacion" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="clientesLocalizadoresPreferidosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="localizadores" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="residencial" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="codigoUbicacion" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoPais" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombrePais" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoDepartamento" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombreDepartamento" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoMunicipio" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombreMunicipio" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoColinia" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombreColonia" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="direccionFisica" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoAreaTelefono" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="numeroTelefono" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoAreaCelular" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="tipoLocalizador" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="numeroCelular" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="correoElectronico" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoCorreoElectronico" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="laboral" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="codigoUbicacion" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoPais" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombrePais" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoDepartamento" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombreDepartamento" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoMunicipio" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombreMunicipio" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoColinia" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombreColonia" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="direccionFisica" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoAreaTelefono" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="numeroTelefono" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoAreaCelular" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="tipoLocalizador" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="numeroCelular" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="correoElectronico" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoCorreoElectronico" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="celularSms" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="clientesLaborales">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tipoIdentificacion" type="xsd:string"/>
        <xsd:element name="numeroIdentificacion" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="clientesLaboralesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:boolean" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="laborales" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="codigoIdentificacionEmpleador" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="numeroIdentificacionEmpleador" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="razonSocial" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="fechaIngresoLabor" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cargo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="empleoActual" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="clientesFondosPensiones">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tipoIdentificacion" type="xsd:string"/>
        <xsd:element name="numeroIdentificacion" type="xsd:string"/>
        <xsd:element name="codigoCliente" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="clientesFondosPensionesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="cliente" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="tipoIdentificacion" type="xsd:string"/>
                    <xsd:element name="numeroIdentificacion" type="xsd:string"/>
                    <xsd:element name="codigoCliente" type="xsd:string"/>
                    <xsd:element name="cuentas" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="codigoCuenta" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoMoneda" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombreMoneda" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoLineaProducto" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombreLineaProducto" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="codigoProducto" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="nombreProducto" type="xsd:string" minOccurs="0"/>
                          <xsd:element name="alternativa" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>