Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/RegistroTransaccionesBALCAM/xsd/registroTransaccionesBALCAMTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/registroTransaccionesBALCAMTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/registroTransaccionesBALCAMTypes">
	
	<xs:complexType name="registroTransaccionesBALCAMResponse">
		<xs:sequence>
		    <xs:element name="CODIGO_MENSAJE" type="xs:string" minOccurs="0" />
			<xs:element name="DETALLE_MENSAJE" type="xs:string" minOccurs="0" />
			<xs:element name="TRAMA_TRANS_ERR" type="xs:string" minOccurs="0" />
	    </xs:sequence> 
	</xs:complexType>
	
	<xs:element name="registroTransaccionesBALCAM">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="SET_TRANSACCIONES" type="xs:string" />
	       </xs:sequence>
		</xs:complexType>	
	</xs:element>
	
	<xs:element name="registroTransaccionesBALCAMResponse" type="cons:registroTransaccionesBALCAMResponse" />
	
</xs:schema>