Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/OperacionesCriptograficas/xsd/operacionesCriptograficasTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasTypes"
	elementFormDefault="qualified">
	
	<xs:simpleType name="cipherType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RSA"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="hashAlgortithm">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MD5"/>
			<xs:enumeration value="SHA-256"/>
			<xs:enumeration value="SHA-512"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="cifrarDatos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CIPHER" type="tns:cipherType"/>
				<xs:element name="CRYPTOKEY_ALIAS" type="xs:string"/>
				<xs:element name="DECRYPTED_DATA" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cifrarDatosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ENCRYPTED_DATA" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="descifrarDatos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CIPHER" type="tns:cipherType"/>
				<xs:element name="CRYPTOKEY_ALIAS" type="xs:string"/>
				<xs:element name="ENCRYPTED_DATA" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="descifrarDatosResponse"> 
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DECRYPTED_DATA" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="generarHash">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ALGORITHM" type="tns:hashAlgortithm"/>
				<xs:element name="PLAIN_DATA" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="generarHashResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HASH_REPRESENTATION" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>