Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ModificaMontoDebitoFondoPensiones/xsd/modificaMontoDebitoFondoPensionesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
       targetNamespace="http://www.ficohsa.com.hn/middleware.services/modificaMontoDebitoFondoPensionesTypes" 
       xmlns:tns="http://www.ficohsa.com.hn/middleware.services/modificaMontoDebitoFondoPensionesTypes">
       
    <xs:simpleType name="stringMaxLength3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
       
       
	<xs:element name="modificaMontoDebitoFondoPensionesRequest">
		<xs:complexType>
			<xs:sequence>
          		<xs:element name="ID" type="xs:string"/> 
				<xs:element name="AMOUNT" type="xs:string"/>
          	</xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="modificaMontoDebitoFondoPensionesResponse">
		<xs:complexType>
			<xs:sequence>
          	</xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>