Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaEstadoBloqueoTC/xsd/consultaEstadoBloqueoTCTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaEstadoBloqueoTCTypes" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaEstadoBloqueoTCTypes">
  <xs:element name="consultaEstadoBloqueoTCRequest">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="1"/> 
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaEstadoBloqueoTCResponse">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="ACCOUNT_STATUS" type="xs:string" minOccurs="0"/>
		<xs:element name="BLOCK_TYPE" type="xs:string" minOccurs="0"/>	
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>