Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/errorHandling/Resources/ErrorHandling.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_1373491458.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_1080088451.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Listadesolicitudescontimeout">
<part name="parameters" element="tns:Listadesolicitudescontimeout"/>
</message>
<message name="ListadesolicitudescontimeoutResponse">
<part name="parameters" element="tns:ListadesolicitudescontimeoutResponse"/>
</message>
<message name="Actualizarregistroerrorhandling">
<part name="parameters" element="tns:Actualizarregistroerrorhandling"/>
</message>
<message name="ActualizarregistroerrorhandlingResponse">
<part name="parameters" element="tns:ActualizarregistroerrorhandlingResponse"/>
</message>
<message name="Actualizarregistroerrorhandling_Validate">
<part name="parameters" element="tns:Actualizarregistroerrorhandling_Validate"/>
</message>
<message name="Actualizarregistroerrorhandling_ValidateResponse">
<part name="parameters" element="tns:Actualizarregistroerrorhandling_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Listadesolicitudescontimeout">
<input message="tns:Listadesolicitudescontimeout"/>
<output message="tns:ListadesolicitudescontimeoutResponse"/>
</operation>
<operation name="Actualizarregistroerrorhandling">
<input message="tns:Actualizarregistroerrorhandling"/>
<output message="tns:ActualizarregistroerrorhandlingResponse"/>
</operation>
<operation name="Actualizarregistroerrorhandling_Validate">
<input message="tns:Actualizarregistroerrorhandling_Validate"/>
<output message="tns:Actualizarregistroerrorhandling_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listadesolicitudescontimeout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizarregistroerrorhandling">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizarregistroerrorhandling_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwinterbanca:7003/svcErrorHandling/services"/>
</port>
</service>
</definitions>