Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ListadoPlanillasProveedores/xsd/listadoPlanillasProveedoresTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/listadoPlanillasProveedoresTypes" 
		xmlns:tns="http://www.ficohsa.com.hn/middleware.services/listadoPlanillasProveedoresTypes">
		
		<!-- Parametros de Entrada -->
		
		<xs:element name="listadoPlanillasProveedores">
			<xs:complexType>
				<xs:sequence>
		            <xs:element name="CONTRACT_ID" type="xs:string" />
		            <xs:element name="CUSTOMER_COMPANY_ID" type="xs:string" />
		            <xs:element name="PAYROLL_GROUP_ID" type="xs:string"/>
		       </xs:sequence>
			</xs:complexType>
		</xs:element>		
		
		<!-- Parametros de Salida -->
		
		<xs:element name="listadoPlanillasProveedoresResponse" type="tns:listadoPlanillasProveedoresResponseType"/>
		
		<xs:complexType name="listadoPlanillasProveedoresResponseType">
			<xs:sequence>
				<xs:element name="listadoPlanillasProveedoresResponseType" type="tns:listadoPlanillasProveedoresResponseRecordType" form="qualified" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
		
		<xs:complexType name="listadoPlanillasProveedoresResponseRecordType">
			<xs:sequence>
					<xs:element name="listadoPlanillasProveedoresResponseRecordType" type="tns:listadoPlanillasProveedoresResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>			
		
		<xs:complexType name = "listadoPlanillasProveedoresResponseArrayType">
			<xs:sequence>
				<xs:element name="PAYROLL_GROUP_ID" type="xs:string" minOccurs="0" />
	            <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0" />
	            <xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0" />
	            <xs:element name="CURRENT_STATUS" type="xs:string" minOccurs="0" />
	            <xs:element name="CUSTOMER_CODE" type="xs:string" minOccurs="0" />
	            <xs:element name="CASH_ADVANCE_FLAG" type="xs:string" minOccurs="0" />	            
		    </xs:sequence> 
		</xs:complexType>		
		
</xs:schema>