Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ConsultaTarjetasCreditoPorClienteFacade/xsd/XMLSchema_Body.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTarjetasCreditoPorClienteTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:def="http://www.ficohsa.com.hn/middleware.services/consultaTarjetasCreditoPorClienteTypes"> 
		
    
    <!-- customerFilterClassType -->
    
    <xs:complexType name="customerFilterClassType">
        <xs:sequence>
            <xs:element name="CUSTOMER_ID_TYPE" type="def:minLength1"/>
        	<xs:element name="CUSTOMER_ID_VALUE" type="xs:string"/>  
        </xs:sequence>
    </xs:complexType>
    
    <!-- customerIdTypeClass -->
    
    <xs:simpleType name="minLength1">
        <xs:restriction base="xs:string">
           <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- creditCardInformationClassType -->
    
    <xs:complexType name="creditCardInformationClassType">
        <xs:sequence>
            <xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0"/>
            <xs:element name="CARD_TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
            <xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="AFINITY_GROUP" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    	<!--##################################################################-->     
    			<!--OPERACION: CONSULTA TARJETAS CREDITO POR CLIENTE-->
    		
	<xs:element name="consultaTarjetasCreditoPorCliente">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CUSTOMER_FILTER" type="def:customerFilterClassType"/>
				<xs:element name="CREDIT_CARD_STATUS" type="xs:string"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>
    
    <xs:element name="consultaTarjetasCreditoPorClienteResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CREDIT_CARDS" minOccurs="0">
	                <xs:complexType>
	                    <xs:sequence>
	                        <xs:element name="CREDIT_CARD_INFORMATION" type="def:creditCardInformationClassType" minOccurs="0" maxOccurs="unbounded"/>
	                    </xs:sequence>
	                </xs:complexType>
	            </xs:element>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>
    
</xs:schema>