Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/confirmaCheque/ConfirmacionCheque/confirmacionChequeTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/confirmacionChequeTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/confirmacionChequeTypes">
	
	<xs:element name="confirmacionCheque">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
	            <xs:element name="CHEQUE_NUMBER" type="xs:string"/>
	            <xs:element name="CONFIRMATION_TYPE" type="xs:string"/>
	            <xs:element name="BENEFICIARY_NAME" type="xs:string"/>
	            <xs:element name="AMOUNT" type="xs:string"/>
	            <xs:element name="AGREEMENT_CONTRACT_ID" type="xs:string" minOccurs="0"/>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
		
	<xs:element name="confirmacionChequeResponse"/>
	
</xs:schema>