Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Users/RequestorServices/XSD/createBankingUser.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/createBankingUser" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="createBankingUserRequest">
    <xsd:annotation>
      <xsd:documentation>createBankingUserRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="DocumentTypeId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DocumentNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CustomerNames" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CustomerLastNames" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Email" type="xsd:string" minOccurs="1"/>
        <xsd:element name="Phone" type="xsd:string" minOccurs="1"/>
        <xsd:element name="ProductTypeId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ProductNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="UserName" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createBankingUserResponse">
    <xsd:annotation>
      <xsd:documentation>createBankingUserResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="UserName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateBankingUserRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="UserName" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="upateBankingUserResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>