Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Users/RequestorServices/XSD/getUser.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/getUser" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ficohsa.com.hn/middleware.services/getUser" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="getUserResponse">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="UserDetails" minOccurs="0">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="LegalId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SignOnName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UserName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OfficerDao" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BranchDao" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>