Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/OSB/ConsultaEnvioEstadoCuenta_v2/wsdl/ConsultaEnvioEstadoCuenta_v2.wsdl

<WL5G3N0:definitions name="consultaEnvioEstadoCuentaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_-1676191084.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaTypes" schemaLocation="../xsd/XMLSchema_529944320.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaEnvioEstadoCuentaRequest">
    <WL5G3N0:part element="WL5G3N2:consultaEnvioEstadoCuenta" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaEnvioEstadoCuentaResponse">
    <WL5G3N0:part element="WL5G3N2:consultaEnvioEstadoCuentaResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="consultaEnvioEstadoCuentaPS">
    <WL5G3N0:operation name="consultaEnvioEstadoCuenta" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaEnvioEstadoCuentaRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaEnvioEstadoCuentaResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="consultaEnvioEstadoCuentaPSSOAP" type="WL5G3N3:consultaEnvioEstadoCuentaPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="consultaEnvioEstadoCuenta">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="consultaEnvioEstadoCuentaPS">
    <WL5G3N0:port binding="WL5G3N3:consultaEnvioEstadoCuentaPSSOAP" name="consultaEnvioEstadoCuentaPSSOAP">
      <WL5G3N4:address location="http://JMEJIA.CIDENET.LOCAL:7001/Middleware/OperationsAndExecution/Cards/ConsultaEnvioEstadoCuenta"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>