Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ValidaDepositoReferenciadoCB/xsd/validaDepositoReferenciadoCBTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:FicVdr="http://www.ficohsa.com.hn/middleware.services/ValidaDepositoReferenciadoCBTypes" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ValidaDepositoReferenciadoCBTypes" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="validaDepositoReferenciadoCBRequest" type="FicVdr:ValidaDepositoReferenciadoCBRequestIM"/>
	<xs:element name="validaDepositoReferenciadoCBResponse" type="FicVdr:ValidaDepositoReferenciadoCBResponseIM"/>
	<xs:complexType name="ValidaDepositoReferenciadoCBRequestIM">
		<xs:sequence>
			<xs:element name="ACCOUNT" type="xs:string"/>
			<xs:element name="DOCUMENT_INFO" type="FicVdr:DocumentInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValidaDepositoReferenciadoCBResponseIM">
		<xs:sequence>
			<xs:element name="DOCUMENT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBTOR_INFO" type="FicVdr:DebtorInfoType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentInfoType">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string"/>
			<xs:element name="VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DebtorInfoType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="NAME" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>