Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaListaServicios/xsd/ConsultaListaServiciosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:FicCpa="http://www.ficohsa.com.hn/middleware.services/ConsultaListaServiciosTypes" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsultaListaServiciosTypes" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="consultaListaServicios" type="FicCpa:ConsultaListaServiciosRequestIM"/>
	<xs:element name="consultaListaServiciosResponse" type="FicCpa:ConsultaListaServiciosResponseIM"/>
	<xs:complexType name="ConsultaListaServiciosRequestIM">
		<xs:sequence>
			<xs:element name="SERVICE_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="CHANNEL" type="FicCpa:ChannelTypeEnum"/>
			<xs:element name="TYPE" type="FicCpa:TypeTypeEnum"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsultaListaServiciosResponseIM">
		<xs:sequence>
			<xs:element name="SERVICES" type="FicCpa:ServicesType"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServicesType">
		<xs:sequence>
			<xs:element name="SERVICE" type="FicCpa:ServiceType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="CONTRACT_ID" type="xs:string"/>
			<xs:element name="DESCRIPTION" type="xs:string"/>
			<xs:element name="COUNTRY" type="xs:string"/>
			<xs:element name="CATEGORIES" type="FicCpa:CategoriesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CategoriesType">
		<xs:sequence>
			<xs:element name="CATEGORY" type="FicCpa:CategoryType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CategoryType">
		<xs:sequence>
			<xs:element name="VALUE" type="xs:string"/>
			<xs:element name="SUBCATEGORIES" type="FicCpa:SubCategoriesType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubCategoriesType">
		<xs:sequence>
			<xs:element name="SUBCATEGORY" type="FicCpa:SubCategoryType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubCategoryType">
		<xs:sequence>
			<xs:element name="VALUE" type="xs:string"/>
			<xs:element name="SUB_TYPES" type="FicCpa:SubTypesType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubTypesType">
		<xs:sequence>
			<xs:element name="SUB_TYPE" type="FicCpa:SubTypeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubTypeType">
		<xs:sequence>
			<xs:element name="VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ChannelTypeEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="ICB"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeTypeEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="AGREEMENT"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>