Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/WSDL/ClaroMobilePackages/ClaroMobilePackages.wsdl

<WL5G3N0:definitions name="ESBWS" targetNamespace="http://www.claro.com.hn/esb/ws/packages/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.claro.com.hn/esb/ws/packages/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.claro.com.hn/esb/ws/packages/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.claro.com.hn/esb/ws/packages/" schemaLocation="../../XSD/ClaroMobilePackages/XMLSchema_1732612083.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="buyPack">
    <WL5G3N0:part element="WL5G3N1:buyPack" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="buyPackResponse">
    <WL5G3N0:part element="WL5G3N1:buyPackResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getListPacks">
    <WL5G3N0:part element="WL5G3N1:getListPacks" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getListPacksResponse">
    <WL5G3N0:part element="WL5G3N1:getListPacksResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="validateOperation">
    <WL5G3N0:part element="WL5G3N1:validateOperation" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="validateOperationResponse">
    <WL5G3N0:part element="WL5G3N1:validateOperationResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="BUYPACK">
    <WL5G3N0:operation name="buyPack">
      <WL5G3N0:input message="WL5G3N1:buyPack"/>
      <WL5G3N0:output message="WL5G3N1:buyPackResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="getListPacks">
      <WL5G3N0:input message="WL5G3N1:getListPacks"/>
      <WL5G3N0:output message="WL5G3N1:getListPacksResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validateOperation">
      <WL5G3N0:input message="WL5G3N1:validateOperation"/>
      <WL5G3N0:output message="WL5G3N1:validateOperationResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="BUYPACKPortBinding" type="WL5G3N1:BUYPACK">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="buyPack">
      <WL5G3N2:operation/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="getListPacks">
      <WL5G3N2:operation/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validateOperation">
      <WL5G3N2:operation/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ESBWS">
    <WL5G3N0:port binding="WL5G3N1:BUYPACKPortBinding" name="BUYPACKPort">
      <WL5G3N2:address location="http://192.168.50.54:8003/Middleware/External/Outgoing/ProxyServices/PackageWebService"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>