Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/ConsultaDatosTarjetaDebito/xsd/cobiscorp.ecobis.srvaplcobistarjetadebito.dto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" targetNamespace="http://dto.srvaplcobistarjetadebito.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:dto="http://dto.srvaplcobistarjetadebito.ecobis.cobiscorp" xmlns:dto2="http://dto2.sdf.cts.cobis.cobiscorp.com">
  <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/>
  <simpleType name="char">
    <restriction base="string">
      <length value="1"/>
    </restriction>
  </simpleType>
  <complexType name="ContextoRespuesta">
    <sequence>
      <element name="identificadorTransaccion" type="string" minOccurs="0"/>
      <element name="fecTransaccion" type="dateTime" minOccurs="0"/>
      <element name="codTipoRespuesta" type="string" minOccurs="0"/>
      <element name="valDescripcionRespuesta" type="string" minOccurs="0"/>
      <element name="ipConsumidor" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="ContextoTransaccional">
    <sequence>
      <element name="identificadorTransaccional" type="string" minOccurs="0"/>
      <element name="fecTransaccion" type="dateTime" minOccurs="0"/>
      <element name="codCanalOriginador" type="int" minOccurs="0"/>
      <element name="ipConsumidor" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="Cuenta">
    <sequence>
      <element name="numCuenta" type="string" minOccurs="0"/>
      <element name="moneda" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="OpConsultaTarjetaDebitoRespuesta">
    <complexContent>
      <extension base="dto2:CTSServiceResponseTO">
        <sequence>
          <element name="contextoRespuesta" type="dto:ContextoRespuesta" minOccurs="1"/>
          <element name="tarjeta" type="dto:Tarjeta" minOccurs="1"/>
          <element name="cuenta" type="dto:Cuenta" minOccurs="1"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OpConsultaTarjetaDebitoSolicitud">
    <sequence>
      <element name="contextoTransaccional" type="dto:ContextoTransaccional" minOccurs="1"/>
      <element name="tarjetaDebito" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="Tarjeta">
    <sequence>
      <element name="idCliente" type="int" minOccurs="0"/>
      <element name="nombreTarjeta" type="string" minOccurs="0"/>
      <element name="categoriaTarjeta" type="string" minOccurs="0"/>
      <element name="estadoTarjeta" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
</schema>