Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/ConsultaDatosTarjetaDebito/xsd/commonDTO1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" targetNamespace="http://dto2.commons.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="MessageTO">
    <sequence>
      <element name="code" minOccurs="0" type="string"/>
      <element name="message" minOccurs="0" type="string"/>
      <element name="type" minOccurs="0" type="string"/>
    </sequence>
  </complexType>
</schema>