Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/notificaDivisasEncabezado/wsdl/notificaDivisasEncabezado.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:cshrq1="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
	xmlns:shrq0="http://xmlns.oracle.com/types/ws_captura_piib_Cloud/1655745292109/InboundSOAPRequestDocument"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="S_captura_piib_eco" targetNamespace="http://tempuri.org/">
	<wsp:Policy wsu:Id="wss_http_token_or_jwt_token_service_policy">
		<wsp:ExactlyOne>
			<wsp:All />
			<wsp:All>
				<sp:TransportBinding
					xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<osp:HttpToken
									xmlns:osp="http://schemas.oracle.com/ws/2012/01/wssecuritypolicy">
									<wsp:Policy>
										<osp:HttpJwtAuthentication />
									</wsp:Policy>
								</osp:HttpToken>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax />
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import namespace="http://tempuri.org/"
				schemaLocation="../xsd/ws_captura_piib.S_captura_piib_eco.svc.3217.xsd" />
			<xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/"
				schemaLocation="../xsd/ws_captura_piib.S_captura_piib_eco.svc.7845.xsd" />
			<xsd:import namespace="http://schemas.microsoft.com/Message"
				schemaLocation="../xsd/ws_captura_piib.S_captura_piib_eco.svc.9976.xsd" />
		</xsd:schema>
		<xs:schema xmlns="http://www.w3.org/2005/08/addressing"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			targetNamespace="http://www.w3.org/2005/08/addressing">
			<xs:include schemaLocation="../xsd/WS_Addressing.xsd" />
		</xs:schema>
		<xs:schema
			xmlns="http://xmlns.oracle.com/types/ws_captura_piib_Cloud/1655745292109/InboundSOAPRequestDocument"
			xmlns:ns0="http://www.w3.org/2005/08/addressing" xmlns:ns1="http://tempuri.org/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			targetNamespace="http://xmlns.oracle.com/types/ws_captura_piib_Cloud/1655745292109/InboundSOAPRequestDocument">
			<xs:import namespace="http://tempuri.org/" />
			<xs:import namespace="http://www.w3.org/2005/08/addressing"
				schemaLocation="../xsd/WS_Addressing.xsd" />
			<xs:element name="InboundSOAPRequestDocument" type="InboundSOAPRequestDocumentType" />
			<xs:complexType name="InboundSOAPRequestDocumentType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="Headers"
						type="HeadersType" />
					<xs:element maxOccurs="1" minOccurs="1" name="Body"
						type="BodyType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HeadersType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="CustomSOAPHeaders"
						type="CustomSOAPHeadersType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CustomSOAPHeadersType">
				<xs:sequence>
					<xs:element xmlns:ns1="http://www.w3.org/2005/08/addressing"
						ref="ns1:Action" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="BodyType">
				<xs:sequence>
					<xs:element ref="ns1:Of_cargar_ingreso_egreso_divisas_encab" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema
			xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd">
			<xs:element name="ics_tracking_context">
				<xs:annotation>
					<xs:documentation>ICS Tracking Context Schema</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0"
							name="tracking_property" type="TrackingPropertyType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="TrackingPropertyType">
				<xs:sequence>
					<xs:element name="name" type="xs:string" />
					<xs:element name="value" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon">
			<xs:element name="ics_insight_context">
				<xs:annotation>
					<xs:documentation>Insight Context Schema</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0"
							name="insight_property" type="InsightPropertyType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="InsightPropertyType">
				<xs:sequence>
					<xs:element name="name" type="xs:string" />
					<xs:element name="value" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message
		name="IS_captura_piib_eco_Of_cargar_ingreso_egreso_divisas_encab_InputMessage">
		<wsdl:part name="parameters" element="tns:Of_cargar_ingreso_egreso_divisas_encab" />
	</wsdl:message>
	<wsdl:message
		name="IS_captura_piib_eco_Of_cargar_ingreso_egreso_divisas_encab_OutputMessage">
		<wsdl:part name="parameters"
			element="tns:Of_cargar_ingreso_egreso_divisas_encabResponse" />
	</wsdl:message>
	<wsdl:message name="Action_Request_Msg">
		<wsdl:part name="request" element="cshrq1:Action" />
	</wsdl:message>
	<wsdl:portType name="IS_captura_piib_eco_ws_captura_piib_Cloud_REQUEST">
		<wsdl:operation name="Of_cargar_ingreso_egreso_divisas_encab">
			<wsdl:input
				message="tns:IS_captura_piib_eco_Of_cargar_ingreso_egreso_divisas_encab_InputMessage"
				wsaw:Action="http://tempuri.org/IS_captura_piib_eco/Of_cargar_ingreso_egreso_divisas_encab" />
			<wsdl:output
				message="tns:IS_captura_piib_eco_Of_cargar_ingreso_egreso_divisas_encab_OutputMessage"
				wsaw:Action="http://tempuri.org/IS_captura_piib_eco/Of_cargar_ingreso_egreso_divisas_encabResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding
		name="IS_captura_piib_eco_ws_captura_piib_Cloud_REQUEST_binding" type="tns:IS_captura_piib_eco_ws_captura_piib_Cloud_REQUEST">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsp:PolicyReference URI="#wss_http_token_or_jwt_token_service_policy"
			wsdl:required="false" />
		<wsdl:operation name="Of_cargar_ingreso_egreso_divisas_encab">
			<soap:operation
				soapAction="http://tempuri.org/IS_captura_piib_eco/Of_cargar_ingreso_egreso_divisas_encab" />
			<wsdl:input>
				<soap:header message="tns:Action_Request_Msg" part="request"
					use="literal" encodingStyle="" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="S_captura_piib_eco">
		<wsdl:port name="IS_captura_piib_eco_ws_captura_piib_Cloud_REQUEST_pt"
			binding="tns:IS_captura_piib_eco_ws_captura_piib_Cloud_REQUEST_binding">
			<soap:address
				location="https://OICDEV-ficocloud.integration.ocp.oraclecloud.com:443/ic/ws/integration/v1/flows/soap/WS_CAPTURA_PIIB_ENCAB/1.0/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
