Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaMovimientosPagoPrestamo/xsd/consultaMovimientosPagoPrestamoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosPagoPrestamoTypes" 
xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosPagoPrestamoTypes" 
elementFormDefault="qualified">

	<xs:element name="consultaMovimientosPagoPrestamo">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="LOAN_ID" type="xs:string" />
					<xs:element name="PAGING_INFO" type="tns:pagingInfo" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
	</xs:element>
	
	<xs:complexType name="pagingInfo">
			<xs:sequence>
				<xs:element name="PAGING" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="YES"/>
							<xs:enumeration value="NO"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			   <xs:element name="INITIAL_RECORD" type="xs:string" />
			   <xs:element name="RECORD_COUNT" type="xs:string" />
			</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="consultaMovimientosPagoPrestamoResponse">
		<xs:sequence>
			<xs:element name="LOAN_ID" type="xs:string" minOccurs="0" />
			<xs:element name="LOAN_CUSTOMER_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="EFFECTIVE_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="MATURITY_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="INTEREST_RATE" type="xs:string" minOccurs="0" />
			<xs:element name="PRINCIPAL_INITIAL_AMT" type="xs:string" minOccurs="0" />		
			<xs:element name="consultaMovimientosPagoPrestamoType" minOccurs="0" form="qualified">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaMovimientosPagoPrestamoResponseRecordType" minOccurs="0" maxOccurs="unbounded" form="qualified">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BILL_DATE" type="xs:string" minOccurs="0"/>
									<xs:element name="BILL_HOUR" type="xs:string" minOccurs="0"/>
									<xs:element name="BILL_NUMBER" type="xs:string" minOccurs="0"/>
									<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="CAPITAL_AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="INTEREST_AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="OVERDUE_INTEREST_AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="INSURANCE_AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="OTHER_AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="BILL_REFERENCE" type="xs:string" minOccurs="0"/>
									<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:element name="consultaMovimientosPagoPrestamoResponse" type="tns:consultaMovimientosPagoPrestamoResponse" />
</xs:schema>