Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/DesembolsoLineaCredito/wsdl/desembolsoLineaCreditoPS.wsdl

<wsdl:definitions name="desembolsoLineaCreditoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/desembolsoLineaCreditoPS/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/desembolsoLineaCreditoPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cipt="http://www.ficohsa.com.hn/middleware.services/desembolsoLineaCreditoTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/desembolsoLineaCreditoTypes" schemaLocation="../xsd/desembolsoLineaCreditoTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="crearSolicitudCliente">
		<wsdl:part element="cipt:crearSolicitudCliente" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="crearSolicitudClienteResponse">
		<wsdl:part element="cipt:crearSolicitudClienteResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="consultaSolicitudesCliente">
		<wsdl:part element="cipt:consultaSolicitudesCliente" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaSolicitudesClienteResponse">
		<wsdl:part element="cipt:consultaSolicitudesClienteResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="consultaInformacionSolicitudes">
		<wsdl:part element="cipt:consultaInformacionSolicitudes" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaInformacionSolicitudesResponse">
		<wsdl:part element="cipt:consultaInformacionSolicitudesResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="procesarSolicitudesCliente">
		<wsdl:part element="cipt:procesarSolicitudesCliente" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="procesarSolicitudesClienteResponse">
		<wsdl:part element="cipt:procesarSolicitudesClienteResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>

	<wsdl:portType name="desembolsoLineaCreditoPS">
	
		<wsdl:operation name="crearSolicitudCliente" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:crearSolicitudCliente"/>
			<wsdl:output message="tns:crearSolicitudClienteResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaSolicitudesCliente" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:consultaSolicitudesCliente"/>
			<wsdl:output message="tns:consultaSolicitudesClienteResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaInformacionSolicitudes" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:consultaInformacionSolicitudes"/>
			<wsdl:output message="tns:consultaInformacionSolicitudesResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="procesarSolicitudesCliente" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:procesarSolicitudesCliente"/>
			<wsdl:output message="tns:procesarSolicitudesClienteResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="desembolsoLineaCreditoPSSOAP" type="tns:desembolsoLineaCreditoPS">
	
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="crearSolicitudCliente">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/desembolsoLineaCreditoPS/crearSolicitudCliente"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:crearSolicitudCliente" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:crearSolicitudClienteResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="consultaSolicitudesCliente">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/desembolsoLineaCreditoPS/consultaSolicitudesCliente"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:consultaSolicitudesCliente" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:consultaSolicitudesClienteResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		
		<wsdl:operation name="consultaInformacionSolicitudes">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/desembolsoLineaCreditoPS/consultaInformacionSolicitudes"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:consultaInformacionSolicitudes" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:consultaInformacionSolicitudesResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="procesarSolicitudesCliente">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/desembolsoLineaCreditoPS/procesarSolicitudesCliente"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:procesarSolicitudesCliente" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:procesarSolicitudesClienteResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
	</wsdl:binding>
		
	<wsdl:service name="desembolsoLineaCreditoPS">
		<wsdl:port binding="tns:desembolsoLineaCreditoPSSOAP" name="desembolsoLineaCreditoPSSOAP">
	  		<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/CustomerLoans/desembolsoLineaCredito"/>
	   	</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>