Fuentes/ficohsacore-osb12-b78f21b126d5/DigitalBanking/RequestorServices/ProxyServices/v1.0/GetBankingUser/XSD/ValidateUserICBMessageGTOut.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:tailored.icbanking.services.administration.users"
            targetNamespace="urn:tailored.icbanking.services.administration.users" elementFormDefault="qualified">
  <xsd:element name="ValidateUserByUserNameMessageOut">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DocumentNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DocumentTypeDescription" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DocumentTypeId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Email" type="xsd:string" minOccurs="0"/>
        <xsd:element name="OperationResult" type="xsd:string" minOccurs="0"/>
        <xsd:element name="OperationResultDescription" type="xsd:string" minOccurs="0"/>
        <xsd:element name="SecurityDeviceDescription" type="xsd:string" minOccurs="0"/>
        <xsd:element name="SecurityDeviceId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="UserStatusDescription" type="xsd:string" minOccurs="0"/>
        <xsd:element name="UserStatusId" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetUserByDocumentNumberMessageOut">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ApprovalContext" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ExtendedOperationData" type="xsd:string" minOccurs="0"/>
        <xsd:element name="UserSessionContextInfo" type="xsd:string" minOccurs="0"/>
        <xsd:element name="OperationResult" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="value" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ResultCode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Username" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>