Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActualizaEstadoReprocesoACH/xsd/actualizaEstadoReprocesoACHTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoReprocesoACHTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoReprocesoACHTypes">
	
	<xs:element name="actualizaEstadoReprocesoACHResponse">
		<xs:complexType>
			<xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    
	<xs:element name="actualizaEstadoReprocesoACH">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REF_CONTROL_T24" type="xs:string" minOccurs="0"/>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="IS_LBTR" type="xs:string" minOccurs="0"/>
				<xs:element name="FT_TRANSACTION" type="xs:string" minOccurs="0"/>
				<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="LEGEND_BANK_ISSUER" type="xs:string" minOccurs="0"/>
				<xs:element name="REJECTION_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="REJECTION_MESSAGE" type="xs:string" minOccurs="0"/>
				<xs:element name="TRANSACTION_TYPE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	    
</xs:schema>