Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/MarcadoPredictivo/wsdl/marcadoPredictivoPS.wsdl

<wsdl:definitions name="marcadoPredictivoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/marcadoPredictivoPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/marcadoPredictivoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cco="http://www.ficohsa.com.hn/middleware.services/marcadoPredictivoTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/marcadoPredictivoTypes" schemaLocation="../xsd/marcadoPredictivoTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
		
	<wsdl:message name="marcadoPredictivoRequest">
		<wsdl:part element="cco:marcadoPredictivo" name="parameters"/>		
	</wsdl:message>
	<wsdl:message name="marcadoPredictivoResponse">
		<wsdl:part element="cco:marcadoPredictivoResponse" name="result"/>		
	</wsdl:message>
	
	<wsdl:portType name="marcadoPredictivoPS">
		<wsdl:operation name="marcadoPredictivo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:marcadoPredictivoRequest"/>
			<wsdl:output message="fic:marcadoPredictivoResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="marcadoPredictivoPSSOAP" type="fic:marcadoPredictivoPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="marcadoPredictivo">
			<soap:operation soapAction="http://www.example.org/marcadoPredictivoPS/NewOperation"/>				
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>				
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="marcadoPredictivoPS">
		<wsdl:port binding="fic:marcadoPredictivoPSSOAP" name="marcadoPredictivoPSSOAP">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>