Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/recaudos/Resources/Recaudos.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_-1306249957.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-1599652964.xsd"/>
</xsd:schema>
</types>
<message name="CalculoCobranzasReferenciadas">
    <part name="parameters" element="tns:CalculoCobranzasReferenciadas"/>
  </message>
  <message name="CalculoCobranzasReferenciadasResponse">
    <part name="parameters" element="tns:CalculoCobranzasReferenciadasResponse"/>
  </message>
  <message name="Consultadereciboderecaudo">
    <part name="parameters" element="tns:Consultadereciboderecaudo"/>
  </message>
  <message name="ConsultadereciboderecaudoResponse">
    <part name="parameters" element="tns:ConsultadereciboderecaudoResponse"/>
  </message>
  <message name="Consultadedetrecaudoamdcmeses">
    <part name="parameters" element="tns:Consultadedetrecaudoamdcmeses"/>
  </message>
  <message name="ConsultadedetrecaudoamdcmesesResponse">
    <part name="parameters" element="tns:ConsultadedetrecaudoamdcmesesResponse"/>
  </message>
  <message name="Consultadedetrecaudoamdcmontos">
    <part name="parameters" element="tns:Consultadedetrecaudoamdcmontos"/>
  </message>
  <message name="ConsultadedetrecaudoamdcmontosResponse">
    <part name="parameters" element="tns:ConsultadedetrecaudoamdcmontosResponse"/>
  </message>
  <message name="Consultadedetrecaudomigracion">
    <part name="parameters" element="tns:Consultadedetrecaudomigracion"/>
  </message>
  <message name="ConsultadedetrecaudomigracionResponse">
    <part name="parameters" element="tns:ConsultadedetrecaudomigracionResponse"/>
  </message>
  <message name="Consultadedetallederecaudo">
    <part name="parameters" element="tns:Consultadedetallederecaudo"/>
  </message>
  <message name="ConsultadedetallederecaudoResponse">
    <part name="parameters" element="tns:ConsultadedetallederecaudoResponse"/>
  </message>
  <message name="Listaderecaudos">
    <part name="parameters" element="tns:Listaderecaudos"/>
  </message>
  <message name="ListaderecaudosResponse">
    <part name="parameters" element="tns:ListaderecaudosResponse"/>
  </message>
  <message name="callOfs">
    <part name="parameters" element="tns:callOfs"/>
  </message>
  <message name="callOfsResponse">
    <part name="parameters" element="tns:callOfsResponse"/>
  </message>
  <portType name="T24WebServicesImpl">
    <operation name="CalculoCobranzasReferenciadas">
      <input message="tns:CalculoCobranzasReferenciadas"/>
      <output message="tns:CalculoCobranzasReferenciadasResponse"/>
    </operation>
    <operation name="Consultadereciboderecaudo">
      <input message="tns:Consultadereciboderecaudo"/>
      <output message="tns:ConsultadereciboderecaudoResponse"/>
    </operation>
    <operation name="Consultadedetrecaudoamdcmeses">
      <input message="tns:Consultadedetrecaudoamdcmeses"/>
      <output message="tns:ConsultadedetrecaudoamdcmesesResponse"/>
    </operation>
    <operation name="Consultadedetrecaudoamdcmontos">
      <input message="tns:Consultadedetrecaudoamdcmontos"/>
      <output message="tns:ConsultadedetrecaudoamdcmontosResponse"/>
    </operation>
    <operation name="Consultadedetrecaudomigracion">
      <input message="tns:Consultadedetrecaudomigracion"/>
      <output message="tns:ConsultadedetrecaudomigracionResponse"/>
    </operation>
    <operation name="Consultadedetallederecaudo">
      <input message="tns:Consultadedetallederecaudo"/>
      <output message="tns:ConsultadedetallederecaudoResponse"/>
    </operation>
    <operation name="Listaderecaudos">
      <input message="tns:Listaderecaudos"/>
      <output message="tns:ListaderecaudosResponse"/>
    </operation>
    <operation name="callOfs">
      <input message="tns:callOfs"/>
      <output message="tns:callOfsResponse"/>
    </operation>
  </portType>
  <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="CalculoCobranzasReferenciadas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultadereciboderecaudo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultadedetrecaudoamdcmeses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultadedetrecaudoamdcmontos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultadedetrecaudomigracion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultadedetallederecaudo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Listaderecaudos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="callOfs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwomnicanal:7003/svcRecaudos/services"/>
</port>
</service>
</definitions>