Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/OSB/consultaCliente_v3/xsd/XMLSchema_209662696.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaClientesTypes" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaClientesTypes">

    
<xs:element name="consultaClienteRequest">
<xs:complexType>
	<xs:sequence>
		<xs:element name="CUSTOMER_ID_TYPE" type="xs:string"/>
		<xs:element name="CUSTOMER_ID_VALUE" type="xs:string"/>
	</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="consultaClienteResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="MNEMONIC" type="xs:string" minOccurs="0"/>
			<xs:element name="IDENTIFICATION_INFO" type="con:legalIdentificationListType" minOccurs="0"/>
			<xs:element name="GIVEN_NAMES" type="xs:string" minOccurs="0"/>
			<xs:element name="FAMILY_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="FULL_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="NAME_OF_BUSINESS" type="xs:string" minOccurs="0"/>
			<xs:element name="COMMERCIAL_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_HOLDER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="SHORT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_OF_BIRTH" type="xs:string" minOccurs="0"/>
			<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
			<xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
			<xs:element name="RESIDENCE" type="xs:string" minOccurs="0"/>
			<xs:element name="SECTOR" type="xs:string" minOccurs="0"/>
			<xs:element name="SECTOR_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="INDUSTRY" type="xs:string" minOccurs="0"/>
			<xs:element name="INDUSTRY_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="FGN_CCY_GEN_TYP" type="xs:string" minOccurs="0"/>
			<xs:element name="TARGET" type="xs:string" minOccurs="0"/>
			<xs:element name="TARGET_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="MARITAL_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_STATUS" type="xs:string" minOccurs="0"/>						
			<xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
			<xs:element name="OCCUPATION" type="xs:string" minOccurs="0"/>
			<xs:element name="EMPLOYMENT_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="EMPLOYERS_NAME" type="xs:string" minOccurs="0"/>			
			<xs:element name="MARRIED_LAST_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_REP_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_REP_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE_OF_COMPANY" type="xs:string" minOccurs="0"/>
			<xs:element name="PROFESSION" type="xs:string" minOccurs="0"/>
			<xs:element name="NUMBER_OF_DEED" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_REP_HOME_PHONE" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE_OF_PERSON" type="xs:string" minOccurs="0"/>
			<xs:element name="INPUT_USER" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_OFFICER" type="xs:string" minOccurs="0"/>
			<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="NO_OF_DEPENDENTS" type="xs:string" minOccurs="0"/>
			<xs:element name="EDUCATION_LEVEL" type="xs:string" minOccurs="0"/>
			<xs:element name="SPOUSE_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_SINCE" type="xs:string" minOccurs="0"/>			
			<xs:element name="ECONOMIC_GROUP_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="ECONOMIC_GROUP_NAME" type="xs:string" minOccurs="0"/>			
			<xs:element name="PHONE_INFO" type="con:phoneNumberListType" minOccurs="0"/>																			
			<xs:element name="ADDRESS_INFO" type="con:addressListType" minOccurs="0"/>				
			<xs:element name="EMAIL_INFO" type="con:emailListType" minOccurs="0"/>		
			<xs:element name="JOB_INFO" type="con:jobListType" minOccurs="0"/>						
			<xs:element name="SECTORIZATION_INFO" type="con:sectorizationListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>


<!--SECTORIZATION INFORMATION TYPES-->
<!--##############################-->
<xs:complexType name="sectorizationListType">
 <xs:sequence>
  <xs:element name="SECTORIZATION_ITEM" type="con:sectorizationType" minOccurs="0" maxOccurs="unbounded"/>
 </xs:sequence>
</xs:complexType>

<xs:complexType name="sectorizationType">
	<xs:sequence>
		<xs:element name="SECTORIZATION_TYPE" type="xs:string" minOccurs="0"/>
		<xs:element name="SECTORIZATION_CODE" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>


<!--PHONE NUMBER INFORMATION TYPES-->
<!--##############################-->
 <xs:complexType name="phoneNumberListType">
  <xs:sequence>
   <xs:element name="PHONE_NUMBER_ITEM" type="con:phoneNumberType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

<xs:complexType name="phoneNumberType">
  <xs:sequence>
   <xs:element name="PHONE_LOCATION" type="xs:string"/>
   <xs:element name="PHONE_TYPE" type="xs:string"/>   
   <xs:element name="PHONE_AREA_CODE" type="xs:string"/>
   <xs:element name="PHONE_NUMBER" type="xs:string"/>
   <xs:element name="IS_DEFAULT" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>


 <!--IDENTIFICATION INFORMATION TYPES-->
 <!--################################-->
 <xs:complexType name="legalIdentificationListType">
  <xs:sequence>
   <xs:element name="LEGAL_IDENTIFICATION_ITEM" type="con:legalIdentificationType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="legalIdentificationType">
  <xs:sequence>
  <!--Field for indicate the name (type) of the legal document-->
   <xs:element name="LEGAL_DOCUMENT_NAME"/>  
   <!--Field for indicate number of the legal id document-->
   <xs:element name="LEGAL_ID" type="xs:string"/>   
   <!--Field for indicate expiration date of the legal id document-->
   <xs:element name="EXPIRATION_DATE" type="xs:string"/>   
  </xs:sequence>
 </xs:complexType>

<!--ADDRESS INFORMATION TYPES-->
<!--#########################--> 
 <xs:complexType name="addressListType">
  <xs:sequence>
   <xs:element name="ADDRESS_ITEM" type="con:addressType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 
<xs:complexType name="addressType">
	<xs:sequence>
		<xs:element name="ADDRESS_CODE" type="xs:string"/>
		<xs:element name="ADDRESS_TYPE" type="xs:string"/>		
		<xs:element name="POBOX" type="xs:string"/>
		<xs:element name="ZIPCODE" type="xs:string"/>
		<xs:element name="COUNTRY_CODE" type="xs:string"/>
		<xs:element name="DEPARTMENT_CODE" type="xs:string"/>
		<xs:element name="MUNICIPALITY_CODE" type="xs:string"/>
		<xs:element name="CITY_CODE" type="xs:string"/>
		<xs:element name="DISTRICT_CODE" type="xs:string"/>
		<xs:element name="ADDRESS_LINE_1" type="xs:string"/>
		<xs:element name="ADDRESS_LINE_2" type="xs:string"/>
		<xs:element name="ADDRESS_LINE_3" type="xs:string"/>
		<xs:element name="ADDRESS_LINE_4" type="xs:string"/>
		<xs:element name="ADDRESS_LINE_5" type="xs:string"/>
		<xs:element name="IS_MAIN_ADDRESS" type="xs:string"/>
	</xs:sequence>
</xs:complexType>

 
 <!--EMAIL ADDRESS INFORMATION TYPES-->
 <!--###############################-->
 <xs:complexType name="emailListType">
  <xs:sequence>
   <xs:element name="EMAIL_ITEM" type="con:emailType" maxOccurs="unbounded"/>   
  </xs:sequence>
 </xs:complexType>
 

 <xs:complexType name="emailType">
  <xs:sequence>
  <xs:element name="EMAIL_CODE" type="xs:string"/>
   <xs:element name="EMAIL_ADDRESS" type="xs:string"/>
    <xs:element name="IS_DEFAULT" type="xs:string"/>   
  </xs:sequence>
 </xs:complexType>

 <!--JOB INFORMATION TYPES-->
 <!--###############################-->
  <xs:complexType name="jobListType">
  <xs:sequence>
   <xs:element name="JOB_ITEM" type="con:jobType" maxOccurs="unbounded"/>   
  </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="jobType">
  <xs:sequence>
   <xs:element name="EMPLOYER_CODE" type="xs:string"/>
   <xs:element name="EMPLOYER_NAME" type="xs:string"/>
   <xs:element name="JOB_CODE" type="xs:string"/>
   <xs:element name="JOB_DESCRIPTION" type="xs:string"/>
   <xs:element name="INCOME_TYPE" type="xs:string"/>
   <xs:element name="SALARY_CURRENCY" type="xs:string"/>
   <xs:element name="SALARY_AMOUNT" type="xs:string"/>
   <xs:element name="START_DATE" type="xs:string"/>
   <xs:element name="END_DATE" type="xs:string"/>	  
   <xs:element name="IS_CURRENT_JOB" type="xs:string"/>   
  </xs:sequence>
 </xs:complexType>


</xs:schema>