Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/MarcadoPredictivo/xsd/marcadoPredictivoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/marcadoPredictivoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/marcadoPredictivoTypes">
			
	<xs:element name="marcadoPredictivo">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CUSTOMER_ID" type="xs:string"/>
				<xs:element name="DISPOSITION_CODE" type="xs:string"/>
				<xs:element name="DATE_TIME_SCHEDULE" type="xs:string" minOccurs="0"/>
				<xs:element name="PHONE_SCHEDULE" type="xs:string" minOccurs="0"/>
				<xs:element name="MEMO_SCHEDULE" type="xs:string" minOccurs="0"/>
				<xs:element name="SAME_AGENT_SCHEDULE" type="xs:string" minOccurs="0"/>
				<xs:element name="SNOOZE_TIME_SCHEDULE" type="xs:string" minOccurs="0"/>
				<xs:element name="SERVICE_ID_SCHEDULE" type="xs:string" minOccurs="0"/>
				<xs:element name="USER_DEFINED_1" type="xs:string" minOccurs="0"/>
	            <xs:element name="ADDITIONAL_INFO" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DATA" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				</xs:sequence>
			</xs:complexType>
			</xs:element>
	
	<xs:element name="marcadoPredictivoResponse"/>
</xs:schema>