Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/RegistrarTransaccionTCFacade/xsd/XMLSchema_KVPair.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/kvpType" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/kvpType">

	<xs:complexType name="KvPair">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="UnboundKvPair">
		<xs:sequence>
			<xs:element name="KV_PAIR" type="kvp:KvPair" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RegionalDetails">
		<xs:sequence>
			<xs:element name="SOURCE" type="kvp:UnboundKvPair" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="DESTINATION" type="kvp:UnboundKvPair" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>		
	</xs:complexType>
	
</xs:schema>