Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Collection/RequestorServices/WSDL/CollectionRouter_PS.wsdl

<wsdl:definitions name="CollectionRouter_PS" targetNamespace="http://xmlns.oracle.com/CollectionRouter_PS" xmlns:tns="http://xmlns.oracle.com/CollectionRouter_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/getCollectionTypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/paymentCollectionTypes">
    <plnk:partnerLinkType name="CollectionRouter_PS">
        <plnk:role name="CollectionRouter_PSProvider" portType="tns:CollectionRouter_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCollectionTypes" schemaLocation="../XSD/getCollectionTypes.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/paymentCollectionTypes" schemaLocation="../XSD/paymentCollectionTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getCollection_inputMessage">
        <wsdl:part name="request" element="inp1:getCollectionRequest"/>
    </wsdl:message>
    <wsdl:message name="getCollection_outputMessage">
        <wsdl:part name="reply" element="inp1:getCollectionResponse"/>
    </wsdl:message>
    <wsdl:message name="paymentCollection_inputMessage">
        <wsdl:part name="request" element="inp2:paymentCollectionRequest"/>
    </wsdl:message>
    <wsdl:message name="paymentCollection_outputMessage">
        <wsdl:part name="reply" element="inp2:paymentCollectionResponse"/>
    </wsdl:message>
    <wsdl:portType name="CollectionRouter_PS_ptt">
        <wsdl:operation name="getCollection">
            <wsdl:input message="tns:getCollection_inputMessage"/>
            <wsdl:output message="tns:getCollection_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="paymentCollection">
            <wsdl:input message="tns:paymentCollection_inputMessage"/>
            <wsdl:output message="tns:paymentCollection_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CollectionRouter_PS_ptt-binding" type="tns:CollectionRouter_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCollection">
            <soap:operation soapAction="getCollection"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="paymentCollection">
            <soap:operation soapAction="paymentCollection"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>