Fuentes/ficohsacore-osb-7e5cceccb837/MWHostToHost/v1/Resources/Generales/xsd/genericTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/genericTypes"
    xmlns:gen="http://www.ficohsa.com.hn/middleware.services/genericTypes">
    
    <xs:simpleType name="yesNoType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="greaterThan0">
        <xs:restriction base="xs:integer">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="currencyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EUR"/>
			<xs:enumeration value="GTQ"/>
			<xs:enumeration value="HNL"/>
			<xs:enumeration value="NIC"/>
			<xs:enumeration value="USD"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
            
</xs:schema>