Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/SJS/consultaConsolidadaRiesgoClienteGT/xsd/sjConsultaConsolidadaRiesgoClienteGTTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaConsolidadaRiesgoClienteGTTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/sjConsultaConsolidadaRiesgoClienteGTTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="sjConsultaConsolidadaRiesgoClienteGT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="COUNTRY" type="xs:string" />
				<xs:element name="IDENTIFICATION" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sjConsultaConsolidadaRiesgoClienteGTResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RESPONSE_CODE" type="xs:integer"
					minOccurs="0" />
				<xs:element name="RESPONSE_MESSAGE" type="xs:string"
					minOccurs="0" />
				<xs:element name="APPLICANT_RESPONSE" type="tns:consultaSolicitanteResponse"
					minOccurs="0" />
				<xs:element name="LIABILITIES_RESPONSE" type="tns:consultaPasivosResponse"
					minOccurs="0" />
				<xs:element name="CARDS_RESPONSE" type="tns:consultaTarjetasResponse"
					minOccurs="0" />
				<xs:element name="LOANS_RESPONSE" type="tns:consultaPrestamosResponse"
					minOccurs="0" />
				<xs:element name="TRX_LIABILITIES_RESPONSE" type="tns:consultaTrxPasivosResponse"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="solicitanteType">
		<xs:sequence>
			<xs:element name="IDENTIFICATION" type="xs:string"
				minOccurs="0" />
			<xs:element name="CUSTOMER_SEGMENT" type="xs:string"
				minOccurs="0" />
			<xs:element name="BIRTH_DATE" type="xs:date" minOccurs="0" />
			<xs:element name="AGE" type="xs:integer" minOccurs="0" />
			<xs:element name="CUSTOMER_TYPE" type="xs:string"
				minOccurs="0" />
			<xs:element name="CUSTOMER_SALARY" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="FLAG_BLAZE" type="xs:string" minOccurs="0" />
			<xs:element name="PAYROLL_MONTH" type="xs:integer"
				minOccurs="0" />
			<xs:element name="PAYROLL_AMOUNT_LPS" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="LOAD_DATE" type="xs:date" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="consultaSolicitanteResponse">
		<xs:sequence>
			<xs:element name="RESPONSE_CODE" type="xs:integer"
				minOccurs="0" />
			<xs:element name="RESPONSE_MESSAGE" type="xs:string"
				minOccurs="0" />
			<xs:element name="APPLICANT" type="tns:solicitanteType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="liabilityType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"
				minOccurs="0" />
			<xs:element name="CATEGORY" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="OPEN_DATE" type="xs:date" minOccurs="0" />
			<xs:element name="CANCELLATION_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="CURRENT_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="END_OF_MONTH_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="AVERAGE_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="OPERATION_TYPE" type="xs:string"
				minOccurs="0" />
			<xs:element name="LOAD_DATE" type="xs:date" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="consultaPasivosResponse">
		<xs:sequence>
			<xs:element name="RESPONSE_CODE" type="xs:integer"
				minOccurs="0" />
			<xs:element name="RESPONSE_MESSAGE" type="xs:string"
				minOccurs="0" />
			<xs:element name="LIABILITIES" type="tns:liabilityType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cardType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"
				minOccurs="0" />
			<xs:element name="BEHAVIOR_SCORE" type="xs:integer"
				minOccurs="0" />
			<xs:element name="RATING_SCORE" type="xs:string"
				minOccurs="0" />
			<xs:element name="CUSTOMER_RATING_SCORE" type="xs:string"
				minOccurs="0" />
			<xs:element name="STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="AFFINITY_GROUP" type="xs:string"
				minOccurs="0" />
			<xs:element name="PRODUCT" type="xs:string" minOccurs="0" />
			<xs:element name="OPEN_DATE" type="xs:date" minOccurs="0" />
			<xs:element name="CANCELLATION_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="LAST_EXTRA_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="CURRENT_DELINQUENCY" type="xs:integer"
				minOccurs="0" />
			<xs:element name="CURRENT_LIMIT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="CURRENT_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="CUT_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="EXTRA_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="INTRA_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="EXTRA_INSTALLMENTS_ACTIVE" type="xs:integer"
				minOccurs="0" />
			<xs:element name="CASH_DISCOUNT_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="HISTORICAL_DELINQUENCY_LOC" type="xs:string"
				minOccurs="0" />
			<xs:element name="HISTORICAL_DELINQUENCY_USD" type="xs:string"
				minOccurs="0" />
			<xs:element name="WRITE_OFF_FLAG" type="xs:string"
				minOccurs="0" />
			<xs:element name="BLOCK_DATE_1" type="xs:date" minOccurs="0" />
			<xs:element name="BLOCK_DATE_2" type="xs:date" minOccurs="0" />
			<xs:element name="BLOCK_CODE_1" type="xs:string"
				minOccurs="0" />
			<xs:element name="BLOCK_CODE_2" type="xs:string"
				minOccurs="0" />
			<xs:element name="EXTRA_APPROVAL_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="INTRA_APPROVAL_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="PIL_APPROVAL_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="PREVIOUS_LIMIT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="AUTHORIZATION_BALANCE" type="xs:decimal"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="consultaTarjetasResponse">
		<xs:sequence>
			<xs:element name="RESPONSE_CODE" type="xs:integer"
				minOccurs="0" />
			<xs:element name="RESPONSE_MESSAGE" type="xs:string"
				minOccurs="0" />
			<xs:element name="CARDS" type="tns:cardType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="loanType">
		<xs:sequence>
			<xs:element name="CONTRACT_NUMBER" type="xs:integer"
				minOccurs="0" />
			<xs:element name="LOAN_NUMBER" type="xs:integer"
				minOccurs="0" />
			<xs:element name="AGENCY_CODE" type="xs:integer"
				minOccurs="0" />
			<xs:element name="SUBAPPLICATION_CODE" type="xs:integer"
				minOccurs="0" />
			<xs:element name="OPEN_DATE" type="xs:date" minOccurs="0" />
			<xs:element name="CANCELLATION_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="INITIAL_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="CURRENT_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="INSTALLMENT_VALUE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="RATE" type="xs:decimal" minOccurs="0" />
			<xs:element name="TERM" type="xs:integer" minOccurs="0" />
			<xs:element name="NUMBER_OF_INSTALLMENTS" type="xs:integer"
				minOccurs="0" />
			<xs:element name="FIRST_PRINCIPAL_PAYMENT_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="LAST_PAYMENT_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="INSTALLMENTS_PAID" type="xs:integer"
				minOccurs="0" />
			<xs:element name="PAYMENT_FREQUENCY" type="xs:integer"
				minOccurs="0" />
			<xs:element name="DESTINATION_CODE" type="xs:string"
				minOccurs="0" />
			<xs:element name="MONTHLY_PREMIUM" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="CHARGES" type="xs:decimal" minOccurs="0" />
			<xs:element name="GUARANTEE_TYPE_CODE" type="xs:integer"
				minOccurs="0" />
			<xs:element name="LOAN_TYPE_CODE" type="xs:integer"
				minOccurs="0" />
			<xs:element name="INTEREST" type="xs:decimal" minOccurs="0" />
			<xs:element name="CURRENT_PAST_DUE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="OTHER_CHARGES" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="INSURANCES" type="xs:decimal" minOccurs="0" />
			<xs:element name="DEBTOR_TYPE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="consultaPrestamosResponse">
		<xs:sequence>
			<xs:element name="RESPONSE_CODE" type="xs:integer"
				minOccurs="0" />
			<xs:element name="RESPONSE_MESSAGE" type="xs:string"
				minOccurs="0" />
			<xs:element name="LOANS" type="tns:loanType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="trxLiabilityType">
		<xs:sequence>
			<xs:element name="ACCOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="END_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="MAX_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="MIN_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="AVERAGE_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="LAST_CREDIT_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="NUMBER_OF_CREDITS" type="xs:integer"
				minOccurs="0" />
			<xs:element name="CREDITS_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="LAST_DEBIT_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="NUMBER_OF_DEBITS" type="xs:integer"
				minOccurs="0" />
			<xs:element name="DEBITS_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="NUMBER_INTERESTS_DEBITS" type="xs:integer"
				minOccurs="0" />
			<xs:element name="AMOUNT_INTERESTS_DEBITS" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="NUMBER_INTERESTS_CREDITS" type="xs:integer"
				minOccurs="0" />
			<xs:element name="AMOUNT_INTERESTS_CREDITS" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="FLAG_ACCOUNT_FACILITIES" type="xs:string"
				minOccurs="0" />
			<xs:element name="FLAG_LEGAL_REPRESENTATIVE" type="xs:string"
				minOccurs="0" />
			<xs:element name="FLAG_PAYROLL_ACCOUNT" type="xs:integer"
				minOccurs="0" />
			<xs:element name="PAYROLL_CREDITED_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="FLAG_JOINT_ACCOUNT" type="xs:string"
				minOccurs="0" />
			<xs:element name="FLAG_ACCOUNT_BLOCK" type="xs:string"
				minOccurs="0" />
			<xs:element name="END_OF_PERIOD_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="LOAD_DATE" type="xs:date" minOccurs="0" />
			<xs:element name="USER" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="consultaTrxPasivosResponse">
		<xs:sequence>
			<xs:element name="RESPONSE_CODE" type="xs:integer"
				minOccurs="0" />
			<xs:element name="RESPONSE_MESSAGE" type="xs:string"
				minOccurs="0" />
			<xs:element name="TRX_LIABILITIES" type="tns:loanType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>