Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/LineasCreditoRTN/xsd/LineasCreditoRTNTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/LineasCreditoRTNTypes"
	xmlns:urn="http://www.ficohsa.com.hn/middleware.services/LineasCreditoRTNTypes">

<xs:element name="LineasCreditoRTNRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DocumentType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DocumentNumber" type="xs:string" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
<xs:element name="LineasCreditoRTNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageError" type="xs:string" minOccurs="0"/>
        <xs:element name="CustomerId" type="xs:string" minOccurs="0"/>
        <xs:element name="CustomerName" type="xs:string" minOccurs="0"/>
        <xs:element name="CustomerCreditExposure" type="xs:string" minOccurs="0"/>
        <xs:element name="CreditLines" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CreditLine" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CreditLineCode" type="xs:string"/>
                    <xs:element name="CreditLineStatus" type="xs:string"/>
                    <xs:element name="CreditLineDescription" type="xs:string"/>
                    <xs:element name="CreditLineValue" type="xs:string"/>
                    <xs:element name="CurrentBalance" type="xs:string"/>
                    <xs:element name="AvailableAmount" type="xs:string"/>
                    <xs:element name="Destination" type="xs:string"/>
                    <xs:element name="ExpirationDate" type="xs:string"/>
                    <xs:element name="EconomicGroupCode" type="xs:string"/>
                    <xs:element name="DescriptionEconomicGroup" type="xs:string"/>
                    <xs:element name="DebtorsTpye" type="xs:string"/>
                    <xs:element name="SegmentType" type="xs:string"/>
                    <xs:element name="CurrencyType" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


</xs:schema>