Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultasCliente/consultaPasivosCliente/consultaTC/ConsultaTarjetaCreditoCliente.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="ConsultaTarjetaCreditoCliente" xmlns:con="ConsultaTarjetaCreditoCliente" elementFormDefault="qualified">

	<element name="ConsultaTarjetaCreditoTypeRequest" type="con:ConsultaTarjetaCreditoRqType"/>
	<element name="ConsultaTarjetaCreditoTypeResponse" type="con:ConsultaTarjetaCreditoRsType"/>

	<complexType name="ConsultaTarjetaCreditoRqType">
		<sequence>
			<element name="AUTHENTICATION" minOccurs="0" maxOccurs="1">
				<complexType>       
					<sequence>
						<element name="USERNAME" type="string" maxOccurs="unbounded" minOccurs="1"/>
						<element name="PASSWORD" type="string" maxOccurs="unbounded" minOccurs="1"/>
					</sequence>
				</complexType>   	
			</element> 
			<element name="PARAMETERS" minOccurs="0" maxOccurs="1">
				<complexType>       
					<sequence>
						<element name="CUSTOMERID" type="string" maxOccurs="unbounded" minOccurs="1"/>
					</sequence>
				</complexType>   	
			</element>
		</sequence>	
	</complexType>
	
	<complexType name="ConsultaTarjetaCreditoRsType">
		<sequence>
			<element name="OVERALL_SUCCESS_INDICATOR" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="CREDIT_CARD_DETAILS" type="con:ConsultaTarjetaCreditoRsRecordsType" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="ConsultaTarjetaCreditoRsRecordsType">
		<sequence>
			<element name="CREDIT_CARD_DETAIL" type="con:ConsultaTarjetaCreditoRsRecordType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<complexType name="ConsultaTarjetaCreditoRsRecordType">
		<sequence>
			<element name="RESPONSE_HEADER" minOccurs="0" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="SUCCESS_INDICATOR" type="string" minOccurs="1"></element>
					</sequence>
				</complexType>
			</element>
			<element name="RESPONSE_BODY" minOccurs="1" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="CARD_NUMBER" type="string" maxOccurs="unbounded" minOccurs="0"/>
						<element name="CARD_HOLDER_NAME" type="string" maxOccurs="unbounded" minOccurs="0"/>																	
						<element name="STATUS" type="string" maxOccurs="unbounded" minOccurs="0"/>
						<element name="CATEGORY" type="string" maxOccurs="unbounded" minOccurs="0"/>						
						<element name="LCY_MIN_PAYMENT" type="string" maxOccurs="unbounded" minOccurs="0"/>
						<element name="LCY_TOTAL_PAYMENT" type="string" maxOccurs="unbounded" minOccurs="0"/>
						<element name="FCY_MIN_PAYMENT" type="string" maxOccurs="unbounded" minOccurs="0"/>
						<element name="FCY_TOTAL_PAYMENT" type="string" maxOccurs="unbounded" minOccurs="0"/>    		
						<element name="CREDIT_LIMIT" type="string" maxOccurs="unbounded" minOccurs="0"/>
						<element name="CREDIT_LIMIT_CCY" type="string" maxOccurs="unbounded" minOccurs="0"/>
						<element name="POINTS_EARNED" type="string" maxOccurs="unbounded" minOccurs="0"/>
						<element name="MAX_PAYMENT_DATE" type="string" maxOccurs="unbounded" minOccurs="0"/>
						<element name="LAST_CUTOFF_DATE" type="string" maxOccurs="unbounded" minOccurs="0"/>    		
						<element name="BALANCE_DETAILS" type="con:ConsultaTarjetaCreditoBalancesType" maxOccurs="1" minOccurs="0"/>					
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="ConsultaTarjetaCreditoBalancesType">
		<sequence>    		
			<element name="BALANCE_DETAIL" type="con:ConsultaTarjetaCreditoBalanceType" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="ConsultaTarjetaCreditoBalanceType">
		<sequence>    		
			<element name="CURRENCY" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="OVERDUE_BALANCE" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="FLOATING_BALANCE" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="CURRENT_BALANCE" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="PURCHASES_LIMIT" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="WITHDRAWAL_LIMIT" type="string" maxOccurs="1" minOccurs="0"/>
			<element name="PAYMENTS_TODAY" type="string" maxOccurs="1" minOccurs="0"/>	
		</sequence>
	</complexType>

</schema>