Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/SJS/consultaPasivosCliente/xsd/sjConsultaPasivosCliente.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaPasivosCliente" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaPasivosCliente" elementFormDefault="qualified" >
	
	<xs:element name="sjConsultaPasivosClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" type="xs:string" />
				<xs:element name="PASSWORD" type="xs:string" />				
				<xs:element name="CUSTOMER_ID" type="xs:string" />
				<xs:element name="LEGAL_ID" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>		

	<xs:element name="sjConsultaPasivosClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="consultaPrestamosResponse" type="cons:consultaPasivoResponseType" minOccurs="0"></xs:element>
				<xs:element name="consultaTarjetaCreditoResponse" type="cons:consultaPasivoResponseType" minOccurs="0"></xs:element>
				<xs:element name="consultaLCRResponse" type="cons:consultaPasivoResponseType" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="consultaPasivoResponseType">
		<xs:sequence>
			<xs:element name="successIndicator" type="xs:string" minOccurs="0" />
			<xs:element name="messages" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="consultaPasivoResponseRecords" type="cons:consultaPasivoResponseRecordsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPasivoResponseRecordsType">
		<xs:sequence>
			<xs:element name="consultaPasivoResponseRecord" type="cons:consultaPasivoResponseRecordType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPasivoResponseRecordType">
		<xs:sequence>
			<xs:element name="LIABILITY_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_CUST_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_CURRENCY_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_PRINCIPAL_AMT_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_INT_COM_AMT_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_TOTAL_AMT_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_CURRENCY_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_PRINCIPAL_AMT_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_INT_COM_AMT_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_TOTAL_AMT_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_TOTAL_AMT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_PAYMENT_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_SOURCE_BANK" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_CANCELLATION_AMOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>