Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/CollectionConceptDistribution/XMLSchema_-288564345.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_K_DISTR_CPTOS_RECAUDOS/OSB_DISTRIBUIR_CONCEPTOS/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_K_DISTR_CPTOS_RECAUDOS/OSB_DISTRIBUIR_CONCEPTOS/">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_CONTRATO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_DEUDOR" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ID_TRANSACCION" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MONEDA_PAGO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MONTO_PAGO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TASA_COMPRA" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TASA_VENTA" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="INFO_FLINK" type="db:TDATA" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="INFO_MOREPARAM" type="db:TDATA" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_RESPUESTA" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_RESPUESTA" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TDATA">
      <sequence>
         <element name="DATA" type="db:DATA" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DATA">
      <sequence>
         <element name="NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VALUE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1000"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>