Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/tarjetasDebito/consultaTDCliente/consultaTDClienteTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTDClienteTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaTDClienteTypes">

	<xs:complexType name="consultaTDClienteResponse">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" />
			<xs:element name="consultaTDClienteResponseType" form="qualified"
				minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaTDClienteResponseRecordType"
							minOccurs="0" maxOccurs="unbounded" form="qualified">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CARD_NUMBER" type="xs:string"
										minOccurs="0" />
									<xs:element name="CARD_HOLDER_NAME" type="xs:string"
										minOccurs="0" />
									<xs:element name="CARD_CATEGORY" type="xs:string"
										minOccurs="0" />
								    <xs:element name="CARD_TYPE" type="xs:string" minOccurs="0"/>
			                        <xs:element name="ISSUE_DATE" type="xs:string" minOccurs="0"/>	
			                       <xs:element name="CARD_BRAND" type="xs:string" minOccurs="0"/>	
			                       <xs:element name="CARD_CURRENCY" type="xs:string" minOccurs="0"/>
			                       <xs:element name="CARD_ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaTDCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaTDClienteResponse" type="cons:consultaTDClienteResponse" />

</xs:schema>