Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ValidacionCuentaExterna/xsd/validacionCuentaExternaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/validacionCuentaExternaTypes"
	xmlns:trans="http://www.ficohsa.com.hn/middleware.services/validacionCuentaExternaTypes">


	<xs:complexType name="validacionCuentaExterna">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			<xs:element name="ACCOUNT_CURRENCY" type="xs:string"/>
			<xs:element name="PRODUCT_TYPE" type="xs:string"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CHECK_CANCELLED_YES_NO" type="xs:string"/>	
			<xs:element name="BANK_DETAILS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BANK" type="trans:BANK_DETAIL" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
			</xs:element>
		</xs:sequence>			
	</xs:complexType>
	
	
	<xs:complexType name="BANK_DETAIL">
        <xs:sequence>	            
	            <xs:element name="CODE_TYPE" type="xs:string"/>
	            <xs:element name="BANK_CODE" type="xs:string"/> 	            
        </xs:sequence>
   	</xs:complexType>	

	<xs:complexType name="validacionCuentaExternaResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ACCOUNT_STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="KV_PAIRS" type="trans:KVPairType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="KVPairType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="PAIR" type="trans:PairType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PairType">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string"/>
			<xs:element name="VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="validacionCuentaExterna" type="trans:validacionCuentaExterna" />

	<xs:element name="validacionCuentaExternaResponse" type="trans:validacionCuentaExternaResponse" />

</xs:schema>