Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/bloqueoPasivos/Resoruces/BloqueoPasivos.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_817496599.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_524093592.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Bloqueodepasivos">
<part name="parameters" element="tns:Bloqueodepasivos"/>
</message>
<message name="BloqueodepasivosResponse">
<part name="parameters" element="tns:BloqueodepasivosResponse"/>
</message>
<message name="Bloqueodepasivos_Validate">
<part name="parameters" element="tns:Bloqueodepasivos_Validate"/>
</message>
<message name="Bloqueodepasivos_ValidateResponse">
<part name="parameters" element="tns:Bloqueodepasivos_ValidateResponse"/>
</message>
<message name="Desbloqueodefondosdepasivos">
<part name="parameters" element="tns:Desbloqueodefondosdepasivos"/>
</message>
<message name="DesbloqueodefondosdepasivosResponse">
<part name="parameters" element="tns:DesbloqueodefondosdepasivosResponse"/>
</message>
<message name="Autorizadesbloqfondosdepasivos">
<part name="parameters" element="tns:Autorizadesbloqfondosdepasivos"/>
</message>
<message name="AutorizadesbloqfondosdepasivosResponse">
<part name="parameters" element="tns:AutorizadesbloqfondosdepasivosResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Bloqueodepasivos">
<input message="tns:Bloqueodepasivos"/>
<output message="tns:BloqueodepasivosResponse"/>
</operation>
<operation name="Bloqueodepasivos_Validate">
<input message="tns:Bloqueodepasivos_Validate"/>
<output message="tns:Bloqueodepasivos_ValidateResponse"/>
</operation>
<operation name="Desbloqueodefondosdepasivos">
<input message="tns:Desbloqueodefondosdepasivos"/>
<output message="tns:DesbloqueodefondosdepasivosResponse"/>
</operation>
<operation name="Autorizadesbloqfondosdepasivos">
<input message="tns:Autorizadesbloqfondosdepasivos"/>
<output message="tns:AutorizadesbloqfondosdepasivosResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Bloqueodepasivos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Bloqueodepasivos_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Desbloqueodefondosdepasivos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Autorizadesbloqfondosdepasivos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwinterbanca:7003/svcBloqueoPasivos/services"/>
</port>
</service>
</definitions>