Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/bloqueoPasivos/Resoruces/XMLSchema_524093592.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Autorizadesbloqfondosdepasivos" type="tns:Autorizadesbloqfondosdepasivos"/>

<xs:element name="AutorizadesbloqfondosdepasivosResponse" type="tns:AutorizadesbloqfondosdepasivosResponse"/>

<xs:element name="Bloqueodepasivos" type="tns:Bloqueodepasivos"/>

<xs:element name="BloqueodepasivosResponse" type="tns:BloqueodepasivosResponse"/>

<xs:element name="Bloqueodepasivos_Validate" type="tns:Bloqueodepasivos_Validate"/>

<xs:element name="Bloqueodepasivos_ValidateResponse" type="tns:Bloqueodepasivos_ValidateResponse"/>

<xs:element name="Desbloqueodefondosdepasivos" type="tns:Desbloqueodefondosdepasivos"/>

<xs:element name="DesbloqueodefondosdepasivosResponse" type="tns:DesbloqueodefondosdepasivosResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="ACLOCKEDEVENTSINPUTWSType">
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="FROMDATE" type="xs:string" minOccurs="0"/>
<xs:element name="TODATE" type="xs:string" minOccurs="0"/>
<xs:element name="LOCKEDAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="MERCHANTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CARDCOMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITCARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="LOCKREFERENCENO" type="xs:string" minOccurs="0"/>
<xs:element name="LOCKMOTIVE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="ACLOCKEDEVENTSType">
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="FROMDATE" type="xs:string" minOccurs="0"/>
<xs:element name="TODATE" type="xs:string" minOccurs="0"/>
<xs:element name="LOCKEDAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED10" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED7" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED1" type="xs:string" minOccurs="0"/>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHEQNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRTXNREF" type="xs:string" minOccurs="0"/>
<xs:element name="LRSTNOTES" type="xs:string" minOccurs="0"/>
<xs:element name="LRMERCHANTTYP" type="xs:string" minOccurs="0"/>
<xs:element name="LRBIN" type="xs:string" minOccurs="0"/>
<xs:element name="CARDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRBILLINGCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRCCY" type="xs:string" minOccurs="0"/>
<xs:element name="PANNO" type="xs:string" minOccurs="0"/>
<xs:element name="ATUNIQUEID" type="xs:string" minOccurs="0"/>
<xs:element name="NATUREOFTXN" type="xs:string" minOccurs="0"/>
<xs:element name="BALAFTTXN" type="xs:string" minOccurs="0"/>
<xs:element name="ATAUTHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="ATMMERCHANTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRTXNSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="LRTXNAMOUNT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="Bloqueodepasivos">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="ACLOCKEDEVENTSINPUTWSType" type="tns:ACLOCKEDEVENTSINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BloqueodepasivosResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="ACLOCKEDEVENTSType" type="tns:ACLOCKEDEVENTSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Autorizadesbloqfondosdepasivos">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="ACLOCKEDEVENTSINPUTWSType" type="tns:transactionId" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transactionId">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AutorizadesbloqfondosdepasivosResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="ACLOCKEDEVENTSType" type="tns:ACLOCKEDEVENTSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Bloqueodepasivos_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="ACLOCKEDEVENTSINPUTWSType" type="tns:ACLOCKEDEVENTSINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Bloqueodepasivos_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="ACLOCKEDEVENTSType" type="tns:ACLOCKEDEVENTSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Desbloqueodefondosdepasivos">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="ACLOCKEDEVENTSINPUTWSType" type="tns:transactionId" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DesbloqueodefondosdepasivosResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="ACLOCKEDEVENTSType" type="tns:ACLOCKEDEVENTSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>