Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ProcesaMensajeGenericoEnviadoSwitch/xsd/procesaMensajeGenericoEnviadoSwitchTypes.xsd

<xs:schema 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/procesaMensajeGenericoEnviadoSwitchTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/procesaMensajeGenericoEnviadoSwitchTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<!-- messageDataType -->
	
	<xs:complexType name="messageDataType">
		<xs:sequence>
			<xs:element name="MESSAGE_DATA_ITEM" type="tns:messageDataItemType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- messageDataItemType -->
	
	<xs:complexType name="messageDataItemType">
		<xs:sequence>
			<xs:element name="MTI" type="xs:string" />
			<xs:element name="PROCESSING_CODE" type="xs:string" />
			<xs:element name="AQ_INST_ID_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="FWD_INST_ID_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="TERMINAL_ID" type="xs:string" minOccurs="0" />
			<xs:element name="HEADER_MESSAGE_DETAILS" type="tns:messageDetailType" minOccurs="0" />
			<xs:element name="BODY_MESSAGE_DETAILS" type="tns:messageDetailType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- messageDetailType -->
	
	<xs:complexType name="messageDetailType">
		<xs:sequence>
			<xs:element name="ITEM" type="tns:itemType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- itemType -->
	
	<xs:complexType name="itemType">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string" />
			<xs:element name="VALUE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- messageDataResponseType -->
	
	<xs:complexType name="messageDataResponseType">
		<xs:sequence>
			<xs:element name="MESSAGE_DATA_ITEM" type="tns:messageDataItemResponseType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<!-- messageDataItemResponseType -->
	
	<xs:complexType name="messageDataItemResponseType">
		<xs:sequence>
			<xs:element name="HEADER_MESSAGE_DETAILS" type="tns:messageDetailResponseType" minOccurs="0" />
			<xs:element name="BODY_MESSAGE_DETAILS" type="tns:messageDetailResponseType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- messageDetailResponseType -->
	
	<xs:complexType name="messageDetailResponseType">
		<xs:sequence>
			<xs:element name="ITEM" type="tns:itemResponseType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
		
	<!-- itemResponseType -->
	
	<xs:complexType name="itemResponseType">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string" />
			<xs:element name="VALUE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<!--################################################### -->
	<!-- OPERATION: PROCESA MENSAJE GENERICO ENVIADO SWITCH -->
	<!--################################################### -->
	
	<xs:element name="procesaMensajeGenericoEnviadoSwitch">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MESSAGE_DATA" type="tns:messageDataType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="procesaMensajeGenericoEnviadoSwitchResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MESSAGE_DATA" type="tns:messageDataResponseType" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>