Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/remesas/ConsultaRemesas/consultaRemesasTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaRemesasTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaRemesasTypes">
	
	<xs:complexType name = "consultaRemesasResponseArrayType">
		<xs:sequence>
		    <xs:element name="REMITTANCE_ID" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTER_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_AMOUNT" type="xs:string" minOccurs="0" />
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaRemesasResponseRecordType">
		<xs:sequence>
				<xs:element name="consultaRemesasResponseRecordType" type="cons:consultaRemesasResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="consultaRemesasResponseType">
		<xs:sequence>
			<xs:element name="consultaRemesasResponseType" type="cons:consultaRemesasResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:element name="consultaRemesas">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="REMITTANCE_ID" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTER_NAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaRemesasResponse" type="cons:consultaRemesasResponseType" />
	
</xs:schema>