Fuentes/ficohsacore-osb12-b78f21b126d5/CustomerRelationshipManagement/RequestorServices/v1.0/Salesforce/LoginSalesforce/XSD/LoginSalesforceTypes.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org"
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/loginSalesForceTypes"
            xmlns:lsf="http://www.ficohsa.com.hn/middleware.services/loginSalesForceTypes"
            xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" elementFormDefault="qualified">
  <xsd:import schemaLocation="../../../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="loginSalesforceRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
            <xsd:element name="SalesforceInfo" type="lsf:SalesforceInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="loginSalesforceResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" type="dtt:StatusInfoType"/>
            <xsd:element name="SalesforceInfo" type="lsf:SalesforceInfoType"/>
            <xsd:element name="ErrorInfo" type="dtt:ErrorInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
  <xsd:complexType name='SalesforceInfoType'>
     <xsd:sequence>
        <xsd:element name="ForceNewSession" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Username" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Password" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Session" type="xsd:string" minOccurs="0"/>
     </xsd:sequence>
  </xsd:complexType>
</xsd:schema>