Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultasCarteraCrediticia/wsdl/consultasCarteraCrediticiaPS.wsdl

<wsdl:definitions name="consultasCarteraCrediticiaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultasCarteraCrediticiaPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultasCarteraCrediticiaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:alt="http://www.ficohsa.com.hn/middleware.services/ConsultasCarteraCrediticia" xmlns:tns="http://www.bea.com/wli/sb/stages/transform/config">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/ConsultasCarteraCrediticia" schemaLocation="../xsd/consultasCarteraCrediticiaTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestHeader">
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="responseHeader">
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
     
    <wsdl:message name="consultaProductosMoraRequest">
        <wsdl:part element="alt:consultaProductosMoraRequest" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="consultaProductosMoraResponse">
        <wsdl:part element="alt:consultaProductosMoraResponse" name="result"/>
    </wsdl:message>
     
    <wsdl:message name="consultaDetalleMoraTCRequest">
        <wsdl:part element="alt:consultaDetalleMoraTCRequest" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="consultaDetalleMoraTCResponse">
        <wsdl:part element="alt:consultaDetalleMoraTCResponse" name="result"/>
    </wsdl:message>
     
    <wsdl:message name="consultaDetalleMoraPrestamoRequest">
        <wsdl:part element="alt:consultaDetalleMoraPrestamoRequest" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="consultaDetalleMoraPrestamoResponse">
        <wsdl:part element="alt:consultaDetalleMoraPrestamoResponse" name="result"/>
    </wsdl:message>
     
    <wsdl:message name="consultaOpcionesPagoRequest">
        <wsdl:part element="alt:consultaOpcionesPagoRequest" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="consultaOpcionesPagoResponse">
        <wsdl:part element="alt:consultaOpcionesPagoResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:portType name="consultasCarteraCrediticiaPS">
        <wsdl:operation name="consultaProductosMora" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaProductosMoraRequest"/>
            <wsdl:output message="fic:consultaProductosMoraResponse"/>
        </wsdl:operation>
        <wsdl:operation name="consultaDetalleMoraTC" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaDetalleMoraTCRequest"/>
            <wsdl:output message="fic:consultaDetalleMoraTCResponse"/>
        </wsdl:operation>
        <wsdl:operation name="consultaDetalleMoraPrestamo" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaDetalleMoraPrestamoRequest"/>
            <wsdl:output message="fic:consultaDetalleMoraPrestamoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="consultaOpcionesPago" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaOpcionesPagoRequest"/>
            <wsdl:output message="fic:consultaOpcionesPagoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="consultasCarteraCrediticiaPSSOAP" type="fic:consultasCarteraCrediticiaPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultaProductosMora">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultasCarteraCrediticiaPS/consultaProductosMora"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaDetalleMoraTC">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultasCarteraCrediticiaPS/consultaDetalleMoraTC"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaDetalleMoraPrestamo">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultasCarteraCrediticiaPS/consultaDetalleMoraPrestamo"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaOpcionesPago">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultasCarteraCrediticiaPS/consultaOpcionesPago"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="consultasCarteraCrediticiaPS">
        <wsdl:port binding="fic:consultasCarteraCrediticiaPSSOAP" name="consultasCarteraCrediticiaPSSOAP">
           <soap:address location="https://172.23.13.19:8004/Middleware/CarteraCrediticia/ConsultasCarteraCrediticia"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>