Fuentes/ficohsacore-osb12-b78f21b126d5/RulesManagement/ProviderServices/WSDL/GetCustomerOffers/RuleServiceDefinitionOriginacionesGTService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://package.name.in.reverse.order" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="RuleServiceDefinitionOriginacionesGTService"
                  targetNamespace="http://package.name.in.reverse.order">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://package.name.in.reverse.order"
               attributeFormDefault="unqualified" elementFormDefault="unqualified"
               targetNamespace="http://package.name.in.reverse.order">
      <xs:element name="destroy" type="tns:destroy"/>
      <xs:element name="destroyResponse" type="tns:destroyResponse"/>
      <xs:element name="epOriginacionesGuatemala" type="tns:epOriginacionesGuatemala"/>
      <xs:element name="epOriginacionesGuatemalaResponse" type="tns:epOriginacionesGuatemalaResponse"/>
      <xs:element name="init" type="tns:init"/>
      <xs:element name="initResponse" type="tns:initResponse"/>
      <xs:complexType name="epOriginacionesGuatemala">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:solicitante"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="solicitante">
        <xs:sequence>
          <xs:element minOccurs="0" name="accion" type="tns:accion"/>
          <xs:element minOccurs="0" name="antiguedadMinimaTarjeta" type="xs:string"/>
          <xs:element minOccurs="0" name="canalDeVenta" type="xs:string"/>
          <xs:element minOccurs="0" name="cargo" type="xs:string"/>
          <xs:element name="codigoTipoCliente" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="consultasTuca" nillable="true"
                      type="tns:consultasTuca"/>
          <xs:element minOccurs="0" name="destino" type="xs:string"/>
          <xs:element minOccurs="0" name="fechaActual" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaInicioLaboral" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="genero" type="xs:string"/>
          <xs:element minOccurs="0" name="identidad" type="xs:string"/>
          <xs:element minOccurs="0" name="naturalezaProducto" type="xs:string"/>
          <xs:element minOccurs="0" name="noSolicitud" type="xs:string"/>
          <xs:element minOccurs="0" name="numeroEvaluacionSirc" type="xs:string"/>
          <xs:element minOccurs="0" name="numeroEvaluacionTuca" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="oferta" nillable="true" type="tns:oferta"/>
          <xs:element name="otrosIngresos" type="xs:float"/>
          <xs:element minOccurs="0" name="poseeConsultasTUCA" type="xs:string"/>
          <xs:element minOccurs="0" name="poseePavisos" type="xs:string"/>
          <xs:element minOccurs="0" name="poseePrestamo" type="xs:string"/>
          <xs:element minOccurs="0" name="poseeReferenciasSIRC" type="xs:string"/>
          <xs:element minOccurs="0" name="poseeReferenciasTUCA" type="xs:string"/>
          <xs:element minOccurs="0" name="poseeTarjeta" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="prestamo" nillable="true" type="tns:prestamo"/>
          <xs:element name="prioridadSegmentoCliente" type="xs:int"/>
          <xs:element minOccurs="0" name="rechazoTarjeta" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="referenciasSirc" nillable="true"
                      type="tns:referenciasSirc"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="referenciasTuca" nillable="true"
                      type="tns:referenciasTuca"/>
          <xs:element name="salarioBuro" type="xs:float"/>
          <xs:element name="salarioNeto" type="xs:float"/>
          <xs:element minOccurs="0" name="score" type="tns:score"/>
          <xs:element name="scoreBuro" type="xs:float"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="tarjeta" nillable="true" type="tns:tarjeta"/>
          <xs:element name="tiempoResidenciaActual" type="xs:int"/>
          <xs:element name="tipoCambio" type="xs:float"/>
          <xs:element minOccurs="0" name="tipoCliente" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoEmpleo" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoIdentificacion" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoReferencia" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoTrabajo" type="xs:string"/>
          <xs:element minOccurs="0" name="tipodeVivienda" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accion">
        <xs:sequence>
          <xs:element minOccurs="0" name="calificacionBuro" type="xs:string"/>
          <xs:element name="cantidadDePrestamosInternos" type="xs:int"/>
          <xs:element name="cantidadDeReferencias" type="xs:int"/>
          <xs:element name="cantidadVecesMora6012M" type="xs:int"/>
          <xs:element name="cantidadVecesMora606M" type="xs:int"/>
          <xs:element name="cantidadVecesMora9012M" type="xs:int"/>
          <xs:element name="cuotasFicohsa" type="xs:float"/>
          <xs:element name="cuotasMercado" type="xs:float"/>
          <xs:element name="experienciaCrediticia" type="xs:int"/>
          <xs:element name="exposicionActualLOC" type="xs:float"/>
          <xs:element name="exposicionActualUSD" type="xs:float"/>
          <xs:element name="exposicionGlobal" type="xs:float"/>
          <xs:element name="moraMaxima" type="xs:int"/>
          <xs:element minOccurs="0" name="nivelRiesgoExterno" type="xs:string"/>
          <xs:element minOccurs="0" name="nivelRiesgoTarjetaCredito" type="xs:string"/>
          <xs:element name="niveldeEndeudamientoActual" type="xs:float"/>
          <xs:element name="niveldeEndeudamientoFinal" type="xs:float"/>
          <xs:element name="RCIFinal" type="xs:float"/>
          <xs:element name="RCIMax" type="xs:float"/>
          <xs:element name="referenciasDeCastigo" type="xs:int"/>
          <xs:element name="riesgoTotal" type="xs:float"/>
          <xs:element name="saldoEnMora" type="xs:float"/>
          <xs:element name="scoreTarjetadeCredito" type="xs:float"/>
          <xs:element minOccurs="0" name="segmentoCliente" type="xs:string"/>
          <xs:element name="sobregiroEnTarjetaDeCredito" type="xs:float"/>
          <xs:element minOccurs="0" name="subSegmentoCliente" type="xs:string"/>
          <xs:element name="totalCuotas" type="xs:float"/>
          <xs:element name="totalSaldoExtrafinanciamiento" type="xs:float"/>
          <xs:element name="totalSaldoPrestamo" type="xs:float"/>
          <xs:element name="totalSaldoTarjetas" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="consultasTuca">
        <xs:sequence>
          <xs:element name="daysSinceInquiry" type="xs:int"/>
          <xs:element minOccurs="0" name="fechaConsulta" type="xs:dateTime"/>
          <xs:element name="inquiry" type="xs:int"/>
          <xs:element name="monthsSinceInquiry" type="xs:int"/>
          <xs:element minOccurs="0" name="motivo" type="xs:string"/>
          <xs:element name="tipoConsulta" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oferta">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoProducto" type="xs:string"/>
          <xs:element name="cuota" type="xs:float"/>
          <xs:element name="cuotaNDE" type="xs:float"/>
          <xs:element name="cuotaRCINONP2C" type="xs:float"/>
          <xs:element name="cuotaRCIP2C" type="xs:float"/>
          <xs:element name="monto108" type="xs:float"/>
          <xs:element name="monto12" type="xs:float"/>
          <xs:element name="monto120" type="xs:float"/>
          <xs:element name="monto18" type="xs:float"/>
          <xs:element name="monto24" type="xs:float"/>
          <xs:element name="monto36" type="xs:float"/>
          <xs:element name="monto48" type="xs:float"/>
          <xs:element name="monto60" type="xs:float"/>
          <xs:element name="monto72" type="xs:float"/>
          <xs:element name="monto84" type="xs:float"/>
          <xs:element name="monto96" type="xs:float"/>
          <xs:element name="montoMEG" type="xs:float"/>
          <xs:element name="montoMax" type="xs:float"/>
          <xs:element name="montoNDE" type="xs:float"/>
          <xs:element name="montoNONP2C" type="xs:float"/>
          <xs:element name="montoP2C" type="xs:float"/>
          <xs:element name="montoRCI" type="xs:float"/>
          <xs:element name="montoTimesIncome" type="xs:float"/>
          <xs:element name="ofertaMax" type="xs:float"/>
          <xs:element name="RCI" type="xs:float"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="resolucion" nillable="true" type="tns:resolucion"/>
          <xs:element name="tasa" type="xs:float"/>
          <xs:element name="timesIncome" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resolucion">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoResolucion" type="xs:string"/>
          <xs:element minOccurs="0" name="descripcion" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="prestamo">
        <xs:sequence>
          <xs:element name="cantidadCuotasPagadas" type="xs:int"/>
          <xs:element name="cargos" type="xs:float"/>
          <xs:element minOccurs="0" name="codigo1" type="xs:string"/>
          <xs:element minOccurs="0" name="codigo2" type="xs:string"/>
          <xs:element name="codigoAgencia" type="xs:int"/>
          <xs:element name="codigoDestino" type="xs:int"/>
          <xs:element name="codigoSubAplicacion" type="xs:int"/>
          <xs:element name="codigotipogarantia" type="xs:int"/>
          <xs:element name="codigotipoprestamo" type="xs:int"/>
          <xs:element minOccurs="0" name="fechaApertura" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaCancelacion" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaPrimerPagoCapital" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaUltimoPago" type="xs:dateTime"/>
          <xs:element name="frecuenciaCapital" type="xs:int"/>
          <xs:element minOccurs="0" name="identidad" type="xs:string"/>
          <xs:element name="interes" type="xs:float"/>
          <xs:element name="montoInicial" type="xs:float"/>
          <xs:element name="moraActual" type="xs:int"/>
          <xs:element minOccurs="0" name="numeroCuenta" type="xs:string"/>
          <xs:element name="numeroCuotas" type="xs:int"/>
          <xs:element name="numeroPrestamo" type="xs:int"/>
          <xs:element name="numerocontrato" type="xs:int"/>
          <xs:element name="otrosCargos" type="xs:float"/>
          <xs:element name="plazo" type="xs:int"/>
          <xs:element name="primaMensual" type="xs:int"/>
          <xs:element name="saldoActual" type="xs:float"/>
          <xs:element name="seguros" type="xs:float"/>
          <xs:element name="tasa" type="xs:float"/>
          <xs:element minOccurs="0" name="tipoDeudor" type="xs:string"/>
          <xs:element name="valorCuota" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="referenciasSirc">
        <xs:sequence>
          <xs:element name="antiguedadCancelacionReferencia" type="xs:int"/>
          <xs:element name="antiguedadReferencia" type="xs:int"/>
          <xs:element name="balance" type="xs:float"/>
          <xs:element name="capitalOriginal" type="xs:float"/>
          <xs:element minOccurs="0" name="categoria" type="xs:string"/>
          <xs:element minOccurs="0" name="comportamiento" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="comportamientoArray" nillable="true" type="xs:string"/>
          <xs:element name="creditLimit" type="xs:float"/>
          <xs:element name="creditLimitUSD" type="xs:float"/>
          <xs:element name="cuota" type="xs:float"/>
          <xs:element name="cuotaVencida" type="xs:float"/>
          <xs:element minOccurs="0" name="entidad" type="xs:string"/>
          <xs:element minOccurs="0" name="estado" type="xs:string"/>
          <xs:element minOccurs="0" name="estadoCredito" type="xs:string"/>
          <xs:element minOccurs="0" name="fechaActivo" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaCancelacion" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaConcesion" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime"/>
          <xs:element name="flagDateNumeric" type="xs:int"/>
          <xs:element name="largoCadena" type="xs:int"/>
          <xs:element minOccurs="0" name="moneda" type="xs:string"/>
          <xs:element name="monthsSinceDateReported" type="xs:int"/>
          <xs:element minOccurs="0" name="numeroEvaluacionSirc" type="xs:string"/>
          <xs:element name="paymentHistoryAllAlphas" type="xs:int"/>
          <xs:element name="plazo" type="xs:int"/>
          <xs:element name="prioridadSegmentoReferencia" type="xs:int"/>
          <xs:element minOccurs="0" name="referencia" type="xs:string"/>
          <xs:element name="referenciaCancelada" type="xs:int"/>
          <xs:element minOccurs="0" name="referenciaTop5" type="xs:string"/>
          <xs:element minOccurs="0" name="referenciaValida" type="xs:string"/>
          <xs:element name="referenciaVigente" type="xs:int"/>
          <xs:element name="saldoCapital" type="xs:float"/>
          <xs:element name="tarjetaFicohsa" type="xs:int"/>
          <xs:element name="tasa" type="xs:float"/>
          <xs:element minOccurs="0" name="tipoActivo" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoGarantia" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoReferencia" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoReferenciaExterna" type="xs:string"/>
          <xs:element name="vencido" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="referenciasTuca">
        <xs:sequence>
          <xs:element name="antiguedad" type="xs:int"/>
          <xs:element name="antiguedadCancelacion" type="xs:int"/>
          <xs:element name="balance" type="xs:float"/>
          <xs:element minOccurs="0" name="calificacion" type="xs:string"/>
          <xs:element name="codigoObligacion" type="xs:int"/>
          <xs:element minOccurs="0" name="comportamiento" type="xs:string"/>
          <xs:element name="cuota" type="xs:float"/>
          <xs:element name="cuotaVencida" type="xs:float"/>
          <xs:element minOccurs="0" name="entidad" type="xs:string"/>
          <xs:element minOccurs="0" name="estadoCredito" type="xs:string"/>
          <xs:element minOccurs="0" name="estatus" type="xs:string"/>
          <xs:element name="externalScore" type="xs:float"/>
          <xs:element minOccurs="0" name="fechaActualizacion" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaApertura" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime"/>
          <xs:element name="flagDateNumeric" type="xs:int"/>
          <xs:element name="IDEvaluacion" type="xs:int"/>
          <xs:element name="largoCadena" type="xs:int"/>
          <xs:element name="limiteCredito" type="xs:float"/>
          <xs:element minOccurs="0" name="moneda" type="xs:string"/>
          <xs:element name="monthsSinceDateROpened" type="xs:int"/>
          <xs:element name="monthsSinceDateReported" type="xs:int"/>
          <xs:element minOccurs="0" name="numeroEvaluacionTuca" type="xs:string"/>
          <xs:element name="openTradeLine" type="xs:int"/>
          <xs:element minOccurs="0" name="periodo" type="xs:string"/>
          <xs:element minOccurs="0" name="periodoPago" type="xs:string"/>
          <xs:element minOccurs="0" name="referencia" type="xs:string"/>
          <xs:element name="referenciaCancelada" type="xs:int"/>
          <xs:element name="referenciaVigente" type="xs:int"/>
          <xs:element name="saldoActual" type="xs:float"/>
          <xs:element name="saldoCastigo" type="xs:float"/>
          <xs:element name="saldoEjecucion" type="xs:float"/>
          <xs:element name="saldoMora" type="xs:float"/>
          <xs:element name="saldoVencido" type="xs:float"/>
          <xs:element name="sameAccount" type="xs:int"/>
          <xs:element minOccurs="0" name="sectorObligacion" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
          <xs:element name="status30" type="xs:int"/>
          <xs:element name="status60" type="xs:int"/>
          <xs:element name="statusBypass" type="xs:int"/>
          <xs:element name="statusCollection" type="xs:int"/>
          <xs:element name="statusInactive" type="xs:int"/>
          <xs:element name="statusUnknownDelinquency" type="xs:int"/>
          <xs:element name="tarjetaFicohsa" type="xs:int"/>
          <xs:element minOccurs="0" name="tipoActivo" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoGarantia" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoObligacion" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoReferencia" type="xs:string"/>
          <xs:element name="tradeLine" type="xs:int"/>
          <xs:element name="typeInstallment" type="xs:int"/>
          <xs:element name="typeNonCredit" type="xs:int"/>
          <xs:element name="typeRevolving" type="xs:int"/>
          <xs:element name="typeTelecommunications" type="xs:int"/>
          <xs:element name="ultMovAnio" type="xs:int"/>
          <xs:element name="ultMovMes" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="score">
        <xs:sequence>
          <xs:element name="antiguedadLaboral" type="xs:int"/>
          <xs:element name="averageMonthsExclTelcoAndStudent" type="xs:int"/>
          <xs:element minOccurs="0" name="calificacionRiesgo" type="xs:string"/>
          <xs:element name="canceladosContraReservaSIRC" type="xs:int"/>
          <xs:element name="clientesUnificadosSIRC" type="xs:int"/>
          <xs:element name="creditosCanceladosDirectosSIRC" type="xs:int"/>
          <xs:element name="creditosCanceladosSIRC" type="xs:int"/>
          <xs:element name="creditosVigentesDirectosSIRC" type="xs:int"/>
          <xs:element name="creditosVigentesIndirectosSIRC" type="xs:int"/>
          <xs:element name="flagHit" type="xs:int"/>
          <xs:element name="flagHitSinRefs" type="xs:int"/>
          <xs:element name="flagNoHit" type="xs:int"/>
          <xs:element name="flagSirc" type="xs:int"/>
          <xs:element name="netFractionRevolvingBurden" type="xs:int"/>
          <xs:element minOccurs="0" name="nivelRiesgo" type="xs:string"/>
          <xs:element name="numberInquiries5MonthsExcludingLast7Days" type="xs:int"/>
          <xs:element name="numberInstallmentTadreLines" type="xs:int"/>
          <xs:element name="numberInstallmentTadreLinesSIRC" type="xs:int"/>
          <xs:element name="numberRevolvingTadreLines" type="xs:int"/>
          <xs:element name="numberRevolvingTadreLinesSIRC" type="xs:int"/>
          <xs:element name="numberTradeLines60EverAndOrCollections" type="xs:int"/>
          <xs:element name="numberTradeLines60EverSIRC" type="xs:int"/>
          <xs:element name="percentageTradeLinesNeverDelinquent" type="xs:int"/>
          <xs:element name="score" type="xs:float"/>
          <xs:element name="var1" type="xs:float"/>
          <xs:element name="var10" type="xs:float"/>
          <xs:element name="var11" type="xs:float"/>
          <xs:element name="var12" type="xs:float"/>
          <xs:element name="var13" type="xs:float"/>
          <xs:element name="var14" type="xs:float"/>
          <xs:element name="var15" type="xs:float"/>
          <xs:element name="var2" type="xs:float"/>
          <xs:element name="var3" type="xs:float"/>
          <xs:element name="var4" type="xs:float"/>
          <xs:element name="var5" type="xs:float"/>
          <xs:element name="var6" type="xs:float"/>
          <xs:element name="var7" type="xs:float"/>
          <xs:element name="var8" type="xs:float"/>
          <xs:element name="var9" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tarjeta">
        <xs:sequence>
          <xs:element name="antiguedad" type="xs:int"/>
          <xs:element name="behaviorScore" type="xs:float"/>
          <xs:element minOccurs="0" name="bloqueoPlastico" type="xs:string"/>
          <xs:element minOccurs="0" name="calificacionScore" type="xs:string"/>
          <xs:element minOccurs="0" name="calificacionScoreCliente" type="xs:string"/>
          <xs:element name="cashSaneado" type="xs:float"/>
          <xs:element minOccurs="0" name="codbloqueo1" type="xs:string"/>
          <xs:element minOccurs="0" name="codbloqueo2" type="xs:string"/>
          <xs:element name="diponibleCompras" type="xs:float"/>
          <xs:element minOccurs="0" name="estado" type="xs:string"/>
          <xs:element minOccurs="0" name="estadoSaneado" type="xs:string"/>
          <xs:element minOccurs="0" name="fechaApertura" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaBloqueo1" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaBloqueo2" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaLimite" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaMaximaPago" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaSaneado" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaUltimoAdelanto" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaUltimoConsumo" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaUltimoLimite" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaUltimoPago" type="xs:dateTime"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="gestiones" nillable="true" type="tns:gestiones"/>
          <xs:element name="limite" type="xs:float"/>
          <xs:element name="limitePrevio" type="xs:float"/>
          <xs:element name="logo" type="xs:int"/>
          <xs:element minOccurs="0" name="miscUser3" type="xs:string"/>
          <xs:element name="moraActual" type="xs:int"/>
          <xs:element name="morosidadVida120" type="xs:int"/>
          <xs:element name="morosidadVida150" type="xs:int"/>
          <xs:element name="morosidadVida180" type="xs:int"/>
          <xs:element name="morosidadVida210" type="xs:int"/>
          <xs:element name="morosidadVida29" type="xs:int"/>
          <xs:element name="morosidadVida30" type="xs:int"/>
          <xs:element name="morosidadVida60" type="xs:int"/>
          <xs:element name="morosidadVida90" type="xs:int"/>
          <xs:element minOccurs="0" name="numeroCuenta" type="xs:string"/>
          <xs:element name="ofertaExtra" type="xs:float"/>
          <xs:element name="ofertaPilTurbo" type="xs:float"/>
          <xs:element name="ofertaSegundaCuenta" type="xs:float"/>
          <xs:element name="org" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="planesTarjeta" nillable="true"
                      type="tns:planesTarjeta"/>
          <xs:element minOccurs="0" name="rechazos" type="xs:string"/>
          <xs:element minOccurs="0" name="rechazosPilTurbo" type="xs:string"/>
          <xs:element name="saldoActual" type="xs:float"/>
          <xs:element name="saldoCorte" type="xs:float"/>
          <xs:element name="saldoSaneado" type="xs:float"/>
          <xs:element name="saldoTotal" type="xs:float"/>
          <xs:element name="stateIssue" type="xs:int"/>
          <xs:element name="tasaExtra" type="xs:float"/>
          <xs:element name="tasaPilTurbo" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="gestiones">
        <xs:sequence>
          <xs:element minOccurs="0" name="estadoGestion" type="xs:string"/>
          <xs:element minOccurs="0" name="etapa" type="xs:string"/>
          <xs:element minOccurs="0" name="fechaFinalizacion" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaGestion" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="flujo" type="xs:string"/>
          <xs:element minOccurs="0" name="logoActual" type="xs:string"/>
          <xs:element minOccurs="0" name="motivoGestion" type="xs:string"/>
          <xs:element minOccurs="0" name="nombreGestion" type="xs:string"/>
          <xs:element minOccurs="0" name="numGestion" type="xs:string"/>
          <xs:element minOccurs="0" name="numeroCuenta" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="planesTarjeta">
        <xs:sequence>
          <xs:element name="balanceActual" type="xs:float"/>
          <xs:element name="balanceInicial" type="xs:float"/>
          <xs:element name="balancePrin" type="xs:float"/>
          <xs:element name="collBnp" type="xs:float"/>
          <xs:element minOccurs="0" name="cuenta" type="xs:string"/>
          <xs:element minOccurs="0" name="fecPlan" type="xs:dateTime"/>
          <xs:element name="fxdPmtAmt" type="xs:float"/>
          <xs:element name="insBnp" type="xs:float"/>
          <xs:element name="intBnp" type="xs:float"/>
          <xs:element name="intRate" type="xs:float"/>
          <xs:element name="lateChgBnp" type="xs:float"/>
          <xs:element name="loanPlanInd" type="xs:int"/>
          <xs:element name="logo" type="xs:int"/>
          <xs:element name="memberBnp" type="xs:float"/>
          <xs:element name="nsfBnp" type="xs:float"/>
          <xs:element name="numPlan" type="xs:int"/>
          <xs:element name="org" type="xs:int"/>
          <xs:element name="ovlmBnp" type="xs:float"/>
          <xs:element name="planStatus" type="xs:int"/>
          <xs:element name="recvBnp" type="xs:float"/>
          <xs:element name="svcBnp" type="xs:float"/>
          <xs:element name="tipoCambio" type="xs:float"/>
          <xs:element minOccurs="0" name="tipoPlan" type="xs:string"/>
          <xs:element name="user1Bnp" type="xs:float"/>
          <xs:element name="user2Bnp" type="xs:float"/>
          <xs:element name="user3Bnp" type="xs:float"/>
          <xs:element name="user4Bnp" type="xs:float"/>
          <xs:element name="user5Bnp" type="xs:float"/>
          <xs:element name="user6Bnp" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="epOriginacionesGuatemalaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:solicitante"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="destroy">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="destroyResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="init">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="initResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception"/>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="epOriginacionesGuatemala">
    <wsdl:part element="tns:epOriginacionesGuatemala" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="initResponse">
    <wsdl:part element="tns:initResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="epOriginacionesGuatemalaResponse">
    <wsdl:part element="tns:epOriginacionesGuatemalaResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="destroyResponse">
    <wsdl:part element="tns:destroyResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="init">
    <wsdl:part element="tns:init" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="destroy">
    <wsdl:part element="tns:destroy" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RuleServiceDefinitionOriginacionesGT">
    <wsdl:operation name="epOriginacionesGuatemala">
      <wsdl:input message="tns:epOriginacionesGuatemala" name="epOriginacionesGuatemala"></wsdl:input>
      <wsdl:output message="tns:epOriginacionesGuatemalaResponse" name="epOriginacionesGuatemalaResponse"></wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="destroy">
      <wsdl:input message="tns:destroy" name="destroy"></wsdl:input>
      <wsdl:output message="tns:destroyResponse" name="destroyResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="init">
      <wsdl:input message="tns:init" name="init"></wsdl:input>
      <wsdl:output message="tns:initResponse" name="initResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RuleServiceDefinitionOriginacionesGTServiceSoapBinding"
                type="tns:RuleServiceDefinitionOriginacionesGT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="epOriginacionesGuatemala">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="epOriginacionesGuatemala">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="epOriginacionesGuatemalaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="destroy">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="destroy">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="destroyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="init">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="init">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="initResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RuleServiceDefinitionOriginacionesGTService">
    <wsdl:port binding="tns:RuleServiceDefinitionOriginacionesGTServiceSoapBinding"
               name="RuleServiceDefinitionOriginacionesGTPort">
      <soap:address location="http://localhost:8080/RuleServiceDefinitionOriginacionesGTServer/RuleServiceDefinitionOriginacionesGTService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>