Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/MTR/consultorLote/wsdl/consultorLoteEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicio.consultalotews.mtrpmsv.cidenet.com.co/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ConsultorLoteService" targetNamespace="http://servicio.consultalotews.mtrpmsv.cidenet.com.co/">
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://servicio.consultalotews.mtrpmsv.cidenet.com.co/" targetNamespace="http://servicio.consultalotews.mtrpmsv.cidenet.com.co/">
  <xsd:complexType name="cuentasDTO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMoneda" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idProductoDebito" type="xsd:string"/>
      <xsd:element minOccurs="0" name="monto" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="loteDTO">
    <xsd:sequence>
      <xsd:element name="cantidadTransacciones" type="xsd:int"/>
      <xsd:element name="cantidadTransaccionesError" type="xsd:int"/>
      <xsd:element name="cantidadTransaccionesExito" type="xsd:int"/>
      <xsd:element minOccurs="0" name="fechaAplicacion" type="xsd:dateTime"/>
      <xsd:element name="idClienteCore" type="xsd:long"/>
      <xsd:element name="idEstado" type="xsd:int"/>
      <xsd:element name="idLote" type="xsd:long"/>
      <xsd:element minOccurs="0" name="infoProceso" type="xsd:string"/>
      <xsd:element minOccurs="0" name="montoTotal" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="montoTotalError" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="nombreCliente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nombreEstado" type="xsd:string"/>
      <xsd:element minOccurs="0" name="optimista" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pagosDTO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMoneda" type="xsd:string"/>
      <xsd:element minOccurs="0" name="monto" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="tasaCambio" type="xsd:float"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cabeceraRespuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cuentas">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="cuenta" nillable="true" type="ns0:cuentasDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleRespuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cuentas" type="ns0:cuentas"/>
      <xsd:element minOccurs="0" name="lote" type="ns0:loteDTO"/>
      <xsd:element minOccurs="0" name="pagos" type="ns0:pagos"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pagos">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="pago" nillable="true" type="ns0:pagosDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaConsultaLote">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cabeceraRespuesta" type="ns0:cabeceraRespuesta"/>
      <xsd:element minOccurs="0" name="detalleRespuesta" type="ns0:detalleRespuesta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="solicitudConsultaLote">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fechaRegistroLote" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="idBancoOrigen" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idCliente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idLote" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="idUsuario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarLote">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="solicitudConsultaLote" type="ns0:solicitudConsultaLote"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarLoteResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="respuestaConsultaLote" type="ns0:respuestaConsultaLote"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultarLote" type="ns0:consultarLote"/>
  <xsd:element name="consultarLoteResponse" type="ns0:consultarLoteResponse"/>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="consultarLote">
        <wsdl:part element="tns:consultarLote" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultarLoteResponse">
        <wsdl:part element="tns:consultarLoteResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="ConsultorLote">
        <wsdl:operation name="consultarLote">
            <wsdl:input message="tns:consultarLote" name="consultarLote"/>
            <wsdl:output message="tns:consultarLoteResponse" name="consultarLoteResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConsultorLoteServiceSoapBinding" type="tns:ConsultorLote">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultarLote">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultarLote">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultarLoteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConsultorLoteService">
        <wsdl:port binding="tns:ConsultorLoteServiceSoapBinding" name="ConsultorLotePort">
            <soap:address location="https://172.23.14.243:7004/ConsultaLotePmsWS/services/consultorLoteEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>