Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/DEI/pagoGOP/realizarPagoGOP/xsd/realizarPagoGOP_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/realizarPagoGOP" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/realizarPagoGOP" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PT_AUDITORIAINFO" type="db:OWF_MGR.T_AUDITORIA" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOCLIENTEBANCO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOGUIAPAGO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROCONTRATO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMONEDA" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PERIODO" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TOTALPAGO" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_TRANSACCIONID" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CONTRATOT24" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHAREGISTRO" type="dateTime" db:index="10" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PV_IDUSUARIO" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PN_IDRECIBOGOP" type="decimal" db:index="12" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_REFERENCIAFENIX" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="OWF_MGR.T_AUDITORIA">
      <sequence>
         <element name="RTN" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="USUARIO_SERVICIO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_ARCHIVO" type="db:string256" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID_ARCHIVO" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROCESO" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROCESO_ORIGEN_ERROR" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_ERROR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCION_ERROR" type="db:string4000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="string4000">
      <restriction base="string">
         <maxLength value="4000"/>
      </restriction>
   </simpleType>
</schema>