Fuentes/ficohsacore-vortex-7ebad6e8baaa/MWHostToHost/v1/BusinessServices/SJS/consultaCobranzasH2H/xsd/sjConsultaCobranzasH2H.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjCobranzasH2HTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hcob="http://www.ficohsa.com.hn/middleware.services/sjCobranzasH2HTypes" xmlns:gen="http://www.ficohsa.com.hn/middleware.services/genericTypes">

    <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/genericTypes" schemaLocation="../../../../Resources/Generales/xsd/genericTypes.xsd"/>


    <!--############################### -->
    <!--OPERACION: CONSULTA COBRANZA -->
    <!--############################### -->
    <xs:element name="sjConsultaCobranzas">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="USER_NAME" type="gen:stringMinLength1"/>
            	<xs:element name="PASSWORD" type="gen:stringMinLength1"/>
            	<xs:element name="SOURCE_BANK" type="gen:stringMinLength1"/>
                <xs:element name="CUSTOMER_ID" type="gen:stringMinLength1"/>
                <xs:element name="SERVICES">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SERVICE" type="hcob:serviceType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--SERVICE TYPE -->
    <xs:complexType name="serviceType">
        <xs:sequence>
            <xs:element name="ID" type="gen:greaterThan0"/>
            <xs:element name="CONTRACT_ID" type="gen:stringMinLength1" minOccurs="0"/>
            <xs:element name="NAME" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBTORS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DEBTOR" type="hcob:debtorType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!--DEBTOR TYPE -->
    <xs:complexType name="debtorType">
        <xs:sequence>
            <xs:element name="TRACE" type="xs:string" minOccurs="0"/>
            <xs:element name="CODE" type="gen:stringMinLength1"/>
            <xs:element name="CURRENCY" type="gen:currencyType" minOccurs="0"/>
            <xs:element name="RETURN_TYPE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ALL"/>
                        <xs:enumeration value="ONE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="EXTENDED_COLLECTION" type="gen:yesNoType"/>
            <xs:element name="ADDITIONAL_INFO" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="INFO" type="hcob:infoType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- INFO TYPE -->
    <xs:complexType name="infoType">
        <xs:sequence>
            <xs:element name="FIELD_NAME" type="xs:string"/>
            <xs:element name="FIELD_VALUE" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="sjConsultaCobranzasResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="SUCCESS_INDICATOR" type="xs:string"/>
            	<xs:element name="SUCCESS_AMOUNT" type="xs:decimal" minOccurs="0"/>
            	<xs:element name="ERROR_AMOUNT" type="xs:decimal" minOccurs="0"/>
                <xs:element name="SERVICES" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SERVICE" type="hcob:serviceResponseType" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="serviceResponseType">
        <xs:sequence>
            <xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
            <xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
            <xs:element name="ID" type="xs:integer" minOccurs="0"/>
            <xs:element name="NAME" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBTORS" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DEBTOR" type="hcob:debtorResponseType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="debtorResponseType">
        <xs:sequence>
            <xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
            <xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
            <xs:element name="TRACE" type="xs:string" minOccurs="0"/>
            <xs:element name="CODE" type="xs:string" minOccurs="0"/>
            <xs:element name="NAME" type="xs:string" minOccurs="0"/>
            <xs:element name="BILLS" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="BILL" type="hcob:billResponseType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DEALSLIP" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="billResponseType">
        <xs:sequence>
            <xs:element name="ID" type="xs:string" minOccurs="0"/>
            <xs:element name="ISSUE_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="DUE_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="BALANCES" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="BALANCE" type="hcob:balanceResponseType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="balanceResponseType">
        <xs:sequence>
            <xs:element name="CURRENCY" type="gen:currencyType" minOccurs="0"/>
            <xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
            <xs:element name="LATE_FEE" type="xs:decimal" minOccurs="0"/>
            <xs:element name="TOTAL" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>