Fuentes/ficohsacore-hntransfer-b64b1a407777/SBHN_Transfer/SBHN_Transfer_RollbackTaxesBullletin/Schemas/RollbackTaxesBulletinTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/transfer/transferTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ttp="https://www.ficohsa.com/regional/transfer/transferTypes" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBHN_Transfer_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>

  <xsd:element name="rollbackTaxesBullletin">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="TransactionId" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="rollbackTaxesBullletinResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>  
  
</xsd:schema>