Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/AccountPassbookOperations/wsdl/AccountPassbookOperations.wsdl

<wsdl:definitions name="accountPassbookOperationsPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/accountPassbookOperationsPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/accountPassbookOperationsPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:apo="http://www.ficohsa.com.hn/middleware.services/accountPassbookOperationsTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../General/xsd/Header.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/accountPassbookOperationsTypes" schemaLocation="../xsd/AccountPassbookOperationsTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="passbookUpdateRequest">
		<wsdl:part element="apo:passbookUpdate" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="passbookUpdateResponse">
		<wsdl:part element="apo:passbookUpdateResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="passbookReplacementRequest">
		<wsdl:part element="apo:passbookReplacement" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="passbookReplacementResponse">
		<wsdl:part element="apo:passbookReplacementResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="passbookBalanceConfirmationRequest">
		<wsdl:part element="apo:passbookBalanceConfirmation" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="passbookBalanceConfirmationResponse">
		<wsdl:part element="apo:passbookBalanceConfirmationResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:portType name="accountPassbookOperationsPS">
		<wsdl:operation name="passbookUpdate" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:passbookUpdateRequest"/>
			<wsdl:output message="fic:passbookUpdateResponse"/>
		</wsdl:operation>
		<wsdl:operation name="passbookReplacement" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:passbookReplacementRequest"/>
			<wsdl:output message="fic:passbookReplacementResponse"/>
		</wsdl:operation>
		<wsdl:operation name="passbookBalanceConfirmation" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:passbookBalanceConfirmationRequest"/>
			<wsdl:output message="fic:passbookBalanceConfirmationResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="accountPassbookOperationsPSSOAP" type="fic:accountPassbookOperationsPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="passbookUpdate">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/accountPassbookOperationsPS/passbookUpdate"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:passbookUpdateRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:passbookUpdateResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="passbookReplacement">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/accountPassbookOperationsPS/passbookReplacement"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:passbookReplacementRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:passbookReplacementResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="passbookBalanceConfirmation">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/PassbookBalanceConfirmationPS/passbookBalanceConfirmation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:passbookBalanceConfirmationRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:passbookBalanceConfirmationResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="accountPassbookOperationsPS">
		<wsdl:port binding="fic:accountPassbookOperationsPSSOAP" name="accountPassbookOperationsPSSOAP">
			<soap:address location="http://mwteller:8004/mwteller/accounts/accountPassbookOperations"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>