Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/consultaTransacciones/ConsultaDetalleTransaccionAbanks/consultaDetalleTransaccionTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDetalleTransaccionTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaDetalleTransaccionTypes">
	
	<xs:element name="consultaDetalleTransaccion">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TRANSACTION_REFERENCE" type="xs:string"/>
	            <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
		
	<xs:complexType name="consultaDetalleTransaccionResponse">
		<xs:sequence>
	        <xs:element name="TYPE" type="xs:string" minOccurs="0" />
	        <xs:element name="TRANSACTION_DESCRIPTION" type="xs:string" minOccurs="0" />
	        <xs:element name="CUSTOMER_DESCRIPTION" type="xs:string" minOccurs="0" />
	        <xs:element name="BOOKING_DATE" type="xs:string" minOccurs="0" />
	        <xs:element name="VALUE_DATE" type="xs:string" minOccurs="0" />
	        <xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
	        <xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
	        <xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
	        <xs:element name="COMMISSION_AMOUNT" type="xs:string" minOccurs="0" />
	        <xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
	        <xs:element name="AUTHORIZER" type="xs:string" minOccurs="0" />
	        <xs:element name="DETAILS" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DETAIL_RECORD" minOccurs="0" maxOccurs="unbounded" >
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LABEL" type="xs:string" minOccurs="0" maxOccurs="1" />
									<xs:element name="VALUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
	    </xs:sequence> 
	</xs:complexType>
	
	<xs:element name="consultaDetalleTransaccionResponse" type="cons:consultaDetalleTransaccionResponse" />
	
</xs:schema>