Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/enrutadorConvenios/xsd/XMLSchema_-1423180259.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><xs:schema xmlns:tns="http://service.webserviceprovider.transporters.service.frametexx.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.webserviceprovider.transporters.service.frametexx.com/">

<xs:element name="serviceResponse" type="tns:serviceResponse"></xs:element>

<xs:complexType name="serviceRequest">
<xs:sequence>
<xs:element name="requestData" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="requestURI" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="serviceResponse">
<xs:sequence>
<xs:element name="responseConnector" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="responseTime" type="xs:long"></xs:element>
<xs:element name="responseData" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="responseError" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="requestURI" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>