Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActualizaProspecto/xsd/actualizaProspectoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:update="http://www.ficohsa.com.hn/middleware.services/actualizaProspectoTypes"
           targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaProspectoTypes"
           elementFormDefault="qualified" attributeFormDefault="qualified"
           version="1.0">
           
           
 <!-- CLIENTE NATURAL -->          
 <xs:element name="actualizaProspecto">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="BASIC_INFO" type="update:customerType"/>
    <xs:element name="CONTACT_INFO" type="update:contactType"/>
    <xs:element name="FINANCIAL_INFO" type="update:financialInfoType" minOccurs="1" maxOccurs="1"/>
    <xs:element name="REFERENCES_INFO" type="update:referencesType" minOccurs="0" maxOccurs="1"/>
    <xs:element name="MARKETING_INFO" type="update:marketingInfoType" minOccurs="0" maxOccurs="1"/>
    <xs:element name="RELATIONSHIPS_INFO" type="update:relationshipsType" minOccurs="0" maxOccurs="1"/>
    <xs:element name="BANK_INFO" type="update:bankType" minOccurs="0" maxOccurs="1"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name="actualizaProspectoResponse">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="CUSTOMER_ID" type="xs:string"/>
    <xs:element name="CUSTOMER_NAME" type="xs:string"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 
 <!-- Basic Information -->
 <xs:complexType name="customerType">
  <xs:sequence>  
   <xs:element name="IDENTIFICATION" type="update:legalIdentificationListType"/>
   <xs:element name="CUSTOMER_ID" minOccurs="1" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="FIRST_NAME">
    <xs:simpleType>
     <xs:restriction base="xs:string">      
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="SECOND_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="THIRD_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="FIRST_LASTNAME">
    <xs:simpleType>
     <xs:restriction base="xs:string">      
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="SECOND_LASTNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="GENDER">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="MALE"/>
      <xs:enumeration value="FEMALE"/>
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="DATE_OF_BIRTH">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>   
   <xs:element name="BIRTHPLACE" type="xs:string" minOccurs="0" maxOccurs="1"/>   
   <xs:element name="COUNTRY_OF_BIRTH" minOccurs="0" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">      
      <xs:minLength value="0"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>   
   <xs:element name="MARITAL_STATUS">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="SINGLE"/>
      <xs:enumeration value="MARRIED"/>
      <xs:enumeration value="DIVORCED"/>
      <xs:enumeration value="WIDOWED"/>
      <xs:enumeration value="WIDOW"/>
	  <xs:enumeration value="LEGALLY"/>
      <xs:enumeration value="COMMONLAWMARRIAGE"/>
      <xs:enumeration value="SEPARATEPROPERTY"/>
      <xs:enumeration value="OTHER"/>
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="SPOUSE_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="MARRIED_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="NATIONALITY">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="COUNTRY_OF_RESIDENCE">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="LANGUAGE">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="LEGAL_GIVEN_NAMES" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="LEGAL_FAMILY_NAMES" type="xs:string" minOccurs="0" maxOccurs="1"/> 
   <xs:element name="SECTOR" type="xs:string" minOccurs="1" maxOccurs="1"/>
   <xs:element name="INDUSTRY" type="xs:string" minOccurs="1" maxOccurs="1"/>
   <xs:element name="TARGET" type="xs:string" minOccurs="0" maxOccurs="1"/>    
   <xs:element name="PEP" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="ADDITIONAL_INFO" type="update:additionalInfoListType" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="legalIdentificationListType">
  <xs:sequence>
   <xs:element name="LEGAL_IDENTIFICATION_ITEM" type="update:legalIdentificationType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="legalIdentificationType">
  <xs:sequence>
   <xs:element name="LEGAL_DOCUMENT_NAME">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="LEGAL_ID">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="DATE_OF_ISSUANCE" minOccurs="0" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>      
  </xs:sequence>
 </xs:complexType> 
 
 <xs:complexType name="additionalInfoListType">
  <xs:sequence>
   <xs:element name="AFFILIATION_BENEFICIARY_ITEM" type="xs:string"/>
  </xs:sequence>
 </xs:complexType> 
 
 
 <!-- Contact Information -->
 <xs:complexType name="contactType">
  <xs:sequence>
   <xs:element name="ADDRESS_INFO" type="update:addressListType" maxOccurs="1"/>
   <xs:element name="EMAIL_ADDRESS_INFO" type="update:emailAddressListType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="PHONE_NUMBER_INFO" type="update:phoneNumberListType" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>  
  
 <xs:complexType name="addressListType">
  <xs:sequence>
   <xs:element name="ADDRESS_ITEM" type="update:addressType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="addressType">
  <xs:sequence>
   <xs:element name="ADDRESS_TYPE" minOccurs="0" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="WORK"/>
      <xs:enumeration value="MAILBOX"/>
      <xs:enumeration value="OTHER"/>
      <xs:minLength value="0"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="MAIN_ADDRESS" minOccurs="0" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="YES"/>
      <xs:enumeration value="NO"/>
      <xs:minLength value="0"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="POBOX" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="ZIP_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="COUNTRY_CODE" minOccurs="0" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="DEPARTMENT_CODE" minOccurs="0" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="MUNICIPALITY_CODE"  type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="CITY_CODE" minOccurs="0" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="DISTRICT_CODE" minOccurs="0" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="ADDRESS_LINE_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="ADDRESS_LINE_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="DOMICILE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="BUILDING" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="FLOOR" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="APARTMENT" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="DETAILS" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="COLONY_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="REFERENCES" type="xs:string" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="phoneNumberListType">
  <xs:sequence>
   <xs:element name="PHONE_NUMBER_ITEM" type="update:phoneNumberType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="phoneNumberType">
  <xs:sequence>
   <xs:element name="PHONE_LOCATION" minOccurs="0" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="WORK"/>
      <xs:enumeration value="OTHER"/>
      <xs:enumeration value=""/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="PHONE_TYPE" minOccurs="0" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="BEEPER"/>      
      <xs:enumeration value="MOBILE"/>
      <xs:enumeration value="LANDLINE"/>
      <xs:enumeration value="FAX"/>
      <xs:enumeration value="PBX"/>
      <xs:enumeration value="TELEFAX"/>
      <xs:enumeration value="OTHER"/>
      <xs:enumeration value=""/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="PHONE_AREA_CODE" type="xs:string"  maxOccurs="1"/>
   <xs:element name="PHONE_NUMBER" type="xs:string" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="emailAddressListType">
  <xs:sequence>
   <xs:element name="EMAIL_ADDRESS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

  
 <!-- Financial Information -->
 <xs:complexType name="financialInfoType">
  <xs:sequence>
   <xs:element name="LEVEL_OF_EDUCATION" minOccurs="0">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="ELEMENTARY"/>
      <xs:enumeration value="MIDDLE"/>
      <xs:enumeration value="UNIVERSITY"/>
      <xs:enumeration value="MASTERS"/>
      <xs:enumeration value="DOCTORAL"/>
      <xs:minLength value="0"/>      
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="CURRENTLY_EMPLOYED" minOccurs="0">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="YES"/>
      <xs:enumeration value="NO"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="OCCUPATION" minOccurs="0" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="MERCHANT_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="SALES_VOLUME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="PROFESSION" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="COMPANY_TYPE" minOccurs="0" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
      <xs:enumeration value="GOVERNMENT"/>
      <xs:enumeration value="PRIVATE"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="COMPANY_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="EMPLOYMENT_START" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="JOB_TITLE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="SOURCE_OF_INCOME" type="xs:string" minOccurs="1" maxOccurs="1"/>
   <xs:element name="INCOME_CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="INCOME_RANGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="SECTORIZATION" type="update:sectorizationListType" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="sectorizationListType">
  <xs:sequence>
   <xs:element name="SECTORIZATION_ITEM" type="update:sectorizationItemType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="sectorizationItemType">
  <xs:sequence>
   <xs:element name="SECTORIZATION_TYPE" type="xs:string" maxOccurs="1"/>
   <xs:element name="SECTORIZATION_CODE" type="xs:string" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <!-- References Information -->
 <xs:complexType name="referencesType">
  <xs:sequence>
   <xs:element name="PERSONAL_REFERENCE" type="update:pesonalReferenceType" minOccurs="0" maxOccurs="unbounded"/>
   <xs:element name="COMMERCIAL_REFERENCE" type="update:commercialReferenceType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="pesonalReferenceType">
  <xs:sequence>
   <xs:element name="FIRST_NAME" type="xs:string" maxOccurs="1"/>
   <xs:element name="LAST_NAME" type="xs:string" maxOccurs="1"/>
   <xs:element name="MARRIED_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="TELEPHONE_NUMBER" type="xs:string" maxOccurs="1"/>
   <xs:element name="RELATION_WITH_CUSTOMER" type="xs:string" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="commercialReferenceType">
  <xs:sequence>
   <xs:element name="COMPANY_NAME" type="xs:string" maxOccurs="1"/>
   <xs:element name="CONTACT_NAME" type="xs:string" maxOccurs="1"/>
   <xs:element name="TELEPHONE_NUMBER" type="xs:string" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>


 <!-- Marketing Information -->
 <xs:complexType name="marketingInfoType">
  <xs:sequence>
   <xs:element name="NUMBER_OF_DEPENDENTS" type="xs:string" minOccurs="0"  maxOccurs="1"/>
   <xs:element name="OWNS_VEHICLE" minOccurs="0" maxOccurs="1"/>
   <xs:element name="HOUSEHOLDS" type="update:householdListType" minOccurs="0"  maxOccurs="1"/>
   <xs:element name="INTERNET_ACCESS" type="xs:string" minOccurs="0"  maxOccurs="1"/>
   <xs:element name="TYPE_OF_CONNECTION" type="xs:string" minOccurs="0"  maxOccurs="1"/>
   <xs:element name="BUSINESS_AREA" type="xs:string" minOccurs="0"  maxOccurs="1"/>
   <xs:element name="INTL_BUSINESS" type="xs:string" minOccurs="0"  maxOccurs="1"/>
   <xs:element name="INTL_BUSINESS_TYPE" type="xs:string" minOccurs="0"  maxOccurs="1"/>
   <xs:element name="CURRENT_PROJECTS" type="xs:string" minOccurs="0"  maxOccurs="1"/>
   <xs:element name="BANKS_OF_BUSINESS" type="xs:string" minOccurs="0"  maxOccurs="1"/>
   <xs:element name="BANKING_PRODUCTS" type="xs:string" minOccurs="0"  maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="householdListType">
 	<xs:sequence>
 		<xs:element name="HOUSEHOLD_ITEM" type="update:householdItemType" minOccurs="0" maxOccurs="unbounded"/>
 	</xs:sequence>
 </xs:complexType>

 <xs:complexType name="householdItemType">
 	<xs:sequence>
 		<xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
 		<xs:element name="TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
 		<xs:element name="OWNER_SINCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
 		<xs:element name="ESTIMATED_VALUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
 	</xs:sequence>
 </xs:complexType>

 <!-- Relationships Information -->
 <xs:complexType name="relationshipsType">
  <xs:sequence>
   <xs:element name="RELATIONSHIP_ITEM" type="update:relationshipItemType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType> 

 <xs:complexType name="relationshipItemType">
  <xs:sequence>
   <xs:element name="CODE" type="xs:string" maxOccurs="1"/>
   <xs:element name="CUSTOMER" type="xs:string" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <!-- Bank Information -->
 <xs:complexType name="bankType">
  <xs:sequence>
   <xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="SUGGESTED_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>     
  </xs:sequence>
 </xs:complexType>

</xs:schema>