Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/RequestorServices/v1.0/GetCollection/XSD/collectionContractDetailTypes.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ccd="http://www.ficohsa.com.hn/middleware.services/collectionContractDetailTypes"
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/collectionContractDetailTypes"
            elementFormDefault="qualified">
  <xsd:element name="CollectionContractDetailRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Username" type="xsd:string"/>
        <xsd:element name="Password" type="xsd:string"/>
        <xsd:element name="ContractId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Uuid" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CollectionContractDetailResponseArrayType">
    <xsd:sequence>
      <xsd:element name="ContractId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContractName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CustomerId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="InfoExchangeType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CollectionType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AllowedBranches" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BranchCode" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PaymentValueCheck" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PaymentMethods" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PaymentMethod" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PayOldBillFirst" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DueDateCheck" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PenaltyType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MultiCCYCheck" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ContractAccounts" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ContractAccount" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Currency" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="Account" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ContractType" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CollectionContractDetailResponseRecordType">
    <xsd:sequence>
      <xsd:element name="CollectionContractDetailResponseRecordType" type="ccd:CollectionContractDetailResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CollectionContractDetailResponseType">
    <xsd:sequence>
      <xsd:element name="ResponseCode" type="xsd:string" minOccurs="1"/>
      <xsd:element name="ResponseMessage" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CollectionContractDetailResponseType" type="ccd:CollectionContractDetailResponseRecordType" form="qualified" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CollectionContractDetailResponse" type="ccd:CollectionContractDetailResponseType"/>
</xsd:schema>