Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/RecaudoPOSws/xsd/svcTGR1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/svcTGR1_GD" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/svcTGR1_GD">
  <xs:complexType name="IService1.ResultadoC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:IService1.Data"/>
      <xs:element minOccurs="0" name="DataC" nillable="true" type="tns:IService1.Result1"/>
      <xs:element minOccurs="0" name="LST_RUBROS" nillable="true" type="tns:IService1.LST_RUBROS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IService1.ResultadoC" nillable="true" type="tns:IService1.ResultadoC"/>
  <xs:complexType name="IService1.Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Success" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IService1.Data" nillable="true" type="tns:IService1.Data"/>
  <xs:complexType name="IService1.Result1">
    <xs:sequence>
      <xs:element minOccurs="0" name="API_ESTADO" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="API_TRANSACCION" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DESC_IDENTIFICACION" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DESC_INSTITUCION" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FEC_CRE" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FEC_MOD" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="INSTITUCION" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MONTO" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="NOMBRE_RAZON" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="NRO_RECIBO" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TIPO_IDENTIFICACION" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="USU_CRE" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="USU_MOD" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IService1.Result1" nillable="true" type="tns:IService1.Result1"/>
  <xs:complexType name="IService1.LST_RUBROS">
    <xs:sequence>
      <xs:element minOccurs="0" name="LST_INST_RUBROS_ARTICULOS" nillable="true" type="tns:ArrayOfIService1.LST_INST_RUBROS_ARTICULOS"/>
      <xs:element minOccurs="0" name="LST_RUBROS" nillable="true" type="tns:ArrayOfIService1.Result2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IService1.LST_RUBROS" nillable="true" type="tns:IService1.LST_RUBROS"/>
  <xs:complexType name="ArrayOfIService1.LST_INST_RUBROS_ARTICULOS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IService1.LST_INST_RUBROS_ARTICULOS" nillable="true" type="tns:IService1.LST_INST_RUBROS_ARTICULOS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIService1.LST_INST_RUBROS_ARTICULOS" nillable="true" type="tns:ArrayOfIService1.LST_INST_RUBROS_ARTICULOS"/>
  <xs:complexType name="IService1.LST_INST_RUBROS_ARTICULOS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTICULO" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DESCRIPCION_ARTICULO" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MONTO_ARTICULO" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IService1.LST_INST_RUBROS_ARTICULOS" nillable="true" type="tns:IService1.LST_INST_RUBROS_ARTICULOS"/>
  <xs:complexType name="ArrayOfIService1.Result2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IService1.Result2" nillable="true" type="tns:IService1.Result2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIService1.Result2" nillable="true" type="tns:ArrayOfIService1.Result2"/>
  <xs:complexType name="IService1.Result2">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION_RUBRO" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MONTO_RUBRO" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="RUBRO" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IService1.Result2" nillable="true" type="tns:IService1.Result2"/>
  <xs:complexType name="IService1.ResultadoP">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Success" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IService1.ResultadoP" nillable="true" type="tns:IService1.ResultadoP"/>
</xs:schema>