Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/RecaudoPOSws/xsd/svcTGR1_GD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
  <xs:import schemaLocation="svcTGR1_1.xsd" namespace="http://schemas.datacontract.org/2004/07/svcTGR1_GD"/>
  <xs:element name="Consulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoTGR" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaResult" nillable="true" type="q1:IService1.ResultadoC" xmlns:q1="http://schemas.datacontract.org/2004/07/svcTGR1_GD"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secuencial" type="xs:int"/>
        <xs:element minOccurs="0" name="codigoTGR" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="nroReferencia" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="mecanismo" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="cargo" type="xs:double"/>
        <xs:element minOccurs="0" name="monto" type="xs:double"/>
        <xs:element minOccurs="0" name="moneda" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="banco" type="xs:short"/>
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="apiEstado" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="apiTransaccion" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="usuarioCreacion" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="fechaCreacion" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="usuarioModificacion" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="fechaModificacion" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PagoResult" nillable="true" type="q2:IService1.ResultadoP" xmlns:q2="http://schemas.datacontract.org/2004/07/svcTGR1_GD"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>