Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaInformacionLaboral/xsd/consultaInformacionLaboralTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaInformacionLaboralTypes"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaInformacionLaboralTypes"  
	elementFormDefault="qualified" attributeFormDefault="qualified"
 	version="1.0">
 	
<xs:element name="consultaInformacionLaboralRequest">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="CUSTOMER_ACCOUNT" type="xs:string"/>			
			<xs:element name="FROM_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="TO_DATE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element> 	

<xs:element name="consultaInformacionLaboralResponse">
	<xs:complexType>
		<xs:sequence>
		<xs:element name="JOB_INFO_HISTORY" type="con:jobInfoHistoryListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>


<!--JOB INFO HISTORY TYPES-->
<!--##############################-->
<xs:complexType name="jobInfoHistoryListType">
 <xs:sequence>
  <xs:element name="JOB_INFO_HISTORY_ITEM" type="con:jobInfoHistoryType" minOccurs="0" maxOccurs="unbounded"/>
 </xs:sequence>
</xs:complexType>

<xs:complexType name="jobInfoHistoryType">
	<xs:sequence>
			<xs:element name="CUSTOMER_ACCOUNT" type="xs:string"/>
			<xs:element name="STATUS" type="xs:string"/>
			<xs:element name="START_DATE" type="xs:string"/>
			<xs:element name="END_DATE" type="xs:string"/>
			<xs:element name="PAYMENT_PERIOD" type="xs:string"/>
			<xs:element name="EMPLOYER_CODE" type="xs:string"/>
			<xs:element name="EMPLOYER_NAME" type="xs:string"/>
			<xs:element name="EMPLOYER_RTN" type="xs:string"/>
			<xs:element name="BALANCE_TYPE" type="xs:string"/>
			<xs:element name="PAYMENT_CURRENCY" type="xs:string"/>
			<xs:element name="PAYMENT_AMOUNT" type="xs:string"/>
			<xs:element name="SALARY_CURRENCY" type="xs:string"/>
			<xs:element name="SALARY_AMOUNT" type="xs:string"/>
			<xs:element name="OCCUPATION_CODE" type="xs:string"/>
			<xs:element name="OCCUPATION_DESC" type="xs:string"/>
			<xs:element name="JOB_TITLE_CODE" type="xs:string"/>
			<xs:element name="JOB_TITLE_DESC" type="xs:string"/>	
	</xs:sequence>
</xs:complexType>
 	 	
</xs:schema>