Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultaClienteRTE/ConsultaClienteRTE.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaClienteRTETypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaClienteRTETypes">
	
	<xs:complexType name="consultaClienteRTEResponse">
		<xs:sequence>
			<xs:element name="RTE_HEADER" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaClienteRTE">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CUSTOMER_LEGAL_ID" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaClienteRTEResponse" type="cons:consultaClienteRTEResponse"/>
	
</xs:schema>