Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaCheque/ConsultaChequesPagados/consultaChequesPagadosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaChequesPagadosTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaChequesPagadosTypes">
	
	<xs:complexType name = "consultaChequesPagadosResponseArrayType">
		<xs:sequence>
			<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaChequesPagadosResponseRecordType">
		<xs:sequence>
				<xs:element name="consultaChequesPagadosResponseRecordType" type="cons:consultaChequesPagadosResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="consultaChequesPagadosResponseType">
		<xs:sequence>
			<xs:element name="consultaChequesPagadosResponseType" type="cons:consultaChequesPagadosResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaChequesPagados">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTION_DATE" type="xs:string"/>
				<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaChequesPagadosResponse" type="cons:consultaChequesPagadosResponseType"/>
	
</xs:schema>