Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/Tigo/Paquetes/wsdl/paquetesTigo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ficohsa.com.hn/paquetesTigo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/paquetesTigo" targetNamespace="http://www.ficohsa.com.hn/paquetesTigo">
    <wsdl:types>
        <xs:schema xmlns:tig="http://www.ficohsa.com.hn/paquetesTigo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/paquetesTigo" version="1.0">
            <xs:element name="paqueteTigoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="COMMAND">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element default="EXRCTRFREQ" name="TYPE" type="xs:string"/>
                                    <xs:element name="DATE" type="xs:string"/>
                                    <xs:element default="TH" name="EXTNWCODE" type="xs:string"/>
                                    <xs:element default="" name="MSISDN" type="xs:string"/>
                                    <xs:element default="" name="PIN" type="xs:string"/>
                                    <xs:element default="" name="LOGINID" type="xs:string"/>
                                    <xs:element default="" name="PASSWORD" type="xs:string"/>
                                    <xs:element default="EXRCTRFREQ" name="EXTCODE" type="xs:string"/>
                                    <xs:element name="EXTREFNUM" type="xs:string"/>
                                    <xs:element name="MSISDN2" type="xs:string"/>
                                    <xs:element name="AMOUNT" type="xs:string"/>
                                    <xs:element default="1" name="SELECTOR" type="xs:string"/>
                                    <xs:element default="" name="LANGUAGE1" type="xs:string"/>
                                    <xs:element default="" name="LANGUAGE2" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="paqueteTigoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="status" type="xs:string"/>
                        <xs:element minOccurs="0" name="message" type="xs:string"/>
                        <xs:element name="COMMAND">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TYPE" type="xs:string"/>
                                    <xs:element name="TXNSTATUS" type="xs:string"/>
                                    <xs:element name="DATE" type="xs:string"/>
                                    <xs:element name="EXTREFNUM" type="xs:string"/>
                                    <xs:element name="TXIND" type="xs:string"/>
                                    <xs:element name="MESSAGE" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="paqueteTigoRequest">
        <wsdl:part element="tns:paqueteTigoRequest" name="paqueteTigoRequest"/>
    </wsdl:message>
    <wsdl:message name="paqueteTigoResponse">
        <wsdl:part element="tns:paqueteTigoResponse" name="paqueteTigoResponse"/>
    </wsdl:message>
    <wsdl:portType name="PaquetesTigoEndpoint">
        <wsdl:operation name="paqueteTigo">
            <wsdl:input message="tns:paqueteTigoRequest" name="paqueteTigoRequest"/>
            <wsdl:output message="tns:paqueteTigoResponse" name="paqueteTigoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PaquetesTigoEndpointSoap11" type="tns:PaquetesTigoEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="paqueteTigo">
            <soap:operation soapAction=""/>
            <wsdl:input name="paqueteTigoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="paqueteTigoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PaquetesTigoEndpointService">
        <wsdl:port binding="tns:PaquetesTigoEndpointSoap11" name="PaquetesTigoEndpointSoap11">
            <soap:address location="http://172.23.13.19:7003/paquetes-tigo-ws/paquetesTigo/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>