Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/RegistroPagoNominaCobis/xsd/insertaNominaColaboradores_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/insertaNominaColaboradores" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/insertaNominaColaboradores" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="s_ssn" type="int" db:index="1" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="s_ssn_branch" type="int" db:index="2" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="s_srv" type="db:string30" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="s_lsrv" type="db:string30" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="s_user" type="db:string30" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="s_sesn" type="int" db:index="6" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="s_term" type="db:string10" db:index="7" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="s_date" type="dateTime" db:index="8" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="s_ofi" type="short" db:index="9" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="s_rol" type="short" db:index="10" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="s_org_err" type="db:string1" db:index="11" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="s_error" type="int" db:index="12" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="s_sev" type="byte" db:index="13" db:type="TINYINT" minOccurs="0" nillable="true"/>
            <element name="s_msg" type="db:string240" db:index="14" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="s_org" type="db:string1" db:index="15" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="t_corr" type="db:string1" db:index="16" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="t_ssn_corr" type="int" db:index="17" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="t_debug" type="db:string1" db:index="18" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="t_file" type="db:string14" db:index="19" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="t_from" type="db:string32" db:index="20" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="t_rty" type="db:string1" db:index="21" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="t_ejec" type="db:string1" db:index="22" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="t_trn" type="short" db:index="23" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_tipo_registro" type="db:string1" db:index="24" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_secuencial_nomina" type="decimal" db:index="25" db:type="NUMERIC" minOccurs="0" nillable="true"/>
            <element name="i_total_registros" type="int" db:index="26" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_valor_total" type="decimal" db:index="27" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_empresa" type="db:string10" db:index="28" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_secuencial_reg" type="int" db:index="29" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_tipo_cuenta" type="byte" db:index="30" db:type="TINYINT" minOccurs="0" nillable="true"/>
            <element name="i_cuenta" type="db:string24" db:index="31" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_moneda" type="short" db:index="32" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_monto" type="decimal" db:index="33" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_concepto" type="db:string120" db:index="34" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_cedula" type="db:string24" db:index="35" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_texto" type="db:string255" db:index="36" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_fecha" type="dateTime" db:index="37" db:type="SMALLDATETIME" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="RETURN_VALUE" type="int" db:index="0" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_cod_rechazo" type="db:string5" db:index="38" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="o_msg_error" type="db:string120" db:index="39" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string240">
      <restriction base="string">
         <maxLength value="240"/>
      </restriction>
   </simpleType>
   <simpleType name="string14">
      <restriction base="string">
         <maxLength value="14"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string24">
      <restriction base="string">
         <maxLength value="24"/>
      </restriction>
   </simpleType>
   <simpleType name="string120">
      <restriction base="string">
         <maxLength value="120"/>
      </restriction>
   </simpleType>
   <simpleType name="string255">
      <restriction base="string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
</schema>
