Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/CobranzasElectronicas/wsdl/cobranzasElectronicasPS.wsdl

<wsdl:definitions name="cobranzasElectronicasPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cbr="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasTypes">
 
  <wsdl:types>
    <xsd:schema>
        <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
    </xsd:schema>
    <xsd:schema>
        <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasTypes" schemaLocation="../xsd/cobranzasElectronicasTypes.xsd"/>
    </xsd:schema>
  </wsdl:types>
 
  <wsdl:message name="requestHeader">
<!--     <wsdl:part element="cbr:cobranzasElectronicas" name="parameters"/> -->
    <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
  </wsdl:message>
  
  <wsdl:message name="responseHeader">
<!--     <wsdl:part element="cbr:cobranzasElectronicasResponse" name="result"/> -->
    <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
  </wsdl:message>
   
  <wsdl:message name="cargaArchivoFacturasRequest">
    <wsdl:part element="cbr:cargaArchivoFacturas" name="parameters"/>
<!--     <wsdl:part name="RequestHeader" element="auth:RequestHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="cargaArchivoFacturasResponse">
    <wsdl:part element="cbr:cargaArchivoFacturasResponse" name="result"/>
<!--     <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="agregarDeudoresRequest">
    <wsdl:part element="cbr:agregarDeudores" name="parameters"/>
<!--     <wsdl:part element="auth:RequestHeader" name="RequestHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="agregarDeudoresResponse">
    <wsdl:part element="cbr:agregarDeudoresResponse" name="result"/>
<!--     <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="eliminarDeudoresRequest">
    <wsdl:part element="cbr:eliminarDeudores" name="parameters"/>
<!--     <wsdl:part element="auth:RequestHeader" name="RequestHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="eliminarDeudoresResponse">
    <wsdl:part element="cbr:eliminarDeudoresResponse" name="result"/>
<!--     <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="consultaLoteDeudoresRequest">
    <wsdl:part element="cbr:consultaLoteDeudores" name="parameters"/>
<!--     <wsdl:part element="auth:RequestHeader" name="RequestHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="consultaLoteDeudoresResponse">
    <wsdl:part element="cbr:consultaLoteDeudoresResponse" name="result"/>
<!--     <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="consultaDeudoresRequest">
    <wsdl:part element="cbr:consultaDeudores" name="parameters"/>
<!--     <wsdl:part element="auth:RequestHeader" name="RequestHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="consultaDeudoresResponse">
    <wsdl:part element="cbr:consultaDeudoresResponse" name="result"/>
<!--     <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="consultaLoteFacturasRequest">
    <wsdl:part element="cbr:consultaLoteFacturas" name="parameters"/>
<!--     <wsdl:part element="auth:RequestHeader" name="RequestHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="consultaLoteFacturasResponse">
    <wsdl:part element="cbr:consultaLoteFacturasResponse" name="result"/>
<!--     <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/> -->
  </wsdl:message>  
   
  <wsdl:message name="consultaFacturasRequest">
    <wsdl:part element="cbr:consultaFacturas" name="parameters"/>
<!--     <wsdl:part element="auth:RequestHeader" name="RequestHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="consultaFacturasResponse">
    <wsdl:part element="cbr:consultaFacturasResponse" name="result"/>
<!--     <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="autorizarLoteCobranzas">
    <wsdl:part element="cbr:autorizarLoteCobranzas" name="parameters"/>
<!--     <wsdl:part element="auth:RequestHeader" name="RequestHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="autorizarLoteCobranzasResponse">
    <wsdl:part element="cbr:autorizarLoteCobranzasResponse" name="result"/>
<!--     <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/> -->
  </wsdl:message>
  
    <wsdl:message name="cancelarLoteFacturas">
    <wsdl:part element="cbr:cancelarLoteFacturas" name="parameters"/>
<!--     <wsdl:part element="auth:RequestHeader" name="RequestHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="cancelarLoteFacturasResponse">
    <wsdl:part element="cbr:cancelarLoteFacturasResponse" name="result"/>
<!--     <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/> -->
  </wsdl:message>
  
  <wsdl:message name="consultaContratosCliente">
      <wsdl:part element="cbr:consultaContratosCliente" name="parameters"/>
     <wsdl:part name="RequestHeader" element="auth:RequestHeader"/> 
   </wsdl:message>
    
   <wsdl:message name="consultaContratosClienteResponse">
       <wsdl:part element="cbr:consultaContratosClienteResponse" name="result"/>
       <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/> 
   </wsdl:message>
  
  
  <wsdl:portType name="cobranzasElectronicasPS">
    <wsdl:operation name="cargaArchivoFacturas" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:cargaArchivoFacturasRequest"/>
      <wsdl:output message="fic:cargaArchivoFacturasResponse"/>
    </wsdl:operation>
    <wsdl:operation name="agregarDeudores" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:agregarDeudoresRequest"/>
      <wsdl:output message="fic:agregarDeudoresResponse"/>
    </wsdl:operation>
    <wsdl:operation name="eliminarDeudores" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:eliminarDeudoresRequest"/>
      <wsdl:output message="fic:eliminarDeudoresResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaLoteDeudores" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultaLoteDeudoresRequest"/>
      <wsdl:output message="fic:consultaLoteDeudoresResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaDeudores" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultaDeudoresRequest"/>
      <wsdl:output message="fic:consultaDeudoresResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaLoteFacturas" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultaLoteFacturasRequest"/>
      <wsdl:output message="fic:consultaLoteFacturasResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaFacturas" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultaFacturasRequest"/>
      <wsdl:output message="fic:consultaFacturasResponse"/>
    </wsdl:operation>
    <wsdl:operation name="autorizacion" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:autorizarLoteCobranzas"/>
      <wsdl:output message="fic:autorizarLoteCobranzasResponse"/>
    </wsdl:operation>
    <wsdl:operation name="cancelarLoteFacturas" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:cancelarLoteFacturas"/>
      <wsdl:output message="fic:cancelarLoteFacturasResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaContratosCliente" parameterOrder="parameters RequestHeader ResponseHeader">
       <wsdl:input message="fic:consultaContratosCliente"/>
        <wsdl:output message="fic:consultaContratosClienteResponse"/>
     </wsdl:operation>
   
  </wsdl:portType>
  
  
  <wsdl:binding name="cobranzasElectronicasPSSOAP" type="fic:cobranzasElectronicasPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cargaArchivoFacturas">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasPS/cargaArchivoFacturas"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarDeudores">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasPS/agregarDeudores"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarDeudores">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasPS/eliminarDeudores"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaLoteDeudores">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasPS/consultaLoteDeudores"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaDeudores">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasPS/consultaDeudores"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaLoteFacturas">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasPS/consultaLoteFacturas"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaFacturas">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasPS/consultaFacturas"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autorizacion">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasPS/autorizacion"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarLoteFacturas">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasPS/cancelarLoteFacturas"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>        
        <wsdl:operation name="consultaContratosCliente">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaContratosClientePS/consultaContratosCliente"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/> 
                <soap:header message="fic:consultaContratosCliente" part="RequestHeader" use="literal"/>                
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:consultaContratosClienteResponse" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>    
  </wsdl:binding>
  
  <wsdl:service name="cobranzasElectronicasPS">
    <wsdl:port binding="fic:cobranzasElectronicasPSSOAP" name="cobranzasElectronicasPSSOAP">
      <soap:address location="http://mwomnidesa:8003/Middleware/OperationsAndExecution/Payments/CobranzasElectronicas"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>