Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKPA/consultaPasivosCliente/xsd/consultaPasivosCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaListaPrestamos" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaListaPrestamos" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CUSTOMER_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LIABILITY_TYPE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="LIABILITY_TYPE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LIABILITY_NUMBER" type="db:TOPLEVEL_TVARCHAR30" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LIABILITY_CUST_NAME" type="db:TOPLEVEL_TVARCHAR100" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LIABILITY_CURRENCY_1" type="db:TOPLEVEL_TVARCHAR30" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LIABILITY_PRINCIPAL_AMT_1" type="db:TOPLEVEL_TVARCHAR30" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LIABILITY_INT_COM_AMT_1" type="db:TOPLEVEL_TVARCHAR30" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LIABILITY_TOTAL_AMT_1" type="db:TOPLEVEL_TVARCHAR30" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LIABILITY_CURRENCY_2" type="db:TOPLEVEL_TVARCHAR30" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LIABILITY_PRINCIPAL_AMT_2" type="db:TOPLEVEL_TVARCHAR30" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LIABILITY_INT_COM_AMT_2" type="db:TOPLEVEL_TVARCHAR30" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LIABILITY_TOTAL_AMT_2" type="db:TOPLEVEL_TVARCHAR30" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LIABILITY_TOTAL_AMT" type="db:TOPLEVEL_TVARCHAR30" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LIABILITY_TOTAL_DEBT" type="db:TOPLEVEL_TVARCHAR30" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TOPLEVEL_TVARCHAR100">
      <sequence>
         <element name="LIABILITY_CUST_NAME_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR30">
      <sequence>
         <element name="LIABILITY_NUMBER_ITEM" type="db:string30" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>