Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/CreacionUsuarioSistema/xsd/creaUsuarioSistemaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:aper="http://www.ficohsa.com.hn/middleware.services/aperturaProductosTypes"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/aperturaProductosTypes">

           
           
 
	<!--############################### -->
	<!--OPERACION: CREACION USUARIO ICB -->
	<!--############################### -->	
	
	<xs:element name="creaUsuarioSistema">
		<xs:complexType>
			<xs:sequence>
			     <xs:element name="DOCUMENT_TYPE_ID" type="xs:string"/>
				 <xs:element name="DOCUMENT_NUMBER" type="xs:string"/>
				 <xs:element name="CUSTOMER_NAMES" type="xs:string"/>
				 <xs:element name="CUSTOMER_LAST_NAMES" type="xs:string"/>
				 <xs:element name="EMAIL" type="xs:string"/>
				 <xs:element name="PHONE" type="xs:string"/>
				 <xs:element name="PRODUCT_TYPE_ID" type="xs:string"/>
				 <xs:element name="PRODUCT_NUMBER" type="xs:string"/>
				 <xs:element name="USER_NAME" type="xs:string" /> 
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="creaUsuarioSistemaResponse">
		<xs:complexType>
			<xs:sequence>
			    <xs:element name="USER_NAME" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

 

</xs:schema>