Fuentes/ficohsacore-osb-7e5cceccb837/MWHostToHost/v1/Resources/CobranzasH2H/xsd/cobranzasH2HTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/cobranzasH2HTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hcob="http://www.ficohsa.com.hn/middleware.services/cobranzasH2HTypes" xmlns:gen="http://www.ficohsa.com.hn/middleware.services/genericTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/genericTypes" schemaLocation="../../Generales/xsd/genericTypes.xsd"/>


	<!--############################### -->
	<!--OPERACION: CONSULTA COBRANZA -->
	<!--############################### -->
	<xs:element name="consultaCobranzas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="gen:stringMinLength1"/>
				<xs:element name="SERVICES">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SERVICE" type="hcob:serviceType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--SERVICE TYPE -->
	<xs:complexType name="serviceType">
		<xs:sequence>
			<xs:element name="ID" type="gen:stringMinLength1"/>
			<xs:element name="DEBTORS">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DEBTOR" type="hcob:debtorType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--DEBTOR TYPE -->
	<xs:complexType name="debtorType">
		<xs:sequence>
			<xs:element name="TRACE" type="xs:string" minOccurs="0"/>
			<xs:element name="CODE" type="gen:stringMinLength1"/>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="0"/>
			<xs:element name="RETURN_TYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ALL"/>
						<xs:enumeration value="ONE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EXTENDED_COLLECTION" type="gen:yesNoType"/>
			<xs:element name="ADDITIONAL_INFO" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="INFO" type="hcob:infoType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- INFO TYPE -->
	<xs:complexType name="infoType">
		<xs:sequence>
			<xs:element name="FIELD_NAME" type="xs:string"/>
			<xs:element name="FIELD_VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaCobranzasResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SERVICES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SERVICE" type="hcob:serviceResponseType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="serviceResponseType">
		<xs:sequence>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBTORS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DEBTOR" type="hcob:debtorResponseType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="debtorResponseType">
		<xs:sequence>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
			<xs:element name="TRACE" type="xs:string" minOccurs="0"/>
			<xs:element name="CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="BILLS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BILL" type="hcob:billResponseType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DEALSLIP" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="billResponseType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="ISSUE_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="DUE_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="BALANCES" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BALANCE" type="hcob:balanceResponseType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="balanceResponseType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="LATE_FEE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="TOTAL" type="xs:decimal" minOccurs="0"/>

		</xs:sequence>
	</xs:complexType>


	<!--############################### -->
	<!-- OPERACION: PAGO COBRANZAS -->
	<!--############################### -->
	<xs:element name="pagoCobranzas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="gen:stringMinLength1"/>
				<xs:element name="SERVICES">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SERVICE" type="hcob:servicePaymentType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--SERVICE PAYMENT TYPE -->
	<xs:complexType name="servicePaymentType">
		<xs:sequence>
			<xs:element name="ID" type="gen:stringMinLength1"/>
			<xs:element name="PAYMENT_INFORMATION">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PYMT_METHOD">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ACCT_DEBIT"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PYMT_ID" type="gen:stringMinLength1"/>
                        <xs:element name="PYMT_CURRENCY" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DEBTORS">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DEBTOR" type="hcob:debtorPaymentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--DEBTOR TYPE -->
	<xs:complexType name="debtorPaymentType">
		<xs:sequence>
			<xs:element name="TRACE" type="xs:string" minOccurs="0"/>
			<xs:element name="CODE" type="gen:stringMinLength1"/>
			<xs:element name="AMOUNT" type="xs:decimal"/>
			<xs:element name="EXTENDED_COLLECTION" type="gen:yesNoType"/>
			<xs:element name="BILL_INFORMATION">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BILL_NUMBER" type="gen:stringMinLength1"/>
                        <xs:element name="DUE_DATE" type="xs:date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ADDITIONAL_INFO" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="INFO" type="hcob:infoType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="pagoCobranzasResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SERVICES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SERVICE" type="hcob:servicePaymentResponseType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="servicePaymentResponseType">
		<xs:sequence>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBTORS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DEBTOR" type="hcob:debtorPaymentResponseType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="debtorPaymentResponseType">
		<xs:sequence>
            <xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
			<xs:element name="TRACE" type="xs:string" minOccurs="0"/>
			<xs:element name="CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_INFORMATION" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PYMT_METHOD" type="xs:string"/>
						<xs:element name="CURRENCY" type="gen:currencyType"/>
						<xs:element name="AMOUNT" type="xs:decimal"/>
						<xs:element name="LATE_FEE" type="xs:decimal" minOccurs="0"/>
						<xs:element name="TOTAL" type="xs:decimal" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DEALSLIP" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>



	<!--############################### -->
	<!-- OPERACION: CONSULTA RECIBO -->
	<!--############################### -->

	<xs:element name="consultaRecibo">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="CUSTOMER_ID" type="gen:stringMinLength1"/>
                <xs:element name="SERVICE_ID" type="gen:stringMinLength1"/>
                <xs:element name="DEBTOR_CODE" type="gen:stringMinLength1" minOccurs="0"/>
                <xs:element name="TRANSACTION_ID" type="gen:stringMinLength1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
        
	<xs:element name="consultaReciboResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="SERVICE_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="SERVICE_NAME" type="xs:string" minOccurs="0"/>
                <xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0"/>
                <xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0"/>
                <xs:element name="PYMT_METHOD" type="xs:string" minOccurs="0"/>
                <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
                <xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
                <xs:element name="LATE_FEE" type="xs:decimal" minOccurs="0"/>
                <xs:element name="TOTAL" type="xs:decimal" minOccurs="0"/>
                <xs:element name="DEALSLIP" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>