Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/tarjetaCredito/Resources/TarjetaDeCredito.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://tempuri.org/" xmlns:s1="http://tempuri2.org/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:element name="ConsultarTarjetas">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noIdentidadCliente"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="nombreCliente"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarTarjetasResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="ConsultarTarjetasResult" type="tns:ConsultaTarjetasResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ConsultaTarjetasResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Tarjetas"
						type="tns:ArrayOfStrucTarjetasConsulta" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfStrucTarjetasConsulta">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="StrucTarjetasConsulta" nillable="true" type="tns:StrucTarjetasConsulta" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="StrucTarjetasConsulta">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="nombreTarjetaHabiente" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="numeroCuenta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="categoriaTarjeta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="estatusTarjeta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="producto"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="grupoAfinidad"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="ConsultarUltimoEC">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarUltimoECResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="ConsultarUltimoECResult" type="tns:ConsultarUltimoECResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ConsultarUltimoECResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="nombreTitular"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="noTarjetaCreditoTitular" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="numeroCuenta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="fechaCorte"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="maxFechaPago"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="puntosAcumulados"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="saldos"
						type="tns:ArrayOfArrayOfStrucSaldosEstado" />
					<s:element minOccurs="0" maxOccurs="1" name="tarjetas"
						type="tns:ArrayOfArrayOfItemTarjeta" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfArrayOfStrucSaldosEstado">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="ArrayOfStrucSaldosEstado" nillable="true"
						type="tns:ArrayOfStrucSaldosEstado" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfStrucSaldosEstado">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="moneda"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="limiteCredito"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="saldoCorte"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="pagoContado"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="pagoMinimo"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="saldoAnterior"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="totalAbonos"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="totalCargos"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="saldoTotal"
						type="s:double" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfArrayOfItemTarjeta">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfItemTarjeta"
						nillable="true" type="tns:ArrayOfItemTarjeta" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfItemTarjeta">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="nombreTarjetaHabiente" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="movimientos"
						type="tns:ArrayOfArrayOfItemMovimiento" />
					<s:element minOccurs="0" maxOccurs="1" name="totales"
						type="tns:ArrayOfArrayOfStrucTotalMovimientos" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfArrayOfItemMovimiento">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="ArrayOfItemMovimiento" nillable="true" type="tns:ArrayOfItemMovimiento" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfItemMovimiento">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="secuenciaMov"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="fechaTrx"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="horaTrx"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="descripcion"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="montoOrgnlTrx"
						type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="monedaOrgnlTrx"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="montoTrx"
						type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="monedaTrx"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="tipoMov"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfArrayOfStrucTotalMovimientos">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="ArrayOfStrucTotalMovimientos" nillable="true"
						type="tns:ArrayOfStrucTotalMovimientos" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfStrucTotalMovimientos">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="moneda"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="totalMovimientos"
						type="s:double" />
				</s:sequence>
			</s:complexType>
			<s:element name="ConsultaECHist">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="noAnio"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="noMes"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultaECHistResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="ConsultaECHistResult" type="tns:ConsultarUltimoECResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarMovsRecientes">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarMovsRecientesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="ConsultarMovsRecientesResult" type="tns:ConsultarMovsRecientesResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ConsultarMovsRecientesResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="nombreTitular"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="noTarjetaCreditoTitular" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="numeroCuenta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="saldos"
						type="tns:ArrayOfArrayOfStrucSaldosRecientes" />
					<s:element minOccurs="0" maxOccurs="1" name="tarjetas"
						type="tns:ArrayOfArrayOfItemTarjeta" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfArrayOfStrucSaldosRecientes">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="ArrayOfStrucSaldosRecientes" nillable="true"
						type="tns:ArrayOfStrucSaldosRecientes" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfStrucSaldosRecientes">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="moneda"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="limiteCredito"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="saldoAnterior"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="totalAbonos"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="totalCargos"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="saldoTotal"
						type="s:double" />
				</s:sequence>
			</s:complexType>
			<s:element name="ConsultarIEFinaciamiento">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarIEFinaciamientoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="ConsultarIEFinaciamientoResult" type="tns:ConsultarIEFinaciamientoResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ConsultarIEFinaciamientoResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="nombreTitular"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="noTarjetaCreditoTitular" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="numeroCuenta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="tiposFin"
						type="tns:ArrayOfArrayOfItemTipoF" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfArrayOfItemTipoF">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfItemTipoF"
						nillable="true" type="tns:ArrayOfItemTipoF" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfItemTipoF">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="tipoFinanciamiento"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="tipoFin"
						type="tns:ArrayOfArrayOfItemtipoFin" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfArrayOfItemtipoFin">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfItemtipoFin"
						nillable="true" type="tns:ArrayOfItemtipoFin" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfItemtipoFin">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="moneda"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="disponibleTipo"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="utilizadoTipo"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="interesesTipo"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="saldoTotalTipo"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="saldoActualTipo"
						type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="instFin"
						type="tns:ArrayOfItemInstFin" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfItemInstFin">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="fechaFinanciamiento"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="plazoFinanciamiento"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="tasaFinanciamiento"
						type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="descFinanciamiento"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="estatusFinanciamiento" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1"
						name="utilizadoFinanciamiento" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1"
						name="interesesFinanciamiento" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1"
						name="saldoTotalFinanciamiento" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1"
						name="totalPagadoFinanciamiento" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1"
						name="pendientePagoFinancimiento" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1"
						name="saldoActualFinanciamiento" type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="instFinItems"
						type="tns:ArrayOfArrayOfItemCuotas" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfArrayOfItemCuotas">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfItemCuotas"
						nillable="true" type="tns:ArrayOfItemCuotas" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfItemCuotas">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="numeroCuota"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="fechaCuota"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="capitalCuota"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="interesesCuota"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="montoTotalCuota"
						type="s:double" />
				</s:sequence>
			</s:complexType>
			<s:element name="ConsultarIEFinaciamientoHist">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="noAnio"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="noMes"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarIEFinaciamientoHistResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="ConsultarIEFinaciamientoHistResult" type="tns:ConsultarIEFinaciamientoResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="consultarSaldos">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="consultarSaldosResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="consultarSaldosResult" type="tns:ConsultaSaldosResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ConsultaSaldosResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="nombreTitular"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="noTarjetaCreditoTitular" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="numeroCuenta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="fechaSaldos"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="puntosAcumulados"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="fechaUltimoCorte"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="maxFechaPago"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="codigocliente"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="saldos"
						type="tns:ArrayOfArrayOfStrucSaldosConsulta" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfArrayOfStrucSaldosConsulta">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="ArrayOfStrucSaldosConsulta" nillable="true"
						type="tns:ArrayOfStrucSaldosConsulta" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfStrucSaldosConsulta">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="moneda"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="limiteCredito"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="disponibleCompras"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="disponibleRetiros"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1"
						name="dispExtraFinanciamiento" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1"
						name="saldoExtraFinanciamiento" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="dispConsumoCuotas"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="saldoConsumoCuotas"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="saldoActual"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="saldoVencido"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="saldoFlotante"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="pagoContado"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="pagoMinimo"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="pagosDia"
						type="s:double" />
				</s:sequence>
			</s:complexType>
			<s:element name="InformacionTarjeta">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="InformacionTarjetaResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="InformacionTarjetaResult" type="tns:InformacionTarjetaResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="InformacionTarjetaResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="EstatusConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MensajeConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NumeroCuenta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NombreTarjetaTitular"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="NombreTarjetaHabiente" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="TipoTarjeta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="CodigoClienteCuenta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="IdentificacionClienteCuenta" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="IdentificacionCLienteTarjeta" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Producto"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="GrupoAfinidad"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="EstadoCuenta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="EstadoTarjeta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FechaVencimiento"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Producto_descripcion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="GrupoAfinidad_descripcion" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="InformacionTarjetaACF">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="InformacionTarjetaACFResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="InformacionTarjetaACFResult" type="tns:InformacionTarjetaResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Consultarpagos">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="idReferenciaEnPagoT24" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1"
							name="NumeroDeTarjetaDeCredito" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Fecha"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Monto"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarpagosResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="ConsultarpagosResult" type="tns:ConsultarPagosResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ConsultarPagosResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="EstatusConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MensajeConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="EstatusDelPago"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="MensajesDeConfirmacion" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="IdReferenciaVasa"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="consultarAutorsFlotantes">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="consultarAutorsFlotantesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="consultarAutorsFlotantesResult" type="tns:consultarAutorsFlotantesResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="consultarAutorsFlotantesResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="nombreTitular"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="noTarjetaCreditoTitular" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="numeroCuenta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="tarjetas"
						type="tns:ArrayOfArrayOfItemTarjeta" />
					<s:element minOccurs="0" maxOccurs="1" name="saldosFlotantes"
						type="tns:ArrayOfArrayOfStrucSaldoFlotante" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfArrayOfStrucSaldoFlotante">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="ArrayOfStrucSaldoFlotante" nillable="true"
						type="tns:ArrayOfStrucSaldoFlotante" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfStrucSaldoFlotante">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="moneda"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="saldoFlotanteTotal"
						type="s:double" />
				</s:sequence>
			</s:complexType>
			<s:element name="registrarRetiro">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="fechaExpiracion"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="montoRetiro"
							type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="monedaRetiro"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="canalRetiro"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="fechaRetiro"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="idRefRetiro"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="registrarRetiroResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="registrarRetiroResult" type="tns:PagosResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="PagosResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="reversarRetiro">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="fechaExpiracion"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="montoRetiro"
							type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="monedaRetiro"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="canalRetiro"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="fechaRetiro"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="idRefRetiro"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="codigoRetiro"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="reversarRetiroResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="reversarRetiroResult" type="tns:PagosResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="registrarConsumo">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="FechaExpiracion"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="montoConsumo"
							type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="monedaConsumo"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="DescripcionConsumo"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="canalConsumo"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="fechaConsumo"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="idRefConsumo"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="registrarConsumoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="registrarConsumoResult" type="tns:PagosResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="reversarConsumo">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="fechaExpiracion"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="montoConsumo"
							type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="monedaConsumo"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="canalConsumo"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="fechaConsumo"
							type="s:dateTime" />
						<s:element minOccurs="0" maxOccurs="1" name="idRefConsumo"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="codigoConsumo"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="reversarConsumoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="reversarConsumoResult" type="tns:PagosResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="registrarPago">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="montoPago"
							type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="monedaPago"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="formaPago"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="canalPago"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="fechaPago"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="idRefPago"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="registrarPagoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="registrarPagoResult"
							type="tns:PagosResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="reversarPago">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="montoPago"
							type="s:double" />
						<s:element minOccurs="0" maxOccurs="1" name="monedaPago"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="formaPago"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="canalPago"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="fechaPago"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="idRefPago"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="codigoPago"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="reversarPagoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="reversarPagoResult"
							type="tns:PagosResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultaTarjetasResponse" nillable="true"
				type="tns:ConsultaTarjetasResponse" />
			<s:element name="ClaseConsultaEstado" type="tns:ConsultarUltimoECResponse" />
			<s:element name="ClaseConsultaHistorico" type="tns:ConsultarUltimoECResponse" />
			<s:element name="ClaseConsultaMovimientos" type="tns:ConsultarMovsRecientesResponse" />
			<s:element name="ConsultaClaseFinanciamiento" type="tns:ConsultarIEFinaciamientoResponse" />
			<s:element name="ConsultarSaldos" type="tns:ConsultaSaldosResponse" />
			<s:element name="ConsultaClaseAutorsFlotantes" type="tns:consultarAutorsFlotantesResponse" />
			<s:element name="Retiros" type="tns:PagosResponse" />
			<s:element name="Consumos" type="tns:PagosResponse" />
			<s:element name="Pagos" type="tns:PagosResponse" />
		</s:schema>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri2.org/">
			<s:element name="InformacionTarjeta" type="s1:InformacionTarjetaResponse" />
			<s:complexType name="InformacionTarjetaResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="EstatusConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MensajeConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NumeroCuenta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NombreTarjetaTitular"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="NombreTarjetaHabiente" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="TipoTarjeta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="CodigoClienteCuenta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="IdentificacionClienteCuenta" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="IdentificacionCLienteTarjeta" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Producto"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="GrupoAfinidad"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="EstadoCuenta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="EstadoTarjeta"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FechaVencimiento"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Producto_descripcion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="GrupoAfinidad_descripcion" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="InformacionTarjetaACF" type="s1:InformacionTarjetaResponse" />
			<s:element name="Consultar_pagos" type="s1:ConsultarPagosResponse" />
			<s:complexType name="ConsultarPagosResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="EstatusConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MensajeConfirmacion"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="EstatusDelPago"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="MensajesDeConfirmacion" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="IdReferenciaVasa"
						type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="ConsultarTarjetasSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultarTarjetas" />
	</wsdl:message>
	<wsdl:message name="ConsultarTarjetasSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultarTarjetasResponse" />
	</wsdl:message>
	<wsdl:message name="ConsultarUltimoECSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultarUltimoEC" />
	</wsdl:message>
	<wsdl:message name="ConsultarUltimoECSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultarUltimoECResponse" />
	</wsdl:message>
	<wsdl:message name="ConsultaECHistSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultaECHist" />
	</wsdl:message>
	<wsdl:message name="ConsultaECHistSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultaECHistResponse" />
	</wsdl:message>
	<wsdl:message name="ConsultarMovsRecientesSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultarMovsRecientes" />
	</wsdl:message>
	<wsdl:message name="ConsultarMovsRecientesSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultarMovsRecientesResponse" />
	</wsdl:message>
	<wsdl:message name="ConsultarIEFinaciamientoSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultarIEFinaciamiento" />
	</wsdl:message>
	<wsdl:message name="ConsultarIEFinaciamientoSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultarIEFinaciamientoResponse" />
	</wsdl:message>
	<wsdl:message name="ConsultarIEFinaciamientoHistSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultarIEFinaciamientoHist" />
	</wsdl:message>
	<wsdl:message name="ConsultarIEFinaciamientoHistSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultarIEFinaciamientoHistResponse" />
	</wsdl:message>
	<wsdl:message name="consultarSaldosSoapIn">
		<wsdl:part name="parameters" element="tns:consultarSaldos" />
	</wsdl:message>
	<wsdl:message name="consultarSaldosSoapOut">
		<wsdl:part name="parameters" element="tns:consultarSaldosResponse" />
	</wsdl:message>
	<wsdl:message name="InformacionTarjetaSoapIn">
		<wsdl:part name="parameters" element="tns:InformacionTarjeta" />
	</wsdl:message>
	<wsdl:message name="InformacionTarjetaSoapOut">
		<wsdl:part name="parameters" element="tns:InformacionTarjetaResponse" />
	</wsdl:message>
	<wsdl:message name="InformacionTarjetaACFSoapIn">
		<wsdl:part name="parameters" element="tns:InformacionTarjetaACF" />
	</wsdl:message>
	<wsdl:message name="InformacionTarjetaACFSoapOut">
		<wsdl:part name="parameters" element="tns:InformacionTarjetaACFResponse" />
	</wsdl:message>
	<wsdl:message name="ConsultarpagosSoapIn">
		<wsdl:part name="parameters" element="tns:Consultarpagos" />
	</wsdl:message>
	<wsdl:message name="ConsultarpagosSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultarpagosResponse" />
	</wsdl:message>
	<wsdl:message name="consultarAutorsFlotantesSoapIn">
		<wsdl:part name="parameters" element="tns:consultarAutorsFlotantes" />
	</wsdl:message>
	<wsdl:message name="consultarAutorsFlotantesSoapOut">
		<wsdl:part name="parameters" element="tns:consultarAutorsFlotantesResponse" />
	</wsdl:message>
	<wsdl:message name="registrarRetiroSoapIn">
		<wsdl:part name="parameters" element="tns:registrarRetiro" />
	</wsdl:message>
	<wsdl:message name="registrarRetiroSoapOut">
		<wsdl:part name="parameters" element="tns:registrarRetiroResponse" />
	</wsdl:message>
	<wsdl:message name="reversarRetiroSoapIn">
		<wsdl:part name="parameters" element="tns:reversarRetiro" />
	</wsdl:message>
	<wsdl:message name="reversarRetiroSoapOut">
		<wsdl:part name="parameters" element="tns:reversarRetiroResponse" />
	</wsdl:message>
	<wsdl:message name="registrarConsumoSoapIn">
		<wsdl:part name="parameters" element="tns:registrarConsumo" />
	</wsdl:message>
	<wsdl:message name="registrarConsumoSoapOut">
		<wsdl:part name="parameters" element="tns:registrarConsumoResponse" />
	</wsdl:message>
	<wsdl:message name="reversarConsumoSoapIn">
		<wsdl:part name="parameters" element="tns:reversarConsumo" />
	</wsdl:message>
	<wsdl:message name="reversarConsumoSoapOut">
		<wsdl:part name="parameters" element="tns:reversarConsumoResponse" />
	</wsdl:message>
	<wsdl:message name="registrarPagoSoapIn">
		<wsdl:part name="parameters" element="tns:registrarPago" />
	</wsdl:message>
	<wsdl:message name="registrarPagoSoapOut">
		<wsdl:part name="parameters" element="tns:registrarPagoResponse" />
	</wsdl:message>
	<wsdl:message name="reversarPagoSoapIn">
		<wsdl:part name="parameters" element="tns:reversarPago" />
	</wsdl:message>
	<wsdl:message name="reversarPagoSoapOut">
		<wsdl:part name="parameters" element="tns:reversarPagoResponse" />
	</wsdl:message>
	<wsdl:message name="ConsultarTarjetasHttpGetIn">
		<wsdl:part name="noIdentidadCliente" type="s:string" />
		<wsdl:part name="nombreCliente" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultarTarjetasHttpGetOut">
		<wsdl:part name="Body" element="tns:ConsultaTarjetasResponse" />
	</wsdl:message>
	<wsdl:message name="ConsultarUltimoECHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultarUltimoECHttpGetOut">
		<wsdl:part name="Body" element="tns:ClaseConsultaEstado" />
	</wsdl:message>
	<wsdl:message name="ConsultaECHistHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="noAnio" type="s:string" />
		<wsdl:part name="noMes" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultaECHistHttpGetOut">
		<wsdl:part name="Body" element="tns:ClaseConsultaHistorico" />
	</wsdl:message>
	<wsdl:message name="ConsultarMovsRecientesHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultarMovsRecientesHttpGetOut">
		<wsdl:part name="Body" element="tns:ClaseConsultaMovimientos" />
	</wsdl:message>
	<wsdl:message name="ConsultarIEFinaciamientoHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultarIEFinaciamientoHttpGetOut">
		<wsdl:part name="Body" element="tns:ConsultaClaseFinanciamiento" />
	</wsdl:message>
	<wsdl:message name="ConsultarIEFinaciamientoHistHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="noAnio" type="s:string" />
		<wsdl:part name="noMes" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultarIEFinaciamientoHistHttpGetOut">
		<wsdl:part name="Body" element="tns:ConsultaClaseFinanciamiento" />
	</wsdl:message>
	<wsdl:message name="consultarSaldosHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="consultarSaldosHttpGetOut">
		<wsdl:part name="Body" element="tns:ConsultarSaldos" />
	</wsdl:message>
	<wsdl:message name="InformacionTarjetaHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="InformacionTarjetaHttpGetOut">
		<wsdl:part name="Body" element="s1:InformacionTarjeta" />
	</wsdl:message>
	<wsdl:message name="InformacionTarjetaACFHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="InformacionTarjetaACFHttpGetOut">
		<wsdl:part name="Body" element="s1:InformacionTarjetaACF" />
	</wsdl:message>
	<wsdl:message name="ConsultarpagosHttpGetIn">
		<wsdl:part name="idReferenciaEnPagoT24" type="s:string" />
		<wsdl:part name="NumeroDeTarjetaDeCredito" type="s:string" />
		<wsdl:part name="Fecha" type="s:string" />
		<wsdl:part name="Monto" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultarpagosHttpGetOut">
		<wsdl:part name="Body" element="s1:Consultar_pagos" />
	</wsdl:message>
	<wsdl:message name="consultarAutorsFlotantesHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="consultarAutorsFlotantesHttpGetOut">
		<wsdl:part name="Body" element="tns:ConsultaClaseAutorsFlotantes" />
	</wsdl:message>
	<wsdl:message name="registrarRetiroHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="fechaExpiracion" type="s:string" />
		<wsdl:part name="montoRetiro" type="s:string" />
		<wsdl:part name="monedaRetiro" type="s:string" />
		<wsdl:part name="canalRetiro" type="s:string" />
		<wsdl:part name="fechaRetiro" type="s:string" />
		<wsdl:part name="idRefRetiro" type="s:string" />
	</wsdl:message>
	<wsdl:message name="registrarRetiroHttpGetOut">
		<wsdl:part name="Body" element="tns:Retiros" />
	</wsdl:message>
	<wsdl:message name="reversarRetiroHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="fechaExpiracion" type="s:string" />
		<wsdl:part name="montoRetiro" type="s:string" />
		<wsdl:part name="monedaRetiro" type="s:string" />
		<wsdl:part name="canalRetiro" type="s:string" />
		<wsdl:part name="fechaRetiro" type="s:string" />
		<wsdl:part name="idRefRetiro" type="s:string" />
		<wsdl:part name="codigoRetiro" type="s:string" />
	</wsdl:message>
	<wsdl:message name="reversarRetiroHttpGetOut">
		<wsdl:part name="Body" element="tns:Retiros" />
	</wsdl:message>
	<wsdl:message name="registrarConsumoHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="FechaExpiracion" type="s:string" />
		<wsdl:part name="montoConsumo" type="s:string" />
		<wsdl:part name="monedaConsumo" type="s:string" />
		<wsdl:part name="DescripcionConsumo" type="s:string" />
		<wsdl:part name="canalConsumo" type="s:string" />
		<wsdl:part name="fechaConsumo" type="s:string" />
		<wsdl:part name="idRefConsumo" type="s:string" />
	</wsdl:message>
	<wsdl:message name="registrarConsumoHttpGetOut">
		<wsdl:part name="Body" element="tns:Consumos" />
	</wsdl:message>
	<wsdl:message name="reversarConsumoHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="fechaExpiracion" type="s:string" />
		<wsdl:part name="montoConsumo" type="s:string" />
		<wsdl:part name="monedaConsumo" type="s:string" />
		<wsdl:part name="canalConsumo" type="s:string" />
		<wsdl:part name="fechaConsumo" type="s:string" />
		<wsdl:part name="idRefConsumo" type="s:string" />
		<wsdl:part name="codigoConsumo" type="s:string" />
	</wsdl:message>
	<wsdl:message name="reversarConsumoHttpGetOut">
		<wsdl:part name="Body" element="tns:Consumos" />
	</wsdl:message>
	<wsdl:message name="registrarPagoHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="montoPago" type="s:string" />
		<wsdl:part name="monedaPago" type="s:string" />
		<wsdl:part name="formaPago" type="s:string" />
		<wsdl:part name="canalPago" type="s:string" />
		<wsdl:part name="fechaPago" type="s:string" />
		<wsdl:part name="idRefPago" type="s:string" />
	</wsdl:message>
	<wsdl:message name="registrarPagoHttpGetOut">
		<wsdl:part name="Body" element="tns:Pagos" />
	</wsdl:message>
	<wsdl:message name="reversarPagoHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="montoPago" type="s:string" />
		<wsdl:part name="monedaPago" type="s:string" />
		<wsdl:part name="formaPago" type="s:string" />
		<wsdl:part name="canalPago" type="s:string" />
		<wsdl:part name="fechaPago" type="s:string" />
		<wsdl:part name="idRefPago" type="s:string" />
		<wsdl:part name="codigoPago" type="s:string" />
	</wsdl:message>
	<wsdl:message name="reversarPagoHttpGetOut">
		<wsdl:part name="Body" element="tns:Pagos" />
	</wsdl:message>
	<wsdl:message name="ConsultarTarjetasHttpPostIn">
		<wsdl:part name="noIdentidadCliente" type="s:string" />
		<wsdl:part name="nombreCliente" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultarTarjetasHttpPostOut">
		<wsdl:part name="Body" element="tns:ConsultaTarjetasResponse" />
	</wsdl:message>
	<wsdl:message name="ConsultarUltimoECHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultarUltimoECHttpPostOut">
		<wsdl:part name="Body" element="tns:ClaseConsultaEstado" />
	</wsdl:message>
	<wsdl:message name="ConsultaECHistHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="noAnio" type="s:string" />
		<wsdl:part name="noMes" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultaECHistHttpPostOut">
		<wsdl:part name="Body" element="tns:ClaseConsultaHistorico" />
	</wsdl:message>
	<wsdl:message name="ConsultarMovsRecientesHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultarMovsRecientesHttpPostOut">
		<wsdl:part name="Body" element="tns:ClaseConsultaMovimientos" />
	</wsdl:message>
	<wsdl:message name="ConsultarIEFinaciamientoHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultarIEFinaciamientoHttpPostOut">
		<wsdl:part name="Body" element="tns:ConsultaClaseFinanciamiento" />
	</wsdl:message>
	<wsdl:message name="ConsultarIEFinaciamientoHistHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="noAnio" type="s:string" />
		<wsdl:part name="noMes" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultarIEFinaciamientoHistHttpPostOut">
		<wsdl:part name="Body" element="tns:ConsultaClaseFinanciamiento" />
	</wsdl:message>
	<wsdl:message name="consultarSaldosHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="consultarSaldosHttpPostOut">
		<wsdl:part name="Body" element="tns:ConsultarSaldos" />
	</wsdl:message>
	<wsdl:message name="InformacionTarjetaHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="InformacionTarjetaHttpPostOut">
		<wsdl:part name="Body" element="s1:InformacionTarjeta" />
	</wsdl:message>
	<wsdl:message name="InformacionTarjetaACFHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="InformacionTarjetaACFHttpPostOut">
		<wsdl:part name="Body" element="s1:InformacionTarjetaACF" />
	</wsdl:message>
	<wsdl:message name="ConsultarpagosHttpPostIn">
		<wsdl:part name="idReferenciaEnPagoT24" type="s:string" />
		<wsdl:part name="NumeroDeTarjetaDeCredito" type="s:string" />
		<wsdl:part name="Fecha" type="s:string" />
		<wsdl:part name="Monto" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultarpagosHttpPostOut">
		<wsdl:part name="Body" element="s1:Consultar_pagos" />
	</wsdl:message>
	<wsdl:message name="consultarAutorsFlotantesHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
	</wsdl:message>
	<wsdl:message name="consultarAutorsFlotantesHttpPostOut">
		<wsdl:part name="Body" element="tns:ConsultaClaseAutorsFlotantes" />
	</wsdl:message>
	<wsdl:message name="registrarRetiroHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="fechaExpiracion" type="s:string" />
		<wsdl:part name="montoRetiro" type="s:string" />
		<wsdl:part name="monedaRetiro" type="s:string" />
		<wsdl:part name="canalRetiro" type="s:string" />
		<wsdl:part name="fechaRetiro" type="s:string" />
		<wsdl:part name="idRefRetiro" type="s:string" />
	</wsdl:message>
	<wsdl:message name="registrarRetiroHttpPostOut">
		<wsdl:part name="Body" element="tns:Retiros" />
	</wsdl:message>
	<wsdl:message name="reversarRetiroHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="fechaExpiracion" type="s:string" />
		<wsdl:part name="montoRetiro" type="s:string" />
		<wsdl:part name="monedaRetiro" type="s:string" />
		<wsdl:part name="canalRetiro" type="s:string" />
		<wsdl:part name="fechaRetiro" type="s:string" />
		<wsdl:part name="idRefRetiro" type="s:string" />
		<wsdl:part name="codigoRetiro" type="s:string" />
	</wsdl:message>
	<wsdl:message name="reversarRetiroHttpPostOut">
		<wsdl:part name="Body" element="tns:Retiros" />
	</wsdl:message>
	<wsdl:message name="registrarConsumoHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="FechaExpiracion" type="s:string" />
		<wsdl:part name="montoConsumo" type="s:string" />
		<wsdl:part name="monedaConsumo" type="s:string" />
		<wsdl:part name="DescripcionConsumo" type="s:string" />
		<wsdl:part name="canalConsumo" type="s:string" />
		<wsdl:part name="fechaConsumo" type="s:string" />
		<wsdl:part name="idRefConsumo" type="s:string" />
	</wsdl:message>
	<wsdl:message name="registrarConsumoHttpPostOut">
		<wsdl:part name="Body" element="tns:Consumos" />
	</wsdl:message>
	<wsdl:message name="reversarConsumoHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="fechaExpiracion" type="s:string" />
		<wsdl:part name="montoConsumo" type="s:string" />
		<wsdl:part name="monedaConsumo" type="s:string" />
		<wsdl:part name="canalConsumo" type="s:string" />
		<wsdl:part name="fechaConsumo" type="s:string" />
		<wsdl:part name="idRefConsumo" type="s:string" />
		<wsdl:part name="codigoConsumo" type="s:string" />
	</wsdl:message>
	<wsdl:message name="reversarConsumoHttpPostOut">
		<wsdl:part name="Body" element="tns:Consumos" />
	</wsdl:message>
	<wsdl:message name="registrarPagoHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="montoPago" type="s:string" />
		<wsdl:part name="monedaPago" type="s:string" />
		<wsdl:part name="formaPago" type="s:string" />
		<wsdl:part name="canalPago" type="s:string" />
		<wsdl:part name="fechaPago" type="s:string" />
		<wsdl:part name="idRefPago" type="s:string" />
	</wsdl:message>
	<wsdl:message name="registrarPagoHttpPostOut">
		<wsdl:part name="Body" element="tns:Pagos" />
	</wsdl:message>
	<wsdl:message name="reversarPagoHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string" />
		<wsdl:part name="montoPago" type="s:string" />
		<wsdl:part name="monedaPago" type="s:string" />
		<wsdl:part name="formaPago" type="s:string" />
		<wsdl:part name="canalPago" type="s:string" />
		<wsdl:part name="fechaPago" type="s:string" />
		<wsdl:part name="idRefPago" type="s:string" />
		<wsdl:part name="codigoPago" type="s:string" />
	</wsdl:message>
	<wsdl:message name="reversarPagoHttpPostOut">
		<wsdl:part name="Body" element="tns:Pagos" />
	</wsdl:message>
	<wsdl:portType name="WSDLSoap">
		<wsdl:operation name="ConsultarTarjetas">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Tarjetas
				de Credito</wsdl:documentation>
			<wsdl:input message="tns:ConsultarTarjetasSoapIn" />
			<wsdl:output message="tns:ConsultarTarjetasSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarUltimoEC">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Consultar Estados de Cuenta a la Fecha del Ultimo Corte
</wsdl:documentation>
			<wsdl:input message="tns:ConsultarUltimoECSoapIn" />
			<wsdl:output message="tns:ConsultarUltimoECSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultaECHist">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Estados
				de Cuenta Historico</wsdl:documentation>
			<wsdl:input message="tns:ConsultaECHistSoapIn" />
			<wsdl:output message="tns:ConsultaECHistSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarMovsRecientes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Movimientos despues de la fecha del ultimo de corte
</wsdl:documentation>
			<wsdl:input message="tns:ConsultarMovsRecientesSoapIn" />
			<wsdl:output message="tns:ConsultarMovsRecientesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamiento">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Consultar de Consumo en Cuotas y Extra Financiamiento
</wsdl:documentation>
			<wsdl:input message="tns:ConsultarIEFinaciamientoSoapIn" />
			<wsdl:output message="tns:ConsultarIEFinaciamientoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamientoHist">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Consultar de Consumo en Cuotas y Extra Financiamiento Historico
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarIEFinaciamientoHistSoapIn" />
			<wsdl:output message="tns:ConsultarIEFinaciamientoHistSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="consultarSaldos">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Saldos
			</wsdl:documentation>
			<wsdl:input message="tns:consultarSaldosSoapIn" />
			<wsdl:output message="tns:consultarSaldosSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjeta">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Informacion Tarjeta
			</wsdl:documentation>
			<wsdl:input message="tns:InformacionTarjetaSoapIn" />
			<wsdl:output message="tns:InformacionTarjetaSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjetaACF">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Informacion Tarjeta
				ACF Sistema de Colas SAC</wsdl:documentation>
			<wsdl:input message="tns:InformacionTarjetaACFSoapIn" />
			<wsdl:output message="tns:InformacionTarjetaACFSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="Consultarpagos">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar_pagos
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarpagosSoapIn" />
			<wsdl:output message="tns:ConsultarpagosSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="consultarAutorsFlotantes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar de
				Autorizaciones Flotantes</wsdl:documentation>
			<wsdl:input message="tns:consultarAutorsFlotantesSoapIn" />
			<wsdl:output message="tns:consultarAutorsFlotantesSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="registrarRetiro">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar Retiros
			</wsdl:documentation>
			<wsdl:input message="tns:registrarRetiroSoapIn" />
			<wsdl:output message="tns:registrarRetiroSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="reversarRetiro">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reversar Retiros
			</wsdl:documentation>
			<wsdl:input message="tns:reversarRetiroSoapIn" />
			<wsdl:output message="tns:reversarRetiroSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="registrarConsumo">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar Consumos
			</wsdl:documentation>
			<wsdl:input message="tns:registrarConsumoSoapIn" />
			<wsdl:output message="tns:registrarConsumoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="reversarConsumo">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reversar Consumos
			</wsdl:documentation>
			<wsdl:input message="tns:reversarConsumoSoapIn" />
			<wsdl:output message="tns:reversarConsumoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="registrarPago">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar Pagos
			</wsdl:documentation>
			<wsdl:input message="tns:registrarPagoSoapIn" />
			<wsdl:output message="tns:registrarPagoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="reversarPago">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reversar Pagos
			</wsdl:documentation>
			<wsdl:input message="tns:reversarPagoSoapIn" />
			<wsdl:output message="tns:reversarPagoSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="WSDLHttpGet">
		<wsdl:operation name="ConsultarTarjetas">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Tarjetas
				de Credito</wsdl:documentation>
			<wsdl:input message="tns:ConsultarTarjetasHttpGetIn" />
			<wsdl:output message="tns:ConsultarTarjetasHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarUltimoEC">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Consultar Estados de Cuenta a la Fecha del Ultimo Corte
</wsdl:documentation>
			<wsdl:input message="tns:ConsultarUltimoECHttpGetIn" />
			<wsdl:output message="tns:ConsultarUltimoECHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultaECHist">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Estados
				de Cuenta Historico</wsdl:documentation>
			<wsdl:input message="tns:ConsultaECHistHttpGetIn" />
			<wsdl:output message="tns:ConsultaECHistHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarMovsRecientes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Movimientos despues de la fecha del ultimo de corte
</wsdl:documentation>
			<wsdl:input message="tns:ConsultarMovsRecientesHttpGetIn" />
			<wsdl:output message="tns:ConsultarMovsRecientesHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamiento">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Consultar de Consumo en Cuotas y Extra Financiamiento
</wsdl:documentation>
			<wsdl:input message="tns:ConsultarIEFinaciamientoHttpGetIn" />
			<wsdl:output message="tns:ConsultarIEFinaciamientoHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamientoHist">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Consultar de Consumo en Cuotas y Extra Financiamiento Historico
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarIEFinaciamientoHistHttpGetIn" />
			<wsdl:output message="tns:ConsultarIEFinaciamientoHistHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="consultarSaldos">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Saldos
			</wsdl:documentation>
			<wsdl:input message="tns:consultarSaldosHttpGetIn" />
			<wsdl:output message="tns:consultarSaldosHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjeta">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Informacion Tarjeta
			</wsdl:documentation>
			<wsdl:input message="tns:InformacionTarjetaHttpGetIn" />
			<wsdl:output message="tns:InformacionTarjetaHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjetaACF">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Informacion Tarjeta
				ACF Sistema de Colas SAC</wsdl:documentation>
			<wsdl:input message="tns:InformacionTarjetaACFHttpGetIn" />
			<wsdl:output message="tns:InformacionTarjetaACFHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="Consultarpagos">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar_pagos
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarpagosHttpGetIn" />
			<wsdl:output message="tns:ConsultarpagosHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="consultarAutorsFlotantes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar de
				Autorizaciones Flotantes</wsdl:documentation>
			<wsdl:input message="tns:consultarAutorsFlotantesHttpGetIn" />
			<wsdl:output message="tns:consultarAutorsFlotantesHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="registrarRetiro">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar Retiros
			</wsdl:documentation>
			<wsdl:input message="tns:registrarRetiroHttpGetIn" />
			<wsdl:output message="tns:registrarRetiroHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="reversarRetiro">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reversar Retiros
			</wsdl:documentation>
			<wsdl:input message="tns:reversarRetiroHttpGetIn" />
			<wsdl:output message="tns:reversarRetiroHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="registrarConsumo">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar Consumos
			</wsdl:documentation>
			<wsdl:input message="tns:registrarConsumoHttpGetIn" />
			<wsdl:output message="tns:registrarConsumoHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="reversarConsumo">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reversar Consumos
			</wsdl:documentation>
			<wsdl:input message="tns:reversarConsumoHttpGetIn" />
			<wsdl:output message="tns:reversarConsumoHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="registrarPago">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar Pagos
			</wsdl:documentation>
			<wsdl:input message="tns:registrarPagoHttpGetIn" />
			<wsdl:output message="tns:registrarPagoHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="reversarPago">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reversar Pagos
			</wsdl:documentation>
			<wsdl:input message="tns:reversarPagoHttpGetIn" />
			<wsdl:output message="tns:reversarPagoHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="WSDLHttpPost">
		<wsdl:operation name="ConsultarTarjetas">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Tarjetas
				de Credito</wsdl:documentation>
			<wsdl:input message="tns:ConsultarTarjetasHttpPostIn" />
			<wsdl:output message="tns:ConsultarTarjetasHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarUltimoEC">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Consultar Estados de Cuenta a la Fecha del Ultimo Corte
</wsdl:documentation>
			<wsdl:input message="tns:ConsultarUltimoECHttpPostIn" />
			<wsdl:output message="tns:ConsultarUltimoECHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultaECHist">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Estados
				de Cuenta Historico</wsdl:documentation>
			<wsdl:input message="tns:ConsultaECHistHttpPostIn" />
			<wsdl:output message="tns:ConsultaECHistHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarMovsRecientes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Movimientos despues de la fecha del ultimo de corte
</wsdl:documentation>
			<wsdl:input message="tns:ConsultarMovsRecientesHttpPostIn" />
			<wsdl:output message="tns:ConsultarMovsRecientesHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamiento">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Consultar de Consumo en Cuotas y Extra Financiamiento
</wsdl:documentation>
			<wsdl:input message="tns:ConsultarIEFinaciamientoHttpPostIn" />
			<wsdl:output message="tns:ConsultarIEFinaciamientoHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamientoHist">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Consultar de Consumo en Cuotas y Extra Financiamiento Historico
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarIEFinaciamientoHistHttpPostIn" />
			<wsdl:output message="tns:ConsultarIEFinaciamientoHistHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="consultarSaldos">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar Saldos
			</wsdl:documentation>
			<wsdl:input message="tns:consultarSaldosHttpPostIn" />
			<wsdl:output message="tns:consultarSaldosHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjeta">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Informacion Tarjeta
			</wsdl:documentation>
			<wsdl:input message="tns:InformacionTarjetaHttpPostIn" />
			<wsdl:output message="tns:InformacionTarjetaHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjetaACF">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Informacion Tarjeta
				ACF Sistema de Colas SAC</wsdl:documentation>
			<wsdl:input message="tns:InformacionTarjetaACFHttpPostIn" />
			<wsdl:output message="tns:InformacionTarjetaACFHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="Consultarpagos">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar_pagos
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarpagosHttpPostIn" />
			<wsdl:output message="tns:ConsultarpagosHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="consultarAutorsFlotantes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar de
				Autorizaciones Flotantes</wsdl:documentation>
			<wsdl:input message="tns:consultarAutorsFlotantesHttpPostIn" />
			<wsdl:output message="tns:consultarAutorsFlotantesHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="registrarRetiro">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar Retiros
			</wsdl:documentation>
			<wsdl:input message="tns:registrarRetiroHttpPostIn" />
			<wsdl:output message="tns:registrarRetiroHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="reversarRetiro">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reversar Retiros
			</wsdl:documentation>
			<wsdl:input message="tns:reversarRetiroHttpPostIn" />
			<wsdl:output message="tns:reversarRetiroHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="registrarConsumo">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar Consumos
			</wsdl:documentation>
			<wsdl:input message="tns:registrarConsumoHttpPostIn" />
			<wsdl:output message="tns:registrarConsumoHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="reversarConsumo">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reversar Consumos
			</wsdl:documentation>
			<wsdl:input message="tns:reversarConsumoHttpPostIn" />
			<wsdl:output message="tns:reversarConsumoHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="registrarPago">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registrar Pagos
			</wsdl:documentation>
			<wsdl:input message="tns:registrarPagoHttpPostIn" />
			<wsdl:output message="tns:registrarPagoHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="reversarPago">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reversar Pagos
			</wsdl:documentation>
			<wsdl:input message="tns:reversarPagoHttpPostIn" />
			<wsdl:output message="tns:reversarPagoHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WSDLSoap" type="tns:WSDLSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ConsultarTarjetas">
			<soap:operation soapAction="http://tempuri.org/ConsultarTarjetas"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarUltimoEC">
			<soap:operation soapAction="http://tempuri.org/ConsultarUltimoEC"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultaECHist">
			<soap:operation soapAction="http://tempuri.org/ConsultaECHist"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarMovsRecientes">
			<soap:operation soapAction="http://tempuri.org/ConsultarMovsRecientes"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamiento">
			<soap:operation soapAction="http://tempuri.org/ConsultarIEFinaciamiento"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamientoHist">
			<soap:operation soapAction="http://tempuri.org/ConsultarIEFinaciamientoHist"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultarSaldos">
			<soap:operation soapAction="http://tempuri.org/consultarSaldos"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjeta">
			<soap:operation soapAction="http://tempuri.org/InformacionTarjeta"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjetaACF">
			<soap:operation soapAction="http://tempuri.org/InformacionTarjetaACF"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Consultarpagos">
			<soap:operation soapAction="http://tempuri.org/Consultarpagos"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultarAutorsFlotantes">
			<soap:operation soapAction="http://tempuri.org/consultarAutorsFlotantes"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registrarRetiro">
			<soap:operation soapAction="http://tempuri.org/registrarRetiro"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reversarRetiro">
			<soap:operation soapAction="http://tempuri.org/reversarRetiro"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registrarConsumo">
			<soap:operation soapAction="http://tempuri.org/registrarConsumo"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reversarConsumo">
			<soap:operation soapAction="http://tempuri.org/reversarConsumo"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registrarPago">
			<soap:operation soapAction="http://tempuri.org/registrarPago"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reversarPago">
			<soap:operation soapAction="http://tempuri.org/reversarPago"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WSDLSoap12" type="tns:WSDLSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ConsultarTarjetas">
			<soap12:operation soapAction="http://tempuri.org/ConsultarTarjetas"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarUltimoEC">
			<soap12:operation soapAction="http://tempuri.org/ConsultarUltimoEC"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultaECHist">
			<soap12:operation soapAction="http://tempuri.org/ConsultaECHist"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarMovsRecientes">
			<soap12:operation soapAction="http://tempuri.org/ConsultarMovsRecientes"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamiento">
			<soap12:operation soapAction="http://tempuri.org/ConsultarIEFinaciamiento"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamientoHist">
			<soap12:operation soapAction="http://tempuri.org/ConsultarIEFinaciamientoHist"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultarSaldos">
			<soap12:operation soapAction="http://tempuri.org/consultarSaldos"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjeta">
			<soap12:operation soapAction="http://tempuri.org/InformacionTarjeta"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjetaACF">
			<soap12:operation soapAction="http://tempuri.org/InformacionTarjetaACF"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Consultarpagos">
			<soap12:operation soapAction="http://tempuri.org/Consultarpagos"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultarAutorsFlotantes">
			<soap12:operation soapAction="http://tempuri.org/consultarAutorsFlotantes"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registrarRetiro">
			<soap12:operation soapAction="http://tempuri.org/registrarRetiro"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reversarRetiro">
			<soap12:operation soapAction="http://tempuri.org/reversarRetiro"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registrarConsumo">
			<soap12:operation soapAction="http://tempuri.org/registrarConsumo"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reversarConsumo">
			<soap12:operation soapAction="http://tempuri.org/reversarConsumo"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registrarPago">
			<soap12:operation soapAction="http://tempuri.org/registrarPago"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reversarPago">
			<soap12:operation soapAction="http://tempuri.org/reversarPago"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WSDLHttpGet" type="tns:WSDLHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="ConsultarTarjetas">
			<http:operation location="/ConsultarTarjetas" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarUltimoEC">
			<http:operation location="/ConsultarUltimoEC" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultaECHist">
			<http:operation location="/ConsultaECHist" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarMovsRecientes">
			<http:operation location="/ConsultarMovsRecientes" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamiento">
			<http:operation location="/ConsultarIEFinaciamiento" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamientoHist">
			<http:operation location="/ConsultarIEFinaciamientoHist" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultarSaldos">
			<http:operation location="/consultarSaldos" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjeta">
			<http:operation location="/InformacionTarjeta" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjetaACF">
			<http:operation location="/InformacionTarjetaACF" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Consultarpagos">
			<http:operation location="/Consultarpagos" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultarAutorsFlotantes">
			<http:operation location="/consultarAutorsFlotantes" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registrarRetiro">
			<http:operation location="/registrarRetiro" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reversarRetiro">
			<http:operation location="/reversarRetiro" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registrarConsumo">
			<http:operation location="/registrarConsumo" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reversarConsumo">
			<http:operation location="/reversarConsumo" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registrarPago">
			<http:operation location="/registrarPago" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reversarPago">
			<http:operation location="/reversarPago" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WSDLHttpPost" type="tns:WSDLHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="ConsultarTarjetas">
			<http:operation location="/ConsultarTarjetas" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarUltimoEC">
			<http:operation location="/ConsultarUltimoEC" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultaECHist">
			<http:operation location="/ConsultaECHist" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarMovsRecientes">
			<http:operation location="/ConsultarMovsRecientes" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamiento">
			<http:operation location="/ConsultarIEFinaciamiento" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarIEFinaciamientoHist">
			<http:operation location="/ConsultarIEFinaciamientoHist" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultarSaldos">
			<http:operation location="/consultarSaldos" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjeta">
			<http:operation location="/InformacionTarjeta" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InformacionTarjetaACF">
			<http:operation location="/InformacionTarjetaACF" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Consultarpagos">
			<http:operation location="/Consultarpagos" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultarAutorsFlotantes">
			<http:operation location="/consultarAutorsFlotantes" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registrarRetiro">
			<http:operation location="/registrarRetiro" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reversarRetiro">
			<http:operation location="/reversarRetiro" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registrarConsumo">
			<http:operation location="/registrarConsumo" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reversarConsumo">
			<http:operation location="/reversarConsumo" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registrarPago">
			<http:operation location="/registrarPago" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reversarPago">
			<http:operation location="/reversarPago" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WSDL">
		<wsdl:port name="WSDLSoap" binding="tns:WSDLSoap">
			<soap:address location="http://172.16.100.43/wsinfotarjetasciti/wsdl.asmx" />
		</wsdl:port>
		<wsdl:port name="WSDLSoap12" binding="tns:WSDLSoap12">
			<soap12:address location="http://172.16.100.43/wsinfotarjetasciti/wsdl.asmx" />
		</wsdl:port>
		<wsdl:port name="WSDLHttpGet" binding="tns:WSDLHttpGet">
			<http:address location="http://172.16.100.43/wsinfotarjetasciti/wsdl.asmx" />
		</wsdl:port>
		<wsdl:port name="WSDLHttpPost" binding="tns:WSDLHttpPost">
			<http:address location="http://172.16.100.15/wsdl/WSDL.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>