Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/transferencia/wsdl/COBISCorp.eCOBIS.SrvAplCobisTransferencia.Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SrvAplCobisTransferencia" targetNamespace="http://impl.service.srvaplcobistransferencia.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.srvaplcobistransferencia.ecobis.cobiscorp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:S1="http://impl.service.srvaplcobistransferencia.ecobis.cobiscorp/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.srvaplcobistransferencia.ecobis.cobiscorp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://service.srvaplcobistransferencia.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsjOpConsultaFinacierasACHSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaFinacierasACHSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaRegSalienteTrRespuesta">
    <wsdl:part name="parameters" element="tns:opTransferenciaRegSalienteTrRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaFinacierasACHRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaFinacierasACHRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaRegEntranteTrSolicitud">
    <wsdl:part name="parameters" element="tns:opTransferenciaRegEntranteTrSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaCuentaRespuesta">
    <wsdl:part name="parameters" element="tns:opTransferenciaCuentaRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaABASWIFTRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaABASWIFTRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaRegEntranteTrRespuesta">
    <wsdl:part name="parameters" element="tns:opTransferenciaRegEntranteTrRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaRegSalienteTcSolicitud">
    <wsdl:part name="parameters" element="tns:opTransferenciaRegSalienteTcSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaRegSalienteTrSolicitud">
    <wsdl:part name="parameters" element="tns:opTransferenciaRegSalienteTrSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaCuentaSolicitud">
    <wsdl:part name="parameters" element="tns:opTransferenciaCuentaSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaIndividualACHSolicitud">
    <wsdl:part name="parameters" element="tns:opTransferenciaIndividualACHSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaRegionalRespuesta">
    <wsdl:part name="parameters" element="tns:opTransferenciaRegionalRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaInternacionalSolicitud">
    <wsdl:part name="parameters" element="tns:opTransferenciaInternacionalSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaABASWIFTSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaABASWIFTSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaRegSalienteTcRespuesta">
    <wsdl:part name="parameters" element="tns:opTransferenciaRegSalienteTcRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaRegionalSolicitud">
    <wsdl:part name="parameters" element="tns:opTransferenciaRegionalSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaInternacionalRespuesta">
    <wsdl:part name="parameters" element="tns:opTransferenciaInternacionalRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpTransferenciaIndividualACHRespuesta">
    <wsdl:part name="parameters" element="tns:opTransferenciaIndividualACHRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SrvAplCobisTransferencia">
    <wsdl:operation name="OpConsultaABASWIFT">
      <wsdl:input message="S1:MsjOpConsultaABASWIFTSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpConsultaABASWIFTRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaFinacierasACH">
      <wsdl:input message="S1:MsjOpConsultaFinacierasACHSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpConsultaFinacierasACHRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaCuenta">
      <wsdl:input message="S1:MsjOpTransferenciaCuentaSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpTransferenciaCuentaRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaIndividualACH">
      <wsdl:input message="S1:MsjOpTransferenciaIndividualACHSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpTransferenciaIndividualACHRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaInternacional">
      <wsdl:input message="S1:MsjOpTransferenciaInternacionalSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpTransferenciaInternacionalRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaRegEntranteTr">
      <wsdl:input message="S1:MsjOpTransferenciaRegEntranteTrSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpTransferenciaRegEntranteTrRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaRegional">
      <wsdl:input message="S1:MsjOpTransferenciaRegionalSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpTransferenciaRegionalRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaRegSalienteTc">
      <wsdl:input message="S1:MsjOpTransferenciaRegSalienteTcSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpTransferenciaRegSalienteTcRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaRegSalienteTr">
      <wsdl:input message="S1:MsjOpTransferenciaRegSalienteTrSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpTransferenciaRegSalienteTrRespuesta">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvAplCobisTransferenciaBindingSOAP12" type="S1:SrvAplCobisTransferencia">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpConsultaABASWIFT">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaFinacierasACH">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaCuenta">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaIndividualACH">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaInternacional">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaRegEntranteTr">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaRegional">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaRegSalienteTc">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpTransferenciaRegSalienteTr">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvAplCobisTransferenciaService">
    <wsdl:port name="SrvAplCobisTransferenciaBindingSOAP12" binding="S1:SrvAplCobisTransferenciaBindingSOAP12">
      <soap12:address location="http://10.235.53.149:9080/GerenciaTransferencia/SrvAplCobisTransferenciaService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
