Fuentes/ficohsacore-vortex-7ebad6e8baaa/MWHostToHost/v1/BusinessServices/MDW/obtenerParametrizacion/xsd/ORA_BANK_OSB_GET_CONFIG.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_GET_CONFIG/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_GET_CONFIG/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PARAMETRIZACIONES" type="db:TVARCHAR100" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CONFIGURACIONES" type="db:CONFIGS" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CONFIGS">
      <sequence>
         <element name="CONFIGURACIONES_ITEM" type="db:CONFIG" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR100">
      <sequence>
         <element name="NOMBRE" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="CONFIG">
      <sequence>
         <element name="NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VALUE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="500"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DESCRIPTION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1000"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>