Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/AmpliacionLimiteClienteVenta/xsd/ampliacionLimiteClienteVentaTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/ampliacionLimiteClienteVentaTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/ampliacionLimiteClienteVentaTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
   <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
    <!--############################################-->
    <!-- OPERATION: ampliacionLimiteClienteVenta -->
    <!--############################################-->
    <xs:element name="ampliacionLimiteClienteVenta">
        <xs:complexType>
           <xs:sequence>
				<xs:element name="CUSTOMER_ID" type="tns:stringMinLength1"/>
				<xs:element name="SPECIAL_CUSTOMER_YES_NO" type="tns:stringMinLength1"/>		
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ampliacionLimiteClienteVentaResponse">
        <xs:complexType>
           <xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>		
			</xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>