Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaExtraATM/xsd/consultaExtraATMTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaExtraATMTypes" 
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaExtraATMTypes">
	
	<xs:element name="consultaExtraATMRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRODUCT_TYPE" type="tns:ProductType" />
				<xs:element name="PRODUCT_VALUE" type="xs:string" />			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- Tipos permitidos para PRODUCT_TYPE -->
	<xs:simpleType name="ProductType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DNI"/>
			<xs:enumeration value="CUSTOMER_ID"/>
			<xs:enumeration value="DEBIT_CARD"/>
			<xs:enumeration value="CREDIT_CARD"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- respuesta -->
	<xs:element name="consultaExtraATMResponse">
		<xs:complexType>
	   		 <xs:sequence>
	   		 	<xs:element name="CUSTOMER_NAME" type="xs:string"/>
                <xs:element name="AVAILABLE_AMOUNT" type="xs:decimal"/>
                <xs:element name="INTEREST_RATE" type="xs:decimal"/>
                <xs:element name="OFFER_TYPE" type="xs:string"/>
                <xs:element name="CREDIT_CARD" type="xs:string"/>
	   		 </xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>