Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/T24/svcAhorroProgramado/wsdl/svcAhorroProgramado.wsdl

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/svcAhorroProgramadoAnyTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/svcAhorroProgramado.xsd"/>
    </xsd:schema>
  </types>
  <message name="DesbloqueodecuentasAOP_Validate">
    <part name="parameters" element="tns:DesbloqueodecuentasAOP_Validate"/>
  </message>
  <message name="DesbloqueodecuentasAOP_ValidateResponse">
    <part name="parameters" element="tns:DesbloqueodecuentasAOP_ValidateResponse"/>
  </message>
  <message name="DesbloqueodecuentasAOP">
    <part name="parameters" element="tns:DesbloqueodecuentasAOP"/>
  </message>
  <message name="DesbloqueodecuentasAOPResponse">
    <part name="parameters" element="tns:DesbloqueodecuentasAOPResponse"/>
  </message>
  <message name="ConsultaCAP">
    <part name="parameters" element="tns:ConsultaCAP"/>
  </message>
  <message name="ConsultaCAPResponse">
    <part name="parameters" element="tns:ConsultaCAPResponse"/>
  </message>
  <message name="Consultacuentasdeorigendisponib">
    <part name="parameters" element="tns:Consultacuentasdeorigendisponib"/>
  </message>
  <message name="ConsultacuentasdeorigendisponibResponse">
    <part name="parameters" element="tns:ConsultacuentasdeorigendisponibResponse"/>
  </message>
  <message name="callOfs">
    <part name="parameters" element="tns:callOfs"/>
  </message>
  <message name="callOfsResponse">
    <part name="parameters" element="tns:callOfsResponse"/>
  </message>
  <portType name="T24WebServicesImpl">
    <operation name="DesbloqueodecuentasAOP_Validate">
      <input message="tns:DesbloqueodecuentasAOP_Validate"/>
      <output message="tns:DesbloqueodecuentasAOP_ValidateResponse"/>
    </operation>
    <operation name="DesbloqueodecuentasAOP">
      <input message="tns:DesbloqueodecuentasAOP"/>
      <output message="tns:DesbloqueodecuentasAOPResponse"/>
    </operation>
    <operation name="ConsultaCAP">
      <input message="tns:ConsultaCAP"/>
      <output message="tns:ConsultaCAPResponse"/>
    </operation>
    <operation name="Consultacuentasdeorigendisponib">
      <input message="tns:Consultacuentasdeorigendisponib"/>
      <output message="tns:ConsultacuentasdeorigendisponibResponse"/>
    </operation>
    <operation name="callOfs">
      <input message="tns:callOfs"/>
      <output message="tns:callOfsResponse"/>
    </operation>
  </portType>
  <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="DesbloqueodecuentasAOP_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DesbloqueodecuentasAOP">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConsultaCAP">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultacuentasdeorigendisponib">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="callOfs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="T24WebServicesImplService">
    <port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
      <soap:address location="http://172.23.177.15:7003/svcAhorroProgramado/services"/>
    </port>
  </service>
</definitions>