Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaCheque/Resources/XMLSchema_516353548.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="ConsultaChequesPagadosFT" type="tns:ConsultaChequesPagadosFT"/>

<xs:element name="ConsultaChequesPagadosFTHIS" type="tns:ConsultaChequesPagadosFTHIS"/>

<xs:element name="ConsultaChequesPagadosFTHISResponse" type="tns:ConsultaChequesPagadosFTHISResponse"/>

<xs:element name="ConsultaChequesPagadosFTResponse" type="tns:ConsultaChequesPagadosFTResponse"/>

<xs:element name="ConsultaChequesPagadosTT" type="tns:ConsultaChequesPagadosTT"/>

<xs:element name="ConsultaChequesPagadosTTHIS" type="tns:ConsultaChequesPagadosTTHIS"/>

<xs:element name="ConsultaChequesPagadosTTHISResponse" type="tns:ConsultaChequesPagadosTTHISResponse"/>

<xs:element name="ConsultaChequesPagadosTTResponse" type="tns:ConsultaChequesPagadosTTResponse"/>

<xs:element name="Consultachequesdispporcuenta" type="tns:Consultachequesdispporcuenta"/>

<xs:element name="ConsultachequesdispporcuentaResponse" type="tns:ConsultachequesdispporcuentaResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="WSTTCHEQUESPRESENTEDHISType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSTTCHEQUESPRESENTEDHISDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSTTCHEQUESPRESENTEDHISDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUECURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEINPUTTER" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LATAMAGDISPCHQBROWENQType">
<xs:sequence>
<xs:element name="gLATAMAGDISPCHQBROWENQDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLATAMAGDISPCHQBROWENQDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ChequeNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFTCHEQUESPRESENTEDHISType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFTCHEQUESPRESENTEDHISDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFTCHEQUESPRESENTEDHISDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUECURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEINPUTTER" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFTCHEQUESPRESENTEDType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFTCHEQUESPRESENTEDDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFTCHEQUESPRESENTEDDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUECURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEINPUTTER" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSTTCHEQUESPRESENTEDType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSTTCHEQUESPRESENTEDDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSTTCHEQUESPRESENTEDDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUECURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEINPUTTER" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaChequesPagadosTT">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSTTCHEQUESPRESENTEDType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaChequesPagadosTTResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSTTCHEQUESPRESENTEDType" type="tns:WSTTCHEQUESPRESENTEDType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultachequesdispporcuenta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="LATAMAGDISPCHQBROWENQType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultachequesdispporcuentaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMAGDISPCHQBROWENQType" type="tns:LATAMAGDISPCHQBROWENQType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaChequesPagadosFT">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFTCHEQUESPRESENTEDType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaChequesPagadosFTResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFTCHEQUESPRESENTEDType" type="tns:WSFTCHEQUESPRESENTEDType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaChequesPagadosFTHIS">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFTCHEQUESPRESENTEDHISType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaChequesPagadosFTHISResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFTCHEQUESPRESENTEDHISType" type="tns:WSFTCHEQUESPRESENTEDHISType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaChequesPagadosTTHIS">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSTTCHEQUESPRESENTEDHISType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaChequesPagadosTTHISResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSTTCHEQUESPRESENTEDHISType" type="tns:WSTTCHEQUESPRESENTEDHISType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>