Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaProductoBeneficio/xsd/consultaProductoBeneficiosTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaProductoBeneficiosTypes"
            xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaProductoBeneficiosTypes"
            version="1.0">

<xs:element name="consultaProductoBeneficiosResponse">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="PRODUCTS"  type="con:productsResponseType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:complexType name="productsResponseType">
    <xs:sequence>
        <xs:element name="PRODUCT" type="con:productResponseType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>
            
<xs:complexType name="productResponseType">
    <xs:sequence>
        <xs:element name="TYPE" type="xs:string" minOccurs="1"/>
        <xs:element name="VALUE" type="xs:string" minOccurs="1"/>
        <xs:element name="BENEFIT" type="xs:string" minOccurs="1"/>
        <xs:element name="REGION" type="xs:string" minOccurs="1"/>
        <xs:element name="APPLY_BENEFIT" type="xs:string" minOccurs="0"/>        
    </xs:sequence>
</xs:complexType>

<xs:element name="consultaProductoBeneficios">
    <xs:complexType>
		 <xs:sequence>		 	
            <xs:element name="PRODUCTS"  type="con:productsType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
	</xs:complexType>
</xs:element>

<xs:complexType name="productsType">
    <xs:sequence>
        <xs:element name="PRODUCT" type="con:productType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>  
<xs:complexType name="productType">
    <xs:sequence>
        <xs:element name="TYPE" type="xs:string" minOccurs="0"/>
        <xs:element name="VALUE" type="xs:string" minOccurs="1"/>
        <xs:element name="BENEFIT" type="xs:string" minOccurs="1"/>
        <xs:element name="REGION" type="xs:string" minOccurs="1"/>        
    </xs:sequence>
</xs:complexType> 
   
</xs:schema>