Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/tarjetaCredito/SolicitudAmpliacionLimiteTarjetaCredito/solicitudAmpliacionLimiteTarjetaCreditoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/solicitudAmpliacionLimiteTarjetaCreditoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/solicitudAmpliacionLimiteTarjetaCreditoTypes">
		
	<xs:complexType name = "solicitudAmpliacionLimiteTarjetaCreditoResponse">
		<xs:sequence>
		</xs:sequence> 
	</xs:complexType>
	
	<xs:element name="solicitudAmpliacionLimiteTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="USER_ID" type="xs:string"/>
	            <xs:element name="EMAIL_ADDRESS" type="xs:string"/>
	            <xs:element name="CUSTOMER_ID" type="xs:string"/>
	            <xs:element name="INTERFACE_REFERENCE_NO" type="xs:string"/>
	            <xs:element name="CARD_NUMBER" type="xs:string"/>
	            <xs:element name="HOME_ADDRESS" type="xs:string"/>
	            <xs:element name="REGION" type="xs:string"/>
	            <xs:element name="WORK_COMPANY" type="xs:string"/>
	            <xs:element name="CURRENT_WORK_POSITION" type="xs:string"/>
	            <xs:element name="LCY_MONTHLY_SALARY" type="xs:string"/>
	            <xs:element name="WORK_ADDRESS" type="xs:string"/>
	            <xs:element name="WORK_PHONE" type="xs:string"/>
	            <xs:element name="LCY_CURRENT_LIMIT" type="xs:string"/>
	            <xs:element name="FCY_CURRENT_LIMIT" type="xs:string"/>
	            <xs:element name="LCY_REQUESTED_LIMIT" type="xs:string"/>
	            <xs:element name="FCY_REQUESTED_LIMIT" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="solicitudAmpliacionLimiteTarjetaCreditoResponse" type="cons:solicitudAmpliacionLimiteTarjetaCreditoResponse"/>
	
</xs:schema>