Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/PuntoVentaVirtual/wsdl/puntoVentaVirtual.wsdl

<wsdl:definitions targetNamespace="http://www.ficohsa.com.hn/middleware.services/puntoVentaVirtual/" name="puntoVentaVirtualPS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/puntoVentaVirtual/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:pos="http://www.ficohsa.com.hn/middleware.services/puntoVentaVirtualTypes">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/puntoVentaVirtualTypes" schemaLocation="../xsd/PuntoVentaVirtualTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="consumoTarjetaCreditoRequest">
		<wsdl:part element="pos:consumoTarjetaCredito" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consumoTarjetaCreditoResponse">
		<wsdl:part element="pos:consumoTarjetaCreditoResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="anulacionConsumoTarjetaCreditoRequest">
		<wsdl:part element="pos:anulacionConsumoTarjetaCredito" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="anulacionConsumoTarjetaCreditoResponse">
		<wsdl:part element="pos:anulacionConsumoTarjetaCreditoResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="reversaConsumoTarjetaCreditoRequest">
		<wsdl:part element="pos:reversaConsumoTarjetaCredito" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="reversaConsumoTarjetaCreditoResponse">
		<wsdl:part element="pos:reversaConsumoTarjetaCreditoResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:portType name="puntoVentaVirtualPS">
		<wsdl:operation name="consumoTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consumoTarjetaCreditoRequest"/>
			<wsdl:output message="fic:consumoTarjetaCreditoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="anulacionConsumoTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:anulacionConsumoTarjetaCreditoRequest"/>
			<wsdl:output message="fic:anulacionConsumoTarjetaCreditoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="reversaConsumoTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:reversaConsumoTarjetaCreditoRequest"/>
			<wsdl:output message="fic:reversaConsumoTarjetaCreditoResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="puntoVentaVirtualPSSOAP" type="fic:puntoVentaVirtualPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consumoTarjetaCredito">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/puntoVentaVirtualPS/puntoVentaVirtual"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:consumoTarjetaCreditoRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:consumoTarjetaCreditoResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="anulacionConsumoTarjetaCredito">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/puntoVentaVirtualPS/puntoVentaVirtual"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:anulacionConsumoTarjetaCreditoRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:anulacionConsumoTarjetaCreditoResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reversaConsumoTarjetaCredito">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/puntoVentaVirtualPS/puntoVentaVirtual"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:reversaConsumoTarjetaCreditoRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:reversaConsumoTarjetaCreditoResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="puntoVentaVirtualPS">
		<wsdl:port binding="fic:puntoVentaVirtualPSSOAP" name="puntoVentaVirtualPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/SalesAndServices/BrandManagement/puntoVentaVirtual"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>