Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/T24/CreaProspecto/xsd/XMLSchema_435747315.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xs:schema version="1.0" targetNamespace="T24WebServicesImpl" xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NewProspect" type="tns:NewProspect"/>
  <xs:element name="NewProspectResponse" type="tns:NewProspectResponse"/>
  <xs:element name="NewProspect_Validate" type="tns:NewProspect_Validate"/>
  <xs:element name="NewProspect_ValidateResponse" type="tns:NewProspect_ValidateResponse"/>
  <xs:element name="callOfs" type="tns:callOfs"/>
  <xs:element name="callOfsResponse" type="tns:callOfsResponse"/>
  <xs:complexType name="CUSTOMERNEWPROSPECTWSType">
    <xs:sequence>
      <xs:element name="MNEMONIC" type="xs:string" minOccurs="0"/>
      <xs:element name="gSHORTNAME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ShortName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gNAME1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FirstName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gSTREET" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StreetName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Sector" type="xs:string" minOccurs="0"/>
      <xs:element name="AccountOfficer" type="xs:string" minOccurs="0"/>
      <xs:element name="Industry" type="xs:string" minOccurs="0"/>
      <xs:element name="Target" type="xs:string" minOccurs="0"/>
      <xs:element name="Nationality" type="xs:string" minOccurs="0"/>
      <xs:element name="CustomerStatus" type="xs:string" minOccurs="0"/>
      <xs:element name="Residence" type="xs:string" minOccurs="0"/>
      <xs:element name="gLEGALID" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLEGALID" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALDOCNAME" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Language" type="xs:string" minOccurs="0"/>
      <xs:element name="Nombres" type="xs:string" minOccurs="0"/>
      <xs:element name="Apellidos" type="xs:string" minOccurs="0"/>
      <xs:element name="Gender" type="xs:string" minOccurs="0"/>
      <xs:element name="FECHANACIMIENTO" type="xs:string" minOccurs="0"/>
      <xs:element name="MaritalStatus" type="xs:string" minOccurs="0"/>
      <xs:element name="gPHONE1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PhoneNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Ocupacion" type="xs:string" minOccurs="0"/>
      <xs:element name="SRCOFINCOME" type="xs:string" minOccurs="0"/>
      <xs:element name="COLONYCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="REFERENCES" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPEPLIST" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="CUSTOMERType">
    <xs:sequence>
      <xs:element name="MNEMONIC" type="xs:string" minOccurs="0"/>
      <xs:element name="gSHORTNAME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SHORTNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gNAME1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NAME1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gNAME2" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NAME2" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gSTREET" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="STREET" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLLADDRESS" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLLADDRESS" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="sgLLADDRESS" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ADDRESS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                      </xs:sequence>
                      <xs:attribute name="sg" type="xs:positiveInteger"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gTOWNCOUNTRY" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TOWNCOUNTRY" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gPOSTCODE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="POSTCODE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gCOUNTRY" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="COUNTRY" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gRELATIONCODE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mRELATIONCODE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="RELATIONCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELCUSTOMER" type="xs:string" minOccurs="0"/>
                  <xs:element name="REVERSRELCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="sgRELDELIVOPT" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="RELDELIVOPT" minOccurs="0" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="RELDELIVOPT" type="xs:string" minOccurs="0"/>
                              <xs:element name="ROLE" type="xs:string" minOccurs="0"/>
                              <xs:element name="ROLEMOREINFO" type="xs:string" minOccurs="0"/>
                              <xs:element name="ROLENOTES" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                            <xs:attribute name="s" type="xs:positiveInteger"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="sg" type="xs:positiveInteger"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="RELRESERV6" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELRESERV5" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELRESERV4" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELRESERV3" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELRESERV2" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELRESERV1" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="SECTOR" type="xs:string" minOccurs="0"/>
      <xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
      <xs:element name="gOTHEROFFICER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OTHEROFFICER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="INDUSTRY" type="xs:string" minOccurs="0"/>
      <xs:element name="TARGET" type="xs:string" minOccurs="0"/>
      <xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSTOMERSTATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="RESIDENCE" type="xs:string" minOccurs="0"/>
      <xs:element name="CONTACTDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="INTRODUCER" type="xs:string" minOccurs="0"/>
      <xs:element name="gTEXT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TEXT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLEGALID" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLEGALID" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALDOCNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALHOLDERNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALISSAUTH" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALISSDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALEXPDATE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gOFFPHONE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OFFPHONE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="REVIEWFREQUENCY" type="xs:string" minOccurs="0"/>
      <xs:element name="BIRTHINCORPDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="GLOBALCUSTOMER" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSTOMERLIABILITY" type="xs:string" minOccurs="0"/>
      <xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
      <xs:element name="POSTINGRESTRICT" type="xs:string" minOccurs="0"/>
      <xs:element name="DISPOOFFICER" type="xs:string" minOccurs="0"/>
      <xs:element name="COMPANYBOOK" type="xs:string" minOccurs="0"/>
      <xs:element name="CONFIDTXT" type="xs:string" minOccurs="0"/>
      <xs:element name="DISPOEXEMPT" type="xs:string" minOccurs="0"/>
      <xs:element name="ISSUECHEQUES" type="xs:string" minOccurs="0"/>
      <xs:element name="CLSCPARTY" type="xs:string" minOccurs="0"/>
      <xs:element name="FXCOMMGROUPID" type="xs:string" minOccurs="0"/>
      <xs:element name="RESIDENCEREGION" type="xs:string" minOccurs="0"/>
      <xs:element name="ASSETCLASS" type="xs:string" minOccurs="0"/>
      <xs:element name="gCUSTOMERRATING" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CUSTOMERRATING" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gCRPROFILETYPE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mCRPROFILETYPE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="CRPROFILETYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CRPROFILE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="NOUPDATECRM" type="xs:string" minOccurs="0"/>
      <xs:element name="TITLE" type="xs:string" minOccurs="0"/>
      <xs:element name="GIVENNAMES" type="xs:string" minOccurs="0"/>
      <xs:element name="FAMILYNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="GENDER" type="xs:string" minOccurs="0"/>
      <xs:element name="DATEOFBIRTH" type="xs:string" minOccurs="0"/>
      <xs:element name="MARITALSTATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="NOOFDEPENDENTS" type="xs:string" minOccurs="0"/>
      <xs:element name="gPHONE1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PHONE1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gSMS1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SMS1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gEMAIL1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="EMAIL1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gEMPLOYMENTSTATUS" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mEMPLOYMENTSTATUS" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="EMPLOYMENTSTATUS" type="xs:string" minOccurs="0"/>
                  <xs:element name="OCCUPATION" type="xs:string" minOccurs="0"/>
                  <xs:element name="JOBTITLE" type="xs:string" minOccurs="0"/>
                  <xs:element name="EMPLOYERSNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="sgEMPLOYERSADD" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="EMPLOYERSADD" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                      </xs:sequence>
                      <xs:attribute name="sg" type="xs:positiveInteger"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="EMPLOYERSBUSS" type="xs:string" minOccurs="0"/>
                  <xs:element name="EMPLOYMENTSTART" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTOMERCURRENCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="SALARY" type="xs:string" minOccurs="0"/>
                  <xs:element name="ANNUALBONUS" type="xs:string" minOccurs="0"/>
                  <xs:element name="SALARYDATEFREQ" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="NETMONTHLYIN" type="xs:string" minOccurs="0"/>
      <xs:element name="NETMONTHLYOUT" type="xs:string" minOccurs="0"/>
      <xs:element name="gRESIDENCESTATUS" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mRESIDENCESTATUS" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="RESIDENCESTATUS" type="xs:string" minOccurs="0"/>
                  <xs:element name="RESIDENCETYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="RESIDENCESINCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="RESIDENCEVALUE" type="xs:string" minOccurs="0"/>
                  <xs:element name="MORTGAGEAMT" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gOTHERFINREL" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mOTHERFINREL" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="OTHERFINREL" type="xs:string" minOccurs="0"/>
                  <xs:element name="OTHERFININST" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gCOMMTYPE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mCOMMTYPE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="COMMTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="PREFCHANNEL" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="ALLOWBULKPROCESS" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_52" type="xs:string" minOccurs="0"/>
      <xs:element name="gINTERESTS" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="INTERESTS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gFAX1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FAX1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gPREVIOUSNAME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mPREVIOUSNAME" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PREVIOUSNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="CHANGEDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CHANGEREASON" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="CUSTOMERSINCE" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSTOMERTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_51" type="xs:string" minOccurs="0"/>
      <xs:element name="DATELASTVERIFIED" type="xs:string" minOccurs="0"/>
      <xs:element name="gSPOKENLANGUAGE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SPOKENLANGUAGE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gPASTIMES" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PASTIMES" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gFURTHERDETAILS" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FURTHERDETAILS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="DOMICILE" type="xs:string" minOccurs="0"/>
      <xs:element name="gOTHERNATIONALITY" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OTHERNATIONALITY" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="CALCRISKCLASS" type="xs:string" minOccurs="0"/>
      <xs:element name="MANUALRISKCLASS" type="xs:string" minOccurs="0"/>
      <xs:element name="OVERRIDEREASON" type="xs:string" minOccurs="0"/>
      <xs:element name="gTAXID" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TAXID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gVISTYPE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mVISTYPE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="VISTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="sgVISCOMMENT" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="VISCOMMENT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                      </xs:sequence>
                      <xs:attribute name="sg" type="xs:positiveInteger"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="sgVISINTERNALREVIE" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="VISINTERNALREVIEW" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                      </xs:sequence>
                      <xs:attribute name="sg" type="xs:positiveInteger"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gFORMERVISTYPE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mFORMERVISTYPE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="FORMERVISTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="sgFORMERVISCOMMENT" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="FORMERVISCOMMENT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                      </xs:sequence>
                      <xs:attribute name="sg" type="xs:positiveInteger"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gRISKASSETTYPE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mRISKASSETTYPE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="RISKASSETTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="RISKLEVEL" type="xs:string" minOccurs="0"/>
                  <xs:element name="RISKTOLERANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="RISKFROMDATE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LASTKYCREVIEWDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUTONEXTKYCREVIEWDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="MANUALNEXTKYCREVIEWDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="LASTSUITREVIEWDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUTONEXTSUITREVIEWDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="MANUALNEXTSUITREVIEWDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="KYCRELATIONSHIP" type="xs:string" minOccurs="0"/>
      <xs:element name="gMANDATEAPPL" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mMANDATEAPPL" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="MANDATEAPPL" type="xs:string" minOccurs="0"/>
                  <xs:element name="MANDATEREG" type="xs:string" minOccurs="0"/>
                  <xs:element name="MANDATERECORD" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="SECUREMESSAGE" type="xs:string" minOccurs="0"/>
      <xs:element name="AMLCHECK" type="xs:string" minOccurs="0"/>
      <xs:element name="AMLRESULT" type="xs:string" minOccurs="0"/>
      <xs:element name="LASTAMLRESULTDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="KYCCOMPLETE" type="xs:string" minOccurs="0"/>
      <xs:element name="INTERNETBANKINGSERVICE" type="xs:string" minOccurs="0"/>
      <xs:element name="MOBILEBANKINGSERVICE" type="xs:string" minOccurs="0"/>
      <xs:element name="REPORTTEMPLATE" type="xs:string" minOccurs="0"/>
      <xs:element name="gHOLDINGSPIVOT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="HOLDINGSPIVOT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="RESERVED_38" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_37" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_36" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_35" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_34" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_33" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_32" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_31" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_30" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_29" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_28" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_27" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_26" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_25" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_24" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_23" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_22" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_21" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_20" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_19" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_18" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_17" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_16" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_15" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_14" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_13" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_12" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_11" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_10" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_09" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_08" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_07" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_06" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_05" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_04" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_03" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_02" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_01" type="xs:string" minOccurs="0"/>
      <xs:element name="gOVERRIDE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
      <xs:element name="gINPUTTER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gDATETIME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
      <xs:element name="COCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
      <xs:element name="POLICYOWNER" type="xs:string" minOccurs="0"/>
      <xs:element name="RISKEXPTYPEID" type="xs:string" minOccurs="0"/>
      <xs:element name="RISKISCPARTY" type="xs:string" minOccurs="0"/>
      <xs:element name="RISKISGTOR" type="xs:string" minOccurs="0"/>
      <xs:element name="RISKISISSUER" type="xs:string" minOccurs="0"/>
      <xs:element name="RISKISRETAIL" type="xs:string" minOccurs="0"/>
      <xs:element name="RISKCOREREPO" type="xs:string" minOccurs="0"/>
      <xs:element name="RISKTOTASSETS" type="xs:string" minOccurs="0"/>
      <xs:element name="RISKTOTSALES" type="xs:string" minOccurs="0"/>
      <xs:element name="LRINDXLEGALID" type="xs:string" minOccurs="0"/>
      <xs:element name="MARRLASTNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="LRGRTDEBBANK" type="xs:string" minOccurs="0"/>
      <xs:element name="AGE" type="xs:string" minOccurs="0"/>
      <xs:element name="EDUCATIONLEVEL" type="xs:string" minOccurs="0"/>
      <xs:element name="PROFESIONTRADE" type="xs:string" minOccurs="0"/>
      <xs:element name="TYPEOFCOMPANY" type="xs:string" minOccurs="0"/>
      <xs:element name="SRCOFINCOME" type="xs:string" minOccurs="0"/>
      <xs:element name="gNAME.DEPENDENT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mNAME.DEPENDENT" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="NAMEDEPENDENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="PROFESSIONDEP" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELATIONSHIP" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRSMDBCNBS" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPENPROFESION" type="xs:string" minOccurs="0"/>
      <xs:element name="PLACEOFBIRTH" type="xs:string" minOccurs="0"/>
      <xs:element name="SPOUSENAME" type="xs:string" minOccurs="0"/>
      <xs:element name="MUNICIPALITY" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONENUMBER" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCLIENTTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRGRDBCNBS" type="xs:string" minOccurs="0"/>
      <xs:element name="LRINDCAT" type="xs:string" minOccurs="0"/>
      <xs:element name="QUACATCLASS" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSFINSCORE" type="xs:string" minOccurs="0"/>
      <xs:element name="COMHOMCAT" type="xs:string" minOccurs="0"/>
      <xs:element name="CONHOMCAT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRREFDAT" type="xs:string" minOccurs="0"/>
      <xs:element name="MICHOMCAT" type="xs:string" minOccurs="0"/>
      <xs:element name="SCCOMHOMCAT" type="xs:string" minOccurs="0"/>
      <xs:element name="SCCONHOMCAT" type="xs:string" minOccurs="0"/>
      <xs:element name="SCVIVHOMCAT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCATPERC" type="xs:string" minOccurs="0"/>
      <xs:element name="SCLOANRESERVE" type="xs:string" minOccurs="0"/>
      <xs:element name="FIRLASTNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="SECLASTNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="LREXONIMP" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCARDNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPHOTONAME" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPROFESS" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCAMPUS" type="xs:string" minOccurs="0"/>
      <xs:element name="gADDRESS.TYPE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mADDRESS.TYPE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ADDRESSTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="MAINADPHYCOR" type="xs:string" minOccurs="0"/>
                  <xs:element name="COUNTRYCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="STATECODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CITYCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="COLONYCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="NEIGHBPENDING" type="xs:string" minOccurs="0"/>
                  <xs:element name="AVENUE" type="xs:string" minOccurs="0"/>
                  <xs:element name="ADDSTREET" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLOCK" type="xs:string" minOccurs="0"/>
                  <xs:element name="HOUSENUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="REFERENCES" type="xs:string" minOccurs="0"/>
                  <xs:element name="COMPLETEADDRES" type="xs:string" minOccurs="0"/>
                  <xs:element name="COMPLETADDRESS" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="TYPEOFMERCHNT" type="xs:string" minOccurs="0"/>
      <xs:element name="YEARSOFWORK" type="xs:string" minOccurs="0"/>
      <xs:element name="gINCOME.CCY" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mINCOME.CCY" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="INCOMECCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="INCOMERANGES" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gPROVIDER.NAME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mPROVIDER.NAME" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PROVIDERNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="GEOPROVILOC" type="xs:string" minOccurs="0"/>
                  <xs:element name="PRDPROVIDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="PROVIDERTELNO" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gCLINET.NAME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mCLINET.NAME" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="CLINETNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="GEOCLIENTLOC" type="xs:string" minOccurs="0"/>
                  <xs:element name="SRVPRODOFFER" type="xs:string" minOccurs="0"/>
                  <xs:element name="CLIENTTELNOS" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gNAME.COMM.REF" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mNAME.COMM.REF" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="NAMECOMMREF" type="xs:string" minOccurs="0"/>
                  <xs:element name="COMMREFCONN" type="xs:string" minOccurs="0"/>
                  <xs:element name="TELNOCOMMREF" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="OWNVEHICLE" type="xs:string" minOccurs="0"/>
      <xs:element name="gNAME.PERS.REF" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mNAME.PERS.REF" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="NAMEPERSREF" type="xs:string" minOccurs="0"/>
                  <xs:element name="FSLSTNMPRRF" type="xs:string" minOccurs="0"/>
                  <xs:element name="SELSTNMPRRF" type="xs:string" minOccurs="0"/>
                  <xs:element name="MRLSTNMPRRF" type="xs:string" minOccurs="0"/>
                  <xs:element name="TELNOPERREF" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELWTHPERREF" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="AMTOFEMPLOYE" type="xs:string" minOccurs="0"/>
      <xs:element name="AVENOPROVIDER" type="xs:string" minOccurs="0"/>
      <xs:element name="RECOLLOFVALUE" type="xs:string" minOccurs="0"/>
      <xs:element name="TYPIDENLGLRP" type="xs:string" minOccurs="0"/>
      <xs:element name="IDENNOLGLREP" type="xs:string" minOccurs="0"/>
      <xs:element name="LEGALREPNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="LGLREPNAMLST" type="xs:string" minOccurs="0"/>
      <xs:element name="MRLSLGLRPNM" type="xs:string" minOccurs="0"/>
      <xs:element name="LGLRPHSTLNO" type="xs:string" minOccurs="0"/>
      <xs:element name="LGLRPCLTLNO" type="xs:string" minOccurs="0"/>
      <xs:element name="LEGALREPEMAIL" type="xs:string" minOccurs="0"/>
      <xs:element name="gPOW.OVR.COMP" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="POWOVRCOMP" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gDESC.OF.POWER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DESCOFPOWER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="TYPIDNPERCNT" type="xs:string" minOccurs="0"/>
      <xs:element name="IDNNOPERCONT" type="xs:string" minOccurs="0"/>
      <xs:element name="NMPERSONCONT" type="xs:string" minOccurs="0"/>
      <xs:element name="LSTNMPERCONT" type="xs:string" minOccurs="0"/>
      <xs:element name="MARLSTPRCONT" type="xs:string" minOccurs="0"/>
      <xs:element name="HOUTELNOCONT" type="xs:string" minOccurs="0"/>
      <xs:element name="CELNOPERCONT" type="xs:string" minOccurs="0"/>
      <xs:element name="EMAILPERCONT" type="xs:string" minOccurs="0"/>
      <xs:element name="CURPOSPERCNT" type="xs:string" minOccurs="0"/>
      <xs:element name="ECONOMICGROUP" type="xs:string" minOccurs="0"/>
      <xs:element name="TYPEBNKCLIENT" type="xs:string" minOccurs="0"/>
      <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
      <xs:element name="TYPESHARES" type="xs:string" minOccurs="0"/>
      <xs:element name="TYPEOFSALES" type="xs:string" minOccurs="0"/>
      <xs:element name="VOLUMEOFSALES" type="xs:string" minOccurs="0"/>
      <xs:element name="SHARECAPITAL" type="xs:string" minOccurs="0"/>
      <xs:element name="NOOFDEED" type="xs:string" minOccurs="0"/>
      <xs:element name="REGISTERDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="REGISTERNO" type="xs:string" minOccurs="0"/>
      <xs:element name="VOLOFREGISTER" type="xs:string" minOccurs="0"/>
      <xs:element name="gPURP.OF.COMP" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PURPOFCOMP" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOCIETYTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="gMGMT.COUNCIL" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MGMTCOUNCIL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="MINUTEDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="gFACU.LEGAL.REP" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FACULEGALREP" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="SMENAME" type="xs:string" minOccurs="0"/>
      <xs:element name="NOSHAREHOLD" type="xs:string" minOccurs="0"/>
      <xs:element name="gSHAR.HL.IDEN.NO" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mSHAR.HL.IDEN.NO" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="SHARHLIDENNO" type="xs:string" minOccurs="0"/>
                  <xs:element name="TYPSHRHLIDEN" type="xs:string" minOccurs="0"/>
                  <xs:element name="SHAREHOLDNAM" type="xs:string" minOccurs="0"/>
                  <xs:element name="LSTNAMSHRHOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="MRLSTNMSHHL" type="xs:string" minOccurs="0"/>
                  <xs:element name="PERSHARPARTC" type="xs:string" minOccurs="0"/>
                  <xs:element name="SHHLCELPHNO" type="xs:string" minOccurs="0"/>
                  <xs:element name="EMAILSHRHOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="SHRHOLTELNO" type="xs:string" minOccurs="0"/>
                  <xs:element name="SHHLCOMTLNO" type="xs:string" minOccurs="0"/>
                  <xs:element name="SHRHOLDEREXTN" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="FRGNCCYGEN" type="xs:string" minOccurs="0"/>
      <xs:element name="FGNCCYGENTYP" type="xs:string" minOccurs="0"/>
      <xs:element name="REACHABLECLENT" type="xs:string" minOccurs="0"/>
      <xs:element name="RELATEDPART" type="xs:string" minOccurs="0"/>
      <xs:element name="TYPERELPART" type="xs:string" minOccurs="0"/>
      <xs:element name="LRUNQCLASS" type="xs:string" minOccurs="0"/>
      <xs:element name="gEXTENSION" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mEXTENSION" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="EXTENSION" type="xs:string" minOccurs="0"/>
                  <xs:element name="TELEPHONEREFER" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="NOOFCOMPUTERS" type="xs:string" minOccurs="0"/>
      <xs:element name="HASINTERNET" type="xs:string" minOccurs="0"/>
      <xs:element name="TYPEOFCONN" type="xs:string" minOccurs="0"/>
      <xs:element name="BUSINESSAREA" type="xs:string" minOccurs="0"/>
      <xs:element name="INTLBUSINES" type="xs:string" minOccurs="0"/>
      <xs:element name="TYPINTBUSINES" type="xs:string" minOccurs="0"/>
      <xs:element name="gBUSINESS.COUNTR" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="BUSINESSCOUNTR" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="PROJECTS" type="xs:string" minOccurs="0"/>
      <xs:element name="BANKSWTHWORKS" type="xs:string" minOccurs="0"/>
      <xs:element name="BANKPRODUCT" type="xs:string" minOccurs="0"/>
      <xs:element name="gNAME.OF.BUSINES" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NAMEOFBUSINES" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gCOMMERCIAL.NAME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="COMMERCIALNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gSECTORIZ.TYPE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mSECTORIZ.TYPE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="SECTORIZTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="SECTORIZCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="SECTORIZLEVEL" type="xs:string" minOccurs="0"/>
                  <xs:element name="SECTOROBSER" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LROFSREF" type="xs:string" minOccurs="0"/>
      <xs:element name="BANKINGREL" type="xs:string" minOccurs="0"/>
      <xs:element name="TERMINATEDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPEPLIST" type="xs:string" minOccurs="0"/>
      <xs:element name="LRSOCSECURITY" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCUSTRISK" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPENNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCORPTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRMICDEBBANK" type="xs:string" minOccurs="0"/>
      <xs:element name="LRFICLMTUSD" type="xs:string" minOccurs="0"/>
      <xs:element name="LRFICSPLCUS" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.CUS.DOC" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRCUSDOC" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.COMPLET.ADDR" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRCOMPLETADDR" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.MAIN.AD.ELEC" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRMAINADELEC" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.MNK.LEGAL" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRMNKLEGAL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRWORK" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCTYCDECNST" type="xs:string" minOccurs="0"/>
      <xs:element name="LRLEGALISEDID" type="xs:string" minOccurs="0"/>
      <xs:element name="LEGALISEDNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="LRGIVENNAMES" type="xs:string" minOccurs="0"/>
      <xs:element name="LRFAMILYNAMES" type="xs:string" minOccurs="0"/>
      <xs:element name="LRRTN" type="xs:string" minOccurs="0"/>
      <xs:element name="LRLMTUSD" type="xs:string" minOccurs="0"/>
      <xs:element name="LRSPLCUST" type="xs:string" minOccurs="0"/>
      <xs:element name="LRECONOMICACT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRORIGINITEM" type="xs:string" minOccurs="0"/>
      <xs:element name="CLIENTID" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCONTRPRINT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCONPRIDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCONPRIUSER" type="xs:string" minOccurs="0"/>
      <xs:element name="LRREPRINOBSER" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCONREPRIDT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCONREPRIUS" type="xs:string" minOccurs="0"/>
      <xs:element name="LRMNEMONIC" type="xs:string" minOccurs="0"/>
      <xs:element name="LRSMLDEBCNBS" type="xs:string" minOccurs="0"/>
      <xs:element name="LRECOVALWGHT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCNBSCLASS" type="xs:string" minOccurs="0"/>
      <xs:element name="LRMONTHGDC" type="xs:string" minOccurs="0"/>
      <xs:element name="LRMONTHPDC" type="xs:string" minOccurs="0"/>
      <xs:element name="LRMONTHMC" type="xs:string" minOccurs="0"/>
      <xs:element name="LRDBTCLADATE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRALIGNCLASS" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCAREER" type="xs:string" minOccurs="0"/>
      <xs:element name="LRMAPID" type="xs:string" minOccurs="0"/>
      <xs:element name="MAILDOMICILE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCOUNTRY" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.CUST.ACC.SEX" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRCUSTACCSEX" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRCUSTREPSEX" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCUSTBM" type="xs:string" minOccurs="0"/>
      <xs:element name="LTCUSTEXT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRFECVENCUS" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPOSNACMUL" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.NAC.MUL.VAL" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRNACMULVAL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.F.OTR.ING" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.F.OTR.ING" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRFOTRING" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRFOTRINGM" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRFSUMINGR" type="xs:string" minOccurs="0"/>
      <xs:element name="LRGIRONEGOCIO" type="xs:string" minOccurs="0"/>
      <xs:element name="LRFECINSCGIR" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCUSAPNFDS" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCUSLEGPRD" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPRODPASIAB" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCUSTARJCRE" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.CUS.CIUD.FAT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRCUSCIUDFAT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRCIUDAUSA" type="xs:string" minOccurs="0"/>
      <xs:element name="LRRESIEFEC" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.PAIS.EF.F" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRPAISEFF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRPERNAC" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCUSTIN" type="xs:string" minOccurs="0"/>
      <xs:element name="LRLUGNA" type="xs:string" minOccurs="0"/>
      <xs:element name="LRNUMIDP" type="xs:string" minOccurs="0"/>
      <xs:element name="LRINDFATCA" type="xs:string" minOccurs="0"/>
      <xs:element name="LRDOCFATCA" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCUSCON" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCARGPUB" type="xs:string" minOccurs="0"/>
      <xs:element name="LRINSTPEP" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.FIG.PUBL" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.FIG.PUBL" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRFIGPUBL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNOMBTITULAR" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPCARGO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPPERIODO" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.TIENE.FAM" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.TIENE.FAM" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRTIENEFAM" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRTIPARFAM" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRDETALLE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNOMFAMI" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCARGFAMI" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPERFAMI" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.HIJ.NOMB" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.HIJ.NOMB" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRHIJNOMB" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRHIJED" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRHIJIDEN" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRHIJDIR" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.NOM.PA" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.NOM.PA" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRNOMPA" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRIDENPA" type="xs:string" minOccurs="0"/>
                  <xs:element name="LREDADPA" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRDIRPA" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.NOM.MA" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.NOM.MA" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRNOMMA" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRIDENMA" type="xs:string" minOccurs="0"/>
                  <xs:element name="LREDADMA" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRDIRMA" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.NOM.CON" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.NOM.CON" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRNOMCON" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRIDENCON" type="xs:string" minOccurs="0"/>
                  <xs:element name="LREDADCON" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRDIRCON" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRCUSFID" type="xs:string" minOccurs="0"/>
      <xs:element name="LRDOCPEP" type="xs:string" minOccurs="0"/>
      <xs:element name="LRDATEPEP" type="xs:string" minOccurs="0"/>
      <xs:element name="LRDATEFATCA" type="xs:string" minOccurs="0"/>
      <xs:element name="NOMBREAUTH" type="xs:string" minOccurs="0"/>
      <xs:element name="CARGOAUTH" type="xs:string" minOccurs="0"/>
      <xs:element name="FECHAAUTH" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPROSTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCUSPEP" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCUSISREP" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.CUS.PRO.RLN" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.CUS.PRO.RLN" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRCUSPRORLN" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCUSRLNNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCUSRLNID" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRCUSCLASSRI" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCUSDDIL" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.CLI.REL.CODE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.CLI.REL.CODE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRCLIRELCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCLIRELNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCLIRELDESC" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.REP.ID.NO2" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.REP.ID.NO2" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRREPIDNO2" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRREPIDTYPE2" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRREPNAMES" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRREPLASTNAM" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRREPTELHOME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRREPTELCEL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRREPPODER" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRREPPODERDE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRREPEMAIL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRREPAPOFAC" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRREPFATCA" type="xs:string" minOccurs="0"/>
      <xs:element name="LRACTCALL" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCONTRATOFID" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.PAIS.OPERA" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRPAISOPERA" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.CIUDAD.OPERA" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRCIUDADOPERA" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRHNOPERA" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPERTGRECO" type="xs:string" minOccurs="0"/>
      <xs:element name="LEGALREPPEP" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.ID.NO.APO.L" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.ID.NO.APO.L" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRIDNOAPOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRIDCUSAPOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPAPOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRTYPIDAPOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNAMEAPOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRAPELLAPOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRSEXAPOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRTECAAPOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRTECEAPOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LREMAILAPOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="PODEMPAPOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESPODAPOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRFACUAPOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRFIRAPLEGAL" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="TOTALACTEMP" type="xs:string" minOccurs="0"/>
      <xs:element name="LRFIRRLLEGAL" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.ID.SOCIO" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.ID.SOCIO" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRIDSOCIO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRTYPEIDSO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNAMESO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRAPELLIDOSO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPORCSOEMP" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRDATENASO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPAISCONSSO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCOTBOLSO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRTICKESYMBOL" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRCUSSOCMER" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.ID.L.SOC.MER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.ID.L.SOC.MER" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRIDLSOCMER" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRTYPEIDMER" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNAMEMER" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRAPELLIDOMER" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPMER" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCARGOMER" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.NOM.PEP.CORP" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.NOM.PEP.CORP" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRNOMPEPCORP" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRIDPEPCORP" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRRELAEMPPEP" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRFUNPEPCORP" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRFIGPUBLCJ" type="xs:string" minOccurs="0"/>
      <xs:element name="LRDATREVISION" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCORRDIRAML" type="xs:string" minOccurs="0"/>
      <xs:element name="LRRTNFATCA" type="xs:string" minOccurs="0"/>
      <xs:element name="LRTINFATCA" type="xs:string" minOccurs="0"/>
      <xs:element name="LRNUMFISCAL" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPAISFISCAL" type="xs:string" minOccurs="0"/>
      <xs:element name="LRENTIDADFIN" type="xs:string" minOccurs="0"/>
      <xs:element name="LRACCIEEUU" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.NOM.ENT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.NOM.ENT" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRNOMENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRDIRENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRTINENT" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRENTPA" type="xs:string" minOccurs="0"/>
      <xs:element name="LRTIPENT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRSTATFAT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRINSTF" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPROPE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRGIN" type="xs:string" minOccurs="0"/>
      <xs:element name="LRDATFATPJ" type="xs:string" minOccurs="0"/>
      <xs:element name="LRDOCFATPJ" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPRINTFAT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPRINTWEI" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPRINTVA" type="xs:string" minOccurs="0"/>
      <xs:element name="LRNOMOFI" type="xs:string" minOccurs="0"/>
      <xs:element name="LRFECOFI" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCUSPEPAC" type="xs:string" minOccurs="0"/>
      <xs:element name="LRSEG" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPROFAPNF" type="xs:string" minOccurs="0"/>
      <xs:element name="LRBLKUSER" type="xs:string" minOccurs="0"/>
      <xs:element name="LRBLKAUTUSER" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.MON.VTA.FS" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.MON.VTA.FS" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRMONVTAFS" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRANIOVTAFS" type="xs:string" minOccurs="0"/>
                  <xs:element name="LREQUSDFV" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.SOCIO.PEP" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRSOCIOPEP" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRUSRDAOMASS" type="xs:string" minOccurs="0"/>
      <xs:element name="LREMPMER" type="xs:string" minOccurs="0"/>
      <xs:element name="LRJUNTAEU" type="xs:string" minOccurs="0"/>
      <xs:element name="LRAPNFDPROF" type="xs:string" minOccurs="0"/>
      <xs:element name="LRNEWPRDACCEP" type="xs:string" minOccurs="0"/>
      <xs:element name="LRRENPRDACCEP" type="xs:string" minOccurs="0"/>
      <xs:element name="LRRENPRDORIGI" type="xs:string" minOccurs="0"/>
      <xs:element name="RENPRDINVYEAR" type="xs:string" minOccurs="0"/>
      <xs:element name="LRRENPRDINVH" type="xs:string" minOccurs="0"/>
      <xs:element name="RENPRDCOMMENT" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.NEWPRD.PROCE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRNEWPRDPROCE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.NEWPRD.TIP" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRNEWPRDTIP" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.NEWPRD.COMME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRNEWPRDCOMME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="INHERITANCEACC" type="xs:string" minOccurs="0"/>
      <xs:element name="INHERITANCEORI" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.CNTR.TIP" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.CNTR.TIP" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRCNTRTIP" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCNTRFUNDS" type="xs:string" minOccurs="0"/>
                  <xs:element name="CNTRPRONAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="PROLOCATION" type="xs:string" minOccurs="0"/>
                  <xs:element name="CNTRPROTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="PROBENEF" type="xs:string" minOccurs="0"/>
                  <xs:element name="PROESTVALUE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRSTATECNTR" type="xs:string" minOccurs="0"/>
      <xs:element name="LRISNGONFP" type="xs:string" minOccurs="0"/>
      <xs:element name="gONG.TIPDON" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mONG.TIPDON" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ONGTIPDON" type="xs:string" minOccurs="0"/>
                  <xs:element name="ONGDONNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="INGDONDOM" type="xs:string" minOccurs="0"/>
                  <xs:element name="DONAMMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="INGDONFREQ" type="xs:string" minOccurs="0"/>
                  <xs:element name="DONPAYAVE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="MONTHVOL" type="xs:string" minOccurs="0"/>
      <xs:element name="INCOMEMONTHTO" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.OTHR.INC.MO" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.OTHR.INC.MO" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LROTHRINCMO" type="xs:string" minOccurs="0"/>
                  <xs:element name="OTHRINCMOAMT" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRPEPRELPR" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.TIPO.PD.REL" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRTIPOPDREL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRCUSRELPRO" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.TIP.PRO.REL" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRTIPPROREL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="FECHAULTAUTH" type="xs:string" minOccurs="0"/>
      <xs:element name="LRTELMAXCHAR" type="xs:string" minOccurs="0"/>
      <xs:element name="LRTELMINCHAR" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPROFILETYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRTIPOPERFIL" type="xs:string" minOccurs="0"/>
      <xs:element name="LRRECCUM" type="xs:string" minOccurs="0"/>
      <xs:element name="LRBUSINESNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCOMRCIANAME" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.FULL.NAME.SO" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRFULLNAMESO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.FUL.NAME.REP" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRFULNAMEREP" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRFULNAMEIND" type="xs:string" minOccurs="0"/>
      <xs:element name="LRTIPPERDUE" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.TIP.PER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRTIPPER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRUSRCHGFAT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPEPPF" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPEPPERFIN" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.FUL.NAME.MER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRFULNAMEMER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="NewProspect">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
      <xs:element name="CUSTOMERNEWPROSPECTWSType" type="tns:CUSTOMERNEWPROSPECTWSType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="webRequestCommon">
    <xs:sequence>
      <xs:element name="userName" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="company" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ofsFunction">
    <xs:sequence>
      <xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
      <xs:element name="replace" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewProspectResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="CUSTOMERType" type="tns:CUSTOMERType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfs">
    <xs:sequence>
      <xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfsResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewProspect_Validate">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
      <xs:element name="CUSTOMERNEWPROSPECTWSType" type="tns:CUSTOMERNEWPROSPECTWSType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewProspect_ValidateResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="CUSTOMERType" type="tns:CUSTOMERType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="successIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="TWSError"/>
      <xs:enumeration value="T24Error"/>
      <xs:enumeration value="T24Override"/>
      <xs:enumeration value="T24Offline"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>