Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/VisionPlusHN/obtenerSerializado/wsdl/bfemEECCHistorico_1.wsdl

<wsdl:definitions name="bfemEECCHistorico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="../xsd/bfemEECCHistorico.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="../xsd/bfemEECCHistorico_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="../xsd/bfemEECCHistorico_1.xsd" namespace="http://schemas.datacontract.org/2004/07/BF.Tarjetas.bfemEstadosCuentas.DataContracts"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IbfemEECCHistorico_ObtenerEncabezados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncabezados"/>
  </wsdl:message>
  <wsdl:message name="IbfemEECCHistorico_ObtenerEncabezados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncabezadosResponse"/>
  </wsdl:message>
  <wsdl:message name="IbfemEECCHistorico_ObtenerEncabezadosV2_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncabezadosV2"/>
  </wsdl:message>
  <wsdl:message name="IbfemEECCHistorico_ObtenerEncabezadosV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEncabezadosV2Response"/>
  </wsdl:message>
  <wsdl:message name="IbfemEECCHistorico_ObtenerSerializado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSerializado"/>
  </wsdl:message>
  <wsdl:message name="IbfemEECCHistorico_ObtenerSerializado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSerializadoResponse"/>
  </wsdl:message>
  <wsdl:portType name="IbfemEECCHistorico">
    <wsdl:operation name="ObtenerEncabezados">
      <wsdl:input wsaw:Action="http://tempuri.org/IbfemEECCHistorico/ObtenerEncabezados" message="tns:IbfemEECCHistorico_ObtenerEncabezados_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IbfemEECCHistorico/ObtenerEncabezadosResponse" message="tns:IbfemEECCHistorico_ObtenerEncabezados_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncabezadosV2">
      <wsdl:input wsaw:Action="http://tempuri.org/IbfemEECCHistorico/ObtenerEncabezadosV2" message="tns:IbfemEECCHistorico_ObtenerEncabezadosV2_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IbfemEECCHistorico/ObtenerEncabezadosV2Response" message="tns:IbfemEECCHistorico_ObtenerEncabezadosV2_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSerializado">
      <wsdl:input wsaw:Action="http://tempuri.org/IbfemEECCHistorico/ObtenerSerializado" message="tns:IbfemEECCHistorico_ObtenerSerializado_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IbfemEECCHistorico/ObtenerSerializadoResponse" message="tns:IbfemEECCHistorico_ObtenerSerializado_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IbfemEECCHistorico" type="tns:IbfemEECCHistorico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ObtenerEncabezados">
      <soap:operation soapAction="http://tempuri.org/IbfemEECCHistorico/ObtenerEncabezados" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEncabezadosV2">
      <soap:operation soapAction="http://tempuri.org/IbfemEECCHistorico/ObtenerEncabezadosV2" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSerializado">
      <soap:operation soapAction="http://tempuri.org/IbfemEECCHistorico/ObtenerSerializado" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="bfemEECCHistorico">
    <wsdl:port name="BasicHttpBinding_IbfemEECCHistorico" binding="tns:BasicHttpBinding_IbfemEECCHistorico">
      <soap:address location="http://172.23.12.161/bfemEstadosCuentasHistoricosV2HND/bfemEECCHistorico.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>