Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/DepositoChequeCajaFCY/DepositoChequeCajaFCY.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/depositoChequeCajaFCYTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/depositoChequeCajaFCYTypes">
	
	<xs:complexType name="depositoChequeCajaFCYResponse">
		<xs:sequence>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="TELLER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CHECK_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT_LOCAL" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT_FCY" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="EXCHAGE_RATE" type="xs:string" minOccurs="0"/>
			<xs:element name="TRX_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="INTERNAL_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CHECK_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CHECK_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="BENEFICIARY" type="xs:string" minOccurs="0"/>
			<xs:element name="BANK_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>            	            
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="depositoChequeCajaFCY">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CHECK_CURRENCY" type="xs:string"/>
				<xs:element name="CHECK_AMOUNT" type="xs:string"/>
				<xs:element name="CHECK_NUMBER" type="xs:string"/>
				<xs:element name="BANK_CODE" type="xs:string"/>
				<xs:element name="DEPOSIT_ACCOUNT" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="depositoChequeCajaFCYResponse" type="cons:depositoChequeCajaFCYResponse"/>
	
</xs:schema>