Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/PMSV/consultaDetalleLote/xsd/consultaDetalleLote_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalleLote" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalleLote" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CUSTOMER_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="QUERY_TYPE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="QUERY_VALUE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TRANSACTION_FILTER" type="db:TVARCHAR50" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TRANSACTION_FILTER_VALUE" type="db:TVARCHAR50" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="INITIAL_RECORD" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="RECORDS_RETURNED" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CUSTOMER_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="INITIAL_RECORD" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="RECORDS_RETURNED" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="RECORDS_TOTAL" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="CUSTOMER_NAME" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="BANK_BATCH_ID" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="BATCH_TYPE" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="BATCH_TYPE_DESC" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="UPLOAD_DATE" type="dateTime" db:index="13" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="APPLICATION_DATE" type="dateTime" db:index="14" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="NUMBER_OF_TRANSACTIONS" type="decimal" db:index="15" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="NUMBER_OF_TRANSACTIONS_SUCCESS" type="decimal" db:index="16" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="NUMBER_OF_TRANSACTIONS_ERROR" type="decimal" db:index="17" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="TOTAL_AMOUNT" type="decimal" db:index="18" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="TOTAL_AMOUNT_ERROR" type="decimal" db:index="19" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="STATUS" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="STATUS_DESC" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CURRENCY" type="db:TVARCHAR3" db:index="22" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CREDIT_CURRENCY" type="db:TVARCHAR3" db:index="23" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="IDS" type="db:TNUMBER" db:index="24" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PAYMENT_TYPE" type="db:TVARCHAR3" db:index="25" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PAYMENT_TYPE_DESC" type="db:TVARCHAR40" db:index="26" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TXN_REFERENCES" type="db:TVARCHAR40" db:index="27" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DEBIT_ACCOUNTS" type="db:TVARCHAR30" db:index="28" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CREDIT_ACCOUNTS" type="db:TVARCHAR30" db:index="29" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DESTINATIONS_BANKS" type="db:TNUMBER" db:index="30" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DESTINATIONS_BANKS_DESC" type="db:TVARCHAR100" db:index="31" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="AMOUNTS" type="db:TNUMBER" db:index="32" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CREDIT_ACCOUNTS_TYPES" type="db:TVARCHAR2" db:index="33" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BENEFICIARIES" type="db:TVARCHAR50" db:index="34" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DOCUMENT_NUMBERS" type="db:TVARCHAR15" db:index="35" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="SUPLIER_ID" type="db:TVARCHAR30" db:index="36" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="STATUSES" type="db:TVARCHAR100" db:index="37" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="STATUSES_DESC" type="db:TVARCHAR100" db:index="38" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DESCRIPTIONS" type="db:TVARCHAR100" db:index="39" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="WITHDRAWAL_BRANCH" type="db:TVARCHAR30" db:index="40" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="WITHDRAWAL_BRANCH_NAME" type="db:TVARCHAR50" db:index="41" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="EXTERNAL_REFERENCE" type="db:TVARCHAR30" db:index="42" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODES" type="db:TVARCHAR2000" db:index="43" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGES" type="db:TVARCHAR2000" db:index="44" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CONTRACT_NAME" type="db:TVARCHAR2000" db:index="45" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DEBTOR_CODE" type="db:TVARCHAR30" db:index="46" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DEBTOR_NAME" type="db:TVARCHAR2000" db:index="47" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BILL_DETAIL" type="db:T_TIPO_LONG" db:index="48" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="49" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TVARCHAR100">
      <sequence>
         <element name="ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR3">
      <sequence>
         <element name="ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR2">
      <sequence>
         <element name="ITEM" type="db:string2" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TNUMBER">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR30">
      <sequence>
         <element name="ITEM" type="db:string30" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR40">
      <sequence>
         <element name="ITEM" type="db:string40" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_TIPO_LONG">
      <sequence>
         <element name="ITEM" type="db:string32000" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR2000">
      <sequence>
         <element name="ITEM" type="db:string2000" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR15">
      <sequence>
         <element name="ITEM" type="db:string15" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR50">
      <sequence>
         <element name="ITEM" type="db:string50" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string2000">
      <restriction base="string">
         <maxLength value="2000"/>
      </restriction>
   </simpleType>
   <simpleType name="string32000">
      <restriction base="string">
         <maxLength value="32000"/>
      </restriction>
   </simpleType>
</schema>