Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/AutenticacionInterna_v2/xsd/XMLSchema_1389678329.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:aute="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaTypes">

	<!-- Operacion ValidacionToken -->
	<xs:element name="validacionToken">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TOKEN" type="xs:string" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

    <xs:element name="validacionTokenResponse">
       <xs:complexType>
         <xs:sequence>
           <xs:element name="SERIAL_NUMBER" type="xs:string"/>
         </xs:sequence>
       </xs:complexType>
    </xs:element>

	
	<!-- Operacion ValidacionBasica -->
	<xs:element name="validacionBasica">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PASSWORD" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

    <xs:element name="validacionBasicaResponse">
       <xs:complexType>
         <xs:sequence>
           <xs:element name="ADDITIONAL_AUTHENTICATION" type="xs:string"/>
         </xs:sequence>
       </xs:complexType>
    </xs:element>
      
</xs:schema>