Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/CatalogosInfoCliente_v2/xsd/XMLSchema_1505240301.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClienteTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClienteTypes">
	
    <!-- stringMinLength1Type -->
    <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
    
    <!-- "descriptionFieldArrayType" -->
    <xs:complexType name="descriptionFieldArrayType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:integer" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>
	    
	<!--##########################################--> 
    <!--OPERACION: CONSULTA ACTIVIDADES ECONOMICAS-->
    <!--##########################################-->
	<!-- request -->
	<xs:element name="consultaActividadesEconomicas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="QUERY_INFO">
		        	<xs:complexType>
		            	<xs:sequence>
			                <xs:element name="TYPE" type="tns:stringMinLength1"/>
							<xs:element name="INITIAL_RECORD" type="xs:integer" minOccurs="0"/>
							<xs:element name="FINAL_RECORD" type="xs:integer" minOccurs="0"/>
		                </xs:sequence>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
	<!-- response -->
    <xs:element name="consultaActividadesEconomicasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ECONOMIC_ACTIVITIES" minOccurs="0">
		        	<xs:complexType>
		            	<xs:sequence>
			                <xs:element name="ECONOMIC_ACTIVITY" type="tns:descriptionFieldArrayType" maxOccurs="unbounded"/>
		                </xs:sequence>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	    
	<!--###############################--> 
    <!--OPERACION: CONSULTA APROBADORES-->
    <!--###############################-->
	<!-- request -->
	<xs:element name="consultaAprobadoras">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="QUERY_TYPE" minOccurs="1">
		        	<xs:complexType>
		            	<xs:sequence>
			                <xs:element name="TYPE" type="tns:stringMinLength1"/>
							<xs:element name="APPROVAL_CODE" type="xs:string" minOccurs="0"/>
		                </xs:sequence>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
	<!-- response -->
    <xs:element name="consultaAprobadorasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="APPROVALS" minOccurs="0">
		        	<xs:complexType>
		            	<xs:sequence>
			                <xs:element name="APPROVAL" type="tns:descriptionFieldArrayType" maxOccurs="unbounded"/>
		                </xs:sequence>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	    
	<!--###############################--> 
    <!--OPERACION: CONSULTA INVERSIONES-->
    <!--###############################-->
	<!-- request -->
	<xs:element name="consultaInversiones">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ECONOMIC_ACTIVITY_CODE" type="xs:integer" minOccurs="0"/>
                <xs:element name="QUERY_TYPE" minOccurs="0">
		        	<xs:complexType>
		            	<xs:choice>
			                <xs:element name="INVESTMENT_CODE" type="xs:integer" minOccurs="0"/>
							<xs:element name="RETURN_INVESTMENT_SUB" type="xs:string" minOccurs="0"/>
		                </xs:choice>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
	<!-- response -->
    <xs:element name="consultaInversionesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="INVESTMENTS" minOccurs="0">
		        	<xs:complexType>
		            	<xs:sequence>
			                <xs:element name="INVESTMENT" type="tns:investment1ArrayType" maxOccurs="unbounded"/>
		                </xs:sequence>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- investment1ArrayType -->
    <xs:complexType name="investment1ArrayType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:integer" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="ECONOMIC_ACTIVITY_CODE" type="xs:integer" minOccurs="0"/>
			<xs:element name="ECONOMIC_ACTIVITY_DESC" type="xs:string" minOccurs="0"/>
			<xs:element name="INVESTMENTS_SUB" minOccurs="0">
	        	<xs:complexType>
	            	<xs:sequence>
		                <xs:element name="INVESTMENT_SUB" type="tns:descriptionFieldArrayType" maxOccurs="unbounded"/>
	                </xs:sequence>
               	</xs:complexType>
            </xs:element>
		 </xs:sequence> 
	</xs:complexType>
	    
	<!--############################--> 
    <!--OPERACION: CONSULTA DESTINOS-->
    <!--############################-->
	<!-- request -->
	<xs:element name="consultaDestinos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ECONOMIC_ACTIVITY_CODE" type="xs:integer"/>
                <xs:element name="INVESTMENT_CODE" type="xs:integer" minOccurs="0"/>
                <xs:element name="QUERY_TYPE" minOccurs="0">
		        	<xs:complexType>
		            	<xs:choice>
			                <xs:element name="INVESTMENT_SUB_CODE" type="xs:integer" minOccurs="0"/>
							<xs:element name="RETURN_DESTINATION" type="xs:string" minOccurs="0"/>
		                </xs:choice>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
	<!-- response -->
    <xs:element name="consultaDestinosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="INVESTMENTS" minOccurs="0">
		        	<xs:complexType>
		            	<xs:sequence>
			                <xs:element name="INVESTMENT" type="tns:investment2ArrayType" maxOccurs="unbounded"/>
		                </xs:sequence>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- investment2ArrayType -->
    <xs:complexType name="investment2ArrayType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:integer" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="ECONOMIC_ACTIVITY_CODE" type="xs:integer" minOccurs="0"/>
			<xs:element name="ECONOMIC_ACTIVITY_DESC" type="xs:string" minOccurs="0"/>
			<xs:element name="INVESTMENTS_SUB" minOccurs="0">
	        	<xs:complexType>
	            	<xs:sequence>
		                <xs:element name="INVESTMENT_SUB" type="tns:investmentSubArrayType" maxOccurs="unbounded"/>
	                </xs:sequence>
               	</xs:complexType>
            </xs:element>
		 </xs:sequence> 
	</xs:complexType>
    
    <!-- investmentSubArrayType -->
    <xs:complexType name="investmentSubArrayType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:integer" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="DESTINATIONS" minOccurs="0">
	        	<xs:complexType>
	            	<xs:sequence>
		                <xs:element name="DESTINATION" type="tns:descriptionFieldArrayType" maxOccurs="unbounded"/>
	                </xs:sequence>
               	</xs:complexType>
            </xs:element>
		 </xs:sequence> 
	</xs:complexType>
	    
	<!--############################--> 
    <!--OPERACION: CONSULTA ORIGENES-->
    <!--############################-->
	<!-- request -->
	<xs:element name="consultaOrigenes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="QUERY_TYPE" minOccurs="0">
		        	<xs:complexType>
		            	<xs:choice>
			                <xs:element name="ORIGIN_CODE" type="xs:integer" minOccurs="0"/>
							<xs:element name="RETURN_SUB_ORIGINS" type="xs:string" minOccurs="0"/>
		                </xs:choice>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
	<!-- response -->
    <xs:element name="consultaOrigenesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ORIGINS" minOccurs="0">
		        	<xs:complexType>
		            	<xs:sequence>
			                <xs:element name="ORIGIN" type="tns:originArrayType" maxOccurs="unbounded"/>
		                </xs:sequence>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- originArrayType -->
    <xs:complexType name="originArrayType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:integer" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
            <xs:element name="SUBORIGINS" minOccurs="0">
	        	<xs:complexType>
	            	<xs:sequence>
		                <xs:element name="SUBORIGIN" type="tns:descriptionFieldArrayType" maxOccurs="unbounded"/>
	                </xs:sequence>
               	</xs:complexType>
            </xs:element>
		 </xs:sequence> 
	</xs:complexType>
</xs:schema>