Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/Core/consultaAgenciasBanco/consultaAgenciasBancoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaAgenciasBancoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaAgenciasBancoTypes">

	<xs:complexType name="consultaAgenciasBancoResponseArrayType">
		<xs:sequence>
			<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="GEOGRAPHIC_ZONE" type="xs:string" minOccurs="0" />
			<xs:element name="SERVICES_AVAILABLE" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SERVICE" minOccurs="0" maxOccurs="unbounded" >
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1" />
									<xs:element name="VALUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaAgenciasBancoResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaAgenciasBancoResponseRecordType"
				type="cons:consultaAgenciasBancoResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaAgenciasBancoResponseType">
		<xs:sequence>
			<xs:element name="consultaAgenciasBancoResponseType"
				type="cons:consultaAgenciasBancoResponseRecordType" form="qualified"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaAgenciasBanco">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BRANCH_CODE" type="xs:string"
					minOccurs="0" maxOccurs="1"/>
				<xs:element name="BRANCH_TYPE" type="xs:string"
					minOccurs="0" maxOccurs="1"/>
				<xs:element name="GEOGRAPHIC_ZONE" type="xs:string"
					minOccurs="0" maxOccurs="1"/>
				<xs:element name="SERVICE_CODE" type="xs:string"
					minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaAgenciasBancoResponse" type="cons:consultaAgenciasBancoResponseType" />

</xs:schema>