Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/Resources/CreacionClienteTarjetaCredito/wsdl/creacionClienteTarjetaCreditoPS.wsdl

<wsdl:definitions name="creacionClienteTarjetaCreditoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cct="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../../../v2/Resources/esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoTypes" schemaLocation="../xsd/creacionClienteTarjetaCreditoTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="creacionClienteTarjetaCreditoRequest">
		<wsdl:part element="cct:creacionClienteTarjetaCredito" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="creacionClienteTarjetaCreditoResponse">
		<wsdl:part element="cct:creacionClienteTarjetaCreditoResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="creacionClienteTarjetaCreditoPS">
		<wsdl:operation name="creacionClienteTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:creacionClienteTarjetaCreditoRequest"/>
			<wsdl:output message="tns:creacionClienteTarjetaCreditoResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="creacionClienteTarjetaCreditoPSSOAP" type="tns:creacionClienteTarjetaCreditoPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="creacionClienteTarjetaCredito">
			<soap:operation soapAction="http://www.example.org/creacionClienteTarjetaCreditoPS/creacionClienteTarjetaCredito"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="creacionClienteTarjetaCreditoPS">
		<wsdl:port binding="tns:creacionClienteTarjetaCreditoPSSOAP" name="creacionClienteTarjetaCreditoPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/CreacionClienteTarjetaCredito_v3"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>