Fuentes/ficohsacore-gtcard-16dd1ac59182/SBGT_Card/SBGT_Card_GetCreditCardStatementHeader/Schemas/GetCreditCardStatementHeader.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/card" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/card" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBGT_Card_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="getCreditCardStatementHeader">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="ProductType" type="stringMinLength1"/>
        <xsd:element name="ProductValue" type="stringMinLength1"/>
        <xsd:element name="InitialDate" type="initialDate"/>
        <xsd:element name="FinalDate" type="finalDate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCreditCardStatementHeaderResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType" minOccurs="0"/>
        <xsd:element name="CardDetails" maxOccurs="unbounded" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
        <xsd:element name="Balance" type="xsd:string"/>
        <xsd:element name="Cycle" type="xsd:string"/>
        <xsd:element name="Currency" type="xsd:string"/>
        <xsd:element name="CycleDue" type="xsd:string"/>
        <xsd:element name="CutoffDate" type="xsd:string"/>
        <xsd:element name="FileLink" type="xsd:string"/>
        <xsd:element name="MilesEarned" type="xsd:string"/>
        <xsd:element name="AccountNumber" type="xsd:string"/>
        <xsd:element name="Org" type="xsd:string"/>
        <xsd:element name="MinPayment" type="xsd:string"/>
        <xsd:element name="TotalPayment" type="xsd:string"/>
        <xsd:element name="Period" type="xsd:string"/>
        <xsd:element name="PointEarned" type="xsd:string"/>
        <xsd:element name="OverdueAmount" type="xsd:string"/>
        <xsd:element name="TypeOrg" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="stringMinLength1">
  <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="initialDate">
     <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="finalDate">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
</xsd:schema>