Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Loans/RequestorServices/WSDL/LoansRouter_PS.wsdl

<wsdl:definitions name="GetLoanDetails_PS" targetNamespace="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS" xmlns:tns="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamo" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/loansTypes">
    <plnk:partnerLinkType name="GetLoanDetails_PS">
        <plnk:role name="GetLoanDetails_PSProvider" portType="tns:GetLoanDetails_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamo" schemaLocation="../XSD/getLoanDetails.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getLoanDetails_params">
                <complexType>
                    <sequence>
                        <element name="loanId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/loansTypes" schemaLocation="../XSD/loansTypes.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getLoanStatus_params">
                <complexType>
                    <sequence>
                        <element name="queryParam" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="ParamType" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="getLoanDetails_inputMessage">
        <wsdl:part name="request" element="tns:getLoanDetails_params"/>
    </wsdl:message>
    <wsdl:message name="getLoanDetails_outputMessage">
        <wsdl:part name="reply" element="inp1:getLoanDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="amortizationSchedule_inputMessage">
        <wsdl:part name="request" element="inp1:amortizationScheduleRequest"/>
    </wsdl:message>
    <wsdl:message name="amortizationSchedule_outputMessage">
        <wsdl:part name="reply" element="inp1:amortizationScheduleResponse"/>
    </wsdl:message>
    <wsdl:message name="disbursementLoan_inputMessage">
        <wsdl:part name="request" element="inp2:createDisbursementLoanRequest"/>
    </wsdl:message>
    <wsdl:message name="disbursementLoan_outputMessage">
        <wsdl:part name="reply" element="inp2:createDisbursementLoanResponse"/>
    </wsdl:message>
    <wsdl:message name="createLoan_inputMessage">
        <wsdl:part name="request" element="inp2:createLoanRequest"/>
    </wsdl:message>
    <wsdl:message name="createLoan_outputMessage">
        <wsdl:part name="reply" element="inp2:createLoanResponse"/>
    </wsdl:message>
    <wsdl:message name="getLoanStatus_inputMessage">
        <wsdl:part name="request" element="tns:getLoanStatus_params"/>
    </wsdl:message>
    <wsdl:message name="getLoanStatus_outputMessage">
        <wsdl:part name="reply" element="inp2:getLoanStatusResponse"/>
    </wsdl:message>
    <wsdl:portType name="GetLoanDetails_PS_ptt">
        <wsdl:operation name="getLoanDetails">
            <wsdl:input message="tns:getLoanDetails_inputMessage"/>
            <wsdl:output message="tns:getLoanDetails_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="amortizationSchedule">
            <wsdl:input message="tns:amortizationSchedule_inputMessage"/>
            <wsdl:output message="tns:amortizationSchedule_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="disbursementLoan">
            <wsdl:input message="tns:disbursementLoan_inputMessage"/>
            <wsdl:output message="tns:disbursementLoan_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="createLoan">
            <wsdl:input message="tns:createLoan_inputMessage"/>
            <wsdl:output message="tns:createLoan_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getLoanStatus">
            <wsdl:input message="tns:getLoanStatus_inputMessage"/>
            <wsdl:output message="tns:getLoanStatus_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetLoanDetails_PS_ptt-binding" type="tns:GetLoanDetails_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getLoanDetails">
            <soap:operation soapAction="getLoanDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="amortizationSchedule">
            <soap:operation soapAction="amortizationSchedule"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disbursementLoan">
            <soap:operation soapAction="disbursementLoan"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createLoan">
            <soap:operation soapAction="createLoan"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLoanStatus">
            <soap:operation soapAction="getLoanStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>