Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/MTR/editorRegistroLote/wsdl/editorRegistroLoteEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicio.editarregistrolotews.mtrpmsv.cidenet.com.co/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EditorRegistroLoteService" targetNamespace="http://servicio.editarregistrolotews.mtrpmsv.cidenet.com.co/">
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://servicio.editarregistrolotews.mtrpmsv.cidenet.com.co/" targetNamespace="http://servicio.editarregistrolotews.mtrpmsv.cidenet.com.co/">
  <xsd:complexType name="respuestaEdicionRegistroLote">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="mensajes" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transaccion">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transacciones">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="transaccion" type="ns0:transaccion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="editarValidezRegistroLote">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idBancoOrigen" type="xsd:string"/>
      <xsd:element name="idCliente" type="xsd:string"/>
      <xsd:element name="idLote" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="fecha" type="xsd:dateTime"/>
      <xsd:element name="idUsuario" type="xsd:string"/>
      <xsd:element name="aplica" type="xsd:string"/>
      <xsd:element name="transacciones" type="ns0:transacciones"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="editarValidezRegistroLoteResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="respuestaEditarRegistroLote" type="ns0:respuestaEdicionRegistroLote"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="editarValidezRegistroLote" type="ns0:editarValidezRegistroLote"/>
  <xsd:element name="editarValidezRegistroLoteResponse" type="ns0:editarValidezRegistroLoteResponse"/>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="editarValidezRegistroLote">
        <wsdl:part element="tns:editarValidezRegistroLote" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="editarValidezRegistroLoteResponse">
        <wsdl:part element="tns:editarValidezRegistroLoteResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="EditorRegistroLote">
        <wsdl:operation name="editarValidezRegistroLote">
            <wsdl:input message="tns:editarValidezRegistroLote" name="editarValidezRegistroLote"/>
            <wsdl:output message="tns:editarValidezRegistroLoteResponse" name="editarValidezRegistroLoteResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EditorRegistroLoteServiceSoapBinding" type="tns:EditorRegistroLote">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="editarValidezRegistroLote">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="editarValidezRegistroLote">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="editarValidezRegistroLoteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EditorRegistroLoteService">
        <wsdl:port binding="tns:EditorRegistroLoteServiceSoapBinding" name="EditorRegistroLotePort">
            <soap:address location="https://172.23.14.243:7004/EditarRegistroLotePmsWS/services/editorRegistroLoteEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>