Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/CreaTransaccionBancariaACHINP/xsd/creaTransaccionBancariaACHINPAnyType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xs:schema version="1.0" targetNamespace="T24WebServicesImpl" xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreatransaccionACHINPUT" type="tns:CreatransaccionACHINPUT"/>
  <xs:element name="CreatransaccionACHINPUTResponse" type="tns:CreatransaccionACHINPUTResponse"/>
  <xs:element name="CreatransaccionACHINPUT_Validate" type="tns:CreatransaccionACHINPUT_Validate"/>
  <xs:element name="CreatransaccionACHINPUT_ValidateResponse" type="tns:CreatransaccionACHINPUT_ValidateResponse"/>
  <xs:element name="callOfs" type="tns:callOfs"/>
  <xs:element name="callOfsResponse" type="tns:callOfsResponse"/>
  <xs:complexType name="FICOHNACHONLINEINPUTType">
    <xs:sequence>
      <xs:element name="DEBITACCTNO" type="xs:string" minOccurs="0"/>
      <xs:element name="CREDITACCTNO" type="xs:string" minOccurs="0"/>
      <xs:element name="CREDITCCY" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
      <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="GLOBALREFERENCE" type="xs:string" minOccurs="0"/>
      <xs:element name="IDBANKISSUER" type="xs:string" minOccurs="0"/>
      <xs:element name="LEGENDBANKISSUER" type="xs:string" minOccurs="0"/>
      <xs:element name="IDPRODUCT" type="xs:string" minOccurs="0"/>
      <xs:element name="IDREJECTION" type="xs:string" minOccurs="0"/>
      <xs:element name="IDTXNT24" type="xs:string" minOccurs="0"/>
      <xs:element name="TIPOTRANS" type="xs:string" minOccurs="0"/>
      <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="DESTCUSTOMERID" type="xs:string" minOccurs="0"/>
      <xs:element name="NARADDEND" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="PAYACHTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="ACHTXNTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="ACHCICLO" type="xs:string" minOccurs="0"/>
      <xs:element name="DATEREPOR" type="xs:string" minOccurs="0"/>
      <xs:element name="HOURTXN" type="xs:string" minOccurs="0"/>
      <xs:element name="TXNACHINTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="ISLBTR" type="xs:string" minOccurs="0"/>
      <xs:element name="CONFIRMTOIF" type="xs:string" minOccurs="0"/>
      <xs:element name="ISREPROCESS" type="xs:string" minOccurs="0"/>
      <xs:element name="STAGE" type="xs:string" minOccurs="0"/>
      <xs:element name="ACLKID" type="xs:string" minOccurs="0"/>
      <xs:element name="COMMID" type="xs:string" minOccurs="0"/>
      <xs:element name="PXPRESULT" type="xs:string" minOccurs="0"/>
      <xs:element name="PXPERRORCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="TCCCY" type="xs:string" minOccurs="0"/>
      <xs:element name="TCCURRENTAMT" type="xs:string" minOccurs="0"/>
      <xs:element name="ACCTINDIRECT" type="xs:string" minOccurs="0"/>
      <xs:element name="COMMISSIONTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="COMMISSIONAMOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="TICKET" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_15" type="xs:string" minOccurs="0"/>
      <xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
      <xs:element name="gINPUTTER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gDATETIME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
      <xs:element name="COCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
      <xs:element name="LRIDPIISSUER" type="xs:string" minOccurs="0"/>
      <xs:element name="LRIDPIRECIEV" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="FICOHNACHONLINEType">
    <xs:sequence>
      <xs:element name="DEBITACCTNO" type="xs:string" minOccurs="0"/>
      <xs:element name="CREDITACCTNO" type="xs:string" minOccurs="0"/>
      <xs:element name="CREDITCCY" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
      <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="GLOBALREFERENCE" type="xs:string" minOccurs="0"/>
      <xs:element name="IDBANKISSUER" type="xs:string" minOccurs="0"/>
      <xs:element name="LEGENDBANKISSUER" type="xs:string" minOccurs="0"/>
      <xs:element name="IDPRODUCT" type="xs:string" minOccurs="0"/>
      <xs:element name="IDREJECTION" type="xs:string" minOccurs="0"/>
      <xs:element name="IDTXNT24" type="xs:string" minOccurs="0"/>
      <xs:element name="TIPOTRANS" type="xs:string" minOccurs="0"/>
      <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="DESTCUSTOMERID" type="xs:string" minOccurs="0"/>
      <xs:element name="NARADDEND" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="PAYACHTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="ACHTXNTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="ACHCICLO" type="xs:string" minOccurs="0"/>
      <xs:element name="DATEREPOR" type="xs:string" minOccurs="0"/>
      <xs:element name="HOURTXN" type="xs:string" minOccurs="0"/>
      <xs:element name="TXNACHINTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="ISLBTR" type="xs:string" minOccurs="0"/>
      <xs:element name="CONFIRMTOIF" type="xs:string" minOccurs="0"/>
      <xs:element name="ISREPROCESS" type="xs:string" minOccurs="0"/>
      <xs:element name="STAGE" type="xs:string" minOccurs="0"/>
      <xs:element name="ACLKID" type="xs:string" minOccurs="0"/>
      <xs:element name="COMMID" type="xs:string" minOccurs="0"/>
      <xs:element name="PXPRESULT" type="xs:string" minOccurs="0"/>
      <xs:element name="PXPERRORCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="TCCCY" type="xs:string" minOccurs="0"/>
      <xs:element name="TCCURRENTAMT" type="xs:string" minOccurs="0"/>
      <xs:element name="ACCTINDIRECT" type="xs:string" minOccurs="0"/>
      <xs:element name="COMMISSIONTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="COMMISSIONAMOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="TICKET" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_15" type="xs:string" minOccurs="0"/>
      <xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
      <xs:element name="gINPUTTER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gDATETIME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
      <xs:element name="COCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
      <xs:element name="LRIDPIISSUER" type="xs:string" minOccurs="0"/>
      <xs:element name="LRIDPIRECIEV" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="callOfs">
    <xs:sequence>
      <xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfsResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreatransaccionACHINPUT">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
      <xs:element name="FICOHNACHONLINEINPUTType" type="tns:FICOHNACHONLINEINPUTType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="webRequestCommon">
    <xs:sequence>
      <xs:element name="userName" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="company" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ofsFunction">
    <xs:sequence>
      <xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
      <xs:element name="replace" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreatransaccionACHINPUTResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="FICOHNACHONLINEType" type="tns:FICOHNACHONLINEType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreatransaccionACHINPUT_Validate">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
      <xs:element name="FICOHNACHONLINEINPUTType" type="tns:FICOHNACHONLINEINPUTType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreatransaccionACHINPUT_ValidateResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="FICOHNACHONLINEType" type="tns:FICOHNACHONLINEType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="successIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="TWSError"/>
      <xs:enumeration value="T24Error"/>
      <xs:enumeration value="T24Override"/>
      <xs:enumeration value="T24Offline"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>