Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/Remesas/ConsultaRemesaPorNombreBDRemesas/xsd/consultaRemesaPorNombreBDRemesas_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaRemesaPorNombreBDRemesas" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaRemesaPorNombreBDRemesas" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="V_PRIMER_NOMBRE_B" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_SEGUNDO_NOMBRE_B" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_PRIMER_APELLIDO_B" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_SEGUNDO_APELLIDO_B" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_PRIMER_NOMBRE_R" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_SEGUNDO_NOMBRE_R" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_PRIMER_APELLIDO_R" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_SEGUNDO_APELLIDO_R" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="O_CLAVE_INTERNACIONAL" type="db:PAGOSWS.GI_REMESAS_BTS_TVARCHAR2_250" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="O_BENEFICIARIO" type="db:PAGOSWS.GI_REMESAS_BTS_TVARCHAR2_250" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="O_REMITENTE" type="db:PAGOSWS.GI_REMESAS_BTS_TVARCHAR2_250" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="O_ESTADO_REMESA" type="db:PAGOSWS.GI_REMESAS_BTS_TVARCHAR2_250" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="O_VALOR_REMESA" type="db:PAGOSWS.GI_REMESAS_BTS_TVARCHAR2_250" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="O_MENSAJE_ERROR" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PAGOSWS.GI_REMESAS_BTS_TVARCHAR2_250">
      <sequence>
         <element name="ITEM" type="db:string250" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
</schema>