Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/GetRemittanceFields/GetRemittanceFields_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetRemittanceFields" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetRemittanceFields" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_IDCONVENIOT24" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_NOMBRE" type="db:TERCEROS.TVARCHAR50" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO" type="db:TERCEROS.TVARCHAR20" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ETIQUETAES" type="db:TERCEROS.TVARCHAR200" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ETIQUETAEN" type="db:TERCEROS.TVARCHAR200" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOERROR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TERCEROS.TVARCHAR200">
      <sequence>
         <element name="PV_ETIQUETAES_ITEM" type="db:string200" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TERCEROS.TVARCHAR20">
      <sequence>
         <element name="PV_TIPO_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TERCEROS.TVARCHAR50">
      <sequence>
         <element name="PV_NOMBRE_ITEM" type="db:string50" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
</schema>
