Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/reclamosSwitch/Resources/ReclamosSwitch.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_-1466128361.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-1759531368.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Reclamoswitchvisaenficohsa">
<part name="parameters" element="tns:Reclamoswitchvisaenficohsa"/>
</message>
<message name="ReclamoswitchvisaenficohsaResponse">
<part name="parameters" element="tns:ReclamoswitchvisaenficohsaResponse"/>
</message>
<message name="Reclamoswitchvisaenficohsa_Validate">
<part name="parameters" element="tns:Reclamoswitchvisaenficohsa_Validate"/>
</message>
<message name="Reclamoswitchvisaenficohsa_ValidateResponse">
<part name="parameters" element="tns:Reclamoswitchvisaenficohsa_ValidateResponse"/>
</message>
<message name="Reclamoswitchficohsaenvisa">
<part name="parameters" element="tns:Reclamoswitchficohsaenvisa"/>
</message>
<message name="ReclamoswitchficohsaenvisaResponse">
<part name="parameters" element="tns:ReclamoswitchficohsaenvisaResponse"/>
</message>
<message name="Reclamoswitchficohsaenvisa_Validate">
<part name="parameters" element="tns:Reclamoswitchficohsaenvisa_Validate"/>
</message>
<message name="Reclamoswitchficohsaenvisa_ValidateResponse">
<part name="parameters" element="tns:Reclamoswitchficohsaenvisa_ValidateResponse"/>
</message>
<message name="Reclamoswitchficoenotrobanco">
<part name="parameters" element="tns:Reclamoswitchficoenotrobanco"/>
</message>
<message name="ReclamoswitchficoenotrobancoResponse">
<part name="parameters" element="tns:ReclamoswitchficoenotrobancoResponse"/>
</message>
<message name="Reclamoswitchficoenotrobanco_Validate">
<part name="parameters" element="tns:Reclamoswitchficoenotrobanco_Validate"/>
</message>
<message name="Reclamoswitchficoenotrobanco_ValidateResponse">
<part name="parameters" element="tns:Reclamoswitchficoenotrobanco_ValidateResponse"/>
</message>
<message name="Reclamoswitchficohsaenficohsa">
<part name="parameters" element="tns:Reclamoswitchficohsaenficohsa"/>
</message>
<message name="ReclamoswitchficohsaenficohsaResponse">
<part name="parameters" element="tns:ReclamoswitchficohsaenficohsaResponse"/>
</message>
<message name="Reclamoswitchficohsaenficohsa_Validate">
<part name="parameters" element="tns:Reclamoswitchficohsaenficohsa_Validate"/>
</message>
<message name="Reclamoswitchficohsaenficohsa_ValidateResponse">
<part name="parameters" element="tns:Reclamoswitchficohsaenficohsa_ValidateResponse"/>
</message>
<message name="Reclamoswitchotrobancoenfico">
<part name="parameters" element="tns:Reclamoswitchotrobancoenfico"/>
</message>
<message name="ReclamoswitchotrobancoenficoResponse">
<part name="parameters" element="tns:ReclamoswitchotrobancoenficoResponse"/>
</message>
<message name="Reclamoswitchotrobancoenfico_Validate">
<part name="parameters" element="tns:Reclamoswitchotrobancoenfico_Validate"/>
</message>
<message name="Reclamoswitchotrobancoenfico_ValidateResponse">
<part name="parameters" element="tns:Reclamoswitchotrobancoenfico_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Reclamoswitchvisaenficohsa">
<input message="tns:Reclamoswitchvisaenficohsa"/>
<output message="tns:ReclamoswitchvisaenficohsaResponse"/>
</operation>
<operation name="Reclamoswitchvisaenficohsa_Validate">
<input message="tns:Reclamoswitchvisaenficohsa_Validate"/>
<output message="tns:Reclamoswitchvisaenficohsa_ValidateResponse"/>
</operation>
<operation name="Reclamoswitchficohsaenvisa">
<input message="tns:Reclamoswitchficohsaenvisa"/>
<output message="tns:ReclamoswitchficohsaenvisaResponse"/>
</operation>
<operation name="Reclamoswitchficohsaenvisa_Validate">
<input message="tns:Reclamoswitchficohsaenvisa_Validate"/>
<output message="tns:Reclamoswitchficohsaenvisa_ValidateResponse"/>
</operation>
<operation name="Reclamoswitchficoenotrobanco">
<input message="tns:Reclamoswitchficoenotrobanco"/>
<output message="tns:ReclamoswitchficoenotrobancoResponse"/>
</operation>
<operation name="Reclamoswitchficoenotrobanco_Validate">
<input message="tns:Reclamoswitchficoenotrobanco_Validate"/>
<output message="tns:Reclamoswitchficoenotrobanco_ValidateResponse"/>
</operation>
<operation name="Reclamoswitchficohsaenficohsa">
<input message="tns:Reclamoswitchficohsaenficohsa"/>
<output message="tns:ReclamoswitchficohsaenficohsaResponse"/>
</operation>
<operation name="Reclamoswitchficohsaenficohsa_Validate">
<input message="tns:Reclamoswitchficohsaenficohsa_Validate"/>
<output message="tns:Reclamoswitchficohsaenficohsa_ValidateResponse"/>
</operation>
<operation name="Reclamoswitchotrobancoenfico">
<input message="tns:Reclamoswitchotrobancoenfico"/>
<output message="tns:ReclamoswitchotrobancoenficoResponse"/>
</operation>
<operation name="Reclamoswitchotrobancoenfico_Validate">
<input message="tns:Reclamoswitchotrobancoenfico_Validate"/>
<output message="tns:Reclamoswitchotrobancoenfico_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reclamoswitchvisaenficohsa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reclamoswitchvisaenficohsa_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reclamoswitchficohsaenvisa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reclamoswitchficohsaenvisa_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reclamoswitchficoenotrobanco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reclamoswitchficoenotrobanco_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reclamoswitchficohsaenficohsa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reclamoswitchficohsaenficohsa_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reclamoswitchotrobancoenfico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reclamoswitchotrobancoenfico_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwinterbanca:7003/svcReclamosSwitch/services"/>
</port>
</service>
</definitions>