Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ReversionFaltanteSobranteCajero/ReversionFaltanteSobranteCajero.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/reversionFaltanteSobranteCajeroTypes"
	xmlns:rev="http://www.ficohsa.com.hn/middleware.services/reversionFaltanteSobranteCajeroTypes">

	<xs:element name="reversionFaltanteSobranteCajero">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REVERSAL_TYPE" type="xs:string" />
				<xs:element name="TELLER_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="REVERSAL_AMOUNT" type="xs:string" />
				<xs:element name="REVERSAL_CURRENCY" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="reversionFaltanteSobranteCajeroResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
				<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
				<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>