Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaCalendarioPagoPrestamoCB/xsd/ConsultaCalendarioPagoPrestamoCBTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoTypes">
	
	<xs:complexType name="consultaCalendarioPagoPrestamoResponseType">
		<xs:sequence>
			<xs:element name="consultaCalendarioPagoPrestamoResponseType" type="cons:consultaCalendarioPagoPrestamoResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaCalendarioPagoPrestamoResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaCalendarioPagoPrestamoResponseRecordType" type="cons:consultaCalendarioPagoPrestamoResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaCalendarioPagoPrestamoResponseArrayType">
		<xs:sequence>
			<xs:element name="BILL_REFERENCE" type="xs:string" minOccurs="0"/>
			<xs:element name="BILL_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="BILL_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="PRINCIPAL_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="OVERDUE_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="OTHER_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="BILL_TOTAL_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="BILL_OUTSTANDING_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="BILL_STATUS" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaCalendarioPagoPrestamo">
		<xs:complexType>
			<xs:sequence>
			    <xs:element name="TRANSACTION_ID_BC" type="xs:string" minOccurs="0"/>
				<xs:element name="LOAN_ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaCalendarioPagoPrestamoResponse" type="cons:consultaCalendarioPagoPrestamoResponseType"/>
	
</xs:schema>