Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/MDW/ValidaXml/xsd/ValidaXml_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ValidaXml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ValidaXml" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_SERVICIO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BANCO_ORIGEN" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_CAMPOS" type="db:MSIT.T_XMLV_FIELDS" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_BLOQUES" type="db:MSIT.T_XML_BLOCKS_FIELDS" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_INDEX" type="db:MSIT.T_XML_BLOCKS_FIELDS" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CAMPOS_BLOQUE" type="db:MSIT.T_XML_BLOCKS_FIELDS" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="MSIT.T_XML_BLOCKS_FIELDS">
      <sequence>
         <element name="PT_BLOQUES_ITEM" type="db:MSIT.T_XML_BLOCK_FIELD" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="MSIT.T_XMLV_FIELDS">
      <sequence>
         <element name="PT_CAMPOS_ITEM" type="db:MSIT.T_XMLV_FIELD" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="MSIT.T_XML_BLOCK_FIELD">
      <sequence>
         <element name="BLOCK_TYPE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FIELD_NAME" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="MSIT.T_XMLV_FIELD">
      <sequence>
         <element name="FIELD_NAME" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>
