Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/OSB/ActualizacionClienteTarjetaCredito_v3/xsd/XMLSchema_1187517135.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizacionClienteTarjetaCreditoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cct="http://www.ficohsa.com.hn/middleware.services/actualizacionClienteTarjetaCreditoTypes">

	<!-- stringMinLength1Type -->
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- homeAddressType -->
	<xs:complexType name="homeAddressType">
		<xs:sequence>
			<xs:element name="HOME_ADDRESS_LINE_1" type="xs:string" minOccurs="0"/>
			<xs:element name="HOME_ADDRESS_LINE_2" type="xs:string" minOccurs="0"/>
			<xs:element name="HOME_ADDRESS_LINE_3" type="xs:string" minOccurs="0"/>
			<xs:element name="HOME_ADDRESS_LINE_4" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- workAddressType -->
	<xs:complexType name="workAddressType">
		<xs:sequence>
			<xs:element name="WORK_ADDRESS_1" type="xs:string" minOccurs="0"/>
			<xs:element name="WORK_ADDRESS_2" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- workAddressType2 -->
	<xs:complexType name="workAddressType2">
		<xs:sequence>
			<xs:element name="WORK_ADRRESS_2_LINE_1" type="xs:string"/>
			<xs:element name="WORK_ADRRESS_2_LINE_2" type="xs:string"/>
			<xs:element name="WORK_ADDRESS_2_LINE_3" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<!-- workAddressType3 -->
	<xs:complexType name="workAddressType3">
		<xs:sequence>
			<xs:element name="WORK_ADDRESS_3_LINE_1" type="xs:string"/>
			<xs:element name="WORK_ADDRESS_3_LINE_2" type="xs:string"/>
			<xs:element name="WORK_ADDRESS_3_LINE_3" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<!-- chanelCodeType -->
	<xs:complexType name="chanelCodeType">
		<xs:sequence>
			<xs:element name="CHANEL_CODE_1" type="xs:string" minOccurs="0"/>
			<xs:element name="CHANEL_CODE_2" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="actualizacionClienteTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:string"/>
				<xs:element name="PRODUCT_TYPE" type="xs:string"/>
				<xs:element name="PRODUCT_NUMBER" type="cct:stringMinLength1"/>
				<xs:element name="FOREIGN_INDICATOR" type="xs:string"/>
				<xs:element name="DEMOGRAPHIC_DATA_INDICATOR" type="cct:stringMinLength1"/>
				<xs:element name="USER_DATA_INDICATOR" type="xs:string"/>
				<xs:element name="VIP_STATUS" type="cct:stringMinLength1"/>
				<xs:element name="CUSTOMER_STATUS" type="cct:stringMinLength1"/>
				<xs:element name="PROFESSION" type="xs:string" minOccurs="0"/>
				<xs:element name="MARITAL_STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="TYPE_NAME_1" type="xs:string" minOccurs="0"/>
				<xs:element name="NAME_1" type="xs:string" minOccurs="0"/>
				<xs:element name="TYPE_NAME_2" type="xs:string" minOccurs="0"/>
				<xs:element name="NAME_2" type="xs:string" minOccurs="0"/>
				<xs:element name="TYPE_NAME_3" type="xs:string" minOccurs="0"/>
				<xs:element name="NAME_3" type="xs:string" minOccurs="0"/>
				<xs:element name="HOME_ADDRESS" type="cct:homeAddressType" minOccurs="0"/>
				<xs:element name="CITY" type="xs:string" minOccurs="0"/>
				<xs:element name="STATE" type="xs:string" minOccurs="0"/>
				<xs:element name="ZIP_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="COUNTRY_OF_RESIDENCE" type="xs:string" minOccurs="0"/>
				<xs:element name="RESIDENCE_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
				<xs:element name="EMAIL_LIST" type="xs:string" minOccurs="0"/>
				<xs:element name="CONTACT_INDICATOR" type="xs:string" minOccurs="0"/>
				<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
				<xs:element name="HOME_PHONE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="FAX_PHONE" type="xs:string" minOccurs="0"/>
				<xs:element name="PHONE_INDICATOR" type="xs:string" minOccurs="0"/>
				<xs:element name="MOBILE_PHONE" type="xs:string" minOccurs="0"/>
				<xs:element name="MOBILE_INDICATOR" type="xs:string" minOccurs="0"/>
				<xs:element name="BIRTH_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="DRIVERS_LICENSE" type="xs:string" minOccurs="0"/>
				<xs:element name="WORKPLACE" type="xs:string" minOccurs="0"/>
				<xs:element name="WORK_ADDRESS" type="cct:workAddressType" minOccurs="0"/>
				<xs:element name="WORK_PHONE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="WORK_EXTENSION" type="xs:string" minOccurs="0"/>
				<xs:element name="WORK_TITLE" type="xs:string" minOccurs="0"/>
				<xs:element name="RELATIVE_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="DEPENDENTS" type="xs:string" minOccurs="0"/>
				<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
				<xs:element name="NAMES" type="xs:string" minOccurs="0"/>
				<xs:element name="LAST_NAMES" type="xs:string" minOccurs="0"/>
				<xs:element name="CHANEL_CODE" type="cct:chanelCodeType" minOccurs="0"/>
				<xs:element name="EMPLOYMENT_YEARS" type="xs:string" minOccurs="0"/>
				<xs:element name="EMPLOYMENT_MONTHS" type="xs:string" minOccurs="0"/>
				<xs:element name="PEP_CLIENT" type="xs:string" minOccurs="0"/>
				<xs:element name="WORK_ADDRESS_2" type="cct:workAddressType2"/>
				<xs:element name="WORK_ADDREES_2_INDICATOR" type="xs:string"/>
				<xs:element name="STMT_MSG_2_INDIC" type="xs:string"/>
				<xs:element name="PSTL-CD-2" type="xs:string"/>
				<xs:element name="CITY-2" type="xs:string"/>
				<xs:element name="CNTRY-CD-2" type="xs:string"/>
				<xs:element name="WORK_ADDRESS_3" type="cct:workAddressType3"/>
				<xs:element name="WORK_ADDREES_3_INDICATOR" type="xs:string"/>
				<xs:element name="PSTL-CD-3" type="xs:string"/>
				<xs:element name="ALTERNATE_CITY" type="xs:string"/>
				<xs:element name="ALTERNATE_COUNTRY" type="xs:string"/>
				<xs:element name="EXPIRATION_DATE_1" type="xs:string" minOccurs="0"/>
				<xs:element name="ISSUE_DATE_1" type="xs:string" minOccurs="0"/>
				<xs:element name="COUNTRY_ISSUE_PASSPORT" type="xs:string" minOccurs="0"/>
				<xs:element name="HOUSE_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="HOUSE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="DOCUMENT_TYPE_1" type="xs:string" minOccurs="0"/>
				<xs:element name="DOCUMENT_ID_1" type="xs:string" minOccurs="0"/>
				<xs:element name="STUDY_GRADE" type="xs:string" minOccurs="0"/>
				<xs:element name="INCOMES" type="xs:string" minOccurs="0"/>
				<xs:element name="OTHERS_INCOMES" type="xs:string" minOccurs="0"/>
				<xs:element name="BIRTH_COUNTRY" type="xs:string" minOccurs="0"/>
				<xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
				<xs:element name="SEGMENT" type="xs:string" minOccurs="0"/>
				<xs:element name="COUNTRY_OF_ISSUE_DOC2" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="actualizacionClienteTarjetaCreditoResponse" />


</xs:schema>