Fuentes/ficohsacore-gtcard-16dd1ac59182/SBGT_Card/SBGT_Card_GetCreditCardStatementExtract/Schemas/GetCreditCardStatementExtractTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/card" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/card" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes" xmlns:xdb="http://xmlns.oracle.com/xdb">
  <xsd:import schemaLocation="../../SBGT_Card_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  
  <xsd:element name="getCreditCardStatementExtract">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
   
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="ProductType" type="stringMinLength1"/>
        <xsd:element name="ProductValue" type="stringMinLength1"/>
        <xsd:element name="Month" type="monthType"/>
        <xsd:element name="Year" type="yearType"/>
        <xsd:element name="FileExtension" type="stringMinLength1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="getCreditCardStatementExtractResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType" minOccurs="0"/>
        <xsd:element name="CardNumber" type="xsd:string"/>
        <xsd:element name="AccountNumber" type="xsd:string"/>
        <xsd:element name="Month" type="monthType"/>
        <xsd:element name="Year" type="yearType"/>
        <xsd:element name="FileExtract" type="xsd:string"/>
        <xsd:element name="FileExtension" type="xsd:string"/>
        <xsd:element name="FileLink" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:simpleType name="stringMinLength1">
  <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="monthType">
  <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0][1-9]|[1][0-2]"/>
        </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="yearType">
 <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9][0-9][0-9][0-9]"/>
        </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>