Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RetiroEfectivoTC/xsd/retiroEfectivoTCTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
       targetNamespace="http://www.ficohsa.com.hn/middleware.services/retiroEfectivoTCTypes" 
       xmlns:tns="http://www.ficohsa.com.hn/middleware.services/retiroEfectivoTCTypes">
       
    <xs:simpleType name="stringMaxLength3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
       
       
	<xs:element name="retiroEfectivoTC">
		<xs:complexType>
			<xs:sequence>
          		<xs:element name="CREDIT_CARD" type="xs:string"/>
          		<xs:element name="CURRENCY" type="tns:stringMaxLength3"/>
          		<xs:element name="MERCHANT_NUMBER" type="xs:string"/>
          		<xs:element name="REFERENCE_NUMBER" type="xs:integer" minOccurs="0"/>
          		<xs:element name="AMOUNT" type="xs:decimal"/>
          	</xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="retiroEfectivoTCResponse">
		<xs:complexType>
			<xs:sequence>
          		<xs:element name="TRANSACTION_AUT" type="xs:string" minOccurs="0"/>
          		<xs:element name="DATETIME_AUT" type="xs:string" minOccurs="0"/>
          		<xs:element name="DATETIME_CORE" type="xs:string" minOccurs="0"/>
          		<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
          		<xs:element name="MESSAGES_CORE" type="xs:string" minOccurs="0"/>
          	</xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>