Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingNI/ProviderServices/XSD/CreateAccount/CreateAccountNI_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConnectionCobisNI" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConnectionCobisNI" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="i_SourceBank" type="db:string20" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_DestinationBank" type="db:string20" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_GlobalId" type="db:string20" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ApplicationId" type="db:string20" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ApplicationUser" type="db:string20" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_BranchId" type="db:string20" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_TransactionDate" type="db:string20" db:index="7" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Lang" type="db:string20" db:index="8" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ProcessType" type="db:string20" db:index="9" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_InterfaceUser" type="db:string20" db:index="10" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_CustomerCode" type="int" db:index="11" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_Category" type="db:string20" db:index="12" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Currency" type="db:string20" db:index="13" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_OperationType" type="db:string20" db:index="14" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_ReferredType" type="db:string20" db:index="15" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Passbook" type="db:string20" db:index="16" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_PassbookNumber" type="db:string20" db:index="17" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_PayrollGroup" type="db:string20" db:index="18" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_InitialDeposit" type="decimal" db:index="19" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_Purpose" type="db:string20" db:index="20" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_OrigenOfFunds" type="db:string20" db:index="21" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_MonthlyTxnVolume" type="decimal" db:index="22" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_NumTxnDeb" type="short" db:index="23" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_NumTxnCred" type="short" db:index="24" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_MonthlyTxnCred" type="decimal" db:index="25" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_BeneficiaryName" type="db:string20" db:index="26" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_Relation" type="db:string20" db:index="27" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_DocumentType" type="db:string20" db:index="28" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_LegalId" type="db:string20" db:index="29" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_BeneficiaryPercentage" type="db:string20" db:index="30" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_RegisteredSignatory" type="db:string20" db:index="31" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_RequiredSignatory" type="db:string20" db:index="32" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_SignatoryDescription" type="db:string20" db:index="33" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="RETURN_VALUE" type="int" db:index="0" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_num_error" type="int" db:index="34" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_desc_error" type="db:string132" db:index="35" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="o_num_cuenta" type="db:string40" db:index="36" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string132">
      <restriction base="string">
         <maxLength value="132"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
</schema>