Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/consultaSaldosTarjetaCredito_v2/xsd/XMLSchema_222393921.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSaldosTarjetaCreditoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaSaldosTarjetaCreditoTypes">
		
	<xs:complexType name = "consultaSaldosTarjetaCreditoResponse">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
	        <xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0" />
	        <xs:element name="LCY_MIN_PAYMENT" type="xs:string" minOccurs="0" />
	        <xs:element name="LCY_TOTAL_PAYMENT" type="xs:string" minOccurs="0" />
	        <xs:element name="FCY_MIN_PAYMENT" type="xs:string" minOccurs="0" />
	        <xs:element name="FCY_TOTAL_PAYMENT" type="xs:string" minOccurs="0" />
	        <xs:element name="CREDIT_LIMIT" type="xs:string" minOccurs="0" />
	        <xs:element name="CREDIT_LIMIT_CCY" type="xs:string" minOccurs="0" />
	        <xs:element name="POINTS_EARNED" type="xs:string" minOccurs="0" />
	        <xs:element name="MAX_PAYMENT_DATE" type="xs:string" minOccurs="0" />
	        <xs:element name="LAST_CUTOFF_DATE" type="xs:string" minOccurs="0" />
	        <xs:element name="consultaSaldosTarjetaCreditoResponseType"
					minOccurs="0" form="qualified">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaSaldosTarjetaCreditoResponseRecordType"
							minOccurs="0" maxOccurs="unbounded" form="qualified">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
							        <xs:element name="OVERDUE_BALANCE" type="xs:string" minOccurs="0" />
							        <xs:element name="FLOATING_BALANCE" type="xs:string" minOccurs="0" />
							        <xs:element name="CURRENT_BALANCE" type="xs:string" minOccurs="0" />
							        <xs:element name="PURCHASES_LIMIT" type="xs:string" minOccurs="0" />
							        <xs:element name="WITHDRAWAL_LIMIT" type="xs:string" minOccurs="0" />
							        <xs:element name="PAYMENTS_TODAY" type="xs:string" minOccurs="0" />
							        <xs:element name="AVAILABLE_EXTRA" type="xs:string" minOccurs="0" />
							        <xs:element name="CURRENT_BALANCE_EXTRA" type="xs:string" minOccurs="0" />
							        <xs:element name="AVAILABLE_INTRA" type="xs:string" minOccurs="0" />
							        <xs:element name="CURRENT_BALANCE_INTRA" type="xs:string" minOccurs="0" />
							 	</xs:sequence>
							</xs:complexType>
						</xs:element>									
				    </xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence> 
	</xs:complexType>
	
	<xs:element name="consultaSaldosTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CARD_NUMBER" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaSaldosTarjetaCreditoResponse" type="cons:consultaSaldosTarjetaCreditoResponse"/>
	
</xs:schema>