Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActualizaEstadoTD/xsd/actualizaEstadoTDTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoTDTypes"
	xmlns:act="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoTDTypes">

<xs:element name="actualizaEstadoTD">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="COSTUMER_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="CARD_NUMBER" type="xs:string"/>
			<xs:element name="CARD_TYPE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="actualizaEstadoTDResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CARD_STATUS" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>