Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/Transferencias/TransferenciasEntreCuentas/transferenciaCuentasType.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/transferenciasType"
	xmlns:trans="http://www.ficohsa.com.hn/middleware.services/transferenciasType">


	<xs:complexType name="transferenciaCuentasRequest">
		<xs:sequence>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
			<xs:element name="CREDIT_ACCOUNT" type="xs:string"/>
			<xs:element name="CURRENCY" type="xs:string"
				minOccurs="0" />
			<xs:element name="TRANSFER_AMOUNT" type="xs:string"/>
			<xs:element name="DEBIT_CREDIT" type="xs:string"
				minOccurs="0" />
			<xs:element name="DESCRIPTION" type="xs:string" 
				minOccurs="0" />
			<xs:element name="TRANSFER_DETAILS" type="xs:string" 
				minOccurs="0" />
			<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" 
				minOccurs="0" />
			<xs:element name="ITEM_LEVEL_1" type="xs:string" 
				minOccurs="0" />
			<xs:element name="ITEM_LEVEL_2" type="xs:string" 
				minOccurs="0" />
			<xs:element name="ITEM_LEVEL_3" type="xs:string" 
				minOccurs="0" />
			<xs:element name="ITEM_LEVEL_4" type="xs:string" 
				minOccurs="0" />
			<xs:element name="ITEM_LEVEL_5" type="xs:string" 
				minOccurs="0" />				
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="transferenciaCuentasResponse">
		<xs:sequence>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string"
				minOccurs="0" />
			<xs:element name="CREDIT_ACCOUNT" type="xs:string"
				minOccurs="0" />
			<xs:element name="DEBIT_CUSTOMER" type="xs:string"
				minOccurs="0" />
			<xs:element name="CREDIT_CUSTOMER" type="xs:string"
				minOccurs="0" />
			<xs:element name="DEBIT_CURRENCY" type="xs:string"
				minOccurs="0" />
			<xs:element name="CREDIT_CURRENCY" type="xs:string"
				minOccurs="0" />
			<xs:element name="DEBIT_AMOUNT" type="xs:string"
				minOccurs="0" />
			<xs:element name="CREDIT_AMOUNT" type="xs:string"
				minOccurs="0" />
			<xs:element name="TRANSFER_DETAILS" type="xs:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="EXCHANGE_RATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="DATETIME" type="xs:string" minOccurs="0" />				
		</xs:sequence>
	</xs:complexType>

	<xs:element name="transferenciaCuentasRequest" type="trans:transferenciaCuentasRequest" />

	<xs:element name="transferenciaCuentasResponse" type="trans:transferenciaCuentasResponse" />

</xs:schema>