Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/VisionPlus/visionPlus/wsdl/VisionPlus.wsdl

<wsdl:definitions name="VisionPlusService" targetNamespace="http://www.procesa.com/services/VisionPlus" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:n0="http://www.procesa.com/fdcs" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.procesa.com/services/VisionPlus" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedMXSD location="VisionPlusService_InlineSchema1.mxsd"/>
        <binding hasEncoding="false" imported="true" name="VisionPlusServiceSOAP" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.procesa.com/fdcs">
      <xsd:include schemaLocation="../xsd/XMLSchema_769155616.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="PINChange_in">
    <wsdl:part element="n0:PINChangeRequest" name="PINChangeRequest"/>
  </wsdl:message>
  
  <wsdl:message name="PINChange_out">
    <wsdl:part element="n0:PINChangeResponse" name="PINChangeResponse"/>
  </wsdl:message>

  <wsdl:message name="PINValidate_in">
    <wsdl:part element="n0:PINValidateRequest" name="PINValidateRequest"/>
  </wsdl:message>
  
  <wsdl:message name="PINValidate_out">
    <wsdl:part element="n0:PINValidateResponse" name="PINValidateResponse"/>
  </wsdl:message>

  <wsdl:message name="PINReassign_in">
    <wsdl:part element="n0:PINReassignRequest" name="PINReassignRequest"/>
  </wsdl:message>
  
  <wsdl:message name="PINReassign_out">
    <wsdl:part element="n0:PINReassignResponse" name="PINReassignResponse"/>
  </wsdl:message>
  
  <wsdl:message name="PointsRedeem_in">
    <wsdl:part element="n0:PointsRedeemRequest" name="PointsRedeemRequest"/>
  </wsdl:message>
  <wsdl:message name="PointsRedeem_out">
    <wsdl:part element="n0:PointsRedeemResponse" name="PointsRedeemResponse"/>
  </wsdl:message>
  
  <wsdl:message name="PointsAdjustmentCreation_in">
    <wsdl:part element="n0:PointsAdjustmentCreationRequest" name="PointsAdjustmentCreationRequest"/>
  </wsdl:message>
  <wsdl:message name="PointsAdjustmentCreation_out">
    <wsdl:part element="n0:PointsAdjustmentCreationResponse" name="PointsAdjustmentCreationResponse"/>
  </wsdl:message>

  <wsdl:message name="PointsAdjustmentInquiry_in">
    <wsdl:part element="n0:PointsAdjustmentInquiryRequest" name="PointsAdjustmentInquiryRequest"/>
  </wsdl:message>
  <wsdl:message name="PointsAdjustmentInquiry_out">
    <wsdl:part element="n0:PointsAdjustmentInquiryResponse" name="PointsAdjustmentInquiryResponse"/>
  </wsdl:message>

  <wsdl:message name="PointsAdjustmentModification_in">
    <wsdl:part element="n0:PointsAdjustmentModificationRequest" name="PointsAdjustmentModificationRequest"/>
  </wsdl:message>
  <wsdl:message name="PointsAdjustmentModification_out">
    <wsdl:part element="n0:PointsAdjustmentModificationResponse" name="PointsAdjustmentModificationResponse"/>
  </wsdl:message>

  <wsdl:message name="AutoNumber_in">
    <wsdl:part element="n0:AutoNumberRequest" name="AutoNumberRequest"/>
  </wsdl:message>
  <wsdl:message name="AutoNumber_out">
    <wsdl:part element="n0:AutoNumberResponse" name="AutoNumberResponse"/>
  </wsdl:message>
  
  <wsdl:message name="AccountAdd_in">
    <wsdl:part element="n0:AccountAddRequest" name="AccountAddRequest"/>
  </wsdl:message>
  <wsdl:message name="AccountAdd_out">
    <wsdl:part element="n0:AccountAddResponse" name="AccountAddResponse"/>
  </wsdl:message>

  <wsdl:message name="AccountInsuranceMaintenance_in">
    <wsdl:part element="n0:AccountInsuranceMaintenanceRequest" name="AccountInsuranceMaintenanceRequest"/>
  </wsdl:message>
  <wsdl:message name="AccountInsuranceMaintenance_out">
    <wsdl:part element="n0:AccountInsuranceMaintenanceResponse" name="AccountInsuranceMaintenanceResponse"/>
  </wsdl:message>

  <wsdl:message name="AccountLoanPlanSetupDriver_in">
    <wsdl:part element="n0:AccountLoanPlanSetupDriverRequest" name="AccountLoanPlanSetupDriverRequest"/>
  </wsdl:message>
  <wsdl:message name="AccountLoanPlanSetupDriver_out">
    <wsdl:part element="n0:AccountLoanPlanSetupDriverResponse" name="AccountLoanPlanSetupDriverResponse"/>
  </wsdl:message>

  <wsdl:message name="AdditionalAccountProductsAdd_in">
    <wsdl:part element="n0:AdditionalAccountProductsAddRequest" name="AdditionalAccountProductsAddRequest"/>
  </wsdl:message>
  <wsdl:message name="AdditionalAccountProductsAdd_out">
    <wsdl:part element="n0:AdditionalAccountProductsAddResponse" name="AdditionalAccountProductsAddResponse"/>
  </wsdl:message>

  <wsdl:message name="AddRelationshipRecord_in">
    <wsdl:part element="n0:AddRelationshipRecordRequest" name="AddRelationshipRecordRequest"/>
  </wsdl:message>
  <wsdl:message name="AddRelationshipRecord_out">
    <wsdl:part element="n0:AddRelationshipRecordResponse" name="AddRelationshipRecordResponse"/>
  </wsdl:message>

  <wsdl:message name="CustomerAdd_in">
    <wsdl:part element="n0:CustomerAddRequest" name="CustomerAddRequest"/>
  </wsdl:message>
  <wsdl:message name="CustomerAdd_out">
    <wsdl:part element="n0:CustomerAddResponse" name="CustomerAddResponse"/>
  </wsdl:message>

  <wsdl:message name="CustomerUpdate_in">
    <wsdl:part element="n0:CustomerUpdateRequest" name="CustomerUpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="CustomerUpdate_out">
    <wsdl:part element="n0:CustomerUpdateResponse" name="CustomerUpdateResponse"/>
  </wsdl:message>

  <wsdl:message name="EmbosserAdd_in">
    <wsdl:part element="n0:EmbosserAddRequest" name="EmbosserAddRequest"/>
  </wsdl:message>
  <wsdl:message name="EmbosserAdd_out">
    <wsdl:part element="n0:EmbosserAddResponse" name="EmbosserAddResponse"/>
  </wsdl:message>

  <wsdl:message name="EmbosserUpdate_in">
    <wsdl:part element="n0:EmbosserUpdateRequest" name="EmbosserUpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="EmbosserUpdate_out">
    <wsdl:part element="n0:EmbosserUpdateResponse" name="EmbosserUpdateResponse"/>
  </wsdl:message>
  
  <wsdl:message name="EmbosserUpdateR8V7_in">
    <wsdl:part element="n0:EmbosserUpdateR8V7Request" name="EmbosserUpdateR8V7Request"/>
  </wsdl:message>
  <wsdl:message name="EmbosserUpdateR8V7_out">
    <wsdl:part element="n0:EmbosserUpdateR8V7Response" name="EmbosserUpdateR8V7Response"/>
  </wsdl:message>
    
  <wsdl:message name="UpdateCustomerNumberOnAccount_in">
    <wsdl:part element="n0:UpdateCustomerNumberOnAccountRequest" name="UpdateCustomerNumberOnAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="UpdateCustomerNumberOnAccount_out">
    <wsdl:part element="n0:UpdateCustomerNumberOnAccountResponse" name="UpdateCustomerNumberOnAccountResponse"/>
  </wsdl:message>

  <wsdl:message name="AddLoanPlan_in">
    <wsdl:part element="n0:AddLoanPlanRequest" name="AddLoanPlanRequest"/>
  </wsdl:message>
  <wsdl:message name="AddLoanPlan_out">
    <wsdl:part element="n0:AddLoanPlanResponse" name="AddLoanPlanResponse"/>
  </wsdl:message>

  <wsdl:message name="AddLoanPlanL8V1_in">
    <wsdl:part element="n0:AddLoanPlanL8V1Request" name="AddLoanPlanL8V1Request"/>
  </wsdl:message>
  <wsdl:message name="AddLoanPlanL8V1_out">
    <wsdl:part element="n0:AddLoanPlanL8V1Response" name="AddLoanPlanL8V1Response"/>
  </wsdl:message>
  
  <wsdl:message name="SettlementQuoteInquiry_in">
    <wsdl:part element="n0:SettlementQuoteInquiryRequest" name="SettlementQuoteInquiryRequest"/>
  </wsdl:message>
  <wsdl:message name="SettlementQuoteInquiry_out">
    <wsdl:part element="n0:SettlementQuoteInquiryResponse" name="SettlementQuoteInquiryResponse"/>
  </wsdl:message>

  <wsdl:message name="SettlementQuoteInquiryL8V1_in">
    <wsdl:part element="n0:SettlementQuoteInquiryL8V1Request" name="SettlementQuoteInquiryL8V1Request"/>
  </wsdl:message>
  <wsdl:message name="SettlementQuoteInquiryL8V1_out">
    <wsdl:part element="n0:SettlementQuoteInquiryL8V1Response" name="SettlementQuoteInquiryL8V1Response"/>
  </wsdl:message>

  <wsdl:message name="SettlementQuoteInquiryL8V2_in">
    <wsdl:part element="n0:SettlementQuoteInquiryL8V2Request" name="SettlementQuoteInquiryL8V2Request"/>
  </wsdl:message>
  <wsdl:message name="SettlementQuoteInquiryL8V2_out">
    <wsdl:part element="n0:SettlementQuoteInquiryL8V2Response" name="SettlementQuoteInquiryL8V2Response"/>
  </wsdl:message>  

  <wsdl:message name="LoanScheduleInquiry_in">
    <wsdl:part element="n0:LoanScheduleInquiryRequest" name="LoanScheduleInquiryRequest"/>
  </wsdl:message>
  <wsdl:message name="LoanScheduleInquiry_out">
    <wsdl:part element="n0:LoanScheduleInquiryResponse" name="LoanScheduleInquiryResponse"/>
  </wsdl:message>

  <wsdl:message name="LoanCalculator_in">
    <wsdl:part element="n0:LoanCalculatorRequest" name="LoanCalculatorRequest"/>
  </wsdl:message>
  <wsdl:message name="LoanCalculator_out">
    <wsdl:part element="n0:LoanCalculatorResponse" name="LoanCalculatorResponse"/>
  </wsdl:message>

  <wsdl:message name="MonetaryActionCode_in">
    <wsdl:part element="n0:MonetaryActionCodeRequest" name="MonetaryActionCodeRequest"/>
  </wsdl:message>
  <wsdl:message name="MonetaryActionCode_out">
    <wsdl:part element="n0:MonetaryActionCodeResponse" name="MonetaryActionCodeResponse"/>
  </wsdl:message>

  <wsdl:message name="MonetaryActionCodeL8V2_in">
    <wsdl:part element="n0:MonetaryActionCodeL8V2Request" name="MonetaryActionCodeL8V2Request"/>
  </wsdl:message>
  <wsdl:message name="MonetaryActionCodeL8V2_out">
    <wsdl:part element="n0:MonetaryActionCodeL8V2Response" name="MonetaryActionCodeL8V2Response"/>
  </wsdl:message>

  <wsdl:message name="ManualAuth_in">
    <wsdl:part element="n0:ManualAuthRequest" name="ManualAuthRequest"/>
  </wsdl:message>
  <wsdl:message name="ManualAuth_out">
    <wsdl:part element="n0:ManualAuthResponse" name="ManualAuthResponse"/>
  </wsdl:message>

  <wsdl:message name="AccountLevelSettlementQuote_in">
    <wsdl:part element="n0:AccountLevelSettlementQuoteRequest" name="AccountLevelSettlementQuoteRequest"/>
  </wsdl:message>
  <wsdl:message name="AccountLevelSettlementQuote_out">
    <wsdl:part element="n0:AccountLevelSettlementQuoteResponse" name="AccountLevelSettlementQuoteResponse"/>
  </wsdl:message>

  <wsdl:message name="PlanLevelSettlementQuote_in">
    <wsdl:part element="n0:PlanLevelSettlementQuoteRequest" name="PlanLevelSettlementQuoteRequest"/>
  </wsdl:message>
  <wsdl:message name="PlanLevelSettlementQuote_out">
    <wsdl:part element="n0:PlanLevelSettlementQuoteResponse" name="PlanLevelSettlementQuoteResponse"/>
  </wsdl:message>

  <wsdl:message name="PlanLevelSettlementQuoteL8V1_in">
    <wsdl:part element="n0:PlanLevelSettlementQuoteL8V1Request" name="PlanLevelSettlementQuoteL8V1Request"/>
  </wsdl:message>
  <wsdl:message name="PlanLevelSettlementQuoteL8V1_out">
    <wsdl:part element="n0:PlanLevelSettlementQuoteL8V1Response" name="PlanLevelSettlementQuoteL8V1Response"/>
  </wsdl:message>

  <wsdl:message name="StatementDetail_in">
    <wsdl:part element="n0:StatementDetailRequest" name="StatementDetailRequest"/>
  </wsdl:message>
  <wsdl:message name="StatementDetail_out">
    <wsdl:part element="n0:StatementDetailResponse" name="StatementDetailResponse"/>
  </wsdl:message>

  <wsdl:message name="StatementDetailL8V1_in">
    <wsdl:part element="n0:StatementDetailL8V1Request" name="StatementDetailL8V1Request"/>
  </wsdl:message>
  <wsdl:message name="StatementDetailL8V1_out">
    <wsdl:part element="n0:StatementDetailL8V1Response" name="StatementDetailL8V1Response"/>
  </wsdl:message>
  
  <wsdl:message name="GenericInstantEmbossing_in">
    <wsdl:part element="n0:GenericInstantEmbossingRequest" name="GenericInstantEmbossingRequest"/>
  </wsdl:message>
  <wsdl:message name="GenericInstantEmbossing_out">
    <wsdl:part element="n0:GenericInstantEmbossingResponse" name="GenericInstantEmbossingResponse"/>
  </wsdl:message>
  <wsdl:message name="EmbosserAddVA_in">
    <wsdl:part element="n0:EmbosserAddVARequest" name="EmbosserAddVARequest"/>
  </wsdl:message>
  <wsdl:message name="EmbosserAddVA_out">
    <wsdl:part element="n0:EmbosserAddVAResponse" name="EmbosserAddVAResponse"/>
  </wsdl:message>
  
  <wsdl:message name="CardActionUpdate_in">
    <wsdl:part element="n0:CardActionUpdateRequest" name="CardActionUpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="CardActionUpdate_out">
    <wsdl:part element="n0:CardActionUpdateResponse" name="CardActionUpdateResponse"/>
  </wsdl:message>
  
  <wsdl:message name="CardActionUpdateL8V1_in">
    <wsdl:part element="n0:CardActionUpdateL8V1Request" name="CardActionUpdateL8V1Request"/>
  </wsdl:message>
  <wsdl:message name="CardActionUpdateL8V1_out">
    <wsdl:part element="n0:CardActionUpdateL8V1Response" name="CardActionUpdateL8V1Response"/>
  </wsdl:message>  

  <wsdl:message name="CardTransfer_in">
    <wsdl:part element="n0:CardTransferRequest" name="CardTransferRequest"/>
  </wsdl:message>
  <wsdl:message name="CardTransfer_out">
    <wsdl:part element="n0:CardTransferResponse" name="CardTransferResponse"/>
  </wsdl:message>

  <wsdl:message name="InsuranceInquiry_in">
    <wsdl:part element="n0:InsuranceInquiryRequest" name="InsuranceInquiryRequest"/>
  </wsdl:message>
  <wsdl:message name="InsuranceInquiry_out">
    <wsdl:part element="n0:InsuranceInquiryResponse" name="InsuranceInquiryResponse"/>
  </wsdl:message>

  <wsdl:message name="OutstandingAuthorizationInquiry_in">
    <wsdl:part element="n0:OutstandingAuthorizationInquiryRequest" name="OutstandingAuthorizationInquiryRequest"/>
  </wsdl:message>
  <wsdl:message name="OutstandingAuthorizationInquiry_out">
    <wsdl:part element="n0:OutstandingAuthorizationInquiryResponse" name="OutstandingAuthorizationInquiryResponse"/>
  </wsdl:message>

  <wsdl:message name="BillingCycleUpdate_in">
    <wsdl:part element="n0:BillingCycleUpdateRequest" name="BillingCycleUpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="BillingCycleUpdate_out">
    <wsdl:part element="n0:BillingCycleUpdateResponse" name="BillingCycleUpdateResponse"/>
  </wsdl:message>

  <wsdl:message name="PINSuppressionUpdate_in">
    <wsdl:part element="n0:PINSuppressionUpdateRequest" name="PINSuppressionUpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="PINSuppressionUpdate_out">
    <wsdl:part element="n0:PINSuppressionUpdateResponse" name="PINSuppressionUpdateResponse"/>
  </wsdl:message>

  <wsdl:message name="CustomerAddL8V2_in">
    <wsdl:part element="n0:CustomerAddL8V2Request" name="CustomerAddL8V2Request"/>
  </wsdl:message>
  <wsdl:message name="CustomerAddL8V2_out">
    <wsdl:part element="n0:CustomerAddL8V2Response" name="CustomerAddL8V2Response"/>
  </wsdl:message>

  <wsdl:message name="CustomerUpdateL8V2_in">
    <wsdl:part element="n0:CustomerUpdateL8V2Request" name="CustomerUpdateL8V2Request"/>
  </wsdl:message>
  <wsdl:message name="CustomerUpdateL8V2_out">
    <wsdl:part element="n0:CustomerUpdateL8V2Response" name="CustomerUpdateL8V2Response"/>
  </wsdl:message>

  <wsdl:message name="EmbosserAddL8VB_in">
    <wsdl:part element="n0:EmbosserAddL8VBRequest" name="EmbosserAddL8VBRequest"/>
  </wsdl:message>
  <wsdl:message name="EmbosserAddL8VB_out">
    <wsdl:part element="n0:EmbosserAddL8VBResponse" name="EmbosserAddL8VBResponse"/>
  </wsdl:message>

  <wsdl:message name="CardSpendingLimitsUpdate_in">
    <wsdl:part element="n0:CardSpendingLimitsUpdateRequest" name="CardSpendingLimitsUpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="CardSpendingLimitsUpdate_out">
    <wsdl:part element="n0:CardSpendingLimitsUpdateResponse" name="CardSpendingLimitsUpdateResponse"/>
  </wsdl:message>

  <wsdl:message name="AccountProductTransferUpdate_in">
    <wsdl:part element="n0:AccountProductTransferUpdateRequest" name="AccountProductTransferUpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="AccountProductTransferUpdate_out">
    <wsdl:part element="n0:AccountProductTransferUpdateResponse" name="AccountProductTransferUpdateResponse"/>
  </wsdl:message>

  <wsdl:message name="LoanScheduleInquiryL8V2_in">
    <wsdl:part element="n0:LoanScheduleInquiryL8V2Request" name="LoanScheduleInquiryL8V2Request"/>
  </wsdl:message>
  <wsdl:message name="LoanScheduleInquiryL8V2_out">
    <wsdl:part element="n0:LoanScheduleInquiryL8V2Response" name="LoanScheduleInquiryL8V2Response"/>
  </wsdl:message>

  <wsdl:message name="LoanCalculatorL8V2_in">
    <wsdl:part element="n0:LoanCalculatorL8V2Request" name="LoanCalculatorL8V2Request"/>
  </wsdl:message>
  <wsdl:message name="LoanCalculatorL8V2_out">
    <wsdl:part element="n0:LoanCalculatorL8V2Response" name="LoanCalculatorL8V2Response"/>
  </wsdl:message>
  
  <wsdl:portType name="VisionPlusService">
    <wsdl:operation name="PINChange">
      <wsdl:input message="tns:PINChange_in" name="PINChange_Input"/>
      <wsdl:output message="tns:PINChange_out" name="PINChange_Output"/>
    </wsdl:operation>
    
    <wsdl:operation name="PINValidate">
      <wsdl:input message="tns:PINValidate_in" name="PINValidate_Input"/>
      <wsdl:output message="tns:PINValidate_out" name="PINValidate_Output"/>
    </wsdl:operation>
    
    <wsdl:operation name="PINReassign">
      <wsdl:input message="tns:PINReassign_in" name="PINReassign_Input"/>
      <wsdl:output message="tns:PINReassign_out" name="PINReassign_Output"/>
    </wsdl:operation>
    
    <wsdl:operation name="PointsRedeem">
      <wsdl:input message="tns:PointsRedeem_in" name="PointsRedeem_Input"/>
      <wsdl:output message="tns:PointsRedeem_out" name="PointsRedeem_Output"/>
    </wsdl:operation>

    <wsdl:operation name="PointsAdjustmentCreation">
      <wsdl:input message="tns:PointsAdjustmentCreation_in" name="PointsAdjustmentCreation_Input"/>
      <wsdl:output message="tns:PointsAdjustmentCreation_out" name="PointsAdjustmentCreation_Output"/>
    </wsdl:operation>

    <wsdl:operation name="PointsAdjustmentInquiry">
      <wsdl:input message="tns:PointsAdjustmentInquiry_in" name="PointsAdjustmentInquiry_Input"/>
      <wsdl:output message="tns:PointsAdjustmentInquiry_out" name="PointsAdjustmentInquiry_Output"/>
    </wsdl:operation>

    <wsdl:operation name="PointsAdjustmentModification">
      <wsdl:input message="tns:PointsAdjustmentModification_in" name="PointsAdjustmentModification_Input"/>
      <wsdl:output message="tns:PointsAdjustmentModification_out" name="PointsAdjustmentModification_Output"/>
    </wsdl:operation>
        
    <wsdl:operation name="AutoNumber">
      <wsdl:input message="tns:AutoNumber_in" name="AutoNumber_Input"/>
      <wsdl:output message="tns:AutoNumber_out" name="AutoNumber_Output"/>
    </wsdl:operation>
    
    <wsdl:operation name="AccountAdd">
      <wsdl:input message="tns:AccountAdd_in" name="AccountAdd_Input"/>
      <wsdl:output message="tns:AccountAdd_out" name="AccountAdd_Output"/>
    </wsdl:operation>    

    <wsdl:operation name="AccountInsuranceMaintenance">
      <wsdl:input message="tns:AccountInsuranceMaintenance_in" name="AccountInsuranceMaintenance_Input"/>
      <wsdl:output message="tns:AccountInsuranceMaintenance_out" name="AccountInsuranceMaintenance_Output"/>
    </wsdl:operation>

    <wsdl:operation name="AccountLoanPlanSetupDriver">
      <wsdl:input message="tns:AccountLoanPlanSetupDriver_in" name="AccountLoanPlanSetupDriver_Input"/>
      <wsdl:output message="tns:AccountLoanPlanSetupDriver_out" name="AccountLoanPlanSetupDriver_Output"/>
    </wsdl:operation>
        
    <wsdl:operation name="AdditionalAccountProductsAdd">
      <wsdl:input message="tns:AdditionalAccountProductsAdd_in" name="AdditionalAccountProductsAdd_Input"/>
      <wsdl:output message="tns:AdditionalAccountProductsAdd_out" name="AdditionalAccountProductsAdd_Output"/>
    </wsdl:operation>

    <wsdl:operation name="AddRelationshipRecord">
      <wsdl:input message="tns:AddRelationshipRecord_in" name="AddRelationshipRecord_Input"/>
      <wsdl:output message="tns:AddRelationshipRecord_out" name="AddRelationshipRecord_Output"/>
    </wsdl:operation>
    
    <wsdl:operation name="CustomerAdd">
      <wsdl:input message="tns:CustomerAdd_in" name="CustomerAdd_Input"/>
      <wsdl:output message="tns:CustomerAdd_out" name="CustomerAdd_Output"/>
    </wsdl:operation>    

    <wsdl:operation name="CustomerUpdate">
      <wsdl:input message="tns:CustomerUpdate_in" name="CustomerUpdate_Input"/>
      <wsdl:output message="tns:CustomerUpdate_out" name="CustomerUpdate_Output"/>
    </wsdl:operation>

    <wsdl:operation name="EmbosserAdd">
      <wsdl:input message="tns:EmbosserAdd_in" name="EmbosserAdd_Input"/>
      <wsdl:output message="tns:EmbosserAdd_out" name="EmbosserAdd_Output"/>
    </wsdl:operation>

    <wsdl:operation name="EmbosserUpdate">
      <wsdl:input message="tns:EmbosserUpdate_in" name="EmbosserUpdate_Input"/>
      <wsdl:output message="tns:EmbosserUpdate_out" name="EmbosserUpdate_Output"/>
    </wsdl:operation>

    <wsdl:operation name="EmbosserUpdateR8V7">
      <wsdl:input message="tns:EmbosserUpdateR8V7_in" name="EmbosserUpdateR8V7_Input"/>
      <wsdl:output message="tns:EmbosserUpdateR8V7_out" name="EmbosserUpdateR8V7_Output"/>
    </wsdl:operation>

    <wsdl:operation name="UpdateCustomerNumberOnAccount">
      <wsdl:input message="tns:UpdateCustomerNumberOnAccount_in" name="UpdateCustomerNumberOnAccount_Input"/>
      <wsdl:output message="tns:UpdateCustomerNumberOnAccount_out" name="UpdateCustomerNumberOnAccount_Output"/>
    </wsdl:operation>    

    <wsdl:operation name="AddLoanPlan">
      <wsdl:input message="tns:AddLoanPlan_in" name="AddLoanPlan_Input"/>
      <wsdl:output message="tns:AddLoanPlan_out" name="AddLoanPlan_Output"/>
    </wsdl:operation>    
    
    <wsdl:operation name="AddLoanPlanL8V1">
      <wsdl:input message="tns:AddLoanPlanL8V1_in" name="AddLoanPlanL8V1_Input"/>
      <wsdl:output message="tns:AddLoanPlanL8V1_out" name="AddLoanPlanL8V1_Output"/>
    </wsdl:operation>    
    
    <wsdl:operation name="SettlementQuoteInquiry">
      <wsdl:input message="tns:SettlementQuoteInquiry_in" name="SettlementQuoteInquiry_Input"/>
      <wsdl:output message="tns:SettlementQuoteInquiry_out" name="SettlementQuoteInquiry_Output"/>
    </wsdl:operation>
    
    <wsdl:operation name="SettlementQuoteInquiryL8V1">
      <wsdl:input message="tns:SettlementQuoteInquiryL8V1_in" name="SettlementQuoteInquiryL8V1_Input"/>
      <wsdl:output message="tns:SettlementQuoteInquiryL8V1_out" name="SettlementQuoteInquiryL8V1_Output"/>
    </wsdl:operation>

    <wsdl:operation name="SettlementQuoteInquiryL8V2">
      <wsdl:input message="tns:SettlementQuoteInquiryL8V2_in" name="SettlementQuoteInquiryL8V2_Input"/>
      <wsdl:output message="tns:SettlementQuoteInquiryL8V2_out" name="SettlementQuoteInquiryL8V2_Output"/>
    </wsdl:operation>

    <wsdl:operation name="LoanScheduleInquiry">
      <wsdl:input message="tns:LoanScheduleInquiry_in" name="LoanScheduleInquiry_Input"/>
      <wsdl:output message="tns:LoanScheduleInquiry_out" name="LoanScheduleInquiry_Output"/>
    </wsdl:operation>    

    <wsdl:operation name="LoanCalculator">
      <wsdl:input message="tns:LoanCalculator_in" name="LoanCalculator_Input"/>
      <wsdl:output message="tns:LoanCalculator_out" name="LoanCalculator_Output"/>
    </wsdl:operation>    

    <wsdl:operation name="MonetaryActionCode">
      <wsdl:input message="tns:MonetaryActionCode_in" name="MonetaryActionCode_Input"/>
      <wsdl:output message="tns:MonetaryActionCode_out" name="MonetaryActionCode_Output"/>
    </wsdl:operation>    

    <wsdl:operation name="MonetaryActionCodeL8V2">
      <wsdl:input message="tns:MonetaryActionCodeL8V2_in" name="MonetaryActionCodeL8V2_Input"/>
      <wsdl:output message="tns:MonetaryActionCodeL8V2_out" name="MonetaryActionCodeL8V2_Output"/>
    </wsdl:operation>    

    <wsdl:operation name="ManualAuth">
      <wsdl:input message="tns:ManualAuth_in" name="ManualAuth_Input"/>
      <wsdl:output message="tns:ManualAuth_out" name="ManualAuth_Output"/>
    </wsdl:operation>    

    <wsdl:operation name="AccountLevelSettlementQuote">
      <wsdl:input message="tns:AccountLevelSettlementQuote_in" name="AccountLevelSettlementQuote_Input"/>
      <wsdl:output message="tns:AccountLevelSettlementQuote_out" name="AccountLevelSettlementQuote_Output"/>
    </wsdl:operation>    

    <wsdl:operation name="PlanLevelSettlementQuote">
      <wsdl:input message="tns:PlanLevelSettlementQuote_in" name="PlanLevelSettlementQuote_Input"/>
      <wsdl:output message="tns:PlanLevelSettlementQuote_out" name="PlanLevelSettlementQuote_Output"/>
    </wsdl:operation>    

    <wsdl:operation name="PlanLevelSettlementQuoteL8V1">
      <wsdl:input message="tns:PlanLevelSettlementQuoteL8V1_in" name="PlanLevelSettlementQuoteL8V1_Input"/>
      <wsdl:output message="tns:PlanLevelSettlementQuoteL8V1_out" name="PlanLevelSettlementQuoteL8V1_Output"/>
    </wsdl:operation>    

    <wsdl:operation name="StatementDetail">
      <wsdl:input message="tns:StatementDetail_in" name="StatementDetail_Input"/>
      <wsdl:output message="tns:StatementDetail_out" name="StatementDetail_Output"/>
    </wsdl:operation>

    <wsdl:operation name="StatementDetailL8V1">
      <wsdl:input message="tns:StatementDetailL8V1_in" name="StatementDetailL8V1_Input"/>
      <wsdl:output message="tns:StatementDetailL8V1_out" name="StatementDetailL8V1_Output"/>
    </wsdl:operation>

    <wsdl:operation name="GenericInstantEmbossing">
      <wsdl:input message="tns:GenericInstantEmbossing_in" name="GenericInstantEmbossing_Input"/>
      <wsdl:output message="tns:GenericInstantEmbossing_out" name="GenericInstantEmbossing_Output"/>
    </wsdl:operation>
    <wsdl:operation name="EmbosserAddVA">
      <wsdl:input message="tns:EmbosserAddVA_in" name="EmbosserAddVA_Input"/>
      <wsdl:output message="tns:EmbosserAddVA_out" name="EmbosserAddVA_Output"/>
    </wsdl:operation>

    <wsdl:operation name="CardActionUpdate">
      <wsdl:input message="tns:CardActionUpdate_in" name="CardActionUpdate_Input"/>
      <wsdl:output message="tns:CardActionUpdate_out" name="CardActionUpdate_Output"/>
    </wsdl:operation>

    <wsdl:operation name="CardActionUpdateL8V1">
      <wsdl:input message="tns:CardActionUpdateL8V1_in" name="CardActionUpdateL8V1_Input"/>
      <wsdl:output message="tns:CardActionUpdateL8V1_out" name="CardActionUpdateL8V1_Output"/>
    </wsdl:operation>

    <wsdl:operation name="CardTransfer">
      <wsdl:input message="tns:CardTransfer_in" name="CardTransfer_Input"/>
      <wsdl:output message="tns:CardTransfer_out" name="CardTransfer_Output"/>
    </wsdl:operation>

    <wsdl:operation name="InsuranceInquiry">
      <wsdl:input message="tns:InsuranceInquiry_in" name="InsuranceInquiry_Input"/>
      <wsdl:output message="tns:InsuranceInquiry_out" name="InsuranceInquiry_Output"/>
    </wsdl:operation>
    <wsdl:operation name="OutstandingAuthorizationInquiry">
      <wsdl:input message="tns:OutstandingAuthorizationInquiry_in" name="OutstandingAuthorizationInquiry_Input"/>
      <wsdl:output message="tns:OutstandingAuthorizationInquiry_out" name="OutstandingAuthorizationInquiry_Output"/>
    </wsdl:operation>
    <wsdl:operation name="BillingCycleUpdate">
      <wsdl:input message="tns:BillingCycleUpdate_in" name="BillingCycleUpdate_Input"/>
      <wsdl:output message="tns:BillingCycleUpdate_out" name="BillingCycleUpdate_Output"/>
    </wsdl:operation>

    <wsdl:operation name="PINSuppressionUpdate">
      <wsdl:input message="tns:PINSuppressionUpdate_in" name="PINSuppressionUpdate_Input"/>
      <wsdl:output message="tns:PINSuppressionUpdate_out" name="PINSuppressionUpdate_Output"/>
    </wsdl:operation>
    <wsdl:operation name="CustomerAddL8V2">
      <wsdl:input message="tns:CustomerAddL8V2_in" name="CustomerAddL8V2_Input"/>
      <wsdl:output message="tns:CustomerAddL8V2_out" name="CustomerAddL8V2_Output"/>
    </wsdl:operation>
    <wsdl:operation name="CustomerUpdateL8V2">
      <wsdl:input message="tns:CustomerUpdateL8V2_in" name="CustomerUpdateL8V2_Input"/>
      <wsdl:output message="tns:CustomerUpdateL8V2_out" name="CustomerUpdateL8V2_Output"/>
    </wsdl:operation>
    <wsdl:operation name="EmbosserAddL8VB">
      <wsdl:input message="tns:EmbosserAddL8VB_in" name="EmbosserAddL8VB_Input"/>
      <wsdl:output message="tns:EmbosserAddL8VB_out" name="EmbosserAddL8VB_Output"/>
    </wsdl:operation>
    <wsdl:operation name="CardSpendingLimitsUpdate">
      <wsdl:input message="tns:CardSpendingLimitsUpdate_in" name="CardSpendingLimitsUpdate_Input"/>
      <wsdl:output message="tns:CardSpendingLimitsUpdate_out" name="CardSpendingLimitsUpdate_Output"/>
    </wsdl:operation>
    <wsdl:operation name="AccountProductTransferUpdate">
      <wsdl:input message="tns:AccountProductTransferUpdate_in" name="AccountProductTransferUpdate_Input"/>
      <wsdl:output message="tns:AccountProductTransferUpdate_out" name="AccountProductTransferUpdate_Output"/>
    </wsdl:operation>
    <wsdl:operation name="LoanScheduleInquiryL8V2">
      <wsdl:input message="tns:LoanScheduleInquiryL8V2_in" name="LoanScheduleInquiryL8V2_Input"/>
      <wsdl:output message="tns:LoanScheduleInquiryL8V2_out" name="LoanScheduleInquiryL8V2_Output"/>
    </wsdl:operation>
    <wsdl:operation name="LoanCalculatorL8V2">
      <wsdl:input message="tns:LoanCalculatorL8V2_in" name="LoanCalculatorL8V2_Input"/>
      <wsdl:output message="tns:LoanCalculatorL8V2_out" name="LoanCalculatorL8V2_Output"/>
    </wsdl:operation>
  </wsdl:portType>

  
  <wsdl:binding name="VisionPlusServiceSOAP" type="tns:VisionPlusService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>


    <wsdl:operation name="PINChange">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/PINChange"/>
      <wsdl:input name="PINChange_Input">
        <soap:body parts="PINChangeRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="PINChange_Output">
        <soap:body parts="PINChangeResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="PINValidate">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/PINValidate"/>
      <wsdl:input name="PINValidate_Input">
        <soap:body parts="PINValidateRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="PINValidate_Output">
        <soap:body parts="PINValidateResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="PINReassign">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/PINReassign"/>
      <wsdl:input name="PINReassign_Input">
        <soap:body parts="PINReassignRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="PINReassign_Output">
        <soap:body parts="PINReassignResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="PointsRedeem">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/PointsRedeem"/>
      <wsdl:input name="PointsRedeem_Input">
        <soap:body parts="PointsRedeemRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="PointsRedeem_Output">
        <soap:body parts="PointsRedeemResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="PointsAdjustmentCreation">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/PointsAdjustmentCreation"/>
      <wsdl:input name="PointsAdjustmentCreation_Input">
        <soap:body parts="PointsAdjustmentCreationRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="PointsAdjustmentCreation_Output">
        <soap:body parts="PointsAdjustmentCreationResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="PointsAdjustmentInquiry">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/PointsAdjustmentInquiry"/>
      <wsdl:input name="PointsAdjustmentInquiry_Input">
        <soap:body parts="PointsAdjustmentInquiryRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="PointsAdjustmentInquiry_Output">
        <soap:body parts="PointsAdjustmentInquiryResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="PointsAdjustmentModification">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/PointsAdjustmentModification"/>
      <wsdl:input name="PointsAdjustmentModification_Input">
        <soap:body parts="PointsAdjustmentModificationRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="PointsAdjustmentModification_Output">
        <soap:body parts="PointsAdjustmentModificationResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="AutoNumber">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/AutoNumber"/>
      <wsdl:input name="AutoNumber_Input">
        <soap:body parts="AutoNumberRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AutoNumber_Output">
        <soap:body parts="AutoNumberResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="AccountAdd">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/AccountAdd"/>
      <wsdl:input name="AccountAdd_Input">
        <soap:body parts="AccountAddRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountAdd_Output">
        <soap:body parts="AccountAddResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>    

    <wsdl:operation name="AccountInsuranceMaintenance">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/AccountInsuranceMaintenance"/>
      <wsdl:input name="AccountInsuranceMaintenance_Input">
        <soap:body parts="AccountInsuranceMaintenanceRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountInsuranceMaintenance_Output">
        <soap:body parts="AccountInsuranceMaintenanceResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="AccountLoanPlanSetupDriver">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/AccountLoanPlanSetupDriver"/>
      <wsdl:input name="AccountLoanPlanSetupDriver_Input">
        <soap:body parts="AccountLoanPlanSetupDriverRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountLoanPlanSetupDriver_Output">
        <soap:body parts="AccountLoanPlanSetupDriverResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AdditionalAccountProductsAdd">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/AdditionalAccountProductsAdd"/>
      <wsdl:input name="AdditionalAccountProductsAdd_Input">
        <soap:body parts="AdditionalAccountProductsAddRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AdditionalAccountProductsAdd_Output">
        <soap:body parts="AdditionalAccountProductsAddResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddRelationshipRecord">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/AddRelationshipRecord"/>
      <wsdl:input name="AddRelationshipRecord_Input">
        <soap:body parts="AddRelationshipRecordRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddRelationshipRecord_Output">
        <soap:body parts="AddRelationshipRecordResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CustomerAdd">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/CustomerAdd"/>
      <wsdl:input name="CustomerAdd_Input">
        <soap:body parts="CustomerAddRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustomerAdd_Output">
        <soap:body parts="CustomerAddResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CustomerUpdate">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/CustomerUpdate"/>
      <wsdl:input name="CustomerUpdate_Input">
        <soap:body parts="CustomerUpdateRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustomerUpdate_Output">
        <soap:body parts="CustomerUpdateResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="EmbosserAdd">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/EmbosserAdd"/>
      <wsdl:input name="EmbosserAdd_Input">
        <soap:body parts="EmbosserAddRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="EmbosserAdd_Output">
        <soap:body parts="EmbosserAddResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="EmbosserUpdate">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/EmbosserUpdate"/>
      <wsdl:input name="EmbosserUpdate_Input">
        <soap:body parts="EmbosserUpdateRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="EmbosserUpdate_Output">
        <soap:body parts="EmbosserUpdateResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>    
    
    <wsdl:operation name="EmbosserUpdateR8V7">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/EmbosserUpdateR8V7"/>
      <wsdl:input name="EmbosserUpdateR8V7_Input">
        <soap:body parts="EmbosserUpdateR8V7Request" use="literal"/>
      </wsdl:input>
      <wsdl:output name="EmbosserUpdateR8V7_Output">
        <soap:body parts="EmbosserUpdateR8V7Response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>    
    
    <wsdl:operation name="UpdateCustomerNumberOnAccount">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/UpdateCustomerNumberOnAccount"/>
      <wsdl:input name="UpdateCustomerNumberOnAccount_Input">
        <soap:body parts="UpdateCustomerNumberOnAccountRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateCustomerNumberOnAccount_Output">
        <soap:body parts="UpdateCustomerNumberOnAccountResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>    

    <wsdl:operation name="AddLoanPlan">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/AddLoanPlan"/>
      <wsdl:input name="AddLoanPlan_Input">
        <soap:body parts="AddLoanPlanRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddLoanPlan_Output">
        <soap:body parts="AddLoanPlanResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddLoanPlanL8V1">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/AddLoanPlanL8V1"/>
      <wsdl:input name="AddLoanPlanL8V1_Input">
        <soap:body parts="AddLoanPlanL8V1Request" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddLoanPlanL8V1_Output">
        <soap:body parts="AddLoanPlanL8V1Response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="SettlementQuoteInquiry">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/SettlementQuoteInquiry"/>
      <wsdl:input name="SettlementQuoteInquiry_Input">
        <soap:body parts="SettlementQuoteInquiryRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="SettlementQuoteInquiry_Output">
        <soap:body parts="SettlementQuoteInquiryResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SettlementQuoteInquiryL8V1">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/SettlementQuoteInquiryL8V1"/>
      <wsdl:input name="SettlementQuoteInquiryL8V1_Input">
        <soap:body parts="SettlementQuoteInquiryL8V1Request" use="literal"/>
      </wsdl:input>
      <wsdl:output name="SettlementQuoteInquiryL8V1_Output">
        <soap:body parts="SettlementQuoteInquiryL8V1Response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="SettlementQuoteInquiryL8V2">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/SettlementQuoteInquiryL8V2"/>
      <wsdl:input name="SettlementQuoteInquiryL8V2_Input">
        <soap:body parts="SettlementQuoteInquiryL8V2Request" use="literal"/>
      </wsdl:input>
      <wsdl:output name="SettlementQuoteInquiryL8V2_Output">
        <soap:body parts="SettlementQuoteInquiryL8V2Response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="LoanScheduleInquiry">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/LoanScheduleInquiry"/>
      <wsdl:input name="LoanScheduleInquiry_Input">
        <soap:body parts="LoanScheduleInquiryRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="LoanScheduleInquiry_Output">
        <soap:body parts="LoanScheduleInquiryResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="LoanCalculator">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/LoanCalculator"/>
      <wsdl:input name="LoanCalculator_Input">
        <soap:body parts="LoanCalculatorRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="LoanCalculator_Output">
        <soap:body parts="LoanCalculatorResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="MonetaryActionCode">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/MonetaryActionCode"/>
      <wsdl:input name="MonetaryActionCode_Input">
        <soap:body parts="MonetaryActionCodeRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="MonetaryActionCode_Output">
        <soap:body parts="MonetaryActionCodeResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="MonetaryActionCodeL8V2">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/MonetaryActionCodeL8V2"/>
      <wsdl:input name="MonetaryActionCodeL8V2_Input">
        <soap:body parts="MonetaryActionCodeL8V2Request" use="literal"/>
      </wsdl:input>
      <wsdl:output name="MonetaryActionCodeL8V2_Output">
        <soap:body parts="MonetaryActionCodeL8V2Response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ManualAuth">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/ManualAuth"/>
      <wsdl:input name="ManualAuth_Input">
        <soap:body parts="ManualAuthRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="ManualAuth_Output">
        <soap:body parts="ManualAuthResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AccountLevelSettlementQuote">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/AccountLevelSettlementQuote"/>
      <wsdl:input name="AccountLevelSettlementQuote_Input">
        <soap:body parts="AccountLevelSettlementQuoteRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountLevelSettlementQuote_Output">
        <soap:body parts="AccountLevelSettlementQuoteResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="PlanLevelSettlementQuote">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/PlanLevelSettlementQuote"/>
      <wsdl:input name="PlanLevelSettlementQuote_Input">
        <soap:body parts="PlanLevelSettlementQuoteRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="PlanLevelSettlementQuote_Output">
        <soap:body parts="PlanLevelSettlementQuoteResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="PlanLevelSettlementQuoteL8V1">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/PlanLevelSettlementQuoteL8V1"/>
      <wsdl:input name="PlanLevelSettlementQuoteL8V1_Input">
        <soap:body parts="PlanLevelSettlementQuoteL8V1Request" use="literal"/>
      </wsdl:input>
      <wsdl:output name="PlanLevelSettlementQuoteL8V1_Output">
        <soap:body parts="PlanLevelSettlementQuoteL8V1Response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="StatementDetail">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/StatementDetail"/>
      <wsdl:input name="StatementDetail_Input">
        <soap:body parts="StatementDetailRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="StatementDetail_Output">
        <soap:body parts="StatementDetailResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="StatementDetailL8V1">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/StatementDetailL8V1"/>
      <wsdl:input name="StatementDetailL8V1_Input">
        <soap:body parts="StatementDetailL8V1Request" use="literal"/>
      </wsdl:input>
      <wsdl:output name="StatementDetailL8V1_Output">
        <soap:body parts="StatementDetailL8V1Response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenericInstantEmbossing">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/GenericInstantEmbossing"/>
      <wsdl:input name="GenericInstantEmbossing_Input">
        <soap:body parts="GenericInstantEmbossingRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="GenericInstantEmbossing_Output">
        <soap:body parts="GenericInstantEmbossingResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="EmbosserAddVA">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/EmbosserAddVA"/>
      <wsdl:input name="EmbosserAddVA_Input">
        <soap:body parts="EmbosserAddVARequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="EmbosserAddVA_Output">
        <soap:body parts="EmbosserAddVAResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CardActionUpdate">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/CardActionUpdate"/>
      <wsdl:input name="CardActionUpdate_Input">
        <soap:body parts="CardActionUpdateRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="CardActionUpdate_Output">
        <soap:body parts="CardActionUpdateResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CardActionUpdateL8V1">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/CardActionUpdateL8V1"/>
      <wsdl:input name="CardActionUpdateL8V1_Input">
        <soap:body parts="CardActionUpdateL8V1Request" use="literal"/>
      </wsdl:input>
      <wsdl:output name="CardActionUpdateL8V1_Output">
        <soap:body parts="CardActionUpdateL8V1Response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="CardTransfer">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/CardTransfer"/>
      <wsdl:input name="CardTransfer_Input">
        <soap:body parts="CardTransferRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="CardTransfer_Output">
        <soap:body parts="CardTransferResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="InsuranceInquiry">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/InsuranceInquiry"/>
      <wsdl:input name="InsuranceInquiry_Input">
        <soap:body parts="InsuranceInquiryRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="InsuranceInquiry_Output">
        <soap:body parts="InsuranceInquiryResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="OutstandingAuthorizationInquiry">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/OutstandingAuthorizationInquiry"/>
      <wsdl:input name="OutstandingAuthorizationInquiry_Input">
        <soap:body parts="OutstandingAuthorizationInquiryRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="OutstandingAuthorizationInquiry_Output">
        <soap:body parts="OutstandingAuthorizationInquiryResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="BillingCycleUpdate">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/BillingCycleUpdate"/>
      <wsdl:input name="BillingCycleUpdate_Input">
        <soap:body parts="BillingCycleUpdateRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="BillingCycleUpdate_Output">
        <soap:body parts="BillingCycleUpdateResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="PINSuppressionUpdate">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/PINSuppressionUpdate"/>
      <wsdl:input name="PINSuppressionUpdate_Input">
        <soap:body parts="PINSuppressionUpdateRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="PINSuppressionUpdate_Output">
        <soap:body parts="PINSuppressionUpdateResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CustomerAddL8V2">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/CustomerAddL8V2"/>
      <wsdl:input name="CustomerAddL8V2_Input">
        <soap:body parts="CustomerAddL8V2Request" use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustomerAddL8V2_Output">
        <soap:body parts="CustomerAddL8V2Response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CustomerUpdateL8V2">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/CustomerUpdateL8V2"/>
      <wsdl:input name="CustomerUpdateL8V2_Input">
        <soap:body parts="CustomerUpdateL8V2Request" use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustomerUpdateL8V2_Output">
        <soap:body parts="CustomerUpdateL8V2Response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="EmbosserAddL8VB">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/EmbosserAddL8VB"/>
      <wsdl:input name="EmbosserAddL8VB_Input">
        <soap:body parts="EmbosserAddL8VBRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="EmbosserAddL8VB_Output">
        <soap:body parts="EmbosserAddL8VBResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CardSpendingLimitsUpdate">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/CardSpendingLimitsUpdate"/>
      <wsdl:input name="CardSpendingLimitsUpdate_Input">
        <soap:body parts="CardSpendingLimitsUpdateRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="CardSpendingLimitsUpdate_Output">
        <soap:body parts="CardSpendingLimitsUpdateResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AccountProductTransferUpdate">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/AccountProductTransferUpdate"/>
      <wsdl:input name="AccountProductTransferUpdate_Input">
        <soap:body parts="AccountProductTransferUpdateRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountProductTransferUpdate_Output">
        <soap:body parts="AccountProductTransferUpdateResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="LoanScheduleInquiryL8V2">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/LoanScheduleInquiryL8V2"/>
      <wsdl:input name="LoanScheduleInquiryL8V2_Input">
        <soap:body parts="LoanScheduleInquiryL8V2Request" use="literal"/>
      </wsdl:input>
      <wsdl:output name="LoanScheduleInquiryL8V2_Output">
        <soap:body parts="LoanScheduleInquiryL8V2Response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="LoanCalculatorL8V2">
      <soap:operation soapAction="http://www.procesa.com/services/VisionPlus/LoanCalculatorL8V2"/>
      <wsdl:input name="LoanCalculatorL8V2_Input">
        <soap:body parts="LoanCalculatorL8V2Request" use="literal"/>
      </wsdl:input>
      <wsdl:output name="LoanCalculatorL8V2_Output">
        <soap:body parts="LoanCalculatorL8V2Response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    
  </wsdl:binding>
  <wsdl:service name="VisionPlusService">
    <wsdl:port binding="tns:VisionPlusServiceSOAP" name="VisionPlusServiceSOAP">
      <soap:address location="http://172.28.1.145:7802/VisionPlusService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>