Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/RegistraPagosMasivos/xsd/AchTransfer.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/achServicesPS" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ficohsa.com.hn/middleware.services/achServicesPS/" xmlns:ach="http://www.ficohsa.com.hn/middleware.services/achServicesPS" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="AchTransfer_1.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="DoEchoRequest" type="ach:DoEchoRequestType"/>
  <xsd:element name="DoEchoResponse" type="ach:DoEchoResponseType"/>
  <xsd:element name="GetTicketRequest" type="ach:GetTicketRequestType"/>
  <xsd:element name="GetTicketResponse" type="ach:GetTicketResponseType"/>
  <xsd:element name="SendCreditRequest" type="ach:SendCreditRequestType"/>
  <xsd:element name="SendCreditResponse" type="ach:SendCreditResponseType"/>
  <xsd:element name="GetTransactionsStatusRequest" type="ach:GetTransactionsStatusRequestType"/>
  <xsd:element name="GetTransactionsStatusResponse" type="ach:GetTransactionsStatusResponseType"/>
  <xsd:element name="GetReportTransactionRequest" type="ach:GetReportTransactionRequestType"/>
  <xsd:element name="GetReportTransactionResponse" type="ach:GetReportTransactionResponseType"/>
  <xsd:complexType name="DoEchoRequestType">
    <xsd:sequence>
      <xsd:element name="request" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DoEchoResponseType">
    <xsd:sequence>
      <xsd:element name="response" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetTicketRequestType">
    <xsd:sequence>
      <xsd:element name="originatorId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="messageType" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetTicketResponseType">
    <xsd:sequence>
      <xsd:element name="ticket" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SendCreditRequestType">
    <xsd:sequence>
      <xsd:element name="ticket" type="xsd:string" minOccurs="0"/>
      <xsd:element name="messagetype" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MessageRequestDetails" type="ach:MessageRequestDetailsType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MessageRequestDetailsType">
    <xsd:sequence>
      <xsd:element name="receivingBankId" minOccurs="0" type="xsd:string"/>
      <xsd:element name="originatorId" minOccurs="0" type="xsd:string"/>
      <xsd:element name="originatorAccount" type="xsd:string" minOccurs="0"/>
      <xsd:element name="accountType" type="xsd:int" minOccurs="0"/>
      <xsd:element name="originatorName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="receivingId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="destinationAccount" type="xsd:string" minOccurs="0"/>
      <xsd:element name="destinationAccountType" type="xsd:int" minOccurs="0"/>
      <xsd:element name="recipientName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0"/>
      <xsd:element name="instructionIdentification" type="xsd:string" minOccurs="0"/>
      <xsd:element name="currencyISO" type="xsd:string" minOccurs="0"/>
      <xsd:element name="amount" type="xsd:double" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SendCreditResponseType">
    <xsd:sequence>
      <xsd:element name="ticket" minOccurs="0" type="xsd:string"/>
      <xsd:element name="processed" minOccurs="0" type="xsd:string"/>
      <xsd:element name="messageType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="messageResponseDetails" minOccurs="0" maxOccurs="unbounded" type="ach:MessageResponseDetailsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MessageResponseDetailsType">
    <xsd:sequence>
      <xsd:element name="receivingBankId" minOccurs="0" type="xsd:string"/>
      <xsd:element name="detailId" minOccurs="0" type="xsd:string"/>
      <xsd:element name="amount" minOccurs="0" type="xsd:double"/>
      <xsd:element name="status" minOccurs="0" type="xsd:int"/>
      <xsd:element name="originatingAccount" minOccurs="0" type="xsd:string"/>
      <xsd:element name="receivingAccount" minOccurs="0" type="xsd:string"/>
      <xsd:element name="receivingAccountName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="results" type="xsd:string" minOccurs="0"/>
      <xsd:element name="reasonCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="instructionIdentification" type="xsd:string" minOccurs="0"/>
      <xsd:element name="coreBankingTransaccion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="messageId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="transactionStatus" type="xsd:string" minOccurs="0"/>
      <xsd:element name="messages" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetTransactionsStatusRequestType">
    <xsd:sequence>
      <xsd:element name="ticket" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetTransactionsStatusResponseType">
    <xsd:sequence>
      <xsd:element name="ticket" minOccurs="0" type="xsd:string"/>
      <xsd:element name="processed" minOccurs="0" type="xsd:string"/>
      <xsd:element name="messageType" minOccurs="0" type="xsd:int"/>
      <xsd:element name="messageResponseDetails" minOccurs="0" maxOccurs="unbounded" type="ach:MessageResponseDetailsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetReportTransactionRequestType">
    <xsd:sequence>
      <xsd:element name="bank" minOccurs="0" type="xsd:string"/>
      <xsd:element name="transactionType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="originatorAccount" minOccurs="0" type="xsd:string"/>
      <xsd:element name="destinationAccount" minOccurs="0" type="xsd:string"/>
      <xsd:element name="processedTime" minOccurs="0" type="xsd:string"/>
      <xsd:element name="currency" minOccurs="0" type="xsd:string"/>
      <xsd:element name="initialAmount" minOccurs="0" type="xsd:double"/>
      <xsd:element name="finalAmount" minOccurs="0" type="xsd:double"/>
      <xsd:element name="pageSize" minOccurs="0" type="xsd:int"/>
      <xsd:element name="page" minOccurs="0" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetReportTransactionResponseType">
    <xsd:sequence>
      <xsd:element name="currentPage" type="xsd:int" minOccurs="0"/>
      <xsd:element name="totalPages" type="xsd:int" minOccurs="0"/>
      <xsd:element name="pageSize" type="xsd:int" minOccurs="0"/>
      <xsd:element name="details" type="ach:GetTransactionDetailsType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetTransactionDetailsType">
    <xsd:sequence>
      <xsd:element name="transactionType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="messageType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="processedTime" minOccurs="0" type="xsd:string"/>
      <xsd:element name="bankName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="receivingBankId" minOccurs="0" type="xsd:string"/>
      <xsd:element name="accountType" minOccurs="0" type="xsd:int"/>
      <xsd:element name="originatingAccount" minOccurs="0" type="xsd:string"/>
      <xsd:element name="destinationAccountType" minOccurs="0" type="xsd:int"/>
      <xsd:element name="destinationAccount" minOccurs="0" type="xsd:string"/>
      <xsd:element name="currencyIso" minOccurs="0" type="xsd:string"/>
      <xsd:element name="amount" minOccurs="0" type="xsd:double"/>
      <xsd:element name="reasonCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="results" minOccurs="0" type="xsd:string"/>
      <xsd:element name="status" minOccurs="0" type="xsd:int"/>
      <xsd:element name="instructionIdentification" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>