Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/cargos/wsdl/services.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_6031928.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_-287371079.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Cargoporreposicionlibreta">
<part name="parameters" element="tns:Cargoporreposicionlibreta"/>
</message>
<message name="CargoporreposicionlibretaResponse">
<part name="parameters" element="tns:CargoporreposicionlibretaResponse"/>
</message>
<message name="Cargoporreposicionlibreta_Validate">
<part name="parameters" element="tns:Cargoporreposicionlibreta_Validate"/>
</message>
<message name="Cargoporreposicionlibreta_ValidateResponse">
<part name="parameters" element="tns:Cargoporreposicionlibreta_ValidateResponse"/>
</message>
<message name="CobroGenericodeComision">
<part name="parameters" element="tns:CobroGenericodeComision"/>
</message>
<message name="CobroGenericodeComisionResponse">
<part name="parameters" element="tns:CobroGenericodeComisionResponse"/>
</message>
<message name="CobroGenericodeComision_Validate">
<part name="parameters" element="tns:CobroGenericodeComision_Validate"/>
</message>
<message name="CobroGenericodeComision_ValidateResponse">
<part name="parameters" element="tns:CobroGenericodeComision_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Cargoporreposicionlibreta">
<input message="tns:Cargoporreposicionlibreta"/>
<output message="tns:CargoporreposicionlibretaResponse"/>
</operation>
<operation name="Cargoporreposicionlibreta_Validate">
<input message="tns:Cargoporreposicionlibreta_Validate"/>
<output message="tns:Cargoporreposicionlibreta_ValidateResponse"/>
</operation>
<operation name="CobroGenericodeComision">
<input message="tns:CobroGenericodeComision"/>
<output message="tns:CobroGenericodeComisionResponse"/>
</operation>
<operation name="CobroGenericodeComision_Validate">
<input message="tns:CobroGenericodeComision_Validate"/>
<output message="tns:CobroGenericodeComision_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cargoporreposicionlibreta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cargoporreposicionlibreta_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CobroGenericodeComision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CobroGenericodeComision_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcCargos/services"/>
</port>
</service>
</definitions>