Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/INTFC/consultaDetalladaMovimientosCuenta/xsd/consultaDetalladaMovimientosCuenta_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalladaMovimientosCuenta" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalladaMovimientosCuenta" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_ACCOUNTNUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BEGINDATE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ENDDATE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_INITIALRECORD" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_RECORDCOUNT" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_TICKETOSB" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_TYPEFILTER"  type="db:TVARCHAR20" db:index="7" db:type="Array" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="PT_VALUEFILTER"  type="db:TVARCHAR20" db:index="8" db:type="Array" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="PV_ACCOUNTNAME" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CURRENCY" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
  		 </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_ACCOUNTNAME" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CURRENCY" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>           
            <element name="PV_STARTINGBALANCE" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ENDINGBALANCE" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_DEBITTOTAL" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CREDITTOTAL" type="decimal" db:index="12" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_DEBITTOTALAMOUNT" type="decimal" db:index="13" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CREDITTOTALAMOUNT" type="decimal" db:index="14" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_TOTALRECORDSRETURNED" type="decimal" db:index="15" db:type="NUMBER" minOccurs="0" nillable="true"/>            
            <element name="PN_TOTALRECORD" type="decimal" db:index="16" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PT_REFNO" type="db:TVARCHAR40" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_AMOUNT" type="db:TVARCHAR20" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TRANSACTIONDESCRIPTION" type="db:TVARCHAR2000" db:index="19" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_RUNNINGBALANCE" type="db:TVARCHAR20" db:index="20" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DEUDOR" type="db:TVARCHAR100" db:index="21" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CUSTOMERDESCRIPTION" type="db:TVARCHAR300" db:index="22" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_BOOKINGDATE" type="db:TVARCHAR20" db:index="23" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_VALUEDATE" type="db:TVARCHAR20" db:index="24" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CHEQUENUMBER" type="db:TVARCHAR40" db:index="25" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_INPUTTER" type="db:TVARCHAR20" db:index="26" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_AUTHORIZER" type="db:TVARCHAR20" db:index="27" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_AGENCYCODE" type="db:TVARCHAR20" db:index="28" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_AGENCYNAME" type="db:TVARCHAR100" db:index="29" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TRANSACTIONCODE" type="db:TVARCHAR10" db:index="30" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_EFFECTONBALANCE" type="db:TVARCHAR10" db:index="31" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOERROR" type="string" db:index="32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJEERROR" type="string" db:index="33" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   
  
   <complexType name="TVARCHAR100">
      <sequence>
         <element name="ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR20">
      <sequence>
         <element name="ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR40">
      <sequence>
         <element name="ITEM" type="db:string40" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR300">
      <sequence>
         <element name="ITEM" type="db:string300" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR2000">
      <sequence>
         <element name="ITEM" type="db:string2000" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR10">
      <sequence>
         <element name="ITEM" type="db:string10" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string2000">
      <restriction base="string">
         <maxLength value="2000"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string300">
      <restriction base="string">
         <maxLength value="300"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
</schema>