Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABKPA/consultaFinancierasACH/xsd/consultaFinancierasACH_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaFinancierasACH" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaFinancierasACH" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="DESTINATION_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="DESTINATION_CODES" type="db:TOPLEVEL_TVARCHAR3" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DESTINATION_NAMES" type="db:TOPLEVEL_TVARCHAR50" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TYPE_OF_PRODUCTS" type="db:TOPLEVEL_TVARCHAR30" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MIN_PRODUCT_ID_LENGTH" type="db:TOPLEVEL_TVARCHAR3" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MAX_PRODUCT_ID_LENGTH" type="db:TOPLEVEL_TVARCHAR3" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LEADING_ZEROS_YES_NO" type="db:TOPLEVEL_TVARCHAR3" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PRODUCT_ID_SAMPLE" type="db:TOPLEVEL_TVARCHAR256" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TOPLEVEL_TVARCHAR256">
      <sequence>
         <element name="PRODUCT_ID_SAMPLE_ITEM" type="db:string256" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR50">
      <sequence>
         <element name="DESTINATION_NAMES_ITEM" type="db:string50" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR30">
      <sequence>
         <element name="TYPE_OF_PRODUCTS_ITEM" type="db:string30" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR3">
      <sequence>
         <element name="DESTINATION_CODES_ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
</schema>