Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/GestionTCAumentoReduccionLC/xsd/gestionTCAumentoReduccionLCTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionTCAumentoReduccionLCTypes" 
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionTCAumentoReduccionLCTypes">
	
	<!-- stringMinLength1Type -->
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	 <!-- orgIndType -->
    <xs:simpleType name="orgIndType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="BASE"/>
           <xs:enumeration value="ALT"/>
        </xs:restriction>
    </xs:simpleType>
	
	<xs:element name="gestionTCAumentoReduccionLC">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TYPE_ORG" type="tns:stringMinLength1"/>			
				<xs:element name="CARD_NUMBER" type="tns:stringMinLength1"/>
				<xs:element name="TYPE_PERCENTUALIZATION" type="tns:stringMinLength1"/>
				<xs:element name="MONTHLY_PURCHASE_AMOUNT" type="tns:stringMinLength1"/>
				<xs:element name="PERCENTAGE_MONTHLY_PURCHASE" type="tns:stringMinLength1"/>
				<xs:element name="MONTHLY_RETIREMENT_AMOUNT" type="tns:stringMinLength1"/>
				<xs:element name="PERCENTAGE_OF_MONTHLY_RETIREMENT" type="tns:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
	
	<xs:element name="gestionTCAumentoReduccionLCResponse"/>	
		
</xs:schema>