Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/Cobis/AperturaCuenta/xsd/OSB_Apertura_Cuenta_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/OSB_Apertura_Cuenta" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/OSB_Apertura_Cuenta" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="i_pais" type="db:string30" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_canal" type="db:string30" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_user" type="db:string30" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_fecha" type="dateTime" db:index="4" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="t_trn" type="int" db:index="5" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_oficina" type="short" db:index="6" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_cliente" type="int" db:index="7" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_moneda" type="byte" db:index="8" db:type="TINYINT" minOccurs="0" nillable="true"/>
            <element name="i_benef1" type="db:string134" db:index="9" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_cod_nac" type="db:string10" db:index="10" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_parentesco" type="db:string10" db:index="11" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_tipo_doc" type="db:string10" db:index="12" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_documento" type="db:string30" db:index="13" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_proposito_cta" type="db:string5" db:index="14" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_origen_fondos" type="db:string5" db:index="15" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_num_tran_deb" type="int" db:index="16" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_monto_pro_deb" type="decimal" db:index="17" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_num_tran_cre" type="int" db:index="18" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_monto_pro_cre" type="decimal" db:index="19" db:type="MONEY" minOccurs="0" nillable="true"/>
            <element name="i_lugar_entrega_td" type="db:string5" db:index="20" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="RETURN_VALUE" type="int" db:index="0" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_num_error" type="int" db:index="21" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_desc_error" type="db:string132" db:index="22" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="o_cta" type="db:string24" db:index="23" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string134">
      <restriction base="string">
         <maxLength value="134"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string132">
      <restriction base="string">
         <maxLength value="132"/>
      </restriction>
   </simpleType>
   <simpleType name="string24">
      <restriction base="string">
         <maxLength value="24"/>
      </restriction>
   </simpleType>
</schema>