Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/RegistrarRTE/ConsultarInfoClientesRTE/FLINK_OSB_CONSULTAR_INFO_CLIENTE_RTE.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_CONSULTAR_INFO_CLIENTE_RTE/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_CONSULTAR_INFO_CLIENTE_RTE/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="NUMEROS_IDS" type="db:TVARCHAR100" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="TIPO_ID" type="db:TVARCHAR100" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="NUMERO_ID" type="db:TVARCHAR100" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="NOMBRE_COMPLETO" type="db:TVARCHAR100" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="FECHA_NACIMIENTO" type="db:TVARCHAR100" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="GENERO" type="db:TVARCHAR100" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PAIS" type="db:TVARCHAR100" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="NACIONALIDAD" type="db:TVARCHAR100" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DEPARTAMENTO" type="db:TVARCHAR100" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MUNICIPIO" type="db:TVARCHAR100" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DIRECCION" type="db:TVARCHAR100" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TELEFONO_DOMICILIO" type="db:TVARCHAR100" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PROFESION" type="db:TVARCHAR100" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LUGAR_TRABAJO" type="db:TVARCHAR100" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TELEFONO_TRABAJO" type="db:TVARCHAR100" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ACTIVIDAD_ECONOMICA" type="db:TVARCHAR100" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="RELACION_BENEFICIARIO" type="db:TVARCHAR100" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CODIGO_ERROR" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_ERROR" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TVARCHAR100">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>