Fuentes/ficohsacore-vortex-7ebad6e8baaa/MWHostToHost/v1/Resources/PagosMasivos/wsdl/pagosMasivosPS.wsdl

<wsdl:definitions name="pagosMasivosPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:pag="http://www.ficohsa.com.hn/middleware.services/pagosMasivosTypes">
 
  <wsdl:types>
    <xsd:schema>
		<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../EsquemasGenerales/headerElements.xsd"/>
	</xsd:schema>
	<xsd:schema>
		<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/pagosMasivosTypes" schemaLocation="../xsd/pagosMasivosTypes.xsd"/>
	</xsd:schema>
  </wsdl:types>
 
  <wsdl:message name="requestHeader">
    <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
  </wsdl:message>
  
  <wsdl:message name="responseHeader">
    <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
  </wsdl:message>
   
  <wsdl:message name="pagosMasivosRequest">
    <wsdl:part element="pag:pagosMasivos" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="pagosMasivosResponse">
    <wsdl:part element="pag:pagosMasivosResponse" name="result"/>
  </wsdl:message>
  
  <wsdl:message name="consultaLotesClienteRequest">
    <wsdl:part element="pag:consultaLotesCliente" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="consultaLotesClienteResponse">
    <wsdl:part element="pag:consultaLotesClienteResponse" name="result"/>
  </wsdl:message>
 
  <wsdl:message name="consultaDetalleLoteRequest">
    <wsdl:part element="pag:consultaDetalleLote" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="consultaDetalleLoteResponse">
    <wsdl:part element="pag:consultaDetalleLoteResponse" name="result"/>
  </wsdl:message>

  <wsdl:message name="consultaTransaccionLoteRequest">
    <wsdl:part element="pag:consultaTransaccionLote" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="consultaTransaccionLoteResponse">
    <wsdl:part element="pag:consultaTransaccionLoteResponse" name="result"/>
  </wsdl:message>
  
  <wsdl:portType name="pagosMasivosPS">
    <wsdl:operation name="pagosMasivos" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:pagosMasivosRequest"/>
      <wsdl:output message="fic:pagosMasivosResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaLotesCliente" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultaLotesClienteRequest"/>
      <wsdl:output message="fic:consultaLotesClienteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaDetalleLote" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultaDetalleLoteRequest"/>
      <wsdl:output message="fic:consultaDetalleLoteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaTransaccionLote" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultaTransaccionLoteRequest"/>
      <wsdl:output message="fic:consultaTransaccionLoteResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="pagosMasivosPSSOAP" type="fic:pagosMasivosPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="pagosMasivos">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaLotesCliente">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>   
    <wsdl:operation name="consultaDetalleLote">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>    
    <wsdl:operation name="consultaTransaccionLote">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="pagosMasivosPS">
    <wsdl:port binding="fic:pagosMasivosPSSOAP" name="pagosMasivosPSSOAP">
      <soap:address location="http://mwomnicanal:8003/MWHostToHost/OperationsAndExecution/Payments/pagosMasivos"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>