Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/CashTxnRecordOperations/xsd/CashTxnRecordOperationsTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/cashTxnRecordOperationsTypes" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ctr="http://www.ficohsa.com.hn/middleware.services/cashTxnRecordOperationsTypes" xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes" xmlns:acc="http://www.ficohsa.com.hn/middleware.services/accountTypes" xmlns:cst="http://www.ficohsa.com.hn/middleware.services/customerTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes" schemaLocation="../../General/xsd/GeneralTypes.xsd"/>
	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/accountTypes" schemaLocation="../../General/xsd/AccountTypes.xsd"/>
	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypes" schemaLocation="../../General/xsd/CustomerTypes.xsd"/>

	<!-- customerQuery -->

	<xs:element name="customerQuery" type="ctr:customerQueryType"/>
	<xs:element name="customerQueryResponse" type="cst:customerType"/>

	<xs:complexType name="customerQueryType">
		<xs:sequence>
			<xs:element name="LEGAL_ID" type="cst:legalIdentificationType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- cashTransactionRecord -->

	<xs:element name="cashTransactionRecord" type="ctr:cashTransactionRecordType"/>
	<xs:element name="cashTransactionRecordResponse" type="ctr:cashTransactionRecordRspType"/>

	<xs:complexType name="cashTransactionRecordType">
		<xs:sequence>
			<xs:element name="TXN_TYPE" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ORIGINAL_CURRENCY" type="gen:currencyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ORIGINAL_AMOUNT" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="USD_AMOUNT" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FUNDS_SOURCE" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FUNDS_TARGET" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PERSONS" type="ctr:personsType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cashTransactionRecordRspType">
		<xs:sequence>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANSACTION_DETAILS" type="gen:detailsType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANSACTION_CODES" type="gen:codesType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="personsType">
		<xs:sequence>
			<xs:element name="INSTRUCTOR" type="ctr:personType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OTHER" type="ctr:otherPersonsType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="personType">
		<xs:sequence>
			<xs:element name="ID_TYPE" type="ctr:personIdNameType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ID_NUMBER" type="ctr:personIdNumberType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CITY_OF_ISSUANCE" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="STATE_OF_ISSUANCE" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="COUNTRY_OF_ISSUANCE" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIRST_FAMILY_NAME" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LAST_FAMILY_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIRST_GIVEN_NAME" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LAST_GIVEN_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FULL_LEGAL_NAME" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="GENDER" type="ctr:personGenderType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DATE_OF_BIRTH" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NATIONALITY" type="ctr:personNationalityType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ADDRESS" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PHONE_NUMBERS" type="ctr:personPhoneNumbersType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EXTRA_INFO" type="ctr:extraInfoType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="personIdNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ID_CARD"/>
			<xs:enumeration value="PASSPORT"/>
			<xs:enumeration value="DPI"/>
			<xs:enumeration value="NIT"/>
			<xs:enumeration value="INTL_COMPANY"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="personIdNumberType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="personGenderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MALE"/>
			<xs:enumeration value="FEMALE"/>
			<xs:enumeration value="NONE"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="personNationalityType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="personPhoneNumbersType">
		<xs:sequence>
			<xs:element name="PHONE_NUMBER_ITEM" type="ctr:personPhoneNumberType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="personPhoneNumberType">
		<xs:sequence>
			<xs:element name="LOCATION" type="ctr:phoneNumberLocationType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TYPE" type="ctr:typeOfPhoneNumberType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AREA_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PHONE_NUMBER" type="ctr:phoneNumberType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="phoneNumberLocationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="WORK"/>
			<xs:enumeration value="MAILBOX"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeOfPhoneNumberType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BEEPER"/>
			<xs:enumeration value="MOBILE"/>
			<xs:enumeration value="LANDLINE"/>
			<xs:enumeration value="FAX"/>
			<xs:enumeration value="PBX"/>
			<xs:enumeration value="TELEFAX"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="phoneNumberAreaCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="phoneNumberType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="extraInfoType">
		<xs:sequence>
			<xs:element name="KV_PAIR" type="ctr:kvPairType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="kvPairType">
		<xs:sequence>
			<xs:element name="KEY" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VALUE" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="otherPersonsType">
		<xs:sequence>
			<xs:element name="ID_TYPE" type="ctr:personIdNameType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ID_NUMBER" type="ctr:personIdNumberType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CITY_OF_ISSUANCE" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="STATE_OF_ISSUANCE" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="COUNTRY_OF_ISSUANCE" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIRST_FAMILY_NAME" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LAST_FAMILY_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIRST_GIVEN_NAME" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LAST_GIVEN_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FULL_LEGAL_NAME" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="GENDER" type="ctr:personGenderType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DATE_OF_BIRTH" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NATIONALITY" type="ctr:personNationalityType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ADDRESS" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PHONE_NUMBERS" type="ctr:personPhoneNumbersType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EXTRA_INFO" type="ctr:extraInfoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CUSTOMER_TYPE" type="ctr:typeOfCustomerType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SAME_AS_PAYER" type="gen:yesNoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="typeOfCustomerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BENEFICIARY"/>
			<xs:enumeration value="BANK_VISITOR"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>