Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaComisionSwift/xsd/consultaComisionSwiftTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaComisionSwiftTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaComisionSwiftTypes">
	
	<xs:complexType name = "consultaComisionSwiftResponseType">
		<xs:sequence>
           	<xs:element name="CHARGE_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="CHARGE_AMOUNT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaComisionSwift">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" />
				<xs:element name="DESTINATION_COUNTRY" type="xs:string" />
				<xs:element name="TRANSFER_CURRENCY" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaComisionSwiftResponse" type="cons:consultaComisionSwiftResponseType"/>
	
</xs:schema>