Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/MTR/autorizarLote/wsdl/autorizarLotesEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicio.enviosolicitudcoretask.mtrpmsv.cidenet.com.co/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AutorizarLotesService" targetNamespace="http://servicio.enviosolicitudcoretask.mtrpmsv.cidenet.com.co/">
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://servicio.enviosolicitudcoretask.mtrpmsv.cidenet.com.co/" targetNamespace="http://servicio.enviosolicitudcoretask.mtrpmsv.cidenet.com.co/">
  <xsd:complexType name="cabeceraRespuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleRespuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="lotes" type="ns0:lotesRespuesta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaAutorizacionLotes">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cabeceraRespuesta" type="ns0:cabeceraRespuesta"/>
      <xsd:element minOccurs="0" name="detalleRespuesta" type="ns0:detalleRespuesta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleError">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="impuesto" type="xsd:double"/>
      <xsd:element minOccurs="0" name="monto" type="xsd:double"/>
      <xsd:element minOccurs="0" name="numeroCuenta" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="loteRespuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="descripcionEstado" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="errores" nillable="true" type="ns0:detalleError"/>
      <xsd:element minOccurs="0" name="estado" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idLote" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="loteSolicitud">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fechaAplicacion" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="fechaAutorizacion" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="idLote" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lotesRespuesta">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="lote" nillable="true" type="ns0:loteRespuesta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lotesSolicitud">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="lote" nillable="true" type="ns0:loteSolicitud"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="autorizarLote">
    <xsd:sequence>
      <xsd:element name="idBancoOrigen" type="xsd:string"/>
      <xsd:element name="idCliente" type="xsd:string"/>
      <xsd:element name="idUsuario" type="xsd:string"/>
      <xsd:element name="lotes" type="ns0:lotesSolicitud"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="autorizarLoteResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="respuestaAutorizacionLotes" type="ns0:respuestaAutorizacionLotes"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="autorizarLote" type="ns0:autorizarLote"/>
  <xsd:element name="autorizarLoteResponse" type="ns0:autorizarLoteResponse"/>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="autorizarLote">
        <wsdl:part element="tns:autorizarLote" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="autorizarLoteResponse">
        <wsdl:part element="tns:autorizarLoteResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="AutorizarLotes">
        <wsdl:operation name="autorizarLote">
            <wsdl:input message="tns:autorizarLote" name="autorizarLote"/>
            <wsdl:output message="tns:autorizarLoteResponse" name="autorizarLoteResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AutorizarLotesServiceSoapBinding" type="tns:AutorizarLotes">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="autorizarLote">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="autorizarLote">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="autorizarLoteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AutorizarLotesService">
        <wsdl:port binding="tns:AutorizarLotesServiceSoapBinding" name="AutorizarLotesPort">
            <soap:address location="http://172.23.12.126:7003/EnvioSolicitudCorePmsTask/services/autorizarLotesEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>