Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingNI/RequestorServices/v1.0/GetLoanDetails/WSDL/GetLoanDetailsNI_PS.wsdl

<wsdl:definitions name="GetLoanDetailsNI_PS" targetNamespace="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS" xmlns:tns="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plnk:partnerLinkType name="GetLoanDetails_PS">
    <plnk:role name="GetLoanDetails_PSProvider" portType="tns:GetLoanDetails_PS_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamo" schemaLocation="../../../../../MWBanking/Loans/RequestorServices/XSD/getLoanDetails.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getLoanDetails_params">
        <complexType>
          <sequence>
            <element name="loanId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="getLoanDetails_inputMessage">
    <wsdl:part name="request" element="tns:getLoanDetails_params"/>
  </wsdl:message>
  <wsdl:message name="getLoanDetails_outputMessage">
    <wsdl:part name="reply" element="inp1:getLoanDetailsResponse"/>
  </wsdl:message>
  <wsdl:portType name="GetLoanDetails_PS_ptt">
    <wsdl:operation name="getLoanDetails">
      <wsdl:input message="tns:getLoanDetails_inputMessage"/>
      <wsdl:output message="tns:getLoanDetails_outputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetLoanDetails_PS_ptt-binding" type="tns:GetLoanDetails_PS_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getLoanDetails">
      <soap:operation soapAction="getLoanDetails"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>