Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/operacionesCriptograficas/wsdl/cryptographicOperations.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ficohsa.com.hn/cryptographicOperationsTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/cryptographicOperationsTypes" targetNamespace="http://www.ficohsa.com.hn/cryptographicOperationsTypes">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/cryptographicOperationsTypes" version="1.0">
            <xs:element name="processDataRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operationType">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="ENCRYPT"/>
                                    <xs:enumeration value="DECRYPT"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="cipher" type="xs:string"/>
                        <xs:element name="keyAlias" type="xs:string"/>
                        <xs:element name="dataItems">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="1" name="fieldItem">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="name" type="xs:string"/>
                                                <xs:element name="value" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="xs:string"/>
                        <xs:element minOccurs="0" name="message" type="xs:string"/>
                        <xs:element name="dataItems">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="1" name="fieldItem">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="name" type="xs:string"/>
                                                <xs:element name="value" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateHashRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="algorithm">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="MD5"/>
                                    <xs:enumeration value="SHA-256"/>
                                    <xs:enumeration value="SHA-512"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="plainData" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateHashResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="xs:string"/>
                        <xs:element minOccurs="0" name="message" type="xs:string"/>
                        <xs:element minOccurs="0" name="hashRepresentation" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="processDataRequest">
        <wsdl:part element="tns:processDataRequest" name="processDataRequest"/>
    </wsdl:message>
    <wsdl:message name="processDataResponse">
        <wsdl:part element="tns:processDataResponse" name="processDataResponse"/>
    </wsdl:message>
    <wsdl:message name="generateHashRequest">
        <wsdl:part element="tns:generateHashRequest" name="generateHashRequest"/>
    </wsdl:message>
    <wsdl:message name="generateHashResponse">
        <wsdl:part element="tns:generateHashResponse" name="generateHashResponse"/>
    </wsdl:message>
    <wsdl:portType name="cryptographicOperationsEndpoint">
        <wsdl:operation name="processData">
            <wsdl:input message="tns:processDataRequest" name="processDataRequest"/>
            <wsdl:output message="tns:processDataResponse" name="processDataResponse"/>
        </wsdl:operation>
        <wsdl:operation name="generateHash">
            <wsdl:input message="tns:generateHashRequest" name="generateHashRequest"/>
            <wsdl:output message="tns:generateHashResponse" name="generateHashResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="cryptographicOperationsEndpointSoap11" type="tns:cryptographicOperationsEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processData">
            <soap:operation soapAction=""/>
            <wsdl:input name="processDataRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="processDataResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generateHash">
            <soap:operation soapAction=""/>
            <wsdl:input name="generateHashRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generateHashResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="cryptographicOperationsEndpointService">
        <wsdl:port binding="tns:cryptographicOperationsEndpointSoap11" name="cryptographicOperationsEndpointSoap11">
            <soap:address location="http://mwomnicanal:7030/operaciones-criptograficas-ws/services/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>