Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/confirmaCheque/ReservaFondosCheque/reservaFondosChequeTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/reservaFondosChequeTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/reservaFondosChequeTypes">
	
	<xs:complexType name = "reservaFondosChequeResponseArrayType">
		<xs:sequence>
			            <xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
						<xs:element name="AMOUNT_RESERVED" type="xs:string" minOccurs="0" />
						<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="CHEQUE_EXPIRY_DATE" type="xs:string" minOccurs="0" />
						<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
		
		 </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="reservaFondosChequeResponseRecordType">
			<xs:sequence>
					<xs:element name="reservaFondosChequeResponseRecordType" type="cons:reservaFondosChequeResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="reservaFondosChequeResponseType">
		<xs:sequence>
			<xs:element name="reservaFondosChequeResponseType" type="cons:reservaFondosChequeResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="reservaFondosCheque">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				<xs:element name="AMOUNT" type="xs:string"/>
				<xs:element name="CHEQUE_NUMBER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="reservaFondosChequeResponse" type="cons:reservaFondosChequeResponseType"/>
	
</xs:schema>