Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons_Virtual/Resources/PagosMasivosH2H/pagosMasivosPS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="pagosMasivosPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/pagosMasivosTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/" xmlns:pag="http://www.ficohsa.com.hn/middleware.services/pagosMasivosTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType"
                  schemaLocation="../../Schemas/HeaderElements.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/" xmlns:pag="http://www.ficohsa.com.hn/middleware.services/pagosMasivosTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/pagosMasivosTypes"
                  schemaLocation="../../Schemas/PagosMasivosH2H/pagosMasivosTypes.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="pagosMasivosRequest">
    <WL5G3N0:part element="WL5G3N2:pagosMasivos" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="pagosMasivosResponse">
    <WL5G3N0:part element="WL5G3N2:pagosMasivosResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaLotesClienteRequest">
    <WL5G3N0:part element="WL5G3N2:consultaLotesCliente" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaLotesClienteResponse">
    <WL5G3N0:part element="WL5G3N2:consultaLotesClienteResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaDetalleLoteRequest">
    <WL5G3N0:part element="WL5G3N2:consultaDetalleLote" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaDetalleLoteResponse">
    <WL5G3N0:part element="WL5G3N2:consultaDetalleLoteResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaTransaccionLoteRequest">
    <WL5G3N0:part element="WL5G3N2:consultaTransaccionLote" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaTransaccionLoteResponse">
    <WL5G3N0:part element="WL5G3N2:consultaTransaccionLoteResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="pagosMasivosPS">
    <WL5G3N0:operation name="pagosMasivos" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:pagosMasivosRequest"/>
      <WL5G3N0:output message="WL5G3N3:pagosMasivosResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaLotesCliente" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaLotesClienteRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaLotesClienteResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaDetalleLote" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaDetalleLoteRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaDetalleLoteResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaTransaccionLote" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaTransaccionLoteRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaTransaccionLoteResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="pagosMasivosPSSOAP" type="WL5G3N3:pagosMasivosPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="pagosMasivos">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaLotesCliente">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaDetalleLote">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaTransaccionLote">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="pagosMasivosPS">
    <WL5G3N0:port binding="WL5G3N3:pagosMasivosPSSOAP" name="pagosMasivosPSSOAP">
      <WL5G3N4:address location="https://172.23.13.19:8004/MWHostToHost/OperationsAndExecution/Payments/PagosMasivos"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>