Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/CobranzasElectronicas/xsd/cobranzasElectronicasTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cbr="http://www.ficohsa.com.hn/middleware.services/cobranzasElectronicasTypes" xmlns:pag="http://www.ficohsa.com.hn/middleware.services/PagingTypes">

    <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/PagingTypes" schemaLocation="../../esquemas_generales/PagingTypes.xsd"/>
    <!-- StringType -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="stringMaxLength20">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="AGREEMENT">
		<xs:sequence>
			<xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
            <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>	
		</xs:sequence>		
	</xs:complexType>
		
    <!--###############################-->
    <!--OPERACION: CARGA ARCHIVO FACTURAS -->    
    <xs:element name="cargaArchivoFacturas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="cbr:stringMinLength1"/>
                <xs:element name="CONTRACT_ID" type="xs:string"/>
                <xs:element name="USER_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="FLAT_FILE" type="xs:base64Binary"/>
                <xs:element name="ENCRYPTED_FILE" type="cbr:yesNoType" minOccurs="0"/>
                <xs:element name="FILE_NAME" type="cbr:stringMinLength1"/>
                <xs:element name="BILL_DETAILS" type="cbr:yesNoType" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cargaArchivoFacturasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="BANK_BATCH_ID" type="xs:decimal" minOccurs="0"/>
                <xs:element name="AUTH_ALLOWED" type="cbr:yesNoType" minOccurs="0"/>
                <xs:element name="BILLS" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BILL" type="cbr:billType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- BILL TYPE -->
    <xs:complexType name="billType">
        <xs:sequence>
            <xs:element name="ID" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0"/>
            <xs:element name="TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="BILL_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="DATE_OF_ISSUE" type="xs:date" minOccurs="0"/>
            <xs:element name="DUE_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="PAYMENT_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
            <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="OVERDUE_AMOUNT" type="xs:string" minOccurs="0"/>
            <xs:element name="CREDIT_AMOUNT" type="xs:string" minOccurs="0"/>
            <xs:element name="CREDIT_RATE" type="xs:string" minOccurs="0"/>
            <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
            <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
            <xs:element name="STATUS_DESC" type="xs:string" minOccurs="0"/>
            <xs:element name="MESSAGES" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MESSAGE" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <!-- BILL TYPE -->
    <xs:complexType name="billDetType">
        <xs:sequence>
            <xs:element name="ID" type="xs:string" minOccurs="0"/>
            <xs:element name="BANK_DOCUMENT_CODE" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0"/>
            <xs:element name="TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="BILL_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="DATE_OF_ISSUE" type="xs:date" minOccurs="0"/>
            <xs:element name="DUE_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="PAYMENT_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
            <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="OVERDUE_AMOUNT" type="xs:string" minOccurs="0"/>
            <xs:element name="TXN_REFERENCE" type="xs:string" minOccurs="0"/>
            <xs:element name="TXN_DATETIME" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBIT_CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="CREDIT_CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBIT_AMOUNT" type="xs:string" minOccurs="0"/>
            <xs:element name="CREDIT_AMOUNT" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBIT_RATE" type="xs:string" minOccurs="0"/>
            <xs:element name="CREDIT_RATE" type="xs:string" minOccurs="0"/>
            <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>            
            <xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
            <xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0"/>
            <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
            <xs:element name="STATUS_DESC" type="xs:string" minOccurs="0"/>            
            <xs:element name="MESSAGES" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MESSAGE" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>    
    
    <!-- YESNO TYPE -->
    <xs:simpleType name="yesNoType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
        </xs:restriction>
    </xs:simpleType>
    <!--###############################-->

    <!--OPERACION: CARGA AGREGAR DEUDORES -->
    
    <xs:element name="agregarDeudores">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="cbr:stringMinLength1"/>
                <xs:element name="CONTRACT_ID" type="xs:string"/>
                <xs:element name="USER_ID" type="cbr:stringMinLength1"/>
                <xs:element name="DEBTORS">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DEBTOR" type="cbr:debtorWithNameType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- DEBTOR BASE TYPE -->
    <xs:complexType name="debtorBaseType">
        <xs:sequence>
            <xs:element name="DEBTOR_CODE" type="cbr:stringMinLength1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="debtorWithNameType">
        <xs:complexContent>
            <xs:extension base="cbr:debtorBaseType">
                <xs:sequence>
                    <xs:element name="DEBTOR_NAME" type="cbr:stringMinLength1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="debtorResponseType">
        <xs:complexContent>
            <xs:extension base="cbr:debtorWithNameType">
                <xs:sequence>
                    <xs:element name="STATUS" type="cbr:stringMinLength1"/>
                    <xs:element name="MESSAGES" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="agregarDeudoresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="cbr:stringMinLength1" minOccurs="0"/>
                <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="BANK_BATCH_ID" type="cbr:stringMinLength1" minOccurs="0"/>
                <xs:element name="DEBTORS" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DEBTOR" type="cbr:debtorResponseType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--###############################-->
    
    <!--OPERACION: ELIMINAR DEUDORES -->
    
    <xs:element name="eliminarDeudores">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="cbr:stringMinLength1"/>
                <xs:element name="CONTRACT_ID" type="xs:string"/>
                <xs:element name="DEBTORS">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DEBTOR" type="cbr:debtorBaseType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="eliminarDeudoresResponseType">
        <xs:complexContent>
            <xs:extension base="cbr:debtorBaseType">
                <xs:sequence>
                    <xs:element name="STATUS" type="cbr:stringMinLength1"/>
                    <xs:element name="MESSAGES" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="eliminarDeudoresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="cbr:stringMinLength1" minOccurs="0"/>
                <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="DEBTORS" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DEBTOR" type="cbr:eliminarDeudoresResponseType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--###############################-->    
    
    <!--###############################-->
    <!--OPERACION: CONSULTA DEUDORES -->
    
    <xs:element name="consultaDeudores">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="cbr:stringMinLength1" minOccurs="1"/>
                <xs:element name="CONTRACT_ID" type="xs:string"/>
                <xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0"/>
                <xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0"/>    
                <xs:element name="PAGING_INFO" type="pag:pagingInfo" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="consultaDeudoresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="RECORDS_INFO" type="pag:recordsInfo" minOccurs="0"/>
                <xs:element name="DEBTORS" type="cbr:consultaDeudoresResponseType" minOccurs="0"/>
            </xs:sequence>  
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="consultaDeudoresResponseType">
        <xs:sequence>
            <xs:element name="DEBTOR" type="cbr:debtorWithDateType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="debtorWithDateType">
        <xs:complexContent>
            <xs:extension base="cbr:debtorWithNameType">
                <xs:sequence>
                    <xs:element name="CREATION_DATE" type="xs:date" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!--###############################-->
    
    <!--OPERACION: CONSULTA LOTE DE DEUDORES -->
    
    <xs:element name="consultaLoteDeudores">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="cbr:stringMinLength1"/>
                <xs:element name="CONTRACT_ID" type="xs:string"/>
                <xs:element name="BANK_BATCH_ID" type="xs:decimal"/>
                <xs:element name="PAGING_INFO" type="pag:pagingInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="consultaLoteDeudoresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="BANK_BATCH_ID" type="xs:decimal" minOccurs="0"/>
                <xs:element name="RECORDS_INFO" type="pag:recordsInfo" minOccurs="0"/>
                <xs:element name="DEBTORS" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DEBTOR" type="cbr:consultaLoteDeudoresResponseType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="consultaLoteDeudoresResponseType">
        <xs:complexContent>
            <xs:extension base="cbr:debtorWithDateType">
                <xs:sequence>
                    <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
                    <xs:element name="STATUS_DESCRIPTION" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--###############################-->
    
    <!--###############################-->
    <!--OPERACION: CONSULTA LOTE FACTURAS -->
    
    <xs:element name="consultaLoteFacturas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="xs:string"/>
                <xs:element name="CONTRACT_ID" type="xs:string"/>
                <xs:element name="BANK_BATCH_ID" type="xs:decimal"/>
                <xs:element name="PAGING_INFO" type="pag:pagingInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    	<!-- SUMMARY -->
	<xs:complexType name="summaryType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="cbr:stringMinLength1" minOccurs="0"/>
			<xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="NUMBER_OF_BILLS" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:element name="consultaLoteFacturasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="BANK_BATCH_ID" type="xs:decimal" minOccurs="0"/>
				<xs:element name="BILLS_SUMMARY" minOccurs="0">
            	<xs:complexType>
            		<xs:sequence>
            			<xs:element name="SUMMARY" type="cbr:summaryType" maxOccurs="unbounded"/>
            		</xs:sequence>
            	</xs:complexType>
            </xs:element>          
                <xs:element name="RECORDS_INFO" type="pag:recordsInfo" minOccurs="0"/>
                <xs:element name="BILLS" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BILL" type="cbr:billType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--###############################-->
    
    <!--###############################-->
    <!--OPERACION: CONSULTA FACTURAS -->
    
    <xs:element name="consultaFacturas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="xs:string"/>
                <xs:element name="CONTRACT_ID" type="xs:string"/>                            
                <xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0"/>
                <xs:element name="BEGIN_DATE" type="xs:date" minOccurs="0"/>
                <xs:element name="END_DATE" type="xs:date" minOccurs="0"/>
                <xs:element name="PAGING_INFO" type="cbr:pagingInfoTicket"/>
                <xs:element name="BILL_STATUS" type="cbr:billStatusType" minOccurs="0"/>                    
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- BILL STATUS TYPE -->
    <xs:complexType name="billStatusType">
        <xs:sequence>
            <xs:element name="PGD" type="cbr:yesNoType" minOccurs="0"/>
            <xs:element name="PPA" type="cbr:yesNoType" minOccurs="0"/>
            <xs:element name="PEN" type="cbr:yesNoType" minOccurs="0"/>
            <xs:element name="ANU" type="cbr:yesNoType" minOccurs="0"/>
            <xs:element name="ERR" type="cbr:yesNoType" minOccurs="0"/>
            <xs:element name="ELM" type="cbr:yesNoType" minOccurs="0"/>
            <xs:element name="PRE_ALT" type="cbr:yesNoType" minOccurs="0"/>
            <xs:element name="PRE_ELM" type="cbr:yesNoType" minOccurs="0"/>
            <xs:element name="PRE_ANU" type="cbr:yesNoType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
	<xs:complexType name="pagingInfoTicket">
		<xs:sequence>
			<xs:element name="PAGING">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INITIAL_RECORD" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RECORD_COUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TICKET" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>    
	
	<xs:complexType name="recordsInfo">
		<xs:sequence>
			<xs:element name="INITIAL_RECORD" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="RECORDS_RETURNED" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="RECORDS_TOTAL" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="TICKET" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>	
    
    <xs:element name="consultaFacturasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>    
                <xs:element name="RECORDS_INFO" type="cbr:recordsInfo" minOccurs="0"/>
                <xs:element name="BILLS" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BILL" type="cbr:billDetType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--###############################-->
        
    <!--###############################-->
    <!--OPERACION: CANCELAR FACTURAS -->
    
    <xs:element name="cancelarLoteFacturas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="cbr:stringMinLength1"/>
                <xs:element name="CONTRACT_ID" type="xs:string"/>
                <xs:element name="BANK_BATCH_ID" type="cbr:stringMinLength1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="cancelarLoteFacturasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--###############################-->
        
    <!--###############################-->
    <!--OPERACION: AUTORIZACION -->
    
    <xs:element name="autorizarLoteCobranzas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="cbr:stringMinLength1"/>
                <xs:element name="CONTRACT_ID" type="xs:string"/> 
                <xs:element name="TYPE" type="cbr:autorizacionType"/>
                <xs:element name="BANK_BATCH_ID" type="xs:decimal"/>
                <xs:element name="USER_ID" type="cbr:stringMaxLength20"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="autorizarLoteCobranzasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/> 
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Autorizacion TYPE -->
    <xs:simpleType name="autorizacionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FACT"/>
        </xs:restriction>
    </xs:simpleType>
    
        <!--OPERACION: ConsultaContratosCliente -->    
    <xs:element name="consultaContratosCliente">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="cbr:stringMinLength1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

	<xs:element name="consultaContratosClienteResponse">		
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="AGREEMENTS" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AGREEMENT" type="cbr:AGREEMENT" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
			</xs:sequence>
		</xs:complexType>		
	</xs:element>

    
    <!--###############################-->
    
</xs:schema>