Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/PagoPrestamoCaja/sjConsultaPrestamo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaPrestamoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaPrestamoTypes">
	
	<xs:element name="sjConsultaPrestamo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" type="xs:string" />
				<xs:element name="PASSWORD" type="xs:string" />					
				<xs:element name="LOAN_ID" type="xs:string" minOccurs="1"/>
				<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="sjConsultaPrestamoResponse" type="cons:sjConsultaPrestamoResponseType"/>

	<xs:complexType name="sjConsultaPrestamoResponseType">
		<xs:sequence>
			<xs:element name="sjConsultaPrestamoResponseType" type="cons:sjConsultaPrestamoResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sjConsultaPrestamoResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaDatosPrestamo" type="cons:consultaDatosPrestamoType" form="qualified" minOccurs="0"/>
			<xs:element name="consultaPagoPrestamo" type="cons:consultaPagoPrestamoType" form="qualified" minOccurs="0"/>
			<xs:element name="consultaAplicaPagoPrestamo" type="cons:consultaAplicaPagoPrestamoType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaDatosPrestamoType">
		<xs:sequence>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="MESSAGES" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="MATURITY_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST_RATE" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="INITIAL_PRIN_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENT_PRIN_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="PAST_DUE_PRINCIPAL" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="ARRINT_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="COMMISSION_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_DEBT_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="PAID_INST_NO" type="xs:string" minOccurs="0"/>
			<xs:element name="INST_DUE_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="UNPAID_INST_NO" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENT_INST_PRINAMT" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENT_INST_INTEREST" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENT_INST_DEFAULT" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENT_INST_INSUR" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENT_INST_TOTAMT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPagoPrestamoType">
		<xs:sequence>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="MESSAGES" type="xs:string" minOccurs="0"/>			
			<xs:element name="TRANSACTION_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="LOAN_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="PAID_INSTALLMENT_NO" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_PAYMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_DETAILS" type="cons:paymentDetailsType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PAYMENT_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="PREVIOUS_PRINCIPAL_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENT_PRINCIPAL_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_NUMER" type="xs:string" minOccurs="0"/>
			<xs:element name="BANK_CODE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaAplicaPagoPrestamoType">
		<xs:sequence>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="MESSAGES" type="xs:string" minOccurs="0"/>			
			<xs:element name="LOAN_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="DEALSLIP_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="paymentDetailsType">
		<xs:sequence>
			<xs:element name="PAYMENT_DETAIL" type="cons:paymentDetailType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="paymentDetailType">
		<xs:sequence>
			<xs:element name="PAYMENT_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_VALUE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>