Fuentes/ficohsacore-gtcard-16dd1ac59182/SBGT_Card/SBGT_Card_Commons/Schemas/Virtual/consultasGeneralesCuentasTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultasType" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultasType">

	<xs:complexType name="consultaDetallesCuentaResponseArrayType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			<xs:element name="CUSTOMER_ID" type="xs:string"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string"/>
			<xs:element name="CATEGORY" type="xs:string"/>
			<xs:element name="CURRENCY" type="xs:string"/>
			<xs:element name="LIMIT_REF" type="xs:string"/>
			<xs:element name="RESTRICTIONS" type="xs:string"/>
			<xs:element name="ALT_ACCOUNT" type="xs:string"/>
			<xs:element name="OPENING_DATE" type="xs:string"/>
			<xs:element name="OPERATION_TYPE" type="xs:string"/>
			<xs:element name="ACCOUNT_OFFICER" type="xs:string"/>
			<xs:element name="BRANCH_CODE" type="xs:string"/>
			<xs:element name="LEGAL_ID" type="xs:string"/>
			<xs:element name="REQUIRED_SIGNATURES" type="xs:string"/>
			<xs:element name="SIGNATURE_DESC" type="xs:string"/>
			<xs:element name="INACTIVE_MARKER" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaSaldoCuentaResponseArray">
		<xs:sequence>
			<xs:element name="BALANCE_DATE" type="xs:string"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string"/>
			<xs:element name="AVAILABLE_BALANCE" type="xs:string"/>
			<xs:element name="CLEARING_BALANCE" type="xs:string"/>
			<xs:element name="LOCKED_BALANCE" type="xs:string"/>
			<xs:element name="VISA_FLOATING_BALANCE" type="xs:string"/>
			<xs:element name="TOTAL_BALANCE" type="xs:string"/>
			<xs:element name="AUTH_OVERDRAFT" type="xs:string"/>
			<xs:element name="RSRV_FUNDS_LIMIT" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="consultaSaldoPromedioCuentaResponse">
		<xs:sequence>
			<xs:element name="consultaSaldoPromedioCuentaResponseType" minOccurs="0" form="qualified">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaSaldoPromedioCuentaResponseRecordType" minOccurs="0" maxOccurs="unbounded" form="qualified">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
									<xs:element name="AVERAGE_BALANCE" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaCuentasCanceladasResponse">
		<xs:sequence>
			<xs:element name="consultaCuentasCanceladasType" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaCuentasCanceladasResponseRecordType" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
									<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
									<xs:element name="CLOSURE_DATE" type="xs:string" minOccurs="0"/>										
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaMovimientosCuentaResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="STARTING_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="ENDING_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="START_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="END_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="consultaMovimientosCuentaResponseType" minOccurs="0" form="qualified">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaMovimientosCuentaResponseRecordType" minOccurs="0" maxOccurs="unbounded" form="qualified">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="VALUE_DATE" type="xs:string" minOccurs="0"/>
									<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
									<xs:element name="REF_NO" type="xs:string" minOccurs="0"/>
									<xs:element name="DOCUMENT_NUMBER" type="xs:string" minOccurs="0"/>
									<xs:element name="TXN_REFERENCE" type="xs:string" minOccurs="0"/>
									<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="EFFECT_ON_BALANCE" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaDetalladaMovimientosCuentaResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="STARTING_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="START_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="END_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="consultaDetalladaMovimientosCuentaResponseType" minOccurs="0" form="qualified">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaDetalladaMovimientosCuentaResponseRecordType" minOccurs="0" maxOccurs="unbounded" form="qualified">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="REF_NO" type="xs:string" minOccurs="0"/>
									<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="TRANSACTION_DESCRIPTION" type="xs:string" minOccurs="0"/>
									<xs:element name="CUSTOMER_DESCRIPTION" type="xs:string" minOccurs="0"/>
									<xs:element name="BOOKING_DATE" type="xs:string" minOccurs="0"/>
									<xs:element name="VALUE_DATE" type="xs:string" minOccurs="0"/>
									<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
									<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
									<xs:element name="AUTHORIZER" type="xs:string" minOccurs="0"/>
									<xs:element name="AGENCY_CODE" type="xs:string" minOccurs="0"/>
									<xs:element name="AGENCY_NAME" type="xs:string" minOccurs="0"/>
									<xs:element name="TRANSACTION_CODE" type="xs:string" minOccurs="0"/>
									<xs:element name="EFFECT_ON_BALANCE" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaUltimosNMovimientosCuentaResponseArrayType">
		<xs:sequence>
			<xs:element name="ULTIMOS_MOVIMIENTOS" type="cons:consultaMovimientosCuentaResponse" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaUltimosNMovimientosCuentaResponse">
		<xs:sequence>
			<xs:element name="consultaUltimosNMovimientosCuentaResponse" type="cons:consultaUltimosNMovimientosCuentaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>



	<xs:complexType name="consultaDetallesCuentaResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaDetallesCuentaResponseRecordType" type="cons:consultaDetallesCuentaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaSaldoCuentaResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaSaldoCuentaResponseRecordType" type="cons:consultaSaldoCuentaResponseArray" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>




	<xs:complexType name="consultaDetallesCuentaResponseType">
		<xs:sequence>
			<xs:element name="consultaDetallesCuentaResponseType" type="cons:consultaDetallesCuentaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaSaldoCuentaResponseType">
		<xs:sequence>
			<xs:element name="consultaSaldoCuentaResponseType" type="cons:consultaSaldoCuentaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaCortaSaldoCuentaResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="INACTIVE_MARKER" type="xs:string" minOccurs="0"/>
			<xs:element name="RESTRICTIONS" type="xs:string" minOccurs="0"/>
			<xs:element name="AVAILABLE_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="LOCKED_BALANCE" type="xs:string" minOccurs="0"/>						
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaMaestraSaldoCuentaResponse">
		<xs:sequence>
			<xs:element name="BALANCE_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="AVAILABLE_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="CLEARING_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="LOCKED_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="VISA_FLOATING_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="OVRDF_CLRNG_CA_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_AVAILABLE_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="CASH_ADVANCE" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LIMIT_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="USED_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="AVAILABLE_AMOUNT" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AUTHORIZED_OVERDRAFT" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LIMIT_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="USED_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="AVAILABLE_AMOUNT" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UNAUTHORIZED_OVERDRAFT" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="USED_AMOUNT" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CLEARING_FUNDS" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LIMIT_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="USED_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="AVAILABLE_AMOUNT" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaSaldoCuentaPorCancelarResponse">
		<xs:sequence>
			<xs:element name="INITIAL_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_INTEREST" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_TAX" type="xs:string" minOccurs="0"/>					
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaDetallesCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaSaldoCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaSaldoPromedioCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				<xs:element name="START_DATE" type="xs:string"/>
				<xs:element name="END_DATE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaCuentasCanceladas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaMovimientosCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				<xs:element name="BEGIN_DATE" type="xs:string"/>
				<xs:element name="END_DATE" type="xs:string"/>
				<xs:element name="ENTRY_RANGE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaDetalladaMovimientosCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				<xs:element name="BEGIN_DATE" type="xs:string"/>
				<xs:element name="END_DATE" type="xs:string"/>
				<xs:element name="ENTRY_RANGE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaUltimosNMovimientosCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				<xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:string"/>
				<xs:element name="DEBIT_CREDIT" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaCortaSaldoCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaMaestraSaldoCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	
	<xs:element name="consultaSaldoCuentaPorCancelar">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	

	<!-- <xs:element name="consultaUltimosNMovimientosCuentaResponse" type="cons:consultaUltimosNMovimientosCuentaResponseArrayType"/> -->

	<xs:element name="consultaUltimosNMovimientosCuentaResponse" type="cons:consultaMovimientosCuentaResponse"/>

	<xs:element name="consultaMovimientosCuentaResponse" type="cons:consultaMovimientosCuentaResponse"/>
	
	<xs:element name="consultaDetalladaMovimientosCuentaResponse" type="cons:consultaDetalladaMovimientosCuentaResponse"/>

	<xs:element name="consultaDetallesCuentaResponse" type="cons:consultaDetallesCuentaResponseType"/>

	<xs:element name="consultaSaldoCuentaResponse" type="cons:consultaSaldoCuentaResponseType"/>

	<xs:element name="consultaSaldoPromedioCuentaResponse" type="cons:consultaSaldoPromedioCuentaResponse"/>
	
	<xs:element name="consultaCuentasCanceladasResponse" type="cons:consultaCuentasCanceladasResponse"/>
	
	<xs:element name="consultaCortaSaldoCuentaResponse" type="cons:consultaCortaSaldoCuentaResponse"/>
	
	<xs:element name="consultaMaestraSaldoCuentaResponse" type="cons:consultaMaestraSaldoCuentaResponse"/>
	
	<xs:element name="consultaSaldoCuentaPorCancelarResponse" type="cons:consultaSaldoCuentaPorCancelarResponse"/>

</xs:schema>