Fuentes/ficohsacore-osb12-b78f21b126d5/DataWareHouse/ProviderServices/XSD/GetCustomerRisk/v1.0/GetCustomerRiskGT_BS_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetCustomerRisk_GT1" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetCustomerRisk_GT1" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="Identidad" type="db:string20" db:index="1" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="NIT1" type="db:string20" db:index="2" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="PRIMER_NOMBRE1" type="db:string100" db:index="3" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="PRIMER_APELLIDO1" type="db:string100" db:index="4" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="FECHA_NACIMIENTO1" type="db:string100" db:index="5" db:type="SYSNAME" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>