Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/AplicaCargoCuenta/xsd/aplicaCargoCuentaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/aplicaCargoCuentaTypes"
	xmlns:cred="http://www.ficohsa.com.hn/middleware.services/aplicaCargoCuentaTypes">
	
	<xs:complexType name="aplicaCargoCuentaResponseType">
		<xs:sequence>
			<xs:element name="DEBITED_ACCOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="CURENCY" type="xs:string" minOccurs="0" />
			<xs:element name="CHARGED_AMOUNT" type="xs:decimal" minOccurs="0" />
			<xs:element name="TRANSACTION_REFERENCE" type="xs:string" minOccurs="0" />
			<xs:element name="VALUE_DATE" type="xs:date" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="aplicaCargoCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_ACCOUNT" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CHARGE_AMOUNT" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TRANSACTION_TYPE_CODE" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" minOccurs="0"/>
				<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="aplicaCargoCuentaResponse" type="cred:aplicaCargoCuentaResponseType"/>
	
	
</xs:schema>