Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/VinculaDispositivos/wsdl/vinculaDispositivosPS.wsdl

<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:vd="http://www.ficohsa.com.hn/middleware.services/vinculaDispositivosPS/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="vinculaDispositivosPS"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasTypes"
	xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/vinculaDispositivosPS/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType"
				schemaLocation="../../esquemas_generales/HeaderElements.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasTypes"
				schemaLocation="../../DigitalizacionTarjetas/xsd/digitalizacionTarjetasTypes.xsd" />
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	<wsdl:message name="vinculaDispositivosRequest">
		<wsdl:part element="tns:vinculaDispositivos" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="vinculaDispositivosResponse">
		<wsdl:part element="tns:vinculaDispositivosResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:portType name="vinculaDispositivosPS">
		<wsdl:operation name="vinculaDispositivos"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="vd:vinculaDispositivosRequest" />
			<wsdl:output message="vd:vinculaDispositivosResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="vinculaDispositivosPSSOAP" type="vd:vinculaDispositivosPS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="vinculaDispositivos">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/vinculaDispositivosPS/vinculaDispositivos" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="vd:vinculaDispositivosRequest"
					part="RequestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="vd:vinculaDispositivosResponse"
					part="ResponseHeader" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="vinculaDispositivosPS">
		<wsdl:port binding="vd:vinculaDispositivosPSSOAP" name="vinculaDispositivosPSSOAP">
			<soap:address 
			location="http://172.23.13.35:8003/Middleware/OperationsAndExecution/CustomerDeposits/digitalizacionTarjetas" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
