Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FPC/listadoTipoSaldos/xsd/listadoTipoSaldosFPC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/listadoTipoSaldosFPC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/listadoTipoSaldosFPC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_COD_PRODUCTO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_COD_SUBPRODUCTO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="T_TIP_SALDOS" type="db:CA.CA_WEB_SERVICE_TAB_TIP_SALDOS" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CODIGO_ERROR" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_ERROR" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CA.CA_WEB_SERVICE_TAB_TIP_SALDOS">
      <sequence>
         <element name="T_TIP_SALDOS_ITEM" type="db:CA.CA_WEB_SERVICE_TYPE_TIP_SALDO" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="CA.CA_WEB_SERVICE_TYPE_TIP_SALDO">
      <sequence>
         <element name="COD_TIP_SALDO" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCION" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>