Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/T24/ACHContratos/xsd/XMLSchema_-1123798799.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="ConsultaContratosACHDebitos" type="tns:ConsultaContratosACHDebitos"/>

<xs:element name="ConsultaContratosACHDebitosResponse" type="tns:ConsultaContratosACHDebitosResponse"/>

<xs:element name="RegistrodeContratoACHDebito" type="tns:RegistrodeContratoACHDebito"/>

<xs:element name="RegistrodeContratoACHDebitoResponse" type="tns:RegistrodeContratoACHDebitoResponse"/>

<xs:element name="RegistrodeContratoACHDebito_Validate" type="tns:RegistrodeContratoACHDebito_Validate"/>

<xs:element name="RegistrodeContratoACHDebito_ValidateResponse" type="tns:RegistrodeContratoACHDebito_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="FICOESTATUSACHDEBITOSType">
<xs:sequence>
<xs:element name="ZERORECORD" type="xs:string" minOccurs="0"/>
<xs:element name="gFICOESTATUSACHDEBITOSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mFICOESTATUSACHDEBITOSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADOCONTRATO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FICOACHDEBITOSINPUTWSType">
<xs:sequence>
<xs:element name="LUGAR" type="xs:string" minOccurs="0"/>
<xs:element name="DATE" type="xs:string" minOccurs="0"/>
<xs:element name="IDCOMPANIA" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHFIRM" type="xs:string" minOccurs="0"/>
<xs:element name="CONCEPTO" type="xs:string" minOccurs="0"/>
<xs:element name="NOCONTRATO" type="xs:string" minOccurs="0"/>
<xs:element name="NOMBRECUENTA" type="xs:string" minOccurs="0"/>
<xs:element name="IDENTIFICACION" type="xs:string" minOccurs="0"/>
<xs:element name="TELEFONO" type="xs:string" minOccurs="0"/>
<xs:element name="CORREO" type="xs:string" minOccurs="0"/>
<xs:element name="BANCO" type="xs:string" minOccurs="0"/>
<xs:element name="NOCUENTA" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOCUENTA" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOMONEDA" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOVIGENCIA" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOMONTO" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOPERIODICIDAD" type="xs:string" minOccurs="0"/>
<xs:element name="FECHAENVIO" type="xs:string" minOccurs="0"/>
<xs:element name="NOMBREENVIO" type="xs:string" minOccurs="0"/>
<xs:element name="CARGOENVIO" type="xs:string" minOccurs="0"/>
<xs:element name="NOMBREVALIDADOR" type="xs:string" minOccurs="0"/>
<xs:element name="PUESTOVALIDADOR" type="xs:string" minOccurs="0"/>
<xs:element name="EXTTELEFONOVAL" type="xs:string" minOccurs="0"/>
<xs:element name="CODIGORECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="OBSERVACIONES" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADOCONTRATO" type="xs:string" minOccurs="0"/>
<xs:element name="FECHAINICIO" type="xs:string" minOccurs="0"/>
<xs:element name="FECHAFINALIZACION" type="xs:string" minOccurs="0"/>
<xs:element name="MAXIMOTRANSACCION" type="xs:string" minOccurs="0"/>
<xs:element name="MAXIMODEBITOS" type="xs:string" minOccurs="0"/>
<xs:element name="CADA" type="xs:string" minOccurs="0"/>
<xs:element name="gDELACH" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mDELACH" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DELACH" type="xs:string" minOccurs="0"/>
<xs:element name="ALACH" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="EXONERADO" type="xs:string" minOccurs="0"/>
<xs:element name="ORDENANTE" type="xs:string" minOccurs="0"/>
<xs:element name="CONTROLAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CONTROLDEBITOS" type="xs:string" minOccurs="0"/>
<xs:element name="CONTROLMES" type="xs:string" minOccurs="0"/>
<xs:element name="CONTROLDEL" type="xs:string" minOccurs="0"/>
<xs:element name="CONTROLAL" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOCONTRATO" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOMONEDA2" type="xs:string" minOccurs="0"/>
<xs:element name="IDENTIFICACION2" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOCUENTA2" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOPRODUCTO" type="xs:string" minOccurs="0"/>
<xs:element name="IDCONVENIOT24" type="xs:string" minOccurs="0"/>
<xs:element name="DIAEJECUCION" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOACHDEBITOSType">
<xs:sequence>
<xs:element name="LUGAR" type="xs:string" minOccurs="0"/>
<xs:element name="DATE" type="xs:string" minOccurs="0"/>
<xs:element name="IDCOMPANIA" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHFIRM" type="xs:string" minOccurs="0"/>
<xs:element name="CONCEPTO" type="xs:string" minOccurs="0"/>
<xs:element name="NOCONTRATO" type="xs:string" minOccurs="0"/>
<xs:element name="NOMBRECUENTA" type="xs:string" minOccurs="0"/>
<xs:element name="IDENTIFICACION" type="xs:string" minOccurs="0"/>
<xs:element name="TELEFONO" type="xs:string" minOccurs="0"/>
<xs:element name="CORREO" type="xs:string" minOccurs="0"/>
<xs:element name="BANCO" type="xs:string" minOccurs="0"/>
<xs:element name="NOCUENTA" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOCUENTA" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOMONEDA" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOVIGENCIA" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOMONTO" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOPERIODICIDAD" type="xs:string" minOccurs="0"/>
<xs:element name="FECHAENVIO" type="xs:string" minOccurs="0"/>
<xs:element name="NOMBREENVIO" type="xs:string" minOccurs="0"/>
<xs:element name="CARGOENVIO" type="xs:string" minOccurs="0"/>
<xs:element name="NOMBREVALIDADOR" type="xs:string" minOccurs="0"/>
<xs:element name="PUESTOVALIDADOR" type="xs:string" minOccurs="0"/>
<xs:element name="EXTTELEFONOVAL" type="xs:string" minOccurs="0"/>
<xs:element name="CODIGORECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="OBSERVACIONES" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADOCONTRATO" type="xs:string" minOccurs="0"/>
<xs:element name="FECHAINICIO" type="xs:string" minOccurs="0"/>
<xs:element name="FECHAFINALIZACION" type="xs:string" minOccurs="0"/>
<xs:element name="MAXIMOTRANSACCION" type="xs:string" minOccurs="0"/>
<xs:element name="MAXIMODEBITOS" type="xs:string" minOccurs="0"/>
<xs:element name="CADA" type="xs:string" minOccurs="0"/>
<xs:element name="gDELACH" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mDELACH" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DELACH" type="xs:string" minOccurs="0"/>
<xs:element name="ALACH" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="EXONERADO" type="xs:string" minOccurs="0"/>
<xs:element name="ORDENANTE" type="xs:string" minOccurs="0"/>
<xs:element name="CONTROLAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CONTROLDEBITOS" type="xs:string" minOccurs="0"/>
<xs:element name="CONTROLMES" type="xs:string" minOccurs="0"/>
<xs:element name="CONTROLDEL" type="xs:string" minOccurs="0"/>
<xs:element name="CONTROLAL" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOCONTRATO" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOMONEDA2" type="xs:string" minOccurs="0"/>
<xs:element name="IDENTIFICACION2" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOCUENTA2" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOPRODUCTO" type="xs:string" minOccurs="0"/>
<xs:element name="IDCONVENIOT24" type="xs:string" minOccurs="0"/>
<xs:element name="DIAEJECUCION" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="ConsultaContratosACHDebitos">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="FICOESTATUSACHDEBITOSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaContratosACHDebitosResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOESTATUSACHDEBITOSType" type="tns:FICOESTATUSACHDEBITOSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrodeContratoACHDebito_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOACHDEBITOSINPUTWSType" type="tns:FICOACHDEBITOSINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrodeContratoACHDebito_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOACHDEBITOSType" type="tns:FICOACHDEBITOSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrodeContratoACHDebito">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOACHDEBITOSINPUTWSType" type="tns:FICOACHDEBITOSINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrodeContratoACHDebitoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOACHDEBITOSType" type="tns:FICOACHDEBITOSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>