Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/impresionChequeras/ConsultaChequeras/consultaChequerasTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaChequerasTypes"
	xmlns:cheq="http://www.ficohsa.com.hn/middleware.services/consultaChequerasTypes">
	
	<xs:complexType name="consultaChequerasResponseType">
		<xs:sequence>
			<xs:element name="consultaChequerasResponseType" type="cheq:consultaChequerasResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaChequerasResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaChequerasResponseRecordType" type="cheq:consultaChequerasResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name = "consultaChequerasResponseArrayType">
		<xs:sequence>
			<xs:element name="CHEQUEBOOK_ID" type="xs:string"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			<xs:element name="ALT_ACCOUNT" type="xs:string"/>
			<xs:element name="CURRENCY" type="xs:string"/>
			<xs:element name="CUSTOMER_ID" type="xs:string"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string"/>
			<xs:element name="NAME_ON_CHEQUEBOOK" type="xs:string"/>
			<xs:element name="PRODUCT_DESCRIPTION" type="xs:string"/>
			<xs:element name="REQUEST_DATE" type="xs:string"/>
			<xs:element name="REQUEST_TIME" type="xs:string"/>
			<xs:element name="ORIGIN_BRANCH_ID" type="xs:string"/>
			<xs:element name="DESTINATION_BRANCH_ID" type="xs:string"/>
			<xs:element name="DESTINATION_BRANCH_NAME" type="xs:string"/>
			<xs:element name="PRINT_ZONE" type="xs:string"/>
			<xs:element name="CHEQUEBOOK_TYPE" type="xs:string"/>
			<xs:element name="CHEQUEBOOK_TYPE_DESC" type="xs:string"/>
			<xs:element name="NUMBER_OF_BOOKS" type="xs:string"/>
			<xs:element name="CHEQUES_PER_BOOK" type="xs:string"/>
			<xs:element name="INITIAL_CHEQUE_NUMBER" type="xs:string"/>
			<xs:element name="FINAL_CHEQUE_NUMBER" type="xs:string"/>
			<xs:element name="CHEQUEBOOK_STATUS" type="xs:string"/>
			<xs:element name="CHQBK_PRINT_STATUS" type="xs:string"/>
			<xs:element name="ADDRESS" type="xs:string"/>
			<xs:element name="TELEPHONE" type="xs:string"/>
			<xs:element name="FAX" type="xs:string"/>
			<xs:element name="CONVERGING_CITY" type="xs:string"/>
			<xs:element name="INPUTTER" type="xs:string"/>
			<xs:element name="INPUTTER_NAME" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:element name="consultaChequeras">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CHEQUEBOOK_STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CHQBK_PRINT_STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CHEQUEBOOK_RANGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaChequerasResponse" type="cheq:consultaChequerasResponseType"/>
	
	
</xs:schema>