Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaInformacionRENAP/wsdl/consultaInformacionRENAPPS.wsdl

<wsdl:definitions name="consultaInformacionRENAPPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaInformacionRENAPPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaInformacionRENAPPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaInformacionRENAPTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaInformacionRENAPTypes" schemaLocation="../xsd/consultaInformacionRENAPTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="consultaInformacionCUIRequest">
		<wsdl:part element="tns:consultaInformacionCUI" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaInformacionCUIResponse">
		<wsdl:part element="tns:consultaInformacionCUIResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="consultaInformacionHUELLARequest">
		<wsdl:part element="tns:consultaInformacionHUELLA" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaInformacionHUELLAResponse">
		<wsdl:part element="tns:consultaInformacionHUELLAResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:portType name="consultaInformacionRENAPPS">
		<wsdl:operation name="consultaInformacionCUI" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaInformacionCUIRequest"/>
			<wsdl:output message="fic:consultaInformacionCUIResponse"/>
		</wsdl:operation>
		<wsdl:operation name="consultaInformacionHUELLA" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaInformacionHUELLARequest"/>
			<wsdl:output message="fic:consultaInformacionHUELLAResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="consultaInformacionRENAPPSSOAP" type="fic:consultaInformacionRENAPPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaInformacionCUI">
			<soap:operation soapAction="http://www.ficohsa.com.hn/consultaInformacionRENAP/consultaInformacionCUI"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:consultaInformacionCUIRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:consultaInformacionCUIResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultaInformacionHUELLA">
			<soap:operation soapAction="http://www.ficohsa.com.hn/consultaInformacionRENAP/consultaInformacionHUELLA"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:consultaInformacionHUELLARequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:consultaInformacionHUELLAResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="consultaInformacionRENAPPS">
		<wsdl:port binding="fic:consultaInformacionRENAPPSSOAP" name="consultaInformacionRENAPPSSOAP">
			<soap:address location="https://172.23.13.19:8004/Middleware/ReferenceData/BusinessPartner/ConsultaInformacionRENAP"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>