Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ManejaTokenRENAPGT/xsd/manejaTokenRENAPGTTypes.xsd

<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/manejaTokenRENAPGTTypes" 
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/manejaTokenRENAPGTTypes">
	
	
	<!--############################-->     
  	<!--OPERACION: MANEJATOKENRENAP	-->
    <!--############################-->
    
     <xs:element name="manejaTokenRENAP">
         <xs:complexType>
             <xs:sequence>
                 <xs:element name="TOKEN" type="xs:string"/>
                 <xs:element name="FECHA_EXPIRACION" type="xs:string"/>
              </xs:sequence>
         </xs:complexType>
     </xs:element>
     
     <xs:element name="manejaTokenRENAPResponse">
         <xs:complexType>
             <xs:sequence>
                 <xs:element name="TOKEN" type="xs:string"/>
              </xs:sequence>
         </xs:complexType>
     </xs:element>
</xs:schema>