Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/Resources/T24TransacctionMassivesTSP_inbound/xsd/FICOTSPTRANSACTION-FICOTSPTRANSACTION.xsd

<xsd:schema targetNamespace="http://www.temenos.com/T24/event/FICOTSPTRANSACTION/FICOTSPTRANSACTION" elementFormDefault="qualified" xmlns="http://www.temenos.com/T24/event/FICOTSPTRANSACTION/FICOTSPTRANSACTION" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"><xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="Common-EventCommon.xsd"/><xsd:element name="FICOTSPTRANSACTION"><xsd:complexType><xsd:sequence><xsd:element ref="eventCommon" minOccurs="1" maxOccurs="1"/><xsd:element ref="id" minOccurs="0" maxOccurs="1"/><xsd:element ref="exonSameCus" minOccurs="0" maxOccurs="1"/><xsd:element ref="exonCcyDif" minOccurs="0" maxOccurs="1"/><xsd:element ref="convenio" minOccurs="0" maxOccurs="1"/><xsd:element ref="comision" minOccurs="0" maxOccurs="1"/><xsd:element ref="tspLbtr" minOccurs="0" maxOccurs="1"/><xsd:element ref="chargeByT24" minOccurs="0" maxOccurs="1"/><xsd:element ref="auditDateTime" minOccurs="0" maxOccurs="1"/><xsd:element ref="dateTimeList" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="eventCommon" type="ns0:EventCommon"/><xsd:element name="id" type="xsd:string"/><xsd:element name="exonSameCus" type="xsd:string"/><xsd:element name="exonCcyDif" type="xsd:string"/><xsd:element name="convenio" type="xsd:string"/><xsd:element name="comision" type="xsd:string"/><xsd:element name="tspLbtr" type="xsd:string"/><xsd:element name="chargeByT24" type="xsd:string"/><xsd:element name="auditDateTime" type="xsd:string"/><xsd:element name="dateTimeList"><xsd:complexType><xsd:sequence><xsd:element name="dateTime" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:simpleContent><xsd:extension base="xsd:string"><xsd:attribute name="index" type="xsd:integer"/></xsd:extension></xsd:simpleContent></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>