Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ValidaNumeroViajero/xsd/validaNumeroViajeroTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/validaNumeroViajeroTypes" 
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/validaNumeroViajeroTypes">
	
	<xs:element name="validaNumeroViajero">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" type="xs:string" name="Type"/>
	   			<xs:element minOccurs="1" type="xs:string" name="FlyerNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
	
	<xs:element name="validaNumeroViajeroResponse">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="Result" type="xs:string" minOccurs="0"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
	
</xs:schema>