Fuentes/ficohsacore-osb-7e5cceccb837/MWHostToHost/v1/BusinessServices/SJS/TransferenciaInternacionalH2HICB/xsd/sjTransferenciaInternacionalH2HICB.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjTransfersH2HICBTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:trans="http://www.ficohsa.com.hn/middleware.services/sjTransfersH2HICBTypes">

<xs:simpleType name="bancoType">
<xs:restriction base="xs:string">
<xs:enumeration value="ABA" />
<xs:enumeration value="SWIFT" />
<xs:enumeration value="" />
</xs:restriction>
</xs:simpleType>

<!--############################### -->
<!-- OPERACION: TRANSFERENCIA INTERNACIONAL -->
<!--############################### -->
<xs:element name="sjTransferenciaInternacionalICBRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="CUSTOMER_ID" type="xs:string" />
<xs:element name="USER_NAME" type="xs:string" />
<xs:element name="PASSWORD" type="xs:string" />
<xs:element name="SOURCE_BANK" type="xs:string" />
<xs:element name="TRANSFERS_INT">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSFER_INT" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TRACE" type="xs:string"/>
<xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
<xs:element name="DEBIT_CURRENCY" type="xs:string"/>
<xs:element name="TRANSFER_AMOUNT" type="xs:string"/>
<xs:element name="DESTINATION_COUNTRY" type="xs:string"/>
<xs:element name="DESTINATION_CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="INTERMEDIARY_BANK_CODE" type="xs:string" />
<xs:element name="INTERMEDIARY_BANK_CODE_TYPE" type="trans:bancoType" />
<xs:element name="INTERMEDIARY_BANK_INSTRUCTIONS" type="xs:string" />
<xs:element name="INTERMEDIARY_BANK_NAME" type="xs:string" minOccurs="0"/>
<xs:element name="INTERMEDIARY_BANK_ADDRESS" type="xs:string" minOccurs="0"/>
<xs:element name="BENEF_BANK_CODE" type="xs:string"/>
<xs:element name="BENEF_BANK_CODE_TYPE" type="trans:bancoType"/>
<xs:element name="BENEF_BANK_INT_ACCOUNT" type="xs:string"/>
<xs:element name="BENEF_BANK_NAME" type="xs:string"/>
<xs:element name="BENEF_BANK_ADDRESS" type="xs:string" />
<xs:element name="BENEF_BANK_CITY" type="xs:string" />
<xs:element name="BENEF_BANK_STATE" type="xs:string" />
<xs:element name="BENEF_BANK_POSTAL_CODE" type="xs:string"/>
<xs:element name="BENEF_BANK_COUNTRY" type="xs:string"/>
<xs:element name="BENEFICIARY_NAME" type="xs:string"/>
<xs:element name="BENEFICIARY_ACCOUNT" type="xs:string"/>
<xs:element name="BENEFICIARY_ADDRESS" type="xs:string" />
<xs:element name="BENEFICIARY_CITY" type="xs:string" />
<xs:element name="BENEFICIARY_STATE" type="xs:string" />
<xs:element name="BENEFICIARY_POSTAL_CODE" type="xs:string" />
<xs:element name="BENEFICIARY_COUNTRY" type="xs:string" />
<xs:element name="BENEFICIARY_INFO" type="xs:string" minOccurs="0"/>
<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" />
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORIZATION" type="xs:string" minOccurs="0"/>
<xs:element name="PROCESSDATE" type="xs:string" minOccurs="0"/>
<xs:element name="REFERENCECODE" type="xs:string" minOccurs="0"/>
<xs:element name="EXCHANGERATE" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT_DEBIT" type="xs:string" minOccurs="0"/>	

</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="sjTransferenciaInternacionalICBResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSFERS_INT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSFER_INT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
<xs:element name="TRACE" type="xs:string"/>
<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
<xs:element name="ORDERING_CUSTOMER" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

</xs:schema>