Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ReversarTransaccion/ReversarTransaccion.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/reversarTransaccionTypes"
	xmlns:con="http://www.ficohsa.com.hn/middleware.services/reversarTransaccionTypes">

	<xs:element name="reversarTransaccion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTION_ID">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="TRANSACTION_TYPE">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>				
				<xs:element name="AUTHORIZER_USERNAME" type="xs:string" minOccurs="0"/>
				<xs:element name="AUTHORIZER_PASSWORD" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="reversarTransaccionResponse"/>

</xs:schema>