Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/reclamosSwitch/RegistroReclamoTransaccionSwitch/registroReclamoTransaccionSwitchTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/registroReclamoTransaccionSwitchTypes"
	xmlns:con="http://www.ficohsa.com.hn/middleware.services/registroReclamoTransaccionSwitchTypes">

	<xs:element name="registroReclamoTransaccionSwitch">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SCENARIO" type="xs:string" />
				<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="TRACE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="CLAIM_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="ATM_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="NETWORK_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="CLAIM_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="CLAIM_CURRENCY" type="xs:string" />
				<xs:element name="CLAIM_AMOUNT" type="xs:string" />
				<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="registroReclamoTransaccionSwitchResponse"/>

</xs:schema>