Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ACSELXGT/GestionAccesosUsuarios/wsdl/WS_AcselxIDM_gt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CrearUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvCodigoUsuarioGFF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvArea" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvPerfilPuesto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvCodigoOficina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvEmailGFF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvPrimerNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvSegundoNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvPrimerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvSegundoApellido" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearUsuarioResult" type="tns:classResultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="classResultado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sConnectionString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="areaActual" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="perfilActual" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="credenciales" type="tns:credenciales" />
      <s:complexType name="credenciales">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="publicacion" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ConsultarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvCodigoUsuarioGFF" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarUsuarioResult" type="tns:classResultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarAreaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvCodigoUsuarioGFF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvAreaNueva" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvPerfilNuevo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarAreaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CambiarAreaUsuarioResult" type="tns:classResultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GestionarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvCodigoUsuarioGFF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pvAccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GestionarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GestionarUsuarioResult" type="tns:classResultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CrearUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="CrearUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CrearUsuariocredenciales">
    <wsdl:part name="credenciales" element="tns:credenciales" />
  </wsdl:message>
  <wsdl:message name="ConsultarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarUsuario" />
  </wsdl:message>
  <wsdl:message name="ConsultarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarUsuariocredenciales">
    <wsdl:part name="credenciales" element="tns:credenciales" />
  </wsdl:message>
  <wsdl:message name="CambiarAreaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CambiarAreaUsuario" />
  </wsdl:message>
  <wsdl:message name="CambiarAreaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CambiarAreaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CambiarAreaUsuariocredenciales">
    <wsdl:part name="credenciales" element="tns:credenciales" />
  </wsdl:message>
  <wsdl:message name="GestionarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:GestionarUsuario" />
  </wsdl:message>
  <wsdl:message name="GestionarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:GestionarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="GestionarUsuariocredenciales">
    <wsdl:part name="credenciales" element="tns:credenciales" />
  </wsdl:message>
  <wsdl:portType name="WS_AcselxIDM_GTSoap">
    <wsdl:operation name="CrearUsuario">
      <wsdl:input message="tns:CrearUsuarioSoapIn" />
      <wsdl:output message="tns:CrearUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuario">
      <wsdl:input message="tns:ConsultarUsuarioSoapIn" />
      <wsdl:output message="tns:ConsultarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiarAreaUsuario">
      <wsdl:input message="tns:CambiarAreaUsuarioSoapIn" />
      <wsdl:output message="tns:CambiarAreaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GestionarUsuario">
      <wsdl:input message="tns:GestionarUsuarioSoapIn" />
      <wsdl:output message="tns:GestionarUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_AcselxIDM_GTSoap" type="tns:WS_AcselxIDM_GTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CrearUsuariocredenciales" part="credenciales" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuario">
      <soap:operation soapAction="http://tempuri.org/ConsultarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ConsultarUsuariocredenciales" part="credenciales" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarAreaUsuario">
      <soap:operation soapAction="http://tempuri.org/CambiarAreaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CambiarAreaUsuariocredenciales" part="credenciales" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GestionarUsuario">
      <soap:operation soapAction="http://tempuri.org/GestionarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GestionarUsuariocredenciales" part="credenciales" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_AcselxIDM_GTSoap12" type="tns:WS_AcselxIDM_GTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsuario">
      <soap12:operation soapAction="http://tempuri.org/CrearUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CrearUsuariocredenciales" part="credenciales" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuario">
      <soap12:operation soapAction="http://tempuri.org/ConsultarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ConsultarUsuariocredenciales" part="credenciales" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarAreaUsuario">
      <soap12:operation soapAction="http://tempuri.org/CambiarAreaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CambiarAreaUsuariocredenciales" part="credenciales" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GestionarUsuario">
      <soap12:operation soapAction="http://tempuri.org/GestionarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GestionarUsuariocredenciales" part="credenciales" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_AcselxIDM_GT">
    <wsdl:port name="WS_AcselxIDM_GTSoap" binding="tns:WS_AcselxIDM_GTSoap">
      <soap:address location="http://172.24.15.69/ApiAcselxIdmgt/WS_AcselxIDM_gt.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_AcselxIDM_GTSoap12" binding="tns:WS_AcselxIDM_GTSoap12">
      <soap12:address location="http://172.24.15.69/ApiAcselxIdmgt/WS_AcselxIDM_gt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>