Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKGT/consultaDocumento/xsd/consultaDocumento_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDocumento" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDocumento" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_BRANCH" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_JOURNAL" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_TELLER" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CURRENCY" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_DATE" type="dateTime" db:index="5" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PV_TYPE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_BRANCH" type="db:PROXYABANKSGT.TNUMBER" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_JOURNAL" type="db:PROXYABANKSGT.TNUMBER" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TELLER" type="db:PROXYABANKSGT.TVARCHAR10" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TYPE" type="db:PROXYABANKSGT.TVARCHAR25" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CURRENCY" type="db:PROXYABANKSGT.TVARCHAR3" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DATE" type="db:PROXYABANKSGT.TDATE" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TRANSACTID" type="db:PROXYABANKSGT.TVARCHAR15" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_ACCOUNT" type="db:PROXYABANKSGT.TVARCHAR20" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CHECKNUMBER" type="db:PROXYABANKSGT.TNUMBER" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_AMOUNT" type="db:PROXYABANKSGT.TNUMBER" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SERVICETYPE" type="db:PROXYABANKSGT.TVARCHAR25" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TXNID" type="db:PROXYABANKSGT.TNUMBER" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TRANSACTCODE" type="db:PROXYABANKSGT.TNUMBER" db:index="19" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_STATUS" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MESSAGE" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.TVARCHAR25">
      <sequence>
         <element name="ITEM" type="db:string25" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TVARCHAR15">
      <sequence>
         <element name="ITEM" type="db:string15" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TVARCHAR10">
      <sequence>
         <element name="ITEM" type="db:string10" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TVARCHAR20">
      <sequence>
         <element name="ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TNUMBER">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TDATE">
      <sequence>
         <element name="ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TVARCHAR3">
      <sequence>
         <element name="ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
</schema>
