Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ArmarMensajeNotificaChqVir/xsd/armarMensajeChqVir_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/armarMensajeChqVir" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/armarMensajeChqVir" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_BANCOORIGEN" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_NOCHEQUE" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MONTO" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PT_FECHA" type="dateTime" db:index="5" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PN_ESTADO" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJEERROR" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_MENSAJEERROR" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ASUNTO" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CUERPOEMAIL" type="string" db:index="9" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="PV_CUERPOINBOX" type="string" db:index="10" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOERROR" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
