Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaTransaccionesTotales/xsd/consultaTransaccionesTotalesTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTransaccionesTotalesTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaTransaccionesTotalesTypes"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
    <!--############################################-->
    <!-- OPERATION: consultaTransaccionesTotales -->
    <!--############################################-->
    <xs:element name="consultaTransaccionesTotales"/>
       
    <xs:element name="consultaTransaccionesTotalesResponse">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="TOTAL" minOccurs="0" >
					<xs:complexType>
						<xs:sequence>
			                <xs:element name="CURRENCY" type="xs:string"  minOccurs="0"/>	
			                <xs:element name="TOTAL_SALES" type="xs:string"  minOccurs="0"/>				
							<xs:element name="TOTAL_PURCHASES" type="xs:string"  minOccurs="0"/>		
							<xs:element name="AVAILABLE" type="xs:string"  minOccurs="0"/>			
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>