Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaPuntajeCredito/xsd/consultaPuntajeCreditoTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaPuntajeCreditoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaPuntajeCreditoTypes"
	elementFormDefault="qualified">
	
	<xs:simpleType name="stringMinLength">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="conditions">
		<xs:sequence>
			<xs:element name="CONDITION" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="productType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AHO"/>
			<xs:enumeration value="CHQ"/>
			<xs:enumeration value="TRC"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="paymentInfo">
		<xs:sequence>
			<xs:element name="PRODUCT_TYPE" type="tns:productType" minOccurs="0"/>
			<xs:element name="PRODUCT_NUMBER" type="tns:stringMinLength" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="keyValuePair">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string" minOccurs="0"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="keyValuePairGroup">
		<xs:sequence>
			<xs:element name="KV_PAIR" type="tns:keyValuePair" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="range">
		<xs:sequence>
			<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
			<xs:element name="MINIMUM_VALUE" type="xs:string" minOccurs="0"/>
			<xs:element name="MAXIMUM_VALUE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="rangesGroup">
		<xs:sequence>
			<xs:element name="RANGE" type="tns:range" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaPuntajeCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_LEGAL_ID" type="tns:stringMinLength"/>
				<xs:element name="PAYMENT_INFO" type="tns:paymentInfo" minOccurs="0"/>
				<xs:element name="ADDITIONAL_INFO" type="tns:keyValuePairGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaPuntajeCreditoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="PAYMENT_CURRENCY" type="xs:string" minOccurs="0"/>
				<xs:element name="SCORE" type="xs:string" minOccurs="0"/>
				<xs:element name="DETERMINING_CONDITIONS" type="tns:conditions" minOccurs="0"/>
				<xs:element name="RANGES" type="tns:rangesGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>