Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/ABKGT/ConsultarRelacionOpRecaudo/xsd/consultarRelacionOperacionRecaudo_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarRelacionOperacionRecaudo" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarRelacionOperacionRecaudo" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_CONTRATO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_DEUDOR" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_FACTURA_REQ" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MONEDA_SOLICITUD" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_FACTURA" type="db:TERCEROSGT.TVARCHAR100" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MONEDA_FACTURA" type="db:TERCEROSGT.TVARCHAR100" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="FECHA_FACTURA" type="db:TERCEROSGT.TVARCHAR100" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="FECHA_VENCIMIENTO" type="db:TERCEROSGT.TVARCHAR100" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MONTO_FACTURA" type="db:TERCEROSGT.TVARCHAR100" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MORA" type="db:TERCEROSGT.TVARCHAR100" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MONEDAS_SOLICITUD" type="db:TERCEROSGT.TVARCHAR100" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MONTO_TOTAL" type="db:TERCEROSGT.TVARCHAR100" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ESTADO" type="db:TERCEROSGT.TVARCHAR100" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="LISTA_VALORES" type="db:TERCEROSGT.TVARCHAR100" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CODIGO_ERROR" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_ERROR" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TERCEROSGT.TVARCHAR100">
      <sequence>
         <element name="CODIGO_FACTURA_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>