Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/ForeignExchange/wsdl/ForeignExchange.wsdl

<wsdl:definitions 
	name="foreignExchangePS"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/foreignExchangePS/"
	xmlns:fic="http://www.ficohsa.com.hn/middleware.services/foreignExchangePS/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType"
	xmlns:fox="http://www.ficohsa.com.hn/middleware.services/foreignExchangeTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType"
				schemaLocation="../../General/xsd/Header.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/foreignExchangeTypes"
				schemaLocation="../xsd/ForeignExchangeTypes.xsd" />
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="directForexQueryRequest">
		<wsdl:part element="fox:directForexQuery" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="directForexQueryResponse">
		<wsdl:part element="fox:directForexQueryResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:message name="fcySaleRequest">
		<wsdl:part element="fox:fcySale" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="fcySaleResponse">
		<wsdl:part element="fox:fcySaleResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:message name="fcyPurchaseRequest">
		<wsdl:part element="fox:fcyPurchase" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="fcyPurchaseResponse">
		<wsdl:part element="fox:fcyPurchaseResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:message name="negotiationEnactmentRequest">
		<wsdl:part element="fox:negotiationEnactment" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="negotiationEnactmentResponse">
		<wsdl:part element="fox:negotiationEnactmentResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:message name="negotiationQueryRequest">
		<wsdl:part element="fox:negotiationQuery" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="negotiationQueryResponse">
		<wsdl:part element="fox:negotiationQueryResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:portType name="foreignExchangePS">
		<wsdl:operation name="directForexQuery"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:directForexQueryRequest" />
			<wsdl:output message="fic:directForexQueryResponse" />
		</wsdl:operation>
		<wsdl:operation name="fcySale"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:fcySaleRequest" />
			<wsdl:output message="fic:fcySaleResponse" />
		</wsdl:operation>
		<wsdl:operation name="fcyPurchase"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:fcyPurchaseRequest" />
			<wsdl:output message="fic:fcyPurchaseResponse" />
		</wsdl:operation>
		<wsdl:operation name="negotiationEnactment"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:negotiationEnactmentRequest" />
			<wsdl:output message="fic:negotiationEnactmentResponse" />
		</wsdl:operation>
		<wsdl:operation name="negotiationQuery"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:negotiationQueryRequest" />
			<wsdl:output message="fic:negotiationQueryResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="foreignExchangePSSOAP" type="fic:foreignExchangePS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="directForexQuery">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/DirectForexQueryPS/directForexQuery" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:directForexQueryRequest" part="RequestHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:directForexQueryResponse" part="ResponseHeader"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fcySale">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/foreignExchangePS/fcySale" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:fcySaleRequest" part="RequestHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:fcySaleResponse" part="ResponseHeader"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fcyPurchase">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/foreignExchangePS/fcyPurchase" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:fcyPurchaseRequest" part="RequestHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:fcyPurchaseResponse" part="ResponseHeader"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="negotiationQuery">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/negotiationQueryPS/negotiationQuery" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:negotiationQueryRequest" part="RequestHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:negotiationQueryResponse"
					part="ResponseHeader" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="negotiationEnactment">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/negotiationEnactmentPS/negotiationEnactment" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:negotiationEnactmentRequest"
					part="RequestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:negotiationEnactmentResponse"
					part="ResponseHeader" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="foreignExchangePS">
		<wsdl:port binding="fic:foreignExchangePSSOAP" name="foreignExchangePSSOAP">
			<soap:address location="http://mwteller:8004/mwteller/forex/foreignExchange" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>