Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaGestionesMonetarias_v2/xsd/XMLSchema_447818794.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaGestionesMonetariasTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaGestionesMonetariasTypes">
		
	<!-- Parametros de Entrada -->
    <xs:element name="consultaGestionesMonetarias">
    	<xs:complexType>
	    	<xs:sequence>
	    		<xs:element name="NUMUSU" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
	    		<xs:element name="DETALLE_GESTION" type="xs:string" minOccurs="1" maxOccurs="1"/>
	    		<xs:element name="PAIS" type="xs:string" minOccurs="1" maxOccurs="1"/>
	    	</xs:sequence>
	    </xs:complexType>
    </xs:element>
	
	
	<!-- Parametros de Salida -->
	<xs:element name="consultaGestionesMonetariasResponse" type="fic:GestionesMonetariasResponseRecord"/>
	
	<xs:complexType name="GestionesMonetariasResponseRecord">
			<xs:sequence>
				<xs:element name="GestionesMonetariasResponseRecord" type="fic:GestionesMonetariasResponseType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>		
			
   	<xs:complexType name="GestionesMonetariasResponseType">
    	<xs:sequence>
			<xs:element name="NUMUSU" type="xs:decimal"/>
	        <xs:element name="DETALLE" type="xs:string"/>
	        <xs:element name="IMP_M_LOCAL" type="xs:decimal"/>
	        <xs:element name="IMP_M_USD" type="xs:decimal"/>
	        <xs:element name="FECHA_ORIGEN" type="xs:string"/>
	        <xs:element name="FECHA_LIQ" type="xs:string"/>
	        <xs:element name="FECHA_VENCIMIENTO" type="xs:string"/>
	        <xs:element name="FECHA_LIQ_PROX" type="xs:string"/>
	        <xs:element name="FECHA_PAGO" type="xs:string"/>
	        <xs:element name="PORCENTAJE" type="xs:int"/>
	        <xs:element name="CATEGORIA" type="xs:string"/>
	        <xs:element name="SUB_CATEGORIA" type="xs:string"/>
	        <xs:element name="COD_OPERACION" type="xs:string"/>
	        <xs:element name="PAGO_MLOCAL" type="xs:decimal"/>
	        <xs:element name="PAGO_USD" type="xs:decimal"/>
	        <xs:element name="SALDO_ACT_MLOCAL" type="xs:decimal"/>
	        <xs:element name="SALDO_ACT_USD" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	
		
</xs:schema>