Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaDatosTarjetaCreditoCB/xsd/consultaDatosTarjetaCreditoCBTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDatosTarjetaCreditoCBTypes"
	xmlns:dnh="http://www.ficohsa.com.hn/middleware.services/consultaDatosTarjetaCreditoCBTypes">    
    
    
     <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
    
	<xs:element name="consultaDatosTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="dnh:stringMinLength1"/>
				<xs:element name="ORG" type="xs:integer" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name = "consultaDatosTarjetaCreditoResponseArrayType">
        <xs:sequence>
            <xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
            <xs:element name="ACCOUNT_HOLDER_NAME" type="xs:string" minOccurs="0" />
            <xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0" />
            <xs:element name="CARD_TYPE" type="xs:string" minOccurs="0" />
            <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" />
            <xs:element name="CARD_HOLDER_LEGAL_ID" type="xs:string" minOccurs="0" />
            <xs:element name="ACCOUNT_HOLDER_LEGAL_ID" type="xs:string" minOccurs="0" />
            <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
            <xs:element name="PRODUCT" type="xs:string" minOccurs="0" />
            <xs:element name="AFINITY_GROUP" type="xs:string" minOccurs="0" />
            <xs:element name="ACCOUNT_STATUS" type="xs:string" minOccurs="0" />
            <xs:element name="CARD_STATUS" type="xs:string" minOccurs="0" />
            <xs:element name="CARD_EXPIRATION_DATE" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="consultaDatosTarjetaCreditoResponseRecordType">
        <xs:sequence>
            <xs:element name="consultaDatosTarjetaCreditoResponseRecordType" type="dnh:consultaDatosTarjetaCreditoResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="consultaDatosTarjetaCreditoResponseType">
        <xs:sequence>
            <xs:element name="consultaDatosTarjetaCreditoResponseType" type="dnh:consultaDatosTarjetaCreditoResponseRecordType" form="qualified" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="consultaDatosTarjetaCreditoResponse" type="dnh:consultaDatosTarjetaCreditoResponseType"/>
</xs:schema>