Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/consultaCuotaPagoPrestamo/xsd/services.xsd

<schema elementFormDefault="qualified" targetNamespace="http://service.srvaplcobisconsultaprestamo.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://dto2.sdf.cts.cobis.cobiscorp.com" xmlns:Q1="http://dto.srvaplcobisentidades.ecobis.cobiscorp">
  <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/>
  <import schemaLocation="cobiscorp.ecobis.srvaplcobisentidades.dto.xsd" namespace="http://dto.srvaplcobisentidades.ecobis.cobiscorp"/>
  <element name="opConsultaCuotaPrestamoSolicitud" type="Q1:OpConsultaCuotaPrestamoSolicitud"/>
  <element name="opConsultaCuotaPrestamoRespuesta" type="Q1:OpConsultaCuotaPrestamoResponse"/>
  <element name="opConsultaPagoPrestamoSolicitud" type="Q1:OpConsultaPagoPrestamoSolicitud"/>
  <element name="opConsultaPagoPrestamoRespuesta" type="Q1:OpConsultaPagoPrestamoResponse"/>
</schema>