Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/tarjetasDebito/consultaCuentasAfiliadasTarjetaDebito/consultaCuentasAfiliadasTarjetaDebitoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCuentasAfiliadasTarjetaDebitoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaCuentasAfiliadasTarjetaDebitoTypes">
	
	<xs:complexType name = "consultaCuentasAfiliadasTarjetaDebitoResponseArrayType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT_RANK" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaCuentasAfiliadasTarjetaDebitoResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaCuentasAfiliadasTarjetaDebitoResponseRecordType" type="cons:consultaCuentasAfiliadasTarjetaDebitoResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaCuentasAfiliadasTarjetaDebitoResponseType">
		<xs:sequence>
			<xs:element name="consultaCuentasAfiliadasTarjetaDebitoResponseType" type="cons:consultaCuentasAfiliadasTarjetaDebitoResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaCuentasAfiliadasTarjetaDebito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_CARD_NUMBER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaCuentasAfiliadasTarjetaDebitoResponse" type="cons:consultaCuentasAfiliadasTarjetaDebitoResponseType"/>
</xs:schema>