Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/SolicitudTarjetaDebitoRelieve/xsd/solicitudTarjetaDebitoRelieveTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"  targetNamespace="http://www.ficohsa.com.hn/middleware.services/solicitudTarjetaDebitoRelieveTypes" xmlns:sol="http://www.ficohsa.com.hn/middleware.services/solicitudTarjetaDebitoRelieveTypes" >
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="solicitudTarjetaDebitoRelieve">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_TYPE" type="sol:stringMinLength1"/>
				<xs:element name="CUSTOMER_CODE" type="sol:stringMinLength1"/>
				<xs:element name="PRIMARY_ACCOUNT" type="sol:stringMinLength1"/>
				<xs:element name="CURRENCY_ACCOUNT" type="sol:stringMinLength1"/>
				<xs:element name="SECONDARY_ACCOUNTS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SECONDARY_ACCOUNT" type="sol:stringMinLength1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NAME_ON_PLASTIC" type="sol:stringMinLength1"/>
				<xs:element name="DELIVERY_ADDRESS" type="sol:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="solicitudTarjetaDebitoRelieveResponse">
		<xs:complexType>
			<xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>