Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/BusinessServices/ABKPA/pagoTarjetaCredito/xsd/pagoTarjetaCredito_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pagoTarjetaCredito" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/pagoTarjetaCredito" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_NUMEROTARJETA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDASALDO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MONTOPAGO" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CUENTADEBITO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROINTERFACE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TIPOTRANSACCION" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_SALDOACTUAL" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_AUTORIZACIONESPENDIENTES" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_PAGOSPENDIENTES" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_BANCOORIGEN" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BANCODESTINO" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PN_NUMEROREFERENCIA" type="decimal" db:index="12" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_MONTOPAGADO" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDAPAGO" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TASACAMBIO" type="decimal" db:index="15" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_DATETIME" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERRORCODE" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERRORMESSAGE" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TIPOMONEDA" type="decimal" db:index="19" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_SECUENCIAORIGEN" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHAVALIDA" type="dateTime" db:index="21" db:type="DATE" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>