Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/consultaTransacciones/Resources/consultasTransaccionesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultasTransaccionesTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultasTransaccionesTypes">
	
	<xs:complexType name="consultaDetalleFTResponseType">
		<xs:sequence>
			<xs:element name="consultaDetalleFTResponseType"
				type="cons:consultaDetalleFTRResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="consultaDetalleFTRResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaDetalleFTRResponseRecordType"
				type="cons:consultaDetalleFTRResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaDetalleFTRResponseArrayType">
		<xs:sequence>
			<xs:element name="TRANSACTIONTYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTIONNAME" type="xs:string" minOccurs="0"/>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBITACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBITCURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBITAMMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDITACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDITCURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDITAMMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="PROCESSSINGDATE" type="xs:string" minOccurs="0"/>
			<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaDetalleTTResponseType">
		<xs:sequence>
			<xs:element name="consultaDetalleTTResponseType"
				type="cons:consultaDetalleTTResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaDetalleTTResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaDetalleTTResponseRecordType"
				type="cons:consultaDetalleTTResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaDetalleTTResponseArrayType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTIONCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTIONNAME" type="xs:string" minOccurs="0"/>
			<xs:element name="TELLERID1" type="xs:string" minOccurs="0"/>
			<xs:element name="TELLERID2" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT1" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY1" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNTLOCAL1" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNTFCY1" type="xs:string" minOccurs="0"/>
			<xs:element name="VALUEDATE1" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT2" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY2" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNTLOCAL2" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNTFCY2" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="VALUEDATE2" type="xs:string" minOccurs="0"/>
			<xs:element name="REQUIRESRTE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaDetalleFTRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaDetalleTTRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaDetalleFTResponse" type="cons:consultaDetalleFTResponseType"/>
	<xs:element name="consultaDetalleTTResponse" type="cons:consultaDetalleTTResponseType"/>
	
</xs:schema>