Fuentes/ficohsacore-hncard-488b7ad93302/SBHN_Card/SBHN_Card_CustomizeDebitCardPin/Schemas/CustomizeDebitCardPinTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/honduras/card" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/honduras/card" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBHN_Card_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  
  <xsd:element name="customizeDebitCardPin">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="CardNumber" type="xsd:string"/>
        <xsd:element name="Pin" type="xsd:string"/>
        <xsd:element name="CustomerId" type="xsd:string"/>
        <xsd:element name="CustomerUser" type="xsd:string"/>
        <xsd:element name="TransactionDate" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="customizeDebitCardPinResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>