Fuentes/ficohsacore-hncard-488b7ad93302/SBHN_Card/SBHN_Card_CustomizeDebitCardPin/Schemas/debitCardOperationServices.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.ficohsa.com.hn/schema/debitCardOperationTypes"
            targetNamespace="http://www.ficohsa.com.hn/schema/debitCardOperationTypes">
   <xsd:element name="setNewPinRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cardNumber" type="xsd:string"/>
        <xsd:element name="pin" type="xsd:string"/>
        <xsd:element name="cryptographicKeyPinBlock" type="xsd:string"/>
        <xsd:element name="cryptographicKeyPVV" type="xsd:string"/>
        <xsd:element name="pvki" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="setNewPinResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="status" type="xsd:string"/>
        <xsd:element name="cardNumber" type="xsd:string"/>
        <xsd:element name="pin" type="xsd:string"/>
        <xsd:element name="pvv" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>