Fuentes/ficohsacore-hncard-488b7ad93302/SBHN_Card/SBHN_Card_CustomizeDebitCardPin/Schemas/Rollbackservices_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xs:schema version="1.0" targetNamespace="T24WebServicesImpl" xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="callOfs" type="tns:callOfs"/>
  <xs:element name="callOfsResponse" type="tns:callOfsResponse"/>
  <xs:element name="rollbackCustomizeDebitCardPin" type="tns:rollbackCustomizeDebitCardPin"/>
  <xs:element name="rollbackCustomizeDebitCardPinResponse" type="tns:rollbackCustomizeDebitCardPinResponse"/>
  <xs:element name="rollbackCustomizeDebitCardPin_Validate" type="tns:rollbackCustomizeDebitCardPin_Validate"/>
  <xs:element name="rollbackCustomizeDebitCardPin_ValidateResponse" type="tns:rollbackCustomizeDebitCardPin_ValidateResponse"/>
  <xs:complexType name="FICOHDEBITCARDSTATUSPVVREVERTType">
    <xs:sequence>
      <xs:element name="PVV" type="xs:string" minOccurs="0"/>
      <xs:element name="OLDPVV" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="FICOHDEBITCARDSTATUSType">
    <xs:sequence>
      <xs:element name="CARDTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="AGENCY" type="xs:string" minOccurs="0"/>
      <xs:element name="TYPEOFRELIEF" type="xs:string" minOccurs="0"/>
      <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
      <xs:element name="OLDDRCRDNUM" type="xs:string" minOccurs="0"/>
      <xs:element name="STARTDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="EXPDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSTNO" type="xs:string" minOccurs="0"/>
      <xs:element name="PVV" type="xs:string" minOccurs="0"/>
      <xs:element name="PVVOLD" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_7" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_6" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
      <xs:element name="LATAMBATCHID" type="xs:string" minOccurs="0"/>
      <xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
      <xs:element name="gINPUTTER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gDATETIME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
      <xs:element name="COCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="callOfs">
    <xs:sequence>
      <xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfsResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rollbackCustomizeDebitCardPin_Validate">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
      <xs:element name="FICOHDEBITCARDSTATUSPVVREVERTType" type="tns:FICOHDEBITCARDSTATUSPVVREVERTType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="webRequestCommon">
    <xs:sequence>
      <xs:element name="userName" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="company" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ofsFunction">
    <xs:sequence>
      <xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
      <xs:element name="replace" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rollbackCustomizeDebitCardPin_ValidateResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="FICOHDEBITCARDSTATUSType" type="tns:FICOHDEBITCARDSTATUSType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rollbackCustomizeDebitCardPin">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
      <xs:element name="FICOHDEBITCARDSTATUSPVVREVERTType" type="tns:FICOHDEBITCARDSTATUSPVVREVERTType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rollbackCustomizeDebitCardPinResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="FICOHDEBITCARDSTATUSType" type="tns:FICOHDEBITCARDSTATUSType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="successIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="TWSError"/>
      <xs:enumeration value="T24Error"/>
      <xs:enumeration value="T24Override"/>
      <xs:enumeration value="T24Offline"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>