Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/Switch/iso8583ConverterMultiple/wsdl/iso8583ConverterMultiple.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ficohsa.com.hn/schema/iso8583ConverterMultipleTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/schema/iso8583ConverterMultipleTypes" targetNamespace="http://www.ficohsa.com.hn/schema/iso8583ConverterMultipleTypes">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/schema/iso8583ConverterMultipleTypes" version="1.0">
            <xs:element name="convertXMLToISO8583Request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="iso8583">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="iso8583Item">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="messageConfiguration" type="xs:string"/>
                                                <xs:element name="headerMessageDetails">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="item">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="key" type="xs:string"/>
                                                                        <xs:element name="value" type="xs:string"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="bodyMessageDetails">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="item">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="key" type="xs:string"/>
                                                                        <xs:element name="value" type="xs:string"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="convertXMLToISO8583Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="status" type="xs:string"/>
                        <xs:element minOccurs="0" name="message" type="xs:string"/>
                        <xs:element minOccurs="0" name="messageList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="messageItem">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="errorCode" type="xs:string"/>
                                                <xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
                                                <xs:element minOccurs="0" name="message" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="convertISO8583ToXMLRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="messageList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="messageItem">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="messageConfiguration" type="xs:string"/>
                                                <xs:element name="message" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="convertISO8583ToXMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="status" type="xs:string"/>
                        <xs:element minOccurs="0" name="message" type="xs:string"/>
                        <xs:element minOccurs="0" name="iso8583">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="iso8583Item">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="errorCode" type="xs:string"/>
                                                <xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
                                                <xs:element name="headerMessageDetails">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="item">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="key" type="xs:string"/>
                                                                        <xs:element name="value" type="xs:string"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="bodyMessageDetails">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="item">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="key" type="xs:string"/>
                                                                        <xs:element name="value" type="xs:string"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="convertISO8583ToXMLRequest">
        <wsdl:part element="tns:convertISO8583ToXMLRequest" name="convertISO8583ToXMLRequest"/>
    </wsdl:message>
    <wsdl:message name="convertISO8583ToXMLResponse">
        <wsdl:part element="tns:convertISO8583ToXMLResponse" name="convertISO8583ToXMLResponse"/>
    </wsdl:message>
    <wsdl:message name="convertXMLToISO8583Request">
        <wsdl:part element="tns:convertXMLToISO8583Request" name="convertXMLToISO8583Request"/>
    </wsdl:message>
    <wsdl:message name="convertXMLToISO8583Response">
        <wsdl:part element="tns:convertXMLToISO8583Response" name="convertXMLToISO8583Response"/>
    </wsdl:message>
    <wsdl:portType name="iso8583ConverterMultipleEndpoint">
        <wsdl:operation name="convertISO8583ToXML">
            <wsdl:input message="tns:convertISO8583ToXMLRequest" name="convertISO8583ToXMLRequest"/>
            <wsdl:output message="tns:convertISO8583ToXMLResponse" name="convertISO8583ToXMLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="convertXMLToISO8583">
            <wsdl:input message="tns:convertXMLToISO8583Request" name="convertXMLToISO8583Request"/>
            <wsdl:output message="tns:convertXMLToISO8583Response" name="convertXMLToISO8583Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="iso8583ConverterMultipleEndpointSoap11" type="tns:iso8583ConverterMultipleEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="convertISO8583ToXML">
            <soap:operation soapAction=""/>
            <wsdl:input name="convertISO8583ToXMLRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="convertISO8583ToXMLResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="convertXMLToISO8583">
            <soap:operation soapAction=""/>
            <wsdl:input name="convertXMLToISO8583Request">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="convertXMLToISO8583Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="iso8583ConverterMultipleEndpointService">
        <wsdl:port binding="tns:iso8583ConverterMultipleEndpointSoap11" name="iso8583ConverterMultipleEndpointSoap11">
            <soap:address location="http://172.23.13.19:7003/iso8583-converter-multiple-ws/services/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>