Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RegistrarBitacoraOSB/xsd/registrarBitacoraOSBTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/registrarBitacoraOSBTypes"
	xmlns:proc="http://www.ficohsa.com.hn/middleware.services/registrarBitacoraOSBTypes">

	<xs:element name="registrarBitacoraOSB">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UUID" type="xs:string"/>
				<xs:element name="TIPO_MENSAJE" type="xs:string"/>
				<xs:element name="ID_SERVICIO" type="xs:string"/>
				<xs:element name="ID_OPERACION" type="xs:string"/>
				<xs:element name="ID_OSB" type="xs:string"/>
				<xs:element name="BANCO_ORIGEN" type="xs:string"/>
				<xs:element name="BANCO_DESTINO" type="xs:string"/>
				<xs:element name="USUARIO" type="xs:string"/>
				<xs:element name="CONTENIDO" type="xs:string"/>
				<xs:element name="ID_TRANSACCION" type="xs:string"/>
				<xs:element name="RESULTADO" type="xs:string"/>
				<xs:element name="MENSAJE_ERROR" type="xs:string"/>
				<xs:element name="UUID_REQUEST" type="xs:string"/>
				<xs:element name="FECHA_TRANSACCION" type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="registrarBitacoraOSBResponse" >
	<xs:complexType>
		<xs:sequence>
			<xs:element name="CODIGO_ERROR" type="xs:string" />
			<xs:element name="DESCRIPCION_ERROR" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	</xs:element>

</xs:schema>