Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/PagoRecaudo/xsd/pagoRecaudoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoRecaudoTypes"
	xmlns:pag="http://www.ficohsa.com.hn/middleware.services/pagoRecaudoTypes">
	
	<xs:complexType name="pagoRecaudoResponseType">
		<xs:sequence>
			<xs:element name="CONTRACT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="PAYMENT_INFORMATION" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PAYMENT_METHOD" type="xs:string"/>
						<xs:element name="PAYMENT_CURRENCY" type="xs:string"/>
						<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0" />
						<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
						<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="BANK_CODE" type="xs:string" minOccurs="0" />
						<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BILL_DETAIL" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="pagoRecaudo">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CONTRACT_ID" type="xs:string"/>
	            <xs:element name="DEBTOR_CODE" type="xs:string"/>
	            <xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0" />
	            <xs:element name="PAYMENT_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PAYMENT_METHOD" type="xs:string"/>
							<xs:element name="PAYMENT_CURRENCY" type="xs:string"/>
							<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0" />
							<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
							<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
							<xs:element name="BANK_CODE" type="xs:string" minOccurs="0" />
							<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" />
							<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
	            <xs:element name="BILL_INFORMATION" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BILL_NUMBER" type="xs:string" minOccurs="0" />
							<xs:element name="DUE_DATE" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>				
	            <xs:element name="EXTENDED_COLLECTION_YES_NO" type="xs:string" minOccurs="0" />
	            <xs:element name="DEALSLIP_PICKUP_BRANCH" type="xs:string" minOccurs="0" />
	            <xs:element name="ADDITIONAL_INFO" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DATA" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoRecaudoResponse" type="pag:pagoRecaudoResponseType"/>

</xs:schema>