Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaSolicitudAperturaCuenta/xsd/consultaSolicitudAperturaCuentaTypes.xsd

<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" 
targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSolicitudAperturaCuentaTypes" 
xmlns:sol="http://www.ficohsa.com.hn/middleware.services/consultaSolicitudAperturaCuentaTypes">

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="consultaSolicitudAperturaCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="COD_ID" type="sol:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaSolicitudAperturaCuentaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="COD_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="ID_TABLE" type="xs:string" minOccurs="0"/>
				<xs:element name="ESTADO" type="xs:string" minOccurs="0"/>
				<xs:element name="DESC_RECHAZO" type="xs:string" minOccurs="0"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>