Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/OSB/ConsultaCalendarioPagoPrestamo_v3/wsdl/ConsultaCalendarioPagoPrestamo_v3.wsdl

<WL5G3N0:definitions name="consultaCalendarioPagoPrestamoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:ccpp="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_2120880979.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:ccpp="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoTypes" schemaLocation="../xsd/XMLSchema_1806773370.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaCalendarioPagoPrestamoRequest">
    <WL5G3N0:part element="WL5G3N2:consultaCalendarioPagoPrestamo" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaCalendarioPagoPrestamoResponse">
    <WL5G3N0:part element="WL5G3N2:consultaCalendarioPagoPrestamoResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="consultaCalendarioPagoPrestamoPS">
    <WL5G3N0:operation name="consultaCalendarioPagoPrestamo" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaCalendarioPagoPrestamoRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaCalendarioPagoPrestamoResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="consultaCalendarioPagoPrestamoPSSOAP" type="WL5G3N3:consultaCalendarioPagoPrestamoPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="consultaCalendarioPagoPrestamo">
      <WL5G3N4:operation soapAction="http://www.example.org/consultaCalendarioPagoPrestamoPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="consultaCalendarioPagoPrestamoPS">
    <WL5G3N0:port binding="WL5G3N3:consultaCalendarioPagoPrestamoPSSOAP" name="consultaCalendarioPagoPrestamoPSSOAP">
      <WL5G3N4:address location="http://SJARAMILLO.CIDENET.LOCAL:7001/Middleware/OperationsAndExecution/Cards/ConsultaCalendarioPagoPrestamo_v3"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>