Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RegistroPagoNominaCobis/wsdl/RegistroPagoNominaCobisPS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:cob="http://www.ficohsa.com.hn/middleware.services/RegistroPagoNominaCobisPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegistroPagoNominaCobisPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/RegistroPagoNominaCobisPS/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/registroPagoNominaCobisTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
  
   <wsdl:types>
    <xsd:schema>
    	<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/registroPagoNominaCobisTypes" schemaLocation="../xsd/registroPagoNominaCobisTypes.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
  </wsdl:message>
  
  <wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
  </wsdl:message>
  
  <wsdl:message name="registroPagoNominaCobisRequest">
    <wsdl:part element="tns:registroPagoNominaCobis" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="registroPagoNominaCobisResponse">
    <wsdl:part element="tns:registroPagoNominaCobisResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="RegistroPagoNominaCobisPS">
    <wsdl:operation name="registroPagoNominaCobis" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="cob:registroPagoNominaCobisRequest"/>
      <wsdl:output message="cob:registroPagoNominaCobisResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="RegistroPagoNominaCobisPSSOAP" type="cob:RegistroPagoNominaCobisPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registroPagoNominaCobis">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/RegistroPagoNominaCobisPS/registroPagoNominaCobis"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="cob:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="cob:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="RegistroPagoNominaCobisPS">
    <wsdl:port binding="cob:RegistroPagoNominaCobisPSSOAP" name="RegistroPagoNominaCobisPSSOAP">
      <soap:address location="https://172.23.13.19:8004/Middleware/OperationsAndExecution/CustomerDeposits/registroPagoNominaCobis"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
