Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/ficocelAdmin/Resources/FicocelAdmin.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_-2124600533.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_1876963756.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Registraralertaaclientebevents">
<part name="parameters" element="tns:Registraralertaaclientebevents"/>
</message>
<message name="RegistraralertaaclientebeventsResponse">
<part name="parameters" element="tns:RegistraralertaaclientebeventsResponse"/>
</message>
<message name="Registraralertaaclientebevents_Validate">
<part name="parameters" element="tns:Registraralertaaclientebevents_Validate"/>
</message>
<message name="Registraralertaaclientebevents_ValidateResponse">
<part name="parameters" element="tns:Registraralertaaclientebevents_ValidateResponse"/>
</message>
<message name="Registrarclienteenbusinessevent">
<part name="parameters" element="tns:Registrarclienteenbusinessevent"/>
</message>
<message name="RegistrarclienteenbusinesseventResponse">
<part name="parameters" element="tns:RegistrarclienteenbusinesseventResponse"/>
</message>
<message name="Registrarclienteenbusinessevent_Validate">
<part name="parameters" element="tns:Registrarclienteenbusinessevent_Validate"/>
</message>
<message name="Registrarclienteenbusinessevent_ValidateResponse">
<part name="parameters" element="tns:Registrarclienteenbusinessevent_ValidateResponse"/>
</message>
<message name="ConsultadeFicoAlertas">
<part name="parameters" element="tns:ConsultadeFicoAlertas"/>
</message>
<message name="ConsultadeFicoAlertasResponse">
<part name="parameters" element="tns:ConsultadeFicoAlertasResponse"/>
</message>
<message name="ListadeFicoAlertasporproducto">
<part name="parameters" element="tns:ListadeFicoAlertasporproducto"/>
</message>
<message name="ListadeFicoAlertasporproductoResponse">
<part name="parameters" element="tns:ListadeFicoAlertasporproductoResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Registraralertaaclientebevents">
<input message="tns:Registraralertaaclientebevents"/>
<output message="tns:RegistraralertaaclientebeventsResponse"/>
</operation>
<operation name="Registraralertaaclientebevents_Validate">
<input message="tns:Registraralertaaclientebevents_Validate"/>
<output message="tns:Registraralertaaclientebevents_ValidateResponse"/>
</operation>
<operation name="Registrarclienteenbusinessevent">
<input message="tns:Registrarclienteenbusinessevent"/>
<output message="tns:RegistrarclienteenbusinesseventResponse"/>
</operation>
<operation name="Registrarclienteenbusinessevent_Validate">
<input message="tns:Registrarclienteenbusinessevent_Validate"/>
<output message="tns:Registrarclienteenbusinessevent_ValidateResponse"/>
</operation>
<operation name="ConsultadeFicoAlertas">
<input message="tns:ConsultadeFicoAlertas"/>
<output message="tns:ConsultadeFicoAlertasResponse"/>
</operation>
<operation name="ListadeFicoAlertasporproducto">
<input message="tns:ListadeFicoAlertasporproducto"/>
<output message="tns:ListadeFicoAlertasporproductoResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registraralertaaclientebevents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registraralertaaclientebevents_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registrarclienteenbusinessevent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registrarclienteenbusinessevent_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultadeFicoAlertas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListadeFicoAlertasporproducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwinterbanca:7003/svcFicocelAdmin/services"/>
</port>
</service>
</definitions>