Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/BillOperations/xsd/BillOperationsTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/billOperationsTypes" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bil="http://www.ficohsa.com.hn/middleware.services/billOperationsTypes" xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes" schemaLocation="../../General/xsd/GeneralTypes.xsd"/>

	<!-- Bill Query -->
	<xs:element name="billQuery" type="bil:billQueryType"/>

	<xs:complexType name="billQueryType">
		<xs:sequence>
			<xs:element name="CONTRACT_ID" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DEBTOR_CODE" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BILLS_TO_QUERY" type="bil:billsListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EXTRA_INFO" type="gen:kvPairsType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="billsListType">
		<xs:sequence>
			<xs:element name="BILL_ID" type="gen:stringMinLength1" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>


	<xs:element name="billQueryResponse" type="bil:billQueryRspType"/>

	<xs:complexType name="billQueryRspType">
		<xs:sequence>
			<xs:element name="CONTRACT_ID" type="gen:stringMinLength1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CONTRACT_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BILLS" type="bil:billRecordsType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="billRecordsType">
		<xs:sequence>
			<xs:element name="BILL" type="bil:billRecordType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="billRecordType">
		<xs:sequence>
			<xs:element name="ID" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ISSUE_DATE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DUE_DATE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BILL_AMOUNT" type="gen:amountType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LATE_FEE" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TOTAL_AMOUNT" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EXTRA_INFO" type="gen:kvPairsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Bill Payment -->
	<xs:element name="billPayment" type="bil:billPaymentType"/>

	<xs:complexType name="billPaymentType">
		<xs:sequence>
			<xs:element name="CONTRACT_ID" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DEBTOR_CODE" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BILLS_TO_PAY" type="bil:billsListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EXTRA_INFO" type="gen:kvPairsType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PAYMENT" type="gen:paymentType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="billPaymentResponse" type="bil:billPaymentRspType"/>

	<xs:complexType name="billPaymentRspType">
		<xs:sequence>
			<xs:element name="CONTRACT_ID" type="gen:stringMinLength1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CONTRACT_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BILLS_PAID" type="bil:billsListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>