Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/TransferenciasACHDMZ_v2/xsd/XMLSchema_-1078026159.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/transferenciasACHType" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:trans="http://www.ficohsa.com.hn/middleware.services/transferenciasACHType">


	<xs:complexType name="transferenciasACHRequest">
		<xs:sequence>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
			<xs:element name="DESTINATION_BANK" type="xs:string"/>
			<xs:element name="ACCOUNT_TYPE" type="xs:string"/>
			<xs:element name="CREDIT_ACCOUNT" type="xs:string"/>
			<xs:element name="CREDIT_CURRENCY" type="xs:string"/>
			<xs:element name="BENEFICIARY_NAME" type="xs:string"/>
			<xs:element name="BENEFICIARY_ID" type="xs:string"/>
			<xs:element name="TRANSFER_AMOUNT" type="xs:string"/>
			<xs:element name="TRANSACTION_DESCRIPTION" type="xs:string"/>
			<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string"/>
			<xs:element name="LOCAL_ACCOUNT_TYPE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DIRECT"/>
						<xs:enumeration value="INDIRECT"/>
						<xs:enumeration value="SCHEDULED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LOCAL_ORIGINAL_ACCOUNT" type="xs:string"/>
			<xs:element name="DEBIT_CREDIT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="transferenciasACHResponse">
		<xs:sequence>
			<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBIT_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="SEQUENCE_ID" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="transferenciasACHRequest" type="trans:transferenciasACHRequest"/>

	<xs:element name="transferenciasACHResponse" type="trans:transferenciasACHResponse"/>

</xs:schema>