Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/GestionesSolicitudCredito/xsd/gestionesSolicitudCreditoTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoTypes">

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringLength18">
		<xs:restriction base="xs:string">
			<xs:length value="18" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="uniqueClientInfoType">
		<xs:sequence>
			<xs:element name="SPOUSE_SURNAMES" type="xs:string"
				minOccurs="0" />
			<xs:element name="WORKING_CITY" type="tns:stringMinLength1" />
			<xs:element name="RESIDENCE_CITY" type="xs:string"
				minOccurs="0" />
			<xs:element name="EMAIL" type="tns:stringMinLength1" />
			<xs:element name="SECONDARY_EMAIL" type="xs:string"
				minOccurs="0" />
			<xs:element name="RESIDENCE_ZIP_CODE" type="tns:stringMinLength1" />
			<xs:element name="WORK_ZIP_CODE" type="tns:stringMinLength1" />
			<xs:element name="ALTERNATE_ZIP_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="WORK_ADDRESS_1" type="tns:stringMinLength1" />
			<xs:element name="WORK_ADDRESS_2" type="xs:string"
				minOccurs="0" />
			<xs:element name="WORK_ADDRESS_3" type="xs:string"
				minOccurs="0" />
			<xs:element name="WORK_ADDRESS_4" type="xs:string"
				minOccurs="0" />				
			<xs:element name="RESIDENCE_ADDRESS_1" type="tns:stringMinLength1" />
			<xs:element name="RESIDENCE_ADDRESS_2" type="xs:string"
				minOccurs="0" />
			<xs:element name="RESIDENCE_ADDRESS_3" type="xs:string"
				minOccurs="0" />
			<xs:element name="RESIDENCE_ADDRESS_4" type="xs:string"
				minOccurs="0" />				
			<xs:element name="ALTERNATE_ADDRESS_1" type="xs:string"
				minOccurs="0" />
			<xs:element name="ALTERNATE_ADDRESS_2" type="xs:string"
				minOccurs="0" />
			<xs:element name="ALTERNATE_ADDRESS_3" type="xs:string"
				minOccurs="0" />
			<xs:element name="CIVIL_STATUS" type="tns:stringMinLength1" />
			<xs:element name="BIRTHDATE" type="xs:date" />
			<xs:element name="GENDER" type="tns:stringMinLength1" />
			<xs:element name="LEGAL_ID" type="tns:stringMinLength1" />
			<xs:element name="ALTERNATE_LEGAL_ID" type="xs:string"
				minOccurs="0" />
			<xs:element name="WORKPLACE" type="tns:stringMinLength1" />
			<xs:element name="NO_CALL" type="xs:boolean" minOccurs="0" />
			<xs:element name="SPOUSE_NAMES" type="xs:string"
				minOccurs="0" />
			<xs:element name="CUSTOMER_NUMBER" type="tns:stringMinLength1" />
			<xs:element name="FREQUENT_TRAVELER_NUMBER" type="xs:string"
				minOccurs="0" />
			<xs:element name="ORG" type="tns:stringMinLength1" />
			<xs:element name="RESIDENCE_COUNTRY" type="tns:stringMinLength1" />
			<xs:element name="WORK_COUNTRY" type="tns:stringMinLength1" />
			<xs:element name="LEGAL_ID_COUNTRY_EMISSION" type="tns:stringMinLength1" />
			<xs:element name="NATIONALITY_COUNTRY" type="tns:stringMinLength1" />
			<xs:element name="ALTERNATE_COUNTRY" type="xs:string"
				minOccurs="0" />
			<xs:element name="FIRST_LAST_NAME" type="tns:stringMinLength1" />
			<xs:element name="FIRST_NAME" type="tns:stringMinLength1" />
			<xs:element name="SECOND_SURNAME" type="tns:stringMinLength1" />
			<xs:element name="MIDDLE_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="FREQUENT_TRAVELER_STATUS" type="xs:string"
				minOccurs="0" />
			<xs:element name="CELL_PHONE_NUMBER" type="tns:stringMinLength1" />
			<xs:element name="HOME_PHONE_NUMBER" type="tns:stringMinLength1" />
			<xs:element name="WORK_PHONE_NUMBER" type="tns:stringMinLength1" />
			<xs:element name="WORK_PHONE_EXTENSSION" type="xs:string"
				minOccurs="0" />
			<xs:element name="LEGAL_ID_TYPE" type="tns:stringMinLength1" />
			<xs:element name="ALTERNATE_LEGAL_ID_TYPE" type="xs:string"
				minOccurs="0" />
			<xs:element name="SPOUSE_BIRTHNAME" type="xs:date"
				minOccurs="0" />
            <xs:element name="PLACE_BIRTH" type="xs:string" />
            <xs:element name="RESIDENCIE_CURRENT_YEARS" type="xs:integer" />
            <xs:element name="RESIDENCIE_CURRENT_MONTH" type="xs:integer" />
            <xs:element name="YEARS_CURRENT_JOB" type="xs:integer" />
            <xs:element name="MONTHS_CURRENT_JOB" type="xs:integer" />
            <xs:element name="RESIDENCE_TYPE" type="xs:string" />
            <xs:element name="BUSINESS_OF_NATURE" type="xs:string" />
            <xs:element name="ECONOMIC_ACTIVITY" type="xs:string" />
            <xs:element name="PERSONAL_REFERENCE_NAME_1" type="xs:string" />
            <xs:element name="PHONE_REFERENCE_1" type="xs:string" />
            <xs:element name="RELATIONSHIP_TYPE_REFERENCE_1" type="xs:string" />
            <xs:element name="PERSONAL_REFERENCE_NAME_2" type="xs:string" />
            <xs:element name="PHONE_REFERENCE_2" type="xs:string" />
            <xs:element name="RELATIONSHIP_TYPE_REFERENCE_2" type="xs:string" /> 
            <xs:element name="CLIENT_ECONOMIC_ACTIVITY" type="tns:stringMinLength1" />
            <xs:element name="PROFESSION" type="tns:stringMinLength1" />
            <xs:element name="OCCUPATION" type="tns:stringMinLength1" />			
			<xs:element name="ACCESS_FUNDS_PEP" type="xs:string"	minOccurs="0" />
			<xs:element name="CITY_BORN" type="xs:string"	minOccurs="0" />
			<xs:element name="CUSTOMER_VIP" type="xs:string"	minOccurs="0" />
			<xs:element name="SPOUSE_CURRENTLY_WORKING" type="xs:string"	minOccurs="0" />
			<xs:element name="EMAIL_SPOUSE_CURRENTLY_WORKING" type="xs:string"	minOccurs="0" />
			<xs:element name="SPOUSE_WORKING_CURRENTLY_EMAIL" type="xs:string"	minOccurs="0" />
			<xs:element name="SPOUSE_ADDRESS" type="xs:string"	minOccurs="0" />
			<xs:element name="SPOUSE_WORK_ADDRESS" type="xs:string"	minOccurs="0" />
			<xs:element name="IS_PEP" type="xs:string"	minOccurs="0" />
			<xs:element name="EXPLANATION_PEP" type="xs:string"	minOccurs="0" />
			<xs:element name="ISSUE_DATE_ID" type="xs:date"	minOccurs="0" />
			<xs:element name="ISSUE_DATE_ID_2" type="xs:date"	minOccurs="0" />
			<xs:element name="END_DATE_CHARGE_PEP" type="xs:date"	minOccurs="0" />
			<xs:element name="START_DATE_PEP_CHARGE" type="xs:date"	minOccurs="0" />
			<xs:element name="EXPIRY_DATE_ID" type="xs:date"	minOccurs="0" />
			<xs:element name="SOURCE_OTHER_REVENUE" type="xs:string"	minOccurs="0" />
			<xs:element name="SPOUSE_ID" type="xs:string"	minOccurs="0" />
			<xs:element name="MONTHLY_INCOME" type="xs:string"	minOccurs="0" />
			<xs:element name="INSTITUTION_PEP" type="xs:string"	minOccurs="0" />
			<xs:element name="MUNICIPALITY" type="xs:string"	minOccurs="0" />
			<xs:element name="MUNICIPALITY_JOB" type="xs:string"	minOccurs="0" />
			<xs:element name="LEVEL_OF_EDUCATION" type="xs:string"	minOccurs="0" />
			<xs:element name="PUBLIC_POSITION_NAME_PEP" type="xs:string"	minOccurs="0" />
			<xs:element name="PERSON_NAME_PEP" type="xs:string"	minOccurs="0" />
			<xs:element name="NUMBER_OF_DEPENDENT_PERSONS" type="xs:string"	minOccurs="0" />
			<xs:element name="SPOUSE_OCCUPATION" type="xs:string"	minOccurs="0" />
			<xs:element name="OTHER_INCOME" type="xs:string"	minOccurs="0" />
			<xs:element name="COUNTRY_CHARGE_PEP" type="xs:string"	minOccurs="0" />
			<xs:element name="COUNTRY_EMISOR_ID" type="xs:string"	minOccurs="0" />
			<xs:element name="COUNTRY_JOB" type="xs:string"	minOccurs="0" />
			<xs:element name="PROFESSION_SPOUSE" type="xs:string"	minOccurs="0" />
			<xs:element name="INCOME_RANGE" type="xs:string"	minOccurs="0" />
			<xs:element name="PERSONAL_REFERENCE_NAME_3" type="xs:string"	minOccurs="0" />
			<xs:element name="PERSONAL_REFERENCE_PHONE_3" type="xs:string"	minOccurs="0" />
			<xs:element name="PERSONAL_REFERENCE_TYPE_3" type="xs:string"	minOccurs="0" />
			<xs:element name="RELATIONSHIP_WITH_FINANCIAL_INSTITUTION_1" type="xs:string" minOccurs="0" />
			<xs:element name="RELATIONSHIP_WITH_FINANCIAL_INSTITUTION_2" type="xs:string" minOccurs="0" />
			<xs:element name="RELATIONSHIP_WITH_FINANCIAL_INSTITUTION_3" type="xs:string" minOccurs="0" />
			<xs:element name="FAMILY_RELATIONSHIP_PEP" type="xs:string"	minOccurs="0" />
			<xs:element name="RELATIONSHIP_OWNER_PEP" type="xs:string"	minOccurs="0" />
			<xs:element name="MONTHLY_WAGE_PEP" type="xs:string"	minOccurs="0" />
			<xs:element name="SECOND_SURNAME_SPOUSE" type="xs:string"	minOccurs="0" />
			<xs:element name="WORK_WEBSITE_SPOUSE_JOB_SITE" type="xs:string"	minOccurs="0" />
			<xs:element name="MONTHLY_SALARY_SPOUSE" type="xs:string"	minOccurs="0" />
			<xs:element name="ALTERNATE_PHONE" type="xs:string"	minOccurs="0" />
			<xs:element name="SPOUSE_CELLULAR_PHONE" type="xs:string"	minOccurs="0" />
			<xs:element name="SPOUSE_HOME_PHONE" type="xs:string"	minOccurs="0" />
			<xs:element name="WORK_PHONE_SPOUSE" type="xs:string"	minOccurs="0" />
			<xs:element name="THIRD_NAME" type="xs:string"	minOccurs="0" />
			<xs:element name="SPOUSE_IDENTIFICATION_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT_RELATIONSHIP_TYPE" type="xs:string"	minOccurs="0" />
			<xs:element name="ACCOUNT_RELATIONSHIP_TYPE_2" type="xs:string"	minOccurs="0" />
			<xs:element name="ACCOUNT_RELATIONSHIP_TYPE_3" type="xs:string"	minOccurs="0" />
			<xs:element name="NAME_WORK_SPOUSE" type="xs:string" minOccurs="0" />						
		</xs:sequence>
	</xs:complexType>


	<!--############################################ -->
	<!--OPERACION: PRECALIFICACION CLIENTE -->
	<!--############################################ -->

	<xs:element name="precalificacionCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" type="tns:stringMinLength1" />
				<xs:element name="CHANNEL_CODE" type="xs:string"
					minOccurs="0" />
				<xs:element name="REQUEST_ID" type="tns:stringMinLength1" />
				<xs:element name="LEGAL_ID_TYPE" type="tns:stringMinLength1" />
				<xs:element name="LEGAL_ID" type="tns:stringMinLength1" />
				<xs:element name="BIRTH_DATE" type="xs:date" minOccurs="0" />
				<xs:element name="PHONE_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="CUSTOMER_INCOME" type="xs:decimal" />
				<xs:element name="CUSTOMER_TYPE" type="tns:stringMinLength1" />
				<xs:element name="CUSTOMER_PROFILE" type="tns:stringMinLength1" />
				<xs:element name="CUSTOMER_CAMPAIGN" type="tns:stringMinLength1" />
				<xs:element name="CUSTOMER_FLAG" type="tns:stringMinLength1" />
				<xs:element name="DOCUMENTS" type="tns:documentsType" />
				<xs:element name="TOTAL_DEBT_AMOUNT" type="xs:decimal" />
				<xs:element name="TOTAL_AMOUNT_FEE" type="xs:decimal" />
				<xs:element name="REQUESTED_AMOUNT" type="xs:decimal" />
				<xs:element name="COMMISSION_PERCENTAGE" type="xs:decimal" />
				<xs:element name="TERM" type="xs:int" />
				<xs:element name="WORKED_MONTHS" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="precalificacionClienteResponse" />

	<!--############################################ -->
	<!--OPERACION: CONFIRMACION PRECALIFICACION CLIENTE -->
	<!--############################################ -->

	<xs:element name="confirmacionPrecalificacionCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="tns:stringLength18" />
				<xs:element name="REQUEST_STATUS" type="tns:stringMinLength1" />
				<xs:element name="REQUEST_SUB_STATUS" type="xs:string"
					minOccurs="0" />
				<xs:element name="LEGAL_ID_TYPE" type="tns:stringMinLength1" />
				<xs:element name="LEGAL_ID" type="tns:stringMinLength1" />
				<xs:element name="FIRST_NAME" type="tns:stringMinLength1" />
				<xs:element name="SECOND_NAME" type="tns:stringMinLength1" />
				<xs:element name="SURNAME" type="tns:stringMinLength1" />
				<xs:element name="SECOND_SURENAME" type="tns:stringMinLength1" />
				<xs:element name="INCOME" type="xs:decimal" />
				<xs:element name="BIRTH_DATE" type="xs:date" />
				<xs:element name="LOAN_SCENARIOS_INFO" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CAMPAIGN_TYPE" type="xs:string"
								minOccurs="0" />
							<xs:element name="SOURCE_CODE" type="xs:string"
								minOccurs="0" />
							<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0" />
							<xs:element name="TERM" type="xs:int" minOccurs="0" />
							<xs:element name="FEE" type="xs:decimal" minOccurs="0" />
							<xs:element name="RATE" type="xs:decimal" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CREDIT_CARD_SCENARIOS_INFO" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CAMPAIGN_TYPE" type="xs:string"
								minOccurs="0" />
							<xs:element name="SUGGESTED_CREDIT_CARD_FEE" type="xs:decimal"
								minOccurs="0" />
							<xs:element name="SUGGESTED_LIMIT_CREDIT_CARD" type="xs:decimal"
								minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TOTAL_SIBOIF_FEES" type="xs:decimal" />
				<xs:element name="TOTAL_TUCA_FEES" type="xs:decimal" />
				<xs:element name="USED_MUE" type="xs:decimal" />
				<xs:element name="NET_INCOME" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="confirmacionPrecalificacionClienteResponse" />


	<!--############################################ -->
	<!--OPERACION: EVALUACION SOLICITUD TARJETA CREDITO -->
	<!--############################################ -->
	<xs:element name="evaluacionSolicitudTarjetaCredito">
		<xs:complexType>
           <xs:sequence>
				<xs:element name="CHANNEL_CODE" type="xs:string"
					minOccurs="0" />
				<xs:element name="USERNAME" type="tns:stringMinLength1" />
				<xs:element name="REQUEST_ID" type="tns:stringMinLength1" />
				<xs:element name="CREDIT_REQUEST_ID" type="tns:stringMinLength1" />
				<xs:element name="CREATION_DATE" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="SELLER_CODE" type="tns:stringMinLength1" />
				<xs:element name="SUPERVISOR_CODE" type="tns:stringMinLength1" />
				<xs:element name="CUSTOMER_CAMPAIGN" type="tns:stringMinLength1" />
				<xs:element name="PRODUCT_TYPE" type="tns:stringMinLength1" />
				<xs:element name="BENEFIT_CASHBACK" type="xs:string"
					minOccurs="0" />
				<xs:element name="VIP_CUSTOMER" type="xs:string"
					minOccurs="0" />
				<xs:element name="SHIPPING_STATE_ACCOUNT" type="tns:stringMinLength1" />
				<xs:element name="APPROVED_LIMIT" type="xs:decimal" />
				<xs:element name="FRECUENT_TRAVELER_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="LEGAL_ID_TYPE_1" type="tns:stringMinLength1" />
				<xs:element name="LEGAL_ID_1" type="tns:stringMinLength1" />
				<xs:element name="LEGAL_ID_EXPIRATION_DATE_1" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="LEGAL_ID_ISSUING_COUNTRY_1" type="tns:stringMinLength1" />
				<xs:element name="LEGAL_ID_TYPE_2" type="xs:string"
					minOccurs="0" />
				<xs:element name="LEGAL_ID_2" type="xs:string" minOccurs="0" />
				<xs:element name="LEGAL_ID_EXPIRATION_DATE_2" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="LEGAL_ID_ISSUING_COUNTRY_2" type="xs:string"
					minOccurs="0" />
				<xs:element name="COUNTRY_BIRTH" type="tns:stringMinLength1" />
				<xs:element name="PLACE_OF_BIRTH" type="tns:stringMinLength1" />
				<xs:element name="NACIONALITY" type="tns:stringMinLength1" />
				<xs:element name="FIRST_NAME" type="tns:stringMinLength1" />
				<xs:element name="SECOND_NAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="THIRD_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="SURNAME" type="tns:stringMinLength1" />
				<xs:element name="SECOND_SURNAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="MARRIED_SURNAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="CUSTOMER_NAME_ONCARD" type="tns:stringMinLength1" />
				<xs:element name="BIRTHDATE" type="xs:dateTime" />
				<xs:element name="GENDER" type="tns:stringMinLength1" />
				<xs:element name="CIVIL_STATUS" type="tns:stringMinLength1" />
				<xs:element name="DEPENDENT_NUMBER" type="xs:int"
					minOccurs="0" />
				<xs:element name="HOME_PHONE_NUMBER" type="tns:stringMinLength1" />
				<xs:element name="CELLPHONE" type="tns:stringMinLength1" />
				<xs:element name="ALTERNATE_PHONE" type="xs:string"
					minOccurs="0" />
				<xs:element name="HOME_ADDRESSES" type="tns:homeAddressType" />
				<xs:element name="DEPARTMENT" type="tns:stringMinLength1" />
				<xs:element name="MUNICIPALITY" type="tns:stringMinLength1" />
				<xs:element name="COUNTRY" type="tns:stringMinLength1" />
				<xs:element name="TYPE_RESIDENCE" type="tns:stringMinLength1" />
				<xs:element name="YEARS_CURRENT_ADDRESS" type="xs:int" />
				<xs:element name="MONTHS_CURRENT_ADDRESS" type="xs:int" />
				<xs:element name="EMAIL" type="tns:stringMinLength1" />
				<xs:element name="SECONDARY_EMAIL" type="xs:string"
					minOccurs="0" />
				<xs:element name="EDUCATION_LEVEL" type="tns:stringMinLength1" />
				<xs:element name="OCCUPATION" type="tns:stringMinLength1" />
				<xs:element name="WORKPLACE" type="tns:stringMinLength1" />
				<xs:element name="NATURE_BUSINESS" type="tns:stringMinLength1" />
				<xs:element name="ECONOMIC_ACTIVITY" type="tns:stringMinLength1" />
				<xs:element name="POSITION" type="tns:stringMinLength1" />
				<xs:element name="POSITION_DESCRIPTION" type="xs:string"
					minOccurs="0" />
				<xs:element name="COMPANY_PHONE" type="xs:string"
					minOccurs="0" />
				<xs:element name="EXTENSION" type="xs:string" minOccurs="0" />
				<xs:element name="MONTHLY_INCOME" type="xs:decimal" />
				<xs:element name="OTHER_ANNUAL_INCOME" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="SOURCE_OTHER_INCOME" type="xs:string"
					minOccurs="0" />
				<xs:element name="JOB_ADDRESES" type="tns:jobAddressType" />
				<xs:element name="JOB_DEPARTMENT" type="tns:stringMinLength1" />
				<xs:element name="JOB_MUNICIPALITY" type="tns:stringMinLength1" />
				<xs:element name="JOB_COUNTRY" type="tns:stringMinLength1" />
				<xs:element name="YEARS_CURRENT_JOB" type="xs:int" />
				<xs:element name="MONTHS_CURRENT_JOB" type="xs:int" />
				<xs:element name="PEP_CUSTOMER" type="tns:stringMinLength1" />
				<xs:element name="ALTERNATE_ADDRESS" type="tns:aternateAddressType" />
				<xs:element name="FIRST_NAME_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="SECOND_NAME_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="LAST_NAME_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="SECOND_SURNAME_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="BIRTHDATE_SPOUSE" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="LEGAL_ID_TYPE_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="LEGAL_ID_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="PERSONAL_REFERENCES" type="tns:personalReferencesType" />
				<xs:element name="BANK_REFERENCES_INFO" type="tns:bankReferencesType" />
				<xs:element name="FAST_PLASTIC_EMISSION" type="tns:stringMinLength1" />
				<xs:element name="UNIQUE_NUMBER" type="xs:long"
					minOccurs="0" />
				<xs:element name="REQUIRE_SCARD_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="SPOUSE_NAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="EMAIL_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="REQUIRES_ADDITIONAL_CARD" type="xs:string"
					minOccurs="0" />
				<xs:element name="ADDITIONAL_CREDIT_CARDS_INFO" type="tns:additionalCreditCardsType" minOccurs="0"/>
				<xs:element name="COMMENTS" type="xs:string" minOccurs="0" />
				<xs:element name="DOCUMENTS" type="tns:documentsType"
					minOccurs="0" />
                <xs:element name="ALTERNATE_CLIENT_EMAIL" type="xs:string" minOccurs="0" />
                <xs:element name="SALARY_RANGE" type="tns:stringMinLength1" />                
                <xs:element name="CLIENT_ECONOMIC_ACTIVITY" type="tns:stringMinLength1" />              
                <xs:element name="ISSUE_DATE_CLIENT_ID" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="ISSUE_DATE_CLIENT_ID2" type="xs:dateTime" minOccurs="0"/>                                
                <xs:element name="WORK_PHONE_EXTENSION" type="xs:string" minOccurs="0"/>                
                <xs:element name="SPOUSE_PHONE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="personalReferencesType">
		<xs:sequence>
			<xs:element name="PERSONAL_REFERENCE" type="tns:personalReferenceType"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="personalReferenceType">
		<xs:sequence>
			<xs:element name="PERSONAL_REFERENCE_NAME" type="tns:stringMinLength1" />
			<xs:element name="PHONE_REFERENCE" type="tns:stringMinLength1" />
			<xs:element name="RELATIONSHIP_TYPE_REFERENCE" type="tns:stringMinLength1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="bankReferencesType">
		<xs:sequence>
			<xs:element name="BANK_REFERENCE" type="tns:bankReferenceInfoType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="bankReferenceInfoType">
		<xs:sequence>
			<xs:element name="BANK_REFERENCES" type="xs:string"
				minOccurs="0" />
			<xs:element name="BANK_REFERENCES_TYPE" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="additionalCreditCardsType">
		<xs:sequence>
			<xs:element name="ADDITIONAL_CREDIT_CARD" type="tns:additionalCreditCardInfoType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="additionalCreditCardInfoType">
		<xs:sequence>
			<xs:element name="PRODUCT_TYPE_ADDITIONAL_CARD" type="tns:stringMinLength1" />
			<xs:element name="FULL_NAME_ADDITIONAL_CARD" type="tns:stringMinLength1" />
			<xs:element name="NAME_ADDITIONAL_CARD" type="tns:stringMinLength1" />
			<xs:element name="IDENTIFICATION_ADDITIONAL_CARD" type="tns:stringMinLength1" />
			<xs:element name="CUSTOMER_RELATIONSHIP_ADDITIONAL_CARD"
				type="tns:stringMinLength1" />
			<xs:element name="CREDIT_LIMIT_ADDITIONAL_CARD" type="xs:decimal" />
			<xs:element name="CELL_PHONE_ADDITIONAL_CARD" type="tns:stringMinLength1" />
			<xs:element name="HOME_PHONE_NUMBER_ADDITIONAL_CARD" type="tns:stringMinLength1" />
			<xs:element name="ALTERNATE_PHONE_ADDITIONAL_CARD" type="xs:string"
				minOccurs="0" />
			<xs:element name="BIRTH_DATE_ADDITIONAL_CARD" type="xs:dateTime" />
			<xs:element name="GENDER_ADDITIONAL_CARD" type="tns:stringMinLength1" />
			<xs:element name="CIVIL_STATUS_ADDITIONAL_CARD" type="tns:stringMinLength1" />
			<xs:element name="PEP_ADDITIONAL_CARD" type="tns:stringMinLength1" />
			<xs:element name="EMAIL_ADDITIONAL_CARD" type="tns:stringMinLength1" />
			<xs:element name="FAST_PLASTIC_EMISSION_ADDITIONAL_CARD"
				type="tns:stringMinLength1" />
			<xs:element name="MEMO_ADDITIONAL_CARD" type="tns:stringMinLength1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="documentsType">
		<xs:sequence>
			<xs:element name="DOCUMENT" type="tns:documentType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="documentType">
		<xs:sequence>
			<xs:element name="FILE_TYPE" type="xs:int" minOccurs="0" />
			<xs:element name="FILE_EXTENSION" type="xs:string"
				minOccurs="0" />
			<xs:element name="FILE_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CONTENT_BYTES" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="evaluacionSolicitudTarjetaCreditoResponse" />

	<!--################################################## -->
	<!--OPERACION: CONFIRMACION SOLICITUD TARJETA CREDITO -->
	<!--################################################## -->

	<xs:element name="confirmacionSolicitudTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="tns:stringLength18" />
				<xs:element name="CREDIT_REQUEST_ID" type="tns:stringLength18" />
				<xs:element name="REQUEST_STATUS" type="xs:string" />
				<xs:element name="REQUEST_SUB_STATUS" type="xs:string"
					minOccurs="0" />
				<xs:element name="UNIQUE_CLIENT_INFO" type="tns:uniqueClientInfoType" />
				<xs:element name="ACCOUNT_NUMBER_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="INVOICE_ADDRESS_TYPE" type="xs:string" />
							<xs:element name="BILL_SHIPPING_TYPE" type="xs:string" />
							<xs:element name="APPROVAL_DATE_TIME" type="xs:dateTime" />
							<xs:element name="LEGAL_ID" type="xs:string" />
							<xs:element name="CURRENCY" type="xs:string" />
							<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
							<xs:element name="LMS_ACCOUNT" type="xs:string"
								minOccurs="0" />
							<xs:element name="ORG" type="xs:string" />
							<xs:element name="ORIGIN_CORE" type="xs:string" />
							<xs:element name="LOGO_PRODUCT" type="xs:string"
								minOccurs="0" />
							<xs:element name="ACCOUNT_CYCLE" type="xs:string"
								minOccurs="0" />
							<xs:element name="SETTLEMENT_MODEL" type="xs:string"
								minOccurs="0" />
							<xs:element name="NET_INCOME_CLIENT" type="xs:decimal" />
                            <xs:element name="BENEFICIARY_CASH_BACK" type="xs:string" minOccurs="0"/>                
                            <xs:element name="GUARANTEE_DEPOSIT_CERTIFICATE_NUMBER " type="xs:string" minOccurs="0"/>							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CREDIT_CARD_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="STATUS" type="xs:string" />
							<xs:element name="LEGAL_ID" type="xs:string"
								minOccurs="0" />
							<xs:element name="ANNUAL_PURCHASE_LIMIT" type="xs:decimal"
								minOccurs="0" />
							<xs:element name="DAILY_PURCHASE_LIMIT" type="xs:decimal"
								minOccurs="0" />
							<xs:element name="MONTHLY_PURCHASE_LIMIT" type="xs:decimal"
								minOccurs="0" />
							<xs:element name="ANNUAL_WITHDRAWAL_LIMIT" type="xs:decimal"
								minOccurs="0" />
							<xs:element name="DAILY_WITHDRAWAL_LIMIT" type="xs:decimal"
								minOccurs="0" />
							<xs:element name="MONTHLY_WITHDRAWAL_LIMIT" type="xs:decimal"
								minOccurs="0" />
							<xs:element name="ENCRYPTIONED_CREDIT_CARD_NUMBER"
								type="xs:string" />
							<xs:element name="MASKED_CREDIT_CARD_NUMBER" type="xs:string" />
							<xs:element name="CREDIT_CARD_NAME" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="confirmacionSolicitudTarjetaCreditoResponse" />

	<!--############################################################ -->
	<!--OPERACION: CONFIRMACION SOLICITUD PRESTAMO TARJETA CREDITO -->
	<!--############################################################ -->

	<xs:element name="confirmacionSolicitudPrestamoTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="tns:stringLength18" />
				<xs:element name="CREDIT_REQUEST_ID" type="tns:stringLength18" />
				<xs:element name="REQUEST_STATUS" type="tns:stringMinLength1" />
				<xs:element name="REQUEST_SUB_STATUS" type="xs:string"
					minOccurs="0" />
				<xs:element name="UNIQUE_CLIENT_INFO" type="tns:uniqueClientInfoType" />
				<xs:element name="LOAN_INFO" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
							<xs:element name="NEXT_PAYMENT_ID" type="xs:decimal" />
							<xs:element name="INITIAL_AMOUNT_REQUESTED" type="xs:decimal" />
							<xs:element name="INITIAL_AMOUNT_APPROVED" type="xs:decimal" />
							<xs:element name="INTEREST_RATE" type="xs:decimal" />
							<xs:element name="COMMISSION_RATE" type="xs:decimal" />
							<xs:element name="COMMISSION_AMOUNT" type="xs:decimal" />
							<xs:element name="TERM_MONTH" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="confirmacionSolicitudPrestamoTarjetaCreditoResponse" />


	<!--########################################################## -->
	<!--OPERACION: EVALUACION SOLICITUD PRESTAMO TARJETA CREDITO -->
	<!--########################################################## -->

	<xs:element name="evaluacionSolicitudPrestamoTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CHANNEL_CODE" type="xs:string"
					minOccurs="0" />
				<xs:element name="USERNAME" type="xs:string" />
				<xs:element name="REQUEST_ID" type="tns:stringMinLength1" />
				<xs:element name="CREDIT_REQUEST_ID" type="tns:stringMinLength1" />
				<xs:element name="CREATION_DATE" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="SELLER_CODE" type="tns:stringMinLength1" />
				<xs:element name="SUPERVISOR_CODE" type="tns:stringMinLength1" />
				<xs:element name="CUSTOMER_CAMPAIGN" type="tns:stringMinLength1" />
				<xs:element name="LOAN_TYPE" type="tns:stringMinLength1" />
				<xs:element name="LOAN_DESTINATION" type="tns:stringMinLength1" />
				<xs:element name="REQUESTED_AMOUNT" type="xs:decimal" />
				<xs:element name="REQUESTED_TERM" type="xs:int" />
				<xs:element name="CURRENCY" type="tns:stringMinLength1" />
				<xs:element name="RATE" type="xs:decimal" />
				<xs:element name="DISBURSEMENT_COMMISSION" type="xs:decimal" />
				<xs:element name="INSURANCE_TYPE" type="tns:stringMinLength1" />
				<xs:element name="INSURANCE_CARRIER" type="xs:string"
					minOccurs="0" />
				<xs:element name="POLICY_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="INSURANCE_VALIDITY_FROM" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="INSURANCE_VALIDITY_UP_TO" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="BENEFICIARY_NAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="BENEFICIARY_LEGAL_ID" type="xs:string"
					minOccurs="0" />
				<xs:element name="BENEFICIARY_RELATIONSHIP" type="xs:string"
					minOccurs="0" />
				<xs:element name="BENEFICIARY_PERCENTAGE" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="DISBURSEMENT_TYPE" type="tns:stringMinLength1" />
				<xs:element name="DISBURSEMENT_ACCOUNT_NUMBER" type="xs:string" />
				<xs:element name="LEGAL_ID_TYPE_1" type="tns:stringMinLength1" />
				<xs:element name="LEGAL_ID_1" type="tns:stringMinLength1" />
				<xs:element name="LEGAL_ID_EXPIRATION_DATE_1" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="ISSUING_COUNTRY_1" type="tns:stringMinLength1" />
				<xs:element name="LEGAL_ID_TYPE_2" type="xs:string"
					minOccurs="0" />
				<xs:element name="LEGAL_ID_2" type="tns:stringMinLength1" />
				<xs:element name="LEGAL_ID_EXPIRATION_DATE_2" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="ISSUING_COUNTRY_2" type="xs:string"
					minOccurs="0" />
				<xs:element name="COUNTRY_OF_BIRTH" type="xs:string"
					minOccurs="0" />
				<xs:element name="PLACE_BIRTH" type="tns:stringMinLength1" />
				<xs:element name="NACIONALITY" type="tns:stringMinLength1" />
				<xs:element name="FIRST_NAME" type="tns:stringMinLength1" />
				<xs:element name="SECOND_NAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="THIRD_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="SURNAME" type="tns:stringMinLength1" />
				<xs:element name="SECOND_SURNAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="MARRIED_SURNAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="CARD_HOLDER_NAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="BIRTH_DATE" type="xs:dateTime" />
				<xs:element name="GENDER" type="tns:stringMinLength1" />
				<xs:element name="CIVIL_STATUS" type="tns:stringMinLength1" />
				<xs:element name="DEPENDENTS_NUMBER" type="xs:int"
					minOccurs="0" />
				<xs:element name="HOME_PHONE_NUMBER" type="tns:stringMinLength1" />
				<xs:element name="CELL_PHONE" type="xs:string" minOccurs="0" />
				<xs:element name="ALTERNATE_PHONE" type="xs:string"
					minOccurs="0" />
				<xs:element name="HOME_ADDRESSES" type="tns:homeAddressType" />
				<xs:element name="DEPARTMENT" type="tns:stringMinLength1" />
				<xs:element name="MUNICIPALITY" type="tns:stringMinLength1" />
				<xs:element name="COUNTRY" type="tns:stringMinLength1" />
				<xs:element name="RESIDENCE_TYPE" type="tns:stringMinLength1" />
				<xs:element name="RESIDENCIE_CURRENT_YEARS" type="xs:int" />
				<xs:element name="RESIDENCIE_CURRENT_MONTH" type="xs:int" />
				<xs:element name="EMAIL" type="tns:stringMinLength1" />
				<xs:element name="SECONDARY_EMAIL" type="xs:string"
					minOccurs="0" />
				<xs:element name="EDUCATION_LEVEL" type="tns:stringMinLength1" />
				<xs:element name="OCCUPATION" type="tns:stringMinLength1" />
				<xs:element name="WORKPLACE" type="tns:stringMinLength1" />
				<xs:element name="BUSINESS_OF_NATURE" type="tns:stringMinLength1" />
				<xs:element name="ECONOMIC_ACTIVITY" type="tns:stringMinLength1" />
				<xs:element name="POSITION" type="tns:stringMinLength1" />
				<xs:element name="POSITION_DESCRIPTION" type="xs:string"
					minOccurs="0" />
				<xs:element name="COMPANY_PHONE" type="tns:stringMinLength1" />
				<xs:element name="EXTENSION" type="xs:string" minOccurs="0" />
				<xs:element name="MONTHLY_INCOME" type="xs:decimal" />
				<xs:element name="OTHER_ANUAL_INCOME" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="SOURCE_OTHER_INCOME" type="xs:string"
					minOccurs="0" />
				<xs:element name="JOB_ADDRESES" type="tns:jobAddressType" />
				<xs:element name="JOB_DEPARTMENT" type="tns:stringMinLength1" />
				<xs:element name="JOB_MUNICIPALITY" type="tns:stringMinLength1" />
				<xs:element name="JOB_COUNTRY" type="tns:stringMinLength1" />
				<xs:element name="YEARS_CURRENT_JOB" type="xs:int" />
				<xs:element name="MONTHS_CURRENT_JOB" type="xs:int" />
				<xs:element name="PEP_CUSTOMER" type="tns:stringMinLength1" />
				<xs:element name="ALTERNATE_ADDRESS" type="tns:aternateAddressType"
					minOccurs="0" />
				<xs:element name="FIRST_NAME_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="SECOND_NAME_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="LAST_NAME_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="SECOND_SURNAME_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="BIRTH_DATE_SPOUSE" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="LEGAL_ID_TYPE_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="LEGAL_ID_SPOUSE" type="xs:string"
					minOccurs="0" />
				<xs:element name="PERSONAL_REFERENCES" type="tns:personalReferencesType" />
				<xs:element name="BANK_REFERENCES_INFO" type="tns:bankReferencesType" />
				<xs:element name="UNIQUE_NUMBER" type="xs:long"
					minOccurs="0" />
				<xs:element name="COMMENTS" type="xs:string" minOccurs="0" />
				<xs:element name="DOCUMENTS" type="tns:documentsType" />
				<xs:element name="CREDIT_CONSOLIDATION_INFO" type="tns:consolidationInfoRecordType" />
				<xs:element name="SHIPPING_STATE" type="xs:string"
					minOccurs="0" />
                <xs:element name="ALTERNATE_CLIENT_EMAIL" type="xs:string" minOccurs="0" />
                <xs:element name="SALARY_RANGE" type="tns:stringMinLength1" />                
                <xs:element name="CLIENT_ECONOMIC_ACTIVITY" type="tns:stringMinLength1" />                
                <xs:element name="ISSUE_DATE_CLIENT_ID" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="ISSUE_DATE_CLIENT_ID2" type="xs:dateTime" minOccurs="0"/>                                
                <xs:element name="WORK_PHONE_EXTENSION" type="xs:string" minOccurs="0"/>                
                <xs:element name="SPOUSE_PHONE" type="xs:string" minOccurs="0"/>
                <xs:element name="EMAIL_SPOUSE" type="xs:string"/>                    
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="aternateAddressType">
		<xs:sequence>
			<xs:element name="ALTERNATE_ADDRESS_1" type="xs:string"
				minOccurs="0" />
			<xs:element name="ALTERNATE_ADDRESS_2" type="xs:string"
				minOccurs="0" />
			<xs:element name="ALTERNATE_ADDRESS_3" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="homeAddressType">
		<xs:sequence>
			<xs:element name="HOME_ADDRESS_1" type="tns:stringMinLength1" />
			<xs:element name="HOME_ADDRESS_2" type="tns:stringMinLength1" />
			<xs:element name="HOME_ADDRESS_3" type="xs:string"
				minOccurs="0" />
			<xs:element name="HOME_ADDRESS_4" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="jobAddressType">
		<xs:sequence>
			<xs:element name="JOB_ADDRESS_1" type="tns:stringMinLength1" />
			<xs:element name="JOB_ADDRESS_2" type="tns:stringMinLength1" />
			<xs:element name="JOB_ADDRESS_3" type="xs:string"
				minOccurs="0" />
			<xs:element name="JOB_ADDRESS_4" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consolidationInfoRecordType">
		<xs:sequence>
			<xs:element name="CONSOLIDATION_INFO" type="tns:consolidationInfoType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consolidationInfoType">
		<xs:sequence>
			<xs:element name="PRODUCT" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="INSTITUTION" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"
				minOccurs="0" />
			<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0" />
			<xs:element name="REAL_FEE" type="xs:decimal" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="evaluacionSolicitudPrestamoTarjetaCreditoResponse" />


	<!--########################################################## -->
	<!--OPERACION: ACTUALIZACION ESTADO SOLITUD CREDITO -->
	<!--########################################################## -->
	<xs:element name="actualizacionEstadoSolicitudCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUESTED_ID" type="tns:stringLength18" />
				<xs:element name="CREDIT_REQUEST_ID" type="tns:stringLength18" />
				<xs:element name="REQUEST_STATUS" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="actualizacionEstadoSolicitudCreditoResponse" />
	
	<!--########################################################## -->
	<!--OPERACION: CALIFICACION BLAZE PANAMA -->
	<!--########################################################## -->
	
	<xs:element name="calificacionBlaze">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="ID_TYPE" type="tns:stringMinLength1"/>
	            <xs:element name="ID_VALUE" type="tns:stringMinLength1"/>
				<xs:element name="BIRTH_DATE" type="tns:stringMinLength1"/>
				<xs:element name="REQUEST_NUMBER" type="xs:integer"/>
				<xs:element name="REQUEST_STAGE" type="xs:integer"/> 
				<xs:element name="REQUEST_TYPE" type="xs:integer"/>
				<xs:element name="REQUEST_LAST_DATE" type="tns:stringMinLength1"/>  
				<xs:element name="REQUEST_LAST_RESULT" type="tns:stringMinLength1"/>
				<xs:element name="CUSTOMER_PROFILE" type="tns:stringMinLength1"/>
				<xs:element name="COMPANY" type="tns:stringMinLength1"/>
				<xs:element name="JOB_START_DATE" type="tns:stringMinLength1"/> 
				<xs:element name="INCOME" type="xs:decimal"/>
				<xs:element name="TENEMENT_TYPE" type="xs:decimal"/>
				<xs:element name="TENEMENT_TIME" type="xs:decimal"/>
				<xs:element name="CAMPAIGN" type="xs:decimal"/>      
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="calificacionBlazeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TICKET_NUMBER" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--########################################################## -->
	<!--OPERACION: RESULTADO CALIFICACION BLAZE PANAMA -->
	<!--########################################################## -->
	
	<xs:element name="resultadoCalificacionBlaze">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TICKET_NUMBER" type="xs:integer"/>
				<xs:element name="ID_VALUE" type="xs:string" minOccurs="0"/>
				<xs:element name="REQUEST_NUMBER" type="xs:integer" minOccurs="0"/>
				<xs:element name="CUSTOMER_PROFILE" type="xs:string" minOccurs="0"/>
				<xs:element name="REFERENCE_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="REFERENCE_AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="REFERENCE_CREDITOR" type="xs:string" minOccurs="0"/>
				<xs:element name="RCI" type="xs:decimal" minOccurs="0"/>
				<xs:element name="NDE" type="xs:decimal" minOccurs="0"/>
				<xs:element name="CREDIT_EXPERIENCE" type="xs:integer" minOccurs="0"/>
				<xs:element name="BUREAU_SCORE" type="xs:string" minOccurs="0"/>
				<xs:element name="SUGGESTED_LIMIT_PROD1" type="xs:decimal" minOccurs="0"/>
				<xs:element name="RESULTCODE_PROD1" type="xs:string" minOccurs="0"/>
				<xs:element name="SOURCECODE_PROD1" type="xs:string" minOccurs="0"/>
				<xs:element name="SUGGESTED_LIMIT_PROD2" type="xs:decimal" minOccurs="0"/>
				<xs:element name="RESULTCODE_PROD2" type="xs:string" minOccurs="0"/>
				<xs:element name="SOURCECODE_PROD2" type="xs:string" minOccurs="0"/>
				<xs:element name="SUGGESTED_LIMIT_PROD3" type="xs:decimal" minOccurs="0"/>
				<xs:element name="RESULTCODE_PROD3" type="xs:string" minOccurs="0"/>
				<xs:element name="SOURCECODE_PROD3" type="xs:string" minOccurs="0"/>
				<xs:element name="PIL_RESULTCODE_PROD1" type="xs:string" minOccurs="0"/>
				<xs:element name="PIL_SOURCECODE_PROD1" type="xs:string" minOccurs="0"/>
				<xs:element name="PIL_OFFER60_PROD1" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_OFFER48_PROD1" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_OFFER36_PROD1" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_OFFER24_PROD1" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_OFFER12_PROD1" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_MAXFEE_PROD1" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_RATE_PROD1" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_RESULTCODE_PROD2" type="xs:string" minOccurs="0"/>
				<xs:element name="PIL_SOURCECODE_PROD2" type="xs:string" minOccurs="0"/>
				<xs:element name="PIL_OFFER60_PROD2" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_OFFER48_PROD2" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_OFFER36_PROD2" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_OFFER24_PROD2" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_OFFER12_PROD2" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_MAXFEE_PROD2" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_RATE_PROD2" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_RESULTCODE_PROD3" type="xs:string" minOccurs="0"/>
				<xs:element name="PIL_SOURCECODE_PROD3" type="xs:string" minOccurs="0"/>
				<xs:element name="PIL_OFFER60_PROD3" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_OFFER48_PROD3" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_OFFER36_PROD3" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_OFFER24_PROD3" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_OFFER12_PROD3" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_MAXFEE_PROD3" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PIL_RATE_PROD3" type="xs:decimal" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="resultadoCalificacionBlazeResponse"/>
	
</xs:schema>