Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaTelefonoCliente/xsd/consultaTelefonoClienteTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTelefonoClienteTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaTelefonoClienteTypes">
  <xs:element name="consultaTelefonoClienteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CUSTOMER_ID_TYPE">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CUSTOMER_ID_VALUE">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaTelefonoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
        <xs:element name="IDENTIFICATION_INFO" type="con:legalIdentificationListType" minOccurs="0"/>
        <xs:element name="GIVEN_NAMES" type="xs:string" minOccurs="0"/>
        <xs:element name="FAMILY_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="FULL_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="PHONE_INFO" type="con:phoneNumberListType" minOccurs="0"/>
        <xs:element name="EMAIL_INFO" type="con:emailListType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--PHONE NUMBER INFORMATION TYPES-->
  <!--##############################-->
  <xs:complexType name="phoneNumberListType">
    <xs:sequence>
      <xs:element name="PHONE_NUMBER_ITEM" type="con:phoneNumberType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="phoneNumberType">
    <xs:sequence>
      <xs:element name="PHONE_LOCATION" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONE_TYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONE_AREA_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0"/>
      <xs:element name="IS_DEFAULT" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONE_ORDER" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONE_EXTENSION" type="xs:string" minOccurs="0"/>
      <xs:element name="PHONE_REFERENCE" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--IDENTIFICATION INFORMATION TYPES-->
  <!--################################-->
  <xs:complexType name="legalIdentificationListType">
    <xs:sequence>
      <xs:element name="LEGAL_IDENTIFICATION_ITEM" type="con:legalIdentificationType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="legalIdentificationType">
    <xs:sequence>
      <!--Field for indicate the name (type) of the legal document-->
      <xs:element name="LEGAL_DOCUMENT_NAME" type="xs:string" minOccurs="0"/>
      <!--Field for indicate number of the legal id document-->
      <xs:element name="LEGAL_ID" type="xs:string"/>
      <!--Field for indicate expiration date of the legal id document-->
      <xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--EMAIL ADDRESS INFORMATION TYPES-->
  <!--###############################-->
  <xs:complexType name="emailListType">
    <xs:sequence>
      <xs:element name="EMAIL_ITEM" type="con:emailType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="emailType">
    <xs:sequence>
      <xs:element name="EMAIL_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="EMAIL_ADDRESS" type="xs:string" minOccurs="0"/>
      <xs:element name="IS_DEFAULT" type="xs:string" minOccurs="0"/>
      <xs:element name="IS_MAIN_EMAIL" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>