Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaCheque/ConsultaEstadoChequeCertificado/consultaEstadoChequeCertificadoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaEstadoChequeCertificadoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaEstadoChequeCertificadoTypes">

	<xs:complexType name = "consultaEstadoChequeCertificadoResponseArrayType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="STATUS" type="xs:string" minOccurs="0" />
	    </xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaEstadoChequeCertificadoResponseRecordType">
		<xs:sequence>
				<xs:element name="consultaEstadoChequeCertificadoResponseRecordType" type="cons:consultaEstadoChequeCertificadoResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaEstadoChequeCertificadoResponseType">
		<xs:sequence>
			<xs:element name="consultaEstadoChequeCertificadoResponseType" type="cons:consultaEstadoChequeCertificadoResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaEstadoChequeCertificado">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				<xs:element name="CHEQUE_NUMBER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaEstadoChequeCertificadoResponse" type="cons:consultaEstadoChequeCertificadoResponseType"/>
	
</xs:schema>