Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/CloudCodeLogin/Resources/encryptCredentialsFPCAPI.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ficohsa.com.hn/schema/encryptCredentialsFPCAPITypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/schema/encryptCredentialsFPCAPITypes" targetNamespace="http://www.ficohsa.com.hn/schema/encryptCredentialsFPCAPITypes">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/schema/encryptCredentialsFPCAPITypes" version="1.0">
            <xs:element name="encryptCredentialsFPCAPIRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="userAlias" type="xs:string"/>
                        <xs:element name="userPassword" type="xs:string"/>
                        <xs:element name="beginDate" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="encryptCredentialsFPCAPIResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xsd:element name="status" type="xsd:string"/>
                        <xsd:element name="message" type="xsd:string"/>
                        <xsd:element name="credentials" type="xsd:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="encryptCredentialsFPCAPIRequest">
        <wsdl:part element="tns:encryptCredentialsFPCAPIRequest" name="encryptCredentialsFPCAPIRequest"/>
    </wsdl:message>
    <wsdl:message name="encryptCredentialsFPCAPIResponse">
        <wsdl:part element="tns:encryptCredentialsFPCAPIResponse" name="encryptCredentialsFPCAPIResponse"/>
    </wsdl:message>
    <wsdl:portType name="encryptCredentialsFpcApiEndpoint">
        <wsdl:operation name="encryptCredentialsFPCAPI">
            <wsdl:input message="tns:encryptCredentialsFPCAPIRequest" name="encryptCredentialsFPCAPIRequest"/>
            <wsdl:output message="tns:encryptCredentialsFPCAPIResponse" name="encryptCredentialsFPCAPIResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="encryptCredentialsFpcApiEndpointSoap11" type="tns:encryptCredentialsFpcApiEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="encryptCredentialsFPCAPI">
            <soap:operation soapAction=""/>
            <wsdl:input name="encryptCredentialsFPCAPIRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="encryptCredentialsFPCAPIResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="encryptCredentialsFpcApiEndpointService">
        <wsdl:port binding="tns:encryptCredentialsFpcApiEndpointSoap11" name="encryptCredentialsFpcApiEndpointSoap11">
            <soap:address location="http://172.23.13.19:7003/encrypt-credentials-fpc-api/services/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>