Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ModificaFechaAporteFondoPensiones/xsd/modificaFechaAporteFondoPensionesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
       targetNamespace="http://www.ficohsa.com.hn/middleware.services/modificaFechaAporteFondoPensionesTypes" 
       xmlns:tns="http://www.ficohsa.com.hn/middleware.services/modificaFechaAporteFondoPensionesTypes">
       
    <xs:simpleType name="stringMaxLength3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
       
       
	<xs:element name="modificaFechaAporteFondoPensionesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CURRENCY" type="xs:string"/> 
				<xs:element name="ID" type="xs:string"/> 
				<xs:element name="NEW_COLLECTION_DATE" type="xs:string"/> 
          	</xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="modificaFechaAporteFondoPensionesResponse">
		<xs:complexType>
			<xs:sequence>
          	</xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>