Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/DEI/altaContrato/xsd/altaContrato_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/altaContrato" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/altaContrato" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PT_AUDITORIAINFO" type="db:T_AUDITORIA" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROCONTRATO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="T_AUDITORIA">
      <sequence>
         <element name="RTN" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="USUARIO_SERVICIO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_ARCHIVO" type="db:string256" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID_ARCHIVO" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROCESO" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROCESO_ORIGEN_ERROR" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_ERROR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCION_ERROR" type="db:string4000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="string4000">
      <restriction base="string">
         <maxLength value="4000"/>
      </restriction>
   </simpleType>
</schema>