Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultaEstadoChequeGerencia/ConsultaEstadoChequeGerencia.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaEstadoChequeGerenciaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaEstadoChequeGerenciaTypes">

	<xs:complexType name = "consultaEstadoChequeGerenciaResponseArrayType">
		<xs:sequence>
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="STATUS" type="xs:string" minOccurs="0" />
	    </xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaEstadoChequeGerenciaResponseRecordType">
		<xs:sequence>
				<xs:element name="consultaEstadoChequeGerenciaResponseRecordType" type="cons:consultaEstadoChequeGerenciaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaEstadoChequeGerenciaResponseType">
		<xs:sequence>
			<xs:element name="consultaEstadoChequeGerenciaResponseType" type="cons:consultaEstadoChequeGerenciaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaEstadoChequeGerencia">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CHEQUE_NUMBER">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="CURRENCY">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="ISSUING_BANK" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaEstadoChequeGerenciaResponse" type="cons:consultaEstadoChequeGerenciaResponseType"/>
	
</xs:schema>