Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/CashTxnRecordOperations/wsdl/CashTxnRecordOperations.wsdl

<wsdl:definitions name="CashTxnRecordOperationsPS"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/CashTxnRecordOperationsPS/"
	xmlns:fic="http://www.ficohsa.com.hn/middleware.services/CashTxnRecordOperationsPS/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType"
	xmlns:ctr="http://www.ficohsa.com.hn/middleware.services/cashTxnRecordOperationsTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType"
				schemaLocation="../../General/xsd/Header.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://www.ficohsa.com.hn/middleware.services/cashTxnRecordOperationsTypes"
				schemaLocation="../xsd/CashTxnRecordOperationsTypes.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="customerQueryRequest">
		<wsdl:part element="ctr:customerQuery" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="customerQueryResponse">
		<wsdl:part element="ctr:customerQueryResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:message name="cashTransactionRecordRequest">
		<wsdl:part element="ctr:cashTransactionRecord" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="cashTransactionRecordResponse">
		<wsdl:part element="ctr:cashTransactionRecordResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:portType name="CashTxnRecordOperationsPS">
		<wsdl:operation name="customerQuery"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:customerQueryRequest" />
			<wsdl:output message="fic:customerQueryResponse" />
		</wsdl:operation>
		<wsdl:operation name="cashTransactionRecord"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:cashTransactionRecordRequest" />
			<wsdl:output message="fic:cashTransactionRecordResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CashTxnRecordOperationsPSSOAP" type="fic:CashTxnRecordOperationsPS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="customerQuery">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/CashTxnRecordOperationsPS/customerQuery" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:customerQueryRequest" part="RequestHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:customerQueryResponse" part="ResponseHeader"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cashTransactionRecord">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/CashTxnRecordOperationsPS/cashTransactionRecord" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:cashTransactionRecordRequest" part="RequestHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:cashTransactionRecordResponse" part="ResponseHeader"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CashTxnRecordOperationsPS">
		<wsdl:port binding="fic:CashTxnRecordOperationsPSSOAP" name="CashTxnRecordOperationsPSSOAP">
			<soap:address
				location="http://mwteller:8004/mwteller/regulatoryCompliance/CashTxnRecordOperations" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>