Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/MTR/eliminadorTerceros/wsdl/eliminadorTercerosEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicio.cargartercerospmsws.mtrpmsv.cidenet.com.co/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EliminadorTercerosService" targetNamespace="http://servicio.cargartercerospmsws.mtrpmsv.cidenet.com.co/">
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://servicio.cargartercerospmsws.mtrpmsv.cidenet.com.co/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://servicio.cargartercerospmsws.mtrpmsv.cidenet.com.co/">
  <xsd:complexType name="respuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="terceroEliminacion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigoTercero" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tercerosEliminacion">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tercero" nillable="true" type="ns0:terceroEliminacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eliminarTerceros">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idCliente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idUsuario" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idBancoOrigen" type="xsd:string"/>
      <xsd:element minOccurs="0" name="terceros" type="ns0:tercerosEliminacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eliminarTercerosResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="respuestaEliminacionTerceros" type="ns0:respuesta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="eliminarTerceros" type="ns0:eliminarTerceros"/>
  <xsd:element name="eliminarTercerosResponse" type="ns0:eliminarTercerosResponse"/>
  <xsd:element name="Exception" type="ns0:Exception"/>
  <xsd:complexType name="Exception">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="eliminarTerceros">
        <wsdl:part element="tns:eliminarTerceros" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTercerosResponse">
        <wsdl:part element="tns:eliminarTercerosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part element="tns:Exception" name="Exception"/>
    </wsdl:message>
    <wsdl:portType name="EliminadorTerceros">
        <wsdl:operation name="eliminarTerceros">
            <wsdl:input message="tns:eliminarTerceros" name="eliminarTerceros"/>
            <wsdl:output message="tns:eliminarTercerosResponse" name="eliminarTercerosResponse"/>
            <wsdl:fault message="tns:Exception" name="Exception"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EliminadorTercerosServiceSoapBinding" type="tns:EliminadorTerceros">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="eliminarTerceros">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="eliminarTerceros">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarTercerosResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EliminadorTercerosService">
        <wsdl:port binding="tns:EliminadorTercerosServiceSoapBinding" name="EliminadorTercerosPort">
            <soap:address location="http://172.23.12.126:7003/CargarTercerosPmsWS/services/eliminadorTercerosEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>