Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/MantenimientoSeguroCuenta/xsd/mantenimientoSeguroCuentaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
     version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/mantenimientoSeguroCuentaTypes"
     xmlns:tns="http://www.ficohsa.com.hn/middleware.services/mantenimientoSeguroCuentaTypes" >
     
     <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="dualIndicatorTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="productCodeTypes">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringMaxLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
     
     <xs:element name="cancelacionSeguro">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="tns:stringMinLength1"/>			
				<xs:element name="CARD_NUMBER" type="tns:stringMinLength1" />
				<xs:element name="DUAL_INDICATOR" type="tns:dualIndicatorTypes"/>
				<xs:element name="PRODUCT_CODE" type="tns:productCodeTypes"/>
				<xs:element name="STATE_CODE" type="tns:stringMaxLength1"/>
				<xs:element name="REASON_CANCELLATION" type="tns:stringMaxLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
	
	<xs:element name="cancelacionSeguroResponse">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="SERVICE_RESPONSE" type="xs:string" minOccurs="0"/>
    			<xs:element name="NUMBER_ERRORS" type="xs:string" minOccurs="0"/>
    			<xs:element name="CODE_ERROR" type="xs:string" minOccurs="0"/>
    			<xs:element name="DESCRIPTION_ERROR" type="xs:string" minOccurs="0"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>

</xs:schema>