Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CREDITFORCEHN/GestionAccesosUsuarios/wsdl/WSDL_1626728080.wsdl

<wsdl:definitions targetNamespace="http://www.creditforce.com/SOA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.creditforce.com/SOA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.creditforce.com/SOA/Imports">
			<xsd:import schemaLocation="../xsd/XMLSchema_820425240.xsd" namespace="http://www.creditforce.com/SOA"/>
			<xsd:import schemaLocation="../xsd/XMLSchema_527022233.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="../xsd/XMLSchema_233619226.xsd" namespace="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
			<xsd:import schemaLocation="../xsd/XMLSchema_-59783781.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ISecurityManager_Status_InputMessage">
		<wsdl:part name="parameters" element="tns:Status"/>
	</wsdl:message>
	<wsdl:message name="ISecurityManager_Status_OutputMessage">
		<wsdl:part name="parameters" element="tns:StatusResponse"/>
	</wsdl:message>
	<wsdl:message name="ISecurityManager_CreateUser_InputMessage">
		<wsdl:part name="parameters" element="tns:CreateUser"/>
	</wsdl:message>
	<wsdl:message name="ISecurityManager_CreateUser_OutputMessage">
		<wsdl:part name="parameters" element="tns:CreateUserResponse"/>
	</wsdl:message>
	<wsdl:message name="ISecurityManager_UpdateUser_InputMessage">
		<wsdl:part name="parameters" element="tns:UpdateUser"/>
	</wsdl:message>
	<wsdl:message name="ISecurityManager_UpdateUser_OutputMessage">
		<wsdl:part name="parameters" element="tns:UpdateUserResponse"/>
	</wsdl:message>
	<wsdl:message name="ISecurityManager_GetUser_InputMessage">
		<wsdl:part name="parameters" element="tns:GetUser"/>
	</wsdl:message>
	<wsdl:message name="ISecurityManager_GetUser_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetUserResponse"/>
	</wsdl:message>
	<wsdl:message name="ISecurityManager_UpdateStatus_InputMessage">
		<wsdl:part name="parameters" element="tns:UpdateStatus"/>
	</wsdl:message>
	<wsdl:message name="ISecurityManager_UpdateStatus_OutputMessage">
		<wsdl:part name="parameters" element="tns:UpdateStatusResponse"/>
	</wsdl:message>
	<wsdl:portType name="ISecurityManager">
		<wsdl:operation name="Status">
			<wsdl:input wsaw:Action="http://www.creditforce.com/SOA/ISecurityManager/Status" message="tns:ISecurityManager_Status_InputMessage"/>
			<wsdl:output wsaw:Action="http://www.creditforce.com/SOA/ISecurityManager/StatusResponse" message="tns:ISecurityManager_Status_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="CreateUser">
			<wsdl:input wsaw:Action="http://www.creditforce.com/SOA/ISecurityManager/CreateUser" message="tns:ISecurityManager_CreateUser_InputMessage"/>
			<wsdl:output wsaw:Action="http://www.creditforce.com/SOA/ISecurityManager/CreateUserResponse" message="tns:ISecurityManager_CreateUser_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateUser">
			<wsdl:input wsaw:Action="http://www.creditforce.com/SOA/ISecurityManager/UpdateUser" message="tns:ISecurityManager_UpdateUser_InputMessage"/>
			<wsdl:output wsaw:Action="http://www.creditforce.com/SOA/ISecurityManager/UpdateUserResponse" message="tns:ISecurityManager_UpdateUser_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetUser">
			<wsdl:input wsaw:Action="http://www.creditforce.com/SOA/ISecurityManager/GetUser" message="tns:ISecurityManager_GetUser_InputMessage"/>
			<wsdl:output wsaw:Action="http://www.creditforce.com/SOA/ISecurityManager/GetUserResponse" message="tns:ISecurityManager_GetUser_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateStatus">
			<wsdl:input wsaw:Action="http://www.creditforce.com/SOA/ISecurityManager/UpdateStatus" message="tns:ISecurityManager_UpdateStatus_InputMessage"/>
			<wsdl:output wsaw:Action="http://www.creditforce.com/SOA/ISecurityManager/UpdateStatusResponse" message="tns:ISecurityManager_UpdateStatus_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>