Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/WSDL/IntergrupalTransfers/IntergrupalTransfers.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../../XSD/IntergrupalTransfers/XMLSchema_676725575.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../../XSD/IntergrupalTransfers/XMLSchema_383322568.xsd"/>
</xsd:schema>
</types>
<message name="TransferenciaIntergrupalReverse">
<part name="parameters" element="tns:TransferenciaIntergrupalReverse"/>
</message>
<message name="TransferenciaIntergrupalReverseResponse">
<part name="parameters" element="tns:TransferenciaIntergrupalReverseResponse"/>
</message>
<message name="TransferenciaIntergrupalInsert">
<part name="parameters" element="tns:TransferenciaIntergrupalInsert"/>
</message>
<message name="TransferenciaIntergrupalInsertResponse">
<part name="parameters" element="tns:TransferenciaIntergrupalInsertResponse"/>
</message>
<message name="TransferenciaIntergrupalInsert_Validate">
<part name="parameters" element="tns:TransferenciaIntergrupalInsert_Validate"/>
</message>
<message name="TransferenciaIntergrupalInsert_ValidateResponse">
<part name="parameters" element="tns:TransferenciaIntergrupalInsert_ValidateResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="TransferenciaIntergrupalReverse">
<input message="tns:TransferenciaIntergrupalReverse"/>
<output message="tns:TransferenciaIntergrupalReverseResponse"/>
</operation>
<operation name="TransferenciaIntergrupalInsert">
<input message="tns:TransferenciaIntergrupalInsert"/>
<output message="tns:TransferenciaIntergrupalInsertResponse"/>
</operation>
<operation name="TransferenciaIntergrupalInsert_Validate">
<input message="tns:TransferenciaIntergrupalInsert_Validate"/>
<output message="tns:TransferenciaIntergrupalInsert_ValidateResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="TransferenciaIntergrupalReverse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TransferenciaIntergrupalInsert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TransferenciaIntergrupalInsert_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcTransferenciaIntergrupal/services"/>
</port>
</service>
</definitions>