Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/consultaSituacionFinanciera12c/xsd/GetFinancialSituationTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/pension" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/pension" xmlns:ctp="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:simpleType name="Types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CED"/>
      <xsd:enumeration value="NIT"/>
      <xsd:enumeration value="PAS"/>
      <xsd:enumeration value="CAR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="InputParameters">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" minOccurs="0" type="ctp:GeneralInfoType"/>
        <xsd:element name="PV_IDENTIFICATION_TYPE" type="Types"/>
        <xsd:element name="PV_BANCO_ORIGEN" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PT_NUMERO_IDENTIFICACION" type="WL_OSB.TVARCHAR20" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OutputParameters">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="ctp:StatusInfoType" minOccurs="0"/>
        <xsd:element name="ErrorInfo" type="ctp:ErrorInfoType" minOccurs="0"/>
        <xsd:element name="PV_BANCO_REGION_OUT" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PV_TIPO_PRODUCTO_CLI" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PV_TIPO_PRODUCTO" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PT_CODIGO_MONEDA" type="WL_OSB.TVARCHAR3" minOccurs="0"/>
        <xsd:element name="PT_SALDO_TOTAL" type="WL_OSB.T_MONTO" minOccurs="0"/>
        <xsd:element name="PV_CODIGO_ERROR" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PV_DESCRIPCION_ERROR" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="WL_OSB.T_MONTO">
    <xsd:sequence>
      <xsd:element name="PT_SALDO_TOTAL_ITEM" type="xsd:decimal" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WL_OSB.TVARCHAR20">
    <xsd:sequence>
      <xsd:element name="PT_NUMERO_IDENTIFICACION_ITEM" type="string20" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WL_OSB.TVARCHAR3">
    <xsd:sequence>
      <xsd:element name="PT_CODIGO_MONEDA_ITEM" type="string3" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="string20">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>