Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/Transferencias/Resources/transferencias.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_2134279235.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_1840876228.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Transfentrecuentasinstrcredito">
<part name="parameters" element="tns:Transfentrecuentasinstrcredito"/>
</message>
<message name="TransfentrecuentasinstrcreditoResponse">
<part name="parameters" element="tns:TransfentrecuentasinstrcreditoResponse"/>
</message>
<message name="Transfentrecuentasinstrcredito_Validate">
<part name="parameters" element="tns:Transfentrecuentasinstrcredito_Validate"/>
</message>
<message name="Transfentrecuentasinstrcredito_ValidateResponse">
<part name="parameters" element="tns:Transfentrecuentasinstrcredito_ValidateResponse"/>
</message>
<message name="TransferenciaInternacional">
<part name="parameters" element="tns:TransferenciaInternacional"/>
</message>
<message name="TransferenciaInternacionalResponse">
<part name="parameters" element="tns:TransferenciaInternacionalResponse"/>
</message>
<message name="TransferenciaInternacional_Validate">
<part name="parameters" element="tns:TransferenciaInternacional_Validate"/>
</message>
<message name="TransferenciaInternacional_ValidateResponse">
<part name="parameters" element="tns:TransferenciaInternacional_ValidateResponse"/>
</message>
<message name="TransferenciaACH">
<part name="parameters" element="tns:TransferenciaACH"/>
</message>
<message name="TransferenciaACHResponse">
<part name="parameters" element="tns:TransferenciaACHResponse"/>
</message>
<message name="TransferenciaACH_Validate">
<part name="parameters" element="tns:TransferenciaACH_Validate"/>
</message>
<message name="TransferenciaACH_ValidateResponse">
<part name="parameters" element="tns:TransferenciaACH_ValidateResponse"/>
</message>
<message name="ActualizacionestadodetransACH">
<part name="parameters" element="tns:ActualizacionestadodetransACH"/>
</message>
<message name="ActualizacionestadodetransACHResponse">
<part name="parameters" element="tns:ActualizacionestadodetransACHResponse"/>
</message>
<message name="ActualizacionestadodetransACH_Validate">
<part name="parameters" element="tns:ActualizacionestadodetransACH_Validate"/>
</message>
<message name="ActualizacionestadodetransACH_ValidateResponse">
<part name="parameters" element="tns:ActualizacionestadodetransACH_ValidateResponse"/>
</message>
<message name="RegistroACHRecibida">
<part name="parameters" element="tns:RegistroACHRecibida"/>
</message>
<message name="RegistroACHRecibidaResponse">
<part name="parameters" element="tns:RegistroACHRecibidaResponse"/>
</message>
<message name="RegistroACHRecibida_Validate">
<part name="parameters" element="tns:RegistroACHRecibida_Validate"/>
</message>
<message name="RegistroACHRecibida_ValidateResponse">
<part name="parameters" element="tns:RegistroACHRecibida_ValidateResponse"/>
</message>
<message name="Transfmodelbankentrecuentas">
<part name="parameters" element="tns:Transfmodelbankentrecuentas"/>
</message>
<message name="TransfmodelbankentrecuentasResponse">
<part name="parameters" element="tns:TransfmodelbankentrecuentasResponse"/>
</message>
<message name="Transfmodelbankentrecuentas_Validate">
<part name="parameters" element="tns:Transfmodelbankentrecuentas_Validate"/>
</message>
<message name="Transfmodelbankentrecuentas_ValidateResponse">
<part name="parameters" element="tns:Transfmodelbankentrecuentas_ValidateResponse"/>
</message>
<message name="Transferenciaentrecuentas">
<part name="parameters" element="tns:Transferenciaentrecuentas"/>
</message>
<message name="TransferenciaentrecuentasResponse">
<part name="parameters" element="tns:TransferenciaentrecuentasResponse"/>
</message>
<message name="Transferenciaentrecuentas_Validate">
<part name="parameters" element="tns:Transferenciaentrecuentas_Validate"/>
</message>
<message name="Transferenciaentrecuentas_ValidateResponse">
<part name="parameters" element="tns:Transferenciaentrecuentas_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Transfentrecuentasinstrcredito">
<input message="tns:Transfentrecuentasinstrcredito"/>
<output message="tns:TransfentrecuentasinstrcreditoResponse"/>
</operation>
<operation name="Transfentrecuentasinstrcredito_Validate">
<input message="tns:Transfentrecuentasinstrcredito_Validate"/>
<output message="tns:Transfentrecuentasinstrcredito_ValidateResponse"/>
</operation>
<operation name="TransferenciaInternacional">
<input message="tns:TransferenciaInternacional"/>
<output message="tns:TransferenciaInternacionalResponse"/>
</operation>
<operation name="TransferenciaInternacional_Validate">
<input message="tns:TransferenciaInternacional_Validate"/>
<output message="tns:TransferenciaInternacional_ValidateResponse"/>
</operation>
<operation name="TransferenciaACH">
<input message="tns:TransferenciaACH"/>
<output message="tns:TransferenciaACHResponse"/>
</operation>
<operation name="TransferenciaACH_Validate">
<input message="tns:TransferenciaACH_Validate"/>
<output message="tns:TransferenciaACH_ValidateResponse"/>
</operation>
<operation name="ActualizacionestadodetransACH">
<input message="tns:ActualizacionestadodetransACH"/>
<output message="tns:ActualizacionestadodetransACHResponse"/>
</operation>
<operation name="ActualizacionestadodetransACH_Validate">
<input message="tns:ActualizacionestadodetransACH_Validate"/>
<output message="tns:ActualizacionestadodetransACH_ValidateResponse"/>
</operation>
<operation name="RegistroACHRecibida">
<input message="tns:RegistroACHRecibida"/>
<output message="tns:RegistroACHRecibidaResponse"/>
</operation>
<operation name="RegistroACHRecibida_Validate">
<input message="tns:RegistroACHRecibida_Validate"/>
<output message="tns:RegistroACHRecibida_ValidateResponse"/>
</operation>
<operation name="Transfmodelbankentrecuentas">
<input message="tns:Transfmodelbankentrecuentas"/>
<output message="tns:TransfmodelbankentrecuentasResponse"/>
</operation>
<operation name="Transfmodelbankentrecuentas_Validate">
<input message="tns:Transfmodelbankentrecuentas_Validate"/>
<output message="tns:Transfmodelbankentrecuentas_ValidateResponse"/>
</operation>
<operation name="Transferenciaentrecuentas">
<input message="tns:Transferenciaentrecuentas"/>
<output message="tns:TransferenciaentrecuentasResponse"/>
</operation>
<operation name="Transferenciaentrecuentas_Validate">
<input message="tns:Transferenciaentrecuentas_Validate"/>
<output message="tns:Transferenciaentrecuentas_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Transfentrecuentasinstrcredito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Transfentrecuentasinstrcredito_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TransferenciaInternacional">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TransferenciaInternacional_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TransferenciaACH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TransferenciaACH_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizacionestadodetransACH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizacionestadodetransACH_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistroACHRecibida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistroACHRecibida_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Transfmodelbankentrecuentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Transfmodelbankentrecuentas_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Transferenciaentrecuentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Transferenciaentrecuentas_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcTransferencias/services"/>
</port>
</service>
</definitions>