Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/PagoBancaSat/xsd/pagoBancaSatTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoBancaSatTypes"
	xmlns:pag="http://www.ficohsa.com.hn/middleware.services/pagoBancaSatTypes">
	
	<xs:complexType name="pagoBancaSatResponseType">
		<xs:sequence>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CREDIT_CARD" type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="PAYMENT_AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>	
		</xs:sequence>
	</xs:complexType>

	<xs:element name="pagoBancaSatRequest">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="USER_ID" type="xs:string" minOccurs="0"/>
	            <xs:element name="SESSION_TOKEN" type="xs:string" minOccurs="0"/>
	            <xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
	            <xs:element name="PAYMENT_AMOUNT" type="xs:decimal"/>
	            <xs:element name="CONTRACT_NUMBER" type="xs:string" minOccurs="0"/>
	            <xs:element name="TAXPEYER_NIT" type="xs:string" minOccurs="0"/>
	            <xs:element name="FORM_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="TRANSACTION_TYPE" type="xs:string"/>
	            <xs:element name="TRANSACTION_REFERENCE" type="xs:string" minOccurs="0"/>
	            <xs:element name="CREDIT_CARD_PAYMENT_INFO" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CREDIT_CARD" type="xs:string" minOccurs="0"/>
							<xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0"/>
							<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
	            <xs:element name="BILL_INFORMATION" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BILL_NUMBER" type="xs:string" minOccurs="0" />
							<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
							<xs:element name="DUE_DATE" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
			   </xs:element>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoBancaSatResponse" type="pag:pagoBancaSatResponseType"/>

</xs:schema>