Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/DebitCards/RequestorServices/XSD/debitCardsTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/debitCardsTypes" elementFormDefault="qualified" xmlns:dct="http://www.ficohsa.com.hn/middleware.services/debitCardsTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:cic="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CustomerInfoCommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes"/>
  <xsd:element name="updateDebitCardRequest">
    <xsd:annotation>
      <xsd:documentation>updateDebitCardRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="cardNumber" type="dtt:string1" minOccurs="1"/>
        <xsd:element name="PrimaryAccount" type="dtt:string1" minOccurs="1"/>
        <xsd:element name="AccountCurrency" type="dtt:string1" minOccurs="1"/>
        <xsd:element name="SecondaryAccounts" type="dtt:string1" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateDebitCardResponse">
    <xsd:annotation>
      <xsd:documentation>updateDebitCardResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateDebitCardStatusRequest">
    <xsd:annotation>
      <xsd:documentation>updateDebitCardStatusRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="cardNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="InterfaceUser" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CustomerId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardStatus" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AdditionalData" type="dct:AdditionalDataType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateDebitCardStatusResponse">
    <xsd:annotation>
      <xsd:documentation>updateDebitCardStatusResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="CardNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="packingOrderRequest">
    <xsd:annotation>
      <xsd:documentation>packingOrderRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
        <xsd:element name="CustomerInfo" type="dct:CustomerInfoType"/>
        <xsd:element name="PhoneInfo" type="cic:PhoneInfoType" maxOccurs="unbounded"/>
        <xsd:element name="AddressInfo" type="dct:AddressInfoType" maxOccurs="unbounded"/>
        <xsd:element name="JobInfo" type="dct:JobInfoType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="CardInfo" type="dct:CardInfoType" minOccurs="0"/>
        <xsd:element name="AccountInfo" type="dct:AccountInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="packingOrderResponse">
    <xsd:annotation>
      <xsd:documentation>packingOrderResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="ReferenceNumber" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="assignDebitCardRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
        <xsd:element name="InterfaceUser" type="dtt:string1" minOccurs="0"/>
        <xsd:element name="CustomerCode" type="dtt:string1" minOccurs="0"/>
        <xsd:element name="CustomerLegalId" type="dtt:string1" minOccurs="0"/>
        <xsd:element name="PrimaryAccount" type="dtt:string1" minOccurs="0"/>
        <xsd:element name="DeliveryBranch" type="dtt:string1" minOccurs="0"/>
        <xsd:element name="EmissionPay" type="dtt:string1" minOccurs="0"/>
        <xsd:element name="EmbossedType" type="dtt:string1" minOccurs="0"/>
        <xsd:element name="CardType" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardNumber" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="assignDebitCardResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="Account" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ErrorInfo" type="dtt:ErrorInfoType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AdditionalDataType">
      <xsd:sequence>
        <xsd:element name="KeyValue" minOccurs="0" type="xsd:string"/>
        <xsd:element name="Value" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="CustomerInfoType">
      <xsd:sequence>
        <xsd:element name="Code" type="dtt:string1"/>
        <xsd:element name="Name" type="dtt:string1"/>
        <xsd:element name="LegalId" type="dtt:string1"/>
        <xsd:element name="Email" type="dtt:string1"/>
      </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="AddressInfoType">
      <xsd:sequence>
        <xsd:element name="Type">
          <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="Home"/>
                          <xsd:enumeration value="Work"/>
                          <xsd:enumeration value="Other"/>
                  </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="AddressLine" type="dtt:string1"/>
        <xsd:element name="IsDeliveryAddress">
          <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="Yes"/>
                          <xsd:enumeration value="No"/>
                  </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="JobInfoType">
      <xsd:sequence>
        <xsd:element name="IsWork" minOccurs="0">
          <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="Yes"/>
                          <xsd:enumeration value="No"/>
                  </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ProfesionCode" minOccurs="0" type="xsd:string"/>
        <xsd:element name="JobDescription" minOccurs="0" type="xsd:string"/>
        <xsd:element name="IncomeSource" minOccurs="0" type="xsd:string"/>
        <xsd:element name="PrincipalIncomeAmount" minOccurs="0" type="xsd:double"/>
      </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="CardInfoType">
      <xsd:sequence>
        <xsd:element name="LastCardNumber" minOccurs="0" type="xsd:string"/>
        <xsd:element name="Type" minOccurs="0" type="xsd:string"/>
        <xsd:element name="BranchCode" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="AccountInfoType">
      <xsd:sequence>
        <xsd:element name="AccountNumber" type="dtt:string1"/>
        <xsd:element name="AccountCurrency" type="dtt:string1"/>
      </xsd:sequence>
    </xsd:complexType>
</xsd:schema>