Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/Resources/ArtefactosGenerales/xsd/KeyValuePair.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="KvPair">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="UnboundKvPair">
		<xs:sequence>
			<xs:element name="KV_PAIR" type="KvPair" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RegionalDetails">
		<xs:sequence>
			<xs:element name="SOURCE"  type="UnboundKvPair" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="DESTINATION"  type="UnboundKvPair" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>		
	</xs:complexType>
	
</xs:schema>