Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/CreaFinanciamiento_v2/xsd/XMLSchema_772285244.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/creaFinanciamientoTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creaFinanciamientoTypes">

 <xs:simpleType name="interestRateType">
    <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0"/>
        <xs:maxInclusive value="99.99999"/>
        <xs:fractionDigits value="5"/>
    </xs:restriction>
 </xs:simpleType> 
 
 <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
          <xs:complexType name="amortDataArray">
			<xs:sequence>
					<xs:element name="AMORT_ENTRY" type="tns:amortEntryArray" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name = "amortEntryArray">
		<xs:sequence>
			<xs:element name="DATA_TERM" type="xs:int" minOccurs="0"/>
			<xs:element name="DATA_TABLE" type="xs:int" minOccurs="0"/>
			<xs:element name="DATA_METHOD" type="xs:int" minOccurs="0"/>
			<xs:element name="DATA_START_IND" type="xs:int" minOccurs="0"/>
			<xs:element name="DATA_START_MONTH" type="xs:int" minOccurs="0"/>
			<xs:element name="DATA_START_DAY" type="xs:int" minOccurs="0"/>
			<xs:element name="DATA_ROUND_TYPE" type="xs:int" minOccurs="0"/>
			<xs:element name="DATA_AMOUNT" type="xs:decimal" minOccurs="0"/>		
		 </xs:sequence> 
	</xs:complexType>                             
<xs:element name="creaFinanciamiento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:integer"/>
				<xs:element name="ASM_ORG" type="xs:integer"/>
				<xs:element name="ACCOUNT_NUMBER" type="tns:stringMinLength1"/>
				<xs:element name="PLAN_CODE" type="tns:stringMinLength1"/>
				<xs:element name="PLAN_DESCRIPTION" type="tns:stringMinLength1"/>
				<xs:element name="PLAN_NUMBER" type="tns:stringMinLength1"/>
				<xs:element name="START_DATE_PLAN" type="xs:date"/>
				<xs:element name="FIXED_LEVELED_FEE" type="xs:decimal"/>
				<xs:element name="FORMALIZATION_DATE" type="xs:date"/>
				<xs:element name="INTEREST_RATE" type="tns:interestRateType"/>
				<xs:element name="LOAN_TERM" type="xs:integer"/>
				<xs:element name="TOTAL_AMOUNT" type="xs:decimal"/>
				<xs:element name="PRINCIPAL_AMOUNT" type="xs:decimal"/>
				<xs:element name="INTEREST_AMOUNT" type="xs:decimal"/>
				<xs:element name="INSURANCE_AMOUNT" type="xs:decimal"/>
				<xs:element name="DISBURSEMENT_COMMISSION" type="xs:decimal"/>
				<xs:element name="CURRENCY_INDICATOR" type="xs:decimal"/>
                <xs:element name="POSITION_FEE" type="xs:string" minOccurs="0"/>
				<xs:element name="AMORT_DATA" type="tns:amortDataArray" minOccurs="0"/>                                                                                              
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="creaFinanciamientoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOGO" type="xs:string" minOccurs="0"/>
				<xs:element name="ORG" type="xs:integer" minOccurs="0"/>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="PLAN_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="ACTIVATION_STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="ACTIVATION_DESC" type="xs:string" minOccurs="0"/>
				<xs:element name="PLAN_SEQUENCE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>