Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ConsultaFondoPensiones12c/xsd/GetAssetsCustomerTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/pension" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/pension" xmlns:ctp="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:simpleType name="string3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CC"/>
      <xsd:enumeration value="CE"/>
      <xsd:enumeration value="DNI"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="InputParameters">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" minOccurs="0" type="ctp:GeneralInfoType"/>
        <xsd:element name="PV_IDENTIFICATION_TYPE" type="Types"/>
        <xsd:element name="PV_IDENTIFICACION" type="ctp:string1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OutputParameters">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="ctp:StatusInfoType" minOccurs="0"/>
        <xsd:element name="ErrorInfo" type="ctp:ErrorInfoType" minOccurs="0"/>
        <xsd:element name="PT_CUENTAS" type="WL_OSB.CUENTAS" minOccurs="0"/>
        <xsd:element name="CODIGO_ERROR" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DESCRIPCION_ERROR" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="WL_OSB.CUENTAS">
    <xsd:sequence>
      <xsd:element name="CUENTA" type="WL_OSB.INFO_CUENTA" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WL_OSB.INFO_CUENTA">
    <xsd:sequence>
      <xsd:element name="NUMERO_CUENTA" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DESCRIPCION_CUENTA" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MONEDA" type="string3" minOccurs="0"/>
      <xsd:element name="SALDO_TOTAL" type="xsd:decimal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>