Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/MiscCashFlow/xsd/MiscCashFlowTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/miscCashFlowTypes" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mis="http://www.ficohsa.com.hn/middleware.services/miscCashFlowTypes" xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes">
<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes" schemaLocation="../../General/xsd/GeneralTypes.xsd"/>

<xs:element name="miscCashFlow" type="mis:miscCashFlowType"/>

<xs:complexType name="miscCashFlowType">
	<xs:sequence>
		<xs:element name="DIRECTION" type="gen:directionType" minOccurs="1" maxOccurs="1"/>
		<xs:element name="TXN_ID" type="gen:greaterThan0" minOccurs="1" maxOccurs="1"/>
		<xs:element name="REFERENCES" type="gen:kvPairsWithoutEnumType" minOccurs="0" maxOccurs="1"/>
		<xs:element name="PAYMENT" type="gen:paymentType" minOccurs="1" maxOccurs="1"/>
		<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>
	</xs:sequence>
</xs:complexType>

<xs:element name="miscCashFlowResponse" type="mis:miscCashFlowRspType"/>

<xs:complexType name="miscCashFlowRspType">
	<xs:sequence>
		<xs:element name="TXN_ID" type="gen:greaterThan0" minOccurs="0" maxOccurs="1"/>
		<xs:element name="TXN_NAME" type="gen:stringMinLength1" minOccurs="0" maxOccurs="1"/>
		<xs:element name="TRANSACTION_INFO" type="gen:transactionType" minOccurs="0" maxOccurs="1"/>
	</xs:sequence>
</xs:complexType>

</xs:schema>
