Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKGT/generaCatalogos/xsd/generaCatalogos_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/generaCatalogos" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/generaCatalogos" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_NAME" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SOURCE_SYSTEM" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SOURCE_BANK" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_INITIAL_RECORD" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_RECORD_COUNT" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PR_FILTER_CRITERIAS" type="db:PROXYABANKSGT.R_CRITERIAS" db:index="6" db:type="Struct" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_NAME" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SOURCE_SYSTEM" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_INITIAL_RECORD" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_RECORD_COUNT" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PR_DETAILS_CAT" type="db:PROXYABANKSGT.R_DETAILS" db:index="7" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PN_RECORDS_RETURNED" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_RECORDS_TOTAL" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ESTADO" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ESTADO" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.R_DETAILS">
      <sequence>
         <element name="DETAILS_CAT" type="db:PROXYABANKSGT.T_DETAILS_CAT" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_DETAILS_CAT">
      <sequence>
         <element name="DETAILS_CAT_ITEM" type="db:PROXYABANKSGT.R_DETAILS_CAT" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_FILTER_CRITERIAS">
      <sequence>
         <element name="TYPE_FILTER" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALUE_FILTER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_DETAILS_CAT">
      <sequence>
         <element name="ITEM_NAME" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ITEM_VALUE" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TICKET" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_FILTER_CRITERIAS">
      <sequence>
         <element name="FILTER_CRITERIAS_ITEM" type="db:PROXYABANKSGT.R_FILTER_CRITERIAS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_CRITERIAS">
      <sequence>
         <element name="FILTER_CRITERIAS" type="db:PROXYABANKSGT.T_FILTER_CRITERIAS" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string150">
      <restriction base="string">
         <maxLength value="150"/>
      </restriction>
   </simpleType>
</schema>
