Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Compliances/RequestorServices/WADL/CompliancesRouter_PS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="GetCustomerLists_PS">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaListasCliente" schemaLocation="../XSD/getCustomerLists.xsd"/>
        </xsd:schema>
      <schema targetNamespace="http://xmlns.oracle.com/Dynamo/MWBanking/GetCustomerLists_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getCustomerLists_params">
                <complexType>
                    <sequence>
                        <element name="legalId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
   </grammars>
   <resources>
      <resource path="/list-compliances/{legalId}">
         <method name="GET" soa:wsdlOperation="getCustomerLists">
            <request soa:paramElement="pns:getCustomerLists_params" xmlns:pns="http://xmlns.oracle.com/Dynamo/MWBanking/GetCustomerLists_PS">
               <param name="legalId" style="template" soa:expression="$msg.request/pns:legalId" type="xsd:string"/>
               <param name="SourceBank" style="query" soa:expression="$msg.request/pns:SourceBank" type="xsd:string"/>
               <param name="DestinationBank" style="query" soa:expression="$msg.request/pns:DestinationBank" type="xsd:string"/>
               <param name="Language" style="query" soa:expression="$msg.request/pns:Language" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getCustomerListsResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/consultaListasCliente"/>
            </response>
         </method>
      </resource>
   </resources>
</application>