Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RetiroTarjetaCredito/xsd/retiroTarjetaCreditoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/retiroTarjetaCreditoTypes" 
		xmlns:rtc="http://www.ficohsa.com.hn/middleware.services/retiroTarjetaCreditoTypes" > 
	
	<!-- valuesTypesCreditCardType -->
    
    <xs:simpleType name="valuesTypesCreditCard">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CREDIT_CARD_NUMBER"/>
        </xs:restriction>
    </xs:simpleType>    
    
    <!-- stringMinLength1Type -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- expirationDatesType -->
    
    <xs:simpleType name="expirationDate">
        <xs:restriction base="xs:string">
            <xs:pattern 
            	value="([0][1-9]|[1][0-2])[0-9]{2}">
            </xs:pattern>
        </xs:restriction>
	</xs:simpleType>
	
 <!--#################################################################-->     
    			<!--OPERACION: RETIRO TARJETA CREDITO -->

	<xs:element name="retiroTarjetaCredito">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="CREDIT_CARD_INFO" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TYPE" type="rtc:valuesTypesCreditCard" />
							<xs:element name="VALUE" type="rtc:stringMinLength1" />
							<xs:element name="EXPIRATION_DATE" type="rtc:expirationDate" minOccurs="0" maxOccurs="1"/>							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DISBURSEMENT" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TYPE" type="rtc:stringMinLength1" />
							<xs:element name="PRODUCT_TYPE" type="rtc:stringMinLength1" />
							<xs:element name="VALUE" type="rtc:stringMinLength1" />												
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CURRENCY" type="rtc:stringMinLength1"/> 
				<xs:element name="AMOUNT" type="xs:decimal"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
	
	<xs:element name="retiroTarjetaCreditoResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
				<xs:element name="WITHDRAWAL_AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="CHARGES" type="xs:decimal" minOccurs="0"/>
				<xs:element name="TOTAL_CHARGED_AMOUNT" type="xs:decimal" minOccurs="0"/> 
            </xs:sequence> 
        </xs:complexType>
    </xs:element> 

</xs:schema>