Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/AutenticacionClienteTarjeta/wsdl/autenticacionClienteTarjetaPS.wsdl

<wsdl:definitions name="autenticacionClienteTarjetaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/autenticacionClienteTarjetaPS/" xmlns:aut="http://www.ficohsa.com.hn/middleware.services/autenticacionClienteTarjetaPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/autenticacionClienteTarjetaTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autenticacionClienteTarjetaTypes" schemaLocation="../xsd/autenticacionClienteTarjetaTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="consultaTiposCredencialesRequest">
		<wsdl:part element="tns:consultaTiposCredenciales" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaTiposCredencialesResponse">
		<wsdl:part element="tns:consultaTiposCredencialesResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="envioVerificacionTokenRequest">
		<wsdl:part element="tns:envioVerificacionToken" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="envioVerificacionTokenResponse">
		<wsdl:part element="tns:envioVerificacionTokenResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:portType name="autenticacionClienteTarjetaPS">
		<wsdl:operation name="consultaTiposCredenciales" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="aut:consultaTiposCredencialesRequest"/>
			<wsdl:output message="aut:consultaTiposCredencialesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="envioVerificacionToken" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="aut:envioVerificacionTokenRequest"/>
			<wsdl:output message="aut:envioVerificacionTokenResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="autenticacionClienteTarjetaPSSOAP" type="aut:autenticacionClienteTarjetaPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaTiposCredenciales">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/autenticacionClienteTarjetaPS/consultaTiposCredenciales"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
				<soap:header message="aut:consultaTiposCredencialesRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
				<soap:header message="aut:consultaTiposCredencialesResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="envioVerificacionToken">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/autenticacionClienteTarjetaPS/envioVerificacionToken"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
				<soap:header message="aut:envioVerificacionTokenRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="result" use="literal"/>
				<soap:header message="aut:envioVerificacionTokenResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="autenticacionClienteTarjetaPS">
		<wsdl:port binding="aut:autenticacionClienteTarjetaPSSOAP" name="autenticacionClienteTarjetaPSSOAP">
			<soap:address location="https://172.23.13.19:8004/Middleware/OperationsAndExecution/Cards/AutenticacionClienteTarjeta"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>