Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaBuroInterno/wsdl/consultaBuroInternoPS.wsdl

<wsdl:definitions name="consultaBuroInternoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoPS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
	
  <wsdl:types>
    <xsd:schema>
    	<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoTypes" schemaLocation="../xsd/consultaBuroInternoTypes.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="requestHeader">
	<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
  </wsdl:message>
  
  <wsdl:message name="responseHeader">
	<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
  </wsdl:message>
  
  <wsdl:message name="consultaBuroInternoRequest">
    <wsdl:part element="tns:consultaBuroInterno" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="consultaBuroInternoResponse">
    <wsdl:part element="tns:consultaBuroInternoResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="consultaBuroInternoPS">
    <wsdl:operation name="consultaBuroInterno" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="op:consultaBuroInternoRequest"/>
      <wsdl:output message="op:consultaBuroInternoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="consultaBuroInternoPSSOAP" type="op:consultaBuroInternoPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultaBuroInterno">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      	<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="consultaBuroInternoPS">
    <wsdl:port binding="op:consultaBuroInternoPSSOAP" name="consultaBuroInternoPSSOAP">
      <soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/consultaBuroInterno/"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>