Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/subasta/Resources/Subasta.wsdl

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_-1097495212.xsd"/>
    </xsd:schema>
    <xsd:schema>      <xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-1390898219.xsd"/>
    </xsd:schema>
  </types>
  <message name="Afiliacionasubasta">
    <part name="parameters" element="tns:Afiliacionasubasta"/>
  </message>
  <message name="AfiliacionasubastaResponse">
    <part name="parameters" element="tns:AfiliacionasubastaResponse"/>
  </message>
  <message name="Afiliacionasubasta_Validate">
    <part name="parameters" element="tns:Afiliacionasubasta_Validate"/>
  </message>
  <message name="Afiliacionasubasta_ValidateResponse">
    <part name="parameters" element="tns:Afiliacionasubasta_ValidateResponse"/>
  </message>
  <message name="Consultaadjudicacionsubasta">
    <part name="parameters" element="tns:Consultaadjudicacionsubasta"/>
  </message>
  <message name="ConsultaadjudicacionsubastaResponse">
    <part name="parameters" element="tns:ConsultaadjudicacionsubastaResponse"/>
  </message>
  <message name="ConsultasubastaporenviaraBCH">
    <part name="parameters" element="tns:ConsultasubastaporenviaraBCH"/>
  </message>
  <message name="ConsultasubastaporenviaraBCHResponse">
    <part name="parameters" element="tns:ConsultasubastaporenviaraBCHResponse"/>
  </message>
  <message name="Transacciondesubasta">
    <part name="parameters" element="tns:Transacciondesubasta"/>
  </message>
  <message name="TransacciondesubastaResponse">
    <part name="parameters" element="tns:TransacciondesubastaResponse"/>
  </message>
  <message name="Transacciondesubasta_Validate">
    <part name="parameters" element="tns:Transacciondesubasta_Validate"/>
  </message>
  <message name="Transacciondesubasta_ValidateResponse">
    <part name="parameters" element="tns:Transacciondesubasta_ValidateResponse"/>
  </message>
  <message name="Consultadesubastaporadjudicar">
    <part name="parameters" element="tns:Consultadesubastaporadjudicar"/>
  </message>
  <message name="ConsultadesubastaporadjudicarResponse">
    <part name="parameters" element="tns:ConsultadesubastaporadjudicarResponse"/>
  </message>
  <message name="Consultaafiliacionsubasta">
    <part name="parameters" element="tns:Consultaafiliacionsubasta"/>
  </message>
  <message name="ConsultaafiliacionsubastaResponse">
    <part name="parameters" element="tns:ConsultaafiliacionsubastaResponse"/>
  </message>
  <message name="callOfs">
    <part name="parameters" element="tns:callOfs"/>
  </message>
  <message name="callOfsResponse">
    <part name="parameters" element="tns:callOfsResponse"/>
  </message>
  <portType name="T24WebServicesImpl">
    <operation name="Afiliacionasubasta">
      <input message="tns:Afiliacionasubasta"/>
      <output message="tns:AfiliacionasubastaResponse"/>
    </operation>
    <operation name="Afiliacionasubasta_Validate">
      <input message="tns:Afiliacionasubasta_Validate"/>
      <output message="tns:Afiliacionasubasta_ValidateResponse"/>
    </operation>
    <operation name="Consultaadjudicacionsubasta">
      <input message="tns:Consultaadjudicacionsubasta"/>
      <output message="tns:ConsultaadjudicacionsubastaResponse"/>
    </operation>
    <operation name="ConsultasubastaporenviaraBCH">
      <input message="tns:ConsultasubastaporenviaraBCH"/>
      <output message="tns:ConsultasubastaporenviaraBCHResponse"/>
    </operation>
    <operation name="Transacciondesubasta">
      <input message="tns:Transacciondesubasta"/>
      <output message="tns:TransacciondesubastaResponse"/>
    </operation>
    <operation name="Transacciondesubasta_Validate">
      <input message="tns:Transacciondesubasta_Validate"/>
      <output message="tns:Transacciondesubasta_ValidateResponse"/>
    </operation>
    <operation name="Consultadesubastaporadjudicar">
      <input message="tns:Consultadesubastaporadjudicar"/>
      <output message="tns:ConsultadesubastaporadjudicarResponse"/>
    </operation>
    <operation name="Consultaafiliacionsubasta">
      <input message="tns:Consultaafiliacionsubasta"/>
      <output message="tns:ConsultaafiliacionsubastaResponse"/>
    </operation>
    <operation name="callOfs">
      <input message="tns:callOfs"/>
      <output message="tns:callOfsResponse"/>
    </operation>
  </portType>
  <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Afiliacionasubasta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Afiliacionasubasta_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultaadjudicacionsubasta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConsultasubastaporenviaraBCH">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Transacciondesubasta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Transacciondesubasta_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultadesubastaporadjudicar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultaafiliacionsubasta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="callOfs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="T24WebServicesImplService">
    <port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
      <soap:address location="http://10.242.104.250:7030/svcSubasta/services"/>
    </port>
  </service>
</definitions>