Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/VASA/consultaOferta/xsd/consultaOferta_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaOferta" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaOferta" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="Pv_Identidad" type="db:string255" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="Pv_Linea" type="db:string255" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="Pv_CodigoError" type="db:string255" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="Pv_MensajeError" type="db:string255" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="Pv_CodigoError" type="db:string255" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="Pv_MensajeError" type="db:string255" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string255">
      <restriction base="string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</schema>
