Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/origenFondos/consultaSubOrigenFondos/consultaSubOrigenFondosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSubOrigenFondosTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaSubOrigenFondosTypes">
	
	<xs:complexType name = "consultaSubOrigenFondosResponseArrayType">
		<xs:sequence>
			            <xs:element name="FUNDS_ORIGIN_ID" type="xs:string" minOccurs="0" />
						<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
						<xs:element name="FUNDS_SUB_ORIGIN_ID" type="xs:string" minOccurs="0" />
						<xs:element name="SUB_DESCRIPTION" type="xs:string" minOccurs="0" />
						</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaSubOrigenFondosResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaSubOrigenFondosResponseRecordType" type="cons:consultaSubOrigenFondosResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaSubOrigenFondosResponseType">
		<xs:sequence>
			<xs:element name="consultaSubOrigenFondosResponseType" type="cons:consultaSubOrigenFondosResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaSubOrigenFondos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FUNDS_ORIGIN_ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaSubOrigenFondosResponse" type="cons:consultaSubOrigenFondosResponseType"/>
	
</xs:schema>