Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/CreacionSeguroFinanciamientos_v2/wsdl/CreacionSeguroFinanciamientos_v2.wsdl

<WL5G3N0:definitions name="creacionSeguroFinanciamientosPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosPS" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosPS" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosPS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_-203453493.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosPS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosTypes" schemaLocation="../xsd/XMLSchema_502334501.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="creacionSeguroFinanciamientosRequest">
    <WL5G3N0:part element="WL5G3N2:creacionSeguroFinanciamientos" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="creacionSeguroFinanciamientosResponse">
    <WL5G3N0:part element="WL5G3N2:creacionSeguroFinanciamientosResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="creacionSeguroFinanciamientosPS">
    <WL5G3N0:operation name="creacionSeguroFinanciamientos" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:creacionSeguroFinanciamientosRequest"/>
      <WL5G3N0:output message="WL5G3N3:creacionSeguroFinanciamientosResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="creacionSeguroFinanciamientosPSSOAP" type="WL5G3N3:creacionSeguroFinanciamientosPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="creacionSeguroFinanciamientos">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="creacionSeguroFinanciamientosPS">
    <WL5G3N0:port binding="WL5G3N3:creacionSeguroFinanciamientosPSSOAP" name="creacionSeguroFinanciamientosPSSOAP">
      <WL5G3N4:address location="http://JMEJIA.CIDENET.LOCAL:7001/Middleware/OperationsAndExecution/Cards/CreacionSeguroFinanciamientos"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>