Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/DepositosReferenciados/xsd/depositosReferenciadosTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dep="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosTypes" xmlns:pag="http://www.ficohsa.com.hn/middleware.services/PagingTypes">

    <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/PagingTypes" schemaLocation="../../esquemas_generales/PagingTypes.xsd"/>

    <!-- StringType -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="stringMaxLength20">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- YESNO TYPE -->
    <xs:simpleType name="yesNoType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- DEBTOR BASE TYPE -->
    <xs:complexType name="debtorBaseType">
        <xs:sequence>
            <xs:element name="DEBTOR_CODE" type="dep:stringMinLength1"/>
            <xs:element name="DEBTOR_NAME" type="dep:stringMinLength1"/>
            <xs:element name="DOCUMENT_ID" type="dep:stringMinLength1"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- DEBTOR CODE TYPE -->
    <xs:complexType name="debtorCodeType">
        <xs:sequence>
            <xs:element name="DEBTOR_CODE" type="dep:stringMinLength1"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- DOCUMENT INFO TYPE -->
    <xs:complexType name="documentInfoType">
        <xs:sequence>
            <xs:element name="TYPE" type="xs:string"/>
			<xs:element name="VALUE" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- DEPTOR INFOS TYPE -->
    <xs:complexType name="debtorInfosType">
        <xs:sequence maxOccurs="unbounded">
			<xs:element name="DEBTOR_INFO" type="dep:debtorInfoType"/>
		</xs:sequence>
    </xs:complexType>
    
    <!-- DEPTOR INFO TYPE -->
    <xs:complexType name="debtorInfoType">
        <xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="NAME" type="xs:string"/>
		</xs:sequence>
    </xs:complexType>
        
    <!-- DEBTOR WITH STATUS FOR RESPONSE -->
    <xs:complexType name="debtorWithStatusType">
        <xs:complexContent>
            <xs:extension base="dep:debtorBaseType">
                <xs:sequence>
            		<xs:element name="STATUS" type="dep:stringMinLength1"/>
                    <xs:element name="MESSAGES" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- DEBTOR WITH STATUS AND DESC FOR RESPONSE -->
    <xs:complexType name="debtorWithStatusAndDescType">
        <xs:complexContent>
            <xs:extension base="dep:debtorBaseType">
                <xs:sequence>
            		<xs:element name="STATUS" type="xs:decimal"/>
                    <xs:element name="DESCRIPTION" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- DEBTOR CODE WITH STATUS FOR RESPONSE -->
    <xs:complexType name="debtorWithStatusCodeType">
        <xs:complexContent>
            <xs:extension base="dep:debtorCodeType">
                <xs:sequence>
            		<xs:element name="STATUS" type="dep:stringMinLength1"/>
                    <xs:element name="MESSAGES" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--##################################################################--> 
    
    <!--###############################-->    
    <!--OPERACION: AGREGAR DEUDORES -->
    
    <xs:element name="agregarDeudores">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="USER_ID" type="xs:string"/>
                <xs:element name="CUSTOMER_ID" type="dep:stringMinLength1"/>
                <xs:element name="ACCOUNT_NUMBER" type="dep:stringMinLength1"/>                           
	            <xs:element name="DEBTORS">
	                <xs:complexType>
	                    <xs:sequence>
	                        <xs:element name="DEBTOR" type="dep:debtorBaseType" maxOccurs="unbounded"/>
	                    </xs:sequence>
	                </xs:complexType>
	            </xs:element>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
    
    <xs:element name="agregarDeudoresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="dep:stringMinLength1" minOccurs="0"/>
                <xs:element name="ACCOUNT_NUMBER" type="dep:stringMinLength1" minOccurs="0"/>
                <xs:element name="BANK_BATCH_ID" type="xs:decimal" minOccurs="0"/>                          
	            <xs:element name="DEBTORS" minOccurs="0">
	                <xs:complexType>
	                    <xs:sequence>
	                        <xs:element name="DEBTOR" type="dep:debtorWithStatusType" maxOccurs="unbounded"/>
	                    </xs:sequence>
	                </xs:complexType>
	            </xs:element>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>
    
    <!--###############################-->    
    
    <!--###############################-->
    <!--OPERACION: CONSULTA DE LOTE -->    
    <xs:element name="consultaLote">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="dep:stringMinLength1"/>
                <xs:element name="ACCOUNT_NUMBER" type="dep:stringMinLength1"/>
                <xs:element name="BANK_BATCH_ID" type="dep:stringMinLength1"/>                
                <xs:element name="PAGING_INFO" type="pag:pagingInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="consultaLoteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="dep:stringMinLength1" minOccurs="0"/>
                <xs:element name="BANK_BATCH_ID" type="xs:decimal" minOccurs="0"/>
                <xs:element name="ACCOUNT_NUMBER" type="dep:stringMinLength1" minOccurs="0"/>
                <xs:element name="RECORDS_INFO" type="pag:recordsInfo" minOccurs="0"/>
                <xs:element name="DEBTORS" minOccurs="0">
                	<xs:complexType>
	                    <xs:sequence>
                        	<xs:element name="DEBTOR" type="dep:debtorWithStatusAndDescType" maxOccurs="unbounded"/>
	                    </xs:sequence>
	                </xs:complexType>
                 </xs:element>
	                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--###############################-->

    <!--OPERACION: CONSULTA DEUDORES -->
    
    <xs:element name="consultaDeudores">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="dep:stringMinLength1"/>
                <xs:element name="ACCOUNT_NUMBER" type="dep:stringMinLength1"/>
                <xs:element name="PAGING_INFO" type="pag:pagingInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>   
    
    <xs:element name="consultaDeudoresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="dep:stringMinLength1" minOccurs="0"/>
                <xs:element name="ACCOUNT_NUMBER" type="dep:stringMinLength1" minOccurs="0"/>
                <xs:element name="RECORDS_INFO" type="pag:recordsInfo" minOccurs="0"/>
                <xs:element name="DEBTORS" minOccurs="0">
                	<xs:complexType>
	                    <xs:sequence>
                        	<xs:element name="DEBTOR" type="dep:debtorWithStatusAndDescType" maxOccurs="unbounded"/>
	                    </xs:sequence>
	                </xs:complexType>
                 </xs:element>
	                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--###############################-->
    <!--OPERACION: ELIMINAR DEUDORES -->
    
    <xs:element name="eliminarDeudores">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="dep:stringMinLength1"/>
                <xs:element name="ACCOUNT_NUMBER" type="dep:stringMinLength1"/>                           
	            <xs:element name="DEBTORS">
	                <xs:complexType>
	                    <xs:sequence>
	                        <xs:element name="DEBTOR" type="dep:debtorCodeType" maxOccurs="unbounded"/>
	                    </xs:sequence>
	                </xs:complexType>
	            </xs:element>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
    
    <xs:element name="eliminarDeudoresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="dep:stringMinLength1" minOccurs="0"/>
                <xs:element name="ACCOUNT_NUMBER" type="dep:stringMinLength1" minOccurs="0"/>                        
	            <xs:element name="DEBTORS" minOccurs="0">
	                <xs:complexType>
	                    <xs:sequence>
	                        <xs:element name="DEBTOR" type="dep:debtorWithStatusCodeType" maxOccurs="unbounded"/>
	                    </xs:sequence>
	                </xs:complexType>
	            </xs:element>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>
    
    <!--###############################-->
        
    <!--###############################-->
    <!--OPERACION: AUTORIZACION LOTE -->
    
    <xs:element name="autorizacionLote">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="USER_ID" type="dep:stringMinLength1"/>
                <xs:element name="CUSTOMER_ID" type="dep:stringMinLength1"/>
                <xs:element name="ACCOUNT_NUMBER" type="dep:stringMinLength1"/>  
                <xs:element name="BANK_BATCH_ID" type="xs:decimal"/> 
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
    
    <xs:element name="autorizacionLoteResponse">
        <xs:complexType>
            <xs:sequence>                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--###############################-->
        
    <!--###############################-->
    <!--OPERACION: VALIDA DEPOSITO REFERENCIADO-->
    
    <xs:element name="validaDepositoReferenciado">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ACCOUNT" type="xs:string"/>
                <xs:element name="DOCUMENT_INFO" type="dep:documentInfoType"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
    
    <xs:element name="validaDepositoReferenciadoResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="DOCUMENT_NUMBER" type="xs:string"/>
				<xs:element name="ACCOUNT" type="xs:string"/>
				<xs:element name="DEBTOR_INFOS" type="dep:debtorInfosType"/>             
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--###############################-->
    <!--###############################-->
    
</xs:schema>