Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ValidacionOverlimit_v3/xsd/XMLSchema_1495544308.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/ValidacionOverlimitTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/ValidacionOverlimitTypes">

    <xs:complexType name="ValidacionOverlimitResponse">
		<xs:sequence>
			<xs:element name="ORG" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ValidacionOverlimitRequest">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string"/>
			<xs:element name="CARD_BANK" type="xs:string"/>
			<xs:element name="COUNTRY_CODE" type="xs:string"/>
			<xs:element name="PAYMENT_AMOUNT" type="xs:decimal"/>
			<xs:element name="PAYMENT_CURRENCY" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="validacionOverlimitRequest" type="tns:ValidacionOverlimitRequest"/>
	<xs:element name="validacionOverlimitResponse" type="tns:ValidacionOverlimitResponse"/>
</xs:schema>