Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/compensacion/resources/XMLSchema_1569843523.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="AplicaDebitosdeCheques" type="tns:AplicaDebitosdeCheques"/>

<xs:element name="AplicaDebitosdeChequesResponse" type="tns:AplicaDebitosdeChequesResponse"/>

<xs:element name="AplicaDebitosdeCheques_Validate" type="tns:AplicaDebitosdeCheques_Validate"/>

<xs:element name="AplicaDebitosdeCheques_ValidateResponse" type="tns:AplicaDebitosdeCheques_ValidateResponse"/>

<xs:element name="Aplicadevolucionporcheque" type="tns:Aplicadevolucionporcheque"/>

<xs:element name="AplicadevolucionporchequeResponse" type="tns:AplicadevolucionporchequeResponse"/>

<xs:element name="Aplicadevolucionporcheque_Validate" type="tns:Aplicadevolucionporcheque_Validate"/>

<xs:element name="Aplicadevolucionporcheque_ValidateResponse" type="tns:Aplicadevolucionporcheque_ValidateResponse"/>

<xs:element name="Aumentadiasdereserva" type="tns:Aumentadiasdereserva"/>

<xs:element name="AumentadiasdereservaResponse" type="tns:AumentadiasdereservaResponse"/>

<xs:element name="Aumentadiasdereserva_Validate" type="tns:Aumentadiasdereserva_Validate"/>

<xs:element name="Aumentadiasdereserva_ValidateResponse" type="tns:Aumentadiasdereserva_ValidateResponse"/>

<xs:element name="ConfirmarLiberacionFondosChqVirt" type="tns:ConfirmarLiberacionFondosChqVirt"/>

<xs:element name="ConfirmarLiberacionFondosChqVirtResponse" type="tns:ConfirmarLiberacionFondosChqVirtResponse"/>

<xs:element name="ConfirmarLiberacionFondosChqVirt_Validate" type="tns:ConfirmarLiberacionFondosChqVirt_Validate"/>

<xs:element name="ConfirmarLiberacionFondosChqVirt_ValidateResponse" type="tns:ConfirmarLiberacionFondosChqVirt_ValidateResponse"/>

<xs:element name="ConsultaDetalleDeDepChqVirtual" type="tns:ConsultaDetalleDeDepChqVirtual"/>

<xs:element name="ConsultaDetalleDeDepChqVirtualResponse" type="tns:ConsultaDetalleDeDepChqVirtualResponse"/>

<xs:element name="Consultadechequesenreserva" type="tns:Consultadechequesenreserva"/>

<xs:element name="ConsultadechequesenreservaResponse" type="tns:ConsultadechequesenreservaResponse"/>

<xs:element name="Pagodechqporcompensacion" type="tns:Pagodechqporcompensacion"/>

<xs:element name="PagodechqporcompensacionResponse" type="tns:PagodechqporcompensacionResponse"/>

<xs:element name="Pagodechqporcompensacion_Validate" type="tns:Pagodechqporcompensacion_Validate"/>

<xs:element name="Pagodechqporcompensacion_ValidateResponse" type="tns:Pagodechqporcompensacion_ValidateResponse"/>

<xs:element name="RechazarLiberacionFondosChqVirt" type="tns:RechazarLiberacionFondosChqVirt"/>

<xs:element name="RechazarLiberacionFondosChqVirtResponse" type="tns:RechazarLiberacionFondosChqVirtResponse"/>

<xs:element name="RechazarLiberacionFondosChqVirt_Validate" type="tns:RechazarLiberacionFondosChqVirt_Validate"/>

<xs:element name="RechazarLiberacionFondosChqVirt_ValidateResponse" type="tns:RechazarLiberacionFondosChqVirt_ValidateResponse"/>

<xs:element name="RegistrarDepositoChequeVirtual" type="tns:RegistrarDepositoChequeVirtual"/>

<xs:element name="RegistrarDepositoChequeVirtualResponse" type="tns:RegistrarDepositoChequeVirtualResponse"/>

<xs:element name="RegistrarDepositoChequeVirtual_Validate" type="tns:RegistrarDepositoChequeVirtual_Validate"/>

<xs:element name="RegistrarDepositoChequeVirtual_ValidateResponse" type="tns:RegistrarDepositoChequeVirtual_ValidateResponse"/>

<xs:element name="Registroderechazodecheque" type="tns:Registroderechazodecheque"/>

<xs:element name="RegistroderechazodechequeResponse" type="tns:RegistroderechazodechequeResponse"/>

<xs:element name="Registroderechazodecheque_Validate" type="tns:Registroderechazodecheque_Validate"/>

<xs:element name="Registroderechazodecheque_ValidateResponse" type="tns:Registroderechazodecheque_ValidateResponse"/>

<xs:element name="Simulapagodechqporcompensacion" type="tns:Simulapagodechqporcompensacion"/>

<xs:element name="SimulapagodechqporcompensacionResponse" type="tns:SimulapagodechqporcompensacionResponse"/>

<xs:element name="Simulapagodechqporcompensacion_Validate" type="tns:Simulapagodechqporcompensacion_Validate"/>

<xs:element name="Simulapagodechqporcompensacion_ValidateResponse" type="tns:Simulapagodechqporcompensacion_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="CHEQUECOLLECTIONAUTORESERVEINCREASEWSType">
<xs:sequence>
<xs:element name="BANKCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="gCREDITACCNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCREDITACCNO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CREDITACCT" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEAMOUNT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CLRZONECDE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="CHEQUECOLLECTIONType">
<xs:sequence>
<xs:element name="TXNID" type="xs:string" minOccurs="0"/>
<xs:element name="BANKSORTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENO" type="xs:string" minOccurs="0"/>
<xs:element name="gCREDITACCNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCREDITACCNO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CREDITACCNO" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="ORIGVALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="SUSPPOSTEDTO" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="TXNCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHQSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="STATUSDATE" type="xs:string" minOccurs="0"/>
<xs:element name="BATCHID" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEACC" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEACCCCY" type="xs:string" minOccurs="0"/>
<xs:element name="gCHARGETYPE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHARGETYPE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHARGETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="TAXAMT" type="xs:string" minOccurs="0"/>
<xs:element name="TAXTYPE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gNARRATIVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CCYMARKET" type="xs:string" minOccurs="0"/>
<xs:element name="EXPOSUREDATE" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="COLLATERALLINK" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NARRATION" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AZMATDATE" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="gSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="STMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="CHQDEPPURPOSE" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCARDNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LOANNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CLRZONECDE" type="xs:string" minOccurs="0"/>
<xs:element name="CHQDEPTIME" type="xs:string" minOccurs="0"/>
<xs:element name="DEPCUSID" type="xs:string" minOccurs="0"/>
<xs:element name="DESTINATIONCCY" type="xs:string" minOccurs="0"/>
<xs:element name="DESTINATIONACC" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CHQTRANSFERMD" type="xs:string" minOccurs="0"/>
<xs:element name="COURIERDEPNUM" type="xs:string" minOccurs="0"/>
<xs:element name="gRET.NARRATIVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="RETNARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gBENEF.NAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="BENEFNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gRET.DEST.BANK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="RETDESTBANK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="OLDEXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRREJECTRESON" type="xs:string" minOccurs="0"/>
<xs:element name="CHQDEPENDTME" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESPONSRSLT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDEPCUSNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRAGENCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESVDAYS" type="xs:string" minOccurs="0"/>
<xs:element name="LRRETURNMODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHQEXPDATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOINWARDCLEARINGPREVALIDATEType">
<xs:sequence>
<xs:element name="RECORDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="PREVALFLAG" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ROUTECODE" type="xs:string" minOccurs="0"/>
<xs:element name="CLGACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="T24ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUECCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CLRINGCENTRCODE" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="REJECTIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="REJECTIONREASON" type="xs:string" minOccurs="0"/>
<xs:element name="DATECHQRECEIVED" type="xs:string" minOccurs="0"/>
<xs:element name="RESPONSERESULT" type="xs:string" minOccurs="0"/>
<xs:element name="CHQVALIDATE" type="xs:string" minOccurs="0"/>
<xs:element name="gSTMTNOS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="STMTNOS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOINWARDCLEARINGType">
<xs:sequence>
<xs:element name="RECORDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="PREVALFLAG" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ROUTECODE" type="xs:string" minOccurs="0"/>
<xs:element name="CLGACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="T24ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUECCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CLRINGCENTRCODE" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="REJECTIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="REJECTIONREASON" type="xs:string" minOccurs="0"/>
<xs:element name="REJECTIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="gDESCRIPTION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="TOTALCOMMISSION" type="xs:string" minOccurs="0"/>
<xs:element name="COMMCOLLECTED" type="xs:string" minOccurs="0"/>
<xs:element name="COMMBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="gCHQTRANREFNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CHQTRANREFNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCOMMTRANREFNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="COMMTRANREFNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DATECHQRECEIVED" type="xs:string" minOccurs="0"/>
<xs:element name="RESPONSERESULT" type="xs:string" minOccurs="0"/>
<xs:element name="FUNDSREFUND" type="xs:string" minOccurs="0"/>
<xs:element name="CHQVALIDATE" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_7" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="gSTMTNOS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="STMTNOS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TSASERVICESACEType">
<xs:sequence>
<xs:element name="SERVICECONTROL" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TSASERVICEType">
<xs:sequence>
<xs:element name="gDESCRIPTION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gSERVERNAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mSERVERNAME" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SERVERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="WORKPROFILE" type="xs:string" minOccurs="0"/>
<xs:element name="SERVERSTATUS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="USER" type="xs:string" minOccurs="0"/>
<xs:element name="SERVICECONTROL" type="xs:string" minOccurs="0"/>
<xs:element name="REVIEWTIME" type="xs:string" minOccurs="0"/>
<xs:element name="TIMEOUT" type="xs:string" minOccurs="0"/>
<xs:element name="gATTRIBUTETYPE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mATTRIBUTETYPE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ATTRIBUTETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ATTRIBUTEVALUE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FREQUENCY" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_7" type="xs:string" minOccurs="0"/>
<xs:element name="gDATE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mDATE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DATE" type="xs:string" minOccurs="0"/>
<xs:element name="STARTED" type="xs:string" minOccurs="0"/>
<xs:element name="STOPPED" type="xs:string" minOccurs="0"/>
<xs:element name="ELAPSED" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="STOPPAGETIME" type="xs:string" minOccurs="0"/>
<xs:element name="STOPCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOHCHEQUEVIRTUALRECHAZOWSType">
<xs:sequence>
<xs:element name="ESTADODEPOSITO" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADOERROR" type="xs:string" minOccurs="0"/>
<xs:element name="MENSAJEERROR" type="xs:string" minOccurs="0"/>
<xs:element name="CODIGORECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="RAZONRECHAZO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOHCHEQUEVIRTUALType">
<xs:sequence>
<xs:element name="TIPOCHEQUE" type="xs:string" minOccurs="0"/>
<xs:element name="NOCUENTADESTINO" type="xs:string" minOccurs="0"/>
<xs:element name="CODCLIENTEBEN" type="xs:string" minOccurs="0"/>
<xs:element name="RUTATRANSITO" type="xs:string" minOccurs="0"/>
<xs:element name="NOCHEQUE" type="xs:string" minOccurs="0"/>
<xs:element name="NOCUENTAORIGEN" type="xs:string" minOccurs="0"/>
<xs:element name="MONEDA" type="xs:string" minOccurs="0"/>
<xs:element name="MONTO" type="xs:string" minOccurs="0"/>
<xs:element name="FECHACOMPENSACION" type="xs:string" minOccurs="0"/>
<xs:element name="HORAREGISTRO" type="xs:string" minOccurs="0"/>
<xs:element name="HORACOMPENSACION" type="xs:string" minOccurs="0"/>
<xs:element name="REFERENCIATRANF" type="xs:string" minOccurs="0"/>
<xs:element name="REFERENCIAACLK" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADODEPOSITO" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADOERROR" type="xs:string" minOccurs="0"/>
<xs:element name="MENSAJEERROR" type="xs:string" minOccurs="0"/>
<xs:element name="CODIGORECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="RAZONRECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="USUARIOCANAL" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOCHQPROPIO" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="WSCHQCOLLDETAILSType">
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALCHQSAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSCHQCOLLDETAILSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSCHQCOLLDETAILSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHEQUECOLLNID" type="xs:string" minOccurs="0"/>
<xs:element name="BANKSORTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="BANKNAME" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENO" type="xs:string" minOccurs="0"/>
<xs:element name="TXNID" type="xs:string" minOccurs="0"/>
<xs:element name="CCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="SUSPAC" type="xs:string" minOccurs="0"/>
<xs:element name="VALDATE" type="xs:string" minOccurs="0"/>
<xs:element name="EXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CHQSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="STATUSDATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CHQVIRNOTIFICAWSType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gCHQVIRNOTIFICAWSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHQVIRNOTIFICAWSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="Idvirtualcheck" type="xs:string" minOccurs="0"/>
<xs:element name="USERCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENO" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="ISSUINGBANK" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="MENSAJE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNREFERENCE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FICOINWARDCLEARINGCHEQREJNOCOMMType">
<xs:sequence>
<xs:element name="RECORDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="PREVALFLAG" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ROUTECODE" type="xs:string" minOccurs="0"/>
<xs:element name="CLGACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="T24ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUECCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CLRINGCENTRCODE" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="REJECTIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="REJECTIONREASON" type="xs:string" minOccurs="0"/>
<xs:element name="REJECTIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="gDESCRIPTION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="TOTALCOMMISSION" type="xs:string" minOccurs="0"/>
<xs:element name="COMMCOLLECTED" type="xs:string" minOccurs="0"/>
<xs:element name="COMMBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="gCHQTRANREFNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CHQTRANREFNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCOMMTRANREFNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="COMMTRANREFNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DATECHQRECEIVED" type="xs:string" minOccurs="0"/>
<xs:element name="RESPONSERESULT" type="xs:string" minOccurs="0"/>
<xs:element name="FUNDSREFUND" type="xs:string" minOccurs="0"/>
<xs:element name="CHQVALIDATE" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_7" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="gSTMTNOS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="STMTNOS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="CHEQUECOLLECTIONCHECKRETURNWSType">
<xs:sequence>
<xs:element name="BANKCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="gCREDITACCNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCREDITACCNO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CREDITACCT" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEAMOUNT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CLRZONECDE" type="xs:string" minOccurs="0"/>
<xs:element name="LRREJECTRESON" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOHCHEQUEVIRTUALINPUTWSType">
<xs:sequence>
<xs:element name="TIPOCHEQUE" type="xs:string" minOccurs="0"/>
<xs:element name="NOCUENTADESTINO" type="xs:string" minOccurs="0"/>
<xs:element name="CODCLIENTEBEN" type="xs:string" minOccurs="0"/>
<xs:element name="RUTATRANSITO" type="xs:string" minOccurs="0"/>
<xs:element name="NOCHEQUE" type="xs:string" minOccurs="0"/>
<xs:element name="NOCUENTAORIGEN" type="xs:string" minOccurs="0"/>
<xs:element name="MONEDA" type="xs:string" minOccurs="0"/>
<xs:element name="MONTO" type="xs:string" minOccurs="0"/>
<xs:element name="USUARIOCANAL" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOCHQPROPIO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOHCHEQUEVIRTUALCONFIRMACIONWSType">
<xs:sequence>
<xs:element name="ESTADODEPOSITO" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADOERROR" type="xs:string" minOccurs="0"/>
<xs:element name="MENSAJEERROR" type="xs:string" minOccurs="0"/>
<xs:element name="CODIGORECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="RAZONRECHAZO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOINWARDCLEARINGDEBITCHQINWARDCLGType">
<xs:sequence>
<xs:element name="RECORDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="PREVALFLAG" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUETYP" type="xs:string" minOccurs="0"/>
<xs:element name="ROUTECODE" type="xs:string" minOccurs="0"/>
<xs:element name="CLGACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="T24ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUECCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CLRINGCENTRCODE" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="REJECTIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="REJECTIONREASON" type="xs:string" minOccurs="0"/>
<xs:element name="REJECTIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="gDESCRIPTION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DESCRIPTION1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="TOTALCOMMISSION" type="xs:string" minOccurs="0"/>
<xs:element name="COMMCOLLECTED" type="xs:string" minOccurs="0"/>
<xs:element name="COMMBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="gCHQTRANREFNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CHQTRANREFNO1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCOMMTRANREFNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="COMMTRANREFN1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DATECHQRECEIVED" type="xs:string" minOccurs="0"/>
<xs:element name="RESPONSERESULT" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED7" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED1" type="xs:string" minOccurs="0"/>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Override" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="Aplicadevolucionporcheque_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="CHEQUECOLLECTIONCHECKRETURNWSType" type="tns:CHEQUECOLLECTIONCHECKRETURNWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Aplicadevolucionporcheque_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="CHEQUECOLLECTIONType" type="tns:CHEQUECOLLECTIONType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Aumentadiasdereserva_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="CHEQUECOLLECTIONAUTORESERVEINCREASEWSType" type="tns:CHEQUECOLLECTIONAUTORESERVEINCREASEWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Aumentadiasdereserva_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="CHEQUECOLLECTIONType" type="tns:CHEQUECOLLECTIONType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RechazarLiberacionFondosChqVirt">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALRECHAZOWSType" type="tns:FICOHCHEQUEVIRTUALRECHAZOWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RechazarLiberacionFondosChqVirtResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALType" type="tns:FICOHCHEQUEVIRTUALType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadechequesenreserva">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSCHQCOLLDETAILSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadechequesenreservaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSCHQCOLLDETAILSType" type="tns:WSCHQCOLLDETAILSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pagodechqporcompensacion">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOINWARDCLEARINGDEBITCHQINWARDCLGType" type="tns:FICOINWARDCLEARINGDEBITCHQINWARDCLGType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagodechqporcompensacionResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOINWARDCLEARINGType" type="tns:FICOINWARDCLEARINGType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmarLiberacionFondosChqVirt_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALCONFIRMACIONWSType" type="tns:FICOHCHEQUEVIRTUALCONFIRMACIONWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmarLiberacionFondosChqVirt_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALType" type="tns:FICOHCHEQUEVIRTUALType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmarLiberacionFondosChqVirt">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALCONFIRMACIONWSType" type="tns:FICOHCHEQUEVIRTUALCONFIRMACIONWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmarLiberacionFondosChqVirtResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALType" type="tns:FICOHCHEQUEVIRTUALType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaDetalleDeDepChqVirtual">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="CHQVIRNOTIFICAWSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaDetalleDeDepChqVirtualResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="CHQVIRNOTIFICAWSType" type="tns:CHQVIRNOTIFICAWSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Registroderechazodecheque_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOINWARDCLEARINGCHEQREJNOCOMMType" type="tns:FICOINWARDCLEARINGCHEQREJNOCOMMType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Registroderechazodecheque_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOINWARDCLEARINGType" type="tns:FICOINWARDCLEARINGType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AplicaDebitosdeCheques_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TSASERVICESACEType" type="tns:TSASERVICESACEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AplicaDebitosdeCheques_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TSASERVICEType" type="tns:TSASERVICEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Simulapagodechqporcompensacion_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOINWARDCLEARINGPREVALIDATEType" type="tns:FICOINWARDCLEARINGPREVALIDATEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Simulapagodechqporcompensacion_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOINWARDCLEARINGType" type="tns:FICOINWARDCLEARINGType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Aplicadevolucionporcheque">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="CHEQUECOLLECTIONCHECKRETURNWSType" type="tns:CHEQUECOLLECTIONCHECKRETURNWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AplicadevolucionporchequeResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="CHEQUECOLLECTIONType" type="tns:CHEQUECOLLECTIONType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Aumentadiasdereserva">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="CHEQUECOLLECTIONAUTORESERVEINCREASEWSType" type="tns:CHEQUECOLLECTIONAUTORESERVEINCREASEWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AumentadiasdereservaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="CHEQUECOLLECTIONType" type="tns:CHEQUECOLLECTIONType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RechazarLiberacionFondosChqVirt_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALRECHAZOWSType" type="tns:FICOHCHEQUEVIRTUALRECHAZOWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RechazarLiberacionFondosChqVirt_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALType" type="tns:FICOHCHEQUEVIRTUALType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarDepositoChequeVirtual_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALINPUTWSType" type="tns:FICOHCHEQUEVIRTUALINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarDepositoChequeVirtual_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALType" type="tns:FICOHCHEQUEVIRTUALType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Simulapagodechqporcompensacion">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOINWARDCLEARINGPREVALIDATEType" type="tns:FICOINWARDCLEARINGPREVALIDATEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SimulapagodechqporcompensacionResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOINWARDCLEARINGType" type="tns:FICOINWARDCLEARINGType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AplicaDebitosdeCheques">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TSASERVICESACEType" type="tns:TSASERVICESACEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AplicaDebitosdeChequesResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TSASERVICEType" type="tns:TSASERVICEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarDepositoChequeVirtual">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALINPUTWSType" type="tns:FICOHCHEQUEVIRTUALINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarDepositoChequeVirtualResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALType" type="tns:FICOHCHEQUEVIRTUALType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pagodechqporcompensacion_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOINWARDCLEARINGDEBITCHQINWARDCLGType" type="tns:FICOINWARDCLEARINGDEBITCHQINWARDCLGType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pagodechqporcompensacion_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOINWARDCLEARINGType" type="tns:FICOINWARDCLEARINGType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Registroderechazodecheque">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOINWARDCLEARINGCHEQREJNOCOMMType" type="tns:FICOINWARDCLEARINGCHEQREJNOCOMMType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroderechazodechequeResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOINWARDCLEARINGType" type="tns:FICOINWARDCLEARINGType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>