Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConvertidorMoneda/xsd/ConvertidorMonedaTypes.xsd

<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConvertidorMonedaTypes"
	xmlns:conv="http://www.ficohsa.com.hn/middleware.services/ConvertidorMonedaTypes">
	
	<xs:element name="ConvertidorMoneda">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SOURCE_CURRENCY" type="xs:string"/>
				<xs:element name="TARGET_CURRENCY" type="xs:string"/>
				<xs:element name="SOURCE_AMOUNT" type="xs:decimal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="ConvertidorMonedaResponseType">
		<xs:sequence>
			<xs:element name="SOURCE_CURRENCY" type="xs:string"/>
			<xs:element name="TARGET_CURRENCY" type="xs:string"/>
			<xs:element name="SOURCE_AMOUNT" type="xs:decimal"/>
			<xs:element name="USD_SALES_RATE_AT_SOURCE" type="xs:decimal"/>
			<xs:element name="USD_AMOUNT" type="xs:decimal"/>
			<xs:element name="USD_PURCHASE_RATE_AT_DESTINATION" type="xs:decimal"/>
			<xs:element name="TARGET_AMOUNT" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="ConvertidorMonedaResponse" type="conv:ConvertidorMonedaResponseType" />
	
</xs:schema>