Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/compensacion/pagoChequeCompensacion/pagoChequeCompensacionTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoChequeCompensacionTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/pagoChequeCompensacionTypes">
	
	<xs:complexType name = "pagoChequeCompensacionResponseArrayType">
		<xs:sequence>
						<xs:element name="REJECTION_TYPE" type="xs:string" minOccurs="0" />
						<xs:element name="REJECTION_CODE" type="xs:string" minOccurs="0" />
						<xs:element name="REJECTION_MOTIVE" type="xs:string" minOccurs="0" />
						<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
					
					</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="pagoChequeCompensacionResponseRecordType">
			<xs:sequence>
					<xs:element name="pagoChequeCompensacionResponseRecordType" type="cons:pagoChequeCompensacionResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="pagoChequeCompensacionResponseType">
		<xs:sequence>
			<xs:element name="pagoChequeCompensacionResponseType" type="cons:pagoChequeCompensacionResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="pagoChequeCompensacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				<xs:element name="CHEQUE_NUMBER" type="xs:string"/>
				<xs:element name="AMOUNT" type="xs:string"/>
				<xs:element name="CURRENCY" type="xs:string"/>
				<xs:element name="COST_CENTRE_CODE" type="xs:string"/>
				<xs:element name="ROUTE_CODE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoChequeCompensacionResponse" type="cons:pagoChequeCompensacionResponseType"/>
	
</xs:schema>