Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaEstadoTransaccionCorr/xsd/consultaEstadoTransaccionCorrTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaEstadoTransaccionTypes"
	xmlns:cet="http://www.ficohsa.com.hn/middleware.services/consultaEstadoTransaccionTypes">
		
		
		<xs:simpleType name="TransactionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RETIRO" />
			<xs:enumeration value="PAGO_TC" />
			<xs:enumeration value="PAGO_REMESA" />
			<xs:enumeration value="PAGO_PRESTAMO" />
			<xs:enumeration value="DEPOSITO" />
			<xs:enumeration value="DEPOSITO_REFERENCIADO" />
			<xs:enumeration value="PAGO_EEH" />
			<xs:enumeration value="CUPON" />
			<xs:enumeration value="CAN_CUPON_HIST" />
			<xs:enumeration value="CASHOUT" />
			<xs:enumeration value="CASHIN" />
			<xs:enumeration value="CASHIN_TC" />
			<xs:enumeration value="TRANSFER_CRED" />
			<xs:enumeration value="MIG_TC" />
			<xs:enumeration value="ADJ_CRTPP" />
			<xs:enumeration value="ADJ_CRBM" />
			<xs:enumeration value="ADJ_DBTPP" />
			<xs:enumeration value="ADJ_TC" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="QueryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="4" />
			<!--<xs:pattern value="ONLINE|OFFLINE"/> -->
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="FindingType">
		<xs:restriction base="xs:string">
			<xs:pattern value="LIVE|HIST"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="consultaEstadoTransaccion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TIPO_TRANSACCION" type="cet:TransactionType"/>
				<xs:element name="TIPO_CONSULTA" type="cet:QueryType"/>
				<xs:element name="CODIGO_UNICO_TRANSACCION" type="xs:string"/>
				<xs:element name="TIPO_BUSQUEDA" type="cet:FindingType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaEstadoTransaccionResponse" type="cet:consultaEstadoTransaccionResponseType"/>
	
	<xs:complexType name="consultaEstadoTransaccionResponseType">
		<xs:sequence>
			<xs:element name="ESTADO_TRANSACCION" type="xs:string"/>
			<xs:element name="REFERENCIA_T24" type="xs:string" minOccurs="0"/>
			<xs:element name="UUID" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>