Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/RegistroContratoACH/xsd/registroContratoACHTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/registroContratoACHTypes" 
		xmlns:tns="http://www.ficohsa.com.hn/middleware.services/registroContratoACHTypes">
		
	<!-- Parametros de Entrada -->
    <xs:element name="registroContratoACH">
    	<xs:complexType>
	    	<xs:sequence>
	    		<xs:element name="ID_CONTRATO_ACH" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="datosBancoExternoType" type="tns:detalleDatosBancoExternoType" minOccurs="1"  maxOccurs="1"/>
	    		<xs:element name="datosBancoFicohsaType" type="tns:detalleDatosBancoFicohsaType" minOccurs="1"  maxOccurs="1"/>
	    		<xs:element name="FECHA_CREACION" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="NO_CONTRATO" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="TIPO_CONTRATO" type="xs:string" minOccurs="1" maxOccurs="1"/>
	    		<xs:element name="TIPO_PRODUCTO" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="ID_CONVENIO_T24" type="xs:string" minOccurs="0" maxOccurs="1"/>	    		
	    		<xs:element name="ESTADO_CONTRATO" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="TIPO_VIGENCIA" type="xs:string" minOccurs="1" maxOccurs="1"/>
	    		<xs:element name="FECHA_INICIO" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="FECHA_FINAL" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="TIPO_MONTO" type="xs:string" minOccurs="1" maxOccurs="1"/>
	    		<xs:element name="NO_MAX_TRANSACCIONES" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="NO_MAX_DEBITOS" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    		<xs:element name="PERIOCIDAD" type="xs:string" minOccurs="1" maxOccurs="1"/>
	    		<xs:element name="FRECUENCIA" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="detalleFrecuencias"  type="tns:detalleFrecuenciasType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="DIA_EJECUCION" type="xs:string" minOccurs="0" maxOccurs="1"/>
	    	</xs:sequence>
	    </xs:complexType>
    </xs:element>
    
    <xs:complexType  name="detalleFrecuenciasType">
		<xs:sequence>
			<xs:element name="RANGO_INI" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RANGO_FIN" type="xs:string" minOccurs="0" maxOccurs="1"/>
       </xs:sequence>
	</xs:complexType>
    
    <xs:complexType  name="detalleDatosBancoExternoType">
		<xs:sequence>
			<xs:element name="DBE_NOMBRE_CLIENTE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DBE_IDENTIDAD" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DBE_TIPO_CUENTA" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DBE_CUENTA" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DBE_MONEDA" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DBE_CODIGO_BANCO" type="xs:string" minOccurs="1" maxOccurs="1"/>
       </xs:sequence>
	</xs:complexType>

    <xs:complexType  name="detalleDatosBancoFicohsaType">
		<xs:sequence>
			<xs:element name="DBF_NOMBRE_CLIENTE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DBF_IDENTIDAD" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DBF_TIPO_CUENTA" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DBF_CUENTA" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DBF_MONEDA" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DBF_CODIGO_BANCO" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DBF_EMAIL" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DBF_TELEFONO" type="xs:string" minOccurs="0" maxOccurs="1"/>
       </xs:sequence>
	</xs:complexType>

    
	<!-- Parametros de Salida -->
    <xs:element name="registroContratoACHResponse">
    	<xs:complexType>
			<xs:sequence>
	            <xs:element name="ID_CONTRATO" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
    </xs:element>
		
</xs:schema>