Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaEnvioEstadoCuenta/xsd/consultaEnvioEstadoCuentaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:element name="consultaEnvioEstadoCuenta">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="ACCOUNT_IDENTIFIER" type="tns:stringMinLength1"/>
				<xs:element name="START_DATE" type="xs:date"/>
				<xs:element name="END_DATE" type="xs:date"/>           
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name = "bitacoraInformationType">
		<xs:sequence>
		  	<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="FULL_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
			<xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CUT_OF" type="xs:string" minOccurs="0"/>
			<xs:element name="CHAIN" type="xs:string" minOccurs="0"/>
			<xs:element name="SNO" type="xs:string" minOccurs="0"/>
			<xs:element name="EMAIL_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="DB_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="TEMPLATE_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="PROCESS_DATE" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="SUB_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="LAST_ACTION_DATE" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="COMMENTS" type="xs:string" minOccurs="0"/>		
		</xs:sequence>		
	</xs:complexType>
	
	<xs:element name="consultaEnvioEstadoCuentaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BALANCE_INFORMATION" type="tns:bitacoraInformationType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>