Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/CreacionSeguroFinanciamientos/wsdl/creacionSeguroFinanciamientosPS.wsdl

<wsdl:definitions name="creacionSeguroFinanciamientosPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosPS" xmlns:op="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosPS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosTypes">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosTypes" schemaLocation="../xsd/creacionSeguroFinanciamientosTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="creacionSeguroFinanciamientosRequest">
		<wsdl:part element="tns:creacionSeguroFinanciamientos" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="creacionSeguroFinanciamientosResponse">
		<wsdl:part element="tns:creacionSeguroFinanciamientosResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="creacionSeguroFinanciamientosPS">
		<wsdl:operation name="creacionSeguroFinanciamientos" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:creacionSeguroFinanciamientosRequest"/>
			<wsdl:output message="op:creacionSeguroFinanciamientosResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="creacionSeguroFinanciamientosPSSOAP" type="op:creacionSeguroFinanciamientosPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="creacionSeguroFinanciamientos">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="creacionSeguroFinanciamientosPS">
		<wsdl:port binding="op:creacionSeguroFinanciamientosPSSOAP" name="creacionSeguroFinanciamientosPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/creacionSeguroFinanciamientos/"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>