Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/DEI/consultaCargaArchivoDAT/xsd/consultaCargaArchivoDAT_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaCargaArchivoDAT" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaCargaArchivoDAT" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_IDSOLICITUD" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_RTN" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHAPRESEN" type="date" db:index="3" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PV_IDDECLARACION" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PERIODO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_IDIMP" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_DESIMPUESTO" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CONCEPTOIMP" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_DESCONCEPTO" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_PAGOIMP" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_MULTA" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_RECARGO" type="decimal" db:index="12" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_INTERESES" type="decimal" db:index="13" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_TOTALAPAGAR" type="decimal" db:index="14" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PT_CODIMPUESTOXML" type="db:TNUMBER" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIMPUESTO" type="db:TNUMBER" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CONCEPTO" type="db:TNUMBER" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SUBCONCEPTO" type="db:TNUMBER" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DESCRIPCIONIMPUESTO" type="db:TVARCHAR250" db:index="19" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_VALORIMPORTE" type="db:TNUMBER" db:index="20" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODRESPUESTA" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MSJRESPUESTA" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TOTALINFORMATIVO" type="decimal" db:index="23" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TNUMBER">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   
    <complexType name="TVARCHAR250">
      <sequence>
         <element name="ITEM" type="string" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   
   
</schema>