Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/MTR/consultorDetalleLote/wsdl/consultorDetalleLoteEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicio.consultadetallelotepmsws.mtrpmsv.cidenet.com.co/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ConsultorDetalleLoteService" targetNamespace="http://servicio.consultadetallelotepmsws.mtrpmsv.cidenet.com.co/">
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://servicio.consultadetallelotepmsws.mtrpmsv.cidenet.com.co/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://servicio.consultadetallelotepmsws.mtrpmsv.cidenet.com.co/">
  <xsd:complexType name="filtroTransaccionesDTO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="campo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="valor" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="paginacionDTO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="registroInicial" type="xsd:int"/>
      <xsd:element minOccurs="0" name="registrosObtenidos" type="xsd:int"/>
      <xsd:element minOccurs="0" name="registrosTotales" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transaccionesDTO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigoError" type="xsd:string"/>
      <xsd:element minOccurs="0" name="descripcionTransaccion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idEntidadCredito" type="xsd:int"/>
      <xsd:element minOccurs="0" name="idEstado" type="xsd:int"/>
      <xsd:element minOccurs="0" name="idMonedaCredito" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idMonedaDebito" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idMonedaTransaccion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idProductoCredito" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idProductoDebito" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idProveedor" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idSegunEmpresa" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idTipoProductoCredito" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idTransaccion" type="xsd:int"/>
      <xsd:element minOccurs="0" name="idTransaccionCore" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mensajeError" type="xsd:string"/>
      <xsd:element minOccurs="0" name="monto" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="nombreBanco" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nombreBeneficiario" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nombreEstado" type="xsd:string"/>
      <xsd:element minOccurs="0" name="numeroCheque" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cabeceraRespuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleRespuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cantidadTransacciones" type="xsd:int"/>
      <xsd:element minOccurs="0" name="cantidadTransaccionesError" type="xsd:int"/>
      <xsd:element minOccurs="0" name="cantidadTransaccionesExito" type="xsd:int"/>
      <xsd:element minOccurs="0" name="codigoCliente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="descripcionTipoOperacion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="detallePaginacion" type="ns0:paginacionDTO"/>
      <xsd:element minOccurs="0" name="fechaAplicacion" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="fechaCreacion" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="idEstado" type="xsd:int"/>
      <xsd:element minOccurs="0" name="idLote" type="xsd:long"/>
      <xsd:element minOccurs="0" name="montoTotal" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="montoTotalError" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="nombreCliente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nombreEstado" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tipoOperacion" type="xsd:int"/>
      <xsd:element minOccurs="0" name="transacciones" type="ns0:transacciones"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="filtrosTransacciones">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="filtroTransaccion" nillable="true" type="ns0:filtroTransaccionesDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="paginacion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cantidadRegistros" type="xsd:int"/>
      <xsd:element minOccurs="0" name="esPaginada" type="xsd:string"/>
      <xsd:element minOccurs="0" name="registroInicial" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cabeceraRespuesta" type="ns0:cabeceraRespuesta"/>
      <xsd:element minOccurs="0" name="detalleRespuesta" type="ns0:detalleRespuesta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transacciones">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="transaccion" nillable="true" type="ns0:transaccionesDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarDetalleLote">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idCliente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idUsuario" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idBancoOrigen" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tipoConsulta" type="xsd:string"/>
      <xsd:element minOccurs="0" name="identificadorLote" type="xsd:string"/>
      <xsd:element minOccurs="0" name="filtrosTransacciones" type="ns0:filtrosTransacciones"/>
      <xsd:element minOccurs="0" name="paginacion" type="ns0:paginacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarDetalleLoteResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="respuestaConsultaDetalleLote" type="ns0:respuesta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultarDetalleLote" type="ns0:consultarDetalleLote"/>
  <xsd:element name="consultarDetalleLoteResponse" type="ns0:consultarDetalleLoteResponse"/>
  <xsd:element name="Exception" type="ns0:Exception"/>
  <xsd:complexType name="Exception">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="consultarDetalleLote">
        <wsdl:part element="tns:consultarDetalleLote" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultarDetalleLoteResponse">
        <wsdl:part element="tns:consultarDetalleLoteResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part element="tns:Exception" name="Exception"/>
    </wsdl:message>
    <wsdl:portType name="ConsultorDetalleLote">
        <wsdl:operation name="consultarDetalleLote">
            <wsdl:input message="tns:consultarDetalleLote" name="consultarDetalleLote"/>
            <wsdl:output message="tns:consultarDetalleLoteResponse" name="consultarDetalleLoteResponse"/>
            <wsdl:fault message="tns:Exception" name="Exception"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConsultorDetalleLoteServiceSoapBinding" type="tns:ConsultorDetalleLote">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultarDetalleLote">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultarDetalleLote">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultarDetalleLoteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConsultorDetalleLoteService">
        <wsdl:port binding="tns:ConsultorDetalleLoteServiceSoapBinding" name="ConsultorDetalleLotePort">
            <soap:address location="https://172.23.14.243:7004/ConsultaDetalleLotePmsWs/services/consultorDetalleLoteEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>