Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/SalesforceMarcaViajeroTC/xsd/salesforceMarcaViajeroTCTypes.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" version="1.0" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/salesforceMarcaViajeroTCTypes" 
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/salesforceMarcaViajeroTCTypes">
	
	<complexType name="countriesType">
			<sequence>
				<element name="COUNTRY_INFO" type="tns:countryInfoType" minOccurs="1" maxOccurs="unbounded"/>
			</sequence>
	</complexType>
	<complexType name="countryInfoType">
			<sequence>
				<element name="COUNTRY_CODE" type="string"/>
				<element name="COUNTRY_NAME" type="string" minOccurs="0"/>
			</sequence>
	</complexType>
	
	<complexType name="sesionSalesForceInfoType">
			<sequence>
				<element name="USERNAME" type="string"/>
				<element name="PASSWORD" type="string"/>
				<element name="SESION_ID" type="string"/>
			</sequence>
	</complexType>
	
	<element name="salesforceMarcaViajeroTC">
		<complexType>
			<sequence>
				<element name="SALESFORCE_INFO" type="tns:sesionSalesForceInfoType"/>
				<element name="CREDIT_CARD_NUMBER" type="string"/>
				<element name="ACCOUNT_NUMBER" type="string"/>
				<element name="BEGIN_DATE" type="date"/>
				<element name="END_DATE" type="date"/>
				<element name="EMAILS" type="string"/>
				<element name="COUNTRIES" type="tns:countriesType"/>
				<element name="DESTINATION" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	
	<element name="salesforceMarcaViajeroTCResponse">
		<complexType>
			<sequence>
				<element name="CASE_NUMBER" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>