Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/RegistroRTE/XMLSchema_-102414330.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="ConsultadedetalleRTE" type="tns:ConsultadedetalleRTE"/>

<xs:element name="ConsultadedetalleRTEResponse" type="tns:ConsultadedetalleRTEResponse"/>

<xs:element name="RegistrodeRTE" type="tns:RegistrodeRTE"/>

<xs:element name="RegistrodeRTEResponse" type="tns:RegistrodeRTEResponse"/>

<xs:element name="RegistrodeRTE_Validate" type="tns:RegistrodeRTE_Validate"/>

<xs:element name="RegistrodeRTE_ValidateResponse" type="tns:RegistrodeRTE_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="FICORTERTEFORMWSType">
<xs:sequence>
<xs:element name="Date" type="xs:string" minOccurs="0"/>
<xs:element name="TellerTransID" type="xs:string" minOccurs="0"/>
<xs:element name="TransactionType" type="xs:string" minOccurs="0"/>
<xs:element name="RteTxnType" type="xs:string" minOccurs="0"/>
<xs:element name="OthersDescription" type="xs:string" minOccurs="0"/>
<xs:element name="Currency" type="xs:string" minOccurs="0"/>
<xs:element name="Amount" type="xs:string" minOccurs="0"/>
<xs:element name="ExchangeRate" type="xs:string" minOccurs="0"/>
<xs:element name="gORIGINRESOURCES" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OriginandTarget" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="Agency" type="xs:string" minOccurs="0"/>
<xs:element name="AffectedAccount" type="xs:string" minOccurs="0"/>
<xs:element name="OwnerTXN" type="xs:string" minOccurs="0"/>
<xs:element name="TypeID" type="xs:string" minOccurs="0"/>
<xs:element name="IDNumber" type="xs:string" minOccurs="0"/>
<xs:element name="FullName" type="xs:string" minOccurs="0"/>
<xs:element name="DateofBirth" type="xs:string" minOccurs="0"/>
<xs:element name="Gender" type="xs:string" minOccurs="0"/>
<xs:element name="Country" type="xs:string" minOccurs="0"/>
<xs:element name="Nationality" type="xs:string" minOccurs="0"/>
<xs:element name="Department" type="xs:string" minOccurs="0"/>
<xs:element name="Municipality" type="xs:string" minOccurs="0"/>
<xs:element name="HomeAddress" type="xs:string" minOccurs="0"/>
<xs:element name="ResidenceNumber" type="xs:string" minOccurs="0"/>
<xs:element name="Profession" type="xs:string" minOccurs="0"/>
<xs:element name="CompanyName" type="xs:string" minOccurs="0"/>
<xs:element name="WorkPhone" type="xs:string" minOccurs="0"/>
<xs:element name="RelationwithBeneficiary" type="xs:string" minOccurs="0"/>
<xs:element name="BehalfTypeID" type="xs:string" minOccurs="0"/>
<xs:element name="BehalfIDNumber" type="xs:string" minOccurs="0"/>
<xs:element name="BehalfFullName" type="xs:string" minOccurs="0"/>
<xs:element name="BehalfGender" type="xs:string" minOccurs="0"/>
<xs:element name="BehalfCountry" type="xs:string" minOccurs="0"/>
<xs:element name="BehalfNationality" type="xs:string" minOccurs="0"/>
<xs:element name="BehalfDept" type="xs:string" minOccurs="0"/>
<xs:element name="BehalfMunicipality" type="xs:string" minOccurs="0"/>
<xs:element name="BehalfFullAddress" type="xs:string" minOccurs="0"/>
<xs:element name="BehalfHomeTel" type="xs:string" minOccurs="0"/>
<xs:element name="BehalfProf" type="xs:string" minOccurs="0"/>
<xs:element name="BehalfEconomicAct" type="xs:string" minOccurs="0"/>
<xs:element name="BehalfRelWithBen" type="xs:string" minOccurs="0"/>
<xs:element name="BenTypeOfID" type="xs:string" minOccurs="0"/>
<xs:element name="BenIDNumber" type="xs:string" minOccurs="0"/>
<xs:element name="BenFullName" type="xs:string" minOccurs="0"/>
<xs:element name="BenGender" type="xs:string" minOccurs="0"/>
<xs:element name="BenCountry" type="xs:string" minOccurs="0"/>
<xs:element name="BenNationality" type="xs:string" minOccurs="0"/>
<xs:element name="BenDepartment" type="xs:string" minOccurs="0"/>
<xs:element name="BenMunicipality" type="xs:string" minOccurs="0"/>
<xs:element name="BenFullAddress" type="xs:string" minOccurs="0"/>
<xs:element name="BenWorkTel" type="xs:string" minOccurs="0"/>
<xs:element name="BenProfession" type="xs:string" minOccurs="0"/>
<xs:element name="BenEconomicAct" type="xs:string" minOccurs="0"/>
<xs:element name="CashAmount" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICORTEType">
<xs:sequence>
<xs:element name="DATE" type="xs:string" minOccurs="0"/>
<xs:element name="HOUR" type="xs:string" minOccurs="0"/>
<xs:element name="TELLERTXNNO" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="RTETXNTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="OTHERSDESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="RTECURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="MOVEMENTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="EXCHANGERATE" type="xs:string" minOccurs="0"/>
<xs:element name="gORIGINRESOURCES" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ORIGINRESOURCES" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="BRANCHID" type="xs:string" minOccurs="0"/>
<xs:element name="OTHERCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="AFFECTEDACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="OWNERTXN" type="xs:string" minOccurs="0"/>
<xs:element name="TXNBENEFICIARY" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="IDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="FULLNAME" type="xs:string" minOccurs="0"/>
<xs:element name="DATEOFBIRTH" type="xs:string" minOccurs="0"/>
<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="DEPARTMENT" type="xs:string" minOccurs="0"/>
<xs:element name="MUNICIPALITY" type="xs:string" minOccurs="0"/>
<xs:element name="HOMEADDRESS" type="xs:string" minOccurs="0"/>
<xs:element name="RESIDENCENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="PROFESSION" type="xs:string" minOccurs="0"/>
<xs:element name="COMPANYNAME" type="xs:string" minOccurs="0"/>
<xs:element name="WORKPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="BENERELATION" type="xs:string" minOccurs="0"/>
<xs:element name="TXNREGNUM" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFTYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFIDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFFULLNAME" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFGENDER" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFCOUNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFNATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFDEPARTMENT" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFMUNICIPALITY" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFFULLADDRESS" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFTELEPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFPROFESSION" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFECONOACT" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFBENRELATN" type="xs:string" minOccurs="0"/>
<xs:element name="BEHLFREGNUM" type="xs:string" minOccurs="0"/>
<xs:element name="BENTYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="BENIDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="BENFULLNAME" type="xs:string" minOccurs="0"/>
<xs:element name="BENGENDER" type="xs:string" minOccurs="0"/>
<xs:element name="BENCOUNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="BENNATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="BENDEPARTMENT" type="xs:string" minOccurs="0"/>
<xs:element name="BENMUNICIPALITY" type="xs:string" minOccurs="0"/>
<xs:element name="BENFULLADDRESS" type="xs:string" minOccurs="0"/>
<xs:element name="TELEPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="BENPROFESSION" type="xs:string" minOccurs="0"/>
<xs:element name="ECONOMICACTIVITY" type="xs:string" minOccurs="0"/>
<xs:element name="REGNUM" type="xs:string" minOccurs="0"/>
<xs:element name="USDAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="RTEAGENCY" type="xs:string" minOccurs="0"/>
<xs:element name="RTESUCURSAL" type="xs:string" minOccurs="0"/>
<xs:element name="RTETYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="RTEGENDER" type="xs:string" minOccurs="0"/>
<xs:element name="RTECOUNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="RTENATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="RTEDEPARTMENT" type="xs:string" minOccurs="0"/>
<xs:element name="RTEMUNICIPALITY" type="xs:string" minOccurs="0"/>
<xs:element name="RTEBEHLFTYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="RTEBEHLFGENDER" type="xs:string" minOccurs="0"/>
<xs:element name="RTEBEHLFCOUNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="RTEBEHLFNATION" type="xs:string" minOccurs="0"/>
<xs:element name="RTEBEHLFDEPART" type="xs:string" minOccurs="0"/>
<xs:element name="RTEBEHLFMUNICIP" type="xs:string" minOccurs="0"/>
<xs:element name="RTEBEHLFECOACT" type="xs:string" minOccurs="0"/>
<xs:element name="RTEBENTYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="RTEBENGENDER" type="xs:string" minOccurs="0"/>
<xs:element name="RTEBENCOUNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="RTEBENNATION" type="xs:string" minOccurs="0"/>
<xs:element name="RTEBENDEPART" type="xs:string" minOccurs="0"/>
<xs:element name="RTEBENMUNICIP" type="xs:string" minOccurs="0"/>
<xs:element name="RTEECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="ENDDATE" type="xs:string" minOccurs="0"/>
<xs:element name="TFSTXNID" type="xs:string" minOccurs="0"/>
<xs:element name="TXNCONFIRM" type="xs:string" minOccurs="0"/>
<xs:element name="RTEDEALSLIP" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_7" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_10" type="xs:string" minOccurs="0"/>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="WSFICORTEENQType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFICORTEENQDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICORTEENQDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONID" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONDATE" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONTIME" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="TXNCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="TXNAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="EXCHANGERATE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNOWNER" type="xs:string" minOccurs="0"/>
<xs:element name="TXNBENEFICIARY" type="xs:string" minOccurs="0"/>
<xs:element name="ATYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="AIDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="AFULLNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ABIRTHDATE" type="xs:string" minOccurs="0"/>
<xs:element name="AGENDER" type="xs:string" minOccurs="0"/>
<xs:element name="ACOUNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="ANATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="ADEPARTMENT" type="xs:string" minOccurs="0"/>
<xs:element name="AMUNICIPALITY" type="xs:string" minOccurs="0"/>
<xs:element name="AHOMEADDRESS" type="xs:string" minOccurs="0"/>
<xs:element name="ARESIDENCENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="APROFESSION" type="xs:string" minOccurs="0"/>
<xs:element name="ACOMPANYNAME" type="xs:string" minOccurs="0"/>
<xs:element name="AWORKPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="ABENEFREL" type="xs:string" minOccurs="0"/>
<xs:element name="BTYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="BIDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="BFULLNAME" type="xs:string" minOccurs="0"/>
<xs:element name="BGENDER" type="xs:string" minOccurs="0"/>
<xs:element name="BCOUNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="BNATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="BDEPARTMENT" type="xs:string" minOccurs="0"/>
<xs:element name="BMUNICIPALITY" type="xs:string" minOccurs="0"/>
<xs:element name="BFULLADDRESS" type="xs:string" minOccurs="0"/>
<xs:element name="BTELEPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="BPROFESSION" type="xs:string" minOccurs="0"/>
<xs:element name="BECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="BBENEFREL" type="xs:string" minOccurs="0"/>
<xs:element name="CTYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="CIDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CFULLNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CGENDER" type="xs:string" minOccurs="0"/>
<xs:element name="CCOUNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="CNATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="CDEPARTMENT" type="xs:string" minOccurs="0"/>
<xs:element name="CMUNICIPALITY" type="xs:string" minOccurs="0"/>
<xs:element name="CFULLADDRESS" type="xs:string" minOccurs="0"/>
<xs:element name="CWORKPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="CPROFESSION" type="xs:string" minOccurs="0"/>
<xs:element name="CECONOMICACT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrodeRTE">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICORTERTEFORMWSType" type="tns:FICORTERTEFORMWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrodeRTEResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICORTEType" type="tns:FICORTEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadedetalleRTE">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICORTEENQType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadedetalleRTEResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICORTEENQType" type="tns:WSFICORTEENQType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrodeRTE_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICORTERTEFORMWSType" type="tns:FICORTERTEFORMWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrodeRTE_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICORTEType" type="tns:FICORTEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>