Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaAnticiposCliente/wsdl/consultaAnticiposClientePS.wsdl

<wsdl:definitions name="consultaAnticiposClientePS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaAnticiposClientePS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaAnticiposClientePS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaAnticiposClienteTypes">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaAnticiposClienteTypes" schemaLocation="../xsd/consultaAnticiposClienteTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="consultaAnticiposClienteRequest">
		<wsdl:part element="tns:consultaAnticiposCliente" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="consultaAnticiposClienteResponse">
		<wsdl:part element="tns:consultaAnticiposClienteResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="consultaAnticiposClientePS">
		<wsdl:operation name="consultaAnticiposCliente" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:consultaAnticiposClienteRequest"/>
			<wsdl:output message="op:consultaAnticiposClienteResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="consultaAnticiposClientePSSOAP" type="op:consultaAnticiposClientePS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaAnticiposCliente">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaAnticiposClientePS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="consultaAnticiposClientePS">
		<wsdl:port binding="op:consultaAnticiposClientePSSOAP" name="consultaAnticiposClientePSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/CustomerLoans/ConsultaAnticiposCliente/"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>