Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FPC/getPensionFund12c/xsd/GetPensionFundTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/pension"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gpf="https://www.ficohsa.com/regional/pension"
	xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
	<xsd:import schemaLocation="CommonTypes.xsd"
		namespace="https://www.ficohsa.com/regional/common/commonTypes" />

	<xsd:element name="getPensionFund">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="GeneralInfo" type="com:GeneralInfoType" />
				<xsd:element name="AccountCode" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPensionFundResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="StatusInfo" type="com:StatusInfoType"
					minOccurs="0" />
				<xsd:element name="ErrorInfo" type="com:ErrorInfoType"
					minOccurs="0" />
				<xsd:element name="Data" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Account" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AccountCode" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="CustomerCode" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="CustomerName" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="CodeProductLine" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="ProductName" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="ProductCode" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="OpeningDate" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="InsuredAmount" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="LastContribution" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="NextContribution" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="LastContributionAmount" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="LastContributionExtra" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="FrequencyContribution" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="FormContribution" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="AmountContribution" type="xsd:string"
											minOccurs="0" />
										<xsd:element name="Beneficiaries" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="NameBeneficiary" type="xsd:string"
														minOccurs="0" />
													<xsd:element name="RelationshipBeneficiary"
														type="xsd:string" minOccurs="0" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>