Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/TENGO/PagoMasivoBilleteraPuente/wsdl/PagosMasivosBilletera_1.wsdl

<WL5G3N0:definitions name="pagosMasivosBilleteraPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraTypes" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPS/" xmlns:pagbil="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/PagosMasivosBilletera.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPS/" xmlns:pagbil="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraTypes" schemaLocation="../xsd/PagosMasivosBilletera_1.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="generaTokenBilleteraRequest">
    <WL5G3N0:part element="WL5G3N1:generaTokenBilletera" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="generaTokenBilleteraResponse">
    <WL5G3N0:part element="WL5G3N1:generaTokenBilleteraResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="validaLoteBilleteraRequest">
    <WL5G3N0:part element="WL5G3N1:validaLoteBilletera" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="validaLoteBilleteraResponse">
    <WL5G3N0:part element="WL5G3N1:validaLoteBilleteraResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="cargaLoteBilleteraRequest">
    <WL5G3N0:part element="WL5G3N1:cargaLoteBilletera" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="cargaLoteBilleteraResponse">
    <WL5G3N0:part element="WL5G3N1:cargaLoteBilleteraResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaEstadoLoteBilleteraRequest">
    <WL5G3N0:part element="WL5G3N1:consultaEstadoLoteBilletera" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaEstadoLoteBilleteraResponse">
    <WL5G3N0:part element="WL5G3N1:consultaEstadoLoteBilleteraResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaDetalleLoteBilleteraRequest">
    <WL5G3N0:part element="WL5G3N1:consultaDetalleLoteBilletera" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaDetalleLoteBilleteraResponse">
    <WL5G3N0:part element="WL5G3N1:consultaDetalleLoteBilleteraResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="pagosMasivosBilleteraPS">
    <WL5G3N0:operation name="generaTokenBilletera" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:generaTokenBilleteraRequest"/>
      <WL5G3N0:output message="WL5G3N3:generaTokenBilleteraResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validaLoteBilletera" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:validaLoteBilleteraRequest"/>
      <WL5G3N0:output message="WL5G3N3:validaLoteBilleteraResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="cargaLoteBilletera" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:cargaLoteBilleteraRequest"/>
      <WL5G3N0:output message="WL5G3N3:cargaLoteBilleteraResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaEstadoLoteBilletera" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaEstadoLoteBilleteraRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaEstadoLoteBilleteraResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaDetalleLoteBilletera" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaDetalleLoteBilleteraRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaDetalleLoteBilleteraResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="pagosMasivosBilleteraPSSOAP" type="WL5G3N3:pagosMasivosBilleteraPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="generaTokenBilletera">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPS/generaTokenBilletera"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:generaTokenBilleteraRequest" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:generaTokenBilleteraResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validaLoteBilletera">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPS/validaLoteBilletera"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:validaLoteBilleteraRequest" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:validaLoteBilleteraResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="cargaLoteBilletera">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPS/cargaLoteBilletera"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:cargaLoteBilleteraRequest" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:cargaLoteBilleteraResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaEstadoLoteBilletera">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPS/consultaEstadoLoteBilletera"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaEstadoLoteBilleteraRequest" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaEstadoLoteBilleteraResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaDetalleLoteBilletera">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPS/consultaDetalleLoteBilletera"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaDetalleLoteBilleteraRequest" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaDetalleLoteBilleteraResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="pagosMasivosBilleteraPS">
    <WL5G3N0:port binding="WL5G3N3:pagosMasivosBilleteraPSSOAP" name="pagosMasivosBilleteraPSSOAP">
      <WL5G3N4:address location="https://172.23.13.19:8004/Middleware/v2/ProxyServices/PagosMasivosBilletera"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>