Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Documents/RequestorServices/XSD/cargarImagenBase64RedisTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes">
   <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>            
  <xsd:element name="cargarImagenBase64RedisRequest">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="Base64Image" type="xsd:string"/>
        <xsd:element name="Extension" type="xsd:string"/>
        <xsd:element name="GrayScaleImage" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cargarImagenBase64RedisResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="RedisKey" type="xsd:string"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    
</xsd:schema>