Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Documents/RequestorServices/XSD/digitalizacionExpedienteTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedienteTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedienteTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedienteTypes">
   <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>            
  <xsd:element name="creaExpedienteRequest">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="fileTypeName" type="xsd:string"/>
        <xsd:element name="id" type="xsd:string" minOccurs="0"/>
        <xsd:element name="agencyName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="companyName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="storageName" type="xsd:string"/>
        <xsd:element name="directories" type="xsd:string"/>
        <xsd:element name="keyInfo" type="itemTypes"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="creaExpedienteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="fileTypeName" type="xsd:string"/>
        <xsd:element name="currentKeyInfo" type="itemTypes"/>
        <xsd:element name="newKeyInfo" type="itemTypes"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:complexType name="itemType">
	<xsd:sequence>
		<xsd:element name="KEY" type="xsd:string"/>
		<xsd:element name="VALUE" type="xsd:string"/>
	</xsd:sequence>
  </xsd:complexType>  
  
     <xsd:complexType name="itemTypes">
      <xsd:sequence>
           <xsd:element name="item" type="tns:itemType" maxOccurs="unbounded"/>
       </xsd:sequence>
 </xsd:complexType>  
    
</xsd:schema>