Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Documents/RequestorServices/XSD/ingresaExpedienteTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes">
   <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>            
  <xsd:element name="ingresaExpedienteRequest">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="FileType" type="xsd:string"/>
        <xsd:element name="DocumentType" type="xsd:string"/>
        <xsd:element name="Categorie" type="xsd:string"/>
        <xsd:element name="Keys" type="tns:keysType" maxOccurs="unbounded"/>
        <xsd:element name="OriginAdress" type="tns:originAdressType"/>
        <xsd:element name="Pages" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="RedisPages">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="extension" type="xsd:string"/>
              <xsd:element name="RedisKeys" type="xsd:string" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="DocumentKeys" type="tns:keysType" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ingresaExpedienteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:complexType name="keysType">
	<xsd:sequence>
		<xsd:element name="Name" type="xsd:string"/>
		<xsd:element name="Value" type="xsd:string"/>
	</xsd:sequence>
  </xsd:complexType> 
  
  <xsd:complexType name="originAdressType">
	<xsd:sequence>
		<xsd:element name="Path" type="xsd:string"/>
		<xsd:element name="PathOrigin" type="xsd:string"/>
		<xsd:element name="User" type="xsd:string"/>
		<xsd:element name="Password" type="xsd:string"/>
		<xsd:element name="Host" type="xsd:string"/>
	</xsd:sequence>
  </xsd:complexType> 
    
</xsd:schema>