Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/CreditCardOperations/xsd/CreditCardOperationsTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/creditCardOperationsTypes" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cco="http://www.ficohsa.com.hn/middleware.services/creditCardOperationsTypes" xmlns:ccd="http://www.ficohsa.com.hn/middleware.services/creditCardTypes" xmlns:cst="http://www.ficohsa.com.hn/middleware.services/customerTypes" xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes" schemaLocation="../../General/xsd/GeneralTypes.xsd"/>
	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/creditCardTypes" schemaLocation="../../General/xsd/CreditCardTypes.xsd"/>

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypes" schemaLocation="../../General/xsd/CustomerTypes.xsd"/>

	<!-- Card Query -->
	<xs:element name="creditCardQuery" type="cco:creditCardQueryType"/>

	<xs:complexType name="creditCardQueryType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RETURN_EXTFIN_INFO" type="gen:yesNoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="creditCardQueryResponse" type="cco:creditCardQueryRspType"/>

	<xs:complexType name="creditCardQueryRspType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CUSTOMER" type="cco:customerInfoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LAST_CUTOFF_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MAX_PAYMENT_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BALANCES" type="ccd:balancesType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FINANCE_DETAILS" type="ccd:financeDetailsRspType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="customerInfoType">
		<xs:sequence>
			<xs:element name="LEGAL_ID" type="cst:legalIdentificationRspType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NAME" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Card Payment -->
	<xs:element name="creditCardPayment" type="cco:creditCardPaymentType"/>

	<xs:complexType name="creditCardPaymentType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PAYMENT_TARGET" type="ccd:paymentTargetType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BALANCE_CURRENCY" type="gen:currencyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PAYMENT" type="gen:paymentType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="creditCardPaymentResponse" type="cco:creditCardPaymentRspType"/>

	<xs:complexType name="creditCardPaymentRspType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BALANCE_CURRENCY" type="gen:currencyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BALANCE_AMOUNT" type="gen:amountType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Card Withdrawal -->
	<xs:element name="creditCardWithdrawal" type="cco:creditCardWithdrawalType"/>

	<xs:complexType name="creditCardWithdrawalType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EXPIRATION_DATE" type="gen:expirationDateType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PAYMENT" type="gen:paymentType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="creditCardWithdrawalResponse" type="cco:creditCardWithdrawalRspType"/>

	<xs:complexType name="creditCardWithdrawalRspType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Finance Disbursement -->
	<xs:element name="ccFinanceDisbursement" type="cco:ccFinanceDisbursementType"/>

	<xs:complexType name="ccFinanceDisbursementType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EXPIRATION_DATE" type="gen:expirationDateType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FINANCE_DETAILS" type="ccd:financeDetailsType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PAYMENT" type="gen:paymentType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="ccFinanceDisbursementResponse" type="cco:ccFinanceDisbursementRspType"/>

	<xs:complexType name="ccFinanceDisbursementRspType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>