Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CTS/tarjetaCredito/xsd/services.xsd

<schema elementFormDefault="qualified" targetNamespace="http://service.srvaplcobistarjetacredito.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://dto2.sdf.cts.cobis.cobiscorp.com" xmlns:Q1="http://dto.srvaplcobisentidades.ecobis.cobiscorp">
    <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/><import schemaLocation="cobiscorp.ecobis.srvaplcobisentidades.dto.xsd" namespace="http://dto.srvaplcobisentidades.ecobis.cobiscorp"/><element name="opConsultaDatosTarjetaCreditoSolicitud" type="Q1:OpConsultaDatosTarjetaCreditoSolicitud"/><element name="opConsultaDatosTarjetaCreditoRespuesta" type="Q1:OpConsultaDatosTarjetaCreditoRespuesta"/><element name="opConsultaMovimientosTarjetaCreditoSolicitud" type="Q1:OpConsultaMovimientosTarjetaCreditoSolicitud"/><element name="opConsultaMovimientosTarjetaCreditoRespuesta" type="Q1:OpConsultaMovimientosTarjetaCreditoRespuesta"/><element name="opConsultaSaldosTarjetaCreditoSolicitud" type="Q1:OpConsultaSaldosTarjetaCreditoSolicitud"/><element name="opConsultaSaldosTarjetaCreditoRespuesta" type="Q1:OpConsultaSaldosTarjetaCreditoRespuesta"/><element name="opPagoTarjetaCreditoSolicitud" type="Q1:OpPagoTarjetaCreditoSolicitud"/><element name="opPagoTarjetaCreditoRespuesta" type="Q1:OpPagoTarjetaCreditoRespuesta"/>
</schema>