Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/AccountOperations/xsd/AccountOperationsTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/AccountOperationsTypes"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:aco="http://www.ficohsa.com.hn/middleware.services/AccountOperationsTypes"
	xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes"
	xmlns:acc="http://www.ficohsa.com.hn/middleware.services/accountTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes"
		schemaLocation="../../General/xsd/GeneralTypes.xsd" />
	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/accountTypes"
		schemaLocation="../../General/xsd/AccountTypes.xsd" />

	<!-- Account Activation -->
	<xs:element name="accountActivation" type="aco:accountActivationType" />

	<xs:complexType name="accountActivationType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="ACTIVATION_DATE" type="xs:date"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="MOTIVE" type="gen:stringMinLength1"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="accountActivationResponse" type="aco:accountActivationRspType" />

	<xs:complexType name="accountActivationRspType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="ACCOUNT_NAME" type="xs:string"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- Account Closure -->
	<xs:element name="accountClosure" type="aco:accountClosureType" />

	<xs:complexType name="accountClosureType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PASSBOOK" type="acc:passbookType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="MOTIVE" type="gen:stringMinLength1"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="accountClosureResponse" type="aco:accountClosureRspType" />

	<xs:complexType name="accountClosureRspType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="ACCOUNT_NAME" type="xs:string"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="DEBIT_CURRENCY" type="gen:currencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="DEBIT_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- Account Deposit -->
	<xs:element name="accountDeposit" type="aco:accountDepositType" />

	<xs:complexType name="accountDepositType">
		<xs:sequence>
			<xs:element name="ACCOUNT_REFERENCE" type="acc:accountReferenceType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PASSBOOK" type="acc:passbookType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_TYPE" type="acc:accountDepositTransactionType" 
				minOccurs="1" maxOccurs="1"/>
			<xs:element name="DEPOSIT_ITEMS" type="aco:depositItemsType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="depositItemsType">
		<xs:sequence>
			<xs:element name="DEPOSIT_ITEM" type="gen:payItemType"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="accountDepositResponse" type="aco:accountDepositRspType" />

	<xs:complexType name="accountDepositRspType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="ACCOUNT_NAME" type="xs:string"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="CREDIT_CURRENCY" type="gen:currencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="CREDIT_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="DEPOSIT_SUMMARY" type="aco:depositSummaryType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="PASSBOOK_RECORDS" type="aco:printableRecordsType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="printableRecordsType">
		<xs:sequence>
			<xs:element name="PASSBOOK_RECORD" type="aco:printableRecordType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="printableRecordType">
		<xs:sequence>
			<xs:element name="ID" type="gen:greaterThan0" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="RECORD" type="gen:stringMinLength1"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="depositSummaryType">
		<xs:sequence>
			<xs:element name="DEPOSIT_ITEM" type="gen:payItemType"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- Account Query -->
	<xs:element name="accountQuery" type="aco:accountQueryType" />

	<xs:complexType name="accountQueryType">
		<xs:sequence>
			<xs:element name="ACCOUNT_REFERENCE" type="acc:accountReferenceType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="SHOW_SIGNATURE" type="gen:yesNoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="accountQueryResponse" type="aco:accountQueryRspType" />

	<xs:complexType name="accountQueryRspType">
		<xs:sequence>
			<xs:element name="ACCOUNT_INFO" type="acc:accountDetailsType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="SIGNATURES" type="acc:signaturesType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="PASSBOOK_INFO" type="acc:passbookInfoType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- Account Withdrawal -->
	<xs:element name="accountWithdrawal" type="aco:accountWithdrawalType" />

	<xs:complexType name="accountWithdrawalType">
		<xs:sequence>
			<xs:element name="ACCOUNT_REFERENCE" type="acc:accountReferenceType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PASSBOOK" type="acc:passbookType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_TYPE" type="acc:accountWithdrawalTransactionType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="accountWithdrawalResponse" type="aco:accountWithdrawalRspType" />

	<xs:complexType name="accountWithdrawalRspType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="ACCOUNT_NAME" type="xs:string"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="DEBIT_CURRENCY" type="gen:currencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="DEBIT_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="WITHDRAWAL_CURRENCY" type="gen:currencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="WITHDRAWAL_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="PASSBOOK_RECORDS" type="aco:printableRecordsType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>