Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/FinanciamientoTC/xsd/financiamientoTCTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:def="http://www.ficohsa.com.hn/middleware.services/financiamientoTCTypes"
           targetNamespace="http://www.ficohsa.com.hn/middleware.services/financiamientoTCTypes"
           version="1.0">

    <!-- StringType -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- StringType12 -->
    <xs:simpleType name="stringMinLength12">
        <xs:restriction base="xs:string">
            <xs:minLength value="12"/>
            <xs:maxLength value="12"/>
            <xs:pattern value="[a-zA-Z0-9]{6}[0-9][0-9][0-9][0-9][0-9][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- creditLineType -->
    <xs:simpleType name="creditLineType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="INTERNAL"/>
           <xs:enumeration value="EXTERNAL"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- confirmationType -->
    <xs:simpleType name="confirmationType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="APPROVE"/>
           <xs:enumeration value="REJECT"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- processingType -->
    <xs:simpleType name="processingType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="IMMEDIATE"/>
           <xs:enumeration value="DEFERRED"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- rateClassType -->
    <xs:simpleType name="rateClassType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="1"/>
           <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>
    
        <!-- Type -->
    <xs:simpleType name="type">
        <xs:restriction base="xs:string">
           <xs:enumeration value="CASH"/>
           <xs:enumeration value="CASHIER_CHEQUE"/>
           <xs:enumeration value="ACCOUNT_CREDIT"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- expirationType -->
    <xs:simpleType name="expirationType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9][0-9][0][1-9]|[0-9][0-9][1][0-2]"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- expirationType -->
    <xs:simpleType name="fractionDigitsType">
    	<xs:restriction base="xs:decimal">
      		<xs:fractionDigits value="2" />
    	</xs:restriction>
  	</xs:simpleType> 
  	
  	    <!--###############################-->
	<xs:complexType name="DisbursemetInfo">
		<xs:sequence>
			<xs:element name="TYPE" type="def:type"/>
			<xs:element name="CREDIT_ACCOUNT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>  	
  	
  	<!-- operationType -->
    <xs:simpleType name="operationType">
    	<xs:restriction base="xs:string">
           <xs:enumeration value="E"/>
           <xs:enumeration value="F"/>
        </xs:restriction>
  	</xs:simpleType> 
    
    <!--##################################################################--> 
    
    <!--###############################-->    
    <!--OPERACION: CONSULTA FINANCIAMIENTO -->
    
    <xs:element name="consultaFinanciamiento">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CARD_NUMBER" type="def:stringMinLength1"/>
				<xs:element name="EXPIRATION_DATE" type="def:expirationType"/> 
				<xs:element name="INTERFACE_REFERENCE_NO" type="def:stringMinLength12"/>
				<xs:element name="CREDIT_LINE" type="def:creditLineType"/> 
				<xs:element name="REQUEST_AMOUNT" type="def:fractionDigitsType"/> 
				<xs:element name="RATE_CLASS" type="def:rateClassType"/>
				<xs:element name="INTEREST_RATE" type="def:fractionDigitsType" minOccurs="0"/>
				<xs:element name="CURRENCY" type="def:stringMinLength1"/>
				<xs:element name="SECURITY_CODE" type="xs:string" minOccurs="0"/> 
				<xs:element name="NUMBER_OF_PAYMENTS" type="xs:decimal"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
    
    <xs:element name="consultaFinanciamientoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CARD_NUMBER" type="def:stringMinLength1" minOccurs="0"/> 
				<xs:element name="CREDIT_LINE" type="def:creditLineType" minOccurs="0"/>  
				<xs:element name="REQUEST_AMOUNT" type="xs:decimal" minOccurs="0"/>  
				<xs:element name="CURRENCY" type="def:stringMinLength1" minOccurs="0"/>  
				<xs:element name="RATE_CLASS" type="def:rateClassType" minOccurs="0"/> 
				<xs:element name="INTEREST_RATE" type="xs:decimal" minOccurs="0"/> 
				<xs:element name="NUMBER_OF_PAYMENTS" type="xs:decimal" minOccurs="0"/>
				<xs:element name="MONTHLY_PAYMENT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="TOTAL_INTEREST" type="def:fractionDigitsType" minOccurs="0"/>
				<xs:element name="TOTAL_AMOUNT" type="def:fractionDigitsType" minOccurs="0"/>				 
            </xs:sequence> 
        </xs:complexType>
    </xs:element>
         
    <!--###############################-->
    <!--OPERACION: PROCESA FINANCIAMIENTO -->    
    <xs:element name="procesaFinanciamiento">
        <xs:complexType>
            <xs:sequence>
	            <xs:element name="CARD_NUMBER" type="def:stringMinLength1"/>
	            <xs:element name="EXPIRATION_DATE" type="def:expirationType"/>
	            <xs:element name="INTERFACE_REFERENCE_NO" type="def:stringMinLength12"/>
	            <xs:element name="CREDIT_LINE" type="def:creditLineType"/>
	            <xs:element name="PROCESSING_TYPE" type="def:processingType"/>
	            <xs:element name="REQUEST_AMOUNT" type="def:fractionDigitsType"/>
	            <xs:element name="RATE_CLASS" type="def:rateClassType"/>
	            <xs:element name="INTEREST_RATE" type="def:fractionDigitsType" minOccurs="0"/>
	            <xs:element name="CURRENCY" type="def:stringMinLength1"/>
	            <xs:element name="SECURITY_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="NUMBER_OF_PAYMENTS" type="xs:decimal"/>
	            <xs:element name="CONFIRMATION_DATE" type="def:stringMinLength1" minOccurs="0"/>
	            <xs:element name="DISBURSEMENT_INFO" type="def:DisbursemetInfo"/>	            
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="procesaFinanciamientoResponse">
        <xs:complexType>
            <xs:sequence>
	            <xs:element name="CARD_NUMBER" type="def:stringMinLength1" minOccurs="0"/>
	            <xs:element name="CREDIT_LINE" type="def:creditLineType" minOccurs="0"/>
	            <xs:element name="REQUEST_AMOUNT" type="xs:decimal" minOccurs="0"/>
	            <xs:element name="PROCESSING_TYPE" type="def:processingType" minOccurs="0"/>
	            <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
	            <xs:element name="CONFIRMATION_REFERENCE" type="def:stringMinLength1" minOccurs="0"/>
	            <xs:element name="INTEREST_RATE" type="xs:decimal" minOccurs="0"/>
	            <xs:element name="NUMBER_OF_PAYMENTS" type="xs:decimal" minOccurs="0"/>
	            <xs:element name="MONTHLY_PAYMENT" type="xs:decimal" minOccurs="0"/>
	            <xs:element name="TOTAL_INTEREST" type="xs:decimal" minOccurs="0"/>
	            <xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--###############################-->
    <!--OPERACION: CONFIRMA FINANCIAMIENTO -->    
    <xs:element name="confirmaFinanciamiento">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CARD_NUMBER" type="def:stringMinLength1"/>
                <xs:element name="EXPIRATION_DATE" type="def:expirationType"/>
                <xs:element name="INTERFACE_REFERENCE_NO" type="def:stringMinLength12"/>
                <xs:element name="CREDIT_LINE" type="def:creditLineType"/>
                <xs:element name="CONFIRMATION_TYPE" type="def:confirmationType"/>
                <xs:element name="CONFIRMATION_REFERENCE" type="def:stringMinLength1"/>
                <xs:element name="REQUEST_AMOUNT" type="def:fractionDigitsType"/>
                <xs:element name="RATE_CLASS" type="def:rateClassType"/>
                <xs:element name="INTEREST_RATE" type="def:fractionDigitsType" minOccurs="0"/>
                <xs:element name="CURRENCY" type="def:stringMinLength1"/>
                <xs:element name="SECURITY_CODE" type="xs:string"  minOccurs="0"/>
                <xs:element name="NUMBER_OF_PAYMENTS" type="xs:decimal"/>
                <xs:element name="DISBURSEMENT_INFO" type="def:DisbursemetInfo"/>               
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="confirmaFinanciamientoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CARD_NUMBER" type="def:stringMinLength1" minOccurs="0"/>
                <xs:element name="CONFIRMATION_TYPE" type="def:stringMinLength1" minOccurs="0"/>
                <xs:element name="REQUEST_AMOUNT" type="xs:decimal" minOccurs="0"/>
                <xs:element name="CURRENCY" type="def:stringMinLength1" minOccurs="0"/>
                <xs:element name="CONFIRMATION_REFERENCE" type="def:stringMinLength1" minOccurs="0"/>
                <xs:element name="INTEREST_RATE" type="xs:decimal" minOccurs="0"/>
                <xs:element name="NUMBER_OF_PAYMENTS" type="xs:decimal" minOccurs="0"/>
                <xs:element name="MONTHLY_PAYMENT" type="xs:decimal" minOccurs="0"/>
                <xs:element name="TOTAL_INTEREST" type="xs:decimal" minOccurs="0"/>
                <xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0"/>                 
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--###############################-->
    <!--OPERACION: REVERSA FINANCIAMIENTO -->    
    <xs:element name="reversaFinanciamiento">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CARD_NUMBER" type="def:stringMinLength1"/>
                <xs:element name="EXPIRATION_DATE" type="def:expirationType"/>
                <xs:element name="INTERFACE_REFERENCE_NO" type="def:stringMinLength12"/>
                <xs:element name="ORIGINAL_INTERFACE_REFERENCE_NO" type="def:stringMinLength12"/>
                <xs:element name="CREDIT_LINE" type="def:creditLineType"/>
                <xs:element name="REQUEST_AMOUNT" type="def:fractionDigitsType"/>
                <xs:element name="RATE_CLASS" type="def:rateClassType"/>
                <xs:element name="INTEREST_RATE" type="def:fractionDigitsType" minOccurs="0"/>
                <xs:element name="CURRENCY" type="def:stringMinLength1"/>
                <xs:element name="SECURITY_CODE" type="xs:string" minOccurs="0"/>
                <xs:element name="NUMBER_OF_PAYMENTS" type="xs:integer"/>
                <xs:element name="CONFIRMATION_DATE" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="OPERATION_TYPE" type="def:operationType"/>                
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="reversaFinanciamientoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>  
                <xs:element name="REQUEST_AMOUNT" type="xs:decimal" minOccurs="0"/>
                <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>  
                <xs:element name="CONFIRMATION_REFERENCE" type="def:stringMinLength1" minOccurs="0"/>       
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--###############################-->
    
</xs:schema>