Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/T24/AnticipoSalario/xsd/AnticipoSalarioTypes02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.-->
<xs:schema version="1.0" targetNamespace="T24WebServicesImpl" xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AnticipoSalario" type="tns:AnticipoSalario"/>
	<xs:element name="AnticipoSalarioResponse" type="tns:AnticipoSalarioResponse"/>
	<xs:element name="AnticipoSalario_Validate" type="tns:AnticipoSalario_Validate"/>
	<xs:element name="AnticipoSalario_ValidateResponse" type="tns:AnticipoSalario_ValidateResponse"/>
	<xs:element name="ConsultaAnticipoSalario" type="tns:ConsultaAnticipoSalario"/>
	<xs:element name="ConsultaAnticipoSalarioResponse" type="tns:ConsultaAnticipoSalarioResponse"/>
	<xs:element name="callOfs" type="tns:callOfs"/>
	<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>
	<xs:complexType name="NOFILEFICOCASHADVANCEWSType">
		<xs:sequence>
			<xs:element name="gNOFILEFICOCASHADVANCEWSDetailType" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="mNOFILEFICOCASHADVANCEWSDetailType" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LIMITADVANCE" type="xs:string" minOccurs="0"/>
									<xs:element name="ADVANCEDAVAILABLE" type="xs:string" minOccurs="0"/>
									<xs:element name="CREDITADVANCE" type="xs:string" minOccurs="0"/>
									<xs:element name="COMMISSIONPERCENT" type="xs:string" minOccurs="0"/>
                                    <xs:element name="COMMISSIONAMOUNT" type="xs:string" minOccurs="0"/>
								</xs:sequence>
								<xs:attribute name="m" type="xs:positiveInteger"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="g" type="xs:positiveInteger"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PDCAPTUREFICOANTICIPOType">
		<xs:sequence>
			<xs:element name="CONTRACTNUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
			<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
			<xs:element name="OUTSTANDINGBAL" type="xs:string" minOccurs="0"/>
			<xs:element name="gPAYMENTTYPE" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="mPAYMENTTYPE" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PAYMENTTYPE" type="xs:string" minOccurs="0"/>
									<xs:element name="PAYMENTAMT" type="xs:string" minOccurs="0"/>
									<xs:element name="SETTLEMENTACCT" type="xs:string" minOccurs="0"/>
								</xs:sequence>
								<xs:attribute name="m" type="xs:positiveInteger"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="g" type="xs:positiveInteger"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="PDCAPTUREType">
		<xs:sequence>
			<xs:element name="CONTRACTNUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCYMARKET" type="xs:string" minOccurs="0"/>
			<xs:element name="POSITIONTYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
			<xs:element name="LIMITREFERENCE" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
			<xs:element name="INTERESTBASIS" type="xs:string" minOccurs="0"/>
			<xs:element name="DEALERDESK" type="xs:string" minOccurs="0"/>
			<xs:element name="PORTFOLIONUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTALOVERDUEAMT" type="xs:string" minOccurs="0"/>
			<xs:element name="gNARRATIVE" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="g" type="xs:positiveInteger"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
			<xs:element name="INTERESTRATE" type="xs:string" minOccurs="0"/>
			<xs:element name="INTERESTKEY" type="xs:string" minOccurs="0"/>
			<xs:element name="OUTSTANDINGBAL" type="xs:string" minOccurs="0"/>
			<xs:element name="gPAYMENTTYPE" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="mPAYMENTTYPE" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PAYMENTTYPE" type="xs:string" minOccurs="0"/>
									<xs:element name="PAYMENTAMT" type="xs:string" minOccurs="0"/>
									<xs:element name="SETTLEMENTACCT" type="xs:string" minOccurs="0"/>
								</xs:sequence>
								<xs:attribute name="m" type="xs:positiveInteger"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="g" type="xs:positiveInteger"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="NEXTPDID" type="xs:string" minOccurs="0"/>
			<xs:element name="gPDLOCREFNO" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="mPDLOCREFNO" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PDLOCREFNO" type="xs:string" minOccurs="0"/>
									<xs:element name="PDLOCREFDATA" type="xs:string" minOccurs="0"/>
								</xs:sequence>
								<xs:attribute name="m" type="xs:positiveInteger"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="g" type="xs:positiveInteger"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ACCRUALPARAM" type="xs:string" minOccurs="0"/>
			<xs:element name="ROUNDINGRULE" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVED_8" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVED_7" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVED_6" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
			<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
			<xs:element name="gSTMTNO" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="STMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="g" type="xs:positiveInteger"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gOVERRIDE" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="g" type="xs:positiveInteger"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
			<xs:element name="gINPUTTER" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="g" type="xs:positiveInteger"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="gDATETIME" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="g" type="xs:positiveInteger"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
			<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
			<xs:element name="LRPDTRFTYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="LOANCLASS" type="xs:string" minOccurs="0"/>
			<xs:element name="LOANFINSCORE" type="xs:string" minOccurs="0"/>
			<xs:element name="ATUNIQUEID" type="xs:string" minOccurs="0"/>
			<xs:element name="ATAUTHCODE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="AnticipoSalario_Validate">
		<xs:sequence>
			<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
			<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
			<xs:element name="PDCAPTUREFICOANTICIPOType" type="tns:PDCAPTUREFICOANTICIPOType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="webRequestCommon">
		<xs:sequence>
			<xs:element name="userName" type="xs:string"/>
			<xs:element name="password" type="xs:string"/>
			<xs:element name="company" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ofsFunction">
		<xs:sequence>
			<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
			<xs:element name="messageId" type="xs:string" minOccurs="0"/>
			<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
			<xs:element name="replace" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnticipoSalario_ValidateResponse">
		<xs:sequence>
			<xs:element name="Status" type="tns:Status" minOccurs="0"/>
			<xs:element name="PDCAPTUREType" type="tns:PDCAPTUREType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status">
		<xs:sequence>
			<xs:element name="transactionId" type="xs:string" minOccurs="0"/> 
            <xs:element name="messageId" type="xs:string" minOccurs="0"/>
			<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
			<xs:element name="application" type="xs:string" minOccurs="0"/>
			<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="callOfs">
		<xs:sequence>
			<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="callOfsResponse">
		<xs:sequence>
			<xs:element name="Status" type="tns:Status" minOccurs="0"/>
			<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnticipoSalario">
		<xs:sequence>
			<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
			<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
			<xs:element name="PDCAPTUREFICOANTICIPOType" type="tns:PDCAPTUREFICOANTICIPOType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnticipoSalarioResponse">
		<xs:sequence>
			<xs:element name="Status" type="tns:Status" minOccurs="0"/>
			<xs:element name="PDCAPTUREType" type="tns:PDCAPTUREType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsultaAnticipoSalario">
		<xs:sequence>
			<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
			<xs:element name="NOFILEFICOCASHADVANCEWSType" type="tns:enquiryInput" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="enquiryInput">
		<xs:sequence>
			<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="enquiryInputCollection">
		<xs:sequence>
			<xs:element name="columnName" type="xs:string" minOccurs="0"/>
			<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
			<xs:element name="operand" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsultaAnticipoSalarioResponse">
		<xs:sequence>
			<xs:element name="Status" type="tns:Status" minOccurs="0"/>
			<xs:element name="NOFILEFICOCASHADVANCEWSType" type="tns:NOFILEFICOCASHADVANCEWSType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="successIndicator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Success"/>
			<xs:enumeration value="TWSError"/>
			<xs:enumeration value="T24Error"/>
			<xs:enumeration value="T24Override"/>
			<xs:enumeration value="T24Offline"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>