Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/OperacionesPrestamo/wsdl/operacionesPrestamoPS.wsdl

<wsdl:definitions name="operacionesPrestamoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesPrestamoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/operacionesPrestamoPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesPrestamoTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/operacionesPrestamoTypes" schemaLocation="../xsd/operacionesPrestamoTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="creaPrestamo">
		<wsdl:part element="tns:creaPrestamo" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="creaPrestamoResponse">
		<wsdl:part element="tns:creaPrestamoResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:message name="desembolsaPrestamo">
		<wsdl:part element="tns:desembolsaPrestamo" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="desembolsaPrestamoResponse">
		<wsdl:part element="tns:desembolsaPrestamoResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="operacionesPrestamoPS">
		<wsdl:operation name="creaPrestamo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:creaPrestamo"/>
			<wsdl:output message="op:creaPrestamoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="desembolsaPrestamo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:desembolsaPrestamo"/>
			<wsdl:output message="op:desembolsaPrestamoResponse"/>
		</wsdl:operation>
	</wsdl:portType>
  
  <wsdl:binding name="operacionesPrestamoPSSOAP" type="op:operacionesPrestamoPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="creaPrestamo">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesPrestamoPS/creaPrestamo"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="desembolsaPrestamo">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesPrestamoPS/creaPrestamo"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="operacionesPrestamoPS">
		<wsdl:port binding="op:operacionesPrestamoPSSOAP" name="operacionesPrestamoPSSOAP">
			<soap:address location="https://10.9.104.250:8004/Middleware/OperationsAndExecution/CustomerLoans/OperacionesPrestamo/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>