Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/origenFondos/resources/OrigenFondos.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_39880740.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-253522267.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Consultadeorigendefondos">
<part name="parameters" element="tns:Consultadeorigendefondos"/>
</message>
<message name="ConsultadeorigendefondosResponse">
<part name="parameters" element="tns:ConsultadeorigendefondosResponse"/>
</message>
<message name="Consultasuborigendefondos">
<part name="parameters" element="tns:Consultasuborigendefondos"/>
</message>
<message name="ConsultasuborigendefondosResponse">
<part name="parameters" element="tns:ConsultasuborigendefondosResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Consultadeorigendefondos">
<input message="tns:Consultadeorigendefondos"/>
<output message="tns:ConsultadeorigendefondosResponse"/>
</operation>
<operation name="Consultasuborigendefondos">
<input message="tns:Consultasuborigendefondos"/>
<output message="tns:ConsultasuborigendefondosResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadeorigendefondos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultasuborigendefondos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwinterbanca:7003/svcOrigenFondos/services"/>
</port>
</service>
</definitions>