Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingGT/ProviderServices/XSD/CreateAccount/CreateAccount_BS_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CreateAccount_BS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CreateAccount_BS" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_CLIENTE" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="CODIGO_SUB_APLICACION" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="MONEDA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_APLICACION" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GRP_PLANILLA" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DEP_INICIAL" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PROPOSITO_CUENTA" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ORIGEN_FONDOS" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CONDICION_CUENTA" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_USUARIO" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_EMPRESA" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_AGENCIA" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TR_BENEFICIARIOS" type="db:PROXYABANKSGT.OSB_T_TIPO_BENE" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_FIRMAS" type="db:PROXYABANKSGT.OSB_T_TIPO_FIRM" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="NUMERO_DE_CUENTA" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_CODE" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_MESSAGE" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.OSB_T_TIPO_FIRM">
      <sequence>
         <element name="TR_FIRMAS_ITEM" type="db:PROXYABANKSPA.OSB_RG_TIPO_FIRMAS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_T_TIPO_BENE">
      <sequence>
         <element name="TR_BENEFICIARIOS_ITEM" type="db:PROXYABANKSPA.OSB_RG_TIPO_BENE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_TIPO_BENE">
      <sequence>
         <element name="NOMBRE_BENEFICIARIO" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_RELACION" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_DOCUMENTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="IDENTIFICACION" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PORCENTAJE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_TIPO_FIRMAS">
      <sequence>
         <element name="FIRMAS_REQUERIDAS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FIRMAS_REGISTRADAS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_FIRMA" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NO_ID" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_FIRMANTE" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OTRA_TITULAR" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
</schema>
