Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingGT/ProviderServices/XSD/CreateAccount/CreateAccountGT_BS_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CreateAccountGT_BS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CreateAccountGT_BS" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_CODIGO_CLIENTE" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_EJECUTIVO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_AGENCIA" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_SUB_APLIC" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_APLICACION" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_OPERACION" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LIBRETA" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_NUM_LIBRETA" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_G_PLANILLA" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_DEP_INICIAL" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_PROPOSITO_CTA" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ORIGEN_FONDOS" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_VOL_TRX_MENSUAL" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TR_BENEFICIARIOS" type="db:PROXYABANKSGT.OSB_T_TIPO_BENE" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_FIRMAS" type="db:PROXYABANKSGT.OSB_T_TIPO_FIRM" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_INACTIVA" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_NUMERO_CUENTA" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_CODE" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_MESSAGE" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.OSB_RG_TIPO_FIRMAS">
      <sequence>
         <element name="PN_CANT_FIRMANTES" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PN_CANT_FIRMAS_REQ" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PN_CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PN_TIPO_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_IDENTIDAD" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_NOMBRE_COMPLETO" type="db:string120" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_RELACION_TITULAR" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_CLASE_CLIENTE" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_TIPO_FIRMA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_NACIONALIDAD" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_T_TIPO_FIRM">
      <sequence>
         <element name="TR_FIRMAS_ITEM" type="db:PROXYABANKSGT.OSB_RG_TIPO_FIRMAS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_T_TIPO_BENE">
      <sequence>
         <element name="TR_BENEFICIARIOS_ITEM" type="db:PROXYABANKSGT.OSB_RG_TIPO_BENE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_RG_TIPO_BENE">
      <sequence>
         <element name="PV_NOMBRE_COMPLETO" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_TIPO_ID" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_IDENTIDAD" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_PARENTESCO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_PORCENTAJE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_NACIONALIDAD" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string120">
      <restriction base="string">
         <maxLength value="120"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
</schema>