Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/GetParameters/GetParameters_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetParameters" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetParameters" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PARAMETRIZACIONES" type="db:MWSERVICES.TVARCHAR100" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CONFIGURACIONES" type="db:MWSERVICES.CONFIGS" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="MWSERVICES.CONFIGS">
      <sequence>
         <element name="CONFIGURACIONES_ITEM" type="db:MWSERVICES.CONFIG" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="MWSERVICES.CONFIG">
      <sequence>
         <element name="NAME" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALUE" type="db:string1500" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPTION" type="db:string1000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="MWSERVICES.TVARCHAR100">
      <sequence>
         <element name="PARAMETRIZACIONES_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string1500">
      <restriction base="string">
         <maxLength value="1500"/>
      </restriction>
   </simpleType>
   <simpleType name="string1000">
      <restriction base="string">
         <maxLength value="1000"/>
      </restriction>
   </simpleType>
</schema>