Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Transfers/RequestorServices/WSDL/TransfersRouter_PS.wsdl

<wsdl:definitions name="TransfersRouter_PS" targetNamespace="http://xmlns.oracle.com/DynamoMigrate/MWBanking/TransfersRouter_PS" xmlns:tns="http://xmlns.oracle.com/DynamoMigrate/MWBanking/TransfersRouter_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/transferTypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/transferLocalAccountTypes" xmlns:inp3="http://www.ficohsa.com.hn/middleware.services/transactionReversalTypes">
    <plnk:partnerLinkType name="TransfersRouter_PS">
        <plnk:role name="TransfersRouter_PSProvider" portType="tns:TransfersRouter_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/transferTypes" schemaLocation="../XSD/transferTypes.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/transferLocalAccountTypes" schemaLocation="../XSD/transferLocalAccountTypes.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/transactionReversalTypes" schemaLocation="../XSD/transactionReversalTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="transfersAccount_inputMessage">
        <wsdl:part name="request" element="inp1:transfersAccountRequest"/>
    </wsdl:message>
    <wsdl:message name="transfersAccount_outputMessage">
        <wsdl:part name="reply" element="inp1:transfersAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="transfersLocalAccount_inputMessage">
        <wsdl:part name="request" element="inp2:transfersLocalAccountRequest"/>
    </wsdl:message>
    <wsdl:message name="transfersLocalAccount_outputMessage">
        <wsdl:part name="reply" element="inp2:transfersLocalAccountResponse"/>
    </wsdl:message>
        <wsdl:message name="transactionReversal_inputMessage">
        <wsdl:part name="request" element="inp3:transactionReversalRequest"/>
    </wsdl:message>
    <wsdl:message name="transactionReversal_outputMessage">
        <wsdl:part name="reply" element="inp3:transactionReversalResponse"/>
    </wsdl:message>
    <wsdl:portType name="TransfersRouter_PS_ptt">
        <wsdl:operation name="transfersAccount">
            <wsdl:input message="tns:transfersAccount_inputMessage"/>
            <wsdl:output message="tns:transfersAccount_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="transfersLocalAccount">
            <wsdl:input message="tns:transfersLocalAccount_inputMessage"/>
            <wsdl:output message="tns:transfersLocalAccount_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="transactionReversal">
            <wsdl:input message="tns:transactionReversal_inputMessage"/>
            <wsdl:output message="tns:transactionReversal_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TransfersRouter_PS_ptt-binding" type="tns:TransfersRouter_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="transfersAccount">
            <soap:operation soapAction="transfersAccount"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="transfersLocalAccount">
            <soap:operation soapAction="transfersLocalAccount"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="transactionReversal">
            <soap:operation soapAction="transactionReversal"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>