Fuentes/ficohsacore-osb12-b78f21b126d5/DataWareHouse/RequestorServices/ProxyServices/v1.0/GetConsolidatedCustomerRisk/WSDL/GetConsolidatedCustomerRiskGT_PS.wsdl

<wsdl:definitions name="GetConsolidatedCustomerRisk_PS"
                  targetNamespace="http://xmlns.oracle.com/MWBanking/GetConsolidatedCustomerRisk_PS"
                  xmlns:tns="http://xmlns.oracle.com/MWBanking/GetConsolidatedCustomerRisk_PS"
                  xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/creditManagement"
                  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <plnk:partnerLinkType name="GetConsolidatedCustomerRisk_PS">
    <plnk:role name="GetConsolidatedCustomerRisk_PSProvider" portType="tns:GetConsolidatedCustomerRisk_PS_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/creditManagement"
                  schemaLocation="../../../../../../MWBanking/CreditManagement/RequestorServices/XSD/creditManagement.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/MWBanking/GetConsolidatedCustomerRisk_PS"
            elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getConsolidatedCustomerRisk_params">
        <complexType>
          <sequence>
            <element name="legalId" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="Language" type="string"/>
            <element name="Nit" type="string" minOccurs="0"/>
            <element name="FirstName" type="string" minOccurs="0"/>
            <element name="LastName" type="string" minOccurs="0"/>
            <element name="BirthDate" type="string" minOccurs="0"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="getConsolidatedCustomerRisk_inputMessage">
    <wsdl:part name="request" element="tns:getConsolidatedCustomerRisk_params"/>
  </wsdl:message>
  <wsdl:message name="getConsolidatedCustomerRisk_outputMessage">
    <wsdl:part name="reply" element="inp1:getConsolidatedCustomerRiskResponse"/>
  </wsdl:message>
  <wsdl:portType name="GetConsolidatedCustomerRisk_PS_ptt">
    <wsdl:operation name="getConsolidatedCustomerRisk">
      <wsdl:input message="tns:getConsolidatedCustomerRisk_inputMessage"/>
      <wsdl:output message="tns:getConsolidatedCustomerRisk_outputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetConsolidatedCustomerRisk_PS_ptt-binding" type="tns:GetConsolidatedCustomerRisk_PS_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getConsolidatedCustomerRisk">
      <soap:operation soapAction="getConsolidatedCustomerRisk"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>