Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/OSB/ActivaFinanciamiento_v3/wsdl/ActivaFinanciamiento_v3.wsdl

<WL5G3N0:definitions name="activaFinanciamientoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/activaFinanciamientoPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/activaFinanciamientoTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/activaFinanciamientoPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cct="http://www.ficohsa.com.hn/middleware.services/activaFinanciamientoTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/activaFinanciamientoPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_1827572340.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cct="http://www.ficohsa.com.hn/middleware.services/activaFinanciamientoTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/activaFinanciamientoPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/activaFinanciamientoTypes" schemaLocation="../xsd/XMLSchema_394882971.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="activaFinanciamientoRequest">
    <WL5G3N0:part element="WL5G3N2:activaFinanciamiento" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="activaFinanciamientoResponse">
    <WL5G3N0:part element="WL5G3N2:activaFinanciamientoResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="activaFinanciamientoPS">
    <WL5G3N0:operation name="activaFinanciamiento" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:activaFinanciamientoRequest"/>
      <WL5G3N0:output message="WL5G3N3:activaFinanciamientoResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="activaFinanciamientoPSSOAP" type="WL5G3N3:activaFinanciamientoPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="activaFinanciamiento">
      <WL5G3N4:operation soapAction="http://www.example.org/actualizacionClienteTarjetaCreditoPS/activaFinanciamiento"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="activaFinanciamientoPS">
    <WL5G3N0:port binding="WL5G3N3:activaFinanciamientoPSSOAP" name="activaFinanciamientoPSSOAP">
      <WL5G3N4:address location="http://CUSME.CIDENET.LOCAL:7001/Middleware/v3/ProxyServices/ActivaFinanciamiento"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>