Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ActualizaEstadoRemesa/xsd/actualizaEstadoRemesa.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoRemesaTypes/v2"
	xmlns:acte="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoRemesaTypes/v2">


	<xs:complexType name="actualizaEstadoRemesaRequest">
		<xs:sequence>
			<xs:element name="REMITTANCE_ID">
				<xs:simpleType>
	        		<xs:restriction base="xs:string">
	        			<xs:minLength value="1"/>
	        		</xs:restriction>
	        	</xs:simpleType>
	        </xs:element>
			<xs:element name="REMITTER_ID">
				<xs:simpleType>
	        		<xs:restriction base="xs:string">
	        			<xs:minLength value="1"/>
	        		</xs:restriction>
	        	</xs:simpleType>
	        </xs:element>
			<xs:element name="NEW_STATUS">
				<xs:simpleType>
	        		<xs:restriction base="xs:string">
	        			<xs:minLength value="1"/>
	        		</xs:restriction>
	        	</xs:simpleType>			
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="actualizaEstadoRemesaResponse">
		<xs:sequence>
			<xs:element name="REMITTANCE_ID" type="xs:string"/>
			<xs:element name="REMITTER_ID" type="xs:string"/>
			<xs:element name="PREVIOUS_STATUS" type="xs:string"/>
			<xs:element name="NEW_STATUS" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="actualizaEstadoRemesaRequest" type="acte:actualizaEstadoRemesaRequest" />

	<xs:element name="actualizaEstadoRemesaResponse" type="acte:actualizaEstadoRemesaResponse" />

</xs:schema>