Fuentes/ficohsacore-osb-7e5cceccb837/MWHostToHost/v1/Resources/AperturaMasiva/wsdl/aperturaMasivaPS.wsdl

<wsdl:definitions name="aperturaMasivaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/aperturaMasivaPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/aperturaMasivaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:trb="http://www.ficohsa.com.hn/middleware.services/aperturaMasivaTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../EsquemasGenerales/headerElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/aperturaMasivaTypes" schemaLocation="../xsd/aperturaMasivaTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="actualizaParametrosRequest">
		<wsdl:part element="trb:actualizaParametrosRequest" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="actualizaParametrosResponse">
		<wsdl:part element="trb:actualizaParametrosResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="consultaParametrosRequest">
		<wsdl:part element="trb:consultaParametrosRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaParametrosResponse">
		<wsdl:part element="trb:consultaParametrosResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="consultaEstadoLoteRequest">
		<wsdl:part element="trb:consultaEstadoLoteRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaEstadoLoteResponse">
		<wsdl:part element="trb:consultaEstadoLoteResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="consultaDetalleLoteRequest">
		<wsdl:part element="trb:consultaDetalleLoteRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaDetalleLoteResponse">
		<wsdl:part element="trb:consultaDetalleLoteResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="cargaLoteProductosRequest">
		<wsdl:part element="trb:cargaLoteProductosRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="cargaLoteProductosResponse">
		<wsdl:part element="trb:cargaLoteProductosResponse" name="result"/>
	</wsdl:message>


	<wsdl:portType name="aperturaMasivaPS">

		<wsdl:operation name="actualizaParametros" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:actualizaParametrosRequest"/>
			<wsdl:output message="fic:actualizaParametrosResponse"/>
		</wsdl:operation>

		<wsdl:operation name="consultaParametros" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaParametrosRequest"/>
			<wsdl:output message="fic:consultaParametrosResponse"/>
		</wsdl:operation>

		<wsdl:operation name="consultaEstadoLote" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaEstadoLoteRequest"/>
			<wsdl:output message="fic:consultaEstadoLoteResponse"/>
		</wsdl:operation>

		<wsdl:operation name="consultaDetalleLote" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaDetalleLoteRequest"/>
			<wsdl:output message="fic:consultaDetalleLoteResponse"/>
		</wsdl:operation>

		<wsdl:operation name="cargaLoteProductos" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:cargaLoteProductosRequest"/>
			<wsdl:output message="fic:cargaLoteProductosResponse"/>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="aperturaMasivaPSSOAP" type="fic:aperturaMasivaPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>


		<wsdl:operation name="actualizaParametros">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/aperturaMasivaPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="consultaParametros">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/aperturaMasivaPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="consultaEstadoLote">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/aperturaMasivaPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="consultaDetalleLote">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/aperturaMasivaPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="cargaLoteProductos">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/aperturaMasivaPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="aperturaMasivaPS">
		<wsdl:port binding="fic:aperturaMasivaPSSOAP" name="aperturaMasivaPSSOAP">
			<soap:address location="http://172.23.13.19:8003/MWHostToHost/SalesAndServices/CustomerManagement/AperturaMasiva"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>