Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/CheckOperations/xsd/CheckOperationsTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/checkOperationsTypes"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cko="http://www.ficohsa.com.hn/middleware.services/checkOperationsTypes"
	xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes"
	xmlns:acc="http://www.ficohsa.com.hn/middleware.services/accountTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes"
		schemaLocation="../../General/xsd/GeneralTypes.xsd" />
	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/accountTypes"
		schemaLocation="../../General/xsd/AccountTypes.xsd" />

	<xs:complexType name="accountCheckPymtType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="CHECK_NUMBER" type="gen:greaterThan0"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="CHECK_AMOUNT" type="gen:amountType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="accountCheckPymtRspType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="ACCOUNT_NAME" type="xs:string"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="CHECK_NUMBER" type="gen:greaterThan0"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- Own Check -->
	<xs:element name="ownCheckPymt" type="cko:accountCheckPymtType" />
	<xs:element name="ownCheckPymtResponse" type="cko:accountCheckPymtRspType" />

	<!-- Cashier's Check -->
	<xs:element name="cashierCheckPymt" type="cko:cashierCheckPymtType" />

	<xs:complexType name="cashierCheckPymtType">
		<xs:sequence>
			<xs:element name="CHECK_NUMBER" type="gen:greaterThan0"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="cashierCheckPymtResponse" type="cko:cashierCheckPymtRspType" />

	<xs:complexType name="cashierCheckPymtRspType">
		<xs:sequence>
			<xs:element name="CHECK_NUMBER" type="gen:greaterThan0"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="BENEFICIARY_NAME" type="xs:string"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- Government Check -->
	<xs:element name="govCheckPymt" type="cko:accountCheckPymtType" />
	<xs:element name="govCheckPymtResponse" type="cko:accountCheckPymtRspType" />

	<!-- Other Bank Check -->
	<xs:element name="otherBankCheckPymt" type="cko:otherBankCheckPymtType" />

	<xs:complexType name="otherBankCheckPymtType">
		<xs:sequence>
			<xs:element name="CHECK_NUMBER" type="gen:greaterThan0"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="BANK_CODE" type="xs:string"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="otherBankCheckPymtResponse" type="cko:otherBankCheckPymtRspType" />

	<xs:complexType name="otherBankCheckPymtRspType">
		<xs:sequence>
			<xs:element name="CHECK_NUMBER" type="gen:greaterThan0"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="checkCertification" type="cko:checkCertificationType" />

	<xs:complexType name="checkCertificationType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="CHECK_NUMBER" type="gen:greaterThan0"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="BENEFICIARY_NAME" type="gen:stringMinLength1"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="checkCertificationResponse" type="cko:checkCertificationRspType" />

	<xs:complexType name="checkCertificationRspType">
		<xs:sequence>
			<xs:element name="CHECK_NUMBER" type="gen:greaterThan0"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="BENEFICIARY_NAME" type="xs:string"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="CURRENCY" type="gen:currencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="cashierCheckSale" type="cko:cashierCheckSaleType" />

	<xs:complexType name="cashierCheckSaleType">
		<xs:sequence>
			<xs:element name="CHECK_NUMBER" type="gen:greaterThan0"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="BENEFICIARY_NAME" type="gen:stringMinLength1"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="CHECK_AMOUNT" type="gen:amountType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="COMMISSION_AMOUNT" type="gen:amountType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="cashierCheckSaleResponse" type="cko:cashierCheckSaleRspType" />

	<xs:complexType name="cashierCheckSaleRspType">
		<xs:sequence>
			<xs:element name="CHECK_NUMBER" type="gen:greaterThan0"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="BENEFICIARY_NAME" type="xs:string"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="CURRENCY" type="gen:currencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="CHECK_VALUE" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AMOUNT" type="gen:amountType"
							minOccurs="1" maxOccurs="1" />
						<xs:element name="AMOUNT_IN_LETTERS" type="xs:string"
							minOccurs="1" maxOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="COMMISSION_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>