Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/v2/BussinessServices/ConsultaTarjetasCreditoPorCliente/wsdl/ConsultaTarjetasCreditoPorCliente.wsdl

<WL5G3N0:definitions name="consultaTarjetasCreditoPorCliente" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTarjetasCreditoPorCliente/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/consultaTarjetasCreditoPorClienteTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/consultaTarjetasCreditoPorCliente/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaTarjetasCreditoPorClienteTypes" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaTarjetasCreditoPorCliente/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_1095976431.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaTarjetasCreditoPorClienteTypes" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaTarjetasCreditoPorCliente/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaTarjetasCreditoPorClienteTypes" schemaLocation="../xsd/XMLSchema_886818199.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaTarjetasCreditoPorClienteRequest">
    <WL5G3N0:part element="WL5G3N2:consultaTarjetasCreditoPorCliente" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaTarjetasCreditoPorClienteResponse">
    <WL5G3N0:part element="WL5G3N2:consultaTarjetasCreditoPorClienteResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="consultaTarjetasCreditoPorClientePS">
    <WL5G3N0:operation name="consultaTarjetasCreditoPorCliente" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaTarjetasCreditoPorClienteRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaTarjetasCreditoPorClienteResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="consultaTarjetasCreditoPorClientePSSOAP" type="WL5G3N3:consultaTarjetasCreditoPorClientePS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="consultaTarjetasCreditoPorCliente">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaTarjetasCreditoPorClientePS/consultaTarjetasCreditoPorCliente"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="consultaTarjetasCreditoPorClientePS">
    <WL5G3N0:port binding="WL5G3N3:consultaTarjetasCreditoPorClientePSSOAP" name="consultaTarjetasCreditoPorClientePSSOAP">
      <WL5G3N4:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/CustomerDeposits/ConsultaTarjetasCreditoPorCliente"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>