Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/Core/Resources/XMLSchema_1632682327.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Actualizaciondetasadecambio" type="tns:Actualizaciondetasadecambio"/>

<xs:element name="ActualizaciondetasadecambioResponse" type="tns:ActualizaciondetasadecambioResponse"/>

<xs:element name="Actualizaciondetasadecambio_Validate" type="tns:Actualizaciondetasadecambio_Validate"/>

<xs:element name="Actualizaciondetasadecambio_ValidateResponse" type="tns:Actualizaciondetasadecambio_ValidateResponse"/>

<xs:element name="ConsultaDAO" type="tns:ConsultaDAO"/>

<xs:element name="ConsultaDAOResponse" type="tns:ConsultaDAOResponse"/>

<xs:element name="Consultadeactividadeconomica" type="tns:Consultadeactividadeconomica"/>

<xs:element name="ConsultadeactividadeconomicaResponse" type="tns:ConsultadeactividadeconomicaResponse"/>

<xs:element name="Consultadebancoslocales" type="tns:Consultadebancoslocales"/>

<xs:element name="ConsultadebancoslocalesResponse" type="tns:ConsultadebancoslocalesResponse"/>

<xs:element name="Consultadecategoria" type="tns:Consultadecategoria"/>

<xs:element name="ConsultadecategoriaResponse" type="tns:ConsultadecategoriaResponse"/>

<xs:element name="ConsultadedestinosACH" type="tns:ConsultadedestinosACH"/>

<xs:element name="ConsultadedestinosACHResponse" type="tns:ConsultadedestinosACHResponse"/>

<xs:element name="Consultadefechadelsistema" type="tns:Consultadefechadelsistema"/>

<xs:element name="ConsultadefechadelsistemaResponse" type="tns:ConsultadefechadelsistemaResponse"/>

<xs:element name="Consultadeparametroscore" type="tns:Consultadeparametroscore"/>

<xs:element name="ConsultadeparametroscoreResponse" type="tns:ConsultadeparametroscoreResponse"/>

<xs:element name="Consultadetasadecambiofcy" type="tns:Consultadetasadecambiofcy"/>

<xs:element name="ConsultadetasadecambiofcyResponse" type="tns:ConsultadetasadecambiofcyResponse"/>

<xs:element name="Consultadetasadecambiolcy" type="tns:Consultadetasadecambiolcy"/>

<xs:element name="ConsultadetasadecambiolcyResponse" type="tns:ConsultadetasadecambiolcyResponse"/>

<xs:element name="Consultadeusuariosdelsistema" type="tns:Consultadeusuariosdelsistema"/>

<xs:element name="ConsultadeusuariosdelsistemaResponse" type="tns:ConsultadeusuariosdelsistemaResponse"/>

<xs:element name="Consultadeventanilla" type="tns:Consultadeventanilla"/>

<xs:element name="ConsultadeventanillaResponse" type="tns:ConsultadeventanillaResponse"/>

<xs:element name="EjecutarBatch" type="tns:EjecutarBatch"/>

<xs:element name="EjecutarBatchResponse" type="tns:EjecutarBatchResponse"/>

<xs:element name="EjecutarBatch_Validate" type="tns:EjecutarBatch_Validate"/>

<xs:element name="EjecutarBatch_ValidateResponse" type="tns:EjecutarBatch_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="WSUSERType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSUSERDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSUSERDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="USERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="APPLICATION" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="OFFICERDAO" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHNAME" type="xs:string" minOccurs="0"/>
<xs:element name="SIGNONNAME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TSASERVICEINPUTWSType">
<xs:sequence>
<xs:element name="USER" type="xs:string" minOccurs="0"/>
<xs:element name="SERVICECONTROL" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TSASERVICEType">
<xs:sequence>
<xs:element name="gDESCRIPTION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gSERVERNAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mSERVERNAME" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SERVERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="WORKPROFILE" type="xs:string" minOccurs="0"/>
<xs:element name="SERVERSTATUS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="USER" type="xs:string" minOccurs="0"/>
<xs:element name="SERVICECONTROL" type="xs:string" minOccurs="0"/>
<xs:element name="REVIEWTIME" type="xs:string" minOccurs="0"/>
<xs:element name="TIMEOUT" type="xs:string" minOccurs="0"/>
<xs:element name="gATTRIBUTETYPE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mATTRIBUTETYPE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ATTRIBUTETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ATTRIBUTEVALUE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FREQUENCY" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_7" type="xs:string" minOccurs="0"/>
<xs:element name="gDATE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mDATE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DATE" type="xs:string" minOccurs="0"/>
<xs:element name="STARTED" type="xs:string" minOccurs="0"/>
<xs:element name="STOPPED" type="xs:string" minOccurs="0"/>
<xs:element name="ELAPSED" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="STOPPAGETIME" type="xs:string" minOccurs="0"/>
<xs:element name="STOPCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="WSECONACTIVITYLISTType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSECONACTIVITYLISTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSECONACTIVITYLISTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORLEVEL" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSACHBANKLISTType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSACHBANKLISTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSACHBANKLISTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="PRODUCTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="PRODIDMINLENGTH" type="xs:string" minOccurs="0"/>
<xs:element name="PRODIDMAXLENGTH" type="xs:string" minOccurs="0"/>
<xs:element name="PRODIDLEADZEROS" type="xs:string" minOccurs="0"/>
<xs:element name="PRODIDSAMPLE" type="xs:string" minOccurs="0"/>
<xs:element name="ACHROUTECURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="ACHROUTEID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSADMINDEPTACCTOFFICERType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSADMINDEPTACCTOFFICERDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSADMINDEPTACCTOFFICERDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="AREA" type="xs:string" minOccurs="0"/>
<xs:element name="NAME" type="xs:string" minOccurs="0"/>
<xs:element name="DELIVERYPOINT" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTLEVEL" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTPARENT" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTPARENTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ALLOWSCHQBKPRINT" type="xs:string" minOccurs="0"/>
<xs:element name="ALLOWSCASHIERCHQPRINT" type="xs:string" minOccurs="0"/>
<xs:element name="GEOGRAPHICZONE" type="xs:string" minOccurs="0"/>
<xs:element name="CHQPRINTZONE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFCYEXCHRATEType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFCYEXCHRATEDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFCYEXCHRATEDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="USDBUYRATE" type="xs:string" minOccurs="0"/>
<xs:element name="USDSALERATE" type="xs:string" minOccurs="0"/>
<xs:element name="EURBUYRATE" type="xs:string" minOccurs="0"/>
<xs:element name="EURSALERATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSLCYEXCHRATEType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSLCYEXCHRATEDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSLCYEXCHRATEDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CCYNAME" type="xs:string" minOccurs="0"/>
<xs:element name="BUYRATE" type="xs:string" minOccurs="0"/>
<xs:element name="SPREAD" type="xs:string" minOccurs="0"/>
<xs:element name="SELLRATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSCOREPARAMETERSType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSCOREPARAMETERSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSCOREPARAMETERSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CCYNAME" type="xs:string" minOccurs="0"/>
<xs:element name="BUYRATE" type="xs:string" minOccurs="0"/>
<xs:element name="SPREAD" type="xs:string" minOccurs="0"/>
<xs:element name="SELLRATE" type="xs:string" minOccurs="0"/>
<xs:element name="COMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="COREDATE" type="xs:string" minOccurs="0"/>
<xs:element name="USER" type="xs:string" minOccurs="0"/>
<xs:element name="USERTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="TELLERID" type="xs:string" minOccurs="0"/>
<xs:element name="TELLEROFFICE" type="xs:string" minOccurs="0"/>
<xs:element name="USERAGENCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="USERAGENCYNAME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSLOCALBANKSType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSLOCALBANKSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSLOCALBANKSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="BANKNAME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSCATEGORYLISTType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSCATEGORYLISTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSCATEGORYLISTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="SHORTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="SYSTEMIND" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CURRENCYFICOSALPERCENTAGEType">
<xs:sequence>
<xs:element name="gCURRENCYMARKET" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCURRENCYMARKET" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CURRENCYMARKET" type="xs:string" minOccurs="0"/>
<xs:element name="BUYRATE" type="xs:string" minOccurs="0"/>
<xs:element name="SELLRATE" type="xs:string" minOccurs="0"/>
<xs:element name="REVALRATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRUSDSALPRT" type="xs:string" minOccurs="0"/>
<xs:element name="LREURSALPRT" type="xs:string" minOccurs="0"/>
<xs:element name="LREURUSDSAL" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="CURRENCYType">
<xs:sequence>
<xs:element name="RANK" type="xs:string" minOccurs="0"/>
<xs:element name="NUMERICCCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="gCCYNAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CCYNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="NOOFDECIMALS" type="xs:string" minOccurs="0"/>
<xs:element name="QUOTATIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="QUOTATIONPIPS" type="xs:string" minOccurs="0"/>
<xs:element name="DAYSDELIVERY" type="xs:string" minOccurs="0"/>
<xs:element name="DAYSFORWARD" type="xs:string" minOccurs="0"/>
<xs:element name="INTERESTDAYBASIS" type="xs:string" minOccurs="0"/>
<xs:element name="RATEALLOWANCE" type="xs:string" minOccurs="0"/>
<xs:element name="FIXINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="gCURRENCYMARKET" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCURRENCYMARKET" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CURRENCYMARKET" type="xs:string" minOccurs="0"/>
<xs:element name="QUOTATIONSUSP" type="xs:string" minOccurs="0"/>
<xs:element name="MIDREVALRATE" type="xs:string" minOccurs="0"/>
<xs:element name="DEFAULTSPREAD" type="xs:string" minOccurs="0"/>
<xs:element name="BUYRATE" type="xs:string" minOccurs="0"/>
<xs:element name="SELLRATE" type="xs:string" minOccurs="0"/>
<xs:element name="UPTOSMALLAMT" type="xs:string" minOccurs="0"/>
<xs:element name="TRSYSMALLSPRD" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTSMALLSPRD" type="xs:string" minOccurs="0"/>
<xs:element name="NEGOTIABLEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="TRSYMEDSPREAD" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTMEDSPREAD" type="xs:string" minOccurs="0"/>
<xs:element name="REVALRATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gTRSYLIMITAMT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TRSYLIMITAMT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="MINROUNDAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CASHONLYROUNDING" type="xs:string" minOccurs="0"/>
<xs:element name="MINROUNDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CASHROUNDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="PRECIOUSMETAL" type="xs:string" minOccurs="0"/>
<xs:element name="gEQUIVALENTCCYS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="EQUIVALENTCCYS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="COUNTRYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="FIXEDRATE" type="xs:string" minOccurs="0"/>
<xs:element name="FIXEDCCY" type="xs:string" minOccurs="0"/>
<xs:element name="FIXEDSTARTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="BASECCYRANK" type="xs:string" minOccurs="0"/>
<xs:element name="AVAILABLEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCKEDDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CUTOFFTIME" type="xs:string" minOccurs="0"/>
<xs:element name="CLSCCY" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED14" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED13" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED12" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED11" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED10" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED7" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED1" type="xs:string" minOccurs="0"/>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="DFTCCYUNIT" type="xs:string" minOccurs="0"/>
<xs:element name="LRUSDSALPRT" type="xs:string" minOccurs="0"/>
<xs:element name="LRUSDEURSAL" type="xs:string" minOccurs="0"/>
<xs:element name="LREURSALPRT" type="xs:string" minOccurs="0"/>
<xs:element name="LREURUSDSAL" type="xs:string" minOccurs="0"/>
<xs:element name="LRRTECODE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="WSTELLERIDENQType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSTELLERIDENQDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSTELLERIDENQDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="USER" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSDATESType">
<xs:sequence>
<xs:element name="gWSDATESDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSDATESDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="COMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="TODAY" type="xs:string" minOccurs="0"/>
<xs:element name="JULIANDATE" type="xs:string" minOccurs="0"/>
<xs:element name="SYSTEMDATE" type="xs:string" minOccurs="0"/>
<xs:element name="NEXTWORKINGDAY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadedestinosACH">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSACHBANKLISTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadedestinosACHResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSACHBANKLISTType" type="tns:WSACHBANKLISTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadebancoslocales">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSLOCALBANKSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadebancoslocalesResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSLOCALBANKSType" type="tns:WSLOCALBANKSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EjecutarBatch_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TSASERVICEINPUTWSType" type="tns:TSASERVICEINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EjecutarBatch_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TSASERVICEType" type="tns:TSASERVICEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizaciondetasadecambio">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="CURRENCYFICOSALPERCENTAGEType" type="tns:CURRENCYFICOSALPERCENTAGEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizaciondetasadecambioResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="CURRENCYType" type="tns:CURRENCYType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizaciondetasadecambio_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="CURRENCYFICOSALPERCENTAGEType" type="tns:CURRENCYFICOSALPERCENTAGEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizaciondetasadecambio_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="CURRENCYType" type="tns:CURRENCYType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadetasadecambiofcy">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFCYEXCHRATEType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetasadecambiofcyResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFCYEXCHRATEType" type="tns:WSFCYEXCHRATEType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadetasadecambiolcy">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSLCYEXCHRATEType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetasadecambiolcyResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSLCYEXCHRATEType" type="tns:WSLCYEXCHRATEType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaDAO">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSADMINDEPTACCTOFFICERType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaDAOResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSADMINDEPTACCTOFFICERType" type="tns:WSADMINDEPTACCTOFFICERType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EjecutarBatch">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TSASERVICEINPUTWSType" type="tns:TSASERVICEINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EjecutarBatchResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TSASERVICEType" type="tns:TSASERVICEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadecategoria">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSCATEGORYLISTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadecategoriaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSCATEGORYLISTType" type="tns:WSCATEGORYLISTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadefechadelsistema">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSDATESType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadefechadelsistemaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSDATESType" type="tns:WSDATESType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadeusuariosdelsistema">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSUSERType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadeusuariosdelsistemaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSUSERType" type="tns:WSUSERType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadeventanilla">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSTELLERIDENQType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadeventanillaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSTELLERIDENQType" type="tns:WSTELLERIDENQType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadeactividadeconomica">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSECONACTIVITYLISTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadeactividadeconomicaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSECONACTIVITYLISTType" type="tns:WSECONACTIVITYLISTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadeparametroscore">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSCOREPARAMETERSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadeparametroscoreResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSCOREPARAMETERSType" type="tns:WSCOREPARAMETERSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>