Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/Resources/ConsultaCalendarioPagoPrestamo/xsd/consultaCalendarioPagoPrestamoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoTypes"
	version="1.0">

<!-- productType-->
	<xs:simpleType name="productType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PTM" />
			<xs:enumeration value="PTC" />
			<xs:enumeration value="PEX" />
		</xs:restriction>
	</xs:simpleType>


	<xs:element name="consultaCalendarioPagoPrestamo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:integer" minOccurs="0" />
				<xs:element name="PRODUCT_TYPE" type="tns:productType" />
				<xs:element name="PRODUCT_NUMBER" type="xs:string" />
				<xs:element name="PLAN_CODE" type="xs:integer" />
				<xs:element name="PLAN_SEQUENCE" type="xs:integer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaCalendarioPagoPrestamoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="INITIAL_AMOUNT" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="PRINCIPAL_AMOUNT" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="INTEREST_AMOUNT" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="INSURANCE_AMOUNT" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="PENALTY_AMOUNT" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="DISBURSEMENT_COMMISSION" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="ORIGINAL_LOAN_TERMS" type="xs:integer"
					minOccurs="0" />
				<xs:element name="NEXT_PAYMNT_ID" type="xs:integer"
					minOccurs="0" />
				<xs:element name="PENDING_LOAN_TERMS" type="xs:integer"
					minOccurs="0" />
				<xs:element name="PAID_PRINCIPAL_AMOUNT" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="PAID_INTEREST_AMOUNT" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="PAID_INSURANCE_AMOUNT" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="PAID_PENALTY_AMOUNT" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="PAID_DISBURSEMENT_COMMISSION" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="ACCOUNT_CYCLE" type="xs:integer"
					minOccurs="0" />
				<xs:element name="INTEREST_RATE" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="LOAN_SCHEDULE" type="tns:loan_ScheduleType"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="loan_ScheduleType">
		<xs:sequence>
			<xs:element name="BILL_REFERENCE" type="xs:string"
				minOccurs="0" />
			<xs:element name="BILL_NUMBER" type="xs:integer"
				minOccurs="0" />
			<xs:element name="BILL_DATE" type="xs:date" minOccurs="0" />
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
			<xs:element name="BILL_PRINCIPAL_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="BILL_INTEREST_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="OVERDUE_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="OTHER_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="BILL_TOTAL_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="BILL_OUTSTANDING_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="BILL_INSURANCE_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="BILL_PENALTY_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="BILL_DISBURSEMENT_COMMISSION" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="BILL_STATUS" type="xs:string" 
				minOccurs="0" />
			<xs:element name="BILL_ITBMS_AMOUNT" type="xs:decimal" 
				minOccurs="0" />
			<xs:element name="BILL_FECI_AMOUNT" type="xs:decimal"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>