Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditManagement/RequestorServices/XSD/getCustomerSecondOffer.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/getCustomerSecondOffer" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gts="http://www.ficohsa.com.hn/middleware.services/getCustomerSecondOffer" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="getCustomerSecondOfferRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
        <xsd:element name="ID" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CustomerId" type="xsd:string"/>
        <xsd:element name="FinancingAccount" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCustomerSecondOfferResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ID" type="xsd:string"/>
        <xsd:element name="CurrentDate" type="xsd:string"/>
        <xsd:element name="ClientNumber" type="xsd:string"/>
        <xsd:element name="ExchangeRate" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="Birthdate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Salary" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="Age" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Seniority" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="Tob" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Bin" type="xsd:string" minOccurs="0"/>
        <xsd:element name="IsCutOffDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="State" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardStatus" type="xsd:string" minOccurs="0"/>
        <xsd:element name="StartDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CloseDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="MaxPaymentDay" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CutoffDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DeadlineCr" type="xsd:string" minOccurs="0"/>
        <xsd:element name="LastAdvanceDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="LastConsumeDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Logo" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Limit" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PreviousLimit" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PenaltyFlag" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Segment" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CurrentQuotas" type="xsd:string" minOccurs="0"/>
        <xsd:element name="QualificationPos" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CurrentXfQuotas" type="xsd:string" minOccurs="0"/>
        <xsd:element name="StatusPilManagement" type="xsd:string" minOccurs="0"/>
        <xsd:element name="StatusXfManagement" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ExtraObtained" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ExtraApprovalDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="IntraApprovalDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PilApprovalDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AvailableCash" type="xsd:string" minOccurs="0"/>
        <xsd:element name="MaxLoanArrears" type="xsd:string" minOccurs="0"/>
        <xsd:element name="LastLoanRecency" type="xsd:string" minOccurs="0"/>
        <xsd:element name="TotalLoanBalance" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Rejections" type="xsd:string" minOccurs="0"/>
        <xsd:element name="UpgradeType" type="xsd:string" minOccurs="0"/>
        <xsd:element name="UpgradeApply" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ApplyPorSalud" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ApplyVital24" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ArrearsInfo" type="gts:ArrearsItem" minOccurs="0"/>
        <xsd:element name="BalancesInfo" type="gts:BalancesItem" minOccurs="0"/>
        <xsd:element name="ScoreInfo" type="gts:ScoreItem" minOccurs="0"/>
        <xsd:element name="RejectionsInfo" type="gts:RejectionsItem" minOccurs="0"/>
        <xsd:element name="OffersInfo" type="gts:OffersItem" minOccurs="0"/>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ArrearsItem">
    <xsd:sequence>
      <xsd:element name="LocCurrent" minOccurs="0" type="xsd:string"/>
      <xsd:element name="UsdCurrent" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LocHistory" minOccurs="0" type="xsd:string"/>
      <xsd:element name="UsdHistory" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida29Loc" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida30Loc" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="vida60Loc" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida90Loc" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida120Loc" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida150Loc" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida180Loc" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida210Loc" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida29Usd" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida30Usd" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida60Usd" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida90Usd" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida120Usd" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida150Usd" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida180Usd" minOccurs="0" type="xsd:string"/>
      <xsd:element name="vida210Usd" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BalancesItem">
    <xsd:sequence>
      <xsd:element name="Current" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Authorization" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Cutoff" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Extra" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Intra" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ScoreItem">
    <xsd:sequence>
      <xsd:element name="FlagBlaze" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CustomerScoreRating" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CustomerRisklevel" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RatingBuro" minOccurs="0" type="xsd:string"/>
      <xsd:element name="BehaviorScore" minOccurs="0" type="xsd:string"/>
      <xsd:element name="BehaviorScoreBlaze" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AccountRiskLevel" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RatingScoreAccount" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PaymentCapacity" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MarkingCollection" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CollectionSegmentation" minOccurs="0" type="xsd:string"/>
      <xsd:element name="WorstAccount" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RejectionsItem">
    <xsd:sequence>
      <xsd:element name="Account2c" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CliAccount" minOccurs="0" type="xsd:string"/>
      <xsd:element name="IfAccount" type="xsd:string"/>
      <xsd:element name="XfAccount" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PtAccount" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OffersItem">
    <xsd:sequence>
      <xsd:element name="NewSecondCardLimit" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LimitedPercentageSecondCard" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>