Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/Mastercard/CustomerService/wsdl/CustomerService.wsdl

<wsdl:definitions targetNamespace="http://customer.ws.mcrewards.mastercard.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://customer.ws.mcrewards.mastercard.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:common="http://common.ws.mcrewards.mastercard.com/">
  <wsdl:import location="../../Common/wsdl/MrsCommon.wsdl" namespace="http://common.ws.mcrewards.mastercard.com/">
    </wsdl:import>
  <wsdl:types>
<s:schema>
      
  <s:import namespace="http://customer.ws.mcrewards.mastercard.com/" schemaLocation="../xsd/CustomerService.xsd"/>
    
</s:schema>
  </wsdl:types>
  <wsdl:message name="validateCustomerSoapIn">
    <wsdl:part element="tns:validateCustomer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPointBalanceSoapIn">
    <wsdl:part element="tns:getPointBalance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerQualificationsSoapOut">
    <wsdl:part element="tns:getCustomerQualificationsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerQualificationsSoapIn">
    <wsdl:part element="tns:getCustomerQualifications" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerDetailsIn">
    <wsdl:part element="tns:getCustomerDetails" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setRTRPreferencesIn">
    <wsdl:part element="tns:setRTRPreferences" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailablePointsSoapIn">
  </wsdl:message>
  <wsdl:message name="getCustomerAccountsSoapOut">
    <wsdl:part element="tns:CustomerAccounts" name="out">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHouseholdPointsSoapOut">
    <wsdl:part element="tns:AvailablePoints" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHouseholdPointsSoapIn">
    <wsdl:part element="tns:getHouseholdPoints" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPointBalanceSoapOut">
    <wsdl:part element="tns:getPointBalanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enrollIn">
    <wsdl:part element="tns:enroll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerAccountsSoapIn">
    <wsdl:part element="tns:getCustomerAccounts" name="in">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getShippingAddressSoapOut">
    <wsdl:part element="tns:getShippingAddressResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerDetailsOut">
    <wsdl:part element="tns:CustomerDetails" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setRTRPreferencesOut">
    <wsdl:part element="tns:RTRPreferences" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCustomerAccountOut">
    <wsdl:part element="tns:updateCustomerAccountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCustomerSoapIn">
    <wsdl:part element="tns:updateCustomer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPreferredLanguageIn">
    <wsdl:part element="tns:setPreferredLanguage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerInformationSoapOut">
    <wsdl:part element="tns:CustomerInformation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCustomerSoapOut">
    <wsdl:part element="tns:updateCustomerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getValidationQuestionsSoapIn">
    <wsdl:part element="tns:getValidationQuestions" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getValidationQuestionsSoapOut">
    <wsdl:part element="tns:getValidationQuestionsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPointDetailsOut">
    <wsdl:part element="tns:PointDetails" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailablePointsSoapOut">
    <wsdl:part element="tns:AvailablePoints" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCustomerAccountIn">
    <wsdl:part element="tns:updateCustomerAccount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRTRPreferencesIn">
    <wsdl:part element="tns:getRTRPreferences" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPointDetailsIn">
    <wsdl:part element="tns:getPointDetails" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getShippingAddressSoapIn">
    <wsdl:part element="tns:getShippingAddress" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCustomerSoapOut">
    <wsdl:part element="tns:validateCustomerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enrollOut">
    <wsdl:part element="tns:enrollResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRTRPreferencesOut">
    <wsdl:part element="tns:RTRPreferences" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPreferredLanguageOut">
    <wsdl:part element="tns:setPreferredLanguageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerInformationSoapIn">
    <wsdl:part element="tns:getCustomerInformation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerService">
    <wsdl:operation name="getCustomerQualifications">
      <wsdl:input message="tns:getCustomerQualificationsSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:getCustomerQualificationsSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomerInformation">
      <wsdl:input message="tns:getCustomerInformationSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:getCustomerInformationSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomerAccounts">
      <wsdl:input message="tns:getCustomerAccountsSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:getCustomerAccountsSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getValidationQuestions">
      <wsdl:input message="tns:getValidationQuestionsSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:getValidationQuestionsSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateCustomer">
      <wsdl:input message="tns:validateCustomerSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:validateCustomerSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPointBalance">
      <wsdl:input message="tns:getPointBalanceSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:getPointBalanceSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailablePoints">
      <wsdl:input message="tns:getAvailablePointsSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:getAvailablePointsSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHouseholdPoints">
      <wsdl:input message="tns:getHouseholdPointsSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:getHouseholdPointsSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getShippingAddress">
      <wsdl:input message="tns:getShippingAddressSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:getShippingAddressSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <wsdl:input message="tns:updateCustomerSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:updateCustomerSoapOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setPreferredLanguage">
      <wsdl:input message="tns:setPreferredLanguageIn">
    </wsdl:input>
      <wsdl:output message="tns:setPreferredLanguageOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPointDetails">
      <wsdl:input message="tns:getPointDetailsIn">
    </wsdl:input>
      <wsdl:output message="tns:getPointDetailsOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PrefegetRTRrences">
      <wsdl:input message="tns:getRTRPreferencesIn">
    </wsdl:input>
      <wsdl:output message="tns:getRTRPreferencesOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setRTRPreferences">
      <wsdl:input message="tns:setRTRPreferencesIn">
    </wsdl:input>
      <wsdl:output message="tns:setRTRPreferencesOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="enroll">
      <wsdl:input message="tns:enrollIn">
    </wsdl:input>
      <wsdl:output message="tns:enrollOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomerDetails">
      <wsdl:input message="tns:getCustomerDetailsIn">
    </wsdl:input>
      <wsdl:output message="tns:getCustomerDetailsOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCustomerAccount">
      <wsdl:input message="tns:updateCustomerAccountIn">
    </wsdl:input>
      <wsdl:output message="tns:updateCustomerAccountOut">
    </wsdl:output>
      <wsdl:fault message="common:mrsErrorResponse" name="errorResponse">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerService" type="tns:CustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCustomerQualifications">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/getCustomerQualifications" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomerInformation">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/getCustomerInformation" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomerAccounts">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/getCustomerAccounts" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getValidationQuestions">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/getValidationQuestions" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateCustomer">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/validateCustomer" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPointBalance">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/getPointBalance" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailablePoints">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/getAvailablePoints" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHouseholdPoints">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/getHouseholdPoints" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getShippingAddress">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/getShippingAddress" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/updateCustomer" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setPreferredLanguage">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/setPreferredLanguage"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPointDetails">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/getPointDetails" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRTRPreferences">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/getRTRPreferences" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setRTRPreferences">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/setRTRPreferences" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="enroll">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/enroll" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomerDetails">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/getCustomerDetails" style="document"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCustomerAccount">
      <soap:operation soapAction="http://customer.ws.mcrewards.mastercard.com/updateCustomerAccount"/>
      <wsdl:input>
        <soap:header message="common:identity" part="identity" use="literal">
        </soap:header>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap:fault name="errorResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port binding="tns:CustomerService" name="CustomerService">
      <soap:address location="http://localhost:8081/mastercard-webservices/MRS/CustomerService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>