Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActualizaDisponibleVentaMonedaExtranjera/xsd/actualizaDisponibleVentaMonedaExtranjeraTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaDisponibleVentaMonedaExtranjeraTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/actualizaDisponibleVentaMonedaExtranjeraTypes"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <!--############################################-->
    <!-- OPERATION: actualizaDisponibleVentaMonedaExtranjera -->
    <!--############################################-->
    <xs:element name="actualizaDisponibleVentaMonedaExtranjera">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="PROFILE" type="xs:string"/>
				<xs:element name="CURRENCY" type="xs:string"/>
				<xs:element name="AMOUNT" type="xs:string"/>
				<xs:element name="DEAL" type="xs:string"/>
				<xs:element name="STATUS" type="xs:string"/>
				<xs:element name="OPERATION_TYPE" type="xs:string"/>
				<xs:element name="END_DATE" type="xs:string"/>
				<xs:element name="ACTION_TYPE" type="xs:string"/>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
   
    <xs:element name="actualizaDisponibleVentaMonedaExtranjeraResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="SUCCESS_FLAG" type="xs:string" minOccurs="0"/>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>