Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/NotificaDigitalizacion/xsd/notificaDigitalizacion_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/notificaDigitalizacion" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/notificaDigitalizacion" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_REQUESTID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_INSTITUTIONCODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PROCESSID" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_VAULTIDENTIFICATION" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_WALLETID" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TOKENTYPE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DATETIME" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_EVENT" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TOKENREQUESTORID" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TOKENREFID" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PANREFID" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_ENCRYPTEDCARDINFO" type="db:DIGITARCLI.OT_ANDES_ENCRYPTEDPAYLOAD" db:index="12" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_SOURCE" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ACTIONRESULT" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_STANDINREASONCODE" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_TERMSANDCONDITIONS" type="db:DIGITARCLI.OT_ANDES_TERMSANDCONDITIONS" db:index="16" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PT_TOKEN" type="db:DIGITARCLI.OT_ANDES_ENCRYPTEDPAYLOAD" db:index="17" db:type="Struct" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_REQUESTIDOUT" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PROCESSIDOUT" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURNCODE" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERRORDESCRIPTION" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DIGITARCLI.OT_ANDES_ENCRYPTEDPAYLOAD">
      <sequence>
         <element name="ALGORITHM" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NONCE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="IV" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ENCRYPTEDDATA" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="ASSOCIATEDDATA" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="MACLENGTH" type="int" db:type="INTEGER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.OT_ANDES_TERMSANDCONDITIONS">
      <sequence>
         <element name="ID" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DATET" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string64">
      <restriction base="string">
         <maxLength value="64"/>
      </restriction>
   </simpleType>
</schema>