Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaFondoPensiones/xsd/consultaFondoPensionesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaFondoPensionesTypes"
           targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaFondoPensionesTypes"
           elementFormDefault="qualified" attributeFormDefault="qualified"
           version="1.0">

 <!--REQUEST/RESPONSE TYPES-->
 <!--###############################--> 
 <xs:element name="consultaFondoPensionesRequest">
  <xs:complexType>
   	<xs:sequence>
   		<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>   		
 	</xs:sequence>
 </xs:complexType>
 </xs:element>

 <xs:element name="consultaFondoPensionesResponse" type="con:consultaFondoPensionesResponseType">
  </xs:element>
  
<xs:complexType name="consultaFondoPensionesResponseType">
	<xs:sequence>
 		<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
		<xs:element name="ACCOUNT_TYPE" type="xs:string" minOccurs="0"/>
		<xs:element name="ACCOUNT_CURRENCY" type="xs:string" minOccurs="0"/>
		<xs:element name="ACCOUNT_STATUS" type="xs:string" minOccurs="0"/>
		<xs:element name="REQUEST_ID" type="xs:string" minOccurs="0"/>
		<xs:element name="GROUP_CODE" type="xs:string" minOccurs="0"/>
		<xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
		<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
		<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
		<xs:element name="PRODUCT_CODE" type="xs:string" minOccurs="0"/>
		<xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="0"/>
		<xs:element name="SUB_PRODUCT_CODE" type="xs:string" minOccurs="0"/>
		<xs:element name="SUB_PRODUCT_NAME" type="xs:string" minOccurs="0"/>
		<xs:element name="OPENING_DATE" type="xs:string" minOccurs="0"/>
		<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
		<xs:element name="CLOSING_DATE" type="xs:string" minOccurs="0"/>
		<xs:element name="OFFICER_CODE" type="xs:string" minOccurs="0"/>
		<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
		<xs:element name="NOTIFICATION_TYPE" type="xs:string" minOccurs="0"/>
		<xs:element name="APPLY_INSURANCE" type="xs:string" minOccurs="0"/>		
		<xs:element name="FREQUENCY" type="xs:string" minOccurs="0"/>
		<xs:element name="FREQUENCY_DATE" type="xs:string" minOccurs="0"/>
		<xs:element name="PAYMENT_METHOD" type="xs:string" minOccurs="0"/>		
		<xs:element name="SALARY_AMOUNT" type="xs:string" minOccurs="0"/>
		<xs:element name="PREMIUM_AMOUNT" type="xs:string" minOccurs="0"/>
		<xs:element name="INSURED_AMOUNT" type="xs:string" minOccurs="0"/>
		<xs:element name="CONTRIBUTION_TYPE" type="xs:string" minOccurs="0"/>
		<xs:element name="CONTRIBUTION_AMOUNT" type="xs:string" minOccurs="0"/>
		<xs:element name="FIRST_CONTRIBUTION_AMOUNT" type="xs:string" minOccurs="0"/>
		<xs:element name="FIRST_CONTRIBUTION_DATE" type="xs:string" minOccurs="0"/>
		<xs:element name="LAST_CONTRIBUTION_AMOUNT" type="xs:string" minOccurs="0"/>
		<xs:element name="LAST_CONTRIBUTION_DATE" type="xs:string" minOccurs="0"/>		
		<xs:element name="NEXT_CONTRIBUTION_AMOUNT" type="xs:string" minOccurs="0"/>
		<xs:element name="NEXT_CONTRIBUTION_DATE" type="xs:string" minOccurs="0"/>
		<xs:element name="LAST_EXTRA_CONTRIBUTION_AMOUNT" type="xs:string" minOccurs="0"/>
		<xs:element name="LAST_EXTRA_CONTRIBUTION_DATE" type="xs:string" minOccurs="0"/>								
		<xs:element name="BALANCE_TYPE_INFO" type="con:balanceListType"/>
		<xs:element name="BENEFICIARY_INFO" type="con:beneficiaryListType"/>
	</xs:sequence>
</xs:complexType>
  
<xs:complexType name="balanceListType">   
	<xs:sequence>
		<xs:element name="BALANCE_TYPE_ITEM" type="con:balanceType" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
  
<xs:complexType name="balanceType">
	<xs:sequence>
		<xs:element name="BALANCE_TYPE_CODE" type="xs:string" minOccurs="0"/>
		<xs:element name="BALANCE_TYPE_DESCRIPTION" type="xs:string" minOccurs="0"/>
		<xs:element name="INVESTMENT_TYPE_CODE" type="xs:string" minOccurs="0"/>
		<xs:element name="INVESTMENT_TYPE_DESCRIPTION" type="xs:string" minOccurs="0"/>
		<xs:element name="DISTRIBUTION_PERCENTANGE" type="xs:string" minOccurs="0"/>		
	</xs:sequence>
</xs:complexType>
   
  <xs:complexType name="beneficiaryListType">
  <xs:sequence>
   <xs:element name="BENEFICIARY_ITEM" type="con:beneficiaryType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType> 
 
 <xs:complexType name="beneficiaryType">
  <xs:sequence>   
   <xs:element name="FULL_NAME" type="xs:string"/>
   <xs:element name="FIRST_NAME" type="xs:string" minOccurs="0"/>
   <xs:element name="SECOND_NAME" type="xs:string" minOccurs="0"/>   
   <xs:element name="FIRST_LASTNAME" type="xs:string" minOccurs="0"/>
   <xs:element name="SECOND_LASTNAME" type="xs:string" minOccurs="0"/>
   <xs:element name="BIRTH_DATE" type="xs:string" minOccurs="0"/>
   <xs:element name="GENDER">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="MALE"/>
      <xs:enumeration value="FEMALE"/>      
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="RELATIONSHIP" type="xs:string" minOccurs="0"/>
   <xs:element name="DISTRIBUTION_PERCENTAGE" type="xs:string" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>   
   
</xs:schema>