Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/SJS/marcaViajeroTCHN/xsd/sjMarcaViajeroTCHNTypes.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" version="1.0" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjMarcaViajeroTCHNTypes" 
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/sjMarcaViajeroTCHNTypes">
	<simpleType name="stringMinLength1">
		<restriction base="string">
			<minLength value="1"/>
		</restriction>
	</simpleType>
	
	<complexType name="countriesType">
			<sequence>
				<element name="COUNTRY_INFO" type="tns:countryInfoType" minOccurs="1" maxOccurs="unbounded"/>
			</sequence>
	</complexType>
	<complexType name="countryInfoType">
			<sequence>
				<element name="COUNTRY_CODE" type="tns:stringMinLength1"/>
				<element name="COUNTRY_NAME" type="string" minOccurs="0"/>
			</sequence>
	</complexType>
	<complexType name="creditCardsType">
			<sequence>
				<element name="CREDIT_CARD_INFORMATION" type="tns:creditCardInformationType" minOccurs="1" maxOccurs="unbounded"/>
			</sequence>
	</complexType>
	<complexType name="creditCardInformationType">
			<sequence>
				<element name="CREDIT_CARD_NUMBER" type="tns:stringMinLength1" minOccurs="0"/>
			</sequence>
	</complexType>
	
	<complexType name="creditCardsResponseType">
			<sequence>
				<element name="CREDIT_CARD_INFORMATION" type="tns:creditCardInfomationReponseType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
	</complexType>
	
	<complexType name="creditCardInfomationReponseType">
			<sequence>
				<element name="INDEX" type="integer" minOccurs="0"/>
				<element name="CREDIT_CARD_NUMBER" type="string" minOccurs="0"/>
				<element name="ACCOUNT_HOLDER_NAME" type="string" minOccurs="0"/>
				<element name="CARD_HOLDER_NAME" type="string" minOccurs="0"/>
				<element name="CASE_NUMBER" type="int" minOccurs="0"/>
				<element name="MESSAGES_ID" type="string" minOccurs="0"/>
				<element name="SUCCESS_INDICATOR" type="string"/>
				<element name="MESSAGES" type="string" minOccurs="0"/>
			</sequence>
	</complexType>
	
	<complexType name="sesionSalesForceInfoType">
			<sequence>
				<element name="USERNAME" type="string"/>
				<element name="PASSWORD" type="string"/>
				<element name="SESION_ID" type="string"/>
			</sequence>
	</complexType>
	
	<element name="sjMarcaViajeroTC">
		<complexType>
			<sequence>
				<element name="SALESFORCE_INFO" type="tns:sesionSalesForceInfoType"/>
				<element name="CREDIT_CARDS" type="tns:creditCardsType"/>
				<element name="BEGIN_DATE" type="date"/>
				<element name="END_DATE" type="date"/>
				<element name="EMAILS" type="string"/>
				<element name="COUNTRIES" type="tns:countriesType"/>
				<element name="DESTINATION" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	
	<element name="sjMarcaViajeroTCResponse">
		<complexType>
			<sequence>
				<element name="CREDIT_CARDS" type="tns:creditCardsResponseType"/>
			</sequence>
		</complexType>
	</element>
</schema>