Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/EvaluaListasCliente/wsdl/services.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_187617319.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_-105785688.xsd"/>
</xsd:schema>
</types>
<message name="ListasOFACONU">
<part name="parameters" element="tns:ListasOFACONU"/>
</message>
<message name="ListasOFACONUResponse">
<part name="parameters" element="tns:ListasOFACONUResponse"/>
</message>
<message name="ListasOFACONU_Validate">
<part name="parameters" element="tns:ListasOFACONU_Validate"/>
</message>
<message name="ListasOFACONU_ValidateResponse">
<part name="parameters" element="tns:ListasOFACONU_ValidateResponse"/>
</message>
<message name="ENQListasOFACONU">
<part name="parameters" element="tns:ENQListasOFACONU"/>
</message>
<message name="ENQListasOFACONUResponse">
<part name="parameters" element="tns:ENQListasOFACONUResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="ListasOFACONU">
<input message="tns:ListasOFACONU"/>
<output message="tns:ListasOFACONUResponse"/>
</operation>
<operation name="ListasOFACONU_Validate">
<input message="tns:ListasOFACONU_Validate"/>
<output message="tns:ListasOFACONU_ValidateResponse"/>
</operation>
<operation name="ENQListasOFACONU">
<input message="tns:ENQListasOFACONU"/>
<output message="tns:ENQListasOFACONUResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ListasOFACONU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListasOFACONU_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ENQListasOFACONU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.242.15.43:7020/svcGestionSolicitudLista/services"/>
</port>
</service>
</definitions>