Fuentes/ficohsacore-osb-7e5cceccb837/MWHostToHost/v1/BusinessServices/SJS/TransferenciasEntreCuentaH2H/xsd/sjTransferenciaEntreCuentasH2H.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjTransfersH2HTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:trans="http://www.ficohsa.com.hn/middleware.services/sjTransfersH2HTypes"
xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/kvpType" >
<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/kvpType" schemaLocation="../../../../Resources/EsquemasGenerales/KeyValuePair.xsd"/>


<!--############################### -->
<!-- OPERACION: TRANSFERENCIA ENTRE CUENTA -->
<!--############################### -->
<xs:element name="sjTransferenciaEntreCuentas">
<xs:complexType>
<xs:sequence>
<xs:element name="CUSTOMER_ID" type="xs:string" />
<xs:element name="USER_NAME" type="xs:string" />
<xs:element name="PASSWORD" type="xs:string" />
<xs:element name="SOURCE_BANK" type="xs:string" />
<xs:element name="TRANSFERS_INT">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSFER_INT" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TRACE" type="xs:string"/>
<xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
<xs:element name="CREDIT_ACCOUNT" type="xs:string"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSFER_AMOUNT" type="xs:string"/>
<xs:element name="DEBIT_CREDIT" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORIZATION_TICKET" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSFER_DETAILS" type="xs:string" minOccurs="0"/>
<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" minOccurs="0"/>
<xs:element name="ITEM_LEVEL_1" type="xs:string" minOccurs="0"/>
<xs:element name="ITEM_LEVEL_2" type="xs:string" minOccurs="0"/>
<xs:element name="ITEM_LEVEL_3" type="xs:string" minOccurs="0"/>
<xs:element name="ITEM_LEVEL_4" type="xs:string" minOccurs="0"/>
<xs:element name="ITEM_LEVEL_5" type="xs:string" minOccurs="0"/>
<xs:element name="REGIONAL_DETAILS" type="kvp:RegionalDetails" minOccurs="0" maxOccurs="1"/>
<xs:element name="ADDITIONAL_INFO" type="trans:AdditionalInfoType" minOccurs="0" maxOccurs="1"/>			
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="sjTransferenciaEntreCuentasResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSFERS_INT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSFER_INT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
<xs:element name="TRACE" type="xs:string"/>
<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CREDIT_ACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="DEBIT_CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="CREDIT_CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="DEBIT_CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CREDIT_CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="DEBIT_AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CREDIT_AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSFER_DETAILS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0"/>
<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>	
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

	<xs:complexType name="AdditionalInfoType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="INFO" type="trans:InfoType"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InfoType">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string"/>
			<xs:element name="VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>