Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/CompraPaquete/xsd/compraPaqueteTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/compraPaqueteTypes"
	xmlns:com="http://www.ficohsa.com.hn/middleware.services/compraPaqueteTypes">
	
	<xs:element name="compraPaquete">
		<xs:complexType>
			<xs:sequence>
			    <xs:element name="PHONE_CARRIER" type="xs:string"/>
	            <xs:element name="PHONE_NUMBER" type="xs:string"/>
	            <xs:element name="PACK_CODE" type="xs:string"/>
	            <xs:element name="AMOUNT" type="xs:string"/>
	            <xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
	            <xs:element name="CHANNEL_CODE" type="xs:string" minOccurs="0"/>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="compraPaqueteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
				<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
				<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="PAYMENT_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PAYMENT_METHOD" type="xs:string"/>
							<xs:element name="PAYMENT_CURRENCY" type="xs:string"/>
							<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0" />
							<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>