Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/DataWarehouse/integracionConsultaSolicitante/xsd/integracionConsultaSolicitante_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/integracionConsultaSolicitante" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/integracionConsultaSolicitante" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PAIS" type="db:string20" db:index="1" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="IDENTIDAD" type="db:string20" db:index="2" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="CODIGO_RESPUESTA" type="int" db:index="3" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_RESPUESTA" type="db:string200" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="CODIGO_RESPUESTA" type="int" db:index="3" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_RESPUESTA" type="db:string200" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
</schema>