Fuentes/ficohsacore-osb12-b78f21b126d5/CustomerRelationshipManagement/ProviderServices/v1.0/XSD/TotalImage/ExpedientesAPITypes.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eat="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes"
            targetNamespace="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes"
            elementFormDefault="qualified">
  <xsd:element name="autenticationRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="appId" type="xsd:string"/>
            <xsd:element name="appKey" type="xsd:string"/>
            <xsd:element name="userSession" type="xsd:string"/>
            <xsd:element name="UserPass" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  <xsd:element name="autenticationResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="token" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  <xsd:element name="loadImageBase64Request">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="imagenBase64" type="xsd:string"/>
            <xsd:element name="extension" type="xsd:string"/>
            <xsd:element name="imagenEscalaGris" type="xsd:boolean"/>
         </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  <xsd:element name="loadImageBase64Response">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="llaveRedis" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTransaction6Request">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="carpeta" type="xsd:string"/>
            <xsd:element name="archivador" type="xsd:string"/>
            <xsd:element name="llaves" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nombre" type="xsd:string"/>
                  <xsd:element name="valor" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="tipoExpediente">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nombre" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTransaction6Response">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="descripcion" type="xsd:string"/>
            <xsd:element name="errores" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="id" type="xsd:string"/>
                  <xsd:element name="descripcion" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTransaction8Request">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="TipoExpediente" type="xsd:string"/>
            <xsd:element name="tipo_documento" type="xsd:string"/>
            <xsd:element name="categoria" type="xsd:string"/>
            <xsd:element name="llaves" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nombre" type="xsd:string"/>
                  <xsd:element name="valor" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="direccion_origen">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="path" type="xsd:string"/>
                  <xsd:element name="pathOrigen" type="xsd:string"/>
                  <xsd:element name="usuario" type="xsd:string"/>
                  <xsd:element name="password" type="xsd:string"/>
                  <xsd:element name="servidor" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="paginas" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element name="paginasRedis">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="extension" type="xsd:string"/>
                  <xsd:element name="LlavesRedis" type="xsd:string" maxOccurs="unbounded"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="llaves_documento" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nombre" type="xsd:string"/>
                  <xsd:element name="valor" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTransaction8Response">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="descripcion" type="xsd:string"/>
            <xsd:element name="errores" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="id" type="xsd:string"/>
                  <xsd:element name="descripcion" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTransaction8Error">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="descripcion" type="xsd:string"/>
            <xsd:element name="codigo" type="xsd:int"/>
            <xsd:element name="ocurrioError" type="xsd:boolean"/>
            <xsd:element name="adicionales" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element name="metodo" type="xsd:string"/>
            <xsd:element name="mensajeExcepcion" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  <xsd:element name="loadImageBase64Error">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="descripcion" type="xsd:string"/>
			<xsd:element name="mensaje" type="xsd:string"/>
            <xsd:element name="codigoEstado" type="xsd:int"/>
            <xsd:element name="ocurrioError" type="xsd:boolean"/>
			<xsd:element name="excepcion" type="xsd:string"/>
            <xsd:element name="adicionales" type="xsd:string" maxOccurs="unbounded"/>
         </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
</xsd:schema>