Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingPA/RequestorServices/v1.0/GetAccountDetail/WSDL/GetAccountDetailPA_PS.wsdl

<wsdl:definitions name="GetAccountDetail_PS" targetNamespace="http://xmlns.oracle.com/MWBanking/GetAccountDetail_PS" xmlns:tns="http://xmlns.oracle.com/MWBanking/GetAccountDetail_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/getAccountDetails" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="GetAccountDetail_PS">
        <plnk:role name="GetAccountDetail_PSProvider" portType="tns:GetAccountDetail_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getAccountDetails" schemaLocation="../../../../../MWBanking/Accounts/RequestorServices/XSD/getAccountDetails.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/MWBanking/GetAccountDetail_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getAccountDetail_params">
                <complexType>
                    <sequence>
                        <element name="accountNumber" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="getAccountDetail_inputMessage">
        <wsdl:part name="request" element="tns:getAccountDetail_params"/>
    </wsdl:message>
    <wsdl:message name="getAccountDetail_outputMessage">
        <wsdl:part name="reply" element="inp1:getAccountDetailsResponse"/>
    </wsdl:message>
    <wsdl:portType name="GetAccountDetail_PS_ptt">
        <wsdl:operation name="getAccountDetail">
            <wsdl:input message="tns:getAccountDetail_inputMessage"/>
            <wsdl:output message="tns:getAccountDetail_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetAccountDetail_PS_ptt-binding" type="tns:GetAccountDetail_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAccountDetail">
            <soap:operation soapAction="getAccountDetail"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>