Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActualizaEstadoTransferenciaSwift/wsdl/actualizaEstadoTransferenciaSwiftPS.wsdl

<wsdl:definitions 
		name="actualizaEstadoTransferenciaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoTransferenciaSwiftPS/" 
		xmlns:fic="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoTransferenciaSwiftPS/" 
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		xmlns:cons="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoTransferenciaSwiftTypes" 
		xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">

  <wsdl:types>
    <xsd:schema>
		<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>    	    
    </xsd:schema>    	
    <xsd:schema>
    	<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoTransferenciaSwiftTypes" schemaLocation="../xsd/actualizaEstadoTransferenciaSwiftTypes.xsd"/>
    </xsd:schema>    
  </wsdl:types>
  
  <wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
  </wsdl:message>

  <wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
  </wsdl:message>
  
  <wsdl:message name="actualizaEstadoTransferenciaSwiftRequest">
    <wsdl:part element="cons:actualizaEstadoTransferenciaSwift" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="actualizaEstadoTransferenciaSwiftResponse">
  	<wsdl:part element="cons:actualizaEstadoTransferenciaSwiftResponse" name="result"/>
  </wsdl:message>
  
  <wsdl:portType name="actualizaEstadoTransferenciaSwiftPS">
    <wsdl:operation name="actualizaEstadoTransferenciaSwift" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:actualizaEstadoTransferenciaSwiftRequest"/>
      <wsdl:output message="fic:actualizaEstadoTransferenciaSwiftResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="actualizaEstadoTransferenciaSwiftPSSOAP" type="fic:actualizaEstadoTransferenciaSwiftPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="actualizaEstadoTransferenciaSwift">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoTransferenciaSwiftPS/actualizaEstadoTransferenciaSwift"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header use="literal" part="RequestHeader" message="fic:requestHeader"/>
      </wsdl:input>
      <wsdl:output>
       	<soap:body use="literal" parts="result"/>
		<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="actualizaEstadoTransferenciaSwiftPS">
    <wsdl:port binding="fic:actualizaEstadoTransferenciaSwiftPSSOAP" name="actualizaEstadoTransferenciaSwiftPSSOAP">
      <soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/CustomerDeposits/ActualizaEstadoTransferenciaSwift"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>