Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/RetiroDeDepositoGarantia/retiroDeDepositoGarantiaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/retiroDeDepositoGarantiaTypes"
	xmlns:ret="http://www.ficohsa.com.hn/middleware.services/retiroDeDepositoGarantiaTypes">
	
	<xs:element name="retiroDeDepositoGarantia">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AMOUNT" type="xs:decimal"/>
				<xs:element name="CONTRACT_ID" type="xs:string"/>
				<xs:element name="PAYMENT_REF_ID" type="xs:string"/>
			    <xs:element name="PRIMARY_KEY" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="retiroDeDepositoGarantiaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CONTRACT_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
				<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
				<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="RTEFORM" type="xs:string" minOccurs="0"/>
				<xs:element name="PAYMENT_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PAYMENT_METHOD" type="xs:string"/>
							<xs:element name="PAYMENT_CURRENCY" type="xs:string"/>
							<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0" />
							<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BILL_DETAIL" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>