Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CTS/actualizaSistemaCobis/xsd/services.xsd

<schema elementFormDefault="qualified" targetNamespace="http://service.srvaplcobiscliente.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://dto2.sdf.cts.cobis.cobiscorp.com" xmlns:Q1="http://dto.srvaplcobisentidades.ecobis.cobiscorp">
    <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/><import schemaLocation="cobiscorp.ecobis.srvaplcobisentidades.dto.xsd" namespace="http://dto.srvaplcobisentidades.ecobis.cobiscorp"/><element name="opActualizacionClienteSolicitud" type="Q1:Data"/><element name="opActualizacionClienteRespuesta" type="Q1:OpActClienteRespuesta"/><element name="opConsultaClienteInfoSolicitud" type="Q1:OpConsultaClienteSolicitud"/><element name="opConsultaClienteInfoRespuesta" type="Q1:OpConsultaClienteRespuesta"/><element name="opConsultaSituacionFinancieraSolicitud" type="Q1:OpConsultaSituacionFinancieraSolicitud"/><element name="opConsultaSituacionFinancieraRespuesta" type="Q1:OpConsultaSituacionFinancieraRespuesta"/>
</schema>