Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/MTR/cargadorTerceros/wsdl/cargadorTercerosEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicio.cargartercerospmsws.mtrpmsv.cidenet.com.co/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CargadorTercerosService" targetNamespace="http://servicio.cargartercerospmsws.mtrpmsv.cidenet.com.co/">
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://servicio.cargartercerospmsws.mtrpmsv.cidenet.com.co/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://servicio.cargartercerospmsws.mtrpmsv.cidenet.com.co/">
  <xsd:complexType name="respuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="terceroRegistro">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="bancoDestino" type="xsd:int"/>
      <xsd:element minOccurs="0" name="codigoProducto" type="xsd:string"/>
      <xsd:element minOccurs="0" name="codigoTercero" type="xsd:string"/>
      <xsd:element minOccurs="0" name="identificacion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nombre" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tipoProducto" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tercerosRegistro">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tercero" nillable="true" type="ns0:terceroRegistro"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarTerceros">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idCliente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idUsuario" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idBancoOrigen" type="xsd:string"/>
      <xsd:element minOccurs="0" name="terceros" type="ns0:tercerosRegistro"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarTercerosResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="respuestaRegistroTerceros" type="ns0:respuesta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="registrarTerceros" type="ns0:registrarTerceros"/>
  <xsd:element name="registrarTercerosResponse" type="ns0:registrarTercerosResponse"/>
  <xsd:element name="Exception" type="ns0:Exception"/>
  <xsd:complexType name="Exception">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="registrarTerceros">
        <wsdl:part element="tns:registrarTerceros" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="registrarTercerosResponse">
        <wsdl:part element="tns:registrarTercerosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part element="tns:Exception" name="Exception"/>
    </wsdl:message>
    <wsdl:portType name="CargadorTerceros">
        <wsdl:operation name="registrarTerceros">
            <wsdl:input message="tns:registrarTerceros" name="registrarTerceros"/>
            <wsdl:output message="tns:registrarTercerosResponse" name="registrarTercerosResponse"/>
            <wsdl:fault message="tns:Exception" name="Exception"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CargadorTercerosServiceSoapBinding" type="tns:CargadorTerceros">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registrarTerceros">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="registrarTerceros">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registrarTercerosResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CargadorTercerosService">
        <wsdl:port binding="tns:CargadorTercerosServiceSoapBinding" name="CargadorTercerosPort">
            <soap:address location="https://172.23.14.243:7004/CargarTercerosPmsWS/services/cargadorTercerosEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>