Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/General/xsd/CreditCardTypes.xsd

<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/creditCardTypes" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ccd="http://www.ficohsa.com.hn/middleware.services/creditCardTypes" xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes">
    
<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes" schemaLocation="GeneralTypes.xsd"/>    
	
	<xs:simpleType name="financingActiveType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EXTRAFINANCIAMIENTO" />
			<xs:enumeration value="INTRAFINANCIAMIENTO" />
			<xs:enumeration value="PIL TURBO" />
			<xs:enumeration value="PIL" />
			<xs:enumeration value="REESTRUCTURAS" />
			<xs:enumeration value="N/A" />
		</xs:restriction>
	</xs:simpleType>
	    
	<xs:simpleType name="creditLineType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CURRENT" />
			<xs:enumeration value="INTFINANCE" />
			<xs:enumeration value="EXTFINANCE" />
			<xs:enumeration value="PERSONAL_LOAN" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="balancesType">
		<xs:sequence>
			<xs:element name="BALANCE" type="ccd:balanceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="balanceType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MIN_PAYMENT" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TOTAL_PAYMENT" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CURRENT_AMOUNT" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CASH_INTFINANCE_AMOUNT" type="gen:amountType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CASH_EXTFINANCE_AMOUNT" type="gen:amountType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="creditCardPayMethodType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="gen:cardType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EXPIRATION_DATE" type="gen:expirationDateType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="financeDetailsRspType">
		<xs:sequence>
			<xs:element name="CURRENT" type="ccd:currentFinancingType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="PRE_AUTHORIZED" type="ccd:preAuthorizedFinancingType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="currentFinancingType">
		<xs:sequence>
			<xs:element name="FINANCE"  type="ccd:financeType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="financeType">
		<xs:sequence>
			<xs:element name="ID" type="ccd:financeIDType" 
				minOccurs="1" maxOccurs="1" />
			<xs:element name="TYPE" type="ccd:financingActiveType" 
				minOccurs="1" maxOccurs="1" />
			<xs:element name="DESCRIPTION" type="ccd:financeDescriptionType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="CURRENCY" type="gen:currencyType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="DISBURSE_DATE" type="xs:date"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="DISBURSE_BALANCE" type="gen:amountType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PAYOFF_BALANCE" type="gen:amountType"
				minOccurs="1" maxOccurs="1" />
            <xs:element name="PLAN_CODE" type="xs:string"
				minOccurs="1" maxOccurs="1" />
            <xs:element name="PLAN_SEQUENCE" type="xs:string"
				minOccurs="1" maxOccurs="1" />
            <xs:element name="MONTHLY_PAYMENT" type="xs:string"
				minOccurs="1" maxOccurs="1" />
            <xs:element name="INITIAL_LOAN_TERM" type="xs:string"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="financeIDType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="25" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="financeDescriptionType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="financingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INTFINANCE" />
			<xs:enumeration value="EXTFINANCE" />
            <xs:enumeration value="PERSONAL_LOAN" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="preAuthorizedFinancingType">
		<xs:sequence>
			<xs:element name="LOCAL_CURRENCY" type="ccd:currencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="FOREIGN_CURRENCY" type="ccd:currencyType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="currencyType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="gen:currencyType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="TERMS" type="ccd:termsType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="termsType">
		<xs:sequence>
			<xs:element name="TERM" type="ccd:termType" 
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="termType">
		<xs:sequence>
			<xs:element name="MONTHS" type="ccd:monthsType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="TOTAL_AMOUNT" type="gen:amountType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="INTEREST_RATE" type="ccd:termInterestRateType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="REPAYMENT_AMOUNT" type="gen:amountType"
				minOccurs="1" maxOccurs="1" />
            <xs:element name="TYPE" type="ccd:financingType" 
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="monthsType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="4" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="termInterestRateType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8" />
			<xs:fractionDigits value="2" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="paymentTargetType">
		<xs:sequence>
			<xs:element name="CREDIT_LINE" type="ccd:creditLineType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="REFERENCE" type="ccd:paymentTargetReferenceType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="paymentTargetReferenceType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="financeDetailsType">
		<xs:sequence>
			<xs:element name="CREDIT_LINE" type="ccd:financeCreditLineType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="CURRENCY" type="gen:currencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="MONTHS" type="ccd:monthsType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="financeCreditLineType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INTFINANCE" />
			<xs:enumeration value="EXTFINANCE" />
			<xs:enumeration value="PERSONAL_LOAN" />
		</xs:restriction>
	</xs:simpleType>
    
</xs:schema>