Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/General/xsd/GeneralTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/generalTypes"
    xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes"
    elementFormDefault="qualified">
    
    <!-- transactionIdType -->
    <xs:simpleType name="transactionIdType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>	
		</xs:restriction>
	</xs:simpleType>
	
    <!-- simpleTypes -->
	<xs:simpleType name="accountNumberType">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:simpleType name="amountType"> 
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="remittanceAmountType"> 
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="amountDetailType"> 
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="remittanceExchangeRateType"> 
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="5"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	

    <xs:simpleType name="baseLegalTenderType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="CASH"/>
    		<xs:enumeration value="OWN_CHECK"/>
    		<xs:enumeration value="CLEARING"/>
    	</xs:restriction>
    </xs:simpleType>
    
     <xs:simpleType name="forexType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="PURCHASE"/>
    		<xs:enumeration value="SALE"/>	
    	</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="countryType">
    	<xs:restriction base="xs:string">
    		<xs:length value="2"/>
    	</xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="cardType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9]{12}([0-9]{3})?|[25][0-9]{15}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="currencyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EUR"/>
			<xs:enumeration value="GTQ"/>
			<xs:enumeration value="HNL"/>
			<xs:enumeration value="NIO"/>
			<xs:enumeration value="USD"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="directionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INCOMING"/>
			<xs:enumeration value="OUTGOING"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="exchangeRateType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="4"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="expirationDateType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(0[1-9]|1[0-2])[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="genderType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="MALE"/>
    		<xs:enumeration value="FEMALE"/>
    	</xs:restriction>
    </xs:simpleType>

	  <xs:simpleType name="typeValue">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="TILL"/>
    		<xs:enumeration value="OWN_VAULT"/>
    		<xs:enumeration value="OTHER_VAULT"/>
    		<xs:enumeration value="HEAD_VAULT"/>
    		<xs:enumeration value="THIRD_PARTY"/>
    	</xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="greaterThan0">
        <xs:restriction base="xs:integer">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    
	<xs:simpleType name="legalTenderLvl1Type">
		<xs:union memberTypes="gen:tenderCashType"/>
	</xs:simpleType>

	<xs:simpleType name="legalTenderLvl2Type">
		<xs:union memberTypes="gen:legalTenderLvl1Type gen:tenderAccountType"/>
	</xs:simpleType>

	<xs:simpleType name="legalTenderLvl3Type">
		<xs:union memberTypes="gen:legalTenderLvl2Type gen:tenderCheckType"/>
	</xs:simpleType>

	<xs:simpleType name="legalTenderLvl4Type">
		<xs:union memberTypes="gen:legalTenderLvl3Type gen:tenderCardType"/>
	</xs:simpleType>
	
	<xs:simpleType name="legalTenderLvl5Type">
		<xs:union memberTypes="gen:legalTenderLvl4Type gen:fcyCheckType"/>
	</xs:simpleType>
	
    <xs:simpleType name="legalTenderLvl6Type">
		<xs:union memberTypes="gen:legalTenderLvl5Type gen:fxClearingType"/>
	</xs:simpleType>
    
	<xs:simpleType name="kvPairsKeyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="USERNAME"/>
			<xs:enumeration value="PASSWORD"/>
			<xs:enumeration value="TOKEN_ID"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="loanNumberType">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[0-9]+"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="locationType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="HOME"/>
    		<xs:enumeration value="WORK"/>
    		<xs:enumeration value="MAILBOX"/>
    		<xs:enumeration value="OTHER"/>
    	</xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="severityType">
		<xs:restriction base="xs:string">
    		<xs:enumeration value="WARNING"/>
    		<xs:enumeration value="ERROR"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength100">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
		
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
    <xs:simpleType name="telephoneType">
	    <xs:restriction base="xs:string">
			<xs:enumeration value="BEEPER"/>      
			<xs:enumeration value="MOBILE"/>
			<xs:enumeration value="LANDLINE"/>
			<xs:enumeration value="FAX"/>
			<xs:enumeration value="PBX"/>
			<xs:enumeration value="TELEFAX"/>
			<xs:enumeration value="OTHER"/>
	    </xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="NameType">
	    <xs:restriction base="xs:string">
			<xs:enumeration value="ID_CARD"/>      
			<xs:enumeration value="PASSPORT"/>
			<xs:enumeration value="DPI"/>
			<xs:enumeration value="NIT"/>
			<xs:enumeration value="INTL_COMPANY"/>
	    </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="tenderCashType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="CASH"/>
    		<xs:enumeration value="DIGICASH"/>
    	</xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tenderAccountType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="ACCOUNT"/>
    	</xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tenderCheckType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="OWN_CHECK"/>
    		<xs:enumeration value="CLEARING"/>
    		<xs:enumeration value="INTL_CHECK"/>
    	</xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tenderCardType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="DEBIT_CARD"/>
    		<xs:enumeration value="CREDIT_CARD"/>
    	</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="fcyCheckType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="FCY_CHECK"/>
    	</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="fxClearingType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="FX_CLEARING"/>
    	</xs:restriction>
    </xs:simpleType>
    
	<xs:simpleType name="verificationCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3,4}"/>
		</xs:restriction>
	</xs:simpleType>


    <xs:simpleType name="yesNoType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="statusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AVAILABLE"/>
			<xs:enumeration value="PROCESSED"/>
			<xs:enumeration value="EXPIRED"/>
			<xs:enumeration value="CANCELLED"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="productType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="SAVINGS"/>
    		<xs:enumeration value="CHECKING"/>
    		<xs:enumeration value="CREDIT_CARD"/>
    		<xs:enumeration value="LOAN"/>
    		<xs:enumeration value="TERM_DEPOSIT"/>
    	</xs:restriction>
    </xs:simpleType>
	
	<!-- complexTypes -->
	<xs:complexType name="accountPayMethodType">
		<xs:sequence>
			<xs:element name="NUMBER" type="gen:accountNumberType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="additionalInfoType">
    	<xs:sequence>
    		<xs:element name="KV_PAIRS" type="gen:kvPairsWithoutEnumType" minOccurs="0" maxOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="authorizationType">
    	<xs:sequence>
    		<xs:element name="TYPE" minOccurs="1" maxOccurs="1">
    			<xs:simpleType>
    				<xs:restriction base="xs:string">
    					<xs:enumeration value="TOKEN"/>
    					<xs:enumeration value="BASIC"/>
    				</xs:restriction>
    			</xs:simpleType>
    		</xs:element>
    		<xs:element name="KV_PAIRS" type="gen:kvPairsWithEnumType" minOccurs="0" maxOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>

	<xs:complexType name="banknoteBreakdownType">
		<xs:sequence>
			<xs:element name="BANKNOTE" type="gen:banknoteType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="banknoteType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VALUE" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="QUANTITY" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TOTAL" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="checkPayMethodType">
    	<xs:sequence>
			<xs:element name="CHECK_NUMBER" type="gen:greaterThan0" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BANK_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BANK_DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="1"/>														
    	</xs:sequence>
    </xs:complexType>

	<xs:complexType name="dealslipType">
		<xs:sequence>
			<xs:element name="DS_RECORD" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="drcrCardPayMethodType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="gen:cardType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EXPIRATION_DATE" type="gen:expirationDateType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VERIFICATION_CODE" type="gen:verificationCodeType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="kvPairsType">
    	<xs:sequence>
    		<xs:element name="PAIR" minOccurs="0" maxOccurs="unbounded">
    			<xs:complexType>
    				<xs:sequence>
    					<xs:element name="KEY" type="gen:stringMaxLength100" minOccurs="0" maxOccurs="1"/>
    					<xs:element name="VALUE" type="gen:stringMaxLength100" minOccurs="0" maxOccurs="1"/>
    				</xs:sequence>
    			</xs:complexType>
    		</xs:element>
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="kvPairsWithEnumType">
    	<xs:sequence>
    		<xs:element name="PAIR" minOccurs="1" maxOccurs="unbounded">
    			<xs:complexType>
    				<xs:sequence>
    					<xs:element name="KEY" type="gen:kvPairsKeyType" minOccurs="1" maxOccurs="1"/>
    					<xs:element name="VALUE" type="gen:stringMaxLength100" minOccurs="1" maxOccurs="1"/>
    				</xs:sequence>
    			</xs:complexType>
    		</xs:element>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="kvPairsWithoutEnumType">
    	<xs:sequence>
    		<xs:element name="PAIR" minOccurs="1" maxOccurs="unbounded">
    			<xs:complexType>
    				<xs:sequence>
    					<xs:element name="KEY" type="gen:stringMaxLength100" minOccurs="1" maxOccurs="1"/>
    					<xs:element name="VALUE" type="gen:stringMaxLength100" minOccurs="1" maxOccurs="1"/>
    				</xs:sequence>
    			</xs:complexType>
    		</xs:element>
    	</xs:sequence>
    </xs:complexType>
    
	<xs:complexType name="nsoInfoType">
    	<xs:sequence>
    		<xs:element name="TRACE" type="gen:traceType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AUTHORIZATION" type="gen:authorizationType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BANKNOTE_BREAKDOWN" type="gen:banknoteBreakdownType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ADDITIONAL_INFO" type="gen:additionalInfoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CTR_REFERENCE" type="gen:greaterThan0" minOccurs="0" maxOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>

	<xs:complexType name="payExtraInfoType">
		<xs:choice>
			<xs:element name="ACCOUNT" type="gen:accountPayMethodType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CHECK" type="gen:checkPayMethodType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CREDIT_CARD" type="gen:drcrCardPayMethodType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DEBIT_CARD" type="gen:drcrCardPayMethodType" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="payItemType">
		<xs:sequence>
			<xs:element name="TYPE" type="gen:legalTenderLvl6Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AMOUNT" type="gen:amountType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MORE_INFO" type="gen:payExtraInfoType" minOccurs="0" maxOccurs="1"/> 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="paymentType">
		<xs:sequence>
			<xs:element name="PAY_ITEM" type="gen:payItemType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="otherPartyType">
		<xs:sequence>
			<xs:element name="TYPE" type="gen:typeValue" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="traceType">
    	<xs:sequence>
    		<xs:element name="TELLER_ID" type="gen:greaterThan0" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="BRANCH_ID" type="gen:greaterThan0" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="CHANNEL_CODE" type="gen:greaterThan0" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="DATE_TIME" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="QUEUE_TICKET_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="TXN_REF_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="DEALSLIP_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>   
   
    <xs:complexType name="transactionType">
    	<xs:sequence>
    		<xs:element name="DEALSLIP" type="gen:dealslipType" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="TXN_REF_ID" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="TXN_TYPE_ID" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="TXN_DATE" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="AMOUNT" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="DATE_TIME" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="USER" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="BRANCH_ID" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="REQUIRES_CTR" type="gen:yesNoType" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="DEALSLIP_URL" type="xs:string" minOccurs="0" maxOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="personalInformation1Type">
    	<xs:sequence>
    		<xs:element name="FIRST_NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="LAST_NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="OTHER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/> 
    		<xs:element name="COUNTRY_NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>   		
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="personalInformation2Type">
    	<xs:sequence>
    		<xs:element name="ABANKS_CUSTOMER_EXIST" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="ABANKS_CUSTOMER_ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="ID_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="FIRST_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="LAST_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="OTHER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>     		  	
    	</xs:sequence>
    </xs:complexType>  
    
    <xs:complexType name="beneficiaryInfoType">
    	<xs:sequence>
    		<xs:element name="TYPE_ID" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="NUMBER_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="FIRST_NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="MIDDLE_NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="LAST_NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="LAST_NAME2" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="ADDRESS" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="ADDRESS2" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="CITY_CODE" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="STATE_CODE" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="ZIP_CODE" type="xs:string" minOccurs="1" maxOccurs="1"/> 
    		<xs:element name="PHONE" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="PHONE_COUNTRY_CODE" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="EMAIL" type="xs:string" minOccurs="0" maxOccurs="1"/>   		     		   	
    	</xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="ocupationType">
    	<xs:sequence>
    		<xs:element name="ID_OCCUPATION" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="DESCRIPTION_OCC" type="xs:string" minOccurs="0" maxOccurs="1"/>    		   		     		   
    	</xs:sequence>
    </xs:complexType> 
    
     <xs:complexType name="phonesType">
    	<xs:sequence>    		
    		<xs:element name="PHONE" type="gen:phoneType" minOccurs="0" maxOccurs="unbounded"/>    		   		     		   
    	</xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="phoneType">
    	<xs:sequence>
    		<xs:element name="ID_TYPE" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="PHONE_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="NUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>    		   		   		     		  
    	</xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="customerType">
    	<xs:sequence>
    		<xs:element name="ID_TYPE_CUSTOMER" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="CUSTOMER_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>    		    		   		   		     		 
    	</xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="addressType">
    	<xs:sequence>
    		<xs:element name="ADDRESS_TYPE" type="gen:address" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="STATE_ADDRESS" type="gen:stateAddressType" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="CITY_ADDRESS" type="gen:cityType" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="REGION" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="AVENUE" type="xs:string" minOccurs="1" maxOccurs="1"/>  
    		<xs:element name="STREET" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="HOUSE_NUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="REFERENCE" type="xs:string" minOccurs="0" maxOccurs="1"/> 		    		    		   		   		     		
    	</xs:sequence>
    </xs:complexType> 
    
     <xs:complexType name="address">
    	<xs:sequence>
    		<xs:element name="ID_ADDRESS" type="xs:integer" minOccurs="1" maxOccurs="1"/> 
    		<xs:element name="ADDRESS_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>   		    		    		   		   		     		
    	</xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="stateAddressType">
    	<xs:sequence>
    		<xs:element name="ID_STATE" type="xs:integer" minOccurs="1" maxOccurs="1"/> 
    		<xs:element name="STATE_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>   		    		    		   		   		     		
    	</xs:sequence>
    </xs:complexType> 
    
     <xs:complexType name="cityType">
    	<xs:sequence>
    		<xs:element name="ID_CITY" type="xs:integer" minOccurs="1" maxOccurs="1"/> 
    		<xs:element name="CITY_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>   		    		    		   		   		     		
    	</xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="detailsType">
    	<xs:sequence>
    		<xs:element name="DETAILS" type="gen:detailType" minOccurs="0" maxOccurs="1"/>			
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="detailType">
    	<xs:sequence>
    		<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="0" maxOccurs="unbounded"/>
    		<xs:element name="AMOUNT" type="gen:amountDetailType" minOccurs="0" maxOccurs="unbounded"/>    		
    	</xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="codesType">
    	<xs:sequence>
    		<xs:element name="CODES" type="gen:codeType" minOccurs="0" maxOccurs="1"/>			
    	</xs:sequence>
    </xs:complexType>
    <xs:complexType name="codeType">
    	<xs:sequence>
    		<xs:element name="TXN_TYPE_ID" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>    		    	
    	</xs:sequence>
    </xs:complexType> 
    
</xs:schema>