Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v4/Resources/PagoTarjetaCredito/xsd/pagoTarjetaCreditoType.xsd

<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoTarjetaCreditoType"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/pagoTarjetaCreditoType">

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="pagoTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CREDIT_CARD_NUMBER" type="tns:stringMinLength1"/>
				<xs:element name="BALANCE_CURRENCY" type="tns:stringMinLength1"/>
				<xs:element name="TRANSACTION_CURRENCY" type="tns:stringMinLength1"/>
				<xs:element name="PAYMENT_AMOUNT" type="xs:decimal"/>				
				<xs:element name="DEBIT_ACCOUNT" type="tns:stringMinLength1"/>
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="pagoTarjetaCreditoResponse">
		<xs:sequence>
			<xs:element name="TRANSACTION_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="BALANCE_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="BALANCE_PAYMENT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="DEBIT_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBIT_AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="EXCHANGE_RATE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="pagoTarjetaCreditoResponse" type="tns:pagoTarjetaCreditoResponse" />

</xs:schema>