Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Remittances/RequestorServices/WADL/RemittancesRouter_PS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/remittancesTypes" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns="http://wadl.dev.java.net/2009/02" xmlns:gtt="http://www.ficohsa.com.hn/middleware.services/getRemittancesTypes" xmlns:dct="http://www.ficohsa.com.hn/middleware.services/payRemittancesTypes" xmlns:acv="http://www.ficohsa.com.hn/middleware.services/getDetailsRemittanceTypes">
   <doc title="RemittancesRouter_PS">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/remittancesTypes" schemaLocation="../XSD/remittancesTypes.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getRemittancesTypes" schemaLocation="../XSD/getRemittances.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/payRemittancesTypes" schemaLocation="../XSD/payRemittancesTypes.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getDetailsRemittanceTypes" schemaLocation="../XSD/getDetailsRemittanceTypes.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getRemittanceFieldsTypes" schemaLocation="../XSD/getRemittanceFieldsTypes.xsd"/>
        </xsd:schema>
      <schema targetNamespace="http://xmlns.oracle.com/DynamoMigrate/MWBanking/RemittancesRouter_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getRemittanceFields">
                <complexType>
                    <sequence>
                        <element name="RemitterId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="AssetType" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
   </grammars>
   <resources>
      <resource path="/get-catalog-remittances">
         <method name="POST" soa:wsdlOperation="getCatalogRemittances">
            <request soa:paramElement="pns:getCatalogRemittancesRequest" xmlns:pns="http://www.ficohsa.com.hn/middleware.services/remittancesTypes">
               <representation mediaType="application/json" element="cns:getCatalogRemittancesRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/remittancesTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getCatalogRemittancesResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/remittancesTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/get-remittances">
         <method name="POST" soa:wsdlOperation="getRemittances">
            <request soa:paramElement="pns:getRemittancesRequest" xmlns:pns="http://www.ficohsa.com.hn/middleware.services/getRemittancesTypes">
               <representation mediaType="application/json" element="cns:getRemittancesRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getRemittancesTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getRemittancesResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getRemittancesTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/payRemittances">
         <method name="POST" soa:wsdlOperation="payRemittances">
            <request>
               <representation mediaType="application/json" element="cns:pagoRemesas" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/payRemittancesTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:pagoRemesasResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/payRemittancesTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/get-details-remittance">
         <method name="POST" soa:wsdlOperation="getDetailsRemittance">
            <request>
               <representation mediaType="application/json" element="cns:getDetailsRemittanceRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getDetailsRemittanceTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getDetailsRemittanceResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getDetailsRemittanceTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/get-remittance-fields">
         <method name="GET" soa:wsdlOperation="getRemittanceFields">
            <request soa:paramElement="pns:getRemittanceFields" xmlns:pns="http://www.ficohsa.com.hn/middleware.services/getRemittanceFieldsTypes">
               <param name="SourceBank" style="query" soa:expression="$msg.request/GeneralInfo/ns1:SourceBank" type="xsd:string"/>
               <param name="DestinationBank" style="query" soa:expression="$msg.request/GeneralInfo/ns1:DestinationBank" type="xsd:string"/>
               <param name="GlobalId" style="query" soa:expression="$msg.request/GeneralInfo/ns1:GlobalId" type="xsd:string"/>
               <param name="ApplicationId" style="query" soa:expression="$msg.request/GeneralInfo/ns1:ApplicationId" type="xsd:string"/>
               <param name="ApplicationUser" style="query" soa:expression="$msg.request/GeneralInfo/ns1:ApplicationUser" type="xsd:string"/>
               <param name="BranchId" style="query" soa:expression="$msg.request/GeneralInfo/ns1:BranchId" type="xsd:string"/>
               <param name="TransactionDate" style="query" soa:expression="$msg.request/GeneralInfo/ns1:TransactionDate" type="xsd:string"/>
               <param name="Language" style="query" soa:expression="$msg.request/GeneralInfo/ns1:Language" type="xsd:string"/>
               <param name="RemitterId" style="query" soa:expression="$msg.request/RemitterId" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getRemittanceFieldsResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getRemittanceFieldsTypes"/>
            </response>
         </method>
      </resource>
   </resources>
</application>