Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/GestionesSolicitudCredito_v2/wsdl/GestionesSolicitudCredito_v2.wsdl

<WL5G3N0:definitions name="gestionesSolicitudCreditoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sol="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_746543857.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sol="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoTypes" schemaLocation="../xsd/XMLSchema_1227897239.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="precalificacionCliente">
    <WL5G3N0:part element="WL5G3N2:precalificacionCliente" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="precalificacionClienteResponse">
    <WL5G3N0:part element="WL5G3N2:precalificacionClienteResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="confirmacionPrecalificacionCliente">
    <WL5G3N0:part element="WL5G3N2:confirmacionPrecalificacionCliente" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="confirmacionPrecalificacionClienteResponse">
    <WL5G3N0:part element="WL5G3N2:confirmacionPrecalificacionClienteResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="evaluacionSolicitudTarjetaCredito">
    <WL5G3N0:part element="WL5G3N2:evaluacionSolicitudTarjetaCredito" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="evaluacionSolicitudTarjetaCreditoResponse">
    <WL5G3N0:part element="WL5G3N2:evaluacionSolicitudTarjetaCreditoResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="confirmacionSolicitudPrestamoTarjetaCredito">
    <WL5G3N0:part element="WL5G3N2:confirmacionSolicitudPrestamoTarjetaCredito" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="confirmacionSolicitudPrestamoTarjetaCreditoResponse">
    <WL5G3N0:part element="WL5G3N2:confirmacionSolicitudPrestamoTarjetaCreditoResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="confirmacionSolicitudTarjetaCredito">
    <WL5G3N0:part element="WL5G3N2:confirmacionSolicitudTarjetaCredito" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="confirmacionSolicitudTarjetaCreditoResponse">
    <WL5G3N0:part element="WL5G3N2:confirmacionSolicitudTarjetaCreditoResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="evaluacionSolicitudPrestamoTarjetaCredito">
    <WL5G3N0:part element="WL5G3N2:evaluacionSolicitudPrestamoTarjetaCredito" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="evaluacionSolicitudPrestamoTarjetaCreditoResponse">
    <WL5G3N0:part element="WL5G3N2:evaluacionSolicitudPrestamoTarjetaCreditoResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="actualizacionEstadoSolicitudCredito">
    <WL5G3N0:part element="WL5G3N2:actualizacionEstadoSolicitudCredito" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="actualizacionEstadoSolicitudCreditoResponse">
    <WL5G3N0:part element="WL5G3N2:actualizacionEstadoSolicitudCreditoResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="calificacionBlaze">
    <WL5G3N0:part element="WL5G3N2:calificacionBlaze" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="calificacionBlazeResponse">
    <WL5G3N0:part element="WL5G3N2:calificacionBlazeResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="resultadoCalificacionBlaze">
    <WL5G3N0:part element="WL5G3N2:resultadoCalificacionBlaze" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="resultadoCalificacionBlazeResponse">
    <WL5G3N0:part element="WL5G3N2:resultadoCalificacionBlazeResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="gestionesSolicitudCreditoPS">
    <WL5G3N0:operation name="precalificacionCliente" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:precalificacionCliente"/>
      <WL5G3N0:output message="WL5G3N3:precalificacionClienteResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="confirmacionPrecalificacionCliente" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:confirmacionPrecalificacionCliente"/>
      <WL5G3N0:output message="WL5G3N3:confirmacionPrecalificacionClienteResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="evaluacionSolicitudTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:evaluacionSolicitudTarjetaCredito"/>
      <WL5G3N0:output message="WL5G3N3:evaluacionSolicitudTarjetaCreditoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="confirmacionSolicitudPrestamoTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:confirmacionSolicitudPrestamoTarjetaCredito"/>
      <WL5G3N0:output message="WL5G3N3:confirmacionSolicitudPrestamoTarjetaCreditoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="confirmacionSolicitudTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:confirmacionSolicitudTarjetaCredito"/>
      <WL5G3N0:output message="WL5G3N3:confirmacionSolicitudTarjetaCreditoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="evaluacionSolicitudPrestamoTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:evaluacionSolicitudPrestamoTarjetaCredito"/>
      <WL5G3N0:output message="WL5G3N3:evaluacionSolicitudPrestamoTarjetaCreditoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizacionEstadoSolicitudCredito" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:actualizacionEstadoSolicitudCredito"/>
      <WL5G3N0:output message="WL5G3N3:actualizacionEstadoSolicitudCreditoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="calificacionBlaze" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:calificacionBlaze"/>
      <WL5G3N0:output message="WL5G3N3:calificacionBlazeResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="resultadoCalificacionBlaze" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:resultadoCalificacionBlaze"/>
      <WL5G3N0:output message="WL5G3N3:resultadoCalificacionBlazeResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="gestionesSolicitudCreditoPSSOAP" type="WL5G3N3:gestionesSolicitudCreditoPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="precalificacionCliente">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/precalificacionCliente"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="confirmacionPrecalificacionCliente">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/confirmacionPrecalificacionCliente"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="evaluacionSolicitudTarjetaCredito">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/evaluacionSolicitudTarjetaCredito"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="confirmacionSolicitudPrestamoTarjetaCredito">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/confirmacionSolicitudPrestamoTarjetaCredito"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="confirmacionSolicitudTarjetaCredito">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/confirmacionSolicitudTarjetaCredito"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="evaluacionSolicitudPrestamoTarjetaCredito">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/evaluacionSolicitudPrestamoTarjetaCredito"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizacionEstadoSolicitudCredito">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/actualizacionEstadoSolicitudCredito"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="calificacionBlaze">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/calificacionBlaze"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="resultadoCalificacionBlaze">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesSolicitudCreditoPS/resultadoCalificacionBlaze"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="gestionesSolicitudCreditoPS">
    <WL5G3N0:port binding="WL5G3N3:gestionesSolicitudCreditoPSSOAP" name="gestionesSolicitudCreditoPSSOAP">
      <WL5G3N4:address location="http://JOSPINA.CIDENET.LOCAL:7001/Middleware/OperationsAndExecution/Cards/GestionesSolicitudCredito"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>