Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/OSB/ConsultaUsuarioLDAP_v2/xsd/XMLSchema_-1985586403.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaUsuarioLdapTypes/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaUsuarioLdapTypes/v2">

	<xs:element name="consultaUsuarioLdapRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USER_NAME" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaUsuarioLdapResponse" type="cons:consultaUsuarioLdapResponseType"/>
	
	<xs:complexType name="consultaUsuarioLdapResponseType">
		<xs:sequence>
			<xs:element name="consultaUsuarioLdapResponseType" type="cons:consultaUsuarioLdapResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaUsuarioLdapResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaUsuarioLdapResponseRecordType" type="cons:consultaUsuarioLdapResponseArrayType" form="qualified" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaUsuarioLdapResponseArrayType">
		<xs:sequence>
			<xs:element name="USER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0"/>
	    </xs:sequence> 
	</xs:complexType>

</xs:schema>