Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/BusinessServices/AbanksGT/ConsInfoCliente/xsd/MCConsInfoCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MCConsInfoCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MCConsInfoCliente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PR_LEGAL_ID" type="db:PROXYABANKSGT.R_LEGAL_ID" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PR_NSO_INFO" type="db:PROXYABANKSGT.R_NSO_INFO" db:index="2" db:type="Struct" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PR_GENERAL" type="db:PROXYABANKSGT.R_GENERAL" db:index="3" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PR_PHONE_NUMBERS" type="db:PROXYABANKSGT.R_PHONE_NUMBERS" db:index="4" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PR_ADDRESSES" type="db:PROXYABANKSGT.R_ADDRESSES" db:index="5" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ESTADO" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ESTADO" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.T_GN_LEGAL_ID">
      <sequence>
         <element name="GN_LEGAL_ID_ITEM" type="db:PROXYABANKSGT.R_GN_LEGAL_ID" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_PHONE_NUMBER_ITEM">
      <sequence>
         <element name="PHONE_NUMBER_ITEM_ITEM" type="db:PROXYABANKSGT.R_PHONE_NUMBER_ITEM" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_ADDRESS_ITEM">
      <sequence>
         <element name="ADDRESS_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ADDRESS_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="POSTAL_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COUNTRY_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DEPARTMENT_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MUNICIPALITY_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CITY_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DISTRICT_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ADDRESS_LINE_1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ADDRESS_LINE_2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ADDRESS_LINE_3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ADDRESS_LINE_4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ADDRESS_LINE_5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="IS_MAIN_ADDRESS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_BANKNOTE">
      <sequence>
         <element name="CURRENCY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="BANKNOTE_VALUE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TOTAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_KV_PAIR">
      <sequence>
         <element name="PAIR" type="db:PROXYABANKSGT.T_PAIR" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_PHONE_NUMBER_ITEM">
      <sequence>
         <element name="LOCATION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="AREA_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="4"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PHONE_NUMBER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="IS_DEFAULT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_TRACE">
      <sequence>
         <element name="TELLER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BRANCH_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHANNEL_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DATE_TIME" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="QUEUE_TICKET_ID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TXN_REF_NO" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DEALSLIP_ID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_NSO_INFO">
      <sequence>
         <element name="TRACE" type="db:PROXYABANKSGT.R_TRACE" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="AUTHORIZATION" type="db:PROXYABANKSGT.R_AUTHORIZATION" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="BANKNOTE_BREAKDOWN" type="db:PROXYABANKSGT.R_BANKNOTE_BREAKDOWN" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="ADDITIONAL_INFO" type="db:PROXYABANKSGT.R_ADDITIONAL_INFO" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="CTR_REFERENCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_BANKNOTE_BREAKDOWN">
      <sequence>
         <element name="BANKNOTE" type="db:PROXYABANKSGT.T_BANKNOTE" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_GN_LEGAL_IDS">
      <sequence>
         <element name="GN_LEGAL_ID" type="db:PROXYABANKSGT.T_GN_LEGAL_ID" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_GN_LEGAL_ID">
      <sequence>
         <element name="NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="EXPIRATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ISSUER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CITY_OF_ISSUANCE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="STATE_OF_ISSUANCE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COUNTRY_OF_ISSUANCE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_ADDRESS_ITEM">
      <sequence>
         <element name="ADDRESS_ITEM_ITEM" type="db:PROXYABANKSGT.R_ADDRESS_ITEM" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_LEGAL_ID">
      <sequence>
         <element name="NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="EXPIRATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ISSUER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_PHONE_NUMBERS">
      <sequence>
         <element name="PHONE_NUMBER_ITEM" type="db:PROXYABANKSGT.T_PHONE_NUMBER_ITEM" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_ADDITIONAL_INFO">
      <sequence>
         <element name="KV_PAIRS" type="db:PROXYABANKSGT.T_PAIR" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_PAIR">
      <sequence>
         <element name="KEY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VALUE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_GENERAL">
      <sequence>
         <element name="GN_LEGAL_IDS" type="db:PROXYABANKSGT.R_GN_LEGAL_IDS" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="FIRST_GIVEN_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SECOND_GIVEN_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FIRST_FAMILY_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SECOND_FAMILY_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LEGAL_FULL_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="200"/>
               </restriction>
            </simpleType>
         </element>
         <element name="GENDER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DATE_OF_BIRTH" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="NATIONALITY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_PAIR">
      <sequence>
         <element name="PAIR_ITEM" type="db:PROXYABANKSGT.R_PAIR" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_BANKNOTE">
      <sequence>
         <element name="BANKNOTE_ITEM" type="db:PROXYABANKSGT.R_BANKNOTE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_AUTHORIZATION">
      <sequence>
         <element name="TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="KV_PAIRS" type="db:PROXYABANKSGT.R_KV_PAIR" db:type="Struct" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_ADDRESSES">
      <sequence>
         <element name="ADDRESS_ITEM" type="db:PROXYABANKSGT.T_ADDRESS_ITEM" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
</schema>
