Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/FinanciamientoTC/wsdl/financiamientoTCPS.wsdl

<wsdl:definitions name="financiamientoTCPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:def="http://www.ficohsa.com.hn/middleware.services/financiamientoTCTypes">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/financiamientoTCTypes" schemaLocation="../xsd/financiamientoTCTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestHeader">
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="responseHeader">
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>     
     
    <wsdl:message name="consultaFinanciamiento">
        <wsdl:part element="def:consultaFinanciamiento" name="parameters"/>
    </wsdl:message>    
    <wsdl:message name="consultaFinanciamientoResponse">
        <wsdl:part element="def:consultaFinanciamientoResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:message name="procesaFinanciamiento">
        <wsdl:part element="def:procesaFinanciamiento" name="parameters"/>
    </wsdl:message>    
    <wsdl:message name="procesaFinanciamientoResponse">
        <wsdl:part element="def:procesaFinanciamientoResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:message name="confirmaFinanciamiento">
        <wsdl:part element="def:confirmaFinanciamiento" name="parameters"/>
    </wsdl:message>    
    <wsdl:message name="confirmaFinanciamientoResponse">
        <wsdl:part element="def:confirmaFinanciamientoResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:message name="reversaFinanciamiento">
        <wsdl:part element="def:reversaFinanciamiento" name="parameters"/>
    </wsdl:message>    
    <wsdl:message name="reversaFinanciamientoResponse">
        <wsdl:part element="def:reversaFinanciamientoResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:portType name="financiamientoTCPS">
        <wsdl:operation name="consultaFinanciamiento" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaFinanciamiento"/>
            <wsdl:output message="fic:consultaFinanciamientoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="procesaFinanciamiento" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:procesaFinanciamiento"/>
            <wsdl:output message="fic:procesaFinanciamientoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="confirmaFinanciamiento" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:confirmaFinanciamiento"/>
            <wsdl:output message="fic:confirmaFinanciamientoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="reversaFinanciamiento" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:reversaFinanciamiento"/>
            <wsdl:output message="fic:reversaFinanciamientoResponse"/>
        </wsdl:operation>
     </wsdl:portType>
    
    
    <wsdl:binding name="financiamientoTCPSSOAP" type="fic:financiamientoTCPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultaFinanciamiento">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/consultaFinanciamiento"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="procesaFinanciamiento">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/procesaFinanciamiento"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="confirmaFinanciamiento">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/confirmaFinanciamiento"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="reversaFinanciamiento">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/reversaFinanciamiento"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="financiamientoTCPS">
        <wsdl:port binding="fic:financiamientoTCPSSOAP" name="financiamientoTCPSSOAP">
           <soap:address location="https://10.242.104.250:8004/Middleware/OperationsAndExecution/Cards/FinanciamientoTC"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>