Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaTransaccionACH/xsd/consultaTransaccionACHTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTransaccionACHTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaTransaccionACHTypes">
	
	<xs:complexType name="consultaTransaccionACHResponse">
		<xs:sequence>
			<xs:element name="ORIGINAL_MESSAGE_ID" type="xs:string" minOccurs="0" />
			<xs:element name="PROCESSED_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="RECEIVING_BANK_ID" type="xs:string" minOccurs="0" />
			<xs:element name="REASON_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="TRANSACTIONS" minOccurs="0" maxOccurs="1">	 
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TRANSACTION_RECORD" minOccurs="0" maxOccurs="unbounded" >
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DETAIL_ID" type="xs:string" minOccurs="0" />
									<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0" />
									<xs:element name="ORIGINATING_ACCOUNT" type="xs:string" minOccurs="0" />
									<xs:element name="RECEIVING_ACCOUNT" type="xs:string" minOccurs="0" />
									<xs:element name="RECEIVING_ACCOUNT_NAME" type="xs:string" minOccurs="0" />
									<xs:element name="STATUS" type="xs:string" minOccurs="0" />
									<xs:element name="AMOUNT" type="xs:string" minOccurs="0" />		
									<xs:element name="RESULTS" type="xs:string" minOccurs="0" />	
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
	    </xs:sequence> 
	</xs:complexType>
	
	<xs:element name="consultaTransaccionACH">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TRANSACTION_TYPE">
					<xs:simpleType>
			       		<xs:restriction base="xs:string">
			       			<xs:enumeration value="INCOMING"/>
			       			<xs:enumeration value="OUTGOING"/>
			       			<xs:minLength value="1"/>	       			
			       		</xs:restriction>
			     </xs:simpleType>
				</xs:element>	            
	            <xs:element name="TRANSACTION_CURRENCY" type="xs:string" minOccurs="1"/>
	            <xs:element name="SEARCH_CRITERIA">
					<xs:simpleType>
			       		<xs:restriction base="xs:string">
			       			<xs:enumeration value="MESSAGEID"/>
			       			<xs:enumeration value="TRANSACTIONID"/>
			       			<xs:minLength value="1"/>
			       		</xs:restriction>
			      	</xs:simpleType>
				</xs:element>		            
	            <xs:element name="SEARCH_VALUE" type="xs:string" minOccurs="1"/>	            
	            <xs:element name="SEQUENCY_T24" type="xs:string" minOccurs="0"/>
	            <xs:element name="UPDATE_BACKEND_YES_NO" minOccurs="0" maxOccurs="1">
	            	<xs:simpleType>
	            		<xs:restriction base="xs:string">
	            			<xs:enumeration value="YES"/>
	            			<xs:enumeration value="NO"/>
	            			<xs:enumeration value=""/>
	            		</xs:restriction>
	            	</xs:simpleType>
	            </xs:element>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaTransaccionACHResponse" type="cons:consultaTransaccionACHResponse" />
	
</xs:schema>