Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/BusinessServices/AbanksGT/ConsultaDepositoPlazo/xsd/MCConsCD_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MCConsCD" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MCConsCD" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_ACCOUNT_NUMBER" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PR_ACCOUNT_INFO" type="db:PROXYABANKSGT.R_ACCOUNT_INFO" db:index="2" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ESTADO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ESTADO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.R_ACCOUNT_INFO">
      <sequence>
         <element name="NUMBERS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NAME" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TYPE" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STATUS" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
</schema>
