Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/tarjetaCredito/SolicitudTarjetaCredito/solicitudTarjetaCreditoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/solicitudTarjetaCreditoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/solicitudTarjetaCreditoTypes">

	<xs:complexType name="solicitudTarjetaCreditoResponse">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="solicitudTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USER_ID" type="xs:string" />
				<xs:element name="EMAIL_ADDRESS" type="xs:string" />
				<xs:element name="CUSTOMER_ID" type="xs:string" />
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string"
					minOccurs="0" />
				<xs:element name="CREDIT_CARD_TYPE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CARD_TYPE" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PERSONAL_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FIRST_GIVEN_NAME" type="xs:string" />
							<xs:element name="SECOND_GIVEN_NAME" type="xs:string" />
							<xs:element name="FIRST_FAMILY_NAME" type="xs:string" />
							<xs:element name="SECOND_FAMILY_NAME" type="xs:string" />
							<xs:element name="MARRIED_LAST_NAME" type="xs:string" />
							<xs:element name="ID_NUMBER" type="xs:string" />
							<xs:element name="NATIONALITY" type="xs:string" />
							<xs:element name="PROFESSION_OR_TRADE" type="xs:string" />
							<xs:element name="HOUSEHOLD_STATUS" type="xs:string" />
							<xs:element name="NUMBER_OF_DEPENDANTS" type="xs:string" />
							<xs:element name="GENDER" type="xs:string" />
							<xs:element name="MARITAL_STATUS" type="xs:string" />
							<xs:element name="BIRTH_DATE" type="xs:string" />
							<xs:element name="HOME_ADDRESS" type="xs:string" />
							<xs:element name="STREET" type="xs:string" />
							<xs:element name="AVENUE" type="xs:string" />
							<xs:element name="HOME_HOUSE_NUMBER" type="xs:string" />
							<xs:element name="HOME_PHONE_NUMBER" type="xs:string" />
							<xs:element name="HOME_FAX" type="xs:string" />
							<xs:element name="HOME_CITY" type="xs:string" />
							<xs:element name="HOME_STATE" type="xs:string" />
							<xs:element name="HOME_POSTAL_CODE" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SPOUSE_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FIRST_GIVEN_NAME" type="xs:string" />
							<xs:element name="SECOND_GIVEN_NAME" type="xs:string" />
							<xs:element name="FIRST_FAMILY_NAME" type="xs:string" />
							<xs:element name="SECOND_FAMILY_NAME" type="xs:string" />
							<xs:element name="MARRIED_LAST_NAME" type="xs:string" />
							<xs:element name="ID_NUMBER" type="xs:string" />
							<xs:element name="PROFESSION_OR_TRADE" type="xs:string" />
							<xs:element name="NAME_OF_EMPLOYMENT" type="xs:string" />
							<xs:element name="SENIORITY" type="xs:string" />
							<xs:element name="JOB_TITLE" type="xs:string" />
							<xs:element name="WORK_PHONE_NUMBER" type="xs:string" />
							<xs:element name="WORK_FAX" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SOURCE_OF_INCOME">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NAME_OF_EMPLOYMENT" type="xs:string" />
							<xs:element name="EMPLOYMENT_ENTRY_DATE" type="xs:string" />
							<xs:element name="JOB_TITLE" type="xs:string" />
							<xs:element name="WORK_PHONE_NUMBER" type="xs:string" />
							<xs:element name="WORK_FAX" type="xs:string" />
							<xs:element name="MONTHLY_INCOME" type="xs:string" />
							<xs:element name="WORK_ADDRESS" type="xs:string" />
							<xs:element name="WORK_STREET" type="xs:string" />
							<xs:element name="WORK_AVENUE" type="xs:string" />
							<xs:element name="WORK_HOUSE_NUMBER" type="xs:string" />
							<xs:element name="WORK_CITY" type="xs:string" />
							<xs:element name="WORK_STATE" type="xs:string" />
							<xs:element name="WORK_POSTAL_CODE" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PROPERTIES">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NAME" type="xs:string" />
							<xs:element name="VALUE" type="xs:string" />
							<xs:element name="ASSESSMENT" type="xs:string" />
							<xs:element name="BENEFICIARY" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BANK_REFERENCES">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FIN_INSTITUTE_NAME" type="xs:string" />
							<xs:element name="ACCOUNT_TYPE" type="xs:string" />
							<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
							<xs:element name="AVERAGE_BALANCE" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OTHER_CREDIT_CARDS">

					<xs:complexType>
						<xs:sequence>
							<xs:element name="OTHER_CREDIT_CARDS_RECORD"
								minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FIN_INSTITUTE_NAME" type="xs:string" />
										<xs:element name="CREDIT_LIMIT" type="xs:string" />
										<xs:element name="CARD_NUMBER" type="xs:string" />
										<xs:element name="EXPIRATION_DATE" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="REFERENCES">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NON_HOME_RELATIVE" type="xs:string" />
							<xs:element name="KINSHIP" type="xs:string" />
							<xs:element name="ADDRESS" type="xs:string" />
							<xs:element name="WORK_PHONE_NUMBER_1" type="xs:string" />
							<xs:element name="HOME_PHONE_NUMBER_1" type="xs:string" />
							<xs:element name="FICOHSA_REFERENCE" type="xs:string" />
							<xs:element name="BRANCH_OR_DEPARTMENT" type="xs:string" />
							<xs:element name="WORK_PHONE_NUMBER_2" type="xs:string" />
							<xs:element name="HOME_PHONE_NUMBER_2" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ADDITIONAL_CARD">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FIRST_GIVEN_NAME" type="xs:string" />
							<xs:element name="SECOND_GIVEN_NAME" type="xs:string" />
							<xs:element name="FIRST_FAMILY_NAME" type="xs:string" />
							<xs:element name="SECOND_FAMILY_NAME" type="xs:string" />
							<xs:element name="AGE" type="xs:string" />
							<xs:element name="ID_NUMBER" type="xs:string" />
							<xs:element name="KINSHIP" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ACCOUNT_STMT_DELIVERY">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ADDRESS_TYPE" type="xs:string" />
							<xs:element name="COMPANY" type="xs:string" />
							<xs:element name="WORK_STREET" type="xs:string" />
							<xs:element name="WORK_AVENUE" type="xs:string" />
							<xs:element name="WORK_HOUSE_NUMBER" type="xs:string" />
							<xs:element name="WORK_CITY" type="xs:string" />
							<xs:element name="WORK_STATE" type="xs:string" />
							<xs:element name="WORK_PHONE_NUMBER" type="xs:string" />
							<xs:element name="POSTAL_CODE_NUMBER" type="xs:string" />
							<xs:element name="POSTAL_CODE_CITY" type="xs:string" />
							<xs:element name="POSTAL_CODE_DEPARTMENT" type="xs:string" />
							<xs:element name="HOME_NEIGHBORHOOD" type="xs:string" />
							<xs:element name="HOME_STREET" type="xs:string" />
							<xs:element name="HOME_AVENUE" type="xs:string" />
							<xs:element name="HOME_HOUSE_NUMBER" type="xs:string" />
							<xs:element name="HOME_CITY" type="xs:string" />
							<xs:element name="HOME_STATE" type="xs:string" />
							<xs:element name="HOME_PHONE_NUMBER" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="COLLATERAL_PERSONAL_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FIRST_GIVEN_NAME" type="xs:string" />
							<xs:element name="SECOND_GIVEN_NAME" type="xs:string" />
							<xs:element name="FIRST_FAMILY_NAME" type="xs:string" />
							<xs:element name="SECOND_FAMILY_NAME" type="xs:string" />
							<xs:element name="MARRIED_LAST_NAME" type="xs:string" />
							<xs:element name="ID_NUMBER" type="xs:string" />
							<xs:element name="NATIONALITY" type="xs:string" />
							<xs:element name="PROFESSION_OR_TRADE" type="xs:string" />
							<xs:element name="HOUSEHOLD_STATUS" type="xs:string" />
							<xs:element name="NUMBER_OF_DEPENDANTS" type="xs:string" />
							<xs:element name="GENDER" type="xs:string" />
							<xs:element name="MARITAL_STATUS" type="xs:string" />
							<xs:element name="BIRTH_DATE" type="xs:string" />
							<xs:element name="HOME_ADDRESS" type="xs:string" />
							<xs:element name="STREET" type="xs:string" />
							<xs:element name="AVENUE" type="xs:string" />
							<xs:element name="HOME_HOUSE_NUMBER" type="xs:string" />
							<xs:element name="HOME_CITY" type="xs:string" />
							<xs:element name="HOME_STATE" type="xs:string" />
							<xs:element name="HOME_POSTAL_CODE" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="COLLATERAL_SPOUSE_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FIRST_GIVEN_NAME" type="xs:string" />
							<xs:element name="SECOND_GIVEN_NAME" type="xs:string" />
							<xs:element name="FIRST_FAMILY_NAME" type="xs:string" />
							<xs:element name="SECOND_FAMILY_NAME" type="xs:string" />
							<xs:element name="MARRIED_LAST_NAME" type="xs:string" />
							<xs:element name="PROFESSION_OR_TRADE" type="xs:string" />
							<xs:element name="NAME_OF_EMPLOYMENT" type="xs:string" />
							<xs:element name="SENIORITY" type="xs:string" />
							<xs:element name="JOB_TITLE" type="xs:string" />
							<xs:element name="PHONE_NUMBER" type="xs:string" />
							<xs:element name="FAX" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="COLLATERAL_SRC_OF_INCOME">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NAME_OF_EMPLOYMENT" type="xs:string" />
							<xs:element name="EMPLOYMENT_ENTRY_DATE" type="xs:string" />
							<xs:element name="JOB_TITLE" type="xs:string" />
							<xs:element name="WORK_PHONE_NUMBER" type="xs:string" />
							<xs:element name="WORK_FAX" type="xs:string" />
							<xs:element name="MONTHLY_INCOME" type="xs:string" />
							<xs:element name="WORK_ADDRESS" type="xs:string" />
							<xs:element name="WORK_STREET" type="xs:string" />
							<xs:element name="WORK_AVENUE" type="xs:string" />
							<xs:element name="WORK_HOUSE_NUMBER" type="xs:string" />
							<xs:element name="WORK_CITY" type="xs:string" />
							<xs:element name="WORK_STATE" type="xs:string" />
							<xs:element name="WORK_POSTAL_CODE" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="COLLATERAL_PROPERTIES">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NAME" type="xs:string" />
							<xs:element name="VALUE" type="xs:string" />
							<xs:element name="ASSESSMENT" type="xs:string" />
							<xs:element name="BENEFICIARY" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="COLLATERAL_BANK_REFERENCES">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FIN_INSTITUTE_NAME" type="xs:string" />
							<xs:element name="ACCOUNT_TYPE" type="xs:string" />
							<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
							<xs:element name="AVERAGE_BALANCE" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="COLLATERAL_OTHER_CRD_CARDS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="COLLATERAL_OTHER_CRD_CARDS_RECORD"
								minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FIN_INSTITUTE_NAME" type="xs:string" />
										<xs:element name="CREDIT_LIMIT" type="xs:string" />
										<xs:element name="CARD_NUMBER" type="xs:string" />
										<xs:element name="EXPIRATION_DATE" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="COLLATERAL_REFERENCES">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NON_HOME_RELATIVE" type="xs:string" />
							<xs:element name="KINSHIP" type="xs:string" />
							<xs:element name="ADDRESS" type="xs:string" />
							<xs:element name="WORK_PHONE_NUMBER_1" type="xs:string" />
							<xs:element name="HOME_PHONE_NUMBER_1" type="xs:string" />
							<xs:element name="FICOHSA_REFERENCE" type="xs:string" />
							<xs:element name="BRANCH_OR_DEPARTMENT" type="xs:string" />
							<xs:element name="WORK_PHONE_NUMBER_2" type="xs:string" />
							<xs:element name="HOME_PHONE_NUMBER_2" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="solicitudTarjetaCreditoResponse" type="cons:solicitudTarjetaCreditoResponse" />

</xs:schema>