Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ConsultaFondoPensiones/xsd/consultaFondoPensiones_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaFondoPensiones" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaFondoPensiones" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_IDENTIFICACION" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_CUENTAS" type="db:WL_OSB.CUENTAS" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CODIGO_ERROR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DESCRIPCION_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="WL_OSB.CUENTAS">
      <sequence>
         <element name="CUENTA" type="db:WL_OSB.INFO_CUENTA" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="WL_OSB.INFO_CUENTA">
      <sequence>
         <element name="NUMERO_CUENTA" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCION_CUENTA" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONEDA" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SALDO_DISPONIBLE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SALDO_TOTAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
</schema>