Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CompruebaElegibilidad/xsd/compruebaElegibilidad_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/compruebaElegibilidad" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/compruebaElegibilidad" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_REQUESTID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_INSTITUTIONCODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_VAULTIDENTIFICATION" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_WALLETID" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TOKENREQUESTORID" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TOKENREQUESTORNAME" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TOKENREFID" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PANREFID" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_ENCRYPTEDCARDINFO" type="db:DIGITARCLI.OT_ANDES_ENCRYPTEDPAYLOAD" db:index="9" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_PROCESSID" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_USERLANGUAGE" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SOURCE" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_RISKINFORMATION" type="db:DIGITARCLI.OT_ANDES_RISKINFO" db:index="13" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PB_RISKINFORMATIONRESUBMISSION" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TOKENTYPE" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RECOMMENDEDDECISION" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RECOMMENDEDDECISIONREASONCODE" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_REQUESTIDOUT" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PROCESSIDOUT" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURNCODE" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERRORDESCRIPTION" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_CARDMETADATA" type="db:DIGITARCLI.OT_ANDES_CARDMETADATA" db:index="22" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PA_AUTHENTICATIONELEMENT1" type="db:DIGITARCLI.t_authenticationMethods" db:index="23" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_USERID" type="string" db:index="24" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_MARKET" type="db:DIGITARCLI.OT_ANDES_MARKETOBJECT" db:index="25" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PT_EXPIRATIONDATE" type="db:DIGITARCLI.OT_ANDES_EXPIRATIONDATE" db:index="26" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_PANSECUENCE" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DIGITARCLI.authenticationMethods">
      <sequence>
         <element name="IDENTIFIER" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MASKEDINFO" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PLATFORM" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SOURCEADDRESS" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TYPE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUSTOMERADDRESS" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.OT_ANDES_ENCRYPTEDPAYLOAD">
      <sequence>
         <element name="ALGORITHM" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NONCE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="IV" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ENCRYPTEDDATA" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="ASSOCIATEDDATA" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="MACLENGTH" type="int" db:type="INTEGER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.OT_ANDES_EXPIRATIONDATE">
      <sequence>
         <element name="MONTH" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="YEAR" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.OT_ANDES_MARKETOBJECT">
      <sequence>
         <element name="COUNTRYCODE" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REGIONNAME" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LOCALE" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.OT_ANDES_CARDMETADATA">
      <sequence>
         <element name="FOREGROUNDCOLOR" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BACKGROUNDCOLOR" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LABELCOLOR" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SHORTDESCRIPTION" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LONGDESCRIPTION" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONTACTEMAIL" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONTACTPHONE" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONTACTNAME" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TERMSANDCONDITIONSID" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARDARTID" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRODUCTID" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRODUCTNAME" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRODUCTTYPE" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.OT_ANDES_RISKINFO">
      <sequence>
         <element name="RECOMMENDEDDECISION" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEVICESCORE" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNTSCORE" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.t_authenticationMethods">
      <sequence>
         <element name="PA_AUTHENTICATIONELEMENT1_ITEM" type="db:DIGITARCLI.authenticationMethods" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string64">
      <restriction base="string">
         <maxLength value="64"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
</schema>