Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABK/desembolsaPrestamo/xsd/desembolsaPrestamo_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/desembolsaPrestamo" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/desembolsaPrestamo" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_CLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_PRESTAMO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_TIPO_GASTO" type="db:PROXYABANKSHN.OSB_T_TIPO_GASTO" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_AGENCIA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCION" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_DETALLE_DESEMBOLSO" type="db:PROXYABANKSHN.OSB_T_TIPO_DESEMBOLSO" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIO_INTERFAZ" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIO_SISTEMA" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_TIPO_GASTO" type="db:PROXYABANKSHN.OSB_T_TIPO_GASTO" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DETALLE_DESEMBOLSO" type="db:PROXYABANKSHN.OSB_T_TIPO_DESEMBOLSO" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ERROR" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCION_ERROR" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSHN.OSB_RG_TIPO_DESEMBOLSO">
      <sequence>
         <element name="TIPO_PRODUCTO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUMERO_PRODUCTO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_MONEDA" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REFERENCIA_TRANSACCION" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DATOS_ADICIONALES" type="db:PROXYABANKSHN.OSB_T_KV_PAIR" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.OSB_T_TIPO_DESEMBOLSO">
      <sequence>
         <element name="PT_DETALLE_DESEMBOLSO_ITEM" type="db:PROXYABANKSHN.OSB_RG_TIPO_DESEMBOLSO" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.OSB_T_TIPO_GASTO">
      <sequence>
         <element name="PT_TIPO_GASTO_ITEM" type="db:PROXYABANKSHN.OSB_RG_TIPO_GASTO" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.OSB_RG_KV_PAIR">
      <sequence>
         <element name="KEY" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALOR" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.OSB_RG_TIPO_GASTO">
      <sequence>
         <element name="TIPO" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REFERENCIA_TRANSACCION" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.OSB_T_KV_PAIR">
      <sequence>
         <element name="DATOS_ADICIONALES_ITEM" type="db:PROXYABANKSHN.OSB_RG_KV_PAIR" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
</schema>