Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaComportamientoCuenta/xsd/consultaComportamientoCuentaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="consultaComportamientoCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_NUMBER" type="tns:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="transactionType">
		<xs:sequence>
			<xs:element name="ORG" type="xs:string" minOccurs="0"/>
			<xs:element name="PAST_CYCLE_INDEX" type="xs:string" minOccurs="0"/>
			<xs:element name="PURCHASE_AMOUNT " type="xs:string" minOccurs="0"/>
			<xs:element name="WITHDRAWAL_AMOUNT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaComportamientoCuentaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="CYCLES_SUMMARY" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CYCLE_SUMMARY" type="tns:transactionType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>