Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/CreaTransaccionBancaria/xsd/creaTransaccionBancariaTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/creaTransaccionBancariaTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creaTransaccionBancariaTypes">

	<xs:element name="creaTransaccionBancaria">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSFER_TYPE" type="xs:string" />
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" />
				<xs:element name="CREDIT_ACCOUNT" type="xs:string" />
				<xs:element name="CREDIT_ACCOUNT_TYPE" type="xs:string" />
				<xs:element name="TRANSACTION_TYPE" type="xs:string" />
				<xs:element name="CURRENCY" type="xs:string" />
				<xs:element name="TRANSFER_AMOUNT" type="xs:string" />
				<xs:element name="DESCRIPTION" type="xs:string" />
				<xs:element name="BANK_ID" type="xs:string" />
				<xs:element name="TICKET" type="xs:string" />
				<xs:element name="BENEFICIARY_NAME" type="xs:string" />
				<xs:element name="BENEFICIARY_ID" type="xs:string" />
				<xs:element name="GLOBAL_REFERENCE" type="xs:string" />
				<xs:element name="REFERENCE_NUMBER" type="xs:string" />
				<xs:element name="ID_INDIRECT_PARTICIPANT" type="xs:string" />
				<xs:element name="ID_INDIRECT_PARTICIPANT_RECEIVER" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="creaTransaccionBancariaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string"
					minOccurs="0" />
				<xs:element name="CREDIT_ACCOUNT" type="xs:string"
					minOccurs="0" />
				<xs:element name="DEBIT_CUSTOMER" type="xs:string"
					minOccurs="0" />
				<xs:element name="CREDIT_CUSTOMER" type="xs:string"
					minOccurs="0" />
				<xs:element name="DEBIT_CURRENCY" type="xs:string"
					minOccurs="0" />
				<xs:element name="CREDIT_CURRENCY" type="xs:string"
					minOccurs="0" />
				<xs:element name="DEBIT_AMOUNT" type="xs:string"
					minOccurs="0" />
				<xs:element name="CREDIT_AMOUNT" type="xs:string"
					minOccurs="0" />
				<xs:element name="COMMISSION_AMOUNT" type="xs:string"
					minOccurs="0" />
				<xs:element name="EXCHANGE_RATE" type="xs:string"
					minOccurs="0" />
				<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSACTION_ID" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>