Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/Cobis/GestionAccesoUsuarios/xsd/gestionAccesosUsuarios_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/gestionAccesosUsuarios" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/gestionAccesosUsuarios" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="s_ssn" type="int" db:index="1" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="s_ofi" type="short" db:index="2" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="s_term" type="db:string30" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_modo" type="int" db:index="4" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_interfaz" type="db:string30" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_user_solic" type="db:string14" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_nombre" type="db:string64" db:index="7" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_login" type="db:string14" db:index="8" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_sexo" type="db:string1" db:index="9" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_nomina" type="int" db:index="10" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing1" type="short" db:index="11" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_departamento" type="byte" db:index="12" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_cargo" type="byte" db:index="13" db:type="TINYINT" minOccurs="0" nillable="true"/>
            <element name="i_jefe" type="short" db:index="14" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_estado" type="db:string1" db:index="15" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing1" type="short" db:index="16" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing2" type="short" db:index="17" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing3" type="short" db:index="18" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing4" type="short" db:index="19" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing5" type="short" db:index="20" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing6" type="short" db:index="21" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing7" type="short" db:index="22" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing8" type="short" db:index="23" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing9" type="short" db:index="24" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing10" type="short" db:index="25" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing11" type="short" db:index="26" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing12" type="short" db:index="27" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing13" type="short" db:index="28" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing14" type="short" db:index="29" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing15" type="short" db:index="30" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing16" type="short" db:index="31" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing17" type="short" db:index="32" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing18" type="short" db:index="33" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing19" type="short" db:index="34" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_oficina_ing20" type="short" db:index="35" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing2" type="short" db:index="36" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing3" type="short" db:index="37" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing4" type="short" db:index="38" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing5" type="short" db:index="39" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing6" type="short" db:index="40" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing7" type="short" db:index="41" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing8" type="short" db:index="42" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing9" type="short" db:index="43" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing10" type="short" db:index="44" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing11" type="short" db:index="45" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing12" type="short" db:index="46" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing13" type="short" db:index="47" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing14" type="short" db:index="48" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing15" type="short" db:index="49" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing16" type="short" db:index="50" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing17" type="short" db:index="51" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing18" type="short" db:index="52" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing19" type="short" db:index="53" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_rol_ing20" type="short" db:index="54" db:type="SMALLINT" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="RETURN_VALUE" type="int" db:index="0" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_codigo_respuesta" type="int" db:index="55" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_descripcion_respuesta" type="db:string200" db:index="56" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string14">
      <restriction base="string">
         <maxLength value="14"/>
      </restriction>
   </simpleType>
   <simpleType name="string64">
      <restriction base="string">
         <maxLength value="64"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
</schema>