Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/CreacionClienteBanco/xsd/creacionClienteBancoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:crea="http://www.ficohsa.com.hn/middleware.services/creacionClienteBancoTypes"
           targetNamespace="http://www.ficohsa.com.hn/middleware.services/creacionClienteBancoTypes"
           elementFormDefault="qualified" attributeFormDefault="qualified"
           version="1.0">
 
 <!--TYPES-->
 <xs:simpleType name="YesNoType">
   <xs:restriction base="xs:string">
     <xs:enumeration value="YES"/>
     <xs:enumeration value="NO"/>
   </xs:restriction>
 </xs:simpleType>   
 <xs:simpleType name="YesNoEmptyType">
   <xs:restriction base="xs:string">
     <xs:enumeration value="YES"/>
     <xs:enumeration value="NO"/>
     <xs:enumeration value=""/>
   </xs:restriction>   
 </xs:simpleType>
  <xs:simpleType name="gobermentContractorType">
   <xs:restriction base="xs:string">
     <xs:enumeration value="YES"/>
     <xs:enumeration value="NO"/>
     <xs:enumeration value="INPROCESS"/>
     <xs:minLength value="1"/>
   </xs:restriction>
 </xs:simpleType>
 
 <xs:simpleType name="relationPepType">
   <xs:restriction base="xs:string">
     <xs:enumeration value="AFFINITY"/>
     <xs:enumeration value="CONSANGUINITY"/>
     <xs:enumeration value=""/>
   </xs:restriction>
 </xs:simpleType>  
	          
 <xs:simpleType name="relationshipPepType">
   <xs:restriction base="xs:string">
     <xs:enumeration value="CHILDREN"/>
     <xs:enumeration value="FATHER"/>
     <xs:enumeration value="MOTHER"/>
     <xs:enumeration value="SPOUSE"/>
     <xs:enumeration value=""/>
   </xs:restriction>
 </xs:simpleType>                 
          
 <!-- CLIENTE NATURAL -->          
 <xs:element name="creacionClienteNaturalBanco">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="BASIC_INFO" type="crea:customerType"/>
    <xs:element name="CONTACT_INFO" type="crea:contactType"/>
    <xs:element name="FINANCIAL_INFO" type="crea:financialInfoType"/>
    <xs:element name="REFERENCES_INFO" type="crea:referencesType"/>
    <xs:element name="MARKETING_INFO" type="crea:marketingInfoType"/>
    <xs:element name="RELATIONSHIPS_INFO" type="crea:relationshipsType"/>
    <xs:element name="BANK_INFO" type="crea:bankType"/>
    <xs:element name="DNFBP_INFO" type="crea:DnfbpType" minOccurs="0"/>
    <xs:element name="PEP_INFO" type="crea:PepType" minOccurs="0"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name="creacionClienteNaturalBancoResponse">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="CUSTOMER_ID" type="xs:string"/>
    <xs:element name="CUSTOMER_NAME" type="xs:string"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 
 <!-- Basic Information -->
 <xs:complexType name="customerType">
  <xs:sequence>  
   <xs:element name="IDENTIFICATION" type="crea:legalIdentificationListType"/>
   <xs:element name="FIRST_NAME">
    <xs:simpleType>
     <xs:restriction base="xs:string">      
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="SECOND_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="THIRD_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="FIRST_LASTNAME">
    <xs:simpleType>
     <xs:restriction base="xs:string">      
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="SECOND_LASTNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="GENDER">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="MALE"/>
      <xs:enumeration value="FEMALE"/>
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="DATE_OF_BIRTH">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>   
   <xs:element name="BIRTHPLACE">
    <xs:simpleType>
     <xs:restriction base="xs:string">      
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>   
   <xs:element name="COUNTRY_OF_BIRTH">
    <xs:simpleType>
     <xs:restriction base="xs:string">      
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>   
   <xs:element name="MARITAL_STATUS">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="SINGLE"/>
      <xs:enumeration value="MARRIED"/>
      <xs:enumeration value="DIVORCED"/>
      <xs:enumeration value="WIDOWED"/>
      <xs:enumeration value="WIDOW"/>
      <xs:enumeration value="LEGALLY"/>
      <xs:enumeration value="COMMONLAWMARRIAGE"/>
      <xs:enumeration value="SEPARATEPROPERTY"/>
      <xs:enumeration value="OTHER"/>
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="SPOUSE_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="MARRIED_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="NATIONALITY">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="RESIDENCE">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="LANGUAGE">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="LEGAL_GIVEN_NAMES" type="xs:string" maxOccurs="1"/>
   <xs:element name="LEGAL_FAMILY_NAMES" type="xs:string" maxOccurs="1"/>   
   <xs:element name="SECTOR" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="INDUSTRY" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="TARGET" type="xs:string" minOccurs="0" maxOccurs="1"/>    
   <xs:element name="ADDITIONAL_INFO" type="crea:additionalInfoListType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="MULTIPLE_NATIONALITY" type="crea:YesNoType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="GOVERMENT_CONTRACTOR" type="crea:gobermentContractorType" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="legalIdentificationListType">
  <xs:sequence>
   <xs:element name="LEGAL_IDENTIFICATION_ITEM" type="crea:legalIdentificationType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="legalIdentificationType">
  <xs:sequence>
   <xs:element name="LEGAL_DOCUMENT_NAME">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="LEGAL_ID">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="DATE_OF_ISSUANCE">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element> 
   <xs:element name="MATURITY_DATE" minOccurs="0">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:pattern value="\s*|[0-9]{8}"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element> 
  </xs:sequence>
 </xs:complexType> 
 
 <xs:complexType name="additionalInfoListType">
  <xs:sequence>
   <xs:element name="AFFILIATION_BENEFICIARY_ITEM" type="xs:string"/>
  </xs:sequence>
 </xs:complexType> 
 
 
 <!-- Contact Information -->
 <xs:complexType name="contactType">
  <xs:sequence>
   <xs:element name="ADDRESS_INFO" type="crea:addressListType" maxOccurs="1"/>
   <xs:element name="EMAIL_ADDRESS_INFO" type="crea:emailAddressListType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="PHONE_NUMBER_INFO" type="crea:phoneNumberListType" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>  
  
 <xs:complexType name="addressListType">
  <xs:sequence>
   <xs:element name="ADDRESS_ITEM" type="crea:addressType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="addressType">
  <xs:sequence>
   <xs:element name="ADDRESS_TYPE">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="WORK"/>
      <xs:enumeration value="MAILBOX"/>
      <xs:enumeration value="OTHER"/>
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="MAIN_ADDRESS">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="YES"/>
      <xs:enumeration value="NO"/>
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="POBOX" type="xs:string"/>
   <xs:element name="ZIP_CODE" type="xs:string"/>
   <xs:element name="COUNTRY_CODE">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="DEPARTMENT_CODE">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="MUNICIPALITY_CODE"  type="xs:string" maxOccurs="1"/>
   <xs:element name="CITY_CODE">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="DISTRICT_CODE">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="ADDRESS_LINE_1" type="xs:string" maxOccurs="1"/>
   <xs:element name="ADDRESS_LINE_2" type="xs:string" maxOccurs="1"/>
   <xs:element name="DOMICILE" type="xs:string" maxOccurs="1"/>
   <xs:element name="BUILDING" type="xs:string" maxOccurs="1"/>
   <xs:element name="FLOOR" type="xs:string" maxOccurs="1"/>
   <xs:element name="APARTMENT" type="xs:string" maxOccurs="1"/>
   <xs:element name="DETAILS" type="xs:string" maxOccurs="1"/>
   <xs:element name="AVENUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="STREET" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="BLOCK" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="HOUSE_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="phoneNumberListType">
  <xs:sequence>
   <xs:element name="PHONE_NUMBER_ITEM" type="crea:phoneNumberType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="phoneNumberType">
  <xs:sequence>
   <xs:element name="PHONE_LOCATION" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="WORK"/>
      <xs:enumeration value="OTHER"/>
      <xs:enumeration value=""/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="PHONE_TYPE" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="BEEPER"/>      
      <xs:enumeration value="MOBILE"/>
      <xs:enumeration value="LANDLINE"/>
      <xs:enumeration value="FAX"/>
      <xs:enumeration value="PBX"/>
      <xs:enumeration value="TELEFAX"/>
      <xs:enumeration value="OTHER"/>
      <xs:enumeration value=""/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="PHONE_AREA_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="emailAddressListType">
  <xs:sequence>
   <xs:element name="EMAIL_ADDRESS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

  
 <!-- Financial Information -->
 <xs:complexType name="financialInfoType">
  <xs:sequence>
   <xs:element name="LEVEL_OF_EDUCATION">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="ELEMENTARY"/>
      <xs:enumeration value="MIDDLE"/>
      <xs:enumeration value="UNIVERSITY"/>
      <xs:enumeration value="MASTERS"/>
      <xs:enumeration value="DOCTORAL"/>
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="CURRENTLY_EMPLOYED">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="YES"/>
      <xs:enumeration value="NO"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="OCCUPATION">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="MERCHANT_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="SALES_VOLUME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="PROFESSION" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="COMPANY_TYPE">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
      <xs:enumeration value="GOVERNMENT"/>
      <xs:enumeration value="PRIVATE"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:element name="COMPANY_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="EMPLOYMENT_START" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="JOB_TITLE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="SOURCE_OF_INCOME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="INCOME_CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="INCOME_RANGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="SECTORIZATION" type="crea:sectorizationListType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="FISCAL_YEAR_INFO" type="crea:fiscalYearListType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="OTHERS_INCOME" type="crea:othersIncomeListType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="BUSINESS_SEGMENT" type="xs:string" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="sectorizationListType">
  <xs:sequence>
   <xs:element name="SECTORIZATION_ITEM" type="crea:sectorizationItemType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="sectorizationItemType">
  <xs:sequence>
   <xs:element name="SECTORIZATION_TYPE" type="xs:string" maxOccurs="1"/>
   <xs:element name="SECTORIZATION_CODE" type="xs:string" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="fiscalYearListType">
  <xs:sequence>
   <xs:element name="FISCAL_ITEM" type="crea:fiscalYearItemType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="fiscalYearItemType">
  <xs:sequence>
   <xs:element name="LOCAL_AMOUNT" type="xs:string" maxOccurs="1"/>
   <xs:element name="YEAR" type="xs:string" maxOccurs="1"/>
   <xs:element name="FCY_AMOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="othersIncomeListType">
  <xs:sequence>
   <xs:element name="INCOME_ITEM" type="crea:otherIncomeItemType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="otherIncomeItemType">
  <xs:sequence>
   <xs:element name="TYPE" type="xs:string" minOccurs = "0" maxOccurs="1"/>
   <xs:element name="MONTHLY_AMOUNT" type="xs:string" minOccurs = "0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <!-- References Information -->
 <xs:complexType name="referencesType">
  <xs:sequence>
   <xs:element name="PERSONAL_REFERENCE" type="crea:pesonalReferenceType" minOccurs="0" maxOccurs="unbounded"/>
   <xs:element name="COMMERCIAL_REFERENCE" type="crea:commercialReferenceType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="pesonalReferenceType">
  <xs:sequence>
   <xs:element name="FIRST_NAME" type="xs:string" maxOccurs="1"/>
   <xs:element name="LAST_NAME" type="xs:string" maxOccurs="1"/>
   <xs:element name="MARRIED_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="TELEPHONE_NUMBER" type="xs:string" maxOccurs="1"/>
   <xs:element name="RELATION_WITH_CUSTOMER" type="xs:string" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="commercialReferenceType">
  <xs:sequence>
   <xs:element name="COMPANY_NAME" type="xs:string" maxOccurs="1"/>
   <xs:element name="CONTACT_NAME" type="xs:string" maxOccurs="1"/>
   <xs:element name="TELEPHONE_NUMBER" type="xs:string" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>


 <!-- Marketing Information -->
 <xs:complexType name="marketingInfoType">
  <xs:sequence>
   <xs:element name="NUMBER_OF_DEPENDENTS" type="xs:string" maxOccurs="1"/>
   <xs:element name="OWNS_VEHICLE" minOccurs="1" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="YES"/>
      <xs:enumeration value="NO"/>
      <xs:minLength value="1"/>
     </xs:restriction>	
    </xs:simpleType>
   </xs:element>
   <xs:element name="HOUSEHOLDS" type="crea:householdListType" maxOccurs="1"/>
   <xs:element name="INTERNET_ACCESS" type="xs:string" maxOccurs="1"/>
   <xs:element name="TYPE_OF_CONNECTION" type="xs:string" maxOccurs="1"/>
   <xs:element name="BUSINESS_AREA" type="xs:string" maxOccurs="1"/>
   <xs:element name="INTL_BUSINESS" type="xs:string" maxOccurs="1"/>
   <xs:element name="INTL_BUSINESS_TYPE" type="xs:string" maxOccurs="1"/>
   <xs:element name="CURRENT_PROJECTS" type="xs:string" maxOccurs="1"/>
   <xs:element name="BANKS_OF_BUSINESS" type="xs:string" maxOccurs="1"/>
   <xs:element name="BANKING_PRODUCTS" type="xs:string" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="householdListType">
 	<xs:sequence>
 		<xs:element name="HOUSEHOLD_ITEM" type="crea:householdItemType" minOccurs="0" maxOccurs="unbounded"/>
 	</xs:sequence>
 </xs:complexType>

 <xs:complexType name="householdItemType">
 	<xs:sequence>
 		<xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
 		<xs:element name="TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
 		<xs:element name="OWNER_SINCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
 		<xs:element name="ESTIMATED_VALUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
 	</xs:sequence>
 </xs:complexType>

 <!-- Relationships Information -->
 <xs:complexType name="relationshipsType">
  <xs:sequence>
   <xs:element name="RELATIONSHIP_ITEM" type="crea:relationshipItemType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType> 

 <xs:complexType name="relationshipItemType">
  <xs:sequence>
   <xs:element name="CODE" type="xs:string" maxOccurs="1"/>
   <xs:element name="CUSTOMER" type="xs:string" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>

 <!-- Bank Information -->
 <xs:complexType name="bankType">
  <xs:sequence>
   <xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="SUGGESTED_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>     
  </xs:sequence>
 </xs:complexType>

  <!-- Desginated Non-Financial Business and Professions Information -->
 <xs:complexType name="DnfbpType">
  <xs:sequence>
   <xs:element name="DNFBP" type="crea:YesNoType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="DNFBP_PROFESSION" type="xs:string" minOccurs="0" maxOccurs="1"/>     
  </xs:sequence>
 </xs:complexType>
 
  <!-- PEP Information -->
 <xs:complexType name="PepType">
  <xs:sequence>
   <xs:element name="PEP" type="crea:YesNoType" maxOccurs="1" default = "NO"/>
   <xs:element name="JOB_TITLE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="INSTITUTION_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="PEP_RELATED_PRODUCT" type="crea:YesNoType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="PEP_CUSTOMER_ACCEPTANCE" type="crea:YesNoEmptyType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="JOB_TITLES" type="crea:jobTitleType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="FAMILIAR_PUBLIC_FIGURE" type="crea:familiarPEPType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="FAMILY_MEMBERS_INFO" type="crea:familyMembersType" minOccurs="0" maxOccurs="1"/>
   <xs:element name="AUTHORIZATION_INFO" type="crea:PepAuthorizationType" minOccurs="0" maxOccurs="1"/>        
  </xs:sequence>
 </xs:complexType>
 
  <xs:complexType name="jobTitleType">
     <xs:sequence>
        <xs:element name="TITLE_ITEM" type="crea:titleItemType" minOccurs="0" maxOccurs="unbounded"/>
     </xs:sequence>
  </xs:complexType> 

  <xs:complexType name="titleItemType">
     <xs:sequence>
        <xs:element name="POLITICAL_FIGURE" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="HOLDER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="JOB_TITLE" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PERIOD" type="xs:string" minOccurs="0" maxOccurs="1"/>
     </xs:sequence>
  </xs:complexType> 
  
  <xs:complexType name="familiarPEPType">
     <xs:sequence>
        <xs:element name="FAMILIAR_ITEM" type="crea:familiarItemType" minOccurs="0" maxOccurs="unbounded"/>
     </xs:sequence>
  </xs:complexType>
    
  <xs:complexType name="familiarItemType">
     <xs:sequence>
        <xs:element name="POLITICAL_FIGURE" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="RELATION_TYPE" type="crea:relationPepType" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="RELATIONSHIP_DETAIL" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="FULL_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="JOB_TITLE" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PERIOD" type="xs:string" minOccurs="0" maxOccurs="1"/>
     </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="familyMembersType">
     <xs:sequence>
        <xs:element name="MEMBER_ITEM" type="crea:membersItemType" minOccurs="0" maxOccurs="unbounded"/>
     </xs:sequence>
  </xs:complexType>
    
  <xs:complexType name="membersItemType">
     <xs:sequence>
        <xs:element name="RELATIONSHIP_TYPE" type="crea:relationshipPepType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="FULL_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="LEGAL_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
     </xs:sequence>
  </xs:complexType> 

 <xs:complexType name="PepAuthorizationType">
  <xs:sequence>
   <xs:element name="AUTHORISER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="AUTHORISER_JOB_TITLE" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="AUTHORIZATION_DATE" minOccurs="0" maxOccurs="1">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:pattern value="\s*|[0-9]{8}"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>     
  </xs:sequence>
 </xs:complexType>     
</xs:schema>