Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/v2/BusinessServices/ConsultaEstadoContratoACH_v2/xsd/consultaEstadoContratoACHTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaEstadoContratoACHTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaEstadoContratoACHTypes">

	<!-- Parametros de Entrada -->
    <xs:element name="consultaEstadoContratoACH">
    		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_CONTRATO" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
        
	<!-- Parametros de Salida -->
	<xs:element name="consultaEstadoContratoACHResponse" type="tns:consultaEstadoContratoACHResponseRecord"/>
	
	<xs:complexType name="consultaEstadoContratoACHResponseRecord">
			<xs:sequence>
				<xs:element name="consultaEstadoContratoACHResponseRecord" type="tns:consultaEstadoContratoACHResponseRecordType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>		
			
   	<xs:complexType name="consultaEstadoContratoACHResponseRecordType">
    	<xs:sequence>
    		<xs:element name="ID_CONTRATO" type="xs:string"/>
			<xs:element name="ESTADO_CONTRATO" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
            
</xs:schema>