Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaTarjetaCreditoReciente/xsd/ConsultaTarjetaCreditoRecienteTypes.xsd

<xs:schema version="1.0"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsultaTarjetaCreditoRecientexsd"
xmlns:cons="http://www.ficohsa.com.hn/middleware.services/ConsultaTarjetaCreditoRecientexsd">
   <xs:element name="ConsultaTarjetaCreditoRecienteRequest">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="NumCuenta" type="xs:string"  minOccurs="1" nillable="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ConsultaTarjetaCreditoRecienteResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="NumTarjeta" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="NombreCuenta" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="Org" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="Logo" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="FechaExpiracion" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="MensajeError" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="ERROR_SEVERITY" type="xs:string" minOccurs="0" nillable="true"/>                                                
            <xs:element name="ERROR_STATE" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="CodigoError" type="xs:int" minOccurs="0" nillable="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>   
</xs:schema>