Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/RecaudoPOSws/wsdl/svcTGR1_1.wsdl

<wsdl:definitions name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="../xsd/svcTGR1_GD.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="../xsd/svcTGR1_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="../xsd/svcTGR1_1.xsd" namespace="http://schemas.datacontract.org/2004/07/svcTGR1_GD"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Consulta_InputMessage">
    <wsdl:part name="parameters" element="tns:Consulta"/>
  </wsdl:message>
  <wsdl:message name="IService1_Consulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaResponse"/>
  </wsdl:message>
  <wsdl:message name="IService1_Pago_InputMessage">
    <wsdl:part name="parameters" element="tns:Pago"/>
  </wsdl:message>
  <wsdl:message name="IService1_Pago_OutputMessage">
    <wsdl:part name="parameters" element="tns:PagoResponse"/>
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Consulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Consulta" message="tns:IService1_Consulta_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConsultaResponse" message="tns:IService1_Consulta_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Pago">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Pago" message="tns:IService1_Pago_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PagoResponse" message="tns:IService1_Pago_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Consulta">
      <soap:operation soapAction="http://tempuri.org/IService1/Consulta" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pago">
      <soap:operation soapAction="http://tempuri.org/IService1/Pago" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://hnsvrflinkdesa.gfficohsa.hn:8189/svcTGR1_GD.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>