Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/MovilGetPushReceipt/xsd/GetPushReceipt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/GetPushReceiptTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/GetPushReceiptTypes">
  <!--############################################-->
  <!--Request-->
  <!--############################################-->
  <xs:complexType name="GetPushReceipt">
    <xs:sequence>
      <xs:element name="REQUEST_ID" type="xs:string" minOccurs="1"/>
      <xs:element name="INSTITUTION_CODE" type="xs:string" minOccurs="1"/>
      <xs:element name="ENCRYPTED_CARD_INFO" type="tns:ENCRYPTED_CARD_INFO_TYPE" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENCRYPTED_CARD_INFO_TYPE">
    <xs:sequence>
      <xs:element minOccurs="1" type="xs:string" name="ALGORITHM"/>
      <xs:element minOccurs="0" type="tns:stringMaxLength30" name="NONCE"/>
      <xs:element minOccurs="0" type="tns:stringMaxLength32" name="IV"/>
      <xs:element minOccurs="1" type="xs:string" name="ENCRYPTED_DATA"/>
      <xs:element minOccurs="0" type="xs:string" name="ASSOCIATED_DATA"/>
      <xs:element minOccurs="1" type="xs:int" name="MAC_LENGTH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="stringMaxLength30">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stringMaxLength32">
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <!--############################################-->
  <!--Response-->
  <!--############################################-->
  <xs:complexType name="GetPushReceiptResponse">
    <xs:sequence>
      <xs:element name="REQUEST_ID" type="xs:string" minOccurs="1"/>
      <xs:element name="RETURN_CODE" type="xs:string" minOccurs="1"/>
      <xs:element name="ERROR_DESCRIPTION" type="xs:string" minOccurs="0"/>
      <xs:element name="PUSH_RECEIPT_ID" type="xs:string" minOccurs="0"/>
      <xs:element name="RECEIPT_EXPIRATION_TIME" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--############################################-->
  <!--Request and Response Types-->
  <!--############################################-->
  <xs:element name="GetPushReceipt" type="tns:GetPushReceipt"/>
  <xs:element name="GetPushReceiptResponse" type="tns:GetPushReceiptResponse"/>
</xs:schema>