Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaVisanetPosDwh/xsd/consultaVisanetPosDwhTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaVisanetPosDwhTypes"
	elementFormDefault="qualified" attributeFormDefault="qualified"
	version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaVisanetPosDwhTypes">
	<xs:element name="consultaVisanetPosDwhRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TAX_ID" type="xs:string" minOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="consultaVisanetPosDwhResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MERCHANTS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MERCHANT" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MERCHANT_ID" type="xs:string"
											minOccurs="0" />
										<xs:element name="MERCHANT_NAME" type="xs:string"
											minOccurs="0" />
										<xs:element name="MERCHANT_CATEGORY_CODE" type="xs:string"
											minOccurs="0" />
										<xs:element name="MERCHANT_CATEGORY_NAME" type="xs:string"
											minOccurs="0" />
										<xs:element name="STATUS_DESCRIPTION" type="xs:string"
											minOccurs="0" />
										<xs:element name="TAX_ID" type="xs:string"
											minOccurs="0" />
										<xs:element name="MERCHANT_TYPE" type="xs:string"
											minOccurs="0" />
										<xs:element name="CONTACT_ID" type="xs:string"
											minOccurs="0" />
										<xs:element name="MERCHANT_CONTACT_NAME" type="xs:string"
											minOccurs="0" />
										<xs:element name="MDR_BG_NAME" type="xs:string"
											minOccurs="0" />
										<xs:element name="MDR_CI_NAME" type="xs:string"
											minOccurs="0" />
										<xs:element name="MDR_VC_NAME" type="xs:string"
											minOccurs="0" />
										<xs:element name="MDR_LU_NAME" type="xs:string"
											minOccurs="0" />
										<xs:element name="CARD_ACQUIRES">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CARD_ACQUIRE" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CARD_ACQUIRER_ID" type="xs:string"
																	minOccurs="0" />
																<xs:element name="CARD_ACQUIRER_NAME" type="xs:string"
																	minOccurs="0" />
																<xs:element name="CARD_ACQUIRER_ACTIVE" type="xs:string"
																	minOccurs="0" />
																<xs:element name="CLEARING_CURRENCY" type="xs:int" />
																<xs:element name="CARD_ACQUIRER_CONTACT_NAME"
																	type="xs:string" minOccurs="0" />
																<xs:element name="PHONE" type="xs:string"
																	minOccurs="0" />
																<xs:element name="ADDRESS">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="BRANCH_ADDRESS" type="xs:string"
																				minOccurs="0" />
																			<xs:element name="CITY" type="xs:string"
																				minOccurs="0" />
																			<xs:element name="TOWN" type="xs:string"
																				minOccurs="0" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="TERMINALS">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="TERMINAL" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="TERMINAL_ID" type="xs:string"
																							minOccurs="0" />
																						<xs:element name="TERMINAL_ACTIVE"
																							type="xs:string" minOccurs="0" />
																						<xs:element name="VISA_TERMINAL_TYPE"
																							type="xs:string" minOccurs="0" />
																						<xs:element name="QUOTES_PROFILE" type="xs:string"
																							minOccurs="0" />
																						<xs:element name="CHECKOUT_RATE" type="xs:string"
																							minOccurs="0" />
																						<xs:element name="CARD_PRESENCE_REQUIRED"
																							type="xs:int" />
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="EMAILS">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="EMAIL" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="CORRELATIVE" type="xs:string"
																							minOccurs="0" />
																						<xs:element name="EMAIL" type="xs:string"
																							minOccurs="0" />
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>