Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/OperacionesCAP/wsdl/operacionesCAPPS.wsdl

<wsdl:definitions name="operacionesCAPPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesCAPPS" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/operacionesCAPPS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesCAPTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/operacionesCAPTypes" schemaLocation="../xsd/operacionesCAPTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="afiliacionCAPRequest">
		<wsdl:part element="tns:afiliacionCAPRequest" name="inputParameters"/>
	</wsdl:message>
	<wsdl:message name="afiliacionCAPResponse">
		<wsdl:part element="tns:afiliacionCAPResponse" name="outputResult"/>
	</wsdl:message>

	<wsdl:message name="modificacionCAPRequest">
		<wsdl:part element="tns:modificacionCAPRequest" name="inputParameters"/>
	</wsdl:message>
	<wsdl:message name="modificacionCAPResponse">
		<wsdl:part element="tns:modificacionCAPResponse" name="outputResult"/>
	</wsdl:message>

	<wsdl:message name="modificacionEstadoCAPRequest">
		<wsdl:part element="tns:modificacionEstadoCAPRequest" name="inputParameters"/>
	</wsdl:message>
	<wsdl:message name="modificacionEstadoCAPResponse">
		<wsdl:part element="tns:modificacionEstadoCAPResponse" name="outputResult"/>
	</wsdl:message>

	<wsdl:message name="consultaAfiliacionCAPRequest">
		<wsdl:part element="tns:consultaAfiliacionCAPRequest" name="inputParameters"/>
	</wsdl:message>
	<wsdl:message name="consultaAfiliacionCAPResponse">
		<wsdl:part element="tns:consultaAfiliacionCAPResponse" name="outputResult"/>
	</wsdl:message>
	
	<wsdl:message name="validacionCAPRequest">
		<wsdl:part element="tns:validacionCAPRequest" name="inputParameters"/>
	</wsdl:message>
	<wsdl:message name="validacionCAPResponse">
		<wsdl:part element="tns:validacionCAPResponse" name="outputResult"/>
	</wsdl:message>
	
	<wsdl:message name="consultaCuentasDisponiblesRequest">
		<wsdl:part element="tns:consultaCuentasDisponiblesRequest" name="inputParameters"/>
	</wsdl:message>
	<wsdl:message name="consultaCuentasDisponiblesResponse">
		<wsdl:part element="tns:consultaCuentasDisponiblesResponse" name="outputResult"/>
	</wsdl:message>
	
	<wsdl:message name="consultaAfiliacionesPorClienteRequest">
		<wsdl:part element="tns:consultaAfiliacionesPorClienteRequest" name="inputParameters"/>
	</wsdl:message>
	<wsdl:message name="consultaAfiliacionesPorClienteResponse">
		<wsdl:part element="tns:consultaAfiliacionesPorClienteResponse" name="outputResult"/>
	</wsdl:message>
	
	<wsdl:message name="consultaCuentasCAPDisponiblesRequest">
        <wsdl:part element="tns:consultaCuentasCAPDisponiblesRequest" name="inputParameters"/>
    </wsdl:message>
    <wsdl:message name="consultaCuentasCAPDisponiblesResponse">
        <wsdl:part element="tns:consultaCuentasCAPDisponiblesResponse" name="outputResult"/>
    </wsdl:message>
	
	<wsdl:message name="desbloqueoCAPRequest">
        <wsdl:part element="tns:desbloqueoCAPRequest" name="inputParameters"/>
    </wsdl:message>
    <wsdl:message name="desbloqueoCAPResponse">
        <wsdl:part element="tns:desbloqueoCAPResponse" name="outputResult"/>
    </wsdl:message>
    
    <wsdl:message name="bloqueoCAPRequest">
        <wsdl:part element="tns:bloqueoCAPRequest" name="inputParameters"/>
    </wsdl:message>
    <wsdl:message name="bloqueoCAPResponse">
        <wsdl:part element="tns:bloqueoCAPResponse" name="outputResult"/>
    </wsdl:message>

	<wsdl:portType name="operacionesCAPPS">
		<wsdl:operation name="afiliacionCAP" parameterOrder="inputParameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:afiliacionCAPRequest"/>
			<wsdl:output message="fic:afiliacionCAPResponse"/>
		</wsdl:operation>
		<wsdl:operation name="modificacionCAP" parameterOrder="inputParameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:modificacionCAPRequest"/>
			<wsdl:output message="fic:modificacionCAPResponse"/>
		</wsdl:operation>
		<wsdl:operation name="modificacionEstadoCAP" parameterOrder="inputParameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:modificacionEstadoCAPRequest"/>
			<wsdl:output message="fic:modificacionEstadoCAPResponse"/>
		</wsdl:operation>
		<wsdl:operation name="consultaAfiliacionCAP" parameterOrder="inputParameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaAfiliacionCAPRequest"/>
			<wsdl:output message="fic:consultaAfiliacionCAPResponse"/>
		</wsdl:operation>
		<wsdl:operation name="validacionCAP" parameterOrder="inputParameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:validacionCAPRequest"/>
			<wsdl:output message="fic:validacionCAPResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaCuentasDisponibles" parameterOrder="inputParameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaCuentasDisponiblesRequest"/>
			<wsdl:output message="fic:consultaCuentasDisponiblesResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaAfiliacionesPorCliente" parameterOrder="inputParameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaAfiliacionesPorClienteRequest"/>
			<wsdl:output message="fic:consultaAfiliacionesPorClienteResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaCuentasCAPDisponibles" parameterOrder="inputParameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaCuentasCAPDisponiblesRequest"/>
        	<wsdl:output message="fic:consultaCuentasCAPDisponiblesResponse"/>
       	</wsdl:operation>
       	
       	<wsdl:operation name="desbloqueoCAP" parameterOrder="inputParameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:desbloqueoCAPRequest"/>
            <wsdl:output message="fic:desbloqueoCAPResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="bloqueoCAP" parameterOrder="inputParameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:bloqueoCAPRequest"/>
            <wsdl:output message="fic:bloqueoCAPResponse"/>
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="operacionesCAPPSSOAP" type="fic:operacionesCAPPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="afiliacionCAP">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCAPPS/afiliacionCAP"/>
			<wsdl:input>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
				<soap:body use="literal" parts="inputParameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
				<soap:body use="literal" parts="outputResult"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificacionCAP">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCAPPS/modificacionCAP"/>
			<wsdl:input>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
				<soap:body use="literal" parts="inputParameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
				<soap:body use="literal" parts="outputResult"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificacionEstadoCAP">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCAPPS/modificacionEstadoCAP"/>
			<wsdl:input>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
				<soap:body use="literal" parts="inputParameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
				<soap:body use="literal" parts="outputResult"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultaAfiliacionCAP">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCAPPS/consultaAfiliacionCAP"/>
			<wsdl:input>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
				<soap:body use="literal" parts="inputParameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
				<soap:body use="literal" parts="outputResult"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validacionCAP">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCAPPS/validacionCAP"/>
			<wsdl:input>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
				<soap:body use="literal" parts="inputParameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
				<soap:body use="literal" parts="outputResult"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="consultaCuentasDisponibles">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCAPPS/consultaCuentasDisponibles"/>
			<wsdl:input>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
				<soap:body use="literal" parts="inputParameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
				<soap:body use="literal" parts="outputResult"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="consultaAfiliacionesPorCliente">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCAPPS/consultaAfiliacionesPorCliente"/>
			<wsdl:input>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
				<soap:body use="literal" parts="inputParameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
				<soap:body use="literal" parts="outputResult"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="consultaCuentasCAPDisponibles">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCAPPS/consultaCuentasCAPDisponibles"/>
            <wsdl:input>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
                <soap:body use="literal" parts="inputParameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
                <soap:body use="literal" parts="outputResult"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="desbloqueoCAP">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCAPPS/desbloqueoCAP"/>
            <wsdl:input>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
                <soap:body use="literal" parts="inputParameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
                <soap:body use="literal" parts="outputResult"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="bloqueoCAP">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCAPPS/bloqueoCAP"/>
            <wsdl:input>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
                <soap:body use="literal" parts="inputParameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
                <soap:body use="literal" parts="outputResult"/>
            </wsdl:output>
        </wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="operacionesCAPPS">
		<wsdl:port binding="fic:operacionesCAPPSSOAP" name="operacionesCAPPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/OperacionesCAP"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>