Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/impuesto/wsdl/COBISCorp.eCOBIS.SrvAplCobisImpuestos.Service.wsdl

<wsdl:definitions name="SrvAplCobisImpuestos" targetNamespace="http://impl.service.srvaplcobisimpuestos.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.srvaplcobisimpuestos.ecobis.cobiscorp" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:S1="http://impl.service.srvaplcobisimpuestos.ecobis.cobiscorp/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.srvaplcobisimpuestos.ecobis.cobiscorp/"><xsd:import namespace="http://service.srvaplcobisimpuestos.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsjOpPagoDGISolicitud">
    <wsdl:part name="parameters" element="tns:opPagoDGISolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaDGISolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaDGISolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaDGIRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaDGIRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpPagoDGIRespuesta">
    <wsdl:part name="parameters" element="tns:opPagoDGIRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SrvAplCobisImpuestos">
    <wsdl:operation name="OpConsultaDGI">
      <wsdl:input message="S1:MsjOpConsultaDGISolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpConsultaDGIRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpPagoDGI">
      <wsdl:input message="S1:MsjOpPagoDGISolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpPagoDGIRespuesta">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvAplCobisImpuestosBindingSOAP12" type="S1:SrvAplCobisImpuestos">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpConsultaDGI">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpPagoDGI">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvAplCobisImpuestosService">
    <wsdl:port name="SrvAplCobisImpuestosBindingSOAP12" binding="S1:SrvAplCobisImpuestosBindingSOAP12">
      <soap12:address location="http://10.235.53.149:9080/GerenciaCobisImpuestos/SrvAplCobisImpuestosService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>