Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/BulkProvisionStartJob/xsd/bulkProvisionStartJobTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/bulkProvisionStartJobTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/bulkProvisionStartJobTypes">

	<!--############################################ -->
	<!--SIMPLE_TYPE -->
	<!--############################################ -->

	<xs:simpleType name="stringMaxLength30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringMaxLength32">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength64">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringMaxLength8">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>


	<!--############################################ -->
	<!--COMPLEX_TYPE -->
	<!--############################################ -->

	<xs:complexType name="ENCRYPTED_CARD_INFO_TYPE">
		<xs:sequence>
			<xs:element name="ALGORITHM" type="xs:string" />
			<xs:element name="NONCE" type="tns:stringMaxLength30"
				minOccurs="0" />
			<xs:element name="IV" type="tns:stringMaxLength32"
				minOccurs="0" />
			<xs:element name="ENCRYPTED_DATA" type="xs:string" />
			<xs:element name="ASSOCIATED_DATA" type="xs:string"
				minOccurs="0" />
			<xs:element name="MAC_LENGTH" type="xs:int" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="ENCRYPTED_CARD_INFO_LIST_TYPE">
		<xs:sequence>
			<xs:element name="ENCRYPTED_CARD_INFO" type="tns:ENCRYPTED_CARD_INFO_TYPE"  maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RETURN_DETAILS_TYPE">
		<xs:sequence>
			<xs:element name="RETURN_CODE" type="tns:stringMaxLength8"
				minOccurs="0" />
			<xs:element name="ERROR_DESCRIPTION" type="xs:string" />
		</xs:sequence>
	</xs:complexType>


	<!--############################################ -->
	<!--OPERACION: BulkProvisionStartJob-->
	<!--############################################ -->

	<xs:element name="BulkProvisionStartJob">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="xs:string" minOccurs="1" />
				<xs:element name="INSTITUTION_CODE" type="tns:stringMaxLength32" minOccurs="1" />
				<xs:element name="VAULT_IDENTIFICATION" type="xs:string" minOccurs="1" />
				<xs:element name="ENCRYPTED_CARD_INFO_LIST" type="tns:ENCRYPTED_CARD_INFO_LIST_TYPE"
					minOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="BulkProvisionStartJobResponse" >
		<xs:complexType>
				<xs:sequence>
					<xs:element name="REQUEST_ID" type="xs:string" minOccurs="1" />
					<xs:element name="BULK_PUSH_RECEIPT_ID" type="xs:string" minOccurs="1" />
					<xs:element name="RETURN_DETAILS" type="tns:RETURN_DETAILS_TYPE" maxOccurs="unbounded" />
				</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>