Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/GestionAccesosUsuarios/wsdl/gestionAccesosUsuariosPS.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_825134121.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_531731114.xsd"/>
		</xsd:schema>
	</types>
	<message name="FicohsaUserOperation">
		<part name="parameters" element="tns:FicohsaUserOperation"/>
	</message>
	<message name="FicohsaUserOperationResponse">
		<part name="parameters" element="tns:FicohsaUserOperationResponse"/>
	</message>
	<message name="FicohsaUserOperation_Validate">
		<part name="parameters" element="tns:FicohsaUserOperation_Validate"/>
	</message>
	<message name="FicohsaUserOperation_ValidateResponse">
		<part name="parameters" element="tns:FicohsaUserOperation_ValidateResponse"/>
	</message>
	<message name="SelectUserValue">
		<part name="parameters" element="tns:SelectUserValue"/>
	</message>
	<message name="SelectUserValueResponse">
		<part name="parameters" element="tns:SelectUserValueResponse"/>
	</message>
	<message name="callOfs">
		<part name="parameters" element="tns:callOfs"/>
	</message>
	<message name="callOfsResponse">
		<part name="parameters" element="tns:callOfsResponse"/>
	</message>
	<portType name="T24WebServicesImpl">
		<operation name="FicohsaUserOperation">
			<input message="tns:FicohsaUserOperation"/>
			<output message="tns:FicohsaUserOperationResponse"/>
		</operation>
		<operation name="FicohsaUserOperation_Validate">
			<input message="tns:FicohsaUserOperation_Validate"/>
			<output message="tns:FicohsaUserOperation_ValidateResponse"/>
		</operation>
		<operation name="SelectUserValue">
			<input message="tns:SelectUserValue"/>
			<output message="tns:SelectUserValueResponse"/>
		</operation>
		<operation name="callOfs">
			<input message="tns:callOfs"/>
			<output message="tns:callOfsResponse"/>
		</operation>
	</portType>
	<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="FicohsaUserOperation">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="FicohsaUserOperation_Validate">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SelectUserValue">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="callOfs">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="T24WebServicesImplService">
		<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
			<soap:address location="http://172.23.13.19:7003/svcGestionAccesos/services"/>
		</port>
	</service>
</definitions>