Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaRecaudo_v3/xsd/XMLSchema_-581217657.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaRecaudoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaRecaudoTypes">
	
	<xs:complexType name="consultaRecaudoResponse">
		<xs:sequence>
		    <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CONTRACT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="BILL_DETAIL" type="xs:string" minOccurs="0"/>
	        <xs:element name="BILLS" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BILL_RECORD" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BILL_NUMBER" type="xs:string" minOccurs="0"/>
									<xs:element name="BILL_CURRENCY" type="xs:string" minOccurs="0"/>
									<xs:element name="BILL_DATE" type="xs:string" minOccurs="0"/>
									<xs:element name="DUE_DATE" type="xs:string" minOccurs="0"/>
									<xs:element name="BILL_AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="LATE_FEE" type="xs:string" minOccurs="0"/>
									<xs:element name="TOTAL_AMOUNT" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
	    </xs:sequence> 
	</xs:complexType>
	
	<xs:element name="consultaRecaudo">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CONTRACT_ID" type="xs:string"/>
	            <xs:element name="DEBTOR_CODE" type="xs:string"/>
	            <xs:element name="CURRENCY" type="xs:string"/>
	            <xs:element name="BILL_AMOUNT" type="xs:string" minOccurs="0"/>
	            <xs:element name="BILL_DATE" type="xs:string" minOccurs="0"/>
	            <xs:element name="BILL_RETURN_TYPE" type="xs:string" minOccurs="0"/>
	            <xs:element name="EXTENDED_COLLECTION_YES_NO" type="xs:string" minOccurs="0"/>
	            <xs:element name="ADDITIONAL_INFO" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DATA" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaRecaudoResponse" type="cons:consultaRecaudoResponse"/>
	
</xs:schema>