Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/FixedTermDepOperations/wsdl/FixedTermDepOperations.wsdl

<wsdl:definitions name="fixedTermDepOperationsPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/fixedTermDepOperationsPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/fixedTermDepOperationsPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:ftd="http://www.ficohsa.com.hn/middleware.services/fixedTermDepOperationsTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../General/xsd/Header.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/fixedTermDepOperationsTypes" schemaLocation="../xsd/FixedTermDepOperationsTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="fixedTermDepQueryRequest">
		<wsdl:part element="ftd:fixedTermDepQuery" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="fixedTermDepQueryResponse">
		<wsdl:part element="ftd:fixedTermDepQueryResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="fixedTermInitialDepositRequest">
		<wsdl:part element="ftd:fixedTermInitialDeposit" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="fixedTermInitialDepositResponse">
		<wsdl:part element="ftd:fixedTermInitialDepositResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:portType name="fixedTermDepOperationsPS">
		<wsdl:operation name="fixedTermDepQuery" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:fixedTermDepQueryRequest"/>
			<wsdl:output message="fic:fixedTermDepQueryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="fixedTermInitialDeposit" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:fixedTermInitialDepositRequest"/>
			<wsdl:output message="fic:fixedTermInitialDepositResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="fixedTermDepOperationsPSSOAP" type="fic:fixedTermDepOperationsPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="fixedTermDepQuery">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/fixedTermDepOperationsPS/fixedTermDepQuery"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:fixedTermDepQueryRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:fixedTermDepQueryResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fixedTermInitialDeposit">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/fixedTermDepOperationsPS/fixedTermInitialDeposit"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:fixedTermInitialDepositRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:fixedTermInitialDepositResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="fixedTermDepOperationsPS">
		<wsdl:port binding="fic:fixedTermDepOperationsPSSOAP" name="fixedTermDepOperationsPSSOAP">
			<soap:address location="http://mwteller:8004/mwteller/accounts/fixedTermDepOperations"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>