Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/EvaluaListasCliente/xsd/evaluaListasClienteTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/evaluaListasClienteTypes"
	xmlns:eval="http://www.ficohsa.com.hn/middleware.services/evaluaListasClienteTypes">

	<xs:complexType name="Request">
		<xs:sequence>
			<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0" />
			<xs:element name="NAME_TO_EVALUATE" type="xs:string" minOccurs="0" />
			<xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0" />
			<xs:element name="TYPE_OF_TRANSACTION" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="COUNTRY" type="xs:string" minOccurs="0" />
			<xs:element name="CANAL" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	

	<xs:complexType name="Response">
		<xs:sequence>
			<xs:element name="TRANSACTION_ID" type="xs:string" />
			<xs:element name="NAME_TO_EVALUATE" type="xs:string" />
			<xs:element name="CONTRACT_ID" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
		
	<xs:element name="evaluaListasClienteRequest"
		type="eval:Request" />
		<xs:element name="evaluaListasClienteResponse"
		type="eval:Response" />

</xs:schema>