Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaCuentaCB/xsd/consultaCuentaCBTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCuentaCBTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaCuentaCBTypes">

	<xs:element name="consultaCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ACCOUNT_VALIDATION" type="cons:accountValidation" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="accountValidation">
		<xs:sequence>
			<xs:element name="VALIDATION_TYPE" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NONE"/>
						<xs:enumeration value="ACCOUNT_NAME"/>
						<xs:enumeration value="CUSTOMER_ID"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VALIDATION_VALUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaCuentaResponse" type="cons:consultaCuentaResponseType"/>

	<xs:complexType name="consultaCuentaResponseType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ACCOUNT_STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DEP_REF_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>