Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaCheque/ConsultaImagenChequeAbanks/consultaImagenChequeTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaImagenChequeTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaImagenChequeTypes">

	<xs:element name="consultaImagenCheque">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
				<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="TRANSACTION_REFERENCE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaImagenChequeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
				<xs:element name="CHEQUE_NUMBER" type="xs:string" />
				<xs:element name="TRANSACTION_DATE" type="xs:string" />
				<xs:element name="CHEQUE_IMAGE_FRONT" type="xs:string" />
				<xs:element name="CHEQUE_IMAGE_BACK" type="xs:string" />
				<xs:element name="FILE_EXTENSION" type="xs:string" />
				<xs:element name="QUERY_STATUS" type="xs:string" />
				<xs:element name="QUERY_DESCRIPTION" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>