Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaEnvioEstadoCuenta/wsdl/consultaEnvioEstadoCuentaPS.wsdl

<wsdl:definitions name="consultaEnvioEstadoCuentaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaPS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaTypes">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaTypes" schemaLocation="../xsd/consultaEnvioEstadoCuentaTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="consultaEnvioEstadoCuentaRequest">
		<wsdl:part element="tns:consultaEnvioEstadoCuenta" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="consultaEnvioEstadoCuentaResponse">
		<wsdl:part element="tns:consultaEnvioEstadoCuentaResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="consultaEnvioEstadoCuentaPS">
		<wsdl:operation name="consultaEnvioEstadoCuenta" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:consultaEnvioEstadoCuentaRequest"/>
			<wsdl:output message="op:consultaEnvioEstadoCuentaResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="consultaEnvioEstadoCuentaPSSOAP" type="op:consultaEnvioEstadoCuentaPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaEnvioEstadoCuenta">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaEnvioEstadoCuentaPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="consultaEnvioEstadoCuentaPS">
		<wsdl:port binding="op:consultaEnvioEstadoCuentaPSSOAP" name="consultaEnvioEstadoCuentaPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/consultaEnvioEstadoCuenta/"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>