Fuentes/ficohsacore-vortex-7ebad6e8baaa/MWHostToHost/v1/BusinessServices/ABKHN/consultaParametrosCBR/xsd/consultaParametrosCBR_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaParametrosCBR" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaParametrosCBR" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_IDSERVICIO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_OPERACION" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_CAMPOSPORSERVICIO" type="db:T_CBR_CAMPOS_X_SERVICIO" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="T_CBR_CAMPOS_X_SERVICIO">
      <sequence>
         <element name="PT_CAMPOSPORSERVICIO_ITEM" type="db:T_CBR_CAMPOS_X_SERVICIO_ITEMS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_CBR_CAMPOS_X_SERVICIO_ITEMS">
      <sequence>
         <element name="CAMPO_ORIGEN" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="POSICION_DESTINO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
</schema>