Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultasCliente/XMLSchema_1144838292.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Consultactascorrienteporcliente" type="tns:Consultactascorrienteporcliente"/>

<xs:element name="ConsultactascorrienteporclienteResponse" type="tns:ConsultactascorrienteporclienteResponse"/>

<xs:element name="Consultadecertifdepporcliente" type="tns:Consultadecertifdepporcliente"/>

<xs:element name="ConsultadecertifdepporclienteResponse" type="tns:ConsultadecertifdepporclienteResponse"/>

<xs:element name="Consultadecliente" type="tns:Consultadecliente"/>

<xs:element name="ConsultadeclienteResponse" type="tns:ConsultadeclienteResponse"/>

<xs:element name="Consultadectasahorroporcliente" type="tns:Consultadectasahorroporcliente"/>

<xs:element name="ConsultadectasahorroporclienteResponse" type="tns:ConsultadectasahorroporclienteResponse"/>

<xs:element name="Consultadelimitesporcliente" type="tns:Consultadelimitesporcliente"/>

<xs:element name="ConsultadelimitesporclienteResponse" type="tns:ConsultadelimitesporclienteResponse"/>

<xs:element name="Consultadeprestamosporcliente" type="tns:Consultadeprestamosporcliente"/>

<xs:element name="ConsultadeprestamosporclienteResponse" type="tns:ConsultadeprestamosporclienteResponse"/>

<xs:element name="Consultadesobregirosporcliente" type="tns:Consultadesobregirosporcliente"/>

<xs:element name="ConsultadesobregirosporclienteResponse" type="tns:ConsultadesobregirosporclienteResponse"/>

<xs:element name="Consultadesociosporcliente" type="tns:Consultadesociosporcliente"/>

<xs:element name="ConsultadesociosporclienteResponse" type="tns:ConsultadesociosporclienteResponse"/>

<xs:element name="Cuentasdeservicioporcliente" type="tns:Cuentasdeservicioporcliente"/>

<xs:element name="CuentasdeservicioporclienteResponse" type="tns:CuentasdeservicioporclienteResponse"/>

<xs:element name="Referenciasporcliente" type="tns:Referenciasporcliente"/>

<xs:element name="ReferenciasporclienteResponse" type="tns:ReferenciasporclienteResponse"/>

<xs:element name="Tarjetasdecreditoporcliente" type="tns:Tarjetasdecreditoporcliente"/>

<xs:element name="TarjetasdecreditoporclienteResponse" type="tns:TarjetasdecreditoporclienteResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="WSOVERDRAFTLIMITType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSOVERDRAFTLIMITDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSOVERDRAFTLIMITDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LIMITAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="PRINCIPAL" type="xs:string" minOccurs="0"/>
<xs:element name="PENALTYINTEREST" type="xs:string" minOccurs="0"/>
<xs:element name="ADVISEDAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="DAO" type="xs:string" minOccurs="0"/>
<xs:element name="LIMITAMOUNTLCY" type="xs:string" minOccurs="0"/>
<xs:element name="PRINCIPALLCY" type="xs:string" minOccurs="0"/>
<xs:element name="PENALTYINTERESTLCY" type="xs:string" minOccurs="0"/>
<xs:element name="LIMITEXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFDAYS" type="xs:string" minOccurs="0"/>
<xs:element name="DATELIMITINI" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALOVERDRAFT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSCUSTOMERBASSOCType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSCUSTOMERBASSOCDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSCUSTOMERBASSOCDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEOFBUSINESS" type="xs:string" minOccurs="0"/>
<xs:element name="COMMERCIALNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFSHRHLDRS" type="xs:string" minOccurs="0"/>
<xs:element name="REGISTERDATE" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDLEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDLEGALDOCNAME" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDGIVENNAMES" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDFAMILYNAME" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDPARTICIPATION" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFICOTERMDEPOSITType">
<xs:sequence>
<xs:element name="gWSFICOTERMDEPOSITDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOTERMDEPOSITDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CLIENTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPOSITNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTINLETTERS" type="xs:string" minOccurs="0"/>
<xs:element name="PERIODOFTIME" type="xs:string" minOccurs="0"/>
<xs:element name="INTERESTRATE" type="xs:string" minOccurs="0"/>
<xs:element name="SCHEDULE" type="xs:string" minOccurs="0"/>
<xs:element name="ISSUANCEPLACE" type="xs:string" minOccurs="0"/>
<xs:element name="DATE" type="xs:string" minOccurs="0"/>
<xs:element name="STARTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="MATURITYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="GENERATEPDF" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FICOLISTCLIENTCARDCPType">
<xs:sequence>
<xs:element name="gFICOLISTCLIENTCARDCPDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mFICOLISTCLIENTCARDCPDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CARDNO" type="xs:string" minOccurs="0"/>
<xs:element name="CARDNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="PRODUCT" type="xs:string" minOccurs="0"/>
<xs:element name="RELATIONGROUP" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FICOCLIENTLOANBROWSERType">
<xs:sequence>
<xs:element name="TOTAL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTPRINAMTPAID" type="xs:string" minOccurs="0"/>
<xs:element name="TOTINTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTINSAMTPAID" type="xs:string" minOccurs="0"/>
<xs:element name="TOTTOTAMTPAID" type="xs:string" minOccurs="0"/>
<xs:element name="gFICOCLIENTLOANBROWSERDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mFICOCLIENTLOANBROWSERDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LoanID" type="xs:string" minOccurs="0"/>
<xs:element name="Ccy" type="xs:string" minOccurs="0"/>
<xs:element name="PrinAmt" type="xs:string" minOccurs="0"/>
<xs:element name="PrinBal" type="xs:string" minOccurs="0"/>
<xs:element name="PDueAmt" type="xs:string" minOccurs="0"/>
<xs:element name="Interest" type="xs:string" minOccurs="0"/>
<xs:element name="PDueInt" type="xs:string" minOccurs="0"/>
<xs:element name="Comm" type="xs:string" minOccurs="0"/>
<xs:element name="TotAmt" type="xs:string" minOccurs="0"/>
<xs:element name="NxtPymt" type="xs:string" minOccurs="0"/>
<xs:element name="NxtPymtDt" type="xs:string" minOccurs="0"/>
<xs:element name="PDuePmts" type="xs:string" minOccurs="0"/>
<xs:element name="RPrinAmt" type="xs:string" minOccurs="0"/>
<xs:element name="RIntAmt" type="xs:string" minOccurs="0"/>
<xs:element name="RInsAmt" type="xs:string" minOccurs="0"/>
<xs:element name="RTotAmt" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFICOLINKSAVINGSACCTType">
<xs:sequence>
<xs:element name="TOTALAVBAL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALHNL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALUSD" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALEUR" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFICOLINKSAVINGSACCTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOLINKSAVINGSACCTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVEBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="LIENBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCKEDFUNDSPOS" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCKEDFUNDSATM" type="xs:string" minOccurs="0"/>
<xs:element name="AVAILABLEBAL" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHOVERDRAFT" type="xs:string" minOccurs="0"/>
<xs:element name="UNAUTHOVERDRAFT" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLBALHNL" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLBALUSD" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLBALEUR" type="xs:string" minOccurs="0"/>
<xs:element name="LINKEDCUSTOMER" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFICOLINKSERVICEACCTType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFICOLINKSERVICEACCTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOLINKSERVICEACCTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="CUSNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LOANACCTID" type="xs:string" minOccurs="0"/>
<xs:element name="LOANACCTCCY" type="xs:string" minOccurs="0"/>
<xs:element name="AUCACCTID" type="xs:string" minOccurs="0"/>
<xs:element name="AUCACCTCCY" type="xs:string" minOccurs="0"/>
<xs:element name="OTHACCTID" type="xs:string" minOccurs="0"/>
<xs:element name="OTHACCTCCY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFICOLINKCURRENTACCTType">
<xs:sequence>
<xs:element name="TOTALAVBAL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALHNL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALUSD" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALEUR" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFICOLINKCURRENTACCTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOLINKCURRENTACCTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVEBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="LIENBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCKEDFUNDSPOS" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCKEDFUNDSATM" type="xs:string" minOccurs="0"/>
<xs:element name="AVAILABLEBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHOVERDRAFT" type="xs:string" minOccurs="0"/>
<xs:element name="UNAUTHOVERDRAFT" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLBALHNL" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLBALUSD" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLBALEUR" type="xs:string" minOccurs="0"/>
<xs:element name="LINKEDCUSTOMER" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFICOLIMITSUMMARYType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFICOLIMITSUMMARYDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOLIMITSUMMARYDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="TOTLIMITAMT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTLIMITAMTLCY" type="xs:string" minOccurs="0"/>
<xs:element name="TOTREDULIMIT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTREDULIMITLCY" type="xs:string" minOccurs="0"/>
<xs:element name="TOTREDUAVAIL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTREAVALCY" type="xs:string" minOccurs="0"/>
<xs:element name="TOTNONREDULIMIT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTNONREDLCY" type="xs:string" minOccurs="0"/>
<xs:element name="TOTNONREDUAVAIL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTNONREAVALCY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSCUSTOMERREFSType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSCUSTOMERREFSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSCUSTOMERREFSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="GIVENNAMES" type="xs:string" minOccurs="0"/>
<xs:element name="FAMILYNAMES" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEOFBUSINESS" type="xs:string" minOccurs="0"/>
<xs:element name="COMMERCIALNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFGIVENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFLASTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFRELATION" type="xs:string" minOccurs="0"/>
<xs:element name="COMMREFNAME" type="xs:string" minOccurs="0"/>
<xs:element name="COMMREFCONTACT" type="xs:string" minOccurs="0"/>
<xs:element name="COMMREFPHONE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSCUSTOMERType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSCUSTOMERDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSCUSTOMERDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="MNEMONIC" type="xs:string" minOccurs="0"/>
<xs:element name="GIVENNAMES" type="xs:string" minOccurs="0"/>
<xs:element name="FAMILYNAMES" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEOFBUSINESS" type="xs:string" minOccurs="0"/>
<xs:element name="COMMERCIALNAME" type="xs:string" minOccurs="0"/>
<xs:element name="SHORTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESSLINE1" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESSLINE2" type="xs:string" minOccurs="0"/>
<xs:element name="SECTOR" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORNAME" type="xs:string" minOccurs="0"/>
<xs:element name="INDUSTRY" type="xs:string" minOccurs="0"/>
<xs:element name="INDUSTRYNAME" type="xs:string" minOccurs="0"/>
<xs:element name="TARGET" type="xs:string" minOccurs="0"/>
<xs:element name="TARGETNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="RESIDENCE" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALDOCNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALHOLDERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="DATEOFBIRTH" type="xs:string" minOccurs="0"/>
<xs:element name="MARITALSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
<xs:element name="SMS" type="xs:string" minOccurs="0"/>
<xs:element name="PHONE" type="xs:string" minOccurs="0"/>
<xs:element name="FAX" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESSTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="GENERATORTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="COUNTRYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="STATECODE" type="xs:string" minOccurs="0"/>
<xs:element name="CITYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="OCCUPATION" type="xs:string" minOccurs="0"/>
<xs:element name="EMPLOYMENTSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="EMPLOYERSNAME" type="xs:string" minOccurs="0"/>
<xs:element name="MARRIEDLASTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALREPNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALREPID" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFCOMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="PROFESSIONORTRADE" type="xs:string" minOccurs="0"/>
<xs:element name="NUMBEROFDEED" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALREPHOMEPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFPERSON" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORIZATIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORIZATIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="EDUCATIONLEVEL" type="xs:string" minOccurs="0"/>
<xs:element name="SPOUSENAME" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFDEPENDENTS" type="xs:string" minOccurs="0"/>
<xs:element name="INCOMERANGE" type="xs:string" minOccurs="0"/>
<xs:element name="EMPLOYMENTSTART" type="xs:string" minOccurs="0"/>
<xs:element name="MAINADDRESSYN" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERSINCE" type="xs:string" minOccurs="0"/>
<xs:element name="ECONOMICGROUPID" type="xs:string" minOccurs="0"/>
<xs:element name="ECONOMICGROUPNAME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadecliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSCUSTOMERType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadeclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSCUSTOMERType" type="tns:WSCUSTOMERType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Referenciasporcliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSCUSTOMERREFSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReferenciasporclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSCUSTOMERREFSType" type="tns:WSCUSTOMERREFSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadelimitesporcliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOLIMITSUMMARYType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadelimitesporclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOLIMITSUMMARYType" type="tns:WSFICOLIMITSUMMARYType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultactascorrienteporcliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOLINKCURRENTACCTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultactascorrienteporclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOLINKCURRENTACCTType" type="tns:WSFICOLINKCURRENTACCTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Cuentasdeservicioporcliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOLINKSERVICEACCTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CuentasdeservicioporclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOLINKSERVICEACCTType" type="tns:WSFICOLINKSERVICEACCTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadeprestamosporcliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="FICOCLIENTLOANBROWSERType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadeprestamosporclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOCLIENTLOANBROWSERType" type="tns:FICOCLIENTLOANBROWSERType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Tarjetasdecreditoporcliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="FICOLISTCLIENTCARDCPType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TarjetasdecreditoporclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOLISTCLIENTCARDCPType" type="tns:FICOLISTCLIENTCARDCPType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadectasahorroporcliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOLINKSAVINGSACCTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadectasahorroporclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOLINKSAVINGSACCTType" type="tns:WSFICOLINKSAVINGSACCTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadecertifdepporcliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOTERMDEPOSITType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadecertifdepporclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOTERMDEPOSITType" type="tns:WSFICOTERMDEPOSITType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadesociosporcliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSCUSTOMERBASSOCType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadesociosporclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSCUSTOMERBASSOCType" type="tns:WSCUSTOMERBASSOCType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadesobregirosporcliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSOVERDRAFTLIMITType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadesobregirosporclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSOVERDRAFTLIMITType" type="tns:WSOVERDRAFTLIMITType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>