Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaMontoTSP/wsdl/consultaMontoTSPTransferenciaPS.wsdl

<wsdl:definitions name="consultaMontoTSPTransferenciaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaTypes">
  <wsdl:types>
    <xsd:schema>
		<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
	</xsd:schema>
	<xsd:schema>
		<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaTypes" schemaLocation="../xsd/consultaMontoTSPTransferenciaTypes.xsd"/>
	</xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="consultaMontoTSPClienteRequest">
    <wsdl:part element="cons:consultaMontoTSPCliente" name="parameters"/>
    <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
  </wsdl:message>
  
  <wsdl:message name="consultaMontoTSPClienteResponse">
    <wsdl:part element="cons:consultaMontoTSPClienteResponse" name="result"/>
    <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
  </wsdl:message> 
 
  <wsdl:message name="consultaMontoTSPBancoRequest">
    <wsdl:part element="cons:consultaMontoTSPBanco" name="parameters"/>
    <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
  </wsdl:message>
  
  <wsdl:message name="consultaMontoTSPBancoResponse">
    <wsdl:part element="cons:consultaMontoTSPBancoResponse" name="result"/>
    <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
  </wsdl:message> 
  
  <wsdl:portType name="consultaMontoTSPTransferenciaPS">
    <wsdl:operation name="consultaMontoTSPCliente" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultaMontoTSPClienteRequest"/>
      <wsdl:output message="fic:consultaMontoTSPClienteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaMontoTSPBanco" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultaMontoTSPBancoRequest"/>
      <wsdl:output message="fic:consultaMontoTSPBancoResponse"/>
    </wsdl:operation> 
  </wsdl:portType>
  
  <wsdl:binding name="consultaMontoTSPTransferenciaPSSOAP" type="fic:consultaMontoTSPTransferenciaPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultaMontoTSPCliente">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:consultaMontoTSPClienteRequest" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:consultaMontoTSPClienteResponse" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="consultaMontoTSPBanco">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:consultaMontoTSPBancoRequest" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:consultaMontoTSPBancoResponse" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="consultaMontoTSPTransferenciaPS">
    <wsdl:port binding="fic:consultaMontoTSPTransferenciaPSSOAP" name="consultaMontoTSPTransferenciaPSSOAP">
      <soap:address location="http://10.9.104.55:8003/Middleware/RiskAndCompliance/ComplianceChecks/ConsultaMontoTSP"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>