Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/OSB/ActivaFinanciamiento_v3/xsd/XMLSchema_394882971.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/activaFinanciamientoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cct="http://www.ficohsa.com.hn/middleware.services/activaFinanciamientoTypes">
	
	<!-- stringMinLength1Type -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    	
	<xs:element name="activaFinanciamiento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ASM_ORG" type="xs:integer"/>
				<xs:element name="ASM_REP" type="xs:string" minOccurs="0"/>
				<xs:element name="CURRENCY_INDICATOR" type="xs:integer"/>
				<xs:element name="ORG" type="xs:integer"/>
				<xs:element name="ACCOUNT_NUMBER" type="cct:stringMinLength1"/>
				<xs:element name="PRINCIPAL_AMOUNT" type="xs:decimal"/>
				<xs:element name="PLAN_NUMBER" type="xs:integer"/>
				<xs:element name="TRANSACTION_CODE" type="xs:string"/>
				<xs:element name="PLAN_SECUENCE" type="xs:integer"/>
				<xs:element name="DESCRIPTION" type="xs:string"/>
				<xs:element name="REF_NUMBER" type="xs:string"/>
				<xs:element name="OTB_INDICATOR" type="xs:integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="activaFinanciamientoResponse"/>
</xs:schema>