Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/CatalogosSegmentacion_v2/xsd/XMLSchema_671709850.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/catalogosSegmentacionTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/catalogosSegmentacionTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
	<!--##########################--> 
    <!--OPERACION: CONSULTA TARGET-->
    <!--##########################-->
	<!-- request -->
	<xs:element name="consultaTarget">
        <xs:complexType>
            <xs:sequence>
			    <xs:element name="TARGET_ID" type="xs:integer" minOccurs="0"/>
			 </xs:sequence>
        </xs:complexType>
    </xs:element> 
    
    <!-- response -->
	<xs:element name="consultaTargetResponse">
        <xs:complexType>
            <xs:sequence>
			   	<xs:element name="TARGETS" minOccurs="0">
			   		<xs:complexType>
			            <xs:sequence>
						   	<xs:element name="TARGET" minOccurs="0" maxOccurs="unbounded">
						   		<xs:complexType>
						            <xs:sequence>
									   	<xs:element name="ID" type="xs:integer" minOccurs="0"/>
									   	<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
						            </xs:sequence>
						        </xs:complexType>
						   	</xs:element>
			            </xs:sequence>
			        </xs:complexType>
			   	</xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
</xs:schema>