Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/MDW/guardarBitacoraMapeoErrores/xsd/guardarBitacoraMapeoErrores_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/guardarBitacoraMapeoErrores" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/guardarBitacoraMapeoErrores" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_ID_SERVICIO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ERROR" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_RETORNO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ORIGINAL" type="string" db:index="4" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_DEVUELTO" type="string" db:index="5" db:type="CLOB" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_ID_BITACORA" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="CODIGO_ERROR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DESCRIPCION_ERROR" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>