Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/PagoRecaudoAMDC/PagoRecaudoAMDC.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoRecaudoAMDCTypes"
	xmlns:pag="http://www.ficohsa.com.hn/middleware.services/pagoRecaudoAMDCTypes">
	
	<xs:complexType name="pagoRecaudoAMDCResponseType">
		<xs:sequence>
			<xs:element name="CONTRACT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="RTEFORM" type="xs:string" minOccurs="0" />
			<xs:element name="PAYMENT_INFORMATION">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PAYMENT_METHOD" type="xs:string"/>
						<xs:element name="PAYMENT_CURRENCY" type="xs:string"/>
						<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0" />
						<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
						<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="BANK_CODE" type="xs:string" minOccurs="0" />
						<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BILL_DETAIL" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="pagoRecaudoAMDC">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CONTRACT_ID" type="xs:string"/>
	            <xs:element name="DEBTOR_CODE" type="xs:string"/>
	            <xs:element name="IDENTITY_TYPE" type="xs:string"/>
	            <xs:element name="YEAR_TO_PAY" type="xs:string"/>
	            <xs:element name="MONTHS_TO_PAY" type="xs:string"/>
	            <xs:element name="PAYMENT_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PAYMENT_METHOD" type="xs:string"/>
							<xs:element name="PAYMENT_CURRENCY" type="xs:string"/>
							<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0" />
							<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
							<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
							<xs:element name="BANK_CODE" type="xs:string" minOccurs="0" />
							<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" />
							<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoRecaudoAMDCResponse" type="pag:pagoRecaudoAMDCResponseType"/>

</xs:schema>