Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaSaldosHistEstadoCuenta_v2/xsd/XMLSchema_-268259843.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaTypes">

	<!-- stringMinLength1Type -->
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- periodType -->
    <xs:simpleType name="periodType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9][0-9][0-9][0-9][0][0-9]|[0-9][0-9][0-9][0-9][1][0-2]"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- balanceInformationType -->
    <xs:complexType name="balanceInformationType">
    	<xs:sequence>
    		<xs:element name="PERIOD" type="xs:string" minOccurs="0"/>
    		<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
    		<xs:element name="ORG" type="xs:string" minOccurs="0"/>
    		<xs:element name="CUTOFF_DATE" type="xs:date" minOccurs="0"/>
    		<xs:element name="MILES_EARNED" type="xs:decimal" minOccurs="0"/>
    		<xs:element name="POINTS_EARNED" type="xs:decimal" minOccurs="0"/>
    		<xs:element name="MIN_PAYMENT" type="xs:decimal" minOccurs="0"/>
    		<xs:element name="TOTAL_PAYMENT" type="xs:decimal" minOccurs="0"/>
    		<xs:element name="LATE_FEE" type="xs:decimal" minOccurs="0"/>
    		<xs:element name="BALANCE" type="xs:decimal" minOccurs="0"/>
    		<xs:element name="ACCOUNT_CICLE" type="xs:decimal" minOccurs="0"/>
    		<xs:element name="STATEMENT_URL" type="xs:string" minOccurs="0"/>
    		<xs:element name="STATEMENT" type="xs:string" minOccurs="0"/>
    		<xs:element name="CYCLE_DUE" type="xs:integer" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
	
	<xs:element name="consultaSaldosHistEstadoCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="tns:stringMinLength1"/>
				<xs:element name="ORG" type="xs:integer" minOccurs="0"/>
				<xs:element name="INITIAL_PERIOD" type="tns:periodType"/>
				<xs:element name="FINAL_PERIOD" type="tns:periodType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaSaldosHistEstadoCuentaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BALANCE_INFORMATION" type="tns:balanceInformationType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>