Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Outgoing/BusinessServices/Salesforce/gestionaCancelacionTarjetaCredito/wsdl/gestionaCancelacionTarjetaCredito.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:shrq0="http://xmlns.oracle.com/types/CreaGestionCancelacionCuenta_Trigger/InboundSOAPRequestDocument" xmlns:shrs0="http://xmlns.oracle.com/types/CreaGestionCancelacionCuenta_Trigger/InboundSOAPResponseDocument" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper">
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wss_http_token_or_jwt_token_service_policy">
    <wsp:ExactlyOne>
      <wsp:All/>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <osp:HttpToken xmlns:osp="http://schemas.oracle.com/ws/2012/01/wssecuritypolicy">
                  <wsp:Policy>
                    <osp:HttpJwtAuthentication/>
                  </wsp:Policy>
                </osp:HttpToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper">
      <xsd:element name="AllowFieldTruncationHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CallOptions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="client" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DebuggingHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="categories" type="tns:LogInfo"/>
            <xsd:element name="debugLevel" type="tns:LogType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="LogInfo">
        <xsd:sequence>
          <xsd:element name="category" type="tns:LogCategory"/>
          <xsd:element name="level" type="tns:LogCategoryLevel"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="LogCategory">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Db"/>
          <xsd:enumeration value="Workflow"/>
          <xsd:enumeration value="Validation"/>
          <xsd:enumeration value="Callout"/>
          <xsd:enumeration value="Apex_code"/>
          <xsd:enumeration value="Apex_profiling"/>
          <xsd:enumeration value="Visualforce"/>
          <xsd:enumeration value="System"/>
          <xsd:enumeration value="Wave"/>
          <xsd:enumeration value="Nba"/>
          <xsd:enumeration value="All"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogCategoryLevel">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None"/>
          <xsd:enumeration value="Finest"/>
          <xsd:enumeration value="Finer"/>
          <xsd:enumeration value="Fine"/>
          <xsd:enumeration value="Debug"/>
          <xsd:enumeration value="Info"/>
          <xsd:enumeration value="Warn"/>
          <xsd:enumeration value="Error"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None"/>
          <xsd:enumeration value="Debugonly"/>
          <xsd:enumeration value="Db"/>
          <xsd:enumeration value="Profiling"/>
          <xsd:enumeration value="Callout"/>
          <xsd:enumeration value="Detail"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="DebuggingInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="debugLog" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SessionHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
          <xsd:length value="18"/>
          <xsd:pattern value="[a-zA-Z0-9]{18}"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CreaGestionResp">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CodigoError" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="estadoGestion" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="IdGestion" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Financiamiento">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="cantidadCuotas" nillable="true" type="xsd:int"/>
          <xsd:element minOccurs="0" name="capitalPendiente" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="ciclo" nillable="true" type="xsd:int"/>
          <xsd:element minOccurs="0" name="comprobante" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="cuota" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="CUT" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="fechaColocacion" nillable="true" type="xsd:date"/>
          <xsd:element minOccurs="0" name="fechaCorte" nillable="true" type="xsd:date"/>
          <xsd:element minOccurs="0" name="fechaPago" nillable="true" type="xsd:date"/>
          <xsd:element minOccurs="0" name="moneda" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="monto" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="montoCancelacionAnticipada" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="siguienteCuota" nillable="true" type="xsd:int"/>
          <xsd:element minOccurs="0" name="tasa" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="tipoFinanciamiento" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="body" nillable="true" type="tns:ResponseBody"/>
          <xsd:element minOccurs="0" name="header" nillable="true" type="tns:ResponseHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResponseBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="calculoCancelacionAnticipada" nillable="true" type="tns:WCancelacionAnticipadaSumas"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="listaFinanciamientos" nillable="true" type="tns:Financiamiento"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResponseHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="messageId" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="messages" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="successIndicator" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WCancelacionAnticipadaSumas">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="totalExtraLPS" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="totalExtraUSD" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="totalIntraLPS" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="totalIntraUSD" nillable="true" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="address">
        <xsd:complexContent>
          <xsd:extension base="tns:location">
            <xsd:sequence>
              <xsd:element name="city" type="xsd:string"/>
              <xsd:element name="country" type="xsd:string"/>
              <xsd:element name="countryCode" type="xsd:string"/>
              <xsd:element name="geocodeAccuracy" type="xsd:string"/>
              <xsd:element name="postalCode" type="xsd:string"/>
              <xsd:element name="state" type="xsd:string"/>
              <xsd:element name="stateCode" type="xsd:string"/>
              <xsd:element name="street" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="location">
        <xsd:sequence>
          <xsd:element name="latitude" type="xsd:double"/>
          <xsd:element name="longitude" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ConsultaSaldosFinanciamientosCancelacionAnticipada">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="numeroCuenta" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultaSaldosFinanciamientosCancelacionAnticipadaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreaGestionCancelacionCuenta">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="numeroCuenta" nillable="true" type="xsd:string"/>
            <xsd:element name="numTarjeta" nillable="true" type="xsd:string"/>
            <xsd:element name="emailCliente" nillable="true" type="xsd:string"/>
            <xsd:element name="OrigenCancelacion" nillable="true" type="xsd:string"/>
            <xsd:element name="MotivoCacelacion" nillable="true" type="xsd:string"/>
            <xsd:element name="Subject" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreaGestionCancelacionCuentaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:CreaGestionResp"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreaGestionCancelacionFinanciamiento">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="numeroCuenta" nillable="true" type="xsd:string"/>
            <xsd:element name="numTarjeta" nillable="true" type="xsd:string"/>
            <xsd:element name="emailCliente" nillable="true" type="xsd:string"/>
            <xsd:element name="motivoCancelacionFinanciamiento" nillable="true" type="xsd:string"/>
            <xsd:element name="subMotivoCancelacionFinanciamiento" nillable="true" type="xsd:string"/>
            <xsd:element name="prioridad" nillable="true" type="xsd:string"/>
            <xsd:element name="productoCancelado" nillable="true" type="xsd:string"/>
            <xsd:element name="Monto" nillable="true" type="xsd:string"/>
            <xsd:element name="Moneda" nillable="true" type="xsd:string"/>
            <xsd:element name="Asunto" nillable="true" type="xsd:string"/>
            <xsd:element name="Descripcion" nillable="true" type="xsd:string"/>
            <xsd:element name="comprobante" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreaGestionCancelacionFinanciamientoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:CreaGestionResp"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/types/CreaGestionCancelacionCuenta_Trigger/InboundSOAPRequestDocument" xmlns:ns0="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/CreaGestionCancelacionCuenta_Trigger/InboundSOAPRequestDocument">
      <xs:import namespace="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper"/>
      <xs:element name="InboundSOAPRequestDocument" type="InboundSOAPRequestDocumentType"/>
      <xs:complexType name="InboundSOAPRequestDocumentType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Headers" type="HeadersType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Body" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="SOAPHeaders" type="SOAPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPHeadersType">
        <xs:sequence>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper" ref="ns1:SessionHeader"/>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper" ref="ns1:CallOptions"/>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper" ref="ns1:DebuggingHeader"/>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper" ref="ns1:AllowFieldTruncationHeader"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper" ref="ns1:CreaGestionCancelacionCuenta"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/types/CreaGestionCancelacionCuenta_Trigger/InboundSOAPResponseDocument" xmlns:ns0="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/CreaGestionCancelacionCuenta_Trigger/InboundSOAPResponseDocument">
      <xs:import namespace="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper"/>
      <xs:element name="InboundSOAPResponseDocument" type="InboundSOAPResponseDocumentType"/>
      <xs:complexType name="InboundSOAPResponseDocumentType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Headers" type="HeadersType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Body" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="SOAPHeaders" type="SOAPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPHeadersType">
        <xs:sequence>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper" ref="ns1:DebuggingInfo"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/WS_CreateCaseHelper" ref="ns1:CreaGestionCancelacionCuentaResponse"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tracking_property" type="TrackingPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="insight_property" type="InsightPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="CreaGestionCancelacionCuentaRequest">
    <part name="parameters" element="tns:CreaGestionCancelacionCuenta"/>
  </message>
  <message name="CreaGestionCancelacionCuentaResponse">
    <part name="parameters" element="tns:CreaGestionCancelacionCuentaResponse"/>
  </message>
  <message name="Header">
    <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
    <part name="CallOptions" element="tns:CallOptions"/>
    <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
    <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
    <part name="SessionHeader" element="tns:SessionHeader"/>
  </message>
  <portType name="WS_CreateCaseHelperPortType_CreaGestionCancelacionCuenta_Trigger_REQUEST">
    <operation name="CreaGestionCancelacionCuenta">
      <input message="tns:CreaGestionCancelacionCuentaRequest"/>
      <output message="tns:CreaGestionCancelacionCuentaResponse"/>
    </operation>
  </portType>
  <binding name="WS_CreateCaseHelperPortType_CreaGestionCancelacionCuenta_Trigger_REQUEST_binding" type="tns:WS_CreateCaseHelperPortType_CreaGestionCancelacionCuenta_Trigger_REQUEST">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wss_http_token_or_jwt_token_service_policy" wsdl:required="false"/>
    <operation name="CreaGestionCancelacionCuenta">
      <soap:operation soapAction="CreaGestionCancelacionCuenta"/>
      <input>
        <soap:header message="tns:Header" part="SessionHeader" use="literal" encodingStyle=""/>
        <soap:header message="tns:Header" part="AllowFieldTruncationHeader" use="literal" encodingStyle=""/>
        <soap:header message="tns:Header" part="CallOptions" use="literal" encodingStyle=""/>
        <soap:header message="tns:Header" part="DebuggingHeader" use="literal" encodingStyle=""/>
        <soap:body use="literal" parts="parameters"/>
      </input>
      <output>
        <soap:header message="tns:Header" part="DebuggingInfo" use="literal" encodingStyle=""/>
        <soap:body use="literal" parts="parameters"/>
      </output>
    </operation>
  </binding>
  <service name="WS_CreateCaseHelperPortType_CreaGestionCancelacionCuenta_Trigger_REQUEST">
    <port name="WS_CreateCaseHelperPortType_CreaGestionCancelacionCuenta_Trigger_REQUEST_pt" binding="tns:WS_CreateCaseHelperPortType_CreaGestionCancelacionCuenta_Trigger_REQUEST_binding">
      <soap:address location="https://OICDEV-ficocloud.integration.ocp.oraclecloud.com:443/ic/ws/integration/v1/flows/soap/CREAGESTIONCANCELACIONCUENTA/1.0/"/>
    </port>
  </service>
</definitions>
