Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/T24/svcAhorroProgramado/xsd/svcAhorroProgramado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xs:schema version="1.0" targetNamespace="T24WebServicesImpl" xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultaCAP" type="tns:ConsultaCAP"/>
  <xs:element name="ConsultaCAPResponse" type="tns:ConsultaCAPResponse"/>
  <xs:element name="Consultacuentasdeorigendisponib" type="tns:Consultacuentasdeorigendisponib"/>
  <xs:element name="ConsultacuentasdeorigendisponibResponse" type="tns:ConsultacuentasdeorigendisponibResponse"/>
  <xs:element name="DesbloqueodecuentasAOP" type="tns:DesbloqueodecuentasAOP"/>
  <xs:element name="DesbloqueodecuentasAOPResponse" type="tns:DesbloqueodecuentasAOPResponse"/>
  <xs:element name="DesbloqueodecuentasAOP_Validate" type="tns:DesbloqueodecuentasAOP_Validate"/>
  <xs:element name="DesbloqueodecuentasAOP_ValidateResponse" type="tns:DesbloqueodecuentasAOP_ValidateResponse"/>
  <xs:element name="callOfs" type="tns:callOfs"/>
  <xs:element name="callOfsResponse" type="tns:callOfsResponse"/>
  <xs:complexType name="WSFICOCAPAFIType">
    <xs:sequence>
      <xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
      <xs:element name="gWSFICOCAPAFIDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSFICOCAPAFIDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ACCOUNTDESBLOQAHOPWSType">
    <xs:sequence>
      <xs:element name="PostingRestrict" type="xs:string" minOccurs="0"/>
      <xs:element name="Balance" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="ACCOUNTType">
    <xs:sequence>
      <xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
      <xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
      <xs:element name="ACCOUNTTITLE1" type="xs:string" minOccurs="0"/>
      <xs:element name="ACCOUNTTITLE2" type="xs:string" minOccurs="0"/>
      <xs:element name="SHORTTITLE" type="xs:string" minOccurs="0"/>
      <xs:element name="MNEMONIC" type="xs:string" minOccurs="0"/>
      <xs:element name="POSITIONTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
      <xs:element name="CURRENCYMARKET" type="xs:string" minOccurs="0"/>
      <xs:element name="LIMITREF" type="xs:string" minOccurs="0"/>
      <xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
      <xs:element name="gOTHEROFFICER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OTHEROFFICER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="POSTINGRESTRICT" type="xs:string" minOccurs="0"/>
      <xs:element name="RECONCILEACCT" type="xs:string" minOccurs="0"/>
      <xs:element name="INTERESTLIQUACCT" type="xs:string" minOccurs="0"/>
      <xs:element name="INTERESTCOMPACCT" type="xs:string" minOccurs="0"/>
      <xs:element name="INTNOBOOKING" type="xs:string" minOccurs="0"/>
      <xs:element name="gREFERALCODE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="REFERALCODE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="WAIVELEDGERFEE" type="xs:string" minOccurs="0"/>
      <xs:element name="CONDITIONGROUP" type="xs:string" minOccurs="0"/>
      <xs:element name="INACTIVMARKER" type="xs:string" minOccurs="0"/>
      <xs:element name="OPENACTUALBAL" type="xs:string" minOccurs="0"/>
      <xs:element name="OPENCLEAREDBAL" type="xs:string" minOccurs="0"/>
      <xs:element name="ONLINEACTUALBAL" type="xs:string" minOccurs="0"/>
      <xs:element name="ONLINECLEAREDBAL" type="xs:string" minOccurs="0"/>
      <xs:element name="WORKINGBALANCE" type="xs:string" minOccurs="0"/>
      <xs:element name="DATELASTCRCUST" type="xs:string" minOccurs="0"/>
      <xs:element name="AMNTLASTCRCUST" type="xs:string" minOccurs="0"/>
      <xs:element name="TRANLASTCRCUST" type="xs:string" minOccurs="0"/>
      <xs:element name="DATELASTCRAUTO" type="xs:string" minOccurs="0"/>
      <xs:element name="AMNTLASTCRAUTO" type="xs:string" minOccurs="0"/>
      <xs:element name="TRANLASTCRAUTO" type="xs:string" minOccurs="0"/>
      <xs:element name="DATELASTCRBANK" type="xs:string" minOccurs="0"/>
      <xs:element name="AMNTLASTCRBANK" type="xs:string" minOccurs="0"/>
      <xs:element name="TRANLASTCRBANK" type="xs:string" minOccurs="0"/>
      <xs:element name="DATELASTDRCUST" type="xs:string" minOccurs="0"/>
      <xs:element name="AMNTLASTDRCUST" type="xs:string" minOccurs="0"/>
      <xs:element name="TRANLASTDRCUST" type="xs:string" minOccurs="0"/>
      <xs:element name="DATELASTDRAUTO" type="xs:string" minOccurs="0"/>
      <xs:element name="AMNTLASTDRAUTO" type="xs:string" minOccurs="0"/>
      <xs:element name="TRANLASTDRAUTO" type="xs:string" minOccurs="0"/>
      <xs:element name="DATELASTDRBANK" type="xs:string" minOccurs="0"/>
      <xs:element name="AMNTLASTDRBANK" type="xs:string" minOccurs="0"/>
      <xs:element name="TRANLASTDRBANK" type="xs:string" minOccurs="0"/>
      <xs:element name="gCAPDATECHARGE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CAPDATECHARGE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gCAPDATECRINT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CAPDATECRINT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gCAPDATEC2INT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CAPDATEC2INT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gCAPDATEDRINT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CAPDATEDRINT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gCAPDATED2INT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CAPDATED2INT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="CAPBACKVALUE" type="xs:string" minOccurs="0"/>
      <xs:element name="gACCRCHGCATEG" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mACCRCHGCATEG" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ACCRCHGCATEG" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRCHGTRANS" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRCHGAMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRCHGSUSP" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gACCRCRCATEG" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mACCRCRCATEG" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ACCRCRCATEG" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRCRTRANS" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRCRAMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRCRSUSP" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gACCRCR2CATEG" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mACCRCR2CATEG" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ACCRCR2CATEG" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRCR2TRANS" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRCR2AMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRCR2SUSP" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gACCRDRCATEG" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mACCRDRCATEG" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ACCRDRCATEG" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRDRTRANS" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRDRAMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRDRSUSP" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gACCRDR2CATEG" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mACCRDR2CATEG" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ACCRDR2CATEG" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRDR2TRANS" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRDR2AMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCRDR2SUSP" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="CONSOLKEY" type="xs:string" minOccurs="0"/>
      <xs:element name="gINTLIQUTYPE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mINTLIQUTYPE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="INTLIQUTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="INTLIQUACCT" type="xs:string" minOccurs="0"/>
                  <xs:element name="INTLIQCCY" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="PASSBOOK" type="xs:string" minOccurs="0"/>
      <xs:element name="STARTYEARBAL" type="xs:string" minOccurs="0"/>
      <xs:element name="OPENINGDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="gVALUEDATE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mVALUEDATE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CREDITMOVEMENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="DEBITMOVEMENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="VALUEDATEDBAL" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="CONTINGENTBALCR" type="xs:string" minOccurs="0"/>
      <xs:element name="CONTINGENTBALDR" type="xs:string" minOccurs="0"/>
      <xs:element name="OPENCATEGORY" type="xs:string" minOccurs="0"/>
      <xs:element name="OPENVALDATEDBAL" type="xs:string" minOccurs="0"/>
      <xs:element name="gACCTCREDITINT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ACCTCREDITINT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gACCTDEBITINT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ACCTDEBITINT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LINKTOLIMIT" type="xs:string" minOccurs="0"/>
      <xs:element name="CLOSUREDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="LOCKEDWITHLIMIT" type="xs:string" minOccurs="0"/>
      <xs:element name="CHARGEACCOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="CHARGECCY" type="xs:string" minOccurs="0"/>
      <xs:element name="CHARGEMKT" type="xs:string" minOccurs="0"/>
      <xs:element name="INTERESTCCY" type="xs:string" minOccurs="0"/>
      <xs:element name="INTERESTMKT" type="xs:string" minOccurs="0"/>
      <xs:element name="CONCHARGEACCR" type="xs:string" minOccurs="0"/>
      <xs:element name="CONINTERESTACCR" type="xs:string" minOccurs="0"/>
      <xs:element name="gALTACCTTYPE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mALTACCTTYPE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ALTACCTTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gPREMIUMTYPE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mPREMIUMTYPE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PREMIUMTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="sgCAPDATEPRM" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="CAPDATEPRM" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                      </xs:sequence>
                      <xs:attribute name="sg" type="xs:positiveInteger"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="PREMIUMFREQ" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="APR" type="xs:string" minOccurs="0"/>
      <xs:element name="gJOINTHOLDER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mJOINTHOLDER" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="JOINTHOLDER" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELATIONCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="sgJOINTNOTES" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="JOINTNOTES" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                      </xs:sequence>
                      <xs:attribute name="sg" type="xs:positiveInteger"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="ALLOWNETTING" type="xs:string" minOccurs="0"/>
      <xs:element name="gLEDGRECOWITH" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LEDGRECOWITH" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gSTMTRECOWITH" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="STMTRECOWITH" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="OUREXTACCTNO" type="xs:string" minOccurs="0"/>
      <xs:element name="RECOTOLERANCE" type="xs:string" minOccurs="0"/>
      <xs:element name="gPENDINGID" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mPENDINGID" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PENDINGID" type="xs:string" minOccurs="0"/>
                  <xs:element name="TOTALPENDING" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="STOCKCONTROLTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="SERIALNOFORMAT" type="xs:string" minOccurs="0"/>
      <xs:element name="AUTOPAYACCT" type="xs:string" minOccurs="0"/>
      <xs:element name="ORIGCCYPAYMENT" type="xs:string" minOccurs="0"/>
      <xs:element name="gAUTORECCCY" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AUTORECCCY" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gORIGINALACCT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ORIGINALACCT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gFROMDATE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mFROMDATE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="FROMDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LOCKEDAMOUNT" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="DISPOOFFICER" type="xs:string" minOccurs="0"/>
      <xs:element name="DISPOEXEMPT" type="xs:string" minOccurs="0"/>
      <xs:element name="TAXSUSPEND" type="xs:string" minOccurs="0"/>
      <xs:element name="TAXATSETTLE" type="xs:string" minOccurs="0"/>
      <xs:element name="ICAMAINACCOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="ICADISTRIBRATIO" type="xs:string" minOccurs="0"/>
      <xs:element name="ICAMAINACCTIND" type="xs:string" minOccurs="0"/>
      <xs:element name="ICADISTRIBTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="ICAPOSTINTEREST" type="xs:string" minOccurs="0"/>
      <xs:element name="ICAMAINRATIO" type="xs:string" minOccurs="0"/>
      <xs:element name="ICANEWMAINACC" type="xs:string" minOccurs="0"/>
      <xs:element name="ICASTARTDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="ICAADDREMOVE" type="xs:string" minOccurs="0"/>
      <xs:element name="ICABACKVALUE" type="xs:string" minOccurs="0"/>
      <xs:element name="gICAMAINACCT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mICAMAINACCT" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ICAMAINACCT" type="xs:string" minOccurs="0"/>
                  <xs:element name="ICAMAINDATE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LIQUIDATIONMODE" type="xs:string" minOccurs="0"/>
      <xs:element name="OVERDUESTATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED11" type="xs:string" minOccurs="0"/>
      <xs:element name="SINGLELIMIT" type="xs:string" minOccurs="0"/>
      <xs:element name="CONTINGENTINT" type="xs:string" minOccurs="0"/>
      <xs:element name="ALLINONEPRODUCT" type="xs:string" minOccurs="0"/>
      <xs:element name="gERVALUEDATE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mERVALUEDATE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ERVALUEDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="ERBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="EPBALANCE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="SBGROUPID" type="xs:string" minOccurs="0"/>
      <xs:element name="OPENAVAILABLEBAL" type="xs:string" minOccurs="0"/>
      <xs:element name="gAVAILABLEDATE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mAVAILABLEDATE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="AVAILABLEDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="AVAUTHDBMVMT" type="xs:string" minOccurs="0"/>
                  <xs:element name="AVNAUDBMVMT" type="xs:string" minOccurs="0"/>
                  <xs:element name="AVAUTHCRMVMT" type="xs:string" minOccurs="0"/>
                  <xs:element name="AVNAUCRMVMT" type="xs:string" minOccurs="0"/>
                  <xs:element name="AVAILABLEBAL" type="xs:string" minOccurs="0"/>
                  <xs:element name="FORWARDMVMTS" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="CREDITCHECK" type="xs:string" minOccurs="0"/>
      <xs:element name="AVAILABLEBALUPD" type="xs:string" minOccurs="0"/>
      <xs:element name="CONSOLIDATEENT" type="xs:string" minOccurs="0"/>
      <xs:element name="MAXSUBACCOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="MASTERACCOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED2" type="xs:string" minOccurs="0"/>
      <xs:element name="CLOSEDONLINE" type="xs:string" minOccurs="0"/>
      <xs:element name="NEXTAFDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="NEXTACCTCAP" type="xs:string" minOccurs="0"/>
      <xs:element name="NEXTEXPDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="DATELASTUPDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="gNEXTSTMTDATE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NEXTSTMTDATE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gEXPOSUREDATES" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="EXPOSUREDATES" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gPORTFOLIONO" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PORTFOLIONO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gENTRYHOLD" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ENTRYHOLD" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gFWDENTRYHOLD" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FWDENTRYHOLD" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="FIRSTAFDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="gCASHPOOLGROUP" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CASHPOOLGROUP" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="OPENASSETTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="LASTCOMCHGDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="ICCHARGEID" type="xs:string" minOccurs="0"/>
      <xs:element name="ICNEXTCAPDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="gICPRODUCT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mICPRODUCT" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ICPRODUCT" type="xs:string" minOccurs="0"/>
                  <xs:element name="ICLSTPRODCAP" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="ARRANGEMENTID" type="xs:string" minOccurs="0"/>
      <xs:element name="gACCDEBLIMIT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ACCDEBLIMIT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gMANDATEAPPL" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mMANDATEAPPL" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="MANDATEAPPL" type="xs:string" minOccurs="0"/>
                  <xs:element name="MANDATEREG" type="xs:string" minOccurs="0"/>
                  <xs:element name="MANDATERECORD" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="DRADJAMOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="DR2ADJAMOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="CRADJAMOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="CR2ADJAMOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="gEVENT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mEVENT" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="EVENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="sgFIELD" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="FIELD" minOccurs="0" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="FIELD" type="xs:string" minOccurs="0"/>
                              <xs:element name="OPERAND" type="xs:string" minOccurs="0"/>
                              <xs:element name="VALUE" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                            <xs:attribute name="s" type="xs:positiveInteger"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="sg" type="xs:positiveInteger"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="MVALERTRES6" type="xs:string" minOccurs="0"/>
                  <xs:element name="MVALERTRES5" type="xs:string" minOccurs="0"/>
                  <xs:element name="MVALERTRES4" type="xs:string" minOccurs="0"/>
                  <xs:element name="MVALERTRES3" type="xs:string" minOccurs="0"/>
                  <xs:element name="MVALERTRES2" type="xs:string" minOccurs="0"/>
                  <xs:element name="MVALERTRES1" type="xs:string" minOccurs="0"/>
                  <xs:element name="REQUESTID" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="OVERRIDE" type="xs:string" minOccurs="0"/>
      <xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
      <xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
      <xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
      <xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
      <xs:element name="COCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
      <xs:element name="CAPRIMEACCT" type="xs:string" minOccurs="0"/>
      <xs:element name="FRE" type="xs:string" minOccurs="0"/>
      <xs:element name="MAPFRE" type="xs:string" minOccurs="0"/>
      <xs:element name="gCUSTOMER.LINK" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CUSTOMERLINK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="PASSBOOKNUMBER" type="xs:string" minOccurs="0"/>
      <xs:element name="MODEOFDEPOSIT" type="xs:string" minOccurs="0"/>
      <xs:element name="INITIALDEPOSIT" type="xs:string" minOccurs="0"/>
      <xs:element name="ACCTLEGALID" type="xs:string" minOccurs="0"/>
      <xs:element name="LRFAXAUTH" type="xs:string" minOccurs="0"/>
      <xs:element name="REGISTEREDSIGN" type="xs:string" minOccurs="0"/>
      <xs:element name="BENNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="BENRELATION" type="xs:string" minOccurs="0"/>
      <xs:element name="BENPERCENTAGE" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.ADD.DESC" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRADDDESC" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRTAXEXEMPT" type="xs:string" minOccurs="0"/>
      <xs:element name="REQUIREDSIGN" type="xs:string" minOccurs="0"/>
      <xs:element name="LRACCOUNTFLAG" type="xs:string" minOccurs="0"/>
      <xs:element name="gEVENT.CODE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mEVENT.CODE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="EVENTCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CRITERIA" type="xs:string" minOccurs="0"/>
                  <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LROUTWARDNO" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.PURPOSE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRPURPOSE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.ORG.OF.FUNDS" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRORGOFFUNDS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.SRC.OF.FUNDS" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRSRCOFFUNDS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRMONTXVOL" type="xs:string" minOccurs="0"/>
      <xs:element name="LRANNTXVOL" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.NO.OF.DEBITS" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRNOOFDEBITS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRNONTRANDPT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRWITHDRAWAMT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRTRNSENTAMT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRTRNRCVDAMT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRESTACCTBAL" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPAYROLLGRP" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.ADD.FOR.CRRS" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRADDFORCRRS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LROPRTTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.ACC.NAME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRACCNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.SIGN.ID" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.SIGN.ID" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRSIGNID" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRSIGNNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRSIGNTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRSIGNDESC" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.BEN.NAME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.BEN.NAME" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRBENNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRBENRELN" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRBENPRG" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRRESRVELIMIT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRINDXLEGALID" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCHEQUENO" type="xs:string" minOccurs="0"/>
      <xs:element name="LRINSRTNCNT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRNOOFTRANS" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.PD.REF.ID" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRPDREFID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRNOAMTDEPOS" type="xs:string" minOccurs="0"/>
      <xs:element name="LRNOTRNRCVD" type="xs:string" minOccurs="0"/>
      <xs:element name="LRNOTRNSENT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRNOWITHDRAW" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCONTRPRINT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCONPRIDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCONPRIUSER" type="xs:string" minOccurs="0"/>
      <xs:element name="LRREPRINOBSER" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCONREPRIDT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRCONREPRIUS" type="xs:string" minOccurs="0"/>
      <xs:element name="LRREFERDATE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRREFERRECE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRAVGBALPER" type="xs:string" minOccurs="0"/>
      <xs:element name="LRAVGBALHIST" type="xs:string" minOccurs="0"/>
      <xs:element name="LRREFCHARGE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRBALPRINT" type="xs:string" minOccurs="0"/>
      <xs:element name="EMAILSTMT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRACTCUST" type="xs:string" minOccurs="0"/>
      <xs:element name="OWNPRINTING" type="xs:string" minOccurs="0"/>
      <xs:element name="CITYCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRREFCHGACCT" type="xs:string" minOccurs="0"/>
      <xs:element name="FICOMATDUE" type="xs:string" minOccurs="0"/>
      <xs:element name="FICOJUDEXEC" type="xs:string" minOccurs="0"/>
      <xs:element name="LRSEQACCTNO" type="xs:string" minOccurs="0"/>
      <xs:element name="ADDRESSTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="LRONTIMEPYMT" type="xs:string" minOccurs="0"/>
      <xs:element name="AADEFINCONTAB" type="xs:string" minOccurs="0"/>
      <xs:element name="AADESTINCOMER" type="xs:string" minOccurs="0"/>
      <xs:element name="LRFICOREFTYP" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.TIN.ACT" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.TIN.ACT" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRTINACT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNUMACT" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRCUSREP" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPARACCT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRNOMACCT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRTIPACCT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRNUMACCT" type="xs:string" minOccurs="0"/>
      <xs:element name="LRBLKUSER" type="xs:string" minOccurs="0"/>
      <xs:element name="gLR.BEN.ID.TYPE" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLR.BEN.ID.TYPE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LRBENIDTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRBENID" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gLR.TRANS.INFO" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRTRANSINFO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LRCTRLBLKID" type="xs:string" minOccurs="0"/>
      <xs:element name="LROFFICIALCOD" type="xs:string" minOccurs="0"/>
      <xs:element name="LRPRUEBAACCOU" type="xs:string" minOccurs="0"/>
      <xs:element name="LRDESCCATEGOR" type="xs:string" minOccurs="0"/>
      <xs:element name="LRNOMBREACCOU" type="xs:string" minOccurs="0"/>
      <xs:element name="LMONTHS" type="xs:string" minOccurs="0"/>
      <xs:element name="LRACCOUNTPRUE" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="WSFICOHNACCTCRRYType">
    <xs:sequence>
      <xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
      <xs:element name="gWSFICOHNACCTCRRYDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSFICOHNACCTCRRYDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfs">
    <xs:sequence>
      <xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfsResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultacuentasdeorigendisponib">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSFICOHNACCTCRRYType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="webRequestCommon">
    <xs:sequence>
      <xs:element name="userName" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="company" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enquiryInput">
    <xs:sequence>
      <xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enquiryInputCollection">
    <xs:sequence>
      <xs:element name="columnName" type="xs:string" minOccurs="0"/>
      <xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
      <xs:element name="operand" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultacuentasdeorigendisponibResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSFICOHNACCTCRRYType" type="tns:WSFICOHNACCTCRRYType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DesbloqueodecuentasAOP">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
      <xs:element name="ACCOUNTDESBLOQAHOPWSType" type="tns:ACCOUNTDESBLOQAHOPWSType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ofsFunction">
    <xs:sequence>
      <xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
      <xs:element name="replace" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DesbloqueodecuentasAOPResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="ACCOUNTType" type="tns:ACCOUNTType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultaCAP">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSFICOCAPAFIType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultaCAPResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSFICOCAPAFIType" type="tns:WSFICOCAPAFIType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DesbloqueodecuentasAOP_Validate">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
      <xs:element name="ACCOUNTDESBLOQAHOPWSType" type="tns:ACCOUNTDESBLOQAHOPWSType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DesbloqueodecuentasAOP_ValidateResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="ACCOUNTType" type="tns:ACCOUNTType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="successIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="TWSError"/>
      <xs:enumeration value="T24Error"/>
      <xs:enumeration value="T24Override"/>
      <xs:enumeration value="T24Offline"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>