Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ConsultaMaestraInfoTransaccionesTC/xsd/ConMaestraInfoTransaccionesTC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConMaestraInfoTransaccionesTC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConMaestraInfoTransaccionesTC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="Pais" type="db:string3" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="Org" type="db:string3" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="NumCuenta" type="db:string19" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="Tipo" type="db:string20" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="CodServicio" type="db:string10" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="Mes" type="int" db:index="6" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="Anio" type="int" db:index="7" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="Agrupar" type="boolean" db:index="8" db:type="BIT" minOccurs="0" nillable="true"/>
            <element name="CodigoError" type="int" db:index="9" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="MensajeError" type="db:string4000" db:index="10" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="CodigoError" type="int" db:index="9" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="MensajeError" type="db:string4000" db:index="10" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string19">
      <restriction base="string">
         <maxLength value="19"/>
      </restriction>
   </simpleType>
      <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>	
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string4000">
      <restriction base="string">
         <maxLength value="4000"/>
      </restriction>
   </simpleType>
</schema>