Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Accounts/RequestorServices/WSDL/GetAccountDetail_PS.wsdl

<wsdl:definitions name="GetAccountDetail_PS" targetNamespace="http://xmlns.oracle.com/MWBanking/GetAccountDetail_PS" xmlns:tns="http://xmlns.oracle.com/MWBanking/GetAccountDetail_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/getAccountDetails" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/accountsTypes" xmlns:inp3="http://www.ficohsa.com.hn/middleware.services/accountValidation" xmlns:inp4="http://www.ficohsa.com.hn/middleware.services/accountMovements" xmlns:inp5="http://www.ficohsa.com.hn/middleware.services/updateAccountTypes">
  <plnk:partnerLinkType name="GetAccountDetail_PS">
    <plnk:role name="GetAccountDetail_PSProvider" portType="tns:GetAccountDetail_PS_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getAccountDetails" schemaLocation="../XSD/getAccountDetails.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/MWBanking/GetAccountDetail_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getAccountDetail_params">
        <complexType>
          <sequence>
            <element name="accountNumber" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/accountsTypes" schemaLocation="../XSD/accountsTypes.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/accountValidation" schemaLocation="../XSD/accountValidationTypes.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/accountMovements" schemaLocation="../XSD/getAccountMovementsTypes.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/updateAccountTypes" schemaLocation="../XSD/updateAccountTypes.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAccountDetail_inputMessage">
    <wsdl:part name="request" element="tns:getAccountDetail_params"/>
  </wsdl:message>
  <wsdl:message name="getAccountDetail_outputMessage">
    <wsdl:part name="reply" element="inp1:getAccountDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="createAccount_inputMessage">
    <wsdl:part name="request" element="inp2:createAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="createAccount_outputMessage">
    <wsdl:part name="reply" element="inp2:createAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="chequeBooks_inputMessage">
    <wsdl:part name="request" element="inp2:createCheckBooksRequest"/>
  </wsdl:message>
  <wsdl:message name="chequeBooks_outputMessage">
    <wsdl:part name="reply" element="inp2:createCheckBooksResponse"/>
  </wsdl:message>
  <wsdl:message name="accountValidation_inputMessage">
    <wsdl:part name="request" element="inp3:accountValidationRequest"/>
  </wsdl:message>
  <wsdl:message name="accountValidation_outputMessage">
    <wsdl:part name="reply" element="inp3:accountValidationResponse"/>
  </wsdl:message>
  <wsdl:message name="accountMovements_inputMessage">
    <wsdl:part name="request" element="inp4:getAccountMovementsRequest"/>
  </wsdl:message>
  <wsdl:message name="accountMovements_outputMessage">
    <wsdl:part name="reply" element="inp4:getAccountMovementsResponse"/>
  </wsdl:message>
  <wsdl:message name="updateAccount_inputMessage">
    <wsdl:part name="request" element="inp5:updateAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="updateAccount_outputMessage">
    <wsdl:part name="reply" element="inp5:updateAccountResponse"/>
  </wsdl:message>
  <wsdl:portType name="GetAccountDetail_PS_ptt">
    <wsdl:operation name="getAccountDetail">
      <wsdl:input message="tns:getAccountDetail_inputMessage"/>
      <wsdl:output message="tns:getAccountDetail_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="createAccount">
      <wsdl:input message="tns:createAccount_inputMessage"/>
      <wsdl:output message="tns:createAccount_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="chequeBooks">
      <wsdl:input message="tns:chequeBooks_inputMessage"/>
      <wsdl:output message="tns:chequeBooks_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="accountValidation">
      <wsdl:input message="tns:accountValidation_inputMessage"/>
      <wsdl:output message="tns:accountValidation_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="accountMovements">
      <wsdl:input message="tns:accountMovements_inputMessage"/>
      <wsdl:output message="tns:accountMovements_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="updateAccount">
      <wsdl:input message="tns:updateAccount_inputMessage"/>
      <wsdl:output message="tns:updateAccount_outputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetAccountDetail_PS_ptt-binding" type="tns:GetAccountDetail_PS_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAccountDetail">
      <soap:operation soapAction="getAccountDetail"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAccount">
      <soap:operation soapAction="createAccount"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chequeBooks">
      <soap:operation soapAction="chequeBooks"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accountValidation">
      <soap:operation soapAction="accountValidation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accountMovements">
      <soap:operation soapAction="accountMovements"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccount">
      <soap:operation soapAction="updateAccount"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>