Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/ChequeBooksOperations/XMLSchema_21306858.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Registrodechequerapropimpresion" type="tns:Registrodechequerapropimpresion"/>

<xs:element name="RegistrodechequerapropimpresionResponse" type="tns:RegistrodechequerapropimpresionResponse"/>

<xs:element name="Registrodechequerapropimpresion_Validate" type="tns:Registrodechequerapropimpresion_Validate"/>

<xs:element name="Registrodechequerapropimpresion_ValidateResponse" type="tns:Registrodechequerapropimpresion_ValidateResponse"/>

<xs:element name="Solicituddechequera" type="tns:Solicituddechequera"/>

<xs:element name="SolicituddechequeraResponse" type="tns:SolicituddechequeraResponse"/>

<xs:element name="Solicituddechequera_Validate" type="tns:Solicituddechequera_Validate"/>

<xs:element name="Solicituddechequera_ValidateResponse" type="tns:Solicituddechequera_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="FICOHCHECKBOOKREQUESTPRINTType">
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="REQUESTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="AGENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUETYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALCHEQUESREQUESTED" type="xs:string" minOccurs="0"/>
<xs:element name="INITIALCHECKNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="FINALCHECKNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOHCHECKBOOKREQUESTType">
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="REQUESTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="AGENCY" type="xs:string" minOccurs="0"/>
<xs:element name="DESTINAGENCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DESTINAGENCYNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFBOOKS" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUETYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKBOOKTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKSPERBOOK" type="xs:string" minOccurs="0"/>
<xs:element name="LASTCHECKREGIS" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENOSTART" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENOEND" type="xs:string" minOccurs="0"/>
<xs:element name="CLAIMPERSON" type="xs:string" minOccurs="0"/>
<xs:element name="FIRSTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="MIDDLENAME" type="xs:string" minOccurs="0"/>
<xs:element name="gADDRESS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ADDRESS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LOCATION" type="xs:string" minOccurs="0"/>
<xs:element name="TELEPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="FAX" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="gCHEQUEISSUEID" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CHEQUEISSUEID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CHEQUECHARGE" type="xs:string" minOccurs="0"/>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="OWNPRINTING" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED1" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED7" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED10" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED11" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED12" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED13" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED14" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED15" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED16" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED17" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED18" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED19" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED20" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOHCHECKBOOKREQUESTISSUEDWSType">
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="REQUESTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="AGENCY" type="xs:string" minOccurs="0"/>
<xs:element name="DESTINATIONAGENCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DESTINATIONAGENCYNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFBOOKS" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUETYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUESPERBOOK" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISEDPERSON" type="xs:string" minOccurs="0"/>
<xs:element name="NAME" type="xs:string" minOccurs="0"/>
<xs:element name="GADDRESS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Address" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="TELEPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="FAX" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUECHARGE" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="Solicituddechequera">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHECKBOOKREQUESTISSUEDWSType" type="tns:FICOHCHECKBOOKREQUESTISSUEDWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SolicituddechequeraResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHECKBOOKREQUESTType" type="tns:FICOHCHECKBOOKREQUESTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Registrodechequerapropimpresion_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHECKBOOKREQUESTPRINTType" type="tns:FICOHCHECKBOOKREQUESTPRINTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Registrodechequerapropimpresion_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHECKBOOKREQUESTType" type="tns:FICOHCHECKBOOKREQUESTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Registrodechequerapropimpresion">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHECKBOOKREQUESTPRINTType" type="tns:FICOHCHECKBOOKREQUESTPRINTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrodechequerapropimpresionResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHECKBOOKREQUESTType" type="tns:FICOHCHECKBOOKREQUESTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Solicituddechequera_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHECKBOOKREQUESTISSUEDWSType" type="tns:FICOHCHECKBOOKREQUESTISSUEDWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Solicituddechequera_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHECKBOOKREQUESTType" type="tns:FICOHCHECKBOOKREQUESTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>