Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/Cobis/ActualizacionDatosCliente/xsd/ActualizacionDatosCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ActualizacionDatosCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ActualizacionDatosCliente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="i_pais" type="db:string30" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_user" type="db:string30" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_canal" type="db:string30" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_fecha" type="dateTime" db:index="4" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="t_trn" type="int" db:index="5" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_oficina" type="short" db:index="6" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_di_ente" type="int" db:index="7" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_pais_dir" type="db:string10" db:index="8" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_departamento_dir" type="db:string10" db:index="9" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_municipio_dir" type="short" db:index="10" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_codigo_dir" type="short" db:index="11" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_descripcion_dir" type="db:string254" db:index="12" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_codigo_tel" type="short" db:index="13" db:type="SMALLINT" minOccurs="0" nillable="true"/>
            <element name="i_descripcion_tel" type="db:string25" db:index="14" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="RETURN_VALUE" type="int" db:index="0" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_num_error" type="int" db:index="15" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_desc_error" type="db:string132" db:index="16" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string254">
      <restriction base="string">
         <maxLength value="254"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string132">
      <restriction base="string">
         <maxLength value="132"/>
      </restriction>
   </simpleType>
</schema>
