Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ActualizacionTmpLimiteCTA/wsdl/actualizacionTmpLimiteCTAPS.wsdl

<wsdl:definitions name="actualizacionTmpLimiteCTAPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizacionTmpLimiteCTAPS/" xmlns:alcta="http://www.ficohsa.com.hn/middleware.services/actualizacionTmpLimiteCTAPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" schemaLocation="../../GestionesTarjetas/xsd/gestionesTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="actualizacionTmpLimiteCTARequest">
		<wsdl:part element="tns:actualizacionTmpLimiteCTA" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="actualizacionTmpLimiteCTAResponse">
		<wsdl:part element="tns:actualizacionTmpLimiteCTAResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="actualizacionTmpLimiteCTAPS">
		<wsdl:operation name="actualizacionTmpLimiteCTA" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="alcta:actualizacionTmpLimiteCTARequest"/>
			<wsdl:output message="alcta:actualizacionTmpLimiteCTAResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="actualizacionTmpLimiteCTAPSSOAP" type="alcta:actualizacionTmpLimiteCTAPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="actualizacionTmpLimiteCTA">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="alcta:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="alcta:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="actualizacionTmpLimiteCTAPS">
		<wsdl:port binding="alcta:actualizacionTmpLimiteCTAPSSOAP" name="actualizacionTmpLimiteCTAPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/ActualizacionTmpLimiteCTA/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>