Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaMultipleImagenesCheques_v2/xsd/XMLSchema_-867208645.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/procesoImagenesChequesTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/procesoImagenesChequesTypes">

	<xs:element name="registroIndividualImagenChequeRequest" type="cons:registroIndividualImagenChequeRequestType"/>
	
	<xs:complexType name="registroIndividualImagenChequeRequestType">
		<xs:sequence>
			<xs:element name="TRANSACTION_ID" type="xs:string"/>
			<xs:element name="TRANSACTION_DATE" type="xs:string"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string"/>
			<xs:element name="CHEQUE_IMAGE_FRONT" type="xs:string"/>
			<xs:element name="CHEQUE_IMAGE_BACK" type="xs:string"/>
			<xs:element name="FILE_EXTENSION" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="registroIndividualImagenChequeResponse" type="cons:registroIndividualImagenChequeResponseType"/>
	
	<xs:complexType name="registroIndividualImagenChequeResponseType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaImagenChequeRequest" type="cons:consultaImagenChequeRequestType"/>
	
	<xs:complexType name="consultaImagenChequeRequestType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string"/>
			<xs:element name="TRANSACTION_REFERENCE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaImagenChequeResponse" type="cons:consultaImagenChequeResponseType"/>
	
	<xs:complexType name="consultaImagenChequeResponseType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string"/>
			<xs:element name="TRANSACTION_DATE" type="xs:string"/>
			<xs:element name="CHEQUE_IMAGE_FRONT" type="xs:string"/>
			<xs:element name="CHEQUE_IMAGE_BACK" type="xs:string"/>
			<xs:element name="FILE_EXTENSION" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="registroMultipleImagenesChequesRequest" type="cons:registroMultipleImagenesChequesRequestType"/>
	
	<xs:complexType name="registroMultipleImagenesChequesRequestType">
		<xs:sequence>
			<xs:element name="registroMultipleImagenesChequesRequestType" type="cons:registroMultipleImagenesChequesRequestRecordType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="registroMultipleImagenesChequesRequestRecordType">
		<xs:sequence>
			<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_IMAGE_FRONT" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_IMAGE_BACK" type="xs:string" minOccurs="0"/>
			<xs:element name="FILE_EXTENSION" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="registroMultipleImagenesChequesResponse" type="cons:registroMultipleImagenesChequesResponseType"/>
	
	<xs:complexType name="registroMultipleImagenesChequesResponseType">
		<xs:sequence>
			<xs:element name="registroMultipleImagenesChequesResponseType" type="cons:registroMultipleImagenesChequesResponseRecordType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="registroMultipleImagenesChequesResponseRecordType">
		<xs:sequence>
			<xs:element name="CHEQUE_RECORD_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaMultipleImagenesChequesRequest" type="cons:consultaMultipleImagenesChequesRequestType"/>
	
	<xs:complexType name="consultaMultipleImagenesChequesRequestType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string"/>
			<xs:element name="TRANSACTION_REFERENCE" type="xs:string"/>
			<xs:element name="START_DATE" type="xs:string"/>
			<xs:element name="END_DATE" type="xs:string"/>
			<xs:element name="MAX_CHEQUES" type="xs:string"/>
			<xs:element name="INITIAL_POSITION_RETURNED" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaMultipleImagenesChequesResponse" type="cons:consultaMultipleImagenesChequesResponseType"/>
	
	<xs:complexType name="consultaMultipleImagenesChequesResponseType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_CHEQUES_FOUND" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_CHEQUES_RETURNED" type="xs:string" minOccurs="0"/>
			<xs:element name="INITIAL_POSITION_RETURNED" type="xs:string" minOccurs="0"/>
			<xs:element name="LAST_POSITION_RETURNED" type="xs:string" minOccurs="0"/>
			<xs:element name="consultaMultipleImagenesChequesResponseType" type="cons:consultaMultipleImagenesChequesResponseRecordType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaMultipleImagenesChequesResponseRecordType">
		<xs:sequence>
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_IMAGE_FRONT" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_IMAGE_BACK" type="xs:string" minOccurs="0"/>
			<xs:element name="FILE_EXTENSION" type="xs:string" minOccurs="0"/>
			<xs:element name="QUERY_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="QUERY_DESCRIPTION" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
		
</xs:schema>