Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/consultaTasaCambio_v2/xsd/XMLSchema_-876325250.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTasaCambioTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaTasaCambioTypes">
	
	<xs:complexType name="consultaTasaCambioResponseArrayType">
		<xs:sequence>
           	<xs:element name="BUY_RATE" type="xs:string" minOccurs="0"/>
			<xs:element name="SELL_RATE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaTasaCambioResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaTasaCambioResponseRecordType" type="cons:consultaTasaCambioResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaTasaCambioResponseType">
		<xs:sequence>
			<xs:element name="consultaTasaCambioResponseType" type="cons:consultaTasaCambioResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaTasaCambio">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SOURCE_CURRENCY" type="xs:string"/>
				<xs:element name="TARGET_CURRENCY" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaTasaCambioResponse" type="cons:consultaTasaCambioResponseType"/>
	
</xs:schema>