Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons_Virtual/Schemas/PagosMasivosH2H/pagosMasivosTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagosMasivosTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pag="http://www.ficohsa.com.hn/middleware.services/pagosMasivosTypes">
  <!--###############################-->
  <!--OPERACION: PAGOS MASIVOS-->
  <xs:element name="pagosMasivos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GLOBAL_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="CUSTOMER_ID" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USERNAME" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="BATCHES" type="pag:batchesType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pagosMasivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GLOBAL_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BATCHES" type="pag:batchesResponseType" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--BATCHES TYPES-->
  <xs:complexType name="batchesType">
    <xs:sequence>
      <xs:element name="BATCH" type="pag:batchType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!--BATCH TYPES-->
  <xs:complexType name="batchType">
    <xs:sequence>
      <xs:element name="CUSTOMER_BATCH_ID" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="TYPE" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="CONCEPT_BATCH" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="APPLICATION_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
      <xs:element name="DATA_STRUCTURE">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="VALIDATIONS" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="DEBIT_ACCT_BALANCE" type="pag:yesNoType" minOccurs="1" maxOccurs="1"/>
                  <xs:element name="DEBIT_ACCT_STATUS" type="pag:yesNoType" minOccurs="1" maxOccurs="1"/>
                  <xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                  <xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="FIELDS" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="FIELD" type="pag:multivalueType" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="DELIMITER" minOccurs="1" maxOccurs="1">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TRANSACTIONS" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TRANSACTION" type="pag:multivalueType" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--YESNO TYPE-->
  <xs:simpleType name="yesNoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="YES"/>
      <xs:enumeration value="NO"/>
    </xs:restriction>
  </xs:simpleType>
  <!--BATCHESRESPONSE TYPE-->
  <xs:complexType name="batchesResponseType">
    <xs:sequence>
      <xs:element name="BATCH" type="pag:batchResponseType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!--BATCHRESPONSE TYPE-->
  <xs:complexType name="batchResponseType">
    <xs:sequence>
      <xs:element name="BANK_BATCH_ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CUSTOMER_BATCH_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ERROR_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <!--MULTIVALUE TYPE-->
  <xs:complexType name="multivalueType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <!--###############################-->
  <!--###############################-->
  <!--CONSULTAPAGOSMASIVOS-->
  <!--###############################-->
  <!--CONSULTALOTESCLIENTE-->
  <xs:element name="consultaLotesCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CUSTOMER_ID" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="BEGIN_DATE" type="xs:date" minOccurs="1" maxOccurs="1"/>
        <xs:element name="END_DATE" type="xs:date" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaLotesClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BEGIN_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
        <xs:element name="END_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BATCHES" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BATCH" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BANK_BATCH_ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CUSTOMER_BATCH_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="TYPE" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="TYPE_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="UPLOAD_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="APLICATION_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="NUMBER_OF_TRANSACTIONS_SUCCESS" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="NUMBER_OF_TRANSACTIONS_ERROR" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="TOTAL_AMOUNT_ERROR" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--BATCHRESPONSE-->
  <!--###############################-->
  <!--###############################-->
  <!--CONSULTADETALLELOTE-->
  <xs:element name="consultaDetalleLote">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CUSTOMER_ID" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="QUERY_TYPE" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="BANK_BATCH_ID"/>
              <xs:enumeration value="CUSTOMER_BATCH_ID"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="QUERY_VALUE" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaDetalleLoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BANK_BATCH_ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BATCH_TYPE" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BATCH_TYPE_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="UPLOAD_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
        <xs:element name="APPLICATION_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
        <xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="NUMBER_OF_TRANSACTIONS_SUCCESS" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="NUMBER_OF_TRANSACTIONS_ERROR" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="TOTAL_AMOUNT_ERROR" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="TRANSACTIONS" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TRANSACTION" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="TXN_REFERENCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CREDIT_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="BENEFICIARY" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DOCUMENT_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ERROR_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--###############################-->
  <!--###############################-->
  <!--CONSULTATRASACCIONLOTE-->
  <xs:element name="consultaTransaccionLote">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CUSTOMER_ID" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TXN_REFERENCE" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaTransaccionLoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="TRANSACTION" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
              <xs:element name="TXN_REFERENCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="BANK_BATCH_ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
              <xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="CREDIT_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>