Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/GeneraEstadoCuenta/wsdl/generaEstadoCuentaPS.wsdl

<wsdl:definitions name="generaEstadoCuentaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/generaEstadoCuentaPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/generaEstadoCuentaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generaEstadoCuentaTypes" xmlns:tns="http://www.bea.com/wli/sb/stages/transform/config">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/generaEstadoCuentaTypes" schemaLocation="../xsd/generaEstadoCuentaTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestHeader">
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="responseHeader">
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
     
    <wsdl:message name="generaEstadoCuentaTCRequest">
        <wsdl:part element="gen:generaEstadoCuentaTC" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="generaEstadoCuentaTCResponse">
        <wsdl:part element="gen:generaEstadoCuentaTCResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:message name="generaEncabezadoTCRequest">
    	<wsdl:part element="gen:generaEncabezadoTC" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generaEncabezadoTCResponse">
    	<wsdl:part element="gen:generaEncabezadoTCResponse" name="result"/>
    </wsdl:message>
     <wsdl:portType name="generaEstadoCuentaPS">
        <wsdl:operation name="generaEstadoCuentaTC" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:generaEstadoCuentaTCRequest"/>
            <wsdl:output message="fic:generaEstadoCuentaTCResponse"/>
        </wsdl:operation>
        <wsdl:operation name="generaEncabezadoTC" parameterOrder="parameters RequestHeader ResponseHeader">
        	<wsdl:input message="fic:generaEncabezadoTCRequest"/>
        	<wsdl:output message="fic:generaEncabezadoTCResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="generaEstadoCuentaPSSOAP" type="fic:generaEstadoCuentaPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="generaEstadoCuentaTC">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/generaEstadoCuentaPS/generaEstadoCuentaTC"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generaEncabezadoTC">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/generaEstadoCuentaPS/generaEncabezadoTC"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>

    
    <wsdl:service name="generaEstadoCuentaPS">
        <wsdl:port binding="fic:generaEstadoCuentaPSSOAP" name="generaEstadoCuentaPSSOAP">
           <soap:address location="https://172.23.13.19:8004/Middleware/OperationsAndExecution/CustomerPosition/GeneraEstadoCuenta"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>