Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/BusinessServices/registroDatosTC/xsd/registroDatosTC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registroDatosTC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registroDatosTC" elementFormDefault="qualified">
  <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PT_DATOS_TARJETA" type="db:CLIENTDATA.T_DATOS_TARJETA_CREDITO" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_COUNTRY_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_ERROR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CLIENTDATA.T_DATOS_TARJETA_CREDITO">
      <sequence>
         <element name="PT_DATOS_TARJETA_ITEM" type="db:CLIENTDATA.O_DATOS_TARJETA_CREDITO" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="CLIENTDATA.O_DATOS_TARJETA_CREDITO">
      <sequence>
         <element name="CARD_NUMBER" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DUAL_INDICATOR" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_NUMBER" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_HOLDER_NAME" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_HOLDER_NAME" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_HOLDER_LEGAL_ID" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_HOLDER_LEGAL_ID" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ID" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_STATUS" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_TYPE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AFINITY_GROUP" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ORG_IND" type="db:string8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ORG" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ANUAL_PURCHASE_LIMIT" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ANUAL_WITHDRAWAL_LIMIT" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTHLY_PURCHASE_LIMIT" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTHLY_WITHDRAWAL_LIMIT" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DAILY_PURCHASE_LIMIT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DAILY_WITHDRAWAL_LIMIT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CARD_ACTIVATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CARD_STATUS" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_EXPIRATION_DATE" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EMBOSSED_NUMBER" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BLOCK_CODE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BLOCK_REASON" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BLOCK_DATE" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRODUCT" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PIN_INDICATOR" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CURRENT_PLASTIC_ACTION" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LAST_ACTION_PLASTIC" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DATE_LAST_ISSUANCE_PLASTIC" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRIVILEGE_CODE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRIORITY_PASS" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LIMIT_INDICATOR_EXPENSES" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PERCENTAGE_LIMIT_DAILY_PURCHASE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PERCENTAGE_MONTHLY_PURCHASE_LIMIT" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ANNUAL_PURCHASE_LIMIT_PERCENTAGE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DAILY_WITHDRAWAL_LIMIT_PERCENTAGE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTHLY_WITHDRAWAL_LIMIT_PERCENTAGE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ANNUAL_RETIREMENT_LIMIT_PERCENTAGE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_WITHDRAWALS_APPLIED_TODAY" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_WITHDRAWALS_APPLIED_MONTH_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_WITHDRAWALS_APPLIED_YEAR_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_IN_WITHDRAWALS_APPLIED_TODAY" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_WITHDRAWALS_APPLIED_MONTH_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_WITHDRAWALS_APPLIED_YEAR_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_DECLINED_RETIREMENTS_TODAY" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_DECLINED_RETIREMENTS_MONTH_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_DECLINED_RETIREMENTS_YEAR_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_DECLINED_RETIREMENTS_TODAY" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_DECLINED_WITHDRAWALS_MONTH_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_DECLINED_RETIREMENTS_YEAR_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_PURCHASES_APPLIED_TODAY" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_PURCHASES_APPLIED_MONTH_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_PURCHASES_APPLIED_YEAR_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_APPLIED_PURCHASES_TODAY" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_APPLIED_PURCHASES_MONTH_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_APPLIED_PURCHASES_YEAR_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_PURCHASES_DECLINED_TODAY" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_PURCHASES_DECLINED_MONTH_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_PURCHASES_DECLINED_YEAR_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_PURCHASES_DECLINED_TODAY" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_PURCHASES_DECLINED_MONTH_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_PURCHASES_DECLINED_YEAR_TO_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CREDIT_CARD_STATUS" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string19">
      <restriction base="string">
         <maxLength value="19"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string8">
      <restriction base="string">
         <maxLength value="8"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
   <simpleType name="string60">
      <restriction base="string">
         <maxLength value="60"/>
      </restriction>
   </simpleType>
</schema>