Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/tarjetaCredito/SolicitudReposicionTarjetaCredito/solicitudReposicionTarjetaCreditoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/solicitudReposicionTarjetaCreditoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/solicitudReposicionTarjetaCreditoTypes">
		
	<xs:complexType name = "solicitudReposicionTarjetaCreditoResponse">
		<xs:sequence>
		</xs:sequence> 
	</xs:complexType>
	
	<xs:element name="solicitudReposicionTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="USER_ID" type="xs:string"/>
	            <xs:element name="EMAIL_ADDRESS" type="xs:string"/>
	            <xs:element name="CUSTOMER_ID" type="xs:string"/>
	            <xs:element name="INTERFACE_REFERENCE_NO" type="xs:string"/>
	            <xs:element name="CARD_NUMBER" type="xs:string"/>
	            <xs:element name="CARD_TO_REPLACE" type="xs:string"/>
	            <xs:element name="REPLACEMENT_REASON" type="xs:string"/>
	            <xs:element name="WITHDRAWAL_BRANCH_CODE" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="solicitudReposicionTarjetaCreditoResponse" type="cons:solicitudReposicionTarjetaCreditoResponse"/>
	
</xs:schema>