Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaTransSinPreQuality/xsd/consultaTransSinPreQualityTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTransSinPreQualityTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaTransSinPreQualityTypes">
		
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name = "DETAIL_TRANSACTIONS">
		<xs:sequence>
		    <xs:element name="POSTING_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANS_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANS_CODE" type="xs:string" minOccurs="0"/>     
			<xs:element name="TRANS_AMOUNT" type="xs:string" minOccurs="0"/>  
			<xs:element name="DESCRIPTION_TRANS" type="xs:string" minOccurs="0"/>  
			<xs:element name="CODE_TRANS_PLAN" type="xs:string" minOccurs="0"/> 
			<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="MERCHANT_STORE" type="xs:string" minOccurs="0"/> 
			<xs:element name="CATEGORY_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="SEQUENCE" type="xs:integer" minOccurs="0"/> 
			<xs:element name="EFFECTIVE_DATE" type="xs:string" minOccurs="0"/>
			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name = "DETAIL_ORG">
		<xs:sequence>
			<xs:element name="ORG" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="BEGINNING_BALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="DEBIT_QUANTITY" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT_DEBIT" type="xs:string" minOccurs="0" />
			<xs:element name="CREDIT_QUANTITY" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT_CREDIT" type="xs:string" minOccurs="0" />
			<xs:element name="FINAL_BALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="MAX_PAYMENT_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="CUTOFF_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="MIN_PAYMENT" type="xs:string" minOccurs="0" />
			<xs:element name="DELAY_CYCLE" type="xs:string" minOccurs="0" />
			<xs:element name="EFFECTIVE_DATE_TRANS" type="xs:string" minOccurs="0" />
			<xs:element name="DETAIL_TRANSACTIONS" type="tns:DETAIL_TRANSACTIONS" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaTransSinPreQuality">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="tns:stringMinLength1" />
				<xs:element name="ORG" type="xs:string" minOccurs="0"/>
				<xs:element name="YEAR" type="tns:stringMinLength1" />
				<xs:element name="MONTH" type="tns:stringMinLength1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaTransSinPreQualityResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DETAIL_ORG" type="tns:DETAIL_ORG" minOccurs="0" maxOccurs="unbounded"/>			
			</xs:sequence>
		</xs:complexType>			
	</xs:element>
	
	<xs:element name="DETAIL_TRANSACTIONS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DETAIL_TRANSACTIONS" type="tns:DETAIL_TRANSACTIONS" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DETAIL_ORG">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DETAIL_ORG" type="tns:DETAIL_ORG" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>