Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultaRecaudoAbanks/ConsultaRecaudoAbanks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaRecaudoAbanksTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cred="http://www.ficohsa.com.hn/middleware.services/consultaRecaudoAbanksTypes">
	
	<xs:complexType name="consultaRecaudoAbanksResponseType">
		<xs:sequence>
	        <xs:element name="MESSAGE_LINE_1" type="xs:string"/>
			<xs:element name="MESSAGE_LINE_2" type="xs:string"/>
			<xs:element name="RESPONSE_TYPE" type="xs:string"/>
			<xs:element name="BILL_MATRIX" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaRecaudoAbanks">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CONTRACT_ID" type="xs:string"/>
				<xs:element name="DEBTOR_CODE" type="xs:string"/>
				<xs:element name="NUMBER_OF_BILLS" type="xs:string" minOccurs="0"/>
				<xs:element name="BILL_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="CURRENCY" type="xs:string"/>
				<xs:element name="ADDITIONAL_INFO" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaRecaudoAbanksResponse" type="cred:consultaRecaudoAbanksResponseType"/>
	
	
</xs:schema>