Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/direcciones/ConsultaMunicipios/consultaMunicipiosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMunicipiosTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaMunicipiosTypes">
	
	<xs:complexType name = "consultaMunicipiosResponseArrayType">
		<xs:sequence>
			<xs:element name="CITY_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="CITY_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="DEPT_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0"/>
		 </xs:sequence> 


	</xs:complexType>
	
	<xs:complexType name="consultaMunicipiosResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaMunicipiosResponseRecordType" type="cons:consultaMunicipiosResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaMunicipiosResponseType">
		<xs:sequence>
			<xs:element name="consultaMunicipiosResponseType" type="cons:consultaMunicipiosResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaMunicipios">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CITY_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="DEPT_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="COUNTRY_CODE" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaMunicipiosResponse" type="cons:consultaMunicipiosResponseType"/>
	
</xs:schema>