Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABKPA/perfilCliente/xsd/perfilCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/perfilCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/perfilCliente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_TIPO_OPERACION" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_PAIS" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="RG_CLIENTE" type="db:PROXYABANKSPA.OSB_RG_CLIENTE" db:index="3" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="TR_DIRECCION" type="db:PROXYABANKSPA.OSB_T_DIRECCION" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_EMPLEOS" type="db:PROXYABANKSPA.OSB_T_EMPLEOS" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_REF_PERSONAL" type="db:PROXYABANKSPA.OSB_T_REF_PERSONAL" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_PROVEEDORES" type="db:PROXYABANKSPA.OSB_T_PROVEEDORES" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_PRI_CLTE" type="db:PROXYABANKSPA.OSB_T_CLI_PRINCIPALES" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="RG_PRODUCTO" type="db:PROXYABANKSPA.OSB_RG_PRODUCTO" db:index="9" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="TR_REF_COMERCIALES" type="db:PROXYABANKSPA.OSB_T_REF_COMERCIALES" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_CONTACTOS" type="db:PROXYABANKSPA.OSB_T_CONTACTOS" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_SOCIOS" type="db:PROXYABANKSPA.OSB_T_SOCIOS" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="RG_INT_CLIENTE_CEP" type="db:PROXYABANKSPA.OSB_RG_INSTITUCIONES_CLI_CEP" db:index="13" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="RG_CLIENTE_PEP" type="db:PROXYABANKSPA.OSB_RG_CLIENTES_PEP" db:index="14" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="RG_CLIENTE_PORE" type="db:PROXYABANKSPA.OSB_RG_CLIENTES_PORE" db:index="15" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="RG_CLIENTE_CEP" type="db:PROXYABANKSPA.OSB_RG_CLIENTES_CEP" db:index="16" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIO" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOERROR" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONERROR" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RG_CLIENTE" type="db:PROXYABANKSPA.OSB_RG_CLIENTE" db:index="3" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="TR_DIRECCION" type="db:PROXYABANKSPA.OSB_T_DIRECCION" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_EMPLEOS" type="db:PROXYABANKSPA.OSB_T_EMPLEOS" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_REF_PERSONAL" type="db:PROXYABANKSPA.OSB_T_REF_PERSONAL" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_PROVEEDORES" type="db:PROXYABANKSPA.OSB_T_PROVEEDORES" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_PRI_CLTE" type="db:PROXYABANKSPA.OSB_T_CLI_PRINCIPALES" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="RG_PRODUCTO" type="db:PROXYABANKSPA.OSB_RG_PRODUCTO" db:index="9" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="TR_REF_COMERCIALES" type="db:PROXYABANKSPA.OSB_T_REF_COMERCIALES" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_CONTACTOS" type="db:PROXYABANKSPA.OSB_T_CONTACTOS" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_SOCIOS" type="db:PROXYABANKSPA.OSB_T_SOCIOS" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="RG_INT_CLIENTE_CEP" type="db:PROXYABANKSPA.OSB_RG_INSTITUCIONES_CLI_CEP" db:index="13" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="RG_CLIENTE_PEP" type="db:PROXYABANKSPA.OSB_RG_CLIENTES_PEP" db:index="14" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="RG_CLIENTE_PORE" type="db:PROXYABANKSPA.OSB_RG_CLIENTES_PORE" db:index="15" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="RG_CLIENTE_CEP" type="db:PROXYABANKSPA.OSB_RG_CLIENTES_CEP" db:index="16" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_CLIENTE" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOERROR" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONERROR" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSPA.OSB_RG_DIRECCION">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_DIRECCION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_PAIS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_DEPARTAMENTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_MUNICIPIO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NOMENCLATURA" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ZONA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TELEFONOS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FAX" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ES_DE_TRABAJO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BARRIO" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APARTADO_POSTAL" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CALLE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARRERA" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRANSVERSAL" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DIAGONAL" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AVENIDA1" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AVENIDA2" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TELEX" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_TIPO_DIRECCION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_SECTOR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="COLONIA" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APARTADO_POSTAL1" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APARTADO_POSTAL2" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APARTADO_POSTAL3" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_POSTAL" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STATUS" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_VERIFICACION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="USUARIO_VERIFICO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EMAIL" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CELULAR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BLOQUE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DIRECCION_EDO_CTA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PERIODICIDAD_ESTADO_CUENTA" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PERIODICIDAD_ENVIO_CHEQUES" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_RUTA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_CONEXION_EMAIL" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PERIODICIDAD_ENVIO_NOTAS" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUMERO_CASA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REFERENCIA" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ENVIAR_AL_EMAIL" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EXTENCION" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_CLI_PRINCIPALES">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SECUENCIA_CLIENTE_PRINCIPAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_CLIENTE" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="UBICACION_GEOGRAFICA" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRODUCTOS" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TELEFONOS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_INSTITUCIONES_CLI_CEP">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_INSTITUCION" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_BIEN_INSTITUCION" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_CATEGORIA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_T_REF_COMERCIALES">
      <sequence>
         <element name="TR_REF_COMERCIALES_ITEM" type="db:PROXYABANKSPA.OSB_RG_REF_COMERCIALES" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_SOCIOS">
      <sequence>
         <element name="CODIGO_EMPRESA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_SOCIO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_TIPO_IDENTIFICACION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NUMERO_IDENTIFICACION" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PORCENTAJE_PARTICIPACION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RAZON_SOCIAL" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRES" type="db:string120" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRIMER_APELLIDO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGUNDO_APELLIDO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APELLIDO_DE_CASADA" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STATUS" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_VERIFICACION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="NIVEL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_ACCIONISTA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_ID_SOC" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_T_PROVEEDORES">
      <sequence>
         <element name="TR_PROVEEDORES_ITEM" type="db:PROXYABANKSPA.OSB_RG_PROVEEDORES" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_EMPLEOS">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SECUENCIA_EMPLEO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CARGO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_EMPRESA" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_ENTRADA" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FECHA_SALIDA" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CODIGO_MONEDA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VALOR_INGRESO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="STATUS" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_VERIFICACION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="COMENTARIOS" type="db:string255" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="USUARIO_VERIFICO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_RANGO_SUELDO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EMPLEADO_PROPIO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRIVADA_PUBLICA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_DEPENDIENTE" type="db:string120" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_PROFESION_DEP" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_PARENTEZCO_DEP" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FUENTE_INGRESOS" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_REF_PERSONAL">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_REFERENCIA_PERSONAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NOMBRE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_REFERENCIA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TELEFONO" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRIMER_APELLIDO" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGUNDO_APELLIDO" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_TELEFONO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STATUS" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_VERIFICACION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="COMENTARIOS" type="db:string255" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APELLIDO_DE_CASADA" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="USUARIO_VERIFICO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="METODO_LOCALIZACION" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AREA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_PRODUCTO">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PLANILLA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CANTIDAD_EMPLEADOS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="COBRANZA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VENTA_DOLARES" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SUBASTA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FICOCHEQUE" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PAGO_PROVEEDORES" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUMERO_PROVEEDORES" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RECOLECCION_VALORES" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INTERBANCA" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CATEGORIZACION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_T_CLI_PRINCIPALES">
      <sequence>
         <element name="TR_PRI_CLTE_ITEM" type="db:PROXYABANKSPA.OSB_RG_CLI_PRINCIPALES" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_REF_COMERCIALES">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SECUENCIA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CASA_COMERCIAL" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TELEFONOS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONTACTO" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_VERIFICACION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_T_CONTACTOS">
      <sequence>
         <element name="TR_CONTACTOS_ITEM" type="db:PROXYABANKSPA.OSB_RG_CONTACTOS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_CLIENTES_PEP">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_PARENTESCO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NOMBRE" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EMPRESA" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARGO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_T_EMPLEOS">
      <sequence>
         <element name="TR_EMPLEOS_ITEM" type="db:PROXYABANKSPA.OSB_RG_EMPLEOS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_CLIENTES_CEP">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FECHA_APERTURA_CEP" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="NACIONALIDAD" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRODUCTO_ASOCIADO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OTROS_PRODUCTOS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ESTATUS_GUATECOMPRAS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_CLIENTES_PORE">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_ACTIVIDAD" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ESTADO" type="db:string1" db:type="CHAR" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_T_DIRECCION">
      <sequence>
         <element name="TR_DIRECCION_ITEM" type="db:PROXYABANKSPA.OSB_RG_DIRECCION" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_CLIENTE">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_TIPO_IDENTIFICACION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NUMERO_IDENTIFICACION" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_TIPO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_CATEGORIA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_AGENCIA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_PAIS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_ACTIVIDAD_ECONOMICA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_GRUPO_EMPRESARIAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_DE_PERSONA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRES" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRIMER_APELLIDO" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGUNDO_APELLIDO" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APELLIDO_DE_CASADA" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEXO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_DE_NACIMIENTO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ESTADO_CIVIL" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RAZON_SOCIAL" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_COMERCIAL" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_CONJUGUE" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VINCULACION" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_OFICIAL" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_EMPRESA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_OCUPACION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_RESIDENCIA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VEHICULO_PROPIO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_ACTIVIDAD_BANCO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NIVEL_EDUCATIVO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CANTIDAD_HIJOS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LUGAR_DE_NACIMIENTO" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_PROFESION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_TIPO_PERSONA_BCH" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_IMPRESO" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_CENTRAL_RIESGOS" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_SECTORIZACION" type="db:string14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEMANDA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_ACCIONES" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_MONEDA_LEGAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CONSEJO_ADMON" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FACULTADES_REPRESENTANTE" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OBSERVACION_LEGAL" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_ACTUALIZACION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CODIGO_TIPO_IDENTIFICACION_R" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NUMERO_IDENTIFICACION_R" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_TIPO_PODER_R" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REPRESENTANTE_LEGAL" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_SEGMENTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_PAIS_LEGAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CAPITAL_SOCIAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NRO_INSCRIPCION" type="db:string6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TOMO_INSCRIPCION" type="db:string8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OBJETIVO_SOCIAL" type="db:string256" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FIRMA_AUDITORA" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_INSCRIPCION_SOCIEDAD" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="NRO_ESCRITURA" type="db:string6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EMAIL_RLEGAL" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARGO_RLEGAL" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TELEFONO_CASA_RLEGAL" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TELEFONO_EMPRESA_RLEGAL" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CELULAR_RLEGAL" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRABAJA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_DESTINO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VOLUMEN_VENTAS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="STATUS" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SECCION" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DIVISION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="GRUPO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CLASE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DESTINO_OPERACION" type="db:string250" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_RESIDENCIA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_SECTOR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_SUBSECTOR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_INST1" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_INST2" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_ENTIDAD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_TIPO_GENERADOR" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_DE_EMPRESA" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RIESGO_CLIENTE" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_VENC_ID" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CODIGO_SEGMENTACION_CARTERA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_COMERCIANTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EMPLEADO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PEPS" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUMERO_DE_NIT" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_CPE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CLIENTES_CPE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CPE_INSTITUTION" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CPE_PRODUCT_SERVICE" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CPE_PRODUCT_SERVICE_CATEGORY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CPE_PRODUCT_ASOC" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CPE_OTHER_PRODUCTS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CPE_GUATECOMPRAS_STATUS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PEP_HERITAGE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PEP_OWN_BUSINESS" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PEP_OTHERS" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PEP_BANK_LENDING" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PEP_CURRENT_WORK" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PEP_OLD_WORK" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PEP_RELATIONSHIP_TYPE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PEP_NAME" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PEP_WORK" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PEP_POSITION" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PORE_CLIENT" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PORES_ACTIVIDAD" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EXPIRATION_ID" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_T_REF_PERSONAL">
      <sequence>
         <element name="TR_REF_PERSONAL_ITEM" type="db:PROXYABANKSPA.OSB_RG_REF_PERSONAL" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_PROVEEDORES">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SECUENCIA_PROVEEDOR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_PROVEEDOR" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="UBICACION_GEOGRAFICA" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRODUCTOS" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TELEFONOS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_RG_CONTACTOS">
      <sequence>
         <element name="CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SECUENCIA_CONTACTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_CONTACTO" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TELEFONO_CASA" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TELEFONO_EMPRESA" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TELEFONO_MOVIL" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EMAIL" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_CARGO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.OSB_T_SOCIOS">
      <sequence>
         <element name="TR_SOCIOS_ITEM" type="db:PROXYABANKSPA.OSB_RG_SOCIOS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string80">
      <restriction base="string">
         <maxLength value="80"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string14">
      <restriction base="string">
         <maxLength value="14"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="string6">
      <restriction base="string">
         <maxLength value="6"/>
      </restriction>
   </simpleType>
   <simpleType name="string8">
      <restriction base="string">
         <maxLength value="8"/>
      </restriction>
   </simpleType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string150">
      <restriction base="string">
         <maxLength value="150"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string60">
      <restriction base="string">
         <maxLength value="60"/>
      </restriction>
   </simpleType>
   <simpleType name="string255">
      <restriction base="string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="string120">
      <restriction base="string">
         <maxLength value="120"/>
      </restriction>
   </simpleType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
</schema>