Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/CTS/tarjetaCredito/xsd/services.xsd

<schema elementFormDefault="qualified" targetNamespace="http://service.srvaplcobistarjetacreditov3.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://dto2.sdf.cts.cobis.cobiscorp.com" xmlns:Q1="http://dto.srvaplcobiscanalesentidades.ecobis.cobiscorp">
    <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/><import schemaLocation="cobiscorp.ecobis.srvaplcobiscanalesentidades.dto.xsd" namespace="http://dto.srvaplcobiscanalesentidades.ecobis.cobiscorp"/><element name="opConsultaMaestraSaldosTarjetaCreditoSolicitud" type="Q1:OpConsultaSaldosTarjetaCreditoSolicitud"/><element name="opConsultaMaestraSaldosTarjetaCreditoRespuesta" type="Q1:OpConsultaSaldosTarjetaCreditoRespuesta"/><element name="opPagoTarjetaCreditoSolicitud" type="Q1:OpPagoTarjetaCreditoSolicitud"/><element name="opPagoTarjetaCreditoRespuesta" type="Q1:OpPagoTarjetaCreditoRespuesta"/>
</schema>