Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABKGT/consultaSaldosTarjetaCredito/xsd/consultaSaldosTarjetaCredito_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaSaldosTarjetaCredito" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaSaldosTarjetaCredito" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CARD_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CARD_HOLDER_NAME" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LCY_MIN_PAYMENT" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LCY_TOTAL_PAYMENT" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="FCY_MIN_PAYMENT" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="FCY_TOTAL_PAYMENT" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CREDIT_LIMIT" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CREDIT_LIMIT_CCY" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="POINTS_EARNED" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MAX_PAYMENT_DATE" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LAST_CUTOFF_DATE" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CURRENCY" type="db:TOPLEVEL_TVARCHAR32" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="OVERDUE_BALANCE" type="db:TOPLEVEL_TVARCHAR205" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="FLOATING_BALANCE" type="db:TOPLEVEL_TVARCHAR205" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CURRENT_BALANCE" type="db:TOPLEVEL_TVARCHAR205" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PURCHASES_LIMIT" type="db:TOPLEVEL_TVARCHAR205" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="WITHDRAWAL_LIMIT" type="db:TOPLEVEL_TVARCHAR205" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PAYMENTS_TODAY" type="db:TOPLEVEL_TVARCHAR205" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MESSAGEID" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="SUCCESSINDICATOR" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MESSAGES" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TOPLEVEL_TVARCHAR205">
      <sequence>
         <element name="OVERDUE_BALANCE_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR32">
      <sequence>
         <element name="CURRENCY_ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
</schema>