Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FPC/pagoRetiroFPC12c/xsd/PagoRetiroFPCTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoRetiroFPCTypes"
	xmlns:proc="http://www.ficohsa.com.hn/middleware.services/pagoRetiroFPCTypes">

	<xs:element name="pagoRetiroFPC">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="APPLICATION_NUMBER" type="xs:string" />
			<xs:element name="CURRENCY" type="xs:string" />
			<xs:element name="AMOUNT" type="xs:string" />
			<xs:element name="USER_PAY" type="xs:string" />
			<xs:element name="DATE" type="xs:date" />
			<xs:element name="TRANSACTION" type="xs:string" />
			<xs:element name="CODE_AGENCY" type="xs:string" />
			<xs:element name="AGENCY_NAME" type="xs:string" />		
		</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="pagoRetiroFPCResponse"/>
</xs:schema>