Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ListadoErroresResiliencia/wsdl/listadoErroresResilienciaPS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/listadoErroresResilienciaPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="listadoErroresResilienciaPS" targetNamespace="http://www.example.org/listadoErroresResilienciaPS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/listadoErroresResilienciaPS/">
      <xsd:element name="listadoErroresResilienciaResponse">
         <xsd:complexType>
	         <xsd:sequence>
	            <xsd:element name="MENSAJES_ERRORES" type="tns:TVARCHAR100" minOccurs="0" nillable="true"/>
	            <xsd:element name="CODIGO_ERROR" type="xsd:string" minOccurs="0" nillable="true"/>
	            <xsd:element name="DESCRIPCION_ERROR" type="xsd:string" minOccurs="0" nillable="true"/>
	         </xsd:sequence>
	      </xsd:complexType>
	   </xsd:element>
	   <xsd:complexType name="TVARCHAR100">
	      <xsd:sequence>
	         <xsd:element name="MENSAJE_ERROR" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
	      </xsd:sequence>
	   </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="listadoErroresResilienciaRequest">
  </wsdl:message>
  <wsdl:message name="listadoErroresResilienciaResponse">
    <wsdl:part element="tns:listadoErroresResilienciaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="listadoErroresResilienciaPS">
    <wsdl:operation name="listadoErroresResiliencia">
      <wsdl:input message="tns:listadoErroresResilienciaRequest"/>
      <wsdl:output message="tns:listadoErroresResilienciaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="listadoErroresResilienciaPSSOAP" type="tns:listadoErroresResilienciaPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listadoErroresResiliencia">
      <soap:operation soapAction="http://www.example.org/listadoErroresResilienciaPS/listadoErroresResiliencia"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="listadoErroresResilienciaPS">
    <wsdl:port binding="tns:listadoErroresResilienciaPSSOAP" name="listadoErroresResilienciaPSSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>