Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/OperacionesCorreoElectronico/xsd/operacionesCorreoElectronicoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesCorreoElectronicoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/operacionesCorreoElectronicoTypes">

	<xs:simpleType name="TypeEmail">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<!--<xs:pattern value="ONLINE|OFFLINE"/> -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="EmailAddress">
		<xs:restriction base="xs:string"> <!--"xs:token" -->
			<xs:maxLength value="500" />
			<xs:pattern
				value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9](\.?[\-a-zA-Z0-9]*[a-zA-Z0-9])*" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CCEmailAddress" >
		<xs:restriction base="xs:string"> <!--"xs:token" -->
		    <xs:minLength value="0"/>
			<xs:maxLength value="500" />
			<xs:pattern
				value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9](\.?[\-a-zA-Z0-9]*[a-zA-Z0-9])*"/>
		    <!--<xs:enumeration value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9](\.?[\-a-zA-Z0-9]*[a-zA-Z0-9])*" /> -->
		</xs:restriction>
	</xs:simpleType>

	<!--##################################### -->
	<!--OPERACION: ENVIAR CORREO -->
	<!--##################################### -->

	<xs:element name="enviarCorreo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MODULE_CODE" type="xs:string" />
				<xs:element name="PROCESS_CODE" type="xs:string" />
				<xs:element name="TYPE_SEND_EMAIL" type="cons:TypeEmail" />
				<xs:element name="FROM" type="xs:string" />
				<xs:element name="TO" type="xs:string" />
				<xs:element name="CC" minOccurs="0" type="xs:string" />
				<xs:element name="SUBJECT_PARAMETERS" type="xs:string" minOccurs="0" />
				<xs:element name="MESSAGE_PARAMETERS" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="enviarCorreoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_SENT_EMAIL" type="xs:string" />
				<xs:element name="MESSAGE" type="xs:string" />
				<xs:element name="DATE_ADD_SENT_EMAIL" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<!--####################################### -->
	<!--OPERACION: ENVIAR CORREO TABLA DINAMICA-->
	<!--####################################### -->

	<xs:element name="enviarCorreoTablaDinamica">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MODULE_CODE" type="xs:string" />
				<xs:element name="PROCESS_CODE" type="xs:string" />
				<xs:element name="TYPE_SEND_EMAIL" type="cons:TypeEmail" />
				<xs:element name="FROM" type="xs:string" />
				<xs:element name="TO" type="xs:string" />
				<xs:element name="CC" minOccurs="0" type="xs:string" />
				<xs:element name="SUBJECT_PARAMETERS" minOccurs="0" />
				<xs:element name="MESSAGE_PARAMETERS" type="xs:string"
					minOccurs="0" />
				<xs:element name="TABLE_PARAMETERS" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="enviarCorreoTablaDinamicaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_SENT_EMAIL" type="xs:string" />
				<xs:element name="MESSAGE" type="xs:string" />
				<xs:element name="DATE_ADD_SENT_EMAIL" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--######################################### -->
	<!--OPERACION: ENVIAR CORREO ARCHIVO ADJUNTO-->
	<!--######################################### -->

	<xs:element name="enviarCorreoArchAdj">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MODULE_CODE" type="xs:string" />
				<xs:element name="PROCESS_CODE" type="xs:string" />
				<xs:element name="TYPE_SEND_EMAIL" type="cons:TypeEmail" />
				<xs:element name="FROM" type="xs:string" />
				<xs:element name="TO" type="xs:string" />
				<xs:element name="CC" minOccurs="0" type="xs:string" />
				<xs:element name="SUBJECT_PARAMETERS" minOccurs="0" />
				<xs:element name="MESSAGE_PARAMETERS" type="xs:string"
					minOccurs="0" />
				<xs:element name="ATTACHMENT_FILE_NAME" type="xs:string"/>
				<xs:element name="VIRTUAL_ACL" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="enviarCorreoArchAdjResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_SENT_EMAIL" type="xs:string" />
				<xs:element name="MESSAGE" type="xs:string" />
				<xs:element name="DATE_ADD_SENT_EMAIL" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<!--######################################### -->
	<!--       OPERACION: REENVIAR CORREO         -->
	<!--######################################### -->

	<xs:element name="renviarCorreo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_SENT_EMAIL" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="renviarCorreoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_SENT_EMAIL" type="xs:string" />
				<xs:element name="MESSAGE_SENT_EMAIL" type="xs:string" />
				<xs:element name="DATE_ADD_SENT_EMAIL" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<!--######################################### -->
	<!--    OPERACION: VERIFICAR ENVIO CORREO     -->
	<!--######################################### -->
	
	<xs:simpleType name="EmailStatus">
		<xs:restriction base="xs:string">
			<xs:pattern value="[012]"/>
		</xs:restriction>
	</xs:simpleType>
	

	<xs:element name="verificarEnvioCorreo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_SENT_EMAIL" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="verificarEnvioCorreoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_SENT_EMAIL" type="xs:string" />
				<xs:element name="EMAIL_SUBJECT" type="xs:string" />
				<xs:element name="EMAIL_STATUS" type="cons:EmailStatus"/>
				<xs:element name="MESSAGE_STATUS" type="xs:string"/>
				<xs:element name="DATE_SENT_EMAIL" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>