Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Collection/RequestorServices/XSD/getCollectionTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/getCollectionTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gtc="http://www.ficohsa.com.hn/middleware.services/getCollectionTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="getCollectionRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" minOccurs="0" type="dtt:GeneralInfoType"/>
        <xsd:element name="ContractId" minOccurs="1" type="xsd:string"/>
        <xsd:element name="DebtorCode" minOccurs="1" type="xsd:string"/>
        <xsd:element name="Currency" minOccurs="1" type="xsd:string"/>
        <xsd:element name="BillAmount" minOccurs="0" type="xsd:string"/>
        <xsd:element name="BillDate" minOccurs="0" type="xsd:string"/>
        <xsd:element name="BillReturnType" minOccurs="0">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="One"/>
              <xsd:enumeration value="All"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ExtendedCollection" minOccurs="0">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Yes"/>
              <xsd:enumeration value="No"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="AdditionalInfo" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Data" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCollectionResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="ContractId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ContractName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DebtorCode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DebtorName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="BillDetail" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Bills" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BillRecord" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="BillNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BillCurrency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BillDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BillAmount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LateFee" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalAmountLOC" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TotalAmountUSD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BillDescription" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>