Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Collection/RequestorServices/XSD/paymentCollectionTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/paymentCollectionTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pyc="http://www.ficohsa.com.hn/middleware.services/paymentCollectionTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="paymentCollectionRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" minOccurs="0" type="dtt:GeneralInfoType"/>
        <xsd:element name="ContractId" type="xsd:string"/>
        <xsd:element name="DebtorCode" type="xsd:string"/>
        <xsd:element name="DebtorName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PaymentInformation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PaymentMethod" type="xsd:string"/>
              <xsd:element name="PaymentCurrency" type="xsd:string"/>
              <xsd:element name="PaymentAmount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DebitAccount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ChequeNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BankCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CreditCardNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpirationDate" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BillInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BillNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="DueDate" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ExtendedCollectionYesNo" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DealshipPickupBranch" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AdditionalInfo" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Data" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  
   <xsd:element name="paymentCollectionResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="paymentCollectionResponse" type="pyc:paymentCollectionResponseType"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  
  <xsd:complexType name="paymentCollectionResponseType">
		<xsd:sequence>
			<xsd:element name="ContractName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DebtorName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Inputter" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DateTime" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BranchName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PaymentInformation" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PaymentMethod" type="xsd:string"/>
						<xsd:element name="PaymentCurrency" type="xsd:string"/>
						<xsd:element name="PaymentAmount" type="xsd:string" minOccurs="0"/>
						<xsd:element name="DebitAccount" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ChequeNumber" type="xsd:string" minOccurs="0"/>
						<xsd:element name="BankCode" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CreditCardNumber" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ExpirationDate" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BillDetail" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReferenceId" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>