Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/CatalogosInfoCliente/wsdl/catalogosInfoClientePS.wsdl

<wsdl:definitions name="catalogosInfoClientePS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cipt="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClienteTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClienteTypes" schemaLocation="../xsd/catalogosInfoClienteTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="consultaActividadesEconomicas">
		<wsdl:part element="cipt:consultaActividadesEconomicas" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaActividadesEconomicasResponse">
		<wsdl:part element="cipt:consultaActividadesEconomicasResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="consultaAprobadoras">
		<wsdl:part element="cipt:consultaAprobadoras" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaAprobadorasResponse">
		<wsdl:part element="cipt:consultaAprobadorasResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="consultaInversiones">
		<wsdl:part element="cipt:consultaInversiones" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaInversionesResponse">
		<wsdl:part element="cipt:consultaInversionesResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="consultaDestinos">
		<wsdl:part element="cipt:consultaDestinos" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaDestinosResponse">
		<wsdl:part element="cipt:consultaDestinosResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="consultaOrigenes">
		<wsdl:part element="cipt:consultaOrigenes" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaOrigenesResponse">
		<wsdl:part element="cipt:consultaOrigenesResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:portType name="catalogosInfoClientePS">
	
		<wsdl:operation name="consultaActividadesEconomicas" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:consultaActividadesEconomicas"/>
			<wsdl:output message="tns:consultaActividadesEconomicasResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaAprobadoras" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:consultaAprobadoras"/>
			<wsdl:output message="tns:consultaAprobadorasResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaInversiones" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:consultaInversiones"/>
			<wsdl:output message="tns:consultaInversionesResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaDestinos" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:consultaDestinos"/>
			<wsdl:output message="tns:consultaDestinosResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaOrigenes" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:consultaOrigenes"/>
			<wsdl:output message="tns:consultaOrigenesResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="catalogosInfoClientePSSOAP" type="tns:catalogosInfoClientePS">
	
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="consultaActividadesEconomicas">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/consultaActividadesEconomicas"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:consultaActividadesEconomicas" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:consultaActividadesEconomicasResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="consultaAprobadoras">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/consultaAprobadoras"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:consultaAprobadoras" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:consultaAprobadorasResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		
		<wsdl:operation name="consultaInversiones">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/consultaInversiones"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:consultaInversiones" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:consultaInversionesResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="consultaDestinos">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/consultaDestinos"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:consultaDestinos" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:consultaDestinosResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		
		<wsdl:operation name="consultaOrigenes">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/consultaOrigenes"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:consultaOrigenes" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:consultaOrigenesResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
	</wsdl:binding>

	<wsdl:service name="catalogosInfoClientePS">
		<wsdl:port binding="tns:catalogosInfoClientePSSOAP" name="catalogosInfoClientePSSOAP">
	  		<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/CustomerLoans/catalogosInfoCliente"/>
	   	</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>