Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultaNombreTransaccion/ConsultaNombreTransaccion.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaNombreTransaccionTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaNombreTransaccionTypes">
	
	<xs:complexType name="consultaNombreTransaccionResponseType">
		<xs:sequence>
			<xs:element name="consultaNombreTransaccionResponseType" type="cons:consultaNombreTransaccionResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaNombreTransaccionResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaNombreTransaccionResponseRecordType" type="cons:consultaNombreTransaccionResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaNombreTransaccionResponseArrayType">
		<xs:sequence>
			<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="ADDITIONAL_INFO" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaNombreTransaccion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	
	<xs:element name="consultaNombreTransaccionResponse" type="cons:consultaNombreTransaccionResponseType"/>
	
</xs:schema>