Fuentes/ficohsacore-osb12-b78f21b126d5/DataWareHouse/ProviderServices/XSD/GetDataBurosPreCredit/v1.0/GetDataBurosPreCreditGT_BS.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/GetDataBurosPreCreditGT_BS"
            elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes"
            xmlns="http://www.ficohsa.com.hn/middleware.services/GetDataBurosPreCreditGT_BS">
  <xsd:element name="getDataBurosPreCreditGTRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="KEY" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CODIGO_PROSPECTO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CODIGO_EMPRESA" minOccurs="0" type="xsd:string"/>
        <xsd:element name="RELACION_PROSPECTO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="TIPO_PERSONA" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CODIGO_PRODUCTO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="USUARIO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="REFERENCIA" minOccurs="0" type="xsd:string"/>
        <xsd:element name="PC" minOccurs="0" type="xsd:string"/>
        <xsd:element name="IP" minOccurs="0" type="xsd:string"/>
        <xsd:element name="NIT" minOccurs="0" type="xsd:string"/>
        <xsd:element name="PRIMER_NOMBRE" minOccurs="0" type="xsd:string"/>
        <xsd:element name="SEGUNDO_NOMBRE" minOccurs="0" type="xsd:string"/>
        <xsd:element name="PRIMER_APELLIDO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="SEGUNDO_APELLIDO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="PASAPORTE" minOccurs="0" type="xsd:string"/>
        <xsd:element name="PAIS_PASAPORTE" minOccurs="0" type="xsd:string"/>
        <xsd:element name="DPI" minOccurs="0" type="xsd:string"/>
        <xsd:element name="FECHA_NACIMIENTO" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getDataBurosPreCreditGTResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CODIGO_PROSPECTO" minOccurs="0" type="xsd:integer"/>
        <xsd:element name="CODIGO_EMPRESA" minOccurs="0" type="xsd:integer"/>
        <xsd:element name="RELACION_PROSPECTO" minOccurs="0" default="0.0" type="xsd:string"/>
        <xsd:element name="TIPO_PERSONA" minOccurs="0" type="xsd:string"/>
        <xsd:element name="USUARIO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="REFERENCIA" minOccurs="0" type="xsd:string"/>
        <xsd:element name="PC" minOccurs="0" type="xsd:string"/>
        <xsd:element name="IP" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CODIGO" minOccurs="0" type="xsd:integer"/>
        <xsd:element name="MENSAJE" minOccurs="0" type="xsd:string"/>
        <xsd:element name="MODELOS_ANALISIS" minOccurs="0">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="MODELO" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="PRODUCTO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RESULTADO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="RAZONES" type="xsd:string" minOccurs="0"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="INFORMACION_CLIENTE" minOccurs="0">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="DIRECCIONES" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="DIRECCION" minOccurs="0" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="TIPO" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="DESC" type="xsd:string" minOccurs="0"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="TELEFONOS" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="TELEFONO" minOccurs="0" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="TIPO" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="TELEFONO" type="xsd:string" minOccurs="0"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="LISTA_CONSULTAS" minOccurs="0">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="CONSULTA" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="TIPO_CONSULTA" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ENTIDAD_CONSULTANTE" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FECHA_CONSULTA" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MOTIVO" type="xsd:string" minOccurs="0"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="NOM_VINCULO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ENTIDAD" minOccurs="0" type="xsd:string"/>
        <xsd:element name="DESC_TIPO_ACTIVO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="DESC_TIPO_GARANTIA" minOccurs="0" type="xsd:string"/>
        <xsd:element name="MONEDA" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CAPITAL_ORIGINAL" minOccurs="0" type="xsd:double"/>
        <xsd:element name="SALDO" minOccurs="0" type="xsd:double"/>
        <xsd:element name="VENCIDO" minOccurs="0" type="xsd:double"/>
        <xsd:element name="FECHA_ACTIVO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="FECHA_CONSESION" minOccurs="0" type="xsd:string"/>
        <xsd:element name="FECHA_CANCELACION" minOccurs="0" type="xsd:string"/>
        <xsd:element name="COMPORTAMIENTO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CATEGORIA" minOccurs="0" type="xsd:string"/>
        <xsd:element name="TIPO_ACTIVO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="TIPO_GARANTIA" minOccurs="0" type="xsd:string"/>
        <xsd:element name="PRODUCTO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="RESULTADO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="RAZONES" minOccurs="0" type="xsd:string"/>
        <xsd:element name="TIPO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="DESC" minOccurs="0" type="xsd:string"/>
        <xsd:element name="TELEFONO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="TIPO_CONSULTA" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ENTIDAD_CONSULTANTE" minOccurs="0" type="xsd:string"/>
        <xsd:element name="FECHA_CONSULTA" minOccurs="0" type="xsd:string"/>
        <xsd:element name="MOTIVO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ENTIDAD_INFORMANTE" minOccurs="0" type="xsd:string"/>
        <xsd:element name="GARANTIA" minOccurs="0" type="xsd:string"/>
        <xsd:element name="NUMERO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="FECHA_APERTURA" minOccurs="0" type="xsd:string"/>
        <xsd:element name="FECHA_VENCIMIENTO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="FECHA_ACTUALIZACION" minOccurs="0" type="xsd:string"/>
        <xsd:element name="PERIODO_PAGO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CALIFICACION" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ESTADO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="LIMITE" minOccurs="0" type="xsd:string"/>
        <xsd:element name="SALDO_ACTUAL" minOccurs="0" type="xsd:double"/>
        <xsd:element name="SALDO_MORA" minOccurs="0" type="xsd:double"/>
        <xsd:element name="CUOTA" minOccurs="0" type="xsd:double"/>
        <xsd:element name="ANIO" minOccurs="0" type="xsd:string"/>
        <xsd:element name="MES" minOccurs="0" type="xsd:string"/>
        <xsd:element name="COMPORTAMIENTO_OBLIGACIONES">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="OBLIGACION" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                      <xsd:sequence>
                          <xsd:element name="SECTOR_OBLIGACION" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="TIPO_OBLIGACION" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="ENTIDAD_INFORMANTE" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="GARANTIA" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="PERIODO_PAGO" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="CALIFICACION" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="ESTADO" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="LIMITE" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="TIPO" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="NUMERO" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="FECHA_APERTURA" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="FECHA_VENCIMIENTO" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="FECHA_ACTUALIZACION" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="MONEDA" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="SALDO_ACTUAL" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="SALDO_MORA" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="CUOTA" minOccurs="0" type="xsd:string"/>
                          <xsd:element name="VECTOR_HISTORICO" minOccurs="0">
                              <xsd:complexType>
                                  <xsd:sequence>
                                      <xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
                                          <xsd:complexType>
                                              <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                      <xsd:attribute name="ANIO" type="xsd:string"/>
                                                      <xsd:attribute name="MES" type="xsd:string"/>
                                                  </xsd:extension>
                                              </xsd:simpleContent>
                                          </xsd:complexType>
                                      </xsd:element>
                                  </xsd:sequence>
                                  <xsd:attribute name="ANIO" type="xsd:integer"/>
                              </xsd:complexType>
                          </xsd:element>
                      </xsd:sequence>
                  </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SIRC" minOccurs="0">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="DEUDAS_VIGENTES" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="NOM_VINCULO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ENTIDAD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DESC_TIPO_ACTIVO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="DESC_TIPO_GARANTIA" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MONEDA" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CAPITAL_ORIGINAL" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SALDO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="VENCIDO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FECHA_ACTIVO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FECHA_CONSESION" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FECHA_VENCIMIENTO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FECHA_CANCELACION" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="COMPORTAMIENTO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CATEGORIA" type="xsd:string" minOccurs="0"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="DEUDAS_CANCELADAS" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="TIPO_ACTIVO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="TIPO_GARANTIA" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="ENTIDAD" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="MONEDA" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CAPITAL_ORIGINAL" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="SALDO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="VENCIDO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FECHA_ACTIVO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FECHA_CONSESION" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FECHA_VENCIMIENTO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="FECHA_CANCELACION" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="COMPORTAMIENTO" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="CATEGORIA" type="xsd:string" minOccurs="0"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>