Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/NotificaEstadoRemesa/xsd/notificaEstadoRemesaTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/notificaEstadoRemesaTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:not="http://www.ficohsa.com.hn/middleware.services/notificaEstadoRemesaTypes">
	<xs:simpleType name="requestTypeClassType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="Standard"/>
           <xs:enumeration value="Contingency"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="queryTypeClassType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="RecordRange"/>
           <xs:enumeration value="DateRange"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="dateFormatClassType">
        <xs:restriction base="xs:string">
            <xs:pattern 
            	value="^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$">
            </xs:pattern>
        </xs:restriction>
	</xs:simpleType>

  <xs:element name="notificaEstadoRemesaRequest">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="REQUEST_TYPE" type="not:requestTypeClassType"/>
      	<xs:element name="QUERY_TYPE" type="not:queryTypeClassType"/>
      	<xs:element name="TOTAL_RECORDS" type="xs:string" minOccurs="0"/>
        <xs:element name="DATA_RANGE" type="not:dataRangeType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notificaEstadoRemesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RECORDS_COUNT" type="xs:string" minOccurs="0"/>
        <xs:element name="PAID_REMITTANCES" maxOccurs="1" minOccurs="0">
        	<xs:complexType>
        		<xs:sequence>
        			<xs:element name="REMITTANCE" maxOccurs="unbounded" minOccurs="0">
        				<xs:complexType>
        					<xs:sequence>
        						<xs:element name="REMITANCE_ID" type="xs:string" minOccurs="0"/>
      							<xs:element name="BANK_ID" type="xs:string" minOccurs="0"/>
							    <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
							    <xs:element name="PAID_DATE" type="xs:string" minOccurs="0"/>
							    <xs:element name="PAID_AMOUNT" type="xs:string" minOccurs="0"/>
							    <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
							    <xs:element name="BENEFICIARY_ID_TYPE" type="xs:string" minOccurs="0"/>
							    <xs:element name="BENEFICIARY_ID" type="xs:string" minOccurs="0"/>
							    <xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0"/>
							    <xs:element name="CHANNEL_CODE" type="xs:string" minOccurs="0"/>
							    <xs:element name="CHANNEL_NAME" type="xs:string" minOccurs="0"/>
							    <xs:element name="PAYMENT_ADDRESS" type="xs:string" minOccurs="0"/>
        					</xs:sequence>
        				</xs:complexType>
        			</xs:element>
        		</xs:sequence>
        	</xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="dataRangeType">
        <xs:sequence>
          <xs:element name="START_DATE" type="xs:string"/>
          <xs:element name="END_DATE" type="xs:string"/>
        </xs:sequence>
  </xs:complexType>
</xs:schema>