Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/LiquidaDeal/xsd/liquidaDealTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/liquidaDealTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/liquidaDealTypes" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
 	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
    <!--############################################-->
    <!-- OPERATION: liquidaDeal -->
    <!--############################################-->
    
    <xs:element name="liquidaDeal">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CONTRACT_ID" type="tns:stringMinLength1" />
				<xs:element name="COUNTRY" type="tns:stringMinLength1" />
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="liquidaDealResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>