Fuentes/ficohsacore-osb12-b78f21b126d5/CreditCardProcessor/RequestorServices/ProxyServices/v1.0/GetInterestRate/WSDL/getInterestRate_PS.wsdl

<wsdl:definitions name="getInterestRate_PS" targetNamespace="urn:CreditCardRouter_PS" xmlns:tns="urn:CreditCardRouter_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/getInterestRateTypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plnk:partnerLinkType name="getInterestRate_PS">
    <plnk:role name="getInterestRate_PSProvider" portType="tns:CreditCardRouter_PS_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getInterestRateTypes" schemaLocation="../../../../../../MWBanking/CreditCards/RequestorServices/XSD/getInterestRateTypes.xsd"/>
    </xsd:schema>
    <schema targetNamespace="urn:CreditCardRouter_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getInterestRate_params">
        <complexType>
          <sequence>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="Language" type="string"/>
            <element name="Org" type="string"/>
            <element name="Logo" type="string"/>
            <element name="Pct" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="getInterestRate_inputMessage">
    <wsdl:part name="request" element="tns:getInterestRate_params"/>
  </wsdl:message>
  <wsdl:message name="getInterestRate_outputMessage">
    <wsdl:part name="reply" element="inp1:getInterestRateResponse"/>
  </wsdl:message>
  <wsdl:portType name="CreditCardRouter_PS_ptt">
    <wsdl:operation name="getInterestRate">
      <wsdl:input message="tns:getInterestRate_inputMessage"/>
      <wsdl:output message="tns:getInterestRate_outputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditCardRouter_PS_ptt-binding" type="tns:CreditCardRouter_PS_ptt">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getInterestRate">
      <soap:operation soapAction="getInterestRate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>