Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/SJS/consultaMovsRecientesTCNI/xsd/sjConsultaMovsRecientesTCNI.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaMovsRecientesTCNI"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaMovsRecientesTCNI">

	<xs:element name="sjConsultaMovsRecientesTCNIRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="xs:string"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="sjConsultaMovsRecientesTCNIResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
				<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" />
				<xs:element name="OWNER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
		        <xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
		        <xs:element name="CREDIT_LIMIT" type="xs:string" minOccurs="0" maxOccurs="1"/>
		        <xs:element name="CREDIT_LIMIT_CCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
		        <xs:element name="PREVIOUS_BALANCE_LCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
		        <xs:element name="PREVIOUS_BALANCE_FCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
		        <xs:element name="MOVS">
		        	<xs:complexType>
		        		<xs:sequence>
		        			<xs:element name="MOV" minOccurs="0"  maxOccurs="unbounded">	
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0" />
								        <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
								        <xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
								        <xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
								        <xs:element name="ORIGINAL_AMOUNT" type="xs:string" minOccurs="0" />
								        <xs:element name="ORIGINAL_CURRENCY" type="xs:string" minOccurs="0" />      
								        <xs:element name="TYPE_OF_TRANSACTION" type="xs:string" minOccurs="0" />								
					        		</xs:sequence>
					        	</xs:complexType>		        
				        	</xs:element>
		        		</xs:sequence>
		        	</xs:complexType>
		        </xs:element>		
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>