Fuentes/ficohsacore-osb12-b78f21b126d5/CustomerRelationshipManagement/ProviderServices/v1.0/OnBase/WSDL/OnBaseServices_BS.wsdl

<wsdl:definitions name="OnBaseServices_BS" targetNamespace="http://xmlns.oracle.com/DynamoMigrate/CustomerRelationshipManagement/OnBaseServices_BS" xmlns:tns="http://xmlns.oracle.com/DynamoMigrate/CustomerRelationshipManagement/OnBaseServices_BS" xmlns:inp1="http://onbase.ficohsa.com" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/customerTypes">
    <plnk:partnerLinkType name="OnBaseServices_BS">
        <plnk:role name="OnBaseServices_BSProvider" portType="tns:OnBaseServices_BS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://onbase.ficohsa.com" schemaLocation="../XSD/onbaseTypes.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypes" schemaLocation="../../../../../MWBanking/Customers/RequestorServices/XSD/customersTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="saveDocument_inputMessage">
        <wsdl:part name="request" element="inp1:SaveDocumentRequest"/>
    </wsdl:message>
    <wsdl:message name="saveDocument_outputMessage">
        <wsdl:part name="reply" element="inp1:SaveDocumentResponse"/>
    </wsdl:message>
    <wsdl:message name="saveDocument_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:SaveDocumentError"/>
    </wsdl:message>
    <wsdl:message name="logInService_inputMessage">
        <wsdl:part name="request" element="inp1:loginRequest"/>
    </wsdl:message>
    <wsdl:message name="logInService_outputMessage">
        <wsdl:part name="reply" element="inp1:loginResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateUnityForm_inputMessage">
        <wsdl:part name="request" element="inp1:UnityFormRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateUnityForm_outputMessage">
        <wsdl:part name="reply" element="inp1:UnityFormResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateUnityForm_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:UnityFormError"/>
    </wsdl:message>
    <wsdl:message name="documentQuery_inputMessage">
        <wsdl:part name="request" element="inp1:documentQueryRequestOnBase"/>
    </wsdl:message>
    <wsdl:message name="documentQuery_outputMessage">
        <wsdl:part name="reply" element="inp1:documentQueryResponseOnBase"/>
    </wsdl:message>
    <wsdl:message name="documentComposition_inputMessage">
        <wsdl:part name="request" element="inp1:documentCompositionRequestOnBase"/>
    </wsdl:message>
    <wsdl:message name="documentComposition_outputMessage">
        <wsdl:part name="reply" element="inp1:documentCompositionResponseOnBase"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="logIn_outputMessage">
        <wsdl:part name="reply" element="inp1:loginResponse"/>
    </wsdl:message>
    <wsdl:portType name="OnBaseServices_BS_ptt">
        <wsdl:operation name="saveDocument">
            <wsdl:input message="tns:saveDocument_inputMessage"/>
            <wsdl:output message="tns:saveDocument_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:saveDocument_fault400Message"/>
        </wsdl:operation>
        <wsdl:operation name="logInService">
            <wsdl:input message="tns:logInService_inputMessage"/>
            <wsdl:output message="tns:logInService_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreateUnityForm">
            <wsdl:input message="tns:CreateUnityForm_inputMessage"/>
            <wsdl:output message="tns:CreateUnityForm_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:CreateUnityForm_fault400Message"/>
        </wsdl:operation>
        <wsdl:operation name="documentQuery">
            <wsdl:input message="tns:documentQuery_inputMessage"/>
            <wsdl:output message="tns:documentQuery_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="documentComposition">
            <wsdl:input message="tns:documentComposition_inputMessage"/>
            <wsdl:output message="tns:documentComposition_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OnBaseServices_BS_ptt-binding" type="tns:OnBaseServices_BS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="saveDocument">
            <soap:operation soapAction="saveDocument"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="logInService">
            <soap:operation soapAction="logInService"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateUnityForm">
            <soap:operation soapAction="CreateUnityForm"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="documentQuery">
            <soap:operation soapAction="documentQuery"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="documentComposition">
            <soap:operation soapAction="documentComposition"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>