Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/SALESFORCE/recepEvalCreditosPA/wsdl/WS_PAN_Blaze_Recepcion_Eval_Creditos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : WS_Blaze_Recepcion_Eval_Creditos
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/WS_Blaze_Recepcion_Eval_Creditos" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/WS_Blaze_Recepcion_Eval_Creditos">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/WS_Blaze_Recepcion_Eval_Creditos">
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="Visualforce"/>
     <xsd:enumeration value="System"/>
     <xsd:enumeration value="Wave"/>
     <xsd:enumeration value="Nba"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="RespuestaSimple">
    <xsd:sequence>
     <xsd:element name="descripcion" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="exitoso" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="precualifyParams">
    <xsd:sequence>
     <xsd:element name="AcreedorReferencia" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="CalificacionRiesgo" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="codigoResultadoPil_Prod1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="codigoResultadoPil_Prod2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="codigoResultadoPil_Prod3" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="codigoResultadoTC_Prod1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="codigoResultadoTC_Prod2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="codigoResultadoTC_Prod3" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="CuotaMaxPil_Prod1" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="CuotaMaxPil_Prod2" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="CuotaMaxPil_Prod3" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="ExpCred" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="identidad" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="LimiteMontoReferencia" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="limiteSugeridoProd1" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="limiteSugeridoProd2" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="limiteSugeridoProd3" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="NDE" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="noSolicitud" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="NoTicket" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="Oferta12_Pil_Prod1" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta12_Pil_Prod2" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta12_Pil_Prod3" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta24_Pil_Prod1" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta24_Pil_Prod2" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta24_Pil_Prod3" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta36_Pil_Prod1" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta36_Pil_Prod2" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta36_Pil_Prod3" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta48_Pil_Prod1" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta48_Pil_Prod2" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta48_Pil_Prod3" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta60_Pil_Prod1" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta60_Pil_Prod2" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Oferta60_Pil_Prod3" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="RCI" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="SourceCode_Pil_Prod1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SourceCode_Pil_Prod2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SourceCode_Pil_Prod3" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SourceCodeTC_prod1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SourceCodeTC_prod2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SourceCodeTC_prod3" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="tasaPil_Prod1" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="tasaPil_Prod2" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="tasaPil_Prod3" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="tipoClienteRiesgo" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="tipoReferenciaAsignacion" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="address">
    <xsd:complexContent>
     <xsd:extension base="tns:location">
      <xsd:sequence>
       <xsd:element name="city" type="xsd:string"/>
       <xsd:element name="country" type="xsd:string"/>
       <xsd:element name="countryCode" type="xsd:string"/>
       <xsd:element name="geocodeAccuracy" type="xsd:string"/>
       <xsd:element name="postalCode" type="xsd:string"/>
       <xsd:element name="state" type="xsd:string"/>
       <xsd:element name="stateCode" type="xsd:string"/>
       <xsd:element name="street" type="xsd:string"/>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="location">
    <xsd:sequence>
     <xsd:element name="latitude" type="xsd:double"/>
     <xsd:element name="longitude" type="xsd:double"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="precualifyResult">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="parametros" type="tns:precualifyParams" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="precualifyResultResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:RespuestaSimple" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="precualifyResultRequest">
  <part element="tns:precualifyResult" name="parameters"/>
 </message>
 <message name="precualifyResultResponse">
  <part element="tns:precualifyResultResponse" name="parameters"/>
 </message>
 <portType name="WS_Blaze_Recepcion_Eval_CreditosPortType">
  <operation name="precualifyResult">
   <input message="tns:precualifyResultRequest"/>
   <output message="tns:precualifyResultResponse"/>
  </operation>
 </portType>
 <binding name="WS_Blaze_Recepcion_Eval_CreditosBinding" type="tns:WS_Blaze_Recepcion_Eval_CreditosPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="precualifyResult">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="WS_Blaze_Recepcion_Eval_CreditosService">
  <documentation></documentation>
  <port binding="tns:WS_Blaze_Recepcion_Eval_CreditosBinding" name="WS_Blaze_Recepcion_Eval_Creditos">
   <soap:address location="https://cs94.salesforce.com/services/Soap/class/WS_Blaze_Recepcion_Eval_Creditos"/>
  </port>
 </service>
</definitions>