Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaMultiplesProductos_v2/xsd/XMLSchema_-1524689022.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMultiplesProductosTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaMultiplesProductosTypes">

    <xs:element name="consultaMultiplesProductosRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PRODUCTS" type="con:productsType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="consultaMultiplesProductosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ASSETS" type="con:assetsType" minOccurs="0"/>
                <xs:element name="LIABILITIES" type="con:liabilitiesType" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="liabilitiesType">
        <xs:sequence>
            <xs:element name="LIABILITY" type="con:liabilityType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="liabilityType">
        <xs:sequence>
            <xs:element name="ID" type="xs:string" minOccurs="1"/>
            <xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="0"/>
            <xs:element name="STATUS" type="con:productStatus" minOccurs="0"/>
            <xs:element name="BALANCES" type="con:balancesType" minOccurs="0"/>
            <xs:element name="NEXT_PAYMENT_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="TSTANDING_TOTAL" type="xs:decimal" minOccurs="0"/>
            <xs:element name="CANCELATION_TOTAL" type="xs:decimal" minOccurs="0"/>
            <xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0"/>
            <xs:element name="TYPE" type="xs:string" minOccurs="1"/>
            <xs:element name="OPENING_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="SOURCE_BANK" type="xs:string" minOccurs="0"/>
            <xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="1"/>
            <xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="balancesType">
        <xs:sequence>
            <xs:element name="BALANCE" type="con:balanceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="balanceType">
        <xs:sequence>
            <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="PRINCIPAL" type="xs:decimal" minOccurs="0"/>
            <xs:element name="INT_COMM" type="xs:decimal" minOccurs="0"/>
            <xs:element name="TOTAL" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="assetsType">
        <xs:sequence>
            <xs:element name="ASSET" type="con:assetType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="assetType">
        <xs:sequence>
            <xs:element name="ID" type="xs:string" minOccurs="1"/>
            <xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="0"/>
            <xs:element name="STATUS" type="con:productStatus" minOccurs="0"/>
            <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="RESERVE_BALANCE" type="xs:decimal" minOccurs="0"/>
            <xs:element name="LOCKED_BALANCE" type="xs:decimal" minOccurs="0"/>
            <xs:element name="VISA_FLOATING_BALANCE" type="xs:decimal" minOccurs="0"/>
            <xs:element name="INTEREST_BALANCE" type="xs:decimal" minOccurs="0"/>
            <xs:element name="TOTAL_BALANCE" type="xs:decimal" minOccurs="0"/>
            <xs:element name="AVAILABLE_BALANCE" type="xs:decimal" minOccurs="0"/>
            <xs:element name="OPENING_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="TYPE" type="xs:string" minOccurs="1"/>
            <xs:element name="SOURCE_BANK" type="xs:string" minOccurs="1"/>
            <xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="1"/>
            <xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="productsType">
        <xs:sequence>
            <xs:element name="PRODUCT" type="con:productType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="productType">
        <xs:sequence>
            <xs:element name="TYPE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="AHO"/>
                        <xs:enumeration value="CHQ"/>
                        <xs:enumeration value="DEP"/>
                        <xs:enumeration value="FPC"/>
                        <xs:enumeration value="PTM"/>
                        <xs:enumeration value="TRC"/>
                        <xs:enumeration value="PTC"/>
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PRODUCT_ID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PRODUCT_REGION">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="productStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTIVE"/>
            <xs:enumeration value="INACTIVE"/>
            <xs:enumeration value="CANCEL"/>
            <xs:enumeration value="BLOCKED"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>