Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/subasta/consultaAfiliacionSubasta/consultaAfiliacionSubastaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaAfiliacionSubastaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaAfiliacionSubastaTypes">
	
	<xs:complexType name ="consultaAfiliacionSubastaResponseArrayType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" />
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="AFFILIATION_DATE" type="xs:string" minOccurs="0" />
	    </xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="consultaAfiliacionSubastaResponseRecordType">
		<xs:sequence>
				<xs:element name="consultaAfiliacionSubastaResponseRecordType" type="cons:consultaAfiliacionSubastaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="consultaAfiliacionSubastaResponseType">
		<xs:sequence>
			<xs:element name="consultaAfiliacionSubastaResponseType" type="cons:consultaAfiliacionSubastaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaAfiliacionSubasta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaAfiliacionSubastaResponse" type="cons:consultaAfiliacionSubastaResponseType"/>
	
</xs:schema>