Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaUltimosNMovimientosCuenta/xsd/consultasUltimosNMovimientosCuentaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultasUltimosNMovimientosTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultasUltimosNMovimientosTypes">

	<xs:complexType name="consultaMovimientosCuentaResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="STARTING_BALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="ENDING_BALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="START_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="END_DATE" type="xs:string" minOccurs="0" />		
			<xs:element name="DEBIT_COUNT" type="xs:string" minOccurs="0" />
			<xs:element name="CREDIT_COUNT" type="xs:string" minOccurs="0" />
			<xs:element name="DEBIT_TOTAL_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="CREDIT_TOTAL_AMOUNT" type="xs:string" minOccurs="0" />		
			<xs:element name="RECORDS_INFO" type="cons:recordsInfo" minOccurs="0" maxOccurs="1" />
			<xs:element name="consultaMovimientosCuentaResponseType" minOccurs="0" form="qualified">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaMovimientosCuentaResponseRecordType" minOccurs="0" maxOccurs="unbounded" form="qualified">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="VALUE_DATE" type="xs:string" minOccurs="0" />
									<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
									<xs:element name="REF_NO" type="xs:string" minOccurs="0" />
									<xs:element name="DOCUMENT_NUMBER" type="xs:string" minOccurs="0" />
									<xs:element name="TXN_REFERENCE" type="xs:string" minOccurs="0" />
									<xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
									<xs:element name="EFFECT_ON_BALANCE" type="xs:string" minOccurs="0" />
									<xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
									<xs:element name="TXNCODE" type="xs:string" minOccurs="0" />
									<xs:element name="TXNAGNCODE" type="xs:string" minOccurs="0" />
									<xs:element name="TXNAGNNAME" type="xs:string" minOccurs="0" />
									<xs:element name="TXNDESCRIPTIONALL" type="xs:string" minOccurs="0" />
									<xs:element name="AUTHORISER" type="xs:string" minOccurs="0" />
									<xs:element name="TXNDATETIME" type="xs:string" minOccurs="0" />
									<xs:element name="RUNNING_BALANCE" type="xs:string" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="recordsInfo">
		<xs:sequence>
			<xs:element name="INITIAL_RECORD" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="RECORDS_RETURNED" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="RECORDS_TOTAL" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="TICKET" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
   	<xs:complexType name="consultaDetalladaMovimientosCuentaResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="STARTING_BALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="START_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="END_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="consultaDetalladaMovimientosCuentaResponseType" minOccurs="0" form="qualified">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaDetalladaMovimientosCuentaResponseRecordType" minOccurs="0" maxOccurs="unbounded" form="qualified">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="REF_NO" type="xs:string" minOccurs="0" />
									<xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
									<xs:element name="TRANSACTION_DESCRIPTION" type="xs:string" minOccurs="0" />
									<xs:element name="CUSTOMER_DESCRIPTION" type="xs:string" minOccurs="0" />
									<xs:element name="BOOKING_DATE" type="xs:string" minOccurs="0" />
									<xs:element name="VALUE_DATE" type="xs:string" minOccurs="0" />
									<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
									<xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
									<xs:element name="AUTHORIZER" type="xs:string" minOccurs="0" />
									<xs:element name="AGENCY_CODE" type="xs:string" minOccurs="0" />
									<xs:element name="AGENCY_NAME" type="xs:string" minOccurs="0" />
									<xs:element name="TRANSACTION_CODE" type="xs:string" minOccurs="0" />
									<xs:element name="EFFECT_ON_BALANCE" type="xs:string" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
   

	<xs:complexType name="consultaUltimosNMovimientosCuentaResponseArrayType">
		<xs:sequence>
			<xs:element name="ULTIMOS_MOVIMIENTOS" type="cons:consultaMovimientosCuentaResponse"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaUltimosNMovimientosCuentaResponse">
		<xs:sequence>
			<xs:element name="consultaUltimosNMovimientosCuentaResponse"
				type="cons:consultaUltimosNMovimientosCuentaResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaMovimientosCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
				<xs:element name="BEGIN_DATE" type="xs:string" />
				<xs:element name="END_DATE" type="xs:string" />
				<xs:element name="ENTRY_RANGE" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaDetalladaMovimientosCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
				<xs:element name="BEGIN_DATE" type="xs:string" />
				<xs:element name="END_DATE" type="xs:string" />
				<xs:element name="ENTRY_RANGE" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaUltimosNMovimientosCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
				<xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:string" />
				<xs:element name="DEBIT_CREDIT" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>	

	<!-- <xs:element name="consultaUltimosNMovimientosCuentaResponse" type="cons:consultaUltimosNMovimientosCuentaResponseArrayType"/> -->

	<xs:element name="consultaUltimosNMovimientosCuentaResponse" type="cons:consultaMovimientosCuentaResponse" />

	<xs:element name="consultaMovimientosCuentaResponse" type="cons:consultaMovimientosCuentaResponse" />
	
	<xs:element name="consultaDetalladaMovimientosCuentaResponse" type="cons:consultaDetalladaMovimientosCuentaResponse" />

</xs:schema>