Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/MDW/consultaEquivalenciasCatalogos_v2/xsd/consultaEquivalenciasCatalogos_v2_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaEquivalenciasCatalogos_v2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaEquivalenciasCatalogos_v2" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_TIPO_EQ_PROCESO" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PT_EQUIVALENCIAS_INGRESO" type="db:T_EQUIVALENCIA_CAT_IN" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_EQUIVALENCIAS_SALIDA" type="db:T_EQUIVALENCIA_CAT_OUT" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="T_EQUIVALENCIA_OUT">
      <sequence>
         <element name="EQUIVALENCIAS_ITEM" type="db:OT_EQUIVALENCIAS_APLICACIONES" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_EQUIVALENCIA_CAT_IN">
      <sequence>
         <element name="PT_EQUIVALENCIAS_INGRESO_ITEM" type="db:OT_EQUIVALENCIAS_CATALOGOS_IN" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="OT_EQUIVALENCIAS_CATALOGOS_OUT">
      <sequence>
         <element name="CATALOGO_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VALOR_CATALOGO" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EQUIVALENCIAS" type="db:T_EQUIVALENCIA_OUT" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR100">
      <sequence>
         <element name="APLICACIONES_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="OT_EQUIVALENCIAS_APLICACIONES">
      <sequence>
         <element name="SUCCESS_INDICATOR" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APLICACION" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALOR_EQUIVALENCIA" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="OT_EQUIVALENCIAS_CATALOGOS_IN">
      <sequence>
         <element name="CATALOGO_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VALOR_CATALOGO" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APLICACIONES" type="db:TVARCHAR100" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_EQUIVALENCIA_CAT_OUT">
      <sequence>
         <element name="PT_EQUIVALENCIAS_SALIDA_ITEM" type="db:OT_EQUIVALENCIAS_CATALOGOS_OUT" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>