Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABK/consultaProductosLineaCredito/xsd/consultaProductosLineaCredito_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaProductosLineaCredito" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaProductosLineaCredito" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_NUM_LIN_CRED" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_INITIAL_RECORD" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_RECORD_COUNT" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         	<element name="P_ORDER" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_PAGING" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
         	<element name="P_TOTAL_RECORDS_RETURNED" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_TOTAL_RECORD" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_LOAN_NUMBER" type="db:PROXYABANKSHN.TVARCHAR30" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_DATE" type="db:PROXYABANKSHN.TDATE" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_LOAN_STATUS" type="db:PROXYABANKSHN.TVARCHAR10" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_DESCRIPTION" type="db:PROXYABANKSHN.TVARCHAR100" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_INITIAL_AMOUNT" type="db:PROXYABANKSHN.TNUMBER" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CURRENT_BALANCE" type="db:PROXYABANKSHN.TNUMBER" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CURRENCY" type="db:PROXYABANKSHN.TNUMBER" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSHN.TVARCHAR100">
      <sequence>
         <element name="P_DESCRIPTION_ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TDATE">
      <sequence>
         <element name="P_DATE_ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TNUMBER">
      <sequence>
         <element name="P_LOAN_NUMBER_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR10">
      <sequence>
         <element name="P_LOAN_STATUS_ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
    <complexType name="PROXYABANKSHN.TVARCHAR30">
      <sequence>
         <element name="P_LOAN_NUMBER_ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>