Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RegistroPagoNominaCobis/xsd/registroPagoNominaCobisTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/registroPagoNominaCobisTypes" 
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/registroPagoNominaCobisTypes">
	
	<!-- request -->
	<xs:element name="registroPagoNominaCobis">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TYPE_REGISTER" type="xs:string"/>
				<xs:element name="BATCH_NUMBER" type="xs:integer"/>
				<xs:element name="TOTAL_RECORDS" type="xs:integer"/>
				<xs:element name="TOTAL_VALUE" type="xs:decimal"/>
				<xs:element name="COMPANY_CODE" type="xs:string"/>
				<xs:element name="TRANSACTION_NUMBER" type="xs:integer"/>
				<xs:element name="ACCOUNT_TYPE" type="xs:integer"/>
				<xs:element name="ACCOUNT" type="xs:string"/>
				<xs:element name="CURRENCY" type="xs:integer"/>
				<xs:element name="AMOUNT" type="xs:decimal"/>
				<xs:element name="CONCEPT" type="xs:string"/>
				<xs:element name="IDENTIFICATION_NUMBER" type="xs:string"/>
				<xs:element name="TEXT" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

    <!-- response -->
	<xs:element name="registroPagoNominaCobisResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MESSAGE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
	
</xs:schema>