Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Documents/RequestorServices/WSDL/DocumentsRouter_PS.wsdl

<wsdl:definitions name="DocumentsRouter_PS" targetNamespace="http://xmlns.oracle.com/DynamoMigrate/MWBanking/DocumentsRouter_PS" xmlns:tns="http://xmlns.oracle.com/DynamoMigrate/MWBanking/DocumentsRouter_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedienteTypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes" xmlns:inp3="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes">
    <plnk:partnerLinkType name="DocumentsRouter_PS">
        <plnk:role name="DocumentsRouter_PSProvider" portType="tns:DocumentsRouter_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedienteTypes" schemaLocation="../XSD/digitalizacionExpedienteTypes.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes" schemaLocation="../XSD/ingresaExpedienteTypes.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/ingresaExpedienteTypes" schemaLocation="../XSD/cargarImagenBase64RedisTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="createFile_inputMessage">
        <wsdl:part name="request" element="inp1:creaExpedienteRequest"/>
    </wsdl:message>
    <wsdl:message name="createFile_outputMessage">
        <wsdl:part name="reply" element="inp1:creaExpedienteResponse"/>
    </wsdl:message>
    <wsdl:message name="enterFile_inputMessage">
        <wsdl:part name="request" element="inp2:ingresaExpedienteRequest"/>
    </wsdl:message>
    <wsdl:message name="enterFile_outputMessage">
        <wsdl:part name="reply" element="inp2:ingresaExpedienteResponse"/>
    </wsdl:message>
    <wsdl:message name="saveFile_inputMessage">
        <wsdl:part name="request" element="inp2:cargarImagenBase64RedisRequest"/>
    </wsdl:message>
    <wsdl:message name="saveFile_outputMessage">
        <wsdl:part name="reply" element="inp2:cargarImagenBase64RedisResponse"/>
    </wsdl:message>
    <wsdl:portType name="DocumentsRouter_PS_ptt">
        <wsdl:operation name="createFile">
            <wsdl:input message="tns:createFile_inputMessage"/>
            <wsdl:output message="tns:createFile_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="enterFile">
            <wsdl:input message="tns:enterFile_inputMessage"/>
            <wsdl:output message="tns:enterFile_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="saveFile">
            <wsdl:input message="tns:saveFile_inputMessage"/>
            <wsdl:output message="tns:saveFile_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DocumentsRouter_PS_ptt-binding" type="tns:DocumentsRouter_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createFile">
            <soap:operation soapAction="createFile"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enterFile">
            <soap:operation soapAction="enterFile"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveFile">
            <soap:operation soapAction="saveFile"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>