Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaListasRegulatorias/wsdl/consultaListasRegulatoriasPS.wsdl

<wsdl:definitions name="consultaListasRegulatoriasPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaListasRegulatoriasPS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaListasRegulatoriasPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaListasRegulatoriasTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">

	 <wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaListasRegulatoriasTypes" schemaLocation="../xsd/consultaListasRegulatoriasTypes.xsd"/>
		</xsd:schema>
	 </wsdl:types>
	 
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="consultaFATCARequest">
		<wsdl:part element="tns:consultaFATCA" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaFATCAResponse">
		<wsdl:part element="tns:consultaFATCAResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:message name="consultaPEPRequest">
		<wsdl:part element="tns:consultaPEP" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaPEPResponse">
		<wsdl:part element="tns:consultaPEPResponse" name="result"/>
	</wsdl:message>	
	
  <wsdl:portType name="consultaListasRegulatoriasPS">
  
    <wsdl:operation name="consultaFATCA" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="op:consultaFATCARequest"/>
      <wsdl:output message="op:consultaFATCAResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="consultaPEP" parameterOrder="parameters RequestHeader ResponseHeader">
    	<wsdl:input message="op:consultaPEPRequest"/>
    	<wsdl:output message="op:consultaPEPResponse"/>
    </wsdl:operation>
  </wsdl:portType>	

  <wsdl:binding name="consultaListasRegulatoriasPSSOAP" type="op:consultaListasRegulatoriasPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
   
    <wsdl:operation name="consultaFATCA">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaListasRegulatoriasPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header use="literal" part="RequestHeader" message="op:requestHeader"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header use="literal" part="ResponseHeader" message="op:responseHeader"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="consultaPEP">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaListasRegulatoriasPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header use="literal" part="RequestHeader" message="op:requestHeader"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header use="literal" part="ResponseHeader" message="op:responseHeader"/>
      </wsdl:output>
    </wsdl:operation>    
  </wsdl:binding>
  
  <wsdl:service name="consultaListasRegulatoriasPS">
    <wsdl:port binding="op:consultaListasRegulatoriasPSSOAP" name="consultaListasRegulatoriasPSSOAP">
      <soap:address location="https://mwomnicanal:8004//Middleware/RiskAndCompliance/RegulationsAndCompliance/ConsultaListasRegulatorias/"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>