Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActivacionTC/wsdl/activacionTCPS.wsdl

<wsdl:definitions name="activacionTCPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/activacionTCPS/" xmlns:atc="http://www.ficohsa.com.hn/middleware.services/activacionTCPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" schemaLocation="../../GestionesTarjetas/xsd/gestionesTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="activacionTCRequest">
		<wsdl:part element="tns:activacionTC" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="activacionTCResponse">
		<wsdl:part element="tns:activacionTCResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="activacionTCPS">
		<wsdl:operation name="activacionTC" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="atc:activacionTCRequest"/>
			<wsdl:output message="atc:activacionTCResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="activacionTCPSSOAP" type="atc:activacionTCPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="activacionTC">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="atc:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="atc:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="activacionTCPS">
		<wsdl:port binding="atc:activacionTCPSSOAP" name="activacionTCPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/ActivacionTC/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>