Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/AperturaProductos/wsdl/aperturaProductosPS.wsdl

<wsdl:definitions name="aperturaProductosPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/aperturaProductosPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/aperturaProductosPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:aper="http://www.ficohsa.com.hn/middleware.services/aperturaProductosTypes">

	<wsdl:types>
		<xsd:schema>
			   <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
				<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/aperturaProductosTypes" schemaLocation="../xsd/aperturaProductosTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="validaDatosClienteRequest">
		<wsdl:part element="aper:validaDatosCliente" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="validaDatosClienteResponse">
		<wsdl:part element="aper:validaDatosClienteResponse" name="result"/>
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="creaCuentaClienteRequest">
		<wsdl:part element="aper:creaCuentaCliente" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="creaCuentaClienteResponse">
		<wsdl:part element="aper:creaCuentaClienteResponse" name="result"/>
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
  
    <wsdl:message name="solicitaTDClienteRequest">
		<wsdl:part element="aper:solicitaTDCliente" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="solicitaTDClienteResponse">
		<wsdl:part element="aper:solicitaTDClienteResponse" name="result"/>
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
    <wsdl:message name="ordenEmpaqueTDRequest">
		<wsdl:part element="aper:ordenEmpaqueTD" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ordenEmpaqueTDResponse">
		<wsdl:part element="aper:ordenEmpaqueTDResponse" name="result"/>
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="creaUsuarioSistemaRequest">
		<wsdl:part element="aper:creaUsuarioSistema" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	
	<wsdl:message name="creaUsuarioSistemaResponse">
		<wsdl:part element="aper:creaUsuarioSistemaResponse" name="result"/>
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="CreaClienteSimplificadoRequest">
		<wsdl:part element="aper:CreaClienteSimplificado" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	
	<wsdl:message name="CreaClienteSimplificadoResponse">
		<wsdl:part element="aper:CreaClienteSimplificadoResponse" name="result"/>
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
  <wsdl:portType name="aperturaProductosPS">
  
    	<wsdl:operation name="validaDatosCliente" parameterOrder="parameters RequestHeader ResponseHeader">
	 		 <wsdl:input message="fic:validaDatosClienteRequest"/>
             <wsdl:output message="fic:validaDatosClienteResponse"/>
		</wsdl:operation>
  
    	<wsdl:operation name="creaCuentaCliente" parameterOrder="parameters RequestHeader ResponseHeader">
	 		 <wsdl:input message="fic:creaCuentaClienteRequest"/>
             <wsdl:output message="fic:creaCuentaClienteResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="solicitaTDCliente" parameterOrder="parameters RequestHeader ResponseHeader">
	 		 <wsdl:input message="fic:solicitaTDClienteRequest"/>
             <wsdl:output message="fic:solicitaTDClienteResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="ordenEmpaqueTD" parameterOrder="parameters RequestHeader ResponseHeader">
	 		 <wsdl:input message="fic:ordenEmpaqueTDRequest"/>
             <wsdl:output message="fic:ordenEmpaqueTDResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="creaUsuarioSistema" parameterOrder="parameters RequestHeader ResponseHeader">
	 		 <wsdl:input message="fic:creaUsuarioSistemaRequest"/>
             <wsdl:output message="fic:creaUsuarioSistemaResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="CreaClienteSimplificado" parameterOrder="parameters RequestHeader ResponseHeader">
	 		 <wsdl:input message="fic:CreaClienteSimplificadoRequest"/>
             <wsdl:output message="fic:CreaClienteSimplificadoResponse"/>
		</wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="aperturaProductosPSSOAP" type="fic:aperturaProductosPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="validaDatosCliente">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/aperturaProductosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:validaDatosClienteRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:validaDatosClienteResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="creaCuentaCliente">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/aperturaProductosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:creaCuentaClienteRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:creaCuentaClienteResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="solicitaTDCliente">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/aperturaProductosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:solicitaTDClienteRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:solicitaTDClienteResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="ordenEmpaqueTD">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/aperturaProductosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:ordenEmpaqueTDRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:ordenEmpaqueTDResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
        
        <wsdl:operation name="CreaClienteSimplificado">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/aperturaProductosPS/CreaClienteSimplificado"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:CreaClienteSimplificadoRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:CreaClienteSimplificadoResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
        
         <wsdl:operation name="creaUsuarioSistema">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/aperturaProductosPS/creaUsuarioSistema"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:creaUsuarioSistemaRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:creaUsuarioSistemaResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="aperturaProductosPS">
    <wsdl:port binding="fic:aperturaProductosPSSOAP" name="aperturaProductosPSSOAP">
      <soap:address location="https://mwomnicanal:8004/Middleware/SalesAndServices/CustomerManagement/AperturaProductos"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>