Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/OSB/ConsultaDetalleSaldosPignorados_v2/xsd/XMLSchema_-1321016692.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDetalleSaldosPignoradosTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaDetalleSaldosPignoradosTypes">

	<xs:complexType name="consultaDetalleSaldosPignoradosResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_LOCKED_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="consultaDetalleSaldosPignoradosResponseType" minOccurs="0" form="qualified">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaDetalleSaldosPignoradosResponseRecordType" minOccurs="0" maxOccurs="unbounded" form="qualified">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="START_DATE" type="xs:string" minOccurs="0"/>
									<xs:element name="LIFTING_DATE" type="xs:string" minOccurs="0"/>
									<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
									<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaDetalleSaldosPignorados">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaDetalleSaldosPignoradosResponse" type="cons:consultaDetalleSaldosPignoradosResponse"/>
	
</xs:schema>