Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/errorHandling/ListaSolicitudesTimeout/listaSolicitudesTimeoutTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/listaSolicitudesTimeoutTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/listaSolicitudesTimeoutTypes">
	
	<xs:complexType name = "listaSolicitudesTimeoutResponseArrayType">
		<xs:sequence>
			<xs:element name="REQUEST_ID" type="xs:string" minOccurs="0" />
			<xs:element name="STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="TRANSACTION_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="MSGOUT" type="xs:string" minOccurs="0" />
		</xs:sequence> 
	</xs:complexType>

	
	<xs:complexType name="listaSolicitudesTimeoutResponseRecordType">
			<xs:sequence>
					<xs:element name="listaSolicitudesTimeoutResponseRecordType" type="cons:listaSolicitudesTimeoutResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="listaSolicitudesTimeoutResponseType">
		<xs:sequence>
			<xs:element name="listaSolicitudesTimeoutResponseType" type="cons:listaSolicitudesTimeoutResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="listaSolicitudesTimeout">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="REQUEST_ID" type="xs:string" minOccurs="0"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="listaSolicitudesTimeoutResponse" type="cons:listaSolicitudesTimeoutResponseType"/>
	
</xs:schema>