Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/TransaccionesACHRecibidas/xsd/transaccionesACHRecibidasTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/transaccionesACHRecibidasTypes" xmlns:tran="http://www.ficohsa.com.hn/middleware.services/transaccionesACHRecibidasTypes">
    <xs:element name="transaccionesACHRecibidas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GLOBAL_REFERENCE" type="xs:string"/>
                <xs:element name="TRANSACTION_DETAILS" type="tran:transactionDetailRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="transactionDetailRequest">
        <xs:sequence>
            <xs:element name="TRANSACTION_DETAIL" type="tran:transactionDetail" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="transactionDetailResponse">
        <xs:complexContent>
            <xs:extension base="tran:transactionDetail">
                <xs:sequence>
                    <xs:element name="TRANSACTION_RESULT" minOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="ERROR_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="BENEFICIARY_ID" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="transactionDetail">
        <xs:sequence>
            <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
            <xs:element name="TRANSACTION_TYPE"> 
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ACCT_DEBIT"/>
                        <xs:enumeration value="ACCT_CREDIT"/>
                        <xs:enumeration value="CREDIT_CARD_PAYMENT"/>
                        <xs:enumeration value="LOAN_PAYMENT"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="DESTINATION"> 
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="CURRENCY"> 
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="AMOUNT"> 
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="BENEFICIARY_NAME"> 
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ORIGINATOR_INFO" type="tran:originatorInfo" minOccurs="1" maxOccurs="1"/>
            <xs:element name="BENEFICIARY_ID" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="originatorInfo">
        <xs:sequence>
            <xs:element name="BANK_ID"> 
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="transaccionesACHRecibidasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="VALUE_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="TRANSACTION_DETAILS" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TRANSACTION_DETAIL" type="tran:transactionDetailResponse" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>