Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/EvaluaCreditoCliente/xsd/evaluaCreditoClienteTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaClientesTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaClientesTypes">

	<xs:element name="evaluaCreditoClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CUSTOMER_ID" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DATE_OF_BIRTH" type="xs:date" minOccurs="0" maxOccurs="1"/>
				<xs:element name="APPLICATION_DATE" type="xs:date" minOccurs="1" maxOccurs="1"/>
				<xs:element name="MONTHLY_INCOME" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="GENDER" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="1"/>
							<xs:enumeration value="F"/>
						    <xs:enumeration value="M"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RESIDENCE_TIME" type="xs:integer" minOccurs="1" maxOccurs="1"/>
				<xs:element name="VALID_REFERENCE_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="HOUSING_TYPE" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="1"/>
							<!--  1-Propia con hipoteca, 2-propia sin hipoteca, 3=Padres, 4=Alquiler, 5=Otro, 6=Sin Respuesta. Valor por defecto igual a 0 -->
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						    <xs:enumeration value="2"/>
						    <xs:enumeration value="3"/>
						    <xs:enumeration value="4"/>
						    <xs:enumeration value="5"/>
						    <xs:enumeration value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ASSIGNED_LIMIT" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
				<xs:element name="SUGGESTED_PRODUCT" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="LOAN_RATE" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
				<xs:element name="LOAN_AMOUNT" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
				<xs:element name="REFERENCE_VALID_TIME" type="xs:integer" minOccurs="1" maxOccurs="1"/>
				<xs:element name="FLAG_SIRC" type="xs:integer" minOccurs="1" maxOccurs="1"/>
				<xs:element name="FLAG_HIT_SIN_REFS" type="xs:integer" minOccurs="1" maxOccurs="1"/>
				<xs:element name="FLAG_NO_HIT" type="xs:integer" minOccurs="1" maxOccurs="1"/>
				<xs:element name="PRE_REJECTED" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
				<xs:element name="EXCHANGE_RATE" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
				<xs:element name="MAX_CREDIT_CARD_LIMIT" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
				<xs:element name="MAX_BANK_AMOUNT" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
				<xs:element name="MAX_COMMERCE_AMOUNT" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
				<xs:element name="SCORE_HIT" type="xs:integer" minOccurs="1" maxOccurs="1"/>
				<xs:element name="SCORE_NO_HIT" type="xs:integer" minOccurs="1" maxOccurs="1"/>
				<xs:element name="BUREAUS" type="cons:bureausType" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="bureausType">
		<xs:sequence>
			<xs:element name="BUREAU" type="cons:bureauType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="bureauType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="REPORTED" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SCORE_BURO" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="REFERENCES" type="cons:referencesType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="QUERIES" type="cons:queriesType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="referencesType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="cons:referenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="referenceType">
		<xs:sequence>
			<xs:element name="FIELD" type="cons:fieldType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="fieldType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="queriesType">
		<xs:sequence>
			<xs:element name="QUERY" type="cons:queryType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="queryType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ENTITY" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MOTIVE" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="evaluaCreditoClienteResponse" type="cons:evaluaCreditoClienteResponseType" />

	<xs:complexType name="evaluaCreditoClienteResponseType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VARS" type="cons:varsType" form="qualified" minOccurs="0" />
			<xs:element name="REPORTED" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="HIT" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="HIT_SINREF" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="HIT_SCORE" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NO_HIT_SCORE" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VALID_REFERENCE_TYPE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ENTITY_REFERENCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RISK_LEVEL" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="REFERENCE_VALID_TIME" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MAX_AMOUNT_BANK" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MAX_AMOUNT_COMMERCE" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LIMIT_MAX_CARDS" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ASSIGNED_LIMIT" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SUGGESTED_PRODUCT" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RESULT" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RATE_LOAN" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AMOUNT_LOAN" type="xs:integer" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="varsType">
		<xs:sequence>
			<xs:element name="var" type="cons:varType" form="qualified" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="varType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>