Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/pagoPrestamo/Resources/DebitoPrestamo/debitoPrestamo.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_1905404368.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_1612001361.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Transfentrecuentasfase11">
<part name="parameters" element="tns:Transfentrecuentasfase11"/>
</message>
<message name="Transfentrecuentasfase11Response">
<part name="parameters" element="tns:Transfentrecuentasfase11Response"/>
</message>
<message name="Transfentrecuentasfase11_Validate">
<part name="parameters" element="tns:Transfentrecuentasfase11_Validate"/>
</message>
<message name="Transfentrecuentasfase11_ValidateResponse">
<part name="parameters" element="tns:Transfentrecuentasfase11_ValidateResponse"/>
</message>
<message name="Transfentrecuentasfase12">
<part name="parameters" element="tns:Transfentrecuentasfase12"/>
</message>
<message name="Transfentrecuentasfase12Response">
<part name="parameters" element="tns:Transfentrecuentasfase12Response"/>
</message>
<message name="Transfentrecuentasfase12_Validate">
<part name="parameters" element="tns:Transfentrecuentasfase12_Validate"/>
</message>
<message name="Transfentrecuentasfase12_ValidateResponse">
<part name="parameters" element="tns:Transfentrecuentasfase12_ValidateResponse"/>
</message>
<message name="Depositoenefectivofase12">
<part name="parameters" element="tns:Depositoenefectivofase12"/>
</message>
<message name="Depositoenefectivofase12Response">
<part name="parameters" element="tns:Depositoenefectivofase12Response"/>
</message>
<message name="Depositoenefectivofase12_Validate">
<part name="parameters" element="tns:Depositoenefectivofase12_Validate"/>
</message>
<message name="Depositoenefectivofase12_ValidateResponse">
<part name="parameters" element="tns:Depositoenefectivofase12_ValidateResponse"/>
</message>
<message name="Depositoenefectivofase11">
<part name="parameters" element="tns:Depositoenefectivofase11"/>
</message>
<message name="Depositoenefectivofase11Response">
<part name="parameters" element="tns:Depositoenefectivofase11Response"/>
</message>
<message name="Depositoenefectivofase11_Validate">
<part name="parameters" element="tns:Depositoenefectivofase11_Validate"/>
</message>
<message name="Depositoenefectivofase11_ValidateResponse">
<part name="parameters" element="tns:Depositoenefectivofase11_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Transfentrecuentasfase11">
<input message="tns:Transfentrecuentasfase11"/>
<output message="tns:Transfentrecuentasfase11Response"/>
</operation>
<operation name="Transfentrecuentasfase11_Validate">
<input message="tns:Transfentrecuentasfase11_Validate"/>
<output message="tns:Transfentrecuentasfase11_ValidateResponse"/>
</operation>
<operation name="Transfentrecuentasfase12">
<input message="tns:Transfentrecuentasfase12"/>
<output message="tns:Transfentrecuentasfase12Response"/>
</operation>
<operation name="Transfentrecuentasfase12_Validate">
<input message="tns:Transfentrecuentasfase12_Validate"/>
<output message="tns:Transfentrecuentasfase12_ValidateResponse"/>
</operation>
<operation name="Depositoenefectivofase12">
<input message="tns:Depositoenefectivofase12"/>
<output message="tns:Depositoenefectivofase12Response"/>
</operation>
<operation name="Depositoenefectivofase12_Validate">
<input message="tns:Depositoenefectivofase12_Validate"/>
<output message="tns:Depositoenefectivofase12_ValidateResponse"/>
</operation>
<operation name="Depositoenefectivofase11">
<input message="tns:Depositoenefectivofase11"/>
<output message="tns:Depositoenefectivofase11Response"/>
</operation>
<operation name="Depositoenefectivofase11_Validate">
<input message="tns:Depositoenefectivofase11_Validate"/>
<output message="tns:Depositoenefectivofase11_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Transfentrecuentasfase11">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Transfentrecuentasfase11_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Transfentrecuentasfase12">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Transfentrecuentasfase12_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositoenefectivofase12">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositoenefectivofase12_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositoenefectivofase11">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Depositoenefectivofase11_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwomnidesa:7003/svcTransferenciasFaseUnoHelios/services"/>
</port>
</service>
</definitions>