Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/DesbloqueoFondosCuenta/xsd/desbloqueoFondosCuentaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/desbloqueoFondosCuentaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/desbloqueoFondosCuentaTypes">
	
	<xs:simpleType name="stringMinLength" >
    	<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:element name="desbloqueoFondosCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOCK_ID" type="cons:stringMinLength"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="desbloqueoFondosCuentaResponse" type="cons:desbloqueoFondosCuentaResponseType"/>
	
	<xs:complexType name="desbloqueoFondosCuentaResponseType">
		<xs:sequence>
			<xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
</xs:schema>