Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/LATINIA/provisionerUserService/xsd/XMLSchema_-1045117713.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. -->
<xsd:schema xmlns:ns0="http://com.latinia/lsubscribers/provisioner/data"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.latinia/lsubscribers/provisioner/data">
	<xsd:complexType name="propertyType">
		<xsd:sequence>
			<xsd:element name="dateFormat" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="idEncryptionType" type="xsd:int" />
			<xsd:element name="idProp" type="xsd:int" />
			<xsd:element name="idSource" type="xsd:int" />
			<xsd:element name="idString" type="xsd:int" />
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
			<xsd:element name="objectType" type="xsd:int" />
			<xsd:element name="preferred" type="xsd:boolean" />
			<xsd:element name="refEncryptionType" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="refSource" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="shared" type="xsd:boolean" />
			<xsd:element name="size" type="xsd:int" />
			<xsd:element name="type" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="property">
		<xsd:sequence>
			<xsd:element name="encryptedValues" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
			<xsd:element name="maskedValues" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
			<xsd:element name="type" type="ns0:propertyType"
				minOccurs="0" />
			<xsd:element name="values" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="rule">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:int" />
			<xsd:element name="idModel" type="xsd:int" />
			<xsd:element name="idService" type="xsd:int" />
			<xsd:element name="idUser" type="xsd:int" />
			<xsd:element name="refModel" type="xsd:string" minOccurs="0" />
			<xsd:element name="refService" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="refUser" type="xsd:string" minOccurs="0" />
			<xsd:element name="referenceValues" type="ns0:property"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="company">
		<xsd:sequence>
			<xsd:element name="default" type="xsd:boolean" />
			<xsd:element name="deleted" type="xsd:boolean" />
			<xsd:element name="id" type="xsd:int" />
			<xsd:element name="idEnterprise" type="xsd:int" />
			<xsd:element name="locked" type="xsd:boolean" />
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
			<xsd:element name="numModels" type="xsd:int" />
			<xsd:element name="numServices" type="xsd:int" />
			<xsd:element name="numUsers" type="xsd:int" />
			<xsd:element name="props" type="ns0:property" minOccurs="0"
				maxOccurs="unbounded" nillable="true" />
			<xsd:element name="refCompany" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="strings" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="service">
		<xsd:sequence>
			<xsd:element name="deleted" type="xsd:boolean" />
			<xsd:element name="id" type="xsd:int" />
			<xsd:element name="idCompany" type="xsd:int" />
			<xsd:element name="idServiceGroup" type="xsd:int" />
			<xsd:element name="models" type="ns0:model" minOccurs="0"
				maxOccurs="unbounded" nillable="true" />
			<xsd:element name="mustRegister" type="xsd:boolean" />
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
			<xsd:element name="priority" type="xsd:int" />
			<xsd:element name="props" type="ns0:property" minOccurs="0"
				maxOccurs="unbounded" nillable="true" />
			<xsd:element name="refFrame" type="xsd:string" minOccurs="0" />
			<xsd:element name="refService" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="registeredUsers" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="model">
		<xsd:sequence>
			<xsd:element name="allUsers" type="xsd:boolean" />
			<xsd:element name="category" type="xsd:string" minOccurs="0" />
			<xsd:element name="id" type="xsd:int" />
			<xsd:element name="idCompany" type="xsd:int" />
			<xsd:element name="idService" type="xsd:int" />
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
			<xsd:element name="order" type="xsd:int" />
			<xsd:element name="refModel" type="xsd:string" minOccurs="0" />
			<xsd:element name="type" type="xsd:int" />
			<xsd:element name="xmlModel" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="serviceGroup">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:int" />
			<xsd:element name="idCompany" type="xsd:int" />
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="user">
		<xsd:sequence>
			<xsd:element name="deleted" type="xsd:boolean" />
			<xsd:element name="id" type="xsd:int" />
			<xsd:element name="idCompany" type="xsd:int" />
			<xsd:element name="props" type="ns0:property" minOccurs="0"
				maxOccurs="unbounded" nillable="true" />
			<xsd:element name="refUser" type="xsd:string" minOccurs="0" />
			<xsd:element name="services" type="xsd:int" maxOccurs="unbounded"
				nillable="true" />
			<xsd:element name="tsCreate" type="xsd:long" />
			<xsd:element name="tsUpdate" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pnsToken">
		<xsd:sequence>
			<xsd:element name="appVersion" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="application" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="channelProvider" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="confidential" type="xsd:boolean" />
			<xsd:element name="device" type="ns0:device" minOccurs="0" />
			<xsd:element name="idApp" type="xsd:int" />
			<xsd:element name="idAppVersion" type="xsd:int" />
			<xsd:element name="idCompany" type="xsd:int" />
			<xsd:element name="idPnsToken" type="xsd:int" />
			<xsd:element name="idProvider" type="xsd:int" />
			<xsd:element name="idUser" type="xsd:int" />
			<xsd:element name="props" type="ns0:simpleProperty"
				minOccurs="0" maxOccurs="unbounded" nillable="true" />
			<xsd:element name="roaming" type="xsd:boolean" />
			<xsd:element name="token" type="xsd:string" minOccurs="0" />
			<xsd:element name="tsCreate" type="xsd:long" />
			<xsd:element name="tsUpdate" type="xsd:long" />
			<xsd:element name="uuidDevice" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="device">
		<xsd:sequence>
			<xsd:element name="devModel" type="xsd:string" minOccurs="0" />
			<xsd:element name="devVendor" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="idDevice" type="xsd:int" />
			<xsd:element name="osVendor" type="xsd:string" minOccurs="0" />
			<xsd:element name="osVersion" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="simpleProperty">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
			<xsd:element name="value" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="userResult">
		<xsd:sequence>
			<xsd:element name="numUsers" type="xsd:int" />
			<xsd:element name="users" type="ns0:user" minOccurs="0"
				maxOccurs="unbounded" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>