Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/LATINIA/provisionerUserService/xsd/XMLSchema_-751714706.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema targetNamespace="http://com.latinia/lsubscribers/provisioner" xmlns:ns0="http://com.latinia/lsubscribers/provisioner" xmlns:ns1="http://com.latinia/lsubscribers/provisioner/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import schemaLocation="XMLSchema_-1045117713.xsd" namespace="http://com.latinia/lsubscribers/provisioner/data"/>
	<xsd:complexType name="addUserPropertyValue">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="addUserPropertyValueById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="addUserPropertyValueByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="addUserPropertyValueResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="addUserReferenceValue">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refModel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refValueName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="value" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="addUserReferenceValueById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="idModel" type="xsd:int"/>
			<xsd:element name="refValueName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="value" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="addUserReferenceValueByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="addUserReferenceValueResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="countCompanyUsersWithToken">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="countCompanyUsersWithTokenById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="countCompanyUsersWithTokenByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="countCompanyUsersWithTokenResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createLObjectType">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="objectType" type="ns0:lObjectType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createLObjectTypeResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createRule">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refModel" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createRuleById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="idModel" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createRuleByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createRuleResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createUser">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="priority" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createUserById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="priority" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createUserByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createUserResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createUserWithData">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="properties" type="ns1:property" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			<xsd:element name="refServices" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			<xsd:element name="rules" type="ns1:rule" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			<xsd:element name="refSource" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createUserWithDataResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="deleteLObjectType">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="objectType" type="ns0:lObjectType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="deleteLObjectTypeResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="deleteRule">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refModel" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="deleteRuleById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="idModel" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="deleteRuleByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="deleteRuleResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="deleteUser">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="deleteUserById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="deleteUserByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="deleteUserResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Exception">
		<xsd:sequence>
			<xsd:element name="message" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompaniesList">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompaniesListByEnterprise">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idEnterprise" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompaniesListByEnterpriseResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:company" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompaniesListResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:company" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompany">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:company" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyGroupServicesList">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idServiceGroup" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyGroupServicesListById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idServiceGroup" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyGroupServicesListByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:service" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyGroupServicesListResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:service" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:company" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyServiceGroupList">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyServiceGroupListResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:serviceGroup" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyServicesList">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyServicesListById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyServicesListByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:service" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyServicesListResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:service" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyUser">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyUserResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:user" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyUsersListById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="limit" type="xsd:int"/>
			<xsd:element name="index" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCompanyUsersListByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:user" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getDefaultUser">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getDefaultUserById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getDefaultUserByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:user" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getDefaultUserResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:user" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getDeviceRoaming">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refApp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getDeviceRoamingById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="refApp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getDeviceRoamingByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getDeviceRoamingResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getModel">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idModel" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getModelResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:model" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getObjectProperties">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refObjectType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refObject" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getObjectPropertiesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:property" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getRule">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idRule" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getRuleResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:rule" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getService">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getServiceById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getServiceByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:service" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getServiceModelsList">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getServiceModelsListById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getServiceModelsListByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:model" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getServiceModelsListResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:model" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getServiceResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:service" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getServiceTypeModelsList">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="type" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getServiceTypeModelsListById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
			<xsd:element name="type" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getServiceTypeModelsListByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:model" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getServiceTypeModelsListResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:model" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getUser">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getUserByRef">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getUserByRefResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:user" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getUserId">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getUserIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getUserResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:user" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getUserRules">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getUserRulesById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getUserRulesByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:rule" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getUserRulesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:rule" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listAppUserTokens">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refApp" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listAppUserTokensResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:pnsToken" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersKeyPropertiesNames">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersKeyPropertiesNamesById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersKeyPropertiesNamesByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersKeyPropertiesNamesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersMappedPropertiesNames">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersMappedPropertiesNamesById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersMappedPropertiesNamesByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersMappedPropertiesNamesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersProperties">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersPropertiesById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersPropertiesByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:propertyType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersPropertiesNames">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersPropertiesNamesById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersPropertiesNamesByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersPropertiesNamesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersPropertiesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:propertyType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersReferenceValues">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersReferenceValuesById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersReferenceValuesByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:propertyType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersReferenceValuesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:propertyType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersStringPropertiesNames">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersStringPropertiesNamesById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersStringPropertiesNamesByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listDefinedUsersStringPropertiesNamesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listObjectTypes">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listObjectTypesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:lObjectType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listUserTokens">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listUserTokensById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listUserTokensByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:pnsToken" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listUserTokensResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:pnsToken" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="refreshSQL"/>
	<xsd:complexType name="refreshSQLResponse"/>
	<xsd:complexType name="registerCreateUserAppDevice">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="token" type="ns1:pnsToken" minOccurs="0"/>
			<xsd:element name="properties" type="ns1:property" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="registerCreateUserAppDeviceResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="registerUser">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="registerUserApp">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="token" type="ns1:pnsToken" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="registerUserAppById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="token" type="ns1:pnsToken" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="registerUserAppByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="registerUserAppDevice">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="token" type="ns1:pnsToken" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="registerUserAppDeviceResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="registerUserAppResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="registerUserById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="registerUserByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="registerUserResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeDeviceUserAppProperty">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refApp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeDeviceUserAppPropertyResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserProperty">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserPropertyById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserPropertyByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserPropertyResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserPropertyValue">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserPropertyValueById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserPropertyValueByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserPropertyValueResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserReferenceValue">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refModel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refValueName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserReferenceValueById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="idModel" type="xsd:int"/>
			<xsd:element name="refValueName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserReferenceValueByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserReferenceValueResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserReferenceValueValue">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refModel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refValueName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refValueValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserReferenceValueValueById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="idModel" type="xsd:int"/>
			<xsd:element name="refValueName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refValueValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserReferenceValueValueByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="removeUserReferenceValueValueResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="replacePropertyRuleValue">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refModel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="oldValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="newValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="replacePropertyRuleValueResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="replaceUserGlobalProperties">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="properties" type="ns1:property" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="replaceUserGlobalPropertiesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="replaceUserPropertyValue">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="oldValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="newValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="replaceUserPropertyValueResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="searchCompanyUsersById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="limit" type="xsd:int"/>
			<xsd:element name="index" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="searchCompanyUsersByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:userResult" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="searchCompanyUsersWithKey">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="keyName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="limit" type="xsd:int"/>
			<xsd:element name="index" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="searchCompanyUsersWithKeyById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="keyName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="limit" type="xsd:int"/>
			<xsd:element name="index" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="searchCompanyUsersWithKeyByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:userResult" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="searchCompanyUsersWithKeyResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns1:userResult" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setConfidentialApp">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="force" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setConfidentialAppResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setDeviceRoaming">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refApp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="roaming" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setDeviceRoamingById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="refApp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="roaming" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setDeviceRoamingByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setDeviceRoamingResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setDeviceUserAppProperties">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refApp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="properties" type="ns1:simpleProperty" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setDeviceUserAppPropertiesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setDeviceUserAppPropertyValue">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refApp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setDeviceUserAppPropertyValueResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setObjectProperties">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refObjectType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refObject" type="xsd:string" minOccurs="0"/>
			<xsd:element name="properties" type="ns1:property" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setObjectPropertiesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setObjectSomeProperties">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refObjectType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refObject" type="xsd:string" minOccurs="0"/>
			<xsd:element name="properties" type="ns1:property" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setObjectSomePropertiesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setRule">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="rule" type="ns1:rule" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setRuleById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="rules" type="ns1:rule" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setRuleByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setRuleResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setRules">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="rules" type="ns1:rule" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setRulesById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="rules" type="ns1:rule" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setRulesByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setRulesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserProperties">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="properties" type="ns1:property" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertiesById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="properties" type="ns1:property" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertiesByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertiesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertiesWithSource">
		<xsd:sequence>
			<xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
			<xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="arg3" type="ns1:property" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			<xsd:element name="arg4" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertiesWithSourceById">
		<xsd:sequence>
			<xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
			<xsd:element name="arg1" type="xsd:int"/>
			<xsd:element name="arg2" type="xsd:int"/>
			<xsd:element name="arg3" type="ns1:property" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			<xsd:element name="arg4" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertiesWithSourceByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertiesWithSourceResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertyValue">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertyValueById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertyValueByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertyValueResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertyValues">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propValues" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertyValuesById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="propName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propValues" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertyValuesByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserPropertyValuesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserReferenceValue">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refModel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refValueName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="value" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserReferenceValueById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="idModel" type="xsd:int"/>
			<xsd:element name="refValueName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="value" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserReferenceValueByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserReferenceValueResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserReferenceValues">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refModel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refValueName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="values" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserReferenceValuesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserReferencesValues">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refModel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="referencesValues" type="ns1:property" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserReferencesValuesById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="idModel" type="xsd:int"/>
			<xsd:element name="referencesValues" type="ns1:property" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserReferencesValuesByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserReferencesValuesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserSomeProperties">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="properties" type="ns1:property" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserSomePropertiesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserSubscriptionData">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refServices" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			<xsd:element name="commonRule" type="ns1:rule" minOccurs="0"/>
			<xsd:element name="servicesRules" type="ns1:rule" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			<xsd:element name="refSource" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserSubscriptionDataById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="idServices" type="xsd:int" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			<xsd:element name="commonRule" type="ns1:rule" minOccurs="0"/>
			<xsd:element name="servicesRules" type="ns1:rule" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			<xsd:element name="refSource" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserSubscriptionDataByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="setUserSubscriptionDataResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterAllUserServices">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterAllUserServicesById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterAllUserServicesByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterAllUserServicesResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterUser">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refService" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterUserApp">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refApp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="token" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterUserAppById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="refApp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="token" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterUserAppByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterUserAppDevice">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="refApp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterUserAppDeviceById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="refApp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterUserAppDeviceByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterUserAppDeviceResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterUserAppResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterUserById">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="idUser" type="xsd:int"/>
			<xsd:element name="idService" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterUserByIdResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unregisterUserResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="updateLObjectType">
		<xsd:sequence>
			<xsd:element name="validation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="objectType" type="ns0:lObjectType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="updateLObjectTypeResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="lObjectType">
		<xsd:sequence>
			<xsd:element name="attributes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="id" type="xsd:int"/>
			<xsd:element name="idCompany" type="xsd:int"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="propertiesDefs" type="ns1:propertyType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			<xsd:element name="store" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="addUserPropertyValue" type="ns0:addUserPropertyValue"/>
	<xsd:element name="addUserPropertyValueById" type="ns0:addUserPropertyValueById"/>
	<xsd:element name="addUserPropertyValueByIdResponse" type="ns0:addUserPropertyValueByIdResponse"/>
	<xsd:element name="addUserPropertyValueResponse" type="ns0:addUserPropertyValueResponse"/>
	<xsd:element name="addUserReferenceValue" type="ns0:addUserReferenceValue"/>
	<xsd:element name="addUserReferenceValueById" type="ns0:addUserReferenceValueById"/>
	<xsd:element name="addUserReferenceValueByIdResponse" type="ns0:addUserReferenceValueByIdResponse"/>
	<xsd:element name="addUserReferenceValueResponse" type="ns0:addUserReferenceValueResponse"/>
	<xsd:element name="countCompanyUsersWithToken" type="ns0:countCompanyUsersWithToken"/>
	<xsd:element name="countCompanyUsersWithTokenById" type="ns0:countCompanyUsersWithTokenById"/>
	<xsd:element name="countCompanyUsersWithTokenByIdResponse" type="ns0:countCompanyUsersWithTokenByIdResponse"/>
	<xsd:element name="countCompanyUsersWithTokenResponse" type="ns0:countCompanyUsersWithTokenResponse"/>
	<xsd:element name="createLObjectType" type="ns0:createLObjectType"/>
	<xsd:element name="createLObjectTypeResponse" type="ns0:createLObjectTypeResponse"/>
	<xsd:element name="createRule" type="ns0:createRule"/>
	<xsd:element name="createRuleById" type="ns0:createRuleById"/>
	<xsd:element name="createRuleByIdResponse" type="ns0:createRuleByIdResponse"/>
	<xsd:element name="createRuleResponse" type="ns0:createRuleResponse"/>
	<xsd:element name="createUser" type="ns0:createUser"/>
	<xsd:element name="createUserById" type="ns0:createUserById"/>
	<xsd:element name="createUserByIdResponse" type="ns0:createUserByIdResponse"/>
	<xsd:element name="createUserResponse" type="ns0:createUserResponse"/>
	<xsd:element name="createUserWithData" type="ns0:createUserWithData"/>
	<xsd:element name="createUserWithDataResponse" type="ns0:createUserWithDataResponse"/>
	<xsd:element name="deleteLObjectType" type="ns0:deleteLObjectType"/>
	<xsd:element name="deleteLObjectTypeResponse" type="ns0:deleteLObjectTypeResponse"/>
	<xsd:element name="deleteRule" type="ns0:deleteRule"/>
	<xsd:element name="deleteRuleById" type="ns0:deleteRuleById"/>
	<xsd:element name="deleteRuleByIdResponse" type="ns0:deleteRuleByIdResponse"/>
	<xsd:element name="deleteRuleResponse" type="ns0:deleteRuleResponse"/>
	<xsd:element name="deleteUser" type="ns0:deleteUser"/>
	<xsd:element name="deleteUserById" type="ns0:deleteUserById"/>
	<xsd:element name="deleteUserByIdResponse" type="ns0:deleteUserByIdResponse"/>
	<xsd:element name="deleteUserResponse" type="ns0:deleteUserResponse"/>
	<xsd:element name="Exception" type="ns0:Exception"/>
	<xsd:element name="getCompaniesList" type="ns0:getCompaniesList"/>
	<xsd:element name="getCompaniesListByEnterprise" type="ns0:getCompaniesListByEnterprise"/>
	<xsd:element name="getCompaniesListByEnterpriseResponse" type="ns0:getCompaniesListByEnterpriseResponse"/>
	<xsd:element name="getCompaniesListResponse" type="ns0:getCompaniesListResponse"/>
	<xsd:element name="getCompany" type="ns0:getCompany"/>
	<xsd:element name="getCompanyById" type="ns0:getCompanyById"/>
	<xsd:element name="getCompanyByIdResponse" type="ns0:getCompanyByIdResponse"/>
	<xsd:element name="getCompanyGroupServicesList" type="ns0:getCompanyGroupServicesList"/>
	<xsd:element name="getCompanyGroupServicesListById" type="ns0:getCompanyGroupServicesListById"/>
	<xsd:element name="getCompanyGroupServicesListByIdResponse" type="ns0:getCompanyGroupServicesListByIdResponse"/>
	<xsd:element name="getCompanyGroupServicesListResponse" type="ns0:getCompanyGroupServicesListResponse"/>
	<xsd:element name="getCompanyResponse" type="ns0:getCompanyResponse"/>
	<xsd:element name="getCompanyServiceGroupList" type="ns0:getCompanyServiceGroupList"/>
	<xsd:element name="getCompanyServiceGroupListResponse" type="ns0:getCompanyServiceGroupListResponse"/>
	<xsd:element name="getCompanyServicesList" type="ns0:getCompanyServicesList"/>
	<xsd:element name="getCompanyServicesListById" type="ns0:getCompanyServicesListById"/>
	<xsd:element name="getCompanyServicesListByIdResponse" type="ns0:getCompanyServicesListByIdResponse"/>
	<xsd:element name="getCompanyServicesListResponse" type="ns0:getCompanyServicesListResponse"/>
	<xsd:element name="getCompanyUser" type="ns0:getCompanyUser"/>
	<xsd:element name="getCompanyUserResponse" type="ns0:getCompanyUserResponse"/>
	<xsd:element name="getCompanyUsersListById" type="ns0:getCompanyUsersListById"/>
	<xsd:element name="getCompanyUsersListByIdResponse" type="ns0:getCompanyUsersListByIdResponse"/>
	<xsd:element name="getDefaultUser" type="ns0:getDefaultUser"/>
	<xsd:element name="getDefaultUserById" type="ns0:getDefaultUserById"/>
	<xsd:element name="getDefaultUserByIdResponse" type="ns0:getDefaultUserByIdResponse"/>
	<xsd:element name="getDefaultUserResponse" type="ns0:getDefaultUserResponse"/>
	<xsd:element name="getDeviceRoaming" type="ns0:getDeviceRoaming"/>
	<xsd:element name="getDeviceRoamingById" type="ns0:getDeviceRoamingById"/>
	<xsd:element name="getDeviceRoamingByIdResponse" type="ns0:getDeviceRoamingByIdResponse"/>
	<xsd:element name="getDeviceRoamingResponse" type="ns0:getDeviceRoamingResponse"/>
	<xsd:element name="getModel" type="ns0:getModel"/>
	<xsd:element name="getModelResponse" type="ns0:getModelResponse"/>
	<xsd:element name="getObjectProperties" type="ns0:getObjectProperties"/>
	<xsd:element name="getObjectPropertiesResponse" type="ns0:getObjectPropertiesResponse"/>
	<xsd:element name="getRule" type="ns0:getRule"/>
	<xsd:element name="getRuleResponse" type="ns0:getRuleResponse"/>
	<xsd:element name="getService" type="ns0:getService"/>
	<xsd:element name="getServiceById" type="ns0:getServiceById"/>
	<xsd:element name="getServiceByIdResponse" type="ns0:getServiceByIdResponse"/>
	<xsd:element name="getServiceModelsList" type="ns0:getServiceModelsList"/>
	<xsd:element name="getServiceModelsListById" type="ns0:getServiceModelsListById"/>
	<xsd:element name="getServiceModelsListByIdResponse" type="ns0:getServiceModelsListByIdResponse"/>
	<xsd:element name="getServiceModelsListResponse" type="ns0:getServiceModelsListResponse"/>
	<xsd:element name="getServiceResponse" type="ns0:getServiceResponse"/>
	<xsd:element name="getServiceTypeModelsList" type="ns0:getServiceTypeModelsList"/>
	<xsd:element name="getServiceTypeModelsListById" type="ns0:getServiceTypeModelsListById"/>
	<xsd:element name="getServiceTypeModelsListByIdResponse" type="ns0:getServiceTypeModelsListByIdResponse"/>
	<xsd:element name="getServiceTypeModelsListResponse" type="ns0:getServiceTypeModelsListResponse"/>
	<xsd:element name="getUser" type="ns0:getUser"/>
	<xsd:element name="getUserByRef" type="ns0:getUserByRef"/>
	<xsd:element name="getUserByRefResponse" type="ns0:getUserByRefResponse"/>
	<xsd:element name="getUserId" type="ns0:getUserId"/>
	<xsd:element name="getUserIdResponse" type="ns0:getUserIdResponse"/>
	<xsd:element name="getUserResponse" type="ns0:getUserResponse"/>
	<xsd:element name="getUserRules" type="ns0:getUserRules"/>
	<xsd:element name="getUserRulesById" type="ns0:getUserRulesById"/>
	<xsd:element name="getUserRulesByIdResponse" type="ns0:getUserRulesByIdResponse"/>
	<xsd:element name="getUserRulesResponse" type="ns0:getUserRulesResponse"/>
	<xsd:element name="listAppUserTokens" type="ns0:listAppUserTokens"/>
	<xsd:element name="listAppUserTokensResponse" type="ns0:listAppUserTokensResponse"/>
	<xsd:element name="listDefinedUsersKeyPropertiesNames" type="ns0:listDefinedUsersKeyPropertiesNames"/>
	<xsd:element name="listDefinedUsersKeyPropertiesNamesById" type="ns0:listDefinedUsersKeyPropertiesNamesById"/>
	<xsd:element name="listDefinedUsersKeyPropertiesNamesByIdResponse" type="ns0:listDefinedUsersKeyPropertiesNamesByIdResponse"/>
	<xsd:element name="listDefinedUsersKeyPropertiesNamesResponse" type="ns0:listDefinedUsersKeyPropertiesNamesResponse"/>
	<xsd:element name="listDefinedUsersMappedPropertiesNames" type="ns0:listDefinedUsersMappedPropertiesNames"/>
	<xsd:element name="listDefinedUsersMappedPropertiesNamesById" type="ns0:listDefinedUsersMappedPropertiesNamesById"/>
	<xsd:element name="listDefinedUsersMappedPropertiesNamesByIdResponse" type="ns0:listDefinedUsersMappedPropertiesNamesByIdResponse"/>
	<xsd:element name="listDefinedUsersMappedPropertiesNamesResponse" type="ns0:listDefinedUsersMappedPropertiesNamesResponse"/>
	<xsd:element name="listDefinedUsersProperties" type="ns0:listDefinedUsersProperties"/>
	<xsd:element name="listDefinedUsersPropertiesById" type="ns0:listDefinedUsersPropertiesById"/>
	<xsd:element name="listDefinedUsersPropertiesByIdResponse" type="ns0:listDefinedUsersPropertiesByIdResponse"/>
	<xsd:element name="listDefinedUsersPropertiesNames" type="ns0:listDefinedUsersPropertiesNames"/>
	<xsd:element name="listDefinedUsersPropertiesNamesById" type="ns0:listDefinedUsersPropertiesNamesById"/>
	<xsd:element name="listDefinedUsersPropertiesNamesByIdResponse" type="ns0:listDefinedUsersPropertiesNamesByIdResponse"/>
	<xsd:element name="listDefinedUsersPropertiesNamesResponse" type="ns0:listDefinedUsersPropertiesNamesResponse"/>
	<xsd:element name="listDefinedUsersPropertiesResponse" type="ns0:listDefinedUsersPropertiesResponse"/>
	<xsd:element name="listDefinedUsersReferenceValues" type="ns0:listDefinedUsersReferenceValues"/>
	<xsd:element name="listDefinedUsersReferenceValuesById" type="ns0:listDefinedUsersReferenceValuesById"/>
	<xsd:element name="listDefinedUsersReferenceValuesByIdResponse" type="ns0:listDefinedUsersReferenceValuesByIdResponse"/>
	<xsd:element name="listDefinedUsersReferenceValuesResponse" type="ns0:listDefinedUsersReferenceValuesResponse"/>
	<xsd:element name="listDefinedUsersStringPropertiesNames" type="ns0:listDefinedUsersStringPropertiesNames"/>
	<xsd:element name="listDefinedUsersStringPropertiesNamesById" type="ns0:listDefinedUsersStringPropertiesNamesById"/>
	<xsd:element name="listDefinedUsersStringPropertiesNamesByIdResponse" type="ns0:listDefinedUsersStringPropertiesNamesByIdResponse"/>
	<xsd:element name="listDefinedUsersStringPropertiesNamesResponse" type="ns0:listDefinedUsersStringPropertiesNamesResponse"/>
	<xsd:element name="listObjectTypes" type="ns0:listObjectTypes"/>
	<xsd:element name="listObjectTypesResponse" type="ns0:listObjectTypesResponse"/>
	<xsd:element name="listUserTokens" type="ns0:listUserTokens"/>
	<xsd:element name="listUserTokensById" type="ns0:listUserTokensById"/>
	<xsd:element name="listUserTokensByIdResponse" type="ns0:listUserTokensByIdResponse"/>
	<xsd:element name="listUserTokensResponse" type="ns0:listUserTokensResponse"/>
	<xsd:element name="refreshSQL" type="ns0:refreshSQL"/>
	<xsd:element name="refreshSQLResponse" type="ns0:refreshSQLResponse"/>
	<xsd:element name="registerCreateUserAppDevice" type="ns0:registerCreateUserAppDevice"/>
	<xsd:element name="registerCreateUserAppDeviceResponse" type="ns0:registerCreateUserAppDeviceResponse"/>
	<xsd:element name="registerUser" type="ns0:registerUser"/>
	<xsd:element name="registerUserApp" type="ns0:registerUserApp"/>
	<xsd:element name="registerUserAppById" type="ns0:registerUserAppById"/>
	<xsd:element name="registerUserAppByIdResponse" type="ns0:registerUserAppByIdResponse"/>
	<xsd:element name="registerUserAppDevice" type="ns0:registerUserAppDevice"/>
	<xsd:element name="registerUserAppDeviceResponse" type="ns0:registerUserAppDeviceResponse"/>
	<xsd:element name="registerUserAppResponse" type="ns0:registerUserAppResponse"/>
	<xsd:element name="registerUserById" type="ns0:registerUserById"/>
	<xsd:element name="registerUserByIdResponse" type="ns0:registerUserByIdResponse"/>
	<xsd:element name="registerUserResponse" type="ns0:registerUserResponse"/>
	<xsd:element name="removeDeviceUserAppProperty" type="ns0:removeDeviceUserAppProperty"/>
	<xsd:element name="removeDeviceUserAppPropertyResponse" type="ns0:removeDeviceUserAppPropertyResponse"/>
	<xsd:element name="removeUserProperty" type="ns0:removeUserProperty"/>
	<xsd:element name="removeUserPropertyById" type="ns0:removeUserPropertyById"/>
	<xsd:element name="removeUserPropertyByIdResponse" type="ns0:removeUserPropertyByIdResponse"/>
	<xsd:element name="removeUserPropertyResponse" type="ns0:removeUserPropertyResponse"/>
	<xsd:element name="removeUserPropertyValue" type="ns0:removeUserPropertyValue"/>
	<xsd:element name="removeUserPropertyValueById" type="ns0:removeUserPropertyValueById"/>
	<xsd:element name="removeUserPropertyValueByIdResponse" type="ns0:removeUserPropertyValueByIdResponse"/>
	<xsd:element name="removeUserPropertyValueResponse" type="ns0:removeUserPropertyValueResponse"/>
	<xsd:element name="removeUserReferenceValue" type="ns0:removeUserReferenceValue"/>
	<xsd:element name="removeUserReferenceValueById" type="ns0:removeUserReferenceValueById"/>
	<xsd:element name="removeUserReferenceValueByIdResponse" type="ns0:removeUserReferenceValueByIdResponse"/>
	<xsd:element name="removeUserReferenceValueResponse" type="ns0:removeUserReferenceValueResponse"/>
	<xsd:element name="removeUserReferenceValueValue" type="ns0:removeUserReferenceValueValue"/>
	<xsd:element name="removeUserReferenceValueValueById" type="ns0:removeUserReferenceValueValueById"/>
	<xsd:element name="removeUserReferenceValueValueByIdResponse" type="ns0:removeUserReferenceValueValueByIdResponse"/>
	<xsd:element name="removeUserReferenceValueValueResponse" type="ns0:removeUserReferenceValueValueResponse"/>
	<xsd:element name="replacePropertyRuleValue" type="ns0:replacePropertyRuleValue"/>
	<xsd:element name="replacePropertyRuleValueResponse" type="ns0:replacePropertyRuleValueResponse"/>
	<xsd:element name="replaceUserGlobalProperties" type="ns0:replaceUserGlobalProperties"/>
	<xsd:element name="replaceUserGlobalPropertiesResponse" type="ns0:replaceUserGlobalPropertiesResponse"/>
	<xsd:element name="replaceUserPropertyValue" type="ns0:replaceUserPropertyValue"/>
	<xsd:element name="replaceUserPropertyValueResponse" type="ns0:replaceUserPropertyValueResponse"/>
	<xsd:element name="searchCompanyUsersById" type="ns0:searchCompanyUsersById"/>
	<xsd:element name="searchCompanyUsersByIdResponse" type="ns0:searchCompanyUsersByIdResponse"/>
	<xsd:element name="searchCompanyUsersWithKey" type="ns0:searchCompanyUsersWithKey"/>
	<xsd:element name="searchCompanyUsersWithKeyById" type="ns0:searchCompanyUsersWithKeyById"/>
	<xsd:element name="searchCompanyUsersWithKeyByIdResponse" type="ns0:searchCompanyUsersWithKeyByIdResponse"/>
	<xsd:element name="searchCompanyUsersWithKeyResponse" type="ns0:searchCompanyUsersWithKeyResponse"/>
	<xsd:element name="setConfidentialApp" type="ns0:setConfidentialApp"/>
	<xsd:element name="setConfidentialAppResponse" type="ns0:setConfidentialAppResponse"/>
	<xsd:element name="setDeviceRoaming" type="ns0:setDeviceRoaming"/>
	<xsd:element name="setDeviceRoamingById" type="ns0:setDeviceRoamingById"/>
	<xsd:element name="setDeviceRoamingByIdResponse" type="ns0:setDeviceRoamingByIdResponse"/>
	<xsd:element name="setDeviceRoamingResponse" type="ns0:setDeviceRoamingResponse"/>
	<xsd:element name="setDeviceUserAppProperties" type="ns0:setDeviceUserAppProperties"/>
	<xsd:element name="setDeviceUserAppPropertiesResponse" type="ns0:setDeviceUserAppPropertiesResponse"/>
	<xsd:element name="setDeviceUserAppPropertyValue" type="ns0:setDeviceUserAppPropertyValue"/>
	<xsd:element name="setDeviceUserAppPropertyValueResponse" type="ns0:setDeviceUserAppPropertyValueResponse"/>
	<xsd:element name="setObjectProperties" type="ns0:setObjectProperties"/>
	<xsd:element name="setObjectPropertiesResponse" type="ns0:setObjectPropertiesResponse"/>
	<xsd:element name="setObjectSomeProperties" type="ns0:setObjectSomeProperties"/>
	<xsd:element name="setObjectSomePropertiesResponse" type="ns0:setObjectSomePropertiesResponse"/>
	<xsd:element name="setRule" type="ns0:setRule"/>
	<xsd:element name="setRuleById" type="ns0:setRuleById"/>
	<xsd:element name="setRuleByIdResponse" type="ns0:setRuleByIdResponse"/>
	<xsd:element name="setRuleResponse" type="ns0:setRuleResponse"/>
	<xsd:element name="setRules" type="ns0:setRules"/>
	<xsd:element name="setRulesById" type="ns0:setRulesById"/>
	<xsd:element name="setRulesByIdResponse" type="ns0:setRulesByIdResponse"/>
	<xsd:element name="setRulesResponse" type="ns0:setRulesResponse"/>
	<xsd:element name="setUserProperties" type="ns0:setUserProperties"/>
	<xsd:element name="setUserPropertiesById" type="ns0:setUserPropertiesById"/>
	<xsd:element name="setUserPropertiesByIdResponse" type="ns0:setUserPropertiesByIdResponse"/>
	<xsd:element name="setUserPropertiesResponse" type="ns0:setUserPropertiesResponse"/>
	<xsd:element name="setUserPropertiesWithSource" type="ns0:setUserPropertiesWithSource"/>
	<xsd:element name="setUserPropertiesWithSourceById" type="ns0:setUserPropertiesWithSourceById"/>
	<xsd:element name="setUserPropertiesWithSourceByIdResponse" type="ns0:setUserPropertiesWithSourceByIdResponse"/>
	<xsd:element name="setUserPropertiesWithSourceResponse" type="ns0:setUserPropertiesWithSourceResponse"/>
	<xsd:element name="setUserPropertyValue" type="ns0:setUserPropertyValue"/>
	<xsd:element name="setUserPropertyValueById" type="ns0:setUserPropertyValueById"/>
	<xsd:element name="setUserPropertyValueByIdResponse" type="ns0:setUserPropertyValueByIdResponse"/>
	<xsd:element name="setUserPropertyValueResponse" type="ns0:setUserPropertyValueResponse"/>
	<xsd:element name="setUserPropertyValues" type="ns0:setUserPropertyValues"/>
	<xsd:element name="setUserPropertyValuesById" type="ns0:setUserPropertyValuesById"/>
	<xsd:element name="setUserPropertyValuesByIdResponse" type="ns0:setUserPropertyValuesByIdResponse"/>
	<xsd:element name="setUserPropertyValuesResponse" type="ns0:setUserPropertyValuesResponse"/>
	<xsd:element name="setUserReferenceValue" type="ns0:setUserReferenceValue"/>
	<xsd:element name="setUserReferenceValueById" type="ns0:setUserReferenceValueById"/>
	<xsd:element name="setUserReferenceValueByIdResponse" type="ns0:setUserReferenceValueByIdResponse"/>
	<xsd:element name="setUserReferenceValueResponse" type="ns0:setUserReferenceValueResponse"/>
	<xsd:element name="setUserReferenceValues" type="ns0:setUserReferenceValues"/>
	<xsd:element name="setUserReferenceValuesResponse" type="ns0:setUserReferenceValuesResponse"/>
	<xsd:element name="setUserReferencesValues" type="ns0:setUserReferencesValues"/>
	<xsd:element name="setUserReferencesValuesById" type="ns0:setUserReferencesValuesById"/>
	<xsd:element name="setUserReferencesValuesByIdResponse" type="ns0:setUserReferencesValuesByIdResponse"/>
	<xsd:element name="setUserReferencesValuesResponse" type="ns0:setUserReferencesValuesResponse"/>
	<xsd:element name="setUserSomeProperties" type="ns0:setUserSomeProperties"/>
	<xsd:element name="setUserSomePropertiesResponse" type="ns0:setUserSomePropertiesResponse"/>
	<xsd:element name="setUserSubscriptionData" type="ns0:setUserSubscriptionData"/>
	<xsd:element name="setUserSubscriptionDataById" type="ns0:setUserSubscriptionDataById"/>
	<xsd:element name="setUserSubscriptionDataByIdResponse" type="ns0:setUserSubscriptionDataByIdResponse"/>
	<xsd:element name="setUserSubscriptionDataResponse" type="ns0:setUserSubscriptionDataResponse"/>
	<xsd:element name="unregisterAllUserServices" type="ns0:unregisterAllUserServices"/>
	<xsd:element name="unregisterAllUserServicesById" type="ns0:unregisterAllUserServicesById"/>
	<xsd:element name="unregisterAllUserServicesByIdResponse" type="ns0:unregisterAllUserServicesByIdResponse"/>
	<xsd:element name="unregisterAllUserServicesResponse" type="ns0:unregisterAllUserServicesResponse"/>
	<xsd:element name="unregisterUser" type="ns0:unregisterUser"/>
	<xsd:element name="unregisterUserApp" type="ns0:unregisterUserApp"/>
	<xsd:element name="unregisterUserAppById" type="ns0:unregisterUserAppById"/>
	<xsd:element name="unregisterUserAppByIdResponse" type="ns0:unregisterUserAppByIdResponse"/>
	<xsd:element name="unregisterUserAppDevice" type="ns0:unregisterUserAppDevice"/>
	<xsd:element name="unregisterUserAppDeviceById" type="ns0:unregisterUserAppDeviceById"/>
	<xsd:element name="unregisterUserAppDeviceByIdResponse" type="ns0:unregisterUserAppDeviceByIdResponse"/>
	<xsd:element name="unregisterUserAppDeviceResponse" type="ns0:unregisterUserAppDeviceResponse"/>
	<xsd:element name="unregisterUserAppResponse" type="ns0:unregisterUserAppResponse"/>
	<xsd:element name="unregisterUserById" type="ns0:unregisterUserById"/>
	<xsd:element name="unregisterUserByIdResponse" type="ns0:unregisterUserByIdResponse"/>
	<xsd:element name="unregisterUserResponse" type="ns0:unregisterUserResponse"/>
	<xsd:element name="updateLObjectType" type="ns0:updateLObjectType"/>
	<xsd:element name="updateLObjectTypeResponse" type="ns0:updateLObjectTypeResponse"/>
</xsd:schema>