Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/impresionChequeras/ActualizacionEstadoChequera/actualizacionEstadoChequeraTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizacionEstadoChequeraTypes"
	xmlns:cheq="http://www.ficohsa.com.hn/middleware.services/actualizacionEstadoChequeraTypes">
	
	<xs:element name="actualizacionEstadoChequera">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CHEQUEBOOK_ID" type="xs:string"/>
				<xs:element name="NEW_STATUS" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="actualizacionEstadoChequeraResponse"/>
	
	
</xs:schema>