Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Loans/RequestorServices/WADL/LoansRouter_PS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02" xmlns:gcl="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamo" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:loan="http://www.ficohsa.com.hn/middleware.services/loansTypes">
   <doc title="GetLoanDetails_PS">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamo" schemaLocation="../XSD/getLoanDetails.xsd"/>
        </xsd:schema>
      <schema targetNamespace="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getLoanDetails_params">
                <complexType>
                    <sequence>
                        <element name="loanId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/loansTypes" schemaLocation="../XSD/loansTypes.xsd"/>
        </xsd:schema>
      <schema targetNamespace="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getLoanStatus_params">
                <complexType>
                    <sequence>
                        <element name="queryParam" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="ParamType" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
   </grammars>
   <resources>
      <resource path="/{loanId}">
         <method name="GET" soa:wsdlOperation="getLoanDetails">
            <request soa:paramElement="pns:getLoanDetails_params" xmlns:pns="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS">
               <param name="loanId" style="template" soa:expression="$msg.request/pns:loanId" type="xsd:string"/>
               <param name="SourceBank" style="query" soa:expression="$msg.request/pns:SourceBank" type="xsd:string"/>
               <param name="DestinationBank" style="query" soa:expression="$msg.request/pns:DestinationBank" type="xsd:string"/>
               <param name="ApplicationId" style="query" soa:expression="$msg.request/pns:ApplicationId" type="xsd:string"/>
               <param name="Language" style="query" soa:expression="$msg.request/pns:Language" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getLoanDetailsResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamo"/>
            </response>
         </method>
      </resource>
      <resource path="/amortization-schedule">
         <method name="POST" soa:wsdlOperation="amortizationSchedule">
            <request>
               <representation mediaType="application/json" element="cns:amortizationScheduleRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamo"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:amortizationScheduleResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamo"/>
            </response>
         </method>
      </resource>
      <resource path="/disbursement-loan">
         <method name="POST" soa:wsdlOperation="disbursementLoan">
            <request>
               <representation mediaType="application/json" element="cns:createDisbursementLoanRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/loansTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:createDisbursementLoanResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/loansTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/">
         <method name="POST" soa:wsdlOperation="createLoan">
            <request>
               <representation mediaType="application/json" element="cns:createLoanRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/loansTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:createLoanResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/loansTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/{queryParam}/status">
         <method name="GET" soa:wsdlOperation="getLoanStatus">
            <request soa:paramElement="pns:getLoanStatus_params" xmlns:pns="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS">
               <param name="queryParam" style="template" soa:expression="$msg.request/pns:queryParam" type="xsd:string"/>
               <param name="SourceBank" style="query" soa:expression="$msg.request/pns:SourceBank" type="xsd:string"/>
               <param name="DestinationBank" style="query" soa:expression="$msg.request/pns:DestinationBank" type="xsd:string"/>
               <param name="ApplicationId" style="query" soa:expression="$msg.request/pns:ApplicationId" type="xsd:string"/>
               <param name="ParamType" style="query" soa:expression="$msg.request/pns:ParamType" type="xsd:string"/>
               <param name="Language" style="query" soa:expression="$msg.request/pns:Language" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getLoanStatusResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/loansTypes"/>
            </response>
         </method>
      </resource>
   </resources>
</application>