Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/MTR/validaAccesoPMS/wsdl/validaAccesoPMS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ficohsa.com.hn/schema/pms/accessCheck" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/schema/pms/accessCheck" targetNamespace="http://www.ficohsa.com.hn/schema/pms/accessCheck">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/schema/pms/accessCheck" version="1.0">
    <xs:element name="validaAccesoPMSRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customerId" type="xs:string"/>
                <xs:element name="userName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="validaAccesoPMSResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="validaAccesoPMSRequest">
    <wsdl:part element="tns:validaAccesoPMSRequest" name="validaAccesoPMSRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validaAccesoPMSResponse">
    <wsdl:part element="tns:validaAccesoPMSResponse" name="validaAccesoPMSResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccessCheckEndpoint">
    <wsdl:operation name="validaAccesoPMS">
      <wsdl:input message="tns:validaAccesoPMSRequest" name="validaAccesoPMSRequest">
    </wsdl:input>
      <wsdl:output message="tns:validaAccesoPMSResponse" name="validaAccesoPMSResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccessCheckEndpointSoap11" type="tns:AccessCheckEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validaAccesoPMS">
      <soap:operation soapAction=""/>
      <wsdl:input name="validaAccesoPMSRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validaAccesoPMSResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccessCheckEndpointService">
    <wsdl:port binding="tns:AccessCheckEndpointSoap11" name="AccessCheckEndpointSoap11">
      <soap:address location="http://172.23.12.126:7005/ValidaAccesosPMSWS/ws/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>