Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/Switch/operacionesCriptograficasPin/wsdl/cryptographicOperationsPin.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ficohsa.com.hn/cryptographicOperationsPinTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/cryptographicOperationsPinTypes" targetNamespace="http://www.ficohsa.com.hn/cryptographicOperationsPinTypes">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/cryptographicOperationsPinTypes" version="1.0">
            <xs:element name="encryptPinRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="fieldItem">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="cardNumber" type="xs:string"/>
                                    <xs:element name="pin" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="key" type="xs:string"/>
                        <xs:element name="iv" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="encryptPinResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="status" type="xs:string"/>
                        <xs:element minOccurs="0" name="message" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="fieldItem">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="cardNumber" type="xs:string"/>
                                    <xs:element minOccurs="0" name="result" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="decryptPinRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="fieldItemDecrypt">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="pin" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="key" type="xs:string"/>
                        <xs:element name="iv" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="decryptPinResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="status" type="xs:string"/>
                        <xs:element minOccurs="0" name="message" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="fieldItemDecrypt">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="result" type="xs:string"/>
                                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="decryptPinRequest">
        <wsdl:part element="tns:decryptPinRequest" name="decryptPinRequest"/>
    </wsdl:message>
    <wsdl:message name="decryptPinResponse">
        <wsdl:part element="tns:decryptPinResponse" name="decryptPinResponse"/>
    </wsdl:message>
    <wsdl:message name="encryptPinRequest">
        <wsdl:part element="tns:encryptPinRequest" name="encryptPinRequest"/>
    </wsdl:message>
    <wsdl:message name="encryptPinResponse">
        <wsdl:part element="tns:encryptPinResponse" name="encryptPinResponse"/>
    </wsdl:message>
    <wsdl:portType name="OperacionesCriptograficasPinEndpoint">
        <wsdl:operation name="decryptPin">
            <wsdl:input message="tns:decryptPinRequest" name="decryptPinRequest"/>
            <wsdl:output message="tns:decryptPinResponse" name="decryptPinResponse"/>
        </wsdl:operation>
        <wsdl:operation name="encryptPin">
            <wsdl:input message="tns:encryptPinRequest" name="encryptPinRequest"/>
            <wsdl:output message="tns:encryptPinResponse" name="encryptPinResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OperacionesCriptograficasPinEndpointSoap11" type="tns:OperacionesCriptograficasPinEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="decryptPin">
            <soap:operation soapAction=""/>
            <wsdl:input name="decryptPinRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="decryptPinResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="encryptPin">
            <soap:operation soapAction=""/>
            <wsdl:input name="encryptPinRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="encryptPinResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OperacionesCriptograficasPinEndpointService">
        <wsdl:port binding="tns:OperacionesCriptograficasPinEndpointSoap11" name="OperacionesCriptograficasPinEndpointSoap11">
            <soap:address location="http://172.23.12.141:7001/crypto-util-service/services/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>