Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaOcupacionesT24/xsd/consultaOcupacionesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaOcupacionesTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaOcupacionesTypes">
	
	<xs:complexType name = "consultaOcupacionesResponseArrayType">
		<xs:sequence>
			<xs:element name="OCUPATTION_ID" type="xs:string" minOccurs="0" />
			<xs:element name="OCUPATTION" type="xs:string" minOccurs="0" />
		 </xs:sequence> 


	</xs:complexType>
	
	<xs:complexType name="consultaOcupacionesResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaOcupacionesResponseRecordType" type="cons:consultaOcupacionesResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaOcupacionesResponseType">
		<xs:sequence>
			<xs:element name="consultaOcupacionesResponseType" type="cons:consultaOcupacionesResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaOcupaciones">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="OCUPATTION_ID" type="xs:string" minOccurs="0"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaOcupacionesResponse" type="cons:consultaOcupacionesResponseType"/>
	
</xs:schema>