Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaDetalleTransaccionCombinada_v2/xsd/XMLSchema_816749377.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDetalleTransaccionCombinadaTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaDetalleTransaccionCombinadaTypes">
	
	<xs:element name="consultaDetalleTransaccionCombinada">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TRANSACTION_REFERENCE" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
		
	<xs:complexType name="consultaDetalleTransaccionCombinadaResponse">
		<xs:sequence>
	        <xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
	        <xs:element name="TRANSACTION_DESCRIPTION" type="xs:string" minOccurs="0"/>
	        <xs:element name="BOOKING_DATE" type="xs:string" minOccurs="0"/>
	        <xs:element name="VALUE_DATE" type="xs:string" minOccurs="0"/>
	        <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
	        <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
	        <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
	        <xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
	        <xs:element name="AUTHORIZER" type="xs:string" minOccurs="0"/>
	        <xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
	        <xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0"/>
	        <xs:element name="consultaDetalleTransaccionCombinadaResponseType" minOccurs="0" form="qualified">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaDetalleTransaccionCombinadaResponseRecordType" minOccurs="0" maxOccurs="unbounded" form="qualified">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CHILD_TXN_ID" type="xs:string" minOccurs="0"/>
									<xs:element name="CHILD_TXN_CODE" type="xs:string" minOccurs="0"/>
									<xs:element name="CHILD_TXN_DESC" type="xs:string" minOccurs="0"/>
									<xs:element name="CHILD_TXN_AMOUNT" type="xs:string" minOccurs="0"/>
									<xs:element name="CHILD_TXN_CURRENCY" type="xs:string" minOccurs="0"/>
									<xs:element name="CHILD_TXN_CHQ_NUMBER" type="xs:string" minOccurs="0"/>
									<xs:element name="CHILD_TXN_BANK_CODE" type="xs:string" minOccurs="0"/>
								    <xs:element name="CHILD_TXN_BANK_NAME" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
	    </xs:sequence> 
	</xs:complexType>
	
	<xs:element name="consultaDetalleTransaccionCombinadaResponse" type="cons:consultaDetalleTransaccionCombinadaResponse"/>
	
</xs:schema>