Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/CatalogosInfoCliente_v2/wsdl/CatalogosInfoCliente.wsdl

<WL5G3N0:definitions name="catalogosInfoClientePS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClienteTypes" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cipt="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClienteTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_1785351635.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cipt="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClienteTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClienteTypes" schemaLocation="../xsd/XMLSchema_1505240301.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="consultaActividadesEconomicas">
    <WL5G3N0:part element="WL5G3N1:consultaActividadesEconomicas" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaActividadesEconomicasResponse">
    <WL5G3N0:part element="WL5G3N1:consultaActividadesEconomicasResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaAprobadoras">
    <WL5G3N0:part element="WL5G3N1:consultaAprobadoras" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaAprobadorasResponse">
    <WL5G3N0:part element="WL5G3N1:consultaAprobadorasResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaInversiones">
    <WL5G3N0:part element="WL5G3N1:consultaInversiones" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaInversionesResponse">
    <WL5G3N0:part element="WL5G3N1:consultaInversionesResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaDestinos">
    <WL5G3N0:part element="WL5G3N1:consultaDestinos" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaDestinosResponse">
    <WL5G3N0:part element="WL5G3N1:consultaDestinosResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaOrigenes">
    <WL5G3N0:part element="WL5G3N1:consultaOrigenes" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaOrigenesResponse">
    <WL5G3N0:part element="WL5G3N1:consultaOrigenesResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="catalogosInfoClientePS">
    <WL5G3N0:operation name="consultaActividadesEconomicas" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaActividadesEconomicas"/>
      <WL5G3N0:output message="WL5G3N3:consultaActividadesEconomicasResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaAprobadoras" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaAprobadoras"/>
      <WL5G3N0:output message="WL5G3N3:consultaAprobadorasResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaInversiones" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaInversiones"/>
      <WL5G3N0:output message="WL5G3N3:consultaInversionesResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaDestinos" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaDestinos"/>
      <WL5G3N0:output message="WL5G3N3:consultaDestinosResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaOrigenes" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaOrigenes"/>
      <WL5G3N0:output message="WL5G3N3:consultaOrigenesResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="catalogosInfoClientePSSOAP" type="WL5G3N3:catalogosInfoClientePS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="consultaActividadesEconomicas">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/consultaActividadesEconomicas"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaActividadesEconomicas" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaActividadesEconomicasResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaAprobadoras">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/consultaAprobadoras"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaAprobadoras" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaAprobadorasResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaInversiones">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/consultaInversiones"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaInversiones" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaInversionesResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaDestinos">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/consultaDestinos"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaDestinos" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaDestinosResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaOrigenes">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoClientePS/consultaOrigenes"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaOrigenes" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaOrigenesResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="catalogosInfoClientePS">
    <WL5G3N0:port binding="WL5G3N3:catalogosInfoClientePSSOAP" name="catalogosInfoClientePSSOAP">
      <WL5G3N4:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/CustomerLoans/CatalogosInfoCliente"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>