Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CREDITFORCE/cobros/xsd/creditForceDataContract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection">
  <xs:complexType name="StatusResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Menssage" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Status" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusResult" nillable="true" type="tns:StatusResult"/>
  <xs:complexType name="ClientRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Type" type="xs:int"/>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientRequest" nillable="true" type="tns:ClientRequest"/>
  <xs:complexType name="ClientResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client"/>
      <xs:element minOccurs="0" name="Menssage" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Status" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientResponse" nillable="true" type="tns:ClientResponse"/>
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CellPhone_2" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Client_Id" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Company_Phone" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Company_Phone_2" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Home_Phone" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Home_Phone_2" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Identification" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Marital_Status" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Operations" nillable="true" type="tns:ArrayOfOperations"/>
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Salary" type="xs:decimal"/>
      <xs:element minOccurs="0" name="WorkPlace" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client"/>
  <xs:complexType name="ArrayOfOperations">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Operations" nillable="true" type="tns:Operations"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperations" nillable="true" type="tns:ArrayOfOperations"/>
  <xs:complexType name="Operations">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance_Due" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Commission" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Currency_Id" type="xs:long"/>
      <xs:element minOccurs="0" name="Current_Interest" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Discount" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Expired_Days" type="xs:int"/>
      <xs:element minOccurs="0" name="Expired_Fee" type="xs:int"/>
      <xs:element minOccurs="0" name="Fee" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Fee_Pending" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Is_Castigo" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Is_Premora" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Last_Cycle_Date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Last_Payment_Amount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Last_Payment_Date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Liquidation" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Max_Payment_Date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Minimal_Payment_Due" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Next_Cycle_Date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Next_Payment_Date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="On_setDelinquent_Account" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Opening" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Operation_CreditLimit" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Operation_Cycle" type="xs:int"/>
      <xs:element minOccurs="0" name="Operation_Id" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Operation_Type" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Penalty_Interest" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Porfolio_Group" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Porfolio_Group_Id" type="xs:long"/>
      <xs:element minOccurs="0" name="Portfolio" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Principal_Balance" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Product_Number" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Refinancing" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Separation_Amount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Separation_Date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Term" type="xs:int"/>
      <xs:element minOccurs="0" name="Total_Balance" type="xs:decimal"/>
      <xs:element minOccurs="0" name="User_Define_1" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="User_Define_2" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="User_Define_3" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operations" nillable="true" type="tns:Operations"/>
  <xs:complexType name="OperationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Operation_Id" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationRequest" nillable="true" type="tns:OperationRequest"/>
  <xs:complexType name="OperationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Menssage" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Operations" nillable="true" type="tns:ArrayOfOperations"/>
      <xs:element minOccurs="0" name="Status" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResponse" nillable="true" type="tns:OperationResponse"/>
  <xs:complexType name="RecordRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Record" nillable="true" type="tns:Record"/>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordRequest" nillable="true" type="tns:RecordRequest"/>
  <xs:complexType name="Record">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action_Cod" type="xs:int"/>
      <xs:element minOccurs="0" name="Client_Id" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Hmr" nillable="true" type="tns:HMR"/>
      <xs:element minOccurs="0" name="Is_Recall" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Operation_Id" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Promises" nillable="true" type="tns:Promise"/>
      <xs:element minOccurs="0" name="ReCall" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Result_Cod" type="xs:int"/>
      <xs:element minOccurs="0" name="User_Name" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Record" nillable="true" type="tns:Record"/>
  <xs:complexType name="HMR">
    <xs:sequence>
      <xs:element minOccurs="0" name="Foreign_AmountPay_LIQ" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Foreign_Amount_DPM" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Foreign_Date_DPM" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Foreign_Date_LIQ" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Foreign_Number_Payments_LIQ" type="xs:int"/>
      <xs:element minOccurs="0" name="Foreign_Porcentaje_DPM" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Is_Exception_DPM" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Is_Exception_LIQ" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Is_Parcial_LIQ" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Is_Ref_Ley" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Local_AmountPay_LIQ" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Local_Amount_DPM" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Local_Amount_LIQ" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Local_Date_DPM" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Local_Date_LIQ" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Local_Number_Payments_LIQ" type="xs:int"/>
      <xs:element minOccurs="0" name="Local_Porcentaje_DPM" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Local_Porcentaje_LIQ" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Operation_Id" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Type" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HMR" nillable="true" type="tns:HMR"/>
  <xs:complexType name="Promise">
    <xs:sequence>
      <xs:element minOccurs="0" name="Foreign_Amount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Local_Amount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Operation_Id" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Promise_Date" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Promise" nillable="true" type="tns:Promise"/>
  <xs:complexType name="RecordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfError"/>
      <xs:element minOccurs="0" name="Status" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordResponse" nillable="true" type="tns:RecordResponse"/>
  <xs:complexType name="ArrayOfError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfError" nillable="true" type="tns:ArrayOfError"/>
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodError" type="xs:int"/>
      <xs:element minOccurs="0" name="Menssage" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error"/>
</xs:schema>