Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/ficocelTransacciones/Resources/XMLSchema_770518505.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://hn.com.ficohsa.ficoceltransacciones.service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://hn.com.ficohsa.ficoceltransacciones.service/">

<xs:element name="FicocelTransaccionesService" type="tns:FicocelTransaccionesService"/>

<xs:element name="FicocelTransaccionesServiceResponse" type="tns:FicocelTransaccionesServiceResponse"/>

<xs:complexType name="FicocelTransaccionesService">
<xs:sequence>
<xs:element name="Request" type="tns:FicocelTransaccionesServiceRequest" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FicocelTransaccionesServiceRequest">
<xs:sequence>
<xs:element name="NumeroTelefono" type="xs:string"/>
<xs:element name="PalabraCorta" type="xs:string"/>
<xs:element name="Pin" type="xs:string" minOccurs="0"/>
<xs:element name="Alias" type="xs:string" minOccurs="0"/>
<xs:element name="ClavePrimaria" type="xs:string" minOccurs="0"/>
<xs:element name="Monto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FicocelTransaccionesServiceResponse">
<xs:sequence>
<xs:element name="return" type="tns:ficocelTransaccionesServiceResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ficocelTransaccionesServiceResponse">
<xs:sequence>
<xs:element name="mobileNumber" type="xs:string" minOccurs="0"/>
<xs:element name="shortMessage" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="xs:string" minOccurs="0"/>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="valueDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>