Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CatalogosInfoCliente/consultaDestinos/xsd/consultaDestinos_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDestinos" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDestinos" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_ECONOMIC_ACTIVITY_CODE" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_INVESTMENT_CODE" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_INVESTMENT_SUB" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_RETURN_DESTINATION" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_INVESTMENT" type="db:PROXYABANKSHN.T_INVESTMENTS" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSHN.RT_INVESTMENT_SUB">
      <sequence>
         <element name="INVESTMENT_SUB_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVESTMENT_SUB_DESCRIPTION" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESTINATIONS" type="db:PROXYABANKSHN.T_DESTINATIONS" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.T_INVESTMENTS">
      <sequence>
         <element name="P_INVESTMENT_ITEM" type="db:PROXYABANKSHN.RT_INVESTMENTS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.T_INVESTMENTS_SUB">
      <sequence>
         <element name="INVESTMENTS_SUB_ITEM" type="db:PROXYABANKSHN.RT_INVESTMENT_SUB" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.T_DESTINATIONS">
      <sequence>
         <element name="DESTINATIONS_ITEM" type="db:PROXYABANKSHN.OT_DESTINATIONS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.RT_INVESTMENTS">
      <sequence>
         <element name="INVESTMENT_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVESTMENT_DESCRIPTION" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ECONOMIC_ACTIVITY_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ECONOMIC_ACTIVITY_DESC" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INVESTMENTS_SUB" type="db:PROXYABANKSHN.T_INVESTMENTS_SUB" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.OT_DESTINATIONS">
      <sequence>
         <element name="DESTINATION_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DESTINATION_DESCRIPTION" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string64">
      <restriction base="string">
         <maxLength value="64"/>
      </restriction>
   </simpleType>
</schema>