Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/deudoresRecaudos/consultaDeudores/consultaDeudoresTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDeudoresTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaDeudoresTypes">
	
	<xs:complexType name = "consultaDeudoresResponseArrayType">
		<xs:sequence>
			            <xs:element name="COLLECTION_NAME" type="xs:string" minOccurs="0" />
			            <xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0" />
			            <xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0" />
	    </xs:sequence> 
	</xs:complexType>

	
	<xs:complexType name="consultaDeudoresResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaDeudoresResponseRecordType" type="cons:consultaDeudoresResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaDeudoresResponseType">
		<xs:sequence>
			<xs:element name="consultaDeudoresResponseType" type="cons:consultaDeudoresResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaDeudores">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="COLLECTION_CODE" type="xs:string"/>
	            <xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaDeudoresResponse" type="cons:consultaDeudoresResponseType"/>
	
</xs:schema>