Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/MDW/consultaRemesadorasPorPrioridad/xsd/consultaRemesadorasPorPrioridad_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaRemesadorasPorPrioridad" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaRemesadorasPorPrioridad" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PRIORIDAD" type="integer" db:index="1" db:default="true" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="GRUPOS" type="db:T_GRUPO_PRIORIDAD" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CODIGO_RESPUESTA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_RESPUESTA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="T_GRUPO_PRIORIDAD">
      <sequence>
         <element name="GRUPO_PRIORIDAD" type="db:GRUPO_PRIORIDAD" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_REMESADORA">
      <sequence>
         <element name="REMESADORA" type="db:REMESADORA" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="GRUPO_PRIORIDAD">
      <sequence>
         <element name="PRIORIDAD" type="integer" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REMESADORAS" type="db:T_REMESADORA" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="REMESADORA">
      <sequence>
         <element name="ID_CONVENIO_T24" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ABREVIATURA" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_OPERACION" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_AGENCIA" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OBSERVACION" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>