Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABK/productosFinancieros/xsd/consultaProductosFinancieros_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaProductosFinancieros" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaProductosFinancieros" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_APLICATION" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_PRODUCT_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_PRODUCT_ID" type="db:PROXYABANKSHN.TVARCHAR20" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_DESCRIPTION" type="db:PROXYABANKSHN.TVARCHAR100" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CURRENCY" type="db:PROXYABANKSHN.TVARCHAR3" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_STATUS" type="db:PROXYABANKSHN.TVARCHAR20" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSHN.TVARCHAR100">
      <sequence>
         <element name="P_DESCRIPTION_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR3">
      <sequence>
         <element name="P_CURRENCY_ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR20">
      <sequence>
         <element name="P_PRODUCT_ID_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
</schema>