Fuentes/ficohsacore-osb12-b78f21b126d5/CreditCardProcessor/ProviderServices/XSD/GetCatalogEquivalence/GetCatalogEquivalence_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetCatalogEquivalence" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetCatalogEquivalence" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PT_CATALOGOS" type="db:MWSERVICES.TNUMBER" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_EQUIVALENCIAS" type="db:MWSERVICES.TEQUIVALENCIA_CATALOGO" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="MWSERVICES.TNUMBER">
      <sequence>
         <element name="PT_CATALOGOS_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="MWSERVICES.EQUIVALENCIA_CATALOGO">
      <sequence>
         <element name="CATALOGO_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CATALOGO_DESC" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APLICACION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="APLICACION_DESC" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALOR_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VALOR_DESC" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EQUIVALENCIA_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EQUIVALENCIA_DESC" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="MWSERVICES.TEQUIVALENCIA_CATALOGO">
      <sequence>
         <element name="PT_EQUIVALENCIAS_ITEM" type="db:MWSERVICES.EQUIVALENCIA_CATALOGO" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
</schema>