Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/cheques/xsd/services.xsd

<schema elementFormDefault="qualified" targetNamespace="http://service.srvaplcobischeques.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://dto2.sdf.cts.cobis.cobiscorp.com" xmlns:Q1="http://dto.srvaplcobisentidades.ecobis.cobiscorp">
    <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/><import schemaLocation="cobiscorp.ecobis.srvaplcobisentidades.dto.xsd" namespace="http://dto.srvaplcobisentidades.ecobis.cobiscorp"/><element name="opCompraChequeraSolicitud" type="Q1:OpCompraChequeraSolicitud"/><element name="opCompraChequeraRespuesta" type="Q1:OpCompraChequeraRespuesta"/><element name="opSolicitudChequeGerenciaSolicitud" type="Q1:OpSolicitudChequeGerenciaSolicitud"/><element name="opSolicitudChequeGerenciaRespuesta" type="Q1:OpSolicitudChequeGerenciaRespuesta"/><element name="opSuspensionChequesSolicitud" type="Q1:OpSuspensionChequesSolicitud"/><element name="opSuspensionChequesRespuesta" type="Q1:OpSuspensionChequesRespuesta"/>
</schema>