Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/OperacionesTarjetaDebito/xsd/operacionesTarjetaDebitoTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesTarjetaDebitoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesTarjetaDebitoTypes">

	<!-- statusType -->

	<xs:simpleType name="statusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALL" />
			<xs:enumeration value="ACTIVE" />
			<xs:enumeration value="INACTIVE" />
		</xs:restriction>
	</xs:simpleType>

	<!-- instructionType -->

	<xs:simpleType name="instructionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALL" />
			<xs:enumeration value="PVV" />
			<xs:enumeration value="CVV2" />
			<xs:enumeration value="ICVV" />
		</xs:restriction>
	</xs:simpleType>

	<!-- statusType -->

	<xs:simpleType name="greaterThan0">
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="0" />
			<xs:maxInclusive value="5" />
		</xs:restriction>
	</xs:simpleType>

	<!--######################## -->
	<!--OPERACION: CREA BIN -->
	<!--######################## -->

	<xs:element name="creaBIN">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BIN" type="xs:integer" />
				<xs:element name="COMPANY" type="xs:string" />
				<xs:element name="PRODUCT_DESCRIPTION" type="xs:string" />
				<xs:element name="SERVICE_CODE" type="xs:string" />
				<xs:element name="CARD_TYPE" type="xs:string" minOccurs="0" />
				<xs:element name="BIN_CURRENCY" type="xs:string"
					minOccurs="0" />
				<xs:element name="BIN_RENEWAL_FREQUENCY" type="xs:string"
					minOccurs="0" />
				<xs:element name="ADDITIONAL_CARDS" type="xs:string"
					minOccurs="0" />
				<xs:element name="CARD_SEQUENCE" type="xs:string"
					minOccurs="0" />
				<xs:element name="CARD_BENEFITS" type="xs:string"
					minOccurs="0" />
				<xs:element name="CATEGORY_ACCOUNT" type="xs:string"
					minOccurs="0" />
					<xs:element name="RANGE_RANDOM" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="creaBINResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CREATION_DATE" type="xs:string"
					minOccurs="0" />
				<xs:element name="STATUS" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--######################## -->
	<!--OPERACION: CONSULTA BIN -->
	<!--######################## -->

	<xs:element name="consultaBIN">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="COMPANY" type="xs:string" />
				<xs:element name="STATUS" type="tns:statusType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaBINResponse" type="tns:consultaBINRspType" />

	<!-- consultaBINRspType -->

	<xs:complexType name="consultaBINRspType">
		<xs:sequence>
			<xs:element name="BIN_DETAILS" type="tns:binDetailsType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- binDetailsType -->

	<xs:complexType name="binDetailsType">
		<xs:sequence>
			<xs:element name="BIN_ITEM" type="tns:binItemType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- binItemType -->

	<xs:complexType name="binItemType">
		<xs:sequence>
			<xs:element name="BIN" type="xs:integer" minOccurs="0" />
			<xs:element name="COMPANY" type="xs:string" minOccurs="0" />
			<xs:element name="PRODUCT_DESCRIPTION" type="xs:string"
				minOccurs="0" />
			<xs:element name="CREATION_DATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="STATUS" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--##################################### -->
	<!--OPERACION: CONSULTA DETALLES TARJETAS -->
	<!--##################################### -->

	<xs:element name="consultaDetalleTarjetas" type="tns:consultaDetalleTarjetasReqType" />

	<xs:complexType name="consultaDetalleTarjetasReqType">
		<xs:sequence>
			<xs:element name="CARD_NUMBERS" type="tns:cardNumbersType" />
		</xs:sequence>
	</xs:complexType>

	<!-- cardNumbersType -->

	<xs:complexType name="cardNumbersType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER_ITEM" type="tns:cardNumberItemType"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- cardNumberItemType -->

	<xs:complexType name="cardNumberItemType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaDetalleTarjetasResponse" type="tns:consultaDetalleTarjetasRspType" />

	<!-- consultaDetalleTarjetasRspType -->

	<xs:complexType name="consultaDetalleTarjetasRspType">
		<xs:sequence>
			<xs:element name="CARD_DETAILS" type="tns:cardDetailsType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- cardDetailsType -->

	<xs:complexType name="cardDetailsType">
		<xs:sequence>
			<xs:element name="CARD_ITEM" type="tns:cardItemType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- cardItemType -->

	<xs:complexType name="cardItemType">
		<xs:sequence>
			<xs:element name="BIN" type="xs:integer" minOccurs="0" />
			<xs:element name="COMPANY" type="xs:string" minOccurs="0" />
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" />
			<xs:element name="CUSTOMER_LEGAL_ID" type="xs:string"
				minOccurs="0" />
			<xs:element name="CUSTOMER_NAME" type="xs:string"
				minOccurs="0" />
			<xs:element name="NAME_ON_CARD" type="xs:string"
				minOccurs="0" />
			<xs:element name="EXPIRATION_DATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="CREATION_DATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="BANK_STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="EMBOSS_STATUS" type="xs:string"
				minOccurs="0" />
			<xs:element name="PIN_VERIFICATION_VALUE" type="xs:string"
				minOccurs="0" />
			<xs:element name="SERVICE_CODE" type="xs:string"
				minOccurs="0" />
			<xs:element name="ACCOUNT_DETAILS" type="tns:accountDetailsType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- accountDetailsType -->

	<xs:complexType name="accountDetailsType">
		<xs:sequence>
			<xs:element name="ACCOUNT_ITEM" type="tns:accountItemType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- accountItemType -->

	<xs:complexType name="accountItemType">
		<xs:sequence>
			<xs:element name="ORDER_ACCOUNT" type="xs:integer"
				minOccurs="0" />
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"
				minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--################################ -->
	<!--OPERACION: GENERA LOTES TARJETAS -->
	<!--################################ -->

	<xs:element name="generaLotesTarjetas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BIN" type="xs:string" />
				<xs:element name="QUANTITY" type="xs:decimal" />
				<xs:element name="CARDS_LIFESPAN" type="tns:greaterThan0"
					minOccurs="0" />
				<xs:element name="BRANCH_CODE" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="generaLotesTarjetasResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BATCH_REFERENCE" type="xs:string"
					minOccurs="0" />
				<xs:element name="BATCH_DATE" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--################################## -->
	<!--OPERACION: CONSULTA LOTES TARJETAS -->
	<!--################################## -->

	<xs:element name="consultaLotesTarjetas" type="tns:consultaLotesTarjetasType" />

	<!-- consultaLotesTarjetasType -->

	<xs:complexType name="consultaLotesTarjetasType">
		<xs:sequence>
			<xs:element name="BATCH_REFERENCES" type="tns:banchReferencesType" />
		</xs:sequence>
	</xs:complexType>

	<!-- banchReferencesType -->

	<xs:complexType name="banchReferencesType">
		<xs:sequence>
			<xs:element name="BATCH_REFERENCE_ITEM" type="tns:banchReferenceItemType"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- banchReferenceItemType -->

	<xs:complexType name="banchReferenceItemType">
		<xs:sequence>
			<xs:element name="BATCH_REFERENCE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaLotesTarjetasResponse" type="tns:consultaLotesTarjetasRspType" />

	<!-- consultaLotesTarjetasRspType -->

	<xs:complexType name="consultaLotesTarjetasRspType">
		<xs:sequence>
			<xs:element name="BATCH_DETAILS" type="tns:batchDetailsType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- batchDetailsType -->

	<xs:complexType name="batchDetailsType">
		<xs:sequence>
			<xs:element name="BATCH_ITEM" type="tns:batchItemType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- batchItemType -->

	<xs:complexType name="batchItemType">
		<xs:sequence>
			<xs:element name="BATCH_BRANCH_CODE" type="xs:integer"
				minOccurs="0" />
			<xs:element name="BATCH_REFERENCE" type="xs:integer"
				minOccurs="0" />
			<xs:element name="BATCH_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="BATCH_STATUS" type="xs:string"
				minOccurs="0" />
			<xs:element name="CARD_DETAILS" type="tns:detailsType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- detailsType -->

	<xs:complexType name="detailsType">
		<xs:sequence>
			<xs:element name="CARD_ITEM" type="tns:itemType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- itemType -->

	<xs:complexType name="itemType">
		<xs:sequence>
			<xs:element name="BIN" type="xs:integer" minOccurs="0" />
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="CARD_LIFESPAN" type="xs:string"
				minOccurs="0" />
			<xs:element name="CARD_STATUS" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--################################ -->
	<!--OPERACION: GENERA DETALLE EMBOCE -->
	<!--################################ -->

	<xs:element name="generaDetalleEmboce" type="tns:generaDetalleEmboceType" />

	<!-- generaDetalleEmboceType -->

	<xs:complexType name="generaDetalleEmboceType">
		<xs:sequence>
			<xs:element name="CARD_DETAILS" type="tns:cardDetType" />
		</xs:sequence>
	</xs:complexType>

	<!-- cardDetType -->

	<xs:complexType name="cardDetType">
		<xs:sequence>
			<xs:element name="CARD_ITEM" type="tns:cardItem"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- cardItem -->

	<xs:complexType name="cardItem">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string" />
			<xs:element name="INSTRUCTION_DETAILS" type="tns:instructionDetailsType" />
		</xs:sequence>
	</xs:complexType>

	<!-- instructionDetailsType -->

	<xs:complexType name="instructionDetailsType">
		<xs:sequence>
			<xs:element name="GENERATION_ITEM" type="tns:generationItemReqType"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- generationItemReqType -->

	<xs:complexType name="generationItemReqType">
		<xs:sequence>
			<xs:element name="GENERATE_INSTRUCTION" type="tns:instructionType" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="generaDetalleEmboceResponse" type="tns:generaDetalleEmboceRspType" />

	<!-- generaDetalleEmboceRspType -->

	<xs:complexType name="generaDetalleEmboceRspType">
		<xs:sequence>
			<xs:element name="CARD_DETAILS" type="tns:cardType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- cardType -->

	<xs:complexType name="cardType">
		<xs:sequence>
			<xs:element name="CARD_ITEM" type="tns:cardItemGDETypes"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- cardItemGDETypes -->

	<xs:complexType name="cardItemGDETypes">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="NAME_ON_CARD" type="xs:string" minOccurs="0" />
			<xs:element name="INSTRUCTION_DETAILS" type="tns:instructionDetailsGDEType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- instructionDetailsGDEType -->

	<xs:complexType name="instructionDetailsGDEType">
		<xs:sequence>
			<xs:element name="GENERATION_ITEM" type="tns:generationItemType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- generationItemType -->

	<xs:complexType name="generationItemType">
		<xs:sequence>
			<xs:element name="GENERATED_INSTRUCTION" type="xs:string"
				minOccurs="0" />
			<xs:element name="GENERATED_VALUE" type="xs:string"
				minOccurs="0" />
			<xs:element name="GENERATED_VALUE_STATUS" type="xs:string"
				minOccurs="0" />
			<xs:element name="GENERATED_VALUE_MESSAGE" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--##################### -->
	<!--OPERACION: VALIDA PIN -->
	<!--##################### -->

	<xs:element name="validaPIN" type="tns:validaPINType" />

	<!-- validaPINType -->

	<xs:complexType name="validaPINType">
		<xs:sequence>
			<xs:element name="CARD_DETAILS" type="tns:cardDetailsVPType" />
		</xs:sequence>
	</xs:complexType>

	<!-- cardDetailsVPType -->

	<xs:complexType name="cardDetailsVPType">
		<xs:sequence>
			<xs:element name="CARD_ITEM" type="tns:cardItemVPType"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- cardItemVPType -->

	<xs:complexType name="cardItemVPType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string" />
			<xs:element name="PVV_VALUE" type="xs:string" />
			<xs:element name="PINBLOCK_VALUE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="validaPINResponse" type="tns:validaPINResponseType" />

	<!-- validaPINResponseType -->

	<xs:complexType name="validaPINResponseType">
		<xs:sequence>
			<xs:element name="VALIDATION_DETAILS" type="tns:validationDetailsType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- validationDetailsType -->

	<xs:complexType name="validationDetailsType">
		<xs:sequence>
			<xs:element name="CARD_ITEM" type="tns:cardItemResponseType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- cardItemResponseType -->

	<xs:complexType name="cardItemResponseType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="PIN_STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="RETURN_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="RETURN_MESSAGE" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--############################### -->
	<!--OPERACION: CREA REORDEN AGENCIA -->
	<!--############################### -->

	<xs:element name="creaReordenAgencia" type="tns:creaReordenAgenciaType" />

	<!-- creaReordenAgenciaType -->

	<xs:complexType name="creaReordenAgenciaType">
		<xs:sequence>
			<xs:element name="BRANCH_CODE" type="xs:string" />
			<xs:element name="BIN" type="xs:integer" />
			<xs:element name="PRODUCT_TYPE" type="xs:string" />
			<xs:element name="REORDER_DETAILS" type="tns:reorderDetailsType" />
		</xs:sequence>
	</xs:complexType>

	<!-- reorderDetailsType -->

	<xs:complexType name="reorderDetailsType">
		<xs:sequence>
			<xs:element name="MIN_LEVEL" type="xs:integer" />
			<xs:element name="QUANTITY" type="xs:integer" />
			<xs:element name="CURRENT_LEVEL" type="xs:integer" />
			<xs:element name="INPUTTER_USER" type="xs:string" />
			<xs:element name="COMMENTARY" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="creaReordenAgenciaResponse" type="tns:creaReordenAgenciaResponseType" />

	<!-- creaReordenAgenciaResponseType -->

	<xs:complexType name="creaReordenAgenciaResponseType">
		<xs:sequence>
			<xs:element name="BIN" type="xs:integer" minOccurs="0" />
			<xs:element name="PRODUCT_TYPE" type="xs:string"
				minOccurs="0" />
			<xs:element name="BRANCH_INFO" type="tns:branchInfoType"
				minOccurs="0" />
			<xs:element name="CREATION_DATE" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- branchInfoType -->

	<xs:complexType name="branchInfoType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:string" minOccurs="0" />
			<xs:element name="NAME" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--################################### -->
	<!--OPERACION: CONSULTA REORDEN AGENCIA -->
	<!--################################### -->

	<xs:element name="consultaReordenAgencia" type="tns:consultaReordenAgenciaType" />

	<!-- consultaReordenAgenciaType -->

	<xs:complexType name="consultaReordenAgenciaType">
		<xs:sequence>
			<xs:element name="BRANCH_CODE" type="xs:string" />
			<xs:element name="BIN" type="xs:integer" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaReordenAgenciaResponse" type="tns:consultaReordenAgenciaResponseType" />

	<!-- consultaReordenAgenciaResponseType -->

	<xs:complexType name="consultaReordenAgenciaResponseType">
		<xs:sequence>
			<xs:element name="BIN" type="xs:integer" minOccurs="0" />
			<xs:element name="PRODUCT_TYPE" type="xs:string"
				minOccurs="0" />
			<xs:element name="BRANCH_INFO" type="tns:branchInfoType"
				minOccurs="0" />
			<xs:element name="REORDER_DETAILS" type="tns:reorderDetailsRspType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- reorderDetailsRspType -->

	<xs:complexType name="reorderDetailsRspType">
		<xs:sequence>
			<xs:element name="MIN_LEVEL" type="xs:integer" minOccurs="0" />
			<xs:element name="QUANTITY" type="xs:integer" minOccurs="0" />
			<xs:element name="CURRENT_LEVEL" type="xs:integer"
				minOccurs="0" />
			<xs:element name="CREATION_DATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="MODIFICATION_DATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="INPUTTER_USER" type="xs:string"
				minOccurs="0" />
			<xs:element name="MODIFIER_USER" type="xs:string"
				minOccurs="0" />
			<xs:element name="COMMENTARY" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--################################### -->
	<!--OPERACION: CONSULTA REORDEN LISTADO -->
	<!--################################### -->

	<xs:element name="consultaReordenListado" type="tns:consultaReordenListadoType" />

	<!-- consultaReordenListadoType -->

	<xs:complexType name="consultaReordenListadoType">
		<xs:sequence>
			<xs:element name="FILTER_TYPE" type="xs:string" />
			<xs:element name="FILTER_VALUE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaReordenListadoResponse" type="tns:consultaReordenListadoResponseType" />

	<!-- consultaReordenListadoResponseType -->

	<xs:complexType name="consultaReordenListadoResponseType">
		<xs:sequence>
			<xs:element name="REORDER_DETAILS" type="tns:reorderDetailsListRspType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- reorderDetailsListRspType -->

	<xs:complexType name="reorderDetailsListRspType">
		<xs:sequence>
			<xs:element name="REORDER_ITEM" type="tns:reorderItemType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- reorderItemType -->

	<xs:complexType name="reorderItemType">
		<xs:sequence>
			<xs:element name="BIN" type="xs:integer" minOccurs="0" />
			<xs:element name="PRODUCT_TYPE" type="xs:string"
				minOccurs="0" />
			<xs:element name="BRANCH_INFO" type="tns:branchInfoType"
				minOccurs="0" />
			<xs:element name="MIN_LEVEL" type="xs:integer" minOccurs="0" />
			<xs:element name="QUANTITY" type="xs:integer" minOccurs="0" />
			<xs:element name="CURRENT_LEVEL" type="xs:integer"
				minOccurs="0" />
			<xs:element name="CREATION_DATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="MODIFICATION_DATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="INPUTTER_USER" type="xs:string"
				minOccurs="0" />
			<xs:element name="MODIFIER_USER" type="xs:string"
				minOccurs="0" />
			<xs:element name="COMMENTARY" type="xs:string" minOccurs="0" />
			<xs:element name="STATUS" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--################################### -->
	<!--OPERACION: MODIFICA REORDEN AGENCIA -->
	<!--################################### -->

	<xs:element name="modificaReordenAgencia" type="tns:modificaReordenAgenciaType" />

	<!-- modificaReordenAgenciaType -->

	<xs:complexType name="modificaReordenAgenciaType">
		<xs:sequence>
			<xs:element name="BRANCH_CODE" type="xs:string" />
			<xs:element name="BIN" type="xs:integer" />
			<xs:element name="MODIFICATION_DETAILS" type="tns:modificationDetailsType"
				minOccurs="0" />
			<xs:element name="INPUTTER_USER" type="xs:integer"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- modificationDetailsType -->

	<xs:complexType name="modificationDetailsType">
		<xs:sequence>
			<xs:element name="ACTION" type="tns:actionType" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- actionType -->

	<xs:complexType name="actionType">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string" />
			<xs:element name="VALUE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="modificaReordenAgenciaResponse" type="tns:modificaReordenAgenciaResponseType" />

	<!-- modificaReordenAgenciaResponseType -->

	<xs:complexType name="modificaReordenAgenciaResponseType">
		<xs:sequence>
			<xs:element name="MODIFICATION_DETAILS" type="tns:modificationDetailsRspType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- modificationDetailsRspType -->

	<xs:complexType name="modificationDetailsRspType">
		<xs:sequence>
			<xs:element name="ACTION" type="tns:actionRspType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- actionRspType -->

	<xs:complexType name="actionRspType">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="VALUE" type="xs:string" minOccurs="0" />
			<xs:element name="RETURN_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="RETURN_MESSAGE" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--############################### -->
	<!--OPERACION: CREARLOTEEMV -->
	<!--############################### -->

	<xs:element name="crearLoteEMV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BATCH_REFERENCE" type="xs:string" />
				<xs:element name="BIN" type="xs:string" />
				<xs:element name="COMPANY" type="xs:string" />
				<xs:element name="QUANTITY" type="xs:string" />
				<xs:element name="CARDS_LIFESPAN" type="xs:string" />
				<xs:element name="BRANCH_CODE" type="xs:string" />
				<xs:element name="BRANCH_NAME" type="xs:string" />
				<xs:element name="BATCH_DATE" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="crearLoteEMVResponse" />

		<!--######################## -->
	<!--OPERACION: GENERA PINBLOCK -->
	<!--######################## -->
	<xs:element name="generaPINBLOCK">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="xs:integer"/>
				<xs:element name="PIN" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="generaPINBLOCKResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PINBLOCK" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>