Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/ficocelAdmin/EnrolaAlertaClienteFicoAlertas/enrolaAlertaClienteFicoAlertasTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/enrolaAlertaClienteFicoAlertasTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/enrolaAlertaClienteFicoAlertasTypes">
	
	
	<xs:element name="enrolaAlertaClienteFicoAlertas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ALERT_TYPE" type="xs:string"/>
				<xs:element name="PRODUCT_ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="enrolaAlertaClienteFicoAlertasResponse" />
	
</xs:schema>