Fuentes/ficohsacore-osb12-b78f21b126d5/DataWareHouse/RequestorServices/ProxyServices/v1.0/GetCustomerOPI/WSDL/GetCustomerOpiHN_PS.wsdl

<wsdl:definitions name="GetCustomerAssets_PS" targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" xmlns:tns="http://xmlns.oracle.com/GetCustomerAssets_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/consultaClientes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:gco="http://www.ficohsa.com.hn/middleware.services/consultaClienteOpi">
  <plnk:partnerLinkType name="GetCustomerAssets_PS">
    <plnk:role name="GetCustomerAssets_PSProvider" portType="tns:GetCustomerAssets_PS_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../../../../MWBanking/Customers/RequestorServices/XSD/getCustomerOpi.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/consultaClienteOpi"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getCustomerOpi_params">
        <complexType>
          <sequence>
            <element name="LegalId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="QueryType" type="string"/>
            <element name="Language" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="getCustomerOpi_inputMessage">
    <wsdl:part name="request" element="tns:getCustomerOpi_params"/>
  </wsdl:message>
  <wsdl:message name="getCustomerOpi_outputMessage">
    <wsdl:part name="reply" element="gco:getCustomerOpiResponse"/>
  </wsdl:message>
  <wsdl:portType name="GetCustomerAssets_PS_ptt">
    <wsdl:operation name="getCustomerOpi">
      <wsdl:input message="tns:getCustomerOpi_inputMessage"/>
      <wsdl:output message="tns:getCustomerOpi_outputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetCustomerAssets_PS_ptt-binding" type="tns:GetCustomerAssets_PS_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCustomerOpi">
      <soap:operation soapAction="getCustomerOpi"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>