Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/OperacionesPagosGlobales/xsd/operacionesPagosGlobalesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesPagosGlobalesTypes"
	xmlns:opg="http://www.ficohsa.com.hn/middleware.services/operacionesPagosGlobalesTypes">


    <!--##################################### -->
	<!--OPERACION: GENERA FIRMA DIGITAL -->
	<!--##################################### -->
	
	<xs:element name="generaFirmaDigital">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LAU_APPLICATION_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="LAU_CALLTIME" type="xs:string" minOccurs="0"/>
				<xs:element name="LAU_REQUEST_NONCE" type="xs:string" minOccurs="0"/>
				<xs:element name="LAU_SIGNED" type="xs:string" minOccurs="0"/>
				<xs:element name="ABS_PATH" type="xs:string" minOccurs="0"/>
				<xs:element name="REQUEST_BODY" type="xs:string" />
				<xs:element name="LAU_VERSION" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="generaFirmaDigitalResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LAU_SIGNATURE" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


    <!--##################################### -->
	<!--OPERACION: VALIDA FIRMA DIGITAL -->
	<!--##################################### -->
	
	<xs:element name="validaFirmaDigital">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LAU_APPLICATION_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="LAU_CALLTIME" type="xs:string" minOccurs="0"/>
				<xs:element name="LAU_REQUEST_NONCE" type="xs:string" minOccurs="0"/>
				<xs:element name="LAU_RESPONSE_NONCE" type="xs:string" minOccurs="0"/>
				<xs:element name="LAU_VERSION" type="xs:string"/>
				<xs:element name="LAU_SIGNATURE" type="xs:string" />
				<xs:element name="MESSAGE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="validaFirmaDigitalResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RESULT" type="xs:boolean"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>