Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActualizarCliente/xsd/UpdateCustomerTypes.xsd

<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:upd="http://www.ficohsa.com.hn/middleware.services/UpdateCustomerTypes"
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/UpdateCustomerTypes"
            elementFormDefault="qualified"
            version="1.0">

<xs:element name="UpdateCustomerRequest">
    <xs:complexType >
        <xs:sequence>
            <xs:element name="CUSTOMER_CODE" type="xs:string"/> 
            <xs:element name="CUSTOMER_INFO" type="upd:INFO_LIST_TYPE"/>            
        </xs:sequence>
    </xs:complexType>    
</xs:element>

<xs:element name="UpdateCustomerResponse">
<xs:complexType>
    <xs:sequence>
        <xs:element name="RESULT_INFO" type="upd:RESULT_LIST_TYPE"/>        
    </xs:sequence>
</xs:complexType>  
</xs:element>

<xs:complexType name="INFO_LIST_TYPE">
	<xs:sequence>                
		<xs:element name="INFO_ITEM" type="upd:INFO_TYPE" minOccurs="1" maxOccurs="unbounded"/>                
	</xs:sequence>
</xs:complexType>


<xs:complexType name="INFO_TYPE">
    <xs:sequence>
        <xs:element name="ACTION" type="xs:string"/>
        <xs:element name="OBJECTNAME" type="xs:string" />
        <xs:element name="SOURCE" type="xs:string" minOccurs="0"/>
        <xs:element name="DATA" type="upd:DATA_LIST_TYPE"/>
    </xs:sequence>
</xs:complexType>


<xs:complexType name="DATA_LIST_TYPE">
	<xs:sequence minOccurs="0">                
		<xs:element name="DATA_ITEM" type="upd:DATA_ITEM_TYPE" minOccurs="1" maxOccurs="unbounded"/>                
	</xs:sequence>
</xs:complexType>

<xs:complexType name="DATA_ITEM_TYPE">
    <xs:sequence>        
        <xs:element name="FIELDNAME" type="xs:string"/>
        <xs:element name="FIELDVALUE" type="xs:string"/>
    </xs:sequence>
</xs:complexType>
            
<xs:complexType name="RESULT_LIST_TYPE">
	<xs:sequence minOccurs="0">                
		<xs:element name="RESULT_ITEM" type="upd:RESULT_ITEM_TYPE" minOccurs="1" maxOccurs="unbounded"/>                
	</xs:sequence>
</xs:complexType>

<xs:complexType name="RESULT_ITEM_TYPE">
    <xs:sequence>
        <xs:element name="ACTION" type="xs:string"/>        
        <xs:element name="OBJECTNAME" type="xs:string"/>                
        <xs:element name="IDENTIFIER" type="xs:string"/>        
        <xs:element name="ERROR_CODE" type="xs:string"/>
        <xs:element name="ERROR_MESSAGE" type="xs:string"/>        
    </xs:sequence>
</xs:complexType>  

</xs:schema>