Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaCalendarioPagoPrestamo/consultaCalendarioPagoPrestamo/consultaCalendarioPagoPrestamoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaCalendarioPagoPrestamoTypes">
	
	<xs:complexType name="consultaCalendarioPagoPrestamoResponseType">
		<xs:sequence>		
			<xs:element name="consultaCalendarioPagoPrestamoResponseType" type="cons:consultaCalendarioPagoPrestamoResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaCalendarioPagoPrestamoResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaCalendarioPagoPrestamoResponseRecordType" type="cons:consultaCalendarioPagoPrestamoResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaCalendarioPagoPrestamoResponseArrayType">
		<xs:sequence>
			<xs:element name="BILL_REFERENCE" type="xs:string" minOccurs="0"/>
			<xs:element name="BILL_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="BILL_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="PRINCIPAL_AMOUNT" type="xs:string" minOccurs="0"/>			
			<xs:element name="CAPITAL_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="OVERDUE_INTEREST_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="OVERDUE_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="INSURANCE_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="OTHER_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="BILL_TOTAL_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="BILL_OUTSTANDING_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="BILL_STATUS" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaCalendarioPagoPrestamoResponse" type="cons:consultaCalendarioPagoPrestamoResponseType"/>
	
	<xs:element name="consultaCalendarioPagoPrestamo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOAN_ID" type="xs:string"/>
				<xs:element name="PAGING_INFO" type="cons:pagingInfo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="pagingInfo">
			<xs:sequence>
				<xs:element name="PAGING" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="YES"/>
							<xs:enumeration value="NO"/>
							<xs:enumeration value=""/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			   <xs:element name="INITIAL_RECORD" type="xs:string" minOccurs="0" />
			   <xs:element name="RECORD_COUNT" type="xs:string" minOccurs="0"/>
			</xs:sequence>
	</xs:complexType>	
	
</xs:schema>