Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaTasaCambioInterPA/xsd/consultaTasaCambioInterPATypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTasaCambioInterPATypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaTasaCambioInterPATypes">
	
	<xs:complexType name = "consultaTasaCambioInterPAResponseArrayType">
		<xs:sequence>
           	<xs:element name="BUY_RATE" type="xs:string" minOccurs="0" />
			<xs:element name="SELL_RATE" type="xs:string" minOccurs="0" />
			<xs:element name="MATH_OPERATOR" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaTasaCambioInterPAResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaTasaCambioInterPAResponseRecordType" type="cons:consultaTasaCambioInterPAResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaTasaCambioInterPAResponseType">
		<xs:sequence>
			<xs:element name="consultaTasaCambioInterPAResponseType" type="cons:consultaTasaCambioInterPAResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaTasaCambioInterPA">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SOURCE_CURRENCY" type="xs:string"/>
				<xs:element name="TARGET_CURRENCY" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaTasaCambioInterPAResponse" type="cons:consultaTasaCambioInterPAResponseType"/>
	
</xs:schema>