Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaSaldosHistEstadoCuenta/wsdl/consultaSaldosHistEstadoCuentaPS.wsdl

<wsdl:definitions name="consultaSaldosHistEstadoCuentaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaPS" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaPS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaTypes">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaTypes" schemaLocation="../xsd/consultaSaldosHistEstadoCuentaTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="consultaSaldosHistEstadoCuentaRequest">
		<wsdl:part element="tns:consultaSaldosHistEstadoCuenta" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="consultaSaldosHistEstadoCuentaResponse">
		<wsdl:part element="tns:consultaSaldosHistEstadoCuentaResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="consultaSaldosHistEstadoCuentaPS">
		<wsdl:operation name="consultaSaldosHistEstadoCuenta" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:consultaSaldosHistEstadoCuentaRequest"/>
			<wsdl:output message="op:consultaSaldosHistEstadoCuentaResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="consultaSaldosHistEstadoCuentaPSSOAP" type="op:consultaSaldosHistEstadoCuentaPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaSaldosHistEstadoCuenta">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="consultaSaldosHistEstadoCuentaPS">
		<wsdl:port binding="op:consultaSaldosHistEstadoCuentaPSSOAP" name="consultaSaldosHistEstadoCuentaPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/ConsultaSaldosHistEstadoCuenta/"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>