Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/ConsultaListaContratistaDelEstado/ConsultaListaContratistaDelEstado_PS.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaListasContratistaDelEstado"
           xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaListasContratistaDelEstado"
           elementFormDefault="qualified">
  <xs:element name="sjConsultaListasContratistaDelEstadoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="USERNAME" type="xs:string"/>
        <xs:element name="PASSWORD" type="xs:string"/>
        <xs:element name="CUSTOMER_LEGAL_ID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sjConsultaListasContratistaDelEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="consultaListaClienteResponse" type="cons:consultaListaResponseType" minOccurs="0"
                    maxOccurs="unbounded"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="consultaListaResponseType">
    <xs:sequence>
      <xs:element name="successIndicator" type="xs:string" minOccurs="0"/>
      <xs:element name="messages" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ASSOCIATION_NAME" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>