Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/DesembolsoLineaCredito/procesarSolicitudesCliente/xsd/procesarSolicitudesCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/procesarSolicitudesCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/procesarSolicitudesCliente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_CUSTOMER_ID" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ACTION" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_AUTHORIZATION_USER" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_REQUEST_ID" type="db:DLC.TNUMBER" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_INCOME_DATE" type="db:DLC.TDATE" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_INCOME_DATE" type="db:DLC.TDATE" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CUSTOMER_NAME" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_STATUS" type="db:DLC.TNUMBER" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_STATUS_DESCRIPTION" type="db:DLC.TVARCHAR100" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DLC.TVARCHAR100">
      <sequence>
         <element name="P_STATUS_DESCRIPTION_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TNUMBER">
      <sequence>
         <element name="P_REQUEST_ID_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TDATE">
      <sequence>
         <element name="P_INCOME_DATE_ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>