Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaPatronos/xsd/consultaPatronosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"            
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaPatronosTypes"
            xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaPatronosTypes"            
            elementFormDefault="qualified"
            version="1.0">

<xs:element name="consultaPatronosRequest">
    <xs:complexType/>
</xs:element>

<xs:element name="consultaPatronosResponse">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="employerList" type="con:employerListType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>


<xs:complexType name="employerListType">
    <xs:sequence>
        <xs:element name="employerItem" type="con:employerType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="employerType">
    <xs:sequence>
        <xs:element name="EMPLOYER_CODE" type="xs:string" minOccurs="0"/>
        <xs:element name="EMPLOYER_NAME" type="xs:string" minOccurs="0"/>
        <xs:element name="EMPLOYER_ADDRESS" type="xs:string" minOccurs="0"/>
        <xs:element name="EMPLOYER_PHONE_NUMBER" type="xs:string" minOccurs="0"/>
    </xs:sequence>
</xs:complexType>

</xs:schema>