Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/DebitCards/RequestorServices/WADL/DebitCardRouter_PS.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/debitCardsTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns="http://wadl.dev.java.net/2009/02" xmlns:cic="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes">
   <doc title="DebitCardRouter_PS">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/debitCardsTypes" schemaLocation="../XSD/debitCardsTypes.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/{cardNumber}">
         <method name="PUT" soa:wsdlOperation="updateDebitCard">
            <request>
               <param name="cardNumber" style="template" soa:expression="$property.cardNumber" type="xsd:string"/>
               <representation mediaType="application/json" element="cns:updateDebitCardRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/debitCardsTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:updateDebitCardResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/debitCardsTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/{cardNumber}/status-update">
         <method name="PUT" soa:wsdlOperation="updateDebitCardStatus">
            <request>
               <param name="cardNumber" style="template" soa:expression="$property.cardNumber" type="xsd:string"/>
               <representation mediaType="application/json" element="cns:updateDebitCardStatusRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/debitCardsTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:updateDebitCardStatusResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/debitCardsTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/packing-order">
         <method name="POST" soa:wsdlOperation="packingOrder">
            <request>
               <representation mediaType="application/json" element="cns:packingOrderRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/debitCardsTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:packingOrderResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/debitCardsTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/">
         <method name="POST" soa:wsdlOperation="assignDebitCard">
            <request>
               <representation mediaType="application/json" element="cns:assignDebitCardRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/debitCardsTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:assignDebitCardResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/debitCardsTypes"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
