Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/OperacionesCAP/xsd/operacionesCAPTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesCAPTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesCAPTypes">

	<!--TipoOrigenFondosType -->
	<xs:simpleType name="TipoOrigenFondosType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CTA" />
			<xs:enumeration value="TC" />
		</xs:restriction>
	</xs:simpleType>

	<!--MonedaType -->
	<xs:simpleType name="MonedaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HNL" />
			<xs:enumeration value="USD" />
		</xs:restriction>
	</xs:simpleType>

	<!--FrecuenciaDebitoType -->
	<xs:simpleType name="FrecuenciaDebitoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S" />
			<xs:enumeration value="Q" />
			<xs:enumeration value="M" />
		</xs:restriction>
	</xs:simpleType>

	<!--EstadoType -->
	<xs:simpleType name="EstadoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="P" />
			<xs:enumeration value="I" />
		</xs:restriction>
	</xs:simpleType>

	<!--CanalCreacionType -->
	<xs:simpleType name="CanalCreacionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="T24" />
			<xs:enumeration value="OB" />
		</xs:restriction>
	</xs:simpleType>

	<!--RenovacionAutomaticaType -->
	<xs:simpleType name="RenovacionAutomaticaType">
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="0" />
			<xs:enumeration value="1" />
		</xs:restriction>
	</xs:simpleType>

	<!--NotificacionCorreoType -->
	<xs:simpleType name="NotificacionCorreoType">
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="0" />
			<xs:enumeration value="1" />
		</xs:restriction>
	</xs:simpleType>

	<!--############################################ -->
	<!--OPERACION: AfiliacionCAP -->
	<!--############################################ -->
	<xs:element name="afiliacionCAPRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_CLIENTE" type="xs:string"/>
	            <xs:element name="CUENTA_AP" type="xs:string"/>
	            <xs:element name="ORIGEN_FONDOS" type="xs:string"/>
	            <xs:element name="CUENTA_DESTINO" type="xs:string"/>
	            <xs:element name="TIPO_ORIGEN_FONDOS" type="tns:TipoOrigenFondosType"/>
	            <xs:element name="NUMERO_TARJETA" type="xs:string" minOccurs="0"/>
            	<xs:element name="CUENTA_VPLUS" type="xs:string" minOccurs="0"/>
	            <xs:element name="MONEDA" type="tns:MonedaType"/>
	            <xs:element name="MONTO" type="xs:decimal"/>
	            <xs:element name="FECHA_AFILIACION" type="xs:dateTime"/>
	            <xs:element name="TIEMPO_AFILIACION" type="xs:decimal"/>
	            <xs:element name="FRECUENCIA_DEBITO" type="tns:FrecuenciaDebitoType"/>
	            <xs:element name="RENOVACION_AUTOMATICA" type="tns:RenovacionAutomaticaType"/>
	            <xs:element name="FECHA_PRIMER_CREDITO" type="xs:dateTime"/>
	            <xs:element name="NOTIFICACION_CORREO" type="tns:NotificacionCorreoType"/>
	            <xs:element name="ESTADO" type="tns:EstadoType"/>
	            <xs:element name="CANAL_CREACION" type="tns:CanalCreacionType"/>
	            <xs:element name="OFICIAL_CREACION" type="xs:string"/>
	            <xs:element name="OFICIAL_AUTORIZADOR" type="xs:string"/>
	            <xs:element name="AGENCIA" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="afiliacionCAPResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_CAP" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--############################################ -->
	<!--OPERACION: ModifiacionCAP -->
	<!--############################################ -->
	<xs:element name="modificacionCAPRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_CAP" type="xs:decimal" />
				<xs:element name="ID_CLIENTE" type="xs:string" />
				<xs:element name="CUENTA_AP" type="xs:string" />
				<xs:element name="ORIGEN_FONDOS" type="xs:string" />
				<xs:element name="CUENTA_DESTINO" type="xs:string" />
				<xs:element name="TIPO_ORIGEN_FONDOS" type="tns:TipoOrigenFondosType" />
				<xs:element name="NUMERO_TARJETA" type="xs:string" minOccurs="0"/>
            	<xs:element name="CUENTA_VPLUS" type="xs:string" minOccurs="0"/>
				<xs:element name="MONEDA" type="tns:MonedaType" />
				<xs:element name="MONTO" type="xs:decimal" />
				<xs:element name="FECHA_AFILIACION" type="xs:dateTime" />
				<xs:element name="TIEMPO_AFILIACION" type="xs:decimal" />
				<xs:element name="FRECUENCIA_DEBITO" type="tns:FrecuenciaDebitoType" />
				<xs:element name="RENOVACION_AUTOMATICA" type="tns:RenovacionAutomaticaType" />
				<xs:element name="FECHA_PRIMER_CREDITO" type="xs:dateTime" />
				<xs:element name="NOTIFICACION_CORREO" type="tns:NotificacionCorreoType" />
				<xs:element name="ESTADO" type="tns:EstadoType" />
				<xs:element name="CANAL_CREACION" type="tns:CanalCreacionType" />
				<xs:element name="OFICIAL_MODIFICACION" type="xs:string" />
				<xs:element name="OFICIAL_AUTORIZADOR" type="xs:string" />
				<xs:element name="AGENCIA" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="modificacionCAPResponse" />

	<!--############################################ -->
	<!--OPERACION: ModifiacionEstadoCAP -->
	<!--############################################ -->
	<xs:element name="modificacionEstadoCAPRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_CAP" type="xs:decimal" />
				<xs:element name="ESTADO" type="tns:EstadoType" />
				<xs:element name="OFICIAL_MODIFICACION" type="xs:string" />
				<xs:element name="OFICIAL_AUTORIZADOR_MODIFICADOR" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="modificacionEstadoCAPResponse" />


	<!--############################################ -->
	<!--OPERACION: ConsultaAfiliacionCAP -->
	<!--############################################ -->
	<xs:element name="consultaAfiliacionCAPRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUENTA_AP" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="consultaAfiliacionCAPResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_CAP" type="xs:decimal" minOccurs="0" />
				<xs:element name="ID_CLIENTE" type="xs:string" minOccurs="0" />
				<xs:element name="ORIGEN_FONDOS" type="xs:string"
					minOccurs="0" />
				<xs:element name="CUENTA_DESTINO" type="xs:string"
					minOccurs="0" />
				<xs:element name="TIPO_ORIGEN_FONDOS" type="tns:TipoOrigenFondosType"
					minOccurs="0" />
				<xs:element name="MONEDA" type="tns:MonedaType"
					minOccurs="0" />
				<xs:element name="MONTO" type="xs:decimal" minOccurs="0" />
				<xs:element name="FECHA_AFILIACION" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="TIEMPO_AFILIACION" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="FRECUENCIA_DEBITO" type="tns:FrecuenciaDebitoType"
					minOccurs="0" />
				<xs:element name="RENOVACION_AUTOMATICA" type="tns:RenovacionAutomaticaType"
					minOccurs="0" />
				<xs:element name="FECHA_PRIMER_CREDITO" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="NOTIFICACION_CORREO" type="tns:NotificacionCorreoType"
					minOccurs="0" />
				<xs:element name="ESTADO" type="tns:EstadoType"
					minOccurs="0" />
				<xs:element name="CANAL_CREACION" type="tns:CanalCreacionType"
					minOccurs="0" />
				<xs:element name="OFICIAL_CREACION" type="xs:string"
					minOccurs="0" />
				<xs:element name="OFICIAL_AUTORIZADOR" type="xs:string"
					minOccurs="0" />
				<xs:element name="OFICIAL_MODIFICACION" type="xs:string"
					minOccurs="0" />
				<xs:element name="OFICIAL_AUTORIZADOR_MODIFICADOR" type="xs:string"
					minOccurs="0" />
				<xs:element name="AGENCIA" type="xs:string" minOccurs="0" />
				<xs:element name="FECHA_CAMBIO" type="xs:dateTime"
					minOccurs="0" />
				<xs:element name="TRANSACCIONES_PENDIENTES" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="TRANSACCIONES_FALLIDAS" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="TRANSACCIONES_EXITOSAS" type="xs:decimal"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--############################################ -->
	<!--OPERACION: ValidacionCAP -->
	<!--############################################ -->
	<xs:element name="validacionCAPRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUENTA_CAP" type="xs:string" />
				<xs:element name="ORIGEN_FONDOS" type="xs:string" />
				<xs:element name="MONTO" type="xs:decimal" />
				<xs:element name="FECHA_PRIMER_CREDITO" type="xs:dateTime" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="validacionCAPResponse">
		<xs:complexType />
	</xs:element>

	<!--############################################ -->
	<!--OPERACION: ConsultaCuentasDisponibles -->
	<!--############################################ -->
	<xs:element name="consultaCuentasDisponiblesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUENTA_CAP" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="consultaCuentasDisponiblesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LISTA_CUENTAS_ORIGEN" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CUENTA_ORIGEN" type="xs:string"
								minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--############################################ -->
	<!--OPERACION: ConsultaAfiliacionesPorCliente -->
	<!--############################################ -->
	<xs:element name="consultaAfiliacionesPorClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_CLIENTE" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="consultaAfiliacionesPorClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LISTA_AFILIACIONES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AFILIACION" minOccurs="0" maxOccurs="unbounded" >
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CUENTA_AP" type="xs:string"/>
								        <xs:element name="ID_CLIENTE" type="xs:string"/>
								        <xs:element name="MONEDA" type="xs:string"/>
								        <xs:element name="FECHA_AFILIACION" type="xs:dateTime"/>
								        <xs:element name="MONTO" type="xs:decimal"/>
								        <xs:element name="TIEMPO_AFILIACION" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--############################################ -->
	<!--OPERACION: ConsultaCuentasCAPDisponibles -->
	<!--############################################ -->
	<xs:element name="consultaCuentasCAPDisponiblesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ID_CLIENTE" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="consultaCuentasCAPDisponiblesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LISTA_CUENTAS_AP" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CUENTA_AP" type="xs:string" 
                            minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--############################################ -->
	<!--OPERACION: DesbloqueoCAP -->
	<!--############################################ -->
	<xs:element name="desbloqueoCAPRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUENTA_AP" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="desbloqueoCAPResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SALDO_DISPONIBLE" type="xs:decimal" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--############################################ -->
	<!--OPERACION: BloqueoCAP  -->
	<!--############################################ -->
	<xs:element name="bloqueoCAPRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUENTA_AP" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="bloqueoCAPResponse"/>

</xs:schema>