Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/PMSV/autorizaLote/xsd/autorizarLote_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/autorizarLote" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/autorizarLote" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PT_AUDITORIAINFO" type="db:T_AUDITORIA" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PT_NUMEROLOTE" type="db:TNUMBER" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_FECHAINGRESO" type="db:TDATE" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_FECHAAPLICACION" type="db:TDATE" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_AUDITORIAINFO" type="db:T_AUDITORIA" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PT_DETALLELOTE" type="db:T_AUT_LOTE" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TDATE">
      <sequence>
         <element name="ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_AUDITORIA">
      <sequence>
         <element name="CODIGO_CLIENTE" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_USUARIO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="USUARIO_SERVICIO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_ARCHIVO" type="db:string256" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID_ARCHIVO" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROCESO" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROCESO_ORIGEN_ERROR" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_ERROR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCION_ERROR" type="db:string4000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TNUMBER">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR20">
      <sequence>
         <element name="ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="AUT_LOTE">
      <sequence>
         <element name="NUMERO_LOTE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ESTADO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCION_ESTADO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUMERO_CUENTA" type="db:TVARCHAR20" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="MONTO_LOTE" type="db:TNUMBER" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="MONTO_TSP" type="db:TNUMBER" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_AUT_LOTE">
      <sequence>
         <element name="ITEM" type="db:AUT_LOTE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="string4000">
      <restriction base="string">
         <maxLength value="4000"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
</schema>