Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/enlace/xsd/Enlace.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2-hudson-740-. -->
<xs:schema xmlns:tns="http://main/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://main/">

	<xs:element name="Agente" type="tns:agente" />

	<xs:element name="ListClassAgente" type="tns:listClassAgente" />

	<xs:element name="header" type="tns:header" />

	<xs:element name="procesar" type="tns:procesar" />

	<xs:element name="procesarResponse" type="tns:procesarResponse" />

	<xs:element name="response" nillable="true" type="tns:header" />

	<xs:element name="respuesta" type="tns:respuesta" />

	<xs:complexType name="procesar">
		<xs:sequence>
			<xs:element name="authorization" type="xs:string"
				minOccurs="0" />
			<xs:element name="Usuario" type="xs:string" minOccurs="0" />
			<xs:element name="Identificador" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="procesarResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:respuesta" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="respuesta">
		<xs:sequence>
			<xs:element name="agentes" type="tns:listClassAgente"
				minOccurs="0" />
			<xs:element name="codError" type="xs:string" minOccurs="0" />
			<xs:element name="desError" type="xs:string" minOccurs="0" />
			<xs:element name="menError" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listClassAgente">
		<xs:sequence>
			<xs:element name="listClassAgente" type="tns:agente"
				nillable="true" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="agente">
		<xs:sequence>
			<xs:element name="billetera" type="xs:string" nillable="true" />
			<xs:element name="departamento" type="xs:string" nillable="true" />
			<xs:element name="direccion" type="xs:string" nillable="true" />
			<xs:element name="estado" type="xs:string" nillable="true" />
			<xs:element name="fechaHModifico" type="xs:string"
				nillable="true" />
			<xs:element name="fechaInsert" type="xs:string" nillable="true" />
			<xs:element name="municipio" type="xs:string" nillable="true" />
			<xs:element name="nombreAgente" type="xs:string" nillable="true" />
			<xs:element name="RTNID" type="xs:string" nillable="true" />
			<xs:element name="secuencia" type="xs:string" nillable="true" />
			<xs:element name="tipoCliente" type="xs:string" nillable="true" />
			<xs:element name="tipoComercio" type="xs:string" nillable="true" />
			<xs:element name="usuarioInsert" type="xs:string"
				nillable="true" />
			<xs:element name="usuarioModifico" type="xs:string"
				nillable="true" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="header">
		<xs:sequence>
			<xs:element name="messageID" type="xs:string" minOccurs="0" />
			<xs:element name="messages" type="xs:string" minOccurs="0" />
			<xs:element name="successIndicator" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>