Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/svcGestionesTrxSEEHTENGO/wsdl/svcGestionesTrxSEEHTENGO.wsdl

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/svcGestionesTrxSEEHTENGOAnyTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/svcGestionesTrxSEEHTENGOTypes.xsd"/>
    </xsd:schema>
  </types>
  <message name="ConsultaTransaccionesTENGOEEH">
    <part name="parameters" element="tns:ConsultaTransaccionesTENGOEEH"/>
  </message>
  <message name="ConsultaTransaccionesTENGOEEHResponse">
    <part name="parameters" element="tns:ConsultaTransaccionesTENGOEEHResponse"/>
  </message>
  <message name="ReversarTransaccionTENGOEEH">
    <part name="parameters" element="tns:ReversarTransaccionTENGOEEH"/>
  </message>
  <message name="ReversarTransaccionTENGOEEHResponse">
    <part name="parameters" element="tns:ReversarTransaccionTENGOEEHResponse"/>
  </message>
  <message name="RegistrarTransaccionesTENGOEEH">
    <part name="parameters" element="tns:RegistrarTransaccionesTENGOEEH"/>
  </message>
  <message name="RegistrarTransaccionesTENGOEEHResponse">
    <part name="parameters" element="tns:RegistrarTransaccionesTENGOEEHResponse"/>
  </message>
  <message name="RegistrarTransaccionesTENGOEEH_Validate">
    <part name="parameters" element="tns:RegistrarTransaccionesTENGOEEH_Validate"/>
  </message>
  <message name="RegistrarTransaccionesTENGOEEH_ValidateResponse">
    <part name="parameters" element="tns:RegistrarTransaccionesTENGOEEH_ValidateResponse"/>
  </message>
  <message name="callOfs">
    <part name="parameters" element="tns:callOfs"/>
  </message>
  <message name="callOfsResponse">
    <part name="parameters" element="tns:callOfsResponse"/>
  </message>
  <portType name="T24WebServicesImpl">
    <operation name="ConsultaTransaccionesTENGOEEH">
      <input message="tns:ConsultaTransaccionesTENGOEEH"/>
      <output message="tns:ConsultaTransaccionesTENGOEEHResponse"/>
    </operation>
    <operation name="ReversarTransaccionTENGOEEH">
      <input message="tns:ReversarTransaccionTENGOEEH"/>
      <output message="tns:ReversarTransaccionTENGOEEHResponse"/>
    </operation>
    <operation name="RegistrarTransaccionesTENGOEEH">
      <input message="tns:RegistrarTransaccionesTENGOEEH"/>
      <output message="tns:RegistrarTransaccionesTENGOEEHResponse"/>
    </operation>
    <operation name="RegistrarTransaccionesTENGOEEH_Validate">
      <input message="tns:RegistrarTransaccionesTENGOEEH_Validate"/>
      <output message="tns:RegistrarTransaccionesTENGOEEH_ValidateResponse"/>
    </operation>
    <operation name="callOfs">
      <input message="tns:callOfs"/>
      <output message="tns:callOfsResponse"/>
    </operation>
  </portType>
  <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="ConsultaTransaccionesTENGOEEH">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReversarTransaccionTENGOEEH">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RegistrarTransaccionesTENGOEEH">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RegistrarTransaccionesTENGOEEH_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="callOfs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="T24WebServicesImplService">
    <port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
      <soap:address location="http://172.23.13.19:7003/svcGestionesTrxSEEHTENGO/services"/>
    </port>
  </service>
</definitions>