Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v4/BusinessServices/T24/svcConsultaCliente_v4/xsd/svcConsultaCliente_v4Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xs:schema version="1.0" targetNamespace="T24WebServicesImpl" xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultaClientev4" type="tns:ConsultaClientev4"/>
  <xs:element name="ConsultaClientev4Response" type="tns:ConsultaClientev4Response"/>
  <xs:element name="callOfs" type="tns:callOfs"/>
  <xs:element name="callOfsResponse" type="tns:callOfsResponse"/>
  <xs:complexType name="WSV4CUSTOMERType">
    <xs:sequence>
      <xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
      <xs:element name="gWSV4CUSTOMERDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSV4CUSTOMERDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
                  <xs:element name="MNEMONIC" type="xs:string" minOccurs="0"/>
                  <xs:element name="GIVENNAMES" type="xs:string" minOccurs="0"/>
                  <xs:element name="FAMILYNAMES" type="xs:string" minOccurs="0"/>
                  <xs:element name="NAMEOFBUSINESS" type="xs:string" minOccurs="0"/>
                  <xs:element name="COMMERCIALNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="SHORTNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="ADDRESSLINE1" type="xs:string" minOccurs="0"/>
                  <xs:element name="ADDRESSLINE2" type="xs:string" minOccurs="0"/>
                  <xs:element name="SECTOR" type="xs:string" minOccurs="0"/>
                  <xs:element name="SECTORNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="INDUSTRY" type="xs:string" minOccurs="0"/>
                  <xs:element name="INDUSTRYNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="TARGET" type="xs:string" minOccurs="0"/>
                  <xs:element name="TARGETNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
                  <xs:element name="RESIDENCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTOMERSTATUS" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTOMERTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALDOCNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALHOLDERNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="DATEOFBIRTH" type="xs:string" minOccurs="0"/>
                  <xs:element name="MARITALSTATUS" type="xs:string" minOccurs="0"/>
                  <xs:element name="GENDER" type="xs:string" minOccurs="0"/>
                  <xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
                  <xs:element name="SMS" type="xs:string" minOccurs="0"/>
                  <xs:element name="PHONE" type="xs:string" minOccurs="0"/>
                  <xs:element name="FAX" type="xs:string" minOccurs="0"/>
                  <xs:element name="ADDRESSTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="GENERATORTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
                  <xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="COUNTRYCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="STATECODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CITYCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="OCCUPATION" type="xs:string" minOccurs="0"/>
                  <xs:element name="EMPLOYMENTSTATUS" type="xs:string" minOccurs="0"/>
                  <xs:element name="EMPLOYERSNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="MARRIEDLASTNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALREPNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALREPID" type="xs:string" minOccurs="0"/>
                  <xs:element name="TYPEOFCOMPANY" type="xs:string" minOccurs="0"/>
                  <xs:element name="PROFESSIONORTRADE" type="xs:string" minOccurs="0"/>
                  <xs:element name="NUMBEROFDEED" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALREPHOMEPHONE" type="xs:string" minOccurs="0"/>
                  <xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
                  <xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
                  <xs:element name="TYPEOFPERSON" type="xs:string" minOccurs="0"/>
                  <xs:element name="SECTORIZATIONTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="SECTORIZATIONCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESSECTORIZCODEDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="EDUCATIONLEVEL" type="xs:string" minOccurs="0"/>
                  <xs:element name="SPOUSENAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="NOOFDEPENDENTS" type="xs:string" minOccurs="0"/>
                  <xs:element name="INCOMERANGE" type="xs:string" minOccurs="0"/>
                  <xs:element name="EMPLOYMENTSTART" type="xs:string" minOccurs="0"/>
                  <xs:element name="MAINADDRESSYN" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTOMERSINCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="ECONOMICGROUPID" type="xs:string" minOccurs="0"/>
                  <xs:element name="ECONOMICGROUPNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="CONSTITUTIONDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="OPERATIONCOUNTRY" type="xs:string" minOccurs="0"/>
                  <xs:element name="ISLOCALOPERATION" type="xs:string" minOccurs="0"/>
                  <xs:element name="OPERATIONDEPARTMENTSINFO" type="xs:string" minOccurs="0"/>
                  <xs:element name="RESOURCEORIGIN" type="xs:string" minOccurs="0"/>
                  <xs:element name="ISECONOMICGROUP" type="xs:string" minOccurs="0"/>
                  <xs:element name="ECONOMICGROUPNAME1" type="xs:string" minOccurs="0"/>
                  <xs:element name="ISPUBLICCHARGE" type="xs:string" minOccurs="0"/>
                  <xs:element name="PUBLICCHARGEDESCRIPTION" type="xs:string" minOccurs="0"/>
                  <xs:element name="PUBLICCHARGEINSTITUTION" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALIDENTIFICATIONEXPIRATIONDAT" type="xs:string" minOccurs="0"/>
                  <xs:element name="OTHERNATIONALITIESINFO" type="xs:string" minOccurs="0"/>
                  <xs:element name="DEPENDENCYID" type="xs:string" minOccurs="0"/>
                  <xs:element name="DEPENDENCYNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="DEPENDENCYLASTNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="SUMINGR" type="xs:string" minOccurs="0"/>
                  <xs:element name="JOBTITLE" type="xs:string" minOccurs="0"/>
                  <xs:element name="JOBDESCRIPTION" type="xs:string" minOccurs="0"/>
                  <xs:element name="TYPEOFMERCHNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="SMENAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRGIRONEGOCIO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALISSDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRRTN" type="xs:string" minOccurs="0"/>
                  <xs:element name="PLACEOFBIRTH" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESPLACEOFBIRTH" type="xs:string" minOccurs="0"/>
                  <xs:element name="TOWNCOUNTRY" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESTOWNCOUNTRY" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCUSAPNFDS" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPROFAPNF" type="xs:string" minOccurs="0"/>
                  <xs:element name="NAMEDEPENDENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="PROFESSIONDEP" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESPROFESSIONDEP" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELATIONSHIP" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESRELATIONSHIP" type="xs:string" minOccurs="0"/>
                  <xs:element name="INCOMECCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESINCOMECCYDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRFOTRING" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRFOTRINGM" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALISEDNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESLEGALISEDNAMEDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="PROFESIONTRADE" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESPROFESIONTRADE" type="xs:string" minOccurs="0"/>
                  <xs:element name="SECTORIZTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="NAMEPERSREF" type="xs:string" minOccurs="0"/>
                  <xs:element name="SELSTNMPRRF" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELWTHPERREF" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESRELWTHPERREFDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="TELNOPERREF" type="xs:string" minOccurs="0"/>
                  <xs:element name="COLONYCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESCOLONYCODEDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="AVENUE" type="xs:string" minOccurs="0"/>
                  <xs:element name="ADDSTREET" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLOCK" type="xs:string" minOccurs="0"/>
                  <xs:element name="HOUSENUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="REFERENCES" type="xs:string" minOccurs="0"/>
                  <xs:element name="EXTENSION" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRMAINADELEC" type="xs:string" minOccurs="0"/>
                  <xs:element name="TELEPHONEREFER" type="xs:string" minOccurs="0"/>
                  <xs:element name="LREMPMER" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRJUNTAEU" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRAPNFDPROF" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRMONVTAFS" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRANIOVTAFS" type="xs:string" minOccurs="0"/>
                  <xs:element name="LREQUSDFV" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNEWPRDACCEPT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRRENPRDACCEPT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRRENPRDORIGIN" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRRENPRDINVYEARS" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRRENPRDINVHISTO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRRENPRDCOMMENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNEWPRDPROCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNEWPRDTIP" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNEWPRDCOMMENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRINHERITANCEACCEPT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRINHERITANCEORIGIN" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCNTRFUNDS" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCNTRPRONAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCNTRPROLOCATION" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCNTRPROTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCNTRPROBENEF" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRSTATECNTR" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRISNGONFP" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRONGTIPDON" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRONGDONNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRINGDONDOM" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRINGDONAMMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRINGDONFREQ" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRINFDONPAYAVE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRSALESMONTHVOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LROTHERINCOMEMONTHTOTAL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LROTHRINCMO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LROTHRINCMOAMT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPRELPR" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRTIPOPDREL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPDIRECT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPINDIRLINK" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPRELA" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPUPDU" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCUSCLASSRI" type="xs:string" minOccurs="0"/>
                  <xs:element name="STATECODEDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="CITYCODEDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
                  <xs:element name="FAX1" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPROFILETYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRFECOFI" type="xs:string" minOccurs="0"/>
                  <xs:element name="REVIEWFREQUENCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRTIPARFAM" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRDETALLE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNOMFAMI" type="xs:string" minOccurs="0"/>
                  <xs:element name="AGENCYNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="OFFICERNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="AGE" type="xs:string" minOccurs="0"/>
                  <xs:element name="UPDATEDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPLRMNEMONIC" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPCLIENTID" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPIDENNOLGLREP" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPLEGALREPPEP" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPTYPIDENLGLRP" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPLEGALREPNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPLGLREPNAMLST" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPLRCUSTREPSEX" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPLGLRPCLTLNO" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPLEGALREPEMAIL" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPPOWOVRCOMP" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPDESCOFPOWER" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPFACULEGALREP" type="xs:string" minOccurs="0"/>
                  <xs:element name="REPLRFIRRLLEGAL" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfs">
    <xs:sequence>
      <xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfsResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultaClientev4">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSV4CUSTOMERType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="webRequestCommon">
    <xs:sequence>
      <xs:element name="userName" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="company" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enquiryInput">
    <xs:sequence>
      <xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enquiryInputCollection">
    <xs:sequence>
      <xs:element name="columnName" type="xs:string" minOccurs="0"/>
      <xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
      <xs:element name="operand" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultaClientev4Response">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSV4CUSTOMERType" type="tns:WSV4CUSTOMERType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="successIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="TWSError"/>
      <xs:enumeration value="T24Error"/>
      <xs:enumeration value="T24Override"/>
      <xs:enumeration value="T24Offline"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>