Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ReversionTransferenciaCuentaTD/xsd/reversionTransferenciaCuentaTDTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:rcc="http://www.ficohsa.com.hn/middleware.services/reversionTransferenciaCuentaTDTypes"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/reversionTransferenciaCuentaTDTypes"
	version="1.0">
	
	
	<xs:simpleType name="cardNumberClassType">
      	<xs:restriction base="xs:string">
      		<xs:minLength value="16"/>
      		<xs:maxLength value="19"/>
      	</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="currencyClassType">
      	<xs:restriction base="xs:string">
      		<xs:minLength value="3"/>
       		<xs:maxLength value="3"/>
      	</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="stringLength">
      	<xs:restriction base="xs:string">
      		<xs:minLength value="6"/>
       		<xs:maxLength value="6"/>
      	</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="retrievalRefNoClassType">
      	<xs:restriction base="xs:string">
      		<xs:minLength value="12"/>
       		<xs:maxLength value="12"/>
      	</xs:restriction>
    </xs:simpleType>
	
	<!--############################### -->
	<!--OPERACION: REVERSION TRANSFERENCIA CUENTA TD-->
	<xs:element name="reversionTransferenciaCuentaTD">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="rcc:cardNumberClassType"/>
				<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="CURRENCY" type="rcc:currencyClassType" minOccurs="0"/>
				<xs:element name="TRANSACTION_TYPE" type="rcc:stringLength" minOccurs="0"/>
				<xs:element name="TERMINAL_REFERENCE" type="rcc:stringLength" minOccurs="0"/>
				<xs:element name="CHANNEL" type="xs:string" minOccurs="0"/>
				<xs:element name="RETRIEVAL_REF_NO" type="rcc:retrievalRefNoClassType" minOccurs="0"/>
				<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="reversionTransferenciaCuentaTDResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="CREDIT_ACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="CREDIT_CUSTOMER" type="xs:string" minOccurs="0"/>
				<xs:element name="CREDIT_CURRENCY" type="xs:string" minOccurs="0"/>
				<xs:element name="CREDIT_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0"/>
				<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


</xs:schema>