Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaComportamientoCuenta_v2/wsdl/ConsultaComportamientoCuenta.wsdl

<WL5G3N0:definitions name="consultaComportamientoCuentaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_2008862116.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaTypes" schemaLocation="../xsd/XMLSchema_158402282.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaComportamientoCuentaRequest">
    <WL5G3N0:part element="WL5G3N2:consultaComportamientoCuenta" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaComportamientoCuentaResponse">
    <WL5G3N0:part element="WL5G3N2:consultaComportamientoCuentaResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="consultaComportamientoCuentaPS">
    <WL5G3N0:operation name="consultaComportamientoCuenta" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaComportamientoCuentaRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaComportamientoCuentaResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="consultaComportamientoCuentaPSSOAP" type="WL5G3N3:consultaComportamientoCuentaPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="consultaComportamientoCuenta">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaComportamientoCuentaPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="consultaComportamientoCuentaPS">
    <WL5G3N0:port binding="WL5G3N3:consultaComportamientoCuentaPSSOAP" name="consultaComportamientoCuentaPSSOAP">
      <WL5G3N4:address location="http://JOSPINA.CIDENET.LOCAL:7001/Middleware/OperationsAndExecution/Cards/ConsultaComportamientoCuenta"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>