Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FPC/listadoProductos/xsd/listadoProductosFPC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/listadoProductosFPC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/listadoProductosFPC" elementFormDefault="qualified">
   <element name="InputParameters">
      <!--Empty Parameter List-->
      <complexType/>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="T_PRODUCTOS" type="db:CA.CA_WEB_SERVICE_TAB_PRODUCTOS" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CODIGO_ERROR" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_ERROR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CA.CA_WEB_SERVICE_TAB_PRODUCTOS">
      <sequence>
         <element name="T_PRODUCTOS_ITEM" type="db:CA.CA_WEB_SERVICE_TYPE_PRODUCTO" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="CA.CA_WEB_SERVICE_TYPE_PRODUCTO">
      <sequence>
         <element name="COD_PRODUCTO" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DES_PRODUCTO" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COD_SUB_PRODUCTO" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DES_SUB_PRODUCTO" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string80">
      <restriction base="string">
         <maxLength value="80"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
</schema>