Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ReversarOperacionesACH/xsd/reversarOperacionesACHTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/reversarOperacionesACHTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/reversarOperacionesACHTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: reversarOperacionesACH -->
    <!--############################################-->
    <xs:element name="reversarOperacionesACH">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="TICKET" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
    <xs:element name="reversarOperacionesACHResponse">
    	<xs:complexType>
        	<xs:sequence>								
			</xs:sequence>
		</xs:complexType>
    </xs:element>    
</xs:schema>