Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ServiciosEmpresariales_v2/xsd/XMLSchema_1155876800.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesTypes">
	
    <!-- stringMinLength1Type -->
    <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
    <!-- "customersArrayType" -->
    <xs:complexType name="customersArrayType">
		<xs:sequence>
			<xs:element name="CUSTOMER" type="tns:customerArrayType"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "customers2ArrayType" -->
    <xs:complexType name="customers2ArrayType">
		<xs:sequence>
			<xs:element name="CUSTOMER" type="tns:customer2ArrayType" minOccurs="0" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "customers3ArrayType" -->
    <xs:complexType name="customers3ArrayType">
		<xs:sequence>
			<xs:element name="CUSTOMER" type="tns:customer3ArrayType"/>
		 </xs:sequence> 
	</xs:complexType>							
	
    <!-- "customerArrayType" -->
    <xs:complexType name="customerArrayType">
		<xs:sequence>
			<xs:element name="GENERAL_INFO" type="tns:generalInfoArrayType"/>
			<xs:element name="PRODUCT_INFO" type="tns:productInfoArrayType"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "customer2ArrayType" -->
    <xs:complexType name="customer2ArrayType">
		<xs:sequence>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="REQUEST_VALUE" type="xs:string" minOccurs="0"/>
			<xs:element name="MESSAGES" type="xs:string" minOccurs="0"/>
			<xs:element name="GENERAL_INFO" type="tns:generalInfo2ArrayType"/>
			<xs:element name="PRODUCT_INFO" type="tns:productInfo2ArrayType"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "customer3ArrayType" -->
    <xs:complexType name="customer3ArrayType">
		<xs:sequence>
			<xs:element name="GENERAL_INFO" type="tns:generalInfo3ArrayType"/>
			<xs:element name="PRODUCT_INFO" type="tns:productInfo3ArrayType"/>
		 </xs:sequence> 
	</xs:complexType>			
				
    <!-- "generalInfoArrayType" -->
    <xs:complexType name="generalInfoArrayType">
		<xs:sequence>
			<xs:element name="BASIC" type="tns:basicArrayType"/>
			<xs:element name="FINANCIAL" type="tns:financialArrayType"/>
			<xs:element name="CONTACT" type="tns:contactArrayType"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "generalInfo2ArrayType" -->
    <xs:complexType name="generalInfo2ArrayType">
		<xs:sequence>
			<xs:element name="BASIC" type="tns:basic2ArrayType" maxOccurs="unbounded"/>
			<xs:element name="FINANCIAL" type="tns:financial2ArrayType" maxOccurs="unbounded"/>
			<xs:element name="CONTACT" type="tns:contact2ArrayType"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "generalInfo3ArrayType" -->
    <xs:complexType name="generalInfo3ArrayType">
		<xs:sequence>
			<xs:element name="BASIC" type="tns:basicArray3Type"/>
			<xs:element name="FINANCIAL" type="tns:financialArrayType"/>
			<xs:element name="CONTACT" type="tns:contact3ArrayType"/>
		 </xs:sequence> 
	</xs:complexType>			
	
    <!-- "financialArrayType" -->
    <xs:complexType name="financialArrayType">
		<xs:sequence>
			<xs:element name="FINANCIAL_STMT_DATE" type="xs:date"/>
			<xs:element name="NEXT_FINANCIAL_STMT_DATE" type="xs:date"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "financialArrayType" -->
    <xs:complexType name="financial2ArrayType">
		<xs:sequence>
			<xs:element name="ECONOMIC_ACTIVITY_CODE" type="xs:integer" minOccurs="0"/>
			<xs:element name="FINANCIAL_STMT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="NEXT_FINANCIAL_STMT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="PRESENTED_FINANCIAL_STMT" type="xs:string" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>			
						
    <!-- "BasicArrayType" -->
    <xs:complexType name="basicArrayType">
		<xs:sequence>
			<xs:element name="ID" type="xs:integer"/>
			<xs:element name="NAME" type="tns:stringMinLength1"/>
			<xs:element name="LEGAL_ID" type="tns:stringMinLength1"/>
			<xs:element name="TARGET_ID" type="xs:integer"/>
			<xs:element name="TARGET_DESCRIPTION" type="tns:stringMinLength1"/>
			<xs:element name="BRANCH_CODE" type="tns:stringMinLength1"/>
			<xs:element name="EXPIRATION_DAY" type="xs:integer"/>
			<xs:element name="REQUEST_USER" type="tns:stringMinLength1"/>
			<xs:element name="AUTHORIZATION_USER" type="tns:stringMinLength1"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "Basic2ArrayType" -->
    <xs:complexType name="basic2ArrayType">
		<xs:sequence>
			<xs:element name="ID" type="xs:integer" minOccurs="0"/>
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="TARGET_ID" type="xs:integer" minOccurs="0"/>
			<xs:element name="TARGET_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="EXPIRATION_DAY" type="xs:integer" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "BasicArray3Type" -->
    <xs:complexType name="basicArray3Type">
		<xs:sequence>
			<xs:element name="ID" type="xs:integer"/>
			<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="EXPIRATION_DAY" type="xs:integer" minOccurs="0"/>
			<xs:element name="AUTHORIZATION_USER" type="tns:stringMinLength1"/>
		 </xs:sequence> 
	</xs:complexType>				
	
    <!-- "contactArrayType" -->
    <xs:complexType name="contactArrayType">
		<xs:sequence>
			<xs:element name="EMAILS" type="tns:emailsArrayType"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "contactArrayType" -->
    <xs:complexType name="contact2ArrayType">
		<xs:sequence>
			<xs:element name="EMAILS" type="tns:emails2ArrayType" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "contact3ArrayType" -->
    <xs:complexType name="contact3ArrayType">
		<xs:sequence>
			<xs:element name="EMAILS" type="tns:emails3ArrayType"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "emailsArrayType" -->
    <xs:complexType name="emailsArrayType">
		<xs:sequence>
			<xs:element name="EMAIL" type="tns:emailArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "emailsArrayType" -->
    <xs:complexType name="emails2ArrayType">
		<xs:sequence>
			<xs:element name="EMAIL" type="tns:email2ArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>		
	
    <!-- "emails3ArrayType" -->
    <xs:complexType name="emails3ArrayType">
		<xs:sequence>
			<xs:element name="EMAIL" type="tns:email3ArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "emailArrayType" -->
    <xs:complexType name="emailArrayType">
		<xs:sequence>
			<xs:element name="ID" type="tns:stringMinLength1"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "email2ArrayType" -->
    <xs:complexType name="email2ArrayType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "email3ArrayType" -->
    <xs:complexType name="email3ArrayType">
		<xs:sequence>
			<xs:element name="ID_OLD" type="xs:string"/>
			<xs:element name="ID_NEW" type="xs:string"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "productInfoArrayType" -->
    <xs:complexType name="productInfoArrayType">
		<xs:sequence>
			<xs:element name="ACTIVE" type="tns:stringMinLength1"/>
			<xs:element name="LOAN_LIMITS" type="tns:loanLimitsArrayType"/>
			<xs:element name="DESTINATION_PRODUCTS" type="tns:destinationProductsArrayType"/>
			<xs:element name="REPAYMENT_DETAILS" type="tns:repaymentDetailsArrayType"/>
			<xs:element name="CREDIT_LINES" type="tns:creditLinesArrayType"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "productInfo2ArrayType" -->
    <xs:complexType name="productInfo2ArrayType">
		<xs:sequence>
			<xs:element name="ACTIVE" type="xs:string" minOccurs="0"/>
			<xs:element name="LOAN_LIMITS" type="tns:loanLimits2ArrayType"/>
			<xs:element name="DESTINATION_PRODUCTS" type="tns:destinationProductsArrayType"/>
			<xs:element name="REPAYMENT_DETAILS" type="tns:repaymentDetailsArrayType"/>
			<xs:element name="CREDIT_LINES" type="tns:creditLines2ArrayType"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "productInfo3ArrayType" -->
    <xs:complexType name="productInfo3ArrayType">
		<xs:sequence>
			<xs:element name="ACTIVE" type="xs:string" minOccurs="0"/>
			<xs:element name="LOAN_LIMITS" type="tns:loanLimitsArrayType"/>
			<xs:element name="DESTINATION_PRODUCTS" type="tns:destinationProducts3ArrayType"/>
			<xs:element name="REPAYMENT_DETAILS" type="tns:repaymentDetails3ArrayType"/>
			<xs:element name="CREDIT_LINES" type="tns:creditLines3ArrayType"/>
		 </xs:sequence> 
	</xs:complexType>			
	
    <!-- "loanLimitsArrayType" -->
    <xs:complexType name="loanLimitsArrayType">
		<xs:sequence>
			<xs:element name="LOAN_LIMIT" type="tns:loanLimitArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "loanLimitsArrayType" -->
    <xs:complexType name="loanLimits2ArrayType">
		<xs:sequence>
			<xs:element name="LOAN_LIMIT" type="tns:loanLimit2ArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "loanLimitArrayType" -->
    <xs:complexType name="loanLimitArrayType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="tns:stringMinLength1"/>
			<xs:element name="MAX_AMOUNT" type="xs:integer"/>
			<xs:element name="ENABLED" type="xs:string"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "loanLimitArrayType" -->
    <xs:complexType name="loanLimit2ArrayType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="MAX_AMOUNT" type="xs:integer" minOccurs="0"/>
			<xs:element name="ENABLED" type="xs:string" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "destinationProductsArrayType" -->
    <xs:complexType name="destinationProductsArrayType">
		<xs:sequence>
			<xs:element name="PRODUCT" type="tns:productArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "destinationProducts3ArrayType" -->
    <xs:complexType name="destinationProducts3ArrayType">
		<xs:sequence>
			<xs:element name="PRODUCT" type="tns:product3ArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "ProductArrayType" -->
    <xs:complexType name="productArrayType">
		<xs:sequence>
			<xs:element name="ID" type="tns:stringMinLength1"/>
			<xs:element name="CURRENCY" type="tns:stringMinLength1"/>
			<xs:element name="TYPE" type="tns:stringMinLength1"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "Product3ArrayType" -->
    <xs:complexType name="product3ArrayType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="ACTION" type="xs:string" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "repaymentDetailsArrayType" -->
    <xs:complexType name="repaymentDetailsArrayType">
		<xs:sequence>
			<xs:element name="AUTO_DEBIT" type="tns:stringMinLength1"/>
			<xs:element name="DEBIT_ACCOUNTS" type="tns:AccountsArrayType" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "repayment3DetailsArrayType" -->
    <xs:complexType name="repaymentDetails3ArrayType">
		<xs:sequence>
			<xs:element name="AUTO_DEBIT" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBIT_ACCOUNTS" type="tns:Accounts3ArrayType" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>	

    <!-- "AccountsArrayType" -->
    <xs:complexType name="AccountsArrayType">
		<xs:sequence>
			<xs:element name="ACCOUNT" type="tns:AccountArrayType" minOccurs="0" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "Accounts3ArrayType" -->
    <xs:complexType name="Accounts3ArrayType">
		<xs:sequence>
			<xs:element name="ACCOUNT" type="tns:Account3ArrayType" minOccurs="0" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "AccountArrayType" -->
    <xs:complexType name="AccountArrayType">
		<xs:sequence>
			<xs:element name="ID" type="tns:stringMinLength1"/>
			<xs:element name="CURRENCY" type="tns:stringMinLength1"/>
			<xs:element name="TYPE" type="tns:stringMinLength1"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "Account3ArrayType" -->
    <xs:complexType name="Account3ArrayType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="CURRENCY" type="xs:string"/>
			<xs:element name="TYPE" type="xs:string"/>
			<xs:element name="ACTION" type="xs:string"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "creditLines1ArrayType" -->
    <xs:complexType name="creditLinesArrayType">
		<xs:sequence>
			<xs:element name="CREDIT_LINE" type="tns:creditLine1ArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "creditLines2ArrayType" -->
    <xs:complexType name="creditLines2ArrayType">
		<xs:sequence>
			<xs:element name="CREDIT_LINE" type="tns:creditLine2ArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "creditLines3ArrayType" -->
    <xs:complexType name="creditLines3ArrayType">
		<xs:sequence>
			<xs:element name="CREDIT_LINE" type="tns:creditLine3ArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "creditLine1ArrayType" -->
    <xs:complexType name="creditLine1ArrayType">
		<xs:sequence>
			<xs:element name="ID" type="tns:stringMinLength1"/>
			<xs:element name="ECONOMIC_ACTIVITY_CODE" type="xs:integer"/>
			<xs:element name="EXPIRY_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="INVESTMENT_CODE" type="xs:integer"/>
			<xs:element name="INVESTMENT_SUBCODE" type="xs:integer"/>
			<xs:element name="DESTINATION_CODE" type="xs:integer"/>
			<xs:element name="APPROVAL_CODE" type="tns:stringMinLength1"/>
			<xs:element name="OFFICER" type="tns:stringMinLength1"/>
			<xs:element name="OFFICER_BRANCH_CODE" type="xs:integer"/>
			<xs:element name="SUB_ORIGIN" type="xs:integer"/>
			<xs:element name="REVISION_RATE_TYPE" type="xs:integer"/>
			<xs:element name="MONTHLY_SETTLEMENT" type="xs:integer"/>
			<xs:element name="YEARLY_SETTLEMENT" type="xs:integer"/>
			<xs:element name="GRACE_PERIOD" type="xs:integer"/>		
			<xs:element name="MAX_PAYMENT_PERIOD" type="xs:integer"/>
			<xs:element name="LOAN_PRODUCT_DETAILS" type="tns:loanProductDetailsArrayType"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "creditLine2ArrayType" -->
    <xs:complexType name="creditLine2ArrayType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="EXPIRY_DATE" type="xs:string"/>
			<xs:element name="CURRENCY" type="xs:string"/>
			<xs:element name="AMOUNT" type="xs:string"/>
			<xs:element name="AVAILABLE_AMOUNT" type="xs:string"/>
			<xs:element name="ECONOMIC_ACTIVITY_CODE" type="xs:integer"/>
			<xs:element name="INVESTMENT_CODE" type="xs:integer"/>
			<xs:element name="INVESTMENT_SUBCODE" type="xs:integer"/>
			<xs:element name="DESTINATION_CODE" type="xs:integer"/>
			<xs:element name="APPROVAL_CODE" type="xs:string"/>
			<xs:element name="OFFICER" type="xs:string"/>
			<xs:element name="OFFICER_BRANCH_CODE" type="xs:integer"/>
			<xs:element name="SUB_ORIGIN" type="xs:integer"/>
			<xs:element name="REVISION_RATE_TYPE" type="xs:integer"/>
			<xs:element name="MONTHLY_SETTLEMENT" type="xs:integer"/>
			<xs:element name="YEARLY_SETTLEMENT" type="xs:integer"/>
			<xs:element name="GRACE_PERIOD" type="xs:integer"/>
			<xs:element name="MAX_PAYMENT_PERIOD" type="xs:integer"/>	
			<xs:element name="LOAN_PRODUCT_DETAILS" type="tns:loanProductDetailsArrayType"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "creditLine3ArrayType" -->
    <xs:complexType name="creditLine3ArrayType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="ECONOMIC_ACTIVITY_CODE" type="xs:integer"/>
			<xs:element name="EXPIRY_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="INVESTMENT_CODE" type="xs:integer"/>
			<xs:element name="INVESTMENT_SUBCODE" type="xs:integer"/>
			<xs:element name="DESTINATION_CODE" type="xs:integer"/>
			<xs:element name="APPROVAL_CODE" type="xs:string"/>
			<xs:element name="OFFICER" type="xs:string"/>
			<xs:element name="OFFICER_BRANCH_CODE" type="xs:integer"/>
			<xs:element name="SUB_ORIGIN" type="xs:integer"/>
			<xs:element name="REVISION_RATE_TYPE" type="xs:integer"/>
			<xs:element name="MONTHLY_SETTLEMENT" type="xs:integer"/>
			<xs:element name="YEARLY_SETTLEMENT" type="xs:integer"/>
			<xs:element name="GRACE_PERIOD" type="xs:integer"/>
			<xs:element name="MAX_PAYMENT_PERIOD" type="xs:integer"/>
			<xs:element name="LOAN_PRODUCT_DETAILS" type="tns:loanProductDetails2ArrayType"/>
		 </xs:sequence> 
	</xs:complexType>	
																							
    <!-- "loanProductDetailsArrayType" -->
    <xs:complexType name="loanProductDetailsArrayType">
		<xs:sequence>
			<xs:element name="LOAN_PRODUCT" type="tns:loanProductArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "loanProductDetails2ArrayType" -->
    <xs:complexType name="loanProductDetails2ArrayType">
		<xs:sequence>
			<xs:element name="LOAN_PRODUCT" type="tns:loanProduct2ArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "loanProductArrayType" -->
    <xs:complexType name="loanProductArrayType">
		<xs:sequence>
			<xs:element name="ID" type="xs:integer"/>
			<xs:element name="CURRENCY" type="tns:stringMinLength1"/>
			<xs:element name="OBLIGATION_TYPE" type="tns:stringMinLength1"/>
			<xs:element name="OBLIGATION_DESCRIPTION" type="tns:stringMinLength1"/>
			<xs:element name="GUARANTEE_TYPE" type="tns:stringMinLength1"/>
			<xs:element name="GUARANTEE_DESCRIPTION" type="tns:stringMinLength1"/>
			<xs:element name="REPAYMENT_TYPES" type="tns:repaymentTypes1ArrayType"/>
		    <xs:element name="RATES" type="tns:rateTypes1ArrayType" minOccurs="0"/>
		    <xs:element name="CHARGES" type="tns:expenseTypes1ArrayType" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>
	
    <!-- "loanProductArrayType" -->
    <xs:complexType name="loanProduct2ArrayType">
		<xs:sequence>
			<xs:element name="ID" type="xs:integer"/>
			<xs:element name="CURRENCY" type="tns:stringMinLength1"/>
			<xs:element name="OBLIGATION_TYPE" type="xs:string"/>
			<xs:element name="OBLIGATION_DESCRIPTION" type="tns:stringMinLength1"/>
			<xs:element name="GUARANTEE_TYPE" type="xs:string"/>
			<xs:element name="GUARANTEE_DESCRIPTION" type="tns:stringMinLength1"/>
			<xs:element name="REPAYMENT_TYPES" type="tns:repaymentTypes2ArrayType"/>
			<xs:element name="RATES" type="tns:rateTypes1ArrayType" minOccurs="0"/>
		    <xs:element name="CHARGES" type="tns:expenseTypes1ArrayType" minOccurs="0"/>
			
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "repaymentTypes1ArrayType" -->
    <xs:complexType name="repaymentTypes1ArrayType">
		<xs:sequence>
			<xs:element name="REPAYMENT_TYPE" type="tns:repaymentType1ArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
	  <!-- "rateTypes1ArrayType" -->
    <xs:complexType name="rateTypes1ArrayType">
		<xs:sequence>
			<xs:element name="RATE" type="tns:rateType2ArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
	  <!-- "expenseTypes1ArrayType" -->
	   <xs:complexType name="expenseTypes1ArrayType">
		<xs:sequence>
			<xs:element name="CHARGE" type="tns:expenseType2ArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
	  <!-- "rangeTypes1ArrayType" -->
	   <xs:complexType name="rangeTypes2ArrayType">
		<xs:sequence>
			<xs:element name="RANGE" type="tns:rangeType3ArrayType" minOccurs="0" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
	
    <!-- "repaymentTypesArrayType" -->
    <xs:complexType name="repaymentTypes2ArrayType">
		<xs:sequence>
			<xs:element name="REPAYMENT_TYPE" type="tns:repaymentType2ArrayType" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>	
	
    <!-- "repaymentType1ArrayType" -->
    <xs:complexType name="repaymentType1ArrayType">
		<xs:sequence>
			<xs:element name="CODE" type="tns:stringMinLength1"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="FREQUENCY" type="xs:integer"/>
			<xs:element name="MAX_PAYMENT_TERM" type="xs:integer"/>
		 </xs:sequence> 
	</xs:complexType>
	
	
    <!-- "repaymentType2ArrayType" -->
    <xs:complexType name="repaymentType2ArrayType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:string"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="FREQUENCY" type="xs:integer"/>
			<xs:element name="MAX_PAYMENT_TERM" type="xs:integer"/>
			<xs:element name="ACTION" type="xs:string"/>
		 </xs:sequence> 
	</xs:complexType>	
	
	   <!-- "rateType2ArrayType" -->
    <xs:complexType name="rateType2ArrayType">
		<xs:sequence>
			<xs:element name="CLASS" type="xs:string" minOccurs="0"/>
			<xs:element name="GROUP" type="xs:integer"/>
			<xs:element name="TERM_IN_MONTHS" type="xs:integer"/>
			<xs:element name="LOAN_RATE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="ACTION" type="xs:string"/>
		 </xs:sequence> 
	</xs:complexType>
	
	   <!-- "expenseType2ArrayType" -->
    <xs:complexType name="expenseType2ArrayType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="RANGES" type="tns:rangeTypes2ArrayType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="0"/>
			<xs:element name="ACTION" type="xs:string"/>
		 </xs:sequence> 
	</xs:complexType>		
	
	   <!-- "expenseType2ArrayType" -->
    <xs:complexType name="rangeType3ArrayType">
		<xs:sequence>
			<xs:element name="INITIAL" type="xs:string" minOccurs="0"/>
			<xs:element name="FINAL" type="xs:string" minOccurs="0"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>	

    <!-- "targetArrayType" -->
    <xs:complexType name="targetArrayType">
		<xs:sequence>
			<xs:element name="ID" type="xs:integer"/>
			<xs:element name="DESCRIPTION" type="xs:string"/>
			<xs:element name="LOAN_TYPE_ID" type="xs:integer"/>
			<xs:element name="LOAN_TYPE_DESC" type="xs:string"/>
		 </xs:sequence> 
	</xs:complexType>																											
    
	    
	<!--##########################################--> 
    <!--OPERACION: REGISTRA CLIENTE DESEMBOLSO LINEA CREDITO-->
    <!--##########################################-->
	<!-- request -->
	<xs:element name="registraClienteDesembolsoLineaCredito">
        <xs:complexType>
            <xs:sequence>
			    <xs:element name="CUSTOMERS" type="tns:customersArrayType"/>
			 </xs:sequence>
        </xs:complexType>
    </xs:element>
    
	<xs:element name="registraClienteDesembolsoLineaCreditoResponse"/>  
    
	<!--##########################################--> 
    <!--OPERACION: CONSULTA CLIENTE DESEMBOLSO LINEA CREDITO-->
    <!--##########################################-->
	<!-- request -->
	<xs:element name="consultaClienteDesembolsoLineaCredito">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_QUERY">
		        	<xs:complexType>
		            	<xs:sequence>
			                <xs:element name="TYPE" type="xs:string"/>
			                <xs:element name="VALUES">
			                	<xs:complexType>
			                		<xs:sequence>
			                			<xs:element name="VALUE" type="xs:string" maxOccurs="5"/>
			                		</xs:sequence>
	               				</xs:complexType>
	            			</xs:element>				 
		                </xs:sequence>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

	<!-- response -->
	<xs:element name="consultaClienteDesembolsoLineaCreditoResponse">
        <xs:complexType>
            <xs:sequence>
			   	<xs:element name="CUSTOMERS" minOccurs="0" type="tns:customers2ArrayType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

	<!--##########################################--> 
    <!--OPERACION: MODIFICA CLIENTE DESEMBOLSO LINEA CREDITO-->
    <!--##########################################-->
	<!-- request -->
	<xs:element name="modificaClienteDesembolsoLineaCredito">
        <xs:complexType>
            <xs:sequence>
			    <xs:element name="CUSTOMERS" type="tns:customers3ArrayType"/>
			 </xs:sequence>
        </xs:complexType>
    </xs:element>

	<!-- response -->
	<xs:element name="modificaClienteDesembolsoLineaCreditoResponse"/>
   
	<!--##########################################--> 
    <!--OPERACION: CONSULTA TARGET TIPO PRESTAMO-->
    <!--##########################################-->
	<!-- request -->
	<xs:element name="consultaTargetTipoPrestamo">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="TARGET_ID" type="xs:integer" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

	<!-- response -->
	<!-- response -->
	<xs:element name="consultaTargetTipoPrestamoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TARGETS" minOccurs="0">
		        	<xs:complexType>
		            	<xs:sequence>
			                <xs:element name="TARGET" type="tns:targetArrayType" minOccurs="0" maxOccurs="unbounded"/>
		                </xs:sequence>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>    
    
	<!--##########################################--> 
    <!--OPERACION: REGISTRA TARGET TIPO PRESTAMO-->
    <!--##########################################-->
	<!-- request -->
	<xs:element name="registraTargetTipoPrestamo">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="TARGET_ID" type="xs:integer"/>
				<xs:element name="TARGET_DESCRIPTION" type="xs:string"/>
				<xs:element name="LOAN_TYPE_ID" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

	<!-- response -->
	<xs:element name="registraTargetTipoPrestamoResponse"/>    

	<!--##########################################--> 
    <!--OPERACION: MODIFICA TARGET TIPO PRESTAMO-->
    <!--##########################################-->
	<!-- request -->
	<xs:element name="modificaTargetTipoPrestamo">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="TARGET_ID" type="xs:integer"/>
				<xs:element name="TARGET_DESCRIPTION" type="xs:string"/>
				<xs:element name="LOAN_TYPE_ID" type="xs:integer"/>
				<xs:element name="REQUEST_USER" type="xs:string"/>
				<xs:element name="ACTION" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

	<!-- response -->
	<xs:element name="modificaTargetTipoPrestamoResponse"/>
</xs:schema>