Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultaGeneralPrestamo/consultaGeneralPrestamoAbanks/ORA_BANK_OSB_CON_GENERAL_PRESTAMO.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_CON_GENERAL_PRESTAMO/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_CON_GENERAL_PRESTAMO/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="LOAN_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="LOAN_CUSTOMER_NAME" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="EFFECTIVE_DATE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MATURITY_DATE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="INTEREST_RATE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PRINCIPAL_INITIAL_AMT" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PRINCIPAL_DUE_AMT" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PRINCIPAL_OVERDUE_AMT" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="INTEREST_AMOUNT" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="OVERDUE_INTEREST_AMOUNT" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="COMISION_AMOUNT" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TOTAL_DEBT" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NEXT_PAYMNT_ID" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NEXT_PAYMNT_MATURITY_DATE" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="OVERDUE_PAYMENTS" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NEXT_PAYMNT_PRINCIPAL_AMT" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NEXT_PAYMNT_INTEREST_AMT" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NEXT_PAYMNT_INSURANCE_AMT" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NEXT_PAYMNT_TOTAL_AMT" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CURRENCY" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
			<element name="LASTDISBURSEMENTDATE" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
			<element name="CODIGO_CLIENTE" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
			<element name="TYPE_GUARANTEE" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GUARANTEE_DESC" type="string" db:index="24" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LOAN_STATUS" type="string" db:index="25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            
            <element name="CREDIT_TYPE_CODE" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CREDIT_TYPE_DESC" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PRODUCT_CODE" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PRODUCT_DESC" type="string" db:index="29" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NUMBER_OF_PAYMENTS" type="string" db:index="30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PAID_PAYMENTS" type="string" db:index="31" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DETALLE_GNRAL" type="string" db:index="32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="33" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="34" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>