Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/compensacion/RechazaChequeVirtual/RechazaChequeVirtualTypes.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="ConfirmaChequeVirtual" type="tns:ConfirmaChequeVirtual"/>

<xs:element name="ConfirmaChequeVirtualResponse" type="tns:ConfirmaChequeVirtualResponse"/>

<xs:element name="ConfirmaChequeVirtual_Validate" type="tns:ConfirmaChequeVirtual_Validate"/>

<xs:element name="ConfirmaChequeVirtual_ValidateResponse" type="tns:ConfirmaChequeVirtual_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="FICOHCHEQUEVIRTUALRECHAZOWSType">
<xs:sequence>
<xs:element name="ESTADODEPOSITO" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADOERROR" type="xs:string" minOccurs="0"/>
<xs:element name="MENSAJEERROR" type="xs:string" minOccurs="0"/>
<xs:element name="CODIGORECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="RAZONRECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="COMISION" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOHCHEQUEVIRTUALType">
<xs:sequence>
<xs:element name="TIPOCHEQUE" type="xs:string" minOccurs="0"/>
<xs:element name="NOCUENTADESTINO" type="xs:string" minOccurs="0"/>
<xs:element name="CODCLIENTEBEN" type="xs:string" minOccurs="0"/>
<xs:element name="RUTATRANSITO" type="xs:string" minOccurs="0"/>
<xs:element name="NOCHEQUE" type="xs:string" minOccurs="0"/>
<xs:element name="NOCUENTAORIGEN" type="xs:string" minOccurs="0"/>
<xs:element name="MONEDA" type="xs:string" minOccurs="0"/>
<xs:element name="MONTO" type="xs:string" minOccurs="0"/>
<xs:element name="FECHACOMPENSACION" type="xs:string" minOccurs="0"/>
<xs:element name="HORAREGISTRO" type="xs:string" minOccurs="0"/>
<xs:element name="HORACOMPENSACION" type="xs:string" minOccurs="0"/>
<xs:element name="REFERENCIATRANF" type="xs:string" minOccurs="0"/>
<xs:element name="REFERENCIAACLK" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADODEPOSITO" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADOERROR" type="xs:string" minOccurs="0"/>
<xs:element name="MENSAJEERROR" type="xs:string" minOccurs="0"/>
<xs:element name="CODIGORECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="RAZONRECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="USUARIOCANAL" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOCHQPROPIO" type="xs:string" minOccurs="0"/>
<xs:element name="FECHAORIGENTXN" type="xs:string" minOccurs="0"/>
<xs:element name="COMISION" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_7" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmaChequeVirtual">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALRECHAZOWSType" type="tns:FICOHCHEQUEVIRTUALRECHAZOWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmaChequeVirtualResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALType" type="tns:FICOHCHEQUEVIRTUALType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmaChequeVirtual_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALRECHAZOWSType" type="tns:FICOHCHEQUEVIRTUALRECHAZOWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmaChequeVirtual_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHEQUEVIRTUALType" type="tns:FICOHCHEQUEVIRTUALType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>