Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/compensacion/RechazaChequeVirtual/RechazaChequeVirtual.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_325776136.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="RechazaChequeVirtualTypes.xsd"/>
</xsd:schema>
</types>
<message name="ConfirmaChequeVirtual_Validate">
<part name="parameters" element="tns:ConfirmaChequeVirtual_Validate"/>
</message>
<message name="ConfirmaChequeVirtual_ValidateResponse">
<part name="parameters" element="tns:ConfirmaChequeVirtual_ValidateResponse"/>
</message>
<message name="ConfirmaChequeVirtual">
<part name="parameters" element="tns:ConfirmaChequeVirtual"/>
</message>
<message name="ConfirmaChequeVirtualResponse">
<part name="parameters" element="tns:ConfirmaChequeVirtualResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="ConfirmaChequeVirtual_Validate">
<input message="tns:ConfirmaChequeVirtual_Validate"/>
<output message="tns:ConfirmaChequeVirtual_ValidateResponse"/>
</operation>
<operation name="ConfirmaChequeVirtual">
<input message="tns:ConfirmaChequeVirtual"/>
<output message="tns:ConfirmaChequeVirtualResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConfirmaChequeVirtual_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConfirmaChequeVirtual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcConfirmaChequeVirtual/services"/>
</port>
</service>
</definitions>