Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/SolicitudChequeras/xsd/solicitudChequerasTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/solicitudChequerasTypes"
	xmlns:cheq="http://www.ficohsa.com.hn/middleware.services/solicitudChequerasTypes">

	<xs:complexType name="solicitudChequerasResponseType">
		<xs:sequence>
			<xs:element name="solicitudChequerasResponseType"
				type="cheq:solicitudChequerasResponseRecordType" form="qualified"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="solicitudChequerasResponseRecordType">
		<xs:sequence>
			<xs:element name="solicitudChequerasResponseRecordType"
				type="cheq:solicitudChequerasResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="solicitudChequerasResponseArrayType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
			<xs:element name="DESTINATION_BRANCH" type="xs:string" />
			<xs:element name="CHEQUEBOOK_TYPE" type="xs:string" />
			<xs:element name="NO_OF_BOOKS" type="xs:string" />
			<xs:element name="FIRST_CHEQUE_NUMBER" type="xs:string" />
			<xs:element name="LAST_CHEQUE_NUMBER" type="xs:string" />
			<xs:element name="AUTHORIZED_CLAIMER" type="xs:string" />
			<xs:element name="DATE_TIME" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="solicitudChequeras">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
				<xs:element name="CHEQUEBOOK_TYPE" type="xs:string" />
				<xs:element name="NO_OF_BOOKS" type="xs:string" />
				<xs:element name="DESTINATION_BRANCH" type="xs:string" />
				<xs:element name="AUTHORIZED_CLAIMER" type="xs:string" />
				<xs:element name="AUTHORIZED_CLAIMER_ID" type="xs:string" />
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" />
				<xs:element name="NO_OF_CHEQUES" type="xs:string" minOccurs='0' />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="solicitudChequerasResponse" type="cheq:solicitudChequerasResponseType" />


</xs:schema>