Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/BusinessServices/CobroTSPTransferencia/xsd/XMLSchema_-520411437.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/cobroTSPTransferenciaTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/cobroTSPTransferenciaTypes">
	
	<xs:element name="cobroTSPTransferencia">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TRANSACTION_TYPE_CODE" type="xs:string"/>
            <xs:element name="TRANSACTION_ID" type="xs:string"/>
            <xs:element name="CUSTOMER_ID" type="xs:string"/>
            <xs:element name="TRANSACTION_AMOUNT" type="xs:string"/>
            <xs:element name="TRANSACTION_CURRENCY" type="xs:string"/>
            <xs:element name="TRANSACTION_DATE" type="xs:string"/>
            <xs:element name="TRANSACTION_REFERENCE" type="xs:string"/>
            <xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
            <xs:element name="CREDIT_ACCOUNT" type="xs:string"/>
            <xs:element name="PROFIT_CENTRE" type="xs:string"/>
            <xs:element name="CHANNEL_IDENTIFICATOR" type="xs:string"/>
            <xs:element name="RATE_AMOUNT" type="xs:string"/>
            <xs:element name="PROCESS_TYPE" type="xs:string"/>
          </xs:sequence>
        </xs:complexType> 
      </xs:element>
      
      <xs:element name="cobroTSPTransferenciaResponse">
        <xs:complexType>
          <xs:sequence>
			<xs:element name="PAID_AMOUNT" type="xs:string"/>
            <xs:element name="LOG_ID" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
</xs:schema>