Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/BusinessServices/ConsultaMovsCajero/xsd/XMLSchema_-857067199.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsultaMovsCajeroTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/ConsultaMovsCajeroTypes">
	
	<xs:complexType name="ConsultaMovsCajeroResponseArrayType">
		<xs:sequence>
           	<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="CORE_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="CALENDAR_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="CALENDAR_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="INPUTER" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ConsultaMovsCajeroResponseRecordType">
			<xs:sequence>
					<xs:element name="ConsultaMovsCajeroResponseRecordType" type="cons:ConsultaMovsCajeroResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="ConsultaMovsCajeroResponseType">
		<xs:sequence>
			<xs:element name="ConsultaMovsCajeroResponseType" type="cons:ConsultaMovsCajeroResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="ConsultaMovsCajero">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ConsultaMovsCajeroResponse" type="cons:ConsultaMovsCajeroResponseType"/>
	
</xs:schema>