Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CTS/convenio/xsd/services.xsd

<schema elementFormDefault="qualified" targetNamespace="http://service.srvaplcobisrecaudo.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://dto2.sdf.cts.cobis.cobiscorp.com" xmlns:Q1="http://dto.srvaplcobisentidades.ecobis.cobiscorp">
  <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/>
  <import schemaLocation="cobiscorp.ecobis.srvaplcobisentidades.dto.xsd" namespace="http://dto.srvaplcobisentidades.ecobis.cobiscorp"/>
  <element name="consultaRecaudoSolicitud" type="Q1:ConsultaRecaudo"/>
  <element name="consultaRecaudoRespuesta" type="Q1:ConsultaRecaudoResponse"/>
  <element name="pagoRecaudoSolicitud" type="Q1:PagoRecaudo"/>
  <element name="pagoRecaudoRespuesta" type="Q1:PagoMultipleRecaudoResponse"/>
</schema>