Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/CalificacionBlaze_v2/xsd/XMLSchema_1668489945.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/blazeQualifyTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/blazeQualifyTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:element name="blazeQualify">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="ID_TYPE" type="tns:stringMinLength1"/>
	            <xs:element name="ID_VALUE" type="tns:stringMinLength1"/>
				<xs:element name="BIRTH_DATE" type="tns:stringMinLength1"/>
				<xs:element name="REQUEST_NUMBER" type="xs:integer"/>
				<xs:element name="REQUEST_STAGE" type="xs:integer"/> 
				<xs:element name="REQUEST_TYPE" type="xs:integer"/>
				<xs:element name="REQUEST_LAST_DATE" type="tns:stringMinLength1"/>  
				<xs:element name="REQUEST_LAST_RESULT" type="tns:stringMinLength1"/>
				<xs:element name="CUSTOMER_PROFILE" type="tns:stringMinLength1"/>
				<xs:element name="COMPANY" type="tns:stringMinLength1"/>
				<xs:element name="JOB_START_DATE" type="tns:stringMinLength1"/> 
				<xs:element name="INCOME" type="xs:decimal"/>
				<xs:element name="TENEMENT_TYPE" type="xs:decimal"/>
				<xs:element name="TENEMENT_TIME" type="xs:decimal"/>
				<xs:element name="CAMPAIGN" type="xs:decimal"/>      
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="blazeQualifyResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TICKET_NUMBER" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>