Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/BusinessServices/ConsultaImagenFirmas/xsd/XMLSchema_1353127126.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaImagenFirmasTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaImagenFirmasTypes">
	
	<xs:complexType name="consultaImagenFirmasResponseArrayType">
		<xs:sequence>
			<xs:element minOccurs="0" name="SIGNATURE_TYPE" type="xs:string"/>
			<xs:element minOccurs="0" name="SIGNATURE_NAME" type="xs:string"/>
			<xs:element minOccurs="0" name="SIGNATURE_IMAGE" type="xs:string"/>
			<xs:element minOccurs="0" name="FILE_EXTENSION" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaImagenFirmasResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaImagenFirmasResponseRecordType" type="cons:consultaImagenFirmasResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaImagenFirmasResponseType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="REQUIRED_SIGNATURE" type="xs:string" minOccurs="0"/>
			<xs:element name="REGISTERED_SIGNATURE" type="xs:string" minOccurs="0"/>
			<xs:element name="SIGNATURE_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="consultaImagenFirmasResponseType" type="cons:consultaImagenFirmasResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	

	<xs:element name="consultaImagenFirmas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaImagenFirmasResponse" type="cons:consultaImagenFirmasResponseType"/>

</xs:schema>