Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/CloudCode/Resources/CloudCodeRestBS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns0="https://www.ficohsa.com/honduras/pension/cloudCodeTypes" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="CloudCodeRestBS">RestReference</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="https://www.ficohsa.com/honduras/pension/cloudCodeTypes" schemaLocation="../Schemas/CloudCodeTypes.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/estados-cuentas/historicos">
         <method name="GET" soa:wsdlOperation="estadosCuentasHistoricos">
            <request soa:paramElement="pns:estadosCuentasHistoricos" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="tipoIdentificacion" style="query" soa:expression="$msg.request/ns0:tipoIdentificacion" type="xsd:string"/>
               <param name="numeroIdentificacion" style="query" soa:expression="$msg.request/ns0:numeroIdentificacion" type="xsd:string"/>
               <param name="fechaInicio" style="query" soa:expression="$msg.request/ns0:fechaInicio" type="xsd:string"/>
               <param name="fechaFinal" style="query" soa:expression="$msg.request/ns0:fechaFinal" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:estadosCuentasHistoricosResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/retiros">
         <method name="GET" soa:wsdlOperation="retirosGet">
            <request soa:paramElement="pns:retirosGet" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="numeroSolicitud" style="query" soa:expression="$msg.request/ns0:numeroSolicitud" type="xsd:decimal"/>
               <param name="numeroIdentificacion" style="query" soa:expression="$msg.request/ns0:numeroIdentificacion" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:retirosGetResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/cuentas/saldos">
         <method name="GET" soa:wsdlOperation="cuentasSaldos">
            <request soa:paramElement="pns:cuentasSaldos" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="codigoTipoIdentificacion" style="query" soa:expression="$msg.request/ns0:codigoTipoIdentificacion" type="xsd:string"/>
               <param name="numeroIdentificacion" style="query" soa:expression="$msg.request/ns0:numeroIdentificacion" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:cuentasSaldosResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/clientes/financieros">
         <method name="GET" soa:wsdlOperation="clientesFinancieros">
            <request soa:paramElement="pns:clientesFinancieros" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="codigoTipoIdentificacion" style="query" soa:expression="$msg.request/ns0:codigoTipoIdentificacion" type="xsd:string"/>
               <param name="numeroIdentificacion" style="query" soa:expression="$msg.request/ns0:numeroIdentificacion" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:clientesFinancierosResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/entes/bancos">
         <method name="GET" soa:wsdlOperation="entesBancos">
            <request soa:paramElement="pns:entesBancos" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            <response status="200">
               <representation mediaType="application/json" element="cns:entesBancosResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/clientes/laborales/periodos">
         <method name="GET" soa:wsdlOperation="clientesLaboralesPeriodos">
            <request soa:paramElement="pns:clientesLaboralesPeriodos" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="tipoIdentificacionAfiliado" style="query" soa:expression="$msg.request/ns0:tipoIdentificacionAfiliado" type="xsd:string"/>
               <param name="numeroIdentificacionAfiliado" style="query" soa:expression="$msg.request/ns0:numeroIdentificacionAfiliado" type="xsd:string"/>
               <param name="fechaInicio" style="query" soa:expression="$msg.request/ns0:fechaInicio" type="xsd:string"/>
               <param name="fechaFin" style="query" soa:expression="$msg.request/ns0:fechaFin" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:clientesLaboralesPeriodosResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/cuentas/monedas">
         <method name="GET" soa:wsdlOperation="cuentasMonedas">
            <request soa:paramElement="pns:cuentasMonedas" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="codigoCuenta" style="query" soa:expression="$msg.request/ns0:codigoCuenta" type="xsd:integer"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:cuentasMonedasResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/cuentas/relaciones/periodos">
         <method name="GET" soa:wsdlOperation="cuentasRelacionesPeriodos">
            <request soa:paramElement="pns:cuentasRelacionesPeriodos" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="codigoCuenta" style="query" soa:expression="$msg.request/ns0:codigoCuenta" type="xsd:string"/>
               <param name="fechaInicialConsulta" style="query" soa:expression="$msg.request/ns0:fechaInicialConsulta" type="xsd:string"/>
               <param name="fechaFinalConsulta" style="query" soa:expression="$msg.request/ns0:fechaFinalConsulta" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:cuentasRelacionesPeriodosResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/clientes/localizadores/preferidos">
         <method name="GET" soa:wsdlOperation="clientesLocalizadoresPreferidos">
            <request soa:paramElement="pns:clientesLocalizadoresPreferidos" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="codigoTipoIdentificacion" style="query" soa:expression="$msg.request/ns0:codigoTipoIdentificacion" type="xsd:string"/>
               <param name="numeroIdentificacion" style="query" soa:expression="$msg.request/ns0:numeroIdentificacion" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:clientesLocalizadoresPreferidosResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/cuentas">
         <method name="GET" soa:wsdlOperation="cuentas">
            <request soa:paramElement="pns:cuentas" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="tipoIdentificacion" style="query" soa:expression="$msg.request/ns0:tipoIdentificacion" type="xsd:string"/>
               <param name="numeroIdentificacion" style="query" soa:expression="$msg.request/ns0:numeroIdentificacion" type="xsd:string"/>
               <param name="codigoCliente" style="query" soa:expression="$msg.request/ns0:codigoCliente" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:cuentasResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/clientes/laborales">
         <method name="GET" soa:wsdlOperation="clientesLaborales">
            <request soa:paramElement="pns:clientesLaborales" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="tipoIdentificacion" style="query" soa:expression="$msg.request/ns0:tipoIdentificacion" type="xsd:string"/>
               <param name="numeroIdentificacion" style="query" soa:expression="$msg.request/ns0:numeroIdentificacion" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:clientesLaboralesResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/cuentas/clientes/demograficos">
         <method name="GET" soa:wsdlOperation="cuentasClientesDemograficos">
            <request soa:paramElement="pns:cuentasClientesDemograficos" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="codigoCuenta" style="query" soa:expression="$msg.request/ns0:codigoCuenta" type="xsd:integer"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:cuentasClientesDemograficosResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/cuentas/fondos/pensiones">
         <method name="GET" soa:wsdlOperation="cuentasFondosPensiones">
            <request soa:paramElement="pns:cuentasFondosPensiones" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="codigoCuenta" style="query" soa:expression="$msg.request/ns0:codigoCuenta" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:cuentasFondosPensionesResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/clientes/historicas/laborales">
         <method name="GET" soa:wsdlOperation="clientesHistoricasLaborales">
            <request soa:paramElement="pns:clientesHistoricasLaborales" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="codigoCuenta" style="query" soa:expression="$msg.request/ns0:codigoCuenta" type="xsd:string"/>
               <param name="fechaInicio" style="query" soa:expression="$msg.request/ns0:fechaInicio" type="xsd:string"/>
               <param name="fechaFin" style="query" soa:expression="$msg.request/ns0:fechaFin" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:clientesHistoricasLaboralesResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/clientes/fondos/pensiones">
         <method name="GET" soa:wsdlOperation="clientesFondosensiones">
            <request soa:paramElement="pns:clientesFondosPensiones" xmlns:pns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes">
               <param name="tipoIdentificacion" style="query" soa:expression="$msg.request/ns0:tipoIdentificacion" type="xsd:string"/>
               <param name="numeroIdentificacion" style="query" soa:expression="$msg.request/ns0:numeroIdentificacion" type="xsd:string"/>
               <param name="codigoCliente" style="query" soa:expression="$msg.request/ns0:codigoCliente" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:clientesFondosPensionesResponse" xmlns:cns="https://www.ficohsa.com/honduras/pension/cloudCodeTypes"/>
            </response>
         </method>
      </resource>
   </resources>
</application>