Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/CloudCode/Resources/CloudCodeRestBS.wsdl

<wsdl:definitions name="CloudCodeRestBS" targetNamespace="http://xmlns.oracle.com/Vortex/Middleware/CloudCodeRestBS" xmlns:tns="http://xmlns.oracle.com/Vortex/Middleware/CloudCodeRestBS" xmlns:inp1="https://www.ficohsa.com/honduras/pension/cloudCodeTypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="CloudCodeRestBS">
        <plnk:role name="CloudCodeRestBSProvider" portType="tns:CloudCodeRestBS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="https://www.ficohsa.com/honduras/pension/cloudCodeTypes" schemaLocation="../Schemas/CloudCodeTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="estadosCuentasHistoricos_inputMessage">
        <wsdl:part name="request" element="inp1:estadosCuentasHistoricos"/>
    </wsdl:message>
    <wsdl:message name="estadosCuentasHistoricos_outputMessage">
        <wsdl:part name="reply" element="inp1:estadosCuentasHistoricosResponse"/>
    </wsdl:message>
    <wsdl:message name="retirosGet_inputMessage">
        <wsdl:part name="request" element="inp1:retirosGet"/>
    </wsdl:message>
    <wsdl:message name="retirosGet_outputMessage">
        <wsdl:part name="reply" element="inp1:retirosGetResponse"/>
    </wsdl:message>
    <wsdl:message name="cuentasSaldos_inputMessage">
        <wsdl:part name="request" element="inp1:cuentasSaldos"/>
    </wsdl:message>
    <wsdl:message name="cuentasSaldos_outputMessage">
        <wsdl:part name="reply" element="inp1:cuentasSaldosResponse"/>
    </wsdl:message>
    <wsdl:message name="clientesFinancieros_inputMessage">
        <wsdl:part name="request" element="inp1:clientesFinancieros"/>
    </wsdl:message>
    <wsdl:message name="clientesFinancieros_outputMessage">
        <wsdl:part name="reply" element="inp1:clientesFinancierosResponse"/>
    </wsdl:message>
    <wsdl:message name="entesBancos_inputMessage">
        <wsdl:part name="request" element="inp1:entesBancos"/>
    </wsdl:message>
    <wsdl:message name="entesBancos_outputMessage">
        <wsdl:part name="reply" element="inp1:entesBancosResponse"/>
    </wsdl:message>
    <wsdl:message name="clientesLaboralesPeriodos_inputMessage">
        <wsdl:part name="request" element="inp1:clientesLaboralesPeriodos"/>
    </wsdl:message>
    <wsdl:message name="clientesLaboralesPeriodos_outputMessage">
        <wsdl:part name="reply" element="inp1:clientesLaboralesPeriodosResponse"/>
    </wsdl:message>
    <wsdl:message name="cuentasMonedas_inputMessage">
        <wsdl:part name="request" element="inp1:cuentasMonedas"/>
    </wsdl:message>
    <wsdl:message name="cuentasMonedas_outputMessage">
        <wsdl:part name="reply" element="inp1:cuentasMonedasResponse"/>
    </wsdl:message>
    <wsdl:message name="cuentasRelacionesPeriodos_inputMessage">
        <wsdl:part name="request" element="inp1:cuentasRelacionesPeriodos"/>
    </wsdl:message>
    <wsdl:message name="cuentasRelacionesPeriodos_outputMessage">
        <wsdl:part name="reply" element="inp1:cuentasRelacionesPeriodosResponse"/>
    </wsdl:message>
    <wsdl:message name="clientesLocalizadoresPreferidos_inputMessage">
        <wsdl:part name="request" element="inp1:clientesLocalizadoresPreferidos"/>
    </wsdl:message>
    <wsdl:message name="clientesLocalizadoresPreferidos_outputMessage">
        <wsdl:part name="reply" element="inp1:clientesLocalizadoresPreferidosResponse"/>
    </wsdl:message>
    <wsdl:message name="cuentas_inputMessage">
        <wsdl:part name="request" element="inp1:cuentas"/>
    </wsdl:message>
    <wsdl:message name="cuentas_outputMessage">
        <wsdl:part name="reply" element="inp1:cuentasResponse"/>
    </wsdl:message>
    <wsdl:message name="clientesLaborales_inputMessage">
        <wsdl:part name="request" element="inp1:clientesLaborales"/>
    </wsdl:message>
    <wsdl:message name="clientesLaborales_outputMessage">
        <wsdl:part name="reply" element="inp1:clientesLaboralesResponse"/>
    </wsdl:message>
    <wsdl:message name="cuentasClientesDemograficos_inputMessage">
        <wsdl:part name="request" element="inp1:cuentasClientesDemograficos"/>
    </wsdl:message>
    <wsdl:message name="cuentasClientesDemograficos_outputMessage">
        <wsdl:part name="reply" element="inp1:cuentasClientesDemograficosResponse"/>
    </wsdl:message>
    <wsdl:message name="cuentasFondosPensiones_inputMessage">
        <wsdl:part name="request" element="inp1:cuentasFondosPensiones"/>
    </wsdl:message>
    <wsdl:message name="cuentasFondosPensiones_outputMessage">
        <wsdl:part name="reply" element="inp1:cuentasFondosPensionesResponse"/>
    </wsdl:message>
    <wsdl:message name="clientesHistoricasLaborales_inputMessage">
        <wsdl:part name="request" element="inp1:clientesHistoricasLaborales"/>
    </wsdl:message>
    <wsdl:message name="clientesHistoricasLaborales_outputMessage">
        <wsdl:part name="reply" element="inp1:clientesHistoricasLaboralesResponse"/>
    </wsdl:message>
    <wsdl:message name="clientesFondosensiones_inputMessage">
        <wsdl:part name="request" element="inp1:clientesFondosPensiones"/>
    </wsdl:message>
    <wsdl:message name="clientesFondosensiones_outputMessage">
        <wsdl:part name="reply" element="inp1:clientesFondosPensionesResponse"/>
    </wsdl:message>
    <wsdl:portType name="CloudCodeRestBS_ptt">
        <wsdl:operation name="estadosCuentasHistoricos">
            <wsdl:input message="tns:estadosCuentasHistoricos_inputMessage"/>
            <wsdl:output message="tns:estadosCuentasHistoricos_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="retirosGet">
            <wsdl:input message="tns:retirosGet_inputMessage"/>
            <wsdl:output message="tns:retirosGet_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="cuentasSaldos">
            <wsdl:input message="tns:cuentasSaldos_inputMessage"/>
            <wsdl:output message="tns:cuentasSaldos_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="clientesFinancieros">
            <wsdl:input message="tns:clientesFinancieros_inputMessage"/>
            <wsdl:output message="tns:clientesFinancieros_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="entesBancos">
            <wsdl:input message="tns:entesBancos_inputMessage"/>
            <wsdl:output message="tns:entesBancos_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="clientesLaboralesPeriodos">
            <wsdl:input message="tns:clientesLaboralesPeriodos_inputMessage"/>
            <wsdl:output message="tns:clientesLaboralesPeriodos_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="cuentasMonedas">
            <wsdl:input message="tns:cuentasMonedas_inputMessage"/>
            <wsdl:output message="tns:cuentasMonedas_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="cuentasRelacionesPeriodos">
            <wsdl:input message="tns:cuentasRelacionesPeriodos_inputMessage"/>
            <wsdl:output message="tns:cuentasRelacionesPeriodos_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="clientesLocalizadoresPreferidos">
            <wsdl:input message="tns:clientesLocalizadoresPreferidos_inputMessage"/>
            <wsdl:output message="tns:clientesLocalizadoresPreferidos_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="cuentas">
            <wsdl:input message="tns:cuentas_inputMessage"/>
            <wsdl:output message="tns:cuentas_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="clientesLaborales">
            <wsdl:input message="tns:clientesLaborales_inputMessage"/>
            <wsdl:output message="tns:clientesLaborales_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="cuentasClientesDemograficos">
            <wsdl:input message="tns:cuentasClientesDemograficos_inputMessage"/>
            <wsdl:output message="tns:cuentasClientesDemograficos_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="cuentasFondosPensiones">
            <wsdl:input message="tns:cuentasFondosPensiones_inputMessage"/>
            <wsdl:output message="tns:cuentasFondosPensiones_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="clientesHistoricasLaborales">
            <wsdl:input message="tns:clientesHistoricasLaborales_inputMessage"/>
            <wsdl:output message="tns:clientesHistoricasLaborales_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="clientesFondosensiones">
            <wsdl:input message="tns:clientesFondosensiones_inputMessage"/>
            <wsdl:output message="tns:clientesFondosensiones_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CloudCodeRestBS_ptt-binding" type="tns:CloudCodeRestBS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="estadosCuentasHistoricos">
            <soap:operation soapAction="estadosCuentasHistoricos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retirosGet">
            <soap:operation soapAction="retirosGet"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cuentasSaldos">
            <soap:operation soapAction="cuentasSaldos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clientesFinancieros">
            <soap:operation soapAction="clientesFinancieros"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="entesBancos">
            <soap:operation soapAction="entesBancos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clientesLaboralesPeriodos">
            <soap:operation soapAction="clientesLaboralesPeriodos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cuentasMonedas">
            <soap:operation soapAction="cuentasMonedas"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cuentasRelacionesPeriodos">
            <soap:operation soapAction="cuentasRelacionesPeriodos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clientesLocalizadoresPreferidos">
            <soap:operation soapAction="clientesLocalizadoresPreferidos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cuentas">
            <soap:operation soapAction="cuentas"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clientesLaborales">
            <soap:operation soapAction="clientesLaborales"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cuentasClientesDemograficos">
            <soap:operation soapAction="cuentasClientesDemograficos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cuentasFondosPensiones">
            <soap:operation soapAction="cuentasFondosPensiones"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clientesHistoricasLaborales">
            <soap:operation soapAction="clientesHistoricasLaborales"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clientesFondosensiones">
            <soap:operation soapAction="clientesFondosensiones"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>