Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/RegistraPagoTC/xsd/RegistraPagoTC.xsd

<xs:schema
version="1.0"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.ficohsa.com.hn/middleware.services/registraPagoTCxsd"
xmlns:cons="http://www.ficohsa.com.hn/middleware.services/registraPagoTCxsd">
<xs:element name="registraPagoTCRequest">
	<xs:complexType>
		<xs:sequence>			           
			<xs:element name="CREDIT_CARD" type="xs:string" minOccurs="1"/>
			<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="1"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="1"/>
			<xs:element name="TRANSACTION_TYPE">
			<xs:simpleType>
    			<xs:restriction base="xs:string">
      				 <xs:enumeration value="AUTHORIZATION" />
       				 <xs:enumeration value="REVERSION" />
   			    </xs:restriction>
            </xs:simpleType>
            </xs:element>
			<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="1"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="1"/>
			<xs:element name="SECUENCIAL_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="ORG" type="xs:string" minOccurs="0"/>		
			<xs:element name="PAYMENT_TYPE" type="xs:string" minOccurs="1"/>				
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element name="registraPagoTCResponse">
	<xs:complexType>
		<xs:sequence>			           
			<xs:element name="SECUENCIAL_NUMBER" type="xs:string" minOccurs="1"/>
			<xs:element name="AUTHORIZATION_CODE" type="xs:string" minOccurs="1"/>
			<xs:element name="ORG" type="xs:string" minOccurs="1"/>	
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>