Fuentes/ficohsacore-osb12-b78f21b126d5/CustomerRelationshipManagement/ProviderServices/v1.0/OnBase/WADL/OnBaseServices_BS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02" xmlns:onb="http://onbase.ficohsa.com" xmlns:cus="http://www.ficohsa.com.hn/middleware.services/customerTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
   <doc title="OnBaseServices_BS">RestReference</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://onbase.ficohsa.com" schemaLocation="../XSD/onbaseTypes.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypes" schemaLocation="../../../../../MWBanking/Customers/RequestorServices/XSD/customersTypes.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/SaveDocument">
         <method name="POST" soa:wsdlOperation="saveDocument">
            <request>
               <representation mediaType="application/json" element="cns:SaveDocumentRequest" xmlns:cns="http://onbase.ficohsa.com"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:SaveDocumentResponse" xmlns:cns="http://onbase.ficohsa.com"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/json" element="cns:SaveDocumentError" xmlns:cns="http://onbase.ficohsa.com"/>
            </response>
         </method>
      </resource>
      <resource path="/LogIn">
         <method name="PUT" soa:wsdlOperation="logInService">
            <request>
               <representation mediaType="application/json" element="cns:loginRequest" xmlns:cns="http://onbase.ficohsa.com"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:loginResponse" xmlns:cns="http://onbase.ficohsa.com"/>
            </response>
         </method>
      </resource>
      <resource path="/CreateUnityForm">
         <method name="PUT" soa:wsdlOperation="CreateUnityForm">
            <request>
               <representation mediaType="application/json" element="cns:UnityFormRequest" xmlns:cns="http://onbase.ficohsa.com"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:UnityFormResponse" xmlns:cns="http://onbase.ficohsa.com"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/json" element="cns:UnityFormError" xmlns:cns="http://onbase.ficohsa.com"/>
            </response>
         </method>
      </resource>
      <resource path="/DocumentQuery">
         <method name="POST" soa:wsdlOperation="documentQuery">
            <request>
               <representation mediaType="application/json" element="cns:documentQueryRequestOnBase" xmlns:cns="http://onbase.ficohsa.com"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:documentQueryResponseOnBase" xmlns:cns="http://onbase.ficohsa.com"/>
            </response>
         </method>
      </resource>
      <resource path="/DocumentComposition">
         <method name="PUT" soa:wsdlOperation="documentComposition">
            <request>
               <representation mediaType="application/json" element="cns:documentCompositionRequestOnBase" xmlns:cns="http://onbase.ficohsa.com"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:documentCompositionResponseOnBase" xmlns:cns="http://onbase.ficohsa.com"/>
            </response>
         </method>
      </resource>
   </resources>
</application>