Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_GetBatchDetail/Schemas/GetBatchDetailTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/massivePayment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mas="https://www.ficohsa.com/regional/massivePayment" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBRG_MassivePayment_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="getBatchDetail">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="CustomerId" type="mas:stringMinLength1"/>
        <xsd:element name="QueryType" type="mas:queryType" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="QueryValue" type="mas:stringMinLength1"/>
        <xsd:element name="TransactionFilters" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Field" type="mas:fieldType" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="Value" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="PagingInfo" type="mas:pagingInfo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getBatchDetailResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="Ticket" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="CustomerBatchId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="CustomerId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="BankBatchId" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="CustomerName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="BatchType" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="BatchTypeDesc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="UploadDate" type="xsd:date" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="ApplicationDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="NumberOfTransactions" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="NumberOfTransactionsSuccess" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="NumberOfTransactionsError" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="TotalAmount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="TotalAmountSuccess" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="TotalAmountError" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="StatusDesc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="PagingInfo" type="mas:pagingInfo"/>
        <xsd:element name="Transactions" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Id" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="PaymentType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="PaymentTypeDesc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="TxnReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="DebitAccount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="CreditAccount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="DestinationBank" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="DestinationBankName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="CreditCurrency" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="Currency" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="Amount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="CreditAccountType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="Beneficiary" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="DocumentNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="SupplierId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="StatusDesc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="WithdrawalBranch" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="WithdrawalBranchName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="ExternalReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="ErrorCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="ErrorMessage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="BillInfo" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ContractName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="DebtorCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="DebtorName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="BillDetail" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="stringMinLength1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="pagingInfo">
    <xsd:sequence>
      <xsd:element name="InitialRecord" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="Page" type="xsd:integer" default="1" minOccurs="0"/>
      <xsd:element name="PageSize" type="xsd:integer" default="100"/>
      <xsd:element name="PageCount" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="RecordsReturned" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="RecordsTotal" type="xsd:integer" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="queryType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BANK_BATCH_ID"/>
      <xsd:enumeration value="CUSTOMER_BATCH_ID"/>
      <xsd:enumeration value="OPERATION_TYPE"/>
      <xsd:enumeration value="TICKET"/>
      <xsd:enumeration value="TXN_REFERENCE"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="fieldType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BENEFICIARY"/>
      <xsd:enumeration value="STATUS"/>
      <xsd:enumeration value="DEBIT_ACCOUNT"/>
      <xsd:enumeration value="CREDIT_ACCOUNT"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>