Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_GetSupplier/Schemas/GetSupplierTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/massivePayment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mas="https://www.ficohsa.com/regional/massivePayment" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBRG_MassivePayment_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="getSupplier">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="CustomerId" type="xsd:string"/>
        <xsd:element name="SupplierStatus" type="mas:supplierStatusType"/>
        <xsd:element name="Suppliers" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getSupplierResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="CustomerId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Suppliers" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Id" type="xsd:string"/>
              <xsd:element name="Name" type="xsd:string"/>
              <xsd:element name="LegalId" type="xsd:string"/>
              <xsd:element name="DestinationBank" type="xsd:integer" minOccurs="0"/>
              <xsd:element name="DestinationBankDesc" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AccountNumber" type="xsd:string"/>
              <xsd:element name="AccountType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Status" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!--########################## -->
  <!--Types: MassivePaymentTypes -->
  <!--########################## -->
  <xsd:simpleType name="supplierStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AUT"/>
      <xsd:enumeration value="PEN"/>
      <xsd:enumeration value="ALL"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>