Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/direcciones/ConsultaBarrioColonia/consultaBarrioColoniaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaBarrioColoniaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaBarrioColoniaTypes">
	
	<xs:complexType name = "consultaBarrioColoniaResponseArrayType">
		<xs:sequence>
			<xs:element name="DISTRICT_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="DISTRICT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CITY_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="DEPT_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>
	
	<xs:complexType name="consultaBarrioColoniaResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaBarrioColoniaResponseRecordType" type="cons:consultaBarrioColoniaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaBarrioColoniaResponseType">
		<xs:sequence>
			<xs:element name="consultaBarrioColoniaResponseType" type="cons:consultaBarrioColoniaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaBarrioColonia">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DISTRICT_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="CITY_CODE" type="xs:string"/>
	            <xs:element name="DEPT_CODE" type="xs:string"/>
	            <xs:element name="COUNTRY_CODE" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaBarrioColoniaResponse" type="cons:consultaBarrioColoniaResponseType"/>
	
</xs:schema>