Fuentes/ficohsacore-osb12-b78f21b126d5/DataWareHouse/ProviderServices/XSD/GetCoreCatalogs/GetCoreCatalogs_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetCoreCatalogs" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetCoreCatalogs" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CORE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_CATALOG" type="db:CLIENTDATA.T_VARCHAR60" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_REGION" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_STATUS" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MESSAGE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_CATALOG_ITEMS" type="db:CLIENTDATA.T_CATALOG_ITEM" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CLIENTDATA.T_CATALOG_ITEM">
      <sequence>
         <element name="PT_CATALOG_ITEMS_ITEM" type="db:CLIENTDATA.O_CATALOG_ITEM" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="CLIENTDATA.T_VARCHAR60">
      <sequence>
         <element name="PT_CATALOG_ITEM" type="db:string60" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="CLIENTDATA.O_CATALOG_ITEM">
      <sequence>
         <element name="CATALOG_NAME" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CATALOG_VALUE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CATALOG_EQUIVALENCE" type="db:string120" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string60">
      <restriction base="string">
         <maxLength value="60"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string120">
      <restriction base="string">
         <maxLength value="120"/>
      </restriction>
   </simpleType>
</schema>