Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/clientesCredito/xsd/services.xsd

<schema elementFormDefault="qualified" targetNamespace="http://service.srvaplcobisclientescredito.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://dto2.sdf.cts.cobis.cobiscorp.com" xmlns:Q1="http://dto.srvaplcobiscanalesentidades.ecobis.cobiscorp">
    <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/><import schemaLocation="cobiscorp.ecobis.srvaplcobiscanalesentidades.dto.xsd" namespace="http://dto.srvaplcobiscanalesentidades.ecobis.cobiscorp"/><element name="opConsultaBuroCreditoSolicitud" type="Q1:OpConsultaBuroCreditoSolicitud"/><element name="opConsultaBuroCreditoRespuesta" type="Q1:OpConsultaBuroCreditoRespuesta"/><element name="opCreacionClienteSolicitud" type="Q1:OpCreacionClienteSolicitud"/><element name="opCreacionClienteRespuesta" type="Q1:OpCreacionClienteRespuesta"/>
</schema>