Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ActualizaEstadoTransferenciaInternacional/xsd/actualizaEstadoTransferenciaInternacionalTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoTransferenciaInternacionalTypes"
	xmlns:act="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoTransferenciaInternacionalTypes">

<xs:element name="actualizaEstadoTransferenciaInternacional">
	<xs:complexType>
	<xs:sequence>
			<xs:element name="TRANSACTION_ID" type="xs:string"/>
        	        <xs:element name="TYPE" type="xs:string"/>
			<xs:element name="STATUS" type="xs:string"/>
                        <xs:element name="BACKEND_REFERENCE" type="xs:string" minOccurs="0" />
			<xs:element name="ERROR_BACKEND_CODE" type="xs:string" minOccurs="0" />
                        <xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0" />
			<xs:element name="MATH_OPERATOR" type="xs:string" minOccurs="0" />
	</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="actualizaEstadoTransferenciaInternacionalResponse">
</xs:element>

</xs:schema>