Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/OriginacionCredito/xsd/originacionCreditoTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/originacionCreditoTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/originacionCreditoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="originacionCreditoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="USER_NAME" type="xs:string"/>
        <xs:element name="CASE_ID" type="xs:string"/>
        <xs:element name="SALES_ORIGIN" type="xs:string"/>
        <xs:element name="CLIENT_ID" type="xs:string"/>
        <xs:element name="FISCAL_ID" type="xs:string"/>
        <xs:element name="FIRST_NAME" type="xs:string"/>
        <xs:element name="LAST_NAME" type="xs:string"/>
        <xs:element name="BIRTH_DATE" type="xs:date" default="1900-01-01"/>
        <xs:element name="SALARY" type="xs:decimal"/>
        <xs:element name="EMPLOYMENT_START_DATE" type="xs:date" default="1900-01-01"/>
        <xs:element name="GENDER" type="xs:string"/>
        <xs:element name="CLIENT_PROFILE" type="xs:string"/>
        <xs:element name="CAMPAIGN" type="xs:string"/>
        <xs:element name="VIP_CUSTOMER" type="xs:string"/>
        <xs:element name="HOUSING_TYPE" type="xs:string"/>
        <xs:element name="HOUSING_ANTIQUITY" type="xs:integer"/>
        <xs:element name="PERSON_TYPE" type="xs:string"/>
        <xs:element name="PRODUCT_CODE" type="xs:string"/>
        <xs:element name="FOR_CONSOLIDATE" type="tns:forConsolidateType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="originacionCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EVALUATION_DATE" type="xs:date" minOccurs="0" />
        <xs:element name="CASE_ID" type="xs:string" minOccurs="0" />
        <xs:element name="GENERAL_RCI" type="xs:float" minOccurs="0" />
        <xs:element name="GENERAL_RCI_MAX" type="xs:float" minOccurs="0" />
        <xs:element name="GENERAL_CURRENT_NDE" type="xs:float" minOccurs="0" />
        <xs:element name="GENERAL_FINAL_NDE" type="xs:float" minOccurs="0" />
        <xs:element name="CREDIT_CARD_SCORE" type="xs:integer" minOccurs="0" />
        <xs:element name="SCORE_STRATEGY" type="xs:string" minOccurs="0" />
        <xs:element name="SCORE_TYPE" type="xs:string" minOccurs="0" />
        <xs:element name="INTERNAL_SCORE" type="xs:float" minOccurs="0" />
        <xs:element name="CREDIT_CARD_RISK_LEVEL" type="xs:string" minOccurs="0" />
        <xs:element name="INTERNAL_RISK_LEVEL" type="xs:string" minOccurs="0" />
        <xs:element name="EXTERNAL_RISK_LEVEL" type="xs:string" minOccurs="0" />
        <xs:element name="CUSTOMER_SEGMENT" type="xs:string" minOccurs="0" />
        <xs:element name="CUSTOMER_SUB_SEGMENT" type="xs:string" minOccurs="0" />
        <xs:element name="CUSTOMER_SALARY_SEGMENT" type="xs:string" minOccurs="0" />
        <xs:element name="CURRENT_EXPOSURE" type="xs:decimal" minOccurs="0" />
        <xs:element name="GLOBAL_EXPOSURE_LOCAL_CCY" type="xs:decimal" minOccurs="0" />
        <xs:element name="GLOBAL_EXPOSURE_FOREIGN_CCY" type="xs:decimal" minOccurs="0" />
        <xs:element name="CREDIT_CARD_OVERDRAFT" type="xs:decimal" minOccurs="0" />
        <xs:element name="CREDIT_REFERENCES" type="xs:integer" minOccurs="0" />
        <xs:element name="ACTIVE_DIRECT_CREDITS" type="xs:integer" minOccurs="0" />
        <xs:element name="CANCELED_DIRECT_CREDITS" type="xs:integer" minOccurs="0" />
        <xs:element name="ACTIVE_INDIRECT_CREDITS" type="xs:integer" minOccurs="0" />
        <xs:element name="CANCELED_INDIRECT_CREDITS" type="xs:integer" minOccurs="0" />
        <xs:element name="INTERNAL_LOAN_REFERENCES" type="xs:integer" minOccurs="0" />
        <xs:element name="REWRITE_REFERENCES" type="xs:integer" minOccurs="0" />
        <xs:element name="TOTAL_EXTRA" type="xs:decimal" minOccurs="0" />
        <xs:element name="TOTAL_RISK" type="xs:decimal" minOccurs="0" />
        <xs:element name="CURRENT_ARREAR" type="xs:integer" minOccurs="0" />
        <xs:element name="CURRENT_ARREAR_BALANCE" type="xs:decimal" minOccurs="0" />
        <xs:element name="CREDIT_EXPERIENCE" type="xs:integer" minOccurs="0" />
        <xs:element name="ARREAR_ON_30_DAYS_FOR_3_MONTHS" type="xs:integer" minOccurs="0" />
        <xs:element name="ARREAR_ON_60_DAYS_FOR_6_MONTHS" type="xs:integer" minOccurs="0" />
        <xs:element name="ARREAR_ON_60_DAYS_FOR_12_MONTHS" type="xs:integer" minOccurs="0" />
        <xs:element name="ARREAR_ON_90_DAYS_FOR_12_MONTHS" type="xs:integer" minOccurs="0" />
        <xs:element name="ARREAR_ON_120_DAYS_FOR_18_MONTHS" type="xs:integer" minOccurs="0" />
        <xs:element name="TOTAL_DIRECT_DEBT" type="xs:decimal" minOccurs="0" />
        <xs:element name="TOTAL_INDIRECT_DEBT" type="xs:decimal" minOccurs="0" />
        <xs:element name="TOTAL_CONTINGENT_DEBT" type="xs:decimal" minOccurs="0" />
        <xs:element name="CALCULATED_SALARY" type="xs:decimal" minOccurs="0" />
        <xs:element name="DEBT_BURDEN_SALARY" type="xs:float" minOccurs="0" />
        <xs:element name="BUREAU_INSTALLMENT" type="xs:decimal" minOccurs="0" />
        <xs:element name="BUREAU_INSTALLMENT_EXTERNAL" type="xs:decimal" minOccurs="0" />
        <xs:element name="TOTAL_BUREAU_INSTALLMENT" type="xs:decimal" minOccurs="0" />
        <xs:element name="MAX_LIMIT_CREDICT_CARD" type="xs:decimal" minOccurs="0" />
        <xs:element name="AVERAGE_LIMIT_CREDIT_CARD" type="xs:decimal" minOccurs="0" />
        <xs:element name="CONSOLIDATE_BALANCE" type="xs:decimal" minOccurs="0" />
        <xs:element name="SIB_REFERENCE" type="xs:string" minOccurs="0" />
        <xs:element name="REFERENCE" type="xs:string" minOccurs="0" />
        <xs:element name="REFERENCE_TYPE" type="xs:string" minOccurs="0" />
        <xs:element name="REFERENCE_ENTITY" type="xs:string" minOccurs="0" />
        <xs:element name="REFERENCE_BALANCE" type="xs:decimal" minOccurs="0" />
        <xs:element name="REFERENCE_OPENING_DATE" type="xs:date" minOccurs="0" />
        <xs:element name="CUSTOMER_LIST" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ASSOCIATION" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ASSOCIATION_NAME" type="xs:string" minOccurs="0"/>
                    <xs:element name="CUSTOMER_STATUS" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RESOLUTIONS" type="tns:resolutionsType" minOccurs="0" />
        <xs:element name="OFFERS" type="tns:offersType" minOccurs="0"/>
        <xs:element name="FOR_CONSOLIDATE" type="tns:forConsolidateType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="resolutionsType">
    <xs:sequence>
      <xs:element name="RESOLUTION" type="tns:resolutionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resolutionType">
    <xs:sequence>
      <xs:element name="RESOLUTION_ID" type="xs:string" minOccurs="0"/>
      <xs:element name="RESOLUTION_DESCRIPTION" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="offersType">
    <xs:sequence>
      <xs:element name="OFFER" type="tns:offerType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="offerType">
    <xs:sequence>
      <xs:element name="PRODUCT_CODE" type="xs:string" minOccurs="0"/>
      <xs:element name="RATE" type="xs:float" default="0.0" minOccurs="0"/>
      <xs:element name="INSTALLMENT" type="xs:float" default="0.0" minOccurs="0"/>
      <xs:element name="INSTALLMENT_NDE" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="INSTALLMENT_RCI_NONP2C" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="INSTALLMENT_RCI_P2C" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="FOR_12_MONTHS" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="FOR_18_MONTHS" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="FOR_24_MONTHS" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="FOR_36_MONTHS" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="FOR_48_MONTHS" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="FOR_60_MONTHS" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="FOR_72_MONTHS" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="FOR_84_MONTHS" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="FOR_96_MONTHS" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="FOR_108_MONTHS" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="FOR_120_MONTHS" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="FOR_MAX_AMOUNT" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="MEG_OFFER" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="MAX_OFFER" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="NDE_OFFER" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="NONP2C_OFFER" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="P2C_OFFER" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="RCI_OFFER" type="xs:decimal" default="0.0" minOccurs="0"/>
      <xs:element name="TIMESINCOME_OFFER" type="xs:float" default="0.0" minOccurs="0"/>
      <xs:element name="RCI" type="xs:float" default="0.0" minOccurs="0"/>
      <xs:element name="TIMESINCOME" type="xs:float" default="0" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="forConsolidateType">
    <xs:sequence>
      <xs:element name="REFERENCE" type="tns:referenceToConsolidateType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="referenceToConsolidateType">
    <xs:sequence>
      <xs:element name="REFERENCE_TYPE" type="xs:string" minOccurs="0" />
      <xs:element name="REFERENCE_CURRENCY" type="xs:string" minOccurs="0" />
      <xs:element name="REFERENCE_ENTITY" type="xs:string" minOccurs="0" />
      <xs:element name="CHECK_BENEFICIARY" type="xs:string" minOccurs="0" />
      <xs:element name="REFERENCE_ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
      <xs:element name="REFERENCE_LIMIT_AMOUNT" type="xs:decimal" minOccurs="0" />
      <xs:element name="REFERENCE_INSTALLMENT_AMOUNT" type="xs:decimal" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>