Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/NotificaTransaccionFraude/wsdl/notificaTransaccionFraudePS.wsdl

<wsdl:definitions name="notificaTransaccionPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/notificaTransaccionPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/notificaTransaccionPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:alt="http://www.ficohsa.com.hn/middleware.services/AlertasFraude" xmlns:tns="http://www.bea.com/wli/sb/stages/transform/config">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/AlertasFraude" schemaLocation="../../AlertasFraude/xsd/alertasFraudeTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestHeader">
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="responseHeader">
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
     
    <wsdl:message name="notificaTransaccionRequest">
        <wsdl:part element="alt:notificaTransaccionRequest" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="notificaTransaccionResponse">
        <wsdl:part element="alt:notificaTransaccionResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:portType name="notificaTransaccionPS">
        <wsdl:operation name="notificaTransaccionFraude" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:notificaTransaccionRequest"/>
            <wsdl:output message="fic:notificaTransaccionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="notificaTransaccionPSSOAP" type="fic:notificaTransaccionPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="notificaTransaccionFraude">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/notificaTransaccionPS/notificaTransaccionFraude"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="notificaTransaccionPS">
        <wsdl:port binding="fic:notificaTransaccionPSSOAP" name="notificaTransaccionPSSOAP">
           <soap:address location="https://172.23.13.19:8004/Middleware/AlertasFraude/notificaTransaccionFraude"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>