Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/emisionChequesGerencia/emisionChequesGerenciaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/emisionChequesGerenciaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/emisionChequesGerenciaTypes">

	<xs:complexType name="emisionChequesGerenciaResponseType">
		<xs:sequence>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="emisionChequesGerencia">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="1" />
				<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="1" />
				<xs:element name="AMOUNT" type="xs:string" minOccurs="1" />
				<xs:element name="DESCRIPTION" type="xs:string" minOccurs="1" />       
				<xs:element name="WITHDRAWAL_BRANCH_ID" type="xs:string" minOccurs="1" />
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" minOccurs="1" />
				<xs:element name="CHEQUE_CURRENCY" type="xs:string" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="emisionChequesGerenciaResponse" type="cons:emisionChequesGerenciaResponseType"/>
	
</xs:schema>