Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/RNP/consultaCompletaInscripcion/xsd/consultaCompletaInscripcionTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPTypes">
  <xs:complexType name="errorDetailsType">
    <xs:sequence>
      <xs:element name="ERROR_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personalInformartionType">
    <xs:sequence>
      <xs:element name="INSCRIPTION_NUMBER" type="xs:string" minOccurs="0"/>
      <xs:element name="GIVEN_NAMES" type="xs:string" minOccurs="0"/>
      <xs:element name="LAST_NAME" type="xs:string" minOccurs="0"/>
      <xs:element name="SECOND_SURNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="GENDER" type="xs:string" minOccurs="0"/>
      <xs:element name="DATE_OF_BIRTH" type="xs:date" minOccurs="0"/>
      <xs:element name="MARITAL_STATUS" type="xs:integer" minOccurs="0"/>
      <xs:element name="STATUS" type="xs:integer" minOccurs="0"/>
      <xs:element name="DATE_OF_DEATH" type="xs:date" minOccurs="0"/>
      <xs:element name="ERROR_DETAILS" type="tns:errorDetailsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parentsInformartionType">
    <xs:sequence>
      <xs:element name="TYPE" type="xs:string"/>
      <xs:element name="INSCRIPTION_NUMBER" type="xs:string" minOccurs="0"/>
      <xs:element name="GIVEN_NAMES" type="xs:string" minOccurs="0"/>
      <xs:element name="LAST_NAME" type="xs:string" minOccurs="0"/>
      <xs:element name="SECOND_SURNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="GENDER" type="xs:string" minOccurs="0"/>
      <xs:element name="DATE_OF_BIRTH" type="xs:date" minOccurs="0"/>
      <xs:element name="MARITAL_STATUS" type="xs:integer" minOccurs="0"/>
      <xs:element name="STATUS" type="xs:integer" minOccurs="0"/>
      <xs:element name="DATE_OF_DEATH" type="xs:date" minOccurs="0"/>
      <xs:element name="ERROR_DETAILS" type="tns:errorDetailsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!--############################################-->
  <!--OPERACION: CONSULTA COMPLETA INSCRIPCION-->
  <!--############################################-->
  <xs:element name="consultaCompletaInscripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LEGAL_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="INSTITUTION_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="SECURITY_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="INSTITUTION_USER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaCompletaInscripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSONAL_INFORMATION" type="tns:personalInformartionType" minOccurs="0"/>
        <xs:element name="PARENTS_INFORMATION" type="tns:parentsType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="parentsType">
    <xs:sequence>
      <xs:element name="PARENT" type="tns:parentsInformartionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>