Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/CancelarTarjetaCredito/wsdl/cancelarTarjetaCreditoPS.wsdl

<wsdl:definitions name="gestionesTarjetasPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/cancelarTarjetaCreditoPS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/cancelarTarjetaCreditoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" schemaLocation="../../GestionesTarjetas/xsd/gestionesTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>


	<wsdl:message name="cancelarTarjetaCreditoRequest">
		<wsdl:part element="tns:cancelarTarjetaCredito" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="cancelarTarjetaCreditoResponse">
		<wsdl:part element="tns:cancelarTarjetaCreditoResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="cancelarTarjetaCreditoPS">
		<wsdl:operation name="cancelarTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:cancelarTarjetaCreditoRequest"/>
			<wsdl:output message="op:cancelarTarjetaCreditoResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="cancelarTarjetaCreditoPSSOAP" type="op:cancelarTarjetaCreditoPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="cancelarTarjetaCredito">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="cancelarTarjetaCreditoPS">
		<wsdl:port binding="op:cancelarTarjetaCreditoPSSOAP" name="cancelarTarjetaCreditoPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/CancelarTarjetaCredito/"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>