Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/SJS/consultaDatosTarjetaCredito/xsd/sjconsultaDatosTarjetaCreditoTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjconsultaDatosTarjetaCreditoTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/sjconsultaDatosTarjetaCreditoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: sjconsultaDatosTarjetaCredito -->
    <!--############################################-->
    <xs:element name="sjconsultaDatosTarjetaCredito">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_INFORMATION" minOccurs="0" maxOccurs="unbounded">
		        	<xs:complexType>
		            	<xs:sequence>
			                <xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
							<xs:element name="ORG" type="xs:string" minOccurs="0" />
							<xs:element name="ORG_TYPE" type="xs:string" minOccurs="0" />
		                </xs:sequence>
	               	</xs:complexType>
	            </xs:element>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    <xs:element name="sjconsultaDatosTarjetaCreditoResponse">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="DUAL_INDICATOR" type="xs:string" minOccurs="0"/>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_HOLDER_NAME" type="xs:string"  minOccurs="0"/>
				<xs:element name="ACCOUNT_HOLDER_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_HOLDER_LEGAL_ID" type="xs:string"  minOccurs="0"/>
                <xs:element name="ACCOUNT_HOLDER_LEGAL_ID" type="xs:string"  minOccurs="0"/>
                <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="ACCOUNT_STATUS" type="xs:string"  minOccurs="0"/>
                <xs:element name="CARD_TYPE" type="xs:string" minOccurs="0"/>
                <xs:element name="AFINITY_GROUP" type="xs:string" minOccurs="0" />                
                <xs:element name="CARD_CURRENCY_INFORMATION" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ORG_IND" type="xs:string"  minOccurs="0"/>
                            <xs:element name="ORG" type="xs:integer" minOccurs="0"/>
                            <xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
                            <xs:element name="ANUAL_PURCHASE_LIMIT" type="xs:string" minOccurs="0" />
                            <xs:element name="ANUAL_WITHDRAWAL_LIMIT" type="xs:string"  minOccurs="0"/>
                            <xs:element name="MONTHLY_PURCHASE_LIMIT" type="xs:string" minOccurs="0"/>
                            <xs:element name="MONTHLY_WITHDRAWAL_LIMIT" type="xs:string" minOccurs="0"/>
                            <xs:element name="DAILY_PURCHASE_LIMIT" type="xs:decimal" minOccurs="0"/>
                            <xs:element name="DAILY_WITHDRAWAL_LIMIT" type="xs:decimal" minOccurs="0" />
                            <xs:element name="CARD_ACTIVATION_DATE" type="xs:date" minOccurs="0"/>
                            <xs:element name="CARD_STATUS" type="xs:string" minOccurs="0" />
                            <xs:element name="CARD_EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="EMBOSSED_NUMBER" type="xs:string" minOccurs="0" />
                            <xs:element name="BLOCK_CODE" type="xs:string" minOccurs="0" />
                            <xs:element name="BLOCK_REASON" type="xs:string" minOccurs="0" />
                            <xs:element name="BLOCK_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="PRODUCT" type="xs:string" minOccurs="0"/>
                            <xs:element name="PIN_INDICATOR" type="xs:string" minOccurs="0"/>
                            <xs:element name="CURRENT_PLASTIC_ACTION" type="xs:string" minOccurs="0"/>
                            <xs:element name="LAST_ACTION_PLASTIC" type="xs:string" minOccurs="0"/>
                            <xs:element name="DATE_LAST_ISSUANCE_PLASTIC" type="xs:string" minOccurs="0"/>
                            <xs:element name="PRIVILEGE_CODE" type="xs:string" minOccurs="0"/>
                            <xs:element name="PRIORITY_PASS" type="xs:string" minOccurs="0"/>
                            <xs:element name="LIMIT_INDICATOR_EXPENSES" type="xs:string" minOccurs="0"/>
                            <xs:element name="PERCENTAGE_LIMIT_DAILY_PURCHASE" type="xs:string" minOccurs="0"/>
                            <xs:element name="PERCENTAGE_MONTHLY_PURCHASE_LIMIT" type="xs:string" minOccurs="0"/>
                            <xs:element name="ANNUAL_PURCHASE_LIMIT_PERCENTAGE" type="xs:string" minOccurs="0"/>
                            <xs:element name="DAILY_WITHDRAWAL_LIMIT_PERCENTAGE" type="xs:string" minOccurs="0"/>                            
                            <xs:element name="MONTHLY_WITHDRAWAL_LIMIT_PERCENTAGE" type="xs:string" minOccurs="0"/>                            
                            <xs:element name="ANNUAL_RETIREMENT_LIMIT_PERCENTAGE" type="xs:string" minOccurs="0"/>
                            <xs:element name="NUM_WITHDRAWALS_APPLIED_TODAY" type="xs:string" minOccurs="0"/>
                            <xs:element name="NUM_WITHDRAWALS_APPLIED_MONTH_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="NUM_WITHDRAWALS_APPLIED_YEAR_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="AMOUNT_IN_WITHDRAWALS_APPLIED_TODAY" type="xs:string" minOccurs="0"/>
                            <xs:element name="AMOUNT_WITHDRAWALS_APPLIED_MONTH_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="AMOUNT_WITHDRAWALS_APPLIED_YEAR_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="NUM_DECLINED_RETIREMENTS_TODAY" type="xs:string" minOccurs="0"/>
                            <xs:element name="NUM_DECLINED_RETIREMENTS_MONTH_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="NUM_DECLINED_RETIREMENTS_YEAR_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="AMOUNT_DECLINED_RETIREMENTS_TODAY" type="xs:string" minOccurs="0"/>
                            <xs:element name="AMOUNT_DECLINED_WITHDRAWALS_MONTH_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="AMOUNT_DECLINED_RETIREMENTS_YEAR_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="NUM_PURCHASES_APPLIED_TODAY" type="xs:string" minOccurs="0"/>
                            <xs:element name="NUM_PURCHASES_APPLIED_MONTH_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="NUM_PURCHASES_APPLIED_YEAR_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="AMOUNT_APPLIED_PURCHASES_TODAY" type="xs:string" minOccurs="0"/>
                            <xs:element name="AMOUNT_APPLIED_PURCHASES_MONTH_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="AMOUNT_APPLIED_PURCHASES_YEAR_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="NUM_PURCHASES_DECLINED_TODAY" type="xs:string" minOccurs="0"/>
                            <xs:element name="NUM_PURCHASES_DECLINED_MONTH_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="NUM_PURCHASES_DECLINED_YEAR_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="AMOUNT_PURCHASES_DECLINED_TODAY" type="xs:string" minOccurs="0"/>
                            <xs:element name="AMOUNT_PURCHASES_DECLINED_MONTH_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="AMOUNT_PURCHASES_DECLINED_YEAR_TO_DATE" type="xs:string" minOccurs="0"/>
                            <xs:element name="CREDIT_CARD_STATUS" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ERROR_CODE" type="xs:string" minOccurs="0"/>
                <xs:element name="MENSAJE_ERROR" type="xs:string" minOccurs="0" />   
			</xs:sequence>
		</xs:complexType>
    </xs:element>
</xs:schema>