Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/consultaCuentaTC/xsd/consultaCuentaTC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaCuentaTC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaCuentaTC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_PAIS" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_CUENTA" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         	<element name="PV_ORG" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_CUENTA_TC" type="db:CLIENTDATA.O_CUENTA_TC" db:index="6" db:type="Struct" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CLIENTDATA.O_CUENTA_TC">
      <sequence>
         <element name="ACCOUNT_NUMBER" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LOGO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_CYCLE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OPENING_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="SETTLEMENT_MODEL" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LAST_CUTOFF_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="NEXT_CUTOFF_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="MAX_PAYMENT_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="HOLDER_INFORMATION" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="BALANCE_INFORMATION" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="CHANGE_PRODUCT_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="NEW_LOGO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NEW_ACCOUNT_NUMBER" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LAST_DATE_LIMIT_CHANGE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CASH_BACK_EARNED" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RSN_CHARGES" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_HOLDER_LEGAL_ID" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_HOLDER_NAME" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AFP_ID" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DATE_BENEFIT_CHANGE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string19">
      <restriction base="string">
         <maxLength value="19"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string60">
      <restriction base="string">
         <maxLength value="60"/>
      </restriction>
   </simpleType>
</schema>