Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKGT/registrarDatosExpediente/xsd/registrarDatosExpediente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registrarDatosExpediente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registrarDatosExpediente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PT_CAMPOS" type="db:PROXYABANKSGT.TVARCHAR100" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_VALORES" type="db:PROXYABANKSGT.TVARCHAR100" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_ESTADO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ESTADO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.TVARCHAR100">
      <sequence>
         <element name="PT_CAMPOS_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>
