Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultaMovimientosCajero/ConsultaMovimientosCajero_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaMovimientosCajero" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaMovimientosCajero" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_TELLERID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BRANCHCODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_TRXID" type="db:OSB_K_MOV_CAJERO_TVARCHAR2" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCION" type="db:OSB_K_MOV_CAJERO_TVARCHAR2" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_MONTO" type="db:OSB_K_MOV_CAJERO_TNUMBER" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA" type="db:OSB_K_MOV_CAJERO_TVARCHAR2" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_FECHACORE" type="db:OSB_K_MOV_CAJERO_TVARCHAR2" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_FECHACALENDARIO" type="db:OSB_K_MOV_CAJERO_TVARCHAR2" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_HORA" type="db:OSB_K_MOV_CAJERO_TVARCHAR2" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_ERROR" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="OSB_K_MOV_CAJERO_TNUMBER">
      <sequence>
         <element name="PV_MONTO_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="OSB_K_MOV_CAJERO_TVARCHAR2">
      <sequence>
         <element name="PV_TRXID_ITEM" type="db:string250" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
</schema>