Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/PagosMasivos/wsdl/pagosMasivosPS.wsdl

<wsdl:definitions name="pagosMasivosPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:pag="http://www.ficohsa.com.hn/middleware.services/pagosMasivosTypes">

  <wsdl:types>
    <xsd:schema>
        <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
    </xsd:schema>
    <xsd:schema>
        <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/pagosMasivosTypes" schemaLocation="../xsd/pagosMasivosTypes.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="requestHeader">
    <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
  </wsdl:message>

  <wsdl:message name="responseHeader">
    <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
  </wsdl:message>

  <wsdl:message name="pagosMasivosRequest">
    <wsdl:part element="pag:pagosMasivos" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="pagosMasivosResponse">
    <wsdl:part element="pag:pagosMasivosResponse" name="result"/>
  </wsdl:message>

  <wsdl:message name="consultaLotesClienteRequest">
    <wsdl:part element="pag:consultaLotesCliente" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="consultaLotesClienteResponse">
    <wsdl:part element="pag:consultaLotesClienteResponse" name="result"/>
  </wsdl:message>

  <wsdl:message name="consultaDetalleLoteRequest">
    <wsdl:part element="pag:consultaDetalleLote" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="consultaDetalleLoteResponse">
    <wsdl:part element="pag:consultaDetalleLoteResponse" name="result"/>
  </wsdl:message>

  <wsdl:message name="consultaTransaccionLoteRequest">
    <wsdl:part element="pag:consultaTransaccionLote" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="consultaTransaccionLoteResponse">
    <wsdl:part element="pag:consultaTransaccionLoteResponse" name="result"/>
  </wsdl:message>

  <wsdl:message name="cargarArchivoLoteRequest">
    <wsdl:part element="pag:cargarArchivoLote" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="cargarArchivoLoteResponse">
    <wsdl:part element="pag:cargarArchivoLoteResponse" name="result"/>
  </wsdl:message>

  <wsdl:message name="autorizarLoteRequest">
    <wsdl:part element="pag:autorizarLote" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="autorizarLoteResponse">
    <wsdl:part element="pag:autorizarLoteResponse" name="result"/>
  </wsdl:message>

    <wsdl:message name="cancelarLoteRequest">
    <wsdl:part element="pag:cancelarLote" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="cancelarLoteResponse">
    <wsdl:part element="pag:cancelarLoteResponse" name="result"/>
  </wsdl:message>

  <wsdl:message name="editarEstadoRegistroLoteRequest">
    <wsdl:part element="pag:editarEstadoRegistroLote" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="editarEstadoRegistroLoteResponse">
    <wsdl:part element="pag:editarEstadoRegistroLoteResponse" name="result"/>
  </wsdl:message>

  <wsdl:message name="consultaEstadoLoteRequest">
    <wsdl:part element="pag:consultaEstadoLote" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="consultaEstadoLoteResponse">
    <wsdl:part element="pag:consultaEstadoLoteResponse" name="result"/>
  </wsdl:message>

  <wsdl:message name="cargarProveedoresRequest">
    <wsdl:part element="pag:cargarProveedores" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="cargarProveedoresResponse">
    <wsdl:part element="pag:cargarProveedoresResponse" name="result"/>
  </wsdl:message>

  <wsdl:message name="consultarProveedoresRequest">
    <wsdl:part element="pag:consultarProveedores" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="consultarProveedoresResponse">
    <wsdl:part element="pag:consultarProveedoresResponse" name="result"/>
  </wsdl:message>  

  <wsdl:message name="autorizarProveedoresRequest">
    <wsdl:part element="pag:autorizarProveedores" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="autorizarProveedoresResponse">
    <wsdl:part element="pag:autorizarProveedoresResponse" name="result"/>
  </wsdl:message>

  <wsdl:message name="eliminarProveedoresRequest">
    <wsdl:part element="pag:eliminarProveedores" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="eliminarProveedoresResponse">
    <wsdl:part element="pag:eliminarProveedoresResponse" name="result"/>
  </wsdl:message>

  <wsdl:portType name="pagosMasivosPS">
    <wsdl:operation name="pagosMasivos" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:pagosMasivosRequest"/>
      <wsdl:output message="fic:pagosMasivosResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaLotesCliente" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultaLotesClienteRequest"/>
      <wsdl:output message="fic:consultaLotesClienteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaDetalleLote" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultaDetalleLoteRequest"/>
      <wsdl:output message="fic:consultaDetalleLoteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaTransaccionLote" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultaTransaccionLoteRequest"/>
      <wsdl:output message="fic:consultaTransaccionLoteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="cargarArchivoLote" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:cargarArchivoLoteRequest"/>
      <wsdl:output message="fic:cargarArchivoLoteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="autorizarLote" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:autorizarLoteRequest"/>
      <wsdl:output message="fic:autorizarLoteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="cancelarLote" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:cancelarLoteRequest"/>
      <wsdl:output message="fic:cancelarLoteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="editarEstadoRegistroLote" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:editarEstadoRegistroLoteRequest"/>
      <wsdl:output message="fic:editarEstadoRegistroLoteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaEstadoLote" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultaEstadoLoteRequest"/>
      <wsdl:output message="fic:consultaEstadoLoteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="cargarProveedores" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:cargarProveedoresRequest"/>
      <wsdl:output message="fic:cargarProveedoresResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultarProveedores" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:consultarProveedoresRequest"/>
      <wsdl:output message="fic:consultarProveedoresResponse"/>
    </wsdl:operation>
    <wsdl:operation name="autorizarProveedores" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:autorizarProveedoresRequest"/>
      <wsdl:output message="fic:autorizarProveedoresResponse"/>
    </wsdl:operation>
    <wsdl:operation name="eliminarProveedores" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="fic:eliminarProveedoresRequest"/>
      <wsdl:output message="fic:eliminarProveedoresResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="pagosMasivosPSSOAP" type="fic:pagosMasivosPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="pagosMasivos">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaLotesCliente">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaDetalleLote">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaTransaccionLote">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarArchivoLote">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autorizarLote">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarLote">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarEstadoRegistroLote">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaEstadoLote">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarProveedores">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarProveedores">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autorizarProveedores">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarProveedores">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagosMasivosPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="pagosMasivosPS">
    <wsdl:port binding="fic:pagosMasivosPSSOAP" name="pagosMasivosPSSOAP">
      <soap:address location="http://mwomnicanal:8003/Middleware/OperationsAndExecution/Payments/pagosMasivos"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>