Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FPC/listadoParentesco/xsd/listadoParentescoFPC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/listadoParentescoFPC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/listadoParentescoFPC" elementFormDefault="qualified">
   <element name="InputParameters">
      <!--Empty Parameter List-->
      <complexType/>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="T_PARENTESCOS" type="db:CA.CA_WEB_SERVICE_TAX111959X2X1" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CODIGO_ERROR" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_ERROR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CA.CA_WEB_SERVICE_TYX111959X2X2">
      <sequence>
         <element name="COD_PARENTESCO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DES_PARENTESCO" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="CA.CA_WEB_SERVICE_TAX111959X2X1">
      <sequence>
         <element name="T_PARENTESCOS_ITEM" type="db:CA.CA_WEB_SERVICE_TYX111959X2X2" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string80">
      <restriction base="string">
         <maxLength value="80"/>
      </restriction>
   </simpleType>
</schema>