Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ReversaCuponATM/xsd/reversaCuponATMTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/reversaCuponATMTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:rba="http://www.ficohsa.com.hn/middleware.services/reversaCuponATMTypes">

	<xs:simpleType name="currencyClassType">
		<xs:restriction base="xs:string">
			<xs:minLength value="3" />
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>
	
	<!--############################### -->
	<!--OPERACION: REVERSA ATM CON CUPON -->
	<xs:element name="reversaCuponATM">
		<xs:complexType>
			<xs:sequence>			
				<xs:element name="RETRIEVAL_REFERENCE" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="reversaCuponATMResponse">
		<xs:complexType>
			<xs:sequence>
			    <xs:element name="TRANSACTION_DATE" type="xs:dateTime" minOccurs="0" />
				<xs:element name="AUTORIZATION_NUMBER" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>