Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CLIENTDATA/registraMovimientosRecientesTC/xsd/registraMovimientosRecientesTC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraMovimientosRecientesTC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraMovimientosRecientesTC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PT_MOVIMIENTOS_RECIENTES_TC" type="db:CLIENTDATA.T_MOVIMIENTOS_RECIENTES_TC" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_COUNTRY_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_ERROR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CLIENTDATA.T_MOVIMIENTOS_RECIENTES_TC">
      <sequence>
         <element name="PT_MOVIMIENTOS_RECIENTES_TC_ITEM" type="db:CLIENTDATA.O_MOVIMIENTOS_RECIENTES_TC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="CLIENTDATA.O_MOVIMIENTOS_RECIENTES_TC">
      <sequence>
         <element name="OWNER_NAME" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_NUMBER" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CREDIT_LIMIT" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CREDIT_LIMIT_CCY" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PREVIOUS_BALANCE_LCY" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PREVIOUS_BALANCE_FCY" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MOVEMENTS_DETAIL" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string60">
      <restriction base="string">
         <maxLength value="60"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
</schema>