Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/Recaudos/RegistrarRelacionOperacionRecaudo/FLINK_OSB_REGISTRAR_OPER_RECAUDO.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_REGISTRAR_OPER_RECAUDO/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_REGISTRAR_OPER_RECAUDO/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_CONTRATO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_DEUDOR" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_FACTURA" type="db:TVARCHAR100" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MONEDA_FACTURA" type="db:TVARCHAR100" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="FECHA_FACTURA" type="db:TVARCHAR100" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="FECHA_VENCIMIENTO" type="db:TVARCHAR100" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MONTO_FACTURA" type="db:TVARCHAR100" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MORA" type="db:TVARCHAR100" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MONEDA_SOLICITUD" type="db:TVARCHAR100" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="MONTO_TOTAL" type="db:TVARCHAR100" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ESTADO" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_ERROR" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_ERROR" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TVARCHAR100">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>