Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/impuesto/xsd/services.xsd

<schema elementFormDefault="qualified" targetNamespace="http://service.srvaplcobisimpuestos.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://dto2.sdf.cts.cobis.cobiscorp.com" xmlns:Q1="http://dto.srvaplcobisentidades.ecobis.cobiscorp">
    <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/><import schemaLocation="cobiscorp.ecobis.srvaplcobisentidades.dto.xsd" namespace="http://dto.srvaplcobisentidades.ecobis.cobiscorp"/><element name="opConsultaDGISolicitud" type="Q1:OpConsultaDGISolicitud"/><element name="opConsultaDGIRespuesta" type="Q1:OpConsultaDGIRespuesta"/><element name="opPagoDGISolicitud" type="Q1:OpPagoDGISolicitud"/><element name="opPagoDGIRespuesta" type="Q1:OpPagoDGIRespuesta"/>
</schema>