Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/actualizaDatosCliente/wsdl/actualizaDatosCliente.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_1308402272.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_1014999265.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Actualizardatosdecliente">
<part name="parameters" element="tns:Actualizardatosdecliente"/>
</message>
<message name="ActualizardatosdeclienteResponse">
<part name="parameters" element="tns:ActualizardatosdeclienteResponse"/>
</message>
<message name="Actualizardatosdecliente_Validate">
<part name="parameters" element="tns:Actualizardatosdecliente_Validate"/>
</message>
<message name="Actualizardatosdecliente_ValidateResponse">
<part name="parameters" element="tns:Actualizardatosdecliente_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Actualizardatosdecliente">
<input message="tns:Actualizardatosdecliente"/>
<output message="tns:ActualizardatosdeclienteResponse"/>
</operation>
<operation name="Actualizardatosdecliente_Validate">
<input message="tns:Actualizardatosdecliente_Validate"/>
<output message="tns:Actualizardatosdecliente_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizardatosdecliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizardatosdecliente_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.55:7003/svcActualizaDatosCliente/services"/>
</port>
</service>
</definitions>