Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/tarjetasDebito/bloqueoTarjetasDebito/bloqueoTarjetasDebitoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/bloqueoTarjetasDebitoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/bloqueoTarjetasDebitoTypes">

	<xs:element name="bloqueoTarjetasDebito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_CARD_NUMBER" type="xs:string" />
				<xs:element name="BLOCK_MOTIVE" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="bloqueoTarjetasDebitoResponse"/>

</xs:schema>