Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/BusinessServices/DepositoACuenta/xsd/XMLSchema_-1223083796.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/depositoACuenta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dep="http://www.ficohsa.com.hn/middleware.services/depositoACuenta">
		
	<xs:complexType name="depositoACuentaResponseType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="DEPOSIT_ITEMS" type="dep:depositItems" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DEPOSIT_REFERENCE" type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="depositoACuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="CURRENCY">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>				
				<xs:element name="DEPOSIT_ITEMS" type="dep:depositItems" minOccurs="1" maxOccurs="1"/>
				<xs:element name="DEPOSIT_REFERENCE" type="xs:string" minOccurs="0"/>				
				<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="depositItems">
		<xs:sequence>
			<xs:element name="DEPOSIT_ITEM" type="dep:depositItem" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType> 

	<xs:complexType name="depositItem">
		<xs:sequence>
			<xs:element name="DEPOSIT_TYPE">
				<xs:simpleType>
	        		<xs:restriction base="xs:string">
	        			<xs:enumeration value="CASH"/>
	        			<xs:enumeration value="OWN_CHEQUE"/>
	        			<xs:enumeration value="CLEARING"/>
	        			<xs:enumeration value="INTL_CHQ_US"/>
	        			<xs:enumeration value="INTL_CHQ_NON_US"/>
	        		</xs:restriction>
        		</xs:simpleType>				
			</xs:element>
			<xs:element name="AMOUNT">
				<xs:simpleType>
	        		<xs:restriction base="xs:string">
	        			<xs:minLength value="1"/>
	        		</xs:restriction>
        		</xs:simpleType>				
			</xs:element>		
			<xs:element name="CHEQUE_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="BANK_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="BANK_DESCRIPTION" type="xs:string" minOccurs="0"/>														
		</xs:sequence>
	</xs:complexType>
 	
	<xs:element name="depositoACuentaResponse" type="dep:depositoACuentaResponseType"/>
	
</xs:schema>