Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultaReciboTransaccionRTE/ConsultaReciboTransaccionRTE.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaReciboTransaccionRTETypes"
	xmlns:com="http://www.ficohsa.com.hn/middleware.services/consultaReciboTransaccionRTETypes">
	
	<xs:element name="consultaReciboTransaccionRTE">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TRANSACTION_ID" type="xs:string"/>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaReciboTransaccionRTEResponse">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
	            <xs:element name="TRANSACTION_NAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
	            <xs:element name="DEALSLIP" type="xs:string" minOccurs="0"/>
	            <xs:element name="CURRENCY " type="xs:string" minOccurs="0"/>
	            <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>