Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/AplicaRetiroATMT24/xsd/aplicaRetiroATMT24Types.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:rcb="http://www.ficohsa.com.hn/middleware.services/aplicaRetiroATMT24Types"
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/aplicaRetiroATMT24Types"
    version="1.0">

    <!--############################### -->
    <!--OPERACION: RETIRO ATM CON BILLETERA -->
    <xs:element name="aplicaRetiroATMT24">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TRANSACTION_CODE" type="xs:string" minOccurs="0"/>
                <xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
                <xs:element name="ATM_DATE" type="xs:string" minOccurs="0"/>
                <xs:element name="ATM_ID" type="xs:string" minOccurs="0"/>
                <xs:element name="PAY_CODE" type="xs:string" minOccurs="0"/>
                <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
                <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
                <xs:element name="ATM_REFERENCE" type="xs:string" minOccurs="0"/>
                <xs:element name="TENGO_REFERENCE" type="xs:string" minOccurs="0"/>
                <xs:element name="OSB_REFERENCE" type="xs:string" minOccurs="0"/>
                <xs:element name="WITHDRAWAL_TYPE" type="rcb:BilleteraCuponType" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<!-- BILLETERA TYPE -->
	<xs:simpleType name="BilleteraCuponType">
		<xs:restriction base="xs:string">
		<xs:enumeration value="BILLETERA"/>
			<xs:enumeration value="CUPON"/>
		</xs:restriction>
	</xs:simpleType>
	
    <xs:element name="aplicaRetiroATMT24Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TRANS_ID" type="xs:string" minOccurs="0" />
                <xs:element name="RESULT" type="xs:string" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>