Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingGT/ProviderServices/XSD/GetTermDepositsList/GetTermDepositsList_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetTermDepositsList_BS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetTermDepositsList_BS" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CUSTOMER_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ASSET_TYPE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="ASSET_TYPE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ASSET_NUMBER" type="db:ORA_BANK.TOPLEVEL_TVARCHAR305" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ASSET_NAME" type="db:ORA_BANK.TOPLEVEL_TVARCHAR1006" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ASSET_CURRENCY" type="db:ORA_BANK.TOPLEVEL_TVARCHAR305" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ASSET_TOTAL_BALANCE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR305" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ASSET_RESERVE_BALANCE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR305" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ASSET_LOCKED_BALANCE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR305" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ASSET_VISA_FLOATING_BALANCE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR305" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ASSET_AVAILABLE_BALANCE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR305" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ASSET_OPENING_DATE" type="db:ORA_BANK.TOPLEVEL_TDATE" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="ORA_BANK.TOPLEVEL_TDATE">
      <sequence>
         <element name="ASSET_OPENING_DATE_ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR1006">
      <sequence>
         <element name="ASSET_NAME_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR305">
      <sequence>
         <element name="ASSET_NUMBER_ITEM" type="db:string30" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>