Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/subasta/consultaSolicitudSubasta/consultaSolicitudSubastaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSolicitudSubastaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaSolicitudSubastaTypes">
	
	<xs:complexType name = "consultaSolicitudSubastaResponseArrayType">
		<xs:sequence>
			<xs:element name="AUCTION_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="AUCTION_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT_REQUESTED" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT_AWARDED" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT_REJECTED" type="xs:string" minOccurs="0" />
			<xs:element name="AUCTION_RATE" type="xs:string" minOccurs="0" />
			<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="AUCTION_STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="TRANSACTION_REFERENCE" type="xs:string" minOccurs="0" />
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaSolicitudSubastaResponseRecordType">
		<xs:sequence>
				<xs:element name="consultaSolicitudSubastaResponseRecordType" type="cons:consultaSolicitudSubastaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaSolicitudSubastaResponseType">
		<xs:sequence>
			<xs:element name="consultaSolicitudSubastaResponseType" type="cons:consultaSolicitudSubastaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaSolicitudSubasta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string"/>
				<xs:element name="AUCTION_STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="AUCTION_DATE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaSolicitudSubastaResponse" type="cons:consultaSolicitudSubastaResponseType"/>
	
</xs:schema>