Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CatalogosInfoPrestamo/ConsultaGruposTasa/xsd/ConsultaGruposTasa_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaGruposTasa" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaGruposTasa" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_COD_TASA" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_DESCRIPTION" type="db:PROXYABANKSHN.TVARCHAR64" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_VALID_DATE" type="db:PROXYABANKSHN.TDATE" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_MAJOR_VALUE" type="db:PROXYABANKSHN.TNUMBER" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_LAST_VALUE" type="db:PROXYABANKSHN.TNUMBER" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_MINOR_VALUE" type="db:PROXYABANKSHN.TNUMBER" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CODE_RATE" type="db:PROXYABANKSHN.TNUMBER" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSHN.TDATE">
      <sequence>
         <element name="P_VALID_DATE_ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TNUMBER">
      <sequence>
         <element name="P_MAJOR_VALUE_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR64">
      <sequence>
         <element name="P_DESCRIPTION_ITEM" type="db:string64" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string64">
      <restriction base="string">
         <maxLength value="64"/>
      </restriction>
   </simpleType>
</schema>