Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaCuentaRetiroEfectivoCB/xsd/consultaCuentaRetiroEfectivoCBTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCuentaRetiroEfectivoCBTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaCuentaRetiroEfectivoCBTypes">

	<xs:element name="consultaCuentaRetiroEfectivo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRODUCT_IDENTIFIER" type="cons:productIdentifier" minOccurs="1" maxOccurs="1"/>
				<xs:element name="LEGAL_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="MOBILE_NUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ACCOUNT_VALIDATION" type="cons:accountValidation" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="productIdentifier">
		<xs:sequence>
			<xs:element name="PRODUCT_TYPE" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DEBIT_CARD"/>
						<xs:enumeration value="ACCOUNT_NUMBER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PRODUCT_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="accountValidation">
		<xs:sequence>
			<xs:element name="VALIDATION_TYPE" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NONE"/>
						<xs:enumeration value="ACCOUNT_NAME"/>
						<xs:enumeration value="CUSTOMER_ID"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VALIDATION_VALUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaCuentaRetiroEfectivoResponse" type="cons:consultaCuentaRetiroEfectivoResponseType"/>

	<xs:complexType name="consultaCuentaRetiroEfectivoResponseType">
		<xs:sequence>
			<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MOBILE_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ACCOUNT_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ACCOUNT_STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>