Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/compensacion/registroRechazoCheque/registroRechazoChequeCompensacionTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/registroRechazoChequeCompensacionTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/registroRechazoChequeCompensacionTypes">
	
	<xs:complexType name = "registroRechazoChequeCompensacionResponseArrayType">
		<xs:sequence>
			            <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="CHEQUE_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="CHARGE_AMOUNT" type="xs:string" minOccurs="0"/>
					</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="registroRechazoChequeCompensacionResponseRecordType">
			<xs:sequence>
					<xs:element name="registroRechazoChequeCompensacionResponseRecordType" type="cons:registroRechazoChequeCompensacionResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="registroRechazoChequeCompensacionResponseType">
		<xs:sequence>
			<xs:element name="registroRechazoChequeCompensacionResponseType" type="cons:registroRechazoChequeCompensacionResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="registroRechazoChequeCompensacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				<xs:element name="DESCRIPTION" type="xs:string"/>
				<xs:element name="CHEQUE_NUMBER" type="xs:string"/>
				<xs:element name="CURRENCY" type="xs:string"/>
				<xs:element name="AMOUNT" type="xs:string"/>
				<xs:element name="REJECTION_TYPE" type="xs:string"/>
				<xs:element name="REJECTION_ID" type="xs:string"/>
				<xs:element name="REJECTION_MOTIVE" type="xs:string"/>
				<xs:element name="CLEARING_CENTER_CODE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="registroRechazoChequeCompensacionResponse" type="cons:registroRechazoChequeCompensacionResponseType"/>
	
</xs:schema>