Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/Safewatch/wsdl/safewatchService.wsdl

<definitions targetNamespace="http://service/" name="SafewatchService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service/" schemaLocation="../xsd/safewatchService_schema.xsd"/>
    </xsd:schema>
  </types>
  <message name="scan">
    <part name="parameters" element="tns:scan"/>
  </message>
  <message name="scanResponse">
    <part name="parameters" element="tns:scanResponse"/>
  </message>
  <message name="updateAlert">
    <part name="parameters" element="tns:updateAlert"/>
  </message>
  <message name="updateAlertResponse">
    <part name="parameters" element="tns:updateAlertResponse"/>
  </message>
  <message name="checkAlert">
    <part name="parameters" element="tns:checkAlert"/>
  </message>
  <message name="checkAlertResponse">
    <part name="parameters" element="tns:checkAlertResponse"/>
  </message>
  <message name="createAlert">
    <part name="parameters" element="tns:createAlert"/>
  </message>
  <message name="createAlertResponse">
    <part name="parameters" element="tns:createAlertResponse"/>
  </message>
  <message name="checkAlertAll">
    <part name="parameters" element="tns:checkAlertAll"/>
  </message>
  <message name="checkAlertAllResponse">
    <part name="parameters" element="tns:checkAlertAllResponse"/>
  </message>
  <portType name="Safewatch">
    <operation name="scan">
      <input wsam:Action="http://service/Safewatch/scanRequest" message="tns:scan"/>
      <output wsam:Action="http://service/Safewatch/scanResponse" message="tns:scanResponse"/>
    </operation>
    <operation name="updateAlert">
      <input wsam:Action="http://service/Safewatch/updateAlertRequest" message="tns:updateAlert"/>
      <output wsam:Action="http://service/Safewatch/updateAlertResponse" message="tns:updateAlertResponse"/>
    </operation>
    <operation name="checkAlert">
      <input wsam:Action="http://service/Safewatch/checkAlertRequest" message="tns:checkAlert"/>
      <output wsam:Action="http://service/Safewatch/checkAlertResponse" message="tns:checkAlertResponse"/>
    </operation>
    <operation name="createAlert">
      <input wsam:Action="http://service/Safewatch/createAlertRequest" message="tns:createAlert"/>
      <output wsam:Action="http://service/Safewatch/createAlertResponse" message="tns:createAlertResponse"/>
    </operation>
    <operation name="checkAlertAll">
      <input wsam:Action="http://service/Safewatch/checkAlertAllRequest" message="tns:checkAlertAll"/>
      <output wsam:Action="http://service/Safewatch/checkAlertAllResponse" message="tns:checkAlertAllResponse"/>
    </operation>
  </portType>
  <binding name="SafewatchPortBinding" type="tns:Safewatch">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="scan">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateAlert">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkAlert">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createAlert">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkAlertAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SafewatchService">
    <port name="SafewatchPort" binding="tns:SafewatchPortBinding">
      <soap:address location="http://hnbndevsfwatch.gfficohsa.hn:8080/wsSafewatch/service"/>
    </port>
  </service>
</definitions>