Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/ABKPA/ConsultarTarjetaDebito/xsd/consultarTarjetaDebitoPA_db.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarTarjetaDebitoPA" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarTarjetaDebitoPA" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_NUMERO_TARJETA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_CLIENTE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
           <element name="PV_NOMBRE_TARJETA" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_MONEDA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_TARJETA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ESTATUS_TARJETA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
             <element name="PV_CUENTA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
             <element name="PV_CANTIDAD_CUENTAS" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
             <element name="PV_ORDEN_CUENTAS" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ERROR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_RETORNO" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>