Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingGT/RequestorServices/v1.0/GetCustomerAssets/XSD/GetCustomerAssetsGT_SJ.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaActivosCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaActivosCliente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CUSTOMER_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_TYPE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="UUID" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="SOURCE_BANK" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DESTINATION_BANK" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="USER" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
   	<complexType>
   		<sequence>
			<element name="OutputParametersDepositos" type="db:OutputParametersDepositos" minOccurs="0" nillable="true" />
			<element name="OutputParametersCuentas" type="db:OutputParametersCuentas" minOccurs="0" nillable="true" />   		
   		</sequence>
   	</complexType>
   </element>
      <complexType name="OutputParametersDepositos">
         <sequence>
            <element name="PV_ASSET_TYPE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_NUMBER" type="db:TOPLEVEL_TVARCHAR308" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_NAME" type="db:TOPLEVEL_TVARCHAR1009" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_CURRENCY" type="db:TOPLEVEL_TVARCHAR308" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_TYPE_OUT" type="db:TOPLEVEL_TVARCHAR308" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_TOTAL_BALANCE" type="db:TOPLEVEL_TVARCHAR308" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_RESERVE_BALANCE" type="db:TOPLEVEL_TVARCHAR308" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_LOCKED_BALANCE" type="db:TOPLEVEL_TVARCHAR308" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_VISA_FLOATING_BALANCE" type="db:TOPLEVEL_TVARCHAR308" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_AVAILABLE_BALANCE" type="db:TOPLEVEL_TVARCHAR308" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_PRODUCT_TYPE" type="db:TOPLEVEL_TVARCHAR1009" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_STATUS" type="db:TOPLEVEL_TVARCHAR1009" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PD_ASSET_OPENING_DATE" type="db:TOPLEVEL_TDATE" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR_CODE" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR_MESSAGE" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
      <complexType name="OutputParametersCuentas">
         <sequence>
            <element name="PV_ASSET_TYPE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_NUMBER" type="db:TOPLEVEL_TVARCHAR305" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_NAME" type="db:TOPLEVEL_TVARCHAR1006" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_CURRENCY" type="db:TOPLEVEL_TVARCHAR305" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_TYPE_OUT" type="db:TOPLEVEL_TVARCHAR308" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_TOTAL_BALANCE" type="db:TOPLEVEL_TVARCHAR305" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_RESERVE_BALANCE" type="db:TOPLEVEL_TVARCHAR305" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_LOCKED_BALANCE" type="db:TOPLEVEL_TVARCHAR305" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_VISA_FLOATING_BALANCE" type="db:TOPLEVEL_TVARCHAR305" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_AVAILABLE_BALANCE" type="db:TOPLEVEL_TVARCHAR305" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_PRODUCT_TYPE" type="db:TOPLEVEL_TVARCHAR305" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_STATUS" type="db:TOPLEVEL_TVARCHAR1009" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PD_ASSET_OPENING_DATE" type="db:TOPLEVEL_TDATE" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_BLOCK" type="db:TOPLEVEL_TVARCHAR1009" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR_CODE" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR_MESSAGE" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   <complexType name="TOPLEVEL_TDATE">
      <sequence>
         <element name="ASSET_OPENING_DATE_ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR305">
      <sequence>
         <element name="PV_ASSET_NUMBER_ITEM" type="db:string30" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR1006">
      <sequence>
         <element name="PV_ASSET_NAME_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR308">
      <sequence>
         <element name="PV_ASSET_NUMBER_ITEM" type="db:string30" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR1009">
      <sequence>
         <element name="PV_ASSET_NAME_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>