Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaAutorizacionesFlotantes/wsdl/consultaAutorizacionesFlotantesPS.wsdl

<wsdl:definitions name="consultaAutorizacionesFlotantesPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaAutorizacionesFlotantesPS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaAutorizacionesFlotantesPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaAutorizacionesFlotantesTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
	
  <wsdl:types>
    <xsd:schema>
    	<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaAutorizacionesFlotantesTypes" schemaLocation="../xsd/consultaAutorizacionesFlotantesTypes.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
  </wsdl:message>
  
  <wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
  </wsdl:message>
  
  <wsdl:message name="consultaAutorizacionesFlotantesRequest">
   	 	<wsdl:part element="tns:consultaAutorizacionesFlotantes" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="consultaAutorizacionesFlotantesResponse">
    	<wsdl:part element="tns:consultaAutorizacionesFlotantesResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="consultaAutorizacionesFlotantesPS">
    <wsdl:operation name="consultaAutorizacionesFlotantes" parameterOrder="parameters RequestHeader ResponseHeader">
      	<wsdl:input message="op:consultaAutorizacionesFlotantesRequest"/>
      	<wsdl:output message="op:consultaAutorizacionesFlotantesResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="consultaAutorizacionesFlotantesPSSOAP" type="op:consultaAutorizacionesFlotantesPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultaAutorizacionesFlotantes">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaAutorizacionesFlotantesPS/consultaAutorizacionesFlotantes"/>
      <wsdl:input>
        <soap:body use="literal"/>
      	<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="consultaAutorizacionesFlotantesPS">
    <wsdl:port binding="op:consultaAutorizacionesFlotantesPSSOAP" name="consultaAutorizacionesFlotantesPSSOAP">
      <soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/consultaAutorizacionesFlotantes/"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>