Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/GestionAccesosUsuarios/xsd/XMLSchema_531731114.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xs:schema version="1.0" targetNamespace="T24WebServicesImpl" xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FicohsaUserOperation" type="tns:FicohsaUserOperation"/>
  <xs:element name="FicohsaUserOperationResponse" type="tns:FicohsaUserOperationResponse"/>
  <xs:element name="FicohsaUserOperation_Validate" type="tns:FicohsaUserOperation_Validate"/>
  <xs:element name="FicohsaUserOperation_ValidateResponse" type="tns:FicohsaUserOperation_ValidateResponse"/>
  <xs:element name="SelectUserValue" type="tns:SelectUserValue"/>
  <xs:element name="SelectUserValueResponse" type="tns:SelectUserValueResponse"/>
  <xs:element name="callOfs" type="tns:callOfs"/>
  <xs:element name="callOfsResponse" type="tns:callOfsResponse"/>
  <xs:complexType name="FICOENQVALUSERWSType">
    <xs:sequence>
      <xs:element name="gFICOENQVALUSERWSDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mFICOENQVALUSERWSDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="USERID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FICOUSERFICOUSRWSType">
    <xs:sequence>
      <xs:element name="USERNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="SIGNONNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPARTMENTCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="INITAPPLICATION" type="xs:string" minOccurs="0"/>
      <xs:element name="APPLICATION" type="xs:string" minOccurs="0"/>
      <xs:element name="AGENCYCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="FRONTOFFICE" type="xs:string" minOccurs="0"/>
      <xs:element name="CHANNELTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="TYPEOPER" type="xs:string" minOccurs="0"/>
      <xs:element name="DAOAREA" type="xs:string" minOccurs="0"/>
      <xs:element name="DAONAME" type="xs:string" minOccurs="0"/>
      <xs:element name="DAODELIVERYP" type="xs:string" minOccurs="0"/>
      <xs:element name="DAOLEVEL" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="FICOUSERType">
    <xs:sequence>
      <xs:element name="USERNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="SIGNONNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="CLASSIFICATION" type="xs:string" minOccurs="0"/>
      <xs:element name="LANGUAJE" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPARTMENTCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="INITAPPLICATION" type="xs:string" minOccurs="0"/>
      <xs:element name="APPLICATION" type="xs:string" minOccurs="0"/>
      <xs:element name="AGENCYCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="FRONTOFFICE" type="xs:string" minOccurs="0"/>
      <xs:element name="CHANNELTYPE" type="xs:string" minOccurs="0"/>
      <xs:element name="TYPEOPER" type="xs:string" minOccurs="0"/>
      <xs:element name="DAOAREA" type="xs:string" minOccurs="0"/>
      <xs:element name="DAONAME" type="xs:string" minOccurs="0"/>
      <xs:element name="DAODELIVERYP" type="xs:string" minOccurs="0"/>
      <xs:element name="DAOLEVEL" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_6" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_7" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_8" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_9" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_10" type="xs:string" minOccurs="0"/>
      <xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
      <xs:element name="gINPUTTER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gDATETIME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
      <xs:element name="COCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="FicohsaUserOperation_Validate">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
      <xs:element name="FICOUSERFICOUSRWSType" type="tns:FICOUSERFICOUSRWSType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="webRequestCommon">
    <xs:sequence>
      <xs:element name="userName" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="company" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ofsFunction">
    <xs:sequence>
      <xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
      <xs:element name="replace" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FicohsaUserOperation_ValidateResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="FICOUSERType" type="tns:FICOUSERType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfs">
    <xs:sequence>
      <xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfsResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectUserValue">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="FICOENQVALUSERWSType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enquiryInput">
    <xs:sequence>
      <xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enquiryInputCollection">
    <xs:sequence>
      <xs:element name="columnName" type="xs:string" minOccurs="0"/>
      <xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
      <xs:element name="operand" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectUserValueResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="FICOENQVALUSERWSType" type="tns:FICOENQVALUSERWSType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FicohsaUserOperation">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
      <xs:element name="FICOUSERFICOUSRWSType" type="tns:FICOUSERFICOUSRWSType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FicohsaUserOperationResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="FICOUSERType" type="tns:FICOUSERType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="successIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="TWSError"/>
      <xs:enumeration value="T24Error"/>
      <xs:enumeration value="T24Override"/>
      <xs:enumeration value="T24Offline"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>