Fuentes/ficohsacore-osb12-b78f21b126d5/Applications/ProviderServices/WADL/ACHRest_BS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ach="http://www.ficohsa.com/ach" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ACHRest_BS">RestReference</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com/ach" schemaLocation="../XSD/achCDM.xsd"/>
        </xsd:schema>
      <schema targetNamespace="http://xmlns.oracle.com/DynamoMigrate/Applications/ACHRest_BS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="GetAchTicket_params">
                <complexType>
                    <sequence>
                        <element name="userName" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="GetStatus_params">
                <complexType>
                    <sequence>
                        <element name="achTicket" type="string"/>
                        <element name="userName" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
   </grammars>
   <resources>
      <resource path="/Echo">
         <method name="GET" soa:wsdlOperation="Echo">
            <request/>
            <response status="200">
               <representation mediaType="application/json" element="cns:DoEchoResponse" xmlns:cns="http://www.ficohsa.com/ach"/>
            </response>
         </method>
      </resource>
      <resource path="/GetAchTicket">
         <method name="GET" soa:wsdlOperation="GetAchTicket">
            <request soa:paramElement="pns:GetAchTicket_params" xmlns:pns="http://xmlns.oracle.com/DynamoMigrate/Applications/ACHRest_BS">
               <param name="userName" style="query" soa:expression="$msg.request/pns:userName" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:GetTicketResponse" xmlns:cns="http://www.ficohsa.com/ach"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/json" element="cns:GetTicketResponse" xmlns:cns="http://www.ficohsa.com/ach"/>
            </response>
         </method>
      </resource>
      <resource path="/GetStatus">
         <method name="GET" soa:wsdlOperation="GetStatus">
            <request soa:paramElement="pns:GetStatus_params" xmlns:pns="http://xmlns.oracle.com/DynamoMigrate/Applications/ACHRest_BS">
               <param name="achTicket" style="query" soa:expression="$msg.request/pns:achTicket" type="xsd:string"/>
               <param name="userName" style="query" soa:expression="$msg.request/pns:userName" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:GetTransactionStatusResponse" xmlns:cns="http://www.ficohsa.com/ach"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/json" element="cns:GetTransactionStatusResponse" xmlns:cns="http://www.ficohsa.com/ach"/>
            </response>
         </method>
      </resource>
      <resource path="/SendCredit">
         <method name="POST" soa:wsdlOperation="SenCredit">
            <request>
               <representation mediaType="application/json" element="cns:SendCredit" xmlns:cns="http://www.ficohsa.com/ach"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:SendCreditResponse" xmlns:cns="http://www.ficohsa.com/ach"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/json" element="cns:SendCreditResponse" xmlns:cns="http://www.ficohsa.com/ach"/>
            </response>
         </method>
      </resource>
      <resource path="/GetTransaction">
         <method name="POST" soa:wsdlOperation="GetTransaction">
            <request>
               <representation mediaType="application/json" element="cns:GetReportTransactionRequest" xmlns:cns="http://www.ficohsa.com/ach"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:GetReportTransactionResponse" xmlns:cns="http://www.ficohsa.com/ach"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/json" element="cns:GetTransactionStatusResponse" xmlns:cns="http://www.ficohsa.com/ach"/>
            </response>
         </method>
      </resource>
   </resources>
</application>