Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/recargas/CompraRecarga/compraRecargaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/compraRecargaTypes"
	xmlns:com="http://www.ficohsa.com.hn/middleware.services/compraRecargaTypes">
	
	<xs:element name="compraRecarga">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="PHONE_NUMBER" type="xs:string"/>
	            <xs:element name="SERVICE_PROVIDER_ID" type="xs:string"/>
	            <xs:element name="AMOUNT" type="xs:string"/>
	            <xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
	            <xs:element name="CHANNEL_CODE" type="xs:string" minOccurs="0"/>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="compraRecargaResponse"/>	
</xs:schema>