Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/GuardarClienteRTE/GuardarClienteRTE.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/guardarClienteRTETypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/guardarClienteRTETypes">
	
	<xs:complexType name="guardarClienteRTEResponse">
	</xs:complexType>
	
	<xs:element name="guardarClienteRTE">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TYPE_ID" type="xs:string"/>
	            <xs:element name="ID_NUMBER" type="xs:string"/>
	            <xs:element name="FULL_NAME" type="xs:string"/>
	            <xs:element name="DATE_OF_BIRTH" type="xs:string" minOccurs="0"/>
	            <xs:element name="GENDER" type="xs:string"/>
	            <xs:element name="COUNTRY" type="xs:string"/>
	            <xs:element name="NATIONALITY" type="xs:string"/>
	            <xs:element name="DEPARTMENT" type="xs:string"/>
	            <xs:element name="MUNICIPALITY" type="xs:string"/>
	            <xs:element name="ADDRESS" type="xs:string"/>
	            <xs:element name="RESIDENCE_PHONE" type="xs:string" minOccurs="0"/>
	            <xs:element name="PROFESSION" type="xs:string"/>
	            <xs:element name="COMPANY_NAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="WORK_PHONE" type="xs:string" minOccurs="0"/>
	            <xs:element name="ECONOMIC_ACT" type="xs:string" minOccurs="0"/>
	            <xs:element name="RELATION_WITH_BENEFICIARY" type="xs:string" minOccurs="0"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="guardarClienteRTEResponse" type="cons:guardarClienteRTEResponse"/>
	
</xs:schema>