Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaIntrasPorCuenta_v2/xsd/XMLSchema_166606991.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaIntrasPorCuentaTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cic="http://www.ficohsa.com.hn/middleware.services/consultaIntrasPorCuentaTypes">    
    
    <xs:simpleType name="stringMinLengt1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="searchCriteria">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CARD_NUMBER"/>
			<xs:enumeration value="ACC_NUMBER"/>
		</xs:restriction>
	</xs:simpleType>
    
	<xs:element name="consultaIntrasPorCuenta">
		<xs:complexType>
			<xs:sequence>							
				<xs:element name="SEARCH_VALUE" type="cic:stringMinLengt1"/>
				<xs:element name="SEARCH_CRITERIA" type="cic:searchCriteria"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


    <xs:element name="consultaIntrasPorCuentaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRODUCT_INFORMATION" type="cic:productInformationType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="productInformationType">
		<xs:sequence>
			<xs:element name="INTRAFINANCING_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="COMMERCE_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTION_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CURRENT_BALANCE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="FEE_AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="INTEREST_RATE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="TERM" type="xs:integer" minOccurs="0"/>
			<xs:element name="CURRENT_FEE" type="xs:integer" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>