Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/actualizacionPerfilT24/xsd/XMLSchema_-1279772603.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Actualizaciondeperfildecliente" type="tns:Actualizaciondeperfildecliente"/>

<xs:element name="ActualizaciondeperfildeclienteResponse" type="tns:ActualizaciondeperfildeclienteResponse"/>

<xs:element name="Actualizaciondeperfildecliente_Validate" type="tns:Actualizaciondeperfildecliente_Validate"/>

<xs:element name="Actualizaciondeperfildecliente_ValidateResponse" type="tns:Actualizaciondeperfildecliente_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="FICOBULKAPPRCLNTINPUTGFFWSType">
<xs:sequence>
<xs:element name="FIELDS1" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS2" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS3" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS4" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS5" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS6" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS7" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS8" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS9" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS10" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS11" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS12" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS13" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS14" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS15" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS16" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS17" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS18" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS19" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS20" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS21" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS22" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS23" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS24" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS25" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS26" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS27" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS28" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS29" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS30" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS31" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS32" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS33" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS34" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS35" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS36" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS37" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS38" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS39" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS40" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS41" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS42" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS43" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS44" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS45" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS46" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS47" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS48" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS49" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS50" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS51" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS52" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS53" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS54" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS55" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS56" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS57" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS58" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS59" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS60" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS61" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS62" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS63" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS64" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS65" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS66" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS67" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS68" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS69" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS70" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS71" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS72" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS73" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS74" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS75" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS76" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS77" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS78" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS79" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS80" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS81" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS81" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS82" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS82" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS83" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS83" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS84" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS84" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS85" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS85" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS86" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS86" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS87" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS87" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS88" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS88" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS89" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS89" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS90" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS90" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS91" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS91" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS92" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS92" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS93" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS93" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS94" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS94" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS95" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS95" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS96" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS96" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS97" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS97" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS98" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS98" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS99" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS99" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS100" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS100" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS101" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS101" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS102" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS102" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS103" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS103" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS104" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS104" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS105" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS105" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS106" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS106" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS107" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS107" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS108" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS108" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS109" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS109" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS110" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS110" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS111" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS111" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS112" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS112" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS113" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS113" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS114" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS114" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS115" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS115" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FIELDS116" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS117" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS118" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS119" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS120" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADO" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="IDTABLE" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOBULKAPPRCLNTType">
<xs:sequence>
<xs:element name="FIELDS1" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS2" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS3" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS4" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS5" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS6" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS7" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS8" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS9" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS10" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS11" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS12" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS13" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS14" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS15" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS16" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS17" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS18" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS19" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS20" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS21" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS22" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS23" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS24" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS25" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS26" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS27" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS28" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS29" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS30" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS31" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS32" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS33" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS34" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS35" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS36" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS37" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS38" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS39" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS40" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS41" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS42" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS43" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS44" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS45" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS46" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS47" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS48" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS49" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS50" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS51" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS52" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS53" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS54" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS55" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS56" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS57" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS58" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS59" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS60" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS61" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS62" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS63" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS64" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS65" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS66" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS67" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS68" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS69" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS70" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS71" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS72" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS73" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS74" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS75" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS76" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS77" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS78" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS79" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS80" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS81" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS81" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS82" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS82" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS83" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS83" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS84" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS84" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS85" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS85" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS86" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS86" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS87" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS87" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS88" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS88" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS89" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS89" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS90" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS90" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS91" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS91" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS92" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS92" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS93" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS93" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS94" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS94" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS95" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS95" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS96" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS96" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS97" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS97" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS98" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS98" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS99" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS99" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS100" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS100" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS101" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS101" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS102" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS102" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS103" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS103" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS104" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS104" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS105" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS105" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS106" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS106" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS107" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS107" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS108" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS108" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS109" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS109" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS110" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS110" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS111" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS111" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS112" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS112" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS113" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS113" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS114" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS114" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS115" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS115" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FIELDS116" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS117" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS118" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS119" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS120" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADO" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="IDTABLE" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizaciondeperfildecliente_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOBULKAPPRCLNTINPUTGFFWSType" type="tns:FICOBULKAPPRCLNTINPUTGFFWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizaciondeperfildecliente_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOBULKAPPRCLNTType" type="tns:FICOBULKAPPRCLNTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizaciondeperfildecliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOBULKAPPRCLNTINPUTGFFWSType" type="tns:FICOBULKAPPRCLNTINPUTGFFWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizaciondeperfildeclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOBULKAPPRCLNTType" type="tns:FICOBULKAPPRCLNTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>