Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/PagoSeguros/xsd/pagoSeguroTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoSeguroTypes"
	xmlns:seg="http://www.ficohsa.com.hn/middleware.services/pagoSeguroTypes">
	
	<xs:complexType name="pagoSeguroResponseType">
		<xs:sequence>
			<xs:element name="PRODUCT" type="xs:string" minOccurs="0"/>
			<xs:element name="POLICY_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CERTIFICATE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="INSTALLMENT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="INSTALLMENT_AMOUNT" type="xs:string" minOccurs="0"/>							
			<xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
			<xs:element name="CREDIT_ACCOUNT" type="xs:string"/>
			<xs:element name="PAYMENT_CURRENCY" type="xs:string" />			
			<xs:element name="PAYMENT_AMOUNT" type="xs:string" />									
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="pagoSeguro">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="DEBIT_ACCOUNT">
				<xs:simpleType>
	        		<xs:restriction base="xs:string">
	        			<xs:minLength value="1"/>
	        		</xs:restriction>
	        	</xs:simpleType>
	        </xs:element>					
			<xs:element name="PRODUCT">
				<xs:simpleType>
	        		<xs:restriction base="xs:string">
	        			<xs:minLength value="1"/>
	        		</xs:restriction>
	        	</xs:simpleType>
	        </xs:element>
			<xs:element name="POLICY_CURRENCY">
				<xs:simpleType>
	        		<xs:restriction base="xs:string">
	        			<xs:minLength value="1"/>
	        		</xs:restriction>
	        	</xs:simpleType>
	        </xs:element>
			<xs:element name="POLICY_NUMBER">
				<xs:simpleType>
	        		<xs:restriction base="xs:string">
	        			<xs:minLength value="1"/>
	        		</xs:restriction>
	        	</xs:simpleType>
	        </xs:element>
			<xs:element name="CERTIFICATE_NUMBER">
				<xs:simpleType>
	        		<xs:restriction base="xs:string">
	        			<xs:minLength value="1"/>
	        		</xs:restriction>
	        	</xs:simpleType>
	        </xs:element>
			<xs:element name="INSTALLMENT_NUMBER">
				<xs:simpleType>
	        		<xs:restriction base="xs:string">
	        			<xs:minLength value="1"/>
	        		</xs:restriction>
	        	</xs:simpleType>
	        </xs:element>
			<xs:element name="INSTALLMENT_AMOUNT">
				<xs:simpleType>
	        		<xs:restriction base="xs:string">
	        			<xs:minLength value="1"/>
	        		</xs:restriction>
	        	</xs:simpleType>
	        </xs:element>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoSeguroResponse" type="seg:pagoSeguroResponseType"/>
	
	
</xs:schema>