Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/SolicitudPinTC/wsdl/solicitudPinTCPS.wsdl

<wsdl:definitions name="solicitudPinTCPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/solicitudPinTCPS/" xmlns:sol="http://www.ficohsa.com.hn/middleware.services/solicitudPinTCPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" schemaLocation="../../GestionesTarjetas/xsd/gestionesTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="solicitudPinTCRequest">
		<wsdl:part element="tns:solicitudPinTC" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="solicitudPinTCResponse">
		<wsdl:part element="tns:solicitudPinTCResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="solicitudPinTCPS">
		<wsdl:operation name="solicitudPinTC" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="sol:solicitudPinTCRequest"/>
			<wsdl:output message="sol:solicitudPinTCResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="solicitudPinTCPSSOAP" type="sol:solicitudPinTCPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="solicitudPinTC">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/solicitudPinTC"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="sol:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="sol:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="solicitudPinTCPS">
		<wsdl:port binding="sol:solicitudPinTCPSSOAP" name="solicitudPinTCPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/solicitudPinTC/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>