Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/consultaTransacciones/Resources/ConsultaDetalleCobroTSP/xsd/consultaDetalleCobroTSP_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalleCobroTSP" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalleCobroTSP" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="REFERENCIA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="AR_TRX_COBRO" type="db:TSP.TSP_CONSULTAS_COBX123578X1X2" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TSP.TSP_CONSULTAS_COBX123578X1X3">
      <sequence>
         <element name="TRX_ID" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FECHA" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="MONTO_TSP" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TSP.TSP_CONSULTAS_COBX123578X1X2">
      <sequence>
         <element name="AR_TRX_COBRO_ITEM" type="db:TSP.TSP_CONSULTAS_COBX123578X1X3" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>