Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/GestionesGenericasCRM/xsd/gestionesGenericasCRMTypes.xsd

<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionesGenericasCRMTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesGenericasCRMTypes">
	
	<!-- input -->
	<xs:complexType name="gestionesGenericasCRM">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string"/>
			<xs:element name="KV_PAIRS" type="tns:KVPairsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="KVPairsType">
		<xs:sequence>
			<xs:element name="KV_PAIR" type="tns:KVPairType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="KVPairType">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string" minOccurs="0"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- output -->
	<xs:complexType name="gestionesGenericasCRMResponse">
		<xs:sequence>
			<xs:element name="REFERENCE_ID" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="gestionesGenericasCRM" type="tns:gestionesGenericasCRM"/>
	
	<xs:element name="gestionesGenericasCRMResponse" type="tns:gestionesGenericasCRMResponse"/>

</xs:schema>