Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/cheques/wsdl/COBISCorp.eCOBIS.SrvAplCobisCheques.Service.wsdl

<wsdl:definitions name="SrvAplCobisCheques" targetNamespace="http://impl.service.srvaplcobischeques.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.srvaplcobischeques.ecobis.cobiscorp" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:S1="http://impl.service.srvaplcobischeques.ecobis.cobiscorp/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.srvaplcobischeques.ecobis.cobiscorp/"><xsd:import namespace="http://service.srvaplcobischeques.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsjOpSuspensionChequesSolicitud">
    <wsdl:part name="parameters" element="tns:opSuspensionChequesSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpCompraChequeraSolicitud">
    <wsdl:part name="parameters" element="tns:opCompraChequeraSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpSolicitudChequeGerenciaSolicitud">
    <wsdl:part name="parameters" element="tns:opSolicitudChequeGerenciaSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpCompraChequeraRespuesta">
    <wsdl:part name="parameters" element="tns:opCompraChequeraRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpSolicitudChequeGerenciaRespuesta">
    <wsdl:part name="parameters" element="tns:opSolicitudChequeGerenciaRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpSuspensionChequesRespuesta">
    <wsdl:part name="parameters" element="tns:opSuspensionChequesRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SrvAplCobisCheques">
    <wsdl:operation name="OpCompraChequera">
      <wsdl:input message="S1:MsjOpCompraChequeraSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpCompraChequeraRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpSolicitudChequeGerencia">
      <wsdl:input message="S1:MsjOpSolicitudChequeGerenciaSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpSolicitudChequeGerenciaRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpSuspensionCheques">
      <wsdl:input message="S1:MsjOpSuspensionChequesSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpSuspensionChequesRespuesta">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvAplCobisChequesBindingSOAP12" type="S1:SrvAplCobisCheques">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpCompraChequera">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpSolicitudChequeGerencia">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpSuspensionCheques">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvAplCobisChequesService">
    <wsdl:port name="SrvAplCobisChequesBindingSOAP12" binding="S1:SrvAplCobisChequesBindingSOAP12">
      <soap12:address location="http://10.235.53.149:9080/GerenciaProductoCheques/SrvAplCobisChequesService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>