Fuentes/ficohsacore-hncard-488b7ad93302/SBHN_Card/SBHN_Card_Commons/Schemas/AccountCommonTypes.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="https://www.ficohsa.com/regional/common/accountCommonType"
            targetNamespace="https://www.ficohsa.com/regional/common/accountCommonType" elementFormDefault="qualified">
  <xsd:element name="CashAdvanceInfo" type="CashAdvanceInfoType"/>
  <xsd:element name="AuthorizedOverdraftInfo" type="AuthorizedOverdraftInfoType"/>
  <xsd:element name="UnauthorizedOverdraftInfo" type="UnauthorizedOverdraftInfoType"/>
  <xsd:element name="ClearingFundsInfo" type="ClearingFundsInfoType"/>
  <xsd:complexType name="CashAdvanceInfoType">
    <xsd:sequence>
      <xsd:element name="LimitAmount" minOccurs="0" type="xsd:double"/>
      <xsd:element name="UsedAmount" minOccurs="0" type="xsd:double"/>
      <xsd:element name="AvailableAmount" minOccurs="0" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuthorizedOverdraftInfoType">
    <xsd:sequence>
      <xsd:element name="LimitAmount" minOccurs="0" type="xsd:double"/>
      <xsd:element name="UsedAmount" minOccurs="0" type="xsd:double"/>
      <xsd:element name="AvailableAmount" minOccurs="0" type="xsd:double"/>
      <xsd:element name="ExpirationDate" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UnauthorizedOverdraftInfoType">
    <xsd:sequence>
      <xsd:element name="UsedAmount" minOccurs="0" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClearingFundsInfoType">
    <xsd:sequence>
      <xsd:element name="LimitAmount" minOccurs="0" type="xsd:double"/>
      <xsd:element name="UsedAmount" minOccurs="0" type="xsd:double"/>
      <xsd:element name="AvailableAmount" minOccurs="0" type="xsd:double"/>
      <xsd:element name="ExpirationDate" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PagingInfoType">
    <xsd:sequence>
      <xsd:element name="Paging" minOccurs="1" type="xsd:string"/>
      <xsd:element name="InitialRecord" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RecordCount" minOccurs="0" type="xsd:date"/>
      <xsd:element name="Ticket" minOccurs="0" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FilterCriteriasType">
    <xsd:sequence>
      <xsd:element name="FilterCriteria" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TypeFilter" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ValueFilter" minOccurs="0" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RecordsInfoType">
    <xsd:sequence>
      <xsd:element name="InitialRecord" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RecordsReturned" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RecordsTotal" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Ticket" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionsType">
    <xsd:sequence>
      <xsd:element name='ValueDate' type='xsd:string' minOccurs='0'/>
      <xsd:element name='Description' type='xsd:string' minOccurs='0'/>
      <xsd:element name='RefNo' type='xsd:string' minOccurs='0'/>
      <xsd:element name='DocumentNumber' type='xsd:string' minOccurs='0'/>
      <xsd:element name='TxnReference' type='xsd:string' minOccurs='0'/>
      <xsd:element name='Amount' type='xsd:string' minOccurs='0'/>
      <xsd:element name='EffectOnBalance' type='xsd:string' minOccurs='0'/>
      <xsd:element name='Inputter' type='xsd:string' minOccurs='0'/>
      <xsd:element name='Txncode' type='xsd:string' minOccurs='0'/>
      <xsd:element name='Txnagncode' type='xsd:string' minOccurs='0'/>
      <xsd:element name='Txnagnname' type='xsd:string' minOccurs='0'/>
      <xsd:element name='Txndescriptionall' type='xsd:string' minOccurs='0'/>
      <xsd:element name='Authoriser' type='xsd:string' minOccurs='0'/>
      <xsd:element name='Txndatetime' type='xsd:string' minOccurs='0'/>
      <xsd:element name='RunningBalance' type='xsd:string' minOccurs='0'/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="string1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>