Fuentes/ficohsacore-hncard-488b7ad93302/SBHN_Card/SBHN_Card_Commons/Schemas/AccountInquiryTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/account" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:act="https://www.ficohsa.com/regional/common/accountCommonType" xmlns:acc="https://www.ficohsa.com/regional/account" xmlns:ctp="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:import schemaLocation="AccountCommonTypes.xsd" id="AccountCommonTypes" namespace="https://www.ficohsa.com/regional/common/accountCommonType"/>
  <xsd:element name="accountBalanceDetails">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType"/>
        <xsd:element name="AccountNumber" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="accountBalanceDetailsResponse">
  <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="ctp:StatusInfoType"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="ctp:ErrorInfoType"/>
        <xsd:element name="AccountNumber" type="xsd:string"/>
        <xsd:element name="AccountName" type="xsd:string"/>
        <xsd:element name="Currency" type="xsd:string"/>
        <xsd:element name="BalanceDate" type="xsd:string"/>
        <xsd:element name="AvailableBalance" type="xsd:double"/>
        <xsd:element name="ClearingBalance" type="xsd:double"/>
        <xsd:element name="LockedBalance" type="xsd:double"/>
        <xsd:element name="FloatingBalance" type="xsd:double"/>
        <xsd:element name="OverdraftClearingBalance" type="xsd:double"/>
        <xsd:element name="TotalAvailableBalance" type="xsd:double"/>
        <xsd:element name="TotalBalance" type="xsd:double"/>
        <xsd:element name="CashAdvanceInfo" type="act:CashAdvanceInfoType"/>
        <xsd:element name="AuthorizedOverdraftInfo" type="act:AuthorizedOverdraftInfoType"/>
        <xsd:element name="UnauthorizedOverdraftInfo" type="act:UnauthorizedOverdraftInfoType"/>
        <xsd:element name="ClearingFundsInfo" type="act:ClearingFundsInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="accountTransactionDetails">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType" minOccurs="1"/>
        <xsd:element name="AccountNumber" type="xsd:string" minOccurs="1"/>
        <xsd:element name="BeginDate" type="xsd:string" minOccurs="1"/>
        <xsd:element name="EndDate" type="xsd:string"/>
        <xsd:element name="EntryRange" type="xsd:string"/>
        <xsd:element name="PagingInfo" type="act:PagingInfoType"/>
        <xsd:element name="FilterCriterias" type="act:FilterCriteriasType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="accountTransactionDetailsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="ctp:StatusInfoType" minOccurs="1"/>
        <xsd:element name="AccountNumber" type="xsd:string"/>
        <xsd:element name="AccountName" type="xsd:string"/>
        <xsd:element name="Currency" type="xsd:string"/>
        <xsd:element name="StartingBalance" type="xsd:string"/>
        <xsd:element name="EndingBalance" type="xsd:string"/>
        <xsd:element name="StartDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="EndDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DebitCount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CreditCount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DebitTotalAmount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CreditTotalAmount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="RecordsInfo" type="act:RecordsInfoType" minOccurs="0"/>
        <xsd:element name="Transactions" type="act:TransactionsType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="averageAccountBalanceDetails">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType"/>
        <xsd:element name="AccountNumber" type="xsd:string"/>
        <xsd:element name="StartDate" type="xsd:date"/>
        <xsd:element name="EndDate" type="xsd:date"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="averageAccountBalanceDetailsResponse">
  <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="ctp:StatusInfoType"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="ctp:ErrorInfoType"/>
        <xsd:element name="AccountNumber" type="xsd:string"/>
        <xsd:element name="AverageBalance" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="accountDetails">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" minOccurs="0" type="ctp:GeneralInfoType"/>
        <xsd:element name="AccountNumber" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="accountDetailsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="ctp:StatusInfoType" minOccurs="0"/>
        <xsd:element name="ErrorInfo" type="ctp:ErrorInfoType" minOccurs="0"/>
        <xsd:element name="AccountNumber" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CustomerId" minOccurs="0" type="xsd:string"/>
        <xsd:element name="AccountName" minOccurs="0" type="xsd:string"/>
        <xsd:element name="Category" minOccurs="0" type="xsd:string"/>
        <xsd:element name="Currency" minOccurs="0" type="xsd:string"/>
        <xsd:element name="LimitRef" minOccurs="0" type="xsd:string"/>
        <xsd:element name="Restrictions" minOccurs="0" type="xsd:string"/>
        <xsd:element name="AltAccount" minOccurs="0" type="xsd:string"/>
        <xsd:element name="OpeningDate" minOccurs="0" type="xsd:date"/>
        <xsd:element name="OperationType" minOccurs="0" type="xsd:string"/>
        <xsd:element name="AccountOfficer" minOccurs="0" type="xsd:string"/>
        <xsd:element name="BranchCode" minOccurs="0" type="xsd:string"/>
        <xsd:element name="LegalId" minOccurs="0" type="xsd:string"/>
        <xsd:element name="RequiredSignatures" minOccurs="0" type="xsd:string"/>
        <xsd:element name="SignaturesDesc" minOccurs="0" type="xsd:string"/>
        <xsd:element name="InactiveMarker" minOccurs="0" type="xsd:string"/>
        <xsd:element name="Purpose" minOccurs="0" type="xsd:string"/>
        <xsd:element name="MonthlyTxnVolume" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ThirdPartyRepresentative" minOccurs="0" type="xsd:string"/>
        <xsd:element name="BeneficiaryDetails" minOccurs="0" type="acc:BeneficiaryInfoType" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="BeneficiaryInfoType">
    <xsd:sequence minOccurs="1">
      <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Relationship" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DocumentType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LegalId" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Percentege" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>