Fuentes/ficohsacore-hncard-488b7ad93302/SBHN_Card/SBHN_Card_Commons/Schemas/CardInquiryTypesv2.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/card" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:act="https://www.ficohsa.com/regional/common/cardCommonType" xmlns:acc="https://www.ficohsa.com/regional/card" xmlns:ctp="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:import schemaLocation="CardCommonTypesv2.xsd" id="CardCommonTypes" namespace="https://www.ficohsa.com/regional/common/cardCommonType"/>

  
  
  <!-- Entrega 6 -->
  
  <!-- Request -->
  <xsd:element name="getCreditCardDetails">
    <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType"/>
       <xsd:element name="CardNumber" type="ctp:string1" minOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- Response -->
  <xsd:element name="getCreditCardDetailsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatusInfo" type="ctp:StatusInfoType" minOccurs="1"/>
                <xsd:element name="ErrorInfo" type="ctp:ErrorInfoType" minOccurs="0"/>
                <xsd:element name="CardNumber" type="xsd:string" minOccurs="0"/>
                <xsd:element name="DualIndicator" type="xsd:string" minOccurs="0"/>
                <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
                <xsd:element name="CardHolderName" type="xsd:string" minOccurs="0"/>
                <xsd:element name="AccountHolderName" type="xsd:string" minOccurs="0"/>
                <xsd:element name="CardHolderLegalId" type="xsd:string" minOccurs="0"/>
                <xsd:element name="AccountHolderLegalId" type="xsd:string" minOccurs="0"/>
                <xsd:element name="CustomerId" type="xsd:string" minOccurs="0"/>
                <xsd:element name="AccountStatus" type="xsd:string" minOccurs="0"/>
                <xsd:element name="CardType" type="xsd:string" minOccurs="0"/>
                <xsd:element name="AfinityGroup" type="xsd:string" minOccurs="0"/>
                <xsd:element name="CardCurrencyInformation" type="act:CardCurrencyInfoType" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
  <!-- End -->
  
</xsd:schema>