Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/HistorialCrediticio/SolicitaHistorialCrediticio/xsd/SolicitaHistorialCrediticioTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:FicSch="http://www.ficohsa.com.hn/middleware.services/SolicitaHistorialCrediticioTypes" targetNamespace="http://www.ficohsa.com.hn/middleware.services/SolicitaHistorialCrediticioTypes" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="solicitaHistorialCrediticioRequest" type="FicSch:SolicitaHistorialCrediticioRequestIM"/>
	<xs:element name="solicitaHistorialCrediticioResponse" type="FicSch:SolicitaHistorialCrediticioResponseIM"/>
	<xs:complexType name="SolicitaHistorialCrediticioRequestIM">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SolicitaHistorialCrediticioResponseIM">
		<xs:sequence>
			<xs:element name="return" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>