Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/Resources/RegistraCuenta/xsd/T24FicoTSPServices2-T24NewAccount.xsd

<xsd:schema targetNamespace="http://www.temenos.com/T24/event/T24FicoTSPServices2/T24NewAccount" elementFormDefault="qualified" xmlns="http://www.temenos.com/T24/event/T24FicoTSPServices2/T24NewAccount" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"><xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="Common-EventCommon.xsd"/><xsd:element name="T24NewAccount"><xsd:complexType><xsd:sequence><xsd:element ref="eventCommon" minOccurs="1" maxOccurs="1"/><xsd:element ref="id" minOccurs="0" maxOccurs="1"/><xsd:element ref="customerId" minOccurs="0" maxOccurs="1"/><xsd:element ref="category" minOccurs="0" maxOccurs="1"/><xsd:element ref="shortTitle" minOccurs="0" maxOccurs="1"/><xsd:element ref="currency" minOccurs="0" maxOccurs="1"/><xsd:element ref="payrollGrp" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="eventCommon" type="ns0:EventCommon"/><xsd:element name="id" type="xsd:string"/><xsd:element name="customerId" type="xsd:string"/><xsd:element name="category" type="xsd:string"/><xsd:element name="shortTitle" type="xsd:string"/><xsd:element name="currency" type="xsd:string"/><xsd:element name="payrollGrp" type="xsd:string"/></xsd:schema>