Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/recaudos/Resources/RegistrarReqConsultaRecaudo/xsd/OSB_REG_BITACORA_RECAUDO_REQ.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registrarReqConsultaRecaudo" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registrarReqConsultaRecaudo" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_UUID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO_CONVENIO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO_DEUDOR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO_OPERACION" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_FECHA" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_USUARIO" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_REQUEST" type="string" db:index="8" db:type="CLOB" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_CODIGO_ERROR" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MENSAJE_ERROR" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>