Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/consultaCheque/ConsultaChequeConfirmado/consultaChequeConfirmadoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaChequeConfirmadoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaChequeConfirmadoTypes">
	
	<xs:complexType name = "consultaChequeConfirmadoResponseArrayType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="RESERVE_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="RESERVE_FUNDS_YES_NO" type="xs:string" minOccurs="0" />
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaChequeConfirmadoResponseRecordType">
		<xs:sequence>
				<xs:element name="consultaChequeConfirmadoResponseRecordType" type="cons:consultaChequeConfirmadoResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="consultaChequeConfirmadoResponseType">
		<xs:sequence>
			<xs:element name="consultaChequeConfirmadoResponseType" type="cons:consultaChequeConfirmadoResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaChequeConfirmado">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="RESERVE_FUNDS_YES_NO" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaChequeConfirmadoResponse" type="cons:consultaChequeConfirmadoResponseType"/>
	
</xs:schema>