Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/direcciones/ConsultaDepartamentos/consultaDepartamentosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDepartamentosTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaDepartamentosTypes">
	
	<xs:complexType name = "consultaDepartamentosResponseArrayType">
		<xs:sequence>
			<xs:element name="DEPT_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="DEPT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0" />
		 </xs:sequence> 


	</xs:complexType>
	
	<xs:complexType name="consultaDepartamentosResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaDepartamentosResponseRecordType" type="cons:consultaDepartamentosResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaDepartamentosResponseType">
		<xs:sequence>
			<xs:element name="consultaDepartamentosResponseType" type="cons:consultaDepartamentosResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaDepartamentos">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="DEPT_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="COUNTRY_CODE" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaDepartamentosResponse" type="cons:consultaDepartamentosResponseType"/>
	
</xs:schema>