Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/RegistrarRTE/RegistrarRTE.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/registrarRTETypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/registrarRTETypes">
	
	<xs:complexType name="registrarRTEResponse">
		<xs:sequence>
            <xs:element name="DATE" type="xs:string" minOccurs="0"/>
            <xs:element name="HOUR" type="xs:string" minOccurs="0"/>
            <xs:element name="TELLER_TXN_NO" type="xs:string" minOccurs="0"/>
            <xs:element name="TRANSACTION_TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="RTE_TXN_TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="MOVEMENT_TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
            <xs:element name="USD_AMOUNT" type="xs:string" minOccurs="0"/>
            <xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0"/>
            <xs:element name="ORIGIN_RESOURCES" type="xs:string" minOccurs="0"/>
            <xs:element name="BRANCH_ID" type="xs:string" minOccurs="0"/>
            <xs:element name="AFFECTED_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="OWNER_TXN" type="xs:string" minOccurs="0"/>
            <xs:element name="RTE_AGENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
            <xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
            <xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
            <xs:element name="CO_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="RTE_CLIENT">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TYPE_ID" type="xs:string" minOccurs="0" />
						<xs:element name="ID_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="FULL_NAME" type="xs:string" minOccurs="0" />
						<xs:element name="DATE_OF_BIRTH" type="xs:string" minOccurs="0" />
						<xs:element name="GENDER" type="xs:string" minOccurs="0" />
						<xs:element name="COUNTRY" type="xs:string" minOccurs="0" />
						<xs:element name="NATIONALITY" type="xs:string" minOccurs="0" />
						<xs:element name="DEPARTMENT" type="xs:string" minOccurs="0" />
						<xs:element name="MUNICIPALITY" type="xs:string" minOccurs="0" />
						<xs:element name="HOME_ADDRESS" type="xs:string" minOccurs="0" />
						<xs:element name="RESIDENCE_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="PROFESSION" type="xs:string" minOccurs="0" />
						<xs:element name="COMPANY_NAME" type="xs:string" minOccurs="0" />
						<xs:element name="WORK_PHONE" type="xs:string" minOccurs="0" />
						<xs:element name="BENE_RELATION" type="xs:string" minOccurs="0" />						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RTE_BEHALF_CLIENT">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TYPE_ID" type="xs:string" minOccurs="0" />
						<xs:element name="ID_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="FULL_NAME" type="xs:string" minOccurs="0" />
						<xs:element name="GENDER" type="xs:string" minOccurs="0" />
						<xs:element name="COUNTRY" type="xs:string" minOccurs="0" />
						<xs:element name="NATIONALITY" type="xs:string" minOccurs="0" />
						<xs:element name="DEPARTMENT" type="xs:string" minOccurs="0" />
						<xs:element name="MUNICIPALITY" type="xs:string" minOccurs="0" />
						<xs:element name="FULL_ADDRESS" type="xs:string" minOccurs="0" />
						<xs:element name="TELEPHONE" type="xs:string" minOccurs="0" />
						<xs:element name="PROFESSION" type="xs:string" minOccurs="0" />
						<xs:element name="ECONO_ACT" type="xs:string" minOccurs="0" />
						<xs:element name="BEN_RELATN" type="xs:string" minOccurs="0" />
						<xs:element name="REG_NUM" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>			
			<xs:element name="RTE_BEN_CLIENT">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TYPE_ID" type="xs:string" minOccurs="0" />
						<xs:element name="ID_NUMBER" type="xs:string" minOccurs="0" />
						<xs:element name="FULL_NAME" type="xs:string" minOccurs="0" />
						<xs:element name="GENDER" type="xs:string" minOccurs="0" />
						<xs:element name="COUNTRY" type="xs:string" minOccurs="0" />
						<xs:element name="NATIONALITY" type="xs:string" minOccurs="0" />
						<xs:element name="DEPARTMENT" type="xs:string" minOccurs="0" />
						<xs:element name="MUNICIPALITY" type="xs:string" minOccurs="0" />
						<xs:element name="FULL_ADDRESS" type="xs:string" minOccurs="0" />
						<xs:element name="TELEPHONE" type="xs:string" minOccurs="0" />
						<xs:element name="PROFESSION" type="xs:string" minOccurs="0" />
						<xs:element name="ECONOMIC_ACTIVITY" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>	            
       </xs:sequence>
	</xs:complexType>

	<xs:element name="registrarRTE">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TELLER_TRANS_ID" type="xs:string"/>
	            <xs:element name="ORIGINAND_TARGET" type="xs:string"/>
	            <xs:element name="OWNER_TXN" type="xs:string"/>
	            <xs:element name="ID_NUMBER" type="xs:string"/>
	            <xs:element name="BEHALF_ID_NUMBER" type="xs:string"/>
	            <xs:element name="BEN_ID_NUMBER" type="xs:string"/>
	            <xs:element name="RELATION_WITH_BENEFICIARY" type="xs:string"/>
	            <xs:element name="BEHALF_REL_WITH_BEN" type="xs:string"/>
	            <xs:element name="OPERATION_TYPE" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="registrarRTEResponse" type="cons:registrarRTEResponse"/>
	
</xs:schema>