Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/envioMensajeSMS/xsd/envioMensajeSMSTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/envioMensajeSMSTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/envioMensajeSMSTypes">
	
	
	<xs:element name="envioMensajeSMS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MOBILE_NUMBER" type="xs:string"/>
				<xs:element name="MESSAGE" type="xs:string"/>
				<xs:element name="MESSAGE_TYPE" type="xs:string">
					<xs:annotation>
					 	<xs:documentation>
							Allowed MESSAGE_TYPE: "ALERT","ADVERTISING","REMINDER","RESPONSE"
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SERVICE" type="xs:string"/>
				<xs:element name="MESSAGE_SOURCE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="COMPANY" type="xs:string"/>
							<xs:element name="DEPT_CODE" type="xs:string"/>
							<xs:element name="APPLICATION" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ERROR_CODE" type="xs:string" minOccurs="0"/>			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="envioMensajeSMSResponse" />
	
</xs:schema>