Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OIC/consultaInformacionCUI/xsd/XMLSchema_-198101730.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUITypes"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUITypes">	<!--Request -->
	<xs:element name="consultaInformacionCUIRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PN_CUI" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>	<!--Response consultaInformacionCUIResponse -->
	<xs:element name="consultaInformacionCUIResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DATE" type="xs:string" />
				<xs:element name="HIT" type="xs:string" />
				<xs:element name="SIZE" type="xs:string" />
				<xs:element name="DEATH_DATE" type="xs:string" minOccurs="0" />
				<xs:element name="OCCUPATION" type="xs:string" />
				<xs:element name="MUNICIPALITY_OF_BIRTH" type="xs:string" />
				<xs:element name="PHOTOGRAPHY" type="xs:string" />
				<xs:element name="COUNTRY_OF_BIRTH" type="xs:string" />
				<xs:element name="LEGAL_ID_ORDER" type="xs:string"
					minOccurs="0" />
				<xs:element name="THIRD_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="GENDER" type="xs:string" />
				<xs:element name="LAST_NAME" type="xs:string" />
				<xs:element name="NATIONALITY" type="xs:string" />
				<xs:element name="DEPARTMENT_OF_BIRTH" type="xs:string" />
				<xs:element name="MESSAGE" type="xs:string" />
				<xs:element name="SECOND_NAME" type="xs:string" />
				<xs:element name="LEGAL_ID_REGISTRATION" type="xs:string"
					minOccurs="0" />
				<xs:element name="FIRST_NAME" type="xs:string" />
				<xs:element name="SECOND_LAST_NAME" type="xs:string" />
				<xs:element name="CUI" type="xs:string" />
				<xs:element name="CIVIL_STATUS" type="xs:string" />
				<xs:element name="LAST_NAME_MARRIED" type="xs:string"
					minOccurs="0" />
				<xs:element name="BIRTH_DATE" type="xs:string" />
				<xs:element name="EXPIRATION_DATE" type="xs:string" />
				<xs:element name="CORRELATIVE_DPI" type="xs:string" />
				<xs:element name="NEIGHBORHOOD" type="xs:string" />
				<xs:element name="HOUR" type="xs:string" />
				<xs:element name="ERROR_DESCRIPTION" type="xs:string" />
				<xs:element name="REFERENCE" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>