Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/DesembolsoLineaCredito/consultaSolicitudesCliente/xsd/consultaSolicitudesCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaSolicitudesCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaSolicitudesCliente" elementFormDefault="qualified">
  <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_CUSTOMER_ID" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_BEGIN_DATE" type="dateTime" db:index="2" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_END_DATE" type="dateTime" db:index="3" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_STATUS" type="decimal" db:index="4" db:default="true" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_PAGING" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_INITIAL_RECORD" type="decimal" db:index="6" db:default="true" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_RECORD_COUNT" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_TICKET" type="string" db:index="8" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_CUSTOMER_NAME" type="db:DLC.TVARCHAR256" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_RECORDS_RETURNED" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_RECORDS_TOTAL" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_REQUEST_ID" type="db:DLC.TNUMBER" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_INCOME_DATE" type="db:DLC.TDATE" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_STATUS" type="db:DLC.TNUMBER" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_STATUS_DESCRIPTION" type="db:DLC.TVARCHAR100" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CREDIT_LINE_ID" type="db:DLC.TVARCHAR20" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_DESTINATION_PRODUCT_ID" type="db:DLC.TVARCHAR20" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_DESTINATION_PRODUCT_TYPE" type="db:DLC.TVARCHAR3" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_LOAN_CURRENCY" type="db:DLC.TVARCHAR3" db:index="19" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_PAYMENT_TERMS" type="db:DLC.TNUMBER" db:index="20" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_REQUEST_AMOUNT" type="db:DLC.TVARCHAR20" db:index="21" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_DEBIT_ACCOUNT_ID" type="db:DLC.TVARCHAR20" db:index="22" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_LOAN_NUMBER" type="db:DLC.TVARCHAR20" db:index="23" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CREDIT_AMOUNT" type="db:DLC.TVARCHAR20" db:index="24" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_TRANSACTION_ID" type="db:DLC.TVARCHAR40" db:index="25" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_INSTALLMENT_VALUE" type="db:DLC.TVARCHAR20" db:index="26" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_APPLICATION_DATE" type="db:DLC.TDATE" db:index="27" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_PAYMENT_VOUCHER" type="db:DLC.TCLOB" db:index="28" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CHANNEL_ID" type="db:DLC.TVARCHAR20" db:index="29" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_REQUEST_USER" type="db:DLC.TVARCHAR20" db:index="30" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_ERROR_CODE" type="db:DLC.TVARCHAR2000" db:index="31" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_ERROR_DESCRIPTION" type="db:DLC.TVARCHAR2000" db:index="32" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_AUTHORIZATION_USER" type="db:DLC.TVARCHAR20" db:index="33" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="34" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="35" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DLC.TVARCHAR40">
      <sequence>
         <element name="P_TRANSACTION_ID_ITEM" type="db:string40" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TVARCHAR100">
      <sequence>
         <element name="P_STATUS_DESCRIPTION_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TNUMBER">
      <sequence>
         <element name="P_REQUEST_ID_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TVARCHAR20">
      <sequence>
         <element name="P_CREDIT_LINE_ID_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TVARCHAR2000">
      <sequence>
         <element name="P_ERROR_CODE_ITEM" type="db:string200" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TVARCHAR3">
      <sequence>
         <element name="P_DESTINATION_PRODUCT_TYPE_ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TVARCHAR256">
      <sequence>
         <element name="P_CUSTOMER_NAME_ITEM" type="db:string256" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TCLOB">
      <sequence>
         <element name="P_PAYMENT_VOUCHER_ITEM" type="string" db:type="CLOB" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TDATE">
      <sequence>
         <element name="P_INCOME_DATE_ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
</schema>