Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SWIFT/OIC/wsdl/updatePaymentStatus.wsdl

<WL5G3N0:definitions name="updatePaymentStatus" targetNamespace="http://www.ficohsa.com.hn/updatePaymentStatus/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/updatePaymentStatus" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/hdrType" xmlns:WL5G3N3="http://www.ficohsa.com.hn/updatePaymentStatus/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wss_username_or_jwt_token_service_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <osp:HttpToken xmlns:osp="http://schemas.oracle.com/ws/2012/01/wssecuritypolicy">
                  <wsp:Policy>
                    <osp:HttpJwtAuthentication/>
                  </wsp:Policy>
                </osp:HttpToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
      <wsp:All>
        <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10/>
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <WL5G3N0:types>
    <xsd:schema xmlns:upd="http://www.ficohsa.com.hn/updatePaymentStatus/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.ficohsa.com.hn/updatePaymentStatus" xmlns:xsd2="http://www.ficohsa.com.hn/middleware.services/hdrType">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/hdrType" schemaLocation="../xsd/updatePaymentStatusHeaderTypes.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:upd="http://www.ficohsa.com.hn/updatePaymentStatus/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.ficohsa.com.hn/updatePaymentStatus" xmlns:xsd2="http://www.ficohsa.com.hn/middleware.services/hdrType">
      <xsd:import namespace="http://www.ficohsa.com.hn/updatePaymentStatus" schemaLocation="../xsd/updatePaymentStatusTypes.xsd"/>
    </xsd:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/InboundSOAPRequestDocument" xmlns="http://xmlns.oracle.com/types/InboundSOAPRequestDocument" xmlns:ns0="http://www.ficohsa.com.hn/middleware.services/hdrType" xmlns:ns1="http://www.ficohsa.com.hn/updatePaymentStatus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.ficohsa.com.hn/updatePaymentStatus"/>
      <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/hdrType"/>
      <xs:element name="InboundSOAPRequestDocument" type="InboundSOAPRequestDocumentType"/>
      <xs:complexType name="InboundSOAPRequestDocumentType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Headers" type="HeadersType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Body" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="SOAPHeaders" type="SOAPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPHeadersType">
        <xs:sequence>
          <xs:element ref="ns1:RequestHeader" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/hdrType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element ref="ns1:updatePaymentStatusRequest"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/InboundSOAPResponseDocument" xmlns="http://xmlns.oracle.com/types/InboundSOAPResponseDocument" xmlns:ns0="http://www.ficohsa.com.hn/middleware.services/hdrType" xmlns:ns1="http://www.ficohsa.com.hn/updatePaymentStatus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.ficohsa.com.hn/updatePaymentStatus"/>
      <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/hdrType"/>
      <xs:element name="InboundSOAPResponseDocument" type="InboundSOAPResponseDocumentType"/>
      <xs:complexType name="InboundSOAPResponseDocumentType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Headers" type="HeadersType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Body" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="SOAPHeaders" type="SOAPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPHeadersType">
        <xs:sequence>
          <xs:element ref="ns1:ResponseHeader" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/hdrType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element ref="ns1:updatePaymentStatusResponse"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tracking_property" type="TrackingPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon" xmlns="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="insight_property" type="InsightPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="updatePaymentStatusRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N1:updatePaymentStatusRequest"/>
    <WL5G3N0:part name="RequestHeader" element="WL5G3N2:RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="updatePaymentStatusResponse">
    <WL5G3N0:part name="result" element="WL5G3N1:updatePaymentStatusResponse"/>
    <WL5G3N0:part name="ResponseHeader" element="WL5G3N2:ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="updatePaymentStatus_statusConfirmations_REQUEST">
    <WL5G3N0:operation name="updatePaymentStatus" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:updatePaymentStatusRequest"/>
      <WL5G3N0:output message="WL5G3N3:updatePaymentStatusResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="updatePaymentStatus_statusConfirmations_REQUEST_binding" type="WL5G3N3:updatePaymentStatus_statusConfirmations_REQUEST">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#wss_username_or_jwt_token_service_policy" WL5G3N0:required="false" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    <WL5G3N0:operation name="updatePaymentStatus">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/updatePaymentStatus/updatePaymentStatus"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:updatePaymentStatusRequest" part="RequestHeader" use="literal" encodingStyle=""/>
        <WL5G3N4:body use="literal" parts="parameters"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:updatePaymentStatusResponse" part="ResponseHeader" use="literal" encodingStyle=""/>
        <WL5G3N4:body use="literal" parts="result"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="updatePaymentStatus">
    <WL5G3N0:port name="updatePaymentStatus_statusConfirmations_REQUEST_pt" binding="WL5G3N3:updatePaymentStatus_statusConfirmations_REQUEST_binding">
      <WL5G3N4:address location="https://OICDEV-ficocloud.integration.ocp.oraclecloud.com:443/ic/ws/integration/v1/flows/soap/OWGPI1UPDATESTATUS/1.0/"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>