Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/RetiroATMConCupon/xsd/retiroATMConCuponTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:rcc="http://www.ficohsa.com.hn/middleware.services/retiroATMConCuponTypes"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/retiroATMConCuponTypes"
	version="1.0">
		
	<!--############################### -->
	<!--OPERACION: RETIRO ATM CON CUPON-->
	<xs:element name="retiroATMConCupon">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="COUPON_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="TERMINAL_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="CHANNEL" type="xs:string" minOccurs="0"/>
				<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
				<xs:element name="TERMINAL_REFERENCE" type="xs:string" minOccurs="0" />	
				<xs:element name="RETRIEVAL_REF_NUMBER" type="xs:string" minOccurs="0" />				
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="retiroATMConCuponResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTION_DATE" type="xs:dateTime" minOccurs="0" />
				<xs:element name="AUTORIZATION_NUMBER" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>