Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/RequestorServices/ProxyServices/v1.0/GetCustomerDebitCards/WSDL/GetCustomerDebitCardsHN_PS.wsdl

<wsdl:definitions name="GetCustomerAssets_PS" targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" xmlns:tns="http://xmlns.oracle.com/GetCustomerAssets_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/consultaClientes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/consultaPasivosCliente" xmlns:inp3="http://www.ficohsa.com.hn/middleware.services/consultaTDCliente">
    <plnk:partnerLinkType name="GetCustomerAssets_PS">
        <plnk:role name="GetCustomerAssets_PSProvider" portType="tns:GetCustomerAssets_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaTDCliente" schemaLocation="../../../../../../MWBanking/Customers/RequestorServices/XSD/getCustomerDebitCards.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/GetCustomerAssets_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getDebitCards_params">
                <complexType>
                    <sequence>
                        <element name="customerid" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="CardStatus" type="string"/>
                        <element name="AccountNumber" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="getDebitCards_inputMessage">
        <wsdl:part name="request" element="tns:getDebitCards_params"/>
    </wsdl:message>
    <wsdl:message name="getDebitCards_outputMessage">
        <wsdl:part name="reply" element="inp3:getCustomerDebitCardsResponse"/>
    </wsdl:message>
    <wsdl:portType name="GetCustomerAssets_PS_ptt">
        <wsdl:operation name="getDebitCards">
            <wsdl:input message="tns:getDebitCards_inputMessage"/>
            <wsdl:output message="tns:getDebitCards_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetCustomerAssets_PS_ptt-binding" type="tns:GetCustomerAssets_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDebitCards">
            <soap:operation soapAction="getDebitCards"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>