Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/consultaGeneralPrestamo/Resources/consultaPrestamoT24/XMLSchema_448646516.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Consultaaplicacionpagoptmo" type="tns:Consultaaplicacionpagoptmo"/>

<xs:element name="ConsultaaplicacionpagoptmoResponse" type="tns:ConsultaaplicacionpagoptmoResponse"/>

<xs:element name="ConsultabackofficepagoptmoAA" type="tns:ConsultabackofficepagoptmoAA"/>

<xs:element name="ConsultabackofficepagoptmoAAResponse" type="tns:ConsultabackofficepagoptmoAAResponse"/>

<xs:element name="ConsultadepagodeprestamoAA" type="tns:ConsultadepagodeprestamoAA"/>

<xs:element name="ConsultadepagodeprestamoAAResponse" type="tns:ConsultadepagodeprestamoAAResponse"/>

<xs:element name="Consultadeprestamosporcliente" type="tns:Consultadeprestamosporcliente"/>

<xs:element name="ConsultadeprestamosporclienteResponse" type="tns:ConsultadeprestamosporclienteResponse"/>

<xs:element name="Consultadesaldodeprestamo" type="tns:Consultadesaldodeprestamo"/>

<xs:element name="ConsultadesaldodeprestamoResponse" type="tns:ConsultadesaldodeprestamoResponse"/>

<xs:element name="PagoaprestamoAA" type="tns:PagoaprestamoAA"/>

<xs:element name="PagoaprestamoAAFT" type="tns:PagoaprestamoAAFT"/>

<xs:element name="PagoaprestamoAAFTResponse" type="tns:PagoaprestamoAAFTResponse"/>

<xs:element name="PagoaprestamoAAFT_Validate" type="tns:PagoaprestamoAAFT_Validate"/>

<xs:element name="PagoaprestamoAAFT_ValidateResponse" type="tns:PagoaprestamoAAFT_ValidateResponse"/>

<xs:element name="PagoaprestamoAAResponse" type="tns:PagoaprestamoAAResponse"/>

<xs:element name="PagoaprestamoAA_Validate" type="tns:PagoaprestamoAA_Validate"/>

<xs:element name="PagoaprestamoAA_ValidateResponse" type="tns:PagoaprestamoAA_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="WSFICOPAYMENTDETAILSAAType">
<xs:sequence>
<xs:element name="gWSFICOPAYMENTDETAILSAADetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOPAYMENTDETAILSAADetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSINDICATOR" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSID" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ACTPAYMENTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LOANNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="PAIDINSTALLMENT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALPAYMENT" type="xs:string" minOccurs="0"/>
<xs:element name="CURPRINAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="PRINCIPALINTEREST" type="xs:string" minOccurs="0"/>
<xs:element name="PENALTYINTEREST" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMER" type="xs:string" minOccurs="0"/>
<xs:element name="BANKCODE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFICOADVDEALSLIPENTRYType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFICOADVDEALSLIPENTRYDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOADVDEALSLIPENTRYDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="ADVDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DEALSLIPID" type="xs:string" minOccurs="0"/>
<xs:element name="ERRORMESSAGE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFICOBOPAYMENTDETAILSType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFICOBOPAYMENTDETAILSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOBOPAYMENTDETAILSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="LOANNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTMETHOD" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="PREVIOUSPRINCIPALBAL" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENTPRINCIPALBAL" type="xs:string" minOccurs="0"/>
<xs:element name="INSTALLMENTNO" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTTYPE1" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTVALUE1" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTTYPE2" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTVALUE2" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTTYPE3" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTVALUE3" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTTYPE4" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTVALUE4" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFICOLINKAALOANSType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFICOLINKAALOANSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOLINKAALOANSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="NOOFRENEGO" type="xs:string" minOccurs="0"/>
<xs:element name="RENEGOTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ARRANGEMENTID" type="xs:string" minOccurs="0"/>
<xs:element name="PRODUCT" type="xs:string" minOccurs="0"/>
<xs:element name="OPERATIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="BALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="DISBURSEDAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALAMOUNTLCY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FICOHADVANCEPAYMENTSFICOADVPAYINPOFSType">
<xs:sequence>
<xs:element name="LOANNO" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTTOBEREPAID" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="LOANCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LOANOUTSTANDINGAMT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALPAYABLEAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="NEXTINSTALLMENTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="NEXTINSTALLMENTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ADVANCEPAY" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTMETHOD" type="xs:string" minOccurs="0"/>
<xs:element name="REPAYRULE" type="xs:string" minOccurs="0"/>
<xs:element name="LOANINTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LOANAGEBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="LOANDUEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENO" type="xs:string" minOccurs="0"/>
<xs:element name="VALUETOBECANCELLED" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOHADVANCEPAYMENTSType">
<xs:sequence>
<xs:element name="LOANNO" type="xs:string" minOccurs="0"/>
<xs:element name="PAYTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LOANOUTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALPAYAMT" type="xs:string" minOccurs="0"/>
<xs:element name="NEXTINSTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="NEXTINSTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ADVPAY" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMETHOD" type="xs:string" minOccurs="0"/>
<xs:element name="REPAYRULE" type="xs:string" minOccurs="0"/>
<xs:element name="WAIVECHARGES" type="xs:string" minOccurs="0"/>
<xs:element name="WAIVETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="WAIVEPARAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="gCHARGECODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHARGECODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHARGECODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEAMOUNT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="PRINTDEALSLIP" type="xs:string" minOccurs="0"/>
<xs:element name="FTTRANSREF" type="xs:string" minOccurs="0"/>
<xs:element name="DUMMYVAL" type="xs:string" minOccurs="0"/>
<xs:element name="LOANINTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LOANAGEBAL" type="xs:string" minOccurs="0"/>
<xs:element name="LOANDUEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENO" type="xs:string" minOccurs="0"/>
<xs:element name="DEALSLIPALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="gBBRNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mBBRNO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="BBRNO" type="xs:string" minOccurs="0"/>
<xs:element name="BCOLLSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="BSTATUSDATE" type="xs:string" minOccurs="0"/>
<xs:element name="BAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="BBLBALAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="BINAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="BBLSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="BBLACLOCKID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CANCELAMT" type="xs:string" minOccurs="0"/>
<xs:element name="TELLERID" type="xs:string" minOccurs="0"/>
<xs:element name="PROMOWAIVEDUMMY" type="xs:string" minOccurs="0"/>
<xs:element name="gLASTACTIVITYID" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LASTACTIVITYID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="TOTCHARGEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTWAIVEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="PAYPRINAMT" type="xs:string" minOccurs="0"/>
<xs:element name="PAYDEFAMT" type="xs:string" minOccurs="0"/>
<xs:element name="PAYCOMMAMT" type="xs:string" minOccurs="0"/>
<xs:element name="PAYTOTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DEBITPLUSCHG" type="xs:string" minOccurs="0"/>
<xs:element name="OLDPRINCIPAL" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="WSLOANDETAILSAAType">
<xs:sequence>
<xs:element name="gWSLOANDETAILSAADetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSLOANDETAILSAADetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CUSTOMERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="OPENINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="MATURITYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="INTERESTRATE" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="INITPRINAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CURPRINAMT" type="xs:string" minOccurs="0"/>
<xs:element name="PASTDUEPRIN" type="xs:string" minOccurs="0"/>
<xs:element name="INTERESTAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="ARRINTAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="COMMAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTDEBITAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="PAIDINSNO" type="xs:string" minOccurs="0"/>
<xs:element name="INSTDUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="UNPAIDINSTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CURINSPRINAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CURINSINTEREST" type="xs:string" minOccurs="0"/>
<xs:element name="CURINSDEFAULT" type="xs:string" minOccurs="0"/>
<xs:element name="CURINSINSUR" type="xs:string" minOccurs="0"/>
<xs:element name="CURINSTOTAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TELLERFINANCIALSERVICESLOANPAYMENTWSType">
<xs:sequence>
<xs:element name="Customer" type="xs:string" minOccurs="0"/>
<xs:element name="DepositAccount" type="xs:string" minOccurs="0"/>
<xs:element name="gTRANSACTION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mTRANSACTION" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSCTION" type="xs:string" minOccurs="0"/>
<xs:element name="SURROGATEAC" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="AMOOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="DEALRATE" type="xs:string" minOccurs="0"/>
<xs:element name="SORTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHQTYPE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="ConsolidateNow" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.CONSOL.TXN" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.CONSOL.TXN" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRCONSOLTXN" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSOLAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCONSOLTOT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESC" type="xs:string" minOccurs="0"/>
<xs:element name="LRLOANNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVECHG" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRADVCHGAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHGTOT" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVETOT" type="xs:string" minOccurs="0"/>
<xs:element name="LRTOTPAY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFINANCIALSERVICESType">
<xs:sequence>
<xs:element name="BOOKINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYCUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYACCOUNTINT" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLINSTRUCTION" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLMETHOD" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLLEVELADDON" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_10" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_11" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_12" type="xs:string" minOccurs="0"/>
<xs:element name="gTRANSACTION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mTRANSACTION" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSACTION" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONINT" type="xs:string" minOccurs="0"/>
<xs:element name="BENEFICIARYID" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_16" type="xs:string" minOccurs="0"/>
<xs:element name="SURROGATEAC" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTDR" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYDR" type="xs:string" minOccurs="0"/>
<xs:element name="CCYDRINT" type="xs:string" minOccurs="0"/>
<xs:element name="EXCHTXNDR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTDR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTDRLCY" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTCR" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYCR" type="xs:string" minOccurs="0"/>
<xs:element name="CCYCRINT" type="xs:string" minOccurs="0"/>
<xs:element name="EXCHTXNCR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTCR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTCRLCY" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYINT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTINT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLCY" type="xs:string" minOccurs="0"/>
<xs:element name="DEALRATE" type="xs:string" minOccurs="0"/>
<xs:element name="DEALRATEINT" type="xs:string" minOccurs="0"/>
<xs:element name="WASHTHRUSIDE" type="xs:string" minOccurs="0"/>
<xs:element name="WAIVECHARGE" type="xs:string" minOccurs="0"/>
<xs:element name="sgCHGCODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CHGCODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHGCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHGACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHGCCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHGAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CHGAMTLCY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CRVALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DRVALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFCHEQUES" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEDRAWN" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="SORTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CHQTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="sgSPLITDATE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="SPLITDATE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SPLITDATE" type="xs:string" minOccurs="0"/>
<xs:element name="SPLITAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CREXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DREXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="sgCRDENOM" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CRDENOM" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CRDENOM" type="xs:string" minOccurs="0"/>
<xs:element name="CRAVAIL" type="xs:string" minOccurs="0"/>
<xs:element name="CRDENUNIT" type="xs:string" minOccurs="0"/>
<xs:element name="CRSERIALNO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="sgDRDENOM" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DRDENOM" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DRDENOM" type="xs:string" minOccurs="0"/>
<xs:element name="DRAVAIL" type="xs:string" minOccurs="0"/>
<xs:element name="DRDENUNIT" type="xs:string" minOccurs="0"/>
<xs:element name="DRSERIALNO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="OURREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="sgNARRATIVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="sgPAYMENTDETS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="PAYMENTDETS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DCPRODCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="DCCUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="DCACCTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="DCREVERSEMARK" type="xs:string" minOccurs="0"/>
<xs:element name="CARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="sgCARDDETAILS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CARDDETAILS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DRCURRMKT" type="xs:string" minOccurs="0"/>
<xs:element name="CRCURRMKT" type="xs:string" minOccurs="0"/>
<xs:element name="UNDERLYING" type="xs:string" minOccurs="0"/>
<xs:element name="ULSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="sgULSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ULSTMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RESERVED_79" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_80" type="xs:string" minOccurs="0"/>
<xs:element name="RUNDERLYING" type="xs:string" minOccurs="0"/>
<xs:element name="sgRULSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="RULSTMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RULSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="ULCOMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="sgLOCKREF" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LOCKREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CONSOLLEG" type="xs:string" minOccurs="0"/>
<xs:element name="VALERROR" type="xs:string" minOccurs="0"/>
<xs:element name="REVERSALMARK" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CONSOLIDATENOW" type="xs:string" minOccurs="0"/>
<xs:element name="AMLCUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="gAMLNAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="AMLNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gAMLADDRESS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="AMLADDRESS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AMLNATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="gLEGALID" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLEGALID" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALDOCNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALHOLDERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISSAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISSDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALEXPDATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCOMMTYPE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCOMMTYPE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="COMMTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMREFERENCE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gRTACCOUNTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mRTACCOUNTNO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="RTACCOUNTNO" type="xs:string" minOccurs="0"/>
<xs:element name="RUNNINGTOTAL" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="MKTEXCHPROFIT" type="xs:string" minOccurs="0"/>
<xs:element name="gULOFSMSGS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ULOFSMSGS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RESERVED_106" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_107" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_108" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_109" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_110" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_111" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_112" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_113" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_114" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_115" type="xs:string" minOccurs="0"/>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="LRMINAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAXAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LROTHAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRALCANCNFNO" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCARDNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LREXPIRYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAPID" type="xs:string" minOccurs="0"/>
<xs:element name="LRTELLERID" type="xs:string" minOccurs="0"/>
<xs:element name="LRAGENCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TERMINALID" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.CONSOL.TXN" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.CONSOL.TXN" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRCONSOLTXN" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSOLAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCONSOLTOT" type="xs:string" minOccurs="0"/>
<xs:element name="LRAMTPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSUMEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESC" type="xs:string" minOccurs="0"/>
<xs:element name="PANNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRLOANNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINACCT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINCCY" type="xs:string" minOccurs="0"/>
<xs:element name="RTEFORM" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.CATEGORY" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.CATEGORY" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="LRITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRGROUP" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gLR.ECONOMIC.ACT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.ECONOMIC.ACT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSTRATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCYDECNO" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRORIGINITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRHALFPYMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESIDENT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCRDCARDSEQ" type="xs:string" minOccurs="0"/>
<xs:element name="LRLEGALEXPID" type="xs:string" minOccurs="0"/>
<xs:element name="LRLGLEXPAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVECHG" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRADVCHGAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHGTOT" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVETOT" type="xs:string" minOccurs="0"/>
<xs:element name="LRTOTPAY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="PagoaprestamoAA_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESLOANPAYMENTWSType" type="tns:TELLERFINANCIALSERVICESLOANPAYMENTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoaprestamoAA_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESType" type="tns:TELLERFINANCIALSERVICESType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadepagodeprestamoAA">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOPAYMENTDETAILSAAType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadepagodeprestamoAAResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOPAYMENTDETAILSAAType" type="tns:WSFICOPAYMENTDETAILSAAType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoaprestamoAAFT">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHADVANCEPAYMENTSFICOADVPAYINPOFSType" type="tns:FICOHADVANCEPAYMENTSFICOADVPAYINPOFSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoaprestamoAAFTResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHADVANCEPAYMENTSType" type="tns:FICOHADVANCEPAYMENTSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadeprestamosporcliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOLINKAALOANSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadeprestamosporclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOLINKAALOANSType" type="tns:WSFICOLINKAALOANSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoaprestamoAA">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESLOANPAYMENTWSType" type="tns:TELLERFINANCIALSERVICESLOANPAYMENTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoaprestamoAAResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESType" type="tns:TELLERFINANCIALSERVICESType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultabackofficepagoptmoAA">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOBOPAYMENTDETAILSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultabackofficepagoptmoAAResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOBOPAYMENTDETAILSType" type="tns:WSFICOBOPAYMENTDETAILSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoaprestamoAAFT_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHADVANCEPAYMENTSFICOADVPAYINPOFSType" type="tns:FICOHADVANCEPAYMENTSFICOADVPAYINPOFSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoaprestamoAAFT_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHADVANCEPAYMENTSType" type="tns:FICOHADVANCEPAYMENTSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadesaldodeprestamo">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSLOANDETAILSAAType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadesaldodeprestamoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSLOANDETAILSAAType" type="tns:WSLOANDETAILSAAType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultaaplicacionpagoptmo">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOADVDEALSLIPENTRYType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaaplicacionpagoptmoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOADVDEALSLIPENTRYType" type="tns:WSFICOADVDEALSLIPENTRYType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>