Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CTS/prestamo/wsdl/COBISCorp.eCOBIS.SrvAplCobisPrestamo.Service.wsdl

<wsdl:definitions name="SrvAplCobisPrestamo" targetNamespace="http://impl.service.srvaplcobisprestamo.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.srvaplcobisprestamo.ecobis.cobiscorp" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:S1="http://impl.service.srvaplcobisprestamo.ecobis.cobiscorp/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.srvaplcobisprestamo.ecobis.cobiscorp/"><xsd:import namespace="http://service.srvaplcobisprestamo.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsjOpPagarPrestamoSolicitud">
    <wsdl:part name="parameters" element="tns:opPagarPrestamoSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaPrestamoRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaPrestamoRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaPrestamoSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaPrestamoSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpPagarPrestamoRespuesta">
    <wsdl:part name="parameters" element="tns:opPagarPrestamoRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SrvAplCobisPrestamo">
    <wsdl:operation name="OpConsultaPrestamo">
      <wsdl:input message="S1:MsjOpConsultaPrestamoSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpConsultaPrestamoRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpPagarPrestamo">
      <wsdl:input message="S1:MsjOpPagarPrestamoSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpPagarPrestamoRespuesta">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvAplCobisPrestamoBindingSOAP12" type="S1:SrvAplCobisPrestamo">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpConsultaPrestamo">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpPagarPrestamo">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvAplCobisPrestamoService">
    <wsdl:port name="SrvAplCobisPrestamoBindingSOAP12" binding="S1:SrvAplCobisPrestamoBindingSOAP12">
      <soap12:address location="http://10.235.53.145:9080/GerenciaProductoPrestamo/SrvAplCobisPrestamoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>