Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ConsultaRetiroFPC/Resources/v1.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/pension" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/pension" xmlns:ctp="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="v1_1.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="FPCWithdrawalConsultation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" minOccurs="1" type="ctp:GeneralInfoType"/>
        <xsd:element name="RequestNumber" maxOccurs="1" type="xsd:decimal"/>
        <xsd:element name="ClientId" maxOccurs="1" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FPCWithdrawalConsultationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="ctp:StatusInfoType" minOccurs="0"/>
        <xsd:element name="ErrorInfo" type="ctp:ErrorInfoType" minOccurs="0"/>
        <xsd:element name="Account" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ClientName" minOccurs="0" type="xsd:string"/>
        <xsd:element name="IdNumber" minOccurs="0" type="xsd:string"/>
        <xsd:element name="PaymentMethod" minOccurs="0" type="xsd:string"/>
        <xsd:element name="Currency" minOccurs="0" type="xsd:string"/>
        <xsd:element name="Amount" minOccurs="0" type="xsd:decimal"/>
        <xsd:element name="WithdrawalType" minOccurs="0" type="xsd:string"/>
        <xsd:element name="BankingAccount" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>