Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/deudoresRecaudos/eliminarDeudores/eliminarDeudoresTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/eliminarDeudoresTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/eliminarDeudoresTypes">
	
		<xs:element name="eliminarDeudores">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="COLLECTION_CODE" type="xs:string"/>
	            <xs:element name="DEBTOR_CODE" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="eliminarDeudoresResponse"/>
	
</xs:schema>