Fuentes/ficohsacore-vortex-7ebad6e8baaa/MWHostToHost/v1/Resources/PagoCobranzasH2H/wsdl/pagoCobranzasH2HPS.wsdl

<wsdl:definitions name="pagoCobranzasH2HPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoCobranzasH2HPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/pagoCobranzasH2HPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:hcob="http://www.ficohsa.com.hn/middleware.services/cobranzasH2HTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../EsquemasGenerales/headerElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/cobranzasH2HTypes" schemaLocation="../../CobranzasH2H/xsd/cobranzasH2HTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="pagoCobranzasH2HRequest">
		<wsdl:part element="hcob:pagoCobranzas" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="pagoCobranzasH2HResponse">
		<wsdl:part element="hcob:pagoCobranzasResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="pagoCobranzasH2HPS">

		<wsdl:operation name="pago" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:pagoCobranzasH2HRequest"/>
			<wsdl:output message="fic:pagoCobranzasH2HResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="pagoCobranzasH2HPSSOAP" type="fic:pagoCobranzasH2HPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
			
		<wsdl:operation name="pago">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/pagoCobranzasH2HPS/op"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="pagoCobranzasH2HPS">
		<wsdl:port binding="fic:pagoCobranzasH2HPSSOAP" name="pagoCobranzasH2HPSSOAP">
			<soap:address location="http://mwomnicanal:8003/Middleware/OperationsAndExecution/Payments/pagoCobranzasH2H"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>