Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/TENGO/svcReversarCuponCB/xsd/services_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xs:schema version="1.0" targetNamespace="T24WebServicesImpl" xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReversarTransaccionesATMTengo" type="tns:ReversarTransaccionesATMTengo"/>
  <xs:element name="ReversarTransaccionesATMTengoResponse" type="tns:ReversarTransaccionesATMTengoResponse"/>
  <xs:element name="ReversarTransaccionesATMTengo_Validate" type="tns:ReversarTransaccionesATMTengo_Validate"/>
  <xs:element name="ReversarTransaccionesATMTengo_ValidateResponse" type="tns:ReversarTransaccionesATMTengo_ValidateResponse"/>
  <xs:element name="callOfs" type="tns:callOfs"/>
  <xs:element name="callOfsResponse" type="tns:callOfsResponse"/>
  <xs:complexType name="FICOHNATMVALCUPONCUPONType">
    <xs:sequence>
      <xs:element name="FUNDST" type="xs:string" minOccurs="0"/>
      <xs:element name="FECHAREV" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
      <xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
      <xs:element name="gINPUTTER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gDATETIME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
      <xs:element name="COCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="FICOHNATMVALCUPONType">
    <xs:sequence>
      <xs:element name="FUNDST" type="xs:string" minOccurs="0"/>
      <xs:element name="FECHAREV" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
      <xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
      <xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
      <xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
      <xs:element name="gINPUTTER" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gDATETIME" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
      <xs:element name="COCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
      <xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="callOfs">
    <xs:sequence>
      <xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfsResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReversarTransaccionesATMTengo_Validate">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
      <xs:element name="FICOHNATMVALCUPONCUPONType" type="tns:FICOHNATMVALCUPONCUPONType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="webRequestCommon">
    <xs:sequence>
      <xs:element name="userName" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="company" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ofsFunction">
    <xs:sequence>
      <xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
      <xs:element name="replace" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReversarTransaccionesATMTengo_ValidateResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="FICOHNATMVALCUPONType" type="tns:FICOHNATMVALCUPONType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReversarTransaccionesATMTengo">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
      <xs:element name="FICOHNATMVALCUPONCUPONType" type="tns:FICOHNATMVALCUPONCUPONType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReversarTransaccionesATMTengoResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="FICOHNATMVALCUPONType" type="tns:FICOHNATMVALCUPONType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="successIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="TWSError"/>
      <xs:enumeration value="T24Error"/>
      <xs:enumeration value="T24Override"/>
      <xs:enumeration value="T24Offline"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>