Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/NotificaCicloVidaTarjetas/wsdl/notificaCicloVidaTarjetasPS.wsdl

<wsdl:definitions name="notificaCicloVidaTarjetasPS"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/notificaCicloVidaTarjetasPS/"
	xmlns:ncv="http://www.ficohsa.com.hn/middleware.services/notificaCicloVidaTarjetasPS/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasTypes"
	xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType"
				schemaLocation="../../esquemas_generales/HeaderElements.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasTypes"
				schemaLocation="../../DigitalizacionTarjetas/xsd/digitalizacionTarjetasTypes.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>
	<wsdl:message name="notificaCicloVidaTarjetasRequest">
		<wsdl:part element="tns:notificaCicloVidaTarjetas" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="notificaCicloVidaTarjetasResponse">
		<wsdl:part element="tns:notificaCicloVidaTarjetasResponse"
			name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>
	<wsdl:portType name="notificaCicloVidaTarjetasPS">
		<wsdl:operation name="notificaCicloVidaTarjetas"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="ncv:notificaCicloVidaTarjetasRequest" />
			<wsdl:output message="ncv:notificaCicloVidaTarjetasResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="notificaCicloVidaTarjetasPSSOAP" type="ncv:notificaCicloVidaTarjetasPS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="notificaCicloVidaTarjetas">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/notificaCicloVidaTarjetasPS/notificaCicloVidaTarjetas" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="ncv:notificaCicloVidaTarjetasRequest"
					part="RequestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="ncv:notificaCicloVidaTarjetasResponse"
					part="ResponseHeader" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="notificaCicloVidaTarjetasPS">
		<wsdl:port binding="ncv:notificaCicloVidaTarjetasPSSOAP"
			name="notificaCicloVidaTarjetasPSSOAP">
			<soap:address
				location="http://172.23.13.35:8003/Middleware/OperationsAndExecution/CustomerDeposits/digitalizacionTarjetas" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>