Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/DEI/valoresDeGuiaPago/xsd/valoresDeGuiaPago_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/valoresDeGuiaPago"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/valoresDeGuiaPago"
	elementFormDefault="qualified">
	<element name="InputParameters">
		<complexType>
			<sequence>
				<element name="PT_AUDITORIA" type="db:T_AUDITORIA" db:index="1"
					db:type="Struct" minOccurs="0" nillable="true" />
				<element name="PV_IDCONTRATO" type="string" db:index="2"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_GUIAPAGO" type="string" db:index="3"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
			</sequence>
		</complexType>
	</element>
	<element name="OutputParameters">
		<complexType>
			<sequence>
				<element name="PV_IDCONTRATO" type="string" db:index="3"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PT_GUIAPAGORESULT" type="db:T_GETGUIAPAGOVALORES_RESULT"
					db:index="4" db:type="Struct" minOccurs="0" nillable="true" />
				<element name="PV_DESCRIPCIONESTADO" type="string" db:index="5"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_CODIGOMENSAJE" type="string" db:index="6"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_DESCRIPCIONMENSAJE" type="string"
					db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true" />
			</sequence>
		</complexType>
	</element>
	<complexType name="T_GETGUIAPAGOVALORES_RESULT">
		<sequence>
			<element name="IMPUESTOSCANT" type="decimal" db:type="NUMBER"
				minOccurs="0" nillable="true" />
			<element name="ESTADO" type="db:string5" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="IDERROR" type="decimal" db:type="NUMBER"
				minOccurs="0" nillable="true" />
			<element name="IMPUESTOS" type="db:T_GETGUIAPAGOVALOR_ITEM_ARRAY"
				db:type="Array" minOccurs="0" nillable="true" />
		</sequence>
	</complexType>
	<complexType name="T_GETGUIAPAGOVALORES_ITEMS">
		<sequence>
			<element name="IMPUESTO" type="decimal" db:type="NUMBER"
				minOccurs="0" nillable="true" />
			<element name="IMPUESTODESC" type="db:string100" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="CONCEPTO" type="decimal" db:type="NUMBER"
				minOccurs="0" nillable="true" />
			<element name="VALORIMPUESTO" type="decimal" db:type="NUMBER"
				minOccurs="0" nillable="true" />
			<element name="VALORMULTA" type="decimal" db:type="NUMBER"
				minOccurs="0" nillable="true" />
			<element name="VALORRECARGO" type="decimal" db:type="NUMBER"
				minOccurs="0" nillable="true" />
			<element name="VALORINTERES" type="decimal" db:type="NUMBER"
				minOccurs="0" nillable="true" />
			<element name="CONCEPTODESC" type="db:string100" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
		</sequence>
	</complexType>
	<complexType name="T_AUDITORIA">
		<sequence>
			<element name="RTN" type="db:string20" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="USUARIO_SERVICIO" type="db:string30" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="NOMBRE_ARCHIVO" type="db:string256" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="ID_ARCHIVO" type="db:string32" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="PROCESO" type="db:string200" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="PROCESO_ORIGEN_ERROR" type="db:string200"
				db:type="VARCHAR2" minOccurs="0" nillable="true" />
			<element name="CODIGO_ERROR" type="db:string30" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="DESCRIPCION_ERROR" type="db:string4000"
				db:type="VARCHAR2" minOccurs="0" nillable="true" />
		</sequence>
	</complexType>
	<complexType name="T_GETGUIAPAGOVALOR_ITEM_ARRAY">
		<sequence>
			<element name="ITEM" type="db:T_GETGUIAPAGOVALORES_ITEMS"
				db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true" />
		</sequence>
	</complexType>
	<simpleType name="string20">
		<restriction base="string">
			<maxLength value="20" />
		</restriction>
	</simpleType>
	<simpleType name="string30">
		<restriction base="string">
			<maxLength value="30" />
		</restriction>
	</simpleType>
	<simpleType name="string256">
		<restriction base="string">
			<maxLength value="256" />
		</restriction>
	</simpleType>
	<simpleType name="string32">
		<restriction base="string">
			<maxLength value="32" />
		</restriction>
	</simpleType>
	<simpleType name="string200">
		<restriction base="string">
			<maxLength value="200" />
		</restriction>
	</simpleType>
	<simpleType name="string4000">
		<restriction base="string">
			<maxLength value="4000" />
		</restriction>
	</simpleType>
	<simpleType name="string5">
		<restriction base="string">
			<maxLength value="5" />
		</restriction>
	</simpleType>
	<simpleType name="string100">
		<restriction base="string">
			<maxLength value="100" />
		</restriction>
	</simpleType>
</schema>