Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/SJS/consultaListasClienteGT/xsd/sjConsultaListasClienteGT.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaListasCliente" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaListasCliente" elementFormDefault="qualified" >
	
	<xs:element name="sjConsultaListasClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_LEGAL_ID" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>		

	<xs:element name="sjConsultaListasClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="consultaListaClienteResponse" type="cons:consultaListaResponseType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="consultaListaResponseType">
		<xs:sequence>
			<xs:element name="successIndicator" type="xs:string" minOccurs="0" />
			<xs:element name="messages" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ASSOCIATION_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" />
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>