Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ReversionDeal/xsd/reversionDealTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/reversionDealTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/reversionDealTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<!--############################################-->
	<!-- OPERATION: reversionDeal -->
	<!--############################################-->
	<xs:element name="reversionDeal">
		<xs:complexType>
		    <xs:sequence>
		         <xs:element name="CONTRACT_ID" type="xs:string" />
		         <xs:element name="COUNTRY" type="xs:string" />
	    	</xs:sequence>
	    </xs:complexType>
	</xs:element>
	
	<xs:element name="reversionDealResponse">
		<xs:complexType>
		    <xs:sequence>
		         <xs:element name="CONTRACT_ID" type="xs:string"  minOccurs="0" />
		         <xs:element name="COUNTRY" type="xs:string"  minOccurs="0" />
	    	</xs:sequence>
	    </xs:complexType>
	</xs:element>

</xs:schema>