Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaCamposRemesas/xsd/consultaCamposRemesasTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" 
     targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCamposRemesasTypes"
     xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaCamposRemesasTypes">

     <xs:element name="consultaCamposRemesas">
          <xs:complexType>
               <xs:sequence>
                    <xs:element name="REMITTER_ID" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
               </xs:sequence>
          </xs:complexType>
     </xs:element>

     <xs:element name="consultaCamposRemesasResponse">
          <xs:complexType>
               <xs:sequence>
                    <xs:element name="FIELDS" minOccurs="0">
                         <xs:complexType>
                              <xs:sequence>
                                   <xs:element name="FIELD" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                             <xs:sequence>
                                                  <xs:element name="NAME" type="xs:string" minOccurs="0"/>
                                                  <xs:element name="TYPE" type="xs:string"  minOccurs="0"/>
                                                  <xs:element name="LABEL_ES" type="xs:string"  minOccurs="0"/>
                                                  <xs:element name="LABEL_EN" type="xs:string"  minOccurs="0"/>
                                             </xs:sequence>
                                        </xs:complexType>
                                   </xs:element>
                              </xs:sequence>
                         </xs:complexType>
                    </xs:element>
               </xs:sequence>
          </xs:complexType>
     </xs:element>
</xs:schema>