Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SJS/consultaTipoTarjetaNI/xsd/sjConsultaTipoTarjetaNI.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaTipoTarjetaNI"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaTipoTarjetaNI"
	elementFormDefault="qualified">

	<xs:element name="sjConsultaTipoTarjeta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="xs:integer"/>
				<xs:element name="OPERATION" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="sjConsultaTipoTarjetaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
				<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="LOGO" type="xs:string" minOccurs="0"/>
				<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="ACCOUNT_DATA_REGISTRATION" type="xs:string" minOccurs="0"/>
				<xs:element name="ORG" type="xs:string" minOccurs="0"/>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="SCHEME" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_TYPE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>