Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/INTFC/obtenerSituacionFinanciera/xsd/obtenerSituacionFinanciera_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/obtenerSituacionFinanciera" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/obtenerSituacionFinanciera" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_REFERENCIA_LLAVE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_PROD_ACTIVOS_GRUPO" type="db:SERVICIO.OT_DET_PRODUCTOS" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_PROD_PASIVOS_GRUPO" type="db:SERVICIO.OT_DET_PRODUCTOS" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DET_PROD_ACTIVOS" type="db:SERVICIO.OT_DET_PRODUCTOS" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DET_PROD_PASIVOS" type="db:SERVICIO.OT_DET_PRODUCTOS" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_SUCCESS_INDICADOR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="SERVICIO.T_DET_PRODUCTOS">
      <sequence>
         <element name="ACTIVO_PASIVO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_TIPO_PRODUCTO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_MONEDA" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SALDO_DISPONIBLE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SALDO_TOTAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="SERVICIO.OT_DET_PRODUCTOS">
      <sequence>
         <element name="PT_PROD_ACTIVOS_GRUPO_ITEM" type="db:SERVICIO.T_DET_PRODUCTOS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
</schema>