Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ValidaDepositoReferenciado/xsd/validaDepositoReferenciadoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:FicVdr="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosTypes" targetNamespace="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosTypes" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="validaDepositoReferenciado" type="FicVdr:ValidaDepositoReferenciadoRequestIM"/>
	<xs:element name="validaDepositoReferenciadoResponse" type="FicVdr:ValidaDepositoReferenciadoResponseIM"/>
	<xs:complexType name="ValidaDepositoReferenciadoRequestIM">
		<xs:sequence>
			<xs:element name="ACCOUNT" type="xs:string"/>
			<xs:element name="DOCUMENT_INFO" type="FicVdr:DocumentInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValidaDepositoReferenciadoResponseIM">
		<xs:sequence>
			<xs:element name="DOCUMENT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBTOR_INFOS" type="FicVdr:DebtorInfosType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DebtorInfosType">
		<xs:sequence>
			<xs:element name="DEBTOR_INFO" type="FicVdr:DebtorInfoType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentInfoType">
		<xs:sequence>
			<xs:element name="TYPE" type="FicVdr:typeRestriction"/>
			<xs:element name="VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DebtorInfoType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="NAME" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="typeRestriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCUMENT_NUMBER"/>
			<xs:enumeration value="DEBTOR_CODE"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>