Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/v2/Resources/ConsultaInfoClienteSLA/xsd/consultaInfoClienteSlaTypes.xsd

<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaInfoClienteSlaTypes"
 			xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaInfoClienteSlaTypes" 
 			elementFormDefault="qualified" attributeFormDefault="qualified"
			version="1.0" >

<xs:element name="consultaInfoClienteSlaRequest">
<xs:complexType>
	<xs:sequence>
		<xs:element name="CUSTOMER_ID_TYPE">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="CUSTOMER_ID_VALUE">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="consultaInfoClienteSlaResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="DNI" type="tns:legalIdentificationListType" minOccurs="0" />			
			<xs:element name="FIRTS_NAME" type="xs:string" minOccurs="0" />		
			<xs:element name="LAST_NAME" type="xs:string" minOccurs="0" />		
			<xs:element name="GENDER" type="xs:string" minOccurs="0" />
			<xs:element name="AGE" type="xs:string" minOccurs="0" />
			<xs:element name="EDUCATION_LEVEL" type="xs:string" minOccurs="0" />
			<xs:element name="ADDRESS_INFO" type="tns:addressListType" minOccurs="0"/>				
			<xs:element name="DATE_OF_BIRTH" type="xs:string" minOccurs="0" />
			<xs:element name="PHONE_INFO" type="tns:phoneNumberListType" minOccurs="0" />																			
			<xs:element name="EMAIL_INFO" type="tns:emailListType" minOccurs="0" />	
		</xs:sequence>
	</xs:complexType>
</xs:element>

 <!--IDENTIFICATION INFORMATION TYPES-->
 <!--################################-->
 <xs:complexType name="legalIdentificationListType">
  <xs:sequence>
   <xs:element name="LEGAL_IDENTIFICATION_ITEM" type="tns:legalIdentificationType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="legalIdentificationType">
  <xs:sequence>
  <!--Field for indicate the name (type) of the legal document-->
   <xs:element name="LEGAL_DOCUMENT_NAME" type="xs:string" minOccurs="0"/>  
   <!--Field for indicate number of the legal id document-->
   <xs:element name="LEGAL_ID" type="xs:string"/>   
   <!--Field for indicate expiration date of the legal id document-->
   <xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>   
  </xs:sequence>
 </xs:complexType>

<!--PHONE NUMBER INFORMATION TYPES-->
<!--##############################-->
 <xs:complexType name="phoneNumberListType">
  <xs:sequence>
   <xs:element name="PHONE_NUMBER_ITEM" type="tns:phoneNumberType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

<xs:complexType name="phoneNumberType">
  <xs:sequence>
   <xs:element name="PHONE_LOCATION" type="xs:string" minOccurs="0"/>
   <xs:element name="PHONE_TYPE" type="xs:string" minOccurs="0"/>   
   <xs:element name="PHONE_AREA_CODE" type="xs:string" minOccurs="0"/>
   <xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0"/>
   <xs:element name="IS_DEFAULT" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>


<!--ADDRESS INFORMATION TYPES-->
<!--#########################--> 
 <xs:complexType name="addressListType">
  <xs:sequence>
   <xs:element name="ADDRESS_ITEM" type="tns:addressType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 
<xs:complexType name="addressType">
	<xs:sequence>
		<xs:element name="ADDRESS_CODE" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_TYPE" type="xs:string"/>		
		<xs:element name="POBOX" type="xs:string" minOccurs="0"/>
		<xs:element name="ZIPCODE" type="xs:string" minOccurs="0"/>
		<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0"/>
		<xs:element name="DEPARTMENT_CODE" type="xs:string" minOccurs="0"/>
		<xs:element name="MUNICIPALITY_CODE" type="xs:string" minOccurs="0"/>
		<xs:element name="CITY_CODE" type="xs:string" minOccurs="0"/>
		<xs:element name="COLONY_CODE" type="xs:string" minOccurs="0"/>		
		<xs:element name="DISTRICT_CODE" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_LINE_1" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_LINE_2" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_LINE_3" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_LINE_4" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_LINE_5" type="xs:string" minOccurs="0"/>
		<xs:element name="IS_MAIN_ADDRESS" type="xs:string" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>

 
 <!--EMAIL ADDRESS INFORMATION TYPES-->
 <!--###############################-->
 <xs:complexType name="emailListType">
  <xs:sequence>
   <xs:element name="EMAIL_ITEM" type="tns:emailType" minOccurs="0" maxOccurs="unbounded"/>   
  </xs:sequence>
 </xs:complexType>
 

 <xs:complexType name="emailType">
  <xs:sequence>
  <xs:element name="EMAIL_CODE" type="xs:string" minOccurs="0"/>
   <xs:element name="EMAIL_ADDRESS" type="xs:string" minOccurs="0"/>
    <xs:element name="IS_DEFAULT" type="xs:string" minOccurs="0"/>   
  </xs:sequence>
 </xs:complexType>

</xs:schema>