Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CBSNI/pagoPrestamo/xsd/pagar_prestamo_db_ws.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://www.ficohsa.com/db/sp/pagarPrestamo" elementFormDefault="qualified" targetNamespace="http://www.ficohsa.com/db/sp/pagarPrestamo">
    <element name="PagarPrestamo">
        <complexType>
            <sequence>
                <element db:index="1" db:type="TINYINT" minOccurs="0" name="i_canal" nillable="true" type="byte"/>
                <element db:index="2" db:type="VARCHAR" minOccurs="0" name="i_LOAN_NUMBER" nillable="true" type="db:string24"/>
                <element db:index="3" db:type="MONEY" minOccurs="0" name="i_PAYMENT_AMOUNT" nillable="true" type="decimal"/>
                <element db:index="4" db:type="VARCHAR" minOccurs="0" name="i_DEBIT_ACCOUNT" nillable="true" type="db:string24"/>
                <element db:index="5" db:type="TINYINT" minOccurs="0" name="i_servicio" nillable="true" type="byte"/>
                <element db:index="6" db:type="VARCHAR" minOccurs="0" name="i_login" nillable="true" type="db:string64"/>
                <element db:index="7" db:type="VARCHAR" minOccurs="0" name="i_multimon" nillable="true" type="db:string1"/>
                <element db:index="8" db:type="INT" minOccurs="0" name="i_oficina" nillable="true" type="int"/>
                <element db:index="9" db:type="VARCHAR" minOccurs="0" name="i_causa" nillable="true" type="db:string4"/>
            </sequence>
        </complexType>
    </element>
    <element name="PagarPrestamoResponse">
        <complexType>
            <sequence>
                <element db:type="RowSet" maxOccurs="unbounded" minOccurs="0" name="RowSet" nillable="true" type="db:RowSet"/>
                <element db:index="0" db:type="INT" minOccurs="0" name="RETURN_VALUE" nillable="true" type="int"/>
                <element db:index="10" db:type="INT" minOccurs="0" name="o_num_error" nillable="true" type="int"/>
                <element db:index="11" db:type="VARCHAR" minOccurs="0" name="o_desc_error" nillable="true" type="db:string64"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="RowSet">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="Row">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" name="Column" nillable="true">
                            <complexType>
                                <simpleContent>
                                    <extension base="string">
                                    <attribute name="name" type="string" use="required"/>
                                    <attribute name="sqltype" type="string" use="required"/>
                                    </extension>
                                </simpleContent>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>
    <simpleType name="string24">
        <restriction base="string">
            <maxLength value="24"/>
        </restriction>
    </simpleType>
    <simpleType name="string64">
        <restriction base="string">
            <maxLength value="64"/>
        </restriction>
    </simpleType>
    <simpleType name="string1">
        <restriction base="string">
            <maxLength value="1"/>
        </restriction>
    </simpleType>
    <simpleType name="string4">
        <restriction base="string">
            <maxLength value="4"/>
        </restriction>
    </simpleType>
</schema>