Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FPC/getFundPensionClient12c/xsd/GetFundPensionClientTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaFondosPensionesClienteTypes" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaFondosPensionesClienteTypes">
           
	<xs:element name="consultaFondosPensionesClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID_TYPE" type="xs:string"/>
				<xs:element name="CUSTOMER_ID_VALUE" type="xs:string"/>
				<xs:element name="CUSTOMER_CODE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaFondosPensionesClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="CUSTOMER_ID_VALUE" type="xs:string" minOccurs="0"/>
				<xs:element name="CUSTOMER_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="ACCOUNT_INFO" type="con:accountInfoListType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--ACCOUNT INFORMATION TYPES-->
	<!--##############################-->
	<xs:complexType name="accountInfoListType">
		<xs:sequence>
			<xs:element name="ACCOUNT_ITEM" type="con:accountInfoType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="accountInfoType">
		 <xs:sequence>
			  <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			  <xs:element name="CURRENCY_CODE" type="xs:string" minOccurs="0"/>   
			  <xs:element name="CURRENCY_NAME" type="xs:string" minOccurs="0"/>
			  <xs:element name="PRODUCT_CODE" type="xs:string" minOccurs="0"/>
			  <xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="0"/>
			  <xs:element name="SUBPRODUCT_CODE" type="xs:string" minOccurs="0"/>
			  <xs:element name="SUBPRODUCT_NAME" type="xs:string" minOccurs="0"/>
			  <xs:element name="OPENING_DATE" type="xs:string" minOccurs="0"/>
			  <xs:element name="TOTAL_BALANCE" type="xs:string" minOccurs="0"/>
			  <xs:element name="ACCOUNT_CODE" type="xs:string" minOccurs="0"/>
		 </xs:sequence>
	 </xs:complexType>         

</xs:schema>