Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/NotificaEstadoRemesa/wsdl/notificaEstadoRemesaPS.wsdl

<wsdl:definitions name="notificaEstadoRemesaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/notificaEstadoRemesaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/notificaEstadoRemesaPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:con="http://www.ficohsa.com.hn/middleware.services/notificaEstadoRemesaTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/notificaEstadoRemesaTypes" schemaLocation="../xsd/notificaEstadoRemesaTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="notificaEstadoRemesaRequest">
		<wsdl:part element="con:notificaEstadoRemesaRequest" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="notificaEstadoRemesaResponse">
		<wsdl:part element="con:notificaEstadoRemesaResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="notificaEstadoRemesaPS">
		<wsdl:operation name="notificaEstadoRemesa" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:notificaEstadoRemesaRequest"/>
			<wsdl:output message="tns:notificaEstadoRemesaResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="notificaEstadoRemesaPSSOAP" type="tns:notificaEstadoRemesaPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="notificaEstadoRemesa">
			<soap:operation soapAction="http://www.example.org/notificaEstadoRemesaPS/notificaEstadoRemesa"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="notificaEstadoRemesaPS">
		<wsdl:port binding="tns:notificaEstadoRemesaPSSOAP" name="notificaEstadoRemesaPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/Remittances/BussinesPartner/NotificaEstadoRemesa"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>