Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActualizaProductoTC/xsd/actualizaProductoTCTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaProductoTCTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/actualizaProductoTCTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: actualizaProductoTC -->
    <!--############################################-->
    
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    
    <xs:element name="actualizaProductoTC">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="PRODUCT_TYPE" type="tns:stringMinLength1"/>
            <xs:element name="ACCOUNT_NUMBER" type="tns:stringMinLength1"/>
            <xs:element name="UPDATE_VALUE" type="tns:stringMinLength1"/>	
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="actualizaProductoTCResponse">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="PREVIUS_CARD_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="CURRENT_CARD_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>