Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ReversaVentaMenor/xsd/reversaVentaMenorTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/reversaVentaMenorTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/reversaVentaMenorTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: reversaVentaMenor -->
    <!--############################################-->
    <xs:element name="reversaVentaMenor">
        <xs:complexType>
            <xs:sequence>
	            <xs:element name="REVERSION_ID" type="xs:string"  minOccurs="0" />
	            <xs:element name="TRANSACTION_DATE" type="xs:string"  minOccurs="0" />
	            <xs:element name="TRANSACTION_ID" type="xs:string"  minOccurs="0" />
	            <xs:element name="USER_ID" type="xs:string"  minOccurs="0" />
	            <xs:element name="BRANCH" type="xs:string"  minOccurs="0" />
        	</xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="reversaVentaMenorResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="TRANSACTION_ID" type="xs:string"  minOccurs="0" />
            	<xs:element name="ERROR_MESSAGE" type="xs:string"  minOccurs="0" />
       		</xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>