Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/RegistraBitacoraTransaccion/xsd/RegistraBitacoraTransaccion_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/RegistraBitacoraTransaccion" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/RegistraBitacoraTransaccion" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_UUID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TIPO_TRANSACCION" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_ERROR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA" type="dateTime" db:index="6" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PC_XML_REQUEST" type="string" db:index="7" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="PC_XML_RESPONSE" type="string" db:index="8" db:type="CLOB" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_ERROR_CODE" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR_MESSAGE" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>