Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/ConsultaNoTC/xsd/CONSULTANUMEROTC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CONSULTANUMEROTC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CONSULTANUMEROTC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="identidad" type="db:string16" db:index="1" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="tarjeta" type="db:string4" db:index="2" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="CARD_NUMBER" type="db:string16" db:index="3" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="MESSAGE_ERROR" type="db:string250" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet0" type="db:RowSet0_RowSet" db:type="RowSet0" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="CARD_NUMBER" type="db:string16" db:index="3" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="MESSAGE_ERROR" type="db:string250" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet0_RowSet">
      <sequence>
         <element name="RowSet0_Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="CARD_NUMBER" type="db:string16" db:type="CHAR" minOccurs="0" nillable="true"/>
                  <element name="MESSAGE_ERROR" type="db:string250" db:type="VARCHAR" minOccurs="0" nillable="true"/>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
</schema>
