Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABK/ingresarDeudoresDepRef/xsd/ingresarDeudoresDepRef_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ingresarDeudoresDepRef" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ingresarDeudoresDepRef" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_USUARIOINGRESO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOCLIENTE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROCUENTA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGODEUDORES" type="db:TVARCHAR20" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOMBREDEUDORES" type="db:TVARCHAR100" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NUMERODOCUMENTO" type="db:TVARCHAR20" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOCLIENTE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROCUENTA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGODEUDORES" type="db:TVARCHAR20" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOMBREDEUDORES" type="db:TVARCHAR100" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NUMERODOCUMENTO" type="db:TVARCHAR20" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_ESTADODEUDORES" type="db:TVARCHAR10" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MENSAJEDEUDORES" type="db:TVARCHAR256" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_IDLOTE" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TVARCHAR100">
      <sequence>
         <element name="ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR256">
      <sequence>
         <element name="ITEM" type="db:string256" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR20">
      <sequence>
         <element name="ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR10">
      <sequence>
         <element name="ITEM" type="db:string10" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
</schema>