Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABKPA/consultaCalendarioPagoPrestamo/xsd/consultaCalendarioPagoPrestamo_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaCalendarioPagoPrestamo" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaCalendarioPagoPrestamo" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="LOAN_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="BILL_REFERENCE" type="db:TOPLEVEL_TVARCHAR30" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BILL_NUMBER" type="db:TOPLEVEL_TVARCHAR30" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BILL_DATE" type="db:TOPLEVEL_TVARCHAR30" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DESCRIPTION" type="db:TOPLEVEL_TVARCHAR2000" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PRINCIPAL_AMOUNT" type="db:TOPLEVEL_TVARCHAR30" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="INTEREST_AMOUNT" type="db:TOPLEVEL_TVARCHAR30" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="OVERDUE_AMOUNT" type="db:TOPLEVEL_TVARCHAR30" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="OTHER_AMOUNT" type="db:TOPLEVEL_TVARCHAR30" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BILL_TOTAL_AMOUNT" type="db:TOPLEVEL_TVARCHAR30" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BILL_OUTSTANDING_AMOUNT" type="db:TOPLEVEL_TVARCHAR30" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BILL_STATUS" type="db:TOPLEVEL_TVARCHAR3" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TOPLEVEL_TVARCHAR2000">
      <sequence>
         <element name="DESCRIPTION_ITEM" type="db:string2000" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR3">
      <sequence>
         <element name="BILL_STATUS_ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR30">
      <sequence>
         <element name="BILL_REFERENCE_ITEM" type="db:string30" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string2000">
      <restriction base="string">
         <maxLength value="2000"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
</schema>