Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABKPA/consultaBuroInterno/xsd/ConsultaBuroInterno_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaBuroInterno" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaBuroInterno" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_CLIENTE" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_EMPRESA" type="db:PROXYABANKSPA.TNUMBER" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_AGENCIA" type="db:PROXYABANKSPA.TNUMBER" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_SUBAPLICACION" type="db:PROXYABANKSPA.TNUMBER" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_PRODUCTO" type="db:PROXYABANKSPA.TNUMBER" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_OBLIGACION" type="db:PROXYABANKSPA.TVARCHAR100" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_PRODUCTO" type="db:PROXYABANKSPA.TVARCHAR100" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_PRESTAMO" type="db:PROXYABANKSPA.TVARCHAR100" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCION_PRODUCTO" type="db:PROXYABANKSPA.TVARCHAR100" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADO_PRODUCTO" type="db:PROXYABANKSPA.TVARCHAR100" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_FECHA_APERTURA" type="db:PROXYABANKSPA.TDATE" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_FECHA_CANCELACION" type="db:PROXYABANKSPA.TDATE" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_FECHA_VENCIMIENTO" type="db:PROXYABANKSPA.TDATE" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_GARANTIA" type="db:PROXYABANKSPA.TNUMBER" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_PLAZO" type="db:PROXYABANKSPA.TNUMBER" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_HISTORIAL_MORA" type="db:PROXYABANKSPA.TVARCHAR100" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA" type="db:PROXYABANKSPA.TVARCHAR100" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_MONTO_OTORGADO" type="db:PROXYABANKSPA.TNUMBER" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_SALDO_CAPITAL" type="db:PROXYABANKSPA.TNUMBER" db:index="19" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CUOTA_PRODUCTO" type="db:PROXYABANKSPA.TNUMBER" db:index="20" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_TASA_CAMBIO" type="db:PROXYABANKSPA.TNUMBER" db:index="21" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_DIAS_MOROSIDAD" type="db:PROXYABANKSPA.TNUMBER" db:index="22" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ERROR" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_RETORNO" type="decimal" db:index="24" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSPA.TNUMBER">
      <sequence>
         <element name="PV_CODIGO_EMPRESA_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.TDATE">
      <sequence>
         <element name="PV_FECHA_APERTURA_ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.TVARCHAR100">
      <sequence>
         <element name="PV_NUMERO_OBLIGACION_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>