Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaSaldosHistEstadoCuenta_v2/wsdl/ConsultaSaldosHistEstadoCuenta_v2.wsdl

<WL5G3N0:definitions name="consultaSaldosHistEstadoCuentaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaPS" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaPS" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaPS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_1370509911.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaPS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaTypes" schemaLocation="../xsd/XMLSchema_-268259843.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaSaldosHistEstadoCuentaRequest">
    <WL5G3N0:part element="WL5G3N2:consultaSaldosHistEstadoCuenta" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaSaldosHistEstadoCuentaResponse">
    <WL5G3N0:part element="WL5G3N2:consultaSaldosHistEstadoCuentaResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="consultaSaldosHistEstadoCuentaPS">
    <WL5G3N0:operation name="consultaSaldosHistEstadoCuenta" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaSaldosHistEstadoCuentaRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaSaldosHistEstadoCuentaResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="consultaSaldosHistEstadoCuentaPSSOAP" type="WL5G3N3:consultaSaldosHistEstadoCuentaPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="consultaSaldosHistEstadoCuenta">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaSaldosHistEstadoCuentaPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="consultaSaldosHistEstadoCuentaPS">
    <WL5G3N0:port binding="WL5G3N3:consultaSaldosHistEstadoCuentaPSSOAP" name="consultaSaldosHistEstadoCuentaPSSOAP">
      <WL5G3N4:address location="http://JZAMBRANO.mshome.net:7001/Middleware/OperationsAndExecution/Cards/ConsultaSaldosHistEstadoCuenta"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>