Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CatalogosInfoCliente/consultaActividadesEconomicas/xsd/consultaActividadesEconomicas_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaActividadesEconomicas" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaActividadesEconomicas" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_TYPE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_INITIAL_RANGE" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_FINAL_RANGE" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_ECONOMIC_ACTIVITY_CODE" type="db:PROXYABANKSHN.TNUMBER" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_ECONOMIC_ACTIVITY_DESC" type="db:PROXYABANKSHN.TVARCHAR100" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSHN.TVARCHAR100">
      <sequence>
         <element name="ECONOMIC_ACTIVITY_DESC_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TNUMBER">
      <sequence>
         <element name="ECONOMIC_ACTIVITY_CODE_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>