Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaDetalleServicioAfiliado/xsd/ConsultaDetalleServiciosAfiliadosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:FicCpa="http://www.ficohsa.com.hn/middleware.services/ConsultaDetalleServiciosAfiliadosTypes" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsultaDetalleServiciosAfiliadosTypes" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="consultaDetalleServiciosAfiliados" type="FicCpa:ConsultaDetalleServiciosAfiliadosRequestIM"/>
	<xs:element name="consultaDetalleServiciosAfiliadosResponse" type="FicCpa:ConsultaDetalleServiciosAfiliadosResponseIM"/>
	<xs:complexType name="ConsultaDetalleServiciosAfiliadosRequestIM">
		<xs:sequence>
			<xs:element name="SITE_ID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsultaDetalleServiciosAfiliadosResponseIM">
		<xs:sequence>
			<xs:element name="SERVICE_INFO" type="FicCpa:ServiceInfoType"  minOccurs="0"/>
			<xs:element name="SERVICE_DETAILS" type="FicCpa:ServiceDetailsType"  minOccurs="0"/>
			<xs:element name="INFO_ADITIONAL_SERVICE" type="FicCpa:InfoAditionalType"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceInfoType">
		<xs:sequence>
			<xs:element name="SITE_ID" type="xs:string"/>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="CONTRACT_ID" type="xs:string"/>
			<xs:element name="TYPE" type="xs:string"/>
		    <xs:element name="IS_DATA_CONFIG" type="xs:string"/>
			<xs:element name="DESCRIPTION" type="xs:string"/>
			<xs:element name="CUSTOMER_DESCRIPTION" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceDetailsType">
		<xs:sequence>
			<xs:element name="SERVICE_FIELDS" type="FicCpa:ServiceFieldsType"/>
			<xs:element name="DATA_SERVICES" type="FicCpa:DataServicesType"/>
			<xs:element name="SERVICE_DATA_INPUT_CONFIG" type="FicCpa:ServiceDataInputConfigType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceDataInputConfigType">
		<xs:sequence>
			<xs:element name="DATA_SERVICE" type="FicCpa:ServiceDataInputConfigFieldType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ServiceDataInputConfigFieldType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="0"/>
			<xs:element name="ENABLE_CATALOG" type="FicCpa:YesNoTypeEnum"/>
			<xs:element name="CATALOG_ITEMS" type="FicCpa:CatalogItemsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ServiceFieldsType">
		<xs:sequence>
			<xs:element name="SERVICE_FIELD" type="FicCpa:ServiceFieldType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceFieldType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string"/>
			<xs:element name="DESCRIPTION" type="xs:string"/>
			<xs:element name="ENABLE_CATALOG" type="FicCpa:YesNoTypeEnum"/>
			<xs:element name="CATALOG_ITEMS" type="FicCpa:CatalogItemsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CatalogItemsType">
		<xs:sequence>
			<xs:element name="ITEMS" type="FicCpa:ItemsType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemsType">
		<xs:sequence>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataServicesType">
		<xs:sequence>
			<xs:element name="DATA_SERVICE" type="FicCpa:DataServiceType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataServiceType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InfoAditionalType">
		<xs:sequence>
			<xs:element name="AVALIABLES_PRODUCTS_PAYMENT" type="FicCpa:AvailableProductsPaymentType"/>
			<xs:element name="ALLOW_PARTIAL_PAYMENT" type="FicCpa:YesNoTypeEnum"/>
			<xs:element name="ENABLE_CROSSING_CURRENCY" type="FicCpa:YesNoTypeEnum"/>
			<xs:element name="AVALIABLE_CURRENCY" type="FicCpa:AvailableCurrencyType" minOccurs="0"/>
			<xs:element name="TIME_RESTRICTION" type="FicCpa:TimeRestrictionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AvailableProductsPaymentType">
		<xs:sequence>
			<xs:element name="AVALIABLE_PRODUCT" type="FicCpa:AvailableProductType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AvailableProductType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:string"/>
			<xs:element name="DESCRIPTION" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AvailableCurrencyType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="FicCpa:CurrencyType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurrencyType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:string"/>
			<xs:element name="DESCRIPTION" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="TimeRestrictionType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="HOURS_DURATION" type="xs:string" minOccurs="0"/>
			<xs:element name="FREQUENCY" type="FicCpa:FrecuencyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FrecuencyType">
		<xs:sequence>
			<xs:element name="HOURS" type="xs:string" minOccurs="0"/>
			<xs:element name="WEEKLY" type="FicCpa:WeeklyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WeeklyType">
		<xs:sequence>
			<xs:element name="DAYS" type="FicCpa:DaysType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DaysType">
		<xs:sequence>
			<xs:element name="DAY" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="YesNoTypeEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="YES"/>
			<xs:enumeration value="NO"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>