Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultarSaldoTCAbanks/ORA_BANK_OSB_CON_RESCUENTATC.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_CON_RESCUENTATC/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_CON_RESCUENTATC/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="GN_NOTARJETA" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="GN_NOTARJETA" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GV_NOMBRETITULAR" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GN_NUMEROCUENTA" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GV_FECHASALDOS" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GN_PUNTOSACUMULADOS" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GV_FECHAULTIMOCORTE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GV_FECHAMAXPAGO" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GN_CODIGOCLIENTE" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_LIMITECREDITOLPS" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_DISPONIBLECOMPRASLPS" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_DISPONIBLERETIROSLPS" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_DISPEXTRAFINANLPS" type="decimal" db:index="12" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOEXTRAFINANLPS" type="decimal" db:index="13" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_DISPCONSUMOCUOTASLPS" type="decimal" db:index="14" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOCONSUMOCUOTASLPS" type="decimal" db:index="15" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOACTUALLPS" type="decimal" db:index="16" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOVENCIDOLPS" type="decimal" db:index="17" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOFLOTANTELPS" type="decimal" db:index="18" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_LIMITECREDITOUSD" type="decimal" db:index="19" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_DISPONIBLECOMPRASUSD" type="decimal" db:index="20" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_DISPONIBLERETIROSUSD" type="decimal" db:index="21" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_DISPEXTRAFINANUSD" type="decimal" db:index="22" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOEXTRAFINANUSD" type="decimal" db:index="23" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_DISPCONSUMOCUOTASUSD" type="decimal" db:index="24" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOCONSUMOCUOTASUSD" type="decimal" db:index="25" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOACTUALUSD" type="decimal" db:index="26" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOVENCIDOUSD" type="decimal" db:index="27" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOFLOTANTEUSD" type="decimal" db:index="28" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_PAGOCONTADOUSD" type="decimal" db:index="29" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_PAGOMINIMOUSD" type="decimal" db:index="30" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_PAGOSDIAUSD" type="decimal" db:index="31" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_TIPOSALDOOPERATIVO" type="decimal" db:index="32" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_LIMITECREDITO" type="decimal" db:index="33" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDODISPONIBLE" type="decimal" db:index="34" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_CONSULTASFLOTANTES" type="decimal" db:index="35" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOTOTALLPS" type="decimal" db:index="36" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_PAGOMINIMOLPS" type="decimal" db:index="37" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_PAGOCONTADOLPS" type="decimal" db:index="38" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOMORALPS" type="decimal" db:index="39" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_CUOTASVENCIDADLPS" type="decimal" db:index="40" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_PAGOSDIALPS" type="decimal" db:index="41" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOTOTALUSS" type="decimal" db:index="42" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_PAGOMINIMOUSS" type="decimal" db:index="43" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_PAGOCONTADOUSS" type="decimal" db:index="44" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_SALDOMORAUSS" type="decimal" db:index="45" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_CUOTASVENCIDADUSS" type="decimal" db:index="46" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_PAGOSDIAUSS" type="decimal" db:index="47" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GD_ULTIMOCORTE" type="dateTime" db:index="48" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="GD_MAXPAGO" type="dateTime" db:index="49" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="GN_PUNTOS" type="decimal" db:index="50" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_DISPONIBLERETIROS" type="decimal" db:index="51" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GN_CONSULTASFLOTANTESUSD" type="decimal" db:index="52" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="GV_ESTATUSCONFIRMACION" type="string" db:index="53" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GV_MENSAJECONFIRMACION" type="string" db:index="54" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>