Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaTasaPromedio/xsd/consultaTasaPromedioTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaTasaPromedioTypes"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTasaPromedioTypes">
	
	<xs:element name="consultaTasaPromedioRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RATE_DATE" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaTasaPromedioResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BADGE" type="tns:badgeType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="badgeType">
		<xs:sequence>
			<xs:element name="TRANSACTION_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENT_VOLUME" type="xs:decimal" minOccurs="0"/>
			<xs:element name="AVERAGE_RATE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="RATE_DATE" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>