Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/svcPagoTarjetaCredito_DebitoCuenta/wsdl/PagoTarjetaCredito_DebitoCuenta.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_-683463289.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/PagoTarjetaCredito_DebitoCuentaTypes.xsd"/>
</xsd:schema>
</types>
<message name="PagodeTCenFT">
<part name="parameters" element="tns:PagodeTCenFT"/>
</message>
<message name="PagodeTCenFTResponse">
<part name="parameters" element="tns:PagodeTCenFTResponse"/>
</message>
<message name="PagodeTCenFT_Validate">
<part name="parameters" element="tns:PagodeTCenFT_Validate"/>
</message>
<message name="PagodeTCenFT_ValidateResponse">
<part name="parameters" element="tns:PagodeTCenFT_ValidateResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="PagodeTCenFT">
<input message="tns:PagodeTCenFT"/>
<output message="tns:PagodeTCenFTResponse"/>
</operation>
<operation name="PagodeTCenFT_Validate">
<input message="tns:PagodeTCenFT_Validate"/>
<output message="tns:PagodeTCenFT_ValidateResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="PagodeTCenFT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagodeTCenFT_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcPagoTarjetaCredito_DebitoCuenta/services"/>
</port>
</service>
</definitions>