Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/consultaCheque/Resources/Compensacion.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_1863246530.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_1569843523.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Registroderechazodecheque">
<part name="parameters" element="tns:Registroderechazodecheque"/>
</message>
<message name="RegistroderechazodechequeResponse">
<part name="parameters" element="tns:RegistroderechazodechequeResponse"/>
</message>
<message name="Registroderechazodecheque_Validate">
<part name="parameters" element="tns:Registroderechazodecheque_Validate"/>
</message>
<message name="Registroderechazodecheque_ValidateResponse">
<part name="parameters" element="tns:Registroderechazodecheque_ValidateResponse"/>
</message>
<message name="Simulapagodechqporcompensacion">
<part name="parameters" element="tns:Simulapagodechqporcompensacion"/>
</message>
<message name="SimulapagodechqporcompensacionResponse">
<part name="parameters" element="tns:SimulapagodechqporcompensacionResponse"/>
</message>
<message name="Simulapagodechqporcompensacion_Validate">
<part name="parameters" element="tns:Simulapagodechqporcompensacion_Validate"/>
</message>
<message name="Simulapagodechqporcompensacion_ValidateResponse">
<part name="parameters" element="tns:Simulapagodechqporcompensacion_ValidateResponse"/>
</message>
<message name="Aumentadiasdereserva">
<part name="parameters" element="tns:Aumentadiasdereserva"/>
</message>
<message name="AumentadiasdereservaResponse">
<part name="parameters" element="tns:AumentadiasdereservaResponse"/>
</message>
<message name="Aumentadiasdereserva_Validate">
<part name="parameters" element="tns:Aumentadiasdereserva_Validate"/>
</message>
<message name="Aumentadiasdereserva_ValidateResponse">
<part name="parameters" element="tns:Aumentadiasdereserva_ValidateResponse"/>
</message>
<message name="Aplicadevolucionporcheque">
<part name="parameters" element="tns:Aplicadevolucionporcheque"/>
</message>
<message name="AplicadevolucionporchequeResponse">
<part name="parameters" element="tns:AplicadevolucionporchequeResponse"/>
</message>
<message name="Aplicadevolucionporcheque_Validate">
<part name="parameters" element="tns:Aplicadevolucionporcheque_Validate"/>
</message>
<message name="Aplicadevolucionporcheque_ValidateResponse">
<part name="parameters" element="tns:Aplicadevolucionporcheque_ValidateResponse"/>
</message>
<message name="Pagodechqporcompensacion">
<part name="parameters" element="tns:Pagodechqporcompensacion"/>
</message>
<message name="PagodechqporcompensacionResponse">
<part name="parameters" element="tns:PagodechqporcompensacionResponse"/>
</message>
<message name="Pagodechqporcompensacion_Validate">
<part name="parameters" element="tns:Pagodechqporcompensacion_Validate"/>
</message>
<message name="Pagodechqporcompensacion_ValidateResponse">
<part name="parameters" element="tns:Pagodechqporcompensacion_ValidateResponse"/>
</message>
<message name="Consultadechequesenreserva">
<part name="parameters" element="tns:Consultadechequesenreserva"/>
</message>
<message name="ConsultadechequesenreservaResponse">
<part name="parameters" element="tns:ConsultadechequesenreservaResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Registroderechazodecheque">
<input message="tns:Registroderechazodecheque"/>
<output message="tns:RegistroderechazodechequeResponse"/>
</operation>
<operation name="Registroderechazodecheque_Validate">
<input message="tns:Registroderechazodecheque_Validate"/>
<output message="tns:Registroderechazodecheque_ValidateResponse"/>
</operation>
<operation name="Simulapagodechqporcompensacion">
<input message="tns:Simulapagodechqporcompensacion"/>
<output message="tns:SimulapagodechqporcompensacionResponse"/>
</operation>
<operation name="Simulapagodechqporcompensacion_Validate">
<input message="tns:Simulapagodechqporcompensacion_Validate"/>
<output message="tns:Simulapagodechqporcompensacion_ValidateResponse"/>
</operation>
<operation name="Aumentadiasdereserva">
<input message="tns:Aumentadiasdereserva"/>
<output message="tns:AumentadiasdereservaResponse"/>
</operation>
<operation name="Aumentadiasdereserva_Validate">
<input message="tns:Aumentadiasdereserva_Validate"/>
<output message="tns:Aumentadiasdereserva_ValidateResponse"/>
</operation>
<operation name="Aplicadevolucionporcheque">
<input message="tns:Aplicadevolucionporcheque"/>
<output message="tns:AplicadevolucionporchequeResponse"/>
</operation>
<operation name="Aplicadevolucionporcheque_Validate">
<input message="tns:Aplicadevolucionporcheque_Validate"/>
<output message="tns:Aplicadevolucionporcheque_ValidateResponse"/>
</operation>
<operation name="Pagodechqporcompensacion">
<input message="tns:Pagodechqporcompensacion"/>
<output message="tns:PagodechqporcompensacionResponse"/>
</operation>
<operation name="Pagodechqporcompensacion_Validate">
<input message="tns:Pagodechqporcompensacion_Validate"/>
<output message="tns:Pagodechqporcompensacion_ValidateResponse"/>
</operation>
<operation name="Consultadechequesenreserva">
<input message="tns:Consultadechequesenreserva"/>
<output message="tns:ConsultadechequesenreservaResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registroderechazodecheque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registroderechazodecheque_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Simulapagodechqporcompensacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Simulapagodechqporcompensacion_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aumentadiasdereserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aumentadiasdereserva_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aplicadevolucionporcheque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Aplicadevolucionporcheque_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodechqporcompensacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodechqporcompensacion_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadechequesenreserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwomnidesa:7003/svcCompensacion/services"/>
</port>
</service>
</definitions>