Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/consultaCheque/Resources/consultaCheques.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_-971648484.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-1265051491.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Consultadechequeconfirmado">
<part name="parameters" element="tns:Consultadechequeconfirmado"/>
</message>
<message name="ConsultadechequeconfirmadoResponse">
<part name="parameters" element="tns:ConsultadechequeconfirmadoResponse"/>
</message>
<message name="Confirmaciondecheques">
<part name="parameters" element="tns:Confirmaciondecheques"/>
</message>
<message name="ConfirmaciondechequesResponse">
<part name="parameters" element="tns:ConfirmaciondechequesResponse"/>
</message>
<message name="Confirmaciondecheques_Validate">
<part name="parameters" element="tns:Confirmaciondecheques_Validate"/>
</message>
<message name="Confirmaciondecheques_ValidateResponse">
<part name="parameters" element="tns:Confirmaciondecheques_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Consultadechequeconfirmado">
<input message="tns:Consultadechequeconfirmado"/>
<output message="tns:ConsultadechequeconfirmadoResponse"/>
</operation>
<operation name="Confirmaciondecheques">
<input message="tns:Confirmaciondecheques"/>
<output message="tns:ConfirmaciondechequesResponse"/>
</operation>
<operation name="Confirmaciondecheques_Validate">
<input message="tns:Confirmaciondecheques_Validate"/>
<output message="tns:Confirmaciondecheques_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadechequeconfirmado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Confirmaciondecheques">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Confirmaciondecheques_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.242.104.250:7003/svcConfCheque/services"/>
</port>
</service>
</definitions>