Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/consultaCheque/Resources/ConsultasCheques.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_809756555.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_516353548.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Consultachequesdispporcuenta">
<part name="parameters" element="tns:Consultachequesdispporcuenta"/>
</message>
<message name="ConsultachequesdispporcuentaResponse">
<part name="parameters" element="tns:ConsultachequesdispporcuentaResponse"/>
</message>
<message name="ConsultaChequesPagadosFTHIS">
<part name="parameters" element="tns:ConsultaChequesPagadosFTHIS"/>
</message>
<message name="ConsultaChequesPagadosFTHISResponse">
<part name="parameters" element="tns:ConsultaChequesPagadosFTHISResponse"/>
</message>
<message name="ConsultaChequesPagadosFT">
<part name="parameters" element="tns:ConsultaChequesPagadosFT"/>
</message>
<message name="ConsultaChequesPagadosFTResponse">
<part name="parameters" element="tns:ConsultaChequesPagadosFTResponse"/>
</message>
<message name="ConsultaChequesPagadosTT">
<part name="parameters" element="tns:ConsultaChequesPagadosTT"/>
</message>
<message name="ConsultaChequesPagadosTTResponse">
<part name="parameters" element="tns:ConsultaChequesPagadosTTResponse"/>
</message>
<message name="ConsultaChequesPagadosTTHIS">
<part name="parameters" element="tns:ConsultaChequesPagadosTTHIS"/>
</message>
<message name="ConsultaChequesPagadosTTHISResponse">
<part name="parameters" element="tns:ConsultaChequesPagadosTTHISResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Consultachequesdispporcuenta">
<input message="tns:Consultachequesdispporcuenta"/>
<output message="tns:ConsultachequesdispporcuentaResponse"/>
</operation>
<operation name="ConsultaChequesPagadosFTHIS">
<input message="tns:ConsultaChequesPagadosFTHIS"/>
<output message="tns:ConsultaChequesPagadosFTHISResponse"/>
</operation>
<operation name="ConsultaChequesPagadosFT">
<input message="tns:ConsultaChequesPagadosFT"/>
<output message="tns:ConsultaChequesPagadosFTResponse"/>
</operation>
<operation name="ConsultaChequesPagadosTT">
<input message="tns:ConsultaChequesPagadosTT"/>
<output message="tns:ConsultaChequesPagadosTTResponse"/>
</operation>
<operation name="ConsultaChequesPagadosTTHIS">
<input message="tns:ConsultaChequesPagadosTTHIS"/>
<output message="tns:ConsultaChequesPagadosTTHISResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultachequesdispporcuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaChequesPagadosFTHIS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaChequesPagadosFT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaChequesPagadosTT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaChequesPagadosTTHIS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.242.104.250:7003/svcConsultasCheques/services"/>
</port>
</service>
</definitions>