Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/consultaCheque/Resources/XMLSchema_-1265051491.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Confirmaciondecheques" type="tns:Confirmaciondecheques"/>

<xs:element name="ConfirmaciondechequesResponse" type="tns:ConfirmaciondechequesResponse"/>

<xs:element name="Confirmaciondecheques_Validate" type="tns:Confirmaciondecheques_Validate"/>

<xs:element name="Confirmaciondecheques_ValidateResponse" type="tns:Confirmaciondecheques_ValidateResponse"/>

<xs:element name="Consultadechequeconfirmado" type="tns:Consultadechequeconfirmado"/>

<xs:element name="ConsultadechequeconfirmadoResponse" type="tns:ConsultadechequeconfirmadoResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="WSLATAMAGCHEQUECONFIRMBROWENQType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSLATAMAGCHEQUECONFIRMBROWENQDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSLATAMAGCHEQUECONFIRMBROWENQDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENO" type="xs:string" minOccurs="0"/>
<xs:element name="CHQACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="BENEFICIARYNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ISSUINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CONFIRMYN" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVEFUNDSYN" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LATAMAGCHEQUECONFIRMDATABROWVERType">
<xs:sequence>
<xs:element name="InputDate" type="xs:string" minOccurs="0"/>
<xs:element name="ChequeNo" type="xs:string" minOccurs="0"/>
<xs:element name="ChequeAccount" type="xs:string" minOccurs="0"/>
<xs:element name="gBENEFICIARYNAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="BeneficiaryName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="IssuingDate" type="xs:string" minOccurs="0"/>
<xs:element name="Amount" type="xs:string" minOccurs="0"/>
<xs:element name="ConfirmYN" type="xs:string" minOccurs="0"/>
<xs:element name="ReserveFundsYN" type="xs:string" minOccurs="0"/>
<xs:element name="Status" type="xs:string" minOccurs="0"/>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Overrides" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="LATAMAGCHEQUECONFIRMDATAType">
<xs:sequence>
<xs:element name="INPUTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENO" type="xs:string" minOccurs="0"/>
<xs:element name="CHQACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="gBENEFICIARYNAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="BENEFICIARYNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="ISSUINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CONFIRMYN" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVEFUNDSYN" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="ACLOCKID" type="xs:string" minOccurs="0"/>
<xs:element name="MAPID" type="xs:string" minOccurs="0"/>
<xs:element name="CANCEL" type="xs:string" minOccurs="0"/>
<xs:element name="AGRCONTRACTNO" type="xs:string" minOccurs="0"/>
<xs:element name="SEQNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED13" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED12" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED11" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED10" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED7" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED1" type="xs:string" minOccurs="0"/>
<xs:element name="gSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="STMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="Confirmaciondecheques">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="LATAMAGCHEQUECONFIRMDATABROWVERType" type="tns:LATAMAGCHEQUECONFIRMDATABROWVERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmaciondechequesResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMAGCHEQUECONFIRMDATAType" type="tns:LATAMAGCHEQUECONFIRMDATAType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Confirmaciondecheques_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="LATAMAGCHEQUECONFIRMDATABROWVERType" type="tns:LATAMAGCHEQUECONFIRMDATABROWVERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Confirmaciondecheques_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMAGCHEQUECONFIRMDATAType" type="tns:LATAMAGCHEQUECONFIRMDATAType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadechequeconfirmado">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSLATAMAGCHEQUECONFIRMBROWENQType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadechequeconfirmadoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSLATAMAGCHEQUECONFIRMBROWENQType" type="tns:WSLATAMAGCHEQUECONFIRMBROWENQType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>