Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/OperacionesCorreoElectronico/wsdl/operacionesCorreoElectronicoPS.wsdl

<wsdl:definitions name="operacionesCorreoElectronicoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesCorreoElectronicoPS/" xmlns:oce="http://www.ficohsa.com.hn/middleware.services/operacionesCorreoElectronicoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/operacionesCorreoElectronicoTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/operacionesCorreoElectronicoTypes" schemaLocation="../xsd/operacionesCorreoElectronicoTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

    <wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="enviarCorreoRequest">
		<wsdl:part element="cons:enviarCorreo" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="enviarCorreoResponse">
		<wsdl:part element="cons:enviarCorreoResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="enviarCorreoTablaDinamicaRequest">
		<wsdl:part element="cons:enviarCorreoTablaDinamica" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="enviarCorreoTablaDinamicaResponse">
		<wsdl:part element="cons:enviarCorreoTablaDinamicaResponse" name="result"/>
	</wsdl:message>	
	<wsdl:message name="enviarCorreoArchAdjRequest">
		<wsdl:part element="cons:enviarCorreoArchAdj" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="enviarCorreoArchAdjResponse">
		<wsdl:part element="cons:enviarCorreoArchAdjResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="renviarCorreoRequest">
		<wsdl:part element="cons:renviarCorreo" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="renviarCorreoResponse">
		<wsdl:part element="cons:renviarCorreoResponse" name="result"/>
	</wsdl:message>	
	<wsdl:message name="verificarEnvioCorreoRequest">
	<wsdl:part element="cons:verificarEnvioCorreo" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="verificarEnvioCorreoResponse">
		<wsdl:part element="cons:verificarEnvioCorreoResponse" name="result"/>
	</wsdl:message>
	

	<wsdl:portType name="operacionesCorreoElectronicoPS">
		<wsdl:operation name="enviarCorreo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="oce:enviarCorreoRequest"/>
			<wsdl:output message="oce:enviarCorreoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="enviarCorreoTablaDinamica" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="oce:enviarCorreoTablaDinamicaRequest"/>
			<wsdl:output message="oce:enviarCorreoTablaDinamicaResponse"/>
		</wsdl:operation>
		<wsdl:operation name="enviarCorreoArchAdj" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="oce:enviarCorreoArchAdjRequest"/>
			<wsdl:output message="oce:enviarCorreoArchAdjResponse"/>
		</wsdl:operation>
		<wsdl:operation name="renviarCorreo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="oce:renviarCorreoRequest"/>
			<wsdl:output message="oce:renviarCorreoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="verificarEnvioCorreo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="oce:verificarEnvioCorreoRequest"/>
			<wsdl:output message="oce:verificarEnvioCorreoResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="operacionesCorreoElectronicoPSSOAP" type="oce:operacionesCorreoElectronicoPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>		
		<wsdl:operation name="enviarCorreo">
			<soap:operation soapAction="http://www.ficohsa.com.hn/operacionesCorreoElectronicoPS/enviarCorreo"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="oce:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="oce:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="enviarCorreoTablaDinamica">
			<soap:operation soapAction="http://www.ficohsa.com.hn/operacionesCorreoElectronicoPS/enviarCorreoTablaDinamica"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="oce:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="oce:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="enviarCorreoArchAdj">
			<soap:operation soapAction="http://www.ficohsa.com.hn/operacionesCorreoElectronicoPS/enviarCorreoArchAdj"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="oce:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="oce:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="renviarCorreo">
			<soap:operation soapAction="http://www.ficohsa.com.hn/operacionesCorreoElectronicoPS/renviarCorreo"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="oce:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="oce:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="verificarEnvioCorreo">
			<soap:operation soapAction="http://www.ficohsa.com.hn/operacionesCorreoElectronicoPS/verificarEnvioCorreo"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="oce:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="oce:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
	</wsdl:binding>

	<wsdl:service name="operacionesCorreoElectronicoPS">
		<wsdl:port binding="oce:operacionesCorreoElectronicoPSSOAP" name="operacionesCorreoElectronicoPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Messaging/OperacionesCorreoElectronico"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>