Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/BLAZEPA/xsd/XMLSchema_-722978153.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="XMLSchema_-1734095403.xsd" namespace="http://schemas.datacontract.org/2004/07/Business.Entities.PA"/><xs:element name="OriginacionesPA"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="request" nillable="true" type="q1:OrpanIn" xmlns:q1="http://schemas.datacontract.org/2004/07/Business.Entities.PA"/></xs:sequence></xs:complexType></xs:element><xs:element name="OriginacionesPAResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="OriginacionesPAResult" nillable="true" type="q2:OrpanOut" xmlns:q2="http://schemas.datacontract.org/2004/07/Business.Entities.PA"/></xs:sequence></xs:complexType></xs:element></xs:schema>