Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/PagoTarjetaCredito_v2/xsd/XMLSchema_-20543465.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoTarjetaCreditoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cred="http://www.ficohsa.com.hn/middleware.services/pagoTarjetaCreditoTypes">
	
	<xs:complexType name="pagoTarjetaCreditoResponseType">
		<xs:sequence>
			<xs:element name="LCY_PAYMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="BALANCE_PAYMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="BALANCE_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="pagoTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CREDIT_CARD_NUMBER " type="xs:string"/>
				<xs:element name="BALANCE_CURRENCY " type="xs:string"/>
				<xs:element name="PAYMENT_AMOUNT" type="xs:string"/>
				<xs:element name="CHANNEL_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoTarjetaCreditoResponse" type="cred:pagoTarjetaCreditoResponseType"/>
	
	
</xs:schema>