Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/CalculaDetalleFinanciamiento/xsd/calculaDetalleFinanciamientoTypes.xsd

<schema 
	xmlns="http://www.w3.org/2001/XMLSchema" version="1.0" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/calculaDetalleFinanciamientoTypes" 
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/calculaDetalleFinanciamientoTypes">

	

	<element name="calculaDetalleFinanciamiento">
		<complexType>
			<sequence>
				<element name="ORG" type="integer"/>
				<element name="AMOUNT" type="decimal"/>
				<element name="INTEREST_RATE" type="decimal"/>
				<element name="LOAN_TERM" type="integer"/>
				<element name="CURRENCY" type="string"/>
				<element name="PCT_CODE" type="string"/>
				<element name="INSURANCE_CODE" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	
	
	<element name="calculaDetalleFinanciamientoResponse">
		<complexType>
			<sequence>
				<element name="ORG" type="integer" minOccurs="0"/>
				<element name="LOGO" type="integer" minOccurs="0"/>
				<element name="LOAN_TERM" type="integer" minOccurs="0"/>
				<element name="INTEREST_RATE" type="decimal" minOccurs="0"/>
				<element name="PRINCIPAL_AMOUNT" type="decimal" minOccurs="0"/>
				<element name="INTEREST_AMOUNT" type="decimal" minOccurs="0"/>
				<element name="INSURANCE_AMOUNT" type="decimal" minOccurs="0"/>
				<element name="COMMISSION_AMOUNT" type="decimal" minOccurs="0"/>
				<element name="LOAN_AMOUNT" type="decimal" minOccurs="0"/>
				<element name="TOTAL_LOAN_AMOUNT" type="decimal" minOccurs="0"/>
				<element name="MONTHLY_PAYMENT" type="decimal" minOccurs="0"/>
				<element name="INSURANCE_AMT_INCLUDED" type="string" minOccurs="0"/>
				<element name="LAST_PAYMENT_AMOUNT" type="decimal" minOccurs="0"/>
				<element name="PCT_CODE" type="string" minOccurs="0"/>
				<element name="INSURANCE_CODE" type="string" minOccurs="0"/>		
			</sequence>
		</complexType>
	</element>
	
</schema>