Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/PaquetesMovil/ConsultaPaquetes/xsd/consultaPaquetesMovilTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaPaquetesTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaPaquetesTypes">

	<xs:element name="consultaPaquetesMovilRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PHONE_CARRIER" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PACK_TYPE" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaPaquetesMovilResponse" type="cons:consultaPaquetesMovilResponseTypes" />

	<xs:complexType name="consultaPaquetesMovilResponseTypes">
		<xs:sequence>
			<xs:element name="consultaPaquetesMovilResponseType"
				type="cons:consultaPaquetesMovilResponseRecordType" form="qualified"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPaquetesMovilResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaPaquetesMovilResponseRecordType"
				type="cons:consultaPaquetesMovilResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPaquetesMovilResponseArrayType">
		<xs:sequence>
			<xs:element name="CARRIER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PACK_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PACK_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PACK_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PACK_PRICE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PACK_STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PACK_RANKING" type="xs:string" minOccurs="0" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>


</xs:schema>