Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaDatoAplicacion/xsd/consultaDatoAplicacionTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDatoAplicacionTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaDatoAplicacionTypes"
	elementFormDefault="qualified">
	
	<xs:element name="consultaDatoAplicacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="APPLICATION_NAME" type="xs:string"/>
				<xs:element name="DATA_IDENTIFIER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaDatoAplicacionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DATA_VALUE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>