Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ConsultaMultipleImagenesChequesNI/wsdl/ConsultaMultipleImagenesChequesNI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://schemas.xmlsoap.org/soap/http" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/soap/http">
      <s:element name="ConsultaImagenesCheques">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACCOUNT_NUMBER" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CHEQUE_NUMBER" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="AMOUNT" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaImagenesChequesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaImagenesChequesResult" type="tns:ObtenerImagenes64"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ObtenerImagenes64">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ACCOUNT_NUMBER" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CHEQUE_NUMBER" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="AMOUNT" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="TRANSACTION_DATE" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CHEQUE_IMAGE_FRONT" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CHEQUE_IMAGE_BACK" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="FILE_EXTENSION" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SUCCESSINDICATOR" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGES" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerImagenes64" nillable="true" type="tns:ObtenerImagenes64"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaImagenesChequesSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaImagenesCheques"/>
  </wsdl:message>
  <wsdl:message name="ConsultaImagenesChequesSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaImagenesChequesResponse"/>
  </wsdl:message>
  <wsdl:message name="ConsultaImagenesChequesHttpGetIn">
    <wsdl:part name="ACCOUNT_NUMBER" type="s:string"/>
    <wsdl:part name="CHEQUE_NUMBER" type="s:string"/>
    <wsdl:part name="AMOUNT" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ConsultaImagenesChequesHttpGetOut">
    <wsdl:part name="Body" element="tns:ObtenerImagenes64"/>
  </wsdl:message>
  <wsdl:message name="ConsultaImagenesChequesHttpPostIn">
    <wsdl:part name="ACCOUNT_NUMBER" type="s:string"/>
    <wsdl:part name="CHEQUE_NUMBER" type="s:string"/>
    <wsdl:part name="AMOUNT" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ConsultaImagenesChequesHttpPostOut">
    <wsdl:part name="Body" element="tns:ObtenerImagenes64"/>
  </wsdl:message>
  <wsdl:portType name="ePowerWsRefSoap">
    <wsdl:operation name="ConsultaImagenesCheques">
      <wsdl:input message="tns:ConsultaImagenesChequesSoapIn"/>
      <wsdl:output message="tns:ConsultaImagenesChequesSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ePowerWsRefHttpGet">
    <wsdl:operation name="ConsultaImagenesCheques">
      <wsdl:input message="tns:ConsultaImagenesChequesHttpGetIn"/>
      <wsdl:output message="tns:ConsultaImagenesChequesHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ePowerWsRefHttpPost">
    <wsdl:operation name="ConsultaImagenesCheques">
      <wsdl:input message="tns:ConsultaImagenesChequesHttpPostIn"/>
      <wsdl:output message="tns:ConsultaImagenesChequesHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ePowerWsRefSoap" type="tns:ePowerWsRefSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultaImagenesCheques">
      <soap:operation soapAction="http://schemas.xmlsoap.org/soap/http/ConsultaImagenesCheques" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ePowerWsRefSoap12" type="tns:ePowerWsRefSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultaImagenesCheques">
      <soap12:operation soapAction="http://schemas.xmlsoap.org/soap/http/ConsultaImagenesCheques" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ePowerWsRefHttpGet" type="tns:ePowerWsRefHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="ConsultaImagenesCheques">
      <http:operation location="/ConsultaImagenesCheques"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ePowerWsRefHttpPost" type="tns:ePowerWsRefHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="ConsultaImagenesCheques">
      <http:operation location="/ConsultaImagenesCheques"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ePowerWsRef">
    <wsdl:port name="ePowerWsRefSoap" binding="tns:ePowerWsRefSoap">
      <soap:address location="http://nibnpeepowerqa/ePowerWsRef/ePowerWsRef.asmx"/>
    </wsdl:port>
    <wsdl:port name="ePowerWsRefSoap12" binding="tns:ePowerWsRefSoap12">
      <soap12:address location="http://nibnpeepowerqa/ePowerWsRef/ePowerWsRef.asmx"/>
    </wsdl:port>
    <wsdl:port name="ePowerWsRefHttpGet" binding="tns:ePowerWsRefHttpGet">
      <http:address location="http://nibnpeepowerqa/ePowerWsRef/ePowerWsRef.asmx"/>
    </wsdl:port>
    <wsdl:port name="ePowerWsRefHttpPost" binding="tns:ePowerWsRefHttpPost">
      <http:address location="http://nibnpeepowerqa/ePowerWsRef/ePowerWsRef.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>