Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FPC/getCustomerDetails12c/xsd/customerTypesv11g.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="https://www.ficohsa.com/regional/customer/commonTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/customer/commonTypes">
  <xsd:complexType name="LegalIdentificationItemType">
    <xsd:sequence>
      <xsd:element name="LegalDocumentName" type="xsd:string"/>
      <xsd:element name="LegalId" type="xsd:string" minOccurs="1"/>
      <xsd:element name="ExpirationDate" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentificationInfoType">
    <xsd:sequence>
      <xsd:element name="LegalIdentificationItem" type="LegalIdentificationItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--AssetsDetails Type-->
  <xsd:complexType name="AssetsDetailsType">
    <xsd:sequence>
      <xsd:element name="AssetType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AssetNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AssetName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AssetCurrency" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AssetTotalBalance" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AssetReserveBalance" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AssetLockedBalance" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AssetVisaFloatingBalance" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AssetAvailableBalance" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AssetSourceBank" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AssetProductType" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AssetsType">
    <xsd:sequence>
      <xsd:element name="Type" type="xsd:string"/>
      <xsd:element name="Status" type="xsd:string"/>
      <xsd:element name="AssetsDetails" type="AssetsDetailsType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--AssetsDetails Type End-->
  <!--AssetsDetails info-->
  <xsd:element name="AssetsDetails" type="AssetsDetailsType"/>
  <xsd:element name="Assets" type="AssetsType"/>
  <!--AssetsDetails end-->
  <!--Phone Type-->
  <xsd:complexType name="PhoneNumberItemType">
    <xsd:sequence>
      <xsd:element name="PhoneLocation" type="xsd:string"/>
      <xsd:element name="PhoneType" type="xsd:string"/>
      <xsd:element name="PhoneAreaCode" type="xsd:string"/>
      <xsd:element name="PhoneNumber" type="xsd:string"/>
      <xsd:element name="IsDefault" type="xsd:string"/>
      <xsd:element name="PhoneOrder" type="xsd:string"/>
      <xsd:element name="PhoneExtension" type="xsd:string"/>
      <xsd:element name="PhoneReferrence" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PhoneInfoType">
    <xsd:sequence>
      <xsd:element name="PhoneNumberItem" type="PhoneNumberItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Phone Type End-->
  <!--AddressItem Type-->
  <xsd:complexType name="AddressItemType">
    <xsd:sequence>
      <xsd:element name="AddressCode" type="xsd:string"/>
      <xsd:element name="AddressType" type="xsd:string"/>
      <xsd:element name="Pobox" type="xsd:string"/>
      <xsd:element name="Zipcode" type="xsd:string"/>
      <xsd:element name="CountryCode" type="xsd:string"/>
      <xsd:element name="DepartmentCode" type="xsd:string"/>
      <xsd:element name="MunicipalityCode" type="xsd:string"/>
      <xsd:element name="CityCode" type="xsd:string"/>
      <xsd:element name="DistrictCode" type="xsd:string"/>
      <xsd:element name="AddressLine1" type="xsd:string"/>
      <xsd:element name="AddressLine2" type="xsd:string"/>
      <xsd:element name="AddressLine3" type="xsd:string"/>
      <xsd:element name="AddressLine4" type="xsd:string"/>
      <xsd:element name="AddressLine5" type="xsd:string"/>
      <xsd:element name="IsMainAddress" type="xsd:string"/>
      <xsd:element name="ColonyCode" type="xsd:string"/>
      <xsd:element name="ColonyCodeDesc" type="xsd:string"/>
      <xsd:element name="Avenue" type="xsd:string"/>
      <xsd:element name="AddressStreet" type="xsd:string"/>
      <xsd:element name="Block" type="xsd:string"/>
      <xsd:element name="HouseNumber" type="xsd:string"/>
      <xsd:element name="AddressReferences" type="xsd:string"/>
      <xsd:element name="DepartmentCodeDesc" type="xsd:string"/>
      <xsd:element name="CityCodeDesc" type="xsd:string"/>
      <xsd:element name="Zone" type="xsd:string"/>
      <xsd:element name="CountryDesc" type="xsd:string"/>
      <xsd:element name="DepartmentDesc" type="xsd:string"/>
      <xsd:element name="MunicipalityDesc" type="xsd:string"/>
      <xsd:element name="CityDesc" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressInfoType">
    <xsd:sequence>
      <xsd:element name="AddressItem" type="AddressItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--AddressItem Type end-->
  <!--EmailInfo Type-->
  <xsd:complexType name="EmailItemType">
    <xsd:sequence>
      <xsd:element name="EmailCode" type="xsd:string"/>
      <xsd:element name="EmailAddress" type="xsd:string"/>
      <xsd:element name="IsDefault" type="xsd:string"/>
      <xsd:element name="IsMainEmail" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailInfoType">
    <xsd:sequence>
      <xsd:element name="EmailItem" type="EmailItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--EmailInfo Type End-->
  <!--JobInfo Type-->
  <xsd:complexType name="JobItemType">
    <xsd:sequence>
      <xsd:element name="EmployerCode" type="xsd:string"/>
      <xsd:element name="EmployerName" type="xsd:string"/>
      <xsd:element name="JobCode" type="xsd:string"/>
      <xsd:element name="JobDescription" type="xsd:string"/>
      <xsd:element name="IncomeType" type="xsd:string"/>
      <xsd:element name="SalaryCurrency" type="xsd:string"/>
      <xsd:element name="SalaryAmount" type="xsd:string"/>
      <xsd:element name="StartDate" type="xsd:string"/>
      <xsd:element name="EndDate" type="xsd:string"/>
      <xsd:element name="IsCurrentJob" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JobInfoType">
    <xsd:sequence>
      <xsd:element name="JobItem" type="JobItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--JobInfo Type End-->
  <!--SectorizationItem Type-->
  <xsd:complexType name="SectorizationItemType">
    <xsd:sequence>
      <xsd:element name="SectorizationType" type="xsd:string"/>
      <xsd:element name="SectorizationCode" type="xsd:string"/>
      <xsd:element name="SectorizationDesc" type="xsd:string"/>
      <xsd:element name="OperationCountryItem" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SectorizationInfoType">
    <xsd:sequence>
      <xsd:element name="SectorizationItem" type="SectorizationItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--SectorizationItem Type End-->
  <!--OperationCountryItem Type-->
  <xsd:complexType name="OperationCountryItemType">
    <xsd:sequence>
      <xsd:element name="OperationCountry" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OperationCountryInfoType">
    <xsd:sequence>
      <xsd:element name="OperationCountryItem" type="OperationCountryItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--OperationCountryItem Type End-->
  <!--OperationDepartmentsItem Type-->
  <xsd:complexType name="OperationDepartmentsItemType">
    <xsd:sequence>
      <xsd:element name="OperationDepartment" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OperationDepartmentsInfoType">
    <xsd:sequence>
      <xsd:element name="OperationDepartmentsItem" type="OperationDepartmentsItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--OperationDepartmentsItem Type End-->
  <!--PublicChargeDescriptionItem Type-->
  <xsd:complexType name="PublicChargeDescriptionItemType">
    <xsd:sequence>
      <xsd:element name="PublicChargeDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PublicChargeDescriptionInfoType">
    <xsd:sequence>
      <xsd:element name="PublicChargeDescriptionItem" type="PublicChargeDescriptionItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--PublicChargeDescriptionItem Type End-->
  <!--NationalitiesInfoItem Type-->
  <xsd:complexType name="NationalitiesInfoItemType">
    <xsd:sequence>
      <xsd:element name="OtherNationality" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OtherNationalitiesInfoType">
    <xsd:sequence>
      <xsd:element name="NationalitiesInfoItem" type="NationalitiesInfoItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--NationalitiesInfoItem Type End-->
  <!--IncomeCurrencyItem Type-->
  <xsd:complexType name="IncomeCurrencyItemType">
    <xsd:sequence>
      <xsd:element name="IncomeCcy" type="xsd:string"/>
      <xsd:element name="IncomeCcyDesc" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IncomeCurrencyType">
    <xsd:sequence>
      <xsd:element name="IncomeCurrencyItem" type="IncomeCurrencyItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--OthersIncomeItem Type-->
  <xsd:complexType name="OthersIncomeItemType">
    <xsd:sequence>
      <xsd:element name="Sources" type="xsd:string"/>
      <xsd:element name="Amount" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OthersIncomeType">
    <xsd:sequence>
      <xsd:element name="OthersIncomeItem" type="OthersIncomeItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--OthersIncomeItem Type End-->
  <!--ReferencesInfoItem Type-->
  <xsd:complexType name="ReferencesInfoItemType">
    <xsd:sequence>
      <xsd:element name="Names" type="xsd:string"/>
      <xsd:element name="LastNames" type="xsd:string"/>
      <xsd:element name="Relationship" type="xsd:string"/>
      <xsd:element name="RelationshipDesc" type="xsd:string"/>
      <xsd:element name="Phone" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferencesInfoType">
    <xsd:sequence>
      <xsd:element name="ReferencesInfoItem" type="ReferencesInfoItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--ReferencesInfoItem Type End-->
  <!--FiscalClosingSales Type-->
  <xsd:complexType name="FiscalClosingSalesType">
    <xsd:sequence>
      <xsd:element name="LocalAmount" type="xsd:string"/>
      <xsd:element name="Year" type="xsd:string"/>
      <xsd:element name="ForeignAmount" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--FiscalClosingSales Type End-->
  <!--NewProductsDetails Type-->
  <xsd:complexType name="NewProductsDetailsType">
    <xsd:sequence>
      <xsd:element name="HasNewProducts" type="xsd:string"/>
      <xsd:element name="FundsOrigin" type="xsd:string"/>
      <xsd:element name="TypeOfInstrument" type="xsd:string"/>
      <xsd:element name="Commentary" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--NewProductsDetails Type End-->
  <!--RenewalDetails Type-->
  <xsd:complexType name="RenewalDetailsType">
    <xsd:sequence>
      <xsd:element name="FundsOrigin" type="xsd:string"/>
      <xsd:element name="YearsOfInvestment" type="xsd:string"/>
      <xsd:element name="InvestmentHistory" type="xsd:string"/>
      <xsd:element name="Commentary" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--RenewalDetails Type End-->
  <!--InheritanceDetails Type-->
  <xsd:complexType name="InheritanceDetailsType">
    <xsd:sequence>
      <xsd:element name="ReceivedInheritance" type="xsd:string"/>
      <xsd:element name="HeritageOrigin" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--InheritanceDetails Type End-->
  <!--ContractDetails Type-->
  <xsd:complexType name="BeneficiariesType">
    <xsd:sequence>
      <xsd:element name="Beneficiary" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContractDetailsType">
    <xsd:sequence>
      <xsd:element name="Type" type="xsd:string"/>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Address" type="xsd:string"/>
      <xsd:element name="FundsDestination" type="xsd:string"/>
      <xsd:element name="Beneficiaries" type="BeneficiariesType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--ContractDetails Type End-->
  <!--DonationsDetails Type-->
  <xsd:complexType name="DonationsDetailsType">
    <xsd:sequence>
      <xsd:element name="Type" type="xsd:string"/>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Address" type="xsd:string"/>
      <xsd:element name="LocalAmount" type="xsd:string"/>
      <xsd:element name="FreqPaymentsReceived" type="xsd:string"/>
      <xsd:element name="AveragePayment" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--DonationsDetails Type End-->
  <!--MonthlySales Type-->
  <xsd:complexType name="MonthlySalesType">
    <xsd:sequence>
      <xsd:element name="Volume" type="xsd:string"/>
      <xsd:element name="Revenue" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--MonthlySales Type End-->
  <!--OtherIncomeDetails Type-->
  <xsd:complexType name="OtherIncomeDetailsType">
    <xsd:sequence>
      <xsd:element name="Income" type="xsd:string"/>
      <xsd:element name="Amount" type="xsd:string"/>
      <xsd:element name="Department" type="xsd:string"/>
      <xsd:element name="IncomeCode" type="xsd:string"/>
      <xsd:element name="IncomeTypeCode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--OtherIncomeDetails Type End-->
  <!--PepDetailsType Type-->
  <xsd:complexType name="RelationsType">
    <xsd:sequence>
      <xsd:element name="Product" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PepDetailsType">
    <xsd:sequence>
      <xsd:element name="Relations" type="RelationsType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="TypeOfRelationship" type="xsd:string"/>
      <xsd:element name="IsDirect" type="xsd:string"/>
      <xsd:element name="IsIndirect" type="xsd:string"/>
      <xsd:element name="IsRelated" type="xsd:string"/>
      <xsd:element name="LastUpdateDate" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--PepDetailsType Type End-->
  <!--FaxItem Type-->
  <xsd:complexType name="FaxItemType">
    <xsd:sequence>
      <xsd:element name="FaxOrder" type="xsd:string"/>
      <xsd:element name="Fax" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaxesInfoType">
    <xsd:sequence>
      <xsd:element name="FaxItem" type="FaxItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--FaxItem Type End-->
  <!--BusinessItem Type-->
  <xsd:complexType name="BusinessItemType">
    <xsd:sequence>
      <xsd:element name="FaxOrder" type="xsd:string"/>
      <xsd:element name="Fax" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OwnBusinessDetailsType">
    <xsd:sequence>
      <xsd:element name="BusinessItem" type="BusinessItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--BusinessItem Type End-->
  <!--DependentInfoItem Type-->
  <xsd:complexType name="DependentInfoItemType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Profession" type="xsd:string"/>
      <xsd:element name="ProfessionDesc" type="xsd:string"/>
      <xsd:element name="Relationship" type="xsd:string"/>
      <xsd:element name="RelationshipDesc" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DependentInfoType">
    <xsd:sequence>
      <xsd:element name="DependentInfoItem" type="DependentInfoItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--DependentInfoItem Type End-->
  <!--LiabilitiesDetails Type-->
  <xsd:complexType name="LiabilitiesDetailsType">
    <xsd:sequence>
      <xsd:element name="LiabilityNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LiabilityName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PrincipalAmount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="InterestComAmount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="TotalAmount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="CurrencyFcy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PrincipalAmountFcy" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="InterestComAmountFcy" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="TotalAmountFcy" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="LiabilityTotalAmount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="PaymentDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TotalCancellationAmount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="SourceBank" type="xsd:string" minOccurs="0"/>
      <xsd:element name="InterestAmount" type="xsd:decimal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LiabilitiesType">
    <xsd:sequence>
      <xsd:element name="Type" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Status" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LiabilitiesDetails" type="LiabilitiesDetailsType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--LiabilitiesDetails Type End-->
  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--LiabilitiesDetails info-->
  <xsd:element name="LiabilitiesDetails" type="LiabilitiesDetailsType"/>
  <xsd:element name="Liabilities" type="LiabilitiesType"/>
  <!--LiabilitiesDetails end-->
  <!--IdentificationInfo-->
  <xsd:element name="IdentificationInfo" type="IdentificationInfoType"/>
  <xsd:element name="LegalIdentificationItem" type="LegalIdentificationItemType"/>
  <!--IdentificationInfo end-->
  <!--PhoneInfo-->
  <xsd:element name="PhoneNumberItem" type="PhoneNumberItemType"/>
  <xsd:element name="PhoneInfo" type="PhoneInfoType"/>
  <!--PhoneInfo end-->
  <!-- address info-->
  <xsd:element name="AddressInfo" type="AddressInfoType"/>
  <xsd:element name="AddressItem" type="AddressItemType"/>
  <!-- address info end-->
  <!-- EmailItem info-->
  <xsd:element name="EmailItem" type="EmailItemType"/>
  <xsd:element name="EmailInfo" type="EmailInfoType"/>
  <!-- EmailItem info end-->
  <!-- JobItem info-->
  <xsd:element name="JobItem" type="JobItemType"/>
  <xsd:element name="JobInfo" type="JobInfoType"/>
  <!-- JobItem info end-->
  <!-- SectorizationItem info-->
  <xsd:element name="SectorizationItem" type="SectorizationItemType"/>
  <xsd:element name="SectorizationInfo" type="SectorizationInfoType"/>
  <!-- SectorizationItem end-->
  <!-- OperationCountryItem info-->
  <xsd:element name="OperationCountryItem" type="OperationCountryItemType"/>
  <xsd:element name="OperationCountryInfo" type="OperationCountryInfoType"/>
  <!-- OperationCountryItem end-->
  <!--OperationDepartmentsItem info-->
  <xsd:element name="OperationDepartmentsItem" type="OperationDepartmentsItemType"/>
  <xsd:element name="OperationDepartmentsInfo" type="OperationDepartmentsInfoType"/>
  <!--OperationDepartmentsItem end-->
  <!--PublicChargeDescriptionItem info-->
  <xsd:element name="PublicChargeDescriptionItem" type="PublicChargeDescriptionItemType"/>
  <xsd:element name="PublicChargeDescriptionInfo" type="PublicChargeDescriptionInfoType"/>
  <!--PublicChargeDescriptionItem end-->
  <!--NationalitiesInfoItem info-->
  <xsd:element name="NationalitiesInfoItem" type="NationalitiesInfoItemType"/>
  <xsd:element name="OtherNationalitiesInfo" type="OtherNationalitiesInfoType"/>
  <!--NationalitiesInfoItem end-->
  <!--IncomeCurrencyItem info-->
  <xsd:element name="IncomeCurrencyItem" type="IncomeCurrencyItemType"/>
  <xsd:element name="IncomeCurrency" type="IncomeCurrencyType"/>
  <!--IncomeCurrencyItem end-->
  <!--OthersIncomeItem info-->
  <xsd:element name="OthersIncomeItem" type="OthersIncomeItemType"/>
  <xsd:element name="OthersIncome" type="OthersIncomeType"/>
  <!--OthersIncomeItem end-->
  <!--ReferencesInfoItem info-->
  <xsd:element name="ReferencesInfoItem" type="ReferencesInfoItemType"/>
  <xsd:element name="ReferencesInfo" type="ReferencesInfoType"/>
  <!--ReferencesInfoItem end-->
  <!--FiscalClosingSales info-->
  <xsd:element name="FiscalClosingSales" type="FiscalClosingSalesType"/>
  <!--FiscalClosingSales end-->
  <!--NewProductsDetails info-->
  <xsd:element name="NewProductsDetails" type="NewProductsDetailsType"/>
  <!--NewProductsDetails end-->
  <!--RenewalDetails info-->
  <xsd:element name="RenewalDetails" type="RenewalDetailsType"/>
  <!--RenewalDetails end-->
  <!--InheritanceDetails info-->
  <xsd:element name="InheritanceDetails" type="InheritanceDetailsType"/>
  <!--InheritanceDetails end-->
  <!--ContractDetails info-->
  <xsd:element name="ContractDetails" type="ContractDetailsType"/>
  <xsd:element name="Beneficiaries" type="BeneficiariesType"/>
  <!--ContractDetails end-->
  <!--DonationsDetails info-->
  <xsd:element name="DonationsDetails" type="DonationsDetailsType"/>
  <!--DonationsDetails end-->
  <!--MonthlySales info-->
  <xsd:element name="MonthlySales" type="MonthlySalesType"/>
  <!--MonthlySales end-->
  <!--OtherIncomeDetails info-->
  <xsd:element name="OtherIncomeDetails" type="OtherIncomeDetailsType"/>
  <!--OtherIncomeDetails end-->
  <!--Relations info-->
  <xsd:element name="Relations" type="RelationsType"/>
  <xsd:element name="PepDetails" type="PepDetailsType"/>
  <!--Relations end-->
  <!--FaxItem info-->
  <xsd:element name="FaxItem" type="FaxItemType"/>
  <xsd:element name="FaxesInfo" type="FaxesInfoType"/>
  <!--FaxItem end-->
  <!--BusinessItem info-->
  <xsd:element name="BusinessItem" type="BusinessItemType"/>
  <xsd:element name="OwnBusinessDetails" type="OwnBusinessDetailsType"/>
  <!--BusinessItem end-->
  <!--DependentInfoItem info-->
  <xsd:element name="DependentInfoItem" type="DependentInfoItemType"/>
  <xsd:element name="DependentInfo" type="DependentInfoType"/>
  <!--DependentInfoItem end-->
  <xsd:complexType name="ItemType">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InfoTypes">
    <xsd:sequence>
      <xsd:element name="InfoType" type="ItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>