Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FPC/getCustomerDetails12c/xsd/getCustomerDetailsTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="https://www.ficohsa.com/regional/pension" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cus="https://www.ficohsa.com/regional/pension" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes" xmlns:common="https://www.ficohsa.com/regional/customer/commonTypes">			
  <xsd:import schemaLocation="commonsType.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:import schemaLocation="customerTypesv11g.xsd" namespace="https://www.ficohsa.com/regional/customer/commonTypes"/>
  <xsd:element name="getCustomerDetails">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="CustomerIdType" type="xsd:string"/>
        <xsd:element name="CustomerIdValue" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
   <xsd:element name="getCustomerDetailsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="com:ErrorInfoType"/>
        <xsd:element name="CustomerId" type="xsd:string"/>
        <xsd:element name="Mnemonic" type="xsd:string"/>
        <xsd:element name="IdentificationInfo" type="common:IdentificationInfoType"/>
        <xsd:element name="GivenNames" type="xsd:string"/>
        <xsd:element name="FamilyName" type="xsd:string"/>
        <xsd:element name="FullName" type="xsd:string"/>
        <xsd:element name="NameOfBusiness" type="xsd:string"/>
        <xsd:element name="CommercialName" type="xsd:string"/>
        <xsd:element name="LegalHolderName" type="xsd:string"/>
        <xsd:element name="ShortName" type="xsd:string"/>
        <xsd:element name="DateOfBirth" type="xsd:string"/>
        <xsd:element name="Gender" type="xsd:string"/>
        <xsd:element name="Nationality" type="xsd:string"/>
        <xsd:element name="Residence" type="xsd:string"/>
        <xsd:element name="Sector" type="xsd:string"/>
        <xsd:element name="SectorDescription" type="xsd:string"/>
        <xsd:element name="Industry" type="xsd:string"/>
        <xsd:element name="IndustryDescription" type="xsd:string"/>
        <xsd:element name="FgnCcyGenTyp" type="xsd:string"/>
        <xsd:element name="Target" type="xsd:string"/>
        <xsd:element name="TargetDescription" type="xsd:string"/>
        <xsd:element name="MaritalStatus" type="xsd:string"/>
        <xsd:element name="CustomerType" type="xsd:string"/>
        <xsd:element name="CustomerStatus" type="xsd:string"/>
        <xsd:element name="Language" type="xsd:string"/>
        <xsd:element name="Occupation" type="xsd:string"/>
        <xsd:element name="EmploymentStatus" type="xsd:string"/>
        <xsd:element name="EmployersName" type="xsd:string"/>
        <xsd:element name="MarriedLastName" type="xsd:string"/>
        <xsd:element name="LegalRepName" type="xsd:string"/>
        <xsd:element name="LegalRepId" type="xsd:string"/>
        <xsd:element name="TypeOfCompany" type="xsd:string"/>
        <xsd:element name="Profession" type="xsd:string"/>
        <xsd:element name="NumberOfDeed" type="xsd:string"/>
        <xsd:element name="LegalRepHomePhone" type="xsd:string"/>
        <xsd:element name="TypeOfPerson" type="xsd:string"/>
        <xsd:element name="InputUser" type="xsd:string"/>
        <xsd:element name="DateTime" type="xsd:string"/>
        <xsd:element name="AccountOfficer" type="xsd:string"/>
        <xsd:element name="BranchCode" type="xsd:string"/>
        <xsd:element name="NoOfDependents" type="xsd:string"/>
        <xsd:element name="EducationLevel" type="xsd:string"/>
        <xsd:element name="SpouseName" type="xsd:string"/>
        <xsd:element name="CustomerSince" type="xsd:string"/>
        <xsd:element name="EconomicGroupId" type="xsd:string"/>
        <xsd:element name="EconomicGroupName" type="xsd:string"/>
        <xsd:element name="PhoneInfo" type="common:PhoneInfoType"/>
        <xsd:element name="AddressInfo" type="common:AddressInfoType"/>
        <xsd:element name="EmailInfo" type="common:EmailInfoType"/>
        <xsd:element name="JobInfo" type="common:JobInfoType"/>
        <xsd:element name="SectorizationInfo" type="common:SectorizationInfoType"/>
        <xsd:element name="ConstitutionDate" type="xsd:string"/>
        <xsd:element name="OperationCountryInfo" type="common:OperationCountryInfoType"/>
        <xsd:element name="IsLocalOperation" type="xsd:string"/>
        <xsd:element name="OperationDepartmentsInfo" type="common:OperationDepartmentsInfoType"/>
        <xsd:element name="ResourceOrigin" type="xsd:string"/>
        <xsd:element name="IsEconomicGroup" type="xsd:string"/>
        <xsd:element name="IsPublicCharge" type="xsd:string"/>
        <xsd:element name="PublicChargeDescriptionInfo" type="common:PublicChargeDescriptionInfoType"/>
        <xsd:element name="PublicChargeInstitution" type="xsd:string"/>
        <xsd:element name="LegalIdentificationExpirationDate" type="xsd:string"/>
        <xsd:element name="OtherNationalitiesInfo" type="common:OtherNationalitiesInfoType"/>
        <xsd:element name="DependencyId" type="xsd:string"/>
        <xsd:element name="DependencyName" type="xsd:string"/>
        <xsd:element name="DependencyLastname" type="xsd:string"/>
        <xsd:element name="TotalIncome" type="xsd:string"/>
        <xsd:element name="GiroNegocio" type="xsd:string"/>
        <xsd:element name="Economicgroup" type="xsd:string"/>
        <xsd:element name="LegalIssueDate" type="xsd:string"/>
        <xsd:element name="Rtn" type="xsd:string"/>
        <xsd:element name="PlaceOfBirth" type="xsd:string"/>
        <xsd:element name="PlaceOfBirthDesc" type="xsd:string"/>
        <xsd:element name="TownCountry" type="xsd:string"/>
        <xsd:element name="Country" type="xsd:string"/>
        <xsd:element name="Dnfbp" type="xsd:string"/>
        <xsd:element name="DnfbpProfession" type="xsd:string"/>
        <xsd:element name="DependentInfo" type="common:DependentInfoType"/>
        <xsd:element name="IncomeCurrency" type="common:IncomeCurrencyType"/>
        <xsd:element name="OthersIncome" type="common:OthersIncomeType"/>
        <xsd:element name="LegalisedName" type="xsd:string"/>
        <xsd:element name="LegalisedNameDesc" type="xsd:string"/>
        <xsd:element name="ProfesionTrade" type="xsd:string"/>
        <xsd:element name="ProfesionTradeDesc" type="xsd:string"/>
        <xsd:element name="ReferencesInfo" type="common:ReferencesInfoType"/>
        <xsd:element name="InterfaceUser" type="xsd:string"/>
        <xsd:element name="TypeMerchant" type="xsd:string"/>
        <xsd:element name="SmeName" type="xsd:string"/>
        <xsd:element name="IsMerchantCompany" type="xsd:string"/>
        <xsd:element name="BelongsUsaBoard" type="xsd:string"/>
        <xsd:element name="DesignatedNonFinancialProfession" type="xsd:string"/>
        <xsd:element name="FiscalClosingSales" type="common:FiscalClosingSalesType"/>
        <xsd:element name="NewProductsDetails" type="common:NewProductsDetailsType"/>
        <xsd:element name="IsRenewingProduct" type="xsd:string"/>
        <xsd:element name="RenewalDetails" type="common:RenewalDetailsType"/>
        <xsd:element name="InheritanceDetails" type="common:InheritanceDetailsType"/>
        <xsd:element name="IsStateContractor" type="xsd:string"/>
        <xsd:element name="ContractDetails" type="common:ContractDetailsType"/>
        <xsd:element name="IsNgoNpo" type="xsd:string"/>
        <xsd:element name="DonationsDetails" type="common:DonationsDetailsType"/>
        <xsd:element name="MonthlySales" type="common:MonthlySalesType"/>
        <xsd:element name="OtherIncomeDetails" type="common:OtherIncomeDetailsType"/>
        <xsd:element name="IsPepByRelation" type="xsd:string"/>
        <xsd:element name="PepDetails" type="common:PepDetailsType"/>
        <xsd:element name="ClientRisk" type="xsd:string"/>
        <xsd:element name="FaxesInfo" type="common:FaxesInfoType"/>
        <xsd:element name="RecordStatus" type="xsd:string"/>
        <xsd:element name="CostumerType" type="xsd:string"/>
        <xsd:element name="OwnBusinessDetails" type="common:OwnBusinessDetailsType"/>
        <xsd:element name="CostumerFatca" type="xsd:string"/>
        <xsd:element name="IncomeValue" type="xsd:decimal"/>
        <xsd:element name="ExpensesValue" type="xsd:decimal"/>
        <xsd:element name="BusinessReltPurpose" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>