Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/Core/actualizacionTasaCambio/actualizacionTasaCambioTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizacionTasaCambioTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/actualizacionTasaCambioTypes">
	
	<xs:complexType name="actualizacionTasaCambioResponseType">
		<xs:sequence>
			<xs:element name="DATE_TIME"/>
		</xs:sequence> 
	</xs:complexType>
	
		<xs:element name="actualizacionTasaCambio">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CURRENCY" type="xs:string"/>
	            <xs:element name="BUY_RATE" type="xs:string"/>         
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="actualizacionTasaCambioResponse" type="cons:actualizacionTasaCambioResponseType"/>
	
</xs:schema>