Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/MasterData/eCInsRequestControl/xsd/eCInsRequestControl_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/actualizarDatosPlantilla" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/actualizarDatosPlantilla" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="i_tipo" type="db:string32" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_tabla" type="db:string64" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_lote" type="int" db:index="3" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_pais" type="db:string3" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="CodigoError" type="int" db:index="5" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="MensajeError" type="db:string255" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="CodigoError" type="int" db:index="5" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="MensajeError" type="db:string255" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string64">
      <restriction base="string">
         <maxLength value="64"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string255">
      <restriction base="string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</schema>