Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/AgregarFactorCanje/wsdl/agregarFactorCanjePS.wsdl

<wsdl:definitions name="agregarFactorCanjePS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/agregarFactorCanjePS/" xmlns:atc="http://www.ficohsa.com.hn/middleware.services/agregarFactorCanjePS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasTypes" schemaLocation="../../GestionPuntosTarjetas/xsd/gestionPuntosTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="agregarFactorCanjeRequest">
		<wsdl:part element="tns:agregarFactorCanje" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="agregarFactorCanjeResponse">
		<wsdl:part element="tns:agregarFactorCanjeResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="agregarFactorCanjePS">
		<wsdl:operation name="agregarFactorCanje" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="atc:agregarFactorCanjeRequest"/>
			<wsdl:output message="atc:agregarFactorCanjeResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="agregarFactorCanjePSSOAP" type="atc:agregarFactorCanjePS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="agregarFactorCanje">
			<soap:operation soapAction="http://www.example.org/gestionPuntosTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="atc:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="atc:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="agregarFactorCanjePS">
		<wsdl:port binding="atc:agregarFactorCanjePSSOAP" name="agregarFactorCanjePSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/agregarFactorCanje/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>