Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/TENGO/svcReversarCuponCB/wsdl/services_1.wsdl

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/services.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/services_1.xsd"/>
    </xsd:schema>
  </types>
  <message name="callOfs">
    <part name="parameters" element="tns:callOfs"/>
  </message>
  <message name="callOfsResponse">
    <part name="parameters" element="tns:callOfsResponse"/>
  </message>
  <message name="ReversarTransaccionesATMTengo">
    <part name="parameters" element="tns:ReversarTransaccionesATMTengo"/>
  </message>
  <message name="ReversarTransaccionesATMTengoResponse">
    <part name="parameters" element="tns:ReversarTransaccionesATMTengoResponse"/>
  </message>
  <message name="ReversarTransaccionesATMTengo_Validate">
    <part name="parameters" element="tns:ReversarTransaccionesATMTengo_Validate"/>
  </message>
  <message name="ReversarTransaccionesATMTengo_ValidateResponse">
    <part name="parameters" element="tns:ReversarTransaccionesATMTengo_ValidateResponse"/>
  </message>
  <portType name="T24WebServicesImpl">
    <operation name="callOfs">
      <input message="tns:callOfs"/>
      <output message="tns:callOfsResponse"/>
    </operation>
    <operation name="ReversarTransaccionesATMTengo">
      <input message="tns:ReversarTransaccionesATMTengo"/>
      <output message="tns:ReversarTransaccionesATMTengoResponse"/>
    </operation>
    <operation name="ReversarTransaccionesATMTengo_Validate">
      <input message="tns:ReversarTransaccionesATMTengo_Validate"/>
      <output message="tns:ReversarTransaccionesATMTengo_ValidateResponse"/>
    </operation>
  </portType>
  <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="callOfs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReversarTransaccionesATMTengo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReversarTransaccionesATMTengo_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="T24WebServicesImplService">
    <port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
      <soap:address location="http://10.242.104.250:7030/svcRevBilleteraElectronica/services"/>
    </port>
  </service>
</definitions>