Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/VisionPlus/onlineTransactions_v3/wsdl/OnlineTransactions_v3.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="OnlineTransactions" targetNamespace="http://www.procesa.com/fdcs/ot" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.procesa.com/fdcs/ot" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.procesa.com/fdcs/ot" xmlns:mrm="http://www.procesa.com/fdcs/ot" xmlns:ot="http://www.procesa.com/fdcs/ot">
      <xsd:complexType name="t_OnlinePaymentRequest">
        <xsd:sequence>
          <xsd:element name="POSUserData" type="xsd:string"/>
          <xsd:element minOccurs="0" name="NumberOfInstallments" type="xsd:int"/>
          <xsd:element minOccurs="0" name="PaymentTypeIndicator" type="xsd:string"/>
          <xsd:element minOccurs="0" name="MCCType" type="xsd:string"/>
          <xsd:element name="RequestType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="C"/>
                <xsd:enumeration value="A"/>
                <xsd:enumeration value="R"/>
                <xsd:enumeration value="P"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CardNumber" type="xsd:string"/>
          <xsd:element name="OrgId" type="xsd:int"/>
          <xsd:element name="MerchantNumber" type="xsd:int"/>
          <xsd:element name="CardExpirationDate" type="xsd:int"/>
          <xsd:element name="TotalSalesAmount" type="xsd:decimal"/>
          <xsd:element name="Track2Length" type="xsd:int"/>
          <xsd:element name="Track2Data" type="xsd:string"/>
          <xsd:element name="CardValidationValue" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="t_OnlinePaymentResponse">
        <xsd:sequence>
          <xsd:element name="POSUserData" type="xsd:string"/>
          <xsd:element name="SystemAction" type="xsd:string"/>
          <xsd:element name="ReasonActionCode" type="xsd:int"/>
          <xsd:element name="ActionDescription" type="xsd:string"/>
          <xsd:element name="CardValidationResult" type="xsd:string"/>
          <xsd:element name="AuthorizationCode" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="t_OnlineInformationRequest">
        <xsd:sequence>
          <xsd:element name="CardNumber" type="xsd:string"/>
          <xsd:element name="OrgId" type="xsd:int"/>
          <xsd:element name="MerchantNumber" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="t_OnlineInformationResponse">
        <xsd:sequence>
          <xsd:element name="ReasonActionCode" type="xsd:int"/>
          <xsd:element name="ActionDescription" type="xsd:string"/>
          <xsd:element default="0" name="AvailableCredit" type="xsd:decimal"/>
          <xsd:element name="AmountMemoCredit" type="xsd:decimal"/>
          <xsd:element name="AccountCurrentBalance" type="xsd:decimal"/>
          <xsd:element name="AmountMemoDebit" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="t_OnlineUpdateCardRequest">
        <xsd:sequence>
          <xsd:element name="RequestType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="B"/>
                <xsd:enumeration value="M"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CardNumber" type="xsd:string"/>
          <xsd:element name="OrgId" type="xsd:int"/>
          <xsd:element name="MerchantNumber" type="xsd:int"/>
          <xsd:element name="UpdateValue" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="t_OnlineUpdateCardResponse">
        <xsd:sequence>
          <xsd:element name="UpdateResponseCode" type="xsd:int"/>
          <xsd:element name="UpdateResponseDescription" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="OnlinePaymentRequest" type="mrm:t_OnlinePaymentRequest"/>
      <xsd:element name="OnlinePaymentResponse" type="mrm:t_OnlinePaymentResponse"/>
      <xsd:element name="OnlineInformationRequest" type="mrm:t_OnlineInformationRequest"/>
      <xsd:element name="OnlineInformationResponse" type="mrm:t_OnlineInformationResponse"/>
      <xsd:element name="OnlineUpdateCardRequest" type="mrm:t_OnlineUpdateCardRequest"/>
      <xsd:element name="OnlineUpdateCardResponse" type="mrm:t_OnlineUpdateCardResponse"/>
      <xsd:complexType name="t_OnlineInstallmentsRequest">
        <xsd:sequence>
          <xsd:element name="CardNumber" type="xsd:string"/>
          <xsd:element name="OrgId" type="xsd:int"/>
          <xsd:element name="ForeignUse" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="t_OnlineInstallmentsResponse">
        <xsd:sequence>
          <xsd:element name="ReasonActionCode" type="xsd:int"/>
          <xsd:element minOccurs="0" name="ActionDescription" type="xsd:string"/>
          <xsd:element default="0" minOccurs="0" name="RetailAvailableCredit" type="xsd:decimal"/>
          <xsd:element default="0" minOccurs="0" name="CashAvailableCredit" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="OnlineInstallmentsRequest" type="mrm:t_OnlineInstallmentsRequest"/>
      <xsd:element name="OnlineInstallmentsResponse" type="mrm:t_OnlineInstallmentsResponse"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="OnlineInformation_in">
    <wsdl:part element="tns:OnlineInformationRequest" name="OnlineInformationRequest"/>
  </wsdl:message>
  <wsdl:message name="OnlineInformation_out">
    <wsdl:part element="tns:OnlineInformationResponse" name="OnlineInformationResponse"/>
  </wsdl:message>

  <wsdl:message name="OnlineInstallments_in">
    <wsdl:part element="tns:OnlineInstallmentsRequest" name="OnlineInstallmentsRequest"/>
  </wsdl:message>
  <wsdl:message name="OnlineInstallments_out">
    <wsdl:part element="tns:OnlineInstallmentsResponse" name="OnlineInstallmentsResponse"/>
  </wsdl:message>
  
  <wsdl:message name="OnlinePayment_in">
    <wsdl:part element="tns:OnlinePaymentRequest" name="OnlinePaymentRequest"/>
  </wsdl:message>
  <wsdl:message name="OnlinePayment_out">
    <wsdl:part element="tns:OnlinePaymentResponse" name="OnlinePaymentResponse"/>
  </wsdl:message>
  
  <wsdl:message name="OnlineUpdateCard_in">
    <wsdl:part element="tns:OnlineUpdateCardRequest" name="OnlineUpdateCardRequest"/>
  </wsdl:message>
  <wsdl:message name="OnlineUpdateCard_out">
    <wsdl:part element="tns:OnlineUpdateCardResponse" name="OnlineUpdateCardResponse"/>
  </wsdl:message>
  
  <wsdl:portType name="ProcesaPortType">
    <wsdl:operation name="OnlineInformation">
      <wsdl:input message="tns:OnlineInformation_in" name="OnlineInformation_Input"/>
      <wsdl:output message="tns:OnlineInformation_out" name="OnlineInformation_Output"/>
    </wsdl:operation>
    <wsdl:operation name="OnlineInstallmentsOTB">
      <wsdl:input message="tns:OnlineInstallments_in" name="OnlineInstallments_Input"/>
      <wsdl:output message="tns:OnlineInstallments_out" name="OnlineInstallments_Output"/>
    </wsdl:operation>
    <wsdl:operation name="OnlinePayment">
      <wsdl:input message="tns:OnlinePayment_in" name="OnlinePayment_Input"/>
      <wsdl:output message="tns:OnlinePayment_out" name="OnlinePayment_Output"/>
    </wsdl:operation>
    <wsdl:operation name="OnlineUpdateCard">
      <wsdl:input message="tns:OnlineUpdateCard_in" name="OnlineUpdateCard_Input"/>
      <wsdl:output message="tns:OnlineUpdateCard_out" name="OnlineUpdateCard_Output"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcesaSOAP_HTTP_Binding" type="tns:ProcesaPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OnlineInformation">
      <soap:operation soapAction=""/>
      <wsdl:input name="OnlineInformation_Input">
        <soap:body parts="OnlineInformationRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="OnlineInformation_Output">
        <soap:body parts="OnlineInformationResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnlineInstallmentsOTB">
      <soap:operation soapAction=""/>
      <wsdl:input name="OnlineInstallments_Input">
        <soap:body parts="OnlineInstallmentsRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="OnlineInstallments_Output">
        <soap:body parts="OnlineInstallmentsResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnlinePayment">
      <soap:operation soapAction=""/>
      <wsdl:input name="OnlinePayment_Input">
        <soap:body parts="OnlinePaymentRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="OnlinePayment_Output">
        <soap:body parts="OnlinePaymentResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnlineUpdateCard">
      <soap:operation soapAction=""/>
      <wsdl:input name="OnlineUpdateCard_Input">
        <soap:body parts="OnlineUpdateCardRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="OnlineUpdateCard_Output">
        <soap:body parts="OnlineUpdateCardResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnlineTransactionsSOAP_HTTP_Service">
    <wsdl:port binding="tns:ProcesaSOAP_HTTP_Binding" name="SOAP_HTTP_Port">
      <soap:address location="http://SRVMSBROCKER:7802/OnlineTransactionsSOAP_HTTP_Service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>