Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/BusinessServices/consultaMontoTSPCliente/wsdl/ConsultaMontoTSP.wsdl

<WL5G3N0:definitions name="consultaMontoTSPTransferenciaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaTypes" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaTypes" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_1118292658.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaTypes" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaTypes" schemaLocation="../xsd/XMLSchema_-837550061.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="consultaMontoTSPClienteRequest">
    <WL5G3N0:part element="WL5G3N1:consultaMontoTSPCliente" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaMontoTSPClienteResponse">
    <WL5G3N0:part element="WL5G3N1:consultaMontoTSPClienteResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaMontoTSPBancoRequest">
    <WL5G3N0:part element="WL5G3N1:consultaMontoTSPBanco" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaMontoTSPBancoResponse">
    <WL5G3N0:part element="WL5G3N1:consultaMontoTSPBancoResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="consultaMontoTSPTransferenciaPS">
    <WL5G3N0:operation name="consultaMontoTSPCliente" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaMontoTSPClienteRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaMontoTSPClienteResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaMontoTSPBanco" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaMontoTSPBancoRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaMontoTSPBancoResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="consultaMontoTSPTransferenciaPSSOAP" type="WL5G3N3:consultaMontoTSPTransferenciaPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="consultaMontoTSPCliente">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="parameters" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:consultaMontoTSPClienteRequest" part="RequestHeader" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="result" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:consultaMontoTSPClienteResponse" part="ResponseHeader" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaMontoTSPBanco">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="parameters" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:consultaMontoTSPBancoRequest" part="RequestHeader" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="result" use="literal"/>
        <WL5G3N4:header message="WL5G3N3:consultaMontoTSPBancoResponse" part="ResponseHeader" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="consultaMontoTSPTransferenciaPS">
    <WL5G3N0:port binding="WL5G3N3:consultaMontoTSPTransferenciaPSSOAP" name="consultaMontoTSPTransferenciaPSSOAP">
      <WL5G3N4:address location="http://mwinterbanca:8003/Middleware/RiskAndCompliance/ComplianceChecks/ConsultaMontoTSP"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>