Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/Resources/T24CustomerPMSV/xsd/T24Customer-Customer.xsd

<xsd:schema targetNamespace="http://www.temenos.com/T24/event/T24Customer/Customer" elementFormDefault="qualified" xmlns="http://www.temenos.com/T24/event/T24Customer/Customer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon">
	<xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="Common-EventCommon.xsd"/>
	<xsd:element name="Customer">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="eventCommon" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="id" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="legalIdGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="customerSince" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="customerStatus" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="dateTimeList" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="auditDateTime" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="lrFecOfi" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="sector" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="customerType" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="shortNameList" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="email1List" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="sms1List" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="legalRepEmail" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="nameOfBusinesList" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="eventCommon" type="ns0:EventCommon"/>
	<xsd:element name="id" type="xsd:decimal"/>
	<xsd:element name="legalIdGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="legalId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="legalDocName" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="index" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="customerSince" type="xsd:date"/>
	<xsd:element name="customerStatus" type="xsd:string"/>
	<xsd:element name="dateTimeList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="dateTime" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="auditDateTime" type="xsd:string"/>
	<xsd:element name="lrFecOfi" type="xsd:date"/>
	<xsd:element name="sector" type="xsd:string"/>
	<xsd:element name="customerType" type="xsd:string"/>
	<xsd:element name="shortNameList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="shortName" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="language" type="xsd:string"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="email1List">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="email1" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="sms1List">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="sms1" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="legalRepEmail" type="xsd:string"/>
	<xsd:element name="nameOfBusinesList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="nameOfBusines" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="index" type="xsd:integer"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>