Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActualizaTasaReferencia/xsd/actualizaTasaReferenciaTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaTasaReferenciaTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/actualizaTasaReferenciaTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
    <!--############################################-->
    <!-- OPERATION: actualizaTasaReferencia -->
    <!--############################################-->
    
    <xs:element name="actualizaTasaReferencia">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="COUNTRY" type="tns:stringMinLength1" />
				<xs:element name="RATE" type="tns:stringMinLength1" />
				<xs:element name="SOURCE_CURRENCY" type="tns:stringMinLength1" />
				<xs:element name="TARGET_CURRENCY" type="tns:stringMinLength1" />
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="actualizaTasaReferenciaResponse">
        <xs:complexType>
              <xs:sequence>
				<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
				<xs:element name="RATE" type="xs:string" minOccurs="0" />
				<xs:element name="SOURCE_CURRENCY" type="xs:string" minOccurs="0" />
				<xs:element name="TARGET_CURRENCY" type="xs:string" minOccurs="0" />
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>