Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ActualizacionLibretaAhorro/ActualizacionLibretaAhorro.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizacionLibretaAhorroTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/actualizacionLibretaAhorroTypes">
	
	<xs:complexType name="actualizacionLibretaAhorroResponse">
		<xs:sequence>
			<xs:element name="PASSBOOK_DETAIL" type="xs:string" minOccurs="0" />
			<xs:element name="TELLER_MESSAGE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="actualizacionLibretaAhorro">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
	            <xs:element name="NEXT_PASSBOOK_LINE" type="xs:string"/>
	            <xs:element name="PAGE_NUMBER" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="actualizacionLibretaAhorroResponse" type="cons:actualizacionLibretaAhorroResponse"/>
	
</xs:schema>