Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/v2/BusinessServices/ConsultaCertificadoDeposito/xsd/ConsultaCertificadoDepositoTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCertificadoDepositoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaCertificadoDepositoTypes">
	
	<xs:complexType name="consultaCertificadoDepositoResponseArrayType">
		<xs:sequence>
			            <xs:element name="DEPOSIT_NAME" type="xs:string" minOccurs="0"/>
						<xs:element name="DEPOSIT_TYPE" type="xs:string" minOccurs="0"/>
						<xs:element name="EFFECTIVE_DATE" type="xs:string" minOccurs="0"/>
						<xs:element name="MATURITY_DATE" type="xs:string" minOccurs="0"/>
						<xs:element name="DEPOSIT_TERM" type="xs:string" minOccurs="0"/>
						<xs:element name="INTEREST_RATE" type="xs:string" minOccurs="0"/>
						<xs:element name="PRINCIPAL_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="INTEREST_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="LOCKED_YES_NO" type="xs:string" minOccurs="0"/>
						<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
						<xs:element name="LOCKED_AMOUNT" type="xs:string" minOccurs="0"/>
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaCertificadoDepositoResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaCertificadoDepositoResponseRecordType" type="cons:consultaCertificadoDepositoResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaCertificadoDepositoResponseType">
		<xs:sequence>
			<xs:element name="consultaCertificadoDepositoResponseType" type="cons:consultaCertificadoDepositoResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaCertificadoDeposito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEPOSIT_NUMBER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaCertificadoDepositoResponse" type="cons:consultaCertificadoDepositoResponseType"/>
	
</xs:schema>