Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKGT/consultaOficialesNegocio/xsd/consultaOficialesNegocio_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaOficialesNegocio" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaOficialesNegocio" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_EJECUTIVO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_AGENCIA" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_INFO_OFICIAL" type="db:INFO_OFICIAL" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR_CODE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR_MESSAGE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="INFO_OFICIAL">
      <sequence>
         <element name="P_INFO_OFICIAL_ITEM" type="db:INFO_OFICIAL_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="INFO_OFICIAL_TYPE">
      <sequence>
         <element name="CODIGO_EJECUTIVO" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_AGENCIA" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_AGENCIA" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID_DEPARTAMENTO" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_DEPARTAMENTO" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
</schema>