Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/CreditCardOperations/wsdl/CreditCardOperations.wsdl

<wsdl:definitions name="creditCardOperationsPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/creditCardOperationsPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/creditCardOperationsPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cco="http://www.ficohsa.com.hn/middleware.services/creditCardOperationsTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../General/xsd/Header.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/creditCardOperationsTypes" schemaLocation="../xsd/CreditCardOperationsTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="creditCardQueryRequest">
		<wsdl:part element="cco:creditCardQuery" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="creditCardQueryResponse">
		<wsdl:part element="cco:creditCardQueryResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="creditCardPaymentRequest">
		<wsdl:part element="cco:creditCardPayment" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="creditCardPaymentResponse">
		<wsdl:part element="cco:creditCardPaymentResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="creditCardWithdrawalRequest">
		<wsdl:part element="cco:creditCardWithdrawal" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="creditCardWithdrawalResponse">
		<wsdl:part element="cco:creditCardWithdrawalResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="ccFinanceDisbursementRequest">
		<wsdl:part element="cco:ccFinanceDisbursement" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ccFinanceDisbursementResponse">
		<wsdl:part element="cco:ccFinanceDisbursementResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:portType name="creditCardOperationsPS">
		<wsdl:operation name="creditCardQuery" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:creditCardQueryRequest"/>
			<wsdl:output message="fic:creditCardQueryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="creditCardPayment" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:creditCardPaymentRequest"/>
			<wsdl:output message="fic:creditCardPaymentResponse"/>
		</wsdl:operation>
		<wsdl:operation name="creditCardWithdrawal" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:creditCardWithdrawalRequest"/>
			<wsdl:output message="fic:creditCardWithdrawalResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ccFinanceDisbursement" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:ccFinanceDisbursementRequest"/>
			<wsdl:output message="fic:ccFinanceDisbursementResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="creditCardOperationsPSSOAP" type="fic:creditCardOperationsPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="creditCardQuery">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/creditCardOperationsPS/creditCardQuery"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:creditCardQueryRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:creditCardQueryResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="creditCardPayment">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/creditCardOperationsPS/creditCardPayment"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:creditCardPaymentRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:creditCardPaymentResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="creditCardWithdrawal">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/creditCardOperationsPS/creditCardWithdrawal"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:creditCardWithdrawalRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:creditCardWithdrawalResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ccFinanceDisbursement">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/creditCardOperationsPS/ccFinanceDisbursement"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:ccFinanceDisbursementRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:ccFinanceDisbursementResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="creditCardOperationsPS">
		<wsdl:port binding="fic:creditCardOperationsPSSOAP" name="creditCardOperationsPSSOAP">
			<soap:address location="http://mwteller:8004/mwteller/creditCard/creditCardOperations"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>