Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_GetBatchTransaction/Schemas/GetBatchTransactionTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/massivePayment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mas="https://www.ficohsa.com/regional/massivePayment" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBRG_MassivePayment_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="getBatchTransaction">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="CustomerId" type="xsd:string"/>
        <xsd:element name="QueryType" type="mas:queryType"/>
        <xsd:element name="QueryValue" type="mas:stringMinLength1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getBatchTransactionResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="CustomerId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Transaction" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Ticket" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerBatchId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Id" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="TxnReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="BankBatchId" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="DebitAccount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="CreditAccount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="Amount" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="queryType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BANK_BATCH_ID"/>
      <xsd:enumeration value="CUSTOMER_BATCH_ID"/>
      <xsd:enumeration value="OPERATION_TYPE"/>
      <xsd:enumeration value="TICKET"/>
      <xsd:enumeration value="TXN_REFERENCE"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stringMinLength1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>