Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/T24/svcBilleteraElectronica/wsdl/svcBilleteraElectronica.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_1252959784.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_959556777.xsd"/>
</xsd:schema>
</types>
<message name="TransferenciaBilleteraElect">
<part name="parameters" element="tns:TransferenciaBilleteraElect"/>
</message>
<message name="TransferenciaBilleteraElectResponse">
<part name="parameters" element="tns:TransferenciaBilleteraElectResponse"/>
</message>
<message name="TransferenciaBilleteraElect_Validate">
<part name="parameters" element="tns:TransferenciaBilleteraElect_Validate"/>
</message>
<message name="TransferenciaBilleteraElect_ValidateResponse">
<part name="parameters" element="tns:TransferenciaBilleteraElect_ValidateResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="TransferenciaBilleteraElect">
<input message="tns:TransferenciaBilleteraElect"/>
<output message="tns:TransferenciaBilleteraElectResponse"/>
</operation>
<operation name="TransferenciaBilleteraElect_Validate">
<input message="tns:TransferenciaBilleteraElect_Validate"/>
<output message="tns:TransferenciaBilleteraElect_ValidateResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="TransferenciaBilleteraElect">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TransferenciaBilleteraElect_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcBilleteraElectronica/services"/>
</port>
</service>
</definitions>