Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/Resources/ConsultaMovimientosRecientesTC/wsdl/consultaMovimientosRecientesTCPS.wsdl

<wsdl:definitions name="consultaMovimientosRecientesTCPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCPS/" xmlns:cmr="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../../../v2/Resources/esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCTypes" schemaLocation="../xsd/consultaMovimientosRecientesTCTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

  	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
  
  <wsdl:message name="consultaMovimientosRecientesRequest">
    <wsdl:part element="tns:consultaMovimientosRecientesTC" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="consultaMovimientosRecientesResponse">
    <wsdl:part element="tns:consultaMovimientosRecientesTCReponse" name="result"/>
  </wsdl:message>
    
  	<wsdl:portType name="consultaMovimientosRecientesTCPS">
		<wsdl:operation name="consultaMovimientosRecientes" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="cmr:consultaMovimientosRecientesRequest"/>
			<wsdl:output message="cmr:consultaMovimientosRecientesResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
  <wsdl:binding name="consultaMovimientosRecientesTCPSSOAP" type="cmr:consultaMovimientosRecientesTCPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultaMovimientosRecientes">
      <soap:operation soapAction="http://www.example.org/consultaMovimientosRecientesTCPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
				<soap:header message="cmr:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>      
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
				<soap:header message="cmr:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="consultaMovimientosRecientesTCPS">
    <wsdl:port binding="cmr:consultaMovimientosRecientesTCPSSOAP" name="consultaMovimientosRecientesTCPSSOAP">
      <soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/ConsultaMovimientosRecientesTC/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>