Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaProductosFinancieros_V2/wsdl/consultaProductosFinancieros.wsdl

<WL5G3N0:definitions name="consultaProductosFinancierosPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_1332908209.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosTypes" schemaLocation="../xsd/XMLSchema_-1363237749.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaProductosFinancierosRequest">
    <WL5G3N0:part element="WL5G3N2:consultaProductosFinancieros" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaProductosFinancierosResponse">
    <WL5G3N0:part element="WL5G3N2:consultaProductosFinancierosResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="consultaProductosFinancierosPS">
    <WL5G3N0:operation name="consultaProductosFinancieros" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaProductosFinancierosRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaProductosFinancierosResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="consultaProductosFinancierosPSSOAP" type="WL5G3N3:consultaProductosFinancierosPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="consultaProductosFinancieros">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="consultaProductosFinancierosPS">
    <WL5G3N0:port binding="WL5G3N3:consultaProductosFinancierosPSSOAP" name="consultaProductosFinancierosPSSOAP">
      <WL5G3N4:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/CustomerLoans/consultaProductosFinancieros"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>