Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/BusinessServices/CLIENTDATA/consultaMaestraSaldosTC/xsd/consultaMaestraSaldosTC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaMaestraSaldosTC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaMaestraSaldosTC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_PAIS" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CARD_NUMBER" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_ERROR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_MAESTRA_SALDOS_TC" type="db:CLIENTDATA.T_MAESTRA_SALDOS_TC" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CLIENTDATA.T_MAESTRA_SALDOS_TC">
      <sequence>
         <element name="PT_MAESTRA_SALDOS_TC_ITEM" type="db:CLIENTDATA.O_MAESTRA_SALDOS_TC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="CLIENTDATA.O_MAESTRA_SALDOS_TC">
      <sequence>
         <element name="CARD_NUMBER" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INSTITUTION_ID" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COUNTRY_CODE" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_HOLDER_NAME" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BIRTHDATE" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRODUCT_TYPE_CODE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REGISTERED_SIGNATURES" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LOGO" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BLOCK_CODE" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACTIVE_IDENTIFIER" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_HOLDER_TYPE" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MAX_PAYMENT_DATE" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUTOFF_DATE" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CREDIT_CARD_BALANCE_INFO" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="CREDIT_CARD_POINTS_INFO" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="TOTAL_PAYMENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string19">
      <restriction base="string">
         <maxLength value="19"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
</schema>