Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SALESFORCE/recepEvalCreditos/wsdl/WS_NIC_Recepcion_Eval_Creditos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : WS_NIC_Recepcion_Eval_Creditos
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/WS_NIC_Recepcion_Eval_Creditos" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/WS_NIC_Recepcion_Eval_Creditos">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/WS_NIC_Recepcion_Eval_Creditos">
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="Visualforce"/>
     <xsd:enumeration value="System"/>
     <xsd:enumeration value="Wave"/>
     <xsd:enumeration value="Nba"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ClienteUnico">
    <xsd:sequence>
     <xsd:element name="Acceso_Fondos_PEP" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="Actividad_Economica" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Actividad_Economica_Cliente" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Apellidos_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="bus_id_status_viajero_frecuente" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Cargo" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Ciudad_dos" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Ciudad_Nacimiento" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ciudad_tres" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Cliente_VIP" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Codigo_Postal_Tres" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Conyuge_Labora_Actualmente" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="Coodigo_Postal_Dos" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Coodigo_Postal_uno" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Correo_Electronico" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Correo_Electronico_Alterno" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Correo_Electronico_Conyugue" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Correo_Trabajo_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_Dos_1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_Dos_2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_Dos_3" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_Dos_4" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_Trabajo_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_Tres_1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_Tres_2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_Tres_3" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_uno_1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_uno_2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_uno_3" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_uno_4" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Es_PEP" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="Estado_Civil_Catalogo" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Explicacion_PEP" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Fecha_Emision_Id" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="Fecha_Emision_Id_2" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="Fecha_Fin_Cargo_PEP" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="Fecha_Inicio_Cargo_PEP" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="fecha_nac_conyuge" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="Fecha_Nacimiento" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="Fecha_Vencimiento_Id" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="ff_nbr_viajero_frecuente" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Fuente_Otros_Ingresos" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Genero_Catalogo" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Identificacion" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Identificacion_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Identificacion_dos" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Ingresos_Mensuales" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Institucion_PEP" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Lugar_de_Empleo" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Lugar_de_Nacimiento" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Municipio" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Municipio_Trabajo" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Naturaleza_del_Negocio" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Nivel_Educacion" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="No_Llamar" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="Nombre_Cargo_Publico_PEP" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Nombre_Centro_Trabajo_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="nombre_conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Nombre_Persona_PEP" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Nombres_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Numero_Cliente_unico" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="numero_id" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Numero_Personas_Dependientes" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="Ocupacion_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ORG_Nic" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Otros_Ingresos" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Pais_Cargo_PEP" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Pais_Dos" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Pais_Emision" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Pais_Emisor_Id" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Pais_Nacionalidad" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Pais_Trabajo" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Pais_Tres" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Pais_Uno" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Primer_Apellido" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Primer_Nombre" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Profesion" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Profesion_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Rango_Ingresos" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Ref_Personal_Nombre_1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Ref_Personal_Nombre_2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Ref_Personal_Nombre_3" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Ref_Personal_Telefono_1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Ref_Personal_Telefono_2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Ref_Personal_Telefono_3" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Ref_Personal_Tipo_1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Ref_Personal_Tipo_2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Ref_Personal_Tipo_3" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Relacion_con_Institucion_Financiera_1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Relacion_con_Institucion_Financiera_2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Relacion_con_Institucion_Financiera_3" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Relacion_Familiar_PEP" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Relacion_Titular_PEP" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Salario_Mensual_PEP" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Segundo_Apellido" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Segundo_Apellido_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Segundo_Nombre" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Sitio_Web_Trabajo_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Sueldo_Mensual_Conyuge" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Telefono_Alterno" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Telefono_Casa" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Telefono_Celular" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Telefono_Celular_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Telefono_de_Trabajo" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Telefono_Domicilio_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Telefono_Trabajo_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Telefono_Trabajo_Extension" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Tercer_Nombre" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Tiempo_de_Residir_Anios" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="Tiempo_de_Residir_Meses" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="Tiempo_de_Trabajar_Anios" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="Tiempo_de_Trabajar_Meses" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="Tipo_de_identificacion" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Tipo_de_identificacion_2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Tipo_de_Residencia" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Tipo_Identificacion_Conyuge" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Tipo_Relacion_Cuenta_1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Tipo_Relacion_Cuenta_2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Tipo_Relacion_Cuenta_3" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreditCardScenario">
    <xsd:sequence>
     <xsd:element name="campaignType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="suggestedCreditCardFee" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="suggestedLimitCreditCard" minOccurs="0" type="xsd:decimal" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CuentaDePrestamo">
    <xsd:sequence>
     <xsd:element name="cuotaPrestamo" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="montoAprobadoPrestamo" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="montoDeComision" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="montoSolicitadoPrestamo" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="numeroDeCuenta" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="plazoMeses" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="tasaDeComision" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="tasaDeInteres" minOccurs="0" type="xsd:decimal" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CuentaDeTC">
    <xsd:sequence>
	 <xsd:element name="Beneficio_Cash_Back" minOccurs="0" type="xsd:string" nillable="true"/>																					  
     <xsd:element name="ciclo" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="core_donde_sale_esta_cuenta" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="CuentaLms" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Direccion_Utilizar_Bill_To" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Envio_Estado_de_Cta_Statement_Flag" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="FechaHora_Aprobacion" minOccurs="0" type="xsd:dateTime" nillable="true"/>
     <xsd:element name="ingresoNetoClientAlMomentoAnalisisCrediticio" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="LegalId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Moneda" minOccurs="0" type="xsd:string" nillable="true"/>
	 <xsd:element name="Numero_Certificado_Deposito_Garantia" minOccurs="0" type="xsd:string" nillable="true"/>																										   
     <xsd:element name="NumeroDeCuenta" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ORG" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="producto_logo" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="settlement_model" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LoanScenario">
    <xsd:sequence>
     <xsd:element name="Amount" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="CampaignType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Cuota" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Rate" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="SourceCode" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Term" minOccurs="0" type="xsd:int" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RespuestaSimple">
    <xsd:sequence>
     <xsd:element name="descripcion" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="exitoso" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Tarjeta">
    <xsd:sequence>
     <xsd:element name="Estatus" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Identificacion_Tarjetahabiente" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Limite_de_compra_anual_RTL_YTD_AMT" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Limite_de_compra_diaria_RTL_DLY_AMT" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Limite_de_compra_mensual_RTL_MTD_AMT" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Limite_de_retiro_anual_CSH_YTD_AMT" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Limite_de_retiro_diario_CSH_DLY_AMT" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="Limite_de_retiro_mensual_CSH_MTD_AMT" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="nombre_en_tarjeta" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="numero_enmascarado" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="numtarjetaencriptado" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="address">
    <xsd:complexContent>
     <xsd:extension base="tns:location">
      <xsd:sequence>
       <xsd:element name="city" type="xsd:string"/>
       <xsd:element name="country" type="xsd:string"/>
       <xsd:element name="countryCode" type="xsd:string"/>
       <xsd:element name="geocodeAccuracy" type="xsd:string"/>
       <xsd:element name="postalCode" type="xsd:string"/>
       <xsd:element name="state" type="xsd:string"/>
       <xsd:element name="stateCode" type="xsd:string"/>
       <xsd:element name="street" type="xsd:string"/>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="location">
    <xsd:sequence>
     <xsd:element name="latitude" type="xsd:double"/>
     <xsd:element name="longitude" type="xsd:double"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="CreditCardRequestResult">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="idProspecto" type="tns:ID" nillable="true"/>
      <xsd:element name="idCreditRequest" type="tns:ID" nillable="true"/>
      <xsd:element name="requestStatus" type="xsd:string" nillable="true"/>
      <xsd:element name="requestSubStatus" type="xsd:string" nillable="true"/>
      <xsd:element name="uniqueClient" type="tns:ClienteUnico" nillable="true"/>
      <xsd:element name="cuentaNuevaTC" type="tns:CuentaDeTC" nillable="true"/>
      <xsd:element name="tarjetaNueva" type="tns:Tarjeta" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CreditCardRequestResultResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:RespuestaSimple" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="creditRequestStepUpdate">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="idProspecto" type="tns:ID" nillable="true"/>
      <xsd:element name="idCreditRequest" type="tns:ID" nillable="true"/>
      <xsd:element name="RequestStatus" type="xsd:string" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="creditRequestStepUpdateResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:RespuestaSimple" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="LoanRequestResult">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="idProspecto" type="tns:ID" nillable="true"/>
      <xsd:element name="idCreditRequest" type="tns:ID" nillable="true"/>
      <xsd:element name="requestStatus" type="xsd:string" nillable="true"/>
      <xsd:element name="requestSubStatus" type="xsd:string" nillable="true"/>
      <xsd:element name="uniqueClient" type="tns:ClienteUnico" nillable="true"/>
      <xsd:element name="cuentaNuevaLoan" type="tns:CuentaDePrestamo" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="LoanRequestResultResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:RespuestaSimple" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="precualifyResult">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="idProspecto" type="tns:ID" nillable="true"/>
      <xsd:element name="requestStatus" type="xsd:string" nillable="true"/>
      <xsd:element name="requestSubStatus" type="xsd:string" nillable="true"/>
      <xsd:element name="dentificationType" type="xsd:string" nillable="true"/>
      <xsd:element name="identification" type="xsd:string" nillable="true"/>
      <xsd:element name="firstName" type="xsd:string" nillable="true"/>
      <xsd:element name="secondName" type="xsd:string" nillable="true"/>
      <xsd:element name="surname" type="xsd:string" nillable="true"/>
      <xsd:element name="secondSurname" type="xsd:string" nillable="true"/>
      <xsd:element name="income" type="xsd:decimal" nillable="true"/>
      <xsd:element name="birthDate" type="xsd:date" nillable="true"/>
      <xsd:element name="totalSiboifFees" type="xsd:decimal" nillable="true"/>
      <xsd:element name="totalTucaFees" type="xsd:decimal" nillable="true"/>
      <xsd:element name="usedMue" type="xsd:decimal" nillable="true"/>
      <xsd:element name="netIncome" type="xsd:decimal" nillable="true"/>
      <xsd:element name="generatedLoanScenarios" minOccurs="0" maxOccurs="unbounded" type="tns:LoanScenario" nillable="true"/>
      <xsd:element name="generatedCreditCardScenarios" minOccurs="0" maxOccurs="unbounded" type="tns:CreditCardScenario" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="precualifyResultResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:RespuestaSimple" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="CreditCardRequestResultRequest">
  <part element="tns:CreditCardRequestResult" name="parameters"/>
 </message>
 <message name="CreditCardRequestResultResponse">
  <part element="tns:CreditCardRequestResultResponse" name="parameters"/>
 </message>
 <message name="creditRequestStepUpdateRequest">
  <part element="tns:creditRequestStepUpdate" name="parameters"/>
 </message>
 <message name="creditRequestStepUpdateResponse">
  <part element="tns:creditRequestStepUpdateResponse" name="parameters"/>
 </message>
 <message name="LoanRequestResultRequest">
  <part element="tns:LoanRequestResult" name="parameters"/>
 </message>
 <message name="LoanRequestResultResponse">
  <part element="tns:LoanRequestResultResponse" name="parameters"/>
 </message>
 <message name="precualifyResultRequest">
  <part element="tns:precualifyResult" name="parameters"/>
 </message>
 <message name="precualifyResultResponse">
  <part element="tns:precualifyResultResponse" name="parameters"/>
 </message>
 <portType name="WS_NIC_Recepcion_Eval_CreditosPortType">
  <operation name="CreditCardRequestResult">
   <input message="tns:CreditCardRequestResultRequest"/>
   <output message="tns:CreditCardRequestResultResponse"/>
  </operation>
  <operation name="creditRequestStepUpdate">
   <input message="tns:creditRequestStepUpdateRequest"/>
   <output message="tns:creditRequestStepUpdateResponse"/>
  </operation>
  <operation name="LoanRequestResult">
   <input message="tns:LoanRequestResultRequest"/>
   <output message="tns:LoanRequestResultResponse"/>
  </operation>
  <operation name="precualifyResult">
   <input message="tns:precualifyResultRequest"/>
   <output message="tns:precualifyResultResponse"/>
  </operation>
 </portType>
 <binding name="WS_NIC_Recepcion_Eval_CreditosBinding" type="tns:WS_NIC_Recepcion_Eval_CreditosPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="CreditCardRequestResult">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="creditRequestStepUpdate">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="LoanRequestResult">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="precualifyResult">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="WS_NIC_Recepcion_Eval_CreditosService">
  <documentation/>
  <port binding="tns:WS_NIC_Recepcion_Eval_CreditosBinding" name="WS_NIC_Recepcion_Eval_Creditos">
   <soap:address location="https://cs225.salesforce.com/services/Soap/class/WS_NIC_Recepcion_Eval_Creditos"/>
  </port>
 </service>
</definitions>