Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/PagosMasivosBilleteraPuente/xsd/pagosMasivosBilleteraPuenteTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPuenteTypes" 
		xmlns:pmb="http://www.ficohsa.com.hn/middleware.services/pagosMasivosBilleteraPuenteTypes" > 
	
    
    <!-- walletsREQClassType -->
    
     <xs:complexType name="walletsREQClassType">
        <xs:sequence>
	            <xs:element name="RECORD" type="xs:int"/>
	            <xs:element name="ID" type="xs:string"/>
	            <xs:element name="DESCRIPTION" type="xs:string"/> 
	            <xs:element name="LEGAL_ID" type="xs:string"/>
	            <xs:element name="NAME" type="xs:string"/>
	            <xs:element name="AMOUNT" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- walletsRSPClassType -->
    
     <xs:complexType name="walletsRSPClassType">
        <xs:sequence>
	            <xs:element name="RECORD" type="xs:int"/>
	            <xs:element name="ID" type="xs:string"/>
	            <xs:element name="DESCRIPTION" type="xs:string"/>
	            <xs:element name="STATUS" type="xs:string"/> 
	            <xs:element name="STATUS_DESCRIPTION" type="xs:string"/>  
	            <xs:element name="LEGAL_ID" type="xs:string"/>
	            <xs:element name="NAME" type="xs:string"/>
	            <xs:element name="PRODUCT_TYPE" type="xs:string"/>
	            <xs:element name="AMOUNT" type="xs:decimal"/>
	            <xs:element name="ERROR_ID" type="xs:string"/>
	            <xs:element name="ERROR_DESCRIPTION" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
	<!-- batchREQClassType -->
    
     <xs:complexType name="batchREQClassType">
        <xs:sequence>
	            <xs:element name="RECORD" type="xs:int"/>
	            <xs:element name="ID" type="xs:string"/>	           
	            <xs:element name="LEGAL_ID" type="xs:string"/>
	            <xs:element name="NAME" type="xs:string"/>
	            <xs:element name="AMOUNT" type="xs:decimal"/>
	            <xs:element name="PRODUCT_TYPE" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    

	
	<!-- batchRSPClassType -->
    
     <xs:complexType name="batchRSPClassType">
        <xs:sequence>
	            <xs:element name="RECORD" type="xs:int"/>
	            <xs:element name="REFERENCE_NUMBER" type="xs:string"/>
	            <xs:element name="DESCRIPTION" type="xs:string"/>
	            <xs:element name="ID" type="xs:string"/>	           
	            <xs:element name="LEGAL_ID" type="xs:string"/>
	            <xs:element name="NAME" type="xs:string"/>
	            <xs:element name="STATUS" type="xs:int"/>
	            <xs:element name="STATUS_DESCRIPTION" type="xs:string"/>
	            <xs:element name="ERROR_CODE" type="xs:int" minOccurs="0"/>
	            <xs:element name="ERROR_DESCRIPTION" type="xs:string" minOccurs="0"/>
	            <xs:element name="AMOUNT" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType> 
    
	<!-- batchDetailRSPClassType -->
    
     <xs:complexType name="batchDetailRSPClassType">
        <xs:sequence>
	            <xs:element name="RECORD" type="xs:int"/>
	            <xs:element name="ID" type="xs:string"/>
	            <xs:element name="DESCRIPTION" type="xs:string"/>
	            <xs:element name="AMOUNT" type="xs:decimal"/>
	            <xs:element name="NAME" type="xs:string"/>	           
	            <xs:element name="PRODUCT_TYPE" type="xs:string"/>	            
	            <xs:element name="STATUS" type="xs:int"/>
	            <xs:element name="STATUS_DESCRIPTION" type="xs:string"/>	            
        </xs:sequence>
    </xs:complexType>
    
    
    
    
 <!--#################################################################-->     
    			<!--OPERACION: Genera Token Billetera-->

	<xs:element name="generaTokenBilletera">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="SECURITY_KEY" type="xs:string"/> 
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
	
	<xs:element name="generaTokenBilleteraResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="SECURITY_TOKEN" type="xs:string"/>				
            </xs:sequence> 
        </xs:complexType>
    </xs:element> 

<!--#################################################################-->     
    			<!--OPERACION: Valida Lote Billetera-->
    			
	<xs:element name="validaLoteBilletera">
        <xs:complexType>
            <xs:sequence>
	            <xs:element name="USERNAME" type="xs:string"/>
	            <xs:element name="WALLET_DETAILS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="WALLET" type="pmb:walletsREQClassType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>
    
    <xs:element name="validaLoteBilleteraResponse">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="WALLET_DETAILS">
    				<xs:complexType>
						<xs:sequence>
							<xs:element name="WALLET" type="pmb:walletsRSPClassType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
    			</xs:element>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element> 
    
<!--#################################################################-->     
 			    <!--OPERACION: Carga Lote Billetera-->
 			    
    <xs:element name="cargaLoteBilletera">
    	<xs:complexType>
    		<xs:sequence>
	            <xs:element name="USERNAME" type="xs:string"/>
	            <xs:element name="PASSWORD" type="xs:string"/>
	            <xs:element name="DEBIT_WALLET" type="xs:string"/>
	            <xs:element name="BANK_BATCH_ID" type="xs:string"/>
	            <xs:element name="BATCH_DESCRIPTION" type="xs:string"/>
	            <xs:element name="MESSAGE" type="xs:string"/>
	            <xs:element name="WALLET_DETAILS">
    				<xs:complexType>
						<xs:sequence>
							<xs:element name="WALLET" type="pmb:batchREQClassType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
    			</xs:element>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="cargaLoteBilleteraResponse">
    	<xs:complexType>
    		<xs:sequence>    			
	            <xs:element name="USERNAME" type="xs:string"/>
	            <xs:element name="DEBIT_WALLET" type="xs:string"/>
	            <xs:element name="BANK_BATCH_ID" type="xs:string"/>
	            <xs:element name="STATUS" type="xs:int"/>
	            <xs:element name="STATUS_DESCRIPTION" type="xs:string"/>
	            <xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:int"/>
	            <xs:element name="TOTAL_AMOUNT" type="xs:decimal"/>
	            <xs:element name="WALLET_DETAILS">
    				<xs:complexType>
						<xs:sequence>
							<xs:element name="WALLET" type="pmb:batchRSPClassType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
    			</xs:element>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
<!--#################################################################-->     
 			    <!--OPERACION: Consulta Estado Lote Billetera-->
 			    
    <xs:element name="consultaEstadoLoteBilletera">
    	<xs:complexType>
    		<xs:sequence>    			
	            <xs:element name="USERNAME" type="xs:string"/>
	            <xs:element name="DEBIT_WALLET" type="xs:string"/>
	            <xs:element name="BANK_BATCH_ID" type="xs:string"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="consultaEstadoLoteBilleteraResponse">
    	<xs:complexType>
    		<xs:sequence>
    		<xs:element name="BATCH_DATE" type="xs:string"/>    				
	            <xs:element name="DEBIT_WALLET" type="xs:string"/>
	            <xs:element name="DEBIT_WALLET_NAME" type="xs:string"/>
	            <xs:element name="STATUS" type="xs:integer"/>
	            <xs:element name="STATUS_DESCRIPTION" type="xs:string"/>	            
	            <xs:element name="TOTAL_AMOUNT" type="xs:decimal"/>
	            <xs:element name="TOTAL_AMOUNT_ERROR" type="xs:decimal"/>
	            <xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:int"/>
	            <xs:element name="NUMBER_OF_TRANSACTIONS_SUCCESS" type="xs:int"/>
	            <xs:element name="NUMBER_OF_TRANSACTIONS_ERROR" type="xs:int"/>	            
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
<!--#################################################################-->     
 			    <!--OPERACION: Consulta Detalle Lote Billetera-->
 			    
    <xs:element name="consultaDetalleLoteBilletera">
    	<xs:complexType>
    		<xs:sequence>    			
	            <xs:element name="USERNAME" type="xs:string"/>	            
	            <xs:element name="BANK_BATCH_ID" type="xs:string"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="consultaDetalleLoteBilleteraResponse">
    	<xs:complexType>
    		<xs:sequence>    				
	            <xs:element name="DEBIT_WALLET" type="xs:string"/>
	            <xs:element name="BANK_BATCH_ID" type="xs:string"/>
	            <xs:element name="DEBIT_WALLET_NAME" type="xs:string"/>
	            <xs:element name="DATE" type="xs:string"/>
	            <xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:int"/>
	            <xs:element name="NUMBER_OF_TRANSACTIONS_SUCCESS" type="xs:int"/>
	            <xs:element name="NUMBER_OF_TRANSACTIONS_ERROR" type="xs:int"/>
	            <xs:element name="TOTAL_AMOUNT" type="xs:decimal"/>
	            <xs:element name="TOTAL_AMOUNT_ERROR" type="xs:decimal"/>
	            <xs:element name="STATUS" type="xs:int"/>
	            <xs:element name="STATUS_DESCRIPTION" type="xs:string"/>
	            <xs:element name="WALLET_DETAILS">
    				<xs:complexType>
						<xs:sequence>
							<xs:element name="WALLET" type="pmb:batchDetailRSPClassType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
    			</xs:element>	            	            	            	            	            
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>    

</xs:schema> 	