Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaAnticiposCliente/xsd/consultaAnticiposClienteTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaAnticiposClienteTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaAnticiposClienteTypes">
			
	<xs:element name="consultaAnticiposCliente">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CUSTOMER_ID" type="xs:string"/>        
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name = "creditLinesArrayType">
		<xs:sequence>
		  	<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_LINE" type="tns:creditLineArrayType" minOccurs="0" maxOccurs="unbounded"/>	
		</xs:sequence>		
	</xs:complexType>
	
	<xs:complexType name = "creditLineArrayType">
		<xs:sequence>
		    <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="USED_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="FEE_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_AMOUNT" type="xs:string" minOccurs="0"/>			
		</xs:sequence>		
	</xs:complexType>	
	
	<xs:element name="consultaAnticiposClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CREDIT_LINES" type="tns:creditLinesArrayType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>