Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Accounts/RequestorServices/XSD/accountsTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/accountsTypes" elementFormDefault="qualified" nxsd:version="JSON" nxsd:encoding="UTF-8" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ficohsa.com.hn/middleware.services/accountsTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="createAccountRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" minOccurs="0" type="dtt:GeneralInfoType"/>
        <xsd:element name="ProcessType" minOccurs="0" type="xsd:string"/>
        <xsd:element name="InterfaceUser" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CustomerCode" minOccurs="0" type="xsd:string"/>
        <xsd:element name="AccountDetail" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Category" minOccurs="0" type="xsd:string"/>
              <xsd:element name="Currency" minOccurs="0" type="xsd:string"/>
              <xsd:element name="OperationType" minOccurs="0" type="xsd:string"/>
              <xsd:element name="ReferredType" minOccurs="0" type="xsd:string"/>
              <xsd:element name="Passbook" minOccurs="0" type="xsd:string"/>
              <xsd:element name="PassbookNumber" minOccurs="0" type="xsd:string"/>
              <xsd:element name="PayrollGroup" minOccurs="0" type="xsd:string"/>
              <xsd:element name="InitialDeposit" minOccurs="0" type="xsd:string"/>
              <xsd:element name="Purpose" minOccurs="0" type="xsd:date"/>
              <xsd:element name="OrigenOfFunds" minOccurs="0" type="xsd:string"/>
              <xsd:element name="MonthlyTxnVolume" minOccurs="0" type="xsd:string"/>
              <xsd:element name="AddressType" minOccurs="0" type="xsd:string"/>
              <xsd:element name="Inactive" minOccurs="0" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="BeneficiaryDetails" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BeneficiaryDetail" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="BeneficiaryName" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Relation" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="DocumentType" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="LegalId" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="BeneficiaryPercentage" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Nationality" minOccurs="0" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SignatoryDetails" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RegisteredSignatory" minOccurs="0" type="xsd:string"/>
              <xsd:element name="RequiredSignatory" minOccurs="0" type="xsd:string"/>
              <xsd:element name="SignatoryDescription" minOccurs="0" type="xsd:string"/>
              <xsd:element name="SignatureType" minOccurs="0" type="xsd:string"/>
              <xsd:element name="DocumentType" minOccurs="0" type="xsd:string"/>
              <xsd:element name="LegalId" minOccurs="0" type="xsd:string"/>
              <xsd:element name="SignatoryName" minOccurs="0" type="xsd:string"/>
              <xsd:element name="Relation" minOccurs="0" type="xsd:string"/>
              <xsd:element name="CustomarClass" minOccurs="0" type="xsd:string"/>
              <xsd:element name="Nationality" minOccurs="0" type="xsd:string"/>
              <xsd:element name="IdType" minOccurs="0" type="xsd:string"/>
              <xsd:element name="IdNumber" minOccurs="0" type="xsd:string"/>
              <xsd:element name="IsMain" minOccurs="0" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TransactionDetails" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NumTxnDeb" minOccurs="0" type="xsd:string"/>
              <xsd:element name="NumTxnCred" minOccurs="0" type="xsd:string"/>
              <xsd:element name="MonthlyTxnCred" minOccurs="0" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CardInformation" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CardNumber" minOccurs="0" type="xsd:string"/>
              <xsd:element name="PrimaryAccount" minOccurs="0" type="xsd:string"/>
              <xsd:element name="EmissionPay" minOccurs="0" type="xsd:string"/>
              <xsd:element name="CardType" minOccurs="0" type="xsd:string"/>
              <xsd:element name="NameOnPlastic" minOccurs="0" type="xsd:string"/>
              <xsd:element name="DeliveryBranch" minOccurs="0" type="xsd:string"/>
              <xsd:element name="SecondaryAccounts" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SecondaryAccount" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createAccountResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="AccountNumber" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createCheckBooksRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
        <xsd:element name="AccountNumber" type="dtt:string1"/>
        <xsd:element name="ChequeBookType" type="dtt:string1"/>
        <xsd:element name="NoOfBooks" type="xsd:integer"/>
        <xsd:element name="DestinationBranch" type="dtt:string1"/>
        <xsd:element name="AuthorizedClaimer" type="dtt:string1"/>
        <xsd:element name="AuthorizedClaimerId" type="dtt:string1"/>
        <xsd:element name="InterfaceReferenceNo" type="dtt:string1"/>
        <xsd:element name="NoOfCheques" type="xsd:integer" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createCheckBooksResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="ErrorInfo" type="dtt:ErrorInfoType" minOccurs="0"/>
        <xsd:element name="AccountNumber" type="xsd:string"/>
        <xsd:element name="DestinationBranch" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ChequeBookType" type="xsd:string" minOccurs="0"/>
        <xsd:element name="NoOfBooks" type="xsd:string" minOccurs="0"/>
        <xsd:element name="FirstChequeNumber" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="LastChequeNumber" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="AuthorizedClaimer" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DateTime" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>