Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Accounts/RequestorServices/XSD/accountValidationTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/accountValidation"
            elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:acv="http://www.ficohsa.com.hn/middleware.services/accountValidation"
            xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes"
            xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/keyValueTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd"
              namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/KeyValueTypes.xsd"
              namespace="http://www.ficohsa.com.hn/middleware.services/keyValueTypes"/>
  <xsd:element name="accountValidationRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="AccountName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="AccountNumber" minOccurs="1" maxOccurs="1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="CheckCancelled" minOccurs="1" maxOccurs="1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="YES"/>
              <xsd:enumeration value="NO"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="accountValidationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="AccountName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Currency" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="AccountStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="ProductType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="CustomerId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="AdditionalInfo" minOccurs="0" type="kvp:UnboundKvPair"/>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>