Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Accounts/RequestorServices/XSD/getAccountMovementsTypes.xsd

<xsd:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/accountMovements" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/accountMovements" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="getAccountMovementsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" minOccurs="0" type="dtt:GeneralInfoType"/>
        <xsd:element name="AccountNumber" type="xsd:string"/>
        <xsd:element name="BeginDate" type="xsd:string"/>
        <xsd:element name="EndDate" type="xsd:string"/>
        <xsd:element name="EntryRange">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Today"/>
              <xsd:enumeration value="LastSTMT"/>
              <xsd:enumeration value="FreeRange"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PagingInfo" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Paging">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Yes"/>
                    <xsd:enumeration value="No"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="InitialRecord" type="xsd:string"/>
              <xsd:element name="RecordCount" type="xsd:string"/>
              <xsd:element name="Ticket" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="FilterCriterias" type="cons:filterCriterias" minOccurs="0" maxOccurs="1" nillable="true"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="filterCriterias">
    <xsd:sequence>
      <xsd:element name="filterCriteria" type="cons:filterCriteria" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="filterCriteria">
    <xsd:sequence>
      <xsd:element name="TypeFilter" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
      <xsd:element name="ValueFilter" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getAccountMovementsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AccountName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
        <xsd:element name="StartingBalance" type="xsd:string" minOccurs="0"/>
        <xsd:element name="EndingBalance" type="xsd:string" minOccurs="0"/>
        <xsd:element name="StartDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="EndDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DebitCount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CreditCount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DebitTotalAmount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CreditTotalAmount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="RecordsInfo" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="InitialRecord" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="RecordsReturned" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="RecordsTotal" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="Ticket" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
        <xsd:element name="getAccountMovementsResponseType" minOccurs="0" form="qualified">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="getAccountMovementsResponseType" minOccurs="0" maxOccurs="unbounded" form="qualified">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ValueDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RefNo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DocumentNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TxnReference" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Amount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EfectOnBalance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Inputter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TXNCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TXNAGNCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TXNAGNName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TXNDescriptionall" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Authoriser" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TXNDateATETIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RunningBalance" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>