Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Accounts/RequestorServices/XSD/getAccountDetails.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/getAccountDetails" elementFormDefault="qualified" nxsd:version="JSON"   nxsd:encoding="UTF-8" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ficohsa.com.hn/middleware.services/getAccountDetails" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd">
   <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
   <xsd:element name="getAccountDetailsResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
            <xsd:element name="AccountDetails" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="AccountNumber" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="CustomerId" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="AccountName" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="Category" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="Currency" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="LimitRef" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="Restrictions" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="AltAccount" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="OpeningDate" minOccurs="0" type="xsd:date"/>
                     <xsd:element name="OperationType" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="AccountOfficer" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="BranchCode" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="LegalId" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="RequiredSignatures" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="SignaturesDesc" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="InactiveMarker" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="Purpose" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="MonthlyTxnVolume" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="ThirdPartyRepresentative" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="BeneficiaryDetails" minOccurs="0" type="BeneficiaryInfoType"
                                  maxOccurs="unbounded"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="BeneficiaryInfoType">
      <xsd:sequence minOccurs="1">
          <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Relationship" minOccurs="0" type="xsd:string"/>
          <xsd:element name="DocumentType" minOccurs="0" type="xsd:string"/>
          <xsd:element name="LegalId" minOccurs="0" type="xsd:string"/>
          <xsd:element name="Percentege" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>