Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Accounts/RequestorServices/XSD/sjEvaluateAbanksAccountTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjEvaluateAbanksAccountTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eac="http://www.ficohsa.com.hn/middleware.services/sjEvaluateAbanksAccountTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="sjEvaluateAbanksAccountRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="AccountId" type="xsd:string" minOccurs="1"/>
        <xsd:element name="Uuid" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="sjEvaluateAbanksAccountResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EvaluateAbanksAccount" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AccountId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Mod10Indicator" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>