Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Accounts/RequestorServices/XSD/updateAccountTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/updateAccountTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:uat="http://www.ficohsa.com.hn/middleware.services/updateAccountTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/keyValueTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/KeyValueTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/keyValueTypes"/>
  <xsd:element name="updateAccountRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="AccountNumber" type="xsd:string" minOccurs="1"/>
        <xsd:element name="AccountStatus" minOccurs="1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int">
              <xsd:enumeration value="0"/>
              <xsd:enumeration value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="InterfaceUser" type="xsd:string" minOccurs="1"/>
        <xsd:element name="AdditionalInfo" minOccurs="0" type="kvp:UnboundKvPair"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateAccountResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>