Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/BusinessServices/TercerosGT/BitacoraTercero/xsd/registrarBitacoraTercero_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registrarBitacoraTercero" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registrarBitacoraTercero" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SERVICEID" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PRIMARYKEY" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TRANSACTIONCODE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CONTRACTNUMBER" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TRANSACTIONCHANNEL" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TRANSACTIONUSER" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TRANSACTIONAMOUNT" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_TRANSACTIONCURRENCY" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TRANSACTIONNUMBER" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TRANSACTIONID" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TARGET_SYSTEM" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SERVICEREQUEST" type="string" db:index="13" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="PV_SERVICERESPONSE" type="string" db:index="14" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="PV_DUEDATE" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_DATETIMEREQUEST" type="dateTime" db:index="16" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PD_DATETIMERESPONSE" type="dateTime" db:index="17" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PV_ERRORID" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERRORDESCRIPTION" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOERROR" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJEERROR" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>