Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/WADL/CreditCardRouter_PS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/creditCardsTypes"
             xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/commonTypes"
             xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creditCardApplicationTypes"
             xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/conDatoCuenta"
             xmlns:ns2="http://www.ficohsa.com.hn/middleware.services/getCustomerCreditCardTypes"
             xmlns:ns3="http://www.ficohsa.com.hn/middleware.services/activateCreditCardTypes"
             xmlns:ns4="http://www.ficohsa.com.hn/middleware.services/getCustomerFinancingTypes"
             xmlns:ns5="http://www.ficohsa.com.hn/middleware.services/calculateFinancingTypes"
             xmlns:ns6="http://www.ficohsa.com.hn/middleware.services/creditCardDigitalApplicationTypes"
             xmlns:svt="http://www.ficohsa.com.hn/middleware.services/securityValuesTypes"
             xmlns:slu="http://www.ficohsa.com.hn/middleware.services/SpendingLimitsUpdate"
             xmlns:gcd="http://www.ficohsa.com.hn/middleware.services/getCreditCardDetailsTypes"
             xmlns:ns0="urn:CreditCardRouter_PS">
  <doc title="CreditCardRouter_PS">RestService</doc>
  <grammars>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/creditCardsTypes"
                  schemaLocation="../XSD/creditCardsTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/creditCardApplicationTypes"
                  schemaLocation="../XSD/creditCardApplicationTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/conDatoCuenta"
                  schemaLocation="../../../../CreditCardProcessor/ProviderServices/XSD/GetCustomerLiabilities/conDatoCuentaHN_sp.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/createFinancingInsuranceTypes"
                  schemaLocation="../XSD/createFinancingInsuranceTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCustomerCreditCardTypes"
                  schemaLocation="../XSD/getCustomerCreditCardTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/activateCreditCardTypes"
                  schemaLocation="../XSD/activateCreditCardTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCustomerFinancingTypes"
                  schemaLocation="../XSD/getCustomerFinancing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/createFinancingTypes"
                  schemaLocation="../XSD/createFinancingTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/activateFinancingTypes"
                  schemaLocation="../XSD/activateFinancingTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/calculateFinancingTypes"
                  schemaLocation="../XSD/calculateFinancingTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/creditCardDigitalApplicationTypes"
                  schemaLocation="../XSD/creditCardDigitalApplicationTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/availableFinancingDetailTypes"
                  schemaLocation="../XSD/availableFinancingDetailTypes.xsd"/>
    </xsd:schema><!--
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/securityValuesTypes"
                  schemaLocation="../XSD/securityValuesTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/SpendingLimitsUpdate"
                  schemaLocation="../XSD/spendingLimitsUpdateTypes.xsd"/>
    </xsd:schema>-->
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCreditCardDetailsTypes"
                  schemaLocation="../XSD/getCreditCardDetailsTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getInterestRateTypes"
                  schemaLocation="../XSD/getInterestRateTypes.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="urn:CreditCardRouter_PS" elementFormDefault="qualified"
                xmlns="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="getInterestRate_params">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SourceBank" type="string"/>
            <xsd:element name="DestinationBank" type="string"/>
            <xsd:element name="ApplicationId" type="string"/>
            <xsd:element name="Language" type="string"/>
            <xsd:element name="Org" type="string"/>
            <xsd:element name="Logo" type="string"/>
            <xsd:element name="Pct" type="string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </grammars>
  <resources>
    <resource path="/financing-account">
      <method name="POST" soa:wsdlOperation="createFinancingAccount">
        <request>
          <representation mediaType="application/json" element="cns:createFinancingAccountRequest"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/creditCardsTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:createFinancingAccountResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/creditCardsTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/financing-details">
      <method name="POST" soa:wsdlOperation="availableFinancingDetail">
        <request>
          <representation mediaType="application/json" element="cns:availableFinancingDetailRequest"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/availableFinancingDetailTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:availableFinancingDetailResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/availableFinancingDetailTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/financing-insurance">
      <method name="POST" soa:wsdlOperation="createFinancingInsurance">
        <request>
          <representation mediaType="application/json" element="cns:createFinancingInsuranceRequest"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/createFinancingInsuranceTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:createFinancingInsuranceResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/createFinancingInsuranceTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/">
      <method name="POST" soa:wsdlOperation="creditCardApplication">
        <request>
          <representation mediaType="application/json" element="cns:creditCardApplicationRequest"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/creditCardApplicationTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:creditCardApplicationResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/creditCardApplicationTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/customer">
      <method name="GET" soa:wsdlOperation="getCustomerCreditCard">
        <request soa:paramElement="pns:getCustomerCreditCardRequest"
                 xmlns:pns="http://www.ficohsa.com.hn/middleware.services/getCustomerCreditCardTypes">
          <param name="SourceBank" style="query" soa:expression="$msg.request/ns2:GeneralInfo/ns1:SourceBank"
                 type="xsd:string"/>
          <param name="DestinationBank" style="query" soa:expression="$msg.request/ns2:GeneralInfo/ns1:DestinationBank"
                 type="xsd:string"/>
          <param name="GlobalId" style="query" soa:expression="$msg.request/ns2:GeneralInfo/ns1:GlobalId"
                 type="xsd:string"/>
          <param name="ApplicationId" style="query" soa:expression="$msg.request/ns2:GeneralInfo/ns1:ApplicationId"
                 type="xsd:string"/>
          <param name="ApplicationUser" style="query" soa:expression="$msg.request/ns2:GeneralInfo/ns1:ApplicationUser"
                 type="xsd:string"/>
          <param name="BranchId" style="query" soa:expression="$msg.request/ns2:GeneralInfo/ns1:BranchId"
                 type="xsd:string"/>
          <param name="TransactionDate" style="query" soa:expression="$msg.request/ns2:GeneralInfo/ns1:TransactionDate"
                 type="xsd:string"/>
          <param name="Language" style="query" soa:expression="$msg.request/ns2:GeneralInfo/ns1:Language"
                 type="xsd:string"/>
          <param name="SearchCriteria" style="query" soa:expression="$msg.request/ns2:SearchCriteria"
                 type="xsd:string"/>
          <param name="SearchValue" style="query" soa:expression="$msg.request/ns2:SearchValue" type="xsd:string"/>
          <param name="Org" style="query" soa:expression="$msg.request/ns2:Org" type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getCustomerCreditCardResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getCustomerCreditCardTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/activate-credit-card">
      <method name="POST" soa:wsdlOperation="activateCreditCard">
        <request>
          <representation mediaType="application/json" element="cns:activateCreditCardRequest"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/activateCreditCardTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:activateCreditCardResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/activateCreditCardTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/customer-financing">
      <method name="POST" soa:wsdlOperation="getCustomerFinancing">
        <request>
          <representation mediaType="application/json" element="cns:getCustomerFinancingRequest"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getCustomerFinancingTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getCustomerFinancingResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getCustomerFinancingTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/create-financing">
      <method name="POST" soa:wsdlOperation="createFinancing">
        <request>
          <representation mediaType="application/json" element="cns:createFinancing"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/createFinancingTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:createFinancingResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/createFinancingTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/activate-financing">
      <method name="POST" soa:wsdlOperation="activateFinancing">
        <request>
          <representation mediaType="application/json" element="cns:activateFinancing"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/activateFinancingTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:activateFinancingResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/activateFinancingTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/calculate-financing">
      <method name="POST" soa:wsdlOperation="calculateFinancing">
        <request>
          <representation mediaType="application/json" element="cns:calculateFinancingRequest"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/calculateFinancingTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:calculateFinancingResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/calculateFinancingTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/digital-card">
      <method name="POST" soa:wsdlOperation="digitalCard">
        <request>
          <representation mediaType="application/json" element="cns:creditCardDigitalApplicationRequest"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/creditCardDigitalApplicationTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:creditCardDigitalApplicationResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/creditCardDigitalApplicationTypes"/>
        </response>
      </method>
    </resource><!--
    <resource path="/security-values">
      <method name="POST" soa:wsdlOperation="securityValues">
        <request>
          <representation mediaType="application/json" element="cns:securityValuesRequest"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/securityValuesTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:securityValuesResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/securityValuesTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/spending-limits-update">
      <method name="POST" soa:wsdlOperation="SpendingLimitsUpdate">
        <request>
          <representation mediaType="application/json" element="cns:SpendingLimitsUpdateRequest"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/SpendingLimitsUpdate"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:SpendingLimitsUpdateResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/SpendingLimitsUpdate"/>
        </response>
      </method>
    </resource>-->
    <resource path="/credit-card-details">
      <method name="POST" soa:wsdlOperation="getCreditCardDetails">
        <request>
          <representation mediaType="application/json" element="cns:getCreditCardDetailsRequest"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getCreditCardDetailsTypes"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getCreditCardDetailsResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getCreditCardDetailsTypes"/>
        </response>
      </method>
    </resource>
    <resource path="/interest-rate">
      <method name="GET" soa:wsdlOperation="getInterestRate">
        <request soa:paramElement="pns:getInterestRateRequest"
                 xmlns:pns="http://www.ficohsa.com.hn/middleware.services/getInterestRateTypes">
          <param name="SourceBank" style="query" soa:expression="$msg.request/ns0:SourceBank" type="xsd:string"/>
          <param name="DestinationBank" style="query" soa:expression="$msg.request/ns0:DestinationBank"
                 type="xsd:string"/>
          <param name="ApplicationId" style="query" soa:expression="$msg.request/ns0:ApplicationId" type="xsd:string"/>
          <param name="Language" style="query" soa:expression="$msg.request/ns0:Language" type="xsd:string"/>
          <param name="Org" style="query" soa:expression="$msg.request/ns0:Org" type="xsd:string"/>
          <param name="Logo" style="query" soa:expression="$msg.request/ns0:Logo" type="xsd:string"/>
          <param name="Pct" style="query" soa:expression="$msg.request/ns0:Pct" type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getInterestRateResponse"
                          xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getInterestRateTypes"/>
        </response>
      </method>
    </resource>
  </resources>
</application>