Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/MDW/obtenerRemesadora/xsd/ObtenerRemesadora_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ObtenerRemesadora" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ObtenerRemesadora" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
         	<element name="PV_ID_CONVENIO_T24" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIO_SERVICIO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_ID_CONVENIO_T24" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_REMESADORA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_REMESADORA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_ID_CONVENIO" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_ABREVIATURA_REMESADORA" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_PRIORIDAD" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_SUCCESS_INDICATOR" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MESSAGES" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>