Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/Core/consultaMonedas/consultaMonedasTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMonedasTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaMonedasTypes">

	<xs:complexType name="consultaMonedasResponseArrayType">
		<xs:sequence>
			<xs:element name="CURRENCY_ID" type="xs:string" minOccurs="0" />
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaMonedasResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaMonedasResponseRecordType"
				type="cons:consultaMonedasResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaMonedasResponseType">
		<xs:sequence>
			<xs:element name="consultaMonedasResponseType"
				type="cons:consultaMonedasResponseRecordType" form="qualified"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaMonedas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CURRENCY_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaMonedasResponse" type="cons:consultaMonedasResponseType" />

</xs:schema>