Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CatalogosInfoPrestamo/consultaCaracteristicasProducto/xsd/consultaCaracteristicasProducto_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaCaracteristicasProducto" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaCaracteristicasProducto" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_LOAN_PRODUCT" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_OBLIGATION" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_GUARANTEE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_REPAYMENT" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_LOAN_PRODUCT_DESC" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_OBLIGATION_CODE" type="db:PROXYABANKSHN.TVARCHAR10" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_OBLIGATION_DESCRIPTION" type="db:PROXYABANKSHN.TVARCHAR100" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_GUARANTEE_CODE" type="db:PROXYABANKSHN.TVARCHAR3" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_GUARANTEE_DESCRIPTION" type="db:PROXYABANKSHN.TVARCHAR100" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_REPAYMENT_CODE" type="db:PROXYABANKSHN.TVARCHAR3" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_REPAYMENT_TYPE_DESCRIPTION" type="db:PROXYABANKSHN.TVARCHAR100" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSHN.TVARCHAR100">
      <sequence>
         <element name="P_OBLIGATION_DESCRIPTION_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR3">
      <sequence>
         <element name="P_GUARANTEE_CODE_ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR10">
      <sequence>
         <element name="P_OBLIGATION_CODE_ITEM" type="db:string10" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
</schema>