Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/WSDL/UpdateCustomerDynamo/UpdateCustomerDYN.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../../XSD/UpdateCustomerDynamo/UpdateCustomerDYN_Array.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../../XSD/UpdateCustomerDynamo/UpdateCustomerDYN.xsd"/>
</xsd:schema>
</types>
<message name="ActualizaciondatosClientesDYNAMO">
<part name="parameters" element="tns:ActualizaciondatosClientesDYNAMO"/>
</message>
<message name="ActualizaciondatosClientesDYNAMOResponse">
<part name="parameters" element="tns:ActualizaciondatosClientesDYNAMOResponse"/>
</message>
<message name="ActualizaciondatosClientesDYNAMO_Validate">
<part name="parameters" element="tns:ActualizaciondatosClientesDYNAMO_Validate"/>
</message>
<message name="ActualizaciondatosClientesDYNAMO_ValidateResponse">
<part name="parameters" element="tns:ActualizaciondatosClientesDYNAMO_ValidateResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="ActualizaciondatosClientesDYNAMO">
<input message="tns:ActualizaciondatosClientesDYNAMO"/>
<output message="tns:ActualizaciondatosClientesDYNAMOResponse"/>
</operation>
<operation name="ActualizaciondatosClientesDYNAMO_Validate">
<input message="tns:ActualizaciondatosClientesDYNAMO_Validate"/>
<output message="tns:ActualizaciondatosClientesDYNAMO_ValidateResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ActualizaciondatosClientesDYNAMO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizaciondatosClientesDYNAMO_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.177.15:7003/svcUpdateCustomerHN/services"/>
</port>
</service>
</definitions>