Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/WSDL/UpdateCustomerDynamo/UpdateCustomerDynamo_BS.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../../XSD/UpdateCustomerDynamo/UpdateCustomerDynamo_Array.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="T24WebServicesImpl" schemaLocation="../../XSD/UpdateCustomerDynamo/UpdateCustomerDynamo.xsd"/>
    </xsd:schema>
  </types>
  <message name="ActualizacionDynamodatosClientes">
    <part name="parameters" element="tns:ActualizacionDynamodatosClientes"/>
  </message>
  <message name="ActualizacionDynamodatosClientesResponse">
    <part name="parameters" element="tns:ActualizacionDynamodatosClientesResponse"/>
  </message>
  <message name="ActualizacionDynamodatosClientes_Validate">
    <part name="parameters" element="tns:ActualizacionDynamodatosClientes_Validate"/>
  </message>
  <message name="ActualizacionDynamodatosClientes_ValidateResponse">
    <part name="parameters" element="tns:ActualizacionDynamodatosClientes_ValidateResponse"/>
  </message>
  <message name="callOfs">
    <part name="parameters" element="tns:callOfs"/>
  </message>
  <message name="callOfsResponse">
    <part name="parameters" element="tns:callOfsResponse"/>
  </message>
  <portType name="T24WebServicesImpl">
    <operation name="ActualizacionDynamodatosClientes">
      <input message="tns:ActualizacionDynamodatosClientes"/>
      <output message="tns:ActualizacionDynamodatosClientesResponse"/>
    </operation>
    <operation name="ActualizacionDynamodatosClientes_Validate">
      <input message="tns:ActualizacionDynamodatosClientes_Validate"/>
      <output message="tns:ActualizacionDynamodatosClientes_ValidateResponse"/>
    </operation>
    <operation name="callOfs">
      <input message="tns:callOfs"/>
      <output message="tns:callOfsResponse"/>
    </operation>
  </portType>
  <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="ActualizacionDynamodatosClientes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ActualizacionDynamodatosClientes_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="callOfs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="T24WebServicesImplService">
    <port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
      <soap:address location="http://172.23.13.19:7003/svcActualizacionDynamoDatosClientes/services"/>
    </port>
  </service>
</definitions>