Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABKPA/crearTransfCorresponsal/xsd/crearTransfCorresponsal_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/crearTransfCorresponsal" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/crearTransfCorresponsal" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="DEBIT_ACCOUNT" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CREDIT_ACCOUNT" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CURRENCY" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TRANSFER_AMOUNT" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DEBIT_CREDIT" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DESCRIPTION" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TRANSFER_DETAILS" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="INTERFACE_REFERENCE_NO" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="FINANCIAL_SECTOR_CATEGORY" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="FINANCIAL_SECTOR_SUBCATEGORY" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_UID" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TYPETRANS" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            
            <element name="REGISTRATION_DATE" type="date" db:index="13" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PV_SOURCE_COUNTRY" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="SOURCE_ACCOUNT" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="SOURCE_CURRENCY" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="SOURCE_AMOUNT" type="decimal" db:index="17" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="SOURCE_ACCOUNT_NAME" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESTINATION_COUNTRY" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DESTINATION_ACCOUNT" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DESTINATION_CURRENCY" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DESTINATION_AMOUNT" type="decimal" db:index="22" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="DESTINATION_ACCOUNT_NAME" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="SOURCE_EXCHANGE_RATE" type="decimal" db:index="24" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="DESTINATION_EXCHANGE_RATE" type="decimal" db:index="25" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="SOURCE_REFERENCE" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DESTINATION_REFERENCE" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>           
            <element name="TRANSACTION_ID" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            
         </sequence>
      </complexType>
   </element>
</schema>