Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/DEBITCARD/consultaReordenListado/xsd/consultaReordenListado_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaReordenListado" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaReordenListado" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_FILTER_TYPE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FILTER_VALUE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_REORDER_DETAILS" type="db:DEBICARD.T_REORDER_DETAILS" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_COMMENTARY" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_CODE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_MESSAGE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DEBICARD.T_REORDER_DETAILS">
      <sequence>
         <element name="PT_REORDER_DETAILS_ITEM" type="db:DEBICARD.OT_REORDER_ITEM" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DEBICARD.OT_REORDER_ITEM">
      <sequence>
         <element name="BIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRODUCT_TYPE" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BRANCH_CODE" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BRANCH_NAME" type="db:string300" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MIN_LEVEL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CURRENT_LEVEL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MODIFICATION_DATE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INPUTTER_USER" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MODIFIER_USER" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COMMENTARY" type="db:string500" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STATUS" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string60">
      <restriction base="string">
         <maxLength value="60"/>
      </restriction>
   </simpleType>
   <simpleType name="string300">
      <restriction base="string">
         <maxLength value="300"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string500">
      <restriction base="string">
         <maxLength value="500"/>
      </restriction>
   </simpleType>
</schema>