Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/Fiscan/xsd/cobiscorp.ecobis.srvaplcobisentitiesfinscan.dto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" targetNamespace="http://dto.srvaplcobisentitiesfinscan.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:dto="http://dto.srvaplcobisentitiesfinscan.ecobis.cobiscorp" xmlns:dto2="http://dto2.sdf.cts.cobis.cobiscorp.com">
  <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/>
  <simpleType name="char">
    <restriction base="string">
      <length value="1"/>
    </restriction>
  </simpleType>
  <complexType name="ContextoRespuesta">
    <sequence>
      <element name="identificadorTransaccion" type="string" minOccurs="0"/>
      <element name="fecTransaccion" type="dateTime" minOccurs="1"/>
      <element name="codTipoRespuesta" type="string" minOccurs="0"/>
      <element name="valDescripcionRespuesta" type="string" minOccurs="0"/>
      <element name="ipConsumidor" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="LSTServicesLookupRequest">
    <sequence>
      <element name="applicationId" type="string" minOccurs="0"/>
      <element name="listId" type="string" minOccurs="0"/>
      <element name="listName" type="string" minOccurs="0"/>
      <element name="categoryName" type="string" minOccurs="0"/>
      <element name="isSelected" type="string" minOccurs="0"/>
      <element name="isMandatory" type="string" minOccurs="0"/>
      <element name="searchType" type="string" minOccurs="0"/>
      <element name="clientStatus" type="string" minOccurs="0"/>
      <element name="gender" type="string" minOccurs="0"/>
      <element name="clientId1" type="string" minOccurs="0"/>
      <element name="nameLine1" type="string" minOccurs="0"/>
      <element name="clientId2" type="string" minOccurs="0"/>
      <element name="nameLine2" type="string" minOccurs="0"/>
      <element name="clientId3" type="string" minOccurs="0"/>
      <element name="nameLine3" type="string" minOccurs="0"/>
      <element name="clientId4" type="string" minOccurs="0"/>
      <element name="nameLine4" type="string" minOccurs="0"/>
      <element name="clientId5" type="string" minOccurs="0"/>
      <element name="nameLine5" type="string" minOccurs="0"/>
      <element name="clientId6" type="string" minOccurs="0"/>
      <element name="nameLine6" type="string" minOccurs="0"/>
      <element name="clientId7" type="string" minOccurs="0"/>
      <element name="nameLine7" type="string" minOccurs="0"/>
      <element name="clientId8" type="string" minOccurs="0"/>
      <element name="nameLine8" type="string" minOccurs="0"/>
      <element name="alternateNames" type="string" minOccurs="0"/>
      <element name="addressLine1" type="string" minOccurs="0"/>
      <element name="clientSearchCode" type="string" minOccurs="0"/>
      <element name="returnComplianceRecords" type="string" minOccurs="0"/>
      <element name="addClient" type="string" minOccurs="0"/>
      <element name="sendToReview" type="string" minOccurs="0"/>
      <element name="userFieldsSearch" type="string" minOccurs="0"/>
      <element name="updateUserFields" type="string" minOccurs="0"/>
      <element name="userField1Label" type="string" minOccurs="0"/>
      <element name="userField1Value" type="string" minOccurs="0"/>
      <element name="returnCategory" type="string" minOccurs="0"/>
      <element name="returnSourceLists" type="string" minOccurs="0"/>
      <element name="generateclientId" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="OpClientFSRequest">
    <sequence>
      <element name="clientId" type="string" minOccurs="0"/>
      <element name="listId" type="string" minOccurs="0"/>
      <element name="listName" type="string" minOccurs="0"/>
      <element name="categoryName" type="string" minOccurs="0"/>
      <element name="isSelected" type="string" minOccurs="0"/>
      <element name="isMandatory" type="string" minOccurs="0"/>
      <element name="searchType" type="string" minOccurs="0"/>
      <element name="gender" type="string" minOccurs="0"/>
      <element name="nameLine" type="string" minOccurs="0"/>
      <element name="clientSearchCode" type="string" minOccurs="0"/>
      <element name="returnComplianceRecords" type="string" minOccurs="0"/>
      <element name="addClient" type="string" minOccurs="0"/>
      <element name="sendToReview" type="string" minOccurs="0"/>
      <element name="userFieldsSearch" type="string" minOccurs="0"/>
      <element name="updateUserFields" type="string" minOccurs="0"/>
      <element name="userField1Label" type="string" minOccurs="0"/>
      <element name="userField1Value" type="string" minOccurs="0"/>
      <element name="userField2Label" type="string" minOccurs="0"/>
      <element name="userField2Value" type="string" minOccurs="0"/>
      <element name="userField3Label" type="string" minOccurs="0"/>
      <element name="userField3Value" type="string" minOccurs="0"/>
      <element name="returnCategory" type="string" minOccurs="0"/>
      <element name="returnSourceLists" type="string" minOccurs="0"/>
      <element name="generateclientId" type="string" minOccurs="0"/>
      <element name="clientStatus" type="string" minOccurs="0"/>
      <element name="customStatus" type="string" minOccurs="0"/>
      <element name="applicationId" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="OpClientFSResponse">
    <complexContent>
      <extension base="dto2:CTSServiceResponseTO">
        <sequence>
          <element name="status" type="string" minOccurs="0"/>
          <element name="clientId" type="string" minOccurs="0"/>
          <element name="numError" type="int" minOccurs="0"/>
          <element name="descError" type="string" minOccurs="0"/>
          <element name="resultsCount" type="string" minOccurs="0"/>
          <element name="contextoRespuesta" type="dto:ContextoRespuesta" minOccurs="1"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OpClientStatusRequest">
    <sequence>
      <element name="clientId" type="string" minOccurs="0"/>
      <element name="customStatus" type="string" minOccurs="0"/>
      <element name="applicationId" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="SLLookupMultiResponse">
    <complexContent>
      <extension base="dto2:CTSServiceResponseTO">
        <sequence>
          <element name="clientId1" type="string" minOccurs="0"/>
          <element name="status1" type="string" minOccurs="0"/>
          <element name="resultsCount1" type="string" minOccurs="0"/>
          <element name="clientId2" type="string" minOccurs="0"/>
          <element name="status2" type="string" minOccurs="0"/>
          <element name="resultsCount2" type="string" minOccurs="0"/>
          <element name="clientId3" type="string" minOccurs="0"/>
          <element name="status3" type="string" minOccurs="0"/>
          <element name="resultsCount3" type="string" minOccurs="0"/>
          <element name="clientId4" type="string" minOccurs="0"/>
          <element name="status4" type="string" minOccurs="0"/>
          <element name="resultsCount4" type="string" minOccurs="0"/>
          <element name="clientId5" type="string" minOccurs="0"/>
          <element name="status5" type="string" minOccurs="0"/>
          <element name="resultsCount5" type="string" minOccurs="0"/>
          <element name="clientId6" type="string" minOccurs="0"/>
          <element name="status6" type="string" minOccurs="0"/>
          <element name="resultsCount6" type="string" minOccurs="0"/>
          <element name="clientId7" type="string" minOccurs="0"/>
          <element name="status7" type="string" minOccurs="0"/>
          <element name="resultsCount7" type="string" minOccurs="0"/>
          <element name="clientId8" type="string" minOccurs="0"/>
          <element name="status8" type="string" minOccurs="0"/>
          <element name="resultsCount8" type="string" minOccurs="0"/>
          <element name="numError" type="int" minOccurs="0"/>
          <element name="descError" type="string" minOccurs="0"/>
          <element name="contextoRespuesta" type="dto:ContextoRespuesta" minOccurs="1"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>