Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CBSNI/consultaTasaCambio/xsd/consultarTasaCambio_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarTasaCambio" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarTasaCambio" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="i_canal" type="int" db:index="1" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_SOURCE_CURRENCY" type="int" db:index="2" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_TARGET_CURRENCY" type="int" db:index="3" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_indicador" type="short" db:index="4" db:type="SMALLINT" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="RETURN_VALUE" type="int" db:index="0" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_REFERENCE_DATE" type="dateTime" db:index="5" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="o_BUY_RATE" type="double" db:index="6" db:type="FLOAT" minOccurs="0" nillable="true"/>
            <element name="o_SELL_RATE" type="double" db:index="7" db:type="FLOAT" minOccurs="0" nillable="true"/>
            <element name="o_num_error" type="int" db:index="8" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_desc_error" type="db:string100" db:index="9" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>