Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaDGI/xsd/consultaDGITypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDGITypes"
	xmlns:dnh="http://www.ficohsa.com.hn/middleware.services/consultaDGITypes">
    
     <!--TYPES: consultaDGI -->

  <!-- StringType -->
  <xs:simpleType name="stringMinLength1">
     <xs:restriction base="xs:string">
        <xs:minLength value="1" />
     </xs:restriction>
  </xs:simpleType>
    
    
	<xs:element name="consultaDGI">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RUC" type="dnh:stringMinLength1" minOccurs="1"/>
				<xs:element name="BILL_NUMBER" type="dnh:stringMinLength1" minOccurs="1"/>		
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaDGIResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="DUE_DATE" type="xs:date" minOccurs="0"/>
				<xs:element name="TAX_VALUE" type="xs:decimal" minOccurs="0"/>
				<xs:element name="EXCH_RATE_FEE" type="xs:decimal" minOccurs="0"/>
				<xs:element name="LATE_FEE" type="xs:decimal" minOccurs="0"/>		
				<xs:element name="PENALTY_FEE" type="xs:decimal" minOccurs="0"/>	
				<xs:element name="BILL_AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="ACCOUNT_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="TAX_DESCRIPTION" type="xs:string" minOccurs="0"/>			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>