Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaProductosFinancieros/wsdl/consultaProductosFinancierosPS.wsdl

<wsdl:definitions name="consultaProductosFinancierosPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosPS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosTypes">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosTypes" schemaLocation="../xsd/consultaProductosFinancierosTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="consultaProductosFinancierosRequest">
		<wsdl:part element="tns:consultaProductosFinancieros" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="consultaProductosFinancierosResponse">
		<wsdl:part element="tns:consultaProductosFinancierosResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="consultaProductosFinancierosPS">
		<wsdl:operation name="consultaProductosFinancieros" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:consultaProductosFinancierosRequest"/>
			<wsdl:output message="op:consultaProductosFinancierosResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="consultaProductosFinancierosPSSOAP" type="op:consultaProductosFinancierosPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaProductosFinancieros">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="consultaProductosFinancierosPS">
		<wsdl:port binding="op:consultaProductosFinancierosPSSOAP" name="consultaProductosFinancierosPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/consultaProductosFinancieros/"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>