Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingPA/RequestorServices/v1.0/GetAmortizationPlan/WSDL/GetAmortizationPlan_PS.wsdl

<wsdl:definitions name="GetLoanDetails_PS" targetNamespace="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS" xmlns:tns="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamo" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="GetLoanDetails_PS">
        <plnk:role name="GetLoanDetails_PSProvider" portType="tns:GetLoanDetails_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamo" schemaLocation="../../../../../MWBanking/Loans/RequestorServices/XSD/getLoanDetails.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/Dynamo/MWBanking/GetLoanDetails_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getLoanDetails_params">
                <complexType>
                    <sequence>
                        <element name="loanId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="amortizationSchedule_inputMessage">
        <wsdl:part name="request" element="inp1:amortizationScheduleRequest"/>
    </wsdl:message>
    <wsdl:message name="amortizationSchedule_outputMessage">
        <wsdl:part name="reply" element="inp1:amortizationScheduleResponse"/>
    </wsdl:message>
    <wsdl:portType name="GetLoanDetails_PS_ptt">
        <wsdl:operation name="amortizationSchedule">
            <wsdl:input message="tns:amortizationSchedule_inputMessage"/>
            <wsdl:output message="tns:amortizationSchedule_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetLoanDetails_PS_ptt-binding" type="tns:GetLoanDetails_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="amortizationSchedule">
            <soap:operation soapAction="amortizationSchedule"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>