Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OriginacionesGT/xsd/BLAZE_BOM_SALIDA_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/BLAZE_BOM_SALIDA" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/BLAZE_BOM_SALIDA" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="pv_NumeroEvaluacion" type="db:string20" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="pv_identidad" type="db:string20" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="pv_var1" type="int" db:index="3" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var2" type="int" db:index="4" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var3" type="int" db:index="5" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var4" type="int" db:index="6" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var5" type="int" db:index="7" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var6" type="int" db:index="8" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var7" type="int" db:index="9" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var8" type="int" db:index="10" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var9" type="int" db:index="11" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var10" type="int" db:index="12" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var11" type="int" db:index="13" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var12" type="int" db:index="14" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var13" type="int" db:index="15" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var14" type="int" db:index="16" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_var15" type="int" db:index="17" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_flagSirc" type="int" db:index="18" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_flagNoHit" type="int" db:index="19" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_flagHitSinRefs" type="int" db:index="20" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_ScoreHit" type="int" db:index="21" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_ScoreNoHit" type="int" db:index="22" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_tipoReferenciaValida" type="db:string15" db:index="23" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="pv_EntidadReferenciaValida" type="db:string20" db:index="24" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="pv_calificacion_riesgo" type="db:string4" db:index="25" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="pv_antiguedadReferenciaValida" type="int" db:index="26" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_montoMaximaBanca" type="float" db:index="27" db:type="REAL" minOccurs="0" nillable="true"/>
            <element name="pv_montoMaximoComercio" type="float" db:index="28" db:type="REAL" minOccurs="0" nillable="true"/>
            <element name="pv_LimiteMaxTarjeta" type="float" db:index="29" db:type="REAL" minOccurs="0" nillable="true"/>
            <element name="pv_limiteAsignado" type="float" db:index="30" db:type="REAL" minOccurs="0" nillable="true"/>
            <element name="pv_productoSugerido" type="db:string10" db:index="31" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="pv_CodigoResultado" type="db:string20" db:index="32" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="pv_tasaPtmoFidu" type="float" db:index="33" db:type="REAL" minOccurs="0" nillable="true"/>
            <element name="pv_montoPtmoFidu" type="float" db:index="34" db:type="REAL" minOccurs="0" nillable="true"/>
            <element name="pv_codigo_resultado" type="int" db:index="35" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_desc_resultado" type="db:string15" db:index="36" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="pv_codigo_resultado" type="int" db:index="35" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_desc_resultado" type="db:string15" db:index="36" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
</schema>
