Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OriginacionesGT/xsd/BLAZE_BOM_ENTRADA_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/BLAZE_BOM_ENTRADA" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/BLAZE_BOM_ENTRADA" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="pv_NumeroEvaluacion" type="db:string20" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="pv_identidad" type="db:string20" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="pv_fecha_nacimiento" type="dateTime" db:index="3" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="pv_fecha_aplicacion" type="dateTime" db:index="4" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="pv_ingresosMensuales" type="float" db:index="5" db:type="REAL" minOccurs="0" nillable="true"/>
            <element name="pv_sexo" type="int" db:index="6" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_tiempoResidenciaMeses" type="int" db:index="7" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_TipoVivienda" type="int" db:index="8" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_RechazoSIRC" type="int" db:index="9" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_flagSirc" type="int" db:index="10" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_BuroScore" type="int" db:index="11" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_tipo_cambio" type="float" db:index="12" db:type="REAL" minOccurs="0" nillable="true"/>
            <element name="pv_codigo_resultado" type="int" db:index="13" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_desc_resultado" type="db:string25" db:index="14" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="pv_codigo_resultado" type="int" db:index="13" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="pv_desc_resultado" type="db:string25" db:index="14" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
</schema>
