Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/OSB/ConsultaMovimientosRecientesTC_v3/wsdl/ConsultaMovimientosRecientesTC_v3.wsdl

<WL5G3N0:definitions name="consultaMovimientosRecientesTCPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cmr="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_-1412596898.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cmr="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCTypes" schemaLocation="../xsd/XMLSchema_-278965531.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaMovimientosRecientesRequest">
    <WL5G3N0:part element="WL5G3N2:consultaMovimientosRecientesTC" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaMovimientosRecientesResponse">
    <WL5G3N0:part element="WL5G3N2:consultaMovimientosRecientesTCReponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="consultaMovimientosRecientesTCPS">
    <WL5G3N0:operation name="consultaMovimientosRecientes" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaMovimientosRecientesRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaMovimientosRecientesResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="consultaMovimientosRecientesTCPSSOAP" type="WL5G3N3:consultaMovimientosRecientesTCPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="consultaMovimientosRecientes">
      <WL5G3N4:operation soapAction="http://www.example.org/consultaMovimientosRecientesTCPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="consultaMovimientosRecientesTCPS">
    <WL5G3N0:port binding="WL5G3N3:consultaMovimientosRecientesTCPSSOAP" name="consultaMovimientosRecientesTCPSSOAP">
      <WL5G3N4:address location="http://EMUNOZ.CIDENET.LOCAL:7001/Middleware/OperationsAndExecution/Cards/ConsultaMovimientosRecientesTC_v3"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>