Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/Ficopen/Resource/ConsultaFICOPEN/xsd/FICOPEN_OSB_K_CONSULTAFICOPEN_TOPLEVEL-24OSB_CON_FICOPEN.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/FICOPEN/OSB_K_CONSULTAFICOPEN/TOPLEVEL-24OSB_CON_FICOPEN/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/FICOPEN/OSB_K_CONSULTAFICOPEN/TOPLEVEL-24OSB_CON_FICOPEN/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="INVESTMENT_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="START_DATE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="END_DATE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CUSTOMER_LEGAL_ID" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CUSTOMER_NAME" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ACCOUNT_NUMBER" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ACCOUNT_CURRENCY" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CONTRACT_NUMBER" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CONTRACT_TYPE" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="COMPANY" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="START_DATE_RESP" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TOTAL_CURRENT_BALANCE" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="BALANCE_TYPE" type="db:FICOPEN.TOPLEVEL_TVARCHAR40" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BALANCE_TYPE_CODE" type="db:FICOPEN.TOPLEVEL_TVARCHAR20" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PREVIOUS_BALANCE" type="db:FICOPEN.TOPLEVEL_TVARCHAR20" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="GROSS_CONTRIBUTIONS_AMOUNT" type="db:FICOPEN.TOPLEVEL_TVARCHAR20" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="INTEREST_AMOUNT" type="db:FICOPEN.TOPLEVEL_TVARCHAR20" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="WITHDRAWALS_AMOUNT" type="db:FICOPEN.TOPLEVEL_TVARCHAR20" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="FEE_AMOUNT" type="db:FICOPEN.TOPLEVEL_TVARCHAR20" db:index="19" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="INSURANCE_AMOUNT" type="db:FICOPEN.TOPLEVEL_TVARCHAR20" db:index="20" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CURRENT_BALANCE" type="db:FICOPEN.TOPLEVEL_TVARCHAR20" db:index="21" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="FICOPEN.TOPLEVEL_TVARCHAR20">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="FICOPEN.TOPLEVEL_TVARCHAR40">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="40"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>