Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/OperacionesACH/wsdl/operacionesACHPS.wsdl

<wsdl:definitions targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesACH/" name="operacionesACHPS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/operacionesACH/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:pro="http://www.ficohsa.com.hn/middleware.services/operacionesACHTypes">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/operacionesACHTypes" schemaLocation="../xsd/operacionesACHTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="registraParametrizacionRequest">
		<wsdl:part element="pro:registraParametrizacion" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="registraParametrizacionResponse">
		<wsdl:part element="pro:registraParametrizacionResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>	
			
	<wsdl:message name="reversarOperacionesACHRequest">
		<wsdl:part element="pro:reversarOperacionesACH" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="reversarOperacionesACHResponse">
		<wsdl:part element="pro:reversarOperacionesACHResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>		
	<wsdl:message name="creaTransaccionBancariaRequest">
		<wsdl:part element="pro:creaTransaccionBancaria" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="creaTransaccionBancariaResponse">
		<wsdl:part element="pro:creaTransaccionBancariaResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>	
    <wsdl:message name="consultaEstadoTransaccionRequest">
		<wsdl:part element="pro:consultaEstadoTransaccion" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaEstadoTransaccionResponse">
		<wsdl:part element="pro:consultaEstadoTransaccionResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	<wsdl:message name="registraPagoPrestamoRequest">
		<wsdl:part element="pro:registraPagoPrestamo" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="registraPagoPrestamoResponse">
		<wsdl:part element="pro:registraPagoPrestamoResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	<wsdl:message name="registraTransaccionLBTRRequest">
		<wsdl:part element="pro:registraTransaccionLBTR" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="registraTransaccionLBTRResponse">
		<wsdl:part element="pro:registraTransaccionLBTRResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	<wsdl:message name="registraPagoTCRequest">
		<wsdl:part element="pro:registraPagoTC" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="registraPagoTCResponse">
		<wsdl:part element="pro:registraPagoTCResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	<wsdl:portType name="operacionesACHPS">

		<wsdl:operation name="registraParametrizacion" parameterOrder="parameters RequestHeader result ResponseHeader">
			<wsdl:input message="fic:registraParametrizacionRequest"/>
			<wsdl:output message="fic:registraParametrizacionResponse"/>
		</wsdl:operation>	
				
		<wsdl:operation name="reversarOperacionesACH" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:reversarOperacionesACHRequest"/>
			<wsdl:output message="fic:reversarOperacionesACHResponse"/>
		</wsdl:operation>	
		<wsdl:operation name="creaTransaccionBancaria" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:creaTransaccionBancariaRequest"/>
			<wsdl:output message="fic:creaTransaccionBancariaResponse"/>
		</wsdl:operation>
		<wsdl:operation name="consultaEstadoTransaccion" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaEstadoTransaccionRequest"/>
			<wsdl:output message="fic:consultaEstadoTransaccionResponse"/>
		</wsdl:operation>		
		<wsdl:operation name="registraPagoPrestamo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:registraPagoPrestamoRequest"/>
			<wsdl:output message="fic:registraPagoPrestamoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="registraTransaccionLBTR" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:registraTransaccionLBTRRequest"/>
			<wsdl:output message="fic:registraTransaccionLBTRResponse"/>
		</wsdl:operation>
		<wsdl:operation name="registraPagoTC" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:registraPagoTCRequest"/>
			<wsdl:output message="fic:registraPagoTCResponse"/>
		</wsdl:operation>		
    </wsdl:portType>	
	<wsdl:binding name="operacionesACHPSSOAP" type="fic:operacionesACHPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="registraParametrizacion">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesACHPS/operacionesACH"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:registraParametrizacionRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:registraParametrizacionResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	

		<wsdl:operation name="reversarOperacionesACH">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesACHPS/operacionesACH"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:reversarOperacionesACHRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:reversarOperacionesACHResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
        <wsdl:operation name="creaTransaccionBancaria">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesACHPS/operacionesACH"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:creaTransaccionBancariaRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:creaTransaccionBancariaResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="consultaEstadoTransaccion">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesACHPS/operacionesACH"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:consultaEstadoTransaccionRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:consultaEstadoTransaccionResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="registraPagoPrestamo">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesACHPS/operacionesACH"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:registraPagoPrestamoRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:registraPagoPrestamoResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registraTransaccionLBTR">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesACHPS/operacionesACH"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:registraTransaccionLBTRRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:registraTransaccionLBTRResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registraPagoTC">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesACHPS/operacionesACH"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:registraPagoTCRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:registraPagoTCResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>																
	</wsdl:binding>
	<wsdl:service name="operacionesACHPS">
		<wsdl:port binding="fic:operacionesACHPSSOAP" name="operacionesACHPSSOAP">
	  		<soap:address location="http://172.23.13.19:8003/Middleware/SalesAndServices/BrandManagement/operacionesACH"/>
	   	</wsdl:port>
	</wsdl:service>
</wsdl:definitions>