Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/consultaClienteTC/xsd/consultaClientesTC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaClientesTC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaClientesTC" elementFormDefault="qualified">
 <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_PAIS" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SEARCH_CRITERIA" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SEARCH_VALUE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_CLIENTE_TARJETAS" type="db:CLIENTDATA.O_CLIENTE_TARJETAS" db:index="6" db:type="Struct" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CLIENTDATA.O_CLIENTE_TARJETAS">
      <sequence>
         <element name="ORG" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ID" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RESIDENCE_ADDRESS" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="WORK_ADDRESS" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="ALTERN_ADDRESS" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_NAMES" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="BIRTH_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="MARITAL_STATUS" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LEGAL_DOCUMENT_TYPE" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LEGAL_DOCUMENT_NUMBER" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FREQUENT_TRAVELERS_NUMBER" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRAVELERS_STATUS" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MAIN_EMAIL" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ALTERNATE_EMAIL" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NO_OF_DEPENDANTS" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EDUCATION_LEVEL" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GENDER" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROFESSION" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NATIONALITY" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="POSITION" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PEP_INDICATOR" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LEGAL_DOCUMENT_COUNTRY_2" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EMPLOYMENT_YEARS" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EMPLOYMENT_MONTHS" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CLIENT_SEGMENT" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VIP_INDICATOR" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONSUMPTION_SCORE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MAIN_INCOME" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SECONDARY_INCOME" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EXPIRATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="DATE_ISSUE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="COUNTRY_ISSUANCE_PASSAPORT" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_STATUS_INDICATOR" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COUNTRY_2" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      	 <element name="MAILING_LIST" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true" />
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string60">
      <restriction base="string">
         <maxLength value="60"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
</schema>