Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/recaudos/Resources/XMLSchema_-1599652964.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xs:schema version="1.0" targetNamespace="T24WebServicesImpl" xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CalculoCobranzasReferenciadas" type="tns:CalculoCobranzasReferenciadas"/>
  <xs:element name="CalculoCobranzasReferenciadasResponse" type="tns:CalculoCobranzasReferenciadasResponse"/>
  <xs:element name="Consultadedetallederecaudo" type="tns:Consultadedetallederecaudo"/>
  <xs:element name="ConsultadedetallederecaudoResponse" type="tns:ConsultadedetallederecaudoResponse"/>
  <xs:element name="Consultadedetrecaudoamdcmeses" type="tns:Consultadedetrecaudoamdcmeses"/>
  <xs:element name="ConsultadedetrecaudoamdcmesesResponse" type="tns:ConsultadedetrecaudoamdcmesesResponse"/>
  <xs:element name="Consultadedetrecaudoamdcmontos" type="tns:Consultadedetrecaudoamdcmontos"/>
  <xs:element name="ConsultadedetrecaudoamdcmontosResponse" type="tns:ConsultadedetrecaudoamdcmontosResponse"/>
  <xs:element name="Consultadedetrecaudomigracion" type="tns:Consultadedetrecaudomigracion"/>
  <xs:element name="ConsultadedetrecaudomigracionResponse" type="tns:ConsultadedetrecaudomigracionResponse"/>
  <xs:element name="Consultadereciboderecaudo" type="tns:Consultadereciboderecaudo"/>
  <xs:element name="ConsultadereciboderecaudoResponse" type="tns:ConsultadereciboderecaudoResponse"/>
  <xs:element name="Listaderecaudos" type="tns:Listaderecaudos"/>
  <xs:element name="ListaderecaudosResponse" type="tns:ListaderecaudosResponse"/>
  <xs:element name="callOfs" type="tns:callOfs"/>
  <xs:element name="callOfsResponse" type="tns:callOfsResponse"/>
  <xs:complexType name="LATAMAGEDSLIPREPRINTWEBType">
    <xs:sequence>
      <xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
      <xs:element name="gLATAMAGEDSLIPREPRINTWEBDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLATAMAGEDSLIPREPRINTWEBDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="TRANSACTIONID" type="xs:string" minOccurs="0"/>
                  <xs:element name="SERVICEID" type="xs:string" minOccurs="0"/>
                  <xs:element name="PAYMENTCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="REMITTANCEKEY" type="xs:string" minOccurs="0"/>
                  <xs:element name="TRANSACTIONDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="TAGNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="TAGVALUES" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LATAMAGWSPROPMONTHSType">
    <xs:sequence>
      <xs:element name="gLATAMAGWSPROPMONTHSDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLATAMAGWSPROPMONTHSDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="INVOICENO" type="xs:string" minOccurs="0"/>
                  <xs:element name="DUEDATE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NOFILELATAMCALCREFDUEWSType">
    <xs:sequence>
      <xs:element name="gNOFILELATAMCALCREFDUEWSDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mNOFILELATAMCALCREFDUEWSDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="TOTALAMOUNT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LATAMAGWSPROPAMOUNTType">
    <xs:sequence>
      <xs:element name="SERVICEID" type="xs:string" minOccurs="0"/>
      <xs:element name="TAXAMOUNTCCY" type="xs:string" minOccurs="0"/>
      <xs:element name="TOTALTAXAMOUNT" type="xs:string" minOccurs="0"/>
      <xs:element name="CUSTOMERNAME" type="xs:string" minOccurs="0"/>
      <xs:element name="gLATAMAGWSPROPAMOUNTDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLATAMAGWSPROPAMOUNTDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="INVOICENO" type="xs:string" minOccurs="0"/>
                  <xs:element name="DUEDATE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LATAMAGEPPORTAPPOINTMENTType">
    <xs:sequence>
      <xs:element name="gLATAMAGEPPORTAPPOINTMENTDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLATAMAGEPPORTAPPOINTMENTDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="APPOINTMENTNO" type="xs:string" minOccurs="0"/>
                  <xs:element name="APPOINTMENTDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="APPOINTMENTTIME" type="xs:string" minOccurs="0"/>
                  <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="TOTALAMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="PAYCONFIRMATIONNO" type="xs:string" minOccurs="0"/>
                  <xs:element name="PAYMENTCURRENCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="AMOUNTTOPAY" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTOMERNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="NATIONALID" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LATAMAGWSPENDINGBILLSType">
    <xs:sequence>
      <xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
      <xs:element name="gLATAMAGWSPENDINGBILLSDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mLATAMAGWSPENDINGBILLSDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="DEBTORCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="DEBTORNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="SERVICEID" type="xs:string" minOccurs="0"/>
                  <xs:element name="SERVICENAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="BILLNUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="BILLDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="DUEDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="BILLCCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="BILLAMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LATEFEE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="TOTALAMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="EXCHANGERATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSCOLLECTIONSLISTType">
    <xs:sequence>
      <xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
      <xs:element name="gWSCOLLECTIONSLISTDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSCOLLECTIONSLISTDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ID" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
                  <xs:element name="COLLECTIONTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="AGRCLIENTNO" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultadedetallederecaudo">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="LATAMAGWSPENDINGBILLSType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="webRequestCommon">
    <xs:sequence>
      <xs:element name="userName" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="company" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enquiryInput">
    <xs:sequence>
      <xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enquiryInputCollection">
    <xs:sequence>
      <xs:element name="columnName" type="xs:string" minOccurs="0"/>
      <xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
      <xs:element name="operand" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadedetallederecaudoResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="LATAMAGWSPENDINGBILLSType" type="tns:LATAMAGWSPENDINGBILLSType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Listaderecaudos">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSCOLLECTIONSLISTType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaderecaudosResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSCOLLECTIONSLISTType" type="tns:WSCOLLECTIONSLISTType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfs">
    <xs:sequence>
      <xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfsResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultadedetrecaudomigracion">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="LATAMAGEPPORTAPPOINTMENTType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadedetrecaudomigracionResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="LATAMAGEPPORTAPPOINTMENTType" type="tns:LATAMAGEPPORTAPPOINTMENTType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultadedetrecaudoamdcmeses">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="LATAMAGWSPROPMONTHSType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadedetrecaudoamdcmesesResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="LATAMAGWSPROPMONTHSType" type="tns:LATAMAGWSPROPMONTHSType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultadereciboderecaudo">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="LATAMAGEDSLIPREPRINTWEBType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadereciboderecaudoResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="LATAMAGEDSLIPREPRINTWEBType" type="tns:LATAMAGEDSLIPREPRINTWEBType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultadedetrecaudoamdcmontos">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="LATAMAGWSPROPAMOUNTType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadedetrecaudoamdcmontosResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="LATAMAGWSPROPAMOUNTType" type="tns:LATAMAGWSPROPAMOUNTType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CalculoCobranzasReferenciadas">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="NOFILELATAMCALCREFDUEWSType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CalculoCobranzasReferenciadasResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="NOFILELATAMCALCREFDUEWSType" type="tns:NOFILELATAMCALCREFDUEWSType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="successIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="TWSError"/>
      <xs:enumeration value="T24Error"/>
      <xs:enumeration value="T24Override"/>
      <xs:enumeration value="T24Offline"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>