Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/MTR/editorLote/wsdl/editorLoteEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicio.editarlotews.mtrpmsv.cidenet.com.co/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EditorLoteService" targetNamespace="http://servicio.editarlotews.mtrpmsv.cidenet.com.co/">
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://servicio.editarlotews.mtrpmsv.cidenet.com.co/" targetNamespace="http://servicio.editarlotews.mtrpmsv.cidenet.com.co/">
  <xsd:complexType name="cabeceraRespuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleRespuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="descripcionEstado" type="xsd:string"/>
      <xsd:element minOccurs="0" name="estado" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idLote" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaEdicionLote">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cabeceraRespuesta" type="ns0:cabeceraRespuesta"/>
      <xsd:element minOccurs="0" name="detalleRespuesta" type="ns0:detalleRespuesta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="editarEstadoLote">
    <xsd:sequence>
      <xsd:element name="idBancoOrigen" type="xsd:string"/>
      <xsd:element name="idCliente" type="xsd:string"/>
      <xsd:element name="idLote" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="fecha" type="xsd:dateTime"/>
      <xsd:element name="idUsuario" type="xsd:string"/>
      <xsd:element name="estado" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="editarEstadoLoteResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="respuestaEdicionLote" type="ns0:respuestaEdicionLote"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="editarEstadoLote" type="ns0:editarEstadoLote"/>
  <xsd:element name="editarEstadoLoteResponse" type="ns0:editarEstadoLoteResponse"/>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="editarEstadoLote">
        <wsdl:part element="tns:editarEstadoLote" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="editarEstadoLoteResponse">
        <wsdl:part element="tns:editarEstadoLoteResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="EditorLote">
        <wsdl:operation name="editarEstadoLote">
            <wsdl:input message="tns:editarEstadoLote" name="editarEstadoLote"/>
            <wsdl:output message="tns:editarEstadoLoteResponse" name="editarEstadoLoteResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EditorLoteServiceSoapBinding" type="tns:EditorLote">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="editarEstadoLote">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="editarEstadoLote">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="editarEstadoLoteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EditorLoteService">
        <wsdl:port binding="tns:EditorLoteServiceSoapBinding" name="EditorLotePort">
            <soap:address location="http://172.23.12.126:7003/EditarLotePmsWS/services/editorLoteEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>