Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/GestionPuntosTarjetas_v2/wsdl/GestionPuntosTarjetas_v2.wsdl

<WL5G3N0:definitions name="gestionPuntosTarjetasPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_944551462.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasTypes" schemaLocation="../xsd/XMLSchema_442526006.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="agregarFactorCanjeRequest">
    <WL5G3N0:part element="WL5G3N2:agregarFactorCanje" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="agregarFactorCanjeResponse">
    <WL5G3N0:part element="WL5G3N2:agregarFactorCanjeResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="eliminarFactorCanjeRequest">
    <WL5G3N0:part element="WL5G3N2:eliminarFactorCanje" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="eliminarFactorCanjeResponse">
    <WL5G3N0:part element="WL5G3N2:eliminarFactorCanjeResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="gestionPuntosTarjetasPS">
    <WL5G3N0:operation name="agregarFactorCanje" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:agregarFactorCanjeRequest"/>
      <WL5G3N0:output message="WL5G3N3:agregarFactorCanjeResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="eliminarFactorCanje" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:eliminarFactorCanjeRequest"/>
      <WL5G3N0:output message="WL5G3N3:eliminarFactorCanjeResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="gestionPuntosTarjetasPSSOAP" type="WL5G3N3:gestionPuntosTarjetasPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="agregarFactorCanje">
      <WL5G3N4:operation soapAction="http://www.example.org/gestionPuntosTarjetasPS/agregarFactorCanje"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="eliminarFactorCanje">
      <WL5G3N4:operation soapAction="http://www.example.org/gestionPuntosTarjetasPS/eliminarFactorCanje"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="gestionPuntosTarjetasPS">
    <WL5G3N0:port binding="WL5G3N3:gestionPuntosTarjetasPSSOAP" name="gestionPuntosTarjetasPSSOAP">
      <WL5G3N4:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/GestionPuntosTarjetas"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>