Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaInfoTarjetasPorCliente/xsd/consultaInfoTarjetasPorClienteTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaInfoTarjetasPorClienteTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaInfoTarjetasPorClienteTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!--############################################ -->
	<!-- OPERATION: consultaInfoTarjetasPorCliente -->
	<!--############################################ -->

	<xs:element name="consultaInfoTarjetasPorCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID_TYPE" type="xs:string" />
				<xs:element name="CUSTOMER_ID_VALUE" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="consultaInfoTarjetasPorClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" />
				<xs:element name="ACCOUNT_INFO" minOccurs="0" maxOccurs="unbounded"
					form="qualified">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
							<xs:element name="CARD_INFO" minOccurs="0" maxOccurs="unbounded"
								form="qualified">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CARD_NUMBER" type="xs:string"
											minOccurs="0" />
										<xs:element name="CARD_HOLDER_NAME" type="xs:string"
											minOccurs="0" />
										<xs:element name="CARD_TYPE_CODE" type="xs:integer"
											minOccurs="0" />
										<xs:element name="CARD_TYPE_DESCRIPTION" type="xs:string"
											minOccurs="0" />
										<xs:element name="LOGO" type="xs:integer"
											minOccurs="0" />
										<xs:element name="PRODUCT_TYPE_DESCRIPTION" type="xs:string"
											minOccurs="0" />
										<xs:element name="CARD_STATUS_CODE" type="xs:integer"
											minOccurs="0" />
										<xs:element name="CARD_STATUS_DESCRIPTION" type="xs:string"
											minOccurs="0" />
										<xs:element name="BLOCK_CODE_1" type="xs:string"
											minOccurs="0" />
										<xs:element name="BLOCK_CODE_2" type="xs:string"
											minOccurs="0" />
										<xs:element name="CUTOFF_DATE" type="xs:string"
											minOccurs="0" />
										<xs:element name="BALANCE_INFO" minOccurs="0"
											maxOccurs="unbounded" form="qualified">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ORG" type="xs:integer"
														minOccurs="0" />
													<xs:element name="ORG_TYPE" type="xs:string"
														minOccurs="0" />
													<xs:element name="CURRENCY" type="xs:string"
														minOccurs="0" />
													<xs:element name="CREDIT_LIMIT" type="xs:decimal"
														minOccurs="0" />
													<xs:element name="CURRENT_BALANCE" type="xs:decimal"
														minOccurs="0" />
													<xs:element name="CUTOFF_BALANCE" type="xs:decimal"
														minOccurs="0" />
													<xs:element name="PURCHASE_AVAILABLE_AMOUNT"
														type="xs:decimal" minOccurs="0" />
													<xs:element name="AVAILABLE_WITHDRAWAL" type="xs:decimal"
														minOccurs="0" />
													<xs:element name="MIN_PAYMENT" type="xs:decimal"
														minOccurs="0" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>