Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/CTS/tarjetaCredito/wsdl/COBISCorp.eCOBIS.SrvAplCobisTarjetaCreditoV3.Service.wsdl

<wsdl:definitions name="SrvAplCobisTarjetaCreditoV3" targetNamespace="http://impl.service.srvaplcobistarjetacreditov3.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.srvaplcobistarjetacreditov3.ecobis.cobiscorp" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:S1="http://impl.service.srvaplcobistarjetacreditov3.ecobis.cobiscorp/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.srvaplcobistarjetacreditov3.ecobis.cobiscorp/"><xsd:import namespace="http://service.srvaplcobistarjetacreditov3.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsjOpConsultaMaestraSaldosTarjetaCreditoRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaMaestraSaldosTarjetaCreditoRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpPagoTarjetaCreditoRespuesta">
    <wsdl:part name="parameters" element="tns:opPagoTarjetaCreditoRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaMaestraSaldosTarjetaCreditoSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaMaestraSaldosTarjetaCreditoSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpPagoTarjetaCreditoSolicitud">
    <wsdl:part name="parameters" element="tns:opPagoTarjetaCreditoSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SrvAplCobisTarjetaCreditoV3">
    <wsdl:operation name="OpConsultaMaestraSaldosTarjetaCredito">
      <wsdl:input message="S1:MsjOpConsultaMaestraSaldosTarjetaCreditoSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpConsultaMaestraSaldosTarjetaCreditoRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpPagoTarjetaCredito">
      <wsdl:input message="S1:MsjOpPagoTarjetaCreditoSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpPagoTarjetaCreditoRespuesta">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvAplCobisTarjetaCreditoV3BindingSOAP12" type="S1:SrvAplCobisTarjetaCreditoV3">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpConsultaMaestraSaldosTarjetaCredito">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpPagoTarjetaCredito">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvAplCobisTarjetaCreditoV3Service">
    <wsdl:port name="SrvAplCobisTarjetaCreditoV3BindingSOAP12" binding="S1:SrvAplCobisTarjetaCreditoV3BindingSOAP12">
      <soap12:address location="http://10.235.53.149:9082/GerenciaProductoTC/V3/SrvAplCobisTarjetaCreditoV3Service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>