Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SALESFORCE/creaGestionGenerica/wsdl/creaGestionGenerica.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:output="http://soap.sforce.com/schemas/class/ws_gestiones_types" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:shrq0="http://xmlns.oracle.com/types/WS_Gestiones_Cloud/1636133368959/InboundSOAPRequestDocument" xmlns:shrs0="http://xmlns.oracle.com/types/WS_Gestiones_Cloud/1636133368959/InboundSOAPResponseDocument" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/ws_gestiones" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.sforce.com/schemas/class/ws_gestiones">
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wss_http_token_or_jwt_token_service_policy">
    <wsp:ExactlyOne>
      <wsp:All/>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <osp:HttpToken xmlns:osp="http://schemas.oracle.com/ws/2012/01/wssecuritypolicy">
                  <wsp:Policy>
                    <osp:HttpJwtAuthentication/>
                  </wsp:Policy>
                </osp:HttpToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/ws_gestiones_types">
      <xsd:complexType name="output">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="error" nillable="true" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="recordId" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="recordName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="stacktrace" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="successIndicator" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/ws_gestiones">
      <xsd:import namespace="http://soap.sforce.com/schemas/class/ws_gestiones_types"/>
      <xsd:element name="AllowFieldTruncationHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CallOptions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="client" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DebuggingHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="categories" type="tns:LogInfo"/>
            <xsd:element name="debugLevel" type="tns:LogType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="LogInfo">
        <xsd:sequence>
          <xsd:element name="category" type="tns:LogCategory"/>
          <xsd:element name="level" type="tns:LogCategoryLevel"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="LogCategory">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Db"/>
          <xsd:enumeration value="Workflow"/>
          <xsd:enumeration value="Validation"/>
          <xsd:enumeration value="Callout"/>
          <xsd:enumeration value="Apex_code"/>
          <xsd:enumeration value="Apex_profiling"/>
          <xsd:enumeration value="Visualforce"/>
          <xsd:enumeration value="System"/>
          <xsd:enumeration value="Wave"/>
          <xsd:enumeration value="Nba"/>
          <xsd:enumeration value="All"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogCategoryLevel">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None"/>
          <xsd:enumeration value="Finest"/>
          <xsd:enumeration value="Finer"/>
          <xsd:enumeration value="Fine"/>
          <xsd:enumeration value="Debug"/>
          <xsd:enumeration value="Info"/>
          <xsd:enumeration value="Warn"/>
          <xsd:enumeration value="Error"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None"/>
          <xsd:enumeration value="Debugonly"/>
          <xsd:enumeration value="Db"/>
          <xsd:enumeration value="Profiling"/>
          <xsd:enumeration value="Callout"/>
          <xsd:enumeration value="Detail"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="DebuggingInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="debugLog" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SessionHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
          <xsd:length value="18"/>
          <xsd:pattern value="[a-zA-Z0-9]{18}"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="classField">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="key" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="classParameters">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="tns:classField"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="address">
        <xsd:complexContent>
          <xsd:extension base="tns:location">
            <xsd:sequence>
              <xsd:element name="city" type="xsd:string"/>
              <xsd:element name="country" type="xsd:string"/>
              <xsd:element name="countryCode" type="xsd:string"/>
              <xsd:element name="geocodeAccuracy" type="xsd:string"/>
              <xsd:element name="postalCode" type="xsd:string"/>
              <xsd:element name="state" type="xsd:string"/>
              <xsd:element name="stateCode" type="xsd:string"/>
              <xsd:element name="street" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="location">
        <xsd:sequence>
          <xsd:element name="latitude" type="xsd:double"/>
          <xsd:element name="longitude" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ws_gestiones">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="tns:classParameters"/>
            <xsd:element name="country" nillable="true" type="xsd:string"/>
            <xsd:element name="branch" nillable="true" type="xsd:string"/>
            <xsd:element name="type" nillable="true" type="xsd:string"/>
            <xsd:element name="next_step" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ws_gestionesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="output:output"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/types/WS_Gestiones_Cloud/1636133368959/InboundSOAPRequestDocument" xmlns:ns0="http://soap.sforce.com/schemas/class/ws_gestiones" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/WS_Gestiones_Cloud/1636133368959/InboundSOAPRequestDocument">
      <xs:import namespace="http://soap.sforce.com/schemas/class/ws_gestiones"/>
      <xs:element name="InboundSOAPRequestDocument" type="InboundSOAPRequestDocumentType"/>
      <xs:complexType name="InboundSOAPRequestDocumentType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Headers" type="HeadersType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Body" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="SOAPHeaders" type="SOAPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPHeadersType">
        <xs:sequence>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/ws_gestiones" ref="ns1:SessionHeader"/>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/ws_gestiones" ref="ns1:CallOptions"/>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/ws_gestiones" ref="ns1:DebuggingHeader"/>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/ws_gestiones" ref="ns1:AllowFieldTruncationHeader"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/ws_gestiones" ref="ns1:ws_gestiones"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/types/WS_Gestiones_Cloud/1636133368959/InboundSOAPResponseDocument" xmlns:ns0="http://soap.sforce.com/schemas/class/ws_gestiones" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/WS_Gestiones_Cloud/1636133368959/InboundSOAPResponseDocument">
      <xs:import namespace="http://soap.sforce.com/schemas/class/ws_gestiones"/>
      <xs:element name="InboundSOAPResponseDocument" type="InboundSOAPResponseDocumentType"/>
      <xs:complexType name="InboundSOAPResponseDocumentType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Headers" type="HeadersType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Body" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="SOAPHeaders" type="SOAPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPHeadersType">
        <xs:sequence>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/ws_gestiones" ref="ns1:DebuggingInfo"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element xmlns:ns1="http://soap.sforce.com/schemas/class/ws_gestiones" ref="ns1:ws_gestionesResponse"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tracking_property" type="TrackingPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="insight_property" type="InsightPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="ws_gestionesRequest">
    <part name="parameters" element="tns:ws_gestiones"/>
  </message>
  <message name="ws_gestionesResponse">
    <part name="parameters" element="tns:ws_gestionesResponse"/>
  </message>
  <message name="Header">
    <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
    <part name="CallOptions" element="tns:CallOptions"/>
    <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
    <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
    <part name="SessionHeader" element="tns:SessionHeader"/>
  </message>
  <portType name="ws_gestionesPortType_WS_Gestiones_Cloud_REQUEST">
    <operation name="ws_gestiones">
      <input message="tns:ws_gestionesRequest"/>
      <output message="tns:ws_gestionesResponse"/>
    </operation>
  </portType>
  <binding name="ws_gestionesPortType_WS_Gestiones_Cloud_REQUEST_binding" type="tns:ws_gestionesPortType_WS_Gestiones_Cloud_REQUEST">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wss_http_token_or_jwt_token_service_policy" wsdl:required="false"/>
    <operation name="ws_gestiones">
      <soap:operation soapAction="ws_gestiones"/>
      <input>
        <soap:header message="tns:Header" part="SessionHeader" use="literal" encodingStyle=""/>
        <soap:header message="tns:Header" part="AllowFieldTruncationHeader" use="literal" encodingStyle=""/>
        <soap:header message="tns:Header" part="CallOptions" use="literal" encodingStyle=""/>
        <soap:header message="tns:Header" part="DebuggingHeader" use="literal" encodingStyle=""/>
        <soap:body use="literal" parts="parameters"/>
      </input>
      <output>
        <soap:header message="tns:Header" part="DebuggingInfo" use="literal" encodingStyle=""/>
        <soap:body use="literal" parts="parameters"/>
      </output>
    </operation>
  </binding>
  <service name="ws_gestionesPortType_WS_Gestiones_Cloud_REQUEST">
    <port name="ws_gestionesPortType_WS_Gestiones_Cloud_REQUEST_pt" binding="tns:ws_gestionesPortType_WS_Gestiones_Cloud_REQUEST_binding">
      <soap:address location="https://OICDEV-ficocloud.integration.ocp.oraclecloud.com:443/ic/ws/integration/v1/flows/soap/WS_GESTIONES/1.0/"/>
    </port>
  </service>
</definitions>