Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaPEP/wsdl/consultaPEPPS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="consultaPEPPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaPEPPS/" xmlns:cpep="http://www.ficohsa.com.hn/middleware.services/consultaPEPPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaListasRegulatoriasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:types>
    <xsd:schema >
        <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
    </xsd:schema>
    <xsd:schema >
        <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaListasRegulatoriasTypes" schemaLocation="../../ConsultaListasRegulatorias/xsd/consultaListasRegulatoriasTypes.xsd"/>
    </xsd:schema>    
  </wsdl:types>

  <wsdl:message name="requestHeader">
	<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
  </wsdl:message>

  <wsdl:message name="responseHeader">
	<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
  </wsdl:message>

  <wsdl:message name="consultaPEPRequest">
	<wsdl:part element="tns:consultaPEP" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="consultaPEPResponse">
	<wsdl:part element="tns:consultaPEPResponse" name="result"/>
  </wsdl:message>  

  <wsdl:portType name="consultaPEPPS">
    <wsdl:operation name="consultaPEP" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="cpep:consultaPEPRequest"/>
      <wsdl:output message="cpep:consultaPEPResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="consultaPEPPSSOAP" type="cpep:consultaPEPPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultaPEP">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaPEPPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="cpep:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="cpep:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="consultaPEPPS">
    <wsdl:port binding="cpep:consultaPEPPSSOAP" name="consultaPEPPSSOAP">
      <soap:address location="http://172.23.13.19:8003//Middleware/RiskAndCompliance/RegulationsAndCompliance/consultaPEP/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>