Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaCuentasBancaSat/xsd/consultaCuentasBSatTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCuentasBSatTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaCuentasBSatTypes">

	<xs:element name="consultaCuentasBSatRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USER_ID" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SESSION_TOKEN" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaCuentasBSatResponse" type="cons:consultaCuentasBSatResponseType" />

	<xs:complexType name="consultaCuentasBSatResponseType">
		<xs:sequence>
			<xs:element name="consultaCuentasBSatAhorrosResponseType"
				type="cons:consultaCuentasBSatResponseRecordType" form="qualified"
				minOccurs="0" />
			<xs:element name="consultaCuentasBSatCorrienteResponseType"
				type="cons:consultaCuentasBSatResponseRecordType" form="qualified"
				minOccurs="0" />
		     <xs:element name="consultaTarjetasCreditoBSatResponseType"
				type="cons:consultaTarjetaBSatResponseRecordType" form="qualified"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaCuentasBSatResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaCuentasBSatResponseRecordType"
				type="cons:consultaCuentasBSatResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaTarjetaBSatResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaTarjetaBSatResponseRecordType"
				type="cons:consultaTarjetaBSatResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaTarjetaBSatResponseArrayType">
		<xs:sequence>
			<xs:element name="LIABILITY_NUMBER" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaCuentasBSatResponseArrayType">
		<xs:sequence>
			<xs:element name="ASSET_NUMBER" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>