Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaMaestraInfoTransaccionesTC/xsd/consultaMaestraInfoTransaccionesTCTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMaestraInfoTransaccionesTCTypes"
           xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaMaestraInfoTransaccionesTCTypes"
           >

  <!-- REQUEST -->
  <xs:element name="consultaMaestraInfoTransaccionesTC">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PRODUCT_TYPE" type="xs:string"/>
        <xs:element name="PRODUCT_VALUE" type="xs:string"/>
        <xs:element name="ORG" type="xs:string" minOccurs="0"/>
        <xs:element name="MONTH" type="xs:int"/>
        <xs:element name="YEAR" type="xs:int"/>
        <xs:element name="PROCESS_ID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!-- RESPONSE -->
  <xs:element name="consultaMaestraInfoTransaccionesTCResponse" type="tns:consultaMaestraInfoTransaccionesTCResponseType"/>

  <xs:complexType name="consultaMaestraInfoTransaccionesTCResponseType">
    <xs:sequence>
      <xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
      <xs:element name="CARD_NUMBER" type="xs:string"/>
      <xs:element name="CARD_HOLDER_NAME" type="xs:string"/>
      <xs:element name="CUTOFF_DATE" type="xs:string"/>
      <xs:element name="LAST_CUTOFF_DATE" type="xs:string"/>
      <xs:element name="MAX_PAYMENT_DATE" type="xs:string"/>
      <xs:element name="BEGINNING_BALANCE" type="xs:decimal"/>
      <xs:element name="CREDIT_CARD_TRANSACTION_INFO" type="tns:creditCardTransactionInfoType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- CREDIT_CARD_TRANSACTION_INFO -->
  <xs:complexType name="creditCardTransactionInfoType">
    <xs:sequence>
      <xs:element name="ORG" type="xs:string"/>
      <xs:element name="CURRENCY" type="xs:string"/>
      <xs:element name="CURRENT_BALANCE" type="xs:decimal"/>
      <xs:element name="CUTOFF_BALANCE" type="xs:decimal"/>
      <xs:element name="TRANSACTIONS_DETAILS" type="tns:transactionsDetailsType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- TRANSACTIONS_DETAILS -->
  <xs:complexType name="transactionsDetailsType">
    <xs:sequence>
      <xs:element name="TRANSACTION" type="tns:transactionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- TRANSACTION -->
  <xs:complexType name="transactionType">
    <xs:sequence>
      <xs:element name="AMOUNT" type="xs:decimal"/>
      <xs:element name="TRANSACTION_DATE" type="xs:string"/>
      <xs:element name="POSTING_DATE" type="xs:string"/>
      <xs:element name="TRANSACTION_CODE" type="xs:string"/>
      <xs:element name="REFERENCE_NUMBER" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>