Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaOficialesNegocio_v2/xsd/XMLSchema_1426954887.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaOficialesNegocioTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaOficialesNegocioTypes">
	
	<xs:complexType name="consultaOficialesNegocioResponseArrayType">
		<xs:sequence>
						<xs:element name="OFFICER_CODE" type="xs:string" minOccurs="0"/>
			            <xs:element name="OFFICER_NAME" type="xs:string" minOccurs="0"/>
						<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
						<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0"/>
						<xs:element name="DEPARTMENT_ID" type="xs:string" minOccurs="0"/>
						<xs:element name="DEPARTMENT_NAME" type="xs:string" minOccurs="0"/>
	   </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaOficialesNegocioResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaOficialesNegocioResponseRecordType" type="cons:consultaOficialesNegocioResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaOficialesNegocioResponseType">
		<xs:sequence>
			<xs:element name="consultaOficialesNegocioResponseType" type="cons:consultaOficialesNegocioResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaOficialesNegocio">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OFFICER_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaOficialesNegocioResponse" type="cons:consultaOficialesNegocioResponseType"/>
	
</xs:schema>