Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SJS/consultaRemesaPorNombre/xsd/sjConsultaRemesaPorNombre.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaRemesaPorNombre" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaRemesaPorNombre" elementFormDefault="qualified" >
	
	<xs:complexType name = "consultaRemesaPorNombreResponseArrayType">
		<xs:sequence>
		    <xs:element name="REMITTANCE_ID" type="xs:string" minOccurs="0" />
		    <xs:element name="REMITTER_ID" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTER_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="PAYMENT_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_AMOUNT" type="xs:string" minOccurs="0" />			
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name = "consultaRemesaPorNombreHeaderResponseArrayType">
		<xs:sequence>
		    <xs:element name="successIndicator" type="xs:string" minOccurs="0" />
			<xs:element name="messages" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>			
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaRemesaPorNombreResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaRemesaPorNombreResponseRecordType" type="cons:consultaRemesaPorNombreResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="consultaRemesaPorNombreHeaderResponseRecordType" type="cons:consultaRemesaPorNombreHeaderResponseArrayType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="consultaRemesaPorNombreResponseType">
		<xs:sequence>
			<xs:element name="consultaRemesaPorNombreResponseType" type="cons:consultaRemesaPorNombreResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="sjConsultaRemesaPorNombreRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REMITTER_FIRSTNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTER_MIDDLENAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTER_FIRSTSURNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTER_SECONDSURNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="BENEFICIARY_FIRSTNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="BENEFICIARY_MIDDLENAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="BENEFICIARY_FIRSTSURNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="BENEFICIARY_SECONDSURNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTANCES_ALLOWED" type="xs:string" minOccurs="0"/>
	            <xs:element name="IDPAYER" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		

	<xs:element name="sjConsultaRemesaPorNombreResponse" type="cons:consultaRemesaPorNombreResponseType" />

</xs:schema>