Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingGT/ProviderServices/XSD/UpdateCustomer/UpdateCustomer_BS_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/UpdateCustomer_BS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/UpdateCustomer_BS" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_CODIGO_CLIENTE" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_IDENTIFICACION" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NIT" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_DIRECCIONES" type="db:PROXYABANKSGT.OSB_T_DIRECCION_UPD" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADO_CIVIL" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_EMPRESA" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TRABAJA" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_PROFESION" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CARGO" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_INGRESOS" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_RETURN_CODE" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_MESSAGE" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.OSB_RG_DIRECCION_UPD">
      <sequence>
         <element name="PN_CODIGO_DIRECCION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_REFERENCIA" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_CELULAR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_EMAIL" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PN_CODIGO_PAIS_UPD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PN_CODIGO_DEPTO_UPD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PN_CODIGO_MUNICIPIO_UPD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_NUMERO_CASA" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_AVENIDA1_UPD" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_CALLE_UPD" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PN_ZONA_UPD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_BARRIO_UPD" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_T_DIRECCION_UPD">
      <sequence>
         <element name="PT_DIRECCIONES_ITEM" type="db:PROXYABANKSGT.OSB_RG_DIRECCION_UPD" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string150">
      <restriction base="string">
         <maxLength value="150"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
</schema>