Fuentes/ficohsacore-vortex-7ebad6e8baaa/MWHostToHost/v1/BusinessServices/INTFC/consultaConveniosH2H/xsd/consultaConveniosH2H_sp.xsd

<schema
	targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaConveniosH2H"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaConveniosH2H"
	elementFormDefault="qualified">
	<element name="InputParameters">
		<complexType>
			<sequence>
				<element name="PT_IDSERVICIO" type="db:TVARCHAR10"
					db:index="1" db:type="Array" minOccurs="0" nillable="true" />
				<element name="PV_CODIGOPAIS" type="string"
					db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true" />
			</sequence>
		</complexType>
	</element>
	<element name="OutputParameters">
		<complexType>
			<sequence>
				<element name="PT_INFOCONVENIOS" type="db:T_INFO_CONVENIOS"
					db:index="3" db:type="Array" minOccurs="0" nillable="true" />
				<element name="PV_CODIGOMENSAJE" type="string" db:index="4"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_DESCRIPCIONMENSAJE" type="string"
					db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true" />
			</sequence>
		</complexType>
	</element>
	<complexType name="T_INFO_CONVENIOS">
		<sequence>
			<element name="PT_INFOCONVENIOS_ITEM" type="db:T_INFO_CONVENIOS_ITEM"
				db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true" />
		</sequence>
	</complexType>
	<complexType name="TVARCHAR10">
		<sequence>
			<element name="PT_IDSERVICIO_ITEM" type="db:string10"
				db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true" />
		</sequence>
	</complexType>
	<complexType name="T_INFO_CONVENIOS_ITEM">
		<sequence>
			<element name="ID_SERVICIO" type="db:string10" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="ID_CONTRATO" type="db:string32" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="DESCRIPCION" type="db:string64" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
		</sequence>
	</complexType>
	<simpleType name="string10">
		<restriction base="string">
			<maxLength value="10" />
		</restriction>
	</simpleType>
	<simpleType name="string32">
		<restriction base="string">
			<maxLength value="32" />
		</restriction>
	</simpleType>
	<simpleType name="string64">
		<restriction base="string">
			<maxLength value="64" />
		</restriction>
	</simpleType>
</schema>