Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:infocorp.framework.common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:infocorp.framework.common">
  <xs:import schemaLocation="SaraService_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:complexType name="AuditLogParameters">
    <xs:sequence>
      <xs:element name="ActionId" type="xs:int"/>
      <xs:element name="BackOfficeUserName" nillable="true" type="xs:string"/>
      <xs:element name="CustomData" nillable="true" type="q1:ArrayOfstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element name="ExecutionModeId" type="xs:int"/>
      <xs:element name="PageId" nillable="true" type="xs:short"/>
      <xs:element name="StepNumber" nillable="true" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditLogParameters" nillable="true" type="tns:AuditLogParameters"/>
</xs:schema>