Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23_24_25.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:tailored.icbanking.businessentities.framework.thirdpartyproducts" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:tailored.icbanking.businessentities.framework.thirdpartyproducts">
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26.xsd" namespace="urn:tailored.icbanking.businessentities.backoffice.administration"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12.xsd" namespace="urn:infocorp.framework.businessentities.thirdpartyproducts"/>
  <xs:complexType name="ThirdPartyProductExtended">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:ThirdPartyProduct" xmlns:q1="urn:infocorp.framework.businessentities.thirdpartyproducts">
        <xs:sequence>
          <xs:element minOccurs="0" name="ThirdPartyProductBankIdentifier" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="CompanyReference" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="BankAgency" nillable="true" type="q2:Agency" xmlns:q2="urn:tailored.icbanking.businessentities.backoffice.administration"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ThirdPartyProductExtended" nillable="true" type="tns:ThirdPartyProductExtended"/>
  <xs:complexType name="ThirdPartyProductAdditionalInfoExtended">
    <xs:complexContent mixed="false">
      <xs:extension base="q3:ThirdPartyProductAdditionalInfo" xmlns:q3="urn:infocorp.framework.businessentities.thirdpartyproducts">
        <xs:sequence>
          <xs:element minOccurs="0" name="OwnerState" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="OwnerZip" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="BankState" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="BankCity" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="BankZip" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="CorrespondentBankAccount" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="CorrespondentBankCity" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="CorrespondentBankState" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="CorrespondentBankZip" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="IntermediarySwiftSelection" type="xs:boolean"/>
          <xs:element minOccurs="0" name="IntermediarySecondFloorSelection" type="xs:boolean"/>
          <xs:element minOccurs="0" name="BeneficiaryNoneSelection" type="xs:boolean"/>
          <xs:element minOccurs="0" name="BeneficiaryIntermediaryBankAccount" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ThirdPartyProductAdditionalInfoExtended" nillable="true" type="tns:ThirdPartyProductAdditionalInfoExtended"/>
</xs:schema>