Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:infocorp.framework.businessentities.scheduling" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:infocorp.framework.businessentities.scheduling">
  <xs:import schemaLocation="SaraService_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:import schemaLocation="SaraService_1_2.xsd" namespace="urn:infocorp.framework.businessentities.common"/>
  <xs:complexType name="Frequency">
    <xs:sequence>
      <xs:element minOccurs="0" name="DailyExpression" nillable="true" type="tns:FrequencyDailyExpression"/>
      <xs:element minOccurs="0" name="FrequencyId" type="xs:int"/>
      <xs:element minOccurs="0" name="HourlyExpression" nillable="true" type="tns:FrequencyHourlyExpression"/>
      <xs:element minOccurs="0" name="MonthlyExpression" nillable="true" type="tns:FrequencyMonthlyExpression"/>
      <xs:element minOccurs="0" name="WeeklyExpression" nillable="true" type="tns:FrequencyWeeklyExpression"/>
      <xs:element minOccurs="0" name="YearlyExpression" nillable="true" type="tns:FrequencyYearlyExpression"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Frequency" nillable="true" type="tns:Frequency"/>
  <xs:complexType name="FrequencyDailyExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FrequencyExpression">
        <xs:sequence>
          <xs:element minOccurs="0" name="SpecialFrequency" nillable="true" type="tns:SpecialDailyFrequency"/>
          <xs:element minOccurs="0" name="SpecificValues" nillable="true" type="q1:ArrayOfint" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FrequencyDailyExpression" nillable="true" type="tns:FrequencyDailyExpression"/>
  <xs:complexType name="FrequencyExpression">
    <xs:sequence>
      <xs:element minOccurs="0" name="Step" nillable="true" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FrequencyExpression" nillable="true" type="tns:FrequencyExpression"/>
  <xs:complexType name="SpecialDailyFrequency">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SpecialFrequency">
        <xs:sequence>
          <xs:element minOccurs="0" name="LastDayOfMonth" nillable="true" type="tns:SpecialDailyFrequency">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">10</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="NearestWeekDay" nillable="true" type="tns:SpecialDailyFrequency">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">11</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecialDailyFrequency" nillable="true" type="tns:SpecialDailyFrequency"/>
  <xs:complexType name="SpecialFrequency">
    <xs:complexContent mixed="false">
      <xs:extension base="q2:ExtensibleEnum" xmlns:q2="urn:infocorp.framework.businessentities.common">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecialFrequency" nillable="true" type="tns:SpecialFrequency"/>
  <xs:complexType name="FrequencyHourlyExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FrequencyExpression">
        <xs:sequence>
          <xs:element minOccurs="0" name="SpecialFrequency" nillable="true" type="tns:SpecialFrequency"/>
          <xs:element minOccurs="0" name="SpecificValues" nillable="true" type="q3:ArrayOfint" xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FrequencyHourlyExpression" nillable="true" type="tns:FrequencyHourlyExpression"/>
  <xs:complexType name="FrequencyMonthlyExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FrequencyExpression">
        <xs:sequence>
          <xs:element minOccurs="0" name="SpecialFrequency" nillable="true" type="tns:SpecialFrequency"/>
          <xs:element minOccurs="0" name="SpecificValues" nillable="true" type="tns:ArrayOfFrequencyMonth"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FrequencyMonthlyExpression" nillable="true" type="tns:FrequencyMonthlyExpression"/>
  <xs:complexType name="ArrayOfFrequencyMonth">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FrequencyMonth" nillable="true" type="tns:FrequencyMonth"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFrequencyMonth" nillable="true" type="tns:ArrayOfFrequencyMonth"/>
  <xs:complexType name="FrequencyMonth">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q4:ExtensibleEnum" xmlns:q4="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="January" nillable="true" type="tns:FrequencyMonth">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="February" nillable="true" type="tns:FrequencyMonth">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">2</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="March" nillable="true" type="tns:FrequencyMonth">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">3</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="April" nillable="true" type="tns:FrequencyMonth">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">4</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="May" nillable="true" type="tns:FrequencyMonth">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">5</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="June" nillable="true" type="tns:FrequencyMonth">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">6</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="July" nillable="true" type="tns:FrequencyMonth">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">7</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="August" nillable="true" type="tns:FrequencyMonth">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">8</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="September" nillable="true" type="tns:FrequencyMonth">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">9</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="October" nillable="true" type="tns:FrequencyMonth">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">10</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="November" nillable="true" type="tns:FrequencyMonth">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">11</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="December" nillable="true" type="tns:FrequencyMonth">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">12</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FrequencyMonth" nillable="true" type="tns:FrequencyMonth"/>
  <xs:complexType name="FrequencyWeeklyExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FrequencyExpression">
        <xs:sequence>
          <xs:element minOccurs="0" name="SpecialFrequency" nillable="true" type="tns:SpecialWeeklyFrequency"/>
          <xs:element minOccurs="0" name="SpecificValues" nillable="true" type="tns:ArrayOfFrequencyWeekDay"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FrequencyWeeklyExpression" nillable="true" type="tns:FrequencyWeeklyExpression"/>
  <xs:complexType name="SpecialWeeklyFrequency">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SpecialFrequency">
        <xs:sequence>
          <xs:element minOccurs="0" name="Last" nillable="true" type="tns:SpecialWeeklyFrequency">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">10</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="First" nillable="true" type="tns:SpecialWeeklyFrequency">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">11</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Second" nillable="true" type="tns:SpecialWeeklyFrequency">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">12</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Third" nillable="true" type="tns:SpecialWeeklyFrequency">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">13</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Fourth" nillable="true" type="tns:SpecialWeeklyFrequency">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">14</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Fifth" nillable="true" type="tns:SpecialWeeklyFrequency">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">15</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecialWeeklyFrequency" nillable="true" type="tns:SpecialWeeklyFrequency"/>
  <xs:complexType name="ArrayOfFrequencyWeekDay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FrequencyWeekDay" nillable="true" type="tns:FrequencyWeekDay"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFrequencyWeekDay" nillable="true" type="tns:ArrayOfFrequencyWeekDay"/>
  <xs:complexType name="FrequencyWeekDay">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q5:ExtensibleEnum" xmlns:q5="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="Sunday" nillable="true" type="tns:FrequencyWeekDay">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Monday" nillable="true" type="tns:FrequencyWeekDay">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">2</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Tuesday" nillable="true" type="tns:FrequencyWeekDay">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">3</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Wednesday" nillable="true" type="tns:FrequencyWeekDay">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">4</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Thursday" nillable="true" type="tns:FrequencyWeekDay">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">5</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Friday" nillable="true" type="tns:FrequencyWeekDay">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">6</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Saturday" nillable="true" type="tns:FrequencyWeekDay">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">7</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="WeekDay" nillable="true" type="tns:FrequencyWeekDay">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">8</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="WeekendDay" nillable="true" type="tns:FrequencyWeekDay">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">9</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FrequencyWeekDay" nillable="true" type="tns:FrequencyWeekDay"/>
  <xs:complexType name="FrequencyYearlyExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FrequencyExpression">
        <xs:sequence>
          <xs:element minOccurs="0" name="SpecialFrequency" nillable="true" type="tns:SpecialFrequency"/>
          <xs:element minOccurs="0" name="SpecificValues" nillable="true" type="q6:ArrayOfint" xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FrequencyYearlyExpression" nillable="true" type="tns:FrequencyYearlyExpression"/>
</xs:schema>