Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:tailored.icbanking.businessentities.framework.tagging" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:tailored.icbanking.businessentities.framework.tagging">
  <xs:import schemaLocation="SaraService_1_2.xsd" namespace="urn:infocorp.framework.businessentities.common"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23.xsd" namespace="urn:infocorp.framework.businessentities.tagging"/>
  <xs:complexType name="ArrayOfTagExtended">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagExtended" nillable="true" type="tns:TagExtended"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagExtended" nillable="true" type="tns:ArrayOfTagExtended"/>
  <xs:complexType name="TagExtended">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:Tag" xmlns:q1="urn:infocorp.framework.businessentities.tagging">
        <xs:sequence>
          <xs:element minOccurs="0" name="Subsidiary" nillable="true" type="q2:Subsidiary" xmlns:q2="urn:infocorp.framework.businessentities.common"/>
          <xs:element minOccurs="0" name="parentTagId" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TagExtended" nillable="true" type="tns:TagExtended"/>
</xs:schema>