Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:tailored.icbanking.services.sara" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:tailored.icbanking.services.sara">
  <xs:import schemaLocation="SaraService_1.xsd" namespace="urn:infocorp.framework.services.common"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10.xsd" namespace="urn:Infocorp.framework.services.common"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12.xsd" namespace="urn:infocorp.framework.businessentities.thirdpartyproducts"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14.xsd" namespace="urn:infocorp.servicepayments.businessentities.servicepayments"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21.xsd" namespace="urn:tailored.icbanking.businessentities.servicepayments"/>
  <xs:element name="GetThirdPartyProductsForSaraByDocumentNumberMessageIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="q1:ApprovalContext" xmlns:q1="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q2:ExtendedOperationData" xmlns:q2="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThirdPartyProductsForSaraByDocumentNumberMessageOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="q3:ApprovalContext" xmlns:q3="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q4:AuditLogContext" xmlns:q4="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q5:ExtendedOperationData" xmlns:q5="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q6:OperationResult" xmlns:q6="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" name="ThirdPartyProducts" nillable="true" type="q7:ArrayOfThirdPartyProduct" xmlns:q7="urn:infocorp.framework.businessentities.thirdpartyproducts"/>
        <xs:element minOccurs="0" name="ThirdPartyProductsCount" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteServicePaymentEntitiesForSaraByDocumentNumberMessageIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="q8:ApprovalContext" xmlns:q8="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q9:ExtendedOperationData" xmlns:q9="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteServicePaymentEntitiesForSaraByDocumentNumberMessageOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="q10:ApprovalContext" xmlns:q10="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q11:AuditLogContext" xmlns:q11="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q12:ExtendedOperationData" xmlns:q12="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q13:OperationResult" xmlns:q13="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" name="SiteServicePaymentEntities" nillable="true" type="q14:ArrayOfSiteServicePaymentEntity" xmlns:q14="urn:infocorp.servicepayments.businessentities.servicepayments"/>
        <xs:element minOccurs="0" name="SiteServicePaymentEntitiesCount" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteServicePaymentEntitiesForSaraByIdMessageIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="q15:ApprovalContext" xmlns:q15="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q16:ExtendedOperationData" xmlns:q16="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" name="SiteServicePaymentEntityId" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteServicePaymentEntitiesForSaraByIdMessageOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="q17:ApprovalContext" xmlns:q17="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q18:AuditLogContext" xmlns:q18="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q19:ExtendedOperationData" xmlns:q19="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q20:OperationResult" xmlns:q20="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" name="SiteServicePaymentEntity" nillable="true" type="q21:SiteServicePaymentEntity" xmlns:q21="urn:infocorp.servicepayments.businessentities.servicepayments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicePaymentEntitiesWithTagsForSaraMessageIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="q22:ApprovalContext" xmlns:q22="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q23:ExtendedOperationData" xmlns:q23="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicePaymentEntitiesWithTagsForSaraMessageOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="q24:ApprovalContext" xmlns:q24="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q25:AuditLogContext" xmlns:q25="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q26:ExtendedOperationData" xmlns:q26="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q27:OperationResult" xmlns:q27="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" name="ServicePaymentEntities" nillable="true" type="q28:ArrayOfServicePaymentEntityExtended" xmlns:q28="urn:tailored.icbanking.businessentities.servicepayments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicePaymentEntityForSaraByIdMessageIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="q29:ApprovalContext" xmlns:q29="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q30:ExtendedOperationData" xmlns:q30="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" name="ServicePaymentEntityId" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicePaymentEntityForSaraByIdMessageOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="q31:ApprovalContext" xmlns:q31="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q32:AuditLogContext" xmlns:q32="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q33:ExtendedOperationData" xmlns:q33="urn:Infocorp.framework.services.common"/>
        <xs:element minOccurs="0" ref="q34:OperationResult" xmlns:q34="urn:infocorp.framework.services.common"/>
        <xs:element minOccurs="0" name="ServicePaymentEntity" nillable="true" type="q35:ServicePaymentEntityExtended" xmlns:q35="urn:tailored.icbanking.businessentities.servicepayments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>