Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23_24.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:infocorp.framework.common.datacontracts" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:infocorp.framework.common.datacontracts" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:complexType name="GeneralFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorID" type="ser:guid"/>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralFault" nillable="true" type="tns:GeneralFault"/>
  <xs:complexType name="SessionInvalidFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GeneralFault">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionInvalidFault" nillable="true" type="tns:SessionInvalidFault"/>
</xs:schema>