Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:infocorp.framework.businessentities.authentication" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:infocorp.framework.businessentities.authentication">
  <xs:import schemaLocation="SaraService_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8.xsd" namespace="http://schemas.datacontract.org/2004/07/Infocorp.Framework.Common.Enumerations"/>
  <xs:complexType name="ArrayOfAuthorizedIpAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorizedIpAddress" nillable="true" type="tns:AuthorizedIpAddress"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorizedIpAddress" nillable="true" type="tns:ArrayOfAuthorizedIpAddress"/>
  <xs:complexType name="AuthorizedIpAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CreatedByUserId" type="xs:int"/>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q1:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizedIpAddress" nillable="true" type="tns:AuthorizedIpAddress"/>
  <xs:complexType name="UserLastSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="xs:int"/>
      <xs:element minOccurs="0" name="Channel" type="q2:Channel" xmlns:q2="http://schemas.datacontract.org/2004/07/Infocorp.Framework.Common.Enumerations"/>
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="UserAgent" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Duration" type="xs:int"/>
      <xs:element minOccurs="0" name="SessionEndReason" type="q3:SessionEndReason" xmlns:q3="http://schemas.datacontract.org/2004/07/Infocorp.Framework.Common.Enumerations"/>
      <xs:element minOccurs="0" name="ExtendedPropertyValue" nillable="true" type="q4:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLastSession" nillable="true" type="tns:UserLastSession"/>
</xs:schema>