Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:infocorp.framework.businessentities.thirdpartyproducts" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:infocorp.framework.businessentities.thirdpartyproducts">
  <xs:import schemaLocation="SaraService_1_2_3.xsd" namespace="urn:infocorp.framework.businessentities.authorization"/>
  <xs:import schemaLocation="SaraService_1_2.xsd" namespace="urn:infocorp.framework.businessentities.common"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13.xsd" namespace="urn:infocorp.framework.businessentities.transactions"/>
  <xs:complexType name="ThirdPartyProduct">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:BaseBusinessEntity" xmlns:q1="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="AssociatedFeature" nillable="true" type="q2:Feature" xmlns:q2="urn:infocorp.framework.businessentities.authorization"/>
          <xs:element minOccurs="0" name="Bank" nillable="true" type="q1:Bank"/>
          <xs:element minOccurs="0" name="BaseAmount" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="CreatorUserId" type="xs:int"/>
          <xs:element minOccurs="0" name="Currency" nillable="true" type="q1:Currency"/>
          <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q3:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
          <xs:element minOccurs="0" name="Metadata" nillable="true" type="tns:ThirdPartyProductMetadata"/>
          <xs:element minOccurs="0" name="OwnerAddress" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="OwnerCity" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="OwnerCountry" nillable="true" type="q1:Country"/>
          <xs:element minOccurs="0" name="OwnerDcumentTypeId" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="OwnerDocumentNumber" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="OwnerEmail" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="OwnerPhoneNumber" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="ProductType" nillable="true" type="q1:ProductType"/>
          <xs:element minOccurs="0" name="SiteId" type="xs:int"/>
          <xs:element minOccurs="0" name="Subsidiary" nillable="true" type="q1:Subsidiary"/>
          <xs:element minOccurs="0" name="ThirdPartyProductAdditionalInfo" nillable="true" type="tns:ThirdPartyProductAdditionalInfo"/>
          <xs:element minOccurs="0" name="ThirdPartyProductGroupId" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" name="ThirdPartyProductId" type="xs:int"/>
          <xs:element minOccurs="0" name="ThirdPartyProductNumber" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="ThirdPartyProductSpecificData" nillable="true" type="tns:ThirdPartyProductSpecificData"/>
          <xs:element minOccurs="0" name="ThirdPartyProductStatus" nillable="true" type="tns:ThirdPartyProductStatus"/>
          <xs:element minOccurs="0" name="ThirdPartyProductType" nillable="true" type="tns:ThirdPartyProductType"/>
          <xs:element minOccurs="0" name="TransactionSubType" nillable="true" type="q4:SubTransactionTypeEnum" xmlns:q4="urn:infocorp.framework.businessentities.transactions"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ThirdPartyProduct" nillable="true" type="tns:ThirdPartyProduct"/>
  <xs:complexType name="ThirdPartyProductMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q5:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThirdPartyProductMetadata" nillable="true" type="tns:ThirdPartyProductMetadata"/>
  <xs:complexType name="ThirdPartyProductAdditionalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrespondentBankBankBranches" nillable="true" type="q6:ArrayOfBankBranch" xmlns:q6="urn:infocorp.framework.businessentities.common"/>
      <xs:element minOccurs="0" name="CorrespondentBankCountry" nillable="true" type="q7:Country" xmlns:q7="urn:infocorp.framework.businessentities.common"/>
      <xs:element minOccurs="0" name="CorrespondentBankDescription" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CorrespondentBankHeadquartersAddress" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CorrespondentBankRoutingNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CorrespondentBankSubsidairies" nillable="true" type="q8:ArrayOfSubsidiary" xmlns:q8="urn:infocorp.framework.businessentities.common"/>
      <xs:element minOccurs="0" name="ThirdPartyProductAdditionalInfoId" type="xs:int"/>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q9:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThirdPartyProductAdditionalInfo" nillable="true" type="tns:ThirdPartyProductAdditionalInfo"/>
  <xs:complexType name="ThirdPartyProductSpecificData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q10:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="FullQualifiedName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="KnownTypes" nillable="true" type="q11:ArrayOfstring" xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThirdPartyProductSpecificData" nillable="true" type="tns:ThirdPartyProductSpecificData"/>
  <xs:complexType name="ThirdPartyProductStatus">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q12:ExtensibleEnum" xmlns:q12="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="Undefined" nillable="true" type="tns:ThirdPartyProductStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">0</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Active" nillable="true" type="tns:ThirdPartyProductStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Deleted" nillable="true" type="tns:ThirdPartyProductStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">2</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Pending" nillable="true" type="tns:ThirdPartyProductStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">3</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ThirdPartyProductStatus" nillable="true" type="tns:ThirdPartyProductStatus"/>
  <xs:complexType name="ThirdPartyProductType">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q13:ExtensibleEnum" xmlns:q13="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="Undefined" nillable="true" type="tns:ThirdPartyProductType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">0</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Local" nillable="true" type="tns:ThirdPartyProductType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Country" nillable="true" type="tns:ThirdPartyProductType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">2</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Foreign" nillable="true" type="tns:ThirdPartyProductType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">3</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ThirdPartyProductType" nillable="true" type="tns:ThirdPartyProductType"/>
  <xs:complexType name="ArrayOfThirdPartyProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ThirdPartyProduct" nillable="true" type="tns:ThirdPartyProduct"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfThirdPartyProduct" nillable="true" type="tns:ArrayOfThirdPartyProduct"/>
</xs:schema>