Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:infocorp.servicepayments.businessentities.servicepayments" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:infocorp.servicepayments.businessentities.servicepayments">
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15.xsd" namespace="urn:infocorp.administration.businessentities.users"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:import schemaLocation="SaraService_1_2.xsd" namespace="urn:infocorp.framework.businessentities.common"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20.xsd" namespace="urn:infocorp.framework.businessentities.scheduling"/>
  <xs:complexType name="ArrayOfSiteServicePaymentEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SiteServicePaymentEntity" nillable="true" type="tns:SiteServicePaymentEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSiteServicePaymentEntity" nillable="true" type="tns:ArrayOfSiteServicePaymentEntity"/>
  <xs:complexType name="SiteServicePaymentEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:BaseBusinessEntity" xmlns:q1="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="SiteServicePaymentEntityId" type="xs:int"/>
          <xs:element minOccurs="0" name="SiteId" type="xs:int"/>
          <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="ServicePaymentEntity" nillable="true" type="tns:ServicePaymentEntity"/>
          <xs:element minOccurs="0" name="User" nillable="true" type="q2:User" xmlns:q2="urn:infocorp.administration.businessentities.users"/>
          <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q3:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
          <xs:element minOccurs="0" name="ServicePaymentEntitySuscriptionData" nillable="true" type="tns:ServicePaymentEntitySuscriptionData"/>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="SiteServicePaymentEntityStatus" nillable="true" type="tns:SiteServicePaymentEntityStatus"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SiteServicePaymentEntity" nillable="true" type="tns:SiteServicePaymentEntity"/>
  <xs:complexType name="ServicePaymentEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServicePaymentEntityId" type="xs:int"/>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q4:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="ServicePaymentEntityType" nillable="true" type="tns:ServicePaymentEntityType"/>
      <xs:element minOccurs="0" name="ServicePaymentDataConfig" nillable="true" type="tns:ServicePaymentDataConfig"/>
      <xs:element minOccurs="0" name="ServicePaymentEntityBackendId" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ServicePaymentEntityStatus" nillable="true" type="tns:ServicePaymentEntityStatus"/>
      <xs:element minOccurs="0" name="ServicePaymentHelpEng" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ServicePaymentHelpEsp" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ServicePaymentHelpImage" nillable="true" type="q5:Image" xmlns:q5="urn:infocorp.framework.businessentities.common"/>
      <xs:element minOccurs="0" name="ServicePaymentResultFields" nillable="true" type="tns:ServicePaymentResultFields"/>
      <xs:element minOccurs="0" name="ServicePaymentValidationData" nillable="true" type="tns:ServicePaymentValidationData"/>
      <xs:element minOccurs="0" name="PdfFromBackend" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ServicePaymengLogo" nillable="true" type="q6:Image" xmlns:q6="urn:infocorp.framework.businessentities.common"/>
      <xs:element minOccurs="0" name="ServicePaymentLogoId" type="xs:int"/>
      <xs:element minOccurs="0" name="ServicePaymentHelpImageId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicePaymentEntity" nillable="true" type="tns:ServicePaymentEntity"/>
  <xs:complexType name="ServicePaymentEntityType">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q7:ExtensibleEnum" xmlns:q7="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="WithDebt" nillable="true" type="tns:ServicePaymentEntityType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">0</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ManualData" nillable="true" type="tns:ServicePaymentEntityType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Custom" nillable="true" type="tns:ServicePaymentEntityType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">2</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServicePaymentEntityType" nillable="true" type="tns:ServicePaymentEntityType"/>
  <xs:complexType name="ServicePaymentDataConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServicePaymentSubscribibleDataInputConfig" nillable="true" type="q8:ArrayOfDataField" xmlns:q8="urn:infocorp.framework.businessentities.common"/>
      <xs:element minOccurs="0" name="ServicePaymentVariableDataInputConfig" nillable="true" type="q9:ArrayOfDataField" xmlns:q9="urn:infocorp.framework.businessentities.common"/>
      <xs:element minOccurs="0" name="ServicePaymentDataOutputConfig" nillable="true" type="q10:ArrayOfDataField" xmlns:q10="urn:infocorp.framework.businessentities.common"/>
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean"/>
      <xs:element minOccurs="0" name="FieldsOnSummary" nillable="true" type="q11:ArrayOfstring" xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="FieldsRequired" nillable="true" type="q12:ArrayOfstring" xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="Groups" nillable="true" type="q13:ArrayOfKeyValueOfstringLanguageFieldEPwN05B4" xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="MostImportantFields" nillable="true" type="q14:ArrayOfstring" xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="FieldsCurrency" nillable="true" type="q15:ArrayOfKeyValueOfstringArrayOfintty7Ep6D1" xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="ServiceCurrency" nillable="true" type="q16:ArrayOfint" xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="ServiceScheduled" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ConceptualFieldsWithFixedValue" nillable="true" type="q17:ArrayOfKeyValueOfstringdouble" xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="ConceptFieldsCurrencyField" nillable="true" type="q18:ArrayOfKeyValueOfstringstring" xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="RestrictionsDescriptionTranslations" nillable="true" type="q19:ArrayOfKeyValueOfLanguagestringt0xKdhz5" xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicePaymentDataConfig" nillable="true" type="tns:ServicePaymentDataConfig"/>
  <xs:complexType name="ServicePaymentEntityStatus">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q20:ExtensibleEnum" xmlns:q20="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" nillable="true" type="tns:ServicePaymentEntityStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Deleted" nillable="true" type="tns:ServicePaymentEntityStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">2</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Inactive" nillable="true" type="tns:ServicePaymentEntityStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">3</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServicePaymentEntityStatus" nillable="true" type="tns:ServicePaymentEntityStatus"/>
  <xs:complexType name="ServicePaymentResultFields">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultFields" nillable="true" type="q21:ArrayOfDataField" xmlns:q21="urn:infocorp.framework.businessentities.common"/>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q22:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicePaymentResultFields" nillable="true" type="tns:ServicePaymentResultFields"/>
  <xs:complexType name="ServicePaymentValidationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowMultipleCurrency" type="xs:boolean"/>
      <xs:element minOccurs="0" name="AllowMultipleBillPayment" type="xs:boolean"/>
      <xs:element minOccurs="0" name="MinAmountFromBackend" type="xs:boolean"/>
      <xs:element minOccurs="0" name="MaxAmountFromBackend" type="xs:boolean"/>
      <xs:element minOccurs="0" name="MinAmountFormula" nillable="true" type="tns:ServicePaymentAmountFormula"/>
      <xs:element minOccurs="0" name="MaxAmountFormula" nillable="true" type="tns:ServicePaymentAmountFormula"/>
      <xs:element minOccurs="0" name="MinAmountPercentageValue" type="xs:double"/>
      <xs:element minOccurs="0" name="MaxAmountPercentageValue" type="xs:double"/>
      <xs:element minOccurs="0" name="UseConceptualAmmounts" type="xs:boolean"/>
      <xs:element minOccurs="0" name="QuantityOfConcepts" type="xs:int"/>
      <xs:element minOccurs="0" name="ServiceTimeRestrictions" nillable="true" type="tns:ArrayOfServicePaymentTimeRestriction"/>
      <xs:element minOccurs="0" name="AvailableProductTypes" nillable="true" type="q23:ArrayOfstring" xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="AllowNotConsecutivePayments" type="xs:boolean"/>
      <xs:element minOccurs="0" name="AllowPartialPayment" type="xs:boolean"/>
      <xs:element minOccurs="0" name="RecurrenceSchedule" type="xs:boolean"/>
      <xs:element minOccurs="0" name="EventsSchedule" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicePaymentValidationData" nillable="true" type="tns:ServicePaymentValidationData"/>
  <xs:complexType name="ServicePaymentAmountFormula">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q24:ExtensibleEnum" xmlns:q24="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="PercentageFromDebt" nillable="true" type="tns:ServicePaymentAmountFormula">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServicePaymentAmountFormula" nillable="true" type="tns:ServicePaymentAmountFormula"/>
  <xs:complexType name="ArrayOfServicePaymentTimeRestriction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicePaymentTimeRestriction" nillable="true" type="tns:ServicePaymentTimeRestriction"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicePaymentTimeRestriction" nillable="true" type="tns:ArrayOfServicePaymentTimeRestriction"/>
  <xs:complexType name="ServicePaymentTimeRestriction">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnableService" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Frequency" nillable="true" type="q25:Frequency" xmlns:q25="urn:infocorp.framework.businessentities.scheduling"/>
      <xs:element minOccurs="0" name="Duration" type="xs:int"/>
      <xs:element minOccurs="0" name="CalendarDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="SelectionType" nillable="true" type="tns:ServicePaymentTimeRestrictionSelectionType"/>
      <xs:element minOccurs="0" name="RestrictionName" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicePaymentTimeRestriction" nillable="true" type="tns:ServicePaymentTimeRestriction"/>
  <xs:complexType name="ServicePaymentTimeRestrictionSelectionType">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q26:ExtensibleEnum" xmlns:q26="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="Calendar" nillable="true" type="tns:ServicePaymentTimeRestrictionSelectionType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">0</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Window" nillable="true" type="tns:ServicePaymentTimeRestrictionSelectionType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServicePaymentTimeRestrictionSelectionType" nillable="true" type="tns:ServicePaymentTimeRestrictionSelectionType"/>
  <xs:complexType name="ServicePaymentEntitySuscriptionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q27:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="FullQualifiedName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="KnownTypes" nillable="true" type="q28:ArrayOfstring" xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicePaymentEntitySuscriptionData" nillable="true" type="tns:ServicePaymentEntitySuscriptionData"/>
  <xs:complexType name="SiteServicePaymentEntityStatus">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q29:ExtensibleEnum" xmlns:q29="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" nillable="true" type="tns:SiteServicePaymentEntityStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Deleted" nillable="true" type="tns:SiteServicePaymentEntityStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">2</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SiteServicePaymentEntityStatus" nillable="true" type="tns:SiteServicePaymentEntityStatus"/>
</xs:schema>