Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:infocorp.framework.services.common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:infocorp.framework.services.common">
  <xs:import schemaLocation="SaraService_1_2.xsd" namespace="urn:infocorp.framework.businessentities.common"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7.xsd" namespace="urn:infocorp.framework.common"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8.xsd" namespace="http://schemas.datacontract.org/2004/07/Infocorp.Framework.Common.Enumerations"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:element name="ApprovalContext" nillable="true" type="q1:ApprovalContextIn" xmlns:q1="urn:infocorp.framework.businessentities.common"/>
  <xs:element name="ExtendedOperationData" nillable="true" type="q2:ExtendedData" xmlns:q2="urn:infocorp.framework.businessentities.common"/>
  <xs:complexType name="Context">
    <xs:sequence>
      <xs:element name="AuditLogParameters" nillable="true" type="q3:AuditLogParameters" xmlns:q3="urn:infocorp.framework.common"/>
      <xs:element name="Channel" type="q4:Channel" xmlns:q4="http://schemas.datacontract.org/2004/07/Infocorp.Framework.Common.Enumerations"/>
      <xs:element name="Correlation" nillable="true" type="xs:string"/>
      <xs:element name="ExtendedContext" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element name="ExtendedParameters" nillable="true" type="q6:ArrayOfKeyValueOfstringstring" xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element name="ExtendedProperties" nillable="true" type="q7:ArrayOfKeyValueOfstringExtendedPropertyValueBaseR_SKdHeKj" xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element name="IpAddress" nillable="true" type="xs:string"/>
      <xs:element name="IsOTASession" type="xs:boolean"/>
      <xs:element name="SessionId" nillable="true" type="xs:string"/>
      <xs:element name="SiteId" type="xs:int"/>
      <xs:element name="UserAgent" nillable="true" type="xs:string"/>
      <xs:element name="UserId" type="xs:int"/>
      <xs:element name="UserName" nillable="true" type="xs:string"/>
      <xs:element name="UserTimeZoneId" type="xs:int"/>
      <xs:element name="UserTimeZoneName" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Context" nillable="true" type="tns:Context"/>
  <xs:element name="OperationResult" nillable="true" type="q8:OperationResult" xmlns:q8="urn:infocorp.framework.businessentities.common"/>
</xs:schema>