Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:tailored.icbanking.businessentities.backoffice.administration" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:tailored.icbanking.businessentities.backoffice.administration">
  <xs:import schemaLocation="SaraService_1_2.xsd" namespace="urn:infocorp.framework.businessentities.common"/>
  <xs:complexType name="Agency">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="AgencyName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="AvailableServices" nillable="true" type="tns:ArrayOfAgencyService"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agency" nillable="true" type="tns:Agency"/>
  <xs:complexType name="ArrayOfAgencyService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgencyService" nillable="true" type="tns:AgencyService"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgencyService" nillable="true" type="tns:ArrayOfAgencyService"/>
  <xs:complexType name="AgencyService">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q1:ExtensibleEnum" xmlns:q1="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="Undefined" nillable="true" type="tns:AgencyService">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">0</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="AllowsCashierChecks" nillable="true" type="tns:AgencyService">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgencyService" nillable="true" type="tns:AgencyService"/>
</xs:schema>