Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:infocorp.framework.businessentities.tagging" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:infocorp.framework.businessentities.tagging">
  <xs:import schemaLocation="SaraService_1_2.xsd" namespace="urn:infocorp.framework.businessentities.common"/>
  <xs:import schemaLocation="SaraService_1_2_3.xsd" namespace="urn:infocorp.framework.businessentities.authorization"/>
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="TagId" type="xs:int"/>
      <xs:element minOccurs="0" name="Name" nillable="true" type="q1:LanguageField" xmlns:q1="urn:infocorp.framework.businessentities.common"/>
      <xs:element minOccurs="0" name="Description" nillable="true" type="q2:LanguageField" xmlns:q2="urn:infocorp.framework.businessentities.common"/>
      <xs:element minOccurs="0" name="Feature" nillable="true" type="q3:Feature" xmlns:q3="urn:infocorp.framework.businessentities.authorization"/>
      <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:ArrayOfTag"/>
      <xs:element minOccurs="0" name="IsSimple" type="xs:boolean"/>
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="HasChildren" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Entities" type="xs:int"/>
      <xs:element minOccurs="0" name="HasChildrenEntities" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Image" nillable="true" type="q4:Image" xmlns:q4="urn:infocorp.framework.businessentities.common"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag"/>
  <xs:complexType name="ArrayOfTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tag" nillable="true" type="tns:Tag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTag" nillable="true" type="tns:ArrayOfTag"/>
</xs:schema>