Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:infocorp.administration.businessentities.sites" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:infocorp.administration.businessentities.sites">
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18.xsd" namespace="urn:infocorp.administration.businessentities.clients"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15.xsd" namespace="urn:infocorp.administration.businessentities.users"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:import schemaLocation="SaraService_1_2.xsd" namespace="urn:infocorp.framework.businessentities.common"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19.xsd" namespace="urn:Infocorp.ApprovalScheme.BusinessEntities.ApprovalScheme"/>
  <xs:complexType name="Site">
    <xs:sequence>
      <xs:element minOccurs="0" name="SiteId" type="xs:int"/>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="SiteType" nillable="true" type="tns:SiteType"/>
      <xs:element minOccurs="0" name="SiteStatus" nillable="true" type="tns:SiteStatus"/>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ApprovalDate" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ApproverUserId" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="ApproverUserName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Clients" nillable="true" type="q1:ArrayOfClient" xmlns:q1="urn:infocorp.administration.businessentities.clients"/>
      <xs:element minOccurs="0" name="SiteAdministrator" nillable="true" type="q2:User" xmlns:q2="urn:infocorp.administration.businessentities.users"/>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q3:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="MainSubsidiary" nillable="true" type="q4:Subsidiary" xmlns:q4="urn:infocorp.framework.businessentities.common"/>
      <xs:element minOccurs="0" name="TransactionalConfigurationId" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="NotTransactionalConfigurationId" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="TransactionalConfigurationKind" nillable="true" type="q5:ApprovalSchemeConfigurationKind" xmlns:q5="urn:Infocorp.ApprovalScheme.BusinessEntities.ApprovalScheme"/>
      <xs:element minOccurs="0" name="NotTransactionalConfigurationKind" nillable="true" type="q6:ApprovalSchemeConfigurationKind" xmlns:q6="urn:Infocorp.ApprovalScheme.BusinessEntities.ApprovalScheme"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Site" nillable="true" type="tns:Site"/>
  <xs:complexType name="SiteType">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q7:ExtensibleEnum" xmlns:q7="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="Undefined" nillable="true" type="tns:SiteType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">0</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Person" nillable="true" type="tns:SiteType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:SiteType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">2</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SiteType" nillable="true" type="tns:SiteType"/>
  <xs:complexType name="SiteStatus">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q8:ExtensibleEnum" xmlns:q8="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="None" nillable="true" type="tns:SiteStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">0</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Active" nillable="true" type="tns:SiteStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Pending" nillable="true" type="tns:SiteStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">2</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Blocked" nillable="true" type="tns:SiteStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">3</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Eliminated" nillable="true" type="tns:SiteStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">4</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Rejected" nillable="true" type="tns:SiteStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">5</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SiteStatus" nillable="true" type="tns:SiteStatus"/>
</xs:schema>