Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/anticipoSalario/xsd/AnticipoSalarioTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:FicAs="http://www.ficohsa.com.hn/middleware.services/AnticipoSalarioTypes" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/AnticipoSalarioTypes" 
	elementFormDefault="unqualified" 
	attributeFormDefault="unqualified">
	<xs:element name="anticipoSalarioRequest" type="FicAs:AnticipoSalarioRequestIM"/>
	<xs:element name="anticipoSalarioResponse" type="FicAs:AnticipoSalarioResponseIM"/>
	<xs:complexType name="AnticipoSalarioRequestIM">
		<xs:sequence>
			<xs:element name="ACCOUNT" type="xs:string"/>
			<xs:element name="AMOUNT" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnticipoSalarioResponseIM">
		<xs:sequence>
			<xs:element name="LIMIT_ADVANCE" type="xs:string"/>
			<xs:element name="ADVANCED_AVAILABLE" type="xs:string"/>
			<xs:element name="CREDIT_ADVANCE" type="xs:string"/>
			<xs:element name="COMMISSION_AMOUNT" type="xs:string"/>
			<xs:element name="COMMISSION_PERCENT" type="xs:string"/>
			<xs:element name="CREDIT_AMOUNT" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>