Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ValidaProductoACH/xsd/validaProductoACHTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/validaProductoACHTypes"
	xmlns:trans="http://www.ficohsa.com.hn/middleware.services/validaProductoACHTypes">


	<xs:complexType name="validaProductoACH">
		<xs:sequence>
			<xs:element name="PRODUCT_NUMBER" type="xs:string"/>
			<xs:element name="PRODUCT_CURRENCY" type="xs:string"/>
			<xs:element name="PRODUCT_TYPE" type="xs:string"/>
			<xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CHECK_CANCELLED_YES_NO" type="xs:string" minOccurs="0"/>
			<xs:element name="UUID" type="xs:string" minOccurs="0" />	
			<xs:element name="KV_PAIRS" type="trans:KVPairType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>			
	</xs:complexType>
	
	
	<xs:complexType name="BANK_DETAIL">
        <xs:sequence>	            
	            <xs:element name="CODE_TYPE" type="xs:string"/>
	            <xs:element name="BANK_CODE" type="xs:string"/> 	            
        </xs:sequence>
   	</xs:complexType>	

	<xs:complexType name="validaProductoACHResponse">
		<xs:sequence>
			<xs:element name="PRODUCT_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PRODUCT_STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UUID" type="xs:string" minOccurs="1" />				
			<xs:element name="KV_PAIRS" type="trans:KVPairType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="HIT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FOUND" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="KVPairType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="PAIR" type="trans:PairType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PairType">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string"/>
			<xs:element name="VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="validaProductoACH" type="trans:validaProductoACH" />

	<xs:element name="validaProductoACHResponse" type="trans:validaProductoACHResponse" />

</xs:schema>