Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaEstadoTransferenciaACHEnviada/xsd/consultaEstadoTransferenciaACHEnviadaTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaEstadoTransferenciaACHEnviadaTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaEstadoTransferenciaACHEnviadaTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: consultaEstadoTransferenciaACHEnviada -->
    <!--############################################-->
    <xs:element name="consultaEstadoTransferenciaACHEnviada">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="SEQUENCE_ID" type="xs:string"/>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
    <xs:element name="consultaEstadoTransferenciaACHEnviadaResponse">
    	<xs:complexType>
        	<xs:sequence>
				<xs:element name="SEQUENCE_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="REF_CONTROL_BACKEND" type="xs:string" minOccurs="0"/>
				<xs:element name="REF_TRANSACTION_BACKEND" type="xs:string" minOccurs="0"/>
				<xs:element name="ERROR_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
</xs:schema>