Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_UpdateBatchRecordStatus/Schemas/UpdateBatchRecordStatusTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/massivePayment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mas="https://www.ficohsa.com/regional/massivePayment" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBRG_MassivePayment_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="updateBatchRecordStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="CustomerId" type="mas:stringMinLength1"/>
        <xsd:element name="UserId" type="mas:stringMinLength1"/>
        <xsd:element name="QueryType" type="mas:queryType"/>
        <xsd:element name="QueryValue" type="mas:stringMinLength1"/>
        <xsd:element name="Transactions" type="xsd:integer" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="Status" type="mas:statusType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateBatchRecordStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="stringMinLength1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="queryType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BANK_BATCH_ID"/>
      <xsd:enumeration value="CUSTOMER_BATCH_ID"/>
      <xsd:enumeration value="OPERATION_TYPE"/>
      <xsd:enumeration value="TICKET"/>
      <xsd:enumeration value="TXN_REFERENCE"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="statusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INVALID"/>
      <xsd:enumeration value="VALID"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>