Fuentes/ficohsacore-vortex-7ebad6e8baaa/MWHostToHost/v1/BusinessServices/PWS/consultaDetalleLote/xsd/consultaDetalleLote_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalleLote" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalleLote" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOCLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOLOTE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOCLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOLOTE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_NUMEROCLIENTES" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_NUMEROCLIENTESCORRECTOS" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_NUMEROCLIENTESERRORES" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGOCLIENTEGENERADO" type="db:PAGOSWS.TVARCHAR20" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NUMEROCUENTA" type="db:PAGOSWS.TVARCHAR20" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONEDACUENTA" type="db:PAGOSWS.TVARCHAR3" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_IDENTIFICACION" type="db:PAGOSWS.TVARCHAR13" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOMBRECUENTA" type="db:PAGOSWS.TVARCHAR80" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_ESTADO" type="db:PAGOSWS.TVARCHAR20" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DESCRIPCIONERROR" type="db:PAGOSWS.TVARCHAR200" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOERROR" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PAGOSWS.TVARCHAR200">
      <sequence>
         <element name="PT_TVARCHAR200_ITEM" type="db:string200" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TVARCHAR13">
      <sequence>
         <element name="PT_TVARCHAR13_ITEM" type="db:string13" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TVARCHAR20">
      <sequence>
         <element name="PT_TVARCHAR20_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TVARCHAR80">
      <sequence>
         <element name="PT_TVARCHAR80_ITEM" type="db:string80" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.TVARCHAR3">
      <sequence>
         <element name="PT_TVARCHAR3_ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string13">
      <restriction base="string">
         <maxLength value="13"/>
      </restriction>
   </simpleType>
   <simpleType name="string80">
      <restriction base="string">
         <maxLength value="80"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
</schema>