Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/T24/ACHContratos/wsdl/ACHContratos.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_-830395792.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_-1123798799.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="ConsultaContratosACHDebitos">
<part name="parameters" element="tns:ConsultaContratosACHDebitos"/>
</message>
<message name="ConsultaContratosACHDebitosResponse">
<part name="parameters" element="tns:ConsultaContratosACHDebitosResponse"/>
</message>
<message name="RegistrodeContratoACHDebito">
<part name="parameters" element="tns:RegistrodeContratoACHDebito"/>
</message>
<message name="RegistrodeContratoACHDebitoResponse">
<part name="parameters" element="tns:RegistrodeContratoACHDebitoResponse"/>
</message>
<message name="RegistrodeContratoACHDebito_Validate">
<part name="parameters" element="tns:RegistrodeContratoACHDebito_Validate"/>
</message>
<message name="RegistrodeContratoACHDebito_ValidateResponse">
<part name="parameters" element="tns:RegistrodeContratoACHDebito_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="ConsultaContratosACHDebitos">
<input message="tns:ConsultaContratosACHDebitos"/>
<output message="tns:ConsultaContratosACHDebitosResponse"/>
</operation>
<operation name="RegistrodeContratoACHDebito">
<input message="tns:RegistrodeContratoACHDebito"/>
<output message="tns:RegistrodeContratoACHDebitoResponse"/>
</operation>
<operation name="RegistrodeContratoACHDebito_Validate">
<input message="tns:RegistrodeContratoACHDebito_Validate"/>
<output message="tns:RegistrodeContratoACHDebito_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaContratosACHDebitos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrodeContratoACHDebito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrodeContratoACHDebito_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcContratosACH/services"/>
</port>
</service>
</definitions>