Fuentes/ficohsacore-osb12-b78f21b126d5/Applications/ProviderServices/XSD/achCDM.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org"
            targetNamespace="http://www.ficohsa.com/ach" elementFormDefault="qualified"
            xmlns:ach="http://www.ficohsa.com/ach"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            nxsd:version="JSON" nxsd:encoding="UTF-8">
 <xsd:element name="DoEchoResponse">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="currentTime" minOccurs="0" type="xsd:string"/>
    <xsd:element name="StatusCode" minOccurs="0" type="xsd:string"/>
    <xsd:element name="Message" minOccurs="0" type="xsd:string"/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
 <xsd:element name="GetTicketResponse">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="ticket" minOccurs="0" type="xsd:string"/>
    <xsd:element name="StatusCode" minOccurs="0" type="xsd:string"/>
    <xsd:element name="Message" minOccurs="0" type="xsd:string"/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
 <xsd:element name="SendCredit">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="achTicket" type="xsd:string" minOccurs="0"/>
    <xsd:element name="messagetype" type="xsd:string" minOccurs="0"/>
    <xsd:element name="userName" type="xsd:string" minOccurs="0"/>
    <xsd:element name="fiMessageRequestDetails" maxOccurs="unbounded" minOccurs="0">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="receivingBankId" minOccurs="0" type="xsd:string"/>
          <xsd:element name="originatorId" minOccurs="0" type="xsd:string"/>
          <xsd:element name="originatorAccount" type="xsd:string" minOccurs="0"/>
          <xsd:element name="accountType" type="xsd:int" minOccurs="0"/>
          <xsd:element name="originatorName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="receivingId" type="xsd:string" minOccurs="0"/>
          <xsd:element name="destinationAccount" type="xsd:string" minOccurs="0"/>
          <xsd:element name="destinationAccountType" type="xsd:int" minOccurs="0"/>
          <xsd:element name="recipientName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>
          <xsd:element name="instructionIdentification" type="xsd:string" minOccurs="0"/>
          <xsd:element name="currencyISO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="amount" type="xsd:double" minOccurs="0"/>
          <xsd:element name="IdQr" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
 <xsd:element name="SendCreditResponse">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="achTicket" minOccurs="0" type="xsd:string"/>
    <xsd:element name="processed" minOccurs="0" type="xsd:string"/>
    <xsd:element name="messageType" minOccurs="0" type="xsd:string"/>
    <xsd:element name="fiMessageResponseDetails" minOccurs="0" maxOccurs="unbounded">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="receivingBankId" minOccurs="0" type="xsd:string"/>
          <xsd:element name="detailId" minOccurs="0" type="xsd:string"/>
          <xsd:element name="amount" minOccurs="0" type="xsd:double"/>
          <xsd:element name="status" minOccurs="0" type="xsd:int"/>
          <xsd:element name="originatingAccount" minOccurs="0" type="xsd:string"/>
          <xsd:element name="receivingAccount" minOccurs="0" type="xsd:string"/>
          <xsd:element name="receivingAccountName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="results" type="xsd:string" minOccurs="0"/>
          <xsd:element name="reasonCode" type="xsd:string" minOccurs="0"/>
          <xsd:element name="instructionIdentification" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="StatusCode" minOccurs="0" type="xsd:string"/>
    <xsd:element name="Message" minOccurs="0" type="xsd:string"/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
 <xsd:element name="GetTransactionStatusResponse">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="achTicket" minOccurs="0" type="xsd:string"/>
    <xsd:element name="processed" minOccurs="0" type="xsd:string"/>
    <xsd:element name="messageType" minOccurs="0" type="xsd:int"/>
    <xsd:element name="fiMessageResponseDetails" minOccurs="0" maxOccurs="unbounded">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="receivingBankId" minOccurs="0" type="xsd:string"/>
          <xsd:element name="detailId" minOccurs="0" type="xsd:string"/>
          <xsd:element name="amount" minOccurs="0" type="xsd:double"/>
          <xsd:element name="status" minOccurs="0" type="xsd:int"/>
          <xsd:element name="originatingAccount" minOccurs="0" type="xsd:string"/>
          <xsd:element name="receivingAccount" minOccurs="0" type="xsd:string"/>
          <xsd:element name="receivingAccountName" minOccurs="0" type="xsd:string"/>
          <xsd:element name="results" minOccurs="0" type="xsd:string"/>
          <xsd:element name="reasonCode" minOccurs="0" type="xsd:string"/>
          <xsd:element name="instructionIdentification" minOccurs="0" type="xsd:string"/>
       <xsd:element name="coreBankingTransaccion" minOccurs="0" type="xsd:string"/>
       <xsd:element name="messageId" minOccurs="0" type="xsd:string"/>
       <xsd:element name="transactionStatus" minOccurs="0" type="xsd:string"/>
       <xsd:element name="messages" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="StatusCode" minOccurs="0" type="xsd:string"/>
    <xsd:element name="Message" minOccurs="0" type="xsd:string"/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
 <xsd:element name="GetReportTransactionRequest">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="countryId" minOccurs="0" type="xsd:int"/>
    <xsd:element name="bank" minOccurs="0" type="xsd:string"/>
    <xsd:element name="transactionType" minOccurs="0" type="xsd:string"/>
    <xsd:element name="originatorAccount" minOccurs="0" type="xsd:string"/>
    <xsd:element name="destinationAccount" minOccurs="0" type="xsd:string"/>
    <xsd:element name="processedTime" minOccurs="0" type="xsd:string"/>
    <xsd:element name="currency" minOccurs="0" type="xsd:string"/>
    <xsd:element name="initialAmount" minOccurs="0" type="xsd:double"/>
    <xsd:element name="finalAmount" minOccurs="0" type="xsd:double"/>
    <xsd:element name="pageSize" minOccurs="0" type="xsd:int"/>
    <xsd:element name="page" minOccurs="0" type="xsd:int"/>
    <xsd:element name="userName" type="xsd:string"/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
 <xsd:element name="GetReportTransactionResponse">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="currentPage" type="xsd:int" minOccurs="0"/>
    <xsd:element name="totalPages" type="xsd:int" minOccurs="0"/>
    <xsd:element name="pageSize" type="xsd:int" minOccurs="0"/>
    <xsd:element name="details" minOccurs="0" maxOccurs="unbounded">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="transactionType" minOccurs="0" type="xsd:string"/>
          <xsd:element name="messageType" minOccurs="0" type="xsd:string"/>
          <xsd:element name="processedTime" minOccurs="0" type="xsd:string"/>
          <xsd:element name="bank" minOccurs="0" type="xsd:string"/>
          <xsd:element name="receivingBankId" minOccurs="0" type="xsd:string"/>
          <xsd:element name="accountType" minOccurs="0" type="xsd:int"/>
          <xsd:element name="originatorAccount" minOccurs="0" type="xsd:string"/>
          <xsd:element name="destinationAccountType" minOccurs="0" type="xsd:int"/>
          <xsd:element name="destinationAccount" minOccurs="0" type="xsd:string"/>
          <xsd:element name="currencyIso" minOccurs="0" type="xsd:string"/>
          <xsd:element name="amount" minOccurs="0" type="xsd:double"/>
          <xsd:element name="reasonCode" minOccurs="0" type="xsd:string"/>
          <xsd:element name="results" minOccurs="0" type="xsd:string"/>
          <xsd:element name="status" minOccurs="0" type="xsd:int"/>
          <xsd:element name="instructionIdentification" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="StatusCode" minOccurs="0" type="xsd:string"/>
    <xsd:element name="Message" minOccurs="0" type="xsd:string"/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>