Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/solicitudChequeras/Resources/SolicitudChequeras.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_314709865.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_21306858.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Registrodechequerapropimpresion">
<part name="parameters" element="tns:Registrodechequerapropimpresion"/>
</message>
<message name="RegistrodechequerapropimpresionResponse">
<part name="parameters" element="tns:RegistrodechequerapropimpresionResponse"/>
</message>
<message name="Registrodechequerapropimpresion_Validate">
<part name="parameters" element="tns:Registrodechequerapropimpresion_Validate"/>
</message>
<message name="Registrodechequerapropimpresion_ValidateResponse">
<part name="parameters" element="tns:Registrodechequerapropimpresion_ValidateResponse"/>
</message>
<message name="Solicituddechequera">
<part name="parameters" element="tns:Solicituddechequera"/>
</message>
<message name="SolicituddechequeraResponse">
<part name="parameters" element="tns:SolicituddechequeraResponse"/>
</message>
<message name="Solicituddechequera_Validate">
<part name="parameters" element="tns:Solicituddechequera_Validate"/>
</message>
<message name="Solicituddechequera_ValidateResponse">
<part name="parameters" element="tns:Solicituddechequera_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Registrodechequerapropimpresion">
<input message="tns:Registrodechequerapropimpresion"/>
<output message="tns:RegistrodechequerapropimpresionResponse"/>
</operation>
<operation name="Registrodechequerapropimpresion_Validate">
<input message="tns:Registrodechequerapropimpresion_Validate"/>
<output message="tns:Registrodechequerapropimpresion_ValidateResponse"/>
</operation>
<operation name="Solicituddechequera">
<input message="tns:Solicituddechequera"/>
<output message="tns:SolicituddechequeraResponse"/>
</operation>
<operation name="Solicituddechequera_Validate">
<input message="tns:Solicituddechequera_Validate"/>
<output message="tns:Solicituddechequera_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registrodechequerapropimpresion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registrodechequerapropimpresion_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Solicituddechequera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Solicituddechequera_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcSolicitudChequera/services"/>
</port>
</service>
</definitions>