Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultasTipoIdentidad/consultasTipoIdentidadTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultasTipoIdentidadTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultasTipoIdentidadTypes">

	<xs:complexType name = "consultasTipoIdentidadResponseArrayType">
		<xs:sequence>
			<xs:element name="ID_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="CUSTOMER_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="ID_NAME" type="xs:string" minOccurs="0" />
	    </xs:sequence> 
	</xs:complexType>
	
	<xs:complexType name="consultasTipoIdentidadResponseRecordType">
			<xs:sequence>
					<xs:element name="consultasTipoIdentidadResponseRecordType" type="cons:consultasTipoIdentidadResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultasTipoIdentidadResponseType">
		<xs:sequence>
			<xs:element name="consultasTipoIdentidadResponseType" type="cons:consultasTipoIdentidadResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
		<xs:element name="consultasTipoIdentidad">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="CUSTOMER_TYPE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultasTipoIdentidadResponse" type="cons:consultasTipoIdentidadResponseType"/>
	
</xs:schema>