Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/tarjetaCredito/wsdl/COBISCorp.eCOBIS.SrvAplCobisTarjetaCredito.Service.wsdl

<wsdl:definitions name="SrvAplCobisTarjetaCredito" targetNamespace="http://impl.service.srvaplcobistarjetacredito.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.srvaplcobistarjetacredito.ecobis.cobiscorp" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:S1="http://impl.service.srvaplcobistarjetacredito.ecobis.cobiscorp/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.srvaplcobistarjetacredito.ecobis.cobiscorp/"><xsd:import namespace="http://service.srvaplcobistarjetacredito.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsjOpConsultaDatosTarjetaCreditoSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaDatosTarjetaCreditoSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpPagoTarjetaCreditoRespuesta">
    <wsdl:part name="parameters" element="tns:opPagoTarjetaCreditoRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaMovimientosTarjetaCreditoRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaMovimientosTarjetaCreditoRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaDatosTarjetaCreditoRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaDatosTarjetaCreditoRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpPagoTarjetaCreditoSolicitud">
    <wsdl:part name="parameters" element="tns:opPagoTarjetaCreditoSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaSaldosTarjetaCreditoRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaSaldosTarjetaCreditoRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaSaldosTarjetaCreditoSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaSaldosTarjetaCreditoSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaMovimientosTarjetaCreditoSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaMovimientosTarjetaCreditoSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SrvAplCobisTarjetaCredito">
    <wsdl:operation name="OpConsultaDatosTarjetaCredito">
      <wsdl:input message="S1:MsjOpConsultaDatosTarjetaCreditoSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpConsultaDatosTarjetaCreditoRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaMovimientosTarjetaCredito">
      <wsdl:input message="S1:MsjOpConsultaMovimientosTarjetaCreditoSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpConsultaMovimientosTarjetaCreditoRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaSaldosTarjetaCredito">
      <wsdl:input message="S1:MsjOpConsultaSaldosTarjetaCreditoSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpConsultaSaldosTarjetaCreditoRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpPagoTarjetaCredito">
      <wsdl:input message="S1:MsjOpPagoTarjetaCreditoSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpPagoTarjetaCreditoRespuesta">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvAplCobisTarjetaCreditoBindingSOAP12" type="S1:SrvAplCobisTarjetaCredito">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpConsultaDatosTarjetaCredito">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaMovimientosTarjetaCredito">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaSaldosTarjetaCredito">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpPagoTarjetaCredito">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvAplCobisTarjetaCreditoService">
    <wsdl:port name="SrvAplCobisTarjetaCreditoBindingSOAP12" binding="S1:SrvAplCobisTarjetaCreditoBindingSOAP12">
      <soap12:address location="http://10.235.53.145:9080/GerenciaProductoTC/SrvAplCobisTarjetaCreditoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>