Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ServiciosEmpresariales/registraClienteSolEmprendedor/xsd/registraClienteSolEmprendedor_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraClienteSolEmprendedor" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraClienteSolEmprendedor" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_CUSTOMER_ID" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_CUSTOMER_NAME" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_LEGAL_ID" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_TARGET_ID" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_TARGET_DESCRIPTION" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_BRANCH_CODE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_EXPIRATION_DAY" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_FINANCIAL_STMT_DATE" type="dateTime" db:index="8" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_NEXT_FINANCIAL_STMT_DATE" type="dateTime" db:index="9" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_ACTIVE" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_AUTO_DEBIT" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_USER" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_USER_AUTORIZA" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_EMAILS" type="db:DLC.TVARCHAR256" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_LOAN_LIMITS" type="db:DLC.T_LOAN_LIMITS_DLC" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_DESTINATION_PRODUCTS" type="db:DLC.T_DESTINATION_PRODUCTS_DLC" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_DEBIT_ACCOUNTS" type="db:DLC.T_DEBIT_ACCOUNTS_DLC" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CREDIT_LINES" type="db:DLC.T_CREDIT_LINES_DLC" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DLC.RT_CHARGES_DLC">
      <sequence>
         <element name="CHARGES_NAME" type="db:string128" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CHARGES_TYPE" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CHARGES_RANGE" type="db:DLC.T_RANGE_DLC" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="CHARGES_VALUE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHARGES_ACTION" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_DESTINATION_PRODUCTS_DLC">
      <sequence>
         <element name="PRODUCT_ID" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TYPE" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACTION" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_REPAYMENT_TYPES_DLC">
      <sequence>
         <element name="CODE" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPTION" type="db:string128" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FRECUENCY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MAX_PAYMENT_TERM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ACTION" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_LOAN_PRODUCTS_DLC">
      <sequence>
         <element name="LOAN_PRODUCTS_DLC_ITEM" type="db:DLC.OT_LOAN_PRODUCTS_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_LOAN_LIMITS_DLC">
      <sequence>
         <element name="P_LOAN_LIMITS_ITEM" type="db:DLC.OT_LOAN_LIMITS_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_CHARGES_DLC">
      <sequence>
         <element name="CHARGE_ITEM" type="db:DLC.RT_CHARGES_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_DEBIT_ACCOUNTS_DLC">
      <sequence>
         <element name="P_DEBIT_ACCOUNTS_ITEM" type="db:DLC.OT_DEBIT_ACCOUNTS_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_REPAYMENT_TYPES_DLC">
      <sequence>
         <element name="REPAYMENT_TYPE_ITEM" type="db:DLC.OT_REPAYMENT_TYPES_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_LOAN_LIMITS_DLC">
      <sequence>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MAX_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ENABLED" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.RT_RANGE_DLC">
      <sequence>
         <element name="RANGE_INITIAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RANGE_FINAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RANGE_VALUE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_DESTINATION_PRODUCTS_DLC">
      <sequence>
         <element name="P_DESTINATION_PRODUCTS_ITEM" type="db:DLC.OT_DESTINATION_PRODUCTS_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_RANGE_DLC">
      <sequence>
         <element name="CHARGES_RANGE_ITEM" type="db:DLC.RT_RANGE_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TVARCHAR256">
      <sequence>
         <element name="P_EMAILS_ITEM" type="db:string256" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_DEBIT_ACCOUNTS_DLC">
      <sequence>
         <element name="ACCOUNT_ID" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TYPE" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACTION" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_RATES_DLC">
      <sequence>
         <element name="RATE_ITEM" type="db:DLC.RT_RATES_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_CREDIT_LINES_DLC">
      <sequence>
         <element name="P_CREDIT_LINES_ITEM" type="db:DLC.OT_CREDIT_LINES_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_CREDIT_LINES_DLC">
      <sequence>
         <element name="ID" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ECONOMIC_ACTIVITY_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EXPIRY_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="AVAILABLE_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVESTMENT_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVESTMENT_SUB_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DESTINATION_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="APPROVAL_CODE" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OFFICER" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OFFICER_BRANCH_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SUB_ORIGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REVISION_RATE_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MONTHLY_SETTLEMENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="YEARLY_SETTLEMENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="GRACE_PERIOD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREDIT_EXPENDITURE_FORMAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="COMMISSION_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHARGED_CREDIT_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MAX_PAYMENT_PERIOD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHARGED_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LOAN_PRODUCTS_DLC" type="db:DLC.T_LOAN_PRODUCTS_DLC" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_LOAN_PRODUCTS_DLC">
      <sequence>
         <element name="ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OBLIGATION_TYPE" type="db:string6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OBLIGATION_DESCRIPTION" type="db:string70" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GUARANTEE_TYPE" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GUARANTEE_DESCRIPTION" type="db:string70" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REPAYMENT_TYPE" type="db:DLC.T_REPAYMENT_TYPES_DLC" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="RATE" type="db:DLC.T_RATES_DLC" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="CHARGE" type="db:DLC.T_CHARGES_DLC" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.RT_RATES_DLC">
      <sequence>
         <element name="RATE_CLASS" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RATE_GROUP" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TERM_IN_MONTHS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LOAN_RATE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RATE_ACTION" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string6">
      <restriction base="string">
         <maxLength value="6"/>
      </restriction>
   </simpleType>
   <simpleType name="string70">
      <restriction base="string">
         <maxLength value="70"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string128">
      <restriction base="string">
         <maxLength value="128"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
</schema>