Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/CreacionClienteTarjetaCredito_v2/wsdl/CreacionClienteTarjetaCredito_v2.wsdl

<WL5G3N0:definitions name="creacionClienteTarjetaCreditoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cct="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_1099236507.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cct="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/creacionClienteTarjetaCreditoTypes" schemaLocation="../xsd/XMLSchema_1442619029.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="creacionClienteTarjetaCreditoRequest">
    <WL5G3N0:part element="WL5G3N2:creacionClienteTarjetaCredito" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="creacionClienteTarjetaCreditoResponse">
    <WL5G3N0:part element="WL5G3N2:creacionClienteTarjetaCreditoResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="creacionClienteTarjetaCreditoPS">
    <WL5G3N0:operation name="creacionClienteTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:creacionClienteTarjetaCreditoRequest"/>
      <WL5G3N0:output message="WL5G3N3:creacionClienteTarjetaCreditoResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="creacionClienteTarjetaCreditoPSSOAP" type="WL5G3N3:creacionClienteTarjetaCreditoPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="creacionClienteTarjetaCredito">
      <WL5G3N4:operation soapAction="http://www.example.org/creacionClienteTarjetaCreditoPS/creacionClienteTarjetaCredito"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="creacionClienteTarjetaCreditoPS">
    <WL5G3N0:port binding="WL5G3N3:creacionClienteTarjetaCreditoPSSOAP" name="creacionClienteTarjetaCreditoPSSOAP">
      <WL5G3N4:address location="http://JZAMBRANO:7001/Middleware/OperationsAndExecution/Cards/CreacionClienteTarjetaCredito"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>