Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ServiciosEmpresariales/wsdl/serviciosEmpresarialesPS.wsdl

<wsdl:definitions name="serviciosEmpresarialesPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:set="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesTypes" schemaLocation="../xsd/serviciosEmpresarialesTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="registraClienteDesembolsoLineaCredito">
		<wsdl:part element="set:registraClienteDesembolsoLineaCredito" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="registraClienteDesembolsoLineaCreditoResponse">
		<wsdl:part element="set:registraClienteDesembolsoLineaCreditoResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="consultaClienteDesembolsoLineaCredito">
		<wsdl:part element="set:consultaClienteDesembolsoLineaCredito" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaClienteDesembolsoLineaCreditoResponse">
		<wsdl:part element="set:consultaClienteDesembolsoLineaCreditoResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="modificaClienteDesembolsoLineaCredito">
		<wsdl:part element="set:modificaClienteDesembolsoLineaCredito" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="modificaClienteDesembolsoLineaCreditoResponse">
		<wsdl:part element="set:modificaClienteDesembolsoLineaCreditoResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="registraTargetTipoPrestamo">
		<wsdl:part element="set:registraTargetTipoPrestamo" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="registraTargetTipoPrestamoResponse">
		<wsdl:part element="set:registraTargetTipoPrestamoResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="consultaTargetTipoPrestamo">
		<wsdl:part element="set:consultaTargetTipoPrestamo" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="consultaTargetTipoPrestamoResponse">
		<wsdl:part element="set:consultaTargetTipoPrestamoResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="modificaTargetTipoPrestamo">
		<wsdl:part element="set:modificaTargetTipoPrestamo" name="parameters"/>
		<wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="modificaTargetTipoPrestamoResponse">
		<wsdl:part element="set:modificaTargetTipoPrestamoResponse" name="result"/>
		<wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:portType name="serviciosEmpresarialesPS">
	
		<wsdl:operation name="registraClienteDesembolsoLineaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:registraClienteDesembolsoLineaCredito"/>
			<wsdl:output message="tns:registraClienteDesembolsoLineaCreditoResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaClienteDesembolsoLineaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:consultaClienteDesembolsoLineaCredito"/>
			<wsdl:output message="tns:consultaClienteDesembolsoLineaCreditoResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="modificaClienteDesembolsoLineaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:modificaClienteDesembolsoLineaCredito"/>
			<wsdl:output message="tns:modificaClienteDesembolsoLineaCreditoResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="registraTargetTipoPrestamo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:registraTargetTipoPrestamo"/>
			<wsdl:output message="tns:registraTargetTipoPrestamoResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaTargetTipoPrestamo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:consultaTargetTipoPrestamo"/>
			<wsdl:output message="tns:consultaTargetTipoPrestamoResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="modificaTargetTipoPrestamo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:modificaTargetTipoPrestamo"/>
			<wsdl:output message="tns:modificaTargetTipoPrestamoResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="serviciosEmpresarialesPSSOAP" type="tns:serviciosEmpresarialesPS">
	
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="registraClienteDesembolsoLineaCredito">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/serviciosEmpresariales"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:registraClienteDesembolsoLineaCredito" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:registraClienteDesembolsoLineaCreditoResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="consultaClienteDesembolsoLineaCredito">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/serviciosEmpresariales"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:consultaClienteDesembolsoLineaCredito" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:consultaClienteDesembolsoLineaCreditoResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		
		<wsdl:operation name="modificaClienteDesembolsoLineaCredito">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/serviciosEmpresariales"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:modificaClienteDesembolsoLineaCredito" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:modificaClienteDesembolsoLineaCreditoResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="registraTargetTipoPrestamo">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/serviciosEmpresariales"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:registraTargetTipoPrestamo" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:registraTargetTipoPrestamoResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		
		<wsdl:operation name="consultaTargetTipoPrestamo">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/serviciosEmpresariales"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:consultaTargetTipoPrestamo" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:consultaTargetTipoPrestamoResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="modificaTargetTipoPrestamo">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/serviciosEmpresariales"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:modificaTargetTipoPrestamo" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:modificaTargetTipoPrestamoResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
	</wsdl:binding>

	<wsdl:service name="serviciosEmpresarialesPS">
		<wsdl:port binding="tns:serviciosEmpresarialesPSSOAP" name="serviciosEmpresarialesPSSOAP">
	  		<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/CustomerLoans/ServiciosEmpresariales"/>
	   	</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>