Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/LoginSalesforce/xsd/loginSalesforceTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/loginSalesforceTypes"
	xmlns:log="http://www.ficohsa.com.hn/middleware.services/loginSalesforceTypes">

	<xs:element name="loginSalesforce">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FORCE_NEW_SESSION" type="xs:boolean"/>
				<xs:element name="SALESFORCE_INFO" type="log:salesforceLoginInfoType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="salesforceLoginInfoType">
		<xs:sequence>
			<xs:element name="USERNAME" type="xs:string"/>
			<xs:element name="PASSWORD" type="xs:string"/>
			<xs:element name="OPERATION" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="salesforceLoginResponseType">
		<xs:complexContent>
			<xs:extension base="log:salesforceLoginInfoType">
				<xs:sequence>
					<xs:element name="SESSION" type="xs:string"/>
					<xs:element name="API_FLOW_NAME" type="xs:string" minOccurs="0"/>
					
				</xs:sequence>		
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="loginSalesforceResponse">
		<xs:complexType>
			<xs:sequence>
		        <xs:element name="SALESFORCE_INFO" type="log:salesforceLoginResponseType" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>