Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/Resources/ConsultaSaldosTC/wsdl/consultaSaldosTC.wsdl

<wsdl:definitions name="consultaMaestraSaldosTarjetaCreditoPS" 
targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMaestraSaldosTarjetaCreditoPS/" 
xmlns:cstc="http://www.ficohsa.com.hn/middleware.services/consultaMaestraSaldosTarjetaCreditoPS/" 
xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" 
xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaMaestraSaldosTarjetaCreditoTypes" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../../../v2/Resources/esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaMaestraSaldosTarjetaCreditoTypes" schemaLocation="../xsd/consultaSaldosTCTypes.xsd"/>
		</xsd:schema>
    </wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	

	<wsdl:message name="consultaMaestraSaldosTarjetaCreditoRequest">
		<wsdl:part element="tns:consultaMaestraSaldosTarjetaCredito" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="consultaMaestraSaldosTarjetaCreditoResponse">
		<wsdl:part element="tns:consultaMaestraSaldosTarjetaCreditoResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="consultaMaestraSaldosTarjetaCreditoPS">
		<wsdl:operation name="consultaMaestraSaldosTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="cstc:consultaMaestraSaldosTarjetaCreditoRequest"/>
			<wsdl:output message="cstc:consultaMaestraSaldosTarjetaCreditoResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="consultaMaestraSaldosTarjetaCreditoPSSOAP" type="cstc:consultaMaestraSaldosTarjetaCreditoPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaMaestraSaldosTarjetaCredito">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="cstc:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="cstc:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="consultaMaestraSaldosTarjetaCreditoPS">
		<wsdl:port binding="cstc:consultaMaestraSaldosTarjetaCreditoPSSOAP" name="consultaMaestraSaldosTarjetaCreditoPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/consultaMaestraSaldosTarjetaCredito/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>