Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RemplazoPlasticoTC/wsdl/remplazoPlasticoTCPS.wsdl

<wsdl:definitions name="remplazoPlasticoTCPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/remplazoPlasticoTCPS/" xmlns:atc="http://www.ficohsa.com.hn/middleware.services/remplazoPlasticoTCPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" schemaLocation="../../GestionesTarjetas/xsd/gestionesTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="remplazoPlasticoTCRequest">
		<wsdl:part element="tns:remplazoPlasticoTC" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="remplazoPlasticoTCResponse">
		<wsdl:part element="tns:remplazoPlasticoTCResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="remplazoPlasticoTCPS">
		<wsdl:operation name="remplazoPlasticoTC" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="atc:remplazoPlasticoTCRequest"/>
			<wsdl:output message="atc:remplazoPlasticoTCResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="remplazoPlasticoTCPSSOAP" type="atc:remplazoPlasticoTCPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="remplazoPlasticoTC">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="atc:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="atc:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="remplazoPlasticoTCPS">
		<wsdl:port binding="atc:remplazoPlasticoTCPSSOAP" name="remplazoPlasticoTCPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/RemplazoPlasticoTC/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>