Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/SuspensionCheques/xsd/suspensionChequesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:schq="http://www.ficohsa.com.hn/middleware.services/suspensionChequesTypes"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/suspensionChequesTypes">

	<!-- SuspensionCheques TYPE -->
	<xs:simpleType name="suspensionChequeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LOST" />
			<xs:enumeration value="DESTROYED" />
			<xs:enumeration value="STOLEN" />
			<xs:enumeration value="EXCCESS_PRINTING" />
			<xs:enumeration value="OFAC_INVESTIGATION" />
			<xs:enumeration value="CANCELLED" />
			<xs:enumeration value="ACC_CANCELLED" />
			<xs:enumeration value="ISSUANCE_ERROR" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="suspensionChequesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
				<xs:element name="FIRST_CHEQUE_NUMBER" type="xs:double" />
				<xs:element name="LAST_CHEQUE_NUMBER" type="xs:double" />
				<xs:element name="PAYMENT_STOP_MOTIVE" type="schq:suspensionChequeType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="suspensionChequesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="STATUS_DESC" type="xs:string" minOccurs="0"/>
				<xs:element name="CHEQUES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CHEQUE" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CHEQUE_NUMBER" type="xs:string"
											minOccurs="0" />
										<xs:element name="STATUS" type="xs:string" 
											minOccurs="0"/>
										<xs:element name="STATUS_DESC" type="xs:string" 
											minOccurs="0"/>
										<xs:element name="MOTIVE" type="schq:suspensionChequeType"
											minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>