Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABK/consultaLineasCreditoCliente/xsd/consultaLineasCreditoCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaLineasCreditoCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaLineasCreditoCliente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_CUSTOMER_ID" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_CRED_LINE_ID" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_CUSTOMER_NAME" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_CREDIT_LINE_ID" type="db:PROXYABANKSHN.TVARCHAR20" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CREDIT_LINE_TYPE" type="db:PROXYABANKSHN.TVARCHAR50" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CREDIT_LINE_CURRENCY" type="db:PROXYABANKSHN.TVARCHAR3" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_OPENING_DATE" type="db:PROXYABANKSHN.TVARCHAR20" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_EXPIRY_DATE" type="db:PROXYABANKSHN.TVARCHAR20" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_AMOUNT" type="db:PROXYABANKSHN.TVARCHAR20" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_USED_AMOUNT" type="db:PROXYABANKSHN.TVARCHAR20" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_AVAILABLE_AMOUNT" type="db:PROXYABANKSHN.TVARCHAR20" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_STATUS" type="db:PROXYABANKSHN.TNUMBER" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_DESCRIPTION" type="db:PROXYABANKSHN.TVARCHAR256" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSHN.TDATE">
      <sequence>
         <element name="P_OPENING_DATE_ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR256">
      <sequence>
         <element name="P_DESCRIPTION_ITEM" type="db:string256" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR3">
      <sequence>
         <element name="P_CREDIT_LINE_CURRENCY_ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TNUMBER">
      <sequence>
         <element name="P_STATUS_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR20">
      <sequence>
         <element name="P_CREDIT_LINE_ID_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR50">
      <sequence>
         <element name="P_CREDIT_LINE_TYPE_ITEM" type="db:string50" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
</schema>