Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/INXU/wsdl/WSInxuBancaseguroService_1.wsdl

<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6.--><!--Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6.--><definitions targetNamespace="http://wsInxuBancaseguroService.bancaseguros.ingesis.com/" name="WsInxuBancaseguroService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsInxuBancaseguroService.bancaseguros.ingesis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://wsInxuBancaseguroService.bancaseguros.ingesis.com/" schemaLocation="../xsd/WSInxuBancaseguroService.xsd"/>
    </xsd:schema>
  </types>
  <message name="altaDeSeguro">
    <part name="parameters" element="tns:altaDeSeguro"/>
  </message>
  <message name="altaDeSeguroResponse">
    <part name="parameters" element="tns:altaDeSeguroResponse"/>
  </message>
  <message name="consultaDeSeguro">
    <part name="parameters" element="tns:consultaDeSeguro"/>
  </message>
  <message name="consultaDeSeguroResponse">
    <part name="parameters" element="tns:consultaDeSeguroResponse"/>
  </message>
  <message name="cobroDeSeguro">
    <part name="parameters" element="tns:cobroDeSeguro"/>
  </message>
  <message name="cobroDeSeguroResponse">
    <part name="parameters" element="tns:cobroDeSeguroResponse"/>
  </message>
  <portType name="WsInxuBancaseguro">
    <operation name="altaDeSeguro">
      <input wsam:Action="http://wsInxuBancaseguroService.bancaseguros.ingesis.com/WsInxuBancaseguro/altaDeSeguroRequest" message="tns:altaDeSeguro"/>
      <output wsam:Action="http://wsInxuBancaseguroService.bancaseguros.ingesis.com/WsInxuBancaseguro/altaDeSeguroResponse" message="tns:altaDeSeguroResponse"/>
    </operation>
    <operation name="consultaDeSeguro">
      <input wsam:Action="http://wsInxuBancaseguroService.bancaseguros.ingesis.com/WsInxuBancaseguro/consultaDeSeguroRequest" message="tns:consultaDeSeguro"/>
      <output wsam:Action="http://wsInxuBancaseguroService.bancaseguros.ingesis.com/WsInxuBancaseguro/consultaDeSeguroResponse" message="tns:consultaDeSeguroResponse"/>
    </operation>
    <operation name="cobroDeSeguro">
      <input wsam:Action="http://wsInxuBancaseguroService.bancaseguros.ingesis.com/WsInxuBancaseguro/cobroDeSeguroRequest" message="tns:cobroDeSeguro"/>
      <output wsam:Action="http://wsInxuBancaseguroService.bancaseguros.ingesis.com/WsInxuBancaseguro/cobroDeSeguroResponse" message="tns:cobroDeSeguroResponse"/>
    </operation>
  </portType>
  <binding name="WsInxuBancaseguroServicePortBinding" type="tns:WsInxuBancaseguro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="altaDeSeguro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaDeSeguro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cobroDeSeguro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WsInxuBancaseguroService">
    <port name="WsInxuBancaseguroServicePort" binding="tns:WsInxuBancaseguroServicePortBinding">
      <soap:address location="http://172.26.12.26:7001/bancaseguros/webservices/WSInxuBancaseguroService"/>
    </port>
  </service>
</definitions>