Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/DEBITCARD/modificaReorden/xsd/modificaReorden_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/modificaReorden" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/modificaReorden" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_BRANCH_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_BIN" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_COUNTRY" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_MODIFICATION_DETAILS" type="db:DEBICARD.T_MODIFICATION_DETAILS" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_MODIFICATION_DETAILS_OUT" type="db:DEBICARD.T_MODIFICATION_DETAILS" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_CODE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_MESSAGE" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DEBICARD.OT_ACTION">
      <sequence>
         <element name="TYPE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALUE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RETURN_CODE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RETURN_MESSAGE" type="db:string250" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DEBICARD.T_MODIFICATION_DETAILS">
      <sequence>
         <element name="PT_MODIFICATION_DETAILS_ITEM" type="db:DEBICARD.OT_ACTION" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
</schema>