Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/FixedTermDepOperations/xsd/FixedTermDepOperationsTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/fixedTermDepOperationsTypes"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ftd="http://www.ficohsa.com.hn/middleware.services/fixedTermDepOperationsTypes"
	xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes"
	xmlns:acc="http://www.ficohsa.com.hn/middleware.services/accountTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes"
		schemaLocation="../../General/xsd/GeneralTypes.xsd" />
	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/accountTypes"
		schemaLocation="../../General/xsd/AccountTypes.xsd" />

	<!-- Fixed Term Query -->
	<xs:element name="fixedTermDepQuery" type="ftd:fixedTermDepQueryType" />

	<xs:complexType name="fixedTermDepQueryType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="fixedTermDepQueryResponse" type="ftd:fixedTermDepQueryRspType" />

	<xs:complexType name="fixedTermDepQueryRspType">
		<xs:sequence>
			<xs:element name="ACCOUNT_INFO" type="acc:accountDetailsType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- Initial Deposit -->
	<xs:element name="fixedTermInitialDeposit" type="ftd:fixedTermInitialDepositType" />

	<xs:complexType name="fixedTermInitialDepositType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="DEPOSIT_ITEMS" type="ftd:depositItemsType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="depositItemsType">
		<xs:sequence>
			<xs:element name="DEPOSIT_ITEM" type="gen:payItemType"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="fixedTermInitialDepositResponse" type="ftd:fixedTermInitialDepositRspType" />

	<xs:complexType name="fixedTermInitialDepositRspType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="gen:accountNumberType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="ACCOUNT_NAME" type="xs:string"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="DEPOSIT_SUMMARY" type="ftd:depositSummaryType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="depositSummaryType">
		<xs:sequence>
			<xs:element name="DEPOSIT_ITEM" type="gen:payItemType"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>