Fuentes/ficohsacore-osb12-b78f21b126d5/CustomerRelationshipManagement/ProviderServices/v1.0/OnBase/XSD/onbaseTypes.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:onb="http://onbase.ficohsa.com"
            targetNamespace="http://onbase.ficohsa.com" elementFormDefault="qualified">
  <xsd:element name="loginRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="UserName" type="xsd:string"/>
            <xsd:element name="Password" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  <xsd:element name="loginResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="SessionID" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  <xsd:element name="SaveDocumentRequest">
       <xsd:complexType>
          <xsd:sequence>
             <xsd:element name="DocumentTypeName" type="xsd:string"/>
             <xsd:element name="SessionID" type="xsd:string"/>
             <xsd:element name="FileFormat" type="xsd:string"/>
             <xsd:element name="FileExtension" type="xsd:string"/>
             <xsd:element name="Keywords" maxOccurs="unbounded">
                <xsd:complexType>
                   <xsd:sequence>
                      <xsd:element name="Name" type="xsd:string"/>
                      <xsd:element name="Value" type="xsd:string"/>
                   </xsd:sequence>
                </xsd:complexType>
             </xsd:element>
             <xsd:element name="KTGs">
                <xsd:complexType>
                   <xsd:sequence>
                      <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
                      <xsd:element name="Keywords" maxOccurs="unbounded">
                         <xsd:complexType>
                            <xsd:sequence>
                               <xsd:element name="Name" type="xsd:string"/>
                               <xsd:element name="Value" type="xsd:string"/>
                            </xsd:sequence>
                         </xsd:complexType>
                      </xsd:element>
                   </xsd:sequence>
                </xsd:complexType>
             </xsd:element>
             <xsd:element name="Pages" maxOccurs="unbounded" type="xsd:string"/>
             <xsd:element name="FolderID" type="xsd:string"/>
          </xsd:sequence>
       </xsd:complexType>
    </xsd:element>
    <xsd:element name="SaveDocumentResponse">
       <xsd:complexType>
          <xsd:sequence>
             <xsd:element name="Code" type="xsd:integer"/>
             <xsd:element name="Description" type="xsd:string"/>
             <xsd:element name="Result" type="xsd:string"/>
             <xsd:element name="Documents" maxOccurs="unbounded">
                <xsd:complexType>
                   <xsd:sequence>
                      <xsd:element name="DocumentHandle" type="xsd:string"/>
                      <xsd:element name="QueryError" type="xsd:string"/>
                      <xsd:element name="SerialId" type="xsd:string"/>
                      <xsd:element name="DocPopUrl" type="xsd:string"/>
                   </xsd:sequence>
                </xsd:complexType>
             </xsd:element>
          </xsd:sequence>
       </xsd:complexType>
    </xsd:element>
  <xsd:element name="SaveDocumentError">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Message" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
   <xsd:element name="UnityFormRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="UnityFormId" type="xsd:string"/>
            <xsd:element name="Keywords" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Name" type="xsd:string"/>
                     <xsd:element name="Value" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="KTGs" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="Keywords" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="Name" type="xsd:string"/>
                              <xsd:element name="Value" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Field" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="UnityFormResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Form">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="DocumentHandle" type="xsd:integer"/>
                     <xsd:element name="Keywords" minOccurs="0">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
                              <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="DocPopUrl" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Code" type="xsd:integer"/>
            <xsd:element name="Description" type="xsd:string"/>
            <xsd:element name="Result" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="UnityFormError">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Message" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="documentQueryRequestOnBase">
     <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocumentTypes" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element name="CustomQueryName" type="xsd:string"/>
            <xsd:element name="Keywords_Query" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Name" type="xsd:string"/>
                     <xsd:element name="Condition" type="xsd:string"/>
                     <xsd:element name="Operator" type="xsd:string"/>
                     <xsd:element name="Value" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="KTGs_Query" maxOccurs="unbounded" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="Condition" type="xsd:string" minOccurs="0"/>
                     <xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
                     <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="LoadKeywords" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="LoadPages" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="KeywordFilterNames" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="documentQueryResponseOnBase">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Documents" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="DocumentHandle" type="xsd:string"/>
                     <xsd:element name="DocumentTypeName" type="xsd:string"/>
                     <xsd:element name="Name" type="xsd:string"/>
                     <xsd:element name="DocumentTypeID" type="xsd:string"/>
                     <xsd:element name="DateStored" type="xsd:string"/>
                     <xsd:element name="Keywords" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="Name" type="xsd:string"/>
                              <xsd:element name="Value" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="Revision" minOccurs="0" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Code" type="xsd:integer"/>
            <xsd:element name="Description" type="xsd:string"/>
            <xsd:element name="Result" type="xsd:string" minOccurs="0"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="documentCompositionRequestOnBase">
     <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocumentTemplate" type="xsd:string"/>
            <xsd:element name="BodyXML" type="xsd:string"/>
            <xsd:element name="WithDocument" type="xsd:boolean"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="documentCompositionResponseOnBase">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Documents" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="DocumentHandle" type="xsd:string"/>
                     <xsd:element name="DocumentTypeName" type="xsd:string"/>
                     <xsd:element name="Name" type="xsd:string"/>
                     <xsd:element name="DocumentTypeID" type="xsd:string"/>
                     <xsd:element name="DateStored" type="xsd:string"/>
                     <xsd:element name="FileFormat" type="xsd:string"/>
                     <xsd:element name="Keywords" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="Name" type="xsd:string"/>
                              <xsd:element name="Value" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="KTGs" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="Name" type="xsd:string"/>
                               <xsd:element name="Keywords" maxOccurs="unbounded">
                                  <xsd:complexType>
                                     <xsd:sequence>
                                        <xsd:element name="Name" type="xsd:string"/>
                                        <xsd:element name="Value" type="xsd:string"/>
                                     </xsd:sequence>
                                  </xsd:complexType>
                               </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="FileExtension" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="FolderID" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="Revision" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="QueryError" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="Revisions" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="ID" type="xsd:integer"/>
                              <xsd:element name="CreatedBy" type="xsd:string"/>
                              <xsd:element name="Date" type="xsd:string"/>
                              <xsd:element name="Comment" type="xsd:string"/>
                              <xsd:element name="Page" type="xsd:string"/>
                              <xsd:element name="Extension" type="xsd:string"/>
                              <xsd:element name="FileType" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="SerialId" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="Fields" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="Name" type="xsd:string"/>
                              <xsd:element name="Value" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="Repeaters" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="Name" type="xsd:string"/>
                               <xsd:element name="Fields" maxOccurs="unbounded">
                                  <xsd:complexType>
                                     <xsd:sequence>
                                        <xsd:element name="Name" type="xsd:string"/>
                                        <xsd:element name="Value" type="xsd:string"/>
                                     </xsd:sequence>
                                  </xsd:complexType>
                               </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="DocPopUrl" minOccurs="0" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Code" type="xsd:integer"/>
            <xsd:element name="Description" type="xsd:string"/>
            <xsd:element name="Result" type="xsd:string" minOccurs="0"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>