Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaProductosFinancieros_V2/xsd/XMLSchema_-1363237749.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaProductosFinancierosTypes">
	
	<!-- request -->
	<xs:element name="consultaProductosFinancieros">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CHANNEL_CODE" type="tns:stringMinLength1"/>
                <xs:element name="APPLICATION" type="tns:stringMinLength1"/>
                <xs:element name="PRODUCT_CODE" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
	<!-- response -->
    <xs:element name="consultaProductosFinancierosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PRODUCTS" minOccurs="0">
		        	<xs:complexType>
		            	<xs:sequence>
			                <xs:element name="PRODUCT" type="tns:productArrayType" maxOccurs="unbounded"/>
		                </xs:sequence>
	               	</xs:complexType>
	            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
    <!-- stringMinLength1Type -->
    <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
    
    <!-- productArrayType -->
    <xs:complexType name="productArrayType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>
</xs:schema>