Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/MTR/consultorTerceros/wsdl/consultorTercerosEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicio.consultatercerospmsws.mtrpmsv.cidenet.com.co/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ConsultorTercerosService" targetNamespace="http://servicio.consultatercerospmsws.mtrpmsv.cidenet.com.co/">
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://servicio.consultatercerospmsws.mtrpmsv.cidenet.com.co/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://servicio.consultatercerospmsws.mtrpmsv.cidenet.com.co/">
  <xsd:complexType name="tercerosDTO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="bancoDestino" type="xsd:int"/>
      <xsd:element minOccurs="0" name="idProductoDestino" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idTercero" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idTpProductoDestino" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nombreBancoDestino" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nombreTercero" type="xsd:string"/>
      <xsd:element minOccurs="0" name="numeroIdentificacion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="codigoCliente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string"/>
      <xsd:element minOccurs="0" name="terceros" type="ns0:terceros"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="terceros">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tercero" nillable="true" type="ns0:tercerosDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarTerceros">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idCliente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idUsuario" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idBancoOrigen" type="xsd:string"/>
      <xsd:element minOccurs="0" name="activo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarTercerosResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="respuestaConsultaTerceros" type="ns0:respuesta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultarTerceros" type="ns0:consultarTerceros"/>
  <xsd:element name="consultarTercerosResponse" type="ns0:consultarTercerosResponse"/>
  <xsd:element name="Exception" type="ns0:Exception"/>
  <xsd:complexType name="Exception">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="consultarTerceros">
        <wsdl:part element="tns:consultarTerceros" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultarTercerosResponse">
        <wsdl:part element="tns:consultarTercerosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part element="tns:Exception" name="Exception"/>
    </wsdl:message>
    <wsdl:portType name="ConsultorTerceros">
        <wsdl:operation name="consultarTerceros">
            <wsdl:input message="tns:consultarTerceros" name="consultarTerceros"/>
            <wsdl:output message="tns:consultarTercerosResponse" name="consultarTercerosResponse"/>
            <wsdl:fault message="tns:Exception" name="Exception"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConsultorTercerosServiceSoapBinding" type="tns:ConsultorTerceros">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultarTerceros">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultarTerceros">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultarTercerosResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConsultorTercerosService">
        <wsdl:port binding="tns:ConsultorTercerosServiceSoapBinding" name="ConsultorTercerosPort">
            <soap:address location="http://172.23.12.126:7003/ConsultaTercerosPmsWs/services/consultorTercerosEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>