Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaDetallesCuentaMasivos/xsd/consultaDetallesCuentaMasivosTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDetallesCuentaMasivosTypes" xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaDetallesCuentaMasivosTypes">
	<xsd:element name="consultaDetallesCuentaMasivos">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ACCOUNT_NUMBER" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="consultaDetallesCuentaMasivosResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="STATUS" type="xsd:string" minOccurs="0"/>
				<xsd:element name="MESSAGE" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CURRENT_BALANCE" type="xsd:decimal" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</schema>