Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FPC/consultaTelefonoPersona/xsd/consultaTelefonoPersonaFPC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaTelefonoPersonaFPC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaTelefonoPersonaFPC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PC_COD_PERSONA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_TELEFONOS" type="db:PA.PA_WEB_SERVICE_TAB_TELEFONOS" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_ERROR" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PC_MENSAJE_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PA.PA_WEB_SERVICE_TAB_TELEFONOS">
      <sequence>
         <element name="PT_TELEFONOS_ITEM" type="db:PA.PA_WEB_SERVICE_TYPE_TELEFONO" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PA.PA_WEB_SERVICE_TYPE_TELEFONO">
      <sequence>
         <element name="COD_AREA" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_TELEFONO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIP_TELEFONO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TEL_UBICACION" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ES_DEFAULT" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
</schema>