Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/EvaluaCuentaAbanks/xsd/EvaluaCuentaAbanks.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="EvaluaCuentaAbanks" xmlns:con="EvaluaCuentaAbanks" elementFormDefault="qualified">
	<complexType name="EvaluaCuentaAbanksRqType">
		<sequence> 
			<element name="ACCOUNT_ID" type="string" maxOccurs="unbounded" minOccurs="1"/>
		</sequence>	
	</complexType>
	<complexType name="EvaluaCuentaAbanksRsType">
		<sequence>
			<element name="ACCOUNT_ID" type="string" maxOccurs="unbounded" minOccurs="0"/>			
			<element name="MOD10_INDICATOR" type="string" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
	</complexType>

	<element name="EvaluaCuentaAbanksTypeRequest" type="con:EvaluaCuentaAbanksRqType"/>
	<element name="EvaluaCuentaAbanksTypeResponse" type="con:EvaluaCuentaAbanksRsType"/>
</schema>