Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/TENGO/umarketscReversiones/xsd/serviceATM_3.xsd

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-.--><xs:schema version="1.0" targetNamespace="http://appATM/" xmlns:tns="http://appATM/" xmlns:ns1="urn:UMARKETSCWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:UMARKETSCWS" schemaLocation="serviceATM.xsd"/>
  <xs:element name="coupontransferATM" type="tns:coupontransferATM"/>
  <xs:element name="coupontransferATMResponse" type="tns:coupontransferATMResponse"/>
  <xs:element name="reversioncupon" type="tns:reversioncupon"/>
  <xs:element name="reversioncuponResponse" type="tns:reversioncuponResponse"/>
  <xs:complexType name="coupontransferATM">
    <xs:sequence>
      <xs:element name="CANAL" type="xs:string" nillable="true"/>
      <xs:element name="CODIGO" type="xs:string" nillable="true"/>
      <xs:element name="Usuario" type="xs:string" nillable="true"/>
      <xs:element name="TraceNumberATM" type="xs:string" nillable="true"/>
      <xs:element name="identidad_retira" type="xs:string" nillable="true"/>
      <xs:element name="nombre_retira" type="xs:string" nillable="true"/>
      <xs:element name="telefono_retira" type="xs:string" nillable="true"/>
      <xs:element name="tipo" type="xs:string" nillable="true"/>
      <xs:element name="couponId" type="xs:string" nillable="true"/>
      <xs:element name="amount" type="xs:double" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coupontransferATMResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:standardBizResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reversioncupon">
    <xs:sequence>
      <xs:element name="TrxidTengo" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reversioncuponResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:standardBizResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>