Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/REGIONDBHN/conOpcionesPagoTC/xsd/ConsultaOpcionesPagoTC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaOpcionesPagoTC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaOpcionesPagoTC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_NUMERO_CUENTA" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_NUMERO_CUENTA" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_NUMERO_IDENTIFICACION" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO_CLIENTE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_DESCUENTO_PAGO_MINIMO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_PORCENTAJE_DESCUENTO_DPM" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_DESCUENTO_DPM_LPS" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_DESCUENTO_DPM_USD" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_FECHA_LIMITE_PAGO_DPM" type="dateTime" db:index="8" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_LIQUIDACION_DEUDA" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_PORCENTAJE_DESCUENTO_LDD" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_MONTO_DESCUENTO_LDD_LPS" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_MONTO_DESCUENTO_LDD_USD" type="decimal" db:index="12" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_FECHA_LIMITE_PAGO_LDD" type="dateTime" db:index="13" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_REFINANCIAMIENTO" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_SALDO_REFINANCIAR_LPS" type="decimal" db:index="15" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_SIN_PRIMA" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MONTO_PRIMA_LPS" type="decimal" db:index="17" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_CUOTA_CALCULADA_SEGURO_LPS" type="decimal" db:index="18" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_PLAZO_REFINANCIAR" type="decimal" db:index="19" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_TASA_REFINANCIAR" type="decimal" db:index="20" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_FECHA_LIMITE_PAGO_REF" type="dateTime" db:index="21" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_RESULT" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         	<element name="P_DESCRIPTION" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>