Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ProcesaMensajeGenericoSwitch/xsd/procesaMensajeGenericoSwitchTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/procesaMensajeGenericoSwitchTypes"
	xmlns:cred="http://www.ficohsa.com.hn/middleware.services/procesaMensajeGenericoSwitchTypes">
	
	<!-- stringMinLength4Type -->
   <xs:simpleType name="stringMinLength4">
       <xs:restriction base="xs:string">
           <xs:minLength value="4"/>
           <xs:maxLength value="4"/>
       </xs:restriction>
   </xs:simpleType>
   
	<!-- stringMinLength6Type -->
   <xs:simpleType name="stringMinLength6">
       <xs:restriction base="xs:string">
           <xs:minLength value="6"/>
           <xs:maxLength value="6"/>
       </xs:restriction>
   </xs:simpleType>
   
	<!-- stringMinLength11Type -->
   <xs:simpleType name="stringMinLength11">
       <xs:restriction base="xs:string">
           <xs:minLength value="11"/>
           <xs:maxLength value="11"/>
       </xs:restriction>
   </xs:simpleType>
   
	<!-- stringMinLength8Type -->
   <xs:simpleType name="stringMinLength8">
       <xs:restriction base="xs:string">
           <xs:minLength value="8"/>
           <xs:maxLength value="8"/>
       </xs:restriction>
   </xs:simpleType>

	<xs:complexType name="procesaMensajeGenericoSwitchRequest">
		<xs:sequence>
			<xs:element name="MTI" type="cred:stringMinLength4" />
			<xs:element name="PROCESSING_CODE" type="cred:stringMinLength6"/>
			<xs:element name="AQ_INST_ID_CODE" type="cred:stringMinLength11"/>
			<xs:element name="FWD_INST_ID_CODE" type="cred:stringMinLength11"/>
			<xs:element name="TERMINAL_ID" type="cred:stringMinLength8"/>
			<xs:element name="MESSAGE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="procesaMensajeGenericoSwitchResponse">
		<xs:sequence>
			<xs:element name="MESSAGE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="procesaMensajeGenericoSwitchRequest" type="cred:procesaMensajeGenericoSwitchRequest" />
	<xs:element name="procesaMensajeGenericoSwitchResponse" type="cred:procesaMensajeGenericoSwitchResponse" />
	
</xs:schema>