Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ReversionCompletaTransaccion/reversionCompletaTransaccionTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/reversionCompletaTransaccionTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/reversionCompletaTransaccionTypes">
	

	
	<xs:complexType name = "authorizerType">
		<xs:sequence>
			<xs:element minOccurs="0" name="TELLERID" type="xs:string" />
			<xs:element minOccurs="0" name="BRANCHCODE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>	


	<xs:element name="reversionCompletaTransaccion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTION_ID" type="xs:string" />
				<xs:element name="TRANSACTION_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="AUTHORIZER" type="cons:authorizerType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
		
	
    <xs:element name="reversionCompletaTransaccionResponse" />
	
</xs:schema>