Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaDetalleContratoRecaudo_v2/xsd/XMLSchema_-1149530574.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDetalleContratoRecaudosTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaDetalleContratoRecaudosTypes">

	<xs:complexType name="consultaDetalleContratoRecaudosResponseArrayType">
		<xs:sequence>
			<xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CONTRACT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="INFO_EXCHANGE_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="COLLECTION_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="ALLOWED_BRANCHES" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BRANCH_CODE" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PAYMENT_VALUE_CHECK" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_METHODS" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PAYMENT_METHOD" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PAY_OLD_BILL_FIRST" type="xs:string" minOccurs="0"/>
			<xs:element name="DUE_DATE_CHECK" type="xs:string" minOccurs="0"/>
			<xs:element name="PENALTY_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="MULTI_CCY_CHECK" type="xs:string" minOccurs="0"/>			
			<xs:element name="CONTRACT_ACCOUNTS" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CONTRACT_ACCOUNT" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
									<xs:element name="ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CONTRACT_TYPE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaDetalleContratoRecaudosResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaDetalleContratoRecaudosResponseRecordType" type="cons:consultaDetalleContratoRecaudosResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaDetalleContratoRecaudosResponseType">
		<xs:sequence>
			<xs:element name="consultaDetalleContratoRecaudosResponseType" type="cons:consultaDetalleContratoRecaudosResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaDetalleContratoRecaudos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaDetalleContratoRecaudosResponse" type="cons:consultaDetalleContratoRecaudosResponseType"/>

</xs:schema>