Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/OperacionesDatosClientes_v2/xsd/operacionesDatosClientesTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: registraDatosActualizados -->
    <!--############################################-->
    
    <xs:element name="registraDatosActualizados">
        <xs:complexType>
            <xs:sequence>
              <xs:element name="PROCESS_TYPE">                                               
			     <xs:simpleType>
                   <xs:restriction base="xs:string">
                      <xs:enumeration value="NRT"/>
                      <xs:enumeration value="BATCH"/>
                      <xs:enumeration value="ONLINE"/>
                  </xs:restriction>
                </xs:simpleType>
			 </xs:element>
			 <xs:element name="OPERATION_TYPE">                                               
			     <xs:simpleType>
                   <xs:restriction base="xs:string">
                      <xs:enumeration value="1"/>
                      <xs:enumeration value="2"/>
                      <xs:enumeration value="3"/>
                  </xs:restriction>
                </xs:simpleType>
			</xs:element>
            <xs:element name="CUSTOMER_DATA" type="tns:customerDataTypes" maxOccurs="unbounded"/>
           </xs:sequence>
        </xs:complexType>
    </xs:element>
   
    <xs:element name="registraDatosActualizadosResponse">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="UUID" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--############################################-->
    <!-- OPERATION: actualizaSistemas -->
    <!--############################################-->
    
    <xs:element name="actualizaSistemas">
        <xs:complexType>
            <xs:sequence>
              <xs:element name="PROCESS_TYPE">                                               
			     <xs:simpleType>
                   <xs:restriction base="xs:string">
                      <xs:enumeration value="NRT"/>
                      <xs:enumeration value="BATCH"/>
                      <xs:enumeration value="ONLINE"/>
                  </xs:restriction>
                </xs:simpleType>
			 </xs:element>
			 <xs:element name="OPERATION_TYPE">                                               
			     <xs:simpleType>
                   <xs:restriction base="xs:string">
                      <xs:enumeration value="1"/>
                      <xs:enumeration value="2"/>
                      <xs:enumeration value="3"/>
                  </xs:restriction>
                </xs:simpleType>
			</xs:element>
            <xs:element name="CUSTOMER_DATA" type="tns:customerDataActualizaTypes" maxOccurs="unbounded"/>
           </xs:sequence>
        </xs:complexType>
    </xs:element>
    
        <xs:element name="actualizaSistemasResponse">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="UUID" type="xs:string" minOccurs="0"/>
               <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
               <xs:element name="TARGET_SYSTEM" type="xs:string" minOccurs="0"/>
               <xs:element name="COUNTRY_ID" type="xs:string" minOccurs="0"/>
               <xs:element name="OBSERVATION" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--############################################-->
    <!-- OPERATION: actualizaSistemasT24 -->
    <!--############################################-->
    
    <xs:element name="actualizaSistemasT24">
        <xs:complexType>
            <xs:sequence>
              <xs:element name="PROCESS_TYPE">                                               
			     <xs:simpleType>
                   <xs:restriction base="xs:string">
                      <xs:enumeration value="NRT"/>
                      <xs:enumeration value="BATCH"/>
                      <xs:enumeration value="ONLINE"/>
                  </xs:restriction>
                </xs:simpleType>
			 </xs:element>
			 <xs:element name="OPERATION_TYPE">                                               
			     <xs:simpleType>
                   <xs:restriction base="xs:string">
                      <xs:enumeration value="1"/>
                      <xs:enumeration value="2"/>
                      <xs:enumeration value="3"/>
                  </xs:restriction>
                </xs:simpleType>
			</xs:element>
            <xs:element name="CUSTOMER_DATA" type="tns:customerDataT24Types"/>
           </xs:sequence>
        </xs:complexType>
    </xs:element>
    
        <xs:element name="actualizaSistemasT24Response">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="UUID" type="xs:string" minOccurs="0"/>
               <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
               <xs:element name="TARGET_SYSTEM" type="xs:string" minOccurs="0"/>
               <xs:element name="COUNTRY_ID" type="xs:string" minOccurs="0"/>
               <xs:element name="OBSERVATION" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
        <xs:complexType name="customerDataT24Types">
	    <xs:sequence>        
	        <xs:element name="CUSTOMER_INFO" type="tns:customerInfoTypes"/>
	        <xs:element name="IDENTIFICATION_INFO" type="tns:identificationInfoTypes"/>
	        <xs:element name="ADDRESS_INFO" type="tns:addressInfoTypes" minOccurs="0" maxOccurs="unbounded"/>
	        <xs:element name="PHONE_INFO" type="tns:phoneInfoTypes" minOccurs="0" maxOccurs="unbounded"/>
	        <xs:element name="EMAIL_INFO" type="tns:emailInfoTypes" minOccurs="0" maxOccurs="unbounded"/>
	        <xs:element name="CONTROL_INFO" type="tns:controlInfoTypes"/>
	        <xs:element name="SYSTEM_INFO" type="tns:systemInfoTypes"/>
	    </xs:sequence>
	</xs:complexType>
    
        <xs:complexType name="customerInfoTypes">
		<xs:sequence>
			<xs:element name="UUID" type="xs:string"/>
			<xs:element name="CUSTOMER_ID" type="xs:string"/>
            <xs:element name="NATIONALITY" type="xs:string"/>
            <xs:element name="MARITAL_STATUS" type="xs:string" minOccurs="0"/>
            <xs:element name="SPOUSE_NAME" type="xs:string" minOccurs="0"/>
            <xs:element name="CUSTOMER_SINCE" type="xs:string" minOccurs="0"/>
            <xs:element name="PROFESSION" type="xs:string" minOccurs="0"/>
            <xs:element name="JOB_TITLE" type="xs:string" minOccurs="0"/>
            <xs:element name="LINE_OF_BUSINESS" type="xs:string" minOccurs="0"/>
            <xs:element name="INCOME_RANGES" type="xs:string" minOccurs="0"/>
            <xs:element name="CELLULAR" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
        <xs:complexType name="identificationInfoTypes">
		<xs:sequence>
			<xs:element name="LEGAL_DOCUMENT_NAME" type="xs:string"/>
			<xs:element name="LEGAL_ID" type="xs:string"/>
            <xs:element name="ALTERNATE_DOCUMENT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="ALTERNATE_ID" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="addressInfoTypes">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0"/>
            <xs:element name="STATE_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="CITY_CODE" type="xs:string" minOccurs="0"/>
            <xs:element name="COLONY_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="HOUSE_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="REFERENCES" type="xs:string" minOccurs="0"/>
			<xs:element name="STREET" type="xs:string" minOccurs="0"/>
            <xs:element name="AVENUE" type="xs:string" minOccurs="0"/>
			<xs:element name="BLOCK" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="phoneInfoTypes">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="EXTENSION" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="emailInfoTypes">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="controlInfoTypes">
		<xs:sequence>
			<xs:element name="TICKET_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CREATION_DATE" type="xs:string" minOccurs="0"/>
            <xs:element name="UPDATE_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="LAST_UPDATE" type="xs:string" minOccurs="0"/>
            <xs:element name="INTERFACE_USER" type="xs:string" minOccurs="0"/>
			<xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
            <xs:element name="IP_ADDRESS" type="xs:string" minOccurs="0"/>
			<xs:element name="WORK_UNIT_AREA" type="xs:string" minOccurs="0"/>
            <xs:element name="APPROVER_USER" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="systemInfoTypes">
		<xs:sequence>
			<xs:element name="SOURCE" type="xs:string"/>
			<xs:element name="STATUS" type="xs:string"/>
            <xs:element name="COUNTRY" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="customerDataActualizaTypes">
	    <xs:sequence>        
	        <xs:element name="CUSTOMER_INFO" type="tns:infosTypes"/>
	        <xs:element name="IDENTIFICATION_INFO" type="tns:infosTypes"/>
	        <xs:element name="ADDRESS_INFO" type="tns:infosTypes" minOccurs="0" maxOccurs="unbounded"/>
	        <xs:element name="PHONE_INFO" type="tns:infosTypes" minOccurs="0" maxOccurs="unbounded"/>
	        <xs:element name="EMAIL_INFO" type="tns:infosTypes" minOccurs="0" maxOccurs="unbounded"/>
	        <xs:element name="CONTROL_INFO" type="tns:infosTypes"/>
	        <xs:element name="SYSTEM_INFO" type="tns:infosTypes"/>
	    </xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="customerDataTypes">
	    <xs:sequence>        
	        <xs:element name="CUSTOMER_INFO" type="tns:infosTypes"/>
	        <xs:element name="IDENTIFICATION_INFO" type="tns:infosTypes"/>
	        <xs:element name="ADDRESS_INFO" type="tns:infosTypes" maxOccurs="unbounded"/>
	        <xs:element name="PHONE_INFO" type="tns:infosTypes" maxOccurs="unbounded"/>
	        <xs:element name="EMAIL_INFO" type="tns:infosTypes" maxOccurs="unbounded"/>
	        <xs:element name="CONTROL_INFO" type="tns:infosTypes"/>
	        <xs:element name="SYSTEM_INFO" type="tns:infosTypes"/>
            <xs:element name="PREVIOUS_DATA_INFO" type="tns:previousDataInfoTypes"/>
	    </xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="previousDataInfoTypes">
	    <xs:sequence>
	        <xs:element name="CUSTOMER_INFO" type="tns:infoPreviousTypes"/>
	        <xs:element name="IDENTIFICATION_INFO" type="tns:infoPreviousTypes"/>
	        <xs:element name="ADDRESS_INFO" type="tns:infoPreviousTypes" maxOccurs="unbounded"/>
	        <xs:element name="PHONE_INFO" type="tns:infoPreviousTypes" maxOccurs="unbounded"/>
	        <xs:element name="EMAIL_INFO" type="tns:infoPreviousTypes" maxOccurs="unbounded"/>
	    </xs:sequence>
	</xs:complexType>
    
	<xs:complexType name="infosTypes">
		<xs:sequence>
			<xs:element name="INFO" type="tns:infoTypes" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="infoTypes">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="STATUS">
			     <xs:simpleType>
                   <xs:restriction base="xs:string">
                      <xs:enumeration value="CHANGED"/>
                      <xs:enumeration value="KEPT"/>
                      <xs:enumeration value="ADDED"/>
                      <xs:enumeration value="REMOVED"/>
                  </xs:restriction>
                </xs:simpleType>
           </xs:element>
		</xs:sequence>
	</xs:complexType>
    
    	<xs:complexType name="infoPreviousTypes">
		<xs:sequence>
			<xs:element name="INFO" type="tns:infoPreviousType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="infoPreviousType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>