Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/XSD/activateFinancingTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/activateFinancingTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cct="http://www.ficohsa.com.hn/middleware.services/activateFinancingTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
<xs:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
	<!-- stringMinLength1Type -->
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="activateFinancing">
		<xs:complexType>
			<xs:sequence>
                                <xs:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
				<xs:element name="AsmOrg" type="xs:integer"/>
    <xs:element name="AsmRep" type="xs:string" minOccurs="0"/>
    <xs:element name="CurrencyIndicator" type="xs:integer"/>
				<xs:element name="Org" type="xs:integer"/>
				<xs:element name="AccountNumber" type="cct:stringMinLength1"/>
				<xs:element name="PrincipalAmount" type="xs:decimal"/>
				<xs:element name="PlanNumber" type="xs:integer"/>
    <xs:element name="TransactionCode" type="xs:string"/>
    <xs:element name="PlanSecuence" type="xs:integer"/>
    <xs:element name="Description" type="xs:integer"/>
    <xs:element name="RefNumber" type="xs:string" minOccurs="0"/>
    <xs:element name="OtbIndicator" type="xs:integer"/>
   </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="activateFinancingResponse">
        		<xs:complexType>
			<xs:sequence>
                                <xs:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
                                <xs:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>