Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/XSD/availableFinancingDetailTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/availableFinancingDetailTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:afd="http://www.ficohsa.com.hn/middleware.services/availableFinancingDetailTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="availableFinancingDetailRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="LegalId" type="xsd:string" minOccurs="1"/>
        <xsd:element name="CreditLine" type="xsd:string" minOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="availableFinancingDetailResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="LegalId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CreditLine" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Details" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RateType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Rate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Term" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Amount" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>