Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/XSD/calculateFinancingTypes.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.ficohsa.com.hn/middleware.services/calculateFinancingTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/calculateFinancingTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <!-- calculationTypeClassType -->
  <xsd:simpleType name="calculationTypeClassType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Custom"/>
      <xsd:enumeration value="Generic"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- baseClassType -->
  <xsd:complexType name="baseClassType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="CustomerId" type="xsd:string"/>
        <xsd:element name="InterestRate" type="xsd:decimal"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <!-- queryTypeClassType -->
  <xsd:simpleType name="queryTypeClassType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MonthlyPayment"/>
      <xsd:enumeration value="TotalAmount"/>
      <xsd:enumeration value="NumberOfPayments"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- creditLineClassType -->
  <xsd:simpleType name="creditLineClassType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Internal"/>
      <xsd:enumeration value="External"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- insuranceClassType -->
  <xsd:simpleType name="insuranceClassType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Fixed"/>
      <xsd:enumeration value="Decreasing"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- exactMatchType -->
  <xsd:simpleType name="exactMatchType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Yes"/>
      <xsd:enumeration value="No"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- chargeBaseType -->
  <xsd:complexType name="chargeBaseType">
    <xsd:sequence>
      <xsd:element name="Name" type="tns:nameClassType"/>
      <xsd:element name="Value" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- nameClassType -->
  <xsd:simpleType name="nameClassType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Disbursement"/>
      <xsd:enumeration value="Insurance"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="calculateFinancingRequest">
    <xsd:annotation>
      <xsd:documentation>calculateFinancingRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="CalculationType" type="tns:calculationTypeClassType"/>
        <xsd:element name="Base" type="tns:baseClassType"/>
        <xsd:element name="Currency" type="xsd:string"/>
        <xsd:element name="TotalAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="MonthlyPayment" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="NumberOfPayments" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="QueryType" type="tns:queryTypeClassType"/>
        <xsd:element name="CreditLine" type="tns:creditLineClassType"/>
        <xsd:element name="Insurance" type="tns:insuranceClassType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="calculateFinancingResponse">
    <xsd:annotation>
      <xsd:documentation>calculateFinancingResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="ExactMatch" type="tns:exactMatchType" minOccurs="0"/>
        <xsd:element name="TotalAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="MonthlyPayment" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="NumberOfPayments" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="YearlyIntRate" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="MonthlyIntRate" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="Charges" minOccurs="0">        
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Charge" type="tns:chargeBaseType" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>