Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/XSD/createFinancingInsuranceTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/createFinancingInsuranceTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cfi="http://www.ficohsa.com.hn/middleware.services/createFinancingInsuranceTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
            
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  
  <xsd:element name="createFinancingInsuranceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="ORG" type="xsd:integer"/>
        <xsd:element name="PRODUCT_NUMBER" type="dtt:string1"/>
        <xsd:element name="INSURANCE_TYPE_CODE" type="dtt:string1"/>
        <xsd:element name="CURRENCY_INDICATOR" type="dtt:string1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="createFinancingInsuranceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="CURRENCY_INDICATOR" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ORG" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="ACCOUNT_NUMBER" type="xsd:string" minOccurs="0"/>
        <xsd:element name="LOGO" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="INSURANCE_CODE" type="xsd:string" minOccurs="0"/>
        <xsd:element name="INSURANCE_STATUS" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
</xsd:schema>