Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/XSD/createFinancingTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/createFinancingTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/createFinancingTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
<xs:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
	<xs:simpleType name="interestRateType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99.99999"/>
			<xs:fractionDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="amortDataArray">
		<xs:sequence>
			<xs:element name="AmortEntry" type="tns:amortEntryArray" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="amortEntryArray">
		<xs:sequence>
			<xs:element name="DataTerma" type="xs:int" minOccurs="0"/>
			<xs:element name="DataTable" type="xs:int" minOccurs="0"/>
			<xs:element name="DataMethod" type="xs:int" minOccurs="0"/>
			<xs:element name="DataStartInd" type="xs:int" minOccurs="0"/>
			<xs:element name="DataStartMonth" type="xs:int" minOccurs="0"/>
			<xs:element name="DataStartDay" type="xs:int" minOccurs="0"/>
			<xs:element name="DataRoundType" type="xs:int" minOccurs="0"/>
			<xs:element name="DataAmount" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="createFinancing">
		<xs:complexType>
			<xs:sequence>
                                <xs:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
				<xs:element name="Org" type="xs:integer"/>
				<xs:element name="AsmOrg" type="xs:integer"/>
				<xs:element name="AccountNumber" type="tns:stringMinLength1"/>
				<xs:element name="PlanCode" type="tns:stringMinLength1"/>
				<xs:element name="PlanDescription" type="tns:stringMinLength1"/>
				<xs:element name="PlanNumber" type="tns:stringMinLength1"/>
				<xs:element name="StartDatePlan" type="xs:date"/>
				<xs:element name="FixedLeveledFee" type="xs:decimal"/>
				<xs:element name="FormalizationDate" type="xs:date"/>
				<xs:element name="InterestRate" type="tns:interestRateType"/>
				<xs:element name="LoanTerm" type="xs:integer"/>
				<xs:element name="TotalAmount" type="xs:decimal"/>
				<xs:element name="PrincipalAmount" type="xs:decimal"/>
				<xs:element name="InterestAmount" type="xs:decimal"/>
				<xs:element name="InsuranceAmount" type="xs:decimal"/>
				<xs:element name="DisbursementComission" type="xs:decimal"/>
				<xs:element name="CurrencyIndicator" type="xs:decimal"/>
				<xs:element name="PositionFee" type="xs:string" minOccurs="0"/>
				<xs:element name="AmortData" type="tns:amortDataArray" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createFinancingResponse">
		<xs:complexType>
			<xs:sequence>
                                <xs:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
				<xs:element name="Logo" type="xs:string" minOccurs="0"/>
				<xs:element name="Org" type="xs:integer" minOccurs="0"/>
				<xs:element name="AccountNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="PlanNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="ReferenceNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="ActivationStatus" type="xs:string" minOccurs="0"/>
				<xs:element name="ActivationDesc" type="xs:string" minOccurs="0"/>
				<xs:element name="PlanSequence" type="xs:string" minOccurs="0"/>
                                <xs:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>