Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/XSD/creditCardApplicationTypes.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.ficohsa.com.hn/middleware.services/creditCardApplicationTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creditCardApplicationTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CustomerInfoCommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes"/>
  <!--stringMaxLengthType -->
  <xsd:simpleType name="acc_card_LengthType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="19"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--orgIndType -->
  <xsd:simpleType name="orgIndType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BASE"/>
      <xsd:enumeration value="ALT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--blockCodeIndType -->
  <xsd:simpleType name="blockCodeIndType">
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--cardActionType -->
  <xsd:simpleType name="cardActionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NEW_CARD"/>
      <xsd:enumeration value="NORMAL_REPLACEMENT"/>
      <xsd:enumeration value="EMERGENCY_REPLACEMENT"/>
      <xsd:enumeration value="RENOVATION"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--cardHolderType -->
  <xsd:simpleType name="cardHolderType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PRINCIPAL"/>
      <xsd:enumeration value="ADDITIONAL"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--yesNoType -->
  <xsd:simpleType name="yesNoType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="YES"/>
      <xsd:enumeration value="NO"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--processType -->
  <xsd:simpleType name="processType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EMERGENCY"/>
      <xsd:enumeration value="NORMAL"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="creditCardApplicationRequest">
    <xsd:annotation>
      <xsd:documentation>creditCardApplicationRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="AccountNumber" type="tns:acc_card_LengthType"/>
        <xsd:element name="CardNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Org" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="CustomerId" type="dtt:string1"/>
        <xsd:element name="CardAction" type="tns:cardActionType"/>
        <xsd:element name="EmbossedName" type="dtt:string1"/>
        <xsd:element name="ExpirationDate" type="dtt:string1"/>
        <xsd:element name="CardHolderType" type="tns:cardHolderType"/>
        <xsd:element name="GeneratePin" type="tns:yesNoType"/>
        <xsd:element name="ProcessType" type="tns:processType"/>
        <xsd:element name="TypeCard" type="dtt:string1" minOccurs="0"/>
        <xsd:element name="TypeCardMailer" type="dtt:string1" minOccurs="0"/>
        <xsd:element name="EmbossedName2" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Name2" type="xsd:string" minOccurs="0"/>
        <xsd:element name="BlockCode" type="dtt:string1" minOccurs="0"/>
        <xsd:element name="PriorytiPass" type="xsd:string" minOccurs="0"/>
        <xsd:element name="EmblemId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardActionReasonCode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="SpendingLimitIndicator" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PercentageLimitOfDailyPurchase" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PercentageMonthlyPurchaseLimit" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AnnualPurchaseLimitPercentage" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DailyPurchaseLimit" type="xsd:string" minOccurs="0"/>
        <xsd:element name="MonthlyPurchaseLimit" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AnnualPurchaseLimit" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DailyWithdrawalLimitPercentage" type="xsd:string" minOccurs="0"/>
        <xsd:element name="MonthlyWithdrawalLimitPercentage" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AnnualRetirementLimitPercentage" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DailyWithdrawalLimit" type="xsd:string" minOccurs="0"/>
        <xsd:element name="MonthlyWithdrawalLimit" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AnnualWithdrawalLimit" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Channel" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="creditCardApplicationResponse">
    <xsd:annotation>
      <xsd:documentation>creditCardApplicationResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="LcyOrg" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="FcyOrg" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="Logo" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardSequence" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="ChipSequence" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>