Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/XSD/creditCardsTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/creditCardsTypes" elementFormDefault="qualified" xmlns:dct="http://www.ficohsa.com.hn/middleware.services/creditCardsTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:cic="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CustomerInfoCommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes"/>
  <xsd:element name="createFinancingAccountRequest">
    <xsd:annotation>
      <xsd:documentation>createFinancingAccount</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="Org" type="xsd:int"/>
        <xsd:element name="Logo" type="xsd:int"/>
        <xsd:element name="ShortName" type="dtt:string1"/>
        <xsd:element name="CustomerId" type="dtt:string1"/>
        <xsd:element name="CreditLimitLcy" type="xsd:int"/>
        <xsd:element name="BillingType" type="xsd:int"/>
        <xsd:element name="OpeningDate" type="xsd:date"/>
        <xsd:element name="AccountCycle" type="xsd:int"/>
        <xsd:element name="StatementIndicator" type="xsd:string"/>
        <xsd:element name="CustomerIncomeAmount" type="xsd:decimal"/>
        <xsd:element name="CardExpDate" type="xsd:int"/>
        <xsd:element name="PctStateOfResidence" type="xsd:int"/>
        <xsd:element name="PctStateOfIssue" type="dtt:string1"/>
        <xsd:element name="PctCode" type="xsd:int" minOccurs="0"/>
        <xsd:element name="CardTechnology" type="xsd:int"/>
        <xsd:element name="AccumulationIndicator" type="xsd:string"/>
        <xsd:element name="WithdrawalIndicator" type="xsd:string"/>
        <xsd:element name="CashPlanNumber" type="xsd:int"/>
        <xsd:element name="PurchasePlanCode" type="xsd:int"/>
        <xsd:element name="PromoPlanNumber" type="xsd:int"/>
        <xsd:element name="AuthLimitOvrrdInd" type="xsd:int"/>
        <xsd:element name="Branch" type="dtt:string1"/>
        <xsd:element name="WithdrawalLimit" type="xsd:int" minOccurs="0"/>
        <xsd:element name="InstallmentPlanCode" type="xsd:int" minOccurs="0"/>
        <xsd:element name="CreditLimitFcy" type="xsd:int"/>
        <xsd:element name="UserCode" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Ind" type="xsd:int" minOccurs="0"/>
              <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="UserAmount" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Ind" type="xsd:int" minOccurs="0"/>
              <xsd:element name="Value" type="xsd:decimal" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="UserDate" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Ind" type="xsd:int" minOccurs="0"/>
              <xsd:element name="Value" type="xsd:date" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createFinancingAccountResponse">
    <xsd:annotation>
      <xsd:documentation>createFinancingAccountResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>