Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/XSD/creditCardDigitalApplicationTypes.xsd

<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/creditCardDigitalApplicationTypes"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org"
            xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes"
            xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creditCardDigitalApplicationTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd"
              namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <!--embosserType -->
  <xsd:complexType name="embosserType">
    <xsd:sequence>
      <xsd:element name="PlasticId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Name1TypeIndicator" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="Name2TypeIndicator" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="EmbossedName1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EmbossedName2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ExpirationDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CustomerNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Name1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Name2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PinOffSet" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="PosServiceCode" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="CardHolderFlag" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AdressLine1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AdressLine2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="City" type="xsd:string" minOccurs="0"/>
      <xsd:element name="StateOrProvince" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LanguageCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="BlockCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AtmOtcRtlFrequency" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="AtmCashNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="AtmCashAmount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="AtmCashSingleTransacctionLimit" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="OverTheCounterCashNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="OverTheCounterCashAmount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="OverTheCounterSingleTransactionLimit" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="RetailPurchaseNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="RetailPurchaseAmt" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="RetailPurchaseSingleTransactionLimit" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="InternetPurchaseAmount" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="InternerPurchaseNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="InternetPurchaseSingleTransactionLimit" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="UserDate1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UserDate2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="BranchNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="FirstIssueBranch" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="DeliveryOption" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="ReissueDeliveryOption" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="AuthorizationCriteriaTableNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ProgramId" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="CradHolderAffiliationGroupId" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="CardActionReasonCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IcTotalNumberTransactions" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="IcAmountLimitSingleTransaction" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="DigitalCardFlag" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="Channel" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
   <!--accountDataType -->
  <xsd:complexType name="accountDataType">
    <xsd:sequence>
      <xsd:element name="Account" type="xsd:string"/>
      <xsd:element name="Name1TypeIndicator" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Name2TypeIndicator" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ShortName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CreditLimitLcy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="BillingCurrency" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DateAltCustStrt" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DateAltCustExp" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DateOpened" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CustomerSelDueDay" type="xsd:string" minOccurs="0"/>
      <xsd:element name="BillingCycle" type="xsd:string" minOccurs="0"/>
      <xsd:element name="StatementFrequency" type="xsd:string" minOccurs="0"/>
      <xsd:element name="StatementFlag" type="xsd:string" minOccurs="0"/>
      <xsd:element name="BlockCode1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="BlockCode2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="StateOfResid" type="xsd:string" minOccurs="0"/>
      <xsd:element name="StateOfIssue" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PctCtdlId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PctStartDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PctExpireDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PctLevel" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PctLevelStartDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PctLevelExpireDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CashPlanNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RetailPlanNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PromoPlanNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DdaRtngNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DdaAccountNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SavRtngNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UserAccountNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CardTechnology" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TempCrlim" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LimitOvrrdFlag" type="xsd:string" minOccurs="0"/>
      <xsd:element name="OwningBranchNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IntlCashPlan" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="creditCardDigitalApplicationRequest">
    <xsd:annotation>
      <xsd:documentation>creditCardDigitalApplicationRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="Org" type="xsd:integer" minOccurs="1"/>
        <xsd:element name="Logo" type="xsd:integer" minOccurs="1"/>
        <xsd:element name="CustimerId" type="dtt:string1" minOccurs="1"/>
        <xsd:element name="FirtsPurchase" type="xsd:string" minOccurs="1"/>
        <xsd:element name="AccountCreate" type="xsd:string" minOccurs="1"/>
        <xsd:element name="SameDayProcessType" type="xsd:integer" minOccurs="1"/>
        <xsd:element name="CardActionFlag" type="xsd:integer" minOccurs="1"/>
        <xsd:element name="CardAction" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="EmbosserData" type="tns:embosserType"/>
        <xsd:element name="AccountData" type="tns:accountDataType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="creditCardDigitalApplicationResponse">
    <xsd:annotation>
      <xsd:documentation>creditCardDigitalApplicationResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="Org" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="Logo" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="CustomerNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CardSequenceNumber" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="CreditLimit" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="CardExpiryDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
