Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/XSD/getCreditCardDetailsTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/getCreditCardDetailsTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gcd="http://www.ficohsa.com.hn/middleware.services/getCreditCardDetailsTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="getCreditCardDetailsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="CardNumber" type="xsd:string"/>
        <xsd:element name="Org" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCreditCardDetailsResponse" type="gcd:GetCreditCardDetailsResponseType"/>
  <xsd:complexType name="GetCreditCardDetailsResponseType">
    <xsd:sequence>
      <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
      <xsd:element name="GetCreditCardDetailsResponseType" type="gcd:GetCreditCardDetailsResponseRecordType" form="qualified" minOccurs="0"/>
      <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCreditCardDetailsResponseRecordType">
    <xsd:sequence>
      <xsd:element name="GetCreditCardDetailsResponseRecordType" type="gcd:GetCreditCardDetailsResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCreditCardDetailsResponseArrayType">
    <xsd:sequence>
      <xsd:element name="CardNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AccountHolderName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CardHolderName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CardType" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="CustomerId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CardHolderLegalId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AccountHolderLegalId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Product" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AfinityGroup" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AccountStatus" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CardStatus" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CardExpirationDate" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>