Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/XSD/getCustomerFinancing.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/getCustomerFinancingTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/getCustomerFinancingTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:simpleType name="stringMinLength1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CustomerFinancingInfoTypes">
    <xsd:sequence>
        <xsd:element name="Org" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="Logo" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="LoanTermType" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="InterestRate" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="PrincipalAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="InterestAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="InsuranceAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="CommissionAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="LoanAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="TotalLoanAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="MonthlyPayment" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="InsuranceAmtIncluded" type="xsd:string" minOccurs="0"/>
        <xsd:element name="LastPaymentAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="PctCode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="InsuranceCode" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getCustomerFinancingRequest">
      <xsd:annotation>
      <xsd:documentation>getCustomerFinancingRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="Org" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="Amount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="InterestRate" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="LoanTerm" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PctCode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="InsuranceCode" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCustomerFinancingResponse">
    <xsd:annotation>
      <xsd:documentation>getCustomerFinancingResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="FinancingDetailsInfo" type="tns:CustomerFinancingInfoTypes" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>