Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/XSD/getCustomerCreditCardTypes.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.ficohsa.com.hn/middleware.services/getCustomerCreditCardTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/getCustomerCreditCardTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CustomerInfoCommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes"/>
              
  <xsd:simpleType name="stringMinLength1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="addressTypes">
    <xsd:sequence>
      <xsd:element name="AddressType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AlternAdress" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AddressLine1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AddressLine4" type="xsd:string" minOccurs="0"/>
      <xsd:element name="City" type="xsd:string" minOccurs="0"/>
      <xsd:element name="State" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Country" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MobileNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EmployersName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PhoneExt" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Suburb" type="xsd:string" minOccurs="0"/>
      <xsd:element name="HouseNumber" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="customerNames">
    <xsd:sequence>
      <xsd:element name="GivenNames1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="GivenNames2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="GivenNames3" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getCustomerCreditCardRequest">
      <xsd:annotation>
      <xsd:documentation>getCustomerCreditCardRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="SearchCriteria" type="tns:stringMinLength1"/>
        <xsd:element name="SearchValue" type="tns:stringMinLength1"/>
        <xsd:element name="Org" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCustomerCreditCardResponse">
    <xsd:annotation>
      <xsd:documentation>getCustomerCreditCardResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="Org" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="CustomerId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AddresInformationResidence" type="tns:addressTypes" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="AddresInformationWork" type="tns:addressTypes" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="AddresInformationAltern" type="tns:addressTypes" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="CustomerNames" type="tns:customerNames" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="BirthDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="MaritalStatus" type="xsd:string" minOccurs="0"/>
        <xsd:element name="LegalDocumentType" type="xsd:string" minOccurs="0"/>
        <xsd:element name="LegalDocumentNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="FrequentTravelersNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="TravelersStatus" type="xsd:string" minOccurs="0"/>
        <xsd:element name="MainEmail" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AlternateEmail" type="xsd:string" minOccurs="0"/>
        <xsd:element name="NoOfDependants" type="xsd:string" minOccurs="0"/>
        <xsd:element name="EducationLevel" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Gender" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Profession" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Nationality" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Position" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PepIndicator" type="xsd:string" minOccurs="0"/>
        <xsd:element name="LegalDocumentCountry2" type="xsd:string" minOccurs="0"/>
        <xsd:element name="EmploymentYears" type="xsd:string" minOccurs="0"/>
        <xsd:element name="EmploymentMonths" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ClientSegment" type="xsd:string" minOccurs="0"/>
        <xsd:element name="VipIndicator" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ConsumptionScore" type="xsd:string" minOccurs="0"/>
        <xsd:element name="MainIncome" type="xsd:string" minOccurs="0"/>
        <xsd:element name="SecondaryIncome" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ExpirationDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DateIssue" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CountryIssuancePassaport" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AccountStatusIndicator" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Country2" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>