Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/XSD/getInterestRateTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/getInterestRateTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:git="http://www.ficohsa.com.hn/middleware.services/getInterestRateTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="getInterestRateResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="RatesInfo" type="git:RatesInfoType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RatesInfoType">
    <xsd:sequence>
      <xsd:element name="Org" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Logo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Pct" type="xsd:string" minOccurs="0"/>
      <xsd:element name="InterestRate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UpdateDateInterestRate" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>