Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/XSD/paymentRecordCreditCardTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/PaymentRecordCreditCard" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:prc="http://www.ficohsa.com.hn/middleware.services/PaymentRecordCreditCard" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="PaymentRecordCreditCardRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="CreditCard" type="xsd:string" minOccurs="1"/>
        <xsd:element name="ExpirationDate" type="xsd:string" minOccurs="1"/>
        <xsd:element name="Description" type="xsd:string" minOccurs="1"/>
        <xsd:element name="TransactionType">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Authorization"/>
              <xsd:enumeration value="Reversion"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PaymentAmount" type="xsd:string" minOccurs="1"/>
        <xsd:element name="Currency" type="xsd:string" minOccurs="1"/>
        <xsd:element name="SecuencialNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Org" type="xsd:string" minOccurs="0"/>
        <xsd:element name="PaymentType" type="xsd:string" minOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PaymentRecordCreditCardResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="SecuencialNumber" type="xsd:string" minOccurs="1"/>
        <xsd:element name="AuthorizationCode" type="xsd:string" minOccurs="1"/>
        <xsd:element name="Org" type="xsd:string" minOccurs="1"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>