Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/AperturaDescuentoDocumento/xsd/aperturaDescuentoDocumentoTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/aperturaDescuentoDocumentoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/aperturaDescuentoDocumentoTypes"
	>
	<xs:element name="aperturaDescuentoDocumentoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="COMPANY_CODE" type="xs:decimal" />
				<xs:element name="AGENCY_CODE" type="xs:decimal" />
				<xs:element name="SUBAPLICATION_CODE" type="xs:decimal" />
				<xs:element name="CUSTOMER_CODE" type="xs:decimal" />
				<xs:element name="EXPIRATION_DATE" type="xs:date" />
				<xs:element name="INITIAL_VALUE" type="xs:decimal" />
				<xs:element name="LINE_APLICATION_CODE" type="xs:string" />
				<xs:element name="LINE_AGENCY_CODE" type="xs:decimal" />
				<xs:element name="LINE_SUBAPLICATION_CODE" type="xs:decimal" />
				<xs:element name="LINE_CREDIT_NUMBER" type="xs:decimal" />
				<xs:element name="EXCHANGE_RATE" type="xs:decimal" />
				<xs:element name="BASE_RATE" type="xs:decimal" />
				<xs:element name="ORIGINAL_VALUE" type="xs:decimal" />
				<xs:element name="TOTAL_RATE" type="xs:decimal" />
				<xs:element name="SPREAD_RATE" type="xs:decimal" />
				<xs:element name="MATH_RELATION_1" type="xs:string" />
				<xs:element name="DELAY_INTEREST_PERCENTAGE" type="xs:decimal" />
				<xs:element name="SPREAD_DELAY" type="xs:decimal" />
				<xs:element name="MATH_RELATION_2" type="xs:string" />
				<xs:element name="DELAY_BASE_RATE" type="xs:decimal" />
				<xs:element name="AUTOMATIC_DEBIT" type="xs:string" />
				<xs:element name="USER_CODE" type="xs:string" />
				<xs:element name="DOCUMENT_NUMBER" type="xs:decimal" />
				<xs:element name="QUOTA_NUMBER" type="xs:decimal" />
				<xs:element name="PAYMENT_DATE" type="xs:date" />
				<xs:element name="DOCUMENT_VALUE" type="xs:decimal" />
				<xs:element name="ACCOUNT_AGENCY_CODE" type="xs:decimal" />
				<xs:element name="APLICATION_ACCOUNT" type="xs:string" />
				<xs:element name="ACCOUNT_SUBAPLICATION_CODE" type="xs:decimal" />
				<xs:element name="ACCOUNT_CODE" type="xs:decimal" />
				<xs:element name="INVESTMENT_TYPE" type="xs:decimal" />
				<xs:element name="DESTINATION_CODE" type="xs:decimal" />
				<xs:element name="ASSURANCE_NUMBER" type="xs:decimal" minOccurs="0" />
				<xs:element name="DEBTOR_CODE" type="xs:decimal" />
				<xs:element name="RAS_CATEGORY" type="xs:string" />
				<xs:element name="DEPARTAMENT_CODE" type="xs:string" />
				<xs:element name="TOWN_CODE" type="xs:string" />
				<xs:element name="VILLAGE_CODE" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="aperturaDescuentoDocumentoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NEGOTIATION_NUMBER" type="xs:decimal" />
				<xs:element name="MOV_SEQUENCE" type="xs:decimal" />
				<xs:element name="EXPENSE_DISBURSEMENT" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>