Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/GestionesTarjetas/wsdl/gestionesTarjetasPS.wsdl

<wsdl:definitions name="gestionesTarjetasPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasPS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" schemaLocation="../xsd/gestionesTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	<wsdl:message name="activacionTCRequest">
		<wsdl:part element="tns:activacionTC" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="activacionTCResponse">
		<wsdl:part element="tns:activacionTCResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="bloqueoTCRequest">
		<wsdl:part element="tns:bloqueoTC" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="bloqueoTCResponse">
		<wsdl:part element="tns:bloqueoTCResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="bloqueoCTARequest">
		<wsdl:part element="tns:bloqueoCTA" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="bloqueoCTAResponse">
		<wsdl:part element="tns:bloqueoCTAResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="actualizacionLimiteCTARequest">
		<wsdl:part element="tns:actualizacionLimiteCTA" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="actualizacionLimiteCTAResponse">
		<wsdl:part element="tns:actualizacionLimiteCTAResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="solicitudTCRequest">
		<wsdl:part element="tns:solicitudTC" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="solicitudTCResponse">
		<wsdl:part element="tns:solicitudTCResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="actualizacionTmpLimiteCTARequest">
		<wsdl:part element="tns:actualizacionTmpLimiteCTA" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="actualizacionTmpLimiteCTAResponse">
		<wsdl:part element="tns:actualizacionTmpLimiteCTAResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="cambioProductoTCRequest">
		<wsdl:part element="tns:cambioProductoTC" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="cambioProductoTCResponse">
		<wsdl:part element="tns:cambioProductoTCResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="solicitudPinTCRequest">
		<wsdl:part element="tns:solicitudPinTC" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="solicitudPinTCResponse">
		<wsdl:part element="tns:solicitudPinTCResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="gestionTCRoboPerdidaRequest">
		<wsdl:part element="tns:gestionTCRoboPerdida" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="gestionTCRoboPerdidaResponse">
		<wsdl:part element="tns:gestionTCRoboPerdidaResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="remplazoPlasticoTCRequest">
		<wsdl:part element="tns:remplazoPlasticoTC" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="remplazoPlasticoTCResponse">
		<wsdl:part element="tns:remplazoPlasticoTCResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="cancelarFinanciamientoRequest">
		<wsdl:part element="tns:cancelarFinanciamiento" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="cancelarFinanciamientoResponse">
		<wsdl:part element="tns:cancelarFinanciamientoResponse" name="result"/>
	</wsdl:message>
	<wsdl:message name="cancelarTarjetaCreditoRequest">
		<wsdl:part element="tns:cancelarTarjetaCredito" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="cancelarTarjetaCreditoResponse">
		<wsdl:part element="tns:cancelarTarjetaCreditoResponse" name="result"/>
	</wsdl:message>
	<wsdl:portType name="gestionesTarjetasPS">
		<wsdl:operation name="activacionTC" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:activacionTCRequest"/>
			<wsdl:output message="op:activacionTCResponse"/>
		</wsdl:operation>
		<wsdl:operation name="bloqueoTC" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:bloqueoTCRequest"/>
			<wsdl:output message="op:bloqueoTCResponse"/>
		</wsdl:operation>
		<wsdl:operation name="bloqueoCTA" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:bloqueoCTARequest"/>
			<wsdl:output message="op:bloqueoCTAResponse"/>
		</wsdl:operation>
		<wsdl:operation name="actualizacionLimiteCTA" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:actualizacionLimiteCTARequest"/>
			<wsdl:output message="op:actualizacionLimiteCTAResponse"/>
		</wsdl:operation>
		<wsdl:operation name="solicitudTC" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:solicitudTCRequest"/>
			<wsdl:output message="op:solicitudTCResponse"/>
		</wsdl:operation>
		<wsdl:operation name="actualizacionTmpLimiteCTA" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:actualizacionTmpLimiteCTARequest"/>
			<wsdl:output message="op:actualizacionTmpLimiteCTAResponse"/>
		</wsdl:operation>
		<wsdl:operation name="cambioProductoTC" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:cambioProductoTCRequest"/>
			<wsdl:output message="op:cambioProductoTCResponse"/>
		</wsdl:operation>
		<wsdl:operation name="solicitudPinTC" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:solicitudPinTCRequest"/>
			<wsdl:output message="op:solicitudPinTCResponse"/>
		</wsdl:operation>
		<wsdl:operation name="gestionTCRoboPerdida" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:gestionTCRoboPerdidaRequest"/>
			<wsdl:output message="op:gestionTCRoboPerdidaResponse"/>
		</wsdl:operation>
		<wsdl:operation name="remplazoPlasticoTC" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:remplazoPlasticoTCRequest"/>
			<wsdl:output message="op:remplazoPlasticoTCResponse"/>
		</wsdl:operation>
		<wsdl:operation name="cancelarFinanciamiento" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:cancelarFinanciamientoRequest"/>
			<wsdl:output message="op:cancelarFinanciamientoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="cancelarTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:cancelarTarjetaCreditoRequest"/>
			<wsdl:output message="op:cancelarTarjetaCreditoResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="gestionesTarjetasPSSOAP" type="op:gestionesTarjetasPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="activacionTC">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="bloqueoTC">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="bloqueoCTA">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="actualizacionLimiteCTA">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="solicitudTC">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="actualizacionTmpLimiteCTA">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cambioProductoTC">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/cambioProductoTC"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="solicitudPinTC">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/solicitudPinTC"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="gestionTCRoboPerdida">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/gestionTCRoboPerdida"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="remplazoPlasticoTC">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelarFinanciamiento">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelarTarjetaCredito">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="gestionesTarjetasPS">
		<wsdl:port binding="op:gestionesTarjetasPSSOAP" name="gestionesTarjetasPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/GestionesTarjetas/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>