Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_RegisterExternalBatch/Schemas/RegisterExternalBatchTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/massivePayment"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mas="https://www.ficohsa.com/regional/massivePayment"
            xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBRG_MassivePayment_Commons/Schemas/CommonTypes.xsd"
              namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="registerExternalBatch">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="DocumentType" type="mas:stringMinLength1"/>
        <xsd:element name="LegalId" type="mas:stringMinLength1"/>
        <xsd:element name="CustomerId" type="mas:stringMinLength1"/>
        <xsd:element name="Type" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="BankBatchId" type="mas:stringMinLength1"/>
        <xsd:element name="UploadDate" type="xsd:date" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="ApplicationDate" type="xsd:dateTime"/>
        <xsd:element name="AuthorizationRequired" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="NotificationEmail" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Concept" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="registerExternalBatchResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="stringMinLength1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
