Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/AlertasFraude/xsd/alertasFraudeTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:alt="http://www.ficohsa.com.hn/middleware.services/AlertasFraude" targetNamespace="http://www.ficohsa.com.hn/middleware.services/AlertasFraude" version="1.0">
	<!--#################################################################-->
	<!-- cardDetailsType -->
	<xs:complexType name="cardDetailsType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LOGO" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTRY_ORIGIN_CARD" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENT_BALANCE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- transactionDetailsType -->
	<xs:complexType name="transactionDetailsType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:string"/>
			<xs:element name="DATE" type="xs:dateTime"/>
			<xs:element name="SOURCE_COUNTRY" type="xs:string"/>
			<xs:element name="MERCHANT_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="MERCHANT_NAME" type="xs:string"/>
			<xs:element name="ALERT_RESULT_CODE" type="xs:string"/>
			<xs:element name="AUTH_RESULT_CODE" type="xs:string"/>
			<xs:element name="PLASTIC_PRESENCE" type="xs:string" minOccurs="0"/>
			<xs:element name="ORIGINAL_AMOUNT" type="xs:decimal"/>
			<xs:element name="ORIGINAL_CURRENCY" type="xs:decimal"/>
			<xs:element name="BILLING_AMOUNT" type="xs:decimal"/>
			<xs:element name="BILLING_CURRENCY" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<!--#################################################################-->
	<!--OPERACION: NOTIFICA TRANSACCION-->
	<xs:element name="notificaTransaccionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_DETAILS" type="alt:cardDetailsType"/>
				<xs:element name="TRANSACTION_DETAILS" type="alt:transactionDetailsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="notificaTransaccionResponse"/>
</xs:schema>