Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/remesas/PagoRemesaCreditoCuenta/pagoRemesaCreditoCuentaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoRemesaCreditoCuentaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/pagoRemesaCreditoCuentaTypes">
	
	<xs:complexType name = "pagoRemesaCreditoCuentaResponseType">
		<xs:sequence>
		    <xs:element name="REMITTANCE_ID" type="xs:string" minOccurs="0" />
	    </xs:sequence>
	</xs:complexType>
	
	<xs:element name="pagoRemesaCreditoCuenta">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="REMITTANCE_ID" type="xs:string" />
	            <xs:element name="REMITTANCE_DATE" type="xs:string" />
	            <xs:element name="CURRENCY" type="xs:string" />
	            <xs:element name="ACCOUNT_NUMBER" type="xs:string" />
	            <xs:element name="AMOUNT" type="xs:string" />
	            <xs:element name="REMITTER_NAME" type="xs:string" />
				<xs:element name="REMITTER_ADDRESS" type="xs:string" />
	            <xs:element name="BENEFICIARY_NAME" type="xs:string" />
	            <xs:element name="BENEF_PHONE_NUMBER" type="xs:string" />
	            <xs:element name="EXCHANGE_RATE" type="xs:string" />
	            <xs:element name="COUNTRY_OF_ORIGIN" type="xs:string" />
	            <xs:element name="STATE_OF_ORIGIN" type="xs:string" />
	            <xs:element name="CITY_OF_ORIGIN" type="xs:string" />
	            <xs:element name="REF_CURRENCY" type="xs:string" />
	            <xs:element name="REF_EXCHANGE_RATE" type="xs:string" />
	            <xs:element name="REF_AMOUNT" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoRemesaCreditoCuentaResponse" type="cons:pagoRemesaCreditoCuentaResponseType" />
	
</xs:schema>