Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ServiciosEmpresariales_v2/wsdl/ServiciosEmpresariales.wsdl

<WL5G3N0:definitions name="serviciosEmpresarialesPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesTypes" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:set="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_-1293564538.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:set="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesTypes" schemaLocation="../xsd/XMLSchema_1155876800.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="registraClienteDesembolsoLineaCredito">
    <WL5G3N0:part element="WL5G3N1:registraClienteDesembolsoLineaCredito" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="registraClienteDesembolsoLineaCreditoResponse">
    <WL5G3N0:part element="WL5G3N1:registraClienteDesembolsoLineaCreditoResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaClienteDesembolsoLineaCredito">
    <WL5G3N0:part element="WL5G3N1:consultaClienteDesembolsoLineaCredito" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaClienteDesembolsoLineaCreditoResponse">
    <WL5G3N0:part element="WL5G3N1:consultaClienteDesembolsoLineaCreditoResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="modificaClienteDesembolsoLineaCredito">
    <WL5G3N0:part element="WL5G3N1:modificaClienteDesembolsoLineaCredito" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="modificaClienteDesembolsoLineaCreditoResponse">
    <WL5G3N0:part element="WL5G3N1:modificaClienteDesembolsoLineaCreditoResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="registraTargetTipoPrestamo">
    <WL5G3N0:part element="WL5G3N1:registraTargetTipoPrestamo" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="registraTargetTipoPrestamoResponse">
    <WL5G3N0:part element="WL5G3N1:registraTargetTipoPrestamoResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaTargetTipoPrestamo">
    <WL5G3N0:part element="WL5G3N1:consultaTargetTipoPrestamo" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaTargetTipoPrestamoResponse">
    <WL5G3N0:part element="WL5G3N1:consultaTargetTipoPrestamoResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="modificaTargetTipoPrestamo">
    <WL5G3N0:part element="WL5G3N1:modificaTargetTipoPrestamo" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="modificaTargetTipoPrestamoResponse">
    <WL5G3N0:part element="WL5G3N1:modificaTargetTipoPrestamoResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="serviciosEmpresarialesPS">
    <WL5G3N0:operation name="registraClienteDesembolsoLineaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:registraClienteDesembolsoLineaCredito"/>
      <WL5G3N0:output message="WL5G3N3:registraClienteDesembolsoLineaCreditoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaClienteDesembolsoLineaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaClienteDesembolsoLineaCredito"/>
      <WL5G3N0:output message="WL5G3N3:consultaClienteDesembolsoLineaCreditoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="modificaClienteDesembolsoLineaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:modificaClienteDesembolsoLineaCredito"/>
      <WL5G3N0:output message="WL5G3N3:modificaClienteDesembolsoLineaCreditoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="registraTargetTipoPrestamo" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:registraTargetTipoPrestamo"/>
      <WL5G3N0:output message="WL5G3N3:registraTargetTipoPrestamoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaTargetTipoPrestamo" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaTargetTipoPrestamo"/>
      <WL5G3N0:output message="WL5G3N3:consultaTargetTipoPrestamoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="modificaTargetTipoPrestamo" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:modificaTargetTipoPrestamo"/>
      <WL5G3N0:output message="WL5G3N3:modificaTargetTipoPrestamoResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="serviciosEmpresarialesPSSOAP" type="WL5G3N3:serviciosEmpresarialesPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="registraClienteDesembolsoLineaCredito">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/serviciosEmpresariales"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:registraClienteDesembolsoLineaCredito" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:registraClienteDesembolsoLineaCreditoResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaClienteDesembolsoLineaCredito">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/serviciosEmpresariales"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaClienteDesembolsoLineaCredito" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaClienteDesembolsoLineaCreditoResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="modificaClienteDesembolsoLineaCredito">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/serviciosEmpresariales"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:modificaClienteDesembolsoLineaCredito" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:modificaClienteDesembolsoLineaCreditoResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="registraTargetTipoPrestamo">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/serviciosEmpresariales"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:registraTargetTipoPrestamo" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:registraTargetTipoPrestamoResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaTargetTipoPrestamo">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/serviciosEmpresariales"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaTargetTipoPrestamo" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaTargetTipoPrestamoResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="modificaTargetTipoPrestamo">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/serviciosEmpresarialesPS/serviciosEmpresariales"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:modificaTargetTipoPrestamo" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:modificaTargetTipoPrestamoResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="serviciosEmpresarialesPS">
    <WL5G3N0:port binding="WL5G3N3:serviciosEmpresarialesPSSOAP" name="serviciosEmpresarialesPSSOAP">
      <WL5G3N4:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/CustomerLoans/ServiciosEmpresariales"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>