Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaConsolidadaRiesgoCliente/wsdl/consultaConsolidadaRiesgoClientePS.wsdl

<wsdl:definitions name="consultaConsolidadaRiesgoClientePS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaConsolidadaRiesgoClientePS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaConsolidadaRiesgoClientePS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaConsolidadaRiesgoClienteTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
      </xsd:schema>
      <xsd:schema>
         <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaConsolidadaRiesgoClienteTypes" schemaLocation="../xsd/consultaConsolidadaRiesgoClienteTypes.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="requestHeader">
      <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
   </wsdl:message>
   <wsdl:message name="responseHeader">
      <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
   </wsdl:message>
   <wsdl:message name="consultaConsolidadaRiesgoClienteRequest">
      <wsdl:part element="tns:consultaConsolidadaRiesgoCliente" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="consultaConsolidadaRiesgoClienteResponse">
      <wsdl:part element="tns:consultaConsolidadaRiesgoClienteResponse" name="parameters"/>
   </wsdl:message>
   <wsdl:portType name="consultaConsolidadaRiesgoClientePS">
      <wsdl:operation name="consultaConsolidadaRiesgoCliente" parameterOrder="parameters RequestHeader ResponseHeader">
         <wsdl:input message="op:consultaConsolidadaRiesgoClienteRequest"/>
         <wsdl:output message="op:consultaConsolidadaRiesgoClienteResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="consultaConsolidadaRiesgoClientePSSOAP" type="op:consultaConsolidadaRiesgoClientePS">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="consultaConsolidadaRiesgoCliente">
         <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaConsolidadaRiesgoClientePS/consultaConsolidadaRiesgoCliente"/>
         <wsdl:input>
            <soap:body use="literal"/>
            <soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
            <soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="consultaConsolidadaRiesgoClientePS">
      <wsdl:port binding="op:consultaConsolidadaRiesgoClientePSSOAP" name="consultaConsolidadaRiesgoClientePSSOAP">
         <soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/consultaConsolidadaRiesgoCliente/"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>