Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/CreaClienteTarjetaCredito/xsd/creaClienteTarjetaCreditoTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/creaClienteTarjetaCreditoTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creaClienteTarjetaCreditoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!--adresType -->
	<xs:simpleType name="adresType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HOME" />
			<xs:enumeration value="WORK" />
			<xs:enumeration value="OTHER" />
		</xs:restriction>
	</xs:simpleType>
	
	<!--yesNoType -->
	<xs:simpleType name="yesNoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>
	
<!--############################################-->
<!-- OPERATION: creaClienteTarjetaCredito -->
<!--############################################-->

	<xs:element name="creaClienteTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BASIC_INFO" type="tns:basicInfoType" minOccurs="0"/>
				<xs:element name="ADDRESS_INFO" type="tns:adresInfoType" minOccurs="0"/>
				<xs:element name="FINANCIAL_INFO" type="tns:financialInfoType" minOccurs="0"/>
				<xs:element name="PEP_INFO" type="tns:pepInfoType" minOccurs="0"/>
				<xs:element name="CHANNELS_INFO" type="tns:channelInfoType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="creaClienteTarjetaCreditoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="basicInfoType">
		<xs:sequence>
			<xs:element name="IDENTIFICATIONS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IDENTIFICATION_ITEM" type="tns:identificationType" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ORG" type="xs:string"/>
			<xs:element name="BANK_CUSTOMER_ID" type="xs:string" />
			<xs:element name="NAMES" type="xs:string" />
			<xs:element name="FIRST_SURNAME" type="xs:string" />
			<xs:element name="SECOND_SURNAME" type="xs:string" minOccurs="0" />
			<xs:element name="MARRIED_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="SPOUSE_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="DATE_OF_BIRTH" type="xs:string" minOccurs="0" />
			<xs:element name="COUNTRY_OF_BIRTH" type="xs:string" minOccurs="0" />
			<xs:element name="NATIONALITY" type="xs:string" minOccurs="0" />
			<xs:element name="GENDER" type="xs:string" />
			<xs:element name="MARITAL_STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="MAKER_INDICATOR" type="xs:string" minOccurs="0" />
			<xs:element name="DOUBLE_CURRENCY_INDICATOR" type="xs:string" minOccurs="0" />
			<xs:element name="VIP_CUSTOMER_INDICATOR" type="xs:string" minOccurs="0" />
			<xs:element name="RESIDENCE_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="NUMBER_OF_DEPENDENTS" type="xs:string" minOccurs="0" />
			<xs:element name="FREQUENT_FLYEER" type="xs:string" minOccurs="0" />
			<xs:element name="FLYER_TYPE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="identificationType">
		<xs:sequence>
			<xs:element name="LEGAL_ID_TYPE" type="xs:string" />
			<xs:element name="LEGAL_ID" type="xs:string"/>
			<xs:element name="DATE_OF_ISSUANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="MATURITY_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTRY_CODE_ISSUANCE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="adresInfoType">
		<xs:sequence>
			<xs:element name="ADDRESS_ITEM" type="tns:adresItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="adresItemType">
		<xs:sequence>
			<xs:element name="ADDRESS_TYPE" type="tns:adresType" />
			<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="DEPARMENT_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="MUNICIPALITY_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="CITY_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="COLONY_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="COLONY_DESCRIPTION" type="xs:string" minOccurs="0" />
			<xs:element name="ADDRESS_LINE1" type="xs:string" minOccurs="0" />
			<xs:element name="ADDRESS_LINE2" type="xs:string" minOccurs="0" />
			<xs:element name="REFERENCE" type="xs:string" minOccurs="0" />
			<xs:element name="AVENUE" type="xs:string" minOccurs="0" />
			<xs:element name="STREET" type="xs:string" minOccurs="0" />
			<xs:element name="BLOCK" type="xs:string" minOccurs="0" />
			<xs:element name="HOUSE_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="POSTAL_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="MOBILE_PHONE" type="xs:string" minOccurs="0" />
			<xs:element name="EXTENSION" type="xs:string" minOccurs="0" />
			<xs:element name="FAX" type="xs:string" minOccurs="0" />
			<xs:element name="EMAIL" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="financialInfoType">
		<xs:sequence>
			<xs:element name="LEVEL_OF_EDUCATION" type="xs:string" minOccurs="0"/>
			<xs:element name="OCCUPATION" type="xs:string" minOccurs="0" />
			<xs:element name="PROFESSION_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="COMPANY_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="JOB_TITLE" type="xs:string" minOccurs="0" />
			<xs:element name="EMPLOYMENT_YEARS" type="xs:string" minOccurs="0" />
			<xs:element name="EMPLOYMENT_MONTHS" type="xs:string" minOccurs="0" />
			<xs:element name="INCOMES" type="xs:string" minOccurs="0" />
			<xs:element name="OTHERS_INCOMES" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="pepInfoType">
		<xs:sequence>
			<xs:element name="PEP_INDICATOR" type="xs:string" minOccurs="0"/>		
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="channelInfoType">
		<xs:sequence>
			<xs:element name="CHANNEL" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CHANNEL_CODE" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>