Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/consultaInformacionPersona/xsd/consultaInformacionPersonaFPC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaInformacionPersonaFPC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaInformacionPersonaFPC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PC_COD_CTA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PC_NOMBRE_COMPLETO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PC_COD_PERSONA_SYSDE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_IDENTIFICACIONES" type="db:FO.FO_WEB_SERVICE_TAX111960X2X4" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PC_COD_PATRONAL" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PC_NOM_PATRONAL" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FEC_INGRE_FONDO" type="dateTime" db:index="7" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PC_COD_PRODUCTO" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PC_COD_SUBPRODUCTO" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PC_NOM_PRODUCTO" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MON_APORTE_ACORDAD" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PC_FRECUENCIA" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MON_APORTE_SEGURO" type="decimal" db:index="13" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_MON_ULT_APORTE_EXT" type="decimal" db:index="14" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PD_FEC_ULTIMO_APORTE" type="dateTime" db:index="15" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PD_FEC_PROXIM_APORTE" type="dateTime" db:index="16" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PN_MON_APORTE_ULT_FEC" type="decimal" db:index="17" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PT_CTA_EMAILS" type="db:FO.FO_WEB_SERVICE_TAB_CTA_EMAILS" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PD_FEC_NACIMIENTO" type="dateTime" db:index="19" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PT_BENEFICIARIOS" type="db:FO.FO_WEB_SERVICE_TX111960X2X26" db:index="20" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PC_FORMA_APORTACION" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_ERROR" type="decimal" db:index="22" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PC_MENSAJE_ERROR" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="FO.FO_WEB_SERVICE_TX111960X2X27">
      <sequence>
         <element name="NOMBRE" type="db:string160" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PARENTESCO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FO.FO_WEB_SERVICE_TAX111960X2X4">
      <sequence>
         <element name="PT_IDENTIFICACIONES_ITEM" type="db:FO.FO_WEB_SERVICE_TYX111960X2X5" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FO.FO_WEB_SERVICE_TX111960X2X26">
      <sequence>
         <element name="PT_BENEFICIARIOS_ITEM" type="db:FO.FO_WEB_SERVICE_TX111960X2X27" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FO.FO_WEB_SERVICE_TYPE_CTA_EMAIL">
      <sequence>
         <element name="CTA_EMAIL" type="db:string160" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FO.FO_WEB_SERVICE_TAB_CTA_EMAILS">
      <sequence>
         <element name="PT_CTA_EMAILS_ITEM" type="db:FO.FO_WEB_SERVICE_TYPE_CTA_EMAIL" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FO.FO_WEB_SERVICE_TYX111960X2X5">
      <sequence>
         <element name="COD_TIPO_ID" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUM_ID" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FEC_VENCIMIENTO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string160">
      <restriction base="string">
         <maxLength value="160"/>
      </restriction>
   </simpleType>
</schema>