Fuentes/ficohsacore-osb12-b78f21b126d5/CustomerRelationshipManagement/ProviderServices/v1.0/TotalImage/WADL/ExpedientesAPI_BS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:eat="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ExpedientesAPI_BS">RestReference</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes" schemaLocation="../../XSD/TotalImage/ExpedientesAPITypes.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/Token/autenticajson">
         <method name="POST" soa:wsdlOperation="autentica">
            <request>
               <representation mediaType="application/json" element="cns:autenticationRequest" xmlns:cns="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:autenticationResponse" xmlns:cns="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes"/>
            </response>
         </method>
      </resource>
      <resource path="/Transaccion/getTransaccion8">
         <method name="POST" soa:wsdlOperation="ingresaExpediente">
            <request>
               <representation mediaType="application/json" element="cns:getTransaction8Request" xmlns:cns="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getTransaction8Response" xmlns:cns="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/json" element="cns:getTransaction8Error" xmlns:cns="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes"/>
            </response>
         </method>
      </resource>
      <resource path="/expedientes/cargarImagenBase64Redis">
         <method name="POST" soa:wsdlOperation="guardaExpediente">
            <request>
               <representation mediaType="application/json" element="cns:loadImageBase64Request" xmlns:cns="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:loadImageBase64Response" xmlns:cns="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/json" element="cns:loadImageBase64Error" xmlns:cns="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes"/>
            </response>
         </method>
      </resource>
      <resource path="/Transaccion/getTransaccion6">
         <method name="POST" soa:wsdlOperation="creaExpediente">
            <request>
               <representation mediaType="application/json" element="cns:getTransaction6Request" xmlns:cns="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getTransaction6Response" xmlns:cns="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes"/>
            </response>
         </method>
      </resource>
   </resources>
</application>