Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConfirmaChequeVirtual/xsd/confirmaChequeVirtualTypes.xsd

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/confirmaChequeVirtualTypes"
	xmlns:ccvt="http://www.ficohsa.com.hn/middleware.services/confirmaChequeVirtualTypes">
	
	<!-- stringMinLength1 -->
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--############################################--> 
    <!--     OPERACION: CONFIRMA CHEQUE VIRTUAL     -->
    <!--############################################-->
    
	<xs:element name="confirmaChequeVirtual">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_RECORD_REF" type="ccvt:stringMinLength1"/>
				<xs:element name="APPROVAL_STATUS">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="REJECTED_CODE" type="ccvt:stringMinLength1"/>
				<xs:element name="REJECTED_REASON" type="xs:string" minOccurs="0"/>
				<xs:element name="COMISION" type="xs:string" minOccurs="0"/>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="confirmaChequeVirtualResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEPOSIT_STATUS" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>