Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActualizacionLimiteCTA/wsdl/actualizacionLimiteCTAPS.wsdl

<wsdl:definitions name="actualizacionLimiteCTAPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizacionLimiteCTAPS/" xmlns:alcta="http://www.ficohsa.com.hn/middleware.services/actualizacionLimiteCTAPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" schemaLocation="../../GestionesTarjetas/xsd/gestionesTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="actualizacionLimiteCTARequest">
		<wsdl:part element="tns:actualizacionLimiteCTA" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="actualizacionLimiteCTAResponse">
		<wsdl:part element="tns:actualizacionLimiteCTAResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="actualizacionLimiteCTAPS">
		<wsdl:operation name="actualizacionLimiteCTA" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="alcta:actualizacionLimiteCTARequest"/>
			<wsdl:output message="alcta:actualizacionLimiteCTAResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="actualizacionLimiteCTAPSSOAP" type="alcta:actualizacionLimiteCTAPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="actualizacionLimiteCTA">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="alcta:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="alcta:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="actualizacionLimiteCTAPS">
		<wsdl:port binding="alcta:actualizacionLimiteCTAPSSOAP" name="actualizacionLimiteCTAPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/ActualizacionLimiteCTA/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>