Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Services/RequestorServices/XSD/getCoreCatalogsTypes.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.ficohsa.com.hn/middleware.services/getCoreCatalogsTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/getCoreCatalogsTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CustomerInfoCommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes"/>
  <xsd:element name="getCoreCatalogsRequest">
    <xsd:annotation>
      <xsd:documentation>getCoreCatalogsRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="Core" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CatalogName">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Catalog" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCoreCatalogsResponse">
    <xsd:annotation>
      <xsd:documentation>getCoreCatalogsResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element ref="tns:CatalogsInfo" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CatalogsInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:CatalogItem" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="Id" type="xsd:ID"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CatalogItem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>