Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Services/RequestorServices/XSD/getServicesDetailsTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/getServicesDetailsTypes" elementFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gsd="http://www.ficohsa.com.hn/middleware.services/getServicesDetailsTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="GetServicesDetails" type="gsd:GetServicesDetailsRequest"/>
  <xsd:element name="GetServicesDetailsRSP" type="gsd:GetServicesDetailsResponse"/>
  <xsd:complexType name="GetServicesDetailsRequest">
    <xsd:sequence>
      <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
      <xsd:element name="ServiceId" type="dtt:string1"/>
      <xsd:element name="Channel" type="gsd:ChannelTypeEnum"/>
      <xsd:element name="Type" type="gsd:TypeTypeEnum"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetServicesDetailsResponse">
    <xsd:sequence>
      <xsd:element name="ServiceInfo" type="gsd:ServiceInfoType" minOccurs="0"/>
      <xsd:element name="ServiceDetails" type="gsd:ServiceDetailsType" minOccurs="0"/>
      <xsd:element name="InfoAditionalService" type="gsd:InfoAditionalServiceType" minOccurs="0"/>
      <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
      <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceInfoType">
    <xsd:sequence>
      <xsd:element name="ID" type="xsd:string"/>
      <xsd:element name="ContractID" type="xsd:string"/>
      <xsd:element name="Type" type="xsd:string"/>
      <xsd:element name="IsDataConfig" type="xsd:string"/>
      <xsd:element name="Description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceDetailsType">
    <xsd:sequence>
      <xsd:element name="ServiceFields" type="gsd:ServiceFieldsType" minOccurs="0"/>
      <xsd:element name="ServiceDataInputConfig" type="gsd:ServiceDataInputConfigType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceFieldsType">
    <xsd:sequence>
      <xsd:element name="ServiceField" type="gsd:ServiceFieldType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceDataInputConfigType">
    <xsd:sequence>
      <xsd:element name="ServiceData" type="gsd:ServiceDataInputConfigFieldType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceFieldType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Description" type="xsd:string"/>
      <xsd:element name="EnableCatalog" type="xsd:string"/>
      <xsd:element name="CatalogItems" type="gsd:CatalogItemsType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceDataInputConfigFieldType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Value" type="xsd:string"/>
      <xsd:element name="EnableCatalog" type="xsd:string"/>
      <xsd:element name="CatalogItems" type="gsd:CatalogItemsType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CatalogItemsType">
    <xsd:sequence>
      <xsd:element name="Items" type="gsd:ItemsType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ItemsType">
    <xsd:sequence>
      <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InfoAditionalServiceType">
    <xsd:sequence>
      <xsd:element name="AvaliableProductsPayment" type="gsd:AvailableProductsPaymentType"/>
      <xsd:element name="AllowPartialPayment" type="xsd:string"/>
      <xsd:element name="EnableCrossingCurrency" type="xsd:string"/>
      <xsd:element name="AvaliableCurrency" type="gsd:AvailableCurrencyType" minOccurs="0"/>
      <xsd:element name="TimeRestriction" type="gsd:TimeRestrictionType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AvailableProductsPaymentType">
    <xsd:sequence>
      <xsd:element name="AvaliableProduct" type="gsd:AvailableProductType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AvailableProductType">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AvailableCurrencyType">
    <xsd:sequence>
      <xsd:element name="Currency" type="gsd:CurrencyType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CurrencyType">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeRestrictionType">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="HoursDuration" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Frequency" type="gsd:FrecuencyType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FrecuencyType">
    <xsd:sequence>
      <xsd:element name="Hours" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Weekly" type="gsd:WeeklyType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WeeklyType">
    <xsd:sequence>
      <xsd:element name="Days" type="gsd:DaysType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DaysType">
    <xsd:sequence>
      <xsd:element name="Day" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ChannelTypeEnum">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="ICB"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeTypeEnum">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Agreement"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>