Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Services/RequestorServices/XSD/getServicesListTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/getServicesListTypes" elementFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gsl="http://www.ficohsa.com.hn/middleware.services/getServicesListTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="GetServicesList" type="gsl:GetServicesListRequest"/>
  <xsd:element name="GetServicesListRSP" type="gsl:GetServicesListResponse"/>
  <xsd:complexType name="GetServicesListRequest">
    <xsd:sequence>
      <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
      <xsd:element name="ServiceDescription" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Channel" type="gsl:ChannelTypeEnum"/>
      <xsd:element name="Type" type="gsl:TypeTypeEnum"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetServicesListResponse">
    <xsd:sequence>
      <xsd:element name="Services" type="gsl:ServicesType" minOccurs="0"/>
      <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
      <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServicesType">
    <xsd:sequence>
      <xsd:element name="Service" type="gsl:ServiceType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceType">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:string"/>
      <xsd:element name="ContractId" type="xsd:string"/>
      <xsd:element name="Description" type="xsd:string"/>
      <xsd:element name="Country" type="xsd:string"/>
      <xsd:element name="Categories" type="gsl:CategoriesType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CategoriesType">
    <xsd:sequence>
      <xsd:element name="Category" type="gsl:CategoryType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CategoryType">
    <xsd:sequence>
      <xsd:element name="Value" type="xsd:string"/>
      <xsd:element name="SubCategories" type="gsl:SubCategoriesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubCategoriesType">
    <xsd:sequence>
      <xsd:element name="SubCategory" type="gsl:SubCategoryType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubCategoryType">
    <xsd:sequence>
      <xsd:element name="Value" type="xsd:string"/>
      <xsd:element name="SubTypes" type="gsl:SubTypesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubTypesType">
    <xsd:sequence>
      <xsd:element name="SubType" type="gsl:SubTypeType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubTypeType">
    <xsd:sequence>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ChannelTypeEnum">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="ICB"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeTypeEnum">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Agreement"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>