Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/RewardsProgramOperations/xsd/RewardsProgramOperationsTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/rewardsProgramOperationsTypes" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rew="http://www.ficohsa.com.hn/middleware.services/rewardsProgramOperationsTypes" xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes" schemaLocation="../../General/xsd/GeneralTypes.xsd"/>

	<!-- Cashback Query -->
	<xs:element name="cashbackQuery" type="rew:cashbackQueryType"/>
	
	<xs:complexType name="cashbackQueryType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="gen:cardType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="cashbackQueryResponse" type="rew:cashbackQueryRspType"/>
	
	<xs:complexType name="cashbackQueryRspType">
		<xs:sequence>
			<xs:element name="CARDHOLDER_NAME" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AMOUNT" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Cashback Payment -->
	<xs:element name="cashbackPayment" type="rew:cashbackPaymentType"/>

	<xs:complexType name="cashbackPaymentType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="gen:cardType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AMOUNT" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PAYMENT" type="gen:paymentType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="cashbackPaymentResponse" type="rew:cashbackPaymentRspType"/>
	
	<xs:complexType name="cashbackPaymentRspType">
		<xs:sequence>
			<xs:element name="CARDHOLDER_NAME" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>