Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditCards/RequestorServices/WSDL/CreditCardRouter_PS.wsdl

<definitions targetNamespace="urn:CreditCardRouter_PS" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="urn:CreditCardRouter_PS" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/creditCardsTypes"
             xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/creditCardApplicationTypes"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soap13="http://xmlns.oracle.com/pcbpel/adapter/db/sp/conDatoCuenta"
             xmlns:soap14="http://www.ficohsa.com.hn/middleware.services/createFinancingInsuranceTypes"
             xmlns:soap15="http://www.ficohsa.com.hn/middleware.services/getCustomerCreditCardTypes"
             xmlns:soap16="http://www.ficohsa.com.hn/middleware.services/activateCreditCardTypes"
             xmlns:soap17="http://www.ficohsa.com.hn/middleware.services/getCustomerFinancingTypes"
             xmlns:soap18="http://www.ficohsa.com.hn/middleware.services/createFinancingTypes"
             xmlns:soap19="http://www.ficohsa.com.hn/middleware.services/activateFinancingTypes"
             xmlns:soap20="http://www.ficohsa.com.hn/middleware.services/calculateFinancingTypes"
             xmlns:soap21="http://www.ficohsa.com.hn/middleware.services/creditCardDigitalApplicationTypes"
             xmlns:inp13="http://www.ficohsa.com.hn/middleware.services/availableFinancingDetailTypes"
             xmlns:soap22="http://www.ficohsa.com.hn/middleware.services/securityValuesTypes"
             xmlns:soap23="http://www.ficohsa.com.hn/middleware.services/SpendingLimitsUpdate"
             xmlns:soap24="http://www.ficohsa.com.hn/middleware.services/getCreditCardDetailsTypes"
             xmlns:soap25="http://www.ficohsa.com.hn/middleware.services/getInterestRateTypes">
  <plnk:partnerLinkType name="CreditCardRouter_PS">
    <plnk:role name="CreditCardRouter_PSProvider" portType="tns:CreditCardRouter_PS_ptt"/>
  </plnk:partnerLinkType>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/creditCardsTypes"
                  schemaLocation="../XSD/creditCardsTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/creditCardApplicationTypes"
                  schemaLocation="../XSD/creditCardApplicationTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/conDatoCuenta"
                  schemaLocation="../../../../CreditCardProcessor/ProviderServices/XSD/GetCustomerLiabilities/conDatoCuentaHN_sp.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/createFinancingInsuranceTypes"
                  schemaLocation="../XSD/createFinancingInsuranceTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCustomerCreditCardTypes"
                  schemaLocation="../XSD/getCustomerCreditCardTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/activateCreditCardTypes"
                  schemaLocation="../XSD/activateCreditCardTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCustomerFinancingTypes"
                  schemaLocation="../XSD/getCustomerFinancing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/createFinancingTypes"
                  schemaLocation="../XSD/createFinancingTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/activateFinancingTypes"
                  schemaLocation="../XSD/activateFinancingTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/calculateFinancingTypes"
                  schemaLocation="../XSD/calculateFinancingTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/creditCardDigitalApplicationTypes"
                  schemaLocation="../XSD/creditCardDigitalApplicationTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/availableFinancingDetailTypes"
                  schemaLocation="../XSD/availableFinancingDetailTypes.xsd"/>
    </xsd:schema><!--
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/securityValuesTypes"
                  schemaLocation="../XSD/securityValuesTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/SpendingLimitsUpdate"
                  schemaLocation="../XSD/spendingLimitsUpdateTypes.xsd"/>
    </xsd:schema>-->
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCreditCardDetailsTypes"
                  schemaLocation="../XSD/getCreditCardDetailsTypes.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getInterestRateTypes"
                  schemaLocation="../XSD/getInterestRateTypes.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="urn:CreditCardRouter_PS" elementFormDefault="qualified"
                xmlns="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="getInterestRate_params">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SourceBank" type="string"/>
            <xsd:element name="DestinationBank" type="string"/>
            <xsd:element name="ApplicationId" type="string"/>
            <xsd:element name="Language" type="string"/>
            <xsd:element name="Org" type="string"/>
            <xsd:element name="Logo" type="string"/>
            <xsd:element name="Pct" type="string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="createFinancingAccount_inputMessage">
    <part name="request" element="inp1:createFinancingAccountRequest"/>
  </message>
  <message name="createFinancingAccount_outputMessage">
    <part name="reply" element="inp1:createFinancingAccountResponse"/>
  </message>
  <message name="creditCardApplication_inputMessage">
    <part name="request" element="inp2:creditCardApplicationRequest"/>
  </message>
  <message name="creditCardApplication_outputMessage">
    <part name="reply" element="inp2:creditCardApplicationResponse"/>
  </message>
  <message name="createFinancingInsurance_inputMessage">
    <part name="request" element="soap14:createFinancingInsuranceRequest"/>
  </message>
  <message name="createFinancingInsurance_outputMessage">
    <part name="reply" element="soap14:createFinancingInsuranceResponse"/>
  </message>
  <message name="getCustomerCreditCard_inputMessage">
    <part name="request" element="soap15:getCustomerCreditCardRequest"/>
  </message>
  <message name="getCustomerCreditCard_outputMessage">
    <part name="reply" element="soap15:getCustomerCreditCardResponse"/>
  </message>
  <message name="activateCreditCard_inputMessage">
    <part name="request" element="soap16:activateCreditCardRequest"/>
  </message>
  <message name="activateCreditCard_outputMessage">
    <part name="reply" element="soap16:activateCreditCardResponse"/>
  </message>
  <message name="getCustomerFinancing_inputMessage">
    <part name="request" element="soap17:getCustomerFinancingRequest"/>
  </message>
  <message name="getCustomerFinancing_outputMessage">
    <part name="reply" element="soap17:getCustomerFinancingResponse"/>
  </message>
  <message name="createFinancing_inputMessage">
    <part name="request" element="soap18:createFinancing"/>
  </message>
  <message name="createFinancing_outputMessage">
    <part name="reply" element="soap18:createFinancingResponse"/>
  </message>
  <message name="activateFinancing_inputMessage">
    <part name="request" element="soap19:activateFinancing"/>
  </message>
  <message name="activateFinancing_outputMessage">
    <part name="reply" element="soap19:activateFinancingResponse"/>
  </message>
  <message name="calculateFinancing_inputMessage">
    <part name="request" element="soap20:calculateFinancingRequest"/>
  </message>
  <message name="calculateFinancing_outputMessage">
    <part name="reply" element="soap20:calculateFinancingResponse"/>
  </message>
  <message name="digitalCard_inputMessage">
    <part name="request" element="soap21:creditCardDigitalApplicationRequest"/>
  </message>
  <message name="digitalCard_outputMessage">
    <part name="reply" element="soap21:creditCardDigitalApplicationResponse"/>
  </message>
  <message name="AvailableFinancingDetail_inputMessage">
    <part name="request" element="inp13:availableFinancingDetailRequest"/>
  </message>
  <message name="AvailableFinancingDetail_outputMessage">
    <part name="reply" element="inp13:availableFinancingDetailResponse"/>
  </message><!--
  <message name="securityValues_inputMessage">
    <part name="request" element="soap22:securityValuesRequest"/>
  </message>
  <message name="securityValues_outputMessage">
    <part name="reply" element="soap22:securityValuesResponse"/>
  </message>
  <message name="SpendingLimitsUpdate_inputMessage">
    <part name="request" element="soap23:SpendingLimitsUpdateRequest"/>
  </message>
  <message name="SpendingLimitsUpdate_outputMessage">
    <part name="reply" element="soap23:SpendingLimitsUpdateResponse"/>
  </message>-->
  <message name="getCreditCardDetails_inputMessage">
    <part name="request" element="soap24:getCreditCardDetailsRequest"/>
  </message>
  <message name="getCreditCardDetails_outputMessage">
    <part name="reply" element="soap24:getCreditCardDetailsResponse"/>
  </message>
  <message name="getInterestRate_inputMessage">
    <part name="request" element="tns:getInterestRate_params"/>
  </message>
  <message name="getInterestRate_outputMessage">
    <part name="reply" element="soap25:getInterestRateResponse"/>
  </message>
  <portType name="CreditCardRouter_PS_ptt">
    <operation name="createFinancingAccount">
      <input message="tns:createFinancingAccount_inputMessage"/>
      <output message="tns:createFinancingAccount_outputMessage"/>
    </operation>
    <operation name="creditCardApplication">
      <input message="tns:creditCardApplication_inputMessage"/>
      <output message="tns:creditCardApplication_outputMessage"/>
    </operation>
    <operation name="createFinancingInsurance">
      <input message="tns:createFinancingInsurance_inputMessage"/>
      <output message="tns:createFinancingInsurance_outputMessage"/>
    </operation>
    <operation name="getCustomerCreditCard">
      <input message="tns:getCustomerCreditCard_inputMessage"/>
      <output message="tns:getCustomerCreditCard_outputMessage"/>
    </operation>
    <operation name="activateCreditCard">
      <input message="tns:activateCreditCard_inputMessage"/>
      <output message="tns:activateCreditCard_outputMessage"/>
    </operation>
    <operation name="getCustomerFinancing">
      <input message="tns:getCustomerFinancing_inputMessage"/>
      <output message="tns:getCustomerFinancing_outputMessage"/>
    </operation>
    <operation name="createFinancing">
      <input message="tns:createFinancing_inputMessage"/>
      <output message="tns:createFinancing_outputMessage"/>
    </operation>
    <operation name="activateFinancing">
      <input message="tns:activateFinancing_inputMessage"/>
      <output message="tns:activateFinancing_outputMessage"/>
    </operation>
    <operation name="calculateFinancing">
      <input message="tns:calculateFinancing_inputMessage"/>
      <output message="tns:calculateFinancing_outputMessage"/>
    </operation>
    <operation name="digitalCard">
      <input message="tns:digitalCard_inputMessage"/>
      <output message="tns:digitalCard_outputMessage"/>
    </operation>
    <operation name="availableFinancingDetail">
      <input message="tns:AvailableFinancingDetail_inputMessage"/>
      <output message="tns:AvailableFinancingDetail_outputMessage"/>
    </operation><!--
    <operation name="securityValues">
      <input message="tns:securityValues_inputMessage"/>
      <output message="tns:securityValues_outputMessage"/>
    </operation>
    <operation name="SpendingLimitsUpdate">
      <input message="tns:SpendingLimitsUpdate_inputMessage"/>
      <output message="tns:SpendingLimitsUpdate_outputMessage"/>
    </operation>-->
    <operation name="getCreditCardDetails">
      <input message="tns:getCreditCardDetails_inputMessage"/>
      <output message="tns:getCreditCardDetails_outputMessage"/>
    </operation>
    <operation name="getInterestRate">
      <input message="tns:getInterestRate_inputMessage"/>
      <output message="tns:getInterestRate_outputMessage"/>
    </operation>
  </portType>
  <binding name="CreditCardRouter_PS_ptt-binding" type="tns:CreditCardRouter_PS_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createFinancingAccount">
      <soap:operation soapAction="createFinancingAccount"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="creditCardApplication">
      <soap:operation soapAction="creditCardApplication"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createFinancingInsurance">
      <soap:operation soapAction="createFinancingInsurance"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCustomerCreditCard">
      <soap:operation soapAction="getCustomerCreditCard"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="activateCreditCard">
      <soap:operation soapAction="activateCreditCard"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCustomerFinancing">
      <soap:operation soapAction="getCustomerFinancing"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createFinancing">
      <soap:operation soapAction="createFinancing"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="activateFinancing">
      <soap:operation soapAction="activateFinancing"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calculateFinancing">
      <soap:operation soapAction="calculateFinancing"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="digitalCard">
      <soap:operation soapAction="digitalCard"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="availableFinancingDetail">
      <soap:operation soapAction="availableFinancingDetail"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation><!--
    <operation name="securityValues">
      <soap:operation soapAction="securityValues"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SpendingLimitsUpdate">
      <soap:operation soapAction="SpendingLimitsUpdate"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>-->
    <operation name="getCreditCardDetails">
      <soap:operation soapAction="getCreditCardDetails"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getInterestRate">
      <soap:operation soapAction="getInterestRate"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
</definitions>