Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/BusinessServices/consultaMontoTSPCliente/xsd/XMLSchema_-837550061.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaMontoTSPTransferenciaTypes">
	
	<!-- Consulta Monto TSP para transaccion cliente -->
	<xs:element name="consultaMontoTSPCliente">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TRANSACTION_TYPE_CODE" type="xs:string"/>
            <xs:element name="TRANSACTION_ID" type="xs:string"/>
            <xs:element name="TRANSACTION_REFERENCE" type="xs:string"/>
            <xs:element name="TRANSACTION_CUSTOMER_ID" type="xs:string"/>
            <xs:element name="TRANSACTION_ACCOUNT_NUMBER" type="xs:string"/>
            <xs:element name="TRANSACTION_AMOUNT" type="xs:string"/>
            <xs:element name="TRANSACTION_CURRENCY" type="xs:string"/>
            <xs:element name="TRANSACTION_DATE" type="xs:string"/>
            <xs:element name="DESTINATION_CUSTOMER_ID" type="xs:string"/>
            <xs:element name="DESTINATION_ACCOUNT_NUMBER" type="xs:string"/>
            <xs:element name="DESTINATION_CURRENCY" type="xs:string"/>
            <xs:element name="AGREEMENT_ID" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="consultaMontoTSPClienteResponse"> 
        <xs:complexType>
          <xs:sequence>
			<xs:element name="RATABLE_INDICATOR" type="xs:string"/>
            <xs:element name="NON_RATABLE_REASON" type="xs:string"/>
            <xs:element name="TRANSACTION_AMOUNT" type="xs:string"/>
            <xs:element name="RATE_AMOUNT" type="xs:string"/>
            <xs:element name="CREDIT_ACCOUNT" type="xs:string"/>
            <xs:element name="LOG_ID" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    
    <!-- Consulta Monto TSP para transaccion banco -->  
	<xs:element name="consultaMontoTSPBanco">
        <xs:complexType>
          <xs:sequence>
	          <xs:element name="TRANSACTION_TYPE_CODE">
	          	<xs:simpleType> 
	          		<xs:restriction base="xs:string">
	          			<xs:minLength value="1"/>
	          		</xs:restriction>
	          	</xs:simpleType>
	          </xs:element>
	          <xs:element name="TRANSACTION_PRODUCT_ID">
	          	<xs:simpleType> 
	          		<xs:restriction base="xs:string">
	          			<xs:minLength value="1"/>
	          		</xs:restriction>
	          	</xs:simpleType>	          	
	          </xs:element>
	          <xs:element name="TRANSACTION_CREDIT_TYPE">
	          	<xs:simpleType> 
	          		<xs:restriction base="xs:string">
	          			<xs:minLength value="1"/>
	          		</xs:restriction>
	          	</xs:simpleType>
	          </xs:element>
	          <xs:element name="TRANSACTION_CATEGORY">
	          	<xs:simpleType> 
	          		<xs:restriction base="xs:string">
	          			<xs:minLength value="1"/>
	          		</xs:restriction>
	          	</xs:simpleType>
	          </xs:element>
	          <xs:element name="TRANSACTION_AMOUNT">
	          	<xs:simpleType> 
	          		<xs:restriction base="xs:string">
	          			<xs:minLength value="1"/>
	          		</xs:restriction>
	          	</xs:simpleType>
	          </xs:element>
	          <xs:element name="TRANSACTION_CURRENCY">
	          	<xs:simpleType> 
	          		<xs:restriction base="xs:string">
	          			<xs:minLength value="1"/>
	          		</xs:restriction>
	          	</xs:simpleType>
	          </xs:element>
	          <xs:element name="TRANSACTION_DATE">
	          	<xs:simpleType> 
	          		<xs:restriction base="xs:string">
	          			<xs:minLength value="1"/>
	          		</xs:restriction>
	          	</xs:simpleType>
	          </xs:element>
        	</xs:sequence>
    	</xs:complexType>
	</xs:element>
      
    <xs:element name="consultaMontoTSPBancoResponse" type="cons:consultaMontoTSPBancoResponseType"/>

	<xs:complexType name="consultaMontoTSPBancoResponseType">
		<xs:sequence>
			<xs:element name="RATABLE_INDICATOR" type="xs:string"/>
            <xs:element name="NON_RATABLE_REASON" type="xs:string"/>
            <xs:element name="RATE_AMOUNT" type="xs:string"/>
            <xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
            <xs:element name="CREDIT_ACCOUNT" type="xs:string"/>
            <xs:element name="LOG_ID" type="xs:string"/>				
		</xs:sequence>
	</xs:complexType>
		      
</xs:schema>