Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/CancelaFinanciamiento_v2/xsd/XMLSchema_1996458737.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/cancelaFinanciamientoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/cancelaFinanciamientoTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="cancelaFinanciamiento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:integer"/>
				<xs:element name="ACCOUNT_NUMBER" type="tns:stringMinLength1"/>
				<xs:element name="CANCELLATION_DATE" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cancelaFinanciamientoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CURRENCY_CODE" type="xs:integer" minOccurs="0"/>
				<xs:element name="FOREING_USE" type="xs:string" minOccurs="0"/>
				<xs:element name="ORG" type="xs:integer" minOccurs="0"/>
				<xs:element name="FOREING_ORG" type="xs:integer" minOccurs="0"/>
				<xs:element name="LOGO" type="xs:integer" minOccurs="0"/>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="ACCOUNT_LEVEL" type="xs:string" minOccurs="0"/>
				<xs:element name="START_DATE" type="xs:date" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>