Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/Core/consultaFechaMiddleware/consultaFechaSistemaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaFechaSistemaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaFechaSistemaTypes">
	
	<xs:complexType name = "consultaFechaSistemaResponseArrayType">
		<xs:sequence>
           	<xs:element name="WORKING_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="JULIAN_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="NEXT_WORKING_DATE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaFechaSistemaResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaFechaSistemaResponseRecordType" type="cons:consultaFechaSistemaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaFechaSistemaResponseType">
		<xs:sequence>
			<xs:element name="consultaFechaSistemaResponseType" type="cons:consultaFechaSistemaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaFechaSistema">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaFechaSistemaResponse" type="cons:consultaFechaSistemaResponseType"/>
	
</xs:schema>