Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsumoTarjetaCredito/xsd/ConsumoTarjetaCreditoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsumoTarjetaCreditoTypes"
	xmlns:con="http://www.ficohsa.com.hn/middleware.services/ConsumoTarjetaCreditoTypes">
	
	<xs:element name="consumoTarjetaCreditoRequest" type="con:ConsumoTarjetaCreditoRequest"/>
	<xs:element name="consumoTarjetaCreditoResponse" type="con:ConsumoTarjetaCreditoResponse"/>
	
	<xs:complexType name="ConsumoTarjetaCreditoResponse">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AUTHORIZATION_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="REFERENCES" type="con:referencesType" form="qualified" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="referencesType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="con:referenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="referenceType">
		<xs:sequence>
			<xs:element name="SOURCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ConsumoTarjetaCreditoRequest">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string"/>
			<xs:element name="EXPIRATION_DATE" type="xs:string"/>
			<xs:element name="SECURITY_CODE" type="xs:string"/>
			<xs:element name="AMOUNT" type="xs:string"/>
			<xs:element name="CURRENCY" type="xs:string"/>
			<xs:element name="DESCRIPTION" type="xs:string"/>
			<xs:element name="ADDITIONAL_DATA" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>