Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Customers/RequestorServices/XSD/customersLists.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/customerLists" elementFormDefault="qualified" nxsd:version="JSON" nxsd:encoding="UTF-8" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cus="http://www.ficohsa.com.hn/middleware.services/customerLists" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:cic="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CustomerInfoCommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes"/>
  <xsd:element name="customerListPetitionRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
        <xsd:element name="remittance" type="xsd:string" minOccurs="0"/>
        <xsd:element name="name" type="xsd:string" minOccurs="0"/>
        <xsd:element name="beneficiary" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="customerListPetitionResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="sequenceNumber" minOccurs="0" type="xsd:string"/>
        <xsd:element name="statusCode" minOccurs="0" type="xsd:string"/>
        <xsd:element name="statusMessage" minOccurs="0" type="xsd:string"/>
        <xsd:element name="returnMessage" minOccurs="0" type="xsd:string"/>
        <xsd:element name="returnCode" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getListsPetitionStatusRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
        <xsd:element name="retVal" type="xsd:string" minOccurs="0"/>
        <xsd:element name="sequenceNumber" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getListsPetitionStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType"/>
        <xsd:element name="petitionStatus" type="xsd:string" minOccurs="0"/>
        <xsd:element name="sequenceNumber" type="xsd:string" minOccurs="0"/>
        <xsd:element name="returnCode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="returnMessage" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ErrorInfo" type="dtt:ErrorInfoType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>