Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Customers/RequestorServices/XSD/customersTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/customerTypes" elementFormDefault="qualified" nxsd:version="JSON" nxsd:encoding="UTF-8" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cus="http://www.ficohsa.com.hn/middleware.services/customerTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:cic="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CustomerInfoCommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes"/>
  <xsd:element name="unityFormRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
        <xsd:element name="UnityFormInfo" type="cus:UnityFormInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="unityFormResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType"/>
        <xsd:element name="UnityFormResult" type="cus:UnityFormResultType"/>
        <xsd:element name="ErrorInfo" type="dtt:ErrorInfoType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createCustomerRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
        <xsd:element name="Type">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Simplified"/>
              <xsd:enumeration value="Normal"/>
              <xsd:enumeration value="Intermediate"/>
              <xsd:enumeration value="Prospect"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Migrate" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ProcessType">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="2"/>
              <xsd:enumeration value="5"/>
              <xsd:enumeration value="8"/>
              <xsd:enumeration value="9"/>
              <xsd:enumeration value="10"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="CustomerInfo" type="cus:CustomerInfoType" minOccurs="0"/>
        <xsd:element name="AccountInfo" type="cus:AccountInfoType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createCustomerResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GlobalId" minOccurs="0" type="xsd:string"/>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="CustomerId" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CustomerName" minOccurs="0" type="xsd:string"/>
        <xsd:element name="AccountNumber" minOccurs="0" type="xsd:string"/>
        <xsd:element name="AddressList" minOccurs="0" maxOccurs="unbounded" type="cus:AddressType"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateCustomerRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
        <xsd:element name="CustomerId" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CustomerInfo" minOccurs="0" type="cus:UpdateCustomerInfoType"/>
        <xsd:element name="ContactInfo" minOccurs="0" type="cus:ContactInfoType"/>
        <xsd:element name="IncomeSourceList" minOccurs="0" type="cus:IncomeSourceType" maxOccurs="unbounded"/>
        <xsd:element name="ReferenceList" minOccurs="0" type="cus:ReferenceType" maxOccurs="unbounded"/>
        <xsd:element name="ProcessType" minOccurs="0" type="xsd:string"/>
        <xsd:element name="Org" minOccurs="0" type="xsd:string"/>
        <xsd:element name="NumberOfDependents" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ChanelCode" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CountryIssuePassport" minOccurs="0" type="xsd:string"/>
        <xsd:element name="IsPep" minOccurs="0">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Yes"/>
              <xsd:enumeration value="No"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FrequentFlyer" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="FlyerType" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AA"/>
                    <xsd:enumeration value="LM"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="FrequentFlyerNumber" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateCustomerResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="CustomerId" minOccurs="0" type="xsd:string"/>
        <xsd:element name="AddressList" minOccurs="0" maxOccurs="unbounded" type="cus:AddressType"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="automaticCollectionsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" minOccurs="1" type="dtt:GeneralInfoType"/>
        <xsd:element name="AccountNumber" type="xsd:string" minOccurs="1"/>
        <xsd:element name="CollectionCode" type="xsd:string" minOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="automaticCollectionsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="DebtorCode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Installments" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="CollectionValue" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="PaymentDate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ErrorInfo" type="dtt:ErrorInfoType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCustomerDetailsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="BasicInfo" type="cus:BasicInfoType" minOccurs="0"/>
        <xsd:element name="FinancialInfo" type="cus:FinancialInfoType" minOccurs="0"/>
        <xsd:element name="AddressesInfo" type="cus:AddressesInfoType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="PhoneInfo" type="cic:PhoneInfoType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="EmailInfo" type="cus:EmailInfoType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="ReferenceInfo" type="cus:ReferenceInfoType" minOccurs="0"/>
        <xsd:element name="SectorizationInfo" type="cus:SectorizationInfoType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="RegulationsInfo" type="cus:RegulationsInfoType" minOccurs="0"/>
        <xsd:element name="AuditInfo" type="cus:AuditInfoType" minOccurs="0"/>
        <xsd:element name="ErrorInfo" type="dtt:ErrorInfoType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="documentRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" minOccurs="1" type="dtt:GeneralInfoType"/>
        <xsd:element name="DocumentInfo" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DocumentTypeName" type="xsd:string"/>
              <xsd:element name="FileFormat" type="xsd:string"/>
              <xsd:element name="FileExtension" type="xsd:string"/>
              <xsd:element name="Keywords" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="Value" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="KTGs">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Keywords" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Name" type="xsd:string"/>
                          <xsd:element name="Value" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Pages" maxOccurs="unbounded" type="xsd:string"/>
              <xsd:element name="FolderID" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="documentResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="DocumentResult">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Documents">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DocumentHandler" type="xsd:string"/>
                    <xsd:element name="Revisions" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Page" maxOccurs="unbounded" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Code" type="xsd:integer"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="Result" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" type="dtt:ErrorInfoType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="documentQueryRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" minOccurs="0" type="dtt:GeneralInfoType"/>
        <xsd:element name="DocumentQueryInfo" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DocumentTypes" type="xsd:string" maxOccurs="unbounded"/>
              <xsd:element name="CustomQueryName" type="xsd:string"/>
              <xsd:element name="Keywords_Query" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="Condition" type="xsd:string"/>
                    <xsd:element name="Operator" type="xsd:string"/>
                    <xsd:element name="Value" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="KTGs_Query" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Condition" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Operator" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="LoadKeywords" type="xsd:boolean" minOccurs="0"/>
              <xsd:element name="LoadPages" type="xsd:boolean" minOccurs="0"/>
              <xsd:element name="KeywordFilterNames" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="documentQueryResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="DocumentQueryResult" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Documents" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DocumentHandle" type="xsd:string"/>
                    <xsd:element name="DocumentTypeName" type="xsd:string"/>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="DocumentTypeID" type="xsd:string"/>
                    <xsd:element name="DateStored" type="xsd:string"/>
                    <xsd:element name="Keywords" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Name" type="xsd:string"/>
                          <xsd:element name="Value" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Revision" minOccurs="0" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Code" type="xsd:integer"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="Result" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" type="dtt:ErrorInfoType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DocumentCompositionReq">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" minOccurs="0" type="dtt:GeneralInfoType"/>
        <xsd:element name="DocumentCompositionInfo" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DocumentTemplate" type="xsd:string"/>
              <xsd:element name="BodyXML" type="xsd:string"/>
              <xsd:element name="WithDocument" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DocumentCompositionRsp">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="DocumentCompositionResult">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Documents" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="DocumentHandler" type="xsd:string"/>
                    <xsd:element name="Revisions" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Page" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Code" type="xsd:integer"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="Result" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" type="dtt:ErrorInfoType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AuditInfoType">
    <xsd:sequence>
      <xsd:element name="CreatedBy" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DateTime" minOccurs="0" type="xsd:string"/>
      <xsd:element name="UpdateFrequency" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LastUpdatedDate" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SectorizationInfoType">
    <xsd:sequence>
      <xsd:element name="Type" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Code" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Description" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegulationsInfoType">
    <xsd:sequence>
      <xsd:element name="IsDnfbp" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AppliedMeasure" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CustomerRisk" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferenceInfoType">
    <xsd:sequence>
      <xsd:element name="Personals" minOccurs="0" maxOccurs="unbounded" type="cus:PersonalType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersonalType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:integer"/>
      <xsd:element name="Names" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LastNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MarriedLastName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PhoneNumber" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RelationshipCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RelationshipDescripcion" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailInfoType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:integer"/>
      <xsd:element name="Email" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EmailReference" minOccurs="0" type="xsd:string"/>
      <xsd:element name="IsMainEmail" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressesInfoType">
    <xsd:sequence>
      <xsd:element name="Type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Home"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="Work"/>
            <xsd:enumeration value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IsMain" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PoBox" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ZipCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CountryCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="StateCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CityCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DistrictCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Neighborhood" minOccurs="0" type="xsd:string"/>
      <xsd:element name="References" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AddressLine1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AddressLine2" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Domicile" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Building" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Apartment" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Details" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Avenue" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Street" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Block" minOccurs="0" type="xsd:string"/>
      <xsd:element name="HouseNumber" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Zone" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NeighborhoodPending" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinancialInfoType">
    <xsd:sequence>
      <xsd:element name="LevelEducation" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EmploymentSatus" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Occupation" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MerchantType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MerchantName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LineBusiness" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Profession" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ProfessionDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CompanyType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EmployerName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="JobTitle" minOccurs="0" type="xsd:string"/>
      <xsd:element name="JobTitleDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EmploymentStartDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SourceIncome" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NumberDependents" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BasicInfoType">
    <xsd:sequence>
      <xsd:element name="CustomerId" type="xsd:string"/>
      <xsd:element name="Mnemonic" minOccurs="0" type="xsd:string"/>
      <xsd:element name="IdentificationInfo" minOccurs="0" maxOccurs="unbounded" type="cus:IdentificationInfoType"/>
      <xsd:element name="GivenNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FamilyName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FullName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NameBusiness" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CommercialName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LegalHolderName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ShortName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DateBirth" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Gender" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Nationality" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Residence" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MaritalStatus" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MarriedLastName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SpouseName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LegalRepresentativeId" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LegalRepresentativeName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PlaceBirth" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PlaceBirthDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CountryBirth" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CountryBirthDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Sector" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SectorDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Industry" minOccurs="0" type="xsd:string"/>
      <xsd:element name="IndustryDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Target" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TargetDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ForeignExchangeGenerator" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AccountOfficer" minOccurs="0" type="xsd:string"/>
      <xsd:element name="BranchCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TypePerson" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CustomerType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CustomerStatus" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CustomerProfileType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CustomerSince" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentificationInfoType">
    <xsd:sequence>
      <xsd:element name="LegalDocumentType" type="xsd:string"/>
      <xsd:element name="LegalId" type="xsd:string"/>
      <xsd:element name="IssuedDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ExpirationDate" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="Type" minOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IsMain" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PoBox" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ZipCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CountryCode" type="dtt:string1"/>
      <xsd:element name="StateCode" type="dtt:string1"/>
      <xsd:element name="CityCode" type="dtt:string1"/>
      <xsd:element name="DistrictCode" type="dtt:string1"/>
      <xsd:element name="Neighborhood" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="References" type="dtt:string1"/>
      <xsd:element name="AddressLine1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AddressLine2" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Domicile" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Building" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Apartment" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Details" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Avenue" type="dtt:string1"/>
      <xsd:element name="Street" type="dtt:string1"/>
      <xsd:element name="Block" type="dtt:string1"/>
      <xsd:element name="HouseNumber" type="dtt:string1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdInfoType">
    <xsd:sequence>
      <xsd:element name="DocumentName" type="xsd:string"/>
      <xsd:element name="LegalId" type="xsd:string"/>
      <xsd:element name="DateOfIssuance" type="xsd:string"/>
      <xsd:element name="MaturityDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CountryOfIssuance" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CityOfIssuance" minOccurs="0" type="xsd:string"/>
      <xsd:element name="StateOfIssuance" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpdateCustomerInfoType">
    <xsd:sequence>
      <xsd:element name="IdList" minOccurs="0" maxOccurs="unbounded" type="cus:IdInfoType"/>
      <xsd:element name="FirstName" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="SecondName" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="ThirdName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FirstLastName" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="SecondLastName" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="Gender" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Male"/>
            <xsd:enumeration value="Female"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="BirthDate" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="BirthPlace" minOccurs="0" type="xsd:string"/>
      <xsd:element name="BirthCountry" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MontlhyTransactionVolume" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AccountOfficer" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MaritalStatus" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Single"/>
            <xsd:enumeration value="Married"/>
            <xsd:enumeration value="Divorced"/>
            <xsd:enumeration value="Widowed"/>
            <xsd:enumeration value="Commonlawmarriage"/>
            <xsd:enumeration value="Separateproperty"/>
            <xsd:enumeration value="Other"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="SpouseName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MarriedName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Nationality" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Residence" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Language" minOccurs="0" type="xsd:string"/>
      <xsd:element name="GivenNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FamilyNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Sector" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Industry" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Target" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MultipleNationality" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LineOfBusiness" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AdditionalInfo" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GovernmentContractor" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
            <xsd:enumeration value="InProcess"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Segment" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Segmentation" type="xsd:string" minOccurs="0"/>
      <xsd:element name="GeneratorType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UpdateDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="UpdatedBy" minOccurs="0" type="xsd:string"/>
      <xsd:element name="UpdateSource" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TotalIncome" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AllowsElectronicTransactions" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LegalRepresentative" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DocumentName" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LegalId" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LastName" minOccurs="0" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ApnfdCustomer" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ApnfdProfession" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ProviderName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ClosingTax" minOccurs="0" type="xsd:string"/>
      <xsd:element name="BusinessName" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerInfoType">
    <xsd:sequence>
      <xsd:element name="IdList" minOccurs="0" maxOccurs="unbounded" type="cus:IdInfoType"/>
      <xsd:element name="FirstName" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="SecondName" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="ThirdName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FirstLastName" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="SecondLastName" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="Gender" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Male"/>
            <xsd:enumeration value="Female"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="BirthDate" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="BirthPlace" minOccurs="0" type="xsd:string"/>
      <xsd:element name="BirthCountry" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MontlhyTransactionVolume" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AccountOfficer" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MaritalStatus" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Single"/>
            <xsd:enumeration value="Married"/>
            <xsd:enumeration value="Divorced"/>
            <xsd:enumeration value="Widowed"/>
            <xsd:enumeration value="Commonlawmarriage"/>
            <xsd:enumeration value="Separateproperty"/>
            <xsd:enumeration value="Other"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="SpouseName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MarriedName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Nationality" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Residence" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Language" minOccurs="0" type="xsd:string"/>
      <xsd:element name="GivenNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FamilyNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Sector" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Industry" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Target" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MultipleNationality" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LineOfBusiness" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AdditionalInfo" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GovernmentContractor" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
            <xsd:enumeration value="InProcess"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Segment" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Segmentation" type="xsd:string" minOccurs="0"/>
      <xsd:element name="GeneratorType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UpdateDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="UpdatedBy" minOccurs="0" type="xsd:string"/>
      <xsd:element name="UpdateSource" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TotalIncome" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AllowsElectronicTransactions" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LegalRepresentative" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DocumentName" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LegalId" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LastName" minOccurs="0" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ApnfdCustomer" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ApnfdProfession" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ContactInfo" type="cus:ContactInfoType" minOccurs="0"/>
      <xsd:element name="IncomeSourceList" minOccurs="0" type="cus:IncomeSourceType" maxOccurs="unbounded"/>
      <xsd:element name="ReferenceList" minOccurs="0" type="cus:ReferenceType" maxOccurs="unbounded"/>
      <xsd:element name="BusinessPartnerList" minOccurs="0" type="cus:BusinessPartnerInfoType" maxOccurs="unbounded"/>
      <xsd:element name="FatcaInfo" type="cus:FatcaInfoType" minOccurs="0"/>
      <xsd:element name="PepInfo" type="cus:PepInfoType" minOccurs="0"/>
      <xsd:element name="MakerIndicator" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DoubleCurrencyIndicator" minOccurs="0" type="xsd:string"/>
      <xsd:element name="VipCustomerIndicator" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ResidenceType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NumberOfDependents" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FrequentFlyer" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FlyerType" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="AA"/>
                  <xsd:enumeration value="LM"/>
                  <xsd:enumeration value=""/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FrequentFlyerNumber" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EmploymentYears" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EmploymentMonths" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ChannelCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="BirthCity" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactInfoType">
    <xsd:sequence>
      <xsd:element name="AddressList" minOccurs="0" type="cus:AddressesInfoType" maxOccurs="unbounded"/>
      <xsd:element name="EmailList" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Type">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Home"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="Work"/>
                  <xsd:enumeration value="2"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IsMain" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Yes"/>
                  <xsd:enumeration value="No"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Email" minOccurs="1" type="xsd:string"/>
            <xsd:element name="Reference" minOccurs="0" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PhoneList" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Type">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Beeper"/>
                  <xsd:enumeration value="Mobile"/>
                  <xsd:enumeration value="Landline"/>
                  <xsd:enumeration value="Fax"/>
                  <xsd:enumeration value="TelFax"/>
                  <xsd:enumeration value="Pbx"/>
                  <xsd:enumeration value="Sms"/>
                  <xsd:enumeration value="Other"/>
                  <xsd:enumeration value="Reference"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Ismain">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Yes"/>
                  <xsd:enumeration value="No"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AreaCode" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Number" type="dtt:string1"/>
            <xsd:element name="Extension" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="Location">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Home"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="Work"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="Other"/>
                  <xsd:enumeration value="3"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Reference" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ZipCode" minOccurs="0" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IncomeSourceType">
    <xsd:sequence>
      <xsd:element name="CurrentlyEmployed" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ProfessionCode" type="dtt:string1"/>
      <xsd:element name="JobTitle" type="xsd:string"/>
      <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IncomeSource" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="IncomeRange" type="dtt:string1"/>
      <xsd:element name="IncomeCurrency" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Occupation" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EducationLevel" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="None"/>
            <xsd:enumeration value="Elementary"/>
            <xsd:enumeration value="Middle"/>
            <xsd:enumeration value="University"/>
            <xsd:enumeration value="Masters"/>
            <xsd:enumeration value="Doctoral"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MerchantType" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="No"/>
            <xsd:enumeration value="Individual"/>
            <xsd:enumeration value="Formal"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CompanyType" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Goverment"/>
            <xsd:enumeration value="Private"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="StartDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="BusinessName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LineOfBusiness" type="xsd:string" minOccurs="0"/>
      <xsd:element name="InscriptionDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SalesVolume" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="FiscalYear" type="xsd:int" minOccurs="0"/>
      <xsd:element name="PeriodClosingSales" type="xsd:int" minOccurs="0"/>
      <xsd:element name="OtherIncomeSourceList" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IncomeSource" minOccurs="0" type="xsd:string"/>
            <xsd:element name="SourceName" minOccurs="0" type="xsd:string"/>
            <xsd:element name="IncomeCurrency" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Amount" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="CountryCode" minOccurs="0" type="xsd:string"/>
            <xsd:element name="StateCode" minOccurs="0" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BenefactorsList" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FullName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Profession" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Relationship" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SectorizationList" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Type" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Level" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EmploymentYears" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EmploymentMonths" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Expenses" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CountryCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="StateCode" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferenceType">
    <xsd:sequence>
      <xsd:element name="Type" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Commercial"/>
            <xsd:enumeration value="Personal"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GivenNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FamilyNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MarriedName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Relationship" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ContactPerson" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PhoneNumber" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Cellphone" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CompanyName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Occupation" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusinessPartnerInfoType">
    <xsd:sequence>
      <xsd:element name="Type" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Customer"/>
            <xsd:enumeration value="Supplier"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Location" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PhoneNumber" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Description" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FatcaInfoType">
    <xsd:sequence>
      <xsd:element name="IsFatcaCustomer" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="HasProducts" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="HasOnlyCreditCards" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Nationality" maxOccurs="unbounded" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IsUSResident" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IsInmigrant" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CountryOfResidence" type="xsd:string" minOccurs="0"/>
      <xsd:element name="HasEvidenceOfLostResidence" type="xsd:string" minOccurs="0"/>
      <xsd:element name="USFiscallId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PlaceOfBirth" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AdditionalFiscalId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FatcaIndicator" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FatcaDocumented" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FatcaConsent" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FatcaReports" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UpdateDate" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PepInfoType">
    <xsd:sequence>
      <xsd:element name="IsPepCustomer" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InstitutionName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="JobTitle" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EscrowId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PepDocumented" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UpdateDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AuthorizerName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AuthorizerJob" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AuthorizationDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ConsentsPep" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RiskCategory" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FamilyMemberList" minOccurs="0" type="cus:FamilyMemberInfoType" maxOccurs="unbounded"/>
      <xsd:element name="JobTitles" minOccurs="0" type="cus:JobTitleInfoType" maxOccurs="unbounded"/>
      <xsd:element name="Country" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SourceOfWealth" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FamilyMemberInfoType">
    <xsd:sequence>
      <xsd:element name="IsPep" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Relationship" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Mother"/>
            <xsd:enumeration value="Father"/>
            <xsd:enumeration value="Son/Daughter"/>
            <xsd:enumeration value="Spouse"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="FullName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Age" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LegalId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Address" minOccurs="0" type="xsd:string"/>
      <xsd:element name="JobTitle" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Period" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JobTitleInfoType">
    <xsd:sequence>
      <xsd:element name="HolderName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="JobTitle" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Period" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerAuditInfoType">
    <xsd:sequence>
      <xsd:element name="Alert" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RecordStatus" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RecordNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RecordCreator" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RecordAuthorizer" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DateTime" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CompanyCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CompanyDepartment" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AuditCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AuditDateTime" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccountInfoType">
    <xsd:sequence>
      <xsd:element name="ProcessType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="InterfaceUser" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CustomerCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AccountDetail" minOccurs="0" type="cus:AccountDetailType"/>
      <xsd:element name="BeneficiaryDetails" minOccurs="0" maxOccurs="unbounded" type="cus:BeneficiaryDetailsType"/>
      <xsd:element name="SignatoryDetails" minOccurs="0" maxOccurs="unbounded" type="cus:SignatureDetailsType"/>
      <xsd:element name="CardInformation" minOccurs="0" type="cus:CardInformationType"/>
      <xsd:element name="ThirdPartyRepresentative" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TransactionVolume" minOccurs="0" type="xsd:int"/>
      <xsd:element name="Agency" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SubApplication" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Application" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Currency" minOccurs="0" type="xsd:string"/>
      <xsd:element name="OperationType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Passbook" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PassbookNumber" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PayrollGroup" minOccurs="0" type="xsd:string"/>
      <xsd:element name="InitialDeposit" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Purpose" minOccurs="0" type="xsd:string"/>
      <xsd:element name="OrigenOfFunds" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MonthlyTxnVolume" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccountDetailType">
    <xsd:sequence>
      <xsd:element name="Application" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Category" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Currency" minOccurs="0" type="xsd:string"/>
      <xsd:element name="OperationType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ReferredType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Passbook" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PassbookNumber" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PayrollGroup" minOccurs="0" type="xsd:string"/>
      <xsd:element name="InitialDeposit" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Purpose" minOccurs="0" type="xsd:string"/>
      <xsd:element name="OrigenOfFunds" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MonthlyTxnVolume" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AddressType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AccountOfficialDetail">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="OfficialCode" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AgencyCode" minOccurs="0" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeneficiaryDetailsType">
    <xsd:sequence>
      <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Relationship" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DocumentName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LegalId" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Percentage" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Nationality" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignatureDetailsType">
    <xsd:sequence>
      <xsd:element name="RegisteredSignatory" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RequiredSignatory" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SignatureType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="IdType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="IdNumber" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SignatoryDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SignatoryName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Relationship" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Nationality" minOccurs="0" type="xsd:string"/>
      <xsd:element name="IsMain" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CardInformationType">
    <xsd:sequence>
      <xsd:element name="CardNumber" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PrimaryAccount" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EmissionPay" minOccurs="0" type="xsd:int"/>
      <xsd:element name="CardType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NameOnPlastic" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DeliveryBranch" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SecondaryAccounts" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UnityFormInfoType">
    <xsd:sequence>
      <xsd:element name="UnityForm" type="xsd:string"/>
      <xsd:element name="Keywords" maxOccurs="unbounded" type="cus:KeywordsType"/>
      <xsd:element name="KTGs" maxOccurs="unbounded" minOccurs="0" type="cus:KTGType"/>
      <xsd:element name="Fields" maxOccurs="unbounded" type="cus:FieldType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KeywordsType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KTGType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Keywords" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FieldType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UnityFormResultType">
    <xsd:sequence>
      <xsd:element name="Form">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DocumentHandle" type="xsd:string"/>
            <xsd:element name="Keywords" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Name" type="xsd:string"/>
                  <xsd:element name="Value" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="DocPopUrl" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Code" type="xsd:string"/>
      <xsd:element name="Description" type="xsd:string"/>
      <xsd:element name="Result" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>