Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Customers/RequestorServices/XSD/getCustomerLiabilities.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaPasivosCliente" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gcl="http://www.ficohsa.com.hn/middleware.services/consultaPasivosCliente" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
   <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="getCustomerLiabilitiesResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
            <xsd:element name="Liabilities" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element name="Type" minOccurs="0" type="xsd:string"/>
                      <xsd:element name="Status" minOccurs="0" type="xsd:string"/>
                      <xsd:element name="LiabilitiesDetails" minOccurs="0" maxOccurs="unbounded">
                         <xsd:complexType>
                            <xsd:sequence>
                               <xsd:element name="LiabilityNumber" minOccurs="0" type="xsd:string"/>
                               <xsd:element name="LiabilityName" minOccurs="0" type="xsd:string"/>
                               <xsd:element name="Currency" minOccurs="0" type="xsd:string"/>
                               <xsd:element name="PrincipalAmount" minOccurs="0" type="xsd:string"/>
                               <xsd:element name="InterestComAmount" minOccurs="0" type="xsd:string"/>
                               <xsd:element name="TotalAmount" minOccurs="0" type="xsd:string"/>
                               <xsd:element name="LiabilityTotalAmount" minOccurs="0" type="xsd:string"/>
                               <xsd:element name="PaymentDate" minOccurs="0" type="xsd:string"/>
                               <xsd:element name="TotalCancellationAmount" minOccurs="0" type="xsd:string"/>
                               <xsd:element name="SourceBank" minOccurs="0" type="xsd:string"/>
                               <xsd:element name="Status" minOccurs="0" type="xsd:string"/>
                               <xsd:element name="LiabilityIssuanceDate" minOccurs="0" type="xsd:string"/>
                               <xsd:element name="LiabilityType" minOccurs="0" type="xsd:string"/>
                            </xsd:sequence>
                         </xsd:complexType>
                      </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>