Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Customers/RequestorServices/XSD/getCustomerDetailsTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gcd="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="getCustomerDetailsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="BasicInfo" type="gcd:BasicInfoType" minOccurs="0"/>
        <xsd:element name="FinancialInfo" type="gcd:FinancialInfoType" minOccurs="0"/>
        <xsd:element name="AddressesInfo" type="gcd:AddressesInfoType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="PhoneInfo" type="gcd:PhoneInfoType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="EmailInfo" type="gcd:EmailInfoType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="ReferenceInfo" type="gcd:ReferenceInfoType" minOccurs="0"/>
        <xsd:element name="SectorizationInfo" type="gcd:SectorizationInfoType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="RegulationsInfo" type="gcd:RegulationsInfoType" minOccurs="0"/>
        <xsd:element name="AuditInfo" type="gcd:AuditInfoType" minOccurs="0"/>
        <xsd:element name="ErrorInfo" type="dtt:ErrorInfoType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="BasicInfoType">
    <xsd:sequence>
      <xsd:element name="CustomerId" type="xsd:string"/>
      <xsd:element name="Mnemonic" minOccurs="0" type="xsd:string"/>
      <xsd:element name="IdentificationInfo" minOccurs="0" maxOccurs="unbounded" type="gcd:IdentificationInfoType"/>
      <xsd:element name="GivenNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FamilyName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FullName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NameBusiness" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CommercialName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LegalHolderName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ShortName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DateBirth" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Gender" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Nationality" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Residence" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MaritalStatus" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MarriedLastName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SpouseName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LegalRepresentativeId" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LegalRepresentativeName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PlaceBirth" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PlaceBirthDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CountryBirth" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CountryBirthDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Sector" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SectorDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Industry" minOccurs="0" type="xsd:string"/>
      <xsd:element name="IndustryDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Target" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TargetDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ForeignExchangeGenerator" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AccountOfficer" minOccurs="0" type="xsd:string"/>
      <xsd:element name="BranchCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TypePerson" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CustomerType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CustomerStatus" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CustomerProfileType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CustomerSince" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinancialInfoType">
    <xsd:sequence>
      <xsd:element name="LevelEducation" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EmploymentSatus" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Occupation" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MerchantType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MerchantName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LineBusiness" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Profession" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ProfessionDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CompanyType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EmployerName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="JobTitle" minOccurs="0" type="xsd:string"/>
      <xsd:element name="JobTitleDescription" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EmploymentStartDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SourceIncome" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NumberDependents" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RangeIncome" minOccurs="0" type="xsd:string"/>
      <xsd:element name="IncomeCurrency" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressesInfoType">
    <xsd:sequence>
      <xsd:element name="AddressCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AddressType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HOME"/>
            <xsd:enumeration value="WORK"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IsMainAddress" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PoBox" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ZipCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CountryCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DepartmentCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DepartmentDesciption" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MunicipalityCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MunicipalityDescripcion" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ColonyCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ColonyDescripcion" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Neighborhood" minOccurs="0" type="xsd:string"/>
      <xsd:element name="References" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AddressLine1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AddressLine2" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Domicile" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Building" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Apartment" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Details" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Avenue" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Street" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Block" minOccurs="0" type="xsd:string"/>
      <xsd:element name="HouseNumber" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Zone" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NeighborhoodPending" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailInfoType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:integer"/>
      <xsd:element name="Email" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EmailReference" minOccurs="0" type="xsd:string"/>
      <xsd:element name="IsMainEmail" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferenceInfoType">
    <xsd:sequence>
      <xsd:element name="Personals" minOccurs="0" maxOccurs="unbounded" type="gcd:PersonalType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersonalType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:integer"/>
      <xsd:element name="Names" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LastNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MarriedLastName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PhoneNumber" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RelationshipCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RelationshipDescripcion" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SectorizationInfoType">
    <xsd:sequence>
      <xsd:element name="Type" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Code" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Description" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegulationsInfoType">
    <xsd:sequence>
      <xsd:element name="IsDnfbp" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AppliedMeasure" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CustomerRisk" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditInfoType">
    <xsd:sequence>
      <xsd:element name="CreatedBy" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DateTime" minOccurs="0" type="xsd:string"/>
      <xsd:element name="UpdateFrequency" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LastUpdatedDate" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PhoneInfoType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:integer"/>
      <xsd:element name="Type" type="dtt:string1"/>
      <xsd:element name="AreaCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PhoneNumber" type="dtt:string1"/>
      <xsd:element name="Extension" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PhoneReference" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentificationInfoType">
    <xsd:sequence>
      <xsd:element name="LegalDocumentType" type="xsd:string"/>
      <xsd:element name="LegalId" type="xsd:string"/>
      <xsd:element name="IssuedDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ExpirationDate" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>