Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Customers/RequestorServices/XSD/getCustomerDetailsRENAP.xsd

<xsd:schema elementFormDefault="qualified" nxsd:version="JSON" nxsd:encoding="UTF-8" targetNamespace="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsRENAP" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ren="http://www.ficohsa.com.hn/middleware.services/getCustomerDetailsRENAP" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:cic="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CustomerInfoCommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes"/>
  <xsd:element name="getCustomerDetailsRENAPResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType"/>
        <xsd:element name="BasicInfo" type="ren:BasicInfoType"/>
        <xsd:element name="ErrorInfo" type="dtt:ErrorInfoType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="BasicInfoType">
    <xsd:sequence>
      <xsd:element name="Date" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Hit" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Authorization" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Size" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DeathDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Occupation" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MunicipalityOfBirth" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Phootography" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CountryOfBirth" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LegalIdOrder" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ThirdName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Gender" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LastName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Nationality" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DepartmentOfBirth" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Message" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SecondName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LegalIdRegistration" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FirstName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SecondLastName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Cui" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CivilStatus" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LastNameMarried" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ExpirationDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="BirthDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Neighborhood" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Hour" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DataTime" minOccurs="0" type="xsd:string"/>
      <xsd:element name="QueryTime" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Reference" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>