Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Customers/RequestorServices/XSD/getCustomerOpi.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:gco="http://www.ficohsa.com.hn/middleware.services/consultaClienteOpi"
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaClienteOpi"
            elementFormDefault="qualified"
            xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd"
              namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="getCustomerOpiResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="CustomerDetails" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LegalID" minOccurs="1" type="xsd:string"/>
              <xsd:element name="CustomerProfile" minOccurs="0" type="xsd:string"/>
              <xsd:element name="Account" minOccurs="0" type="xsd:string"/>
              <xsd:element name="AccountType" minOccurs="0" type="xsd:string"/>
              <xsd:element name="Category" minOccurs="0" type="xsd:string"/>
              <xsd:element name="PayrollCode" minOccurs="0" type="xsd:string"/>
              <xsd:element name="PayrollName" minOccurs="0" type="xsd:string"/>
              <xsd:element name="AgreementCode" minOccurs="0" type="xsd:string"/>
              <xsd:element name="AgreementName" minOccurs="0" type="xsd:string"/>
              <xsd:element name="AgreementRate" minOccurs="0" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
