Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Customers/RequestorServices/XSD/getCustomerDebitCards.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTDCliente" elementFormDefault="qualified" nxsd:version="JSON" nxsd:encoding="UTF-8" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ficohsa.com.hn/middleware.services/consultaTDCliente" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd">
   <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
   <xsd:element name="getCustomerDebitCardsResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
            <xsd:element name="CustomerId" minOccurs="0" type="xsd:string"/>
            <xsd:element name="DebitCards" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="CardNumber" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="CardHolderName" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="Category" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="Type" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="IssuedDate" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="PrimaryAccount" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="PrimaryAccountCurrency" minOccurs="0" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>