Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Customers/RequestorServices/XSD/getCustomerAssets.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaClientes" elementFormDefault="qualified" nxsd:version="JSON" nxsd:encoding="UTF-8" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ficohsa.com.hn/middleware.services/consultaClientes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd">
   <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
   <xsd:element name="getCustomerAssetsResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
            <xsd:element name="Assets" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Type" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="Status" minOccurs="0" type="xsd:string"/>
                     <xsd:element name="AssetDetails" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="AssetNumber" minOccurs="0" type="xsd:string"/>
                              <xsd:element name="AssetName" minOccurs="0" type="xsd:string"/>
                              <xsd:element name="Currency" minOccurs="0" type="xsd:string"/>
                              <xsd:element name="TotalBalance" minOccurs="0" type="xsd:double"/>
                              <xsd:element name="ReserveBalance" minOccurs="0" type="xsd:double"/>
                              <xsd:element name="LockedBalance" minOccurs="0" type="xsd:double"/>
                              <xsd:element name="FloatingBalance" minOccurs="0" type="xsd:double"/>
                              <xsd:element name="AvailableBalance" minOccurs="0" type="xsd:double"/>
                              <xsd:element name="SourceBank" minOccurs="0" type="xsd:string"/>
                              <xsd:element name="OperationType" minOccurs="0" type="xsd:string"/>
                              <xsd:element name="Status" minOccurs="0" type="xsd:string"/>
                              <xsd:element name="OpeningDate" minOccurs="0" type="xsd:string"/>
                              <xsd:element name="AccountCategory" minOccurs="0" type="xsd:string"/>
                              <xsd:element name="CategoryDescription" minOccurs="0" type="xsd:string"/>
                              <xsd:element name="PayrollGroup" minOccurs="0" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>