Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Customers/RequestorServices/XSD/updateCustomerNI.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/updateCustomerTypesNI" elementFormDefault="qualified" nxsd:version="JSON" nxsd:encoding="UTF-8" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cus="http://www.ficohsa.com.hn/middleware.services/updateCustomerTypesNI" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="updateCustomerRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
        <xsd:element name="CustomerId" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CustomerInfo" minOccurs="0" type="cus:UpdateCustomerInfoType"/>
        <xsd:element name="ContactInfo" minOccurs="0" type="cus:ContactInfoType"/>
        <xsd:element name="IncomeSourceList" minOccurs="0" type="cus:IncomeSourceType" maxOccurs="unbounded"/>
        <xsd:element name="ReferenceList" minOccurs="0" type="cus:ReferenceType" maxOccurs="unbounded"/>
        <xsd:element name="ProcessType" minOccurs="0" type="xsd:string"/>
        <xsd:element name="Org" minOccurs="0" type="xsd:string"/>
        <xsd:element name="NumberOfDependents" minOccurs="0" type="xsd:string"/>
        <xsd:element name="ChanelCode" minOccurs="0" type="xsd:string"/>
        <xsd:element name="CountryIssuePassport" minOccurs="0" type="xsd:string"/>
        <xsd:element name="IsPep" minOccurs="0">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Yes"/>
              <xsd:enumeration value="No"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FrequentFlyer" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="FlyerType" minOccurs="0">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AA"/>
                    <xsd:enumeration value="LM"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="FrequentFlyerNumber" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateCustomerResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="CustomerId" minOccurs="0" type="xsd:string"/>
        <xsd:element name="AddressList" minOccurs="0" maxOccurs="unbounded" type="cus:AddressType"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="UpdateCustomerInfoType">
    <xsd:sequence>
      <xsd:element name="IdList" minOccurs="0" maxOccurs="unbounded" type="cus:IdInfoType"/>
      <xsd:element name="FirstName" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="SecondName" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="ThirdName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FirstLastName" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="SecondLastName" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="Gender" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Male"/>
            <xsd:enumeration value="Female"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="BirthDate" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="BirthPlace" minOccurs="0" type="xsd:string"/>
      <xsd:element name="BirthCountry" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MontlhyTransactionVolume" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AccountOfficer" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MaritalStatus" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Single"/>
            <xsd:enumeration value="Married"/>
            <xsd:enumeration value="Divorced"/>
            <xsd:enumeration value="Widowed"/>
            <xsd:enumeration value="Commonlawmarriage"/>
            <xsd:enumeration value="Separateproperty"/>
            <xsd:enumeration value="Other"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="SpouseName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MarriedName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Nationality" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Residence" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Language" minOccurs="0" type="xsd:string"/>
      <xsd:element name="GivenNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FamilyNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Sector" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Industry" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Target" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MultipleNationality" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LineOfBusiness" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AdditionalInfo" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GovernmentContractor" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
            <xsd:enumeration value="InProcess"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Segment" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Segmentation" type="xsd:string" minOccurs="0"/>
      <xsd:element name="GeneratorType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UpdateDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="UpdatedBy" minOccurs="0" type="xsd:string"/>
      <xsd:element name="UpdateSource" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TotalIncome" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AllowsElectronicTransactions" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LegalRepresentative" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DocumentName" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LegalId" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Name" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LastName" minOccurs="0" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ApnfdCustomer" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ApnfdProfession" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ProviderName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ClosingTax" minOccurs="0" type="xsd:string"/>
      <xsd:element name="BusinessName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Profession" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Activity" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactInfoType">
    <xsd:sequence>
      <xsd:element name="AddressList" minOccurs="0" type="cus:AddressesInfoType" maxOccurs="unbounded"/>
      <xsd:element name="EmailList" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Type">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Home"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="Work"/>
                  <xsd:enumeration value="2"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IsMain" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Yes"/>
                  <xsd:enumeration value="No"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Email" minOccurs="1" type="xsd:string"/>
            <xsd:element name="Reference" minOccurs="0" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PhoneList" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Type">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Beeper"/>
                  <xsd:enumeration value="Mobile"/>
                  <xsd:enumeration value="Landline"/>
                  <xsd:enumeration value="Fax"/>
                  <xsd:enumeration value="TelFax"/>
                  <xsd:enumeration value="Pbx"/>
                  <xsd:enumeration value="Sms"/>
                  <xsd:enumeration value="Other"/>
                  <xsd:enumeration value="Reference"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Ismain">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Yes"/>
                  <xsd:enumeration value="No"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AreaCode" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Number" type="dtt:string1"/>
            <xsd:element name="Extension" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="Location">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Home"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="Work"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="Other"/>
                  <xsd:enumeration value="3"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Reference" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ZipCode" minOccurs="0" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IncomeSourceType">
    <xsd:sequence>
      <xsd:element name="CurrentlyEmployed" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ProfessionCode" type="dtt:string1"/>
      <xsd:element name="JobTitle" type="xsd:string"/>
      <xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IncomeSource" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="IncomeRange" type="dtt:string1"/>
      <xsd:element name="IncomeCurrency" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Occupation" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EducationLevel" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="None"/>
            <xsd:enumeration value="Elementary"/>
            <xsd:enumeration value="Middle"/>
            <xsd:enumeration value="University"/>
            <xsd:enumeration value="Masters"/>
            <xsd:enumeration value="Doctoral"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MerchantType" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="No"/>
            <xsd:enumeration value="Individual"/>
            <xsd:enumeration value="Formal"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CompanyType" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Goverment"/>
            <xsd:enumeration value="Private"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CompanySize" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ImmediateBoss" minOccurs="0" type="xsd:string"/>
      <xsd:element name="StartDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EndDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Website" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Observations" minOccurs="0" type="xsd:string"/>
      <xsd:element name="BusinessName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LineOfBusiness" type="xsd:string" minOccurs="0"/>
      <xsd:element name="InscriptionDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SalesVolume" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="FiscalYear" type="xsd:int" minOccurs="0"/>
      <xsd:element name="PeriodClosingSales" type="xsd:int" minOccurs="0"/>
      <xsd:element name="OtherIncomeSourceList" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IncomeSource" minOccurs="0" type="xsd:string"/>
            <xsd:element name="SourceName" minOccurs="0" type="xsd:string"/>
            <xsd:element name="IncomeCurrency" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Amount" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="CountryCode" minOccurs="0" type="xsd:string"/>
            <xsd:element name="StateCode" minOccurs="0" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BenefactorsList" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FullName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Profession" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Relationship" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SectorizationList" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Type" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Level" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EmploymentYears" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EmploymentMonths" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Expenses" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CountryCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="StateCode" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferenceType">
    <xsd:sequence>
      <xsd:element name="Type" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Commercial"/>
            <xsd:enumeration value="Personal"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GivenNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FamilyNames" minOccurs="0" type="xsd:string"/>
      <xsd:element name="MarriedName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Relationship" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ContactPerson" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PhoneNumber" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Cellphone" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CompanyName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Occupation" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Address" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DocumentType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DocumentNumber" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Comment" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="Type" minOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IsMain" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PoBox" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ZipCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CountryCode" type="dtt:string1"/>
      <xsd:element name="StateCode" type="dtt:string1"/>
      <xsd:element name="CityCode" type="dtt:string1"/>
      <xsd:element name="DistrictCode" type="dtt:string1"/>
      <xsd:element name="Neighborhood" type="dtt:string1" minOccurs="0"/>
      <xsd:element name="References" type="dtt:string1"/>
      <xsd:element name="AddressLine1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AddressLine2" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Domicile" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Building" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Apartment" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Details" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Avenue" type="dtt:string1"/>
      <xsd:element name="Street" type="dtt:string1"/>
      <xsd:element name="Block" type="dtt:string1"/>
      <xsd:element name="HouseNumber" type="dtt:string1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdInfoType">
    <xsd:sequence>
      <xsd:element name="DocumentName" type="xsd:string"/>
      <xsd:element name="LegalId" type="xsd:string"/>
      <xsd:element name="DateOfIssuance" type="xsd:string"/>
      <xsd:element name="MaturityDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CountryOfIssuance" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CityOfIssuance" minOccurs="0" type="xsd:string"/>
      <xsd:element name="StateOfIssuance" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressesInfoType">
    <xsd:sequence>
      <xsd:element name="Type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Home"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="Work"/>
            <xsd:enumeration value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IsMain" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PoBox" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ZipCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CountryCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="StateCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CityCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DistrictCode" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Neighborhood" minOccurs="0" type="xsd:string"/>
      <xsd:element name="References" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AddressLine1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="AddressLine2" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Domicile" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Building" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Apartment" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Details" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Avenue" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Street" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Block" minOccurs="0" type="xsd:string"/>
      <xsd:element name="HouseNumber" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Zone" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NeighborhoodPending" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>