Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/GestionTCRenovacionAnticipado/xsd/XMLSchema_-813542687.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionTCRenovacionAnticipadaTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionTCRenovacionAnticipadaTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="gestionTCRenovacionAnticipada">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:string" minOccurs="0"/>			
				<xs:element name="CARD_NUMBER" type="tns:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
	
	<xs:element name="gestionTCRenovacionAnticipadaResponse"/>	
</xs:schema>