Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/bloqueoCertificadoDeposito/BloqueoCertificadoDeposito/bloqueoCertificadoDepositoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/bloqueoCertificadoDepositoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/bloqueoCertificadoDepositoTypes">
	
	<xs:complexType name="bloqueoCertificadoDepositoResponseType">
		<xs:sequence/> 
	</xs:complexType>
	
		<xs:element name="bloqueoCertificadoDeposito">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="DEPOSIT_NUMBER" type="xs:string"/>
	            <xs:element name="BEGIN_DATE" type="xs:string"/>
	            <xs:element name="END_DATE" type="xs:string"/>
	            <xs:element name="BLOCK_AMOUNT" type="xs:string"/>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="bloqueoCertificadoDepositoResponse" type="cons:bloqueoCertificadoDepositoResponseType"/>
	
</xs:schema>