Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Remittances/RequestorServices/WSDL/RemittancesRouter_PS.wsdl

<wsdl:definitions name="RemittancesRouter_PS" targetNamespace="http://xmlns.oracle.com/DynamoMigrate/MWBanking/RemittancesRouter_PS" xmlns:tns="http://xmlns.oracle.com/DynamoMigrate/MWBanking/RemittancesRouter_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/remittancesTypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/getRemittancesTypes" xmlns:inp3="http://www.ficohsa.com.hn/middleware.services/payRemittancesTypes" xmlns:inp4="http://www.ficohsa.com.hn/middleware.services/getDetailsRemittanceTypes" xmlns:inp5="http://www.ficohsa.com.hn/middleware.services/getRemittanceFieldsTypes">
  <plnk:partnerLinkType name="RemittancesRouter_PS">
    <plnk:role name="RemittancesRouter_PSProvider" portType="tns:RemittancesRouter_PS_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/remittancesTypes" schemaLocation="../XSD/remittancesTypes.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getRemittancesTypes" schemaLocation="../XSD/getRemittances.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/payRemittancesTypes" schemaLocation="../XSD/payRemittancesTypes.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getDetailsRemittanceTypes" schemaLocation="../XSD/getDetailsRemittanceTypes.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getRemittanceFieldsTypes" schemaLocation="../XSD/getRemittanceFieldsTypes.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/DynamoMigrate/MWBanking/RemittancesRouter_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"/>
  </wsdl:types>
  <wsdl:message name="getCatalogRemittances_inputMessage">
    <wsdl:part name="request" element="inp1:getCatalogRemittancesRequest"/>
  </wsdl:message>
  <wsdl:message name="getCatalogRemittances_outputMessage">
    <wsdl:part name="reply" element="inp1:getCatalogRemittancesResponse"/>
  </wsdl:message>
  <wsdl:message name="getRemittances_inputMessage">
    <wsdl:part name="request" element="inp2:getRemittancesRequest"/>
  </wsdl:message>
  <wsdl:message name="getRemittances_outputMessage">
    <wsdl:part name="reply" element="inp2:getRemittancesResponse"/>
  </wsdl:message>
  <wsdl:message name="payRemittances_inputMessage">
    <wsdl:part name="request" element="inp3:pagoRemesas"/>
  </wsdl:message>
  <wsdl:message name="payRemittances_outputMessage">
    <wsdl:part name="reply" element="inp3:pagoRemesasResponse"/>
  </wsdl:message>
  <wsdl:message name="getDetailsRemittance_inputMessage">
    <wsdl:part name="request" element="inp4:getDetailsRemittanceRequest"/>
  </wsdl:message>
  <wsdl:message name="getDetailsRemittance_outputMessage">
    <wsdl:part name="reply" element="inp4:getDetailsRemittanceResponse"/>
  </wsdl:message>
  <wsdl:message name="getRemittanceFields_inputMessage">
    <wsdl:part name="request" element="inp5:getRemittanceFields"/>
  </wsdl:message>
  <wsdl:message name="getRemittanceFields_outputMessage">
    <wsdl:part name="reply" element="inp5:getRemittanceFieldsResponse"/>
  </wsdl:message>
  <wsdl:portType name="RemittancesRouter_PS_ptt">
    <wsdl:operation name="getCatalogRemittances">
      <wsdl:input message="tns:getCatalogRemittances_inputMessage"/>
      <wsdl:output message="tns:getCatalogRemittances_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getRemittances">
      <wsdl:input message="tns:getRemittances_inputMessage"/>
      <wsdl:output message="tns:getRemittances_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="payRemittances">
      <wsdl:input message="tns:payRemittances_inputMessage"/>
      <wsdl:output message="tns:payRemittances_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getDetailsRemittance">
      <wsdl:input message="tns:getDetailsRemittance_inputMessage"/>
      <wsdl:output message="tns:getDetailsRemittance_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getRemittanceFields">
      <wsdl:input message="tns:getRemittanceFields_inputMessage"/>
      <wsdl:output message="tns:getRemittanceFields_outputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RemittancesRouter_PS_ptt-binding" type="tns:RemittancesRouter_PS_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCatalogRemittances">
      <soap:operation soapAction="getCatalogRemittances"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRemittances">
      <soap:operation soapAction="getRemittances"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payRemittances">
      <soap:operation soapAction="payRemittances"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetailsRemittance">
      <soap:operation soapAction="getDetailsRemittance"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRemittanceFields">
      <soap:operation soapAction="getRemittanceFields"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>