Fuentes/ficohsacore-osb-7e5cceccb837/MWHostToHost/v1/BusinessServices/INTFC/consultaConveniosYCuentasH2H/xsd/consultaConveniosYCuentasH2H_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaConveniosYCuentasH2H" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaConveniosYCuentasH2H" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOCLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_IDSERVICIO" type="db:TVARCHAR8" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOPAIS" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_CONVENIO" type="db:T_PARAM_CONVENIO" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TVARCHAR8">
      <sequence>
         <element name="PT_IDSERVICIO_ITEM" type="db:string8" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_PARAM_CONVENIO">
      <sequence>
         <element name="PT_CONVENIO_ITEM" type="db:PARAM_CONVENIO" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR25">
      <sequence>
         <element name="CUENTAS_ITEM" type="db:string25" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PARAM_CONVENIO">
      <sequence>
         <element name="CONVENIO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONTRATO" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCIONCONTRATO" type="db:string70" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUENTAS" type="db:TVARCHAR25" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string8">
      <restriction base="string">
         <maxLength value="8"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string70">
      <restriction base="string">
         <maxLength value="70"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
</schema>