Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaSaldoTCBatchInterno/xsd/consultaSaldoTCBatchInternoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsultaSaldoTCBatchInterno" 
		xmlns:alt="http://www.ficohsa.com.hn/middleware.services/ConsultaSaldoTCBatchInterno" > 
		
	<!--#################################################################-->     
    			<!-- TIPOS GENERALES -->	
		
	<!-- stringMinLength1Type -->
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<!--#################################################################-->     
    			<!-- TIPOS CONSULTA SALDO TC BATCH -->	
	
	<!-- cardsRequestType -->
    <xs:complexType name="cardsRequestType">
		<xs:sequence>
			<xs:element name="CARD" maxOccurs="unbounded" type="alt:cardRequestType"/>		
		</xs:sequence>
	</xs:complexType>
	
	<!-- cardRequestType -->
    <xs:complexType name="cardRequestType">
		<xs:sequence>
			<xs:element name="ID" type="alt:stringMinLength1"/>
			<xs:element name="PRODUCT_REGION" type="alt:stringMinLength1" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- cardsResponseType -->
    <xs:complexType name="cardsResponseType">
		<xs:sequence>
			<xs:element name="CARD" minOccurs="0" maxOccurs="unbounded" type="alt:cardResponseType"/>		
		</xs:sequence>
	</xs:complexType>
	
	<!-- cardResponseType -->
    <xs:complexType name="cardResponseType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="BALANCES" type="alt:BalancesType" minOccurs="0" />
			<xs:element name="SOURCE_BANK" type="xs:string" minOccurs="0" />
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0" />		
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" />	
		</xs:sequence>
	</xs:complexType>
	
	<!-- BalancesType -->
    <xs:complexType name="BalancesType">
		<xs:sequence>
			<xs:element name="BALANCE" minOccurs="0" maxOccurs="unbounded" type="alt:BalanceType"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- BalanceType -->
    <xs:complexType name="BalanceType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENT_BALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="PURCHASES_LIMIT" type="xs:string" minOccurs="0" />
			<xs:element name="WITHDRAWAL_LIMIT" type="xs:string" minOccurs="0" />				
		</xs:sequence>
	</xs:complexType>

    <!--#################################################################-->     
    			<!--OPERACION: CONSULTA SALDO TC BATCH--> 

	<xs:element name="ConsultaSaldoTCBatchInterno">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="REGION" type="xs:string"/>
            	<xs:element name="CARDS" type="alt:cardsRequestType" />
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
	
	<xs:element name="ConsultaSaldoTCBatchInternoResponse">
		<xs:complexType>
            <xs:sequence>
            	<xs:element name="CARDS" minOccurs="0" type="alt:cardsResponseType" />
            </xs:sequence> 
        </xs:complexType>
    </xs:element> 
    
</xs:schema>