Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/PMSV/consultarProveedores/xsd/consultarProveedores_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarProveedoresPagosMasivos" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarProveedoresPagosMasivos" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOCLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SITUACION" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGOSPROVEEDORIN" type="db:TVARCHAR15" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOCLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CANTIDADREGISTROS" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGOPROVEEDOR" type="db:TVARCHAR15" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOMBREPROVEEDOR" type="db:TVARCHAR40" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NUMEROIDENTIFICACION" type="db:TVARCHAR20" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOCUENTA" type="db:TVARCHAR20" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SIGLABANCOPROV" type="db:TVARCHAR40" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGOBANCO" type="db:TNUMBER" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SIGLABANCO" type="db:TVARCHAR40" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TIPOCUENTAACH" type="db:TVARCHAR2" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TIPODEPROVEEDOR" type="db:TVARCHAR1" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SITUACION" type="db:TVARCHAR15" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TVARCHAR2">
      <sequence>
         <element name="ITEM" type="db:string2" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TNUMBER">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR1">
      <sequence>
         <element name="ITEM" type="db:string1" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR20">
      <sequence>
         <element name="ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR40">
      <sequence>
         <element name="ITEM" type="db:string40" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR15">
      <sequence>
         <element name="ITEM" type="db:string15" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
</schema>