Fuentes/ficohsacore-vortex-7ebad6e8baaa/MWHostToHost/v1/Resources/AperturaMasiva/xsd/aperturaMasivaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/aperturaMasivaTypes"
	xmlns:amas="http://www.ficohsa.com.hn/middleware.services/aperturaMasivaTypes">
	<!--    -->
	<xs:simpleType name="StringLength1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!--    -->
	<!--    -->
	<xs:simpleType name="StringLength40">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!--    -->
	<!--    -->
	<xs:simpleType name="StringLength20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!--    -->
	<!--    -->
	<xs:simpleType name="StringLength60">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<!--    -->
	<!--    -->
	<xs:simpleType name="StringLength11">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<!--    -->
	<!--    -->
	<xs:simpleType name="StringLength13">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]*"/>
			<xs:minLength value="13"/>
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<!--    -->
	<!--    -->
	<xs:simpleType name="StringLength3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<!--    -->
	<!--    -->
	<xs:simpleType name="StringLength10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<!--    -->
	<!--    -->
	<xs:simpleType name="StringLength50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<!--    -->

	<xs:complexType name="actualizaParametrosRequest">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" />
			<xs:element name="PARAMETERS" type="amas:parametersType"/>			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="actualizaParametrosResponse">
		<xs:sequence>
			<xs:element name="ACTUALIZA" minOccurs="0" type="xs:string" />		
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="parametersType">
		<xs:sequence>
			<xs:element name="PARAMETER" maxOccurs="unbounded" type="amas:parameterType"/>		
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="parameterType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string"/>
			<xs:element name="VALUE" type="xs:string"/>		
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="customersType">
		<xs:sequence>
			<xs:element name="CUSTOMER" minOccurs="0" maxOccurs="unbounded" type="amas:customerType"/>		
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="customerType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="ACCOUNT" type="xs:string"/>
			<xs:element name="ACCOUNT_CURRENCY" type="xs:string"/>
			<xs:element name="LEGAL_ID" type="xs:decimal"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string"/>
			<xs:element name="STATUS" type="xs:string"/>
			<xs:element name="ERROR_DESCRIPTION" type="xs:string"/>	
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="customersCargaType">
		<xs:sequence>
			<xs:element name="CUSTOMER" maxOccurs="unbounded" type="amas:customerCargaType"/>		
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="customerCargaType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID_TYPE" type="amas:StringLength20"/>
			<xs:element name="LEGAL_ID" type="amas:StringLength13"/>
			<xs:element name="LEGAL_ID_EMISSION_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GIVEN_NAMES" type="amas:StringLength40"/>
			<xs:element name="FAMILY_NAME" type="amas:StringLength40"/>
			<xs:element name="DATE_OF_BIRTH" type="xs:date"/>
			<xs:element name="GENDER">
			<xs:simpleType>
					<xs:restriction base="amas:StringLength1">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
			<xs:element name="MARITAL_STATUS">
				<xs:simpleType>
					<xs:restriction base="amas:StringLength1">
						<xs:enumeration value="S"/>
						<xs:enumeration value="L"/>
						<xs:enumeration value="M"/>
						<xs:enumeration value="D"/>
						<xs:enumeration value="W"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HOME_ADDRESS" type="amas:StringLength60"/>
			<xs:element name="CELLULAR" type="amas:StringLength11"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="PHONE_NUMBER" type="amas:StringLength11" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PHONE_REFERENCE" type="amas:StringLength20"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="EDUCATION_LEVEL">
				<xs:simpleType>
					<xs:restriction base="amas:StringLength1">
						<xs:enumeration value="A"/>
						<xs:enumeration value="P"/>
						<xs:enumeration value="S"/>
						<xs:enumeration value="H"/>
						<xs:enumeration value="G"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PROFESSION">
				<xs:simpleType>
					<xs:restriction base="amas:StringLength3">
						<xs:pattern value="[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="START_DAY_JOB" type="xs:date"/>
			<xs:element name="JOB_TITTLE">
			<xs:simpleType>
					<xs:restriction base="amas:StringLength3">
						<xs:pattern value="[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INCOME_CURRENCY">
				<xs:simpleType>
					<xs:restriction base="amas:StringLength3">
						<xs:enumeration value="HNL"/>
						<xs:enumeration value="USD"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INCOME_AMOUNT" type="amas:StringLength10"/>
			<xs:element name="MARRIED_NAME" type="amas:StringLength40"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="MARRIED_LASTNAME" type="amas:StringLength40" minOccurs="0" maxOccurs="1"/>
			<xs:element name="REFERENCE_NAME" type="amas:StringLength40"/>
			<xs:element name="REFERENCE_LASTNAME" type="amas:StringLength40"/>
			<xs:element name="REFERENCE_PHONE" type="amas:StringLength11"/>
			<xs:element name="REFERENCE_RELATIONSHIP">
				<xs:simpleType>
					<xs:restriction base="amas:StringLength3">
						<xs:pattern value="[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BENEFICIARY_NAME" type="amas:StringLength50"/>
			<xs:element name="BENEFICIARY_RELATIONSHIP">
				<xs:simpleType>
					<xs:restriction base="amas:StringLength3">
						<xs:pattern value="[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaParametrosRequest">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" />			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaParametrosResponse">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" minOccurs="0" type="xs:string" />
			<xs:element name="PARAMETERS" minOccurs="0" type="amas:parametersType"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaEstadoLoteRequest">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" />
			<xs:element name="BANK_BATCH_ID" type="xs:string" />			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaEstadoLoteResponse">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" minOccurs="0" type="xs:string" />
			<xs:element name="BANK_BATCH_ID" minOccurs="0" type="xs:string" />
			<xs:element name="STATUS" minOccurs="0" type="xs:decimal" />
			<xs:element name="STATUS_DESC" minOccurs="0" type="xs:string" />
			<xs:element name="NUMBER_OF_CUSTOMERS" minOccurs="0" type="xs:decimal" />
			<xs:element name="NUMBER_OF_CUSTOMERS_SUCCESS" minOccurs="0" type="xs:decimal" />
			<xs:element name="NUMBER_OF_CUSTOMERS_ERROR" minOccurs="0" type="xs:decimal" />
			<xs:element name="APPLICATION_DATE" minOccurs="0" type="xs:dateTime" />	
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaDetalleLoteRequest">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" />
			<xs:element name="BANK_BATCH_ID" type="xs:string" />			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaDetalleLoteResponse">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" minOccurs="0" type="xs:string" />
			<xs:element name="BANK_BATCH_ID" minOccurs="0" type="xs:string" />
			<xs:element name="NUMBER_OF_CUSTOMERS" minOccurs="0" type="xs:decimal" />
			<xs:element name="NUMBER_OF_CUSTOMERS_SUCCESS" minOccurs="0" type="xs:decimal" />
			<xs:element name="NUMBER_OF_CUSTOMERS_ERROR" minOccurs="0" type="xs:decimal" />
			<xs:element name="CUSTOMERS" minOccurs="0" type="amas:customersType" />	
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="cargaLoteProductosRequest">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" />
			<xs:element name="PAYROLL_GROUP_ID" type="xs:string" />
			<xs:element name="CUSTOMERS" type="amas:customersCargaType" />	
			<xs:element name="KV_PAIRS" type="amas:KVPairType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="KVPairType">
		<xs:sequence>
			<xs:element name="PAIR" type="amas:PairType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PairType">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="cargaLoteProductosResponse">
		<xs:sequence>
			<xs:element name="BANK_BATCH_ID" minOccurs="0" type="xs:string" />			
		</xs:sequence>
	</xs:complexType>

	<xs:element name="actualizaParametrosRequest" type="amas:actualizaParametrosRequest" />
	<xs:element name="actualizaParametrosResponse" type="amas:actualizaParametrosResponse" />
	
	<xs:element name="consultaParametrosRequest" type="amas:consultaParametrosRequest" />
	<xs:element name="consultaParametrosResponse" type="amas:consultaParametrosResponse" />
	
	<xs:element name="consultaEstadoLoteRequest" type="amas:consultaEstadoLoteRequest" />
	<xs:element name="consultaEstadoLoteResponse" type="amas:consultaEstadoLoteResponse" />
	
	<xs:element name="consultaDetalleLoteRequest" type="amas:consultaDetalleLoteRequest" />
	<xs:element name="consultaDetalleLoteResponse" type="amas:consultaDetalleLoteResponse" />
	
	<xs:element name="cargaLoteProductosRequest" type="amas:cargaLoteProductosRequest" />
	<xs:element name="cargaLoteProductosResponse" type="amas:cargaLoteProductosResponse" />

</xs:schema>