Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/CatalogosInfoPrestamo_v2/wsdl/CatalogosInfoPrestamo.wsdl

<WL5G3N0:definitions name="catalogosInfoPrestamoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoTypes" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cipt="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_-1403420588.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cipt="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoTypes" schemaLocation="../xsd/XMLSchema_1667880236.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="consultaCaracteristicasProducto">
    <WL5G3N0:part element="WL5G3N1:consultaCaracteristicasProducto" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaCaracteristicasProductoResponse">
    <WL5G3N0:part element="WL5G3N1:consultaCaracteristicasProductoResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaTiposRevisionesTasa">
    <WL5G3N0:part element="WL5G3N1:consultaTiposRevisionesTasa" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaTiposRevisionesTasaResponse">
    <WL5G3N0:part element="WL5G3N1:consultaTiposRevisionesTasaResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaTiposPrestamos">
    <WL5G3N0:part element="WL5G3N1:consultaTiposPrestamos" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaTiposPrestamosResponse">
    <WL5G3N0:part element="WL5G3N1:consultaTiposPrestamosResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaGruposTasa">
    <WL5G3N0:part element="WL5G3N1:consultaGruposTasa" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaGruposTasaResponse">
    <WL5G3N0:part element="WL5G3N1:consultaGruposTasaResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="catalogosInfoPrestamoPS">
    <WL5G3N0:operation name="consultaCaracteristicasProducto" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaCaracteristicasProducto"/>
      <WL5G3N0:output message="WL5G3N3:consultaCaracteristicasProductoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaTiposRevisionesTasa" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaTiposRevisionesTasa"/>
      <WL5G3N0:output message="WL5G3N3:consultaTiposRevisionesTasaResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaTiposPrestamos" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaTiposPrestamos"/>
      <WL5G3N0:output message="WL5G3N3:consultaTiposPrestamosResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaGruposTasa" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaGruposTasa"/>
      <WL5G3N0:output message="WL5G3N3:consultaGruposTasaResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="catalogosInfoPrestamoPSSOAP" type="WL5G3N3:catalogosInfoPrestamoPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="consultaCaracteristicasProducto">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoPS/consultaCaracteristicasProducto"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaCaracteristicasProducto" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaCaracteristicasProductoResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaTiposRevisionesTasa">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoPS/consultaTiposRevisionesTasa"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaTiposRevisionesTasa" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaTiposRevisionesTasaResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaTiposPrestamos">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoPS/consultaTiposPrestamos"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaTiposPrestamos" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaTiposPrestamosResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultaGruposTasa">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaGrupostasaPS/consultaGrupostasa"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:consultaGruposTasa" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:consultaGruposTasaResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="catalogosInfoPrestamoPS">
    <WL5G3N0:port binding="WL5G3N3:catalogosInfoPrestamoPSSOAP" name="catalogosInfoPrestamoPSSOAP">
      <WL5G3N4:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/CustomerLoans/CatalogosInfoPrestamo"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>