Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultaTransaccionRTE/ConsultaTransaccionRTE.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTransaccionRTETypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaTransaccionRTETypes">
	
	<xs:complexType name="consultaTransaccionRTEResponse">
		<xs:sequence>
			<xs:element name="RTE_HEADER" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaTransaccionRTE">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TRANSACTION_ID" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaTransaccionRTEResponse" type="cons:consultaTransaccionRTEResponse"/>
	
</xs:schema>