Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaCatalogosRegionales/xsd/consultaCatalogosRegionalesTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCatalogosRegionalesTypes" xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaCatalogosRegionalesTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: consultaCatalogosRG -->
    <!--############################################-->
    <xs:element name="consultaCatalogosRG">
        <xs:complexType>
            <xs:sequence>
                  <xs:element name="CATALOGUES_INFO" type="con:cataloguesInfoType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
 <xs:element name="consultaCatalogosRGResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CATALOGUES_DETAILS" type="con:cataloguesDetailsType" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
  <xs:complexType name="cataloguesInfoType">
      <xs:sequence>
           <xs:element name="CATALOGUE" type="con:catalogueType" maxOccurs="unbounded" />
       </xs:sequence>
 </xs:complexType>  
    
  <xs:complexType name="catalogueType">
	<xs:sequence>
		<xs:element name="NAME" type="xs:string" minOccurs="0" />
		<xs:element name="SOURCE_SYSTEM" type="xs:string" minOccurs="0" />
		<xs:element name="SOURCE_BANK" type="xs:string" minOccurs="0" />
		<xs:element name="PAGING_INFO" type="con:pagingInfoType" minOccurs="0" />
		<xs:element name="FILTER_CRITERIAS" type="con:filterCriteriasType" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>
  
   <xs:complexType name="pagingInfoType">
	<xs:sequence>
		<xs:element name="PAGING" type="xs:string" minOccurs="0" />
		<xs:element name="INITIAL_RECORD" type="xs:string" minOccurs="0" />
		<xs:element name="RECORD_COUNT" type="xs:string" minOccurs="0" />
		<xs:element name="TICKET" type="xs:string" minOccurs="0" />
	</xs:sequence>
  </xs:complexType>
    
   <xs:complexType name="filterCriteriasType">
	<xs:sequence>
		<xs:element name="FILTER_CRITERIA" type="xs:string" minOccurs="0" />
		<xs:element name="TYPE_FILTER" type="xs:string" minOccurs="0" />
		<xs:element name="VALUE_FILTER" type="xs:string" minOccurs="0" />
	</xs:sequence>
  </xs:complexType>
  
    <xs:complexType name="cataloguesDetailsType">
      <xs:sequence>
           <xs:element name="CATALOGUE" type="con:catalogueResponseType" maxOccurs="unbounded" />
       </xs:sequence>
    </xs:complexType>  
    
      <xs:complexType name="catalogueResponseType">
	<xs:sequence>
		<xs:element name="NAME" type="xs:string" minOccurs="0" />
		<xs:element name="SOURCE_SYSTEM" type="xs:string" minOccurs="0" />
		<xs:element name="SOURCE_BANK" type="xs:string" minOccurs="0" />
		<xs:element name="DETAILS" type="con:detailsType" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="RECORDS_INFO" type="con:recordsInfoType" minOccurs="0" />
		<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0" />
		<xs:element name="MESSAGE" type="xs:string" minOccurs="0" />
	</xs:sequence>
  </xs:complexType>
    
    <xs:complexType name="detailsType">
	<xs:sequence>
		<xs:element name="ITEM_NAME" type="xs:string" minOccurs="0" />
		<xs:element name="ITEM_VALUE" type="xs:string" minOccurs="0" />
	</xs:sequence>
  </xs:complexType>
    
       <xs:complexType name="recordsInfoType">
	<xs:sequence>
		<xs:element name="INITIAL_RECORD" type="xs:string" minOccurs="0" />
		<xs:element name="RECORDS_RETURNED" type="xs:string" minOccurs="0" />
		<xs:element name="RECORDS_TOTAL" type="xs:string" minOccurs="0" />
		<xs:element name="TICKET" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>
    
</xs:schema>