Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/TarjetaDebito/XMLSchema_-155258746.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Activaciondetarjetadedebito" type="tns:Activaciondetarjetadedebito"/>

<xs:element name="ActivaciondetarjetadedebitoResponse" type="tns:ActivaciondetarjetadedebitoResponse"/>

<xs:element name="Activaciondetarjetadedebito_Validate" type="tns:Activaciondetarjetadedebito_Validate"/>

<xs:element name="Activaciondetarjetadedebito_ValidateResponse" type="tns:Activaciondetarjetadedebito_ValidateResponse"/>

<xs:element name="Bloqueodetarjetadedebito" type="tns:Bloqueodetarjetadedebito"/>

<xs:element name="BloqueodetarjetadedebitoResponse" type="tns:BloqueodetarjetadedebitoResponse"/>

<xs:element name="Bloqueodetarjetadedebito_Validate" type="tns:Bloqueodetarjetadedebito_Validate"/>

<xs:element name="Bloqueodetarjetadedebito_ValidateResponse" type="tns:Bloqueodetarjetadedebito_ValidateResponse"/>

<xs:element name="ConsultaMaestraTarjetaDebito" type="tns:ConsultaMaestraTarjetaDebito"/>

<xs:element name="ConsultaMaestraTarjetaDebitoResponse" type="tns:ConsultaMaestraTarjetaDebitoResponse"/>

<xs:element name="ConsultadebloqueosporTD" type="tns:ConsultadebloqueosporTD"/>

<xs:element name="ConsultadebloqueosporTDResponse" type="tns:ConsultadebloqueosporTDResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="LATAMCARDORDERACTIVEType">
<xs:sequence>
<xs:element name="CardStatus" type="xs:string" minOccurs="0"/>
<xs:element name="CustomerNo" type="xs:string" minOccurs="0"/>
<xs:element name="gACCTCCY" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCTCCY" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="AccountCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="PrimaryAccount" type="xs:string" minOccurs="0"/>
<xs:element name="sgSCNDRYACCT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="SecondaryAccount" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="Currency" type="xs:string" minOccurs="0"/>
<xs:element name="IssueDate" type="xs:string" minOccurs="0"/>
<xs:element name="ExpiryDate" type="xs:string" minOccurs="0"/>
<xs:element name="PinIssueDate" type="xs:string" minOccurs="0"/>
<xs:element name="Limit" type="xs:string" minOccurs="0"/>
<xs:element name="Charges" type="xs:string" minOccurs="0"/>
<xs:element name="ChargeDate" type="xs:string" minOccurs="0"/>
<xs:element name="gNOTES" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Notes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="StockRegId" type="xs:string" minOccurs="0"/>
<xs:element name="StockSeriersId" type="xs:string" minOccurs="0"/>
<xs:element name="CardStartNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="LATAMCARDORDERType">
<xs:sequence>
<xs:element name="CARDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="gACCOUNT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="gACCTCCY" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCTCCY" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCTCCY" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYACCT" type="xs:string" minOccurs="0"/>
<xs:element name="sgSCNDRYACCT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="SCNDRYACCT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="ISSUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="EXPIRYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="gNAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="PINISSUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LIMIT" type="xs:string" minOccurs="0"/>
<xs:element name="CANCELLATIONDATE" type="xs:string" minOccurs="0"/>
<xs:element name="REISSUEOPTION" type="xs:string" minOccurs="0"/>
<xs:element name="CANREASON" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGES" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="gNOTES" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NOTES" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="STOCKREGID" type="xs:string" minOccurs="0"/>
<xs:element name="STOCKSERIERSID" type="xs:string" minOccurs="0"/>
<xs:element name="LSTREPAYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LSTBILLINGCLOSE" type="xs:string" minOccurs="0"/>
<xs:element name="REPAYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="BILLINGCLOSE" type="xs:string" minOccurs="0"/>
<xs:element name="NEWREPAYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="NEWBILLINGCLOSE" type="xs:string" minOccurs="0"/>
<xs:element name="ORIGREPAYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ORIGBILLINGCLOSE" type="xs:string" minOccurs="0"/>
<xs:element name="CARDSTARTNO" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFCARD" type="xs:string" minOccurs="0"/>
<xs:element name="EXPUPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="NEWEXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="gCARDNUMBER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCARDNUMBER" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEONPLASTIC" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="OTHEROFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="DELIVERYPLACE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDELIVERYADD" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DELIVERYADD" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gTYPEOFSERVICE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mTYPEOFSERVICE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TYPEOFSERVICE" type="xs:string" minOccurs="0"/>
<xs:element name="SERVICEACCTS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="TYPEOFISSUE" type="xs:string" minOccurs="0"/>
<xs:element name="ISSUESTAGE" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCKSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFBLOCK" type="xs:string" minOccurs="0"/>
<xs:element name="DATESENTEMBOSS" type="xs:string" minOccurs="0"/>
<xs:element name="DATERECEIVEEMB" type="xs:string" minOccurs="0"/>
<xs:element name="DATECARDSENT" type="xs:string" minOccurs="0"/>
<xs:element name="DATEDELIVERED" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFMODIFY" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONFEES" type="xs:string" minOccurs="0"/>
<xs:element name="CLASSCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DATELIMITCONTROL" type="xs:string" minOccurs="0"/>
<xs:element name="LIMITCONTROL" type="xs:string" minOccurs="0"/>
<xs:element name="LIMITCONTROLAMT" type="xs:string" minOccurs="0"/>
<xs:element name="FREQLIMITCONTROL" type="xs:string" minOccurs="0"/>
<xs:element name="CATEGORYCARD" type="xs:string" minOccurs="0"/>
<xs:element name="CARDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ISSUEINDICATOR" type="xs:string" minOccurs="0"/>
<xs:element name="ISSUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="REISSREASON" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHAPPDCRL" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCRDDEL" type="xs:string" minOccurs="0"/>
<xs:element name="gLIMCCY" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLIMCCY" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LIMCCY" type="xs:string" minOccurs="0"/>
<xs:element name="DAATMWDLLIM" type="xs:string" minOccurs="0"/>
<xs:element name="MXATMTRANLIM" type="xs:string" minOccurs="0"/>
<xs:element name="DAATMTRANQTY" type="xs:string" minOccurs="0"/>
<xs:element name="MNATMTRANQTY" type="xs:string" minOccurs="0"/>
<xs:element name="DAPOSWDLLIM" type="xs:string" minOccurs="0"/>
<xs:element name="MXPOSTRANLIM" type="xs:string" minOccurs="0"/>
<xs:element name="DAPOSTRANQTY" type="xs:string" minOccurs="0"/>
<xs:element name="MNPOSTRANQTY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCONTRPRINT" type="xs:string" minOccurs="0"/>
<xs:element name="LRREPRINOBSER" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONREPRIDT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONREPRIUS" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONPRIDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONPRIUSER" type="xs:string" minOccurs="0"/>
<xs:element name="EMBOSSTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="WAIVEPERIODCHG" type="xs:string" minOccurs="0"/>
<xs:element name="RENEWALFLAG" type="xs:string" minOccurs="0"/>
<xs:element name="RENEWALNOTES" type="xs:string" minOccurs="0"/>
<xs:element name="PINBLOCK" type="xs:string" minOccurs="0"/>
<xs:element name="OFFSET" type="xs:string" minOccurs="0"/>
<xs:element name="TXNAMTTODAY" type="xs:string" minOccurs="0"/>
<xs:element name="LASTTXNDATE" type="xs:string" minOccurs="0"/>
<xs:element name="REISSUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="PINERRRETRYNO" type="xs:string" minOccurs="0"/>
<xs:element name="TXNBALOWNNO" type="xs:string" minOccurs="0"/>
<xs:element name="TXNBALEXTNO" type="xs:string" minOccurs="0"/>
<xs:element name="TXNWDRWOWNNO" type="xs:string" minOccurs="0"/>
<xs:element name="TXNWDRWEXTNO" type="xs:string" minOccurs="0"/>
<xs:element name="LASTAUTHENDT" type="xs:string" minOccurs="0"/>
<xs:element name="DEBCRDCHRGE" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCKDATE" type="xs:string" minOccurs="0"/>
<xs:element name="REPOBS" type="xs:string" minOccurs="0"/>
<xs:element name="EMBOSSED" type="xs:string" minOccurs="0"/>
<xs:element name="NEWCARDNO" type="xs:string" minOccurs="0"/>
<xs:element name="PROCESSED" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMCARDNO" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED1" type="xs:string" minOccurs="0"/>
<xs:element name="gSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="STMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="WSFICODEBITCARDCUSTOMERType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFICODEBITCARDCUSTOMERDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICODEBITCARDCUSTOMERDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="CARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEONCARD" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY1" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYACCT" type="xs:string" minOccurs="0"/>
<xs:element name="SCNDRYACCT" type="xs:string" minOccurs="0"/>
<xs:element name="CARDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFCARD" type="xs:string" minOccurs="0"/>
<xs:element name="PRODUCTTYPE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LATAMCARDORDERBLOCKWSType">
<xs:sequence>
<xs:element name="CardStatus" type="xs:string" minOccurs="0"/>
<xs:element name="CustomerNo" type="xs:string" minOccurs="0"/>
<xs:element name="gCARDNUMBER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCARDNUMBER" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="NameonCard" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="OTHEROFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="DELIVERYPLACE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="ISSUESTAGE" type="xs:string" minOccurs="0"/>
<xs:element name="BlockDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="WSFICOECUSTPOSVISATXNSType">
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="TOTAMTBLOCKED" type="xs:string" minOccurs="0"/>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFICOECUSTPOSVISATXNSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOECUSTPOSVISATXNSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSACTIONREF" type="xs:string" minOccurs="0"/>
<xs:element name="TXNDATE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNTIME" type="xs:string" minOccurs="0"/>
<xs:element name="EXPIRYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="AMTBLOCKED" type="xs:string" minOccurs="0"/>
<xs:element name="NATUREOFTXN" type="xs:string" minOccurs="0"/>
<xs:element name="TERMINALID" type="xs:string" minOccurs="0"/>
<xs:element name="TERMINALNAME" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadebloqueosporTD">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOECUSTPOSVISATXNSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadebloqueosporTDResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOECUSTPOSVISATXNSType" type="tns:WSFICOECUSTPOSVISATXNSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaMaestraTarjetaDebito">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICODEBITCARDCUSTOMERType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaMaestraTarjetaDebitoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICODEBITCARDCUSTOMERType" type="tns:WSFICODEBITCARDCUSTOMERType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Bloqueodetarjetadedebito">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="LATAMCARDORDERBLOCKWSType" type="tns:LATAMCARDORDERBLOCKWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BloqueodetarjetadedebitoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMCARDORDERType" type="tns:LATAMCARDORDERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Bloqueodetarjetadedebito_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="LATAMCARDORDERBLOCKWSType" type="tns:LATAMCARDORDERBLOCKWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Bloqueodetarjetadedebito_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMCARDORDERType" type="tns:LATAMCARDORDERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Activaciondetarjetadedebito_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="LATAMCARDORDERACTIVEType" type="tns:LATAMCARDORDERACTIVEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Activaciondetarjetadedebito_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMCARDORDERType" type="tns:LATAMCARDORDERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Activaciondetarjetadedebito">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="LATAMCARDORDERACTIVEType" type="tns:LATAMCARDORDERACTIVEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActivaciondetarjetadedebitoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMCARDORDERType" type="tns:LATAMCARDORDERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>