Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/CalificacionBlaze_v2/wsdl/calificacionBlaze_v2.wsdl

<WL5G3N0:definitions name="blazeQualifyPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/blazeQualifyPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/blazeQualifyTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/blazeQualifyPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/blazeQualifyPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/blazeQualifyTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_1907331123.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/blazeQualifyPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/blazeQualifyTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/blazeQualifyTypes" schemaLocation="../xsd/XMLSchema_1668489945.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="blazeQualifyRequest">
    <WL5G3N0:part element="WL5G3N2:blazeQualify" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="blazeQualifyResponse">
    <WL5G3N0:part element="WL5G3N2:blazeQualifyResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="blazeQualifyPS">
    <WL5G3N0:operation name="blazeQualify" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:blazeQualifyRequest"/>
      <WL5G3N0:output message="WL5G3N3:blazeQualifyResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="blazeQualifyPSSOAP" type="WL5G3N3:blazeQualifyPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="blazeQualify">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/blazeQualifyPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="blazeQualifyPS">
    <WL5G3N0:port binding="WL5G3N3:blazeQualifyPSSOAP" name="blazeQualifyPSSOAP">
      <WL5G3N4:address location="http://PCAICEDO.CIDENET.LOCAL:7001/Middleware/OperationsAndExecution/Cards/blazeQualify"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>