Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaRemesaBackend/xsd/consultaRemesaBackendTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaRemesaBackendTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaRemesaBackendTypes">

	<xs:element name="consultaRemesaBackend">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REMITTANCE_ID" type="xs:string" />
				<xs:element name="REMITTER_ID" type="xs:string" />
				<xs:element name="STATUS" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaRemesaBackendResponse" type="cons:consultaRemesaBackendResponseType" />	
	
	<xs:complexType name="consultaRemesaBackendResponseType">
		<xs:sequence>
			<xs:element name="REMITTANCE_ID" type="xs:string"/>
			<xs:element name="REMITTER_ID" type="xs:string"/>
			<xs:element name="TRANSACTION_ID" type="xs:string"/>
			<xs:element name="STATUS" type="xs:string"/>
			<xs:element name="BRANCH_CODE" type="xs:string"/>
			<xs:element name="CURRENCY" type="xs:string"/>
			<xs:element name="AMOUNT" type="xs:string"/>
			<xs:element name="PAYMENT_METHOD" type="xs:string"/>
			<xs:element name="PAYMENT_DATE" type="xs:string"/>
			<xs:element name="INPUTTER" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>	
	
</xs:schema>