Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CREDITFORCE/cobrosPA/wsdl/CreditForce.wsdl

<wsdl:definitions targetNamespace="http://www.creditforce.com/SOA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.creditforce.com/SOA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.creditforce.com/SOA/Imports">
	  <xsd:import schemaLocation="../xsd/creditForce.xsd" namespace="http://www.creditforce.com/SOA"/>
      <xsd:import schemaLocation="../xsd/creditForceSerialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="../xsd/creditForceDataContract.xsd" namespace="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApiCollection_Status_InputMessage">
    <wsdl:part name="parameters" element="tns:Status"/>
  </wsdl:message>
  <wsdl:message name="IApiCollection_Status_OutputMessage">
    <wsdl:part name="parameters" element="tns:StatusResponse"/>
  </wsdl:message>
  <wsdl:message name="IApiCollection_Client_InputMessage">
    <wsdl:part name="parameters" element="tns:Client"/>
  </wsdl:message>
  <wsdl:message name="IApiCollection_Client_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientResponse"/>
  </wsdl:message>
  <wsdl:message name="IApiCollection_Operation_InputMessage">
    <wsdl:part name="parameters" element="tns:Operation"/>
  </wsdl:message>
  <wsdl:message name="IApiCollection_Operation_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationResponse"/>
  </wsdl:message>
  <wsdl:message name="IApiCollection_RecordManagement_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordManagement"/>
  </wsdl:message>
  <wsdl:message name="IApiCollection_RecordManagement_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordManagementResponse"/>
  </wsdl:message>
  <wsdl:portType name="IApiCollection">
    <wsdl:operation name="Status">
      <wsdl:input wsaw:Action="http://www.creditforce.com/SOA/IApiCollection/Status" message="tns:IApiCollection_Status_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.creditforce.com/SOA/IApiCollection/StatusResponse" message="tns:IApiCollection_Status_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Client">
      <wsdl:input wsaw:Action="http://www.creditforce.com/SOA/IApiCollection/Client" message="tns:IApiCollection_Client_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.creditforce.com/SOA/IApiCollection/ClientResponse" message="tns:IApiCollection_Client_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Operation">
      <wsdl:input wsaw:Action="http://www.creditforce.com/SOA/IApiCollection/Operation" message="tns:IApiCollection_Operation_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.creditforce.com/SOA/IApiCollection/OperationResponse" message="tns:IApiCollection_Operation_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RecordManagement">
      <wsdl:input wsaw:Action="http://www.creditforce.com/SOA/IApiCollection/RecordManagement" message="tns:IApiCollection_RecordManagement_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.creditforce.com/SOA/IApiCollection/RecordManagementResponse" message="tns:IApiCollection_RecordManagement_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>