Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/OperacionesDatosClientes/wsdl/operacionesDatosClientesPS.wsdl

<wsdl:definitions name="operacionesDatosClientesPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:ope="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesTypes" schemaLocation="../xsd/operacionesDatosClientesTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestHeader">
        <wsdl:part element="auth:RequestHeader" name="RequestHeader"/>
    </wsdl:message>
    <wsdl:message name="responseHeader">
        <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/>
    </wsdl:message>
    <wsdl:message name="registraDatosActualizados">
        <wsdl:part element="tns:registraDatosActualizados" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="registraDatosActualizadosResponse">
        <wsdl:part element="tns:registraDatosActualizadosResponse" name="result"/>
    </wsdl:message>
    <wsdl:message name="actualizaSistemas">
        <wsdl:part element="tns:actualizaSistemas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="actualizaSistemasResponse">
        <wsdl:part element="tns:actualizaSistemasResponse" name="result"/>
    </wsdl:message>
    <wsdl:message name="actualizaSistemasT24">
        <wsdl:part element="tns:actualizaSistemasT24" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="actualizaSistemasT24Response">
        <wsdl:part element="tns:actualizaSistemasT24Response" name="result"/>
    </wsdl:message>
    <wsdl:portType name="operacionesDatosClientesPS">
        <wsdl:operation name="registraDatosActualizados" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="ope:registraDatosActualizados"/>
            <wsdl:output message="ope:registraDatosActualizadosResponse"/>
        </wsdl:operation>
        <wsdl:operation name="actualizaSistemas" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="ope:actualizaSistemas"/>
            <wsdl:output message="ope:actualizaSistemasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="actualizaSistemasT24" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="ope:actualizaSistemasT24"/>
            <wsdl:output message="ope:actualizaSistemasT24Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="operacionesDatosClientesPSSOAP" type="ope:operacionesDatosClientesPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registraDatosActualizados">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesPS/registraDatosActualizados"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
                <soap:header message="ope:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="result" use="literal"/>
                <soap:header message="ope:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaSistemas">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesPS/actualizaSistemas"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
                <soap:header message="ope:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="result" use="literal"/>
                <soap:header message="ope:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaSistemasT24">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesPS/actualizaSistemasT24"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
                <soap:header message="ope:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="result" use="literal"/>
                <soap:header message="ope:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="operacionesDatosClientesPS">
        <wsdl:port binding="ope:operacionesDatosClientesPSSOAP" name="operacionesDatosClientesPSSOAP">
            <soap:address location="http://172.23.13.19:8003/Middleware/ReferenceData/CommonBusinessInformation/OperacionesDatosClientes"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>