Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/PagoTarjetaCredito/PagoTarjetaCredito.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoTarjetaCredito"
	xmlns:cred="http://www.ficohsa.com.hn/middleware.services/pagoTarjetaCredito">
	
	<xs:complexType name="pagoTarjetaCreditoResponseType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER " type="xs:string" minOccurs="0"/>
			<xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="LCY_PAYMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="BALANCE_PAYMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="BALANCE_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="BANK_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="RTEFORM" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="pagoTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CREDIT_CARD_NUMBER" type="xs:string"/>
				<xs:element name="PAYMENT_METHOD" type="xs:string"/>
				<xs:element name="BALANCE_CURRENCY " type="xs:string"/>
				<xs:element name="PAYMENT_AMOUNT" type="xs:string" />
				<xs:element name="PAYMENT_CURRENCY" type="xs:string" />
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="BANK_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="CHANNEL" type="xs:string" minOccurs="0"/>
				<xs:element name="DEPOSITOR_ID" type="xs:string" minOccurs="0"/>				
				<xs:element name="DEPOSITOR_NAME" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoTarjetaCreditoResponse" type="cred:pagoTarjetaCreditoResponseType"/>
	
	
</xs:schema>