Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/EnvioNotificacionPush/xsd/envioNotificacionPushTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/envioNotificacionPushTypes"
	xmlns:env="http://www.ficohsa.com.hn/middleware.services/envioNotificacionPushTypes">

<xs:element name="envioNotificacionPush">
<xs:complexType>
	<xs:sequence>
		<xs:element name="FILTER_TYPE">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="FILTER_VALUE">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
			<xs:element name="MESSAGE_TITLE">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="MESSAGE_BODY">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="PRIVATE_MESSAGE_TITLE" type="xs:string" minOccurs="0" />
		<xs:element name="PRIVATE_MESSAGE_BODY" type="xs:string" minOccurs="0" />
	</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="envioNotificacionPushResponse">
</xs:element>

</xs:schema>