Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/OSB/ConsultaMovimientosRecientesTC_v2/xsd/XMLSchema_-1030562593.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosRecientesTCTypes">
	
	<xs:complexType name="consultaMovimientosRecientesTCResponseArrayRecordType">
		<xs:sequence>
	        <xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0"/>
	        <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
	        <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
	        <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
	        <xs:element name="ORIGINAL_AMOUNT" type="xs:string" minOccurs="0"/>
	        <xs:element name="ORIGINAL_CURRENCY" type="xs:string" minOccurs="0"/>      
	        <xs:element name="TYPE_OF_TRANSACTION" type="xs:string" minOccurs="0"/>
		 </xs:sequence> 
	</xs:complexType>
	
	<xs:complexType name="consultaMovimientosRecientesTCResponseArrayType">
		<xs:sequence>
			<xs:element name="consultaMovimientosRecientesTCDetalleTarjeta" type="cons:consultaMovimientosRecientesTCResponseArrayRecordType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		 </xs:sequence> 
	</xs:complexType>
	
	<xs:complexType name="consultaMovimientosRecientesTCResponseRecordType">
		<xs:sequence>
				<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="consultaMovimientosRecientesTCRegistroTarjetasAdicionales" type="cons:consultaMovimientosRecientesTCResponseArrayType" form="qualified" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="consultaMovimientosRecientesTCResponseType">
		<xs:sequence>
			<xs:element name="OWNER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="CREDIT_LIMIT" type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="CREDIT_LIMIT_CCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="PREVIOUS_BALANCE_LCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="PREVIOUS_BALANCE_FCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="consultaMovimientosRecientesTCTarjetasAdicionales" type="cons:consultaMovimientosRecientesTCResponseRecordType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	
		
	<xs:element name="consultaMovimientosRecientesTC">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CARD_NUMBER" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaMovimientosRecientesTCResponse" type="cons:consultaMovimientosRecientesTCResponseType"/>
	
</xs:schema>