Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SWIFT/OIC/xsd/updatePaymentStatusTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.ficohsa.com.hn/updatePaymentStatus" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/updatePaymentStatus">
  <complexType name="updatePaymentStatusRequestType">
    <sequence>
      <element name="from" type="string"/>
      <element name="businessService" type="string"/>
      <element name="updatePaymentScenario" type="string"/>
      <element name="uetr" type="string"/>
      <element name="instructionIdentification" type="string"/>
      <element name="paymentStatus" type="tns:paymentStatusType"/>
    </sequence>
  </complexType>
  <complexType name="paymentStatusType">
    <sequence>
      <element name="detailedStatus" type="tns:detailedStatusType"/>
    </sequence>
  </complexType>
  <complexType name="detailedStatusType">
    <sequence>
      <element name="originator" type="string"/>
      <element name="fundsAvailable" type="string"/>
      <element name="settlementMethod" type="string"/>
      <element name="forwardedToAgent" type="string"/>
      <element name="transactionStatus" type="tns:transactionStatusType"/>
      <element name="return" type="string"/>
      <element name="confirmedAmount" type="tns:confirmedAmountType"/>
      <element name="chargeAmount" type="tns:chargeAmountType" maxOccurs="unbounded"/>
      <element name="foreignExchangeDetails" type="tns:foreignExchangeDetailsType"/>
    </sequence>
  </complexType>
  <complexType name="transactionStatusType">
    <sequence>
      <element name="status" type="string"/>
      <element name="reason" type="string"/>
    </sequence>
  </complexType>
  <complexType name="confirmedAmountType">
    <sequence>
      <element name="currency" type="string"/>
      <element name="amount" type="string"/>
    </sequence>
  </complexType>
  <complexType name="chargeAmountType">
    <sequence>
      <element name="currency" type="string"/>
      <element name="amount" type="string"/>
      <element name="chargeBearer" type="string"/>
    </sequence>
  </complexType>
  <complexType name="foreignExchangeDetailsType">
    <sequence>
      <element name="sourceCurrency" type="string"/>
      <element name="targetCurrency" type="string"/>
      <element name="exchangeRate" type="string"/>
    </sequence>
  </complexType>
  <complexType name="updatePaymentStatusResponseType">
    <sequence>
      <element name="networkReference" type="string"/>
    </sequence>
  </complexType>
  <element name="updatePaymentStatusRequest" type="tns:updatePaymentStatusRequestType"/>
  <element name="updatePaymentStatusResponse" type="tns:updatePaymentStatusResponseType"/>
</schema>