Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SWIFT/OIC/xsd/updatePaymentStatusHeaderTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/hdrType" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hdr="http://www.ficohsa.com.hn/middleware.services/hdrType">
  <xs:complexType name="RequestHeader">
    <xs:sequence>
      <xs:element name="LauParams" type="hdr:LAUTypes"/>
      <xs:element name="AutParams" type="hdr:AUTTypes"/>
      <xs:element name="ClientParams" type="hdr:CLIENTTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LAUTypes">
    <xs:sequence>
      <xs:element name="LauApplicationID" type="xs:string"/>
      <xs:element name="LauVersion" type="xs:string"/>
      <xs:element name="LauCallTime" type="xs:string"/>
      <xs:element name="LauRequestNonce" type="xs:string"/>
      <xs:element name="LauSigned" type="xs:string"/>
      <xs:element name="LauSignature" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUTTypes">
    <xs:sequence>
      <xs:element name="SignatureRequired" type="xs:string"/>
      <xs:element name="UserAgent" type="xs:string"/>
      <xs:element name="XApiKey" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CLIENTTypes">
    <xs:sequence>
      <xs:element name="Host" type="xs:string"/>
      <xs:element name="AppiTimeout" type="xs:string"/>
      <xs:element name="ForwardedFor" type="xs:string"/>
      <xs:element name="ForwardedPort" type="xs:string"/>
      <xs:element name="ForwardedProto" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseHeader">
    <xs:sequence>
      <xs:element name="successIndicator" type="xs:string" minOccurs="0"/>
      <xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestHeader" nillable="true" type="hdr:RequestHeader"/>
  <xs:element name="ResponseHeader" nillable="false" type="hdr:ResponseHeader"/>
</xs:schema>