Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SJS/consultaProductos/xsd/sjConsultaProductos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaProductos" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaProductos" elementFormDefault="qualified" >
	
	<xs:element name="sjConsultaProductos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="T24_USERNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="T24_PASSWORD" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="LDAP_USERNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="LDAP_PASSWORD" type="xs:string" minOccurs="0" maxOccurs="1"/>				
				<xs:element name="PRODUCTS" type="cons:consultaProductosType" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		
	
	<xs:element name="sjConsultaProductosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRODUCTS" type="cons:consultaProductosResponseType" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="consultaProductosType">
		<xs:sequence>
			<xs:element name="PRODUCT" type="cons:consultaProductoType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaProductoType">
		<xs:sequence>
			<xs:element name="TYPE" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ID" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaProductosResponseType">
		<xs:sequence>
			<xs:element name="PRODUCT" type="cons:consultaProductoResponseType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaProductoResponseType">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MESSAGE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ALT_ID" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>