Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaConsolidadaRiesgoCliente/xsd/consultaConsolidadaRiesgoClienteTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaConsolidadaRiesgoClienteTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaConsolidadaRiesgoClienteTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="consultaConsolidadaRiesgoCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_LEGAL_ID" type="tns:stringMinLength1"/>
				<xs:element name="FISCAL_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="FIRST_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="LAST_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="BIRTH_DATE" type="xs:date" default="1900-01-01" minOccurs="0" />
				<xs:element name="USER_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="PERSON_TYPE" type="xs:string" minOccurs="0"/>
        		<xs:element name="PRODUCT_CODE" type="xs:string" minOccurs="0"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaConsolidadaRiesgoClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOAN_MAINTENANCE" type="tns:loanMaintenaceType" minOccurs="0" />
				<xs:element name="LOAN_ORIGINATIONS" type="tns:loanOriginationsType" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="loanMaintenaceType">
		<xs:sequence>
			<xs:element name="CUSTOMER_INFO" type="tns:customerInfoType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="customerInfoType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="FISCAL_ID" type="xs:string" minOccurs="0" />
			<xs:element name="FIRST_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="LAST_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="BIRTH_DATE" type="xs:date" minOccurs="0" />
			<xs:element name="TARGET" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_OF_BIRTH" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="AGE" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="SALARY" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYROLL_SALARY" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="CREDIT_MONTHS" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="FLAG_BLAZE" type="xs:string" minOccurs="0"/>
			<xs:element name="FLAG_HIT" type="xs:string" minOccurs="0"/>
		    <xs:element name="EVALUATION_RESULT" type="xs:string" minOccurs="0"/>
		    <xs:element name="ADDRESSES_INFO" type="tns:addressesInfoType" minOccurs="0"/>
		    <xs:element name="PHONES_INFO" type="tns:phonesInfoType" minOccurs="0"/>
		    <xs:element name="ADMINISTRATIVE_CHARGES" type="tns:administrativeChargesType" minOccurs="0"/>
		    <xs:element name="CURRENT_ARREAR_SUMMARY" type="tns:currentArrearSummaryType" minOccurs="0"/>
		    <xs:element name="EXTERNAL_SCORE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="SCORE_INFO" type="tns:scoreInfoType" minOccurs="0"/>
			<xs:element name="OFFERS" type="tns:offersType" minOccurs="0"/>
			<xs:element name="ASSETS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ASSET" type="tns:assetType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LIABILITIES" type="tns:liabilitiesType" minOccurs="0"/>
			<xs:element name="REFERENCIA_SIB" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="addressesInfoType">
		<xs:sequence>
			<xs:element name="ADDRESS_ITEM" type="tns:addressItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="addressItemType">
		<xs:sequence>
			<xs:element name="PERIOD" type="xs:string" minOccurs="0"/>
			<xs:element name="ADDRESS" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="phonesInfoType">
		<xs:sequence>
			<xs:element name="PHONE_ITEM" type="tns:phoneItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="phoneItemType">
		<xs:sequence>
			<xs:element name="PERIOD" type="xs:string" minOccurs="0"/>
			<xs:element name="PHONE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="administrativeChargesType">
		<xs:sequence>
			<xs:element name="CHARGE" type="tns:chargeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="chargeType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="INFORMATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="IN_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
            <xs:element name="CREDITOR" type="xs:string" minOccurs="0"/>
            <xs:element name="MOTIVATION" type="xs:string" minOccurs="0"/>
            <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="TOTAL_DEBT_AMOUNT" type="xs:decimal" default="0.0" minOccurs="0"/>
            <xs:element name="EXCHANGE_FACTOR" type="xs:decimal" default="0.0" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="currentArrearSummaryType">
		<xs:sequence>
			<xs:element name="ARREAR" type="tns:arrearType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
     <xs:complexType name="arrearType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="INFORMATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="CREDITOR" type="xs:string" minOccurs="0"/>
            <xs:element name="ACCOUNT_TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="DAYS" type="xs:int" default="0" minOccurs="0"/>
            <xs:element name="AMOUNT" type="xs:decimal" default="0.0" minOccurs="0"/>
            <xs:element name="EXCHANGE_FACTOR" type="xs:decimal" default="0.0" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
	<xs:complexType name="scoreInfoType">
		<xs:sequence>
			<xs:element name="SCORE_CALCULATION" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="QUALIFICATION" type="xs:string" minOccurs="0"/>
			<xs:element name="RISK_LEVEL" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="offersType">
		<xs:sequence>
			<xs:element name="OFFER" type="tns:offerType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="offerType">
		<xs:sequence>
			<xs:element name="PRODUCT_CODE"  type="xs:string" minOccurs="0"/>
			<xs:element name="MAX_AMOUNT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="RATE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="AMOUNT_CALCULATIONS" type="tns:amountCalculationsType" minOccurs="0"/>
			<xs:element name="TIMES_INCOME" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="RESOLUTION" type="tns:resolutionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="amountCalculationsType">
		<xs:sequence>
			<xs:element name="FOR_12_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_18_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_24_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_36_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_48_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_60_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="resolutionType">
		<xs:sequence>
			<xs:element name="CODE"  type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="assetType">
		<xs:sequence>
			<xs:element name="NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="CANCELATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="CURRENT_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="END_OF_MONTH_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="AVERAGE_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PRODUCT_TRANSACTIONS" type="tns:productTransactionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="productTransactionsType">
		<xs:sequence>
			<xs:element name="TRANSACTION" type="tns:transactionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="transactionType">
		<xs:sequence>
			<xs:element name="PERIOD_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="PERIOD_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="MAX_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="MIN_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="AVERAGE_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="LAST_CREDIT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="LAST_DEBIT_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="FACILITIES" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_REPRESENTATIVE" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYROLL_ACCOUNTS" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYROLL_CREDIT_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="JOINT_ACCOUNTS" type="xs:string" minOccurs="0"/>
			<xs:element name="PRODUCT_BLOCK" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDITS_INFO" type="tns:creditInfoType" minOccurs="0"/>
			<xs:element name="DEBITS_INFO" type="tns:debitInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="creditInfoType">
		<xs:sequence>
			<xs:element name="AMOUNT_ON_PERIOD" type="xs:string" minOccurs="0"/>
			<xs:element name="SUMMATION" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST_ON_PERIOD" type="xs:string" minOccurs="0"/>
			<xs:element name="INTERESTS_SUMMATION" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="debitInfoType">
		<xs:sequence>
			<xs:element name="AMOUNT_ON_PERIOD" type="xs:string" minOccurs="0"/>
			<xs:element name="SUMMATION" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST_ON_PERIOD" type="xs:string" minOccurs="0"/>
			<xs:element name="INTERESTS_SUMMATION" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="liabilitiesType">
		<xs:sequence>
			<xs:element name="CREDIT_CARDS_INFO" type="tns:creditCardsInfoType" minOccurs="0"/>
			<xs:element name="LOANS_INFO" type="tns:loansInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="creditCardsInfoType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD" type="tns:creditCardType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="creditCardType">
		<xs:sequence>
			<xs:element name="ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="BEHAVIOR_SCORE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="QUALIFICATION_SCORE" type="xs:string" minOccurs="0"/>
			<xs:element name="QUALIFICATION_CUSTOMER_SCORE" type="xs:string" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:string" default="0" minOccurs="0"/>
			<xs:element name="AFFINITY_GROUP" type="xs:string" minOccurs="0"/>
			<xs:element name="PRODUCT" type="xs:string" minOccurs="0"/>
			<xs:element name="CLEARING_MODEL" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="CANCELATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="LAST_EXTRA_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="CURRENT_DUE" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="CURRENT_LIMIT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="CURRENT_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="CLOSING_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="EXTRA_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INTRA_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="ACTIVE_EXTRA_INSTALLMENTS" default="0.0" type="xs:float" minOccurs="0"/>
			<xs:element name="CASH_DISCOUNT_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="SECOND_ACCOUNT_NEW_LIMIT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="SECOND_ACCOUNT_REJECTION" type="xs:string" minOccurs="0"/>
			<xs:element name="LOCKCODE1" type="xs:string" minOccurs="0"/>
			<xs:element name="LOCKCODE2" type="xs:string" minOccurs="0"/>
			<xs:element name="LOGO" type="xs:string" minOccurs="0"/>
			<xs:element name="AVAILABLE_CASH" type="xs:string" minOccurs="0"/>
			<xs:element name="LOCK_DATE1" type="xs:string" minOccurs="0"/>
			<xs:element name="LOCK_DATE2" type="xs:string" minOccurs="0"/>
			<xs:element name="BIN" type="xs:string" minOccurs="0"/> 
			<xs:element name="EXTRA_APPROVAL_DATE" type="xs:string" minOccurs="0"/> 
			<xs:element name="INTRA_APPROVAL_DATE" type="xs:string" minOccurs="0"/> 
			<xs:element name="PIL_APPROVAL_DATE" type="xs:string" minOccurs="0"/> 
			<xs:element name="PRIOR_LIMIT" type="xs:string" minOccurs="0"/> 
			<xs:element name="AUTH_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="PRODUCT_TRANSACTIONS" type="tns:creditCardProductTransactionsType" minOccurs="0"/> 
			<xs:element name="LAST_INTRA_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="LAST_PIL_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="HISTORICAL_ARREA_LOC" type="xs:string" minOccurs="0"/>
			<xs:element name="HISTORICAL_ARREA_USD" type="xs:string" minOccurs="0"/>
			<xs:element name="CHARGE_OFF_FLAG" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="creditCardProductTransactionsType">
		<xs:sequence>
			<xs:element name="TRANSACTION" type="tns:transactionCreditCardType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="transactionCreditCardType">
		<xs:sequence>
			<xs:element name="PERIOD_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="PERIOD_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT_DUE" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENTS" type="xs:string" minOccurs="0"/>
			<xs:element name="MERCH_SALES" type="xs:string" minOccurs="0"/>
			<xs:element name="CASH_WITHDRAWAL" type="xs:string" minOccurs="0"/>
			<xs:element name="LIMIT" type="xs:string" minOccurs="0"/>
			<xs:element name="OTHER_TRANSACTIONS" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_FEES" type="xs:string" minOccurs="0"/>
			<xs:element name="OTHER_DEBITS" type="xs:string" minOccurs="0"/>
			<xs:element name="CYCLE_DUE" type="xs:string" minOccurs="0"/>
			<xs:element name="CYCLE_TOTAL_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="EXTRA_CASH_INFO" type="tns:extraCashInfoType" minOccurs="0"/>
			<xs:element name="INTRA_CASH_INFO" type="tns:intraCashInfoType" minOccurs="0"/>
			<xs:element name="EXTRA_FEE" type="xs:string" minOccurs="0"/>
			<xs:element name="INTRA_FEE" type="xs:string" minOccurs="0"/>
			<xs:element name="EXTRA_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="INTRA_BALANCE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="extraCashInfoType">
		<xs:sequence>
			<xs:element name="BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST" type="xs:string" minOccurs="0"/>
			<xs:element name="FEE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="intraCashInfoType">
		<xs:sequence>
			<xs:element name="BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST" type="xs:string" minOccurs="0"/>
			<xs:element name="FEE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="loansInfoType">
		<xs:sequence>
			<xs:element name="LOAN" type="tns:loanType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="loanType">
		<xs:sequence>
			<xs:element name="NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="AGENCY_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="SUB_APPLICATION" type="xs:string" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="CANCELATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="INITIAL_AMOUNT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="CURRENT_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PAYMENT_AMOUNT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="RATE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="TERM" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PAYMENT_NUMBER" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FIRST_CAPITAL_PAYMENT_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="LAST_PAYMENT_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="PAID_PAYMENTS" type="xs:string" minOccurs="0"/>
			<xs:element name="CAPITAL_FREQUENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="DESTINATION_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="MONTHLY_PRIME" type="xs:string" minOccurs="0"/>
			<xs:element name="CONTRACT_NUMBER" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="CHARGES" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INTEREST" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="INSURANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="OTHER_CHARGES" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="CURRENT_DUE" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="DEBTOR_TYPE" type="xs:string" minOccurs="0"/>	
			<xs:element name="CODE_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="GUARANTEE_TYPE" type="xs:string" minOccurs="0"/>		
			<xs:element name="PRODUCT_TRANSACTIONS" type="tns:productTransactionType" minOccurs="0"/>		
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="productTransactionType">
		<xs:sequence>
			<xs:element name="TRANSACTION" type="tns:transactionProductType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="transactionProductType">
		<xs:sequence>
			<xs:element name="PERIOD_DATE" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="PERIOD_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="CAPITAL_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="DUE_BALANCE" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="CHARGES" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="INSURANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="OTHER_CHARGES" type="xs:string" minOccurs="0"/>
			<xs:element name="CYCLE_DUE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="loanOriginationsType">
		<xs:sequence>
			<xs:element name="PRE_APPROVED_OFFERS" type="tns:preApprovedOffersType" minOccurs="0"/>
			<xs:element name="INTERNAL_EXTRAS" type="tns:internalExtrasType" minOccurs="0"/>
      <xs:element name="REFERENCES_DETAILS" type="tns:referencesDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	
	<xs:complexType name="preApprovedOffersType">
		<xs:sequence>
			<xs:element name="OFFER" type="tns:loadOriginationOfferType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="loadOriginationOfferType">
		<xs:sequence>
      <xs:element name="INFORMATION_DATE" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="DETAILS" type="tns:detailsType" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="RATE" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="TIMES_INCOME" type="xs:int" default="0" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="detailsType">
		<xs:sequence>
			<xs:element name="FOR_12_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_18_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_24_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_36_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_48_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="FOR_60_MONTHS" type="xs:float" default="0.0" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="internalExtrasType">
		<xs:sequence>
			<xs:element name="EXTRA" type="tns:extraInternalType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="extraInternalType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="RATE" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="INSTALLMENT_COUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_INSTALLMENT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="referencesDetailsType">
		<xs:sequence>
			<xs:element name="QUERIES" type="tns:queriesType" minOccurs="0"/>
			<xs:element name="REFERENCE_BUREAU_TUCA" type="tns:referenceBureauTucaType" minOccurs="0"/>
			<xs:element name="REFERENCE_BUREAU_SIRC" type="tns:referenceBureauSircType" minOccurs="0"/>
			<xs:element name="ACTIVE_REFERENCES" type="tns:activeReferencesType" minOccurs="0"/>
			<xs:element name="HISTORICAL_REFERENCES" type="tns:historicalReferencesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="queriesType">
		<xs:sequence>
			<xs:element name="QUERY_ITEM" type="tns:queryItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="queryItemType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="ENTITY" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="MOTIVE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="referenceBureauTucaType">
	  <xs:sequence>
	    <xs:element name="REFERENCE" type="tns:bureauTucaReferenceType" minOccurs="0" maxOccurs="unbounded"/>
	  </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="referenceBureauSircType">
	  <xs:sequence>
	    <xs:element name="REFERENCE" type="tns:bureauSircReferenceType" minOccurs="0" maxOccurs="unbounded"/>
	  </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="bureauSircReferenceType">
	  <xs:sequence>
	    <xs:element name="QUERY_ID" type="xs:string" minOccurs="0"/>
	    <xs:element name="CREDITOR" type="xs:string" minOccurs="0"/>
	    <xs:element name="ASSET_TYPE" type="xs:string" minOccurs="0"/>
	    <xs:element name="WARRANTY_TYPE" type="xs:string" minOccurs="0"/>
	    <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
	    <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
	    <xs:element name="BALANCE" type="xs:decimal" minOccurs="0"/>
	    <xs:element name="DUE_BALANCE" type="xs:decimal" minOccurs="0"/>
	    <xs:element name="OPENING_DATE" type="xs:date" minOccurs="0"/>
	    <xs:element name="CONSESSION_DATE" type="xs:date" minOccurs="0"/>
	    <xs:element name="EXPIRATION_DATE" type="xs:date" minOccurs="0"/>
	    <xs:element name="CANCELATION_DATE" type="xs:date" minOccurs="0"/>
	    <xs:element name="HISTORICAL_ARREAR" type="xs:string" minOccurs="0"/>
	    <xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
	    <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
	    <xs:element name="TYPE" type="xs:string" minOccurs="0"/>
	    <xs:element name="DEBTOR_TYPE" type="xs:string" minOccurs="0"/>
	  </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="bureauTucaReferenceType">
	  <xs:sequence>
	    <xs:element name="QUERY_ID" type="xs:string" minOccurs="0"/>
	    <xs:element name="TYPE" type="xs:string" minOccurs="0"/>
	    <xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
	    <xs:element name="OBLIGATION_CODE" type="xs:string" minOccurs="0"/>
	    <xs:element name="OBLIGATION_TYPE" type="xs:string" minOccurs="0"/>
	    <xs:element name="OBLIGATION_SECTOR" type="xs:string" minOccurs="0"/>
	    <xs:element name="CREDITOR" type="xs:string" minOccurs="0"/>
	    <xs:element name="CREDIT_TYPE" type="xs:string" minOccurs="0"/>
	    <xs:element name="GUARANTEE_TYPE" type="xs:string" minOccurs="0"/>
	    <xs:element name="OPENING_DATE" type="xs:date" minOccurs="0"/>
	    <xs:element name="CANCELATION_DATE" type="xs:date" minOccurs="0"/>
	    <xs:element name="INFORMATION_DATE" type="xs:date" minOccurs="0"/>
	    <xs:element name="PAYMENT_METHOD" type="xs:string" minOccurs="0"/>
	    <xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
	    <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
	    <xs:element name="CREDIT_STATUS" type="xs:string" minOccurs="0"/>
	    <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
	    <xs:element name="LIMIT" type="xs:decimal" minOccurs="0"/>
	    <xs:element name="BALANCE" type="xs:decimal" minOccurs="0"/>
	    <xs:element name="ARREAR_BALANCE" type="xs:decimal" minOccurs="0"/>
	    <xs:element name="INSTALLMENT" type="xs:decimal" minOccurs="0"/>
	    <xs:element name="LAST_MOVEMENT_MONTH" type="xs:integer" minOccurs="0"/>
	    <xs:element name="LAST_MOVEMENT_YEAR" type="xs:integer" minOccurs="0"/>
	    <xs:element name="HISTORICAL_ARREAR" type="xs:decimal" minOccurs="0"/>
	  </xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="activeReferencesType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="tns:activeReferenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="activeReferenceType">
		<xs:sequence>
			<xs:element name="QUERY_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDITOR" type="xs:string" minOccurs="0"/>
			<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="OBLIGATION_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="LIMIT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="TERM" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="EXCHANGE_FACTOR" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="MIN_PAYMENT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PAYMENT_DUE" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="PAYMENT_METHOD" type="xs:string" minOccurs="0"/>
            <xs:element name="GUARANTEE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="GUARANTEE_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="ARREAR_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="ARREAR_LEVEL" type="xs:string" minOccurs="0"/>
			<xs:element name="DUE_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="IN_EXECUTION" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PUNISHED" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="PUNISHED_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
            <xs:element name="PERIOD" type="xs:string" minOccurs="0"/>
			<xs:element name="INFORMATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="CANCELATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="EXPIRATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="HISTORICAL_ARREAR" type="xs:string" minOccurs="0"/>
            <xs:element name="HISTORICAL_COUNT_LOC" type="xs:string" minOccurs="0"/>
			<xs:element name="HISTORICAL_COUNT_DOL" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="historicalReferencesType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="tns:historicalReferenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
        <xs:complexType name="historicalReferenceType">
		<xs:sequence>
			<xs:element name="QUERY_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDITOR" type="xs:string" minOccurs="0"/>
			<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
            <xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="OBLIGATION_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_TYPE" type="xs:string" minOccurs="0"/>
            <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="LIMIT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="TERM" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="EXCHANGE_FACTOR" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="MIN_PAYMENT" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PAYMENT_DUE" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="PAYMENT_METHOD" type="xs:string" minOccurs="0"/>
            <xs:element name="GUARANTEE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="GUARANTEE_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="ARREAR_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="ARREAR_LEVEL" type="xs:string" minOccurs="0"/>
			<xs:element name="DUE_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="IN_EXECUTION" type="xs:float" default="0.0" minOccurs="0"/>
			<xs:element name="PUNISHED" type="xs:int" default="0" minOccurs="0"/>
			<xs:element name="PUNISHED_BALANCE" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
            <xs:element name="PERIOD" type="xs:string" minOccurs="0"/>
			<xs:element name="INFORMATION_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="OPENING_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
            <xs:element name="CANCELATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="EXPIRATION_DATE" type="xs:date" default="1900-01-01" minOccurs="0"/>
			<xs:element name="INSTALLMENT" type="xs:float" default="0.0" minOccurs="0"/>
            <xs:element name="HISTORICAL_ARREAR" type="xs:string" minOccurs="0"/>
            <xs:element name="HISTORICAL_COUNT_LOC" type="xs:string" minOccurs="0"/>
			<xs:element name="HISTORICAL_COUNT_DOL" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>  
</xs:schema>