Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Users/RequestorServices/WADL/GetUser_PS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/createBankingUser" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
   <doc title="GetUser_PS">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getUser" schemaLocation="../XSD/getUser.xsd"/>
        </xsd:schema>
      <schema targetNamespace="http://xmlns.oracle.com/MWBanking/GetUser_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getUser_params">
                <complexType>
                    <sequence>
                        <element name="UserId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="QueryType" type="string"/>
                        <element name="ApplicationSearch" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
      <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/createBankingUser" schemaLocation="../XSD/createBankingUser.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/{UserId}">
         <method name="GET" soa:wsdlOperation="getUser">
            <request soa:paramElement="pns:getUser_params" xmlns:pns="http://xmlns.oracle.com/MWBanking/GetUser_PS">
               <param name="UserId" style="template" soa:expression="$msg.request/pns:UserId" type="xsd:string"/>
               <param name="SourceBank" style="query" soa:expression="$msg.request/pns:SourceBank" type="xsd:string"/>
               <param name="DestinationBank" style="query" soa:expression="$msg.request/pns:DestinationBank" type="xsd:string"/>
               <param name="QueryType" style="query" soa:expression="$msg.request/pns:QueryType" type="xsd:string"/>
               <param name="ApplicationSearch" style="query" soa:expression="$msg.request/pns:ApplicationSearch" type="xsd:string"/>
               <param name="Language" style="query" soa:expression="$msg.request/pns:Language" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getUserResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getUser"/>
            </response>
         </method>
         <method name="PUT" soa:wsdlOperation="updateUser">
            <request>
               <param name="UserId" style="template" soa:expression="$property.UserId" type="xsd:string"/>
               <representation mediaType="application/json" element="cns:updateBankingUserRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/createBankingUser"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:upateBankingUserResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/createBankingUser"/>
            </response>
         </method>
      </resource>
      <resource path="/digital-banking/">
         <method name="POST" soa:wsdlOperation="digitalBanking">
            <request>
               <representation mediaType="application/json" element="cns:createBankingUserRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/createBankingUser"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:createBankingUserResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/createBankingUser"/>
            </response>
         </method>
      </resource>
   </resources>
</application>