Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/BloqueoCertificadoDeposito/xsd/bloqueoCertificadoDepositoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.ficohsa.com.hn/middleware.services/bloqueoCertificadoDepositoTypes" 
        xmlns:bloq="http://www.ficohsa.com.hn/middleware.services/bloqueoCertificadoDepositoTypes">

	<xs:simpleType name="stringMinLength" >
    	<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:complexType name="bloqueoCertificadoDepositoResponseType">
		<xs:sequence/> 
	</xs:complexType>
	
		<xs:element name="bloqueoCertificadoDeposito">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="DEPOSIT_NUMBER" type="bloq:stringMinLength"/>
	            <xs:element name="BEGIN_DATE" type="xs:date"/>
	            <xs:element name="END_DATE" type="xs:date"/>
	            <xs:element name="BLOCK_AMOUNT" type="xs:decimal"/>
	            <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="bloqueoCertificadoDepositoResponse" type="bloq:bloqueoCertificadoDepositoResponseType"/>        
        
</xs:schema>