Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/ConsultasCuenta/Resources/ConsultaDetalladaMovimientosCuenta/xsd/ORA_BANK_OSB_K__CONSDETMOVSCTA_TOPLEVEL-24OSB_CON_DET_MOVS_CTA.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_K__CONSDETMOVSCTA/TOPLEVEL-24OSB_CON_DET_MOVS_CTA/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_K__CONSDETMOVSCTA/TOPLEVEL-24OSB_CON_DET_MOVS_CTA/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="ACCOUNT_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="BEGIN_DATE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="END_DATE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="BEGIN_DATE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="END_DATE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ACCOUNT_NAME" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CURRENCY" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="STARTING_BALANCE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ENDING_BALANCE" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DEBIT_COUNT" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CREDIT_COUNT" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DEBIT_TOTAL_AMOUNT" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CREDIT_TOTAL_AMOUNT" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="REF_NO" type="db:ORA_BANK.TOPLEVEL_TVARCHAR60" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="AMOUNT" type="db:ORA_BANK.TOPLEVEL_TVARCHAR20" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TRANSACTION_DESCRIPTION" type="db:ORA_BANK.TOPLEVEL_TVARCHAR4000" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DEUDOR" type="db:ORA_BANK.TOPLEVEL_TVARCHAR100" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CUSTOMER_DESCRIPTION" type="db:ORA_BANK.TOPLEVEL_TVARCHAR4000" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BOOKING_DATE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR20" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="VALUE_DATE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR20" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CHEQUE_NUMBER" type="db:ORA_BANK.TOPLEVEL_TVARCHAR60" db:index="19" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="INPUTTER" type="db:ORA_BANK.TOPLEVEL_TVARCHAR10" db:index="20" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="AUTHORIZER" type="db:ORA_BANK.TOPLEVEL_TVARCHAR10" db:index="21" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="AGENCY_CODE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR20" db:index="22" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="AGENCY_NAME" type="db:ORA_BANK.TOPLEVEL_TVARCHAR808" db:index="23" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TRANSACTION_CODE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR20" db:index="24" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="EFFECT_ON_BALANCE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR10" db:index="25" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR60">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR10">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR4000">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="4000"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR20">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR808">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="80"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR100">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>