Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Outgoing/BusinessServices/Equifax/wsdl/consultaPuntajeCredito.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsscore.equifax.com.hn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsscore.equifax.com.hn" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsp:Policy wsu:Id="wss_http_token_or_jwt_token_service_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:ExactlyOne>
      <wsp:All/>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <osp:HttpToken xmlns:osp="http://schemas.oracle.com/ws/2012/01/wssecuritypolicy">
                  <wsp:Policy>
                    <osp:HttpJwtAuthentication/>
                  </wsp:Policy>
                </osp:HttpToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://wsscore.equifax.com.hn" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="ScoreRequest">
        <complexType>
          <sequence>
            <element name="request" type="tns:ScoreInput"/>
          </sequence>
        </complexType>
      </element>
      <element name="ChangePasswordRequest">
        <complexType>
          <sequence>
            <element name="request" type="tns:ChangePasswordInput"/>
          </sequence>
        </complexType>
      </element>
      <element name="ScoreResponse">
        <complexType>
          <sequence>
            <element name="response" type="tns:ScoreOutput"/>
          </sequence>
        </complexType>
      </element>
      <element name="ChangePasswordResponse">
        <complexType>
          <sequence>
            <element name="response" type="tns:ChangePasswordOutput"/>
          </sequence>
        </complexType>
      </element>
      <element name="fault" type="tns:ServiceException"/>
      <complexType name="ScoreInput">
        <sequence>
          <element name="usuario" nillable="true" type="xsd:string"/>
          <element name="clave" nillable="true" type="xsd:string"/>
          <element name="tipoDocumento" nillable="true" type="xsd:string"/>
          <element name="documento" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="ChangePasswordInput">
        <sequence>
          <element name="usuario" nillable="true" type="xsd:string"/>
          <element name="clave" nillable="true" type="xsd:string"/>
          <element name="nuevaClave" nillable="true" type="xsd:string"/>
          <element name="confirmaClave" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="ScoreOutput">
        <sequence>
          <element name="codigoRetorno" nillable="true" type="xsd:string"/>
          <element name="mensajeRetorno" nillable="true" type="xsd:string"/>
          <element name="scoreConsumidor" nillable="true" type="tns:ScoreConsumidor"/>
          <element name="mensajeList" nillable="true" type="tns:MensajeList"/>
          <element name="nivelList" nillable="true" type="tns:NivelList"/>
        </sequence>
      </complexType>
      <complexType name="MensajeList">
        <sequence>
          <element name="mensaje1" nillable="true" type="xsd:string"/>
          <element name="mensaje2" nillable="true" type="xsd:string"/>
          <element name="mensaje3" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="Nivel">
        <sequence>
          <element name="minimo" nillable="true" type="xsd:string"/>
          <element name="maximo" nillable="true" type="xsd:string"/>
          <element name="riesgo" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="NivelList">
        <sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="nivel" nillable="true" type="tns:Nivel"/>
        </sequence>
      </complexType>
      <complexType name="ScoreConsumidor">
        <sequence>
          <element name="scoreActual" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="ChangePasswordOutput">
        <sequence>
          <element name="codigoRetorno" nillable="true" type="xsd:string"/>
          <element name="mensajeRetorno" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="ServiceException">
        <sequence/>
      </complexType>
    </schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tracking_property" type="TrackingPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon" xmlns="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="insight_property" type="InsightPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ScoreRequest">
    <wsdl:part name="parameters" element="tns:ScoreRequest"/>
  </wsdl:message>
  <wsdl:message name="ScoreResponse">
    <wsdl:part name="parameters" element="tns:ScoreResponse"/>
  </wsdl:message>
  <wsdl:message name="ServiceException">
    <wsdl:part name="fault" element="tns:fault"/>
  </wsdl:message>
  <wsdl:portType name="ScoreService_EquifaxPuntajeCrediticio_CLOUD_REQUEST">
    <wsdl:operation name="Score">
      <wsdl:input name="request" message="tns:ScoreRequest"/>
      <wsdl:output name="response" message="tns:ScoreResponse"/>
      <wsdl:fault name="ServiceException" message="tns:ServiceException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScoreService_EquifaxPuntajeCrediticio_CLOUD_REQUEST_binding" type="tns:ScoreService_EquifaxPuntajeCrediticio_CLOUD_REQUEST">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#wss_http_token_or_jwt_token_service_policy" wsdl:required="false" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    <wsdl:operation name="Score">
      <soap:operation soapAction="Score"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScoreService_EquifaxPuntajeCrediticio_CLOUD_REQUEST">
    <wsdl:port name="ScoreService_EquifaxPuntajeCrediticio_CLOUD_REQUEST_pt" binding="tns:ScoreService_EquifaxPuntajeCrediticio_CLOUD_REQUEST_binding">
      <soap:address location="https://OICPROD-ficocloud.integration.ocp.oraclecloud.com:443/ic/ws/integration/v1/flows/soap/EQUIFAXPUNTAJECREDIT/1.0/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>