Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/direcciones/consultaPaises/consultaPaisesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaPaisesTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaPaisesTypes">
	
	<xs:complexType name = "consultaPaisesResponseArrayType">
		<xs:sequence>
			            <xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0" />
						<xs:element name="COUNTRY_NAME" type="xs:string" minOccurs="0" />
						</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaPaisesResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaPaisesResponseRecordType" type="cons:consultaPaisesResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaPaisesResponseType">
		<xs:sequence>
			<xs:element name="consultaPaisesResponseType" type="cons:consultaPaisesResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaPaises">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaPaisesResponse" type="cons:consultaPaisesResponseType"/>
	
</xs:schema>