Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABK/actualizaNombreCliente/xsd/actualizaNombreCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/actualizaNombreCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/actualizaNombreCliente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CUENTA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NOMBRE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="ESTADO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MENSAJE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>