Fuentes/ficohsacore-osb12-b78f21b126d5/CustomerRelationshipManagement/ProviderServices/v1.0/TotalImage/WSDL/CreateDocument_BS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://interfase.bpm.sitecpro.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://interfase.bpm.sitecpro.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://interfase.bpm.sitecpro.com/">
			<s:element name="BuscarExpediente2">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="TpExp" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LlavesExpNomb" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LlavesExpVal" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="TipoBase" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="BuscarExpediente2Response">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="BuscarExpediente2Result" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="BuscarExpediente">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="TpExp" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LlavesExpNomb" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LlavesExpVal" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="TipoBase" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="BuscarExpedienteResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="BuscarExpedienteResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CambiarLlavesExpediente">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Tpexp" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LlavesExpNomb" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LlavesExpVal" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LlavesExpNombNuevas" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LlavesExpValNuevas" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="TipoBase" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CambiarLlavesExpedienteResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="CambiarLlavesExpedienteResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CrearExpediente">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Tpexp" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="Agencia" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="Empresa" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="Archivador" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="Carpetas" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LlavesExpNomb" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LlavesExpVal" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="TipoBase" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CrearExpedienteResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="CrearExpedienteResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Transaccion">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="TransaccionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="TransaccionResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarDocumentos">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="numeroExpediente" type="s:long"/>
						<s:element minOccurs="1" maxOccurs="1" name="ultimoDocumento" type="s:boolean"/>
						<s:element minOccurs="0" maxOccurs="1" name="TipoBase" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarDocumentosResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ConsultarDocumentosResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ModificarLLavesDocumento">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="numeroDeDocumento" type="s:long"/>
						<s:element minOccurs="0" maxOccurs="1" name="llavesNombre" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="valoresLlaves" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="TipoBase" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ModificarLLavesDocumentoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ModificarLLavesDocumentoResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarDocumentos2">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="numeroExpediente" type="s:long"/>
						<s:element minOccurs="1" maxOccurs="1" name="ultimoDocumento" type="s:boolean"/>
						<s:element minOccurs="0" maxOccurs="1" name="TipoBase" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="Tipo_documento" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarDocumentos2Response">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ConsultarDocumentos2Result" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="BuscarExpediente2SoapIn">
		<wsdl:part name="parameters" element="tns:BuscarExpediente2"/>
	</wsdl:message>
	<wsdl:message name="BuscarExpediente2SoapOut">
		<wsdl:part name="parameters" element="tns:BuscarExpediente2Response"/>
	</wsdl:message>
	<wsdl:message name="BuscarExpedienteSoapIn">
		<wsdl:part name="parameters" element="tns:BuscarExpediente"/>
	</wsdl:message>
	<wsdl:message name="BuscarExpedienteSoapOut">
		<wsdl:part name="parameters" element="tns:BuscarExpedienteResponse"/>
	</wsdl:message>
	<wsdl:message name="CambiarLlavesExpedienteSoapIn">
		<wsdl:part name="parameters" element="tns:CambiarLlavesExpediente"/>
	</wsdl:message>
	<wsdl:message name="CambiarLlavesExpedienteSoapOut">
		<wsdl:part name="parameters" element="tns:CambiarLlavesExpedienteResponse"/>
	</wsdl:message>
	<wsdl:message name="CrearExpedienteSoapIn">
		<wsdl:part name="parameters" element="tns:CrearExpediente"/>
	</wsdl:message>
	<wsdl:message name="CrearExpedienteSoapOut">
		<wsdl:part name="parameters" element="tns:CrearExpedienteResponse"/>
	</wsdl:message>
	<wsdl:message name="TransaccionSoapIn">
		<wsdl:part name="parameters" element="tns:Transaccion"/>
	</wsdl:message>
	<wsdl:message name="TransaccionSoapOut">
		<wsdl:part name="parameters" element="tns:TransaccionResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultarDocumentosSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultarDocumentos"/>
	</wsdl:message>
	<wsdl:message name="ConsultarDocumentosSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultarDocumentosResponse"/>
	</wsdl:message>
	<wsdl:message name="ModificarLLavesDocumentoSoapIn">
		<wsdl:part name="parameters" element="tns:ModificarLLavesDocumento"/>
	</wsdl:message>
	<wsdl:message name="ModificarLLavesDocumentoSoapOut">
		<wsdl:part name="parameters" element="tns:ModificarLLavesDocumentoResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultarDocumentos2SoapIn">
		<wsdl:part name="parameters" element="tns:ConsultarDocumentos2"/>
	</wsdl:message>
	<wsdl:message name="ConsultarDocumentos2SoapOut">
		<wsdl:part name="parameters" element="tns:ConsultarDocumentos2Response"/>
	</wsdl:message>
	<wsdl:portType name="TICreaExpedientesBpmSoap">
		<wsdl:operation name="BuscarExpediente2">
			<wsdl:input message="tns:BuscarExpediente2SoapIn"/>
			<wsdl:output message="tns:BuscarExpediente2SoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="BuscarExpediente">
			<wsdl:input message="tns:BuscarExpedienteSoapIn"/>
			<wsdl:output message="tns:BuscarExpedienteSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="CambiarLlavesExpediente">
			<wsdl:input message="tns:CambiarLlavesExpedienteSoapIn"/>
			<wsdl:output message="tns:CambiarLlavesExpedienteSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="CrearExpediente">
			<wsdl:input message="tns:CrearExpedienteSoapIn"/>
			<wsdl:output message="tns:CrearExpedienteSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="Transaccion">
			<wsdl:input message="tns:TransaccionSoapIn"/>
			<wsdl:output message="tns:TransaccionSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultarDocumentos">
			<wsdl:input message="tns:ConsultarDocumentosSoapIn"/>
			<wsdl:output message="tns:ConsultarDocumentosSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ModificarLLavesDocumento">
			<wsdl:input message="tns:ModificarLLavesDocumentoSoapIn"/>
			<wsdl:output message="tns:ModificarLLavesDocumentoSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultarDocumentos2">
			<wsdl:input message="tns:ConsultarDocumentos2SoapIn"/>
			<wsdl:output message="tns:ConsultarDocumentos2SoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TICreaExpedientesBpmSoap" type="tns:TICreaExpedientesBpmSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="BuscarExpediente2">
			<soap:operation soapAction="http://interfase.bpm.sitecpro.com/BuscarExpediente2" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BuscarExpediente">
			<soap:operation soapAction="http://interfase.bpm.sitecpro.com/BuscarExpediente" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CambiarLlavesExpediente">
			<soap:operation soapAction="http://interfase.bpm.sitecpro.com/CambiarLlavesExpediente" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CrearExpediente">
			<soap:operation soapAction="http://interfase.bpm.sitecpro.com/CrearExpediente" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Transaccion">
			<soap:operation soapAction="http://interfase.bpm.sitecpro.com/Transaccion" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarDocumentos">
			<soap:operation soapAction="http://interfase.bpm.sitecpro.com/ConsultarDocumentos" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModificarLLavesDocumento">
			<soap:operation soapAction="http://interfase.bpm.sitecpro.com/ModificarLLavesDocumento" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarDocumentos2">
			<soap:operation soapAction="http://interfase.bpm.sitecpro.com/ConsultarDocumentos2" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="TICreaExpedientesBpmSoap12" type="tns:TICreaExpedientesBpmSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="BuscarExpediente2">
			<soap12:operation soapAction="http://interfase.bpm.sitecpro.com/BuscarExpediente2" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BuscarExpediente">
			<soap12:operation soapAction="http://interfase.bpm.sitecpro.com/BuscarExpediente" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CambiarLlavesExpediente">
			<soap12:operation soapAction="http://interfase.bpm.sitecpro.com/CambiarLlavesExpediente" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CrearExpediente">
			<soap12:operation soapAction="http://interfase.bpm.sitecpro.com/CrearExpediente" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Transaccion">
			<soap12:operation soapAction="http://interfase.bpm.sitecpro.com/Transaccion" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarDocumentos">
			<soap12:operation soapAction="http://interfase.bpm.sitecpro.com/ConsultarDocumentos" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ModificarLLavesDocumento">
			<soap12:operation soapAction="http://interfase.bpm.sitecpro.com/ModificarLLavesDocumento" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarDocumentos2">
			<soap12:operation soapAction="http://interfase.bpm.sitecpro.com/ConsultarDocumentos2" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TICreaExpedientesBpm">
		<wsdl:port name="TICreaExpedientesBpmSoap" binding="tns:TICreaExpedientesBpmSoap">
			<soap:address location="http://172.20.234.22/TICreaExpediente/ticreaexpedientebpm.asmx"/>
		</wsdl:port>
		<wsdl:port name="TICreaExpedientesBpmSoap12" binding="tns:TICreaExpedientesBpmSoap12">
			<soap12:address location="http://172.20.235.12/TICreaExpediente/ticreaexpedientebpm.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>