Fuentes/ficohsacore-osb12-b78f21b126d5/CustomerRelationshipManagement/ProviderServices/v1.0/TotalImage/WSDL/ExpedientesAPI_BS.wsdl

<wsdl:definitions name="ExpedientesAPI_BS" targetNamespace="http://xmlns.oracle.com/DynamoMigrate/CustomerRelationshipManagement/ExpedientesAPI_BS" xmlns:tns="http://xmlns.oracle.com/DynamoMigrate/CustomerRelationshipManagement/ExpedientesAPI_BS" xmlns:inp1="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="ExpedientesAPI_BS">
        <plnk:role name="ExpedientesAPI_BSProvider" portType="tns:ExpedientesAPI_BS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com/midleware.services/ExpedientesAPITypes" schemaLocation="../../XSD/TotalImage/ExpedientesAPITypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="autentica_inputMessage">
        <wsdl:part name="request" element="inp1:autenticationRequest"/>
    </wsdl:message>
    <wsdl:message name="autentica_outputMessage">
        <wsdl:part name="reply" element="inp1:autenticationResponse"/>
    </wsdl:message>
    <wsdl:message name="ingresaExpediente_inputMessage">
        <wsdl:part name="request" element="inp1:getTransaction8Request"/>
    </wsdl:message>
    <wsdl:message name="ingresaExpediente_outputMessage">
        <wsdl:part name="reply" element="inp1:getTransaction8Response"/>
    </wsdl:message>
    <wsdl:message name="ingresaExpediente_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:getTransaction8Error"/>
    </wsdl:message>
    <wsdl:message name="guardaExpediente_inputMessage">
        <wsdl:part name="request" element="inp1:loadImageBase64Request"/>
    </wsdl:message>
    <wsdl:message name="guardaExpediente_outputMessage">
        <wsdl:part name="reply" element="inp1:loadImageBase64Response"/>
    </wsdl:message>
    <wsdl:message name="guardaExpediente_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:loadImageBase64Error"/>
    </wsdl:message>
    <wsdl:message name="creaExpediente_inputMessage">
        <wsdl:part name="request" element="inp1:getTransaction6Request"/>
    </wsdl:message>
    <wsdl:message name="creaExpediente_outputMessage">
        <wsdl:part name="reply" element="inp1:getTransaction6Response"/>
    </wsdl:message>
    <wsdl:portType name="ExpedientesAPI_BS_ptt">
        <wsdl:operation name="autentica">
            <wsdl:input message="tns:autentica_inputMessage"/>
            <wsdl:output message="tns:autentica_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ingresaExpediente">
            <wsdl:input message="tns:ingresaExpediente_inputMessage"/>
            <wsdl:output message="tns:ingresaExpediente_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:ingresaExpediente_fault400Message"/>
        </wsdl:operation>
        <wsdl:operation name="guardaExpediente">
            <wsdl:input message="tns:guardaExpediente_inputMessage"/>
            <wsdl:output message="tns:guardaExpediente_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:guardaExpediente_fault400Message"/>
        </wsdl:operation>
        <wsdl:operation name="creaExpediente">
            <wsdl:input message="tns:creaExpediente_inputMessage"/>
            <wsdl:output message="tns:creaExpediente_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ExpedientesAPI_BS_ptt-binding" type="tns:ExpedientesAPI_BS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="autentica">
            <soap:operation soapAction="autentica"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ingresaExpediente">
            <soap:operation soapAction="ingresaExpediente"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardaExpediente">
            <soap:operation soapAction="guardaExpediente"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="creaExpediente">
            <soap:operation soapAction="creaExpediente"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>