Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/subasta/consultaAdjudicacionSubasta/consultaAdjudicacionSubastaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaAdjudicacionSubastaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaAdjudicacionSubastaTypes">
	
	<xs:complexType name = "consultaAdjudicacionSubastaResponseArrayType">
		<xs:sequence>
			<xs:element name="AUCTION_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="AUCTION_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT_REQUESTED" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT_AWARDED" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT_REJECTED" type="xs:string" minOccurs="0" />
			<xs:element name="TRANSACTION_REFERENCE" type="xs:string" minOccurs="0" />
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaAdjudicacionSubastaResponseRecordType">
		<xs:sequence>
				<xs:element name="consultaAdjudicacionSubastaResponseRecordType" type="cons:consultaAdjudicacionSubastaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaAdjudicacionSubastaResponseType">
		<xs:sequence>
			<xs:element name="consultaAdjudicacionSubastaResponseType" type="cons:consultaAdjudicacionSubastaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaAdjudicacionSubasta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string"/>
				<xs:element name="AUCTION_DATE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaAdjudicacionSubastaResponse" type="cons:consultaAdjudicacionSubastaResponseType"/>
	
</xs:schema>