Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Ach/RequestorServices/v1.0/AchSoapRouter/WSDL/AchSoapRouter_PS.wsdl

<definitions targetNamespace="urn:AchSoapRouter_PS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:AchSoapRouter_PS" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/achServicesPS" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="urn:AchSoapRouter_PS/types" elementFormDefault="qualified"/>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/achServicesPS" schemaLocation="../XSD/achTypes.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes" schemaLocation="../../../../../../CommonResources/XSD/CommonTypes.xsd"/>
        </xsd:schema>
  </types>
  
    <!-- DoEcho Messages -->
    <message name="doEchoRequest">
        <part element="inp1:DoEchoRequest" name="parameters"/>
        <part element="dtt:RequestHeader" name="RequestHeader"/>
    </message>
    <message name="doEchoResponse">
        <part element="inp1:DoEchoResponse" name="parameters"/>
        <part element="dtt:ResponseHeader" name="ResponseHeader"/>
    </message>
  
    <!-- GetTicket Messages -->
    <message name="getTicketRequest">
        <part element="inp1:GetTicketRequest" name="parameters"/>
        <part element="dtt:RequestHeader" name="RequestHeader"/>
    </message>
    <message name="getTicketResponse">
        <part element="inp1:GetTicketResponse" name="parameters"/>
        <part element="dtt:ResponseHeader" name="ResponseHeader"/>
    </message>
  
    <!-- SendCredit Messages -->
    <message name="sendCreditRequest">
        <part element="inp1:SendCreditRequest" name="parameters"/>
        <part element="dtt:RequestHeader" name="RequestHeader"/>
    </message>
    <message name="sendCreditResponse">
        <part element="inp1:SendCreditResponse" name="parameters"/>
        <part element="dtt:ResponseHeader" name="ResponseHeader"/>
    </message>
  
    <!-- GetTransactionsStatus Messages -->
    <message name="getTransactionsStatusRequest">
        <part element="inp1:GetTransactionsStatusRequest" name="parameters"/>
        <part element="dtt:RequestHeader" name="RequestHeader"/>
    </message>
    <message name="getTransactionsStatusResponse">
        <part element="inp1:GetTransactionsStatusResponse" name="parameters"/>
        <part element="dtt:ResponseHeader" name="ResponseHeader"/>
    </message>
  
    <!-- GetReportTransaction Messages -->
    <message name="getReportTransactionRequest">
        <part element="inp1:GetReportTransactionRequest" name="parameters"/>
        <part element="dtt:RequestHeader" name="RequestHeader"/>
    </message>
    <message name="getReportTransactionResponse">
        <part element="inp1:GetReportTransactionResponse" name="parameters"/>
        <part element="dtt:ResponseHeader" name="ResponseHeader"/>
    </message>
  
  <portType name="AchSoapRouter_PS_ptt">
    <operation name="DoEcho">
      <input message="tns:doEchoRequest"/>
      <output message="tns:doEchoResponse"/>
    </operation>
    <operation name="GetTicket">
      <input message="tns:getTicketRequest"/>
      <output message="tns:getTicketResponse"/>
    </operation>
    <operation name="SendCredit">
      <input message="tns:sendCreditRequest"/>
      <output message="tns:sendCreditResponse"/>
    </operation>
    <operation name="GetTransactionsStatus">
      <input message="tns:getTransactionsStatusRequest"/>
      <output message="tns:getTransactionsStatusResponse"/>
    </operation>
    <operation name="GetReportTransaction">
      <input message="tns:getReportTransactionRequest"/>
      <output message="tns:getReportTransactionResponse"/>
    </operation>
  </portType>
    <binding name="AchSoapRouter_PS_ptt-binding" type="tns:AchSoapRouter_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="DoEcho">
            <soap:operation style="document" soapAction="urn:AchSoapRouter_PS/DoEcho"/>
            <input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:doEchoRequest" use="literal" part="RequestHeader"/>
            </input>
            <output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:doEchoResponse" use="literal" part="ResponseHeader"/>
            </output>
        </operation>
        <operation name="GetTicket">
            <soap:operation style="document" soapAction="urn:AchSoapRouter_PS/GetTicket"/>
            <input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:getTicketRequest" use="literal" part="RequestHeader"/>
            </input>
            <output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:getTicketResponse" use="literal" part="ResponseHeader"/>
            </output>
        </operation>
        <operation name="SendCredit">
            <soap:operation style="document" soapAction="urn:AchSoapRouter_PS/SendCredit"/>
            <input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:sendCreditRequest" use="literal" part="RequestHeader"/>
            </input>
            <output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:sendCreditResponse" use="literal" part="ResponseHeader"/>
            </output>
        </operation>
        <operation name="GetTransactionsStatus">
            <soap:operation style="document" soapAction="urn:AchSoapRouter_PS/GetTransactionsStatus"/>
            <input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:getTransactionsStatusRequest" use="literal" part="RequestHeader"/>
            </input>
            <output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:getTransactionsStatusResponse" use="literal" part="ResponseHeader"/>
            </output>
        </operation>
        <operation name="GetReportTransaction">
            <soap:operation style="document" soapAction="urn:AchSoapRouter_PS/GetReportTransaction"/>
            <input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:getReportTransactionRequest" use="literal" part="RequestHeader"/>
            </input>
            <output>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:getReportTransactionResponse" use="literal" part="ResponseHeader"/>
            </output>
        </operation>
    </binding>
</definitions>