Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/ACHRecibidas/wsdl/ACHRecibidas.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_771770609.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_478367602.xsd"/>
</xsd:schema>
</types>
<message name="ConsultaACHDebito">
<part name="parameters" element="tns:ConsultaACHDebito"/>
</message>
<message name="ConsultaACHDebitoResponse">
<part name="parameters" element="tns:ConsultaACHDebitoResponse"/>
</message>
<message name="RegistrodeACHDebitos_Validate">
<part name="parameters" element="tns:RegistrodeACHDebitos_Validate"/>
</message>
<message name="RegistrodeACHDebitos_ValidateResponse">
<part name="parameters" element="tns:RegistrodeACHDebitos_ValidateResponse"/>
</message>
<message name="TransferenciaACHDebitoenLinea">
<part name="parameters" element="tns:TransferenciaACHDebitoenLinea"/>
</message>
<message name="TransferenciaACHDebitoenLineaResponse">
<part name="parameters" element="tns:TransferenciaACHDebitoenLineaResponse"/>
</message>
<message name="TransferenciaACHDebitoenLinea_Validate">
<part name="parameters" element="tns:TransferenciaACHDebitoenLinea_Validate"/>
</message>
<message name="TransferenciaACHDebitoenLinea_ValidateResponse">
<part name="parameters" element="tns:TransferenciaACHDebitoenLinea_ValidateResponse"/>
</message>
<message name="RegistrodeACHDebitos">
<part name="parameters" element="tns:RegistrodeACHDebitos"/>
</message>
<message name="RegistrodeACHDebitosResponse">
<part name="parameters" element="tns:RegistrodeACHDebitosResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="RegistroACHRecibida">
<part name="parameters" element="tns:RegistroACHRecibida"/>
</message>
<message name="RegistroACHRecibidaResponse">
<part name="parameters" element="tns:RegistroACHRecibidaResponse"/>
</message>
<message name="RegistroACHRecibida_Validate">
<part name="parameters" element="tns:RegistroACHRecibida_Validate"/>
</message>
<message name="RegistroACHRecibida_ValidateResponse">
<part name="parameters" element="tns:RegistroACHRecibida_ValidateResponse"/>
</message>
<message name="TransferenciaACHRecibidaenLinea">
<part name="parameters" element="tns:TransferenciaACHRecibidaenLinea"/>
</message>
<message name="TransferenciaACHRecibidaenLineaResponse">
<part name="parameters" element="tns:TransferenciaACHRecibidaenLineaResponse"/>
</message>
<message name="TransferenciaACHRecibidaenLinea_Validate">
<part name="parameters" element="tns:TransferenciaACHRecibidaenLinea_Validate"/>
</message>
<message name="TransferenciaACHRecibidaenLinea_ValidateResponse">
<part name="parameters" element="tns:TransferenciaACHRecibidaenLinea_ValidateResponse"/>
</message>
<message name="PagoTCporACHRecibidaenLinea">
<part name="parameters" element="tns:PagoTCporACHRecibidaenLinea"/>
</message>
<message name="PagoTCporACHRecibidaenLineaResponse">
<part name="parameters" element="tns:PagoTCporACHRecibidaenLineaResponse"/>
</message>
<message name="PagoTCporACHRecibidaenLinea_Validate">
<part name="parameters" element="tns:PagoTCporACHRecibidaenLinea_Validate"/>
</message>
<message name="PagoTCporACHRecibidaenLinea_ValidateResponse">
<part name="parameters" element="tns:PagoTCporACHRecibidaenLinea_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="ConsultaACHDebito">
<input message="tns:ConsultaACHDebito"/>
<output message="tns:ConsultaACHDebitoResponse"/>
</operation>
<operation name="RegistrodeACHDebitos_Validate">
<input message="tns:RegistrodeACHDebitos_Validate"/>
<output message="tns:RegistrodeACHDebitos_ValidateResponse"/>
</operation>
<operation name="TransferenciaACHDebitoenLinea">
<input message="tns:TransferenciaACHDebitoenLinea"/>
<output message="tns:TransferenciaACHDebitoenLineaResponse"/>
</operation>
<operation name="TransferenciaACHDebitoenLinea_Validate">
<input message="tns:TransferenciaACHDebitoenLinea_Validate"/>
<output message="tns:TransferenciaACHDebitoenLinea_ValidateResponse"/>
</operation>
<operation name="RegistrodeACHDebitos">
<input message="tns:RegistrodeACHDebitos"/>
<output message="tns:RegistrodeACHDebitosResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="RegistroACHRecibida">
<input message="tns:RegistroACHRecibida"/>
<output message="tns:RegistroACHRecibidaResponse"/>
</operation>
<operation name="RegistroACHRecibida_Validate">
<input message="tns:RegistroACHRecibida_Validate"/>
<output message="tns:RegistroACHRecibida_ValidateResponse"/>
</operation>
<operation name="TransferenciaACHRecibidaenLinea">
<input message="tns:TransferenciaACHRecibidaenLinea"/>
<output message="tns:TransferenciaACHRecibidaenLineaResponse"/>
</operation>
<operation name="TransferenciaACHRecibidaenLinea_Validate">
<input message="tns:TransferenciaACHRecibidaenLinea_Validate"/>
<output message="tns:TransferenciaACHRecibidaenLinea_ValidateResponse"/>
</operation>
<operation name="PagoTCporACHRecibidaenLinea">
<input message="tns:PagoTCporACHRecibidaenLinea"/>
<output message="tns:PagoTCporACHRecibidaenLineaResponse"/>
</operation>
<operation name="PagoTCporACHRecibidaenLinea_Validate">
<input message="tns:PagoTCporACHRecibidaenLinea_Validate"/>
<output message="tns:PagoTCporACHRecibidaenLinea_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConsultaACHDebito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrodeACHDebitos_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TransferenciaACHDebitoenLinea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TransferenciaACHDebitoenLinea_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrodeACHDebitos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistroACHRecibida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistroACHRecibida_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TransferenciaACHRecibidaenLinea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TransferenciaACHRecibidaenLinea_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoTCporACHRecibidaenLinea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoTCporACHRecibidaenLinea_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://10.9.104.55:7003/svcACHRecibidas/services"/>
</port>
</service>
</definitions>