Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ACH/Enviado/SvcACHEnviado/xsd/XMLSchema_-1255526967.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="ConfirmacionACHEnviados" type="tns:ConfirmacionACHEnviados"/>

<xs:element name="ConfirmacionACHEnviadosResponse" type="tns:ConfirmacionACHEnviadosResponse"/>

<xs:element name="ConfirmacionACHEnviados_Validate" type="tns:ConfirmacionACHEnviados_Validate"/>

<xs:element name="ConfirmacionACHEnviados_ValidateResponse" type="tns:ConfirmacionACHEnviados_ValidateResponse"/>

<xs:element name="ConsultaDatosACHEnviado" type="tns:ConsultaDatosACHEnviado"/>

<xs:element name="ConsultaDatosACHEnviadoResponse" type="tns:ConsultaDatosACHEnviadoResponse"/>

<xs:element name="ConsultaReprocesoACHEnviado" type="tns:ConsultaReprocesoACHEnviado"/>

<xs:element name="ConsultaReprocesoACHEnviadoResponse" type="tns:ConsultaReprocesoACHEnviadoResponse"/>

<xs:element name="RegistrarACHEnviados" type="tns:RegistrarACHEnviados"/>

<xs:element name="RegistrarACHEnviadosResponse" type="tns:RegistrarACHEnviadosResponse"/>

<xs:element name="RegistrarACHEnviados_Validate" type="tns:RegistrarACHEnviados_Validate"/>

<xs:element name="RegistrarACHEnviados_ValidateResponse" type="tns:RegistrarACHEnviados_ValidateResponse"/>

<xs:element name="ReprocesarACHEnviados" type="tns:ReprocesarACHEnviados"/>

<xs:element name="ReprocesarACHEnviadosResponse" type="tns:ReprocesarACHEnviadosResponse"/>

<xs:element name="ReprocesarACHEnviados_Validate" type="tns:ReprocesarACHEnviados_Validate"/>

<xs:element name="ReprocesarACHEnviados_ValidateResponse" type="tns:ReprocesarACHEnviados_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="WSACHOUTGOINGREPROCESSType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSACHOUTGOINGREPROCESSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSACHOUTGOINGREPROCESSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALHOLDERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CUSHORTTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESSLINE1" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTSHORTTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="ISLBTR" type="xs:string" minOccurs="0"/>
<xs:element name="IDTXNT24" type="xs:string" minOccurs="0"/>
<xs:element name="ACHROUTINGNUM" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITACCOUNTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="IDREJECTION" type="xs:string" minOccurs="0"/>
<xs:element name="ISREPROCESS" type="xs:string" minOccurs="0"/>
<xs:element name="STAGE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FICOHNACHONLINEINPUTType">
<xs:sequence>
<xs:element name="DEBITACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCCY" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="GLOBALREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="IDBANKISSUER" type="xs:string" minOccurs="0"/>
<xs:element name="LEGENDBANKISSUER" type="xs:string" minOccurs="0"/>
<xs:element name="IDPRODUCT" type="xs:string" minOccurs="0"/>
<xs:element name="IDREJECTION" type="xs:string" minOccurs="0"/>
<xs:element name="IDTXNT24" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOTRANS" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="DESTCUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="NARADDEND" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CUSNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PAYACHTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ACHTXNTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ACHCICLO" type="xs:string" minOccurs="0"/>
<xs:element name="DATEREPOR" type="xs:string" minOccurs="0"/>
<xs:element name="HOURTXN" type="xs:string" minOccurs="0"/>
<xs:element name="TXNACHINTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ISLBTR" type="xs:string" minOccurs="0"/>
<xs:element name="CONFIRMTOIF" type="xs:string" minOccurs="0"/>
<xs:element name="ISREPROCESS" type="xs:string" minOccurs="0"/>
<xs:element name="STAGE" type="xs:string" minOccurs="0"/>
<xs:element name="ACLKID" type="xs:string" minOccurs="0"/>
<xs:element name="COMMID" type="xs:string" minOccurs="0"/>
<xs:element name="PXPRESULT" type="xs:string" minOccurs="0"/>
<xs:element name="PXPERRORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TCCCY" type="xs:string" minOccurs="0"/>
<xs:element name="TCCURRENTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTINDIRECT" type="xs:string" minOccurs="0"/>
<xs:element name="COMMISSIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMISSIONAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_13" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_14" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_15" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOHNACHONLINEType">
<xs:sequence>
<xs:element name="DEBITACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCCY" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="GLOBALREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="IDBANKISSUER" type="xs:string" minOccurs="0"/>
<xs:element name="LEGENDBANKISSUER" type="xs:string" minOccurs="0"/>
<xs:element name="IDPRODUCT" type="xs:string" minOccurs="0"/>
<xs:element name="IDREJECTION" type="xs:string" minOccurs="0"/>
<xs:element name="IDTXNT24" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOTRANS" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="DESTCUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="NARADDEND" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CUSNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PAYACHTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ACHTXNTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ACHCICLO" type="xs:string" minOccurs="0"/>
<xs:element name="DATEREPOR" type="xs:string" minOccurs="0"/>
<xs:element name="HOURTXN" type="xs:string" minOccurs="0"/>
<xs:element name="TXNACHINTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ISLBTR" type="xs:string" minOccurs="0"/>
<xs:element name="CONFIRMTOIF" type="xs:string" minOccurs="0"/>
<xs:element name="ISREPROCESS" type="xs:string" minOccurs="0"/>
<xs:element name="STAGE" type="xs:string" minOccurs="0"/>
<xs:element name="ACLKID" type="xs:string" minOccurs="0"/>
<xs:element name="COMMID" type="xs:string" minOccurs="0"/>
<xs:element name="PXPRESULT" type="xs:string" minOccurs="0"/>
<xs:element name="PXPERRORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TCCCY" type="xs:string" minOccurs="0"/>
<xs:element name="TCCURRENTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTINDIRECT" type="xs:string" minOccurs="0"/>
<xs:element name="COMMISSIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMISSIONAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_13" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_14" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_15" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="WSACHOUTGOINGType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSACHOUTGOINGDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSACHOUTGOINGDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALHOLDERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CUSHORTTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESSLINE1" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTSHORTTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="ISLBTR" type="xs:string" minOccurs="0"/>
<xs:element name="IDTXNT24" type="xs:string" minOccurs="0"/>
<xs:element name="ACHROUTINGNUM" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITACCOUNTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="IDREJECTION" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FICOHNACHONLINEREPROCESSWSType">
<xs:sequence>
<xs:element name="DEBITACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCCY" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="GLOBALREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="IDBANKISSUER" type="xs:string" minOccurs="0"/>
<xs:element name="LEGENDBANKISSUER" type="xs:string" minOccurs="0"/>
<xs:element name="IDPRODUCT" type="xs:string" minOccurs="0"/>
<xs:element name="IDREJECTION" type="xs:string" minOccurs="0"/>
<xs:element name="IDTXNT24" type="xs:string" minOccurs="0"/>
<xs:element name="TIPOTRANS" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="DESTCUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="NARADDEND" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CUSNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PAYACHTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ACHTXNTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ACHCICLO" type="xs:string" minOccurs="0"/>
<xs:element name="DATEREPOR" type="xs:string" minOccurs="0"/>
<xs:element name="HOURTXN" type="xs:string" minOccurs="0"/>
<xs:element name="TXNACHINTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ISLBTR" type="xs:string" minOccurs="0"/>
<xs:element name="CONFIRMTOIF" type="xs:string" minOccurs="0"/>
<xs:element name="ISREPROCESS" type="xs:string" minOccurs="0"/>
<xs:element name="STAGE" type="xs:string" minOccurs="0"/>
<xs:element name="ACLKID" type="xs:string" minOccurs="0"/>
<xs:element name="COMMID" type="xs:string" minOccurs="0"/>
<xs:element name="PXPRESULT" type="xs:string" minOccurs="0"/>
<xs:element name="PXPERRORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TCCCY" type="xs:string" minOccurs="0"/>
<xs:element name="TCCURRENTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTINDIRECT" type="xs:string" minOccurs="0"/>
<xs:element name="COMMISSIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMISSIONAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_13" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_14" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_15" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOHNACHONLINEACHOCONFIRMWSType">
<xs:sequence>
<xs:element name="GLOBALREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGENDBANKISSUER" type="xs:string" minOccurs="0"/>
<xs:element name="PXPRESULT" type="xs:string" minOccurs="0"/>
<xs:element name="PXPERRORCODE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="ConsultaDatosACHEnviado">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSACHOUTGOINGType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaDatosACHEnviadoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSACHOUTGOINGType" type="tns:WSACHOUTGOINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmacionACHEnviados_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHNACHONLINEACHOCONFIRMWSType" type="tns:FICOHNACHONLINEACHOCONFIRMWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmacionACHEnviados_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHNACHONLINEType" type="tns:FICOHNACHONLINEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmacionACHEnviados">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHNACHONLINEACHOCONFIRMWSType" type="tns:FICOHNACHONLINEACHOCONFIRMWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConfirmacionACHEnviadosResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHNACHONLINEType" type="tns:FICOHNACHONLINEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReprocesarACHEnviados">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHNACHONLINEREPROCESSWSType" type="tns:FICOHNACHONLINEREPROCESSWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReprocesarACHEnviadosResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHNACHONLINEType" type="tns:FICOHNACHONLINEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarACHEnviados">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHNACHONLINEINPUTType" type="tns:FICOHNACHONLINEINPUTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarACHEnviadosResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHNACHONLINEType" type="tns:FICOHNACHONLINEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarACHEnviados_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHNACHONLINEINPUTType" type="tns:FICOHNACHONLINEINPUTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarACHEnviados_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHNACHONLINEType" type="tns:FICOHNACHONLINEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReprocesarACHEnviados_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHNACHONLINEREPROCESSWSType" type="tns:FICOHNACHONLINEREPROCESSWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReprocesarACHEnviados_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHNACHONLINEType" type="tns:FICOHNACHONLINEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaReprocesoACHEnviado">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSACHOUTGOINGREPROCESSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaReprocesoACHEnviadoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSACHOUTGOINGREPROCESSType" type="tns:WSACHOUTGOINGREPROCESSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>