Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/CreacionSeguroFinanciamientos_v2/xsd/XMLSchema_502334501.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cct="http://www.ficohsa.com.hn/middleware.services/creacionSeguroFinanciamientosTypes">
	
	<!-- stringMinLength1Type -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    	
	<xs:element name="creacionSeguroFinanciamientos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:integer"/>				
				<xs:element name="PRODUCT_NUMBER" type="cct:stringMinLength1"/>
				<xs:element name="INSURANCE_TYPE_CODE" type="cct:stringMinLength1"/>
				<xs:element name="CURRENCY_INDICATOR" type="cct:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="creacionSeguroFinanciamientosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CURRENCY_INDICATOR" type="xs:string" minOccurs="0"/>
				<xs:element name="ORG" type="xs:integer" minOccurs="0"/>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>				
				<xs:element name="LOGO" type="xs:integer" minOccurs="0"/>
				<xs:element name="INSURANCE_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="INSURANCE_STATUS" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	

	
</xs:schema>