Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/tarjetaCredito/Resources/TarjetaCredito.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_-311077238.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-604480245.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Pagodetarjetadecredito">
<part name="parameters" element="tns:Pagodetarjetadecredito"/>
</message>
<message name="PagodetarjetadecreditoResponse">
<part name="parameters" element="tns:PagodetarjetadecreditoResponse"/>
</message>
<message name="Pagodetarjetadecredito_Validate">
<part name="parameters" element="tns:Pagodetarjetadecredito_Validate"/>
</message>
<message name="Pagodetarjetadecredito_ValidateResponse">
<part name="parameters" element="tns:Pagodetarjetadecredito_ValidateResponse"/>
</message>
<message name="RetiroenefecdeTarjetaCredito">
<part name="parameters" element="tns:RetiroenefecdeTarjetaCredito"/>
</message>
<message name="RetiroenefecdeTarjetaCreditoResponse">
<part name="parameters" element="tns:RetiroenefecdeTarjetaCreditoResponse"/>
</message>
<message name="RetiroenefecdeTarjetaCredito_Validate">
<part name="parameters" element="tns:RetiroenefecdeTarjetaCredito_Validate"/>
</message>
<message name="RetiroenefecdeTarjetaCredito_ValidateResponse">
<part name="parameters" element="tns:RetiroenefecdeTarjetaCredito_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Pagodetarjetadecredito">
<input message="tns:Pagodetarjetadecredito"/>
<output message="tns:PagodetarjetadecreditoResponse"/>
</operation>
<operation name="Pagodetarjetadecredito_Validate">
<input message="tns:Pagodetarjetadecredito_Validate"/>
<output message="tns:Pagodetarjetadecredito_ValidateResponse"/>
</operation>
<operation name="RetiroenefecdeTarjetaCredito">
<input message="tns:RetiroenefecdeTarjetaCredito"/>
<output message="tns:RetiroenefecdeTarjetaCreditoResponse"/>
</operation>
<operation name="RetiroenefecdeTarjetaCredito_Validate">
<input message="tns:RetiroenefecdeTarjetaCredito_Validate"/>
<output message="tns:RetiroenefecdeTarjetaCredito_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodetarjetadecredito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Pagodetarjetadecredito_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetiroenefecdeTarjetaCredito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetiroenefecdeTarjetaCredito_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwomnidesa:7003/svcTarjetaCredito/services"/>
</port>
</service>
</definitions>