Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/tarjetaCredito/Resources/XMLSchema_-604480245.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Pagodetarjetadecredito" type="tns:Pagodetarjetadecredito"/>

<xs:element name="PagodetarjetadecreditoResponse" type="tns:PagodetarjetadecreditoResponse"/>

<xs:element name="Pagodetarjetadecredito_Validate" type="tns:Pagodetarjetadecredito_Validate"/>

<xs:element name="Pagodetarjetadecredito_ValidateResponse" type="tns:Pagodetarjetadecredito_ValidateResponse"/>

<xs:element name="RetiroenefecdeTarjetaCredito" type="tns:RetiroenefecdeTarjetaCredito"/>

<xs:element name="RetiroenefecdeTarjetaCreditoResponse" type="tns:RetiroenefecdeTarjetaCreditoResponse"/>

<xs:element name="RetiroenefecdeTarjetaCredito_Validate" type="tns:RetiroenefecdeTarjetaCredito_Validate"/>

<xs:element name="RetiroenefecdeTarjetaCredito_ValidateResponse" type="tns:RetiroenefecdeTarjetaCredito_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="TELLERFINANCIALSERVICESFICOCCARDPAYWSOFFLType">
<xs:sequence>
<xs:element name="PRIMARYACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="gTRANSACTION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mTRANSACTION" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSACTION" type="xs:string" minOccurs="0"/>
<xs:element name="SURROGATEACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="SORTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRMINAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAXAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LROTHAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCARDNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRCCY" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.CONSOL.TXN" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.CONSOL.TXN" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRCONSOLTXN" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSOLAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCONSOLTOT" type="xs:string" minOccurs="0"/>
<xs:element name="LRAMTPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSUMEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESC" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.ECONOMIC.ACT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.ECONOMIC.ACT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSTRATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCYDECNO" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRORIGINITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRHALFPYMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESIDENT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFINANCIALSERVICESType">
<xs:sequence>
<xs:element name="BOOKINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYCUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYACCOUNTINT" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLINSTRUCTION" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLMETHOD" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLLEVELADDON" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_10" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_11" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_12" type="xs:string" minOccurs="0"/>
<xs:element name="gTRANSACTION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mTRANSACTION" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSACTION" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONINT" type="xs:string" minOccurs="0"/>
<xs:element name="BENEFICIARYID" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_16" type="xs:string" minOccurs="0"/>
<xs:element name="SURROGATEAC" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTDR" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYDR" type="xs:string" minOccurs="0"/>
<xs:element name="CCYDRINT" type="xs:string" minOccurs="0"/>
<xs:element name="EXCHTXNDR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTDR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTDRLCY" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTCR" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYCR" type="xs:string" minOccurs="0"/>
<xs:element name="CCYCRINT" type="xs:string" minOccurs="0"/>
<xs:element name="EXCHTXNCR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTCR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTCRLCY" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYINT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTINT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLCY" type="xs:string" minOccurs="0"/>
<xs:element name="DEALRATE" type="xs:string" minOccurs="0"/>
<xs:element name="DEALRATEINT" type="xs:string" minOccurs="0"/>
<xs:element name="WASHTHRUSIDE" type="xs:string" minOccurs="0"/>
<xs:element name="WAIVECHARGE" type="xs:string" minOccurs="0"/>
<xs:element name="sgCHGCODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CHGCODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHGCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHGACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHGCCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHGAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CHGAMTLCY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CRVALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DRVALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFCHEQUES" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEDRAWN" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="SORTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CHQTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="sgSPLITDATE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="SPLITDATE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SPLITDATE" type="xs:string" minOccurs="0"/>
<xs:element name="SPLITAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CREXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DREXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="sgCRDENOM" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CRDENOM" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CRDENOM" type="xs:string" minOccurs="0"/>
<xs:element name="CRAVAIL" type="xs:string" minOccurs="0"/>
<xs:element name="CRDENUNIT" type="xs:string" minOccurs="0"/>
<xs:element name="CRSERIALNO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="sgDRDENOM" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DRDENOM" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DRDENOM" type="xs:string" minOccurs="0"/>
<xs:element name="DRAVAIL" type="xs:string" minOccurs="0"/>
<xs:element name="DRDENUNIT" type="xs:string" minOccurs="0"/>
<xs:element name="DRSERIALNO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="OURREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="sgNARRATIVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="sgPAYMENTDETS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="PAYMENTDETS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DCPRODCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="DCCUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="DCACCTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="DCREVERSEMARK" type="xs:string" minOccurs="0"/>
<xs:element name="CARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="sgCARDDETAILS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CARDDETAILS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DRCURRMKT" type="xs:string" minOccurs="0"/>
<xs:element name="CRCURRMKT" type="xs:string" minOccurs="0"/>
<xs:element name="UNDERLYING" type="xs:string" minOccurs="0"/>
<xs:element name="ULSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="sgULSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ULSTMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RESERVED_79" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_80" type="xs:string" minOccurs="0"/>
<xs:element name="RUNDERLYING" type="xs:string" minOccurs="0"/>
<xs:element name="sgRULSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="RULSTMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RULSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="ULCOMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="sgLOCKREF" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LOCKREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CONSOLLEG" type="xs:string" minOccurs="0"/>
<xs:element name="VALERROR" type="xs:string" minOccurs="0"/>
<xs:element name="REVERSALMARK" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CONSOLIDATENOW" type="xs:string" minOccurs="0"/>
<xs:element name="AMLCUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="gAMLNAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="AMLNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gAMLADDRESS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="AMLADDRESS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AMLNATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="gLEGALID" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLEGALID" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALDOCNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALHOLDERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISSAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISSDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALEXPDATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCOMMTYPE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCOMMTYPE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="COMMTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMREFERENCE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gRTACCOUNTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mRTACCOUNTNO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="RTACCOUNTNO" type="xs:string" minOccurs="0"/>
<xs:element name="RUNNINGTOTAL" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="MKTEXCHPROFIT" type="xs:string" minOccurs="0"/>
<xs:element name="gULOFSMSGS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ULOFSMSGS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RESERVED_106" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_107" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_108" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_109" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_110" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_111" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_112" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_113" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_114" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_115" type="xs:string" minOccurs="0"/>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="LRMINAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAXAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LROTHAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRALCANCNFNO" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCARDNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LREXPIRYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAPID" type="xs:string" minOccurs="0"/>
<xs:element name="LRTELLERID" type="xs:string" minOccurs="0"/>
<xs:element name="LRAGENCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TERMINALID" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.CONSOL.TXN" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.CONSOL.TXN" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRCONSOLTXN" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSOLAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCONSOLTOT" type="xs:string" minOccurs="0"/>
<xs:element name="LRAMTPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSUMEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESC" type="xs:string" minOccurs="0"/>
<xs:element name="PANNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRLOANNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINACCT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINCCY" type="xs:string" minOccurs="0"/>
<xs:element name="RTEFORM" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.CATEGORY" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.CATEGORY" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="LRITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRGROUP" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gLR.ECONOMIC.ACT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.ECONOMIC.ACT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSTRATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCYDECNO" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRORIGINITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRHALFPYMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESIDENT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCRDCARDSEQ" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFINANCIALSERVICESFICOLCYCASHWDLWSType">
<xs:sequence>
<xs:element name="BOOKINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYCUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYACCOUNTINT" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLINSTRUCTION" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLMETHOD" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLLEVELADDON" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_10" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_11" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_12" type="xs:string" minOccurs="0"/>
<xs:element name="gTRANSACTION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mTRANSACTION" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSACTION" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONINT" type="xs:string" minOccurs="0"/>
<xs:element name="BENEFICIARYID" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_16" type="xs:string" minOccurs="0"/>
<xs:element name="SURROGATEAC" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTDR" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYDR" type="xs:string" minOccurs="0"/>
<xs:element name="CCYDRINT" type="xs:string" minOccurs="0"/>
<xs:element name="EXCHTXNDR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTDR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTDRLCY" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTCR" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYCR" type="xs:string" minOccurs="0"/>
<xs:element name="CCYCRINT" type="xs:string" minOccurs="0"/>
<xs:element name="EXCHTXNCR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTCR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTCRLCY" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYINT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTINT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLCY" type="xs:string" minOccurs="0"/>
<xs:element name="DEALRATE" type="xs:string" minOccurs="0"/>
<xs:element name="DEALRATEINT" type="xs:string" minOccurs="0"/>
<xs:element name="WASHTHRUSIDE" type="xs:string" minOccurs="0"/>
<xs:element name="WAIVECHARGE" type="xs:string" minOccurs="0"/>
<xs:element name="sgCHGCODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CHGCODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHGCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHGACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHGCCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHGAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CHGAMTLCY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CRVALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DRVALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFCHEQUES" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEDRAWN" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="SORTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CHQTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="sgSPLITDATE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="SPLITDATE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SPLITDATE" type="xs:string" minOccurs="0"/>
<xs:element name="SPLITAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CREXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DREXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="sgCRDENOM" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CRDENOM" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CRDENOM" type="xs:string" minOccurs="0"/>
<xs:element name="CRAVAIL" type="xs:string" minOccurs="0"/>
<xs:element name="CRDENUNIT" type="xs:string" minOccurs="0"/>
<xs:element name="CRSERIALNO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="sgDRDENOM" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DRDENOM" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DRDENOM" type="xs:string" minOccurs="0"/>
<xs:element name="DRAVAIL" type="xs:string" minOccurs="0"/>
<xs:element name="DRDENUNIT" type="xs:string" minOccurs="0"/>
<xs:element name="DRSERIALNO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="OURREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="sgNARRATIVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="sgPAYMENTDETS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="PAYMENTDETS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DCPRODCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="DCCUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="DCACCTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="DCREVERSEMARK" type="xs:string" minOccurs="0"/>
<xs:element name="CARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="sgCARDDETAILS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CARDDETAILS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DRCURRMKT" type="xs:string" minOccurs="0"/>
<xs:element name="CRCURRMKT" type="xs:string" minOccurs="0"/>
<xs:element name="UNDERLYING" type="xs:string" minOccurs="0"/>
<xs:element name="ULSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="sgULSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ULSTMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RESERVED_79" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_80" type="xs:string" minOccurs="0"/>
<xs:element name="RUNDERLYING" type="xs:string" minOccurs="0"/>
<xs:element name="sgRULSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="RULSTMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RULSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="ULCOMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="sgLOCKREF" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LOCKREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CONSOLLEG" type="xs:string" minOccurs="0"/>
<xs:element name="VALERROR" type="xs:string" minOccurs="0"/>
<xs:element name="REVERSALMARK" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CONSOLIDATENOW" type="xs:string" minOccurs="0"/>
<xs:element name="AMLCUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="gAMLNAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="AMLNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gAMLADDRESS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="AMLADDRESS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AMLNATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="gLEGALID" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLEGALID" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALDOCNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALHOLDERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISSAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISSDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALEXPDATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCOMMTYPE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCOMMTYPE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="COMMTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMREFERENCE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gRTACCOUNTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mRTACCOUNTNO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="RTACCOUNTNO" type="xs:string" minOccurs="0"/>
<xs:element name="RUNNINGTOTAL" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="MKTEXCHPROFIT" type="xs:string" minOccurs="0"/>
<xs:element name="gULOFSMSGS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ULOFSMSGS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RESERVED_106" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_107" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_108" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_109" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_110" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_111" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_112" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_113" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_114" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_115" type="xs:string" minOccurs="0"/>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="LRMINAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAXAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LROTHAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRALCANCNFNO" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCARDNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LREXPIRYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAPID" type="xs:string" minOccurs="0"/>
<xs:element name="LRTELLERID" type="xs:string" minOccurs="0"/>
<xs:element name="LRAGENCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TERMINALID" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.CONSOL.TXN" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.CONSOL.TXN" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRCONSOLTXN" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSOLAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCONSOLTOT" type="xs:string" minOccurs="0"/>
<xs:element name="LRAMTPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSUMEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESC" type="xs:string" minOccurs="0"/>
<xs:element name="PANNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRLOANNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINACCT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINCCY" type="xs:string" minOccurs="0"/>
<xs:element name="RTEFORM" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.CATEGORY" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.CATEGORY" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="LRITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRGROUP" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gLR.ECONOMIC.ACT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.ECONOMIC.ACT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSTRATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCYDECNO" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRORIGINITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRHALFPYMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESIDENT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCRDCARDSEQ" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="RetiroenefecdeTarjetaCredito_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESFICOLCYCASHWDLWSType" type="tns:TELLERFINANCIALSERVICESFICOLCYCASHWDLWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetiroenefecdeTarjetaCredito_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESType" type="tns:TELLERFINANCIALSERVICESType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetiroenefecdeTarjetaCredito">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESFICOLCYCASHWDLWSType" type="tns:TELLERFINANCIALSERVICESFICOLCYCASHWDLWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetiroenefecdeTarjetaCreditoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESType" type="tns:TELLERFINANCIALSERVICESType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pagodetarjetadecredito">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESFICOCCARDPAYWSOFFLType" type="tns:TELLERFINANCIALSERVICESFICOCCARDPAYWSOFFLType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagodetarjetadecreditoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESType" type="tns:TELLERFINANCIALSERVICESType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pagodetarjetadecredito_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESFICOCCARDPAYWSOFFLType" type="tns:TELLERFINANCIALSERVICESFICOCCARDPAYWSOFFLType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pagodetarjetadecredito_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESType" type="tns:TELLERFINANCIALSERVICESType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>