Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/OperacionesPrestamo/xsd/operacionesPrestamoTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesPrestamoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesPrestamoTypes" xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/kvpType">

  <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/kvpType" schemaLocation="../../esquemas_generales/KeyValuePair.xsd"/>
  <xs:simpleType name="YesNoType">
     <xs:restriction base="xs:string">
        <xs:enumeration value="YES"/>
        <xs:enumeration value="NO"/>
     </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ClearingType">
     <xs:restriction base="xs:string">
        <xs:enumeration value="COMMERCIAL"/>
        <xs:enumeration value="CALENDAR"/>
     </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FrequencyType">
     <xs:restriction base="xs:string">
        <xs:enumeration value="MONTHS"/>
        <xs:enumeration value="DAYS"/>
     </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CreditType">
     <xs:restriction base="xs:string">
        <xs:enumeration value="COMMERCIAL"/>
        <xs:enumeration value="CONSUMER"/>
        <xs:enumeration value="HOME"/>
        <xs:enumeration value="MICROCREDIT"/>
     </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="RateClassType">
     <xs:restriction base="xs:string">
        <xs:enumeration value="HIGHEST"/>
        <xs:enumeration value="LOWEST"/>
        <xs:enumeration value="OVER_MAX_MIN"/>
        <xs:enumeration value="AVERAGE"/>
     </xs:restriction>
  </xs:simpleType>  

  <xs:simpleType name="CaCcType">
     <xs:restriction base="xs:string">
        <xs:enumeration value="AHO"/>
        <xs:enumeration value="CHQ"/>
     </xs:restriction>
  </xs:simpleType>  

  <xs:simpleType name="FrequencyPayrollType">
     <xs:restriction base="xs:string">
        <xs:enumeration value="WEEKLY"/>
        <xs:enumeration value="QUARTERLY"/>
        <xs:enumeration value="MONTHLY"/>
     </xs:restriction>
  </xs:simpleType>   
    	
	<xs:element name="creaPrestamo">		
        <xs:complexType>
			<xs:sequence>				
				<xs:element name="AGENCY_CODE" type="xs:integer"/>
				<xs:element name="PRODUCT_CODE" type="xs:integer"/>
				<xs:element name="CUSTOMER_ID" type="xs:integer"/>
				<xs:element name="CUSTOMER_NAME" type="xs:string"/>
				<xs:element name="AMORTIZATION_TYPE" type="xs:string"/>
				<xs:element name="RATE" type="xs:decimal"/>
				<xs:element name="TERM" type="xs:integer"/>
				<xs:element name="AMOUNT" type="xs:decimal"/>
				<xs:element name="LOAN_TYPE_CODE" type="xs:integer"/>
				<xs:element name="CREDIT_TYPE_CODE" type="tns:CreditType"/>
				<xs:element name="GUARANTEE_TYPE_CODE" type="xs:string"/>
				<xs:element name="PAYMENT_FREQUENCY_TYPE" type="tns:FrequencyPayrollType" minOccurs="0"/>
				<xs:element name="PAYROLL_CODE" type="xs:integer" minOccurs="0"/>
				<xs:element name="OBLIGATION_TYPE_CODE" type="xs:string"/>
				<xs:element name="FINANCIAL_LINE_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="APPROVAL_CODE" type="xs:string"/>
				<xs:element name="PROMOTER_CODE" type="xs:string"/>
				<xs:element name="EXECUTIVE_ID" type="xs:string"/>
				<xs:element name="AGENCY_ORIGIN_CODE" type="xs:integer"/>				
				<xs:element name="ECONOMIC_ACTIVITY_CODE" type="xs:string"/>
				<xs:element name="INVESTMENT_CODE" type="xs:string"/>
				<xs:element name="SUBINVESTMENT_CODE" type="xs:string"/>
				<xs:element name="LOAN_DESTINATION_CODE" type="xs:integer"/>
				<xs:element name="LOAN_DESTINATION_DETAIL_CODE" type="xs:integer"/>
				<xs:element name="FUNDS_ORIGIN" type="xs:integer"/>
				<xs:element name="FUNDS_SUBORIGIN" type="xs:integer"/>		  	    
		  	    <xs:element name="MONTHLY_CLEARING_TYPE" type="tns:ClearingType"/>
				<xs:element name="YEARLY_CLEARING_TYPE" type="tns:ClearingType"/>			
				<xs:element name="CAPITAL_FREQUENCY_TYPE" type="tns:FrequencyType"/>
				<xs:element name="INTEREST_FREQUENCY_TYPE" type="tns:FrequencyType"/>
				<xs:element name="CAPITAL_FREQUENCY" type="xs:integer"/>
				<xs:element name="INTEREST_FREQUENCY" type="xs:integer"/>
				<xs:element name="FIRST_PAYMENT_INTEREST_DATE" type="xs:date"/>
				<xs:element name="FIRST_PAYMENT_CAPITAL_DATE" type="xs:date"/>				
				<xs:element name="GRACE_PERIOD" type="xs:integer" minOccurs="0"/>			
				<xs:element name="RATE_TYPE" type="xs:string"/>
				<xs:element name="RATE_CLASS" type="tns:RateClassType"/>
				<xs:element name="PORTFOLIO_RATE_VALUE_CODE" type="xs:decimal"/>
				<xs:element name="TOTAL_RATE" type="xs:decimal"/>				
				<xs:element name="CALCULATE_ARREAR" type="tns:YesNoType"/>
				<xs:element name="ARREAR_RATE_VALUE_CODE" type="xs:decimal"/>				
				<xs:element name="ARREAR_GRACE_DAYS" type="xs:decimal" minOccurs="0"/>
				<xs:element name="GUARANTEE_HANDLING" type="tns:YesNoType"/>
				<xs:element name="INPUTTER" type="xs:string"/>				
				<xs:element name="DEBIT_PRODUCT_TYPE" type="tns:CaCcType" minOccurs="0"/>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="INSURANCE_INFO" type="tns:insuranceInfoCollection" minOccurs="0"/>
				<xs:element name="GUARANTEE_INFO" type="tns:guaranteeInfoCollection" minOccurs="0"/>
				<xs:element name="DEPT_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="MUNICIPALITY_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="VILLAGE_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="CATEGORY_RAS" type="xs:string" minOccurs="0"/>
				<xs:element name="DISBURSEMENT_DATE" type="xs:date"/>
				
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
    <xs:complexType name="insuranceInfoItem">
    	<xs:sequence>
    		<xs:element name="INSURANCE_POLICY_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="INSURANCE_POLICY_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="INSURANCE_COMPANY_CODE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="MONTHLY_PRIME" type="xs:decimal" minOccurs="0"/>
			<xs:element name="YEARLY_PRIME" type="xs:decimal" minOccurs="0"/>
			<xs:element name="INSURANCE_END_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="INSURANCE_COVERAGE_AMOUNT" type="xs:decimal" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="insuranceInfoCollection">
    	<xs:sequence>
    		<xs:element name="INSURANCE_ITEM" type="tns:insuranceInfoItem" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
   
       <xs:complexType name="guaranteeInfoCollection">
    	<xs:sequence>
    		<xs:element name="GUARANTEE_ITEM" type="tns:guaranteeInfoItem" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
   
    <xs:complexType name="guaranteeInfoItem">
    	<xs:sequence>
    		<xs:element name="PRODUCT_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="TYPE_CODE" type="xs:integer" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/> 
    		<xs:element name="APPRAISAL_VALUE" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="CREDIT_VALUE" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="COVERAGE_PERCENTAGE" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="PRIME_AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="CODEBTORS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CODEBTOR" type="tns:codebtorItems" minOccurs="0" maxOccurs="unbounded">
						</xs:element>
					</xs:sequence>
				</xs:complexType>    		
    		</xs:element>		
    		<xs:element name="GUARANTORS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GUARANTOR" type="tns:guarantorItems" minOccurs="0" maxOccurs="unbounded">
						</xs:element>
					</xs:sequence>
				</xs:complexType>    		
    		</xs:element>
    		<xs:element name="ADDITIONAL_INFO" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ITEM" type="tns:additionalInfoItems" minOccurs="0" maxOccurs="unbounded">
						</xs:element>
					</xs:sequence>
				</xs:complexType>    		
    		</xs:element>	    		
    	</xs:sequence>
    </xs:complexType>    
    
	<xs:complexType name="codebtorItems">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:integer" minOccurs="0"/>				
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
		</xs:sequence>		
	</xs:complexType>	          
	
	<xs:complexType name="guarantorItems">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:integer" minOccurs="0"/>				
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
		</xs:sequence>		
	</xs:complexType>

	<xs:complexType name="additionalInfoItems">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>				
			<xs:element name="NAME" type="xs:string" minOccurs="0"/>
		</xs:sequence>		
	</xs:complexType>

	<xs:element name="creaPrestamoResponse">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="LOAN_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="LOAN_CONTRACT" type="xs:string" minOccurs="0"/>
				<xs:element name="GUARANTEE_NUMBER" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
    <xs:complexType name="insuranceNumberItem">
    	<xs:sequence>
    		<xs:element name="INSURANCE_POLICY_NUMBER" type="xs:string" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="insuranceNumbersCollection">
    	<xs:sequence>
    		<xs:element name="INSURANCE_ITEM" type="tns:insuranceNumberItem" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="expenseItem">
    	<xs:sequence>
    		<xs:element name="TYPE" type="xs:string"/>
    		<xs:element name="AMOUNT" type="xs:decimal"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="expenseItemsCollection">
    	<xs:sequence>
    		<xs:element name="EXPENSE_ITEM" type="tns:expenseItem" minOccurs="1" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="expenseItemResponse">
    	<xs:sequence>
    		<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
    		<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
    		<xs:element name="TRANSACTION_REFERENCE" type="xs:string" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="expenseItemsCollectionResponse">
    	<xs:sequence>
    		<xs:element name="EXPENSE_ITEM" type="tns:expenseItemResponse" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
      
    <xs:complexType name="disbursementItem">
    	<xs:sequence>
    		<xs:element name="PRODUCT_TYPE" type="xs:string"/>
    		<xs:element name="PRODUCT_NUMBER" type="xs:string"/>
    		<xs:element name="PRODUCT_CURRENCY" type="xs:string"/>
    		<xs:element name="AMOUNT" type="xs:decimal"/>
    		<xs:element name="ADDITIONAL_DATA" type="kvp:UnboundKvPair" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="disbursementDetails">
    	<xs:sequence>
    		<xs:element name="AGENCY_CODE" type="xs:string"/>
    		<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
    		<xs:element name="DISBURSEMENT_ITEM" type="tns:disbursementItem" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="disbursementItemResponse">
    	<xs:sequence>
    		<xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0"/>
    		<xs:element name="PRODUCT_NUMBER" type="xs:string" minOccurs="0"/>
    		<xs:element name="PRODUCT_CURRENCY" type="xs:string" minOccurs="0"/>
    		<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
    		<xs:element name="TRANSACTION_REFERENCE" type="xs:string" minOccurs="0"/>
    		<xs:element name="ADDITIONAL_DATA" type="kvp:UnboundKvPair" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="disbursementDetailsResponse">
    	<xs:sequence>
    		<xs:element name="DISBURSEMENT_ITEM" type="tns:disbursementItemResponse" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:element name="desembolsaPrestamo">		
        <xs:complexType>
			<xs:sequence>				
				<xs:element name="CUSTOMER_ID" type="xs:string"/>
				<xs:element name="LOAN_NUMBER" type="xs:string"/>
				<xs:element name="INPUTTER" type="xs:string"/>
				<xs:element name="EXPENSES_DETAILS" type="tns:expenseItemsCollection"/>
				<xs:element name="DISBURSEMENT_DETAILS" type="tns:disbursementDetails"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
    <xs:element name="desembolsaPrestamoResponse">		
        <xs:complexType>
			<xs:sequence>
				<xs:element name="EXPENSES_DETAILS" type="tns:expenseItemsCollectionResponse" minOccurs="0"/>
				<xs:element name="DISBURSEMENT_DETAILS" type="tns:disbursementDetailsResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
</xs:schema>