Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/errorHandling/ActualizarRegistroErrorHandling/actualizarRegistroErrorHandlingTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizarRegistroErrorHandlingTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/actualizarRegistroErrorHandlingTypes">
	
	
	<xs:element name="actualizarRegistroErrorHandling">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RECORD_ID" type="xs:string"/>
				<xs:element name="NEW_STATUS" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="actualizarRegistroErrorHandlingResponse" />
	
</xs:schema>