Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/BloqueoCTA/wsdl/bloqueoCTAPS.wsdl

<wsdl:definitions name="bloqueoCTAPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/bloqueoCTAPS/" xmlns:bcta="http://www.ficohsa.com.hn/middleware.services/bloqueoCTAPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" schemaLocation="../../GestionesTarjetas/xsd/gestionesTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="bloqueoCTARequest">
		<wsdl:part element="tns:bloqueoCTA" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="bloqueoCTAResponse">
		<wsdl:part element="tns:bloqueoCTAResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="bloqueoCTAPS">
		<wsdl:operation name="bloqueoCTA" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="bcta:bloqueoCTARequest"/>
			<wsdl:output message="bcta:bloqueoCTAResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="bloqueoCTAPSSOAP" type="bcta:bloqueoCTAPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="bloqueoCTA">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="bcta:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="bcta:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="bloqueoCTAPS">
		<wsdl:port binding="bcta:bloqueoCTAPSSOAP" name="bloqueoCTAPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/BloqueoCTA/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>