Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/BusinessServices/AbanksGT/ConsPrestamo/xsd/MCConsPrestamo_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MCConsPrestamo" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MCConsPrestamo" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_LOAN_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_LOAN_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CUSTOMER_ID" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NAME" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CURRENCY" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_REQUIRED_AMOUNT" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_DUE_AMOUNT" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PT_INSTALLMENTS" type="db:PROXYABANKSGT.T_INSTALLMENTS" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ESTADO" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ESTADO" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.T_BALANCES">
      <sequence>
         <element name="BALANCE_ITEM" type="db:PROXYABANKSGT.R_BALANCE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_INSTALLMENTS">
      <sequence>
         <element name="PT_INSTALLMENTS_ITEM" type="db:PROXYABANKSGT.R_INSTALLMENT" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_INSTALLMENT">
      <sequence>
         <element name="ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TOTAL_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MATURITY_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="PAST_DUE" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BALANCE" type="db:PROXYABANKSGT.T_BALANCES" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_BALANCE">
      <sequence>
         <element name="TYPE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>
