Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaMovimientosCuentaRep/xsd/ConsultaMovimientosCuentaRep.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsultaMovimientosCuentaRepType" 
xmlns:cons="http://www.ficohsa.com.hn/middleware.services/ConsultaMovimientosCuentaRepType">


<!-- request -->
	<xs:element name="consultaMovimientosCuentaRep">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
				<xs:element name="BEGIN_DATE" type="xs:string" />
				<xs:element name="END_DATE" type="xs:string" />
				<xs:element name="ENTRY_RANGE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="TODAY"/>
							<xs:enumeration value="LAST_STMT"/>
							<xs:enumeration value="FREE_RANGE"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAGING_INFO" type="cons:pagingInfo" minOccurs="1" maxOccurs="1"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="pagingInfo">
		<xs:sequence>
			<xs:element name="PAGING">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INITIAL_RECORD" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RECORD_COUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TICKET" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

<!-- response -->
<xs:element name="consultaMovimientosCuentaRepResponse" type="cons:consultaMovimientosCuentaRepResponse" />

	<xs:complexType name="consultaMovimientosCuentaRepResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="STARTING_BALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="ENDING_BALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="START_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="END_DATE" type="xs:string" minOccurs="0" />		
			<xs:element name="DEBIT_COUNT" type="xs:string" minOccurs="0" />
			<xs:element name="CREDIT_COUNT" type="xs:string" minOccurs="0" />
			<xs:element name="DEBIT_TOTAL_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="CREDIT_TOTAL_AMOUNT" type="xs:string" minOccurs="0" />		
			<xs:element name="RECORDS_INFO" type="cons:recordsInfo" minOccurs="0" maxOccurs="1" />
			<xs:element name="consultaMovimientosCuentaRepResponseType" minOccurs="0" form="qualified">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaMovimientosCuentaRepResponseRecordType" minOccurs="0" maxOccurs="unbounded" form="qualified">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="REF_NO" type="xs:string" minOccurs="0" />
									<xs:element name="VALUE_DATE" type="xs:string" minOccurs="0" />
									<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
									<xs:element name="TXN_DESCRIPTION_ALL" type="xs:string" minOccurs="0" />
									<xs:element name="DOCUMENT_NUMBER" type="xs:string" minOccurs="0" />
									<xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
									<xs:element name="CAUSE" type="xs:string" minOccurs="0" />
									<xs:element name="TXN_CODE" type="xs:string" minOccurs="0" />
									<xs:element name="TXN_AGN_CODE" type="xs:string" minOccurs="0" />
									<xs:element name="TXN_AGN_NAME" type="xs:string" minOccurs="0" />
									<xs:element name="COUNTABLE_BALANCE" type="xs:string" minOccurs="0" />
									<xs:element name="INITIAL_BALANCE_SIGN" type="xs:string" minOccurs="0" />
									<xs:element name="DEPOSITOR" type="xs:string" minOccurs="0" />
									<xs:element name="REFERENCE" type="xs:string" minOccurs="0" />
									<xs:element name="RUNNING_BALANCE" type="xs:string" minOccurs="0" />
									<xs:element name="SIGN" type="xs:string" minOccurs="0" />
									<xs:element name="SSN_BRANCH" type="xs:string" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="recordsInfo">
		<xs:sequence>
			<xs:element name="INITIAL_RECORD" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="RECORDS_RETURNED" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="RECORDS_TOTAL" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="TICKET" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>


</xs:schema>