Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/EnvioCorreoElectronico/xsd/envioCorreoElectronicoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/envioCorreoElectronicoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/envioCorreoElectronicoTypes">

	<!-- stringMinLength1 -->

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- listType -->
	
	<xs:simpleType name="listType">
		<xs:restriction base="xs:string">
			  <xs:enumeration value="OPEN_TRACKING"/>
              <xs:enumeration value="CLICK_TRACKING"/>
              <xs:enumeration value="TEXT_HTML_TRACKING"/>
			  <xs:enumeration value="AUTO_TEXT_BODY"/>
			  <xs:enumeration value="PERSONALIZATION"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- valueType -->
	
	<xs:simpleType name="valueType">
		<xs:restriction base="xs:string">
			  <xs:enumeration value="true"/>
              <xs:enumeration value="false"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- addressFormatType -->
	
	<xs:simpleType name="formatAddressType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})" >
	        </xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- fromType -->

	<xs:complexType name="fromType">
        <xs:sequence>
            <xs:element name="NAME" type="tns:stringMinLength1" />
            <xs:element name="ADDRESS" type="tns:formatAddressType" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- destinationType -->
    
    <xs:complexType name="destinationType">
        <xs:sequence>
        	<xs:element name="ADDRESS" type="tns:formatAddressType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- messageType -->
    
    <xs:complexType name="messageType">
        <xs:sequence>
        	<xs:element name="SUBJECT" type="xs:string" minOccurs="0" />
        	<xs:element name="CLASSIFICATION" type="tns:stringMinLength1" />
        	<xs:element name="BASED_ON" type="tns:basedOnType" minOccurs="0"/>
        	<xs:element name="BODY" type="tns:bodyType" />
			<xs:element name="ATTACHMENTS" type="tns:attachmentsType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- basedOnType -->
    
    <xs:complexType name="basedOnType">
        <xs:sequence>
        	<xs:element name="ID" type="tns:stringMinLength1" />
        	<xs:element name="TYPE" type="tns:stringMinLength1" />
        </xs:sequence>
    </xs:complexType>
	
	<!-- bodyType -->
	
	<xs:complexType name="bodyType">
        <xs:sequence>
        	<xs:element name="FORMAT" type="tns:stringMinLength1" />
        	<xs:element name="VALUE" type="tns:stringMinLength1" />
        	<xs:element name="VARIABLES" type="tns:variablesType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- variablesType -->
    
    <xs:complexType name="variablesType">
        <xs:sequence>
        	<xs:element name="VARIABLE" type="tns:variableType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- variableType -->
    
    <xs:complexType name="variableType">
        <xs:sequence>
        	<xs:element name="NAME" type="tns:stringMinLength1" />
        	<xs:element name="VALUE" type="tns:stringMinLength1" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="optionType">
        <xs:sequence>
        	<xs:element name="NAME" type="tns:listType" />
        	<xs:element name="VALUE" type="tns:valueType" />
        </xs:sequence>
    </xs:complexType>
	
	<!-- attachmentsType -->
	
	<xs:complexType name="attachmentsType">
        <xs:sequence>
        	<xs:element name="ATTACHMENT" type="tns:attachmentType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- attachmentType -->
    
    <xs:complexType name="attachmentType">
        <xs:sequence>
        	<xs:element name="FILENAME" type="tns:stringMinLength1" />
        	<xs:element name="ENCODE" type="tns:stringMinLength1" />
        	<xs:element name="SIZE" type="tns:stringMinLength1" />
        	<xs:element name="VALUE" type="tns:stringMinLength1" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- optionsType -->
    
    <xs:complexType name="optionsType">
        <xs:sequence>
        	<xs:element name="OPTION" type="tns:optionType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
	
	<!--################################################--> 
    <!--OPERACION: ENVIO MENSAJE UNICO -->
    <!--################################################-->    
	
	<xs:element name="envioMensajeUnico">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FROM" type="tns:fromType" />
				<xs:element name="DESTINATION" type="tns:destinationType" />
				<xs:element name="DESTINATION_CC" type="tns:destinationType" minOccurs="0" />
				<xs:element name="DESTINATION_BCC" type="tns:destinationType" minOccurs="0" />
				<xs:element name="MESSAGE" type="tns:messageType" />
				<xs:element name="OPTIONS" type="tns:optionsType" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--################################################--> 
    <!--OPERACION: ENVIO MENSAJE UNICO RESPONSE-->
    <!--################################################-->
	
	<xs:element name="envioMensajeUnicoResponse" />
	
    	<!--################################################--> 
    <!--OPERACION: ENVIO CORREO ELECTRONICO -->
    <!--################################################-->    
	
	<xs:element name="envioCorreoElectronico">
		<xs:complexType>
			<xs:sequence>
		        <xs:element name="DOCUMENT_TYPE">                                               
			     <xs:simpleType>
                   <xs:restriction base="xs:string">
                      <xs:enumeration value="D"/>
                      <xs:enumeration value="N"/>
                  </xs:restriction>
                </xs:simpleType>
			    </xs:element>
				<xs:element name="DOCUMENT_NUMBER" type="xs:string"/>
				<xs:element name="OTP_CODE" type="xs:string"/>
				<xs:element name="URL_ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--################################################--> 
    <!--OPERACION: ENVIO CORREO ELECTRONICO RESPONSE-->
    <!--################################################-->
	
	<xs:element name="envioCorreoElectronicoResponse"/>
    
</xs:schema>