Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/BloqueoAnticipoCTA/xsd/bloqueaAnticipoCuentaTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/bloqueaAnticipoCuentaTypes"
    xmlns:bcta="http://www.ficohsa.com.hn/middleware.services/bloqueaAnticipoCuentaTypes" >
    
    <!-- StringType min1-->
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
    
    <xs:simpleType name="productType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AHO"/>
            <xs:enumeration value="CHQ"/>
            <xs:enumeration value="DEP"/>
            <xs:enumeration value="FPC"/>
        </xs:restriction>
    </xs:simpleType>
    
  <xs:element name="bloqueaAnticipoCuenta">  
    <xs:complexType>
        <xs:sequence>
            <xs:element name="PRODUCT_NUMBER" type="bcta:stringMinLength1" />
            <xs:element name="PRODUCT_TYPE" type="bcta:productType"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="bloqueaAnticipoCuentaResponse">   
    <xs:complexType>
        <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
            <xs:element name="CURRENCY " type="xs:string" minOccurs="0"/>
            <xs:element name="PRODUCT_NUMBER" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>        
            
</xs:schema>