Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/RegistrarLiqFondosExt/registrarLiqFondosExt_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registrarLiqFondosExt" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registrarLiqFondosExt" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_REFERENCIAPAGO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_AGENCIA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIOPAGO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPOPAGO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROCHEQUE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>                        
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_NOMBRECONT" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODCLIENTEBANCO" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MONTOTOTAL" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CUENTASCONT" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CUENTASFICOHSA" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_ERROR" type="decimal" db:index="12" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>