Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/CreditManagement/RequestorServices/WADL/CreditManagementRouter_PS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02" xmlns:ns0="http://www.ficohsa.com.hn/middleware.services/creditManagement" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:ns1="http://www.example.org">
  <doc title="GetConsolidatedCustomerRisk_PS">RestService</doc>
  <grammars>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/creditManagement" schemaLocation="../XSD/creditManagement.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/MWBanking/GetConsolidatedCustomerRisk_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getConsolidatedCustomerRisk_params">
        <complexType>
          <sequence>
            <element name="legalId" type="string"/>
            <element name="DestinationBank" type="string"/>
            <element name="ApplicationId" type="string"/>
            <element name="SourceBank" type="string"/>
            <element name="Language" type="string"/>
            <element name="Nit" type="string" minOccurs="0"/>
            <element name="FirstName" type="string" minOccurs="0"/>
            <element name="LastName" type="string" minOccurs="0"/>
            <element name="BirthDate" type="string" minOccurs="0"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCustomerSecondOffer" schemaLocation="../XSD/getCustomerSecondOffer.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/RefcreditManagement" schemaLocation="../XSD/RefcreditManagement.xsd"/>
    </xsd:schema>
  </grammars>
  <resources>
    <resource path="/risks/customers/{legalId}">
      <method name="GET" soa:wsdlOperation="getConsolidatedCustomerRisk">
        <request soa:paramElement="pns:getConsolidatedCustomerRisk_params" xmlns:pns="http://xmlns.oracle.com/MWBanking/GetConsolidatedCustomerRisk_PS">
          <param name="legalId" style="template" soa:expression="$msg.request/pns:legalId" type="xsd:string"/>
          <param name="DestinationBank" style="query" soa:expression="$msg.request/pns:DestinationBank" type="xsd:string"/>
          <param name="ApplicationId" style="query" soa:expression="$msg.request/pns:ApplicationId" type="xsd:string"/>
          <param name="SourceBank" style="query" soa:expression="$msg.request/pns:SourceBank" type="xsd:string"/>
          <param name="Language" style="query" soa:expression="$msg.request/pns:Language" type="xsd:string"/>
          <param name="Nit" style="query" soa:expression="$msg.request/pns:Nit" type="xsd:string"/>
          <param name="FirstName" style="query" soa:expression="$msg.request/pns:FirstName" type="xsd:string"/>
          <param name="LastName" style="query" soa:expression="$msg.request/pns:LastName" type="xsd:string"/>
          <param name="BirthDate" style="query" soa:expression="$msg.request/pns:BirthDate" type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getConsolidatedCustomerRiskResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/creditManagement"/>
        </response>
      </method>
    </resource>
    <resource path="/customer-offers">
      <method name="POST" soa:wsdlOperation="getCustomerOffers">
        <request>
          <representation mediaType="application/json" element="cns:getCreditOffersRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/creditManagement"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getCreditOffersResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/creditManagement"/>
        </response>
      </method>
    </resource>
    <resource path="/customer-secondoffer">
      <method name="POST" soa:wsdlOperation="getCustomerSecondOffer">
        <request>
          <representation mediaType="application/json" element="cns:getCustomerSecondOfferRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getCustomerSecondOffer"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getCustomerSecondOfferResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/getCustomerSecondOffer"/>
        </response>
      </method>
    </resource>
    <resource path="/ref-customer-offer">
      <method name="POST" soa:wsdlOperation="refGetCustomerOffer">
        <request>
          <representation mediaType="application/json" element="cns:getCreditOffersRequest" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/RefcreditManagement"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:getCreditOffersResponse" xmlns:cns="http://www.ficohsa.com.hn/middleware.services/RefcreditManagement"/>
        </response>
      </method>
    </resource>
  </resources>
</application>