Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/consultasCliente/consultaPasivosCliente/consultaPrestamos/ConsultaPrestamosCliente.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="ConsultaPrestamosCliente" xmlns:con="ConsultaPrestamosCliente" elementFormDefault="qualified">

    <element name="ConsultaPrestamoTypeRequest" type="con:ConsultaPrestamoRqType"></element>
    <element name="ConsultaPrestamoTypeResponse" type="con:ConsultaPrestamoRsType"></element>
    
    <complexType name="ConsultaPrestamoRqType">
    <sequence> 
    	<element name="AUTHENTICATION_PROXY" minOccurs="0" maxOccurs="1">
    	<complexType>       
    	<sequence>
    		<element name="USERNAME" type="string" maxOccurs="unbounded" minOccurs="1"></element>
    		<element name="PASSWORD" type="string" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    	</complexType>   	
    	</element>
    	<element name="AUTHENTICATION_T24" minOccurs="0" maxOccurs="1">
    	<complexType>       
    	<sequence>
    		<element name="USERNAME" type="string" maxOccurs="unbounded" minOccurs="1"></element>
    		<element name="PASSWORD" type="string" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    	</complexType>   	
    	</element> 
    	<element name="PARAMETERS" minOccurs="0" maxOccurs="1">    	
    	<complexType>       
    	<sequence>
    		<element name="CUSTOMERID" type="string" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    	</complexType>   	
    	</element>
    </sequence>	
    </complexType>
    
    <complexType name="ConsultaPrestamoRsType">
    	<sequence>
    		<element name="OVERALL_SUCCESS_INDICATOR" type="string" minOccurs="1" maxOccurs="1"/>
    		<element name="LOAN_DETAILS" type="con:ConsultaPrestamoRsRecordsType" minOccurs="1" maxOccurs="1"/>
    	</sequence>
    </complexType>
    
    <complexType name="ConsultaPrestamoRsRecordsType">
    	<sequence>
    		<element name="LOAN_DETAIL" type="con:ConsultaPrestamoRsRecordType" minOccurs="0" maxOccurs="unbounded"/>
    	</sequence>
    </complexType>
    
    <complexType name="ConsultaPrestamoRsRecordType">
    	<sequence>
    		<element name="RESPONSE_HEADER" minOccurs="0" maxOccurs="1">
    	<complexType>       
    	<sequence>
    		<element name="SUCCESS_INDICATOR" type="string" minOccurs="1"></element>    		
    	</sequence>
    	</complexType>   	
    	</element> 
    	<element name="RESPONSE_BODY" minOccurs="0" maxOccurs="1">    	
    	<complexType>       
    	<sequence>
    		<element name="LOAN_ID" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="LOAN_CUSTOMER_NAME" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="EFFECTIVE_DATE" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="MATURITY_DATE" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="INTEREST_RATE" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="PRINCIPAL_INITIAL_AMT" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="PRINCIPAL_DUE_AMT" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="PRINCIPAL_OVERDUE_AMT" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="INTEREST_AMOUNT" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="OVERDUE_INTEREST_AMOUNT" type="string" minOccurs="0" maxOccurs="1"></element>    		    
    		<element name="COMISION_AMOUNT" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="TOTAL_DEBT" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="NEXT_PAYMNT_ID" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="NEXT_PAYMNT_MATURITY_DATE" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="OVERDUE_PAYMENTS" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="NEXT_PAYMNT_PRINCIPAL_AMT" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="NEXT_PAYMNT_INTEREST_AMT" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="NEXT_PAYMNT_INSURANCE_AMT" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="NEXT_PAYMNT_TOTAL_AMT" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="CURRENCY" type="string" minOccurs="0" maxOccurs="1"></element>    		
    	</sequence>
    	</complexType>   	
    	</element>
       	</sequence>
    </complexType>
</schema>