Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/MoneyTransferOperations/xsd/MoneyTransferOperationsTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/moneyTransferOperationsTypes" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mon="http://www.ficohsa.com.hn/middleware.services/moneyTransferOperationsTypes" xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes"> 

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes" schemaLocation="../../General/xsd/GeneralTypes.xsd"/>

	<!-- Inward Remittance Query -->
	<xs:element name="inwardRemitQuery" type="mon:inwardRemitQueryType"/>
	
	<xs:complexType name="inwardRemitQueryType">
		<xs:sequence>
			<xs:element name="REMIT_COMPANY_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="REMITTANCE_ID" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BENEFICIARY" type="mon:infoIdentificationType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>				
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="infoIdentificationType">
		<xs:sequence>
			<xs:element name="TYPE_ID" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NUMBER_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="inwardRemitQueryResponse" type="mon:inwardRemitQueryRspType"/>
	
	<xs:complexType name="inwardRemitQueryRspType">
		<xs:sequence>
			<xs:element name="REMIT_COMPANY_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="REMIT_COMPANY_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="REMITTANCE_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="REMITTANCE_STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>	
			<xs:element name="REMITTANCE_DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SENDER_AMOUNT" type="gen:remittanceAmountType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RECEIVER_AMOUNT" type="gen:remittanceAmountType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EXCHANGE_RATE" type="gen:remittanceExchangeRateType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SENDER_INFO" type="gen:personalInformation1Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RECEIVER_INFO" type="gen:personalInformation2Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRX_REQUIRES_ESPECIAL_IVE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RESPONSE_CODE" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RESPONSE_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>

	<!-- Inward Remittance Payment -->
	<xs:element name="inwardRemitPayment" type="mon:inwardRemitPaymentType"/>
	
	<xs:complexType name="inwardRemitPaymentType">
		<xs:sequence>
			<xs:element name="REMITT_COMPANY_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="REMITTANCE_ID" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ABANKS_CUSTOMER_ID" type="xs:integer" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="PAYMENT" type="gen:paymentType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="inwardRemitPaymentResponse" type="mon:remitPaymentRspType"/>
	
	<xs:complexType name="remitPaymentRspType">
		<xs:sequence>
			<xs:element name="SEQUENCY" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType" minOccurs="0" maxOccurs="1"/>				
			<xs:element name="RESPONSE_CODE" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RESPONSE_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
	
	<!-- Outward Remittance Payment -->
	<xs:element name="outwardRemitPayment" type="mon:outwardRemitPaymentType"/>
	
	<xs:complexType name="outwardRemitPaymentType">
		<xs:sequence>
			<xs:element name="REMITT_COMPANY_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SENDER_INFO" type="mon:infoIdentificationType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BENEFICIARY_INFO" type="gen:beneficiaryInfoType" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="PAYMENT" type="gen:paymentType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="outwardRemitPaymentResponse" type="mon:outwardRemitPaymentRspType"/>
			
	<xs:complexType name="outwardRemitPaymentRspType">
		<xs:sequence>
			<xs:element name="REMITT_COMPANY_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="REMITT_COMPANY_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="REMITTANCE_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>			
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SENDER_AMOUNT" type="gen:remittanceAmountType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RECEIVER_AMOUNT" type="gen:remittanceAmountType" minOccurs="0" maxOccurs="1"/>			
			<xs:element name="EXCHANGE_RATE" type="gen:exchangeRateType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SENDER_INFO" type="gen:personalInformation2Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BENEFICIARY_INFO" type="gen:personalInformation1Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RESPONSE_CODE" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RESPONSE_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>	
		</xs:sequence>
	</xs:complexType>
	
	
	<!-- Create Customer Profile -->
	<xs:element name="createCustomerProfile" type="mon:createCustomerProfileType"/>
	
	<xs:complexType name="createCustomerProfileType">
		<xs:sequence>			
			<xs:element name="ID_CUSTOMER" type="mon:infoCustomer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIRST_NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MIDDLE_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LAST_NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LAST_NAME2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MARRIED_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DATE_OF_BIRTH" type="xs:string" minOccurs="0" maxOccurs="1"/>	
			<xs:element name="OCCUPATION" type="gen:ocupationType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PHONES" type="gen:phonesType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CUSTOMER_TYPE" type="gen:customerType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ADDRESSES" type="gen:addressType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>	
		</xs:sequence>
	</xs:complexType>

	<xs:element name="createCustomerProfileResponse" type="mon:createCustomerProfileRspType"/>
			
	<xs:complexType name="createCustomerProfileRspType">
		<xs:sequence>			
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RESPONSE_CODE" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RESPONSE_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>							
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="infoCustomer">
		<xs:sequence>
			<xs:element name="ID_TYPE" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="COUNTRY_ISSUE" type="mon:infoCountry" minOccurs="1" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="infoCountry">
		<xs:sequence>
			<xs:element name="ID_COUNTRY" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>					
		</xs:sequence>
	</xs:complexType>
	
	<!-- Local Transfer Query -->
	<xs:element name="localTransferQuery" type="mon:localTransferQueryType"/>
	
	<xs:complexType name="localTransferQueryType">
		<xs:sequence>
			<xs:element name="TRANSFER_ID" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BENEFICIARY_ID" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="localTransferQueryResponse" type="mon:localTransferQueryRspType"/>
	
	<xs:complexType name="localTransferQueryRspType">
		<xs:sequence>
			<xs:element name="TRANSFER_ID" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="REMITTER_NAME" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BENEFICIARY_NAME" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AMOUNT" type="gen:amountType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Local Transfer Payment -->
	<xs:element name="localTransferPayment" type="mon:localTransferPaymentType"/>
	
	<xs:complexType name="localTransferPaymentType">
		<xs:sequence>
			<xs:element name="TRANSFER_ID" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BENEFICIARY_ID" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AMOUNT" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PAYMENT" type="gen:paymentType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="localTransferPaymentResponse" type="mon:localTransferRecordType"/>

	<!-- Local Transfer Sale -->
	<xs:element name="localTransferSale" type="mon:localTransferSaleType"/>
	
	<xs:complexType name="localTransferSaleType">
		<xs:sequence>
			<xs:element name="BENEFICIARY_ID" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="REMITTER_NAME" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BENEFICIARY_NAME" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AMOUNT" type="gen:amountType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PAYMENT" type="gen:paymentType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="localTransferSaleResponse" type="mon:localTransferRecordType"/>	
	
	<xs:complexType name="localTransferRecordType">
		<xs:sequence>
			<xs:element name="TRANSFER_ID" type="gen:stringMinLength1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="REMITTER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="gen:currencyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AMOUNT" type="gen:amountType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Reversal Remit Payment -->
	<xs:element name="reversalRemitPayment" type="mon:reversalRemitPaymentType"/>
	
	<xs:complexType name="reversalRemitPaymentType">
		<xs:sequence>
			<xs:element name="TRANSACTION_ID" type="gen:transactionIdType" />			
			<xs:element name="NSO_INFO" type="gen:nsoInfoType" />				
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="reversalRemitPaymentResponse" type="mon:reversalRemitPaymentRspType"/>
	
	<xs:complexType name="reversalRemitPaymentRspType">
		<xs:sequence>
			<xs:element name="SEQUENCY" type="xs:integer" minOccurs="0"/>				
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType" minOccurs="0"/>
			<xs:element name="RESPONSE_CODE" type="xs:integer" minOccurs="0"/>
			<xs:element name="RESPONSE_MESSAGE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>