Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/Resources/RegistraCliente/xsd/T24FicoTSPServices2-T24NewCustomer.xsd

<xsd:schema targetNamespace="http://www.temenos.com/T24/event/T24FicoTSPServices2/T24NewCustomer" elementFormDefault="qualified" xmlns="http://www.temenos.com/T24/event/T24FicoTSPServices2/T24NewCustomer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"><xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="Common-EventCommon.xsd"/><xsd:element name="T24NewCustomer"><xsd:complexType><xsd:sequence><xsd:element ref="eventCommon" minOccurs="1" maxOccurs="1"/><xsd:element ref="id" minOccurs="0" maxOccurs="1"/><xsd:element ref="sector" minOccurs="0" maxOccurs="1"/><xsd:element ref="legalId" minOccurs="0" maxOccurs="1"/><xsd:element ref="legalDocName" minOccurs="0" maxOccurs="1"/><xsd:element ref="givenNames" minOccurs="0" maxOccurs="1"/><xsd:element ref="familyName" minOccurs="0" maxOccurs="1"/><xsd:element ref="nameOfBusiness" minOccurs="0" maxOccurs="1"/><xsd:element ref="commercialName" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="eventCommon" type="ns0:EventCommon"/><xsd:element name="id" type="xsd:string"/><xsd:element name="sector" type="xsd:string"/><xsd:element name="legalId" type="xsd:string"/><xsd:element name="legalDocName" type="xsd:string"/><xsd:element name="givenNames" type="xsd:string"/><xsd:element name="familyName" type="xsd:string"/><xsd:element name="nameOfBusiness" type="xsd:string"/><xsd:element name="commercialName" type="xsd:string"/></xsd:schema>