Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/listadoPlanillasProveedores/Resources/listadoPlanillasProveedores.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_890287086.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_596884079.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="ConsultaListadoGrupoPlanilla">
<part name="parameters" element="tns:ConsultaListadoGrupoPlanilla"/>
</message>
<message name="ConsultaListadoGrupoPlanillaResponse">
<part name="parameters" element="tns:ConsultaListadoGrupoPlanillaResponse"/>
</message>
<message name="Consultadeplanillas">
<part name="parameters" element="tns:Consultadeplanillas"/>
</message>
<message name="ConsultadeplanillasResponse">
<part name="parameters" element="tns:ConsultadeplanillasResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="ConsultaListadoGrupoPlanilla">
<input message="tns:ConsultaListadoGrupoPlanilla"/>
<output message="tns:ConsultaListadoGrupoPlanillaResponse"/>
</operation>
<operation name="Consultadeplanillas">
<input message="tns:Consultadeplanillas"/>
<output message="tns:ConsultadeplanillasResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaListadoGrupoPlanilla">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadeplanillas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwdesatgu:7003/svcBeneficiarios/services"/>
</port>
</service>
</definitions>