Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/SJS/pagoMultipleRecaudo/xsd/sjPagoMultipleRecaudo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjPagoMultipleRecaudo"
	xmlns:envi="http://www.ficohsa.com.hn/middleware.services/sjPagoMultipleRecaudo">

	<xs:complexType name="DEBTOR_REQUEST_TYPE">
        <xs:sequence>
            <xs:element name="DEBTOR_CODE" type="xs:string" />
            <xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0" />
            <xs:element name="BILLS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="BILL"  type="envi:BILL_REQUEST_TYPE" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BILL_REQUEST_TYPE">
        <xs:sequence>
            <xs:element name="BILL_NUMBER" type="xs:string" minOccurs="0" />
            <xs:element name="DUE_DATE" type="xs:string" minOccurs="0" />
            <xs:element name="PAYMENT_INFORMATION" type="envi:PAYMENT_INFORMATION_TYPE" />
            <xs:element name="EXTENDED_COLLECTION_YES_NO" type="xs:string" minOccurs="0" />
            <xs:element name="DEALSLIP_PICKUP_BRANCH" type="xs:string" minOccurs="0" />
            <xs:element name="ADDITIONAL_INFO" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DATA" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="PAYMENT_INFORMATION_TYPE">
        <xs:sequence>
            <xs:element name="PAYMENT_METHOD" type="xs:string" />
            <xs:element name="PAYMENT_CURRENCY" type="xs:string" />
            <xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0" />
            <xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
            <xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
            <xs:element name="BANK_CODE" type="xs:string" minOccurs="0" />
            <xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" />
            <xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

	<xs:element name="sjPagoMultipleRecaudo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" type="xs:string" />
				<xs:element name="PASSWORD" type="xs:string" />
				<xs:element name="SOURCE_BANK" type="xs:string" />
				<xs:element name="DESTINATION_BANK" type="xs:string" />
				<xs:element name="AGREEMENTS">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AGREEMENT" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0" />
                                        <xs:element name="DEBTORS">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="DEBTOR" type="envi:DEBTOR_REQUEST_TYPE" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>





	<xs:element name="sjPagoMultipleRecaudoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SUCCESS_INDICATOR" type="xs:string" />
				<xs:element name="ERROR_MESSAGE" type="xs:string"
					minOccurs="0" />
				<xs:element name="AGREEMENTS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AGREEMENT" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CONTRACT_ID" type="xs:string"
											minOccurs="0" />
										<xs:element name="CONTRACT_NAME" type="xs:string"
											minOccurs="0" />
										<xs:element name="DEBTOR_CODE" type="xs:string" />
										<xs:element name="DEBTOR_NAME" type="xs:string"
											minOccurs="0" />
										<xs:element name="INPUTTER" type="xs:string"
											minOccurs="0" />
										<xs:element name="TRANSACTION_ID" type="xs:string"
											minOccurs="0" />
										<xs:element name="DATE_TIME" type="xs:string"
											minOccurs="0" />
										<xs:element name="BRANCH_NAME" type="xs:string"
											minOccurs="0" />
										<xs:element name="BILL_NUMBER" type="xs:string"
											minOccurs="0" />
										<xs:element name="PAYMENT_INFORMATION" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PAYMENT_METHOD" type="xs:string" />
													<xs:element name="PAYMENT_CURRENCY" type="xs:string" />
													<xs:element name="PAYMENT_AMOUNT" type="xs:string"
														minOccurs="0" />
													<xs:element name="DEBIT_ACCOUNT" type="xs:string"
														minOccurs="0" />
													<xs:element name="CHEQUE_NUMBER" type="xs:string"
														minOccurs="0" />
													<xs:element name="BANK_CODE" type="xs:string"
														minOccurs="0" />
													<xs:element name="CREDIT_CARD_NUMBER" type="xs:string"
														minOccurs="0" />
													<xs:element name="EXPIRATION_DATE" type="xs:string"
														minOccurs="0" />
													<xs:element name="BILL_NUMBER" type="xs:string"
														minOccurs="0" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="BILL_DETAIL" type="xs:string"
											minOccurs="0" />
										<xs:element name="SUCCESS_INDICATOR" type="xs:string" />
										<xs:element name="ERROR_MESSAGE" type="xs:string"
											minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>





</xs:schema>