Fuentes/ficohsacore-osb-7e5cceccb837/MWHostToHost/v1/Resources/ConsultaComisionesH2H/xsd/consultaComisionesH2HTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaComisionesH2HTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaComisionesH2HTypes">
	
	<xs:complexType name = "consultaComisionesResponseH2HType">
		<xs:sequence>
           		<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaComisionesH2HRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTION_TYPE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="INTERNATIONAL"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMER_ID" type="xs:string"/>
				<xs:element name="SOURCE_CURRENCY" type="xs:string" />
				<xs:element name="DESTINATION_CURRENCY" type="xs:string" minOccurs="0" />
				
				<xs:element name="ADDITIONAL_INFO" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="INFO" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NAME" type="xs:string" minOccurs="0" />
										<xs:element name="VALUE" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaComisionesH2HResponse" type="cons:consultaComisionesResponseH2HType"/>
	
</xs:schema>