Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/ValidaClienteAbanks/ValidaClienteAbanks_BS_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ValidaClienteAbanks_BS"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ValidaClienteAbanks_BS" elementFormDefault="qualified">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element name="PN_CODIGO_CLIENTE" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="PV_NUMERO_IDENTIFICACION" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element name="PV_REGISTRADO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="PV_ESTADO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="PV_RETURN_CODE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="PV_RETURN_MESSAGE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
</schema>