Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/RegistraLoteExterno/xsd/registraLoteExternoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/registraLoteExternoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/registraLoteExternoTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="registraLoteExternoResponse">
		<xs:complexType>
			<xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	
	<xs:element name="registraLoteExterno">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="DOCUMENT_TYPE" type="tns:stringMinLength1"/>
				<xs:element name="LEGAL_ID" type="tns:stringMinLength1"/>
				<xs:element name="CUSTOMER_ID" type="tns:stringMinLength1"/>
				<xs:element name="TYPE" type="xs:integer" minOccurs="1" maxOccurs="1"/>  	
				<xs:element name="BANK_BATCH_ID" type="tns:stringMinLength1"/>
				<xs:element name="UPLOAD_DATE" type="xs:date" minOccurs="1" maxOccurs="1"/>  
				<xs:element name="APPLICATION_DATE" type="xs:dateTime"/>  
				<xs:element name="AUTHORIZATION_REQUIRED">
					<xs:simpleType>
						<xs:restriction base="tns:stringMinLength1">
							<xs:pattern value="YES|NO"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>	
				<xs:element name="NOTIFICATION_EMAIL" type="xs:string" minOccurs="0" />  
				<xs:element name="CONCEPT" type="xs:string" minOccurs="0" />  
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>