Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/v2/BussinessServices/OperacionesCriptograficas/wsdl/OperacionesCriptograficas_1.wsdl

<WL5G3N0:definitions name="operacionesCriptograficas" targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:aut="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:crip="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/OperacionesCriptograficas.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:aut="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:crip="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasTypes" schemaLocation="../xsd/OperacionesCriptograficas_1.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="cifrarDatos">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
    <WL5G3N0:part element="WL5G3N2:cifrarDatos" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="cifrarDatosResponse">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
    <WL5G3N0:part element="WL5G3N2:cifrarDatosResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="descifrarDatos">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
    <WL5G3N0:part element="WL5G3N2:descifrarDatos" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="descifrarDatosResponse">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
    <WL5G3N0:part element="WL5G3N2:descifrarDatosResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="generarHash">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
    <WL5G3N0:part element="WL5G3N2:generarHash" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="generarHashResponse">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
    <WL5G3N0:part element="WL5G3N2:generarHashResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="procesaMultipleDatos">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
    <WL5G3N0:part element="WL5G3N2:procesaMultipleDatos" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="procesaMultipleDatosResponse">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
    <WL5G3N0:part element="WL5G3N2:procesaMultipleDatosResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="operacionesCriptograficasPS">
    <WL5G3N0:operation name="cifrarDatos" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:cifrarDatos"/>
      <WL5G3N0:output message="WL5G3N3:cifrarDatosResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="descifrarDatos" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:descifrarDatos"/>
      <WL5G3N0:output message="WL5G3N3:descifrarDatosResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="generarHash" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:generarHash"/>
      <WL5G3N0:output message="WL5G3N3:generarHashResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="procesaMultipleDatos" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:procesaMultipleDatos"/>
      <WL5G3N0:output message="WL5G3N3:procesaMultipleDatosResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="operacionesCriptograficasPSSOAP" type="WL5G3N3:operacionesCriptograficasPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="cifrarDatos">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasPS/cifrarDatos"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:cifrarDatos" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:cifrarDatosResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="descifrarDatos">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasPS/descifrarDatos"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:descifrarDatos" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:descifrarDatosResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="generarHash">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasPS/generarHash"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:generarHash" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:generarHashResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="procesaMultipleDatos">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasPS/procesaMultipleDatos"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:procesaMultipleDatos" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:procesaMultipleDatosResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="operacionesCriptograficasPS">
    <WL5G3N0:port binding="WL5G3N3:operacionesCriptograficasPSSOAP" name="operacionesCriptograficasPSSOAP">
      <WL5G3N4:address location="https://mwomnicanal:8004/Middleware/BussinessSupport/ITManagement/SystemsOperations/OperacionesCriptograficas"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>