Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/RequestorServices/ProxyServices/v1.0/GetCustomerLiabilities/XSD/GetLoanDetailsHN_SJ.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/getLoanDetailsHN_SJ" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/getLoanDetailsHN_SJ" elementFormDefault="qualified" >
	
	<xs:element name="getLoanDetailsHN_SJRequest">
		<xs:complexType>
			<xs:sequence>
                                <xs:element name="LOANS" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="LOAN_ID" type="xs:string" maxOccurs="unbounded" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
				<xs:element name="SOURCE_BANK" type="xs:string" />				
				<xs:element name="DESTINATION_BANK" type="xs:string" />			
				<xs:element name="APPLICATION_ID" type="xs:string" />
				<xs:element name="LANGUAGE" type="xs:string" />
				<xs:element name="UUID" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>		

	<xs:element name="getLoanDetailsHN_SJResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="consultaListaPrestamosResponse" type="cons:consultaListaPrestamosResponseType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="consultaListaPrestamosResponseType">
		<xs:sequence>
			<xs:element name="successIndicator" type="xs:string" minOccurs="0" />
			<xs:element name="messages" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LiabilityNumber" type="xs:string" minOccurs="0" />
			<xs:element name="LiabilityName" type="xs:string" minOccurs="0" />
			<xs:element name="Currency" type="xs:string" minOccurs="0" />
			<xs:element name="PrincipalAmount" type="xs:double" minOccurs="0" />
			<xs:element name="InterestComAmount" type="xs:double" minOccurs="0" />
			<xs:element name="TotalAmount" type="xs:double" minOccurs="0" />
			<xs:element name="LiabilityTotalAmount" type="xs:double" minOccurs="0" />
			<xs:element name="PaymentDate" type="xs:date" minOccurs="0" />
			<xs:element name="TotalCancellationAmount" type="xs:double" minOccurs="0" />
                        <xs:element name="Status" type="xs:string" minOccurs="0"/>
                        <xs:element name="LiabilityIssuanceDate" type="xs:string" minOccurs="0"/>
                        <xs:element name="LiabilityType" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>