Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ColocacionExtraATM/xsd/colocacionExtraATMTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/colocacionExtraATMTypes" 
xmlns:tns="http://www.ficohsa.com.hn/middleware.services/colocacionExtraATMTypes">

	<xs:element name="colocacionExtraATMRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_CARD" type="xs:string" />
				<xs:element name="ATM_ID" type="xs:decimal" />
				<xs:element name="ATM_NAME" type="xs:string" />			
				<xs:element name="TRACE_ID" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- respuesta -->
	<xs:element name="colocacionExtraATMResponse">
		<xs:complexType>
	   		 <xs:sequence/>
		</xs:complexType>
	</xs:element>
</xs:schema>