Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/GestionesEstadoCuenta/xsd/gestionesEstadoCuentaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tri="http://www.ficohsa.com.hn/middleware.services/gestionesEstadoCuentaTypes"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionesEstadoCuentaTypes">

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="deliveryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01" />
			<xs:enumeration value="02" />
		</xs:restriction>
	</xs:simpleType>

	<!--############################### -->
	<!--OPERACION: Actualizar Datos Plantilla -->
	<!--############################### -->
	<xs:element name="actualizarDatosPlantilla">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BATCH_ID" type="tri:stringMinLength1" />
				<xs:element name="OPERATION_TYPE" type="tri:stringMinLength1" />
				<xs:element name="TABLE_NAME" type="tri:stringMinLength1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="actualizarDatosPlantillaResponse" />

	<!--############################### -->
	<!--OPERACION: Consulta Estado de Datos Plantilla -->
	<!--############################### -->
	<xs:element name="consultaEstadoDatosPlantilla">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BATCH_ID" type="xs:integer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaEstadoDatosPlantillaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BATCH_ID" type="xs:string" minOccurs="0" />
				<xs:element name="OPERATION_TYPE" type="xs:string" minOccurs="0" />
				<xs:element name="TABLE_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="STATUS" type="xs:string" minOccurs="0" />
				<xs:element name="PROCESS_DATE" type="xs:dateTime" minOccurs="0" />
				<xs:element name="CREATION_DATE" type="xs:dateTime"	minOccurs="0" />			
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>