Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/TENGO/GetCuentasDeExcepcion/xsd/ATB_PARAMETROS_CUENTAS_EXCEPCION_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ATB_PARAMETROS_CUENTAS_EXCEPCION" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ATB_PARAMETROS_CUENTAS_EXCEPCION" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_NUMERO_CUENTA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_EXISTE" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>