Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RegistraTransaccionLBTR/xsd/registraTransaccionLBTRTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/registraTransaccionLBTRTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/registraTransaccionLBTRTypes">
	<xs:element name="registraTransaccionLBTR">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BANK_ID" type="xs:string" />
				<xs:element name="REFERENCE_NUMBER" type="xs:string" />
				<xs:element name="ADDITION_DATE" type="xs:string" />
				<xs:element name="CORRELATIVE_FILE" type="xs:string" />
				<xs:element name="REGISTRATION_SEQUENCE" type="xs:string" />
				<xs:element name="PERSON_KIND" type="xs:string" />
				<xs:element name="ORDERING_NAME" type="xs:string" />
				<xs:element name="ACCOUNT_ORDERING" type="xs:string" />
				<xs:element name="ID_PERSON" type="xs:string" />
				<xs:element name="ACCOUNT_TYPE_ORDERING" type="xs:string" />
				<xs:element name="ORDERING_ADDRES" type="xs:string" />
				<xs:element name="DATE_BIRTH_ORDERING" type="xs:string" />
				<xs:element name="BENEFICIARY_NAME" type="xs:string" />
				<xs:element name="BENEFICIARY_ACCOUNT" type="xs:string" />
				<xs:element name="BENEFICIARY_ID" type="xs:string" />
				<xs:element name="BENEFICIARY_ADDRES" type="xs:string" />
				<xs:element name="TYPE_ACCOUNT_BENEFICIARY" type="xs:string" />
				<xs:element name="CURRENCY_CODE" type="xs:string" />
				<xs:element name="TRANSACTION_VALUE" type="xs:string" />
				<xs:element name="STATE" type="xs:string" />
				<xs:element name="NAME" type="xs:string" />
				<xs:element name="DATE" type="xs:string" />
				<xs:element name="CLIENT_CODE" type="xs:string" />
				<xs:element name="RETURN_DATE" type="xs:string" />
				<xs:element name="TRANSACTION_DETAILS" type="xs:string" />
				<xs:element name="ORIGIN_CATEGORY" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="registraTransaccionLBTRResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MESSAGE" type="xs:string" />
				<xs:element name="SUCCESS_INDICATOR" type="xs:string"
					minOccurs="0" />
				<xs:element name="MESSAGEID" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>