Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingGT/ProviderServices/XSD/GetAccountsList/GetAccountsList_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetAccountsList_BS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetAccountsList_BS" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CUSTOMER_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_TYPE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_ASSET_TYPE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_NUMBER" type="db:ORA_BANK.TOPLEVEL_TVARCHAR308" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_NAME" type="db:ORA_BANK.TOPLEVEL_TVARCHAR1009" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_CURRENCY" type="db:ORA_BANK.TOPLEVEL_TVARCHAR308" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_TYPE_OUT" type="db:ORA_BANK.TOPLEVEL_TVARCHAR308" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_TOTAL_BALANCE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR308" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_RESERVE_BALANCE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR308" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_LOCKED_BALANCE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR308" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_VISA_FLOATING_BALANCE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR308" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_AVAILABLE_BALANCE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR308" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_PRODUCT_TYPE" type="db:ORA_BANK.TOPLEVEL_TVARCHAR1009" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_STATUS" type="db:ORA_BANK.TOPLEVEL_TVARCHAR1009" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ASSET_BLOCK" type="db:ORA_BANK.TOPLEVEL_TVARCHAR1009" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PD_ASSET_OPENING_DATE" type="db:ORA_BANK.TOPLEVEL_TDATE" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR_CODE" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR_MESSAGE" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="ORA_BANK.TOPLEVEL_TDATE">
      <sequence>
         <element name="PD_ASSET_OPENING_DATE_ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR1009">
      <sequence>
         <element name="PV_ASSET_NAME_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR308">
      <sequence>
         <element name="PV_ASSET_NUMBER_ITEM" type="db:string30" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>