Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaDetalleIntra_v2/xsd/XMLSchema_-1719996790.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDetalleIntraTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cdi="http://www.ficohsa.com.hn/middleware.services/consultaDetalleIntraTypes">

	<xs:simpleType name="searchCriteria">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CARD_NUMBER"/>
			<xs:enumeration value="ACC_NUMBER"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="consultaDetalleIntra">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SEARCH_VALUE" type="xs:string" minOccurs="1"/>
				<xs:element name="SEARCH_CRITERIA" type="cdi:searchCriteria" minOccurs="1"/>
				<xs:element name="INTRAFINANCING_ID" type="xs:string" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaDetalleIntraResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRODUCT_INFORMATION" type="cdi:productInformationType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:complexType name="productInformationType">
		<xs:sequence>
			<xs:element name="CURRENT_FEE" type="xs:integer" minOccurs="0"/>
			<xs:element name="FEE_DATE" type="xs:date" minOccurs="0"/>
			<xs:element name="PAYMENT_AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CURRENT_AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="RATE_AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CURRENT_CHARGES" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>


</xs:schema>