Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CatalogosInfoCliente/consultaOrigenes/xsd/consultaOrigenes_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaOrigenes" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaOrigenes" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_ORIGIN_CODE" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_RETURN_SUB_ORIGIN" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_ORIGIN" type="db:PROXYABANKSHN.T_ORIGINS" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSHN.T_ORIGINS">
      <sequence>
         <element name="P_ORIGIN_ITEM" type="db:PROXYABANKSHN.OT_ORIGINS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.T_SUBORIGINS">
      <sequence>
         <element name="SUBORIGIN_ITEM" type="db:PROXYABANKSHN.OT_SUBORIGINS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.OT_SUBORIGINS">
      <sequence>
         <element name="SUBORIGIN_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SUBORIGIN_DESCRIPTION" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.OT_ORIGINS">
      <sequence>
         <element name="ORIGIN_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ORIGIN_DESCRIPTION" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SUBORIGIN" type="db:PROXYABANKSHN.T_SUBORIGINS" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string64">
      <restriction base="string">
         <maxLength value="64"/>
      </restriction>
   </simpleType>
</schema>