Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaDetalleFinanciamiento/xsd/consultaDetalleFinanciamientoTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDetalleFinanciamientoTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaDetalleFinanciamientoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: consultaDetalleFinanciamiento -->
    <!--############################################-->
    
    <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="PlanEntryTypes">
		<xs:sequence>
			<xs:element name="PLAN_REFERENCE" type="xs:string" minOccurs="0"/>
			<xs:element name="PLAN_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="PLAN_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="QUOTE_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="PLAN_PAYOFF_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="PLAN_PAYOFF_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_TYPE" type="xs:string" minOccurs="0"/>
           	<xs:element name="METHOD_PAYMENT" type="xs:string" minOccurs="0"/>
           	<xs:element name="NEW_TERM" type="xs:string" minOccurs="0"/>
           	<xs:element name="NEW_PAYMENT_AMOUNT" type="xs:string" minOccurs="0"/>            
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="PlanDataTypes">
		<xs:sequence>
			<xs:element name="PLAN-ENTRY" minOccurs="0" type="tns:PlanEntryTypes"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:element name="consultaDetalleFinanciamiento">
        <xs:complexType>
        	<xs:sequence>
        		<xs:element name="ORG" type="tns:stringMinLength1"/>
        		<xs:element name="ACCOUNT_NUMBER" type="tns:stringMinLength1"/>
        		<xs:element name="PLAN_NUMBER" type="tns:stringMinLength1"/>
        		<xs:element name="SECUENCE_NUMBER" type="tns:stringMinLength1"/>
        		<xs:element name="CANCELLATION_DATE" type="tns:stringMinLength1"/>
        		<xs:element name="PAYMENT_AMOUNT" type="xs:decimal" minOccurs="0"/>
        		<xs:element name="PAYMENT_TYPE" type="xs:integer" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="consultaDetalleFinanciamientoResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="ORG" type="xs:string" minOccurs="0"/>
            	<xs:element name="ALTERN_ORG" type="xs:string" minOccurs="0"/>
            	<xs:element name="LOGO" type="xs:string" minOccurs="0"/>
            	<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
            	<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
            	<xs:element name="ACCOUNT_PAYOFF_DATE" type="xs:string" minOccurs="0"/>
            	<xs:element name="ACCOUNT_PAYOFF_AMOUNT" type="xs:string" minOccurs="0"/>
            	<xs:element name="PLAN-DATA" minOccurs="0" type="tns:PlanDataTypes"/>
            	</xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>