Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultasCarteraCrediticia/xsd/consultasCarteraCrediticiaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:alt="http://www.ficohsa.com.hn/middleware.services/ConsultasCarteraCrediticia" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsultasCarteraCrediticia" version="1.0">
	<!--#################################################################-->
	<!-- TIPOS GENERALES -->
	<!-- stringMaxLength3Type -->
	<xs:simpleType name="stringMaxLength3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- stringMaxLength3Type -->
	<xs:simpleType name="stringMinMaxLength3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- stringMaxLength3Type -->
	<xs:simpleType name="stringMaxLength16">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- stringMaxLength3Type -->
	<xs:simpleType name="stringMaxLength18">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- stringMaxLength20Type -->
	<xs:simpleType name="stringMaxLength20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- stringMaxLength100Type -->
	<xs:simpleType name="stringMaxLength100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- stringMaxLength200Type -->
	<xs:simpleType name="stringMaxLength200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- customerIdType -->
	<xs:simpleType name="customerIdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CUSTOMER_ID"/>
			<xs:enumeration value="LEGAL_ID"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- cardRequestType -->
	<xs:complexType name="customerType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID_TYPE" type="alt:customerIdType"/>
			<xs:element name="CUSTOMER_ID_VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="liabilitiesType">
		<xs:sequence>
			<xs:element name="LIABILITY" type="alt:liabilityType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="liabilityType">
		<xs:sequence>
			<xs:element name="TYPE" type="alt:stringMinMaxLength3"/>
			<xs:element name="PRODUCT_ID" type="alt:stringMaxLength20" minOccurs="0"/>
			<xs:element name="PRODUCT_NUMBER" type="alt:stringMaxLength100"/>
			<xs:element name="CUSTOMER_NAME" type="alt:stringMaxLength200"/>
			<xs:element name="PAYMENT_DATE" type="xs:date"/>
			<xs:element name="OVERDUE_PAYMENTS" type="xs:decimal"/>
			<xs:element name="PORTFOLIO_GROUP_ID" type="xs:string"/>
			<xs:element name="PORTFOLIO_GROUP" type="xs:string"/>
			<xs:element name="PORTFOLIO" type="xs:string"/>
			<xs:element name="PREARREAR" type="xs:string"/>
			<xs:element name="PENALTY" type="xs:string"/>
			<xs:element name="CURRENCIES" type="alt:currenciesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="currenciesType">
		<xs:sequence>
			<xs:element name="CURRENCY_ITEM" type="alt:currencyItemType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="currencyItemType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="alt:stringMinMaxLength3"/>
			<xs:element name="CONDITION" type="xs:string" minOccurs="0"/>
			<xs:element name="OVERDUE_PAYMENTS" type="xs:decimal" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="productsType">
		<xs:sequence>
			<xs:element name="PRODUCT" type="alt:productType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="productType">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string"/>
			<xs:element name="VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="productOpcionesPagoType">
		<xs:sequence>
			<xs:element name="PRODUCT_TYPE" type="alt:stringMaxLength16"/>
			<xs:element name="PRODUCT_VALUE" type="alt:stringMaxLength20"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="offersType">
		<xs:sequence>
			<xs:element name="DISCOUNT" type="alt:stringMaxLength3"/>
			<xs:element name="LIQUIDATION" type="alt:stringMaxLength3"/>
			<xs:element name="REFINANCING" type="alt:stringMaxLength3"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="balancesType">
		<xs:sequence>
			<xs:element name="BALANCE" type="alt:balanceType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="balanceType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="alt:stringMinMaxLength3"/>
			<xs:element name="LAST_PAYMENT_DATE" type="xs:date"/>
			<xs:element name="AMOUNT_LAST_PAYMENT" type="xs:decimal"/>
			<xs:element name="OVERDUE_PAYMENTS" type="xs:decimal"/>
			<xs:element name="OVERDUE_PAYMENTS_DAYS" type="xs:decimal"/>
			<xs:element name="CURRENT_BALANCE" type="xs:decimal"/>
			<xs:element name="TOTAL_BALANCE" type="xs:decimal"/>
			<xs:element name="OVERDUE_BALANCE" type="xs:decimal"/>
			<xs:element name="MIN_PAYMENT" type="xs:decimal"/>
			<xs:element name="OFFERS" type="alt:offersType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="discountsType">
		<xs:sequence>
			<xs:element name="DISCOUNT" type="alt:discountType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="discountType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="alt:stringMinMaxLength3"/>
			<xs:element name="PERCENT" type="xs:decimal"/>
			<xs:element name="AMOUNT" type="xs:decimal"/>
			<xs:element name="MAX_PAYMENT_DATE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="liquidationsType">
		<xs:sequence>
			<xs:element name="LIQUIDATION" type="alt:liquidationType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="liquidationType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="alt:stringMinMaxLength3"/>
			<xs:element name="PERCENT" type="xs:decimal"/>
			<xs:element name="AMOUNT" type="xs:decimal"/>
			<xs:element name="MAX_PAYMENT_DATE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="refinancingType">
		<xs:sequence>
			<xs:element name="RATE" type="xs:decimal"/>
			<xs:element name="PERIOD" type="xs:decimal"/>
			<xs:element name="INSTALLMENT" type="xs:decimal"/>
			<xs:element name="PREMIUM" type="xs:decimal"/>
			<xs:element name="TOTAL_AMOUNT" type="xs:decimal"/>
			<xs:element name="MAX_PAYMENT_DATE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!--#################################################################-->
	<!--OPERACION: CONSULTA PRODUCTOS MORA-->
	<xs:element name="consultaProductosMoraRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER" type="alt:customerType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="consultaProductosMoraResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LIABILITIES" type="alt:liabilitiesType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--#################################################################-->
	<!--OPERACION: CONSULTA DETALLE MORA TC-->
	<xs:element name="consultaDetalleMoraTCRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRODUCTS" type="alt:productsType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="consultaDetalleMoraTCResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="alt:stringMaxLength20"/>
				<xs:element name="ACCOUNT_NUMBER" type="alt:stringMaxLength20"/>
				<xs:element name="BALANCES" type="alt:balancesType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--#################################################################-->
	<!--OPERACION: CONSULTA DETALLE MORA PRESTAMO-->
	<xs:element name="consultaDetalleMoraPrestamoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOAN_ID" type="alt:stringMaxLength18" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="consultaDetalleMoraPrestamoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOAN_ID" type="alt:stringMaxLength18"/>
				<xs:element name="NEXT_PAYMNT_MATURITY_DATE" type="xs:date"/>
				<xs:element name="CURRENCY" type="alt:stringMinMaxLength3" minOccurs="0"/>
				<xs:element name="LAST_PAYMENT_DATE" type="xs:date"/>
				<xs:element name="AMOUNT_LAST_PAYMENT" type="xs:decimal"/>
				<xs:element name="OVERDUE_PAYMENTS" type="xs:decimal"/>
				<xs:element name="DAYS_OVERDUE_PAYMENTS" type="xs:decimal"/>
				<xs:element name="OVERDUE_INTEREST_AMOUNT" type="xs:decimal"/>
				<xs:element name="INTEREST_AMOUNT" type="xs:decimal"/>
				<xs:element name="NEXT_PAYMNT_TOTAL_AMT" type="xs:decimal"/>
				<xs:element name="MIN_PAYMENT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="OVERDUE_BALANCE" type="xs:decimal"/>
				<xs:element name="TOTAL_BALANCE" type="xs:decimal"/>
				<xs:element name="OFFERS" type="alt:offersType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--#################################################################-->
	<!--OPERACION: CONSULTA OPCIONES PAGO-->
	<xs:element name="consultaOpcionesPagoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRODUCT" type="alt:productOpcionesPagoType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="consultaOpcionesPagoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DISCOUNTS" type="alt:discountsType"/>
				<xs:element name="LIQUIDATIONS" type="alt:liquidationsType"/>
				<xs:element name="REFINANCING" type="alt:refinancingType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>