Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/GetCustomerAssetsDynamo/getCustomerAssetsDynamo.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="ConsultaClienteCuentasCorriente" type="tns:ConsultaClienteCuentasCorriente"/>

<xs:element name="ConsultaClienteCuentasCorrienteResponse" type="tns:ConsultaClienteCuentasCorrienteResponse"/>

<xs:element name="ConsultaClienteCuentasdeAhorro" type="tns:ConsultaClienteCuentasdeAhorro"/>

<xs:element name="ConsultaClienteCuentasdeAhorroResponse" type="tns:ConsultaClienteCuentasdeAhorroResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="WSDYNFICOLINKSAVINGSACCTType">
<xs:sequence>
<xs:element name="TOTALAVBAL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALHNL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALUSD" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALEUR" type="xs:string" minOccurs="0"/>
<xs:element name="gWSDYNFICOLINKSAVINGSACCTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSDYNFICOLINKSAVINGSACCTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVEBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="LIENBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCKEDFUNDSPOS" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCKEDFUNDSATM" type="xs:string" minOccurs="0"/>
<xs:element name="AVAILABLEBAL" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHOVERDRAFT" type="xs:string" minOccurs="0"/>
<xs:element name="UNAUTHOVERDRAFT" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLBALHNL" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLBALUSD" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLBALEUR" type="xs:string" minOccurs="0"/>
<xs:element name="LINKEDCUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="OPERATIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="RESTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="INACT" type="xs:string" minOccurs="0"/>
<xs:element name="ODATE" type="xs:string" minOccurs="0"/>
<xs:element name="CATACCT" type="xs:string" minOccurs="0"/>
<xs:element name="DESCCAT" type="xs:string" minOccurs="0"/>
<xs:element name="PAYROLLGRP" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSDYNFICOLINKCURRENTACCTType">
<xs:sequence>
<xs:element name="TOTALAVBAL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALHNL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALUSD" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALEUR" type="xs:string" minOccurs="0"/>
<xs:element name="gWSDYNFICOLINKCURRENTACCTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSDYNFICOLINKCURRENTACCTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVEBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="LIENBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCKEDFUNDSPOS" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCKEDFUNDSATM" type="xs:string" minOccurs="0"/>
<xs:element name="AVAILABLEBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHOVERDRAFT" type="xs:string" minOccurs="0"/>
<xs:element name="UNAUTHOVERDRAFT" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLBALHNL" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLBALUSD" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLBALEUR" type="xs:string" minOccurs="0"/>
<xs:element name="LINKEDCUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="OPERATIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="INACT" type="xs:string" minOccurs="0"/>
<xs:element name="ODATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaClienteCuentasCorriente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSDYNFICOLINKCURRENTACCTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaClienteCuentasCorrienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSDYNFICOLINKCURRENTACCTType" type="tns:WSDYNFICOLINKCURRENTACCTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaClienteCuentasdeAhorro">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSDYNFICOLINKSAVINGSACCTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaClienteCuentasdeAhorroResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSDYNFICOLINKSAVINGSACCTType" type="tns:WSDYNFICOLINKSAVINGSACCTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>