Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons/Resources/APIPagosMasivosRestBS.wsdl

<wsdl:definitions name="ApiPagosMasivosRestBS" targetNamespace="http://xmlns.oracle.com/ServiceBusApplication/SBRG_MassivePayment_Commons/ApiPagosMasivosRestBS" xmlns:tns="http://xmlns.oracle.com/ServiceBusApplication/SBRG_MassivePayment_Commons/ApiPagosMasivosRestBS" xmlns:inp1="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <plnk:partnerLinkType name="ApiPagosMasivosRestBS">
    <plnk:role name="ApiPagosMasivosRestBSProvider" portType="tns:ApiPagosMasivosRestBS_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes" schemaLocation="../Schemas/APIPagosMasivosTypes.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AutorizarLote_inputMessage">
    <wsdl:part name="request" element="inp1:AutorizarLote"/>
  </wsdl:message>
  <wsdl:message name="AutorizarLote_outputMessage">
    <wsdl:part name="reply" element="inp1:AutorizarLoteResponse"/>
  </wsdl:message>
  <wsdl:message name="AutorizarProveedores_inputMessage">
    <wsdl:part name="request" element="inp1:AutorizarProveedores"/>
  </wsdl:message>
  <wsdl:message name="AutorizarProveedores_outputMessage">
    <wsdl:part name="reply" element="inp1:AutorizarProveedoresResponse"/>
  </wsdl:message>
  <wsdl:message name="CancelarLote_inputMessage">
    <wsdl:part name="request" element="inp1:CancelarLote"/>
  </wsdl:message>
  <wsdl:message name="CancelarLote_outputMessage">
    <wsdl:part name="reply" element="inp1:CancelarLoteResponse"/>
  </wsdl:message>
  <wsdl:message name="CargarArchivoLote_inputMessage">
    <wsdl:part name="request" element="inp1:CargarArchivoLote"/>
  </wsdl:message>
  <wsdl:message name="CargarArchivoLote_outputMessage">
    <wsdl:part name="reply" element="inp1:CargarArchivoLoteResponse"/>
  </wsdl:message>
  <wsdl:message name="CargarProveedores_inputMessage">
    <wsdl:part name="request" element="inp1:CargarProveedores"/>
  </wsdl:message>
  <wsdl:message name="CargarProveedores_outputMessage">
    <wsdl:part name="reply" element="inp1:CargarProveedoresResponse"/>
  </wsdl:message>
  <wsdl:message name="ConsultarDetalleLote_inputMessage">
    <wsdl:part name="request" element="inp1:ConsultarDetalleLote"/>
  </wsdl:message>
  <wsdl:message name="ConsultarDetalleLote_outputMessage">
    <wsdl:part name="reply" element="inp1:ConsultarDetalleLoteResponse"/>
  </wsdl:message>
  <wsdl:message name="ConsultarEstadoLote_inputMessage">
    <wsdl:part name="request" element="inp1:ConsultarEstadoLote"/>
  </wsdl:message>
  <wsdl:message name="ConsultarEstadoLote_outputMessage">
    <wsdl:part name="reply" element="inp1:ConsultarEstadoLoteResponse"/>
  </wsdl:message>
  <wsdl:message name="ConsultarLotesCliente_inputMessage">
    <wsdl:part name="request" element="inp1:ConsultarLotesCliente"/>
  </wsdl:message>
  <wsdl:message name="ConsultarLotesCliente_outputMessage">
    <wsdl:part name="reply" element="inp1:ConsultarLotesClienteResponse"/>
  </wsdl:message>
  <wsdl:message name="ConsultarProveedores_inputMessage">
    <wsdl:part name="request" element="inp1:ConsultarProveedores"/>
  </wsdl:message>
  <wsdl:message name="ConsultarProveedores_outputMessage">
    <wsdl:part name="reply" element="inp1:ConsultarProveedoresResponse"/>
  </wsdl:message>
  <wsdl:message name="ConsultarTransaccionLote_inputMessage">
    <wsdl:part name="request" element="inp1:ConsultarTransaccionLote"/>
  </wsdl:message>
  <wsdl:message name="ConsultarTransaccionLote_outputMessage">
    <wsdl:part name="reply" element="inp1:ConsultarTransaccionLoteResponse"/>
  </wsdl:message>
  <wsdl:message name="EditarEstadoRegistroLote_inputMessage">
    <wsdl:part name="request" element="inp1:EditarEstadoRegistroLote"/>
  </wsdl:message>
  <wsdl:message name="EditarEstadoRegistroLote_outputMessage">
    <wsdl:part name="reply" element="inp1:EditarEstadoRegistroLoteResponse"/>
  </wsdl:message>
  <wsdl:message name="EliminarProveedores_inputMessage">
    <wsdl:part name="request" element="inp1:EliminarProveedores"/>
  </wsdl:message>
  <wsdl:message name="EliminarProveedores_outputMessage">
    <wsdl:part name="reply" element="inp1:EliminarProveedoresResponse"/>
  </wsdl:message>
  <wsdl:message name="PagosMasivos_inputMessage">
    <wsdl:part name="request" element="inp1:PagosMasivos"/>
  </wsdl:message>
  <wsdl:message name="PagosMasivos_outputMessage">
    <wsdl:part name="reply" element="inp1:PagosMasivosResponse"/>
  </wsdl:message>
  <wsdl:message name="PagosMasivos_fault400Message">
    <wsdl:part name="fault_fault400" element="inp1:Response400"/>
  </wsdl:message>
  <wsdl:message name="ObtenerTicket_inputMessage">
    <wsdl:part name="request" element="inp1:ObtenerTicket"/>
  </wsdl:message>
  <wsdl:message name="ObtenerTicket_outputMessage">
    <wsdl:part name="reply" element="inp1:ObtenerTicketResponse"/>
  </wsdl:message>
  <wsdl:message name="ObtenerTicket_fault400Message">
    <wsdl:part name="fault_fault400" element="inp1:Response400"/>
  </wsdl:message>
  <wsdl:portType name="ApiPagosMasivosRestBS_ptt">
    <wsdl:operation name="AutorizarLote">
      <wsdl:input message="tns:AutorizarLote_inputMessage"/>
      <wsdl:output message="tns:AutorizarLote_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="AutorizarProveedores">
      <wsdl:input message="tns:AutorizarProveedores_inputMessage"/>
      <wsdl:output message="tns:AutorizarProveedores_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CancelarLote">
      <wsdl:input message="tns:CancelarLote_inputMessage"/>
      <wsdl:output message="tns:CancelarLote_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CargarArchivoLote">
      <wsdl:input message="tns:CargarArchivoLote_inputMessage"/>
      <wsdl:output message="tns:CargarArchivoLote_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CargarProveedores">
      <wsdl:input message="tns:CargarProveedores_inputMessage"/>
      <wsdl:output message="tns:CargarProveedores_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDetalleLote">
      <wsdl:input message="tns:ConsultarDetalleLote_inputMessage"/>
      <wsdl:output message="tns:ConsultarDetalleLote_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstadoLote">
      <wsdl:input message="tns:ConsultarEstadoLote_inputMessage"/>
      <wsdl:output message="tns:ConsultarEstadoLote_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLotesCliente">
      <wsdl:input message="tns:ConsultarLotesCliente_inputMessage"/>
      <wsdl:output message="tns:ConsultarLotesCliente_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarProveedores">
      <wsdl:input message="tns:ConsultarProveedores_inputMessage"/>
      <wsdl:output message="tns:ConsultarProveedores_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTransaccionLote">
      <wsdl:input message="tns:ConsultarTransaccionLote_inputMessage"/>
      <wsdl:output message="tns:ConsultarTransaccionLote_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="EditarEstadoRegistroLote">
      <wsdl:input message="tns:EditarEstadoRegistroLote_inputMessage"/>
      <wsdl:output message="tns:EditarEstadoRegistroLote_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="EliminarProveedores">
      <wsdl:input message="tns:EliminarProveedores_inputMessage"/>
      <wsdl:output message="tns:EliminarProveedores_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="PagosMasivos">
      <wsdl:input message="tns:PagosMasivos_inputMessage"/>
      <wsdl:output message="tns:PagosMasivos_outputMessage"/>
      <wsdl:fault name="fault400" message="tns:PagosMasivos_fault400Message"/>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTicket">
      <wsdl:input message="tns:ObtenerTicket_inputMessage"/>
      <wsdl:output message="tns:ObtenerTicket_outputMessage"/>
      <wsdl:fault name="fault400" message="tns:ObtenerTicket_fault400Message"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApiPagosMasivosRestBS_ptt-binding" type="tns:ApiPagosMasivosRestBS_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AutorizarLote">
      <soap:operation soapAction="AutorizarLote"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutorizarProveedores">
      <soap:operation soapAction="AutorizarProveedores"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarLote">
      <soap:operation soapAction="CancelarLote"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarArchivoLote">
      <soap:operation soapAction="CargarArchivoLote"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarProveedores">
      <soap:operation soapAction="CargarProveedores"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDetalleLote">
      <soap:operation soapAction="ConsultarDetalleLote"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstadoLote">
      <soap:operation soapAction="ConsultarEstadoLote"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLotesCliente">
      <soap:operation soapAction="ConsultarLotesCliente"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarProveedores">
      <soap:operation soapAction="ConsultarProveedores"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTransaccionLote">
      <soap:operation soapAction="ConsultarTransaccionLote"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarEstadoRegistroLote">
      <soap:operation soapAction="EditarEstadoRegistroLote"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProveedores">
      <soap:operation soapAction="EliminarProveedores"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagosMasivos">
      <soap:operation soapAction="PagosMasivos"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault400">
        <soap:fault name="fault400" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTicket">
      <soap:operation soapAction="ObtenerTicket"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>