Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons/Resources/APIPagosMasivosRestBS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:apm="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ApiPagosMasivosRestBS">RestReference</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes" schemaLocation="../Schemas/APIPagosMasivosTypes.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/AutorizarLote">
         <method name="POST" soa:wsdlOperation="AutorizarLote">
            <request>
               <representation mediaType="application/json" element="cns:AutorizarLote" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:AutorizarLoteResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/AutorizarProveedores">
         <method name="POST" soa:wsdlOperation="AutorizarProveedores">
            <request>
               <representation mediaType="application/json" element="cns:AutorizarProveedores" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:AutorizarProveedoresResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/CancelarLote">
         <method name="POST" soa:wsdlOperation="CancelarLote">
            <request>
               <representation mediaType="application/json" element="cns:CancelarLote" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:CancelarLoteResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/CargarArchivoLote">
         <method name="POST" soa:wsdlOperation="CargarArchivoLote">
            <request>
               <representation mediaType="application/json" element="cns:CargarArchivoLote" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:CargarArchivoLoteResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/CargarProveedores">
         <method name="POST" soa:wsdlOperation="CargarProveedores">
            <request>
               <representation mediaType="application/json" element="cns:CargarProveedores" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:CargarProveedoresResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/ConsultarDetalleLote">
         <method name="POST" soa:wsdlOperation="ConsultarDetalleLote">
            <request>
               <representation mediaType="application/json" element="cns:ConsultarDetalleLote" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ConsultarDetalleLoteResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/ConsultarEstadoLote">
         <method name="POST" soa:wsdlOperation="ConsultarEstadoLote">
            <request>
               <representation mediaType="application/json" element="cns:ConsultarEstadoLote" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ConsultarEstadoLoteResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/ConsultarLotesCliente">
         <method name="POST" soa:wsdlOperation="ConsultarLotesCliente">
            <request>
               <representation mediaType="application/json" element="cns:ConsultarLotesCliente" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ConsultarLotesClienteResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/ConsultarProveedores">
         <method name="POST" soa:wsdlOperation="ConsultarProveedores">
            <request>
               <representation mediaType="application/json" element="cns:ConsultarProveedores" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ConsultarProveedoresResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/ConsultarTransaccionLote">
         <method name="POST" soa:wsdlOperation="ConsultarTransaccionLote">
            <request>
               <representation mediaType="application/json" element="cns:ConsultarTransaccionLote" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ConsultarTransaccionLoteResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/EditarEstadoRegistroLote">
         <method name="POST" soa:wsdlOperation="EditarEstadoRegistroLote">
            <request>
               <representation mediaType="application/json" element="cns:EditarEstadoRegistroLote" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:EditarEstadoRegistroLoteResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/EliminarProveedores">
         <method name="POST" soa:wsdlOperation="EliminarProveedores">
            <request>
               <representation mediaType="application/json" element="cns:EliminarProveedores" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:EliminarProveedoresResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/PagosMasivos">
         <method name="POST" soa:wsdlOperation="PagosMasivos">
            <request>
               <representation mediaType="application/json" element="cns:PagosMasivos" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:PagosMasivosResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/json" element="cns:Response400" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
      <resource path="/ObtenerTicket">
         <method name="POST" soa:wsdlOperation="ObtenerTicket">
            <request>
               <representation mediaType="application/json" element="cns:ObtenerTicket" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ObtenerTicketResponse" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/json" element="cns:Response400" xmlns:cns="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"/>
            </response>
         </method>
      </resource>
   </resources>
</application>