Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/T24/svcConsultaDetalleTarjetas/xsd/XMLSchema_-271592632.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="T24WebServicesImpl">

	<xs:element name="Consultadetalletarjetas" type="tns:Consultadetalletarjetas" />

	<xs:element name="ConsultadetalletarjetasResponse" type="tns:ConsultadetalletarjetasResponse" />

	<xs:element name="callOfs" type="tns:callOfs" />

	<xs:element name="callOfsResponse" type="tns:callOfsResponse" />

	<xs:complexType name="WSFICOCARDDETAILType">
		<xs:sequence>
			<xs:element name="gWSFICOCARDDETAILDetailType" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="mWSFICOCARDDETAILDetailType"
							minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BIN" type="xs:string" minOccurs="0" />
									<xs:element name="COMPANY" type="xs:string"
										minOccurs="0" />
									<xs:element name="CARDNUMBER" type="xs:string"
										minOccurs="0" />
									<xs:element name="CUSTOMER" type="xs:string"
										minOccurs="0" />
									<xs:element name="IDNUMBER" type="xs:string"
										minOccurs="0" />
									<xs:element name="NAME" type="xs:string" minOccurs="0" />
									<xs:element name="NAMEONCARD" type="xs:string"
										minOccurs="0" />
									<xs:element name="EXPIRATIONDATE" type="xs:string"
										minOccurs="0" />
									<xs:element name="CREATIONDATE" type="xs:string"
										minOccurs="0" />
									<xs:element name="STATUS" type="xs:string"
										minOccurs="0" />
									<xs:element name="EMBOSSSTATUS" type="xs:string"
										minOccurs="0" />
									<xs:element name="PIN" type="xs:string" minOccurs="0" />
									<xs:element name="SERVICECODE" type="xs:string"
										minOccurs="0" />
									<xs:element name="PRIMARYACCT" type="xs:string"
										minOccurs="0" />
									<xs:element name="SECUNDARYACCT" type="xs:string"
										minOccurs="0" />
									<xs:element name="CURRENCY" type="xs:string"
										minOccurs="0" />
								</xs:sequence>
								<xs:attribute name="m" type="xs:positiveInteger" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="g" type="xs:positiveInteger" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Consultadetalletarjetas">
		<xs:sequence>
			<xs:element name="WebRequestCommon" type="tns:webRequestCommon"
				minOccurs="0" />
			<xs:element name="WSFICOCARDDETAILType" type="tns:enquiryInput"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="webRequestCommon">
		<xs:sequence>
			<xs:element name="userName" type="xs:string" />
			<xs:element name="password" type="xs:string" />
			<xs:element name="company" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="enquiryInput">
		<xs:sequence>
			<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection"
				nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="enquiryInputCollection">
		<xs:sequence>
			<xs:element name="columnName" type="xs:string" minOccurs="0" />
			<xs:element name="criteriaValue" type="xs:string"
				minOccurs="0" />
			<xs:element name="operand" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConsultadetalletarjetasResponse">
		<xs:sequence>
			<xs:element name="Status" type="tns:Status" minOccurs="0" />
			<xs:element name="WSFICOCARDDETAILType" type="tns:WSFICOCARDDETAILType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Status">
		<xs:sequence>
			<xs:element name="transactionId" type="xs:string"
				minOccurs="0" />
			<xs:element name="messageId" type="xs:string" minOccurs="0" />
			<xs:element name="successIndicator" type="tns:successIndicator"
				minOccurs="0" />
			<xs:element name="application" type="xs:string" minOccurs="0" />
			<xs:element name="messages" type="xs:string" nillable="true"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="callOfs">
		<xs:sequence>
			<xs:element name="OfsRequest" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="callOfsResponse">
		<xs:sequence>
			<xs:element name="Status" type="tns:Status" minOccurs="0" />
			<xs:element name="OfsResponse" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="successIndicator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Success" />
			<xs:enumeration value="TWSError" />
			<xs:enumeration value="T24Error" />
			<xs:enumeration value="T24Override" />
			<xs:enumeration value="T24Offline" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>