Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/ProductosAfiliados/consultaProductosAfiliados/xsd/ConsultaProductosAfiliadosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:FicCpa="http://www.ficohsa.com.hn/middleware.services/ConsultaProductosAfiliadosTypes" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsultaProductosAfiliadosTypes" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="consultaProductosAfiliadosRequest" type="FicCpa:ConsultaProductoAfiliadosRequestIM"/>
	<xs:element name="consultaProductosAfiliadosResponse" type="FicCpa:ConsultaProductoAfiliadosResponseIM"/>
	<xs:complexType name="ConsultaProductoAfiliadosRequestIM">
		<xs:sequence>
			<xs:element name="PRODUCT_TYPE" type="FicCpa:ProductTypeEnum"/>
			<xs:element name="CUSTOMER_INFO" type="FicCpa:CustomerInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerInfoType">
		<xs:sequence>
			<xs:element name="TYPE" type="FicCpa:CustomerTypeEnum"/>
			<xs:element name="VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsultaProductoAfiliadosResponseIM">
		<xs:sequence>
			<xs:element name="PRODUCTS">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PRODUCT" type="FicCpa:ProductType" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductType">
		<xs:sequence>
			<xs:element name="DESTINATION" type="FicCpa:DestinationType"/>
			<xs:element name="PRODUCT_ID" type="xs:string"/>
			<xs:element name="NAME" type="xs:string"/>
			<xs:element name="ALIAS" type="xs:string"/>
			<xs:element name="EMAIL" type="xs:string"/>
			<xs:element name="CURRENCY" type="FicCpa:CurrencyEnum"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DestinationType">
		<xs:sequence>
			<xs:element name="COUNTRY" type="xs:string"/>
			<xs:element name="PRODUCT_TYPE" type="FicCpa:ProductTypeEnum"/>
			<xs:element name="BANK_NAME" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CurrencyEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="HNL"/>
			<xs:enumeration value="USD"/>
			<xs:enumeration value="EUR"/>
			<xs:enumeration value="GTQ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProductTypeEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="AHO"/>
			<xs:enumeration value="CHQ"/>
			<xs:enumeration value="TRC"/>
			<xs:enumeration value="PRT"/>
			<xs:enumeration value="ALL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerTypeEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="CUSTOMER_ID"/>
			<xs:enumeration value="LEGAL_ID"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>