Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/ProductosAfiliados/consultaProductosAfiliados/xsd/HeaderElements.xsd

<!-- editado con XMLSpy v2015 (x64) (http://www.altova.com) por Television Internacional (Television Internacional) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" targetNamespace="http://www.ficohsa.com.hn/middleware.services/autType" version="1.0">
	<xs:complexType name="RequestHeader">
		<xs:sequence>
			<xs:element name="Authentication" type="auth:AuthenticationType"/>
			<xs:element name="Region" type="auth:RegionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthenticationType">
		<xs:sequence>
			<xs:element name="UserName" type="xs:string"/>
			<xs:element name="Password" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegionType">
		<xs:sequence>
			<xs:element name="SourceBank" type="xs:string"/>
			<!--Optional:-->
			<xs:element name="DestinationBank" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseHeader">
		<xs:sequence>
			<xs:element name="messageId" type="xs:string" minOccurs="0"/>
			<xs:element name="successIndicator" type="xs:string" minOccurs="1"/>
			<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RequestHeader" type="auth:RequestHeader" nillable="true"/>
	<xs:element name="ResponseHeader" type="auth:ResponseHeader" nillable="false"/>
</xs:schema>