Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/RegistraFlotanteTC/xsd/registraAutorizacionesFlotantes_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraAutorizacionesFlotantes" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraAutorizacionesFlotantes" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_PAIS" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_CAF" type="db:CLIENTDATA.O_AUTO_FLOTANTES" db:index="2" db:type="Struct" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_ERROR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CLIENTDATA.O_AUTO_FLOTANTES">
      <sequence>
         <element name="ACCOUNT_NUMBER" type="db:string21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LOGO1" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AUTHORIZATION_ITEMS1" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="START_DATE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="END_DATE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string21">
      <restriction base="string">
         <maxLength value="21"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>   
</schema>