Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaRubro/ConsultaRubro/consultaRubroTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaRubroTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaRubroTypes">
	
	<xs:complexType name = "consultaRubroResponseArrayType">
		<xs:sequence>
			            <xs:element name="ITEM_ID" type="xs:string" minOccurs="0" />
			            <xs:element name="ITEM_DESCRIPTION" type="xs:string" minOccurs="0" />
			            <xs:element name="PARENT_ITEM_ID" type="xs:string" minOccurs="0" />
			            <xs:element name="ITEM_LEVEL" type="xs:string" minOccurs="0" />
		 </xs:sequence> 


	</xs:complexType>
	
	<xs:complexType name="consultaRubroResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaRubroResponseRecordType" type="cons:consultaRubroResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaRubroResponseType">
		<xs:sequence>
			<xs:element name="consultaRubroResponseType" type="cons:consultaRubroResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaRubro">
		<xs:complexType>
			<xs:sequence>
	            		<xs:element name="ITEM_ID" type="xs:string" minOccurs="0" />
			            <xs:element name="PARENT_ITEM_ID" type="xs:string" minOccurs="0" />
			            <xs:element name="ITEM_LEVEL" type="xs:string" minOccurs="0" />
			            <xs:element name="BUY_OR_SELL" type="xs:string" minOccurs="0" />
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaRubroResponse" type="cons:consultaRubroResponseType"/>
	
</xs:schema>