Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaComisionSwift_v2/xsd/XMLSchema_102187330.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaComisionSwiftTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaComisionSwiftTypes">
	
	<xs:complexType name="consultaComisionSwiftResponseType">
		<xs:sequence>
           	<xs:element name="CHARGE_CURRENCY" type="xs:string"/>
			<xs:element name="CHARGE_AMOUNT" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaComisionSwift">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string"/>
				<xs:element name="DESTINATION_COUNTRY" type="xs:string"/>
				<xs:element name="TRANSFER_CURRENCY" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaComisionSwiftResponse" type="cons:consultaComisionSwiftResponseType"/>
	
</xs:schema>