Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/v2/BussinessServices/ConsultaListasCliente/xsd/consultaListasClienteTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaListasClienteTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaListasClienteTypes">

	<xs:element name="consultaListasCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_LEGAL_ID"> 
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaListasClienteResponse" type="cons:consultaListasClienteResponseType" />	
	
	<xs:complexType name="consultaListasClienteResponseType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string"/>
			<xs:element name="CUSTOMER_NAME" type="xs:string"/>
			<xs:element name="ASSOCIATIONS_LIST" type="cons:associationsList"/>
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="associationsList">
		<xs:sequence>
			<xs:element name="ASSOCIATION" type="cons:association" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="association">
		<xs:sequence>
			<xs:element name="ASSOCIATION_NAME" type="xs:string"/>
			<xs:element name="CUSTOMER_STATUS" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>