Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/Claro/Paquetes/xsd/PackageWebService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-.--><xs:schema version="1.0" targetNamespace="types.opit.claro.com.hn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="typBuyPackResponse">
    <xs:sequence>
      <xs:element name="idTrans" type="xs:string" minOccurs="0"/>
      <xs:element name="responseCode" type="xs:string" minOccurs="0"/>
      <xs:element name="statusRequest" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="typBalanceEnquiry">
    <xs:sequence>
      <xs:element name="operAmount" type="xs:decimal" minOccurs="0"/>
      <xs:element name="responseCode" type="xs:short" minOccurs="0"/>
      <xs:element name="statusRequest" type="xs:string" minOccurs="0"/>
      <xs:element name="transId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="typGetListPacksResponse">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="statusRequest" type="xs:string" minOccurs="0"/>
      <xs:element name="typeService" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="typValidateOperation">
    <xs:sequence>
      <xs:element name="idPack" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="responseCode" type="xs:string" minOccurs="0"/>
      <xs:element name="statusRequest" type="xs:string" minOccurs="0"/>
      <xs:element name="statusSubscriber" type="xs:string" minOccurs="0"/>
      <xs:element name="typeService" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>