Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/Remesas/creacionRemesaLocal/xsd/creacionRemesaLocal_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/creacionRemesaLocal" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/creacionRemesaLocal" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_REMESAID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_ENVIO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_EMISION" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA_PAGO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONTO_PAGO" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA_ORIGINAL" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONTO_ORIGINAL" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_BENEFICIARIO" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PAIS_BENEFICIARIO" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADO_BENEFICIARIO" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_REMITENTE" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DIRECCION_REMITENTE" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONO_REMITENTE" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TASA_CAMBIO" type="decimal" db:index="14" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_PAIS_REMITENTE" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADO_REMITENTE" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CIUDAD_REMITENTE" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIO" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SECUENCIA" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_MENSAJE" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>