Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/CatalogosInfoPrestamo/xsd/catalogosInfoPrestamoTypes.xsd

<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/catalogosInfoPrestamoTypes">
	
    <!-- stringMinLength1Type -->
    <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	    
	<!--############################################--> 
    <!--OPERACION: CONSULTA CARACTERISTICAS PRODUCTO-->
    <!--############################################-->
	<!-- request -->
	<xs:element name="consultaCaracteristicasProducto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LOAN_PRODUCT" type="xs:int" />
                <xs:element name="OBLIGATION" type="tns:stringMinLength1" />
                <xs:element name="GUARANTEE" type="tns:stringMinLength1" />
                <xs:element name="REPAYMENT" type="tns:stringMinLength1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
	<!-- response -->
    <xs:element name="consultaCaracteristicasProductoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LOAN_PRODUCT" type="xs:integer" minOccurs="0" />
                <xs:element name="LOAN_PRODUCT_DESC" type="xs:string" minOccurs="0" />
                <xs:element name="LOAN_PRODUCT_DETAILS" type="tns:loanProductDetailsArrayType" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- loanProductDetailsArrayType -->
    <xs:complexType name = "loanProductDetailsArrayType">
		<xs:sequence>
			<xs:element name="OBLIGATION_TYPES" minOccurs="0">
	        	<xs:complexType>
	            	<xs:sequence>
		                <xs:element name="OBLIGATION_TYPE" type="tns:descriptionFieldArrayType" maxOccurs="unbounded" />
	                </xs:sequence>
               	</xs:complexType>
            </xs:element>
                        
			<xs:element name="GUARANTEE_TYPES" minOccurs="0">
	        	<xs:complexType>
	            	<xs:sequence>
		                <xs:element name="GUARANTEE_TYPE" type="tns:descriptionFieldArrayType" maxOccurs="unbounded" />
	                </xs:sequence>
               	</xs:complexType>
            </xs:element>
               
			<xs:element name="REPAYMENT_TYPES" minOccurs="0">
	        	<xs:complexType>
	            	<xs:sequence>
		                <xs:element name="REPAYMENT_TYPE" type="tns:descriptionFieldArrayType" maxOccurs="unbounded" />
	                </xs:sequence>
               	</xs:complexType>
            </xs:element>   
		 </xs:sequence> 
	</xs:complexType>
    
    <!-- "descriptionFieldArrayType" -->
    <xs:complexType name = "descriptionFieldArrayType">
		<xs:sequence>
			<xs:element name="CODE" type="xs:string" minOccurs="0" />
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
		 </xs:sequence> 
	</xs:complexType>
	    
	<!--#########################################--> 
    <!--OPERACION: CONSULTA TIPOS REVISIONES TASA-->
    <!--#########################################-->
	<!-- request -->
	<xs:element name="consultaTiposRevisionesTasa">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="QUERY_TYPE">
			        <xs:complexType>
			            <xs:sequence>
			                <xs:element name="TYPE" type="tns:stringMinLength1" />
		                </xs:sequence>
                	</xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
	<!-- response -->
    <xs:element name="consultaTiposRevisionesTasaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="REVISIONS" minOccurs="0">
			        <xs:complexType>
			            <xs:sequence>
			                <xs:element name="REVISION" maxOccurs="unbounded">
						        <xs:complexType>
						            <xs:sequence>
						                <xs:element name="CODE" type="xs:integer" minOccurs="0" />
										<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
					                </xs:sequence>
			                	</xs:complexType>
			                </xs:element>
		                </xs:sequence>
                	</xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	    
	<!--###################################--> 
    <!--OPERACION: CONSULTA TIPOS PRESTAMOS-->
    <!--###################################-->
	<!-- request -->
	<xs:element name="consultaTiposPrestamos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LOAN_TYPE_CODE" type="xs:integer" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
	<!-- response -->
    <xs:element name="consultaTiposPrestamosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LOAN_TYPES" minOccurs="0">
			        <xs:complexType>
			            <xs:sequence>
			                <xs:element name="LOAN_TYPE" maxOccurs="unbounded">
						        <xs:complexType>
						            <xs:sequence>
						                <xs:element name="CODE" type="xs:integer" minOccurs="0" />
										<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
					                </xs:sequence>
			                	</xs:complexType>
			                </xs:element>
		                </xs:sequence>
                	</xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    	<!--###################################--> 
    <!--OPERACION: CONSULTA GRUPOS TASA-->
    <!--###################################-->
 	<!-- request -->
	<xs:element name="consultaGruposTasa">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RATE_CODE" type="xs:string" minOccurs="0" />                
            </xs:sequence>
        </xs:complexType>
    </xs:element>  
    
    <!-- response -->
    <xs:element name="consultaGruposTasaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RATE_GROUPS" type="tns:rateGroupsArrayType" minOccurs="0" />                       
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- rateGroupsArrayType -->
    <xs:complexType name = "rateGroupsArrayType">
		<xs:sequence>
			<xs:element name="RATE_GROUP" type="tns:rateGroupArrayType" minOccurs="0" maxOccurs="unbounded"  />			
		 </xs:sequence> 
	</xs:complexType> 
	
	 <!-- rateGroupArrayType -->
    <xs:complexType name="rateGroupArrayType" >
		<xs:sequence>
			<xs:element name="CODE" type="xs:string" minOccurs="0" />
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
			<xs:element name="VALID_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="MINOR_VALUE" type="xs:string" minOccurs="0" />
			<xs:element name="MAJOR_VALUE" type="xs:string" minOccurs="0" />
			<xs:element name="LAST_VALUE" type="xs:string" minOccurs="0" />			
		 </xs:sequence> 
	</xs:complexType>  			
</xs:schema>