Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/impresionChequeras/Resources/ImpresionChequeras.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_2050208262.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_1756805255.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Consultadechequerasporimprimir">
<part name="parameters" element="tns:Consultadechequerasporimprimir"/>
</message>
<message name="ConsultadechequerasporimprimirResponse">
<part name="parameters" element="tns:ConsultadechequerasporimprimirResponse"/>
</message>
<message name="Actualizaciondeestadodechequera">
<part name="parameters" element="tns:Actualizaciondeestadodechequera"/>
</message>
<message name="ActualizaciondeestadodechequeraResponse">
<part name="parameters" element="tns:ActualizaciondeestadodechequeraResponse"/>
</message>
<message name="Actualizaciondeestadodechequera_Validate">
<part name="parameters" element="tns:Actualizaciondeestadodechequera_Validate"/>
</message>
<message name="Actualizaciondeestadodechequera_ValidateResponse">
<part name="parameters" element="tns:Actualizaciondeestadodechequera_ValidateResponse"/>
</message>
<message name="ConsultaUltimaChequera">
<part name="parameters" element="tns:ConsultaUltimaChequera"/>
</message>
<message name="ConsultaUltimaChequeraResponse">
<part name="parameters" element="tns:ConsultaUltimaChequeraResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Consultadechequerasporimprimir">
<input message="tns:Consultadechequerasporimprimir"/>
<output message="tns:ConsultadechequerasporimprimirResponse"/>
</operation>
<operation name="Actualizaciondeestadodechequera">
<input message="tns:Actualizaciondeestadodechequera"/>
<output message="tns:ActualizaciondeestadodechequeraResponse"/>
</operation>
<operation name="Actualizaciondeestadodechequera_Validate">
<input message="tns:Actualizaciondeestadodechequera_Validate"/>
<output message="tns:Actualizaciondeestadodechequera_ValidateResponse"/>
</operation>
<operation name="ConsultaUltimaChequera">
<input message="tns:ConsultaUltimaChequera"/>
<output message="tns:ConsultaUltimaChequeraResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadechequerasporimprimir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizaciondeestadodechequera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizaciondeestadodechequera_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaUltimaChequera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwinterbanca:7003/svcImpresionChequeras/services"/>
</port>
</service>
</definitions>