Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/impresionChequeras/Resources/XMLSchema_1756805255.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Actualizaciondeestadodechequera" type="tns:Actualizaciondeestadodechequera"/>

<xs:element name="ActualizaciondeestadodechequeraResponse" type="tns:ActualizaciondeestadodechequeraResponse"/>

<xs:element name="Actualizaciondeestadodechequera_Validate" type="tns:Actualizaciondeestadodechequera_Validate"/>

<xs:element name="Actualizaciondeestadodechequera_ValidateResponse" type="tns:Actualizaciondeestadodechequera_ValidateResponse"/>

<xs:element name="ConsultaUltimaChequera" type="tns:ConsultaUltimaChequera"/>

<xs:element name="ConsultaUltimaChequeraResponse" type="tns:ConsultaUltimaChequeraResponse"/>

<xs:element name="Consultadechequerasporimprimir" type="tns:Consultadechequerasporimprimir"/>

<xs:element name="ConsultadechequerasporimprimirResponse" type="tns:ConsultadechequerasporimprimirResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="WSCHECKBOOKREQUESTENQType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSCHECKBOOKREQUESTENQDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSCHECKBOOKREQUESTENQDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="IDVAL" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="ALTACCTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CATEGORYDESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEONCHECKBOOK" type="xs:string" minOccurs="0"/>
<xs:element name="REQUESTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PRINTZONE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEBOOKTYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKBOOKTYPEDESC" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFBOOKS" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKSPERBOOK" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENOSTART" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENOEND" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="PRINTSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESS" type="xs:string" minOccurs="0"/>
<xs:element name="TELEPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="FAX" type="xs:string" minOccurs="0"/>
<xs:element name="CONVERGINGCITY" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="REQUESTTIME" type="xs:string" minOccurs="0"/>
<xs:element name="ORIGINBRANCH" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FICOHCHECKBOOKREQUESTSTATUSUPDATEType">
<xs:sequence>
<xs:element name="PRINTSTATUS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOHCHECKBOOKREQUESTType">
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="REQUESTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="AGENCY" type="xs:string" minOccurs="0"/>
<xs:element name="DESTINAGENCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DESTINAGENCYNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFBOOKS" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUETYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKBOOKTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKSPERBOOK" type="xs:string" minOccurs="0"/>
<xs:element name="LASTCHECKREGIS" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENOSTART" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENOEND" type="xs:string" minOccurs="0"/>
<xs:element name="CLAIMPERSON" type="xs:string" minOccurs="0"/>
<xs:element name="FIRSTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="MIDDLENAME" type="xs:string" minOccurs="0"/>
<xs:element name="gADDRESS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ADDRESS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LOCATION" type="xs:string" minOccurs="0"/>
<xs:element name="TELEPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="FAX" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="gCHEQUEISSUEID" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CHEQUEISSUEID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CHEQUECHARGE" type="xs:string" minOccurs="0"/>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="OWNPRINTING" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="PRINTSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CANCFLAG" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_7" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_10" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_11" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_12" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_13" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_14" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_15" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_16" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_17" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_18" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_19" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_20" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="WSCHECKBOOKREQUESTENQLASTType">
<xs:sequence>
<xs:element name="IDVAL" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="ALTACCTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CATEGORYDESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEONCHECKBOOK" type="xs:string" minOccurs="0"/>
<xs:element name="REQUESTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PRINTZONE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEBOOKTYPEID" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKBOOKTYPEDESC" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFBOOKS" type="xs:string" minOccurs="0"/>
<xs:element name="CHECKSPERBOOK" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENOSTART" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENOEND" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="PRINTSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESS" type="xs:string" minOccurs="0"/>
<xs:element name="TELEPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="FAX" type="xs:string" minOccurs="0"/>
<xs:element name="CONVERGINGCITY" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizaciondeestadodechequera">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHECKBOOKREQUESTSTATUSUPDATEType" type="tns:FICOHCHECKBOOKREQUESTSTATUSUPDATEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizaciondeestadodechequeraResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHECKBOOKREQUESTType" type="tns:FICOHCHECKBOOKREQUESTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadechequerasporimprimir">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSCHECKBOOKREQUESTENQType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadechequerasporimprimirResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSCHECKBOOKREQUESTENQType" type="tns:WSCHECKBOOKREQUESTENQType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaUltimaChequera">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSCHECKBOOKREQUESTENQLASTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaUltimaChequeraResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSCHECKBOOKREQUESTENQLASTType" type="tns:WSCHECKBOOKREQUESTENQLASTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizaciondeestadodechequera_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOHCHECKBOOKREQUESTSTATUSUPDATEType" type="tns:FICOHCHECKBOOKREQUESTSTATUSUPDATEType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizaciondeestadodechequera_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHCHECKBOOKREQUESTType" type="tns:FICOHCHECKBOOKREQUESTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>