Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/DigitalizacionExpediente/wsdl/digitalizacionExpedientePS.wsdl

<wsdl:definitions name="digitalizacionExpedientePS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedientePS/" xmlns:aut="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:dig="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedientePS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedienteTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedienteTypes" schemaLocation="../xsd/digitalizacionExpedienteTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestHeader">
        <wsdl:part element="aut:RequestHeader" name="RequestHeader"/>
    </wsdl:message>
    <wsdl:message name="responseHeader">
        <wsdl:part element="aut:ResponseHeader" name="ResponseHeader"/>
    </wsdl:message>
    <wsdl:message name="creaExpediente">
        <wsdl:part element="tns:creaExpediente" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="creaExpedienteResponse">
        <wsdl:part element="tns:creaExpedienteResponse" name="result"/>
    </wsdl:message>
    <wsdl:message name="actualizaLlavesExpediente">
        <wsdl:part element="tns:actualizaLlavesExpediente" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="actualizaLlavesExpedienteResponse">
        <wsdl:part element="tns:actualizaLlavesExpedienteResponse" name="result"/>
    </wsdl:message>
    <wsdl:message name="consultaExpediente">
        <wsdl:part element="tns:consultaExpediente" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultaExpedienteResponse">
        <wsdl:part element="tns:consultaExpedienteResponse" name="result"/>
    </wsdl:message>
    <wsdl:message name="registraDatosExpediente">
        <wsdl:part element="tns:registraDatosExpediente" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="registraDatosExpedienteResponse">
        <wsdl:part element="tns:registraDatosExpedienteResponse" name="result"/>
    </wsdl:message>
    <wsdl:portType name="digitalizacionExpedientePS">
        <wsdl:operation name="creaExpediente" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="dig:creaExpediente"/>
            <wsdl:output message="dig:creaExpedienteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="actualizaLlavesExpediente" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="dig:actualizaLlavesExpediente"/>
            <wsdl:output message="dig:actualizaLlavesExpedienteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="consultaExpediente" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="dig:consultaExpediente"/>
            <wsdl:output message="dig:consultaExpedienteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="registraDatosExpediente" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="dig:registraDatosExpediente"/>
            <wsdl:output message="dig:registraDatosExpedienteResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="digitalizacionExpedientePSSOAP" type="dig:digitalizacionExpedientePS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="creaExpediente">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedientePS/creaExpediente"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
                <soap:header message="dig:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="result" use="literal"/>
                <soap:header message="dig:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaLlavesExpediente">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedientePS/actualizaLlavesExpediente"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
                <soap:header message="dig:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="result" use="literal"/>
                <soap:header message="dig:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaExpediente">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedientePS/consultaExpediente"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
                <soap:header message="dig:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="result" use="literal"/>
                <soap:header message="dig:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registraDatosExpediente">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/digitalizacionExpedientePS/registraDatosExpediente"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
                <soap:header message="dig:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="result" use="literal"/>
                <soap:header message="dig:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="digitalizacionExpedientePS">
        <wsdl:port binding="dig:digitalizacionExpedientePSSOAP" name="digitalizacionExpedientePSSOAP">
            <soap:address location="https://172.23.13.19:8004/Middleware/ReferenceData/CustomerProfile/DigitalizacionExpediente"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
