Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/consultaCuotaPagoPrestamo/wsdl/COBISCorp.eCOBIS.SrvAplCobisColnsultaPrestamo.Service_1.wsdl

<wsdl:definitions name="SrvAplCobisConsultaPrestamo" targetNamespace="http://impl.service.srvaplcobisconsultaprestamo.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.srvaplcobisconsultaprestamo.ecobis.cobiscorp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:S1="http://impl.service.srvaplcobisconsultaprestamo.ecobis.cobiscorp/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.srvaplcobisconsultaprestamo.ecobis.cobiscorp/">
      <xsd:import namespace="http://service.srvaplcobisconsultaprestamo.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/>
    </xsd:schema>
  </wsdl:types>
 <wsdl:message name="MsjOpConsultaCuotaPrestamoRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaCuotaPrestamoRespuesta"/>
  </wsdl:message>
    <wsdl:message name="MsjOpConsultaPagoPrestamoSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaPagoPrestamoSolicitud"/>
  </wsdl:message>
   <wsdl:message name="MsjOpConsultaPagoPrestamoRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaPagoPrestamoRespuesta"/>
  </wsdl:message>
   <wsdl:message name="MsjOpConsultaCuotaPrestamoSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaCuotaPrestamoSolicitud"/>
    </wsdl:message>
  <wsdl:portType name="SrvAplCobisConsultaPrestamo">
    <wsdl:operation name="OpConsultaCuotaPrestamo">
      <wsdl:input message="S1:MsjOpConsultaCuotaPrestamoSolicitud"/>
      <wsdl:output message="S1:MsjOpConsultaCuotaPrestamoRespuesta"/>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaPagoPrestamo">
      <wsdl:input message="S1:MsjOpConsultaPagoPrestamoSolicitud"/>
      <wsdl:output message="S1:MsjOpConsultaPagoPrestamoRespuesta"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvAplCobisConsultaPrestamoBindingSOAP12" type="S1:SrvAplCobisConsultaPrestamo">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpConsultaCuotaPrestamo">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaPagoPrestamo">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvAplCobisConsultaPrestamoService">
     <wsdl:port name="SrvAplCobisConsultaPrestamoBindingSOAP12" binding="S1:SrvAplCobisConsultaPrestamoBindingSOAP12">
      <soap12:address location="http://10.235.53.149:9080/GerenciaConsultaPrestamo/SrvAplCobisConsultaPrestamoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>