Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/VASA/WSCRS/wsdl/WSCRS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="validarDatosOpcion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tarjeta" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarDatosOpcionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validarDatosOpcionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarCorreoEstadoCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tarjeta" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="identidad" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="opcion" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarCorreoEstadoCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarCorreoEstadoCuentaResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaTarjeta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tarjeta" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="identidad" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="opcion" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaTarjetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validaTarjetaResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaIdentidad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identidad" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="tarjeta" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="opcion" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaIdentidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validaIdentidadResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaGestionSF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caso" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaGestionSFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validaGestionSFResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertaBitacora">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Numtar" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="OpcionDigitada" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TelfonoOrigen" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TelefonoDestino" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="IdentificacionSession" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertaBitacoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertaBitacoraResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="validarDatosOpcionSoapIn">
    <wsdl:part name="parameters" element="tns:validarDatosOpcion"/>
  </wsdl:message>
  <wsdl:message name="validarDatosOpcionSoapOut">
    <wsdl:part name="parameters" element="tns:validarDatosOpcionResponse"/>
  </wsdl:message>
  <wsdl:message name="EnviarCorreoEstadoCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarCorreoEstadoCuenta"/>
  </wsdl:message>
  <wsdl:message name="EnviarCorreoEstadoCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarCorreoEstadoCuentaResponse"/>
  </wsdl:message>
  <wsdl:message name="validaTarjetaSoapIn">
    <wsdl:part name="parameters" element="tns:validaTarjeta"/>
  </wsdl:message>
  <wsdl:message name="validaTarjetaSoapOut">
    <wsdl:part name="parameters" element="tns:validaTarjetaResponse"/>
  </wsdl:message>
  <wsdl:message name="validaIdentidadSoapIn">
    <wsdl:part name="parameters" element="tns:validaIdentidad"/>
  </wsdl:message>
  <wsdl:message name="validaIdentidadSoapOut">
    <wsdl:part name="parameters" element="tns:validaIdentidadResponse"/>
  </wsdl:message>
  <wsdl:message name="validaGestionSFSoapIn">
    <wsdl:part name="parameters" element="tns:validaGestionSF"/>
  </wsdl:message>
  <wsdl:message name="validaGestionSFSoapOut">
    <wsdl:part name="parameters" element="tns:validaGestionSFResponse"/>
  </wsdl:message>
  <wsdl:message name="insertaBitacoraSoapIn">
    <wsdl:part name="parameters" element="tns:insertaBitacora"/>
  </wsdl:message>
  <wsdl:message name="insertaBitacoraSoapOut">
    <wsdl:part name="parameters" element="tns:insertaBitacoraResponse"/>
  </wsdl:message>
  <wsdl:message name="validarDatosOpcionHttpPostIn">
    <wsdl:part name="tarjeta" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="validarDatosOpcionHttpPostOut">
    <wsdl:part name="Body" element="tns:validarDatosOpcionResponse"/>
  </wsdl:message>
  <wsdl:message name="EnviarCorreoEstadoCuentaHttpPostIn">
    <wsdl:part name="tarjeta" type="s:string"/>
    <wsdl:part name="identidad" type="s:string"/>
    <wsdl:part name="opcion" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EnviarCorreoEstadoCuentaHttpPostOut">
    <wsdl:part name="Body" element="tns:EnviarCorreoEstadoCuentaResponse"/>
  </wsdl:message>
  <wsdl:message name="validaTarjetaHttpPostIn">
    <wsdl:part name="tarjeta" type="s:string"/>
    <wsdl:part name="identidad" type="s:string"/>
    <wsdl:part name="opcion" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="validaTarjetaHttpPostOut">
    <wsdl:part name="Body" element="tns:validaTarjetaResponse"/>
  </wsdl:message>
  <wsdl:message name="validaIdentidadHttpPostIn">
    <wsdl:part name="identidad" type="s:string"/>
    <wsdl:part name="tarjeta" type="s:string"/>
    <wsdl:part name="opcion" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="validaIdentidadHttpPostOut">
    <wsdl:part name="Body" element="tns:validaIdentidadResponse"/>
  </wsdl:message>
  <wsdl:message name="validaGestionSFHttpPostIn">
    <wsdl:part name="caso" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="validaGestionSFHttpPostOut">
    <wsdl:part name="Body" element="tns:validaGestionSFResponse"/>
  </wsdl:message>
  <wsdl:message name="insertaBitacoraHttpPostIn">
    <wsdl:part name="Numtar" type="s:string"/>
    <wsdl:part name="OpcionDigitada" type="s:string"/>
    <wsdl:part name="TelfonoOrigen" type="s:string"/>
    <wsdl:part name="TelefonoDestino" type="s:string"/>
    <wsdl:part name="IdentificacionSession" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="insertaBitacoraHttpPostOut">
    <wsdl:part name="Body" element="tns:insertaBitacoraResponse"/>
  </wsdl:message>
  <wsdl:portType name="WSCRSSoap">
    <wsdl:operation name="validarDatosOpcion">
      <wsdl:documentation>Método que válida datos de la tarjeta y devuelve información crediticia.</wsdl:documentation>
      <wsdl:input message="tns:validarDatosOpcionSoapIn"/>
      <wsdl:output message="tns:validarDatosOpcionSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoEstadoCuenta">
      <wsdl:documentation>Valida si tiene correo Electronico en la tabla de datos y envia el estado de cuenta.</wsdl:documentation>
      <wsdl:input message="tns:EnviarCorreoEstadoCuentaSoapIn"/>
      <wsdl:output message="tns:EnviarCorreoEstadoCuentaSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="validaTarjeta">
      <wsdl:documentation>Método que válida datos de la tarjeta, pidiendo como parametros la Identidad + 4 digitos de la Tarjeta.</wsdl:documentation>
      <wsdl:input message="tns:validaTarjetaSoapIn"/>
      <wsdl:output message="tns:validaTarjetaSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="validaIdentidad">
      <wsdl:documentation>Método que válida datos de la identidad.</wsdl:documentation>
      <wsdl:input message="tns:validaIdentidadSoapIn"/>
      <wsdl:output message="tns:validaIdentidadSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="validaGestionSF">
      <wsdl:documentation>Método que válida la gestion de salesforce.</wsdl:documentation>
      <wsdl:input message="tns:validaGestionSFSoapIn"/>
      <wsdl:output message="tns:validaGestionSFSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="insertaBitacora">
      <wsdl:documentation>Método que Inserta Bitacora IVR.</wsdl:documentation>
      <wsdl:input message="tns:insertaBitacoraSoapIn"/>
      <wsdl:output message="tns:insertaBitacoraSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSCRSHttpPost">
    <wsdl:operation name="validarDatosOpcion">
      <wsdl:documentation>Método que válida datos de la tarjeta y devuelve información crediticia.</wsdl:documentation>
      <wsdl:input message="tns:validarDatosOpcionHttpPostIn"/>
      <wsdl:output message="tns:validarDatosOpcionHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoEstadoCuenta">
      <wsdl:documentation>Valida si tiene correo Electronico en la tabla de datos y envia el estado de cuenta.</wsdl:documentation>
      <wsdl:input message="tns:EnviarCorreoEstadoCuentaHttpPostIn"/>
      <wsdl:output message="tns:EnviarCorreoEstadoCuentaHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="validaTarjeta">
      <wsdl:documentation>Método que válida datos de la tarjeta, pidiendo como parametros la Identidad + 4 digitos de la Tarjeta.</wsdl:documentation>
      <wsdl:input message="tns:validaTarjetaHttpPostIn"/>
      <wsdl:output message="tns:validaTarjetaHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="validaIdentidad">
      <wsdl:documentation>Método que válida datos de la identidad.</wsdl:documentation>
      <wsdl:input message="tns:validaIdentidadHttpPostIn"/>
      <wsdl:output message="tns:validaIdentidadHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="validaGestionSF">
      <wsdl:documentation>Método que válida la gestion de salesforce.</wsdl:documentation>
      <wsdl:input message="tns:validaGestionSFHttpPostIn"/>
      <wsdl:output message="tns:validaGestionSFHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="insertaBitacora">
      <wsdl:documentation>Método que Inserta Bitacora IVR.</wsdl:documentation>
      <wsdl:input message="tns:insertaBitacoraHttpPostIn"/>
      <wsdl:output message="tns:insertaBitacoraHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSCRSSoap" type="tns:WSCRSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validarDatosOpcion">
      <soap:operation soapAction="http://tempuri.org/validarDatosOpcion" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoEstadoCuenta">
      <soap:operation soapAction="http://tempuri.org/EnviarCorreoEstadoCuenta" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaTarjeta">
      <soap:operation soapAction="http://tempuri.org/validaTarjeta" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaIdentidad">
      <soap:operation soapAction="http://tempuri.org/validaIdentidad" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaGestionSF">
      <soap:operation soapAction="http://tempuri.org/validaGestionSF" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertaBitacora">
      <soap:operation soapAction="http://tempuri.org/insertaBitacora" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSCRSSoap12" type="tns:WSCRSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validarDatosOpcion">
      <soap12:operation soapAction="http://tempuri.org/validarDatosOpcion" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoEstadoCuenta">
      <soap12:operation soapAction="http://tempuri.org/EnviarCorreoEstadoCuenta" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaTarjeta">
      <soap12:operation soapAction="http://tempuri.org/validaTarjeta" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaIdentidad">
      <soap12:operation soapAction="http://tempuri.org/validaIdentidad" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaGestionSF">
      <soap12:operation soapAction="http://tempuri.org/validaGestionSF" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertaBitacora">
      <soap12:operation soapAction="http://tempuri.org/insertaBitacora" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSCRSHttpPost" type="tns:WSCRSHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="validarDatosOpcion">
      <http:operation location="/validarDatosOpcion"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoEstadoCuenta">
      <http:operation location="/EnviarCorreoEstadoCuenta"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaTarjeta">
      <http:operation location="/validaTarjeta"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaIdentidad">
      <http:operation location="/validaIdentidad"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaGestionSF">
      <http:operation location="/validaGestionSF"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertaBitacora">
      <http:operation location="/insertaBitacora"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCRS">
    <wsdl:port name="WSCRSSoap" binding="tns:WSCRSSoap">
      <soap:address location="http://172.23.19.9:8095/WSCRS.asmx"/>
    </wsdl:port>
    <wsdl:port name="WSCRSSoap12" binding="tns:WSCRSSoap12">
      <soap12:address location="http://172.23.19.9:8095/WSCRS.asmx"/>
    </wsdl:port>
    <wsdl:port name="WSCRSHttpPost" binding="tns:WSCRSHttpPost">
      <http:address location="http://172.23.19.9:8095/WSCRS.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>