Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/v2/BussinessServices/VerificaCliente/xsd/verificaClientesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:con="http://www.ficohsa.com.hn/middleware.services/verificaClientesTypes"
           targetNamespace="http://www.ficohsa.com.hn/middleware.services/verificaClientesTypes"
           elementFormDefault="qualified" attributeFormDefault="qualified"
           version="1.0">

    
<xs:element name="verificaClienteRequest">
<xs:complexType>
	<xs:sequence>
		<xs:element name="CUSTOMER_ID_TYPE">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="CUSTOMER_ID_VALUE">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="verificaClienteResponse">
</xs:element>



</xs:schema>