Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingGT/ProviderServices/XSD/CreateCustomerAbanks/CreateCustomerAbanks_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CreateCustomerAbanks" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CreateCustomerAbanks" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_PROCESS_TYPE" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_CLIENTE" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_SEGMENTO" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_PAIS" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_PAIS_EMISION" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_MUNICIPIO_EMISION" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_DEPTO_EMISION" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRES" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PRIMER_APELLIDO" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SEGUNDO_APELLIDO" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDO_CASADA" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_NACIMIENTO" type="dateTime" db:index="12" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PN_PAIS_NACIMIENTO" type="decimal" db:index="13" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_DEPARTAMENTO_NACIMIENTO" type="decimal" db:index="14" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_MUNICIPIO_NACIMIENTO" type="decimal" db:index="15" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_PAIS_2" type="decimal" db:index="16" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CONDICION_MIGRATORIA" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RESIDE_EEUU" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONO_EEUU" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SEXO" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADO_CIVIL" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CANTIDAD_HIJOS" type="decimal" db:index="22" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_TIPO_IDENTF" type="decimal" db:index="23" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_IDENTIFICACION" type="string" db:index="24" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_TIPO_CLIENTE" type="decimal" db:index="25" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NIT" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_DIRECCION" type="db:PROXYABANKSGT.OSB_T_DIRECCION_PD" db:index="27" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CLIENTE_PEP" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_PEP" type="string" db:index="29" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_EMPRESA_PEP" type="string" db:index="30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CARGO_PEP" type="string" db:index="31" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_PAIS_PEP" type="decimal" db:index="32" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PT_ORIGEN_RIQUEZA_PEP" type="db:PROXYABANKSGT.OSB_T_RIQUEZA_PEP" db:index="33" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_PARIENTE_PEP" type="db:PROXYABANKSGT.OSB_T_PARIENTE_PEP" db:index="34" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CLIENTES_CPE" type="string" db:index="35" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_CPE" type="string" db:index="36" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_PRODUCTO_ASOCIADO_CPE" type="decimal" db:index="37" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_OTROS_PRODUCTOS_CPE" type="decimal" db:index="38" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_ESTATUS_GUATECOMPRAS_CPE" type="decimal" db:index="39" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_PORE_CLIENT" type="string" db:index="40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PORES_ACTIVIDAD" type="string" db:index="41" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_OPERACIONES_GRUPO_EMP" type="db:PROXYABANKSGT.OSB_T_OPERACIONES_GRUPO_EMP" db:index="42" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_ACTUALIZACION" type="dateTime" db:index="43" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_PROFESION" type="decimal" db:index="44" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_SECTOR_E" type="decimal" db:index="45" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_RIESGO" type="string" db:index="46" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_COD_ACTIVIDAD_ECONOMICA" type="decimal" db:index="47" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_DESC_ACTIVIDAD_ECO" type="string" db:index="48" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NIVEL_EDUCATIVO" type="string" db:index="49" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_OCUPACION" type="decimal" db:index="50" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_EMPRESA" type="string" db:index="51" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TRABAJA" type="string" db:index="52" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_EMPRESA" type="string" db:index="53" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CARGO" type="string" db:index="54" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_INGRESOS" type="db:PROXYABANKSGT.OSB_T_INGRESOS" db:index="55" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_INGRESO" type="dateTime" db:index="56" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PN_INGRESOS" type="decimal" db:index="57" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_EGRESOS" type="decimal" db:index="58" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_TRANF_FONDOS" type="string" db:index="59" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LOCA_INTER" type="string" db:index="60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NEGOCIO_PROPIO" type="string" db:index="61" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_GENERADOR" type="string" db:index="62" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_REFERENCIAS" type="db:PROXYABANKSGT.OSB_T_REFERENCIAS" db:index="63" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_POSEE_CASA" type="decimal" db:index="64" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_POSEE_CARRO" type="string" db:index="65" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LV_CONTRIBUYENTE_EEUU" type="string" db:index="66" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LV_TIN" type="string" db:index="67" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LV_INDICIOS_FATCA" type="string" db:index="68" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LV_RECALCITRANTE_FATCA" type="string" db:index="69" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LV_REV_VALIDACION" type="string" db:index="70" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LV_DOC_FATCA" type="string" db:index="71" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_REPT_FATCA" type="string" db:index="72" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RES_EFC_MIGRATORIOS" type="string" db:index="73" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_PAIS_RES_FISCAL" type="decimal" db:index="74" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_ID_FISCAL_OTRO_PAIS" type="string" db:index="75" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_OTRAS_SOCIEDADES" type="string" db:index="76" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_USUARIO" type="string" db:index="77" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_PERSONA" type="string" db:index="78" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_EMPRESA" type="decimal" db:index="79" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_AGENCIA" type="decimal" db:index="80" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_SUB_APLIC" type="decimal" db:index="81" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_APLICACION" type="string" db:index="82" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA" type="string" db:index="83" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_OPERACION" type="string" db:index="84" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LIBRETA" type="string" db:index="85" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_NUM_LIBRETA" type="decimal" db:index="86" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_G_PLANILLA" type="decimal" db:index="87" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_DEP_INICIAL" type="decimal" db:index="88" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_PROPOSITO_CTA" type="string" db:index="89" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ORIGEN_FONDOS" type="string" db:index="90" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_VOL_TRX_MENSUAL" type="string" db:index="91" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TR_BENEFICIARIOS" type="db:PROXYABANKSGT.OSB_T_TIPO_BENE" db:index="92" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TR_FIRMAS" type="db:PROXYABANKSGT.OSB_T_TIPO_FIRM" db:index="93" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_CORRE_RECB_LUZ" type="decimal" db:index="94" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_EMPRESA_ELECTRICA" type="string" db:index="95" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ACT_ECO_RUT" type="string" db:index="96" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PRIVADA_PUBLICA" type="string" db:index="97" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_INACTIVA" type="string" db:index="98" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PN_CODIGO_CLIENTE" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_CUENTA" type="string" db:index="99" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_CODE" type="string" db:index="100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_MESSAGE" type="string" db:index="101" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.OSB_T_OPERACIONES_GRUPO_EMP">
      <sequence>
         <element name="PT_OPERACIONES_GRUPO_EMP_ITEM" type="db:PROXYABANKSGT.OSB_RG_OPERACIONES_GRUPO_EMP" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_T_DIRECCION_PD">
      <sequence>
         <element name="PT_DIRECCION_ITEM" type="db:PROXYABANKSGT.OSB_RG_DIRECCION_PD" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_RG_INGRESOS">
      <sequence>
         <element name="PN_COD_TIPO_INGRESO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_DESCRIPCION" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_MONEDA" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PN_MONTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_PAIS" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_DEPARTAMENTO" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_RG_OPERACIONES_GRUPO_EMP">
      <sequence>
         <element name="PV_DESCRIPCION" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_VALOR" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_RG_TIPO_BENE">
      <sequence>
         <element name="PV_NOMBRE_COMPLETO" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_TIPO_ID" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_IDENTIDAD" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_PARENTESCO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_PORCENTAJE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_NACIONALIDAD" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_T_PARIENTE_PEP">
      <sequence>
         <element name="PT_PARIENTE_PEP_ITEM" type="db:PROXYABANKSGT.OSB_RG_PARIENTE_PEP" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_T_REFERENCIAS">
      <sequence>
         <element name="PT_REFERENCIAS_ITEM" type="db:PROXYABANKSGT.OSB_RG_REFERENCIAS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_RG_RIQUEZA_PEP">
      <sequence>
         <element name="PV_DESCRIPCION" type="db:string60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_VALOR" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_RG_TIPO_FIRMAS">
      <sequence>
         <element name="PN_CANT_FIRMANTES" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PN_CANT_FIRMAS_REQ" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PN_CODIGO_CLIENTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PN_TIPO_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_IDENTIDAD" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_NOMBRE_COMPLETO" type="db:string120" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_RELACION_TITULAR" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_CLASE_CLIENTE" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_TIPO_FIRMA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_NACIONALIDAD" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_T_TIPO_FIRM">
      <sequence>
         <element name="TR_FIRMAS_ITEM" type="db:PROXYABANKSGT.OSB_RG_TIPO_FIRMAS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_T_INGRESOS">
      <sequence>
         <element name="PT_INGRESOS_ITEM" type="db:PROXYABANKSGT.OSB_RG_INGRESOS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_T_TIPO_BENE">
      <sequence>
         <element name="TR_BENEFICIARIOS_ITEM" type="db:PROXYABANKSGT.OSB_RG_TIPO_BENE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_RG_PARIENTE_PEP">
      <sequence>
         <element name="PV_PRIMER_NOMBRE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_SEGUNDO_NOMBRE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_PRIMER_APELLIDO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_SEGUNDO_APELLIDO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_OTRO_NOMBRE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_APELLIDO_CASADA" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PN_PARENTEZCO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_SEXO_PEP" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_CONDICION_MIGRATORIA" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_NOMBRE_INSTITUCION" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_CARGO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PN_PAIS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_RELACION" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_PRIMER_NOMBRE_AS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_SEGUNDO_NOMBRE_AS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_PRIMER_APELLIDO_AS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_SEGUNDO_APELLIDO_AS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_OTRO_NOMBRE_AS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_APELLIDO_CASADA_AS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PN_PARENTEZCO_AS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_SEXO_PEP_AS" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_CONDICION_MIGRATORIA_AS" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_NOMBRE_INSTITUCION_AS" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_CARGO_AS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PN_PAIS_AS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_RELACION_AS" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_RG_DIRECCION_PD">
      <sequence>
         <element name="PV_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PN_CODIGO_PAIS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PN_CODIGO_DEPTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PN_CODIGO_MUNICIPIO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_BARRIO" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_AVENIDA" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_CALLE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PN_ZONA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_CASA" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_REFERENCIA" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_EMAIL" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_CELULAR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_TELEFONOS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_FAX" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_T_RIQUEZA_PEP">
      <sequence>
         <element name="PT_ORIGEN_RIQUEZA_PEP_ITEM" type="db:PROXYABANKSGT.OSB_RG_RIQUEZA_PEP" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.OSB_RG_REFERENCIAS">
      <sequence>
         <element name="PV_TYPE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_NOMBRES" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_PRIMER_APELLIDO" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_SEGUNDO_APELLIDO" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_APELLIDO_CASADA" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_TELEFONO" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_CELULAR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_COD_REFERENCIA_PERSONAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PV_NOMBRE_EMPRESA" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_CARGO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string60">
      <restriction base="string">
         <maxLength value="60"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string120">
      <restriction base="string">
         <maxLength value="120"/>
      </restriction>
   </simpleType>
</schema>