Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaUsuario/xsd/consultaUsuarioTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaUsuarioTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaUsuarioTypes">
	

	
<xs:element name="consultaUsuario">
<xs:complexType>
	<xs:sequence>
		<xs:element name="CUSTOMER_ID_TYPE">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="CUSTOMER_ID_VALUE">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="consultaUsuarioResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="USER_NAME"     type="xs:string" minOccurs="0" />
	    </xs:sequence>
     </xs:complexType>
</xs:element>

</xs:schema>