Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/ficocelAdmin/ConsultaFicoAlertas/consultaFicoAlertasTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaFicoAlertasTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaFicoAlertasTypes">
	
	<xs:complexType name = "consultaFicoAlertasResponseArrayType">
		<xs:sequence>
			<xs:element name="ALERT_ID" type="xs:string" minOccurs="0" />
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
			<xs:element name="ALERT_CLASS" type="xs:string" minOccurs="0" />
			<xs:element name="EVENT_TYPE" type="xs:string" minOccurs="0" />
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaFicoAlertasResponseRecordType">
		<xs:sequence>
				<xs:element name="consultaFicoAlertasResponseRecordType" type="cons:consultaFicoAlertasResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="consultaFicoAlertasResponseType">
		<xs:sequence>
			<xs:element name="consultaFicoAlertasResponseType" type="cons:consultaFicoAlertasResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaFicoAlertas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ALERT_ID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaFicoAlertasResponse" type="cons:consultaFicoAlertasResponseType"/>
	
</xs:schema>