Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ValidaURLCliente/xsd/validaURLClienteTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/validaURLClienteTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/validaURLClienteTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: validaURLCliente -->
    <!--############################################-->
    <xs:element name="validaURLCliente">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="URL_ID" type="xs:string" />
				<xs:element name="DOCUMENT_TYPE" type="xs:string"  minOccurs="0"/>
				<xs:element name="DOCUMENT_NUMBER" type="xs:string"  minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="validaURLClienteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CUSTOMER_ID" type="xs:string"  minOccurs="0"/>
                <xs:element name="PHONE_NUMBER" type="xs:string"  minOccurs="0"/>
				<xs:element name="TOKEN_NUMBER" type="xs:string"  minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
