Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/Core/consultaVentanilla/consultaVentanillaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaVentanillaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaVentanillaTypes">
	
	<xs:complexType name="consultaVentanillaResponseType">
		<xs:sequence>
			<xs:element name="TILL_ID" type="xs:string"/>
			<xs:element name="ASSIGNED_USER" type="xs:string"/>
			<xs:element name="TILL_STATUS" type="xs:string"/>
			<xs:element name="BRANCH_CODE" type="xs:string"/>
		</xs:sequence> 
	</xs:complexType>	
	
		<xs:element name="consultaVentanilla">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TILL_ID" type="xs:string"/>       
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaVentanillaResponse" type="cons:consultaVentanillaResponseType"/>
	
</xs:schema>