Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ValidaNumeroViajero/xsd/validaNumeroViajero_sp.xsd

<schema 
xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/validaNumeroViajero" 
xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/validaNumeroViajero">
<element name="InputParameters">
      <complexType>
         <sequence>
			<element minOccurs="1" type="string" db:index="1" db:type="VARCHAR2" name="PV_TYPE"/>
	   		<element minOccurs="1" type="string" db:index="2" db:type="VARCHAR2" name="PV_NUMERO_VIAJERO"/>
         </sequence>
      </complexType>
   </element>  
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element type="string" db:index="3" db:type="VARCHAR2" name="PV_RESULT"  minOccurs="0"/>
            <element type="string" db:index="4" db:type="VARCHAR2" name="PV_ERROR_CODE"  minOccurs="0"/>
            <element type="string" db:index="5" db:type="VARCHAR2" name="PV_ERROR_MESAJE"  minOccurs="0"/>
         </sequence>
      </complexType>
   </element>
</schema>