Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/general/SaveLogs_DB_Server/xsd/LogService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/LogService" xmlns:tns="http://xmlns.oracle.com/LogService" elementFormDefault="qualified">
   	<xs:complexType name="logService">
		<xs:sequence>
			<xs:element name="main" type="tns:main" minOccurs="0" />
			<xs:element name="details" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
   
   	<xs:complexType name="main">
		<xs:sequence>
			<xs:element name="idServicio" type="xs:string" minOccurs="0" />
			<xs:element name="uuid" type="xs:string" minOccurs="0" />
			<xs:element name="endpoint" type="xs:string" minOccurs="0" />
			<xs:element name="request" type="xs:string" minOccurs="0" />
			<xs:element name="response" type="xs:string" minOccurs="0" />
			<xs:element name="status" type="xs:string" />
			<xs:element name="date" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="details">
		<xs:sequence>
			<xs:element name="detail" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	 
		
		<xs:element name="logService" nillable="false"
		type="tns:logService" />

</xs:schema>