Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/compensacion/aplicaDebitoCheque/aplicaDebitoChequeTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/aplicaDebitoChequeTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/aplicaDebitoChequeTypes">

	<xs:element name="aplicaDebitoCheque">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SERVICE_INSTRUCTION" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="aplicaDebitoChequeResponse"/>
	
</xs:schema>