Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaFacturasCobranza/consultaFacturasCobranzaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaFacturasCobranzaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaFacturasCobranzaTypes">
	
	<xs:complexType name = "consultaFacturasCobranzaResponseArrayType">
		<xs:sequence>
			            <xs:element name="COLLECTION_ID" type="xs:string" minOccurs="0" />
			            <xs:element name="TRANSACTION_TYPE" type="xs:string" minOccurs="0" />
			            <xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0" />
			            <xs:element name="ISSUE_DATE" type="xs:string" minOccurs="0" />
			            <xs:element name="MATURITY_DATE" type="xs:string" minOccurs="0"/>
			            <xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
			            <xs:element name="OVERDUE_AMOUNT" type="xs:string" minOccurs="0" />
			            <xs:element name="TOTAL_CREDIT_AMOUNT" type="xs:string" minOccurs="0" />
			            <xs:element name="CREDIT_RATE" type="xs:string" minOccurs="0" />
			             <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
			            <xs:element name="STATUS" type="xs:string" minOccurs="0" />
	    </xs:sequence> 
	</xs:complexType>

	
	<xs:complexType name="consultaFacturasCobranzaResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaFacturasCobranzaResponseRecordType" type="cons:consultaFacturasCobranzaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaFacturasCobranzaResponseType">
		<xs:sequence>
			<xs:element name="consultaFacturasCobranzaResponseType" type="cons:consultaFacturasCobranzaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaFacturasCobranza">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="AGREEMENT_ID" type="xs:string"/>
	            <xs:element name="START_DATE" type="xs:string"/>
	            <xs:element name="END_DATE" type="xs:string"/>
	            <xs:element name="COLLECTION_STATUS" type="xs:string"/>
	            <xs:element name="DEBTOR_ID" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	

	<xs:element name="consultaFacturasCobranzaResponse" type="cons:consultaFacturasCobranzaResponseType"/>
	
</xs:schema>