Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/FinanciamientoTC_v2/wsdl/FinanciamientoTC.wsdl

<WL5G3N0:definitions name="financiamientoTCPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/financiamientoTCTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:def="http://www.ficohsa.com.hn/middleware.services/financiamientoTCTypes" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_-1380381070.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:def="http://www.ficohsa.com.hn/middleware.services/financiamientoTCTypes" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/financiamientoTCTypes" schemaLocation="../xsd/XMLSchema_680890872.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaFinanciamiento">
    <WL5G3N0:part element="WL5G3N2:consultaFinanciamiento" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaFinanciamientoResponse">
    <WL5G3N0:part element="WL5G3N2:consultaFinanciamientoResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="procesaFinanciamiento">
    <WL5G3N0:part element="WL5G3N2:procesaFinanciamiento" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="procesaFinanciamientoResponse">
    <WL5G3N0:part element="WL5G3N2:procesaFinanciamientoResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="confirmaFinanciamiento">
    <WL5G3N0:part element="WL5G3N2:confirmaFinanciamiento" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="confirmaFinanciamientoResponse">
    <WL5G3N0:part element="WL5G3N2:confirmaFinanciamientoResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="reversaFinanciamiento">
    <WL5G3N0:part element="WL5G3N2:reversaFinanciamiento" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="reversaFinanciamientoResponse">
    <WL5G3N0:part element="WL5G3N2:reversaFinanciamientoResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="financiamientoTCPS">
    <WL5G3N0:operation name="consultaFinanciamiento" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaFinanciamiento"/>
      <WL5G3N0:output message="WL5G3N3:consultaFinanciamientoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="procesaFinanciamiento" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:procesaFinanciamiento"/>
      <WL5G3N0:output message="WL5G3N3:procesaFinanciamientoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="confirmaFinanciamiento" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:confirmaFinanciamiento"/>
      <WL5G3N0:output message="WL5G3N3:confirmaFinanciamientoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="reversaFinanciamiento" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:reversaFinanciamiento"/>
      <WL5G3N0:output message="WL5G3N3:reversaFinanciamientoResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="financiamientoTCPSSOAP" type="WL5G3N3:financiamientoTCPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="consultaFinanciamiento">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/consultaFinanciamiento"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="procesaFinanciamiento">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/procesaFinanciamiento"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="confirmaFinanciamiento">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/confirmaFinanciamiento"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="reversaFinanciamiento">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/financiamientoTCPS/reversaFinanciamiento"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="financiamientoTCPS">
    <WL5G3N0:port binding="WL5G3N3:financiamientoTCPSSOAP" name="financiamientoTCPSSOAP">
      <WL5G3N4:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/FinanciamientoTC"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>