Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/v2/BusinessServices/OperacionesTarjetaDebito_v2/wsdl/operacionesTarjetaDebitoPS.wsdl

<wsdl:definitions name="operacionesTarjetaDebitoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesTarjetaDebitoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/operacionesTarjetaDebitoPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesTarjetaDebitoTypes">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/operacionesTarjetaDebitoTypes" schemaLocation="../xsd/operacionesTarjetaDebitoTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="creaBINRequest">
		<wsdl:part element="tns:creaBIN" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="creaBINResponse">
		<wsdl:part element="tns:creaBINResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:message name="consultaBINRequest">
		<wsdl:part element="tns:consultaBIN" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaBINResponse">
		<wsdl:part element="tns:consultaBINResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:message name="consultaDetalleTarjetasRequest">
		<wsdl:part element="tns:consultaDetalleTarjetas" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaDetalleTarjetasResponse">
		<wsdl:part element="tns:consultaDetalleTarjetasResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:message name="generaLotesTarjetasRequest">
		<wsdl:part element="tns:generaLotesTarjetas" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="generaLotesTarjetasResponse">
		<wsdl:part element="tns:generaLotesTarjetasResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:message name="consultaLotesTarjetasRequest">
		<wsdl:part element="tns:consultaLotesTarjetas" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaLotesTarjetasResponse">
		<wsdl:part element="tns:consultaLotesTarjetasResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:message name="generaDetalleEmboceRequest">
		<wsdl:part element="tns:generaDetalleEmboce" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="generaDetalleEmboceResponse">
		<wsdl:part element="tns:generaDetalleEmboceResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:message name="validaPINRequest">
		<wsdl:part element="tns:validaPIN" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="validaPINResponse">
		<wsdl:part element="tns:validaPINResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="operacionesTarjetaDebitoPS">
		<wsdl:operation name="creaBIN" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:creaBINRequest"/>
			<wsdl:output message="fic:creaBINResponse"/>
		</wsdl:operation>
		<wsdl:operation name="consultaBIN" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaBINRequest"/>
			<wsdl:output message="fic:consultaBINResponse"/>
		</wsdl:operation>
		<wsdl:operation name="consultaDetalleTarjetas" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaDetalleTarjetasRequest"/>
			<wsdl:output message="fic:consultaDetalleTarjetasResponse"/>
		</wsdl:operation>
		<wsdl:operation name="generaLotesTarjetas" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:generaLotesTarjetasRequest"/>
			<wsdl:output message="fic:generaLotesTarjetasResponse"/>
		</wsdl:operation>
		<wsdl:operation name="consultaLotesTarjetas" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaLotesTarjetasRequest"/>
			<wsdl:output message="fic:consultaLotesTarjetasResponse"/>
		</wsdl:operation>
		<wsdl:operation name="generaDetalleEmboce" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:generaDetalleEmboceRequest"/>
			<wsdl:output message="fic:generaDetalleEmboceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="validaPIN" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:validaPINRequest"/>
			<wsdl:output message="fic:validaPINResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="operacionesTarjetaDebitoPSSOAP" type="fic:operacionesTarjetaDebitoPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="creaBIN">
			<soap:operation soapAction="http://www.ficohsa.com.hn/operacionesTarjetaDebitoPS/creaBIN"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultaBIN">
			<soap:operation soapAction="http://www.ficohsa.com.hn/operacionesTarjetaDebitoPS/consultaBIN"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultaDetalleTarjetas">
			<soap:operation soapAction="http://www.ficohsa.com.hn/operacionesTarjetaDebitoPS/consultaDetalleTarjetas"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="generaLotesTarjetas">
			<soap:operation soapAction="http://www.ficohsa.com.hn/operacionesTarjetaDebitoPS/generaLotesTarjetas"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultaLotesTarjetas">
			<soap:operation soapAction="http://www.ficohsa.com.hn/operacionesTarjetaDebitoPS/consultaLotesTarjetas"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="generaDetalleEmboce">
			<soap:operation soapAction="http://www.ficohsa.com.hn/operacionesTarjetaDebitoPS/generaDetalleEmboce"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validaPIN">
			<soap:operation soapAction="http://www.ficohsa.com.hn/operacionesTarjetaDebitoPS/validaPIN"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="operacionesTarjetaDebitoPS">
		<wsdl:port binding="fic:operacionesTarjetaDebitoPSSOAP" name="operacionesTarjetaDebitoPSSOAP">
			<soap:address location="https://fservices.ficohsa.com:8004/Middleware/OperationsAndExecution/Cards/OperacionesTarjetaDebito"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>