Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/TransaccionesGenericasTengoEEH/ProcesarTransaccionesGenericaCB/xsd/procesaTransaccionesGenericasType.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/procesaTransaccionesGenericasType"
	xmlns:trans="http://www.ficohsa.com.hn/middleware.services/procesaTransaccionesGenericasType">


	<xs:complexType name="procesaTransaccionesGenericasRequest">
		<xs:sequence>
			<xs:element name="TIPO_TRANSACCION" type="xs:string"/>
			<xs:element name="CLAVE_CONVENIO" type="xs:string"/>
			<xs:element name="MONTO_TRX" type="xs:string"/>
			<xs:element name="MONEDA" type="xs:string"/>
			<xs:element name="CLAVE_CORRESPONSAL" type="xs:string"/>
			<xs:element name="ID_CLIENTE" type="xs:string" minOccurs="0"/>
			<xs:element name="NOMBRE_CLIENTE" type="xs:string"  minOccurs="0"/>
			<xs:element name="PAYMENT_DETAILS" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="procesaTransaccionesGenericasResponse">
		<xs:sequence>
			<xs:element name="REFERENCIA_T24" type="xs:string" minOccurs="0"/>
			<xs:element name="UUID" type="xs:string" minOccurs="0"/>

			
			
		</xs:sequence>
	</xs:complexType>

	<xs:element name="procesaTransaccionesGenericasRequest" type="trans:procesaTransaccionesGenericasRequest" />

	<xs:element name="procesaTransaccionesGenericasResponse" type="trans:procesaTransaccionesGenericasResponse" />

</xs:schema>