Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/BusinessServices/ControlAtomicidad/xsd/ControlAtomicidad_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ControlAtomicidad" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ControlAtomicidad" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="V_UUID_BITACORA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_ALTER_ID" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_URI_ID" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_REQUEST_HEADER" type="string" db:index="4" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="V_REQUEST_BODY" type="string" db:index="5" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="V_ESTADO" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="V_SUCCESS_INDICATOR" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_ERROR_MESSAGE" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>