Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaSituacionFinanciera/wsdl/consultaSituacionFinancieraPS.wsdl

<wsdl:definitions name="consultaSituacionFinancieraPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSituacionFinancieraPS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaSituacionFinancieraPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaSituacionFinancieraTypes">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaSituacionFinancieraTypes" schemaLocation="../xsd/consultaSituacionFinancieraTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="consultaSituacionFinancieraRequest">
		<wsdl:part element="tns:consultaSituacionFinanciera" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="consultaSituacionFinancieraResponse">
		<wsdl:part element="tns:consultaSituacionFinancieraResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="consultaSituacionFinancieraPS">
		<wsdl:operation name="consultaSituacionFinanciera" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:consultaSituacionFinancieraRequest"/>
			<wsdl:output message="op:consultaSituacionFinancieraResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="consultaSituacionFinancieraPSSOAP" type="op:consultaSituacionFinancieraPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaSituacionFinanciera">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaSituacionFinancieraPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="consultaSituacionFinancieraPS">
		<wsdl:port binding="op:consultaSituacionFinancieraPSSOAP" name="consultaSituacionFinancieraPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/consultaSituacionFinanciera/"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>