Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ModificaCodigoDeudorFondoPensiones/xsd/modificaCodigoDeudorFondoPensionesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
       targetNamespace="http://www.ficohsa.com.hn/middleware.services/modificaCodigoDeudorFondoPensionesTypes" 
       xmlns:tns="http://www.ficohsa.com.hn/middleware.services/modificaCodigoDeudorFondoPensionesTypes">
       
    <xs:simpleType name="stringMaxLength3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
       
       
	<xs:element name="modificaCodigoDeudorFondoPensionesRequest">
		<xs:complexType>
			<xs:sequence>
          		<xs:element name="ID" type="xs:string"/> 
				<xs:element name="NEW_ID" type="xs:string"/> 
				<xs:element name="ACCOUNT" type="xs:string"/> 
          	</xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="modificaCodigoDeudorFondoPensionesResponse">
		<xs:complexType>
			<xs:sequence>
          	</xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
