Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/DepositoVirtualCheques/xsd/depositoVirtualChequesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/depositoVirtualChequesTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/depositoVirtualChequesTypes">
	
	<!-- currencyTypes -->
    
    <xs:simpleType name="currencyTypes">
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- stringMinLength1Type -->
    
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    
    <!--############################################--> 
    <!--     OPERACION: DEPOSITO VIRTUAL CHEQUE     -->
    <!--############################################-->
    
    <xs:element name="depositoVirtualCheques">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSIT_ROUTE" type="tns:stringMinLength1"/>
				<xs:element name="BEN_CUSTOMER_CODE" type="xs:integer"/>
				<xs:element name="BEN_ACCOUNT" type="tns:stringMinLength1"/>
				<xs:element name="CHEQUE_NUMBER" type="xs:integer"/>
				<xs:element name="CHEQUE_ACCOUNT" type="tns:stringMinLength1"/>
				<xs:element name="CURRENCY" type="tns:currencyTypes"/>
				<xs:element name="AMOUNT" type="xs:decimal"/>
				<xs:element name="FRONT_IMAGE" type="xs:base64Binary"/>
				<xs:element name="BACK_IMAGE" type="xs:base64Binary"/>
				<xs:element name="USER_CODE" type="tns:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="depositoVirtualChequesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CHEQUE_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="ID_RECORD_REF" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>