Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/bloqueoPasivos/BloqueoFondosCuenta/bloqueoFondosCuentaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/bloqueoFondosCuentaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/bloqueoFondosCuentaTypes">
	
	
	<xs:element name="bloqueoFondosCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				<xs:element name="BEGIN_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="END_DATE" type="xs:string"/>
				<xs:element name="BLOCK_AMOUNT" type="xs:string"/>
				<xs:element name="DESCRIPTION" type="xs:string"/>
				<xs:element name="DEBIT_CARD_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="LOCK_MOTIVE" type="xs:string" minOccurs="0"/>
				<xs:element name="LOCK_REFERENCE_NO" type="xs:string" minOccurs="0"/>
				<xs:element name="MERCHANT_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_COMPANY" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="bloqueoFondosCuentaResponse" type="cons:bloqueoFondosCuentaResponseType"/>
	
	<xs:complexType name="bloqueoFondosCuentaResponseType">
		<xs:sequence>
			<xs:element name="TRANSACTION_DATE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	
</xs:schema>