Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/consultaCreaGestionSeq/xsd/consultaCreaGestionSeq_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/consultaCreaGestionSeq" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaCreaGestionSeq" elementFormDefault="qualified">
    <element name="InputParameters">
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CREAGESTION_SEQ" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>