Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/T24/CreaTransaccionBancariaACH/wsdl/creaTransaccionBancariaACH.wsdl

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/creaTransaccionBancariaACHAnyType.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/creaTransaccionBancariaACH.xsd"/>
    </xsd:schema>
  </types>
  <message name="CreatransaccionACHPI">
    <part name="parameters" element="tns:CreatransaccionACHPI"/>
  </message>
  <message name="CreatransaccionACHPIResponse">
    <part name="parameters" element="tns:CreatransaccionACHPIResponse"/>
  </message>
  <message name="CreatransaccionACHPI_Validate">
    <part name="parameters" element="tns:CreatransaccionACHPI_Validate"/>
  </message>
  <message name="CreatransaccionACHPI_ValidateResponse">
    <part name="parameters" element="tns:CreatransaccionACHPI_ValidateResponse"/>
  </message>
  <message name="CreatransaccionACH">
    <part name="parameters" element="tns:CreatransaccionACH"/>
  </message>
  <message name="CreatransaccionACHResponse">
    <part name="parameters" element="tns:CreatransaccionACHResponse"/>
  </message>
  <message name="CreatransaccionACH_Validate">
    <part name="parameters" element="tns:CreatransaccionACH_Validate"/>
  </message>
  <message name="CreatransaccionACH_ValidateResponse">
    <part name="parameters" element="tns:CreatransaccionACH_ValidateResponse"/>
  </message>
  <message name="callOfs">
    <part name="parameters" element="tns:callOfs"/>
  </message>
  <message name="callOfsResponse">
    <part name="parameters" element="tns:callOfsResponse"/>
  </message>
  <portType name="T24WebServicesImpl">
    <operation name="CreatransaccionACHPI">
      <input message="tns:CreatransaccionACHPI"/>
      <output message="tns:CreatransaccionACHPIResponse"/>
    </operation>
    <operation name="CreatransaccionACHPI_Validate">
      <input message="tns:CreatransaccionACHPI_Validate"/>
      <output message="tns:CreatransaccionACHPI_ValidateResponse"/>
    </operation>
    <operation name="CreatransaccionACH">
      <input message="tns:CreatransaccionACH"/>
      <output message="tns:CreatransaccionACHResponse"/>
    </operation>
    <operation name="CreatransaccionACH_Validate">
      <input message="tns:CreatransaccionACH_Validate"/>
      <output message="tns:CreatransaccionACH_ValidateResponse"/>
    </operation>
    <operation name="callOfs">
      <input message="tns:callOfs"/>
      <output message="tns:callOfsResponse"/>
    </operation>
  </portType>
  <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="CreatransaccionACHPI">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreatransaccionACHPI_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreatransaccionACH">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreatransaccionACH_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="callOfs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="T24WebServicesImplService">
    <port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
      <soap:address location="http://172.23.13.19:7003/svcCreaTransaccionBancaria/services"/>
    </port>
  </service>
</definitions>