Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/TributosDEI/wsdl/tributosPS.wsdl

<wsdl:definitions name="tributosPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/tributosPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/tributosPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:trb="http://www.ficohsa.com.hn/middleware.services/tributosTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/tributosTypes" schemaLocation="../xsd/tributosTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="consultarNroContratoRequest">
		<wsdl:part element="trb:consultarNroContrato" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultarNroContratoResponse">
		<wsdl:part element="trb:consultarNroContratoResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="altaContratoRequest">
		<wsdl:part element="trb:altaContrato" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="altaContratoResponse">
		<wsdl:part element="trb:altaContratoResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="obtenerDatosContratoRequest">
		<wsdl:part element="trb:obtenerDatosContrato" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="obtenerDatosContratoResponse">
		<wsdl:part element="trb:obtenerDatosContratoResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="adhesionContratoRequest">
		<wsdl:part element="trb:adhesionContratoRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="adhesionContratoResponse">
		<wsdl:part element="trb:adhesionContratoResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:message name="confirmarReversarAdhesionContratoRequest">
		<wsdl:part element="trb:confirmarReversarAdhesionContratoRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="confirmarReversarAdhesionContratoResponse">
		<wsdl:part element="trb:confirmarReversarAdhesionContratoResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="cargaArchivoDATRequest">
		<wsdl:part element="trb:cargaArchivoDAT" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="cargaArchivoDATResponse">
		<wsdl:part element="trb:cargaArchivoDATResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="consultaCargaArchivoDATRequest">
		<wsdl:part element="trb:consultaCargaArchivoDAT" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaCargaArchivoDATResponse">
		<wsdl:part element="trb:consultaCargaArchivoDATResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="pagoDETRequest">
		<wsdl:part element="trb:pagoDET" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="pagoDETResponse">
		<wsdl:part element="trb:pagoDETResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="pagoROPRequest">
		<wsdl:part element="trb:pagoROP" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="pagoROPResponse">
		<wsdl:part element="trb:pagoROPResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="pagoGOPRequest">
		<wsdl:part element="trb:pagoGOP" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="pagoGOPResponse">
		<wsdl:part element="trb:pagoGOPResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="consultaReciboRequest">
		<wsdl:part element="trb:consultaRecibo" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaReciboResponse">
		<wsdl:part element="trb:consultaReciboResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="consultaContratoGOPRequest">
		<wsdl:part element="trb:consultaContratoGOP" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaContratoGOPResponse">
		<wsdl:part element="trb:consultaContratoGOPResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="consultaGuiaDePagoRequest">
		<wsdl:part element="trb:consultaGuiaDePago" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaGuiaDePagoResponse">
		<wsdl:part element="trb:consultaGuiaDePagoResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="listaDeGuiaPagoRequest">
		<wsdl:part element="trb:listaDeGuiaPago" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="listaDeGuiaPagoResponse">
		<wsdl:part element="trb:listaDeGuiaPagoResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="valoresDeGuiaPagoRequest">
		<wsdl:part element="trb:valoresDeGuiaPagoRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="valoresDeGuiaPagoResponse">
		<wsdl:part element="trb:valoresDeGuiaPagoResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="consultaTiposConceptosRequest">
		<wsdl:part element="trb:consultaTiposConceptosRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaTiposConceptosResponse">
		<wsdl:part element="trb:consultaTiposConceptosResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="consultaTiposImpuestosRequest">
		<wsdl:part element="trb:consultaTiposImpuestosRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultaTiposImpuestosResponse">
		<wsdl:part element="trb:consultaTiposImpuestosResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:message name="consultaRazonSocialRequest">
    	<wsdl:part element="trb:consultaRazonSocial" name="parameters"/>
  	</wsdl:message>
  	<wsdl:message name="consultaRazonSocialResponse">
    	<wsdl:part element="trb:consultaRazonSocialResponse" name="result"/>
  	</wsdl:message>



	<wsdl:portType name="tributosPS">

		<wsdl:operation name="consultarNroContrato" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultarNroContratoRequest"/>
			<wsdl:output message="fic:consultarNroContratoResponse"/>
		</wsdl:operation>

		<wsdl:operation name="altaContrato" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:altaContratoRequest"/>
			<wsdl:output message="fic:altaContratoResponse"/>
		</wsdl:operation>

		<wsdl:operation name="obtenerDatosContrato" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:obtenerDatosContratoRequest"/>
			<wsdl:output message="fic:obtenerDatosContratoResponse"/>
		</wsdl:operation>

		<wsdl:operation name="adhesionContrato" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:adhesionContratoRequest"/>
			<wsdl:output message="fic:adhesionContratoResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="confirmarReversarAdhesionContrato" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:confirmarReversarAdhesionContratoRequest"/>
			<wsdl:output message="fic:confirmarReversarAdhesionContratoResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="cargaArchivoDAT" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:cargaArchivoDATRequest"/>
			<wsdl:output message="fic:cargaArchivoDATResponse"/>
		</wsdl:operation>

		<wsdl:operation name="consultaCargaArchivoDAT" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaCargaArchivoDATRequest"/>
			<wsdl:output message="fic:consultaCargaArchivoDATResponse"/>
		</wsdl:operation>

		<wsdl:operation name="pagoDET" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:pagoDETRequest"/>
			<wsdl:output message="fic:pagoDETResponse"/>
		</wsdl:operation>

		<wsdl:operation name="pagoROP" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:pagoROPRequest"/>
			<wsdl:output message="fic:pagoROPResponse"/>
		</wsdl:operation>

		<wsdl:operation name="pagoGOP" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:pagoGOPRequest"/>
			<wsdl:output message="fic:pagoGOPResponse"/>
		</wsdl:operation>

		<wsdl:operation name="consultaRecibo" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaReciboRequest"/>
			<wsdl:output message="fic:consultaReciboResponse"/>
		</wsdl:operation>

		<wsdl:operation name="consultaContratoGOP" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaContratoGOPRequest"/>
			<wsdl:output message="fic:consultaContratoGOPResponse"/>
		</wsdl:operation>

		<wsdl:operation name="consultaGuiaDePago" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaGuiaDePagoRequest"/>
			<wsdl:output message="fic:consultaGuiaDePagoResponse"/>
		</wsdl:operation>

		<wsdl:operation name="listaDeGuiaPago" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:listaDeGuiaPagoRequest"/>
			<wsdl:output message="fic:listaDeGuiaPagoResponse"/>
		</wsdl:operation>

		<wsdl:operation name="valoresDeGuiaPago" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:valoresDeGuiaPagoRequest"/>
			<wsdl:output message="fic:valoresDeGuiaPagoResponse"/>
		</wsdl:operation>

		<wsdl:operation name="consultaTiposConceptos" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaTiposConceptosRequest"/>
			<wsdl:output message="fic:consultaTiposConceptosResponse"/>
		</wsdl:operation>

		<wsdl:operation name="consultaTiposImpuestos" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:consultaTiposImpuestosRequest"/>
			<wsdl:output message="fic:consultaTiposImpuestosResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="consultaRazonSocial" parameterOrder="parameters RequestHeader ResponseHeader">
      		<wsdl:input message="fic:consultaRazonSocialRequest"/>
      		<wsdl:output message="fic:consultaRazonSocialResponse"/>
    	</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="tributosPSSOAP" type="fic:tributosPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>


		<wsdl:operation name="consultarNroContrato">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="altaContrato">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="obtenerDatosContrato">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="adhesionContrato">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="confirmarReversarAdhesionContrato">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		

		<wsdl:operation name="cargaArchivoDAT">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="consultaCargaArchivoDAT">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="pagoDET">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="pagoROP">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="pagoGOP">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="consultaRecibo">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="consultaContratoGOP">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="consultaGuiaDePago">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="listaDeGuiaPago">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="valoresDeGuiaPago">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="consultaTiposConceptos">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="consultaTiposImpuestos">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="consultaRazonSocial">
      		<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/tributosPS/NewOperation"/>
      		<wsdl:input>
        		<soap:body use="literal" parts="parameters"/>
        		<soap:header use="literal" part="RequestHeader" message="fic:requestHeader"/>
      		</wsdl:input>
      		<wsdl:output>
       			<soap:body use="literal" parts="result"/>
       			<soap:header use="literal" part="ResponseHeader" message="fic:responseHeader"/>
      		</wsdl:output>
    	</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="tributosPS">
		<wsdl:port binding="fic:tributosPSSOAP" name="tributosPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Payments/tributos"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>