Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/registraSaldosTC/xsd/registraSaldosTC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraSaldosTC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraSaldosTC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PT_SALDOS_TARJETA" type="db:T_SALDOS_TARJETA_CREDITO" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         	 <element name="PV_COUNTRY_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_ERROR" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="T_SALDOS_TARJETA_CREDITO">
      <sequence>
         <element name="PT_SALDOS_TARJETA_ITEM" type="db:O_SALDOS_TARJETA_CREDITO" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="O_SALDOS_TARJETA_CREDITO">
      <sequence>
         <element name="CARD_NUMBER" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_HOLDER_NAME" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LCY_MIN_PAYMENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LCY_TOTAL_PAYMENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FCY_MIN_PAYMENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FCY_TOTAL_PAYMENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREDIT_LIMIT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREDIT_LIMIT_CCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="POINTS_EARNED" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MAX_PAYMENT_DATE" type="db:string8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LAST_CUTOFF_DATE" type="db:string8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ORG_TYPE" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ORG" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OVERDUE_BALANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FLOATING_BALANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CURRENT_BALANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PURCHASES_LIMIT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WITHDRAWAL_LIMIT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PAYMENTS_TODAY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="AVAILABLE_EXTRA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CURRENT_BALANCE_EXTRA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="AVAILABLE_INTRA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CURRENT_BALANCE_INTRA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string19">
      <restriction base="string">
         <maxLength value="19"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string8">
      <restriction base="string">
         <maxLength value="8"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
</schema>