Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ACH/Enviado/SvcACHEnviado/wsdl/services.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_-962123960.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_-1255526967.xsd"/>
</xsd:schema>
</types>
<message name="ConsultaReprocesoACHEnviado">
<part name="parameters" element="tns:ConsultaReprocesoACHEnviado"/>
</message>
<message name="ConsultaReprocesoACHEnviadoResponse">
<part name="parameters" element="tns:ConsultaReprocesoACHEnviadoResponse"/>
</message>
<message name="ConsultaDatosACHEnviado">
<part name="parameters" element="tns:ConsultaDatosACHEnviado"/>
</message>
<message name="ConsultaDatosACHEnviadoResponse">
<part name="parameters" element="tns:ConsultaDatosACHEnviadoResponse"/>
</message>
<message name="RegistrarACHEnviados">
<part name="parameters" element="tns:RegistrarACHEnviados"/>
</message>
<message name="RegistrarACHEnviadosResponse">
<part name="parameters" element="tns:RegistrarACHEnviadosResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="RegistrarACHEnviados_Validate">
<part name="parameters" element="tns:RegistrarACHEnviados_Validate"/>
</message>
<message name="RegistrarACHEnviados_ValidateResponse">
<part name="parameters" element="tns:RegistrarACHEnviados_ValidateResponse"/>
</message>
<message name="ReprocesarACHEnviados">
<part name="parameters" element="tns:ReprocesarACHEnviados"/>
</message>
<message name="ReprocesarACHEnviadosResponse">
<part name="parameters" element="tns:ReprocesarACHEnviadosResponse"/>
</message>
<message name="ReprocesarACHEnviados_Validate">
<part name="parameters" element="tns:ReprocesarACHEnviados_Validate"/>
</message>
<message name="ReprocesarACHEnviados_ValidateResponse">
<part name="parameters" element="tns:ReprocesarACHEnviados_ValidateResponse"/>
</message>
<message name="ConfirmacionACHEnviados">
<part name="parameters" element="tns:ConfirmacionACHEnviados"/>
</message>
<message name="ConfirmacionACHEnviadosResponse">
<part name="parameters" element="tns:ConfirmacionACHEnviadosResponse"/>
</message>
<message name="ConfirmacionACHEnviados_Validate">
<part name="parameters" element="tns:ConfirmacionACHEnviados_Validate"/>
</message>
<message name="ConfirmacionACHEnviados_ValidateResponse">
<part name="parameters" element="tns:ConfirmacionACHEnviados_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="ConsultaReprocesoACHEnviado">
<input message="tns:ConsultaReprocesoACHEnviado"/>
<output message="tns:ConsultaReprocesoACHEnviadoResponse"/>
</operation>
<operation name="ConsultaDatosACHEnviado">
<input message="tns:ConsultaDatosACHEnviado"/>
<output message="tns:ConsultaDatosACHEnviadoResponse"/>
</operation>
<operation name="RegistrarACHEnviados">
<input message="tns:RegistrarACHEnviados"/>
<output message="tns:RegistrarACHEnviadosResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="RegistrarACHEnviados_Validate">
<input message="tns:RegistrarACHEnviados_Validate"/>
<output message="tns:RegistrarACHEnviados_ValidateResponse"/>
</operation>
<operation name="ReprocesarACHEnviados">
<input message="tns:ReprocesarACHEnviados"/>
<output message="tns:ReprocesarACHEnviadosResponse"/>
</operation>
<operation name="ReprocesarACHEnviados_Validate">
<input message="tns:ReprocesarACHEnviados_Validate"/>
<output message="tns:ReprocesarACHEnviados_ValidateResponse"/>
</operation>
<operation name="ConfirmacionACHEnviados">
<input message="tns:ConfirmacionACHEnviados"/>
<output message="tns:ConfirmacionACHEnviadosResponse"/>
</operation>
<operation name="ConfirmacionACHEnviados_Validate">
<input message="tns:ConfirmacionACHEnviados_Validate"/>
<output message="tns:ConfirmacionACHEnviados_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConsultaReprocesoACHEnviado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaDatosACHEnviado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrarACHEnviados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrarACHEnviados_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReprocesarACHEnviados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReprocesarACHEnviados_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConfirmacionACHEnviados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConfirmacionACHEnviados_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwomnicanal:7003/svcACHEnviados/services"/>
</port>
</service>
</definitions>