Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RetiroATMConBilletera/xsd/retiroATMConBilleteraTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:rcb="http://www.ficohsa.com.hn/middleware.services/retiroATMConBilleteraTypes"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/retiroATMConBilleteraTypes"
	version="1.0">
	
	<!--############################### -->
	<!--OPERACION: RETIRO ATM CON BILLETERA -->
	<xs:element name="retiroATMConBilletera">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USER" type="xs:string" minOccurs="0"/>
				<xs:element name="PASSWORD" type="xs:string" minOccurs="0"/>
				<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="CHANNEL" type="xs:string" minOccurs="0"/>
				<xs:element name="TERMINAL_ID" type="xs:string" minOccurs="0" />
				<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
				<xs:element name="TERMINAL_REFERENCE" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="retiroATMConBilleteraResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTION_DATE" type="xs:dateTime" minOccurs="0" />
				<xs:element name="AUTORIZATION_NUMBER" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>