Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKGT/consultaBin/xsd/consultaBin_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaBin" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaBin" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_COMPANY" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_STATUS" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_BIN_DETAILS" type="db:PROXYABANKSGT.T_BIN_ITEM" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_CODE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_MESSAGE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.T_BIN_ITEM">
      <sequence>
         <element name="PV_BIN_DETAILS_ITEM" type="db:PROXYABANKSGT.BIN_ITEMS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.BIN_ITEMS">
      <sequence>
         <element name="BIN" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COMPANY" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_NUMBER" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ID" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_LEGAL_ID" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_NAME" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NAME_ON_CARD" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EXPIRATION_DATE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BANK_STATUS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EMBOSS_STATUS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PIN_VERIFICATION_VALUE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERVICE_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
</schema>
