Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaHistoricoAutorizaciones/xsd/consultaHistoricoAutorizacionesTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaHistoricoAutorizacionesTypes" 
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaHistoricoAutorizacionesTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="consultaHistoricoAutorizacionesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="tns:stringMinLength1"/>			
				<xs:element name="ORG" type="xs:string" minOccurs="0"/>
				<xs:element name="INITIAL_PERIOD" type="tns:stringMinLength1"/>
				<xs:element name="FINAL_PERIOD" type="tns:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
	
	<xs:element name="consultaHistoricoAutorizacionesResponse">	
		<xs:complexType>
			<xs:sequence>
			    <xs:element name="TRANSACTIONS" minOccurs="0" maxOccurs="1" form="qualified">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TRANSACTION" minOccurs="0" maxOccurs="unbounded" form="qualified" >
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TRANSACTION_COUNTRY" type="xs:decimal" minOccurs="0"/>		
										<xs:element name="TRANSACTION_CURRENCY" type="xs:decimal" minOccurs="0"/>
										<xs:element name="TRANSACTION_DATE" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="TRANSACTION_TIME" type="xs:decimal" minOccurs="0"/>
										<xs:element name="TRANSACTION_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="COUNTRY_ACQ_ID" type="xs:decimal" minOccurs="0"/>
										<xs:element name="ORG" type="xs:decimal" minOccurs="0"/>
										<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="CARD_HOLDER_BILL_CURRENCY" type="xs:decimal" minOccurs="0"/>
										<xs:element name="CARD_HOLDER_DES_ACCOUNT_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="CARD_HOLDER_SRC_ACCOUNT_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="CARD_HOLDER_TRANSACTION_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="CARD_SEQUENCE" type="xs:decimal" minOccurs="0"/>
										<xs:element name="CARD_TYPE" type="xs:decimal" minOccurs="0"/>
										<xs:element name="CARD_EXP_DATE" type="xs:decimal" minOccurs="0"/>
										<xs:element name="CASH_PLAN_NUMBER" type="xs:decimal" minOccurs="0"/>
										<xs:element name="AVAILABLE_CREDIT" type="xs:decimal" minOccurs="0"/>
										<xs:element name="AVAILABLE_CASH_CREDIT" type="xs:decimal" minOccurs="0"/>
										<xs:element name="BALANCE" type="xs:decimal" minOccurs="0"/>
										<xs:element name="CASH_BALANCE" type="xs:decimal" minOccurs="0"/>
										<xs:element name="ACTION" type="xs:string" minOccurs="0"/>
										<xs:element name="ACTION_REASON" type="xs:decimal" minOccurs="0"/>
										<xs:element name="REVERSION_REASON" type="xs:string" minOccurs="0"/>
										<xs:element name="SYSTEM_ACTION" type="xs:string" minOccurs="0"/>
										<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
										<xs:element name="SALE_AMOUNT" type="xs:decimal" minOccurs="0"/>
										<xs:element name="AUTH_CODE" type="xs:string" minOccurs="0"/>
										<xs:element name="AUTHORIZATION_RESPONSE_CODE" type="xs:string" minOccurs="0"/>
										<xs:element name="FORCE_FLAG" type="xs:string" minOccurs="0"/>
										<xs:element name="FWD_ID" type="xs:decimal" minOccurs="0"/>
										<xs:element name="BUSINESS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="BUSINESS_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="BUSINESS_CITY" type="xs:string" minOccurs="0"/>
										<xs:element name="BUSINESS_COUNTY" type="xs:string" minOccurs="0"/>
										<xs:element name="REQUEST_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="FAS_TRANSACTION_CODE" type="xs:decimal" minOccurs="0"/>
										<xs:element name="INPUT_SOURCE" type="xs:string" minOccurs="0"/>
										<xs:element name="LOGO" type="xs:decimal" minOccurs="0"/>
										<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="POS_INT_FLAG" type="xs:string" minOccurs="0"/>
										<xs:element name="POSEM" type="xs:decimal" minOccurs="0"/>
										<xs:element name="POS_COND_CODE" type="xs:decimal" minOccurs="0"/>
										<xs:element name="STIP_RTN_CODE" type="xs:string" minOccurs="0"/>
										<xs:element name="PROC_LEVEL" type="xs:string" minOccurs="0"/>
										<xs:element name="PARM_LEVEL_USED" type="xs:string" minOccurs="0"/>
										<xs:element name="TERMINAL_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="SOURCE_TERMINAL_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="OF01WS_B040_SVC_REST_CODE" type="xs:string" minOccurs="0"/>
										<xs:element name="MESAGE_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="GMT_TIMESTAMP" type="xs:decimal" minOccurs="0"/>
										<xs:element name="MER_TYPE" type="xs:decimal" minOccurs="0"/>
										<xs:element name="SENT_ABSOLUTE_TIMESTAMP" type="xs:decimal" minOccurs="0"/>
										<xs:element name="SENT_TIMESTAMP" type="xs:decimal" minOccurs="0"/>
										<xs:element name="RECEIVED_TIMESTAMP" type="xs:decimal" minOccurs="0"/>
										<xs:element name="RECEIVED_ABSOLUTE_TIMESTAMP" type="xs:decimal" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>	
	</xs:element> 
	
</xs:schema>