Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/LiquidacionFondosExt/LiquidacionFondosExt.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/liquidacionFondosExtTypes"
	xmlns:liq="http://www.ficohsa.com.hn/middleware.services/liquidacionFondosExtTypes">
	
	<!--  CONSULTA -->
	<xs:element name="consultaFondosExt">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="ASSET_ID" type="xs:string"/>
	            <xs:element name="ASSET_CURRENCY" type="xs:string"/>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaFondosExtResponse" type="liq:consultaFondosExtResponseType"/>
	
	<xs:complexType name="consultaFondosExtResponseType">
		<xs:sequence>
			<xs:element name="ASSET_ID" type="xs:string" minOccurs="0" />
			<xs:element name="ASSET_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="ASSET_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="ASSET_DETAIL" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--  LIQUIDACION -->
	<xs:element name="liquidacionFondosExt">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="ASSET_ID" type="xs:string"/>
	            <xs:element name="ASSET_CURRENCY" type="xs:string"/>	            
	            <xs:element name="ASSET_PAYMENT_TYPE" type="xs:string"/>
	            <xs:element name="CASHIER_CHECK" type="liq:liquidacionFondosCashierCheckType"/>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="liquidacionFondosCashierCheckType">
		<xs:sequence>			
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0" />										
		</xs:sequence>
	</xs:complexType>

	<xs:element name="liquidacionFondosExtResponse" type="liq:liquidacionFondosExtResponseType"/>
	
	<xs:complexType name="liquidacionFondosExtResponseType">
		<xs:sequence>
			<xs:element name="ASSET_ID" type="xs:string" minOccurs="0" />
			<xs:element name="ASSET_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="ASSET_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="ASSET_DETAIL" type="xs:string" minOccurs="0" />
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="CASHIER_CHECK" type="liq:liquidacionFondosCashierCheckResponseType"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="liquidacionFondosCashierCheckResponseType">
		<xs:sequence>			
			<xs:element name="CREDITAMOUNT" type="xs:string" minOccurs="0" />						
			<xs:element name="LRCHQNOCONFRM" type="xs:string" minOccurs="0" />			
			<xs:element name="PROCESSINGDATE" type="xs:string" minOccurs="0" />
			<xs:element name="PROCESSINGDAY" type="xs:string" minOccurs="0" />
			<xs:element name="PROCESSINGMONTH" type="xs:string" minOccurs="0" />
			<xs:element name="PROCESSINGYEAR" type="xs:string" minOccurs="0" />
			<xs:element name="LRBENNAME" type="xs:string" minOccurs="0" />
			<xs:element name="LRAMTWORDS" type="xs:string" minOccurs="0" />
			<xs:element name="COCODE" type="xs:string" minOccurs="0" />
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
			<xs:element name="DEBITACCTNO" type="xs:string" minOccurs="0" />
			<xs:element name="DATETIME" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	

</xs:schema>