Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ObtenerInfoUsuarioAPP/xsd/obtenerInfoUsuarioAPPTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/obtenerInfoUsuarioAPPTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/obtenerInfoUsuarioAPPTypes">
	
	<xs:element name="obtenerInfoUsuarioAPPResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USER_INFORMATION" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NAME" type="xs:string" minOccurs="0" />
							<xs:element name="VALUE" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="obtenerInfoUsuarioAPP">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROFILE" type="xs:string"/>
				<xs:element name="APPLICATION" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>