Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/TransaccionesAutobancos/XMLSchema_1271081668.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="DepositoChequeCertificadoLCY" type="tns:DepositoChequeCertificadoLCY"/>

<xs:element name="DepositoChequeCertificadoLCYResponse" type="tns:DepositoChequeCertificadoLCYResponse"/>

<xs:element name="DepositoChequeCertificadoLCY_Validate" type="tns:DepositoChequeCertificadoLCY_Validate"/>

<xs:element name="DepositoChequeCertificadoLCY_ValidateResponse" type="tns:DepositoChequeCertificadoLCY_ValidateResponse"/>

<xs:element name="DepositoChequeGerenciaFCY" type="tns:DepositoChequeGerenciaFCY"/>

<xs:element name="DepositoChequeGerenciaFCYResponse" type="tns:DepositoChequeGerenciaFCYResponse"/>

<xs:element name="DepositoChequeGerenciaFCY_Validate" type="tns:DepositoChequeGerenciaFCY_Validate"/>

<xs:element name="DepositoChequeGerenciaFCY_ValidateResponse" type="tns:DepositoChequeGerenciaFCY_ValidateResponse"/>

<xs:element name="DepositoChequeGerenciaLCY" type="tns:DepositoChequeGerenciaLCY"/>

<xs:element name="DepositoChequeGerenciaLCYResponse" type="tns:DepositoChequeGerenciaLCYResponse"/>

<xs:element name="DepositoChequeGerenciaLCY_Validate" type="tns:DepositoChequeGerenciaLCY_Validate"/>

<xs:element name="DepositoChequeGerenciaLCY_ValidateResponse" type="tns:DepositoChequeGerenciaLCY_ValidateResponse"/>

<xs:element name="DepositoCombinado" type="tns:DepositoCombinado"/>

<xs:element name="DepositoCombinadoResponse" type="tns:DepositoCombinadoResponse"/>

<xs:element name="DepositoCombinado_Validate" type="tns:DepositoCombinado_Validate"/>

<xs:element name="DepositoCombinado_ValidateResponse" type="tns:DepositoCombinado_ValidateResponse"/>

<xs:element name="PagoTCconFTCajaChqLocal" type="tns:PagoTCconFTCajaChqLocal"/>

<xs:element name="PagoTCconFTCajaChqLocalResponse" type="tns:PagoTCconFTCajaChqLocalResponse"/>

<xs:element name="PagoTCconFTCajaChqLocal_Validate" type="tns:PagoTCconFTCajaChqLocal_Validate"/>

<xs:element name="PagoTCconFTCajaChqLocal_ValidateResponse" type="tns:PagoTCconFTCajaChqLocal_ValidateResponse"/>

<xs:element name="PagoTCconFTCajaChqPropio" type="tns:PagoTCconFTCajaChqPropio"/>

<xs:element name="PagoTCconFTCajaChqPropioResponse" type="tns:PagoTCconFTCajaChqPropioResponse"/>

<xs:element name="PagoTCconFTCajaChqPropio_Validate" type="tns:PagoTCconFTCajaChqPropio_Validate"/>

<xs:element name="PagoTCconFTCajaChqPropio_ValidateResponse" type="tns:PagoTCconFTCajaChqPropio_ValidateResponse"/>

<xs:element name="PagoTCconFTCajaEfectivo" type="tns:PagoTCconFTCajaEfectivo"/>

<xs:element name="PagoTCconFTCajaEfectivoResponse" type="tns:PagoTCconFTCajaEfectivoResponse"/>

<xs:element name="PagoTCconFTCajaEfectivo_Validate" type="tns:PagoTCconFTCajaEfectivo_Validate"/>

<xs:element name="PagoTCconFTCajaEfectivo_ValidateResponse" type="tns:PagoTCconFTCajaEfectivo_ValidateResponse"/>

<xs:element name="PagodeChequeFCY" type="tns:PagodeChequeFCY"/>

<xs:element name="PagodeChequeFCYResponse" type="tns:PagodeChequeFCYResponse"/>

<xs:element name="PagodeChequeFCY_Validate" type="tns:PagodeChequeFCY_Validate"/>

<xs:element name="PagodeChequeFCY_ValidateResponse" type="tns:PagodeChequeFCY_ValidateResponse"/>

<xs:element name="PagodeChequeLCY" type="tns:PagodeChequeLCY"/>

<xs:element name="PagodeChequeLCYResponse" type="tns:PagodeChequeLCYResponse"/>

<xs:element name="PagodeChequeLCY_Validate" type="tns:PagodeChequeLCY_Validate"/>

<xs:element name="PagodeChequeLCY_ValidateResponse" type="tns:PagodeChequeLCY_ValidateResponse"/>

<xs:element name="PagodeTarjetaCredito" type="tns:PagodeTarjetaCredito"/>

<xs:element name="PagodeTarjetaCreditoResponse" type="tns:PagodeTarjetaCreditoResponse"/>

<xs:element name="PagodeTarjetaCredito_Validate" type="tns:PagodeTarjetaCredito_Validate"/>

<xs:element name="PagodeTarjetaCredito_ValidateResponse" type="tns:PagodeTarjetaCredito_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="TELLERFINANCIALSERVICESFICOCCARDPAYMENTWSType">
<xs:sequence>
<xs:element name="PrimaryAccount" type="xs:string" minOccurs="0"/>
<xs:element name="gTRANSACTION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mTRANSACTION" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="Transaction" type="xs:string" minOccurs="0"/>
<xs:element name="SurrogateAccount" type="xs:string" minOccurs="0"/>
<xs:element name="Currency" type="xs:string" minOccurs="0"/>
<xs:element name="Amount" type="xs:string" minOccurs="0"/>
<xs:element name="SortCode" type="xs:string" minOccurs="0"/>
<xs:element name="ChequeNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRMINAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAXAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LROTHAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCARDNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRCCY" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.CONSOL.TXN" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.CONSOL.TXN" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRCONSOLTXN" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSOLAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCONSOLTOT" type="xs:string" minOccurs="0"/>
<xs:element name="LRAMTPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSUMEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESC" type="xs:string" minOccurs="0"/>
<xs:element name="PANNO" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.ECONOMIC.ACT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.ECONOMIC.ACT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSTRATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCYDECNO" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRORIGINITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRHALFPYMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESIDENT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRFICOIDDEPO" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHANNELID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFINANCIALSERVICESType">
<xs:sequence>
<xs:element name="BOOKINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYCUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYACCOUNTINT" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLINSTRUCTION" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLMETHOD" type="xs:string" minOccurs="0"/>
<xs:element name="CONSOLLEVELADDON" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_10" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_11" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_12" type="xs:string" minOccurs="0"/>
<xs:element name="gTRANSACTION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mTRANSACTION" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSACTION" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONINT" type="xs:string" minOccurs="0"/>
<xs:element name="BENEFICIARYID" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_16" type="xs:string" minOccurs="0"/>
<xs:element name="SURROGATEAC" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTDR" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYDR" type="xs:string" minOccurs="0"/>
<xs:element name="CCYDRINT" type="xs:string" minOccurs="0"/>
<xs:element name="EXCHTXNDR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTDR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTDRLCY" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTCR" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYCR" type="xs:string" minOccurs="0"/>
<xs:element name="CCYCRINT" type="xs:string" minOccurs="0"/>
<xs:element name="EXCHTXNCR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTCR" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTCRLCY" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYINT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTINT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLCY" type="xs:string" minOccurs="0"/>
<xs:element name="DEALRATE" type="xs:string" minOccurs="0"/>
<xs:element name="DEALRATEINT" type="xs:string" minOccurs="0"/>
<xs:element name="WASHTHRUSIDE" type="xs:string" minOccurs="0"/>
<xs:element name="WAIVECHARGE" type="xs:string" minOccurs="0"/>
<xs:element name="sgCHGCODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CHGCODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHGCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHGACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHGCCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHGAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CHGAMTLCY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CRVALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DRVALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFCHEQUES" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEDRAWN" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="SORTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEACCTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CHQTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="sgSPLITDATE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="SPLITDATE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SPLITDATE" type="xs:string" minOccurs="0"/>
<xs:element name="SPLITAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CREXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DREXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="sgCRDENOM" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CRDENOM" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CRDENOM" type="xs:string" minOccurs="0"/>
<xs:element name="CRAVAIL" type="xs:string" minOccurs="0"/>
<xs:element name="CRDENUNIT" type="xs:string" minOccurs="0"/>
<xs:element name="CRSERIALNO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="sgDRDENOM" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DRDENOM" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DRDENOM" type="xs:string" minOccurs="0"/>
<xs:element name="DRAVAIL" type="xs:string" minOccurs="0"/>
<xs:element name="DRDENUNIT" type="xs:string" minOccurs="0"/>
<xs:element name="DRSERIALNO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="OURREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="sgNARRATIVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="sgPAYMENTDETS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="PAYMENTDETS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DCPRODCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="DCCUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="DCACCTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="DCREVERSEMARK" type="xs:string" minOccurs="0"/>
<xs:element name="CARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="sgCARDDETAILS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CARDDETAILS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DRCURRMKT" type="xs:string" minOccurs="0"/>
<xs:element name="CRCURRMKT" type="xs:string" minOccurs="0"/>
<xs:element name="UNDERLYING" type="xs:string" minOccurs="0"/>
<xs:element name="ULSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="sgULSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ULSTMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RESERVED_79" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_80" type="xs:string" minOccurs="0"/>
<xs:element name="RUNDERLYING" type="xs:string" minOccurs="0"/>
<xs:element name="sgRULSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="RULSTMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RULSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="ULCOMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="sgLOCKREF" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LOCKREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CONSOLLEG" type="xs:string" minOccurs="0"/>
<xs:element name="VALERROR" type="xs:string" minOccurs="0"/>
<xs:element name="REVERSALMARK" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CONSOLIDATENOW" type="xs:string" minOccurs="0"/>
<xs:element name="AMLCUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="gAMLNAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="AMLNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gAMLADDRESS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="AMLADDRESS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AMLNATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="gLEGALID" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLEGALID" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALDOCNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALHOLDERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISSAUTH" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISSDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALEXPDATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCOMMTYPE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCOMMTYPE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="COMMTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMREFERENCE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gRTACCOUNTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mRTACCOUNTNO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="RTACCOUNTNO" type="xs:string" minOccurs="0"/>
<xs:element name="RUNNINGTOTAL" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="MKTEXCHPROFIT" type="xs:string" minOccurs="0"/>
<xs:element name="gULOFSMSGS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ULOFSMSGS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RESERVED_106" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_107" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_108" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_109" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_110" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_111" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_112" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_113" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_114" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_115" type="xs:string" minOccurs="0"/>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="LRMINAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAXAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LROTHAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRALCANCNFNO" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCARDNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LREXPIRYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAPID" type="xs:string" minOccurs="0"/>
<xs:element name="LRTELLERID" type="xs:string" minOccurs="0"/>
<xs:element name="LRAGENCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TERMINALID" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.CONSOL.TXN" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.CONSOL.TXN" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRCONSOLTXN" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSOLAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCONSOLTOT" type="xs:string" minOccurs="0"/>
<xs:element name="LRAMTPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSUMEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESC" type="xs:string" minOccurs="0"/>
<xs:element name="PANNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRLOANNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINACCT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINCCY" type="xs:string" minOccurs="0"/>
<xs:element name="RTEFORM" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.CATEGORY" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.CATEGORY" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="LRITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRGROUP" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gLR.ECONOMIC.ACT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.ECONOMIC.ACT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSTRATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCYDECNO" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRORIGINITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRHALFPYMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESIDENT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCRDCARDSEQ" type="xs:string" minOccurs="0"/>
<xs:element name="LRLEGALEXPID" type="xs:string" minOccurs="0"/>
<xs:element name="LRLGLEXPAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVECHG" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRADVCHGAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHGTOT" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVETOT" type="xs:string" minOccurs="0"/>
<xs:element name="LRTOTPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCHARGETSP" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.FICO.DEPOSIT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRFICODEPOSIT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRFICOACHPXD" type="xs:string" minOccurs="0"/>
<xs:element name="PASSBOOKNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="LRMULTSFTTXN" type="xs:string" minOccurs="0"/>
<xs:element name="LRFICOIDDEPO" type="xs:string" minOccurs="0"/>
<xs:element name="LRFICOTFSVER" type="xs:string" minOccurs="0"/>
<xs:element name="LRNOMBTITULAR" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENID" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHANNELID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFICOCASHIERCHEQUEDEPType">
<xs:sequence>
<xs:element name="TransactionCode" type="xs:string" minOccurs="0"/>
<xs:element name="CashierChequeCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="gACCOUNT1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCOUNT1" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="Account1" type="xs:string" minOccurs="0"/>
<xs:element name="CashierChequeAmount" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DealRate" type="xs:string" minOccurs="0"/>
<xs:element name="DepositCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="DepositAccount" type="xs:string" minOccurs="0"/>
<xs:element name="DepositoReferenciado" type="xs:string" minOccurs="0"/>
<xs:element name="DepositAmountLocal" type="xs:string" minOccurs="0"/>
<xs:element name="DepositAmountFcy" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATIVE2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Narrative" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCHEQUENUMBER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHEQUENUMBER" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ChequeNumber" type="xs:string" minOccurs="0"/>
<xs:element name="ChequeBankCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="SHORTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENID" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.NARRATIVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRNARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="PASSBOOKNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHANNELID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERType">
<xs:sequence>
<xs:element name="TRANSACTIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TELLERID1" type="xs:string" minOccurs="0"/>
<xs:element name="DRCRMARKER" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY1" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMER1" type="xs:string" minOccurs="0"/>
<xs:element name="gACCOUNT1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCOUNT1" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCOUNT1" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLOCAL1" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTFCY1" type="xs:string" minOccurs="0"/>
<xs:element name="sgNARRATIVE1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NARRATIVE1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RATE1" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE1" type="xs:string" minOccurs="0"/>
<xs:element name="EXPOSUREDATE1" type="xs:string" minOccurs="0"/>
<xs:element name="CURRMARKET1" type="xs:string" minOccurs="0"/>
<xs:element name="POSTYPE1" type="xs:string" minOccurs="0"/>
<xs:element name="DEALRATE" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY2" type="xs:string" minOccurs="0"/>
<xs:element name="TELLERID2" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNT2" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMER2" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLOCAL2" type="xs:string" minOccurs="0"/>
<xs:element name="RATE2" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTFCY2" type="xs:string" minOccurs="0"/>
<xs:element name="NETAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE2" type="xs:string" minOccurs="0"/>
<xs:element name="EXPOSUREDATE2" type="xs:string" minOccurs="0"/>
<xs:element name="CURRMARKET2" type="xs:string" minOccurs="0"/>
<xs:element name="POSTYPE2" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATIVE2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NARRATIVE2" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCHEQUENUMBER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHEQUENUMBER" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEBANKCDE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEACCTNO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCHARGECUSTOMER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHARGECUSTOMER" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHARGECUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGECATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="CHRGDRTXNCDE" type="xs:string" minOccurs="0"/>
<xs:element name="CHRGCRTXNCDE" type="xs:string" minOccurs="0"/>
<xs:element name="CHRGAMTLOCAL" type="xs:string" minOccurs="0"/>
<xs:element name="CHRGAMTFCCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGECODE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="WAIVECHARGES" type="xs:string" minOccurs="0"/>
<xs:element name="THEIRREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="OURREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="gDENOMINATION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mDENOMINATION" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DENOMINATION" type="xs:string" minOccurs="0"/>
<xs:element name="UNIT" type="xs:string" minOccurs="0"/>
<xs:element name="sgSERIALNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="SERIALNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDRDENOM" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mDRDENOM" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DRDENOM" type="xs:string" minOccurs="0"/>
<xs:element name="DRUNIT" type="xs:string" minOccurs="0"/>
<xs:element name="sgDRSERIALNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DRSERIALNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="TRUSTCUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="ROUNDINGAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="gNEWCUSTBAL" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NEWCUSTBAL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AMOUNTDEPOSITED" type="xs:string" minOccurs="0"/>
<xs:element name="MKTEXCHPROFIT" type="xs:string" minOccurs="0"/>
<xs:element name="TRUSTSETTLECUST" type="xs:string" minOccurs="0"/>
<xs:element name="EXPOSURECCY" type="xs:string" minOccurs="0"/>
<xs:element name="gEXPACCT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mEXPACCT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="EXPACCT" type="xs:string" minOccurs="0"/>
<xs:element name="sgEXPSPTDAT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="EXPSPTDAT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="EXPSPTDAT" type="xs:string" minOccurs="0"/>
<xs:element name="EXPSPTAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DEALERDESK" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="STOCKREGISTER" type="xs:string" minOccurs="0"/>
<xs:element name="SERIESID" type="xs:string" minOccurs="0"/>
<xs:element name="STOCKNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CONTRACTGRP" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CONTRACTMATDATE" type="xs:string" minOccurs="0"/>
<xs:element name="POSSDUPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="gCARDTXNDETAIL" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CARDTXNDETAIL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="TFSREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEDRAWN" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="gSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="STMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="gSTOCK.CODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mSTOCK.CODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="STOCKCODE" type="xs:string" minOccurs="0"/>
<xs:element name="QUANTITY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DISCITEM" type="xs:string" minOccurs="0"/>
<xs:element name="PARTPAYMENT" type="xs:string" minOccurs="0"/>
<xs:element name="BALREPAYMENT" type="xs:string" minOccurs="0"/>
<xs:element name="gTRANS.REF" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gPEND.STOCK.CODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mPEND.STOCK.CODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PENDSTOCKCODE" type="xs:string" minOccurs="0"/>
<xs:element name="PENDINGAMOUNT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="SHORTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRTRMNLID" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.INVOICE.NO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.INVOICE.NO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRINVOICENO" type="xs:string" minOccurs="0"/>
<xs:element name="LRINVOICEDT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPENALITYAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPARTIALAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRTOTALAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYYN" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRIDENCODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRTAXYEAR" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.TAX.PAY.NAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRTAXPAYNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRTOTTAXDUE" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.MONTH" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.MONTH" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRMONTH" type="xs:string" minOccurs="0"/>
<xs:element name="LRAMTTOPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRTAXPAY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRAGCLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRCCARDNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPORTVAL" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPORTPLACE" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPORTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPPOINTNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPPOINTDT" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPPOINTCHG" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPPOINTTIME" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRORDPARID" type="xs:string" minOccurs="0"/>
<xs:element name="LRORDNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTCNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENID" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRRECMODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRRECDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMITCODE" type="xs:string" minOccurs="0"/>
<xs:element name="RTEFORM" type="xs:string" minOccurs="0"/>
<xs:element name="LRIDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="LRDATEBIRTH" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.STK.CODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.STK.CODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRSTKCODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRPRODQUANT" type="xs:string" minOccurs="0"/>
<xs:element name="LRUNITPRICE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRTTDRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRMETHODPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRNXTISTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRNXTISTDAT" type="xs:string" minOccurs="0"/>
<xs:element name="LROUTSDAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVECHG" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAVPARAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRARRMENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRDLSLIPPR" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRPARPAYAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYPARDAT" type="xs:string" minOccurs="0"/>
<xs:element name="LRSENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRCERTCHQNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LRCERTCHQISS" type="xs:string" minOccurs="0"/>
<xs:element name="LREMPCODE" type="xs:string" minOccurs="0"/>
<xs:element name="LREMPNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRTOTAMTPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYMODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRBALAMT" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.BL.BATCH" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.BL.BATCH" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBLBATCH" type="xs:string" minOccurs="0"/>
<xs:element name="LRBATCHAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gLR.BL.REG.NO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.BL.REG.NO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBLREGNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRBILLAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="LRBLSTATUS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRBLCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRNOOFBILLS" type="xs:string" minOccurs="0"/>
<xs:element name="LRTOTBILLAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRBILLLOC" type="xs:string" minOccurs="0"/>
<xs:element name="LRTENTXT" type="xs:string" minOccurs="0"/>
<xs:element name="DAOBRANCH" type="xs:string" minOccurs="0"/>
<xs:element name="LRHALFPYMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESIDENT" type="xs:string" minOccurs="0"/>
<xs:element name="LRTTCRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="LRITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRGROUP" type="xs:string" minOccurs="0"/>
<xs:element name="LRTELVERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRRECALCULATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRBALDUE" type="xs:string" minOccurs="0"/>
<xs:element name="LRIDENTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.NARRATIVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRNARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRPAYNOTES" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMITMSG" type="xs:string" minOccurs="0"/>
<xs:element name="LRAGRCLIENT" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.REMIT.ADD" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRREMITADD" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRREMITMOBILE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCOUNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCITY" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMITTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHQUEDEPSIT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRTCARDNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LRCLRZONECDE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHQDPSTTME" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHARGEACCT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDEPCUSTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINACCT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHQEXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRACCTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="LROTHEROFFCER" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRNATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="LRGENDER" type="xs:string" minOccurs="0"/>
<xs:element name="LRMARSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="LRDOB" type="xs:string" minOccurs="0"/>
<xs:element name="LRDICORPNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRAGENCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFCOMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="LRLEGALISEDID" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCYDECNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRALCANCNFNO" type="xs:string" minOccurs="0"/>
<xs:element name="LREXPIRYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRORIGINITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LREXCHRTBR" type="xs:string" minOccurs="0"/>
<xs:element name="LRDAYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LREMAILID" type="xs:string" minOccurs="0"/>
<xs:element name="LRCLIENTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRAUCALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="LOANNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="LRECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="LRITEMSUBITM" type="xs:string" minOccurs="0"/>
<xs:element name="LRFICOAUCTION" type="xs:string" minOccurs="0"/>
<xs:element name="LRUSDCRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRUSDAUCAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRATEOPTION" type="xs:string" minOccurs="0"/>
<xs:element name="LRAUCRATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRBNKAUCAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRAUCINPREF" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAPID" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPISSUEDT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPVALDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRRSCHGLCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRRSCHGFCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSTRATE" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.SEC.BEN.NAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRSECBENNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRFRQCUSTNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LRDATEOFBIR" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.OCCUPATION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LROCCUPATION" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRAGENTCNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="LRAGENTCITY" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENFIRNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENLASNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMFIRNAM" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMLASNAM" type="xs:string" minOccurs="0"/>
<xs:element name="LRSTATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRTYPECLIENT" type="xs:string" minOccurs="0"/>
<xs:element name="LRREJRESON" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.GVT.ACC.NAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRGVTACCNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRPARTQUANT" type="xs:string" minOccurs="0"/>
<xs:element name="LRREVINP" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRDCARDSEQ" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.FLINK.CNF.NO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRFLINKCNFNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="JMSRESP" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCHARGETSP" type="xs:string" minOccurs="0"/>
<xs:element name="LRFICODEPOSIT" type="xs:string" minOccurs="0"/>
<xs:element name="PASSBOOKNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="IFEVENTFILTER" type="xs:string" minOccurs="0"/>
<xs:element name="RELWTHPERREF" type="xs:string" minOccurs="0"/>
<xs:element name="LRWORK" type="xs:string" minOccurs="0"/>
<xs:element name="PROFESIONTRADE" type="xs:string" minOccurs="0"/>
<xs:element name="SRCOFINCOME" type="xs:string" minOccurs="0"/>
<xs:element name="gPHONE.NUMBER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="PHONENUMBER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gADDRESS.TYPE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mADDRESS.TYPE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ADDRESSTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="MAINADPHYCOR" type="xs:string" minOccurs="0"/>
<xs:element name="COUNTRYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="STATECODE" type="xs:string" minOccurs="0"/>
<xs:element name="CITYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="COLONYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="NEIGHBPENDING" type="xs:string" minOccurs="0"/>
<xs:element name="AVENUE" type="xs:string" minOccurs="0"/>
<xs:element name="ADDSTREET" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCK" type="xs:string" minOccurs="0"/>
<xs:element name="HOUSENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="REFERENCES" type="xs:string" minOccurs="0"/>
<xs:element name="COMPLETEADDRES" type="xs:string" minOccurs="0"/>
<xs:element name="COMPLETADDRESS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gTELEPHONE.REFER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TELEPHONEREFER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRNOMTERCERO" type="xs:string" minOccurs="0"/>
<xs:element name="LRNAMEUSERFN" type="xs:string" minOccurs="0"/>
<xs:element name="LRIDUSERFN" type="xs:string" minOccurs="0"/>
<xs:element name="LRISFPC" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYFMODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRFPCTPAGO" type="xs:string" minOccurs="0"/>
<xs:element name="LRCOBNOMBRE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCOBAPE" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.SV.CODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.SV.CODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRSVCODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRSVAMOUNTT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCOUNTRYORIG" type="xs:string" minOccurs="0"/>
<xs:element name="LRPERREFNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRPERREFAPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRTELREFPER" type="xs:string" minOccurs="0"/>
<xs:element name="LRPLACEBIRTH" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTOFFUND" type="xs:string" minOccurs="0"/>
<xs:element name="LRRELAOFTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRBUYTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRNUMACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHEQNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="LRDATELASTAU" type="xs:string" minOccurs="0"/>
<xs:element name="LRUSERAUT" type="xs:string" minOccurs="0"/>
<xs:element name="LRAGENCYAUT" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.OBS.AUT.ACT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LROBSAUTACT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gLR.OBS.AUT.HIS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LROBSAUTHIS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRDISPCOMP" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.DENOMINACION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.DENOMINACION" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRDENOMINACION" type="xs:string" minOccurs="0"/>
<xs:element name="LRMONTO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRSUMA" type="xs:string" minOccurs="0"/>
<xs:element name="LRCCARDCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRUSEMGISERV" type="xs:string" minOccurs="0"/>
<xs:element name="LRRELATOSEND" type="xs:string" minOccurs="0"/>
<xs:element name="LRPURPOFTRAN" type="xs:string" minOccurs="0"/>
<xs:element name="LRCODAREA" type="xs:string" minOccurs="0"/>
<xs:element name="LRNOEFECTIVO" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMRET" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHANNELID" type="xs:string" minOccurs="0"/>
<xs:element name="LRAMOUNTTSP" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFICOCCARDPAYMENTTTWSType">
<xs:sequence>
<xs:element name="Currency" type="xs:string" minOccurs="0"/>
<xs:element name="gACCOUNT1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCOUNT1" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PrimaryAccount" type="xs:string" minOccurs="0"/>
<xs:element name="OtherAmount" type="xs:string" minOccurs="0"/>
<xs:element name="AmountForeign" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="SurrogateAccount" type="xs:string" minOccurs="0"/>
<xs:element name="Amount" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATIVE2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCHEQUENUMBER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHEQUENUMBER" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ChequeNumber" type="xs:string" minOccurs="0"/>
<xs:element name="SortCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRIDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRHALFPYMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESIDENT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRTCARDNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCYDECNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRORIGINITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LREXCHRTBR" type="xs:string" minOccurs="0"/>
<xs:element name="LRECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="LRFICODEPOSIT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCCARDCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHANNELID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFICOHNDEPINTWSType">
<xs:sequence>
<xs:element name="Ccy" type="xs:string" minOccurs="0"/>
<xs:element name="Customer" type="xs:string" minOccurs="0"/>
<xs:element name="gACCOUNT1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCOUNT1" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="Account" type="xs:string" minOccurs="0"/>
<xs:element name="AmountLocal" type="xs:string" minOccurs="0"/>
<xs:element name="AmountFcy1" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="Currency2" type="xs:string" minOccurs="0"/>
<xs:element name="Account2" type="xs:string" minOccurs="0"/>
<xs:element name="Customer2" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATIVE2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCHEQUENUMBER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHEQUENUMBER" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ChequeNo" type="xs:string" minOccurs="0"/>
<xs:element name="ChqbnkCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRBENID" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHQEXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHANNELID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFICOFCYCASHCHQType">
<xs:sequence>
<xs:element name="DebitCreditMarker" type="xs:string" minOccurs="0"/>
<xs:element name="WithdrawalCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="gACCOUNT1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCOUNT1" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="InternalAccount" type="xs:string" minOccurs="0"/>
<xs:element name="WithdrawalAmount" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="ExchangeRate" type="xs:string" minOccurs="0"/>
<xs:element name="DebitCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="Account" type="xs:string" minOccurs="0"/>
<xs:element name="Customer" type="xs:string" minOccurs="0"/>
<xs:element name="CashPaidtoCustomer" type="xs:string" minOccurs="0"/>
<xs:element name="ValueDate" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATIVE2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Narrative" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCHEQUENUMBER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ChequeNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="WaiveCharges" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFICOCCARDPAYOWNCHQWSType">
<xs:sequence>
<xs:element name="CurrencyAcctDebit" type="xs:string" minOccurs="0"/>
<xs:element name="CustomerNo" type="xs:string" minOccurs="0"/>
<xs:element name="gACCOUNT1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCOUNT1" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SurrogateAccount" type="xs:string" minOccurs="0"/>
<xs:element name="OtherAmount" type="xs:string" minOccurs="0"/>
<xs:element name="AmountUSD" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="Currency" type="xs:string" minOccurs="0"/>
<xs:element name="PrimaryAccount" type="xs:string" minOccurs="0"/>
<xs:element name="Amount" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATIVE2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCHEQUENUMBER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHEQUENUMBER" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ChequeNumber" type="xs:string" minOccurs="0"/>
<xs:element name="SortCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRBENID" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRHALFPYMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESIDENT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRTCARDNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCYDECNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRORIGINITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LREXCHRTBR" type="xs:string" minOccurs="0"/>
<xs:element name="LRECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCCARDCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHANNELID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFINANCIALSERVICESFICOINPUTWSType">
<xs:sequence>
<xs:element name="TransactionAccount" type="xs:string" minOccurs="0"/>
<xs:element name="DepositAccount" type="xs:string" minOccurs="0"/>
<xs:element name="gTRANSACTION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mTRANSACTION" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSACTION" type="xs:string" minOccurs="0"/>
<xs:element name="SURROGATEAC" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="DEALRATE" type="xs:string" minOccurs="0"/>
<xs:element name="SORTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHQTYPE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="ConsolidatedTxnConsolidated" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRCCY" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.CONSOL.TXN" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.CONSOL.TXN" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRCONSOLTXN" type="xs:string" minOccurs="0"/>
<xs:element name="LRCONSOLAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRCONSOLTOT" type="xs:string" minOccurs="0"/>
<xs:element name="PANNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRLOANNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINACCT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRMULTSFTTXN" type="xs:string" minOccurs="0"/>
<xs:element name="LRFICOIDDEPO" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHANNELID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFICOCCARDPAYCHQLOCALWSType">
<xs:sequence>
<xs:element name="CurrencyAcctDebit" type="xs:string" minOccurs="0"/>
<xs:element name="gACCOUNT1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCOUNT1" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SurrogateAccount" type="xs:string" minOccurs="0"/>
<xs:element name="OtherAmount" type="xs:string" minOccurs="0"/>
<xs:element name="AmountUSD" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="Currency" type="xs:string" minOccurs="0"/>
<xs:element name="PrimaryAccount" type="xs:string" minOccurs="0"/>
<xs:element name="Amount" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATIVE2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCHEQUENUMBER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHEQUENUMBER" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ChequeNumber" type="xs:string" minOccurs="0"/>
<xs:element name="SortCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRBENID" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRHALFPYMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESIDENT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRTCARDNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCYDECNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRORIGINITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LREXCHRTBR" type="xs:string" minOccurs="0"/>
<xs:element name="LRECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCCARDCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHANNELID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFICOCERTIFIEDCHEQUEDEPType">
<xs:sequence>
<xs:element name="TransactionCode" type="xs:string" minOccurs="0"/>
<xs:element name="CertifiedChqCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="gACCOUNT1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCOUNT1" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="Account" type="xs:string" minOccurs="0"/>
<xs:element name="CertifiedChqAmount" type="xs:string" minOccurs="0"/>
<xs:element name="CertifiedChqAmtFcy" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DealRate" type="xs:string" minOccurs="0"/>
<xs:element name="DepositCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="DepositAccount" type="xs:string" minOccurs="0"/>
<xs:element name="Customer" type="xs:string" minOccurs="0"/>
<xs:element name="DepositAmountLocal" type="xs:string" minOccurs="0"/>
<xs:element name="DepositAmountFcy" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATIVE2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DepositoReferenciado" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="SHORTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENID" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRCERTCHQNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LRCERTCHQISS" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.NARRATIVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRNARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="PASSBOOKNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHANNELID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFICOLCYCASHCHQType">
<xs:sequence>
<xs:element name="DrCrMarker" type="xs:string" minOccurs="0"/>
<xs:element name="Currency" type="xs:string" minOccurs="0"/>
<xs:element name="gACCOUNT1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCOUNT1" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="InternalAccount" type="xs:string" minOccurs="0"/>
<xs:element name="WithdrawalAmount" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DebitAccount" type="xs:string" minOccurs="0"/>
<xs:element name="Customer" type="xs:string" minOccurs="0"/>
<xs:element name="CashPaidtoCust" type="xs:string" minOccurs="0"/>
<xs:element name="ValueDate" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATIVE2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Narrative" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCHEQUENUMBER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ChequeNo" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="PagodeChequeLCY">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOLCYCASHCHQType" type="tns:TELLERFICOLCYCASHCHQType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagodeChequeLCYResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoChequeCertificadoLCY">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOCERTIFIEDCHEQUEDEPType" type="tns:TELLERFICOCERTIFIEDCHEQUEDEPType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoChequeCertificadoLCYResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoTCconFTCajaEfectivo_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOCCARDPAYMENTTTWSType" type="tns:TELLERFICOCCARDPAYMENTTTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoTCconFTCajaEfectivo_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoChequeCertificadoLCY_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOCERTIFIEDCHEQUEDEPType" type="tns:TELLERFICOCERTIFIEDCHEQUEDEPType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoChequeCertificadoLCY_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagodeChequeLCY_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOLCYCASHCHQType" type="tns:TELLERFICOLCYCASHCHQType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagodeChequeLCY_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoTCconFTCajaChqPropio_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOCCARDPAYOWNCHQWSType" type="tns:TELLERFICOCCARDPAYOWNCHQWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoTCconFTCajaChqPropio_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoTCconFTCajaChqPropio">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOCCARDPAYOWNCHQWSType" type="tns:TELLERFICOCCARDPAYOWNCHQWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoTCconFTCajaChqPropioResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoChequeGerenciaLCY_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOCASHIERCHEQUEDEPType" type="tns:TELLERFICOCASHIERCHEQUEDEPType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoChequeGerenciaLCY_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoCombinado">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESFICOINPUTWSType" type="tns:TELLERFINANCIALSERVICESFICOINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoCombinadoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESType" type="tns:TELLERFINANCIALSERVICESType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoCombinado_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESFICOINPUTWSType" type="tns:TELLERFINANCIALSERVICESFICOINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoCombinado_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESType" type="tns:TELLERFINANCIALSERVICESType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoTCconFTCajaEfectivo">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOCCARDPAYMENTTTWSType" type="tns:TELLERFICOCCARDPAYMENTTTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoTCconFTCajaEfectivoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoChequeGerenciaFCY">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOHNDEPINTWSType" type="tns:TELLERFICOHNDEPINTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoChequeGerenciaFCYResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagodeTarjetaCredito">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESFICOCCARDPAYMENTWSType" type="tns:TELLERFINANCIALSERVICESFICOCCARDPAYMENTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagodeTarjetaCreditoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESType" type="tns:TELLERFINANCIALSERVICESType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoChequeGerenciaLCY">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOCASHIERCHEQUEDEPType" type="tns:TELLERFICOCASHIERCHEQUEDEPType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoChequeGerenciaLCYResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagodeTarjetaCredito_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESFICOCCARDPAYMENTWSType" type="tns:TELLERFINANCIALSERVICESFICOCCARDPAYMENTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagodeTarjetaCredito_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERFINANCIALSERVICESType" type="tns:TELLERFINANCIALSERVICESType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagodeChequeFCY">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOFCYCASHCHQType" type="tns:TELLERFICOFCYCASHCHQType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagodeChequeFCYResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoTCconFTCajaChqLocal_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOCCARDPAYCHQLOCALWSType" type="tns:TELLERFICOCCARDPAYCHQLOCALWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoTCconFTCajaChqLocal_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoTCconFTCajaChqLocal">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOCCARDPAYCHQLOCALWSType" type="tns:TELLERFICOCCARDPAYCHQLOCALWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagoTCconFTCajaChqLocalResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoChequeGerenciaFCY_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOHNDEPINTWSType" type="tns:TELLERFICOHNDEPINTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoChequeGerenciaFCY_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagodeChequeFCY_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOFCYCASHCHQType" type="tns:TELLERFICOFCYCASHCHQType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagodeChequeFCY_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>