Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/ConsultasCuentaT24/v1.0/ConsultaDetalleCuentaBS.xsd

<!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.  -->
<xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">
<xs:element name="Consultadetallecuenta" type="tns:Consultadetallecuenta"/>
<xs:element name="ConsultadetallecuentaResponse" type="tns:ConsultadetallecuentaResponse"/>
<xs:element name="callOfs" type="tns:callOfs"/>
<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>
<xs:complexType name="ACCOUNTLISTDYNWSType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gACCOUNTLISTDYNWSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCOUNTLISTDYNWSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="SHORTTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LIMITREF" type="xs:string" minOccurs="0"/>
<xs:element name="POSTINGRESTRICT" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
<xs:element name="OPENINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="OPERATIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="REQUIREDSIGNATURES" type="xs:string" minOccurs="0"/>
<xs:element name="SIGNATUREDESC" type="xs:string" minOccurs="0"/>
<xs:element name="INACTIVEMARKER" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALIDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPREFACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPURPOSE" type="xs:string" minOccurs="0"/>
<xs:element name="LRMONTXVOL" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSREP" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENRELN" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENPRG" type="xs:string" minOccurs="0"/>
<xs:element name="LRTINACT" type="xs:string" minOccurs="0"/>
<xs:element name="LRNUMACT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Consultadetallecuenta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="ACCOUNTLISTDYNWSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ConsultadetallecuentaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="ACCOUNTLISTDYNWSType" type="tns:ACCOUNTLISTDYNWSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>