Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/VASA/extrafinanciamiento/wsdl/wsdlFinanciamientoTC.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://co.com.cidenet/schema/FinanciamientoTC" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://co.com.cidenet/schema/wsFinanciamientoTC" targetNamespace="http://co.com.cidenet/schema/wsFinanciamientoTC">
    <wsdl:types>
        <xs:schema xmlns:tns="http://co.com.cidenet/schema/FinanciamientoTC" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://co.com.cidenet/schema/FinanciamientoTC">
            <xs:complexType name="ISO8583_TYPE">
                <xs:sequence>
                    <xs:element minOccurs="0" name="MTI" type="xs:string"/>
                    <xs:element minOccurs="0" name="PrimaryAccountNumber_002" type="xs:string"/>
                    <xs:element minOccurs="0" name="ProcessingCode_003" type="xs:string"/>
                    <xs:element minOccurs="0" name="AmountTransaction_004" type="xs:string"/>
                    <xs:element minOccurs="0" name="AmountSettlement_005" type="xs:string"/>
                    <xs:element minOccurs="0" name="AmountCardholderBilling_006" type="xs:string"/>
                    <xs:element minOccurs="0" name="TransmissionDateTime_007" type="xs:string"/>
                    <xs:element minOccurs="0" name="AmountCardholderBillingFee_008" type="xs:string"/>
                    <xs:element minOccurs="0" name="ConversionRateSettlement_009" type="xs:string"/>
                    <xs:element minOccurs="0" name="ConversionRateCardholderBilling_010" type="xs:string"/>
                    <xs:element minOccurs="0" name="SystemTraceAuditNumber_011" type="xs:string"/>
                    <xs:element minOccurs="0" name="TimeLocalTransaction_012" type="xs:string"/>
                    <xs:element minOccurs="0" name="DateLocalTransaction_013" type="xs:string"/>
                    <xs:element minOccurs="0" name="DateExpiration_014" type="xs:string"/>
                    <xs:element minOccurs="0" name="DateSettlement_015" type="xs:string"/>
                    <xs:element minOccurs="0" name="DateConversion_016" type="xs:string"/>
                    <xs:element minOccurs="0" name="DateCapture_017" type="xs:string"/>
                    <xs:element minOccurs="0" name="MerchantType_018" type="xs:string"/>
                    <xs:element minOccurs="0" name="AcquiringInstitutionCountryCode_019" type="xs:string"/>
                    <xs:element minOccurs="0" name="PANExtendedCountryCode_020" type="xs:string"/>
                    <xs:element minOccurs="0" name="ForwardingInstitutionCountryCode_021" type="xs:string"/>
                    <xs:element minOccurs="0" name="PointOfServiceEntryMode_022" type="xs:string"/>
                    <xs:element minOccurs="0" name="ApplicationPANSequenceNumber_023" type="xs:string"/>
                    <xs:element minOccurs="0" name="FunctionCode_024" type="xs:string"/>
                    <xs:element minOccurs="0" name="PointOfServiceConditionCode_025" type="xs:string"/>
                    <xs:element minOccurs="0" name="PointOfServiceCaptureCode_026" type="xs:string"/>
                    <xs:element minOccurs="0" name="AuthorizingIdentificationResponseLength_027" type="xs:string"/>
                    <xs:element minOccurs="0" name="AmountTransactionFee_028" type="xs:string"/>
                    <xs:element minOccurs="0" name="AmountSettlementFee_029" type="xs:string"/>
                    <xs:element minOccurs="0" name="AmountTransactionProcessingFee_030" type="xs:string"/>
                    <xs:element minOccurs="0" name="AmountSettlementProcessingFee_031" type="xs:string"/>
                    <xs:element minOccurs="0" name="AcquiringInstitutionIdentificationCode_032" type="xs:string"/>
                    <xs:element minOccurs="0" name="ForwardingInstitutionIdentificationCode_033" type="xs:string"/>
                    <xs:element minOccurs="0" name="PrimaryAccountNumberExtended_034" type="xs:string"/>
                    <xs:element minOccurs="0" name="Track2Data_035" type="xs:string"/>
                    <xs:element minOccurs="0" name="Track3Data_036" type="xs:string"/>
                    <xs:element minOccurs="0" name="RetrievalReferenceNumber_037" type="xs:string"/>
                    <xs:element minOccurs="0" name="AuthorizationIdentificationResponse_038" type="xs:string"/>
                    <xs:element minOccurs="0" name="ResponseCode_039" type="xs:string"/>
                    <xs:element minOccurs="0" name="ServiceRestrictionCode_040" type="xs:string"/>
                    <xs:element minOccurs="0" name="CardAcceptorTerminalIdentification_041" type="xs:string"/>
                    <xs:element minOccurs="0" name="CardAcceptorIdentificationCode_042" type="xs:string"/>
                    <xs:element minOccurs="0" name="CardAcceptorNameLocation_043" type="xs:string"/>
                    <xs:element minOccurs="0" name="AdditionalResponseData_044" type="xs:string"/>
                    <xs:element minOccurs="0" name="Track1Data_045" type="xs:string"/>
                    <xs:element minOccurs="0" name="AdditionalDataISO_046" type="xs:string"/>
                    <xs:element minOccurs="0" name="AdditionalDataNational_047" type="xs:string"/>
                    <xs:element minOccurs="0" name="AdditionalDataPrivate_048" type="xs:string"/>
                    <xs:element minOccurs="0" name="CurrencyCodeTransaction_049" type="xs:string"/>
                    <xs:element minOccurs="0" name="CurrencyCodeSettlement_050" type="xs:string"/>
                    <xs:element minOccurs="0" name="CurrencyCodeCardholderBilling_051" type="xs:string"/>
                    <xs:element minOccurs="0" name="PersonalIdentificationNumberData_052" type="xs:string"/>
                    <xs:element minOccurs="0" name="SecurityRelatedControlInformation_053" type="xs:string"/>
                    <xs:element minOccurs="0" name="AdditionalAmounts_054" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedISO_055" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedISO_056" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedNational_057" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedNational_058" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedNational_059" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedNational_060" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedPrivate_061" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedPrivate_062" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedPrivate_063" type="xs:string"/>
                    <xs:element minOccurs="0" name="MessageAuthenticationCode_064" type="xs:string"/>
                    <xs:element minOccurs="0" name="BitmapExtended_065" type="xs:string"/>
                    <xs:element minOccurs="0" name="SettlementCode_066" type="xs:string"/>
                    <xs:element minOccurs="0" name="ExtendedPaymentCode_067" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReceivingInstitutionCountryCode_068" type="xs:string"/>
                    <xs:element minOccurs="0" name="SettlementInstitutionCountryCode_069" type="xs:string"/>
                    <xs:element minOccurs="0" name="NetworkManagementInformationCode_070" type="xs:string"/>
                    <xs:element minOccurs="0" name="MessageNumber_071" type="xs:string"/>
                    <xs:element minOccurs="0" name="MessageNumberLast_072" type="xs:string"/>
                    <xs:element minOccurs="0" name="DateAction_073" type="xs:string"/>
                    <xs:element minOccurs="0" name="CreditsNumber_074" type="xs:string"/>
                    <xs:element minOccurs="0" name="CreditsReversalNumber_075" type="xs:string"/>
                    <xs:element minOccurs="0" name="DebitsNumber_076" type="xs:string"/>
                    <xs:element minOccurs="0" name="DebitsReversalNumber_077" type="xs:string"/>
                    <xs:element minOccurs="0" name="TransferNumber_078" type="xs:string"/>
                    <xs:element minOccurs="0" name="TransferReversalNumber_079" type="xs:string"/>
                    <xs:element minOccurs="0" name="InquiriesNumber_080" type="xs:string"/>
                    <xs:element minOccurs="0" name="AuthorizationsNumber_081" type="xs:string"/>
                    <xs:element minOccurs="0" name="CreditsProcessingFeeAmount_082" type="xs:string"/>
                    <xs:element minOccurs="0" name="CreditsTransactionFeeAmount_083" type="xs:string"/>
                    <xs:element minOccurs="0" name="DebitsProcessingFeeAmount_084" type="xs:string"/>
                    <xs:element minOccurs="0" name="DebitsTransactionFeeAmount_085" type="xs:string"/>
                    <xs:element minOccurs="0" name="CreditsAmount_086" type="xs:string"/>
                    <xs:element minOccurs="0" name="CreditsReversalAmount_087" type="xs:string"/>
                    <xs:element minOccurs="0" name="DebitsAmount_088" type="xs:string"/>
                    <xs:element minOccurs="0" name="DebitsReversalAmount_089" type="xs:string"/>
                    <xs:element minOccurs="0" name="OriginalDataElements_090" type="xs:string"/>
                    <xs:element minOccurs="0" name="FileUpdateCode_091" type="xs:string"/>
                    <xs:element minOccurs="0" name="FileSecurityCode_092" type="xs:string"/>
                    <xs:element minOccurs="0" name="ResponseIndicator_093" type="xs:string"/>
                    <xs:element minOccurs="0" name="ServiceIndicator_094" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReplacementAmounts_095" type="xs:string"/>
                    <xs:element minOccurs="0" name="MessageSecurityCode_096" type="xs:string"/>
                    <xs:element minOccurs="0" name="AmountNetSettlement_097" type="xs:string"/>
                    <xs:element minOccurs="0" name="Payee_098" type="xs:string"/>
                    <xs:element minOccurs="0" name="SettlementInstitutionIdentificationCode_099" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReceivingInstitutionIdentificationCode_100" type="xs:string"/>
                    <xs:element minOccurs="0" name="FileName_101" type="xs:string"/>
                    <xs:element minOccurs="0" name="AccountIdentification1_102" type="xs:string"/>
                    <xs:element minOccurs="0" name="AccountIdentification2_103" type="xs:string"/>
                    <xs:element minOccurs="0" name="TransactionDescription_104" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForISOUse_105" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForISOUse_106" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForISOUse_107" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForISOUse_108" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForISOUse_109" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForISOUse_110" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForISOUse_111" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForNationalUse_112" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForNationalUse_113" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForNationalUse_114" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForNationalUse_115" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForNationalUse_116" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForNationalUse_117" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForNationalUse_118" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForNationalUse_119" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForPrivateUse_120" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForPrivateUse_121" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForPrivateUse_122" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForPrivateUse_123" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForPrivateUse_124" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForPrivateUse_125" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForPrivateUse_126" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReservedForPrivateUse_127" type="xs:string"/>
                    <xs:element minOccurs="0" name="MessageAuthenticationCode_128" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="FinanciamientoTCRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ISO8583_HEADER" type="xs:string"/>
                        <xs:element name="ISO8583_REQUEST" type="tns:ISO8583_TYPE"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FinanciamientoTCResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RESULT_CODE" type="xs:string"/>
                        <xs:element minOccurs="0" name="RESULT_MESSAGE" type="xs:string"/>
                        <xs:element minOccurs="0" name="ISO8583_RESPONSE" type="tns:ISO8583_TYPE"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="FinanciamientoTCRequest">
        <wsdl:part element="sch:FinanciamientoTCRequest" name="FinanciamientoTCRequest"/>
    </wsdl:message>
    <wsdl:message name="FinanciamientoTCResponse">
        <wsdl:part element="sch:FinanciamientoTCResponse" name="FinanciamientoTCResponse"/>
    </wsdl:message>
    <wsdl:portType name="WsFinanciamientoPSPort">
        <wsdl:operation name="FinanciamientoTC">
            <wsdl:input message="tns:FinanciamientoTCRequest" name="FinanciamientoTCRequest"/>
            <wsdl:output message="tns:FinanciamientoTCResponse" name="FinanciamientoTCResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WsFinanciamientoPSPortSoap11" type="tns:WsFinanciamientoPSPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="FinanciamientoTC">
            <soap:operation soapAction=""/>
            <wsdl:input name="FinanciamientoTCRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="FinanciamientoTCResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WsFinanciamientoPSPortService">
        <wsdl:port binding="tns:WsFinanciamientoPSPortSoap11" name="WsFinanciamientoPSPortSoap11">
            <soap:address location="http://localhost:7001/FinanciamientoTC/FinanciamientoTC/ws/wsdlFinanciamientoTC"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>