Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaOpcionesPago/wsdl/consultaOpcionesPagoPS.wsdl

<wsdl:definitions name="consultaOpcionesPagoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaOpcionesPagoPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaOpcionesPagoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:alt="http://www.ficohsa.com.hn/middleware.services/ConsultasCarteraCrediticia" xmlns:tns="http://www.bea.com/wli/sb/stages/transform/config">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/ConsultasCarteraCrediticia" schemaLocation="../../ConsultasCarteraCrediticia/xsd/consultasCarteraCrediticiaTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestHeader">
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="responseHeader">
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
     
    <wsdl:message name="consultaOpcionesPagoRequest">
        <wsdl:part element="alt:consultaOpcionesPagoRequest" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="consultaOpcionesPagoResponse">
        <wsdl:part element="alt:consultaOpcionesPagoResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:portType name="consultaOpcionesPagoPS">
        <wsdl:operation name="consultaOpcionesPago" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaOpcionesPagoRequest"/>
            <wsdl:output message="fic:consultaOpcionesPagoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="consultaOpcionesPagoPSSOAP" type="fic:consultaOpcionesPagoPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultaOpcionesPago">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaOpcionesPagoPS/consultaOpcionesPago"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="consultaOpcionesPagoPS">
        <wsdl:port binding="fic:consultaOpcionesPagoPSSOAP" name="consultaOpcionesPagoPSSOAP">
           <soap:address location="https://172.23.13.19:8004/Middleware/CarteraCrediticia/ConsultaOpcionesPago"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>