Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/InscripcionesRENAP/xsd/inscripcionesRENAPTypes.xsd

<xs:schema 
     xmlns:xs="http://www.w3.org/2001/XMLSchema" 
     version="1.0" 
     targetNamespace="http://www.ficohsa.com.hn/middleware.services/inscripcionesRENAPTypes"
     xmlns:tns="http://www.ficohsa.com.hn/middleware.services/inscripcionesRENAPTypes">

	<xs:simpleType name="queryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="H"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	
    <!--###############################-->     
   	<!--OPERACION: INSCRIPCIONES RENAP -->
    <!--###############################-->

     <xs:element name="inscripcionesRENAP">
         <xs:complexType>
             <xs:sequence>
                 <xs:element name="USER_CODE" type="xs:string"/>
                 <xs:element name="USER_NAME" type="xs:string"/>
                 <xs:element name="CUI" type="xs:string"/>
                 <xs:element name="FOOTPRINT" type="xs:string" minOccurs="0" />
                 <xs:element name="FINGER_CODE" type="xs:string" minOccurs="0" />
                 <xs:element name="FMD" type="xs:string" minOccurs="0" />
                 <xs:element name="QUERY_TYPE" type="tns:queryType"/>
                 <xs:element name="ORIGIN_INQUIRY" type="xs:string"/>
              </xs:sequence>
         </xs:complexType>
     </xs:element>

     <xs:element name="inscripcionesRENAPResponse">
          <xs:complexType>
               <xs:sequence>
                    <xs:element name="FIRST_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="SECOND_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="LAST_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="SECOND_LAST_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="BIRTH_DATE" type="xs:string" minOccurs="0" />
                 	<xs:element name="DEATH_DATE" type="xs:string" minOccurs="0" />
                 	<xs:element name="GENDER" type="xs:string" minOccurs="0" />
                 	<xs:element name="CIVIL_STATUS" type="xs:string" minOccurs="0" />
                 	<xs:element name="NATIONALITY" type="xs:string" minOccurs="0" />
                 	<xs:element name="COUNTRY_OF_BIRTH" type="xs:string" minOccurs="0" />
                 	<xs:element name="PHOTOGRAPHY" type="xs:string" minOccurs="0" />
                 	<xs:element name="OCCUPATION" type="xs:string" minOccurs="0" />
                 	<xs:element name="MUNICIPALITY_OF_BIRTH" type="xs:string" minOccurs="0" />
                 	<xs:element name="THIRD_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="LEGAL_ID_ORDER" type="xs:string" minOccurs="0" />
                 	<xs:element name="DEPARTMENT_OF_BIRTH" type="xs:string" minOccurs="0" />
                 	<xs:element name="LEGAL_ID_REGISTRATION" type="xs:string" minOccurs="0" />
                 	<xs:element name="LAST_NAME_MARRIED" type="xs:string" minOccurs="0" />
                 	<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0" />
					<xs:element name="CORRELATIVE_DPI" type="xs:string" minOccurs="0" />
                 	<xs:element name="NEIGHBORHOOD" type="xs:string" minOccurs="0" />
                 	<xs:element name="STATUS_CODE" type="xs:string" minOccurs="0" />
                 	<xs:element name="MESSAGE_STATUS" type="xs:string" minOccurs="0" />
               </xs:sequence>
          </xs:complexType>
     </xs:element>
     
</xs:schema>