Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/Resources/CancelaFinanciamiento/xsd/cancelaFinanciamientoTypes.xsd

<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/cancelaFinanciamientoTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/cancelaFinanciamientoTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="cancelaFinanciamiento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:string" minOccurs="1"/>
				<xs:element name="ACCOUNT_NUMBER" type="tns:stringMinLength1" minOccurs="1"/>
				<xs:element name="PLAN_NUMBER" type="xs:string" minOccurs="1"/>
				<xs:element name="SECUENCE_NUMBER" type="xs:string" minOccurs="1"/>
				<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="CANCELLATION_DATE" type="xs:string" minOccurs="1"/>
				<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cancelaFinanciamientoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:string" minOccurs="0"/>
				<xs:element name="ALTERN_ORG" type="xs:string" minOccurs="0"/>
				<xs:element name="LOGO" type="xs:string" minOccurs="0"/>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="PLAN_SECUENCE" type="xs:string" minOccurs="0"/>
				<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="CANCELLATION_INDICATOR" type="xs:string" minOccurs="0"/>
				<xs:element name="ORIGINAL_LOAN_TERM" type="xs:string" minOccurs="0"/>
				<xs:element name="PENDING_LOAN_TERM" type="xs:string" minOccurs="0"/>
				<xs:element name="PLAN_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="BILL_FIRST_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="EXPIRATION_LOAN_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="EARLY_CANCELLATION_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="TOTAL_LOAN_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="BILLED_INTEREST_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="BILLED_INSURANCE_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="PENALTY_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="PRINCIPAL_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="UNBILLED_DISBURSEMENT_COMMISSION" type="xs:string" minOccurs="0"/>
				<xs:element name="DISBURSEMENT_COMMISSION_TERM" type="xs:string" minOccurs="0"/>
				<xs:element name="ACCRUED_INTEREST_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="UNBILLED_LOAN_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="CANCELLATION_LOAN_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="ITBMS" type="xs:string" minOccurs="0"/>
				<xs:element name="SETTLEMENT_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="METHOD_PAYMENT" type="xs:string" minOccurs="0"/>
				<xs:element name="NEW_TERM" type="xs:string" minOccurs="0"/>
				<xs:element name="NEW_FIXED_PMT_AMD" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>