Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaDatosTarjetaDebito/xsd/ConsultaDatosTarjetaDebitoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:FicCdtd="http://www.ficohsa.com.hn/middleware.services/ConsultaDatosTarjetaDebitoTypes" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsultaDatosTarjetaDebitoTypes" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="consultaDatosTarjetaDebitoRequest" type="FicCdtd:ConsultaDatosTarjetaDebitoRequestIM"/>
	<xs:element name="consultaDatosTarjetaDebitoResponse" type="FicCdtd:ConsultaDatosTarjetaDebitoResponseIM"/>
	<xs:complexType name="ConsultaDatosTarjetaDebitoRequestIM">
		<xs:sequence>
			<xs:element name="DEBIT_CARD" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsultaDatosTarjetaDebitoResponseIM">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CARD_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CATEGORY_CARD" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string" >
						<xs:enumeration value="PRINCIPAL"/>
						<xs:enumeration value="ADDITIONAL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="STATUS_CARD" minOccurs="0">

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ISSUED"/>
						<xs:enumeration value="ACTIVE"/>
						<xs:enumeration value="CANCELED"/>
						<xs:enumeration value="EXPIRED"/>
						<xs:enumeration value="OTHERS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ACCOUNTS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MAIN_ACCOUNTS" type="FicCdtd:MainAccountType"/>
						<xs:element name="SECUNDARY_ACCOUNTS" type="FicCdtd:SecundaryAccountType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainAccountType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="MAIN_ACCOUNT" type="FicCdtd:AccountType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SecundaryAccountType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="SECUNDARY_ACCOUNT" type="FicCdtd:AccountType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountType">
		<xs:sequence>
			<xs:element name="ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_CURRENCY" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>