Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/GestionPuntosTarjetas/wsdl/gestionPuntosTarjetasPS.wsdl

<wsdl:definitions name="gestionPuntosTarjetasPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasPS/" xmlns:op="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">

	<wsdl:types>
	
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasTypes" schemaLocation="../xsd/gestionPuntosTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="agregarFactorCanjeRequest">
		<wsdl:part element="tns:agregarFactorCanje" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="agregarFactorCanjeResponse">
		<wsdl:part element="tns:agregarFactorCanjeResponse" name="result"/>
	</wsdl:message>

	<wsdl:message name="eliminarFactorCanjeRequest">
		<wsdl:part element="tns:eliminarFactorCanje" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="eliminarFactorCanjeResponse">
		<wsdl:part element="tns:eliminarFactorCanjeResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="gestionPuntosTarjetasPS">
		<wsdl:operation name="agregarFactorCanje" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:agregarFactorCanjeRequest"/>
			<wsdl:output message="op:agregarFactorCanjeResponse"/>
		</wsdl:operation>
		<wsdl:operation name="eliminarFactorCanje" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="op:eliminarFactorCanjeRequest"/>
			<wsdl:output message="op:eliminarFactorCanjeResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="gestionPuntosTarjetasPSSOAP" type="op:gestionPuntosTarjetasPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="agregarFactorCanje">
			<soap:operation soapAction="http://www.example.org/gestionPuntosTarjetasPS/agregarFactorCanje"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="eliminarFactorCanje">
			<soap:operation soapAction="http://www.example.org/gestionPuntosTarjetasPS/eliminarFactorCanje"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="op:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="op:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="gestionPuntosTarjetasPS">
		<wsdl:port binding="op:gestionPuntosTarjetasPSSOAP" name="gestionPuntosTarjetasPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/GestionesTarjetas/"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>