Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaComisionMasivos/xsd/consultaComisionMasivosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaComisionMasivosTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaComisionMasivosTypes">
	
	<xs:element name="ConsultaComisionMasivos">
	<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" />
				<xs:element name="BATCH_ID" type="xs:string" />
				<xs:element name="CREATION_DATE" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name = "ConsultaComisionMasivosResponse">
		<xs:sequence>
           	<xs:element name="TOTAL_AMOUNT" type="xs:string" minOccurs="1"/>
			<xs:element name="TOTAL_AMOUNT_ERROR" type="xs:string" minOccurs="1"/>
			<xs:element name="TOTAL_AMOUNT_TSP" type="xs:string" minOccurs="1"/>
			<xs:element name="TOTAL_TSP" type="xs:string" minOccurs="1"/>
			<xs:element name="NUMBER_OF_TRANS_APPLY_TSP" type="xs:string" minOccurs="1"/>
			<xs:element name="NUMBER_OF_TRANS_NOAPPLY_TSP" type="xs:string" minOccurs="1"/>
			<xs:element name="NUMBER_OF_TRANS_ERROR" type="xs:string" minOccurs="1"/>
			<xs:element name="NUMBER_OF_TRANS_SUCCESS" type="xs:string" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	

	
	<xs:element name="ConsultaComisionMasivosResponse" type="cons:ConsultaComisionMasivosResponse"/>
	
</xs:schema>
