Fuentes/ficohsacore-osb12-b78f21b126d5/CustomerRelationshipManagement/ProviderServices/v1.0/WSDL/PackingOrder/PackingOrder_BS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://soap.sforce.com/schemas/class/WS_crearOrdenEmpaque" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/WS_crearOrdenEmpaque" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wss_http_token_or_jwt_token_service_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:ExactlyOne>
      <wsp:All/>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <osp:HttpToken xmlns:osp="http://schemas.oracle.com/ws/2012/01/wssecuritypolicy">
                  <wsp:Policy>
                    <osp:HttpJwtAuthentication/>
                  </wsp:Policy>
                </osp:HttpToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/WS_crearOrdenEmpaque">
      <xsd:element name="AllowFieldTruncationHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SessionHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
          <xsd:length value="18"/>
          <xsd:pattern value="[a-zA-Z0-9]{18}"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="address_item">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="address_line" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="address_type" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="is_delivery_address" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="card_info">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="card_currency" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="card_number" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="product_type" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="crearOrdenEmpaque_response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Message" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="OrdenEmpaque" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="SuccesIndicator" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="phone_item">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="phone_number" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="phone_type" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="address">
        <xsd:complexContent>
          <xsd:extension base="tns:location">
            <xsd:sequence>
              <xsd:element name="city" type="xsd:string"/>
              <xsd:element name="country" type="xsd:string"/>
              <xsd:element name="countryCode" type="xsd:string"/>
              <xsd:element name="geocodeAccuracy" type="xsd:string"/>
              <xsd:element name="postalCode" type="xsd:string"/>
              <xsd:element name="state" type="xsd:string"/>
              <xsd:element name="stateCode" type="xsd:string"/>
              <xsd:element name="street" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="location">
        <xsd:sequence>
          <xsd:element name="latitude" type="xsd:double"/>
          <xsd:element name="longitude" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="crearOrdenEmpaque">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="legal_id" nillable="true" type="xsd:string"/>
            <xsd:element name="client_name" nillable="true" type="xsd:string"/>
            <xsd:element name="customer_id" nillable="true" type="xsd:int"/>
            <xsd:element name="account_number" nillable="true" type="xsd:int"/>
            <xsd:element name="email_address" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="phone_info" nillable="true" type="tns:phone_item"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="address_info" nillable="true" type="tns:address_item"/>
            <xsd:element name="job_info" nillable="true" type="xsd:string"/>
            <xsd:element name="card_info" nillable="true" type="tns:card_info"/>
            <xsd:element name="agency" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="crearOrdenEmpaqueResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:crearOrdenEmpaque_response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/CrearOrdenEmpaque_CLOUD/InboundSOAPRequestDocument" xmlns="http://xmlns.oracle.com/types/CrearOrdenEmpaque_CLOUD/InboundSOAPRequestDocument" xmlns:ns0="http://soap.sforce.com/schemas/class/WS_crearOrdenEmpaque" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://soap.sforce.com/schemas/class/WS_crearOrdenEmpaque"/>
      <xs:element name="InboundSOAPRequestDocument" type="InboundSOAPRequestDocumentType"/>
      <xs:complexType name="InboundSOAPRequestDocumentType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Headers" type="HeadersType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Body" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="SOAPHeaders" type="SOAPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPHeadersType">
        <xs:sequence>
          <xs:element ref="ns1:SessionHeader" xmlns:ns1="http://soap.sforce.com/schemas/class/WS_crearOrdenEmpaque"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element ref="ns1:crearOrdenEmpaque" xmlns:ns1="http://soap.sforce.com/schemas/class/WS_crearOrdenEmpaque"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/CrearOrdenEmpaque_CLOUD/InboundSOAPResponseDocument" xmlns="http://xmlns.oracle.com/types/CrearOrdenEmpaque_CLOUD/InboundSOAPResponseDocument" xmlns:ns0="http://soap.sforce.com/schemas/class/WS_crearOrdenEmpaque" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://soap.sforce.com/schemas/class/WS_crearOrdenEmpaque"/>
      <xs:element name="InboundSOAPResponseDocument" type="InboundSOAPResponseDocumentType"/>
      <xs:complexType name="InboundSOAPResponseDocumentType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="Body" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element ref="ns1:crearOrdenEmpaqueResponse" xmlns:ns1="http://soap.sforce.com/schemas/class/WS_crearOrdenEmpaque"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tracking_property" type="TrackingPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon" xmlns="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="insight_property" type="InsightPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="crearOrdenEmpaqueRequest">
    <part name="parameters" element="tns:crearOrdenEmpaque"/>
  </message>
  <message name="crearOrdenEmpaqueResponse">
    <part name="parameters" element="tns:crearOrdenEmpaqueResponse"/>
  </message>
  <message name="Header">
    <part name="SessionHeader" element="tns:SessionHeader"/>
  </message>
  <portType name="WS_crearOrdenEmpaquePortType_CrearOrdenEmpaque_CLOUD_REQUEST">
    <operation name="crearOrdenEmpaque">
      <input message="tns:crearOrdenEmpaqueRequest"/>
      <output message="tns:crearOrdenEmpaqueResponse"/>
    </operation>
  </portType>
  <binding name="WS_crearOrdenEmpaquePortType_CrearOrdenEmpaque_CLOUD_REQUEST_binding" type="tns:WS_crearOrdenEmpaquePortType_CrearOrdenEmpaque_CLOUD_REQUEST">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#wss_http_token_or_jwt_token_service_policy" wsdl:required="false" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    <operation name="crearOrdenEmpaque">
      <soap:operation soapAction="crearOrdenEmpaque"/>
      <input>
        <soap:header message="tns:Header" part="SessionHeader" use="literal" encodingStyle=""/>
        <soap:body use="literal" parts="parameters"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WS_crearOrdenEmpaquePortType_CrearOrdenEmpaque_CLOUD_REQUEST">
    <port name="WS_crearOrdenEmpaquePortType_CrearOrdenEmpaque_CLOUD_REQUEST_pt" binding="tns:WS_crearOrdenEmpaquePortType_CrearOrdenEmpaque_CLOUD_REQUEST_binding">
      <soap:address location="https://OICDEV-ficocloud.integration.ocp.oraclecloud.com:443/ic/ws/integration/v1/flows/soap/CREARORDENEMPAQUE/1.0/"/>
    </port>
  </service>
</definitions>