Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaIntraExtraCuota/xsd/consultaIntraExtraCuotaTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaIntraExtraCuotaTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaIntraExtraCuotaTypes">

	<xs:simpleType name="searchCriteriaType">
		<xs:restriction base="tns:stringMinLength1">
			<xs:enumeration value="ACC_NUMBER" />
			<xs:enumeration value="CARD_NUMBER" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="consultaIntraExtraCuota">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SEARCH_VALUE" type="tns:stringMinLength1" />
				<xs:element name="SEARCH_CRITERIA" type="tns:searchCriteriaType" />
				<xs:element name="LOGO" type="xs:string" minOccurs="0" />
				<xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaIntraExtraCuotaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRODUCTS" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PRODUCT" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PRODUCT_TYPE" type="xs:string"
											minOccurs="0" />
										<xs:element name="ORG" type="xs:string" minOccurs="0" />
										<xs:element name="CURRENCY" type="xs:string"
											minOccurs="0" />
										<xs:element name="FINANCING_ID" type="xs:string"
											minOccurs="0" />
										<xs:element name="PRODUCT_NUMBER" type="xs:string"
											minOccurs="0" />
										<xs:element name="TRANSACTION_DATE" type="xs:string"
											minOccurs="0" />
										<xs:element name="INICIAL_AMOUNT" type="xs:string"
											minOccurs="0" />
										<xs:element name="RATE" type="xs:string" minOccurs="0" />
										<xs:element name="TOTAL_PAYMENT" type="xs:string"
											minOccurs="0" />
										<xs:element name="TERM" type="xs:string" minOccurs="0" />
										<xs:element name="PAYMENT_NUMBER" type="xs:string"
											minOccurs="0" />
										<xs:element name="CURRENT_BALANCE" type="xs:string"
											minOccurs="0" />
										<xs:element name="FINANCING_INDICATOR" type="xs:string"
											minOccurs="0" />
										<xs:element name="CARD_SEQUENCE" type="xs:string"
											minOccurs="0" />
										<xs:element name="COMMERCE_NAME" type="xs:string"
											minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>