Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/BusinessServices/CLIENTDATA/consultaMovimientosRecientesTC/xsd/consultaMovimientosRecientesTC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaMovimientosRecientesTC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaMovimientosRecientesTC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_NUMERO_TARJETA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_COUNTRY_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_MOVIMIENTOS_RECIENTES_TC" type="db:CLIENTDATA.T_MOVIMIENTOS_RECIENTES_TC_V3" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CLIENTDATA.T_MOVIMIENTOS_RECIENTES_TC_V3">
      <sequence>
         <element name="PT_MOVIMIENTOS_RECIENTES_TC_ITEM" type="db:CLIENTDATA.O_MOVIMIENTOS_RECIENTES_TC_V3" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="CLIENTDATA.O_MOVIMIENTOS_RECIENTES_TC_V3">
      <sequence>
         <element name="CARD_NUMBER" type="db:string19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OWNER_NAME" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CREDIT_LIMIT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREDIT_LIMIT_CCY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PREVIOUS_BALANCE_LCY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PREVIOUS_BALANCE_FCY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MOVEMENTS" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string19">
      <restriction base="string">
         <maxLength value="19"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
</schema>