Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaBuroExterno/xsd/XMLSchema_-1807660555.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaBuroExternoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaBuroExternoTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:element name="consultaBuroExterno">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="ID_TYPE" type="tns:stringMinLength1"/>
				<xs:element name="ID_VALUE" type="tns:stringMinLength1"/>     
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
		
	<xs:element name="consultaBuroExternoResponse">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="TYPE_REFERENCE" type="xs:string" minOccurs="0"/>
				<xs:element name="NUMBER_ASOC" type="tns:stringMinLength1"/>
				<xs:element name="NUM_REFER" type="tns:stringMinLength1"/>  
				<xs:element name="SHORT_DESCRIPTION_RELATION" type="tns:stringMinLength1"/>  
				<xs:element name="DATE_RELATION" type="tns:stringMinLength1"/>  
				<xs:element name="END_DATE_RELATION" type="tns:stringMinLength1"/>  
				<xs:element name="LIMIT_AMOUNT" type="tns:stringMinLength1"/> 
				<xs:element name="PAYMENT_NUMBER" type="tns:stringMinLength1"/>  
				<xs:element name="DESCRIPTION_PAY_METHOD" type="tns:stringMinLength1"/>  
				<xs:element name="PAYMENT_AMOUNT" type="tns:stringMinLength1"/>  
				<xs:element name="LAST_DATE_PAYMENT" type="tns:stringMinLength1"/>  
				<xs:element name="LAST_PAY_AMOUNT" type="tns:stringMinLength1"/>  
				<xs:element name="SHORT_DESCRIPTION" type="tns:stringMinLength1"/>
	            <xs:element name="CURRENT_BALANCE" type="xs:string" minOccurs="0"/>
	            <xs:element name="NUMBER_DAYS_DELAYED" type="xs:string" minOccurs="0"/>
	            <xs:element name="HISTORICAL" type="xs:string" minOccurs="0"/>
	            <xs:element name="UPDATE" type="xs:string" minOccurs="0"/>
	            <xs:element name="ECONOMIC_GROUP_CODE" type="xs:string" minOccurs="0"/>


			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>