Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaTransferenciasACH/xsd/consultaTransferenciasACHTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTransferenciasACHTypes" xmlns:tran="http://www.ficohsa.com.hn/middleware.services/consultaTransferenciasACHTypes">
    <xs:element name="consultaTransferenciasACH">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TRANSACTION_TYPE" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="TRANSACTION_CURRENCY" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="SEARCH_CRITERIA" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="SEARCH_VALUE" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="SEQUENCY_T24" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="UPDATE_BACKEND_YES_NO" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="consultaTransferenciasACHResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="IDENTIFICATION" type="xs:string"/>
                <xs:element name="MESSAGE_TYPE" type="xs:string" />
                <xs:element name="RESULT_MESSAGE" type="xs:string"/>
          		<xs:element name="USERNAME" type="xs:string" />
                <xs:element name="ORIGINAL_MESSAGE_ID" type="xs:string" />
                <xs:element name="PROCESSED_DATE" type="xs:string" />
                <xs:element name="RECEIVING_BANK_ID" type="xs:string" />
                <xs:element name="REASON_CODE" type="xs:string" />
                <xs:element name="TRANSACTIONS" type="xs:string" />
                <xs:element name="TRANSACTION_RECORD" type="tran:transactionRecordType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="transactionRecordType">
    	<xs:sequence>
    		<xs:element name="DETAIL_ID" type="xs:string"/>
    		<xs:element name="TRANSACTION_ID" type="xs:string" />
    		<xs:element name="ORIGINATING_ACCOUNT" type="xs:string" />
    		<xs:element name="RECEIVING_ACCOUNT" type="xs:string" />
    		<xs:element name="RECEIVING_ACCOUNT_NAME" type="xs:string" />
    		<xs:element name="STATUS" type="xs:string" />
    		<xs:element name="AMOUNT" type="xs:string" />
    		<xs:element name="RESULTS" type="xs:string" />
    	</xs:sequence>
    </xs:complexType>
</xs:schema>