Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/v2/BusinessServices/ConsultaMaestraSaldoCuentas/xsd/consultaMaestraSaldoCuentaTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultasType" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultasType">

	<xs:element name="consultaMaestraSaldoCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	

	<xs:element name="consultaMaestraSaldoCuentaResponse" type="cons:consultaMaestraSaldoCuentaResponse"/>

	<xs:complexType name="consultaMaestraSaldoCuentaResponse">
		<xs:sequence>
			<xs:element name="BALANCE_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="AVAILABLE_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="CLEARING_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="LOCKED_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="VISA_FLOATING_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="OVRDF_CLRNG_CA_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_AVAILABLE_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_BALANCE" type="xs:string" minOccurs="0"/>
			<xs:element name="CASH_ADVANCE" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LIMIT_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="USED_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="AVAILABLE_AMOUNT" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AUTHORIZED_OVERDRAFT" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LIMIT_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="USED_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="AVAILABLE_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UNAUTHORIZED_OVERDRAFT" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="USED_AMOUNT" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CLEARING_FUNDS" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LIMIT_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="USED_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="AVAILABLE_AMOUNT" type="xs:string" minOccurs="0"/>
						<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>