Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/tarjetaCredito/Resources/SolicitudTarjetaCreditoT24/xsd/ORA_BANK_OSB_SOL_TC_T24.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_SOL_TC_T24/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_SOL_TC_T24/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="USER_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="EMAIL_ADDRESS" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CUSTOMER_ID" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="INTERFACE_REFERENCE_NO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_CARD_TYPE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_FIRST_GIVEN_NAME" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_SECOND_GIVEN_NAME" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_FIRST_FAMILY_NAME" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_SECOND_FAMILY_NAME" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_MARRIED_LAST_NAME" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_ID_NUMBER" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_NATIONALITY" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_PROFESSION_OR_TRADE" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_HOUSEHOLD_STATUS" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_NUMBER_OF_DEPENDANTS" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_GENDER" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_MARITAL_STATUS" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_BIRTH_DATE" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_HOME_ADDRESS" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_STREET" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_AVENUE" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_HOME_HOUSE_NUMBER" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_HOME_CITY" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_HOME_STATE" type="string" db:index="24" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_HOME_POSTAL_CODE" type="string" db:index="25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_HOME_PHONE_NUMBER" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G1_HOME_FAX" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G2_FIRST_GIVEN_NAME" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G2_SECOND_GIVEN_NAME" type="string" db:index="29" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G2_FIRST_FAMILY_NAME" type="string" db:index="30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G2_SECOND_FAMILY_NAME" type="string" db:index="31" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G2_MARRIED_LAST_NAME" type="string" db:index="32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G2_ID_NUMBER" type="string" db:index="33" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G2_PROFESSION_OR_TRADE" type="string" db:index="34" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G2_NAME_OF_EMPLOYMENT" type="string" db:index="35" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G2_SENIORITY" type="string" db:index="36" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G2_JOB_TITLE" type="string" db:index="37" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G2_WORK_PHONE_NUMBER" type="string" db:index="38" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G2_WORK_FAX" type="string" db:index="39" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G3_NAME_OF_EMPLOYMENT" type="string" db:index="40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G3_EMPLOYMENT_ENTRY_DATE" type="string" db:index="41" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G3_JOB_TITLE" type="string" db:index="42" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G3_WORK_PHONE_NUMBER" type="string" db:index="43" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G3_WORK_FAX" type="string" db:index="44" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G3_MONTHLY_INCOME" type="string" db:index="45" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G3_WORK_ADDRESS" type="string" db:index="46" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G3_WORK_STREET" type="string" db:index="47" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G3_WORK_AVENUE" type="string" db:index="48" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G3_WORK_HOUSE_NUMBER" type="string" db:index="49" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G3_WORK_CITY" type="string" db:index="50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G3_WORK_STATE" type="string" db:index="51" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G3_WORK_POSTAL_CODE" type="string" db:index="52" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G4_NAME" type="string" db:index="53" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G4_VALUE" type="string" db:index="54" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G4_ASSESSMENT" type="string" db:index="55" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G4_BENEFICIARY" type="string" db:index="56" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G5_FIN_INSTITUTE_NAME" type="string" db:index="57" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G5_ACCOUNT_TYPE" type="string" db:index="58" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G5_ACCOUNT_NUMBER" type="string" db:index="59" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G5_AVERAGE_BALANCE" type="string" db:index="60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G6_FIN_INSTITUTE_NAME" type="string" db:index="61" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G6_CREDIT_LIMIT" type="string" db:index="62" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G6_CARD_NUMBER" type="string" db:index="63" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G6_EXPIRATION_DATE" type="string" db:index="64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G6_FIN_INSTITUTE_NAME_2" type="string" db:index="65" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G6_CREDIT_LIMIT_2" type="string" db:index="66" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G6_CARD_NUMBER_2" type="string" db:index="67" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G6_EXPIRATION_DATE_2" type="string" db:index="68" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G7_NON_HOME_RELATIVE" type="string" db:index="69" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G7_KINSHIP" type="string" db:index="70" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G7_ADDRESS" type="string" db:index="71" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G7_WORK_PHONE_NUMBER_1" type="string" db:index="72" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G7_HOME_PHONE_NUMBER_1" type="string" db:index="73" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G7_FICOHSA_REFERENCE" type="string" db:index="74" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G7_BRANCH_OR_DEPARTMENT" type="string" db:index="75" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G7_WORK_PHONE_NUMBER_2" type="string" db:index="76" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G7_HOME_PHONE_NUMBER_2" type="string" db:index="77" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G8_FIRST_GIVEN_NAME" type="string" db:index="78" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G8_SECOND_GIVEN_NAME" type="string" db:index="79" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G8_FIRST_FAMILY_NAME" type="string" db:index="80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G8_SECOND_FAMILY_NAME" type="string" db:index="81" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G8_AGE" type="string" db:index="82" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G8_ID_NUMBER" type="string" db:index="83" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G8_KINSHIP" type="string" db:index="84" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_ADDRESS_TYPE" type="string" db:index="85" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_COMPANY" type="string" db:index="86" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_WORK_STREET" type="string" db:index="87" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_WORK_AVENUE" type="string" db:index="88" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_WORK_HOUSE_NUMBER" type="string" db:index="89" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_WORK_CITY" type="string" db:index="90" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_WORK_STATE" type="string" db:index="91" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_WORK_PHONE_NUMBER" type="string" db:index="92" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_HOME_NEIGHBORHOOD" type="string" db:index="93" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_HOME_STREET" type="string" db:index="94" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_HOME_AVENUE" type="string" db:index="95" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_HOME_HOUSE_NUMBER" type="string" db:index="96" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_HOME_CITY" type="string" db:index="97" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_HOME_STATE" type="string" db:index="98" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_HOME_PHONE_NUMBER" type="string" db:index="99" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_POSTAL_CODE_NUMBER" type="string" db:index="100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_POSTAL_CODE_CITY" type="string" db:index="101" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G9_POSTAL_CODE_DEPARTMENT" type="string" db:index="102" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_FIRST_GIVEN_NAME" type="string" db:index="103" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_SECOND_GIVEN_NAME" type="string" db:index="104" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_FIRST_FAMILY_NAME" type="string" db:index="105" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_SECOND_FAMILY_NAME" type="string" db:index="106" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_MARRIED_LAST_NAME" type="string" db:index="107" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_ID_NUMBER" type="string" db:index="108" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_NATIONALITY" type="string" db:index="109" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_PROFESSION_OR_TRADE" type="string" db:index="110" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_HOUSEHOLD_STATUS" type="string" db:index="111" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_NUMBER_OF_DEPENDANTS" type="string" db:index="112" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_GENDER" type="string" db:index="113" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_MARITAL_STATUS" type="string" db:index="114" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_BIRTH_DATE" type="string" db:index="115" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_HOME_ADDRESS" type="string" db:index="116" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_STREET" type="string" db:index="117" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_AVENUE" type="string" db:index="118" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_HOME_HOUSE_NUMBER" type="string" db:index="119" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_HOME_CITY" type="string" db:index="120" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_HOME_STATE" type="string" db:index="121" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G10_HOME_POSTAL_CODE" type="string" db:index="122" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G11_FIRST_GIVEN_NAME" type="string" db:index="123" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G11_SECOND_GIVEN_NAME" type="string" db:index="124" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G11_FIRST_FAMILY_NAME" type="string" db:index="125" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G11_SECOND_FAMILY_NAME" type="string" db:index="126" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G11_MARRIED_LAST_NAME" type="string" db:index="127" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G11_PROFESSION_OR_TRADE" type="string" db:index="128" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G11_NAME_OF_EMPLOYMENT" type="string" db:index="129" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G11_SENIORITY" type="string" db:index="130" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G11_JOB_TITLE" type="string" db:index="131" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G11_HOME_PHONE_NUMBER" type="string" db:index="132" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G11_HOME_FAX" type="string" db:index="133" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G12_NAME_OF_EMPLOYMENT" type="string" db:index="134" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G12_EMPLOYMENT_ENTRY_DATE" type="string" db:index="135" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G12_JOB_TITLE" type="string" db:index="136" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G12_WORK_PHONE_NUMBER" type="string" db:index="137" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G12_WORK_FAX" type="string" db:index="138" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G12_MONTHLY_INCOME" type="string" db:index="139" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G12_WORK_ADDRESS" type="string" db:index="140" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G12_WORK_STREET" type="string" db:index="141" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G12_WORK_AVENUE" type="string" db:index="142" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G12_WORK_HOUSE_NUMBER" type="string" db:index="143" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G12_WORK_CITY" type="string" db:index="144" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G12_WORK_STATE" type="string" db:index="145" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G12_WORK_POSTAL_CODE" type="string" db:index="146" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G13_NAME" type="string" db:index="147" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G13_VALUE" type="string" db:index="148" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G13_ASSESSMENT" type="string" db:index="149" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G13_BENEFICIARY" type="string" db:index="150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G14_FIN_INSTITUTE_NAME" type="string" db:index="151" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G14_ACCOUNT_TYPE" type="string" db:index="152" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G14_ACCOUNT_NUMBER" type="string" db:index="153" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G14_AVERAGE_BALANCE" type="string" db:index="154" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G15_FIN_INSTITUTE_NAME" type="string" db:index="155" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G15_CREDIT_LIMIT" type="string" db:index="156" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G15_CARD_NUMBER" type="string" db:index="157" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G15_EXPIRATION_DATE" type="string" db:index="158" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G15_FIN_INSTITUTE_NAME2" type="string" db:index="159" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G15_CREDIT_LIMIT2" type="string" db:index="160" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G15_CARD_NUMBER2" type="string" db:index="161" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G15_EXPIRATION_DATE2" type="string" db:index="162" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G16_NON_HOME_RELATIVE" type="string" db:index="163" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G16_KINSHIP" type="string" db:index="164" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G16_ADDRESS" type="string" db:index="165" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G16_WORK_PHONE_NUMBER_1" type="string" db:index="166" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G16_HOME_PHONE_NUMBER_1" type="string" db:index="167" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G16_FICOHSA_REFERENCE" type="string" db:index="168" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G16_BRANCH_OR_DEPARTMENT" type="string" db:index="169" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G16_WORK_PHONE_NUMBER_2" type="string" db:index="170" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="G16_HOME_PHONE_NUMBER_2" type="string" db:index="171" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CUSTOMER_NAME" type="string" db:index="172" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="ERROR_CODE" type="string" db:index="173" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="174" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>