Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/ficocelAdmin/ActivaDesactivaAlertaClienteFicoAlerta/activaDesactivaAlertaClienteFicoAlertaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/activaDesactivaAlertaClienteFicoAlertaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/activaDesactivaAlertaClienteFicoAlertaTypes">
	
	
	<xs:element name="activaDesactivaAlertaClienteFicoAlerta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SUBSCRIPTION_ID" type="xs:string"/>
				<xs:element name="ACTIVATE_YES_NO" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="activaDesactivaAlertaClienteFicoAlertaResponse" />
	
</xs:schema>