Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaSituacionFinanciera/xsd/consultaSituacionFinancieraTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSituacionFinancieraTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaSituacionFinancieraTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<!-- OPERACION: CONSULTA SITUACION FINANCIERA --> 
	
	<xs:element name="consultaSituacionFinanciera">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMERS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CUSTOMER" type="tns:CUSTOMER" maxOccurs="unbounded">
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>				
				<xs:element name="PRODUCTS"> 
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PRODUCT" type="tns:PRODUCT" minOccurs="0" maxOccurs="unbounded">
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>											
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
		
	<xs:complexType name = "CUSTOMER">
		<xs:sequence>
		  	<xs:element name="ID" type="xs:string"/>
			<xs:element name="REGION" type="xs:string" />
			<xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0"/>		
		</xs:sequence>		
	</xs:complexType>
	
	<xs:complexType name = "PRODUCT">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string"/>				
			<xs:element name="ID" type="xs:string" />
			<xs:element name="REGION" type="xs:string"/>
		</xs:sequence>		
	</xs:complexType>	
	
	<xs:element name="consultaSituacionFinancieraResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ASSETS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BALANCE" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CURRENCY" minOccurs="0" type="xs:string"/>
										<xs:element name="TOTAL" minOccurs="0" type="xs:decimal" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>				
				<xs:element name="ASSETS_DETAILS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
		  					<xs:element name="ASSET" minOccurs="0" maxOccurs="unbounded">							
								<xs:complexType>
									<xs:sequence>
	  									<xs:element name="TYPE" minOccurs="0" type="xs:string"/>
										<xs:element name="BALANCES"  minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="BALANCE" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
														  	<xs:element name="CURRENCY" type="xs:string"/>
															<xs:element name="AVAILABLE" type="xs:decimal" />
															<xs:element name="TOTAL" type="xs:decimal" />	
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>	
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>								
				<xs:element name="LIABILITIES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BALANCE" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CURRENCY" minOccurs="0" type="xs:string"/>
										<xs:element name="TOTAL"  minOccurs="0" type="xs:decimal" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LIABILITIES_DETAILS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LIABILITY" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TYPE" type="xs:string" minOccurs="0" />
										<xs:element name="BALANCES"  minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="BALANCE" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="CURRENCY" minOccurs="0" type="xs:string" />
															<xs:element name="TOTAL" minOccurs="0" type="xs:decimal"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>										
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>												
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- OPERACION: CONSULTA SITUACION FINANCIERA INTERNO -->
	
	<xs:element name="consultaSituacionFinancieraInterno">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UUID" type="xs:string"/>
				<xs:element name="REGION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="xs:string"/>
							<xs:element name="CUSTOMERS">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CUSTOMER" type="tns:CUSTOMER" minOccurs="0" maxOccurs="unbounded"/>																												
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PRODUCTS">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PRODUCT" type="tns:PRODUCT" minOccurs="0" maxOccurs="unbounded"/>																											
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>		
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaSituacionFinancieraInternoResponse">
	</xs:element>
	
</xs:schema>