Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaSituacionFinanciera/xsd/sjConsultaSituacionFinancieraInterno.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaSituacionFinancieraInterno"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/sjConsultaSituacionFinancieraInterno">
	
	<xs:complexType name="GROUP">
		<xs:sequence>
			<xs:element name="CUSTOMERS">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CUSTOMER" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ID" type="xs:string"/>
									<xs:element name="REGION" type="xs:string"/>
									<xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>																												
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PRODUCTS">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PRODUCT" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ID" type="xs:string"/>
									<xs:element name="REGION" type="xs:string"/>
									<xs:element name="TYPE" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>																												
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- OPERACION: CONSULTA SITUACION FINANCIERA INTERNO -->

	<xs:element name="sjConsultaSituacionFinancieraInterno">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UUID" type="xs:string"/>
				<xs:element name="GROUPS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GROUP" type="tns:GROUP" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="sjConsultaSituacionFinancieraInternoResponse"/>

</xs:schema>