Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ConsultarRemLocalId/xsd/consultarRemLocalId_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarRemLocalId" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarRemLocalId" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_REMESA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CLAVE" type="db:TERCEROS.CV_K_DATOS_REMESAS_TVARCHAR2" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODREMESADORA" type="db:TERCEROS.CV_K_DATOS_REMESAS_TVARCHAR2" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_BENEFICIARIO" type="db:TERCEROS.CV_K_DATOS_REMESAS_TVARCHAR2" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_REMITENTE" type="db:TERCEROS.CV_K_DATOS_REMESAS_TVARCHAR2" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_AGENGIA_PAGO" type="db:TERCEROS.CV_K_DATOS_REMESAS_TVARCHAR2" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_FECHA_PAGO" type="db:TERCEROS.CV_K_DATOS_REMESAS_TVARCHAR2" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADO" type="db:TERCEROS.CV_K_DATOS_REMESAS_TVARCHAR2" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_FECHAREMESA" type="db:TERCEROS.CV_K_DATOS_REMESAS_TVARCHAR2" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_TASACAMBIO" type="db:TERCEROS.CV_K_DATOS_REMESAS_TNUMBER" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_VALOR" type="db:TERCEROS.CV_K_DATOS_REMESAS_TNUMBER" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA" type="db:TERCEROS.CV_K_DATOS_REMESAS_TVARCHAR2" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_PAISORIGEN" type="db:TERCEROS.CV_K_DATOS_REMESAS_TVARCHAR2" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADOORIGEN" type="db:TERCEROS.CV_K_DATOS_REMESAS_TVARCHAR2" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CIUDADORIGEN" type="db:TERCEROS.CV_K_DATOS_REMESAS_TVARCHAR2" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TERCEROS.CV_K_DATOS_REMESAS_TVARCHAR2">
      <sequence>
         <element name="PV_CLAVE_ITEM" type="db:string250" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TERCEROS.CV_K_DATOS_REMESAS_TNUMBER">
      <sequence>
         <element name="PN_TASACAMBIO_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
</schema>