Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingPA/ProviderServices/XSD/GetCustomerDebitCards/GetCustomerDebitCardsPA_BS_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetCustomerDebitCardsPA_BS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetCustomerDebitCardsPA_BS" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CUSTOMER_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CARD_STATUS" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CUSTOMER_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CARD_STATUS" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CARD_NUMBER" type="db:PROXYABANKSPA.TVARCHAR20" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CARD_HOLDER_NAME" type="db:PROXYABANKSPA.TVARCHAR4000" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CARD_CATEGORY" type="db:PROXYABANKSPA.TVARCHAR20" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CARD_TYPE" type="db:PROXYABANKSPA.TVARCHAR20" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CARD_ISSUE_DATE" type="db:PROXYABANKSPA.TVARCHAR20" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSPA.TVARCHAR20">
      <sequence>
         <element name="CARD_NUMBER_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSPA.TVARCHAR4000">
      <sequence>
         <element name="CARD_HOLDER_NAME_ITEM" type="db:string4000" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string4000">
      <restriction base="string">
         <maxLength value="4000"/>
      </restriction>
   </simpleType>
</schema>