Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/tarjetasDebito/ConsultaDetalleBloqueosTD/consultaDetalleBloqueosTDTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDetalleBloqueosTDTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaDetalleBloqueosTDTypes">

	<xs:complexType name="consultaDetalleBloqueosTDResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"
				minOccurs="0" />
			<xs:element name="ACCOUNT_NAME" type="xs:string"
				minOccurs="0" />
			<xs:element name="TOTAL_VISA_LOCKED_AMOUNT" type="xs:string"
				minOccurs="0" />
			<xs:element name="consultaDetalleBloqueosTDResponseType"
				minOccurs="0" form="qualified">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="consultaDetalleBloqueosTDResponseRecordType"
							minOccurs="0" maxOccurs="unbounded" form="qualified">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="VALUE_DATE" type="xs:string"
										minOccurs="0" />
									<xs:element name="TERMINAL_DESCRIPTION" type="xs:string"
										minOccurs="0" />
									<xs:element name="RELEASE_DATE" type="xs:string"
										minOccurs="0" />
									<xs:element name="CURRENCY" type="xs:string"
										minOccurs="0" />
									<xs:element name="ORIGINAL_AMOUNT" type="xs:string"
										minOccurs="0" />
									<xs:element name="BLOCK_STATUS" type="xs:string"
										minOccurs="0" />
									<xs:element name="CONFIRMED_AMOUNT" type="xs:string"
										minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaDetalleBloqueosTD">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaDetalleBloqueosTDResponse" type="cons:consultaDetalleBloqueosTDResponse"/>
	
</xs:schema>