Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaSeguros_v2/xsd/XMLSchema_-2118617781.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSegurosTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaSegurosTypes">

	<xs:complexType name="insuranceProductArray">
		<xs:sequence>
			<xs:element name="PRODUCT_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="PRODUCT_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="PRODUCT_STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="CANCEL_REASON" type="xs:string" minOccurs="0"/>
			<xs:element name="EFF_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="PREMIUM_RATE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="DATE_LAST_BILLED" type="xs:string" minOccurs="0"/>
			<xs:element name="YEARLY_PREMIUM_BILLED" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="yesNoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="consultaSegurosRequest">
		<xs:sequence>
			<xs:element name="ORG" type="xs:integer"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			<xs:element name="DUAL_IND" type="cons:yesNoType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cconsultaSegurosResponse">
		<xs:sequence>
			<xs:element name="PRODUCT_COUNT" type="xs:integer" minOccurs="0"/>
			<xs:element name="INSURANCE_PRODUCTS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="INSURANCE_PRODUCT" minOccurs="0" maxOccurs="unbounded" type="cons:insuranceProductArray">
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:element name="consultaSeguros" type="cons:consultaSegurosRequest"/>
	<xs:element name="consultaSegurosResponse" type="cons:cconsultaSegurosResponse"/>

</xs:schema>