Fuentes/ficohsacore-osb12-b78f21b126d5/CreditCardProcessor/ProviderServices/XSD/PaymentRecordCreditCard/PaymentRecordCreditCard_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/PaymentRecordCreditCard" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/PaymentRecordCreditCard" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_AGENCIAORIGEN" type="decimal" db:index="1" db:default="true" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_MERCHANTNUMBER" type="string" db:index="2" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROTARJETA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPOOPERACION" type="string" db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TIPOMONEDA" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_ORGANIZACION" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDATRANSACCION" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TASACAMBIO" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_TIPOTRANSACCION" type="decimal" db:index="9" db:default="true" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOUSUARIO" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SECUENCIAMOVIMIENTO" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SECUENCIAORIGEN" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_VALOREFECTIVO" type="decimal" db:index="13" db:default="true" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_VALORCHEQUES" type="decimal" db:index="14" db:default="true" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_NUMERODOCUMENTO" type="decimal" db:index="15" db:default="true" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PD_FECHAVALIDA" type="dateTime" db:index="16" db:default="true" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PN_TIPOCHEQUE" type="decimal" db:index="17" db:default="true" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_BANCOORIGEN" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BANCODESTINO" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONTRANSACCION" type="string" db:index="20" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CANAL" type="string" db:index="21" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROAUTORIZACION" type="string" db:index="22" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APLICADO" type="string" db:index="23" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APLICARENLINEA" type="string" db:index="24" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_ERRORCODE" type="string" db:index="25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERRORMESSAGE" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>