Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/RegionDBHN/consultaMaestraClientes/xsd/consultaMaestraClientes_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaMaestraClientes" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaMaestraClientes" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_NUMERO_CLIENTE" type="db:string16" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_PAIS" type="db:string16" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
			<element name="P_NUMERO_CLIENTE" type="db:string16" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_PAIS" type="db:string50" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_NUMERO_IDENTIDAD" type="db:string16" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_NOMBRE_CLIENTE" type="db:string50" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_TELEFONO" type="db:string11" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_CORREO_ELECTRONICO" type="db:string130" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_DIRECCION" type="db:string500" db:index="7" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_FECHA_NACIMIENTO" type="dateTime" db:index="8" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_ESTADO_CIVIL" type="db:string20" db:index="9" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_SEXO" type="db:string20" db:index="10" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO_MENSAJE" type="db:string4000" db:index="11" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_DESC_MENSAJE" type="db:string4000" db:index="12" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string130">
      <restriction base="string">
         <maxLength value="130"/>
      </restriction>
   </simpleType>
   <simpleType name="string11">
      <restriction base="string">
         <maxLength value="11"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string500">
      <restriction base="string">
         <maxLength value="500"/>
      </restriction>
   </simpleType>
   <simpleType name="string4000">
      <restriction base="string">
         <maxLength value="4000"/>
      </restriction>
   </simpleType>
</schema>