Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/ConsumerService/XSD/getExchangeRateTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/getExchangeRateTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gxr="http://www.ficohsa.com.hn/getExchangeRateTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="getExchangeRateRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="SourceCurrency" type="xsd:string" minOccurs="1"/>
        <xsd:element name="TargetCurrency" type="xsd:string" minOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getExchangeRateResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
        <xsd:element name="getExchangeRateResponseType" minOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="getExchangeRateRecordType" minOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="BuyRate" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="SellRate" minOccurs="0" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>