Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/RewardsProgramOperations/wsdl/RewardsProgramOperations.wsdl

<wsdl:definitions name="rewardsProgramOperationsPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/rewardsProgramOperationsPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/rewardsProgramOperationsPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:rew="http://www.ficohsa.com.hn/middleware.services/rewardsProgramOperationsTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../General/xsd/Header.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/rewardsProgramOperationsTypes" schemaLocation="../xsd/RewardsProgramOperationsTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="cashbackQueryRequest">
		<wsdl:part element="rew:cashbackQuery" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="cashbackQueryResponse">
		<wsdl:part element="rew:cashbackQueryResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="cashbackPaymentRequest">
		<wsdl:part element="rew:cashbackPayment" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="cashbackPaymentResponse">
		<wsdl:part element="rew:cashbackPaymentResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:portType name="rewardsProgramOperationsPS">
		<wsdl:operation name="cashbackQuery" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:cashbackQueryRequest"/>
			<wsdl:output message="fic:cashbackQueryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="cashbackPayment" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:cashbackPaymentRequest"/>
			<wsdl:output message="fic:cashbackPaymentResponse"/>
		</wsdl:operation>    
	</wsdl:portType>

	<wsdl:binding name="rewardsProgramOperationsPSSOAP" type="fic:rewardsProgramOperationsPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="cashbackQuery">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/rewardsProgramOperationsPS/cashbackQuery"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:cashbackQueryRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:cashbackQueryResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cashbackPayment">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/rewardsProgramOperationsPS/cashbackPayment"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:cashbackPaymentRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:cashbackPaymentResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="rewardsProgramOperationsPS">
		<wsdl:port binding="fic:rewardsProgramOperationsPSSOAP" name="rewardsProgramOperationsPSSOAP">
			<soap:address location="http://mwteller:8004/mwteller/rewardsProgram/rewardsProgramOperations"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>