Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaDemograficaProspecto/xsd/XMLSchema_1902991666.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDemograficaProspectoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cdp="http://www.ficohsa.com.hn/middleware.services/consultaDemograficaProspectoTypes">
	<xs:element name="consultaDemograficaProspecto">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_TYPE" type="xs:string"/>
				<xs:element name="ID_VALUE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="consultaDemograficaProspectoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_NAMES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FIRST_NAME" type="xs:string" minOccurs="0"/>
							<xs:element name="MIDDLE_NAME" type="xs:string" minOccurs="0"/>
							<xs:element name="FIRST_SURNAME" type="xs:string" minOccurs="0"/>
							<xs:element name="SECOND_SURNAME" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BIRTH_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="BIRTH_PLACE" type="xs:string" minOccurs="0"/>
				<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
				<xs:element name="ID_ISSUE_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="ID_EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>