Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaDisponibleCompraCliente/xsd/consultaDisponibleCompraClienteTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDisponibleCompraClienteTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaDisponibleCompraClienteTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
   <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
    <!--############################################-->
    <!-- OPERATION: consultaDisponibleCompraCliente -->
    <!--############################################-->
    <xs:element name="consultaDisponibleCompraCliente">
        <xs:complexType>
           <xs:sequence>
				<xs:element name="SEARCH_TYPE" type="tns:stringMinLength1"/>
				<xs:element name="VALUE" type="tns:stringMinLength1"/>		
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="consultaDisponibleCompraClienteResponse">
        <xs:complexType>
           <xs:sequence>
				<xs:element name="PROFILE" type="xs:string" minOccurs="0"/>		
				<xs:element name="PROFILE_NUMBER" type="xs:string" minOccurs="0"/>		
				<xs:element name="NAME" type="xs:string" minOccurs="0"/>		
				<xs:element name="AVAILABLE" type="xs:string" minOccurs="0"/>	
				<xs:element name="SPECIAL_AVAILABLE" type="xs:string" minOccurs="0"/>	
			</xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>