Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaTiposImpuestos/xsd/ConsultaTiposImpuestosTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/tributosTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/tributosTypes">


	<xs:element name="consultaTiposImpuestosRequest">

		<xs:complexType>
			<xs:sequence>
				<xs:element name="TAX_ID" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaTiposImpuestosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TYPES_TAXES" type="tns:taxesType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="taxesType">
		<xs:sequence>
			<xs:element name="TYPE_TAX" type="tns:taxType" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="taxType">
		<xs:sequence>
			<xs:element name="ID" type="xs:decimal" maxOccurs="unbounded" />
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>