Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/INXU/xsd/WSInxuBancaseguroService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6.--><xsd:schema targetNamespace="http://wsInxuBancaseguroService.bancaseguros.ingesis.com/" xmlns:ns0="http://wsInxuBancaseguroService.bancaseguros.ingesis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="cobroDeSeguro">
    <xsd:sequence>
      <xsd:element name="xmlCobroDeSeguro" type="xsd:string" minOccurs="0"/>
      <xsd:element name="credenciales" type="ns0:credencialInxu" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="altaDeSeguro">
    <xsd:sequence>
      <xsd:element name="xmlAltaDeSeguro" type="xsd:string" minOccurs="0"/>
      <xsd:element name="credenciales" type="ns0:credencialInxu" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cobroDeSeguroResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="altaDeSeguroResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="credencialInxu">
    <xsd:sequence>
      <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaDeSeguroResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaDeSeguro">
    <xsd:sequence>
      <xsd:element name="xmlConsultaDeSeguro" type="xsd:string" minOccurs="0"/>
      <xsd:element name="credenciales" type="ns0:credencialInxu" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="cobroDeSeguro" type="ns0:cobroDeSeguro"/>
  <xsd:element name="altaDeSeguro" type="ns0:altaDeSeguro"/>
  <xsd:element name="cobroDeSeguroResponse" type="ns0:cobroDeSeguroResponse"/>
  <xsd:element name="altaDeSeguroResponse" type="ns0:altaDeSeguroResponse"/>
  <xsd:element name="credencialInxu" type="ns0:credencialInxu"/>
  <xsd:element name="consultaDeSeguroResponse" type="ns0:consultaDeSeguroResponse"/>
  <xsd:element name="consultaDeSeguro" type="ns0:consultaDeSeguro"/>
</xsd:schema>