Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/dataCapture/Resources/DataCapture.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_-694387951.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-987790958.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="IngresodeDataCapture">
<part name="parameters" element="tns:IngresodeDataCapture"/>
</message>
<message name="IngresodeDataCaptureResponse">
<part name="parameters" element="tns:IngresodeDataCaptureResponse"/>
</message>
<message name="IngresodeDataCapture_Validate">
<part name="parameters" element="tns:IngresodeDataCapture_Validate"/>
</message>
<message name="IngresodeDataCapture_ValidateResponse">
<part name="parameters" element="tns:IngresodeDataCapture_ValidateResponse"/>
</message>
<message name="Reversiondedatacapture">
<part name="parameters" element="tns:Reversiondedatacapture"/>
</message>
<message name="ReversiondedatacaptureResponse">
<part name="parameters" element="tns:ReversiondedatacaptureResponse"/>
</message>
<message name="Autorizaciondedatacapture">
<part name="parameters" element="tns:Autorizaciondedatacapture"/>
</message>
<message name="AutorizaciondedatacaptureResponse">
<part name="parameters" element="tns:AutorizaciondedatacaptureResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="IngresodeDataCapture">
<input message="tns:IngresodeDataCapture"/>
<output message="tns:IngresodeDataCaptureResponse"/>
</operation>
<operation name="IngresodeDataCapture_Validate">
<input message="tns:IngresodeDataCapture_Validate"/>
<output message="tns:IngresodeDataCapture_ValidateResponse"/>
</operation>
<operation name="Reversiondedatacapture">
<input message="tns:Reversiondedatacapture"/>
<output message="tns:ReversiondedatacaptureResponse"/>
</operation>
<operation name="Autorizaciondedatacapture">
<input message="tns:Autorizaciondedatacapture"/>
<output message="tns:AutorizaciondedatacaptureResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IngresodeDataCapture">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IngresodeDataCapture_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Reversiondedatacapture">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Autorizaciondedatacapture">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwinterbanca:7003/svcDataCapture/services"/>
</port>
</service>
</definitions>