Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/dataCapture/Resources/XMLSchema_-987790958.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Autorizaciondedatacapture" type="tns:Autorizaciondedatacapture"/>

<xs:element name="AutorizaciondedatacaptureResponse" type="tns:AutorizaciondedatacaptureResponse"/>

<xs:element name="IngresodeDataCapture" type="tns:IngresodeDataCapture"/>

<xs:element name="IngresodeDataCaptureResponse" type="tns:IngresodeDataCaptureResponse"/>

<xs:element name="IngresodeDataCapture_Validate" type="tns:IngresodeDataCapture_Validate"/>

<xs:element name="IngresodeDataCapture_ValidateResponse" type="tns:IngresodeDataCapture_ValidateResponse"/>

<xs:element name="Reversiondedatacapture" type="tns:Reversiondedatacapture"/>

<xs:element name="ReversiondedatacaptureResponse" type="tns:ReversiondedatacaptureResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="DATACAPTUREINPUTWSType">
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="SIGN" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLCY" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="THEIRREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATIVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="PLCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="PRODUCTCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTFCY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="DATACAPTUREType">
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="SIGN" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLCY" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="THEIRREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATIVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="PLCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="PRODUCTCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTFCY" type="xs:string" minOccurs="0"/>
<xs:element name="EXCHANGERATE" type="xs:string" minOccurs="0"/>
<xs:element name="NEGREFNO" type="xs:string" minOccurs="0"/>
<xs:element name="POSITIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="OURREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="REVERSALMARKER" type="xs:string" minOccurs="0"/>
<xs:element name="EXPOSUREDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYMARKET" type="xs:string" minOccurs="0"/>
<xs:element name="DEPARTMENTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEALERDESK" type="xs:string" minOccurs="0"/>
<xs:element name="BANKSORTCDE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CONTINGENTACCT" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="TFSREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="gSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="STMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="Autorizaciondedatacapture">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="DATACAPTUREINPUTWSType" type="tns:transactionId" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transactionId">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AutorizaciondedatacaptureResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="DATACAPTUREType" type="tns:DATACAPTUREType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IngresodeDataCapture">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="DATACAPTUREINPUTWSType" type="tns:DATACAPTUREINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IngresodeDataCaptureResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="DATACAPTUREType" type="tns:DATACAPTUREType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IngresodeDataCapture_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="DATACAPTUREINPUTWSType" type="tns:DATACAPTUREINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IngresodeDataCapture_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="DATACAPTUREType" type="tns:DATACAPTUREType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Reversiondedatacapture">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="DATACAPTUREINPUTWSType" type="tns:transactionId" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReversiondedatacaptureResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="DATACAPTUREType" type="tns:DATACAPTUREType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>