Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/DepositosReferenciados/wsdl/depositosReferenciadosPS.wsdl

<wsdl:definitions name="depositosReferenciadosPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:dep="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosTypes">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosTypes" schemaLocation="../xsd/depositosReferenciadosTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestHeader">
<!--     <wsdl:part element="dep:depositosReferenciados" name="parameters"/> -->
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="responseHeader">
<!--     <wsdl:part element="dep:depositosReferenciadosResponse" name="result"/> -->
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
     
    <wsdl:message name="consultaLoteRequest">
        <wsdl:part element="dep:consultaLote" name="parameters"/>
<!--     <wsdl:part name="RequestHeader" element="auth:RequestHeader"/> -->
    </wsdl:message>
    
    <wsdl:message name="consultaLoteResponse">
        <wsdl:part element="dep:consultaLoteResponse" name="result"/>
<!--     <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/> -->
    </wsdl:message>
    
    <wsdl:message name="consultaDeudoresRequest">
        <wsdl:part element="dep:consultaDeudores" name="parameters"/>
<!--     <wsdl:part element="auth:RequestHeader" name="RequestHeader"/> -->
    </wsdl:message>
    
    <wsdl:message name="consultaDeudoresResponse">
        <wsdl:part element="dep:consultaDeudoresResponse" name="result"/>
<!--     <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/> -->
    </wsdl:message>
    
    <wsdl:message name="agregarDeudoresRequest">
        <wsdl:part element="dep:agregarDeudores" name="parameters"/>
<!--     <wsdl:part element="auth:RequestHeader" name="RequestHeader"/> -->
    </wsdl:message>
    
    <wsdl:message name="agregarDeudoresResponse">
        <wsdl:part element="dep:agregarDeudoresResponse" name="result"/>
<!--     <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/> -->
    </wsdl:message>
    
    <wsdl:message name="eliminarDeudoresRequest">
        <wsdl:part element="dep:eliminarDeudores" name="parameters"/>
<!--     <wsdl:part element="auth:RequestHeader" name="RequestHeader"/> -->
    </wsdl:message>
    
    <wsdl:message name="eliminarDeudoresResponse">
        <wsdl:part element="dep:eliminarDeudoresResponse" name="result"/>
<!--     <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/> -->
    </wsdl:message>
    
    <wsdl:message name="autorizacionLoteRequest">
        <wsdl:part element="dep:autorizacionLote" name="parameters"/>
<!--     <wsdl:part element="auth:RequestHeader" name="RequestHeader"/> -->
    </wsdl:message>
    
    <wsdl:message name="autorizacionLoteResponse">
        <wsdl:part element="dep:autorizacionLoteResponse" name="result"/>
<!--     <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/> -->
    </wsdl:message>
    
    <wsdl:message name="validaDepositoReferenciadoRequest">
        <wsdl:part element="dep:validaDepositoReferenciado" name="parameters"/>
<!--     <wsdl:part element="auth:RequestHeader" name="RequestHeader"/> -->
    </wsdl:message>
    
    <wsdl:message name="validaDepositoReferenciadoResponse">
        <wsdl:part element="dep:validaDepositoReferenciadoResponse" name="result"/>
<!--     <wsdl:part element="auth:ResponseHeader" name="ResponseHeader"/> -->
    </wsdl:message>
     
    <wsdl:portType name="depositosReferenciadosPS">
        <wsdl:operation name="consultaLote" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaLoteRequest"/>
            <wsdl:output message="fic:consultaLoteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="consultaDeudores" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaDeudoresRequest"/>
            <wsdl:output message="fic:consultaDeudoresResponse"/>
        </wsdl:operation>
        <wsdl:operation name="agregarDeudores" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:agregarDeudoresRequest"/>
            <wsdl:output message="fic:agregarDeudoresResponse"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarDeudores" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:eliminarDeudoresRequest"/>
            <wsdl:output message="fic:eliminarDeudoresResponse"/>
        </wsdl:operation>
        <wsdl:operation name="autorizacionLote" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:autorizacionLoteRequest"/>
            <wsdl:output message="fic:autorizacionLoteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="validaDepositoReferenciado" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:validaDepositoReferenciadoRequest"/>
            <wsdl:output message="fic:validaDepositoReferenciadoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="depositosReferenciadosPSSOAP" type="fic:depositosReferenciadosPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultaLote">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosPS/consultaLote"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaDeudores">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosPS/consultaDeudores"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="agregarDeudores">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosPS/agregarDeudores"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarDeudores">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosPS/eliminarDeudores"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="autorizacionLote">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosPS/autorizacionLote"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validaDepositoReferenciado">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/depositosReferenciadosPS/validaDepositoReferenciado"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="depositosReferenciadosPS">
        <wsdl:port binding="fic:depositosReferenciadosPSSOAP" name="depositosReferenciadosPSSOAP">
           <soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Payments/DepositosReferenciados"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>