Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/deudoresRecaudos/modificacionDeudor/modificacionDeudorTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/modificacionDeudorTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/modificacionDeudorTypes">
	
		<xs:element name="modificacionDeudor">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CONTRACT_ID" type="xs:string"/>
	            <xs:element name="DEBTOR_CODE" type="xs:string"/>
	            <xs:element name="DEBTOR_NAME" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="modificacionDeudorResponse"/>
	
</xs:schema>