Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/detalleMovimientosAbanks/Resources/ConsultaReciboServicio/xsd/ORA_BANK_OSB_K_CONSULTARECIBOSERVICIO_TOPLEVEL-24OSB_CON_RECIBO_SERVI.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_K_CONSULTARECIBOSERVICIO/TOPLEVEL-24OSB_CON_RECIBO_SERVI/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_K_CONSULTARECIBOSERVICIO/TOPLEVEL-24OSB_CON_RECIBO_SERVI/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="ACCOUNT_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TRANSACTION_REFERENCE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="LABELS" type="db:ORA_BANK.TOPLEVEL_TVARCHAR40002" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="VALUESS" type="db:ORA_BANK.TOPLEVEL_TVARCHAR40002" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR40002">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="4000"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>