Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/PagosMasivos/xsd/pagosMasivosTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagosMasivosTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pag="http://www.ficohsa.com.hn/middleware.services/pagosMasivosTypes" xmlns:pagin="http://www.ficohsa.com.hn/middleware.services/PagingTypes">

   <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/PagingTypes" schemaLocation="../../esquemas_generales/PagingTypes.xsd"/>

   <!--############################### -->
  <!--TYPES: PAGOS MASIVOS -->

  <!-- StringType -->
  <xs:simpleType name="stringMinLength1">
     <xs:restriction base="xs:string">
        <xs:minLength value="1"/>
     </xs:restriction>
  </xs:simpleType>

  <!-- CA/CC TYPE -->
  <xs:simpleType name="CaCcType">
     <xs:restriction base="xs:string">
        <xs:enumeration value="CA"/>
        <xs:enumeration value="CC"/>
     </xs:restriction>
  </xs:simpleType>


  <!--############################### -->
  <!--OPERACION: PAGOS MASIVOS -->
  <!--############################### -->
  <xs:element name="pagosMasivos">
     <xs:complexType>
        <xs:sequence>
           <xs:element name="GLOBAL_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
           <xs:element name="CUSTOMER_ID" minOccurs="1" maxOccurs="1">
              <xs:simpleType>
                 <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                 </xs:restriction>
              </xs:simpleType>
           </xs:element>
           <xs:element name="USERNAME" minOccurs="1" maxOccurs="1">
              <xs:simpleType>
                 <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                 </xs:restriction>
              </xs:simpleType>
           </xs:element>
           <xs:element name="BATCHES" type="pag:batchesType"/>
        </xs:sequence>
     </xs:complexType>
  </xs:element>

  <xs:element name="pagosMasivosResponse">
     <xs:complexType>
        <xs:sequence>
           <xs:element name="GLOBAL_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="BATCHES" type="pag:batchesResponseType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
     </xs:complexType>
  </xs:element>

  <!--BATCHES TYPES -->
  <xs:complexType name="batchesType">
     <xs:sequence>
        <xs:element name="BATCH" type="pag:batchType" minOccurs="1" maxOccurs="unbounded"/>
     </xs:sequence>
  </xs:complexType>

  <!--BATCH TYPES -->
  <xs:complexType name="batchType">
     <xs:sequence>
        <xs:element name="CUSTOMER_BATCH_ID" minOccurs="1" maxOccurs="1">
           <xs:simpleType>
              <xs:restriction base="xs:string">
                 <xs:minLength value="1"/>
              </xs:restriction>
           </xs:simpleType>
        </xs:element>
        <xs:element name="TYPE" type="xs:integer" minOccurs="1" maxOccurs="1"/>
        <xs:element name="CONCEPT_BATCH" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="APPLICATION_DATE" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DATA_STRUCTURE">
           <xs:complexType>
              <xs:sequence>
                 <xs:element name="VALIDATIONS" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                       <xs:sequence>
                          <xs:element name="DEBIT_ACCT_BALANCE" type="pag:yesNoType" minOccurs="1" maxOccurs="1"/>
                          <xs:element name="DEBIT_ACCT_STATUS" type="pag:yesNoType" minOccurs="1" maxOccurs="1"/>
                          <xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                          <xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
                       </xs:sequence>
                    </xs:complexType>
                 </xs:element>
                 <xs:element name="FIELDS" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                       <xs:sequence>
                          <xs:element name="FIELD" type="pag:multivalueType" minOccurs="1" maxOccurs="unbounded"/>
                       </xs:sequence>
                    </xs:complexType>
                 </xs:element>
                 <xs:element name="DELIMITER" minOccurs="1" maxOccurs="1">
                    <xs:simpleType>
                       <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                       </xs:restriction>
                    </xs:simpleType>
                 </xs:element>
              </xs:sequence>
           </xs:complexType>
        </xs:element>
        <xs:element name="TRANSACTIONS" minOccurs="1" maxOccurs="1">
           <xs:complexType>
              <xs:sequence>
                 <xs:element name="TRANSACTION" type="pag:multivalueType" minOccurs="1" maxOccurs="unbounded"/>
              </xs:sequence>
           </xs:complexType>
        </xs:element>
     </xs:sequence>
  </xs:complexType>

  <!-- YESNO TYPE -->
  <xs:simpleType name="yesNoType">
     <xs:restriction base="xs:string">
        <xs:enumeration value="YES"/>
        <xs:enumeration value="NO"/>
     </xs:restriction>
  </xs:simpleType>

  <!-- BATCHESRESPONSE TYPE -->
  <xs:complexType name="batchesResponseType">
     <xs:sequence>
        <xs:element name="BATCH" type="pag:batchResponseType" minOccurs="0" maxOccurs="unbounded"/>
     </xs:sequence>
  </xs:complexType>

  <!-- BATCHRESPONSE TYPE -->
  <xs:complexType name="batchResponseType">
     <xs:sequence>
        <xs:element name="BANK_BATCH_ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CUSTOMER_BATCH_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ERROR_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
     </xs:sequence>
  </xs:complexType>

  <!-- MULTIVALUE TYPE -->
  <xs:complexType name="multivalueType">
     <xs:simpleContent>
        <xs:extension base="xs:string"/>
     </xs:simpleContent>
  </xs:complexType>

  <!-- SUPPLIER_STATUS TYPE -->
  <xs:simpleType name="SupplierStatusType">
     <xs:restriction base="xs:string">
        <xs:enumeration value="AUT"/>
        <xs:enumeration value="PEN"/>
        <xs:enumeration value="ALL"/>
     </xs:restriction>
  </xs:simpleType>

  <!--############################### -->

  <!--############################### -->

  <!-- CONSULTAPAGOSMASIVOS -->

  <!--############################### -->
  <!-- CONSULTALOTESCLIENTE -->
  <!--############################### -->
  <xs:element name="consultaLotesCliente">
     <xs:complexType>
        <xs:sequence>
           <xs:element name="CUSTOMER_ID" minOccurs="1" maxOccurs="1">
              <xs:simpleType>
                 <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                 </xs:restriction>
              </xs:simpleType>
           </xs:element>
           <xs:element name="BEGIN_DATE" type="xs:date" minOccurs="1" maxOccurs="1"/>
           <xs:element name="END_DATE" type="xs:date" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
     </xs:complexType>
  </xs:element>

  <xs:element name="consultaLotesClienteResponse">
     <xs:complexType>
        <xs:sequence>
           <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="BEGIN_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
           <xs:element name="END_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
           <xs:element name="BATCHES" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                 <xs:sequence>
                    <xs:element name="BATCH" minOccurs="0" maxOccurs="unbounded">
                       <xs:complexType>
                          <xs:sequence>
                             <xs:element name="BANK_BATCH_ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                             <xs:element name="CUSTOMER_BATCH_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                             <xs:element name="TYPE" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                             <xs:element name="TYPE_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>
                             <xs:element name="UPLOAD_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
                             <xs:element name="APPLICATION_DATE" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                             <xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                             <xs:element name="NUMBER_OF_TRANSACTIONS_SUCCESS" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                             <xs:element name="NUMBER_OF_TRANSACTIONS_ERROR" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                             <xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                             <xs:element name="TOTAL_AMOUNT_ERROR" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                             <xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
                             <xs:element name="STATUS_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>
                          </xs:sequence>
                       </xs:complexType>
                    </xs:element>
                 </xs:sequence>
              </xs:complexType>
           </xs:element>
        </xs:sequence>
     </xs:complexType>
  </xs:element>

  <!-- BATCHRESPONSE -->

  <!--############################### -->

  <!--############################### -->
  <!-- CONSULTADETALLELOTE -->
  <!--############################### -->
  <xs:element name="consultaDetalleLote">
     <xs:complexType>
        <xs:sequence>
           <xs:element name="CUSTOMER_ID" minOccurs="1" maxOccurs="1">
              <xs:simpleType>
                 <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                 </xs:restriction>
              </xs:simpleType>
           </xs:element>
           <xs:element name="QUERY_TYPE" minOccurs="1" maxOccurs="1">
              <xs:simpleType>
                 <xs:restriction base="xs:string">
                    <xs:enumeration value="BANK_BATCH_ID"/>
                    <xs:enumeration value="CUSTOMER_BATCH_ID"/>
                 </xs:restriction>
              </xs:simpleType>
           </xs:element>
           <xs:element name="QUERY_VALUE" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="TRANSACTION_FILTERS" minOccurs="0" maxOccurs="1">
             <xs:complexType>
                <xs:sequence>
                	
                     <xs:element name="FILTER" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="FIELD" minOccurs="0" maxOccurs="1">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:enumeration value="BENEFICIARY"/>
                                       <xs:enumeration value="STATUS"/>
                                       <xs:enumeration value="DEBIT_ACCOUNT"/>
                                       <xs:enumeration value="CREDIT_ACCOUNT"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="PAGING_INFO" type="pagin:pagingInfo"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="consultaDetalleLoteResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BANK_BATCH_ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BATCH_TYPE" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BATCH_TYPE_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="UPLOAD_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="APPLICATION_DATE" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NUMBER_OF_TRANSACTIONS_SUCCESS" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NUMBER_OF_TRANSACTIONS_ERROR" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TOTAL_AMOUNT_ERROR" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STATUS_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="RECORDS_INFO" type="pagin:recordsInfo" minOccurs="0"/>
            <xs:element name="TRANSACTIONS" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="TRANSACTION" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="PAYMENT_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="PAYMENT_TYPE_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>                            
                              <xs:element name="TXN_REFERENCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="CREDIT_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="DESTINATION_BANK" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="DESTINATION_BANK_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="CREDIT_CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="CREDIT_ACCOUNT_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="BENEFICIARY" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="DOCUMENT_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="SUPPLIER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="STATUS_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="WITHDRAWAL_BRANCH" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="WITHDRAWAL_BRANCH_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="EXTERNAL_REFERENCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="ERROR_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="BILL_INFO" minOccurs="0" maxOccurs="1">
		                        <xs:complexType>
		                           <xs:sequence>
		                              <xs:element name="CONTRACT_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>                             
		                              <xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
		                              <xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
		                              <xs:element name="BILL_DETAIL" type="xs:string" minOccurs="0" maxOccurs="1"/>
		                           </xs:sequence>
		                        </xs:complexType>
                    		 </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <!--############################### -->

   <!--############################### -->
   <!-- CONSULTATRASACCIONLOTE -->
   <!--############################### -->
   <xs:element name="consultaTransaccionLote">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" minOccurs="1" maxOccurs="1">
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:minLength value="1"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="TXN_REFERENCE" type="xs:string" minOccurs="1" maxOccurs="1"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="consultaTransaccionLoteResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TRANSACTION" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="TXN_REFERENCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="BANK_BATCH_ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="CREDIT_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
                     <xs:element name="AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>


   <!--############################### -->

   <!--############################### -->
   <!-- CARGARARCHIVOLOTE -->
   <!--############################### -->
   <xs:element name="cargarArchivoLote">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="pag:stringMinLength1" minOccurs="1" maxOccurs="1"/>
            <xs:element name="USER_ID" type="pag:stringMinLength1" minOccurs="1" maxOccurs="1"/>
            <xs:element name="TYPE" type="xs:integer" minOccurs="1" maxOccurs="1"/>
            <xs:element name="CONCEPT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ENCRYPTED_FILE" type="pag:yesNoType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="FLAT_FILE" type="xs:base64Binary" minOccurs="1" maxOccurs="1"/>
            <xs:element name="FILE_NAME" type="pag:stringMinLength1" minOccurs="1" maxOccurs="1"/>
            <xs:element name="APPLICATION_DATE" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="cargarArchivoLoteResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BANK_BATCH_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="UPLOAD_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
             <xs:element name="TRX_STATUS" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="TRX" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="ID" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                              <xs:element name="ERROR_MESSAGES" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="MESSAGE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>


   <!--############################### -->
   <!-- AUTORIZARLOTE -->
   <!--############################### -->
   <xs:element name="autorizarLote">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="pag:stringMinLength1"/>
            <xs:element name="USER_ID" type="pag:stringMinLength1"/>
            <xs:element name="BATCHES">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="BATCH" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="BANK_BATCH_ID" type="xs:integer"/>
                              <xs:element name="UPLOAD_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
                              <xs:element name="APPLICATION_DATE" type="xs:dateTime" minOccurs="0"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="autorizarLoteResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="BATCHES" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="BATCH" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="BANK_BATCH_ID" type="pag:stringMinLength1"/>
                              <xs:element name="STATUS" type="pag:stringMinLength1"/>
                              <xs:element name="STATUS_DESC" type="pag:stringMinLength1"/>
                              <xs:element name="DETAIL_ERRORS" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="DETAIL_ERROR" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element name="ACCOUNT_NUMBER" type="pag:stringMinLength1"/>
                                                <xs:element name="BATCH_AMOUNT" type="xs:decimal"/>
                                                <xs:element name="TAX_AMOUNT" type="xs:decimal"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>


   <!--############################### -->
   <!-- CANCELARLOTE -->
   <!--############################### -->
   <xs:element name="cancelarLote">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="pag:stringMinLength1"/>
            <xs:element name="BANK_BATCH_ID" type="xs:integer"/>
            <xs:element name="UPLOAD_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="USER_ID" type="pag:stringMinLength1"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="cancelarLoteResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="BANK_BATCH_ID" type="xs:integer" minOccurs="0"/>
            <xs:element name="STATUS" type="pag:stringMinLength1" minOccurs="0"/>
            <xs:element name="STATUS_DESC" type="pag:stringMinLength1" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <!--############################### -->
   <!-- EDITARESTADOREGISTROLOTE -->
   <!--############################### -->
   <xs:element name="editarEstadoRegistroLote">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="pag:stringMinLength1"/>
            <xs:element name="BANK_BATCH_ID" type="xs:integer"/>
            <xs:element name="UPLOAD_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="USER_ID" type="pag:stringMinLength1"/>
            <xs:element name="STATUS">
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="INVALID"/>
                     <xs:enumeration value="VALID"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="TRANSACTIONS" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="TRANSACTION" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                           <xs:element name="ID" type="xs:integer"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="editarEstadoRegistroLoteResponse"/>
      

   <!--############################### -->
   <!-- CONSULTARESTADOREGISTROLOTE -->
   <!--############################### -->
   <!-- ACCOUNT TYPE -->
   <xs:complexType name="accountType">
      <xs:sequence>
         <xs:element name="DEBIT_ACCOUNT" type="pag:stringMinLength1" minOccurs="0"/>
         <xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
         <xs:element name="CURRENCY" type="pag:stringMinLength1" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>

	<!-- PAYMENT TYPE -->
	<xs:complexType name="paymentType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="pag:stringMinLength1" minOccurs="0"/>
			<xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="EXCHANGE_RATE" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
   <xs:element name="consultaEstadoLote">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="pag:stringMinLength1"/>
            <xs:element name="BANK_BATCH_ID" type="xs:integer"/>
            <xs:element name="UPLOAD_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="consultaEstadoLoteResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="BANK_BATCH_ID" type="pag:stringMinLength1" minOccurs="0"/>
            <xs:element name="CUSTOMER_ID" type="pag:stringMinLength1" minOccurs="0"/>
            <xs:element name="CUSTOMER_NAME" type="pag:stringMinLength1" minOccurs="0"/>
            <xs:element name="STATUS" type="pag:stringMinLength1" minOccurs="0"/>
            <xs:element name="STATUS_DESC" type="pag:stringMinLength1" minOccurs="0"/>
            <xs:element name="OPTIMISTIC" type="pag:yesNoType" minOccurs="0"/>
            <xs:element name="ACCOUNTS" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ACCOUNT" type="pag:accountType" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="PAYMENTS" minOccurs="0">
            	<xs:complexType>
            		<xs:sequence>
            			<xs:element name="PAYMENT" type="pag:paymentType" maxOccurs="unbounded"/>
            		</xs:sequence>
            	</xs:complexType>
            </xs:element>
            <xs:element name="TOTAL_AMOUNT" type="xs:decimal" minOccurs="0"/>
            <xs:element name="TOTAL_AMOUNT_ERROR" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NUMBER_OF_TRANSACTIONS" type="xs:integer" minOccurs="0"/>
            <xs:element name="NUMBER_OF_TRANSACTIONS_SUCCESS" type="xs:integer" minOccurs="0"/>
            <xs:element name="NUMBER_OF_TRANSACTIONS_ERROR" type="xs:integer" minOccurs="0"/>
            <xs:element name="APPLICATION_DATE" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="PROCESS_INFO" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <!--############################### -->
   <!-- CARGAR PROVEEDOR -->

   <!-- SUPPLIER TYPE -->
   <xs:complexType name="supplierType">
      <xs:sequence>
         <xs:element name="ID" type="pag:stringMinLength1"/>
         <xs:element name="NAME" type="pag:stringMinLength1"/>
         <xs:element name="LEGAL_ID" type="pag:stringMinLength1"/>
         <xs:element name="DESTINATION_BANK" type="xs:decimal" minOccurs="0"/>
         <xs:element name="ACCOUNT_NUMBER" type="pag:stringMinLength1"/>
         <xs:element name="ACCOUNT_TYPE" type="pag:CaCcType" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="cargarProveedores">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="pag:stringMinLength1"/>
            <xs:element name="USER_ID" type="pag:stringMinLength1"/>
            <xs:element name="SUPPLIERS">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="SUPPLIER" type="pag:supplierType" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="cargarProveedoresResponse">
      <xs:complexType>
         <xs:sequence>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <!--############################### -->
   <!-- CONSULTARPROVEEDOR -->
   <!--############################### -->
   <xs:element name="consultarProveedores">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="xs:string"/>
            <xs:element name="SUPPLIER_STATUS" type="pag:SupplierStatusType"/>
            <xs:element name="SUPPLIERS" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="SUPPLIER" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="ID" type="xs:string"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="consultarProveedoresResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
            <xs:element name="SUPPLIERS" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="SUPPLIER" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="ID" type="xs:string"/>
                              <xs:element name="NAME" type="xs:string"/>
                              <xs:element name="LEGAL_ID" type="xs:string"/>
                              <xs:element name="DESTINATION_BANK" type="xs:integer" minOccurs="0"/>
                              <xs:element name="DESTINATION_BANK_DESC" type="xs:string" minOccurs="0"/>
                              <xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
                              <xs:element name="ACCOUNT_TYPE" type="xs:string" minOccurs="0"/>
                              <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <!--############################### -->
   <!-- AUTORIZARPROVEEDOR -->
   <!--############################### -->
   <xs:element name="autorizarProveedores">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="pag:stringMinLength1"/>
            <xs:element name="USER_ID" type="pag:stringMinLength1"/>
            <xs:element name="SUPPLIERS">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="SUPPLIER" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="ID" type="pag:stringMinLength1"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="autorizarProveedoresResponse">
      <xs:complexType>
         <xs:sequence>
         </xs:sequence>
      </xs:complexType>
   </xs:element>


   <!--############################### -->
   <!-- eliminarProveedores -->
   <!--############################### -->
   <xs:element name="eliminarProveedores">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="1"/>
            <xs:element name="SUPPLIERS" minOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="SUPPLIER" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="ID" type="xs:string"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="eliminarProveedoresResponse"/>

</xs:schema>