Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/VentaInventario/xsd/ventaInventarioTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/ventaInventarioTypes"
	xmlns:ven="http://www.ficohsa.com.hn/middleware.services/ventaInventarioTypes">

	<xs:element name="ventaInventario">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="STOCK_CODE"> 
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="STOCK_SUBCODE" type="xs:string" minOccurs="0"/>
				<xs:element name="DISCOUNT_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="QUANTITY"> 
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>				
				<xs:element name="PAYMENT_INFORMATION" type="ven:paymentDetails" minOccurs="0"/>
				<xs:element name="PICKUP_BRANCH"> 
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="paymentDetails">
		<xs:sequence>
			<xs:element name="PAYMENT_METHOD">
				<xs:simpleType>
		       		<xs:restriction base="xs:string">
		       			<xs:minLength value="1"/>
		       		</xs:restriction>
	        	</xs:simpleType>
			</xs:element>
			<xs:element name="PAYMENT_CURRENCY">
				<xs:simpleType>
		       		<xs:restriction base="xs:string">
		       			<xs:minLength value="1"/>
		       		</xs:restriction>
	        	</xs:simpleType>
			</xs:element>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="BANK_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="ventaInventarioResponse" type="ven:ventaInventarioResponseType" />	
	
	<xs:complexType name="ventaInventarioResponseType">
		<xs:sequence>
			<xs:element name="STOCK_CODE" type="xs:string"/>
			<xs:element name="STOCK_SUBCODE" type="xs:string"/>
			<xs:element name="DESCRIPTION" type="xs:string"/>
			<xs:element name="UNIT_PRICE" type="xs:string"/>
			<xs:element name="QUANTITY" type="xs:string"/>
			<xs:element name="TOTAL_AMOUNT" type="xs:string"/>
			<xs:element name="PICKUP_BRANCH" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>	

</xs:schema>