Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/EmisionChequesGerencia/xsd/emisionChequesGerenciaTypes.xsd

<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ficohsa.com.hn/middleware.services/emisionChequesGerenciaTypes"
			xmlns:cons="http://www.ficohsa.com.hn/middleware.services/emisionChequesGerenciaTypes">
	
	<xs:element name="emisionChequesGerencia">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
				<xs:element name="BENEFICIARY_NAME" type="xs:string"/>
				<xs:element name="AMOUNT" type="xs:string"/>
				<xs:element name="DESCRIPTION" type="xs:string" />       
				<xs:element name="WITHDRAWAL_BRANCH_ID" type="xs:string"/>
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string"/>
				<xs:element name="CHEQUE_CURRENCY" type="xs:string"/>
				<xs:element name="AUTHORIZER_CLAIMER" type="xs:string" minOccurs="0"/>
				<xs:element name="AUTHORIZER_CLAIMER_ID" type="xs:string" minOccurs="0"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="emisionChequesGerenciaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="CHEQUE_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>