Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/dataCapture/AutorizacionDataCapture/autorizacionDataCaptureTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/autorizacionDataCaptureTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/autorizacionDataCaptureTypes">
	
	<xs:complexType name="autorizacionDataCaptureResponseType">
		<xs:sequence>
			<xs:element name="TRANSACTION_DATE"/>
		</xs:sequence> 
	</xs:complexType>
	
		<xs:element name="autorizacionDataCapture">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="DATA_CAPTURE_ID" type="xs:string"/>         
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="autorizacionDataCaptureResponse" type="cons:autorizacionDataCaptureResponseType"/>
	
</xs:schema>