Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/OperacionesTSP/xsd/operacionesTSPTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesTSPTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesTSPTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: consultaMultipleMontoTSP -->
    <!--############################################-->
    <xs:element name="consultaMultipleMontoTSP">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TRANSACTIONS" type="tns:transactionsTypes" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="consultaMultipleMontoTSPResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TRANSACTIONS" type="tns:transactionsResponseTypes" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="transactionsTypes">
		 <xs:sequence>
	        <xs:element name="TRANSACTION" type="tns:transactionTypes" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="transactionTypes">
		<xs:sequence>
			<xs:element name="TYPE_CODE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="REFERENCE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AMOUNT" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DATE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DESTINATION_CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DESTINATION_ACCOUNT_NUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DESTINATION_CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AGREEMENT_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="transactionsResponseTypes">
		<xs:sequence>
	        <xs:element name="TRANSACTION" type="tns:transactionResponseTypes" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="transactionResponseTypes">
		<xs:sequence>
			<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTION_REFERENCE" type="xs:string" minOccurs="0"/>
			<xs:element name="RATABLE_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="NON_RATABLE_REASON" type="xs:string" minOccurs="0"/>
			<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="RATE_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>