Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaTiposConceptos/xsd/ConsultaTiposConceptosTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/tributosTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/tributosTypes">


	<xs:element name="consultaTiposConceptosRequest">

		<xs:complexType>
			<xs:sequence>
				<xs:element name="TAX_ID" type="xs:string" />
				<xs:element name="CONCEPT_ID" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaTiposConceptosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CONCEPTS" type="tns:conceptsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="conceptsType">
		<xs:sequence>
			<xs:element name="CONCEPT" type="tns:conceptType" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="conceptType">
		<xs:sequence>
			<xs:element name="ID" type="xs:decimal" maxOccurs="unbounded" />
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>