Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaDetalleMoraPrestamo/wsdl/consultaDetalleMoraPrestamoPS.wsdl

<wsdl:definitions name="consultaDetalleMoraPrestamoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDetalleMoraPrestamoPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaDetalleMoraPrestamoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:alt="http://www.ficohsa.com.hn/middleware.services/ConsultasCarteraCrediticia" xmlns:tns="http://www.bea.com/wli/sb/stages/transform/config">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/ConsultasCarteraCrediticia" schemaLocation="../../ConsultasCarteraCrediticia/xsd/consultasCarteraCrediticiaTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestHeader">
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="responseHeader">
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
     
    <wsdl:message name="consultaDetalleMoraPrestamoRequest">
        <wsdl:part element="alt:consultaDetalleMoraPrestamoRequest" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="consultaDetalleMoraPrestamoResponse">
        <wsdl:part element="alt:consultaDetalleMoraPrestamoResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:portType name="consultaDetalleMoraPrestamoPS">
        <wsdl:operation name="consultaDetalleMoraPrestamo" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaDetalleMoraPrestamoRequest"/>
            <wsdl:output message="fic:consultaDetalleMoraPrestamoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="consultaDetalleMoraPrestamoPSSOAP" type="fic:consultaDetalleMoraPrestamoPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultaDetalleMoraPrestamo">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaDetalleMoraPrestamoPS/consultaDetalleMoraPrestamo"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="consultaDetalleMoraPrestamoPS">
        <wsdl:port binding="fic:consultaDetalleMoraPrestamoPSSOAP" name="consultaDetalleMoraPrestamoPSSOAP">
           <soap:address location="https://172.23.13.19:8004/Middleware/CarteraCrediticia/ConsultaDetalleMoraPrestamo"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>