Fuentes/ficohsacore-gtcard-16dd1ac59182/SBGT_Card/SBGT_Card_RollbackPurchase/Schemas/RollbackPurchaseTypes.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/card"
            xmlns:com="https://www.ficohsa.com/regional/common/commonTypes"
            targetNamespace="https://www.ficohsa.com/regional/card">
<xsd:import schemaLocation="../../SBGT_Card_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
 <xsd:element name="getStatusTicket">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="Ticket" type="xsd:string"/>
        <xsd:element name="TransactionType" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="getStatusTicketResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
        <xsd:element name="Status" type="xsd:string"/>
        <xsd:element name="OriginalAgency" type="xsd:decimal"/>
        <xsd:element name="MerchantNumber" type="xsd:string"/>
        <xsd:element name="CreditCard" type="xsd:string"/>
        <xsd:element name="OperationType" type="xsd:string"/>
        <xsd:element name="BalanceCurrency" type="xsd:decimal"/>
        <xsd:element name="Organizations" type="xsd:decimal"/>
        <xsd:element name="TransactionCurrency" type="xsd:string"/>
        <xsd:element name="ExchangeRate" type="xsd:decimal"/>
        <xsd:element name="TransactionType" type="xsd:decimal"/>
        <xsd:element name="User" type="xsd:string"/>
        <xsd:element name="MovementSequence" type="xsd:string"/>
        <xsd:element name="OriginalSequence" type="xsd:string"/>
        <xsd:element name="PaymentAmount" type="xsd:decimal"/>
        <xsd:element name="CheckValue" type="xsd:decimal"/>
        <xsd:element name="DocumentNumber" type="xsd:decimal"/>
        <xsd:element name="CardExpirationDate" type="xsd:string"/>
        <xsd:element name="CheckType" type="xsd:decimal"/>
        <xsd:element name="OriginalBank" type="xsd:string"/>
        <xsd:element name="DestinationBank" type="xsd:string"/>
        <xsd:element name="Description" type="xsd:string"/>
        <xsd:element name="Channel" type="xsd:string"/>
        <xsd:element name="AutorizationNumber" type="xsd:string"/>
        <xsd:element name="Applied" type="xsd:string"/>
        <xsd:element name="AppliedOnLine" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
