Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/MTR/cargadorArchivoLote/wsdl/cargadorArchivoLoteEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicio.cargararchivolotews.mtrpmsv.cidenet.com.co/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CargadorArchivoLoteService" targetNamespace="http://servicio.cargararchivolotews.mtrpmsv.cidenet.com.co/">
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://servicio.cargararchivolotews.mtrpmsv.cidenet.com.co/" targetNamespace="http://servicio.cargararchivolotews.mtrpmsv.cidenet.com.co/">
  <xsd:complexType name="cabeceraRespuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleRespuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cantidadTransacciones" type="xsd:int"/>
      <xsd:element minOccurs="0" name="estado" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fecha" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="idCliente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idLote" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="monto" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="transacciones" type="ns0:transacciones"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="mensajes">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="mensaje" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaCargaArchivoLote">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cabeceraRespuesta" type="ns0:cabeceraRespuesta"/>
      <xsd:element minOccurs="0" name="detalleRespuesta" type="ns0:detalleRespuesta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="solicitudCargaArchivoLote">
    <xsd:sequence>
      <xsd:element name="idBancoOrigen" type="xsd:string"/>
      <xsd:element name="idCliente" type="xsd:string"/>
      <xsd:element name="idUsuario" type="xsd:string"/>
      <xsd:element name="idTipoOperacion" type="xsd:int"/>
      <xsd:element name="cifrado" type="xsd:string"/>
      <xsd:element name="contenidoArchivo" type="xsd:string"/>
      <xsd:element name="nombreArchivo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fechaAplicacion" type="xsd:dateTime"/>
      <xsd:element name="usuarioCanal" type="xsd:string"/>
     <xsd:element minOccurs="0" name="concepto" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transaccion">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:int"/>
      <xsd:element minOccurs="0" name="mensajes" type="ns0:mensajes"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transacciones">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="transaccion" nillable="true" type="ns0:transaccion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="campos">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="campo" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleRespuestaHostToHost">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idCliente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idGlobal" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lotes" type="ns0:lotesRespuestaHostToHost"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="estructuraDatos">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="campos" type="ns0:campos"/>
      <xsd:element minOccurs="0" name="separador" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validaciones" type="ns0:validaciones"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="loteHostToHost">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="conceptolote" type="xsd:string"/>
      <xsd:element minOccurs="0" name="estructuraDatos" type="ns0:estructuraDatos"/>
      <xsd:element minOccurs="0" name="fechaEsperadaAplicacion" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="idLoteCliente" type="xsd:integer"/>
      <xsd:element name="idTipoOperacion" type="xsd:int"/>
      <xsd:element minOccurs="0" name="transacciones" type="ns0:transaccionesHostToHost"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="loteRespuestaHostToHost">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigoError" type="xsd:string"/>
      <xsd:element minOccurs="0" name="estado" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idLote" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="idLoteCliente" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="mensajeError" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lotesHostToHost">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="lote" nillable="true" type="ns0:loteHostToHost"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lotesRespuestaHostToHost">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="lote" nillable="true" type="ns0:loteRespuestaHostToHost"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaHostToHost">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cabeceraRespuesta" type="ns0:cabeceraRespuesta"/>
      <xsd:element minOccurs="0" name="detalleRespuesta" type="ns0:detalleRespuestaHostToHost"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="solicitudHostToHost">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idBancoOrigen" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idCliente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idGlobal" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idUsuario" type="xsd:string"/>
      <xsd:element minOccurs="0" name="usuarioCanal" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lotes" type="ns0:lotesHostToHost"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transaccionesHostToHost">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="transaccion" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validaciones">
    <xsd:sequence>
      <xsd:element name="cantidadTransacciones" type="xsd:int"/>
      <xsd:element minOccurs="0" name="estadoCuentaDebito" type="xsd:string"/>
      <xsd:element minOccurs="0" name="montoTotal" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="saldoCuentaDebito" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cargarArchivoLote">
    <xsd:sequence>
      <xsd:element name="solicitudCargaArchivoLote" type="ns0:solicitudCargaArchivoLote"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cargarArchivoLoteResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="respuestaCargaArchivoLote" type="ns0:respuestaCargaArchivoLote"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cargarLotes">
    <xsd:sequence>
      <xsd:element name="solicitudHostToHost" type="ns0:solicitudHostToHost"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cargarLotesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="respuestaHostToHost" type="ns0:respuestaHostToHost"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="cargarArchivoLote" type="ns0:cargarArchivoLote"/>
  <xsd:element name="cargarArchivoLoteResponse" type="ns0:cargarArchivoLoteResponse"/>
  <xsd:element name="cargarLotes" type="ns0:cargarLotes"/>
  <xsd:element name="cargarLotesResponse" type="ns0:cargarLotesResponse"/>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="cargarArchivoLote">
        <wsdl:part element="tns:cargarArchivoLote" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cargarArchivoLoteResponse">
        <wsdl:part element="tns:cargarArchivoLoteResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cargarLotes">
        <wsdl:part element="tns:cargarLotes" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cargarLotesResponse">
        <wsdl:part element="tns:cargarLotesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="CargadorArchivoLote">
        <wsdl:operation name="cargarArchivoLote">
            <wsdl:input message="tns:cargarArchivoLote" name="cargarArchivoLote"/>
            <wsdl:output message="tns:cargarArchivoLoteResponse" name="cargarArchivoLoteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cargarLotes">
            <wsdl:input message="tns:cargarLotes" name="cargarLotes"/>
            <wsdl:output message="tns:cargarLotesResponse" name="cargarLotesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CargadorArchivoLoteServiceSoapBinding" type="tns:CargadorArchivoLote">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="cargarArchivoLote">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="cargarArchivoLote">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="cargarArchivoLoteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cargarLotes">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="cargarLotes">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="cargarLotesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CargadorArchivoLoteService">
        <wsdl:port binding="tns:CargadorArchivoLoteServiceSoapBinding" name="CargadorArchivoLotePort">
            <soap:address location="http://172.23.12.126:7003/CargarArchivoLotePmsWS/services/cargadorArchivoLoteEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>