Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/CalculaAmortizacionPrestamo/xsd/calculaAmortizacionPrestamoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/calculaAmortizacionPrestamoTypes" 
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/calculaAmortizacionPrestamoTypes">
	
	<xs:simpleType name="formattedDateType">
		<xs:restriction base="xs:string">
		    <xs:pattern value="\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="amortization">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TYPE-1"/>
			<xs:enumeration value="TYPE-2"/>
			<xs:enumeration value="TYPE-3"/>
			<xs:enumeration value="TYPE-4"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxdLength10">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringMaxdLength15">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringMaxdLength30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
    
    <!-- INSURANCE INFO-->
	<xs:complexType name="insuranceInfo">
		<xs:sequence>
			<xs:element name="LIFE_DEBT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="UNEMPLOYMENT" type="tns:unemploymentInsurance" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- INSURANCE INFO VALUES -->
	<xs:complexType name="insuranceInfoValues">
		<xs:sequence>
			<xs:element name="LIFE_DEBT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="UNEMPLOYMENT" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- DISBURSEMENT TYPE -->
	<xs:complexType name="disbursementInfo">
		<xs:sequence>
			<xs:element name="DATE" type="tns:formattedDateType"/>
			<xs:element name="RATE" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- CLEARING TYPE -->	
	<xs:simpleType name="clearingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="COMMERCIAL"/>
			<xs:enumeration value="CALENDAR"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- CURRENCY -->
	<xs:simpleType name="currency">
		<xs:restriction base="xs:string">
			<xs:enumeration value="USD"/>
			<xs:enumeration value="HNL"/>
			<xs:enumeration value="EUR"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- UNENMPLOYMENT INSURANCE -->
	<xs:simpleType name="unemploymentInsurance">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YES"/>
			<xs:enumeration value="NO"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--DISBURSEMENT TYPE -->
	 <xs:complexType name="disbursementInfoType">
		<xs:sequence>
			<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="FEE" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--PAYMENT PLAN ITEM TYPE -->
	<xs:complexType name="paymentPlan">
		<xs:sequence>
			<xs:element name="PAYMENT" type="tns:paymentList" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- GENERAL TYPE -->
    <xs:complexType name="generalInfo">
		<xs:sequence>
			<xs:element name="TOTAL_CAPITAL" type="xs:decimal" minOccurs="0"/>
			<xs:element name="TOTAL_INTERESTS" type="xs:decimal" minOccurs="0"/>
			<xs:element name="TOTAL_INSURANCE_INFO" type="tns:insuranceInfoValues" minOccurs="0"/>
			<xs:element name="TOTAL_PAYMENT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="TOTAL_ANNUAL_COST" type="xs:decimal" minOccurs="0"/>
			<xs:element name="INTERNAL_RATE_RETURN" type="xs:decimal" minOccurs="0"/>
			<xs:element name="FORMALIZATION_EXPENSE" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--PAYMENT LIST ITEM TYPE -->
	<xs:complexType name="paymentList">
		<xs:sequence>
			<xs:element name="ORDER" type="xs:decimal" minOccurs="0"/>
			<xs:element name="DATE" type="tns:formattedDateType" minOccurs="0"/>
			<xs:element name="DAYS_IN_PERIOD" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CAPITAL" type="xs:decimal" minOccurs="0"/>
			<xs:element name="INTERESTS" type="xs:decimal" minOccurs="0"/>
			<xs:element name="INSURANCE_INFO" type="tns:insuranceInfoValues" minOccurs="0"/>
			<xs:element name="TOTAL" type="xs:decimal" minOccurs="0"/>
			<xs:element name="PRINCIPAL_BALANCE" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="calculaAmortizacionPrestamoRequest">		
        <xs:complexType>
			<xs:sequence>
				<xs:element name="AMOUNT" type="xs:decimal"/>
				<xs:element name="CURRENCY" type="tns:currency"/>
				<xs:element name="ANNUAL_RATE" type="xs:decimal"/>
				<xs:element name="AMORTIZATION_TYPE" type="tns:amortization"/>
				<xs:element name="TERM" type="xs:decimal"/>
				<xs:element name="CLEARING_TYPE" type="tns:clearingType"/>
				<xs:element name="FORMALIZATION_EXPENSE" type="xs:decimal" minOccurs="0"/>
				<xs:element name="FIRST_PAYMENT_DATE" type="tns:formattedDateType"/>
				<xs:element name="INSURANCE_INFO" type="tns:insuranceInfo" minOccurs="0"/>
				<xs:element name="DISBURSEMENT_INFO" type="tns:disbursementInfo"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
	
	<xs:element name="calculaAmortizacionPrestamoResponse">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="GENERAL_INFO" type="tns:generalInfo" minOccurs="0"/>
				<xs:element name="DISBURSEMENT_INFO" type="tns:disbursementInfoType" minOccurs="0"/>
				<xs:element name="PRIME_INSURANCE_INFO" type="tns:insuranceInfoValues" minOccurs="0"/>
				<xs:element name="PAYMENT_PLAN" type="tns:paymentPlan" minOccurs="0"/>	
			</xs:sequence>
		</xs:complexType>
    </xs:element>
	
</xs:schema>