Fuentes/ficohsacore-osb-7e5cceccb837/MWHostToHost/v1/Resources/ConsultaBancoInternacionalH2H/xsd/consultaBancoInternacionalH2HTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/consultaBancoInternacionalH2HTypes"
	xmlns:tns="http://www.example.org/consultaBancoInternacionalH2HTypes">

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="bancoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ABA" />
			<xs:enumeration value="SWIFT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="consultaBancoInternacionalH2HRequest">

		<xs:complexType>
			<xs:sequence>
				<xs:element name="BANK_CODE_TYPE" type="tns:bancoType" />
				<xs:element name="BANK_CODE" type="tns:stringMinLength1" />
				<xs:element name="CUSTOMER_ID" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaBancoInternacionalH2HResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BANK_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="BANK_CODE_TYPE" type="xs:string" minOccurs="0" />
				<xs:element name="BANK_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="COUNTRY_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="OFFICE" type="xs:string" minOccurs="0" />
				<xs:element name="STATE" type="xs:string" minOccurs="0" />
				<xs:element name="CITY" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>