Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ReprocesoACHRecibidasCR/xsd/reprocesoACHRecibidasCRTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/reprocesoACHRecibidasCRTypes"
	xmlns:rep="http://www.ficohsa.com.hn/middleware.services/reprocesoACHRecibidasCRTypes">
	
	<!-- OPERACION REPROCESO ACH RECIBIDAS CR -->
	<xs:element name="reprocesoACHRecibidasCR">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REPROCESSING_STAGE" type="xs:integer"/>
				<xs:element name="ACH_SEQUENCE" type="xs:integer"/>
				<xs:element name="PXP_ID_TXN_REF" type="xs:string"/>
				<xs:element name="PXP_BATCH_REF" type="xs:string"/>
				<xs:element name="TRANSIT_ROUTE" type="xs:string" minOccurs="0"/>
				<xs:element name="TRANSACTION_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="BEN_ACCOUNT" type="xs:string" minOccurs="0"/>									
				<xs:element name="BEN_IDENTIFICATION" type="xs:string" minOccurs="0"/>									
				<xs:element name="BEN_NAME" type="xs:string" minOccurs="0"/>									
				<xs:element name="BEN_CURRENCY" type="xs:string" minOccurs="0"/>									
				<xs:element name="BEN_AMOUNT" type="xs:decimal" minOccurs="0"/>									
				<xs:element name="ORD_ACCOUNT" type="xs:string" minOccurs="0"/>									
				<xs:element name="ORD_NAME" type="xs:string" minOccurs="0"/>									
				<xs:element name="TXN_DETAIL" type="xs:string" minOccurs="0"/>																		
				<xs:element name="T24_CUSTOMER_ID" type="xs:string" minOccurs="0"/>							
				<xs:element name="T24_CONTROL_REF" type="xs:string" minOccurs="0"/>									
				<xs:element name="T24_TRANSACTION_REF" type="xs:string" minOccurs="0"/>
				<xs:element name="T24_DATE_TIME" type="xs:dateTime" minOccurs="0"/>									
				<xs:element name="STATUS" type="xs:string" minOccurs="0"/>									
				<xs:element name="ERROR_CODE" type="xs:string" minOccurs="0"/>									
				<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>									
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="reprocesoACHRecibidasCRResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACH_SEQUENCE" type="xs:integer" minOccurs="0"/>
				<xs:element name="T24_CUSTOMER_ID" type="xs:string" minOccurs="0"/>							
				<xs:element name="T24_CONTROL_REF" type="xs:string" minOccurs="0"/>			
				<xs:element name="T24_TRANSACTION_REF" type="xs:string" minOccurs="0"/>
				<xs:element name="PXP_ID_TXN_REF" type="xs:string" minOccurs="0"/>
				<xs:element name="PXP_BATCH_REF" type="xs:string" minOccurs="0"/>									
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		
</xs:schema>