Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/consultaGeneralPrestamo/Resources/PrestamosT24.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="consultaPrestamoT24/XMLSchema_742049523.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="consultaPrestamoT24/XMLSchema_448646516.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="ConsultadepagodeprestamoAA">
<part name="parameters" element="tns:ConsultadepagodeprestamoAA"/>
</message>
<message name="ConsultadepagodeprestamoAAResponse">
<part name="parameters" element="tns:ConsultadepagodeprestamoAAResponse"/>
</message>
<message name="Consultaaplicacionpagoptmo">
<part name="parameters" element="tns:Consultaaplicacionpagoptmo"/>
</message>
<message name="ConsultaaplicacionpagoptmoResponse">
<part name="parameters" element="tns:ConsultaaplicacionpagoptmoResponse"/>
</message>
<message name="ConsultabackofficepagoptmoAA">
<part name="parameters" element="tns:ConsultabackofficepagoptmoAA"/>
</message>
<message name="ConsultabackofficepagoptmoAAResponse">
<part name="parameters" element="tns:ConsultabackofficepagoptmoAAResponse"/>
</message>
<message name="Consultadeprestamosporcliente">
<part name="parameters" element="tns:Consultadeprestamosporcliente"/>
</message>
<message name="ConsultadeprestamosporclienteResponse">
<part name="parameters" element="tns:ConsultadeprestamosporclienteResponse"/>
</message>
<message name="PagoaprestamoAAFT">
<part name="parameters" element="tns:PagoaprestamoAAFT"/>
</message>
<message name="PagoaprestamoAAFTResponse">
<part name="parameters" element="tns:PagoaprestamoAAFTResponse"/>
</message>
<message name="PagoaprestamoAAFT_Validate">
<part name="parameters" element="tns:PagoaprestamoAAFT_Validate"/>
</message>
<message name="PagoaprestamoAAFT_ValidateResponse">
<part name="parameters" element="tns:PagoaprestamoAAFT_ValidateResponse"/>
</message>
<message name="Consultadesaldodeprestamo">
<part name="parameters" element="tns:Consultadesaldodeprestamo"/>
</message>
<message name="ConsultadesaldodeprestamoResponse">
<part name="parameters" element="tns:ConsultadesaldodeprestamoResponse"/>
</message>
<message name="PagoaprestamoAA">
<part name="parameters" element="tns:PagoaprestamoAA"/>
</message>
<message name="PagoaprestamoAAResponse">
<part name="parameters" element="tns:PagoaprestamoAAResponse"/>
</message>
<message name="PagoaprestamoAA_Validate">
<part name="parameters" element="tns:PagoaprestamoAA_Validate"/>
</message>
<message name="PagoaprestamoAA_ValidateResponse">
<part name="parameters" element="tns:PagoaprestamoAA_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="ConsultadepagodeprestamoAA">
<input message="tns:ConsultadepagodeprestamoAA"/>
<output message="tns:ConsultadepagodeprestamoAAResponse"/>
</operation>
<operation name="Consultaaplicacionpagoptmo">
<input message="tns:Consultaaplicacionpagoptmo"/>
<output message="tns:ConsultaaplicacionpagoptmoResponse"/>
</operation>
<operation name="ConsultabackofficepagoptmoAA">
<input message="tns:ConsultabackofficepagoptmoAA"/>
<output message="tns:ConsultabackofficepagoptmoAAResponse"/>
</operation>
<operation name="Consultadeprestamosporcliente">
<input message="tns:Consultadeprestamosporcliente"/>
<output message="tns:ConsultadeprestamosporclienteResponse"/>
</operation>
<operation name="PagoaprestamoAAFT">
<input message="tns:PagoaprestamoAAFT"/>
<output message="tns:PagoaprestamoAAFTResponse"/>
</operation>
<operation name="PagoaprestamoAAFT_Validate">
<input message="tns:PagoaprestamoAAFT_Validate"/>
<output message="tns:PagoaprestamoAAFT_ValidateResponse"/>
</operation>
<operation name="Consultadesaldodeprestamo">
<input message="tns:Consultadesaldodeprestamo"/>
<output message="tns:ConsultadesaldodeprestamoResponse"/>
</operation>
<operation name="PagoaprestamoAA">
<input message="tns:PagoaprestamoAA"/>
<output message="tns:PagoaprestamoAAResponse"/>
</operation>
<operation name="PagoaprestamoAA_Validate">
<input message="tns:PagoaprestamoAA_Validate"/>
<output message="tns:PagoaprestamoAA_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultadepagodeprestamoAA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultaaplicacionpagoptmo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultabackofficepagoptmoAA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadeprestamosporcliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoaprestamoAAFT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoaprestamoAAFT_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadesaldodeprestamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoaprestamoAA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoaprestamoAA_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwomnidesa:7003/svcPrestamos/services"/>
</port>
</service>
</definitions>