Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/FPC/consultaInformacionLaboral/xsd/consultaInformacionLaboralFPC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaInformacionLaboralFPC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaInformacionLaboralFPC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PC_COD_CTA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_INICIO" type="dateTime" db:index="2" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_FIN" type="dateTime" db:index="3" db:type="DATE" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_HIST_LABORAL" type="db:FO.FO_WEB_SERVICE_TAX111960X4X4" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_ERROR" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PC_MENSAJE_ERROR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="FO.FO_WEB_SERVICE_TYX111960X4X5">
      <sequence>
         <element name="COD_CUENTA_FO" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ESTADO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FEC_SALIDA" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="NUM_PERIODO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="COD_PATRONO" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOM_PATRONO" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RTN_PATRONO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIP_INGRESO" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTO_PAGADO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SALARIO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OCUPACION" type="db:string300" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PUESTO" type="db:string300" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FO.FO_WEB_SERVICE_TAX111960X4X4">
      <sequence>
         <element name="PT_HIST_LABORAL_ITEM" type="db:FO.FO_WEB_SERVICE_TYX111960X4X5" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string300">
      <restriction base="string">
         <maxLength value="300"/>
      </restriction>
   </simpleType>
</schema>