Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/svcTransferenciasTD/wsdl/svcTransferenciasTD.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_86089597.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_-207313410.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="TransferenciaCuentaTarjetaDebito">
<part name="parameters" element="tns:TransferenciaCuentaTarjetaDebito"/>
</message>
<message name="TransferenciaCuentaTarjetaDebitoResponse">
<part name="parameters" element="tns:TransferenciaCuentaTarjetaDebitoResponse"/>
</message>
<message name="TransferenciaCuentaTarjetaDebito_Validate">
<part name="parameters" element="tns:TransferenciaCuentaTarjetaDebito_Validate"/>
</message>
<message name="TransferenciaCuentaTarjetaDebito_ValidateResponse">
<part name="parameters" element="tns:TransferenciaCuentaTarjetaDebito_ValidateResponse"/>
</message>
<message name="ReversionTransferenciaCuentaTD">
<part name="parameters" element="tns:ReversionTransferenciaCuentaTD"/>
</message>
<message name="ReversionTransferenciaCuentaTDResponse">
<part name="parameters" element="tns:ReversionTransferenciaCuentaTDResponse"/>
</message>
<message name="ReversionTransferenciaCuentaTD_Validate">
<part name="parameters" element="tns:ReversionTransferenciaCuentaTD_Validate"/>
</message>
<message name="ReversionTransferenciaCuentaTD_ValidateResponse">
<part name="parameters" element="tns:ReversionTransferenciaCuentaTD_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="TransferenciaCuentaTarjetaDebito">
<input message="tns:TransferenciaCuentaTarjetaDebito"/>
<output message="tns:TransferenciaCuentaTarjetaDebitoResponse"/>
</operation>
<operation name="TransferenciaCuentaTarjetaDebito_Validate">
<input message="tns:TransferenciaCuentaTarjetaDebito_Validate"/>
<output message="tns:TransferenciaCuentaTarjetaDebito_ValidateResponse"/>
</operation>
<operation name="ReversionTransferenciaCuentaTD">
<input message="tns:ReversionTransferenciaCuentaTD"/>
<output message="tns:ReversionTransferenciaCuentaTDResponse"/>
</operation>
<operation name="ReversionTransferenciaCuentaTD_Validate">
<input message="tns:ReversionTransferenciaCuentaTD_Validate"/>
<output message="tns:ReversionTransferenciaCuentaTD_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TransferenciaCuentaTarjetaDebito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TransferenciaCuentaTarjetaDebito_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionTransferenciaCuentaTD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionTransferenciaCuentaTD_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcTransferenciasTD/services"/>
</port>
</service>
</definitions>