Fuentes/ficohsacore-hncard-488b7ad93302/SBHN_Card/SBHN_Card_PurchaseCreditCard/Schemas/PurchaseCreditCardTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/card" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/card" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBHN_Card_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  
  <xsd:element name="purchaseCreditCard">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
            <xsd:element name="Ticket" type="xsd:string"/>
            <xsd:element name="MerchantNumber" type="xsd:string"/>
            <xsd:element name="CreditCard" type="xsd:string"/>
            <xsd:element name="OperationType" type="xsd:string"/>
            <xsd:element name="BalanceCurrency" type="xsd:decimal"/>
            <xsd:element name="Organizations" type="xsd:decimal"/>
            <xsd:element name="TransactionCurrency" type="xsd:string"/>
            <xsd:element name="ExchangeRate" type="xsd:decimal"/>
            <xsd:element name="TransactionType" type="xsd:decimal"/>
            <xsd:element name="UserCode" type="xsd:string"/>
            <xsd:element name="MovementSequence" type="xsd:string"/>
            <xsd:element name="OriginSequence" type="xsd:string"/>
            <xsd:element name="PaymentAmount" type="xsd:decimal"/>
            <xsd:element name="DocumentNumber" type="xsd:decimal"/>
            <xsd:element name="CardExpirationDate" type="xsd:string"/>
            <xsd:element name="Description" type="xsd:string"/>
            <xsd:element name="ChannelCode" type="xsd:string"/>
            <xsd:element name="AuthorizationNumber" type="xsd:string"/>
            <xsd:element name="Applied" type="xsd:string"/>
            <xsd:element name="AppliedOnLine" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   
   <xsd:element name="purchaseCreditCardResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>