Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/DEI/adhesionContrato/xsd/adhesionContrato_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/adhesionContrato"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/adhesionContrato"
	elementFormDefault="qualified">
	<element name="InputParameters">
		<complexType>
			<sequence>
				<element name="PN_TIPOCONTRIB" type="decimal" db:index="1"
					db:type="NUMBER" minOccurs="0" nillable="true" />
				<element name="PT_AUDITORIAINFO" type="db:T_AUDITORIA"
					db:index="2" db:type="Struct" minOccurs="0" nillable="true" />
				<element name="PV_EMAIL" type="string" db:index="3" db:type="VARCHAR2"
					minOccurs="0" nillable="true" />
				<element name="PD_FECHACONST" type="dateTime" db:index="4"
					db:type="DATE" minOccurs="0" nillable="true" />
				<element name="PV_RAZONSOCIAL" type="string" db:index="5"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_IDREPLEGAL" type="string" db:index="6"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_NOMBREREPLEGAL" type="string" db:index="7"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_NUMEROESCRITURA" type="string" db:index="8"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PD_FECHAESCRITURA" type="dateTime" db:index="9"
					db:type="DATE" minOccurs="0" nillable="true" />
				<element name="PV_DJULTIMONUMERO" type="string" db:index="10"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PD_DJULTIMAFECHA" type="dateTime" db:index="11"
					db:type="DATE" minOccurs="0" nillable="true" />
				<element name="PD_FECHANACIMIENTO" type="dateTime" db:index="12"
					db:type="DATE" minOccurs="0" nillable="true" />
				<element name="PV_PRIMERNOMBRE" type="string" db:index="13"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_SEGUNDONOMBRE" type="string" db:index="14"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_PRIMERAPELLIDO" type="string" db:index="15"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_SEGUNDOAPELLIDO" type="string" db:index="16"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
			</sequence>
		</complexType>
	</element>
	<element name="OutputParameters">
		<complexType>
			<sequence>
				<element name="PT_AUDITORIAINFO" type="db:T_AUDITORIA"
					db:index="2" db:type="Struct" minOccurs="0" nillable="true" />
				<element name="PV_EMAIL" type="string" db:index="3" db:type="VARCHAR2"
					minOccurs="0" nillable="true" />
				<element name="PV_RAZONSOCIAL" type="string" db:index="5"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_IDREPLEGAL" type="string" db:index="6"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_NOMBREREPLEGAL" type="string" db:index="7"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_NUMEROESCRITURA" type="string" db:index="8"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PD_FECHAESCRITURA" type="dateTime" db:index="9"
					db:type="DATE" minOccurs="0" nillable="true" />
				<element name="PV_IDPROCESO" type="string" db:index="17"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_DESCRIPCIONMENSAJE" type="string"
					db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true" />
				<element name="PV_CODIGOMENSAJE" type="string" db:index="19"
					db:type="VARCHAR2" minOccurs="0" nillable="true" />
			</sequence>
		</complexType>
	</element>
	<complexType name="T_AUDITORIA">
		<sequence>
			<element name="RTN" type="db:string20" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="USUARIO_SERVICIO" type="db:string30" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="NOMBRE_ARCHIVO" type="db:string256" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="ID_ARCHIVO" type="db:string32" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="PROCESO" type="db:string200" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="PROCESO_ORIGEN_ERROR" type="db:string200"
				db:type="VARCHAR2" minOccurs="0" nillable="true" />
			<element name="CODIGO_ERROR" type="db:string30" db:type="VARCHAR2"
				minOccurs="0" nillable="true" />
			<element name="DESCRIPCION_ERROR" type="db:string4000"
				db:type="VARCHAR2" minOccurs="0" nillable="true" />
		</sequence>
	</complexType>
	<simpleType name="string20">
		<restriction base="string">
			<maxLength value="20" />
		</restriction>
	</simpleType>
	<simpleType name="string30">
		<restriction base="string">
			<maxLength value="30" />
		</restriction>
	</simpleType>
	<simpleType name="string256">
		<restriction base="string">
			<maxLength value="256" />
		</restriction>
	</simpleType>
	<simpleType name="string32">
		<restriction base="string">
			<maxLength value="32" />
		</restriction>
	</simpleType>
	<simpleType name="string200">
		<restriction base="string">
			<maxLength value="200" />
		</restriction>
	</simpleType>
	<simpleType name="string4000">
		<restriction base="string">
			<maxLength value="4000" />
		</restriction>
	</simpleType>
</schema>