Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/ficocelAdmin/EnrolaClienteFicoAlertas/enrolaClienteFicoAlertasTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/enrolaClienteFicoAlertasTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/enrolaClienteFicoAlertasTypes">
	
	
	<xs:element name="enrolaClienteFicoAlertas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string"/>
				<xs:element name="PHONE_ID" type="xs:string"/>
				<xs:element name="CARRIER" type="xs:string"/>
				<xs:element name="FORMAT" type="xs:string" minOccurs="0"/>
				<xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="enrolaClienteFicoAlertasResponse" />
	
</xs:schema>