Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RegistrarTransaccionTCFacade/xsd/XMLSchema_1969688481.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/RegistrarTransaccionTCTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/RegistrarTransaccionTCTypes" xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/kvpType">
	
	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/kvpType" schemaLocation="XMLSchema_-1485727345.xsd"/>
       
    <xs:simpleType name="stringMaxLength3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
    <xs:simpleType name="requestType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="A"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="numberOfInstallments">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	
    <xs:simpleType name="expirationDate">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0][1-9]|[1][0-2])[0-9]{2}|0000">
            </xs:pattern>
        </xs:restriction>
	</xs:simpleType>
       
	<xs:element name="RegistrarTransaccionTC">
		<xs:complexType>
			<xs:sequence>
          		<xs:element name="CREDITCARD_NUMBER" type="xs:string"/>
          		<xs:element name="TRANSACTION_CURRENCY" type="tns:stringMaxLength3"/>
          		<xs:element name="TRANSACTION_AMOUNT" type="xs:decimal"/>
          		<xs:element name="REQUEST_TYPE" type="tns:requestType"/>
          		<xs:element name="INSTALLMENTS" type="tns:numberOfInstallments" default="00"/>
          		<xs:element name="MERCHANT_NUMBER" type="xs:string"/>
          		<xs:element name="MCCType" type="xs:integer"/>
          		<xs:element name="REFERENCE_NUMBER" type="xs:integer" minOccurs="0"/>
          		<xs:element name="EXPIRATION_DATE" type="tns:expirationDate" minOccurs="0"/>
          		<xs:element name="ORG" type="xs:integer" minOccurs="0"/>
          		<xs:element name="REGIONAL_DETAILS" type="kvp:RegionalDetails" minOccurs="0" maxOccurs="1"/>      		
          	</xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="RegistrarTransaccionTCResponse">
		<xs:complexType>
			<xs:sequence>
          		<xs:element name="TRANSACTION_AUT" type="xs:string" minOccurs="0"/>
          		<xs:element name="DATETIME_AUT" type="xs:string" minOccurs="0"/>
          		<xs:element name="DATETIME_CORE" type="xs:string" minOccurs="0"/>
          		<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
          		<xs:element name="MESSAGES_CORE" type="xs:string" minOccurs="0"/>
          	</xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>