Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/GeneraMensajeSwift/xsd/generaMensajeSwiftTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/generaMensajeSwiftTypes"
	xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generaMensajeSwiftTypes">


	<xs:simpleType name="transferType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="LBTR"/>
    		<xs:enumeration value="SIP"/>
    	</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="messageType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="103"/>
    		<xs:enumeration value="202"/>
    	</xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="customerType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="J"/>
    		<xs:enumeration value="N"/>
    	</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="accountType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="AHO"/>
    		<xs:enumeration value="CHQ"/>
    	</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="beneficiaryAccountType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="AHO"/>
    		<xs:enumeration value="CHQ"/>
    		<xs:enumeration value="LIQ"/>
    	</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="operationType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="FINANCIAL"/>
    		<xs:enumeration value="INSTITUTIONAL"/>
    	</xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="transactionChargesType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="BEN"/>
    		<xs:enumeration value="OUR"/>
    		<xs:enumeration value="SHA"/>
    	</xs:restriction>
    </xs:simpleType>
    
	<xs:element name="generaMensajeSwiftRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSFER_TYPE" type="gen:transferType"/>
				<xs:element name="MESSAGE_TYPE" type="gen:messageType"/>
				<xs:element name="TRANSACTION_ID" type="xs:string"/>
				<xs:element name="TRANSACTION_AMOUT" type="xs:decimal"/>
				<xs:element name="TRANSACTION_CURRENCY" type="xs:string"/>
				<xs:element name="TRANSACTION_DATE" type="xs:string"/>
				<xs:element name="ORDERING_BANK_CODE" type="xs:string"/>
				<xs:element name="CUSTOMER_ID" type="xs:integer"/>
				<xs:element name="CUSTOMER_LEGAL_ID" type="xs:string"/>
				<xs:element name="CUSTOMER_NAME" type="xs:string"/>
				<xs:element name="CUSTOMER_TYPE" type="gen:customerType"/>
				<xs:element name="CUSTOMER_DATE_OF_BIRTH" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="CUSTOMER_ADDRESS" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="CUSTOMER_COUNTRY_CODE" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="CUSTOMER_COUNTRY_NAME" type="xs:string" minOccurs="0"
                maxOccurs="1"/>
                <xs:element name="CUSTOMER_COUNTRY_DESTINY" type="xs:string" minOccurs="0"
                maxOccurs="1"/>
				<xs:element name="CUSTOMER_CITY_NAME" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="ACCOUNT_TYPE" type="gen:accountType" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="BENEFICIARY_BANK_CODE" type="xs:string"/>
				<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="BENEFICIARY_LEGAL_ID" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="BENEFICIARY_ACCOUNT" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="BENEFICIARY_ACCOUNT_TYPE" type="gen:beneficiaryAccountType"/>
				<xs:element name="BENEFICIARY_ADDRESS" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="BENEFICIARY_INFO" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="OPERATION_TYPE" type="gen:operationType" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="TRANSACTION_CHARGES" type="gen:transactionChargesType" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="UNIQUE_REFERENCE" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="generaMensajeSwiftResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REFERENCE_SWIFT" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
				<xs:element name="UNIQUE_REFERENCE" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	

</xs:schema>