Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/PagoTarjetaCredito/xsd/XMLSchema_-745558770.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
	
	<xs:complexType name="AutenticacionRequestHeader">
		<xs:sequence>
			<xs:element name="UserName" type="xs:string"/>
			<xs:element name="Password" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ResponseHeader">
		<xs:sequence>
			<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
			<xs:element name="messageId" type="xs:string" minOccurs="0"/>
			<xs:element name="successIndicator" type="xs:string" minOccurs="0"/>
			<xs:element name="application" type="xs:string" minOccurs="0"/>
			<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="valueDate" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:element name="AutenticacionRequestHeader" nillable="true" type="auth:AutenticacionRequestHeader"/>
		<xs:element name="ResponseHeader" nillable="false" type="auth:ResponseHeader"/>
			
</xs:schema>