Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/VASA/obtenerUrlEstadosCuenta/xsd/ObtenerUrl_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ObtenerUrl" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ObtenerUrl" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_PRODUCT_TYPE" type="db:string32" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_PRODUCT_VALUE" type="db:string64" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="PERIODO" type="db:string6" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_NUMERO_CUENTA" type="db:string16" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_NUMERO_TARJETA" type="db:string16" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_MES" type="db:string2" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_ANIO" type="db:string4" db:index="7" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_URL" type="db:string4000" db:index="8" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO_MENSAJE" type="db:string16" db:index="9" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_DESC_MENSAJE" type="db:string4000" db:index="10" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="P_NUMERO_CUENTA" type="db:string16" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_NUMERO_TARJETA" type="db:string16" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_MES" type="db:string2" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_ANIO" type="db:string4" db:index="7" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_URL" type="db:string4000" db:index="8" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO_MENSAJE" type="db:string16" db:index="9" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_DESC_MENSAJE" type="db:string4000" db:index="10" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string64">
      <restriction base="string">
         <maxLength value="64"/>
      </restriction>
   </simpleType>
   <simpleType name="string6">
      <restriction base="string">
         <maxLength value="6"/>
      </restriction>
   </simpleType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string4000">
      <restriction base="string">
         <maxLength value="4000"/>
      </restriction>
   </simpleType>
</schema>