Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultaGeneralPrestamo/ConsultaGeneralPrestamo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaGeneralPrestamoTypes">
	
	<xs:complexType name="consultaGeneralPrestamoResponseType">
		<xs:sequence>
			<xs:element name="consultaGeneralPrestamoResponseType" type="cons:consultaGeneralPrestamoResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaGeneralPrestamoResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaGeneralPrestamoResponseRecordType" type="cons:consultaGeneralPrestamoResponseArrayType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaGeneralPrestamoResponseArrayType">
		<xs:sequence>
			<xs:element name="LOAN_CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="EFFECTIVE_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="MATURITY_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST_RATE" type="xs:string" minOccurs="0"/>
			<xs:element name="PRINCIPAL_INITIAL_AMT" type="xs:string" minOccurs="0"/>
			<xs:element name="PRINCIPAL_DUE_AMT" type="xs:string" minOccurs="0"/>
			<xs:element name="PRINCIPAL_OVERDUE_AMT" type="xs:string" minOccurs="0"/>
			<xs:element name="INTEREST_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="OVERDUE_INTEREST_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="COMISION_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="TOTAL_DEBT" type="xs:string" minOccurs="0"/>
			<xs:element name="NEXT_PAYMNT_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="NEXT_PAYMNT_MATURITY_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="OVERDUE_PAYMENTS" type="xs:string" minOccurs="0"/>
			<xs:element name="NEXT_PAYMNT_PRINCIPAL_AMT" type="xs:string" minOccurs="0"/>
			<xs:element name="NEXT_PAYMNT_INTEREST_AMT" type="xs:string" minOccurs="0"/>
			<xs:element name="NEXT_PAYMNT_INSURANCE_AMT" type="xs:string" minOccurs="0"/>
			<xs:element name="NEXT_PAYMNT_TOTAL_AMT" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="GENERAL_DETAILS" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaGeneralPrestamo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOAN_ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	
	<xs:element name="consultaGeneralPrestamoResponse" type="cons:consultaGeneralPrestamoResponseType"/>
	
</xs:schema>