Fuentes/ficohsacore-hntransfer-b64b1a407777/SBHN_Transfer/SBHN_Transfer_GetStatusTicket/Schemas/GetStatusTicketTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/transfer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/transfer" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBHN_Transfer_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="getStatusTicket">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="Ticket" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
    <xsd:element name="getStatusTicketResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
        <xsd:element name="IdTicket" type="xsd:string"/>
        <xsd:element name="Status" type="xsd:string"/>
        <xsd:element name="ReferenceControl" type="xsd:string"/>
        <xsd:element name="Date" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element> 
</xsd:schema>