Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/BusinessServices/ConsultaDetalleCuenta/xsd/XMLSchema_431565146.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsultaDetalleCuenta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/ConsultaDetalleCuenta">

	<xs:element name="consultaDetalleCuenta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaDetalleCuentaResponse" type="cons:consultaDetalleCuentaResponseType"/>

	<xs:complexType name="consultaDetalleCuentaResponseType">
		<xs:sequence>
			<xs:element name="consultaDetalleCuentaResponseType" type="cons:consultaDetalleCuentaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaDetalleCuentaResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaDetalleCuentaResponseRecordType" type="cons:consultaDetalleCuentaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaDetalleCuentaResponseArrayType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			<xs:element name="CUSTOMER_ID" type="xs:string"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string"/>
			<xs:element name="CATEGORY" type="xs:string"/>
			<xs:element name="CURRENCY" type="xs:string"/>
			<xs:element name="ALT_ACCOUNT" type="xs:string"/>
			<xs:element name="OPERATION_TYPE" type="xs:string"/>
			<xs:element name="LEGAL_ID" type="xs:string"/>
			<xs:element name="REQUIRED_SIGNATURES" type="xs:string"/>
			<xs:element name="SIGNATURE_DESC" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>