Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaTiposSaldo/xsd/consultaTiposSaldo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaTiposSaldoTypes"
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTiposSaldoTypes"
            elementFormDefault="qualified"
            version="1.0">

<xs:element name="consultaTiposSaldoRequest">
<xs:complexType>
    <xs:sequence>
        <xs:element name="PRODUCT_CODE">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>
        <xs:element name="SUB_PRODUCT_CODE" minOccurs="0">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>        
        <xs:element name="BALANCE_CODE" minOccurs="0">        
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>        
    </xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="consultaTiposSaldoResponse">
<xs:complexType>
    <xs:sequence>
        <xs:element name="PRODUCT_CODE" type="xs:string"/>
        <xs:element name="SUB_PRODUCT_LIST" type="con:subProductListType"/>
    </xs:sequence>
</xs:complexType>
</xs:element>


<xs:complexType name="subProductListType">
 <xs:sequence>
   <xs:element name="SUB_PRODUCT_ITEM" type="con:subProductType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="subProductType">
    <xs:sequence>
        <xs:element name="SUB_PRODUCT_CODE">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>
        <xs:element name="SUB_PRODUCT_DESCRIPTION" type="xs:string"/>
        <xs:element name="BALANCE_LIST" type="con:balanceListType"/>
    </xs:sequence>        
</xs:complexType>    


<xs:complexType name="balanceListType">
 <xs:sequence> 
   <xs:element name="BALANCE_ITEM" type="con:balanceType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
</xs:complexType>


<xs:complexType name="balanceType">
    <xs:sequence>
        <xs:element name="BALANCE_CODE">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>
        <xs:element name="BALANCE_DESCRIPTION">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>
        <xs:element name="INVESTMENT_LIST" type="con:investmentListType"/>
    </xs:sequence>        
</xs:complexType>    





<xs:complexType name="investmentListType">
 <xs:sequence>
   <xs:element name="INVESTMENT_ITEM" type="con:investmentType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="investmentType">
    <xs:sequence>
        <xs:element name="INVESTMENT_CODE">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>
        <xs:element name="INVESTMENT_DESCRIPTION">
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
        </xs:element>
    </xs:sequence>        
</xs:complexType>    
  
</xs:schema>