Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Transfers/RequestorServices/XSD/transferTypes.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.ficohsa.com.hn/middleware.services/transferTypes"
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/transferTypes"
            elementFormDefault="qualified"
            xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes"
            xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/keyValueTypes">
   <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd"
               namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
   <xsd:import schemaLocation="../../../../CommonResources/XSD/KeyValueTypes.xsd"
               namespace="http://www.ficohsa.com.hn/middleware.services/keyValueTypes"/>
   <xsd:element name="transfersAccountRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
            <xsd:element name="TransferType" type="transferType"/>
            <xsd:element name="DebitAccount" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DebitAccountType" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditAccount" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditAccountType" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TransferAmount" type="xsd:float"/>
            <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DebitCredit" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AuthorizationCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="InterfaceReferenceNo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DebitAccountDescription" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditAccountDescription" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AdditionalInfo" type="kvp:KvPair" minOccurs="0" maxOccurs="unbounded"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="transfersAccountResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" type="dtt:StatusInfoType"/>
            <xsd:element name="DebitAccount" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DebitCustomer" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DebitCurrency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DebitAmount" type="xsd:float" minOccurs="0"/>
            <xsd:element name="CreditAccount" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditCustomer" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditCurrency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreditAmount" type="xsd:float" minOccurs="0"/>
            <xsd:element name="CommissionAmount" type="xsd:float" minOccurs="0"/>
            <xsd:element name="ExchangeRate" type="xsd:float" minOccurs="0"/>
            <xsd:element name="DateTime" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AdditionalInfo" minOccurs="0" type="kvp:UnboundKvPair"/>
            <xsd:element name="ErrorInfo" type="dtt:ErrorInfoType" minOccurs="0"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
 <xsd:simpleType name="transferType" final="restriction" >
    <xsd:restriction base="dtt:string1">
        <xsd:enumeration value="BetweenAccounts" />
        <xsd:enumeration value="Regional" />
        <xsd:enumeration value="Debit" />
        <xsd:enumeration value="Credit" />
        <xsd:enumeration value="CreditLoanDisbursement" />
    </xsd:restriction>
</xsd:simpleType>   
</xsd:schema>
