Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Transfers/RequestorServices/XSD/transferLocalAccountTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/transferLocalAccountTypes"
            elementFormDefault="qualified"
            xmlns:trans="http://www.ficohsa.com.hn/middleware.services/transferLocalAccountTypes"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org"
            xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes"
            xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/keyValueTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd"
              namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/KeyValueTypes.xsd"
              namespace="http://www.ficohsa.com.hn/middleware.services/keyValueTypes"/>
  <xsd:element name="transfersLocalAccountRequest">
    <xsd:annotation>
      <xsd:documentation>transfersLocalAccountRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="DebitAccount" type="xsd:string"/>
        <xsd:element name="CreditAccount" type="xsd:string"/>
        <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
        <xsd:element name="TransferAmmount" type="xsd:string"/>
        <xsd:element name="DebitCredit" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AuthorizationTicket" type="xsd:string" minOccurs="0"/>
        <xsd:element name="TransferDetails" type="xsd:string" minOccurs="0"/>
        <xsd:element name="InterfaceReferenceNo" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ItemLevel1" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ItemLevel2" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ItemLevel3" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ItemLevel4" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ItemLevel5" type="xsd:string" minOccurs="0"/>
        <xsd:element name="RegionalDetails" type="kvp:RegionalDetails" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="AdditionalInfo" type="kvp:UnboundKvPair" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AdditionalInfoType">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="Info" type="trans:InfoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InfoType">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="transfersLocalAccountResponse">
    <xsd:annotation>
      <xsd:documentation>transfersLocalAccountResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="DebitAccount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CreditAccount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DebitCustomer" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CreditCustomer" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DebitCurrency" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CreditCurrency" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DebitAmmount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CreditAmmount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="TransferDetails" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="ExchangeRate" type="xsd:string" minOccurs="0"/>
        <xsd:element name="DateTime" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>