Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Transfers/RequestorServices/XSD/transactionReversalTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/transactionReversalTypes" elementFormDefault="qualified" xmlns:trare="http://www.ficohsa.com.hn/middleware.services/transactionReversalTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/keyValueTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/KeyValueTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/keyValueTypes"/>
  <xsd:element name="transactionReversalRequest">
    <xsd:complexType>
       <xsd:sequence>
          <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
          <xsd:element name="transactionId" type="xsd:string"/>
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>
 <xsd:element name="transactionReversalResponse">
    <xsd:complexType>
       <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
       </xsd:sequence>
    </xsd:complexType>
 </xsd:element>
</xsd:schema>