Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/GestionTCRoboPerdida/wsdl/gestionTCRoboPerdidaPS.wsdl

<wsdl:definitions name="gestionTCRoboPerdidaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionTCRoboPerdidaPS/" xmlns:ges="http://www.ficohsa.com.hn/middleware.services/gestionTCRoboPerdidaPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" schemaLocation="../../GestionesTarjetas/xsd/gestionesTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="gestionTCRoboPerdidaRequest">
		<wsdl:part element="tns:gestionTCRoboPerdida" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="gestionTCRoboPerdidaResponse">
		<wsdl:part element="tns:gestionTCRoboPerdidaResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="gestionTCRoboPerdidaPS">
		<wsdl:operation name="gestionTCRoboPerdida" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="ges:gestionTCRoboPerdidaRequest"/>
			<wsdl:output message="ges:gestionTCRoboPerdidaResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="gestionTCRoboPerdidaPSSOAP" type="ges:gestionTCRoboPerdidaPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="gestionTCRoboPerdida">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/gestionTCRoboPerdida"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="ges:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="ges:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="gestionTCRoboPerdidaPS">
		<wsdl:port binding="ges:gestionTCRoboPerdidaPSSOAP" name="gestionTCRoboPerdidaPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/gestionTCRoboPerdida/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>