Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/OperacionesCriptograficas/xsd/operacionesCriptograficasTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasTypes"
	elementFormDefault="qualified">
	
	<!-- cipherType -->
	
	<xs:simpleType name="cipherType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RSA"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- hashAlgortithm -->
	
	<xs:simpleType name="hashAlgortithm">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MD5"/>
			<xs:enumeration value="SHA-256"/>
			<xs:enumeration value="SHA-512"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- dataItemsType -->
	
	<xs:complexType name="dataItemsType">
		<xs:sequence>
			<xs:element name="FIELD_ITEM" type="tns:fieldItemType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- fieldItemType -->

	<xs:complexType name="fieldItemType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string"/>
			<xs:element name="VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- dataItemsRspType -->
	
	<xs:complexType name="dataItemsRspType">
		<xs:sequence>
			<xs:element name="FIELD_ITEM" type="tns:fieldItemRspType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- fieldItemRspType -->

	<xs:complexType name="fieldItemRspType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="0" />
			<xs:element name="VALUE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--######################## -->
	<!--OPERACION: CIFRAR DATODS -->
	<!--######################## -->
	
	<xs:element name="cifrarDatos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CIPHER" type="tns:cipherType"/>
				<xs:element name="CRYPTOKEY_ALIAS" type="xs:string"/>
				<xs:element name="DECRYPTED_DATA" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cifrarDatosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ENCRYPTED_DATA" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--########################## -->
	<!--OPERACION: DESCIFRAR DATOS -->
	<!--########################## -->
	
	<xs:element name="descifrarDatos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CIPHER" type="tns:cipherType"/>
				<xs:element name="CRYPTOKEY_ALIAS" type="xs:string"/>
				<xs:element name="ENCRYPTED_DATA" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="descifrarDatosResponse"> 
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DECRYPTED_DATA" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--####################### -->
	<!--OPERACION: GENERAR HASH -->
	<!--####################### -->
	
	<xs:element name="generarHash">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ALGORITHM" type="tns:hashAlgortithm"/>
				<xs:element name="PLAIN_DATA" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="generarHashResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HASH_REPRESENTATION" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--################################## -->
	<!--OPERACION: PROCESA MULTIPLES DATOS -->
	<!--################################## -->
	
	<xs:element name="procesaMultipleDatos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OPERATION_TYPE" type="xs:string"/>
				<xs:element name="CIPHER" type="tns:cipherType"/>
				<xs:element name="CRYPTOKEY_ALIAS" type="xs:string"/>
				<xs:element name="DATA_ITEMS" type="tns:dataItemsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="procesaMultipleDatosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DATA_ITEMS" type="tns:dataItemsRspType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>