Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/OperacionesBilletera/xsd/operacionesBilleteraTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesBilleteraTypes"
	version="1.0"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesBilleteraTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--############################################ -->
	<!-- OPERATION: consultaProductosCliente -->
	<!--############################################ -->
	<xs:element name="consultaProductosCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID_TYPE" type="xs:string" minOccurs="0"/>								
				<xs:element name="CUSTOMER_ID_VALUE" type="xs:integer"/>					
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaProductosClienteResponse" type="tns:consultaProductosClienteResponseType" />

	<xs:complexType name="consultaProductosClienteResponseType">
		<xs:sequence>
			<xs:element name="PRODUCT_DETAILS" type="tns:productDetailsType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="productDetailsType">
		<xs:sequence>
			<xs:element name="PRODUCT_DETAIL" type="tns:productDetailType"
				minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="productDetailType">
		<xs:sequence>
			<xs:element name="RTN" type="xs:string" minOccurs="0" />
			<xs:element name="TYPE_OF_PERSON" type="xs:string"
				minOccurs="0" />
			<xs:element name="MERCHANT_TYPE" type="xs:string"
				minOccurs="0" />
			<xs:element name="PRODUCT_ID" type="xs:string" minOccurs="0" />
			<xs:element name="STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="SEQUENCE" type="xs:string" minOccurs="0" />
			<xs:element name="COUNTRY_CODE" type="xs:string"
				minOccurs="0" />
			<xs:element name="DEPARTMENT_CODE" type="xs:string"
				minOccurs="0" />
			<xs:element name="DEPARTMENT_DESC" type="xs:string"
				minOccurs="0" />
			<xs:element name="MUNICIPALITY" type="xs:string"
				minOccurs="0" />
			<xs:element name="ADDRESS" type="xs:string" minOccurs="0" />
			<xs:element name="POINT_OF_SALE_NAME" type="xs:string"
				minOccurs="0" />
			<xs:element name="CUSTOMER_SINCE" type="xs:date"
				minOccurs="0" />
			<xs:element name="LAST_MODIFIED_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="CREATED_BY" type="xs:string" minOccurs="0" />
			<xs:element name="MODIFIED_BY" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>