Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/PagoRecaudoAbanks/PagoRecaudoAbanks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoRecaudoAbanksTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pag="http://www.ficohsa.com.hn/middleware.services/pagoRecaudoAbanksTypes">
	
	<xs:complexType name="pagoRecaudoAbanksResponseType">
		<xs:sequence>
			<xs:element name="CONTRACT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="PAYMENT_CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0" />
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0" />
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="RTEFORM" type="xs:string" minOccurs="0" />
			<xs:element name="TOTAL_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="BILL_DETAIL" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="pagoRecaudoAbanks">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CONTRACT_ID" type="xs:string"/>
	            <xs:element name="DEBTOR_CODE" type="xs:string"/>
	            <xs:element name="NUMBER_OF_BILLS" type="xs:string" minOccurs="0" />
	            <xs:element name="BILL_NUMBER" type="xs:string" minOccurs="0" />
	            <xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
	            <xs:element name="CURRENCY" type="xs:string"/>
	            <xs:element name="PAYMENT_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PAYMENT_METHOD" type="xs:string"/>
							<xs:element name="PAYMENT_CURRENCY" type="xs:string"/>
							<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0" />
							<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0" />
							<xs:element name="BANK_CODE" type="xs:string" minOccurs="0" />
							<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" />
							<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoRecaudoAbanksResponse" type="pag:pagoRecaudoAbanksResponseType"/>
	
	
</xs:schema>