Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/ficocelAdmin/ListaFicoAlertaProducto/listaFicoAlertaProductoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/listaFicoAlertaProductoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/listaFicoAlertaProductoTypes">
	
	<xs:complexType name = "listaFicoAlertaProductoResponseArrayType">
		<xs:sequence>
			<xs:element name="SUBSCRIPTION_ID" type="xs:string" minOccurs="0" />
			<xs:element name="EVENT" type="xs:string" minOccurs="0" />
			<xs:element name="PRODUCT_ID" type="xs:string" minOccurs="0" />
			<xs:element name="ACTIVE_ALERT" type="xs:string" minOccurs="0" />
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="listaFicoAlertaProductoResponseRecordType">
		<xs:sequence>
				<xs:element name="listaFicoAlertaProductoResponseRecordType" type="cons:listaFicoAlertaProductoResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="listaFicoAlertaProductoResponseType">
		<xs:sequence>
			<xs:element name="listaFicoAlertaProductoResponseType" type="cons:listaFicoAlertaProductoResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="listaFicoAlertaProducto">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRODUCT_ID" type="xs:string"/>
				<xs:element name="EVENT" type="xs:string" minOccurs="0"/>
				<xs:element name="ACTIVE_ALERTS_YES_NO" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="listaFicoAlertaProductoResponse" type="cons:listaFicoAlertaProductoResponseType"/>
	
</xs:schema>