Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/Resources/T24ParametroSector_inbound/xsd/Common-EventCommon.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns="http://www.temenos.com/T24/event/Common/EventCommon" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.temenos.com/T24/event/Common/EventCommon" elementFormDefault="qualified"><xsd:complexType name="EventCommon"><xsd:sequence><xsd:element name="application" type="xsd:string" minOccurs="1" maxOccurs="1"/><xsd:element name="companyId" type="xsd:string" minOccurs="1" maxOccurs="1"/><xsd:element name="operator" type="xsd:string" minOccurs="1" maxOccurs="1"/><xsd:element name="today" type="xsd:date" minOccurs="1" maxOccurs="1"/><xsd:element name="transactionStage" type="xsd:string" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:schema>