Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaClienteTarjetas_v2/xsd/XMLSchema_923175229.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaClienteTarjetasTypes"
	xmlns:dnh="http://www.ficohsa.com.hn/middleware.services/consultaClienteTarjetasTypes">

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="consultaClienteTarjetas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SEARCH_CRITERIA" type="dnh:stringMinLength1" />
				<xs:element name="SEARCH_VALUE" type="dnh:stringMinLength1" />
				<xs:element name="ORG" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaClienteTarjetasResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string"
					minOccurs="0" />
				<xs:element name="CUSTOMER_NAMES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GIVEN_NAMES_1" type="xs:string"
								minOccurs="0" />
							<xs:element name="GIVEN_NAMES_2" type="xs:string"
								minOccurs="0" />
							<xs:element name="GIVEN_NAMES_3" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BIRTH_DATE" type="xs:string" minOccurs="0" />
				<xs:element name="MARITAL_STATUS" type="xs:string"
					minOccurs="0" />
				<xs:element name="LEGAL_DOCUMENT_TYPE" type="xs:string"
					minOccurs="0" />
				<xs:element name="LEGAL_DOCUMENT_NUMBER " type="xs:string"
					minOccurs="0" />
				<xs:element name="FREQUENT_TRAVELERS_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="TRAVELERS_STATUS " type="xs:string"
					minOccurs="0" />
				<xs:element name="MAIN_EMAIL" type="xs:string" minOccurs="0" />
				<xs:element name="ALTERNATE_EMAIL" type="xs:string"
					minOccurs="0" />
				<xs:element name="NO_OF_DEPENDANTS" type="xs:string"
					minOccurs="0" />
				<xs:element name="EDUCATION_LEVEL" type="xs:string"
					minOccurs="0" />
				<xs:element name="GENDER" type="xs:string" minOccurs="0" />
				<xs:element name="EMPLOYERS_NAME" type="xs:string"
					minOccurs="0" />
				<xs:element name="ADDRESS_INFO" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ADDRESS_TYPE" type="xs:string"
								minOccurs="0" />
							<xs:element name="ADDRESS_LINE_1" type="xs:string"
								minOccurs="0" />
							<xs:element name="ADDRESS_LINE_2" type="xs:string"
								minOccurs="0" />
							<xs:element name="ADDRESS_LINE_3" type="xs:string"
								minOccurs="0" />
							<xs:element name="ADDRESS_LINE_4" type="xs:string"
								minOccurs="0" />
							<xs:element name="CITY" type="xs:string" minOccurs="0" />
							<xs:element name="STATE" type="xs:string" minOccurs="0" />
							<xs:element name="COUNTRY" type="xs:string" minOccurs="0" />
							<xs:element name="MOBILE_NUMBER" type="xs:decimal"
								minOccurs="0" />
							<xs:element name="PHONE_NUMBER" type="xs:string"
								minOccurs="0" />
							<xs:element name="PHONE_EXT" type="xs:string"
								minOccurs="0" />	
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PROFESSION" type="xs:string"
					minOccurs="0" />
				<xs:element name="PEP_INDICATOR" type="xs:string"
					minOccurs="0" />
				<xs:element name="NATIONALITY" type="xs:string"
					minOccurs="0" />
				<xs:element name="POSITION" type="xs:string"
					minOccurs="0" />
				<xs:element name="MAIN_INCOME" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="SECONDARY_INCOME" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="CLIENT_SEGMENT" type="xs:string"
					minOccurs="0" />
				<xs:element name="VIP_INDICATOR" type="xs:string"
					minOccurs="0" />
				<xs:element name="CONSUMPTION_SCORE" type="xs:string"
					minOccurs="0" />
				<xs:element name="LEGAL_DOCUMENT_NUMBER_2" type="xs:string"
					minOccurs="0" />
				<xs:element name="LEGAL_DOCUMENT_COUNTRY_2" type="xs:string"
					minOccurs="0" />
				<xs:element name="EMPLOYMENT_YEARS" type="xs:string"
					minOccurs="0" />
				<xs:element name="EMPLOYMENT_MONTHS" type="xs:string"
					minOccurs="0" />	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>