Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/ValidacionCuentaExterna/xsd/cobiscorp.ecobis.srvaplcobisachsaliente.dto.xsd

<schema elementFormDefault="qualified" targetNamespace="http://dto.srvaplcobisachsaliente.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:dto="http://dto.srvaplcobisachsaliente.ecobis.cobiscorp" xmlns:dto2="http://dto2.sdf.cts.cobis.cobiscorp.com">
  <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/>
  <simpleType name="char">
    <restriction base="string">
      <length value="1"/>
    </restriction>
  </simpleType>
  <complexType name="ContextoRespuesta">
    <sequence>
      <element name="identificadorTransaccion" type="string" minOccurs="0"/>
      <element name="fecTransaccion" type="dateTime" minOccurs="0"/>
      <element name="codTipoRespuesta" type="string" minOccurs="0"/>
      <element name="valDescripcionRespuesta" type="string" minOccurs="0"/>
      <element name="ipConsumidor" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="ContextoTransaccional">
    <sequence>
      <element name="identificadorTransaccional" type="string" minOccurs="0"/>
      <element name="fecTransaccion" type="dateTime" minOccurs="0"/>
      <element name="codCanalOriginador" type="int" minOccurs="0"/>
      <element name="ipConsumidor" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="OpConsultaProductoRespuesta">
    <complexContent>
      <extension base="dto2:CTSServiceResponseTO">
        <sequence>
          <element name="contextoRespuesta" type="dto:ContextoRespuesta" minOccurs="1"/>
          <element name="responseACHSaliente" type="dto:ResponseACHSaliente" minOccurs="1"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OpConsultaProductoSolicitud">
    <sequence>
      <element name="contextoTransaccional" type="dto:ContextoTransaccional" minOccurs="1"/>
      <element name="requestACHSaliente" type="dto:RequestACHSaliente" minOccurs="1"/>
    </sequence>
  </complexType>
  <complexType name="RequestACHSaliente">
    <sequence>
      <element name="moneda" type="string" minOccurs="0"/>
      <element name="productoOriginador" type="string" minOccurs="0"/>
      <element name="valor" type="double" minOccurs="0"/>
      <element name="cuentaDestino" type="string" minOccurs="0"/>
      <element name="referencia" type="string" minOccurs="0"/>
      <element name="cuentaOrigen" type="string" minOccurs="0"/>
      <element name="originadorId" type="string" minOccurs="0"/>
      <element name="nombreOriginador" type="string" minOccurs="0"/>
      <element name="receptorId" type="string" minOccurs="0"/>
      <element name="nombreReceptor" type="string" minOccurs="0"/>
      <element name="concepto" type="string" minOccurs="0"/>
      <element name="bancoDestino" type="string" minOccurs="0"/>
      <element name="productoDestino" type="string" minOccurs="0"/>
      <element name="purpuseId" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="ResponseACHSaliente">
    <sequence>
      <element name="codRezacho" type="string" minOccurs="0"/>
      <element name="status" type="string" minOccurs="0"/>
      <element name="descripcionRechazo" type="string" minOccurs="0"/>
      <element name="identificacion" type="string" minOccurs="0"/>
      <element name="cobisError" type="int" minOccurs="0"/>
      <element name="descripcionError" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
</schema>