Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ModificacionTarjetaDebito/xsd/modificacionTarjetaDebitoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/modificacionTarjetaDebitoTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/modificacionTarjetaDebitoTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="modificacionTarjetaDebito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="tns:stringMinLength1"/>
				<xs:element name="PRIMARY_ACCOUNT" type="xs:string"  minOccurs="0"/>
				<xs:element name="CURRENCY_ACCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="SECONDARY_ACCOUNTS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SECONDARY_ACCOUNT" type="tns:stringMinLength1" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="modificacionTarjetaDebitoResponse">
		<xs:complexType>
			<xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>