Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/RegistrarTransaccionTCDB_v2/XMLSchema_-967633365.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/registrarTransaccionTCDBTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/registrarTransaccionTCDBTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--############################################ -->
	<!-- OPERATION: registrarTransaccionTCDB -->
	<!--############################################ -->

	<xs:element name="registrarTransaccionTCDB">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTION_DATE" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="AGENCIAORIGEN" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="MERCHANTNUMBER" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="NUMEROTARJETA" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="TIPOOPERACION" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="TIPOMONEDA" type="xs:string" minOccurs="0"
					maxOccurs="1" />
				<xs:element name="ORGANIZACION" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="MONEDATRANSACCION" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="TASACAMBIO" type="xs:string" minOccurs="0"
					maxOccurs="1" />
				<xs:element name="TIPOTRANSACCION" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="CODIGOUSUARIO" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="SECUENCIAMOVIMIENTO" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="SECUENCIAORIGEN" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="VALOREFECTIVO" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="VALORCHEQUES" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="NUMERODOCUMENTO" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="FECHAVALIDA" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="TIPOCHEQUE" type="xs:string" minOccurs="0"
					maxOccurs="1" />
				<xs:element name="BANCOORIGEN" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="BANCODESTINO" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="DESCRIPCIONTRANSACCION" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="CANAL" type="xs:string" minOccurs="0"
					maxOccurs="1" />
				<xs:element name="NUMEROAUTORIZACION" type="xs:string"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="APLICADO" type="xs:string" minOccurs="0"
					maxOccurs="1" />
				<xs:element name="APLICARENLINEA" type="xs:string"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="registrarTransaccionTCDBResponse" />




</xs:schema>