Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/esquemas_generales/PagingTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/PagingTypes"
    xmlns:pag="http://www.ficohsa.com.hn/middleware.services/PagingTypes">
    
    <xs:simpleType name="yesNoType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="greaterThan0">
        <xs:restriction base="xs:integer">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="pagingInfo">
        <xs:sequence>
            <xs:element name="PAGING" type="pag:yesNoType" />
            <xs:element name="INITIAL_RECORD" type="pag:greaterThan0" minOccurs="0"/>
            <xs:element name="RECORD_COUNT" type="pag:greaterThan0" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="recordsInfo">
        <xs:sequence>
            <xs:element name="INITIAL_RECORD" type="xs:integer" />
            <xs:element name="RECORDS_RETURNED" type="xs:integer" />
            <xs:element name="RECORD_TOTAL" type="xs:integer" />
        </xs:sequence>
    </xs:complexType>        
            
</xs:schema>