Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaCuentaTC/xsd/consultaCuentaTCTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCuentaTCTypes"
	xmlns:dnh="http://www.ficohsa.com.hn/middleware.services/consultaCuentaTCTypes">

	<!-- acc_card_LengthType -->
	<xs:simpleType name="acc_card_LengthType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="19" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="HolderInformationType">
		<xs:sequence>
			<xs:element name="EDUCATION_LEVEL" type="xs:string"
				minOccurs="0" />
			<xs:element name="JOB_TITTLE" type="xs:string" minOccurs="0" />
			<xs:element name="SCORE" type="xs:decimal" minOccurs="0" />
			<xs:element name="MAIN_INCOME" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="SECONDARY_INCOME" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="INCOME_RANGE" type="xs:string"
				minOccurs="0" />
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" />
			<xs:element name="CUSTOMER_SEGMENT" type="xs:string"
				minOccurs="0" />
			<xs:element name="CUSTOMER_TYPE" type="xs:string"
				minOccurs="0" />
			<xs:element name="PEP" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BlockType">
		<xs:sequence>
			<xs:element name="BLOCK_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="BLOCK_DATE" type="xs:date" minOccurs="0" />
			<xs:element name="BLOCK_REASON" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BlockingInformationType">
		<xs:sequence>
			<xs:element name="BLOCK1" type="dnh:BlockType" minOccurs="0" />
			<xs:element name="BLOCK2" type="dnh:BlockType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="BalanceInformationType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="ORG" type="xs:integer" minOccurs="0" />
			<xs:element name="BLOCKING_INFORMATION" minOccurs="0"
				type="dnh:BlockingInformationType" />
			<xs:element name="INTRAFINANCING_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="DISPUTE_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="DISPUTE_QTY" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="INITIAL_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="CURRENT_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="MIN_PAYMENT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="CURRENT_MIN_PAYMENT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="PAYMENT_CUTOFF_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="PAYMENTS_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="PENDING_AUTHORIZATIONS" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="PENDING_PAYMENTS" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="LATE_FEE_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="LATE_FEE_CUTOFF_BALANCE" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="CICLE" type="xs:decimal" minOccurs="0" />
			<xs:element name="LAST_CUTOFF_LATE_FEE_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="LAST_CUTOFF_PAYMENT_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="LAST_TXN_DATE" type="xs:date" minOccurs="0" />
			<xs:element name="TEMP_CRLIM_DATE" type="xs:date"
				minOccurs="0" />
			<xs:element name="TEMP_CRLIM_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="PURCHASE_AVAILABLE_AMOUNT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="OPEN_TO_BUY" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="AVAILABLE_WITHDRAWAL" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="CREDIT_LIMIT" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="LAST_CRLIM_AMOUNT" type="xs:decimal" minOccurs="0" />
			<xs:element name="LATE_FEE_INFORMATION" minOccurs="0" maxOccurs="unbounded" type="dnh:LateFeeInformationType" />
			<xs:element name="STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="LAST_PAYMENT_AMOUNT" type="xs:decimal" minOccurs="0" />
			<xs:element name="LAST_PAYMENT_DATE" type="xs:date" minOccurs="0" />
			<xs:element name="AMOUNT_LAST_WITHDRAWAL" type="xs:string" minOccurs="0" />
            <xs:element name="DATE_LAST_WITHDRAWAL" type="xs:date" minOccurs="0" />
            <xs:element name="LAST_PURCHACE_AMOUNT" type="xs:string" minOccurs="0" />
            <xs:element name="LAST_PURCHASE_DATE" type="xs:date" minOccurs="0" />
            <xs:element name="RMT" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LateFeeInformationType">
		<xs:sequence>
			<xs:element name="LATE_FEE_TYPE" type="xs:string"
				minOccurs="0" />
			<xs:element name="LATE_FEE_COUNTER" type="xs:decimal"
				minOccurs="0" />
			<xs:element name="LATE_FEE_AMOUNT" type="xs:decimal"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>


	<xs:element name="consultaCuentaTCRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="dnh:acc_card_LengthType" />
				<xs:element name="ORG" type="xs:integer" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaCuentaTCResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"
					minOccurs="0" />
				<xs:element name="LOGO" type="xs:string" minOccurs="0" />
				<xs:element name="ACCOUNT_CYCLE" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="OPENING_DATE" type="xs:date" minOccurs="0" />
				<xs:element name="SETTLEMENT_MODEL" type="xs:string"
					minOccurs="0" />
				<xs:element name="LAST_CUTOFF_DATE" type="xs:date"
					minOccurs="0" />
				<xs:element name="NEXT_CUTOFF_DATE" type="xs:date"
					minOccurs="0" />
				<xs:element name="MAX_PAYMENT_DATE" type="xs:date"
					minOccurs="0" />
				<xs:element name="HOLDER_INFORMATION" minOccurs="0" type="dnh:HolderInformationType" />
				<xs:element name="BALANCE_INFORMATION" minOccurs="0" maxOccurs="unbounded" type="dnh:BalanceInformationType" />
				<xs:element name="CHANGE_PRODUCT_DATE" type="xs:dateTime" minOccurs="0" />
				<xs:element name="NEW_LOGO" type="xs:string" minOccurs="0" />
				<xs:element name="NEW_ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
				<xs:element name="LAST_DATE_LIMIT_CHANGE" type="xs:date" minOccurs="0" />
				<xs:element name="CASH_BACK_EARNED" type="xs:string" minOccurs="0" />
				<xs:element name="RSN_CHARGES" type="xs:string" minOccurs="0" />
                <xs:element name="ACCOUNT_HOLDER_LEGAL_ID" type="xs:string" minOccurs="0"/>
		        <xs:element name="ACCOUNT_HOLDER_NAME" type="xs:string" minOccurs="0"/> 
		        <xs:element name="AFP_ID" type="xs:string" minOccurs="0"/>
		        <xs:element name="DATE_BENEFIT_CHANGE" type="xs:string" minOccurs="0"/>		        		
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>