Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/LAUCalculator/wsdl/lauCalculator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ficohsa.com.hn/middleware.services/lauCalculatorTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/lauCalculatorTypes" targetNamespace="http://www.ficohsa.com.hn/middleware.services/lauCalculatorTypes">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/lauCalculatorTypes" version="1.0">
            <xs:element name="calculateLAURequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LAUApplicationID" type="xs:string"/>
                        <xs:element name="LAUCallTime" type="xs:string"/>
                        <xs:element name="LAURequestNonce" type="xs:string"/>
                        <xs:element name="LAUSigned" type="xs:string"/>
                        <xs:element name="LAUKey" type="xs:string"/>
                        <xs:element name="absPath" type="xs:string"/>
                        <xs:element name="requestBody" type="xs:string"/>
                        <xs:element name="LAUVersion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calculateLAUResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="xs:string"/>
                        <xs:element minOccurs="0" name="message" type="xs:string"/>
                        <xs:element minOccurs="0" name="LAUSignature" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyLAURequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LAUApplicationID" type="xs:string"/>
                        <xs:element name="LAUCallTime" type="xs:string"/>
                        <xs:element name="LAURequestNonce" type="xs:string"/>
                        <xs:element name="LAUResponseNonce" type="xs:string"/>
                        <xs:element name="LAUVersion" type="xs:string"/>
                        <xs:element name="LAUSignature" type="xs:string"/>
                        <xs:element name="LAUKey" type="xs:string"/>
                        <xs:element name="responseBody" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyLAUResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="result" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calculateLAUConnectorRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LAUApplicationID" type="xs:string"/>
                        <xs:element name="LAUCallTime" type="xs:string"/>
                        <xs:element name="LAURequestNonce" type="xs:string"/>
                        <xs:element name="LAUResponseNonce" type="xs:string"/>
                        <xs:element name="LAUVersion" type="xs:string"/>
                        <xs:element name="LAUKey" type="xs:string"/>
                        <xs:element name="responseBody" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calculateLAUConnectorResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="LAU" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyLAUConnectorRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LAUApplicationID" type="xs:string"/>
                        <xs:element name="LAUCallTime" type="xs:string"/>
                        <xs:element name="LAURequestNonce" type="xs:string"/>
                        <xs:element name="LAUSigned" type="xs:string"/>
                        <xs:element name="LAUSignature" type="xs:string"/>
                        <xs:element name="LAUVersion" type="xs:string"/>
                        <xs:element name="LAUKey" type="xs:string"/>
                        <xs:element name="absPath" type="xs:string"/>
                        <xs:element name="requestBody" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyLAUConnectorResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="result" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="verifyLAUConnectorRequest">
        <wsdl:part element="tns:verifyLAUConnectorRequest" name="verifyLAUConnectorRequest"/>
    </wsdl:message>
    <wsdl:message name="verifyLAUConnectorResponse">
        <wsdl:part element="tns:verifyLAUConnectorResponse" name="verifyLAUConnectorResponse"/>
    </wsdl:message>
    <wsdl:message name="verifyLAURequest">
        <wsdl:part element="tns:verifyLAURequest" name="verifyLAURequest"/>
    </wsdl:message>
    <wsdl:message name="verifyLAUResponse">
        <wsdl:part element="tns:verifyLAUResponse" name="verifyLAUResponse"/>
    </wsdl:message>
    <wsdl:message name="calculateLAURequest">
        <wsdl:part element="tns:calculateLAURequest" name="calculateLAURequest"/>
    </wsdl:message>
    <wsdl:message name="calculateLAUResponse">
        <wsdl:part element="tns:calculateLAUResponse" name="calculateLAUResponse"/>
    </wsdl:message>
    <wsdl:message name="calculateLAUConnectorRequest">
        <wsdl:part element="tns:calculateLAUConnectorRequest" name="calculateLAUConnectorRequest"/>
    </wsdl:message>
    <wsdl:message name="calculateLAUConnectorResponse">
        <wsdl:part element="tns:calculateLAUConnectorResponse" name="calculateLAUConnectorResponse"/>
    </wsdl:message>
    <wsdl:portType name="LauCalculatorEndpoint">
        <wsdl:operation name="verifyLAUConnector">
            <wsdl:input message="tns:verifyLAUConnectorRequest" name="verifyLAUConnectorRequest"/>
            <wsdl:output message="tns:verifyLAUConnectorResponse" name="verifyLAUConnectorResponse"/>
        </wsdl:operation>
        <wsdl:operation name="verifyLAU">
            <wsdl:input message="tns:verifyLAURequest" name="verifyLAURequest"/>
            <wsdl:output message="tns:verifyLAUResponse" name="verifyLAUResponse"/>
        </wsdl:operation>
        <wsdl:operation name="calculateLAU">
            <wsdl:input message="tns:calculateLAURequest" name="calculateLAURequest"/>
            <wsdl:output message="tns:calculateLAUResponse" name="calculateLAUResponse"/>
        </wsdl:operation>
        <wsdl:operation name="calculateLAUConnector">
            <wsdl:input message="tns:calculateLAUConnectorRequest" name="calculateLAUConnectorRequest"/>
            <wsdl:output message="tns:calculateLAUConnectorResponse" name="calculateLAUConnectorResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LauCalculatorEndpointSoap11" type="tns:LauCalculatorEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="verifyLAUConnector">
            <soap:operation soapAction=""/>
            <wsdl:input name="verifyLAUConnectorRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="verifyLAUConnectorResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="verifyLAU">
            <soap:operation soapAction=""/>
            <wsdl:input name="verifyLAURequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="verifyLAUResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateLAU">
            <soap:operation soapAction=""/>
            <wsdl:input name="calculateLAURequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateLAUResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateLAUConnector">
            <soap:operation soapAction=""/>
            <wsdl:input name="calculateLAUConnectorRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateLAUConnectorResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LauCalculatorEndpointService">
        <wsdl:port binding="tns:LauCalculatorEndpointSoap11" name="LauCalculatorEndpointSoap11">
            <soap:address location="http://172.23.13.19:7003/lau-calculator-ws/services/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>