Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RegistraPagoTC/xsd/registraPagoTCTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/registraPagoTCTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/registraPagoTCTypes">

	<xs:element name="registraPagoTC">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORIGINATING_AGENCY" type="xs:string" />
				<xs:element name="MERCHANT_NUMBER" type="xs:string" />
				<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" />
				<xs:element name="OPERATION_TYPE" type="xs:string" />
				<xs:element name="BALANCE_CURRENCY" type="xs:string" />
				<xs:element name="ORGANIZATIONS" type="xs:string" />
				<xs:element name="TRANSACTION_CURRENCY" type="xs:string" />
				<xs:element name="EXCHANGE_RATE" type="xs:string" />
				<xs:element name="TRANSACTION_TYPE" type="xs:string" />
				<xs:element name="USER_CODE" type="xs:string" />
				<xs:element name="MOVEMENT_SEQUENCE" type="xs:string" />
				<xs:element name="ORIGIN_SEQUENCE" type="xs:string" />
				<xs:element name="CASH_VALUE" type="xs:string" />
				<xs:element name="CHECKS_VALUE" type="xs:string" />
				<xs:element name="DOCUMENT_NUMBER" type="xs:string" />
				<xs:element name="VALID_DATE" type="xs:string" />
				<xs:element name="CHECK_TYPE" type="xs:string" />
				<xs:element name="ORIGIN_BANK" type="xs:string" />
				<xs:element name="DESTINATION_BANK" type="xs:string" />
				<xs:element name="TRANSACTION_DESCRIPTION" type="xs:string" />
				<xs:element name="CHANNEL_CODE" type="xs:string" />
				<xs:element name="AUTHORIZATION_NUMBER" type="xs:string" />
				<xs:element name="APPLIED" type="xs:string" />
				<xs:element name="APPLIED_ON_LINE" type="xs:string" />
				<xs:element name="TICKET" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="registraPagoTCResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MESSAGE" type="xs:string" />
				<xs:element name="SUCCESS_INDICATOR" type="xs:string"
					minOccurs="0" />
				<xs:element name="MESSAGEID" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>