Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ReversionRetiroFPC/Resources/v1.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/pension" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/pension" xmlns:ctp="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="v1_1.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="ReversalWithdrawalFPC">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" minOccurs="1" type="ctp:GeneralInfoType"/>
        <xsd:element name="TransactionNumber"/>
        <xsd:element name="AccountNumber"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReversalWithdrawalFPCResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="ctp:StatusInfoType" minOccurs="0"/>
        <xsd:element name="ErrorInfo" type="ctp:ErrorInfoType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>