Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ReversionRetiroFPC/Resources/v1_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
  <xs:complexType name="RequestHeader">
    <xs:sequence>
      <xs:element name="Authentication" type="auth:Authentication"/>
      <xs:element name="Region" type="auth:Region"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Authentication">
    <xs:sequence>
      <xs:element name="UserName" type="xs:string"/>
      <xs:element name="Password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Region">
    <xs:sequence>
      <xs:element name="SourceBank" type="xs:string"/>
      <xs:element name="DestinationBank" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseHeader">
    <xs:sequence>
      <xs:element name="TransactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="MessageId" type="xs:string" minOccurs="0"/>
      <xs:element name="SuccessIndicator" type="xs:string" minOccurs="0"/>
      <xs:element name="Application" type="xs:string" minOccurs="0"/>
      <xs:element name="Messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ValueDate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestHeader" nillable="true" type="auth:RequestHeader"/>
  <xs:element name="ResponseHeader" nillable="false" type="auth:ResponseHeader"/>
</xs:schema>