Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_CreateSupplier/Schemas/CreateSupplierTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/massivePayment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mas="https://www.ficohsa.com/regional/massivePayment" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="../../SBRG_MassivePayment_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="createSupplier">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="CustomerId" type="mas:stringMinLength1"/>
        <xsd:element name="UserId" type="mas:stringMinLength1"/>
        <xsd:element name="Suppliers" type="mas:supplierType" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createSupplierResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="stringMinLength1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="supplierType">
    <xsd:sequence>
      <xsd:element name="Id" type="mas:stringMinLength1"/>
      <xsd:element name="Name" type="mas:stringMinLength1"/>
      <xsd:element name="LegalId" type="mas:stringMinLength1"/>
      <xsd:element name="DestinationBank" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AccountNumber" type="mas:stringMinLength1"/>
      <xsd:element name="AccountType" type="mas:CaCcType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="CaCcType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CA"/>
      <xsd:enumeration value="CC"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>