Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CTS/cuenta/wsdl/COBISCorp.eCOBIS.SrvAplCobisCuenta.Service.wsdl

<wsdl:definitions name="SrvAplCobisCuenta" targetNamespace="http://impl.service.srvaplcobiscuenta.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.srvaplcobiscuenta.ecobis.cobiscorp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:S1="http://impl.service.srvaplcobiscuenta.ecobis.cobiscorp/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://impl.service.srvaplcobiscuenta.ecobis.cobiscorp/">
			<xsd:import namespace="http://service.srvaplcobiscuenta.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MsjOpConsultaPromedioSolicitud">
		<wsdl:part name="parameters" element="tns:opConsultaPromedioSolicitud">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MsjOpConsultaComisionesSolicitud">
		<wsdl:part name="parameters" element="tns:opConsultaComisionesSolicitud">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MsjOpConsultaDetalleCuentaSolicitud">
		<wsdl:part name="parameters" element="tns:opConsultaDetalleCuentaSolicitud">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MsjOpConsultaDetalleCuentaRespuesta">
		<wsdl:part name="parameters" element="tns:opConsultaDetalleCuentaRespuesta">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MsjOpConsultaFlotanteRespuesta">
		<wsdl:part name="parameters" element="tns:opConsultaFlotanteRespuesta">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MsjOpBuscarSaldoReservadoRespuesta">
		<wsdl:part name="parameters" element="tns:opBuscarSaldoReservadoRespuesta">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MsjOpConsultaMovimientoCuentaRespuesta">
		<wsdl:part name="parameters" element="tns:opConsultaMovimientoCuentaRespuesta">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MsjOpConsultaFlotanteSolicitud">
		<wsdl:part name="parameters" element="tns:opConsultaFlotanteSolicitud">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MsjOpBuscarSaldoReservadoSolicitud">
		<wsdl:part name="parameters" element="tns:opBuscarSaldoReservadoSolicitud">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MsjOpConsultaMaestraSaldosSolicitud">
		<wsdl:part name="parameters" element="tns:opConsultaMaestraSaldosSolicitud">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MsjOpConsultaMaestraSaldosRespuesta">
		<wsdl:part name="parameters" element="tns:opConsultaMaestraSaldosRespuesta">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MsjOpConsultaPromedioRespuesta">
		<wsdl:part name="parameters" element="tns:opConsultaPromedioRespuesta">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MsjOpConsultaComisionesRespuesta">
		<wsdl:part name="parameters" element="tns:opConsultaComisionesRespuesta">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MsjOpConsultaMovimientoCuentaSolicitud">
		<wsdl:part name="parameters" element="tns:opConsultaMovimientoCuentaSolicitud">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SrvAplCobisCuenta">
		<wsdl:operation name="OpBuscarSaldoReservado">
			<wsdl:input message="S1:MsjOpBuscarSaldoReservadoSolicitud">
			</wsdl:input>
			<wsdl:output message="S1:MsjOpBuscarSaldoReservadoRespuesta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpConsultaComisiones">
			<wsdl:input message="S1:MsjOpConsultaComisionesSolicitud">
			</wsdl:input>
			<wsdl:output message="S1:MsjOpConsultaComisionesRespuesta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpConsultaDetalleCuenta">
			<wsdl:input message="S1:MsjOpConsultaDetalleCuentaSolicitud">
			</wsdl:input>
			<wsdl:output message="S1:MsjOpConsultaDetalleCuentaRespuesta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpConsultaFlotante">
			<wsdl:input message="S1:MsjOpConsultaFlotanteSolicitud">
			</wsdl:input>
			<wsdl:output message="S1:MsjOpConsultaFlotanteRespuesta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpConsultaMaestraSaldos">
			<wsdl:input message="S1:MsjOpConsultaMaestraSaldosSolicitud">
			</wsdl:input>
			<wsdl:output message="S1:MsjOpConsultaMaestraSaldosRespuesta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpConsultaMovimientoCuenta">
			<wsdl:input message="S1:MsjOpConsultaMovimientoCuentaSolicitud">
			</wsdl:input>
			<wsdl:output message="S1:MsjOpConsultaMovimientoCuentaRespuesta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpConsultaPromedio">
			<wsdl:input message="S1:MsjOpConsultaPromedioSolicitud">
			</wsdl:input>
			<wsdl:output message="S1:MsjOpConsultaPromedioRespuesta">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SrvAplCobisCuentaBindingSOAP12" type="S1:SrvAplCobisCuenta">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="OpBuscarSaldoReservado">
			<soap12:operation/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpConsultaComisiones">
			<soap12:operation/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpConsultaDetalleCuenta">
			<soap12:operation/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpConsultaFlotante">
			<soap12:operation/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpConsultaMaestraSaldos">
			<soap12:operation/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpConsultaMovimientoCuenta">
			<soap12:operation/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OpConsultaPromedio">
			<soap12:operation/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SrvAplCobisCuentaService">
		<wsdl:port name="SrvAplCobisCuentaBindingSOAP12" binding="S1:SrvAplCobisCuentaBindingSOAP12">
			<soap12:address location="http://10.235.53.145:9080/GerenciaProductoCuenta/SrvAplCobisCuentaService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>