Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/RegionDBHN/consultaMaestraTarjetas/xsd/consultaMaestraTarjetas_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaMaestraTarjetas" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaMaestraTarjetas" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_NUMERO_TARJETA" type="db:string19" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_NUMERO_CUENTA" type="db:string19" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_TIPO_TARJETA" type="db:string1" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_ESTADO_TARJETA" type="db:string15" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_DESCRIPCION_ESTADO" type="db:string4000" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_TIPO_PRODUCTO" type="db:string60" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_MES_EXPIRA" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ANIO_EXPIRA" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_CARD_HOLDER_NAME" type="db:string60" db:index="9" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_BIN" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_SISTEMA_ORIGEN" type="db:string60" db:index="11" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_PAIS" type="db:string60" db:index="12" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_NUMERO_CLIENTE" type="db:string60" db:index="13" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_RAZON_ESTADO" type="db:string60" db:index="14" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_TELEFONO" type="db:string60" db:index="15" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_CORREO_ELECTRONICO" type="db:string60" db:index="16" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_ACCOUNT_HOLDER_NAME" type="db:string4000" db:index="17" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO_MENSAJE" type="db:string4000" db:index="18" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="P_DESC_MENSAJE" type="db:string4000" db:index="19" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string19">
      <restriction base="string">
         <maxLength value="19"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string60">
      <restriction base="string">
         <maxLength value="60"/>
      </restriction>
   </simpleType>
   <simpleType name="string4000">
      <restriction base="string">
         <maxLength value="4000"/>
      </restriction>
   </simpleType>
</schema>