Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/OSB/AutenticacionInterna_v2/wsdl/AutenticacionInterna.wsdl

<WL5G3N0:definitions name="autenticacionInternaPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaTypes" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:aute="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_1605426958.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:aute="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaTypes" schemaLocation="../xsd/XMLSchema_1706459653.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="validacionTokenRequest">
    <WL5G3N0:part element="WL5G3N1:validacionToken" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="validacionTokenResponse">
    <WL5G3N0:part element="WL5G3N1:validacionTokenResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="validacionBasicaRequest">
    <WL5G3N0:part element="WL5G3N1:validacionBasica" name="parameters"/>
    <WL5G3N0:part element="WL5G3N2:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="validacionBasicaResponse">
    <WL5G3N0:part element="WL5G3N1:validacionBasicaResponse" name="result"/>
    <WL5G3N0:part element="WL5G3N2:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="autenticacionInternaPS">
    <WL5G3N0:operation name="validacionToken" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:validacionTokenRequest"/>
      <WL5G3N0:output message="WL5G3N3:validacionTokenResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validacionBasica" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:validacionBasicaRequest"/>
      <WL5G3N0:output message="WL5G3N3:validacionBasicaResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="autenticacionInternaPSSOAP" type="WL5G3N3:autenticacionInternaPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="validacionToken">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaPS/autenticacionInterna"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:validacionTokenRequest" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:validacionTokenResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validacionBasica">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/autenticacionInternaPS/autenticacionInterna"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:validacionBasicaRequest" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:validacionBasicaResponse" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="autenticacionInternaPS">
    <WL5G3N0:port binding="WL5G3N3:autenticacionInternaPSSOAP" name="autenticacionInternaPSSOAP">
      <WL5G3N4:address location="http://HNBND1004PTC06.gfficohsa.hn:7001/Middleware/SalesAndServices/PartyAuthentication/AutenticacionInterna"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>