Fuentes/ficohsacore-osb12-b78f21b126d5/LegacyCoreBankingHN/ProviderServices/XSD/CreateLoans/CreateLoan_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/PROXYABANKSHN/OSB_K_APERTURA_PRESTAMOS_V2/OSB_P_APERTURA_PRESTAMO_2/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/PROXYABANKSHN/OSB_K_APERTURA_PRESTAMOS_V2/OSB_P_APERTURA_PRESTAMO_2/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_CODIGO_EMPRESA" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_AGENCIA" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_SUB_APLICACION" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_CLIENTE" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_PRESTATARIO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_TIPO_AMORTIZACION" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TASA" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_PLAZO" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_MONTO_INICIAL" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CALCULAR_MORA" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_EJECUTIVO" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_LINEA_FINANCIERA" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_VALOR_TASA_CARTERA" type="decimal" db:index="13" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_INVERSION" type="decimal" db:index="14" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_ACTIVIDAD_ECONOMICA" type="decimal" db:index="15" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_APROBACION" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_DESTINO" type="decimal" db:index="17" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_DESTINO_DETALLE" type="decimal" db:index="18" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_TIPO_PRESTAMO" type="decimal" db:index="19" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_SUB_INVERSION" type="decimal" db:index="20" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_PROMOTOR" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MANEJO_GARANTIAS" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_PRIMER_PAGO_INTERES" type="dateTime" db:index="23" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_PRIMER_PAGO_CAPITAL" type="dateTime" db:index="24" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PN_FRECUENCIA_INTERES" type="decimal" db:index="25" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_FRECUENCIA_CAPITAL" type="decimal" db:index="26" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_TIPO_FRECUENCIA_INTERES" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TIPO_FRECUENCIA_CAPITAL" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_TASA" type="string" db:index="29" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TASA_TOTAL" type="decimal" db:index="30" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CLASE_TASA" type="string" db:index="31" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_DIAS_GRACIA_MORA" type="decimal" db:index="32" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_LIQUIDACION_MES" type="string" db:index="33" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_LIQUIDACION_ANIO" type="string" db:index="34" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_VALOR_TASA_MORA" type="decimal" db:index="35" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_ORIGEN_FONDO" type="decimal" db:index="36" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_SUB_ORIGEN_FONDO" type="decimal" db:index="37" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_TIPO_OBLIGACION" type="string" db:index="38" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_TIPO_CREDITO" type="string" db:index="39" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_AGENCIA_ORIGEN_PRESTAMO" type="decimal" db:index="40" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_TIPO_GARANTIA" type="string" db:index="41" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ADICIONADO_POR" type="string" db:index="42" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_DE_PLANILLA" type="decimal" db:index="43" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CUENTA_DEBITA" type="string" db:index="44" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_FRECUENCIA_PAGO" type="string" db:index="45" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_NUMERO_POLIZA" type="db:PROXYABANKSHN.TVARCHAR10" db:index="46" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGO_TIPO_POLIZA" type="db:PROXYABANKSHN.TVARCHAR2" db:index="47" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGO_ASEGURADORA" type="db:PROXYABANKSHN.TNUMBER2" db:index="48" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_PRIMA_MENSUAL" type="db:PROXYABANKSHN.TMONTOPR" db:index="49" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_PRIMA_ANUAL" type="db:PROXYABANKSHN.TMONTOPR" db:index="50" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_FECHA_FINAL_SEG" type="db:PROXYABANKSHN.TDATE" db:index="51" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_COBERTURA_POLIZA" type="db:PROXYABANKSHN.TMONTOPR" db:index="52" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_AGENCIA_GARANTIA" type="decimal" db:index="53" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_COD_SUBAPL_GARANTIA" type="decimal" db:index="54" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_VALOR_AVALUO" type="decimal" db:index="55" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_VALOR_CREDITICIO" type="decimal" db:index="56" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_MONTO_MONEDA_LOCAL" type="decimal" db:index="57" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_PORCENTAJE_COBERTURA" type="decimal" db:index="58" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_TIPO_GARANTIA" type="decimal" db:index="59" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCION_GARANTIA" type="string" db:index="60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_PRIMA" type="decimal" db:index="61" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_CREDITO" type="string" db:index="62" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_ID_CODEUDOR" type="db:PROXYABANKSHN.TNUMBER7" db:index="63" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NAME_CODEUDOR" type="db:PROXYABANKSHN.TVARCHAR250" db:index="64" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_ID_FIADOR" type="db:PROXYABANKSHN.TNUMBER7" db:index="65" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NAME_FIADOR" type="db:PROXYABANKSHN.TVARCHAR250" db:index="66" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOMBRE_ITEM_FAUTO" type="db:PROXYABANKSHN.TVARCHAR40" db:index="67" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_VALOR_ITEM_FAUTO" type="db:PROXYABANKSHN.TVARCHAR100" db:index="68" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_DEPTO" type="string" db:index="69" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_MUNICIPIO" type="string" db:index="70" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ALDEA" type="string" db:index="71" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CATEGORIA_RAS" type="string" db:index="72" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_GLOBAL_ID" type="string" db:index="80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PN_CODIGO_EMPRESA" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_AGENCIA" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_SUB_APLICACION" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PT_NUMERO_POLIZA" type="db:PROXYABANKSHN.TVARCHAR10" db:index="46" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_PRESTAMO" type="string" db:index="73" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_NUMERO_CONTRATO" type="decimal" db:index="74" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_NUMERO_GARANTIA" type="decimal" db:index="75" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_COD_ERROR_GARANTIA" type="decimal" db:index="76" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR_GARANTIA" type="string" db:index="77" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ERROR" type="string" db:index="78" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCION_ERROR" type="string" db:index="79" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSHN.TVARCHAR10">
      <sequence>
         <element name="PT_NUMERO_POLIZA_ITEM" type="db:string10" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TNUMBER2">
      <sequence>
         <element name="PT_CODIGO_ASEGURADORA_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TDATE">
      <sequence>
         <element name="PT_FECHA_FINAL_SEG_ITEM" type="dateTime" db:type="DATE" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR100">
      <sequence>
         <element name="PT_VALOR_ITEM_FAUTO_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR250">
      <sequence>
         <element name="PT_NAME_CODEUDOR_ITEM" type="db:string250" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TNUMBER7">
      <sequence>
         <element name="PT_ID_CODEUDOR_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR2">
      <sequence>
         <element name="PT_CODIGO_TIPO_POLIZA_ITEM" type="db:string2" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TMONTOPR">
      <sequence>
         <element name="PT_PRIMA_MENSUAL_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR40">
      <sequence>
         <element name="PT_NOMBRE_ITEM_FAUTO_ITEM" type="db:string40" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>