Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaListasRegulatorias/xsd/consultaListasRegulatoriasTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaListasRegulatoriasTypes" 
           xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaListasRegulatoriasTypes">

	<!-- stringMinLength1Type -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
	<!-- OPEREACION: CONSULTA CLIENTE EN FATCA -->
	
	<xs:element name="consultaFATCA">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID_TYPE" type="tns:stringMinLength1"/>
				<xs:element name="CUSTOMER_ID_VALUE" type="tns:stringMinLength1"/>
			</xs:sequence>	
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaFATCAResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IS_MULTI_NATIONALITY" type="xs:string" minOccurs="0"/>
				<xs:element name="NATIONALITIES" type="tns:nationalitiesResponseType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="IS_RESIDENT_USA" type="xs:string" minOccurs="0"/>
				<xs:element name="RES_MIGRATORY_EFFECTS" type="xs:string" minOccurs="0"/>
				<xs:element name="COUNTRY_RES_TAX_EFFECTS" type="xs:string" minOccurs="0"/>
				<xs:element name="FISCALID_IN_USA" type="xs:string" minOccurs="0"/>
				<xs:element name="FISCALID_ANOTHER_COUNTRY" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="nationalitiesResponseType">
		<xs:sequence>
			<xs:element name="NATIONALITY_TYPE" type="tns:nationalityResponseType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="nationalityResponseType">
		<xs:sequence>
			<xs:element name="NATIONALITY" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>	
	
	<!-- OPEREACION: CONSULTA CLIENTE EN LISTA PEP consultaPEP -->
	
	<xs:element name="consultaPEP">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID_TYPE" type="tns:stringMinLength1"/>
				<xs:element name="CUSTOMER_ID_VALUE" type="tns:stringMinLength1"/>
			</xs:sequence>	
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaPEPResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IS_PUBLIC_FIGURE" type="xs:string" minOccurs="0"/>
				<xs:element name="PUBLIC_POSITION" type="xs:string" minOccurs="0"/>
				<xs:element name="PERIOD_PEP_POSITION" type="xs:string" minOccurs="0"/>
				<xs:element name="INSTITUTION" type="xs:string" minOccurs="0"/>
				<xs:element name="HAS_FAMILY_PEP" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="FAMILY_MEMBERS" type="tns:familyMembersResponseType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="MOTHER_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="FATHER_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="CHILDRENS" type="tns:dataOfSonsResponseType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="AUTH_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="AUTH_POSITION" type="xs:string" minOccurs="0"/>
				<xs:element name="AUTH_DATE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>	
	</xs:element>
	
	<xs:complexType name="familyMembersResponseType">
		<xs:sequence>
			<xs:element name="FAMILY" type="tns:familyResponseType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="familyResponseType">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="POSITION" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PERIOD" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="dataOfSonsResponseType">
		<xs:sequence>
			<xs:element name="CHILDRENS_TYPES" type="tns:sonsResponseType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="sonsResponseType">
		<xs:sequence>
			<xs:element name="CHLIDREN_NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
		
</xs:schema>