Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/BusinessServices/AbanksGT/ConsultaCuenta/xsd/MCConsultaCuenta_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MCConsultaCuenta" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MCConsultaCuenta" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PR_ACCOUNT_REFERENCE" type="db:PROXYABANKSGT.R_ACCOUNT_REFERENCE" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_SHOW_SIGNATURE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PR_ACCOUNT_INFO" type="db:PROXYABANKSGT.R_ACCOUNT_INFO" db:index="3" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PR_SIGNATURES" type="db:PROXYABANKSGT.R_SIGNATURES" db:index="4" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PR_PASSBOOK_INFO" type="db:PROXYABANKSGT.R_PASSBOOK_INFO" db:index="5" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ESTADO" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ESTADO" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   
   <complexType name="PROXYABANKSGT.R_ACCOUNT_REFERENCE">
      <sequence>
         <element name="TYPE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_SIGNATURES">
      <sequence>
         <element name="REGISTERED" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REQUIRED" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DESCRIPTION" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SIGNATURE" type="db:PROXYABANKSGT.T_SIGNATURE" db:type="Array" minOccurs="0" nillable="true"/>         
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_ACCOUNT_INFO">
      <sequence>
         <element name="NUMBERS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NAME" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TYPE" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STATUS" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_PASSBOOK_INFO">
      <sequence>
         <element name="TYPE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_SIGNATURE">
      <sequence>
         <element name="SIGNATURE_ITEM" type="db:PROXYABANKSGT.R_SIGNATURE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_SIGNATURE">
      <sequence>
         <element name="TYPE" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NAME" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="IMAGE" type="db:string4000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FILE_EXTENSION" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string4000">
      <restriction base="string">
         <maxLength value="4000"/>
      </restriction>
   </simpleType>
</schema>
