Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SJS/consultaActivosPasivosCliente/xsd/sjConsultaActivosPasivosCliente.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaActivosPasivosCliente" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaActivosPasivosCliente" elementFormDefault="qualified" >
	
	<xs:element name="sjConsultaActivosPasivosCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" type="xs:string" />
				<xs:element name="PASSWORD" type="xs:string" />	
				<xs:element name="SOURCE_BANK" type="xs:string" />	
				<xs:element name="DESTINATION_BANK" type="xs:string" />			
				<xs:element name="CUSTOMER_ID" type="xs:string" />
				<xs:element name="TYPE" type="xs:string"/>
				<xs:element name="LIABILITY_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="ASSET_TYPE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		

	<xs:element name="sjConsultaActivosPasivosClienteResponse">
		<xs:complexType>
			<xs:sequence>
			 <xs:element name="ASSETS_STATUS" minOccurs="0" maxOccurs="1">
			 <xs:complexType>
						<xs:sequence>			
                            <xs:element name="STATUS" type="cons:StatusActivosClienteResponseType" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
			 </xs:complexType>
			 </xs:element>
             <xs:element name="ASSETS_INFORMATION" minOccurs="0" maxOccurs="1">
             <xs:complexType>
						<xs:sequence>
							<xs:element name="ASSET" type="cons:consultaActivosClienteResponseType" minOccurs="0" maxOccurs="1"/>		
						</xs:sequence>
					</xs:complexType>
			 </xs:element>
             <xs:element name="LIABILITIES_STATUS" minOccurs="0" maxOccurs="1">
             <xs:complexType>
						<xs:sequence>
							<xs:element name="STATUS" type="cons:StatusActivosClienteResponseType" minOccurs="0" maxOccurs="1"/>						
						</xs:sequence>
					</xs:complexType>
			 </xs:element>
             <xs:element name="LIABILITIES_INFORMATION" minOccurs="0" maxOccurs="1">
              <xs:complexType>
						<xs:sequence>
							<xs:element name="LIABILITIY" type="cons:consultaPasivosClienteResponseType" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
		   </xs:complexType>
      	   </xs:element>
       </xs:sequence>
	  </xs:complexType>
	</xs:element>
	
     <!--############################### -->
	<!--OPERACION: ACTIVOS CLIENTES -->
	<!--############################### -->
	
	<xs:complexType name="consultaActivosClienteResponseType">
		<xs:sequence>
			<xs:element name="consultaActivosClienteAhorrosResponseType"
				type="cons:consultaActivosClienteResponseRecordType" form="qualified"
				minOccurs="0" />
			<xs:element name="consultaActivosClienteCorrienteResponseType"
				type="cons:consultaActivosClienteResponseRecordType" form="qualified"
				minOccurs="0" />
			<xs:element name="consultaActivosClienteDepositosResponseType"
				type="cons:consultaActivosClienteResponseRecordType" form="qualified"
				minOccurs="0" />
			<xs:element name="consultaActivosClientePensionesResponseType"
				type="cons:consultaActivosClienteResponseRecordType" form="qualified"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaActivosClienteResponseRecordType">
		<xs:sequence>
		    <xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0" />
			<xs:element name="consultaActivosClienteResponseRecordType"
				type="cons:consultaActivosClienteResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaActivosClienteResponseArrayType">
		<xs:sequence>
			<xs:element name="ASSET_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="ASSET_NUMBER" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="ASSET_CURRENCY" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_TOTAL_BALANCE" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_RESERVE_BALANCE" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_LOCKED_BALANCE" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_VISA_FLOATING_BALANCE" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_AVAILABLE_BALANCE" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_SOURCE_BANK" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_PRODUCT_TYPE" type="xs:string"
				minOccurs="0" />	
		</xs:sequence>
	</xs:complexType>
	
	<!--############################### -->
	<!--OPERACION: PASIVOS CLIENTES -->
	<!--############################### -->
	
	<xs:complexType name="consultaPasivosClienteResponseType">
		<xs:sequence>
			<xs:element name="consultaPasivosClientePrestamosResponseType"
				type="cons:consultaPasivosClienteResponseRecordType" form="qualified"
				minOccurs="0" />
			<xs:element name="consultaPasivosClienteTCreditoResponseType"
				type="cons:consultaPasivosClienteResponseRecordType" form="qualified"
				minOccurs="0" />
			<xs:element name="consultaPasivosClientePrestamosTCResponseType"
				type="cons:consultaPasivosClienteResponseRecordType" form="qualified"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPasivosClienteResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaPasivosClienteResponseRecordType"
				type="cons:consultaPasivosClienteResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaPasivosClienteResponseArrayType">
		<xs:sequence>
			<xs:element name="LIABILITY_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_CUST_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_CURRENCY_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_PRINCIPAL_AMT_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_INT_COM_AMT_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_TOTAL_AMT_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_CURRENCY_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_PRINCIPAL_AMT_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_INT_COM_AMT_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_TOTAL_AMT_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_TOTAL_AMT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_PAYMENT_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_SOURCE_BANK" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LIABILITY_TOTAL_CANCELATION_AMT" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	
	  <!--############################### -->
	<!--OPERACION: ACTIVOS CLIENTES -->
	<!--############################### -->
	
	<xs:complexType name="StatusActivosClienteResponseType">
		<xs:sequence>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="StatusPasivosClienteResponseType">
		<xs:sequence>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>



