Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ReversaEfectivoTC_v2/xsd/XMLSchema_-1638440918.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/reversaEfectivoTCTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:rev="http://www.ficohsa.com.hn/middleware.services/reversaEfectivoTCTypes">

	<!-- stringMinLength1Type -->
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="reversaEfectivoTC">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CREDIT_CARD" type="rev:stringMinLength1" />
				<xs:element name="TRANSACTION_ID" type="xs:string"
					minOccurs="0" />
				<xs:element name="REFERENCE_NUMBER" type="rev:stringMinLength1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="reversaEfectivoTCResponse" />

</xs:schema>