Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABKGT/consultaDetalleTransaccion/xsd/ORA_BANK_OSB_K_CONSULTARECIBOPRESTAMO_TOPLEVEL-24OSB_CON_RECIBO_PREST.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_K_CONSULTARECIBOPRESTAMO/TOPLEVEL-24OSB_CON_RECIBO_PREST/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/ORA_BANK/OSB_K_CONSULTARECIBOPRESTAMO/TOPLEVEL-24OSB_CON_RECIBO_PREST/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="ACCOUNT_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TRANSACTION_REFERENCE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="LABELS" type="db:TOPLEVEL_TVARCHAR40003" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="VALUESS" type="db:TOPLEVEL_TVARCHAR40003" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TOPLEVEL_TVARCHAR40003">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="4000"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>