Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaProductosMora/wsdl/consultaProductosMoraPS.wsdl

<wsdl:definitions name="consultaProductosMoraPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaProductosMoraPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaProductosMoraPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:alt="http://www.ficohsa.com.hn/middleware.services/ConsultasCarteraCrediticia" xmlns:tns="http://www.bea.com/wli/sb/stages/transform/config">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/ConsultasCarteraCrediticia" schemaLocation="../../ConsultasCarteraCrediticia/xsd/consultasCarteraCrediticiaTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestHeader">
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="responseHeader">
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
     
    <wsdl:message name="consultaProductosMoraRequest">
        <wsdl:part element="alt:consultaProductosMoraRequest" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="consultaProductosMoraResponse">
        <wsdl:part element="alt:consultaProductosMoraResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:portType name="consultaProductosMoraPS">
        <wsdl:operation name="consultaProductosMora" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaProductosMoraRequest"/>
            <wsdl:output message="fic:consultaProductosMoraResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="consultaProductosMoraPSSOAP" type="fic:consultaProductosMoraPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultaProductosMora">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaProductosMoraPS/consultaProductosMora"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="consultaProductosMoraPS">
        <wsdl:port binding="fic:consultaProductosMoraPSSOAP" name="consultaProductosMoraPSSOAP">
           <soap:address location="https://172.23.13.19:8004/Middleware/CarteraCrediticia/ConsultaProductosMora"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>