Fuentes/ficohsacore-osb12-b78f21b126d5/LegacyCoreBankingHN/ProviderServices/XSD/CreateCustomerAbanks/v1.0/CreateCustomerAbanks_BS_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CreateCustomerAbanks_BS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CreateCustomerAbanks_BS" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CD_CLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CD_TIPO_ID" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NRO_ID" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CD_AGENCIA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CD_PAIS" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_PERSONA" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRES" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDOS" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDO_CASADA" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SEXO" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FECHA_NACIMIENTO" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADO_CIVIL" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RAZON_SOCIAL" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RPTE_LEGAL" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NRO_ID_R" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_EMPRESA" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_COMERCIAL" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ADICIONADO_POR" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FECHA_ADICION" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NRO_ESCRITURA" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CD_OFICIAL" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_C_RIESGOS" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TEL_CASA_RLEGAL" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_STATUS" type="string" db:index="24" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CD_DIRECCION" type="string" db:index="25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CD_DEPARTAMENTO" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CD_MUNICIPIO" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LINEA_DIR_1" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LINEA_DIR_2" type="string" db:index="29" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONOS" type="string" db:index="30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FAX" type="string" db:index="31" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CD_SECTORIZACION" type="string" db:index="32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CANT_DEPENDIENTES" type="string" db:index="33" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NIVEL_EDUCATIVO" type="string" db:index="34" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_CONYUGUE" type="string" db:index="35" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CELULAR" type="string" db:index="36" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_EMAIL" type="string" db:index="37" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_EXTENSION" type="string" db:index="38" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_EMPRESA" type="string" db:index="39" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FECHA_ENTRADA" type="string" db:index="40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_OCUPACION" type="string" db:index="41" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA_INGRESO" type="string" db:index="42" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RANGO_SUELDO" type="string" db:index="43" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_COD_TIPO_IDENTIFICACION_R" type="string" db:index="44" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_DE_EMPRESA" type="string" db:index="45" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_DEPARTAMENTO" type="string" db:index="46" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_MUNICIPIO" type="string" db:index="47" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_PROFESION" type="string" db:index="48" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_OBJETIVO_SOCIAL" type="string" db:index="49" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CAPITAL_SOCIAL" type="string" db:index="50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_TIPO_PERSONA_BCH" type="string" db:index="51" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_TIPO_PODER_R" type="string" db:index="52" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NRO_INSCRIPCION" type="string" db:index="53" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TOMO_INSCRIPCION" type="string" db:index="54" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FECHA_ACTA" type="string" db:index="55" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TRABAJA" type="string" db:index="56" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_VOLUMEN_VENTAS" type="string" db:index="57" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_EMAIL_RLEGAL" type="string" db:index="58" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LUGAR_DE_NACIMIENTO" type="string" db:index="59" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_VEHICULO_PROPIO" type="string" db:index="60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DEMANDA" type="string" db:index="61" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_ACCIONES" type="string" db:index="62" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CONSEJO_ADMON" type="string" db:index="63" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FACULTADES_REPRESENTANTE" type="string" db:index="64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONO_EMPRESA_RLEGAL" type="string" db:index="65" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CELULAR_RLEGAL" type="string" db:index="66" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_TIPO_GENERADOR" type="string" db:index="67" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RTN" type="string" db:index="68" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_TIPO_DIRECCION" type="string" db:index="69" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CASA_COMERCIAL" type="string" db:index="70" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CONTACTO_REF_COM" type="string" db:index="71" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONOS_REF_COM" type="string" db:index="72" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_CONTACTO1" type="string" db:index="73" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_CONTACTO2" type="string" db:index="74" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_CONTACTO3" type="string" db:index="75" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONO_CASA_CONTACTO" type="string" db:index="76" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONO_MOVIL_CONTACTO" type="string" db:index="77" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CARGO" type="string" db:index="78" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_MONEDA" type="string" db:index="79" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PRIVADA_PUBLICA" type="string" db:index="80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FUENTE_INGRESOS" type="string" db:index="81" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_DEPENDIENTE" type="string" db:index="82" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_COD_PARENTEZCO_DEPENDIENTE" type="string" db:index="83" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_COD_PROFESION_DEPENDIENTE" type="string" db:index="84" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_REF_PER" type="string" db:index="85" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PRIMER_APELLIDO_REF_PER" type="string" db:index="86" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SEGUNDO_APELLIDO_REF_PER" type="string" db:index="87" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDO_DE_CASADA_REF_PER" type="string" db:index="88" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONO_REF_COM" type="string" db:index="89" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_REFERENCIA_PERSONAL" type="string" db:index="90" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_TIPO_IDENT_SOCIOS" type="string" db:index="91" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUM_IDENTIFICACION_SOCIOS" type="string" db:index="92" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRES_SOCIOS" type="string" db:index="93" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDOS_SOCIOS" type="string" db:index="94" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDO_DE_CASADA_SOCIOS" type="string" db:index="95" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PORCENTAJE_PARTICIPACION" type="string" db:index="96" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DIRECCION_PRINCIPAL" type="string" db:index="97" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NO_PROM_PROVEEDORES" type="string" db:index="98" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RECOLECCION_VALORES" type="string" db:index="99" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SEGMENTACION_TARGET" type="string" db:index="100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PAIS_CONSTITUCION" type="string" db:index="101" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA_CONSTITUCION" type="string" db:index="102" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FECHA_INSCRIPCION_COSNT" type="string" db:index="103" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FACULTADES_CONSTITUCION" type="string" db:index="104" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_COLONIA" type="string" db:index="105" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_AVENIDA" type="string" db:index="106" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CALLE" type="string" db:index="107" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BLOQUE" type="string" db:index="108" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_CASA" type="string" db:index="109" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_REFERENCIAS" type="string" db:index="110" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_PERSO_CONTAC" type="string" db:index="111" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TEL_CASA_PERSO_CONTAC" type="string" db:index="112" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CEL_PERSO_CONTAC" type="string" db:index="113" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_EMAIL_PERSO_CONTAC" type="string" db:index="114" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CARGO_PERSO_CONTAC" type="string" db:index="115" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_COMERCIANTE" type="string" db:index="116" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NACIONALIDAD" type="string" db:index="117" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPOS_SECTORIZACION" type="string" db:index="118" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_CLIENTE_MAIN" type="string" db:index="119" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CLIENTE_UBICACION_GEO" type="string" db:index="120" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CLIENTE_PRODUCTOS_MAIN" type="string" db:index="121" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CLIENTE_TELEFONO_MAIN" type="string" db:index="122" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_PROVEEDOR" type="string" db:index="123" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PROVEEDOR_UBICACION_GEO" type="string" db:index="124" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PROVEEDOR_PRODUCTOS_MAIN" type="string" db:index="125" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PROVEEDOR_TELEFONO_MAIN" type="string" db:index="126" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_INDUSTRIA" type="string" db:index="127" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_EMPRESA_TRABAJO" type="string" db:index="128" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_IDENTIFICACION_REP" type="string" db:index="129" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DIR_MAIN_ELECTRONICA" type="string" db:index="130" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUMERO_DE_EMPLEADOS" type="string" db:index="131" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_OBSERVACIONES_APER" type="string" db:index="132" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RESIDENCIA_STATUS" type="string" db:index="133" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CUSTOMERTYPE" type="string" db:index="134" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CD_TIPO_ID" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRES" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDOS" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDO_CASADA" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FECHA_NACIMIENTO" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADO_CIVIL" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CD_OFICIAL" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CANT_DEPENDIENTES" type="string" db:index="33" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NIVEL_EDUCATIVO" type="string" db:index="34" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_OCUPACION" type="string" db:index="41" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RANGO_SUELDO" type="string" db:index="43" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_COD_TIPO_IDENTIFICACION_R" type="string" db:index="44" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_PROFESION" type="string" db:index="48" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_TIPO_PERSONA_BCH" type="string" db:index="51" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_TIPO_PODER_R" type="string" db:index="52" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LUGAR_DE_NACIMIENTO" type="string" db:index="59" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_VEHICULO_PROPIO" type="string" db:index="60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DEMANDA" type="string" db:index="61" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_ACCIONES" type="string" db:index="62" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RTN" type="string" db:index="68" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CASA_COMERCIAL" type="string" db:index="70" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CONTACTO_REF_COM" type="string" db:index="71" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONOS_REF_COM" type="string" db:index="72" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_CONTACTO1" type="string" db:index="73" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_CONTACTO2" type="string" db:index="74" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_CONTACTO3" type="string" db:index="75" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONO_CASA_CONTACTO" type="string" db:index="76" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONO_MOVIL_CONTACTO" type="string" db:index="77" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CARGO" type="string" db:index="78" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PRIVADA_PUBLICA" type="string" db:index="80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_REF_PER" type="string" db:index="85" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PRIMER_APELLIDO_REF_PER" type="string" db:index="86" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SEGUNDO_APELLIDO_REF_PER" type="string" db:index="87" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDO_DE_CASADA_REF_PER" type="string" db:index="88" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TELEFONO_REF_COM" type="string" db:index="89" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_REFERENCIA_PERSONAL" type="string" db:index="90" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_TIPO_IDENT_SOCIOS" type="string" db:index="91" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NUM_IDENTIFICACION_SOCIOS" type="string" db:index="92" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRES_SOCIOS" type="string" db:index="93" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDOS_SOCIOS" type="string" db:index="94" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDO_DE_CASADA_SOCIOS" type="string" db:index="95" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PORCENTAJE_PARTICIPACION" type="string" db:index="96" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NO_PROM_PROVEEDORES" type="string" db:index="98" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RECOLECCION_VALORES" type="string" db:index="99" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PAIS_CONSTITUCION" type="string" db:index="101" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA_CONSTITUCION" type="string" db:index="102" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_EMAIL_PERSO_CONTAC" type="string" db:index="114" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CARGO_PERSO_CONTAC" type="string" db:index="115" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NACIONALIDAD" type="string" db:index="117" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_CLIENTE_MAIN" type="string" db:index="119" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CLIENTE_UBICACION_GEO" type="string" db:index="120" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CLIENTE_PRODUCTOS_MAIN" type="string" db:index="121" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CLIENTE_TELEFONO_MAIN" type="string" db:index="122" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_PROVEEDOR" type="string" db:index="123" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PROVEEDOR_UBICACION_GEO" type="string" db:index="124" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PROVEEDOR_PRODUCTOS_MAIN" type="string" db:index="125" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PROVEEDOR_TELEFONO_MAIN" type="string" db:index="126" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_INDUSTRIA" type="string" db:index="127" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DIR_MAIN_ELECTRONICA" type="string" db:index="130" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_OBSERVACIONES_APER" type="string" db:index="132" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RESIDENCIA_STATUS" type="string" db:index="133" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DS_ERROR" type="string" db:index="135" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_CD_ERROR" type="decimal" db:index="136" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
