Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/confirmaCheque/consultaEstadoCheque/consultaEstadoChequeTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaEstadoChequeTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaEstadoChequeTypes">

	<xs:element name="consultaEstadoCheque">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				<xs:element name="CHEQUE_NUMBER" type="xs:string"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaEstadoChequeResponse" type="cons:consultaEstadoChequeResponseType"/>		
	
	<xs:complexType name="consultaEstadoChequeResponseType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
		    <xs:element name="CHEQUE_NUMBER" type="xs:string"/>									
			<xs:element name="CHEQUE_STATUS" type="xs:string"/>			
		</xs:sequence>
	</xs:complexType>

</xs:schema>