Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaAutorizacionesFlotantes/xsd/consultaAutorizacionesFlotantesTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaAutorizacionesFlotantesTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaAutorizacionesFlotantesTypes">

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="consultaAutorizacionesFlotantes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:string" minOccurs="0" />
				<xs:element name="CARD_NUMBER" type="tns:stringMinLength1" />
				<xs:element name="START_DATE" type="tns:stringMinLength1" />
				<xs:element name="END_DATE" type="tns:stringMinLength1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="authorizationItemType">
		<xs:sequence>
			<xs:element name="SEQUENCE_CARD" type="xs:string"
				minOccurs="0" />
			<xs:element name="CREDIT_PLAN" type="xs:string" minOccurs="0" />
			<xs:element name="AVAILABLE_PURCHASE" type="xs:string"
				minOccurs="0" />
			<xs:element name="CASH_AVAILABLE_CREDIT" type="xs:string"
				minOccurs="0" />
			<xs:element name="EFFECTIVE_DATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="TIME" type="xs:string" minOccurs="0" />
			<xs:element name="AUTH_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="ACTION" type="xs:string" minOccurs="0" />
			<xs:element name="ACTION_REASON" type="xs:string"
				minOccurs="0" />
			<xs:element name="REASON_DESCRIPTION" type="xs:string"
				minOccurs="0" />
			<xs:element name="REQUEST_TYPE" type="xs:string"
				minOccurs="0" />
			<xs:element name="AUTH_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="AUTHORIZATION_CODE" type="xs:string"
				minOccurs="0" />
			<xs:element name="MERCH_CAT_CD" type="xs:string"
				minOccurs="0" />
			<xs:element name="CATEGORY_DESCRIPTION" type="xs:string"
				minOccurs="0" />
			<xs:element name="NAME_LOCATION_CARD_ACCEPTOR" type="xs:string"
				minOccurs="0" />
			<xs:element name="TRANSACTION_DESCRIPTION" type="xs:string"
				minOccurs="0" />
			<xs:element name="TRANSACTION_ENTRY_MODE" type="xs:string"
				minOccurs="0" />
			<xs:element name="TRANSACTION_ENTRY_DESCRIPTION" type="xs:string"
				minOccurs="0" />
			<xs:element name="MERCHANT_CODE" type="xs:string"
				minOccurs="0" />
			<xs:element name="RESPONSE_CODE" type="xs:string"
				minOccurs="0" />
			<xs:element name="CURRENCY_CODE" type="xs:string"
				minOccurs="0" />
			<xs:element name="CRD_ACCPT_ST_CTRY" type="xs:string"
				minOccurs="0" />
			<xs:element name="TRANSACTION_SOURCE" type="xs:string"
				minOccurs="0" />
			<xs:element name="MERCHANT_CODE_2" type="xs:string"
				minOccurs="0" />
			<xs:element name="PROCESSING_CODE" type="xs:string"
				minOccurs="0" />
			<xs:element name="TRANSACTION_AMOUNT" type="xs:string"
				minOccurs="0" />
			<xs:element name="TRANSACTION_TIME" type="xs:string"
				minOccurs="0" />
			<xs:element name="TRANSACTION_DATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="REFERENCE_NUMBER" type="xs:string"
				minOccurs="0" />
			<xs:element name="TRANSACTION_CURRENCY" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="authorizationsType">
		<xs:sequence>
			<xs:element name="ORG" type="xs:string" minOccurs="0" />
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="AUTHORIZATION_ITEMS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AUTHORIZATION_ITEM" type="tns:authorizationItemType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaAutorizacionesFlotantesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AUTHORIZATIONS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AUTHORIZATION" type="tns:authorizationsType"
								minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>