Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SecValidaRemesaenListas/xsd/validaRemesasenListas_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/validaRemesasenListas" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/validaRemesasenListas" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CLAVE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_PAGO" type="dateTime" db:index="2" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_TRANSACCION" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_BENEFICIARIO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_ORDENANTE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MONTO" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="TR_LISTAS" type="db:PAGOSWS.OSB_T_LISTAS_OFAC_ONU" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADO" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ERROR" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PAGOSWS.OSB_RT_LISTAS_OFAC_ONU">
      <sequence>
         <element name="ID_LISTA" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_ORDENANTE" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PAGOSWS.OSB_T_LISTAS_OFAC_ONU">
      <sequence>
         <element name="TR_LISTAS_ITEM" type="db:PAGOSWS.OSB_RT_LISTAS_OFAC_ONU" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
</schema>
