Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RegistraVentaMenor/xsd/registraVentaMenorTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/registraVentaMenorTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/registraVentaMenorTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: registraVentaMenor -->
    <!--############################################-->
    <xs:element name="registraVentaMenor">
        <xs:complexType>
            <xs:sequence>
	            <xs:element name="LEGAL_ID" type="xs:string"  minOccurs="0" />
	            <xs:element name="CUSTOMER_ID" type="xs:string"  minOccurs="0" />
	            <xs:element name="FOREIGN_AMOUNT" type="xs:string"  minOccurs="0" />
	            <xs:element name="LOCAL_AMOUNT" type="xs:string"  minOccurs="0" />
	            <xs:element name="DESTINATION_CURRENCY" type="xs:string"  minOccurs="0" />
	            <xs:element name="EXCHANGE_RATE" type="xs:string"  minOccurs="0" />
	            <xs:element name="TRANSACTION_DATE" type="xs:string"  minOccurs="0" />
	            <xs:element name="TRANSACTION_ID" type="xs:string"  minOccurs="0" />
	            <xs:element name="PRODUCT_NUMBER" type="xs:string"  minOccurs="0" />
	            <xs:element name="USER_ID" type="xs:string"  minOccurs="0" />
	            <xs:element name="BRANCH" type="xs:string" minOccurs="0"/>
         	</xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="registraVentaMenorResponse">
        <xs:complexType>
             <xs:sequence>
            	<xs:element name="TRANSACTION_ID" type="xs:string"  minOccurs="0" />
            	<xs:element name="ERROR_MESSAGE" type="xs:string"  minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>