Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/CloudCodeLogin/Schemas/CloudCodeLoginTypes.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ccl="http://www.ficohsa.com.hn/honduras/cloudCodeLoginTypes"
            targetNamespace="http://www.ficohsa.com.hn/honduras/cloudCodeLoginTypes">
  <xsd:element name="cloudCodeLogin">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="credenciales" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cloudCodeLoginResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
        <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
        <xsd:element name="datos" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="token" type="xsd:string" minOccurs="0"/>
              <xsd:element name="clave_segura" type="xsd:string" minOccurs="0"/>
              <xsd:element name="sesionesActivas" type="xsd:string" minOccurs="0"/>
              <xsd:element name="sesionToken" type="xsd:string" minOccurs="0"/>
              <xsd:element name="autorizadoMicrositio" type="xsd:string" minOccurs="0"/>
              <xsd:element name="usuario" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="usuario_id" type="xsd:integer" minOccurs="0"/>
                    <xsd:element name="usuario_alias" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="usuario_nombre" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="usuario_correo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="consumidor_nombre" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>