Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/CloudCodeLogin/Schemas/GetEncryptCredentialsTypes.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="https://www.ficohsa.com/honduras/pension/getEncryptCredentialsTypes"
            targetNamespace="https://www.ficohsa.com/honduras/pension/getEncryptCredentialsTypes">
  <xsd:element name="cloudCodeLoginRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="userName" type="xsd:string"/>
        <xsd:element name="password" type="xsd:string"/>
        <xsd:element name="timestamp" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="forceLogin" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cloudCodeLoginResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="successIndicator" type="xsd:string" minOccurs="0"/>
        <xsd:element name="message" type="xsd:string" minOccurs="0"/>
        <xsd:element name="credentials" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>