Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/CloudCodeLogin/Schemas/UserLoginTypes.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/honduras/pension/user"
            targetNamespace="https://www.ficohsa.com/honduras/pension/user" elementFormDefault="qualified">
  <xsd:element name="credentials">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="userName" type="xsd:string"/>
        <xsd:element name="userPassword" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="serviceAccount">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="accountName" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>