Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultaRecaudoAMDC/ConsultaRecaudoAMDC.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaRecaudoAMDCTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaRecaudoAMDCTypes">
	
	<xs:complexType name="consultaRecaudoAMDCResponse">
		<xs:sequence>
		    <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0" />
			<xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0" />
			<xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="MONTHS_TO_PAY" type="xs:string" minOccurs="0" />
			<xs:element name="TOTAL_AMOUNT" type="xs:string" minOccurs="0" />
	    </xs:sequence> 
	</xs:complexType>
	
	<xs:element name="consultaRecaudoAMDC">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CONTRACT_ID" type="xs:string" />
	            <xs:element name="DEBTOR_CODE" type="xs:string" />
	            <xs:element name="YEAR_TO_PAY" type="xs:string" />
	            <xs:element name="MONTHS_TO_PAY" type="xs:string" minOccurs="0"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaRecaudoAMDCResponse" type="cons:consultaRecaudoAMDCResponse" />
	
</xs:schema>