Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/ABKGT/ConsultaRecaudo/xsd/ConsultaRecaudo_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaRecaudo" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultaRecaudo" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CONTRACT_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DEBTOR_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CURRENCY" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BILL_AMOUNT" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BILL_DATE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BILL_RETURN_TYPE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_EXTENDED_COLLECTION_Y_N" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DATA" type="db:OSB_K_CONVENIOS_TVARCHAR502" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CONTRACT_ID_OUT" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CONTRACT_NAME" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DEBTOR_CODE_OUT" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DEBTOR_NAME" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BILL_DETAIL" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ADDRESS" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BILL_NUMBER" type="db:OSB_K_CONVENIOS_TVARCHAR203" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_BILL_CURRENCY" type="db:OSB_K_CONVENIOS_TVARCHAR104" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_BILL_DATE_OUT" type="db:OSB_K_CONVENIOS_TVARCHAR203" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_DUE_DATE" type="db:OSB_K_CONVENIOS_TVARCHAR203" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_BILL_AMOUNT_OUT" type="db:OSB_K_CONVENIOS_TVARCHAR203" db:index="19" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_LATE_FEE" type="db:OSB_K_CONVENIOS_TVARCHAR203" db:index="20" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_TOTAL_AMOUNT" type="db:OSB_K_CONVENIOS_TVARCHAR203" db:index="21" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_SUCCESSINDICATOR" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MESSAGES" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="OSB_K_CONVENIOS_TVARCHAR203">
      <sequence>
         <element name="PV_BILL_NUMBER_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="OSB_K_CONVENIOS_TVARCHAR104">
      <sequence>
         <element name="PV_BILL_CURRENCY_ITEM" type="db:string10" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="OSB_K_CONVENIOS_TVARCHAR502">
      <sequence>
         <element name="PV_DATA_ITEM" type="db:string50" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
</schema>