Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/BloqueoTC/wsdl/bloqueoTCPS.wsdl

<wsdl:definitions name="bloqueoTCPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/bloqueoTCPS/" xmlns:btc="http://www.ficohsa.com.hn/middleware.services/bloqueoTCPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesTarjetasTypes" schemaLocation="../../GestionesTarjetas/xsd/gestionesTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="bloqueoTCRequest">
		<wsdl:part element="tns:bloqueoTC" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="bloqueoTCResponse">
		<wsdl:part element="tns:bloqueoTCResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:portType name="bloqueoTCPS">
		<wsdl:operation name="bloqueoTC" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="btc:bloqueoTCRequest"/>
			<wsdl:output message="btc:bloqueoTCResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="bloqueoTCPSSOAP" type="btc:bloqueoTCPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="bloqueoTC">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="btc:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="btc:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="bloqueoTCPS">
		<wsdl:port binding="btc:bloqueoTCPSSOAP" name="bloqueoTCPSSOAP">
			<soap:address location="http://172.23.13.19:8003/Middleware/OperationsAndExecution/Cards/BloqueoTC/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>