Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/Remesas/NotificaEstadoRemesa/xsd/actualizaEstadoRemesa_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/actualizaEstadoRemesa" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/actualizaEstadoRemesa" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_NUMERO_CONTRATO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CLAVES" type="db:TERCEROS.REM_ACT_CLAVE" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TERCEROS.REM_ACT_CLAVE">
      <sequence>
         <element name="PV_CLAVES_ITEM" type="db:TERCEROS.O_RT_ACT_CLAVE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TERCEROS.O_RT_ACT_CLAVE">
      <sequence>
         <element name="CLAVE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>  
</schema>