Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/PuntoVentaVirtual/xsd/puntoVentaVirtualTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/puntoVentaVirtualTypes"
	xmlns:pos="http://www.ficohsa.com.hn/middleware.services/puntoVentaVirtualTypes">
	
<!-- CONSUMO TARJETA CREDITO -->
	<xs:element name="consumoTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				
				<xs:element name="CREDIT_CARD_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="16" />
							<xs:maxLength value="16" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EXPIRATION_DATE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SECURITY_CODE" type="xs:string" minOccurs="1" />
				<xs:element name="AMOUNT" type="xs:decimal" minOccurs="1"/>
				<xs:element name="CURRENCY" type="xs:string" minOccurs="1"/>
				<xs:element name="REFERENCE_NUMBER" type="xs:integer" minOccurs="1"/>
				<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
				<xs:element name="ADDITIONAL_INFO" type="pos:additionalInfoType" minOccurs="0" maxOccurs="1"/>
			
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consumoTarjetaCreditoResponse" type="pos:consumoTarjetaCreditoResponseType" />

	<xs:complexType name="consumoTarjetaCreditoResponseType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AUTHORIZATION_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="REFERENCES" type="pos:referencesType" minOccurs="0" maxOccurs="1"/>
		
		</xs:sequence>
	</xs:complexType>
	
	
	<!-- ANULACION CONSUMO TARJETA CREDITO -->
	<xs:element name="anulacionConsumoTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CREDIT_CARD_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="16" />
							<xs:maxLength value="16" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AMOUNT" type="xs:decimal" minOccurs="1"/>
			    <xs:element name="CURRENCY" type="xs:string" minOccurs="1"/>
				<xs:element name="REFERENCES" type="pos:referencesType" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="anulacionConsumoTarjetaCreditoResponse" type="pos:anulacionConsumoTarjetaCreditoResponseType" />

	<xs:complexType name="anulacionConsumoTarjetaCreditoResponseType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AUTHORIZATION_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="REFERENCES" type="pos:referencesType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- General Types -->
	<xs:complexType name="referencesType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="pos:referenceType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="referenceType">
		<xs:sequence>
			<xs:element name="SOURCE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="additionalInfoType">
	    <xs:sequence maxOccurs="unbounded">        
	        <xs:element name="NAME" type="xs:string"/>
	        <xs:element name="VALUE" type="xs:string"/>
	    </xs:sequence>
	</xs:complexType>
	
	<!-- REVERSA CONSUMO TARJETA CREDITO -->
	<xs:element name="reversaConsumoTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				
				<xs:element name="CREDIT_CARD_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="16" />
							<xs:maxLength value="16" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EXPIRATION_DATE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SECURITY_CODE" type="xs:string" minOccurs="1" />
				<xs:element name="AMOUNT" type="xs:decimal" minOccurs="1"/>
				<xs:element name="CURRENCY" type="xs:string" minOccurs="1"/>
				<xs:element name="REFERENCE_NUMBER" type="xs:integer" minOccurs="1"/>
				<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
				<xs:element name="ADDITIONAL_INFO" type="pos:additionalInfoType" minOccurs="0" maxOccurs="1"/>
			
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="reversaConsumoTarjetaCreditoResponse" type="pos:reversaConsumoTarjetaCreditoResponseType" />

	<xs:complexType name="reversaConsumoTarjetaCreditoResponseType">
		<xs:sequence>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TRANSACTION_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AUTHORIZATION_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="REFERENCES" type="pos:referencesType" minOccurs="0" maxOccurs="1"/>
		
		</xs:sequence>
	</xs:complexType>
	
	

</xs:schema>