Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/NotificaCicloVidaTarjetas/xsd/notificaCicloVidaTarjetas_sp.xsd

<schema
	targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/notificaCicloVidaTarjetas"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/notificaCicloVidaTarjetas"
	elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_REQUESTID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_INSTITUTIONCODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_VAULTIDENTIFICATION" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_WALLETID" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TOKENREQUESTORID" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TOKENREFID" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TOKENTYPE" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DATETIME" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_EVENT" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_TOKENUSERINFO" type="db:DIGITARCLI.tokenUserInfo" db:index="10" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PM_MERCHANTINFO" type="db:DIGITARCLI.merchantInfo" db:index="11" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_DEVICEBINDINGRESULT" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_DEVICEINFO" type="db:DIGITARCLI.deviceInfo" db:index="13" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PT_ENCRYPTEDCARDINFO" type="db:DIGITARCLI.OT_ANDES_ENCRYPTEDPAYLOAD" db:index="14" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PT_ENCRYPTEDTOKENINFO" type="db:DIGITARCLI.OT_ANDES_ENCRYPTEDPAYLOAD" db:index="15" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_PROCESSID" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_REQUESTIDOUT" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURNCODE" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERRORDESCRIPTION" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DIGITARCLI.OT_ANDES_ENCRYPTEDPAYLOAD">
      <sequence>
         <element name="ALGORITHM" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NONCE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="IV" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ENCRYPTEDDATA" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="ASSOCIATEDDATA" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
         <element name="MACLENGTH" type="int" db:type="INTEGER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.merchantInfo">
      <sequence>
         <element name="ID" type="db:string8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MERCHANTNAME" type="db:string256" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.deviceInfo">
      <sequence>
         <element name="DEVICETYPE" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEVICENUMBER" type="db:string13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEVICENAME" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEVICEMODEL" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERIALNUMBER" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEVICEID" type="db:string48" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEVICEINDEX" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.tokenUserInfo">
      <sequence>
         <element name="ID" type="db:string11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APPTYPE" type="db:string13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string11">
      <restriction base="string">
         <maxLength value="11"/>
      </restriction>
   </simpleType>
   <simpleType name="string13">
      <restriction base="string">
         <maxLength value="13"/>
      </restriction>
   </simpleType>
   <simpleType name="string8">
      <restriction base="string">
         <maxLength value="8"/>
      </restriction>
   </simpleType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string48">
      <restriction base="string">
         <maxLength value="48"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
</schema>