Fuentes/ficohsacore-osb12-b78f21b126d5/CommonResources/XSD/CustomerInfoCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org"
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes"
            xmlns:cic="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes"
            xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" elementFormDefault="qualified">
  <xsd:import schemaLocation="CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:complexType name='PhoneInfoType'>
     <xsd:sequence>
        <xsd:element name="Id" minOccurs="0" type="xsd:integer"/>
        <xsd:element name="Type" type="dtt:string1"/>
        <xsd:element name="AreaCode" minOccurs="0" type="xsd:string"/>
        <xsd:element name="PhoneNumber" type="dtt:string1"/>
        <xsd:element name="Extension" minOccurs="0" type="xsd:string"/>
        <xsd:element name="PhoneReference" minOccurs="0" type="xsd:string"/>
     </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
