Fuentes/ficohsacore-osb12-b78f21b126d5/CommonResources/XSD/KeyValueTypes.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:kvp="http://www.ficohsa.com.hn/middleware.services/keyValueTypes"
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/keyValueTypes"
            elementFormDefault="qualified">
 	<xsd:complexType name="KvPair">
		<xsd:sequence>
			<xsd:element name="Key" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="UnboundKvPair">
		<xsd:sequence>
			<xsd:element name="KV_PAIR" type="kvp:KvPair" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RegionalDetails">
		<xsd:sequence>
			<xsd:element name="SOURCE"  type="kvp:UnboundKvPair" minOccurs="0" maxOccurs="1"/>
    		<xsd:element name="DESTINATION"  type="kvp:UnboundKvPair" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>		
	</xsd:complexType>
</xsd:schema>
