Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/transferencia/xsd/services.xsd

<schema elementFormDefault="qualified" targetNamespace="http://service.srvaplcobistransferencia.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://dto2.sdf.cts.cobis.cobiscorp.com" xmlns:Q1="http://dto.srvaplcobisentidades.ecobis.cobiscorp">
	<import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/>
	<import schemaLocation="cobiscorp.ecobis.srvaplcobisentidades.dto.xsd" namespace="http://dto.srvaplcobisentidades.ecobis.cobiscorp"/>
	
	<element name="opConsultaABASWIFTSolicitud" type="Q1:OpConsultaABASWIFTSolicitud"/>
	<element name="opConsultaABASWIFTRespuesta" type="Q1:OpConsultaABASWIFTRespuesta"/>
	<element name="opConsultaFinacierasACHSolicitud" type="Q1:OpConsultaFinancieraAchSolicitud"/>
	<element name="opConsultaFinacierasACHRespuesta" type="Q1:OpConsultaFinancieraAchRespuesta"/>
	<element name="opTransferenciaCuentaSolicitud" type="Q1:OpTransferenciaCuentaSolicitud"/>
	<element name="opTransferenciaCuentaRespuesta" type="Q1:OpTransferenciaCuentaRespuesta"/>
	<element name="opTransferenciaIndividualACHSolicitud" type="Q1:OpTransferenciaIndividualAchSolicitud"/>
	<element name="opTransferenciaIndividualACHRespuesta" type="Q1:OpTransferenciaIndividualAchRespuesta"/>
	<element name="opTransferenciaInternacionalSolicitud" type="Q1:OpTransferenciaInternacionalSolicitud"/>
	<element name="opTransferenciaInternacionalRespuesta" type="Q1:OpTransferenciaInternacionalRespuesta"/>
	<element name="opTransferenciaRegEntranteTrSolicitud" type="Q1:OpTransferenciaRegSolicitud"/>
	<element name="opTransferenciaRegEntranteTrRespuesta" type="Q1:OpTransferenciaRegRespuesta"/>
	<element name="opTransferenciaRegionalSolicitud" type="Q1:OpTransferenciaRegionalReq"/>
	<element name="opTransferenciaRegionalRespuesta" type="Q1:OpTransferenciaRegRespuesta"/>
	<element name="opTransferenciaRegSalienteTcSolicitud" type="Q1:OpTransferenciaRegSolicitud"/>
	<element name="opTransferenciaRegSalienteTcRespuesta" type="Q1:OpTransferenciaRegRespuesta"/>
	<element name="opTransferenciaRegSalienteTrSolicitud" type="Q1:OpTransferenciaRegSolicitud"/>
	<element name="opTransferenciaRegSalienteTrRespuesta" type="Q1:OpTransferenciaRegRespuesta"/>	
</schema>