Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/WSDL/GetMobilePackeages/GetMobilePackeages.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../../XSD/GetMobilePackeages/GetMobilePackeagesArray.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../../XSD/GetMobilePackeages/GetMobilePackeages.xsd"/>
</xsd:schema>
</types>
<message name="ConsultaPaquetesMoviles">
<part name="parameters" element="tns:ConsultaPaquetesMoviles"/>
</message>
<message name="ConsultaPaquetesMovilesResponse">
<part name="parameters" element="tns:ConsultaPaquetesMovilesResponse"/>
</message>
<message name="ReversionDePaquetesMovilesFT">
<part name="parameters" element="tns:ReversionDePaquetesMovilesFT"/>
</message>
<message name="ReversionDePaquetesMovilesFTResponse">
<part name="parameters" element="tns:ReversionDePaquetesMovilesFTResponse"/>
</message>
<message name="PagoDePaquetesMovilesFT">
<part name="parameters" element="tns:PagoDePaquetesMovilesFT"/>
</message>
<message name="PagoDePaquetesMovilesFTResponse">
<part name="parameters" element="tns:PagoDePaquetesMovilesFTResponse"/>
</message>
<message name="PagoDePaquetesMovilesFT_Validate">
<part name="parameters" element="tns:PagoDePaquetesMovilesFT_Validate"/>
</message>
<message name="PagoDePaquetesMovilesFT_ValidateResponse">
<part name="parameters" element="tns:PagoDePaquetesMovilesFT_ValidateResponse"/>
</message>
<message name="RegistraReferenciaPaqueteMovil">
<part name="parameters" element="tns:RegistraReferenciaPaqueteMovil"/>
</message>
<message name="RegistraReferenciaPaqueteMovilResponse">
<part name="parameters" element="tns:RegistraReferenciaPaqueteMovilResponse"/>
</message>
<message name="RegistraReferenciaPaqueteMovil_Validate">
<part name="parameters" element="tns:RegistraReferenciaPaqueteMovil_Validate"/>
</message>
<message name="RegistraReferenciaPaqueteMovil_ValidateResponse">
<part name="parameters" element="tns:RegistraReferenciaPaqueteMovil_ValidateResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="ConsultaPaquetesMoviles">
<input message="tns:ConsultaPaquetesMoviles"/>
<output message="tns:ConsultaPaquetesMovilesResponse"/>
</operation>
<operation name="ReversionDePaquetesMovilesFT">
<input message="tns:ReversionDePaquetesMovilesFT"/>
<output message="tns:ReversionDePaquetesMovilesFTResponse"/>
</operation>
<operation name="PagoDePaquetesMovilesFT">
<input message="tns:PagoDePaquetesMovilesFT"/>
<output message="tns:PagoDePaquetesMovilesFTResponse"/>
</operation>
<operation name="PagoDePaquetesMovilesFT_Validate">
<input message="tns:PagoDePaquetesMovilesFT_Validate"/>
<output message="tns:PagoDePaquetesMovilesFT_ValidateResponse"/>
</operation>
<operation name="RegistraReferenciaPaqueteMovil">
<input message="tns:RegistraReferenciaPaqueteMovil"/>
<output message="tns:RegistraReferenciaPaqueteMovilResponse"/>
</operation>
<operation name="RegistraReferenciaPaqueteMovil_Validate">
<input message="tns:RegistraReferenciaPaqueteMovil_Validate"/>
<output message="tns:RegistraReferenciaPaqueteMovil_ValidateResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConsultaPaquetesMoviles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReversionDePaquetesMovilesFT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoDePaquetesMovilesFT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagoDePaquetesMovilesFT_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistraReferenciaPaqueteMovil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistraReferenciaPaqueteMovil_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcPaquetesMoviles/services"/>
</port>
</service>
</definitions>