Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaDeal/xsd/consultaDealTypes.xsd

<xs:schema
    targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDealTypes"
    xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaDealTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
    <!--############################################-->
    <!-- OPERATION: consultaDeal -->
    <!--############################################-->
    
    <xs:element name="consultaDeal">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CONTRACT_ID" type="tns:stringMinLength1"/>
				<xs:element name="COUNTRY" type="tns:stringMinLength1"/>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="consultaDealResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="RATE" type="xs:string" minOccurs="0"/>
				<xs:element name="SOURCE_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="SOURCE_CURRENCY" type="xs:string" minOccurs="0"/>
				<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="TARGET_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="TARGET_CURRENCY" type="xs:string" minOccurs="0"/>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>