Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/validacionCuenta/ValidacionCuenta/validacionCuentaType.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/validacionCuentaType"
	xmlns:trans="http://www.ficohsa.com.hn/middleware.services/validacionCuentaType">


	<xs:complexType name="validacionCuenta">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CHECK_CANCELLED_YES_NO" type="xs:string"/>
		</xs:sequence>
		
	</xs:complexType>

	<xs:complexType name="validacionCuentaResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT_STATUS" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="validacionCuenta" type="trans:validacionCuenta" />

	<xs:element name="validacionCuentaResponse" type="trans:validacionCuentaResponse" />

</xs:schema>