Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ObtenerEncabezados/xsd/XMLSchema_-1464971485.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="XMLSchema_1818878561.xsd" namespace="http://schemas.datacontract.org/2004/07/BF.Tarjetas.bfemEstadosCuentas.DataContracts"/><xs:element name="ObtenerEncabezados"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="data" nillable="true" type="q1:ObtenerEncabezadosRequest" xmlns:q1="http://schemas.datacontract.org/2004/07/BF.Tarjetas.bfemEstadosCuentas.DataContracts"/></xs:sequence></xs:complexType></xs:element><xs:element name="ObtenerEncabezadosResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ObtenerEncabezadosResult" nillable="true" type="q2:ObtenerEncabezadosResponse" xmlns:q2="http://schemas.datacontract.org/2004/07/BF.Tarjetas.bfemEstadosCuentas.DataContracts"/></xs:sequence></xs:complexType></xs:element></xs:schema>