Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SJS/consultaSaldosTC/xsd/sjConsultaSaldosTC.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
          targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaSaldosTC" 
          xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaSaldosTC" 
          xmlns:tns="http://tempuri.org/" 
          >
	
	<xs:element name="sjConsultaSaldosTC">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PASSWORD" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CARD_NUMBER" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		

	<xs:element name="sjConsultaSaldosTCResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="consultaDatosTCResponse" type="cons:consultaDatosTCResponseType" minOccurs="0"></xs:element>
				<xs:element name="consultarSaldosResponse" type="cons:consultarSaldosResponseType" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="consultaDatosTCResponseType">
		<xs:sequence>
            <xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
            <xs:element name="ACCOUNT_HOLDER_NAME" type="xs:string" minOccurs="0" />
            <xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0" />
            <xs:element name="CARD_TYPE" type="xs:string" minOccurs="0" />
            <xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" />
            <xs:element name="CARD_HOLDER_LEGAL_ID" type="xs:string" minOccurs="0" />
            <xs:element name="ACCOUNT_HOLDER_LEGAL_ID" type="xs:string" minOccurs="0" />
            <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
            <xs:element name="PRODUCT" type="xs:string" minOccurs="0" />
            <xs:element name="PRODUCT_DESCRIPTION" type="xs:string" minOccurs="0" />
            <xs:element name="AFINITY_GROUP" type="xs:string" minOccurs="0" />
            <xs:element name="ACCOUNT_STATUS" type="xs:string" minOccurs="0" />
            <xs:element name="CARD_STATUS" type="xs:string" minOccurs="0" />
            <xs:element name="CARD_EXPIRATION_DATE" type="xs:string" minOccurs="0" />
            <xs:element name="STATUS" type="xs:string" minOccurs="0" />
            <xs:element name="MESSAGES" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>	
	
	
	<xs:complexType name="consultarSaldosResponseType">
		<xs:sequence>
			<xs:element name="consultarSaldosResult" type="cons:ConsultaSaldosResponse" />
		</xs:sequence>
	</xs:complexType>		
	
	<xs:complexType name="ConsultaSaldosResponse">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="estatusConfirmacion" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="mensajeConfirmacion" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="nombreTitular"	type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="noTarjetaCreditoTitular" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="numeroCuenta" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="fechaSaldos" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="puntosAcumulados" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="fechaUltimoCorte" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="maxFechaPago" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="codigocliente" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="saldos" type="cons:ArrayOfArrayOfStrucSaldosConsulta" />
		</xs:sequence>
	</xs:complexType>	
			
	<xs:complexType name="ArrayOfArrayOfStrucSaldosConsulta">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded"	name="ArrayOfStrucSaldosConsulta" nillable="true" type="cons:ArrayOfStrucSaldosConsulta" />
		</xs:sequence>
	</xs:complexType>			
			
	<xs:complexType name="ArrayOfStrucSaldosConsulta">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="moneda" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="limiteCredito" type="xs:double" />
			<xs:element minOccurs="1" maxOccurs="1" name="disponibleCompras" type="xs:double" />
			<xs:element minOccurs="1" maxOccurs="1" name="disponibleRetiros" type="xs:double" />
			<xs:element minOccurs="1" maxOccurs="1" name="dispExtraFinanciamiento" type="xs:double" />
			<xs:element minOccurs="1" maxOccurs="1" name="saldoExtraFinanciamiento" type="xs:double" />
			<xs:element minOccurs="1" maxOccurs="1" name="dispConsumoCuotas" type="xs:double" />
			<xs:element minOccurs="1" maxOccurs="1" name="saldoConsumoCuotas" type="xs:double" />
			<xs:element minOccurs="1" maxOccurs="1" name="saldoActual" type="xs:double" />
			<xs:element minOccurs="1" maxOccurs="1" name="saldoVencido" type="xs:double" />
			<xs:element minOccurs="1" maxOccurs="1" name="saldoFlotante" type="xs:double" />
			<xs:element minOccurs="1" maxOccurs="1" name="pagoContado" type="xs:double" />
			<xs:element minOccurs="1" maxOccurs="1" name="pagoMinimo" type="xs:double" />
			<xs:element minOccurs="1" maxOccurs="1" name="pagosDia"	type="xs:double" />
		</xs:sequence>
	</xs:complexType>			
			
			
</xs:schema>