Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/WSDL/GetCustomerAssetsDynamo/GetCustomerAssetsDynamo_BS.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../../XSD/GetCustomerAssetsDynamo/getCustomerAssetsDynamoArray.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../../XSD/GetCustomerAssetsDynamo/getCustomerAssetsDynamo.xsd"/>
</xsd:schema>
</types>
<message name="ConsultaClienteCuentasCorriente">
<part name="parameters" element="tns:ConsultaClienteCuentasCorriente"/>
</message>
<message name="ConsultaClienteCuentasCorrienteResponse">
<part name="parameters" element="tns:ConsultaClienteCuentasCorrienteResponse"/>
</message>
<message name="ConsultaClienteCuentasdeAhorro">
<part name="parameters" element="tns:ConsultaClienteCuentasdeAhorro"/>
</message>
<message name="ConsultaClienteCuentasdeAhorroResponse">
<part name="parameters" element="tns:ConsultaClienteCuentasdeAhorroResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="ConsultaClienteCuentasCorriente">
<input message="tns:ConsultaClienteCuentasCorriente"/>
<output message="tns:ConsultaClienteCuentasCorrienteResponse"/>
</operation>
<operation name="ConsultaClienteCuentasdeAhorro">
<input message="tns:ConsultaClienteCuentasdeAhorro"/>
<output message="tns:ConsultaClienteCuentasdeAhorroResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConsultaClienteCuentasCorriente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaClienteCuentasdeAhorro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcConsultaClienteActivosDynamo/services"/>
</port>
</service>
</definitions>