Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaDiasNoHabiles/xsd/consultaDiasNoHabilesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDiasNoHabilesTypes"
	xmlns:dnh="http://www.ficohsa.com.hn/middleware.services/consultaDiasNoHabilesTypes">
    
	<xs:element name="consultaDiasNoHabiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="YEAR" type="xs:integer"/>
				<xs:element name="MONTH" type="xs:string" minOccurs="0"/>
				<xs:element name="DAY" type="xs:string" minOccurs="0"/>
				<xs:element name="MODULE" type="xs:string" minOccurs="0"/>
				<xs:element name="STATUS" type="xs:string" minOccurs="0"/>			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaDiasNoHabilesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NON_WORKING_DAYS" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="NON_WORKING_DAY" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="DATE" type="xs:string" minOccurs="0"/>
	           								<xs:element name="MODULE" type="xs:string" minOccurs="0"/>
	            							<xs:element name="STATUS" type="xs:string" minOccurs="0"/> 
										</xs:sequence>
									</xs:complexType>
								</xs:element>	
							</xs:sequence>
						</xs:complexType>
					</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>