Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaActivosCliente/xsd/consultaClientesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaClientesTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaClientesTypes">

	<xs:element name="consultaActivosClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ASSET_TYPE" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaActivosClienteResponse" type="cons:consultaActivosClienteResponseType" />

	<xs:complexType name="consultaActivosClienteResponseType">
		<xs:sequence>
			<xs:element name="consultaActivosClienteAhorrosResponseType"
				type="cons:consultaActivosClienteResponseRecordType" form="qualified"
				minOccurs="0" />
			<xs:element name="consultaActivosClienteCorrienteResponseType"
				type="cons:consultaActivosClienteResponseRecordType" form="qualified"
				minOccurs="0" />
			<xs:element name="consultaActivosClienteDepositosResponseType"
				type="cons:consultaActivosClienteResponseRecordType" form="qualified"
				minOccurs="0" />
			<xs:element name="consultaActivosClientePensionesResponseType"
				type="cons:consultaActivosClienteResponseRecordType" form="qualified"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaActivosClienteResponseRecordType">
		<xs:sequence>
		    <xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0" />
			<xs:element name="consultaActivosClienteResponseRecordType"
				type="cons:consultaActivosClienteResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaActivosClienteResponseArrayType">
		<xs:sequence>
			<xs:element name="ASSET_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="ASSET_NUMBER" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="ASSET_CURRENCY" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_TOTAL_BALANCE" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_RESERVE_BALANCE" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_LOCKED_BALANCE" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_VISA_FLOATING_BALANCE" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_AVAILABLE_BALANCE" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_SOURCE_BANK" type="xs:string"
				minOccurs="0" />
			<xs:element name="ASSET_PRODUCT_TYPE" type="xs:string"
				minOccurs="0" />
			<xs:element name="OPENING_DATE" type="xs:string"
				minOccurs="0" />
			<xs:element name="ACCOUNT_STATUS" type="xs:string"
				minOccurs="0" />		
		</xs:sequence>
	</xs:complexType>

</xs:schema>