Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/AutorizacionEfectivoPrestamosOTB_v2/xsd/XMLSchema_-707351594.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/AutorizacionEfectivoPrestamosOTBTypes" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/AutorizacionEfectivoPrestamosOTBTypes">
	
	<simpleType name="stringMinLength1">
		<restriction base="string">
			<minLength value="1"/>
		</restriction>
	</simpleType>
	
	<element name="AutorizacionEfectivoPrestamosOTB">
		<complexType>
			<sequence>
				<element name="ORG" type="tns:stringMinLength1"/>
				<element name="CARD_NUMBER" type="tns:stringMinLength1"/>
				<element name="STORE_NUMBER" type="tns:stringMinLength1"/>
				<element name="AMOUNT" type="tns:stringMinLength1"/>
				<element name="PLAN_NUMBER" type="tns:stringMinLength1"/>
				<element name="EXPIRATION_DATE" type="tns:stringMinLength1"/>
				<element name="ACCOUNT_NUMBER" type="tns:stringMinLength1"/>
				<element name="EFFECTIVE_DATE" type="tns:stringMinLength1"/>
				<element name="EFFECTIVE_TIME" type="tns:stringMinLength1"/>
				<element name="SERVICE_FLAG" type="tns:stringMinLength1"/>
				<element name="CURRENCY_INDICATOR" type="tns:stringMinLength1"/>
				<element name="RECORD_TYPE_TRX" type="tns:stringMinLength1"/>
				<element name="DATE_START" type="string" minOccurs="0"/>
				<element name="DATE_END" type="string" minOccurs="0"/>
				<element name="AUTH_CODE" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	
	<element name="AutorizacionEfectivoPrestamosOTBResponse">
		<complexType>
			<sequence>
				<element name="ACTION_CODE" type="string" minOccurs="1"/>
				<element name="ACTION_REASON_CODE" type="string" minOccurs="1"/>
				<element name="REASON_DESCRIPCION" type="string" minOccurs="1"/>
				<element name="AUTH_CODE" type="string" minOccurs="1"/>
			</sequence>
		</complexType>
	</element>
	
</schema>