Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/SJS/consultaSituacionFinanciera/xsd/sjConsultaSituacionFinanciera.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaSituacionFinanciera"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/sjConsultaSituacionFinanciera">

	<!-- OPERACION: CONSULTA SITUACION FINANCIERA -->

	<xs:element name="sjConsultaSituacionFinanciera">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UUID" type="xs:string"/>
				<xs:element name="REGIONS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="REGION" minOccurs="0" maxOccurs="unbounded" >
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:string"/>
										<xs:element name="CUSTOMERS">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CUSTOMER" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ID" type="xs:string"/>
																<xs:element name="REGION" type="xs:string"/>
																<xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>																												
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PRODUCTS">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PRODUCT" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TYPE" type="xs:string"/>
																<xs:element name="ID" type="xs:string"/>
																<xs:element name="REGION" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>																												
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="sjConsultaSituacionFinancieraResponse"/>

</xs:schema>