Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/Fiscan/wsdl/COBISCorp.eCOBIS.SrvAplCobisFinScan.Service_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SrvAplCobisFinScan" targetNamespace="http://impl.service.srvaplcobisfinscan.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.srvaplcobisfinscan.ecobis.cobiscorp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:S1="http://impl.service.srvaplcobisfinscan.ecobis.cobiscorp/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.srvaplcobisfinscan.ecobis.cobiscorp/">
      <xsd:import namespace="http://service.srvaplcobisfinscan.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsjOpGetStatusRequest">
    <wsdl:part name="parameters" element="tns:opGetStatusRequest"/>
  </wsdl:message>
  <wsdl:message name="MsjOpLookUpMultiRequest">
    <wsdl:part name="parameters" element="tns:opLookUpMultiRequest"/>
  </wsdl:message>
  <wsdl:message name="MsjOpGetStatusResponse">
    <wsdl:part name="parameters" element="tns:opGetStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="MsjOpLookupResponse">
    <wsdl:part name="parameters" element="tns:opLookupResponse"/>
  </wsdl:message>
  <wsdl:message name="MsjOpLookUpMultiResponse">
    <wsdl:part name="parameters" element="tns:opLookUpMultiResponse"/>
  </wsdl:message>
  <wsdl:message name="MsjOpLookupRequest">
    <wsdl:part name="parameters" element="tns:opLookupRequest"/>
  </wsdl:message>
  <wsdl:portType name="SrvAplCobisFinScan">
    <wsdl:operation name="OpGetStatus">
      <wsdl:input message="S1:MsjOpGetStatusRequest"/>
      <wsdl:output message="S1:MsjOpGetStatusResponse"/>
    </wsdl:operation>
    <wsdl:operation name="OpLookup">
      <wsdl:input message="S1:MsjOpLookupRequest"/>
      <wsdl:output message="S1:MsjOpLookupResponse"/>
    </wsdl:operation>
    <wsdl:operation name="OpLookUpMulti">
      <wsdl:input message="S1:MsjOpLookUpMultiRequest"/>
      <wsdl:output message="S1:MsjOpLookUpMultiResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvAplCobisFinScanBindingSOAP12" type="S1:SrvAplCobisFinScan">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpGetStatus">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpLookup">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpLookUpMulti">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvAplCobisFinScanService">
    <wsdl:port name="SrvAplCobisFinScanBindingSOAP12" binding="S1:SrvAplCobisFinScanBindingSOAP12">
      <soap12:address location="http://10.235.53.149:9081/Finscan/SrvAplCobisFinScanService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>