Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/dataCapture/IngresoDataCapture/ingresoDataCaptureTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ingresoDataCaptureTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/ingresoDataCaptureTypes">
	
	<xs:complexType name="ingresoDataCaptureResponseType">
		<xs:sequence>
			<xs:element name="RECORD_STATUS"/>
		</xs:sequence> 
	</xs:complexType>
	
		<xs:element name="ingresoDataCapture">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="BATCH_ID" type="xs:string"/>
	            <xs:element name="DEPARTMENT_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
	            <xs:element name="CURRENCY" type="xs:string"/>
	            <xs:element name="AMOUNT" type="xs:string"/>
	            <xs:element name="DEBIT_CREDIT" type="xs:string"/>
	            <xs:element name="DESCRIPTION" type="xs:string"/>
	            <xs:element name="VALUE_DATE" type="xs:string" minOccurs="0"/>
	            <xs:element name="PROFIT_CENTER" type="xs:string" minOccurs="0"/>
	            <xs:element name="PROFIT_LOSS_CATEGORY" type="xs:string" minOccurs="0"/>
	            <xs:element name="PRODUCT_CATEGORY" type="xs:string" minOccurs="0"/>            
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ingresoDataCaptureResponse" type="cons:ingresoDataCaptureResponseType"/>
	
</xs:schema>