Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaFATCA/wsdl/consultaFATCAPS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="consultaFATCAPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaFATCAPS/" xmlns:cfatca="http://www.ficohsa.com.hn/middleware.services/consultaFATCAPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaListasRegulatoriasTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:types>
    <xsd:schema >
        <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
    </xsd:schema>
    <xsd:schema >
        <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaListasRegulatoriasTypes" schemaLocation="../../ConsultaListasRegulatorias/xsd/consultaListasRegulatoriasTypes.xsd"/>
    </xsd:schema>     
  </wsdl:types>

  <wsdl:message name="requestHeader">
	<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
  </wsdl:message>

  <wsdl:message name="responseHeader">
	<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
  </wsdl:message>

  <wsdl:message name="consultaFATCARequest">
	<wsdl:part element="tns:consultaFATCA" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="consultaFATCAResponse">
	<wsdl:part element="tns:consultaFATCAResponse" name="result"/>
  </wsdl:message>

  <wsdl:portType name="consultaFATCAPS">
    <wsdl:operation name="consultaFATCA" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="cfatca:consultaFATCARequest"/>
      <wsdl:output message="cfatca:consultaFATCAResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="consultaFATCAPSSOAP" type="cfatca:consultaFATCAPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultaFATCA">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaFATCAPS/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="cfatca:requestHeader" part="RequestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="result"/>
        <soap:header message="cfatca:responseHeader" part="ResponseHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="consultaFATCAPS">
    <wsdl:port binding="cfatca:consultaFATCAPSSOAP" name="consultaFATCAPSSOAP">
      <soap:address location="http://172.23.13.19:8003//Middleware/RiskAndCompliance/RegulationsAndCompliance/consultaFATCA/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>