Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/Alertas/registraTramaEventoT24/xsd/registraTramaEventoT24_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraTramaEventoT24_db" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraTramaEventoT24_db" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_TRAMAS" type="string" db:index="1" db:type="CLOB" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_EVENTO_T24" type="db:ALERTAS.T_EVENTO_T24" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO_MENSAJE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_DESCRIPCION_MENSAJE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="ALERTAS.T_VALOR_TRAMA">
      <sequence>
         <element name="VALOR_TRAMA_ITEM" type="db:ALERTAS.OT_VALOR_TRAMA" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="ALERTAS.OT_EVENTO_T24">
      <sequence>
         <element name="CODIGO_MENSAJE" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCION_MENSAJE" type="db:string1000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALOR_TRAMA" type="db:ALERTAS.T_VALOR_TRAMA" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="ALERTAS.T_EVENTO_T24">
      <sequence>
         <element name="P_EVENTO_T24_ITEM" type="db:ALERTAS.OT_EVENTO_T24" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="ALERTAS.OT_VALOR_TRAMA">
      <sequence>
         <element name="NOMBRE_TRAMA" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALOR_TRAMA" type="db:string1000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string1000">
      <restriction base="string">
         <maxLength value="1000"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
</schema>