Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Outgoing/BusinessServices/CLARO/Paquetes/xsd/xsd2.xsd

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema version="1.0" targetNamespace="http://opit.claro.com.hn/" xmlns:tns="http://opit.claro.com.hn/" xmlns:ns1="types.opit.claro.com.hn" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:import namespace="types.opit.claro.com.hn" schemaLocation="xsd1.xsd"/>

<xs:element name="ApiBalanceEnquiryResponse" type="ns1:typBalanceEnquiry"/>

<xs:element name="ApiBuyPack" type="ns1:typBuyPackResponse"/>

<xs:element name="ApiGetListPacks" type="ns1:typGetListPacksResponse"/>

<xs:element name="ApiValidateOperation" type="ns1:typValidateOperation"/>

<xs:element name="balanceEnquiry" type="tns:balanceEnquiry"/>

<xs:element name="balanceEnquiryResponse" type="tns:balanceEnquiryResponse"/>

<xs:element name="buyPack" type="tns:buyPack"/>

<xs:element name="buyPackResponse" type="tns:buyPackResponse"/>

<xs:element name="getListPacks" type="tns:getListPacks"/>

<xs:element name="getListPacksResponse" type="tns:getListPacksResponse"/>

<xs:element name="validateOperation" type="tns:validateOperation"/>

<xs:element name="validateOperationResponse" type="tns:validateOperationResponse"/>

<xs:complexType name="buyPack">
<xs:sequence>
<xs:element name="distId" type="xs:string" minOccurs="0"/>
<xs:element name="distPass" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="idPack" type="xs:string" minOccurs="0"/>
<xs:element name="transId" type="xs:string" minOccurs="0"/>
<xs:element name="distCategory" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buyPackResponse">
<xs:sequence>
<xs:element name="return" type="ns1:typBuyPackResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>


<xs:complexType name="balanceEnquiry">
<xs:sequence>
<xs:element name="distId" type="xs:string" minOccurs="0"/>
<xs:element name="distPass" type="xs:string" minOccurs="0"/>
<xs:element name="service" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="balanceEnquiryResponse">
<xs:sequence>
<xs:element name="return" type="ns1:typBalanceEnquiry" minOccurs="0"/>
</xs:sequence>
</xs:complexType>


<xs:complexType name="getListPacks">
<xs:sequence>
<xs:element name="distId" type="xs:string" minOccurs="0"/>
<xs:element name="distPass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListPacksResponse">
<xs:sequence>
<xs:element name="return" type="ns1:typGetListPacksResponse" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>


<xs:complexType name="validateOperation">
<xs:sequence>
<xs:element name="distId" type="xs:string" minOccurs="0"/>
<xs:element name="distPass" type="xs:string" minOccurs="0"/>
<xs:element name="msisdn" type="xs:string" minOccurs="0"/>
<xs:element name="idPack" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateOperationResponse">
<xs:sequence>
<xs:element name="return" type="ns1:typValidateOperation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

</xs:schema>