Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaSobregiroCuenta/xsd/consultaSobregiroCuentaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSobregiroCuentaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaSobregiroCuentaTypes">
	
	<xs:element name="consultaSobregiroCuenta">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="ACCOUNT" minOccurs="1" maxOccurs="1">
	            	<xs:simpleType>
	            		<xs:restriction base="xs:string">
	            			<xs:minLength value="1"/>
	            		</xs:restriction>
	            	</xs:simpleType>
	            </xs:element>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
		
	<xs:complexType name="consultaSobregiroCuentaResponse">
		<xs:sequence>
			<xs:element name="GRAND_TOTAL_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT_NO" type="xs:string" minOccurs="0"  />
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="DETAILS" minOccurs="0" maxOccurs="unbounded" >
				<xs:complexType>
					<xs:sequence>
						<xs:element name="REFERENCE" type="xs:string" minOccurs="0" />
						<xs:element name="AMOUNT" type="xs:string" minOccurs="0" />
						<xs:element name="OVERDRAFT_TYPE" type="xs:string" minOccurs="0" />
						<xs:element name="RATE" type="xs:string" minOccurs="0" />
						<xs:element name="ACTIVITY_DETAILS" minOccurs="0" maxOccurs="unbounded" >
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ACTIVITY_DETAIL" minOccurs="0" maxOccurs="unbounded" >
										<xs:complexType>
											<xs:sequence>															
												<xs:element name="DATE" type="xs:string" minOccurs="0" />
												<xs:element name="STATUS" type="xs:string" minOccurs="0" />
												<xs:element name="PRINCIPAL" type="xs:string" minOccurs="0" />
												<xs:element name="INTEREST" type="xs:string" minOccurs="0" />
												<xs:element name="DAYS" type="xs:string" minOccurs="0" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaSobregiroCuentaResponse" type="cons:consultaSobregiroCuentaResponse" />
	
</xs:schema>