Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/MovilGetCardsList/xsd/movilGetListCards_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/movilGetListCards" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/movilGetListCards" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOCLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PAIS" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_SUCCESSINDICATOR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERRORDESCRIPTION" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_LISTATARJETAS" type="db:DIGITARCLI.T_ANDES_WALLET_EXTENSION" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DIGITARCLI.T_ANDES_WALLET_EXTENSION">
      <sequence>
         <element name="PT_LISTATARJETAS_ITEM" type="db:DIGITARCLI.OT_ANDES_WALLET_EXTENSION" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.OT_ANDES_WALLET_EXTENSION">
      <sequence>
         <element name="CARDID" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARDTYPE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARDHOLDERNAME" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ENCCARD" type="db:string2000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LASTFOURDIGITS" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_PAYMENTNERWORK" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PV_INSTCODE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string2000">
      <restriction base="string">
         <maxLength value="2000"/>
      </restriction>
   </simpleType>
</schema>