Fuentes/ficohsacore-vortex-7ebad6e8baaa/MWHostToHost/v1/BusinessServices/OSB/mapeoErrores/wsdl/MapeoErrores.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="mapeoErroresProxy" targetNamespace="http://www.example.org/mapeoErroresProxy/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/mapeoErroresProxy/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.example.org/mapeoErroresProxy/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/mapeoErroresProxy/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="mapeoErrores">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TEXTO_ERROR" type="xsd:string"/>
            <xsd:element name="CODIGO_ERROR" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mapeoErroresResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MENSAJE_MAPEADO" type="xsd:string"/>
            <xsd:element name="CODIGO_ERROR" type="xsd:string"/>
            <xsd:element name="DESCRIPCION_ERROR" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CODIGO_RETORNO" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="mapeoErroresRequest">
    <WL5G3N0:part element="WL5G3N1:mapeoErrores" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="mapeoErroresResponse">
    <WL5G3N0:part element="WL5G3N1:mapeoErroresResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="mapeoErroresProxy">
    <WL5G3N0:operation name="mapeoErrores">
      <WL5G3N0:input message="WL5G3N1:mapeoErroresRequest"/>
      <WL5G3N0:output message="WL5G3N1:mapeoErroresResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="mapeoErroresProxySOAP" type="WL5G3N1:mapeoErroresProxy">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="mapeoErrores">
      <WL5G3N2:operation soapAction="http://www.example.org/mapeoErroresProxy/mapeoErrores"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="mapeoErroresProxy">
    <WL5G3N0:port binding="WL5G3N1:mapeoErroresProxySOAP" name="mapeoErroresProxySOAP">
      <WL5G3N2:address location="http://mwomnicanal:8004/Middleware/v2/ProxyServices/MapeoErrores"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>