Fuentes/ficohsacore-osb-7e5cceccb837/MWHostToHost/v1/Resources/TransferenciaInternacionalH2HICB/xsd/transferenciaInternacionalH2HICBTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/transferenciaInternacionalH2HICBType"
	xmlns:trans="http://www.ficohsa.com.hn/middleware.services/transferenciaInternacionalH2HICBType">

	<xs:simpleType name="bancoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ABA" />
			<xs:enumeration value="SWIFT" />
			<xs:enumeration value="" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="StringLength140">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-zA-Z]|\s)+"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="StringLength70">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-zA-Z]|\s)*"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="StringLength34">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-zA-Z]|\s)*"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="StringLength10">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-zA-Z]|\s)*"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="StringLength20">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-zA-Z]|\s)*"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="StringCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]*"/>
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="StringLength70notNull">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-zA-Z]|\s)+"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="StringLength34notNull">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-zA-Z]|\s)+"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="StringLength10notNull">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-zA-Z]|\s)+"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="StringLength20notNull">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-zA-Z]|\s)+"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="transferenciaInternacionalH2HRequest">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" />
			<xs:element name="TRANSFERS_INT" type="trans:transfersIntType"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="transfersIntType">
		<xs:sequence>
			<xs:element name="TRANSFER_INT" maxOccurs="unbounded" type="trans:transferIntType"/>		
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="transferIntType">
		<xs:sequence>
		    <xs:element name="TRACE" type="xs:string"/>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
			<xs:element name="DEBIT_CURRENCY" type="xs:string"/>
			<xs:element name="TRANSFER_AMOUNT" type="xs:string"/>
			<xs:element name="DESTINATION_COUNTRY" type="xs:string"/>
			<xs:element name="DESTINATION_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="INTERMEDIARY_BANK_CODE" type="trans:StringCode" />
			<xs:element name="INTERMEDIARY_BANK_CODE_TYPE" type="trans:bancoType" />
			<xs:element name="INTERMEDIARY_BANK_INSTRUCTIONS" type="xs:string" />
			<xs:element name="INTERMEDIARY_BANK_NAME" type="trans:StringLength70" minOccurs="0"/>
			<xs:element name="INTERMEDIARY_BANK_ADDRESS" type="trans:StringLength70" minOccurs="0"/>
			<xs:element name="BENEF_BANK_CODE" type="trans:StringCode"/>
			<xs:element name="BENEF_BANK_CODE_TYPE" type="trans:bancoType"/>
			<xs:element name="BENEF_BANK_INT_ACCOUNT" type="trans:StringLength34"/>
			<xs:element name="BENEF_BANK_NAME" type="trans:StringLength70"/>
			<xs:element name="BENEF_BANK_ADDRESS" type="trans:StringLength70" />
			<xs:element name="BENEF_BANK_CITY" type="trans:StringLength20" />
			<xs:element name="BENEF_BANK_STATE" type="trans:StringLength20" />
			<xs:element name="BENEF_BANK_POSTAL_CODE" type="trans:StringLength10"/>
			<xs:element name="BENEF_BANK_COUNTRY" type="xs:string"/>
			<xs:element name="BENEFICIARY_NAME" type="trans:StringLength70notNull"/>
			<xs:element name="BENEFICIARY_ACCOUNT" type="trans:StringLength34notNull"/>
			<xs:element name="BENEFICIARY_ADDRESS" type="trans:StringLength70notNull" />
			<xs:element name="BENEFICIARY_CITY" type="trans:StringLength20notNull" />
			<xs:element name="BENEFICIARY_STATE" type="trans:StringLength20notNull" />	
			<xs:element name="BENEFICIARY_POSTAL_CODE" type="trans:StringLength10notNull" />
			<xs:element name="BENEFICIARY_COUNTRY" type="xs:string" />
			<xs:element name="BENEFICIARY_INFO" type="xs:string" minOccurs="0" />
			<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" />
			<xs:element name="DESCRIPTION" type="trans:StringLength140" minOccurs="0"/>
			<xs:element name="AUTHORIZATION" type="trans:StringLength10" minOccurs="0"/>
			<xs:element name="PROCESSDATE" type="xs:string" minOccurs="0"/>
            <xs:element name="REFERENCECODE" type="xs:string" minOccurs="0"/>	
            <xs:element name="EXCHANGERATE" type="xs:string" minOccurs="0"/>
            <xs:element name="AMOUNT_DEBIT" type="xs:string" minOccurs="0"/>	
            		
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="transferenciaInternacionalH2HResponse">
		<xs:sequence>
			<xs:element name="TRANSFERS_INT" type="trans:transfersIntRspType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="transfersIntRspType">
		<xs:sequence>
			<xs:element name="TRANSFER_INT" minOccurs="0" maxOccurs="unbounded" type="trans:transferIntRspType"/>		
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="transferIntRspType">
		<xs:sequence>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
			<xs:element name="TRACE" type="xs:string"/>
			<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="ORDERING_CUSTOMER" type="xs:string" minOccurs="0"/>		
		</xs:sequence>
	</xs:complexType>

	<xs:element name="transferenciaInternacionalH2HRequest" type="trans:transferenciaInternacionalH2HRequest" />

	<xs:element name="transferenciaInternacionalH2HResponse" type="trans:transferenciaInternacionalH2HResponse" />

</xs:schema>