Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/GetAccountBS/XMLSchema_374328230.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="AperturaDeCuenta" type="tns:AperturaDeCuenta"/>

<xs:element name="AperturaDeCuentaResponse" type="tns:AperturaDeCuentaResponse"/>

<xs:element name="AperturaDeCuenta_Validate" type="tns:AperturaDeCuenta_Validate"/>

<xs:element name="AperturaDeCuenta_ValidateResponse" type="tns:AperturaDeCuenta_ValidateResponse"/>

<xs:element name="ConsultaCuentaAperturada" type="tns:ConsultaCuentaAperturada"/>

<xs:element name="ConsultaCuentaAperturadaResponse" type="tns:ConsultaCuentaAperturadaResponse"/>

<xs:element name="ConsultaMovimientosCuenta" type="tns:ConsultaMovimientosCuenta"/>

<xs:element name="ConsultaMovimientosCuentaResponse" type="tns:ConsultaMovimientosCuentaResponse"/>

<xs:element name="ConsultaSaldoCuentaporCancelar" type="tns:ConsultaSaldoCuentaporCancelar"/>

<xs:element name="ConsultaSaldoCuentaporCancelarResponse" type="tns:ConsultaSaldoCuentaporCancelarResponse"/>

<xs:element name="ConsultaSaldoCuentaporCancelar_Validate" type="tns:ConsultaSaldoCuentaporCancelar_Validate"/>

<xs:element name="ConsultaSaldoCuentaporCancelar_ValidateResponse" type="tns:ConsultaSaldoCuentaporCancelar_ValidateResponse"/>

<xs:element name="Consultacortadesaldodecuenta" type="tns:Consultacortadesaldodecuenta"/>

<xs:element name="ConsultacortadesaldodecuentaResponse" type="tns:ConsultacortadesaldodecuentaResponse"/>

<xs:element name="Consultadecuentadegobierno" type="tns:Consultadecuentadegobierno"/>

<xs:element name="ConsultadecuentadegobiernoResponse" type="tns:ConsultadecuentadegobiernoResponse"/>

<xs:element name="Consultadecuentascanceladas" type="tns:Consultadecuentascanceladas"/>

<xs:element name="ConsultadecuentascanceladasResponse" type="tns:ConsultadecuentascanceladasResponse"/>

<xs:element name="Consultadedetallesdelacuenta" type="tns:Consultadedetallesdelacuenta"/>

<xs:element name="ConsultadedetallesdelacuentaResponse" type="tns:ConsultadedetallesdelacuentaResponse"/>

<xs:element name="Consultademovimientosdecta" type="tns:Consultademovimientosdecta"/>

<xs:element name="ConsultademovimientosdectaResponse" type="tns:ConsultademovimientosdectaResponse"/>

<xs:element name="Consultadesaldodecuenta" type="tns:Consultadesaldodecuenta"/>

<xs:element name="ConsultadesaldodecuentaResponse" type="tns:ConsultadesaldodecuentaResponse"/>

<xs:element name="Consultadetalladademovscuenta" type="tns:Consultadetalladademovscuenta"/>

<xs:element name="ConsultadetalladademovscuentaResponse" type="tns:ConsultadetalladademovscuentaResponse"/>

<xs:element name="Consultasaldopromcuenta" type="tns:Consultasaldopromcuenta"/>

<xs:element name="ConsultasaldopromcuentaResponse" type="tns:ConsultasaldopromcuentaResponse"/>

<xs:element name="CreacionArchivoDeDetalle" type="tns:CreacionArchivoDeDetalle"/>

<xs:element name="CreacionArchivoDeDetalleResponse" type="tns:CreacionArchivoDeDetalleResponse"/>

<xs:element name="CreacionArchivoDeDetalle_Validate" type="tns:CreacionArchivoDeDetalle_Validate"/>

<xs:element name="CreacionArchivoDeDetalle_ValidateResponse" type="tns:CreacionArchivoDeDetalle_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="WSACCOUNTLISTType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSACCOUNTLISTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSACCOUNTLISTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="SHORTTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LIMITREF" type="xs:string" minOccurs="0"/>
<xs:element name="POSTINGRESTRICT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPURPOSE" type="xs:string" minOccurs="0"/>
<xs:element name="LRMONTXVOL" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENRELN" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENPRG" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENIDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRNUMACT" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
<xs:element name="OPENINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="OPERATIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="REQUIREDSIGNATURES" type="xs:string" minOccurs="0"/>
<xs:element name="SIGNATUREDESC" type="xs:string" minOccurs="0"/>
<xs:element name="INACTIVEMARKER" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALIDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPREFACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSREP" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFICOACCTBASICDETAILSType">
<xs:sequence>
<xs:element name="gWSFICOACCTBASICDETAILSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOACCTBASICDETAILSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="BALANCESDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALDOCVAL" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LASTMOVEMENTVAL" type="xs:string" minOccurs="0"/>
<xs:element name="INACTIVEVAL" type="xs:string" minOccurs="0"/>
<xs:element name="CANCELDATE" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCKEDDATE" type="xs:string" minOccurs="0"/>
<xs:element name="AVAILBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="CLEARINGBAL" type="xs:string" minOccurs="0"/>
<xs:element name="LOCKEDBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="LOCKEDVISABAL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALAVAILBAL" type="xs:string" minOccurs="0"/>
<xs:element name="ACTUALBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHLIMITCASHADV" type="xs:string" minOccurs="0"/>
<xs:element name="UTILCASHADVVAL" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHOVRDFVAL" type="xs:string" minOccurs="0"/>
<xs:element name="USEDOVRDFVAL" type="xs:string" minOccurs="0"/>
<xs:element name="AVLOVRDFVAL" type="xs:string" minOccurs="0"/>
<xs:element name="UNAUTHOVRDFVAL" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTRESVAMT" type="xs:string" minOccurs="0"/>
<xs:element name="USEDRESVLIMVAL" type="xs:string" minOccurs="0"/>
<xs:element name="RESVLIMVAL" type="xs:string" minOccurs="0"/>
<xs:element name="PDOUTSTANDING" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYROLLGRP" type="xs:string" minOccurs="0"/>
<xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
<xs:element name="EXPDRESVAL" type="xs:string" minOccurs="0"/>
<xs:element name="EXPOVRDFVAL" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFICOESTMTGIVENDATESType">
<xs:sequence>
<xs:element name="STARTINGBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="ENDINGBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="ZERORECS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFICOESTMTGIVENDATESDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOESTMTGIVENDATESDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="BOOKINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNDESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="TXNAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="RBALANCE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSACCTAVAILBALType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSACCTAVAILBALDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSACCTAVAILBALDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="INACTIVEMARKER" type="xs:string" minOccurs="0"/>
<xs:element name="RESTRICTIONS" type="xs:string" minOccurs="0"/>
<xs:element name="WORKINGBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="LOCKEDBALANCE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFICOESTMTGIVENDATESDETType">
<xs:sequence>
<xs:element name="STARTINGBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="ENDINGBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFICOESTMTGIVENDATESDETDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOESTMTGIVENDATESDETDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="BOOKINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNDESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="TXNCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="TXNAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="RBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHNAME" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERDESCRIPTION" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSACCOUNTCLOSEDType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSACCOUNTCLOSEDDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSACCOUNTCLOSEDDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CLOSUREDATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSACCTAVERAGEBALType">
<xs:sequence>
<xs:element name="CCY" type="xs:string" minOccurs="0"/>
<xs:element name="DISPSTARTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DISPENDDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSACCTAVERAGEBALDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSACCTAVERAGEBALDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DCUS" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="DRDAYS" type="xs:string" minOccurs="0"/>
<xs:element name="DRAVBAL" type="xs:string" minOccurs="0"/>
<xs:element name="CRDAYS" type="xs:string" minOccurs="0"/>
<xs:element name="CRAVBAL" type="xs:string" minOccurs="0"/>
<xs:element name="ZERODAYS" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTAVREAL" type="xs:string" minOccurs="0"/>
<xs:element name="PAGEBRK" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSACCOUNTENTRIESType">
<xs:sequence>
<xs:element name="STARTINGBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="ACNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ACCCY" type="xs:string" minOccurs="0"/>
<xs:element name="DTOTALCAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="DTOTALDAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="ENDINGBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFCHEQUES" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFDEBITS" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFCREDITS" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALREGISTRO" type="xs:string" minOccurs="0"/>
<xs:element name="NUMMOSTRADO" type="xs:string" minOccurs="0"/>
<xs:element name="ZERORECS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSACCOUNTENTRIESDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSACCOUNTENTRIESDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="BOOKINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNDESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="DEPOSITREF" type="xs:string" minOccurs="0"/>
<xs:element name="CAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="DAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="RBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNTIME" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="TXNAGNCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNAGNNAME" type="xs:string" minOccurs="0"/>
<xs:element name="TXNDESCRIPTIONALL" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="TXNDATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FICOBULKAPPRCLNTINPUTACCTWSType">
<xs:sequence>
<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="LRFICOREFTYP" type="xs:string" minOccurs="0"/>
<xs:element name="PASSBOOK" type="xs:string" minOccurs="0"/>
<xs:element name="PASSBOOKNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYROLLGRP" type="xs:string" minOccurs="0"/>
<xs:element name="INITIALDEPOSIT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPURPOSE" type="xs:string" minOccurs="0"/>
<xs:element name="LRORGOFFUNDS" type="xs:string" minOccurs="0"/>
<xs:element name="LRMONTXVOL" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESSTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="REGISTEREDSIGN" type="xs:string" minOccurs="0"/>
<xs:element name="REQUIREDSIGN" type="xs:string" minOccurs="0"/>
<xs:element name="LRADDDESC" type="xs:string" minOccurs="0"/>
<xs:element name="MODOFDEPOSIT" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS81" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LROPRTTYPE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS82" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRSIGNID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS83" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRSIGNTYPE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS84" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="JOINTHOLDER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS85" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="RELATIONCODE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS86" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS87" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBENRELN" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS88" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBENPRG" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS89" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRTINACT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS90" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRNUMACT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="USERID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOBULKAPPRCLNTType">
<xs:sequence>
<xs:element name="FIELDS1" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS2" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS3" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS4" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS5" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS6" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS7" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS8" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS9" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS10" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS11" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS12" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS13" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS14" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS15" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS16" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS17" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS18" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS19" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS20" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS21" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS22" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS23" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS24" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS25" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS26" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS27" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS28" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS29" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS30" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS31" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS32" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS33" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS34" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS35" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS36" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS37" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS38" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS39" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS40" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS41" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS42" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS43" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS44" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS45" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS46" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS47" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS48" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS49" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS50" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS51" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS52" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS53" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS54" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS55" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS56" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS57" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS58" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS59" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS60" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS61" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS62" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS63" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS64" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS65" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS66" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS67" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS68" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS69" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS70" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS71" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS72" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS73" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS74" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS75" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS76" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS77" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS78" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS79" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS80" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS81" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS81" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS82" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS82" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS83" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS83" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS84" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS84" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS85" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS85" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS86" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS86" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS87" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS87" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS88" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS88" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS89" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS89" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS90" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS90" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS91" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS91" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS92" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS92" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS93" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS93" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS94" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS94" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS95" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS95" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS96" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS96" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS97" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS97" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS98" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS98" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS99" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS99" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS100" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS100" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS101" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS101" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS102" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS102" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS103" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS103" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS104" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS104" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS105" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS105" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS106" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS106" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS107" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS107" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS108" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS108" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS109" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS109" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS110" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS110" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS111" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS111" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS112" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS112" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS113" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS113" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS114" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS114" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS115" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS115" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FIELDS116" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS117" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS118" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS119" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS120" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS121" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS122" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS123" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS124" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS125" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS126" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS127" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS128" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS129" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS130" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS131" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS132" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS133" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS134" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS135" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS136" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS137" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS138" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS139" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS140" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS141" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS142" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS142" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FIELDS143" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS144" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS145" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS146" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS147" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS148" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS149" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS150" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS151" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS152" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS153" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS153" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FIELDS154" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS155" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS155" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS156" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS156" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS157" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS157" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS158" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS158" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS159" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS159" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS160" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS160" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS161" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS161" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS162" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS162" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS163" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS163" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS164" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS164" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FIELDS165" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS166" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS167" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS168" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS169" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS170" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS171" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS172" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS173" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS174" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS175" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS176" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS177" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS178" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS179" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS180" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS181" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS182" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS183" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS184" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS185" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS186" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS187" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS188" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS189" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS190" type="xs:string" minOccurs="0"/>
<xs:element name="gFIELDS191" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS191" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS192" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS192" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS193" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS193" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS194" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS194" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS195" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS195" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS196" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS196" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS197" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS197" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS198" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS198" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS199" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS199" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gFIELDS200" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="FIELDS200" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="FIELDS201" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS202" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS203" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS204" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS205" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS206" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS207" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS208" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS209" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS210" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS211" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS212" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS213" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS214" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS215" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS216" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS217" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS218" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS219" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS220" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS221" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS222" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS223" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS224" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS225" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS226" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS227" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS228" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS229" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS230" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS231" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS232" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS233" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS234" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS235" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS236" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS237" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS238" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS239" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS240" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS241" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS242" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS243" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS244" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS245" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS246" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS247" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS248" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS249" type="xs:string" minOccurs="0"/>
<xs:element name="FIELDS250" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADO" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRECHAZO" type="xs:string" minOccurs="0"/>
<xs:element name="IDTABLE" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="ACCOUNTCLOSURETELLERACCLOSUREWSType">
<xs:sequence>
<xs:element name="ClosureDate" type="xs:string" minOccurs="0"/>
<xs:element name="AccountCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="POSTINGRESTRICT" type="xs:string" minOccurs="0"/>
<xs:element name="ChargeType" type="xs:string" minOccurs="0"/>
<xs:element name="ChargeAmount" type="xs:string" minOccurs="0"/>
<xs:element name="ChargeDetails" type="xs:string" minOccurs="0"/>
<xs:element name="CloseOnline" type="xs:string" minOccurs="0"/>
<xs:element name="CloseMode" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="ACCOUNTCLOSUREType">
<xs:sequence>
<xs:element name="CAPITALDATE" type="xs:string" minOccurs="0"/>
<xs:element name="OPENACTUALBAL" type="xs:string" minOccurs="0"/>
<xs:element name="OPENCLEAREDBAL" type="xs:string" minOccurs="0"/>
<xs:element name="ONLINEACTUALBAL" type="xs:string" minOccurs="0"/>
<xs:element name="ONLINECLEAREDBAL" type="xs:string" minOccurs="0"/>
<xs:element name="STANDINGORDERS" type="xs:string" minOccurs="0"/>
<xs:element name="UNCLEAREDENTRIES" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALCRINTEREST" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALDRINTEREST" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALPENDINGDR" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALCHARGES" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALPENDINGCHG" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALTAX" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALPENDINGTAX" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTLIQUIDATEDTO" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="SETTLEMENTACCT" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUESOS" type="xs:string" minOccurs="0"/>
<xs:element name="gBANKCARDS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="BANKCARDS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CCCHGSOS" type="xs:string" minOccurs="0"/>
<xs:element name="BCBANKSORTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTLIQUCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="POSTINGRESTRICT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALPREMIUMAMT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALACCAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEABLEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CLOCHARGETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CLOCHARGEAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CLOCHTAXTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CLOCHTAXAMT" type="xs:string" minOccurs="0"/>
<xs:element name="CLOCHARGEPOSTED" type="xs:string" minOccurs="0"/>
<xs:element name="CAPINTEREST" type="xs:string" minOccurs="0"/>
<xs:element name="CLOSEONLINE" type="xs:string" minOccurs="0"/>
<xs:element name="FTID" type="xs:string" minOccurs="0"/>
<xs:element name="CLOSEMODE" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="ISSUEAGENCY" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.BEN.NAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRPAYCASHCHQ" type="xs:string" minOccurs="0"/>
<xs:element name="HNCACTA" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOBULKFILEDETINPUTWSType">
<xs:sequence>
<xs:element name="UPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LINECNT" type="xs:string" minOccurs="0"/>
<xs:element name="FILESTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="UPLOADUSER" type="xs:string" minOccurs="0"/>
<xs:element name="DELETEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="AGENCY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOBULKFILEDETType">
<xs:sequence>
<xs:element name="UPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LINECNT" type="xs:string" minOccurs="0"/>
<xs:element name="PREREJECT" type="xs:string" minOccurs="0"/>
<xs:element name="PREAPPR" type="xs:string" minOccurs="0"/>
<xs:element name="EXECREJECT" type="xs:string" minOccurs="0"/>
<xs:element name="EXECAPPR" type="xs:string" minOccurs="0"/>
<xs:element name="FILESTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="UPLOADUSER" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHUSER" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHDATE" type="xs:string" minOccurs="0"/>
<xs:element name="HOLDNAME" type="xs:string" minOccurs="0"/>
<xs:element name="DELETEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="AGENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CANAL" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_10" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_11" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_12" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_13" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_14" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_15" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="FICOBULKAPPACCTWSType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gFICOBULKAPPACCTWSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mFICOBULKAPPACCTWSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CODID" type="xs:string" minOccurs="0"/>
<xs:element name="IDTABLE" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADO" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRECHAZO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSGOVTACCTDETAILType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSGOVTACCTDETAILDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSGOVTACCTDETAILDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="REGSIGNATURE" type="xs:string" minOccurs="0"/>
<xs:element name="REQSIGNATURE" type="xs:string" minOccurs="0"/>
<xs:element name="SIGNATURENAME" type="xs:string" minOccurs="0"/>
<xs:element name="SIGNATURETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="SIGNATUREDESC" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaMovimientosCuenta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSACCOUNTENTRIESType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaMovimientosCuentaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSACCOUNTENTRIESType" type="tns:WSACCOUNTENTRIESType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultademovimientosdecta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOESTMTGIVENDATESType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultademovimientosdectaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOESTMTGIVENDATESType" type="tns:WSFICOESTMTGIVENDATESType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultasaldopromcuenta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSACCTAVERAGEBALType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultasaldopromcuentaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSACCTAVERAGEBALType" type="tns:WSACCTAVERAGEBALType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaCuentaAperturada">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="FICOBULKAPPACCTWSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaCuentaAperturadaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOBULKAPPACCTWSType" type="tns:FICOBULKAPPACCTWSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadedetallesdelacuenta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSACCOUNTLISTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadedetallesdelacuentaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSACCOUNTLISTType" type="tns:WSACCOUNTLISTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreacionArchivoDeDetalle_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOBULKFILEDETINPUTWSType" type="tns:FICOBULKFILEDETINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreacionArchivoDeDetalle_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOBULKFILEDETType" type="tns:FICOBULKFILEDETType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultacortadesaldodecuenta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSACCTAVAILBALType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultacortadesaldodecuentaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSACCTAVAILBALType" type="tns:WSACCTAVAILBALType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AperturaDeCuenta_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOBULKAPPRCLNTINPUTACCTWSType" type="tns:FICOBULKAPPRCLNTINPUTACCTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AperturaDeCuenta_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOBULKAPPRCLNTType" type="tns:FICOBULKAPPRCLNTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AperturaDeCuenta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOBULKAPPRCLNTINPUTACCTWSType" type="tns:FICOBULKAPPRCLNTINPUTACCTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AperturaDeCuentaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOBULKAPPRCLNTType" type="tns:FICOBULKAPPRCLNTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreacionArchivoDeDetalle">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="FICOBULKFILEDETINPUTWSType" type="tns:FICOBULKFILEDETINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreacionArchivoDeDetalleResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOBULKFILEDETType" type="tns:FICOBULKFILEDETType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadetalladademovscuenta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOESTMTGIVENDATESDETType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetalladademovscuentaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOESTMTGIVENDATESDETType" type="tns:WSFICOESTMTGIVENDATESDETType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaSaldoCuentaporCancelar_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="ACCOUNTCLOSURETELLERACCLOSUREWSType" type="tns:ACCOUNTCLOSURETELLERACCLOSUREWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaSaldoCuentaporCancelar_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="ACCOUNTCLOSUREType" type="tns:ACCOUNTCLOSUREType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadecuentadegobierno">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSGOVTACCTDETAILType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadecuentadegobiernoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSGOVTACCTDETAILType" type="tns:WSGOVTACCTDETAILType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaSaldoCuentaporCancelar">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="ACCOUNTCLOSURETELLERACCLOSUREWSType" type="tns:ACCOUNTCLOSURETELLERACCLOSUREWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaSaldoCuentaporCancelarResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="ACCOUNTCLOSUREType" type="tns:ACCOUNTCLOSUREType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadecuentascanceladas">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSACCOUNTCLOSEDType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadecuentascanceladasResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSACCOUNTCLOSEDType" type="tns:WSACCOUNTCLOSEDType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadesaldodecuenta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOACCTBASICDETAILSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadesaldodecuentaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOACCTBASICDETAILSType" type="tns:WSFICOACCTBASICDETAILSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>