Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/SimulaPagoChequeCompensacion/xsd/simulaPagoChequeCompensacionTypes.xsd

<xs:schema
version="1.0"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.ficohsa.com.hn/middleware.services/simulaPagoChequeCompensacionTypes"
xmlns:cons="http://www.ficohsa.com.hn/middleware.services/simulaPagoChequeCompensacionTypes">
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name = "simulaPagoChequeCompensacionResponseArrayType">
		<xs:sequence>			           
			<xs:element name="REJECTION_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="REJECTION_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="REJECTION_MOTIVE" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="simulaPagoChequeCompensacionResponseRecordType">
		<xs:sequence>
			<xs:element name="simulaPagoChequeCompensacionResponseRecordType" type="cons:simulaPagoChequeCompensacionResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="simulaPagoChequeCompensacionResponseType">
		<xs:sequence>
			<xs:element name="simulaPagoChequeCompensacionResponseType" type="cons:simulaPagoChequeCompensacionResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="simulaPagoChequeCompensacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="cons:stringMinLength1"/>
				<xs:element name="CHEQUE_NUMBER" type="cons:stringMinLength1"/>
				<xs:element name="AMOUNT" type="cons:stringMinLength1"/>
				<xs:element name="CURRENCY" type="cons:stringMinLength1"/>
				<xs:element name="COST_CENTER_CODE" type="cons:stringMinLength1"/>
				<xs:element name="ROUTE_CODE" type="cons:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="simulaPagoChequeCompensacionResponse" type="cons:simulaPagoChequeCompensacionResponseType"/>
</xs:schema>