Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/Core/consultaFinancierasACH/consultaFinancierasACHTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaFinancierasACHTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaFinancierasACHTypes">

	<xs:complexType name="consultaFinancierasACHResponseArrayType">
		<xs:sequence>
				<xs:element name="DESTINATION_CODE" type="xs:string"
					minOccurs="0" maxOccurs="1"/>
				<xs:element name="DESTINATION_NAME" type="xs:string"
					minOccurs="0" maxOccurs="1"/>
				<xs:element name="consultaFinancierasACHDetailResponseType" minOccurs="0" maxOccurs="1" form="qualified">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="consultaFinancierasACHDetailResponseRecordType" minOccurs="0" maxOccurs="unbounded" form="qualified">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TYPE_OF_PRODUCT" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="MIN_PRODUCT_ID_LENGTH" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="MAX_PRODUCT_ID_LENGTH" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="LEADING_ZEROS_YES_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="PRODUCT_ID_SAMPLE" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="TRANSFER_TYPE" type="xs:string" minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>	
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaFinancierasACHResponseRecordType">
		<xs:sequence>
			<xs:element name="consultaFinancierasACHResponseRecordType"
				type="cons:consultaFinancierasACHResponseArrayType" form="qualified"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaFinancierasACHResponseType">
		<xs:sequence>
			<xs:element name="consultaFinancierasACHResponseType"
				type="cons:consultaFinancierasACHResponseRecordType" form="qualified"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaFinancierasACH">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="DESTINATION_CODE" type="xs:string" minOccurs="0" />
		</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaFinancierasACHResponse" type="cons:consultaFinancierasACHResponseType" />

</xs:schema>