Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CREDITFORCE/cobrosGT/xsd/creditForce.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.creditforce.com/SOA" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.creditforce.com/SOA">
  <xs:import schemaLocation="creditForceDataContract.xsd" namespace="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
  <xs:element name="Status">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatusResult" nillable="true" type="q1:StatusResult" xmlns:q1="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Client">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientRequest" nillable="true" type="q2:ClientRequest" xmlns:q2="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientResult" nillable="true" type="q3:ClientResponse" xmlns:q3="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opReq" nillable="true" type="q4:OperationRequest" xmlns:q4="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OperationResult" nillable="true" type="q5:OperationResponse" xmlns:q5="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordReq" nillable="true" type="q6:RecordRequest" xmlns:q6="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecordManagementResult" nillable="true" type="q7:RecordResponse" xmlns:q7="http://schemas.datacontract.org/2004/07/CreditForce.Common.DataContract.BackEnd.Collection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>