Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/WSDL/GetUser/v1.0/Core.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../../../XSD/GetUser/v1.0/CoreArray.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../../../XSD/GetUser/v1.0/Core.xsd"/>
</xsd:schema>
</types>
<message name="EjecutarBatch">
<part name="parameters" element="tns:EjecutarBatch"/>
</message>
<message name="EjecutarBatchResponse">
<part name="parameters" element="tns:EjecutarBatchResponse"/>
</message>
<message name="EjecutarBatch_Validate">
<part name="parameters" element="tns:EjecutarBatch_Validate"/>
</message>
<message name="EjecutarBatch_ValidateResponse">
<part name="parameters" element="tns:EjecutarBatch_ValidateResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Consultadeusuariosdelsistema">
<part name="parameters" element="tns:Consultadeusuariosdelsistema"/>
</message>
<message name="ConsultadeusuariosdelsistemaResponse">
<part name="parameters" element="tns:ConsultadeusuariosdelsistemaResponse"/>
</message>
<message name="Consultadeactividadeconomica">
<part name="parameters" element="tns:Consultadeactividadeconomica"/>
</message>
<message name="ConsultadeactividadeconomicaResponse">
<part name="parameters" element="tns:ConsultadeactividadeconomicaResponse"/>
</message>
<message name="ConsultaDAO">
<part name="parameters" element="tns:ConsultaDAO"/>
</message>
<message name="ConsultaDAOResponse">
<part name="parameters" element="tns:ConsultaDAOResponse"/>
</message>
<message name="Consultadecategoria">
<part name="parameters" element="tns:Consultadecategoria"/>
</message>
<message name="ConsultadecategoriaResponse">
<part name="parameters" element="tns:ConsultadecategoriaResponse"/>
</message>
<message name="ConsultadedestinosACH">
<part name="parameters" element="tns:ConsultadedestinosACH"/>
</message>
<message name="ConsultadedestinosACHResponse">
<part name="parameters" element="tns:ConsultadedestinosACHResponse"/>
</message>
<message name="Actualizaciondetasadecambio">
<part name="parameters" element="tns:Actualizaciondetasadecambio"/>
</message>
<message name="ActualizaciondetasadecambioResponse">
<part name="parameters" element="tns:ActualizaciondetasadecambioResponse"/>
</message>
<message name="Actualizaciondetasadecambio_Validate">
<part name="parameters" element="tns:Actualizaciondetasadecambio_Validate"/>
</message>
<message name="Actualizaciondetasadecambio_ValidateResponse">
<part name="parameters" element="tns:Actualizaciondetasadecambio_ValidateResponse"/>
</message>
<message name="Consultadetasadecambiofcy">
<part name="parameters" element="tns:Consultadetasadecambiofcy"/>
</message>
<message name="ConsultadetasadecambiofcyResponse">
<part name="parameters" element="tns:ConsultadetasadecambiofcyResponse"/>
</message>
<message name="Consultadetasadecambiolcy">
<part name="parameters" element="tns:Consultadetasadecambiolcy"/>
</message>
<message name="ConsultadetasadecambiolcyResponse">
<part name="parameters" element="tns:ConsultadetasadecambiolcyResponse"/>
</message>
<message name="Consultadeventanilla">
<part name="parameters" element="tns:Consultadeventanilla"/>
</message>
<message name="ConsultadeventanillaResponse">
<part name="parameters" element="tns:ConsultadeventanillaResponse"/>
</message>
<message name="Consultadeparametroscore">
<part name="parameters" element="tns:Consultadeparametroscore"/>
</message>
<message name="ConsultadeparametroscoreResponse">
<part name="parameters" element="tns:ConsultadeparametroscoreResponse"/>
</message>
<message name="Consultadefechadelsistema">
<part name="parameters" element="tns:Consultadefechadelsistema"/>
</message>
<message name="ConsultadefechadelsistemaResponse">
<part name="parameters" element="tns:ConsultadefechadelsistemaResponse"/>
</message>
<message name="Consultadebancoslocales">
<part name="parameters" element="tns:Consultadebancoslocales"/>
</message>
<message name="ConsultadebancoslocalesResponse">
<part name="parameters" element="tns:ConsultadebancoslocalesResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="EjecutarBatch">
<input message="tns:EjecutarBatch"/>
<output message="tns:EjecutarBatchResponse"/>
</operation>
<operation name="EjecutarBatch_Validate">
<input message="tns:EjecutarBatch_Validate"/>
<output message="tns:EjecutarBatch_ValidateResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Consultadeusuariosdelsistema">
<input message="tns:Consultadeusuariosdelsistema"/>
<output message="tns:ConsultadeusuariosdelsistemaResponse"/>
</operation>
<operation name="Consultadeactividadeconomica">
<input message="tns:Consultadeactividadeconomica"/>
<output message="tns:ConsultadeactividadeconomicaResponse"/>
</operation>
<operation name="ConsultaDAO">
<input message="tns:ConsultaDAO"/>
<output message="tns:ConsultaDAOResponse"/>
</operation>
<operation name="Consultadecategoria">
<input message="tns:Consultadecategoria"/>
<output message="tns:ConsultadecategoriaResponse"/>
</operation>
<operation name="ConsultadedestinosACH">
<input message="tns:ConsultadedestinosACH"/>
<output message="tns:ConsultadedestinosACHResponse"/>
</operation>
<operation name="Actualizaciondetasadecambio">
<input message="tns:Actualizaciondetasadecambio"/>
<output message="tns:ActualizaciondetasadecambioResponse"/>
</operation>
<operation name="Actualizaciondetasadecambio_Validate">
<input message="tns:Actualizaciondetasadecambio_Validate"/>
<output message="tns:Actualizaciondetasadecambio_ValidateResponse"/>
</operation>
<operation name="Consultadetasadecambiofcy">
<input message="tns:Consultadetasadecambiofcy"/>
<output message="tns:ConsultadetasadecambiofcyResponse"/>
</operation>
<operation name="Consultadetasadecambiolcy">
<input message="tns:Consultadetasadecambiolcy"/>
<output message="tns:ConsultadetasadecambiolcyResponse"/>
</operation>
<operation name="Consultadeventanilla">
<input message="tns:Consultadeventanilla"/>
<output message="tns:ConsultadeventanillaResponse"/>
</operation>
<operation name="Consultadeparametroscore">
<input message="tns:Consultadeparametroscore"/>
<output message="tns:ConsultadeparametroscoreResponse"/>
</operation>
<operation name="Consultadefechadelsistema">
<input message="tns:Consultadefechadelsistema"/>
<output message="tns:ConsultadefechadelsistemaResponse"/>
</operation>
<operation name="Consultadebancoslocales">
<input message="tns:Consultadebancoslocales"/>
<output message="tns:ConsultadebancoslocalesResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="EjecutarBatch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EjecutarBatch_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadeusuariosdelsistema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadeactividadeconomica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaDAO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadecategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultadedestinosACH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizaciondetasadecambio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizaciondetasadecambio_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadetasadecambiofcy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadetasadecambiolcy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadeventanilla">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadeparametroscore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadefechadelsistema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadebancoslocales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwomnicanal:7003/svcCore/services"/>
</port>
</service>
</definitions>