Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/GestionesProductoBeneficio/xsd/gestionesProductoBeneficioTypes.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" version="1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionesProductoBeneficioTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionesProductoBeneficioTypes">



	<!--############################### -->
	<!--OPERACION: ingresaProductoBeneficio -->
	<!--############################### -->

	
	<xs:complexType name="productType">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string" />
			<xs:element name="VALUE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="benefitType">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string" />
			<xs:element name="VALUE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>



	<element name="ingresaProductoBeneficio">
		<complexType>
			<sequence>
				<xs:element name="PRODUCT" type="tns:productType" minOccurs="0"  />
				<xs:element name="BENEFIT" type="tns:benefitType" minOccurs="0"  />
				<xs:element name="USER_ID" type="string" minOccurs="0" />
				<xs:element name="BRANCH_CODE" type="string" minOccurs="0" />
				<xs:element name="ADDITIONAL_INFO" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="INFO" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NAME" type="xs:string" />
										<xs:element name="VALUE" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</sequence>
		</complexType>
	</element>

	<element name="ingresaProductoBeneficioResponse">

	</element>

	<!--#################################################################-->
	<!-- cardDetailsType -->
	<xs:complexType name="cardDetailsType">
		<xs:sequence>
			<xs:element name="NUMBER" type="xs:string"/>
			<xs:element name="HOLDER_NAME" type="xs:string"/>
			<xs:element name="LOGO" type="xs:string"/>
			<xs:element name="PRODUCT_TYPE" type="xs:string"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--#################################################################-->
	<!--OPERACION: INGRESA GESTION PRODUCTO BENFICIO-->
	<xs:element name="ingresaGestionProductoBeneficioRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LEGAL_ID" type="xs:string"/>
				<xs:element name="MANAGEMENT_TYPE" type="xs:string"/>
				<xs:element name="CARD_DETAILS" type="tns:cardDetailsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ingresaGestionProductoBeneficioResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MANAGEMENT_NUMBER" type="xs:string"/>
				<xs:element name="MANAGEMENT_STATUS" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</schema>