Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/TENGO/PagoMasivoBilletera/xsd/Services.xsd

<!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-.  -->
<xs:schema xmlns:tns="http://main/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://main/">
<xs:element name="Billetera" nillable="true" type="xs:anyType"/>
<xs:element name="Billeteras" nillable="true" type="xs:anyType"/>
<xs:element name="ClassHistoricoId" type="tns:classHistoricoId"/>
<xs:element name="ConsultaEstadoLote" type="tns:ConsultaEstadoLote"/>
<xs:element name="ConsultaEstadoLoteResponse" type="tns:ConsultaEstadoLoteResponse"/>
<xs:element name="HistoricoPagoId" type="tns:HistoricoPagoId"/>
<xs:element name="HistoricoPagoIdResponse" type="tns:HistoricoPagoIdResponse"/>
<xs:element name="PagoTranfer" type="tns:PagoTranfer"/>
<xs:element name="PagoTranferResponse" type="tns:PagoTranferResponse"/>
<xs:element name="ReturnCashin" type="tns:returnCashin"/>
<xs:element name="ReturnClassAgente" type="tns:returnClassAgente"/>
<xs:element name="ReturnClassHistoricoId" type="tns:returnClassHistoricoId"/>
<xs:element name="ReturnEstado" type="tns:estadoResponse"/>
<xs:element name="SuperClassHistoricoId" type="tns:superClassHistoricoId"/>
<xs:element name="ValidaBulk" type="tns:ValidaBulk"/>
<xs:element name="ValidaBulkResponse" type="tns:ValidaBulkResponse"/>
<xs:element name="header" type="tns:header"/>
<xs:element name="jwtTengo" type="tns:jwtTengo"/>
<xs:element name="jwtTengoResponse" type="tns:jwtTengoResponse"/>
<xs:element name="response" nillable="true" type="tns:header"/>
<xs:element name="wsrespuesta" type="tns:respuesta"/>
<xs:complexType name="ConsultaEstadoLote">
<xs:sequence>
<xs:element name="LlaveTengo" type="xs:string" nillable="true"/>
<xs:element name="Token" type="xs:string" nillable="true"/>
<xs:element name="Usuario" type="xs:string" nillable="true"/>
<xs:element name="debBilletera" type="xs:string" nillable="true"/>
<xs:element name="Correlativo" type="xs:string" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ConsultaEstadoLoteResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="estadoResponse">
<xs:sequence>
<xs:element name="codEstado" type="xs:string" nillable="true"/>
<xs:element name="debBilletera" type="xs:string" nillable="true"/>
<xs:element name="desEstado" type="xs:string" nillable="true"/>
<xs:element name="fecha" type="xs:string" nillable="true"/>
<xs:element name="montoError" type="xs:double" nillable="true"/>
<xs:element name="montoTotal" type="xs:double" nillable="true"/>
<xs:element name="nombreTitular" type="xs:string" nillable="true"/>
<xs:element name="numTrx" type="xs:int" nillable="true"/>
<xs:element name="numTrxError" type="xs:int" nillable="true"/>
<xs:element name="numTrxSuccess" type="xs:int" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="header">
<xs:sequence>
<xs:element name="messageID" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ValidaBulk">
<xs:sequence>
<xs:element name="LlaveTengo" type="xs:string" nillable="true"/>
<xs:element name="Token" type="xs:string" nillable="true"/>
<xs:element name="Usuario" type="xs:string" nillable="true"/>
<xs:element name="Billeteras" type="tns:supClassHeader" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="supClassHeader">
<xs:sequence>
<xs:element name="billetera" type="tns:classHeader" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="classHeader">
<xs:sequence>
<xs:element name="concepto" type="xs:string"/>
<xs:element name="credBilletera" type="xs:string"/>
<xs:element name="linea" type="xs:int"/>
<xs:element name="monto" type="xs:double"/>
<xs:element name="nombreTitular" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ValidaBulkResponse">
<xs:sequence>
<xs:element name="return" type="tns:returnClassAgente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="returnClassAgente">
<xs:sequence>
<xs:element name="billeteras" type="tns:superClassAgente" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="codError" type="xs:string" minOccurs="0"/>
<xs:element name="desError" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="superClassAgente">
<xs:sequence>
<xs:element name="billetera" type="tns:classAgente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="classAgente">
<xs:sequence>
<xs:element name="codError" type="xs:string" minOccurs="0"/>
<xs:element name="codEstado" type="xs:string" minOccurs="0"/>
<xs:element name="concepto" type="xs:string" minOccurs="0"/>
<xs:element name="credBilletera" type="xs:string" minOccurs="0"/>
<xs:element name="desError" type="xs:string" minOccurs="0"/>
<xs:element name="desEstado" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="identidad" type="xs:string" minOccurs="0"/>
<xs:element name="linea" type="xs:int"/>
<xs:element name="monto" type="xs:double"/>
<xs:element name="nombreTitular" type="xs:string" minOccurs="0"/>
<xs:element name="tipoProducto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="jwtTengo">
<xs:sequence>
<xs:element name="LlaveTengo" type="xs:string" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="jwtTengoResponse">
<xs:sequence>
<xs:element name="return" type="tns:respuesta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="respuesta">
<xs:sequence>
<xs:element name="toket" type="xs:string" minOccurs="0"/>
<xs:element name="codError" type="xs:string" minOccurs="0"/>
<xs:element name="desError" type="xs:string" minOccurs="0"/>
<xs:element name="menError" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="HistoricoPagoId">
<xs:sequence>
<xs:element name="LlaveTengo" type="xs:string" nillable="true"/>
<xs:element name="Usuario" type="xs:string" nillable="true"/>
<xs:element name="Correlativo" type="xs:string" nillable="true"/>
<xs:element name="Token" type="xs:string" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="HistoricoPagoIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:returnClassHistoricoId" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="returnClassHistoricoId">
<xs:sequence>
<xs:element name="billeteras" type="tns:superClassHistoricoId" nillable="true"/>
<xs:element name="codEstado" type="xs:string" nillable="true"/>
<xs:element name="correlativo" type="xs:string" nillable="true"/>
<xs:element name="debBilletera" type="xs:string" minOccurs="0"/>
<xs:element name="desEstado" type="xs:string" nillable="true"/>
<xs:element name="fecha" type="xs:string" nillable="true"/>
<xs:element name="montoTotal" type="xs:double" nillable="true"/>
<xs:element name="montoTotalError" type="xs:double" nillable="true"/>
<xs:element name="nombreTitular" type="xs:string" nillable="true"/>
<xs:element name="numTrx" type="xs:int" nillable="true"/>
<xs:element name="numTrxError" type="xs:int" nillable="true"/>
<xs:element name="numTrxSuccess" type="xs:int" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="superClassHistoricoId">
<xs:sequence>
<xs:element name="listaHistoricoId" type="tns:classHistoricoId" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="classHistoricoId">
<xs:sequence>
<xs:element name="codEstado" type="xs:string" nillable="true"/>
<xs:element name="credBilletera" type="xs:string" nillable="true"/>
<xs:element name="desEstado" type="xs:string" nillable="true"/>
<xs:element name="descripcion" type="xs:string" nillable="true"/>
<xs:element name="linea" type="xs:int" nillable="true"/>
<xs:element name="monto" type="xs:double" nillable="true"/>
<xs:element name="nombreTitular" type="xs:string" nillable="true"/>
<xs:element name="tipo" type="xs:string" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PagoTranfer">
<xs:sequence>
<xs:element name="LlaveTengo" type="xs:string" nillable="true"/>
<xs:element name="Token" type="xs:string" nillable="true"/>
<xs:element name="Usuario" type="xs:string" nillable="true"/>
<xs:element name="debBilletera" type="xs:string" nillable="true"/>
<xs:element name="Pass" type="xs:string" nillable="true"/>
<xs:element name="Billeteras" type="tns:headerListBilleteras" nillable="true"/>
<xs:element name="Correlativo" type="xs:string" nillable="true"/>
<xs:element name="Descripcion" type="xs:string" nillable="true"/>
<xs:element name="SMSPush" type="xs:string" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="headerListBilleteras">
<xs:sequence>
<xs:element name="billetera" type="tns:headerBilletera" nillable="true" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="headerBilletera">
<xs:sequence>
<xs:element name="credBilletera" type="xs:string" nillable="true"/>
<xs:element name="identidad" type="xs:string" nillable="true"/>
<xs:element name="linea" type="xs:int" nillable="true"/>
<xs:element name="monto" type="xs:string" nillable="true"/>
<xs:element name="nombreTitular" type="xs:string" nillable="true"/>
<xs:element name="tipoProducto" type="xs:string" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PagoTranferResponse">
<xs:sequence>
<xs:element name="return" type="tns:returnCashin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="returnCashin">
<xs:sequence>
<xs:element name="billeteras" type="tns:billeteras" nillable="true"/>
<xs:element name="codError" type="xs:string" minOccurs="0"/>
<xs:element name="codEstado" type="xs:string" nillable="true"/>
<xs:element name="correlativo" type="xs:string" nillable="true"/>
<xs:element name="debBilletera" type="xs:string" nillable="true"/>
<xs:element name="desError" type="xs:string" nillable="true"/>
<xs:element name="desEstado" type="xs:string" nillable="true"/>
<xs:element name="montoTotal" type="xs:double" nillable="true"/>
<xs:element name="numeroTransacciones" type="xs:string" nillable="true"/>
<xs:element name="usuario" type="xs:string" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="billeteras">
<xs:sequence>
<xs:element name="billeteras" type="tns:billetera" nillable="true" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="billetera">
<xs:sequence>
<xs:element name="codError" type="xs:string" nillable="true"/>
<xs:element name="codEstado" type="xs:string" nillable="true"/>
<xs:element name="credBilletera" type="xs:string" nillable="true"/>
<xs:element name="desError" type="xs:string" nillable="true"/>
<xs:element name="desEstado" type="xs:string" nillable="true"/>
<xs:element name="descripcion" type="xs:string" nillable="true"/>
<xs:element name="identidad" type="xs:string" nillable="true"/>
<xs:element name="linea" type="xs:int" nillable="true"/>
<xs:element name="monto" type="xs:double" nillable="true"/>
<xs:element name="nombreTitular" type="xs:string" nillable="true"/>
<xs:element name="numeroRef" type="xs:string" nillable="true"/>
<xs:element name="tipo" type="xs:string" nillable="true"/>
</xs:sequence>
</xs:complexType>
</xs:schema>