Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/AperturaProductos/xsd/aperturaProductosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:aper="http://www.ficohsa.com.hn/middleware.services/aperturaProductosTypes"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/aperturaProductosTypes">

	
	<!--############################### -->
	<!--OPERACION: VALIDACION DATOS CLIENTE -->
	<!--############################### -->
	
	<xs:element name="validaDatosCliente">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="LEGAL_ID" type="xs:string" />
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="VALIDATION_LIST" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VALIDATION_ITEM" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NAME"  type="aper:listType" minOccurs="0" />
										<xs:element name="VALUE" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	
    <xs:element name="validaDatosClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0"/>
			    <xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="ASSOCIATIONS_LIST" type="aper:associationsList" minOccurs="0" />
				<xs:element name="CUSTOMER_INFORMATION" type="aper:customerinformation" minOccurs="0" />
				<xs:element name="USER_INFORMATION" type="aper:userinformation" minOccurs="0" />
			    <xs:element name="ASSETS_INFORMATION" type="aper:assetinformation" minOccurs="0" />
			    <xs:element name="LIABILITY_INFORMATION" type="aper:lyabilityinformation" minOccurs="0" />	
			</xs:sequence>
		</xs:complexType>
	</xs:element>

    <!--############################### -->
	<!--TYPE: ASSOCIATIONSLIST-->
	<!--############################### -->
     <xs:complexType name="associationsList">
		<xs:sequence>
			<xs:element name="ASSOCIATION" type="aper:association" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="association">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" minOccurs="0" />
			<xs:element name="STATUS" type="xs:string" minOccurs="0"  />
		</xs:sequence>
	</xs:complexType>
	
	 <!--############################### -->
	<!--TYPE: LIABILITY_INFORMATION-->
	<!--############################### -->
     <xs:complexType name="lyabilityinformation">
		<xs:sequence>
			<xs:element name="LIABILITY" type="aper:lyability" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string"  minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="lyability">
		<xs:sequence>
			<xs:element name="TYPE"   type="xs:string" minOccurs="0" />
			<xs:element name="STATUS" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	
     <!--############################### -->
     <!--TYPE: ASSETS_INFORMATION-->
	<!--############################### -->
     <xs:complexType name="assetinformation">
		<xs:sequence>
			<xs:element name="ASSET" type="aper:asset" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="ERROR_MESSAGE" type="xs:string"  minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="asset">
		<xs:sequence>
			<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="0" />	
		</xs:sequence>
	</xs:complexType>
	
	 <!--############################### -->
	<!--TYPE: CUSTOMER_INFORMATION-->
	<!--############################### -->
     <xs:complexType name="customerinformation">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	 <!--############################### -->
	<!--TYPE: USER_INFORMATION-->
	<!--############################### -->
     <xs:complexType name="userinformation">
		<xs:sequence>
			<xs:element name="USER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	
	  <!--############################### -->
	<!--TYPE: LIST TYPE-->
	<!--############################### -->
	<xs:simpleType name="listType">
		<xs:restriction base="xs:string">
			  <xs:enumeration value="ASSOCIATIONS_LIST"/>
              <xs:enumeration value="CUSTOMER_INFORMATION"/>
              <xs:enumeration value="USER_INFORMATION"/>
			  <xs:enumeration value="LIABILITY"/>
			  <xs:enumeration value="ASSETS"/>
			  <xs:enumeration value="FISCAN_LIST"/>
			  <xs:enumeration value="BENEFICIARY_NAME"/>
			  <xs:enumeration value="COUNTRY"/>
			  <xs:enumeration value="RELATIONSHIP"/>
			  <xs:enumeration value="DOCUMENT_TYPE"/>
			  <xs:enumeration value="DOCUMENT_NUMBER"/>
			  <xs:enumeration value="COBIS_LIST"/>
			  <xs:enumeration value="ACCOUNT_PURPOSE"/>
			  <xs:enumeration value="FOUNDS_SOURCE"/>
			  <xs:enumeration value="NUMBER_DEBIT_TRANSACTIONS"/>
			  <xs:enumeration value="AMOUNT_DEBIT_AVERAGE"/>
			  <xs:enumeration value="NUMBER_CREDIT_TRANSACTIONS"/>
			  <xs:enumeration value="AMOUNT_CREDIT_AVERAGE"/>
			  <xs:enumeration value="CUSTOMER_ID"/>
			  <xs:enumeration value="CURRENCY"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--############################### -->
	<!--######CREA CUENTA CLIENTE######-->
	<!--############################### -->
	
	<!--###TYPE: phoneNumberItemType###-->
	<xs:complexType name="phoneNumberItemType">
		<xs:sequence>
			<xs:element name="PHONE_LOCATION" type="xs:string"/>
			<xs:element name="PHONE_TYPE" type="xs:string"/>
			<xs:element name="PHONE_NUMBER" type="xs:string"/>
	        <xs:element name="PHONE_REFERENCE" type="xs:string" minOccurs="0"/>
	        <xs:element name="ZIP_CODE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--###TYPE: emailItemType###-->
	<xs:complexType name="emailItemType">
		<xs:sequence>
			<xs:element name="EMAIL_TYPE" type="xs:string"/>
			<xs:element name="EMAIL" type="xs:string"/>
			<xs:element name="IS_MAIN_ADDRESS"  type="aper:replyTypeEnum" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--###TYPE: jobItemType###-->
	<xs:complexType name="jobItemType">
		<xs:sequence>
		    <xs:element name="IS_WORK" type="aper:replyTypeEnum"  minOccurs="0"/>
		    <xs:element name="PROFESION_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="JOB_DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="INCOME_SOURCE" type="xs:string" minOccurs="0"/>
			<xs:element name="PRINCIPAL_INCOME_AMOUNT" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--###TYPE: addressItemType###-->
	<xs:complexType name="addressItemType">
		<xs:sequence>
			<xs:element name="ADDRESS_TYPE" type="xs:string"/>
			<xs:element name="ADDRESS_LINE" type="xs:string"/>
			<xs:element name="IS_DELIVERY_ADDRESS" type="aper:replyTypeEnum"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--###TYPE: addresslineItemType###-->
	<xs:complexType name="addresslineItemType">
		<xs:sequence>
		    <xs:element name="ADDRESS_TYPE" type="xs:string"/>
			<xs:element name="IS_MAIN_ADDRESS" type="xs:string"/>
			<xs:element name="COUNTRY_CODE" type="xs:string"/>
			<xs:element name="STATE_CODE" type="xs:string"/>
			<xs:element name="CITY_CODE" type="xs:string"/>
			<xs:element name="COLONY_CODE" type="xs:string"/>
			<xs:element name="NEIGHBORHOOD" type="xs:string"/>
			<xs:element name="AVENUE" type="xs:string"/>
			<xs:element name="STREET" type="xs:string"/>
			<xs:element name="BLOCK" type="xs:string"/>
		    <xs:element name="HOUSE_NUMBER" type="xs:string"/>
	        <xs:element name="REFERENCES" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--###TYPE: operationTypeEnum###-->
	<xs:simpleType name="operationTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INDISTINCST"/>
			<xs:enumeration value="INDIVIDUAL"/>
			<xs:enumeration value="JOINTLY"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--###TYPE: referredTypeEnum###-->
	<xs:simpleType name="referredTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OTRO"/>
			<xs:enumeration value="EXTRA"/>
			<xs:enumeration value="REMESA"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--###TYPE: replyTypeEnum###-->
	<xs:simpleType name="replyTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NO"/>
			<xs:enumeration value="YES"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--###TYPE: replyTypeGender###-->
	<xs:simpleType name="replyTypeGender">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MALE"/>
			<xs:enumeration value="FEMALE"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--###TYPE: replyTypeMaritalStatus###-->
	<xs:simpleType name="replyTypeMaritalStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MARRIED"/>
            <xs:enumeration value="DIVORCED"/>
            <xs:enumeration value="WIDOW"/>
            <xs:enumeration value="LEGALLY"/>
            <xs:enumeration value="SINGLE"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--###TYPE: replyTypeEnumType###-->
	<xs:simpleType name="replyTypeEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SIMPLIFIED"/>
		</xs:restriction>
	</xs:simpleType>

	<!--###TYPE: beneficiaryDetailType###-->
	<xs:complexType name="beneficiaryDetailType">
		<xs:sequence>
			<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="RELATION_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="DOCUMENT_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
			<xs:element name="BENEFICIARY_PERCENTAGE" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--###TYPE: accountInformationType###-->
	<xs:complexType name="accountInformationType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CATEGORY" type="xs:string"/>
			<xs:element name="CURRENCY" type="xs:string"/>
			<xs:element name="OPERATION_TYPE" type="aper:operationTypeEnum" minOccurs="0"/>
			<xs:element name="REFERRED_TYPE" type="aper:referredTypeEnum"/>
			<xs:element name="PAYROLL_GROUP" type="xs:string" minOccurs="0"/>
			<xs:element name="INITIAL_DEPOSIT" type="xs:string"/>
			<xs:element name="PURPOSE" type="xs:string"/>
			<xs:element name="ORIGEN_OF_FUNDS" type="xs:string"/>
		    <xs:element name="NUMBER_DEBIT_TRANSACTIONS" type="xs:string" minOccurs="0"/>
		    <xs:element name="AMOUNT_DEBIT_AVERAGE" type="xs:string" minOccurs="0"/>
		    <xs:element name="NUMBER_CREDIT_TRANSACTIONS" type="xs:string" minOccurs="0"/>
		    <xs:element name="AMOUNT_CREDIT_AVERAGE" type="xs:string" minOccurs="0"/>
			<xs:element name="MONTHLY_TXN_VOLUME" type="xs:string"/>
			<xs:element name="ADDRESS_TYPE" type="xs:string"/>
			<xs:element name="BENEFICIARY_DETAILS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BENEFICIARY_DETAIL" type="aper:beneficiaryDetailType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SIGNATORY_DETAILS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="REGISTERED_SIGNATORY" type="xs:decimal"/>
						<xs:element name="REQUIRED_SIGNATORY" type="xs:decimal"/>
						<xs:element name="SIGNATORY_DESCRIPTION" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!--###TYPE: customerInformationType###-->
	<xs:complexType name="customerInformationType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="xs:decimal" minOccurs="0"/>
			<xs:element name="MESSAGE_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--###TYPE: accountInformationTypeRSP###-->
	<xs:complexType name="accountInformationTypeRSP">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
		
		    <xs:element name="MESSAGE_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_INFORMATION" minOccurs="0" >
			<xs:complexType>
						<xs:sequence>
							<xs:element name="SUBSIDIARY" type="xs:string" minOccurs="0"/>
							<xs:element name="SUBSIDIARY_PHONE" type="xs:string" minOccurs="0"/>
							<xs:element name="SUBSIDIARY_ADDRESS" type="xs:string" minOccurs="0"/>
							<xs:element name="DOCUMENT_TYPE" type="xs:string" minOccurs="0"/>
							<xs:element name="DOCUMENT_NUMBER" type="xs:string" minOccurs="0"/>
							<xs:element name="PERSON_TYPE" type="xs:string" minOccurs="0"/>
							<xs:element name="PRODUCT_CODE" type="xs:string" minOccurs="0"/>
							<xs:element name="CURRENCY_CODE" type="xs:string" minOccurs="0"/>
							<xs:element name="CURRENCY_DESCRIPTION" type="xs:string" minOccurs="0"/>
							<xs:element name="OFFICE" type="xs:string" minOccurs="0"/>
							<xs:element name="TYPE_RATE" type="xs:string" minOccurs="0"/>
							<xs:element name="CURRENCY_SHORTENED" type="xs:string" minOccurs="0"/>
							<xs:element name="OPENING_CITY" type="xs:string" minOccurs="0"/>
							<xs:element name="OPENING_YEAR" type="xs:string" minOccurs="0"/>
							<xs:element name="OPENING_MONTH" type="xs:string" minOccurs="0"/>
							<xs:element name="OPENING_DAY" type="xs:string" minOccurs="0"/>
							<xs:element name="INFORMATION_MESSSAGES" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="WARNING" type="xs:string" minOccurs="0"/>
										<xs:element name="FOGADE" type="xs:string" minOccurs="0"/>
										<xs:element name="CLAIM" type="xs:string" minOccurs="0"/>
										<xs:element name="RELEVANT" type="xs:string" minOccurs="0"/>
										<xs:element name="FIRMS" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="INSTITUTION_INFORMATION" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ADDRESS" type="xs:string" minOccurs="0"/>
										<xs:element name="MAIL" type="xs:string" minOccurs="0"/>
										<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
										<xs:element name="WEB_ADDRESS" type="xs:string" minOccurs="0"/>
										<xs:element name="PHONE" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ACCOUNT_CHARGES" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
									    	<xs:element name="CHARGE_ITEM" type="aper:chargeItemType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
				        </xs:sequence>
			  </xs:complexType>
			</xs:element>
		    <xs:element name="CONTRACT_INFORMATION"  minOccurs="0">
			<xs:complexType>
						<xs:sequence>
							<xs:element name="ROLE" type="xs:string" minOccurs="0"/>
							<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
							<xs:element name="ACCOUNT_DESCRIPTION" type="xs:string" minOccurs="0"/>
							<xs:element name="OFFICIAL" type="xs:string" minOccurs="0"/>
							<xs:element name="TIPE_ADDRESS" type="xs:string" minOccurs="0"/>
							<xs:element name="OPENING_DATE" type="xs:string" minOccurs="0"/>
							<xs:element name="ACCOUNT_STATE" type="xs:string" minOccurs="0"/>
				      </xs:sequence>
			  </xs:complexType>
			</xs:element>
			<xs:element name="INTERNATIONAL_ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
		</xs:sequence>	
	</xs:complexType>
	
	<!--###TYPE: incomeType###-->
	<xs:complexType name="chargeItemType">
		<xs:sequence>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!--###TYPE: userInformationType###-->
	<xs:complexType name="userInformationType">
		<xs:sequence>
			<xs:element name="USER_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="MESSAGE_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!--###TYPE: cardInformationType###-->
	<xs:complexType name="cardInformationType">
		<xs:sequence>
			<xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="MESSAGE_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="creaCuentaCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_INFORMATION" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IS_NEW_CUSTOMER" type="aper:replyTypeEnum"/>
							<xs:element name="TYPE" type="aper:replyTypeEnumType" minOccurs="0"/>
							<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0"/>
							<xs:element name="LEGAL_ISSUED_DATE" type="xs:string"  minOccurs="0" />
							<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
							<xs:element name="FIRST_NAME" type="xs:string" minOccurs="0"/>
							<xs:element name="SECOND_NAME" type="xs:string" minOccurs="0"/>
							<xs:element name="FIRST_LASTNAME" type="xs:string" minOccurs="0"/>
							<xs:element name="SECOND_LASTNAME" type="xs:string" minOccurs="0"/>
							<xs:element name="GENDER" type="aper:replyTypeGender" minOccurs="0"/>
						    <xs:element name="MARITAL_STATUS" type="aper:replyTypeMaritalStatus" minOccurs="0"/>
						    <xs:element name="BIRTH_DATE" type="xs:string" minOccurs="0"/>
						    <xs:element name="MONTHLY_TXN_VOLUME" type="xs:string" minOccurs="0"/>
							<xs:element name="PHONE_INFO" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PHONE_NUMBER_ITEM" type="aper:phoneNumberItemType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EMAIL_ADDRESS_INFO" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EMAIL_ITEM" type="aper:emailItemType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="JOB_INFO" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="JOB_ITEM" type="aper:jobItemType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ADDRESS_INFO" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ADDRESS_ITEM" type="aper:addresslineItemType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="INTERFACE_USER" type="xs:string" minOccurs="0"/>
				<xs:element name="CREATE_ACCOUNT" type="aper:replyTypeEnum"/>
				<xs:element name="ACCOUNT_INFORMATION" type="aper:accountInformationType" minOccurs="0"/>
				<xs:element name="CREATE_USER_ID" type="aper:replyTypeEnum"/>
				<xs:element name="USER_INFORMATION" minOccurs="0">
				   <xs:complexType>
			            <xs:sequence>
			            <xs:element name="DOCUMENT_TYPE_ID" type="xs:string" minOccurs="0"/>
				        <xs:element name="DOCUMENT_NUMBER" type="xs:string" minOccurs="0"/>
				        <xs:element name="CUSTOMER_NAMES" type="xs:string" minOccurs="0"/>
				        <xs:element name="CUSTOMER_LAST_NAMES" type="xs:string" minOccurs="0"/>
				        <xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
				        <xs:element name="PHONE" type="xs:string" minOccurs="0"/>
				        <xs:element name="PRODUCT_TYPE_ID" type="xs:string" minOccurs="0"/>
				        <xs:element name="PRODUCT_NUMBER" type="xs:string" minOccurs="0"/>
				        <xs:element name="USER_NAME" type="xs:string" minOccurs="0" /> 
			         </xs:sequence>
		        </xs:complexType>
				</xs:element>
				<xs:element name="CREATE_DEBIT_CARD" type="aper:replyTypeEnum"/>
				<xs:element name="CARD_INFORMATION" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
				<xs:element name="PACKAGING_INFORMATION" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DELIVERY_ADDRESS_INFO">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ADDRESS_ITEM" type="aper:addressItemType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="creaCuentaClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_INFORMATION" type="aper:customerInformationType" minOccurs="0"/>
				<xs:element name="ACCOUNT_INFORMATION" type="aper:accountInformationTypeRSP" minOccurs="0"/>
				<xs:element name="USER_INFORMATION" type="aper:userInformationType" minOccurs="0"/>
				<xs:element name="CARD_INFORMATION" type="aper:cardInformationType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
    <!--############################### -->
	<!--OPERACION: ASIGNACION TARJETA DEBITO -->
	<!--############################### -->	
	
	<xs:element name="solicitaTDCliente">
		<xs:complexType>
			<xs:sequence>
			     <xs:element name="COSTUMER_CODE" type="xs:string"/>
				 <xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
				 <xs:element name="ACCOUNT_CURRENCY" type="xs:string"/>
				 <xs:element name="CARD_TYPE" type="xs:string"/>
				 <xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
			     
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="solicitaTDClienteResponse">
		<xs:complexType>
			<xs:sequence>
			    <xs:element name="COSTUMER_CODE" type="xs:string" minOccurs="0"/>
			    <xs:element name="LAST_CARD_NUMBER" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--############################### -->
	<!--OPERACION: ORDEN DE EMPAQUE -->
	<!--############################### -->	
	
	<!--###TYPE: phoneItemType###-->
	<xs:complexType name="phoneItemType">
		<xs:sequence>
			<xs:element name="PHONE_TYPE" type="xs:string"/>
			<xs:element name="PHONE_NUMBER" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	

	
	<xs:element name="ordenEmpaqueTD">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CODE" type="xs:string"/>
							<xs:element name="NAME" type="xs:string"/>
							<xs:element name="LEGAL_ID" type="xs:string"/>
							<xs:element name="EMAIL" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				
				<xs:element name="PHONE_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PHONE_NUMBER_ITEM" type="aper:phoneItemType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="ADDRESS_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ADDRESS_ITEM" type="aper:addressItemType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="JOB_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="JOB_ITEM" type="aper:jobItemType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="CARD_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LAST_CARD_NUMBER" type="xs:string" minOccurs="0"/>
							<xs:element name="TYPE" type="xs:string"/>
							<xs:element name="BRANCH_CODE" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ACCOUNT_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ACCOUNT_NUMBER" type="xs:string"/>
							<xs:element name="ACCOUNT_CURRENCY" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ordenEmpaqueTDResponse">
		<xs:complexType>
			<xs:sequence>
			    <xs:element name="REFERENCE_NUMBER" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--############################### -->
	<!--OPERACION: CREACION USUARIO ICB -->
	<!--############################### -->	
	
	<xs:element name="creaUsuarioSistema">
		<xs:complexType>
			<xs:sequence>
			     <xs:element name="DOCUMENT_TYPE_ID" type="xs:string"/>
				 <xs:element name="DOCUMENT_NUMBER" type="xs:string"/>
				 <xs:element name="CUSTOMER_NAMES" type="xs:string"/>
				 <xs:element name="CUSTOMER_LAST_NAMES" type="xs:string"/>
				 <xs:element name="EMAIL" type="xs:string"/>
				 <xs:element name="PHONE" type="xs:string"/>
				 <xs:element name="PRODUCT_TYPE_ID" type="xs:string"/>
				 <xs:element name="PRODUCT_NUMBER" type="xs:string"/>
				 <xs:element name="USER_NAME" type="xs:string" /> 
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="creaUsuarioSistemaResponse">
		<xs:complexType>
			<xs:sequence>
			    <xs:element name="USER_NAME" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--############################### -->
	<!--OPERACION: CREACION CLEINTE SIMPLIFICADO -->
	<!--############################### -->	
	
	<xs:element name="CreaClienteSimplificado">
		 <xs:complexType>
			     <xs:sequence>
							<xs:element name="TYPE"     type="aper:replyTypeEnumType"/>
							<xs:element name="LEGAL_ID" type="xs:string" />
							<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" />
							<xs:element name="LEGAL_ISSUED_DATE" type="xs:string" />
							<xs:element name="FIRST_NAME" type="xs:string" />
							<xs:element name="SECOND_NAME" type="xs:string" />
							<xs:element name="FIRST_LASTNAME" type="xs:string" />
							<xs:element name="SECOND_LASTNAME" type="xs:string" />
							<xs:element name="GENDER" type="aper:replyTypeGender"/>
						    <xs:element name="MARITAL_STATUS" type="aper:replyTypeMaritalStatus" />
						    <xs:element name="BIRTH_DATE" type="xs:string" />
						    <xs:element name="MONTHLY_TXN_VOLUME" type="xs:string" />
						    <xs:element name="ACCOUNT_OFFICER" type="xs:string" />
						    <xs:element name="BRANCH_CODE" type="xs:string" />	
						    <xs:element name="PHONE_INFO" >
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PHONE_NUMBER_ITEM" type="aper:phoneNumberItemType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EMAIL_ADDRESS_INFO" >
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EMAIL_ITEM" type="aper:emailItemType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="JOB_INFO">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="JOB_ITEM" type="aper:jobItemType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ADDRESS_INFO">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ADDRESS_ITEM" type="aper:addresslineItemType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>					
			       </xs:sequence>
		 </xs:complexType>
	</xs:element>
	
	<xs:element name="CreaClienteSimplificadoResponse">
		<xs:complexType>
			<xs:sequence>
			    <xs:element name="COSTUMER_ID" type="xs:string" minOccurs="0"/>
			    <xs:element name="ADDRESS_INFO" type="aper:addressListType" minOccurs="0"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--ADDRESS INFORMATION TYPES-->
<!--#########################--> 
 <xs:complexType name="addressListType">
  <xs:sequence>
   <xs:element name="ADDRESS_ITEM" type="aper:addressType" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 
<xs:complexType name="addressType">
	<xs:sequence>
		<xs:element name="ADDRESS_TYPE" type="xs:string"  minOccurs="0"/>		
		<xs:element name="ADDRESS_LINE_1" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_LINE_2" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_LINE_3" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_LINE_4" type="xs:string" minOccurs="0"/>
		<xs:element name="ADDRESS_LINE_5" type="xs:string" minOccurs="0"/>
		<xs:element name="IS_MAIN_ADDRESS" type="xs:string" minOccurs="0"/>  
	</xs:sequence>
</xs:complexType>	
	
		
</xs:schema>