Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaDetallePD/consultaDetallePDTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDetallePDTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaDetallePDTypes">
	
	<xs:element name="consultaDetallePD">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="ACCOUNT" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
		
	<xs:complexType name="consultaDetallePDResponse">
		<xs:sequence>
			<xs:element name="GRAND_TOTAL_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNT_NO" type="xs:string" minOccurs="0"  />
			<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="PD_DETAILS" minOccurs="0" maxOccurs="unbounded" >
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PD_REFERENCE" type="xs:string" minOccurs="0" />
						<xs:element name="PD_AMOUNT" type="xs:string" minOccurs="0" />
						<xs:element name="CATEGORY" type="xs:string" minOccurs="0" />
						<xs:element name="RATE" type="xs:string" minOccurs="0" />
						<xs:element name="ACTIVITY_DETAILS" minOccurs="0" maxOccurs="unbounded" >
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ACTIVITY_DETAIL" minOccurs="0" maxOccurs="unbounded" >
										<xs:complexType>
											<xs:sequence>															
												<xs:element name="PD_DATE" type="xs:string" minOccurs="0" />
												<xs:element name="PD_STATUS" type="xs:string" minOccurs="0" />
												<xs:element name="PRINCIPAL" type="xs:string" minOccurs="0" />
												<xs:element name="INTEREST" type="xs:string" minOccurs="0" />
												<xs:element name="DAYS_IN_PD" type="xs:string" minOccurs="0" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaDetallePDResponse" type="cons:consultaDetallePDResponse" />
	
</xs:schema>