Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/Core/consultaBancosLocales/consultaBancosLocalesTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaBancosLocalesTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaBancosLocalesTypes">

	<xs:complexType name = "consultaBancosLocalesResponseArrayType">
		<xs:sequence>
	        <xs:element name="BANK_ID" type="xs:string" minOccurs="0" />
			<xs:element name="BANK_NAME" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaBancosLocalesResponseRecordType">
		<xs:sequence>
				<xs:element name="consultaBancosLocalesResponseRecordType" type="cons:consultaBancosLocalesResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consultaBancosLocalesResponseType">
		<xs:sequence>
			<xs:element name="consultaBancosLocalesResponseType" type="cons:consultaBancosLocalesResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaBancosLocales" type="cons:ConsultaBancosLocales" />
	
	<xs:complexType name="ConsultaBancosLocales">
		<xs:sequence/>
	</xs:complexType>
	
	<xs:element name="consultaBancosLocalesResponse" type="cons:consultaBancosLocalesResponseType"/>
	
</xs:schema>