Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaParentesco/xsd/consultaParentescoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"                        
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/ConsultaParentescoTypes"
            xmlns:con="http://www.ficohsa.com.hn/middleware.services/ConsultaParentescoTypes"
            elementFormDefault="qualified"
            version="1.0">

<xs:element name="consultaParentescoRequest">
    <xs:complexType/>
</xs:element>

<xs:element name="consultaParentescoResponse">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="relationList"  type="con:relationListType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:complexType name="relationListType">
    <xs:sequence>
        <xs:element name="relationItem" type="con:relationType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>
            
<xs:complexType name="relationType">
    <xs:sequence>
        <xs:element name="RELATION_CODE" type="xs:string" minOccurs="0"/>
        <xs:element name="RELATION_DESCRIPTION" type="xs:string" minOccurs="0"/>
        <xs:element name="REVERSE_RELATION_CODE" type="xs:string" minOccurs="0"/>
        <xs:element name="REVERSE_RELATION_DESCRIPTION" type="xs:string" minOccurs="0"/>
    </xs:sequence>
</xs:complexType>
            
</xs:schema>