Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/WSDL/AccountInquiryT24/AccountInquiryT24.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../../XSD/AccountInquiryT24/XMLSchema_672394011.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="T24WebServicesImpl" schemaLocation="../../XSD/AccountInquiryT24/XMLSchema_378991004.xsd"/>
    </xsd:schema>
  </types>
  <message name="callOfs">
    <part name="parameters" element="tns:callOfs"/>
  </message>
  <message name="callOfsResponse">
    <part name="parameters" element="tns:callOfsResponse"/>
  </message>
  <message name="Consultadesaldodecuenta">
    <part name="parameters" element="tns:Consultadesaldodecuenta"/>
  </message>
  <message name="ConsultadesaldodecuentaResponse">
    <part name="parameters" element="tns:ConsultadesaldodecuentaResponse"/>
  </message>
  <message name="Consultademovimientosdecta">
    <part name="parameters" element="tns:Consultademovimientosdecta"/>
  </message>
  <message name="ConsultademovimientosdectaResponse">
    <part name="parameters" element="tns:ConsultademovimientosdectaResponse"/>
  </message>
  <message name="Consultacortadesaldodecuenta">
    <part name="parameters" element="tns:Consultacortadesaldodecuenta"/>
  </message>
  <message name="ConsultacortadesaldodecuentaResponse">
    <part name="parameters" element="tns:ConsultacortadesaldodecuentaResponse"/>
  </message>
  <message name="Consultadetalladademovscuenta">
    <part name="parameters" element="tns:Consultadetalladademovscuenta"/>
  </message>
  <message name="ConsultadetalladademovscuentaResponse">
    <part name="parameters" element="tns:ConsultadetalladademovscuentaResponse"/>
  </message>
  <message name="Consultadecuentascanceladas">
    <part name="parameters" element="tns:Consultadecuentascanceladas"/>
  </message>
  <message name="ConsultadecuentascanceladasResponse">
    <part name="parameters" element="tns:ConsultadecuentascanceladasResponse"/>
  </message>
  <message name="Consultasaldopromcuenta">
    <part name="parameters" element="tns:Consultasaldopromcuenta"/>
  </message>
  <message name="ConsultasaldopromcuentaResponse">
    <part name="parameters" element="tns:ConsultasaldopromcuentaResponse"/>
  </message>
  <message name="AperturaDeCuenta">
    <part name="parameters" element="tns:AperturaDeCuenta"/>
  </message>
  <message name="AperturaDeCuentaResponse">
    <part name="parameters" element="tns:AperturaDeCuentaResponse"/>
  </message>
  <message name="AperturaDeCuenta_Validate">
    <part name="parameters" element="tns:AperturaDeCuenta_Validate"/>
  </message>
  <message name="AperturaDeCuenta_ValidateResponse">
    <part name="parameters" element="tns:AperturaDeCuenta_ValidateResponse"/>
  </message>
  <message name="ConsultaSaldoCuentaporCancelar">
    <part name="parameters" element="tns:ConsultaSaldoCuentaporCancelar"/>
  </message>
  <message name="ConsultaSaldoCuentaporCancelarResponse">
    <part name="parameters" element="tns:ConsultaSaldoCuentaporCancelarResponse"/>
  </message>
  <message name="ConsultaSaldoCuentaporCancelar_Validate">
    <part name="parameters" element="tns:ConsultaSaldoCuentaporCancelar_Validate"/>
  </message>
  <message name="ConsultaSaldoCuentaporCancelar_ValidateResponse">
    <part name="parameters" element="tns:ConsultaSaldoCuentaporCancelar_ValidateResponse"/>
  </message>
  <message name="CreacionArchivoDeDetalle">
    <part name="parameters" element="tns:CreacionArchivoDeDetalle"/>
  </message>
  <message name="CreacionArchivoDeDetalleResponse">
    <part name="parameters" element="tns:CreacionArchivoDeDetalleResponse"/>
  </message>
  <message name="CreacionArchivoDeDetalle_Validate">
    <part name="parameters" element="tns:CreacionArchivoDeDetalle_Validate"/>
  </message>
  <message name="CreacionArchivoDeDetalle_ValidateResponse">
    <part name="parameters" element="tns:CreacionArchivoDeDetalle_ValidateResponse"/>
  </message>
  <message name="ConsultaCuentaAperturada">
    <part name="parameters" element="tns:ConsultaCuentaAperturada"/>
  </message>
  <message name="ConsultaCuentaAperturadaResponse">
    <part name="parameters" element="tns:ConsultaCuentaAperturadaResponse"/>
  </message>
  <message name="Consultadecuentadegobierno">
    <part name="parameters" element="tns:Consultadecuentadegobierno"/>
  </message>
  <message name="ConsultadecuentadegobiernoResponse">
    <part name="parameters" element="tns:ConsultadecuentadegobiernoResponse"/>
  </message>
  <message name="Consultadedetallesdelacuenta">
    <part name="parameters" element="tns:Consultadedetallesdelacuenta"/>
  </message>
  <message name="ConsultadedetallesdelacuentaResponse">
    <part name="parameters" element="tns:ConsultadedetallesdelacuentaResponse"/>
  </message>
  <message name="ConsultaMovimientosCuenta">
    <part name="parameters" element="tns:ConsultaMovimientosCuenta"/>
  </message>
  <message name="ConsultaMovimientosCuentaResponse">
    <part name="parameters" element="tns:ConsultaMovimientosCuentaResponse"/>
  </message>
  <portType name="T24WebServicesImpl">
    <operation name="callOfs">
      <input message="tns:callOfs"/>
      <output message="tns:callOfsResponse"/>
    </operation>
    <operation name="Consultadesaldodecuenta">
      <input message="tns:Consultadesaldodecuenta"/>
      <output message="tns:ConsultadesaldodecuentaResponse"/>
    </operation>
    <operation name="Consultademovimientosdecta">
      <input message="tns:Consultademovimientosdecta"/>
      <output message="tns:ConsultademovimientosdectaResponse"/>
    </operation>
    <operation name="Consultacortadesaldodecuenta">
      <input message="tns:Consultacortadesaldodecuenta"/>
      <output message="tns:ConsultacortadesaldodecuentaResponse"/>
    </operation>
    <operation name="Consultadetalladademovscuenta">
      <input message="tns:Consultadetalladademovscuenta"/>
      <output message="tns:ConsultadetalladademovscuentaResponse"/>
    </operation>
    <operation name="Consultadecuentascanceladas">
      <input message="tns:Consultadecuentascanceladas"/>
      <output message="tns:ConsultadecuentascanceladasResponse"/>
    </operation>
    <operation name="Consultasaldopromcuenta">
      <input message="tns:Consultasaldopromcuenta"/>
      <output message="tns:ConsultasaldopromcuentaResponse"/>
    </operation>
    <operation name="AperturaDeCuenta">
      <input message="tns:AperturaDeCuenta"/>
      <output message="tns:AperturaDeCuentaResponse"/>
    </operation>
    <operation name="AperturaDeCuenta_Validate">
      <input message="tns:AperturaDeCuenta_Validate"/>
      <output message="tns:AperturaDeCuenta_ValidateResponse"/>
    </operation>
    <operation name="ConsultaSaldoCuentaporCancelar">
      <input message="tns:ConsultaSaldoCuentaporCancelar"/>
      <output message="tns:ConsultaSaldoCuentaporCancelarResponse"/>
    </operation>
    <operation name="ConsultaSaldoCuentaporCancelar_Validate">
      <input message="tns:ConsultaSaldoCuentaporCancelar_Validate"/>
      <output message="tns:ConsultaSaldoCuentaporCancelar_ValidateResponse"/>
    </operation>
    <operation name="CreacionArchivoDeDetalle">
      <input message="tns:CreacionArchivoDeDetalle"/>
      <output message="tns:CreacionArchivoDeDetalleResponse"/>
    </operation>
    <operation name="CreacionArchivoDeDetalle_Validate">
      <input message="tns:CreacionArchivoDeDetalle_Validate"/>
      <output message="tns:CreacionArchivoDeDetalle_ValidateResponse"/>
    </operation>
    <operation name="ConsultaCuentaAperturada">
      <input message="tns:ConsultaCuentaAperturada"/>
      <output message="tns:ConsultaCuentaAperturadaResponse"/>
    </operation>
    <operation name="Consultadecuentadegobierno">
      <input message="tns:Consultadecuentadegobierno"/>
      <output message="tns:ConsultadecuentadegobiernoResponse"/>
    </operation>
    <operation name="Consultadedetallesdelacuenta">
      <input message="tns:Consultadedetallesdelacuenta"/>
      <output message="tns:ConsultadedetallesdelacuentaResponse"/>
    </operation>
    <operation name="ConsultaMovimientosCuenta">
      <input message="tns:ConsultaMovimientosCuenta"/>
      <output message="tns:ConsultaMovimientosCuentaResponse"/>
    </operation>
  </portType>
  <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="callOfs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultadesaldodecuenta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultademovimientosdecta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultacortadesaldodecuenta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultadetalladademovscuenta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultadecuentascanceladas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultasaldopromcuenta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AperturaDeCuenta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AperturaDeCuenta_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConsultaSaldoCuentaporCancelar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConsultaSaldoCuentaporCancelar_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreacionArchivoDeDetalle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreacionArchivoDeDetalle_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConsultaCuentaAperturada">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultadecuentadegobierno">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultadedetallesdelacuenta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConsultaMovimientosCuenta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="T24WebServicesImplService">
    <port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
      <soap:address location="http://mwomnidesa:7003/svcConsultasCuenta/services"/>
    </port>
  </service>
</definitions>