Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/consultaEmailPersona/xsd/consultaEmailPersonaFPC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaEmailPersonaFPC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaEmailPersonaFPC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PC_COD_PERSONA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_EMAILS" type="db:PA.PA_WEB_SERVICE_TAB_EMAILS" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_ERROR" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PC_MENSAJE_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PA.PA_WEB_SERVICE_TYPE_EMAIL">
      <sequence>
         <element name="COD_EMAIL" type="db:string8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EMAIL_USUARIO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EMAIL_SERVIDOR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ES_DEFAULT" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PA.PA_WEB_SERVICE_TAB_EMAILS">
      <sequence>
         <element name="PT_EMAILS_ITEM" type="db:PA.PA_WEB_SERVICE_TYPE_EMAIL" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string8">
      <restriction base="string">
         <maxLength value="8"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
</schema>