Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/RegistraPagoPrestamo/xsd/registraPagoPrestamoTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/registraPagoPrestamoTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/registraPagoPrestamoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--############################################-->
    <!-- OPERATION: registraPagoPrestamo -->
    <!--############################################-->
    <xs:element name="registraPagoPrestamo">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="LOAN_NUMBER" type="xs:string" />
				<xs:element name="PAYMENT_AMOUNT" type="xs:string" />
				<xs:element name="PAYMENT_TYPE" type="xs:string" />
				<xs:element name="DEBIT_ACCOUNT" type="xs:string" />
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" />
				<xs:element name="USERNAME" type="xs:string" />
				<xs:element name="TICKET" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
    <xs:element name="registraPagoPrestamoResponse">
    	<xs:complexType>
        	<xs:sequence>								
			</xs:sequence>
		</xs:complexType>
    </xs:element>    
</xs:schema>