Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/FPC/listadoPaises/xsd/listadoPaisesFPC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/listadoPaisesFPC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/listadoPaisesFPC" elementFormDefault="qualified">
   <element name="InputParameters">
      <!--Empty Parameter List-->
      <complexType/>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_PAISES" type="db:PA.PA_WEB_SERVICE_TAB_PAISES" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_CODIGO_ERROR" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PC_MENSAJE_ERROR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PA.PA_WEB_SERVICE_TAB_PAISES">
      <sequence>
         <element name="PT_PAISES_ITEM" type="db:PA.PA_WEB_SERVICE_TYPE_PAIS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PA.PA_WEB_SERVICE_TYPE_PAIS">
      <sequence>
         <element name="COD_PAIS" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DES_PAIS" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>