Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/PagoTarjetaCredito_v3/xsd/XMLSchema_-1735796627.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoTarjetaCreditoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/pagoTarjetaCreditoTypes">

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="kvPair">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VALUE" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="unboundKvPair">
		<xs:sequence>
			<xs:element name="KV_PAIR" type="tns:kvPair" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	    
	<xs:complexType name="regionalDetails">
		<xs:sequence>
			<xs:element name="SOURCE" type="tns:unboundKvPair" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="DESTINATION" type="tns:unboundKvPair" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>		
	</xs:complexType>
	
    <xs:complexType name="pagoTarjetaCreditoResponseType">
		<xs:sequence>
			<xs:element name="LCY_PAYMENT" type="xs:string" minOccurs="0"/>
            <xs:element name="PAYMENT_CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="BALANCE_PAYMENT" type="xs:string" minOccurs="0"/>
            <xs:element name="BALANCE_CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
            <xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
            <xs:element name="TRANSACTION_CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBIT_CURRENCY" type="xs:string" minOccurs="0"/>
            <xs:element name="DEBIT_AMOUNT" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="pagoTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CREDIT_CARD_NUMBER" type="xs:string"/>
				<xs:element name="BALANCE_CURRENCY" type="xs:string"/>
	            <xs:element name="TRANSACTION_CURRENCY" type="xs:string" minOccurs="0"/>
				<xs:element name="PAYMENT_AMOUNT" type="xs:string"/>
				<xs:element name="CHANNEL_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="DEBIT_ACCOUNT" type="xs:string"/>
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" minOccurs="0"/>
				<xs:element name="REGIONAL_DETAILS" type="tns:regionalDetails" minOccurs="0" maxOccurs="1"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="pagoTarjetaCreditoResponse" type="tns:pagoTarjetaCreditoResponseType"/>
	

</xs:schema>