Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActivacionTarjetaDebito/xsd/activacionTarjetaDebitoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/activacionTarjetaDebitoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/activacionTarjetaDebitoTypes">

	<xs:element name="activacionTarjetaDebito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEBIT_CARD_NUMBER" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="activacionTarjetaDebitoResponse"/>

</xs:schema>