Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/DataWarehouse/consultaBurosPrecreditoGT/wsdl/consultaBurosPrecreditoGT.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://tempuri.org/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:element name="ConsultaSAT">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="nitProspecto"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultaSATResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ConsultaSATResult"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Evaluar">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="stringXMLRecibido"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="EvaluarResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="EvaluarResult"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ofertaComercial">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="stringXMLRecibido"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ofertaComercialResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="ofertaComercialResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="EvaluarCompraSaldo">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="stringXMLRecibido"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="EvaluarCompraSaldoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="EvaluarCompraSaldoResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultaBuros">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="MSGPRE"
							nillable="true" type="tns:evaluacionRequest" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="evaluacionRequest">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="HEADER"
						type="tns:headerRequest" />
					<s:element minOccurs="0" maxOccurs="1" name="BODY"
						type="tns:bodyRequest" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="headerRequest">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="KEY" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="CODIGO_PROSPECTO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="CODIGO_EMPRESA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="RELACION_PROSPECTO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="TIPO_PERSONA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="CODIGO_PRODUCTO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="USUARIO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="REFERENCIA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PC" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="bodyRequest">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="NIT" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PRIMER_NOMBRE"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SEGUNDO_NOMBRE"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="TERCER_NOMBRE"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PRIMER_APELLIDO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SEGUNDO_APELLIDO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="TERCER_APELLIDO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PASAPORTE"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PAIS_PASAPORTE"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DPI" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_NACIMIENTO"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="ConsultaBurosResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="MSGPRE"
							nillable="true" type="tns:evaluacionResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="evaluacionResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="HEADER"
						type="tns:headerResponse" />
					<s:element minOccurs="0" maxOccurs="1" name="BODY"
						type="tns:bodyResponse" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="headerResponse">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="CODIGO_PROSPECTO"
						type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="CODIGO_EMPRESA"
						type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="RELACION_PROSPECTO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="TIPO_PERSONA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="USUARIO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="REFERENCIA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PC" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="bodyResponse">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ESTADO_CONSULTA"
						type="tns:estadoConsulta" />
					<s:element minOccurs="0" maxOccurs="1" name="SIRC" type="tns:SIRC" />
					<s:element minOccurs="0" maxOccurs="1" name="TRANSUNION"
						type="tns:TUCA" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="estadoConsulta">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="CODIGO"
						type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="MENSAJE"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="SIRC">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="REFERENCIA_SIB"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DIRECTOS"
						type="tns:DIRECTOS" />
					<s:element minOccurs="0" maxOccurs="1" name="INDIRECTOS"
						type="tns:INDIRECTOS" />
					<s:element minOccurs="0" maxOccurs="1"
						name="ACTIVOS_CONTRARESERVA" type="tns:ACTIVOS_CONTRARESERVA" />
					<s:element minOccurs="0" maxOccurs="1" name="UNIFICADOS"
						type="tns:UNIFICADOS" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="DIRECTOS">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="DEUDAS_VIGENTES"
						type="tns:deudasVigentes" />
					<s:element minOccurs="0" maxOccurs="unbounded" name="DEUDAS_CANCELADAS"
						type="tns:deudasCanceladas" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="deudasVigentes">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="NOM_VINCULO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ENTIDAD"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DESC_TIPO_ACTIVO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DESC_TIPO_GARANTIA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MONEDA"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="CAPITAL_ORIGINAL"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="SALDO" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="VENCIDO"
						type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_ACTIVO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_CONSESION"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_VENCIMIENTO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_CANCELACION"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="COMPORTAMIENTO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="CATEGORIA"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="deudasCanceladas">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ENTIDAD"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="TIPO_ACTIVO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="TIPO_GARANTIA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MONEDA"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="CAPITAL_ORIGINAL"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="SALDO" type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="VENCIDO"
						type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_ACTIVO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_CONSESION"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_VENCIMIENTO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_CANCELACION"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="COMPORTAMIENTO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="CATEGORIA"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="INDIRECTOS">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="DEUDAS_VIGENTES"
						type="tns:deudasVigentes" />
					<s:element minOccurs="0" maxOccurs="unbounded" name="DEUDAS_CANCELADAS"
						type="tns:deudasCanceladas" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ACTIVOS_CONTRARESERVA">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ACTIVO"
						type="tns:ACTIVO" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ACTIVO">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ENTIDAD"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_CANCELACION"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FORMA_CANCELACION"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="CAPITAL_ORIGINAL"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="MONTO_SALDO_CAPITAL"
						type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_SALDO_CAPITAL"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="UNIFICADOS">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="DIRECTOS"
						type="tns:DIRECTOS" />
					<s:element minOccurs="0" maxOccurs="1" name="INDIRECTOS"
						type="tns:INDIRECTOS" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="TUCA">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="MODELOS_ANALISIS"
						type="tns:modeloAnalisis" />
					<s:element minOccurs="0" maxOccurs="1" name="INFORMACION_CLIENTE"
						type="tns:informacionCliente" />
					<s:element minOccurs="0" maxOccurs="1" name="LISTA_CONSULTAS"
						type="tns:listaConsultas" />
					<s:element minOccurs="0" maxOccurs="1"
						name="COMPORTAMIENTO_OBLIGACIONES" type="tns:comportamientoObligaciones" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="modeloAnalisis">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="MODELO"
						type="tns:modelo" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="modelo">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="PRODUCTO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="RESULTADO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="RAZONES"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="informacionCliente">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="DIRECCIONES"
						type="tns:direcciones" />
					<s:element minOccurs="0" maxOccurs="1" name="TELEFONOS"
						type="tns:telefonos" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="direcciones">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="DIRECCION"
						type="tns:direccion" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="direccion">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="TIPO" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DESC" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="telefonos">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="TELEFONO"
						type="tns:telefono" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="telefono">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="TIPO" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="TELEFONO"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="listaConsultas">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="CONSULTA"
						type="tns:consulta" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="consulta">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="TIPO_CONSULTA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ENTIDAD_CONSULTANTE"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_CONSULTA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MOTIVO"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="comportamientoObligaciones">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="OBLIGACION"
						type="tns:obligacion" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="obligacion">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ENTIDAD_INFORMANTE"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="TIPO" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="GARANTIA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NUMERO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_APERTURA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_VENCIMIENTO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FECHA_ACTUALIZACION"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PERIODO_PAGO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="COMPORTAMIENTO_PAGO"
						type="tns:comportamientoPago" />
				</s:sequence>
				<s:attribute name="TIPO" type="s:string" />
				<s:attribute name="SECTOR" type="s:string" />
			</s:complexType>
			<s:complexType name="comportamientoPago">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="CALIFICACION"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MONEDA"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ESTADO"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ESTADO_CREDITO"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="LIMITE"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="SALDO_ACTUAL"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="SALDO_MORA"
						type="s:double" />
					<s:element minOccurs="1" maxOccurs="1" name="CUOTA" type="s:double" />
					<s:element minOccurs="0" maxOccurs="1" name="VECTOR_HISTORICO"
						type="tns:vectorHistorico" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="vectorHistorico">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ITEM"
						type="tns:items" />
				</s:sequence>
				<s:attribute name="ANIO" type="s:int" use="required" />
			</s:complexType>
			<s:complexType name="items">
				<s:simpleContent>
					<s:extension base="s:string">
						<s:attribute name="ANIO" type="s:int" use="required" />
						<s:attribute name="MES" type="s:int" use="required" />
					</s:extension>
				</s:simpleContent>
			</s:complexType>
			<s:element name="string" nillable="true" type="s:string" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="ConsultaSATSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultaSAT" />
	</wsdl:message>
	<wsdl:message name="ConsultaSATSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultaSATResponse" />
	</wsdl:message>
	<wsdl:message name="EvaluarSoapIn">
		<wsdl:part name="parameters" element="tns:Evaluar" />
	</wsdl:message>
	<wsdl:message name="EvaluarSoapOut">
		<wsdl:part name="parameters" element="tns:EvaluarResponse" />
	</wsdl:message>
	<wsdl:message name="ofertaComercialSoapIn">
		<wsdl:part name="parameters" element="tns:ofertaComercial" />
	</wsdl:message>
	<wsdl:message name="ofertaComercialSoapOut">
		<wsdl:part name="parameters" element="tns:ofertaComercialResponse" />
	</wsdl:message>
	<wsdl:message name="EvaluarCompraSaldoSoapIn">
		<wsdl:part name="parameters" element="tns:EvaluarCompraSaldo" />
	</wsdl:message>
	<wsdl:message name="EvaluarCompraSaldoSoapOut">
		<wsdl:part name="parameters" element="tns:EvaluarCompraSaldoResponse" />
	</wsdl:message>
	<wsdl:message name="ConsultaBurosSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultaBuros" />
	</wsdl:message>
	<wsdl:message name="ConsultaBurosSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultaBurosResponse" />
	</wsdl:message>
	<wsdl:message name="ConsultaSATHttpGetIn">
		<wsdl:part name="nitProspecto" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultaSATHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="EvaluarHttpGetIn">
		<wsdl:part name="stringXMLRecibido" type="s:string" />
	</wsdl:message>
	<wsdl:message name="EvaluarHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="ofertaComercialHttpGetIn">
		<wsdl:part name="stringXMLRecibido" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ofertaComercialHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="EvaluarCompraSaldoHttpGetIn">
		<wsdl:part name="stringXMLRecibido" type="s:string" />
	</wsdl:message>
	<wsdl:message name="EvaluarCompraSaldoHttpGetOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="ConsultaSATHttpPostIn">
		<wsdl:part name="nitProspecto" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ConsultaSATHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="EvaluarHttpPostIn">
		<wsdl:part name="stringXMLRecibido" type="s:string" />
	</wsdl:message>
	<wsdl:message name="EvaluarHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="ofertaComercialHttpPostIn">
		<wsdl:part name="stringXMLRecibido" type="s:string" />
	</wsdl:message>
	<wsdl:message name="ofertaComercialHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:message name="EvaluarCompraSaldoHttpPostIn">
		<wsdl:part name="stringXMLRecibido" type="s:string" />
	</wsdl:message>
	<wsdl:message name="EvaluarCompraSaldoHttpPostOut">
		<wsdl:part name="Body" element="tns:string" />
	</wsdl:message>
	<wsdl:portType name="precalificacionSoap">
		<wsdl:operation name="ConsultaSAT">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar Prospecto En
				SAT Por NIT.</wsdl:documentation>
			<wsdl:input message="tns:ConsultaSATSoapIn" />
			<wsdl:output message="tns:ConsultaSATSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="Evaluar">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Evaluar Prospecto
				En PreCREDITPRO.</wsdl:documentation>
			<wsdl:input message="tns:EvaluarSoapIn" />
			<wsdl:output message="tns:EvaluarSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ofertaComercial">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Evaluar Prospecto
				En PreCREDITPRO (Oferta Comercial y Consolidación).
			</wsdl:documentation>
			<wsdl:input message="tns:ofertaComercialSoapIn" />
			<wsdl:output message="tns:ofertaComercialSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="EvaluarCompraSaldo">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Evaluar Prospecto
				En PreCREDITPRO, Funcionalidad Compra Saldo.</wsdl:documentation>
			<wsdl:input message="tns:EvaluarCompraSaldoSoapIn" />
			<wsdl:output message="tns:EvaluarCompraSaldoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ConsultaBuros">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método que realiza
				la consulta de información básica de un prospecto a la
				Superintendencia de Bancos y Transunion.</wsdl:documentation>
			<wsdl:input message="tns:ConsultaBurosSoapIn" />
			<wsdl:output message="tns:ConsultaBurosSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="precalificacionHttpGet">
		<wsdl:operation name="ConsultaSAT">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar Prospecto En
				SAT Por NIT.</wsdl:documentation>
			<wsdl:input message="tns:ConsultaSATHttpGetIn" />
			<wsdl:output message="tns:ConsultaSATHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="Evaluar">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Evaluar Prospecto
				En PreCREDITPRO.</wsdl:documentation>
			<wsdl:input message="tns:EvaluarHttpGetIn" />
			<wsdl:output message="tns:EvaluarHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="ofertaComercial">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Evaluar Prospecto
				En PreCREDITPRO (Oferta Comercial y Consolidación).
			</wsdl:documentation>
			<wsdl:input message="tns:ofertaComercialHttpGetIn" />
			<wsdl:output message="tns:ofertaComercialHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="EvaluarCompraSaldo">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Evaluar Prospecto
				En PreCREDITPRO, Funcionalidad Compra Saldo.</wsdl:documentation>
			<wsdl:input message="tns:EvaluarCompraSaldoHttpGetIn" />
			<wsdl:output message="tns:EvaluarCompraSaldoHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="precalificacionHttpPost">
		<wsdl:operation name="ConsultaSAT">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar Prospecto En
				SAT Por NIT.</wsdl:documentation>
			<wsdl:input message="tns:ConsultaSATHttpPostIn" />
			<wsdl:output message="tns:ConsultaSATHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="Evaluar">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Evaluar Prospecto
				En PreCREDITPRO.</wsdl:documentation>
			<wsdl:input message="tns:EvaluarHttpPostIn" />
			<wsdl:output message="tns:EvaluarHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="ofertaComercial">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Evaluar Prospecto
				En PreCREDITPRO (Oferta Comercial y Consolidación).
			</wsdl:documentation>
			<wsdl:input message="tns:ofertaComercialHttpPostIn" />
			<wsdl:output message="tns:ofertaComercialHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="EvaluarCompraSaldo">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Evaluar Prospecto
				En PreCREDITPRO, Funcionalidad Compra Saldo.</wsdl:documentation>
			<wsdl:input message="tns:EvaluarCompraSaldoHttpPostIn" />
			<wsdl:output message="tns:EvaluarCompraSaldoHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="precalificacionSoap" type="tns:precalificacionSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ConsultaSAT">
			<soap:operation soapAction="http://tempuri.org/ConsultaSAT"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Evaluar">
			<soap:operation soapAction="http://tempuri.org/Evaluar"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ofertaComercial">
			<soap:operation soapAction="http://tempuri.org/ofertaComercial"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EvaluarCompraSaldo">
			<soap:operation soapAction="http://tempuri.org/EvaluarCompraSaldo"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultaBuros">
			<soap:operation soapAction="http://tempuri.org/ConsultaBuros"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="precalificacionSoap12" type="tns:precalificacionSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ConsultaSAT">
			<soap12:operation soapAction="http://tempuri.org/ConsultaSAT"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Evaluar">
			<soap12:operation soapAction="http://tempuri.org/Evaluar"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ofertaComercial">
			<soap12:operation soapAction="http://tempuri.org/ofertaComercial"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EvaluarCompraSaldo">
			<soap12:operation soapAction="http://tempuri.org/EvaluarCompraSaldo"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultaBuros">
			<soap12:operation soapAction="http://tempuri.org/ConsultaBuros"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="precalificacionHttpGet" type="tns:precalificacionHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="ConsultaSAT">
			<http:operation location="/ConsultaSAT" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Evaluar">
			<http:operation location="/Evaluar" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ofertaComercial">
			<http:operation location="/ofertaComercial" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EvaluarCompraSaldo">
			<http:operation location="/EvaluarCompraSaldo" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="precalificacionHttpPost" type="tns:precalificacionHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="ConsultaSAT">
			<http:operation location="/ConsultaSAT" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Evaluar">
			<http:operation location="/Evaluar" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ofertaComercial">
			<http:operation location="/ofertaComercial" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EvaluarCompraSaldo">
			<http:operation location="/EvaluarCompraSaldo" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="precalificacion">
		<wsdl:port name="precalificacionSoap" binding="tns:precalificacionSoap">
			<soap:address location="http://172.20.235.127:8083/precalificacion.asmx" />
		</wsdl:port>
		<wsdl:port name="precalificacionSoap12" binding="tns:precalificacionSoap12">
			<soap12:address location="http://172.20.235.127:8083/precalificacion.asmx" />
		</wsdl:port>
		<wsdl:port name="precalificacionHttpGet" binding="tns:precalificacionHttpGet">
			<http:address location="http://172.20.235.127:8083/precalificacion.asmx" />
		</wsdl:port>
		<wsdl:port name="precalificacionHttpPost" binding="tns:precalificacionHttpPost">
			<http:address location="http://172.20.235.127:8083/precalificacion.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>