Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Compliances/RequestorServices/WSDL/CompliancesRouter_PS.wsdl

<wsdl:definitions name="GetCustomerLists_PS" targetNamespace="http://xmlns.oracle.com/Dynamo/MWBanking/GetCustomerLists_PS" xmlns:tns="http://xmlns.oracle.com/Dynamo/MWBanking/GetCustomerLists_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/consultaListasCliente" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="GetCustomerLists_PS">
        <plnk:role name="GetCustomerLists_PSProvider" portType="tns:GetCustomerLists_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaListasCliente" schemaLocation="../XSD/getCustomerLists.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/Dynamo/MWBanking/GetCustomerLists_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getCustomerLists_params">
                <complexType>
                    <sequence>
                        <element name="legalId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="getCustomerLists_inputMessage">
        <wsdl:part name="request" element="tns:getCustomerLists_params"/>
    </wsdl:message>
    <wsdl:message name="getCustomerLists_outputMessage">
        <wsdl:part name="reply" element="inp1:getCustomerListsResponse"/>
    </wsdl:message>
    <wsdl:portType name="GetCustomerLists_PS_ptt">
        <wsdl:operation name="getCustomerLists">
            <wsdl:input message="tns:getCustomerLists_inputMessage"/>
            <wsdl:output message="tns:getCustomerLists_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetCustomerLists_PS_ptt-binding" type="tns:GetCustomerLists_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCustomerLists">
            <soap:operation soapAction="getCustomerLists"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>