Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/NotificaEventosT24/xsd/notificaEventosT24Types.xsd

<xs:schema 
     xmlns:xs="http://www.w3.org/2001/XMLSchema" 
     version="1.0" 
     targetNamespace="http://www.ficohsa.com.hn/middleware.services/notificaEventosT24Types" 
     xmlns:ntf="http://www.ficohsa.com.hn/middleware.services/notificaEventosT24Types">

     <xs:element name="notificaEventosT24">
          <xs:complexType>
               <xs:sequence>
                    <xs:element name="MESSAGE">
                         <xs:simpleType>
                              <xs:restriction base="xs:string">
                                   <xs:minLength value="1"/>
                              </xs:restriction>
                         </xs:simpleType>
                    </xs:element>
               </xs:sequence>
          </xs:complexType>
     </xs:element>

     <xs:element name="notificaEventosT24Response">
          <xs:complexType>
               <xs:sequence>
                    <xs:element name="EVENTS" minOccurs="0" type="ntf:eventsResponseType" />
               </xs:sequence>
          </xs:complexType>
     </xs:element>

     <!-- eventsResponseType -->
     <xs:complexType name="eventsResponseType">
          <xs:sequence>
               <xs:element name="EVENT" minOccurs="0" maxOccurs="unbounded" type="ntf:eventResponseType"/>
          </xs:sequence>
     </xs:complexType>

     <!-- eventResponseType -->
     <xs:complexType name="eventResponseType">
          <xs:sequence>
               <xs:element name="FIELDS" type="ntf:fieldsType" minOccurs="0" />
               <xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0" />
               <xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" />
          </xs:sequence>
     </xs:complexType>

     <!-- fieldsType -->
     <xs:complexType name="fieldsType">
          <xs:sequence>
               <xs:element name="FIELD" minOccurs="0" maxOccurs="unbounded" type="ntf:fieldType"/>
          </xs:sequence>
     </xs:complexType>

     <!-- fieldType -->
     <xs:complexType name="fieldType">
          <xs:sequence>
               <xs:element name="TYPE_NAME" type="xs:string" minOccurs="0" />
               <xs:element name="TYPE_VALUE" type="xs:string" minOccurs="0" />
          </xs:sequence>
     </xs:complexType>

</xs:schema>