Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/MovilDigitizationCards/xsd/movilDigitizationCardsTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/movilDigitizationCardsTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/movilDigitizationCardsTypes">


	<!--############################################ -->
	<!--OPERACION: movilGetPushReceipt -->
	<!--############################################ -->

	<xs:element name="movilGetPushReceipt">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="1"  />																				
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="movilGetPushReceiptResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="xs:string" minOccurs="0" />
				<xs:element name="RETURN_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="ERROR_DESCRIPTION" type="xs:string" minOccurs="0" />
				<xs:element name="PUSH_RECEIPT_ID" type="xs:string" minOccurs="0" />
				<xs:element name="RECEIPT_EXPIRATION_TIME" type="xs:string" minOccurs="0"  />
				<xs:element name="INSTITUTION_CODE" type="xs:string" minOccurs="0"  />				
				<xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="PNP" type="xs:string" minOccurs="0" />						
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--############################################ -->
	<!--OPERACION: movilGetCardsInfo -->
	<!--############################################ -->

	<xs:element name="movilGetCardsInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NUMBER" type="xs:string" minOccurs="1" />
				<xs:element name="PRODUCT_TYPE" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
						    <xs:enumeration value="CTA" />
							<xs:enumeration value="TC" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CUSTOMER_NUMBER" type="xs:string" minOccurs="1" />
				<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="WALLET_REQUEST" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
						    <xs:enumeration value="APPLE_PAY" />
							<xs:enumeration value="GOOGLE_PAY" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>																							
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="movilGetCardsInfoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="xs:string" minOccurs="0" />
				<xs:element name="RETURN_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="ERROR_DESCRIPTION" type="xs:string" minOccurs="0" />
				<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
				<xs:element name="INSTITUTION_CODE" type="xs:string" minOccurs="0"  />					
				<xs:element name="STATUS" type="xs:string" minOccurs="0"  />
				<xs:element name="STATUS_INFO" type="xs:string" minOccurs="0" />						
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--############################################ -->
	<!--OPERACION: movilGetCardsEncrypted -->
	<!--############################################ -->

	<xs:element name="movilGetCardsEncrypted">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="1" />																								
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="movilGetCardsEncryptedResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ENCRYPTED_CARD" type="xs:string" minOccurs="0" />
				<xs:element name="REQUEST_ID" type="xs:string" minOccurs="0" />
				<xs:element name="RETURN_CODE" type="xs:string" minOccurs="0" />
				<xs:element name="ERROR_DESCRIPTION" type="xs:string" minOccurs="0" />
				<xs:element name="INSTITUTION_CODE" type="xs:string" minOccurs="0"  />
				<xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0" />					
				<xs:element name="MARCA" type="xs:string" minOccurs="0"  />					
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--############################################ -->
	<!--OPERACION: movilCheckAvailableCards -->
	<!--############################################ -->

	<xs:element name="movilCheckAvailableCards">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CODIGO_CLIENTE" type="xs:string" minOccurs="1" />
				<xs:element name="PAIS" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
						    <xs:enumeration value="HN" />
							<xs:enumeration value="GT" />
							<xs:enumeration value="PA" />
							<xs:enumeration value="NI" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>																								
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="movilCheckAvailableCardsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FLAG" type="xs:string" minOccurs="0" />			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--############################################ -->
	<!--OPERACION: movilGetListCards -->
	<!--############################################ -->

	<xs:element name="movilGetListCards">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CODIGO_CLIENTE" type="xs:string" minOccurs="1" />
				<xs:element name="PAIS" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
						    <xs:enumeration value="HN" />
							<xs:enumeration value="GT" />
							<xs:enumeration value="PA" />
							<xs:enumeration value="NI" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>																								
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="movilGetListCardsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARDS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CARD" maxOccurs="unbounded" type="tns:cardType" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>			
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="cardType">
		<xs:sequence>
		    <xs:element name="CARD_NUMBER" type="xs:string" />
			<xs:element name="CARD_TYPE" type="xs:string" />
			<xs:element name="CARD_HOLDER_NAME" type="xs:string" />
			<xs:element name="ENC_CARD" type="xs:string" />
			<xs:element name="LAST_FOUR_DIGITS" type="xs:string" />
			<xs:element name="PAYMENT_NETWORK" type="xs:string" />
			<xs:element name="INST_CODE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>