Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/OperacionesDatosClientes_v2/wsdl/operacionesDatosClientesPS.wsdl

<WL5G3N0:definitions name="operacionesDatosClientesPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:ope="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../../../Resources/esquemas_generales/HeaderElements.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:ope="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesTypes" schemaLocation="../xsd/operacionesDatosClientesTypes.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="registraDatosActualizados">
    <WL5G3N0:part element="WL5G3N2:registraDatosActualizados" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="registraDatosActualizadosResponse">
    <WL5G3N0:part element="WL5G3N2:registraDatosActualizadosResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="actualizaSistemas">
    <WL5G3N0:part element="WL5G3N2:actualizaSistemas" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="actualizaSistemasResponse">
    <WL5G3N0:part element="WL5G3N2:actualizaSistemasResponse" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="actualizaSistemasT24">
    <WL5G3N0:part element="WL5G3N2:actualizaSistemasT24" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="actualizaSistemasT24Response">
    <WL5G3N0:part element="WL5G3N2:actualizaSistemasT24Response" name="result"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="operacionesDatosClientesPS">
    <WL5G3N0:operation name="registraDatosActualizados" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:registraDatosActualizados"/>
      <WL5G3N0:output message="WL5G3N3:registraDatosActualizadosResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizaSistemas" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:actualizaSistemas"/>
      <WL5G3N0:output message="WL5G3N3:actualizaSistemasResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizaSistemasT24" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:actualizaSistemasT24"/>
      <WL5G3N0:output message="WL5G3N3:actualizaSistemasT24Response"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="operacionesDatosClientesPSSOAP" type="WL5G3N3:operacionesDatosClientesPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="registraDatosActualizados">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesPS/registraDatosActualizados"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizaSistemas">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesPS/actualizaSistemas"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizaSistemasT24">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesDatosClientesPS/actualizaSistemasT24"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body parts="result" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="operacionesDatosClientesPS">
    <WL5G3N0:port binding="WL5G3N3:operacionesDatosClientesPSSOAP" name="operacionesDatosClientesPSSOAP">
      <WL5G3N4:address location="https://mwOmnicanal:8004/Middleware/SalesAndServices/CustomerManagement/OperacionesDatosClientes"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>