Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons/Schemas/APIPagosMasivosTypes.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:apm="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes"
            targetNamespace="https://www.ficohsa.com/regional/massivePayment/apiPagosMasivosTypes">
  <xsd:element name="AutorizarLote">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderType"/>
        <xsd:element name="queryType" type="xsd:string"/>
        <xsd:element name="queryValue" type="xsd:string"/>
        <xsd:element name="applicationDate" type="xsd:dateTime" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AutorizarLoteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pmResult" type="apm:resultType"/>
        <xsd:element name="ticket" type="xsd:string"/>
        <xsd:element name="customerBatchId" type="xsd:string"/>
        <xsd:element name="bankBatchId" type="xsd:integer"/>
        <xsd:element name="customerId" type="xsd:string"/>
        <xsd:element name="status" type="xsd:string"/>
        <xsd:element name="statusDescription" type="xsd:string"/>
        <xsd:element name="errors" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="accountNumber" type="xsd:string" nillable="true"/>
              <xsd:element name="batchAmount" type="xsd:decimal"/>
              <xsd:element name="taxAmount" type="xsd:decimal"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AutorizarProveedores">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderType"/>
        <xsd:element name="suppliers" type="xsd:string" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AutorizarProveedoresResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="successIndicator" type="xsd:string"/>
        <xsd:element name="pmError" type="apm:errorType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CancelarLote">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderType"/>
        <xsd:element name="queryType" type="xsd:string"/>
        <xsd:element name="queryValue" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CancelarLoteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pmResult" type="apm:resultType"/>
        <xsd:element name="ticket" type="xsd:string"/>
        <xsd:element name="customerBatchId" type="xsd:string"/>
        <xsd:element name="bankBatchId" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="customerId" type="xsd:string"/>
        <xsd:element name="status" type="xsd:string" minOccurs="0"/>
        <xsd:element name="statusDescription" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CargarArchivoLote">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderType"/>
        <xsd:element name="ticket" type="xsd:string" minOccurs="0"/>
        <xsd:element name="operationType" type="xsd:string"/>
        <xsd:element name="concept" type="xsd:string" minOccurs="0"/>
        <xsd:element name="applicationDate" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="encrypted" type="xsd:boolean" minOccurs="0"/>
        <xsd:element name="file" type="xsd:string"/>
        <xsd:element name="fileName" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CargarArchivoLoteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pmResult" type="apm:resultType"/>
        <xsd:element name="ticket" type="xsd:string" minOccurs="0"/>
        <xsd:element name="customerBatchId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="bankBatchId" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="customerId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="uploadDate" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="applicationDate" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="status" type="xsd:string" minOccurs="0"/>
        <xsd:element name="transactionResults" maxOccurs="unbounded" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="id" type="xsd:string"  minOccurs="0"/>
              <xsd:element name="errors" type="apm:errorType" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="totalAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="rowCount" type="xsd:integer" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CargarProveedores">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderType"/>
        <xsd:element name="suppliers" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="id" type="xsd:string"/>
              <xsd:element name="name" type="xsd:string"/>
              <xsd:element name="legalId" type="xsd:string"/>
              <xsd:element name="destinationBank" type="xsd:string" minOccurs="0"/>
              <xsd:element name="accountNumber" type="xsd:string"/>
              <xsd:element name="accountType" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CargarProveedoresResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="successIndicator" type="xsd:string"/>
        <xsd:element name="pmError" type="apm:errorType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarDetalleLote">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderTypeV2"/>
        <xsd:element name="queryType" type="xsd:string"/>
        <xsd:element name="queryValue" type="xsd:string"/>
        <xsd:element name="paging" type="apm:pagingType"/>
        <xsd:element name="filters" maxOccurs="unbounded" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="field" type="xsd:string" minOccurs="0"/>
              <xsd:element name="value" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarDetalleLoteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pmResult" type="apm:resultType"/>
        <xsd:element name="consultarDetalleLoteResponseData" maxOccurs="unbounded" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ticket" type="xsd:string" minOccurs="0"/>
              <xsd:element name="customerId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="customerName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="customerBatchId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="bankBatchId" type="xsd:integer" minOccurs="0"/>
              <xsd:element name="operationType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="operationTypeDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="uploadDate" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="applicationDate" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="rowCount" type="xsd:integer" minOccurs="0"/>
              <xsd:element name="successRowCount" type="xsd:integer" minOccurs="0"/>
              <xsd:element name="errorRowCount" type="xsd:integer" minOccurs="0"/>
              <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
              <xsd:element name="successAmount" type="xsd:decimal" minOccurs="0"/>
              <xsd:element name="errorAmount" type="xsd:decimal" minOccurs="0"/>
              <xsd:element name="status" type="xsd:string" minOccurs="0"/>
              <xsd:element name="statusDescription" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="paging" type="apm:pagingTypeV2"/>
        <xsd:element name="consultarDetalleLoteResponseDetails" maxOccurs="unbounded" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="id" type="xsd:integer" minOccurs="0"/>
              <xsd:element name="paymentType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="paymentTypeDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="txnReference" type="xsd:string" minOccurs="0"/>
              <xsd:element name="debitAccount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="creditAccount" type="xsd:string" minOccurs="0"/>
              <xsd:element name="destinationBank" type="xsd:string" minOccurs="0"/>
              <xsd:element name="destinationBankName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="creditCurrency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="currency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
              <xsd:element name="creditAccountType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="beneficiary" type="xsd:string" minOccurs="0"/>
              <xsd:element name="documentNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="supplierId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="status" type="xsd:string" minOccurs="0"/>
              <xsd:element name="statusDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="description" type="xsd:string" minOccurs="0"/>
              <xsd:element name="withdrawalBranch" type="xsd:string" minOccurs="0"/>
              <xsd:element name="withdrawalBranchName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="externalReference" type="xsd:string" minOccurs="0"/>
              <xsd:element name="code" type="xsd:string" minOccurs="0"/>
              <xsd:element name="message" type="xsd:string" minOccurs="0"/>
              <xsd:element name="billInfo" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="contractName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="debtorCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="debtorName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="billDetail" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarEstadoLote">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderTypeV2"/>
        <xsd:element name="queryType" type="xsd:string"/>
        <xsd:element name="queryValue" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarEstadoLoteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pmResult" type="apm:resultType"/>
        <xsd:element name="ticket" type="xsd:string" minOccurs="0"/>
        <xsd:element name="customerBatchId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="bankBatchId" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="customerId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="customerName" type="xsd:string" minOccurs="0"/>
        <xsd:element name="status" type="xsd:string" minOccurs="0"/>
        <xsd:element name="statusDescription" type="xsd:string" minOccurs="0"/>
        <xsd:element name="optimistic" type="xsd:boolean" minOccurs="0"/>
        <xsd:element name="accounts" maxOccurs="unbounded" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="number" type="xsd:string" minOccurs="0"/>
              <xsd:element name="currency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="payments" maxOccurs="unbounded" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="exchangeRate" type="xsd:decimal" minOccurs="0"/>
              <xsd:element name="currency" type="xsd:string" minOccurs="0"/>
              <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="successAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="errorAmount" type="xsd:decimal" minOccurs="0"/>
        <xsd:element name="rowCount" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="successRowCount" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="errorRowCount" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="applicationDate" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="processInfo" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarLotesCliente">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderTypeV2"/>
        <xsd:element name="beginDate" type="xsd:dateTime"/>
        <xsd:element name="endDate" type="xsd:dateTime"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarLotesClienteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pmResult" type="apm:resultType"/>
        <xsd:element name="customerId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="beginDate" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="endDate" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="consultarLotesClienteResponseDetails" maxOccurs="unbounded" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ticket" type="xsd:string" minOccurs="0"/>
              <xsd:element name="customerBatchId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="bankBatchId" type="xsd:integer" minOccurs="0"/>
              <xsd:element name="operationType" type="xsd:string" minOccurs="0"/>
              <xsd:element name="operationTypeDescription" type="xsd:string" minOccurs="0"/>
              <xsd:element name="uploadDate" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="applicationDate" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="rowCount" type="xsd:integer" minOccurs="0"/>
              <xsd:element name="successRowCount" type="xsd:integer" minOccurs="0"/>
              <xsd:element name="errorRowCount" type="xsd:integer" minOccurs="0"/>
              <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
              <xsd:element name="successAmount" type="xsd:decimal" minOccurs="0"/>
              <xsd:element name="errorAmount" type="xsd:decimal" minOccurs="0"/>
              <xsd:element name="status" type="xsd:string" minOccurs="0"/>
              <xsd:element name="statusDescription" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarProveedores">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderTypeV2"/>
        <xsd:element name="supplierStatus" type="xsd:string"/>
        <xsd:element name="suppliers" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarProveedoresResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pmResult" type="apm:resultType"/>
        <xsd:element name="customerId" type="xsd:string"  minOccurs="0"/>
        <xsd:element name="suppliers" type="apm:supplierType" maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarTransaccionLote">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderTypeV2"/>
        <xsd:element name="queryType" type="xsd:string"/>
        <xsd:element name="queryValue" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarTransaccionLoteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pmResult" type="apm:resultType"/>
        <xsd:element name="id" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="ticket" type="xsd:string" minOccurs="0"/>
        <xsd:element name="customerBatchId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="bankBatchId" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="transactionReference" type="xsd:string" minOccurs="0"/>
        <xsd:element name="customerId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="debitAccount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="creditAccount" type="xsd:string" minOccurs="0"/>
        <xsd:element name="amount" type="xsd:decimal" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EditarEstadoRegistroLote">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderType"/>
        <xsd:element name="queryType" type="xsd:string"/>
        <xsd:element name="queryValue" type="xsd:string"/>
        <xsd:element name="transactions" type="xsd:integer" maxOccurs="unbounded" minOccurs="0"/>
        <xsd:element name="status" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EditarEstadoRegistroLoteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="successIndicator" type="xsd:string"/>
        <xsd:element name="pmError" type="apm:errorType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EliminarProveedores">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderTypeV2"/>
        <xsd:element name="suppliers" type="xsd:string" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EliminarProveedoresResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="successIndicator" type="xsd:string"/>
        <xsd:element name="pmError" type="apm:errorType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PagosMasivos">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderType"/>
        <xsd:element name="globalId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="batches" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ticket" type="xsd:string" minOccurs="0"/>
              <xsd:element name="customerBatchId" type="xsd:string"/>
              <xsd:element name="operationType" type="xsd:string"/>
              <xsd:element name="concept" type="xsd:string" minOccurs="0"/>
              <xsd:element name="applicationDate" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="transactionCount" type="xsd:integer"/>
              <xsd:element name="totalAmount" type="xsd:decimal"/>
              <xsd:element name="dataStructure">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="fields" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="delimiter" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="transactions" type="xsd:string" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PagosMasivosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pmResult" type="apm:resultType"/>
        <xsd:element name="globalId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="customerId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="batches" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ticket" type="xsd:string" minOccurs="0"/>
              <xsd:element name="customerBatchId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="bankBatchId" type="xsd:integer" minOccurs="0"/>
              <xsd:element name="customerId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="uploadDate" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="applicationDate" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="status" type="xsd:string" minOccurs="0"/>
              <xsd:element name="transactionResults" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="id" type="xsd:integer"  minOccurs="0"/>
                    <xsd:element name="errors" type="apm:errorType" maxOccurs="unbounded" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="totalAmount" type="xsd:decimal" minOccurs="0"/>
              <xsd:element name="rowCount" type="xsd:integer" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ObtenerTicket">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestHeader" type="apm:requestHeaderTypeV2"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ObtenerTicketResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="pmResult" type="apm:resultType"/>
        <xsd:element name="numeroTicket" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response400">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="type" type="xsd:string"/>
        <xsd:element name="title" type="xsd:string"/>
        <xsd:element name="status" type="xsd:integer"/>
        <xsd:element name="traceId" type="xsd:string"/>
        <xsd:element name="errors">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DetalleErrores" maxOccurs="unbounded" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="requestHeaderType">
    <xsd:sequence>
      <xsd:element name="sourceBank" type="xsd:string"/>
      <xsd:element name="destinationBank" type="xsd:string"/>
      <xsd:element name="customerId" type="xsd:string"/>
      <xsd:element name="userName" type="xsd:string"/>
      <xsd:element name="userId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requestHeaderTypeV2">
    <xsd:sequence>
      <xsd:element name="sourceBank" type="xsd:string"/>
      <xsd:element name="destinationBank" type="xsd:string"/>
      <xsd:element name="customerId" type="xsd:string"/>
      <xsd:element name="userName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="errorType">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string" minOccurs="0"/>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resultType">
    <xsd:sequence>
      <xsd:element name="successIndicator" type="xsd:string"/>
      <xsd:element name="pmError" type="apm:errorType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="supplierType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="legalId" type="xsd:string"/>
      <xsd:element name="destinationBank" type="xsd:string" minOccurs="0"/>
      <xsd:element name="destinationBankDescription" type="xsd:string" minOccurs="0"/>
      <xsd:element name="accountNumber" type="xsd:string"/>
      <xsd:element name="accountType" type="xsd:string"  minOccurs="0"/>
      <xsd:element name="status" type="xsd:string"  minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pagingType">
    <xsd:sequence>
      <xsd:element name="initialRecord" type="xsd:integer"/>
      <xsd:element name="page" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="pageSize" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pagingTypeV2">
    <xsd:sequence>
      <xsd:element name="initialRecord" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="page" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="pageSize" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="pageCount" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="recordReturned" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="recordTotal" type="xsd:integer" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>