Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons/Schemas/CommonTypes.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ctp="https://www.ficohsa.com/regional/common/commonTypes"
            targetNamespace="https://www.ficohsa.com/regional/common/commonTypes">
    <xsd:element name="StatusInfo" type="ctp:StatusInfoType"/>
    <xsd:element name="ErrorInfo" type="ctp:ErrorInfoType"/>
    <xsd:element name="GeneralInfo" type="ctp:GeneralInfoType"/>
    <xsd:complexType name="StatusInfoType">
        <xsd:sequence>
            <xsd:element name="Status" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransactionId" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ValueDate" minOccurs="0" type="xsd:date"/>
            <xsd:element name="DateTime" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="GlobalId" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ErrorInfoType">
        <xsd:sequence>
            <xsd:element name="Code" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Error" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Description" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShortDescription" minOccurs="0" type="xsd:string"/>
            <xsd:element name="DateTime" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="GlobalId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Details" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SystemId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="SystemStatus" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="MessageId" minOccurs="0" type="xsd:string"/>
                        <xsd:element name="Messages" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GeneralInfoType">
        <xsd:sequence>
            <xsd:element name="SourceBank" minOccurs="0" type="xsd:string"/>
            <xsd:element name="DestinationBank" minOccurs="0" type="xsd:string"/>
            <xsd:element name="GlobalId" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ApplicationId" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ApplicationUser" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BranchId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TransactionDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Language" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="string1">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>