Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons/Schemas/PayrollPaymentTypes.xsd

<xsd:schema targetNamespace="https://www.ficohsa.com/regional/massivePayment/payrollPaymentTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/massivePayment/payrollPaymentTypes" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
  <xsd:import schemaLocation="CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>
  <xsd:element name="PayrollPayment">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="BatchNumber" type="xsd:string"/>
        <xsd:element name="Currency" type="xsd:string"/>
        <xsd:element name="TotalRecords" type="xsd:string"/>
        <xsd:element name="TotalValue" type="xsd:integer"/>
        <xsd:element name="CompanyCode" type="xsd:string"/>
        <xsd:element name="DataEstructure" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
              <xsd:element name="Fields" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Delimiter" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Transactions" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
              <xsd:element name="Transaction" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PayrollPaymentResponse">
    <xsd:annotation>
      <xsd:documentation>Response Apply</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Status" type="xsd:string"/>
        <xsd:element name="Messages" type="xsd:string"/>
        <xsd:element name="TransactionId" type="xsd:string"/>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>