Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons/Schemas/UserLoginT24.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/honduras/user"
            targetNamespace="https://www.ficohsa.com/honduras/user" elementFormDefault="qualified">
  <xsd:element name="connInfoElement">
    <xsd:annotation>
      <xsd:documentation>Conexion para servidor</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="url" type="xsd:string" />
        <xsd:element name="username" type="xsd:string" />
        <xsd:element name="password" type="xsd:string" />
        <xsd:element name="variables" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
   <xsd:element name="userLoginElement">
    <xsd:annotation>
      <xsd:documentation>Input Id</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="userLogin" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>