Fuentes/ficohsacore-hncard-488b7ad93302/SBHN_Card/SBHN_Card_CustomizeCreditCardPin/Schemas/CustomizeCreditCardPin.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/honduras/card"
            targetNamespace="https://www.ficohsa.com/honduras/card" xmlns:com="https://www.ficohsa.com/regional/common/commonTypes">
<xsd:import schemaLocation="../../SBHN_Card_Commons/Schemas/CommonTypes.xsd" namespace="https://www.ficohsa.com/regional/common/commonTypes"/>  
  <xsd:element name="customizeCreditCardPin">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="com:GeneralInfoType"/>
        <xsd:element name="CardNumber" type="xsd:string"/>
        <xsd:element name="Pin" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="customizeCreditCardPinResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="com:StatusInfoType"/>
        <xsd:element name="ErrorInfo" type="com:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
