Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/ConsultasCuenta/ConsultaCuentasConMovimientos/consultaCuentasConMovimientosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCuentasConMovimientosTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaCuentasConMovimientosTypes">
	
	<xs:element name="consultaCuentasConMovimientos">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="START_TIME">
	            	<xs:simpleType>
			            <xs:restriction base="xs:string">
					      <xs:pattern value="[0-9][0-9][0-9][0-9]"/>
					    </xs:restriction>
					</xs:simpleType>
	            </xs:element>	            
	            <xs:element name="END_TIME">
	            	<xs:simpleType>
			            <xs:restriction base="xs:string">
					      <xs:pattern value="[0-9][0-9][0-9][0-9]"/>					      
					    </xs:restriction>
					</xs:simpleType>
	            </xs:element>
	            <xs:element name="INITIAL_POSITION">
	            	<xs:simpleType>
			            <xs:restriction base="xs:string">
					      <xs:pattern value="([0-9])*"/>
					      <xs:minLength value="1"/>
					    </xs:restriction>
					</xs:simpleType>
	            </xs:element>
	            <xs:element name="MAX_ACCOUNTS">
	            	<xs:simpleType>
			            <xs:restriction base="xs:string">
					      <xs:pattern value="([0-9])*"/>
					      <xs:minLength value="1"/>
					    </xs:restriction>
					</xs:simpleType>
	            </xs:element>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
		
	<xs:complexType name="consultaCuentasConMovimientosResponse">
		<xs:sequence>
			<xs:element name="TOTAL_ACCOUNTS_FOUND" type="xs:string" minOccurs="0" />
			<xs:element name="TOTAL_ACCOUNTS_RETURNED" type="xs:string" minOccurs="0" />
			<xs:element name="INITIAL_POSITION_RETURNED" type="xs:string" minOccurs="0" />
			<xs:element name="LAST_POSITION_RETURNED" type="xs:string" minOccurs="0" />
			<xs:element name="ACCOUNTS" minOccurs="0" maxOccurs="1" >
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>				
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="consultaCuentasConMovimientosResponse" type="cons:consultaCuentasConMovimientosResponse" />
	
</xs:schema>