Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/Alertas/consultaSaldoCuentas/xsd/consultaSaldoCuentas_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaSaldoCuentas_db" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaSaldoCuentas_db" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_PAIS_ORIGEN" type="db:ALERTAS.TVARCHAR3" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_NUMERO_PRODUCTO" type="db:ALERTAS.TVARCHAR20" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_CODIGO_MSJ_PRD" type="db:ALERTAS.TVARCHAR20" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_DESC_MSJ_PRD" type="db:ALERTAS.TVARCHAR100" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO_MONEDA" type="db:ALERTAS.TVARCHAR3" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SALDO_DISPONIBLE" type="db:ALERTAS.TVARCHAR20" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SALDO_TOTAL" type="db:ALERTAS.TVARCHAR20" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO_MENSAJE" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_DESCRIPCION_MENSAJE" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="ALERTAS.TVARCHAR20">
      <sequence>
         <element name="P_NUMERO_PRODUCTO_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="ALERTAS.TVARCHAR3">
      <sequence>
         <element name="P_CODIGO_MONEDA_ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="ALERTAS.TVARCHAR100">
      <sequence>
         <element name="P_DESC_MSJ_PRD_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
</schema>
