Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Incoming/BusinessServices/DepositoChequeCertificado/xsd/XMLSchema_-990446331.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/depositoChequeCertificado" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pag="http://www.ficohsa.com.hn/middleware.services/depositoChequeCertificado">
		
	<xs:complexType name="depositoChequeCertificadoResponseType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CHEQUE_NUMBER" type="xs:string" minOccurs="0"/>			
			<xs:element name="CHEQUE_NUMBER_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="DEPOSIT_REFERENCE" type="xs:string" minOccurs="0"/>
			<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
			<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="depositoChequeCertificado">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DEPOSIT_ACCOUNT">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="CHEQUE_ACCOUNT">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="CHEQUE_NUMBER">
					<xs:simpleType>
		        		<xs:restriction base="xs:string">
		        			<xs:minLength value="1"/>
		        		</xs:restriction>
	        		</xs:simpleType>
				</xs:element>
				<xs:element name="DEPOSIT_REFERENCE" type="xs:string" minOccurs="0"/>
				<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="depositoChequeCertificadoResponse" type="pag:depositoChequeCertificadoResponseType"/>
	
</xs:schema>