Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/XSD/PayRemittances/ArmarMensajeRecaudosBS_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ArmarMensajeRecaudosBS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ArmarMensajeRecaudosBS" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_CONTRATO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TIPO_OPERACION" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TIPO_PARAM" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="APLICACION" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="INFO" type="db:TERCEROS.TDATA" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="INFO_T24" type="db:TERCEROS.TDATA" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="INFO_FLINK" type="db:TERCEROS.TDATA" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="INFO_MOREPARAM" type="db:TERCEROS.TDATA" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="MENSAJE" type="string" db:index="9" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="CODIGO_RESPUESTA" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_RESPUESTA" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TERCEROS.DATA">
      <sequence>
         <element name="NAME" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALUE" type="db:string5000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TERCEROS.TDATA">
      <sequence>
         <element name="INFO_ITEM" type="db:TERCEROS.DATA" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string5000">
      <restriction base="string">
         <maxLength value="5000"/>
      </restriction>
   </simpleType>
</schema>
