Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultarTipoReversion/consultarTipoReversionT24/MIDDLEWARE_OSB_CONSULTAR_TIPO_REVERSION.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/MIDDLEWARE/OSB_CONSULTAR_TIPO_REVERSION/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/MIDDLEWARE/OSB_CONSULTAR_TIPO_REVERSION/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="TIPO_REVERSION_CONS" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="TIPOS_REVERSIONES" type="db:TVARCHAR100" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="DESCRIPCIONES" type="db:TVARCHAR100" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="INFORMACION_ADICIONALES" type="db:TVARCHAR100" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CODIGO_ERROR" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DESCRIPCION_ERROR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TVARCHAR100">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>