Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/VisionPlus/ActualizacionesCliente/xsd/actualizacionesCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/actualizacionesCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/actualizacionesCliente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="Pais" type="db:string3" db:index="1" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="UUID" type="db:string45" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="CustomerID" type="db:string20" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="TargetSystem" type="db:string25" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="CountryId" type="db:string25" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="OperationDate" type="dateTime" db:index="6" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="OperationType" type="int" db:index="7" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="Request" type="string" db:index="8" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="MensajeError" type="db:string1000" db:index="9" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="NumeroError" type="int" db:index="10" db:type="INT" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="MensajeError" type="db:string1000" db:index="9" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="NumeroError" type="int" db:index="10" db:type="INT" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string45">
      <restriction base="string">
         <maxLength value="45"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string1000">
      <restriction base="string">
         <maxLength value="1000"/>
      </restriction>
   </simpleType>
</schema>