Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABKGT/consultaImagenCheque/xsd/XMLSchema_-131460889.xsd

<?xml version='1.0' encoding='UTF-8'?><xs:schema elementFormDefault="unqualified" targetNamespace="http://ConsultaImagen.ficohsa.com/" version="1.0" xmlns:tns="http://ConsultaImagen.ficohsa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="convertirImagen" type="tns:convertirImagen" />
<xs:element name="convertirImagenResponse" type="tns:convertirImagenResponse" />
<xs:complexType name="convertirImagen">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreImagen" type="xs:string" />
      <xs:element minOccurs="0" name="Ruta" type="xs:string" />
      <xs:element minOccurs="0" name="FormatoOrigen" type="xs:string" />
      <xs:element minOccurs="0" name="FormatoDestino" type="xs:string" />      
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="convertirImagenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImagenBase64" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>