Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/OSB/ConsultaClienteTarjetas_v3/xsd/XMLSchema_-1995739740.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaClienteTarjetasTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaClienteTarjetasTypes">

	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="addressTypes">
		<xs:sequence>
			<xs:element name="ADDRESS_TYPE" type="xs:string" minOccurs="0"/>
			<xs:element name="ALTERN_ADDRESS" type="xs:string" minOccurs="0"/>
			<xs:element name="ADDRESS_LINE_1" type="xs:string" minOccurs="0"/>
			<xs:element name="ADDRESS_LINE_2" type="xs:string" minOccurs="0"/>
			<xs:element name="ADDRESS_LINE_3" type="xs:string" minOccurs="0"/>
			<xs:element name="ADDRESS_LINE_4" type="xs:string" minOccurs="0"/>
			<xs:element name="CITY" type="xs:string" minOccurs="0"/>
			<xs:element name="STATE" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
			<xs:element name="MOBILE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="EMPLOYERS_NAME" type="xs:string" minOccurs="0"/>
			<xs:element name="PHONE_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="PHONE_EXT" type="xs:string" minOccurs="0"/>
			<xs:element name="SUBURB" type="xs:string" minOccurs="0"/>
			<xs:element name="HOUSE_NUMBER" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="customerNames">
		<xs:sequence>
			<xs:element name="GIVEN_NAMES_1" type="xs:string" minOccurs="0"/>
			<xs:element name="GIVEN_NAMES_2" type="xs:string" minOccurs="0"/>
			<xs:element name="GIVEN_NAMES_3" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaClienteTarjetas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SEARCH_CRITERIA" type="cons:stringMinLength1"/>
				<xs:element name="SEARCH_VALUE" type="cons:stringMinLength1"/>
				<xs:element name="ORG" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaClienteTarjetasResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:integer" minOccurs="0"/>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="addresInformationResidence" type="cons:addressTypes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="addresInformationWork" type="cons:addressTypes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="addresInformationAltern" type="cons:addressTypes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="customerNames" type="cons:customerNames" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="BIRTH_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="MARITAL_STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="LEGAL_DOCUMENT_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="LEGAL_DOCUMENT_NUMBER " type="xs:string" minOccurs="0"/>
				<xs:element name="FREQUENT_TRAVELERS_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="TRAVELERS_STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="MAIN_EMAIL" type="xs:string" minOccurs="0"/>
				<xs:element name="ALTERNATE_EMAIL" type="xs:string" minOccurs="0"/>
				<xs:element name="NO_OF_DEPENDANTS" type="xs:string" minOccurs="0"/>
				<xs:element name="EDUCATION_LEVEL" type="xs:string" minOccurs="0"/>
				<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
				<xs:element name="PROFESSION" type="xs:string" minOccurs="0"/>
				<xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
				<xs:element name="POSITION" type="xs:string" minOccurs="0"/>
				<xs:element name="PEP_INDICATOR" type="xs:string" minOccurs="0"/>
				<xs:element name="LEGAL_DOCUMENT_COUNTRY_2" type="xs:string" minOccurs="0"/>
				<xs:element name="EMPLOYMENT_YEARS" type="xs:string" minOccurs="0"/>
				<xs:element name="EMPLOYMENT_MONTHS" type="xs:string" minOccurs="0"/>
				<xs:element name="CLIENT_SEGMENT" type="xs:string" minOccurs="0"/>
				<xs:element name="VIP_INDICATOR" type="xs:string" minOccurs="0"/>
				<xs:element name="CONSUMPTION_SCORE" type="xs:string" minOccurs="0"/>
				<xs:element name="MAIN_INCOME" type="xs:string" minOccurs="0"/>
				<xs:element name="SECONDARY_INCOME" type="xs:string" minOccurs="0"/>
				<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="DATE_ISSUE" type="xs:string" minOccurs="0"/>
				<xs:element name="COUNTRY_ISSUANCE_PASSAPORT" type="xs:string" minOccurs="0"/>
				<xs:element name="ACCOUNT_STATUS_INDICATOR" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>