Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SJS/consultaMultipleRemesadoras/xsd/sjConsultaMultipleRemesadoras.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjConsultaMultipleRemesadoras" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/sjConsultaMultipleRemesadoras" elementFormDefault="qualified" >
	<xs:element name="sjConsultaMultipleRemesadoras">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="REMITTANCE_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="CORRESPONSAL_BRANCHCODE" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFICIARY_FIRSTNAME" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFICIARY_MIDDLENAME" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFICIARY_FIRSTSURNAME" type="xs:string" minOccurs="0"/>
				<xs:element name="BENEFICIARY_SECONDSURNAME" type="xs:string" minOccurs="0"/>
					<xs:element name="TYPES_REMITTANCE" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="TYPES_REMITTANCE_ITEM " minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="NAME_REMITTANCE" type="xs:string" minOccurs="0"/>
									        <xs:element name="TYPE_REMITTANCE" type="xs:string" minOccurs="0"/>
									        <xs:element name="AGREEMENT_ID" type="xs:decimal" minOccurs="0"/>
									        <xs:element name="AGREEMENT_ID_T24" type="xs:string" minOccurs="0"/>
									        <xs:element name="ABBREVIATION_REMITTANCE" type="xs:string" minOccurs="0"/>
									        <xs:element name="PRIORITY" type="xs:decimal" minOccurs="0" nillable="true"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
			<xs:element name="ADDITIONAL_INFO" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="INFO" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NAME" type="xs:string" minOccurs="0" />
										<xs:element name="VALUE" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="sjConsultaMultipleRemesadorasResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0" />
				<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" />
				<xs:element name="REMITTANCE" minOccurs="0">
					<xs:complexType>
							<xs:sequence>
								<xs:element name="ROUTER_RESPONSE" minOccurs="0" >
									<xs:complexType>
										<xs:sequence>
											<xs:element name="NAME_REMITTANCE" type="xs:string" minOccurs="0"/>
									        <xs:element name="TYPE_REMITTANCE" type="xs:string" minOccurs="0"/>
									        <xs:element name="AGREEMENT_ID" type="xs:decimal" minOccurs="0"/>
									        <xs:element name="AGREEMENT_ID_T24" type="xs:string" minOccurs="0"/>
									        <xs:element name="ABBREVIATION_REMITTANCE" type="xs:string" minOccurs="0"/>
									        <xs:element name="PRIORITY" type="xs:decimal" minOccurs="0" nillable="true"/>
											<xs:element name="RESPONSECONNECTOR" type="xs:string" minOccurs="0"/>
											<xs:element name="RESPONSETIME" type="xs:long" minOccurs="0"/>
											<xs:element name="RESPONSEDATA" type="xs:string" minOccurs="0"/>
											<xs:element name="RESPONSEERROR" type="xs:string" minOccurs="0"/>
											<xs:element name="REQUESTURI" type="xs:string" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>