Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:tailored.icbanking.businessentities.servicepayments" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:tailored.icbanking.businessentities.servicepayments">
  <xs:import schemaLocation="SaraService_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22.xsd" namespace="urn:tailored.icbanking.businessentities.framework.tagging"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14.xsd" namespace="urn:infocorp.servicepayments.businessentities.servicepayments"/>
  <xs:complexType name="ServicePaymentEntityExtended">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:ServicePaymentEntity" xmlns:q1="urn:infocorp.servicepayments.businessentities.servicepayments">
        <xs:sequence>
          <xs:element minOccurs="0" name="ServiceCurrenciesAllowedForManualPayment" nillable="true" type="q2:ArrayOfstring" xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
          <xs:element minOccurs="0" name="Tags" nillable="true" type="q3:ArrayOfTagExtended" xmlns:q3="urn:tailored.icbanking.businessentities.framework.tagging"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServicePaymentEntityExtended" nillable="true" type="tns:ServicePaymentEntityExtended"/>
  <xs:complexType name="ArrayOfServicePaymentEntityExtended">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicePaymentEntityExtended" nillable="true" type="tns:ServicePaymentEntityExtended"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicePaymentEntityExtended" nillable="true" type="tns:ArrayOfServicePaymentEntityExtended"/>
</xs:schema>