Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:infocorp.administration.businessentities.users" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:infocorp.administration.businessentities.users">
  <xs:import schemaLocation="SaraService_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16.xsd" namespace="urn:infocorp.framework.businessentities.authentication"/>
  <xs:import schemaLocation="SaraService_1_2.xsd" namespace="urn:infocorp.framework.businessentities.common"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6.xsd" namespace="urn:infocorp.framework.businessentities.security"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17.xsd" namespace="urn:infocorp.administration.businessentities.sites"/>
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:BaseBusinessEntity" xmlns:q1="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdvertisingGroups" nillable="true" type="q2:ArrayOfint" xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
          <xs:element minOccurs="0" name="AuthorizedIpAddresses" nillable="true" type="q3:ArrayOfAuthorizedIpAddress" xmlns:q3="urn:infocorp.framework.businessentities.authentication"/>
          <xs:element minOccurs="0" name="CanSaveDocuments" nillable="true" type="xs:boolean"/>
          <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="DocumentTypeId" type="xs:int"/>
          <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q4:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
          <xs:element minOccurs="0" name="Language" nillable="true" type="q1:Language"/>
          <xs:element minOccurs="0" name="LastAttemptQuestions" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="LastLoginDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="LastPasswordChange" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="LastSessionData" nillable="true" type="q5:UserLastSession" xmlns:q5="urn:infocorp.framework.businessentities.authentication"/>
          <xs:element minOccurs="0" name="LoginDevice" nillable="true" type="q6:SecurityDevice" xmlns:q6="urn:infocorp.framework.businessentities.security"/>
          <xs:element minOccurs="0" name="LoginPasswordAttempts" type="xs:int"/>
          <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="NonTransactionDevices" nillable="true" type="q7:ArrayOfSecurityDevice" xmlns:q7="urn:infocorp.framework.businessentities.security"/>
          <xs:element minOccurs="0" name="QuestionAttempts" type="xs:short"/>
          <xs:element minOccurs="0" name="ResetPasswordDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="SecretQuestion" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Site" nillable="true" type="q8:Site" xmlns:q8="urn:infocorp.administration.businessentities.sites"/>
          <xs:element minOccurs="0" name="TimeZone" nillable="true" type="q1:TimeZone"/>
          <xs:element minOccurs="0" name="TransactionDevices" nillable="true" type="q9:ArrayOfSecurityDevice" xmlns:q9="urn:infocorp.framework.businessentities.security"/>
          <xs:element minOccurs="0" name="UserId" type="xs:int"/>
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="UserStatus" nillable="true" type="tns:UserStatus"/>
          <xs:element minOccurs="0" name="UserType" nillable="true" type="tns:UserType"/>
          <xs:element minOccurs="0" name="ViewMode" nillable="true" type="q1:ViewMode"/>
          <xs:element minOccurs="0" name="WorkPhone" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User"/>
  <xs:complexType name="UserStatus">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q10:ExtensibleEnum" xmlns:q10="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="Undefined" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">0</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Active" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Deleted" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">2</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BlockedByAdministrator" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">3</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BlockedByPassword" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">4</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BlockedBySecretQuestion" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">5</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BlockedBySecurityQuestion" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">6</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BlockedByPin" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">7</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BlockedByBackOffice" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">8</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Pending" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">9</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Rejected" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">10</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BlockedBySmsToken" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">11</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BlockedByOtpCode" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">12</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BlockedByCardCode" nillable="true" type="tns:UserStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">13</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserStatus" nillable="true" type="tns:UserStatus"/>
  <xs:complexType name="UserType">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q11:ExtensibleEnum" xmlns:q11="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="Undefined" nillable="true" type="tns:UserType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">0</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Basic" nillable="true" type="tns:UserType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Administrator" nillable="true" type="tns:UserType">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">2</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserType" nillable="true" type="tns:UserType"/>
</xs:schema>