Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:infocorp.administration.businessentities.clients" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:infocorp.administration.businessentities.clients">
  <xs:import schemaLocation="SaraService_1_2.xsd" namespace="urn:infocorp.framework.businessentities.common"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient"/>
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int"/>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="q1:DocumentType" xmlns:q1="urn:infocorp.framework.businessentities.common"/>
      <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ClientBankIdentifier" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q2:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element minOccurs="0" name="SiteId" type="xs:int"/>
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:ClientStatus"/>
      <xs:element minOccurs="0" name="Subsidiaries" nillable="true" type="tns:ArrayOfClientSubsidiary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client"/>
  <xs:complexType name="ClientStatus">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q3:ExtensibleEnum" xmlns:q3="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="Undefined" nillable="true" type="tns:ClientStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">0</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Active" nillable="true" type="tns:ClientStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Deleted" nillable="true" type="tns:ClientStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">2</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Pending" nillable="true" type="tns:ClientStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">3</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Rejected" nillable="true" type="tns:ClientStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">4</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Valid" nillable="true" type="tns:ClientStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">5</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Invalid" nillable="true" type="tns:ClientStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">6</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="AlreadyAssigned" nillable="true" type="tns:ClientStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">7</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientStatus" nillable="true" type="tns:ClientStatus"/>
  <xs:complexType name="ArrayOfClientSubsidiary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientSubsidiary" nillable="true" type="tns:ClientSubsidiary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientSubsidiary" nillable="true" type="tns:ArrayOfClientSubsidiary"/>
  <xs:complexType name="ClientSubsidiary">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientBankIdentifier" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:ClientSubsidiaryStatus"/>
      <xs:element minOccurs="0" name="SubsidiaryId" type="xs:int"/>
      <xs:element minOccurs="0" name="SubsidiaryName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="BackendId" type="xs:int"/>
      <xs:element minOccurs="0" name="BackendName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ClientId" type="xs:int"/>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q4:ArrayOfKeyValueOfstringExtendedPropertyValueEPwN05B4" xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientSubsidiary" nillable="true" type="tns:ClientSubsidiary"/>
  <xs:complexType name="ClientSubsidiaryStatus">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q5:ExtensibleEnum" xmlns:q5="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="Undefined" nillable="true" type="tns:ClientSubsidiaryStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">0</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Active" nillable="true" type="tns:ClientSubsidiaryStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">1</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Deleted" nillable="true" type="tns:ClientSubsidiaryStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">2</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Pending" nillable="true" type="tns:ClientSubsidiaryStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">3</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Rejected" nillable="true" type="tns:ClientSubsidiaryStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">4</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Valid" nillable="true" type="tns:ClientSubsidiaryStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">5</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Invalid" nillable="true" type="tns:ClientSubsidiaryStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">6</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="AlreadyAssigned" nillable="true" type="tns:ClientSubsidiaryStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">7</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Inactive" nillable="true" type="tns:ClientSubsidiaryStatus">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">8</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientSubsidiaryStatus" nillable="true" type="tns:ClientSubsidiaryStatus"/>
</xs:schema>