Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:Infocorp.framework.services.common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:Infocorp.framework.services.common">
  <xs:import schemaLocation="SaraService_1_2.xsd" namespace="urn:infocorp.framework.businessentities.common"/>
  <xs:import schemaLocation="SaraService_1_2_3_4_5_6_7_8_9_10_11.xsd" namespace="urn:infocorp.framework.businessentities.logging"/>
  <xs:element name="ApprovalContext" nillable="true" type="q1:ApprovalContextOut" xmlns:q1="urn:infocorp.framework.businessentities.common"/>
  <xs:element name="AuditLogContext" nillable="true" type="q2:AuditLogContext" xmlns:q2="urn:infocorp.framework.businessentities.logging"/>
  <xs:element name="ExtendedOperationData" nillable="true" type="q3:ExtendedData" xmlns:q3="urn:infocorp.framework.businessentities.common"/>
</xs:schema>