Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ICB/SaraService/xsd/SaraService_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="urn:tailored.icbanking.businessentities.framework.common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:tailored.icbanking.businessentities.framework.common">
  <xs:import schemaLocation="SaraService_1_2.xsd" namespace="urn:infocorp.framework.businessentities.common"/>
  <xs:complexType name="ProductTypeExtended">
    <xs:annotation>
      <xs:appinfo>
        <Surrogate i:type="d1p1:string" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">ClassMembersGeneratorSurrogate_TypeModified</Surrogate>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q1:ProductType" xmlns:q1="urn:infocorp.framework.businessentities.common">
        <xs:sequence>
          <xs:element minOccurs="0" name="PensionFund" nillable="true" type="tns:ProductTypeExtended">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">100</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="OtherLoan" nillable="true" type="tns:ProductTypeExtended">
            <xs:annotation>
              <xs:appinfo>
                <Surrogate i:type="d1p1:int" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:d1p1="http://www.w3.org/2001/XMLSchema" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">102</Surrogate>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductTypeExtended" nillable="true" type="tns:ProductTypeExtended"/>
</xs:schema>