Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/INTFC/insertarMovimientosCuenta/xsd/insertarMovimientosCuenta_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/insertarMovimientosCuenta" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/insertarMovimientosCuenta" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_TICKETOSB" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGOUSUARIO" type="db:TVARCHAR20" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SECUENCIAMOVIMIENTO" type="db:TVARCHAR40" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_FECHA" type="db:TVARCHAR20" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NUMEROCUENTA" type="db:TNUMBER" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGOTIPOTRANSACCION" type="db:TNUMBER" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NUMERODOCUMENTO" type="db:TVARCHAR40" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_AGENCIAORIGEN" type="db:TNUMBER" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NOMBREAGENCIA" type="db:TVARCHAR50" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGOAUTORIZADOR" type="db:TVARCHAR20" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_NUMEROAUTORIZACION" type="db:TNUMBER" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_FECHAVALIDA" type="db:TVARCHAR20" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONTO" type="db:T_MONTO" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DESCRIPCION" type="db:TVARCHAR2000" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DESCRIPCIONCLIENTE" type="db:TVARCHAR300" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TIPOCOMISION" type="db:TVARCHAR100" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SECUENCIAMOVIMIENTOTFS" type="db:TVARCHAR40" db:index="17" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_MONTOCOMISION" type="db:T_MONTO" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGOERROR" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJEERROR" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TVARCHAR100">
      <sequence>
         <element name="ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_MONTO">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TNUMBER">
      <sequence>
         <element name="ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR20">
      <sequence>
         <element name="ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR40">
      <sequence>
         <element name="ITEM" type="db:string40" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR300">
      <sequence>
         <element name="ITEM" type="db:string300" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR2000">
      <sequence>
         <element name="ITEM" type="db:string2000" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TVARCHAR50">
      <sequence>
         <element name="ITEM" type="db:string50" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string2000">
      <restriction base="string">
         <maxLength value="2000"/>
      </restriction>
   </simpleType>
   <simpleType name="string300">
      <restriction base="string">
         <maxLength value="300"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>
