Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/Resources/ActualizacionClienteTarjetaCredito/wsdl/actualizacionClienteTarjetaCreditoPS.wsdl

<wsdl:definitions name="actualizacionClienteTarjetaCreditoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizacionClienteTarjetaCreditoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/actualizacionClienteTarjetaCreditoPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cct="http://www.ficohsa.com.hn/middleware.services/actualizacionClienteTarjetaCreditoTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../../../v2/Resources/esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/actualizacionClienteTarjetaCreditoTypes" schemaLocation="../xsd/actualizacionClienteTarjetaCreditoTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="actualizacionClienteTarjetaCreditoRequest">
		<wsdl:part element="cct:actualizacionClienteTarjetaCredito" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="actualizacionClienteTarjetaCreditoResponse">
		<wsdl:part element="cct:actualizacionClienteTarjetaCreditoResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="actualizacionClienteTarjetaCreditoPS">
		<wsdl:operation name="actualizacionClienteTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="tns:actualizacionClienteTarjetaCreditoRequest"/>
			<wsdl:output message="tns:actualizacionClienteTarjetaCreditoResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="actualizacionClienteTarjetaCreditoPSSOAP" type="tns:actualizacionClienteTarjetaCreditoPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="actualizacionClienteTarjetaCredito">
			<soap:operation soapAction="http://www.example.org/actualizacionClienteTarjetaCreditoPS/actualizacionClienteTarjetaCredito"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="tns:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="actualizacionClienteTarjetaCreditoPS">
		<wsdl:port binding="tns:actualizacionClienteTarjetaCreditoPSSOAP" name="actualizacionClienteTarjetaCreditoPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/ActualizacionClienteTarjetaCredito_v3"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>