Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultasDivisas/ConsultaTasaCambioSubasta/consultaTasaCambioSubastaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaTasaCambioSubastaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaTasaCambioSubastaTypes">

	<xs:complexType name="consultaTasaCambioSubastaResponseType">
		<xs:sequence>
			<xs:element name="MAX_AUCTION_RATE" type="xs:string" minOccurs="0"/>
			<xs:element name="MIN_AUCTION_RATE" type="xs:string" minOccurs="0"/>
			<xs:element name="AVG_AUCTION_RATE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="consultaTasaCambioSubasta" type="cons:consultaTasaCambioSubasta" />
	
	<xs:complexType name="consultaTasaCambioSubasta">
		<xs:sequence/>
	</xs:complexType>
	
	<xs:element name="consultaTasaCambioSubastaResponse" type="cons:consultaTasaCambioSubastaResponseType"/>
	
</xs:schema>