Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/GeneraOTP/xsd/generaOTPTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/generaOTPTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:gotp="http://www.ficohsa.com.hn/middleware.services/generaOTPTypes"
	elementFormDefault="qualified">
	
	<xs:simpleType name="limitedString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"></xs:minLength>			
			<xs:maxLength value="100" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="entityTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PERSON"></xs:enumeration>
			<xs:enumeration value="SYSTEM"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="entityInfoType">
		<xs:sequence>
			<xs:element name="TYPE" type="gotp:entityTypeType"/>
			<xs:element name="ID" type="gotp:limitedString"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Request elements definitions for HOTP -->
	<xs:element name="generaHOTPRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ENTITY_INFO" type="gotp:entityInfoType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	
	<!-- Response elements definitions for HOTP -->	
	<xs:element name="generaHOTPResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OTP_VALUE" type="xs:string" minOccurs="0"/>
				<xs:element name="DATE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>