Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKPA/AplicaCargoCuenta/xsd/AplicaCargoCuenta_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/AplicaCargoCuenta" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/AplicaCargoCuenta" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_NUMERO_CUENTA" type="decimal" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_REFERENCIA_INTERFAZ" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MONTO" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_TIPO_TRANSACCION" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIO_SERVICIO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCION" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PN_NUMERO_CUENTA_TRX" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_MONEDA_TRX" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MONTO_TRX" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_SECUENCIA" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_FECHA_VALIDA_TRX" type="dateTime" db:index="11" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PN_ESTADO" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>