Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/dataCapture/ReversionDataCapture/reversionDataCaptureTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/reversionDataCaptureTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/reversionDataCaptureTypes">
	
	<xs:complexType name="reversionDataCaptureResponseType">
		<xs:sequence>
			<xs:element name="TRANSACTION_DATE"/>
		</xs:sequence> 
	</xs:complexType>
	
		<xs:element name="reversionDataCapture">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="DATA_CAPTURE_ID" type="xs:string"/>         
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="reversionDataCaptureResponse" type="cons:reversionDataCaptureResponseType"/>
	
</xs:schema>