Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/encripterData/wsdl/encripterData.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ficohsa.com.hn/schema/encripterDataTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/schema/encripterDataTypes" targetNamespace="http://www.ficohsa.com.hn/schema/encripterDataTypes">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ficohsa.com.hn/schema/encripterDataTypes" version="1.0">
            <xs:element name="encripterDataRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="request" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="encripterDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="status" type="xs:string"/>
                        <xs:element minOccurs="0" name="message" type="xs:string"/>
                        <xs:element minOccurs="0" name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="encripterDataRequest">
        <wsdl:part element="tns:encripterDataRequest" name="encripterDataRequest"/>
    </wsdl:message>
    <wsdl:message name="encripterDataResponse">
        <wsdl:part element="tns:encripterDataResponse" name="encripterDataResponse"/>
    </wsdl:message>
    <wsdl:portType name="encripterDataEndpoint">
        <wsdl:operation name="encripterData">
            <wsdl:input message="tns:encripterDataRequest" name="encripterDataRequest"/>
            <wsdl:output message="tns:encripterDataResponse" name="encripterDataResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="encripterDataEndpointSoap11" type="tns:encripterDataEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="encripterData">
            <soap:operation soapAction=""/>
            <wsdl:input name="encripterDataRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="encripterDataResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="encripterDataEndpointService">
        <wsdl:port binding="tns:encripterDataEndpointSoap11" name="encripterDataEndpointSoap11">
            <soap:address location="http://mwomnicanal:7030/encripter-data-ws/services/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>