Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Remittances/RequestorServices/XSD/getDetailsRemittanceTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/getDetailsRemittanceTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:acv="http://www.ficohsa.com.hn/middleware.services/getDetailsRemittanceTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="getDetailsRemittanceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="SearchCriteria" minOccurs="1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="All"/>
              <xsd:enumeration value="Unique"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ContractId" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getDetailsRemittanceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
        <xsd:element name="RemittanceInfo" minOccurs="1" type="acv:RemittanceInfoArray"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RemittanceInfoArray">
    <xsd:sequence>
      <xsd:element name="RemittanceName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RemittanceAbbreviation" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ContractId" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RemittanceType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RemittanceId" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="RemittanceStatus" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>