Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Remittances/RequestorServices/XSD/getRemittances.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:gtt="http://www.ficohsa.com.hn/middleware.services/getRemittancesTypes"
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/getRemittancesTypes"
            xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" elementFormDefault="qualified">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd"
              namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="getRemittancesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="RemittanceId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="RemitterFirstname" type="xsd:string" minOccurs="0"/>
        <xsd:element name="RemitterMiddlename" type="xsd:string" minOccurs="0"/>
        <xsd:element name="RemitterFirstsurname" type="xsd:string" minOccurs="0"/>
        <xsd:element name="RemitterSecondsurname" type="xsd:string" minOccurs="0"/>
        <xsd:element name="BeneficiaryFirstname" type="xsd:string" minOccurs="0"/>
        <xsd:element name="BeneficiaryMiddlename" type="xsd:string" minOccurs="0"/>
        <xsd:element name="BeneficiaryFirstsurname" type="xsd:string" minOccurs="0"/>
        <xsd:element name="BeneficiarySecondsurname" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CorresponsalBranchcode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="AdditionalInfo" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Info" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="getRemittancesResponseArrayTypes">
    <xsd:sequence>
      <xsd:element name="RemittanceId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RemitterId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RemitterName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="BeneficiaryName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="BranchName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PaymentDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ExchangeRate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RemittanceStatus" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RemittanceAmount" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RemittanceSourceAmount" type="xsd:string" minOccurs="0"/>
      <xsd:element name="OriginCountry" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getRemittancesResponse" type="gtt:getRemittancesResponseTypes"/>
  <xsd:complexType name="getRemittancesResponseTypes">
    <xsd:sequence>
      <xsd:element name="getRemittancesResponseType" type="gtt:getRemittancesResponseRecordTypes" form="qualified"
                   minOccurs="0"/>
      <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
      <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getRemittancesResponseRecordTypes">
    <xsd:sequence>
      <xsd:element name="getRemittancesResponseRecordTypes" type="gtt:getRemittancesResponseArrayTypes" form="qualified"
                   minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
