Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Remittances/RequestorServices/XSD/payRemittancesTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/payRemittancesTypes" elementFormDefault="qualified"
            xmlns:dct="http://www.ficohsa.com.hn/middleware.services/payRemittancesTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:cic="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CustomerInfoCommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes"/>

	<xsd:complexType name="pagoRemesasResponseType">
		<xsd:sequence>
   <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
   <xsd:element name="REMITTANCE_INFO">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="COMPANY_NAME" type="xsd:string" minOccurs="0" />
						<xsd:element name="ID" type="xsd:string" minOccurs="0" />
						<xsd:element name="AMOUNT" type="xsd:string" minOccurs="0" />
						<xsd:element name="CURRENCY" type="xsd:string" minOccurs="0" />
						<xsd:element name="VALUE_DATE" type="xsd:string" minOccurs="0" />
						<xsd:element name="ORD_PARTY_NAME" type="xsd:string" minOccurs="0" />
						<xsd:element name="PRICE" type="xsd:string" minOccurs="0" />
						<xsd:element name="COUNTRY_OF_ORIGIN" type="xsd:string" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>			
            <xsd:element name="BENEFICIARY_INFO">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ID" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ADDRESS" type="xsd:string" minOccurs="0"/>
						<xsd:element name="COUNTRY" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CITY" type="xsd:string" minOccurs="0"/>
						<xsd:element name="PHONE_NUMBER" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="INPUTTER" type="xsd:string" minOccurs="0" />
			<xsd:element name="DATE_TIME" type="xsd:string" minOccurs="0" />
			<xsd:element name="EXCHANGE_RATE" type="xsd:string" minOccurs="0" />
   <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
  </xsd:sequence>
	</xsd:complexType>
	
	<!--###TYPE: remittanceBeneficiaryType###-->
	<xsd:simpleType name = "remittanceBeneficiaryType">
		<xsd:restriction base="xsd:string">
		<xsd:enumeration value="YES"/>
		<xsd:enumeration value="NO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="pagoRemesas">
		<xsd:complexType>
			<xsd:sequence>
    <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
    <xsd:element name="REMITTANCE_ID">
	            	<xsd:simpleType>
	            		<xsd:restriction base="xsd:string">
	            			<xsd:minLength value="1"/>
	            		</xsd:restriction>
	            	</xsd:simpleType>
	            </xsd:element>
    <xsd:element name="REMITTER_ID">
	            		<xsd:simpleType>
	            		<xsd:restriction base="xsd:string">
	            			<xsd:minLength value="1"/>
	            		</xsd:restriction>
	            	</xsd:simpleType>
	            </xsd:element>
	            <xsd:element name="BENEFICIARY_INFO">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ID" type="xsd:string"/>
	            			<xsd:element name="ID_ISSUE_DATE" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ID_TYPE" type="xsd:string" minOccurs="0" />
							<xsd:element name="ADDRESS_TYPE" type="xsd:string" minOccurs="0" />
							<xsd:element name="CITY" type="xsd:string" minOccurs="0"/>
							<xsd:element name="STATE" type="xsd:string" minOccurs="0"/>
							<xsd:element name="COUNTRY" type="xsd:string" minOccurs="0"/>
							<xsd:element name="NEIGHBORHOOD" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PHONE_TYPE" type="xsd:string" minOccurs="0"/>
							<xsd:element name="PHONE_NUMBER" type="xsd:string" minOccurs="0"/>	            			
							<xsd:element name="OCCUPATION" type="xsd:string" minOccurs="0" />								
							<xsd:element name="INCOME_SOURCE" type="xsd:string" minOccurs="0" />
							<xsd:element name="DATE_OF_BIRTH" type="xsd:string" minOccurs="0" />
							<xsd:element name="ADDRESS" type="xsd:string" minOccurs="0"/>
							<xsd:element name="REMITTANCE_BENEFICIARY" type="xsd:string" minOccurs="0"/>							  
	            			<xsd:element name="THIRDPARTY_INFO" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ID" type="xsd:string"/>
										<xsd:element name="NAME" type="xsd:string"/>
										<xsd:element name="RELATIONSHIP" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="GENDER" type="xsd:string" minOccurs="0"/>								
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CREDIT_ACCOUNT" type="xsd:string" minOccurs="0" />
				<xsd:element name="BRANCHCODE" type="xsd:string" minOccurs="1" />				
				<xsd:element name="TELLERID" type="xsd:string" minOccurs="1" />
	            <xsd:element name="REFERENCE_NUMBER" type="xsd:string"/>
	            <xsd:element name="ADDITIONAL_INFO" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="INFO" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="NAME" type="xsd:string" minOccurs="0" />
										<xsd:element name="VALUE" type="xsd:string" minOccurs="0" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
   </xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="pagoRemesasResponse" type="dct:pagoRemesasResponseType"/>
<xsd:complexType name="catalogListType">
    <xsd:sequence>
        <xsd:element name="CatalogItem" type="dct:catalogType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
            
<xsd:complexType name="catalogType">
    <xsd:sequence>
        <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
</xsd:complexType>
</xsd:schema>