Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Remittances/RequestorServices/XSD/remittancesTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/remittancesTypes" elementFormDefault="qualified" xmlns:dct="http://www.ficohsa.com.hn/middleware.services/remittancesTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" xmlns:cic="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CustomerInfoCommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/customerInfoCommonTypes"/>
  <xsd:element name="getCatalogRemittancesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="RemitterId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Filters">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Filter" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getCatalogRemittancesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element ref="dct:CatalogsList" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CatalogsList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="dct:CatalogItem" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CatalogItem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>