Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Remittances/RequestorServices/XSD/sjGetMultipleRemittancesTypes.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:gtt="http://www.ficohsa.com.hn/middleware.services/sjGgetMultipleRemittancesTypes"
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/sjGgetMultipleRemittancesTypes"
            xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes" elementFormDefault="qualified">
  <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd"
              namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="sjGetMultipleRemittancesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType" minOccurs="0"/>
        <xsd:element name="Username" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="RemittanceId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="CorresponsalBranchcode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="BeneficiaryFirstname" type="xsd:string" minOccurs="0"/>
        <xsd:element name="BeneficiaryMiddlename" type="xsd:string" minOccurs="0"/>
        <xsd:element name="BeneficiaryFirstsurname" type="xsd:string" minOccurs="0"/>
        <xsd:element name="BeneficiarySecondsurname" type="xsd:string" minOccurs="0"/>
        <xsd:element name="TypesRemittance" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TypesRemittanceItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="NameRemittance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TypeRemittance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AgreementId" type="xsd:decimal" minOccurs="0"/>
                    <xsd:element name="AgreementIdT24" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AbbreviationRemittance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Priority" type="xsd:decimal" minOccurs="0" nillable="true"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="AdditionalInfo" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Info" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Value" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Uuid" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="sjGetMultipleRemittancesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
        <xsd:element name="SuccessIndicator" type="xsd:string" minOccurs="0"/>
        <xsd:element name="ErrorMessage" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Remittance" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="RouterResponse" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="NameRemittance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TypeRemittance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AgreementId" type="xsd:decimal" minOccurs="0"/>
                    <xsd:element name="AgreementIdT24" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AbbreviationRemittance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Priority" type="xsd:decimal" minOccurs="0" nillable="true"/>
                    <xsd:element name="ResponseConnector" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ResponseTime" type="xsd:long" minOccurs="0"/>
                    <xsd:element name="ResponseData" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ResponseError" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RequestUri" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
