Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/MoneyTransferOperations/wsdl/MoneyTransferOperations.wsdl

<wsdl:definitions name="moneyTransferOperationsPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/moneyTransferOperationsPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/moneyTransferOperationsPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:mon="http://www.ficohsa.com.hn/middleware.services/moneyTransferOperationsTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../General/xsd/Header.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/moneyTransferOperationsTypes" schemaLocation="../xsd/MoneyTransferOperationsTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="inwardRemitQueryRequest">
		<wsdl:part element="mon:inwardRemitQuery" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="inwardRemitQueryResponse">
		<wsdl:part element="mon:inwardRemitQueryResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="inwardRemitPaymentRequest">
		<wsdl:part element="mon:inwardRemitPayment" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="inwardRemitPaymentResponse">
		<wsdl:part element="mon:inwardRemitPaymentResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="outwardRemitPaymentRequest">
		<wsdl:part element="mon:outwardRemitPayment" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="outwardRemitPaymentResponse">
		<wsdl:part element="mon:outwardRemitPaymentResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="createCustomerProfileRequest">
		<wsdl:part element="mon:createCustomerProfile" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="createCustomerProfileResponse">
		<wsdl:part element="mon:createCustomerProfileResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="localTransferQueryRequest">
		<wsdl:part element="mon:localTransferQuery" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="localTransferQueryResponse">
		<wsdl:part element="mon:localTransferQueryResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="localTransferPaymentRequest">
		<wsdl:part element="mon:localTransferPayment" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="localTransferPaymentResponse">
		<wsdl:part element="mon:localTransferPaymentResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="localTransferSaleRequest">
		<wsdl:part element="mon:localTransferSale" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="localTransferSaleResponse">
		<wsdl:part element="mon:localTransferSaleResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="ReversalRemitPaymentRequest">
		<wsdl:part element="mon:reversalRemitPayment" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="ReversalRemitPaymentResponse">
		<wsdl:part element="mon:reversalRemitPaymentResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:portType name="moneyTransferOperationsPS">
		<wsdl:operation name="inwardRemitQuery" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:inwardRemitQueryRequest"/>
			<wsdl:output message="fic:inwardRemitQueryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="inwardRemitPayment" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:inwardRemitPaymentRequest"/>
			<wsdl:output message="fic:inwardRemitPaymentResponse"/>
		</wsdl:operation>
		<wsdl:operation name="outwardRemitPayment" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:outwardRemitPaymentRequest"/>
			<wsdl:output message="fic:outwardRemitPaymentResponse"/>
		</wsdl:operation>
		<wsdl:operation name="createCustomerProfile" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:createCustomerProfileRequest"/>
			<wsdl:output message="fic:createCustomerProfileResponse"/>
		</wsdl:operation>
		<wsdl:operation name="localTransferQuery" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:localTransferQueryRequest"/>
			<wsdl:output message="fic:localTransferQueryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="localTransferPayment" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:localTransferPaymentRequest"/>
			<wsdl:output message="fic:localTransferPaymentResponse"/>
		</wsdl:operation>
		<wsdl:operation name="localTransferSale" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:localTransferSaleRequest"/>
			<wsdl:output message="fic:localTransferSaleResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ReversalRemitPayment" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:ReversalRemitPaymentRequest" />
			<wsdl:output message="fic:ReversalRemitPaymentResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="moneyTransferOperationsPSSOAP" type="fic:moneyTransferOperationsPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="inwardRemitQuery">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/moneyTransferOperationsPS/inwardRemitQuery"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:inwardRemitQueryRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:inwardRemitQueryResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="inwardRemitPayment">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/moneyTransferOperationsPS/inwardRemitPayment"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:inwardRemitPaymentRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:inwardRemitPaymentResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="outwardRemitPayment">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/moneyTransferOperationsPS/outwardRemitPayment"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:outwardRemitPaymentRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:outwardRemitPaymentResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="createCustomerProfile">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/moneyTransferOperationsPS/createCustomerProfile"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:createCustomerProfileRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:createCustomerProfileResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="localTransferQuery">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/moneyTransferOperationsPS/localTransferQuery"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:localTransferQueryRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:localTransferQueryResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="localTransferPayment">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/moneyTransferOperationsPS/localTransferPayment"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:localTransferPaymentRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:localTransferPaymentResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="localTransferSale">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/moneyTransferOperationsPS/localTransferSale"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:localTransferSaleRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:localTransferSaleResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReversalRemitPayment">
			<soap:operation
				soapAction="http://www.example.org/ReversalRemitPaymentPS/ReversalRemitPayment" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:ReversalRemitPaymentRequest" part="RequestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:ReversalRemitPaymentResponse" part="ResponseHeader" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="moneyTransferOperationsPS">
		<wsdl:port binding="fic:moneyTransferOperationsPSSOAP" name="moneyTransferOperationsPSSOAP">
			<soap:address location="http://mwteller:8004/mwteller/moneyTransfer/moneyTransferOperations"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>