Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/GestionesCarteraCrediticia/xsd/gestionesCarteraCrediticiaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:alt="http://www.ficohsa.com.hn/middleware.services/GestionesCarteraCrediticia" targetNamespace="http://www.ficohsa.com.hn/middleware.services/GestionesCarteraCrediticia" version="1.0">
	<!--#################################################################-->
	<!-- TIPOS GENERALES -->
	<!-- stringMaxLength3Type -->
	<xs:simpleType name="stringMinMaxLength3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- cardRequestType -->
	<xs:complexType name="promiseToPayType">
		<xs:sequence>
			<xs:element name="PAYMENT_DETAILS" type="alt:paymentDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="paymentDetailsType">
		<xs:sequence>
			<xs:element name="PAYMENT_DETAIL" type="alt:paymentDetailType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="paymentDetailType">
		<xs:sequence>
			<xs:element name="AMOUNT" type="xs:decimal"/>
			<xs:element name="CURRENCY" type="xs:string"/>
			<xs:element name="PROMISE_DATE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="optionsToPayType">
		<xs:sequence>
			<xs:element name="DISCOUNTS" type="alt:discountsType" minOccurs="0"/>
			<xs:element name="LIQUIDATIONS" type="alt:liquidationsType" minOccurs="0"/>
			<xs:element name="REFINANCING" type="alt:refinancingType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="discountsType">
		<xs:sequence>
			<xs:element name="DISCOUNT" type="alt:discountType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="discountType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="alt:stringMinMaxLength3"/>
			<xs:element name="PERCENT" type="xs:decimal"/>
			<xs:element name="AMOUNT" type="xs:decimal"/>
			<xs:element name="MAX_PAYMENT_DATE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="liquidationsType">
		<xs:sequence>
			<xs:element name="LIQUIDATION" type="alt:liquidationType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="liquidationType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="alt:stringMinMaxLength3"/>
			<xs:element name="PERCENT" type="xs:decimal"/>
			<xs:element name="AMOUNT" type="xs:decimal"/>
			<xs:element name="MAX_PAYMENT_DATE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- cardRequestType -->
	<xs:complexType name="refinancingType">
		<xs:sequence>
			<xs:element name="RATE" type="xs:decimal"/>
			<xs:element name="PERIOD" type="xs:decimal"/>
			<xs:element name="INSTALLMENT" type="xs:decimal"/>
			<xs:element name="MAX_PAYMENT_DATE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!--#################################################################-->
	<!--OPERACION: INGRESA ACUERDO PAGO-->
	<xs:element name="ingresaAcuerdoPagoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRODUCT_ID" type="xs:string"/>
				<xs:element name="CUSTOMER_ID" type="xs:string"/>
				<xs:element name="PHONE_NUMBER" type="xs:string"/>
				<xs:element name="DESCRIPTION" type="xs:string"/>
				<xs:element name="ACTION_CODE" type="xs:decimal"/>
				<xs:element name="RESULT_CODE" type="xs:decimal"/>
				<xs:element name="PROMISE_TO_PAY" type="alt:promiseToPayType" minOccurs="0"/>
				<xs:element name="OPTIONS_TO_PAY" type="alt:optionsToPayType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ingresaAcuerdoPagoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dummy" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>