Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaChequesCompensacion/xsd/consultaChequesCompensacionTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaChequesCompensacionTypes"
	xmlns:ccc="http://www.ficohsa.com.hn/middleware.services/consultaChequesCompensacionTypes">
	<xs:element name="consultaChequeDetalle" type="ccc:request" />
	<xs:element name="consultaChequeDetalleResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CHECKS" type="ccc:checks" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="consultaChequeTotal" type="ccc:request" />
	<xs:element name="consultaChequeTotalResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TOTAL_DOCUMENTS" type="xs:decimal"
					minOccurs="0" />
				<xs:element name="TOTAL_AMOUNT" type="xs:decimal"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="request">
		<xs:sequence>
			<xs:element name="BRANCH" type="xs:decimal" />
			<xs:element name="JOURNAL" type="xs:decimal" />
			<xs:element name="TELLER" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="ccc:stringMinLength1" />
			<xs:element name="DATE" type="ccc:stringMinLength1" />
			<xs:element name="TYPE" type="ccc:stringMinLength1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="checks">
		<xs:sequence>
			<xs:element name="CHECK" type="ccc:check" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="check">
		<xs:sequence>
			<xs:element name="BRANCH" type="xs:decimal" />
			<xs:element name="JOURNAL" type="xs:decimal" />
			<xs:element name="TYPE" type="xs:decimal" />
			<xs:element name="CURRENCY" type="xs:string" />
			<xs:element name="DATE" type="xs:string" />
			<xs:element name="BANK_CODE" type="xs:decimal" />
			<xs:element name="ACCOUNT" type="xs:string" />
			<xs:element name="CHECK_NUMBER" type="xs:decimal" />
			<xs:element name="AMOUNT" type="xs:decimal" />
			<xs:element name="UNIQUE_ID" type="xs:string" />
			<xs:element name="TELLER" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!-- OPERACION CONSULTA DOCUMENTO -->
	<!-- REQUEST -->
	<xs:element name="consultaDocumento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BRANCH" type="xs:decimal" />
				<xs:element name="JOURNAL" type="xs:decimal" />
				<xs:element name="TELLER" type="xs:string" minOccurs="0" />
				<xs:element name="CURRENCY" type="xs:string" />
				<xs:element name="DATE" type="xs:date" />
				<xs:element name="TYPE" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- RESPONSE -->
	<xs:element name="consultaDocumentoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DOCUMENTS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DOCUMENT" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BRANCH" type="xs:decimal" minOccurs="0" />
										<xs:element name="JOURNAL" type="xs:decimal" minOccurs="0" />
										<xs:element name="TELLER" type="xs:string" minOccurs="0" />
										<xs:element name="TYPE" type="xs:string" minOccurs="0" />
										<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
										<xs:element name="DATE" type="xs:date" minOccurs="0" />
										<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0" />
										<xs:element name="ACCOUNT" type="xs:string" minOccurs="0" />
										<xs:element name="CHECK_NUMBER" type="xs:decimal" minOccurs="0" />
										<xs:element name="AMOUNT" type="xs:decimal" minOccurs="0" />
										<xs:element name="SERVICE_TYPE" type="xs:string" minOccurs="0" />
										<xs:element name="TXN_ID" type="xs:decimal" minOccurs="0" />
										<xs:element name="TRANSACTION_CODE" type="xs:decimal" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>