Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CambioFactorSeguridadAcet/xsd/XMLSchema_35089099.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/cambioFactorSeguridadTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cam="http://www.ficohsa.com.hn/middleware.services/cambioFactorSeguridadTypes">

	<xs:element name="cambioFactorSeguridad">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USER_NAME" type="xs:string"/>
				<xs:element name="SECURITY_FACTOR">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="PIN"/>
							<xs:enumeration value="TOKEN"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cambioFactorSeguridadResponse"/>	
</xs:schema>