Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/OperacionesCriptograficasCB/wsdl/operacionesCriptograficas.wsdl

<wsdl:definitions name="operacionesCriptograficasCB" targetNamespace="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasCBPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasCBPS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:crip="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasCBTypes" xmlns:aut="http://www.ficohsa.com.hn/middleware.services/autType">
	
  <wsdl:types>
    <xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElementsCB.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasCBTypes" schemaLocation="../xsd/operacionesCriptograficasCBTypes.xsd"/>
		</xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="cifrarDatos">
    <wsdl:part element="aut:RequestHeader" name="RequestHeader"/>
    <wsdl:part element="crip:cifrarDatos" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="cifrarDatosResponse">
    <wsdl:part element="aut:ResponseHeader" name="ResponseHeader"/>
    <wsdl:part element="crip:cifrarDatosResponse" name="result"/>
  </wsdl:message>
  
  <wsdl:message name="descifrarDatos">
    <wsdl:part element="aut:RequestHeader" name="RequestHeader"/>
    <wsdl:part element="crip:descifrarDatos" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="descifrarDatosResponse">
    <wsdl:part element="aut:ResponseHeader" name="ResponseHeader"/>
    <wsdl:part element="crip:descifrarDatosResponse" name="result"/>
  </wsdl:message>
  
  <wsdl:message name="generarHash">
    <wsdl:part element="aut:RequestHeader" name="RequestHeader"/>
    <wsdl:part element="crip:generarHash" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="generarHashResponse">
    <wsdl:part element="aut:ResponseHeader" name="ResponseHeader"/>
    <wsdl:part element="crip:generarHashResponse" name="result"/>
  </wsdl:message>
  
  <wsdl:portType name="operacionesCriptograficasCBPS">
    <wsdl:operation name="cifrarDatos" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="tns:cifrarDatos"/>
      <wsdl:output message="tns:cifrarDatosResponse"/>
    </wsdl:operation>
    <wsdl:operation name="descifrarDatos" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="tns:descifrarDatos"/>
      <wsdl:output message="tns:descifrarDatosResponse"/>
    </wsdl:operation>
    <wsdl:operation name="generarHash" parameterOrder="parameters RequestHeader ResponseHeader">
      <wsdl:input message="tns:generarHash"/>
      <wsdl:output message="tns:generarHashResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="operacionesCriptograficasCBPSSOAP" type="tns:operacionesCriptograficasCBPS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cifrarDatos">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasCBPS/cifrarDatos"/>
      <wsdl:input>
        <soap:header use="literal" part="RequestHeader" message="tns:cifrarDatos"/>
		<soap:body use="literal" parts="parameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" part="ResponseHeader" message="tns:cifrarDatosResponse"/>
		<soap:body use="literal" parts="result"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="descifrarDatos">
      <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/operacionesCriptograficasCBPS/descifrarDatos"/>
      <wsdl:input>
        <soap:header use="literal" part="RequestHeader" message="tns:descifrarDatos"/>
		<soap:body use="literal" parts="parameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" part="ResponseHeader" message="tns:descifrarDatosResponse"/>
		<soap:body use="literal" parts="result"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarHash">
      <wsdl:input>
        <soap:header use="literal" part="RequestHeader" message="tns:generarHash"/>
		<soap:body use="literal" parts="parameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" part="ResponseHeader" message="tns:generarHashResponse"/>
		<soap:body use="literal" parts="result"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="operacionesCriptograficasCBPS">
    <wsdl:port binding="tns:operacionesCriptograficasCBPSSOAP" name="operacionesCriptograficasCBPSSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>