Fuentes/ficohsacore-osb12-b78f21b126d5/CustomerRelationshipManagement/RequestorServices/v1.0/OnBase/QueryDocument/WSDLs/QueryDocument_PS.wsdl

<wsdl:definitions name="QueryDocument_PS" targetNamespace="http://xmlns.oracle.com/QueryDocument_PS" xmlns:tns="http://xmlns.oracle.com/QueryDocument_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/consultaClientes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/consultaPasivosCliente" xmlns:inp3="http://www.ficohsa.com.hn/middleware.services/consultaTDCliente" xmlns:inp4="http://www.ficohsa.com.hn/middleware.services/customerTypes">
    <plnk:partnerLinkType name="QueryDocument_PS">
        <plnk:role name="QueryDocument_PSProvider" portType="tns:QueryDocument_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaClientes" schemaLocation="../../../../../../MWBanking/Customers/RequestorServices/XSD/getCustomerAssets.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/QueryDocument_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getCustomerAssets_params">
                <complexType>
                    <sequence>
                        <element name="customerId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="AssetType" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaPasivosCliente" schemaLocation="../../../../../../MWBanking/Customers/RequestorServices/XSD/getCustomerLiabilities.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/QueryDocument_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getCustomerLiabilities_params">
                <complexType>
                    <sequence>
                        <element name="customerid" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="LiabilityType" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaTDCliente" schemaLocation="../../../../../../MWBanking/Customers/RequestorServices/XSD/getCustomerDebitCards.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/QueryDocument_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getDebitCards_params">
                <complexType>
                    <sequence>
                        <element name="customerid" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="CardStatus" type="string"/>
                        <element name="AccountNumber" type="string" minOccurs="0"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/customerTypes" schemaLocation="../../../../../../MWBanking/Customers/RequestorServices/XSD/customersTypes.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/QueryDocument_PS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getCustomerDetails_params">
                <complexType>
                    <sequence>
                        <element name="customerId" type="string"/>
                        <element name="SourceBank" type="string"/>
                        <element name="DestinationBank" type="string"/>
                        <element name="ApplicationId" type="string"/>
                        <element name="QueryType" type="string"/>
                        <element name="SystemType" type="string"/>
                        <element name="Language" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="documentQuery_inputMessage">
        <wsdl:part name="request" element="inp4:documentQueryRequest"/>
    </wsdl:message>
    <wsdl:message name="documentQuery_outputMessage">
        <wsdl:part name="reply" element="inp4:documentQueryResponse"/>
    </wsdl:message>
    <wsdl:portType name="QueryDocument_PS_ptt">
        <wsdl:operation name="documentQuery">
            <wsdl:input message="tns:documentQuery_inputMessage"/>
            <wsdl:output message="tns:documentQuery_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="QueryDocument_PS_ptt-binding" type="tns:QueryDocument_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="documentQuery">
            <soap:operation soapAction="documentQuery"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>