Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/remesas/Resoruces/Remesas.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_-1562362481.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-1855765488.xsd"/>
</xsd:schema>
</types>
<message name="Consultaestadoremesaenbackend">
    <part name="parameters" element="tns:Consultaestadoremesaenbackend"/>
  </message>
  <message name="ConsultaestadoremesaenbackendResponse">
    <part name="parameters" element="tns:ConsultaestadoremesaenbackendResponse"/>
  </message>
  <message name="Consultaderemesa">
    <part name="parameters" element="tns:Consultaderemesa"/>
  </message>
  <message name="ConsultaderemesaResponse">
    <part name="parameters" element="tns:ConsultaderemesaResponse"/>
  </message>
  <message name="Pagoderemesaconcredacuenta">
    <part name="parameters" element="tns:Pagoderemesaconcredacuenta"/>
  </message>
  <message name="PagoderemesaconcredacuentaResponse">
    <part name="parameters" element="tns:PagoderemesaconcredacuentaResponse"/>
  </message>
  <message name="Pagoderemesaconcredacuenta_Validate">
    <part name="parameters" element="tns:Pagoderemesaconcredacuenta_Validate"/>
  </message>
  <message name="Pagoderemesaconcredacuenta_ValidateResponse">
    <part name="parameters" element="tns:Pagoderemesaconcredacuenta_ValidateResponse"/>
  </message>
  <message name="PagoderemesaFT">
    <part name="parameters" element="tns:PagoderemesaFT"/>
  </message>
  <message name="PagoderemesaFTResponse">
    <part name="parameters" element="tns:PagoderemesaFTResponse"/>
  </message>
  <message name="PagoderemesaFT_Validate">
    <part name="parameters" element="tns:PagoderemesaFT_Validate"/>
  </message>
  <message name="PagoderemesaFT_ValidateResponse">
    <part name="parameters" element="tns:PagoderemesaFT_ValidateResponse"/>
  </message>
  <message name="Envioderemesas">
    <part name="parameters" element="tns:Envioderemesas"/>
  </message>
  <message name="EnvioderemesasResponse">
    <part name="parameters" element="tns:EnvioderemesasResponse"/>
  </message>
  <message name="Envioderemesas_Validate">
    <part name="parameters" element="tns:Envioderemesas_Validate"/>
  </message>
  <message name="Envioderemesas_ValidateResponse">
    <part name="parameters" element="tns:Envioderemesas_ValidateResponse"/>
  </message>
  <message name="ReversionPagoRemesaFT">
    <part name="parameters" element="tns:ReversionPagoRemesaFT"/>
  </message>
  <message name="ReversionPagoRemesaFTResponse">
    <part name="parameters" element="tns:ReversionPagoRemesaFTResponse"/>
  </message>
  <message name="callOfs">
    <part name="parameters" element="tns:callOfs"/>
  </message>
  <message name="callOfsResponse">
    <part name="parameters" element="tns:callOfsResponse"/>
  </message>
  <portType name="T24WebServicesImpl">
    <operation name="Consultaestadoremesaenbackend">
      <input message="tns:Consultaestadoremesaenbackend"/>
      <output message="tns:ConsultaestadoremesaenbackendResponse"/>
    </operation>
    <operation name="Consultaderemesa">
      <input message="tns:Consultaderemesa"/>
      <output message="tns:ConsultaderemesaResponse"/>
    </operation>
    <operation name="Pagoderemesaconcredacuenta">
      <input message="tns:Pagoderemesaconcredacuenta"/>
      <output message="tns:PagoderemesaconcredacuentaResponse"/>
    </operation>
    <operation name="Pagoderemesaconcredacuenta_Validate">
      <input message="tns:Pagoderemesaconcredacuenta_Validate"/>
      <output message="tns:Pagoderemesaconcredacuenta_ValidateResponse"/>
    </operation>
    <operation name="PagoderemesaFT">
      <input message="tns:PagoderemesaFT"/>
      <output message="tns:PagoderemesaFTResponse"/>
    </operation>
    <operation name="PagoderemesaFT_Validate">
      <input message="tns:PagoderemesaFT_Validate"/>
      <output message="tns:PagoderemesaFT_ValidateResponse"/>
    </operation>
    <operation name="Envioderemesas">
      <input message="tns:Envioderemesas"/>
      <output message="tns:EnvioderemesasResponse"/>
    </operation>
    <operation name="Envioderemesas_Validate">
      <input message="tns:Envioderemesas_Validate"/>
      <output message="tns:Envioderemesas_ValidateResponse"/>
    </operation>
    <operation name="ReversionPagoRemesaFT">
      <input message="tns:ReversionPagoRemesaFT"/>
      <output message="tns:ReversionPagoRemesaFTResponse"/>
    </operation>
    <operation name="callOfs">
      <input message="tns:callOfs"/>
      <output message="tns:callOfsResponse"/>
    </operation>
  </portType>
  <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Consultaestadoremesaenbackend">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Consultaderemesa">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Pagoderemesaconcredacuenta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Pagoderemesaconcredacuenta_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PagoderemesaFT">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PagoderemesaFT_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Envioderemesas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Envioderemesas_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReversionPagoRemesaFT">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="callOfs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="T24WebServicesImplService">
    <port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
      <soap:address location="http://10:242.104.250:7030/svcRemesas/services"/>
    </port>
  </service>
</definitions>