Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/NotificaCambioInformacionTarjeta/wsdl/notificaCambioInformacionTarjetaPS.wsdl

<wsdl:definitions name="notificaCambioInformacionTarjetaPS" targetNamespace="http://www.example.org/notificaCambioInformacionTarjetaPS/" xmlns:nci="http://www.example.org/notificaCambioInformacionTarjetaPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasTypes" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasTypes" schemaLocation="../../DigitalizacionTarjetas/xsd/digitalizacionTarjetasTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="notificaCambioInformacionTarjetaRequest">
		<wsdl:part element="tns:notificaCambioInformacionTarjeta" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="notificaCambioInformacionTarjetaResponse">
		<wsdl:part element="tns:notificaCambioInformacionTarjetaResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	<wsdl:portType name="notificaCambioInformacionTarjetaPS">
		<wsdl:operation name="notificaCambioInformacionTarjeta" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="nci:notificaCambioInformacionTarjetaRequest"/>
			<wsdl:output message="nci:notificaCambioInformacionTarjetaResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="notificaCambioInformacionTarjetaPSSOAP" type="nci:notificaCambioInformacionTarjetaPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="notificaCambioInformacionTarjeta">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/notificaCambioInformacionTarjetaPS/notificaCambioInformacionTarjeta"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="nci:notificaCambioInformacionTarjetaRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="nci:notificaCambioInformacionTarjetaResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="notificaCambioInformacionTarjetaPS">
		<wsdl:port binding="nci:notificaCambioInformacionTarjetaPSSOAP" name="notificaCambioInformacionTarjetaPSSOAP">
			<soap:address location="http://172.23.13.35:8003/Middleware/OperationsAndExecution/CustomerDeposits/digitalizacionTarjetas"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>