Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaPuestos/xsd/consultaPuestosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"            
            targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaPuestosTypes"
            xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaPuestosTypes"
            elementFormDefault="qualified"
            version="1.0">

<xs:element name="consultaPuestosRequest">
    <xs:complexType/>
</xs:element>

<xs:element name="consultaPuestosResponse">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="jobTitleList"  type="con:jobTitleListType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>


<xs:complexType name="jobTitleListType">
    <xs:sequence>
        <xs:element name="jobTitleItem" type="con:jobTitleType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>
            
<xs:complexType name="jobTitleType">
    <xs:sequence>
        <xs:element name="JOBTITLE_CODE" type="xs:string" minOccurs="0"/>
        <xs:element name="JOBTITLE_DESCRIPTION" type="xs:string" minOccurs="0"/>
    </xs:sequence>
</xs:complexType>
            
</xs:schema>