Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ServiciosEmpresariales/consultaClienteDesembolsoLineaCredito/xsd/consultaClienteDesembolsoLineaCredito_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaClienteDesembolsoLineaCredito" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaClienteDesembolsoLineaCredito" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_CUSTOMER_TYPE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_CUSTOMER_VALUE" type="db:DLC.TVARCHAR100" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_CUSTOMERS" type="db:DLC.T_CUSTOMERS_DLC" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DLC.RT_CHARGES_DLC">
      <sequence>
         <element name="CHARGES_NAME" type="db:string128" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CHARGES_TYPE" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CHARGES_RANGE" type="db:DLC.T_RANGE_DLC" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="CHARGES_VALUE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHARGES_ACTION" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.TVARCHAR100">
      <sequence>
         <element name="P_CUSTOMER_VALUE_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_DESTINATION_PRODUCTS_DLC">
      <sequence>
         <element name="PRODUCT_ID" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TYPE" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACTION" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_CUSTOMERS_DLC">
      <sequence>
         <element name="CUSTOMER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_NAME" type="db:string128" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LEGAL_ID" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TARGET_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TARGET_DESCRIPTION" type="db:string128" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BRANCH_CODE" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EXPIRATION_DAY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FINANCIAL_STMT_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="NEXT_FINANCIAL_STMT_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="PRESENTED_FINANCIAL_STMT" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACTIVE" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AUTO_DEBIT" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EMAILS_DLC" type="db:DLC.T_EMAILS_DLC" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="LOAN_LIMITS_DLC" type="db:DLC.T_LOAN_LIMITS_DLC" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="DESTINATION_PRODUCTS_DLC" type="db:DLC.T_DESTINATION_PRODUCTS_DLC" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="DEBIT_ACCOUNTS_DLC" type="db:DLC.T_DEBIT_ACCOUNTS_DLC" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="CREDIT_LINES_DLC" type="db:DLC.T_CREDIT_LINES_DLC" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="REQUESTED_VALUE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SUCCESS_INDICATOR" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MESSAGES" type="db:string500" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_CUSTOMERS_DLC">
      <sequence>
         <element name="P_CUSTOMERS_ITEM" type="db:DLC.OT_CUSTOMERS_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_REPAYMENT_TYPES_DLC">
      <sequence>
         <element name="CODE" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPTION" type="db:string128" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FRECUENCY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MAX_PAYMENT_TERM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ACTION" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_LOAN_PRODUCTS_DLC">
      <sequence>
         <element name="LOAN_PRODUCTS_DLC_ITEM" type="db:DLC.OT_LOAN_PRODUCTS_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_LOAN_LIMITS_DLC">
      <sequence>
         <element name="LOAN_LIMITS_DLC_ITEM" type="db:DLC.OT_LOAN_LIMITS_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_CHARGES_DLC">
      <sequence>
         <element name="CHARGE_ITEM" type="db:DLC.RT_CHARGES_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_DEBIT_ACCOUNTS_DLC">
      <sequence>
         <element name="DEBIT_ACCOUNTS_DLC_ITEM" type="db:DLC.OT_DEBIT_ACCOUNTS_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_REPAYMENT_TYPES_DLC">
      <sequence>
         <element name="REPAYMENT_TYPE_ITEM" type="db:DLC.OT_REPAYMENT_TYPES_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_EMAILS_DLC">
      <sequence>
         <element name="EMAILS_DLC_ITEM" type="db:DLC.OT_EMAILS_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_LOAN_LIMITS_DLC">
      <sequence>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MAX_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ENABLED" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.RT_RANGE_DLC">
      <sequence>
         <element name="RANGE_INITIAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RANGE_FINAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RANGE_VALUE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_DESTINATION_PRODUCTS_DLC">
      <sequence>
         <element name="DESTINATION_PRODUCTS_DLC_ITEM" type="db:DLC.OT_DESTINATION_PRODUCTS_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_RANGE_DLC">
      <sequence>
         <element name="CHARGES_RANGE_ITEM" type="db:DLC.RT_RANGE_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_DEBIT_ACCOUNTS_DLC">
      <sequence>
         <element name="ACCOUNT_ID" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TYPE" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACTION" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_RATES_DLC">
      <sequence>
         <element name="RATE_ITEM" type="db:DLC.RT_RATES_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.T_CREDIT_LINES_DLC">
      <sequence>
         <element name="CREDIT_LINES_DLC_ITEM" type="db:DLC.OT_CREDIT_LINES_DLC" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_CREDIT_LINES_DLC">
      <sequence>
         <element name="ID" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ECONOMIC_ACTIVITY_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EXPIRY_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="AVAILABLE_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVESTMENT_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVESTMENT_SUB_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DESTINATION_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="APPROVAL_CODE" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OFFICER" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OFFICER_BRANCH_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SUB_ORIGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REVISION_RATE_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MONTHLY_SETTLEMENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="YEARLY_SETTLEMENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="GRACE_PERIOD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREDIT_EXPENDITURE_FORMAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="COMMISSION_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHARGED_CREDIT_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MAX_PAYMENT_PERIOD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHARGED_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LOAN_PRODUCTS_DLC" type="db:DLC.T_LOAN_PRODUCTS_DLC" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_LOAN_PRODUCTS_DLC">
      <sequence>
         <element name="ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OBLIGATION_TYPE" type="db:string6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OBLIGATION_DESCRIPTION" type="db:string70" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GUARANTEE_TYPE" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GUARANTEE_DESCRIPTION" type="db:string70" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REPAYMENT_TYPE" type="db:DLC.T_REPAYMENT_TYPES_DLC" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="RATE" type="db:DLC.T_RATES_DLC" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="CHARGE" type="db:DLC.T_CHARGES_DLC" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.OT_EMAILS_DLC">
      <sequence>
         <element name="EMAIL" type="db:string256" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DLC.RT_RATES_DLC">
      <sequence>
         <element name="RATE_CLASS" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RATE_GROUP" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TERM_IN_MONTHS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LOAN_RATE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RATE_ACTION" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string128">
      <restriction base="string">
         <maxLength value="128"/>
      </restriction>
   </simpleType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string6">
      <restriction base="string">
         <maxLength value="6"/>
      </restriction>
   </simpleType>
   <simpleType name="string70">
      <restriction base="string">
         <maxLength value="70"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string500">
      <restriction base="string">
         <maxLength value="500"/>
      </restriction>
   </simpleType>
</schema>