Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/GestionesProductoBeneficio/wsdl/gestionesProductoBeneficioPS.wsdl

<wsdl:definitions name="gestionesProductoBeneficioPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionesProductoBeneficioPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/gestionesProductoBeneficioPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:def="http://www.ficohsa.com.hn/middleware.services/gestionesProductoBeneficioTypes">

  <wsdl:types>
    <xsd:schema>
		<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
	</xsd:schema>
	<xsd:schema>
		<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesProductoBeneficioTypes" schemaLocation="../xsd/gestionesProductoBeneficioTypes.xsd"/>
	</xsd:schema>
  </wsdl:types> 
  
  	<wsdl:message name="ingresaProductoBeneficioRequest">
		<wsdl:part element="def:ingresaProductoBeneficio" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ingresaProductoBeneficioResponse">
		<wsdl:part element="def:ingresaProductoBeneficioResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
     
    <wsdl:message name="ingresaGestionProductoBeneficioRequest">
        <wsdl:part element="def:ingresaGestionProductoBeneficioRequest" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="ingresaGestionProductoBeneficioResponse">
        <wsdl:part element="def:ingresaGestionProductoBeneficioResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
	
	<wsdl:portType name="gestionesProductoBeneficioPS">
		<wsdl:operation name="ingresaProductoBeneficio" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:ingresaProductoBeneficioRequest"/>
			<wsdl:output message="fic:ingresaProductoBeneficioResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ingresaGestionProductoBeneficio" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:ingresaGestionProductoBeneficioRequest"/>
            <wsdl:output message="fic:ingresaGestionProductoBeneficioResponse"/>
        </wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="gestionesProductoBeneficioPSSOAP" type="fic:gestionesProductoBeneficioPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ingresaProductoBeneficio">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesProductoBeneficioPS/ingresaProductoBeneficio"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:ingresaProductoBeneficioRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:ingresaProductoBeneficioResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ingresaGestionProductoBeneficio">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesProductoBeneficioPS/ingresaGestionProductoBeneficio"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:ingresaGestionProductoBeneficioRequest" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:ingresaGestionProductoBeneficioResponse" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="gestionesProductoBeneficioPS">
	    <wsdl:port binding="fic:gestionesProductoBeneficioPSSOAP" name="gestionesProductoBeneficioPSSOAP">
	    	<soap:address location="https://172.23.13.19:8004/Middleware/OperationsAndExecution/ConsumerServices/GestionesProductoBeneficio"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>