Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/CreaProductosCliente/xsd/creaProductosClienteTypes.xsd

<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/creaProductosClienteTypes" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/creaProductosClienteTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="processType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="4" />
			<xs:enumeration value="5" />
			<xs:enumeration value="6" />
			<xs:enumeration value="7" />
		</xs:restriction>
	</xs:simpleType>

	<!--############################################ -->
	<!-- OPERATION: creaProductosCliente -->
	<!--############################################ -->
	<xs:element name="creaProductosCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROCESS_TYPE" type="tns:processType"/>
				<xs:element name="INTERFACE_USER" type="xs:string" />
				<xs:element name="CUSTOMER_CODE" type="xs:string" />
				<xs:element name="ACCOUNT_DETAIL" type="tns:accountDetailItemType" minOccurs="0" />
				<xs:element name="BENEFICIARY_DETAILS" type="tns:beneficiaryDetailItemType" minOccurs="0" />
				<xs:element name="SIGNATORY_DETAILS" type="tns:signatoryDetailItemType" minOccurs="0" />
				<xs:element name="CARD_INFORMATION" type="tns:cardInformationDetailItemType" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
		<xs:complexType name="accountDetailItemType">
		<xs:sequence>
			<xs:element name="CATEGORY" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="OPERATION_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="REFERRED_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="PASSBOOK" type="xs:string" minOccurs="0" />
			<xs:element name="PASSBOOK_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="PAYROLL_GROUP" type="xs:string" minOccurs="0" />
			<xs:element name="INITIAL_DEPOSIT" type="xs:string" minOccurs="0" />
			<xs:element name="PURPOSE" type="xs:string" minOccurs="0" />
			<xs:element name="ORIGEN_OF_FUNDS" type="xs:string" minOccurs="0" />
			<xs:element name="MONTHLY_TXN_VOLUME" type="xs:string" minOccurs="0" />
			<xs:element name="ADDRESS_TYPE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="beneficiaryDetailItemType">
		<xs:sequence>
			<xs:element name="BENEFICIARY_DETAIL" type="tns:beneficiaryDetailsItemType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="beneficiaryDetailsItemType">
		<xs:sequence>
			<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="RELATION" type="xs:string" minOccurs="0" />
			<xs:element name="DOCUMENT_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="LEGAL_ID" type="xs:string" minOccurs="0" />
			<xs:element name="BENEFICIARY_PERCENTAGE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="signatoryDetailItemType">
		<xs:sequence>
			<xs:element name="REGISTERED_SIGNATORY" type="xs:string" minOccurs="0" />
			<xs:element name="REQUIRED_SIGNATORY" type="xs:string" minOccurs="0" />
			<xs:element name="SIGNATORY_DESCRIPTION" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="cardInformationDetailItemType">
		<xs:sequence>
			<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" />
			<xs:element name="PRIMARY_ACCOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="EMISSION_PAY" type="xs:string" minOccurs="0" />
			<xs:element name="CARD_TYPE" type="xs:string" minOccurs="0" />
			<xs:element name="NAME_ON_PLASTIC" type="xs:string" minOccurs="0" />
			<xs:element name="DELIVERY_BRANCH" type="xs:string" minOccurs="0" />
			<xs:element name="SECONDARY_ACCOUNTS" type="tns:secondaryAccountsDetailItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="secondaryAccountsDetailItemType">
		<xs:sequence>
			<xs:element name="SECONDARY_ACCOUNT" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="creaProductosClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_DETAIL" type="tns:accountDetailResponseItemType" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="accountDetailResponseItemType">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>