Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/Resources/ConsultaSaldosTCID/wsdl/ConsultaSaldosTCID.wsdl

<wsdl:definitions name="ConsultaSaldosTCID" targetNamespace="http://www.example.org/ConsultaSaldosTCID/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ConsultaSaldosTCID/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.ficohsa.com.hn/middleware.services/consultaSaldosTCIDTypes">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ConsultaSaldosTCID/">
      <xsd:element name="consultaSaldosTarjetaCredito">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaSaldosTarjetaCreditoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaSaldosTCIDTypes" schemaLocation="../xsd/consultaSaldosTCIDTypes.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="consultaSaldosTarjetaCreditoRequest">
    <wsdl:part element="xsd1:consultaSaldosTarjetaCredito" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="consultaSaldosTarjetaCreditoResponse">
    <wsdl:part element="xsd1:consultaSaldosTarjetaCreditoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ConsultaSaldosTCID">
    <wsdl:operation name="consultaSaldosTarjetaCredito">
      <wsdl:input message="tns:consultaSaldosTarjetaCreditoRequest"/>
      <wsdl:output message="tns:consultaSaldosTarjetaCreditoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaSaldosTCIDSOAP" type="tns:ConsultaSaldosTCID">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultaSaldosTarjetaCredito">
      <soap:operation soapAction="http://www.example.org/ConsultaSaldosTCID/consultaSaldosTarjetaCredito"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaSaldosTCID">
    <wsdl:port binding="tns:ConsultaSaldosTCIDSOAP" name="ConsultaSaldosTCIDSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>