Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/Resources/ConsultaSaldosTCID/wsdl/consultaSaldosTCIDPS.wsdl

<wsdl:definitions name="consultaSaldosTCIDPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaSaldosTCIDPS/" xmlns:cstc="http://www.ficohsa.com.hn/middleware.services/consultaSaldosTCIDPS/" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaMaestraSaldosTarjetaCreditoTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.ficohsa.com.hn/middleware.services/consultaSaldosTarjetaCreditoTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../../../v2/Resources/esquemas_generales/HeaderElements.xsd"/>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaMaestraSaldosTarjetaCreditoTypes" schemaLocation="../../ConsultaMaestraSaldosTarjetaCredito/xsd/consultaMaestraSaldosTarjetaCreditoTypes.xsd">
			</xsd:import>

		</xsd:schema>
		<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMaestraSaldosTarjetaCreditoPS/">
			<xsd:element name="consultaSaldosTarjetaCreditoResponse" type="xsd:string"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="requestHeader">
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>

	<wsdl:message name="responseHeader">
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="consultaSaldosTarjetaCreditoRequest">
		<wsdl:part element="tns:consultaSaldosTarjetaCredito" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="consultaSaldosTarjetaCreditoResponse">
		<wsdl:part element="tns:consultaSaldosTarjetaCreditoResponse" name="result"/>
	</wsdl:message>

	<wsdl:portType name="consultaSaldosTCIDPS">
		<wsdl:operation name="consultaSaldosTarjetaCredito" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="cstc:consultaSaldosTarjetaCreditoRequest"/>
			<wsdl:output message="cstc:consultaSaldosTarjetaCreditoResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="consultaSaldosTCIDPSSOAP" type="cstc:consultaSaldosTCIDPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaSaldosTarjetaCredito">
			<soap:operation soapAction="http://www.example.org/gestionesTarjetasPS/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="cstc:requestHeader" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="cstc:responseHeader" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="consultaSaldosTCIDPS">
		<wsdl:port binding="cstc:consultaSaldosTCIDPSSOAP" name="consultaSaldosTCIDPSSOAP">
			<soap:address location="https://mwomnicanal:8004/Middleware/OperationsAndExecution/Cards/consultaMaestraSaldosTarjetaCredito/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>