Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ACH/Enviado/RegistroNuevoACHEnviado/xsd/registroNuevoACHEnviado_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registroNuevoACHEnviado" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registroNuevoACHEnviado" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CUENTAORIGEN" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BANCODESTINO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPOCUENTADEST" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CUENTADESTINO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MONEDA" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_MONTO" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBREBENEFICIARIO" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_IDENTBENEFICIARIO" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCION" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_INTERFACEREFNO" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TIPOTRANSACCION" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LOCALORGACCOUNT" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CANALINGRESO" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PN_ACHSECUENCIA" type="decimal" db:index="14" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_SUCCESINDICATOR" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERRORCODE" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJEERROR" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>