Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/deudoresRecaudos/Resources/DeudoresRecaudos.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_-1852790596.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-2146193603.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Autorizaeliminardeudor">
<part name="parameters" element="tns:Autorizaeliminardeudor"/>
</message>
<message name="AutorizaeliminardeudorResponse">
<part name="parameters" element="tns:AutorizaeliminardeudorResponse"/>
</message>
<message name="Eliminaciondedeudores">
<part name="parameters" element="tns:Eliminaciondedeudores"/>
</message>
<message name="EliminaciondedeudoresResponse">
<part name="parameters" element="tns:EliminaciondedeudoresResponse"/>
</message>
<message name="Consultadedeudores">
<part name="parameters" element="tns:Consultadedeudores"/>
</message>
<message name="ConsultadedeudoresResponse">
<part name="parameters" element="tns:ConsultadedeudoresResponse"/>
</message>
<message name="Afiliaciondedeudores">
<part name="parameters" element="tns:Afiliaciondedeudores"/>
</message>
<message name="AfiliaciondedeudoresResponse">
<part name="parameters" element="tns:AfiliaciondedeudoresResponse"/>
</message>
<message name="Afiliaciondedeudores_Validate">
<part name="parameters" element="tns:Afiliaciondedeudores_Validate"/>
</message>
<message name="Afiliaciondedeudores_ValidateResponse">
<part name="parameters" element="tns:Afiliaciondedeudores_ValidateResponse"/>
</message>
<message name="Modificaciondedeudor">
<part name="parameters" element="tns:Modificaciondedeudor"/>
</message>
<message name="ModificaciondedeudorResponse">
<part name="parameters" element="tns:ModificaciondedeudorResponse"/>
</message>
<message name="Modificaciondedeudor_Validate">
<part name="parameters" element="tns:Modificaciondedeudor_Validate"/>
</message>
<message name="Modificaciondedeudor_ValidateResponse">
<part name="parameters" element="tns:Modificaciondedeudor_ValidateResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Autorizaeliminardeudor">
<input message="tns:Autorizaeliminardeudor"/>
<output message="tns:AutorizaeliminardeudorResponse"/>
</operation>
<operation name="Eliminaciondedeudores">
<input message="tns:Eliminaciondedeudores"/>
<output message="tns:EliminaciondedeudoresResponse"/>
</operation>
<operation name="Consultadedeudores">
<input message="tns:Consultadedeudores"/>
<output message="tns:ConsultadedeudoresResponse"/>
</operation>
<operation name="Afiliaciondedeudores">
<input message="tns:Afiliaciondedeudores"/>
<output message="tns:AfiliaciondedeudoresResponse"/>
</operation>
<operation name="Afiliaciondedeudores_Validate">
<input message="tns:Afiliaciondedeudores_Validate"/>
<output message="tns:Afiliaciondedeudores_ValidateResponse"/>
</operation>
<operation name="Modificaciondedeudor">
<input message="tns:Modificaciondedeudor"/>
<output message="tns:ModificaciondedeudorResponse"/>
</operation>
<operation name="Modificaciondedeudor_Validate">
<input message="tns:Modificaciondedeudor_Validate"/>
<output message="tns:Modificaciondedeudor_ValidateResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Autorizaeliminardeudor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminaciondedeudores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadedeudores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Afiliaciondedeudores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Afiliaciondedeudores_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificaciondedeudor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificaciondedeudor_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwcaja1:7003/svcDeudoresRecaudos/services"/>
</port>
</service>
</definitions>