Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/Business_Resources/deudoresRecaudos/Resources/XMLSchema_-2146193603.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Afiliaciondedeudores" type="tns:Afiliaciondedeudores"/>

<xs:element name="AfiliaciondedeudoresResponse" type="tns:AfiliaciondedeudoresResponse"/>

<xs:element name="Afiliaciondedeudores_Validate" type="tns:Afiliaciondedeudores_Validate"/>

<xs:element name="Afiliaciondedeudores_ValidateResponse" type="tns:Afiliaciondedeudores_ValidateResponse"/>

<xs:element name="Autorizaeliminardeudor" type="tns:Autorizaeliminardeudor"/>

<xs:element name="AutorizaeliminardeudorResponse" type="tns:AutorizaeliminardeudorResponse"/>

<xs:element name="Consultadedeudores" type="tns:Consultadedeudores"/>

<xs:element name="ConsultadedeudoresResponse" type="tns:ConsultadedeudoresResponse"/>

<xs:element name="Eliminaciondedeudores" type="tns:Eliminaciondedeudores"/>

<xs:element name="EliminaciondedeudoresResponse" type="tns:EliminaciondedeudoresResponse"/>

<xs:element name="Modificaciondedeudor" type="tns:Modificaciondedeudor"/>

<xs:element name="ModificaciondedeudorResponse" type="tns:ModificaciondedeudorResponse"/>

<xs:element name="Modificaciondedeudor_Validate" type="tns:Modificaciondedeudor_Validate"/>

<xs:element name="Modificaciondedeudor_ValidateResponse" type="tns:Modificaciondedeudor_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="LATAMAGDEBTORAFFILIATIONLATAMINPUTWSType">
<xs:sequence>
<xs:element name="DEBTORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="gDEBTORNAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DEBTORNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AGRCONTRACTID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="LATAMAGDEBTORAFFILIATIONType">
<xs:sequence>
<xs:element name="DEBTORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="gDEBTORNAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DEBTORNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AGRCONTRACTID" type="xs:string" minOccurs="0"/>
<xs:element name="MAPID" type="xs:string" minOccurs="0"/>
<xs:element name="DEFAFFDELETE" type="xs:string" minOccurs="0"/>
<xs:element name="STATUSCODE" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_7" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="LATAMAGDEBTORAFFILIATIONDEBTOREDITWSType">
<xs:sequence>
<xs:element name="gDEBTORNAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DEBTORNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="WSDEBTORLISTType">
<xs:sequence>
<xs:element name="SEVICENAME" type="xs:string" minOccurs="0"/>
<xs:element name="CONTRACTID" type="xs:string" minOccurs="0"/>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSDEBTORLISTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSDEBTORLISTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="DEBTORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEBTORNAME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadedeudores">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSDEBTORLISTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadedeudoresResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSDEBTORLISTType" type="tns:WSDEBTORLISTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Afiliaciondedeudores_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="LATAMAGDEBTORAFFILIATIONLATAMINPUTWSType" type="tns:LATAMAGDEBTORAFFILIATIONLATAMINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Afiliaciondedeudores_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMAGDEBTORAFFILIATIONType" type="tns:LATAMAGDEBTORAFFILIATIONType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Afiliaciondedeudores">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="LATAMAGDEBTORAFFILIATIONLATAMINPUTWSType" type="tns:LATAMAGDEBTORAFFILIATIONLATAMINPUTWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AfiliaciondedeudoresResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMAGDEBTORAFFILIATIONType" type="tns:LATAMAGDEBTORAFFILIATIONType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificaciondedeudor_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="LATAMAGDEBTORAFFILIATIONDEBTOREDITWSType" type="tns:LATAMAGDEBTORAFFILIATIONDEBTOREDITWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificaciondedeudor_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMAGDEBTORAFFILIATIONType" type="tns:LATAMAGDEBTORAFFILIATIONType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificaciondedeudor">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="LATAMAGDEBTORAFFILIATIONDEBTOREDITWSType" type="tns:LATAMAGDEBTORAFFILIATIONDEBTOREDITWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificaciondedeudorResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMAGDEBTORAFFILIATIONType" type="tns:LATAMAGDEBTORAFFILIATIONType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminaciondedeudores">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="LATAMAGDEBTORAFFILIATIONLATAMINPUTWSType" type="tns:transactionId" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transactionId">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminaciondedeudoresResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMAGDEBTORAFFILIATIONType" type="tns:LATAMAGDEBTORAFFILIATIONType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Autorizaeliminardeudor">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="LATAMAGDEBTORAFFILIATIONLATAMINPUTWSType" type="tns:transactionId" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AutorizaeliminardeudorResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMAGDEBTORAFFILIATIONType" type="tns:LATAMAGDEBTORAFFILIATIONType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>