Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/DIGITARCLI/consultaTiposCredenciales/xsd/consultarTiposCredencialesStepUp_db.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/DIGITARCLI/OSB_K_VCAS/STEP_UP/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/DIGITARCLI/OSB_K_VCAS/STEP_UP/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_PROCESSORID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ISSUERID" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TRANSACTIONID" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DSTRANSACTIONID" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_STEPUPREQUESTID" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_STEPUPCOUNTER" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_DEVICELOCALE" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DEVICEUSERAGENT" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MESSAGEVERSION" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RDXMESSAGEVERSION" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_STEPUPREASON" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_MERCHANTINFO" type="db:DIGITARCLI.vcas_t_merchantInfo" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_PAYMENTINFO" type="db:DIGITARCLI.vcas_t_paymentInfo" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TRANSACTIONINFO" type="db:DIGITARCLI.vcas_t_transactionInfo" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CARDHOLDERSELECTIONINFO" type="db:DIGITARCLI.vcas_t_cardholderSelectionInfo" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_PROCESSORIDOUT" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ISSUERIDOUT" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TRANSACTIONIDOUT" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_STEPUPREQUESTIDOUT" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_STEPUPTYPE" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_LANGUAGE" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_STATUS" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RISKINDICATOR" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_CREDENTIALS" type="db:DIGITARCLI.vcas_t_credentials" db:index="24" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_REASON" type="db:DIGITARCLI.vcas_t_reason" db:index="25" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_ERROR" type="db:DIGITARCLI.vcas_t_error" db:index="26" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_WHYINFO" type="db:DIGITARCLI.vcas_t_whyInfo" db:index="27" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="DIGITARCLI.vcas_t_reason">
      <sequence>
         <element name="PT_REASON_ITEM" type="db:DIGITARCLI.vcas_reason" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_whyInfo">
      <sequence>
         <element name="LABEL" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="45"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="256"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_error">
      <sequence>
         <element name="REFERENCENUMBER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="15"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DESCRIPTION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MESSAGE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_t_merchantInfo">
      <sequence>
         <element name="PT_MERCHANTINFO_ITEM" type="db:DIGITARCLI.vcas_merchantInfo" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_credential">
      <sequence>
         <element name="ID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="36"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="254"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_credentials">
      <sequence>
         <element name="CREDENTIAL" type="db:DIGITARCLI.vcas_credential" db:type="Struct" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_t_credentials">
      <sequence>
         <element name="PT_CREDENTIALS_ITEM" type="db:DIGITARCLI.vcas_credentials" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_reason">
      <sequence>
         <element name="REASONCODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="32"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REASONDESCRIPTION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="256"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_t_error">
      <sequence>
         <element name="PT_ERROR_ITEM" type="db:DIGITARCLI.vcas_error" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_t_transactionInfo">
      <sequence>
         <element name="PT_TRANSACTIONINFO_ITEM" type="db:DIGITARCLI.vcas_transactionInfo" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_t_cardholderSelectionInfo">
      <sequence>
         <element name="PT_CARDHOLDERSELECTIONINFO_ITEM" type="db:DIGITARCLI.vcas_cardholderSelectionInfo" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_paymentInfo">
      <sequence>
         <element name="CARDNUMBER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="19"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CARDEXPIRYMONTH" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CARDEXPIRYYEAR" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="4"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CARDTYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CARDHOLDERNAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="45"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_transactionInfo">
      <sequence>
         <element name="TRANSACTIONTIMESTAMP" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="24"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TRANSACTIONAMOUNT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="48"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TRANSACTIONCURRENCY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TRANSACTIONEXPONENT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TRANSACTIONTYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MANDATEDREGION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CHANNEL" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_t_paymentInfo">
      <sequence>
         <element name="PT_PAYMENTINFO_ITEM" type="db:DIGITARCLI.vcas_paymentInfo" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_cardholderSelectionInfo">
      <sequence>
         <element name="TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="45"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_t_whyInfo">
      <sequence>
         <element name="PT_WHYINFO_ITEM" type="db:DIGITARCLI.vcas_whyInfo" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="DIGITARCLI.vcas_merchantInfo">
      <sequence>
         <element name="ACQUIRERID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="11"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ACQUIRERCOUNTRYCODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MERCHANTID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="35"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MERCHANTNAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="40"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MERCHANTURL" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2048"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MERCHANTCATEGORYCODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="4"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MERCHANTCOUNTRYCODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>
