Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/SALESFORCE/generaUrlSegura/xsd/solicitaUrlSegura_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/SolicitaUrlSeguraTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:trans="http://www.ficohsa.com.hn/middleware.services/SolicitaUrlSeguraTypes">
  <xs:complexType name="SolicitaUrlSegura">
    <xs:sequence>
      <xs:element name="pEntrada" type="trans:Parametros"/>
      <xs:element name="SessionId" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Parametros">
    <xs:sequence>
      <xs:element name="IdCliente" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="TipoId" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Canal" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="NombreApiFlujoADisparar" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="PaisOrigen" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SolicitaUrlSeguraResponse">
    <xs:sequence>
      <xs:element name="UrlSegura" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SessId" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="isSuccess" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitaUrlSegura" type="trans:SolicitaUrlSegura"/>
  <xs:element name="SolicitaUrlSeguraResponse" type="trans:SolicitaUrlSeguraResponse"/>
</xs:schema>