Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/IngresaGestionProductoBeneficio/wsdl/ingresaGestionProductoBeneficioPS.wsdl

<wsdl:definitions name="ingresaGestionProductoBeneficioPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/ingresaGestionProductoBeneficioPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/ingresaGestionProductoBeneficioPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:alt="http://www.ficohsa.com.hn/middleware.services/gestionesProductoBeneficioTypes" xmlns:tns="http://www.bea.com/wli/sb/stages/transform/config">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/gestionesProductoBeneficioTypes" schemaLocation="../../GestionesProductoBeneficio/xsd/gestionesProductoBeneficioTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestHeader">
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="responseHeader">
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
     
    <wsdl:message name="ingresaGestionProductoBeneficioRequest">
        <wsdl:part element="alt:ingresaGestionProductoBeneficioRequest" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="ingresaGestionProductoBeneficioResponse">
        <wsdl:part element="alt:ingresaGestionProductoBeneficioResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:portType name="ingresaGestionProductoBeneficioPS">
        <wsdl:operation name="ingresaGestionProductoBeneficio" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:ingresaGestionProductoBeneficioRequest"/>
            <wsdl:output message="fic:ingresaGestionProductoBeneficioResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="ingresaGestionProductoBeneficioPSSOAP" type="fic:ingresaGestionProductoBeneficioPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ingresaGestionProductoBeneficio">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/gestionesProductoBeneficioPS/ingresaGestionProductoBeneficio"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="ingresaGestionProductoBeneficioPS">
        <wsdl:port binding="fic:ingresaGestionProductoBeneficioPSSOAP" name="ingresaGestionProductoBeneficioPSSOAP">
           <soap:address location="https://172.23.13.19:8004/Middleware/GestionesProductoBeneficio/ingresaGestionProductoBeneficio"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>