Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaInformacionRENAP/xsd/consultaInformacionRENAPTypes.xsd

<xs:schema 
     xmlns:xs="http://www.w3.org/2001/XMLSchema" 
     version="1.0" 
     targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaInformacionRENAPTypes"
     xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaInformacionRENAPTypes">

	<!-- queryType -->

	<xs:simpleType name="queryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="H"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>

    <!--####################################-->     
   	<!--OPERACION: Consulta Informacion CUI -->
    <!--####################################-->

     <xs:element name="consultaInformacionCUI">
         <xs:complexType>
             <xs:sequence>
                 <xs:element name="CUI" type="xs:string"/>
              </xs:sequence>
         </xs:complexType>
     </xs:element>

     <xs:element name="consultaInformacionCUIResponse">
          <xs:complexType>
               <xs:sequence>
                    <xs:element name="RESULT" type="xs:string" minOccurs="0" />
                 	<xs:element name="DATE" type="xs:string" minOccurs="0" />
                 	<xs:element name="HIT" type="xs:string" minOccurs="0" />
                 	<xs:element name="AUTHORIZATION" type="xs:string" minOccurs="0" />
                 	<xs:element name="SIZE" type="xs:string" minOccurs="0" />
                 	<xs:element name="DEATH_DATE" type="xs:string" minOccurs="0" />
                 	<xs:element name="OCCUPATION" type="xs:string" minOccurs="0" />
                 	<xs:element name="MUNICIPALITY_OF_BIRTH" type="xs:string" minOccurs="0" />
                 	<xs:element name="PHOTOGRAPHY" type="xs:string" minOccurs="0" />
                 	<xs:element name="COUNTRY_OF_BIRTH" type="xs:string" minOccurs="0" />
                 	<xs:element name="LEGAL_ID_ORDER" type="xs:string" minOccurs="0" />
                 	<xs:element name="THIRD_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="GENDER" type="xs:string" minOccurs="0" />
                 	<xs:element name="LAST_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="NATIONALITY" type="xs:string" minOccurs="0" />
                 	<xs:element name="DEPARTMENT_OF_BIRTH" type="xs:string" minOccurs="0" />
                 	<xs:element name="MESSAGE" type="xs:string" minOccurs="0" />
                 	<xs:element name="SECOND_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="LEGAL_ID_REGISTRATION" type="xs:string" minOccurs="0" />
                 	<xs:element name="FIRST_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="SECOND_LAST_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="CUI" type="xs:string" minOccurs="0" />
                 	<xs:element name="CIVIL_STATUS" type="xs:string" minOccurs="0" />
                 	<xs:element name="LAST_NAME_MARRIED" type="xs:string" minOccurs="0" />
                 	<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0" />
                 	<xs:element name="CORRELATIVE_DPI" type="xs:string" minOccurs="0" />
                 	<xs:element name="BIRTH_DATE" type="xs:string" minOccurs="0" />
                 	<xs:element name="NEIGHBORHOOD" type="xs:string" minOccurs="0" />
                 	<xs:element name="HOUR" type="xs:string" minOccurs="0" />
                 	<xs:element name="DATA_TIME" type="xs:string" minOccurs="0" />
                 	<xs:element name="QUERY_TIME" type="xs:string" minOccurs="0" />
                 	<xs:element name="REFERENCE" type="xs:string" minOccurs="0" />
               </xs:sequence>
          </xs:complexType>
     </xs:element>
     
     <!--####################################-->     
   	<!--OPERACION: Consulta Informacion HUELLA -->
    <!--####################################-->

     <xs:element name="consultaInformacionHUELLA">
         <xs:complexType>
             <xs:sequence>
                 <xs:element name="DEVICE" type="xs:string" minOccurs="0" />
             	 <xs:element name="METHOD" type="xs:string" minOccurs="0" />
                 <xs:element name="RIGHT_FINGER" type="xs:string" minOccurs="0" />
                 <xs:element name="RIGHT_CODE" type="xs:string" minOccurs="0" />
                 <xs:element name="LEFT_FINGER" type="xs:string" minOccurs="0" />
                 <xs:element name="LEFT_CODE" type="xs:string" minOccurs="0" />
                 <xs:element name="CUI" type="xs:string" />
              </xs:sequence>
         </xs:complexType>
     </xs:element>

     <xs:element name="consultaInformacionHUELLAResponse">
          <xs:complexType>
               <xs:sequence>
                    <xs:element name="DATE" type="xs:string" minOccurs="0" />
                 	<xs:element name="HIT" type="xs:string" minOccurs="0" />
                 	<xs:element name="SIZE" type="xs:string" minOccurs="0" />
                 	<xs:element name="DEATH_DATE" type="xs:string" minOccurs="0" />
                 	<xs:element name="OCCUPATION" type="xs:string" minOccurs="0" />
                 	<xs:element name="MUNICIPALITY_OF_BIRTH" type="xs:string" minOccurs="0" />
                 	<xs:element name="PHOTOGRAPHY" type="xs:string" minOccurs="0" />
                 	<xs:element name="COUNTRY_OF_BIRTH" type="xs:string" minOccurs="0" />
                 	<xs:element name="LEGAL_ID_ORDER" type="xs:string" minOccurs="0" />
                 	<xs:element name="THIRD_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="GENDER" type="xs:string" minOccurs="0" />
                 	<xs:element name="LAST_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="NATIONALITY" type="xs:string" minOccurs="0" />
                 	<xs:element name="DEPARTMENT_OF_BIRTH" type="xs:string" minOccurs="0" />
                 	<xs:element name="MESSAGE" type="xs:string" minOccurs="0" />
                 	<xs:element name="SECOND_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="LEGAL_ID_REGISTRATION" type="xs:string" minOccurs="0" />
                 	<xs:element name="FIRST_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="SECOND_LAST_NAME" type="xs:string" minOccurs="0" />
                 	<xs:element name="CUI" type="xs:string" minOccurs="0" />
                 	<xs:element name="CIVIL_STATUS" type="xs:string" minOccurs="0" />
                 	<xs:element name="LAST_NAME_MARRIED" type="xs:string" minOccurs="0" />
                 	<xs:element name="BIRTH_DATE" type="xs:string" minOccurs="0" />
                 	<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0" />
                 	<xs:element name="CORRELATIVE_DPI" type="xs:string" minOccurs="0" />
                 	<xs:element name="NEIGHBORHOOD" type="xs:string" minOccurs="0" />
                 	<xs:element name="HOUR" type="xs:string" minOccurs="0" />
                 	<xs:element name="REFERENCE" type="xs:string" minOccurs="0" />
               </xs:sequence>
          </xs:complexType>
     </xs:element>
     
</xs:schema>