Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/DEI/consultaTiposImpuestos/xsd/consultaTiposImpuestos_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaTiposImpuestos" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaTiposImpuestos" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_CODIGO" type="decimal" db:index="1" db:default="true" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PN_CODIGOIMPUESTO" type="db:OWF_MGR.TNUMBER" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCION" type="db:OWF_MGR.TVARCHAR250" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="OWF_MGR.TNUMBER">
      <sequence>
         <element name="PN_CODIGOIMPUESTO_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="OWF_MGR.TVARCHAR250">
      <sequence>
         <element name="PV_DESCRIPCION_ITEM" type="db:string250" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
</schema>