Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaCuentaBeneficios/xsd/consultaCuentaBeneficiosTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCuentaBeneficiosTypes"
            xmlns:con="http://www.ficohsa.com.hn/middleware.services/consultaCuentaBeneficiosTypes"
            version="1.0">

<xs:element name="consultaCuentaBeneficiosResponse">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="benefitsList"  type="con:benefitsListType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:complexType name="benefitsListType">
    <xs:sequence>
        <xs:element name="benefitItem" type="con:benefitType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type= "xs:ID"/>
</xs:complexType>
            
<xs:complexType name="benefitType">
    <xs:sequence>
        <xs:element name="CODE" type="xs:string" minOccurs="0"/>
        <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
    </xs:sequence>
</xs:complexType>
<xs:element name="consultaCuentaBeneficios">
    <xs:complexType>
		<xs:sequence>
            <xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>            
       </xs:sequence>
	</xs:complexType>
</xs:element>      
</xs:schema>