Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingNI/ProviderServices/XSD/GetLoanDetails/GetLoanDetailsNI_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetLoanDetailsNI" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetLoanDetailsNI" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="i_canal" type="byte" db:index="1" db:type="TINYINT" minOccurs="0" nillable="true"/>
            <element name="i_tipoconsulta" type="db:string1" db:index="2" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_fecha" type="dateTime" db:index="3" db:type="DATETIME" minOccurs="0" nillable="true"/>
            <element name="i_LOAN_ID" type="db:string24" db:index="4" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="RETURN_VALUE" type="int" db:index="0" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_fecha_pago" type="db:string10" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="o_num_error" type="int" db:index="6" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_desc_error" type="db:string132" db:index="7" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="o_fecha_nac" type="db:string10" db:index="8" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string24">
      <restriction base="string">
         <maxLength value="24"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string132">
      <restriction base="string">
         <maxLength value="132"/>
      </restriction>
   </simpleType>
</schema>