Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaDetalleMoraTC/wsdl/consultaDetalleMoraTCPS.wsdl

<wsdl:definitions name="consultaDetalleMoraTCPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDetalleMoraTCPS/" xmlns:fic="http://www.ficohsa.com.hn/middleware.services/consultaDetalleMoraTCPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:alt="http://www.ficohsa.com.hn/middleware.services/ConsultasCarteraCrediticia" xmlns:tns="http://www.bea.com/wli/sb/stages/transform/config">
 
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../esquemas_generales/HeaderElements.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/ConsultasCarteraCrediticia" schemaLocation="../../ConsultasCarteraCrediticia/xsd/consultasCarteraCrediticiaTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestHeader">
        <wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="responseHeader">
        <wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
    </wsdl:message>
     
    <wsdl:message name="consultaDetalleMoraTCRequest">
        <wsdl:part element="alt:consultaDetalleMoraTCRequest" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="consultaDetalleMoraTCResponse">
        <wsdl:part element="alt:consultaDetalleMoraTCResponse" name="result"/>
    </wsdl:message>
    
    <wsdl:portType name="consultaDetalleMoraTCPS">
        <wsdl:operation name="consultaDetalleMoraTC" parameterOrder="parameters RequestHeader ResponseHeader">
            <wsdl:input message="fic:consultaDetalleMoraTCRequest"/>
            <wsdl:output message="fic:consultaDetalleMoraTCResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="consultaDetalleMoraTCPSSOAP" type="fic:consultaDetalleMoraTCPS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultaDetalleMoraTC">
            <soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaDetalleMoraTCPS/consultaDetalleMoraTC"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="fic:requestHeader" part="RequestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="result"/>
                <soap:header message="fic:responseHeader" part="ResponseHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="consultaDetalleMoraTCPS">
        <wsdl:port binding="fic:consultaDetalleMoraTCPSSOAP" name="consultaDetalleMoraTCPSSOAP">
           <soap:address location="https://172.23.13.19:8004/Middleware/CarteraCrediticia/ConsultaDetalleMoraTC"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>