Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/ReversarTransaccion/ReversarTransaccion/reversarTransaccionTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/reversarTransaccionTypes"
	xmlns:con="http://www.ficohsa.com.hn/middleware.services/reversarTransaccionTypes">

	<xs:element name="reversarTransaccion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTION_ID" type="xs:string" />
				<xs:element name="TRANSACTION_TYPE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="reversarTransaccionResponse"/>

</xs:schema>