Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaCargosRecurrentesDiarios/xsd/consultaCargosRecurrentesDiariosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaCargosRecurrentesDiariosTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaCargosRecurrentesDiariosTypes">

	<!-- acc_card_LengthType -->
	<xs:simpleType name="acc_card_LengthType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="19" />
		</xs:restriction>
	</xs:simpleType>


	<xs:element name="consultaCargosRecurrentesDiarios">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="tns:acc_card_LengthType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="consultaCargosRecurrentesDiariosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MOVEMENT_INFORMATION" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="COMMERCE_NAME" type="xs:string" minOccurs="0" />
							<xs:element name="MOVEMENT_STATUS" type="xs:string" minOccurs="0" />
							<xs:element name="TRANSACTION_DATE" type="xs:dateTime" minOccurs="0" />
							<xs:element name="TRANSACTION_AMOUNT" type="xs:decimal" minOccurs="0" />
							<xs:element name="TRANSACTION_CURRENCY" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>