Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/GestionPuntosTarjetas/xsd/gestionPuntosTarjetasTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasTypes"
		xmlns:tns="http://www.ficohsa.com.hn/middleware.services/gestionPuntosTarjetasTypes">
	
	<!-- stringMinLength1Type -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- processType -->
    <xs:simpleType name="sortType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="TERMINAL_ID"/>
           <xs:enumeration value="MERCHANT_ID"/>
           <xs:enumeration value="MERCHANT_TYPE"/>
           <xs:enumeration value="LOGO"/>
        </xs:restriction>
    </xs:simpleType>
	
	<!--############################################--> 
    <!--OPERACION: AGREGAR FACTOR CANJE -->
    <!--############################################-->   
    
    <xs:element name="agregarFactorCanje">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="LOGO" type="xs:integer"/>
    			<xs:element name="SORT_TYPE" type="tns:sortType"/>
    			<xs:element name="SORT_VALUE" type="xs:string" minOccurs="0"/>
    			<xs:element name="BEGIN_DATE" type="xs:date"/>
    			<xs:element name="END_DATE" type="xs:date"/>
    			<xs:element name="EXCHANGE_RATE" type="xs:decimal"/>
    			<xs:element name="PROMO_ID" type="tns:stringMinLength1"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="agregarFactorCanjeResponse"/>

    
    <!--#########################################--> 
    <!--OPERACION: ELIMINAR FACTOR CANJE -->
    <!--#########################################--> 
    
    <xs:element name="eliminarFactorCanje">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="PROMO_ID" type="tns:stringMinLength1"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="eliminarFactorCanjeResponse"/>
    
</xs:schema>