Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/archivosConvenios/Resources/ArchivosConvenios.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_-232084066.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-525487073.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Consultadearchdefacturaserr">
<part name="parameters" element="tns:Consultadearchdefacturaserr"/>
</message>
<message name="ConsultadearchdefacturaserrResponse">
<part name="parameters" element="tns:ConsultadearchdefacturaserrResponse"/>
</message>
<message name="Consultadearchdefacturasproc">
<part name="parameters" element="tns:Consultadearchdefacturasproc"/>
</message>
<message name="ConsultadearchdefacturasprocResponse">
<part name="parameters" element="tns:ConsultadearchdefacturasprocResponse"/>
</message>
<message name="Consultaarchdeudoresporcontrato">
<part name="parameters" element="tns:Consultaarchdeudoresporcontrato"/>
</message>
<message name="ConsultaarchdeudoresporcontratoResponse">
<part name="parameters" element="tns:ConsultaarchdeudoresporcontratoResponse"/>
</message>
<message name="Consultadearchdefacturaspend">
<part name="parameters" element="tns:Consultadearchdefacturaspend"/>
</message>
<message name="ConsultadearchdefacturaspendResponse">
<part name="parameters" element="tns:ConsultadearchdefacturaspendResponse"/>
</message>
<message name="Consultadedetarchdeudoreserror">
<part name="parameters" element="tns:Consultadedetarchdeudoreserror"/>
</message>
<message name="ConsultadedetarchdeudoreserrorResponse">
<part name="parameters" element="tns:ConsultadedetarchdeudoreserrorResponse"/>
</message>
<message name="Consultadedetarchdeudoresok">
<part name="parameters" element="tns:Consultadedetarchdeudoresok"/>
</message>
<message name="ConsultadedetarchdeudoresokResponse">
<part name="parameters" element="tns:ConsultadedetarchdeudoresokResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Consultadearchdefacturaserr">
<input message="tns:Consultadearchdefacturaserr"/>
<output message="tns:ConsultadearchdefacturaserrResponse"/>
</operation>
<operation name="Consultadearchdefacturasproc">
<input message="tns:Consultadearchdefacturasproc"/>
<output message="tns:ConsultadearchdefacturasprocResponse"/>
</operation>
<operation name="Consultaarchdeudoresporcontrato">
<input message="tns:Consultaarchdeudoresporcontrato"/>
<output message="tns:ConsultaarchdeudoresporcontratoResponse"/>
</operation>
<operation name="Consultadearchdefacturaspend">
<input message="tns:Consultadearchdefacturaspend"/>
<output message="tns:ConsultadearchdefacturaspendResponse"/>
</operation>
<operation name="Consultadedetarchdeudoreserror">
<input message="tns:Consultadedetarchdeudoreserror"/>
<output message="tns:ConsultadedetarchdeudoreserrorResponse"/>
</operation>
<operation name="Consultadedetarchdeudoresok">
<input message="tns:Consultadedetarchdeudoresok"/>
<output message="tns:ConsultadedetarchdeudoresokResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadearchdefacturaserr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadearchdefacturasproc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultaarchdeudoresporcontrato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadearchdefacturaspend">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadedetarchdeudoreserror">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadedetarchdeudoresok">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwinterbanca:7003/svcArchivosConvenios/services"/>
</port>
</service>
</definitions>