Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/archivosConvenios/Resources/XMLSchema_-525487073.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Consultaarchdeudoresporcontrato" type="tns:Consultaarchdeudoresporcontrato"/>

<xs:element name="ConsultaarchdeudoresporcontratoResponse" type="tns:ConsultaarchdeudoresporcontratoResponse"/>

<xs:element name="Consultadearchdefacturaserr" type="tns:Consultadearchdefacturaserr"/>

<xs:element name="ConsultadearchdefacturaserrResponse" type="tns:ConsultadearchdefacturaserrResponse"/>

<xs:element name="Consultadearchdefacturaspend" type="tns:Consultadearchdefacturaspend"/>

<xs:element name="ConsultadearchdefacturaspendResponse" type="tns:ConsultadearchdefacturaspendResponse"/>

<xs:element name="Consultadearchdefacturasproc" type="tns:Consultadearchdefacturasproc"/>

<xs:element name="ConsultadearchdefacturasprocResponse" type="tns:ConsultadearchdefacturasprocResponse"/>

<xs:element name="Consultadedetarchdeudoreserror" type="tns:Consultadedetarchdeudoreserror"/>

<xs:element name="ConsultadedetarchdeudoreserrorResponse" type="tns:ConsultadedetarchdeudoreserrorResponse"/>

<xs:element name="Consultadedetarchdeudoresok" type="tns:Consultadedetarchdeudoresok"/>

<xs:element name="ConsultadedetarchdeudoresokResponse" type="tns:ConsultadedetarchdeudoresokResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="LATAMAGNOFCOLLFILEERRType">
<xs:sequence>
<xs:element name="gLATAMAGNOFCOLLFILEERRDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLATAMAGNOFCOLLFILEERRDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:string" minOccurs="0"/>
<xs:element name="Currency" type="xs:string" minOccurs="0"/>
<xs:element name="DocumentType" type="xs:string" minOccurs="0"/>
<xs:element name="PaymentCode" type="xs:string" minOccurs="0"/>
<xs:element name="InvoiceNumber" type="xs:string" minOccurs="0"/>
<xs:element name="InvoiceDate" type="xs:string" minOccurs="0"/>
<xs:element name="DueDate" type="xs:string" minOccurs="0"/>
<xs:element name="CollectionValue" type="xs:string" minOccurs="0"/>
<xs:element name="OutstandingAmount" type="xs:string" minOccurs="0"/>
<xs:element name="Notes" type="xs:string" minOccurs="0"/>
<xs:element name="ErrorDescription" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LATAMAGCOLLFILEPROCESSEDType">
<xs:sequence>
<xs:element name="gLATAMAGCOLLFILEPROCESSEDDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLATAMAGCOLLFILEPROCESSEDDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:string" minOccurs="0"/>
<xs:element name="ContractId" type="xs:string" minOccurs="0"/>
<xs:element name="ClinetName" type="xs:string" minOccurs="0"/>
<xs:element name="BillCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="InvoiceNumber" type="xs:string" minOccurs="0"/>
<xs:element name="BillIssueDate" type="xs:string" minOccurs="0"/>
<xs:element name="BillDueBy" type="xs:string" minOccurs="0"/>
<xs:element name="BillAmount" type="xs:string" minOccurs="0"/>
<xs:element name="DebtorCode" type="xs:string" minOccurs="0"/>
<xs:element name="PaymentStatus" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FICOHNAGDEBAFFFILEPROCESSEDType">
<xs:sequence>
<xs:element name="AGRCONTRACTID" type="xs:string" minOccurs="0"/>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gFICOHNAGDEBAFFFILEPROCESSEDDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mFICOHNAGDEBAFFFILEPROCESSEDDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DEBTORID" type="xs:string" minOccurs="0"/>
<xs:element name="DEBTORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEBTORNAME" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FICOHNAGDEBAFFFILEUPLOADERRType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gFICOHNAGDEBAFFFILEUPLOADERRDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mFICOHNAGDEBAFFFILEUPLOADERRDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DEBTORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEBTORNAME" type="xs:string" minOccurs="0"/>
<xs:element name="STATUSCODE" type="xs:string" minOccurs="0"/>
<xs:element name="STATUSDESC" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FICOHNAGFILESTATUSDEBAFFENQType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gFICOHNAGFILESTATUSDEBAFFENQDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mFICOHNAGFILESTATUSDEBAFFENQDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="AGRCONTRACTID" type="xs:string" minOccurs="0"/>
<xs:element name="AGRCONTRACTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="FILENAME" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALHEADERLINES" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALBODYLINES" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALHEADERAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALBODYAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="PROCESSDATEANDTIME" type="xs:string" minOccurs="0"/>
<xs:element name="T24DATE" type="xs:string" minOccurs="0"/>
<xs:element name="FILESTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="FILEUPLOADUSER" type="xs:string" minOccurs="0"/>
<xs:element name="ERRORDESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="MAPID" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LATAMAGNOFCOLLFILEPENDType">
<xs:sequence>
<xs:element name="gLATAMAGNOFCOLLFILEPENDDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLATAMAGNOFCOLLFILEPENDDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:string" minOccurs="0"/>
<xs:element name="Currency" type="xs:string" minOccurs="0"/>
<xs:element name="DocumentType" type="xs:string" minOccurs="0"/>
<xs:element name="PaymentCode" type="xs:string" minOccurs="0"/>
<xs:element name="InvoiceNumber" type="xs:string" minOccurs="0"/>
<xs:element name="InvoiceDate" type="xs:string" minOccurs="0"/>
<xs:element name="DueDate" type="xs:string" minOccurs="0"/>
<xs:element name="CollectionValue" type="xs:string" minOccurs="0"/>
<xs:element name="OutstandingAmount" type="xs:string" minOccurs="0"/>
<xs:element name="Notes" type="xs:string" minOccurs="0"/>
<xs:element name="ErrorDescription" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadearchdefacturaspend">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="LATAMAGNOFCOLLFILEPENDType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadearchdefacturaspendResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMAGNOFCOLLFILEPENDType" type="tns:LATAMAGNOFCOLLFILEPENDType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadedetarchdeudoresok">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="FICOHNAGDEBAFFFILEPROCESSEDType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadedetarchdeudoresokResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHNAGDEBAFFFILEPROCESSEDType" type="tns:FICOHNAGDEBAFFFILEPROCESSEDType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadedetarchdeudoreserror">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="FICOHNAGDEBAFFFILEUPLOADERRType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadedetarchdeudoreserrorResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHNAGDEBAFFFILEUPLOADERRType" type="tns:FICOHNAGDEBAFFFILEUPLOADERRType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultaarchdeudoresporcontrato">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="FICOHNAGFILESTATUSDEBAFFENQType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaarchdeudoresporcontratoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOHNAGFILESTATUSDEBAFFENQType" type="tns:FICOHNAGFILESTATUSDEBAFFENQType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadearchdefacturaserr">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="LATAMAGNOFCOLLFILEERRType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadearchdefacturaserrResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMAGNOFCOLLFILEERRType" type="tns:LATAMAGNOFCOLLFILEERRType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadearchdefacturasproc">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="LATAMAGCOLLFILEPROCESSEDType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadearchdefacturasprocResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="LATAMAGCOLLFILEPROCESSEDType" type="tns:LATAMAGCOLLFILEPROCESSEDType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>