Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Messaging/RequestorServices/XSD/messagingTypes.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/messagingTypes" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:loan="http://www.ficohsa.com.hn/middleware.services/messagingTypes" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/commonTypes">
   <xsd:import schemaLocation="../../../../CommonResources/XSD/CommonTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/commonTypes"/>
  <xsd:element name="sendSMSRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GeneralInfo" type="dtt:GeneralInfoType"/>
        <xsd:element name="MobileNumber" type="xsd:decimal"/>
        <xsd:element name="Message" type="xsd:string"/>
        <xsd:element name="MessageType" type="xsd:string"/>
        <xsd:element name="Service" type="xsd:string"/>
        <xsd:element name="MessageSource">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Company" type="xsd:string"/>
              <xsd:element name="DeptCode" type="xsd:string"/>
              <xsd:element name="Application" minOccurs="0" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ErrorCode" minOccurs="0" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="sendSMSResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" type="dtt:StatusInfoType" minOccurs="0"/>
            <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>