Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/archivosConvenios/consultaDetalleArchivoDeudores/consultaDetalleArchivoDeudoresTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaDetalleArchivoDeudoresTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaDetalleArchivoDeudoresTypes">
	
	<xs:complexType name="consultaDetalleArchivoDeudoresResponse">
		<xs:sequence>
			<xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0" />
			<xs:element name="CONTRACT_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="FILE_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="TOTAL_RECORDS" type="xs:string" minOccurs="0" />
			<xs:element name="FILE_STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0" />
			<xs:element name="DETAIL" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DETAIL_RECORD" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DEBTOR_CODE" type="xs:string" minOccurs="0" />
									<xs:element name="DEBTOR_NAME" type="xs:string" minOccurs="0" />
									<xs:element name="RECORD_STATUS" type="xs:string" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	
	</xs:complexType>

	<xs:element name="consultaDetalleArchivoDeudores">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CONTRACT_ID" type="xs:string"/>
	            <xs:element name="FILE_NAME" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaDetalleArchivoDeudoresResponse" type="cons:consultaDetalleArchivoDeudoresResponse"/>
	
</xs:schema>