Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/BusinessServices/AbanksGT/CONFSaldoLibreta/xsd/MCCONFSaldoLibreta_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MCCONFSaldoLibreta" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MCCONFSaldoLibreta" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_ACCOUNT_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PR_PASSBOOK" type="db:PROXYABANKSGT.R_PASSBOOK" db:index="2" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PR_NSO_INFO" type="db:PROXYABANKSGT.R_NSO_INFO" db:index="3" db:type="Struct" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_ACCOUNT_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CONFIRMATION_RESULT" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PR_LAST_PASSBOOK_ENTRY" type="db:PROXYABANKSGT.R_LAST_PASSBOOK_ENTRY" db:index="5" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ESTADO" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ESTADO" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.R_PASSBOOK">
      <sequence>
         <element name="ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LINE_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BALANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_ADDITIONAL_INFO">
      <sequence>
         <element name="KV_PAIRS" type="db:PROXYABANKSGT.T_PAIR" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_PAIR">
      <sequence>
         <element name="KEY" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALUE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_BANKNOTE">
      <sequence>
         <element name="BANKNOTE_ITEM" type="db:PROXYABANKSGT.R_BANKNOTE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_PAIR">
      <sequence>
         <element name="PAIR_ITEM" type="db:PROXYABANKSGT.R_PAIR" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_BANKNOTE">
      <sequence>
         <element name="CURRENCY" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BANKNOTE_VALUE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TOTAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_KV_PAIR">
      <sequence>
         <element name="PAIR" type="db:PROXYABANKSGT.T_PAIR" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_TRACE">
      <sequence>
         <element name="TELLER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BRANCH_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHANNEL_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DATE_TIME" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="QUEUE_TICKET_ID" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TXN_REF_NO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEALSLIP_ID" type="db:string250" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_NSO_INFO">
      <sequence>
         <element name="TRACE" type="db:PROXYABANKSGT.R_TRACE" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="AUTHORIZATION" type="db:PROXYABANKSGT.R_AUTHORIZATION" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="BANKNOTE_BREAKDOWN" type="db:PROXYABANKSGT.R_BANKNOTE_BREAKDOWN" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="ADDITIONAL_INFO" type="db:PROXYABANKSGT.R_ADDITIONAL_INFO" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="CTR_REFERENCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_AUTHORIZATION">
      <sequence>
         <element name="TYPE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="KV_PAIRS" type="db:PROXYABANKSGT.R_KV_PAIR" db:type="Struct" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_BANKNOTE_BREAKDOWN">
      <sequence>
         <element name="BANKNOTE" type="db:PROXYABANKSGT.T_BANKNOTE" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_LAST_PASSBOOK_ENTRY">
      <sequence>
         <element name="LAST_DATE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NATURE" type="db:string6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string6">
      <restriction base="string">
         <maxLength value="6"/>
      </restriction>
   </simpleType>
</schema>
