Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/VisionPlus/consultaSaldosTarjetaCredito/xsd/ConsultaSaldosTarjetaCreditoService_v2.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
  <xs:import schemaLocation="ConsultaSaldosTarjetaCreditoService_v2_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Business.Entities"/>
  <xs:element name="ConsultaSaldosTarjetaCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="q1:ConsultaSaldosTarjetaCreditoIn" xmlns:q1="http://schemas.datacontract.org/2004/07/Business.Entities"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaSaldosTarjetaCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaSaldosTarjetaCreditoResult" nillable="true" type="q2:ConsultaSaldosTarjetaCreditoOut" xmlns:q2="http://schemas.datacontract.org/2004/07/Business.Entities"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>