Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaMovimientosFlotantesTC/xsd/consultaMovimientosFlotantesTCTypes.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosFlotantesTCTypes" 
		xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaMovimientosFlotantesTCTypes"
		version="1.0">
		
	<xs:element name="consultaMovimientosFlotantesTCRequest">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="CARD_NUMBER" type="xs:string"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaMovimientosFlotantesTCResponse" type="cons:consultaMovimientosFlotantesTCResponseRecord">
	</xs:element>

	<xs:complexType  name="consultaMovimientosFlotantesTCResponseRecord">
		<xs:sequence>
			<xs:element name="OWNER_NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
        	<xs:element name="PRINCIPAL_CARD_NUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="TOTAL_LCY_AMOUNT" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
            <xs:element name="TOTAL_USD_AMOUNT" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
            <xs:element name="CARDS" type="cons:CARDSType" minOccurs="1"  maxOccurs="1"/>
       </xs:sequence>
	</xs:complexType>
	
	<xs:complexType  name="CARDSType">
		<xs:sequence>
            <xs:element name="CARD_DETAILS" type="cons:CARD_DETAILSType" minOccurs="0"  maxOccurs="unbounded"/>
       </xs:sequence>
	</xs:complexType>
		
    <xs:complexType name="CARD_DETAILSType">
    	<xs:sequence>
    		<xs:element name="CARD_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LCY_AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="USD_AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="MOVEMENTS" type="cons:MOVEMENTSType" minOccurs="0" maxOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>
    
   <xs:complexType name="MOVEMENTSType">
    	<xs:sequence>
	        <xs:element name="FLOATING_MOVEMENT" type="cons:FLOATING_MOVEMENTType" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="FLOATING_MOVEMENTType">
    	<xs:sequence>
    		<xs:element name="MCC_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MCC_DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="1"/>	        
	        <xs:element name="DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="TIME" type="xs:time" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="AMOUNT" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="FEE" type="xs:integer" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="PAYMENT_METHOD" type="xs:string" minOccurs="0" maxOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>
        
</xs:schema>