Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/LoanOperations/xsd/LoanOperationsTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/loanOperationsTypes"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:lno="http://www.ficohsa.com.hn/middleware.services/loanOperationsTypes"
	xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes"
	xmlns:loa="http://www.ficohsa.com.hn/middleware.services/loanTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes"
		schemaLocation="../../General/xsd/GeneralTypes.xsd" />
	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/loanTypes"
		schemaLocation="../../General/xsd/LoanTypes.xsd" />

	<!-- Loan Query -->
	<xs:element name="loanQuery" type="lno:loanQueryType" />

	<xs:complexType name="loanQueryType">
		<xs:sequence>
			<xs:element name="LOAN_NUMBER" type="gen:loanNumberType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="loanQueryResponse" type="lno:loanQueryRspType" />

	<xs:complexType name="loanQueryRspType">
		<xs:sequence>
			<xs:element name="CUSTOMER_ID" type="gen:greaterThan0"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="LOAN_NUMBER" type="gen:loanNumberType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="NAME" type="gen:stringMinLength1"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="CURRENCY" type="gen:currencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="REQUIRED_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="DUE_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="INSTALLMENTS" type="loa:installmentsType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- Loan Repayment -->
	<xs:element name="loanRepayment" type="lno:loanRepaymentType" />

	<xs:complexType name="loanRepaymentType">
		<xs:sequence>
			<xs:element name="LOAN_NUMBER" type="gen:loanNumberType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="REPAY_TYPE" type="loa:repayType"
				minOccurs="1" maxOccurs="1" /> <!-- normal, extraordinario, anticipado -->
			<xs:element name="PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="loanRepaymentResponse" type="lno:loanRepaymentRspType" />

	<xs:complexType name="loanRepaymentRspType">
		<xs:sequence>
			<xs:element name="PAYMENT_DETAILS" type="loa:paymentDetailsType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>