Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/Recaudos/ConsultarNombreDeudorDeposito/FLINK_OSB_CONSULTAR_REF_DEPOSITANTE.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_CONSULTAR_REF_DEPOSITANTE/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_CONSULTAR_REF_DEPOSITANTE/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_CONTRATO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_DEUDOR" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="NOMBRE_DEUDOR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_ERROR" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>