Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/ConsultaMovimientosCuentaRep/xsd/services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.srvaplcobiscuenta.ecobis.cobiscorp" xmlns:tns2="http://dto2.sdf.cts.cobis.cobiscorp.com" xmlns:Q1="http://dto.srvaplcobisentidades.ecobis.cobiscorp">
    <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/><import schemaLocation="cobiscorp.ecobis.srvaplcobisentidades.dto.xsd" namespace="http://dto.srvaplcobisentidades.ecobis.cobiscorp"/><element name="opBuscarSaldoReservadoSolicitud" type="Q1:OpBuscarSaldoReservadoSolicitud"/><element name="opBuscarSaldoReservadoRespuesta" type="Q1:OpBuscarSaldoReservadoRespuesta"/><element name="opConsultaComisionesSolicitud" type="Q1:OpConsultaComisionesSolicitud"/><element name="opConsultaComisionesRespuesta" type="Q1:OpConsultaComisionesRespuesta"/><element name="opConsultaDetalleCuentaSolicitud" type="Q1:OpConsultaDetalleCuentaSolicitud"/><element name="opConsultaDetalleCuentaRespuesta" type="Q1:OpConsultaDetalleCuentaRespuesta"/><element name="opConsultaFlotanteSolicitud" type="Q1:OpConsultaFlotanteSolicitud"/><element name="opConsultaFlotanteRespuesta" type="Q1:OpConsultaFlotanteRespuesta"/><element name="opConsultaMaestraSaldosSolicitud" type="Q1:OpConsultaMaestraSaldosSolicitud"/><element name="opConsultaMaestraSaldosRespuesta" type="Q1:OpConsultaMaestraSaldosRespuesta"/><element name="opConsultaMovimientoCuentaSolicitud" type="Q1:OpConsultaMovimientoCuentaSolicitud"/><element name="opConsultaMovimientoCuentaRespuesta" type="Q1:OpConsultaMovimientoCuentaRespuesta"/><element name="opConsultaPromedioSolicitud" type="Q1:OpConsultaPromedioSolicitud"/><element name="opConsultaPromedioRespuesta" type="Q1:OpConsultaPromedioRespuesta"/>
</schema>