Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/PerfilCliente/XMLSchema_-994245660.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Consultaperfildecliente" type="tns:Consultaperfildecliente"/>

<xs:element name="ConsultaperfildeclienteResponse" type="tns:ConsultaperfildeclienteResponse"/>

<xs:element name="Consultaperfildeclientehist" type="tns:Consultaperfildeclientehist"/>

<xs:element name="ConsultaperfildeclientehistResponse" type="tns:ConsultaperfildeclientehistResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="WSCUSTOMERFULLType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSCUSTOMERFULLDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSCUSTOMERFULLDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="MNEMONIC" type="xs:string" minOccurs="0"/>
<xs:element name="GIVENNAMES" type="xs:string" minOccurs="0"/>
<xs:element name="FAMILYNAMES" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEOFBUSINESS" type="xs:string" minOccurs="0"/>
<xs:element name="COMMERCIALNAME" type="xs:string" minOccurs="0"/>
<xs:element name="SHORTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESSLINE1" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESSLINE2" type="xs:string" minOccurs="0"/>
<xs:element name="SECTOR" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORNAME" type="xs:string" minOccurs="0"/>
<xs:element name="INDUSTRY" type="xs:string" minOccurs="0"/>
<xs:element name="INDUSTRYNAME" type="xs:string" minOccurs="0"/>
<xs:element name="TARGET" type="xs:string" minOccurs="0"/>
<xs:element name="TARGETNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="RESIDENCE" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALDOCNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALHOLDERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="DATEOFBIRTH" type="xs:string" minOccurs="0"/>
<xs:element name="MARITALSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
<xs:element name="SMS" type="xs:string" minOccurs="0"/>
<xs:element name="PHONE" type="xs:string" minOccurs="0"/>
<xs:element name="FAX" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESSTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="GENERATORTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="COUNTRYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="STATECODE" type="xs:string" minOccurs="0"/>
<xs:element name="CITYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="OCCUPATION" type="xs:string" minOccurs="0"/>
<xs:element name="EMPLOYMENTSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="EMPLOYERSNAME" type="xs:string" minOccurs="0"/>
<xs:element name="MARRIEDLASTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALREPNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALREPID" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFCOMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="PROFESSIONORTRADE" type="xs:string" minOccurs="0"/>
<xs:element name="NUMBEROFDEED" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALREPHOMEPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFPERSON" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORIZATIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORIZATIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="EDUCATIONLEVEL" type="xs:string" minOccurs="0"/>
<xs:element name="SPOUSENAME" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFDEPENDANTS" type="xs:string" minOccurs="0"/>
<xs:element name="INCOMERANGE" type="xs:string" minOccurs="0"/>
<xs:element name="EMPLOYMENTSTART" type="xs:string" minOccurs="0"/>
<xs:element name="MAINADDRESSYN" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERSINCE" type="xs:string" minOccurs="0"/>
<xs:element name="ECONOMICGROUPID" type="xs:string" minOccurs="0"/>
<xs:element name="ECONOMICGROUPNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NATIONALITYID" type="xs:string" minOccurs="0"/>
<xs:element name="RESIDENCEID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISSDATE" type="xs:string" minOccurs="0"/>
<xs:element name="JOBTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CITYOFBIRTH" type="xs:string" minOccurs="0"/>
<xs:element name="SRCOFINCOME" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEDEPENDANT" type="xs:string" minOccurs="0"/>
<xs:element name="RELATIONSHIP" type="xs:string" minOccurs="0"/>
<xs:element name="COLONYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AVENUE" type="xs:string" minOccurs="0"/>
<xs:element name="ADDSTREET" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCK" type="xs:string" minOccurs="0"/>
<xs:element name="HOUSENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="REFERENCES" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFMERCHANT" type="xs:string" minOccurs="0"/>
<xs:element name="INCOMECCY" type="xs:string" minOccurs="0"/>
<xs:element name="PROVIDERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PROVIDERLOCATION" type="xs:string" minOccurs="0"/>
<xs:element name="GEOPROVIDES" type="xs:string" minOccurs="0"/>
<xs:element name="PROVIDERTELNO" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTLOCATION" type="xs:string" minOccurs="0"/>
<xs:element name="SRVPRODOFFER" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTTELNO" type="xs:string" minOccurs="0"/>
<xs:element name="COMMREFNAME" type="xs:string" minOccurs="0"/>
<xs:element name="COMMREFCON" type="xs:string" minOccurs="0"/>
<xs:element name="COMMREFTELNO" type="xs:string" minOccurs="0"/>
<xs:element name="OWNSVEHICLE" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFFGNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFFLNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFSLNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFMDNNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFTELNO" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFRELATION" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFEMPLOYEES" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFPROVIDERS" type="xs:string" minOccurs="0"/>
<xs:element name="RECOLLOFVALUE" type="xs:string" minOccurs="0"/>
<xs:element name="LGLREPTYPEIDEN" type="xs:string" minOccurs="0"/>
<xs:element name="LGLREPMDNNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LGLREPHSTLNO" type="xs:string" minOccurs="0"/>
<xs:element name="LGLREPCLTLNO" type="xs:string" minOccurs="0"/>
<xs:element name="LGLREPEMAIL" type="xs:string" minOccurs="0"/>
<xs:element name="POWEROVRCOMP" type="xs:string" minOccurs="0"/>
<xs:element name="POWERDESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTFSTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTLSTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTMDNNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTHSTLNO" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTCLTLNO" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTEMAIL" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTCURPOSPER" type="xs:string" minOccurs="0"/>
<xs:element name="SHARETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFSALES" type="xs:string" minOccurs="0"/>
<xs:element name="SALESVOLUME" type="xs:string" minOccurs="0"/>
<xs:element name="SHARECAPITAL" type="xs:string" minOccurs="0"/>
<xs:element name="REGISTERDATE" type="xs:string" minOccurs="0"/>
<xs:element name="REGISTERNO" type="xs:string" minOccurs="0"/>
<xs:element name="VOLOFREGISTER" type="xs:string" minOccurs="0"/>
<xs:element name="COMPANYPURPOSE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITSIGNATURE" type="xs:string" minOccurs="0"/>
<xs:element name="MGMTCOUNCIL" type="xs:string" minOccurs="0"/>
<xs:element name="MINUTEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LGLREPFACULTIES" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDIDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDIDNO" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDFSTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDLSTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDMDNNAME" type="xs:string" minOccurs="0"/>
<xs:element name="SHAREPERCENT" type="xs:string" minOccurs="0"/>
<xs:element name="REACHABLECLIENT" type="xs:string" minOccurs="0"/>
<xs:element name="RELATEDPART" type="xs:string" minOccurs="0"/>
<xs:element name="TYPERELPART" type="xs:string" minOccurs="0"/>
<xs:element name="EXTENSION" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAINADELEC" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISEDID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISEDNAME" type="xs:string" minOccurs="0"/>
<xs:element name="RTN" type="xs:string" minOccurs="0"/>
<xs:element name="NEIGHBORHOOD" type="xs:string" minOccurs="0"/>
<xs:element name="PHONEREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORIZATIONLEVEL" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORIZATIONNOTES" type="xs:string" minOccurs="0"/>
<xs:element name="SMENAME" type="xs:string" minOccurs="0"/>
<xs:element name="PROFESSIONDEP" type="xs:string" minOccurs="0"/>
<xs:element name="SOCIETYTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="RESIDENCESTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSCUSTOMERFULLHISTType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSCUSTOMERFULLHISTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSCUSTOMERFULLHISTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="MNEMONIC" type="xs:string" minOccurs="0"/>
<xs:element name="GIVENNAMES" type="xs:string" minOccurs="0"/>
<xs:element name="FAMILYNAMES" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEOFBUSINESS" type="xs:string" minOccurs="0"/>
<xs:element name="COMMERCIALNAME" type="xs:string" minOccurs="0"/>
<xs:element name="SHORTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESSLINE1" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESSLINE2" type="xs:string" minOccurs="0"/>
<xs:element name="SECTOR" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORNAME" type="xs:string" minOccurs="0"/>
<xs:element name="INDUSTRY" type="xs:string" minOccurs="0"/>
<xs:element name="INDUSTRYNAME" type="xs:string" minOccurs="0"/>
<xs:element name="TARGET" type="xs:string" minOccurs="0"/>
<xs:element name="TARGETNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="RESIDENCE" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALDOCNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALHOLDERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="DATEOFBIRTH" type="xs:string" minOccurs="0"/>
<xs:element name="MARITALSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
<xs:element name="SMS" type="xs:string" minOccurs="0"/>
<xs:element name="PHONE" type="xs:string" minOccurs="0"/>
<xs:element name="FAX" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESSTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="GENERATORTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="COUNTRYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="STATECODE" type="xs:string" minOccurs="0"/>
<xs:element name="CITYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="OCCUPATION" type="xs:string" minOccurs="0"/>
<xs:element name="EMPLOYMENTSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="EMPLOYERSNAME" type="xs:string" minOccurs="0"/>
<xs:element name="MARRIEDLASTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALREPNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALREPID" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFCOMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="PROFESSIONORTRADE" type="xs:string" minOccurs="0"/>
<xs:element name="NUMBEROFDEED" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALREPHOMEPHONE" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFPERSON" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORIZATIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORIZATIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="EDUCATIONLEVEL" type="xs:string" minOccurs="0"/>
<xs:element name="SPOUSENAME" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFDEPENDANTS" type="xs:string" minOccurs="0"/>
<xs:element name="INCOMERANGE" type="xs:string" minOccurs="0"/>
<xs:element name="EMPLOYMENTSTART" type="xs:string" minOccurs="0"/>
<xs:element name="MAINADDRESSYN" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERSINCE" type="xs:string" minOccurs="0"/>
<xs:element name="ECONOMICGROUPID" type="xs:string" minOccurs="0"/>
<xs:element name="ECONOMICGROUPNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NATIONALITYID" type="xs:string" minOccurs="0"/>
<xs:element name="RESIDENCEID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISSDATE" type="xs:string" minOccurs="0"/>
<xs:element name="JOBTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CITYOFBIRTH" type="xs:string" minOccurs="0"/>
<xs:element name="SRCOFINCOME" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEDEPENDANT" type="xs:string" minOccurs="0"/>
<xs:element name="RELATIONSHIP" type="xs:string" minOccurs="0"/>
<xs:element name="COLONYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AVENUE" type="xs:string" minOccurs="0"/>
<xs:element name="ADDSTREET" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCK" type="xs:string" minOccurs="0"/>
<xs:element name="HOUSENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="REFERENCES" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFMERCHANT" type="xs:string" minOccurs="0"/>
<xs:element name="INCOMECCY" type="xs:string" minOccurs="0"/>
<xs:element name="PROVIDERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PROVIDERLOCATION" type="xs:string" minOccurs="0"/>
<xs:element name="GEOPROVIDES" type="xs:string" minOccurs="0"/>
<xs:element name="PROVIDERTELNO" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTLOCATION" type="xs:string" minOccurs="0"/>
<xs:element name="SRVPRODOFFER" type="xs:string" minOccurs="0"/>
<xs:element name="CLIENTTELNO" type="xs:string" minOccurs="0"/>
<xs:element name="COMMREFNAME" type="xs:string" minOccurs="0"/>
<xs:element name="COMMREFCON" type="xs:string" minOccurs="0"/>
<xs:element name="COMMREFTELNO" type="xs:string" minOccurs="0"/>
<xs:element name="OWNSVEHICLE" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFFGNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFFLNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFSLNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFMDNNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFTELNO" type="xs:string" minOccurs="0"/>
<xs:element name="PERSREFRELATION" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFEMPLOYEES" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFPROVIDERS" type="xs:string" minOccurs="0"/>
<xs:element name="RECOLLOFVALUE" type="xs:string" minOccurs="0"/>
<xs:element name="LGLREPTYPEIDEN" type="xs:string" minOccurs="0"/>
<xs:element name="LGLREPMDNNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LGLREPHSTLNO" type="xs:string" minOccurs="0"/>
<xs:element name="LGLREPCLTLNO" type="xs:string" minOccurs="0"/>
<xs:element name="LGLREPEMAIL" type="xs:string" minOccurs="0"/>
<xs:element name="POWEROVRCOMP" type="xs:string" minOccurs="0"/>
<xs:element name="POWERDESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTFSTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTLSTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTMDNNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTHSTLNO" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTCLTLNO" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTEMAIL" type="xs:string" minOccurs="0"/>
<xs:element name="CONTACTCURPOSPER" type="xs:string" minOccurs="0"/>
<xs:element name="SHARETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFSALES" type="xs:string" minOccurs="0"/>
<xs:element name="SALESVOLUME" type="xs:string" minOccurs="0"/>
<xs:element name="SHARECAPITAL" type="xs:string" minOccurs="0"/>
<xs:element name="REGISTERDATE" type="xs:string" minOccurs="0"/>
<xs:element name="REGISTERNO" type="xs:string" minOccurs="0"/>
<xs:element name="VOLOFREGISTER" type="xs:string" minOccurs="0"/>
<xs:element name="COMPANYPURPOSE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITSIGNATURE" type="xs:string" minOccurs="0"/>
<xs:element name="MGMTCOUNCIL" type="xs:string" minOccurs="0"/>
<xs:element name="MINUTEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LGLREPFACULTIES" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDIDTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDIDNO" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDFSTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDLSTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="SHRHLDMDNNAME" type="xs:string" minOccurs="0"/>
<xs:element name="SHAREPERCENT" type="xs:string" minOccurs="0"/>
<xs:element name="REACHABLECLIENT" type="xs:string" minOccurs="0"/>
<xs:element name="RELATEDPART" type="xs:string" minOccurs="0"/>
<xs:element name="TYPERELPART" type="xs:string" minOccurs="0"/>
<xs:element name="EXTENSION" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAINADELEC" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISEDID" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALISEDNAME" type="xs:string" minOccurs="0"/>
<xs:element name="RTN" type="xs:string" minOccurs="0"/>
<xs:element name="NEIGHBORHOOD" type="xs:string" minOccurs="0"/>
<xs:element name="PHONEREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORIZATIONLEVEL" type="xs:string" minOccurs="0"/>
<xs:element name="SECTORIZATIONNOTES" type="xs:string" minOccurs="0"/>
<xs:element name="SMENAME" type="xs:string" minOccurs="0"/>
<xs:element name="PROFESSIONDEP" type="xs:string" minOccurs="0"/>
<xs:element name="SOCIETYTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="RESIDENCESTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultaperfildeclientehist">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSCUSTOMERFULLHISTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaperfildeclientehistResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSCUSTOMERFULLHISTType" type="tns:WSCUSTOMERFULLHISTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultaperfildecliente">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSCUSTOMERFULLType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaperfildeclienteResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSCUSTOMERFULLType" type="tns:WSCUSTOMERFULLType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>