Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/GeneraUrlGestionesSaleforce/xsd/generaUrlGestionesSaleforceTypes.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/generaUrlGestionesSaleforceTypes" 
		xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generaUrlGestionesSaleforceTypes"
		version="1.0">
		
	<xs:element name="generaUrlGestionesSaleforce">
        <xs:complexType>
            <xs:sequence>
        <xs:element name="CUSTOMER_FILTER" type="gen:generaUrlGestionesSaleforceClassType"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>

 <!-- generaUrlGestionesSaleforceClassType -->
    
    <xs:complexType name="generaUrlGestionesSaleforceClassType">
        <xs:sequence>
            <xs:element name="CUSTOMER_ID_TYPE" >
            <xs:simpleType>
                <xs:restriction base="gen:minLength1">
                  <xs:enumeration value="LEGAL_ID"/>
                  <xs:enumeration value="DOCUMENT_ID"/>
                </xs:restriction>
             </xs:simpleType>
        </xs:element>  
            
            <xs:element name="CUSTOMER_ID_VALUE" type="xs:string"/>              
        </xs:sequence>
    </xs:complexType>
    
    <!-- customerIdTypeClass -->
    
    <xs:simpleType name="minLength1">
        <xs:restriction base="xs:string">
           <xs:minLength value="1"></xs:minLength>
        </xs:restriction>
    </xs:simpleType>

	<xs:element name="generaUrlGestionesSaleforceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SECURE_URL" type="xs:string" minOccurs="0"/>
				<xs:element name="SESSION_ID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
	</xs:complexType>
</xs:element>
        
</xs:schema>