Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/VASA/obtenerSerializado/wsdl/ConsultaReporte.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerSerializado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="data" nillable="true" type="tns:ObtenerSerializadoRequest"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ObtenerSerializadoRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Periodo" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ProductoNumero" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ProductoTipo" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerSerializadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerSerializadoResult" type="tns:ObtenerSerializadoResponse"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ObtenerSerializadoResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="File" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="NumeroCuenta" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="NumeroTarjeta" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Periodo" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerSerializadoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerSerializado"/>
  </wsdl:message>
  <wsdl:message name="ObtenerSerializadoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerSerializadoResponse"/>
  </wsdl:message>
  <wsdl:portType name="ConsultarReportesSoap">
    <wsdl:operation name="ObtenerSerializado">
      <wsdl:input message="tns:ObtenerSerializadoSoapIn"/>
      <wsdl:output message="tns:ObtenerSerializadoSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultarReportesSoap" type="tns:ConsultarReportesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ObtenerSerializado">
      <soap:operation soapAction="http://tempuri.org/ObtenerSerializado" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultarReportesSoap12" type="tns:ConsultarReportesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ObtenerSerializado">
      <soap12:operation soapAction="http://tempuri.org/ObtenerSerializado" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultarReportes">
    <wsdl:port name="ConsultarReportesSoap" binding="tns:ConsultarReportesSoap">
      <soap:address location="http://172.23.19.8/ConsultarReporte/ConsultarReportes.asmx"/>
    </wsdl:port>
    <wsdl:port name="ConsultarReportesSoap12" binding="tns:ConsultarReportesSoap12">
      <soap12:address location="http://172.23.19.8/ConsultarReporte/ConsultarReportes.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>