Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ProcesarTransaccionCore/xsd/procesarTransaccionCoreTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/procesarTransaccionCoreTypes"
	xmlns:ptc="http://www.ficohsa.com.hn/middleware.services/procesarTransaccionCoreTypes">
    
    <xs:simpleType name="TransactionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RETIRO" />
			<xs:enumeration value="PAGO_TC" />
			<xs:enumeration value="PAGO_REMESA" />
			<xs:enumeration value="PAGO_PRESTAMO" />
			<xs:enumeration value="DEPOSITO" />
			<xs:enumeration value="PAGO_RECAUDO" />
		</xs:restriction>
	</xs:simpleType>
    
    <xs:element name="procesarTransaccionCore">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="TRANSACTION_TYPE" type="xs:string"/>
			<xs:element name="TRANSACTION_ID" type="xs:string"/>
			<xs:element name="USER_CB" type="xs:string"/>
			<xs:element name="CODE_TRANSACTION_T24" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBIT_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBIT_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_CARD_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_AMOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="BALANCE_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="LR_CRCCY" type="xs:string" minOccurs="0"/>
			<xs:element name="LR_CONSUMEAMT" type="xs:string" minOccurs="0"/>
			<xs:element name="CLIENT_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_DETAILS" type="xs:string" minOccurs="0"/>
			<xs:element name="MESSAGGE_ID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="procesarTransaccionCoreResponse" type="ptc:procesarTransaccionCoreResponseType"/>
	
	<xs:complexType name="procesarTransaccionCoreResponseType">
		<xs:sequence>
			<xs:element name="T24_REFERENCE" type="xs:string" minOccurs="0"/>
			<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>