Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaTransacciones/Resources/consultasTransacciones.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="XMLSchema_-928942080.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="XMLSchema_-1217682313.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="ConsultadetransaccionFT">
<part name="parameters" element="tns:ConsultadetransaccionFT"/>
</message>
<message name="ConsultadetransaccionFTResponse">
<part name="parameters" element="tns:ConsultadetransaccionFTResponse"/>
</message>
<message name="ConsultadeTxnACHRecibida">
<part name="parameters" element="tns:ConsultadeTxnACHRecibida"/>
</message>
<message name="ConsultadeTxnACHRecibidaResponse">
<part name="parameters" element="tns:ConsultadeTxnACHRecibidaResponse"/>
</message>
<message name="Consultadetransaccionswitch">
<part name="parameters" element="tns:Consultadetransaccionswitch"/>
</message>
<message name="ConsultadetransaccionswitchResponse">
<part name="parameters" element="tns:ConsultadetransaccionswitchResponse"/>
</message>
<message name="Consultadedetalledeconfcheque">
<part name="parameters" element="tns:Consultadedetalledeconfcheque"/>
</message>
<message name="ConsultadedetalledeconfchequeResponse">
<part name="parameters" element="tns:ConsultadedetalledeconfchequeResponse"/>
</message>
<message name="ConsultadetransaccionhistTT">
<part name="parameters" element="tns:ConsultadetransaccionhistTT"/>
</message>
<message name="ConsultadetransaccionhistTTResponse">
<part name="parameters" element="tns:ConsultadetransaccionhistTTResponse"/>
</message>
<message name="ConsultadetransaccionhistFT">
<part name="parameters" element="tns:ConsultadetransaccionhistFT"/>
</message>
<message name="ConsultadetransaccionhistFTResponse">
<part name="parameters" element="tns:ConsultadetransaccionhistFTResponse"/>
</message>
<message name="ConsultadetransaccionTFS">
<part name="parameters" element="tns:ConsultadetransaccionTFS"/>
</message>
<message name="ConsultadetransaccionTFSResponse">
<part name="parameters" element="tns:ConsultadetransaccionTFSResponse"/>
</message>
<message name="ConsultadetransaccionTT">
<part name="parameters" element="tns:ConsultadetransaccionTT"/>
</message>
<message name="ConsultadetransaccionTTResponse">
<part name="parameters" element="tns:ConsultadetransaccionTTResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="ConsultadetransaccionFT">
<input message="tns:ConsultadetransaccionFT"/>
<output message="tns:ConsultadetransaccionFTResponse"/>
</operation>
<operation name="ConsultadeTxnACHRecibida">
<input message="tns:ConsultadeTxnACHRecibida"/>
<output message="tns:ConsultadeTxnACHRecibidaResponse"/>
</operation>
<operation name="Consultadetransaccionswitch">
<input message="tns:Consultadetransaccionswitch"/>
<output message="tns:ConsultadetransaccionswitchResponse"/>
</operation>
<operation name="Consultadedetalledeconfcheque">
<input message="tns:Consultadedetalledeconfcheque"/>
<output message="tns:ConsultadedetalledeconfchequeResponse"/>
</operation>
<operation name="ConsultadetransaccionhistTT">
<input message="tns:ConsultadetransaccionhistTT"/>
<output message="tns:ConsultadetransaccionhistTTResponse"/>
</operation>
<operation name="ConsultadetransaccionhistFT">
<input message="tns:ConsultadetransaccionhistFT"/>
<output message="tns:ConsultadetransaccionhistFTResponse"/>
</operation>
<operation name="ConsultadetransaccionTFS">
<input message="tns:ConsultadetransaccionTFS"/>
<output message="tns:ConsultadetransaccionTFSResponse"/>
</operation>
<operation name="ConsultadetransaccionTT">
<input message="tns:ConsultadetransaccionTT"/>
<output message="tns:ConsultadetransaccionTTResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultadetransaccionFT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultadeTxnACHRecibida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadetransaccionswitch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consultadedetalledeconfcheque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultadetransaccionhistTT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultadetransaccionhistFT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultadetransaccionTFS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultadetransaccionTT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwomnicanal:7003/svcConsultasTransacciones/services"/>
</port>
</service>
</definitions>