Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaTransacciones/Resources/XMLSchema_-1217682313.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="ConsultadeTxnACHRecibida" type="tns:ConsultadeTxnACHRecibida"/>

<xs:element name="ConsultadeTxnACHRecibidaResponse" type="tns:ConsultadeTxnACHRecibidaResponse"/>

<xs:element name="Consultadedetalledeconfcheque" type="tns:Consultadedetalledeconfcheque"/>

<xs:element name="ConsultadedetalledeconfchequeResponse" type="tns:ConsultadedetalledeconfchequeResponse"/>

<xs:element name="ConsultadetransaccionFT" type="tns:ConsultadetransaccionFT"/>

<xs:element name="ConsultadetransaccionFTResponse" type="tns:ConsultadetransaccionFTResponse"/>

<xs:element name="ConsultadetransaccionTFS" type="tns:ConsultadetransaccionTFS"/>

<xs:element name="ConsultadetransaccionTFSResponse" type="tns:ConsultadetransaccionTFSResponse"/>

<xs:element name="ConsultadetransaccionTT" type="tns:ConsultadetransaccionTT"/>

<xs:element name="ConsultadetransaccionTTResponse" type="tns:ConsultadetransaccionTTResponse"/>

<xs:element name="ConsultadetransaccionhistFT" type="tns:ConsultadetransaccionhistFT"/>

<xs:element name="ConsultadetransaccionhistFTResponse" type="tns:ConsultadetransaccionhistFTResponse"/>

<xs:element name="ConsultadetransaccionhistTT" type="tns:ConsultadetransaccionhistTT"/>

<xs:element name="ConsultadetransaccionhistTTResponse" type="tns:ConsultadetransaccionhistTTResponse"/>

<xs:element name="Consultadetransaccionswitch" type="tns:Consultadetransaccionswitch"/>

<xs:element name="ConsultadetransaccionswitchResponse" type="tns:ConsultadetransaccionswitchResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="WSFTTRANSACTIONType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFTTRANSACTIONDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFTTRANSACTIONDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSACTIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITACCTALTID" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITACCTALTID" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTDEBITED" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTCREDITED" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTDETAILS" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="AGRPAYMETHOD" type="xs:string" minOccurs="0"/>
<xs:element name="EXTERNALBENACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CONTRACTID" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="REMITTANCEID" type="xs:string" minOccurs="0"/>
<xs:element name="COLLPAYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="PARENTREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHRGTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CHRGAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="ORDERINGCUST" type="xs:string" minOccurs="0"/>
<xs:element name="T24LOANTXNREF" type="xs:string" minOccurs="0"/>
<xs:element name="T24LOANNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="T24LOANPREVBAL" type="xs:string" minOccurs="0"/>
<xs:element name="BENCUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="BENREMTNAMEACH" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTBENACH" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEBANKBENREMTACH" type="xs:string" minOccurs="0"/>
<xs:element name="REASONACH" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTDEBITNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTCREDITNAME" type="xs:string" minOccurs="0"/>
<xs:element name="REASONTXN" type="xs:string" minOccurs="0"/>
<xs:element name="CHQDEV" type="xs:string" minOccurs="0"/>
<xs:element name="RATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYNAME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSACHINCOMINGType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSACHINCOMINGDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSACHINCOMINGDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LOCALTXNID" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="TXNSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="TXNTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="GLOBALREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="IDBANK" type="xs:string" minOccurs="0"/>
<xs:element name="IDPRODUCT" type="xs:string" minOccurs="0"/>
<xs:element name="TXNLEGENTBANK" type="xs:string" minOccurs="0"/>
<xs:element name="IDREJECTION" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSSWITCHTRANSACTIONType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSSWITCHTRANSACTIONDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSSWITCHTRANSACTIONDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="TXNREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="ATMID" type="xs:string" minOccurs="0"/>
<xs:element name="NETWORKID" type="xs:string" minOccurs="0"/>
<xs:element name="TRACENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="TXNDATE" type="xs:string" minOccurs="0"/>
<xs:element name="TXNTIME" type="xs:string" minOccurs="0"/>
<xs:element name="MCCCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHNAME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSCHQCONFIRMTXNType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSCHQCONFIRMTXNDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSCHQCONFIRMTXNDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEACCTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSTTTRANSACTIONHISTType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSTTTRANSACTIONHISTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSTTTRANSACTIONHISTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONNAME" type="xs:string" minOccurs="0"/>
<xs:element name="TELLERID1" type="xs:string" minOccurs="0"/>
<xs:element name="TELLERID2" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNT1" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY1" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLOCAL1" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTFCY1" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNT2" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNT2ALTID" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY2" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLOCAL2" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTFCY2" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="REQUIRESRTE" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="NARRATIVE" type="xs:string" minOccurs="0"/>
<xs:element name="DRCRMARKER" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHNAME" type="xs:string" minOccurs="0"/>
<xs:element name="USDBUYRATE" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="AGRPAYMETHOD" type="xs:string" minOccurs="0"/>
<xs:element name="NETAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="REMITTANCEID" type="xs:string" minOccurs="0"/>
<xs:element name="COLLPAYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="PARENTREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="LOANNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="T24LOANTXNREF" type="xs:string" minOccurs="0"/>
<xs:element name="T24LOANNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="T24LOANPREVBAL" type="xs:string" minOccurs="0"/>
<xs:element name="INSTRUCTINGPARTY" type="xs:string" minOccurs="0"/>
<xs:element name="CHQDEV" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFTTRANSACTIONHISTType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSFTTRANSACTIONHISTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFTTRANSACTIONHISTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSACTIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITACCTALTID" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITACCTALTID" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTDEBITED" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTCREDITED" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTDETAILS" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="AGRPAYMETHOD" type="xs:string" minOccurs="0"/>
<xs:element name="EXTERNALBENACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CONTRACTID" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="REMITTANCEID" type="xs:string" minOccurs="0"/>
<xs:element name="COLLPAYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="PARENTREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="COMMAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHRGTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CHRGAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="ORDERINGCUST" type="xs:string" minOccurs="0"/>
<xs:element name="T24LOANTXNREF" type="xs:string" minOccurs="0"/>
<xs:element name="T24LOANNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="T24LOANPREVBAL" type="xs:string" minOccurs="0"/>
<xs:element name="BENCUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="BENREMTNAMEACH" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTBENACH" type="xs:string" minOccurs="0"/>
<xs:element name="NAMEBANKBENREMTACH" type="xs:string" minOccurs="0"/>
<xs:element name="REASONACH" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTDEBITNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTCREDITNAME" type="xs:string" minOccurs="0"/>
<xs:element name="REASONTXN" type="xs:string" minOccurs="0"/>
<xs:element name="CHQDEV" type="xs:string" minOccurs="0"/>
<xs:element name="RATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYNAME" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSTFSTRANSACTIONType">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="ORIGTXN" type="xs:string" minOccurs="0"/>
<xs:element name="TXNDESC" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARYACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="TXNAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="BOOKINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHNAME" type="xs:string" minOccurs="0"/>
<xs:element name="TXNCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSTFSTRANSACTIONDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSTFSTRANSACTIONDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHILDTXNID" type="xs:string" minOccurs="0"/>
<xs:element name="CHILDTXNCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHILDTXNAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHILDTXNCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHILDTXNCHQNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHILDTXNCHQBANK" type="xs:string" minOccurs="0"/>
<xs:element name="CHILDTXNBANKNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CHILDTXNDESC" type="xs:string" minOccurs="0"/>
<xs:element name="CHILDTXNDESCFULL" type="xs:string" minOccurs="0"/>
<xs:element name="DEPOSITLIBRADOR" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSTTTRANSACTIONType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSTTTRANSACTIONDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSTTTRANSACTIONDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONNAME" type="xs:string" minOccurs="0"/>
<xs:element name="TELLERID1" type="xs:string" minOccurs="0"/>
<xs:element name="TELLERID2" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNT1" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY1" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLOCAL1" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTFCY1" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNT2" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNT2ALTID" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY2" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLOCAL2" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTFCY2" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="REQUIRESRTE" type="xs:string" minOccurs="0"/>
<xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="NARRATIVE" type="xs:string" minOccurs="0"/>
<xs:element name="DRCRMARKER" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHNAME" type="xs:string" minOccurs="0"/>
<xs:element name="USDBUYRATE" type="xs:string" minOccurs="0"/>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="AGRPAYMETHOD" type="xs:string" minOccurs="0"/>
<xs:element name="NETAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="REMITTANCEID" type="xs:string" minOccurs="0"/>
<xs:element name="COLLPAYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="PARENTREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="LOANNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="T24LOANTXNREF" type="xs:string" minOccurs="0"/>
<xs:element name="T24LOANNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="T24LOANPREVBAL" type="xs:string" minOccurs="0"/>
<xs:element name="INSTRUCTINGPARTY" type="xs:string" minOccurs="0"/>
<xs:element name="CHQDEV" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadetransaccionswitch">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSSWITCHTRANSACTIONType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetransaccionswitchResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSSWITCHTRANSACTIONType" type="tns:WSSWITCHTRANSACTIONType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadeTxnACHRecibida">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSACHINCOMINGType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadeTxnACHRecibidaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSACHINCOMINGType" type="tns:WSACHINCOMINGType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetransaccionTFS">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSTFSTRANSACTIONType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetransaccionTFSResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSTFSTRANSACTIONType" type="tns:WSTFSTRANSACTIONType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetransaccionTT">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSTTTRANSACTIONType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetransaccionTTResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSTTTRANSACTIONType" type="tns:WSTTTRANSACTIONType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetransaccionhistFT">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFTTRANSACTIONHISTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetransaccionhistFTResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFTTRANSACTIONHISTType" type="tns:WSFTTRANSACTIONHISTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetransaccionhistTT">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSTTTRANSACTIONHISTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetransaccionhistTTResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSTTTRANSACTIONHISTType" type="tns:WSTTTRANSACTIONHISTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadedetalledeconfcheque">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSCHQCONFIRMTXNType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadedetalledeconfchequeResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSCHQCONFIRMTXNType" type="tns:WSCHQCONFIRMTXNType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetransaccionFT">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFTTRANSACTIONType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetransaccionFTResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFTTRANSACTIONType" type="tns:WSFTTRANSACTIONType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>