Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/DepositoEfecMonLocalEnMonExtranjera/DepositoEfecMonLocalEnMonExtranjera.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="DepositoEfectivoMLME" type="tns:DepositoEfectivoMLME"/>

<xs:element name="DepositoEfectivoMLMEResponse" type="tns:DepositoEfectivoMLMEResponse"/>

<xs:complexType name="TELLERType">
<xs:sequence>
<xs:element name="TRANSACTIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TELLERID1" type="xs:string" minOccurs="0"/>
<xs:element name="DRCRMARKER" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY1" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMER1" type="xs:string" minOccurs="0"/>
<xs:element name="gACCOUNT1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCOUNT1" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCOUNT1" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLOCAL1" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTFCY1" type="xs:string" minOccurs="0"/>
<xs:element name="sgNARRATIVE1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NARRATIVE1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RATE1" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE1" type="xs:string" minOccurs="0"/>
<xs:element name="EXPOSUREDATE1" type="xs:string" minOccurs="0"/>
<xs:element name="CURRMARKET1" type="xs:string" minOccurs="0"/>
<xs:element name="POSTYPE1" type="xs:string" minOccurs="0"/>
<xs:element name="DEALRATE" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY2" type="xs:string" minOccurs="0"/>
<xs:element name="TELLERID2" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNT2" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMER2" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTLOCAL2" type="xs:string" minOccurs="0"/>
<xs:element name="RATE2" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTFCY2" type="xs:string" minOccurs="0"/>
<xs:element name="NETAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE2" type="xs:string" minOccurs="0"/>
<xs:element name="EXPOSUREDATE2" type="xs:string" minOccurs="0"/>
<xs:element name="CURRMARKET2" type="xs:string" minOccurs="0"/>
<xs:element name="POSTYPE2" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATIVE2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NARRATIVE2" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCHEQUENUMBER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHEQUENUMBER" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEBANKCDE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEACCTNO" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gCHARGECUSTOMER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHARGECUSTOMER" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHARGECUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGECATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="CHRGDRTXNCDE" type="xs:string" minOccurs="0"/>
<xs:element name="CHRGCRTXNCDE" type="xs:string" minOccurs="0"/>
<xs:element name="CHRGAMTLOCAL" type="xs:string" minOccurs="0"/>
<xs:element name="CHRGAMTFCCY" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGECODE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="WAIVECHARGES" type="xs:string" minOccurs="0"/>
<xs:element name="THEIRREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="OURREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="gDENOMINATION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mDENOMINATION" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DENOMINATION" type="xs:string" minOccurs="0"/>
<xs:element name="UNIT" type="xs:string" minOccurs="0"/>
<xs:element name="sgSERIALNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="SERIALNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDRDENOM" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mDRDENOM" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="DRDENOM" type="xs:string" minOccurs="0"/>
<xs:element name="DRUNIT" type="xs:string" minOccurs="0"/>
<xs:element name="sgDRSERIALNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DRSERIALNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="TRUSTCUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="ROUNDINGAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="gNEWCUSTBAL" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NEWCUSTBAL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AMOUNTDEPOSITED" type="xs:string" minOccurs="0"/>
<xs:element name="MKTEXCHPROFIT" type="xs:string" minOccurs="0"/>
<xs:element name="TRUSTSETTLECUST" type="xs:string" minOccurs="0"/>
<xs:element name="EXPOSURECCY" type="xs:string" minOccurs="0"/>
<xs:element name="gEXPACCT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mEXPACCT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="EXPACCT" type="xs:string" minOccurs="0"/>
<xs:element name="sgEXPSPTDAT" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="EXPSPTDAT" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="EXPSPTDAT" type="xs:string" minOccurs="0"/>
<xs:element name="EXPSPTAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DEALERDESK" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="STOCKREGISTER" type="xs:string" minOccurs="0"/>
<xs:element name="SERIESID" type="xs:string" minOccurs="0"/>
<xs:element name="STOCKNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CONTRACTGRP" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CONTRACTMATDATE" type="xs:string" minOccurs="0"/>
<xs:element name="POSSDUPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CARDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="gCARDTXNDETAIL" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="CARDTXNDETAIL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="TFSREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEDRAWN" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED_1" type="xs:string" minOccurs="0"/>
<xs:element name="gSTMTNO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="STMTNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="gSTOCK.CODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mSTOCK.CODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="STOCKCODE" type="xs:string" minOccurs="0"/>
<xs:element name="QUANTITY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="DISCITEM" type="xs:string" minOccurs="0"/>
<xs:element name="PARTPAYMENT" type="xs:string" minOccurs="0"/>
<xs:element name="BALREPAYMENT" type="xs:string" minOccurs="0"/>
<xs:element name="gTRANS.REF" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TRANSREF" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gPEND.STOCK.CODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mPEND.STOCK.CODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="PENDSTOCKCODE" type="xs:string" minOccurs="0"/>
<xs:element name="PENDINGAMOUNT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="SHORTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRTRMNLID" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.INVOICE.NO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.INVOICE.NO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRINVOICENO" type="xs:string" minOccurs="0"/>
<xs:element name="LRINVOICEDT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPENALITYAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPARTIALAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRTOTALAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYYN" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRIDENCODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRTAXYEAR" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.TAX.PAY.NAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRTAXPAYNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRTOTTAXDUE" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.MONTH" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.MONTH" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRMONTH" type="xs:string" minOccurs="0"/>
<xs:element name="LRAMTTOPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRTAXPAY" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRAGCLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRCCARDNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPORTVAL" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPORTPLACE" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPORTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPPOINTNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPPOINTDT" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPPOINTCHG" type="xs:string" minOccurs="0"/>
<xs:element name="LRAPPOINTTIME" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRORDPARID" type="xs:string" minOccurs="0"/>
<xs:element name="LRORDNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTCNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENID" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRRECMODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRRECDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMITCODE" type="xs:string" minOccurs="0"/>
<xs:element name="RTEFORM" type="xs:string" minOccurs="0"/>
<xs:element name="LRIDNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="LRDATEBIRTH" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.STK.CODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.STK.CODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRSTKCODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRPRODQUANT" type="xs:string" minOccurs="0"/>
<xs:element name="LRUNITPRICE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="CLIENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRTTDRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRMETHODPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRNXTISTAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRNXTISTDAT" type="xs:string" minOccurs="0"/>
<xs:element name="LROUTSDAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVECHG" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAIVETYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRWAVPARAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRARRMENTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRDLSLIPPR" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRPARPAYAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYPARDAT" type="xs:string" minOccurs="0"/>
<xs:element name="LRSENNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRCERTCHQNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LRCERTCHQISS" type="xs:string" minOccurs="0"/>
<xs:element name="LREMPCODE" type="xs:string" minOccurs="0"/>
<xs:element name="LREMPNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRTOTAMTPAY" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYMODE" type="xs:string" minOccurs="0"/>
<xs:element name="LRBALAMT" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.BL.BATCH" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.BL.BATCH" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBLBATCH" type="xs:string" minOccurs="0"/>
<xs:element name="LRBATCHAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gLR.BL.REG.NO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mLR.BL.REG.NO" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="LRBLREGNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRBILLAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="LRBLSTATUS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRBLCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRNOOFBILLS" type="xs:string" minOccurs="0"/>
<xs:element name="LRTOTBILLAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRBILLLOC" type="xs:string" minOccurs="0"/>
<xs:element name="LRTENTXT" type="xs:string" minOccurs="0"/>
<xs:element name="DAOBRANCH" type="xs:string" minOccurs="0"/>
<xs:element name="LRHALFPYMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRESIDENT" type="xs:string" minOccurs="0"/>
<xs:element name="LRTTCRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBCATEG" type="xs:string" minOccurs="0"/>
<xs:element name="LRITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LRGROUP" type="xs:string" minOccurs="0"/>
<xs:element name="LRTELVERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRRECALCULATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRBALDUE" type="xs:string" minOccurs="0"/>
<xs:element name="LRIDENTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.NARRATIVE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRNARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRPAYNOTES" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMITMSG" type="xs:string" minOccurs="0"/>
<xs:element name="LRAGRCLIENT" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.REMIT.ADD" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRREMITADD" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRREMITMOBILE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCOUNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCITY" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMITTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHQUEDEPSIT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRTCARDNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LRCLRZONECDE" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHQDPSTTME" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHARGEACCT" type="xs:string" minOccurs="0"/>
<xs:element name="LRDEPCUSTID" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINCCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRDESTINACCT" type="xs:string" minOccurs="0"/>
<xs:element name="LRCHQEXPDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRACCTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="LROTHEROFFCER" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRNATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="LRGENDER" type="xs:string" minOccurs="0"/>
<xs:element name="LRMARSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="LRDOB" type="xs:string" minOccurs="0"/>
<xs:element name="LRDICORPNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRAGENCYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TYPEOFCOMPANY" type="xs:string" minOccurs="0"/>
<xs:element name="LRLEGALISEDID" type="xs:string" minOccurs="0"/>
<xs:element name="LRFCYDECNO" type="xs:string" minOccurs="0"/>
<xs:element name="LRALCANCNFNO" type="xs:string" minOccurs="0"/>
<xs:element name="LREXPIRYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRORIGINITEM" type="xs:string" minOccurs="0"/>
<xs:element name="LREXCHRTBR" type="xs:string" minOccurs="0"/>
<xs:element name="LRDAYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LREMAILID" type="xs:string" minOccurs="0"/>
<xs:element name="LRCLIENTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LRAUCALLOW" type="xs:string" minOccurs="0"/>
<xs:element name="LRSUBCATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="LOANNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="LRECONOMICACT" type="xs:string" minOccurs="0"/>
<xs:element name="LRITEMSUBITM" type="xs:string" minOccurs="0"/>
<xs:element name="LRFICOAUCTION" type="xs:string" minOccurs="0"/>
<xs:element name="LRUSDCRAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRUSDAUCAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRRATEOPTION" type="xs:string" minOccurs="0"/>
<xs:element name="LRAUCRATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRBNKAUCAMT" type="xs:string" minOccurs="0"/>
<xs:element name="LRAUCINPREF" type="xs:string" minOccurs="0"/>
<xs:element name="LRMAPID" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPISSUEDT" type="xs:string" minOccurs="0"/>
<xs:element name="LRPPVALDATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRRSCHGLCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRRSCHGFCY" type="xs:string" minOccurs="0"/>
<xs:element name="LRCUSTRATE" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.SEC.BEN.NAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRSECBENNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRFRQCUSTNUM" type="xs:string" minOccurs="0"/>
<xs:element name="LRDATEOFBIR" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.OCCUPATION" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LROCCUPATION" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRAGENTCNTRY" type="xs:string" minOccurs="0"/>
<xs:element name="LRAGENTCITY" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENFIRNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRBENLASNAME" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMFIRNAM" type="xs:string" minOccurs="0"/>
<xs:element name="LRREMLASNAM" type="xs:string" minOccurs="0"/>
<xs:element name="LRSTATE" type="xs:string" minOccurs="0"/>
<xs:element name="LRTYPECLIENT" type="xs:string" minOccurs="0"/>
<xs:element name="LRREJRESON" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.GVT.ACC.NAME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRGVTACCNAME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="LRPARTQUANT" type="xs:string" minOccurs="0"/>
<xs:element name="LRREVINP" type="xs:string" minOccurs="0"/>
<xs:element name="LRCRDCARDSEQ" type="xs:string" minOccurs="0"/>
<xs:element name="gLR.FLINK.CNF.NO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="LRFLINKCNFNO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="JMSRESP" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="TELLERFICOFCYCASHINType">
<xs:sequence>
<xs:element name="DRCRMARKER" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCYDEPOSITED" type="xs:string" minOccurs="0"/>
<xs:element name="gACCOUNT1" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACCOUNT1" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="INTERNALACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNTDEPOSITED" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="EXCHANGERATE" type="xs:string" minOccurs="0"/>
<xs:element name="CREDITCURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
<xs:element name="NETAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="gNARRATIVE2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="NARRATIVE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="WAIVECHARGES" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoEfectivoMLME">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="TELLERFICOFCYCASHINType" type="tns:TELLERFICOFCYCASHINType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoEfectivoMLMEResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="TELLERType" type="tns:TELLERType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>