Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ACH/ValidaProductoACH/EnviadoGT/xsd/_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/ValidaQueriesTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/ValidaQueriesTypes">
  <!--Request-->
  <xs:element name="ValidaQueriesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Destination" type="xs:string"/>
        <xs:element name="Type" type="xs:string"/>
        <xs:element name="Payload">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Account" type="xs:string"/>
              <xs:element name="Currency" type="xs:string"/>
              <xs:element name="Product" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Source" type="xs:string"/>
        <xs:element name="UUID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--Response ValidaQueriesResponse-->
  <xs:element name="ValidaQueriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Destination" type="xs:string"/>
        <xs:element name="Payload">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Found" type="xs:string"/>
              <xs:element name="Name" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Type" type="xs:string"/>
        <xs:element name="UUID" type="xs:string"/>
        <xs:element name="Source" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>