Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaBuroInterno_v2/wsdl/ConsultaBuroInterno_v2.wsdl

<WL5G3N0:definitions name="consultaBuroInternoPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_-1764769381.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoPS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoTypes" schemaLocation="../xsd/XMLSchema_1300364703.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part element="WL5G3N1:RequestHeader" name="RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part element="WL5G3N1:ResponseHeader" name="ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaBuroInternoRequest">
    <WL5G3N0:part element="WL5G3N2:consultaBuroInterno" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaBuroInternoResponse">
    <WL5G3N0:part element="WL5G3N2:consultaBuroInternoResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="consultaBuroInternoPS">
    <WL5G3N0:operation name="consultaBuroInterno" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaBuroInternoRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaBuroInternoResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="consultaBuroInternoPSSOAP" type="WL5G3N3:consultaBuroInternoPS">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="consultaBuroInterno">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoPS/NewOperation"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal"/>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="consultaBuroInternoPS">
    <WL5G3N0:port binding="WL5G3N3:consultaBuroInternoPSSOAP" name="consultaBuroInternoPSSOAP">
      <WL5G3N4:address location="http://JOSPINA.CIDENET.LOCAL:7001/Middleware/RiskAndCompliance/RegulationsAndCompliance/RegulatoryReporting/ConsultaBuroInterno"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>