Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/DesembolsoLineaCredito_v2/xsd/XMLSchema_1382388946.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/desembolsoLineaCreditoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/desembolsoLineaCreditoTypes">

	<!-- stringMinLength1Type -->
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="paginType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YES"/>
			<xs:enumeration value="NO"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="actionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AUTHORIZE"/>
			<xs:enumeration value="REJECT"/>
		</xs:restriction>
	</xs:simpleType>

	<!--################################## -->
	<!--OPERACION: CREAR SOLICITUD CLIENTE -->
	<!--################################## -->
	<!-- request -->
	<xs:element name="crearSolicitudCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="tns:stringMinLength1"/>
				<xs:element name="CREDIT_LINE_ID" type="tns:stringMinLength1"/>
				<xs:element name="DESTINATION_PRODUCT">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="tns:stringMinLength1"/>
							<xs:element name="TYPE" type="tns:stringMinLength1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LOAN_CURRENCY" type="tns:stringMinLength1"/>
				<xs:element name="PAYMENT_TERMS" type="xs:integer"/>
				<xs:element name="REQUEST_AMOUNT" type="tns:stringMinLength1"/>
				<xs:element name="REPAYMENT_TYPE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CODE" type="tns:stringMinLength1"/>
							<xs:element name="FRECUENCY" type="xs:integer"/>
							<xs:element name="INITIAL_PAYMENT_DATE" type="xs:date" minOccurs="0"/>
							<xs:element name="PAYMENT_DAY" type="xs:integer" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DEBIT_ACCOUNT_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="REQUEST_USER" type="tns:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- response -->
	<xs:element name="crearSolicitudClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="REQUEST_DETAILS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="xs:integer" minOccurs="0"/>
							<xs:element name="INCOME_DATE" type="xs:date" minOccurs="0"/>
							<xs:element name="STATUS" type="xs:integer" minOccurs="0"/>
							<xs:element name="STATUS_DESCRIPTION" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--####################################### -->
	<!--OPERACION: CONSULTA SOLICITUDES CLIENTE -->
	<!--####################################### -->
	<!-- request -->
	<xs:element name="consultaSolicitudesCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:integer"/>
				<xs:element name="BEGIN_DATE" type="tns:stringMinLength1"/>
				<xs:element name="END_DATE" type="tns:stringMinLength1"/>
				<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="PAGING_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PAGING" type="tns:paginType"/>
							<xs:element name="INITIAL_RECORD" type="xs:string" minOccurs="0"/>
							<xs:element name="RECORD_COUNT" type="xs:string" minOccurs="0"/>
							<xs:element name="TICKET" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- response -->
	<xs:element name="consultaSolicitudesClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:integer" minOccurs="0"/>
				<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="RECORDS_INFO" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="INITIAL_RECORD" type="xs:integer" minOccurs="0"/>
							<xs:element name="RECORDS_RETURNED" type="xs:integer" minOccurs="0"/>
							<xs:element name="RECORDS_TOTAL" type="xs:integer" minOccurs="0"/>
							<xs:element name="TICKET" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="REQUEST_DETAILS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="REQUEST" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:integer" minOccurs="0"/>
										<xs:element name="INCOME_DATE" type="xs:string" minOccurs="0"/>
										<xs:element name="STATUS" type="xs:integer" minOccurs="0"/>
										<xs:element name="STATUS_DESCRIPTION" type="xs:string" minOccurs="0"/>
										<xs:element name="CREDIT_LINE_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="DESTINATION_PRODUCT_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="DESTINATION_PRODUCT_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="LOAN_CURRENCY" type="xs:string" minOccurs="0"/>
										<xs:element name="PAYMENT_TERM" type="xs:integer" minOccurs="0"/>
										<xs:element name="REQUEST_AMOUNT" type="xs:string" minOccurs="0"/>
										<xs:element name="DEBIT_ACCOUNT_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="LOAN_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="CREDIT_AMOUNT" type="xs:string" minOccurs="0"/>
										<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="INSTALLMENT_VALUE" type="xs:string" minOccurs="0"/>
										<xs:element name="APPLICATION_DATE" type="xs:string" minOccurs="0"/>
										<xs:element name="PAYMENT_VOUCHER" type="xs:string" minOccurs="0"/>
										<xs:element name="CHANNEL_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="REQUEST_USER" type="xs:string" minOccurs="0"/>
										<xs:element name="AUTHORIZATION_USER" type="xs:string" minOccurs="0"/>
										<xs:element name="ERROR_CODE" type="xs:integer" minOccurs="0"/>
										<xs:element name="P_ERROR_DESCRIPTION" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--########################################### -->
	<!--OPERACION: CONSULTA INFORMACION SOLICITUDES -->
	<!--########################################### -->
	<!-- request -->
	<xs:element name="consultaInformacionSolicitudes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:integer"/>
				<xs:element name="REQUEST_DETAILS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="REQUEST" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:integer"/>
										<xs:element name="INCOME_DATE" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- response -->
	<xs:element name="consultaInformacionSolicitudesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:integer" minOccurs="0"/>
				<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="REQUEST_DETAILS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="REQUEST" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:integer" minOccurs="0"/>
										<xs:element name="INCOME_DATE" type="xs:string" minOccurs="0"/>
										<xs:element name="STATUS" type="xs:integer" minOccurs="0"/>
										<xs:element name="STATUS_DESCRIPTION" type="xs:string" minOccurs="0"/>
										<xs:element name="CREDIT_LINE_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="DESTINATION_PRODUCT_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="DESTINATION_PRODUCT_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="LOAN_CURRENCY" type="xs:string" minOccurs="0"/>
										<xs:element name="PAYMENT_TERM" type="xs:integer" minOccurs="0"/>
										<xs:element name="REQUEST_AMOUNT" type="xs:string" minOccurs="0"/>
										<xs:element name="DEBIT_ACCOUNT_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="LOAN_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="CREDIT_AMOUNT" type="xs:string" minOccurs="0"/>
										<xs:element name="TRANSACTION_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="INSTALLMENT_VALUE" type="xs:string" minOccurs="0"/>
										<xs:element name="APPLICATION_DATE" type="xs:string" minOccurs="0"/>
										<xs:element name="CHANNEL_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="REQUEST_USER" type="xs:string" minOccurs="0"/>
										<xs:element name="AUTHORIZATION_USER" type="xs:string" minOccurs="0"/>
										<xs:element name="ERROR_CODE" type="xs:string" minOccurs="0"/>
										<xs:element name="ERROR_DESCRIPTION" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--##################################### -->
	<!--OPERACION: PROCESAR SOLITUDES CLIENTE -->
	<!--##################################### -->
	<!-- request -->
	<xs:element name="procesarSolicitudesCliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:integer"/>
				<xs:element name="ACTION" type="tns:actionType"/>
				<xs:element name="AUTHORIZATION_USER" type="tns:stringMinLength1"/>
				<xs:element name="REQUEST_DETAILS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="REQUEST" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:integer"/>
										<xs:element name="INCOME_DATE" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- response -->
	<xs:element name="procesarSolicitudesClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:integer" minOccurs="0"/>
				<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="REQUEST_DETAILS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="REQUEST" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:integer" minOccurs="0"/>
										<xs:element name="INCOME_DATE" type="xs:string" minOccurs="0"/>
										<xs:element name="STATUS" type="xs:integer" minOccurs="0"/>
										<xs:element name="STATUS_DESCRIPTION" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>