Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/PWS/reversaTC/xsd/reversaTC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/reversaTC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/reversaTC" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_NUMERO_TARJETA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SECUENCIA_MOVIMIENTO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_REFERENCIA_RECUPERACION" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BANCOORIGEN" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_BANCODESTINO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CONTROL_ERROR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>