Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ReversarOperacionesACH/wsdl/services.wsdl

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_775898293.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_482495286.xsd"/>
    </xsd:schema>
  </types>
  <message name="ReversaOperacionesACH">
    <part name="parameters" element="tns:ReversaOperacionesACH"/>
  </message>
  <message name="ReversaOperacionesACHResponse">
    <part name="parameters" element="tns:ReversaOperacionesACHResponse"/>
  </message>
  <message name="ReversaOperacionesACH_Validate">
    <part name="parameters" element="tns:ReversaOperacionesACH_Validate"/>
  </message>
  <message name="ReversaOperacionesACH_ValidateResponse">
    <part name="parameters" element="tns:ReversaOperacionesACH_ValidateResponse"/>
  </message>
  <message name="callOfs">
    <part name="parameters" element="tns:callOfs"/>
  </message>
  <message name="callOfsResponse">
    <part name="parameters" element="tns:callOfsResponse"/>
  </message>
  <portType name="T24WebServicesImpl">
    <operation name="ReversaOperacionesACH">
      <input message="tns:ReversaOperacionesACH"/>
      <output message="tns:ReversaOperacionesACHResponse"/>
    </operation>
    <operation name="ReversaOperacionesACH_Validate">
      <input message="tns:ReversaOperacionesACH_Validate"/>
      <output message="tns:ReversaOperacionesACH_ValidateResponse"/>
    </operation>
    <operation name="callOfs">
      <input message="tns:callOfs"/>
      <output message="tns:callOfsResponse"/>
    </operation>
  </portType>
  <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="ReversaOperacionesACH">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReversaOperacionesACH_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="callOfs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="T24WebServicesImplService">
    <port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
      <soap:address location="http://10.242.15.43:7020/svcReversarOperacionesACH/services"/>
    </port>
  </service>
</definitions>