Fuentes/ficohsacore-osb-7e5cceccb837/IntegrationFramework/BusinessServices/RegistrarCobroDiferidoTSP/xsd/XMLSchema_-107378753.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/registrarCobroDiferidoTSPTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cons="http://www.ficohsa.com.hn/middleware.services/registrarCobroDiferidoTSPTypes">
	
	<xs:element name="registrarCobroDiferidoTSP">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TRANSACTION_ID" type="xs:string"/>
            <xs:element name="TRANSACTION_TYPE_CODE" type="xs:string"/>
            <xs:element name="TRANSACTION_REFERENCE" type="xs:string"/>
            <xs:element name="TRANSACTION_ACCOUNT_NUMBER" type="xs:string"/>
            <xs:element name="TRANSACTION_CUSTOMER_ID" type="xs:string"/>
            <xs:element name="TRANSACTION_CURRENCY" type="xs:string"/>
            <xs:element name="TRANSACTION_DATE" type="xs:string"/>
            <xs:element name="TRANSACTION_DEFERRED_PAYMENT_REASON" type="xs:string"/>
            <xs:element name="TRANSACTION_AMOUNT" type="xs:string"/>
            <xs:element name="TRANSACTION_RATE_AMOUNT" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="registrarCobroDiferidoTSPResponse">
        <xs:complexType>
          <xs:sequence>
			<xs:element name="LOG_ID" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>  
</xs:schema>