Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABK/consultaOficialesNegocio/xsd/consultaOficialesNegocio_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaOficialesNegocio" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaOficialesNegocio" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_OFFICER_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_BRANCH_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_APPLICATION" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_OFFICER_CODE" type="db:PROXYABANKSHN.TVARCHAR20" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_OFFICER_NAME" type="db:PROXYABANKSHN.TVARCHAR100" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_BRANCH_CODE" type="db:PROXYABANKSHN.TVARCHAR20" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_BRANCH_NAME" type="db:PROXYABANKSHN.TVARCHAR100" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_DEPARTMENT_ID" type="db:PROXYABANKSHN.TVARCHAR20" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_DEPARTMENT_NAME" type="db:PROXYABANKSHN.TVARCHAR100" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_SUCCESSINDICATOR" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MESSAGES" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSHN.TVARCHAR100">
      <sequence>
         <element name="P_OFFICER_NAME_ITEM" type="db:string100" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSHN.TVARCHAR20">
      <sequence>
         <element name="PT_OFFICER_CODE_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>