Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/EnvioTransferenciasACH/xsd/envioTransferenciasACHTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/envioTransferenciasACHTypes" xmlns:tran="http://www.ficohsa.com.hn/middleware.services/envioTransferenciasACHTypes">
    <xs:element name="envioTransferenciasACH">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BANK_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="TRANSACTION" type="tran:transactionType" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ORIGINATOR" type="tran:accountType" minOccurs="1" maxOccurs="1"/>
                <xs:element name="BENEFICIARY" type="tran:accountType" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="accountType">
    	<xs:sequence>
    		<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="ACCOUNT" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="ACCOUNT_TYPE" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="NAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="transactionType">
    	<xs:sequence>
    		<xs:element name="DESCRIPTION" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="REFERENCE" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="CURRENCY" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="AMOUNT" type="xs:string" minOccurs="1" maxOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:element name="envioTransferenciasACHResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="IDENTIFICATION" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="ITEM_DETAILS" type="tran:itemDetailType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="RESULT" type="tran:transferResultType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="itemDetailType">
    	<xs:sequence>
    		<xs:element name="AMOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="DETAIL_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="ORIGINATION_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="RECEIVING_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="RECEIVING_ACCOUNT_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="transferResultType">
    	<xs:sequence>
    		<xs:element name="STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="MESSAGE_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="ORIGINAL_MESSAGE_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="PROCESSED" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="REASON_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="RECEIVING_BANK_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="RESULT_MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="USER_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>
</xs:schema>