Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/BusinessServices/AbanksGT/RegistroIVE/xsd/MC_REGISTRO_IVE_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MC_REGISTRO_IVE" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/MC_REGISTRO_IVE" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_TXN_TYPE" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_ORIGINAL_CURRENCY" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_ORIGINAL_AMOUNT" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_USD_AMOUNT" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_FUNDS_SOURCE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_FUNDS_TARGET" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PR_PERSONS" type="db:PROXYABANKSGT.R_PERSONS" db:index="7" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PR_NSO_INFO" type="db:PROXYABANKSGT.R_NSO_INFO" db:index="8" db:type="Struct" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PR_TRANSACTION_INFO" type="db:PROXYABANKSGT.R_TRANSACTION_INFO" db:index="9" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PR_TRANSACTION_DETAILS" type="db:PROXYABANKSGT.R_TRANSACTION_DETAILS" db:index="10" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PR_TRANSACTION_CODES" type="db:PROXYABANKSGT.R_TRANSACTION_CODES" db:index="11" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_ESTADO" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ESTADO" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.R_BANKNOTE">
      <sequence>
         <element name="CURRENCY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="BANKNOTE_VALUE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TOTAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_DS_RECORD">
      <sequence>
         <element name="DS_RECORD_ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_TRACE">
      <sequence>
         <element name="TELLER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BRANCH_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHANNEL_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DATE_TIME" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="QUEUE_TICKET_ID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TXN_REF_NO" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DEALSLIP_ID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_PHONE_NUMBER_ITEM_PR">
      <sequence>
         <element name="LOCATION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="AREA_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="4"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PHONE_NUMBER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_NSO_INFO">
      <sequence>
         <element name="TRACE" type="db:PROXYABANKSGT.R_TRACE" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="AUTHORIZATION" type="db:PROXYABANKSGT.R_AUTHORIZATION" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="BANKNOTE_BREAKDOWN" type="db:PROXYABANKSGT.R_BANKNOTE_BREAKDOWN" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="ADDITIONAL_INFO" type="db:PROXYABANKSGT.R_ADDITIONAL_INFO" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="CTR_REFERENCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_TRANSACTION_INFO">
      <sequence>
         <element name="DEALSLIP" type="db:PROXYABANKSGT.R_DEALSLIP" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="TXN_REF_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TXN_TYPE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TXN_DATE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CURRENCY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DATE_TIME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="USER_TX" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="BRANCH_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BRANCH_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REQUIRES_CTR" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DEALSLIP_URL" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="200"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_OTHER">
      <sequence>
         <element name="CUSTOMER_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="15"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SAME_AS_PAYER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ID_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ID_NUMBER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PLACE_OF_ISSUANCE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="STATE_OF_ISSUANCE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COUNTRY_OF_ISSUANCE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FIRST_FAMILY_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LAST_FAMILY_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FIRST_GIVEN_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LAST_GIVEN_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FULL_LEGAL_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="200"/>
               </restriction>
            </simpleType>
         </element>
         <element name="GENDER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ACCOUNT_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DATE_OF_BIRTH" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="NATIONALITY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ADDRESS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PHONE_NUMBERS" type="db:PROXYABANKSGT.R_PHONE_NUMBERS_PR" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="EXTRA_INFO" type="db:PROXYABANKSGT.R_EXTRA_INFO_INS" db:type="Struct" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_TRANSACTION_CODES">
      <sequence>
         <element name="CODES" type="db:PROXYABANKSGT.R_TRANSACTION_CODE" db:type="Struct" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_PAIR">
      <sequence>
         <element name="PAIR_ITEM" type="db:PROXYABANKSGT.R_PAIR" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_PHONE_NUMBERS_PR">
      <sequence>
         <element name="PHONE_NUMBER_ITEM" type="db:PROXYABANKSGT.T_PHONE_NUMBER_ITEM_PR" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_TRANSACTION_DETAIL">
      <sequence>
         <element name="CURRENCY" type="db:PROXYABANKSGT.TVARCHAR3" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="AMOUNT" type="db:PROXYABANKSGT.TNUMBER" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_KV_PAIR_INS">
      <sequence>
         <element name="KEY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VALUE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_PERSONS">
      <sequence>
         <element name="INSTRUCTOR" type="db:PROXYABANKSGT.R_INSTRUCTOR" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="OTHER" type="db:PROXYABANKSGT.T_OTHER" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_OTHER">
      <sequence>
         <element name="OTHER_ITEM" type="db:PROXYABANKSGT.R_OTHER" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_INSTRUCTOR">
      <sequence>
         <element name="ID_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ID_NUMBER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CITY_OF_ISSUANCE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="STATE_OF_ISSUANCE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COUNTRY_OF_ISSUANCE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FIRST_FAMILY_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LAST_FAMILY_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FIRST_GIVEN_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LAST_GIVEN_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FULL_LEGAL_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="200"/>
               </restriction>
            </simpleType>
         </element>
         <element name="GENDER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ACCOUNT_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DATE_OF_BIRTH" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="NATIONALITY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ADDRESS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PHONE_NUMBERS" type="db:PROXYABANKSGT.R_PHONE_NUMBERS_PR" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="EXTRA_INFO" type="db:PROXYABANKSGT.R_EXTRA_INFO_INS" db:type="Struct" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_PHONE_NUMBER_ITEM_PR">
      <sequence>
         <element name="PHONE_NUMBER_ITEM_ITEM" type="db:PROXYABANKSGT.R_PHONE_NUMBER_ITEM_PR" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_KV_PAIR">
      <sequence>
         <element name="PAIR" type="db:PROXYABANKSGT.T_PAIR" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_TRANSACTION_CODE">
      <sequence>
         <element name="TXN_TYPE_ID" type="db:PROXYABANKSGT.TNUMBER" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_BANKNOTE_BREAKDOWN">
      <sequence>
         <element name="BANKNOTE" type="db:PROXYABANKSGT.T_BANKNOTE" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_ADDITIONAL_INFO">
      <sequence>
         <element name="KV_PAIRS" type="db:PROXYABANKSGT.T_PAIR" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_TRANSACTION_DETAILS">
      <sequence>
         <element name="DETAILS" type="db:PROXYABANKSGT.R_TRANSACTION_DETAIL" db:type="Struct" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_PAIR">
      <sequence>
         <element name="KEY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VALUE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_BANKNOTE">
      <sequence>
         <element name="BANKNOTE_ITEM" type="db:PROXYABANKSGT.R_BANKNOTE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TNUMBER">
      <sequence>
         <element name="AMOUNT_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_DEALSLIP">
      <sequence>
         <element name="DS_RECORD" type="db:PROXYABANKSGT.T_DS_RECORD" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_AUTHORIZATION">
      <sequence>
         <element name="TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="KV_PAIRS" type="db:PROXYABANKSGT.R_KV_PAIR" db:type="Struct" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.R_EXTRA_INFO_INS">
      <sequence>
         <element name="KV_PAIR" type="db:PROXYABANKSGT.T_KV_PAIR_INS" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_KV_PAIR_INS">
      <sequence>
         <element name="KV_PAIR_ITEM" type="db:PROXYABANKSGT.R_KV_PAIR_INS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.TVARCHAR3">
      <sequence>
         <element name="CURRENCY_ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>
