Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/INTFC/insertarSituacionFinanciera/xsd/insertarSituacionFinanciera_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/insertarSituacionFinanciera" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/insertarSituacionFinanciera" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_REFERENCIA_LLAVE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_REGION" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIO_SERVICIO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_APLICACION_CORE" type="db:SERVICIO.TVARCHAR25" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_ACTIVO_PASIVO" type="db:SERVICIO.TVARCHAR25" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_TIPO_PRODUCTO" type="db:SERVICIO.TVARCHAR25" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_CODIGO_MONEDA" type="db:SERVICIO.TVARCHAR3" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SALDO_DISPONIBLE" type="db:SERVICIO.TNUMBER" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SALDO_TOTAL" type="db:SERVICIO.TNUMBER" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_SUCCESS_INDICADOR_IN" type="db:SERVICIO.TVARCHAR25" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PT_DESCRIPCION_MENSAJE" type="db:SERVICIO.TVARCHAR2000" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_SUCCESS_INDICADOR" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ERROR" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="SERVICIO.TVARCHAR2000">
      <sequence>
         <element name="PT_DESCRIPCION_MENSAJE_ITEM" type="db:string2000" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="SERVICIO.TNUMBER">
      <sequence>
         <element name="PT_SALDO_DISPONIBLE_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="SERVICIO.TVARCHAR3">
      <sequence>
         <element name="PT_CODIGO_MONEDA_ITEM" type="db:string3" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="SERVICIO.TVARCHAR25">
      <sequence>
         <element name="PT_APLICACION_CORE_ITEM" type="db:string25" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string2000">
      <restriction base="string">
         <maxLength value="2000"/>
      </restriction>
   </simpleType>
</schema>