Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingNI/ProviderServices/XSD/GetCustomerLiabilities/GetCustomerLiabilities_BS_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetCustomerLiabilities_BS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/GetCustomerLiabilities_BS" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="t_trn" type="int" db:index="1" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="t_debug" type="db:string1" db:index="2" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="t_file" type="db:string14" db:index="3" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_canal" type="byte" db:index="4" db:type="TINYINT" minOccurs="0" nillable="true"/>
            <element name="i_CUSTOMER_ID" type="int" db:index="5" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="i_LIABILITY_TYPE" type="db:string3" db:index="6" db:type="VARCHAR" minOccurs="0" nillable="true"/>
            <element name="i_userId" type="db:string20" db:index="7" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="RETURN_VALUE" type="int" db:index="0" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_num_error" type="int" db:index="8" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="o_desc_error" type="db:string64" db:index="9" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string14">
      <restriction base="string">
         <maxLength value="14"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string64">
      <restriction base="string">
         <maxLength value="64"/>
      </restriction>
   </simpleType>
</schema>