Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/RENAP/registraDataRenap/xsd/registraDataRenap_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraDataRenap" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/registraDataRenap" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_REFERENCIA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_HIT" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_USUARIO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NOMBRE_USUARIO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CUI" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PCL_HUELLA" type="string" db:index="6" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGO_DEDO" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PCL_FMD" type="string" db:index="8" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="PV_TIPO_CONSULTA" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ORIGEN_CONSULTA" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PRIMER_NOMBRE" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SEGUNDO_NOMBRE" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PRIMER_APELLIDO" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_SEGUNDO_APELLIDO" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_NACIMIENTO" type="dateTime" db:index="15" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_DEFUNCION" type="dateTime" db:index="16" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PV_GENERO" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ESTADO_CIVIL" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_NACIONALIDAD" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PAIS_NACIMIENTO" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PCL_FOTOGRAFIA" type="string" db:index="21" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="PV_OCUPACION" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MUNI_NACIMIENTO" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_TERCER_NOMBRE" type="string" db:index="24" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ORDEN_CEDULA" type="string" db:index="25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DEPTO_NACIMIENTO" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_REGISTRO_CEDULA" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_APELLIDO_CASADA" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PD_FECHA_VENCIMIENTO" type="dateTime" db:index="29" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PV_VECINDAD" type="string" db:index="30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        	<element name="PV_CORRELATIVO_DPI" type="decimal" db:index="31" db:type="NUMBER" minOccurs="0" nillable="true"/> 
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CODIGO_ESTADO" type="string" db:index="32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_MENSAJE_ESTADO" type="string" db:index="33" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>