Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CTS/Fiscan/xsd/services.xsd

<schema elementFormDefault="qualified" targetNamespace="http://service.srvaplcobisfinscan.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://dto2.sdf.cts.cobis.cobiscorp.com" xmlns:Q1="http://dto.srvaplcobisentitiesfinscan.ecobis.cobiscorp">
  <import schemaLocation="commonDTO2.xsd" namespace="http://dto2.sdf.cts.cobis.cobiscorp.com"/>
  <import schemaLocation="cobiscorp.ecobis.srvaplcobisentitiesfinscan.dto.xsd" namespace="http://dto.srvaplcobisentitiesfinscan.ecobis.cobiscorp"/>
  <element name="opGetStatusRequest" type="Q1:OpClientStatusRequest"/>
  <element name="opGetStatusResponse" type="Q1:OpClientFSResponse"/>
  <element name="opLookupRequest" type="Q1:OpClientFSRequest"/>
  <element name="opLookupResponse" type="Q1:OpClientFSResponse"/>
  <element name="opLookUpMultiRequest" type="Q1:LSTServicesLookupRequest"/>
  <element name="opLookUpMultiResponse" type="Q1:SLLookupMultiResponse"/>
</schema>