Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultaDetallePD/Resources/XMLSchema_865025152.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Consultadetsobregiroufranticipo" type="tns:Consultadetsobregiroufranticipo"/>

<xs:element name="ConsultadetsobregiroufranticipoResponse" type="tns:ConsultadetsobregiroufranticipoResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="FICOEPDCATEGLISTWSType">
<xs:sequence>
<xs:element name="FINALTOTAL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTREPAY1" type="xs:string" minOccurs="0"/>
<xs:element name="GRANDTOTALTEXT" type="xs:string" minOccurs="0"/>
<xs:element name="GRANDTOTALAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gFICOEPDCATEGLISTWSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mFICOEPDCATEGLISTWSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNO" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERNAME" type="xs:string" minOccurs="0"/>
<xs:element name="PDREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="PDAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="PDDATE" type="xs:string" minOccurs="0"/>
<xs:element name="PDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="RATE" type="xs:string" minOccurs="0"/>
<xs:element name="PRINCIPAL" type="xs:string" minOccurs="0"/>
<xs:element name="PENALTYSPREAD" type="xs:string" minOccurs="0"/>
<xs:element name="PENALTYINTEREST" type="xs:string" minOccurs="0"/>
<xs:element name="INTERESTS" type="xs:string" minOccurs="0"/>
<xs:element name="NOOFDAYSINPD" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadetsobregiroufranticipo">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="FICOEPDCATEGLISTWSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadetsobregiroufranticipoResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="FICOEPDCATEGLISTWSType" type="tns:FICOEPDCATEGLISTWSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>