Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/Core/consultaActividadEconomica/consultaActividadEconomicaTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaActividadEconomicaTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaActividadEconomicaTypes">
	
	<xs:complexType name = "consultaActividadEconomicaResponseArrayType">
		<xs:sequence>
			            <xs:element name="ECONACTIVITY_ID" type="xs:string" minOccurs="0" />
						<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
						<xs:element name="ACTIVITY_LEVEL" type="xs:string" minOccurs="0" />
					</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaActividadEconomicaResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaActividadEconomicaResponseRecordType" type="cons:consultaActividadEconomicaResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaActividadEconomicaResponseType">
		<xs:sequence>
			<xs:element name="consultaActividadEconomicaResponseType" type="cons:consultaActividadEconomicaResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaActividadEconomica">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ECONACTIVITY_ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaActividadEconomicaResponse" type="cons:consultaActividadEconomicaResponseType"/>
	
</xs:schema>