Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/DEI/pagoDET/validarPagoDET/xsd/validarPagoDET_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/validarPagoDET" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/validarPagoDET" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_RTN" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_NUMEROSOLICITUD" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PD_FECHAREGISTRO" type="dateTime" db:index="3" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROCUENTA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMONEDA" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_PERIODO" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_TOTALAPAGAR" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_NUMEROCONTRATO" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DECLARACIONJURIDICA" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PN_IMPUESTO" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_CONCEPTO" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_TOTALINFORMADO" type="decimal" db:index="12" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_DECLAODECLARAPAGO" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_IDUSUARIO" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CONTRATOID" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PT_TARPAGODETALLE" type="db:T_ARREGLOPAGODET_ARRAY" db:index="16" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PN_LINEADEI" type="decimal" db:index="17" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_CONTRATOT24" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="T_ARREGLOPAGODET">
		<sequence>
			<element name="IMPUESTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true" />
			<element name="CONCEPTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true" />
			<element name="SUBCONCEPTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true" />
			<element name="IMPORTE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true" />
		</sequence>
   </complexType>
	<complexType name="T_ARREGLOPAGODET_ARRAY">
      <sequence>
         <element name="ITEM" type="db:T_ARREGLOPAGODET" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
</schema>