Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/consultasCliente/Resources/XMLSchema_1144838292.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xs:schema version="1.0" targetNamespace="T24WebServicesImpl" xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultaListaGris" type="tns:ConsultaListaGris"/>
  <xs:element name="ConsultaListaGrisResponse" type="tns:ConsultaListaGrisResponse"/>
  <xs:element name="Consultactascorrienteporcliente" type="tns:Consultactascorrienteporcliente"/>
  <xs:element name="ConsultactascorrienteporclienteResponse" type="tns:ConsultactascorrienteporclienteResponse"/>
  <xs:element name="ConsultadatosFATCA" type="tns:ConsultadatosFATCA"/>
  <xs:element name="ConsultadatosFATCAResponse" type="tns:ConsultadatosFATCAResponse"/>
  <xs:element name="ConsultadatosPEP" type="tns:ConsultadatosPEP"/>
  <xs:element name="ConsultadatosPEPResponse" type="tns:ConsultadatosPEPResponse"/>
  <xs:element name="Consultadecertifdepporcliente" type="tns:Consultadecertifdepporcliente"/>
  <xs:element name="ConsultadecertifdepporclienteResponse" type="tns:ConsultadecertifdepporclienteResponse"/>
  <xs:element name="Consultadecliente" type="tns:Consultadecliente"/>
  <xs:element name="ConsultadeclienteResponse" type="tns:ConsultadeclienteResponse"/>
  <xs:element name="Consultadectasahorroporcliente" type="tns:Consultadectasahorroporcliente"/>
  <xs:element name="ConsultadectasahorroporclienteResponse" type="tns:ConsultadectasahorroporclienteResponse"/>
  <xs:element name="Consultadelimitesporcliente" type="tns:Consultadelimitesporcliente"/>
  <xs:element name="ConsultadelimitesporclienteResponse" type="tns:ConsultadelimitesporclienteResponse"/>
  <xs:element name="ConsultadelistaPEP" type="tns:ConsultadelistaPEP"/>
  <xs:element name="ConsultadelistaPEPResponse" type="tns:ConsultadelistaPEPResponse"/>
  <xs:element name="Consultadelistanegra" type="tns:Consultadelistanegra"/>
  <xs:element name="ConsultadelistanegraResponse" type="tns:ConsultadelistanegraResponse"/>
  <xs:element name="Consultadeprestamosporcliente" type="tns:Consultadeprestamosporcliente"/>
  <xs:element name="ConsultadeprestamosporclienteResponse" type="tns:ConsultadeprestamosporclienteResponse"/>
  <xs:element name="Consultadesobregirosporcliente" type="tns:Consultadesobregirosporcliente"/>
  <xs:element name="ConsultadesobregirosporclienteResponse" type="tns:ConsultadesobregirosporclienteResponse"/>
  <xs:element name="Consultadesociosporcliente" type="tns:Consultadesociosporcliente"/>
  <xs:element name="ConsultadesociosporclienteResponse" type="tns:ConsultadesociosporclienteResponse"/>
  <xs:element name="ConsultatargetclienteDLC" type="tns:ConsultatargetclienteDLC"/>
  <xs:element name="ConsultatargetclienteDLCResponse" type="tns:ConsultatargetclienteDLCResponse"/>
  <xs:element name="Cuentasdeservicioporcliente" type="tns:Cuentasdeservicioporcliente"/>
  <xs:element name="CuentasdeservicioporclienteResponse" type="tns:CuentasdeservicioporclienteResponse"/>
  <xs:element name="Referenciasporcliente" type="tns:Referenciasporcliente"/>
  <xs:element name="ReferenciasporclienteResponse" type="tns:ReferenciasporclienteResponse"/>
  <xs:element name="Tarjetasdecreditoporcliente" type="tns:Tarjetasdecreditoporcliente"/>
  <xs:element name="TarjetasdecreditoporclienteResponse" type="tns:TarjetasdecreditoporclienteResponse"/>
  <xs:element name="callOfs" type="tns:callOfs"/>
  <xs:element name="callOfsResponse" type="tns:callOfsResponse"/>
  <xs:complexType name="WSFICOTERMDEPOSITType">
    <xs:sequence>
      <xs:element name="gWSFICOTERMDEPOSITDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSFICOTERMDEPOSITDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="CLIENTCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="DEPOSITNUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTOMERNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="AMOUNTINLETTERS" type="xs:string" minOccurs="0"/>
                  <xs:element name="PERIODOFTIME" type="xs:string" minOccurs="0"/>
                  <xs:element name="INTERESTRATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="SCHEDULE" type="xs:string" minOccurs="0"/>
                  <xs:element name="ISSUANCEPLACE" type="xs:string" minOccurs="0"/>
                  <xs:element name="DATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="STARTDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="MATURITYDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="GENERATEPDF" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFICOPEPDETType">
    <xs:sequence>
      <xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
      <xs:element name="gWSFICOPEPDETDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSFICOPEPDETDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ID" type="xs:string" minOccurs="0"/>
                  <xs:element name="DATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="DOCUMENTNUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="DOCUMENTTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
                  <xs:element name="GIVENNAMES" type="xs:string" minOccurs="0"/>
                  <xs:element name="FAMILYNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="POSNGOVERNMENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="RISKTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELCUSTOMERID" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELATEDDOCID" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELATEDDOCTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELATEDNAMES" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELATEDSURNAMES" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSCUSTOMERType">
    <xs:sequence>
      <xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
      <xs:element name="gWSCUSTOMERDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSCUSTOMERDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
                  <xs:element name="MNEMONIC" type="xs:string" minOccurs="0"/>
                  <xs:element name="GIVENNAMES" type="xs:string" minOccurs="0"/>
                  <xs:element name="FAMILYNAMES" type="xs:string" minOccurs="0"/>
                  <xs:element name="NAMEOFBUSINESS" type="xs:string" minOccurs="0"/>
                  <xs:element name="COMMERCIALNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="SHORTNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="ADDRESSLINE1" type="xs:string" minOccurs="0"/>
                  <xs:element name="ADDRESSLINE2" type="xs:string" minOccurs="0"/>
                  <xs:element name="SECTOR" type="xs:string" minOccurs="0"/>
                  <xs:element name="SECTORNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="INDUSTRY" type="xs:string" minOccurs="0"/>
                  <xs:element name="INDUSTRYNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="TARGET" type="xs:string" minOccurs="0"/>
                  <xs:element name="TARGETNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
                  <xs:element name="RESIDENCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTOMERSTATUS" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTOMERTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALDOCNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALHOLDERNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="DATEOFBIRTH" type="xs:string" minOccurs="0"/>
                  <xs:element name="MARITALSTATUS" type="xs:string" minOccurs="0"/>
                  <xs:element name="GENDER" type="xs:string" minOccurs="0"/>
                  <xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
                  <xs:element name="SMS" type="xs:string" minOccurs="0"/>
                  <xs:element name="PHONE" type="xs:string" minOccurs="0"/>
                  <xs:element name="FAX" type="xs:string" minOccurs="0"/>
                  <xs:element name="ADDRESSTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="GENERATORTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LANGUAGE" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
                  <xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="COUNTRYCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="STATECODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CITYCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="OCCUPATION" type="xs:string" minOccurs="0"/>
                  <xs:element name="EMPLOYMENTSTATUS" type="xs:string" minOccurs="0"/>
                  <xs:element name="EMPLOYERSNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="MARRIEDLASTNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALREPNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALREPID" type="xs:string" minOccurs="0"/>
                  <xs:element name="TYPEOFCOMPANY" type="xs:string" minOccurs="0"/>
                  <xs:element name="PROFESSIONORTRADE" type="xs:string" minOccurs="0"/>
                  <xs:element name="NUMBEROFDEED" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALREPHOMEPHONE" type="xs:string" minOccurs="0"/>
                  <xs:element name="INPUTTER" type="xs:string" minOccurs="0"/>
                  <xs:element name="DATETIME" type="xs:string" minOccurs="0"/>
                  <xs:element name="TYPEOFPERSON" type="xs:string" minOccurs="0"/>
                  <xs:element name="SECTORIZATIONTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="SECTORIZATIONCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESSECTORIZCODEDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="EDUCATIONLEVEL" type="xs:string" minOccurs="0"/>
                  <xs:element name="SPOUSENAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="NOOFDEPENDENTS" type="xs:string" minOccurs="0"/>
                  <xs:element name="INCOMERANGE" type="xs:string" minOccurs="0"/>
                  <xs:element name="EMPLOYMENTSTART" type="xs:string" minOccurs="0"/>
                  <xs:element name="MAINADDRESSYN" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTOMERSINCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="ECONOMICGROUPID" type="xs:string" minOccurs="0"/>
                  <xs:element name="ECONOMICGROUPNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="CONSTITUTIONDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="OPERATIONCOUNTRY" type="xs:string" minOccurs="0"/>
                  <xs:element name="ISLOCALOPERATION" type="xs:string" minOccurs="0"/>
                  <xs:element name="OPERATIONDEPARTMENTSINFO" type="xs:string" minOccurs="0"/>
                  <xs:element name="RESOURCEORIGIN" type="xs:string" minOccurs="0"/>
                  <xs:element name="ISECONOMICGROUP" type="xs:string" minOccurs="0"/>
                  <xs:element name="ECONOMICGROUPNAME1" type="xs:string" minOccurs="0"/>
                  <xs:element name="ISPUBLICCHARGE" type="xs:string" minOccurs="0"/>
                  <xs:element name="PUBLICCHARGEDESCRIPTION" type="xs:string" minOccurs="0"/>
                  <xs:element name="PUBLICCHARGEINSTITUTION" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALIDENTIFICATIONEXPIRATIONDAT" type="xs:string" minOccurs="0"/>
                  <xs:element name="OTHERNATIONALITIESINFO" type="xs:string" minOccurs="0"/>
                  <xs:element name="DEPENDENCYID" type="xs:string" minOccurs="0"/>
                  <xs:element name="DEPENDENCYNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="DEPENDENCYLASTNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="SUMINGR" type="xs:string" minOccurs="0"/>
                  <xs:element name="JOBTITLE" type="xs:string" minOccurs="0"/>
                  <xs:element name="JOBDESCRIPTION" type="xs:string" minOccurs="0"/>
                  <xs:element name="TYPEOFMERCHNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="SMENAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRGIRONEGOCIO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALISSDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRRTN" type="xs:string" minOccurs="0"/>
                  <xs:element name="PLACEOFBIRTH" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESPLACEOFBIRTH" type="xs:string" minOccurs="0"/>
                  <xs:element name="TOWNCOUNTRY" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESTOWNCOUNTRY" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCUSAPNFDS" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPROFAPNF" type="xs:string" minOccurs="0"/>
                  <xs:element name="NAMEDEPENDENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="PROFESSIONDEP" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESPROFESSIONDEP" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELATIONSHIP" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESRELATIONSHIP" type="xs:string" minOccurs="0"/>
                  <xs:element name="INCOMECCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESINCOMECCYDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRFOTRING" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRFOTRINGM" type="xs:string" minOccurs="0"/>
                  <xs:element name="LEGALISEDNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESLEGALISEDNAMEDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="PROFESIONTRADE" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESPROFESIONTRADE" type="xs:string" minOccurs="0"/>
                  <xs:element name="SECTORIZTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="NAMEPERSREF" type="xs:string" minOccurs="0"/>
                  <xs:element name="SELSTNMPRRF" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELWTHPERREF" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESRELWTHPERREFDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="TELNOPERREF" type="xs:string" minOccurs="0"/>
                  <xs:element name="COLONYCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESCOLONYCODEDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="AVENUE" type="xs:string" minOccurs="0"/>
                  <xs:element name="ADDSTREET" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLOCK" type="xs:string" minOccurs="0"/>
                  <xs:element name="HOUSENUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="REFERENCES" type="xs:string" minOccurs="0"/>
                  <xs:element name="EXTENSION" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRMAINADELEC" type="xs:string" minOccurs="0"/>
                  <xs:element name="TELEPHONEREFER" type="xs:string" minOccurs="0"/>
                  <xs:element name="LREMPMER" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRJUNTAEU" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRAPNFDPROF" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRMONVTAFS" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRANIOVTAFS" type="xs:string" minOccurs="0"/>
                  <xs:element name="LREQUSDFV" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNEWPRDACCEPT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRRENPRDACCEPT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRRENPRDORIGIN" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRRENPRDINVYEARS" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRRENPRDINVHISTO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRRENPRDCOMMENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNEWPRDPROCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNEWPRDTIP" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRNEWPRDCOMMENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRINHERITANCEACCEPT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRINHERITANCEORIGIN" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCNTRFUNDS" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCNTRPRONAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCNTRPROLOCATION" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCNTRPROTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCNTRPROBENEF" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRSTATECNTR" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRISNGONFP" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRONGTIPDON" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRONGDONNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRINGDONDOM" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRINGDONAMMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRINGDONFREQ" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRINFDONPAYAVE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRSALESMONTHVOL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LROTHERINCOMEMONTHTOTAL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LROTHRINCMO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LROTHRINCMOAMT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPRELPR" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRTIPOPDREL" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPDIRECT" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPINDIRLINK" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPRELA" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPEPUPDU" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRCUSCLASSRI" type="xs:string" minOccurs="0"/>
                  <xs:element name="STATECODEDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="CITYCODEDES" type="xs:string" minOccurs="0"/>
                  <xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
                  <xs:element name="FAX1" type="xs:string" minOccurs="0"/>
                  <xs:element name="LRPROFILETYPE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSOVERDRAFTLIMITType">
    <xs:sequence>
      <xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
      <xs:element name="gWSOVERDRAFTLIMITDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSOVERDRAFTLIMITDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="CUSTOMER" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="LIMITAMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="PRINCIPAL" type="xs:string" minOccurs="0"/>
                  <xs:element name="PENALTYINTEREST" type="xs:string" minOccurs="0"/>
                  <xs:element name="ADVISEDAMOUNT" type="xs:string" minOccurs="0"/>
                  <xs:element name="DAO" type="xs:string" minOccurs="0"/>
                  <xs:element name="LIMITAMOUNTLCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="PRINCIPALLCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="PENALTYINTERESTLCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="LIMITEXPDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="NOOFDAYS" type="xs:string" minOccurs="0"/>
                  <xs:element name="DATELIMITINI" type="xs:string" minOccurs="0"/>
                  <xs:element name="TOTALOVERDRAFT" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFICOBUSCARGRAYLISTType">
    <xs:sequence>
      <xs:element name="gWSFICOBUSCARGRAYLISTDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSFICOBUSCARGRAYLISTDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="NAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="IDENTNUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="TIPOREQUERIMIENTO" type="xs:string" minOccurs="0"/>
                  <xs:element name="INPUTDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="USERID" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFICOLINKCURRENTACCTType">
    <xs:sequence>
      <xs:element name="TOTALAVBAL" type="xs:string" minOccurs="0"/>
      <xs:element name="TOTALHNL" type="xs:string" minOccurs="0"/>
      <xs:element name="TOTALUSD" type="xs:string" minOccurs="0"/>
      <xs:element name="TOTALEUR" type="xs:string" minOccurs="0"/>
      <xs:element name="gWSFICOLINKCURRENTACCTDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSFICOLINKCURRENTACCTDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="TOTALBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="RESERVEBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LIENBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLOCKEDFUNDSPOS" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLOCKEDFUNDSATM" type="xs:string" minOccurs="0"/>
                  <xs:element name="AVAILABLEBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="AUTHOVERDRAFT" type="xs:string" minOccurs="0"/>
                  <xs:element name="UNAUTHOVERDRAFT" type="xs:string" minOccurs="0"/>
                  <xs:element name="CONSOLBALHNL" type="xs:string" minOccurs="0"/>
                  <xs:element name="CONSOLBALUSD" type="xs:string" minOccurs="0"/>
                  <xs:element name="CONSOLBALEUR" type="xs:string" minOccurs="0"/>
                  <xs:element name="LINKEDCUSTOMER" type="xs:string" minOccurs="0"/>
                  <xs:element name="OPERATIONTYPE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FICOCLIENTLOANBROWSERType">
    <xs:sequence>
      <xs:element name="TOTAL" type="xs:string" minOccurs="0"/>
      <xs:element name="TOTPRINAMTPAID" type="xs:string" minOccurs="0"/>
      <xs:element name="TOTINTAMT" type="xs:string" minOccurs="0"/>
      <xs:element name="TOTINSAMTPAID" type="xs:string" minOccurs="0"/>
      <xs:element name="TOTTOTAMTPAID" type="xs:string" minOccurs="0"/>
      <xs:element name="gFICOCLIENTLOANBROWSERDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mFICOCLIENTLOANBROWSERDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LOANID" type="xs:string" minOccurs="0"/>
                  <xs:element name="CCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="PRINAMT" type="xs:string" minOccurs="0"/>
                  <xs:element name="PRINBAL" type="xs:string" minOccurs="0"/>
                  <xs:element name="PDUEAMT" type="xs:string" minOccurs="0"/>
                  <xs:element name="INTEREST" type="xs:string" minOccurs="0"/>
                  <xs:element name="PDUEINT" type="xs:string" minOccurs="0"/>
                  <xs:element name="COMM" type="xs:string" minOccurs="0"/>
                  <xs:element name="TOTAMT" type="xs:string" minOccurs="0"/>
                  <xs:element name="NXTPYMT" type="xs:string" minOccurs="0"/>
                  <xs:element name="NXTPYMTDT" type="xs:string" minOccurs="0"/>
                  <xs:element name="PDUEPMTS" type="xs:string" minOccurs="0"/>
                  <xs:element name="RPRINAMT" type="xs:string" minOccurs="0"/>
                  <xs:element name="RINTAMT" type="xs:string" minOccurs="0"/>
                  <xs:element name="RINSAMT" type="xs:string" minOccurs="0"/>
                  <xs:element name="RTOTAMT" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFICOLINKSAVINGSACCTType">
    <xs:sequence>
      <xs:element name="TOTALAVBAL" type="xs:string" minOccurs="0"/>
      <xs:element name="TOTALHNL" type="xs:string" minOccurs="0"/>
      <xs:element name="TOTALUSD" type="xs:string" minOccurs="0"/>
      <xs:element name="TOTALEUR" type="xs:string" minOccurs="0"/>
      <xs:element name="gWSFICOLINKSAVINGSACCTDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSFICOLINKSAVINGSACCTDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCOUNTTITLE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="TOTALBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="RESERVEBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="LIENBALANCE" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLOCKEDFUNDSPOS" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLOCKEDFUNDSATM" type="xs:string" minOccurs="0"/>
                  <xs:element name="AVAILABLEBAL" type="xs:string" minOccurs="0"/>
                  <xs:element name="AUTHOVERDRAFT" type="xs:string" minOccurs="0"/>
                  <xs:element name="UNAUTHOVERDRAFT" type="xs:string" minOccurs="0"/>
                  <xs:element name="CONSOLBALHNL" type="xs:string" minOccurs="0"/>
                  <xs:element name="CONSOLBALUSD" type="xs:string" minOccurs="0"/>
                  <xs:element name="CONSOLBALEUR" type="xs:string" minOccurs="0"/>
                  <xs:element name="LINKEDCUSTOMER" type="xs:string" minOccurs="0"/>
                  <xs:element name="OPERATIONTYPE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FICOLISTCLIENTCARDCPType">
    <xs:sequence>
      <xs:element name="gFICOLISTCLIENTCARDCPDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mFICOLISTCLIENTCARDCPDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="CARDNO" type="xs:string" minOccurs="0"/>
                  <xs:element name="CARDNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACCOUNTNO" type="xs:string" minOccurs="0"/>
                  <xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
                  <xs:element name="STATUS" type="xs:string" minOccurs="0"/>
                  <xs:element name="PRODUCT" type="xs:string" minOccurs="0"/>
                  <xs:element name="RELATIONGROUP" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFICOBLACKLISTDETType">
    <xs:sequence>
      <xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
      <xs:element name="gWSFICOBLACKLISTDETDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSFICOBLACKLISTDETDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="DOCNUMBER" type="xs:string" minOccurs="0"/>
                  <xs:element name="DOCTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTSURNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLOCKTYPE" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLOCKCATEGFM" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLRESNCODE" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLINCLRESNDESC" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLRESNCODEEXCL" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLDELRESNDESC" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLMODIFICATION" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLRELATIONNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="BLRELDESC" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFICOLINKSERVICEACCTType">
    <xs:sequence>
      <xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
      <xs:element name="gWSFICOLINKSERVICEACCTDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSFICOLINKSERVICEACCTDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ID" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="LOANACCTID" type="xs:string" minOccurs="0"/>
                  <xs:element name="LOANACCTCCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="AUCACCTID" type="xs:string" minOccurs="0"/>
                  <xs:element name="AUCACCTCCY" type="xs:string" minOccurs="0"/>
                  <xs:element name="OTHACCTID" type="xs:string" minOccurs="0"/>
                  <xs:element name="OTHACCTCCY" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FICONOFLIMITSUMMARYType">
    <xs:sequence>
      <xs:element name="gFICONOFLIMITSUMMARYDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mFICONOFLIMITSUMMARYDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
                  <xs:element name="LIABILITYID" type="xs:string" minOccurs="0"/>
                  <xs:element name="LIABILITYGROUPID" type="xs:string" minOccurs="0"/>
                  <xs:element name="CustomerNo" type="xs:string" minOccurs="0"/>
                  <xs:element name="CustomerName" type="xs:string" minOccurs="0"/>
                  <xs:element name="Currency" type="xs:string" minOccurs="0"/>
                  <xs:element name="TotLimitAmt" type="xs:string" minOccurs="0"/>
                  <xs:element name="TotlimitAmtLemp" type="xs:string" minOccurs="0"/>
                  <xs:element name="TotReduLimit" type="xs:string" minOccurs="0"/>
                  <xs:element name="TotReduLimitLem" type="xs:string" minOccurs="0"/>
                  <xs:element name="TotReduAvail" type="xs:string" minOccurs="0"/>
                  <xs:element name="TotReAvaLem" type="xs:string" minOccurs="0"/>
                  <xs:element name="TotNonReduLimit" type="xs:string" minOccurs="0"/>
                  <xs:element name="TotNonRedLemp" type="xs:string" minOccurs="0"/>
                  <xs:element name="TotNonReduAvail" type="xs:string" minOccurs="0"/>
                  <xs:element name="TotNonReAvaLem" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FICOETARGETWSType">
    <xs:sequence>
      <xs:element name="gFICOETARGETWSDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mFICOETARGETWSDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ID" type="xs:string" minOccurs="0"/>
                  <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSCUSTOMERREFSType">
    <xs:sequence>
      <xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
      <xs:element name="gWSCUSTOMERREFSDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSCUSTOMERREFSDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ID" type="xs:string" minOccurs="0"/>
                  <xs:element name="GIVENNAMES" type="xs:string" minOccurs="0"/>
                  <xs:element name="FAMILYNAMES" type="xs:string" minOccurs="0"/>
                  <xs:element name="NAMEOFBUSINESS" type="xs:string" minOccurs="0"/>
                  <xs:element name="COMMERCIALNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="PERSREFGIVENNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="PERSREFLASTNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="PERSREFPHONE" type="xs:string" minOccurs="0"/>
                  <xs:element name="PERSREFRELATION" type="xs:string" minOccurs="0"/>
                  <xs:element name="COMMREFNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="COMMREFCONTACT" type="xs:string" minOccurs="0"/>
                  <xs:element name="COMMREFPHONE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSCUSTPEPAPType">
    <xs:sequence>
      <xs:element name="gWSCUSTPEPAPDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSCUSTPEPAPDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ISPUBLICFIGURE" type="xs:string" minOccurs="0"/>
                  <xs:element name="ACTUALPUBLICCHARGE" type="xs:string" minOccurs="0"/>
                  <xs:element name="PUBLICCHARGEPERIOD" type="xs:string" minOccurs="0"/>
                  <xs:element name="INSTITUTIONNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="HASPUBLICFIGUREFAM" type="xs:string" minOccurs="0"/>
                  <xs:element name="FULLNAME1" type="xs:string" minOccurs="0"/>
                  <xs:element name="CHARGE1" type="xs:string" minOccurs="0"/>
                  <xs:element name="PERIOD1" type="xs:string" minOccurs="0"/>
                  <xs:element name="FULLNAME2" type="xs:string" minOccurs="0"/>
                  <xs:element name="CHARGE2" type="xs:string" minOccurs="0"/>
                  <xs:element name="PERIOD2" type="xs:string" minOccurs="0"/>
                  <xs:element name="FULLNAME3" type="xs:string" minOccurs="0"/>
                  <xs:element name="CHARGE3" type="xs:string" minOccurs="0"/>
                  <xs:element name="PERIOD3" type="xs:string" minOccurs="0"/>
                  <xs:element name="FULLNAME4" type="xs:string" minOccurs="0"/>
                  <xs:element name="CHARGE4" type="xs:string" minOccurs="0"/>
                  <xs:element name="PERIOD4" type="xs:string" minOccurs="0"/>
                  <xs:element name="FULLNAME5" type="xs:string" minOccurs="0"/>
                  <xs:element name="CHARGE5" type="xs:string" minOccurs="0"/>
                  <xs:element name="PERIOD5" type="xs:string" minOccurs="0"/>
                  <xs:element name="MOTHERSFULLNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="FATHERSFULLNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="SONSNAME1" type="xs:string" minOccurs="0"/>
                  <xs:element name="SONSNAME2" type="xs:string" minOccurs="0"/>
                  <xs:element name="SONSNAME3" type="xs:string" minOccurs="0"/>
                  <xs:element name="SONSNAME4" type="xs:string" minOccurs="0"/>
                  <xs:element name="SONSNAME5" type="xs:string" minOccurs="0"/>
                  <xs:element name="AUTHFULLNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="CHARGE" type="xs:string" minOccurs="0"/>
                  <xs:element name="AUTHDATE" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSCUSTOMERBASSOCType">
    <xs:sequence>
      <xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
      <xs:element name="gWSCUSTOMERBASSOCDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSCUSTOMERBASSOCDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ID" type="xs:string" minOccurs="0"/>
                  <xs:element name="CUSTOMERNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="NAMEOFBUSINESS" type="xs:string" minOccurs="0"/>
                  <xs:element name="COMMERCIALNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="NOOFSHRHLDRS" type="xs:string" minOccurs="0"/>
                  <xs:element name="REGISTERDATE" type="xs:string" minOccurs="0"/>
                  <xs:element name="SHRHLDLEGALID" type="xs:string" minOccurs="0"/>
                  <xs:element name="SHRHLDLEGALDOCNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="SHRHLDGIVENNAMES" type="xs:string" minOccurs="0"/>
                  <xs:element name="SHRHLDFAMILYNAME" type="xs:string" minOccurs="0"/>
                  <xs:element name="SHRHLDPARTICIPATION" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSCUSTFATCAAPType">
    <xs:sequence>
      <xs:element name="gWSCUSTFATCAAPDetailType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mWSCUSTFATCAAPDetailType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="POSMONAC" type="xs:string" minOccurs="0"/>
                  <xs:element name="NACIONALITY1" type="xs:string" minOccurs="0"/>
                  <xs:element name="NACIONALITY2" type="xs:string" minOccurs="0"/>
                  <xs:element name="NACIONALITY3" type="xs:string" minOccurs="0"/>
                  <xs:element name="ISUSRESIDENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="ISMIGRRESIDENT" type="xs:string" minOccurs="0"/>
                  <xs:element name="TAXCOUNTRY" type="xs:string" minOccurs="0"/>
                  <xs:element name="USTAXID" type="xs:string" minOccurs="0"/>
                  <xs:element name="OTHERCOUNTRYTAXNUMBER" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="m" type="xs:positiveInteger"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="g" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadatosFATCA">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSCUSTFATCAAPType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="webRequestCommon">
    <xs:sequence>
      <xs:element name="userName" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="company" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enquiryInput">
    <xs:sequence>
      <xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enquiryInputCollection">
    <xs:sequence>
      <xs:element name="columnName" type="xs:string" minOccurs="0"/>
      <xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
      <xs:element name="operand" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadatosFATCAResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSCUSTFATCAAPType" type="tns:WSCUSTFATCAAPType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultadecliente">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSCUSTOMERType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadeclienteResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSCUSTOMERType" type="tns:WSCUSTOMERType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadatosPEP">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSCUSTPEPAPType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadatosPEPResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSCUSTPEPAPType" type="tns:WSCUSTPEPAPType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultactascorrienteporcliente">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSFICOLINKCURRENTACCTType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultactascorrienteporclienteResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSFICOLINKCURRENTACCTType" type="tns:WSFICOLINKCURRENTACCTType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Cuentasdeservicioporcliente">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSFICOLINKSERVICEACCTType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CuentasdeservicioporclienteResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSFICOLINKSERVICEACCTType" type="tns:WSFICOLINKSERVICEACCTType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultadeprestamosporcliente">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="FICOCLIENTLOANBROWSERType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadeprestamosporclienteResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="FICOCLIENTLOANBROWSERType" type="tns:FICOCLIENTLOANBROWSERType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Tarjetasdecreditoporcliente">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="FICOLISTCLIENTCARDCPType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TarjetasdecreditoporclienteResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="FICOLISTCLIENTCARDCPType" type="tns:FICOLISTCLIENTCARDCPType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultadecertifdepporcliente">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSFICOTERMDEPOSITType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadecertifdepporclienteResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSFICOTERMDEPOSITType" type="tns:WSFICOTERMDEPOSITType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultadesobregirosporcliente">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSOVERDRAFTLIMITType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadesobregirosporclienteResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSOVERDRAFTLIMITType" type="tns:WSOVERDRAFTLIMITType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadelistaPEP">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSFICOPEPDETType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadelistaPEPResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSFICOPEPDETType" type="tns:WSFICOPEPDETType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultadelistanegra">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSFICOBLACKLISTDETType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadelistanegraResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSFICOBLACKLISTDETType" type="tns:WSFICOBLACKLISTDETType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfs">
    <xs:sequence>
      <xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="callOfsResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultadelimitesporcliente">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="FICONOFLIMITSUMMARYType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadelimitesporclienteResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="FICONOFLIMITSUMMARYType" type="tns:FICONOFLIMITSUMMARYType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Referenciasporcliente">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSCUSTOMERREFSType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenciasporclienteResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSCUSTOMERREFSType" type="tns:WSCUSTOMERREFSType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultatargetclienteDLC">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="FICOETARGETWSType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultatargetclienteDLCResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="FICOETARGETWSType" type="tns:FICOETARGETWSType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultadectasahorroporcliente">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSFICOLINKSAVINGSACCTType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadectasahorroporclienteResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSFICOLINKSAVINGSACCTType" type="tns:WSFICOLINKSAVINGSACCTType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultaListaGris">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSFICOBUSCARGRAYLISTType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultaListaGrisResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSFICOBUSCARGRAYLISTType" type="tns:WSFICOBUSCARGRAYLISTType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consultadesociosporcliente">
    <xs:sequence>
      <xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
      <xs:element name="WSCUSTOMERBASSOCType" type="tns:enquiryInput" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultadesociosporclienteResponse">
    <xs:sequence>
      <xs:element name="Status" type="tns:Status" minOccurs="0"/>
      <xs:element name="WSCUSTOMERBASSOCType" type="tns:WSCUSTOMERBASSOCType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="successIndicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="TWSError"/>
      <xs:enumeration value="T24Error"/>
      <xs:enumeration value="T24Override"/>
      <xs:enumeration value="T24Offline"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>