Fuentes/ficohsacore-hncard-488b7ad93302/SBHN_Card/SBHN_Card_GetCreditCardStatement/Schemas/wsinfotarjetas.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org"
            targetNamespace="http://alcance.local/wsinfotarjetas/"  xmlns:ws="http://alcance.local/wsinfotarjetas/" elementFormDefault="qualified">
  <xsd:element name="ConsultarEstadosCuentaUltimoCorte">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="noTarjetaCredito" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarEstadosCuentaUltimoCorteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="ConsultarEstadosCuentaUltimoCorteResult"
                 type="ws:ConsultarUltimoECResponse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ConsultarUltimoECResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="estatusConfirmacion" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="mensajeConfirmacion" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nombreTitular" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="noTarjetaCreditoTitular" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="numeroCuenta" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaCorte" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="maxFechaPago" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="puntosAcumulados" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="saldos" type="ws:ArrayOfArrayOfStrucSaldosEstado"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tarjetas" type="ws:ArrayOfArrayOfItemTarjeta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfArrayOfStrucSaldosEstado">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfStrucSaldosEstado" nillable="true"
               type="ws:ArrayOfStrucSaldosEstado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfStrucSaldosEstado">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="moneda" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="limiteCredito" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="saldoCorte" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="pagoContado" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="pagoMinimo" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="saldoAnterior" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="totalAbonos" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="totalCargos" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="saldoTotal" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfArrayOfItemTarjeta">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfItemTarjeta" nillable="true" type="ws:ArrayOfItemTarjeta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfItemTarjeta">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="noTarjetaCredito" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nombreTarjetaHabiente" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="movimientos" type="ws:ArrayOfArrayOfItemMovimiento"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="totales" type="ws:ArrayOfArrayOfStrucTotalMovimientos"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfArrayOfItemMovimiento">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfItemMovimiento" nillable="true"
               type="ws:ArrayOfItemMovimiento"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfItemMovimiento">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="secuenciaMov" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaTrx" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="horaTrx" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="descripcion" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="montoOrgnlTrx" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="monedaOrgnlTrx" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="montoTrx" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="monedaTrx" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoMov" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfArrayOfStrucTotalMovimientos">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfStrucTotalMovimientos" nillable="true"
               type="ws:ArrayOfStrucTotalMovimientos"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfStrucTotalMovimientos">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="moneda" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="totalMovimientos" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>