Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaRemesas/xsd/consultaRemesasTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaRemesasTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaRemesasTypes">
	
	<xs:complexType name = "consultaRemesasResponseArrayType">
		<xs:sequence>
		    <xs:element name="REMITTANCE_ID" type="xs:string" minOccurs="0" />
		    <xs:element name="REMITTER_ID" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTER_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="PAYMENT_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_SOURCE_AMOUNT" type="xs:string" minOccurs="0" />
			<xs:element name="ORIGIN_COUNTRY" type="xs:string" minOccurs="0" />		
	    </xs:sequence>
	</xs:complexType>   
	
	<xs:complexType name="consultaRemesasResponseRecordType">
		<xs:sequence>
				<xs:element name="consultaRemesasResponseRecordType" type="cons:consultaRemesasResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="consultaRemesasResponseType">
		<xs:sequence>
			<xs:element name="consultaRemesasResponseType" type="cons:consultaRemesasResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:element name="consultaRemesas">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="REMITTANCE_ID" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTER_FIRSTNAME" type="xs:string" minOccurs="0"/>	
	            <xs:element name="REMITTER_MIDDLENAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTER_FIRSTSURNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTER_SECONDSURNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="BENEFICIARY_FIRSTNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="BENEFICIARY_MIDDLENAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="BENEFICIARY_FIRSTSURNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="BENEFICIARY_SECONDSURNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="CORRESPONSAL_BRANCHCODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="ADDITIONAL_INFO" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="INFO" minOccurs="0" maxOccurs="unbounded" >
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NAME" type="xs:string" minOccurs="0" />
										<xs:element name="VALUE" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
               </xs:element>
			  	
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaRemesasResponse" type="cons:consultaRemesasResponseType" />
	
</xs:schema>