Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/TillOperations/wsdl/TillOperations.wsdl

<wsdl:definitions name="TillOperationsPS"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/TillOperationsPS/"
	xmlns:fic="http://www.ficohsa.com.hn/middleware.services/TillOperationsPS/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType"
	xmlns:tld="http://www.ficohsa.com.hn/middleware.services/TillOperationsTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType"
				schemaLocation="../../General/xsd/Header.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://www.ficohsa.com.hn/middleware.services/TillOperationsTypes"
				schemaLocation="../xsd/TillOperationsTypes.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="tillDifferenceReportRequest">
		<wsdl:part element="tld:tillDifferenceReport" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="tillDifferenceReportResponse">
		<wsdl:part element="tld:tillDifferenceReportResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:message name="tillOperationsQueryRequest">
		<wsdl:part element="tld:tillOperationsQuery" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="tillOperationsQueryResponse">
		<wsdl:part element="tld:tillOperationsQueryResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:portType name="TillOperationsPS">
		<wsdl:operation name="tillDifferenceReport"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:tillDifferenceReportRequest" />
			<wsdl:output message="fic:tillDifferenceReportResponse" />
		</wsdl:operation>
		<wsdl:operation name="tillOperationsQuery"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:tillOperationsQueryRequest" />
			<wsdl:output message="fic:tillOperationsQueryResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="TillOperationsPSSOAP" type="fic:TillOperationsPS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="tillDifferenceReport">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/TillOperationsPS/tillDifferenceReport" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:tillDifferenceReportRequest"
					part="RequestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:tillDifferenceReportResponse"
					part="ResponseHeader" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="tillOperationsQuery">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/TillOperationsPS/tillOperationsQuery" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:tillOperationsQueryRequest"
					part="RequestHeader" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:tillOperationsQueryResponse"
					part="ResponseHeader" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="TillOperationsPS">
		<wsdl:port binding="fic:TillOperationsPSSOAP" name="TillOperationsPSSOAP">
			<soap:address location="http://mwteller:8004/mwteller/branch/tillOperations" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>