Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/T24/autorizaciones/wsdl/autorizaciones.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../xsd/XMLSchema_-1478612703.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../xsd/XMLSchema_-1772015710.xsd"/>
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<message name="Autorizaciondedatacapture">
<part name="parameters" element="tns:Autorizaciondedatacapture"/>
</message>
<message name="AutorizaciondedatacaptureResponse">
<part name="parameters" element="tns:AutorizaciondedatacaptureResponse"/>
</message>
<message name="AutorizacionTransfACH">
<part name="parameters" element="tns:AutorizacionTransfACH"/>
</message>
<message name="AutorizacionTransfACHResponse">
<part name="parameters" element="tns:AutorizacionTransfACHResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
<operation name="Autorizaciondedatacapture">
<input message="tns:Autorizaciondedatacapture"/>
<output message="tns:AutorizaciondedatacaptureResponse"/>
</operation>
<operation name="AutorizacionTransfACH">
<input message="tns:AutorizacionTransfACH"/>
<output message="tns:AutorizacionTransfACHResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Autorizaciondedatacapture">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AutorizacionTransfACH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://mwomnicanal:7003/svcAutorizaciones/services"/>
</port>
</service>
</definitions>