Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/OIC/consultaInformacionCUI/wsdl/consultaInformacionCUI.wsdl

<WL5G3N0:definitions name="consultaInformacionCUIPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUIPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUITypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUIPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:shrq0="http://xmlns.oracle.com/types/ConsultaInformacionCUI_Cloud/1626389871665/InboundSOAPRequestDocument" xmlns:shrs0="http://xmlns.oracle.com/types/ConsultaInformacionCUI_Cloud/1626389871665/InboundSOAPResponseDocument" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wss_http_token_or_jwt_token_service_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:ExactlyOne>
      <wsp:All/>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <osp:HttpToken xmlns:osp="http://schemas.oracle.com/ws/2012/01/wssecuritypolicy">
                  <wsp:Policy>
                    <osp:HttpJwtAuthentication/>
                  </wsp:Policy>
                </osp:HttpToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cre="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUIPS/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUITypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_-1587114293.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:cre="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUIPS/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUITypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUITypes" schemaLocation="../xsd/XMLSchema_-198101730.xsd"/>
    </xsd:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/ConsultaInformacionCUI_Cloud/1626389871665/InboundSOAPRequestDocument" xmlns="http://xmlns.oracle.com/types/ConsultaInformacionCUI_Cloud/1626389871665/InboundSOAPRequestDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUITypes">
      <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUITypes"/>
      <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_-1587114293.xsd"/>
      <xs:element name="InboundSOAPRequestDocument" type="InboundSOAPRequestDocumentType"/>
      <xs:complexType name="InboundSOAPRequestDocumentType">
        <xs:sequence>
          <xs:element name="Headers" maxOccurs="1" minOccurs="0" type="HeadersType"/>
          <xs:element name="Body" maxOccurs="1" minOccurs="1" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element name="SOAPHeaders" maxOccurs="1" minOccurs="0" type="SOAPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPHeadersType">
        <xs:sequence>
          <xs:element ref="ns1:RequestHeader" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/autType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element ref="ns1:consultaInformacionCUIRequest"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/ConsultaInformacionCUI_Cloud/1626389871665/InboundSOAPResponseDocument" xmlns="http://xmlns.oracle.com/types/ConsultaInformacionCUI_Cloud/1626389871665/InboundSOAPResponseDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUITypes">
      <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUITypes"/>
      <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/XMLSchema_-1587114293.xsd"/>
      <xs:element name="InboundSOAPResponseDocument" type="InboundSOAPResponseDocumentType"/>
      <xs:complexType name="InboundSOAPResponseDocumentType">
        <xs:sequence>
          <xs:element name="Headers" maxOccurs="1" minOccurs="0" type="HeadersType"/>
          <xs:element name="Body" maxOccurs="1" minOccurs="1" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element name="SOAPHeaders" maxOccurs="1" minOccurs="0" type="SOAPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPHeadersType">
        <xs:sequence>
          <xs:element ref="ns1:ResponseHeader" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/autType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element ref="ns1:consultaInformacionCUIResponse"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tracking_property" type="TrackingPropertyType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://xmlns.oracle.com/procmon" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/procmon">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="insight_property" type="InsightPropertyType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="consultaInformacionCUIRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N2:consultaInformacionCUIRequest"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaInformacionCUIResponse">
    <WL5G3N0:part name="result" element="WL5G3N2:consultaInformacionCUIResponse"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part name="RequestHeader" element="WL5G3N1:RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part name="ResponseHeader" element="WL5G3N1:ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="consultaInformacionCUIPS_ConsultaInformacionCUI_Cloud_REQUEST">
    <WL5G3N0:operation name="consultaInformacionCUI" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaInformacionCUIRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaInformacionCUIResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="consultaInformacionCUIPS_ConsultaInformacionCUI_Cloud_REQUEST_binding" type="WL5G3N3:consultaInformacionCUIPS_ConsultaInformacionCUI_Cloud_REQUEST">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#wss_http_token_or_jwt_token_service_policy" WL5G3N0:required="false" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    <WL5G3N0:operation name="consultaInformacionCUI">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/consultaInformacionCUIPS/consultaInformacionCUI"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal" encodingStyle=""/>
        <WL5G3N4:body use="literal" parts="parameters"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal" encodingStyle=""/>
        <WL5G3N4:body use="literal" parts="result"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="consultaInformacionCUIPS">
    <WL5G3N0:port name="consultaInformacionCUIPS_ConsultaInformacionCUI_Cloud_REQUEST_pt" binding="WL5G3N3:consultaInformacionCUIPS_ConsultaInformacionCUI_Cloud_REQUEST_binding">
      <WL5G3N4:address location="https://OICDEV-ficocloud.integration.ocp.oraclecloud.com:443/ic/ws/integration/v1/flows/soap/CONSULTAINFORMACIONCUI/1.0/"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>