Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/CTS/actualizaSistemaCobis/wsdl/COBISCorp.eCOBIS.SrvAplCobisCliente.Service.wsdl

<wsdl:definitions name="SrvAplCobisCliente" targetNamespace="http://impl.service.srvaplcobiscliente.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.srvaplcobiscliente.ecobis.cobiscorp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:S1="http://impl.service.srvaplcobiscliente.ecobis.cobiscorp/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.srvaplcobiscliente.ecobis.cobiscorp/"><xsd:import namespace="http://service.srvaplcobiscliente.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsjOpConsultaClienteInfoRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaClienteInfoRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaSituacionFinancieraRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaSituacionFinancieraRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpActualizacionClienteSolicitud">
    <wsdl:part name="parameters" element="tns:opActualizacionClienteSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaClienteInfoSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaClienteInfoSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpActualizacionClienteRespuesta">
    <wsdl:part name="parameters" element="tns:opActualizacionClienteRespuesta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaSituacionFinancieraSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaSituacionFinancieraSolicitud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SrvAplCobisCliente">
    <wsdl:operation name="OpActualizacionCliente">
      <wsdl:input message="S1:MsjOpActualizacionClienteSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpActualizacionClienteRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaClienteInfo">
      <wsdl:input message="S1:MsjOpConsultaClienteInfoSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpConsultaClienteInfoRespuesta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaSituacionFinanciera">
      <wsdl:input message="S1:MsjOpConsultaSituacionFinancieraSolicitud">
    </wsdl:input>
      <wsdl:output message="S1:MsjOpConsultaSituacionFinancieraRespuesta">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvAplCobisClienteBindingSOAP12" type="S1:SrvAplCobisCliente">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpActualizacionCliente">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaClienteInfo">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpConsultaSituacionFinanciera">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvAplCobisClienteService">
    <wsdl:port name="SrvAplCobisClienteBindingSOAP12" binding="S1:SrvAplCobisClienteBindingSOAP12">
      <soap12:address location="http://10.235.53.145:9080/GerenciaProductoCliente/SrvAplCobisClienteService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>