Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Compliances/RequestorServices/XSD/getCustomerLists.xsd

<xsd:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaListasCliente" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gcl="http://www.ficohsa.com.hn/middleware.services/consultaListasCliente" xmlns:dtt="http://www.ficohsa.com.hn/middleware.services/dynamoTypes">
   <xsd:import schemaLocation="../../../../CommonResources/XSD/DynamoTypes.xsd" namespace="http://www.ficohsa.com.hn/middleware.services/dynamoTypes"/>
  <xsd:element name="getCustomerListsResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="StatusInfo" minOccurs="0" type="dtt:StatusInfoType"/>
            <xsd:element name="CustomerId" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CustomerName" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AssociationsList" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Association" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="AssociationName" minOccurs="0" type="xsd:string"/>
                              <xsd:element name="CustomerStatus" minOccurs="0" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="ErrorInfo" minOccurs="0" type="dtt:ErrorInfoType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>