Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v3/Resources/ValidacionCuentaACH/xsd/validacionCuentaAchType.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/validacionCuentaAchType"
	xmlns:trans="http://www.ficohsa.com.hn/middleware.services/validacionCuentaAchType">


	<xs:complexType name="validacionCuentaAch">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CHECK_CANCELLED_YES_NO" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="YES"/>
						<xs:enumeration value="NO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>

	<xs:complexType name="validacionCuentaAchResponse">
		<xs:sequence>
			<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ACCOUNT_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ACCOUNT_STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="KV_PAIRS" type="trans:KVPairType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="INTERNATIONAL_ACCOUNT_NUMBER" type="xs:string"
			    minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="KVPairType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="PAIR" type="trans:PairType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PairType">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string"/>
			<xs:element name="VALUE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="validacionCuentaAch" type="trans:validacionCuentaAch" />

	<xs:element name="validacionCuentaAchResponse" type="trans:validacionCuentaAchResponse" />

</xs:schema>