Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ActualizaEstadoTDSwitch/xsd/actualizaEstadoTDSwitchTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoTDSwitchTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/actualizaEstadoTDSwitchTypes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<!-- itemType -->
	
	<xs:complexType name="itemType">
		<xs:sequence>
			<xs:element name="KEY" type="xs:string" />
			<xs:element name="VALUE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- messageDetailType -->
	
	<xs:complexType name="messageDetailType">
		<xs:sequence>
			<xs:element name="ITEM" type="tns:itemType" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<!--###################################### -->
	<!-- OPERATION: ACTUALIZA ESTADO TD SWITCH -->
	<!--###################################### -->
	
	<xs:element name="actualizaEstadoTDSwitch">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HEADER_MESSAGE_DETAILS" type="tns:messageDetailType" minOccurs="0" />
				<xs:element name="BODY_MESSAGE_DETAILS" type="tns:messageDetailType" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="actualizaEstadoTDSwitchResponse" />

</xs:schema>