Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/origenFondos/consultaOrigenFondos/consultaOrigenFondosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaOrigenFondosTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaOrigenFondosTypes">
	
	<xs:complexType name = "consultaOrigenFondosResponseArrayType">
		<xs:sequence>
			            <xs:element name="FUNDS_ORIGIN_ID" type="xs:string" minOccurs="0" />
						<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" />
						</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaOrigenFondosResponseRecordType">
			<xs:sequence>
					<xs:element name="consultaOrigenFondosResponseRecordType" type="cons:consultaOrigenFondosResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	
	<xs:complexType name="consultaOrigenFondosResponseType">
		<xs:sequence>
			<xs:element name="consultaOrigenFondosResponseType" type="cons:consultaOrigenFondosResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:element name="consultaOrigenFondos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FUNDS_ORIGIN_ID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaOrigenFondosResponse" type="cons:consultaOrigenFondosResponseType"/>
	
</xs:schema>