Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/RNP/consultaCompletaInscripcion/wsdl/consultaCompletaInscripcion.wsdl

<WL5G3N0:definitions name="inscripcionesRNPPS" targetNamespace="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPPS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:WL5G3N2="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPTypes" xmlns:WL5G3N3="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPPS/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:shrq0="http://xmlns.oracle.com/types/InscriptionRNP_CLOUD/InboundSOAPRequestDocument" xmlns:shrs0="http://xmlns.oracle.com/types/InscriptionRNP_CLOUD/InboundSOAPResponseDocument" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wss_http_token_or_jwt_token_service_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:ExactlyOne>
      <wsp:All/>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <osp:HttpToken xmlns:osp="http://schemas.oracle.com/ws/2012/01/wssecuritypolicy">
                  <wsp:Policy>
                    <osp:HttpJwtAuthentication/>
                  </wsp:Policy>
                </osp:HttpToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <WL5G3N0:types>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPPS/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../xsd/consultaCompletaInscripcionHeaderTypes.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:op="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPPS/" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPTypes" schemaLocation="../xsd/consultaCompletaInscripcionTypes.xsd"/>
    </xsd:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/InscriptionRNP_CLOUD/InboundSOAPRequestDocument" xmlns="http://xmlns.oracle.com/types/InscriptionRNP_CLOUD/InboundSOAPRequestDocument" xmlns:ns0="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPTypes"/>
      <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/autType"/>
      <xs:element name="InboundSOAPRequestDocument" type="InboundSOAPRequestDocumentType"/>
      <xs:complexType name="InboundSOAPRequestDocumentType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Headers" type="HeadersType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Body" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="SOAPHeaders" type="SOAPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPHeadersType">
        <xs:sequence>
          <xs:element ref="ns1:RequestHeader" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/autType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element ref="ns1:consultaCompletaInscripcion"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/types/InscriptionRNP_CLOUD/InboundSOAPResponseDocument" xmlns="http://xmlns.oracle.com/types/InscriptionRNP_CLOUD/InboundSOAPResponseDocument" xmlns:ns0="http://www.ficohsa.com.hn/middleware.services/autType" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPTypes"/>
      <xs:import namespace="http://www.ficohsa.com.hn/middleware.services/autType"/>
      <xs:element name="InboundSOAPResponseDocument" type="InboundSOAPResponseDocumentType"/>
      <xs:complexType name="InboundSOAPResponseDocumentType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Headers" type="HeadersType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Body" type="BodyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeadersType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="SOAPHeaders" type="SOAPHeadersType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPHeadersType">
        <xs:sequence>
          <xs:element ref="ns1:ResponseHeader" xmlns:ns1="http://www.ficohsa.com.hn/middleware.services/autType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BodyType">
        <xs:sequence>
          <xs:element ref="ns1:consultaCompletaInscripcionResponse"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tracking_property" type="TrackingPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon" xmlns="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="insight_property" type="InsightPropertyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="consultaCompletaInscripcionRequest">
    <WL5G3N0:part name="parameters" element="WL5G3N2:consultaCompletaInscripcion"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaCompletaInscripcionResponse">
    <WL5G3N0:part name="result" element="WL5G3N2:consultaCompletaInscripcionResponse"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestHeader">
    <WL5G3N0:part name="RequestHeader" element="WL5G3N1:RequestHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeader">
    <WL5G3N0:part name="ResponseHeader" element="WL5G3N1:ResponseHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="inscripcionesRNPPS_InscriptionRNP_CLOUD_REQUEST">
    <WL5G3N0:operation name="consultaCompletaInscripcion" parameterOrder="parameters RequestHeader ResponseHeader">
      <WL5G3N0:input message="WL5G3N3:consultaCompletaInscripcionRequest"/>
      <WL5G3N0:output message="WL5G3N3:consultaCompletaInscripcionResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="inscripcionesRNPPS_InscriptionRNP_CLOUD_REQUEST_binding" type="WL5G3N3:inscripcionesRNPPS_InscriptionRNP_CLOUD_REQUEST">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#wss_http_token_or_jwt_token_service_policy" WL5G3N0:required="false" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    <WL5G3N0:operation name="consultaCompletaInscripcion">
      <WL5G3N4:operation soapAction="http://www.ficohsa.com.hn/middleware.services/inscripcionesRNPPS/inscripcionesRNP"/>
      <WL5G3N0:input>
        <WL5G3N4:header message="WL5G3N3:requestHeader" part="RequestHeader" use="literal" encodingStyle=""/>
        <WL5G3N4:body use="literal" parts="parameters"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:header message="WL5G3N3:responseHeader" part="ResponseHeader" use="literal" encodingStyle=""/>
        <WL5G3N4:body use="literal" parts="result"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="inscripcionesRNPPS">
    <WL5G3N0:port name="inscripcionesRNPPS_InscriptionRNP_CLOUD_REQUEST_pt" binding="WL5G3N3:inscripcionesRNPPS_InscriptionRNP_CLOUD_REQUEST_binding">
      <WL5G3N4:address location="https://OICDEV-ficocloud.integration.ocp.oraclecloud.com:443/ic/ws/integration/v1/flows/soap/INSCRIPTIONRNPSERVICE/1.0/"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>