Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/CreacionCuentaFinanciamiento/xsd/creacionCuentaFinanciamientoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/creacionCuentaFinanciamientoTypes"
	xmlns:ccf="http://www.ficohsa.com.hn/middleware.services/creacionCuentaFinanciamientoTypes">
	
	<!-- stringMinLength1Type -->
    <xs:simpleType name="stringMinLength1">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="creacionCuentaFinanciamiento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="xs:int"/>
				<xs:element name="LOGO" type="xs:int"/>
				<xs:element name="SHORT_NAME" type="ccf:stringMinLength1" />
				<xs:element name="CUSTOMER_ID" type="ccf:stringMinLength1" />
				<xs:element name="CREDIT_LIMIT_LCY" type="xs:int"/>
				<xs:element name="BILLING_TYPE" type="xs:int"/>
				<xs:element name="OPENING_DATE" type="xs:date"/>
				<xs:element name="ACCOUNT_CYCLE" type="xs:int"/>
				<xs:element name="STATEMENT_INDICATOR" type="xs:string"/>
				<xs:element name="CUSTOMER_INCOME_AMOUNT" type="xs:decimal"/>
				<xs:element name="CARD_EXP_DATE" type="xs:int"/>
				<xs:element name="PCT_STATE_OF_RESIDENCE" type="xs:int"/>
				<xs:element name="PCT_STATE_OF_ISSUE" type="ccf:stringMinLength1"/>
				<xs:element name="PCT_CODE" type="xs:int" minOccurs="0"/>
				<xs:element name="CARD_TECHNOLOGY" type="xs:int"/>
				<xs:element name="ACCUMULTATION_INDICATOR" type="xs:string"/>
				<xs:element name="WITHDRAWAL_INDICATOR" type="xs:string"/>
				<xs:element name="CASH_PLAN_NUMBER" type="xs:int"/>
				<xs:element name="PURCHASE_PLAN_CODE" type="xs:int"/>
				<xs:element name="PROMO_PLAN_NUMBER" type="xs:int"/>				
				<xs:element name="AUTH_LIMIT_OVRRD_IND" type="xs:int"/>
				<xs:element name="BRANCH" type="ccf:stringMinLength1"/>
				<xs:element name="WITHDRAWAL_LIMIT" type="xs:int" minOccurs="0"/>
				<xs:element name="INSTALLMENT_PLAN_CODE" type="xs:int" minOccurs="0"/>
				<xs:element name="CREDIT_LIMIT_FCY" type="xs:int"/>
				<xs:element name="USER_CODE" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="IND" type="xs:int" minOccurs="0"/>
                            <xs:element name="VALUE" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
				<xs:element name="USER_AMOUNT" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="IND" type="xs:int" minOccurs="0"/>
                            <xs:element name="VALUE" type="xs:decimal" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="USER_DATE" minOccurs="0" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="IND" type="xs:int" minOccurs="0"/>
                            <xs:element name="VALUE" type="xs:date" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="creacionCuentaFinanciamientoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>						
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>