Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/Cargos/XMLSchema_-282708305.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Cargoporreposicionlibreta" type="tns:Cargoporreposicionlibreta"/>

<xs:element name="CargoporreposicionlibretaResponse" type="tns:CargoporreposicionlibretaResponse"/>

<xs:element name="Cargoporreposicionlibreta_Validate" type="tns:Cargoporreposicionlibreta_Validate"/>

<xs:element name="Cargoporreposicionlibreta_ValidateResponse" type="tns:Cargoporreposicionlibreta_ValidateResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="ACCHARGEREQUESTFICOPBOOKCHQWSType">
<xs:sequence>
<xs:element name="REQUESTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGECCY" type="xs:string" minOccurs="0"/>
<xs:element name="gCHARGECODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHARGECODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHARGECODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEAMOUNT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gEXTRADETAILS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="EXTRADETAILS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="ACCHARGEREQUESTType">
<xs:sequence>
<xs:element name="REQUESTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="DEBITACCOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERNO" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGECCY" type="xs:string" minOccurs="0"/>
<xs:element name="gCHARGECODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mCHARGECODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="CHARGECODE" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEAMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="sgTAXCODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TAXCODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="TAXCODE" type="xs:string" minOccurs="0"/>
<xs:element name="TAXAMT" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="TOTALCHGAMT" type="xs:string" minOccurs="0"/>
<xs:element name="RELATEDREF" type="xs:string" minOccurs="0"/>
<xs:element name="MSGSERIES" type="xs:string" minOccurs="0"/>
<xs:element name="SWIFTTORAISE" type="xs:string" minOccurs="0"/>
<xs:element name="CHARGEDETAIL" type="xs:string" minOccurs="0"/>
<xs:element name="gEXTRADETAILS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="EXTRADETAILS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="ORDINSTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="gORDERINGINST" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ORDERINGINST" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="ACCTWITHTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="gACCTWITHBANK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ACCTWITHBANK" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="SENDERDETAIL" type="xs:string" minOccurs="0"/>
<xs:element name="gSENDERINFO" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="SENDERINFO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
<xs:element name="gREMARKS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="REMARKS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gSENDNOTICE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="SENDNOTICE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="REMOVEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="gHISTSTATUS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mHISTSTATUS" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="HISTSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="STATUSDATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gACTIVITYCODE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mACTIVITYCODE" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ACTIVITYCODE" type="xs:string" minOccurs="0"/>
<xs:element name="ACTIVITYDATE" type="xs:string" minOccurs="0"/>
<xs:element name="sgMAPPINGKEY" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="MAPPINGKEY" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="MAPPINGKEY" type="xs:string" minOccurs="0"/>
<xs:element name="DELIVERYREF" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="s" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="sg" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RESERVED1" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED2" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED3" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED4" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED5" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED6" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED7" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED8" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED9" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED10" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED11" type="xs:string" minOccurs="0"/>
<xs:element name="RESERVED12" type="xs:string" minOccurs="0"/>
<xs:element name="gSTMTNOS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="STMTNOS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gOVERRIDE" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OVERRIDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="RECORDSTATUS" type="xs:string" minOccurs="0"/>
<xs:element name="CURRNO" type="xs:string" minOccurs="0"/>
<xs:element name="gINPUTTER" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="INPUTTER" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="gDATETIME" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="DATETIME" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
<xs:element name="AUTHORISER" type="xs:string" minOccurs="0"/>
<xs:element name="COCODE" type="xs:string" minOccurs="0"/>
<xs:element name="DEPTCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITORCODE" type="xs:string" minOccurs="0"/>
<xs:element name="AUDITDATETIME" type="xs:string" minOccurs="0"/>
<xs:element name="PAYMENTTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUENUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CHEQUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="COLLREFERENCE" type="xs:string" minOccurs="0"/>
<xs:element name="FTTTTXNREF" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Cargoporreposicionlibreta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="ACCHARGEREQUESTFICOPBOOKCHQWSType" type="tns:ACCHARGEREQUESTFICOPBOOKCHQWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofsFunction">
<xs:sequence>
<xs:element name="gtsControl" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="noOfAuth" type="xs:string" minOccurs="0"/>
<xs:element name="replace" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CargoporreposicionlibretaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="ACCHARGEREQUESTType" type="tns:ACCHARGEREQUESTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Cargoporreposicionlibreta_Validate">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="OfsFunction" type="tns:ofsFunction" minOccurs="0"/>
<xs:element name="ACCHARGEREQUESTFICOPBOOKCHQWSType" type="tns:ACCHARGEREQUESTFICOPBOOKCHQWSType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Cargoporreposicionlibreta_ValidateResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="ACCHARGEREQUESTType" type="tns:ACCHARGEREQUESTType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>