Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultasCuenta/XMLSchema_378991004.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="T24WebServicesImpl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="T24WebServicesImpl">

<xs:element name="Consultadecuentascanceladas" type="tns:Consultadecuentascanceladas"/>

<xs:element name="ConsultadecuentascanceladasResponse" type="tns:ConsultadecuentascanceladasResponse"/>

<xs:element name="Consultadedetallesdelacuenta" type="tns:Consultadedetallesdelacuenta"/>

<xs:element name="ConsultadedetallesdelacuentaResponse" type="tns:ConsultadedetallesdelacuentaResponse"/>

<xs:element name="Consultademovimientosdecta" type="tns:Consultademovimientosdecta"/>

<xs:element name="ConsultademovimientosdectaResponse" type="tns:ConsultademovimientosdectaResponse"/>

<xs:element name="Consultadesaldodecuenta" type="tns:Consultadesaldodecuenta"/>

<xs:element name="ConsultadesaldodecuentaResponse" type="tns:ConsultadesaldodecuentaResponse"/>

<xs:element name="Consultasaldopromcuenta" type="tns:Consultasaldopromcuenta"/>

<xs:element name="ConsultasaldopromcuentaResponse" type="tns:ConsultasaldopromcuentaResponse"/>

<xs:element name="callOfs" type="tns:callOfs"/>

<xs:element name="callOfsResponse" type="tns:callOfsResponse"/>

<xs:complexType name="WSACCOUNTCLOSEDType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSACCOUNTCLOSEDDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSACCOUNTCLOSEDDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="CLOSUREDATE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFICOACCTBASICDETAILSType">
<xs:sequence>
<xs:element name="gWSFICOACCTBASICDETAILSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSFICOACCTBASICDETAILSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="BALANCESDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERID" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALDOCVAL" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LASTMOVEMENTVAL" type="xs:string" minOccurs="0"/>
<xs:element name="INACTIVEVAL" type="xs:string" minOccurs="0"/>
<xs:element name="CANCELDATE" type="xs:string" minOccurs="0"/>
<xs:element name="BLOCKEDDATE" type="xs:string" minOccurs="0"/>
<xs:element name="AVAILBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="CLEARINGBAL" type="xs:string" minOccurs="0"/>
<xs:element name="LOCKEDBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="LOCKEDVISABAL" type="xs:string" minOccurs="0"/>
<xs:element name="TOTALAVAILBAL" type="xs:string" minOccurs="0"/>
<xs:element name="ACTUALBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHLIMITCASHADV" type="xs:string" minOccurs="0"/>
<xs:element name="UTILCASHADVVAL" type="xs:string" minOccurs="0"/>
<xs:element name="AUTHOVRDFVAL" type="xs:string" minOccurs="0"/>
<xs:element name="USEDOVRDFVAL" type="xs:string" minOccurs="0"/>
<xs:element name="AVLOVRDFVAL" type="xs:string" minOccurs="0"/>
<xs:element name="UNAUTHOVRDFVAL" type="xs:string" minOccurs="0"/>
<xs:element name="ACCTRESVAMT" type="xs:string" minOccurs="0"/>
<xs:element name="USEDRESVLIMVAL" type="xs:string" minOccurs="0"/>
<xs:element name="RESVLIMVAL" type="xs:string" minOccurs="0"/>
<xs:element name="LRPAYROLLGRP" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSACCOUNTLISTType">
<xs:sequence>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSACCOUNTLISTDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSACCOUNTLISTDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="CUSTOMERNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="SHORTTITLE" type="xs:string" minOccurs="0"/>
<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="LIMITREF" type="xs:string" minOccurs="0"/>
<xs:element name="POSTINGRESTRICT" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTOFFICER" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCHCODE" type="xs:string" minOccurs="0"/>
<xs:element name="ALTACCTID" type="xs:string" minOccurs="0"/>
<xs:element name="OPENINGDATE" type="xs:string" minOccurs="0"/>
<xs:element name="OPERATIONTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="LEGALID" type="xs:string" minOccurs="0"/>
<xs:element name="REQUIREDSIGNATURES" type="xs:string" minOccurs="0"/>
<xs:element name="SIGNATUREDESC" type="xs:string" minOccurs="0"/>
<xs:element name="INACTIVEMARKER" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSACCTAVERAGEBALType">
<xs:sequence>
<xs:element name="Ccy" type="xs:string" minOccurs="0"/>
<xs:element name="DISPSTARTDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DISPENDDATE" type="xs:string" minOccurs="0"/>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSACCTAVERAGEBALDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSACCTAVERAGEBALDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string" minOccurs="0"/>
<xs:element name="AccountNo" type="xs:string" minOccurs="0"/>
<xs:element name="DrDays" type="xs:string" minOccurs="0"/>
<xs:element name="AvrgDrBal" type="xs:string" minOccurs="0"/>
<xs:element name="CrDays" type="xs:string" minOccurs="0"/>
<xs:element name="AvrgCrBal" type="xs:string" minOccurs="0"/>
<xs:element name="ZeroDays" type="xs:string" minOccurs="0"/>
<xs:element name="PAGEBRK" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSSTMTENTBOOKType">
<xs:sequence>
<xs:element name="ACCOUNTNUMBER" type="xs:string" minOccurs="0"/>
<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
<xs:element name="STARTINGBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="ACCOUNTNAME" type="xs:string" minOccurs="0"/>
<xs:element name="ENDINGBALANCE" type="xs:string" minOccurs="0"/>
<xs:element name="ZERORECORDS" type="xs:string" minOccurs="0"/>
<xs:element name="gWSSTMTENTBOOKDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mWSSTMTENTBOOKDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="BACC" type="xs:string" minOccurs="0"/>
<xs:element name="TRANSACTIONCODE" type="xs:string" minOccurs="0"/>
<xs:element name="VALUEDATE" type="xs:string" minOccurs="0"/>
<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
<xs:element name="REFNO" type="xs:string" minOccurs="0"/>
<xs:element name="POST" type="xs:string" minOccurs="0"/>
<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
<xs:element name="NARRATIVE" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultademovimientosdecta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSSTMTENTBOOKType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="webRequestCommon">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInput">
<xs:sequence>
<xs:element name="enquiryInputCollection" type="tns:enquiryInputCollection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryInputCollection">
<xs:sequence>
<xs:element name="columnName" type="xs:string" minOccurs="0"/>
<xs:element name="criteriaValue" type="xs:string" minOccurs="0"/>
<xs:element name="operand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultademovimientosdectaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSSTMTENTBOOKType" type="tns:WSSTMTENTBOOKType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
<xs:sequence>
<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:string" minOccurs="0"/>
<xs:element name="successIndicator" type="tns:successIndicator" minOccurs="0"/>
<xs:element name="application" type="xs:string" minOccurs="0"/>
<xs:element name="messages" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultasaldopromcuenta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSACCTAVERAGEBALType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultasaldopromcuentaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSACCTAVERAGEBALType" type="tns:WSACCTAVERAGEBALType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadedetallesdelacuenta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSACCOUNTLISTType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadedetallesdelacuentaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSACCOUNTLISTType" type="tns:WSACCOUNTLISTType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfs">
<xs:sequence>
<xs:element name="OfsRequest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callOfsResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="OfsResponse" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadecuentascanceladas">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSACCOUNTCLOSEDType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadecuentascanceladasResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSACCOUNTCLOSEDType" type="tns:WSACCOUNTCLOSEDType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consultadesaldodecuenta">
<xs:sequence>
<xs:element name="WebRequestCommon" type="tns:webRequestCommon" minOccurs="0"/>
<xs:element name="WSFICOACCTBASICDETAILSType" type="tns:enquiryInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultadesaldodecuentaResponse">
<xs:sequence>
<xs:element name="Status" type="tns:Status" minOccurs="0"/>
<xs:element name="WSFICOACCTBASICDETAILSType" type="tns:WSFICOACCTBASICDETAILSType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="successIndicator">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="TWSError"/>
<xs:enumeration value="T24Error"/>
<xs:enumeration value="T24Override"/>
<xs:enumeration value="T24Offline"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>