Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/ConsultaTransaccionRTE/RegistrarEquivalenteTrxRTE/FLINK_OSB_REGISTRAR_EQUIV_TRX.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_REGISTRAR_EQUIV_TRX/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_REGISTRAR_EQUIV_TRX/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="ID_TRX" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="SECUENCIA" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_ERROR" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_ERROR" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>