Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABK/consultarBinesTC/xsd/consultarBinesTC_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarBines" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarBines" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_BIN" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_PAIS" type="db:ORA_BANK.TOPLEVEL_TVARCHAR10" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCION" type="db:ORA_BANK.TOPLEVEL_TVARCHAR256" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_BIN_NUMBER" type="db:ORA_BANK.TOPLEVEL_TNUMBER" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PN_REGISTROS" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PN_ERROR" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_SUCCESSINDICATOR" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_ERROR" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="ORA_BANK.TOPLEVEL_TNUMBER">
      <sequence>
         <element name="PV_BIN_NUMBER_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR10">
      <sequence>
         <element name="PV_PAIS_ITEM" type="db:string10" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="ORA_BANK.TOPLEVEL_TVARCHAR256">
      <sequence>
         <element name="PV_DESCRIPCION_ITEM" type="db:string256" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
</schema>