Fuentes/ficohsacore-osb-7e5cceccb837/MiddlewareCaja/Resources/xsds/Recaudos/RegistrarConsultaMesesAMDC/FLINK_OSB_REG_CON_MESES_AMDC.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_REG_CON_MESES_AMDC/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/FLINK/OSB_REG_CON_MESES_AMDC/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CONTRATO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DEUDOR" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MESES" type="db:TVARCHAR100" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="FECHAS" type="db:TVARCHAR100" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CONTRATO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DEUDOR" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MESES_ADEUDADOS" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_ERROR" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MENSAJE_ERROR" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TVARCHAR100">
      <sequence>
         <element name="ITEM" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>