Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/AlertasProductos/xsd/alertasProductosTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
		targetNamespace="http://www.ficohsa.com.hn/middleware.services/alertasProductosTypes" 
		xmlns:alt="http://www.ficohsa.com.hn/middleware.services/alertasProductosTypes" > 
		
	<!--#################################################################-->     
    			<!-- TIPOS GENERALES -->	
		
	<!-- stringMinLength1Type -->
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	<!--#################################################################-->     
    			<!-- TIPOS SUBSCRIBE PRODUCTO -->	
	
	<!-- alertTypeClassType -->
    <xs:simpleType name="alertTypeClassType">
        <xs:restriction base="xs:string">
           	 <xs:enumeration value= "BALANCE"/>
          	 <xs:enumeration value= "TRANSACTION"/>
          	 <xs:enumeration value= "DEBIT"/>
          	 <xs:enumeration value= "CREDIT"/>
          	 <xs:enumeration value= "REJECT"/>
        </xs:restriction>
    </xs:simpleType>
    
	<!-- actionClassType -->
    <xs:simpleType name="actionClassType">
        <xs:restriction base="xs:string">
           	 <xs:enumeration value= "ADD"/>
          	 <xs:enumeration value= "DEL"/>
          	 <xs:enumeration value= "UPD"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!--#################################################################-->     
    			<!-- TIPOS CONSULTA SALDO CUENTAS BATCH -->	
    
    <!-- accountsType -->
    <xs:complexType name="accountsRequestType">
		<xs:sequence>
			<xs:element name="ACCOUNT" maxOccurs="unbounded" type="alt:accountRequestType"/>		
		</xs:sequence>
	</xs:complexType>
	
	<!-- accountsType -->
    <xs:complexType name="accountRequestType">
		<xs:sequence>
			<xs:element name="ID" type="alt:stringMinLength1"/>
			<xs:element name="PRODUCT_REGION" type="alt:stringMinLength1" />		
		</xs:sequence>
	</xs:complexType>
	
	<!-- accountsType -->
    <xs:complexType name="accountsResponseType">
		<xs:sequence>
			<xs:element name="ACCOUNT" minOccurs="0" maxOccurs="unbounded" type="alt:accountResponseType"/>		
		</xs:sequence>
	</xs:complexType>
	
	<!-- accountsType -->
    <xs:complexType name="accountResponseType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="AVAILABLE_BALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="TOTAL_BALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="SOURCE_BANK" type="xs:string" minOccurs="0" />
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0" />		
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" />				
		</xs:sequence>
	</xs:complexType>
	
	<!--#################################################################-->     
    			<!-- TIPOS CONSULTA SALDO TC BATCH -->	
	
	<!-- cardsRequestType -->
    <xs:complexType name="cardsRequestType">
		<xs:sequence>
			<xs:element name="CARD" maxOccurs="unbounded" type="alt:cardRequestType"/>		
		</xs:sequence>
	</xs:complexType>
	
	<!-- cardRequestType -->
    <xs:complexType name="cardRequestType">
		<xs:sequence>
			<xs:element name="ID" type="alt:stringMinLength1"/>
			<xs:element name="PRODUCT_REGION" type="alt:stringMinLength1" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- cardsResponseType -->
    <xs:complexType name="cardsResponseType">
		<xs:sequence>
			<xs:element name="CARD" minOccurs="0" maxOccurs="unbounded" type="alt:cardResponseType"/>		
		</xs:sequence>
	</xs:complexType>
	
	<!-- cardResponseType -->
    <xs:complexType name="cardResponseType">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="BALANCES" type="alt:BalancesType" minOccurs="0" />
			<xs:element name="SOURCE_BANK" type="xs:string" minOccurs="0" />
			<xs:element name="SUCCESS_INDICATOR" type="xs:string" minOccurs="0" />		
			<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0" />	
		</xs:sequence>
	</xs:complexType>
	
	<!-- BalancesType -->
    <xs:complexType name="BalancesType">
		<xs:sequence>
			<xs:element name="BALANCE" minOccurs="0" maxOccurs="unbounded" type="alt:BalanceType"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- BalanceType -->
    <xs:complexType name="BalanceType">
		<xs:sequence>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENT_BALANCE" type="xs:string" minOccurs="0" />
			<xs:element name="PURCHASES_LIMIT" type="xs:string" minOccurs="0" />
			<xs:element name="WITHDRAWAL_LIMIT" type="xs:string" minOccurs="0" />				
		</xs:sequence>
	</xs:complexType>
	
	<!--#################################################################-->     
    			<!-- TIPOS CONSULTA CONTROL SISTEMA -->	
	
	<!-- applicationTypeClassType -->
    <xs:simpleType name="applicationTypeClassType">
        <xs:restriction base="xs:string">
           	 <xs:enumeration value= "CREDIT_CARD_PROCESSOR"/>
          	 <xs:enumeration value= "CORE_BANKING"/>
          	 <xs:enumeration value= "CORE_LOAN"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- applicationsResponseType -->
    <xs:complexType name="applicationsResponseType">
		<xs:sequence>
			<xs:element name="APPLICATION" minOccurs="0" maxOccurs="unbounded" type="alt:applicationResponseType"/>		
		</xs:sequence>
	</xs:complexType>
	
	<!-- applicationResponseType -->
    <xs:complexType name="applicationResponseType">
		<xs:sequence>
			<xs:element name="REGION" type="xs:string" minOccurs="0"/>
			<xs:element name="AVAILABLE_QUERY" type="xs:string" minOccurs="0" />
			<xs:element name="AVAILABLE_TRANSACTION" type="xs:string" minOccurs="0" />			
		</xs:sequence>
	</xs:complexType>
   	
 <!--#################################################################-->     
    			<!--OPERACION: SUBSCRIBE PRODUCTO-->

	<xs:element name="subscribeProducto">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="CUSTOMER_ID" type="alt:stringMinLength1"/>
				<xs:element name="PRODUCT_TYPE" type="alt:stringMinLength1"/>
				<xs:element name="PRODUCT_NUMBER" type="alt:stringMinLength1"/>
	            <xs:element name="ALERT_TYPE" type="alt:alertTypeClassType"/>
	            <xs:element name="ACTION" type="alt:actionClassType"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
	
	<xs:element name="subscribeProductoResponse">
    </xs:element> 
    
  <!--#################################################################-->     
    			<!--OPERACION: CONSULTA SALDO CUENTAS BATCH--> 

	<xs:element name="consultaSaldoCuentasBatch">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="ACCOUNTS" type="alt:accountsRequestType" />
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
	
	<xs:element name="consultaSaldoCuentasBatchResponse">
		<xs:complexType>
            <xs:sequence>
            	<xs:element name="ACCOUNTS" minOccurs="0" type="alt:accountsResponseType" />
            </xs:sequence> 
        </xs:complexType>
    </xs:element> 
    
    
    <!--#################################################################-->     
    			<!--OPERACION: CONSULTA SALDO TC BATCH--> 

	<xs:element name="consultaSaldoTCBatch">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="CARDS" type="alt:cardsRequestType" />
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
	
	<xs:element name="consultaSaldoTCBatchResponse">
		<xs:complexType>
            <xs:sequence>
            	<xs:element name="CARDS" minOccurs="0" type="alt:cardsResponseType" />
            </xs:sequence> 
        </xs:complexType>
    </xs:element> 
    
    <!--#################################################################-->     
    			<!--OPERACION: CONSULTA CONTROL SISTEMA-->

	<xs:element name="consultaControlSistema">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="APPLICATION_REGION" type="alt:stringMinLength1"/>
	            <xs:element name="APPLICATION" type="alt:applicationTypeClassType"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>   
	
	<xs:element name="consultaControlSistemaResponse">
		<xs:complexType>
            <xs:sequence>
            	<xs:element name="APPLICATIONS" minOccurs="0" type="alt:applicationsResponseType" />
            </xs:sequence> 
        </xs:complexType>
    </xs:element> 
    
</xs:schema>