Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/MantenimientoSeguroCuenta/xsd/XMLSchema_689985181.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/mantenimientoSeguroCuentaTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/mantenimientoSeguroCuentaTypes">
     
     <xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
     
     <xs:element name="CancelacionSeguroRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ORG" type="tns:stringMinLength1"/>			
				<xs:element name="CARD_NUMBER" type="tns:stringMinLength1"/>
				<xs:element name="DUAL_INDICATOR" type="tns:stringMinLength1"/>
				<xs:element name="PRODUCT_CODE" type="tns:stringMinLength1"/>
				<xs:element name="STATE_CODE" type="tns:stringMinLength1"/>
				<xs:element name="REASON_CANCELLATION" type="tns:stringMinLength1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
	
	<xs:element name="CancelacionSeguroResponse">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="SERVICE_RESPONSE" type="xs:string" minOccurs="0"/>
    			<xs:element name="NUMBER_ERRORS" type="xs:string" minOccurs="0"/>
    			<xs:element name="CODE_ERROR" type="xs:string" minOccurs="0"/>
    			<xs:element name="DESCRIPTION_ERROR" type="xs:string" minOccurs="0"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>

</xs:schema>