Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/ConsultaAlertaSafewatch/xsd/consultaAlertaSafewatchTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaAlertaSafewatchTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaAlertaSafewatchTypes">
	<xs:element name="consultaAlertaSafewatchRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DETECTION_ID" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="consultaAlertaSafewatchResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DETECTION_ID" type="xs:int" />
				<xs:element name="GLOBAL_STATUS" type="xs:string" minOccurs="0" />
				<xs:element name="ALERT_COUNT" type="xs:int" />
				<xs:element name="VERIFIED_ALERTS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ALERT" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:int" />
										<xs:element name="STATUS" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>