Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/ABKGT/actualizaClientes/wsdl/abandef_08032021.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ficohsa.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UpdatesReveiverImpl" targetNamespace="http://service.ficohsa.com/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.ficohsa.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.ficohsa.com/">
<xs:element name="recordCustomerData" type="tns:recordCustomerData"/>
<xs:element name="recordCustomerDataResponse" type="tns:recordCustomerDataResponse"/>
<xs:complexType name="recordCustomerData">
<xs:sequence>
<xs:element name="UUID" type="xs:string"/>
<xs:element name="CUSTOMER_DATA" type="tns:customerData"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="customerData">
<xs:sequence>
<xs:element name="CUSTOMER_INFO" type="tns:customerInfo"/>
<xs:element name="IDENTIFICATION_INFO" type="tns:identificationInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="ADDRESS_INFO" type="tns:addressInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="PHONE_INFO" type="tns:phoneInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="EMAIL_INFO" type="tns:emailInfo"/>
<xs:element name="CONTROL_INFO" type="tns:controlInfo"/>
<xs:element name="SYSTEM_INFO" type="tns:systemInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="customerInfo">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="INFO" type="tns:element"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="element">
<xs:sequence>
<xs:element name="NAME" type="xs:string"/>
<xs:element name="VALUE" type="xs:string"/>
<xs:element name="STATUS" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="identificationInfo">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="INFO" type="tns:element"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addressInfo">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="INFO" type="tns:element"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="phoneInfo">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="INFO" type="tns:element"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="emailInfo">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="INFO" type="tns:element"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="controlInfo">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="INFO" type="tns:element"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="systemInfo">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="INFO" type="tns:element"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="requestHeader">
<xs:sequence>
<xs:element name="Authentication" type="tns:authentication"/>
<xs:element name="Region" type="tns:region"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="authentication">
<xs:sequence>
<xs:element name="Username" type="xs:string"/>
<xs:element name="Password" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="region">
<xs:sequence>
<xs:element name="SourceBank" type="xs:string"/>
<xs:element name="DestinationBank" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="recordCustomerDataResponse">
<xs:sequence>
<xs:element minOccurs="0" name="SUCCES_INDICATOR" type="xs:string"/>
<xs:element minOccurs="0" name="STATUS_MESSAGE" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="RequestHeader" nillable="true" type="tns:requestHeader"/>
</xs:schema>
</wsdl:types>
<wsdl:message name="recordCustomerData">
<wsdl:part element="tns:recordCustomerData" name="parameters"> </wsdl:part>
<wsdl:part element="tns:RequestHeader" name="RequestHeader"> </wsdl:part>
</wsdl:message>
<wsdl:message name="recordCustomerDataResponse">
<wsdl:part element="tns:recordCustomerDataResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="UpdatesReceiver">
<wsdl:operation name="recordCustomerData">
<wsdl:input message="tns:recordCustomerData" name="recordCustomerData"> </wsdl:input>
<wsdl:output message="tns:recordCustomerDataResponse" name="recordCustomerDataResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="UpdatesReveiverImplSoapBinding" type="tns:UpdatesReceiver">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="recordCustomerData">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="recordCustomerData">
<soap:header message="tns:recordCustomerData" part="RequestHeader" use="literal"> </soap:header>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output name="recordCustomerDataResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="UpdatesReveiverImpl">
<wsdl:port binding="tns:UpdatesReveiverImplSoapBinding" name="UpdatesReceiverImplPort">
<soap:address location="http://172.20.234.7:9990/AbanksUpdatesReceiver/CustomerInfo/Updates?wsdl"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>