Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/Business_Resources/solicitudChequeras/consultaMontoTipoChequera/consultaMontoTipoChequeraTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMontoTipoChequeraTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaMontoTipoChequeraTypes">

	<xs:element name="consultaMontoTipoChequera">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" />
				<xs:element name="CHECKBOOK_TYPE" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaMontoTipoChequeraResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CHARGE_CURRENCY" type="xs:string" />
				<xs:element name="CHARGE_AMOUNT" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>