Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/DigitalizacionTarjetas/xsd/digitalizacionTarjetasTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasTypes"
	xmlns:tns="http://www.ficohsa.com.hn/middleware.services/digitalizacionTarjetasTypes">

	<!--############################################ -->
	<!--SIMPLE_TYPE -->
	<!--############################################ -->

	<xs:simpleType name="stringMaxLength2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength4">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength8">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength11">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringMaxLength12">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength13">
		<xs:restriction base="xs:string">
			<xs:maxLength value="13" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength16">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength32">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength48">
		<xs:restriction base="xs:string">
			<xs:maxLength value="48" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength64">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength128">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="rgxDateTimeTypeEVOTP">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="(\d{4})-(0[1-9]|1[0-2])-([0-2][0-9]|3[0-1])
([0-1][0-9]|2[0-3])(:)([0-5][0-9])(:)([0-5][0-9])" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rgxDateTimeType">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="(\d{4})-(0[1-9]|1[0-2])-([0-2][0-9]|3[0-1])(T)([0-1][0-9]|2[0-3])(:)([0-5][0-9])(:)([0-5][0-9].[0-9]*)" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rgxDateTime2Type">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="(\d{4})-(0[1-9]|1[0-2])-([0-2][0-9]|3[0-1])(T)([0-1][0-9]|2[0-3])(:)([0-5][0-9])(:)([0-5][0-9].[0-9]+[0-9][0-9][0-9]*)" />
		</xs:restriction>
	</xs:simpleType>

	<!--############################################ -->
	<!--COMPLEX_TYPE -->
	<!--############################################ -->

	<xs:complexType name="AUTHENTICATION_METHODS_TYPE">
		<xs:sequence>
			<xs:element name="IDENTIFIER" type="tns:stringMaxLength32"
				minOccurs="0" />
			<xs:element name="TYPE" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="" />
						<xs:enumeration value="cell_phone" />
						<xs:enumeration value="email" />
						<xs:enumeration value="bank_app" />
						<xs:enumeration value="customer_service" />
						<xs:enumeration value="outbound_call" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MASKED_INFO" type="tns:stringMaxLength64"
				minOccurs="0" />
			<xs:element name="CUSTOMER_ADDRESS" type="tns:stringMaxLength64"
				minOccurs="0" />
			<xs:element name="SOURCE_ADDRESS" type="tns:stringMaxLength64"
				minOccurs="0" />
			<xs:element name="PLATFORM" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="" />
						<xs:enumeration value="IOS" />
						<xs:enumeration value="ANDROID" />
						<xs:enumeration value="WINDOWS" />
						<xs:enumeration value="WEB" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ENCRYPTED_CARD_INFO_TYPE">
		<xs:sequence>
			<xs:element name="ALGORITHM" type="xs:string" />
			<xs:element name="NONCE" type="tns:stringMaxLength30"
				minOccurs="0" />
			<xs:element name="IV" type="tns:stringMaxLength32"
				minOccurs="0" />
			<xs:element name="ENCRYPTED_DATA" type="xs:string" />
			<xs:element name="ASSOCIATED_DATA" type="xs:string"
				minOccurs="0" />
			<xs:element name="MAC_LENGTH" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MERCHANT_INFO_TYPE">
		<xs:sequence>
			<xs:element name="ID" type="tns:stringMaxLength8"
				minOccurs="0" />
			<xs:element name="MERCHANT_NAME" type="tns:stringMaxLength256"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TOKEN_USER_INFO_TYPE">
		<xs:sequence>
			<xs:element name="ID" type="tns:stringMaxLength11"
				minOccurs="1" />
			<xs:element name="APP_TYPE" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="" />
						<xs:enumeration value="WEB" />
						<xs:enumeration value="MOBILE_APP" />
						<xs:enumeration value="MOBILE_WEB" />
						<xs:enumeration value="MARKETPLACE" />
						<xs:enumeration value="VOICE_APP" />
						<xs:enumeration value="BIOMETRIC_APP" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DEVICE_INFO_TYPE">
		<xs:sequence>
			<xs:element name="DEVICE_TYPE" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="" />
						<xs:enumeration value="UNKNOWN" />
						<xs:enumeration value="MOBILE_PHONE" />
						<xs:enumeration value="TABLET" />
						<xs:enumeration value="WATCH" />
						<xs:enumeration value="PC" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DEVICE_NUMBER" type="tns:stringMaxLength13"
				minOccurs="0" />
			<xs:element name="DEVICE_NAME" type="tns:stringMaxLength16"
				minOccurs="0" />
			<xs:element name="DEVICE_MODEL" type="tns:stringMaxLength32"
				minOccurs="0" />
			<xs:element name="SERIAL_NUMBER" type="tns:stringMaxLength32"
				minOccurs="0" />
			<xs:element name="DEVICE_ID" type="tns:stringMaxLength48"
				minOccurs="0" />
			<xs:element name="DEVICE_INDEX" type="tns:stringMaxLength2"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RISK_INFO_TYPE">
		<xs:sequence>
			<xs:element name="RECOMMENDED_DECISION" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="" />
						<xs:enumeration value="GREEN" />
						<xs:enumeration value="YELLOW" />
						<xs:enumeration value="ORANGE" />
						<xs:enumeration value="RED" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DEVICE_SCORE" type="tns:stringMaxLength2"
				minOccurs="0" />
			<xs:element name="ACCOUNT_SCORE" type="tns:stringMaxLength2"
				minOccurs="0" />
			<xs:element name="VAULT_RISK_ASSESSMENT_SCORE" type="tns:stringMaxLength2"
				minOccurs="0" />
				<xs:element name="VAULT_TOKEN_SCORE" type="tns:stringMaxLength2"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CARD_META_DATA_TYPE">
		<xs:sequence>
			<xs:element name="FORE_GROUND_COLOR" type="tns:stringMaxLength32"
				minOccurs="0" />
			<xs:element name="BACK_GROUND_COLOR" type="tns:stringMaxLength32"
				minOccurs="0" />
			<xs:element name="LABEL_COLOR" type="tns:stringMaxLength32"
				minOccurs="0" />
			<xs:element name="SHORT_DESCRIPTION" type="tns:stringMaxLength32"
				minOccurs="0" />
			<xs:element name="LONG_DESCRIPTION" type="tns:stringMaxLength64"
				minOccurs="0" />
			<xs:element name="CONTACT_EMAIL" type="tns:stringMaxLength64"
				minOccurs="0" />
			<xs:element name="CONTACT_PHONE" type="tns:stringMaxLength32"
				minOccurs="0" />
			<xs:element name="CONTACT_NAME" type="tns:stringMaxLength64"
				minOccurs="0" />
			<xs:element name="TERMS_AND_CODITIONS_ID" type="tns:stringMaxLength32"
				minOccurs="0" />
			<xs:element name="CARD_ART_ID" type="tns:stringMaxLength32"
				minOccurs="0" />
			<xs:element name="PRODUCT_ID" type="tns:stringMaxLength32"
				minOccurs="0" />
			<xs:element name="PRODUCT_NAME" type="tns:stringMaxLength12"
				minOccurs="0" />
			<xs:element name="PRODUCT_TYPE" type="tns:stringMaxLength64"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MARKET_TYPE">
		<xs:sequence>
			<xs:element name="CONTRY_CODE" type="tns:stringMaxLength2"
				minOccurs="0" />
			<xs:element name="REGION_NAME" type="tns:stringMaxLength64"
				minOccurs="0" />
			<xs:element name="LOCALE" type="tns:stringMaxLength12"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EXPIRATION_DATE_TYPE">
		<xs:sequence>
			<xs:element name="MONTH" type="tns:stringMaxLength2"
				minOccurs="0" />
			<xs:element name="YEAR" type="tns:stringMaxLength4"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TERMS_AND_CONTITIONS_TYPE">
		<xs:sequence>
			<xs:element name="ID" type="tns:stringMaxLength64"
				minOccurs="0" />
			<xs:element name="DATE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--############################################ -->
	<!--OPERACION: compruebaElegibilidad -->
	<!--############################################ -->

	<xs:element name="compruebaElegibilidad">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="tns:stringMaxLength64"
					minOccurs="1" />
				<xs:element name="INSTITUTION_CODE" type="tns:stringMaxLength32"
					minOccurs="1" />
				<xs:element name="VAULT_IDENTIFICATION" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="VTS" />
							<xs:enumeration value="MDES" />
							<xs:enumeration value="AMEX" />
							<xs:enumeration value="PL" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="WALLET_ID" type="tns:stringMaxLength64"
					minOccurs="0" />
				<xs:element name="TOKEN_REQUESTOR_ID" type="tns:stringMaxLength64"
					minOccurs="1" />
				<xs:element name="TOKEN_REF_ID" type="tns:stringMaxLength64"
					minOccurs="0" />
				<xs:element name="PAN_REF_ID" type="tns:stringMaxLength64"
					minOccurs="0" />
				<xs:element name="ENCRYPTED_CARD_INFO" type="tns:ENCRYPTED_CARD_INFO_TYPE"
					minOccurs="1" />
				<xs:element name="PROCESS_ID" type="tns:stringMaxLength64" />
				<xs:element name="USER_LANGUAGE" type="tns:stringMaxLength3"
					minOccurs="0" />
				<xs:element name="SOURCE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ON_FILE" />
							<xs:enumeration value="MANUALLY" />
							<xs:enumeration value="MOBILE_APP" />
							<xs:enumeration value="TOKEN" />
							<xs:enumeration value="BROWSER" />
							<xs:enumeration value="CONTACTLESS_TAP" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RISK_INFORMATION" type="tns:RISK_INFO_TYPE"
					minOccurs="0" />
				<xs:element name="RISK_INFORMATION_RESUBMISSION" type="xs:string"
					minOccurs="0" />
				<xs:element name="TOKEN_TYPE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="HCE" />
							<xs:enumeration value="SE" />
							<xs:enumeration value="COF" />
							<xs:enumeration value="ECOM" />
							<xs:enumeration value="QRCODE" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TOKEN_REQUESTOR_NAME" type="xs:string" minOccurs="0" />
				<xs:element name="RECOMMENDED_DECISION">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="GREEN" />
							<xs:enumeration value="YELLOW" />
							<xs:enumeration value="RED" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RECOMMENDED_DECISION_REASON_CODE" type="tns:stringMaxLength32" minOccurs="0"/>	
				<xs:element name="RECOMMENDED_DECISION_REASON_CODE_LIST" type="tns:stringMaxLength32" minOccurs="0"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="compruebaElegibilidadResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="xs:string" minOccurs="0" />
				<xs:element name="PROCESS_ID" type="xs:string" minOccurs="0" />
				<xs:element name="RETURN_CODE" type="xs:string"
					minOccurs="0" />
				<xs:element name="ERROR_DESCRIPTION" type="xs:string"
					minOccurs="0" />
				<xs:element name="CARD_META_DATA" type="tns:CARD_META_DATA_TYPE"
					minOccurs="0" />
				<xs:element name="AUTHENTICATION_METHODS" type="tns:AUTHENTICATION_METHODS_TYPE"
					minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="USER_ID" type="xs:string" minOccurs="0" />
				<xs:element name="MARKET" type="tns:MARKET_TYPE"
					minOccurs="0" />
				<xs:element name="EXPIRATION_DATE" type="tns:EXPIRATION_DATE_TYPE"
					minOccurs="0" />
				<xs:element name="PAN_SEQUENCE" type="tns:stringMaxLength2"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--############################################ -->
	<!--OPERACION: notificaDigitalizacion -->
	<!--############################################ -->

	<xs:element name="notificaDigitalizacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="xs:string" />
				<xs:element name="INSTITUTION_CODE" type="tns:stringMaxLength32" />
				<xs:element name="PROCESS_ID" type="tns:stringMaxLength64" />
				<xs:element name="VAULT_IDENTIFICATION">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="VTS" />
							<xs:enumeration value="MDES" />
							<xs:enumeration value="AMEX" />
							<xs:enumeration value="PL" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="WALLET_ID" type="xs:string" minOccurs="0" />
				<xs:element name="TOKEN_TYPE" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="" />
							<xs:enumeration value="HCE" />
							<xs:enumeration value="SE" />
							<xs:enumeration value="COF" />
							<xs:enumeration value="ECOM" />
							<xs:enumeration value="QRCODE" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DATETIME" type="tns:rgxDateTimeType" />
				<xs:element name="EVENT">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="CREATED" />
							<xs:enumeration value="STAND_IN" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TOKEN_REQUESTOR_ID" type="tns:stringMaxLength64" />
				<xs:element name="TOKEN_REF_ID" type="tns:stringMaxLength64" />
				<xs:element name="PAN_REF_ID" type="tns:stringMaxLength64" />
				<xs:element name="ENCRYPTED_CARD_INFO" type="tns:ENCRYPTED_CARD_INFO_TYPE" />
				<xs:element name="SOURCE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ON_FILE" />
							<xs:enumeration value="MANUALLY" />
							<xs:enumeration value="MOBILE_APP" />
							<xs:enumeration value="TOKEN" />
							<xs:enumeration value="CONTACTLESS_TAP" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ACTION_RESULT">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="APPROVED" />
							<xs:enumeration value="APPROVED_IDV" />
							<xs:enumeration value="INVALID_PAN" />
							<xs:enumeration value="INVALID_EXPIRATION_DATE" />
							<xs:enumeration value="ISSUER_SYSTEM_ERROR" />
							<xs:enumeration value="GENERIC_DECLINE" />
							<xs:enumeration value="ERROR" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="STAND_IN_REASON_CODE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="" />
							<xs:enumeration value="9020" />
							<xs:enumeration value="9027" />
							<xs:enumeration value="9216" />
							<xs:enumeration value="9217" />
							<xs:enumeration value="9061" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TERMS_AND_CONTITIONS" type="tns:TERMS_AND_CONTITIONS_TYPE"
					minOccurs="0" />
				<xs:element name="TOKEN" type="tns:ENCRYPTED_CARD_INFO_TYPE"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="notificaDigitalizacionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="xs:string" minOccurs="0" />
				<xs:element name="PROCESS_ID" type="xs:string" minOccurs="0" />
				<xs:element name="RETURN_CODE" type="xs:string"
					minOccurs="0" />
				<xs:element name="ERROR_DESCRIPTION" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--############################################ -->
	<!--OPERACION: enviaVerificacionOTP -->
	<!--############################################ -->

	<xs:element name="enviaVerificacionOTP">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="xs:string" />
				<xs:element name="INSTITUTION_CODE" type="tns:stringMaxLength32" />
				<xs:element name="PROCESS_ID" type="tns:stringMaxLength64" />
				<xs:element name="TOKEN_REF_ID" type="tns:stringMaxLength64"
					minOccurs="1" />
				<xs:element name="PAN_REF_ID" type="tns:stringMaxLength64"
					minOccurs="1" />
				<xs:element name="AUTHENTICATION_METHOD">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="cell_phone" />
							<xs:enumeration value="email" />
							<xs:enumeration value="bank_app" />
							<xs:enumeration value="customer_service" />
							<xs:enumeration value="outbound_call" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OTP" type="tns:stringMaxLength16" />
				<xs:element name="OTP_EXPIRATION" type="tns:rgxDateTimeTypeEVOTP" />
				<xs:element name="VAULT_IDENTIFICATION" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="VTS" />
							<xs:enumeration value="MDES" />
							<xs:enumeration value="AMEX" />
							<xs:enumeration value="PL" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="WALLET_ID" type="xs:string" minOccurs="0" />
				<xs:element name="OTP_REASON_CODE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="" />
							<xs:enumeration value="PAYMENT" />
							<xs:enumeration value="CARDHOLDER_STEPUP" />
							<xs:enumeration value="DEVICE_BINDING" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ENCRYPTED_CARD_INFO" type="tns:ENCRYPTED_CARD_INFO_TYPE" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="enviaVerificacionOTPResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="xs:string" minOccurs="0" />
				<xs:element name="RETURN_CODE" type="xs:string"
					minOccurs="0" />
				<xs:element name="PROCESS_ID" type="xs:string" minOccurs="0" />
				<xs:element name="MESSAGE_DETAIL" type="xs:string"
					minOccurs="0" />
				<xs:element name="ERROR_DESCRIPTION" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--############################################ -->
	<!--OPERACION: obtieneEstadoSistema -->
	<!--############################################ -->

	<xs:element name="obtieneEstadoSistema" />

	<xs:element name="obtieneEstadoSistemaResponse" />

	<!--############################################ -->
	<!--OPERACION: notificaCicloVidaTarjetas -->
	<!--############################################ -->

	<xs:element name="notificaCicloVidaTarjetas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="xs:string" minOccurs="1" />
				<xs:element name="INSTITUTION_CODE" type="tns:stringMaxLength32"
					minOccurs="1" />
				<xs:element name="VAULT_IDENTIFICATION" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="VTS" />
							<xs:enumeration value="MDES" />
							<xs:enumeration value="AMEX" />
							<xs:enumeration value="PL" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="WALLET_ID" type="xs:string" minOccurs="0" />
				<xs:element name="TOKEN_REQUESTOR_ID" type="tns:stringMaxLength64"
					minOccurs="1" />
				<xs:element name="TOKEN_REF_ID" type="tns:stringMaxLength64"
					minOccurs="1" />
				<xs:element name="TOKEN_TYPE" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="" />
							<xs:enumeration value="HCE" />
							<xs:enumeration value="SE" />
							<xs:enumeration value="COF" />
							<xs:enumeration value="ECOM" />
							<xs:enumeration value="QRCODE" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DATETIME" type="tns:rgxDateTimeType"
					minOccurs="1" />
				<xs:element name="EVENT">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ACTIVATED" />
							<xs:enumeration value="SUSPENDED" />
							<xs:enumeration value="CANCELLED" />
							<xs:enumeration value="INACTIVE" />
							<xs:enumeration value="DEVICE_BINDING_RESULT" />
							<xs:enumeration value="PENDING_ACTIVATION" />
							<xs:enumeration value="NO_FIRST_PURCHASE" />
							<xs:enumeration value="NO_RECENT_PURCHASE" />
							<xs:enumeration value="DEVICE_BINDING" />
							<xs:enumeration value="DELETED_FROM_CONSUMER_APP" />
							<xs:enumeration value="REDIGITIZATION_COMPLETE" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TOKEN_USER_INFO" type="tns:TOKEN_USER_INFO_TYPE"
					minOccurs="0" />
				<xs:element name="MERCHANT_INFO" type="tns:MERCHANT_INFO_TYPE"
					minOccurs="0" />
				<xs:element name="DEVICE_BINDING_RESULT" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="" />
							<xs:enumeration value="APROVED" />
							<xs:enumeration value="STEPUP_OTP" />
							<xs:enumeration value="STEPUP_CALL_CENTER" />
							<xs:enumeration value="STEPUP_ISSUER_APP" />
							<xs:enumeration value="DEVICE_BINDING_APPROVED" />
							<xs:enumeration value="DEVICE_BINDING_OTP" />
							<xs:enumeration value="DEVICE_BINDING_CALL_CENTER" />
							<xs:enumeration value="DEVICE_BINDING_ISSUER_APP" />
							<xs:enumeration value="DEVICE_BINDING_REMOVED" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DEVICE_INFO" type="tns:DEVICE_INFO_TYPE"
					minOccurs="0" />
				<xs:element name="ENCRYPTED_CARD_INFO" type="tns:ENCRYPTED_CARD_INFO_TYPE"
					minOccurs="0" />
				<xs:element name="ENCRYPTED_TOKEN_INFO" type="tns:ENCRYPTED_CARD_INFO_TYPE"
					minOccurs="0" />
				<xs:element name="PROCESS_ID" type="tns:stringMaxLength64"
					minOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="notificaCicloVidaTarjetasResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="xs:string" minOccurs="0" />
				<xs:element name="RETURN_CODE" type="xs:string"
					minOccurs="0" />
				<xs:element name="ERROR_DESCRIPTION" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--############################################ -->
	<!--OPERACION: vinculaDispositivos -->
	<!--############################################ -->

	<xs:element name="vinculaDispositivos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="tns:stringMaxLength64" />
				<xs:element name="INSTITUTION_CODE" type="tns:stringMaxLength32" />
				<xs:element name="VAULT_IDENTIFICATION" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="VTS" />
							<xs:enumeration value="MDES" />
							<xs:enumeration value="PL" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="WALLET_ID" type="tns:stringMaxLength64"
					minOccurs="0" />
				<xs:element name="TOKEN_REQUESTOR_ID" type="tns:stringMaxLength64" />
				<xs:element name="TOKEN_REF_ID" type="tns:stringMaxLength64" />
				<xs:element name="PAN_REF_ID" type="tns:stringMaxLength64" />
				<xs:element name="DEVICE_INFO" type="tns:DEVICE_INFO_TYPE" />
				<xs:element name="TOKEN_USER_INFO" type="tns:TOKEN_USER_INFO_TYPE"
					minOccurs="0" />
				<xs:element name="MERCHANT_INFO" type="tns:MERCHANT_INFO_TYPE"
					minOccurs="0" />
				<xs:element name="TOKEN_INFO" type="tns:ENCRYPTED_CARD_INFO_TYPE"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="vinculaDispositivosResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="xs:string" minOccurs="0" />
				<xs:element name="RETURN_CODE" type="xs:string"
					minOccurs="0" />
				<xs:element name="AUTHENTICATION_METHODS" type="tns:AUTHENTICATION_METHODS_TYPE"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--############################################ -->
	<!--OPERACION: notificaCambioInformacionTarjeta -->
	<!--############################################ -->

	<xs:element name="notificaCambioInformacionTarjeta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="xs:string" />
				<xs:element name="INSTITUTION_CODE" type="tns:stringMaxLength32" />
				<xs:element name="VAULT_IDENTIFICATION" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="VTS" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAN_REF_ID" type="tns:stringMaxLength64"
					minOccurs="0" />
				<xs:element name="DATETIME" type="tns:rgxDateTimeType" />
				<xs:element name="EVENT">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="PAN_UPDATED" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MESSAGE_REASON_TYPE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ACCOUNT_UPDATE" />
							<xs:enumeration value="EXP_DATE_UPDATE" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ENCRYPTED_OLD_CARD_INFO" type="tns:ENCRYPTED_CARD_INFO_TYPE"
					minOccurs="1" />
				<xs:element name="ENCRYPTED_NEW_CARD_INFO" type="tns:ENCRYPTED_CARD_INFO_TYPE"
					minOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="notificaCambioInformacionTarjetaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUEST_ID" type="xs:string" minOccurs="0" />
				<xs:element name="RETURN_CODE" type="xs:string"
					minOccurs="0" />
				<xs:element name="ERROR_DESCRIPTION" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--############################################ -->
	<!--OPERACION: pushProvisioningNotification -->
	<!--############################################ -->

	<xs:element name="pushProvisioningNotification">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TOKEN_REQUESTOR_ID" type="tns:stringMaxLength64" />
				<xs:element name="INSTITUTION_CODE" type="tns:stringMaxLength32" minOccurs="1" />
				<xs:element name="EVENT" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="SUCCESS" />
							<xs:enumeration value="NOTIFICATION_FAILURE" />
							<xs:enumeration value="PROVISION_FAILURE" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ENCRYPTED_PUSH_NOTIFICATION" type="tns:ENCRYPTED_CARD_INFO_TYPE"
					minOccurs="1" />

			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="pushProvisioningNotificationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RETURN_CODE" type="xs:string"
					minOccurs="0" />
				<xs:element name="ERROR_DESCRIPTION" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>