Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/IntefazSalesforce/GestionesMonetarias/xsd/consultaGestionesMonetarias_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaGestionesMonetarias" 
		xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaGestionesMonetarias" 
		elementFormDefault="qualified">

   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PN_NUMUSU" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PV_PAIS" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DETALLE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PT_CAMPOS_RESULTADO" type="db:SALESFORCE.T_GESTIONES_MONETARIAS" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_CODIGOMENSAJE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_DESCRIPCIONMENSAJE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="SALESFORCE.T_GESTIONES_MONETARIAS_ITEMS">
      <sequence>
         <element name="NUMUSU" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DETALLE" type="db:string128" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OPERACION" type="db:string128" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="IMP_M_LOCAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="IMP_M_USD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FECHA_ORIGEN" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_LIQ" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_VENCIMIENTO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_LIQ_PROX" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_PAGO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PORCENTAJE" type="int" db:type="INTEGER" minOccurs="0" nillable="true"/>
         <element name="CATEGORIA" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SUB_CATEGORIA" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PAGO_MLOCAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PAGO_USD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SALDO_ACT_USD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SALDO_ACT_MLOCAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="SALESFORCE.T_GESTIONES_MONETARIAS">
      <sequence>
         <element name="PT_CAMPOS_RESULTADO_ITEM" type="db:SALESFORCE.T_GESTIONES_MONETARIAS_ITEMS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string128">
      <restriction base="string">
         <maxLength value="128"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
</schema>