Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/CambioFactorSeguridad/xsd/cambioFactorSeguridadTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/cambioFactorSeguridadTypes"
	xmlns:cam="http://www.ficohsa.com.hn/middleware.services/cambioFactorSeguridadTypes">

	<xs:element name="cambioFactorSeguridad">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USER_NAME" type="xs:string" />
				<xs:element name="SECURITY_FACTOR">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="PIN"></xs:enumeration>
							<xs:enumeration value="TOKEN"></xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
	        </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cambioFactorSeguridadResponse"/>	
</xs:schema>