Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/ConsultaRemesaPorNombreYMetodo/xsd/consultaRemesaPorNombreYMetodoTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaRemesaPorNombreYMetodoTypes"
	xmlns:cons="http://www.ficohsa.com.hn/middleware.services/consultaRemesaPorNombreYMetodoTypes">
	
	<xs:complexType name = "consultaRemesaPorNombreYMetodoResponseArrayType">
		<xs:sequence>
		    <xs:element name="REMITTANCE_ID" type="xs:string" minOccurs="0" />
		    <xs:element name="REMITTER_ID" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTER_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="BENEFICIARY_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="BRANCH_NAME" type="xs:string" minOccurs="0" />
			<xs:element name="PAYMENT_DATE" type="xs:string" minOccurs="0" />
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0" />
			<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_STATUS" type="xs:string" minOccurs="0" />
			<xs:element name="REMITTANCE_AMOUNT" type="xs:string" minOccurs="0" />
					
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaRemesaPorNombreYMetodoResponseRecordType">
		<xs:sequence>
				<xs:element name="consultaRemesaPorNombreYMetodoResponseRecordType" type="cons:consultaRemesaPorNombreYMetodoResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="consultaRemesaPorNombreYMetodoResponseType">
		<xs:sequence>
			<xs:element name="consultaRemesaPorNombreYMetodoResponseType" type="cons:consultaRemesaPorNombreYMetodoResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:element name="consultaRemesaPorNombreYMetodo">
		<xs:complexType>
			<xs:sequence>
	            <xs:element name="REMITTER_FIRSTNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTER_MIDDLENAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTER_FIRSTSURNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTER_SECONDSURNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="BENEFICIARY_FIRSTNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="BENEFICIARY_MIDDLENAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="BENEFICIARY_FIRSTSURNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="BENEFICIARY_SECONDSURNAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTANCES_ALLOWED" type="xs:string" minOccurs="0"/>
	            <xs:element name="IDPAYER" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTANCE_ID" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTANCE_NAME" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTANCE_IDENTIFIER" type="xs:string" minOccurs="0"/>
	            <xs:element name="REMITTANCE_TYPE" type="xs:string" minOccurs="0"/>
	            <xs:element name="OPERATION_CODE" type="xs:string" minOccurs="0"/>
	            <xs:element name="BRANCH_CODE" type="xs:string" minOccurs="0"/>
	       </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaRemesaPorNombreYMetodoResponse" type="cons:consultaRemesaPorNombreYMetodoResponseType" />
	
</xs:schema>