Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/External/Outgoing/BusinessServices/CLARO/Paquetes/wsdl/PackageWebService.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions targetNamespace="http://opit.claro.com.hn/" name="PackageService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://opit.claro.com.hn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="types.opit.claro.com.hn" schemaLocation="../xsd/xsd1.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://opit.claro.com.hn/" schemaLocation="../xsd/xsd2.xsd"/>
</xsd:schema>
</types>
<message name="balanceEnquiry">
<part name="parameters" element="tns:balanceEnquiry"/>
</message>
<message name="balanceEnquiryResponse">
<part name="parameters" element="tns:balanceEnquiryResponse"/>
</message>
<message name="getListPacks">
<part name="parameters" element="tns:getListPacks"/>
</message>
<message name="getListPacksResponse">
<part name="parameters" element="tns:getListPacksResponse"/>
</message>
<message name="buyPack">
<part name="parameters" element="tns:buyPack"/>
</message>
<message name="buyPackResponse">
<part name="parameters" element="tns:buyPackResponse"/>
</message>
<message name="validateOperation">
<part name="parameters" element="tns:validateOperation"/>
</message>
<message name="validateOperationResponse">
<part name="parameters" element="tns:validateOperationResponse"/>
</message>
<portType name="PackageWebService">
<operation name="balanceEnquiry">
<input wsam:Action="http://opit.claro.com.hn/PackageWebService/balanceEnquiryRequest" message="tns:balanceEnquiry"/>
<output wsam:Action="http://opit.claro.com.hn/PackageWebService/balanceEnquiryResponse" message="tns:balanceEnquiryResponse"/>
</operation>
<operation name="getListPacks">
<input wsam:Action="http://opit.claro.com.hn/PackageWebService/getListPacksRequest" message="tns:getListPacks"/>
<output wsam:Action="http://opit.claro.com.hn/PackageWebService/getListPacksResponse" message="tns:getListPacksResponse"/>
</operation>
<operation name="buyPack">
<input wsam:Action="http://opit.claro.com.hn/PackageWebService/buyPackRequest" message="tns:buyPack"/>
<output wsam:Action="http://opit.claro.com.hn/PackageWebService/buyPackResponse" message="tns:buyPackResponse"/>
</operation>
<operation name="validateOperation">
<input wsam:Action="http://opit.claro.com.hn/PackageWebService/validateOperationRequest" message="tns:validateOperation"/>
<output wsam:Action="http://opit.claro.com.hn/PackageWebService/validateOperationResponse" message="tns:validateOperationResponse"/>
</operation>
</portType>
<binding name="PackageWebServicePortBinding" type="tns:PackageWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="balanceEnquiry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListPacks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buyPack">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateOperation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PackageService">
<port name="PackageWebServicePort" binding="tns:PackageWebServicePortBinding">
<soap:address location="http://172.28.11.92:80/PrepaidServices/PackageWebService"/>
</port>
</service>
</definitions>