Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/TENGO/PagoMasivoBilletera/wsdl/Services.wsdl

<definitions targetNamespace="http://main/" name="Service" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://main/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://main/" schemaLocation="../xsd/Services.xsd"/>
</xsd:schema>
</types>
<message name="ValidaBulk">
<part name="parameters" element="tns:ValidaBulk"/>
</message>
<message name="ValidaBulkResponse">
<part name="result" element="tns:ValidaBulkResponse"/>
<part name="response" element="tns:response"/>
</message>
<message name="ConsultaEstadoLote">
<part name="parameters" element="tns:ConsultaEstadoLote"/>
</message>
<message name="ConsultaEstadoLoteResponse">
<part name="result" element="tns:ConsultaEstadoLoteResponse"/>
<part name="response" element="tns:response"/>
</message>
<message name="PagoTranfer">
<part name="parameters" element="tns:PagoTranfer"/>
</message>
<message name="PagoTranferResponse">
<part name="result" element="tns:PagoTranferResponse"/>
<part name="response" element="tns:response"/>
</message>
<message name="HistoricoPagoId">
<part name="parameters" element="tns:HistoricoPagoId"/>
</message>
<message name="HistoricoPagoIdResponse">
<part name="result" element="tns:HistoricoPagoIdResponse"/>
<part name="response" element="tns:response"/>
</message>
<message name="jwtTengo">
<part name="parameters" element="tns:jwtTengo"/>
</message>
<message name="jwtTengoResponse">
<part name="result" element="tns:jwtTengoResponse"/>
<part name="response" element="tns:response"/>
</message>
<portType name="Service">
<operation name="ValidaBulk" parameterOrder="parameters response">
<input wsam:Action="http://main/Service/ValidaBulkRequest" message="tns:ValidaBulk"/>
<output wsam:Action="http://main/Service/ValidaBulkResponse" message="tns:ValidaBulkResponse"/>
</operation>
<operation name="ConsultaEstadoLote" parameterOrder="parameters response">
<input wsam:Action="http://main/Service/ConsultaEstadoLoteRequest" message="tns:ConsultaEstadoLote"/>
<output wsam:Action="http://main/Service/ConsultaEstadoLoteResponse" message="tns:ConsultaEstadoLoteResponse"/>
</operation>
<operation name="PagoTranfer" parameterOrder="parameters response">
<input wsam:Action="http://main/Service/PagoTranferRequest" message="tns:PagoTranfer"/>
<output wsam:Action="http://main/Service/PagoTranferResponse" message="tns:PagoTranferResponse"/>
</operation>
<operation name="HistoricoPagoId" parameterOrder="parameters response">
<input wsam:Action="http://main/Service/HistoricoPagoIdRequest" message="tns:HistoricoPagoId"/>
<output wsam:Action="http://main/Service/HistoricoPagoIdResponse" message="tns:HistoricoPagoIdResponse"/>
</operation>
<operation name="jwtTengo" parameterOrder="parameters response">
<input wsam:Action="http://main/Service/jwtTengoRequest" message="tns:jwtTengo"/>
<output wsam:Action="http://main/Service/jwtTengoResponse" message="tns:jwtTengoResponse"/>
</operation>
</portType>
<binding name="ServicePortBinding" type="tns:Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ValidaBulk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal" parts="result"/>
<soap:header message="tns:ValidaBulkResponse" part="response" use="literal"/>
</output>
</operation>
<operation name="ConsultaEstadoLote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal" parts="result"/>
<soap:header message="tns:ConsultaEstadoLoteResponse" part="response" use="literal"/>
</output>
</operation>
<operation name="PagoTranfer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal" parts="result"/>
<soap:header message="tns:PagoTranferResponse" part="response" use="literal"/>
</output>
</operation>
<operation name="HistoricoPagoId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal" parts="result"/>
<soap:header message="tns:HistoricoPagoIdResponse" part="response" use="literal"/>
</output>
</operation>
<operation name="jwtTengo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal" parts="result"/>
<soap:header message="tns:jwtTengoResponse" part="response" use="literal"/>
</output>
</operation>
</binding>
<service name="Service">
<port name="ServicePort" binding="tns:ServicePortBinding">
<soap:address location="http://186.159.116.39:8080/FicohsaSoap/Service"/>
</port>
</service>
</definitions>