Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons/Resources/SBRG_Constants_Commons/Schemas/CustomParameter.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gp="https://www.ficohsa.com/regional/utility/constants"
            targetNamespace="https://www.ficohsa.com/regional/utility/constants" elementFormDefault="qualified">
  <xsd:element name="CustomParamInputElement">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Param" type="xsd:string" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CustomParamOutputElement">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Value" type="xsd:string"  maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetParameters">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="parameterName" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetParametersResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="message" type="xsd:string" minOccurs="0"/>
        <xsd:element name="parameters" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
              <xsd:element name="parameter" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="parameterName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="value" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="description" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>