Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons/Resources/SBRG_Constants_Commons/Schemas/ErrorMapping.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/utility/constants"
     targetNamespace="https://www.ficohsa.com/regional/utility/constants" elementFormDefault="qualified">
    <xsd:element name="errorMapInput">
        <xsd:annotation>
            <xsd:documentation>Conexion para servidor</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="errorCode" type="xsd:string"/>
                <xsd:element name="message" type="xsd:string"/>
                <xsd:element name="system" type="xsd:string"/>
                <xsd:element name="service" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="errorMapOutput">
        <xsd:annotation>
            <xsd:documentation>Conexion para servidor</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="customMessage" type="xsd:string"/>
                <xsd:element name="customCode" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>