Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons/Resources/SBRG_Constants_Commons/Schemas/ErrorMappingRegional.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/constants"
     targetNamespace="https://www.ficohsa.com/regional/constants" elementFormDefault="qualified">
    <xsd:element name="errorMappingRegionalInput">
        <xsd:annotation>
            <xsd:documentation>A sample element</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="service" type="xsd:string"/>
                <xsd:element name="systemApplication" type="xsd:string"/>
                <xsd:element name="errorMessage" type="xsd:string"/>
                <xsd:element name="errorCode" type="xsd:string"/>
                <xsd:element name="language" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="errorMappingRegionalOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="code" type="xsd:string"/>
                <xsd:element name="error" type="xsd:string"/>
                <xsd:element name="description" type="xsd:string"/>
                <xsd:element name="shortDescription" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="errorMappingFilterMessageInput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="error" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>