Fuentes/ficohsacore-rgmassivepayment-32637f107667/SBRG_MassivePayment/SBRG_MassivePayment_Commons/Resources/SBRG_Constants_Commons/Schemas/RegionalNew.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.ficohsa.com/regional/utility/constants"
     targetNamespace="https://www.ficohsa.com/regional/utility/constants" elementFormDefault="qualified">
    <xsd:element name="countryServiceInput">
        <xsd:annotation>
            <xsd:documentation>Conexion para servidor</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="service" type="xsd:string"/>
                <xsd:element name="sourceBank" type="xsd:string"/>
                <xsd:element name="destinationBank" type="xsd:string"/>
                <xsd:element name="operation" type="xsd:string"/>
                <xsd:element name="version" type="xsd:string"/>
                <xsd:element name="user" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="countryServiceOutput">
        <xsd:annotation>
            <xsd:documentation>Conexion para servidor</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="url" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>