Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaBuroInterno_v2/xsd/XMLSchema_1300364703.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaBuroInternoTypes">
	
	<xs:simpleType name="stringMinLength1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	 <!-- orgIndType -->
    <xs:simpleType name="customerInfoType">
        <xs:restriction base="xs:string">
           <xs:enumeration value="LEGAL_ID"/>
           <xs:enumeration value="CUSTOMER_ID"/>
        </xs:restriction>
    </xs:simpleType>
	
	<xs:element name="consultaBuroInterno">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TYPE" type="tns:customerInfoType"/>
							<xs:element name="VALUE" type="tns:stringMinLength1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="consultaBuroInternoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="PRODUCTS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PRODUCT" type="tns:PRODUCT_LIST" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="PRODUCT_LIST">
			<xs:sequence>
				<xs:element name="COMPANY_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="AGENCY_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="DOCUMENT" type="xs:string" minOccurs="0"/>
				<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="LOAN_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
				<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="OPEN_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="CANCELLATION_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="GUARANTEE" type="xs:string" minOccurs="0"/>
				<xs:element name="TERM" type="xs:string" minOccurs="0"/>
				<xs:element name="PAST_DUE_HISTORY" type="xs:string" minOccurs="0"/>
				<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
				<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="BALANCE_TO_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="LOAN_INSTALLMENT" type="xs:string" minOccurs="0"/>
				<xs:element name="LOAN_RATE" type="xs:string" minOccurs="0"/>
				<xs:element name="LEVEL_OF_DEBT" type="xs:string" minOccurs="0"/>
			</xs:sequence>
	</xs:complexType>
		
</xs:schema>