Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v3/BusinessServices/OSB/ConsultaMaestraSaldosTarjetaCredito_v3/xsd/XMLSchema_-250885158.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaMaestraSaldosTarjetaCreditoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaMaestraSaldosTarjetaCreditoTypes">

	<xs:simpleType name="stringMinLength">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="consultaMaestraSaldosTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARD_NUMBER" type="tns:stringMinLength"/>
				<xs:element name="ORG" type="xs:integer" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="consultaMaestraSaldosTarjetaCreditoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="INSTITUTION_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="COUNTRY_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_HOLDER_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="BIRTHDATE" type="xs:string" minOccurs="0"/>
				<xs:element name="PRODUCT_TYPE_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="REGISTERED_SIGNATURES" type="xs:string" minOccurs="0"/>
				<xs:element name="LOGO" type="xs:string" minOccurs="0"/>
				<xs:element name="BLOCK_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="ACTIVE_IDENTIFIER" type="xs:string" minOccurs="0"/>
				<xs:element name="CARD_HOLDER_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="MAX_PAYMENT_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="CUTOFF_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="CREDIT_CARD_BALANCE_INFO" type="tns:creditCardBalanceType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="CREDIT_CARD_POINTS_INFO" type="tns:creditCardPointsType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="TOTAL_PAYMENT" type="xs:decimal" minOccurs="0"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="creditCardBalanceType">
		<xs:sequence>
			<xs:element name="ORG" type="xs:int" minOccurs="0"/>
			<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="BLOCK_CODE_1" type="xs:string" minOccurs="0"/>
			<xs:element name="BLOCK_CODE_2" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_LIMIT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CURRENT_BALANCE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="PURCHASE_AVAILABLE_AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="AVAILABLE_WITHDRAWAL" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CUTOFF_BALANCE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="MIN_PAYMENT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="LAST_CUTOFF_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="LAST_CUTOFF_PAYMENT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CICLE_DUE" type="xs:integer" minOccurs="0"/>
			<xs:element name="OVERDUE_BALANCE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="RETAINED_BALANCE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="DISPUTED_BALANCE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="TOTAL_DEBIT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="TOTAL_CREDIT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="OVERDRAFT_LIMIT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="TOTAL_OVERDUE_BALANCE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="EXTRA_FINANCING_INFO" type="tns:extraFinancingType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="extraFinancingType">
		<xs:sequence>
			<xs:element name="AVAILABLE_AMOUNT" type="xs:decimal" minOccurs="0"/>
			<xs:element name="EXPIRATION_DATE" type="xs:string" minOccurs="0"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
			<xs:element name="CREDIT_CARD_PROGRAM" type="xs:int" minOccurs="0"/>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="LEVEL" type="xs:string" minOccurs="0"/>
			<xs:element name="OFFER_TYPE" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="creditCardPointsType">
		<xs:sequence>
			<xs:element name="CURRENT_BALANCE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="PREVIOUS_BALANCE" type="xs:decimal" minOccurs="0"/>
			<xs:element name="EARNED_POINTS" type="xs:decimal" minOccurs="0"/>
			<xs:element name="USED_POINTS" type="xs:decimal" minOccurs="0"/>
			<xs:element name="OVERDUE_POINTS" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>