Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/JTeller/CreaAccesoUsuario/xsd/createUser_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CreateUser" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CreateUser" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="usr_code" type="db:string128" db:index="1" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="usr_name" type="db:string128" db:index="2" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="agency" type="db:string128" db:index="3" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="working_day" type="db:string128" db:index="4" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="department" type="db:string128" db:index="5" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="status" type="db:string128" db:index="6" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="type_user" type="db:string128" db:index="7" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="level_user" type="db:string128" db:index="8" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="host_equiv" type="db:string128" db:index="9" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="user_module" type="db:string128" db:index="10" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="menu_role" type="db:string128" db:index="11" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="spool_admin" type="db:string128" db:index="12" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="usr_domain" type="db:string128" db:index="13" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="code_result" type="db:string128" db:index="14" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="msg_result" type="db:string128" db:index="15" db:type="SYSNAME" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="code_result" type="db:string128" db:index="14" db:type="SYSNAME" minOccurs="0" nillable="true"/>
            <element name="msg_result" type="db:string128" db:index="15" db:type="SYSNAME" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string128">
      <restriction base="string">
         <maxLength value="128"/>
      </restriction>
   </simpleType>
</schema>