Fuentes/ficohsacore-osb12-b78f21b126d5/CoreBankingHN/ProviderServices/WSDL/UpdateCustomer/UpdateCustomer_BS.wsdl

<!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.  --><!--  Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.  --><definitions targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="../../XSD/UpdateCustomer/UpdateCustomer_Array.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="../../XSD/UpdateCustomer/UpdateCustomer.xsd"/>
</xsd:schema>
</types>
<message name="Desembolsoporcreditoacuenta">
<part name="parameters" element="tns:Desembolsoporcreditoacuenta"/>
</message>
<message name="DesembolsoporcreditoacuentaResponse">
<part name="parameters" element="tns:DesembolsoporcreditoacuentaResponse"/>
</message>
<message name="Desembolsoporcreditoacuenta_Validate">
<part name="parameters" element="tns:Desembolsoporcreditoacuenta_Validate"/>
</message>
<message name="Desembolsoporcreditoacuenta_ValidateResponse">
<part name="parameters" element="tns:Desembolsoporcreditoacuenta_ValidateResponse"/>
</message>
<message name="CreaClienteCuentaTarjeta">
<part name="parameters" element="tns:CreaClienteCuentaTarjeta"/>
</message>
<message name="CreaClienteCuentaTarjetaResponse">
<part name="parameters" element="tns:CreaClienteCuentaTarjetaResponse"/>
</message>
<message name="CreaClienteCuentaTarjeta_Validate">
<part name="parameters" element="tns:CreaClienteCuentaTarjeta_Validate"/>
</message>
<message name="CreaClienteCuentaTarjeta_ValidateResponse">
<part name="parameters" element="tns:CreaClienteCuentaTarjeta_ValidateResponse"/>
</message>
<message name="ActualizaciondeDatosCliente">
<part name="parameters" element="tns:ActualizaciondeDatosCliente"/>
</message>
<message name="ActualizaciondeDatosClienteResponse">
<part name="parameters" element="tns:ActualizaciondeDatosClienteResponse"/>
</message>
<message name="ActualizaciondeDatosCliente_Validate">
<part name="parameters" element="tns:ActualizaciondeDatosCliente_Validate"/>
</message>
<message name="ActualizaciondeDatosCliente_ValidateResponse">
<part name="parameters" element="tns:ActualizaciondeDatosCliente_ValidateResponse"/>
</message>
<message name="callOfs">
<part name="parameters" element="tns:callOfs"/>
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse"/>
</message>
<portType name="T24WebServicesImpl">
<operation name="Desembolsoporcreditoacuenta">
<input message="tns:Desembolsoporcreditoacuenta"/>
<output message="tns:DesembolsoporcreditoacuentaResponse"/>
</operation>
<operation name="Desembolsoporcreditoacuenta_Validate">
<input message="tns:Desembolsoporcreditoacuenta_Validate"/>
<output message="tns:Desembolsoporcreditoacuenta_ValidateResponse"/>
</operation>
<operation name="CreaClienteCuentaTarjeta">
<input message="tns:CreaClienteCuentaTarjeta"/>
<output message="tns:CreaClienteCuentaTarjetaResponse"/>
</operation>
<operation name="CreaClienteCuentaTarjeta_Validate">
<input message="tns:CreaClienteCuentaTarjeta_Validate"/>
<output message="tns:CreaClienteCuentaTarjeta_ValidateResponse"/>
</operation>
<operation name="ActualizaciondeDatosCliente">
<input message="tns:ActualizaciondeDatosCliente"/>
<output message="tns:ActualizaciondeDatosClienteResponse"/>
</operation>
<operation name="ActualizaciondeDatosCliente_Validate">
<input message="tns:ActualizaciondeDatosCliente_Validate"/>
<output message="tns:ActualizaciondeDatosCliente_ValidateResponse"/>
</operation>
<operation name="callOfs">
<input message="tns:callOfs"/>
<output message="tns:callOfsResponse"/>
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Desembolsoporcreditoacuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Desembolsoporcreditoacuenta_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreaClienteCuentaTarjeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreaClienteCuentaTarjeta_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizaciondeDatosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizaciondeDatosCliente_Validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callOfs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.23.13.19:7003/svcActualizacionDatosCliente/services"/>
</port>
</service>
</definitions>