Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/BillOperations/wsdl/BillOperations.wsdl

<wsdl:definitions name="billOperationsPS"
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/billOperationsPS/"
	xmlns:fic="http://www.ficohsa.com.hn/middleware.services/billOperationsPS/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType"
	xmlns:bil="http://www.ficohsa.com.hn/middleware.services/billOperationsTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType"
				schemaLocation="../../General/xsd/Header.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://www.ficohsa.com.hn/middleware.services/billOperationsTypes"
				schemaLocation="../xsd/BillOperationsTypes.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="billQueryRequest">
		<wsdl:part element="bil:billQuery" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="billQueryResponse">
		<wsdl:part element="bil:billQueryResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:message name="billPaymentRequest">
		<wsdl:part element="bil:billPayment" name="parameters" />
		<wsdl:part name="RequestHeader" element="auth:RequestHeader" />
	</wsdl:message>
	<wsdl:message name="billPaymentResponse">
		<wsdl:part element="bil:billPaymentResponse" name="result" />
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader" />
	</wsdl:message>

	<wsdl:portType name="billOperationsPS">
		<wsdl:operation name="billQuery"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:billQueryRequest" />
			<wsdl:output message="fic:billQueryResponse" />
		</wsdl:operation>
		<wsdl:operation name="billPayment"
			parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:billPaymentRequest" />
			<wsdl:output message="fic:billPaymentResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="billOperationsPSSOAP" type="fic:billOperationsPS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="billQuery">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/billOperationsPS/billQuery" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:billQueryRequest" part="RequestHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:billQueryResponse" part="ResponseHeader"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="billPayment">
			<soap:operation
				soapAction="http://www.ficohsa.com.hn/middleware.services/billOperationsPS/billPayment" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header message="fic:billPaymentRequest" part="RequestHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result" />
				<soap:header message="fic:billPaymentResponse" part="ResponseHeader"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="billOperationsPS">
		<wsdl:port binding="fic:billOperationsPSSOAP" name="billOperationsPSSOAP">
			<soap:address location="http://mwteller:8004/mwteller/agreements/billOperations" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>