Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/Resources/PagoTarjetaCreditoCB/xsd/pagoTarjetaCreditoCBTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.ficohsa.com.hn/middleware.services/pagoTarjetaCreditoTypes"
	xmlns:cred="http://www.ficohsa.com.hn/middleware.services/pagoTarjetaCreditoTypes">
	
	<xs:complexType name="pagoTarjetaCreditoResponseType">
		<xs:sequence>
			<xs:element name="LCY_PAYMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="PAYMENT_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="BALANCE_PAYMENT" type="xs:string" minOccurs="0"/>
			<xs:element name="BALANCE_CURRENCY" type="xs:string" minOccurs="0"/>
			<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0"/>
			<xs:element name="DEBIT_ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_TIME" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="pagoTarjetaCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CREDIT_CARD_NUMBER " type="xs:string"/>
				<xs:element name="BALANCE_CURRENCY " type="xs:string"/>
				<xs:element name="PAYMENT_TYPE " type="xs:string"/>
				<xs:element name="DEBIT_ACCOUNT " type="xs:string" minOccurs="0"/>				
				<xs:element name="PAYMENT_AMOUNT" type="xs:string" />
				<xs:element name="INTERFACE_REFERENCE_NO" type="xs:string" minOccurs="0"/>
				<xs:element name="TRANSACTION_ID_BC" type="xs:string" minOccurs="0"/>
				<xs:element name="TRANSACTION_UUID" type="xs:string" minOccurs="0"/>
				<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0"/>
				<xs:element name="ORIGINAL_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="TC_OWNER_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="PAYER_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="PAYER_NAME" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pagoTarjetaCreditoResponse" type="cred:pagoTarjetaCreditoResponseType"/>
	
	
</xs:schema>