Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/CheckOperations/wsdl/CheckOperations.wsdl

<wsdl:definitions 
	name="CheckOperationsPS" 
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/CheckOperationsPS/" 
	xmlns:fic="http://www.ficohsa.com.hn/middleware.services/CheckOperationsPS/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:auth="http://www.ficohsa.com.hn/middleware.services/autType" 
	xmlns:cko="http://www.ficohsa.com.hn/middleware.services/checkOperationsTypes">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/autType" schemaLocation="../../General/xsd/Header.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/checkOperationsTypes" schemaLocation="../xsd/CheckOperationsTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ownCheckPymtRequest">
		<wsdl:part element="cko:ownCheckPymt" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ownCheckPymtResponse">
		<wsdl:part element="cko:ownCheckPymtResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="cashierCheckPymtRequest">
		<wsdl:part element="cko:cashierCheckPymt" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="cashierCheckPymtResponse">
		<wsdl:part element="cko:cashierCheckPymtResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="govCheckPymtRequest">
		<wsdl:part element="cko:govCheckPymt" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="govCheckPymtResponse">
		<wsdl:part element="cko:govCheckPymtResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="otherBankCheckPymtRequest">
		<wsdl:part element="cko:otherBankCheckPymt" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="otherBankCheckPymtResponse">
		<wsdl:part element="cko:otherBankCheckPymtResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
	
	<wsdl:message name="checkCertificationRequest">
		<wsdl:part element="cko:checkCertification" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="checkCertificationResponse">
		<wsdl:part element="cko:checkCertificationResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>

	<wsdl:message name="cashierCheckSaleRequest">
		<wsdl:part element="cko:cashierCheckSale" name="parameters"/>
		<wsdl:part name="RequestHeader" element="auth:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="cashierCheckSaleResponse">
		<wsdl:part element="cko:cashierCheckSaleResponse" name="result"/>
		<wsdl:part name="ResponseHeader" element="auth:ResponseHeader"/>
	</wsdl:message>
		
	<wsdl:portType name="CheckOperationsPS">
		<wsdl:operation name="ownCheckPymt" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:ownCheckPymtRequest"/>
			<wsdl:output message="fic:ownCheckPymtResponse"/>
		</wsdl:operation>
		<wsdl:operation name="cashierCheckPymt" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:cashierCheckPymtRequest"/>
			<wsdl:output message="fic:cashierCheckPymtResponse"/>
		</wsdl:operation>
		<wsdl:operation name="govCheckPymt" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:govCheckPymtRequest"/>
			<wsdl:output message="fic:govCheckPymtResponse"/>
		</wsdl:operation>
		<wsdl:operation name="otherBankCheckPymt" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:otherBankCheckPymtRequest"/>
			<wsdl:output message="fic:otherBankCheckPymtResponse"/>
		</wsdl:operation>
		<wsdl:operation name="checkCertification" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:checkCertificationRequest"/>
			<wsdl:output message="fic:checkCertificationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="cashierCheckSale" parameterOrder="parameters RequestHeader ResponseHeader">
			<wsdl:input message="fic:cashierCheckSaleRequest"/>
			<wsdl:output message="fic:cashierCheckSaleResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CheckOperationsPSSOAP" type="fic:CheckOperationsPS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ownCheckPymt">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/CheckOperationsPS/ownCheckPymt"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:ownCheckPymtRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:ownCheckPymtResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cashierCheckPymt">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/CheckOperationsPS/cashierCheckPymt"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:cashierCheckPymtRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:cashierCheckPymtResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="govCheckPymt">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/CheckOperationsPS/govCheckPymt"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:govCheckPymtRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:govCheckPymtResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		        <wsdl:operation name="otherBankCheckPymt">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/CheckOperationsPS/otherBankCheckPymt"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:otherBankCheckPymtRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:otherBankCheckPymtResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="checkCertification">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/CheckOperationsPS/checkCertification"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:checkCertificationRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:checkCertificationResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cashierCheckSale">
			<soap:operation soapAction="http://www.ficohsa.com.hn/middleware.services/CheckOperationsPS/cashierCheckSale"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="fic:cashierCheckSaleRequest" part="RequestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="result"/>
				<soap:header message="fic:cashierCheckSaleResponse" part="ResponseHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CheckOperationsPS">
		<wsdl:port binding="fic:CheckOperationsPSSOAP" name="CheckOperationsPSSOAP">
			<soap:address location="http://mwteller:8004/mwteller/accounts/checkOperations"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>