Fuentes/ficohsacore-osb12-b78f21b126d5/MWBanking/Services/RequestorServices/WSDL/ServicesRouter_PS.wsdl

<wsdl:definitions name="ServicesRouter_PS" targetNamespace="http://xmlns.oracle.com/ServicesRouter_PS" xmlns:tns="http://xmlns.oracle.com/ServicesRouter_PS" xmlns:inp1="http://www.ficohsa.com.hn/middleware.services/getServicesListTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:inp2="http://www.ficohsa.com.hn/middleware.services/getServicesDetailsTypes" xmlns:inp3="http://www.ficohsa.com.hn/middleware.services/getCoreCatalogsTypes">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getServicesListTypes" schemaLocation="../XSD/getServicesListTypes.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getServicesDetailsTypes" schemaLocation="../XSD/getServicesDetailsTypes.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ficohsa.com.hn/middleware.services/getCoreCatalogsTypes" schemaLocation="../XSD/getCoreCatalogsTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getServicesList_inputMessage">
        <wsdl:part name="request" element="inp1:GetServicesList"/>
    </wsdl:message>
    <wsdl:message name="getServicesList_outputMessage">
        <wsdl:part name="response" element="inp1:GetServicesListRSP"/>
    </wsdl:message>
    <wsdl:message name="getServicesDetails_inputMessage">
        <wsdl:part name="request" element="inp2:GetServicesDetails"/>
    </wsdl:message>
    <wsdl:message name="getServicesDetails_outputMessage">
        <wsdl:part name="reply" element="inp2:GetServicesDetailsRSP"/>
    </wsdl:message>
    <wsdl:message name="getCoreCatalogs_inputMessage">
        <wsdl:part name="request" element="inp3:getCoreCatalogsRequest"/>
    </wsdl:message>
    <wsdl:message name="getCoreCatalogs_outputMessage">
        <wsdl:part name="reply" element="inp3:getCoreCatalogsResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServicesRouter_PS_ptt">
        <wsdl:operation name="getServicesList">
            <wsdl:input message="tns:getServicesList_inputMessage"/>
            <wsdl:output message="tns:getServicesList_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getServicesDetails">
            <wsdl:input message="tns:getServicesDetails_inputMessage"/>
            <wsdl:output message="tns:getServicesDetails_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getCoreCatalogs">
            <wsdl:input message="tns:getCoreCatalogs_inputMessage"/>
            <wsdl:output message="tns:getCoreCatalogs_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicesRouter_PS_ptt-binding" type="tns:ServicesRouter_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getServicesList">
            <soap:operation soapAction="ServicesRouter_PS"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServicesDetails">
            <soap:operation soapAction="getServicesDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCoreCatalogs">
            <soap:operation soapAction="getCoreCatalogs"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>