Fuentes/ficohsacore-osb-7e5cceccb837/MWCaja/v1/Resources/ForeignExchange/xsd/ForeignExchangeTypes.xsd

<xs:schema
	targetNamespace="http://www.ficohsa.com.hn/middleware.services/foreignExchangeTypes"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:fox="http://www.ficohsa.com.hn/middleware.services/foreignExchangeTypes"
	xmlns:gen="http://www.ficohsa.com.hn/middleware.services/generalTypes"
	xmlns:cst="http://www.ficohsa.com.hn/middleware.services/customerTypes">

	<xs:import namespace="http://www.ficohsa.com.hn/middleware.services/generalTypes"
		schemaLocation="../../General/xsd/GeneralTypes.xsd" />
	<xs:import
		namespace="http://www.ficohsa.com.hn/middleware.services/customerTypes"
		schemaLocation="../../General/xsd/CustomerTypes.xsd" />

	<xs:complexType name="customerInfoType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="LEGAL_ID" type="cst:legalIdentificationType"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="PRODUCT" type="cst:productType"
					minOccurs="0" maxOccurs="1" />
			</xs:choice>
			<xs:element name="NAME" type="gen:stringMinLength1"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="customerWithoutNameType">
		<xs:choice>
			<xs:element name="LEGAL_ID" type="cst:legalIdentificationType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="PRODUCT" type="cst:productType"
				minOccurs="0" maxOccurs="1" />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="customerWithoutNameRspType">
		<xs:sequence>
			<xs:element name="LEGAL_ID" type="cst:legalIdentificationRspType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="customerWithNameRspType">
		<xs:sequence>
			<xs:element name="LEGAL_ID" type="cst:legalIdentificationRspType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NAME" type="gen:stringMinLength1"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="transactionalOperationsType">
		<xs:sequence>
			<xs:element name="CUSTOMER" type="fox:customerWithoutNameType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="EXCHANGE_CURRENCY" type="gen:currencyType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="FCY_PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="LCY_PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="non-transactionalOperationsType">
		<xs:sequence>
			<xs:element name="CUSTOMER" type="fox:customerInfoType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="EXCHANGE_CURRENCY" type="gen:currencyType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="FCY_PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="LCY_PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="fcyExchangeRspType">
		<xs:sequence>
			<xs:element name="CUSTOMER" type="fox:customerWithoutNameRspType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="EXCHANGE_RATE" type="gen:exchangeRateType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="EXCHANGE_CURRENCY" type="gen:currencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="LCY_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="FCY_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- Foreign Currency Sale -->
	<xs:element name="fcySale" type="fox:transactionalOperationsType" />
	<xs:element name="fcySaleResponse" type="fox:fcyExchangeRspType" />

	<!-- Foreign Currency Purchase -->
	<xs:element name="fcyPurchase" type="fox:transactionalOperationsType" />
	<xs:element name="fcyPurchaseResponse" type="fox:fcyExchangeRspType" />

	<!-- Negotiation Query -->
	<xs:element name="negotiationQuery" type="fox:negotiationQueryType" />
	<xs:element name="negotiationQueryResponse" type="fox:negotiationQueryRspType" />

	<xs:complexType name="negotiationQueryType">
		<xs:sequence>
			<xs:element name="FOREX_TYPE" type="gen:forexType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NEGOTIATION_ID" type="xs:string"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="negotiationQueryRspType">
		<xs:sequence>
			<xs:element name="FOREX_TYPE" type="gen:forexType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="CUSTOMER" type="fox:customerWithNameRspType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="LCY_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="FCY_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="FCY_ID" type="gen:currencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="EXCHANGE_RATE" type="gen:exchangeRateType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- Negotiation Enactment -->
	<xs:element name="negotiationEnactment" type="fox:negotiationEnactmentType" />
	<xs:element name="negotiationEnactmentResponse" type="fox:negotiationEnactmentRspType" />


	<xs:complexType name="negotiationEnactmentType">
		<xs:sequence>
			<xs:element name="FOREX_TYPE" type="gen:forexType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NEGOTIATION_ID" type="xs:string"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="SOURCE_PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="TARGET_PAYMENT" type="gen:paymentType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="negotiationEnactmentRspType">
		<xs:sequence>
			<xs:element name="FOREX_TYPE" type="gen:forexType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="CUSTOMER" type="fox:customerWithoutNameRspType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="LCY_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="FCY_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="FCY_ID" type="gen:currencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="EXCHANGE_RATE" type="gen:exchangeRateType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TRANSACTION_INFO" type="gen:transactionType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="directForexQuery" type="fox:directForexQueryType" />
	
	<xs:complexType name="directForexQueryType">
		<xs:sequence>
			<xs:element name="CUSTOMER" type="fox:customerWithoutNameType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="FOREX_DETAILS" type="fox:forexDetailsType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="NSO_INFO" type="gen:nsoInfoType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="directForexQueryResponse" type="fox:directForexQueryRspType" />

	<xs:complexType name="directForexQueryRspType">
		<xs:sequence>
			<xs:element name="CUSTOMER" type="fox:customerWithNameRspType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="EXCHANGE_RATE" type="gen:exchangeRateType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="EXCHANGE_CURRENCY" type="gen:currencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="LCY_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="FCY_AMOUNT" type="gen:amountType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="forexDetailsType">
		<xs:sequence>
			<xs:element name="TYPE" type="fox:forexType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="CURRENCY" type="gen:currencyType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="AMOUNT" type="gen:amountType" minOccurs="1"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="forexType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PURCHASE" />
			<xs:enumeration value="SALE" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>