Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/Resources/NotificaEstadoRemesaCreditoCuenta/xsd/notificaEstadoRemesaCreditoCuentaTypes.xsd

<xs:schema 
version="1.0"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.ficohsa.com.hn/middleware.services/notificaEstadoRemesaCreditoCuentaTypes" 
xmlns:tns="http://www.ficohsa.com.hn/middleware.services/notificaEstadoRemesaCreditoCuentaTypes">

    <xs:element name="NotificaEstadoRemesaCreditoCuenta">
    <xs:complexType>
    		<xs:sequence>
    	<xs:element name="LEGALID" type="xs:string" minOccurs="1"/>
    	</xs:sequence>
    		</xs:complexType>
    </xs:element>

    <xs:element name="NotificaEstadoRemesaCreditoCuentaResponse">
    <xs:complexType>
    		<xs:sequence>
    	<xs:element name="MESSAGE" type="xs:string" minOccurs="1"/>
    	<xs:element name="DATE" type="xs:string" minOccurs="1"/>    	
    </xs:sequence>
    		</xs:complexType>
    </xs:element>		
</xs:schema>