Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/BLAZE/wsdl/originacionesGT.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservices.alcance.com.hn/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="RuleServiceDefinitionORGTAlcanceService" targetNamespace="http://webservices.alcance.com.hn/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://webservices.alcance.com.hn/" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://webservices.alcance.com.hn/">
			<xs:element name="destroy" type="tns:destroy" />
			<xs:element name="destroyResponse" type="tns:destroyResponse" />
			<xs:element name="epOriginacion" type="tns:epOriginacion" />
			<xs:element name="epOriginacionResponse" type="tns:epOriginacionResponse" />
			<xs:element name="init" type="tns:init" />
			<xs:element name="initResponse" type="tns:initResponse" />
			<xs:complexType name="destroy">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="destroyResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="epOriginacion">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="tns:solicitante" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="solicitante">
				<xs:sequence>
					<xs:element minOccurs="0" name="accion" type="tns:accion" />
					<xs:element name="antiguedadReferenciaValida" type="xs:int" />
					<xs:element name="averageMonthsExclTelcoAndStudent"
						type="xs:int" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="buro"
						nillable="true" type="tns:buro" />
					<xs:element name="calificacionBuro" type="xs:int" />
					<xs:element name="calificacionHit" type="xs:int" />
					<xs:element name="calificacionNoHit" type="xs:int" />
					<xs:element minOccurs="0" name="calificacion_riesgo"
						type="xs:string" />
					<xs:element name="canceladosContraReservaSIRC" type="xs:int" />
					<xs:element name="clientesUnificadosSIRC" type="xs:int" />
					<xs:element name="creditosCanceladosDirectosSIRC" type="xs:int" />
					<xs:element name="creditosCanceladosSIRC" type="xs:int" />
					<xs:element name="creditosVigentesDirectosSIRC" type="xs:int" />
					<xs:element name="creditosVigentesIndirectosSIRC" type="xs:int" />
					<xs:element name="edad" type="xs:int" />
					<xs:element minOccurs="0" name="entidadReferenciaValida"
						type="xs:string" />
					<xs:element minOccurs="0" name="fecha_aplicacion" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fecha_nacimiento" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fecha_observacion" type="xs:dateTime" />
					<xs:element name="flagHitSinRefs" type="xs:int" />
					<xs:element name="flagNoHit" type="xs:int" />
					<xs:element name="flagSirc" type="xs:int" />
					<xs:element minOccurs="0" name="identidad" type="xs:string" />
					<xs:element name="ingresosMensuales" type="xs:float" />
					<xs:element name="limiteMaxTarjeta" type="xs:float" />
					<xs:element name="limitePrestamo" type="xs:float" />
					<xs:element name="limiteTarjeta" type="xs:float" />
					<xs:element name="limiteTarjetaT5" type="xs:float" />
					<xs:element name="montoMaximoBanca" type="xs:float" />
					<xs:element name="montoMaximoComercio" type="xs:float" />
					<xs:element name="moraActual" type="xs:int" />
					<xs:element name="nde" type="xs:float" />
					<xs:element name="netFractionRevolvingBurden" type="xs:int" />
					<xs:element name="numberInquiries5MonthsExcludingLast7Days"
						type="xs:int" />
					<xs:element name="numberInstallmentTadreLines" type="xs:int" />
					<xs:element name="numberInstallmentTadreLinesSIRC" type="xs:int" />
					<xs:element name="numberRevolvingTadreLines" type="xs:int" />
					<xs:element name="numberRevolvingTadreLinesSIRC" type="xs:int" />
					<xs:element name="numberTradeLines60EverAndOrCollections"
						type="xs:int" />
					<xs:element name="numberTradeLines60EverSIRC" type="xs:int" />
					<xs:element minOccurs="0" name="numeroEvaaluacion" type="xs:string" />
					<xs:element name="percentageTradeLinesNeverDelinquent"
						type="xs:int" />
					<xs:element name="peso_PF_CA_amarillo" type="xs:float" />
					<xs:element name="peso_PF_CA_rojo" type="xs:float" />
					<xs:element name="peso_PF_CA_verde" type="xs:float" />
					<xs:element name="peso_PF_VIG_amarillo" type="xs:float" />
					<xs:element name="peso_PF_VIG_rojo" type="xs:float" />
					<xs:element name="peso_PF_VIG_verde" type="xs:float" />
					<xs:element name="peso_TC_CA_amarillo" type="xs:float" />
					<xs:element name="peso_TC_CA_rojo" type="xs:float" />
					<xs:element name="peso_TC_CA_verde" type="xs:float" />
					<xs:element name="peso_TC_VIG_amarillo" type="xs:float" />
					<xs:element name="peso_TC_VIG_rojo" type="xs:float" />
					<xs:element name="peso_TC_VIG_verde" type="xs:float" />
					<xs:element name="politica01" type="xs:int" />
					<xs:element name="politica02" type="xs:int" />
					<xs:element name="politica03" type="xs:int" />
					<xs:element name="politica04" type="xs:int" />
					<xs:element name="politica05" type="xs:int" />
					<xs:element name="politica06" type="xs:int" />
					<xs:element name="politica07" type="xs:int" />
					<xs:element name="politica08" type="xs:int" />
					<xs:element name="politica09" type="xs:int" />
					<xs:element name="politica10" type="xs:int" />
					<xs:element name="politica11" type="xs:int" />
					<xs:element name="politica12" type="xs:int" />
					<xs:element name="politica13" type="xs:int" />
					<xs:element name="politica14" type="xs:int" />
					<xs:element name="politica15" type="xs:int" />
					<xs:element name="politica16" type="xs:int" />
					<xs:element name="politica17" type="xs:int" />
					<xs:element name="politica18" type="xs:int" />
					<xs:element name="politica19" type="xs:int" />
					<xs:element name="politica20" type="xs:int" />
					<xs:element name="rci" type="xs:float" />
					<xs:element name="rechazoSIRC" type="xs:int" />
					<xs:element name="referenciasHipotecas" type="xs:int" />
					<xs:element name="referenciasNoValidas" type="xs:int" />
					<xs:element name="referenciasPrendas" type="xs:int" />
					<xs:element name="referenciasTC" type="xs:int" />
					<xs:element name="referenciasTop5" type="xs:int" />
					<xs:element name="referenciasValidas" type="xs:int" />
					<xs:element minOccurs="0" name="resultado" type="xs:string" />
					<xs:element minOccurs="0" name="resultadoNDE" type="xs:string" />
					<xs:element minOccurs="0" name="resultado_PF" type="xs:string" />
					<xs:element minOccurs="0" name="resultado_PF_CA" type="xs:string" />
					<xs:element minOccurs="0" name="resultado_PF_VIG" type="xs:string" />
					<xs:element minOccurs="0" name="resultado_TC" type="xs:string" />
					<xs:element minOccurs="0" name="resultado_TC_CA" type="xs:string" />
					<xs:element minOccurs="0" name="resultado_TC_VIG" type="xs:string" />
					<xs:element name="saldo_total" type="xs:float" />
					<xs:element name="saldo_total_PF" type="xs:float" />
					<xs:element name="saldo_total_PF_CA" type="xs:float" />
					<xs:element name="saldo_total_PF_VIG" type="xs:float" />
					<xs:element name="saldo_total_TC" type="xs:float" />
					<xs:element name="saldo_total_TC_CA" type="xs:float" />
					<xs:element name="saldo_total_TC_VIG" type="xs:float" />
					<xs:element name="scoreBuro" type="xs:int" />
					<xs:element name="scoreHit" type="xs:int" />
					<xs:element name="scoreNoHit" type="xs:int" />
					<xs:element name="sexo" type="xs:int" />
					<xs:element name="sumatoria_cuotas" type="xs:float" />
					<xs:element name="sumatoria_cuotas_ficohsa" type="xs:float" />
					<xs:element name="tiempoResidenciaMeses" type="xs:int" />
					<xs:element minOccurs="0" name="tipoProspecto" type="xs:string" />
					<xs:element minOccurs="0" name="tipoReferenciaValida"
						type="xs:string" />
					<xs:element minOccurs="0" name="tipoVivienda" type="xs:string" />
					<xs:element name="tipo_cambio" type="xs:float" />
					<xs:element name="total_balance" type="xs:float" />
					<xs:element name="total_credit_limit" type="xs:float" />
					<xs:element name="var1" type="xs:int" />
					<xs:element name="var10" type="xs:int" />
					<xs:element name="var11" type="xs:int" />
					<xs:element name="var12" type="xs:int" />
					<xs:element name="var13" type="xs:int" />
					<xs:element name="var14" type="xs:int" />
					<xs:element name="var15" type="xs:int" />
					<xs:element name="var2" type="xs:int" />
					<xs:element name="var3" type="xs:int" />
					<xs:element name="var4" type="xs:int" />
					<xs:element name="var5" type="xs:int" />
					<xs:element name="var6" type="xs:int" />
					<xs:element name="var7" type="xs:int" />
					<xs:element name="var8" type="xs:int" />
					<xs:element name="var9" type="xs:int" />
					<xs:element name="gFlagSIRC" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="accion">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="codigo"
						nillable="true" type="tns:codigo" />
					<xs:element name="cuotaLimiteSugerido" type="xs:float" />
					<xs:element name="limiteAsignado" type="xs:float" />
					<xs:element name="montoPtmoFidu" type="xs:float" />
					<xs:element name="porcentajeLimiteSugerido" type="xs:float" />
					<xs:element minOccurs="0" name="productoSugerido" type="xs:string" />
					<xs:element name="tasaPtmoFidut" type="xs:float" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="codigo">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigoResultado" type="xs:string" />
					<xs:element minOccurs="0" name="descripcion" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="buro">
				<xs:sequence>
					<xs:element name="buroScore" type="xs:int" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="consultas"
						nillable="true" type="tns:consulta" />
					<xs:element minOccurs="0" name="nombre" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="referencia"
						nillable="true" type="tns:referencia" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consulta">
				<xs:sequence>
					<xs:element name="days_since_inquiry" type="xs:int" />
					<xs:element minOccurs="0" name="entidad" type="xs:string" />
					<xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
					<xs:element name="inquiry" type="xs:int" />
					<xs:element name="months_since_inquiry" type="xs:int" />
					<xs:element minOccurs="0" name="motivo" type="xs:string" />
					<xs:element minOccurs="0" name="numeroEvaluacion" type="xs:string" />
					<xs:element name="tipoConsulta" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="referencia">
				<xs:sequence>
					<xs:element name="amount_past_due" type="xs:float" />
					<xs:element name="antiguedad" type="xs:int" />
					<xs:element name="antiguedad_cancelacion" type="xs:int" />
					<xs:element name="antiguedad_meses" type="xs:int" />
					<xs:element name="balance" type="xs:float" />
					<xs:element minOccurs="0" name="calificacion" type="xs:string" />
					<xs:element minOccurs="0" name="categoria" type="xs:string" />
					<xs:element name="codigoObligacion" type="xs:int" />
					<xs:element minOccurs="0" name="comportamiento" type="xs:string" />
					<xs:element name="comportamiento_Largo" type="xs:int" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="comportamiento_array" nillable="true" type="xs:string" />
					<xs:element name="credit_limit" type="xs:float" />
					<xs:element name="credit_limit_usd" type="xs:float" />
					<xs:element name="cuota" type="xs:float" />
					<xs:element minOccurs="0" name="entidad" type="xs:string" />
					<xs:element minOccurs="0" name="estadoCredito" type="xs:string" />
					<xs:element minOccurs="0" name="estatus" type="xs:string" />
					<xs:element minOccurs="0" name="fechaActivo" type="xs:string" />
					<xs:element minOccurs="0" name="fechaActualizacion"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaApertura" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaCancelacion" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
					<xs:element name="flagSameAccount" type="xs:int" />
					<xs:element name="flag_date_numeric" type="xs:int" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="historico_mora_array" nillable="true" type="xs:string" />
					<xs:element name="historico_mora_largo" type="xs:int" />
					<xs:element name="IDEvaluacion" type="xs:int" />
					<xs:element name="installment_trade_line_flag" type="xs:int" />
					<xs:element name="limiteCredito" type="xs:float" />
					<xs:element name="linea_credito" type="xs:int" />
					<xs:element minOccurs="0" name="moneda" type="xs:string" />
					<xs:element name="months_since_date_opened" type="xs:int" />
					<xs:element name="months_since_date_reported" type="xs:int" />
					<xs:element name="moraActual" type="xs:int" />
					<xs:element minOccurs="0" name="numeroEvaluacion" type="xs:string" />
					<xs:element name="open_trade_line" type="xs:int" />
					<xs:element name="payment_history_2_counter" type="xs:int" />
					<xs:element name="payment_history_all_alphas" type="xs:int" />
					<xs:element minOccurs="0" name="periodoPago" type="xs:string" />
					<xs:element name="peso" type="xs:float" />
					<xs:element name="plazo" type="xs:int" />
					<xs:element name="previous_trade_line" type="xs:int" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="rechazosAmarillo" nillable="true" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="rechazosRojo" nillable="true" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="rechazosVerde" nillable="true" type="xs:string" />
					<xs:element name="ref_cancelada" type="xs:int" />
					<xs:element name="ref_vigente" type="xs:int" />
					<xs:element minOccurs="0" name="referencia" type="xs:string" />
					<xs:element minOccurs="0" name="referenciaValida" type="xs:string" />
					<xs:element minOccurs="0" name="resultado" type="xs:string" />
					<xs:element name="resultado_amarillo" type="xs:int" />
					<xs:element name="resultado_rojo" type="xs:int" />
					<xs:element name="resultado_verde" type="xs:int" />
					<xs:element name="revolving_trade_line_flag" type="xs:int" />
					<xs:element name="saldoActual" type="xs:float" />
					<xs:element name="saldoMora" type="xs:float" />
					<xs:element minOccurs="0" name="sectorObligacion" type="xs:string" />
					<xs:element name="status_30" type="xs:int" />
					<xs:element name="status_60" type="xs:int" />
					<xs:element name="status_bypass" type="xs:int" />
					<xs:element name="status_collection" type="xs:int" />
					<xs:element name="status_inactive" type="xs:int" />
					<xs:element name="status_unknown_delinquency" type="xs:int" />
					<xs:element name="tarjetaFicohsa" type="xs:int" />
					<xs:element name="tasa_anual" type="xs:float" />
					<xs:element minOccurs="0" name="tipoActivo" type="xs:string" />
					<xs:element minOccurs="0" name="tipoGarantia" type="xs:string" />
					<xs:element minOccurs="0" name="tipoObligacion" type="xs:string" />
					<xs:element minOccurs="0" name="tipoReferencia" type="xs:string" />
					<xs:element minOccurs="0" name="tipo_prestamo" type="xs:string" />
					<xs:element name="top5" type="xs:int" />
					<xs:element name="trade_line" type="xs:int" />
					<xs:element name="type_installment" type="xs:int" />
					<xs:element name="type_non_credit" type="xs:int" />
					<xs:element name="type_revolving" type="xs:int" />
					<xs:element name="type_student" type="xs:int" />
					<xs:element name="type_telecommunications" type="xs:int" />
					<xs:element name="ultMovAno" type="xs:int" />
					<xs:element name="ultMovMes" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="epOriginacionResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="init">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="initResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:element name="Exception" type="tns:Exception" />
			<xs:complexType name="Exception">
				<xs:sequence>
					<xs:element minOccurs="0" name="message" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="destroyResponse">
		<wsdl:part element="tns:destroyResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="epOriginacion">
		<wsdl:part element="tns:epOriginacion" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="init">
		<wsdl:part element="tns:init" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="initResponse">
		<wsdl:part element="tns:initResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="destroy">
		<wsdl:part element="tns:destroy" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="epOriginacionResponse">
		<wsdl:part element="tns:epOriginacionResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="Exception">
		<wsdl:part element="tns:Exception" name="Exception">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RuleServiceDefinitionORGTAlcance">
		<wsdl:operation name="destroy">
			<wsdl:input message="tns:destroy" name="destroy">
			</wsdl:input>
			<wsdl:output message="tns:destroyResponse" name="destroyResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="epOriginacion">
			<wsdl:input message="tns:epOriginacion" name="epOriginacion">
			</wsdl:input>
			<wsdl:output message="tns:epOriginacionResponse" name="epOriginacionResponse">
			</wsdl:output>
			<wsdl:fault message="tns:Exception" name="Exception">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="init">
			<wsdl:input message="tns:init" name="init">
			</wsdl:input>
			<wsdl:output message="tns:initResponse" name="initResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RuleServiceDefinitionORGTAlcanceServiceSoapBinding"
		type="tns:RuleServiceDefinitionORGTAlcance">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="destroy">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="destroy">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="destroyResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="epOriginacion">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="epOriginacion">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="epOriginacionResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="init">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="init">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="initResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RuleServiceDefinitionORGTAlcanceService">
		<wsdl:port binding="tns:RuleServiceDefinitionORGTAlcanceServiceSoapBinding"
			name="RuleServiceDefinitionORGTAlcancePort">
			<soap:address
				location="http://BLAZESVR1:8080/RuleServiceDefinitionORGTAlcanceServer/RuleServiceDefinitionORGTAlcanceService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>