Fuentes/ficohsacore-vortex-7ebad6e8baaa/Middleware/v2/BusinessServices/BLAZE/wsdl/RuleServiceDefinitionORPTMOHNService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RuleServiceDefinitionOriginacionesHNService" targetNamespace="http://package.name.in.reverse.order" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://package.name.in.reverse.order" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://package.name.in.reverse.order" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="destroy" type="tns:destroy"/>
      <xs:element name="destroyResponse" type="tns:destroyResponse"/>
      <xs:element name="epOriginacionesHonduras" type="tns:epOriginacionesHonduras"/>
      <xs:element name="epOriginacionesHondurasResponse" type="tns:epOriginacionesHondurasResponse"/>
      <xs:element name="init" type="tns:init"/>
      <xs:element name="initResponse" type="tns:initResponse"/>
      <xs:complexType name="epOriginacionesHonduras">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:solicitante"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="solicitante">
        <xs:sequence>
          <xs:element minOccurs="0" name="acreedorP2C" type="xs:string"/>
          <xs:element name="antiguedaLaboral" type="xs:int"/>
          <xs:element name="antiguedadBajaTarjeta" type="xs:int"/>
          <xs:element name="antiguedadCJ" type="xs:int"/>
          <xs:element name="antiguedadExtrafinanciamiento" type="xs:int"/>
          <xs:element name="antiguedadLaboral" type="xs:int"/>
          <xs:element name="antiguedadPilTurbo" type="xs:int"/>
          <xs:element name="antiguedadPrestamoConsolidacion" type="xs:int"/>
          <xs:element name="antiguedadPrestamoFiduciario" type="xs:int"/>
          <xs:element name="antiguedadPrestamoRefinanciado" type="xs:int"/>
          <xs:element name="antiguedadRMT" type="xs:int"/>
          <xs:element name="antiguedadSR" type="xs:int"/>
          <xs:element name="antiguedadTarjeta" type="xs:int"/>
          <xs:element name="behaviorScoreTC" type="xs:int"/>
          <xs:element minOccurs="0" name="calificacionBuro" type="xs:string"/>
          <xs:element minOccurs="0" name="calificacionMantenimiento" type="xs:string"/>
          <xs:element minOccurs="0" name="cargo" type="xs:string"/>
          <xs:element name="clienteAGP" type="xs:int"/>
          <xs:element name="clienteC2C2" type="xs:int"/>
          <xs:element name="clienteCastigado" type="xs:int"/>
          <xs:element name="clienteCobroJudicial" type="xs:int"/>
          <xs:element name="clienteNONP2C" type="xs:int"/>
          <xs:element name="clienteNoHit" type="xs:int"/>
          <xs:element name="clienteP2C" type="xs:int"/>
          <xs:element minOccurs="0" name="clientePlanillero" type="xs:string"/>
          <xs:element name="clienteSaldoReestructurado" type="xs:int"/>
          <xs:element name="clienteSinReferencias" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="consultas" nillable="true" type="tns:consultas"/>
          <xs:element name="cuotasConsolidacion" type="xs:float"/>
          <xs:element minOccurs="0" name="destino" type="xs:string"/>
          <xs:element name="edad" type="xs:int"/>
          <xs:element minOccurs="0" name="empresa" type="xs:string"/>
          <xs:element minOccurs="0" name="empresaConvenio" type="xs:string"/>
          <xs:element minOccurs="0" name="estadoConvenio" type="xs:string"/>
          <xs:element name="expCrediticia" type="xs:int"/>
          <xs:element name="exposicionActual" type="xs:float"/>
          <xs:element name="exposicionGlobal" type="xs:float"/>
          <xs:element name="exposicionGlobalUSD" type="xs:float"/>
          <xs:element name="exposicionPasivos" type="xs:float"/>
          <xs:element name="exposicionPrestamo" type="xs:float"/>
          <xs:element name="exposicionTarjeta" type="xs:float"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="extraInterno" nillable="true" type="tns:extraInterno"/>
          <xs:element minOccurs="0" name="fechaActual" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaInicioLaboral" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime"/>
          <xs:element name="flagColaborador" type="xs:int"/>
          <xs:element name="flagConsultasExternas" type="xs:int"/>
          <xs:element name="flagMantenimientoPrestamo" type="xs:int"/>
          <xs:element name="flagOfertaPreAprobada" type="xs:int"/>
          <xs:element name="flagPasivosInternos" type="xs:int"/>
          <xs:element name="flagPrestamosInternos" type="xs:int"/>
          <xs:element name="flagRPDA" type="xs:int"/>
          <xs:element name="flagReferenciasExternas" type="xs:int"/>
          <xs:element name="flagTarjetasInternas" type="xs:int"/>
          <xs:element minOccurs="0" name="formaPagoConvenio" type="xs:string"/>
          <xs:element minOccurs="0" name="fuente" type="xs:string"/>
          <xs:element minOccurs="0" name="fuentePago" type="xs:string"/>
          <xs:element name="hitFlag" type="xs:int"/>
          <xs:element minOccurs="0" name="identidad" type="xs:string"/>
          <xs:element name="limiteMaxP2C" type="xs:float"/>
          <xs:element name="limiteMaxTarjeta" type="xs:float"/>
          <xs:element name="limitesTarjeta" type="xs:float"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="mantenimientoPrestamo" nillable="true" type="tns:mantenimientoPrestamo"/>
          <xs:element minOccurs="0" name="menorCalificacionTarjeta" type="xs:string"/>
          <xs:element name="mesesDeposito" type="xs:int"/>
          <xs:element minOccurs="0" name="mismaFechaAperturaTarjetaBAC" type="xs:dateTime"/>
          <xs:element name="montoConvenio" type="xs:float"/>
          <xs:element name="montoMaxBanca" type="xs:float"/>
          <xs:element name="montoMaxComercio" type="xs:float"/>
          <xs:element name="moraActualExtena" type="xs:int"/>
          <xs:element name="moraActualInterna" type="xs:int"/>
          <xs:element name="moraPrestamo" type="xs:int"/>
          <xs:element name="NDEActual" type="xs:float"/>
          <xs:element name="NDEFinal" type="xs:float"/>
          <xs:element minOccurs="0" name="naturalezaProducto" type="xs:string"/>
          <xs:element minOccurs="0" name="nivelRiesgoTC" type="xs:string"/>
          <xs:element name="noReferenciasCrediticias" type="xs:int"/>
          <xs:element name="noReferenciasPtmo" type="xs:int"/>
          <xs:element name="noReferenciasSR" type="xs:int"/>
          <xs:element name="noSobregiroTC" type="xs:float"/>
          <xs:element minOccurs="0" name="numeroSolicitud" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="obligacionesConsolidacion" nillable="true" type="tns:obligacionesConsolidacion"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="oferta" nillable="true" type="tns:oferta"/>
          <xs:element minOccurs="0" name="ofertaPreAprobada" type="tns:ofertaPreAprobada"/>
          <xs:element minOccurs="0" name="origen" type="xs:string"/>
          <xs:element name="otrosIngresos" type="xs:float"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="pasivos" nillable="true" type="tns:pasivos"/>
          <xs:element name="plazoConvenio" type="xs:float"/>
          <xs:element minOccurs="0" name="poseeConsultasExternas" type="xs:string"/>
          <xs:element minOccurs="0" name="poseeConvenio" type="xs:string"/>
          <xs:element minOccurs="0" name="poseeMantenimientoPrestamo" type="xs:string"/>
          <xs:element minOccurs="0" name="poseeOfertaPreAprobada" type="xs:string"/>
          <xs:element minOccurs="0" name="poseePasivosInternos" type="xs:string"/>
          <xs:element name="poseePestamoCastigado" type="xs:int"/>
          <xs:element name="poseePestamoConsolidacion" type="xs:int"/>
          <xs:element name="poseePestamoFiduciario" type="xs:int"/>
          <xs:element name="poseePestamoRefinanciado" type="xs:int"/>
          <xs:element minOccurs="0" name="poseePrestamosInternos" type="xs:string"/>
          <xs:element minOccurs="0" name="poseeReferenciasExternas" type="xs:string"/>
          <xs:element minOccurs="0" name="poseeTarjetasInternas" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="prestamos" nillable="true" type="tns:prestamos"/>
          <xs:element minOccurs="0" name="productoFicohsa" type="xs:string"/>
          <xs:element name="productoPYME" type="xs:int"/>
          <xs:element minOccurs="0" name="productoSolicitado" type="xs:string"/>
          <xs:element name="RCI" type="xs:float"/>
          <xs:element name="RCIMax" type="xs:float"/>
          <xs:element name="rechazoAntiguedadLaboral" type="xs:boolean"/>
          <xs:element name="rechazoBehaviorScore" type="xs:boolean"/>
          <xs:element name="rechazoBuroScore" type="xs:boolean"/>
          <xs:element name="rechazoCastigoInterno" type="xs:boolean"/>
          <xs:element name="rechazoCobroJudicialInterno" type="xs:boolean"/>
          <xs:element name="rechazoColaborador" type="xs:boolean"/>
          <xs:element name="rechazoCuentaReciente" type="xs:boolean"/>
          <xs:element name="rechazoDecisionAdministrativa" type="xs:boolean"/>
          <xs:element name="rechazoDescuentoRMT" type="xs:boolean"/>
          <xs:element name="rechazoEdad" type="xs:boolean"/>
          <xs:element name="rechazoExposicion" type="xs:boolean"/>
          <xs:element name="rechazoExtraReciente" type="xs:boolean"/>
          <xs:element name="rechazoIngresosMinimos" type="xs:boolean"/>
          <xs:element name="rechazoMora120" type="xs:boolean"/>
          <xs:element name="rechazoMoraExternaActual" type="xs:boolean"/>
          <xs:element name="rechazoMoraPrestamo" type="xs:boolean"/>
          <xs:element name="rechazoMoraTarjeta" type="xs:boolean"/>
          <xs:element name="rechazoNiveldeEndeudamiento" type="xs:boolean"/>
          <xs:element name="rechazoOriginationScore" type="xs:boolean"/>
          <xs:element name="rechazoPilTurboReciente" type="xs:boolean"/>
          <xs:element name="rechazoPrestamoConsolidacion" type="xs:boolean"/>
          <xs:element name="rechazoPrestamoReciente" type="xs:boolean"/>
          <xs:element name="rechazoPrestamoRefinanciado" type="xs:boolean"/>
          <xs:element name="rechazoProductoPYME" type="xs:boolean"/>
          <xs:element name="rechazoRechazoClienteNOSCORE" type="xs:boolean"/>
          <xs:element name="rechazoRechazoEstadoExterno" type="xs:boolean"/>
          <xs:element name="rechazoRechazoMora90" type="xs:boolean"/>
          <xs:element name="rechazoRechazoReferenciaValida" type="xs:boolean"/>
          <xs:element name="rechazoSaldoReestructuradoInterno" type="xs:boolean"/>
          <xs:element name="rechazoSobregiro" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="referencias" nillable="true" type="tns:referencias"/>
          <xs:element name="referenciasAdelanto" type="xs:int"/>
          <xs:element name="referenciasExternasCastigadas" type="xs:int"/>
          <xs:element minOccurs="0" name="referenciasInterna" type="xs:string"/>
          <xs:element name="referenciasNoValidas" type="xs:int"/>
          <xs:element name="referenciasPasivos" type="xs:int"/>
          <xs:element name="referenciasPlanilla" type="xs:int"/>
          <xs:element name="referenciasPtmo" type="xs:int"/>
          <xs:element name="referenciasTarjeta" type="xs:int"/>
          <xs:element name="referenciasTelco" type="xs:int"/>
          <xs:element minOccurs="0" name="relacionFicohsa" type="xs:string"/>
          <xs:element name="riesgoTotal" type="xs:float"/>
          <xs:element name="salarioBruto" type="xs:float"/>
          <xs:element name="salarioNeto" type="xs:float"/>
          <xs:element name="salarioPlanilla" type="xs:float"/>
          <xs:element name="salarioUSD" type="xs:float"/>
          <xs:element name="saldoConsolidacion" type="xs:float"/>
          <xs:element name="saldoExtraTarjeta" type="xs:float"/>
          <xs:element name="saldoMoraActualInterna" type="xs:float"/>
          <xs:element name="saldoPilTurbo" type="xs:float"/>
          <xs:element minOccurs="0" name="score" type="tns:score"/>
          <xs:element name="scoreBuro" type="xs:float"/>
          <xs:element name="scoreMantenimiento" type="xs:int"/>
          <xs:element minOccurs="0" name="segmento" type="xs:string"/>
          <xs:element minOccurs="0" name="segmentoCliente" type="xs:string"/>
          <xs:element minOccurs="0" name="sexo" type="xs:string"/>
          <xs:element minOccurs="0" name="subSegmentoCliente" type="xs:string"/>
          <xs:element name="sumatoriaCuotasExternas" type="xs:float"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="tarjetas" nillable="true" type="tns:tarjetas"/>
          <xs:element name="tasaConvenio" type="xs:float"/>
          <xs:element name="tiempoResidencia" type="xs:int"/>
          <xs:element name="tipoCambio" type="xs:float"/>
          <xs:element minOccurs="0" name="tipoCliente" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoClienteInterno" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoEmpresa" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoScore" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoTrabajo" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoVivienda" type="xs:string"/>
          <xs:element name="totalExtrafinanciamientos" type="xs:int"/>
          <xs:element name="totalPrestamoConsolidacion" type="xs:int"/>
          <xs:element name="totalPrestamoFiduciario" type="xs:int"/>
          <xs:element name="totalPrestamoRefinanciado" type="xs:int"/>
          <xs:element name="totalReferenciasCrediticias" type="xs:int"/>
          <xs:element name="totalReferenciasPrestamos" type="xs:int"/>
          <xs:element name="utilizacionMaximaTarjeta" type="xs:float"/>
          <xs:element name="vecesMora120_12m" type="xs:int"/>
          <xs:element name="vecesMora60_12m" type="xs:int"/>
          <xs:element name="vecesMora60_6m" type="xs:int"/>
          <xs:element name="vecesMora90_12m" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="consultas">
        <xs:sequence>
          <xs:element minOccurs="0" name="entidad" type="xs:string"/>
          <xs:element minOccurs="0" name="fechaConsulta" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="periodoActual" type="xs:string"/>
          <xs:element minOccurs="0" name="periodoInformacion" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="extraInterno">
        <xs:sequence>
          <xs:element name="cuotaExtra" type="xs:float"/>
          <xs:element minOccurs="0" name="cuotaNumero" type="xs:string"/>
          <xs:element minOccurs="0" name="fechaExtra" type="xs:dateTime"/>
          <xs:element name="montoTomado" type="xs:float"/>
          <xs:element name="numeroCuenta" type="xs:int"/>
          <xs:element name="saldoExtra" type="xs:float"/>
          <xs:element name="tasaExtra" type="xs:float"/>
          <xs:element minOccurs="0" name="totalCuotas" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mantenimientoPrestamo">
        <xs:sequence>
          <xs:element minOccurs="0" name="calificacionScoreMC" type="xs:string"/>
          <xs:element minOccurs="0" name="codResolucionRetanqueoMC" type="xs:string"/>
          <xs:element name="cuotaRetanqueoMC" type="xs:float"/>
          <xs:element minOccurs="0" name="flagHit" type="xs:string"/>
          <xs:element name="monto12RetanqueoMC" type="xs:float"/>
          <xs:element name="monto18RetanqueoMC" type="xs:float"/>
          <xs:element name="monto24RetanqueoMC" type="xs:float"/>
          <xs:element name="monto36RetanqueoMC" type="xs:float"/>
          <xs:element name="monto48RetanqueoMC" type="xs:float"/>
          <xs:element name="monto60RetanqueoMC" type="xs:float"/>
          <xs:element name="montoRetanqueoMC" type="xs:float"/>
          <xs:element minOccurs="0" name="nivelRiesgoMC" type="xs:string"/>
          <xs:element name="scoreMC" type="xs:float"/>
          <xs:element name="tasaRetanqueoMC" type="xs:float"/>
          <xs:element name="timesIncomeRetanqueoMC" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="obligacionesConsolidacion">
        <xs:sequence>
          <xs:element minOccurs="0" name="acreedor" type="xs:string"/>
          <xs:element minOccurs="0" name="estado" type="xs:string"/>
          <xs:element minOccurs="0" name="fechaApertura" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaCancelacion" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime"/>
          <xs:element name="limiteMonto" type="xs:float"/>
          <xs:element minOccurs="0" name="noReferencia" type="xs:string"/>
          <xs:element name="saldoActual" type="xs:float"/>
          <xs:element minOccurs="0" name="tipoGarantia" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoObligacion" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoReferencia" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oferta">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="arrayResolucion" nillable="true" type="tns:resolucion"/>
          <xs:element minOccurs="0" name="codProducto" type="xs:string"/>
          <xs:element name="cuota" type="xs:float"/>
          <xs:element name="cuotaNDE" type="xs:float"/>
          <xs:element name="cuotaRCI_NONP2C" type="xs:float"/>
          <xs:element name="cuotaRCI_P2C" type="xs:float"/>
          <xs:element name="monto108" type="xs:float"/>
          <xs:element name="monto12" type="xs:float"/>
          <xs:element name="monto120" type="xs:float"/>
          <xs:element name="monto18" type="xs:float"/>
          <xs:element name="monto24" type="xs:float"/>
          <xs:element name="monto36" type="xs:float"/>
          <xs:element name="monto48" type="xs:float"/>
          <xs:element name="monto60" type="xs:float"/>
          <xs:element name="monto72" type="xs:float"/>
          <xs:element name="monto84" type="xs:float"/>
          <xs:element name="monto96" type="xs:float"/>
          <xs:element name="montoMax" type="xs:float"/>
          <xs:element name="ofertaMEG" type="xs:float"/>
          <xs:element name="ofertaMax" type="xs:float"/>
          <xs:element name="ofertaNDE" type="xs:float"/>
          <xs:element name="ofertaNonP2c" type="xs:float"/>
          <xs:element name="ofertaP2C" type="xs:float"/>
          <xs:element name="ofertaRCI" type="xs:float"/>
          <xs:element name="ofertaTimesIncome" type="xs:float"/>
          <xs:element name="RCI" type="xs:float"/>
          <xs:element minOccurs="0" name="resolucion" type="xs:string"/>
          <xs:element name="tasa" type="xs:float"/>
          <xs:element name="timesIncome" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resolucion">
        <xs:sequence>
          <xs:element minOccurs="0" name="codResolucion" type="xs:string"/>
          <xs:element minOccurs="0" name="descripcionResolucion" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ofertaPreAprobada">
        <xs:sequence>
          <xs:element name="cuotaFicoCredito" type="xs:float"/>
          <xs:element name="cuotaFicoYa" type="xs:float"/>
          <xs:element name="cuotaOPI" type="xs:float"/>
          <xs:element name="cuotaRetanqueo" type="xs:float"/>
          <xs:element minOccurs="0" name="fechaInformacion" type="xs:dateTime"/>
          <xs:element name="ofertaFicoCredito" type="xs:float"/>
          <xs:element name="ofertaFicoCredito12" type="xs:float"/>
          <xs:element name="ofertaFicoCredito18" type="xs:float"/>
          <xs:element name="ofertaFicoCredito24" type="xs:float"/>
          <xs:element name="ofertaFicoCredito36" type="xs:float"/>
          <xs:element name="ofertaFicoCredito48" type="xs:float"/>
          <xs:element name="ofertaFicoCredito60" type="xs:float"/>
          <xs:element name="ofertaFicoYa" type="xs:float"/>
          <xs:element name="ofertaFicoYa12" type="xs:float"/>
          <xs:element name="ofertaFicoYa18" type="xs:float"/>
          <xs:element name="ofertaFicoYa24" type="xs:float"/>
          <xs:element name="ofertaFicoYa36" type="xs:float"/>
          <xs:element name="ofertaFicoYa48" type="xs:float"/>
          <xs:element name="ofertaFicoYa60" type="xs:float"/>
          <xs:element name="ofertaOPI" type="xs:float"/>
          <xs:element name="ofertaOPI12" type="xs:float"/>
          <xs:element name="ofertaOPI18" type="xs:float"/>
          <xs:element name="ofertaOPI24" type="xs:float"/>
          <xs:element name="ofertaOPI36" type="xs:float"/>
          <xs:element name="ofertaOPI48" type="xs:float"/>
          <xs:element name="ofertaOPI60" type="xs:float"/>
          <xs:element name="ofertaRetanqueo" type="xs:float"/>
          <xs:element name="ofertaRetanqueo12" type="xs:float"/>
          <xs:element name="ofertaRetanqueo18" type="xs:float"/>
          <xs:element name="ofertaRetanqueo24" type="xs:float"/>
          <xs:element name="ofertaRetanqueo36" type="xs:float"/>
          <xs:element name="ofertaRetanqueo48" type="xs:float"/>
          <xs:element name="ofertaRetanqueo60" type="xs:float"/>
          <xs:element name="score" type="xs:float"/>
          <xs:element name="sumatoriaCuotas" type="xs:float"/>
          <xs:element name="tasaFicoCredito" type="xs:int"/>
          <xs:element name="tasaFicoYa" type="xs:int"/>
          <xs:element name="tasaOPI" type="xs:int"/>
          <xs:element name="tasaRetanqueo" type="xs:int"/>
          <xs:element name="timesIncomeFicoCredito" type="xs:int"/>
          <xs:element name="timesIncomeFicoYa" type="xs:int"/>
          <xs:element name="timesIncomeOPI" type="xs:int"/>
          <xs:element name="timesIncomeRetanqueo" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pasivos">
        <xs:sequence>
          <xs:element name="categoria" type="xs:int"/>
          <xs:element minOccurs="0" name="cuentaMancomunada" type="xs:string"/>
          <xs:element minOccurs="0" name="fechaApertura" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaCierre" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="moneda" type="xs:string"/>
          <xs:element minOccurs="0" name="numeroCuenta" type="xs:string"/>
          <xs:element name="saldoActual" type="xs:float"/>
          <xs:element name="saldoFinMes" type="xs:float"/>
          <xs:element name="saldoPromedioMensual" type="xs:float"/>
          <xs:element name="saldoPromedioSemestral" type="xs:float"/>
          <xs:element minOccurs="0" name="tipoCuenta" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoOperacion" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="transaccionesPasivos" nillable="true" type="tns:transaccionesPasivos"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="transaccionesPasivos">
        <xs:sequence>
          <xs:element minOccurs="0" name="cuenta" type="xs:string"/>
          <xs:element minOccurs="0" name="fecha_Finde_Periodo" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fecha_Ultimo_Credito" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fecha_Ultimo_Debito" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="flag_Bloqueo_Cuenta" type="xs:string"/>
          <xs:element minOccurs="0" name="flag_Cuenta_Mancomunada" type="xs:string"/>
          <xs:element name="flag_Cuenta_Planilla" type="xs:int"/>
          <xs:element minOccurs="0" name="flag_Facilidades_Cuenta" type="xs:string"/>
          <xs:element minOccurs="0" name="flag_Representante_Legal" type="xs:string"/>
          <xs:element name="monto_Acreditado_Planilla" type="xs:float"/>
          <xs:element name="monto_Creditos" type="xs:float"/>
          <xs:element name="monto_Debitos" type="xs:float"/>
          <xs:element name="monto_Intereses_Creditos" type="xs:float"/>
          <xs:element name="monto_Intereses_Debitos" type="xs:float"/>
          <xs:element name="numero_Creditos" type="xs:int"/>
          <xs:element name="numero_Debitos" type="xs:int"/>
          <xs:element name="numero_Intereses_Creditos" type="xs:int"/>
          <xs:element name="numero_Intereses_Debitos" type="xs:int"/>
          <xs:element name="saldo_Fin" type="xs:float"/>
          <xs:element name="saldo_Max" type="xs:float"/>
          <xs:element name="saldo_Min" type="xs:float"/>
          <xs:element name="saldo_Promedio" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="prestamos">
        <xs:sequence>
          <xs:element name="antiguedadBajaPrestamo" type="xs:int"/>
          <xs:element name="antiguedadPrestamo" type="xs:int"/>
          <xs:element name="cargos" type="xs:float"/>
          <xs:element minOccurs="0" name="codigoAgencia" type="xs:string"/>
          <xs:element minOccurs="0" name="codigoSubAplicacion" type="xs:string"/>
          <xs:element minOccurs="0" name="codigoTipoGarantia" type="xs:string"/>
          <xs:element name="codigoTipoPrestamo" type="xs:int"/>
          <xs:element name="customerID" type="xs:int"/>
          <xs:element minOccurs="0" name="descPrestamo" type="xs:string"/>
          <xs:element minOccurs="0" name="fechaApertura" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaCancelacion" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="identidad" type="xs:string"/>
          <xs:element name="intereses" type="xs:float"/>
          <xs:element name="montoInicial" type="xs:float"/>
          <xs:element name="moraActual" type="xs:int"/>
          <xs:element name="numeroContrato" type="xs:int"/>
          <xs:element name="numeroCuotas" type="xs:float"/>
          <xs:element minOccurs="0" name="numeroPrestamo" type="xs:string"/>
          <xs:element name="otrosCargos" type="xs:float"/>
          <xs:element name="plazo" type="xs:float"/>
          <xs:element name="prestamoCancelado" type="xs:int"/>
          <xs:element name="prestamoCastigado" type="xs:int"/>
          <xs:element name="prestamoConsolidacion" type="xs:int"/>
          <xs:element name="prestamoVigente" type="xs:int"/>
          <xs:element name="saldoActual" type="xs:float"/>
          <xs:element name="seguros" type="xs:float"/>
          <xs:element name="tasa" type="xs:float"/>
          <xs:element name="tipoDeudor" type="xs:int"/>
          <xs:element minOccurs="0" name="tipoPrestamo" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="transaccionesPrestamo" nillable="true" type="tns:transaccionesPrestamo"/>
          <xs:element name="valorCuota" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="transaccionesPrestamo">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoAgencia" type="xs:string"/>
          <xs:element minOccurs="0" name="codigoSubAplicacion" type="xs:string"/>
          <xs:element minOccurs="0" name="fechaCorte" type="xs:dateTime"/>
          <xs:element name="mora" type="xs:int"/>
          <xs:element minOccurs="0" name="numeroPrestamo" type="xs:string"/>
          <xs:element name="saldoActual" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="referencias">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountType" type="xs:string"/>
          <xs:element minOccurs="0" name="acreedor" type="xs:string"/>
          <xs:element name="amountPastDue" type="xs:double"/>
          <xs:element name="antiguedadBajaReferencia" type="xs:int"/>
          <xs:element name="antiguedadReferencia" type="xs:int"/>
          <xs:element name="antiguedadVencimientoReferencia" type="xs:int"/>
          <xs:element name="antiguedadVigencia" type="xs:int"/>
          <xs:element name="charMaximumDelinquencyEver" type="xs:int"/>
          <xs:element minOccurs="0" name="conteoHistoricoDol" type="xs:string"/>
          <xs:element minOccurs="0" name="conteoHistoricoLoc" type="xs:string"/>
          <xs:element name="creditAmount" type="xs:double"/>
          <xs:element name="creditLimit" type="xs:double"/>
          <xs:element minOccurs="0" name="creditType" type="xs:string"/>
          <xs:element name="cuota" type="xs:float"/>
          <xs:element name="currentBalance" type="xs:double"/>
          <xs:element name="currentMannerOfPayment" type="xs:int"/>
          <xs:element name="currentMannerOfPayment30" type="xs:int"/>
          <xs:element name="currentMannerOfPayment60" type="xs:int"/>
          <xs:element minOccurs="0" name="dateCancelled" type="xs:string"/>
          <xs:element minOccurs="0" name="dateOpened" type="xs:string"/>
          <xs:element minOccurs="0" name="dateReported" type="xs:string"/>
          <xs:element minOccurs="0" name="delinquencyFlag" type="xs:string"/>
          <xs:element minOccurs="0" name="estado" type="xs:string"/>
          <xs:element name="factorCambio" type="xs:float"/>
          <xs:element minOccurs="0" name="fechaApertura" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaCancelacion" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime"/>
          <xs:element name="flagConsolidacion" type="xs:int"/>
          <xs:element name="highCredit" type="xs:double"/>
          <xs:element minOccurs="0" name="installmentTradeLineFlag" type="xs:string"/>
          <xs:element name="lengthMorosidad" type="xs:int"/>
          <xs:element name="limiteMonto" type="xs:float"/>
          <xs:element name="limiteUSD" type="xs:float"/>
          <xs:element name="mob" type="xs:int"/>
          <xs:element minOccurs="0" name="moneda" type="xs:string"/>
          <xs:element name="monthsSinceDateOpened" type="xs:int"/>
          <xs:element name="monthsSinceDateReported" type="xs:int"/>
          <xs:element name="moraActual" type="xs:int"/>
          <xs:element minOccurs="0" name="moraHistorica" type="xs:string"/>
          <xs:element name="moraMaxima12m" type="xs:int"/>
          <xs:element name="moraNULL" type="xs:int"/>
          <xs:element minOccurs="0" name="mortgageTradeLineFlag" type="xs:string"/>
          <xs:element minOccurs="0" name="nivelMora" type="xs:string"/>
          <xs:element minOccurs="0" name="noReferencia" type="xs:string"/>
          <xs:element name="numTimes120" type="xs:int"/>
          <xs:element name="numTimes150" type="xs:int"/>
          <xs:element name="numTimes180" type="xs:int"/>
          <xs:element name="numTimes30" type="xs:int"/>
          <xs:element name="numTimes60" type="xs:int"/>
          <xs:element name="numTimes90" type="xs:int"/>
          <xs:element minOccurs="0" name="openTradeLineFlag" type="xs:string"/>
          <xs:element minOccurs="0" name="paymentHistory" type="xs:string"/>
          <xs:element name="paymentHistoryCounter0" type="xs:int"/>
          <xs:element name="paymentHistoryCounter1" type="xs:int"/>
          <xs:element name="paymentHistoryCounter2" type="xs:int"/>
          <xs:element name="paymentHistoryCounter3" type="xs:int"/>
          <xs:element name="paymentHistoryCounter4" type="xs:int"/>
          <xs:element name="paymentHistoryLength" type="xs:int"/>
          <xs:element minOccurs="0" name="periodoInfo" type="xs:string"/>
          <xs:element name="plazo" type="xs:float"/>
          <xs:element name="prestamoFICOHSA" type="xs:int"/>
          <xs:element minOccurs="0" name="refType" type="xs:string"/>
          <xs:element minOccurs="0" name="referencia" type="xs:string"/>
          <xs:element name="referenciaCancelada" type="xs:int"/>
          <xs:element name="referenciaCastigada" type="xs:int"/>
          <xs:element minOccurs="0" name="referenciaCliente" type="xs:string"/>
          <xs:element name="referenciaDuplicada" type="xs:int"/>
          <xs:element minOccurs="0" name="referenciaTop4" type="xs:string"/>
          <xs:element minOccurs="0" name="referenciaValida" type="xs:string"/>
          <xs:element name="referenciaVigente" type="xs:int"/>
          <xs:element minOccurs="0" name="revolvingTradeLineFlag" type="xs:string"/>
          <xs:element name="saldoActual" type="xs:float"/>
          <xs:element name="saldoCastigado" type="xs:float"/>
          <xs:element name="saldoCobroJudicial" type="xs:float"/>
          <xs:element name="saldoMora" type="xs:float"/>
          <xs:element name="saldoTotal" type="xs:float"/>
          <xs:element name="saldoVencido" type="xs:float"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
          <xs:element name="status120" type="xs:int"/>
          <xs:element name="status30" type="xs:int"/>
          <xs:element name="status60" type="xs:int"/>
          <xs:element name="status90" type="xs:int"/>
          <xs:element name="statusBypass" type="xs:int"/>
          <xs:element name="statusUnknownDelinquency" type="xs:int"/>
          <xs:element name="tasaPrestamo" type="xs:float"/>
          <xs:element minOccurs="0" name="tipoGarantia" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoObligacion" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoPrestamo" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoRefC2C" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoReferencia" type="xs:string"/>
          <xs:element name="tradeLine" type="xs:int"/>
          <xs:element minOccurs="0" name="unusualTradeLineFlag" type="xs:string"/>
          <xs:element minOccurs="0" name="warrantyType" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="score">
        <xs:sequence>
          <xs:element minOccurs="0" name="calificacionScore" type="xs:string"/>
          <xs:element name="charAVERAGE_MONTHS_IN_FILE" type="xs:int"/>
          <xs:element name="charEDAD_DEL_SOLICITANTE" type="xs:int"/>
          <xs:element name="charMAXIMUM_DELINQUENCY_EVER" type="xs:int"/>
          <xs:element name="charMONTHS_SINCE_OLDEST_REVOLVING_DATE_OPENED" type="xs:int"/>
          <xs:element name="charNET_FRACTION_INSTALLMENT_BURDEN" type="xs:int"/>
          <xs:element name="charNET_FRACTION_REVOLVING_BURDEN" type="xs:int"/>
          <xs:element name="charNUM_OPEN_TRADE_LINES" type="xs:int"/>
          <xs:element name="charNUM_REVOLVING_TRADE_LINES_WITH_BALANCE_50PORC_OF_CREDIT_AMOUNT" type="xs:int"/>
          <xs:element name="charNUM_TRADE_LINES_60_EVER" type="xs:int"/>
          <xs:element name="charNUM_TRADE_LINES_OPENED_LAST_12_MONTHS" type="xs:int"/>
          <xs:element name="charPORC_TRADE_LINES_NEVER_DELINQUENT" type="xs:int"/>
          <xs:element minOccurs="0" name="nivelRiesgo" type="xs:string"/>
          <xs:element name="noHit_noRecord" type="xs:int"/>
          <xs:element name="score" type="xs:float"/>
          <xs:element name="var1" type="xs:float"/>
          <xs:element name="var10" type="xs:float"/>
          <xs:element name="var11" type="xs:float"/>
          <xs:element name="var12" type="xs:float"/>
          <xs:element name="var13" type="xs:float"/>
          <xs:element name="var14" type="xs:float"/>
          <xs:element name="var15" type="xs:float"/>
          <xs:element name="var16" type="xs:float"/>
          <xs:element name="var17" type="xs:float"/>
          <xs:element name="var18" type="xs:float"/>
          <xs:element name="var19" type="xs:float"/>
          <xs:element name="var2" type="xs:float"/>
          <xs:element name="var20" type="xs:float"/>
          <xs:element name="var3" type="xs:float"/>
          <xs:element name="var4" type="xs:float"/>
          <xs:element name="var5" type="xs:float"/>
          <xs:element name="var6" type="xs:float"/>
          <xs:element name="var7" type="xs:float"/>
          <xs:element name="var8" type="xs:float"/>
          <xs:element name="var9" type="xs:float"/>
          <xs:element minOccurs="0" name="gRefAhorro_Cheque_Certficado" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tarjetas">
        <xs:sequence>
          <xs:element name="antiguedadBajaTarjeta" type="xs:int"/>
          <xs:element name="antiguedadExtrafinanciamiento" type="xs:int"/>
          <xs:element name="antiguedadTarjeta" type="xs:int"/>
          <xs:element name="antiguedadUltimoCorte" type="xs:int"/>
          <xs:element name="antiguedadescuentoContado" type="xs:int"/>
          <xs:element minOccurs="0" name="BIN" type="xs:string"/>
          <xs:element name="behaviorScore" type="xs:float"/>
          <xs:element minOccurs="0" name="calificacionScore" type="xs:string"/>
          <xs:element minOccurs="0" name="calificacionScoreCliente" type="xs:string"/>
          <xs:element minOccurs="0" name="calificacionTarjeta" type="xs:string"/>
          <xs:element name="cash_diponible" type="xs:float"/>
          <xs:element minOccurs="0" name="codbloqueo1" type="xs:string"/>
          <xs:element minOccurs="0" name="codbloqueo2" type="xs:string"/>
          <xs:element minOccurs="0" name="cuenta" type="xs:string"/>
          <xs:element name="cuotasExtraVigentes" type="xs:float"/>
          <xs:element minOccurs="0" name="descGrupoAfinidad" type="xs:string"/>
          <xs:element minOccurs="0" name="descProducto" type="xs:string"/>
          <xs:element minOccurs="0" name="estado" type="xs:string"/>
          <xs:element minOccurs="0" name="estado_Tarjeta" type="xs:string"/>
          <xs:element minOccurs="0" name="fechaApertura" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaCancelacion" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaCorte" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaDescuentoContado" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechaUltimoExtra" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fecha_aprobacion_extra" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fecha_aprobacion_intra" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fecha_aprobacion_pil" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechabloqueo1" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="fechabloqueo2" type="xs:dateTime"/>
          <xs:element name="flagColaborador" type="xs:int"/>
          <xs:element minOccurs="0" name="flag_castigo" type="xs:string"/>
          <xs:element minOccurs="0" name="grupoAfinidad" type="xs:string"/>
          <xs:element minOccurs="0" name="identidad" type="xs:string"/>
          <xs:element name="limiteActual" type="xs:float"/>
          <xs:element name="limitePrevio" type="xs:float"/>
          <xs:element name="logo" type="xs:int"/>
          <xs:element name="modeloLiquidacion" type="xs:int"/>
          <xs:element name="moraActual" type="xs:int"/>
          <xs:element name="mora_actual_LOC" type="xs:int"/>
          <xs:element name="mora_actual_USD" type="xs:int"/>
          <xs:element minOccurs="0" name="morosidadHistorica_LOC" type="xs:string"/>
          <xs:element minOccurs="0" name="morosidadHistorica_USD" type="xs:string"/>
          <xs:element minOccurs="0" name="numeroCuenta" type="xs:string"/>
          <xs:element minOccurs="0" name="producto" type="xs:string"/>
          <xs:element name="saldoActual" type="xs:float"/>
          <xs:element name="saldoAutorizacion" type="xs:float"/>
          <xs:element name="saldoCorte" type="xs:float"/>
          <xs:element name="saldoExtra" type="xs:float"/>
          <xs:element name="saldoIntra" type="xs:float"/>
          <xs:element name="sobregiro" type="xs:float"/>
          <xs:element name="tarjetaAGP" type="xs:int"/>
          <xs:element name="tarjetaCJ" type="xs:int"/>
          <xs:element name="tarjetaCancelada" type="xs:int"/>
          <xs:element name="tarjetaPilTurbo" type="xs:int"/>
          <xs:element name="tarjetaSR" type="xs:int"/>
          <xs:element name="tarjetaVigente" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="transaccionesTarjeta" nillable="true" type="tns:transaccionesTarjeta"/>
          <xs:element name="utilizacionTarjeta" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="transaccionesTarjeta">
        <xs:sequence>
          <xs:element name="compras" type="xs:float"/>
          <xs:element name="cuota_extra" type="xs:float"/>
          <xs:element name="cuota_intra" type="xs:float"/>
          <xs:element minOccurs="0" name="fecha_corte" type="xs:dateTime"/>
          <xs:element name="intereses" type="xs:float"/>
          <xs:element name="limite_ciclo" type="xs:float"/>
          <xs:element name="mora" type="xs:int"/>
          <xs:element name="pago_minimo" type="xs:float"/>
          <xs:element name="pagos" type="xs:float"/>
          <xs:element name="retiros" type="xs:float"/>
          <xs:element name="saldoCorte" type="xs:float"/>
          <xs:element name="saldo_extra" type="xs:float"/>
          <xs:element name="saldo_intra" type="xs:float"/>
          <xs:element name="saldo_total" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="epOriginacionesHondurasResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:solicitante"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="destroy">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="destroyResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="init">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="initResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception"/>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="initResponse">
    <wsdl:part element="tns:initResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="destroyResponse">
    <wsdl:part element="tns:destroyResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="init">
    <wsdl:part element="tns:init" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception"/>
  </wsdl:message>
  <wsdl:message name="epOriginacionesHonduras">
    <wsdl:part element="tns:epOriginacionesHonduras" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="epOriginacionesHondurasResponse">
    <wsdl:part element="tns:epOriginacionesHondurasResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="destroy">
    <wsdl:part element="tns:destroy" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="RuleServiceDefinitionOriginacionesHN">
    <wsdl:operation name="epOriginacionesHonduras">
      <wsdl:input message="tns:epOriginacionesHonduras" name="epOriginacionesHonduras"/>
      <wsdl:output message="tns:epOriginacionesHondurasResponse" name="epOriginacionesHondurasResponse"/>
      <wsdl:fault message="tns:Exception" name="Exception"/>
    </wsdl:operation>
    <wsdl:operation name="destroy">
      <wsdl:input message="tns:destroy" name="destroy"/>
      <wsdl:output message="tns:destroyResponse" name="destroyResponse"/>
    </wsdl:operation>
    <wsdl:operation name="init">
      <wsdl:input message="tns:init" name="init"/>
      <wsdl:output message="tns:initResponse" name="initResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RuleServiceDefinitionOriginacionesHNServiceSoapBinding" type="tns:RuleServiceDefinitionOriginacionesHN">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="epOriginacionesHonduras">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="epOriginacionesHonduras">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="epOriginacionesHondurasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="destroy">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="destroy">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="destroyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="init">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="init">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="initResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RuleServiceDefinitionOriginacionesHNService">
    <wsdl:port binding="tns:RuleServiceDefinitionOriginacionesHNServiceSoapBinding" name="RuleServiceDefinitionOriginacionesHNPort">
      <soap:address location="http://10.242.103.31:8080/RuleServiceDefinitionOriginacionesHNServer/RuleServiceDefinitionOriginacionesHNService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>