Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/VASA/consultarFlotantesTC/wsdl/WSConsultas.asmx.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:element name="ConsultarXmlAutorizaciones">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarXmlAutorizacionesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ConsultarXmlAutorizacionesResult">
							<s:complexType mixed="true">
								<s:sequence>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarXmlDisponiblesTarjeta">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarXmlDisponiblesTarjetaResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ConsultarXmlDisponiblesTarjetaResult">
							<s:complexType mixed="true">
								<s:sequence>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarXmlPosicionConsolidada">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarXmlPosicionConsolidadaResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ConsultarXmlPosicionConsolidadaResult">
							<s:complexType mixed="true">
								<s:sequence>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarXmlResumenCuenta">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultarXmlResumenCuentaResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ConsultarXmlResumenCuentaResult">
							<s:complexType mixed="true">
								<s:sequence>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultaXmlConsolidado">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCredito" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConsultaXmlConsolidadoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ConsultaXmlConsolidadoResult" type="tns:xmlConsolidado"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="xmlConsolidado">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="nombreTitular" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="noTarjetaCreditoTitular" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="numeroCuenta" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="fechaSaldos" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="puntosAcumulados" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="fechaUltimoCorte" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="maxFechaPago" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="codigoCliente" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="arraysaldos" type="tns:ArrayOfSaldos"/>
					<s:element minOccurs="0" maxOccurs="1" name="tasaD" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="vError" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfSaldos">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="saldos" nillable="true" type="tns:saldos"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="saldos">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="limiteCredito" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="disponibleCompras" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="disponibleRetiros" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="dispExtraFinan" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="saldoExtraFinan" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="dispConsumoCuotas" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="saldoConsumoCuotas" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="saldoActual" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="saldoVencido" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="saldoFlotante" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="pagoContado" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="pagoMinimo" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="pagosDia" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="xmlConsolidado" nillable="true" type="tns:xmlConsolidado"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="ConsultarXmlAutorizacionesSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultarXmlAutorizaciones"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlAutorizacionesSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultarXmlAutorizacionesResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlDisponiblesTarjetaSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultarXmlDisponiblesTarjeta"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlDisponiblesTarjetaSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultarXmlDisponiblesTarjetaResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlPosicionConsolidadaSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultarXmlPosicionConsolidada"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlPosicionConsolidadaSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultarXmlPosicionConsolidadaResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlResumenCuentaSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultarXmlResumenCuenta"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlResumenCuentaSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultarXmlResumenCuentaResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultaXmlConsolidadoSoapIn">
		<wsdl:part name="parameters" element="tns:ConsultaXmlConsolidado"/>
	</wsdl:message>
	<wsdl:message name="ConsultaXmlConsolidadoSoapOut">
		<wsdl:part name="parameters" element="tns:ConsultaXmlConsolidadoResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlAutorizacionesHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlAutorizacionesHttpGetOut">
		<wsdl:part name="Body" element="tns:ConsultarXmlAutorizacionesResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlDisponiblesTarjetaHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlDisponiblesTarjetaHttpGetOut">
		<wsdl:part name="Body" element="tns:ConsultarXmlDisponiblesTarjetaResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlPosicionConsolidadaHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlPosicionConsolidadaHttpGetOut">
		<wsdl:part name="Body" element="tns:ConsultarXmlPosicionConsolidadaResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlResumenCuentaHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlResumenCuentaHttpGetOut">
		<wsdl:part name="Body" element="tns:ConsultarXmlResumenCuentaResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultaXmlConsolidadoHttpGetIn">
		<wsdl:part name="noTarjetaCredito" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="ConsultaXmlConsolidadoHttpGetOut">
		<wsdl:part name="Body" element="tns:xmlConsolidado"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlAutorizacionesHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlAutorizacionesHttpPostOut">
		<wsdl:part name="Body" element="tns:ConsultarXmlAutorizacionesResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlDisponiblesTarjetaHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlDisponiblesTarjetaHttpPostOut">
		<wsdl:part name="Body" element="tns:ConsultarXmlDisponiblesTarjetaResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlPosicionConsolidadaHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlPosicionConsolidadaHttpPostOut">
		<wsdl:part name="Body" element="tns:ConsultarXmlPosicionConsolidadaResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlResumenCuentaHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="ConsultarXmlResumenCuentaHttpPostOut">
		<wsdl:part name="Body" element="tns:ConsultarXmlResumenCuentaResponse"/>
	</wsdl:message>
	<wsdl:message name="ConsultaXmlConsolidadoHttpPostIn">
		<wsdl:part name="noTarjetaCredito" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="ConsultaXmlConsolidadoHttpPostOut">
		<wsdl:part name="Body" element="tns:xmlConsolidado"/>
	</wsdl:message>
	<wsdl:portType name="consultaSaldosFlotantesTCPSSOAP">
		<wsdl:operation name="ConsultarXmlAutorizaciones">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarXmlAutorizacionesSoapIn"/>
			<wsdl:output message="tns:ConsultarXmlAutorizacionesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlDisponiblesTarjeta">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarXmlDisponiblesTarjetaSoapIn"/>
			<wsdl:output message="tns:ConsultarXmlDisponiblesTarjetaSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlPosicionConsolidada">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarXmlPosicionConsolidadaSoapIn"/>
			<wsdl:output message="tns:ConsultarXmlPosicionConsolidadaSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlResumenCuenta">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarXmlResumenCuentaSoapIn"/>
			<wsdl:output message="tns:ConsultarXmlResumenCuentaSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultaXmlConsolidado">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"></wsdl:documentation>
			<wsdl:input message="tns:ConsultaXmlConsolidadoSoapIn"/>
			<wsdl:output message="tns:ConsultaXmlConsolidadoSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="consultaSaldosFlotantesTCHttpGet">
		<wsdl:operation name="ConsultarXmlAutorizaciones">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarXmlAutorizacionesHttpGetIn"/>
			<wsdl:output message="tns:ConsultarXmlAutorizacionesHttpGetOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlDisponiblesTarjeta">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarXmlDisponiblesTarjetaHttpGetIn"/>
			<wsdl:output message="tns:ConsultarXmlDisponiblesTarjetaHttpGetOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlPosicionConsolidada">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarXmlPosicionConsolidadaHttpGetIn"/>
			<wsdl:output message="tns:ConsultarXmlPosicionConsolidadaHttpGetOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlResumenCuenta">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarXmlResumenCuentaHttpGetIn"/>
			<wsdl:output message="tns:ConsultarXmlResumenCuentaHttpGetOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultaXmlConsolidado">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"></wsdl:documentation>
			<wsdl:input message="tns:ConsultaXmlConsolidadoHttpGetIn"/>
			<wsdl:output message="tns:ConsultaXmlConsolidadoHttpGetOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="consultaSaldosFlotantesTCHttpPost">
		<wsdl:operation name="ConsultarXmlAutorizaciones">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarXmlAutorizacionesHttpPostIn"/>
			<wsdl:output message="tns:ConsultarXmlAutorizacionesHttpPostOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlDisponiblesTarjeta">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarXmlDisponiblesTarjetaHttpPostIn"/>
			<wsdl:output message="tns:ConsultarXmlDisponiblesTarjetaHttpPostOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlPosicionConsolidada">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarXmlPosicionConsolidadaHttpPostIn"/>
			<wsdl:output message="tns:ConsultarXmlPosicionConsolidadaHttpPostOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlResumenCuenta">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:documentation>
			<wsdl:input message="tns:ConsultarXmlResumenCuentaHttpPostIn"/>
			<wsdl:output message="tns:ConsultarXmlResumenCuentaHttpPostOut"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultaXmlConsolidado">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"></wsdl:documentation>
			<wsdl:input message="tns:ConsultaXmlConsolidadoHttpPostIn"/>
			<wsdl:output message="tns:ConsultaXmlConsolidadoHttpPostOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="consultaSaldosFlotantesTCPSSOAP" type="tns:consultaSaldosFlotantesTCPSSOAP">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ConsultarXmlAutorizaciones">
			<soap:operation soapAction="http://tempuri.org/ConsultarXmlAutorizaciones" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlDisponiblesTarjeta">
			<soap:operation soapAction="http://tempuri.org/ConsultarXmlDisponiblesTarjeta" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlPosicionConsolidada">
			<soap:operation soapAction="http://tempuri.org/ConsultarXmlPosicionConsolidada" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlResumenCuenta">
			<soap:operation soapAction="http://tempuri.org/ConsultarXmlResumenCuenta" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultaXmlConsolidado">
			<soap:operation soapAction="http://tempuri.org/ConsultaXmlConsolidado" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="consultaSaldosFlotantesTCPSSOAP12" type="tns:consultaSaldosFlotantesTCPSSOAP">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ConsultarXmlAutorizaciones">
			<soap12:operation soapAction="http://tempuri.org/ConsultarXmlAutorizaciones" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlDisponiblesTarjeta">
			<soap12:operation soapAction="http://tempuri.org/ConsultarXmlDisponiblesTarjeta" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlPosicionConsolidada">
			<soap12:operation soapAction="http://tempuri.org/ConsultarXmlPosicionConsolidada" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlResumenCuenta">
			<soap12:operation soapAction="http://tempuri.org/ConsultarXmlResumenCuenta" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultaXmlConsolidado">
			<soap12:operation soapAction="http://tempuri.org/ConsultaXmlConsolidado" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="consultaSaldosFlotantesTCHttpGet" type="tns:consultaSaldosFlotantesTCHttpGet">
		<http:binding verb="GET"/>
		<wsdl:operation name="ConsultarXmlAutorizaciones">
			<http:operation location="/ConsultarXmlAutorizaciones"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="Body" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlDisponiblesTarjeta">
			<http:operation location="/ConsultarXmlDisponiblesTarjeta"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="Body" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlPosicionConsolidada">
			<http:operation location="/ConsultarXmlPosicionConsolidada"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="Body" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlResumenCuenta">
			<http:operation location="/ConsultarXmlResumenCuenta"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="Body" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultaXmlConsolidado">
			<http:operation location="/ConsultaXmlConsolidado"/>
			<wsdl:input>
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="consultaSaldosFlotantesTCHttpPost" type="tns:consultaSaldosFlotantesTCHttpPost">
		<http:binding verb="POST"/>
		<wsdl:operation name="ConsultarXmlAutorizaciones">
			<http:operation location="/ConsultarXmlAutorizaciones"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="Body" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlDisponiblesTarjeta">
			<http:operation location="/ConsultarXmlDisponiblesTarjeta"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="Body" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlPosicionConsolidada">
			<http:operation location="/ConsultarXmlPosicionConsolidada"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="Body" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarXmlResumenCuenta">
			<http:operation location="/ConsultarXmlResumenCuenta"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="Body" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultaXmlConsolidado">
			<http:operation location="/ConsultaXmlConsolidado"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Service1">
		<wsdl:port name="consultaSaldosFlotantesTCPSSOAP" binding="tns:consultaSaldosFlotantesTCPSSOAP">
			<soap:address location="http://172.16.100.15/WSConsultasVASA_SV/WSConsultas.asmx"/>
		</wsdl:port>
		<wsdl:port name="consultaSaldosFlotantesTCPSSOAP12" binding="tns:consultaSaldosFlotantesTCPSSOAP12">
			<soap12:address location="http://172.16.100.15/WSConsultasVASA_SV/WSConsultas.asmx"/>
		</wsdl:port>
		<wsdl:port name="consultaSaldosFlotantesTCHttpGet" binding="tns:consultaSaldosFlotantesTCHttpGet">
			<http:address location="http://172.16.100.15/WSConsultasVASA_SV/WSConsultas.asmx"/>
		</wsdl:port>
		<wsdl:port name="consultaSaldosFlotantesTCHttpPost" binding="tns:consultaSaldosFlotantesTCHttpPost">
			<http:address location="http://172.16.100.15/WSConsultasVASA_SV/WSConsultas.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>