Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/OSB/ConsultaPlanesCredito/xsd/XMLSchema_-324660614.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ficohsa.com.hn/middleware.services/consultaPlanesCreditoTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ficohsa.com.hn/middleware.services/consultaPlanesCreditoTypes">

	<xs:element name="consultaPlanesCredito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_NUMBER" type="xs:string" minOccurs="1"/>
				<xs:element name="ORG" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

		<xs:element name="consultaPlanesCreditoResponse" type="tns:consultaPlanesCreditoResponseType"/>
		
		<xs:complexType name="consultaPlanesCreditoResponseType">
		<xs:sequence>
			<xs:element name="CREDIT_PLANS" type="tns:consultaPlanesCreditoResponseRecordType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaPlanesCreditoResponseRecordType">
		<xs:sequence>
			<xs:element name="CREDIT_PLAN" type="tns:consultaPlanesCreditoResponseArrayType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="consultaPlanesCreditoResponseArrayType">
	
		<xs:sequence>
			<xs:element name="ORG" type="xs:string" minOccurs="0"/>
			<xs:element name="ACCOUNT" type="xs:string" minOccurs="0"/>
			<xs:element name="SEQ_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="LOGO" type="xs:string" minOccurs="0"/>
			<xs:element name="PLAN_NUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="PAY_MINIMUM" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPE_PLAN" type="xs:string" minOccurs="0"/>
			<xs:element name="INT_RATE" type="xs:string" minOccurs="0"/>
			<xs:element name="INT_RATE_BASE" type="xs:string" minOccurs="0"/>
			<xs:element name="CURRENT_BALANCE " type="xs:string" minOccurs="0"/>
			<xs:element name="DATE_PLAN " type="xs:string" minOccurs="0"/>
			<xs:element name="ACRD_INT " type="xs:string" minOccurs="0"/>
			<xs:element name="DELAYS_ACRD_INT " type="xs:string" minOccurs="0"/>
			<xs:element name="ACCUMULATED_DELAYS_INT " type="xs:string" minOccurs="0"/>
		</xs:sequence>
							
	</xs:complexType>

</xs:schema>