Fuentes/ficohsacore-osb12-b78f21b126d5/Applications/ProviderServices/WSDL/ACHRest_BS.wsdl

<wsdl:definitions name="ACHRest_BS" targetNamespace="http://xmlns.oracle.com/DynamoMigrate/Applications/ACHRest_BS" xmlns:tns="http://xmlns.oracle.com/DynamoMigrate/Applications/ACHRest_BS" xmlns:inp1="http://www.ficohsa.com/ach" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="ACHRest_BS">
        <plnk:role name="ACHRest_BSProvider" portType="tns:ACHRest_BS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.ficohsa.com/ach" schemaLocation="../XSD/achCDM.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/DynamoMigrate/Applications/ACHRest_BS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="GetAchTicket_params">
                <complexType>
                    <sequence>
                        <element name="userName" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="GetStatus_params">
                <complexType>
                    <sequence>
                        <element name="achTicket" type="string"/>
                        <element name="userName" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="Echo_outputMessage">
        <wsdl:part name="reply" element="inp1:DoEchoResponse"/>
    </wsdl:message>
    <wsdl:message name="GetAchTicket_inputMessage">
        <wsdl:part name="request" element="tns:GetAchTicket_params"/>
    </wsdl:message>
    <wsdl:message name="GetAchTicket_outputMessage">
        <wsdl:part name="reply" element="inp1:GetTicketResponse"/>
    </wsdl:message>
    <wsdl:message name="GetAchTicket_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:GetTicketResponse"/>
    </wsdl:message>
    <wsdl:message name="GetStatus_inputMessage">
        <wsdl:part name="request" element="tns:GetStatus_params"/>
    </wsdl:message>
    <wsdl:message name="GetStatus_outputMessage">
        <wsdl:part name="reply" element="inp1:GetTransactionStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="GetStatus_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:GetTransactionStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="SenCredit_inputMessage">
        <wsdl:part name="request" element="inp1:SendCredit"/>
    </wsdl:message>
    <wsdl:message name="SenCredit_outputMessage">
        <wsdl:part name="reply" element="inp1:SendCreditResponse"/>
    </wsdl:message>
    <wsdl:message name="SenCredit_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:SendCreditResponse"/>
    </wsdl:message>
    <wsdl:message name="GetTransaction_inputMessage">
        <wsdl:part name="request" element="inp1:GetReportTransactionRequest"/>
    </wsdl:message>
    <wsdl:message name="GetTransaction_outputMessage">
        <wsdl:part name="reply" element="inp1:GetReportTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="GetTransaction_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:GetTransactionStatusResponse"/>
    </wsdl:message>
    <wsdl:portType name="ACHRest_BS_ptt">
        <wsdl:operation name="Echo">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:Echo_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetAchTicket">
            <wsdl:input message="tns:GetAchTicket_inputMessage"/>
            <wsdl:output message="tns:GetAchTicket_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:GetAchTicket_fault500Message"/>
        </wsdl:operation>
        <wsdl:operation name="GetStatus">
            <wsdl:input message="tns:GetStatus_inputMessage"/>
            <wsdl:output message="tns:GetStatus_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:GetStatus_fault500Message"/>
        </wsdl:operation>
        <wsdl:operation name="SenCredit">
            <wsdl:input message="tns:SenCredit_inputMessage"/>
            <wsdl:output message="tns:SenCredit_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:SenCredit_fault500Message"/>
        </wsdl:operation>
        <wsdl:operation name="GetTransaction">
            <wsdl:input message="tns:GetTransaction_inputMessage"/>
            <wsdl:output message="tns:GetTransaction_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:GetTransaction_fault500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ACHRest_BS_ptt-binding" type="tns:ACHRest_BS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Echo">
            <soap:operation soapAction="Echo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAchTicket">
            <soap:operation soapAction="GetAchTicket"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetStatus">
            <soap:operation soapAction="GetStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SenCredit">
            <soap:operation soapAction="SenCredit"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetTransaction">
            <soap:operation soapAction="GetTransaction"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>