Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/CTS/ValidacionCuentaExterna/wsdl/COBISCorp.eCOBIS.SrvAplCobisACHSaliente.Service_1.wsdl

<wsdl:definitions name="SrvAplCobisACHSaliente" targetNamespace="http://impl.service.srvaplcobisachsaliente.ecobis.cobiscorp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.srvaplcobisachsaliente.ecobis.cobiscorp" xmlns:dto1="http://dto.srvaplcobisachsaliente.ecobis.cobiscorp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:S1="http://impl.service.srvaplcobisachsaliente.ecobis.cobiscorp/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.srvaplcobisachsaliente.ecobis.cobiscorp/">
      <xsd:import namespace="http://service.srvaplcobisachsaliente.ecobis.cobiscorp" schemaLocation="../xsd/services.xsd"/>
      <xsd:import namespace="http://dto.srvaplcobisachsaliente.ecobis.cobiscorp" schemaLocation="../xsd/cobiscorp.ecobis.srvaplcobisachsaliente.dto.xsd"/>
      <xsd:element name="ContextoRespuesta" type="dto1:ContextoRespuesta"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsjOpConsultaProductoSolicitud">
    <wsdl:part name="parameters" element="tns:opConsultaProductoSolicitud"/>
  </wsdl:message>
  <wsdl:message name="MsjError">
    <wsdl:part name="parameters" element="S1:ContextoRespuesta"/>
  </wsdl:message>
  <wsdl:message name="MsjOpConsultaProductoRespuesta">
    <wsdl:part name="parameters" element="tns:opConsultaProductoRespuesta"/>
  </wsdl:message>
  <wsdl:portType name="SrvAplCobisACHSaliente">
    <wsdl:operation name="OpConsultaProducto">
      <wsdl:input message="S1:MsjOpConsultaProductoSolicitud"/>
      <wsdl:output message="S1:MsjOpConsultaProductoRespuesta"/>
      <wsdl:fault name="OpConsultaProductoError" message="S1:MsjError"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvAplCobisACHSalienteBindingSOAP12" type="S1:SrvAplCobisACHSaliente">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpConsultaProducto">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OpConsultaProductoError">
        <soap12:fault name="OpConsultaProductoError" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvAplCobisACHSalienteService">
    <wsdl:port name="SrvAplCobisACHSalienteBindingSOAP12" binding="S1:SrvAplCobisACHSalienteBindingSOAP12">
      <soap12:address location="http://10.235.53.149:9080/GerenciaACHSaliente/SrvAplCobisACHSalienteService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>