Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKGT/consultaDetalleBloqueosTD/xsd/consultaDetalleBloqueosTD_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalleBloqueosTD" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalleBloqueosTD" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="ACCOUNT_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="ACCOUNT_NUMBER_OUT" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ACCOUNT_NAME" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TOTAL_VISA_LOCKED_AMOUNT" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="VALUE_DATE" type="db:TOPLEVEL_TVARCHAR201" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="TERMINAL_DESCRIPTION" type="db:TOPLEVEL_TVARCHAR40" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="RELEASE_DATE" type="db:TOPLEVEL_TVARCHAR201" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CURRENCY" type="db:TOPLEVEL_TVARCHAR201" db:index="8" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ORIGINAL_AMOUNT" type="db:TOPLEVEL_TVARCHAR201" db:index="9" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="BLOCK_STATUS" type="db:TOPLEVEL_TVARCHAR602" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CONFIRMED_AMOUNT" type="db:TOPLEVEL_TVARCHAR201" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="ERROR_CODE" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ERROR_MESSAGE" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="TOPLEVEL_TVARCHAR602">
      <sequence>
         <element name="BLOCK_STATUS_ITEM" type="db:string60" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR201">
      <sequence>
         <element name="VALUE_DATE_ITEM" type="db:string20" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="TOPLEVEL_TVARCHAR40">
      <sequence>
         <element name="TERMINAL_DESCRIPTION_ITEM" type="db:string40" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string60">
      <restriction base="string">
         <maxLength value="60"/>
      </restriction>
   </simpleType>
</schema>