Fuentes/ficohsacore-osb-7e5cceccb837/Middleware/v2/BusinessServices/ABKGT/consultaDetalleTarjetas/xsd/consultaDetalleTarjetas_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalleTarjetas" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultaDetalleTarjetas" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PV_CARD_NUMBER" type="db:PROXYABANKSGT.T_CARD" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PV_CARD_DETAILS" type="db:PROXYABANKSGT.T_CARD_DETAILS" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_CODE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PV_RETURN_MESSAGE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="PROXYABANKSGT.T_CARD">
      <sequence>
         <element name="PV_CARD_NUMBER_ITEM" type="db:string30" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.ACCOUNT">
      <sequence>
         <element name="ORDER_ACCOUNT" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_NUMBER" type="db:string70" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_CARD_DETAILS">
      <sequence>
         <element name="PV_CARD_DETAILS_ITEM" type="db:PROXYABANKSGT.T_CARD_ITEMS" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_CARD_ITEMS">
      <sequence>
         <element name="BIN" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COMPANY" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARD_NUMBER" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ID" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_LEGAL_ID" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_NAME" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NAME_ON_CARD" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EXPIRATION_DATE" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BANK_STATUS" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EMBOSS_STATUS" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PIN_VERIFICATION_VALUE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERVICE_CODE" type="db:string5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACCOUNT_DETAILS" type="db:PROXYABANKSGT.T_ACCOUNT" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="PROXYABANKSGT.T_ACCOUNT">
      <sequence>
         <element name="ACCOUNT_DETAILS_ITEM" type="db:PROXYABANKSGT.ACCOUNT" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string5">
      <restriction base="string">
         <maxLength value="5"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string70">
      <restriction base="string">
         <maxLength value="70"/>
      </restriction>
   </simpleType>
</schema>
